[2019-06-27 15:43] kyungjoo-kim commented on #4385
This is done by PR #5417

[2019-06-27 15:43] #4385 closed

[2019-06-27 17:57] mhoemmen commented on #5447
@bartlettroscoe This looks like a ROL bug, no?  It appears that ROL was incorrectly using GlobalOrdinal as the template argument of `Teuchos::Comm`.

[2019-06-28 10:22] #5440 closed

[2019-06-28 14:28] tjfulle commented on #5441
After fixing #5440, this issue seems to be resolved.  I'm not sure why and I was unable to find anything pointing to `Tpetra::Details::Behavior` as being the source.

[2019-06-28 14:28] #5441 closed

[2019-06-28 22:00] jhux2 commented on #5238
Adding @ikarlin, as a Lassen POC.

[2019-06-28 22:59] jhux2 commented on #454
Closing as won't fix.

[2019-06-28 22:59] #454 closed

[2019-06-29 01:47] jhux2 commented on #5423
@trilinos/intrepid2 @mperego

[2019-06-29 01:51] jhux2 commented on #5233
Just to close the loop, DDCore is not necessary.  Sparc only needs HTS, and so could disable DDCore.

[2019-06-29 16:54] srajama1 commented on #5233
@jhux2 : Disabling DDCore seems like the best path.

[2019-06-29 20:06] mhoemmen opened #5455 "Teuchos::Comm: Add cheap conversion between Comm<U> and Comm<V>"
## Bug Report
@trilinos/teuchos @cgcgcg @trilinos/thyra @trilinos/tpetra

### Description

It should be easy and cheap to convert between `Teuchos::Comm<int>` and `Teuchos::Comm<T>` for any integer `T`.  We need this for interactions between Tpetra and Thyra, e.g., for PR https://github.com/trilinos/Trilinos/pull/5400.

[2019-07-01 13:35] tjotaha commented on #5386
Jon. I talked to Jeff about this issue, and he will make the necessary changes to get PhactoriDriver.py working with Python 3.

[2019-07-01 15:03] csiefer2 commented on #5455
We should have just deprecated that template parameter...

[2019-07-01 15:34] kddevin commented on #5455
I'm curious:  why does code exist using Comm<V> with V != int?   Teuchos::Comm with MPI works only with int, right?
Deprecating is a good idea.  Finding someone with cycles to do it is the problem. :(

[2019-07-01 16:05] ibaned commented on #5455
I agree that we should basically `static_assert(std::is_same<T, int>::value, "anything else is crazy")` and eventually remove the template parameter. MPI uses `int`, and no alternative is anywhere on our radar. Top500 supercomputers have plateaued around supporting a maximum of one million MPI ranks and don't show many signs of approaching 2 billion MPI ranks.

[2019-07-01 16:26] bartlettroscoe commented on #5455
I `int` not also used for the size of the buffers of data being copied?  With an signed 32 bit integer, that tops off at just over 2 billion elements, no?  Is that not still an issue?

But I agree that `Teuchos::Comm<>` should not have been templated (I argued against it at the time).

[2019-07-01 16:28] mhoemmen commented on #5455
The MPI Standard is moving towards separating MPI process rank from counts and displacements.  Process ranks will stay `int`.  See https://github.com/mpi-forum/mpi-issues/issues/137 .

[2019-07-01 16:31] ibaned commented on #5455
We could just change the methods of `Teuchos::Comm` to accept a signed 64-bit integer as their count argument, and convert to whatever the underlying MPI supports as necessary internally.

[2019-07-01 16:31] mhoemmen commented on #5455
Jeff Hammond's "BigMPI" [paper](https://github.com/jeffhammond/BigMPI-paper/blob/master/exampi14_submission_3.pdf) and library shows a library-based solution.  Process ranks remain 32 bits.

[2019-07-01 16:32] mhoemmen commented on #5455
@ibaned wrote:

This would be an interesting way to maintain backwards compatibility with older MPI versions, once MPI BigCount lands.

[2019-07-01 16:33] mhoemmen commented on #5455
@bartlettroscoe wrote:

Thank you for fighting for sanity :-) .  People forget that Comm, BLAS, and LAPACK started in the Tpetra namespace, circa 2004.

[2019-07-01 17:15] mhoemmen opened #5457 "Tpetra: Finite-element assembly example broke deprecated OFF build"
## Bug Report
@trilinos/tpetra

### Description

[code]

Fix is to call `fence` as an instance method, not a class (static) method.

[2019-07-01 17:31] ndellingwood commented on #5457
I'm guessing this occurred with deprecated code disabled. Like Mark suggested, change
`execution_space_t::fence();`
to
`execution_space_t().fence();`

[2019-07-01 17:46] mhoemmen commented on #5457
I'm working on this.

[2019-07-01 18:03] mhoemmen opened #5458 "Tpetra: Tpetra_FECrsGraph_decl.hpp does not include forward decl header"
## Bug Report
@trilinos/tpetra @csiefer2

### Description

`Tpetra_FECrsGraph_decl.hpp` does not include the forward declaration header file `Tpetra_FECrsGraph_fwd.hpp`.  This means that `Tpetra::FECrsGraph` does not realize that it has default template parameters.

[2019-07-01 19:49] mhoemmen commented on #5457
PR: https://github.com/trilinos/Trilinos/pull/5459

[2019-07-01 20:14] csiefer2 commented on #5457
Well, that's awkward.  Thanks for the fix!

[2019-07-01 20:20] mhoemmen commented on #4647
I fixed this in Ifpack2, except for a couple deprecated or very rarely built classes (Ifpack2::Krylov and Ifpack2::SupportGraph).

[2019-07-01 20:21] mhoemmen commented on #5457
The issue is that Kokkos has deprecated `fence` as a static (class) method.  It's an instance method now.  Do this:
[code]
or this:
[code]
instead of doing this:
[code]

[2019-07-02 10:30] #5423 closed

[2019-07-02 14:09] nolta opened #5463 "ShyLU: no constructor matching `CrsMatrixBaseType A("A")`"
## Bug Report
@trilinos/shylu

This may have been fixed by 4b408e4d02504e32b0b209a432add4e59253dd13.

### Description

I'm seeing the following error when i try to build v12.14.1 with the intel 2019 compilers:

[code]

### Steps to Reproduce
1. SHA1:  e3c83e3d5caca8f59432f6f5d2e33ae142a16eff (trilinos-release-12-14-1)
1. Configure script:
[code]

[2019-07-02 15:32] mhoemmen commented on #5463
Does master or 12.16 (the last release) work for you?

[2019-07-02 17:56] bartgol opened #5464 "Piro: use model.getNominalValues as input inArgs in PerformSolve"
## Enhancement
@trilinos/\<Piro\>

Currently, in `Piro::PerformSolve`, the solver's method `evalModel` is called passing `model.createIneArgs()` as input. I think this should be changed into `model.getNominalValues()`, since `createInArgs` does not set the parameters (it only sets what's supported and what's the number of parameters). This causes the underlying solver to not pass any parameter to

[2019-07-02 17:58] jhux2 commented on #5463
@trilinos/shylu

[2019-07-02 18:01] kyungjoo-kim commented on #5463
This is already fixed when kokkos 2.9 is pushed into trilinos.

[2019-07-02 20:08] lucbv commented on #5135
@mayrmt I think it's time to close, feel free to reopen if needed!

[2019-07-02 20:08] #5135 closed

[2019-07-02 20:19] lucbv commented on #4540
@vbrunini @jhux2 @mhoemmen should this issue be closed now that we know the answer?

[2019-07-02 20:22] jrood-nrel commented on #5386
Excellent.

[2019-07-02 21:00] mhoemmen opened #5465 "Make it possible to enable Scalar=float in Tpetra but not downstream (e.g., in MueLu)"
## Enhancement
@trilinos/tpetra @trilinos/muelu @vbrunini

Make it possible to enable `Scalar=float` in Tpetra, but disable it downstream (e.g., in MueLu).

This is a follow-on of #4540 .  @vbrunini would like this for Sierra.

[2019-07-02 21:00] mhoemmen commented on #4540
Thanks @lucbv for answering this question!  I filed a new issue (https://github.com/trilinos/Trilinos/issues/5465) for the feature request.

[2019-07-02 21:00] #4540 closed

[2019-07-02 21:11] nolta commented on #5463
@mhoemmen Where can i find the 12.16 release?

I tried 12.12.1 with the same configuration, and it compiles without error.

[2019-07-02 21:13] kyungjoo-kim commented on #5463
I removed the constructor quite while ago when I ported the code to GPUs.

[2019-07-02 21:31] lucbv commented on #4728
@jhux2 I think this can be closed now?

[2019-07-02 21:47] lucbv opened #5467 "MueLu: structured/unstructured implementation for region multigrid"
## Enhancement
@trilinos/muelu
@rstumin @pohm01 @mayrmt

The goal is to have a code path in MueLu that allows parts of the mesh to be structured and others to be unstructured within the region multigrid algorithms. This will require at least two steps:
1. [x] the structured region driver needs to be modified so that at least one region is treated as unstructured in MueLu even though the mesh might

[2019-07-03 01:49] Tdub1229 opened #5469 "CMake fails after 100% building"
Install the project...
-- Install configuration: "RELEASE"
-- Up-to-date: /usr/bin/./TrilinosRepoVersion.txt
CMake Error at cmake_install.cmake:41 (file):
  file INSTALL cannot set permissions on "/usr/./TrilinosRepoVersion.txt"

Makefile:73: recipe for target 'install' failed
make: *** [install] Error 1

Is there a possible conflict between dependent packages?

[2019-07-03 06:06] jhux2 commented on #5469
Do you have root permissions to install in that location?

[2019-07-03 13:56] csiefer2 commented on #5465
You still want double in MueLu/Ifpack2/Amesod2, but both double and float in Tpetra, correct?

[2019-07-03 14:15] vbrunini commented on #5465
Correct.

[2019-07-03 14:18] lucbv commented on #5465
@mhoemmen what would make more sense:
1. [ ] turn on `float` everywhere and then turn it off selectively
2. [ ] only turn `float` on in Tpetra
Both will probably require some CMake logic to be updated in several packages and ideally both approaches should work but we might want to start we just one?

[2019-07-03 15:42] agenbyte opened #5471 "TrilinosCouplings: Add distance dropping stats"
## Enhancement
@trilinos/trilinoscouplings

Adding mesh statistics for distance dropping to get a better feature set for machine learning drop tol algorithm.

[2019-07-03 16:28] mhoemmen commented on #5463
@nolta wrote:

It's a branch or tag on github.com/trilinos/Trilinos .  Look under branches.

[2019-07-03 16:29] mhoemmen commented on #5471
@agenbyte I edited your `@` tag to correct the spelling error and remove the angle brackets.

[2019-07-03 16:56] mhoemmen commented on #5465
@lucbv I think of the two options more like this:

1. Let each downstream package decide what Scalar types it wants to enable
2. Let Tpetra have "Tpetra-only" Scalar types, that are not propagated downstream

Option 1 makes more sense from an encapsulation perspective, though MueLu and other packages would need complicated logic to decide what Scalar types to enable:
[code]
Option 2 seems weird, b

[2019-07-03 16:58] #5457 closed

[2019-07-03 16:58] #5458 closed

[2019-07-03 17:02] prwolfe opened #5472 "ShyLU_Node: Intermittent test failure on master in GCC 4.8.4"
## Bug Report
@trilinos/shylu
@trilinos/kokkos

### Description
The test ShyLU_NodeTacho_Tacho_TestOpenMPDoubleTaskSchedulerMultiple_MPI_1 has been failing itermmitently since the 28th when run on gc 4.8.4 builds. We have had develop -> master promotions during this time so it's already there. the error is

So this may relate to the Kokkos team.

### Steps to Reproduce
Build and run the test using

[2019-07-03 17:18] srajama1 commented on #5472
@kyungjoo-kim I am not able to find David Hollman in github mention, so adding Kyungjoo.

[2019-07-03 17:40] kyungjoo-kim commented on #5472
@prwolfe Could you show me the complete error message output ? It uses gtest and we need to know which test triggers the failure. Does this failure only happen with a gcc compiler ?

@dhollman I think that we saw this error before somehow and this should not be happened. I thought that we fixed the problem but we did not check openmp gcc version.  As kokkos promotion PR passes the PR test, this mi

[2019-07-03 18:01] prwolfe commented on #5472
@kyungjoo-kim - see https://testing.sandia.gov/cdash/testDetails.php?test=82838381&build=5260496 for the full output. If you don't have access it's

[2019-07-03 20:04] csiefer2 commented on #5471
Excited! :)

[2019-07-03 20:45] bartlettroscoe commented on #5335
This was accomplished in PR #5354 several weeks ago.  We also worked out the ABI compatibility problems as well.

[2019-07-03 20:45] bartlettroscoe commented on #5335
Closing as complete.

[2019-07-03 20:45] #5335 closed

[2019-07-03 22:52] mhoemmen opened #5475 "Tpetra::BlockCrsMatrix: Implement explicit transpose"
## Enhancement
@trilinos/tpetra

SPARC needs an explicit transpose for BlockCrsMatrix, in order to compare preconditioned solves with CrsMatrix vs. BlockCrsMatrix.

[2019-07-03 22:53] mhoemmen commented on #5475
We want this to be a stand-alone function, say `createTranspose`.  (Don't imitate RowMatrixTransposer -- there's no need for that to be a class.)

[2019-07-03 23:19] lucbv commented on #5137
This has been fixed

[2019-07-03 23:19] #5137 closed

[2019-07-04 06:12] ikalash opened #5479 "Seacas: seacas commit in 09/2018 messed up Exodus output for some Albany problems"
## Bug Report
@trilinos/seacas

### Description
We recently discovered that since September 2018, some of the Exodus files produced by Albany runs are corrupted.  Using the method of bisection, I've identified that the following commit in Trilinos is what broke this capability for us:

[code]
The symptoms are as follows.  If I run the the following Albany example:

Albany/tests/large/LCM/Schwarz/A

[2019-07-04 12:23] nolta commented on #5463
The `trilinos-release-12-16-branch` (6694257b6a7a554f65134f4d3477221c553c9dcc) fails with the same error.

[2019-07-04 18:44] mhoemmen opened #5480 "Teuchos::TimeMonitor: Delete default constructor"
## Enhancement
@trilinos/teuchos

`Teuchos::TimeMonitor`'s constructor takes and holds a reference to a `Teuchos::Time`, and `TimeMonitor`'s destructor stops the timer by calling an instance method on the reference.  `TimeMonitor` has an implicit default constructor, and `~TimeMonitor` has no way to know that the object was default constructed.  Thus, users are allowed to default-construct `TimeMo

[2019-07-04 18:46] mhoemmen commented on #5463
@nolta does the master branch fail with the same error?

[2019-07-04 19:31] nolta commented on #5463
`master` (d25235d4b30a2487986b6e77ecb9748a9f27d6c2) fails with a different error:

[code]

Looks like a missing semicolon: https://github.com/trilinos/Trilinos/blob/master/packages/muelu/test/scaling/MatvecKernelDriver.cpp#L691

[2019-07-04 20:01] mhoemmen commented on #5463
Thanks for trying this!  I'll have to leave this to the ShyLU developers to fix.

[2019-07-04 23:50] nolta commented on #5463
Should i create a separate issue for the MueLu bug?

[2019-07-05 17:08] jhux2 commented on #5463
@nolta No need, PR #5483 submitted.  Thanks for the catch.

[2019-07-05 20:54] jhux2 commented on #5463
PR #5483 is merged to develop.  It should make it to master in a day or so.

[2019-07-06 02:23] mhoemmen commented on #697
This has been fixed for a while.

[2019-07-06 02:23] #697 closed

[2019-07-06 18:21] nolta commented on #5463
Thanks @jhux2. However, the undefined errors still need to be fixed:

[code]

I guess none of the CI test builds enable MKL?

[2019-07-06 19:23] mhoemmen commented on #5463
@nolta Would you consider submitting a pull request?  It's indeed possible that none of the other test builds enable the same set of combinations.

[2019-07-07 18:46] nolta commented on #5463
Sure: #5488

[2019-07-08 10:45] #5480 closed

[2019-07-08 13:42] lucbv commented on #5467
@mayrmt PR #5477 allows us to set the last rank as unstructured, this can lead to correct simulation as long as the dimensions of the problem are chosen carefully.
The next step will require the definition of input data for the hybrid aggregation factory such that it will be able to aggregate correctly along an interface no matter the dimensions along each axis of the grid,

[2019-07-08 14:25] lucbv opened #5490 "Galeri: bug in sclar nullspace implementation"
## Bug Report
@trilinos/galeri

### Description
The new class `ScalarProblem` that implements the creation of scalar nullspace does not set the `Nullspace_` MultiVector to one, it only constructs it...

[2019-07-08 15:37] mhoemmen commented on #5463
@nolta thanks!!!

[2019-07-08 17:30] lucbv commented on #5490
fixed via PR #5491

[2019-07-08 17:30] #5490 closed

[2019-07-08 17:34] lucbv opened #5492 "MueLu: add experimental region smoothers"
## Enhancement
@trilinos/muelu
@mayrmt @rstumin @pohm01

The region multigrid can currently only use a Jacobi smoother the idea is to separate the construction of the smoother from the `SetupRegionHierarchy` header and instead create a seperate header in charge of creating smoothers.
From this header we will also add some infrastructure to implement and switch between different smoothers such as J

[2019-07-09 03:23] hillyuan opened #5494 "Thyra: Conflict definition of class CopyMultiVectorViewBack"
## Bug Report
@trilinos/\<Thyra\>

### Description
class CopyMultiVectorViewBack has been defined in file Thyra_TpretraVectorSpace_def.hpp and Thyra_VectorSpaceDefaultBase_def.hpp with different template members. It produces compile error  "redeclared with 4 template parameters" and "wrong number of template arguments (4, should be 1)" in ubuntu with gcc compiler.

[2019-07-09 05:06] mhoemmen commented on #5494
@trilinos/thyra

[2019-07-09 09:57] #5471 closed

[2019-07-09 12:53] nolta commented on #5463
I tried building `master` again (59048b3ca6a395fe6765b20b682bcb8bc2b678b3) and it worked, albeit with the following test failures:

[code]

[2019-07-09 15:32] bartlettroscoe commented on #5494
Why did PR testing not catch this?  Where there at least warnings in the PR testing build?

[2019-07-09 16:18] ctanis commented on #2518
sorry to rehash this, but block sparse matrix performance with Cuda+MPI seems to have reverted to nightmarish performance (still building with Tpetra_BCRS_Point_Import=ON) ... any ideas what could have happened?

[2019-07-09 16:18] cgcgcg commented on #5494
@bartlettroscoe I don't see any warnings in the logs from the autotester, and warnings-as-errors also did not catch this. This shouldn't be difficult to fix, but it's odd that we did not see it. @hillyuan would you be able to post your configuration? Maybe it contains a combination of configure options that is not well tested?

[2019-07-09 16:22] kddevin commented on #2518
@kyungjoo-kim @trilinos/tpetra

[2019-07-09 17:00] kyungjoo-kim commented on #2518
@kddevin

There was some changes in the native Tpetra Block Crs importer (now importer pack data from device). However, with ``Tpetra_BCRS_Point_Import=ON``, the MPI comm goes through point CRS matrix infra structures. If @ctanis  sees slowness compared to some previous version, this might not be an issue on the block crs but the crs matrix importer.   Do we have any report from applications regar

[2019-07-09 17:42] ctanis commented on #2518
@kyungjoo-kim Should I try rebuilding Tpetra without Tpetra_BCRS_Point_Import turned on?
Another thing I've noticed is that it appears now that by default Tpetra assumes that cuda-aware MPI is enabled -- could this be related?

[2019-07-09 18:54] kyungjoo-kim commented on #2518
@ctanis The new BCRS importer is part of refactoring work for Tpetra. If the slowness comes from the importer, then it won't change the performance (if the performance slowness is from communication).

We had some troubles in cuda MPIs. I would say that it could be related. For the apple to apple comparison, you may want to test without cuda mpi if previously the option is not on.

Also, as we do

[2019-07-09 19:52] mhoemmen commented on #2518
@ctanis wrote:

If you have OpenMPI, Tpetra asks your OpenMPI installation at configure time whether MPI is CUDA aware.  However, this is just a default value.  You can control this behavior at run time by setting the `TPETRA_ASSUME_CUDA_AWARE_MPI` environment variable (to 1 for "yes, do assume," or to 0 for "do not assume that MPI is CUDA aware").

[2019-07-09 20:09] cgcgcg commented on #5494
@hillyuan I pushed a fix. Could you verify that this fixed the issue for you? Since this did not seem to affect any of our tests, it would be good to know that I actually got it.

[2019-07-09 21:59] bartlettroscoe commented on #5447
No response in 12 days so we will disable the build and running of this test going forward in all ATDM Trilinos builds.

[2019-07-09 22:00] bartlettroscoe commented on #5446
No response in 12 days so we will disable the build and running of this test going forward in all ATDM Trilinos builds.

[2019-07-09 22:04] dridzal commented on #5447
@bartlettroscoe  I'm working on this and a few other bug fixes right now.  Two PRs are coming, of which the second will address this issue.

[2019-07-09 22:06] bartlettroscoe commented on #5447
@dridzal said:

That is fine.  The PR posted later can re-enable this test.

[2019-07-09 22:09] dridzal commented on #5447
Is there a summary of all disabled tests in special builds (ATDM and other) over the last few years?  It would be good to start re-enabling some of them.

[2019-07-09 22:21] bartlettroscoe commented on #5447
@dridzal asked:

https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-DeterminingListofTeststhatareCurrentlyDisabled

Also, all of the GitHub issues are kept open with the `Disabled Tests` label set.  So for ROL:

* https://github.com/trilinos/Trilinos/issues?q=label%3A%22client%3A+ATDM%22+label%3A%22type%3A+bug%22+is%3Aopen+label%3A%22Disabled+Test

[2019-07-10 00:13] ctanis commented on #2518
I'm not sure what I was doing wrong, but I rebulit Trilinos using a newer version of openmpi (with better MPI+cuda support) and configured it using the Tpetra_BCRS_Point_Import:BOOL=ON  and I am getting decent performance again with my sparse block operations.  If I can figure out any consistent patterns here, I'll let you know.

[2019-07-10 00:17] mhoemmen commented on #2518
@ctanis We've definitely seen newer versions of OpenMPI do better.  @jjellio could say more.

[2019-07-10 00:23] jhux2 commented on #5463
@nolta Thank you for fixing the build problem.  Can you rerun just those tests in verbose mode and post the results?  I think it's something like `ctest -V -R Ifpack2_BlockTriDiContainerUnitAndPerfTests_MPI_4`, etc.

[2019-07-10 01:42] hillyuan commented on #5494
@cgcgcg It is not resolved yet. Same problem arose both in WSL and Ubuntu.  Following is my building script and error log. Hope it would help.
   There are two CopyMultiVectorViewBack definition right now. Maybe we need to delete one of them.

***
rm -f CMakeCache.txt
cmake ..  \
  -DCMAKE_INSTALL_PREFIX:FILEPATH="/usr/local/Trilinos" \
  -DCMAKE_BUILD_TYPE:STRING=RELEASE \
  -DTrilinos_ENABLE_EXA

[2019-07-10 01:56] cgcgcg commented on #5494
@hillyuan Which branch of Trilinos are you on? If it's master, you might actually have to wait for a day or so until the fix makes it there from develop.

[2019-07-10 02:37] hillyuan commented on #5494
@cgcgcg  I use master. I see, I would try develop!

[2019-07-10 02:50] cgcgcg commented on #5494
@hillyuan Your call. Develop is typically only a day or so ahead of master, so you should be getting the patch tomorrow on master..

[2019-07-10 03:09] hillyuan commented on #5494
Alright in develop confirmed ! Thanks @cgcgcg

[2019-07-10 03:16] cgcgcg commented on #5494
Great! Thanks for checking!

[2019-07-10 03:16] #5494 closed

[2019-07-10 06:12] mayrmt opened #5503 "MueLu: possibly use AMG V-cycle as coarse solver in region MG problems"
## Enhancement
@trilinos/muelu

Enable the region MG algorithm to use another (unstructured) AMG hierarchy with just one sweep through the V-cycle instead of applying a direct solver on the coarsest region MG level.

A particular use case is the following: region MG is applied to partially structured meshes. Regional coarsening has reduced the coarse size of each region to a single (or a few) "ele

[2019-07-10 14:24] agenbyte opened #5506 "MueLu: C++ Style Fixes"
## Enhancement
@trilinos/muelu

The MueLu Avatar Interface has hard coded values and C-style memory allocation that need to be changed before we can work on extending the interface.

[2019-07-10 14:56] jjellio commented on #2518
@ctanis  For Cuda + MPI, it has been my experience that you need OpenMPI above 2, and probably at or above 4.0.
The kicker, is that your Cuda+MPI performance is currently dominated by the underlying transport + network card you use.  On the advanced machines, we use UCX (from mellanox) or PAMI (from IBM).  To get good performance, the transport layer in OpenMPI needs to be able to do direct memory

[2019-07-10 21:28] nolta commented on #5463
Sure: https://gist.github.com/nolta/157d7159ce2faa0f694a22b2f417315d

[2019-07-11 14:13] mayrmt opened #5509 "MueLu: How to export aggregates for structured regionMG"
## Question
@trilinos/muelu

I'm trying to visualize the aggregates for a structured regionMG problem. Here's my command line expression to start the driver:
[code]
I made some changes to the xml-file:
- In <ParameterList name="myAggregationFact">: set "aggregation: output type" to "Aggregates" (otherwise the AggregationExportFactory won't find a `Graph`).
- Include the list
[code]

[2019-07-11 14:46] mayrmt commented on #5509
I also looked into a pure structured example (without any region stuff). It's the same problem there. In essence, when using the `StructuredAggregationFactory` with "aggregation: output type" set to "Aggregates" as required by the `AggregationExportFactory`, then the `GeometricInterpolationPFactory` cannot access the "prolongatorGraph" (which is declared as a necessary input).

I understand, why t

[2019-07-11 15:08] lucbv commented on #5509
@mayrmt the way to do this is to use the structured aggregation and ask for "Aggregates" as output instead of the CrsGraph. This means as you noticed that GeometricInterpolationPFactory is unhappy since it wants a graph but you can substitute it with TentativePFactory which will be happy with aggregates and will allow you to export things correctly.
At some point I will probably need to think abou

[2019-07-11 15:23] ctanis commented on #2518
I've done some more testing, and it seems that I'm having some pretty fundamental problems with Kokkos performance in Tpetra.    I'm running a small enough test that I dont' need to use MPI, so this is just looking at Kokkos performance, in solving a sparse linear system with 890k nodes and 12.8M nonzeros:

Kokkos::Cuda:  21 seconds
Kokkos::OpenMP (28 threads):  20 seconds
28 MPI processes, Kokkos

[2019-07-11 15:42] tjfulle opened #5510 "Ifpack2: RILUK does not work with Tpetra::StaticProfile graph"
@trilinos/ifpack2 @trilinos/tpetra

which is a problem, since `DynamicProfile` is deprecated...

I have a fix, just opening this issue for documentation.

[2019-07-11 16:14] jjellio commented on #2518
Can you share your `mpirun` line and `numactl -H`.

[2019-07-11 16:35] jhux2 commented on #5463
Thanks.  @trilinos/ifpack2 @trilinos/phalanx @trilinos/rol @trilinos/stratimikos

[2019-07-11 16:50] ctanis commented on #2518
[code]

 ```mpirun  -machinefile machines.txt  --map-by ppr:1:node --bind-to none -np 1 -x OMP_PROC_BIND=spread -x OMP_PLACES=threads -x CUDA_LAUNCH_BLOCKING -x CUDA_MANAGED_FORCE_DEVICE_ALLOC -x LD_LIBRARY_PATH -x OMP_NUM_THREADS=28```

I've found that without "--bind-to none", OMP_DISPLAY_ENV (and subsequent behavior) appears to be unaware of cores.  Again, my Kokkos::parallel_for loops get good

[2019-07-11 17:05] jjellio commented on #2518
Can you try:
`
# for OMP with processes w/14 threads per proc
# you can probably skip OMP_NUM_THREADS, since it will default to the number of 'processors'
# which, with proper binding will be $threads_per_socket

threads_per_socket=14;
procs_per_socket=$((14/${threads_per_socket}))
num_procs=$((${procs_per_socket}*2))

mpirun \
-x OMP_PROC_BIND=spread -x OMP_PLACES=cores \
-x CUDA_LAUNCH_BLOCKING

[2019-07-11 17:10] nmhamster commented on #2518
What hardware is this? The thread layout is weird.

The `--reporting-bindings` that James asked for is important. I am wondering if the hwloc is just blowing up here?

[2019-07-11 18:07] ctanis commented on #2518
Not sure this is adequate hardware info for you, but the CPU is a "Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz".  I'm not sure why the numa nodes contain alternating core numbers.  Here's the result of James's mpirun configuration, once using numactl -H, and once with an excerpt from my logs with OMP_DISPLAY_ENV=true

It does look like hwloc is getting things wrong, but then OpenMP is reporting the

[2019-07-11 18:10] jjellio commented on #2518
That looks good:

[code]
The braces indicate a socket, and this shows your MPI proc is isolate to a single socket each.
Moreover, OpenMP sees the proper cores (1,3,5....) and (0,2,4...)

How does this impact your OpenMP performance?

[2019-07-11 18:13] mhoemmen commented on #2518
@ctanis How are you solving the linear system?

[2019-07-11 18:28] ctanis commented on #2518
@jjellio Does it concern you that report-bindings indicates that MPI thinks the cores are numbered differently?  I agree that it looks like OpenMP knows what threads belong to which cores, but in watching top there's only one thread per MPI rank that's doing any work.  Since this configuration doubles the number of MPI processes, it is performing twice as fast.  I can take this all the way down to

[2019-07-11 18:35] jjellio commented on #2518
The OpenMPI / OpenMP stuff looks correct. OpenMPI is binding the process to a socket, and OpenMP is reporting the correct CPUIDs.

If the map looks right, and the OpenMP verbose looks right, then it most likely is correct.

With Kokkos + GPU, you do need to set '--kokkos-ndevices=2' or however many GPUs you have per node.  Kokkos will then bind to unique GPUs... without that, it will lump them all

[2019-07-11 18:41] mhoemmen commented on #2518
Would you consider trying the "performance CG solve" example in `tpetra/core/test/`?  This could be a block crs issue.

[2019-07-11 19:11] lucbv commented on #5492
Alright, this is done through PR #5499

[2019-07-11 19:11] #5492 closed

[2019-07-11 19:14] lucbv commented on #5509
@mayrmt are you having some success exporting the aggregates with the tentative prolongator?

[2019-07-11 19:16] lucbv commented on #4304
So with PR #5466 merged I think that we have achieved all we wanted in terms of features for the driver.
I will close this now but might expect to have to open other issues related to this if any unexpected behavior is observed with the driver.

[2019-07-11 19:16] #4304 closed

[2019-07-11 19:16] ctanis commented on #2518
@mhoemmen I can run whatever you'd like, but it's not clear how to best run this test on a block matrix.
I do have some more information.  It does look like the preconditioner is taking longer than it should.  See this report from Belos:

[code]

I'm surprised because I expected this preconditioner operator to look a lot like the original matrix (templated on the same node_type) but it does look l

[2019-07-11 19:53] ctanis commented on #2518
I commented out the use of the preconditioner and it looks like the block matrix operations continue to only use 1 core per MPI rank,so it's not just Ifpack2

[2019-07-11 20:03] mayrmt commented on #5509
@lucbv I‘m done for today, but will look at it first thing tomorrow morning. I‘ll keep you posted.

[2019-07-11 20:10] jjellio commented on #2518
I'd build the Kokkos profiler (message above) and then run with this ENV set `-x KOKKOS_PROFILE_LIBRARY=/path/to/src/kokkos-tools/src/tools/space-time-stack/kp_space_time_stack.so`

That will show you the times broken down into Kokkos regions. You can see inside the matrix apply that way.

[2019-07-11 20:17] lucbv commented on #5509
@mayrmt fair enough, I am adding a quick feature to the driver before going back to structured/unstructured, if I have time I will also add an example xml file that export the aggregates.

[2019-07-11 20:23] mhoemmen commented on #2518
@ctanis A lot of the block crs stuff isn't necessarily using Kokkos properly.  We've optimized very specific code paths there for specific reasons.  I'm working on parallelizing more things, since we need them for other reasons.

[2019-07-11 21:59] etphipp commented on #5475
FYI, I've been working on implementing this in SPARC.  Once I have something working, we can work on moving it into Trilinos proper.

[2019-07-11 22:43] mhoemmen commented on #5475
@etphipp Sweet, thanks! :-D  I've been working on https://github.com/trilinos/Trilinos/issues/4607 as a related issue.

[2019-07-11 23:47] etphipp opened #5513 "ROL: Hidden virtual function overloads in DynamicConstraint"
Building code that pulls in ROL_DynamicConstraint.hpp on clang with warnings-as-errors turned on results in the following errors:
[code]
Looking at the code, there are indeed hidden overloads, e.g., in ROL_DynamicFunction.hpp there is:
[code]
where ROL_DynamicConstraint.hpp has
[code]
It isn't clear to me which version is the intended version, or whether DynamicConstraint is supposed to be introdu

[2019-07-11 23:50] etphipp commented on #5513
@trilinos/rol

[2019-07-12 01:13] bartlettroscoe commented on #5447
As shown in the build [Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt_no-global-int today](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&parentid=4709927), no more build errors and this test is no longer not run.

Adding the label "Disabled Tests" and leaving open as per [policy]().

[2019-07-12 01:14] bartlettroscoe commented on #5446
As shown in the build [Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt_no-global-int today](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&parentid=4709927), no more build errors and this test is no longer not run.

Adding the label "Disabled Tests" and leaving open as per [policy](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/Triaging+and+Addressin

[2019-07-12 02:15] dridzal commented on #5513
@gregvw , could you please comment on this.? The methods have different signatures, and the derived class never overloads the method from the base class.  @etphipp, as far as I know we only use the methods from the derived class.

[2019-07-12 07:01] mayrmt commented on #5509
@lucbv Looking at the structured driver (no region stuff), I can export aggregates on level 0 and they look fine. I can also export them on level 1, but they coordinates seem to be weird. Maybe the coordinate transfer is not hooked up properly with the aggregate export factory.

[2019-07-12 09:45] mayrmt commented on #5509
@lucbv Aggregate export is also broken, if not running serial.

As an example, I used the structured driver with this command line:
[code]

The serial case:
![1proc](https://user-images.githubusercontent.com/14297653/61119143-81bbd400-a49a-11e9-9653-ab1083332902.png)

With 2 ranks:
![2procs](https://user-images.githubusercontent.com/14297653/61119151-854f5b00-a49a-11e9-83b1-cc3826670f02.png)

[2019-07-12 11:03] #5510 closed

[2019-07-12 12:17] mayrmt commented on #5503
@lucbv @rstumin I have some preliminary results for using AMG as a coarse solver. In essence, if the regionMG hierarchy has still large coarse level operator (e.g. as it would be the case in a true HHG scenario), then replacing the direct solver by an AMG hierarchy reduces setup time. Numbers of iterations change, but solver time is constant.

Here are some numbers: 9 regions  (1 per proc), each r

[2019-07-12 15:32] ctanis commented on #2518
@mhoemmen that is good to know.  block sparse matrix performance is important to us (building a multiphysics FE solver), and I'd like to try to help.  I'm primarily trying to distinguish between a problem with the code and user error.

[2019-07-12 16:47] fryeguy52 opened #5515 "TpetraCore_MatrixMatrix_UnitTests_MPI_4 randomly failing in several ATDM Trilinos builds starting 2019-06-12"
## Bug Report
CC: @trilinos/tpetra, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Keep promoted ATDM builds of Trilinos clean">
<???: Once GitHub Issue is c

[2019-07-12 17:01] dridzal commented on #5447
@mhoemmen , what's the reasoning behind hard-typing Teuchos::Comm to int?  Job security for year 2030?  Joking aside, it seems like another user-specified type would be necessary for full flexibility.

[2019-07-12 18:13] mhoemmen commented on #5447
@dridzal Neither Ross nor myself wrote those classes.  One of Mike Heroux's students / postdocs wrote them circa 2004.  Code has a way of sticking around.

Search Trilinos GitHub issues for an explanation of the likely intent.  The MPI standard is evolving to support 64-bit message counts, but ranks will likely remain `int`.  This makes Comm's template parameter not useful.

[2019-07-12 18:22] dridzal commented on #5447
@mhoemmen , thanks for the explanation; just wanted to make sure that this is the consensus, and that we won't have to change the interface anytime soon.  My next PR will address the issue.

[2019-07-12 21:22] mhoemmen commented on #4607
@ndellingwood I have a fix pending here: https://github.com/trilinos/Trilinos/pull/5519

[2019-07-12 21:34] mhoemmen commented on #5447
@dridzal wrote:

That's up to the MPI Committee.  It's likely that message sizes won't be coupled to the maximum number of process ranks.

Teuchos has no owner.  It is common property of all its customers, including Trilinos, ROL, Dakota, and other applications and libraries.  I don't own `Teuchos::Comm` any more than any other developer.

Some Trilinos developers have proposed getting rid of Comm

[2019-07-12 21:50] dridzal commented on #5447
I would be in favor of removing the template parameter, assuming we can assess and control the impact of this change on dependent code.  ROL's use of `Teuchos::Comm` is frequent yet basic and transparent, and so any potential changes would be quick.  Other codes may not have this flexibility.

[2019-07-12 22:02] mhoemmen commented on #2518
@ctanis Thanks so much for your help!  Do you still see these issues when you omit the preconditioner completely?  Also, what kernels are most important to you?

[2019-07-13 18:59] mhoemmen commented on #5475
@etphipp wrote:

btw do you mean "compute the BlockCrsMatrix that represents the transpose of the input matrix," or "compute the result of applying the transpose of a BlockCrsMatrix to a Block(Multi)Vector"?  I mean the former.

[2019-07-15 13:50] etphipp commented on #5475
@mhoemmen wrote:

I mean the former too.  I need the explicit transpose of the matrix in order to precondition it for transposed linear solves.

[2019-07-15 14:57] fryeguy52 opened #5522 "Panzer: Randomly failing PanzerSTK_ tests in ATDM waterman build"
## Bug Report
CC: @trilinos/panzer, @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=6&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman_cuda-9.2_shared_op

[2019-07-15 15:32] bartgol opened #5524 "Seacas: Ioss defines `FMT_FALLTHROUGH` to be gcc's attribute even if using intel"
Note: not really a bug, but I didn't know how to mark it.

## Bug Report
@trilinos/\<seacas\>

### Description
In `ioss/src/fmt/format-inl.h` you see the following snippet:

[code]
This ends up defining `FMT_FALLTHROUGH` to be the gcc attribute even when using intel compilers (if gcc version is >= 7.0.0), which causes a warning.

A better way to handle this would be to check for intel compilers be

[2019-07-15 15:34] fryeguy52 opened #5525 "Tpetra: TpetraCore_­AddProfiling_­UnitTests_­MPI_­4 randomly timing out in atdm waterman builds"
## Bug Report
CC: @trilinos/tpetra, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

PR #5626  merged on 8/1/2019 should fix.  Next: Watch dashboard and close if no failures by 9/1/2019 ...

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=8&showfilters=1&filtercombine=and&fi

[2019-07-15 16:07] mhoemmen commented on #5524
@trilinos/seacas

[2019-07-15 16:18] fryeguy52 opened #5526 "Panzer: PanzerMiniEM_MiniEM-BlockPrec_RefMaxwell_MPI_4 failing randomly on ATDM waterman build"
## Bug Report
CC: @trilinos/panzer, @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman_cuda-9.2_shared_op

[2019-07-15 16:28] bartlettroscoe commented on #4915
This is long longer an issue for the ATDM Trilinos builds so removing the ATDM keyword.

@kddevin, you might consider closing this.  As the original reporter of this issue, you are best qualified to verify that the problems are resolved.

[2019-07-15 16:32] fryeguy52 opened #5528 "TpetraCore_ImportExport2_UnitTests_MPI_4 failing in build Trilinos-atdm-waterman-cuda-9.2-opt starting before 2019-07-15"
## Bug Report
CC: @trilinos/tpetra, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Keep promoted ATDM builds of Trilinos clean">
<???: Once GitHub Issue is c

[2019-07-15 16:39] mhoemmen commented on #5475
@etphipp wrote:

A lot of the preconditioners should work fine with apply `TRANS` or `CONJ_TRANS`, but I'm happy to let you do this thing that SPARC needs anyway :-D .  Thanks!

[2019-07-15 19:12] etphipp commented on #5475
@mhoemmen wrote:

I have not had good luck with that in the past (the Epetra days), so I think it is best to have the explicit transpose as at least an option.

[2019-07-15 20:09] ctanis commented on #2518
@mhoemmen  We are struggling to compare apples to apples here because when we turn off the preconditioner the matrix takes too long to solve.  I'm attaching the output of hp_time_stack after one iteration with the preconditioner, hoping you can help me make sense of it!  There's a Cuda file and two OpenMP files with different thread counts.  These are running entirely on one node so that  MPI is n

[2019-07-15 20:14] mhoemmen commented on #2518
@ctanis Our BlockCrsMatrix triangular solves don't use threads at all right now.  I'm working on that :-) .  Thanks for the example!

[2019-07-15 21:06] glhenni opened #5530 "panzer: passing in list of variables names with space separation for MMS not working"
## Bug Report
@trilinos/\<panzer\>

### Description
In charon we read in a section of XML that looks like:
[code]
The `Value` string gets passed in via a parameter list to the ctor `panzer::GloablStatistics<EvalT, Traits>()`. Within that ctor the string gets pulled out of the parameter list into a std::string and is used in an invocation of `panzer::StringTokenizer(returnTokes, inp_string). That i

[2019-07-15 21:10] rppawlo commented on #5530
Thanks for reporting @glhenni !

[2019-07-15 21:15] jjellio commented on #2518
Why does your Cuda log have all of the dual view tracking memory allocations... I thought that stuff got nuked?

[2019-07-16 00:52] gsjaardema commented on #5524
Yes.  I have fixed this in the seacas github buy it has not yet been synced over to trilinos.  Will try to do that in the next week

[2019-07-16 10:34] #4607 closed

[2019-07-16 14:26] ctanis commented on #2518
@mhoemmen well, that'd do it!  I'm not asking for a commitment here, but is this an active project?

@jjellio not sure what you mean..

[2019-07-16 14:30] bartgol commented on #5524
Great! I'm closing this then. Thanks for the quick reply!

[2019-07-16 14:30] #5524 closed

[2019-07-16 15:07] jjellio commented on #2518
Look at the end of your Cuda log for '0.5% DualView::modified_flags
  0.5% DualView::modified_flags'.  I am not accustomed to seeing those anymore - perhaps there is something slightly different in how I build - or I simply haven't noticed them?

[2019-07-16 15:12] ctanis commented on #2518
I call sync and modify on DualViews.  Is this no longer necessary?

[2019-07-16 15:48] jjellio commented on #2518
I am just curious why I don't remember seeing those memory allocations recently.

With UVM, cuda > 8.0, and Launch blocking on, there is no need to sync anything - but I am sure others will disagree with me on that. Using the API is probably the right thing to do, because at some point it would be nice to remove CUDA_LAUNCH_BLOCKING=1 from the required runtime ENV.

Glancing at some recent runs, I

[2019-07-16 15:51] mhoemmen commented on #2518
@jjellio wrote:

What happens if a kernel is running on device concurrently with host access?  Does that "just work" now?

[2019-07-16 16:01] ctanis commented on #2518
I don't use UVM outside of the Tpetra stuff (where it's required, right?) in my code, because I would rather crash than swap on the device.

[2019-07-16 16:21] kyungjoo-kim commented on #2518
I just want to let you know that I am going to evalute block crs infrastructure and will put the result in the benchmark directory as well as diagnosing the all the things discussed here.

[2019-07-16 17:14] mhoemmen commented on #2518
@ctanis wrote:

That's correct.  The "swap on the device" thing is not so bad actually.  @trilinos/muelu developers have done studies showing that after setup, the solves don't swap from the GPU.

[2019-07-16 17:25] ctanis commented on #2518
@kyungjoo-kim excellent!  this benchmarking directory is in the trilinos distribution?

@mhoemmen that's good to know, but what if the system doesn't fit on the GPU to begin with -- when is that detectable?

[2019-07-16 17:28] kyungjoo-kim commented on #2518
Yeah... you once ran the benchmark code before ``tpetra/core/example/BlockCrs``.

[2019-07-16 17:31] etphipp opened #5535 "ROL: Duplicate ROL_FunctionBindings.hpp results in numerous build errors"
@trilinos/rol

Building against a Trilinos install tree and including a file such as ROL_DynamicObjectiveCheck.hpp results in numerous build errors along the lines of
[code]
It appears that the issue is there are two different files with the name ROL_FunctionBindings.hpp:

https://github.com/trilinos/Trilinos/blob/develop/packages/rol/src/utils/ROL_FunctionBindings.hpp
https://github.com/trilinos/

[2019-07-16 17:39] jjellio commented on #2518
@mhoemmen With Launch blocking on, it would impossible for you to have in-process concurrency active while also running the kernel, unless you have written your own background threads. For Vanilla Tpetra I don't see the point.

I do think it is good to use the API, because baking 'cuda-isms' into the library is just bad.

@ctanis  I've seen very little issues with UVM. If your data primarily lives

[2019-07-16 17:55] ctanis commented on #2518
@jjellio I may try switching to UVM at some point in my code, but the current setup has discrete waves of Host and then Device processing, and the explicit syncs feel appropriate.  As I said earlier, I'd rather this part just fail if for some reason the allocation is too large for the GPU

Now that I'm thinking about it, Cuda might now allow you to malloc more memory than the device physically con

[2019-07-16 18:03] tjfulle opened #5536 "Tpetra: Build errors with deprecated code off"
## Bug Report
@trilinos/tpetra

I am seeing a bunch of errors when trying to compile with deprecated code off.

My configuration is the following:

[code]

Using this configuration results in configuration errors:

[code]

Okay, I’ll add `Tpetra_INST_INT_INT=ON` to the configuration.  This leads to compile time errors in STK – STK requires Tpetra’s GO=long long.  Why does STK check at compile time

[2019-07-16 18:20] dridzal commented on #5535
@gregvw , which one should be used?

[2019-07-16 19:20] etphipp commented on #5535
I assume it must be the latter one.  If I replace the one in my install tree with it, everything seems to work (or at least compile).

[2019-07-16 19:21] csiefer2 commented on #5536
The deprecated code off nightlies are clean:

[2019-07-16 19:22] tjfulle commented on #5536
@csiefer2 that is only for `Trilinos_ENABLE_Tpetra`.  If you enable all downstream code, then you run in to problems.

[2019-07-16 19:43] jjellio commented on #2518
I'd try to reason out weird performance more, before assuming UVM is an issue though. The problems I see most often are unneeded memory copying. If you have enough data to saturate a GPU, then you will also be in a different regime than most things I see (I see strong scaled problems usually).

In your logs, for OpenMP - what system BLAS are you using? If I am not mistaken, dot and update will end

[2019-07-16 20:44] tjfulle opened #5537 "Xpetra: inconsistent declaration of TpetraMap::clone"
## Bug Report
@trilinos/xpetra

### Description
The deprecated `Xpetra::TpetraMap<>::clone` is declared in `xpetra/src/Map/Xpetra_TpetraMap_decl.hpp` guarded by `#ifdef XPETRA_ENABLE_DEPRECATED_CODE` but defined in `xpetra/src/Map/Xpetra_TpetraMap_def.hpp` guarded by `#ifdef TPETRA_ENABLE_DEPRECATED_CODE`.  The `clone` method is later called in `packages/xpetra/sup/Cloner/Xpetra_Cloner.hpp` but is

[2019-07-16 20:52] tjfulle opened #5538 "ShyLU: tests fail to compile with Tpetra_ENABLE_DEPRECATED_CODE=OFF"
## Bug Report
@trilinos/shylu fails to compile with `Tpetra_ENABLE_DEPRECATED_CODE:BOOL=OFF`

### Description
The file `packages/shylu/shylu_dd/bddc/test/SparseSolverTest.cpp` fails to compile:

[code]

My configure script (source the sems gcc/7.3.0 environment script in `cmake/std/sems`)

[code]

[2019-07-16 21:02] tjfulle commented on #5538
Potential fix: replace use of `ArrayRCP` with `Array` in `packages/shylu/shylu_dd/bddc/src/shylu_SolverMueLu.hpp`.  I have a branch with this fix, as well as some others for #5536

[2019-07-16 21:10] mhoemmen commented on #5536
It works if you disable Epetra support in Xpetra, MueLu, and Amesos2.  `Xpetra_ENABLE_Epetra=OFF` etc.

[2019-07-16 21:11] mhoemmen commented on #5538
It also works if you make the ArrayRCP into an ArrayView by putting parentheses after it.

[2019-07-16 21:14] tjfulle commented on #5538
@mhoemen - Doh, I didn't know that worked for `ArrayRCP`!  The `ArrayRCP` is only used locally to fill the matrix, so I replaced it with `Array` and when calling the matrix constructor called the `Array`'s `operator()` (as you suggest).  I can switch it back to `ArrayRCP` if that is preferred over `Array`

[2019-07-16 21:24] tjfulle opened #5540 "ROL: Use of deprecated Tpetra code"
## Bug Report
@trilinos/rol

Relates to: #5536

### Description
Several of ROL's examples use the deprecated `Tpetra::CrsMatrix<>::getNode` and `clone` methods:

[code]

[2019-07-16 21:28] tjfulle commented on #5536
@mhoemmen - all of Tpetra's downstream packages compile with `Tpetra_ENABLED_DEPRECATED_CODE=OFF` if Epetra support is disabled or just this `Xpetra` issue?  I seem to have gotten past `Xpetra` (see #5537) - now I'm on to ROL (#5540)

[2019-07-16 21:29] mhoemmen commented on #5538
@tjfulle Either way is good; thanks!  ArrayRCP is only worth using if people create uninitialized data (Array is like `std::vector`, in that its constructor initializes all elements).

[2019-07-16 21:46] mhoemmen commented on #5536
@tjfulle I haven't tested ROL that way, but I've had success setting `Tpetra_ENABLE_DEPRECATED_CODE=OFF` all the way through MueLu and Stokhos.

[2019-07-16 22:19] tjfulle commented on #5540
`getNode` is only used to cal (the deprecated) `Tpetra::CrsMatrix<>::clone`.  `clone` appears to be used to make a deep copy of the matrix.  The following diff gets around the compile error:

[code]

apply this (or similar) everywhere clone is called.

[2019-07-16 22:25] tjfulle opened #5541 "STK: compile time error that could be configure time"
## Bug Report

The following logic in `packages/stk/stk_balance/stk_balance/internal/balanceTypes.hpp` can be moved to CMake and be caught at configure time.

[code]

[2019-07-16 23:14] #4468 closed

[2019-07-17 10:38] mayrmt commented on #5509
@lucbv Thanks for sharing your xml-files to export aggregates. I'll look into them to figure out, what I did wrong.

When I was trying to export aggregates, I looked through MueLu examples and tests, though I didn't find it to be used anywhere. How can we include the aggregate export into testing?

[2019-07-17 14:50] trmcnealy commented on #5179
I'm having a similar issue with (Tpetra::CrsGraph<int, long long, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Cuda, Kokkos::CudaUVMSpace> >::fillComplete) but its not random. Its every time. I reduced the size of the mesh and fillComplete did not throw an error.

[2019-07-17 15:54] lucbv commented on #5509
@mayrmt actually the xml file was emailed by mistake... but I can send you the correct one if you want it?
Overall exporting the aggregates to paraview is a harder endeavour than one might expect, just look at these files: [MueLu_AggregationExportFactory](https://github.com/trilinos/Trilinos/blob/develop/packages/muelu/src/Utils/MueLu_AggregationExportFactory_def.hpp) and [MueLu_VizualizationHelpe

[2019-07-17 15:56] lucbv commented on #5509
Also regarding the testing of the aggregation export, the only solution I can think of is to run the code and compare the vtu files to some gold files and make sure that they are the same.
Of course that requires reproducibility of aggregation... but as long as we don't use any kokkos aggregation we should be fine.

[2019-07-17 16:18] mayrmt commented on #5509
@lucbv wrote:

Sure! It would be great if you could send me the file (or maybe upload it here). I want to visualise some aggregates in another context as well, so a working example will be really helpful.

I know, that the implementation is not "super clean" and we probably can spent quite some time on improving them. 😏 I agree that it's currently not our main focus, though.

Maybe I'll open a sep

[2019-07-17 16:31] lucbv commented on #5509
@mayrmt first some eye candy:
![structured_unstructured_aggregates3D](https://user-images.githubusercontent.com/22935531/61393028-59a6e900-a87d-11e9-9431-a14240a753f4.png)
and [here](https://github.com/trilinos/Trilinos/files/3402843/structured_unstructured_1dof.xml.txt) is the xml file I use to generate this. If we get someone next summer we could look into this, I might talk to Ray and Jonathan

[2019-07-17 17:49] dridzal commented on #5447
@dpkouri , it turns out that this issue is not in the test mentioned above, but in the source code.  Both `TeuchosBatchManager` and `TpetraTeuchosBatchManager` use an Ordinal template parameter for `Teuchos::Comm`.  As it turns out, only `int` is supported, so we have to use `Teuchos::Comm<int>`.  The question is if Ordinal is used as a template parameter for other objects; if it is not, we should

[2019-07-17 18:06] dridzal commented on #5447
@dpkouri , and as it turns out, there are several other instances related to `BatchManager`.  Just run the command

`grep "Teuchos::Comm<" * -R | grep -v int`

in the rol directory.  This returns all use cases of `Teuchos::Comm` that do not include `int` on the line.

[2019-07-17 18:17] dridzal commented on #5447
@mhoemmen @bartlettroscoe : if you run

`grep "Teuchos::Comm<" * -R | grep -v int`

(see my previous comment) in the Trilinos/packages directory, you'll see a bunch of uses of `Teuchos::Comm` with non-`int` template parameters.  Having said that, it is possible or even likely that some of those parameters always end up an `int`, but it may be worth checking with package developers.  Note that the

[2019-07-17 20:41] mhoemmen commented on #5447
@dridzal I'm pretty sure that all uses of `Comm<T>` with `T != int` are in Thyra or depend on Thyra.  Tpetra and packages that depend on it exclusively use `Comm<int>`.

[2019-07-17 22:13] mayrmt commented on #5509
I really like this picture! :smile:

[2019-07-18 12:59] lucbv commented on #5467
Alright PR #5544 is properly implementing the structured/unstructured capability in the region driver and more importantly in the region multigrid algorithm using the hybrid aggregation concept.
This is enough for now although I am expecting a small PR that improves on this work to allow any rank to be unstructured instead of only the last one.

[2019-07-18 16:36] fryeguy52 opened #5545 "ROL_example_tempus_example_parabolic_modeleval_forward-adjoint_MPI_1 failing in build CUDA debug builds for 'waterman' and 'ats2' starting before 2019-07-18"
## Bug Report
CC: @trilinos/rol, @rppawlo (Trilinos Nonlinear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-debug&fiel

[2019-07-18 16:49] mhoemmen opened #5546 "Tpetra::RowMatrixTransposer: Build warning in non-ETI build"
## Bug Report
@trilinos/tpetra

Reported by Sierra's Trilinos integration build.

### Description

[code]

The issue appears to be that inlined nontemplated functions in a header file issue these warnings, even if the function is used in templated functions in the file.  This warning only appears in a non-ETI build.

### Steps to Reproduce

GCC 7.2.0, OpenMPI 1.10.2, warnings as errors, ETI off.

[2019-07-18 17:15] mhoemmen opened #5548 "Tpetra::Details::copyOffsets overflow checking is broken"
## Bug Report

@trilinos/tpetra

### Steps to Reproduce

Reproducer (no-OpenMP Intel 17 build):
[code]
It fails with the following error message (after I added some extra printing to `copyOffsets` and turned on `TPETRA_VERBOSE`):
[code]

[2019-07-18 17:35] mhoemmen commented on #5548
I'm working on a fix.  This is blocking another thing for me.

[2019-07-18 19:25] alanw0 commented on #5541
Yes I agree with this, we will figure out how to put this check in a cmake file.
Thanks!

[2019-07-18 20:15] lucbv opened #5550 "Auto-tester: GPU builds (Ride?) are not starting"
@william76  @jwillenbring @nmhamster

## Bug Report
@trilinos/framework

### Description
Looking at the pull requests of the day I notice that none of them are performing the CUDA build. This is preventing code from being checked in...
Is there a sense that this is a hardware or a software problem?

[2019-07-18 20:16] nmhamster commented on #5550
@lucbv - issue with Ride is under investigation.

[2019-07-18 20:36] ZUUL42 commented on #4469
I've made a [number minor changes](https://github.com/trilinos/Trilinos/compare/master...ZUUL42:Werror_ROL) and have got this issue down to one Werror. However, I'm not quite sure what might be the reasonable/prefered solution for this last one.
@dridzal @trilinos/rol @trilinos/tempus  Would you have any input?

[CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=5321033&f

[2019-07-18 20:38] lucbv commented on #5550
Thanks for the info @nmhamster

[2019-07-18 21:25] dridzal commented on #4469
@ZUUL42 , my guess is that you would need to add a virtual destructor to the base class `PinTVectorCommunication`

`virtual ~PinTVectorCommunication() {}`

Let me know if it works.

[2019-07-18 23:01] csiefer2 opened #5552 "Framework: CMake 3.12.3 Caching Way Too Much Stuff"
Using cmake 3.12.3, even after doing this:

rm -rf CMakeLists.txt CMakeFiles

keeps *way* to much cached information on waterman, to the point where you cannot make a substantial change to the configuration and still keep the directory.

On other systems with other versions of cmake, the above "rm" line works just fine.

[2019-07-19 09:35] mayrmt commented on #5509
Again regarding the testing of aggregate visualization: The VTU output is written to ASCII files, so performing a diff on these files should not be too hard.

[2019-07-19 14:43] jhux2 commented on #5537
@william76 is this something you could have a look at?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-19 14:52] tjfulle commented on #5537
@jhux2, I have a whole bevy of foxes for building with/without Tpetra deprecated code, including a fix for this.

[2019-07-19 19:52] lucbv commented on #5550
I see things are back to working fine now so I'm closing this : )

[2019-07-19 19:52] #5550 closed

[2019-07-20 05:17] mhoemmen opened #5557 "MueLu: Link errors in Sierra build with ETI ON"
## Bug Report
@trilinos/muelu

A Sierra developer reports many link errors like the following, when building Trilinos with ETI ON (not their default currently):
[code]
I also get link errors when I build with system Clang on Mac, turn on ETI, and turn off deprecated code in Kokkos and Tpetra.  It doesn't seem to matter whether or not I enable `Scalar=float` (as Sierra does).

[2019-07-20 10:22] #5546 closed

[2019-07-20 21:21] mhoemmen commented on #5546
@rrdrake @micahahoward FYI

[2019-07-20 21:57] mhoemmen commented on #5557
[code]

[2019-07-20 21:58] mhoemmen commented on #5557
I get these even when I turn off all Scalar types but double.  I did have deprecated code in Kokkos and Tpetra turned off.  Let me get rid of the latter option and see what happens.

[2019-07-21 00:26] mhoemmen commented on #5557
I enabled deprecated code in Tpetra, and still get the above link errors.

[2019-07-21 18:26] mhoemmen commented on #5557
@trilinos/muelu @jhux2 @csiefer2 Could the problem be that `muelu/src/MueCentral/*.cpp` never gets pulled into the `muelu-interface` library?  Let me see if doing that helps.

[2019-07-22 14:03] nmhamster commented on #5550
@lucbv - I believe Ride is available for use. Can you or @william76 / @jwillenbring confirm we are good? Thanks.

[2019-07-22 14:04] nmhamster commented on #5550
@lucbv - oops my browser hadn't refreshed, looks like things are good. Thanks!

[2019-07-22 21:51] lucbv commented on #5467
Actually PR #5556 is already adding the changes required in the driver to set any rank as unstructured.
This shall conclude this issue!

[2019-07-22 21:51] #5467 closed

[2019-07-22 21:58] lucbv commented on #3227
@mayrmt, are we still planning on this or do we fill that the circle in the box is just not going to happen any time soon and probably not with the matlab driver?

[2019-07-22 22:36] mayrmt commented on #3227
@lucbv I think, this is not gonna happen anytime soon. I’m not sure, if the matlab driver will ever be useful again. Probably not... I close this. We can reopen, if necessary. For now, we’ll probably stick to the structured region driver.

[2019-07-22 22:36] #3227 closed

[2019-07-23 15:46] mhoemmen commented on #5557
I called into MueLu's meeting yesterday.  They are working on the issue.

[2019-07-23 20:17] ccober6 opened #5563 "Tempus: Add Initialize state to Steppers"
## Enhancement
@trilinos/tempus

Related #4867.

Add the ability to mark the Stepper as initialized.  This allows the application to test if the Stepper is ready for takeStep().

[2019-07-23 20:39] lucbv opened #5564 "MueLu: reorganization of the Graph subdirectory in MueLu"
## Enhancement
@trilinos/muelu
@jhux2 @csiefer2 @cgcgcg @rstumin

I would like to reorganize the `muelu/src/Graph` directory in a more coherent way so that browsing the code tree to find a feature is a little easier.

Here is the current directory structure:
[code]
plus a whole lot of files regarding Graph data structured, coupled aggregation, matrix drop and amalgamation of various flavors.
I wou

[2019-07-23 20:45] mhoemmen commented on #5564
Will this address #5557?

[2019-07-23 20:49] lucbv commented on #5564
@mhoemmen no this is just cleaning up some stuffs that bother me a bit... unrelated to #5557

[2019-07-23 23:07] mhoemmen opened #5567 "Xpetra: Build fails, apparently ignoring Xpetra_ENABLE_Epetra=OFF"
## Bug Report
@trilinos/zoltan2 @trilinos/xpetra @trilinos/muelu
@kddevin @william76 @csiefer2

### Description

I disabled deprecated code in Tpetra and Kokkos, and set `Xpetra_ENABLE_Epetra=OFF`.  Configure succeeded, but I got the following build error:
[code]

This looks like a Zoltan2 bug.  `zoltan2/test/temp/CMakeLists.txt` uses `${PROJECT_NAME}_ENABLE_Epetra` to decide whether to enable the

[2019-07-24 09:15] mayrmt commented on #5503
@trilinos/muelu How can I tell the hierarchy via the expert xml-file to keep certain quantities around, in particular the nullspace and the coordinates vectors?

[2019-07-24 12:59] lucbv commented on #5503
@mayrmt I talked with Chris yesterday and he suggested that an initial hack is to set the coordinates and nullspace to be exported to file, this should guarantee that they are kept in the hierarchy.
Try running: `grep -rin "exportdata" packages/muelu/src/` to see how MueLu handles the export of various outputs.

[2019-07-24 15:50] #5548 closed

[2019-07-24 15:50] #5567 closed

[2019-07-24 17:04] tawiesn commented on #5503
@mayrmt @lucbv I think for the expert-style xml file you need to look for "DataToWrite" and it only supports the "Matrices" (i.e. A), prolongators and restrictors. You would need to extend it for Coordinates and Nullspace. So, you have to touch the code anyway.
I think the most elegant way is to add a general class "KeepDataFactory" which accepts a variable name and the generating factory and stor

[2019-07-24 17:06] tawiesn commented on #5503
@mayrmt One can also add a general factory "WriteDataToFileFactory" which accepts all kinds of data types and writes them to a file on the disk. Could be useful for postprocessing or some statistics.

[2019-07-24 22:47] mhoemmen opened #5572 "Tpetra_CrsMatrix_def.hpp exposes "using Teuchos::rcpFromRef" in global namespace"
## Bug Report
@trilinos/tpetra @tjfulle

### Description

Line 84 of `Tpetra_CrsMatrix_def.hpp` exposes `using Teuchos::rcpFromRef;` in the global namespace.  This is bad if ETI is OFF, because it means that downstream packages and applications will see the resulting `using` declaration in their global namespace.

[2019-07-25 00:05] tjfulle commented on #5572
The strange thing is, everywhere `rcpFromRef` Is actually used in the file, it is either namespace qualified, or the `using` declaration is included locally in the function using it.

[2019-07-25 17:49] mhoemmen opened #5576 "MueLu: Scaling test driver uses cuSPARSE things without including cusparse.h"
## Bug Report
@trilinos/muelu

### Description

`muelu/test/scaling/MatvecKernelDriver.cpp` uses cuSPARSE symbols without including `cusparse.h`.  It appears to rely on `Tpetra_CrsMatrix_decl.hpp` including  `KokkosSparse_spmv.hpp`, which in turn includes `cusparse.h`.  When I removed the `KokkosSparse_spmv.hpp` include from `Tpetra_CrsMatrix_decl.hpp` as part of PR #5573, `MatvecKernelDriver.cpp`

[2019-07-26 15:03] william76 commented on #4986
With #5579 merged in I re-ran the weak symbol count that Jonathan ran earlier.  Here are the new numbers I'm getting:

[code]

FYI @csiefer2 @jhux2

[2019-07-26 15:49] jhux2 commented on #5327
@trilinos/xsdk

[2019-07-26 15:50] jhux2 commented on #5557
I think this is actually due to undefined symbols in the shared library.   There's an issue open on this already, but I can't find it at the moment.

[2019-07-26 20:50] lucbv commented on #4986
@william76 nice work!
@jhux2 it might be time to attempt one of the static debug build that SPARC has been having troubles with?

[2019-07-27 20:25] mhoemmen commented on #4986
@micahahoward @rrdrake @sebrowne

[2019-07-29 18:13] bathmatt commented on #5181
Can Teko take a file output, I think it is equally important to have output on/off as it is to have on and to file.

[2019-07-29 18:34] ikalash commented on #5479
Just wanted to follow up on this issue: @gdsjaar , have you had a chance to look into it?

[2019-07-29 18:55] gsjaardema commented on #5479
Sorry, I just saw this today. Not sure why it didn't show up earlier in my queries/email.

If you can tell me how to build Trilinos/Albany on the CEE lan (or any of the clusters if CEE not an option), I will take a look

[2019-07-29 18:57] gsjaardema commented on #5371
No, an attributed is a per-entity value.  For example, shells typically have a `THICKNESS` attribute which gives the value of the shell thickness for each element in the element block.

[2019-07-29 18:58] gsjaardema commented on #5223
This should be fixed now.  Please reopen if the problem is still occurring or reappears.

[2019-07-29 18:58] #5223 closed

[2019-07-29 19:30] bartgol commented on #5371
Thanks @gsjaardema ! I will try this approach and see if it's what I need (it sounds like, from what you said). I'm closing this for now.

[2019-07-29 20:12] kyungjoo-kim commented on #2518
Hi @ctanis,

My PR is merged and it includes a few things as follows:
- no more HAVE_POINT_IMPORTER thing; internally it always uses point importer for the apply method and now the class does not have its own distObject functions. If you want to communicate in your own way, you need to rely on point map conversion and an importer with the point maps.
- a bit more gpu friendly apply method using at

[2019-07-29 21:18] #4469 closed

[2019-07-29 21:18] #4475 closed

[2019-07-29 22:34] ikalash commented on #5479
@gsjaardema : no worries.  Let me test the scripts on CEE before I send them to you to make sure they work and you can reproduce the issue.  I'll be in touch soon.

[2019-07-30 13:55] vbrunini opened #5591 "Xpetra: BlockedMultiVector build errors with ETI off"
## Bug Report
@trilinos/Xpetra

### Description
Xpetra fails to build with ETI disabled. There are a large number of errors similar to:

[code]

[2019-07-30 14:00] tjfulle opened #5592 "Panzer: build fails with Epetra disabled"
## Bug Report
@trilinos/panzer

When `Trilinos_ENABLE_Epetra:BOOL=OFF` is defined, I get the following build error:

[code]

Full configure:

[code]

[2019-07-30 14:03] tjfulle opened #5593 "Galeri: build fails with Epetra disabled"
## Bug Report
@trilinos/galeri

With `Trilinos_ENABLE_Epetra:BOOL=OFF` defined, I get the following build errors:

[code]

Full configure script:

[code]

[2019-07-30 14:09] tjfulle opened #5594 "FEI: build fails with Epetra disabled"
@trilinos/fei

 With `Trilinos_ENABLE_Epetra:BOOL=OFF` defined, I get the following build error:

[code]

Full configure:

[code]

[2019-07-30 14:16] lucbv commented on #5593
@tjfulle do you know which file required `src-epetra/Galeri_Maps.h` ?
The `src-epetra` directory is not supposed to be added by CMake when Epetra is off...

I will do a local build and look at this problem.

[2019-07-30 14:17] rppawlo commented on #5592
yes - panzer currently requires both the type 1 and type 2 stacks to be enabled. It's on the list of things to fix in FY20. What is the timeline/priority for this?

[2019-07-30 14:19] tjfulle commented on #5593
@lucbv, the file is in the first comment.  I looked at this a year or so ago, but the issue ran deeper than the single file.  With Tpetra’s code deprecation, this now needs to be resolved

[2019-07-30 14:27] lucbv commented on #5593
@tjfulle I am actually looking for the file that includes the file you mention.
I am ready for my local build, are you using any particular modules to test this?
I ususally load the modules associated with the auto-tester build for gcc/7.2.0 located here: `cmake/std/sems/PullRequestGCC7.2.0TestingEnv.sh`

[2019-07-30 14:35] tjfulle commented on #5593
Ya, that’s the environment I source.  Warning: the configuration options in `Trilinos_CONFIGURE_OPTIONS_FILE` enable all downstream code from Tpetra and build times are horrendous.  You might just want to disable Epetra and disable Galeri

[2019-07-30 14:38] lucbv commented on #5593
No I'm good, I already arrived at the error so that's fine.
I think the problem might actually be simple enough, it seems that some examples that require Epetra are not guarded properly.

[2019-07-30 14:40] tjfulle commented on #5592
@rppawlo, by type 1 and 2, are you referring to Epetra and Tpetra?  If so, I disabled Epetra because many packages assume that if Epetra is enabled then Tpetra’s GO=int - which is not true by default.  Those build failures will eventually be addressed in the PR.  So long as Panzer is ok with different GO in [ET]petra, or Trilinos is built with (non-default) GO=int in Tpetra, it should be fine.

[2019-07-30 14:43] tjfulle commented on #5592
Just noticed I’m commenting in this issue and not PR #5590 - which was the genesis for this issue

[2019-07-30 14:47] rppawlo commented on #5592
@tjfulle - yes - type 1 is epetra/amesos/ifpack/ml and type 2 is tpetra/amesos2/ifpack2/muelu. Panzer can use any GO for tpetra, however we always assume epetra is 32-bit. Unfortunately, almost all of our testing is based on epetra, so it will be a lot of work to disable complete type 1 stack and still have adequate test converage of panzer. Most of panzer is agnostic to epetra/tpetra but uses epe

[2019-07-30 14:50] tjfulle opened #5595 "MueLu: tests fail to build if Galeri is disabled"
## Bug Report
@trilinos/muelu

### Description
Many MueLu tests fail to build if `Trilinos_ENABLE_Galeri:BOOL=OFF` is defined.

Related to #5590

[2019-07-30 14:57] tjfulle commented on #5592
I don’t know that it is a priority for Tpetra.  I just wanted to build Tpetra+downstream with deprecated code off (using default ordinal types).  Many packages downstream of Tpetra fail to build in this case, so disabling Epetra and any other packages that fail to build with Epetra disabled was my first pass.

Perhaps Panzer can add some CMake logic to catch this at configure, rather than build, t

[2019-07-30 15:00] rppawlo commented on #5592
It should catch this at configure. Epetra is a required package in panzer's disc-fe subpackage. I'll take a look at this.

[2019-07-30 15:03] ctanis commented on #2518
@kyungjoo-kim thanks for your work on this!  I've been traveling, but will see if your changes improve things when I get the chance.  I suspect that the triangular solve that @mhoemmen mentioned is the biggest bottleneck I'm facing.

[2019-07-30 15:31] tjfulle commented on #5593
@lucbv #1033 is another, related, issue.

[2019-07-30 15:43] mhoemmen commented on #5591
@trilinos/muelu @trilinos/xpetra This is probably related to recent efforts to improve Xpetra's ETI.  The end result will be good, but we have to struggle a bit through the process :-)

[2019-07-30 15:46] mhoemmen commented on #5592
This is a bit of a problem for @trilinos/xpetra and @trilinos/muelu.  The current plan is that if you enable Epetra support in Xpetra and MueLu, then you must enable GO=int.  This excludes enabling both Epetra and Tpetra with deprecated code disabled in Tpetra.

[2019-07-30 15:47] mhoemmen commented on #2518
@ctanis I plan to add MKL and cuSPARSE support for block sparse triangular solve -- just need to take care of a few other things first.

[2019-07-30 15:50] tjfulle commented on #5592
@mhoemmen does it?  Can’t we disable deprecated code and explicitly set `Tpetra_INST_INT_INT`?

[2019-07-30 15:55] csiefer2 commented on #5591
@william76

[2019-07-30 15:57] rppawlo commented on #5592
We have been disabling Epetra support in Xpetra and Muelu in our builds. We only use xpetra/muelu for type 2 stack runs. We never call that code with epetra. I think ATDM might have adopted these settings already. we should check with @bartlettroscoe .

[2019-07-30 16:02] bartlettroscoe commented on #5592
The settings ATDM is using can be seen in:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/ATDMDevEnvSettings.cmake

which includes:

[code]

Any deviation from the ATDM settings is may not work so my advice is to just use the ATDM Trilinos configuration if you want to be productive.

[2019-07-30 16:09] tjfulle commented on #5592
@bartlettroscoe  said

That is probably true, but @trilinos/tpetra plans to remove deprecated code soon and many packages don’t yet build if deprecated code is enabled.  This, and many other issues, were opened when build failures occurred with deprecated code disabled but otherwise default test settings.

[2019-07-30 16:11] rppawlo commented on #5592
So to follow up - we are able to build using a single GO type and are able to jump between the type 1 and type 2 stacks at runtime. It is really useful in certain applications to do performance testing comparisons of the two stacks from the same executable. This would be a painful change for some applications that currently assume both stacks must be built built, but we could do it.

[2019-07-30 16:15] bartlettroscoe commented on #5592
NOTE: several non-ATDM Trilinos packages don't currently build with Tpetra_INST_INT_INT=OFF.  See, for example [this build](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&parentid=4754116) (which @fryeguy52 will create a GitHub issue for when he has the time as per [ATDV-188](https://sems-atlassian-srn.sandia.gov/browse/ATDV-188)).

[2019-07-30 16:18] tjfulle commented on #5592
@rppawlo, when the dust settles, I hope to have things fixed to the point where (with deprecated code disabled and eventually removed) the current default test settings will just work.  To get there many packages need to be updated to work with any Tpetra GO and Epetra - or fail at configure time if they can’t.  Direct comparison between the two stacks may require building Tpetra with GO=int (whic

[2019-07-30 16:32] alanw0 commented on #5594
Hmm, this is a tough one. FEI isn't going to live into the Tpetra era, it really needs Epetra. Perhaps we need to add some cmake logic such that epetra is a mandatory dependency and FEI is disabled if Epetra is not available.

[2019-07-30 16:43] tjfulle commented on #5594
@alanw0 that would be fine, and I'm happy to add such logic to CMake.  Does FEI have any Tpetra code?  If so, I'll have to be careful about how Tpetra is instantiated in the event that Tpetra+Epetra are enabled.  If not, I can just put a hard stop in CMake if Epetra is not enabled.

[2019-07-30 16:48] rppawlo commented on #5594
Would this be the time to consider removing FEI from trilinos?

[2019-07-30 16:48] alanw0 commented on #5594
@tjfulle No, FEI doesn't have any Tpetra code. In packages/fei/CMakeLists.txt it mentions Tpetra but that's it. (That reference could probably be removed too.)

[2019-07-30 16:49] alanw0 commented on #5594
@rppawlo Probably getting close, although the thermal/fluid folks in Sierra haven't finished deprecating it yet... hopefully soon.

[2019-07-30 17:17] mhoemmen commented on #5594
@alanw0 There are some plans to finish FEI and Epetra stack deprecation next FY.  Not sure how the priorities will fall.

[2019-07-30 17:19] mhoemmen commented on #5594
FEI declares Epetra as an optional dependency: https://github.com/trilinos/Trilinos/blob/5ee7c7c44676a3e541c69ea4ebf99dc4a26c0d2b/packages/fei/cmake/Dependencies.cmake#L2

Best practice would be for FEI to use macros to protect code that depends on Epetra.  Not sure if anyone wants to touch FEI, though, so perhaps we should just make Epetra mandatory.  @alanw0 , what do you think?

[2019-07-30 17:26] tjfulle commented on #5594
I wasn't planning on touching FEI, apart from making Epetra mandatory.  @alanw0 if that is what we want, I'll do it.

[2019-07-30 17:32] mhoemmen commented on #5592
Right, this is the only way that MueLu plans to permit enabling both Epetra and Tpetra support.  However, one could always enable Epetra but disable support for Epetra in Amesos2, Xpetra, and MueLu.

[2019-07-30 17:45] lucbv commented on #5593
@tjfulle I think my build is passing Galeri but now fails in Domi.
I will disable it and see if it goes all the way through, but in my opinion the galeri issue is resolved.

[2019-07-30 17:52] alanw0 commented on #5594
@mhoemmen If we want to remove FEI from trilinos and Sierra is the last user of it, then I suppose we could just adopt a snapshot of FEI into Sierra and then Trilinos could drop it.
@tjfulle If you are willing to go ahead and make Epetra mandatory in FEI, that would be great, thanks!

[2019-07-30 18:01] tjfulle commented on #5592
Not quite yet, I still have 3-4 packages that won’t build with deprecated code disabled - but we’re getting there!

[2019-07-30 18:04] tjfulle commented on #5593
Dome fails to build if Tpetra deprecated code is disabled.  Sigh...

[2019-07-30 19:14] fryeguy52 opened #5599 "Build failures in ATDM cuda 9.2 "pt" builds"
## Bug Report
CC: @trilinos/rol, @trilinos/panzer  @trilinos/domi @trilinos/shylu @trilinos/stokhos @trilinos/trilinoscouplings

@rppawlo @kddevin @mperego @srajama1  @bartlettroscoe

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Kee

[2019-07-30 20:17] jhux2 commented on #5595
@tjfulle I will take this.

[2019-07-30 20:29] jhux2 commented on #5591
@vbrunini Could you please post your cmake script?

[2019-07-30 20:30] jhux2 commented on #5591
@trilinos/xpetra

[2019-07-30 20:51] bartlettroscoe commented on #5599
@rppawlo (Trilinos Nonlinear Solvers Product Area Lead)
@kddevin (Trilinos Data Services Product Area Lead)
@mperego (Trilinos Discretizations Product Area Lead)
@srajama1 (Trilinos Linear Solvers Product Area Lead)

These `pt` builds enable all Primary Tested packages, beyond what ATDM needs.  We set up and monitor these builds as a broader service to other Trilinos customers like Sierra (which i

[2019-07-30 20:58] tjfulle opened #5602 "Tpetra: Removal of deprecated code meta issue"
## Bug Report
@trilinos/tpetra

### Description
Meta issue to track work to remove deprecated code from @trilinos/tpetra

The work (so far) concentrates on two configurations, each with deprecated code **disabled**:

1. Tpetra's global ordinal = `int` (`TPETRA_INST_INT_INT:BOOL=ON`)
2. Tpetra's global ordinal = the default value (`long long int`)

Each configuration has build and/or test problems

[2019-07-30 21:00] tjfulle commented on #5602
# Status for `GlobalOrdinal=int`, `LocalOrdinal=int`

## Configuration and Build

With deprecated code disabled and using the default Tpetra `GlobalOrdinal`, the
build fails due to inconsistencies between Tpetra's global ordinal and Epetra.
For instance, Xpetra fails to build because it requires that Tpetra's global
ordinal be `int` when Epetra is enabled.  The solution is to disable Epetra
suppor

[2019-07-30 21:03] tjfulle commented on #5602
# Status with `GlobalOrdinal=<default>` and `LocalOrdinal=<default>`

## Configuration and Build

Like the previous comment, with deprecated code disabled, all downstream packages enabled, and using the default Tpetra GlobalOrdinal, the build fails for a variety of reasons.  Many packages need to be disabled to get a build to completion.

Note, the configuration options file below requires that
${

[2019-07-30 21:06] lucbv commented on #5593
@tjfulle see PR #5593 above, I think it should do the trick.
Of course I could not get things to build completely with Tpetra deprecated code off, however I am able to compile everything with Epetra=OFF now.
Hopefully this is good enough for your needs?

[2019-07-30 21:07] tjfulle commented on #5536
Superseded by #5602

[2019-07-30 21:07] #5536 closed

[2019-07-30 21:21] tjfulle commented on #5593
Thanks @lucbv!

[2019-07-30 21:23] jhux2 commented on #5595
@tjfulle This was a simple fix.  PR is in.

[2019-07-30 22:22] #5564 closed

[2019-07-30 22:45] tjfulle opened #5604 "Moertel: Build failure with Epetra disabled"
## Bug Report
@trilinos/moertel

### Description

Moertel requires that if any of

- EpetraExt
- Amesos
- AztecOO
- Ifpack
- ML

is enabled, they all must be enabled.

A problem arises in the following configuration:

[code]

because Tpetra is pervasive throughout Trilinos, one of EpetraExt, Amesos, AztecOO, Ifpack, or ML gets enabled due to downstream code being enabled.  So is Moertel.  The conf

[2019-07-30 23:08] bartlettroscoe commented on #5604
@tjfulle asked:

Yes, the general strategies  for doing this are described in:

* https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-check-for-and-tweak-tribits-enable-cache-variables

What you want to do is to put in logic that if any of the these packages are explicitly disabled (i.e. `("${${PROJECT_NAME}_ENABLE_<PackageName>}" NOT STREQUAL "" AND NOT ${PROJECT_NAME}_ENABLE_<PackageName>

[2019-07-30 23:11] tjfulle commented on #5604
Thanks @bartlettroscoe !  I'll go for the first route, since it will be quick and easy and is holding up work on Tpetra's deprecations.

[2019-07-31 04:28] vbrunini commented on #5591
For the cmake script see https://github.com/trilinos/Trilinos/issues/5148 and turn off ETI (though I'm guessing @william76 was able to reproduce this already based on the issue traffic).

As an aside, it would be really nice to get an automated build using that configure script (which is the Sierra configuration of Trilinos right now) added as a CI or nightly Trilinos build if possible.

[2019-07-31 14:27] fryeguy52 commented on #5599
@bartlettroscoe can any of these be closed?

#3543 "ROL tests failing in targeted CUDA PR build Trilinos-atdm-white-ride-cuda-9.2-release-debug-pt"

#4551 "New STKUnit test failing in ATDM CUDA PT build on white"

#3749 "TrilinosCouplings build and test failures in the build Trilinos-atdm-white-ride-cuda-9.2-release-debug-pt starting 2018-10-24"

#4042 "Zoltan test diff failures in targeted CUDA P

[2019-07-31 14:35] lucbv commented on #5593
@tjfulle the PR merged so you should be able to test this.
Let me know how it goes and we might be able to close this issue and #1033 : )

[2019-07-31 14:35] alanw0 commented on #4551
I believe this was fixed.

[2019-07-31 14:37] tjfulle commented on #5604
Turns out `-D Trilinos_ENABLE_ALL_FORWARD_DEP_PACKAGES=ON` explicitly sets `Tpetra_ENABLE_Moertel=ON` (for the original configuration shown), ie, there is no way to detect if the package is set only because it is a forward dependent of `Tpetra` and not explicitly by the user.  There might be a way to do what I want in `moertel/cmake/Dependencies.cmake`, but it's not a priority.

[2019-07-31 15:06] ZUUL42 commented on #3178
`-Werror` has now been set globally for the GCC 7.2.0 PR build.

[2019-07-31 15:31] fryeguy52 opened #5611 "SEACAS: builds failures in ATDM waterman and cee-rhel6 builds"
## Bug Report
CC: @trilinos/seacas, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @gdsjaar

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2019-07-30&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=Trilinos-atdm-&field2=buildstarttime&c

[2019-07-31 16:07] mhoemmen commented on #5594
@alanw0 wrote:

That's something we should do eventually, but I think it's better if we do one thing at a time.  This round of changes intends to make Trilinos build correctly with `Tpetra_ENABLE_DEPRECATED_CODE=OFF`.

[2019-07-31 16:25] mhoemmen commented on #5591
@trilinos/framework See Victor's remark above.

[2019-07-31 16:32] bartlettroscoe commented on #5604
@tjfulle said:

Can you give a concrete example of what you are seeing?   That option should **not** enable any packages that have been disabled like Moertel (which should be disabled if any of its dependent packages are explicitly disabled as described [above](https://github.com/trilinos/Trilinos/issues/5604#issuecomment-516629507)).  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#di

[2019-07-31 17:09] kyungjoo-kim commented on #5540
@tjfulle I just compiled the code with deprecated off and inst int int ON. It compiled ROL examples and tests. Could you give me a more specific Tpetra configuration  ? I tested the default one too but it does not cause a compile problem.

[2019-07-31 17:12] kyungjoo-kim commented on #5540
Do I need to turn on warning as an error  ?

[2019-07-31 17:21] tjfulle commented on #5540
@kyngjoo-kim, see https://github.com/trilinos/Trilinos/issues/5602#issuecomment-516594843 for the config.  It could be that this has already been fixed by the ROL developers?

[2019-07-31 17:22] tjfulle commented on #5540
@kyungjoo-kim note, the config linked in the last comment disables ROL's examples, you would need to remove that line.

[2019-07-31 17:35] ikalash commented on #5479
My apologies for the delay @gsjaardema .  Here are scripts you can use to reproduce the issue on the CEE.

Trilinos configure script and modules:
https://github.com/SNLComputation/Albany/blob/luca/bisection_tweaks/doc/do-cmake-trilinos-cee-gcc
https://github.com/SNLComputation/Albany/blob/luca/bisection_tweaks/doc/modules_cee_gcc.sh

Albany configure script:
https://github.com/SNLComputation/Alban

[2019-07-31 17:36] ikalash commented on #5479
As I said, if you pull this commit, you will see the issue described above: 12cd80bbbdf88ce3ad2f7b4e7077419bf6d07aa0  .

If you pull one commit earlier, the issue is not there.

An interesting symptom is if you do a debug build with the sha 12cd80bbbdf88ce3ad2f7b4e7077419bf6d07aa0 , things are good again.

Please let me know if you have any questions or encounter any issues.  Thanks again for bein

[2019-07-31 17:59] bartlettroscoe commented on #4551
It is not fixed:

* https://testing-dev.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4756558

[2019-07-31 18:23] kyungjoo-kim commented on #5540
@tjfulle now I see some errors..

[2019-07-31 18:46] tjfulle commented on #5593
Looks good on my end.  I did not try installing Trilinos, so I can't say that #1033 is also resolved.

[2019-07-31 18:46] #5593 closed

[2019-07-31 18:56] tjfulle opened #5614 "MueLu: Failing tests with Tpetra deprecated code disabled"
## Bug Report
@trilinos/muelu

Part of: #5602
### Description

With Tpetra's deprecated code disabled, many MueLu tests fail for `GlobalOrdinal=[int,long long int]`

#### If `GlobalOrdinal=int`

See the full configuration at https://github.com/trilinos/Trilinos/issues/5602#issuecomment-516593697

-  [x] MueLu_BlockedTransfer_Tpetra_MPI_4: see issue #5629
-  [x] MueLu_DriverEpetra_CircNspDependency

[2019-07-31 19:02] tjfulle opened #5615 "Zoltan2: Test failures with Tpetra deprecated code disabled"
## Bug Report
@trilinos/zoltan2

Part of: #5602
### Description

With Tpetra's deprecated code disabled, many Zoltan2 tests fail for `GlobalOrdinal=[int,long long int]`

-  Zoltan2_GraphModel2ndAdjsFromAdjs_MPI_4
-  Zoltan2_Metric_MPI_4
-  Zoltan2_TaskMapper_MPI_4
-  Zoltan2_TaskMappingProblemTest_MPI_4
-  Zoltan2_componentMetrics_MPI_4
-  Zoltan2_pamgenMeshAdapterTest_ghosthg_MPI_4
-  Zoltan2_sim

[2019-07-31 19:07] tjfulle opened #5616 "Tempus: Test failures with Tpetra's deprecated code disabled"
## Bug Report
@trilinos/tempus

Part of: #5602

### Description

With Tpetra's deprecated code disabled, many Tempus tests fail for `GlobalOrdinal=int`:

- Tempus_BDF2_Combined_FSA_MPI_1
-  Tempus_BDF2_MPI_1
-  Tempus_BackwardEuler_Combined_FSA_MPI_1
-  Tempus_BackwardEuler_MPI_1
-  Tempus_BackwardEuler_Staggered_FSA_MPI_1
-  Tempus_DIRK_ASA_MPI_1
-  Tempus_DIRK_Combined_FSA_SDIRK_5_Stage_4th_Orde

[2019-07-31 19:08] tjfulle commented on #5616
@kddevin can you assign the Trilinos developer that was going to look at this?

[2019-07-31 19:14] tjfulle opened #5617 "ShyLU: Tests failures with Tpetra's deprecated code is disabled"
## Bug Report
@trilinos/shylu

Part of: #5602

### Description

With Tpetra's deprecated code disabled, 2 ShyLU tests fail for `GlobalOrdinal=int`:

- ShyLU_DDFROSch_test_thyra_xpetra_laplace_TLP_IPOUHarmonic_DIM2_DPN2_ORD0_TPETRA_MPI_4
- ShyLU_DDFROSch_test_thyra_xpetra_laplace_TLP_IPOUHarmonic_DIM2_DPN2_ORD1_TPETRA_MPI_4

See the full configuration for `GlobalOrdinal=int` at https://github.com/t

[2019-07-31 19:15] tjfulle commented on #5617
@kddevin can you assign the Tpetra team member that was going to look at this?

[2019-07-31 19:18] tjfulle opened #5618 "ShyLU: build failures with Tpetra's deprecated code disabled"
## Bug Report
@trilinos/shylu

Part of: #5602

### Description

With Tpetra's deprecated code disabled, ShyLU fails to build with the configuration at `GlobalOrdinal=long long int` at: https://github.com/trilinos/Trilinos/issues/5602#issuecomment-516594843 (removing the lines disabling ShyLU, of course)

The build failure could be due to `GlobalOrdinal=long long int`, or Epetra being disabled?

[2019-07-31 19:20] tjfulle commented on #5618
@kddevin could you assign the Tpetra team member that was going to look in to this?

[2019-07-31 20:20] lucbv commented on #5614
@tjfulle I will give it a look, after re-configuring according to the instructions in #5602 I notice that a lot of packages are enabled. I will at least disable SEACAS, STK and PANZER to save on build time, do you see any reason for it to change the results of the build/tests?

[2019-07-31 20:22] tjfulle commented on #5614
@lucbv no reason to enable everything.  The configuration is based on PR testing configuration, which is overkill for fixing these tests, I am sure.  I would enable only what you need.

[2019-07-31 20:24] tjfulle commented on #5614
But do note, if you work off of trilinos:develop, it may not build.  the branch referenced in #5602 has a bunch of fixes that have not made it back to develop (yet)

[2019-07-31 20:32] lucbv commented on #5614
I see, I have a build that is half-way through so far so I will let it continue and if it fails I'll switch to your branch to fix the tests.
I am working on this "in the background" so I might not be lightning fast... let me know if there is great urgency? Based on all the failing tests you report I am guessing I have a bit of time though ; )

[2019-07-31 20:37] tjfulle commented on #5614
No urgency.  I suspect that one or two fixes will fix all the tests.

Since you are only building through MueLu you may not need to use my branch - the fixes are mostly for packages downstream of MueLu

[2019-07-31 20:41] lucbv commented on #5614
No I got unlucky and some belos Epetra adapter died on me so I added your fork as a remote and I am building off of your branch.
How do you want me to submit my fixes though: should I do a PR to your fork or patch Trilinos/develop?
My guess is the later since it might be cleaner?

[2019-07-31 20:46] tjfulle commented on #5614
Note that the configuration I built with disables Epetra (leading to the previous issue with Galeri).  It may not build with Epetra enabled.

Feel free to push to my branch (you should have write permissions as a Trilinos developer), or open a PR against trilinos:develop.  I plan to split the changes I have already made in my branch out by package and open separate PRs for each, so it would probab

[2019-07-31 21:03] jjellio opened #5619 "Trilinos: Add support for scalable, advanced architecture performance testing"
Performance tracking seems to come up frequently, with various groups all hand-rolling approaches.  Trilinos as a product would benefit from an extensible testing framework that supports performance testing. Since we utilize Cmake, Ctest, and Cdash in many places (e.g., projects beyond Trilinos have adopted this), I way forward for performance tracking would be to leverage workflows that projects

[2019-07-31 21:09] ikalash commented on #5619
Tagging Jerry: @jewatkins.

[2019-07-31 21:21] jhux2 commented on #5619
@pwxy @DavidPoliakoff

[2019-07-31 21:52] jewatkins commented on #5619
I agree, if we can construct something around cmake, ctest, cdash, I think that would be ideal. Adding some more relevant discussion points based on our email thread:

Data storage:
 - Should be robust, easy to maintain or tied into existing infrastructure
 - Irina reports cdash as not being reliable. Can we post-process and store relevant data somewhere else?

Post processing/Visualization (i.e.

[2019-07-31 22:01] kyungjoo-kim commented on #5540
Hi @tjfulle I pushed into the issue-5536 branch. At least it compiles with deprecation code off. I also found that you already finish all changes related to getNode and clone. My fix is on the mismatch between local use of int type and Tpetra global ordinal type.

[2019-07-31 22:07] DavidPoliakoff commented on #5619
I'll post the comparison to what LLNL has done, @jjellio has heard this before. This isn't a "all (or any) of what's being said here is wrong," in fact I really like the ease of the CTest/CDash based model, but just to provide a point of comparison from another site that's looking at the same problems.

At LLNL, the philosophy being pushed or this and other performance concerns was having a tool w

[2019-07-31 22:12] lucbv commented on #5614
@tjfulle so I looked at this test: `MueLu_UnitTestsTpetra_MPI_1` and I see that two of the unit-tests are failing because of a call to `Tpetra::MatrixMatrix::Multiply` which does not seem compute the number of non-zeros of the output matrix correctly and dies because of the following error:
[code]

For info here is the full gdb backtrace I have for this throw: [matmatmult_backtrace.txt](https://gi

[2019-07-31 22:15] tjfulle commented on #5614
The runtime error is from DynamicProfile being deprecated.  DynamicProfile is deprecated so any graph/matrix that MueLu constructs will have to be given an upper size limit for entries in a row.  Does that make sense?

[2019-07-31 22:17] lucbv commented on #5614
Sure but how do I guess that number of a matrix that is the result of the multiplication of two matrices?
I would have assumed that in that case Tpetra does the calculation for me, otherwise I might as well re-implement the symbolic phase of MatMatMult?

[2019-07-31 22:19] tjfulle commented on #5614
@csiefer2 @jhux2 isn’t there an overload of MMM for this use case?

[2019-07-31 22:26] jewatkins commented on #5619
caliper seems like it might tie nicely with [kokkos-tool](https://github.com/kokkos/kokkos-tools). Everything of importance is probably wrapped in some kokkos hook at this point.

[2019-07-31 22:27] jjellio commented on #5619
I think what David points out can be broken into pieces:
1)   Data generation.
2)  Data presentation

Data generation is via `Caliper`.  I think it is fair to pair `Caliper` to `Kokkos Profiling` (KokkosP).  And in a more basic sense, to `Teuchos`.
Suppose that CTest drives the process, so long as the output of whatever is posted to Stdout, there is nothing that would stop a tool from parsing that

[2019-07-31 22:28] bartlettroscoe commented on #5619
Seems like getting ctest/cdash to support arbitrary key/value pairs should be doable.  We can scope this out and add this to the FY20 Kitware contract (still being scoped out right now).

But if you are willing to read the test STDOUT to get the TEuchos Timers, could you not just read these properties printed at the top of the test output?  For example, when using `TRIBITS_ADD_ADVANCED_TEST()`, yo

[2019-07-31 22:29] bartlettroscoe commented on #5619
Can someone provide some evidence for that?  Our usage of CDash for ATDM shows it is pretty robust.

[2019-07-31 22:32] cgcgcg commented on #5614
@tjfulle Is it possible that `C_estimate_nnz` in `TpetraExt_MatrixMatrix_def.hpp` is not doing the correct thing when one of the matrices only has one entry per row?

[2019-07-31 22:33] lucbv commented on #5614
@tjfulle I did a bit of investigation already into the wrapper we are using and I can't imagine that it does the wrong thing are almost every single test in MueLu would fail.
This error is more likely due to a bad estimation of the number of non-zero per row from the Tpetra implementation of the MMM.
@mhoemmen do you recall what the expectations are on matrix `C` computed with MMM as `C=A*B`?

[2019-07-31 22:34] jjellio commented on #5619
@bartlettroscoe

Even if I chose to parse the the advanced output, it still is not sufficient. (I want app devs to annotate *their* tests with whatever metadata they want.

We can do this. I think Tribits can do it.

I figured out how to add arbitrary fields, but I have to do it manually:
If I edit a CTest file (for example):
[code]

I can add:
[code]

Now, if I run ` -D NightlyTest -R  KokkosCore

[2019-07-31 22:39] jjellio commented on #5619
Ross, I pulled the Mutrino CDash for Haswell, and have unit test data going back to Dec 2018.

It would be nice if the CDash maintainers could keep the data as long as possible.

[2019-07-31 22:41] jjellio commented on #5619
Btw, my prior use of `MEASUREMENT` is a bit of a hack. It would be nice if CTest/CDash could make it more natural to attach key/value pairs to a test. (They aren't measurements in my case, but it looks like I can stash the data there, and from a user perspective, they would just pass a list of Key/values to Tribits' add_test)

[2019-07-31 22:43] DavidPoliakoff commented on #5619
@jewatkins : yep, I certainly thought so ;) https://github.com/kokkos/kokkos-tools/pull/62

[2019-07-31 22:51] ikalash commented on #5619
@bartlettroscoe : regarding CDash being unreliable - perhaps "unreliable" isn't the best word.  My understanding is the CDash data lives somewhere on a server, and we have a set of licenses for various CDash sites.  A given license may have a quote as to how much data can be stored under it.  I think some of the CDash sites are configured to throw away data that is N days, months, or years old.  T

[2019-07-31 22:53] bartlettroscoe commented on #5619
When we talk about pulling data off of CDash, we are talking about the CDAsh API that returns JSON data, right?  You can see where we do that with the TriBITS `cdash_analyze_and_report.py` tool:

* https://github.com/TriBITSPub/TriBITS/blob/master/tribits/ci_support/cdash_analyze_and_report.py

[2019-07-31 22:54] bartlettroscoe commented on #5619
@ikalash said:

We have our own CDash sites at SNL and we can accommodate huge amount of data.  CDash is free so there is no reason not to host your own CDash site.

[2019-07-31 22:58] bartlettroscoe commented on #5619
I talked with Kitware about phased data retention strategies where some types of data would be keep for a long time (even years) while less critical but large data (like detailed STDOUT output) could be purged as you go back in time.

[2019-07-31 23:00] ikalash commented on #5619
@bartlettroscoe : I think the rationale for having an external site was to allow non-Sandians to see the output from some of the Albany nightlies, and also to push to the site (e.g. we have collaborators at RPI who had nightlies at some point).  I feel like we did have an issue with our internal CDash site going down and losing data at some point too (we have an internal Albany CDash site as well)

[2019-07-31 23:02] bartlettroscoe commented on #5619
@ikalash, our sites testing.sandia.gov/cdash and testing-dev.sandia.gov/cdash are 100% open to be read and pushed to.  Try going to:

* https://testing-dev.sandia.gov/cdash/

on your phone for example.

[2019-07-31 23:23] jclause commented on #5557
This was a problem on our end where we didn't respect the link ordering of libmuelu_lgn and libmuelu. I'm happy closing this issue now.

[2019-07-31 23:25] tjfulle commented on #5614
In preparation for removing DynamicProfile I changed Tpetra’s import/export to have the ability to change a graph’s structure - I thought this was being used by MMM so that the target of MMM could be altered to accommodate unknown entries, but I’m unsure.  I’m unfamiliar with MMM, @csiefer2 should know

[2019-07-31 23:27] bartlettroscoe commented on #5619
Just to clarify, I see CDash as a convenient way to store and extract various types of data about our testing.  But long-term refined/filtered performance data retention should likely go into another system  where it will be very fast to query and can store for many years.

[2019-07-31 23:37] ikalash commented on #5619
@bartlettroscoe: yes I know.  This is why I don't know why Glen set up the external one.  There must have been a reason at the time.

[2019-08-01 00:37] bartlettroscoe commented on #5599
CC: @mhoemmen

@jfrye asked:

Since these are failures that are almost guaranteed to bite at some point (since GO=int is going away soon), we should keep these issues open.  But we might just remove the `client: ATDM` label and wash out hands of them and these `-pt` builds.  Some of those issue have been open for nearly a year.

[2019-08-01 07:41] srinadhupreetham opened #5622 "ML: free() corrupted unsorted chunks whileusing ml epetra multi level preconditioner"
## Question
@trilinos/ML

Error while using MultiLevelPredonditioner In MLEpetra
![issue](https://user-images.githubusercontent.com/20642187/62274576-c913ff80-b45d-11e9-91e7-5eb6b1190428.png)

[2019-08-01 08:06] mayrmt commented on #5622
@trilinos/ml

[2019-08-01 10:12] #5594 closed

[2019-08-01 13:41] ccober6 commented on #5616
How did this get through testing and get committed?

@kddevin  We need this fixed in the next day or two as it is holding up my development and develop on EMPIRE.  If this is not possible, the offending commit needs to be reverted as soon as possible.  Sorry but this is really a problem.

[2019-08-01 13:43] tjfulle commented on #5616
@ccober6 - sorry for the confusion - these tests don't fail with Trilinos' current default PR settings.  They fail when Tpetra's deprecated code is disabled.  As part of #5602, we are preparing packages downstream from Tpetra for the removal of the deprecated code.

[2019-08-01 13:45] bartlettroscoe commented on #5525
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug&field2=testname&compare2=61&value2=TpetraCore_AddProfiling_UnitTests_MPI_4&field3=site&compare3=61&value3=sems-rhel7&field4=buildstarttime&compare4=

[2019-08-01 13:47] ccober6 commented on #5616
Hmm...  I pulled develop yesterday, and seemed to get errors related to this?!   This there some other problem?

[2019-08-01 13:49] tjfulle commented on #5616
I'm not sure about any other problems.  The tests above fail when `Tpetra_ENABLE_DEPRECATED_CODE:BOOL=OFF`.  In the coming weeks, @trilinos/tpetra plans to remove deprecated code - hence the push to clean up packages downstream of Tpetra.

[2019-08-01 13:52] ccober6 commented on #5616
Ok sounds good.  I will take a closer look at the failures with my develop build.  Thanks for the clarification!

[2019-08-01 13:53] bartlettroscoe commented on #4159
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-intel-18.0.5-openmp-complex-shared-release-debug&field2=testname&compare2=61&value2=Belos_Tpetra_HybridGMRES_hb_test_1_MPI_4&field3=site&compare3=61&value3=sems-rhel7

[2019-08-01 14:17] ccober6 commented on #5616
So ...  here is what I am seeing on my Mac OS 10.14 with Trilinos develop (90b0f995fdededc757fe38cefae9fbe555a96877)

[code]
and
[code]
Is just a problem on the Mac?  This is a clean build and I have attached my configure and build logs.

[build_tempus_s1037643_mac_gcc.sh.log](https://github.com/trilinos/Trilinos/files/3457140/build_tempus_s1037643_mac_gcc.sh.log)

[configure.log](https://github.c

[2019-08-01 14:21] tjfulle commented on #5616
I haven't seen that particular error.  @william76 could this be related to ETI work in @trilnos/xpetra ?

[2019-08-01 15:14] mhoemmen opened #5624 "kokkos-kernels: KokkosSparse::spmv build error due to warning"
## Bug Report
@trilinos/kokkos-kernels

### Description

This is a mirror of https://github.com/kokkos/kokkos-kernels/issues/448.

[2019-08-01 15:33] lucbv opened #5625 "MueLu: Pcoarsen factory uses dynamic CrsGraph allocation"
## Bug Report
@trilinos/muelu

### Description
As can be seen [here](https://github.com/trilinos/Trilinos/blob/0193ca84a98452528343e362b77a0f61ee757ac3/packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_def.hpp#L611) and [here](https://github.com/trilinos/Trilinos/blob/0193ca84a98452528343e362b77a0f61ee757ac3/packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_def.

[2019-08-01 15:53] kddevin commented on #5616
This sounds like a problem in the Xpetra instantiation work that @william76 and @trilinos/xpetra are doing.  It would be unrelated to the Tpetra deprecation.

[2019-08-01 15:54] kddevin commented on #5616
I think @brian-kelley will be helping with the Tpetra deprecation work.

[2019-08-01 15:59] william76 commented on #5616
@ccober6 @kddevin
The cause of the error is a fun chain of included files with BlockedMultiVector and MultiVectorFactory.

I believe I have this fixed already in my branch for PR #5605 that I'm working on related to the bug reported in #5591 but I haven't let that PR go in because tracking down the errors with ETI off has been more stubborn than I'd like.

Also, building without ETI takes a long t

[2019-08-01 16:28] lucbv commented on #5614
@tjfulle the above PR #5628 should fix the issue with the variable dofs per node test.
It was relatively straightforward so I don't expect problems with the auto-tester.
Moving on to the BlockedTransfer test.

[2019-08-01 16:29] tjfulle commented on #5614
Thanks @lucbv!

[2019-08-01 16:32] jhux2 commented on #5595
This was already fixed in head:
 https://github.com/trilinos/Trilinos/blob/0193ca84a98452528343e362b77a0f61ee757ac3/packages/muelu/example/basic/CMakeLists.txt#L18

I will leave this open until you verify it works for you.

[2019-08-01 16:37] tjfulle commented on #5595
Thanks @jhux2!  I think it is working.  I'll leave it open a while longer until the other MueLu work related #5602 is finished.

[2019-08-01 16:39] brian-kelley commented on #5525
#5626 should fix both of these. At least, I think the timeouts are a manifestation of the matrix being wrong, and making the all-reduce deadlock.

[2019-08-01 17:00] jhux2 commented on #5622
@srinadhupreetham Is this happening in an ML test or example, or in your own application?  If the latter, please provide a reproducer program or instructions how this might be reproduced.  Was this serial or parallel?   What platform, compiler, etc.?

[2019-08-01 17:01] lucbv commented on #5614
So the `BlockedTransfer` test fails because it uses the Petrov-Galerkin prolongator factory which uses the MatMatMult operation from Xpetra/Tpetra.
We might want to create a seperate issue for that to track it properly between MueLu/Xpetra and Tpetra.
This pretty much concludes the work for `GlobalOrdinal=long long int` in the sense that everything is fully triaged, root cause for failures are cle

[2019-08-01 17:02] jhux2 commented on #5557
@jclause Thanks for the update.  I will close.

[2019-08-01 17:02] #5557 closed

[2019-08-01 17:18] lucbv opened #5629 "Xpetra/Tpetra: MatrixMatrixMultiply fails with Tpetra deprecated code OFF"
## Bug Report
@trilinos/xpetra @trilinos/tpetra
@tjfulle @mhoemmen @jhux2 @csiefer2

This issue is related to the work done in issue #5614 and probably needs to be tracked separately from the rest of the work done there.

### Description
MueLu's Petrov-Galerkin prolongator factory is failing when Tpetra deprecated code is off.
A gdb trace leads to the MMM kernel as the culprit, see [here](https://

[2019-08-01 17:29] mhoemmen commented on #5614
Not off-hand.  @csiefer2 is the expert here.

[2019-08-01 17:32] mhoemmen commented on #5616
Now y'all know how the Sierra developers feel ;-)

[2019-08-01 17:35] srinadhupreetham commented on #5622
This is happening in the modified ml_preconditioner.cpp
Can you please refer to the code file attached

[preconditioner.zip](https://github.com/trilinos/Trilinos/files/3458019/preconditioner.zip)

[2019-08-01 17:38] mhoemmen commented on #5625
Be careful with increased memory use.  I worry that this DynamicProfile deprecation will make MueLu's memory footprint blow up a lot.

[2019-08-01 17:49] mhoemmen commented on #5622
Please give us an actual code example as either an attached .cpp file, or an inline example in your comment.  It's not safe to unzip random zip files on the internet.

[2019-08-01 18:10] srinadhupreetham commented on #5622
#include "Epetra_Time.h"
#include "Epetra_Flops.h"
#include "Epetra_Version.h"
#include <fstream>
#include "ml_include.h"
#if defined(HAVE_ML_EPETRA) && defined(HAVE_ML_TEUCHOS) && defined(HAVE_ML_GALERI) && defined(HAVE_ML_AZTECOO)
#ifdef HAVE_MPI
#include "mpi.h"
#include "Epetra_MpiComm.h"
#else
#include "Epetra_SerialComm.h"
#endif
#include "Epetra_Map.h"
#include "Epetra_Vector.h"
#include "E

[2019-08-01 18:15] lucbv commented on #5625
@mhoemmen, that could happen depending on how we handle that problem.
The truth is. for our main algorithms such as TentativeP, SA and now GeometricInterpolation, we have already done enough optimization and use the expertStaticFillComplete where appropriate. The cost will mainly be felt for newer more experimental algorithms and as long as they do not have serious HPC customers it's probably fine

[2019-08-01 18:29] kddevin commented on #5616
Maybe we can move further ETI discussion elsewhere, as it isn't related to the deprecation issue here.

[2019-08-01 18:39] balay opened #5630 "muelu: build error on OSX [xsdk/spack]"
trilinos@develop build fails on OSX [with xcode clang+gfortran] build.

Attaching the build log

cc: @jwillenbring @keitat
[spack-build-out.txt](https://github.com/trilinos/Trilinos/files/3458216/spack-build-out.txt)

[2019-08-01 18:52] gsjaardema commented on #5479
Any idea what to do if the test passes?   I built optimized with the settings you gave and the correct commit, but the test passes...
[code]

[2019-08-01 18:57] ikalash commented on #5479
@gsjaardema : sorry for the confusion.  The way the test is written, ctest will report it as passing even with this issue - this is showing a deficiency in how the test is written, and the reason why this slipped through the cracks for so many months.  To see the problem, you need to execute the command "ncdump -h cuboid_00.e" on one of the exodus files produced when you run the test (cuboid_00.e)

[2019-08-01 18:59] ikalash commented on #5479
We'd like to understand what in 12cd80bbbdf88ce3ad2f7b4e7077419bf6d07aa0 caused the attempts to write the solution to the Exodus file to not happen, when they were happening correctly prior to this commit.

[2019-08-01 19:53] mhoemmen commented on #5622
I added triple backquotes to your code sample to improve formatting.  Can you simplify this further by removing the ifdef-related code paths that never get compiled?  Right now we see two `main` definitions, which doesn't make any sense.

[2019-08-01 20:01] gsjaardema commented on #5479
OK thanks.  That makes sense now.

[2019-08-01 20:04] mhoemmen commented on #5625
Just beware the "surprise customer" :-)

[2019-08-01 20:16] jjellio commented on #5619
CDash is not intended as the data repository.  CTest and CDash is the *interface* to the various data.    Why CTest? Because workflows already use it. Why CDash? Because it encapsulates, transmits, and stores data in a predictable fashion.

My tool, *pulls* from CDash, *takes what I want*, organizes it into SQL tables, and stores it *on another server*.  The CDash data as provided is not rich enou

[2019-08-01 20:17] mhoemmen commented on #5630
@trilinos/muelu @trilinos/xpetra I had also reported this [here](https://github.com/trilinos/Trilinos/issues/5557#issue-470636975), but that issue got conflated with another issue that got fixed.  The original Clang build issue remains.

[2019-08-01 20:28] ikalash commented on #5479
Great, let me know if you have any more questions/issue.

[2019-08-01 20:33] jhux2 commented on #5622
@srinadhupreetham Is the driver reading in the matrix `ash219.mtx` from https://math.nist.gov/MatrixMarket/data/Harwell-Boeing/smtape/ash219.html?  That matrix isn't even square.

[2019-08-01 20:40] bartlettroscoe commented on #5619
If it takes days to run the performance tests, then you would just have to run once a week or in a loop where you pull, build, invoke tests (blocking until they all run), submit to CDash, and then start again (however long that takes)

You don't need to install things in order to know the version info on CDash.  You can get that directly from CDash, even for multi-repo projects like SPARC (as it s

[2019-08-01 20:47] jjellio commented on #5619
It doesn't take *days* to run a performance test, it can *days* to get an allocation to run the 20 minute performance test.

Noone in their right mind is going to queue Build + Run on Trinity with 1024 nodes for 12 hours. So you can build the app in 11 hours (serially), and then spend 20 minutes doing actual 1024 node runs.

The prior point is why I want CTest to support the idea of being run outs

[2019-08-01 20:51] gsjaardema commented on #5479
Update, but not a cause/solution yet.  Looks like the data is being output and is making it to the exodus file.  If I run the optimized code in the debugger and stop at each call to `ex_put_time`, it does end up hitting that routine several times and then if I look at the file during and after execution, the data is in the file...

Looks like it is somehow related to flushing of the database.  I a

[2019-08-01 20:54] bartlettroscoe commented on #5619
CTest can run outside of a build.  You can create a dummy cmake project and just call `add_test()` to run anything you want.  You can do that with TriBITS too.  You can have a dummy package with nothing but tests that run (but don't build anything).

[2019-08-01 20:54] ikalash commented on #5479
Interesting - thanks for the update @gdsjaar .  Tagging @lxmota who will likely be interested - Alejandro, Greg is looking at the broken Schwarz I/O issue you discovered some time back.

@gdsjaar : as I said above, one interesting feature (that is somewhat bizarre to me), is the issue does not happen in a debug build - that may complicate debugging this in a debug build.

[2019-08-01 21:02] gsjaardema commented on #5479
The diff that broke` it is most likely line 4526 of `Iofx_DatabaseIO.C` where the `ex_update` call was removed.  Uncommenting this will give you a fragile fix as it relies on there being nodeset or sideset variables being output.  If there were no set variables, then this would not get hit and the file would not be flushed.  In other words, lucky that it worked before...

Adding the update back in

[2019-08-01 21:04] gsjaardema commented on #5479
Yes, makes sense that doesn't happen in debug build since there are sometimes more flushes in debug for some reason or even the extra time needed to run makes the OS do more flushing...

I think the debug run will be OK since I know what calls I am looking for and the call stacks.  Will definitely verify any fixes on an optimized run.

[2019-08-01 21:08] ikalash commented on #5479
Gotcha - thanks for the explanation.  Sounds good.

[2019-08-01 21:18] jjellio commented on #5619
What about CDash though? Could you post to a dashboard, if you didn't make a build? (Looking at the JSON, it seems their stuff relies on associating a 'test' with a 'build' <-- Which is great!)

Let's make a concrete example:
-  Domain scientist working on project wants to track performance of various things
    -  Scientist isn't a CMake wizard, but @jjellio showed him how to markup a test for pe

[2019-08-01 21:52] jjellio commented on #5619
And it's worth pointing, the arbitrary key/value data seems doable without any significant changes.  We can attach them as 'measurements', and hopefully CDash will store them.

The harder problem is how to define tests that need various number of nodes, and have CTest know how to run them.

[2019-08-01 22:31] bartlettroscoe commented on #5619
We should be able to define ctest tests by asking ctest to run a script which submits and blocking batch job that defines all of this info.  Since we can write that script that ctest runs anyway we want, we should be able to define a system that does that without any changes to CTest.  We can even provide TriBITS support for that if it can be implemented generically (with plugin support for the va

[2019-08-01 23:14] brian-kelley commented on #5525
#5626 was merged. I'll close this issue tomorrow after checking that those nightly tests passed.

[2019-08-01 23:21] jjellio commented on #5619
Ross, the meta-data I mention here, that should be used to define that script. My point, is that the metadata is useful for both running and for tracking the run.

If the script generates the run lines/batch submissions, then users aren't doing that (good).  And it ensures they are done consistently.  Logging the values into 'measurements' is just a nice way to have them annotated in the CDash JSO

[2019-08-01 23:23] bartlettroscoe commented on #5525
@brian-kelley, actually, since these tests are randomly failing we need to let them run for a long time before closing the issue.

[2019-08-01 23:30] jjellio commented on #5437
This should be closed.

I botched something, and this issue didn't see the PR:
https://github.com/trilinos/Trilinos/pull/5445

[2019-08-01 23:30] #5437 closed

[2019-08-01 23:46] lucbv commented on #5614
@tjfulle almost everything is now covered one way or another.
The main thing will be to take care of the MMM kernel but this will wait until next week when @csiefer2 is back from travel.
Regarding the `MueLu_ParameterListInterpreterTpetra_MPI_1` I'm too tired to look at it now so it'll probably wait until next week.
Once PR #5631 is merged, would you mind re-running the tests with all the changes

[2019-08-02 00:06] brian-kelley commented on #5602
@tjfulle I fixed the Ifpack2_AdditiveSchwarz_MPI_4 tests, and made a pull request into your branch "issue-5536". Is that the right way to merge it, or should I PR straight to origin/develop?

https://github.com/tjfulle/Trilinos/pull/2

[2019-08-02 00:26] bartlettroscoe commented on #5619
We can provide that info for each system as part of the ATDM Trilinos configuration system.  There are just a handfull of systems we care about so that is easy.

The only thing that should vary test-by-test is 'thread_per_process'.  That is why in #2422, I proposed a `NUM_THREADS_PER_PROC <numThreadsPerProc>` argument for `TRIBITS_ADD[_ADVANCED]_TEST()` (which is meaningless for GPUs but okay).

M

[2019-08-02 05:29] srinadhupreetham commented on #5622
I updated the code and yes this matrix is not square

[2019-08-02 05:39] #5622 closed

[2019-08-02 13:47] tjfulle commented on #5614
Thanks @lucbv!  I’m on travel till early next week, I’ll look then

[2019-08-02 14:24] bartlettroscoe commented on #5611
This is better explained in [SPAR-589](https://sems-atlassian-srn.sandia.gov/browse/SPAR-589) and was resolved by PR #5597.   You can see thse builds were clean of build errors [yesterday on CDash](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2019-08-01&filtercount=2&showfilters=1&filtercombine=or&field1=buildname&compare1=65&value1=Trilinos-atdm-cee-rhel6&field2=buildname&

[2019-08-02 14:24] #5611 closed

[2019-08-02 15:28] brian-kelley commented on #5617
@kddevin @tjfulle @trilinos/xpetra I have a fix for these, it was just about changing an Xpetra::MatrixFactory::Build() call with StaticProfile and the exact # entries per row. However, I noticed a couple of things that should probably be changed:

-Xpetra::CrsMatrix does not support getNumEntriesInGlobalRow(), which would be really useful for changes like this one. I had to do getGlobalRowView ag

[2019-08-02 16:39] mhoemmen commented on #5437
Thanks @jjellio ! :-D

[2019-08-02 16:55] mhoemmen commented on #5602
PR https://github.com/trilinos/Trilinos/pull/5573 merged, so Stokhos builds now with Tpetra deprecated code OFF and GO=int OFF.

[2019-08-02 17:32] jjellio commented on #5619
'threads_per_process' is one variable.

num_nodes
num_gpus
cores_per_process

It would make a whole lotta sense to have CTest accept these kinds of properties (which are rather arbitrary) - which is why my request for an interface to annotate a job with Key/Values makes sense.

Moreover,

CTest should expose the ability to list ENV variables the user wants exported.

E.g.,
[code]

That is, let the

[2019-08-02 17:33] jjellio commented on #5619
It would also be advantagous if these changes happen at CTest/CMake level (e.g., Kitware). That avoids a dependence on Tribits (which isn't really needed)

[2019-08-02 17:47] rppawlo opened #5635 "STK: missing ngp_test.hpp file"
@alanw0 - I'm seeing the failure below when building the current trilinos on my rhel6 workstation.

/ascldap/users/rppawlo/Trilinos/packages/stk/stk_unit_test_utils/unit_main_lib/UnitTestMain.cpp:39:10: fatal error: stk_ngp_test/ngp_test.hpp: No such file or directory
 #include <stk_ngp_test/ngp_test.hpp>
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~

The enabled packages are:

Processing enabled package:

[2019-08-02 17:57] william76 commented on #5591
@vbrunini I merged in my fix today that should address this error, but I'm not 100% sure since I wasn't able to exactly match your configuration that you noted in #5148 ... when you have a chance can you send me a list of what modules you guys load and other environment stuff, preferably modules that are available on cee-compute systems?
When you get a chance, can you see if you can kick off a re-

[2019-08-02 18:00] alanw0 commented on #5635
@rppawlo Thanks Roger, I'll take a look at that.

[2019-08-02 18:27] bathmatt opened #5636 "Panzer: Memory access bug"
## Bug Report
@trilinos/panzer

@seamill this is yours

### Description

In this file
Panzer_LocalPartitioningUtilities.cpp
you have a memory access bug, not sure what it is supposed to be doing but

around line 360 you do

[code]

partition_cells.size() is less values of i is partition_start_index > 0

Found with address sanitizer..

[2019-08-02 18:27] bathmatt commented on #5636
@rppawlo @eric-c-cyr

[2019-08-02 18:39] vbrunini commented on #5591
Looks like your fix did the trick for the Xpetra issues. Found a small ifpack2 issue as well that I just submitted PR #5638 for and with that I got a successful build.

[2019-08-02 18:40] mhoemmen commented on #4360
Answered.

[2019-08-02 18:40] #4360 closed

[2019-08-02 18:41] mhoemmen opened #5639 "Tpetra: Remove RTI"
## Enhancement
@trilinos/tpetra

It hasn't built and hasn't been enabled by default for years.

[2019-08-02 18:45] seamill commented on #5636
Ha, I remember this one. @bathmatt Why are you using ghosted worksets in EMPIRE? Maybe the L2 projection... I'll fix this.

[2019-08-02 18:50] seamill commented on #5636
@bathmatt If you want a quick fix on the empire side, you should just be able to set the workset size to -1 (== pazer::WorksetSizeType::ALL_ELEMENTS). The issue here is we're trying to partition a workset containing connectivity information, and doing it poorly (hasn't been setup yet). If you include all elements in the workset (like EMPIRE-Fluid does), you won't have this issue. This is currently

[2019-08-02 18:51] brian-kelley commented on #5617
See #5637. I ended up adding "getNumEntriesInGlobalRow()" to Xpetra.

[2019-08-02 18:52] bathmatt commented on #5636
I'm not trying to use it, just ran the unit tests and found it

[2019-08-02 18:54] ctanis commented on #2518
@mhoemmen that's great news!

[2019-08-02 19:03] seamill commented on #5636
Which unit tests?

[2019-08-02 19:12] jmgate opened #5644 "SEACAS: Undefined symbols for architecture x86_64"
## Question
@trilinos/seacas

I'm attempting to build Trilinos on Mac OS-X for the first time, and I'm running into a build error I've never seen before:
[code]

What am I doing wrong?  Thanks in advance for any help.

### Environment
Mac OS-X 10.14.6 with
- boost-1.70.0
- cmake-3.15.0
- gcc-9.1.0
- hdf5-1.10.5
- lapack-3.8.0
- netcdf-c-4.7.0
- openmpi-4.0.1
- pnetcdf-1.11.2
- zlib-1.2.11

### Scr

[2019-08-02 19:23] #5591 closed

[2019-08-02 19:27] mhoemmen opened #5647 "Tpetra::CrsMatrix: Add deep-copy constructor that takes RowMatrix"
## Enhancement
@trilinos/tpetra

### Description

Overload CrsMatrix's two-argument "deep copy constructor" (see #532) to take a RowMatrix as the first argument.  If the second argument is `Teuchos::Copy`, make a deep copy.  If it's `Teuchos::View`, attempt to cast the RowMatrix to CrsMatrix.  If the cast succeeds, do a shallow copy of the input CrsMatrix.  If the cast fails, throw.

### Motivatio

[2019-08-02 19:45] bartlettroscoe commented on #5619
But something has to write the batch driver scripts for the particular system (e.g. SLURM, LFS, etc.).  CMake/CTest is not going to do that for you.

[2019-08-02 19:55] GeoffDanielson commented on #5602
@tjfulle , I am unable to make Belos_resolve_gmres_hb_1_MPI_4 fail with G0 = LO = int

[2019-08-02 20:21] GeoffDanielson commented on #5602
@tjfulle I am also unable to make Rythmos_IntegratorBuilder_ConvergenceTest_MPI_1 with GO = LO = int.

[2019-08-02 20:46] bathmatt commented on #5636
380:PanzerDiscFE_LocalMesh_Tests_MPI_1

[2019-08-02 20:49] kddevin commented on #5616
@tjfulle I am having difficulty reproducing the deprecation failures you are seeing in @trilinos/tempus
I am building with
-D Trilinos_ENABLE_Tpetra=ON
-D Tpetra_INST_INT_INT=ON
-D Tpetra_ENABLE_DEPRECATED_CODE=OFF
-D Xpetra_ENABLE_DEPRECATED_CODE=OFF

My tempus tests are running now; several that were reported as failing are now passing.  Perhaps your rebase from develop pulled in fixes to the te

[2019-08-02 20:52] kddevin commented on #5602
@tjfulle I am running tempus now, but not seeing failures in some of the tests that were reported as failures.  Perhaps the rebase from develop pulled in solutions.

I will report all tempus results once them run to completion; the tempus tests take a long time on my workstation.

Zoltan2 fixes are in PR #5645 and will soon be merged with develop (I hope).

[2019-08-02 20:59] agenbyte opened #5649 "MueLu: Avatar parameter sanity checking"
## Enhancement
@trilinos/muelu

Adding checks to the avatar interface. Make sure the features in the avatar tree and the features from the application match up

[2019-08-02 21:09] william76 commented on #5616
I merged in #5605 which should fix the `BlockedMultiVector is not a class, namespace, or enumeration` issue @ccober6 mentioned.

The recent Xpetra classes that I pushed through were `BlockedMultiVector`, `BlockedVector`, `MultiVectorFactory` and `MapExtractor`.  If you see more of these kinds of errors sneaking through that are hitting those classes please send in an issue and @mention me and the

[2019-08-02 21:12] tjfulle commented on #5616
@kddevin - maybe one of the other fixes had the happy consequence of fixing these too?  I ran the GO=int tests a couple weeks ago and haven’t looked at them since all the recent work.

[2019-08-02 22:02] william76 commented on #5591
@vbrunini awesome! Thanks for checking =)

[2019-08-02 22:08] ccober6 commented on #5616
Ok sounds good.  FYI, as of a few minutes ago, I was still seeing the next set of errors on develop.  Thoughts?

[code]

[2019-08-02 23:06] brian-kelley commented on #5618
See fix in #5650.

[2019-08-02 23:32] william76 commented on #5616
@tjfulle would these new errors be related to the fix you have in process in #5638 or some of the Tpetra deprecation stuff?

[2019-08-02 23:44] kddevin commented on #5616
@brian-kelley Can you take a look at the compilation Curt is seeing above?  It is unrelated to  Tpetra deprecation, but this github issue has gone way off course anyway.  :)

[2019-08-03 00:05] kddevin commented on #5602
Some teko fixes are in #5651

[2019-08-03 10:12] #5576 closed

[2019-08-03 10:12] #5624 closed

[2019-08-03 10:12] #5639 closed

[2019-08-03 17:43] ikalash opened #5653 "Ifpack2: buid error on Ride"
Our Albany nightly build on Ride failed due to Ifpack2.  Here is the error:

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=87610

Could someone please have a look?

@trilinos/ifpack2

[2019-08-05 15:36] jhux2 commented on #5619
There are developers on this thread who work on projects that don’t use Tribits. I think that is why @jjellio is advocating for a ctest to support this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 15:37] jhux2 commented on #5653
@trilinos/ifpack2

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-05 16:07] mhoemmen commented on #5653
@brian-kelley might be already on this one but if he's too busy let me know.

[2019-08-05 17:10] gsjaardema commented on #5479
I ran in the debugger and I do not see the destructors of any of the output code being run and the output files are never closed.  This is causing the issue as the data in the file is being buffered and unless the file is closed, there is no indication that the data should be buffered.

As mentioned above, it was probably "luck" that was causing this to work prior to the commit.  There used to be

[2019-08-05 17:51] csiefer2 commented on #5625
This stuff still uses DynamicProfile.  This got missed in the de-dynamic-ing?

[2019-08-05 17:56] csiefer2 commented on #5614
Will look at this MMM & Intrepid issues next week.

[2019-08-05 17:57] jhux2 opened #5656 "Xpetra: remove use of default template types"
At the MueLu stand-up, we decided that Xpetra's use of default types should be shot in the head.

@trilinos/xpetra @csiefer2

Related to #5618, partially addressed by #5650.

[2019-08-05 18:08] csiefer2 commented on #5656
:rocket: :man:

[2019-08-05 18:33] dlkarnitz opened #5657 "ML: Change in behavior from specific commit"
## Question
@trilinos/\<ML\>

We have identified a specific change to Trilinos that changed the behavior in an undesirable way for our non-linear solver which uses AztecOO/ML/Epetra as an inner linear solver.

We'd like to get more information about why this change was originally made and what the possible risks would be for reverting it in our usage of Trilinos.

The change specifically is:

http

[2019-08-05 19:11] mhoemmen commented on #5657
@trilinos/ml

[2019-08-05 19:14] mhoemmen commented on #5625
@csiefer2 A lot of tests were made to pass by just increasing the bound on the number of entries per row.  This might have hidden issues on real problems.

[2019-08-05 19:14] csiefer2 commented on #5657
@rstumin

[2019-08-05 19:35] brian-kelley commented on #5616
@ccober6 @kddevin I'm looking at it now, with a mac/clang build. It doesn't happen in linux/GCC, and there are many calls to getBlockRows() that look exactly the same as that one. But I'll fix it ASAP.

[2019-08-05 19:57] mhoemmen opened #5658 "Tpetra: Tpetra_RowMatrix_decl.hpp missing include"
## Bug Report
@trilinos/tpetra

### Description

`Tpetra_RowMatrix_decl.hpp` depends on MultiVector public alias `mag_type`, but does not include `Tpetra_MultiVector_decl.hpp`.  This means that it's possible to construct code that has all the right includes but nevertheless fails to compile.

### Suggested fix

Get `mag_type` from `Kokkos::ArithTraits`.  This exposes fewer header file includes.

[2019-08-05 21:17] gsjaardema commented on #5479
After a closer look, the mechanism to force a flush at a specific number of steps (FLUSH_INTERVAL property) is only enabled for parallel runs; the serial runs rely on a time-based flushing interval.

I have fixe this in the SEACAS github repository and will sync the capability over to Trilinos soon.  Albany will have to be modified to use this by setting the FLUSH_INTERVAL property to 1.  This can

[2019-08-05 21:31] brian-kelley commented on #5653
@ikalash @mhoemmen I'm looking into this.

[2019-08-05 22:46] brian-kelley commented on #5616
@ccober6 I can't seem to replicate the Ifpack2 build error. I'm on up-to-date develop (a4f99ce6e2), on AppleClang 10.0.0 with OpenMPI 4.0.1. I took the configure script you linked and didn't get the error, then I added the lines to disable Xpetra/Tpetra deprecated code and still didn't get it. If I roll back to 90b0f99 then I get the BlockedMultiVector error you ran into first. Can you link the ex

[2019-08-05 22:53] mhoemmen commented on #5647
@trilinos/tpetra I've been thinking about this, and now would prefer that we make this a separate nonmember function, `createDeepCopy`.  Here's why:

1. CrsMatrix's public interface already has what we need to implement this; we don't need another constructor.
2. `Tpetra_CrsMatrix_def.hpp` is already nearly 10,000 lines long, and some projects have trouble building its ETI .cpp files.  It's easier

[2019-08-05 23:10] ikalash commented on #5479
Thanks @gsjaardema!  What is the syntax for passing the flush_interval property to the iOSs database constructor?  I'm thinking that might be cleaner than doing the export.

[2019-08-05 23:45] ccober6 commented on #5616
@brian-kelley  Ok, I just rebuilt with a4f99ce on my Mac and it compiled and ran correctly.  My previous build was 1bfa7b16c0 (between a4f99ce and 90b0f99).  :(  But I guess it does not matter at this point.  Thanks for the help!

[2019-08-05 23:57] mhoemmen opened #5662 "Tpetra::CrsMatrixMultiplyOp: Methods overridden from Tpetra::Operator not marked override"
## Bug Report
@trilinos/tpetra

### Description

Methods that `Tpetra::CrsMatrixMatrixOp` overrides from `Tpetra::Operator` are not marked `override`.  This causes build warnings with Mac Clang.

[2019-08-06 01:46] klevzoff opened #5663 "EpetraExt: MatrixMatrix::Multiply segfault in serial, when matrix has empty columns"
## Bug Report
@trilinos/epetraext

### Description
I have a use case for multiplying matrices that may have empty columns (with respect to the domain map). These matrices describe interactions between degrees of freedom in a multiphysics application and the matrix-matrix product is used to construct the final sparsity pattern. In some cases, the interaction may be restricted to a subdomain of the

[2019-08-06 05:49] ikalash commented on #5653
Looks like this issue has been resolved.  Thanks!

[2019-08-06 05:49] #5653 closed

[2019-08-06 10:06] #5658 closed

[2019-08-06 12:36] srinadhupreetham opened #5665 "ML: Smoothers that support our data matrices"
Few Smoothers and Coarse List are resulting in a segmentation fault with my input A(data matrix). Is there a way to know what are the smoothers that will work for my specific data matrix

[2019-08-06 12:48] mayrmt commented on #5665
@trilinos/ml

[2019-08-06 14:43] gsjaardema commented on #5479
It is similar to what is being done in `src/disc/stk/Albany_IossSTKMeshStruct.cpp` with the `mesh_data->property_add()` calls.  The property string would be `FLUSH_INTERVAL` and the value would be `1`.

This will require a new version of Trilinos which I will be committing today or I can provide a patch.

[2019-08-06 14:51] bathmatt opened #5666 "amesos2 - add check for factorization failure."
## Enhancement
@trilinos/amesos2

Can we add a check here
[code]

that is something like assert(data_.numeric_  != NULL);

I can do it, if @srajama1 or someone else can tell me the amesos2 was of throwing errors.

We have this happen to often and a segfault is less helpful

[2019-08-06 14:53] bathmatt commented on #5666
@kyungjoo-kim @mhoemmen you guys are listed on amesos2 as well...

[2019-08-06 15:01] brian-kelley commented on #5653
@ikalash I wasn't able to replicate this yesterday (same GCC/CUDA, version a4f99ce6). The failing build on ride was from August 3rd, and I'm pretty sure this commit (7ddef9a51) from August 5th fixed the error, since it's about the deprecated Kokkos execution space fence():
    Merge pull request #5638 from vbrunini/ifpack2_deprecated_fence_fix
    ifpack2: Fix use of deprecated execution_space::fe

[2019-08-06 15:24] srajama1 commented on #5666
We can add an assert, @ndellingwood .

[2019-08-06 15:26] bathmatt commented on #5666
can we have a message..

[2019-08-06 15:31] #5618 closed

[2019-08-06 15:31] #5617 closed

[2019-08-06 15:34] mhoemmen commented on #5666
@bathmatt Note that `assert` only does something in a debug build.

[2019-08-06 15:41] bathmatt commented on #5666
Right, I wasn't saying use an assert, I was saying use what amesos2 uses as it's standard error reporting tool.  That is the bit I don't know, It should check and always error out.  I could just put an if () throw ... but wanted to conform to the rest of the code

[2019-08-06 15:44] mhoemmen commented on #5665
I would recommend a book on multigrid.  Beyond that, experience (either yours or your colleague's) is your best guide.

[2019-08-06 15:46] mhoemmen commented on #5663
@trilinos/epetra @trilinos/epetraext

I wouldn't consider this function in EpetraExt a general sparse matrix-matrix multiply.  It serves the needs of algebraic multigrid (e.g., constructing the coarse-grid operator `R * (A * P)`).  One of the @trilinos/muelu developers might like to comment more.

[2019-08-06 16:18] srajama1 commented on #5666
throw is fine as well. We will take care of it.

[2019-08-06 16:59] srinadhupreetham commented on #5665
Basically, I am dealing with a large data set of matrices where each matrix will be of different types. So it is not possible to go through each of them manually. Is there a way to know what are the smoothers that work for the particular matrix through code

[2019-08-06 17:02] mhoemmen commented on #5665
Short answer is "no."

Longer answer: You can use code to tell if the matrix is symmetric.  Testing if the matrix is positive definite is more costly.  The fastest way to tell if incomplete Cholesky or ILU work on a general matrix is probably just to try them.

[2019-08-06 17:49] lucbv commented on #5625
@csiefer2 @mhoemmen I am a bit suspicious of [this](https://github.com/trilinos/Trilinos/blob/79190af1c9062b1f97b56578125db415ae28db19/packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_def.hpp#L611) line of code as well as [this](https://github.com/trilinos/Trilinos/blob/79190af1c9062b1f97b56578125db415ae28db19/packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_d

[2019-08-06 18:17] klevzoff commented on #5663
Hi Mark,

Thank you  for your reply. Just FYI, I did the same test with with Tpetra (using `Tpetra::MatrixMatrix::Multiply`), and it seems to work fine. The project I'm working on interfaces Epetra at the moment, but looks like it might be a good time for us to switch.

[2019-08-06 19:42] csiefer2 commented on #5663
Yeah, this is a bug.  And we should fix it.

[2019-08-06 22:00] jhux2 commented on #5665
Please give us some more information about the type of systems you’re interested in solving. As @mhoemmen mentioned, our suggestions will depend on your answers. The more details you can provide, the better.

[2019-08-06 23:00] bathmatt commented on #5515
@kddevin @srajama1 This is a high priority issue for the EMPIRE team that was brought up at todays meeting, tagging another issue as well

[2019-08-06 23:00] bathmatt commented on #5528
@kddevin @srajama1 This is a high priority issue for the EMPIRE team that was brought up at todays meeting, tagging another issue as well

[2019-08-06 23:05] rppawlo commented on #5179
@kddevin @srajama1 - @bathmatt ping you on a few issues. This is the original ticket with more information about the failures across the packages.

[2019-08-06 23:54] mhoemmen commented on #5179
We're stuck on trying to get a TPL into Kokkos.  I need some advice from someone like @ibaned or @ndellingwood on that.

[2019-08-07 00:06] william76 opened #5672 "Xpetra: Compile error in BlockedMap"
@trilinos/xpetra

## Description
Kevin Cox sent us a report of a compilation he was getting that looks like it might be something from the Xpetra ETI work.  I put together a configuration that is as close as I can get to the one he reported but it does not replicate his error.  The biggest difference might be that he's on Geminga but I don't have an account there.  He's also loading AmgX and I don

[2019-08-07 02:27] srajama1 commented on #5179
Is there a Kokkos issue corresponding to that ?

[2019-08-07 03:09] mhoemmen commented on #5179
There's a Kokkos PR: https://github.com/kokkos/kokkos/pull/2226 .  We don't want to merge just yet because `backtrace*` are not POSIX standard functions.  This is why we need to figure out how to add a Kokkos TPL.  The usual TriBITS TPL mechanism doesn't work, because `KokkosCore_config.h` doesn't use the usual TriBITS header file generation process.

[2019-08-07 04:37] srinadhupreetham commented on #5665
I am trying to find solvation time for Ax =b with A matrix as 494_bus.mtx from [https://sparse.tamu.edu/HB/494_bus](url)

Some Combinations of these parameters are not working:
ex:1.max levels:5
     2.smoother: Gauss-Seidel
     3.aggregation: Uncoupled
     4. smoother sweeps : 3
     5.coarse type : Guass-Seidel

*** I would like to know what combinations will work and what wont as i need to wr

[2019-08-07 15:52] #2765 closed

[2019-08-07 16:22] mhoemmen commented on #5665
I would recommend taking the MueLu tutorial and reading up on multigrid.  There's no automatic mapping from matrix to multigrid parameters.

[2019-08-07 16:51] srajama1 commented on #5666
@MicheldeMessieres

[2019-08-07 17:43] jmgate commented on #5644
@mhoemmen, do you by chance know who I should ping about this?

[2019-08-07 17:44] rppawlo commented on #5644
@gsjaardema

[2019-08-07 18:35] mayrmt commented on #5665
ML User Guide: https://trilinos.org/oldsite/packages/ml/mlguide5.pdf

Here‘s the user guide of MueLu: https://trilinos.github.io/pdfs/mueluguide.pdf

And the MueLu Tutorial: https://trilinos.github.io/muelu_tutorial.html

[2019-08-07 18:39] srinadhupreetham commented on #5665
Is there way where i can print only solution time instead of verbose description of the warnings and output

[2019-08-07 19:36] mayrmt commented on #5665
If yes, then it’s probably described in the user guides. If no, you can just put your own timers around the ML call.

[2019-08-07 19:56] jhux2 commented on #5665
@srinadhupreetham The AMG methods in ML and MueLu are really designed for PDE-based systems, the matrix you're trying to solve is from a power network.  Have you read papers or other references that suggest that AMG will work for this type of system?

If you just want the solution time, grep will work.

[2019-08-07 21:59] mhoemmen commented on #5644
@jmgate sorry, was in a phone meeting.  Roger has the right idea :-)

[2019-08-07 22:49] mayrmt commented on #5644
I'm having  a similar linker error on Mac 10.14.6 with Clang 10.0.1 using [do-configure-trilinos_minimal.txt](https://github.com/trilinos/Trilinos/files/3479171/do-configure-trilinos_minimal.txt) and OpenMPI 3.1.4 installed via [spack](spack.io).

Here's the terminal output:
[code]

[2019-08-08 16:23] gsjaardema commented on #5644
It looks like the `SEACASNemesis_ne_ctest_wrap.exe` is not picking up the `PnetCDF`dependency on the Exodus library.  I will take a look and see if I can figure out why.  Note that it works fine on my Mac system in parallel and serial...

Is this a parallel (MPI-enabled) build?

[2019-08-08 16:30] jmgate commented on #5644
Yes.  The configure script and logs are linked in the description.

[2019-08-08 16:38] gsjaardema commented on #5644
If you do 'grep TPL_Netcdf CMakeCache.txt` do you get something like the following:
[code]
I think the important one is the `TPL_Netcdf_Enables_PNetcdf` setting.

[2019-08-08 16:44] jmgate commented on #5644
I get
[code]

Looks like a few things are mismatched, but I'm not sure what to do about them.

[2019-08-08 16:51] gsjaardema commented on #5644
Yes, there are definitely some issues here.  My guess is that the `netcdf_meta.h` file probably says that your NetCDF library depends on PnetCDF and possibly HDF5, but those libraries are not being set as dependencies of NetCDF.

The configure.log seems to be bypassing the NetCDF code that sets the options. For example, my configure outputs this:
[code]
I'm not sure what is causing the difference.

[2019-08-08 16:59] jmgate commented on #5644
Here's what I've got:
[code]

[2019-08-08 17:00] gsjaardema commented on #5644
Can you run `/Users/jmgate/toolchain/install/netcdf-c-4.7.0/bin/nc-config --all` and send the output.

[2019-08-08 17:03] jmgate commented on #5644
[code]

You're thinking something went wrong in the NetCDF build/install?  Thanks for helping with this.

[2019-08-08 17:09] gsjaardema commented on #5644
No, the build looks good.  For some reason CMake/TriBits is not picking up the PnetCDF and HDF5 dependencies of NetCDF and therefore not adding those libraries to the link lines and that is why you are getting the undefined symbols.

My guess is that if you do:
* cd packages/seacas/libraries/nemesis
* make VERBOSE=1

Then the link line for `SEACASNemesis_ne_ctest_wrap.exe` will only show `libexodu

[2019-08-08 17:12] bathmatt opened #5679 "kokkos-kernels FPE corner case."
## Bug Report
@trilinos/kokkos-kernels

We need a check on this to keep it from fpe'ing
[code]

[2019-08-08 17:20] bathmatt commented on #5679
pushing fix now

[2019-08-08 17:26] jmgate commented on #5644
[code]

[2019-08-08 17:29] gsjaardema commented on #5644
OK, it is getting the hdf5 libs, but not the PnetCDF libs...

Is it possible to reconfigure and change the lines
[code]
to be:
[code]
You may have to rm CMakeCache.txt.  Then see if the configure information for NetCDF is different...

[2019-08-08 17:35] srajama1 commented on #5679
Thanks @bathmatt

[2019-08-08 17:40] asteyer opened #5681 "Tempus: Null vector error in Tempus_TimeStepControl_decl.hpp"
## Bug Report
@trilinos/tempus

### Description
The null vector copy Tempus_TimeStepControl_decl.hpp doesn't work.

[2019-08-08 17:54] mhoemmen commented on #5681
@trilinos/tempus

[2019-08-08 17:57] jhux2 commented on #5179
The MueLu tests `MueLu_DriverTpetraILU_MPI_4`,  `MueLu_DriverTpetra_WithGlobalConstants_MPI_4`, and `MueLu_UnitTestsTpetra_MPI_4 `  are failing randomly and frequently with the error
[code]

There are a few other MueLu tests that fail the same way, but less frequently.

Sometimes `MueLu_UnitTestsTpetra_MPI_4` fails instead with an error like
[code]

Here's the [search query](https://testing-dev.sa

[2019-08-08 19:21] jmgate commented on #5644
I think I'm past it now.  I had to swap out
[code]
with
[code]
and then also had to add a
[code]
How I've managed for years without `PNetCDF_ROOT` on Linux is beyond me.  Thanks so much, @gsjaardema.  No way I could've figured this out without you.

[2019-08-08 19:21] #5644 closed

[2019-08-08 19:25] bartlettroscoe commented on #5644
As shown [here](http://compsim-dashboard.sandia.gov/cdash/index.php?project=SPARC&date=2019-08-08&filtercount=1&showfilters=1&field1=buildname&compare1=66&value1=-trildev), looks like SPARC is seeing a bunch of undefined symbols in the builds:

* sparc-alltpls_cee-cpu_clang-5.0.1_openmpi-1.10.2_static_opt-trildev
* sparc-alltpls_cee-cpu_intel-17.0.1_intelmpi-5.1.2_static_opt-trildev
* sparc-alltpl

[2019-08-08 19:27] jmgate commented on #5644
@bartlettroscoe, I wasn't using the ATDM config scripts when trying to build on Mac here.

[2019-08-08 19:40] jmgate commented on #5644
@bartlettroscoe, I'd suggest opening a separate issue for the problems you're seeing.

[2019-08-08 20:16] bartlettroscoe commented on #5644
@jmgate said:

Okay, will do.

[2019-08-09 14:53] #5647 closed

[2019-08-09 14:53] #5662 closed

[2019-08-09 16:32] fryeguy52 opened #5685 "Phalanx: Phalanx_mdfield_runtime_MPI_1 failing on ATDM KNL build"
## Bug Report
CC: @trilinos/phalanx, @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-mutrino-intel-opt-openmp-K

[2019-08-09 17:33] mhoemmen commented on #5647
@brian-kelley Consider using this in Ifpack2 in the future : - )

[2019-08-09 18:53] bartlettroscoe commented on #5599
No response from anyone in 10 days so we will remove monitoring of these builds and all test failures associated with them.  That should remove about 5 GitHub issues from our ATDM bugs list.

[2019-08-09 18:56] jhux2 opened #5687 "MueLu: add option to dump Zoltan2 debugging files"
The @trilinos/zoltan2 team has asked that an option be added to MueLu to enable writing of debug files.

[2019-08-09 18:58] etphipp commented on #5599
FYI, thanks to the hard work of @mhoemmen and @tjfulle, the Stokhos build failures were fixed.  I also fixed the TrilinosCouplings/FENL failures since I maintain that example.

[2019-08-09 19:30] bartlettroscoe commented on #5599
Eventually all of these build errors will need to be fixed as global ordinal int is going away.

[2019-08-09 23:42] jhux2 commented on #5687
PR #5689 merged.

[2019-08-09 23:42] #5687 closed

[2019-08-10 04:37] jhux2 commented on #3137
Quick update.  Same Intel static debug build.   Over a 50% reduction in size.  Nice job @william76!
[code]

[2019-08-12 13:57] rppawlo commented on #5685
@fryeguy52 - fix has been pushed into trilinos develop.

[2019-08-12 16:49] eric-c-cyr opened #5693 "Panzer: Add quick check for spatial dimension to pamgen reader"
## Enhancement
@trilinos/panzer

Currently the pamgen reader just reads a mesh. But if you want to know the dimension before reading in the mesh fully, its difficult. Add a method to do this.

[2019-08-12 18:34] #5679 closed

[2019-08-12 18:35] bathmatt opened #5696 "zoltan2 tests don't compile with some special settings now required."
## Bug Report
@trilinos/zoltan2

[code]
### Description
What went wrong?  What should have happened?  Do you have an idea what might
fix things?  How has this bug affected you?  What are you trying to accomplish?
What specifically must we demonstrate to call this work complete?

### Steps to Reproduce
1. SHA1:  [insert here]
1. Configure script:  [attach here]
1. Configure log:  [attach here]
1. B

[2019-08-12 18:36] bathmatt commented on #5696
Sorry, hit submit too soon.  This is what breaks things

[code]

[2019-08-12 19:22] bathmatt opened #5698 "tpetra cuda warning looks legit"
## Bug Report
@trilinos/tpetra

In tracking down some of these cuda issues in tpetra I'm seeing this warning which could be an error.  Want to make sure it is not an issue

[code]

I'm seeing this on vortex

[2019-08-12 19:23] bathmatt commented on #5698
More of them

[code]

[2019-08-13 10:08] looooo opened #5700 "kokkos-kernels: too long file-name"
## Bug Report
@trilinos/kokkos

### Description
Problem occurs with trilinos build for conda on windows. It's not really a bug but maybe it can be easily fixed. So I ask if this file can be renamed to something not as long as:
`KokkosSparse_gauss_seidel_apply_eti_spec_inst_Kokkos_complex_double__int_int64_t_LayoutLeft_Cuda_CudaHostPinnedSpace_CudaHostPinnedSpace.cpp`

problem occurs here: https://

[2019-08-13 16:17] jhux2 commented on #5179
I have been able to reproduce on waterman in the MueLu scaling driver "Driver.cpp".  In that code, the error manifests either during the initial matrix map construction or during the matrix construction.  Here is the stack trace with Trilinos dev, SHA 6550bd788b, with some minor modifications to Driver.cpp to make reproducing easier.

[code]

[2019-08-13 16:31] jhux2 commented on #5179
To reproduce on waterman:

- Apply the attached patch to Trilinos dev.  I'm using SHA 6550bd788b.
- Configure using the attached script, then build as usual.

- `bsub -x -Is -n 20 bash`
- `mpiexec -np 5 -map-by socket:PE=4 MueLu_Driver.exe`  This should run fine, but seems necessary to trigger the failure on 4 MPI ranks.  After the PIDs print and pressing a key, let it run for about 10 seconds, th

[2019-08-13 16:58] bathmatt commented on #5179
I saw lots of errors in this section when I compiled with -fsanitize and openmp.  It was use of stack data after function or some such stuff.

kokkos has a lot of these warnings, not sure if they are real or not.

[2019-08-13 17:32] jmgate commented on #501
If you include Markdown in the commit message, GitHub parses and renders it in certain contexts.

[2019-08-13 18:01] bartlettroscoe opened #5703 "DUPLICATE: Use RAM high watermark scripts to help diagnose expense build targets for Trilinos"
@trilinos/framework, @william76, @nmhamster

This story is to track efforts to locate and try some compiler wrapper scripts that can provide estimates of the high watermark for RAM usage to build object files and perform links while building Trilinos.  This can help determine where work is needed to reduce the cost of building Trilinos and to determine if efforts to reduce the cost of building are

[2019-08-13 18:03] bartlettroscoe commented on #5703
@nmhamster, can you please point @ZUUL42 and @william76 to the location of the compiler wrapper scripts developed as part of your own ATDM Performance project that can give the high watermark for RAM usage to build various targets like object files and link libraries and exectuables?

[2019-08-13 18:07] bartlettroscoe commented on #501
Markdown is okay, as it is very readable in raw form.

[2019-08-13 18:10] bartlettroscoe commented on #5703
From: Bartlett, Roscoe A
Sent: Tuesday, August 13, 2019 12:10 PM
To: Mclendon, William C III ; Hammond, Simon David
Cc: Willenbring, James M
Subject: RE: Trilinos Meeting Follow Up : High water mark RAM scripts

Hello Will,

I just created the following issue for this:

   https://github.com/trilinos/Trilinos/issues/5703

Hello Si,

Can you please point Will to the location of the compiler wrapper

[2019-08-13 18:34] jhux2 commented on #5179
I added an extra fence in `Tpetra_Details_FixedHashTable_def.hpp` on line 1182, and the errors of the form
[code]
go away.  Changing line 1164 from `if (buildInParallel)` to `if (false)` also seems to make these types of errors go away.

[2019-08-13 18:37] jhux2 commented on #5179
I'm still seeing another type of error during FillComplete of the matrix in MueLu's `Driver.cpp`.  Here is that backtrace.

[code]

[2019-08-13 19:28] jhux2 commented on #5179
Here's a third type of error:

<details>
<summary>click to open</summary>

[code]
</details>

[2019-08-13 21:00] bartlettroscoe commented on #4933
CC: @fryeguy52

@bathmatt,

I have a prototype for this in PR #5705.  Can you please take a look at:

* https://github.com/trilinos/Trilinos/pull/5705/files#diff-3b922030112cdbaf917bd43ba1f4f5a7

Can we talk through this briefly over Skype?

[2019-08-13 21:31] bartlettroscoe commented on #5545
The error looks like:

[code]

[2019-08-13 22:32] bathmatt commented on #4933
Not seeing my comments, huh, remaking them now.

I’ll try this tomorrow on waterman,

Don’t think skype is needed yet, couple questions though

Vars like shared, rdc opt, are they respected?  Do I need to handle these..

[2019-08-13 22:55] bartlettroscoe commented on #4933
@bathmatt asked:

All of the keywords that are parsed out of the build name are automatically handled in the script:

* [Trilinos/cmake/std/atdm/utils/set_build_options.sh](https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/utils/set_build_options.sh)

which sets env vars prefixed with `ATDM_CONFIG_` that are read in by `ATDMDevEnvSettings.cmake`.  That script gets called before your

[2019-08-13 23:59] kddevin commented on #5696
@bathmatt would you please post your entire configuration command?  With the configuration below, I cannot reproduce the problem you reported.  Thanks.
[code]

[2019-08-14 08:12] mayrmt commented on #5509
Seems like @lucbv is able to export some aggregate visualisations, hence I close this issue for now.

At some point, we might want to rework the visualization factory, but let's save that for some later time.

[2019-08-14 08:12] #5509 closed

[2019-08-14 08:14] mayrmt commented on #5503
@lucbv FYI: There has been an earlier discussion on the keep mechanism in #2268.

[2019-08-14 12:51] rppawlo commented on #5394
As Mark mentioned - this is most likely lack of memory. Closing since panzer is builds on all CI/nightly testing platforms. Feel free to reopen if needed.

[2019-08-14 12:51] #5394 closed

[2019-08-14 14:48] bartlettroscoe commented on #4933
@bathmatt,

How do we handle installs of Trilinos with this approach?  Two options that come to mind are:

1) Copy the directory `<custom-config-dir>` under the installed Trilinos directory and have installed `load_matching_env.sh` source the copied`<custom-config-dir>/environment.sh` scirpt.  That would require the `<custom-config-dir>/environment.sh` script to work with even when copied but woul

[2019-08-14 14:59] fryeguy52 commented on #5528
When this fails it looks like:
[code]

It did this 3 times in a week from 7/7 to 7/14 but I have not seen it fail since then.
@bathmatt it sounds like you are still seeing this?

[2019-08-14 15:04] fryeguy52 commented on #5685
@rppawlo Thanks!

[2019-08-14 15:15] brian-kelley commented on #5656
Fixed in #5697

[2019-08-14 15:15] #5656 closed

[2019-08-14 15:17] rppawlo commented on #5685
@fryeguy52 - can we close this? I think it has been passing the last few nights.

[2019-08-14 17:48] bartlettroscoe commented on #4933
I talked with @bathmatt and he confirmed that he likes option-1 defined [above](https://github.com/trilinos/Trilinos/issues/4933#issuecomment-521278214) where the `<custom-config-dir>` is copied into the Trilinos install tree.  Therefore, this is what I will implement.

[2019-08-14 18:00] jhux2 commented on #5700
@trilinos/kokkos

[2019-08-14 18:03] jhux2 commented on #5700
@trilinos/kokkos-kernels

[2019-08-14 18:07] mhoemmen opened #5711 "CUDA and CUSPARSE TPLs are ST; make them PT"
## Bug Report
@trilinos/framework

### Description

`Trilinos/TPLsList.cmake` says that the CUDA and CUSPARSE (sic) TPLs (third-party libraries) are ST (Secondary Tested).  They should be PT (Primary Tested).  Reasons:

1. We have a CUDA PR test build, so CUDA should be considered just as important as MPI, the BLAS, and LAPACK (which are all PT).
2. CUSPARSE comes with CUDA automatically, but sinc

[2019-08-14 18:07] jhux2 commented on #5665
Closing, but please reopen if necessary.

[2019-08-14 18:07] #5665 closed

[2019-08-14 18:20] bartlettroscoe opened #5713 "Random UCX Errors in ATDM CUDA 10.1 builds on 'white' and 'ride'"
@trilinos/anasazi, @trilinos/belos, @trilinos/muelu, @trilinos/nox, @trilinos/teko, @trilinos/tempus, @srajama1 (Trilinos Linear Solvers Product Lead), @rppawlo (Trilinos Nonlinear Solvers Product Lead), @fryeguy52

## Next Action Item

Still seeing random failures for a few tests showing this UCX error as of 8/14/2019.  Next: Wait for fix to UCX and extend `cdash_analyze_and_report.py` tool to fi

[2019-08-14 18:22] bartlettroscoe commented on #5713
The best we know is that this is caused by an issue in the UCX library used in OpenMPI.  Therefore, I have put the `ATDM Env Issue` label on this Issue so this can be filtered out of GitHub issue queries.

I will now close the issues #5033, #5035, #5221, #5222, and #5224 as duplicates of this issue.

[2019-08-14 18:24] bartlettroscoe commented on #5224
Closing as duplicate of #5713

[2019-08-14 18:24] #5224 closed

[2019-08-14 18:24] bartlettroscoe commented on #5222
Closing as duplicate of #5713

[2019-08-14 18:24] #5222 closed

[2019-08-14 18:24] bartlettroscoe commented on #5221
Closing as duplicate of #5713

[2019-08-14 18:24] #5221 closed

[2019-08-14 18:25] bartlettroscoe commented on #5035
Closing as duplicate of #5713

[2019-08-14 18:25] #5035 closed

[2019-08-14 18:25] bartlettroscoe commented on #5033
Closing as duplicate of #5713

[2019-08-14 18:25] #5033 closed

[2019-08-14 18:31] bartlettroscoe commented on #5713
FYI: As noted in [TRIL-245](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-245), a new CUDA 10.1 env will be getting set up soon on 'waterman' that might resolve these UCX errors.

[2019-08-14 18:38] fryeguy52 commented on #5522
As shown [here](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman_cuda-9.2_shared_opt&field2=testname&compare2=65&value2=PanzerAdaptersSTK_&field3=site&compare3=61&value3=waterman&field4=buildstarttime&compare4=83&value4=2%20months%20ago&field5=status&compare5=61&value5=Faile

[2019-08-14 18:38] #5522 closed

[2019-08-14 18:48] fryeguy52 commented on #5515
Here is an example of failure output:
[code]

[2019-08-14 18:57] bartlettroscoe commented on #5685
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-mutrino-intel-opt-openmp-KNL&field2=testname&compare2=61&value2=Phalanx_mdfield_runtime_MPI_1&field3=site&compare3=61&value3=mutrino&field4=buildstarttime&compare4=83&value4=2019-07-01) this was consistently fa

[2019-08-14 18:57] #5685 closed

[2019-08-14 20:36] fryeguy52 commented on #4551
output from failed test:
[code]

[2019-08-14 21:21] jhux2 commented on #5698
@trilinos/kokkos

[2019-08-14 22:04] kddevin commented on #5179
@jhux2 How do you produce the second and third type of error above once you modify the fixed hash table?

[2019-08-15 01:19] jhux2 commented on #5179
@kddevin Here are some instructions on reproducing on waterman:

- Again, I started with Trilinos dev 6550bd788.
- Apply the attached patch.
- Configure and build as you did to reproduce type 1 error [above](https://github.com/trilinos/Trilinos/issues/5179#issuecomment-520908907).
- Get an allocation: `bsub -x -Is -n 20 bash`
- Run
`mpiexec -np 5 -map-by socket:PE=4 MueLu_Driver.exe --linAlgebra=T

[2019-08-15 03:56] kddevin commented on #5179
I submitted PR #5715 that provides a temporary workaround for the most reproducible of these errors.  We'll reverse the workaround as we understand the issue better.  Until then, it may be worth trying in the application to determine whether it allows the application to make progress.
@bathmatt

[2019-08-15 04:46] kddevin commented on #5179
@bartlettroscoe Is there an easy way for me to build these tests with a different compiler and/or CUDA version on waterman?  Since the tests pass with many other compilers on other platforms, I'd just like to try them on waterman with a different configuration.  Thanks.

[2019-08-15 13:19] bathmatt commented on #4933
will the load matching env auto load that configuration file??

[2019-08-15 13:48] rppawlo commented on #5693
PR #5717 will address this.

[2019-08-15 14:30] rppawlo commented on #5693
PR went in. Closing.

[2019-08-15 14:30] #5693 closed

[2019-08-15 15:41] bartlettroscoe commented on #5619
FYI: Had long conversation with @jjellio about this yesterday.  From our conversation yesterday, it does not look like any changes need to be made to CTest or CDash to support what is needed.  I think we can do all of this in TriBITS (or a resuable CMake module in TriBITS that can be used without full adoption of TriBITS ).

[2019-08-15 16:04] bartlettroscoe commented on #4933
@bathmatt asked:

Yes.  Let me get the updated version pushed to the branch so you can try out.  (Was in meetings all day yesterday.)

[2019-08-15 16:16] bartlettroscoe commented on #5179
@kddevin asked:

You can edit the files under:

[code]

locally and put in whatever you want.

I am also working on #4933 that will allow you to set up and load any env you want.

Just be warned that you may have issues with the TPLs needed if you pick a compiler or options that don't already work with TPLs already installed.  We were hoping to be able to do that with Spack but it has been going v

[2019-08-15 16:54] jhux2 commented on #5619
@bartlettroscoe Thanks!  This is important for projects that use cmake but not TriBITS.

[2019-08-15 18:35] jwillenbring commented on #5630
@trilinos/muelu Any thoughts on this issue? We are trying to resolve this for the ECP xSDK release.

[2019-08-15 18:54] kddevin commented on #5179
@bartlettroscoe Thanks.  I am terrible at getting all the TPLs, etc., aligned.  I was hoping that you had, say, just one other configuration that you knew "worked" and that I could load easily.  I'm not picky, as long as it is different from the one used here.  Do you have anything like that?

[2019-08-15 18:57] bartlettroscoe commented on #5179
@kddevin, specifically, what compilers/configurations do you want to try that are not already supported in:

 Trilinos/cmake/std/atdm/waterman/environment.sh

?

We don't test or support many different configurations because builds are expensive, and the APPs don't need them.  We only try to support just what the APPs need (and even struggle with just that).

[2019-08-15 19:57] crtrott commented on #4148
Note that Empire turns this now also on. So the only people not turning it on are the folks who are trying to reproduce whats happening in Empire and SPARC without building the apps, and just doing it inside Trilinos.

[2019-08-15 20:03] dlkarnit opened #5722 "MueLu: How to avoid coarsening stagnation"
## Question
@trilinos/muelu

How do I avoid this scenario documented by the MueLu output where the aggregation appears to no longer coarsen the problem? It seems to me that the higher numbered levels won't contribute to accelerating the convergence. It would be okay if I can provide settings that allow the coarsening to stop once the c ratio does not change or hits a threshold, or provide settings

[2019-08-15 20:06] nmhamster commented on #4148
Confusing - is the default that profiling is enabled or disabled? The overhead should be very small to zero, allowing it to always be enabled.

[2019-08-15 20:49] jhux2 commented on #5179
@kddevin I talked with @crtrott, who recommended this option:

`-DKokkos_ENABLE_Profiling:ON`

It's explicitly turned off on the dashboard.  To enable it, you much toggle its value in `/ascldap/users/jhu/software/trilinos/Trilinos/cmake/std/atdm/ATDMDevEnvSettings.cmake`.

With this option enabled, I'm seeing an assertion right away in FixedHashTable.

[2019-08-15 20:50] keitat commented on #5630
We are planning to release xSDK-0.5.0 on 9/12. This bug needs to be fixed for the release.

[2019-08-15 21:00] cgcgcg commented on #5722
I'm not sure what exactly is happening here, but maybe just set `coarse: max size` to something like 1000? Also, you could look into rebalancing and setting `aggregation: drop tol` to something bigger than 0.

[2019-08-15 21:10] crtrott commented on #5179
I think what you are looking at is misleading. This is all just delayed error checking for CUDA Kernels. When using the profiling tool on the thing Jonathan run it crashes on two ranks with an illegal memory access inside of KokkosKernels SPGEMM inside the Laplace2d MueLu setup:
[code]

[2019-08-15 21:14] bartlettroscoe commented on #4148
Okay, I will create a branch to turn on profiling by default and run a few trial builds on a couple of machines and make sure we don't see a bunch of new test failures (or if we do, that is good?)

[2019-08-15 21:16] jjellio commented on #5703
These scripts may the things I wrote (they weren't part of APT though, I used them to figure out build errors).

I've attached a tarball, they live in a private Gitlab (SRN) repo.  If they can live elsewhere that is more accessible, I am happy to support them.

 They use /usr/bin/time, which provides CSV output of everything from /proc/status.

They scripts create compiler/linker wrappers when you

[2019-08-15 21:27] crtrott commented on #5179
Now I also see the FixedHashTable error occasionally.

[code]

[2019-08-15 21:31] crtrott commented on #5179
Note that if the failure happens inside of the FillPairs thing for the FixedHash, it never reaches the SPGEMM. So this may be that something goes wrong in that earlier thing, and then manifests later in SPGEMM as an invalid indexing.

[2019-08-15 21:31] jhux2 commented on #5179
@crtrott My screw-up, I built without the patch applied.  Please recopy the exec from my build area.

[2019-08-15 21:33] jhux2 commented on #5179
Ah -- that's real and consistent with the so-called error type #3 above.

[2019-08-15 21:59] tjfulle commented on #5602
@kddevin My latest push now fixes many of the issues above.  The branch now has so many modifications in so many packages that I think it will be beneficial to cherry pick out changes by package and open PRs for each package individually - that's what I am working on now.

[2019-08-15 22:12] crtrott commented on #4148
As long as you don't load a tool (by setting the env variable KOKKOS_PROFILE_LIBRARY) this should do practically nothing.

[2019-08-15 23:26] crtrott commented on #5179
My gut feeling is that something goes wrong somewhere and as a consequence some column indicies in the local matrix are off, which down the line leads to memory access faults. Do we actually understand why the FixedHash thingy failed? Or did we just see a fast way to not trigger that code?
Because if we don't understand why it failed, it might just be a symptom of the same root cause. And since in

[2019-08-16 00:40] jhux2 commented on #5179
That's a fair point.  I don't know why the FixedHashTable occasionally fails.  The patch is simply to avoid the path that triggers the type 1 error.

@bathmatt is still seeing failures in EMPIRE, even with Trilinos that includes the patch for the type 1 error.

[2019-08-16 04:49] mhoemmen commented on #5179
^^^ we could extract a unit test from EMPIRE just to make sure.

[2019-08-16 10:35] #5711 closed

[2019-08-16 12:59] tjfulle commented on #5604
Turns out the issue was that Epetra was listed as an optional package when, in fact, it should still be a required package.

[2019-08-16 15:51] jhux2 commented on #5630
@keitat and I talked about this.  I’ve got some high priority items to take care of, then I’ll fix this.  I believe the fix should be fairly straightforward.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 15:52] jhux2 commented on #5630
Btw, @balay reported this in an earlier issue that I believe is still open.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 16:19] bartlettroscoe commented on #4933
@bathmatt, PR #5705 should be complete.  Just needs to be reviewed and approved and merged.

[2019-08-16 16:48] mhoemmen commented on #1424
@csiefer2 and @jjellio have shown that `CUDA_LAUNCH_BLOCKING=1` means something stronger than just fencing after every kernel.  That is, some code crashes with launch blocking off but fencing after every kernel, but doesn't crash with `CUDA_LAUNCH_BLOCKING=1`.  Thus, this issue is invalid.

[2019-08-16 16:48] #1424 closed

[2019-08-16 18:25] ikalash commented on #5479
I am back in the office and have made the necessary changes to resolve the issue.  Thanks again @gsjaardema !

[2019-08-16 18:25] #5479 closed

[2019-08-16 20:12] ZUUL42 opened #5728 "Framework: Create Debug Build"
## Enhancement
@trilinos/framework

Create a debug build. This will help ensure codebase readiness for developers.
Look into performance considerations/build duration. So this will first be tried in dev->master.

[2019-08-16 20:20] ZUUL42 opened #5729 "Framework: Create Build for ETI OFF"
## Enhancement
@trilinos/framework

Create build that sets disables explicit instantiation (ETI).
This may first be tried in dev->master.

[2019-08-16 21:07] mhoemmen commented on #5729
btw Sierra now enables ETI by default (as of Tue 13 Aug 2019), though this would still be helpful as long as we permit users to disable ETI.

[2019-08-17 01:02] bartlettroscoe commented on #4933
@bathmatt, PR #5705 was just merged.  Please see the updated documentation at:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#custom-systems-and-configurations

Please provide a comment here if this is working as you expect.

Putting this in review waiting for feedback.

[2019-08-17 01:15] bartlettroscoe commented on #4933
Below are some notes for the development of this feature (for future reference).

<details>

<summary><b>DETAILED NOTES:</b> (click to expand)</summary>

.

**TASKS:**

ToDo:

* Create branch '4933-atdm-custom-env' [Done]

* Create Trilinos/cmake/std/atdm/examples/my_sems_rhel6_config/environment.sh skeleton [Done]

* Add hooks in Trilinos/cmake/std/atdm/load-env.sh to pick up custom dir:
  - Add

[2019-08-17 01:30] bartlettroscoe commented on #4933
FYI: I checked the EM-Plasma/BuildScripts 'develop' branch files and I could not find any reference to `ATDM_CONFIG_KNOWN_SYSTEM_NAME`, or `ATDM_CONFIG_KNOWN_HOSTNAME` or `get_known_system_name` that would have been impacted by this refactoring.  So EMPIRE hopefully will not break due to the merged PR #5705.

[2019-08-17 08:15] #5604 closed

[2019-08-17 15:43] mhoemmen commented on #4762
@jhux2 Is this still a thing?

[2019-08-19 01:39] kddevin commented on #5179
#5735 is a more effective workaround for this issue.  @trilino/tpetra still has some investigating to do, but this workaround seems robust enough for experimentation by @bathmatt.
Thanks, @jhux2.
@srajama1

[2019-08-19 02:08] srajama1 commented on #5179
@kddevin @jhux2 : Thank you ! I appreciate your help.

[2019-08-19 11:48] tjfulle opened #5738 "ROL: Build and test errors when Tpetra deprecated code is turned off"
There are many build and test errors when `-DTpetra_ENABLE_DEPRECATED_CODE=OFF`.

Part of #5602

[2019-08-19 11:57] tjfulle opened #5740 "Panzer: hard coded ordinals not consistent with Tpetra"
When Tpetra deprecated code is off, the hard coded ordinals in `adapters-stk/test/evaluator_tests/gather_solution.cpp` are not consistent with the rest of Panzer

Part of #5602

[2019-08-19 12:02] tjfulle opened #5742 "Stokhos: Uses DynamicProfile to create Tpetra::CrsGraph in create_cijk_crs_graph"
Part of #5602

[2019-08-19 12:14] tjfulle opened #5744 "Amesos2: GappedMtxGIDs-1proc uses Tpetra::DynamicProfile"
which will soon be deprecated...

Part of #5602

[2019-08-19 13:44] bathmatt commented on #5179
I'm seeing errors some map code, trying to track it down.  Not sure why it is happening.  It is in an initialization step and hopefully I'll be able to trace it down to something simple.

[2019-08-19 14:07] tjfulle opened #5746 "Piro: test/MockModelEval_A_Tpetra.hpp fails to build/run with deprecated code off"
When `Tpetra_ENABLE_DEPRECATED_CODE=OFF`, `test/MockModelEval_A_Tpetra.hpp` fails to compile because the global ordinal for Tpetra objects is hard coded to `int`.

[2019-08-19 14:24] tjfulle opened #5749 "Xpetra: uses deprecated Tpetra::Map::clone"
`sup/Cloner/Xpetra_Cloner.hpp b/packages/xpetra/sup/Cloner/Xpetra_Cloner.hpp` uses deprecated `Tpetra::Map::clone`

[2019-08-19 14:32] tjfulle opened #5751 "Zoltan2: Use ZOLTAN2_HAVE_EPETRA instead of Trilinos_ENABLE_EPETRA"
Zoltan2 uses Trilinos_ENABLE_Epetra instead of `ZOLTAN2_HAVE_EPETRA` to turn on and off Epetra support in Zoltan2 in some CMakeLists.txt files.

[2019-08-19 14:41] MicheldeMessieres opened #5753 "Amesos2: Testing throws from a single rank"
Throws in Amesos2 may occur only on the root rank. It's not possible to add tests to confirm these throws on MPI because subsequent MPI calls may crash before the test has the opportunity to validate the throw. We fixed one of these throws for KLU2 (#5666) so it would delay the throw, broadcast, then throw on all ranks. This issue is created to make a decision how to handle the throws in general s

[2019-08-19 14:42] tjfulle opened #5754 "TrilinosCouplings: many instances of hard coded ordinal types"
Will not compile with deprecated code turned off in Tpetra.

[2019-08-19 14:55] tjfulle commented on #5602
Half a dozen or so PRs have been opened.  Once they start to get through testing and get merged in to develop, I'll revisit the build/test with deprecated code off.  Hopefully it's getting much closer!

[2019-08-19 14:56] tjfulle commented on #5537
This should be closed by #5750

[2019-08-19 14:57] tjfulle commented on #5749
Duplicate of #5537

[2019-08-19 15:01] tjfulle commented on #5738
Duplicate of #5540

[2019-08-19 15:12] tjfulle commented on #5615
@kddevin I believe #5645 fixes this, right?

[2019-08-19 16:23] kddevin commented on #5615
@tjfulle Yes, I expect that it does.  Let me know if you see different results.

[2019-08-19 16:48] jhux2 commented on #4762
@mhoemmen Probably not, I'll close.

[2019-08-19 16:48] #4762 closed

[2019-08-19 18:41] bathmatt commented on #5179
I'm at this status, I don't believe that this is in a map, I believe it is in something in MPI.

@kddevin patches got me further to a similar looking bug, but now it looks like what is being sent isn't what is being received.  I'll keep you posted on this though.

[2019-08-19 19:18] jhux2 commented on #5179
I'm running `MueLu_Driver.exe` on vortex with 8 MPI ranks (single node) using the branch that @kddevin, @mhoemmen, @crtrott, and I have been debugging with.  None of the work-around ifdef's are enabled, i.e., this should be running stock Tpetra code.  No errors yet, but I'll let it continue.

[2019-08-19 19:30] bathmatt commented on #5179
Do you have CUDA_MPI turned on???

[2019-08-19 20:03] jhux2 commented on #5179
If you mean `Tpetra_ASSUME_CUDA_AWARE_MPI`, that variable is set to `no`.

[2019-08-19 20:19] jhux2 commented on #5179
@mhoemmen Is there anyway to toggle that from the command line, or must I reconfigure?

[2019-08-19 20:40] jhux2 commented on #5179
I started a second job on two nodes and got it to fail after about 50 minutes.  My runline is

[code]

This build has none of the temporary work-arounds enabled.

[2019-08-19 20:50] jhux2 commented on #5179
Unfortunately, there's no associated core file, so I have no idea where this crash happened.

[2019-08-19 21:13] mhoemmen commented on #5179
@jhux2 wrote:

Yes, you can set this at run time.  Set the `TPETRA_ASSUME_CUDA_AWARE_MPI` environment variable to 1 (or 0, if you want it off).

[2019-08-19 21:16] jjellio commented on #5179
@jhux2

Is Vortex dumping lwcore files? If it does, those are just text files, and you can look inside to see a stack trace.

[2019-08-19 21:21] mhoemmen commented on #4762
Thanks! :-D

[2019-08-19 23:05] jhux2 commented on #5179
@bathmatt Should I set `TPETRA_ASSUME_CUDA_AWARE_MPI` to be true?

[2019-08-19 23:06] jhux2 commented on #5179
There are no lwcore files in my run directory.  Is there an LSF directive that might control this?  Could they be elsewhere?

[2019-08-19 23:12] jhux2 commented on #5179
@mhoemmen Thanks, but I rebuilt a separate exec before I saw your response :(.  The good news is that this guy drops core!

<details>

<summary>Backtrace, vortex, with -DTPETRA_ASSUME_CUDA_AWARE_MPI:BOOL=TRUE</summary>

[code]

</details>

[2019-08-19 23:45] mhoemmen opened #5762 "Tpetra::CrsMatrixMultiplyOp: Add forward declaration header"
## Enhancement
@trilinos/tpetra @vbrunini

Add forward declaration header file for `Tpetra::CrsMatrixMultiplyOp`.  This will help Sierra (specifically Chaparral) keep build times low by hiding implementations.

[2019-08-19 23:54] mhoemmen commented on #5179
@jhux2 It looks like this Spectrum MPI wasn't built with CUDA support.  Does it have the equivalent of `ompi_info`?  If so, could you query it to see if it has the correct CUDA support?

[2019-08-20 00:08] jhux2 commented on #5179
Ok, heard back that @bathmatt does not have `TPETRA_ASSUME_CUDA_AWARE_MPI` enabled.

[2019-08-20 00:10] jhux2 commented on #5179
@mhoemmen Is this what you mean?

[code]

[2019-08-20 00:15] jhux2 commented on #4762
It's a bit ironic that I closed this, then hit something similar on vortex later the same day.

[2019-08-20 00:26] jhux2 commented on #5722
@dlkarnit I agree with @cgcgcg, you should enable rebalancing.  This option requires coordinates.  A long time ago, the team discussed adding an option to stop coarsening if the rate dropped below some threshold, but I don't recall now if said option was ever implemented.

[2019-08-20 03:16] mhoemmen commented on #5179
@jhux2 That could be, though I'm not sure whether that's the right `ompi_info` executable for Spectrum MPI.  Tpetra uses the following command with OpenMPI:
[code]
and it should print something like this:
[code]
Replace "true" with "false" if that installation of OpenMPI was _not_ built with CUDA support.

[2019-08-20 03:34] ikalash opened #5764 "Compilation error for Albany due to missing Phalanx header"
Did the Phalanx_TypeStrings.hpp header go away, or get replaced by something else?

We are getting the following compilation error in our Albany nightlites:

[code]

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=88177

@trilinos/phalanx

[2019-08-20 09:51] #5740 closed

[2019-08-20 09:51] #5592 closed

[2019-08-20 09:51] #5742 closed

[2019-08-20 09:51] #5749 closed

[2019-08-20 09:51] #5744 closed

[2019-08-20 09:51] #5746 closed

[2019-08-20 09:51] #5754 closed

[2019-08-20 13:29] rppawlo commented on #5764
Yes. Use Phalanx_Print.hpp.

[2019-08-20 13:50] bathmatt commented on #5179
@mhoemmen

[code]

[2019-08-20 15:27] mhoemmen commented on #5179
@bathmatt Assuming that this `ompi_info` executable corresponds to your OpenMPI version, then your OpenMPI version was not built with CUDA support.  That's ungood.

[2019-08-20 16:23] bathmatt commented on #5179
With some of the fixes in trilinos I get the code to make it through initialization most of the the time.  HOwever, on the second timestep I have tracked down an MPI bug.  Here is an email I sent, but I write send buffers, sizes, recv buffers status and two of the messages get lost.  This only happens on 2 nodes, 1 node it is fine.

This may be killing other trilinos things.  Not sure

Here is the

[2019-08-20 16:26] bathmatt commented on #5179
@mhoemmen
It's what vortex supports, I have it set to off in Trilinos so that is matching...

[mbetten@vortex59 8]$ which ompi_info
/usr/tce/packages/spectrum-mpi/spectrum-mpi-rolling-release-gcc-7.3.1/bin/ompi_info

As for it being no good, isn't that IBM+Cuda?

[2019-08-20 16:34] bathmatt commented on #5179
@mhoemmen here's some other versoins
I've tried the latest and trilinos dies early on.

[code]

[2019-08-20 17:14] jhux2 commented on #4696
@prwolfe I am closing this issue, as it's being tracked in #3137 and #4986.

[2019-08-20 17:14] #4696 closed

[2019-08-20 17:51] jhux2 commented on #5629
@csiefer2 ping

[2019-08-20 18:09] mhoemmen commented on #5629
MueLu often follows an interface pattern of "give me an empty object and I'll fill it."  I think the original intent was to support various forms of reuse, if the in/out argument already has an allocation.

If C is empty, then I think that's reasonable.  The question is whether MueLu always assumes that C is empty.  If so, then the interface really should be changed to return a new C, not take C a

[2019-08-20 18:30] ikalash commented on #5764
Thanks, @rppawlo .  It would have been nice to get some kind of heads up about the upcoming change, as it required quite a bit of changes in Albany to get the code to compile again.

[2019-08-20 18:30] #5764 closed

[2019-08-20 18:36] rppawlo commented on #5764
Sorry @ikalash. Didn't realize an app was using this directly. It should have been a simple search and replace. Here's the script using trilnos tools that I used to fix use in panzer:

[code]

[2019-08-20 18:38] kddevin commented on #5629
With the current interface, sending an empty matrix (i.e., one created with nnzPerRow=0) to the matrix-matrix multiplication should work.

[2019-08-20 19:11] mhoemmen commented on #5629
I worry a little bit, because @csiefer2 did what he did [here](https://github.com/trilinos/Trilinos/blob/0193ca84a98452528343e362b77a0f61ee757ac3/packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp#L343) precisely because reallocation on demand was (& is) faster in ML than preallocation.

[2019-08-20 19:33] #5540 closed

[2019-08-20 19:34] tjfulle commented on #5540
closed by #5739

[2019-08-20 19:34] tjfulle commented on #5738
Closed by #5739

[2019-08-20 19:35] #5738 closed

[2019-08-20 19:53] ikalash commented on #5764
Yes, it wasn't bad, as you said, just a search and replace.  It did touch a lot of files though - it surprised me somewhat how extensive our usage of typeAsString was.  Anyway, no worries, all is good now!

[2019-08-20 22:45] mhoemmen commented on #5179
@bathmatt Just curious -- normally one calls `MPI_Waitall` on sends and receives all at once -- could waiting on receives before waiting on sends be an issue here?

[2019-08-20 22:48] mhoemmen commented on #5179
FYI the branch on which @trilinos/tpetra developers are currently working is tpetra-debug-5179.

[2019-08-20 23:34] nmhamster commented on #5179
@mhoemmen - we fixed that today and didn't see any change in behavior (still has error). But I agree, these need to be "wait-all" together otherwise deadlock could occur.

[2019-08-20 23:58] kddevin commented on #5179
Note:  Applications should not use this branch; it is only for @trilinos/tpetra developers.  We have cherry-picked useful things from the branch to the develop branch, and will continue to do so.

[2019-08-20 23:58] mhoemmen commented on #5179
@kddevin sorry, I just wanted to post it here for reference.

[2019-08-21 00:44] bathmatt commented on #5179
So Si and I hammered through a lot of testing. Didn't find anything that
points to empire. Doesn't mean we haven't messed up memory elsewhere.

I'm going to get him building the full code and looking at it

On Tue, Aug 20, 2019, 5:58 PM Mark Hoemmen <notifications@github.com> wrote:

[2019-08-21 07:21] jjellio commented on #5179
Not sure what happened to my post yesterday, but here is data off Lassen:

|version | value|
|--- | ---|
|/spectrum-mpi-rolling-release-xl-2019.02.07/bin/ompi_info|false|
|/spectrum-mpi-2019.01.31-xl-2019.02.07/bin/ompi_info     |false|
|/spectrum-mpi-2019.04.19-xl-2019.02.07/bin/ompi_info     |true|
|/spectrum-mpi-2019.06.24-xl-2019.02.07/bin/ompi_info     |true|
|/spectrum-mpi-rolling-release-xl

[2019-08-21 13:05] bathmatt commented on #5179
GNU Is the only thing that empire uses btw. Issues with compile times

On Wed, Aug 21, 2019 at 1:21 AM James Elliott <notifications@github.com>
wrote:

[2019-08-21 13:58] jjellio commented on #5179
I don't think the compiler is the issue.

E.g., for GCC the pattern holds as well:

|version | value|
|--- | ---|
|/spectrum-mpi-rolling-release-xl-2019.02.07/bin/ompi_info|false|
|/spectrum-mpi-2019.01.31-xl-2019.02.07/bin/ompi_info     |false|
|/spectrum-mpi-2019.04.19-xl-2019.02.07/bin/ompi_info     |true|
|/spectrum-mpi-2019.06.24-xl-2019.02.07/bin/ompi_info     |true|
|/spectrum-mpi-rolling-r

[2019-08-21 15:17] prwolfe commented on #4421
We were talking in todays standup about having two versions (which is not acceptable for a few reasons). We need to decide on a single solution for this before worrying about version changes.

common/gtest is "a fused source version of test 1.7.0"
packages/kokkos/tpls/gtest is "a fused source version of test 1.7.0"

but there are large differences between them for whatever reason including diffs i

[2019-08-21 17:03] jhux2 opened #5771 "How to enable all downstream packages in nightly dashboard testing"
The Tpetra team has a specialized build that is tests Trilinos with deprecated code in Tpetra disabled.  [This build](https://testing.sandia.gov/cdash/index.php?project=Trilinos&subproject=Tpetra&filtercount=2&showfilters=1&filtercombine=and&field1=site&compare1=63&value1=rocketman&field2=buildname&compare2=63&value2=DEPRECATED) enables just Tpetra and its tests.  I would like to create a similar

[2019-08-21 17:13] jhux2 opened #5772 "Tpetra: Tpetra_LocalCrsMatrixOperator_INT_SERIAL.cpp.o rebuilds unconditionally"
@trilinos/tpetra

Immediately after doing a complete build of Trilinos, I edited the file `CMakeLists.txt` to change the install location for headers/libraries.  When I reran `make`, one object file
[code]
rebuilt, even though nothing changed in the source.

[2019-08-21 17:18] jhux2 opened #5773 "STK: executables relink after touching CMakeCache.txt"
@trilinos/stk @alanw0

Immediately after doing a complete build of Trilinos, if one does `touch CMakeLists.txt`, two STK executables relink:

[code]

Nothing has changed in the Trilinos source.

[2019-08-21 17:25] rppawlo commented on #5771
https://tribits.org/doc/TribitsBuildReference.html#enable-to-test-all-effects-of-changing-a-given-package-s

[2019-08-21 17:27] jhux2 commented on #5771
@rppawlo Thanks, Roger!

[2019-08-21 17:35] jjellio commented on #5179
Update from LLNL,

To get full cuda-aware MPI at runtime, you need to use
```jsrun -M -gpu  -r4 -a1 -c4 -g1 -brs <app>```

The `-M -gpu` is the undocumented part.  It severely slowed down my benchmarks, but they don't segfault.

Using regular MPI and UVM was substantially faster.

[2019-08-21 18:08] mhoemmen commented on #5179
@jjellio wrote:

It sounds like they are saying that

1. CUDA-aware MPI is currently off by default; and
2. turning it on has a large run-time cost.

Is that right?

[2019-08-21 18:10] jjellio commented on #5179
Correct.

They haven't answered my question, as to why `ompi_info` reports 'yes' for some, and 'no' for rolling.

[2019-08-21 18:16] jjellio commented on #5179
With this kinda of hit, you a really better off just using UVM and letting it page back.  The gain from host pinned probably doesn't out weigh the complexity of using it.

[2019-08-21 19:36] mhoemmen commented on #5179
@jjellio wrote:

I made `buffer_memory_space = CudaHostPinnedSpace` build correctly a while back in Tpetra.  Kyungjoo's solver can use it too.  It's not hard for Trilinos to maintain, but it's annoying that CUDA-aware MPI can and does work on other systems but not here.

[2019-08-21 20:13] jjellio commented on #5179
See
https://gitlab-ex.sandia.gov/jhu/TrilinosSolverPerformance/issues/42#note_62537

For some data points.

I can beat LLNL using OpenMPI 4 and UCX

[2019-08-21 20:54] mhoemmen opened #5774 "Tpetra::MatrixMatrix::Add: Why is setUnion branch commented out?"
## Question
@trilinos/muelu @trilinos/tpetra @vbrunini

In the implementation of `Tpetra::MatrixMatrix::Add`, in `TpetraExt_MatrixMatrix_def.hpp`, [Line 1026](https://github.com/trilinos/Trilinos/blob/514bfb9db3caed9fd1854b96f98349eba1465952/packages/tpetra/core/ext/TpetraExt_MatrixMatrix_def.hpp#L1026) comments out the branch that optimizes by using `Import::setUnion`.  Is there something wrong w

[2019-08-21 21:06] lucbv commented on #5774
@mhoemmen it looks like you did this and [here](https://github.com/trilinos/Trilinos/commit/d31b8c58426c96dc14fe539033c775f65919617d) is the commit with some explanations

[2019-08-21 21:40] bathmatt commented on #5179
@nmhamster @jjellio @jhux2 this gets my run past the MPI error, I ran all the way to the end with this flag.  Not sure what it does.  We don't have cuda direct mpi enabled..

[2019-08-21 21:45] nmhamster commented on #5179
@bathmatt - I think it changes the memory regions where MPI/network has visibility. So this fixes your issue completely based on what I think you have above?

[2019-08-21 21:50] mhoemmen commented on #5774
@lucbv wrote:

Oops -- thanks for doing the research for me ;-) Does MueLu actually call this function, ever?  It turns out that we will need it for something else.

[2019-08-22 00:10] bathmatt commented on #5179
Si, sorry, didn’t follow that

On Wed, Aug 21, 2019 at 3:46 PM Si Hammond <notifications@github.com> wrote:

[2019-08-22 15:04] lucbv commented on #5722
@dlkarnit it seems that @cgcgcg and @jhux2 answered your question so I will close this issue.
Feel free to reopen it if you want more explanations or open another issue if you have further unrelated questions.

[2019-08-22 15:04] #5722 closed

[2019-08-22 15:21] lucbv commented on #5774
@mhoemmen yes MueLu is using it in `PetrovGalerkin`, `RAPShift`, `RefMaxwell` and in `SchurComplementFactory`.

[2019-08-22 15:49] #5762 closed

[2019-08-22 15:49] #5538 closed

[2019-08-22 15:49] #5751 closed

[2019-08-22 18:03] jhux2 commented on #5771
The options given in the tribits link result in a test that has no tests run.  [Here](https://testing.sandia.gov/cdash/buildSummary.php?buildid=5512208) are the results.   Here is the relevant part of the Tpetra driver script.   @trilinos/framework Any other ideas?

[code]

[2019-08-22 18:26] jhux2 commented on #5771
I tried with the option `-DTrilinos_ENABLE_DEPENDENCY_UNIT_TESTS=ON`, and got the same results.

[2019-08-22 19:38] prwolfe commented on #4421
Well, it turns out the version in common has been updated to 1.8.0 according to the commit messages, just that noon updated the readme.

ouch.

[2019-08-22 19:44] jhux2 opened #5779 "Tpetra: should TSQR depend on a Kokkos subpackage rather than Kokkos?"
@trilinos/tpetra

While trying to set up downstream testing for Tpetra with deprecated code off, I see this during configure:

[code]

Is this correct?  I recall that MueLu switched to depending on Kokkos subpackages.

Btw, this is not blocking my work, just wanted to ask.

[2019-08-22 20:05] jhux2 commented on #5779
Visual inspection leads me to believe that TSQR just needs KokkosCore.  I'll give that a try.

[2019-08-22 20:28] jhux2 commented on #5779
PR submitted.

[2019-08-23 14:37] fryeguy52 opened #5784 "SEACAS: SEACASIoss_pamgen_exodus_io_info randomly failing on ATDM ride builds"
## Bug Report
CC: @trilinos/seacas, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Keep promoted ATDM builds of Trilinos clean">
<???: Once GitHub Issue is c

[2019-08-23 15:47] fryeguy52 opened #5786 "PanzerAdaptersSTK_tDOFManager2_SimpleTests_MPI_4 timing out randomly in build Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-static-release-debug starting 2019-07-04"
## Bug Report
CC: @trilinos/panzer, @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=6&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=6

[2019-08-23 18:17] jhux2 opened #5787 "Tpetra: add nightly test with Tpetra deprecated code off and downstream packages on"
@trilinos/tpetra

As part of code deprecation in Tpetra, the Tpetra team wants to monitor downstream packages that depend on Tpetra.  A new automated nightly build on rocketman needs to be set up to do this.

[2019-08-23 18:19] jhux2 commented on #5771
I got things working.  It turns out I was only looking at the Tpetra subpackage results.  When I looked at the results across the entire Trilinos dashboard, I noticed that the Kokkos build was failing.  In summary, the options to enable forward packages are
[code]

[2019-08-23 18:20] jhux2 commented on #5787
Found out how to enable forward packages from #5771.

[2019-08-23 18:20] jhux2 commented on #5787
Latest efforts are [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=2&showfilters=1&filtercombine=and&field1=site&compare1=63&value1=rocketman&field2=buildname&compare2=63&value2=DEPRECATED).

[2019-08-23 18:36] jhux2 commented on #5787
TriUtils broke.  PR submitted.