[2017-02-10 20:24] tawiesn commented on #1059
Obviously, @jhux2 reverted the problematic patch. So we don't have to do anything now.

[2017-02-10 20:37] MicheldeMessieres commented on #1014
@kddevin These changed have been implemented in PR #1061.

[2017-02-10 20:41] MicheldeMessieres commented on #1004
@kddevin PR #1061 has these changes. However there was one spot I was uncertain how we wish to format. In Zoltan2_TaskMapping.hpp we had an environment and a problemComm. I think the problemComm should not be used with Environment in general. I changed the API to pass through an environment from the source main which is taskMappingTest3.cpp.  I was not sure if the API should be changed like this s

[2017-02-10 21:12] bartgol commented on #1032
Well, I am not deeply interested in using a left preconditioner. Besides, my application is still in the early development stage. I was simply getting this error in my incremental build, while checking that everything else was in place correctly. I haven't really thought about the preconditioner details.

The reason why I opened this issue is that I was puzzled that I could use a left precondition

[2017-02-10 21:30] bartlettroscoe commented on #1032
Okay, thanks for letting us know.  If left preconditioning is supported in one use case, it should be supported in all.  We will keep track of this and then take a look at this when we are doing other Stratimikos maintenance.

[2017-02-10 22:32] jjellio commented on #1045
My current solution is a bit flaky. I compile with the parallel hdf5 names, but still I git  link lines that have
-lhdf5hl_fortran_parallel -lhdf5_fortran_parallel.

So, after configuration, I run sed and delete them! I looked at the findHdf5 cmake module and grepped through Trilinos's source. I don't understand why those  libraries are being add.

[2017-02-10 23:23] krcb commented on #1020
This is resolved with merge of #1022

[2017-02-10 23:23] #1020 closed

[2017-02-11 02:23] jjellio commented on #1060
For GMRES and CG, the bulk of the solver's work is in dot products and vector updates (axpy), and sparse mat-vecs. With GMRES, the larger your subspace (restart length), the more performance will be dominated by calls to dgemv (essentially bulk dot products), if you use ICGS for orthogonalization. If you keep the default (DGKS), you will do lots of dot products.

Tpetra defers calls to dense BLAS

[2017-02-11 14:06] barche commented on #1042
Confirmed, this fixes it. Sorry for the delay, I didn't have a developer build installed.

[2017-02-11 21:15] ibaned opened #1063 "Phalanx: build MDField<const ScalarT> from Tag<ScalarT>"
In Albany, there are complex evaluators which construct their `MDField` members from `Tag`s that are passed in through the parameter list. Until now, `MDField<ScalarT>` built from `Tag<ScalarT>` was fine. In working on  gahansen/Albany#34, I now have `MDField<const ScalarT>` that I'd still like to build from a `Tag<ScalarT>`. I tried
[code]
but `dataLayout` returns a const reference to the layout

[2017-02-11 23:31] mhoemmen commented on #805
@jwillenbring I think so.  Thanks!

[2017-02-11 23:31] #805 closed

[2017-02-11 23:36] mhoemmen commented on #1058
@guoluanjing @jhux2 My mistake, I thought you were using Belos.  My advice, therefore, does not apply.

[2017-02-11 23:36] mhoemmen commented on #1058
@trilinos/nox

[2017-02-12 00:11] mhoemmen commented on #1056
@tjfulle wrote:

It's not _currently_ an issue, because CooMatrix isn't used for anything yet.  However, the following use case would trigger this error, once CooMatrix is plugged into the Matrix Market reader:

  1. Create a communicator
  2. Give communicator to Matrix Market reader, and ask it to create the matrix's row Map

At (2), the user has not yet created a Map.  The interface can't creat

[2017-02-12 00:16] mhoemmen commented on #1060
@kongm If you want thread-parallel solvers, it would be best to commit to using the latest version of Trilinos, for proper performance improvements.

[2017-02-12 00:54] tjfulle commented on #1056
@mhoemmen, shall I open a PR to fix this test, or hold off for a more comprehensive solution?

[2017-02-12 03:09] guoluanjing commented on #1058
I've figured out what I've done wrong. If I wanted to use the same domain decomposition preconditioner (additive Schwarz) with the subdomain solver ilut, I needed to set the preconditioner option like this:
`    lsParams.set("Preconditioner", "AztecOO");`
Now I'm getting the same convergence path as the original code.

Thanks for your responses @mhoemmen @jhux2 !

Best,
Luanjing

[2017-02-12 03:10] #1058 closed

[2017-02-12 23:17] mhoemmen commented on #1056
@tjfulle The former for now.  I can work on a more comprehensive solution later.  Thanks!

[2017-02-13 00:59] mhoemmen commented on #1056
@tjfulle fixed it with the above pull request -- thanks!

[2017-02-13 00:59] #1056 closed

[2017-02-13 02:40] bartlettroscoe commented on #1042
Thanks!  Closing as complete.

[2017-02-13 02:40] #1042 closed

[2017-02-13 15:39] jmgate commented on #903
I'd sure like it.

[2017-02-13 16:18] aprokop commented on #903
To be fair, the Github's review system is getting better. I think what reviewable provides is a per comment resolution requirement, and a better handling of rebased PRs.

[2017-02-13 17:14] hkthorn commented on #1034
This has been fixed for the SerialDenseSolver, SerialSymDenseSolver, SerialSpdDenseSolver, SerialBandDenseSolver, and SerialQRDenseSolver.

[2017-02-13 17:14] #1034 closed

[2017-02-13 17:43] mhoemmen opened #1066 "Teuchos::ParameterList: Possible bug in one-argument get?"
@trilinos/teuchos

@DrBooom reports the following: It looks like getEntryPtr returns NULL if the given parameter name does not exist in the parameter list.  The implementation of the following method:
[code]
uses the result of getEntryPtr directly.  @DrBooom proposes that the implementation of `get` "be modified to test the `foundEntry` for null, and/or change `validateEntryExists` to accept a nul

[2017-02-13 17:48] bartlettroscoe commented on #1066
Can someone contribute a unit test to demonstrate expected behavior?

[2017-02-13 17:53] mhoemmen commented on #1066
@bartlettroscoe I think this question can be answered by inspection.  Here is the current implementation of one-argument `get`:
[code]
Here is the current implementation of `validateEntryExists`:
[code]
If the exception test macro does what it appears to do by name, then it looks like this addresses @DrBooom 's concern.

[2017-02-13 17:53] #1066 closed

[2017-02-13 17:54] mhoemmen commented on #1034
Thanks @hkthorn !!!

[2017-02-13 18:51] bartlettroscoe commented on #1066
So why did @DrBooom think there was a a problem?

[2017-02-13 19:00] DrBooom commented on #1066
If get is called with an invalid parameter name, it should likely throw, rather than segfaulting on a null pointer.

Chris Luchini
ORG 1443
Sandia National Laboratory
(505) 284 3484
(505) 690 5008 Cell (505) is required.
________________________________
From: Roscoe A. Bartlett <notifications@github.com>
Sent: Monday, February 13, 2017 11:51
To: trilinos/Trilinos
Cc: Luchini, Christopher Bernard;

[2017-02-13 20:00] rppawlo commented on #1063
@ibaned - I will test your suggestion and explore some alternate interoperability options and will try to have a fix in soon. Sorry for the trouble.

[2017-02-13 20:17] hkthorn commented on #1066
@DrBooom @mhoemmen @bartlettroscoe   The code as Mark has pasted it does throw an exception if there is an invalid parameter name or type because the foundEntry will be NULL.  This is documented in the Teuchos::ParameterList class:

  /// If the given parameter is not in the list at all, this method
  /// throws Exceptions::InvalidParameter.  If the parameter is in the
  /// list but does not have

[2017-02-13 20:30] hkthorn commented on #845
Left scale and right scale have been removed and also documentation.

[2017-02-13 20:30] #845 closed

[2017-02-14 17:16] #1014 closed

[2017-02-14 17:17] #1004 closed

[2017-02-14 21:31] rppawlo commented on #1063
Added a templated copy ctor for the tag class that accepts const or nonconst data types. The tag will get implicitly cast to the correct type for the mdfield. This should work without having to change any code now for the MDField ctor. Unit tests demonstrate this. Tests are running for application codes and if everything passes will push by end of today.

[2017-02-14 21:35] ibaned commented on #1063
@rppawlo much appreciated, looking forward to it.

[2017-02-14 21:49] rppawlo opened #1070 "Phalanx: add "expect to fail" tests"
There are use cases that we restrict by enforcing compile time failures. We would like add tests to ensure that things we expect to fail at compile time actually do fail. cmake supports this, but it seems not to work via tribits add_executable/test. If this support is added to tribits (or already exists), this issue is to add tests for Tag and MDField construction.

Being tracked on tribits site a

[2017-02-14 22:09] krcb commented on #1045
For what it's worth, my approach to configuring Trillinos with NetCDF & HDF5 parallel (when the serial and parallel locations are in different locations on the system) is to specify:

 -DHDF5_INCLUDE_DIRS:PATH='<PATH_TO_HDF5_PARALLEL_INSTALL>/include' \
  -DHDF5_LIBRARY_DIRS:PATH='<PATH_TO_HDF5_PARALLEL_INSTALL>/lib' \
  -DTPL_ENABLE_HDF5:BOOL=ON \
  -DHDF5_LIBRARY_NAMES:STRING='hdf5;hdf5_hl;hdf5_

[2017-02-14 23:17] jjellio commented on #1045
The  problem is that, even when I specify LIBRARIES="...", I am getting these -lhdf5_fortran_parallel libs tacked on to certain link lines. This is with CMake 3.5 or 3.7. I looked through the FineHDF5 module, and it looks like it should detect and choose fortran/HL bindings.. my sed find/replace works well enough.

I am not sure what in HDF5 is actually used.  The build requirements are for an app

[2017-02-15 04:00] jjellio commented on #1048
@mndevec The build with Zoltan2 tests/examples finished finally.

This test is building now, with no errors or warnings.

Oddly, I do not see it running when I run ctest.  All Zolten2 tests pass.  The executable is built as well. Is this intended?

[code]

[2017-02-15 06:46] #1048 closed

[2017-02-15 14:31] #446 closed

[2017-02-15 16:19] jmgate opened #1071 "Fix Broken Video Links in TUG Pages"
Many of the video links in the Trilinos User Group annual meeting pages on the Trilinos website are missing.  I noticed the problem when looking at the [2011 schedule](https://trilinos.org/community/events/trilinos-user-group-meeting-2011/), but it looks like other years are affected as well.  The videos can be found at http://digitalops.sandia.gov/Mediasite/Catalog/catalogs/TUG-2011 (with links t

[2017-02-15 18:17] guoluanjing opened #1072 "Residual Passed into NOX with LineSearchBased Solver and Newton Method"
Hello there,

I've got a quick question about passing the residual vector when using Newton method in NOX.

Eventually we are solving \[ Jd = -F \] , so do I pass F or -F to NOX through the computeF function through NOX::Epetra::Interface::Required?

Thanks,
Luanjing

[2017-02-15 19:59] aprokop commented on #1059
Fixed in caa82bf22b370bc4afb1434fb66db474a9ffb891

[2017-02-15 19:59] #1059 closed

[2017-02-15 20:22] rppawlo commented on #1072
pass in F, not -F.

A simple example can be found in
Trilinos/packages/nox/test/epetra/Thyra/ModelEvaluator2DSim_def.hpp

[2017-02-15 20:23] guoluanjing commented on #1072
Got it. Thanks, @rppawlo !

[2017-02-15 20:23] #1072 closed

[2017-02-16 15:04] bartlettroscoe commented on #313
I have not seen any failures related to this since pushing the fixing commits.  Closing.

[2017-02-16 15:04] #313 closed

[2017-02-16 19:01] mwglass opened #1075 "Multibyte characters in MueLu header file"
I’m seeing some compiler warnings (Cray compiler) from MueLu_MLParameterListInterpreter_def.hpp, lines 260, 261, and 263 :

     An invalid multibyte character sequence appears in the source code.

In a regular editor it looks like just normal spaces in those lines but when I do a dump with ‘od –c’ I see the following (note the 302 and 240 entries). I think those should just be regular spaces.

`0

[2017-02-16 19:45] aprokop commented on #1075
@tawiesn I am ready to push this.

[2017-02-16 19:46] tawiesn commented on #1075
Thx.

[2017-02-16 20:30] mwglass commented on #1075
Thanks for the quick response!!!

[2017-02-16 20:32] aprokop commented on #1075
I was a bit too fast. I have a patch that fixes this one file, but it also happens in others. Need to find all of them first.

[2017-02-16 21:00] #1075 closed

[2017-02-17 18:06] jhux2 commented on #1075
For the record, something like this should help detect the problem files:
[code]

[2017-02-17 19:48] bathmatt opened #1076 "panzer testing under nvcc/cuda"
is there any testing with panzer on cuda?  I find that almost every time I try to build there is an error and it would be good to find these sooner rather than later.   If there is, where is the dashboard?

[2017-02-17 19:56] bathmatt commented on #1076
Adding @eric-c-cyr @rppawlo to the conversation

[2017-02-17 19:59] rppawlo commented on #1076
Panzer is tested on CUDA at:

http://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project

Look at the perseus and apollo machines. There are a few failing tests. I think that the BoostLib is not enabled so the STK and panzer/stk-adapters are getting disabled so it might not be full testing. I will dig into this next week.

[2017-02-17 20:02] bathmatt opened #1077 "Panzer not compiling under cuda"
@eric-c-cyr @kyungjoo-kim
It looks like some of the changes for the higher order basis stuff broke the cuda build.  I'm getting errors here

     ots::modifyBasisByOrientation(drv_basis_scalar,
                                    drv_basis_scalar_tmp,
                                    drv_orts,
                                    intrepid_basis);
The error mentions an array size issue.

Here is

[2017-02-17 20:06] ibaned opened #1078 "how to copy the layout of Sacado Fad View?"
I'm trying to create a really simple function for Albany to create an "uninit deep copy" of a view, that is a view with the same layout whose allocation is new and distinct from the input view, but not necessarily copying the contents. I tried to base it off of Kokkos's functions for creating mirrors:

[code]

This worked okay for native Kokkos Views, but it fails for the specialized Views of Saca

[2017-02-17 20:07] aprokop commented on #1075
For the future, here is a list of other files with UTF-8 chars in them
[code]
I think most of them are not important, though (txt, bib, comments)

[2017-02-17 21:37] mhoemmen commented on #1078
@trilinos/sacado @etphipp

[2017-02-17 21:46] ibaned commented on #1078
Well, I've come up with the following, which seems to work but does need to specialize... I wish the Fad size hadn't been hidden in a variable specific to the specialized ViewMapping...

[code]

I guess I'll close this because its working, but Fad specialization seems badly encapsulated... most operations require new specializations.

[2017-02-17 21:46] #1078 closed

[2017-02-17 21:58] etphipp commented on #1078
Whenever you use things in the Impl namespace, specializations for Fad are likely to be necessary.  Exposing the the Fad rank and size through the regular View API causes countless problems.

[2017-02-17 23:24] kyungjoo-kim commented on #1077
I see that this is becuase of incompatible layout between host space and device space. When I compute coefficient matrices to modify basis with orientations, I simply calls lapack routine and use host view. Somewhere there is mismatch.

How urgent is this ? For now, could you compile the code by removing __KK__ definition placed in the panzer disc-fe directory. The old code is protected by ifdef w

[2017-02-20 15:24] bathmatt commented on #1077
With a work around I can start my testing work.  What kind of timeframe are
we talking, days/weeks/months?

On Fri, Feb 17, 2017 at 4:25 PM, kyungjoo-kim <notifications@github.com>
wrote:

[2017-02-20 15:24] bathmatt commented on #1076
Look at bug 1077 for the actual bug report.  This was more on the testing
side of things.

On Fri, Feb 17, 2017 at 12:59 PM, Roger Pawlowski <notifications@github.com>
wrote:

[2017-02-20 15:27] bathmatt commented on #1076
Also, panzer didn't compile at all, same error that I found.

http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2751263 shows

/usr/bin/ar: CMakeFiles/panzer-disc-fe.dir/Panzer_BasisValues2.cpp.o:
No such file or directory

and compilation stopped.

On Mon, Feb 20, 2017 at 8:24 AM, Matt Bettencourt <dr.bettencourt@gmail.com>
wrote:

[2017-02-20 23:11] mhoemmen commented on #148
I'm going to close this, because it kind of happened.

[2017-02-20 23:11] #148 closed

[2017-02-20 23:13] mhoemmen commented on #683
We did planning, so I'm closing this.

[2017-02-20 23:13] #683 closed

[2017-02-21 16:17] mndevec commented on #1048
James, yes there is no test practicing it. It is a simulator driver for me to simulate large machine runs using a single machine only.

[2017-02-21 17:07] bmpersc commented on #1039
It is possible I just forgot to add it, or push it. I'll have to look into it.

[2017-02-21 18:35] mhoemmen opened #1080 "Tpetra: CooMatrix test failing on CUDA"
@trilinos/tpetra

Tpetra::Details::CooMatrix test is failing on CUDA with the following message:
[code]
I think I know how to fix this.

[2017-02-21 19:11] mhoemmen commented on #1080
Kokkos' exception message points directly to the problem :-)

[2017-02-21 20:35] barche opened #1081 "Compile error when setting Tpetra_DefaultNode to KokkosSerialWrapperNode if OpenMP is enabled"
Compiling master with the following config

[code]

yields the error:

[code]

If I remove the `Tpetra_DefaultNode` definition it appears to compile fine. Not sure if this is a bug or the config I supplied is invalid, but I thought I'd report it anyway while the build finishes ;)

Possibly related to issue #509.

[2017-02-21 22:49] mhoemmen commented on #1081
I suspect this is a Panzer issue.  Are you able to build packages other than Panzer, in particular MueLu?

[2017-02-21 22:50] mhoemmen commented on #1081
@trilinos/panzer

[2017-02-21 23:06] mhoemmen commented on #1080
Just pushed a fix.  I tested it on CUDA and it passes there.

[2017-02-21 23:06] #1080 closed

[2017-02-22 14:04] rppawlo commented on #1081
Panzer should use the default Tpetra node type - at least we mirrored the Tpetra logic. Maybe we missed the case where the default is explicitly set. I will take a look.

[2017-02-22 14:55] mhoemmen commented on #1081
Thanks @rppawlo !  Didn't mean to suggest you broke something :)

[2017-02-22 16:52] jjellio commented on #1081
I have builds (w/out Panzer), that use OpenMP + Serial, but set the default to Serial (they are working for me with Intel compilers/cray environment). If this proves to be tricky, I can post those CMake scripts.

[2017-02-22 17:16] mhoemmen opened #1084 "Graph coloring build warnings"
This is a duplicate of https://github.com/kokkos/kokkos-kernels/issues/3 (not yet externally visible, but will be soon) for the sake of external tracking.

[2017-02-22 17:26] mndevec commented on #1084
should be fixed with commit: c18d02a48d83dbb41802f20313da2a35ba325ca8

[2017-02-22 17:26] #1084 closed

[2017-02-22 17:48] eric-c-cyr opened #1085 "Teuchos: YAML ParameterList getParametersFromYamlString has no implementation"
The method getParametersFromYamlString doesn't appear to have any implementation (a search in Teuchos yields only the declaration). Is there a plan for this, or is reading YAML files the only way to produce a parameter list from YAML?

[2017-02-22 17:59] jmgate commented on #1085
@trilinos/teuchos

[2017-02-22 20:12] barche commented on #1081
OK, just tested the same config with `Trilinos_ENABLE_Panzer=OFF` and that compiles, so it seems it is indeed in Panzer.

[2017-02-22 21:06] mhoemmen commented on #1085
@csiefer2 might know something about this -- did that never get moved from MueLu?

[2017-02-22 21:41] csiefer2 commented on #1085
Either of you guys know?
@brian-kelley @DrBooom

[2017-02-22 21:51] #1076 closed

[2017-02-22 22:00] brian-kelley commented on #1085
I just looked at my working copy of the Yaml stuff as of Aug. 8, when it was still in MueLu. I made "updateParametersFromYaml (CString/String/File)" and "getParametersFromYamlFile", but no "get...FromString". The implementation would just be "update...FromString", except with an empty list and overwrite = true. Would you like me to do that?

[2017-02-23 02:37] jjellio commented on #1085
I ran into this last night. I glanced at the YAML source and added the following to my own project's code as a quick fix. Unfortunately, it didn't work for what I wanted. (see after the code snipplet for that)

[code]

What I was trying to do, was to take a Teuchos::describe( )'s output, and parse it into YAML. I don't recall the exact error I was getting, something about the structure of the YAML

[2017-02-23 03:05] bartlettroscoe commented on #1049
FYI: Looks like some random failures might still be occurring with these tests.  For example, in the first CI iteration this morning, we had two failing tests:

*  PanzerAdaptersSTK_PoissonExample-ConvTest-Order-1 	Failed 	12s 870ms 	Completed (Failed) 	Panzer 	Unstable 	Unstable
* PanzerAdaptersSTK_PoissonExample-ConvTest-Order-2 	Failed 	15s 190ms 	Completed (Failed) 	Panzer 	Unstable 	Unstable

[2017-02-23 04:09] mhoemmen commented on #1049
@bartlettroscoe

No.  It's a change to a test, not a change to source code.

[2017-02-23 13:05] rppawlo commented on #1049
That looks like a seg fault in IOSS/Exodus in the write at the end of the solve. This is a scaling study - the same problem is run on a series of refined meshes. Seems that we get one run randomly failing. Will have to run through valgrind.

cc'ing @gsjaardema in case he has any suggestions.

[2017-02-23 13:50] rppawlo commented on #1049
I can't reproduce the IOSS/Exodus write failure on my system. valgrind runs clean. I do get failures on my system due to race condition in writing output (see #271) when the final order value is parsed. Just pushed a fix for this:

https://github.com/trilinos/Trilinos/commit/8f32856083354a3f59a21d0484bb397ebc55f920

[2017-02-23 13:52] rppawlo commented on #271
Should be fixed now. Moving to "In Review". Will watch the test over the next few days to see if issues clear up.

[2017-02-23 18:52] rppawlo opened #1086 "Panzer: access to field managers"
@trilinos/panzer @eric-c-cyr
Currently there is no clean way in the AssemblyEngine object to change/redirect MDField memory in between the workset evaluations. We have worked around this in a couple of ways in application codes. With some minor changes to panzer, we could make this operation easier to implement.

Options:
1. Creating a field with memory for all worksets and then writing evaluators

[2017-02-23 22:30] mhoemmen opened #1088 "Tpetra::MultiVector: Don't use CudaUVMSpace for internal comm buffers"
@trilinos/tpetra

Blocked by: #1571, #1602, #1658

MPI on Pascal, not K80, appears to be slow when accessing UVM-allocated device buffers, but not standard CUDA device buffers.  This causes trouble with Tpetra::Distributor sending and receiving packed data, as measured by @ambrad .  It also probably causes trouble with dot product and norm.

@crtrott and I wrote an MPI + Kokkos benchmark to measur

[2017-02-23 23:27] mhoemmen commented on #1088
Inside Tpetra::DistObject:
[code]

[2017-02-23 23:52] crtrott commented on #1088
I am on it, was thinking I can get that in one batch through with the testing for KokkosKernels.

[2017-02-23 23:53] mhoemmen commented on #1088
one step at a time :) we don't know if this really the issue yet, also we may have to do the same for dot products and i haven't tested whether this _builds_ yet ;-P

[2017-02-23 23:53] crtrott commented on #1088
Digging around inside Tpetra_Import_Util2.hpp

[2017-02-24 00:00] crtrott commented on #1088
Looks like it is compiling :-)

[2017-02-24 00:08] crtrott commented on #1088
And it only broke the CrsMatrix UnitTests and the BlockCrsMatrix UnitTests, but those are not important right ;-)?

[2017-02-24 00:10] crtrott commented on #1088
This probably means the sync logic is bad inside pack and unpack ...

[2017-02-24 00:23] mhoemmen commented on #1088
:( note that we've never tested Tpetra on CUDA not with UVM.  On the other hand, pack and unpack for CrsGraph and CrsMatrix should use the old interface that takes Teuchos::Array*.

[2017-02-24 00:33] hkthorn commented on #492
@csiefer2 Yes, Anasazi can be BSD.  I believe only the headers in the code need to be changed.  I looked into this some time ago and do not remember the reason for it not being BSD before.

[2017-02-24 05:31] mhoemmen commented on #1088
Just to summarize our debugging session this afternoon: Kokkos::DualView::modify checks whether the input template parameter has the same memory_space as the DualView.  If not, it marks the "host view" modified.  This means that, for example, if the DualView's memory_space is CudaUVMSpace and the input template parameter is CudaSpace, the DualView's host view will get marked as modified, contrary

[2017-02-24 06:58] aprokop opened #1089 "Stratimikos support for Anasazi"
@trilinos/anasazi @amklinv @hkthorn

If I am not mistaken, Stratimikos currently has not support for Anasazi. If that is correct, how difficult would adding such support be? What are the steps required to do that? Is there any missing functionality preventing it?

My hope that it may not be hard. The Stratimikos support for MueLu was not hard (and that's my only measuring bar).

[2017-02-24 15:51] ibaned opened #1091 "Set up automated testing with SuperLUDist enabled"
As pointed out in #410, #1083, and #1090, it would be valuable to have automated Trilinos testing that enables the SuperLUDist TPL.

@trilinos/framework

[2017-02-24 15:54] ibaned commented on #1091
As @bartlettroscoe points out, this requires adding SuperLUDist to the SEMS TPL mount.

[2017-02-24 16:00] bartlettroscoe commented on #1091
SuperLUDist could be added to the offical SEMS set of TPLs or someone could add a 'trilinos' project space and start adding its own TPL builds.   See:

* https://sems.sandia.gov/content/request-project-area-nfs-tpl-build-machines
* https://sems.sandia.gov/content/installing-project-tpl'

In fact, it is likely way past due for Trilinos.  Trilinos is not the only (or the most important) SEMS custome

[2017-02-24 16:10] ibaned opened #1092 "Stratimikos: Amesos2 SuperLU_DIST test failing"
This is an unusual issue in that the relevant code is not yet in Trilinos at the time of posting, but it will help us to track problems with PR #1090 .
If one checks out that code and compiles with Thyra, Tpetra, Amesos2, Stratimikos, KLU2, and SuperLUDist enabled, the following command:
[code]
Produces the following output:
[code]
It looks like the most outstanding issue is that `inv(A)*A*v != v`

[2017-02-24 17:02] mhoemmen commented on #1089
Wouldn't Thyra need a new "eigensolver" interface?  LinearOpWithSolve etc. are designed around linear solves.  You might be able to pass in the system, and get the eigenvectors out, but you would need a new interface to get the eigenvalues.

[2017-02-24 17:05] hkthorn commented on #1089
Linear solver interfaces and eigensolver interfaces are definitely different.  Stratimikos is designed for linear operator applications that either are or approximate A^{-1}, that does not relate the input-output relationship of an eigensolver.

[2017-02-24 17:06] hkthorn commented on #1089
There should have been a "to" in the previous comment:  "... that does not relate [to] the input-output relationship of an eigensolver."

[2017-02-24 17:40] aprokop commented on #1089
Good point. I've never worked with eigen-systems, and feel stupid for not realizing this issue.

The issue is obviously larger than any of us have time work on, so I'm closing it.
Thank you for quick replies.

[2017-02-24 17:40] #1089 closed

[2017-02-24 23:26] jjellio opened #1093 "MueLu, yaml-cpp, Boost, Unit test failures"
When building with
TPLs yaml-cpp and boost, MueLu's unit tests will fail to build, because CMake will fail to find yaml-cpp files during configuration.

Should this tests be in MueLu still? Perhaps it belongs in Teuchos, or is it redundant?

packages/muelu/test/unit_tests/CMakeLists.txt has:

[code]

YamlParameterList lives in Teuchos now:

[code]

@trilinos/muelu @trilinos/teuchos

[2017-02-24 23:27] nmhamster commented on #1093
@jjellio what yaml-cpp are you using it has gone through a lot of changes recently? Are you on a testbed?

[2017-02-24 23:38] jhux2 commented on #1093
@jjellio This looks like build logic that didn't get purged.  If you remove it, do MueLu's unit tests then build for you?

[2017-02-24 23:41] jhux2 commented on #1093
@jjellio There are similar issues in ```muelu/src/Interface/CMakeLists.txt``` and ```muelu/test/interface/CMakeLists.txt```.  Could you try removing that also?

[2017-02-25 00:15] jhux2 commented on #1093
@jjellio checkin test is running now

[2017-02-25 00:59] jhux2 commented on #1093
@jjellio This should now be fixed with commit 8303b75.  Please reopen if you still see problems with MueLu and yaml-cpp.

[2017-02-25 00:59] #1093 closed

[2017-02-25 08:11] jjellio commented on #1093
Yes, sorry for the delay. I 'fixed' them locally by disabling that part of the CMakeLists.txt

I just hit this, because I just turned on Yaml-cpp as part of my benchmarking efforts.. the builds locally never failed, because I do not need Boost... but my builds on the testbeds target the various  apps, so I enable many more TPLS.

I'll pull again and post back if there are problems.

[2017-02-25 08:45] jjellio opened #1094 "Muelu / IntrepidPCoarsenFactory tests depend on the serial execution space"
Hi!

I have a build that is OpenMP only, and the unit tests from `IntrepidPCoarsenFactory.cpp` want to explicitly use `Kokkos::Serial`.

This causes a compile time error, since the type is undefined. I've temporarily disabled these.

It looks like the tests wants to ensure determinism:
`  void testUniqueNumbering(Teuchos::FancyOStream &out, bool &success)`

This one looks to ensure things are numb

[2017-02-25 19:58] jhux2 commented on #1094
@nateroberts

[2017-02-25 19:59] jhux2 commented on #1094
@nateroberts Can you have a look at this issue?

[2017-02-25 21:10] jhux2 commented on #1094
@CamelliaDPG Thanks for looking at this so quickly!

[2017-02-25 21:24] CamelliaDPG commented on #1094
Just pushed a fix for this to develop: as suggested by @jjellio, replaced Kokkos::Serial with Kokkos::DefaultExecutionSpace.  Thanks for bringing this to our attention!

[2017-02-25 21:24] #1094 closed

[2017-02-25 22:30] mhoemmen commented on #1094
btw if you really want to use Serial but don't want to build Tpetra for Serial, you can set those two options independently.

[2017-02-27 01:51] nmhamster opened #1095 "Zoltan2 Complains about ParMETIS Version (4.0.3) but this is Installed?"
@kddevin @vjleung - seem to be having some trouble with Zoltan2 on the Bowman KNL test bed on Trilinos VOTD for 2017-FEB-26.

I am getting an error during CMake configure:

[code]

But I have the ParMETIS 4.0.3 module loaded and it is pointing to a 4.0.3 install.

Here is my configure script (see below) which I am running with the `devpack-sparc/openmpi/1.10.4/intel/17.0.098` module loaded (this s

[2017-02-27 02:04] nmhamster commented on #172
@bartlettroscoe will you get some time to look at this during FY17. We are obviously building on more of the test machines now and I guess having automatic detection of Trilinos TPLs based on the `devpack` modules would be helpful. Also we discussed at the ECP Project Meeting maybe having these auto-set platform-specific optimizations? I don't know if this is possible but just wanted to see if you

[2017-02-27 02:18] bartlettroscoe commented on #172
What have that listed on our backlog for the Tools & Dev Env project.  Actually, we are looking to get some time from an experienced contractor to focus just on this.  But even without a contractor, there is no reason that people can't be putting their configuration setting for Trilinos on these various machines into these files using this setup.  And if we can get some help with getting automated

[2017-02-27 02:21] nmhamster commented on #172
@bartlettroscoe - thanks for getting back to me. I am going to a meeting in DC and missing SIAM CSE17. Perhaps we can talk on Skype another time when we are both "in the office". We are modifying the devpacks and I want to make sure you are in the loop.

[2017-02-27 02:34] bartlettroscoe commented on #172
As long as there are env vars that provide the same info, it will be easy to update.

[2017-02-27 12:14] jjellio commented on #1095
@nmhamster
If you are sure your parmetis is >=4.0.3, you can set -DHAVE_PARMETIS_VERSION_4_0_3=ON

My guess, you are hitting: https://github.com/trilinos/Trilinos/issues/937
The current check for the version is a runtime check, and since you are trying to do KNL, you probably need to either run CMAKE on the node, or add the define above to prevent the cross compiling problem.

The test can and sho

[2017-02-27 12:56] jjellio commented on #937
@jwillenbring I used @bmpersc 's suggestion, which works.

I think this is sufficient to make this compile time. (or it seems to work for me under Cray's PE)

Here is a pull request that resolves this on Cray's systems. I am not too sure how to test this further.  Perhaps @bartlettroscoe @bmpersc  can review it.
https://github.com/trilinos/Trilinos/pull/1096

[2017-02-27 16:28] kddevin commented on #1095
@jjellio Thank you for the PR changing the test to compile time.
@nmhamster  Does James' suggestion or PR fix this issue for you?

[2017-02-27 17:45] jjellio opened #1097 "TeuchosComm Requires MPI v2 but this is not tested for at compile time."
Reported by David Hysom,

`MPI_Comm_create_keyval` is an MPI2 function, if a user attempts to build with MPI-1, they will get atleast the error below (potentially others?). Is there a compile time check for the MPI spec the compiler supports? If not, attempting to compile a program with `MPI_Comm_create_keyval` could be an option.

[code]

@trilinos/teuchos @trilinos/framework

[2017-02-27 17:51] nmhamster commented on #1095
@jjellio @kddevin thanks for getting to this so quickly. I will check the PR and get back to you but, in general, we really do need to have cross-compile support for the library detects where we can for Trinity etc. I really appreciate your guys help.

[2017-02-27 19:33] jjellio commented on #1095
I cannot agree more @nmhamster, Building on machines that are designed around cross compiling has been a bit of a headache. I think I understand how to translate most runtime checks to compile time. Ultimately, I just set the cache variable, because that was the quickest way forward. Hopefully the PR goes through, and then I will feel more confident with apply that same methodology to other runtim

[2017-02-27 20:04] mhoemmen commented on #1097
@jjellio Does David really want to be able to build with MPI 1, or would he accept using a nonancient MPI version if Teuchos did a configure-time error check?  MPI 2.0 has been out since 1997 (20 years) and I would really rather not promise MPI 1.x support unless somebody really needs it, but I wouldn't mind adding the check that tells people to use a more modern MPI.

[2017-02-27 20:05] mhoemmen commented on #1095
@trilinos/zoltan2

[2017-02-27 20:27] jjellio commented on #1097
He resolved this by swapping to mvapich2. The default on his platform is MPI-1.

I think Trilinos should perform some type of check. I looked through the MPI header (mpi.h), and it does not appear to identify the spec the implementation conforms to.

[2017-02-27 22:57] mhoemmen commented on #1097
We could use either the MPI_VERSION macro at compile time (preferred), or the MPI_Get_version function at run time.

[2017-02-28 09:10] jjellio commented on #1097
@mhoemmen is MPI_VERSION reporting the MPI standard version, or the implementation's version? E.g., OpenMPI 1.10, MPT 7.4.2, etc.. I seem to recall seeing MPI_VERSION being the latter, not the former.

[2017-02-28 16:43] jjellio commented on #1045
@krcb changing to library names fixed this. In this case, the library directory contains libs with the name hdf5_parallel.a which is also soft linked to hdf5.a On this machine, it is easiest to just specify the expected library names.

`HDF5_LIBRARY_NAMES="hdf5hl_fortran;hdf5_fortran;hdf5_hl;hdf5"`

[code]

[2017-02-28 16:43] #1045 closed

[2017-02-28 16:45] mhoemmen commented on #1097
Hm, we've been assuming the former, that MPI_VERSION tells us the major version of the MPI standard that the implementation implements.

[2017-02-28 17:09] jjellio commented on #1097
I am likely wrong. I rarely override the default MPI detection. If that is the case, then this is straightforward to implement I imagine.

The purpose of the issue is simply that there is a requirement for MPI-2, so it may as well be enforced

[2017-03-01 16:00] bathmatt opened #1098 "MueLu fails to compile on cuda"
I'm seeing these errors when I try to compile MueLu

`
[ 87%] Building CXX object packages/muelu/src/CMakeFiles/muelu.dir/Utils/ExplicitInstantiation/MueLu_CoalesceDropFactory.cpp.o
/home/mbetten/Trilinos/Trilinos/packages/xpetra/src/Map/Xpetra_EpetraMap.hpp(655): warning: statement is unreachable

/home/mbetten/Trilinos/Trilinos/packages/xpetra/src/CrsGraph/Xpetra_CrsGraphFactory.hpp(114): error:

[2017-03-01 16:12] bathmatt commented on #1077
ebe8685a7c6c1744fb892afa792b4f7d770a12a3 should have ifdeffed out the KK decl if we are using CUDA.  revert to test.

[2017-03-01 16:19] mhoemmen commented on #1098
@trilinos/muelu

[2017-03-01 16:32] aprokop commented on #1098
@bathmatt Please provide your configuration script.

[2017-03-01 18:07] crtrott commented on #844
Ok is anybody fixing this??

[2017-03-01 18:08] crtrott commented on #844
I assigned you Roger ;-), and if you don't fix it till next integration I do it for you :-D

[2017-03-01 18:11] bathmatt commented on #1098
Attaching two files, run
. set_toolchain.txt
[configure.txt](https://github.com/trilinos/Trilinos/files/811632/configure.txt)
[set_toolchain.txt](https://github.com/trilinos/Trilinos/files/811635/set_toolchain.txt)

 cuda
then run the configure.

[2017-03-01 18:44] aprokop commented on #1098
This is probably due to @csiefer2 commits working on `computeGlobalConstants()` yesterday. My assumption at this point is that he missed one of the classes in Xpetra. Hang on.

[2017-03-01 18:45] bathmatt opened #1099 "KokkosKernels pullout broke my configures"
Any idea on what I need to add to my scripts to get configure to work.  It is a silent failure, by that I mean it isn't obvious what the problem is, and my CMakeErrors.log looks pretty much the same before and after the commit.

I added Trilinos_ENABLE_KokkosKernels=ON

Set up for creating a distribution ...
tail of the configure.
`
Finished configuring Trilinos!

-- Configuring incomplete, errors

[2017-03-01 18:50] aprokop commented on #1099
@csiefer2 @crtrott

[2017-03-01 18:53] rppawlo commented on #1099
I'm seeing it too. Here's the error I get at configure:

Processing enabled package: KokkosKernels (Libs)
CMake Error at packages/kokkos-kernels/CMakeLists.txt:46 (TRIBITS_ADD_OPTION_AND_DEFINE):
  TRIBITS_ADD_OPTION_AND_DEFINE Macro invoked with incorrect arguments for
  macro named: TRIBITS_ADD_OPTION_AND_DEFINE

[2017-03-01 18:54] bathmatt opened #1100 "Panzer compile tutorials under cuda"
@rppawlo
I assume the mySourceTerm is your stuff?  It doesn't compile under cuda due to the functor vs lambda stuff.

[2017-03-01 18:59] kyungjoo-kim commented on #1077
Hi Matt

I changed the code. The problem was the mimatch of space type between basis input (basis has generic interface and it requires predefined view interface - no function template interface avail) and actual input.

I checked the code compile with cuda but I still have pnetcdf linking issue on hansen and I was not able to check linking example. I am quite sure that the code is working again.

[2017-03-01 19:06] bathmatt commented on #1077
I'll check it in a bit, trilinos is wacked right now because of
https://github.com/trilinos/Trilinos/issues/1099 and I can't update and
build anywhere.

On Wed, Mar 1, 2017 at 11:59 AM, kyungjoo-kim <notifications@github.com>
wrote:

[2017-03-01 19:23] jhux2 commented on #1098
There are other known issues in MueLu.  @bathmatt the MueLu team is at CS&E this week.  Can this wait?

[2017-03-01 19:26] mhoemmen commented on #1099
Hey @bathmatt and @rppawlo, does any package not part of Trilinos' public distribution, that you happen to use, depend on KokkosKernels directly (not just indirectly through Tpetra)?  This could explain the issue.  @crtrott did test Trilinos but he may not have tested, say, Panzer.

[2017-03-01 19:33] rppawlo commented on #1100
not mine @bathmatt  - this is @jmgate - he is doing a panzer tutorial on Friday at CSE. I will talk to him in between sessions and one of us will fix it.

[2017-03-01 19:39] rppawlo commented on #1099
I would have expected Intrepid2 to depend on it but it doesn't look like it has that dependency yet. Otherwise, I don't think so.

[2017-03-01 19:41] bathmatt commented on #1099
-bash-4.1$ find . -name Dependencies.cmake -exec grep -il KokkosKernel {} \;
./packages/ifpack2/cmake/Dependencies.cmake
./packages/stokhos/cmake/Dependencies.cmake
./packages/tpetra/core/cmake/Dependencies.cmake
./packages/trilinoscouplings/cmake/Dependencies.cmake

[2017-03-01 19:41] bathmatt commented on #1099
Hereis the matching grep

SET(LIB_REQUIRED_DEP_PACKAGES Belos Teuchos Tpetra KokkosKernels)
SET(LIB_OPTIONAL_DEP_PACKAGES EpetraExt Ifpack ML TriKota Anasazi Sacado NOX Isorropia KokkosKernels TeuchosKokkosComm KokkosAlgorithms KokkosContainers Tpetra Ifpack2 MueLu Belos Amesos2 Thyra)
  LIB_REQUIRED_PACKAGES Teuchos TpetraClassic KokkosCore KokkosContainers KokkosAlgorithms TeuchosKokkosCompat Te

[2017-03-01 19:56] mhoemmen commented on #1099
@bathmatt We _want_ to see KokkosKernels.  We don't want to see TpetraKernels.
[code]

[2017-03-01 20:01] bathmatt commented on #1099
@mhoemmen I was answering your question here.

"Does any package not part of Trilinos' public distribution, that you happen to use, depend on KokkosKernels directly "

tpetra and ifpack2 both do.

[2017-03-01 20:01] mhoemmen commented on #1099
Hm, this is interesting.  In my Clang 3.5 build:
[code]

[2017-03-01 20:02] bathmatt commented on #1099
@mhoemmen
yes, @rppawlo reported the same thing a bit ago.  So, I don't think it worked for anyone.

his comment
"I'm seeing it too. Here's the error I get at configure:

Processing enabled package: KokkosKernels (Libs)
CMake Error at packages/kokkos-kernels/CMakeLists.txt:46 (TRIBITS_ADD_OPTION_AND_DEFINE):
TRIBITS_ADD_OPTION_AND_DEFINE Macro invoked with incorrect arguments for
macro named: TRIB

[2017-03-01 20:02] mhoemmen commented on #1099
Hi @bathmatt -- sorry, I should have emphasized "not part of Trilinos' public distribution."  Tpetra and Ifpack2 are part of Trilinos' public distribution.  You folks use packages that are not Trilinos packages, but integrate with Trilinos through TriBITS.

[2017-03-01 20:03] mhoemmen commented on #1099
OK, let me take a look.  Maybe this is easy.

[2017-03-01 20:05] bathmatt commented on #1098
@jhux2 it can wait as I have an ifdef in my configure not to use this if cuda is on.

[2017-03-01 20:05] mhoemmen commented on #1099
I think it's this _ENABLE_EXECUTION_SPACE_ variable.  That's not defined, I don't think, which confuses CMake.  Also, the ASSERT_DEFINED on line 45, right above the use of one of those variables, refers to `Kokkos_ENABLE_CUDA`, not `${PACKAGE_NAME}_ENABLE_EXECUTION_SPACE_CUDA`.

[2017-03-01 20:07] mhoemmen commented on #1099
I get it.  @crtrott wants to be able to control the execution spaces for which KokkosKernels prebuilds kernels, separately from the execution spaces that Kokkos enables.  I think I can fix this by setting defaults for those variables if they do not exist.

[2017-03-01 20:17] mhoemmen commented on #1099
I'm testing the fix now.

[2017-03-01 20:24] mhoemmen commented on #1099
Ok, I think I got it.  Give me a few minutes to push.  I'll push the fix to Trilinos develop first, then prepare a PR for KokkosKernels develop.

[2017-03-01 20:27] mhoemmen commented on #1099
I just pushed the fix to Trilinos develop.

[2017-03-01 20:28] rppawlo commented on #1099
Thanks Mark!

[2017-03-01 20:40] bathmatt commented on #1099
thanks!!

[2017-03-01 21:00] bathmatt commented on #1099
@mhoemmen did you get it to compile?  I'm getting tons of errors now and nothing is compiling?

[2017-03-01 21:19] rppawlo commented on #1099
Same for me. Must be the defaults are incorrect. I get tons of errors like the one below. I don't have Cuda enabled. It is an OpenMP only build.

[ 47%] Building CXX object packages/epetra/src/CMakeFiles/epetra.dir/Epetra_SerialSymDenseMatrix.cpp.o
/ascldap/users/rppawlo/Trilinos/packages/kokkos-kernels/src/impl/Kokkos_Sparse_impl_spmv_decl.hpp:258:53: error: ‘Cuda’ is not a member of ‘Kokkos’

[2017-03-01 21:26] csiefer2 commented on #1099
Yeah, same here.

[2017-03-01 21:42] kongm opened #1101 "Kokkos_Sparse_impl_MKL build error"
Hi,

I'm trying to build the latest Trilinos git version. I'm using these options:

  -D TSQR_ENABLE_Fortran:BOOL=OFF \
  -D Trilinos_ENABLE_Belos:BOOL=ON \
  -D Trilinos_ENABLE_Ifpack2:BOOL=ON \
  -D Trilinos_ENABLE_Teuchos:BOOL=ON \
  -D Trilinos_ENABLE_CXX11:BOOL=ON \
  -D Trilinos_ENABLE_Tpetra:BOOL=ON \
  -D Trilinos_ENABLE_Kokkos:BOOL=ON \
  -D Trilinos_ENABLE_KokkosKernels:BOOL=ON \
  -D Tr

[2017-03-02 01:09] rppawlo commented on #844
@crtrott - can you send me a configure file (and loaded sems modules if applicable). I can't reproduce. Have tried the -Wnarrowing and all the configure flags mentioned above. I've tried multiple machines and multiple gcc compilers from 5.X and 6.X series. Nothing is working. Is there a specific platform you see this on that I could access?

[2017-03-02 01:44] mhoemmen commented on #1099
Ok, that's weird.  Could you send me your CMakeCache.txt files?

[2017-03-02 01:55] mhoemmen commented on #1101
Hold on, this might be related to #1099.

[2017-03-02 03:36] crtrott commented on #1101
I'll do it.

[2017-03-02 03:56] crtrott commented on #1099
Hey guys, my feeling is this is two different errors. Matts error (looking at the actual error output seems to be an issue with BLAS while Rogers was something with cmake.

[2017-03-02 04:27] crtrott commented on #1099
Ok I got the build error fixed. The attempted fix by Mark was basically always enabling all backends inside of KokkosKernels. There need to be some if clauses.

[2017-03-02 04:30] crtrott commented on #1101
can you post a more complete configure file.

[2017-03-02 04:36] crtrott commented on #1099
I still don't know what the initial error is though the output doesn't say anything ...

[2017-03-02 04:41] crtrott commented on #1099
Btw on which machines was this?

[2017-03-02 04:50] crtrott commented on #1099
Ok this should have added a proper fix.

[2017-03-02 04:52] crtrott commented on #1101
Not sure what is going for you. I need a full configure script and what compilers you are using etc.

[2017-03-02 12:48] rppawlo commented on #1099
yes - that did it! Thanks!

[2017-03-02 13:24] jmgate commented on #1100
Sorry gents.  I'm afraid I'm unable to VPN in to fix this right now&mdash;I'll be able to get to it when I'm back on Monday.

[2017-03-02 13:57] jmgate commented on #1100
Oh yeah, Trilinos is out there in the open and I don't need to VPN in.  I'll get to this today.

[2017-03-02 14:05] mhoemmen commented on #1099
I don't understand why my previous commit didn't fix things, but I'm glad it works now!  Thanks @crtrott ! :-D

[2017-03-02 14:05] #1099 closed

[2017-03-02 14:38] rppawlo commented on #1100
@bathmatt fix is in. can you verify?

6fe4711f7a280207fa0d7b6bf4e0df5e28632df

[2017-03-02 14:57] bathmatt commented on #1099
@crtrott thanks for the fix, it works for me now.

The configure was broken on three+ platforms.  my machine, jenkins RHEL6 (which is like my machine) shiller and ellis.  Not sure how it worked anywhere before Mark's fix.

Closing

[2017-03-02 15:57] bathmatt commented on #1100
Nope, not yet

`/home/mbetten/Trilinos/Trilinos/packages/phalanx/src/Phalanx_MDField_Def.hpp(128): warning: calling a __host__ function from a __host__ __device__ function is not allowed
          detected during instantiation of "PHX::MDField<DataT, Tag0, Tag1, Tag2, Tag3, Tag4, Tag5, Tag6, Tag7>::MDField() [with DataT=double, Tag0=panzer::Cell, Tag1=panzer::NODE, Tag2=panzer::Dim, Tag3=void, Tag

[2017-03-02 16:05] csiefer2 commented on #1099
Can build now, thanks.

[2017-03-02 16:30] rsln-s opened #1102 "Zoltan multilevel hypergraph partitioning doesn't generate enough levels on a network with communities."
I'm running zoltan phg on a matrix generated from [youtube dataset with ground-truth communities](http://socialnetworks.mpi-sws.org/data-imc2007.html) in a following way: communities are hyperedges (rows) and users are vertices (i.e. a vertex is in a hyperedge if as user is a member of the corresponding community)

However, on that matrix with ~660k vertices zoltan only calls coarsening twice and

[2017-03-02 16:31] tawiesn opened #1103 "MueLu builds zero column prolongator for diagonal matrix"
By default, MueLu drops "Dirichlet" nodes from aggregation. In the worst case it builds a prolongation operator with zero columns.

There is a "aggregation: preserve Dirichlet points" option (default=off) to keep all Dirichlet nodes unaggregated. The problem is, that there would be no progress in coarsening if we activate that.

What are the options for a smarter handling of this special case?
- W

[2017-03-02 16:32] tawiesn commented on #1103
@trilinos/muelu

[2017-03-02 16:34] jhux2 commented on #1103
@tawiesn I think @aprokop already implemented this option in MueLu

[2017-03-02 16:47] kongm commented on #1101
Here are my configure script, the configure log and the CMake logs.

[CMakeError.txt](https://github.com/trilinos/Trilinos/files/814474/CMakeError.txt)
[CMakeOutput.txt](https://github.com/trilinos/Trilinos/files/814477/CMakeOutput.txt)
[do-config.txt](https://github.com/trilinos/Trilinos/files/814476/do-config.txt)
[do-config-log.txt](https://github.com/trilinos/Trilinos/files/814475/do-config-lo

[2017-03-02 17:06] aprokop commented on #1103
No, there is nothing in MueLu that deals with this case. There is also an additional bug associated with this issue: if you choose your `aggregation: drop tol` large enough, you will drop all off-diagonal entries which would lead to the exact same issue.

If all nodes are Dirichlet, then essentially this processor does not need to communicate with other processors to solve it's local domain. We ne

[2017-03-02 18:53] kongm commented on #1101
Seems like the MKL version used in the configure file is too old. Doesn't even have constants such as SPARSE_INDEX_BASE_ZERO. Will try then with a newer version.

[2017-03-02 19:04] crtrott commented on #1101
Yeah, also use -mkl both for cxx and linkflags

[2017-03-02 19:09] tawiesn commented on #1103
Yes, i agree with @aprokop. Making sure that the aggregation strategy is returning at least one (dummy) aggregate would avoid the crash. We have to throw a warning, too. The coarse solver would then be applied to a problem of size 3x3 or 6x6. Not a big issue, i guess, but not elegant. Most level smoothers can solve the diagonal problem anyway, so it should not a big of issue with respect to conver

[2017-03-02 19:17] tawiesn commented on #1103
For the parallel case: I think we should have at least one aggregate on each processor. In fact, we would have to check, whether all local nodes have the state IGNORED aggState. If and only if that is the case we would create one aggregate (e.g. for the first local node on the proc).

[2017-03-02 19:18] nmhamster commented on #1101
@kongm in your logs the compiler is identified as GNU so the `-mkl` will not work (Intel specific). If you want to use the Intel compiler with Intel-MPI then you should use the `mpiicpc`, `mpiicc` and `mpiifort` commands as these will map correctly.

[2017-03-02 19:22] tawiesn commented on #1103
I'd propose to add a check in the PreserveDirichletAggregationAlgorithm. This algorithm is hard-coded to be used in the UncoupledAggregationAlgorithm. We can count the number of local nodes with status IGNORED (in the for loop that we already have) and compare it with the number of local nodes. If both numbers are the same it means all nodes have been ignored for aggregation and we'd create one (d

[2017-03-02 20:27] kongm commented on #1101
@nmhamster  Thanks for pointing that out.

@crtrott @mhoemmen I managed to correctly build Trilinos. Our application is working fine with it. Now I can finally test the new thread parallel solvers. Thanks!

[2017-03-03 15:26] mhoemmen commented on #1101
@kongm Just curious -- what MKL version were you using before?  I would like to add an MKL version check to KokkosKernels.  See issue here: https://github.com/kokkos/kokkos-kernels/issues/7

[2017-03-03 15:26] #1101 closed

[2017-03-03 15:27] mhoemmen commented on #1101
I closed this issue, and added a KokkosKernels issue to add an MKL version check: https://github.com/kokkos/kokkos-kernels/issues/7

[2017-03-03 17:29] bathmatt opened #1104 "ctest -j and kokkos and hwloc"
@nmhamster @rppawlo
Is there any procedure on how to test in parallel on the various systems
https://github.com/kokkos/kokkos/issues/630
points out an issue with openmp and thread binding.

I'm looking for a recipe on what do I configure with, and how do I test for the different platforms.  Particularly for openmpi/RHEL, ellis, ride, shiller (cpu and gpu).

What are people using?  Are you just rev

[2017-03-03 19:03] MicheldeMessieres opened #1106 "EpetraExt examples not integrated"
EpetraExt has examples which are not integrated into the normal Trilinos examples structure. PR #1105 adds one of them (HDF5_IO.cpp). It was decided not to add all of them at this time. This issue is to track the need to incorporate other examples for testing purposes.

[2017-03-03 21:46] bathmatt opened #1107 "panzer on cuda 7.5.18"
On shiller I cannot compile panzer with cuda, but can with my desktop.  The major difference is cuda 8 vs 7.5.18.

@rppawlo @mhoemmen @crtrott do you have any ideas why these would be different?
Are we using Kokkos::Compat::KokkosDeviceWrapperNode anymore?

 There are two different errors

Which looks like  panzer::TpetraNodeType != Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Cuda, Kokkos::Cud

[2017-03-03 21:57] bathmatt commented on #1107
@nmhamster

[2017-03-03 22:05] rppawlo commented on #1107
@bathmatt can you email me your configure script?

[2017-03-03 22:15] bathmatt commented on #1107
@rppawlo sent.

[2017-03-03 23:22] rppawlo commented on #1051
The main complication will be that we actually have two implementations for MDFields, one for static rank and one for dynamic rank. Right now they are differentiated via template arguments. I'm pretty sure that adding default template argument for the device will result in the compiler not being able to pick between the two classes. I think we can get around this with SFINAE to remove one of the t

[2017-03-04 13:17] jjellio commented on #1099
I am on develop, and I cannot use an installed Trilinos build.
[code]

[2017-03-04 15:00] ibaned commented on #1099
@jjellio  I ran into the same thing, and submitted a fix as kokkos/kokkos-kernels#8

[2017-03-05 22:02] jjellio commented on #1104
@bathmatt
I've been building/testing on Mutrino (Cray) with OpenMP. I never enable HWLOC. A testing process I've found that works reasonably well:
[code]

[code]

[code]

I don't have a better answer, but this works OK for me. I que these as batch jobs, that configure + build. On Cray, if you don't want to use batch jobs, you need to configure inside an interactive job, because the path to APRUN i

[2017-03-05 22:12] jjellio commented on #1099
Nice, I just copied the files manually... The machine I am on is going down for a week and I needed things going fast.

[2017-03-06 14:52] tgvoskuilen opened #1108 "Amesos Umfpack Parallel Hang"
I have been experiencing intermittent parallel hangs on multi-processor jobs using umfpack (solver block below). I've run it in the debugger and it's just sitting at two different MPI calls within the umfpack solver code. I captured matrix files for the case where it hangs and can provide them too.

  begin trilinos equation solver directVerbose
    solution method  = amesos-umfpack
    fei output

[2017-03-06 15:45] ibaned opened #1109 "checkin-test-sems.sh: how to control -j for make and ctest ?"
I'm trying to give separate `-j` arguments to `make` and `ctest` through `checkin-test-sems.sh`. This is the way I'm trying to do it:
[code]
But that runs the following make command:
[code]
How do I make the first `-j4` disappear ?

[2017-03-06 16:13] bartlettroscoe commented on #1109
@ibaned,

The flag "-j4" default is getting set in your local-checkin-test-defaults.py file.  See the first note at:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

which states:

"After the first time checkin-test-sems.sh is run, optionally edit the file local-checkin-test-defaults.py for your machine (see comments inside of the script checkin-test-sems.sh itself).

[2017-03-06 16:18] ibaned commented on #1109
Thanks, I'll reopen this if that does not work. I'm still working out what the right values are, I just wanted to control the two separately.

[2017-03-06 16:18] #1109 closed

[2017-03-06 17:43] mhoemmen commented on #1108
@trilinos/amesos @trilinos/amesos2 @srajama1

[2017-03-06 18:01] mhoemmen commented on #1108
The poster would like to express a sense of urgency about this particular issue.  The work-around is not satisfactory and the customers are getting more and more unhappy.

[2017-03-06 18:15] mhoemmen commented on #1108
In particular, Tyler used the phrase "L2 Milestone FY17 Q4."  I'm getting details about solvers now.

[2017-03-06 19:40] srajama1 commented on #1108
@krcb @MicheldeMessieres : Will you have some time to help out here ? I believe you are already using Amesos and UMFPACK for testing. It is totally fine if you are not able to do it.

[2017-03-06 20:38] bathmatt opened #1110 "Teko with MueLu error"
I'm trying to get a handle and get started with this error.  when I try to enable Teko using MueLu as the preconditioner for one of the block solves I get an error.  This all works with ML.

Asking @egphill @eric-c-cyr @jhux2 if they've seen this before?  I'm thinking I need special options inmy configure?

Here is the cryptic error message.  I'm thinking it may be a configure issue?

[code]

[2017-03-06 20:41] jhux2 commented on #1110
Adding @tawiesn to the conversation.

[2017-03-06 20:42] jhux2 commented on #1110
@bathmatt I've not seen this before, but @tawiesn has used Teko and MueLu recently and may have some insight.

[2017-03-06 20:43] bathmatt commented on #1110
https://gitlab.sandia.gov/EM-Plasma/Drekar/issues/49

[2017-03-06 20:44] tawiesn commented on #1110
@bathmatt I have no access to the sandia gitlab. Could you a little bit more verbose what you want to do? I've used Teko within MueLu block preconditioners as level smoothers. But i guess you want to use MueLu within Teko block preconditioners, right?

[2017-03-06 21:51] krcb commented on #1108
Discussions regarding @MicheldeMessieres and my availability are in progress.

[2017-03-06 21:55] hkthorn commented on #1108
@srajama1 @mhoemmen This could easily be because the status of the UMFPACK solver is not being broadcast to the other processors (I just looked at the code).  KLU used to have this issue before the MPI broadcasts were inserted from processor 0 after the calls to symbolic fact., numeric fact., and solve.  Also, if this UMFPACK solver is being used in conjunction with Ifpack as a preconditioner (blo

[2017-03-06 22:27] bathmatt commented on #1110
I'm trying to use muelu as the preconditioned for a block in a teko system.

[2017-03-06 23:35] tgvoskuilen commented on #1108
I was not using it with a preconditioner. I did try the same case with KLU and it did not hang. Let me know if you need other information from me.

[2017-03-07 01:09] aprokop commented on #1098
@tawiesn Does 1a12587df53142b2731c739b3555084ad5394a71 fix this isssue?

[2017-03-07 03:13] rppawlo opened #1113 "Panzer: compile times on CUDA"
The compile times for panzer on CUDA have shot through the roof. The affected object files have to do with building Intrepid2 bases. These files used to have negligible compile times but each object file is now taking 30 to 40 minutes.

Suspect that the offending commit is:
b12febbdfa10fd1da20eccc91180fb7a0943ba1d
as this added the Cn bases (previously it was just C1 and C2 bases). Will look into

[2017-03-07 14:33] rppawlo commented on #1107
I think this is fixed now. Configure issue. Closing.

[2017-03-07 14:33] #1107 closed

[2017-03-07 15:08] bathmatt commented on #1113
@rppawlo are you only seeing these times in cuda/nvcc or all platforms?

[2017-03-07 16:29] bathmatt commented on #1104
Thanks for the suggestion, I haven't gotten to mutrino yet, still working other platforms :)

[2017-03-07 16:33] mhoemmen commented on #1108
@tgvoskuilen Does KLU perform well enough for you to use as a work-around, or do you really need UMFPACK fixed?  @hkthorn 's comment suggests that the cause of this issue could be UMFPACK disliking your matrix.  If that's the cause, then her suggested fix would just give you better error reporting without hangs; it wouldn't actually let you factor the matrix with UMFPACK.

[2017-03-07 16:33] ibaned opened #1114 "Trilinos master is broken for Albany"
This issue is part short-term and part long-term.
In the short term, kokkos/kokkos-kernels#8 is broken in Trilinos master, and a fix has been pushed to Trilinos develop (0a2eee9). I'd like someone to merge develop into master to get this fix through.

In the long term, it would be highly beneficial to include an application that uses Trilinos as part of the CI process that determines when to merge

[2017-03-07 17:08] tgvoskuilen commented on #1108
So far KLU has been performing well enough to use for our problem as a work-around. Solve times are comparable to UMFPACK and it hasn't experienced the parallel hang.

I don't think it's an incompatibility with UMFPACK and my matrix though, since if I change the number of processors (or solve on 1 processor) UMFPACK handles it fine.

[2017-03-07 17:15] srajama1 commented on #1108
@tgvoskuilen : Thanks for the info. Can you send me in an e-mail (not in github) the milestone this is related to and some details on the problem you are trying to solve.

[2017-03-07 17:32] rppawlo commented on #1113
Was not the commit in the comment above. Backed up to well before that and still have slow build times. About 7 files are each taking ~45 minutes each to build. BasisValues2 is the first object we encounter. Now suspect that the transition to the refactor branch of Intrepid2 is when this started.

[2017-03-07 17:56] kyungjoo-kim commented on #1113
It seems that Intrepid2 is the problem guy. Probably we can look at basisvalues file first.

Some questions are ....
1. Is it due to FadType ? Can we isolate this problem from the RealType ?
2. If this FadType is known during compilation, can we do explicit instanciation of intrepid2 inside of panzer disc-fe library (not intrepid2 library) ?

BTW, Also can we monitor the compile time for each file

[2017-03-07 18:01] rppawlo commented on #1113
CUDA only.  On my desktop with OpenMP node, a clean build of the panzer disc-fe library took two minutes.

[2017-03-07 18:19] rppawlo commented on #1113
Seems to affect all scalar types. We do explicit instantiation of the BasisValues2 object. I disabled the FAD (Hessian already disabled) type so just the double object is being built and it took 11 minutes.

[2017-03-07 18:30] bathmatt commented on #1113
OK, at 140 minutes and counting
57985 pts/14   R+   140:48 cicc -arch compute_35 -m64 -ftz=0 -prec_div=1 -prec_sqrt=1 -fmad=1 -nvvmir-library /home/projects/x86-64-haswell-nvidia/cuda/7.5.18/bin/../nvvm/libdevice/libdevice.compute_35.10.bc --orig_src_file_name /home/mbetten/workspace/Trilinos/packages/panzer/disc-fe/src/Panzer_IntegrationValues2.cpp /tmp/tmpxft_0000d26f_00000000-10_Panzer_Integrat

[2017-03-07 19:21] crtrott commented on #1113
Hm I didn't have any issues last week when going through the integration. Do you have a config file?

[2017-03-07 19:31] bathmatt commented on #1113
@crtrott are you compiling panzer?  I know typically that is left out.

[2017-03-07 19:35] crtrott commented on #1113
Nope I always do. I compile the whole shulabub, ~1700 Test Executables, 120GB as static build with Cuda.

[2017-03-07 19:36] crtrott commented on #1113
There is actually test reports here for nightly testing: http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2774774, Panzer is by far the longest build time (1:24) followed by MueLu with 21min and Tpetra with 8 mins.

[2017-03-07 19:41] kyungjoo-kim commented on #1077
From nightly tests, this issue is resolved by now. Can we close this ?

[2017-03-07 19:43] bathmatt commented on #1113
Odd, I'm approaching 4 hours on 1 file.  @crtrott what config file do you want?  Can I get you something for hansen?

[2017-03-07 19:53] bathmatt commented on #1077
Sure, it looks like it is resolved,

On Tue, Mar 7, 2017 at 12:41 PM, kyungjoo-kim <notifications@github.com>
wrote:

[2017-03-07 19:53] kyungjoo-kim commented on #1113
What is memory size on the machines ? It looks like Roger and Matt compile the code on their desktops and Chrisitian compiles on a server machine so that it may not require external space ?

[2017-03-07 21:06] crtrott commented on #1113
This is the config files from apollo in the test driver directory, or on other occasions the samplescripts/SandiaSems directory where I use the configure_testbeds* scripts.

[2017-03-07 21:22] bathmatt commented on #1113
Shiller, 128GB

[2017-03-07 21:26] crtrott commented on #1113
Same memory as my machine.

[2017-03-07 22:01] bathmatt commented on #1098
Looks like it does,

[2017-03-07 22:01] #1098 closed

[2017-03-07 22:54] bathmatt commented on #1110
SO, it looks like it is an issue with muelu requesting an epetra vs a tpetra map and other structures.

Here is a traceback, do I need to do something special to have xpetra link to tpetra and not just epetra

`#1  0x00007ffff5cc3862 in __cxxabiv1::__cxa_bad_cast () at ../../.././libstdc++-v3/libsupc++/eh_aux_runtime.cc:34
#2  0x00000000081ea565 in Xpetra::toEpetra<int, Kokkos::Compat::KokkosDevic

[2017-03-07 23:11] tawiesn commented on #1110
Are you using drekar or panzer? If yes, i assume you have a "MueLu" block in the XML file within the Stratimikos parameters, right? If yes, there is one really ugly non-intuitive thing: if you want to use Tpetra instead of Epetra, you have to name the MueLu block "MueLu-Tpetra" instead of "MueLu". This naming convention is hard-coded in packages/panzer/adapters-stk/src/Panzer_STK_SetupLOWSFactory_

[2017-03-07 23:30] bathmatt opened #1115 "panzer tests for orientation and calculations the orientations"
I think I figured out what is going wrong in panzer for a lot of tests having to do with edge elements on ride

When we calculate edge orientation we are passing in a char since it is just +/-1, and later we set those values to orientation = -1; however, a char of -1 is 255 under the new versions of gcc.  So, we need to change this to an float, int or some signed variable

@eric-c-cyr @rppawlo

`t

[2017-03-08 00:01] bathmatt commented on #1110
I'm using drekar, I've got the following
                  <Parameter name="Type" type="string"
value="MueLu-Tpetra"/>

So, if I understood your email correctly, I think that should work...

On Tue, Mar 7, 2017 at 4:12 PM, Tobias Wiesner <notifications@github.com>
wrote:

[2017-03-08 00:09] bathmatt commented on #1113
I can't use that script on shiller, I get errors

Do you have a configure-testbed somewhere that works on hansen?
[ 24%] Linking CXX shared library libstk_util_use_cases.so
[ 25%] Built target KokkosCore_UnitTest_Serial
/home/projects/x86-64-haswell/bintuils/2.25.0/lib/../x86_64-unknown-linux-gnu/bin/ld:
/home/projects/x86-64-haswell-nvidia/boost/1.59.0/openmpi/1.10.0/gcc/4.8.4/cuda/7.5.18/lib/lib

[2017-03-08 03:19] jjellio commented on #1114
@ibaned Some form of installation testing should be done for shared and static builds. This could be solved in the log term, by having the unit test and examples living in separate repositories. (like many other large projects do, gcc for example). This would partially satisfy your request. The issues you listed also hit me, with another app. I don't think the CI framework needs to use a complicat

[2017-03-08 14:32] ibaned commented on #1114
@jjellio I agree. Even unit tests that build off the installed libraries/headers would catch these types of issues.

It seems the master branch has been updated with the fix at this point (thanks!), so I think I'll close this for the short term issue. I hope the long term issue gets some consideration.

[2017-03-08 14:32] #1114 closed

[2017-03-08 15:14] bathmatt commented on #1115
34d7e3981fcb7d7fd9eb9ca8e44cfd3157f4f664 fixed this issue.  Ride orientation is passing.  changed to signed char

[2017-03-08 15:14] #1115 closed

[2017-03-08 15:51] crtrott commented on #1113
Can I get a as small as possible configure file to show the issue?

[2017-03-08 15:52] crtrott commented on #1113
Which script were you using? On shiller you probably need to use the *sems* one instead of the normal testbed one since the env variables for the modules are different.

[2017-03-08 16:10] crtrott commented on #1113
I am trying to build now on hansen, but it is incredibly slow. Even just doing an ls hangs for several seconds.

[2017-03-08 16:12] etphipp commented on #1113
I noticed that too.  User artoth is swamping the machine.  I am currently building on hansen on one of the compute nodes.

[2017-03-08 16:25] bathmatt commented on #1110
Figured out the issue, it was a trilinos configure issue...
Closing.

[2017-03-08 16:26] #1110 closed

[2017-03-08 16:34] tawiesn commented on #1110
Yes. Furthermore, you have to change
`<Parameter name="Preconditioner Type" type="string" value="MueLu"/>`
to
`<Parameter name="Preconditioner Type" type="string" value="MueLu-Tpetra"/>`
to choose "MueLu-Tpetra" as preconditioner (since the "MueLu" block is reserved for Epetra).

[2017-03-08 17:07] jhux2 commented on #1110
@bathmatt If it's straightforward, could you post the solution here?

[2017-03-08 19:10] rppawlo commented on #1113
@etphipp I checked with Alex (artoth). He launched one build with -j8. It should not be his build, but he did kill it to be safe. Looks like the node went down completely now.

[2017-03-08 19:13] etphipp commented on #1113
The usage was at 24 and I just looked at who was the top user, assuming they were related.  They probably weren't.

[2017-03-08 19:49] bartlettroscoe commented on #229
@MicheldeMessieres, is there anything new on this?  How is are the timing experiments and analysis going?

[2017-03-08 21:41] Mark-E-Hamilton opened #1117 "error: declaration of 'auto colMap' shadows a parameter [-Werror=shadow]"
The warning shown below causes failures when building with warnings=errors turned on. This causes build errors in Sierra. This warning has occurred in the last few days.

`
In file included from TPLs_src/Trilinos_flat_headers/include/Tpetra_Details_makeColMap.hpp:2:0,
                 from TPLs_src/Trilinos_flat_headers/include/Tpetra_CrsGraph_def.hpp:56,
                 from TPLs_src/Trilinos_fl

[2017-03-08 21:47] bathmatt opened #1118 "failing panzer tests on cuda"
@rppawlo @kyungjoo-kim IntegrationValues2 is failing..
I'm dogging down the failing tests on cuda.  Here is one I could use some help with.  Not sure what is going on.

In integration_values2.cpp we have a test

`   TEST_FLOATING_EQUALITY(int_values_vol.ip_coordinates(0,0,0),
                           realspace_x_coord_1, 1.0e-8);`

The first value is NaN.  It is computed here

    int_values_vol

[2017-03-08 21:48] bathmatt commented on #1118
BTW, It calls thorugh this with GRAD operator
     Impl::Basis_HGRAD_QUAD_C1_FEM::
        getValues<ExecSpaceType>( outputValues,
                                  inputPoints,
                                  operatorType );

[2017-03-08 22:03] mhoemmen commented on #1117
@Mark-E-Hamilton I got it

[2017-03-08 22:03] mhoemmen commented on #1117
@trilinos/tpetra

[2017-03-08 22:09] mhoemmen commented on #1117
@Mark-E-Hamilton I can only push the fix to the develop branch of Trilinos.  You won't see the change until the next Sierra -> Trilinos integration.

[2017-03-08 22:15] Mark-E-Hamilton commented on #1117
Thanks. We're testing against master every day, so as soon as it makes
it there we should pick it up. Thanks.

On 03/08/17 15:09, Mark Hoemmen wrote:

--
----------------
Mark E. Hamilton
Engineering Sciences Center
Senior Member of Technical Staff
Sandia National Laboratories
505-844-7666

[2017-03-08 22:19] bathmatt commented on #1118
It looks like basis values 2 is also failing.

7. basis_values_control_vol_hgrad_UnitTest ...
 Cell 0 = (0, 0) (0.5, 0) (0.5, 0.5) (0, 0.5)
 Cell 1 = (0.5, 0) (1, 0) (1, 0.5) (0.5, 0.5)
 Cell 2 = (0, 0.5) (0.5, 0.5) (0.5, 1) (0, 1)
 Cell 3 = (0.5, 0.5) (1, 0.5) (1, 1) (0.5, 1)
 basis_values.basis_scalar.extent_int(0) = 4 == num_cells = 4 : passed
 basis_values.basis_scalar.dimension(1) = 4 == 4 =

[2017-03-08 22:27] mhoemmen commented on #1114
Thanks for the fix!  Christian pushed the fix to KokkosKernels.

[2017-03-08 22:32] kyungjoo-kim commented on #1118
This is control volume hgrad. I saw this failed tests. It is similar to the problems we saw before (either space does not match or there is missing synchronization between host and device). When I see the failed test, I kind of think that I would not pay attention on it unless someone complains about it.

Could you measure the priority of this ? How important to make this test pass on cuda ?  I am

[2017-03-08 22:33] mhoemmen commented on #1117
I just pushed a fix to develop.  If you need to test with master, one option is to cherry-pick into master temporarily.  Thanks!

[2017-03-08 22:33] #1117 closed

[2017-03-08 22:34] guoluanjing opened #1119 "AztecOO: ilut: zero pivot encountered!"
Hi there,

I am solving a linear system using AztecOO. I'm using GMRES solver with ilut preconditioner with the defult fill-in and drop parameters. But I have encounted the error message:
ilut: zero pivot encountered!

I found this old post about the error message:
[https://groups.google.com/forum/#!topic/trilinos/Ps9oKLYdDXA](url)

So I've tried the following:
1. double-checked that RCM ordering

[2017-03-08 22:37] MicheldeMessieres commented on #229
@bartlettroscoe We've been comparing the develop branch, thread safe off and on, but also thread safe on but just disabling the atomics. Disabling just the atomics helps to pinpoint the source of most time increases but not all. There have been issues with getting stable times from the tests. There are some outstanding questions which need further investigation such as unusual fluctuations for Mue

[2017-03-08 22:48] mhoemmen commented on #1119
Just because the matrix itself has an inverse, doesn't mean that you can do ILUT on it.  AztecOO implements ILUT, not ILUTP (ILUT with pivoting).  Try a different preconditioner perhaps.

[2017-03-08 23:12] bathmatt commented on #1118
I have kokkos bounds check on btw.
Question
@eric-c-cyr
@rppawlo
Are these tests going to cause any other tests to fail?  i.e. is this used in any of the drekar tests or panzer tests?

I'd say the priority is based on that.

[2017-03-08 23:47] eric-c-cyr commented on #1118
These control volume tests are important for other applications. Drekar does not currently use any control volume code. However, we need to maintain these tests for other customers.

[2017-03-09 00:05] maherou commented on #1119
The most common reason for seeing this error is that you have a zero diagonal value somewhere in your matrix.  If you are solving some kind of PDE problem, a zero diagonal value is typically a bug in your code.  If your matrix is not based on PDEs, or has some constraint equations, you can segregate these equations in a block formulation, using ILU only for the equations that have nonzero diagonal

[2017-03-09 00:09] kyungjoo-kim commented on #1118
Then the question is if the other application (charon) uses cuda ? I believe that this failures only happen on cuda. I just want to priotize my work items.

[2017-03-09 00:12] eric-c-cyr commented on #1118
I don't believe it does. @karapeterson?

[2017-03-09 15:15] rppawlo opened #1121 "Sacado: mpl::for_each for host only"
@etphipp - The sacado::mpl::for_each function is tagged with the KOKKOS_FORCEINLINE_FUNCTION. This means that when compiling for cuda, every function called within that for_each operator must also be tagged the same. Otherwise we see massive compiler warnings like the one below on cuda builds. It's really not feasible to tag every method of every object (including ctors) to compile for device too.

[2017-03-09 15:15] rppawlo commented on #1121
@trilinos/sacado

[2017-03-09 15:40] karapeterson commented on #1118
Charon doesn't currently use cuda, but we do depend heavily on the control volume code.

[2017-03-09 17:43] rppawlo opened #1123 "Phalanx: remove warnings for CUDA builds"
There are many warnings for CUDA builds in phalanx code. Mostly has to do with calling host functions from within host/device functions. We can remove many of the device compiles with the refactor of Intrepid2 to use DynRankView instead of MDFields. This ticket is to get phalanx warning free on cuda.

Depends on #1121

[2017-03-09 19:05] guoluanjing commented on #1119
@maherou Yes, I checked my jacobian matrix and there are zeros diagonal values. And it is a PDE problem. I will be looking for bugs in the code. Thanks!

[2017-03-09 19:44] rppawlo commented on #1123
all warnings removed except for mpl::for_each issue in #1121

[2017-03-09 20:13] kyungjoo-kim opened #1124 "az_aztec.h struct grid"
Hello,

I am wondering if someone uses grid structure in az_aztec.h
[code]

It say "under construction" and I do not think that this structure is used in aztec.

This struct is not protected by aztec namespace nor prefix AZ_. The structure grid is a kind of typical name that any library could use and I just got into a trouble of name conflict.

Is there a way to know that this struct is not used i

[2017-03-09 20:24] spdomin commented on #889
Hello All. @rcknaus has another test case that is displaying this issue. Is there a plan to resolve this?

[2017-03-09 22:26] srajama1 commented on #889
Adding @ndellingwood as he might be able to quickly help here.

[2017-03-09 23:45] jhux2 commented on #1124
@kyungjoo-kim I know of no way to find this out. I think your best best is to deprecate, then change when there's a major Trilinos release.

[2017-03-09 23:46] jhux2 commented on #1124
Maybe @rstumin knows.

[2017-03-10 00:02] rstumin commented on #1124
This is really old stuff and I'm pretty sure that no one uses it.

On 03/09/17 15:46, Jonathan Hu wrote:

--
Ray Tuminaro                      phone: (925) 294-2564
MS 9159                           fax:   (925) 294-2234
Sandia National Laboratories      email: rstumin@sandia.gov
PO Box 969                        http://www.cs.sandia.gov/~rstumin
Livermore, CA 94551

[2017-03-10 00:08] kyungjoo-kim commented on #1124
Okay I am gonna try deprecate it and if it passes check in test, it will be pushed. Then wait to see if somebody scream.

[2017-03-10 00:46] kyungjoo-kim opened #1126 "[Question] Epetra symmetric matrix fill."
could you help me figure out what the most efficient way to fill crs matrix with symmetry ?

The filled matrix is already upper triangular and Trillions object does not support a symmetry flag as a storage (in my opinion, if wrong, please correct me). How can fill the other part easily ?

[2017-03-10 03:31] bathmatt commented on #1123
But I guess these are panzer warnings calling something in phx

On Thu, Mar 9, 2017 at 8:23 PM, Matt Bettencourt <dr.bettencourt@gmail.com>
wrote:

[2017-03-10 04:50] mhoemmen commented on #1126
You have two options:
  1. Use Epetra_FECrsMatrix and insert A(j,i) whenever you see A(i,j), then call GlobalAssemble() or whatever Epetra calls it to communicate all the entries where they belong.
  2. Add the matrix to its transpose, then subtract off the diagonal.  I'm pretty sure that Epetra has add and transpose routines.  @csiefer2 would you happen to know?

[2017-03-10 13:17] rppawlo commented on #1123
That's a separate issue. We need to go through panzer and drekar and enforce const correctness on all evaluator dependent fields. You can turn that warning off in phalanx with:

Phalanx_SHOW_DEPRECATED_WARNINGS=OFF

Roger

Sent from my iPhone

On Mar 9, 2017, at 10:23 PM, bathmatt <notifications@github.com<mailto:notifications@github.com>> wrote:

Still getting a lot of these

/home/jenkins/worksp

[2017-03-10 14:32] maherou commented on #1126
Kyungjoo,

Give some more details about what you are doing.  Do you need just the matvec operation?  Or do you need for other purposes?

From: kyungjoo-kim <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Thursday, March 9, 2017 at 6:46 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [EXTERNAL] [tri

[2017-03-10 14:39] etphipp commented on #1121
There already is such a function, for exactly this reason.  It is called sacado::mpl::for_each_no_kokkos.  Maybe that isn't the best name...

[2017-03-10 14:55] etphipp commented on #1121
Note, the function is declared KOKKOS_INLINE_FUNCTION, not KOKKOS_FORCE_INLINE_FUNCTION.  You generally shouldn't use the latter except for extremely performance critical, low level functions.

[2017-03-10 14:58] etphipp commented on #1121
And just to be clear, these are classes, not functions.

[2017-03-10 15:56] csiefer2 commented on #1126
EpetraExt does have matrix transpose routines, if you decide to go that route.

[2017-03-10 15:57] bathmatt commented on #1100
Any status on this<?  can we fix or remove the build now that siam is over?

[2017-03-10 16:56] kyungjoo-kim commented on #1126
@maherou  I am trying to use Trilinos in LAMMPS and I have experience for that. The problem is to solve charge equilibrium (I consider that this is not quite difficult problem) with CG. The code originally use in-house CG routine with diagonal precondition (they said it is not scale well). I use Epetra + Belos + ML.

The problem is that LAMMPS uses half-neighbor list, which results in matrix filli

[2017-03-10 16:56] bathmatt commented on #1113
we cannot build drekar under cuda anymore because of these compile times.  It has only a 12 hour time limit...  It was almost done after 12 hours.

srun: Force Terminated job 1000646
slurmd[shiller04]: *** STEP 1000646.0 CANCELLED AT 2017-03-10T04:45:19 DUE TO TIME LIMIT ***

I can get a configure to run on hansen to show this to help dog this down.  How do we proceed?  This is getting pretty crit

[2017-03-10 16:57] csiefer2 opened #1127 "Amesos2: Expose Nnz Counts for KLU + Basker"
Amesos2 produces counts of nonzeros accessible from the Status' getNnzLU() routine, but only for Pardiso, SuperLU and SuperLUmt.

Issue: Expose that info for KLU2 and Basker.

[2017-03-10 16:58] olivier-snl commented on #1104
I had a conversation with @crtrott about this issue.  His strategy is to do binding to the socket and then allow the OS to manage the placement / migration within the socket.  This can look different across the spectrum of OpenMP, Kokkos, etc. and different implementations of MPI, so we could talk about the specific configurations you are trying.

[2017-03-10 17:57] bathmatt opened #1128 "/MueLu_BlockedDirectSolver.cpp.o fails to compile under gcc"
here is a compile line.  Not sure why this is happening..

/home/mbetten/Trilinos/Trilinos/packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_BlockedDirectSolver_def.hpp: In instantiation of ‘Teuchos::RCP<MueLu::SmootherPrototype<Scalar, LocalOrdinal, GlobalOrdinal, Node> > MueLu::BlockedDirectSolver<Scalar, LocalOrdinal, GlobalOrdinal, Node>::Copy() const [with Scalar = double; LocalOrdinal = in

[2017-03-10 17:59] bathmatt commented on #1128
dir-drekar (gcc) 9 $ grep -i mue configure.sh
EXPERIMENTAL_MUELU=ON

-D Trilinos_ENABLE_MueLu:BOOL=${EXPERIMENTAL_MUELU}  \
-D MueLu_ENABLE_Experimental:BOOL=${EXPERIMENTAL_MUELU} \
-D Xpetra_ENABLE_Experimental:BOOL=${EXPERIMENTAL_MUELU} \
-D MueLu_ENABLE_Amesos2:BOOL=ON \
dir-drekar (gcc) 10 $ grep -i teko configure.sh
-D Trilinos_ENABLE_Teko:BOOL=ON \
dir-drekar (gcc) 11 $ grep -i amesos config

[2017-03-10 18:02] bathmatt commented on #1128
@csiefer2 it looks like it was one of your pushes that broke the code.  83cc5d055d9c530dc37c12d339885e7a215ac54b still works.

[2017-03-10 18:49] bathmatt commented on #1113
I've attached a small script whcih shows this on hansen.
[config.txt](https://github.com/trilinos/Trilinos/files/834843/config.txt)

[2017-03-10 20:20] csiefer2 commented on #1128
@bathmatt Fix pushed.  Please confirm it works and close.

[2017-03-10 21:00] bathmatt commented on #1128
Not fixed.

from
/home/mbetten/Trilinos/Trilinos/packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_TekoSmoother_def.hpp:52,
                 from
packages/muelu/src/Utils/ExplicitInstantiation/MueLu_TekoSmoother.cpp:55:
/home/mbetten/Trilinos/Trilinos/packages/muelu/src/Smoothers/BlockedSmoothers/MueLu_TekoSmoother_decl.hpp:
In instantiation of ‘Teuchos::RCP<MueLu::SmootherPrototype<double, int,

[2017-03-10 23:39] vbrunini commented on #877
I spent a bit of time today putting together a little benchmark for findRelOffset that compares doing it on unsorted input indices to sorting the input indices and then doing a linear search using the offset of the last column index as the starting point. A few takeaways:

1. The default linear search threshold of 16 in findRelOffset is too conservative. I was testing for rows with 27 indices in t

[2017-03-13 15:09] ndellingwood commented on #1127
@csiefer2 Starting to look at this now...

[2017-03-13 16:55] jhux2 commented on #1128
@csiefer2 Would you like me to take a look at this?
@bathmatt Which gcc are you using?  Besides these, what other cmake options do we need to enable?

[code]

[2017-03-13 16:56] csiefer2 commented on #1128
@jhux2 Take a crack, if you'd like.  It built for me, so it might be my environment...

[2017-03-13 17:18] bathmatt commented on #1128
https://github.com/trilinos/Trilinos/issues/1113 has my configure,

Also, this is failing in the nightly it looks like.

On Mon, Mar 13, 2017 at 10:56 AM, Chris Siefert <notifications@github.com>
wrote:

[2017-03-13 17:28] rppawlo commented on #1121
Thanks @etphipp ! Just switched phalanx over to "no_kokkos" version. Closing.

[2017-03-13 17:28] #1121 closed

[2017-03-13 17:29] rppawlo commented on #1123
sacado had no-kokkos versions of mpl already implemented. Will switch phalanx over to these and close out.

[2017-03-13 17:34] jhux2 commented on #1128
@bathmatt Just want to be sure -- this issue is unrelated to CUDA, correct?

[2017-03-13 17:39] jhux2 commented on #1113
@bathmatt What I mean is, have you seen this problem occur without CUDA?

[2017-03-13 17:40] jhux2 commented on #1128
@bathmatt What I mean is, have you seen this problem occur without CUDA?

[2017-03-13 17:44] jhux2 commented on #1128
Ok, I see this is happening w/o CUDA from the dashboard.

[2017-03-13 17:54] #1123 closed

[2017-03-13 17:54] #1063 closed

[2017-03-13 18:20] jhux2 commented on #1128
I was able to fix those errors, now working on the following:

[code]

[2017-03-13 18:58] jhux2 commented on #1128
@bathmatt I just sent you a patch.  Please try it out and let me know if it fixes the MueLu errors you're seeing.

[2017-03-13 19:35] bmpersc opened #1129 "Xyce testing not working"
@hkthorn reported that the Trilinos Xyce testing is not running correctly and it looks like the issue is the environment is not set right.  @trilinos/framework

[2017-03-13 20:37] bmpersc commented on #1129
@hkthorn I have fixed the environment issue and the job is running again now. However, it is showing some issues where C++11 values have snuck their way into Teuchos. I will file a ticket against Teuchos for this problem. I'll leave this ticket open until we can verify that the job is still building all the necessary bits for Xyce's needs.

[2017-03-13 20:44] bmpersc opened #1131 "A C++11 feature, uintptr_t, is being used in Teuchos_Details_MpiTypeTraits.hpp"
@trilinos/teuchos it appears that a C++11 feature has crept into the COMM subpackage. This is showing up in the Xyce build which uses the gcc 4.4.7 compiler. This Xyce build was offline due to a misconfiguration so it is probable that this was introduced to Teuchos a while ago. The primary issue seems to be the use of uintptr_t which was introduced in C++11.

You can see the error at:
https://test

[2017-03-13 20:46] bmpersc commented on #1129
@hkthorn The ticket for Teuchos is at https://github.com/trilinos/Trilinos/issues/1131. I wasn't sure if you wanted to follow it so I didn't mention you in the ticket.

[2017-03-13 21:04] hkthorn commented on #1129
Thanks @bmpersc!

[2017-03-13 21:48] bartlettroscoe commented on #482
FYI: The CI server for Trilinos has been transferred from my machine crf450 to my CEE LAN blade ceerws1113 (which is about 30% slower).  For details, see:

* https://sems.sandia.gov/jira/browse/TRIL-155?focusedCommentId=15110&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15110

[2017-03-13 21:50] lxmota commented on #482
@bartlettroscoe Thanks Ross.

In the end, I caved in and got a CEE account to test both Trilinos and Sierra, so if you wish you can close my account on your machine.

[2017-03-13 21:51] lxmota opened #1132 "Introduce capability to pass (error) message through minitensor::MiniSolver"
Propagated from https://github.com/gahansen/Albany/issues/79 as it requires changes in MiniTensor.

Also, how to add a minitensor label to Trilinos issues?

@callema21 wrote:

I would like to have the ability to pass an (error) message out of MiniSolver up from a function being called therein. This will support information gathering about failures in LCM constitutive models.

[2017-03-13 21:59] bartlettroscoe commented on #1131
Just replace with Teuchos::RCP.

Does Trilinos have a non-C++11 nightly build to help catch issues like this?

[2017-03-13 22:00] ibaned commented on #1132
@lxmota  for labels, click above on "Issues", then click "Labels" in the middle, then "New Label" on the right.

[2017-03-13 22:01] jhux2 commented on #1128
@bathmatt Patch has been pushed in commit 5bf06c13f.

[2017-03-13 22:23] hkthorn commented on #1131
@bartlettroscoe It turns out that non-C++11 build that supports Xyce has been broken for some time because the environment scripts were failing before the configure/build was attempted.  So, this error should have showed up earlier, but went undetected because of the build failure.

[2017-03-13 22:45] ndellingwood commented on #1127
@csiefer2 These changes are in develop now, closing the issue.

[2017-03-13 22:45] #1127 closed

[2017-03-13 22:57] bartlettroscoe commented on #1131
@hkthorn, are these the failures you are seeing:

* http://testing.sandia.gov/cdash/viewBuildError.php?type=0&buildid=2784753

?

[2017-03-13 23:10] hkthorn commented on #1131
@bartlettroscoe I will see if I can replicate the errors on my local machine, with an older compiler.

[2017-03-14 14:20] bathmatt opened #1133 "Warnings in Trilinos CUDA build"
Right now we have 21K unique warnings when we build trilinos with cuda.  I've attached a script to show this on shiller when one tries to build panzer.  Because of this there is a lot of info lost in these warnings and it would be good to clean them up.  I've attached the zip file with all the warnings listed.  The worst is stk with boost errors,

If package owners can look at these and help reduc

[2017-03-14 14:38] bartlettroscoe commented on #1131
Sorry, I did not read this carefully enough.  The type `uinitptr_t` is not a typedef to an `std::unique_ptr`.  This is a typedef for an unsigned integral time that can store a pointer address:

* http://stackoverflow.com/questions/1845482/what-is-uintptr-t-data-type

This is used in:

[code]

@mhoemmen, it looks like you might have added this code from looking at:

[code]

I think a portable C++98

[2017-03-14 14:39] bjdarrer opened #1134 "Building Trilinos - What is the correct location of C, C++ and fortran in Ubuntu 16.04?"
I am trying to build Trilinos, and I think it failed because it couldn't locate the C compiler directory correctly. Can anyone tell what the correct location of gcc is on the Ubuntu 16.04 operating system? I actually need the C, C++ and fortran directory locations.

I am using the build script:

[code]
I used directories:

[code]
I assume C is `gcc-5`, C++ is `g++-5` and fortran is `gfortran-5` ?

[2017-03-14 14:57] bartgol opened #1135 "Stratimikos+Belos: verbosity issue"
When using stratimikos factory logic to build linear solvers of Belos type, setting the verbosity parameter in the belos parameter list is not enough to produce output. This is because the output stream passed to the Belos iterative solver is Teuchos::oblackholestream if the verbosity level of the Thyra_BelosLinearOpWithSolve object was Teuchos::VERB_LOW. This would be ok, if it wasn't for the fac

[2017-03-14 15:37] ibaned commented on #1134
You need the full path, including the file name of the compiler. I sometimes let the system figure it out for me like this:
[code]

[2017-03-14 15:39] ibaned commented on #1134
To explain, this is the equivalent of running
[code]
on the command line, which should show you the full path.

[2017-03-14 15:51] bjdarrer commented on #1134
Thanks, that seems to have solved the compiler path issue. Now I have other build errors!

[2017-03-14 15:56] ibaned commented on #1134
If you'd like help with those, please create a new issue for them. Thanks !

[2017-03-14 15:56] #1134 closed

[2017-03-14 16:18] bjdarrer opened #1136 "cmake errors during the build of Trilinos"
I have cmake errors during the build of Trilinos, using script `do_configure_4.sh` :

[code]

Can anyone help me solve the build errors, form the output file below?

[code]

[2017-03-14 16:24] bathmatt opened #1137 "Moving boost to a system include"
I've been trying to move boost to a system include, however, when I run cmake and build it doesn't look right.

I applied these changes I think everywhere

[code]

I make sure I didn't miss any, here is my silly script

[code]

and it's clean.  but I see

[code]
and not the `-Isystem`

where's my mistake?

[code]

[2017-03-14 16:31] bathmatt commented on #1137
boost_as_system_lib has been added @bartlettroscoe can you look at this one?
Thanks

[2017-03-14 16:43] jhux2 commented on #675
@pwxy Are you still seeing memory growth?

[2017-03-14 16:47] jwillenbring opened #1138 "Update list of Trilinos repositories"
@bmpersc Could you take a pass at quickly updating this [repo wiki page](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Trilinos-Repositories).

[2017-03-14 16:51] kddevin commented on #1133
Zoltan2/zoltan warnings are fixed.  8f5dd739509a25b9068fbf028e9dd289e56e5764
Thanks for sifting the warnings out for us, @bathmatt .

[2017-03-14 16:54] #1077 closed

[2017-03-14 17:57] bjdarrer commented on #1136
This has been partly solved by disabling TPL 'Boost' with:
  `-DTPL_ENABLE_Boost=OFF`

and disabling TPL 'Matio' with:
  `-DTPL_ENABLE_Matio=OFF` in the configuration file `do_configure_7.sh`:
[code]

However, there remains an issue of the build not recognising the  `CMAKE_INSTALL_PATH` in the configure file `do_configure_7.sh` , see below.

[code]

[2017-03-14 17:58] aprokop commented on #1136
It cannot find boost. You can either disable boost with `-DTPL_ENABLE_Boost=OFF` (which would also disable some packages), or specify the proper location.

Regarding the path, you should use `CMAKE_INSTALL_PREFIX` instead.

[2017-03-14 18:10] rppawlo opened #1139 "NOX/LOCA: remove cuda build warnings"

[2017-03-14 18:12] bjdarrer commented on #1136
@aprokop I changed CMAKE_INSTALL_PATH to CMAKE_INSTALL_PREFIX, so that `do_configure_8.sh` is:
[code]
On building it gives:

[code]

[2017-03-14 18:19] pwxy commented on #675
I'll need to check, but I'm sure it is still there.

[2017-03-14 19:48] ibaned commented on #1136
I think you literally have `<n>` in `make -j<n> install` instead of a number. You need to replace `<n>` with a number from 1 to the number of cores on your machine, or just omit the `-j<n>` flag. This flag controls how many threads will be used to compile Trilinos. As long as your machine has one core for each thread, more threads will make compiling faster.

[2017-03-14 20:09] bathmatt commented on #1133
Here is the list for icpc/icc  List is included.
[warn_icc.zip](https://github.com/trilinos/Trilinos/files/842544/warn_icc.zip)

  1   11  183 zoltan.warn
   1   14  185 aztecoo.warn
   1    6   97 seacas.warn
   2   24  406 DrekarBase.warn
   3   30  573 stk.warn
   3   42  943 ifpack.warn
   6   60 1005 teko.warn
   8  108 1817 panzer.warn
  25  295 5209 total

[2017-03-14 23:15] bartlettroscoe commented on #1137
@bathmatt, there should not be any statements like `INCLUDE_DIRECTORIES(SYSTEM ${Boost_INCLUDE_DIRS})` in STK CMakeLists.txt files.  That is not how you pull in a TPL.  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-add-a-new-tribits-tpl-dependency

I will rip all of these out and put in optional dependencies on the `Boost` and `BoostTpl` TPLs in the STK cmake/Dependencies.cmak

[2017-03-14 23:22] bartlettroscoe opened #1140 "Remove warnings from Thyra and Stratimikos impacting CUDA"
This will take care of Thyra and Stratimikos warnings reported in #1133.

[2017-03-14 23:29] bartlettroscoe commented on #1140
CC: @trilinos/thyra, @trilinos/stratimikos

I am getting to work on this now.

[2017-03-14 23:31] bartlettroscoe commented on #1133
I am taking care of the Thyra and Stratimikos warnings in #1140.  Roger is taking care of the NOX/LOCA warnings in #1139.

[2017-03-14 23:45] bartlettroscoe commented on #1135
Seems reasonable.  Care to contribute a PR with proposed changes?

BTW: Need to use @trilinos/stratimikos or issues like this can fall into a black whole pretty fast.

[2017-03-14 23:47] bartlettroscoe commented on #1129
Is this not fixed?  After all, we see:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2785302

Should this issue not be closed now?

@jwillenbring, what do you think?

[2017-03-15 02:42] bartlettroscoe commented on #1137
@bathmatt, you don't build STKClassic anymore right?  So I don't need to worry about fixing up files under that subpakage?

[2017-03-15 13:38] gsjaardema commented on #1133
I will fix the seacas warnings.  However, several of them are in generated code (from flex/lex).  Is there a pragma that can be used to suppress the "unreachable code" warning in a specific file?

Also, there is a false positive in that it is picking up a filename of "warnings.c.o"

[2017-03-15 14:32] bartgol commented on #1135
@bartlettroscoe , I cannot use tags (only a handful work, and it does not include the packages tags).

I can create a PR, sure.

[2017-03-15 14:57] bathmatt commented on #1133
for the clang comiler
[clang.zip](https://github.com/trilinos/Trilinos/files/844897/clang.zip)

    1     5   101 seacas.warn
    2    20   364 stk.warn
    2    20   404 kokkos-kernels.warn
    2    20   404 kokkos.warn
    2    26   433 phalanx.warn
    3    18   448 ifpack.warn
    6   108  1478 teuchos.warn
    6    90  1122 pamgen.warn
    8   136  2264 muelu.warn
    8    92  1325 aztecoo.wa

[2017-03-15 14:58] bathmatt commented on #1133
@gdsjaar I don't know of anything to supress unreachable code.  Sorry, @bartlettroscoe may know this type of thing??
And sorry about the warnings.c.o file :)

[2017-03-15 15:16] etphipp commented on #1133
One thing that can help with nvcc warnings is to disable some of them.  I add this to my cxxflags:

`-Xcudafe --diag_suppress=conversion_function_not_usable -Xcudafe --diag_suppress=cc_clobber_ignored -Xcudafe --diag_suppress=code_is_unreachable`

That will get rid of some of these superfluous warnings.  A full list of warnings you can turn off is here:

http://www.ssl.berkeley.edu/~jimm/grizzly_d

[2017-03-15 15:17] etphipp commented on #1133
The -Xcudafe --diag_suppress=code_is_unreachable will suppress the code is unreachable warning.

[2017-03-15 15:21] bathmatt commented on #1133
I'm worried about suppressing that warning everywhere since I've found things by having it on..  not often though.  I know @bartlettroscoe is looking into macros to help suppress some of these. Things like this (but actual good code) which is the root of a lot of these issues.
[code]

[2017-03-15 16:27] mwglass commented on #1133
#if defined __NVCC__
  #pragma diag_suppress code_is_unreachable
#endif

From: Greg Sjaardema <notifications@github.com<mailto:notifications@github.com>>
Reply-To: trilinos/Trilinos <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 15, 2017 at 7:38 AM
To: trilinos/Trilinos <Trilinos@noreply.github.com<mailto:Trilinos@noreply.github.com>>
Cc: Mike Glass <mwglass@sandia.

[2017-03-15 19:21] bartlettroscoe commented on #1137
I made some progress on this and pushed a trial commit to the branch:

* https://github.com/trilinos/Trilinos/tree/stk-boost-isystem-1137

However, there are still many compile lines that have the `-I` form of Boost include instead of the `-isystem` form.  I am currently digging into why this might be the case and how to address this.

@bathmatt, one easy hack to remove get boost include dirs to u

[2017-03-15 19:52] bathmatt commented on #1137
Correct, we don't use classic anymore.
There is no reason to build that script. I think we can wait until the full
merge.

On Wed, Mar 15, 2017 at 1:21 PM, Roscoe A. Bartlett <
notifications@github.com> wrote:

[2017-03-15 20:37] bartlettroscoe commented on #1131
Looks like my commit fixed this for Teuchos as shown by:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2787080

Now there are build failures shown for the Ifpack package but this issue is only for Teuchos.

@hkthorn and/or @bmpersc, please confirm that this issue is resolved and then close the Issue if it is.  Otherwise, if you are satisfied with just the nightly build Lin

[2017-03-15 22:20] mhoemmen commented on #1117
Fix confirmed.  See TRIL-156 (SEMS JIRA).

[2017-03-15 22:26] bathmatt commented on #1104
@olivier-snl I don't have really a standard configuration, I can look at removing hwloc if you think that would help?  Ideally I'd want some procedure that works on the major test beds. mutrino/ellis/shiller/rhel6 and allows me to parallelize my tests.

If you have time next week maybe we sit down and chat over code?  we can do this virutally

[2017-03-15 23:33] ikalash opened #1141 "Trilinos build error due to MueLu on Ride with CUDA KokkosNode"
@jhux2 @tawiesn : I am submitting the issue I emailed you about.

For a week or so, I have been having an issue with my nightly build of Trilinos on Ride with a CUDA KokkosNode.  The code fails to build, due to MueLu.  You will find the error here: http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=49900 .  This seems to happen with develop as well as master branch of Trilinos.

[2017-03-16 04:01] mhoemmen commented on #1131
Thanks @bartlettroscoe -- I've been out of band for a few days.  I'll be in band in a couple more days :-)

[2017-03-16 04:45] mhoemmen commented on #877
Hi @vbrunini !  Thanks for working on this!  I've been out of band this week and will be for a couple more days.  I had an implementation of the sorted input + sorted rows search strategy in progress on my workstation, but got locked out of that temporarily last week.

I like your approach of optimizing for multiple rows.  I was thinking of a related optimization, namely strip-mining the input int

[2017-03-16 13:34] MicheldeMessieres opened #1142 "Building Tpetra and Amesos2 tests with double off and float on"
@srajama1 This is for the double/float issue we discussed. We decided to have Amesos2 Umfpack provide a warning that type conversion would take place if built with float on and double off since Umfpack only supports double. So I had these settings:
Trilinos_ENABLE_FLOAT=ON
Tpetra_INST_DOUBLE=OFF
I found that Tpetra will not link with these settings if tests or examples are on - for example TpetraC

[2017-03-16 13:58] olivier-snl commented on #1104
@bathmatt Sure.  Let's follow up off-thread to arrange.

[2017-03-16 14:31] nmhamster commented on #1104
@bathmatt @olivier-snl one of the issues here is that Kokkos utilizes HWLOC ahead of OpenMP. There is a plan to back off on this by checking the environment for `OMP_` variables and if these are found, allowing the OpenMP runtime to do the binding instead of HWLOC. I understand this doesn't fully address @bathmatt original question but you might want to keep this in mind.

[2017-03-16 14:42] olivier-snl commented on #1104
@nmhamster Yes, I was aware of something along those lines.  I think it addresses part of the problem, which is Kokkos/OpenMP.  The other parts of the problem seem to be ctest itself, and MPI when used.

[2017-03-16 14:44] nmhamster commented on #1104
@olivier-snl - @bartlettroscoe mentioned that we might be able to use the KitWare contract to ask them to look into this a little bit. What we are really asking is for them to be scheduler aware. One method this could work is for them to check the environment for `SLURM_` variables, and only really run one instance of `ctest` / `cmake` on SLURM's "0" process. We would need to get a similar level o

[2017-03-16 14:49] olivier-snl commented on #1104
@nmhamster That would be extremely helpful.  In my discussions with @crtrott he indicates that he is seeing ctest launch multiple of the simultaneous test executions to the same core(s).  My reading of some of the ctest docs is that some test users actually want this oversubscription, presumably because they are testing for correctness but not for performance.  Oversubscription not a good fit for

[2017-03-16 14:54] nmhamster commented on #1104
@olivier-snl - I think what is happening is that `ctest` is launching `-j <N>` variants of the test but it isn't using the binding etc. What happens when it launches `mpirun ..` is that MPI performs a binding of the cores/sockets based on how we request that inside Trilinos configure. So the overlapping of the cores is really because we have `<N>` independent MPI runs goes all of which think they

[2017-03-16 14:58] bathmatt commented on #1137
@bartlettroscoe this is a huge huge improvement :)...  @mwglass can we look at getting this through the chain of commits to get it into the trilinos build?  Who takes care of this?  Is it @bmpersc

[2017-03-16 14:58] olivier-snl commented on #1104
@nmhamster Yes, either the same Trilinos-configured MPI binding, or a default binding chosen by the MPI implementation, is being replicated across the tests and oversubscribed it seems.

[2017-03-16 15:11] mwglass commented on #1137
Sure, if someone can send me a patch file with all the necessary changes we can get these pushed to the main STK repo.

[2017-03-16 15:28] bathmatt commented on #1137
Emailed to Mike internally

On Thu, Mar 16, 2017 at 9:11 AM, mwglass <notifications@github.com> wrote:

[2017-03-16 15:59] bartlettroscoe commented on #1137
The patch can be created by simply doing:

[code]

The you just apply the patch to the STK native git repo using `git am -p<num> <name-of-git-patch>.patch`.  That way, my commit message is preserved and I get credit for the fix :-)

[2017-03-16 16:02] bartlettroscoe commented on #1137
Once this is committed to the STK repo and then STK is snapshotted back to Trilinos, then we can delete the branch `stk-boost-isystem-1137 ` and close this issue.

[2017-03-16 16:08] bartgol commented on #1135
@bartlettroscoe I created the PR. I forked first, since I don't think I would have been able to push to this repo, given that I'm not part of the trilinos group. Is that right?

[2017-03-16 16:24] bartlettroscoe commented on #1135
Yes, the forking model is the right thing to do.

This is PR #1144, right?

I will do my review in that PR.

[2017-03-16 16:27] bartgol commented on #1135
Yeah, that's it.

Thanks.

[2017-03-16 16:32] jwillenbring opened #1145 "Nightly failure for XYCE build"
Ifpack fails to build for the no-C++11 XYCE build as seen [here](http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2788850).

@bmpersc have you looked at this at all?

This is the last current failure for the XYCE build remaining related to issue #1129

[2017-03-16 16:53] srajama1 commented on #1142
I think the problem is turning double off, not turning float on.

The larger question is "Should Trilinos work with DOUBLE off ?"

@maherou @kddevin @rppawlo @mperego

[2017-03-16 19:12] mperego commented on #1142
In principle think we should be able to compile Trilinos with double off. This would prevent having hard-coded doubles used instead of the requested type.
However I'm not sure how practical it is to do so, especially for the tests.

[2017-03-17 00:45] jjellio opened #1146 "MueLu with Experimental features fails to build if Teko is enabled"
Hi!

Building with OpenMP only (Kokkos/Tpetra only have OpenMP enabled) and MueLu with Experimental flags + Kokkos refactor is creating this error on Cori @ NERSC. The quick fix was to explicitly disable Teko, as it was only enabled through the optional dependencies.

The configure variables that trigger this:
[code]

[code]

[code]

@trilinos/muelu

[2017-03-17 00:49] jjellio opened #1147 "MueLu perf test for KokkosKernels depends on Serial"
If configuring with OpenMP only (or anything that disables Serial), this unit test will cause the build to fail.

[code]

@trilinos/muelu

[2017-03-17 00:53] jhux2 commented on #1147
@jjellio Does your driver live in the MueLu test directory right now?

[2017-03-17 01:00] jjellio commented on #937
Closing this. Parmetis and Scotch both use compile time checks now. I'll reopen if I find other runtime checks that can shifted to compile time.

[2017-03-17 01:00] #937 closed

[2017-03-17 01:01] jjellio commented on #1147
No, it builds off an installed Trilinos via CMake.

[2017-03-17 01:01] jjellio commented on #1147
These issues are for tracking purposes, my code works :)

[2017-03-17 01:04] jhux2 commented on #1147
Whew!

[2017-03-17 01:05] jhux2 commented on #1147
But thank you for reporting!

[2017-03-17 02:37] bartlettroscoe commented on #1104
Yes, this would fall under the current Kitware contract supports this SNL projects that we are not allowed to name here but cares a lot about this stuff.

Can we set up a short meeting to discuss this so that I understand what is really needed from CTest and how our CMake projects (e.g. using TriBITS) will be able to hook into that (hopefully seamlessly)?  Who needs to attend this meeting?  Once I

[2017-03-17 10:23] bjdarrer commented on #1136
@ibaned Thanks for the comment. I used `-j<n> = -j4` from:

[code]
Trilinos has now installed on my computer. It took at least 8 hours, I left it on installing over night!

[2017-03-17 13:17] ibaned commented on #1136
There are a few ways to speed up Trilinos compilation, as mentioned at the bottom of [INSTALL](https://github.com/trilinos/Trilinos/blob/master/INSTALL.rst):

1. Only enable some packages. It is unlikely you will need all of Trilinos for your application. The set of packages you need depends on what you want to do, so I can't recommend a list without knowing that.

2. Enable explicit instantiation

[2017-03-17 14:11] bartlettroscoe commented on #1140
I was able to reproduce warnings for Thyra for the NVCC/CUDA build on shiller using the env provded in #1133.  I extracted this into the scripts under Trilinos:

[code]

and used these to reproduce warnings in Thyra and fix them.  See details below.

I created the new macro `TEUCHOS_NONREACHABLE_RETURN(RETURN_VAL)` and used it to remove all of the "statement is unreachable" warnings.

Next I will

[2017-03-17 17:41] jhux2 opened #1148 "Remove Xpetra warnings when compiling for CUDA"
We can use the macro ```TEUCHOS_NONREACHABLE_RETURN(RETURN_VAL)``` as in issue #1140 to get rid of warnings like

[code]

[2017-03-17 17:42] jhux2 commented on #1148
@trilinos/xpetra

[2017-03-17 17:43] jhux2 commented on #1148
Examples [here](http://testing.sandia.gov/cdash/viewBuildError.php?type=1&buildid=2791284).

[2017-03-17 18:04] ibaned commented on #1136
I'll go ahead and close this as it relates to compile errors. Feel free to open another issue for further inquiries.

[2017-03-17 18:04] #1136 closed

[2017-03-17 19:39] jmgate opened #1149 "Panzer: trilinos.org page"
Create and populate a Panzer page at trilinos.org. @trilinos/panzer

[2017-03-17 19:42] jmgate commented on #1149
A [placeholder page](https://trilinos.org/packages/panzer/) has been created.  Need to come up with a nice concise description of Panzer.  Do we have any logo for Panzer?

Also need to do the following:

Q: Other than adding new pages, what do I need to do when adding a new package to trilinos.org?

A: New packages should be mentioned on:

http://trilinos.org/packages/
http://trilinos.org/about/ca

[2017-03-17 19:55] bathmatt opened #1151 "Intrepid2 refactor getPhysicalEdge... has a huge overhead on cuda"
So, many routines that get normals and edge tangents call down to
[code]

Which isn't such a big deal except that in this we create some kokkos views

[code]

Now, on CudaUVM this takes quite a bit of time.  Since we do this once for every element we need to get info from this is a huge amount of time.  For a small test this is 2 minutes of the time, vs 6 seconds to fill and solve the matrix that

[2017-03-17 20:00] mwglass commented on #1137
The patch was pushed to the Sierra repo today so it will be available in the next STK snapshot.

[2017-03-17 20:01] bathmatt commented on #1137
Thanks!!

On Fri, Mar 17, 2017 at 2:00 PM, mwglass <notifications@github.com> wrote:

[2017-03-17 20:06] bathmatt commented on #1151
One suggestion, specialize getReferenceVertex to take a kokkos view or a double* and make the view version to the error checking and call down to the double one and then make v0 a double v0[Parameters::MaxDimension]

[2017-03-17 20:34] aprokop commented on #1148
So, does it work for all compilers? Different compilers produce different warnings?

[2017-03-17 20:36] jhux2 commented on #1148
I think this is just meant to address the particular CUDA warning ```statement is unreachable```.

[2017-03-17 21:54] bartlettroscoe commented on #1002
So it seems that no important SNL customer that I know of still needs support for GCC 4.7.2 with C++11 turned (but one requires GCC 4.4.7 with C++11 turned off for the Epetra stack).  However, one important Trilinos customer at SNL needs to build on machines with Intel 14.0 that use GCC 4.7.2 and GCC 4.8.5 backends.  The question I have is, does Intel 14.0 with a GCC 4.7 .2 accept more C++11 featu

[2017-03-17 22:12] bartlettroscoe commented on #1002
So it looks like that important SNL Trilinos customer may be able to switch over some of those machines to use Intel 17 with a GCC 4.9.3 backend within the next 6 weeks or so (e.g. the end of April 2017).  Therefore, we should just likely wait until the make that transition before we update our Trilinos builds (starting with this CI build) from GCC 4.7.2 to GCC 4.9.3.

[2017-03-18 16:56] eric-c-cyr commented on #1151
Alternatively you could have an "expert" usage getReferenceVertex that accesses the static data in a subview way. Basically trading off safety for performance. (I hope I'm understanding the code enough).

[2017-03-18 16:59] jbakosi commented on #1010
I can no longer reproduce this problem (a couple of months later) as it failed originally: using the system-wide OpenMPI 2.0.2 and GCC on debian/testing. Closing.

[2017-03-18 16:59] #1010 closed

[2017-03-18 17:02] eric-c-cyr commented on #1151
A more mild improvement (dimension dependent) would move the allocations under their appropriate condition statement.

[2017-03-18 17:06] eric-c-cyr commented on #1151
Also, I'm a little surprised that this date can't be hashed by cell type.

[2017-03-18 18:24] bathmatt commented on #1151
Maybe it should return a static const reference to a cell type.

On Sat, Mar 18, 2017 at 11:06 AM, Eric C. Cyr <notifications@github.com>
wrote:

[2017-03-18 19:05] kyungjoo-kim commented on #1151
I expect this problem when I work on cell tools. At that time, I do not want to change API and just convert all functions using dynrankview. Maybe it is time to clean up the interface more useful. We first need to separate whether we want to use a function in a functor or front level (parallel for).

[2017-03-19 04:48] mhoemmen commented on #1142
If people want to be able to shut off Scalar=double, then we could add that as a feature request.  Note that enabling Scalar=complex<double> currently requires Scalar=double to be enabled.

[2017-03-19 04:51] mhoemmen commented on #1145
That's weird, the build error suggests that EpetraExt is not enabled (or at least that `HAVE_IFPACK_EPETRAEXT` is not defined).

[2017-03-20 11:51] psanan commented on #120
FWIW, Firefox (52.0.1, OS X 10.12) also considers the connection insecure.
![screen shot 2017-03-20 at 12 49 48](https://cloud.githubusercontent.com/assets/8024239/24098650/e57eba20-0d6b-11e7-9557-7e29bfc33470.png)

[2017-03-20 14:13] olivier-snl commented on #1104
@bartlettroscoe On the SNL side, I'd suggest to invite @crtrott @nmhamster @bathmatt @olivier-snl @bathmatt but all may not be necessary.

[2017-03-20 16:18] ibaned commented on #1141
@trilinos/muelu

[2017-03-20 16:19] VictorEijkhout opened #1153 "MueLu tutorial has undefined references"
`CMakeFiles/MueLu_tutorial_laplace2d.dir/laplace2d.cpp.o: In function `Teuchos::RCP<MueLu::SmootherPrototype<double, int, int, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial, Kokkos::HostSpace> > > MueLu::GetIfpackSmoother<double, int, int, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial, Kokkos::HostSpace> >(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<ch

[2017-03-20 16:25] tawiesn commented on #1141
@ikalash Sorry, it seems i have no access to cdash.sandia.gov. Can you post the build error here or is it the same problem as [here](http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2794952)? We are quite clean on the (official) dashboard now...

[2017-03-20 16:31] ikalash commented on #1141
@tawiesn .  Right, this site is on the SRN, which is why you cannot access it.  Here is the compilation error:

 	https://github.com/gahansen/Albany/blob/master/repos/Trilinos/packages/muelu/src/Smoothers/MueLu_DirectSolver_def.hpp
Build Log Line 	950614
Error

/.../repos/Trilinos/packages/stk/stk_topology/stk_topology/topology_type.tcc(246): here
            instantiation of "void stk::topology::

[2017-03-20 16:38] tawiesn commented on #1141
@ikalash Thanks. I'll take a look. Should not be too hard to fix.

[2017-03-20 16:41] ikalash commented on #1141
Thanks @tawiesn !

[2017-03-20 16:49] tawiesn commented on #1141
@ikalash Hmm. I checked the code and the "missing" routine should be there. What is the current version of the develop branch you use? What node types and global ordinal types do you have enabled in your Trilinos configuration?

[2017-03-20 16:55] tawiesn commented on #1141
@ikalash. Maybe the easiest is if you send me the configuration file for Trilinos. I should be able to reproduce the problem then.

[2017-03-20 16:56] #1126 closed

[2017-03-20 16:59] ikalash commented on #1141
@tawiesn : It is actually master branch, not develop I just realized.  I forgot that I have Jenkins pull Trilinos so my script that tells it to build develop is not being sourced.  Is it a known problem to have this compilation error in the master branch of Trilinos?  I can try the job with develop Trilinos and let you know if that works.

[2017-03-20 17:00] kyungjoo-kim commented on #1124
comment out the unused grid class in the header.

[2017-03-20 17:00] #1124 closed

[2017-03-20 17:00] kyungjoo-kim commented on #861
this is not a primary interest of ours anymore.

[2017-03-20 17:00] #861 closed

[2017-03-20 17:05] tawiesn commented on #1141
Please try the develop branch. I know, that there were some problems like that and i don't know when master has been update last time.

[2017-03-20 17:06] ikalash commented on #1141
Trying it now.  I'll let you know when the build completes.

[2017-03-20 18:04] jwillenbring opened #1154 "Deploy automated develop to master branch testing"
@trilinos/framework

@allevin has completed revisions toward a capability that will allow us to automate the testing of the develop branch to determine if it is safe to promote that version of code to the master branch.

We need to deploy this capability. Here are some proposed tasks for discussion for completion of this story:

1. Fully deploy the capability on Aaron's fork of Trilinos. This will

[2017-03-20 18:22] jwillenbring opened #1155 "Implement automated pull request testing for Trilinos"
@trilinos/framework

@allevin is planning to develop a capability that will allow for testing of Trilinos pull request prior to having the changes applied to the develop branch. This story will track that work. A rough outline for the work is as follows:

1) Adapt some existing scripts that test the pull requests for another project to be more general and serve the Trilinos case.

2) Deploy on a l

[2017-03-20 18:38] ikalash commented on #1141
@tawiesn : Just tried the develop branch.  There is still a build error, it looks like having to do with MueLu_ShiftedLaplacian_def.hpp:

 	https://github.com/gahansen/Albany/blob/master/repos/Trilinos/packages/muelu/src/../adapters/tpetra/MueLu_ShiftedLaplacian_def.hpp
Build Log Line 	989724
Error

/.../repos/Trilinos/packages/stk/stk_topology/stk_topology/topology_type.tcc(319): here

[2017-03-20 19:35] jwillenbring opened #1156 "Site name consistency"
@trilinos/framework @bartlettroscoe @bmpersc

Kitware is implementing a feature that will help us identify when a test goes missing on the dashboard. To do this, a consistent site name is required. Our machines are currently identified on the CDash dashboard by machine name. However, in situations where jobs float (including parameterized builds on the other build farm), jobs can run on different

[2017-03-20 20:12] bmpersc commented on #1156
Do we have control over the site name or is it always pulled from the machine's URL? If it is pulled from the URL I don't see how this would be possible since by definition floating jobs means they end up on different machines which also implies a different URL. If we can set the site name then we could set it to something like the build farm it is on which wouldn't change even if the job landed o

[2017-03-20 20:18] jwillenbring opened #1157 "Set up Windows VMs for Trilinos testing"
@trilinos/framework

As discussed earlier today, we need to set up a couple of VMs for Trilinos testing on Windows. Here is a rough outline of the associated tasks:

1) Install all necessary software on 1st VM. Visual Studio 2015 is the current target at a high level, but we also need git (and possibly putty to support git), CMake, blas, lapack and mpi.
2) Test first VM by building some subset of

[2017-03-20 20:21] bartlettroscoe commented on #1156
It is single variable `CTEST_SITE` you set for CTest Driver scripts using TribitsCTestDriverCore.cmake:

[code]

So when you call `ctest -S <script_name>.cmake`, you can pass this in as `env CTEST_SITE=<whatevery> ctest -S <script_name>.cmake` or you can set a variable in your `<script_name>.cmake` file.

Any questions?

*

[2017-03-20 20:24] jwillenbring opened #1158 "Set up Windows Jenkins slave"
@trilinos/framework

The Windows VM for Windows testing of Trilinos needs to be set up as a Jenkins slave so that we can automatically run jobs on it. Eventually we will have 2 such VMs, and only 1 should be used with Jenkins.

Done for this story is to have a functional Jenkins slave set up on one of the Trilinos Windows VMs.

[2017-03-20 20:25] bartlettroscoe commented on #1156
NOTE: `CTEST_SITE` is a built-in ctest var:

* https://cmake.org/cmake/help/v3.1/variable/CTEST_SITE.html

TribitCTestDriverCore.cmake just gives it a logical default name.

[2017-03-20 20:37] jwillenbring opened #1159 "Set up debug Windows Trilinos nightly build"
@trilinos/framework

This ticket is for setting up a nightly "debug" build for Trilinos on Windows.

Done for this story includes

-having a nightly build reporting to CDash with a debug configuration (with package options previously sent to Michael).

-the build should run on a Windows VM provided by the Trilinos team

-filing tickets for all errors found in executing the build. For all errors fo

[2017-03-20 20:38] jwillenbring opened #1160 "Set up release Trilinos Windows nightly build"
@trilinos/framework

This ticket is for setting up a nightly "release" build for Trilinos on Windows.

Done for this story includes

-having a nightly build reporting to CDash with a release configuration (with package options previously sent to Michael).

-the build should run on a Windows VM provided by the Trilinos team

-filing tickets for all errors found in executing the build. For all error

[2017-03-20 21:46] bathmatt opened #1161 "Tpetra: Setting Teuchos_ENABLE_LONG_LONG_INT=OFF makes Tpetra example not build on ride Cuda/debug"
I'm seeing this issue when I try to compile the examples on ride.

[code]

[2017-03-20 22:00] mhoemmen commented on #1161
@bathmatt How urgent is this?

[2017-03-20 22:01] mhoemmen commented on #1161
@trilinos/tpetra

[2017-03-20 22:11] mhoemmen commented on #1126
@kyungjoo-kim ML definitely requires a matrix.  There's no way to implement a symmetrizing RowMatrix without actually storing the (j,i)s for your (i,j)s.  Thus, RowMatrixTransposer is the best option for now.

[2017-03-20 22:12] bathmatt commented on #1161
Urgency is low for this test, but high for ride in general.  Need to resolve some questions and I'll post a new issue.

[2017-03-20 22:13] csiefer2 commented on #1126
I concur w/ @mhoemmen

[2017-03-20 22:53] tawiesn commented on #1141
@ikalash Thanks Irina. Looks like the same type of problem but in a different class (Ifpack2Smoother instead of Amesos2Smoother). And in fact, the getNodeSmootherComplexity routine was missing in one of the specializations of the Ifpack2Smoother.
Checkin script is running. I hope i get it to pass all tests such that we should see the fix in the develop branch tomorrow.

[2017-03-20 22:54] tawiesn commented on #1153
We cannot access dropbox. Could you provide your configuration script such that we can try to reproduce the problem?

[2017-03-20 22:57] ikalash commented on #1141
@tawiesn .  That's great.  My job is schedule to run at 8PM MST tonight.  I'll check on it tonight and tomorrow (if tonight's fails) and let you know the outcome.

[2017-03-20 23:05] VictorEijkhout commented on #1153
On Mar 20, 2017, at 5:55 PM, Tobias Wiesner <notifications@github.com<mailto:notifications@github.com>> wrote:

We cannot access dropbox. Could you provide your configuration script such that we can try to reproduce the problem?

The script has too many machine dependencies.

Can copy that log from dropbox with your private account and then copy it to your work machine?

Or do you have a place for

[2017-03-20 23:10] VictorEijkhout commented on #1153
`cmake -VV \
  -D BUILD_SHARED_LIBS:BOOL=ON \
  -D Trilinos_VERBOSE_CONFIGURE=OFF \
  -D CMAKE_VERBOSE_MAKEFILE=ON \
  -D Trilinos_ENABLE_ALL_PACKAGES:BOOL=OFF \
  -D Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES:BOOL=OFF \
  -D Trilinos_ENABLE_TESTS:BOOL=OFF \
  -D Trilinos_ENABLE_EXAMPLES:BOOL=ON \
  -D Trilinos_ENABLE_Export_Makefiles:BOOL=ON \
  -D Trilinos_ENABLE_Fortran:BOOL=ON \
  \
  -D CMAKE_INST

[2017-03-20 23:12] VictorEijkhout commented on #1153
Please note that MueLu has been disabled in this one.

[trilinos.cmake.txt](https://github.com/trilinos/Trilinos/files/856642/trilinos.cmake.txt)

[2017-03-21 01:55] bartlettroscoe commented on #1104
We had a meeting with Kitware staff and they will add support to ctest to better handle pinning tests to cores to not overlap tests on the same cores.  This will be tracked in:

* https://gitlab.kitware.com/snl/project-1/issues/17

[2017-03-21 12:05] Sbte opened #1162 "trilinos.org uses an invalid security certificate"
Firefox tells me this:

trilinos.org uses an invalid security certificate.

The certificate is not trusted because it was signed using a signature algorithm that was disabled because that algorithm is not secure. Error code:

SEC_ERROR_CERT_SIGNATURE_ALGORITHM_DISABLED

[2017-03-21 12:54] aprokop commented on #1162
Duplicate of #120.

[2017-03-21 12:54] #1162 closed

[2017-03-21 13:37] jwillenbring opened #1163 "Windows install capability"
@trilinos/framework

It needs to be possible to install Trilinos libraries on a Windows machine and have supporting infrastructure for calling those libraries from an application. This story is for tracking the development of those features.

[2017-03-21 13:40] jwillenbring opened #1164 "Windows install capability test driver"
@trilinos/framework

We need to develop a small test driver to demonstrate the functionality of the Windows install capability described in issue #1163.

This ticket is for tracking the development of that driver, as well as setting up nightly testing through Jenkins to protect that functionality.

[2017-03-21 14:33] ikalash commented on #1141
@tawiesn : everything was good once again in my ride nightly tests.  I will close the issue.  Thanks for fixing this!

[2017-03-21 14:33] #1141 closed

[2017-03-21 14:40] bartlettroscoe commented on #1140
I finished cleaning up the warnings from Thyra and Stratimikos for NVCC and pushed to the Trilinos 'develop' branch (see below).

@bathmatt, I am closing this as complete as I am pretty sure that you will not see any more warnings on NVCC on shiller coming from building Thyra or Stratimikos.  There are also not any warnings for GCC 4.8.3 as well.

----

**DETAILED NOTES:**

**(2017/03/17)**

I cle

[2017-03-21 14:40] #1140 closed

[2017-03-21 14:45] bartlettroscoe commented on #1133
All Teuchos, Thyra and Stratimikos warnings should be gone for NVCC on shiller now (see log from (2017/03/20) [here](https://github.com/trilinos/Trilinos/issues/1140#issuecomment-288099504)).

[2017-03-21 14:50] tawiesn commented on #1146
@jjellio thanks for reporting the issue. Looking at your error message i prepared a patch that should fix the problem. Checkin script is running.

[2017-03-21 14:51] tawiesn commented on #1128
Is this fixed?

[2017-03-21 14:57] bartlettroscoe commented on #1133
Now to document how others can reproduce these warnings on an ATTB CUDA machine like hansen or shiller ...

While one can use the full configure script provided [above](https://github.com/trilinos/Trilinos/issues/1133#issue-214087211), that will configure and build all of the Trilinos packages used by Drekar.  That takes a bit of time to configure on these slow ATTB machines and it takes almost 8

[2017-03-21 16:09] ibaned opened #1167 "Add 'yaml-cpp' TPL to Trilinos CI build"
**Next Action Status:**

Waiting for Trilinos to switch CI build from GCC 4.7.2 to GCC 4.7.3 (see #1002) ...

**Description:**

This issue is to get the standard Trilinos CI build to enable the `yaml-cpp` TPL which is now being used by Albany and other customers.

Done for this issue that there exists a Trilinos CI build with the `yaml-cpp` TPL enabled. This TPL already exists as a SEMS module.

*

[2017-03-21 17:22] mhoemmen commented on #1142
I'm marking this as an "enhancement," since I have never met a Trilinos customer who wanted to shut off Scalar=double in their builds.  That doesn't mean it shouldn't work, but it does help us set the priority for making such a thing work.

[2017-03-21 17:24] mhoemmen commented on #1161
Hi @bathmatt !  I am unable to replicate in my CUDA MPI build.  Could you send me a configuration so I could try this on ride?  Thanks :-)

[2017-03-21 19:56] guoluanjing opened #1168 "Matrix-Free in NOX"
Hi there,

I have used an analytic Jacobian for the conventional Newton method in NOX to solve a coupled flow, transport, and chemical reaction system. I build the system up for the purpose of using the Matrix-Free method.

After I set up the jacobian operator as Matrix-Free, tried the no-preconditioning at first ("Preconditioner Operator", "Use Jacobian"), and kept the linear solver (AztecOO/GMRE

[2017-03-21 20:08] ambrad commented on #1088
@trilinos/tpetra (pinging the issue at MH's request)

[2017-03-21 21:01] mhoemmen commented on #1168
@trilinos/nox

[2017-03-21 21:03] mhoemmen commented on #1088
@ambrad Could you send both @crtrott and me (resend if we have it already) a configure script, a computer on which to demonstrate the problem, and an executable that demonstrates the problem?

[2017-03-21 21:03] mhoemmen commented on #1088
I think @crtrott has the benchmark -- did we commit it to Tpetra?

[2017-03-21 21:06] bartlettroscoe commented on #1167
CC: @trilinos/framework

It should be noted that Albany has a required dependency on the yaml-cpp TPL and therefore Trilinos needs to add testing of this to its automated tests.  The CI build is just the first built it should be added to.

However, that means that we will need to upgrade Boost used from 1.55.0 to 1.63.0.  See below email (and more info will be added in a later comment).

----

Fro

[2017-03-21 21:19] mwglass commented on #1167
Just a FYI…

I don’t know how much of boost is used by Trilinos but for Sierra, we had to make the following change to boost 1.63 to get things to link properly with the Intel compilers:

diff boost_1_63_0/boost/serialization/array.hpp boost_1_63_0/boost/serialization/array.hpp.fcs
47,48d46
<     // SIERRA: Following ifdef guard necessary for Intel compilers
< #ifndef __INTEL_COMPILER
51d48
< #end

[2017-03-21 21:21] ibaned commented on #1167
A couple clarifications:
 - The latest Boost version is 1.63.0, there was a typo about 1.65.0 which isn't out yet.
 - Albany doesn't yet require yaml-cpp, but we have every intention to make it a required dependency as soon as some of our YAML support patches make it into Trilinos master (they are in develop right now, see e.g. a81e0f4).
 - I've built Trilinos against 1.62.0 for some time now with

[2017-03-21 21:25] ibaned commented on #1167
@mwglass a `grep` of Trilinos at 416fc12 showed no inclusion of `boost/serialization`. I guess its safe from that one issue.

[2017-03-21 21:36] mwglass commented on #1167
But what about apps that use both boost/serialization and trilinos?

[2017-03-21 21:46] ibaned commented on #1167
I don't think @bartlettroscoe is suggesting that Trilinos drop support for Boost 1.55.0, only that we use 1.63.0 for the CI build. Applications that support only 1.55.0 but not 1.63.0 can still compile Trilinos against 1.55.0 in their own builds while they work on switching to newer versions.

[2017-03-21 21:48] bartlettroscoe commented on #1167
Correct.  But that is up to the @trilinos/framework team to make sure that happens.

Yes.

And it was a typo above where I typed 1.65.0 but meant 1.63.0.  I will edit the comment.

[2017-03-21 21:51] mwglass commented on #1167
OK, thanks for clarifying.

[2017-03-21 21:53] #1146 closed

[2017-03-21 22:34] mhoemmen commented on #1013
Fixed now in develop.

[2017-03-21 22:34] #1013 closed

[2017-03-21 23:24] maherou commented on #1126
You would not need to physically merge the two matrix objects.  You could satisfy the RowMatrix API by inserting the lower and upper triangle entries from the separate objects.

[2017-03-21 23:58] jjellio commented on #1167
I've been used yaml-cpp from their github site - it does not require boost and I have not had any problems with it so far. I've used it across Cray+Intel, and GCC+Cuda systems so far (KNL, haswell , and GPUs ).

[2017-03-22 01:03] bartlettroscoe commented on #1167
I was able to pretty quickly add the 'yaml-cpp' TPL to the Trilinos SEMS Dev Env (see details below).  I pushed this update to the branch:

* https://github.com/bartlettroscoe/Trilinos/tree/add-yaml-cpp-to-ci-build-1167

I tested that it is enabling and passing the `TeuchosParameterList_YamlParser_test_MPI_1` test for both the GCC 4.8.4 and GCC 4.9.3 SEMS Dev Env.

Unfortunately, I can't push this

[2017-03-22 01:22] bartlettroscoe commented on #1167
I created the SEMS service request:

* https://sems.sandia.gov/jira/servicedesk/customer/portal/4/SEMSHELPD-408

 provide the yaml-cpp TPL for GCC 4.7.2.

From looking at:

* https://sems.sandia.gov/jira/browse/SEMS-1259

it appears that yaml-cpp was installed to support Nalu (and important internal Trilinos customer).

But there is no indication why yaml-cpp was not provided for GCC 4.7.2 or if a

[2017-03-22 01:26] nmhamster commented on #1167
@bartlettroscoe I agree with @jjellio that testbeds is using `yaml-cpp` without Boost. I would try to avoid this being needed if we can right?

[2017-03-22 01:39] ibaned commented on #1167
As far as I know thats correct. We were simply watching its growing support in Teuchos and MueLu. I am thankful that Nalu got things going with SEMS, and I hope the timeframe for resolving #1002 is not too far away. For Albany though, our only real roadblock is the merging of Trilinos develop into master.

[2017-03-22 01:45] bartlettroscoe commented on #1167
Then perhaps we can get SEMS to build the version of yaml-cpp that does not require Boost.  But does that version work with GCC 4.7.2?  It would be good of the SEMS env and the test beds would use consistent versions of the TPLs.

I created the SEMS service request:

* https://sems.sandia.gov/jira/servicedesk/customer/portal/4/SEMSHELPD-409

to use the version of yaml-cpp that does not depend on b

[2017-03-22 01:59] lxmota commented on #1167
I agree with @ibaned that for Albany the only roadblock right now is the merging of Trilinos develop into master for this YAML issue and another issue as well (#1132).

[2017-03-22 02:01] nmhamster commented on #1167
@bartlettroscoe we are working towards this goal but not all packages and compilers work on all platforms (for instance, there is no GCC 4.7 on POWER with Little Endian).

Yes. That's possibly because we are not aggressively pushing updates into the code to keep up with newer TPLs? Perhaps this is something with a little focus we can improve on, having all the newer TPLs available for testing is a

[2017-03-22 04:28] mhoemmen commented on #1097
I'm fixing this in develop now.  Check-in test script is running.  I just did it with `#error`, with an informative message that tells users that they need to use an MPI implementation with MPI_VERSION >= 2.

[2017-03-22 04:30] mhoemmen commented on #1097
I just pushed a fix to develop.

[2017-03-22 04:30] #1097 closed

[2017-03-22 04:31] mhoemmen opened #1169 "Tpetra: Add nonblocking MPI-global GEMV"
@trilinos/tpetra

A collaborator would like to implement Pipelined GMRES (see #748 for comparison).  This calls for a nonblocking MPI-global GEMV in order to implement the classical Gram-Schmidt projection step.  The implementation of Tpetra::idot (see #1013) currently supports this use case, but does not optimize the intraprocess dense matrix-vector product (GEMV).  There are two issues:

  1. Tp

[2017-03-22 04:43] guoluanjing commented on #1168
About the question I asked, I found out that the first `computeF()` call is due to the `NormF(NOX::Abstract::Group& initialGuess, double tolerance)` call for setting up the relative residual convergence criteria. The second one is in `MatrixFree::computeJacobian()` call to evaluate fo, the third and subsequent calls to `computeF()` are then for fp evaluations. Thus the solution vector values shoul

[2017-03-22 13:17] rppawlo commented on #1168
@guoluanjing Which back end adapters are you using with nox - epetra, stratimikos/epetra or thyra? An issue that appears often with matrix free is when the equations are poorly scaled. In that case, the perturbation in the directional derivative may not give a good approximation of the Jacobian-vector product. We usually see some progress and then stagnation so this may not be your issue. One simp

[2017-03-22 13:35] rppawlo opened #1170 "KokkosKernels: warnings on CUDA"
When compiling with Tpetra enabled for cuda, we get a ton of warnings from kokkos kernels. It seems to stem from the three lines below. Can someone take a look at this?

[code]

[2017-03-22 13:36] rppawlo commented on #1170
Blocks #1133

[2017-03-22 14:44] mhoemmen commented on #1169
Note that this GEMV might be a little different than a BLAS GEMV, if `Tpetra::MultiVector::dot_type != Tpetra::MultiVector::impl_scalar_type` (in the Stokhos case, for example).  We're really computing a bunch of dot products at once.  This means that the intermediate terms in the sum have type `dot_type`, not `impl_scalar_type`.

This may be relevant to @etphipp 's interests, though please don't

[2017-03-22 14:48] eric-c-cyr commented on #1151
@kyungjoo-kim Do we have a timeline for getting a fix?

[2017-03-22 15:14] mhoemmen opened #1172 "Amesos2 Epetra and Tpetra adapter tests fail"
@trilinos/amesos2

There are a few builds on the dashboard where Amesos2's Epetra and Tpetra adapter tests fail.  They appear to include MPI and non-MPI, as well as DEBUG and RELEASE.

http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2797397
http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2798217
http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2798091

[2017-03-22 15:16] mhoemmen opened #1173 "Amesos2 KLU2 test fails"
@trilinos/amesos2

The Amesos2 KLU2 test fails on one test build:

http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2797397

It looks like the test prints pass output on Process 0, but fails on one or more other processes.  The global all-reduce at the end of the test catches this.

[2017-03-22 15:59] lxmota commented on #1154
Any news on this issue? The develop branch has not been merged into master for a while and that is preventing some work in Albany.

[2017-03-22 16:41] kyungjoo-kim commented on #1151
We need to set up a meeting in person to discuss the problems that @bathmatt found so far. This is not the only problem and I would like to find out design flaws in APIs.

[2017-03-22 16:55] bartlettroscoe commented on #482
I have set up a new script `Trilinos/cmake/std/sems/remote-pull-test-push.sh` that can be used to invoke a remote pull/test/push process from a local development machine.  I have used this several times now using my CEE LAN machine `ceerws1113` as a remote pull/test/push server and it is very nice.  Now my machine `crf450` is no longer loaded down with processes for testing.  I can use all of the

[2017-03-22 17:13] bartlettroscoe commented on #1154
Is this not the same issue as #982?

[2017-03-22 17:17] bartlettroscoe commented on #482
@dridzal, this is now posted at:

* https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull,-test,-and-push

I have used this a few times and it seems to work pretty well.

If any ROL developer wants to try this, let me know.  If they run into any stumbling blocks I can help them through it.

[2017-03-22 17:23] lxmota commented on #482
@bartlettroscoe Cool, I'll definitely give it a try when I need to change something in MiniTensor or ROL, which should be soonish.

[2017-03-22 17:31] bartlettroscoe commented on #482
@lxmota, great, let me know if you find any typos or other problems with this.

[2017-03-22 19:10] guoluanjing commented on #1168
Hi @rppawlo , I'm using epetra with NOX. And we used to do clipping of values for mole fractions when it is outside the range of 0 to 1, but I have removed it, so not anymore.

I see divergence from the very beginning, i.e., nonlinear iteration # 0. Have not seen the issue of progress then stagnation that could be caused by poorly scaled equations. But I'm curious about what you would look for to

[2017-03-22 20:37] mhoemmen commented on #698
I just tested and merged @tjfulle 's changes into develop.

[2017-03-22 20:37] #698 closed

[2017-03-22 20:45] mhoemmen commented on #921
This appears to be fixed now.

[2017-03-22 20:45] #921 closed

[2017-03-22 20:51] mhoemmen commented on #877
@vbrunini tested the approach of sumInto-ing a whole element at once.  Here's how it works:

  1. Sort the row/column indices (the function assumes the same indexing for both); remember the permutation
  2. Pass in the whole element, and do linear single passes over each row's column indices, with (atomic) +=.

Performance was better, though not astonishingly better.  @vbrunini also found that the

[2017-03-22 23:49] mhoemmen commented on #877
We tried optimizing the element-at-a-time case further, but didn't get very far.  The next step might be to outer-loop-vectorize across multiple elements, by pushing the SIMD element things inside.

@crtrott @nmhamster @vbrunini

[2017-03-23 14:47] jschleus opened #1175 "https://trilinos.org/ access blocked by Firefox and Chromium (as not secure)"
Half OT: Firefox and Chromium (Linux) block the access to https://trilinos.org/ as "not secure", for e.g. Firefox reports:

[code]

[2017-03-23 14:50] mhoemmen commented on #1175
@trilinos/framework

[2017-03-23 15:01] bartlettroscoe commented on #1175
I am not seeing a problem on my SNL Windows 7 machine with FireFox 52.0.1.

[2017-03-23 15:10] jmgate commented on #1175
Seems to be fine on Firefox 52.0 (64-bit) on RHEL7.

[2017-03-23 15:26] bmpersc commented on #1175
I suspect this has something to do with the fact that google tools are no longer accepting sha1 signed certificates. They've actually been warning about this for a while, but only recently started making it an error. I was able to replicate this on my 10.10 mac with chrome 57.0.2987.110, however, Firefox and safari were both happy to connect.

@jwillenbring maybe we could ask about getting a new c

[2017-03-23 15:27] mplooster commented on #1160
@bmpersc @jwillenbring  @william76 What do you think about using the [ninja build system](https://ninja-build.org/) to parallelize the build on Windows? It works with MSVC and certainly speeds up compile time.

[2017-03-23 15:33] jschleus commented on #1175
Sorry, forgot to mention I use Firefox 52.0.1 (original 64-bit Linux binary) and Chromium 57.0.2987.98 (64-bit).

[2017-03-23 15:49] bartlettroscoe commented on #1160
That is the direction that we should go.  Work is being done to make Trilinos (and every TriBITS-based project) to be able to seamlessly use Ninja.  See:

* https://github.com/TriBITSPub/TriBITS/issues/72
* https://github.com/TriBITSPub/TriBITS/issues/166
* https://github.com/TriBITSPub/TriBITS/issues/167

After all of that is done, it will be easy to enable Ninja and most people may not even noti

[2017-03-23 16:06] VictorEijkhout commented on #1153
Was that enough?

With MueLu disabled I was able to complete the build.

V.

[2017-03-23 16:09] mplooster commented on #1157
We will probably want to install [Ninja](https://ninja-build.org/) as well (see #1160).

[2017-03-23 17:35] #1132 closed

[2017-03-23 17:44] bartlettroscoe opened #1176 "Analysis of configure and build failures due to KokkosKernels pushes on March 1-2 reported in #1099"
**Description:**

This story is to analyze the KokkosKernels commits pushed on March 1-2, 2017 that broke the configure and build of Trilinos that was reported in #1099 and see if usage of the [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) script could have avoided the failures (and resulting consequences) if it had been used for the test and pu

[2017-03-23 17:48] bartlettroscoe commented on #1176
As described below, the [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) script produced the exact same configure and build failures shown for the standard CI build for the pushed Trilinos versions 97ed757 and de7ac5a.  Therefore, if the checkin-test-sems.sh script had been used to test and push these versions, then the pushes would have been stop

[2017-03-23 17:51] mhoemmen commented on #1176
Another general lesson might be "pushing major changes during SIAM CSE[, Supercomputing, etc.] is suboptimal" ;-)

[2017-03-23 17:54] mhoemmen commented on #1160
I would like this, as long as it's easy to run the Windows VM on Linux or Mac so that we can replicate errors.

[2017-03-23 17:54] bartlettroscoe commented on #1176
NOTE: The usage of the checkin-test-sems.sh script from another machine should be much easier now that there is a simplified process for developing on your local machine (e.g. a Mac OSX laptop) but then use a SNL COE Linux RHEL 6 machine to do the test and push.  See:

* https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull%2C-test%2C-and-push

I will be happy to sit down (i

[2017-03-23 17:55] mhoemmen commented on #1153
@trilinos/muelu

[2017-03-23 18:01] VictorEijkhout commented on #1153
Finally it occurred to me to compress the log file.....
[trilinos-12_intel17_impi_17_0.log.zip](https://github.com/trilinos/Trilinos/files/865680/trilinos-12_intel17_impi_17_0.log.zip)

[2017-03-23 20:03] aprokop commented on #1175
Duplicate of #120.

[2017-03-23 20:03] #1175 closed

[2017-03-23 20:15] jhux2 commented on #1153
@VictorEijkhout You can also just disable the tutorial with the cmake option ```-DMueLu_ENABLE_Tutorial:BOOL=OFF```

[2017-03-23 20:16] jwillenbring commented on #120
I am in the process of resolving this.

[2017-03-23 21:38] jhux2 commented on #1153
Sorry, dropbox is not an option.  [Github](https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/) determines the file size limits.

[2017-03-23 21:41] jhux2 commented on #1128
Closing, please reopen if necessary.

[2017-03-23 21:41] #1128 closed

[2017-03-24 04:20] VictorEijkhout commented on #1153
On Mar 23, 2017, at 4:38 PM, Jonathan Hu <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry, dropbox is not an option.  Github<https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/> determines the file size limits.

I realize that. I uploaded a zipped version earlier today.

Victor.

PS github is a disaster. On an earlier ticket I attached a file mul

[2017-03-24 15:24] bathmatt opened #1177 "Intrepid2 mapToRefFrame callable from kokkos"
@kyungjoo-kim @rppawlo
So,
I'm going to need a mapToReferenceFrame callable from kokkos kernels as part of my PIC work.  For simplex elements I can just mult by J or maybe J^-1 (don't recall) but not for more complex elements.

This is for the PIC work.

[2017-03-24 15:28] bathmatt commented on #1151
Please set this up with myself and @rppawlo

[2017-03-24 15:30] bathmatt commented on #1118
Here is what I think the plan forward is.  Have @kyungjoo-kim make a test in intrepid2 that tickles this issue.  Then we disable this test in panzer/cuda until the intrepid2 test is clean.

@rppawlo or @eric-c-cyr do you know how to disable a test under cuda?  I think there is a flag KOKKOS_USE_CUDA

[2017-03-24 15:32] #914 closed

[2017-03-24 15:43] mplooster opened #1178 "ROL build failure on Windows"
@trilinos/rol

There are two problems here:
1) ROL_InteriorPointPenalty.hpp (line 137) uses the gcc specific 'xor' operator instead of the c++ '^' operator.
2) M_PI is undefined in a few different places because MSVC requires [_USE_MATH_DEFINES](https://msdn.microsoft.com/en-us/library/4hwaceh6.aspx) to be defined first.

[2017-03-24 15:51] mplooster commented on #1160
Depends on Issue #1178. Submitted pull request #1179 as a potential fix.

[2017-03-24 15:58] bartlettroscoe opened #1180 "Consider taking advantage of new CUDA language support in CMake 3.8.0"
**Description:**

I was looking over the release notes for CMake 3.8 at:

* https://cmake.org/cmake/help/v3.8/release/3.8.html

and it says that CUDA is now a first-class CMake language and it supports the nvcc compiler.

Should this be something that we look into for Trilinos?

**CC:** @trilinos/framework, @trilinos/tpetra, @crtrott, @nmhamster

[2017-03-24 16:07] bartlettroscoe commented on #1180
@bradking, what is the story behind the new native CMake support for CUDA and NVCC with CMake 3.8?  Does it work correctly with Ninja?  Does it work with MPI?  What would it take to try this out for Trilinos (perhaps with changes in  TriBITS to support this)?  What are the advantages of this over the current approach that Trilinos uses now which is use nvcc_wrapper provided by Kokkos:

* https://g

[2017-03-24 19:52] bradking commented on #1180
@bartlettroscoe CMake 3.8 adds native support for the CUDA language and `nvcc` compiler so that one can just list `.cu` source files and they will be compiled as CUDA (one can also set the `LANGUAGE` source file property of `.cpp` files to have them treated as `CUDA`).  The language can be enabled with `enable_language(CUDA)` just like `C`, `CXX`, and `Fortran` can.  It works with the Ninja, Makef

[2017-03-24 20:03] mhoemmen commented on #1180
A major point of Kokkos is that you can intersperse Kokkos::parallel_* calls with other code, including MPI code.  Thus, I don't think this feature will help us at all.  Otherwise, we would have to wrap everything that might possibly have CUDA things in it (including Kokkos::View declarations, since they have `__device__` instance methods) and put it in separate files from everything not-CUDA.

[2017-03-24 20:09] bathmatt commented on #1161
[ellis-build.txt](https://github.com/trilinos/Trilinos/files/869058/ellis-build.txt)

[2017-03-24 20:19] bathmatt commented on #1180
Will this resovle the ninja build issue maybe ???

On Fri, Mar 24, 2017 at 9:58 AM, Roscoe A. Bartlett <
notifications@github.com> wrote:

[2017-03-24 22:57] mplooster commented on #1160
@trilinos/framework @trilinos/zoltan Is Perl required to build testing for Zoltan? I saw this in my configure output and now am wondering if I will need to include Perl in the Windows build.

-- Skipping Zoltan tests because PERL_EXECUTABLE is not found.

[2017-03-24 23:30] mhoemmen commented on #1161
I'm having trouble accessing ride at the moment.  The following line looks suspicious:
[code]
Could you either set that to ON, or (better) remove the line entirely, and try again?

[2017-03-24 23:37] bartlettroscoe commented on #1180
From the above discussion, it sounds like the CUDA language supported by CMake 3.8+ is likely not the best approach for Trilinos right now (or ever).

If there is no objections, we should close this issue.  But I think it is good we had this discussion so that when someone ask "why does Kokkos/Trilinos not just use built-in CUDA support in CMake?" then we can point to this issue for the reason.

@

[2017-03-24 23:45] kddevin commented on #1160
Yes, the zoltan regression tests require perl.

[2017-03-27 15:23] bathmatt commented on #1161
Thta seems to work, seems like the cmake logic needs fixing.,

On Fri, Mar 24, 2017 at 5:30 PM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-03-27 15:39] jwillenbring opened #1182 "Gather information about all existing nightly builds"
@trilinos/framework

As discussed at the 3/27 Framework stand-up, we are going to gather information about all existing nightly builds as a first step towards cleaning up all current nightly dashboard failures (where clean-up means fix in source code, or otherwise eliminate the failure, potentially by demoting the build to experimental or updating the build so the failure no longer occurs).

Here

[2017-03-27 16:05] mhoemmen opened #1183 "Teuchos: Remove Teuchos_ENABLE_LONG_LONG_INT option"
@trilinos/teuchos

The ability to disable `long long` support in Teuchos causes spurious issues like #1161.  The only reason not to allow use of `long long` is because of some Teuchos users who do not enable C++11 in their builds.  We need to respect these users, but it doesn't make sense to make `Teuchos_ENABLE_LONG_LONG_INT` a user-settable option.  If you have C++11, you should get `long long`,

[2017-03-27 16:08] mhoemmen opened #1184 "Tpetra: Require setting Teuchos_ENABLE_LONG_LONG_INT=ON"
@trilinos/tpetra

`Teuchos_ENABLE_LONG_LONG_INT=ON` is the default setting of that CMake variable.  The only reason to turn off `long long` support in Teuchos is if building with C++11 disabled, but Tpetra requires C++11.

It used to be that `Teuchos_ENABLE_LONG_LONG_INT` controlled whether Tpetra enabled `GlobalOrdinal=long long`.  Currently, disabling it still makes Tpetra disable that GlobalOrd

[2017-03-27 16:26] mhoemmen commented on #1161
@bathmatt I'm closing this issue in favor of #1184.  Thanks for reporting!

[2017-03-27 16:26] #1161 closed

[2017-03-27 16:30] bathmatt opened #1185 "Intrepid2 Basis parameters"
Can we move the basis parameters into the actual basis as a const static, or a #define?

Example
basis::getCardinality() {return 4;} for quad?
Right now it is a virtual function and with the move to more kokkos callable functions it seems like this is a bad idea not to have it defined at compile time.

[2017-03-27 16:32] mhoemmen opened #1186 "Zoltan2::PartitioningSolution warning"
@trilinos/zoltan2
Looks like the class needs a virtual destructor.

[code]

[2017-03-27 16:54] kddevin commented on #1186
Thanks @mhoemmen   Which compiler are you using to see this warning?  I do not see it with my usual configurations.

[2017-03-27 17:21] mhoemmen commented on #1186
@kddevin Clang 3.9.  Sorry to be a pest!  I'm only reporting because it looks fishy (wouldn't bug you for an unused typedef, for example).

[2017-03-27 17:26] mhoemmen opened #1187 "Tpetra::CrsMatrix: Add unit test for Import/Export with static-graph, post-first-fillComplete source matrix; separate out that case into nonmember functions that can be thread-parallelized in the future"
@trilinos/tpetra
Blocks: #800

@etphipp found a bug in recent changes to CrsMatrix pack, for the special case where the object to pack (the source matrix) isStaticGraph() and is post-first-fillComplete.  I'm astonished that no tests downstream of Tpetra caught this, until Stokhos.  This means we need to add a Tpetra unit test for this case.

@etphipp reported a failure when using Stokhos with Ames

[2017-03-27 17:29] tjfulle commented on #1187
I could gin something up as I'm coming up to speed on #800

[2017-03-27 18:10] bathmatt commented on #1184
Shouldn't there be a global use long_long use double use complex?  This
could control all the ETI and stuff?  I thought tuechos was the lowest
package and thus controlled all above (or below depending on your point of
view) it..

On Mon, Mar 27, 2017 at 10:08 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-03-27 18:16] mhoemmen commented on #1184
The original reason for `Teuchos_ENABLE_LONG_LONG_INT` was that `long long` was a nonstandard extension to C++98.  C++11 mandates it, but Teuchos does not (yet) require C++11 and has (non-Trilinos) customers that depend on continued C++98 support.

[2017-03-27 18:18] mhoemmen commented on #1187
@tjfulle Awesome, thanks!!!  It would help since I need to write up the benchmarking report this week.

[2017-03-27 18:52] mhoemmen commented on #825
@jjellio did most of the work.  @tjfulle and I helped.  I'm working on documenting this now.

[2017-03-27 18:52] #825 closed

[2017-03-27 18:53] mhoemmen commented on #824
@jjellio did most of the work. @tjfulle and I helped. I'm working on documenting this now.

[2017-03-27 18:53] #824 closed

[2017-03-27 18:53] mhoemmen commented on #822
@jjellio did most of the work. @tjfulle and I helped. I'm working on documenting this now.

[2017-03-27 18:53] #822 closed

[2017-03-27 18:53] mhoemmen commented on #823
@jjellio did most of the work. @tjfulle and I helped. I'm working on documenting this now.

[2017-03-27 18:53] #823 closed

[2017-03-27 18:57] ibaned commented on #1187
This bug broke a lot of Albany tests, and @etphipp gave us a Tpetra patch that fixes it for us. I'd like to get this patch into develop ASAP:
[code]
Even if the new test isn't there yet, as long as the old tests keep passing we should probably get this in. It seems small for a PR, but let me know if submitting a PR would help.

[2017-03-27 18:58] mhoemmen commented on #1187
I'm running the check-in test now.

[2017-03-27 18:58] mhoemmen commented on #1187
Sorry, closed too early, it's not pushed yet.

[2017-03-27 18:59] mhoemmen commented on #1187
It takes so long because the only way to get complete downstream testing is to enable a bunch of stuff, including Tempus, that has unit tests that take a long time to run.

[2017-03-27 19:00] ibaned commented on #1187
Yep, I've been there :)

[2017-03-27 19:01] mhoemmen commented on #1187
Whatever, taking too long, I just pushed the fix.  I did actually test everything.  Two Domi tests failed and I just didn't want to go there.  I enabled everything downstream so nobody complain at me ;-)

[2017-03-27 19:43] william76 opened #1188 "Create jenkins tests for GCC 4.9.3 SERIAL and WError and add to dashboard"
@trilinos/framework

Get tests for GCC 4.9.3 running and put them onto the Experimental CDash board.

So far, these are the tests in the [Experimental](http://testing.sandia.gov/cdash/index.php?project=Trilinos##Experimental) dashboard:
- Linux-gcc-4.9.3-SERIAL_Release_gcc_4.9.3__DEV
  - @bmpersc pretty much put this one together using his parameterized build.
- Linux-GCC-4.9.3-MPI_Release_Werror_

[2017-03-27 19:51] ibaned commented on #1187
I'm all set with this, but should we perhaps keep it open until a unit test is in place ?

[2017-03-27 19:54] mhoemmen commented on #1187
Ah, thanks @ibaned , good point :)

[2017-03-27 19:54] tjfulle commented on #1187
@ibaned, I was thinking the same thing.

[2017-03-27 20:15] #564 closed

[2017-03-28 00:03] jhux2 opened #1189 "Tpetra: gap sequence in shell sort"
In the Tpetra shell short, the gap sequence is currently {1,2,4,8,...}.  This could lead to poor performance in some cases.  (See bugzilla bugs [4301](https://software.sandia.gov/bugzilla/show_bug.cgi?id=4301) and [4244](https://software.sandia.gov/bugzilla/show_bug.cgi?id=4244).)   Similar gap sequences were partially fixed in Epetra.

I *haven't* encountered any problems with shell sort in Tpetr

[2017-03-28 03:07] mhoemmen commented on #1189
Thanks @jhux2 !  You are, of course, welcome to contribute :-)

[2017-03-28 14:22] ikalash opened #1190 "TriKota build issue with gcc-6.3.1"
I recently upgraded the compiler on my Linux workstation to gcc-6.3.1.  With this compiler, I get a compilation error when I build Trilinos with Trikota.  Here is the error:

[  7%] Building C object packages/common/auxiliarySoftware/SuiteSparse/src/CMakeFiles/trilinosss.dir/AMD/Source/trilinos_amd_post_tree.c.o
/home/ikalash/nightlyAlbanyTests/Results/Trilinos/packages/TriKota/Dakota/packages/DDA

[2017-03-28 14:22] ikalash commented on #1190
@trilinos/developers

[2017-03-28 14:27] ikalash commented on #1190
@briadam

[2017-03-28 14:41] briadam commented on #1190
@ikalash This was fixed in the upstream TPL in Nov 2015: https://software.sandia.gov/trac/ddace/changeset/450  These changes would have appeared in Dakota shortly thereafter, certainly in Dakota 6.4.  If you need to patch TriKota's Dakota, you can use the DDACE URL to generate a patch (It's just a missing .str()), otherwise, if time permits, maybe upgrade the Dakota version in use...

[2017-03-28 14:45] ikalash commented on #1190
Thanks, @briadam .  My nightly test scripts get Dakota as follows:

wget -nv --no-check-certificate \
 https://development.sandia.gov/dakota/distributions/dakota/votd/Dakota_votd.src.tar.gz

I am guessing this is a really old version.  What would be the path to a newer version?

[2017-03-28 14:46] ibaned commented on #1190
https://dakota.sandia.gov/download.html

https://dakota.sandia.gov/content/getting-dakota-source-code

[2017-03-28 14:51] briadam commented on #1190
Thanks @ibaned
@ikalash Note that if you login to the site you will be presented with both public Dakota and SNL-internal options, depending on where you will be using it.  Feel free to contact me and Adam Stephens separately if you have issues with SNL-specific versions.

[2017-03-28 15:10] ikalash commented on #1190
Switching to a newer Dakota resolved the problem.  Thanks!

[2017-03-28 15:10] #1190 closed

[2017-03-28 15:54] jhux2 commented on #1189
@mhoemmen Yep, I came across this while looking at the SpGEMM, and didn't want to forget it.  Not sure which gap sequence is better, however.

[2017-03-28 16:37] jhux2 commented on #1189
Checkin script is running.

[2017-03-28 18:51] jhux2 commented on #1189
Changed in commit bba86ce.   During the checkin script, these two tests failed:
[code]
When I reran these by hand, they passed.   That plus the fact that they are Epetra-based makes me comfortable doing a force push.

[2017-03-28 18:51] #1189 closed

[2017-03-28 20:27] bathmatt opened #1191 "Belos on gcc/opt/openmp failes on ride"
**Next Action Status:**

LAPACK calling problems may not have been resolved on 'ride' with the merge of #1284. Next: @kruger is digging in more in #1208 ...

**Blocked By:** #1208

**Description:**

Has anyone ran the tests for Belos on Ride with gcc?  I'm seeing these errors, and what looks like related issues
174:Belos_pseudo_gmres_hb_MPI_4
175:Belos_bl_pgmres_hb_0_MPI_4
176:Belos_bl_pgmres_hb_1

[2017-03-28 21:16] bathmatt commented on #1191
Ok, there is one failure under debug

[code]

[2017-03-28 21:28] mhoemmen commented on #1191
Hi @bathmatt !  Thanks for reporting!  Some questions:

  - Are these tests with or without CUDA?
  - Have you set OMP_NUM_THREADS so that OpenMP doesn't oversubscribe?
  - What GCC and MPI versions are you using?

[2017-03-28 22:05] lxmota commented on #482
@bartlettroscoe I tried the local development/remote test & push script, but I have trouble with the module command.

When the `Trilinos/cmake/std/sems/remote-pull-test-push.sh` is invoked and does `ssh -q ...` it fails with the error `module: command not found`

On the other hand, if I load the definition of the module command on my `.bashrc` for example by doing `source /etc/profile.d/00-module-

[2017-03-28 22:19] bartlettroscoe commented on #482
What machine are you using for `<remote-machine>`?

Try running:

[code]

I tried this to to both `crf450` and `ceerws1113` and they both worked:

[code]

[code]

What happens for your `<remote-machine>`?  How are you setting up your SEMS modules?  For my configuration, I don't need to set anything in my home directory to make the `module` command work.  It is set up at the system level for all us

[2017-03-28 22:48] lxmota commented on #482
@bartlettroscoe I'm using ceesrv02.

This is what happens:

[code]
Right now I'm not doing anything to setup the SEMS modules.

If I put `module load sems-env` in my `.bashrc` then I get `module: command not found` when I do `ssh -q "command"`; but if I login interactively by just doing `ssh`, then I get no error and the `module` command works.

[2017-03-28 22:56] bartlettroscoe commented on #482
@lxmota,

That is really strange.  That works fine for me:

[code]

You should put in a ticket the CCHD to ask for help from the CEE LAN admins.  Makes no sense that this works for me and not you on the exact same CEE LAN machine.

[2017-03-28 23:06] mhoemmen commented on #1189
Thanks @jhux2 !

[2017-03-28 23:10] lxmota commented on #482
Ok, will do. Thanks.

[2017-03-28 23:24] kddevin commented on #1191
Hi, @bathmatt .  No, I am not the PI for Belos.  I'll tag the Belos team @trilinos/belos and @hkthorn .
@mhoemmen  is already following.

[2017-03-29 05:27] mhoemmen commented on #1189
btw you can disable tests by adding the following line to your check-in test script invocation:
[code]
This is nicer to do than a force-push.  For one thing, it proves that you got the code to build ;-)

[2017-03-29 13:50] MicheldeMessieres commented on #1186
@kddevin I can take care of this one if not in progress already.

[2017-03-29 14:15] bathmatt commented on #1191
@mhoemmen <https://github.com/mhoemmen>
OMP_NUM_THREADS=4

This is the same configure that works for panzer module a couple solver
issues

mbetten@ride6:~/workspace/build_unknown_GNU_RELEASE_OPENMP$ module list
Currently Loaded Modulefiles:
  1) seacas/20170224/openmpi/none/gcc/5.4.0/cuda/none      9)
isl/0.17.1                                           17)
cgns/3.2.1/openmpi/1.10.4/gcc/5.4.0/cuda

[2017-03-29 14:42] kddevin commented on #1186
Thanks, @MicheldeMessieres

[2017-03-29 15:23] mhoemmen commented on #1092
@trilinos/amesos2

[2017-03-29 15:24] mhoemmen commented on #1108
I thought there was some sort of pull request relating to this issue.  Was there?

[2017-03-29 15:26] srajama1 commented on #1108
No, two different things. Amesos vs Amesos2. This one is probably next in the queue.

[2017-03-29 15:30] srajama1 commented on #1092
@ibaned : I am curious. Does it work with other solvers (KLU2) ? Even if it does, the problem could be in the interface to SuperLU_Dist ? Can you dump the matrix for us ?

[2017-03-29 15:36] ibaned commented on #1092
Correct, the KLU2 test passes, which is why I think it might be the Amesos2 -> SuperLU_Dist interface rather than the new Stratimikos -> Amesos2 interface proposed in the PR. I'll try to dump the matrix, but I have to rebuild the code first...

[2017-03-29 15:39] ibaned commented on #1092
Actually, no need, the matrix just comes from this file: https://github.com/trilinos/Trilinos/blob/master/packages/ml/examples/BasicExamples/A.mm

[2017-03-29 17:13] kddevin commented on #1186
Fixed by @MicheldeMessieres today.

[2017-03-29 17:13] #1186 closed

[2017-03-29 17:49] srajama1 commented on #70
@ndellingwood

[2017-03-29 17:57] srajama1 commented on #1092
@ibaned : Can we get some info on SuperLU_Dist version, configure options etc ?

[2017-03-29 19:09] ibaned commented on #1092
@srajama1 I made a few CMake fixes to the branch while getting this set up.
I'm using SuperLU_Dist 5.3.1, but I'm positive I went back and used the older
version that Trilinos is originally compatible with, so you should see the same
failure either way.
Here is my configure script:
[code]
Its a trimmed down version of another script, so some TPLs may not be needed.
You should get three tests, with

[2017-03-29 19:50] mhoemmen commented on #1191
@bathmatt Could you post your Trilinos configuration script here please?

[2017-03-29 19:52] mhoemmen commented on #1191
btw here is a possible valid order for loading the modules on ride:
[code]
There was a little bit of weirdness regarding yaml-cpp: the load order mattered, and `yaml-cpp/20170104` appears to duplicate the `yamlcpp/0.3.0` module that a previous module loaded.

[2017-03-29 20:15] ibaned commented on #1092
I believe I've made some progress and Trilinos is now compiling for me. One thing I noticed is that these scripts really didn't used the loaded SEMS modules at all, i.e. things like Boost and Netcdf were still being found in places like `/usr/lib64`. I've made some local changes to the scripts so that everything is based off the SEMS environment. If that sounds like something acceptable to existin

[2017-03-29 20:17] ibaned commented on #1092
Please disregard my last comment. I posted it to the wrong issue.

[2017-03-29 21:05] hkthorn commented on #1191
The error is:

** On entry to DSTEQR parameter number  1 had an illegal value
 ** On entry to DSTEQR parameter number  1 had an illegal value
 ** On entry to DSTEQR parameter number  1 had an illegal value
 ** On entry to DSTEQR parameter number  1 had an illegal value

This leads to the condition number estimate calculation code, more specifically the first argument of that call which is a charac

[2017-03-29 21:45] bathmatt commented on #1191
[config.txt](https://github.com/trilinos/Trilinos/files/880468/config.txt)
THis is a tar file really, not a txt..  Also, set JOB_NAME ride_gnu_opt_openmp and workspace to where you have trilinos, and remove all the drekar lines and you should be good to go

[2017-03-29 22:15] #1178 closed

[2017-03-29 22:17] mplooster commented on #1157
Also, we will likely need Perl for the Zoltan regression tests.

[2017-03-29 23:19] mhoemmen opened #1194 "Tpetra::MultiVector: cublas{D,S}gemm interface change?"
@trilinos/tpetra

@mwglass reported build errors in tpetra/core/src/kokkos_refactor/Kokkos_MV_GEMM.hpp, relating to a wrong first argument for cublasSgemm and cublasDgemm.  It looks like he is seeing a different cuBLAS header file than we are.  This could be an artifact of how he builds Trilinos, but it reminds me that we need to check whether there are interface changes coming for those cuBLAS fu

[2017-03-29 23:29] mwglass commented on #1194
There is a cublas.h and a cublas_v2.h file in the cuda include dir. The v2 file has a cublasHandle_t argument add at the beginning of the arg list. We must be picking up that header somewhere.

[2017-03-30 03:44] mhoemmen commented on #1194
Thanks @mwglass !  The cuBLAS manual says that "Starting with version 4.0, the cuBLAS Library provides a new updated API, in addition to the existing legacy API. . . . The new cuBLAS library API can be used by including the header file 'cublas_v2.h'."

http://docs.nvidia.com/cuda/cublas/

The manual also says: "In general, new applications should not use the legacy cuBLAS API, and existing existin

[2017-03-30 04:26] mhoemmen commented on #1194
@mwglass -- another approach would be for Tpetra to hide the 'cublas.h' header file include in a .cpp file.  This should be quicker to do than what I described in my previous comment.  I will try that first.  Later we can go back and use the new API.

I would prefer to defer using the new API, because it requires global initialization and finalization of a context object.  I'll have to be careful

[2017-03-30 11:51] bartlettroscoe commented on #156
This is resolved with TriBITSPub/TriBITS#156 that was snapshotted to Trilinos some time ago.

[2017-03-30 11:51] #156 closed

[2017-03-30 14:15] VictorEijkhout commented on #1153
On Mar 23, 2017, at 3:15 PM, Jonathan Hu <notifications@github.com<mailto:notifications@github.com>> wrote:

disable the tutorial with the cmake option -DMueLu_ENABLE_Tutorial:BOOL=OFF

Works, thanks.

Victor.

[2017-03-30 15:03] tjfulle commented on #1187
Since the function in question, `CrsMatrix::packRowStatic`, that led to this bug is a private member of the CrsMatrix class, it is not easily tested.  For this, and other design considerations, @mhoemmen and I have decided to make `packRowStatic` a nonmember function that takes a `KokkosSparse::CrsMatrix`.

@mhoemmen, might it be better to put both `packRow` and `packRowStatic` in a new header fil

[2017-03-30 15:06] mwglass commented on #1194
Thanks for the update. I will also see if I can track down how we are picking up the new api header file in our builds.

[2017-03-30 16:13] mhoemmen opened #1195 "Tpetra: Use new cuBLAS API for dense matrix-matrix multiply"
@trilinos/tpetra
See #1194 for justification and discussion.

# Use new cuBLAS API

The cuBLAS manual says that "Starting with version 4.0, the cuBLAS Library provides a new updated API, in addition to the existing legacy API. . . . The new cuBLAS library API can be used by including the header file 'cublas_v2.h'."

http://docs.nvidia.com/cuda/cublas/

The manual also says: "In general, new applic

[2017-03-30 16:22] mhoemmen commented on #1194
CUDA and non-CUDA builds build.  Just did a rebase so I have to rebuild.  I'm running CUDA tests now.

[2017-03-30 16:37] mhoemmen commented on #1187
btw, please use the column Map to convert from local to global.

[2017-03-30 17:02] mhoemmen commented on #1194
I'm attaching a patch that fixes the issue.  Check-in tests almost done.

[patch.txt](https://github.com/trilinos/Trilinos/files/883206/patch.txt)

[2017-03-30 17:04] mhoemmen commented on #1194
@mwglass I just pushed a fix to develop.  See my previous comment for a patch that fixes the issue.

Note to myself: this issue came up because of actual use of cuBLAS v2 API (not just the header file) in an application.  That justifies hiding the v1 header file.

[2017-03-30 17:05] #1194 closed

[2017-03-30 17:05] mwglass commented on #1194
Thanks!

[2017-03-30 17:13] mplooster commented on #1159
When trying to build a debug version, I get the error

If this message is to be believed, I need to add the [/bigobj compiler flag](https://msdn.microsoft.com/en-us/library/ms173499.aspx) to get a debug build with Visual Studio 2015.

There are a couple of ways I can do this with CMake:

1. I can add the flag for specific files that need it using [set_source_file_properties](https://cmake.org/cmak

[2017-03-30 20:46] jwillenbring commented on #492
@william76 has updated the appropriate files and the copyright admin has been informed about the updated license, so I am closing this ticket.

[2017-03-30 20:46] #492 closed

[2017-03-30 20:59] bartlettroscoe commented on #1159
Are there any downsides to using `/bigobj`?  The documentation:

* https://msdn.microsoft.com/en-us/library/ms173499.aspx

indicates the only disadvantage as "Linkers that shipped prior to Visual C++ 2005 cannot read .obj files that were produced with /bigobj."  I would say that is not an issues taht we should worry about.

I would say to go with "3. When building with MSVC, I can just add it to t

[2017-03-30 21:32] bmpersc commented on #1159
I agree. Adding /bigobj automatically to the flags when building for Windows makes the most sense. With the increased use of templates in Trilinos I suspect that this will start to be a problem for other packages eventually so we might as well fix it for them now.

[2017-03-31 07:49] Sbte opened #1196 "Ifpack_SparseContainer can't be used without initializing MPI"
`Ifpack_SparseContainer` can't be used when Trilinos is compiled with MPI support but it is used without calling `MPI_Initialize`. This happens because a serial MPI communicator is instantiated in the constructor:

https://github.com/trilinos/Trilinos/blob/master/packages/ifpack/src/Ifpack_SparseContainer.h#L323

A case where one might want to use this without calling `MPI_Initialize` is when `Epe

[2017-03-31 13:38] bartlettroscoe commented on #482
I made two changes related to this issue pushed yesterday and today, first, I updated TriBITS to not test modified ST packages in the post-push PT CI build.  For example, it was testing ST Tempus when it was modified but not in the first CI iteration from scratch.  This defect was never discovered before because the CI servers in the past always tested ST code up until this new PT CI server for Tr

[2017-03-31 15:22] mplooster commented on #1159
Will do. Thanks for your input.

[2017-03-31 15:55] mhoemmen commented on #1196
@Sbte Thanks for reporting!  It's a bit of a strange use case to use Epetra and downstream packages with MPI enabled, but not with MPI communicators.  On the other hand, it's certainly possible that users might try this.  I much prefer using MPI if it is available, including `MPI_COMM_SELF`.  How about this:
[code]
Please feel free to submit a pull request.  Thanks!

[2017-03-31 16:39] bartlettroscoe commented on #482
Looks like usage of the checkin-test.py script is improving.   Over the last month, more than 1/3rd of Trilinos pushers used the checkin-test.py script to actually push (and thereby amending the top commit with `Build/Test Cases Summary` results) as shown by:

[code]

Compare this to this same month last year where less that 1/4th used it:

[code]

And most of the heavier pushers are using it now

[2017-03-31 17:43] Sbte commented on #1196
@mhoemmen Yes, I can do that. I was just wondering what the advantage is of using `MPI_COMM_SELF` over `Epetra_SerialComm`. I suppose that they are at least supposed to do the same thing. If not it might explain some of the errors that I get at the moment :)

I myself use it in an interface between our code and Matlab by the way, just so we can more easily try out and debug some things. And in tha

[2017-03-31 19:41] mhoemmen commented on #1196
@Sbte wrote:

With respect to Epetra, they are supposed to do the same thing.  However, if your application actually uses MPI, using `Epetra_MpiComm` everywhere (even with `MPI_COMM_SELF`) means that you can always get the `MPI_Comm` out of the `Epetra_Comm` (via `dynamic_cast`) and do MPI things with it -- e.g., `MPI_Intercomm_create`, attach key-value pairs to it, and use it in `MPI_Pack`.  It a

[2017-03-31 21:39] rsln-s commented on #1102
The hypergraph in the example was not connected and had a lot of independent vertices. If you remove them, zoltan behaves correctly.

[2017-03-31 21:39] #1102 closed

[2017-04-02 04:59] ikalash opened #1199 "build issue due to rbgen in Anasazi"
I am encountering an issue building Anasazi with RBGen on my machine:

[ 84%] Built target rbgenepetra
[ 84%] Linking CXX executable RBGenDriver_EpetraMV.exe
../../../tpetra/core/src/libtpetra.so.12.11: undefined reference to `Teuchos::BLAS<int, std::complex<double> >::GEMM(Teuchos::ETransp, Teuchos::ETransp, int, int, int, std::complex<double>, std::complex<double> const*, int, std::complex<doubl

[2017-04-02 14:52] ibaned opened #1200 "Tpetra: undefined reference to GEMM"
@trilinos/tpetra

The Albany dashboard shows the following this morning:

http://my.cdash.org/viewBuildError.php?buildid=1165207

[code]

I'm almost certain this is caused by either commit 9ff5168 or cbdd2f4.

Here is our Trilinos config:
[code]

[2017-04-02 16:35] ibaned commented on #1200
CDash interprets template brackets as some kind of markup, hiding the fact that the undef refs are for `std::complex`:

[code]

[2017-04-02 17:15] ibaned commented on #1200
I'm proposing #1201 as a fix for this issue. Just started compiling and testing though.

[2017-04-02 20:33] ibaned commented on #1199
This doesn't actually have to do with Anasazi, it just seems like that executable was the first to try to link against Tpetra, which is where the real bug is. This is a duplicate of #1200, and I've proposed a fix in #1201. I'll close this in favor of those other two.

[2017-04-02 20:33] #1199 closed

[2017-04-03 14:54] mhoemmen commented on #1200
Thanks for proposing the fix!  I find `Teuchos_ENABLE_COMPLEX` annoying and pointless at this point.  Way back, it used to control explicit instantiation for downstream packages.  Now I'm really _really_ tempted just to enable it by default.

[2017-04-03 14:57] ibaned commented on #1200
Isn't there build time / binary size overhead for users that don't use complex types ? Or is that overhead negligible for `Teuchos_ENABLE_COMPLEX` compared to `Tpetra_INST_COMPLEX_DOUBLE` ?

[2017-04-03 14:59] mhoemmen opened #1203 "Tpetra::CrsGraph: Add another constructor that takes a Kokkos::StaticCrsGraph & all 4 Maps (not just row and column)"
@trilinos/tpetra
Requested by @alanw0 .

[2017-04-03 15:05] mhoemmen commented on #1200
Relatively speaking, it's negligible.  That's mainly because most use cases of complex arithmetic in Trilinos come through Tpetra.

[2017-04-03 15:24] bmpersc commented on #1200
@mhoemmen, I don't have a specific discussion that I can point to, but I seem to recall that there was an intentional decision to not enable complex by default.

I do think that this needs to get fixed quickly, have you had a chance to look at Dan's pull request to see if it is a reasonable fix for the issue?

Alternatively we could revert the commits that were made over the weekend just so we can

[2017-04-03 15:30] mhoemmen commented on #1200
@bmpersc I reviewed the PR.  It looks reasonable.  I thought @ibaned was testing it so I wanted to wait until I heard more.  Should I just accept the PR?

[2017-04-03 15:32] ibaned commented on #1200
All the testing I did was compile Trilinos+Albany will all complex stuff disabled (both Teuchos and Teptra). Not currently doing more, unless someone asks.

[2017-04-03 15:59] mhoemmen commented on #1200
@ibaned That should be fine; I'll accept the PR.  Thanks!

[2017-04-03 16:00] mhoemmen commented on #1200
Thanks @ibaned for the fix!

[2017-04-03 16:00] #1200 closed

[2017-04-03 18:08] mplooster commented on #1160
@trilinos/framework When I configure with Pamgen turned on, I get the message

I don't get any build errors, so I am wondering, why is Pamgen marked as unsupported for Windows?

[2017-04-03 19:37] ibaned opened #1204 "Query nonlinear solver state from Thyra::ModelEvaluator"
This is actually a high-level design issue for Albany, but I'm opening it as a Trilinos issue to get feedback from Trilinos developers.

In Albany, we interface with non-linear solvers like NOX through a `Thyra::Model Evaluator` derived class. Most of the interesting interaction happens through the `evalModelImpl` method.

The NOX algorithm goes roughly like this:

[code]

The two pseudo-code ask_

[2017-04-03 20:14] guoluanjing commented on #1168
Hi there,

I have two follow-up questions that are I think more specific to answer for you experts:

1. since I have analytical jacobian and initial residual vector, I could manually calculate Krylov vectors. Is there a way to output Krylov vectors from the GMRES solver under MatrixFree scheme for me to compare?

2. How could I use the setPerturbation() function in MatrixFree, i.e., where and how

[2017-04-03 21:29] ibaned commented on #1204
@bgranzow

[2017-04-03 21:29] lxmota commented on #1204
Another situation where this arises is in our implementation of the Schwarz alternating method, where multiple subdomains are coupled. The global solution is obtained through a Schwarz loop that for each iteration requires a NOX nonlinear solve for each of the subdomains. The convergence criterion for the Schwarz loop requires knowledge of the solution before and after the NOX solve for each subdo

[2017-04-03 22:47] mplooster opened #1205 "Zoltan: Can't build Large_Data tests with Visual Studio"
Currently building fails because Visual Studio doesn't have getopt.h, which is used in [stressTestPHG.c](https://github.com/trilinos/Trilinos/blob/4bfc9e957053212d76db4b09c9b66bbbeeaa80a9/packages/zoltan/test/Large_Data/stressTestPHG.c) and [stressTestGRAPH.c](https://github.com/trilinos/Trilinos/blob/4bfc9e957053212d76db4b09c9b66bbbeeaa80a9/packages/zoltan/test/Large_Data/stressTestGRAPH.c). To f

[2017-04-04 01:37] rppawlo commented on #1204
@ibaned NOX does support row sum scaling and in some cases we do disable the scaling in StatusTest checks (partial but not complete support for this). Disabling the checks can be dangerous depending on the algorithm being used. I'm in Albuquerque this week. Can we meet and discuss in more detail?

[2017-04-04 01:59] ibaned commented on #1204
Thanks @rppawlo . I'll follow up with you by email tomorrow.

[2017-04-04 15:05] kddevin commented on #1205
Rather than add new source code, perhaps we can set default parameter values that make sense in each test that uses getopt.  For linux builds, we can keep the getopt capability to vary the tests.  For windows builds, we can #ifdef out the getopt capability and run with the default values.   Testing with default values is probably sufficient for windows.

Is WIN32 the correct macro to check?  We us

[2017-04-04 15:47] mplooster commented on #1205
It would probably be better to check _MSC_VER. I believe getopt.h is available in MinGW and Cygwin, and if I am remembering correctly, WIN32 is defined for those, while _MSC_VER is only defined for the Visual Studio compilers.

Ideally, within a week (sooner if possible). Zoltan is one of the packages I need to build for #1160. If it will speed things along, I am happy to do the actual coding and

[2017-04-04 16:08] kddevin commented on #1205
I pushed some changes but I have no way to test on windows.
I'll close the issue, but please reopen if you still have troubles.

[2017-04-04 16:13] mhoemmen commented on #1191
I've been too busy lately but I can pick this up.

[2017-04-04 16:26] mplooster commented on #1205
@kddevin Thanks. That fixed the getopt issue. Unfortunately, stressTestPHG.c also has a problem with <sys/time.h>. GitHub won't let me reopon the issue (probably because I don't have write access to the reop and as [explained here](http://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github), I didn't close it), so could you reopen it?

[2017-04-04 16:32] mhoemmen opened #1206 "MueLu: Optimization for non-threaded sparse matrix-matrix multiply"
@trilinos/muelu
@sthomas61 implemented changes in TpetraExt_MatrixMatrix_def.hpp that sped it up by 2x.

@csiefer2 @jhux2 Could one of you please review these changes?  Thanks :-)

I'm attaching the file here so we don't lose it.  I had to rename it to have a .txt extension so GitHub would accept it.  Next steps are to submit a pull request with the changes, test the pull request, then merge into

[2017-04-04 16:34] bathmatt commented on #1191
Thanks Mark!!

On Tue, Apr 4, 2017 at 10:13 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-04-04 16:34] kddevin commented on #1205
should be good now.

[2017-04-04 16:43] mplooster commented on #1205
@kddevin Thanks again for your quick work! That fixed the <sys/time.h> issue. One last thing, and then I think we should be home-free. For obvious reasons, Visual Studio does not like the function `Zoltan_write_linux_meminfo` in stressTestPHG.c (and the other signal handling in `meminfo_signal_handler`). If you could also take care of that, I'm pretty sure it will build on Visual Studio without an

[2017-04-04 16:45] mplooster commented on #1205
I think Zoltan_write_linux_meminfo also appears in dr_main.c, and should be handled there, as well.

[2017-04-04 16:46] mhoemmen commented on #1191
Updating my Trilinos:develop on ride now.  Will try out your config script once that's done.

[2017-04-04 16:52] bathmatt commented on #1191
Recall,
This is optimized only that fails.

On Tue, Apr 4, 2017 at 10:46 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-04-04 16:57] mhoemmen commented on #1191
@bathmatt so if I change your build script to a RELEASE build, will that manifest the issue?

[2017-04-04 17:03] kddevin commented on #1010
Thanks for the update,  @jbakosi

[2017-04-04 17:03] kddevin commented on #600
@nmhamster
Does this bug persist?
Similar issue #1010 was closed recently.

[2017-04-04 17:06] kddevin commented on #591
@egboman I think this issue is resolved now with PR #1120 and its related PRs.
Do you agree?  If so, we can close this issue.

[2017-04-04 17:08] kddevin commented on #1095
This issue was resolved by replacing runtime checks with compile time checks.  I am closing the issue, but if it is still a problem, please reopen.

[2017-04-04 17:08] #1095 closed

[2017-04-04 17:11] kddevin commented on #740
@egboman  I think the ordering metrics have been completed through the PRs above.  I will close this issue; please reopen if needed.

[2017-04-04 17:11] #740 closed

[2017-04-04 17:13] kddevin commented on #456
@egboman  I think this issue is fixed with the PRs above.  I will close; please reopen as needed.

[2017-04-04 17:13] #456 closed

[2017-04-04 17:17] mhoemmen commented on #1191
@bathmatt How do I use the two scripts?  What do I need to change in each of them?

[2017-04-04 17:18] bathmatt commented on #1191
from previous comment
THis is a tar file really, not a txt.. Also, set JOB_NAME ride_gnu_opt_openmp and workspace to where you have trilinos, and remove all the drekar lines and you should be good to go

[2017-04-04 17:20] mhoemmen opened #1207 "What bit of CMake code actually defines F77_BLAS_MANGLE"
@trilinos/framework

I'm curious because it magically seems to work in my .h.in header, but I don't see where it gets defined.  Is this just a freebie that comes with CMake, or does it happen in TriBITS?

I'm asking because this is relevant for KokkosKernels etc.

[2017-04-04 17:24] bathmatt commented on #1191
[out.txt](https://github.com/trilinos/Trilinos/files/893956/out.txt)
should be self contained. haven't tested it

[2017-04-04 17:28] #1205 closed

[2017-04-04 17:30] bartlettroscoe commented on #1207
This is in TriBITS:

[code]

I don't know if raw CMake has such a thing.

Why does KokkosKernels not just snapshot TriBITS and let that be the CMake build system for KokkosKernels + Kokkos?  I can help you set that up pretty fast.

[2017-04-04 17:49] mhoemmen commented on #1207
@bartlettroscoe wrote:

Thanks for the kind offer!  I'd better leave that to @crtrott and @hcedwar .

I'm actually working in Tpetra now, so I can rely on TriBITS just fine.  I'm just wondering how I got this handy variable `@F77_BLAS_MANGLE@` and whether I need to include some TriBITS file in my CMakeLists.txt file explicitly, in case package dependencies change at some point.  Thanks!

[2017-04-04 17:55] mhoemmen commented on #1207
@bartlettroscoe wrote:

https://cmake.org/cmake/help/v3.0/module/FortranCInterface.html

Not sure when it got added.  This is 3.0.2 documentation.

[2017-04-04 18:06] mhoemmen commented on #1191
@bathmatt Trying this out now -- it's working thus far (mid-way through Trilinos configure process).  Thanks!

[2017-04-04 18:09] mhoemmen commented on #1191
Building Trilinos now.

[2017-04-04 18:29] mplooster commented on #1205
That did the trick. Thanks!

[2017-04-04 20:41] bathmatt commented on #1191
This is my run script for the build and test.  the CUDA ones are ignored
for non-cuda builds

[code]

On Tue, Apr 4, 2017 at 2:39 PM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-04-04 20:50] mhoemmen commented on #1191
@hkthorn @bathmatt I think I get it.  In the reference LAPACK implementation, DSTEQR prints that message when it returns `INFO = -1`.  This means that the first argument, the character array indicating what to compute, is neither "N" or "V" nor "I".

This smells of a Fortran binding issue for strings.  Some Fortran compilers have an ABI that passes character arrays as `char*, int`.  Others just pa

[2017-04-04 21:02] mhoemmen commented on #1191
I'm testing this theory now.

[2017-04-04 21:05] mhoemmen commented on #1191
Hm, that didn't seem to help.  Let me try hard-coding "N" in Teuchos::LAPACK's implementation.

[2017-04-04 21:06] mhoemmen commented on #1191
Oddly enough, hard-coding "N" in Teuchos::LAPACK's implementation worked...

[2017-04-04 21:15] mhoemmen commented on #1191
In summary: If I change lines 735-738 of `teuchos/numerics/src/Teuchos_LAPACK.cpp` to the following:
[code]
the test passes.  If I restore line 737 to the original as follows:
[code]
then the test fails.  However, if I do the following, to emulate the other Fortran 77 string ABI thing:
[code]
the test segfaults right away, without printing the above error message.

[2017-04-04 21:51] bartlettroscoe commented on #1207
Yes, I knew that CMake added support for automatic Fortran/C name mangling determination (and TriBITS/Teuchos and the rest of Trilinos should like change over to that at some point).  But the BLAS mangling may be different than the Fortran/C managing.  This separate macro was to get some builds to work where the Fortran managling and the BLAS mangling were different.  I don't know if FindBLAS.cmak

[2017-04-04 22:07] mhoemmen opened #1208 "Teuchos: Address issus with calling Fortran LAPACK rountines from C++ on Power8 with GCC/gfortran"
**Next Action Status:**

The test beds team is building a new stack from scratch to be deployed perhaps in fall 2017.  Next: Close this Trilinos issue and just track this on the ATDM side in ATDV-69?

**Blocks:** #1191
**Duplicates:**  #347
**Analogous to:**  #1210
**CC:** @trilinos/teuchos @trilinos/framework

**Description:**

**NOTE:** The below original description does not pin-point the actua

[2017-04-04 22:08] mhoemmen commented on #347
I'm marking this as a duplicate of #1208, and closing it.  Please continue discussion there.  Thanks!

[2017-04-04 22:08] #347 closed

[2017-04-04 22:09] mhoemmen commented on #347
@trilinos/teuchos @trilinos/framework

[2017-04-04 22:10] mhoemmen commented on #1207
@bartlettroscoe that's fine then :-)  I'm perfectly happy continuing to use `@F77_BLAS_MANGLE@` in Tpetra.

[2017-04-04 22:17] mhoemmen commented on #1208
@nmhamster Would you happen to know where I could find documentation on the IBM (Open)POWER Fortran ABI?

[2017-04-04 22:18] mhoemmen commented on #1191
@bathmatt @hkthorn It looks like this is an issue relating to the IBM (Open)POWER Fortran ABI.  I am gathering info from @nmhamster on how to proceed.

[2017-04-04 22:19] mhoemmen commented on #1191
btw this error implies that calling ANY `Teuchos::BLAS` or `Teuchos::LAPACK` function that takes a `const char` argument could be badly messed up.  We're only lucky that Tpetra tends not to call the BLAS except for GEMM.

[2017-04-04 23:12] mhoemmen commented on #1208
@ambrad might know this too...

[2017-04-04 23:14] kddevin opened #1209 "Zoltan2: questions about PuLP experiments with vertex weights"
Hi, @gslota .  Do you have time to answer some PuLP questions?

-  When I run Zoltan2's driver using PuLP and a fixed XML file, should I expect the same partition from PuLP every time?  I am seeing variation in the output from run to run.  Do I need to set the pulp_seed to get deterministic output?

-  When I run PuLP using vertex weights, sometimes (but not all times -- see above), all vertices g

[2017-04-04 23:21] mhoemmen opened #1210 "Epetra: Fortran string ABI binding needs new option for OpenBLAS on POWER"
See #1208 for analogous discussion.  `Epetra_fcd` and `CHAR_MACRO` also exist in Epetra.

[2017-04-04 23:24] mhoemmen commented on #1208
Try this macro next: `__powerpc64__` per this web site:
http://nadeausoftware.com/articles/2012/02/c_c_tip_how_detect_processor_type_using_compiler_predefined_macros#POWER

[2017-04-04 23:28] mmwolf commented on #1209
I had a similar issue with running on a very small problem for some of the work I'm doing for the mobile network folks.  I was running pulp directly on a very small problem and sometimes it would partitioning things evenly; other times, it would assign everything to one part.  I can send the test program if people are interested.

[2017-04-04 23:32] tjfulle commented on #1187
@mhoemmen, I committed the new static CrsMatrix packing code, see 904e453bb9fc99c661dfb4a18d548b9137d5d25b.  I haven't yet created the unit tests for the different packing procedures.  I'll get on that and open a PR.  If you see anything before then, let me know!

[2017-04-05 03:05] mhoemmen commented on #1187
Thanks @tjfulle !  I made some comments on that commit https://github.com/trilinos/Trilinos/commit/904e453bb9fc99c661dfb4a18d548b9137d5d25b .  I only noted a few minor things to change.  Thanks!