[2018-03-30 18:49] ndellingwood commented on #2485
@MicheldeMessieres is this something you would have time to take a look at?

[2018-03-30 20:23] mhoemmen commented on #2485
Tpetra supported some interesting scalar types circa 2009 -- I remember it supposedly had ARPREC support, ill tested though.  I added support in Tpetra for `__real128` via libquadmath a few years ago, which is a bit easier to test since it only takes a few extra build options and always works with GCC.

[2018-03-30 20:35] bartlettroscoe commented on #2475
After the PR #2482 was merged by @mhoemmen last night, this test `Teko_DiagonallyScaledPreconditioner_MPI_1` for the build `Trilinos-atdm-hansen-shiller-gnu-opt-serial` went from failing yesterday to newly passing today as shown at:

* https://testing-vm.sandia.gov/cdash/viewTest.php?onlydelta&buildid=3403422

Therefore, this issue is resolved.

Closing as complete.

P.S. It is very satisfying to

[2018-03-30 20:35] #2475 closed

[2018-03-30 20:45] mhoemmen commented on #2475
@bartlettroscoe thanks to your investigation and persistence :D

[2018-03-30 22:42] bartlettroscoe opened #2487 "Test TeuchosComm_TimeMonitor_UnitTests_MPI_3 randomly failing in ATDM builds of Trilinos"
**CC:** @trilinos/teuchos

## Description

As shown in the query from 2018-02-01 to 2018-03-31:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=TeuchosComm_TimeMonitor_UnitTests_MPI_3&field2=status&compare2

[2018-03-30 23:58] bartlettroscoe commented on #2487
I was able to reproduce the failing test by loging on to 'white', updating my Trilinos 'develop' branch and then doing:

[code]

I then ran the test with verbose output on the other processes and the test actually fails on the other processes.  For example, running:

[code]

produces the output show below

<details>
<summary>
  <b>detailed test output</b> (click to expand)
</summary>

[code]

</de

[2018-03-31 00:28] bartlettroscoe commented on #2487
The PR #2488 fixes this test for all platforms.

So it turns out that this test was mess up on a bunch of builds and platforms, it was just that this Power8 system actually caused the test to hang in some cases due flaky MPI implementation.

This is an example of why we need to be testing on these platforms.

[2018-03-31 00:36] bartlettroscoe commented on #2471
Looks like the merge PR #2476 fixed the failing tests `KokkosKernels_sparse_cuda_MPI_1` and `PanzerMiniEM_MiniEM-BlockPrec_Augmentation_MPI_4`  for the build `Trilinos-atdm-hansen-shiller-cuda-debug` today as shown at:

* https://testing-vm.sandia.gov/cdash/viewTest.php?onlydelta&buildid=3404125
* https://testing-vm.sandia.gov/cdash/viewTest.php?onlydelta&buildid=3404209

But it did not fix the fa

[2018-03-31 00:52] bartlettroscoe commented on #2471
How do we get this Kokkos kernel to stop doing that?

Note that this test also fails in the same way on 'white' as shown at:

* https://testing-vm.sandia.gov/cdash/testDetails.php?test=44807315&build=3402882

which shows:

[code]

Does the Kokkos team run this same unit test on other CUDA platforms and does it pass there?  If so, where can we see the results for that?

[2018-03-31 01:29] bartlettroscoe commented on #2474
No response for @trilinos/piro developers.  Therefore, I will go ahead and disable this test in these builds.

[2018-03-31 02:14] bartlettroscoe commented on #2474
I pushed commit 6682bfc that should disable this test on the platforms were it is failing.

@rppawlo, does Piro fall into your Product area?  Who should I assign this issue to to debug this failing test?  It looks like the only person in the team @trilinos/piro is @agsalin (who is our manager now so likely will not have time to fix this :-) ).

[2018-03-31 02:38] micahahoward opened #2489 "RBGenDriver build problem for CUDA build"
I'm seeing this (short snippet below, there's a whole lot more) with current Trilinos/master when building with CUDA.

/tmp/tmpxft_00006ee7_00000000-2_RBGenDriver_EpetraMV_dlink.reg.c: At global scope:
/sierra/sntools/SDK/compilers/nvidia/cuda_9.0.176/bin/crt/link.stub:92:118: error: redefinition of ?const unsigned char def_module_id_str_54_tmpxft_0000799b_00000000_6_EpetraExt_MMHelpers_cpp1_ii_80

[2018-03-31 13:12] bartlettroscoe commented on #2489
CC: @srajama1, @hkthorn

@micahahoward, it is not clear who is responsible for the RBGen code under Anasazi but Anasazi itself falls under the LinearSolvers product area for which @srajama1 is the Product Lead.

Note that the EMPIRE configuration of Anasazi of Trilinos does **not** enable this RBGen code as shown under:

* https://testing-vm.sandia.gov/cdash/viewNotes.php?buildid=3404201#!#note5

[2018-03-31 13:31] emprice opened #2490 "PyTrilinos: Syntax error during compile"
## Current Behavior

I configured Trilinos as follows:

[code]

I get the following unexpected error during `make`:

[code]

## Motivation and Context

I am compiling Trilinos as part of a larger software package, FEniCS. I can't move forward until the issue is resolved.

## Your Environment

I downloaded Trilinos directly from the Releases page: Trilinos-trilinos-release-12-12-1
Operating system:

[2018-03-31 13:35] bartlettroscoe commented on #2473
These randomly failing tests triggered the following CDash error email for the newly promoted build ??? this morning.

Can I go ahead and disable these randomly failing test in these builds?  The tests will only be disabled for these builds and not others where the test is passing consistently.

----

From: CDash [mailto:trilinos-regression@sandia.gov]
Sent: Saturday, March 31, 2018 2:48 AM
To: Ba

[2018-03-31 13:43] bartlettroscoe opened #2491 "Test Stratimikos_Belos_GCRODR_strattest_MPI_4 failed in newly promoted build Trilinos-atdm-white-ride-gnu-debug-openmp"
**CC:** @trilinos/stratimikos, @trilinos/belos, @srajama1

## Next Action Status

Failed in only this one build and never before.  Next: Wait and see if this fails again before we do something about this ...

## Description

The test `Stratimikos_Belos_GCRODR_strattest_MPI_4` failed for the first time in the newly promoted build `Trilinos-atdm-white-ride-gnu-debug-openmp` on 'white' this morning a

[2018-03-31 13:44] edmondac commented on #2448
@mhoemmen - this will sound like a silly question... What's the correct procedure for a pull request from the CTrilinos repo? Should I have created this repo in there? The files I needed to change were all in that repo...

[2018-03-31 13:45] bartlettroscoe commented on #2491
The test output at:

* https://testing-vm.sandia.gov/cdash/testDetails.php?test=44846738&build=3405136

showed:

[code]

This is the first time this test has failed and it passed in the same build on what should be the identical machine 'ride'.  Therefore, this may be a fluke so we should just wait and see if this fails again before we do something about this.

[2018-03-31 15:59] edmondac commented on #2448
I've created a PR: https://github.com/trilinos/CTrilinos/pull/1

[2018-03-31 17:29] ikalash commented on #2484
@mmwolf: I just checked last night's nightlies for Albany, and everything is back to normal.  Thanks for fixing the issue!

[2018-03-31 17:29] #2484 closed

[2018-04-01 20:22] mhoemmen commented on #2473
@bartlettroscoe Please do; thanks!

[2018-04-01 20:29] mhoemmen commented on #2487
@bartlettroscoe YOU'RE AWESOME thanks for finding this & fixing it! :D

[2018-04-01 20:30] mhoemmen commented on #2471
We could disable the test for K80 architectures....

[2018-04-01 20:41] mhoemmen commented on #2489
@micahahoward More importantly, do you actually need Anasazi?  You might need it for LOCA I suppose.

[2018-04-02 12:44] rppawlo commented on #2383
There is a race condition on the output file in this test directory as well that showed up in last nights debug testing. Will fix that today.

[2018-04-02 12:46] rppawlo commented on #2383
Darn - I take that back - the race is only on the curl problem. The Mixed basis is something else...

[2018-04-02 13:12] rppawlo commented on #2474
PIRO is in active use by Albany, so maybe @ikalash or @mperego could take a look?

[2018-04-02 14:37] ibaned commented on #2432
I think this can be closed since #2435 was merged, please comment if something else is still missing.

[2018-04-02 14:37] #2432 closed

[2018-04-02 14:39] ibaned commented on #2471
@swbova just saw this fail on P100s as well with KOKKOS_DEBUG on.

[2018-04-02 14:43] wfspotz commented on #2490
@emprice Is this a parallel build? I see references to Tpetra and Domi, but the combination of issues doesn't quite make sense.

Also, `/home/eprice/src/Trilinos-trilinos-release-12-12-1/build/packages/PyTrilinos/doc/Doxygen/Tpetra_dox.i` is a generated file. Can you attach it so I can look at it?

[2018-04-02 14:50] wfspotz commented on #2490
@emprice Also, as a temporary workaround, you can set `PyTrilinos_DOCSTRING` to `OFF` when you configure. This only impacts the interactive help facility for PyTrilinos. I would like to figure out the problem, though.

[2018-04-02 15:07] bartgol commented on #2481
@ccober6 sorry for the late reply.

I am using Backward Euler. I was not aware of the distinction between linear and nonlinear, I thought the solution history was going to be updated only when the step was completed successfully (i.e., for nonlinear problems, only upon NOX convergence).

Anyhow, memory storage is not an issue for me. I came across this bug randomly: I was getting huge memory footp

[2018-04-02 16:36] micahahoward commented on #2489
I believe this is related to an issue @nmhamster has been working with Nvidia.

We do use RBGen for our ROM capabilities.  In the short term, I've turned off RBGen when we build on a GPU platform.

Longer term, determining who/how this will be supported is important to me.  @bartlettroscoe, we still need to determine the common set of Trilinos packages between EMPIRE and SPARC.  This will help in

[2018-04-02 16:43] ibaned commented on #2471
Pull request #2494 should fix the failing Kokkos unit test.

[2018-04-02 17:25] hkthorn commented on #2473
@bartlettroscoe @srajama1 @mhoemmen Go ahead and disable the failing tests for this platform, I have seen this issue before.  Thanks!

[2018-04-02 18:00] hkthorn commented on #2489
@micahahoward Is RBGen integrated into your code directly, or do you use the RBGen Epetra driver to perform post-processing analysis of your data?  If you are not using it, the RBGen Epetra driver is a parameter-list-driven convenience that can be disabled.  Let me know if that would help.

[2018-04-02 18:16] brian-kelley opened #2495 "Tpetra: compile error in OpenMP-only build"
@trilinos/tpetra

## Current Behavior

On bowman with Intel 17.0.098 and OpenMPI 1.10.4, a release build of Tpetra with OpenMP as the only Node type fails. Enabling both Serial and OpenMP makes the error go away. This was on a fresh pull from develop (as of Mar. 29).

[code]

## Steps to Reproduce
[code]

## Your Environment

- Trilinos: f5753969053681ce7ec8d79f8aa0d159de59f35e
- bowman KNL testbe

[2018-04-02 18:50] mhoemmen commented on #2495
@brian-kelley Your build script sets `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF`.  That option should always be `ON`, as Teuchos has required C++11 for several months at least.  C++11 comes with `long long`.

Also, there is no more "TpetraKernels" subpackage (though that option should just emit a harmless warning).

[2018-04-02 18:52] mhoemmen commented on #2495
I just tested debug gcc 4.9.3 with the following relevant build options:
[code]
and Tpetra built just fine and passed all its tests.

[2018-04-02 18:58] mhoemmen commented on #2495
@brian-kelley The build error you noticed refers to `GO = long long`; you can't disable Teuchos' `long long` support and use `GO = long long` in Tpetra.  In fact, Tpetra should have emitted the following warning at configure time:
[code]

[2018-04-02 18:58] #2495 closed

[2018-04-02 19:18] ikalash commented on #2474
We use the matrix free decorator in Albany (for mass lumping for explicit time integration) so I would like to understand what is going on here.  I am OOO Mon.-Tues. this week and part of the day Wed.  I could look at this but it probably would not be until Friday or next week.  @mperego, if you have time to look at it before then, please go ahead.

[2018-04-02 19:20] mhoemmen opened #2496 "Tpetra: Require Teuchos_ENABLE_LONG_LONG_INT:BOOL=ON, at least when GO=long long is enabled"
See #2495 for an example of an issue that could be prevented by this.

@trilinos/tpetra

## Expectations

Tpetra should stop with an error at configure time if `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF` but `Tpetra_INST_INT_LONG_LONG:BOOL=ON`.

## Current Behavior

Tpetra currently emits a warning at configure time if `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF`.

## Motivation and Context

We want develo

[2018-04-02 19:34] mhoemmen commented on #2495
@brian-kelley Don't worry!  I've opened #2496 to prevent issues like this in the future.  If you wish to take that issue please go ahead :-) .

[2018-04-02 19:47] mhoemmen commented on #2496
Hm, it looks like Tpetra already does this:

https://github.com/trilinos/Trilinos/blob/8b80ad7a2c82cb93de2b2892f856717ff3df6aef/packages/tpetra/CMakeLists.txt#L661

[code]
Why did this code not catch @brian-kelley 's configure options?

[2018-04-02 20:06] bathmatt opened #2497 "Panzer: Kokkos thread blocked gather/scatter"
Right now the gather and scatters are only threaded for the standard DOF, and not the blocked one, EMPIRE uses the blocked one and this causes a big slowdown for real problems.

@trilinos/panzer

@jmgate @rppawlo is this one of you?

## Expectations

Ideally the gather/scatter code would get cleaned up, there is 20k lines of it and it seems hard to maintain. but at least thread the blocked G/S cod

[2018-04-02 20:14] brian-kelley commented on #2496
@mhoemmen I only had Teuchos_ENABLE_LONG_LONG_INT=OFF, but I did not have Tpetra_INST_INT_LONG_LONG set explicitly. In this case HAVE_TPETRA_INST_INT_LONG_LONG_DEFAULT is set to OFF on line 589, and then that becomes the default option for Tpetra_INST_INT_LONG_LONG on line 644. This is why the error condition on line 661 doesn't happen.

[2018-04-02 20:17] brian-kelley commented on #2496
I guess the only thing to be done is replace WARNING on 587 with FATAL_ERROR (and update the message accordingly).

[2018-04-02 22:36] mhoemmen commented on #2496
@brian-kelley This suggests that maybe Tpetra hasn't been tested with `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF`.  I'm tempted just to make that `WARNING` a `FATAL_ERROR` but then I'll probably get a million angrygrams so perhaps I'll just fix it.

[2018-04-02 22:38] brian-kelley commented on #2496
@mhoemmen I actually fixed the OpenMP build by removing the line "Trilinos_ENABLE_Serial=ON" that I missed before. Disabling LONG_LONG didn't cause any issues, at least not within Tpetra.

[2018-04-02 22:39] mhoemmen commented on #2496
@brian-kelley Something is wrong, though; if `HAVE_TPETRA_INST_INT_LONG_LONG_DEFAULT` is `OFF`, that means that `GO = long long` is disabled.

[2018-04-02 22:39] brian-kelley commented on #2496
Ah, good point.

[2018-04-02 22:47] mhoemmen opened #2498 "Tpetra: Fix build when Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF"
Tpetra really should just require `Teuchos_ENABLE_LONG_LONG_INT:BOOL=ON`.  Teuchos requires C++11 now, and `long long` comes with C++11.  However, a lot of older Trilinos build scripts use that Teuchos option to disable `GlobalOrdinal = long long` in Tpetra.  Rather than deal with all the angry user e-mails resulting from the new requirement, it's less time consuming just to fix the minor build er

[2018-04-02 22:47] mhoemmen commented on #2496
I'm closing this issue and replacing it with #2498; thanks @brian-kelley ! :D

[2018-04-02 22:47] #2496 closed

[2018-04-02 22:54] mhoemmen commented on #2498
PR #2499 has the fix for this issue.  It was a one-line fix and likely a good idea anyway. @brian-kelley , could you please review?  Thanks!

[2018-04-02 23:15] rppawlo commented on #2497
funny - was just going through the non-blocked version on the plane today. I can hit this up soon.

[2018-04-03 14:47] bartlettroscoe commented on #2473
From @hkthorn:

Okay, I will disable these failing tests.  However, also note that we saw two new failing Anasazi tests for this build today shown in the below email.

The first test `Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4` was a segfault.  The last two look to be diffs.

Should we disable these tests as well?  If not, does someone on the Linear Solvers area have time to triage these some mo

[2018-04-03 14:50] william76 opened #2500 "ROL: Tests failing nightly testing"
@trilinos/rol

We had some tests fail last night in the CLEAN track:
* [ROL_example_PDE-OPT_0ld_stefan-boltzmann_example_01_MPI_4][1]
* [ROL_example_PDE-OPT_0ld_stefan-boltzmann_example_02_MPI_4][2]

These tests show a consistent history of passing but there was a commit made to ROL yesterday (53b5cafc8a71ac2f2e1b0e473d60377260881b45) that may have contributed to these new test failures...

[1]: h

[2018-04-03 15:06] bartlettroscoe commented on #2474
Should we add @ikalash and @mperego to the @trilinos/piro group?

[2018-04-03 15:14] bartlettroscoe commented on #2474
These Piro tests were now shown at failing in automated testing yesterday at shown at:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-04-02&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=status&compare2=62&value2=Passed&field3=buildname&compare3=62&value3=Trilinos-atdm-white-ride-cuda-opt&f

[2018-04-03 15:17] bartlettroscoe commented on #2474
I have marked this with "Disabled Tests" label so that we can filter this out of our queries.

[2018-04-03 15:34] bartlettroscoe commented on #2466
CC: @trilinos/framework

I added the labels "Disabled Tests" and "Stalled" and applied them to, for example, #2474.  See the updated documentation on this at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-Addressingfailures

[2018-04-03 15:37] bartlettroscoe commented on #2455
As part the updated process listed at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-Addressingfailures

I assigned the labels "Disabled Tests" and "Stalled" so I am reopening this issue.  That way, people can be reminded that this is still a problem (we just avoided it by disabling tests for the ATDM builds).

[2018-04-03 15:39] bartlettroscoe commented on #2446
As part the updated process listed at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-Addressingfailures

I assigned the labels "Disabled Tests" and "Stalled" so I am reopening this issue. That way, people can be reminded that this is still a problem (we just avoided it by disabling tests for the ATDM builds).

[2018-04-03 15:40] bartlettroscoe commented on #2410
As part the updated process listed at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-Addressingfailures

I assigned the labels "Disabled Tests" and "Stalled" so I am reopening this issue. That way, people can be reminded that this is still a problem (we just avoided it by disabling tests for the ATDM builds).

[2018-04-03 15:53] VictorEijkhout commented on #2220
On Mar 21, 2018, at 5:16 PM, Si Hammond <notifications@github.com<mailto:notifications@github.com>> wrote:

-D CMAKE_Fortran_FLAGS:STRING="-fPIC”

That doesn’t seem to help.

[ 51%] Linking CXX shared library libamesos.so
cd /tmp/trilinos-build/packages/amesos/src && /opt/apps/cmake/3.10.2/bin/cmake -E cmake_link_script CMakeFiles/amesos.dir/link.txt --verbose=1
/home1/apps/intel/compilers_and_lib

[2018-04-03 16:16] dridzal commented on #2500
We are puzzled by this ... the first test simply hangs in globalAssemble's AllReduce.  In TotalView, we get

[code]

and the code just sits there.  No segfaults.  How does one debug this?

[2018-04-03 16:31] bartlettroscoe commented on #2500
This impacted an "ATDM" build as well as shown at:

* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3411117

so I added the "ATDM" label.

Note that this test was passing in under a minute every day before this as shown in the query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-04-03&filtercombine=and&filtercombine=and&filtercount=3&showfil

[2018-04-03 16:49] bartlettroscoe commented on #2489
@micahahoward said:

I don't know the answer to that.  It think is something that the Trilinos lead @maherou, the Linear Solvers Product Lead for Anasazi @srajama1 and ATDM management will need to address.  You need to be very careful enabling anything that is disabled in a particular package by default because except for some rare exceptions (like `MueLu_ENABLE_Experimental` in ATDM builds of Tri

[2018-04-03 17:17] bartlettroscoe commented on #2473
If you look at the query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-04-03&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=9&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=status&compare2=62&value2=Passed&field3=buildname&compare3=62&value3=Trilinos-atdm-white-ride

[2018-04-03 17:19] micahahoward commented on #2489
Understood on non-default packages.  However this makes me want to put more emphasis on getting the packages we use tested in the ATDM builds of Trilinos.  Why is the timing an issue?  We should do this as soon as possible.

[2018-04-03 17:44] bartlettroscoe commented on #2489
@micahahoward said:

The issue is that if we add more things to this ATDM build of Trilinos, we may break its usage by EMPIRE since we are not running automated builds of EMPIRE against the ATDM build of Trilinos yet.

We could set up automated builds of EMPIRE against Trilinos right now, but given their new workflow, and other factors, it would be hard to know if the failures in EMPIRE builds and

[2018-04-03 18:17] bartlettroscoe commented on #2473
FYI: I created PR #2501 to disable these three randomly failing tests.  I requested a review from @mhoemmen and/or @hkthorn.

[2018-04-03 18:26] bartlettroscoe commented on #2473
Just realized that the @trilinos/framework team ran into these same randomly failing tests in #1393 and they resolved the issue by disabling those tests as well.  So it looks like this is the right decision to disable these tests in the ATDM builds.

But it also suggests that perhaps the problems with these tests should be studied more carefully or these tests just need to be disabled all together

[2018-04-03 18:41] bartlettroscoe commented on #2471
The test `KokkosCore_UnitTest_Cuda_MPI_1` is now shown newly passing in the builds:

* `Trilinos-atdm-white-ride-cuda-debug`: https://testing-vm.sandia.gov/cdash/viewTest.php?onlydelta&buildid=3410207
* Trilinos-atdm-hansen-shiller-cuda-debug`: https://testing-vm.sandia.gov/cdash/viewTest.php?onlydelta&buildid=3411134

Therefore, I believe that this issue is resolved.

I am not going to mark this

[2018-04-03 18:41] #2471 closed

[2018-04-03 18:46] bartlettroscoe commented on #2471
Just to wrap things up, note that the test `PanzerMiniEM_MiniEM-BlockPrec_Augmentation_MPI_4` went from failing on 3/29/2018 to passing on 3/30/2019 for the build `Trilinos-atdm-white-ride-cuda-debug` as shown in the query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-04-03&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=

[2018-04-03 18:49] ikalash commented on #2474
@bartlettroscoe : reel free to add me to the @trilinos/piro group.

[2018-04-03 18:50] bartlettroscoe commented on #2464
Note that with #2471 now resolved, the only impediment to using the ATDM Trilinos CUDA-debug build on 'white' as an auto PR build is to get the `bsub` command to stop terminating early on 'white'.  I am meeting with Nathan G. on the Test Bed team today to discuss this problem.

[2018-04-03 18:53] bartlettroscoe commented on #2474
@ikalash said:

@trilinos/framework, can someone please add @ikalash to the @trilinos/piro team?  I don't have the permissions to do so.

[2018-04-03 18:57] srajama1 commented on #2489
@micahahoward @bartlettroscoe : @hkthorn can help support Anasazi this year.

[2018-04-03 20:09] dridzal commented on #2500
Since we can't debug this quickly, we will disable the two tests.  This seems to be coming from Tpetra, see the reference to globalAssemble in https://github.com/trilinos/Trilinos/issues/2500#issuecomment-378307676, but it is also possible that ROL has a memory leak and that the above issue is just a symptom.  After all, it was a ROL commit that caused the hang-up.  We plan to debug the problem in

[2018-04-03 21:07] bartlettroscoe commented on #2473
The PR #2501 was merged just now merging the commit 2e9da0c. Therefore, we should see these three tests disabled for these builds  white/ride tomorrow.

Putting this issue in review

[2018-04-03 21:40] dridzal commented on #2500
Our changes have been merged.  @william76 please let us know if the clean track has been fixed.  If so, feel free to close the issue.  @bartlettroscoe please let us know if these failures are now gone from the ATDM build.  Thanks.

[2018-04-03 21:49] jmgate opened #2502 "Consistent Documentation"
@trilinos/framework

## Expectations
It'd be great if there was a single, comprehensive set of instructions for interacting with Trilinos.

## Current Behavior
At the moment, we have [README.md](https://github.com/trilinos/Trilinos/blob/master/README.md), which people will see rendered when they first navigate to [Trilinos on GitHub](https://github.com/trilinos/Trilinos).  This file then links to

[2018-04-04 02:09] micahahoward commented on #2489
I believe we are using the RBGen Epetra driver.  @jfike would know.
Can someone fix this issue with RBGen?

[2018-04-04 13:57] jfike commented on #2489
The following code is from Albany, but we are doing something similar in SPARC.
[code]

[2018-04-04 14:36] william76 commented on #2500
@dridzal The nightly tests passed, thanks!

Do you guys want us to keep this issue open until those tests are fixed and reintroduced or should we close it?

[2018-04-04 14:58] dridzal commented on #2500
Let’s keep it open, as a reminder.

[2018-04-04 15:43] ikalash commented on #2489
@jfike's guess that RBGen is off in the Albany CUDA build is correct.  MOR in Albany does not work on GPUs, so it is not built for GPUs and RBGen is not turned on in the Albany GPU build of Trilinos.

[2018-04-04 15:53] mhoemmen commented on #2498
Fixed in develop by PR #2499.

[2018-04-04 15:53] #2498 closed

[2018-04-04 15:54] mhoemmen commented on #2495
PR #2499, just merged into develop, fixes #2498.

[2018-04-04 15:54] mhoemmen commented on #2496
PR #2499, just merged into develop, fixes #2498.

[2018-04-04 16:30] hkthorn commented on #2473
@bartlettroscoe @mhoemmen @srajama1 I have found the underlying issue in these tests.  They use a Teuchos::SerialDenseMatrix, which is a serial object without MPI communication or implied synchronization of values.  These matrices are randomized on each processor an then used to perform tests of the orthogonalization routines and modal solvers.  Again, there is no explicit synchronization of Teuch

[2018-04-04 17:52] mhoemmen commented on #2473
@hkthorn Wow!  Thanks for finding this; sounds tricky!

[2018-04-04 18:16] bartlettroscoe commented on #2473
@hkthorn, so this is a defect in the tests not the library code that users depend on?

Let me know when you have merged the fix into the Trilinos 'develop' branch and then I will re-enable these tests and we will let them run in the ATDM builds of Trilinos.

[2018-04-04 18:40] hkthorn commented on #2473
@bartlettroscoe @mhoemmen  Absolutely, this is a defect in the design of the test.  I will let you know when the fix is in Trilinos 'develop' branch so we can re-enable the tests for ATDM builds.

[2018-04-04 19:57] bartlettroscoe opened #2506 "FEI_fei_ubase_MPI_X failing due to jumbled output breaking pass/fail grep"
**CC:** @trilinos/fei, @trilinos/framework

The test `FEI_fei_ubase_MPI_4` failed in the standard CI build just now s shown at:

* https://testing.sandia.gov/cdash/testDetails.php?test=46227718&build=3482611

which showed:

[code]

The problem is that the startup banner from the non-root processes got in the way of `End Result: TEST PASSED`.

[2018-04-04 19:58] bartlettroscoe commented on #2506
This can be fixed by passing in `--suppress-startup-banner`.  I will create a PR that adds this option.

[2018-04-05 17:35] searhein commented on #2375
I have started to work on tests for FROSch in ShyLU_DD; see the pull request #2507.

[2018-04-05 17:37] searhein commented on #2401
Do we already have a template? If so, I would start working on the the FROSch part of the user guide.

[2018-04-05 23:10] bartlettroscoe opened #2511 "Address test timeouts on 'ride' for build Trilinos-atdm-white-ride-gnu-debug-openmp"
**CC:** @trilinos/intrepid2, @trilinos/kokkos, @trilinos/kokkos-kernels, @trilinos/panzer, @fryeguy52,

## Next Action Status

Pushed commit d0bfab7 and updated the Jenkins job `Trilinos-atdm-white-ride-gnu-debug-openmp` on 'ride' to send results to the "Specialized" CDash Group/Track.  Next: Watch to make sure that this build is going to "Specialized" starting 4/6/2018 ...

## Description

A few

[2018-04-05 23:12] bartlettroscoe commented on #2511
I am going to go ahead and demote this one build on 'ride' back to the "Specialized" CDash Track/Group so that is stops spamming people with emails.

I have been hearing from other people that they are having problems running on 'ride' with random node failures, etc.  I am wondering if it is really a good idea to be running automated builds of Trilinos on 'ride' or 'white' given the problems that

[2018-04-05 23:31] bartlettroscoe commented on #2511
I pushed the commit d0bfab7 and update the Jenkins job on 'ride':

* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-white-ride-gnu-debug-openmp/

to send results to the "Specialized" CDash Group/Track starting 4/6/2018.

[2018-04-05 23:45] bartlettroscoe commented on #2311
@trilinos/muelu developers,

Several of the `MueLu_ParameterListInterpreterXXX` tests continue to fail what looks like randomly in the build `Trilinos-atdm-sems-gcc-7-2-0` over the last several week as shown in the query:

* https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=7&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=status

[2018-04-06 00:13] bartlettroscoe opened #2513 "No CI build from ceerws1113 on 4/5/2018"
## Next Action Status

Watch for CI build starting up okay on 4/6/2018 ...

## Description:

The CI server on ceerws1113 never ran today and therefore never submitted to the CDash sites.  I went on to the machine ceerws1113 and saw:

[code]

That shows that the cron job never even fired off or the time stamps for the files `trilinos_ci_server.out` would be for today.

## Related Issues:

* Related

[2018-04-06 00:14] bartlettroscoe commented on #2513
My guess is that this was an outage of the CEE LAN.  Therefore, I expect this CI server to run just fine tomorrow.  But I will go ahead and start it so we see if there are any failures.  (Murphy's law for software testing says that there will be failures.)

[2018-04-06 00:48] bartlettroscoe commented on #2513
The restarted build is running and submitting as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3484290

(NOTE: the new testing-vm CDash site is down due to a downgrade of PHP.)

[2018-04-06 00:51] bartlettroscoe commented on #1453
This was don way long ago.

[2018-04-06 00:51] #1453 closed

[2018-04-06 00:57] bartlettroscoe commented on #2464
Status update ...

The `Trilinos-atdm-white-ride-cuda-debug-all-at-once` build is 100% clean and was promoted to the "ATDM" CDash Group/Track on 4/3/2018 and completed all 25 packages today.

I set up an all-at-once version of this build in:

* https://jenkins-son.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-white-ride-cuda-debug-all-at-once/

and I fired it off to submit to CDash.

We will s

[2018-04-06 01:11] bartlettroscoe commented on #2487
The test `TeuchosComm_TimeMonitor_UnitTests_MPI_3 ` ran and passed in all 18 ATDM builds where it ran today as shown at:

* https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=61&value2=TeuchosComm_TimeMonitor_UnitTests_MPI_3

We have not seen it fail since a481846

[2018-04-06 01:11] #2487 closed

[2018-04-06 13:48] bartlettroscoe commented on #2513
The CI build started up just fine this morning as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3485747&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

Whatever caused this problem did not occur today

Closing as complete.

[2018-04-06 13:48] #2513 closed

[2018-04-06 15:12] #2417 closed

[2018-04-06 15:12] #2356 closed

[2018-04-06 15:13] jmgate commented on #2336
Looks like this has been resolved.

[2018-04-06 15:13] #2336 closed

[2018-04-06 15:14] jmgate commented on #1333
@nschloe, can you confirm that this issue has been resolved?

[2018-04-06 21:28] #2453 closed

[2018-04-06 21:35] bartlettroscoe commented on #2311
Looks like this test randomly failed in another ATDM build shown at:

* https://testing.sandia.gov/cdash/testDetails.php?test=46282018&build=3485357

which triggered a CDash email shown below.

@trilinos/muelu developers,

Please let me know how you want to address these seemingly randomly failing tests.  I would just disable them in all of the ATDM builds but that might be avoiding testing some i

[2018-04-06 21:43] william76 opened #2516 "Tpetra: Fix Type-2 FEM Assembly Example"
@trilinos/tpetra

Modify the Local Element Loop example in-line with @mhoemmen comments from our meeting on 3/29(

My notes:
- fillComplete on overlapping matrix needs to provide domain and range map.
  - fillComplete has overlapped row map but domain/range map are one-to-one.
  - Owned graph does not require them, though row-map is used as a domain map by default (but might be good to include the

[2018-04-07 01:31] mhoemmen commented on #2513
@bartlettroscoe There was a CEE LAN outage yesterday, so yes :)  It's back now.

[2018-04-07 01:41] mhoemmen commented on #2311
@jhux2 (sometimes github is weird & doesn't get through e-mail filters)

[2018-04-09 16:59] bartlettroscoe commented on #2473
It looks like the test `Anasazi_Epetra_LOBPCG_solvertest_MPI_4` may also also have some random failures.  We saw the following failure for this test in the build `Trilinos-atdm-white-ride-gnu-debug-openmp` on 'white' on 4/18/2018:

* https://testing.sandia.gov/cdash/testDetails.php?test=46354623&build=3488812

which showed:

[code]

Looking at the query:

* https://testing.sandia.gov/cdash/queryTe

[2018-04-09 17:26] jhux2 commented on #2311
@bartlettroscoe I would love to fix these.  However, it's unclear how we can do this ... since the failures are random.  I am open to suggestions.

I do not want these tests to be disabled.

[2018-04-09 17:34] hkthorn commented on #2473
I'll give the test a look to see if there are any bad patterns there.  I have merged the PR that fixes the testing for the OrthoManager and ModalSolvers:

https://github.com/trilinos/Trilinos/pull/2517

Thanks!

[2018-04-09 17:54] ctanis opened #2518 "Question: Tpetra: Appropriate data structure for block data"
I am getting terrible performance with Experimental::BlockCrsMatrix  and MultiVec (BlockCrsVector doesn't compile).   What is currently the best way to deal with multiple degrees of freedom per mesh point?

@trilinos/tpetra

## Expectations

Experimental::BlockCrsMatrix.apply should be faster in parallel, or I should be doing this in a different way.

## Current Behavior

Using MPI (np = 2), Block

[2018-04-09 19:01] mhoemmen commented on #2518
@ctanis What version of Trilinos are you using?  Also, are you using OpenMP?

[2018-04-09 19:02] mhoemmen commented on #2518
@trilinos/tpetra

[2018-04-09 19:02] mhoemmen commented on #2518
The Trilinos repository restricts assignment of labels and assignees to members.

[2018-04-09 19:27] mhoemmen opened #2520 "Ifpack2: Some tests not instantiated if GO=int is OFF"
Some Ifpack2 tests aren't instantiated or run, if `GlobalOrdinal = int` is disabled upstream.  See discussion here: https://github.com/trilinos/Trilinos/pull/2515#issuecomment-379865709

@trilinos/ifpack2

[2018-04-09 19:53] kyungjoo-kim commented on #2518
@ctanis We have an example code to measure performance of block crs matrix vector multiplication.
After you compile Trilinos, you can find out an executable ``packages/tpetra/core/example/BlockCrs/TpetraCore_BlockCrsPerfTest.exe``.
Testing the code with
- 7 point 3D stencil on a 32x32x32 block mesh
- my workstation xeon 2x8 intel sandy bridge
- OMP_NUM_THREADS=1 (mpi only).
I have the following re

[2018-04-09 19:58] bartlettroscoe commented on #2311
@jhux2,

Do these tests involve file I/O where different tests could reading and writing the same files?  If so, that can cause races that result in random failures like this.

[2018-04-09 20:04] ctanis commented on #2518
@mhoemmen I'm using a master head from the weekend.. (commit c6810b7889a4e7e8988c0dac587ccc6307acf7f9).

It's been configured with this script:
[do-configure.txt](https://github.com/trilinos/Trilinos/files/1891585/do-configure.txt)

I am using openmp and cuda at various times (as well as MPI, obviously).  Attempting to use 1 MPI rank per compute node, and then OpenMP and Cuda intra-node.

[2018-04-09 20:15] cgcgcg opened #2521 "Ifpack2: Thyra adapter sets overlap parameter for relaxtion preconditioners"
@trilinos/ifpack2

## Current Behavior
The Ifpack2 Thyra adapter sets the parameter "schwarz: overlap level" independent of the requested preconditioner. For "relaxation" this fails, since "schwarz: overlap level" is not a valid parameter.

## Possible Solution
Changing https://github.com/trilinos/Trilinos/blob/ef00b09e946db5a4d1bf8e88fdbbac8c1d539959/packages/ifpack2/adapters/thyra/Thyra_Ifpack2P

[2018-04-09 20:16] cgcgcg commented on #2521
@mhoemmen I'm happy to put this fix in, but would like to hear your opinion first..

[2018-04-09 21:13] ctanis commented on #2518
@kyungjoo-kim I cannot find this perf test executable or source in my clone of the git repository (Trilinos) or in the build directory.  Do I need to do something special to build this?

[2018-04-09 21:30] kyungjoo-kim commented on #2518
@ctanis You can find out the code here,
[code]
please set ``EXAMPLES=ON`` in your do-configure.txt.

This performance test is develpped to identify performance issues and set a baseline performance when we develop a new block crs data structure and an improved apply method. It simply compares block crs and point crs apply methods.

[2018-04-09 22:32] bartlettroscoe commented on #2311
@jhux2, okay thanks for the clarification on that.

I just saw the commits 38c73d2 and bb78b26 that might address.   If it does not, we will know of the following days.

The issue is that we can't have any randomly failing tests because that will defeat any automated processes that require 100% passing tests (like update of Trilinos for SPARC and/or EMPIRE).

[2018-04-09 23:07] cgcgcg commented on #2311
Just pushed a small change that check the return value of the `sed` call, maybe this can help to check what's actually happening..

[2018-04-09 23:27] mhoemmen commented on #2518
To clarify: `Tpetra_ENABLE_EXAMPLES=ON`

[2018-04-09 23:28] mhoemmen commented on #2518
@ctanis You set `Trilinos_ENABLE_DEBUG:BOOL=ON` in the script.  This enables a bunch of debug checking that will slow down the code quite a bit.

[2018-04-09 23:29] mhoemmen commented on #2518
@ctanis You normally don't need to set that option at all; just setting `CMAKE_BUILD_TYPE` will automatically set an appropriate default for `Trilinos_ENABLE_DEBUG`.

[2018-04-09 23:32] mhoemmen commented on #2521
@cgcgcg Why not just have it check whether `preconditionerType` is one of the various aliases for AdditiveSchwarz?  (See Ifpack2's factory for the meaning of "various aliases.")

[2018-04-09 23:34] cgcgcg commented on #2521
@mhoemmen Is that the only one that takes the overlap argument? Then I will do that. Thanks :-)

[2018-04-10 01:13] ctanis commented on #2518
@mhoemmen I have a non-debug build that shows similar timing.  I'm going to test the Perf script mentioned above tomorrow when I return to work.   did you happen to see the compilation error I got with the BlockVector?  Any ideas about that?  Presumably I can't use a regular MultiVector when NQ>1 (I got multiple issues here.. thanks for your help!)

[2018-04-10 04:44] mhoemmen commented on #2521
@cgcgcg wrote:

Please check Ifpack2 to be sure, but I think so.

[2018-04-10 04:47] mhoemmen commented on #2518
@ctanis wrote:

Yes.  The obscureness of the errors suggests to me that you might be trying to use NVCC directly as the compiler, rather than `nvcc_wrapper`.  Please refer to the Tpetra FAQ:

https://github.com/trilinos/Trilinos/blob/master/packages/tpetra/doc/FAQ.txt

[2018-04-10 09:18] SG38 opened #2522 "Xpetra::CrsMatrix::doImport() fails with Negative count into MPI_Send"
The MPI_Send() has a Negative count when importing big data set of a matrix ; same issue with MultiVector and CrsMatrix. When distributing the matrix with an import of the SerialMatrix rows:

_RCP<Xpetra::Import<SOL_LO, SOL_GO, SOL_EPETRA_TYPE> > importer = Xpetra::ImportFactory<SOL_LO, SOL_GO, SOL_EPETRA_TYPE>::Build(SerialMap, DistributedMap);_
_DistributedMatrix->doImport(*SerialMatrix, *import

[2018-04-10 10:57] ctanis commented on #2518
@mhoemmen

I'm definitely using nvcc_wrapper, as without any reference to BlockMultiVector everything compiles and runs on the GPU as appropriate.  The only issue was the parallel performance of the BlockCrsMatrix.apply()

[2018-04-10 12:49] aprokop commented on #2522
@trilinos/teuchos @trilinos/xpetra

This is clearly an integer overflow. And particularly weird to me is the presence of `MPI_CHAR`. I thought we got rid of that?

[2018-04-10 13:53] lucbv opened #2523 "MueLu: creating interface to Ifpack2 line partitioner"
@trilinos/muelu
@mhoemmen

## Expectations
The goal is to create an interface in MueLu that passes coordinates to Ifpack2 so that the: `partitioner: type` option can be set to `line` in Ifpack2, thus enabling the use of line detection in the smoothers.

## Current Behavior
Currently no such interface exists and MueLu cannot use the line detection from Ifpack2.

## Motivation and Context
New line d

[2018-04-10 14:12] ibaned commented on #2522
Note that MPI itself defines counts as being of type `int`, so if you want to send more than `INT_MAX` of something you need to break it up into smaller messages. Maybe somewhere between Xpetra, Tpetra, and Teuchos there should be additional logic for this.

[2018-04-10 15:38] mhoemmen commented on #2522
I assert that this is a limitation of MPI implementations itself, because MPI functions take counts as `int`.  Jeff Hammond wrote an MPI implementation that supports 64-bit counts:

https://github.com/jeffhammond/BigMPI

If we want to support 64-bit counts, then that would be the library to use.  I would prefer not to clutter up Trilinos with this logic.

`Epetra_DistObject` turns a lot of packet

[2018-04-10 15:40] mhoemmen commented on #2522
@ibaned @aprokop @trilinos/xpetra

I am tempted to mark this as "wontfix," unless someone really has a plan and funding to plug in a solution like Jeff's.  It's not quite plug and play, since the interfaces may differ.

[2018-04-10 15:41] bathmatt opened #2524 "TEUCHOS_UNREACHABLE_RETURN(Teuchos::null) still throws a warning in cuda."
Even with this call at the end of a function I get warnings in cuda.  Not sure on the magic that is needed but ...

[code]

but this is the end of that function

[code]

[2018-04-10 15:46] mhoemmen commented on #2518
@ctanis What version of CUDA are you using?  Also, you may need to supply a `KOKKOS_ARCH` CMake option appropriate to your GPU.  Otherwise Kokkos may not perform well.  See Kokkos documentation for details.

[2018-04-10 15:59] jhux2 commented on #2340
Sorry for the delay.  I pushed another fix last night that cleared the dashboard failures exhibiting the same errors as in this [comment](https://github.com/trilinos/Trilinos/issues/2340#issue-302417294).  I'll close this issue, but if problems persist, please reopen.

[2018-04-10 15:59] #2340 closed

[2018-04-10 16:13] #2521 closed

[2018-04-10 16:34] aprokop commented on #2522
@mhoemmen Should not there simply be a check for the situation when the number of counts exceeds MAX_INT somewhere in Tpetra/Teuchos?

[2018-04-10 17:02] mhoemmen commented on #2522
@aprokop That could be helpful, but I think of that as a separate issue.

I was kinda hoping not to be Sole Keeper of the Mystical Teuchos Wrappers For All Time ;-)

[2018-04-10 17:02] nmhamster commented on #2522
@mhoemmen -

Is it not possible to use the smaller of the widths for the integer and floating-point values as the base rather than `MPI_CHAR`? This would increase the number of items we could send.

[2018-04-10 17:05] mhoemmen commented on #2521
@cgcgcg Ifpack2's factory upper-cases the entire input preconditioner name before comparisons, so your check should do the same.  See e.g., lines 66-73 of `Ifpack2_Details_Factory_def.hpp`:

https://github.com/trilinos/Trilinos/blob/a27130bc4f5d7dba02be3cb976d1edc8653f941b/packages/ifpack2/src/Ifpack2_Details_Factory_def.hpp#L66

[2018-04-10 17:12] mhoemmen commented on #2522
@nmhamster That's possible, but touching Epetra's communication layer historically has a high risk of breaking something.  Such a design would also need care to avoid violating C++ aliasing rules.

The general problem right now with the communication layer is staffing.

[2018-04-10 17:16] jmgate opened #2527 "Panzer: Use CONTRIBUTES-Style Integrator_CurlBasisDotVector"
@trilinos/panzer

## Expectations
Once #2526 gets merged, we should update all uses of `panzer::Integrator_CurlBasisDotVector` to the new `CONTRIBUTES` style.

## Current Behavior
Currently all uses of `Integrator_CurlBasisDotVector` are `EVALUATES`-style `Evaluator`s.  These store a `MDField` with the result of the integration to be used later in some other `Evaluator`.

## Motivation and Context

[2018-04-10 17:27] bathmatt commented on #2306
Thanks!!

[code]

[2018-04-10 17:27] #2306 closed

[2018-04-10 17:31] bathmatt opened #2529 "Add the ability to have longs in yaml decks"
Moving email thread to github

Currently if I have a param in a yaml deck

foo: 1234567890
it errors out.  Here is a discussion from Paul Lin and @ibaned and @rppawlo

My preferred solution is to see if it is > INT_MAX and then read it as a long and then let me grab it that way and use a filter for the long/int stuff.

Thoughts

[code]

[2018-04-10 17:36] prwolfe commented on #2279
Anyone looking into the FEI failures?  We still see two of these.

[2018-04-10 17:43] jmgate commented on #2279
I'm not sure FEI is under active development.

[2018-04-10 17:47] rppawlo commented on #2529
Maybe jump to "long long" instead of "long" for type if greater than INT_MAX?

@pwxy

[2018-04-10 17:48] prwolfe commented on #2279
I looked at the logs and I think you are right.  In fact the last few changes to the affected file are all done on the Sierra end.  I will go talk to them and see if we can't put together a PR.

Thanks!

[2018-04-10 17:51] ibaned commented on #2529
@rppawlo agreed about `long long`

[2018-04-10 18:09] jmgate commented on #2279
Yeah, looks like the last time it was really touched was back in 2014.  @trilinos/framework, is there any process in place for deprecating/removing packages that are no longer under development?

[2018-04-10 18:10] rppawlo commented on #2279
I believe @alanw0  is the owner

[2018-04-10 18:21] prwolfe opened #2530 "NOX test fails to compile with Warning-as-errors"
See https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3493529 for details

@trilinos/nox

## Expectations

I curently have a fix for this and will submit a PR today.

## Current Behavior

Build fails when warnings-as-errors is used. The code is also less clear than it should be about what the if statement in question really tests.

## Motivation and Context

We want clean builds for down

[2018-04-10 18:26] mhoemmen opened #2531 "MueLu: ParameterListInterpreterTpetra_MPI_1 test fails with OpenMP, even with OMP_NUM_THREADS=1"
`MueLu_ParameterListInterpreterTpetra_MPI_1` test fails for me with GCC 4.9.3 and OpenMP the only enabled Tpetra execution space, even with `OMP_NUM_THREADS=1` (I also tested 4).

@trilinos/muelu

## Motivation and Context

@micahahoward and the rest of his team are trying to figure out whether SPARC and/or Trilinos is broken.  It's hard to bisect when tests fail.

[2018-04-10 18:39] jhux2 commented on #2531
@mhoemmen Can you tell which unit test is failing?  You may have to rerun with -V.

[2018-04-10 18:42] cgcgcg commented on #2531
The only change I made was to check that the return value of `sed` is 0. I'll see if I can reproduce this.

[2018-04-10 19:06] bartlettroscoe commented on #2529
On some platforms, `long int` is no larger than `int` is you have to go to `long long int` if you want to guarantee a 64 bit `int`.

Is there any impediment to switching from `int` to `long long int` other than having to update a bunch code that does `getParameter<int>(....)`?  And not that we can put in automatic conversions from `long long int` to `int` if we want.  There are special PL validato

[2018-04-10 19:18] mhoemmen commented on #2531
@jhux2 Here are the results with `-V`:
[code]

[2018-04-10 19:19] mhoemmen commented on #2531
FYI I have complex enabled.  @lucbv , could this be related to your recent pull request, where you have a vector of coordinates and use `scalar_type` instead of the corresponding real type for each coordinate?

[2018-04-10 19:34] mhoemmen commented on #2529
I like the automatic conversions idea.  We could generalize so it works for any output integer type.

[2018-04-10 19:39] #1890 closed

[2018-04-10 19:52] ctanis commented on #2518
@mhoemmen This is CUDA 8 on a P100.  I had not set KOKKOS_ARCH, so I'm rebuilding Trilinos now.  I'll keep you posted.  In the meantime, @kyungjoo-kim :  my 2 processor version of your performance test is taking about 250 times longer than the 1 processor.  see attached.  I'll try again when the new version finishes building.
[blockmult-2.txt](https://github.com/trilinos/Trilinos/files/1896199/blo

[2018-04-10 20:40] kyungjoo-kim commented on #2518
@ctanis Thank you for running the test.

It says that something clearly goes wrong in the cuda version block crs apply method. My test is limited on the openmp space. We need to dig further about this performance issue and it would take some time. Does this block your work ? or how long can you wait for the improvement ?

[2018-04-10 20:48] ibaned commented on #2529
@bartlettroscoe I'm fine interpreting all integral values as `long long` if we're okay dealing with the downstream breakage. I suspect there will be a lot of such breakage though in apps like Albany and also those @bathmatt is involved with. Both that and value-dependent typing are pretty straightforward for me to implement, so all I need is consensus on a direction.

[2018-04-10 21:12] mhoemmen commented on #2529
@ibaned Would it break if YAML added a custom ParameterList thingie that interpreted all `long long` as any desired integer type?

[2018-04-10 21:26] ibaned commented on #2529
@mhoemmen thats not really something I can do within the YAML parser itself, that has to be supported in `Teuchos::ParameterList` itself and/or through validators. For me personally it sounds fine to have safety-checked conversions between integer types in the `get` functions.

[2018-04-10 21:38] bathmatt commented on #2529
Stupid idea but -D Teuchos_ParameterListIntegerType="long long"
at configure?  I hate crap like this but it gives time to fix the other codes.

[2018-04-10 21:45] bartlettroscoe commented on #2529
One simple thing to do do is to add `long long int` as one of the input and preferred output types to the subclass [Teuchos::AnyNumberParameterEntryValidator](https://trilinos.org/docs/dev/packages/teuchos/doc/html/classTeuchos_1_1AnyNumberParameterEntryValidator.html).

Another idea is to add some smart specialization logic to the Teuchos const parameter get function that automatically allow the

[2018-04-10 21:48] ibaned commented on #2529
I like @bartlettroscoe 's two proposed ideas, as pre-requisites to changing all integral values to be of type `long long`.

[2018-04-11 00:22] jhux2 opened #2536 "MueLu: unit test for indices larger than 2.1b is failing"
The test is MueLu_TwoBillionTest.exe.  Failure can be found [here](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3493527).

@trilinos/muelu @trilinos/zoltan2

[2018-04-11 00:26] jhux2 commented on #2536
<details>
<summary>Test Output</summary>

[code]
</details>

[2018-04-11 04:22] #2530 closed, assigned to prwolfe

[2018-04-11 09:24] SG38 commented on #2522
Hi,
I see that's causing a heated discussion. I agree with @aprokop  to check that it does not exceed MAX_INT should be a robust solution. Probably increasing MPI_CHAR to MPI_UNSIGNED_LONG...
However, it is not implemented in Teuchos yet. Then, my question is : "how do you solve big systems (> 100M equations) at the moment?
Maybe it is not a fix to do; maybe I do not the right thing?
Precisely bec

[2018-04-11 11:16] jwillenbring commented on #2279
@jmgate FEI isn’t under active development, but I am almost certain it is used by at least one important customer, so it couldn’t be retired.

[2018-04-11 12:27] ibaned commented on #2522
@SG38 maybe try to form the sparse matrix in parallel from the start? The problem is having the entire sparse matrix on a single MPI rank.

[2018-04-11 13:31] bartlettroscoe commented on #2311
Looks like that change did not address the problem.  We got another one of these failures in the test `MueLu_ParameterListInterpreterTpetraHeavy_MPI_1 ` for the build ` Trilinos-atdm-sems-gcc-7-2-0` shown at:

* https://testing-vm.sandia.gov/cdash/testDetails.php?test=45072075&build=3416917

which showed the output:

[code]

[2018-04-11 13:35] ctanis commented on #2518
@kyungjoo-kim this is pretty important to my work, but as I said I appreciate that the block structures are "experimental".  Is there a way to force the linear solve (and underlying BlockCrs apply) to use OpenMP, but allow me to continue to use Cuda for my matrix assembly?  I have a deadline for a paper on performance portability of my finite element code.

I ran this code on a profiler, and the t

[2018-04-11 13:46] bartlettroscoe commented on #2464
FYI: I set up a all-at-once cuda-debug build for Trilinos for all 53 Primary Tested packages on 'white' and 'ride' submitting to CDash as the build `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` as shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-04-11&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=-atdm-

This currently fails the configu

[2018-04-11 13:55] bartlettroscoe opened #2538 "Intel license sever problem on 'hansen' on 4/11/2018"
CC: @trilinos/panzer, @trilinos/muelu

Several build failures for MueLu and Panzer were reported on CDash this morning as shown in the builds:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-04-11&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=-atdm-&field2=groupname&compare2=61&value2=ATDM&field3=buildname&compare3=6

[2018-04-11 14:01] bartlettroscoe commented on #2538
The sysadmins on 'hansen' said that there was an Intel license server problem this morning that caused this.  I sent out the email shown below alerting Trilinos developers about this.

I created this issue primary to keep a memory of this occurrence so that we can look back in the future and remember this occasion.  This has happened at least once before.  We need to see how often this occurs.

Th

[2018-04-11 14:01] #2538 closed

[2018-04-11 14:08] bartlettroscoe commented on #2506
This happened again as shown at:

* https://testing.sandia.gov/cdash/testDetails.php?test=46492148&build=3496113

and it sent out another CDash error email.

We need to get this fixed.

[2018-04-11 14:26] ibaned commented on #2529
Slight wrench in the works for the second idea: `getParameter` and friends return a reference, not a value. If we are going to convert the type in that function, it needs to return a value.

[2018-04-11 14:35] cgcgcg commented on #2311
Huh. This seems to suggest that in fact the external calls to `sed` and `diff` did go through, but that we somehow sometimes produce an empty output file?

[2018-04-11 14:40] bartlettroscoe commented on #2311
@cgcgcg,

Do these tests write a file and then expect to immediately have that file read?  If that is the case, I have seen were a file does not get completely written before it gets read in again.  We were having random failures like this for a test a few years ago with a CASL VERA test (TeuchosWrappersExt I think).   I will have to dig some to see how I fixed that test but it had something to do

[2018-04-11 14:41] cgcgcg commented on #2311
Also, why do we get this line?
[code]
These should all be text files..

[2018-04-11 14:42] cgcgcg commented on #2311
@bartlettroscoe Yes, we dump the output of a run to file, and then immediately run `sed` and `diff` over that

[2018-04-11 14:46] bartlettroscoe commented on #2529
Good point.  Hopefully we can change the return from a `const <type>&` to `<type>` without breaking any backward compatibility.  It is crazy to think that someone would create a pointer or reference data member to what comes out of `Teuchos::getParameter<>()`.  Making this change will fix that!

[2018-04-11 14:48] ibaned commented on #2529
I know in my own code I've done things like
[code]
to avoid the tiny overhead of making a copy of the string. Hopefully apps don't do much of this.

[2018-04-11 14:54] bartlettroscoe commented on #2529
That will still work.   A const reference can hold on to a temp value.  What will **not** work after this refactoring is:

[code]

[2018-04-11 14:59] ibaned commented on #2529
Oh okay, I think I'm okay with those outcomes.

[2018-04-11 15:09] bartlettroscoe commented on #891
@wfspotz and I are working on this now.

[2018-04-11 15:10] lucbv commented on #2430
@jhux2, @aprokop I am working on PR #2136 and in it I rely on the `MueLu_LWGraph_kokkos` to provide `maxNumRowEntries_` and I use that value to create some scratch view.
On CPU this was fine but on GPU it leads to very large memory allocations that fail in L0 cache.
I double checked the value returned by `maxNumRowEntries_` and it is larger than the number of rows. My best bet is that it actually

[2018-04-11 15:31] aprokop commented on #2311
Hmm, documentation says that `filebuf` should synchronize the contents to file on `close()`. There is also an explicit `sync` call. But I wonder if it's the OS the holds the content of the file for some time before writing it out. I wonder if we can find a call somewhere to explicitly flush things out. This may be the reason for race condition, as output seems to suggest that the second file is si

[2018-04-11 15:40] mhoemmen commented on #2311
Sierra tests also have seen this filesystem sync issue.

@cgcgcg Why not use a pipe?  Dump output to stdout (for example), then pipe through `sed`.

[2018-04-11 15:43] cgcgcg commented on #2311
@mhoemmen The executable loops over a bunch of xml files, not just one. So I don't think we can use a pipe here.

[2018-04-11 15:44] aprokop commented on #2311
@mhoemmen Pipe would be fine for `sed` but then we also call `diff` on two files. I know that diff can do `diff <file1 <file2` but not with piping.

@cgcgcg That's not a problem, we redirect output independently for each file.

[2018-04-11 15:47] bartlettroscoe commented on #891
Here is an example to base this off of.  On crf450 I run the cron job:

[code]

See the README file:

* https://github.com/trilinos/Trilinos/tree/develop/cmake/ctest/drivers/sems_ci/README

Set up a directory like:

[code]

and copy and paste in some files from

[code]

and go from there.

If you have any questions or need help, ping me and we can get on Skype and pair program.

[2018-04-11 15:53] cgcgcg commented on #2311
@aprokop Would something like `diff existing.gold -` work?

[2018-04-11 15:56] aprokop commented on #2430
@lucbv I'll start looking at your work on the Kokkos refactor. Give me a couple days to catch up on your work. I also need to remember how the code is organized. Is #2136 the only PR I should be looking at, or is there more work around?

[2018-04-11 15:58] bartlettroscoe commented on #891
Here is how to set up your local Trilinos repo (after you create your GitHub fork of Trilinos):

[code]

Then create your topic branch and push as:

[code]

and then create a PR for this branch `891-pytrilinos-cdash github/develop` against the main Trilinos `develop` branch.

[2018-04-11 15:58] mhoemmen commented on #2311
@aprokop Dumping to a file independently is fine.  Pipes are nice because they offer built-in synchronization guarantees.  File systems more or less have no synch guarantees ;-) .

[2018-04-11 16:00] aprokop commented on #2311
@cgcgcg That's what I was thinking. The `-` would allow to take in input from result piping through `sed`.

[2018-04-11 16:00] mhoemmen commented on #2522
@SG38 wrote:

What @ibaned said.  Everything starts and stays distributed: the mesh, the graph, the matrix, the right-hand side vector, and the solution vector.  We've solved problems big enough not to fit in `int`.

[2018-04-11 16:08] lucbv commented on #2430
At this point this is the only PR but it has a good deal of changes in it and at this point I already have some changes to make for @jhux2, we have identified some issues in Phase2b that need to be resolved.
So far the code compiles and run on KNL (despite bugs to be fixed) and compiles on Power+GPU but does not run because of the bug I mentioned above.
I can post another message when I am done fi

[2018-04-11 16:31] srajama1 commented on #2464
@bartlettroscoe : Nope. This is the primary Tacho is the primary test case for Kokkos tasking. It has exposed lot of subtle issues before. I wouldn't disable it, but I would set Kokkos_ENABLE_Cuda_Relocatable_Device_Code=ON which is  a requirement set by Kokkos. I believe we need tasking for 1 out of the 2 ATDM applications.

[2018-04-11 16:39] mhoemmen commented on #2279
Fixed in develop by PR #2532, just merged.

[2018-04-11 16:39] #2279 closed

[2018-04-11 16:39] ibaned commented on #2464
@srajama1 there is a bug in the NVIDIA linker which prevents many Trilinos packages from compiling with relocatable device code on (with tests enabled). This will probably limit how much of Trilinos we are able to test in that configuration.

[2018-04-11 16:40] bartlettroscoe commented on #2317
FYI: @micahahoward last week told me that he things that using OpenMP with the Intel 17.x build would be better than with the GCC 4.8.4 build from an ATDM perspective.

Does anyone have an objection to making that change to the plan for auto PR builds?

[2018-04-11 16:41] mhoemmen commented on #2518
@ctanis Tpetra has an option to let users control whether MPI tries to talk to CUDA allocations.

Could you search for `Tpetra_ASSUME_CUDA_AWARE_MPI` in your CMakeCache.txt file (in your Trilinos build directory) and tell me whether it's `ON` or `OFF`?  If it's `ON`, you can set the following environment variable (case sensitive) to turn it off:
[code]

[2018-04-11 16:41] mhoemmen commented on #2536
Fixed in develop by PR #2537, just merged.

[2018-04-11 16:41] #2536 closed

[2018-04-11 16:44] srajama1 commented on #2464
@ibaned : Didn't know this linker bug. Do you know which feature of Kokkos tasking requires relocatable device code ?

[2018-04-11 16:45] mhoemmen commented on #2531
Most recent changes to MueLu, just merged in, don't fix this.

[2018-04-11 16:48] kyungjoo-kim commented on #2518
@ctanis In my personal opinion, there is no easy way to use openmp space for linear solve while the tpetra object still lives in cuda uvm space.

The block crs matrix has templarate parameters scalar_type, local_ordinal, global_ordinal, and node_type. So, it might be possible by giving the user provided non default node_type. Probably it does not work in that way.

The other possible way is to con

[2018-04-11 16:51] mhoemmen commented on #2518
@kyungjoo-kim That's reasonable.

@ctanis We've heard that the P100 has some issues with CUDA-aware MPI.  I would recommend setting the environment variable (see my above comment) to force Tpetra to use host memory for MPI communication.

[2018-04-11 16:55] jhux2 commented on #2531
@cgcgcg Are you looking at this?

[2018-04-11 17:00] jmgate opened #2542 "Panzer: C++17 Changes"
@trilinos/panzer

## Expectations
Panzer shouldn't use compiler-specific stuff, such as the `[[gnu::fallthrough]]` in #2541.  The C++17 standard supports, for instance, `[[fallthrough]]` instead.

## Current Behavior
We currently use such compiler-supported hacks to deal with warnings generated by, for instance, gcc-7.3.0 and above.

[2018-04-11 17:03] mhoemmen commented on #2531
I'm running a debugger now.

[2018-04-11 17:03] cgcgcg commented on #2531
@jhux2 I tried to reproduce this, but it doesn't bug out for me. (I did use GCC 4.8.4 though..)

[2018-04-11 17:04] jhux2 commented on #2531
@mhoemmen Could you send us a configure script that reproduces the problem?

[2018-04-11 17:07] mhoemmen commented on #2531
@cgcgcg Try enabling complex arithmetic in Teuchos and Tpetra.

[2018-04-11 17:09] jhux2 commented on #2531
@mhoemmen Is this sufficient?
[code]

[2018-04-11 17:15] mhoemmen commented on #2531
@jhux2 here is my complete configuration:
[code]

[2018-04-11 17:16] mhoemmen commented on #2531
@jhux2 FYI don't set `Teuchos_ENABLE_LONG_LONG_INT:BOOL=ON` explicitly any more.  Teuchos assumes C++11 now so `long long` comes by default.

[2018-04-11 17:27] mhoemmen commented on #2531
@jhux2 Here's a backtrace:
[code]

[2018-04-11 17:27] mhoemmen commented on #2531
FYI the test runs with `--linAlgebra=Tpetra`.  It's weird that it's trying to create an Ifpack (not Ifpack2!) thing.

[2018-04-11 17:28] jhux2 opened #2543 "ShyLU: shadow warnings in Tacho"
There are a few shadow warnings in Tacho during a relatively vanilla build of Trilinos.

@trilinos/shylu
@kyungjoo-kim

[code]

[2018-04-11 17:35] mhoemmen commented on #2531
Debugger is not helping me at all here.

[2018-04-11 17:36] jhux2 commented on #2543
One additional warning that I don't think appears above:
[code]

[2018-04-11 17:38] mhoemmen commented on #2531
Test passes if I set `--linAlgebra=Epetra`.

[2018-04-11 17:39] kyungjoo-kim commented on #2543
@jhux2 Your code is not updated. We removed experimental namespace and TachoExp_* things should not exist.

[2018-04-11 17:44] jhux2 commented on #2543
@kyungjoo-kim You're right, my mistake.  I was accidentally using an old Trilinos source directory.

[2018-04-11 17:44] #2543 closed

[2018-04-11 17:47] jhux2 commented on #2531
@mhoemmen Thanks for trying this.  I'm building now, will report back.

[2018-04-11 17:52] cgcgcg commented on #2531
@jhux2 I can confirm that this crashes, I was missing complex before..

[2018-04-11 17:56] ibaned commented on #2464
@srajama1 I have been told the entire system known as "Kokkos tasking" (e.g. the spawn-based system) requires relocatable device code. I don't know in detail what parts would break if we don't have it enabled. This is a difficult trade-off, but at the moment that is the situation. I think @rppawlo has built reasonable subsets of Trilinos with relocatable device code, but maybe not with tests enabl

[2018-04-11 18:00] srajama1 commented on #2464
Ah, I believe most of the use cases that are needed by this PR (PR testing on GPUs for ATDM apps) would have been covered by @rppawlo . I believe we should be able to use  relocatable device code in that case, assuming tests work.

[2018-04-11 18:19] bartlettroscoe commented on #2464
As of now, the EMPIRE configuration of Trilinos (which this current ATDM Trilinos configuration is matching) does **NOT** setting `Kokkos_ENABLE_Cuda_Relocatable_Device_Code=ON` (hence the error shown above).

But it looks like some of the SPARC configurations of Trilinos do set `Kokkos_ENABLE_Cuda_Relocatable_Device_Code=ON` as shown by:

[code]

@micahahoward,

Is SPARC really using relocatable

[2018-04-11 18:47] micahahoward commented on #2464
Short answer: no on using RDC with SPARC.

We have issues with RDC in SPARC.  I've backed this off in our Trilinos config but haven't pushed those changes to our sparc/Trilinos repo.

[2018-04-11 19:16] aprokop opened #2544 "Anasazi: mutually exclusive checks"
@trilinos/anasazi

## Expectations
I'm trying to compute a single eigenpair of a generalized eigensystem using generalized Davidson method. I'm unable to set the parameters to get it done for 2x2 size matrices.

## Current Behavior
Anasazi contains the following block of checks:
[code]
First of all, in the parameter list I specify `"Maximum Subspace Dimension"` to be 1 or 2, otherwize the last che

[2018-04-11 19:25] mhoemmen commented on #2544
@hkthorn

[2018-04-11 19:26] mhoemmen commented on #2531
@cgcgcg Complex is annoyingly off in the standard builds, even though Sierra turns it on.

[2018-04-11 19:28] bartlettroscoe commented on #2464
@micahahoward said:

Okay, so SPARC and EMPIRE don't enable RDC for Trilinos.  That means that this auto-PR CUDA build should not enable it either.  (But someone is free to set up another CUDA build that does enable RDC if they wish.)

@micahahoward,

Can you point me to the current SPARC Trilinos configuration scripts offline so that I can see how the SPARC Trilinos configuration is enabling some

[2018-04-11 19:53] mhoemmen commented on #2464
@bartlettroscoe SPARC doesn't actually set the Kokkos flag in question.  I think it defaults to OFF.  I will send you an example script.

[2018-04-11 20:04] ctanis commented on #2518
@mhoemmen TPETRA_ASSUME_CUDA_AWARE_MPI is OFF in my CmakeCache.txt.  I'm going to try creating a second non-cuda block matrix for now.  I'm doing a number of other things inefficiently right now, so what's one more!  Please let me know if I can provide any more information.

[2018-04-11 20:07] mhoemmen commented on #2518
@ctanis Please don't that we don't make any grand promises about BlockCrs performance at the moment.  @kyungjoo-kim and his colleagues are working on OpenMP and CUDA performance actively at the moment.

[2018-04-11 20:57] csiefer2 opened #2545 "-D Kokkos_ARCH is not correct... and we have no error that makes this clear"
We're supposed to set -D KOKKOS_ARCH on configure, but if one screws up and does -D Kokkos_ARCH, stuff woofs much later in configure without this mistake being obvious.

Can we catch this somewhere in Kokkos (or Trilinos) configure and tell the user exactly what to do.

@ibaned @crtrott

[2018-04-11 21:00] ibaned commented on #2545
@csiefer2 yep, I'll get an error message in there. The new task is in the Kokkos repo, kokkos/kokkos#1555

[2018-04-11 21:00] csiefer2 commented on #2545
@ibaned Cool, thanks!

[2018-04-11 21:03] ibaned commented on #2545
I'll close this one, progress can be tracked in the Kokkos one.

[2018-04-11 21:03] #2545 closed

[2018-04-11 21:04] bartlettroscoe commented on #2464
@srajama1 asked:

The plan is to merge the configurations but allow different sets of packages to be enabled.  For example, SPARC is currently using ROL and ShyLU but EMPIRE is not.  And EMPIRE is currently using Phalanx and Panzer but SPARC is not.  But if SPARC or EMPIRE enables Tpetra or MueLu, for example, then these package configurations will be **identical**.  That is the goal.   And that w

[2018-04-11 22:10] ctanis commented on #2518
@mhoemmen Oh, I totally understand!  Is there a good way to accomplish this with the non-Block matrices and vectors?

[2018-04-11 22:46] cgcgcg commented on #2531
I think I figured out what is happening. When I added the tests for complex, I disabled a couple of the xml files, since they did not run. I made the distinction between a 'complex' build and a regular one (i.e. no complex) using `MueLu_INST_COMPLEX_INT_INT`.  We should probably also define and use `MueLu_INST_COMPLEX_INT_LONG_LONG_INT`..

[2018-04-11 23:37] jhux2 commented on #2531
@cgcgcg Thanks for figuring this out.  It's a little weird, since the error Mark posted shows GO=int, not GO=long long.

[2018-04-11 23:38] jhux2 commented on #2524
@bartlettroscoe

[2018-04-12 00:14] cgcgcg commented on #2531
Hm, that's true. Maybe I fixed an unrelated bug :-)

[2018-04-12 03:35] mhoemmen commented on #2518
@ctanis You could convert your block matrix to a non-block matrix (plain old `Tpetra::CrsMatrix`) directly.  Just include `Tpetra_Experimental_BlockCrsMatrix_Helpers.hpp` and use the relevant function (look in `Tpetra_Experimental_BlockCrsMatrix_Helpers_decl.hpp` for the declaration and documentation).

[2018-04-12 03:44] mhoemmen commented on #2198
Fixed in develop by PR #2512, which I just merged.

[2018-04-12 04:35] mhoemmen commented on #2431
Fixed by PR #2450.

[2018-04-12 04:35] #2431 closed

[2018-04-12 04:36] #2304 closed

[2018-04-12 04:40] mhoemmen opened #2548 "Tpetra: Get rid of GlobalOrdinal template parameter"
As agreed by the Tpetra developers, we plan to get rid of the GlobalOrdinal template parameter.  The `global_ordinal_type` typedef will remain, but it will always be 64-bit signed integer type.

@trilinos/tpetra

## Current Behavior

  - Currently, we build Trilinos twice by default: once for `GlobalOrdinal=int` and once for `GlobalOrdinal=long long` or `long`.  This wastes build time and space.

[2018-04-12 04:53] mhoemmen opened #2550 "Pull request testing uses really old OpenMPI 1.6.5 w/ build warnings"
Here is an example of the resulting build warnings:

https://testing-vm.sandia.gov/cdash/viewBuildError.php?type=1&buildid=3418378

[code]

OpenMPI calls their own version 1.6.5 "retired" and the next older one is called "ancient."  Sierra uses 1.10.x.

@trilinos/framework

[2018-04-12 04:53] mhoemmen commented on #2550
@prwolfe

[2018-04-12 10:15] SG38 commented on #2522
Would you mind to guide me in this direction please? I need an example please. I understand that it is a better way to avoid to have a big matrix in memory. The graph must be distributed early in the flow.
Thank you

[2018-04-12 13:12] bartlettroscoe commented on #2529
I just realized that we can't change the return type from a reference to return-by-value for all types for the Teuchos::ParameterList since there are some big objects managed in a Teuchos::ParameterList.

Instead, we need to find a way to selectively return some types by value (like simple integral and floating-point types with conversions) and return everything else (that does not require convers

[2018-04-12 13:40] lucbv opened #2551 "Ifpack2: coordinates passed to the block relaxation line partitioner need to be `double`"
@trilinos/ifpack2
@mhoemmen @csiefer2

## Expectations
It seems a reasonable assumption that coordinates will be passed as `double` for line detection. We should be able to use that algorithm when `Scalar=std::complex<double>`

## Current Behavior
Currently the coordinates are templated on `Scalar` which leads to a type mismatch when the multivector of coordinates coming from an app/MueLu is templ

[2018-04-12 13:43] lucbv commented on #2520
@mhoemmen the MueLu interface to Ifpack2 line partitioner is now merged in, see #2528.
As expected the code does not go through with std::complex<double>, so I am opening issue #2551 on that.

[2018-04-12 13:47] ibaned commented on #2529
@bartlettroscoe is there a good example of using validators to get all your parameters?

[2018-04-12 15:18] ikalash opened #2554 "Trilinos Kokkos package install failure"
It looks like something changed in Kokkos with cmake wanting to install Kokkos in the /cmake/Kokkos directory rather than within the Trilinos rather than the CMAKE_INSTALL_PREFIX path:

[code]

This happened in Albany nightlies on several platforms.  Please see, for example: http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=69402 .

@trilinos/kokkos

[2018-04-12 15:53] mhoemmen commented on #2520
@lucbv Does "code does not go through" mean that you just broke the build?  Sierra folks will be grumpy about that since they need to enable complex.

[2018-04-12 15:57] ctanis commented on #2518
@mhoemmen in case I'm missing something, I only see a way to convert from CrsMatrix to BlockCrsMatrix (the other direction) in this file?

[2018-04-12 16:02] lucbv commented on #2520
@mhoemmen no it builds you get a run time error when Ifpack2 tries to extract the coordinates from its parameter list.
This would only happen to sierra folks use the line partitioner in Ifpack2 with MueLu, but since we added it yesterday I feel safe that they won't notice.
I am currently working on fixing this though.

[2018-04-12 16:12] lucbv commented on #2520
To be more precise, you can see the problem on [this](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3497090) build.

[2018-04-12 16:53] #2527 closed

[2018-04-12 17:28] jhux2 commented on #2531
@mhoemmen Did @cgcgcg's patch fix the error you were seeing?

[2018-04-12 17:33] cgcgcg commented on #2531
I pushed it this morning.

[2018-04-12 17:36] mhoemmen commented on #2531
@jhux2 I think the issue is https://github.com/trilinos/Trilinos/issues/2520 but I haven't tested this morning yet.

[2018-04-12 17:38] mhoemmen commented on #2520
Fixed in develop by PR #2549, just merged.

[2018-04-12 17:38] #2520 closed

[2018-04-12 17:40] mhoemmen commented on #2522
@SG38 Are you working with an application that has a distributed mesh?

[2018-04-12 17:45] mhoemmen commented on #2518
@ctanis Oops, sorry, that's right.

[2018-04-12 17:47] jhux2 commented on #2531
Is this related to #2551, or just coincidental?

[2018-04-12 18:03] mhoemmen commented on #2531
Yes, it is actually #2551.

[2018-04-12 20:01] SG38 commented on #2522
@mhoemmen

[2018-04-12 21:15] jhux2 commented on #1382
Fixed in d7a7780f.

[2018-04-12 21:15] #1382 closed

[2018-04-12 21:29] #2523 closed

[2018-04-12 21:35] lucbv commented on #2531
@mhoemmen @jhux2 this is actually coincidental, the test I broke is called: `MueLu_DriverTpetraIfpack2LinePartitioner` this is in now way related to the parameter list interpreter especially since the new feature is activated in the smoother sublist which we do not check.
Furthermore my change is only accessible with Ifpack2 enable and we do not provide this parameter for the `MLParameterListInter

[2018-04-12 21:58] mhoemmen commented on #2522
@SG38 I'm not an expert on distributed meshes.  You could use Sandia's open-source library STK (the Sierra Tool Kit) for that purpose.  The STK manual could be a good start.

[2018-04-12 21:59] mhoemmen commented on #2531
@lucbv Sorry for the confusion!

[2018-04-12 22:12] rppawlo commented on #2497
Have 4 classes due to specialization to convert:
- [ ] GatherSolution_BlockedTpetra (Residual)
- [ ] GatherSolution_BlockedTpetra (Jacobian)
- [ ] ScatterResidual_BlockedTpetra (Residual)
- [ ] ScatterResidual_BlockedTpetra (Jacobian)

Am punting on Tangent and Hessian for now. Looks like mini-em examples use this code, so we can use this to test changes in performance. As part of this refactor, I

[2018-04-12 23:05] egphill commented on #2497
@rppawlo Will this still result in a Thyra blocked linear op? If so, I don't think it will really effect Teko.

[2018-04-13 01:45] rppawlo commented on #2497
yes - the linear object factory will still produce the thyra blocked systems. Thanks Edward!

[2018-04-13 19:40] ctanis commented on #2518
I've modified all the data structures involved in the linear system to be templated on Kokkos::Compat::SerialWrapperNode ( I tried KokkosOpenMPWrapperNode as well).  In all cases, the multiple process versions perform worse than the single processor.  When I profile, it says that a call to cudaDeviceSynchronize() is dominating the calculation.

Should this have worked?

    typedef typename Kokkos

[2018-04-13 19:46] mhoemmen commented on #2518
What does "modified the data structures to be templated on SerialWrapperNode" mean?  Does it just mean that you're using Tpetra with the Serial execution space, instead of the Cuda execution space?

[2018-04-13 19:59] jhux2 commented on #2518
Fwiw, you could write the BlockCRS matrix to file and read it back in as a point CRS matrix, using the Operator write method.

[2018-04-13 20:05] ctanis commented on #2518
@mhoemmen I used the LSNode typedef in my code snippet as the node_type in the declarations of the various linear algebra objects used in the solve.  I guess I mean that applied the templates in this way -- sorry for the confusing word choice!

[2018-04-16 13:19] lucbv commented on #2551
This is now resolved with PR #2557 being merged.

[2018-04-16 13:19] #2551 closed

[2018-04-16 15:59] mhoemmen commented on #2550
Thanks @prwolfe ! :D  It sure would be nice not to have these extra warnings in PR testing....

[2018-04-16 16:37] srajama1 commented on #2401
@ndellingwood : Yes, two weeks is good time for me. Thanks for taking the initiative on creating the documentation.

[2018-04-16 16:59] jhux2 commented on #2311
@cgcgcg Are you working on this?  If not, I can take.

[2018-04-16 17:08] cgcgcg commented on #2311
@jhux2 No, I am not. Happy if you want to take this!

[2018-04-16 17:15] ndellingwood commented on #2401
Here's the link to the documentation directory in ShyLU [shylu/doc/intro](https://github.com/trilinos/Trilinos/tree/master/packages/shylu/doc/intro). Each package has a tex file for its chapter, file name formatted as `ShyLU_Intro_{PackageName}.tex`

[2018-04-16 18:36] crdohrm commented on #2401
Next two to three weeks should work for me.

[2018-04-16 20:00] cgcgcg opened #2563 "Delete old autotester messages"
@trilinos/framework

## Expectations

It would be great if the autotester would delete old messages that are not useful anymore. In particular, once a build is done, the message about the start of the build is superfluous.
More generally, all messages could be condensed into a single message that gets updated. This would avoid having pull requests getting flooded with a bunch of autotester runs..

[2018-04-16 20:31] kddevin commented on #2198
@mhoemmen
For better or worse, most Trilinos test builds run with at most four MPI processes.  That is, CMake's MPI_EXEC_MAX_NUMPROCS is four.
It appears, then, that this test is not run for MPI builds.  For example, it is not listed among the tests here:
https://testing.sandia.gov/cdash/viewTest.php?buildid=3505241

Can this test be made to run on four ranks so that it will be exercised regularly

[2018-04-16 20:44] mhoemmen commented on #2198
@kddevin It does pass tests with 5 MPI processes.  We could come up with an example that runs on 4 MPI processes, though.

[2018-04-16 20:49] mhoemmen commented on #2198
@kddevin I agree.  I will file an issue to add more tests for that function, and separate them out into those that work for 2 or 4 MPI processes, and those that require more.

[2018-04-16 20:54] mhoemmen opened #2564 "Tpetra: Split makeOptimizedColMapAndImport test into <= 4 vs. > 4 MPI procs cases"
Tpetra's current test for `makeOptimizedColMapAndImport` requires 5 MPI processes.  Default value for `MPI_EXEC_MAX_NUMPROCS` is 4, so the test does not run by default.  I would still like to keep the tests that require more than 4 processes, however.  Thus, we should add more tests that require <= 4 MPI processes, and split the test into the tests that need <= 4 MPI processes, and those that need

[2018-04-16 20:54] kddevin commented on #2198
Thanks, @mhoemmen
Probably best not to have tests that don't get exercised regularly.

[2018-04-16 20:54] mhoemmen commented on #2198
@kddevin I just filed a separate issue https://github.com/trilinos/Trilinos/issues/2564 , so I will close this issue and direct future discussion there.  Thanks!

[2018-04-16 20:54] #2198 closed

[2018-04-16 21:14] mhoemmen opened #2565 "Tpetra::CrsGraph,CrsMatrix: Add computeLocalConstants bypass"
Feature requested by @alanw0:

@trilinos/tpetra @csiefer2

## Motivation and Context

  - Improve performance of CrsGraph fillcomplete
  - Gradual porting path to wean users from `get{Node,Global}Num*` functions that add little value but make CrsGraph fillComplete expensive

[2018-04-17 05:02] mhoemmen opened #2567 "Tpetra: Ignore Teuchos_ENABLE_LONG_LONG_INT"
See PR #2547, Issue #2498, and PR #2499 for context.  Several years ago, the way to tell Tpetra to disable `GlobalOrdinal=long long` support, was to set `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF`.  There was apparently no other way to do it.  That was bad.

Later on, we added proper Tpetra options for enabling or disabling `GlobalOrdinal=long long` support, in Tpetra.  However, users tend to keep and

[2018-04-17 14:53] cgcgcg commented on #2563
So this does not work?
https://developer.github.com/v3/issues/comments/#delete-a-comment
Or can comments not be deleted once someone else replied?

[2018-04-17 15:43] allevin commented on #2563
Ah you are correct.  I wasn't looking closely enough nor thinking clearly (need more coffee in the morning).  I will add this issue as a requested feature for the autotester in the future.

[2018-04-17 16:33] prwolfe commented on #2463
Working on this now - notes

Matches our setup:
[code]

New stuff to look at.  Why experimental code in PR instead of specialized or experimental tracks?
[code]

I will take a few days to get this much set up and working as I want to refactor the driver script as it is.

Paul

[2018-04-18 01:25] lxmota opened #2574 "Tpetra: Compile error after commit 47e569d"
@trilinos/tpetra

## Expectations

Trilinos should compile without error.

## Current Behavior

Compile errors with both clang and gcc of this type:

[trilinos-serial-gcc-release.log](https://github.com/trilinos/Trilinos/files/1922123/trilinos-serial-gcc-release.log)

## Motivation and Context

Tpetra used for nightly tests and production runs in Albany. This error prevents further development.

#

[2018-04-18 01:34] tjfulle commented on #2574
@lxmota can you email me your configure script so I can reproduce the compile error?

[2018-04-18 01:38] lxmota commented on #2574
We use a modules system that has CMake as the controller program, and therefore there is no configure script. We have a CMake template with multiple variables that gets filled in on the fly when CMake is invoked.

But @ikalash sees the same error and she does have configure scripts. So I'm reaching out to her to provide one.

[2018-04-18 02:03] cgcgcg commented on #2531
@mhoemmen Could you pull and then reconfigure? This issue might be caused by configuring a build without complex, and then later switching complex on. The test would then fail on left-over xml input decks. This should be fixed now.

[2018-04-18 02:45] tjfulle commented on #2574
Thanks @ikalash!  I’ll get this building locally.  Hopefully it’ll fail and I can push a fix soon

[2018-04-18 02:46] ikalash commented on #2574
Thanks @tjfulle !

[2018-04-18 04:12] mhoemmen commented on #2574
Thanks @tjfulle ! :D

[2018-04-18 04:13] tjfulle commented on #2574
Hmmm, using @ikalash's configure script I wasn't able to see a build failure locally.  I also didn't see any failures with the checkin script, and the PR testing passed.  I use gcc 6.4.0 locally.  @ikalash, are you also using gcc 7.2.0 like @lxmota?  I'll log on to a CEE machine and try with gcc 7.2.0 in the sems environment to see if I can see a failure.

[2018-04-18 04:29] ikalash commented on #2574
No, I'm using gcc-6.4.1.  Hmmm that's odd that you don't see the problem.  Lets wait until the Albany nightlies run to confirm that the issue occurs there from a clean clone / build.

[2018-04-18 15:10] ikalash commented on #2574
The error showed up in a number of our nightly tests, e.g.

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=69644

(this was was from the CEE using sems modules, so no unusual OS there).

What is interesting is my OpenMP and CUDA Trilinos built just fine.  I'm guessing it is b/c that build does not turn on something that the regular Serial KokkosNode build does.  Here is the OpenMP

[2018-04-18 15:40] bartlettroscoe commented on #2524
@bathmatt, what CUDA version is this?  How can I reproduce this?

That macro was added with an explicit check for `__NVCC__` in the commit 8e3a5f454b69079c8eac784437ed59b9a415e0a7:

[code]

[2018-04-18 15:42] bartlettroscoe commented on #2524
@trilinos/teuchos

[2018-04-18 15:44] mhoemmen commented on #2574
@tjfulle Does that code only have a forward declaration of CrsMatrix, not an actual declaration?  That would explain why it doesn't get the default template parameter values.

[2018-04-18 15:45] ibaned commented on #2524
@bartlettroscoe I have an equivalent macro in a library of mine, and the logic is to only omit the return if `__clang__` is defined. So far that builds without warnings with CUDA 8 and 9, also with Clang and GCC.

[2018-04-18 15:53] tjfulle opened #2576 "STK: Undefined symbols for architecture..."
STK fails to link with the following error:

[code]

@trilinos/stk

## Expectations

That no link error will occur.

## Current Behavior

The link error copied above.

## Possible Solution

Adding `stk_unit_test_utils` to the list of library dependencies for `stk_unit_main`, as in the following patch, resolves the issue.

[code]

## Your Environment

- **Relevant repo SHA1s:**  HEAD of develop bra

[2018-04-18 15:57] bartlettroscoe commented on #2524
@ibaned,

Does the NVCC compiler define the macro `__clang__`?  I guess we can try that.   But it would be good to reproduce the warning that @bathmatt mentions above to make sure that this change will fix this first.

@bathmatt, how can I reproduce the warning you are seeing?

[2018-04-18 16:06] mhoemmen commented on #2574
@ikalash It could definitely be that!  I had thought @tjfulle had tested w/ ETI both ON and OFF though.  There were a few somewhat risky includes in that pull request that might have caused some circular including and thus canceled out some content, but I figured testing ETI both ON and OFF should catch them.

[2018-04-18 16:06] tjfulle commented on #2574
@ikalash, I used all of the configurations from the albany dashboard and I don't see a build failure locally.  But, I believe I see the problem and will have a workaround committed soon.

[2018-04-18 16:07] tjfulle commented on #2574
@mhoemmen, I built with ETI ON/OFF (see above comment).  But, I have a fix ready to commit.

[2018-04-18 16:29] lucbv opened #2577 "MueLu: linear interpolation data with structured aggregation"
@trilinos/muelu
@rstumin @jhux2 @csiefer2 @mayrmt

## Expectations
Have the structured aggregation algorithm provide a sufficient amount of data for linear interpolation to be performed using the aggregates as input.

## Current Behavior
Currently only piece-wise constant interpolation is performed due to the aggregates data format

## Motivation and Context
This work will enable potentially more

[2018-04-18 16:38] tjfulle commented on #2574
@ikalash, @lxmota - @mhoemmen and I just talked about a suspicious include in a Tpetra implementation detail.  Neither of us know why it was there, but it seems to be the source of the problem.  I've put in the fix and am now testing to be sure nothing downstream breaks.  I am very confident this is the source of the build errors.  The will be pushed as soon as the build/tests complete.

[2018-04-18 16:45] mhoemmen commented on #2574
@tjfulle U ROCK

[2018-04-18 16:54] csiefer2 opened #2578 "Framework: Configure does not issue warning if package is both ON and OFF"
If you explicitly turn a package both ON and OFF during configure, cmake happily lets you do that without warning you that this might not be what you intended.

Can this be fixed in TriBITS / Trilinos?

@jwillenbring @bartlettroscoe

[2018-04-18 17:00] bartlettroscoe commented on #2578
@csiefer2, can you give a concrete example that we can reproduce?

Note:

* https://tribits.org/doc/TribitsDevelopersGuide.html#disables-trump-enables-where-there-is-a-conflict
* https://tribits.org/doc/TribitsDevelopersGuide.html#project-name-disable-enabled-forward-dep-packages
* https://tribits.org/doc/TribitsDevelopersGuide.html#conflicting-explicit-enable-and-disable
* https://tribits.org/doc

[2018-04-18 17:06] csiefer2 commented on #2578
This is actually a non-issue.  I miscaptialized an option and configure exited with an error before it could tell me my option was unused.

Closing.

[2018-04-18 17:06] #2578 closed

[2018-04-18 17:16] csiefer2 opened #2580 "ShyLU/Tacho: Can we disable Tacho by default if RDC is off"
Most of Trilinos won't link with RDC, so it would be nice if Tacho was off by default if RDC was off (rather than issuing an error).

CMake Error at packages/shylu/shylu_node/tacho/CMakeLists.txt:8 (MESSAGE):
  ShyLu/Tacho requires CUDA relocatable device code to be enabled if CUDA is
  enabled.  Set: Kokkos_ENABLE_Cuda_Relocatable_Device_Code=ON

@jhux2

[2018-04-18 17:28] kyungjoo-kim commented on #2580
What about the other way ? @crtrott  Can we set relocatable device code is ON by default when Kokkos CUDA is enabled ? Does it have any side effect ?

[2018-04-18 17:29] csiefer2 commented on #2580
@kyungjoo-kim The side effect is most of Trilinos being unable to link...

[2018-04-18 17:31] kyungjoo-kim commented on #2580
@csiefer2

What do you mean by being unable to link with relocatable device code ? It is a compiler flag and if it does not need for the relocatable device code, is should compile. Am I missing something ?

BTW, the cmake error pops up because Tacho is enabled. If you don't use the package, then you can simple disable the package.

[2018-04-18 17:42] csiefer2 commented on #2580
@kyungjoo-kim

1) The tests/examples for a number of packages will not link correctly if Trilinos is built with RDC on.  This is due to some very specific requirements of the linker's interactions with RDC>

2) Correct.  Unfortunately is is on by default.  Which is what we were asking to change :)

[2018-04-18 17:46] kyungjoo-kim commented on #2580
@csiefer2 Okay.

I need some cmake help. How can I distinguish the following two intentions of users ?
case 1) someone sets Tacho on and set RDC off accidently ? In this case, the compilation error should report.
case 2) Tacho is on by default and RDC is off. In this case, we want to disable Tacho is off.

[2018-04-18 17:48] csiefer2 commented on #2580
@bartlettroscoe Is there a way to distinguish between "on by default" and "on because I specifically asked for it" ?

[2018-04-18 18:05] srajama1 commented on #2580
@csiefer2 : There is no good way to specify a compiler flag as a dependency in Dependencies.cmake in TriBITS. That is the reason we have to resort to this configure time checks and errors.

@kyungjoo-kim : Setting RDC always on is not a possibility now. We would like to go there, but it appears lot of code doesn't work with it.  I don't think there is a way to do what you asked in 2) above now, un

[2018-04-18 18:06] kyungjoo-kim commented on #2580
Lets disable Tacho when RDC is off and returns cmake warning instead of error.

[2018-04-18 18:06] mhoemmen commented on #2576
@alanw0

[2018-04-18 18:09] mhoemmen commented on #2580
FYI @micahahoward would like to be able to build with RDC OFF for now, though would like to relax that requirement.

[2018-04-18 18:17] mhoemmen commented on #2531
@cgcgcg I'm trying this out (while waiting on a super-slow build ;-) ).  Thanks!

[2018-04-18 18:31] kyungjoo-kim commented on #2580
Oh... that commit is not correct one. I tried on my workstation and pushed it to my local branch to test on white. It does not work that way.

 @bartlettroscoe How can I disable Trilinos_ENABLE_ShyLU_NodeTacho when Kokkos_ENABLE_Cuda is on and Kokkos_ENABLE_Cuda_Relocatable_Device_Code is off ?

[2018-04-18 19:53] mayrmt commented on #2262
Using @lucbv's idea of a prolongator-based strategy to identify interface pairs on the coarse level, we can now
- remove the aggregate-based approach
- revert changes to central MueLu routines introduced in #9d40e20a1f70ad80bae8faae88a0135a43c5515a

I'll clean this up, so we get ready to merge back to develop.

[2018-04-18 20:11] kyungjoo-kim commented on #2580
@csiefer2 , would you please check if your code compiles without a problem using the PR branch mentioned above ?

[2018-04-18 20:44] mhoemmen commented on #2531
@cgcgcg Argh, ShyLU DDFROSch build fails for me and it blocks MueLu's build on my machine... let me try disabling ShyLU for now.

[2018-04-18 21:28] mhoemmen commented on #2531
@cgcgcg Hm, still fails for me.  For example, in `MPI_RELEASE`: I got a lot of output like this:
[code]

[2018-04-18 21:34] cgcgcg commented on #2531
@mhoemmen Hm, that's a new parameter that @lucbv recently added. But he fixed the gold files. You did reconfigure, right? Cause only then the old xml files get nuked..

[2018-04-18 21:39] cgcgcg commented on #2531
Ah, I think this is my mistake. I did the update of the complex gold files, and it seems I missed some!

[2018-04-18 21:55] bartlettroscoe commented on #2580
@kyungjoo-kim,

As per:

* https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-check-for-and-tweak-tribits-enable-cache-variables

you would add special logic to the file:

* Trilinos/cmake/ProjectDependenciesSetup.cmake

If you want, I can create a branch and PR that does this and test to make sure it does what it should.

If ShyLU_NodeTacho can't be used if RDC is  disabled, then we shoul

[2018-04-18 22:44] kyungjoo-kim commented on #2580
@bartlettroscoe Thank you for the clarification. I would appreciate if you can provide Tribit magic and disable Tacho when RDC is disabled. That would be much better solution.

[2018-04-18 23:09] mhoemmen commented on #2531
@cgcgcg Just FYI, I not only reconfigured but completely wiped the build directory clean, before reconfiguring and rebuilding.

[2018-04-18 23:34] bartlettroscoe commented on #2580
@kyungjoo-kim, okay.  I will reopen this issue and post the PR shortly.

[2018-04-19 00:53] jhux2 commented on #2294
@ikalash Based on the error log attached to this issue, I believe this was fixed by the same patch that fixed #2340.  If you still see problems, please reopen.

[2018-04-19 00:53] #2294 closed

[2018-04-19 00:55] ikalash commented on #2294
Sounds good.  Will do.

[2018-04-19 01:38] tjfulle commented on #2574
Should be fixed with #2584.

[2018-04-19 02:02] lxmota commented on #2574
I can confirm that Trilinos now compiles with gcc and clang on my local machine.

We'll see what our nighty Albany tests produce: http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany

[2018-04-19 02:07] bartlettroscoe commented on #2580
I created PR #2586.  @kyungjoo-kim, can you please review that PR?

[2018-04-19 02:54] cgcgcg commented on #2531
@mhoemmen Pushed yet another fix..

[2018-04-19 05:48] mhoemmen commented on #2463
@prwolfe I don't think we actually need the MueLu and Xpetra "experimental" options enabled:

https://github.com/trilinos/Trilinos/issues/2317#issuecomment-376617325

but I'm not sure if the ATDM builds have disabled these options (yet).

[2018-04-19 12:35] prwolfe commented on #2463
Thanks for the reference to that discussion @mhoemmen. That matches my instincts as well!

[2018-04-19 14:41] jmgate commented on #2013
From [this comment](https://github.com/trilinos/Trilinos/issues/2013#issuecomment-354846931) a while back:

@trilinos/framework, now that PR testing is mandatory, is this something you want to explore further?  I'm happy to do the work if I have the requisite permissions.

[2018-04-19 14:41] ikalash commented on #2574
Everything was good in the nightly test harness for Albany as well.  I think this issue can be closed.

[2018-04-19 15:13] #2574 closed

[2018-04-19 15:13] mhoemmen commented on #2574
Thanks everyone! :D

[2018-04-19 15:21] csiefer2 opened #2589 "Teuchos: Geminga Cuda builds failing"
`packages/teuchos/core/src/Teuchos_CommandLineProcessor.cpp(213): error: identifier "OPT_LONG_LONG_INT" is undefined`

https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3513020

Any ideas, Teuchos team?

@jhux2

[2018-04-19 16:17] mhoemmen commented on #2589
@csiefer2 Does that configure set `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF`?  If so, @ibaned and I might be able to help.  Best practice is not to set that CMake option, but we still don't want builds to break if it's OFF.

[2018-04-19 16:21] lucbv opened #2590 "Epetra: adding IntMultiVector to mirror the IntVector object"
@trilinos/epetra
@csiefer2 @mhoemmen

## Expectations
Implementation of a `IntMultiVector` class that allows for the storage of multiple indices in the same object instead of using arrays of `IntVector` which is a more sketchy...

## Current Behavior
Currently such object does not exist and that leads to funny code with multiple `IntVectors` stored in Arrays or `std::vector`. Also this would use s

[2018-04-19 16:26] jhux2 commented on #2589
@trilinos/teuchos

[2018-04-19 16:45] mhoemmen commented on #2590
@lucbv It's a good idea.  You could work around for now through an Epetra-specific Xpetra thing, but that wouldn't be much less work than just implementing this in Epetra.

No one has specified the compiler requirements for Epetra.  Epetra depends _optionally_ on Teuchos, and Teuchos requires C++11.  Adherence to Epetra style would call for avoiding C++ >= 11 constructs, but Trilinos' Dashboard do

[2018-04-19 16:52] bartlettroscoe commented on #2589
Just as a frame of reference, the ATDM CUDA builds on hansen, white, and ride passed last night as shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-04-19&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=-atdm-&field2=subprojects&compare2=93&value2=Teuchos&field3=groupname&compare3=61&value3=AT

[2018-04-19 17:15] jhux2 commented on #2589
@mhoemmen Yes, `Teuchos_ENABLE_LONG_LONG_INT:BOOL=OFF`.

<details>

[code]

<\details>

[2018-04-19 17:16] ibaned commented on #2589
Yep, this has to do with turning `long long` off. I put up a "fix" in #2591, but I recommend that you remove any instances of `Teuchos_ENABLE_LONG_LONG_INT` from your configuration. If you want to prevent Tpetra from instantiating things with `long long`, @mhoemmen can describe how to do that, but the only reason to disable it in Teuchos was to support C++98.

[2018-04-19 17:35] mhoemmen commented on #2531
`MPI_DEBUG` and `MPI_RELEASE` tests with complex enabled pass for me now; thanks! :D

[2018-04-19 17:35] #2531 closed

[2018-04-19 17:42] jhux2 commented on #402
@tawiesn @aprokop I'm revisiting this issue.  Was there a patch involved?

[2018-04-19 17:42] jhux2 commented on #402
@pwxy

[2018-04-19 17:49] aprokop commented on #402
@jhux2 Not sure, it's been so long. I also remember some progress being made on Amesos2 side, so need to touch bases with @srajama1 .

[2018-04-19 18:05] srajama1 commented on #402
@ndellingwood has implemented reindexing in Amesos2.  I would rather not add anymore new features to Amesos.

[2018-04-19 18:08] jhux2 commented on #402
@srajama1 I don't think Amesos was part of the discussion.

[2018-04-19 18:40] cgcgcg commented on #2531
@mhoemmen Finally :-)

[2018-04-19 18:48] csiefer2 opened #2594 "Framework: Allow commits to non-code directories w/o autotesting"
I'm thinking specifically of cmake/ctest/drivers, which contains stuff for driving nightly tests and not code that the autotester can actually execute.

[2018-04-19 18:49] csiefer2 commented on #2589
Relevant PR aging gracefully in the bowels of the autotester.  Will close tomorrow if I fixed things.

[2018-04-19 18:52] ibaned commented on #2589
@csiefer2 are you not going to remove `Teuchos_ENABLE_LONG_LONG_INT=OFF` from the test configuration?

[2018-04-19 19:12] aprokop commented on #2544
ping

[2018-04-19 20:29] ibaned commented on #2589
Oh, my bad, I misinterpreted your earlier comment. I hope the autotester approves it soon.

[2018-04-19 20:39] jhux2 commented on #2594
@trilinos/framework

[2018-04-19 20:45] mhoemmen commented on #2589
`Tpetra_INST_INT_LONG_LONG:BOOL=OFF` achieves the desired effect.  Tpetra will enable `GO=long` as well as `GO=int` in that case.

[2018-04-19 21:50] bartlettroscoe opened #2597 "Elevate all packages and SE packages used by ATDM APPs to Primary Tested"
**CC:** @trilinos/framework, @fryeguy52

**Blocked By:** #4219, #4272

## Description:

Currently, it seems that some of the subpackages used by the ATDM EMPIRE APP are labeled Secondary Tested (ST).  Since ST is enabled by default with Trilinos in the EMPIRE Trilinos configuration, this makes sense that that would have happened.  However, by definition, anything being used by ATDM APPs should be

[2018-04-19 22:58] bartlettroscoe opened #2598 "Set up "Specialized" ATDM CUDA build of Trilinos that enables RDC"
**CC**:  @trilinos/kokkos, @trilinos/kokkos-kernels, @trilinos/shylu, @trilinos/framework

## Description

The current ATDM CUDA builds of Trilinos do not set `Kokkos_ENABLE_Cuda_Relocatable_Device_Code=ON` (see discussion in #2464 and #2580).  However, this is needed for task-based algorithms like in ShyLU_NodeTacho and the ATDM codes may take advantage of this in the future (more likely in SPARC

[2018-04-20 01:27] jhux2 commented on #402
Issue #2270 may be related.

[2018-04-20 12:27] ibaned commented on #2589
I'm assuming this can be closed as both ways to fix it are in. Please comment otherwise

[2018-04-20 12:27] #2589 closed

[2018-04-20 15:16] srajama1 commented on #2270
@ndellingwood : We need to get to the bottom of this next week or so ..

[2018-04-20 18:38] mhoemmen commented on #2597
@micahahoward @prwolfe

[2018-04-20 18:54] bartlettroscoe commented on #2594
This should be done at the same time as moving to the TriBITS code that automatically knows about mapping of directories to packages.

[2018-04-20 23:02] jhux2 opened #2608 "MueLu: delete ShiftedLaplacian interface?"
Would anyone object if I delete the ShiftedLaplacian interface?  I know of no current users.  The interface isn't maintained, and takes well over 5 minutes to compile.

@trilinos/muelu

[2018-04-20 23:16] bartlettroscoe commented on #2317
The EMPIRE build of Trilinos has removed the experimental Xpetra and MueLu enables and these have been removed from the ATDM and the CI build (see commits 7481c76 and 71c51f2).  I updated the document:

* https://docs.google.com/document/d/1bCqOJLoXSnq24ct-IjwGkvse6xhsp9HrHsxqZxBwDWQ

to remove these options.

[2018-04-21 00:03] mhoemmen commented on #2317
@prwolfe @micahahoward Hooray! :D

[2018-04-21 00:41] bartlettroscoe commented on #2462
The PR #2609 provides a single *.cmake file to to define this build.  The auto PR tester driver bash script just needs to source:

[code]

and then the `ctest -S <script>` driver script just needs the argument:

[code]

and that is it.

The most important settings that we don't want to duplicate all over the place that are included in this file are from the files `SEMSDevEnv.cmake` and `BasicCiTes

[2018-04-21 00:54] bartlettroscoe commented on #2317
@crtrott and @nmhamster,

Since we can't turn on OpenMP in our auto PR builds yet due to the problem of pinning to the same cores as described in #2422, would a short-term alternative be to try to use Pthreads for threading with Kokkos?  That is, use Pthread for the Kokkos host threading model?

Also, why does Kokkos not automatically use Pthread for threading when the TPL Pthread is enabled and n

[2018-04-21 04:34] mhoemmen commented on #2317
@bartlettroscoe wrote:

Kokkos folks have been telling everyone not to use the Pthreads back-end for quite a while.

The Pthread TPL gets automatically detected and enabled by default.  (There are reasons to enable it that have nothing to do with thread parallelism.)  Users found it unpleasantly surprising to get thread parallelism when they didn't ask for it explicitly.  Thus, Kokkos and Tpetra h

[2018-04-21 04:54] mhoemmen commented on #2317
@bartlettroscoe There is a bit of a fun history.  "Kokkos 1.0" (Chris Baker's thread-parallel programming model) had the following back-ends originally:

  - TBB (Intel's Threading Building Blocks), called TBBNode
  - ThreadPool (Carter Edwards' Pthreads-based thread pool), called TPINode
  - CUDA
  - Serial (no threads)

The "OpenMPNode" came later and was actually an external contribution.  Hist

[2018-04-21 21:43] ibaned commented on #2317
@bartlettroscoe although @dsunder has the most expertise in this, I don't think the Threads backend (soon to be powered by `std::thread` rather than `pthread`) has an advantage over OpenMP in terms of behaving well when not bound (it may be better to use OpenMP with `OMP_PROC_BIND` specifically set to not bind). For practical ATDM concerns, OpenMP is probably their main backend of interest and I d

[2018-04-22 21:46] mhoemmen commented on #2317
@ibaned At one point there was a plan for quarterly minor releases & yearly major releases.  That all fell apart :( .  It's hard to respect the backwards compatibility plan (deprecate before the last minor release, remove at the next major release) when there's no schedule for releases.

[2018-04-23 00:07] mhoemmen commented on #2317
@ibaned wrote:

I haven't heard anything about a 13.0 release, but that doesn't necessarily mean it won't happen :)

[2018-04-23 10:52] pwxy commented on #2529
So it sounds like this is going to be really hard to fix on the Trilinos side, and there will not be any resolution for a while?

[2018-04-23 13:54] ibaned commented on #2317
@bartlettroscoe enabling the Pthread TPL and (only) the Kokkos OpenMP backend should be just fine, I think thats what currently happens in most Trilinos builds that enable OpenMP.

[2018-04-23 15:44] ibaned commented on #2529
I've put up a new pull request with a less drastic but still functional solution: values that don't fit in `int` are returned as `long long` by the YAML reader, and the `AnyNumber` validator supports `long long`: #2614

[2018-04-23 16:25] VictorEijkhout opened #2616 "12.12 download points to oldsite"
A while ago I had no end of problems with trilinos because there was an "oldsite" which was fully functional except that it was 2 years out of date.

Now I notice that the 12.12.1 download points to the oldsite. Is this correct? Are you just trying to confuse me?

Victor.

[2018-04-23 16:36] SG38 opened #2618 "Ifpack+Belos wrong convergence"
## Configuration
Trilinos 12.12.1
Modules: Ifpack, Belos, Epetra

## Description
Using Ifpack(IC, fillins=4) + Belos(PseudoBlockCG, tol=1.e-5) to solve A.x = b, where A is symmetric sparse and definite positive; b is a dense vector and the most important is that x is initialized with the Epetra_MultiVector Random() procedure.

The Belos solving stops after 2 iterations saying that convergence is c

[2018-04-23 16:49] aprokop commented on #2618
@SG38 Check $|Ax-b|/|Ax_0-b|$.

[2018-04-23 16:50] aprokop commented on #2618
@trilinos/belos

[2018-04-23 16:51] cgcgcg commented on #2608
Instead of outright deleting it, maybe just don't compile it by default? Or is it actually broken?

[2018-04-23 16:56] bartlettroscoe commented on #2464
After PR #2601 was merged, the build `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` which includes all of the 53 Primary Tested packages of Trilinos passed the configure but shows build and runtime failures for several packages as you can see at, for example:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3451394

This shows build failures for the packages:

* ROL

[2018-04-23 17:00] ibaned commented on #2464
@bartlettroscoe I don't mind disabling these packages for a CUDA build, although developers should maybe be made aware that their packages are broken on CUDA. Also, we should mirror this in the testing of Trilinos that we do for Kokkos releases, in particular we should only test the packages that you enable in the PR CUDA build.

[2018-04-23 17:07] bartlettroscoe opened #2620 "Clean up builds and tests for all Primary Tested packages for CUDA build on white/ride"
**CC:** @trilinos/framework

## Description

This issue is a placeholder for cleaning up the builds and tests for all of the Primary Tested Trilinos packages for the `cuda-debug` build on `white/ride` as described in https://github.com/trilinos/Trilinos/issues/2464#issuecomment-383646788.

As of 4/23/2018, the build `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` on `white` for all 53 of the

[2018-04-23 17:13] bartlettroscoe commented on #2464
@ibaned said:

I created the issue #2620 and @mentioned all of the package teams or people associated with these packages.  If someone wants to pursue cleaning up the failures for those packages, then I think that is in everyone's best interest.  It is just that we have limited ATDM funds to set up these builds and getting these packages clean up on CUDA builds is not an ATDM priority.

It would b

[2018-04-23 17:34] jmgate commented on #2616
@trilinos/framework

[2018-04-23 19:25] ibaned commented on #2529
Okay, there was unanimous approval on that PR and it was merged.

@bathmatt @pwxy let me know if this solution works out for your application, and feel free to ask more questions about how to use it.

[2018-04-24 00:40] jhux2 commented on #2608
It's not broken, as the Helmholtz tests exercise the interface, but it's badly in need of a redesign.  One option would be to guard it with an experimental flag.

[2018-04-24 02:10] bartlettroscoe commented on #2594
This is a question for the @trilinos/framework team.

[2018-04-24 10:55] pwxy commented on #2529
@ibaned thanks for the fix

[2018-04-24 13:08] bartlettroscoe commented on #2317
@ibaned, does this mean that we should or should not allow the enable of the Pthread TPL when we configure Trilinos with OpenMP or Serial Kokkos backends?

@mhoemmen, other than some than some tests that need `std::` C++11 threading to run, what other reasons are there for enabling the Pthread TPL when configuring Trilinos, even if Kokkos will use a different (or no) threading backend?

[2018-04-24 13:40] csiefer2 commented on #2594
@trilinos/framework This is starting to get *really* annoying.  We've been looking at 8+ hour delays on the autotester so far this week.  Can you bump up the priority of the TriBITS upgrades (or throw more resources at the autotester)?

[2018-04-24 13:52] ibaned commented on #2317
The Pthread TPL is fine to enable regardless of Kokkos backends. It doesn't cause any issues with OpenMP or otherwise. It is also fine to disable, unless the Kokkos Threads backend is used.

[2018-04-24 13:55] jmgate commented on #2594
Roughly how many PRs are we seeing per day?

[2018-04-24 13:58] csiefer2 commented on #2594
Yesterday we had 7 new ones and the autotester is still working through the backlog from yesterday...

[2018-04-24 13:59] csiefer2 commented on #2594
... and 2 old ones that left WIP

[2018-04-24 14:00] csiefer2 commented on #2594
... and 3 old ones that left WIP

[2018-04-24 14:07] jmgate commented on #2594
Is "we" all of Trilinos, or Tpetra, MueLu?

[2018-04-24 14:09] csiefer2 commented on #2594
Trilinos as a whole.  It would be simple to scrape the PR page to do a graph of PR's merged per day.  That might be a good thing for the framework team to track (if you do need more resources, that'll be how you justify it).

[2018-04-24 14:10] SG38 commented on #2618
@aprokop Multiplying initial guess x0 by |A*x0-b| fixes the issue. I have checked that A*x-b < tol.
@mhoemmen The PseudoBlockCG is not sensitive to right and left preconditioning strategy.

I am looking for an initial guess that can reduce the iterations. This initial guess works fine with MueLu. Maybe somebody can advise me a way to set the initial guess LHS?

[2018-04-24 14:12] bartlettroscoe commented on #2463
One option for this Intel build is to use the SEMS Dev Env setup documented in:

* https://github.com/trilinos/Trilinos/wiki/SEMS-Dev-Env

You basically just source:

[code]

and then configure Trilinos using the option:

[code]

Using the new aggregate file `MpiReleaseSharedPtSerial.cmake` in PR #2609, you just configure with:

[code]

and that is it!

If we want to allow for tweaks  (like some s

[2018-04-24 14:28] bartlettroscoe commented on #2594
As a data-point, a simple re-enable of some Anasazi tests for some ATDM Trilinos builds in PR #2621 which was created at 3:59 PM MT did not have the testing completed until 11:07 PM MT.  That is not quite 8 hours but it is close to it.

I worry about the added time that an Intel 17 build will add to the auto PR tester.   The Intel 17.0.1 build and tests takes almost 4 hours to complete as mentione

[2018-04-24 14:32] csiefer2 commented on #2594
I'm still waiting for tests of something I submitted yesterday at COB to *start*.   Eight hours was being conservative :P

[2018-04-24 14:37] bartlettroscoe commented on #2594
I think a better statistic is the number of PR builds started in the last 24 hours shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildstarttime&compare2=84&value2=now&field3=buildstarttime&compa

[2018-04-24 14:38] bartlettroscoe commented on #2594
@csiefer2 is it not starting because of some reason other than a backup of the auto PR tester?  See:

* https://github.com/trilinos/Trilinos/wiki/Pull-Request-Testing-Interface
* https://github.com/trilinos/Trilinos/wiki/Committing-Changes-to-the-Trilinos-Repository

[2018-04-24 14:45] bartlettroscoe commented on #2524
@bathmatt, can you please let me what machine and build of Trilinos you saw these warnings in?

[2018-04-24 14:47] bartlettroscoe commented on #2580
I think this was addressed by the merge of PR #2586, right?  Can we close this as complete?

[2018-04-24 14:48] bathmatt commented on #2524
My machine, and I think ride, but I know my machine.  It is gcc5.3 and cuda9.1

also, ever since sandia blocked gmail access I no longer really see any github issues.  our mail system is so jacked I don't wanna move to it.

[2018-04-24 14:51] bartlettroscoe commented on #2580
NOTE: As some evidence this is working, ShyLU_NodeTacho is shown as disabled in the full PT CUDA Debug build shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3455102

where the configure output at:

* https://testing-vm.sandia.gov/cdash/viewConfigure.php?buildid=3455141

shows:

[code]

Given this evidence, I am going to close this as complete.

If someone objec

[2018-04-24 14:51] #2580 closed

[2018-04-24 15:14] csiefer2 commented on #2594
@bartlettroscoe Nope.  Just backlog.

[2018-04-24 15:16] allevin commented on #2594
@csiefer2 I investigated why your job did not start.  It seems a number of Jenkins jobs that run the autotester uses are disabled.  We are looking into the @trilinos/framework team is investigating.

[2018-04-24 15:19] csiefer2 commented on #2594
Jenkins messed stuff up?  How am I not surprised...

[2018-04-24 15:24] csiefer2 commented on #2594
@trilinos/framework Do you guys have stats the mean/std deviation of the number of testable PR's per day?

How many sigmas before we can expect the autotester to be overwhelmed (if Jenkins is working)?

[2018-04-24 15:33] aprokop commented on #2430
@lucbv How long do you think it would take?

[2018-04-24 15:35] lucbv commented on #2430
@aprokop it depends a little on my schedule, this week I am busy on another project but I can get my part done early next week and we can coordinates with @jhux2 for the review.
Does that work for you?

[2018-04-24 15:36] aprokop commented on #2430
@lucbv Sure. I am looking at other phases right now.

[2018-04-24 15:41] chochmuth opened #2626 "Xpetra: Emulate dot product with CrsMatrixWrap and MultiVector possible?"
Hello,
i would like to emulate a dot product of two vectors with a CrsMatrixWrap **A** and a MultiVector **x**.
The CrsMatrixWrap columns are distributed with the same map as the MultiVector.
Further, the CrsMatrixWrap RowMap is replicated and the RangeMap is a single index(scalar).

With A = (1, 1, 1, 1) and x = (1, 1, 1, 1)^T, the result y=A*x is dependent on the number of procs used:
-np 4, res

[2018-04-24 15:45] mhoemmen commented on #2317
@bartlettroscoe wrote:

I actually searched Trilinos for `pthread_` and found nothing.  Teuchos requires C++11 so we should all use the C++ Standard Library stuff like `std::call_once` and `std::mutex` if we need thread synchronization.

[2018-04-24 15:47] mhoemmen commented on #2317
@bartlettroscoe My above comments suggest that maybe we don't need the Pthread TPL at all.  I've been fine with it enabled but perhaps it's not necessary.  On the other hand, sometimes OpenMP implementations or other TPLs need it, so I'm not sure we should just turn it off by default.

[2018-04-24 15:53] hkthorn commented on #2544
@aprokop @mhoemmen Sorry, I was on vacation.  I'll look into this.  Unfortunately, generalized Davidson was not written by me or Chris Baker, so I am not as familiar with how Steve Hamilton implemented the solver.

[2018-04-24 15:55] mhoemmen commented on #2524
@bathmatt i just treat github like work facebook and poll the web site for notifications :(

[2018-04-24 16:04] aprokop commented on #2544
@hkthorn Can you ping Steven on this?

[2018-04-24 16:10] tawiesn commented on #2626
@chochmuth I am not completely sure that i understand what you want and what you observe. So, you do not want the result of the regular matrix-vector product A * x where A is just a laying 1x4 vector, right? Because then, the result should always be y = 4 independent of the number of procs. I'm confused, since in your code snippet you define `numGlobalElements=4` and the std::cout line in the end

[2018-04-24 16:30] prwolfe commented on #2594
@csiefer2 Honestly, we have yet to hit the expected limit.  Jim and I did some work profiling recently and it looks like we have some additional capacity (which is why I am working on the intel Pr build.)

As for what would be the limit, it depends on the rate and timing, so I can't really give you an answer other than that we will be monitoring this.

[2018-04-24 16:37] prwolfe commented on #2524
@mhoemmen - I also treat GitHub like work Facebook and forget about it regularly ;_>. Bit me today.

[2018-04-24 16:44] chochmuth commented on #2626
No, the regular matrix-vector product A * x where A is just a laying 1x4 is what I want. The result is a 1x1 scalar and in my case the result should always be 4, correct.
I want to distribute the columns of A, not the rows.
You mentioned the column map, my map possesses 4 global entries, resulting in 4/numProcs local entries.
So in my case with -np 4 each proc gets a single column of A, with -np 2

[2018-04-24 16:58] prwolfe commented on #2594
While it seems easy, determining if a given arbitrary file should trigger a rebuild is not trivial.  In fact I found a few shell scripts designed to modify the checkout and in one case the code.  I will talk with Aaron and Jim about the specific directory mentioned, but there is no policy or technical control to keep the scripts there from changing in nature.

I would favor eliminating some code a

[2018-04-24 17:28] bartlettroscoe commented on #2473
The PR #2621 was merged that re-enables these tests.  Now we wait and see how they run and if they fail or not in the coming days and weeks.  I am removing the "Disabled Tests" label.

[2018-04-24 18:04] tawiesn commented on #2626
@chochmuth Ok, now i see what you mean.

You create the matrix using the CrsMatrixWrap constructor using

`Xpetra::CrsMatrixWrap<...>(mapSingleRow,map, 4)`

with

`map =
      Xpetra::MapFactory<...>::createUniformContigMap(lib, numGlobalElements, comm);`

If you look at the constructor of `CrsMatrixWrap` it expects a column map (colMap) as second argument.
Column maps are (in contrast to DomainMa

[2018-04-24 18:06] prwolfe commented on #2594
Not sure - let me do some digging.

[2018-04-24 19:19] fryeguy52 opened #2628 "NOX tests timing out in ATDM configuration RHEL6 builds"
@trilinos/nox

## Next Action Status

## Description
There are 4 NOX tests that are failing due to timeout in the ATDM configuration when building on RHEL6 with the sems environment.  They have been failing in this way since 4/18/18. The test are:

NOX_LOCA_BrusselatorHopf_MPI_2
NOX_LOCA_BrussXYZT_BlockDiagonal_MPI_2
NOX_LOCA_TcubedTP_MPI_2
NOX_LOCA_TcubedTP_stratimikos_MPI_2

3 others are failing

[2018-04-24 20:12] bartlettroscoe commented on #2628
The following queries provide some more information:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-04-24&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=6&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm&field2=testname&compare2=63&value2=NOX_LOCA_&field3=buildstarttime&compare3=84&value3=2018-04-25&field4=status

[2018-04-24 20:35] mhoemmen commented on #2565
Fix should piggyback off @csiefer2 's computeGlobalConstants option.  If it's computed on demand, we could make the local constants also computed on demand.

[2018-04-24 20:36] mhoemmen commented on #2565
@alanw0 noticed that this was a hot spot in his application.

[2018-04-24 20:39] fryeguy52 commented on #2628
The specific builds that seem to be effected are:
- Trilinos-atdm-rhel6-gnu-debug-openmp
- Trilinos-atdm-rhel6-gnu-opt-openmp
- Trilinos-atdm-white-ride-cuda-debug-all-at-once

After looking more closely, a few more observations:
- it seems that this test usually runs in less than 1 minute on other builds but for these builds even when it passes it takes 9+ minutes to complete
- any NOX_LOCA tests

[2018-04-24 20:47] mhoemmen opened #2630 "Tpetra: Deprecate & remove get*NumDiags & is{Lower,Upper}Triangular"
@trilinos/tpetra

Deprecate and remove the following functions from RowGraph, RowMatrix, CrsGraph, and CrsMatrix:
  - `isLowerTriangular`
  - `isUpperTriangular`
  - `getGlobalNumDiags`
  - `getNodeNumDiags`

## Progress

We've finished deprecating the functions.  We have work-arounds in Ifpack2 and Tpetra, for getting the functionality without triggering the deprecation warnings.  We've also wrap

[2018-04-24 20:53] etphipp commented on #2628
These tests all use Epetra (and not Tpetra).  Two questions:

1. Is Epetra actually configured to use OpenMP?
2. If so, are the threads being bound properly so that the machine is not being oversubscribed (where each MPI rank is trying to use all of the threads on the machine)?

[2018-04-24 20:54] bartlettroscoe commented on #2628
@fryeguy52,

If you look at the three failures on `Trilinos-atdm-white-ride-cuda-debug-all-at-once`, they are failures, not timeouts, and they are all on the same day and build at 2018-04-12T06:40:45.   Two of those tests showed the error:

[code]

The other test was a setgfault late into running the test:

[code]

These same failures did **not** occur for the identical build on 'white' that day.

[2018-04-24 21:08] bartlettroscoe commented on #2628
@trilinos/nox,

Should we disable Epetra support in NOX for ATDM?  Do the ATDM APPs need Epetra support in NOX?  Should we set `NOX_ENABLE_Epetra=OFF`?

[2018-04-24 21:12] etphipp commented on #2628
They can use Epetra and NOX, so I wouldn’t do that quite yet.

[2018-04-24 21:12] wfspotz commented on #2628
I am implementing the NOX solvers in ATDM, and I have been developing them to support Epetra and Tpetra

[2018-04-24 21:55] bartlettroscoe commented on #2317
@mhoemmen, the experience with the Teuchos MM classes thread-safe work with that you need to explicitly link in the `-lpthread` lib if you want to use C++11 threading support.  This is needed to run the  multi-threaded unit tests.

[2018-04-24 22:10] csiefer2 commented on #2630
Claiming MueLu/Xpetra

[2018-04-24 22:33] bartlettroscoe opened #2633 "Test Anasazi_Epetra_LOBPCG_solvertest_MPI_4 randomly failing in Trilinos-atdm-white-ride-gnu-debug-openmp build"
Test Anasazi_Epetra_LOBPCG_solvertest_MPI_4 randomly failing in some ATDM builds

**CC:** @trilinos/anasazi, @fryeguy52

## Next Action Status:

Next: Watch to see if the test failures more in the future and then decided what to do ...

## Description

As shown in the query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and

[2018-04-24 22:35] bartlettroscoe commented on #2633
@hkthorn, any idea what might be causing this one test to segfault randomly for this build on white/ride?

We can watch this as wait to see if any more failures occur.  If they do, then we can disable this test for this build and then let it be fixed offline.

[2018-04-24 22:39] kddevin commented on #2522
MPI is limited to have integers as its send/receive size in the MPI API.  In this case, you can likely avoid the problem by not building the entire matrix on rank 0 and then redistributing.  Instead, assign each processor a set of rows, read the matrix in chunks, broadcast each chunk, and let each processor store the entries corresponding to its rows.  Roughly,

[code]
Then you can redistribute la

[2018-04-24 22:39] #2522 closed

[2018-04-24 22:41] bartlettroscoe commented on #2473
NOTE: The test `Anasazi_Epetra_LOBPCG_solvertest_MPI_4` that was randomly failing as described [above](https://github.com/trilinos/Trilinos/issues/2473#issuecomment-379821924) is still randomly failing with a segfault, as recent as 2018-04-23.  Therefore, since PR  #2517 did not fix this test, we can assume it is unrelated to the other Anasazi tests covered in this issue.  I created the new issue

[2018-04-24 23:10] csiefer2 commented on #2630
I have Xpetra & MueLu purged on my machine and the tests all work

@kddevin Can you take care of this one (and push separately)?

zoltan2/test/unit/models/GraphModel.cpp

[2018-04-24 23:29] chochmuth commented on #2626
@tawiesn Thanks for your help. I'm sorry if I did not make myself clear. What you describe is also the default behaviour (no ColumnMap passed to the constructor) when constructing a matrix, right?
You state that
" [...] the data of the matrix (the whole row) lies on one processor (probably proc 0). ",
and this is exactly what I don't want. That's why i tried to use the non-overlapping ColumnMap `m

[2018-04-24 23:49] kddevin commented on #2630
@csiefer2 Zoltan2 is done.  See PR #2634 waiting for your review.

[2018-04-25 01:12] rppawlo commented on #2628
I don't think we can actually disable epetra in panzer. That will take some work.

[2018-04-25 12:44] bartlettroscoe commented on #2628
It does not look like Epetra has a way to disable OpenMP just for Epetra as shown at:

* https://github.com/trilinos/Trilinos/blob/a0d5f35011ce97bb3d9a6ccf3f22c0c8dba00676/packages/epetra/src/CMakeLists.txt#L13

It is just hard-coded to use `${PROJECT_NAME}_ENABLE_OpenMP`.

We could add a proper `Epetra_ENABLE_OpenMP` option to allow us to turn off OpenMP for Epetra.  Should we do that?

[2018-04-25 12:59] bartlettroscoe commented on #2633
@hkthorn, this test only failed three times in last month and we are not yet at the stage where we are running automated processes requiring 100% passing tests. Therefore, I think it is okay to leave this test on on this build and wait to see if it can be fixed and if it fails more.

Let us know when you figure this out.

[2018-04-25 14:02] csiefer2 commented on #2630
#2635 awaiting review & merge

[2018-04-25 14:52] bartlettroscoe commented on #1761
FYI: Just got pinged by @prwolfe about header-only libraries with TriBITS.  Supporting that cleanly would require a upgrade of CMake to a least 3.0.  The is the first version of CMake that supports the `add_library( ... INTERFACE ... )` as shown at:

* https://cmake.org/cmake/help/v3.0/command/add_library.html

This would also allow the refactoring of TriBITS to use the newer CMake features of `ta

[2018-04-25 15:08] fryeguy52 commented on #2628
I rebuilt the same version as yesterday and ran the tests on `ceerws1113` (rhel6 cee machine) with `ATDM_CONFIG_CTEST_PARALLEL_LEVEL=4`.  The same tests timed out as yesterday. This is what I did:
[code]

test result summary:
[code]

[2018-04-25 15:14] bartlettroscoe commented on #2628
@fryeguy52, what happens when you run just:

[code]

for example?  Does that one test run all by itself timeout?  What about the other tests?

[2018-04-25 15:40] fryeguy52 commented on #2628
run individually they all pass:

[code]
if I just run `ctest` with no -j then everything passes:
[code]

with `ctest -j4`:

[code]

[2018-04-25 15:43] mhoemmen commented on #2628
@bartlettroscoe wrote:

It's worth trying, at least to see if that fixes the tests.

[2018-04-25 15:46] mhoemmen commented on #2630
@kddevin I jumped the gun a bit and merged #2634 for you :)

[2018-04-25 15:50] mhoemmen commented on #2630
@csiefer2 I reviewed & approved #2635; looks good!

[2018-04-25 16:02] bartlettroscoe commented on #2628
Wow, that is unfortunate.  Even with all other thread bounds to the same core, I don't see how a test that takes 4.8s to complete can timeout at 10 minutes!

Let's try disabling OpenMP in Epetra and see what happens.

@fryeguy52, I will create a branch of Trilinos that disables OpenMP for our ATDM builds and then point you to it to test.

[2018-04-25 16:08] mhoemmen commented on #2630
@csiefer2 I'm weirdly not able to push the merge button on #2635 despite it having been tested.

[2018-04-25 16:10] jwillenbring commented on #2594
@csiefer2 's build sat queued too long due to a mistake on my part. I will avoid similar mistakes in the future.

As @prwolfe noted, our current testing resources are sufficient for processing the pull requests we need to process. We took steps to decreases the chances of pull requests having to wait behind other pull requests, and will make an even more aggressive change by the end of tomorrow. T

[2018-04-25 16:10] mhoemmen commented on #2630
@csiefer2 Never mind, there's just a delay after the review until the system sees it.  I just merged #2635; thanks! :D

[2018-04-25 16:25] mhoemmen commented on #2630
I'm purging these function calls (not the functions themselves) from Tpetra.

[2018-04-25 16:44] bartlettroscoe commented on #2628
@etphipp,  Thanks!  That did the trick for me too.  The PR #2638 applies this fix and I verified that it fixed the NOX tests.    Can you go ahead and approve the PR?

Is this an initial solution to the OpenMP binding problem described in #2422, to allow us to enable OpenMP in an auto PR build?

[2018-04-25 16:49] etphipp commented on #2628
Great!  I approved the PR.

I suppose its an initial solution, but I don't see it being an ideal one.  Ideally ctest would correctly bind MPI ranks to separate cores when launching multiple tests simultaneously, and respect the number of threads each test is using.

[2018-04-25 16:49] bartlettroscoe commented on #2317
FYI: As pointed out by @etphipp in https://github.com/trilinos/Trilinos/issues/2628#issuecomment-384347891, setting:

[code]

seems to fix the problem of OpenMP threads all binding to the same core on a RHEL6 machine.  Perhaps this will let us enable OpenMP for the GCC 4.8.4 auto PR build being set up in #2462?

[2018-04-25 16:51] bartlettroscoe commented on #2422
FYI: As pointed out by @etphipp in https://github.com/trilinos/Trilinos/issues/2628#issuecomment-384347891, setting:

[code]

seems to fix the problem of OpenMP threads all binding to the same core on a RHEL6 machine.

Could this be a short-term solution to the problem of setting up automated builds of Trilinos with OpenMP enabled?

[2018-04-25 17:10] ibaned commented on #2422
@bartlettroscoe yes, thats a step in the right direction. Threads will at least be able to use all the cores, although they will move around and threads from different jobs will compete if using `ctest -j`. Still, you should get semi-decent results from this. I recommend dividing the argument to `ctest -j` by the number of threads per process. In fact I think `--bind-to none` is the best way to go

[2018-04-25 17:11] jhux2 opened #2641 "MueLu: should MMKernelDriver.cpp use KokkosKernel's interface to MKL?"
KokkosKernels provides an interface to MKL.  Would it make sense for the MMKernelDriver test to use that, rather than direct calls to MKL?

@csiefer2 @srajama1

[2018-04-25 17:13] csiefer2 commented on #2641
The point of this exercise was to not have to bludgeon to KokkosKernels build system until we could get ViennaCL to work correctly.

Moreover, the point of this test is to provide a way to bake Tpetra kernels off against KK ones.  Which cannot, by definition, happen in KokkosKernels.

[2018-04-25 17:37] srajama1 commented on #2641
Kokkoskernels has an interface to ViennaCL for testing purposes. We didn't see a reason to expose it to users from our experiments. I am not sure why you needed that interface. The MKL interface in Kokkoskernels is for long term.

Long term, I also don't like the idea of different packages in Trilinos calling MKL (or any TPL) directly. This causes lot of TPL versioning issues. We are committed to

[2018-04-25 17:45] csiefer2 commented on #2641
FYI, this is Experimental-guarded testing code for our own testing purposes.

[2018-04-25 18:01] srajama1 commented on #2641
Understood. As long as it is guarded w/ custom experimental guards and not Trilinos level TPL guards they should be fine. I don't want to enable MKL at Trilinos level (say for ATDM apps) and run into a versioning issue.

Wearing the Kokkos Kernels hat, I wish you used it, filed issues on it  etc :) (take off that hat).

[2018-04-25 18:11] prwolfe commented on #1761
What I was doing that I pinged @bartlettroscoe was attempting to set up a build of stk for a PR.  While he did provide a work-around it is less than elegant.

I also went and looked and the default came on RHEL6 is 2.8.12.  A consideration for supporting some customers, but not a large one considering both that make is a fairly robust build and that RPMs for it up to 3.11 are readily available thr

[2018-04-25 18:35] tawiesn commented on #2626
Well, in principle you should be able to do this using a locally replicated row map (that is, the row map would be [0,1,2,3]) and the same range map. But that would not help to get the "4" as you still need the fully replicated column map [0,1,2,3] to sum up the results over all columns. I never tried something like that.

Anyway, from a communication perspective doing something like that doesn't

[2018-04-25 18:55] bartlettroscoe commented on #2620
@etphipp,

As documented in #1208 last year, Tech-X contractors tracked this down to what looks like a compiler defect in passing some arguments between C++ and C or Fortran.  But most of those failures appear to be occurring with compiler optimization turned on as evidenced by the numerous values we see in the 'opt' builds on this system as documented in #2454.  But we did see an LAPACK test fail

[2018-04-25 19:04] bartlettroscoe commented on #2422
@ibaned, that is basically what we have been doing up till now in the ATDM Trilinos builds and that is consistent with how we have set the CTest `PROCESSORS` property.  The full scope of this current Issue is to tell ctest about the total number of thread to be used and use the updated version of CMake/CTest that can set process affinity.

When I get some free time on my local RHEL6 machine, I wil

[2018-04-25 19:18] etphipp commented on #2620
So, you're saying I can ignore these failures?

[2018-04-25 20:28] jhux2 commented on #2641
Question answered, closing.

[2018-04-25 20:28] #2641 closed

[2018-04-25 20:56] jwillenbring commented on #2422
@prwolfe We spoke today about updating the arguments for the GCC PR testing builds. When we do, and add OpenMP to one of them, we should use the argument described above.

[2018-04-25 20:58] prwolfe commented on #2422
Hmm, had not started OpenMP yet, but that would be good.

[2018-04-25 21:31] barche commented on #2338
Interested too, after also hitting a compile error after #2290

[2018-04-25 21:46] mhoemmen commented on #2338
@barche

1. FYI forward declarations of templated classes don't have a way to specify default template parameter values
2. DON'T SPECIFY TEMPLATE PARAMETERS THAT HAVE DEFAULT VALUES UNLESS YOU INTEND TO USE A NONDEFAULT VALUE

[2018-04-25 22:11] etphipp commented on #2620
I verified the stokhos tests are in fact failing due to the call to the DSTEQR LAPACK function.  I downloaded the reference implementation of that function from netlib, renamed the function, changed stokhos to call that function, and compiled it with the rest of stokhos and all of the stokhos tests passed.  So it is definitely some issue with calling routines in the BLAS/LAPACK library on that mac

[2018-04-25 22:41] hkthorn commented on #2544
@aprokop @mhoemmen I have taken a look at the Generalized Davidson solver.  While I do not know why there is a +2, I can certainly see why there would be a +1.  If this is a non-Hermitian generalized eigensystem then there can be complex eigenvalues, which need to be represented by a 2x2 blocks since real arithmetic is being used in this solver.  That means there could be an extra Ritz value and v

[2018-04-25 23:14] hkthorn commented on #2387
@kgbudge @mhoemmen @maherou I have not heard anything about this bug, I can't recreate it, nor can I validate it because the referenced line changed in July of 2017 because of what may be the same issue.  I'm going to consider this bug closed.

[2018-04-25 23:14] #2387 closed

[2018-04-25 23:37] hkthorn commented on #2618
@SG38 I'm confused.  If modifying/scaling the initial guess fixes the issue, then the solver IS using the initial guess (LHS).  By default the pseudo block CG solver uses the initial residual as the scaling factor for determining convergence.  That is what @aprokop is speaking to above.  If you want something else, like the norm of the RHS or no scaling whatsoever, then you can set the "Implicit R

[2018-04-25 23:45] bartlettroscoe commented on #2620
@etphipp

That is interesting.  It is possible there is something wrong with some of the LAPACK routines.  The compiler bug identified #1208 was for an optimized build.  But that does not mean there is not also a problem with the BLAS/LAPACK installed there.  Perhaps that is why the LAPACK unit tests failed as described in #2410?

@nmhamster, can we have the Test Bed team install the netlib BLAS a

[2018-04-25 23:49] mhoemmen commented on #2630
PR #2644 starts this process in Tpetra.

[2018-04-26 04:55] mhoemmen commented on #581
@trilinos/tpetra @jhux2 @csiefer2 @kddevin

#2644 adds some urgency to this issue.  The implementation of `Tpetra::CrsMatrix::localSolve` (local sparse triangular solve) currently:
  - uses `is{Lower,Upper}Triangular` to decide whether the local matrix is lower or upper triangular, and
  - uses `getNodeNumDiags` to decide whether the local matrix has an explicitly stored diagonal, or an implicitly

[2018-04-26 07:45] barche commented on #2338
I hit this when mapping Tpetra types to Julia, specifically here:
https://github.com/barche/Trilinos.jl/blob/master/deps/src/trilinoswrap/tpetra.cpp#L213
Here, `T` is e.g. a `Tpetra::CrsGraph`. I would have expected that the `false` would not need to be specified since it is the default, but if I don't put it explicitly the compiler says there are not enough template arguments.

FWIW, I'm glad thi

[2018-04-26 12:31] SG38 commented on #2618
@hkthorn Thank you. "Norm of RHS" is better when using LHS0 = MultiVector::Random

[2018-04-26 12:31] #2618 closed

[2018-04-26 13:42] jwillenbring commented on #2338
@trilinos/framework let’s discuss this at the Monday standup.

[2018-04-26 14:26] prwolfe commented on #2338
2 thoughts - shouldn't the code be embedded in a version - i.e. would not need to discriminate between versions, and what about `git describe`? If we are doing a single merge commit per promotion it will give us the count you are after. If we doing full history imports it won't.

[2018-04-26 15:36] mhoemmen commented on #2338
@barche wrote:

Just curious -- what compiler are you using?  I've only ever seen this when people do their own forward declarations of Tpetra classes.

I have some type aliases in the works that should make it easier to do backwards compatibility for Tpetra classes' template parameters.

[2018-04-26 16:37] hkthorn commented on #2544
@aprokop @mhoemmen

Here is Steven's reply to my inquiry:

_Heidi,

You are correct that the issue is due to handling of conjugate pairs, and I might be handling it in an inelegant way.

The problem is that according to the current implementation, the subspace may be expanded by two vectors in a single iteration.  If the current “best" Ritz value is a conjugate pair, then we store the correspondin

[2018-04-26 17:05] mhoemmen opened #2647 "Ifpack2::LocalSparseTriangularSolver: "trisolver: reverse U" option is untested; remove or test"
@trilinos/ifpack2 @trilinos/tpetra @kddevin @csiefer2 @jhux2 @kyungjoo-kim @ambrad

As part of the urgent Tpetra task #2630, I will need to change some code in `Ifpack2::LocalSparseTriangularSolver`.  I noticed that this class has a "trisolver: reverse U" option.  However, that option is completely untested anywhere in Trilinos.  I'm not convinced that it would work unless using the HTS solver opt

[2018-04-26 17:16] jhux2 commented on #2647
I think @aprokop added this feature for the Exawind project.

[2018-04-26 17:16] ambrad commented on #2647
@mhoemmen, I believe @aprokop can tell you about the reverse-U option. Tbc, it's orthogonal to HTS and was put in LSTS for another project after HTS; in fact, if HTS is used, there's no point in reversing U. Within LSTS, HTS is managed through a few lines of code that call the HtsImpl wrapper.

[2018-04-26 17:24] ambrad commented on #2647
Sure, makes sense.

[2018-04-26 20:17] aprokop commented on #2544
@hkthorn Thank you so much for carefully looking at the issue, and contacting Steven. I'll try to incorporate his suggestion, and will report back.

[2018-04-26 20:19] barche commented on #2338
After realizing I forgot to remove the `bool` inthe template template parameter spec, the error I get on GCC 7.3.1 is:
[code]
Clang gives a similar error, it seems that default arguments are not taken into account when matching template template parameters.

[2018-04-27 00:11] bartlettroscoe commented on #2628
After the merge of PR #2638, there are no more timeouts at all in these ATDM Trilinos RHEL6 builds.  for example, you can see all the newly passing tests for the build `Trilinos-atdm-rhel6-gnu-debug-openmp` today at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3464120

See the `+7' superscript on top of the `105` passing tests for NOX?

Now there is just one failing

[2018-04-27 00:11] #2628 closed

[2018-04-27 12:13] bartlettroscoe opened #2650 "SEACAS tests failing in ATDM CUDA builds starting 4/26/2018"
**CC:** @trilinos/seacas, @gsjaardema, @fryeguy52

## Next Action Status

Updated SEACAS is also causing mesh reading problems on non-CUDA builds for larger numbers of MPI ranks.  PR #2653 was merged which reverts PR #2625 updating SEACAS.  Next: Debug and fix the issues offline before the next update of SEACAS into Trilinos ...

## Description

As shown in the query:

* https://testing-vm.sandia.

[2018-04-27 12:40] bartlettroscoe commented on #2650
@gsjaardema,

Just curious, but did you get a CDash email about these failures like the one shown below?  It looks like Trilinos is currently set up to send email to the address `seacas-regression at software.sandia.gov`.   It looks like that mailman list exists.  It is set up to send you emails?

----

From: CDash [mailto:trilinos-regression@sandia.gov]
Sent: Thursday, April 26, 2018 11:23 AM
To:

[2018-04-27 12:41] bartlettroscoe commented on #2464
FYI: Having an auto PR build that just builds the code and does not run tests would not have caught #2650 that just occurred yesterday.

[2018-04-27 12:42] spdomin commented on #2050
I thought that by default SIMD is inactive and requires:

-DTrilinos_ENABLE_STKSimd:BOOL=ON \

@alanw0 would probably know. There are some cases I would like to disable SIMD. In the last, omission of the above supports this use case.

[2018-04-27 12:48] bartlettroscoe commented on #2270
We have not seen these tests timing out in a long time.  What this issue fixed?

[2018-04-27 12:56] bartlettroscoe commented on #2270
Okay, [above](https://github.com/trilinos/Trilinos/issues/2270#issuecomment-367815146), I see that the tests got disabled for debug builds.

As per the documented process [Triaging and addressing ATDM Trilinos Failures](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/Triaging+and+addressing+ATDM+Trilinos+Failures),  I have added the "Disabled Tests" and "Stalled" labels and added a "## Ne

[2018-04-27 13:06] bartlettroscoe commented on #2270
FYI: For some reason, this Issue is not properly showing up in the query:

* https://github.com/trilinos/Trilinos/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22Disabled+Tests%22+label%3AATDM

But if I remove the "label:ATDM" argument, it shows up in the query:

* https://github.com/trilinos/Trilinos/labels/Disabled%20Tests

This must be some type of GitHub query defect.  Hopefully we don't see this

[2018-04-27 13:15] bartlettroscoe commented on #2650
These tests all seem to be terminating early with the error:

[code]

[2018-04-27 13:40] bartlettroscoe commented on #2270
@allevin, I had hit "Ctrl+R" several times and it did not work with Chrome on Windows 7. But I just tried again just now and it works on the same browser.   Strange.  Don't know what that means but hopefully this is not a GitHub issue.

[2018-04-27 13:56] rppawlo commented on #2650
It's more than just cuda. @pwxy @bathmatt are seeing failures on other machines as well when you go to larger MPI process counts.

[2018-04-27 14:01] pwxy commented on #2650
Broke EMPIRE on mutrino HSW and KNL.  For example for mutrino HSW when reading an exodus meshed decomposed into 8 submains, EMPIRE is fine.  But when try to read the same exodus mesh decomposed into 16 domains, get the following errors:

Exodus Library Warning/Error: [ex_check_valid_file_id]
	ERROR: In "ex_inquire_internal", the file id -1 was not obtained via a call to "ex_open" or "ex_create".

[2018-04-27 14:05] bartlettroscoe opened #2652 "Test Teko_testdriver_tpetra_MPI_1 failing in new ATDM Trilinos GCC 6.1.0 RHEL6 builds"
**CC:** @trilinos/teko, @fryeguy52

## Next Action Status

PR #2656 merged which disabled just this one unit test for just these RHEL6 builds.  Next: See if this test passes on 4/29/2018 ...

## Description

As shown in the query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-04-26&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&

[2018-04-27 14:07] bartlettroscoe commented on #2652
This is the only failing test that is stopping these new RHEL6 builds from getting promoted to the "ATDM" CDash Track/Group so that they can be maintained as clean.

@srajama1 and @rppawlo, which product area does Teko fall under?  Who's responsibility is Teko from ATDM?  Are the ATDM APPs even using Teko?

[2018-04-27 14:11] bartlettroscoe commented on #2650
Is there some way to define a native SEACAS test that can show these failures and then fix the failing test?  Can the failure being described be demonstrated with a smaller number of MPI ranks?

[2018-04-27 14:12] bathmatt commented on #2650
Can we revert it until this is all worked out?  I've confirmed on my standard RHEL:7 desktop this breaks reading exodus files with more than 9 mpi ranks.  No idea on why

[2018-04-27 14:26] bathmatt commented on #2650
@bartlettroscoe I'm betting it happens in panzer tests as well, I'll run mini-EM and verify

[2018-04-27 14:28] bathmatt commented on #2650
The legendary @pwxy figured out that if you remove the 0s in the decomposed mesh mesh.16.9 and not mesh.16.09 it now works..  What this on purpose?  Does decomp make the right meshes?

[2018-04-27 14:30] pwxy commented on #2650
Actually it was the AMAZING GENIUS @bathmatt who figured this out!

[2018-04-27 14:38] bathmatt commented on #2650
mini-EM works with the mesh decomped.  No idea now what is goig on.  We use the same mesh reader.

[2018-04-27 14:45] gsjaardema commented on #2650
We should probably revert until can figure out what is happening.  All this
works fine in seacas standalone and in sierra so no clue yet why trilinos
having issues.   I will be out until next Wednesday so best to revert and
try again later.

Should be no reason why. 0 in proc causes failure.  It isn’t an octal issue
I don’t think.  Also works in other builds.

I will revert.
.. greg

On Fri, Apr 2

[2018-04-27 14:47] gsjaardema commented on #2650
What library versions of netcdf and hdf5 are being used for these builds?

.. greg

On Fri, Apr 27, 2018 at 8:45 AM Gregory Sjaardema <gsjaardema@gmail.com>
wrote:

[2018-04-27 14:49] bathmatt commented on #2650
sems versions, the empire 0# thing is internal to some error checking in EMPIRE, not sure why it this error changes stuff, did something change in
    int file_id = ex_open_int(file.c_str(), mode, &comp_ws, &io_ws, &version, EX_API_VERS_NODOT);
I can work around that issue, but the cuda one  I'm not sure...  Don't revert for the EMPIRE issue, I will fix it on our end.

[2018-04-27 14:49] gsjaardema commented on #2650
@bartlettroscoe CUDA tests are failing during application shutdown.  My guess is that the SEACAS standalone has older version of Kokkos and the newer Trilinos/Kokkos has different shutdown behavior or requirements...  Will try to verify.

[2018-04-27 14:51] pwxy commented on #2650
For mutrino:
hdf5 1.10.1
netcdf 4.4.1.1

[2018-04-27 14:52] gsjaardema commented on #2650
@bathmatt There were changes to ex_open_int, but primarily they should have been limited to error checking.  There are some issues in some NetCDF versions based on some defines that should be there but are missing which might mess things up.  I will try with SEMS and see.

I will hold off on reverting unless others request...

[2018-04-27 14:54] bartlettroscoe commented on #2650
@gsjaardema, if you look at the configure output on CDash at, for example:

* https://testing-vm.sandia.gov/cdash/viewConfigure.php?buildid=3464194

it shows:

[code]

I think thee were installed by the test bed team.  If those need upgrade, then we need to contact them.

[2018-04-27 14:56] gsjaardema commented on #2650
There are some potential issues with hdf5-1.10.1 especially when used with an older netcdf in that it can potentially create files that are not readable with older versions of hdf5-1.8.X.  The HDF5 group fixed this in hdf5-1.10.2 with special build options `--with-default-api-version=v18` and we added a patch to NetCDF-4.6.2-devel to select v1.8 compatibility.  Issues don't always appear and if us

[2018-04-27 15:02] gsjaardema commented on #2650
@bartlettroscoe The configure output you are showing seems to also indicate that it isn't using the FindNetcdf.cmake that is in TriBITS?  It should be setting some other TPL_Netcdf_* symbols that don't seem to be there.  The output I usually see is something like:

[code]
The main symbols that I need are `NetCDF_NEEDS_HDF5`, `NetCDF_PARALLEL`, and `NetCDF_NEEDS_PNetCDF = True | False`

[2018-04-27 15:04] srajama1 commented on #2652
@bartlettroscoe : It falls under linear solvers.

@eric-c-cyr : This looks like a sublist is missing. Is it a quick fix or can we disable this ?

[2018-04-27 15:04] bartlettroscoe commented on #2650
@bathmatt, no all of the panzer tests **and** examples fully passed on all of the builds we currently have running as shown in the CDash query:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-04-26&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=-atdm-&field2=subprojects&compare2=93&value2=Panzer

(Ignore the one failu

[2018-04-27 15:08] bartlettroscoe commented on #2650
@gsjaardema, this is using the EMPIRE configure of Trilinos copied from the scripts in the EM-Plasma/BuildScripts/ repo.  If we can update the ATDM configuration to better use the FindNetcdf.cmake   module (hopefully in an updated TplFindNetcdf.cmake module), then we can use it.  But that would require careful testing on every platform before we could push that to the 'develop' branch.  Or we woul

[2018-04-27 15:08] gsjaardema commented on #2650
@bartlettroscoe I will add a SEACAS test covering the use case, but I'm not sure what use case is failing currently (other than the CUDA-related ones).

Since I won't be able to do much until Wednesday, may be best to back out the merge commit from #2625.  It was not urgent for any customers.

[2018-04-27 15:09] eric-c-cyr commented on #2652
Just both apps. Please don't disable. This should fall under the linear solvers. Could we get more information on the issue?

[2018-04-27 15:10] bartlettroscoe commented on #2650
@gsjaardema,

Okay, so unless there is an objection, I am going to back this merge commit out.

[2018-04-27 15:11] bathmatt commented on #2650
The EMPIRE issue has been resolved with changes in it. You probably strengthen checks in SEACAS that were now triggering.  But that issues on EMPIRE are resolved.  Now the cuda stuff is a different matter.

[2018-04-27 15:11] eric-c-cyr commented on #2652
Why do you think a sublist is missing? @egphill can you recreate this?

[2018-04-27 15:12] gsjaardema commented on #2650
@bartlettroscoe Not sure I understand issue with FindNetcdf.cmake in TriBITs?  I thought that all Trilinos builds used the TriBITs code and that we had fully vetted the FindNetcdf issues several months ago?

[2018-04-27 15:14] bartlettroscoe commented on #2652
@eric-c-cyr, full reproducability info is given [above](https://github.com/trilinos/Trilinos/issues/2652#issue-318422567).  It should be trivial to reproduce.

As long as this can be fixed fairly quickly, then we will not disable.  Otherwise, will (temporarily) disable this test for just the RHEL6 builds a per:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/Triaging+and+addressing+ATD

[2018-04-27 15:15] pwxy commented on #2650
@bathmatt I backed out your change from "0" to "EX_API_VERS_NODOT" in the ex_open_int call yesterday when I was debugging, and it didn't help the problem with empire failing to read the exodus files
int file_id = ex_open_int(file.c_str(), mode, &comp_ws, &io_ws, &version, EX_API_VERS_NODOT);

[2018-04-27 15:26] bathmatt commented on #2650
@gsjaardema, There was a non backward compatible change only in the extent that I was doing something wrong and getting away with it and you added error checking that caught it, shame on you, shame on you :)

I'd have seen it if I ran periodic meshes on more than 9 ranks with bad values.

[2018-04-27 15:27] gsjaardema commented on #2650
@bathmatt OK, I was just a little worried about references to the `ex_open_int` function.  I need to see if I can hide it better.  I had a user yesterday also trying to use it...

[2018-04-27 15:31] bartlettroscoe commented on #2650
@gsjaardema, as shown at:

* https://github.com/trilinos/Trilinos/blob/cd6dc17ca1b3a115aa9543a54c9cc1de9c0fb57e/cmake/std/atdm/ride/environment.sh#L63

and

* https://github.com/trilinos/Trilinos/blob/cd6dc17ca1b3a115aa9543a54c9cc1de9c0fb57e/cmake/std/atdm/ATDMDevEnvSettings.cmake#L205

the EMPIRE configuration of Trilinos bypasses the FindNetcdf.cmake find module and just directly sets the includ

[2018-04-27 15:33] pwxy commented on #2650
@gsjaardema I think that user was me.  It was the exact ex_open_int() in empire I mentioned above.  I was trying to track down the issue with failing to read exodus files with more than 9 MPI, so I was looking at the exodus calls in empire.

[2018-04-27 15:34] bartlettroscoe commented on #2652
@eric-c-cyr, the commands given [above](https://github.com/trilinos/Trilinos/issues/2652#issue-318422567) are:

[code]

Can you try that on any SNL COE RHEL6 machine that has the SEMS env?

I tried to make the reproducability of these issues as easy as I could.  If you can think of a way to make this easier, please let me know.  I am curious about your feedback on this.   The info given in:

* htt

[2018-04-27 15:35] gsjaardema commented on #2650
@bartlettroscoe RE: FindNetcdf.cmake.  OK, I understand.  We will probably need to modify the environment.sh and ATDMDevEnvSettings.cmake to add manual definitions of some of the symbols set in FindNetcdf.cmake in order to make sure the builds are consistent.

Alternatively, I will see if I can determine the settings down in the SEACAS CMake-related code at configure time which may be more robust

[2018-04-27 15:36] gsjaardema commented on #2650
@pwxy I was ptlin, but may have been related to the same issue since the symptoms seemed similar...

[2018-04-27 15:37] bartlettroscoe commented on #2650
@gsjaardema, let me know if you have any difficulty reproducing any of these ATDM builds.  I tried to make it as easy as I could think to make it.  Just source a single script with the build name that you want and run raw cmake passingin a single `*.cmake` file and enable any package you want.

[2018-04-27 15:38] pwxy commented on #2650
@gsjaardema Well, that ptlin guy is a moron!

[2018-04-27 15:41] eric-c-cyr commented on #2652
That is indeed easy...however I get the following error on my COE machine (I believe rhel6).

[code]

[2018-04-27 15:42] eric-c-cyr commented on #2652
I've fixed this now. I don't know what simple was about

[2018-04-27 15:43] bartlettroscoe commented on #2652
As long as you run:

[code]

you should be set as to your env.  Please let me know if you have any other issues.

[2018-04-27 15:44] eric-c-cyr commented on #2652
I did run this. My gitconfig was causing a problem.

[2018-04-27 15:46] eric-c-cyr commented on #2652
By simple, I meant my gitconfig has something like "[push] simple" in it. The configure script was rejecting this. I commented that out in my gitconfig and everything was fine. Once I got through that, this was easy to setup. I'm building now, so hopefully I will see the error.

[2018-04-27 15:48] rppawlo commented on #2652
@eric-c-cyr I've hit this before too. That's an option for newer versions of git. Older versions don't know how to handle it.

[2018-04-27 15:50] bartlettroscoe commented on #2652
I think that means that our env script needs to explicitly load an updated version of git from SEMS.  I will add that.

[2018-04-27 15:53] eric-c-cyr commented on #2652
Yes, I thought that was what was happening but after I reloaded the git version from sems I ran into the same problem. The issue was that it was grabbing my configure. Is there a way you can point git to the right Trilinos configure (though I think this is a minor problem, but it was a bit of a surprise)

[2018-04-27 16:25] eric-c-cyr commented on #2652
Also, if I run with and without "mpirun -n 1", I get different pass fails.

[2018-04-27 18:32] bartlettroscoe commented on #2652
I commented in PR #2654 that we can do a more targeted disable than that.  I can take care of that.

[2018-04-27 18:35] bartlettroscoe commented on #2652
That is very strange.  I don't really know what GCC 6.1.0 is being used for this build.  It was chosen by EMPIRE.  We would have to ask @bathmatt.

[2018-04-27 18:40] bartlettroscoe commented on #2652
@eric-c-cyr, as for the git issue, it looks like we are loading a not too old git version as shown by (run ceerws1113):

[code]

Are there get settings that don't work with git 2.10.1?  Which settings are these?

I will look into making all the git commands run by TriBITS, Trilinos, and the ATDM scripts ignore the global `.gitconfig` file if possible.  In the meantime, I will add a comment to:

*

[2018-04-27 19:31] bartlettroscoe commented on #2652
@eric-c-cyr, I added updated documentation in PR #2655.  Can you take a look and see if that would have helped address the issue you mention above with your `~/.gitconfig` file and the different version of git loaded by the `atdm/load-env.sh` script?

[2018-04-27 20:25] rppawlo commented on #844
This should be fixed.

[2018-04-27 20:25] #844 closed

[2018-04-28 00:59] bartlettroscoe commented on #2652
@eric-c-cyr, I created a new PR #2656 to disable just this one unit test for just the RHEL6 builds and that is all.  Can you please review and approve that PR?

[2018-04-28 03:00] mhoemmen commented on #2544
(listening :) )

[2018-04-28 23:25] bartlettroscoe commented on #2652
PR #2656 was just merged which disabled just this one unit test for just these RHEL6 builds.  This does not disable any unit test code on any platform where it was not already passing.

Now we just watch to see if these tests pass tomorrow on 4/29/2018.

[2018-04-29 14:44] bathmatt commented on #2650
Thanks, the EMPIRE issue is resolved minus the cuda issue.

[2018-04-30 20:27] mhoemmen opened #2658 "Tpetra::CrsGraph::computeLocalConstants ignores Maps to find lower/upper triangular, but CrsGraph uses Maps to find diagonal entries"
`Tpetra::CrsGraph::computeLocalConstants` only looks at the local index values to find whether the graph is structurally locally lower or upper triangular.  However, `computeLocalConstants` and other CrsGraph methods (e.g., `getLocalDiagOffsets`) use global indices to identify diagonal entries.

This means that users who expect lower / upper triangular status to rely on global indices, may get wro

[2018-04-30 21:42] ambrad commented on #581
Yes, HTS can only do an efficient forward solve, so an HTS object would have to be created for the transpose separately. (However, HTS does not require the input matrix to be explicitly transposed; the user just has to request that HTS build its data structures for the transpose solve.)

[2018-04-30 23:04] mhoemmen commented on #581
@ambrad Sorry to be a pest -- I just want to make sure I get it right -- does HTS implement the reverse non-transposed solve?  That is, does HTS handle both L and U?

[2018-04-30 23:45] ambrad commented on #581
1. HTS handles L and U, optionally with implicit unit diagonal. These properties are detected automatically.
2. It won't solve L'x = b if you ask it to construct its internal data structures for L.
3. But you can ask it to form data structures for L', given L, and then solve L'x = b.
4. Related to these, it handles row and column permutations and row scaling. The idea is to do everything necessary

[2018-04-30 23:47] mhoemmen commented on #581
Thanks @ambrad !  This is super helpful! :-D

[2018-04-30 23:47] bartlettroscoe commented on #2311
FYI:

As shown at:

* https://testing-vm.sandia.gov/cdash/testDetails.php?test=45978254&build=3471599

the test `MueLu_ParameterListInterpreterTpetraHeavy_MPI_1` failed again yesterday for the build
`Trilinos-atdm-sems-gcc-7-2-0`.

As shown at:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercount=4&showfilters=1&field1=buildname&compare1=61&value1=Tr

[2018-05-01 01:47] nmhamster commented on #2454
@bartlettroscoe - I have installed OpenBLAS 0.2.20 (`$ module load openblas/0.2.20/gcc/5.4.0`) on white. Can we see if this improves the situation at all? There are supposed to be some fixes for assembly use on POWER8 in the latest version. To be clear - this version calls Fortran kernels from C test drivers. All tests pass and the performance is much better than NetLIB. I am concerned giving up o

[2018-05-01 12:16] bartlettroscoe commented on #2454
@nmhamster, did someone have a chance to test this new OpenBLAS or NETLIB BLAS/LAPACK with Trilinos on on 'white' yet or would be trying it be the first attempt?  Has this also been installed on 'ride' as well?  If one of these BLAS/LAPACK implementations does happen to fix the problem, then we will need it installed on 'ride' as well since our ATDM Trilinos configurations have to be identical on

[2018-05-01 16:39] csiefer2 opened #2660 "Tpetra: Finite Element Assembly Examples Don't Assemble RHS"
We should fix that.  Also, this is a great opportunity to do use FEMultiVector.

(Would add labels, github's website doesn't work right on Windows)

@tpetra

[2018-05-01 16:40] csiefer2 commented on #2660
I mean @trilinos/tpetra

[2018-05-01 18:29] mhoemmen commented on #2630
I'm not quite ready for a new PR, but here's what I've done thus far:

  - Add Tpetra::Details::determineLocalTriangularStructure, a thread-parallel version of what computeLocalConstants does
  - Ifpack2::LocalSparseTriangularSolver: Forbid "reverse U" & HTS (see #2647)
  - Ifpack2::LocalSparseTriangularSolver: Don't call `get{Node,Global}NumDiags` or `is{Lower,Upper}Triangular`
  - Ifpack2::Local

[2018-05-01 18:30] csiefer2 commented on #2630
@mhoemmen No objection here, so long as it is on by default.

[2018-05-01 22:11] tjfulle commented on #2630
@mhoemmen , can the call to `[getGlobalNumDiags](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp#L6026)` in `CrsMatrix::describe` be lifted?  It flooded the Albany dashboard with warnings.  Also, the call to [`getNodeNumDiags`](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp#L727) added to the d

[2018-05-01 23:00] jhux2 commented on #1605
@jjellio has made a lot of progress on this and sent details to @nmhamster offline.

[2018-05-02 12:01] chochmuth commented on #2626
@tawiesn Thanks for your help, the approach you described makes perfect sense. I'm already using a custom implementation, which handles the above case separately. Now, I wanted to entirely use the BlockCrsMatrix class but I will try a workaround.

[2018-05-02 12:01] #2626 closed

[2018-05-02 15:02] cgcgcg opened #2663 "MueLu: Allow to use Kokkos factories from extended xml"
@trilinos/muelu

## Expectations
The Kokkos version of MueLu's factories should be available when the extended xml interface is used.
Specifying e.g. `NullspaceFactory_kokkos` should not error out. Moreover, for factories that are not specified in the input xml, the defaults should be adjusted when running with Kokkos.

## Current Behavior
Only the simple xml interface allows to use Kokkos.

[2018-05-02 15:11] lucbv opened #2664 "MueLu: blocked repartitioning fails to build in serial and with complex"
@trilinos/muelu
@csiefer2

## Expectations
We should fix the `MueLu::RepartitionBlockDiagonalFactory` factory to have it build correctly in serial

## Current Behavior
[This build](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3541596) fails in the clean track and we should fix it.

## Motivation and Context
The clean track should be clean...

## Definition of Done
- [x] Build with sam

[2018-05-02 15:15] cgcgcg opened #2665 "Ifpack2: multi-threaded Gauss-Seidel does not support damping"
@trilinos/ifpack2

## Current Behavior
The multi-threaded version of Gauss-Seidel accepts a damping factor as parameter, just as the serial version. This value, however, is never used, so that the damping factor is effectively always 1.

## Possible Solution
There are several options to deal with this issue:
- Change the underlying KokkosKernels implementation to allow damping.
- Display a warning

[2018-05-02 15:53] mhoemmen commented on #1605
I saw @jjellio's slide on this yesterday and listened to him explain what he did -- it was awesome :D

[2018-05-02 15:54] mhoemmen commented on #2630
@tjfulle Yes, please feel free to work on that if you have time.  If not, no worries :D .  I was in meetings all yesterday afternoon.

[2018-05-02 16:00] tjfulle commented on #2630
@mhoemmen, OK.  The warnings all seem to pop up when Amesos2 is enabled.  The warnings emanating from `CrsMatrix::describe` are easy enough to silence, just remove the call to `getGlobalNumDiags`.  A recursive grep of `packages/src/amesos2` for `getNodeNumDiags` turns up nothing, so it must be being called indirectly and I haven't found out from where (yet).

[2018-05-02 16:31] aprokop commented on #1605
Share in the issue?

[2018-05-02 17:52] mhoemmen commented on #1605
@aprokop I'll let @jjellio comment since I don't know all the details, but it was a combination of using a new binutils and some linker flags.  Code got faster (since it wasn't thrashing the instruction cache so much) and static executable sizes got double-digit percentages smaller.

[2018-05-02 17:56] mhoemmen commented on #2630
@tjfulle wrote:

We will have a lot of those warnings for a while.  We discussed some ways to remove some of them yesterday, but we won't be able to avoid others.

[2018-05-02 19:44] etphipp commented on #2454
As a spot check I tried running one of the Belos tests (the Epetra-based Belos_pseudo_gmres_hb.exe) that fails on white in an opt-GNU-openmp build with the default openblas.  With the netlib blas/lapack, the test passes.  However there are several linker errors relating to dggsvd in some of the other tests, which the latest netlib library appears to not provide (I believe it was deprecated in favo

[2018-05-02 20:02] etphipp commented on #2454
I fixed the dggsvd3 issue.  Just needed to add -lm to the link line.  After this I got all of the Belos tests to pass in the gnu-opt-openmp build on white using netlib blas/lapack:
[code]

Here's the diff to the environment.sh needed:
[code]
Then I just did the standard atdm build:
[code]

[2018-05-02 22:30] etphipp opened #2668 "TSQR requires Kokkos::Serial enabled"
[code]

Is this intended?

@trilinos/tpetra

[2018-05-02 23:26] mhoemmen commented on #2668
@etphipp Argh OK I'll fix this, sorry!

[2018-05-02 23:34] bartlettroscoe commented on #2454
@etphipp, thanks for looking into this!  I am going to give this patch a try right now.  If it looks good, I will create a PR that makes this change.

[2018-05-02 23:37] mhoemmen commented on #2668
@etphipp PR #2668 fixes this; please review and approve if OK.  Thanks!

[2018-05-03 00:55] bartlettroscoe commented on #2454
The testing looked great.  I created PR #2671.

@etphipp or @fryeguy52 (or someone else), could you please review that PR and then approve?

[2018-05-03 01:28] mhoemmen commented on #2630
Progress:
  - @tjfulle added PR #2667 to remove `getGlobalNumDiags` call from `CrsMatrix::describe`
  - It passed PR testing & @mhoemmen merged it

[2018-05-03 03:45] mhoemmen commented on #2668
Fixed in develop via PR #2668; thanks!

[2018-05-03 03:45] #2668 closed

[2018-05-03 04:02] mhoemmen commented on #606
#2630 covers `getNodeNumDiags`, `getGlobalNumDiags`, `isLowerTriangular`, and `isUpperTriangular`.  We decided in #2630 to preserve `getNodeMaxNumEntries` for now.

CrsGraph and CrsMatrix expertStaticFillComplete already have a `computeGlobalConstants` bypass.  #2565 is about adding a `computeLocalConstants` bypass for `getNodeNumDiags`, `getGlobalNumDiags`, `isLowerTriangular`, and `isUpperTriang

[2018-05-03 04:06] mhoemmen commented on #835
This is actually in progress as part of #2630, via `Tpetra::Details::determineLocalTriangularStructure`.

#2565 will add a bypass for `CrsGraph::computeLocalConstants`, and #2630 will remove the most expensive part of this method.  Thus, I think we may close this issue as "invalid."  It's not "wontfix," because we will actually fix thread parallelization of `computeLocalConstants`, but the local t

[2018-05-03 04:06] #835 closed

[2018-05-03 04:53] mhoemmen commented on #2565
`computeLocalConstants` bypass needs to work a bit differently than the `computeGlobalConstants` bypass.  The `computeLocalConstants` bypass should still compute all constants other than the triangular and `nodeNumDiags_` constants, so it should pass an argument into `computeLocalConstants`, rather than skipping the method entirely.

[2018-05-03 04:56] mhoemmen commented on #1523
#2630 means that CrsGraph and CrsMatrix will no longer know about their local triangular status.  However, that doesn't fix other local constants, like what `getNodeMaxNumEntries()` returns.

[2018-05-03 12:00] bartlettroscoe commented on #2454
Thanks @mhoemmen for approving PR #2671.  I merged that PR and the updated builds on 'white' ran last this morning.  As shown in the query:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-05-03&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=Trilinos-atdm-white-ride

[2018-05-03 12:30] bartlettroscoe commented on #1208
FYI: So it looks like the problem was with BLAS and LAPACK on 'white' and 'ride'.  A correctly installed version of BLAS and LAPACK look to have fixed the problem as described at https://github.com/trilinos/Trilinos/issues/2454#issuecomment-386271621.

Therefore, the analysis that this was a compiler defect looks to have been incorrect.

[2018-05-03 12:33] nmhamster commented on #1208
@roscoebartlett - will you also try OpenBLAS 0.2.20?

[2018-05-03 13:02] bartlettroscoe commented on #2454
@nmhamster, we can try that too.

[2018-05-03 13:46] etphipp commented on #2454
If you didn't see it from my previous comment above, I did try openblas 0.2.20, and it didn't work.

[2018-05-03 14:36] bartlettroscoe commented on #2454
@etphipp, thanks for the clarification!  I missed that in your comment.

@nmhamster, can you please go ahead and install the Netlib BLAS and LAPACK on 'ride'?

Later, we can work on getting a better optimized build of BLAS and LAPACK on 'ride' and 'white'.  But that might not be worth the effort given the newer system 'waterman'.

[2018-05-03 15:24] bartlettroscoe opened #2674 "Add MueLu "Refactor" enables to auto PR and ATDM Trilinos builds"
**CC:** @trilinos/framework, @rppawlo, @bathmatt, @micahahoward, @fryeguy52, @trilinos/muelu, @trilinos/kokkos

## Description

As of 5/2/2018, The EMPIRE build of Trilinos is now enabling the options:

[code]

in the script `BuildScripts/ALL/configure-trilinos.sh` in the `EM-Plasma/BuildScripts` git repo as of commit:

[code]

Because of this, we need to add these options to the Trilinos auto PR

[2018-05-03 15:43] lucbv commented on #2664
Trilinos is now building fine in `serial` but there is still a failing test with `std::complex` due to a parameter list input. Hopefully a simple type casting should fix that, testing a complex build before doing a new PR.

[2018-05-03 15:49] bartlettroscoe commented on #2454
@nmhamster reported that he synced the Netlib module from 'white' to 'ride'.  Therefore, we should see the `opt` builds on `ride` cleaned up as well tomorrow.

Thanks @nmhamster and @etphipp for your help with this!

[2018-05-03 15:58] nmhamster commented on #2454
@bartlettroscoe - can I get the reproducer so we can file some additional bugs? I have been reading about this online and the devil is in the detail about assumed alignment between Fortran, C etc, I think we may have some issues in how we make the calls.

[2018-05-03 16:00] mhoemmen commented on #2454
@bartlettroscoe wrote:

Something funny has been happening with the Tpetra tests on GPUs -- they have been getting slower and slower over time, and have been timing out.

[2018-05-03 17:48] mhoemmen opened #2676 "Tpetra::CrsGraph: Add unit test for ctor that calls computeLocalTriangularProperties"
CrsGraph's constructor that calls computeLocalTriangularProperties -- the constructor that takes (local graph, row Map, column Map, domain Map, range Map, params) -- doesn't appear to be tested thoroughly in Tpetra.  I was working on #2565 and accidentally forgot to call computeGlobalConstants in it, and Tpetra's tests all passed, but the Ifpack2 BlockTriDiContainer test (MPI 4 processes) failed.

[2018-05-03 17:52] mhoemmen commented on #2454
@bartlettroscoe I've been running locally on my GPU workstation.  It's an old GPU (K80), and Kokkos, kokkos-kernels, and Tpetra have all changed somewhat over time, so it's hard to say what's going on there.

[2018-05-03 19:12] bathmatt opened #2678 "ATDM builds don't work on shiller or serrano"
Here is what I run,
serrano
[code]

shiller
[code]

[2018-05-03 19:15] bartlettroscoe commented on #2678
Try using `-DTrilinos_CONFIGURE_OPTIONS_FILE:STRING=cmake/std/atdm/ATDMDevEnv.cmake`, not `-DTrilinos_CONFIGURE_OPTIONS_FILE:STRING=../cmake/std/atdm/ATDMDevEnv.cmake` as listed at:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#chamaserrano

[2018-05-03 19:17] bathmatt commented on #2678
Resolved!

[2018-05-03 19:17] #2678 closed

[2018-05-03 19:28] bartlettroscoe commented on #2454
@nmhamster, lets talk about how to use these tools to define tests that can be run and submit to CDash with hard pass/fail.  If you don't have a hard pass/fail, then no one will notice a performance regression.

The other option is to post to CDash and then pull data down from CDash and analyze trends.  For example, you can run queries like:

* https://testing-vm.sandia.gov/cdash/queryTests.php?pr

[2018-05-03 21:56] bartlettroscoe opened #2680 "Add support for `<kokkos-arch>` to the set of build name keys in ATDM Trilinos builds"
**CC:** @fryeguy52, @jmgate, @bathmatt

## Next Action Status

PR #3051 merged on 8/2/2018.  Next: Watch for HSW and KNL builds showing up on CDash on 8/3/2018 ...

## Description:

As described in:

* https://gitlab.sandia.gov/EM-Plasma/BuildScripts/issues/30

the EMPIRE scripts in the EM-Plamsa/BuildScripts repo are now allowing the `KOKKOS_ARCH=<kokkos-arch>` value to be pass in in the job/buil

[2018-05-03 21:59] bartlettroscoe commented on #2680
This should not be too hard to add.  We will wait and see what builds EMPIRE sets up and then we will add support for this.

[2018-05-03 23:35] srajama1 commented on #2674
Well the 5% is a rough number people have seen before. I was just giving a possible explanation. I don't think that is good reason to not enable Kokkos !

[2018-05-04 01:41] ibaned commented on #2674
A couple other items for consideration:
 - We've made improvements to Serial Kokkos performance, especially atomics.
 - We're going to invest in getting Kokkos to compile on Windows in the near term (next two release cycles)

[2018-05-04 03:12] bartlettroscoe opened #2681 "Test TpetraCore_ImportBug5430_MPI_4 randomly timing out in Trilinos-atdm-white-ride-cuda-opt build on 'white' and 'ride'"
**CC**: @trilinos/tpetra, @fryeguy52

## Next Action Status

Next: Temporarily disable the test so that the build `Trilinos-atdm-white-ride-cuda-opt` can be promoted to the "ATDM" CDash Track/Group ...

## Description

The query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and

[2018-05-04 03:33] bartlettroscoe commented on #2652
Looking at the query:

* https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-rhel6&field2=testname&compare2=61&value2=Teko_testdriver_tpetra_MPI_1&field3=buildstarttime&compare3=84&value3=now

today

[2018-05-04 03:33] #2652 closed

[2018-05-04 03:38] bartlettroscoe commented on #2650
The merge was backed out on 4/27/2018.  Should we keep this issue open still or should we close it.

@gsjaardema, steps to reproduce with the CUDA build are given at the top of this issue. Note that you can work with your native SEACAS repo by cloning or symlinking the `seacas` repo under `Trilinos/` and then configure, build, and test with:

[code]

If that does not work, please let me know.

[2018-05-04 13:58] bathmatt opened #2683 "MueLu failing to compile on cuda-9"
Not sure how long it's been failing

[code]

[2018-05-04 14:41] bathmatt commented on #2683
Looks like the issue is here

[code]

in kokkos_kernels.  Is there some issue with include paths?
Here is the full link line

[code]

[2018-05-04 15:40] mhoemmen commented on #2681
@bartlettroscoe I'm swamped with non-Trilinos things this weekend.  I suspect the test is just slow because it UVMs all over the place.  If you really need to disable it, please go ahead, but we @trilinos/tpetra folks really need to look at it.  I'm worried about seeing the Tpetra tests get slower over time on CUDA, with no obvious reason why.

[2018-05-04 15:40] mhoemmen commented on #2681
@bartlettroscoe It may also make sense to increase the timeout temporarily on this platform, given the value of knowing whether the test passed.

[2018-05-04 16:38] bathmatt commented on #2529
So, I'm trying this and I can't figure out how to get the long long version of the variable?

I can validate it.

[code]

[2018-05-04 16:41] bathmatt commented on #2529
Or, does it promote it to a double?
If i get it as a double that works,

[2018-05-04 17:09] jhux2 commented on #2683
@bathmatt The nightly CUDA 8 MueLu builds are ok.  I will see if I can reproduce under CUDA 9.

[2018-05-04 17:43] crtrott commented on #2683
This is most likely an issue of including both "math.h" and <cmath> which will screw stuff up in ways dependent on include order. This is outside of KokkosKernels control unfortunately. Solution: NEVER EVER EVER include math.h in C++ files. Because math.h is C.

[2018-05-04 17:52] rppawlo commented on #2529
I think you need to build the validator like this:

[code]

[2018-05-04 18:00] bathmatt commented on #2683
There's 167 of math.h in all sorts of c++ file files.  List is included

[math_h.txt](https://github.com/trilinos/Trilinos/files/1975429/math_h.txt)

Here are ones in kokkos directories...

./packages/kokkos-kernels/example/fenl/fenl_impl.hpp
./packages/kokkos-kernels/example/fenl/main.cpp
./packages/kokkos-kernels/unit_test/common/Test_Common_float128.hpp
./packages/kokkos-kernels/src/Kokkos_Arit

[2018-05-04 18:00] bathmatt commented on #2683
should I sed script all of them away in one big push?

[2018-05-04 18:05] bathmatt commented on #2683
So, looking a bit deeper, lots of those are amp_math.h and quadmath.h.  Are those o.k.?

[2018-05-04 18:09] bathmatt commented on #2683
[math_h.txt](https://github.com/trilinos/Trilinos/files/1975455/math_h.txt)

this is just <math.h> files. 110 files but only kokkos-kernels examples are there

[2018-05-04 18:17] srajama1 commented on #2683
Looking at the list most are in examples are tests. For your use case can it be belos/src/* ?

[2018-05-04 19:31] bathmatt commented on #2683
For me, the issue is that I can't compile trilinos with cuda 9 and muelu kokkos flags set.  It reports errors in muelu which look like they are in kokkos-kernels.  The rest doesn't matter to me but is a means to an end.

[2018-05-04 20:28] jhux2 commented on #2683
@bathmatt I had no luck reproducing the problem on waterman with the CUDA 9 modules loaded -- trilinos built without error with the script `EMPIRE/scripts/configure.sh`.

On the CEE lan, I module loaded SPARC's CUDA 9 environment:
[code]

Trilinos compilation fails in Kokkos:
[code]

[2018-05-04 20:29] jwillenbring commented on #2594
@bartlettroscoe how would the TriBITS capability work for builds like the CUDA one where we want to consider enabling only about 1/2 of Trilinos packages?

[2018-05-04 20:52] ndellingwood commented on #2683
@jhux2 one thing to try for the CEE lan issue is to try checking that `nvcc_wrapper` is set as the compiler (`echo $OMPI_CXX`); if it is set but out-of-date, try resetting the `OMPI_CXX` path to `TRILINOS_PATH/packages/kokkos/bin/nvcc_wrapper`. Not sure if this will help but something to check.

[2018-05-04 21:09] jhux2 commented on #2683
@ndellingwood Thanks for the tip.  The variable was indeed set incorrectly, but even pointing to `nvcc_wrapper` in Kokkos, the compile still fails in the same way.

Do you know if there another platform where CUDA 9 is available that I can try building on?

[2018-05-04 21:10] nmhamster commented on #2683
@jhux2 - CUDA9 is available on Hansen and Shiller as well as the POWER machines.

[2018-05-04 22:02] bartlettroscoe commented on #2464
CC: @trilinos/framework

If we focus on just the all-at-once build with the 25 packages that ATDM is currently testing on 'white', you can see in the query:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-05-04&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-white-ride-cuda-debug-all-at-

[2018-05-04 22:12] bartlettroscoe commented on #2594
We would just put in forced disables of non ATDM packages.  That is basically adding a new cache var
 called something like `ATDM_FORCE_DISABLE_DISABLED_PACKAGES` and a one-line change right at:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/ATDMDisables.cmake#L81

What that would do is if ROL was changed in the PR, for example, and you passed in `-DTrilinos_ENABLE_ROL=ON`, th

[2018-05-04 22:32] bartlettroscoe commented on #2683
Yea, that has been official Trilinos policy for at least 12+ years.  If you go to:

* https://github.com/trilinos/Trilinos/wiki/POLICIES

there is a link to:

* https://software.sandia.gov//trilinos/developer/policies/namespace_safety.html

and there is the policy:

@trilinos/framework team. Could we consider adding some simple static analysis checks to the auto PR testing for things like this?  O

[2018-05-04 22:41] bartlettroscoe commented on #2529
A more direct way of add that that validator is the function [setLongLongParameter()](https://trilinos.org/docs/dev/packages/teuchos/doc/html/classTeuchos_1_1ParameterList.html#a37c0ec92ab05054c79fd36e04b2b70ca).

You use it like:

[code]

You can leave off the last argument and it will accept all supported types if you want (i.e. double, string, int, long int).

Nice, right?

[2018-05-04 22:44] jhux2 commented on #2683
Can't reproduce on Shiller either.  I may not have the correct Trilinos configure script.

[2018-05-04 23:08] bartlettroscoe opened #2686 "Make GNU ATDM Trilinos builds use 'gold' as the linker"
**CC:** @bathmatt, @fryeguy52

## Description

The EMPIRE configuration just recently switched to using `gold` as the default linker for GNU builds (see https://gitlab.sandia.gov/EM-Plasma/BuildScripts/issues/31).  To do this with recent GCC versions, one just needs to pass in the linker option `-fuse-ld=gold`.

This story is to make that ATDM Trilinos GNU configurations use `gold` as the linker b

[2018-05-05 17:08] bartlettroscoe commented on #2681
@mhoemmen, increasing the timeout likely will not help.  As I tried to explain [above](https://github.com/trilinos/Trilinos/issues/2681#issue-320142353), the history for this test shown in that  CDash query shows that it either passes in under 2 sec, or it times out at 10 minutes.  For example, today, that test just passed in 1s 40ms yesterday as shown :

*https://testing-vm.sandia.gov/cdash/testD

[2018-05-05 17:09] bartlettroscoe commented on #2454
With Netlib now being used on 'ride', the builds `Trilinos-atdm-white-ride-gnu-opt-openmp` and `Trilinos-atdm-white-ride-cuda-opt` builds are now 100% passing (except for the randomly hanging test `TpetraCore_ImportBug5430_MPI_4` described in #2681) as shown today at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3487159
* https://testing-vm.sandia.gov/cdash/index.php?

[2018-05-07 12:28] bartlettroscoe commented on #2410
Given the updated NetLIB BLAS and LAPACK being used on 'white' and 'ride' (see #2454) I tried re-enabling the test `TeuchosNumerics_LAPACK_test_MPI_1` for the 'debug' builds on 'white' and 'ride'.  I tried this with the commit 7958ac7b913e0efc083f738663489f134056b328 I made locally and on 'white' I ran:

[code]

that returned:

[code]

The failing tests were:

[code]

The failing test output for t

[2018-05-07 13:02] bartlettroscoe commented on #2464
Given that we have not been able to get tests to run and submit to CDash reliably on 'white' due to the LSF `bsub` command randomly crashing (see [TRIL-198](https://software-sandbox.sandia.gov/jira/browse/TRIL-198)), we need to look into other options for a way to get an auto PR CUDA build set up.

There is a new Intel Broadwell + GPU (P100s) cluster getting set up on the SRN called Doom.  This ma

[2018-05-07 13:48] nmhamster commented on #2410
@bartlettroscoe - to re-comment as well, the OpenBLAS tests for the packages we install (fairly limited number) do also all pass and do have C to FORTRAN calling included. That’s what makes me wonder if this might be a deeper issue too.

[2018-05-07 14:08] #2664 closed

[2018-05-07 16:46] bartlettroscoe commented on #2681
@mhoemmen, okay, I will.  Thanks.

[2018-05-07 16:48] tjfulle commented on #2681
@mhoemmen , I have some time for Tpetra this week, do you want me to look at this?

[2018-05-07 16:58] mhoemmen commented on #2681
@tjfulle wrote:

Please do -- it would be super helpful.  Thanks! :-D

My guess is that it's some UVM-related issue, where the code nondeterministically thrashes UVM pages back and forth between host and device.

[2018-05-07 19:16] lucbv opened #2687 "MueLu: structured/unstructured aggregation strategy"
@trilinos/muelu
@mayrmt @rstumin

## Expectations
The goal is to be able to use different aggregation algorithm on different parts of the problem.

## Current Behavior
Currently structured and unstructured aggregation cannot be called together on the same problem.

## Motivation and Context
Some aerodynamic problems have structured mesh close to the object being modelled and unstructured meshes in

[2018-05-08 01:58] bartlettroscoe opened #2689 "Add install hooks for ATDM Trilinos configuration and ctest -S driver"
**CC:** @fryeguy52

## Description

In order for the ATDM projects to adopt the new [ATDM Trilinos Configuration and Jenkins Drivers](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos) (that submit to CDash as a byproduct), these scripts must support the installation of Trilinos and using Trilinos from that install.

For this to occur:

* There must be a single that

[2018-05-08 12:27] tjfulle commented on #2660
@csiefer2 , can this be closed with #2682?

[2018-05-08 14:39] bartlettroscoe opened #2691 "Three ShyLU_DDFROSch_test_frosch_XXX tests failing in new GCC 4.8.4 + OpenMPI 1.10.1 + OpenMP build"
**CC:** @trilinos/shylu, @trilinos/framework , @srajama1

## Description

As shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3490484
* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3490522

the tests:

* `ShyLU_DDFROSch_test_frosch_interfacesets_2D_MPI_4`
* `ShyLU_DDFROSch_test_frosch_laplacian_epetra_2d_gdsw_MPI_4`
* `ShyLU_DDFROSch_test_

[2018-05-08 14:44] bartlettroscoe commented on #2691
@trilinos/shylu or @trilinos/xpetra developers,

Any idea what is causing the exception:

[code]

which is causing these tests to fail?

[2018-05-08 14:59] bartlettroscoe commented on #2683
@bathmatt, there are no CUDA9 builds for the ATDM Trilinos builds yet.  We have been focusing on duplicating all of the EMPIRE Trilinos builds running on jenkins-srn and we did not see any CUDA 9 builds there.

We can add a CUDA 9.0 build on shiller/hansen.  The only issue is that then we need to extend the keyword parsing to not just look for `cuda` but instead we will have to look for `cuda9.0`,

[2018-05-08 15:27] wfspotz opened #2692 "PyTrilinos: build fails when Epetra, NOX enabled, but Ifpack not"
@trilinos/pytrilinos

## Expectations

When PyTrilinos, Epetra, and NOX are enabled, but Ifpack is not, PyTrilinos should build without error. The `NOX.Epetra` module should NOT be enabled, consistent with NOX.

## Current Behavior

The build fails because NOX does not enable `NOX::Epetra`, but PyTrilinos tries to wrap these interfaces.

## Motivation and Context

A user tried to build with this c

[2018-05-08 16:53] bathmatt commented on #2683
I have a cuda9 build on shiller going, if it fails I'll send the mods to Ross's procedure to get it going.

[2018-05-08 17:26] mhoemmen opened #2695 "Ifpack2: Add nonsymmetric equilibration option"
Requested by Fuego.  Fuego needs to solve turbulent kinetic equations.  They look like advection-diffusion problems with badly scaled source terms.  Reports are that symmetric Gauss-Seidel NaNs out and Jacobi works better.  This makes sense if the off-diagonal terms are large.  The equations normally don't take many iterations to solve, but are either taking a long time or NaN-ing out.

Here are s

[2018-05-08 17:28] jhux2 commented on #2695
@mhoemmen Are these M matrices?

[2018-05-08 17:33] tjfulle commented on #2681
I created a  brute-force script to investigate the timeout.  It runs the test `N` times and tracks the number of failures and timeouts:

[code]

The number of time outs is random, the last time I ran it 3 timed out out of 100.  The time before, only 1 timed out.  All of the tests the "pass" segfault:

[code]

`ctest` does not report any of the tests as failed.  Hundreds of `core.[0-9]+` files were

[2018-05-08 17:33] tjfulle commented on #2681
If instead I run the test directly (not through `ctest`), all of the "passed" tests segfault as before (but the script recognizes them as failed since the return code comes from the executable and not `ctest`).  The log file for the timed out tests also show the test as "passed":

[code]

There are a few dozen more lines with `mpiexec: Forwarding signal 18 to job`.  The don't appear in the non-tim

[2018-05-08 17:35] tjfulle commented on #2681
I haven't had time to look beyond this.  If @bartlettroscoe or @mhoemmen see any smoking guns in the log files from the failed or timed out runs, I'm all ears!

[2018-05-08 17:38] mhoemmen commented on #2695
@jhux2 Probably not.  They don't know.

They have the option to force symmetry with respect to boundary conditions, but otherwise they aren't even symmetric.  They _are_ using GMRES with these preconditioners, though.

[2018-05-08 17:41] mhoemmen commented on #2695
@jhux2 These matrices show up as part of a segregated solve.  They solve x, y, z momentum equations first (separately), then a Poisson equation, then this equation.

[2018-05-08 17:52] mhoemmen commented on #2676
My PR #2696 that fixes #2565 consolidates `computeLocalTriangularProperties` and `computeLocalConstants` into a single method, `computeLocalConstants`.  I found an interesting issue that sometimes `computeLocalConstants` was being called before the Kokkos local graph was available.  Part of #2696 fixes that by reordering method calls in CrsGraph and CrsMatrix `fillComplete`, so the Kokkos local gr