[2016-11-16 00:23] tjfulle commented on #482
The test suites that ship with metis and parmetis fail to run on Darwin if 64 bit reals are enabled in metis

[2016-11-16 00:23] bmpersc commented on #482
@tjfulle which SEMS parmetis module were you using? There are 3 versions right now, one that is explicitly 64 bit reals, one that is explicitly 32 bit reals, and one that is undecorated. The undecorated version has some issues with the way it was built not being consistent. This inconsistency is mostly exposed when linked with scotch. The explicitly 64 or 32 bit versions were made specifically to

[2016-11-16 00:31] bartlettroscoe commented on #482
FYI: I tried to run the checkin-test-sems.sh script on the branch `better-ci-build` on the CEE LAN machine `ceesrv02` and it configure and was building just fine (abet very slowly) until it ran out of disk space?

[code]

Anyway, I suspect that the checkin-test-sems.sh script will run right out of the box on any CEE Linux machine.

[2016-11-16 00:32] bartlettroscoe commented on #482
So which one of these for ParMETIS and Scotch that will work with Trilinos consistently on all these platforms?

[2016-11-16 00:40] tjfulle commented on #482
@bmpersc I'm not using the SEMS modules.  @bartlettroscoe showed that many Muelu tests fail using the default SEMS modules.  I believe the default parmetis is 64 bit real/int.  I got identical results on my machine.  The tests pass after I built metis  with 32 bit reals (keeping 64 bit integer)

I'm not sure what you mean by non decorated, metis.h requires that IDXTYPEWIDTH and REALTYPEWIDTH be 32

[2016-11-16 01:29] tjfulle commented on #482
@bmpersc and @bartlettroscoe, to my understanding, the distinction between the 32 and 64 bit builds of `metis/parmetis` is in how `IDXTYPEWIDTH` and `REALTYPEWIDTH` are defined in `metis.h`.  They must be `32` or `64`.  The three `parmetis` modules in SEMS are labeled `32bit_parallel`, `64bit_parallel`, and `parallel`.  A diff of `metis.h` in `32bit_parallel` and `64bit_parallel` gives:

[code]

a

[2016-11-16 15:41] bmpersc commented on #482
@bartlettroscoe both of the versions that explicitly state the 32 or 64 bit work, that was the point. The sems version that doesn't have that decoration wasn't built correctly and had to be replaced. Techinically the parmetis wasn't the problem, it was the the scotch and parmetis weren't built in a compatible way so when linked together they caused problems for a small set of codes. However, to ma

[2016-11-16 16:03] eric-c-cyr commented on #743
@bathmatt has implemented using the connection manager an element => face mapping capability. This produces three pieces of information: neighboring element, that elements block, that elements processor. The algorithmic technique to do this interrogates the connection manager several times to get cell and face ids. Then a two stage communication processes is undertaken using Tpetra storage and com

[2016-11-16 16:21] bmpersc opened #851 "Teuchos build failures on continuous build"
@trilinos/teuchos @mhoemmen all of Teuchos is failing to build from what appears to be the changes for 8eb97920. This is causing quite a lot of testing to not run due to the dependency on Teuchos.

You can see the errors at:
https://testing.sandia.gov/cdash/viewBuildError.php?buildid=2620467

[2016-11-16 16:29] wfspotz opened #852 "MPI errors when compiling Tpetra"
When compiling Tpetra, I get the following error:
[code]
I also get this error:
[code]
As indicated by the paths above, I am using OpenMPI 1.6.5, and this is in a code block within `Tpetra_Details_iallreduce.cpp` for `MPI_VERSION < 3`.

[2016-11-16 17:12] tjfulle commented on #482
@bmpersc, I can try out the 32 bit version, but I'm at a conference so it'll be a couple days.  Perhaps @bartlettroscoe could sooner?

[2016-11-16 17:22] tjfulle commented on #482
@bartlettroscoe does the machine you are testing on have a version of libparmetis in `/use/local/lib`?

[2016-11-16 17:26] jhux2 opened #853 "No Trilinos checkin emails"
@bmpersc @jwillenbring @trilinos/framework I'm not receiving any of the Trilinos checkin emails.  The last ones I received are around November 11th.  I haven't changed any settings in my profile.  Could there a problem upstream somewhere?

[2016-11-16 17:35] bmpersc commented on #853
@jhux2 I have checked and I am seeing some similar behavior, the last checkin message I got was from 11/11/2016. I can look at some settings, but I'm not sure I'll be able to do anything about this. If this is that github has changed something on their servers we will have no way to tell that or would be able to fix it.

Just out of curiousity, are you a developer on another github project? If so

[2016-11-16 17:52] jhux2 commented on #853
@bmpersc I'm part of NaluCFD, but I've never received those checkin emails, so I don't know whether that project.  I sure hope github didn't silently break/stop email checkin notifications.

[2016-11-16 18:02] bartlettroscoe commented on #482
I was just reminded today why people should not be testing and pushing directly from Mac OSX.  That is because the OSX file system is not case sensitive.  For example, it has happened many times on many projects that someone used the wrong case for an include file name in a `#include "file_name.hpp"` directive or for a source file in a `CMakeLists.txt` file and it worked just fine on OSX.  But aft

[2016-11-16 18:15] ibaned commented on #482
The OSX file system can be configured to be case-sensitive. That could be an added requirement for a machine to push. It is also relatively easy for automated tools to check whether the filesystem is case-insensitive.

[2016-11-16 18:15] bartlettroscoe commented on #482
That breaks the SNL OSX machines.  Ask @rppawlo

[2016-11-16 18:24] kddevin commented on #482
As I sit in a presentation room today at SC16 and look around me, I see that roughly 85% of the laptops people are using are Mac laptops.  Granted, that isn't a scientific sampling, but it does show that Macs are prevalent in our community.  Thus, I think we should not restrict developers from using Macs for their testing and development.  I would want to know precisely how many build errors case

[2016-11-16 18:58] tjfulle commented on #482
Wouldn't *encouraging* developers to use every combination of platform/environment/compiler they can reasonably use *increase* code robustness?  Sure, there might be some pushes to the develop branch from one platform that might temporarily break a build on another, but I imagine those would be fixed pretty quickly.  The end result would be more confidence in the master branch (which should not ha

[2016-11-16 19:04] mhoemmen commented on #851
I'll fix it.  Don't anybody accuse me of not testing this.

[2016-11-16 19:10] mhoemmen commented on #851
Some compilers support the one-argument version of static_assert.  GCC 4.7.2 does not.

[2016-11-16 19:11] mhoemmen commented on #851
Running check-in tests now with GCC 4.7.2.

[2016-11-16 19:13] jwillenbring commented on #853
I looked on the server that hosts the checkins mail list and didn't notice anything unusual, other than the fact that there were no messages in the archive since 11/11 (so Sandia didn't start filtering the messages).

@maherou did you happen to modify any settings for the checkins mail list recently?

[2016-11-16 19:18] mhoemmen opened #854 "Sacado: Internal compiler error with GCC 4.7.2 (MPI_DEBUG build)"
@trilinos/sacado @etphipp @bmpersc

[code]

GCC 4.7.2 doesn't like lambdas with Kokkos.  Lambdas are kind of essential to what you're doing, if the name means what I think it means, so I'm not sure if this will actually work with GCC 4.7.2 :(

[2016-11-16 19:19] tjfulle commented on #482
@bartlettroscoe wrote:

On the other hand, testing on case insensitive file systems will weed out cases where developers write files with the same name but different case.  I still see it as a long term win/win if more platforms/compilers/environments are used to develop/test/push.

[2016-11-16 19:19] mhoemmen commented on #851
#854 means I had to disable Sacado in the build.  I should get sufficient testing for these features through the Tpetra stack.

[2016-11-16 19:21] mhoemmen commented on #852
*sigh* I didn't realize OpenMPI 1.6.5 didn't even support MPI 2.  I'll take a look at this.

Seriously, folks, upgrade your MPI.  I can't help you with newer, faster solvers if I don't have the infrastructure with which to do it.

[2016-11-16 19:29] bartlettroscoe commented on #482
That is not what we are doing here at all.  We are just saying, that if we are going to pick one build on one platform to best protect the productivity of all developers and all customers on all platforms, then the best build for doing that is an MPI build (with certain options set) on Linux.  For example, case sensitivity errors are caught on Linux but not Mac.  And most Trilinos customers are ru

[2016-11-16 19:30] pbosler commented on #811
@bathmatt, @bartlettroscoe Some of these STK issues have been known for a while; I had a work-around for a few of them (#62) and can submit a related pull request as @dalg suggested.  Based on the latest comments in (#62) I had been waiting for @bmpersc or @bartlettroscoe to suggest a path forward (either pushing changes to STK or to wait for the FY17 STK restructuring).

[2016-11-16 19:36] bartlettroscoe commented on #482
That is an argument for testing on both Linux and OSX before merging to the 'develop' branch.  That takes us naturally to the git.git workflow mentioned in option-3 or a sophisticated PR-based testing infrastructure like used for SST or MOOSE mention in option-4 in the [above comment](https://github.com/trilinos/Trilinos/issues/482#issuecomment-260407880).   Again, option-3 requires almost no infr

[2016-11-16 19:47] srajama1 commented on #482
@bartlettroscoe : I am not sure I agree with your assessment of Option 4. Can we "borrow" some of the tools from SST ? From my understanding of SST presentation, it took six months to set this up. I can't understand why one would need new machines, but machines are cheaper compared to the productivity improvement for every Trilinos developer.  It is really hard to we favor a manual process over Op

[2016-11-16 19:50] #851 closed

[2016-11-16 19:50] #852 closed

[2016-11-16 22:07] etphipp commented on #854
Argh.  I saw a similar error in the nightly tests but wasn't sure what was causing it.  The lambda issue makes sense.  Thanks for reporting this.

So are we just not using lambdas in Trilinos with Kokkos, and therefore forgoing any hierarchical parallelism, until gcc 4.7 is dropped as supported compiler version?  This is just a performance test so I can just disable it for gcc < 4.8, but I don't s

[2016-11-16 22:17] mhoemmen commented on #854
@etphipp wrote:

GCC 4.7.2 gives me troubles when I use a lambda for the outermost parallel loop body.  Said troubles go away when I replace that outer loop body with a functor.  I haven't pushed hard on hierarchical parallelism with GCC 4.7.2, so inner lambdas for the thread or vector loop may be OK.

I agree :-D  If I remember right, I think there's a push both from Kokkos and from internal cust

[2016-11-16 22:25] etphipp commented on #854
In this case the outer parallel loop is a functor, but uses inner lambdas for the thread and vector loops.

I just pushed cmake code to disable the test for gcc version < 4.8 (I've been building and running the test with gcc 4.8 and 4.9 without problem).

[2016-11-16 23:03] bartlettroscoe commented on #482
I went back to GCC 4.7.2 for the Linux CI build on branch `better-ci-build-482`.  I ran this CI build from scratch on 16 processors with:

[code]
This produced the following email:

[code]

The detailed configure and ctest output is shown at:

* [configure.out](https://github.com/trilinos/Trilinos/files/596108/configure.Trilinos.better-ci-build.20161116.out.txt)
* [ctest.out](https://github.com/tr

[2016-11-16 23:08] mhoemmen commented on #482
I'm getting Clang 3.9 build errors in MueLu relating to complex arithmetic.  Perhaps we should enable that by default for tests?

[2016-11-16 23:10] mhoemmen opened #855 "MueLu: Build errors in IntrepidPCoarsenFactory with complex enabled"
@trilinos/muelu
[code]

[2016-11-16 23:11] mhoemmen commented on #855
`std::complex<double>` doesn't have a conversion from `int`.  Best practice is to use the magnitude type for intermediate conversions.

[2016-11-16 23:55] csiefer2 commented on #855
Should work now

[2016-11-16 23:55] #855 closed

[2016-11-17 03:06] bartlettroscoe commented on #482
To show what a CI pre-push build might look like for your average developer, I simulated a change to a TpetraCore source file with:

[code]

and then the checkin-test.py script would trigger the enable of TpetraCore and everything downstream.  I simulated this on the branch `better-ci-build-482` with:

[code]

The produced the following email:

[code]

So a 16 minute CI build iteration is not too

[2016-11-17 12:43] bartlettroscoe commented on #362
I just realized that we really need to get this Story done before we can deploy the new CI build that has float and complex disabled (see #482).  If we don't, then any build failure with complex or float will take down **all** of the Nightly builds.  So to support complex, we need to run an additional post-push CI server that turns these on (or at least the complex types that users really use).

T

[2016-11-17 13:11] bartlettroscoe commented on #362
The Trilinos JIRA isssue:

* https://sems.sandia.gov/jira/projects/TRIL/issues/TRIL-103

will be used to collect responses from internal Trilinos customers for if they use float and complex types.

I will now ask external Trilinos users about who uses float and complex types.

[2016-11-17 13:14] bartlettroscoe commented on #362
I sent out the below email to Trilinos users to inquire about usage of float and complex types.

----

From: Bartlett, Roscoe A
Sent: Thursday, November 17, 2016 8:13 AM
To: <trilinos-users@trilinos.org>
Subject: Usage of float and complex scalars with templated Trilinos?

Hello Trilinos users,

As part of trying to make Trilinos easier and less painful for average users to build (and make our CI

[2016-11-17 15:22] bmpersc opened #856 "Tpetra build failures on continuous build"
@trilinos/tpetra @mhoemmen Tpetra is now failing to build in the continuous testing in a manner similar to what was causing teuchos to fail to build yesterday as reported in #851.

you can view the errors at:
https://testing.sandia.gov/cdash/viewBuildError.php?buildid=2621727

[2016-11-17 15:25] bartlettroscoe commented on #811
Once I have finished #482, I will submit some new Trilinos GitHub issues for the failures that I am currently seeing on OSX with a standard SEMS env and I will also post Trac tickets to the STK developers' native issue tracking system.  This problem can be solved on the Trilinos 'develop' branch without a massive restructuring if some careful usage of git revert is used before syncing back and for

[2016-11-17 15:35] bartlettroscoe commented on #362
It seems that we have at least on important internal Sandia customer of Trilinos that uses `std::complex<double>`.  See:

* https://sems.sandia.gov/jira/browse/TRIL-103?focusedCommentId=13334&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13334

Therefore, because of the importance of that customer, we should provide another optional `--default-build` as part of chec

[2016-11-17 17:05] mhoemmen commented on #856
I tested with the SEMS modules, GCC 4.7.2 and Clang 3.9, and OpenMPI.  I build MPI_DEBUG, SERIAL_RELEASE, MPI_RELEASE, and SERIAL_DEBUG, and also tested with CUDA.  You can see that I ran the check-in test script.

I'll work on this now.

[2016-11-17 17:14] mhoemmen commented on #856
OK, that's weird.  I definitely had fixed that issue, but the fix disappeared somehow.

[2016-11-17 17:32] mhoemmen commented on #856
I'm testing an OpenMPI 1.6.5 build now.

[2016-11-17 19:19] mhoemmen commented on #856
I've got a fix ready, but I need to get rid of deprecated warnings from newer versions of OpenMPI.  Working on that now.

[2016-11-17 19:25] mhoemmen commented on #856
Y'all were so busying finding my build errors that you didn't notice the utter lack of MPI_Type_commit ;-)

[2016-11-17 19:35] mhoemmen commented on #856
OK, I have a complete fix now going through check-in tests.  I did GCC 4.7.2 with OpenMPI 1.6.5 (found some documentation chiseled on clay tablets, and a Sumerian dictionary, so it's all good), as well as Clang 3.9 with OpenMPI 1.10.1.

[2016-11-17 19:36] pbosler opened #857 "Inconsistent parameter behavior with different compilers"
When initializing a `Zoltan2::PartitioningProblem` for the multi jagged algorithm using
`Teuchos::ParameterList params("zoltan2 params");`
    `params.set("algorithm", "multijagged");`
the parameter "mj_keep_part_boxes" can be set two ways, either as a string or as an integer --listed as (1) and (2) below.  The integer method works for some compilers while the string method fails, and the situatio

[2016-11-17 19:52] kddevin commented on #857
Hi, @pbosler   We recently changed the parameters.  We'll take a look at this problem.  I am on travel this week; what is your timeframe for getting this fixed?
@MicheldeMessieres  Can you take a quick look at this issue?

[2016-11-17 19:56] MicheldeMessieres commented on #857
@kddevin I'll have a look at this now.

[2016-11-17 20:12] pbosler commented on #857
@kddevin We're still in the early stages of developing our code, so there isn't any immediate pressure here.

[2016-11-17 20:34] bartlettroscoe commented on #482
I just realized that I have to do #362 to to address the issue of float and complex testing.  Otherwise, all of the other nightly builds for Trilinos may fail if some complex code fails.  We need to decide if we want complex testing on or off by default for Nightly builds of Trilinos.   Given the responses that I have gotten back from internal Trilinos customers so far (see #362) I think we should

[2016-11-17 20:38] bathmatt opened #858 "singletons and tpetra/kokkos"
I'm trying to have a static tpetra map as part of a class, which anyone can grab so I can stop passing one around everywhere.  However, this doesn't get destroyed until after the program ends and that throws a kokkos error.

End Result: TEST PASSED
[Thread 0x7ffff34a7700 (LWP 8861) exited]
terminate called after throwing an instance of 'std::runtime_error'
  what():  Kokkos::OpenMP parallel_for ER

[2016-11-17 21:09] mhoemmen commented on #856
Just pushed the fix.

[2016-11-17 21:09] #856 closed

[2016-11-17 21:21] mhoemmen commented on #858
Short answer:

This is not just a Kokkos issue, it's an MPI issue.  In general, don't keep static data around that have MPI or Kokkos state.

Long answer:

This is not just a Kokkos issue, it's an MPI issue.  Tpetra::Map has an MPI_Comm inside, and thus becomes invalid once MPI_Finalize is called.  The Map's Teuchos::Comm could have wrapped an MPI_Comm that requires MPI_Comm_free, so it's importan

[2016-11-17 21:21] #858 closed

[2016-11-17 22:53] MicheldeMessieres commented on #857
@pbosler To clarify what should be happening:
The Skybridge appears to be working properly as case 2 should always fail. This parameter should now always be defined as bool or string, but never int.

So the GCC mac build should throw (for case 2) as soon as you create your PartitioningProblem and give an error about the int type - it's unclear at present how you would reach the "part boxes are not

[2016-11-18 00:41] mhoemmen opened #859 "Tpetra::Details::iallreduce does not work with complex, if MPI_VERSION < 3"
@trilinos/tpetra
Story: #748

Tpetra::Details::iallreduce currently assumes that, given a Teuchos::EReductionType and any MPI_Datatype, that MPI_SUM and MPI_MAX work for that MPI_Datatype.  This is only true if the MPI_Datatype is built in; it's not true if the MPI_Datatype is custom (derived).

We currently conservatively assume that the MPI_C_FLOAT_COMPLEX and MPI_C_DOUBLE_COMPLEX built-in MPI_D

[2016-11-18 09:28] sagitter commented on #844
How can i disable this test?
`-D PanzerDofMngr_ENABLE_TESTS:BOOL=OFF` or `-D Panzer_ENABLE_TESTS:BOOL=OFF` do not work.

[2016-11-18 12:24] nschloe opened #860 "ML: implicit declaration of function ‘ML_Operator_Copy_Statistics’"
From [the Debian build](https://qa.debian.org/bls/packages/t/trilinos.html):
[code]

[2016-11-18 12:57] rppawlo commented on #859
@mhoemmen I just did an update of trilinos and building without complex gives me the following error. I think there are some missing ifdefs needed.
[code]

[2016-11-18 13:32] rppawlo commented on #844
@sagitter I was able to disable the tests using -D Panzer_ENABLE_TESTS=OFF. The configure output shows that all tests are off (just libraries/subpackages are enabled):
[code]
I ran the build and none of the tests, including the problematic one, were built.
The problematic test is in the disc-fe subpackage directory and the "test" directory doesn't exist:
[code]
Running panzer tests shows no execut

[2016-11-18 17:42] mhoemmen commented on #859
Ah, I think I get what's going on here.  I'll fix it.

[2016-11-18 18:26] mhoemmen commented on #859
@rppawlo I just pushed a fix.

[2016-11-18 18:30] rppawlo commented on #859
Thanks @mhoemmen !

[2016-11-18 19:32] kyungjoo-kim opened #861 "Intrepid2: Workspace interface design."
Lately I have a conversation with @rppawlo  about workspace interface. Intrepid2 has functional interface, which means the interface does not really consider computation aspects. Some functions allocate temporay workspace as needed. This may not be ideal when the function is called repeatedly.

As refactoring the code, we are going to remove all temporal allocation and expose the necessary workspa

[2016-11-18 20:52] mhoemmen commented on #859
More general approach?
[code]
Perhaps this belongs in MpiTypeTraits instead.

[2016-11-18 22:47] bartlettroscoe commented on #482
Since have been discussing Mac OSX in this Issue, I will note that we have located a Mac OSX machine that has the SEMS Env mounted that we can use for a couple of Trilinos nightly builds.  See:

* https://sems.sandia.gov/jira/browse/TRIL-104

Back to work getting this Linux CI build finished up ...

[2016-11-18 22:53] wfspotz opened #862 "Help Upgrading PyTrilinos to Python 3"
A while back, I created a branch in which I upgraded PyTrilinos to work with both Python 2.7 and Python 3.5. I have not merged this to the develop branch, mainly because it modified some of the Trilinos build system, and I was wary about pushing it onto the Trilinos community without fully testing it.

My upgrade was implemented prior to the TriBITS upgrade to support Python 3. When I merge my bra

[2016-11-19 00:26] bartlettroscoe commented on #862
I think I would feel more comfortable pushing changes once the new set of PT CI build is pushed as part of #482.  What is your time schedule for this?  I am hoping to have #482 mostly done early next week.

But the big issue for PyTrilinos is that there is no nightly tests for it.  I am guessing the reason for that is that none of the test machines have a version of SWIG installed that will work w

[2016-11-19 02:58] rppawlo commented on #274
Completed and pushed. jenkins CI is passing with the changes.

[2016-11-19 02:59] rppawlo commented on #809
I switched panzer to use the intrepid version but did not delete the old version in panzer yet. All tests are passing. Will add a ticket to panzer to remove the old const basis.

[2016-11-19 03:00] rppawlo commented on #810
Completed.

[2016-11-19 03:03] rppawlo opened #863 "Panzer: remove deprecated ConstBasis"
This was moved into Itnrepid2. As part of #274, panzer is now using the Intrepid version. Just need to go in and remove the old version from panzer. Also need to look for code that differentiated the ConstBasis since the panzer version didn't support getDofCoordinates interface. The intrepid version now supports this.

[2016-11-19 03:07] rppawlo opened #864 "Panzer: Refactor Point evaluation (ResponseScatterEvaluator_Probe) routines"
As part of #274, the ResponseScatterEvaluator_Probe functionality has been temporarily disabled. We will need to recover for application builds. Additionally, it turns out that there is no unit test for this evaluator.

Definition of done:
1. Recover capability for applications using this test
2. Add a unit test to panzer to protect this capability in the future.

[2016-11-19 03:07] rppawlo commented on #864
@trilinos/panzer

[2016-11-19 03:07] rppawlo commented on #863
@trilinos/panzer

[2016-11-19 03:58] rppawlo opened #865 "Panzer: remove deprecated IntrepidFieldPattern"
The IntrepidFieldPattern was replaced by IntrepidFieldPattern_DynRankView. We can safely deprecate the old code and rename the file from Panzer_IntrepidFieldPattern_DynRankView.hpp to Panzer_IntrepidFieldPattern.hpp.

@trilinos/panzer

[2016-11-20 02:52] bartlettroscoe commented on #362
I have added support for these global variables and did some fairly detailed manual testing that is detailed below.

I pushed the commit to the `better-ci-build-482` branch so that I can use this as part fo that branch.

I am putting this in review.

----

**Detailed Notes:**

Working on the branch `beter-ci-build-482`.

**1) Create new options Trilinos_ENABLE_FLOAT, Trilinos_ENABLE_COMPLEX, Trili

[2016-11-20 02:58] bartlettroscoe commented on #362
@mhoemmen, I know this is just on a branch [ better-ci-build-482 ](https://github.com/bartlettroscoe/Trilinos/tree/better-ci-build-482), but can your please review the commit 89d74b3?  I adjusted the enable/disable for float and complex types in Tpetra and cleaned up the logic some.  You seem like the person who would most care to review this commit anyway.

[2016-11-20 21:26] sagitter opened #866 "PyTrilinos: libpytrilinos.so, undefined symbols"
Hi all.

`libpytrilinos.so` library has various undefined symbols:

[code]

It's built on Fedora 24 with `Python2.7`; should not it be linked to `libpython.so`?

Build log: https://kojipkgs.fedoraproject.org//work/tasks/5595/16545595/build.log

[2016-11-20 22:07] sagitter opened #867 "Shared libraries statically linked"
Hi all.

Never seen libraries like these; are correct?

[code]

Build log: https://kojipkgs.fedoraproject.org//work/tasks/5595/16545595/build.log

[2016-11-20 22:35] bartlettroscoe commented on #482
I tried adding the build and testing of `std::complex<double>` to the proposed PT CI build.    The results using 16 cores on my machine crf450 gave:

**PT CI Build *without* `std::complex<double>` (from scratch):**

[code]

**PT CI Build *with* `std::complex<double>` (from scratch):**

[code]

As one can see, the overall increase in the build and test times was not very large.  The build from scra

[2016-11-21 02:21] mhoemmen commented on #867
The names of those libraries sound right to me.  Some of them may be nearly empty, but that's OK.  Is it the names of these libraries that concern you, or some other property of them?

[2016-11-21 02:24] mhoemmen commented on #362
@bartlettroscoe I'm looking now.

[2016-11-21 02:41] mhoemmen commented on #362
@bartlettroscoe Looks pretty sane to me.  I made some comments on the commit.  There's only one correctness issue I saw:  In anasazi/CMakeLists.txt, Tpetra_INST_COMPLEX_DOUBLE may not be defined, since it's possible to build Anasazi with Tpetra OFF.  One question: Should we add a Tpetra_INST_DOUBLE_DEFAULT, by analogy with Tpetra_INST_FLOAT_DEFAULT?

[2016-11-21 04:52] mhoemmen opened #868 "Tpetra: Build issues w/ float & complex<float> enabled"
@trilinos/tpetra
See 19 Nov 2016 comments to #362:
https://github.com/trilinos/Trilinos/issues/362#issuecomment-261754907

[2016-11-21 05:04] mhoemmen commented on #868
Replicated with Clang 3.5 on Mac:
[code]

[2016-11-21 06:14] mhoemmen commented on #868
I just pushed a fix to this build error, as well as fixes to two tests that failed because they had hard-coded floating-point tolerances (1e-10 resp. 1e-12).  The TpetraCore_CrsMatrix_TriSolve test still fails with Scalar=float and std::complex<float>, for nonobvious reasons.  I excluded that test when I ran the check-in test script, because the build errors were blocking downstream tests.

[2016-11-21 06:14] #868 closed

[2016-11-21 06:23] mhoemmen commented on #362
I fixed the Tpetra build issues with Scalar = float and std::complex<float> (see #868).

[2016-11-21 10:20] sagitter commented on #867
Not the name but that they have not any dependence.

[2016-11-21 13:43] rppawlo opened #869 "Panzer: change adapters-stk subpackage dependency to list actual STK subpackages"
the PanzerAdaptersSTK subpackage currently requires the STK package. Instead of requiring users to guess which STK subpackages are actually required, let's just list out the subpackages (Util, Topology, Mesh and IO).

[2016-11-21 14:06] rppawlo commented on #869
This should help catch issues with trilinos testing platforms that are enabling STL-CLassic instead of new STK in panzer builds. Instead of reporting a panzer build error, we can catch at configure time.

[2016-11-21 15:05] wfspotz commented on #862
There is no immediate pressure, so let's do it correctly. I'm happy to wait for #482.

Nightly testing: yes, this is an issue as well. Hopefully, we will work through it soon, though. SWIG is a requirements issue, as is an installed NumPy module for Python. There is an optional dependence on mpi4py as well.

Including these items in the SEMS NFS mount would be welcome.

[2016-11-21 15:26] wfspotz commented on #866
This is a known issue. Adding Brent.

If you build the Trilinos library strictly for using PyTrilinos, then from within Python, PyTrilinos is loaded dynamically into an environment where all of these Python/C API functions are defined.

If you attempt to build Trilinos for a dual use for the C++ interface **and** the Python interface, you run into this problem. The pytrilinos library is included i

[2016-11-21 15:31] bartlettroscoe commented on #866
Sounds like something we will need to resolve.   Are there any automated tests that can be added to PyTrilinos that could help catch this?  Without that it will be hard to know if it is fixed and to help it stay fixed.

[2016-11-21 15:38] pwxy opened #870 "MueLu_IntrepidPCoarsenFactory build error because Intrepid2_FieldContainer.hpp not in intrepid2/refactor"
I'm getting the following drekar build error with muelu (I'm using the trilinos develop branch as of ~5:00 this morning):

/projects/ptlin/projects/drekar/Trilinos20161121/packages/muelu/src/Transfers/PCoarsen/MueLu_IntrepidPCoarsenFactory_decl.hpp(64): catastrophic error: cannot open source file "Intrepid2_FieldContainer.hpp"
  #include "Intrepid2_FieldContainer.hpp"

Intrepid2_FieldContainer.hpp

[2016-11-21 15:42] jwillenbring commented on #819
Sorry this one slipped through a crack in my inbox. I sent an invite.

[2016-11-21 15:42] #819 closed

[2016-11-21 15:47] #857 closed

[2016-11-21 15:48] wfspotz commented on #866
Automated tests would attempt to build a trivial executable that links against the exported list of Trilinos libraries. I believe it would fail at the linking step if `libpytrilinos` is in the list. I use the plural "tests" because we would need to test CMake exports and Makefile exports.

[2016-11-21 15:49] pbosler commented on #857
1) No, this test works properly -- it fails and throws the correct exception.
2) I am not using XML; I am setting the parameters in-source.
3) This works on both.

In a confusing twist, as part of pursuing your item 1) above, I did a `make clean`on my Mac code.  This resolved the issue -- the integer case is now throwing the correct exception.

[2016-11-21 16:29] bartlettroscoe commented on #362
Okay, I updated the commit to separate out Teuchos and Tpetra complex checks in the commit 3f30267 that I just pushed to the branch [better-ci-build-482](https://github.com/bartlettroscoe/Trilinos/tree/better-ci-build-482).

That is a good question.  Most other Trilinos packages don't even offer the ability to disable double support.  Tpetra seems to be the only package that allows one to disable

[2016-11-21 18:07] bartlettroscoe opened #871 "Link to Thyra Dev Doxygen is broken"
**CC:** @trilinos/framework

**Description:**

The link to the "Thyra Dev Doxygen" from:

* https://trilinos.org/packages/thyra/thyra-doxygen/

is broken.  It tries to take you to:

* http://trilinos.sandia.gov/packages/docs/dev/packages/thyra/doc/html/index.html

but that just takes you back to:

* https://trilinos.org/

[2016-11-21 18:45] mhoemmen opened #872 "Tpetra: Finish tools to determine OpenMP and MPI binding / affinities"
@trilinos/tpetra
Assigned to: @jjellio
CC: @tjfulle

James has tools, but needs to clean them for POSIX compatibility.
Affinity checking is done.
OpenMP is not done yet.  May need to getenv to figure this out.

[2016-11-21 18:46] mhoemmen opened #873 "Tpetra: Set up internal repos for code & data files for performance testing"
@trilinos/tpetra
Assigned to: @jjellio
CC: @tjfulle

[2016-11-21 18:46] mhoemmen opened #874 "Tpetra: Determine provisional data storage format (w/ metadata) for performance testing"
@trilinos/tpetra
Assigned to: @tjfulle , @jjellio

[2016-11-21 18:48] nmhamster commented on #872
@trilinos/tpetra what does this entail? Something like `OMP_DISPLAY_ENV=TRUE` might be sufficient for finding which binding domains are being used. It would be good to use the standard tools/environment variables if possible.

[2016-11-21 18:49] mhoemmen commented on #872
@jjellio says "Yes."  He uses VERBOSE for that variable.  aprun from Cray dumps all info from all procs to Proc 0.  It confuses information from the different processes.  Will need to figure that out.

[2016-11-21 18:50] mhoemmen opened #875 "Tpetra: Get accounts on internal Gitlab for performance testing"
@trilinos/tpetra
Blocks: #873

https://gitlab-ex.sandia.gov/users/sign_in
(Don't just use gitlab-ex.sandia.gov)

@jjellio will add us to the repos that he made.

[2016-11-21 19:08] mhoemmen commented on #819
@jwillenbring Thanks!!! :-D

[2016-11-21 19:09] mhoemmen commented on #875
I just got mine.  GitLab says I have access to two repos:
  - James Elliott / trilinos-perf-data
  - James Elliott / trilinos-perf

[2016-11-21 19:25] mhoemmen commented on #867
I think it's OK.  The subpackages that correspond to those libraries may be header-only and only have a "dummy" function so that the library is not empty.

[2016-11-21 19:28] srajama1 commented on #874
Adding @krcb as he is planning to do it for KokkosKernels. This could all be shared or related.

[2016-11-21 19:28] mhoemmen commented on #362
That's reasonable.  Nobody has ever asked me to disable Scalar=double ;-)

Use of GLOBAL_SET was likely just an artifact of different people working on that file, copying and pasting CMake code and hoping it would work ;-)  I don't think we need to export those defaults.

I think that's a good idea.

Could you please file issues for the two suggested changes you mentioned?  I think those are good

[2016-11-21 19:32] mhoemmen commented on #874
@jjellio emphasizes here the importance of capturing metadata relating to process and thread affinity and binding.  The same approach could also apply to CUDA -- e.g., environment variables like CUDA_LAUNCH_BLOCKING.

[2016-11-21 20:22] bartlettroscoe commented on #362
I will file them after I merge and push the `better-ci-build-482` branch.  That way you will not get a merge conflict when making these changes.  Thanks for the review!

[2016-11-21 20:26] jwillenbring commented on #871
@bartlettroscoe thanks for pointing this out. There was a mistake in the custom sidebar for child package pages. Please reopen if you see additional issues.

[2016-11-21 20:26] #871 closed

[2016-11-21 21:26] #809 closed

[2016-11-21 21:26] #810 closed

[2016-11-21 21:26] #274 closed

[2016-11-21 21:29] eric-c-cyr opened #876 "Fix some stuff"
This is just a dummy issue. @trilinos/panzer

[2016-11-21 21:30] #876 closed

[2016-11-21 21:57] MicheldeMessieres commented on #229
@bartlettroscoe I need to get a clarification for our item 6: Disallow throwing exceptions from destructors

In RCPNodeHandle we have a try-catch when the node deletes. I think we may wish to keep this try-catch in place for the unintended events - but change the unit tests so they don't ever intentionally cause an exception from the destructor.

For ObjectBuilder we had debug checks on the parame

[2016-11-21 22:58] mhoemmen opened #877 "Tpetra::CrsMatrix: Optimize sumIntoLocalValues for common case where input is shorter than # entries in matrix row"
@trilinos/tpetra
CC: @crtrott, @nmhamster

  1. Strip-mine input indices and values by some small compile-time constant K (e.g., 8)
  2. Copy those K indices and values into a temporary buffer of length K
  3. #887: Sort the indices and values jointly by indices (Tpetra::sort2 or equivalent algorithm)
  4. Use (sorted, sorted) search (different than findRelOffset) so that you pass over the entries

[2016-11-21 23:08] bartlettroscoe commented on #229
Yes, leaving the try-catch in place and letting it abort it the right thing to do. I think we need a Teuchos macro `TEUCHOS_CATCH_AND_ABORT()` that would be used like [TEUCHOS_STANDARD_CATCH_STATEMENTS()](https://trilinos.org/docs/dev/packages/teuchos/doc/html/group__teuchos__language__support__grp.html#gab3394c84cafa46db953af08c021aadc2) is used.  That is, it would be used like:

[code]

When MPI

[2016-11-21 23:37] mperego opened #878 "Make Intrepid2 independent of (or optionally dependent on) Sacado"
Presently, Intrepid2 has a required dependency on Sacado.
This is not strictly needed and we want to remove this dependency in order to reduce interdependencies between packages. Intrepid2 can still have an optional dependency on Sacado for testing purposes.

In order to achieve this goal we need to move the factory (https://github.com/trilinos/Trilinos/blob/master/packages/sacado/src/Kokkos_ViewF

[2016-11-21 23:59] dridzal commented on #878
Isn't Sacado used for computing derivatives of certain high-order basis functions?  How can you remove it?

________________________________
From: mperego <notifications@github.com>
Sent: Monday, November 21, 2016 16:37
To: trilinos/Trilinos
Subject: [EXTERNAL] [trilinos/Trilinos] Make Intrepid2 independent of (or optionally dependent on) Sacado (#878)

Presently, Intrepid2 has a required dependen

[2016-11-22 00:26] mperego commented on #878
@dridzal True, Sacado seems to be used for HGRAD_TRI_Cn_FEM_ORTH, HGRAD_TET_Cn_FEM_ORTH, HGRAD_POLY_C1_FEM.
However these elements don't seem to be used often.. if so I think it still make sense to have SACADO optional (and these will be compiled only when SACADO is enabled).
I'll look into this. Thanks for pointing this out.

[2016-11-22 03:10] jjellio commented on #872
@nmhamster I use the environment variable currently (OMP_DISPLAY_ENV=verbose). There are a few issues with it:
1) Some process launchers funnel all outputs to rank 0, and the OMP ENV stuff does not use the host name (or some other identifier) to make it clear which display corresponds to which rank.

2) The "environment" variables in OMP_DISPLAY_ENV, are not system environment variables, so you ca

[2016-11-22 03:13] nmhamster commented on #872
@jjellio any chance we can do this without hwloc? It would make it easier on some machines if we could just directly hit NUMA calls.

[2016-11-22 03:42] jjellio commented on #872
I don't need hwloc actually.  The pthread api allows you to get good affinity info, but I am not sure how well it is supported by Cray/Intel threads. On Bowman/Shepard, this tool reports exactly the same affinity info as KMP_AFFINITY=verbose or OMP_DISPLAY_ENV verbose.

I like Hwloc though, because I can then work out the actual topology of 'where' the threads in a processes ran on a node. So my g

[2016-11-22 04:22] mhoemmen commented on #877
Notes for the sort:

  - Use a sorting network: http://pages.ripco.net/~jgamble/nw.html
  - In the sorting network, use the SWAP operation here: http://stackoverflow.com/questions/2786899/fastest-sort-of-fixed-length-6-int-array

[2016-11-22 04:24] nmhamster commented on #877
@mhoemmen we might be able to produce very fast intrinsics based variants for KNL and Haswell. I think you might want to consider some form of preprocessor definitions around this call so we can drop in the faster variants if we can work them out?

[2016-11-22 04:57] mhoemmen commented on #877
@nmhamster I was planning on separating out the custom sort into a function anyway.  I could definitely add some macros (e.g., through CMake) so you could substitute in your own awesome code :-D  The only wrinkle is that I would need a "sort2," that is, sort by indices and use them as keys to reorder the corresponding values.

[2016-11-22 06:46] mhoemmen opened #879 "Tpetra: Add wrapper for MPI_Comm_test_inter"
@trilinos/tpetra
Story: #748
Related to: #752

Intercommunicators do not allow aliasing send and receive buffers in MPI collectives.  The usual communicators are intracommunicators (in_tra_ not in_ter_), which _do_ allow such aliasing (via MPI_IN_PLACE).  Thus, it's important to tell whether a given communicator is an intercommunicator, because that lets us skip allocation of temporary buffers and

[2016-11-22 14:48] sagitter commented on #867
Okay, thank you.

[2016-11-22 14:48] #867 closed

[2016-11-22 15:07] sagitter opened #880 "PyTrilinos: tests failed for missing __init__.py"
Hi all.

A couple of `PyTrilinos` tests (`PyTrilinos_testIsorropia, PyTrilinos_testNOX_StatusTest`) are failing for missing `__init__.py` files:

[code]

Build log: https://kojipkgs.fedoraproject.org//work/tasks/264/16560264/build.log

[2016-11-22 15:12] ibaned commented on #870
I'm also seeing similar errors in our Albany builds:

http://my.cdash.org/viewBuildError.php?buildid=1086442

@trilinos/muelu @trilinos/intrepid2 @lxmota

[2016-11-22 15:20] rppawlo commented on #870
This is because we switched the default build of Intrepid2 from "core" to "refactor". I was under the impression that Albany was already switched over and using the refactor branch. If not, then you need to add this to your configure script:

-D Intrepid2_ENABLE_KokkosDynRankView:BOOL=OFF

[2016-11-22 15:21] rppawlo commented on #870
Should have also added that the FieldContainer was removed form Intrepid in the refactor branch. All FieldContainers should be switched to Kokkos::DynRankViews

[2016-11-22 15:25] ibaned commented on #870
Albany has switched to the Intrepid2 refactor branch, and has been building with `Intrepid2_ENABLE_KokkosDynRankView:BOOL=ON`. However, it seems parts of MueLu are still looking for FieldContainer. So this looks more like an issue with MueLu not supporting the Intrepid2 refactor branch.

[code]

[2016-11-22 15:28] mperego commented on #870
Yeah, @csiefer2 is working on that. What I don't understand is why this issue appeared recently and not when we switched Albany to use the re-factored Intrepid2.

[2016-11-22 15:31] ibaned commented on #870
Great, thank you.

My guess is MueLu or Intrepid2 changed recently, after the switch to refactor. If its meaningful I could find the offending commit via bisect, but thats likely not needed to provide a fix.

[2016-11-22 15:43] mperego commented on #870
Maybe this caused it?
https://github.com/trilinos/Trilinos/commit/c024e1947242ca8afc7607903f61f72822b99aa4

Anyway, let's Chris work on it. Sorry we did not see this coming.

[2016-11-22 15:49] rppawlo commented on #870
Looks like the Intrepid::FieldContainer is actively used in muelu:

[code]

[2016-11-22 15:57] mperego commented on #870
Ah, OK.. before Muelu was using Intrepid, not Intrepid2..
https://github.com/trilinos/Trilinos/commit/bbb0e6b4faa4edc3abca2695dbe8afca1f42af8f

[2016-11-22 17:41] csiefer2 commented on #870
Fix pushed.

[2016-11-22 17:41] #870 closed

[2016-11-22 18:56] wfspotz commented on #880
When I see this kind of error, it usually indicates some kind of corruption of the build system. This looks like an automated build. Is there any chance it was built on top of an earlier failed attempt?

[2016-11-22 19:09] sagitter commented on #880
No but i have added Python shebang (`#!/usr/bin/python2.7`) on top of the file.

[2016-11-22 19:23] mhoemmen commented on #870
@ibaned wrote:

@csiefer2 explained to me that he first added a thing to MueLu, then Intrepid2 switched to refactor not long after that.

[2016-11-22 19:25] mhoemmen commented on #879
Fun fact: Teuchos::MpiComm's constructor does a collective by default.  It hangs for some reason if the MPI_Comm is an intercommunicator.  I got around this by using MpiComm's constructor that takes a "default tag" argument (thus bypassing the collective, that gets all the processes to agree on a default tag).  This was only an issue in the test.  The commit mentioned above fixes this issue.

[2016-11-22 19:25] #879 closed

[2016-11-22 19:27] wfspotz commented on #880
@sagitter, you added the shebang to which file?

[2016-11-22 19:36] sagitter commented on #880
Ah, sorry; i have replaced `#!/usr/bin/env python` with `#!/usr/bin/python2.7` on all *.py installed files including `__init__.py`.

[2016-11-22 19:45] bartlettroscoe commented on #158
@bmpersc, I cleaned up the SEMSDevEnv.cmake file quite a bit.  See the version of SEMSDevEnv.cmake for the commit 19afca0 which you can see the full file [here](https://github.com/trilinos/Trilinos/blob/19afca0ffd66572a61a357871f5a8b814b47f944/cmake/std/sems/SEMSDevEnv.cmake).  Hopefully this will address the majority of your concerns you expressed above (except for perhaps how it gets loaded).

T

[2016-11-22 21:00] wfspotz commented on #880
On a PyTrilinos installation I just built based on the most current develop branch, I only find one .py file that uses the shebang, and that is `PyTrilinos/__init__.py`. It uses the `PYTHON_EXECUTABLE` from cmake, and not `#! /usr/bin/env python`. So I don't understand where the shebangs you are replacing are coming from.

[2016-11-23 19:51] mndevec opened #881 "Zoltan2::EvaluatePartition - calculates metric inside the constructor"
EvaluatePartition has a shared constructor in which the all available metrics are calculated. This created some issues when I inherit a new class from EvaluatePartition.

I am currently working on the mapping problem. Many classes in mapping problem inherit from the classes of partitioning problem, since a mapping problem is also a partitioning problem with extra considerations including the under

[2016-11-23 20:23] MicheldeMessieres commented on #881
@kddevin, @mndevec hi Mehmet - I currently have some work in progress (PR #849) which does quite a bit of reorganizing on those classes. I do not think those changes really impact what you are dealing with but just wanted to be aware. Since you are working on a derived version of EvaluatePartition I expect merging your changes with mine will not cause any great difficulty.

One idea might be to se

[2016-11-23 20:49] mndevec commented on #881
Michel,
If I understood correctly, bMetricsCalculated flag can solve my problem.
-In that case,
1) constructor will have a boolean parameter to whether to calculate metrics in the constructor or not.
2) shared_constructor function still needs to be changed to evaluate function that can be called publicly. When this function is called bMetricsCalculated will be set to true.
3) when printMetrics is

[2016-11-23 20:57] mhoemmen commented on #881
Hi @mndevec !  Sorry to elbow my way into this conversation, but one thing that could help here would be to hide your new class' constructor, and only make available instances of the class through a nonmember function.  This function would construct an instance of the class, then tell the class to compute metrics, and then finally return the fully constructed object.  That way, users would never s

[2016-11-23 23:21] MicheldeMessieres commented on #881
@mndevec @kddevin I'm guessing there will be some requirements to keep the API consistent and not changed so I think we'd have to get Karen's feedback before making any API formatting changes.

I think Mark's idea is bette, gives us a more general solution, and would be less confusing. That might involve changing slightly how users call the construction so I think we'll have to find out exactly wh

[2016-11-24 17:34] sagitter commented on #880
I have removed `#!/usr/bin/env python` replacing. However, i noted that these failures happen on `fedora 26`, not on `fedora 24` and on `rhel7`.

And then, why does not find `___init__` module?

`1557: ImportError: No module named ___init__`

[2016-11-24 18:31] mhoemmen commented on #880
btw nearly all of us are away for the Thanksgiving holiday starting today.  Most of us should be back to work Monday.

[2016-11-24 21:43] sagitter commented on #880
Could be this issue related to new `CMake-3.7.0` ?

[2016-11-24 22:02] mhoemmen commented on #880
@sagitter wrote:

It's possible.  I'm not sure what @wfspotz uses for PyTrilinos testing, but most of us test with CMake versions between 2.8.11 (minimum version for building Trilinos) and 3.5.x.  I use 3.3.2 (3.4 had a performance regression).

[2016-11-25 21:33] spdomin opened #882 "Problem with clang-700.1.81 Trilinos develop config step"
I am firing up my Clang (Mac) application builds after about three weeks of down time and now have a host of issues with the config step of Trilinos. Below are some snippets from my failed config which look suspicious, however, I am not really sure if these are the major problem or not:

[code]

[code]

[code]

[2016-11-25 21:54] mhoemmen commented on #882
The last "error" is just a test for whether the compiler supports `#pragma weak`.  It looks like the compiler in that case does not.

[2016-11-25 22:11] nmhamster commented on #882
@mhoemmen do you also for square brackets attributes notation?

[2016-11-25 23:39] ibaned opened #883 "Tpetra::MultiVector pack & unpack uses atomic ops even for Kokkos::Serial"
I'm separating this issue out from kokkos/kokkos#549. @mhoemmen wrote:

I'm pretty sure `Kokkos::Serial`  is the only Kokkos execution space I have enabled.
I then get this Valgrind report from a parallel Albany run:

[code]

The actual uninitialized value issue is from [this comparison](https://github.com/kokkos/kokkos/blob/master/core/src/impl/Kokkos_Atomic_Exchange.hpp#L285) in `Kokkos::atomic_

[2016-11-26 01:10] spdomin commented on #882
These all look new to me. Also the seed error is obviously wrong. However this looked to be auto generated test files and I am too much of a novice to change it.

[2016-11-26 05:06] mhoemmen commented on #882
@nmhamster wrote:

I couldn't find a test for C++11 generalized attributes anywhere in Trilinos.  GCC 4.7.x doesn't support them:

https://gcc.gnu.org/gcc-4.7/cxx0x_status.html

but GCC 4.8 does:

https://gcc.gnu.org/gcc-4.8/cxx0x_status.html

Most of those tests come from either TriBITS or Teuchos, I think.  I only added the `#pragma weak` test to Teuchos as part of the LinearSolverFactory effort

[2016-11-26 05:12] mhoemmen commented on #882
@nmhamster Would you like a CMake test for square brackets attributes notation?  That may be a bit tricky, because different versions of the C++ standard support different attributes, and because only C++17 proposes that compilers should ignore attributes that they don't understand:

http://en.cppreference.com/w/cpp/language/attributes

However, we could easily test an attribute specified in C++11

[2016-11-27 04:39] mhoemmen commented on #883
@trilinos/tpetra

Yikes, you're right!  Had forgotten about that bit.  @etphipp added thread-parallel pack and unpack for Tpetra::MultiVector a while back.  We need to do the same thing for pack and unpack, that we already do for {replace,sumInto}{Global,Local}Values, namely turn off atomic updates for the non-threaded case.

[2016-11-28 18:27] mndevec commented on #881
@mhoemmen Thanks for the help! But I could not yet understand your suggestion, I will stop by office to ask about that.

@MicheldeMessieres, currently the modifications I have done (to be able to pass this point) are:
 - add one more constructor to EvaluatePartition class. In that constructor the sharedConstructor is not called, and that is the constructor called by EvaluateMapping class.
 - I cal

[2016-11-28 18:48] wfspotz commented on #880
Looks like I am using cmake 3.6.0, without problem.

Do you have LOCA enabled? The reason I ask is because this `___init__` module issue is only going to show up for those packages that have nested namespaces: NOX, LOCA, and Isorropia. If I understand things correctly, this is the _only_ issue were are addressing here, correct?

[2016-11-28 19:09] sagitter commented on #880
All packages are enabled except `STK` and `gtest`.
`Trilinos` configuration from build in question: https://paste.fedoraproject.org/492076/

[2016-11-28 19:23] mhoemmen commented on #881
@mndevec wrote:

I'll likely be out of office all week, since my mother is visiting.  Here is an example:
[code]

[2016-11-28 19:33] mhoemmen commented on #881
I forgot one thing.  Suppose that you want users still to be able to call DerivedClass' constructor, and you want this explicit call to DerivedClass' constructor to compute metrics (so that it behaves just like BaseClass).  However, you want createInstance _not_ to compute metrics.  Here is an example (I omit some things that don't change from above).
[code]
You only need to use the tag technique

[2016-11-28 19:33] mhoemmen commented on #881
oops, sorry, closed this by mistake.

[2016-11-28 19:35] mhoemmen commented on #881
btw the above technique is called "tag dispatching."  The C++ Standard Library uses this to select the most efficient generic algorithm, based on whether a standard container's iterators implement certain features.

[2016-11-28 22:50] bartlettroscoe opened #884 "TrilinosCouplings Scaling examples fails to build in CI build"
**CC:** @trilinos/framework, @trilinos/intrepid2

**Description:**

The TrilinosCouplings example example_Poisson2D_pn_tpetra.cpp currently fails to build as shown here:

* http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2632716

which shows:

[code]

[2016-11-28 22:51] bartlettroscoe commented on #884
This is blocking the completion of #482 so I am going to disable the build of this example for now.  Actually, once #482 is completed and people start using checkin-test-sems.sh to push, then we will not have pushes that break a CI build like this again in the future (or we will make them very rare).

[2016-11-28 23:04] bartlettroscoe commented on #321
@bathmatt, do you have a current Trilinos configure script for one of the ATTB CUDA machines set up so that we can try this patch provided by Brad in kokkos/nvcc_wrapper#5?  If you do, then Joe F. or I can give it a try on hansen or shiller.

@crtrott, do you have any objection to the changes in kokkos/nvcc_wrapper#5?  After we are able to test this with Ninja, then is this something that you woul

[2016-11-28 23:22] mndevec opened #885 "Zoltan2_ImbalanceMetricsUtility.hpp targetNumParts is comm size"
imbalanceMetrics function in Zoltan2_ImbalanceMetricsUtility.hpp seems to obtain targetNumParts from the communicatior size around line ~454.

Is this the way that was decided? Shouldn't it obtain those from Solution using getTargetGlobalNumberOfParts?

This prints invalid imbalances for the mapping problems where I have serial input adapters.
@trilinos/zoltan2

[2016-11-29 00:18] jhux2 commented on #884
@csiefer2

[2016-11-29 00:23] csiefer2 commented on #884
Don't disable it.  This is on my list of things to fix tomorrow.

[2016-11-29 00:26] bartlettroscoe commented on #884
Re-enabling it will be a single `git revert <sha1>`.  I will provide the exact command once I push.  As it stands, it is blocking my push to implement #482 and it is breaking for everyone currently trying to build TrilinosCouplings tests.

[2016-11-29 00:31] mperego commented on #884
Thanks @csiefer2, let me know if you need help with that.

[2016-11-29 00:42] csiefer2 commented on #884
BTW, the code will build if you do this:

-DIntrepid2_ENABLE_KokkosDynRankView:BOOL=OFF

[2016-11-29 01:56] bartlettroscoe opened #886 "Intrepid2_refactor_perf-test_DynRankView_Serial_Test_01_MPI_1 fails in new MPI_RELEASE_DEBUG_SHARED_PT_COMPLEX build"
**CC:** @trilinos/intrepid2, @trilinos/framework

**Description:**

The test Intrepid2_refactor_perf-test_DynRankView_Serial_Test_01_MPI_1 fails in the new MPI_RELEASE_DEBUG_SHARED_PT_COMPLEX build being put together as part of the new checkin-test-sems.sh script (see #482).  The failure looks like:

[code]

It seems that this test is failing randomly with the current CI server as shown here:

* h

[2016-11-29 01:59] bartlettroscoe commented on #886
I am going to disable this test for the MPI_RELEASE_DEBUG_SHARED_PT_COMPLEX build in the checkin-test-sems.sh script.  It will still run (and likely randomly fail) as part of post-push testing and every other build/test of Trilinos.

[2016-11-29 02:03] bartlettroscoe commented on #886
Strangely this test passes for the non-complex build MPI_RELEASE_DEBUG_SHARED_PT:

[code]

Since people routinely disable complex in their own local testing, I am wondering if they did not see this test failing in their build.  Go figure.

Therefore, this test will still be enabled in the one standard non-complex MPI_RELEASE_DEBUG_SHARED_PT build.

[2016-11-29 02:19] mperego commented on #886
I can disable all the Intrepid2 performance tests for now. Sorry for the trouble, we just went through a major code update.

[2016-11-29 02:28] bartlettroscoe commented on #886
You can add the argument `CATEGORIES PERFORMANCE` to the `TRIBITS_ADD_TEST()` all and that will disable it for all but special performance builds.  In fact, you should that for all performance tests and then set up a nightly build that just runs those on an uploaded machine.  That is not that hard to do and I can help you set that up to protect such code.  I have some performance tests in Teuchos

[2016-11-29 02:58] bartlettroscoe commented on #482
As of the commit:

[code]

This has now been merged to the Trilinos 'develop' branch.

Now I have several other things to do to finish this up starting with getting a poor-man's post-push CI server running to protect this build.

[2016-11-29 03:01] bartlettroscoe commented on #884
The commit that disabled this is:

[code]

@csiefer2, you can revert this in your local `develop` branch with:

[code]

and then fix this and push (now with the newly updated checkin-test-sems.sh script).

[2016-11-29 03:01] mperego commented on #886
I've added CATEGORIES PERFORMANCE to the performance tests of Intrepid2.
10f13ef1b9a9f214c1e295430970d22ca37b406b
Thanks for helping.

[2016-11-29 03:01] bartlettroscoe commented on #886
The commit that disables this test is:

[code]

This only impacts the pre-push build so nothing needs to be done.

[2016-11-29 04:01] bartlettroscoe commented on #482
I set up the cron job:

[code]

on my machine crf450.  I manually started it just now and it is showing results at:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-11-28

for the build Linux-GCC-4.7.2-MPI_RELEASE_DEBUG_SHARED_PT_CI.

I will watch this tomorrow to make sure that it is running okay.

Once this runs for a few days on crf450 in this simple cron job, then we can

[2016-11-29 05:09] rppawlo commented on #884
Not sure if your current testing includes Panzer, but if it does, you will need to turn the above flag to ON.  It requires the new refactor branch.

[2016-11-29 06:31] mhoemmen opened #887 "Tpetra: Add sort (by keys, permuting values) for short, constant-length arrays"
@trilinos/tpetra
Story: #877

[2016-11-29 13:52] bartlettroscoe commented on #482
The full CI build ran and completed as shown here:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2633690

But it had the problem that it also enabled ST code and therefore failed the configure of PyTrilinos and tried to enable TriKota (which failed of course because Dakota is not cloned under this).

I updated the driver script to accommodate this in 1b14dad.

[2016-11-29 13:58] bartlettroscoe commented on #884
Panzer is most definitely part the new PT CI build for Trilinos.  Also, we must have one unique CI buld so I am guessing that `-DIntrepid2_ENABLE_KokkosDynRankView:BOOL=ON` needs to be set for that build.

[2016-11-29 14:08] bartlettroscoe commented on #482
The new crontab line is:

[code]

This will keep a copy of the trilinos_ci_server.out file from the last day and starts an hour earlier.

I will create a new story to improve this CI build to use Jenkins and/or CTest/CDash to drive and report results.

[2016-11-29 15:38] rppawlo commented on #884
The default is "ON" for the flag Intrepid2_ENABLE_KokkosDynRankView, so you don't need to set anything.

[2016-11-29 15:51] csiefer2 commented on #884
I hope the irony of having a hard dependency on something in the Kokkos::Experimental namespace isn't lost on anyone else...

[2016-11-29 16:45] spdomin opened #888 "Substantial slow-down in Tpetra Muelu"
Greetings,

Does anyone on the Trilinos development team have a recent set of Muelu/ML comparisons?

As I transition **fully** from ML to Muelu (this effort is part of Epetra deprecation) almost every single test is O(30)% slower. In most cases, I am using a Muelu XML file that “matches” the previous ML input. See attached test example (nonIsoElemOpenJet). Although I am using the blessed XML for M

[2016-11-29 16:46] spdomin opened #889 "Muelu::Amesos2Smoother::Setup throw..."
I am transitioning to use purely Muelu (no ML/Epetra).

In one of my tests, elemClosedDomain, I see the following fail:

Throw number = 13
Throw test that evaluated to true: rowMap->getComm()->getSize() > 1

MueLu::Amesos2Smoother::Setup Fixing coarse matrix for Amesos2 for multiple processors has not been implemented yet.

I already wrote Jonathan and Siva about this, however, if anyone has any i

[2016-11-29 16:50] tawiesn commented on #889
@spdomin Since there is no "Reindex" flag in Amesos2 (as in Amesos) you have to provide "standard" matrices (meaning your GIDs must be consecutive and start from 0). We have a proof-of-concept implementation which accepts "arbitrary" coarse level operators, but that only works in serial (that is the error message that you see).
In my opinion this is nothing we should fix in MueLu but in Amesos2.
P

[2016-11-29 16:57] rppawlo commented on #888
@pwxy do you have data for Drekar?

[2016-11-29 17:00] spdomin commented on #888
no, sorry. my guess it has also taken a hit.

[2016-11-29 17:02] spdomin commented on #889
ILUT will not scale to the levels that we need.

I thought that @srajama1 had this on his list to fix three years ago? Seriously, I think I recall this from FY12 milestone days.

[2016-11-29 17:36] jhux2 commented on #889
@spdomin In the failing test, is MueLu building a one-level multigrid method, i.e., is Amesos2 being called directly on the Nalu PPE linear system?

[2016-11-29 17:37] jhux2 commented on #889
@trilinos/muelu

[2016-11-29 17:38] jhux2 commented on #888
@trilinos/muelu

[2016-11-29 17:40] bartlettroscoe commented on #884
It depends on what "Experimental" really means in Kokkos.  But form the standpoint of the TriBITS Lifecycle Model, less mature code can be wrapped and used under more mature code as long as the code hides the details and does its own acceptance testing.  Therefore, this Kokkos code can change rapidly under the covers but that is just fine as long as Panzer provides a consistent interface needed fo

[2016-11-29 17:46] jhux2 commented on #888
@spdomin There's no attachment.  Github allows just a [limited number of file extensions](https://github.com/blog/2061-attach-files-to-comments).

[2016-11-29 18:00] spdomin commented on #888
Sorry, I was trying to post to the Trilinos mail page all morning and forgot to remove the reference of the file. However, here it is...
[mlMuelu.pdf](https://github.com/trilinos/Trilinos/files/619760/mlMuelu.pdf)

Also, in this case, is the mesh so small that it is actually doing a direct solve?

[2016-11-29 18:29] jhux2 commented on #888
@spdomin Thanks for the data.  The mesh is has about 45K elements, so MueLu should be creating a multiple level hierarchy.  You can verify this by changing the verbosity in the MueLu XML file to "high".  (For the benefit of others, this question pertains to issue #889.)

[2016-11-29 18:36] srajama1 commented on #889
I believe you might be thinking about indexBase issue that had some trouble during the milestone and got fixed.  They are related but not exactly the same. Reindexing was not part of Amesos/Amesos2. We considered adding it as a feature when we designed Amesos2, but it was very low in priority. It was always done through EpetraExt for Amesos. We could add it to Amesos2 or to Tpetra/ext @trilinos/tp

[2016-11-29 18:38] jhux2 commented on #889
@spdomin asked in #888:

The mesh has about 45K elements, so MueLu should be creating a multiple level hierarchy. You can verify this by changing the verbosity in the MueLu XML file to "high".

[2016-11-29 18:48] #884 closed

[2016-11-29 19:10] #886 closed

[2016-11-29 19:38] wfspotz commented on #880
I installed `cmake-3.7.0` and was able to successfully build and test PyTrilinos, with no `import ___init__` issues. I did this on Mac OS X 10.11.6. So the `cmake` version seems to be eliminated.

I think that `fedora 26` is the likely culprit. Can you look in your build directory and confirm the following files:
[code]
I may have the suffix wrong -- it could be `.dyld` or something else on Fedora

[2016-11-29 19:41] mndevec commented on #223
My latest push (76a5ad47e4436052bbf8ea9c83dbe91161ea0737) should fix this issue.

I am using tpetra matrix for message metrics, which is defined as below.
[code]
Iocal_part_type and global_part_type both should be part_t, but tpetra does not instantiate int,int,double that was causing the problem. Current fix is to define local_part_type and global_part_type as local and global ordinal types.

Thi

[2016-11-29 19:45] mndevec commented on #224
@kddevin
After my latest push (76a5ad47e4436052bbf8ea9c83dbe91161ea0737), I made a push to HOMME that adopts new interface for mapping problem (d38eb731d9bcc2d73007b15590aaeaaedf1c6364 in ACME).
Old interface is still there for correctness tests. I am closing the issue, let me know if more needs to be done about this.

[2016-11-29 19:45] #224 closed

[2016-11-29 20:03] sagitter commented on #880
Are there:

[code]

[code]

[2016-11-29 20:29] bartlettroscoe commented on #482
An incremental CI iteration just fired of after an updated Belos file was pulled.  See the output at:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2634735

which shows it starting at Belos which cuts off about 1/2 or more of the Trilinos packages.

We can also see the cost for the package-by-package build from scratch at:

* http://testing.sandia.gov/cdash/index.php?proje

[2016-11-29 20:30] rppawlo commented on #446
@eric-c-cyr - talked to Suzey - does not need this anymore.  Putting into backlog.

[2016-11-29 20:31] eric-c-cyr commented on #446
Not disagreeing with you about back burner, but I'd actually like this capability (perhaps more than Suzey).

[2016-11-29 20:50] wfspotz commented on #880
I'm running out of ideas. Now I'm looking at your python version. From your configuration file, you are picking up a python with version `2.7.12`. I am running `2.7.10`. It seems highly unlikely that a newer python would change the import rules such that this could happen. But you might try with `2.7.10` to see what happens.

Basically, we have imported, say, `NOX/__init__.py`, which in turn is tr

[2016-11-29 20:54] aprokop commented on #889
@jhux2 If a fine level matrix was "bad" (i.e., gaps in maps, or something like that) the coarse matrix should still be fine, right? As its row map should be based on the column map of Ptent which should be fine.

[2016-11-29 21:06] jhux2 commented on #889
@aprokop Right, which is why I was wondering if somehow MueLu is producing a single level, hence handing the Nalu matrix directly to Amesos2.

[2016-11-29 21:13] bartlettroscoe opened #891 "Set up automated Nightly testing for PyTrilinos"
**CC:** @trilinos/framework, @wfspotz

**Description:**

Currently PyTrilinos is not under any automated testing that gets posted up to the Trilinos CDash site:

* testing.sandia.gov/cdash/

See the below email chain.

----

From: Bartlett, Roscoe A
Sent: Tuesday, November 29, 2016 4:10 PM
To: Spotz, William F
Cc: Willenbring, James M; Perschbacher, Brent M
Subject: RE: [Pytrilinos-regression] FAI

[2016-11-29 21:53] spdomin commented on #889
This is a one-proc run... Looks like the indices are legit..
[code]

[2016-11-29 22:05] bmpersc commented on #764
the tarball has been created and the website updated. Leaving this open because there is still an issue with the doxygen pages.

[2016-11-29 22:34] tjfulle opened #892 "Tpetra readSparseFile error"
@trilinos/tpetra @mhoemmen

The `Tpetra::MatrixMarket::Reader<Tpetra::CrsMatrix<> >::readSparseFile` method fails to read in files if there are multiple spaces between fields on the banner line.  For example, given the banner

[code]

the reader throws the following error:

[code]

Removing the spaces between fields, i.e.

[code]

resolves the problem.  However, many files at <http://math.nist.gov

[2016-11-29 23:20] srajama1 commented on #889
Thanks @spdomin . If the global indices are legit then Amesos2 will have no problem handling it (assuming they stay legit in the hierarchy).

[2016-11-29 23:21] bartlettroscoe commented on #482
To address the STK and SEACAS sync issues created by the direct pushes to the stk/cmake/Dependencies.cmake and seacas/cmake/Dependencies.cmake files, I created the SEACAS PR:

* https://github.com/gsjaardema/seacas/pull/64

and the native STK Trac ticket `#15930` for getting SEACAS and STK synced up with the various repos (one of which I can't mention here).

@bmpersc, if you have any questions ab

[2016-11-29 23:29] aprokop commented on #889
@srajama1 this is only for serial run, we still need to make sure its the same in parallel

[2016-11-29 23:32] srajama1 commented on #889
Sans any Zoltan2 like partitioning this is block partitioning, right ?

[2016-11-29 23:35] aprokop commented on #889
Not sure what you mean. But I think STK might be involved in some way.

[2016-11-30 00:14] bartlettroscoe opened #893 "Address expensive PT pre-push BASIC Trilinos tests"
**CC:** @trilinos/framework, @trilinos/rol, @trilinos/teko, @trilinos/zoltan

**Description**

The initial PT pre-push CI test suite (see #482) currently has some pretty expensive tests.  Looking a the first post-push CI iteration this morning, we see the 2259 tests and their times at:

*  http://testing.sandia.gov/cdash/viewTest.php?onlypassed&buildid=2634468

We see that there are 9 tests that t

[2016-11-30 01:05] mhoemmen commented on #223
It does if you _ask_ ;-)  Instantiations cost build time and library size, though.  If I had my way, I would get rid of all GlobalOrdinal types other than `long long`, and only let users choose the LocalOrdinal type.

[2016-11-30 01:13] mhoemmen commented on #892
@tjfulle You caught me on my week off ;-)  Care to take this one yourself?  teuchos/numerics/src/Teuchos_MatrixMarket_Banner.cpp, Banner's constructor.  I was pretty sure that the split() function used on line 221 of that file would take care of multiple spaces, but apparently not!

We could take care of this quickly by first adding a new unit test (in a separate file) to the teuchos/numerics/test

[2016-11-30 01:25] tjfulle commented on #892
@mhoemmen, yep, I'll take care of it tomorrow.

[2016-11-30 01:33] mhoemmen commented on #892
Thanks @tjfulle !  You're awesome! :-D

[2016-11-30 01:41] bartlettroscoe commented on #482
An update on the new CI build that I have set up on my machine crf450 ...

Already there have been several incremental CI iterations today shown at:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-11-29

where the ROL build was broken and then finally fixed.  In the incremental iteration where ROL was fixed, it only took the times:

* Update = 6s
* Configure = 59s
* Build =

[2016-11-30 05:26] mhoemmen commented on #889
@srajama1 wrote:

I'm not sure how Amesos2 redistributes the input matrix A to fit the solver.  Let's suppose that Amesos2 first does an Export from A to A_gather, whose Map is a gather Map `gatherMap` (result of gathering all GIDs to Process 0; see tpetra/core/src/Tpetra_ComputeGatherMap.hpp).  Suppose that `gatherMap` does not meet the requirement of being contiguous and starting with GID 0.

[2016-11-30 13:51] bartlettroscoe commented on #702
Sounds like a good approach.  It would be good if CDash would allow people to create their own CDash accounts and then sign up to get CDash emails for specific builds they care about.

[2016-11-30 13:58] bartlettroscoe commented on #91
I believe that this has been resolved as of Trilinos commit f2b04f7569:

[code]

Now the CMake system for Trilinos will write in RPATH correctly by default for Linux and OSX.

[2016-11-30 14:01] spdomin commented on #889
It looks like the parallel GIds are not as friendly at the serial run.

As I review the test mesh, it is an unstructured tri3 mesh. It looks like to my novice view that the GIds might be neither starting at zero nor continuous, however, I need a second opinion.

[2016-11-30 14:02] bartlettroscoe commented on #91
@BarrySmith, if the PETSc bulid of Trilinos is still being maintained, you might try stripping out all of the manually set `-rpath` paths and let CMake write RPATH itself by default.  Also, by doing this, this should also fix trilinos/xSDKTrilinos#8.

I have put this in review.  If someone gets a chance to try this out at some point, that would be good feedback so that we can close this.

Thanks f

[2016-11-30 14:16] bartlettroscoe commented on #562
Can we close this?

[2016-11-30 14:37] bathmatt commented on #786
Yes, I'm still getting this, sorry for the long delay, didn't see this.  Just checked this a.m. and got this

packages/ifpack2/src/libifpack2.a(Ifpack2_Relaxation_OpenMP.cpp.o): In function `KokkosKernels::Experimental::Util::endswith(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char>

[2016-11-30 15:05] aprokop commented on #889
@mhoemmen wrote:

Wait, I thought when one uses `removeEmptyProcesses*` the newly provided map should have the same GIDs as the original? From your words it seems to me a lot more general. If I read it right, you can replace a map in a matrix by any other map (at least in serial). That kind of breaks my intuition of what that function should do.

[2016-11-30 15:06] aprokop commented on #889
@spdomin wrote:

Can you please attach the output for the GIDs in parallel run?

[2016-11-30 16:22] srajama1 commented on #889
@mhoemmen : The A_gather map depends on the solver. For a sequential solver what you said will work. If the solver is SuperLU-Dist, I replace SerialComm with an appropriate one ? Note that this is similar to EpetraExt's reindexing operator which Xyce uses in number of places. Do you want to do this in tpetra/ext or just implement a custom one in Amesos2. I am fine with both options.

[2016-11-30 16:22] spdomin commented on #889
You can see them if you write_matrix_files: yes

As far as I can tell, there is something screwy with the basic GIds:

`13141 13177 13178 13179
`
The above is the only jump, however, the total number of sorted, unique ids is not making sense to me. I have a ticket to out help side of the house..

[2016-11-30 16:38] alanw0 commented on #889
I'm out of town currently... I'm not familiar with the test case in question, are there periodic BCs involved that could influence the gids used for the solver? In general mesh gids are not required to be zero-based or contiguous.

[2016-11-30 17:33] kddevin commented on #893
In Zoltan, while two tests run, there are actually many (80+) different executions (different parameter/algorithm options) in each test.  That is why the time per zoltan test is over one minute.  We don't have the resources to break the combined tests into separate tests to satisfy a one-minute maximum.  Changing these tests from BASIC to CONTINUOUS means NO zoltan tests will run in BASIC testing,

[2016-11-30 17:54] bartlettroscoe commented on #482
I finished updating the page:

* https://github.com/trilinos/Trilinos/wiki/Policies--%7C-Testing

@jwillenbring and @bmpersc, can you please have a look?  Hopefully this explains the current testing strategy and the current status of Trilinos testing along with:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

[2016-11-30 17:55] tjfulle commented on #482
@bartlettroscoe, this is probably something you could fix in about 1 second before completing this task - the `getConfigurationSearchPaths` function in `checkin-test.py` has the following:

[code]

But, `checkin-test.py` actually lives in `<project-root>/cmake/tribits/ci_support`, so it should be

[code]

This doesn't usually cause a problem, since the function also appends the absolute directory

[2016-11-30 17:57] spdomin commented on #889
@alanw0 no. this is a simple mesh. What I am finding is that the total number of global ids for a serial run matches what the mesh tells me. However, when I run any mesh in parallel, I see that the number of global ids is now much larger - almost as if STK is creating unique ids for shared nodes.

[2016-11-30 18:03] mhoemmen commented on #889
@srajama1 wrote:

That's right!  In fact, if your gather Map has the original Map's communicator, you can use the Map method that creates a new Map with a new communicator that strips out processes with zero indices.  MueLu exercises this feature for rebalancing.

How about you implement exactly what you need in Amesos2 first, then let me know?  At that point, we can decide if it makes sense to pu

[2016-11-30 18:05] jhux2 opened #894 "Intrepid2 warning-as-error on muir"
@kyungjoo-kim @mperego @trilinos/intrepid2  Just wanted to let you know about a warnings-as-error issue on muir (full error is [here](http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2635007)):
[code]

I think the issue is that ```Basis::getValues``` takes four arguments
[code]
 while the derived class' method ```Basis_HGRAD_LINE_C1_FEM::getValues``` takes three arguments
[code]

I gathe

[2016-11-30 18:08] alanw0 commented on #889
@spdomin I just saw your separate email, I'd be happy to look at what's going on. shared nodes should have the same ids almost by definition...

[2016-11-30 18:19] dridzal commented on #893
In ROL, we could reduce some of the test times to under a minute, however, the question is "on which hardware?"  A minute on a brand-new workstation is about 3 minutes on my 6-year old machine.  Also, we are testing a large number of algorithm options in many tests, which artificially inflates the numbers.

Another question I have is about the testing of MPI builds.  I've been told that for those

[2016-11-30 18:21] mhoemmen commented on #893
Just curious -- is there a way for check-in test script users to "opt into" tests beyond BASIC?

[2016-11-30 18:23] mhoemmen commented on #786
@bathmatt is this with Kokkos profiling enabled? Just curious.

[2016-11-30 18:44] eric-c-cyr commented on #893
The Teko test that takes a "long time" (1.5 minutes I guess) is large and predates the broad usage of the unit test framework. But it also provides the most complete coverage and is probably the most important test to run. I'm having a hard time believing that this time is really to long. I'm concerned this is just busy work for someone to convert them. Panzer is more broken up, but also the test

[2016-11-30 18:48] spdomin commented on #889
Okay, the following file has the unique and sorted ids for this mesh. There are clearly gaps in them. However, I resolved the issue with sort and unique in my driver code base.

STK is respecting unique GIds, however, for parallel runs, it is numbering them all over the map.
[sortedParallel.txt](https://github.com/trilinos/Trilinos/files/622678/sortedParallel.txt)

[2016-11-30 18:55] mhoemmen commented on #889
@srajama1 btw, Tpetra::computeGatherMap will do the right thing even if there are gaps in the GIDs gathered to Process 0.  The only change would be that you would create the new Map using the _number_ of GIDs minus one as the max GID, not (maxGID - minGID + 1).  Thus, gaps in the original GID list should not be a problem.

[2016-11-30 18:58] srajama1 commented on #889
@mhoemmen : Thanks. Irrespective, why this happens in Nalu/Muelu. This is something that can be added to Amesos2 and later generalized in tpetra/ext. I will create a separate issue for that.

[2016-11-30 18:59] alanw0 commented on #889
@spdomin that makes sense. It's probably impossible to find a decomposition that would produce contiguous node ids for each processor. In the ids that we hold in a nalu field, we could do a transformation to a locally contiguous set of ids which then gets given to the solver. I'm surprised this difficulty hasn't come up before...

[2016-11-30 19:37] spdomin commented on #889
Okay, now that we know that all is well with STK and Nalu, what is the time frame on resolving this in the solver stack?

Also, I am still not sure why this test case is hitting the problem and others are not. I think that I asked this before, however, is it due to the fact that the mesh is so small (400 elements) and hitting some special code path, i.e., a single Muelu level? Could I simply refin

[2016-11-30 19:51] jhux2 commented on #889
I had a hard time building Nalu, but can now reproduce the exception, and see the root cause.

This particular Nalu test, ```nightly/elemClosedDomain```, is running on two processors.  The linear system that MueLu gets from Nalu has 461 rows.  This matrix is small enough that MueLu does not coarsen, but calls Amesos2 directly.  So it makes sense that if the rowmap of A has gaps in it, Amesos2 thro

[2016-11-30 19:55] jhux2 commented on #889
My statement in this comment was wrong.  I confused the simulation in #888 (nonIsoElemOpenJet) with the simulation for this issue (elemClosedDomain).

[2016-11-30 20:05] srajama1 commented on #889
Ok, may be this is a typo, but the exception is from Muelu as reindexing is not there, right ?

[2016-11-30 20:08] aprokop commented on #889
@srajama1 wrote:

Yes. And it's only in parallel, some reindexing for serial has been implemented in MueLu.

[2016-11-30 20:10] srajama1 commented on #889
Assigning to myself. Let me scope out the suggested changes by @mhoemmen for supporting reindexing in Amesos2.

@jhux2 : Is Amesos2 being called with a Serial_Comm for such a small matrix ?

[2016-11-30 20:38] kyungjoo-kim commented on #894
Hi Jonathan,

I made a fix not to get that warning. Could you update Trilinos and test if the code does not generate warnings ? In my workstation, it does not generate a warning.

Best,
Kyungjoo

[2016-11-30 20:42] jhux2 commented on #894
@kyungjoo-kim Thanks!  I'll just let the tests run overnight and report back.

[2016-11-30 20:44] bartlettroscoe commented on #482
@tjfulle, I see the issue.  Surprised there is not a test to catch this.  Here is how we need to fix this:

1) Create a TriBITS GitHub issue for this (since checkin-test.py is developed in TriBITS repo).

2) Create an automated test that exposes the problem and the desired behavior

3) Fix the code to make the test pass

No "fixing" code without adding tests first.  Note the policy ["All functiona

[2016-11-30 20:52] bartlettroscoe commented on #893
Yup.  Pass in `--test-categories=NIGHTLY`.  See [`checkin-test.py --help`](https://tribits.org/doc/TribitsDevelopersGuide.html#checkin-test-py-help).

[2016-11-30 20:57] bartlettroscoe commented on #893
That is fine.  Zoltan and Kokkos test suite times are not a big problem because they are upstream packages.  Therefore, unless you are enabling all tests (like when you change a top-level *.cmake file), then the only people who have to run these test suites are people who are changing these packages.  Therefore, only Zoltan and Kokkos developers are penalized by the longer test times.

The package

[2016-11-30 21:51] tjfulle commented on #482
I'll open up an issue at the TriBITS site.  I can get to fixing it on Friday, if that's not too late

[2016-11-30 22:38] spdomin commented on #889
Hello All... I am proceeding with my Epetra deprecation commit. I managed the failing test (short term) by refining it once. We still need to resolve this. The mesh file can be located in the same elemClosedDomain location and changing the mesh back to fluid.g

[2016-12-01 02:21] bartlettroscoe commented on #893
@dridzal, responses to your questions and comments ...

The issue is relative times, not absolute times.  We could do a more detailed analysis but when you have a single test that take 2.5 minutes to run for a test suite that takes 12 minutes to run nearly 2300 tests on 16 cores (see [here](https://github.com/trilinos/Trilinos/issues/482#issuecomment-261101400)), then you can see that this is out

[2016-12-01 02:42] bartlettroscoe commented on #249
This is fixed.  Closing as complete.

[2016-12-01 02:42] #249 closed

[2016-12-01 02:47] bartlettroscoe commented on #158
@jwillenbring and @bmpersc, do you have the time and the interest to review:

* https://github.com/trilinos/Trilinos/wiki/SEMS-Dev-Env

If not, this is committed and is being used automatically by the checkin-test-sems.sh script and the new post-push CI build.

The new SEMSDevEnv.cmake file is pretty minimal and should have addressed all of Brent's concerns.  The right compilers and TPL paths are

[2016-12-01 03:17] bartlettroscoe opened #895 "Resolve build failures for checkin-test-sems.sh MPI_RELEASE_DEBUG_SHARED_PT build on OSX"
**CC:** @trilinos/framework, @trilinos/stokos, @trilinos/muelu, @trilinos/stk, @trilinos/zoltan

**Description:**

The [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) default build MPI_RELEASE_DEBUG_SHARED_PT was set up to use the GCC 5.3.0 compiler stack as discussed in #482.  The goal was to provide a uniform build between Linux and OSX machine

[2016-12-01 14:24] bartlettroscoe commented on #489
The PR kokkos/kokkos#358 was accepted and the Kokkos snapshot:

[code]

brought this into Trilinos.

Also, the STK developers ran the TriBITS refactoring script and the following commit was recently synced to Trilinos:

[code]

This story is complete.

[2016-12-01 14:24] #489 closed

[2016-12-01 14:43] bartlettroscoe opened #896 "TrilinosCouplings_Poisson2D_pn=4_tpetra_MPI_1 failing in current CI build"
**CC:** @trilinos/framework@, @csiefer2

**Description:**

It appears that the commits:

[code]

broke the test TrilinosCouplings_Poisson2D_pn=4_tpetra_MPI_1 in the new CI build as shown here:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2636238

[2016-12-01 14:46] bartlettroscoe commented on #896
@csiefer2,

Can you please see about fixing this and using the updated [checkin-test-sems.sh] on an SNL RHEL 6 machine to push the fix?

If you can't get to this right away, then we must disable this test since it will block people from pushing with the checkin-test-sems.sh script.  This this test will **not** be disabled in post-push CI testing so that that people can see that it is failing (but

[2016-12-01 14:49] bartlettroscoe commented on #370
Now that a new post-push CI build is up and running, it would be pretty simple to automate the updating from the 'develop' to the 'master' branch based on the post-push CI build.  Basically, all you do is update the script [sems_ci/single_ci_iter.sh](https://github.com/trilinos/Trilinos/blob/develop/cmake/ctest/drivers/sems_ci/single_ci_iter.sh) to check the return value of the `ctest -S` command

[2016-12-01 15:13] csiefer2 commented on #896
TrilinosCouplings isn't something that should be tested in CI.

[2016-12-01 15:28] bartlettroscoe commented on #896
TrilinosCouplings is being enabled by at least one internal Trilinos customer and therefore it was included in the set of Primary Tested packages.  See #410 and the details about which customer this is in [TRIL-59](https://sems.sandia.gov/jira/browse/TRIL-59?focusedCommentId=13151&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13151).   Actually, if you clone the rep

[2016-12-01 16:01] jwillenbring commented on #896
Given the customer who is using TrilinosCouplings, I think we should try very hard to avoid disabling the package all together.

[2016-12-01 16:13] bartlettroscoe commented on #896
@jwillenbring, you mean in "disable the package all together" CI testing right?  It could still run in post-push Nightly testing.  But given that package has to configure and build in order for that important customer to get an update of Trilinos, then that would increase the chances of delaying the update of Trilinos to that customer.  The cost of testing it in CI testing seems small for includin

[2016-12-01 16:16] csiefer2 commented on #896
I don't have access to that repo.  Please email me that info.

@bartlettroscoe Or you could just wait the 10 minutes for me to finish testing fixes.

[2016-12-01 16:27] bartlettroscoe commented on #896
Do you have an account on `https://gitlab-ex.sandia.gov`?  If you don't, get one and then tell me your userid (offline in email) and I will provide you access to that repo.

I will wait :-)

Thanks for taking care of this.

[2016-12-01 16:29] csiefer2 commented on #896
Fix pushed.

[2016-12-01 16:29] #896 closed

[2016-12-01 18:16] kyungjoo-kim commented on #894
Does nightly test work on the master branch or develop branche ? I checked the dash board and the warning is still there and it does not use the version that I committed yesterday.

I also tested myself and confirmed that the warning is gone with gcc 4.7.2.

[2016-12-01 18:22] dridzal commented on #895
Addressing the comment:

16% said they did not have access to a SNL RHEL 6 COE with the SEMS env to test and push from

Everyone with SRN access has access to an SNL RHEL 6 COE with SEMS env, through the CEE LAN accounts and remote workstations.  This is a free service.  Are Trilinos developers aware of it?

________________________________
From: Roscoe A. Bartlett <notifications@github.com>
Sent:

[2016-12-01 18:30] jhux2 commented on #894
@kyungjoo-kim Yes, the [muir warnings-as-errors dashboard](http://testing.sandia.gov/cdash/buildSummary.php?buildid=2636415) is clean now.  Thanks for the quick fix!

[2016-12-01 18:30] #894 closed

[2016-12-01 18:33] dridzal commented on #893
This is very useful; I was not aware of the second option in the example,

NUM_MPI_PROCS  4  NUM_TOTAL_CORES_USED  40

My guess is that if you don't specify NUM_TOTAL_CORES_USED, the behavior may be undefined (or at least not what you expect).  This is the scenario where some tests in ROL were taking a very long time, even though running them with mpirun -np 4 was quick.

In any case, is this a we

[2016-12-01 20:01] bartlettroscoe commented on #896
Can verify it is fixed:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2637486

Thanks!

[2016-12-01 20:07] jhux2 commented on #888
I have done some checking into this.  We don't have recent data tracking the performance of MueLu/Tpetra versus ML over time. I have results that compare the Tpetra SPGEMM to the one in ML.  These use Nalu, but just do one time step and repeated calls to set up the MueLu preconditioner.

[2016-12-01 20:07] kddevin commented on #895
I will remove the Zoltan OS X failure.  By what date are fixes needed?

[2016-12-01 20:08] bartlettroscoe commented on #482
NOTE: The process demonstrated in #896 is what we need to do to keep the CI build clean.  To help with this, we should create a github account for the trilinos-framework mail list (or a new more restricted mail list) that will be alerted to all CI failures so that we react to them quickly.  This is what we do for the CASL VERA project.  I know that is not a very nice job but it has to be done.

Th

[2016-12-01 20:18] kddevin commented on #885
@mndevec Are you passing a PartitioningSolution to this function (argument "solution")?  If so, the code should reset  targetNumParts to a value from the solution at line ~459 of Zoltan2_ImbalanceMetricsUtility.hpp.  Is the value returned from line ~459 incorrect?  Is the solution pointer  being passed incorrectly?  What value are you getting back -- targetNumParts=1?

[2016-12-01 20:22] bartlettroscoe commented on #895
@kddevin, a target date has not been set.  Typically with a Kanban process, we don't set target dates.  See:

* https://github.com/trilinos/Trilinos/wiki/Managing-Trilinos-Project-Issues#overview

It is really up to OSX developers to decide how urgent this is. But once we get this build clean, we can set up an automated build (@wfspotz has volunteered his machine gaia) to help protect this.  I gue

[2016-12-01 20:40] jhux2 commented on #895
@bartlettroscoe I've never done serious development on an Apple and don't have access to a machine.  A spot check of the MueLu [failures](http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2635840) and TrilinosCouplings [failures](http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2636005) shows errors like

[code]

So maybe there's a single root cause?

[2016-12-01 20:44] etphipp commented on #895
The Stokhos errors are similar.

-Eric

From: Jonathan Hu <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Thursday, December 1, 2016 at 1:40 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Eric Phipps <etphipp@sandia.gov>, Team mention <team_mention@noreply.github.com>
Subject: [EXTERNAL] Re: [trilinos/Trilinos] Resolve build failures for checkin-te

[2016-12-01 20:46] kddevin commented on #895
I strongly agree with this statement by @bartlettroscoe:  "Given the high percentage of Trilinos developers that consider OSX to be their primary development platform (currently up to 35% with the addition of a 20th response), I think we have to officially support this build."

It is healthy for Trilinos to be developed and run on a variety of platforms, and we should use automated testing to make

[2016-12-01 20:47] bartlettroscoe commented on #895
That is good news.  This might be an easy fix (or a hard fix that fixes a lot of broken tests).

@wfspotz, can you give access to your machine gaia to a few people so that they can debut this problems?  Otherwise, we need to get access to an OSX machine that people can log onto to help support this important platform.

[2016-12-01 20:52] srajama1 commented on #895
I agree with @kddevin on supporting mac. More than this issue, was there ever a review or decision made in leaders or other forums for what is the process for pre-push testing ? It appears we are moving in one direction, but is that what everyone wants ? Adding @maherou

[2016-12-01 20:52] bartlettroscoe commented on #895
I can almost guarantee that there has been no discussions or conscious decisions to exclude any platforms or builds.  The problem is that there are no people resources to keep up with all of this.  We need to hire a new framework person to help with this.  I will be creating a JIRA issue to track that effort shortly.  Also, I will create a Trilinos GitHub Issue to create a testing matrix so that w

[2016-12-01 20:53] kyungjoo-kim commented on #756
@bathmatt

If this won't bother your work any more, I am going to close this issue.

[2016-12-01 20:53] #756 closed

[2016-12-01 20:54] kyungjoo-kim commented on #707
Intrepid2 now uses refactored version and we do not encounter this problem anymore.

[2016-12-01 20:54] #707 closed

[2016-12-01 20:54] kddevin commented on #895
I wonder if there is a problem on the test machine's or SEMS' configuration.  I just ran all the MueLu and TrilinosCouplings tests on my mac with my local environment, and all tests passed.

I see the following link warning on the dashboard:

ld: warning: object file (CMakeFiles/ROL_test_step_BoxConstrained_TrustRegion.dir/test_04.cpp.o) was built for newer OSX version (10.12) than being linked (1

[2016-12-01 20:55] kyungjoo-kim commented on #277
Hello @rppawlo

I am going over the issues labled with Intrepid2. Is this done now ? At least, in Intrepid2, we do not use [] operator

[2016-12-01 20:56] bartlettroscoe commented on #895
There has been a lot of discussion on this in various circles but now that we have a lot more data to go on, we need to dedicate a big chunk of time discussing this at a Trilinos Leaders Meeting (preferably the next one).  But we have not had a Trilinos Leaders Meeting in a long time.

[2016-12-01 20:57] bartlettroscoe commented on #895
Did you use the checkin-test-sems.sh script?  What build did you use?

In any case, I will blow away the build dir and build from scratch on gaia and see what happens.

[2016-12-01 21:03] etphipp commented on #895
Can someone with access to the machine and the build run one of the Muelu or Stokhos tests and set a breakpoint in malloc_error_break and send a back trace?  That will at least give us a hint as to where that error is coming from.

[2016-12-01 21:22] srajama1 commented on #895
@bartlettroscoe : Leaders might be a good starting point, but something like this requires more time than that.  I would suggest scheduling a time to review the proposed process first and get the buy in from the developers community. At this stage it need not be a review of the actual implementation in the checkin test script. From an outsider's perspective it appears we are trying to patch up the

[2016-12-01 21:23] srajama1 commented on #895
In fact, I would argue the parallel issue of access to gaia highlights the problem with this process.

[2016-12-01 21:37] bartlettroscoe commented on #895
No, this particular ticket really has to do with the fact that Trilinos should be supporting OSX for developers and users, but it is not currently.  We can define this build 100% independent from the checkin-test.py script.  It is just that the checkin-test-sems.sh script with the SEMS env makes is super easy to produce a consistent build across all machines.

[2016-12-01 21:38] wfspotz commented on #895
Just let me know who needs it.

[2016-12-01 22:03] kyungjoo-kim commented on #152
Intrepid2 and Panzer are converted to DynRankView. Trilinos nightly test passes with the refactored version. So, I am closing this.

[2016-12-01 22:03] #152 closed

[2016-12-01 22:06] kyungjoo-kim commented on #167
In the refactored version, we provide a sequential interface (single or handful amount of points evaluation that can be callable inside Kokkos functor) in the basis, which is suited for this particular use case.

[2016-12-01 22:06] #167 closed

[2016-12-01 22:07] #685 closed

[2016-12-01 23:13] jhux2 commented on #895
I second getting a backtrace from a test in the existing build.  This will potentially save us a lot of time configuring/building.

[2016-12-02 00:30] bartlettroscoe commented on #895
Reproducing the OSX build from scratch on gaia ...

Configuring on gaia:

[code]

Then do the dasbhoard configure and submit:

[code]

That is posting to:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2637567

This is showing a lot of build failures including failures like:

[code]

Could the SEMS env for this OSX system be out-of-date?

Does anyone on an OSX machine have

[2016-12-02 00:43] tjfulle commented on #895
I do not currently use the SEMS modules, but I get the same types of errors on my machine.  I have to disable STK and ROL to build (and maybe seacas?  I'm not at my machine to check)

[2016-12-02 12:38] pwxy commented on #888
@rppawlo sorry, nothing recent.

[2016-12-02 14:34] VictorEijkhout commented on #780
So, no progress on this? I really hate having to do a bunch of sed script as post-processing of my installation.

[2016-12-02 15:09] spdomin commented on #888
Our ECP Q1 deliverable is to benchmark the solves and assembly for an atmospheric boundary layer flow. Weak scaling results at ~60k elem/core show almost doubling of solve time for even modest total mesh sizes (order 200 million). I will circulate this report internally. However clearly there has been regression in performance.

[2016-12-02 17:03] jhux2 commented on #780
@bmpersc @trilinos/stk

[2016-12-02 17:38] jgfouca commented on #895
@bartlettroscoe we build the NSF packages for a specific version of OS X. The 10.11 packages we have now are not guaranteed to work on other OS X versions. When demand for 10.12 hits critical mass, we'll set up a new TPL build machine and do a full build.

[2016-12-02 17:47] srajama1 commented on #888
Adding myself to follow @srajama1

[2016-12-02 17:49] bartlettroscoe commented on #895
@jgfouca, I think this is a problem with the SEMS module loading process then.  If someone tries to set up the SEMS modules for a platform that is not supported, should the script `/projects/modulefiles/utils/sems-modules-init.sh` not bomb out?  It seems that that script loads just fine and then you are left with link later.

@wfspotz, when did you upgrade gaia from OSX 10.11 to 10.12?

I think th

[2016-12-02 17:53] jgfouca commented on #895
@bartlettroscoe yes, it's certainly possible that we are not handling that case very well. We do our testing on systems that are supported.

[2016-12-02 18:06] bartlettroscoe commented on #895
This is a view that many Trilinos developers have expressed and while there is a lot of truth to this, I think if you are not careful, this view leads to less productive developers and lower quality code.  The issue is that if the testing and workflow infrastructure is not set up to support your own personal development platform, then it is more likely that when you pull code that you will get bui

[2016-12-02 18:08] rppawlo commented on #895
I used brew to install gcc 6.2 on my mac.

[2016-12-02 18:11] bartlettroscoe commented on #895
@rppawlo, what about all the TPLs like HDF5, NetCDF, SuperLU etc.?  Are they available with brew and have compatible versions with what SEMS is buiding and providing?

[2016-12-02 18:22] etphipp commented on #895
I just want to chime in with my own two cents.

I agree completely with Ross that without the proper supporting workflow, testing on a lot of platforms leads to lower productivity.  And we have been suffering from an insufficient workflow forever in Trilinos, resulting in a lot of effort for developers to resolve testing issues on platforms they don't regularly build on.

I am all for continuous t

[2016-12-02 18:27] rppawlo commented on #895
@bartlettroscoe had to manually build hdf5 and netcdf

[2016-12-02 18:27] mmwolf commented on #895
While this is probably true...  If 35% of our developers primarily develop in the OSX environment (and I think this number is low), any automated testing for checkins that doesn't support this environment won't be used.

[2016-12-02 18:33] bartlettroscoe commented on #895
The SEMS env is supposed to be a way to provide us with this.  And for Linux RHEL 6, it has.  Any SNL 1400 staff member can get a free (okay not free but center supported) CEE Linux machine that has the SEMS env present.  With that just about every SNL staff member should be able to get access to a Linux RHEL 6 machine that can reproduce the CI build being produced on CDash show show here:

* http

[2016-12-02 18:49] rppawlo commented on #277
May not be done for panzer. Will need to check this. I think we have a few evaluators still using the bracket operator. Let's leave this open.

[2016-12-02 19:09] srajama1 commented on #895
Totally agree with @etphipp on this statement

:+1:

[2016-12-02 19:10] tjfulle commented on #895
@bartlettroscoe, I use the [MacPorts](https://www.macports.org) package manager to build TPLs.  Many TPLs have to be modified for use in Trilinos (64 bit integer indices in Metis, modified NC_MAX_DIM in netcdf, etc.)  I have created a [repository](https://github.com/tjfulle/ports) of modified port files for installing the correct versions of TPLs.  Building/testing has been a lot more consistent f

[2016-12-02 19:28] wfspotz commented on #780
I checked my PyTrilinosConfig.cmake file (or at least one of them) and there is no reference to STK.

@VictorEijkhout, can you post your `cmake` invocation?

[2016-12-02 19:42] jgfouca commented on #895
@bartlettroscoe I believe the SEMS team intends to provide a "login-debug" machine that's a mirror image of our slaves (one login-debug per slave).

[2016-12-02 19:46] kddevin commented on #895
One more data point:
On my mac running OS X 10.11.6, I built Stokhos, MueLu and TrilinosCouplings using SEMS' gcc 5.3.0 and openmpi 1.6.5.  All tests passed.
100% tests passed, 0 tests failed out of 131
MueLu                = 122.82 sec
Stokhos              =  19.55 sec
TrilinosCouplings    =  15.34 sec

[2016-12-02 19:53] VictorEijkhout commented on #780
On Dec 2, 2016, at 1:28 PM, Bill Spotz <notifications@github.com<mailto:notifications@github.com>> wrote:

I checked my PyTrilinosConfig.cmake file (or at least one of them) and there is no reference to STK.

@VictorEijkhout<https://github.com/VictorEijkhout>, can you post your cmake invocation?

cd ${BUILD_LOCATION}
export shareopt="-D BUILD_SHARED_LIBS:BOOL=ON"
## VLE until we figure out that si

[2016-12-02 21:07] bartlettroscoe commented on #895
@kddevin, if you don't mind, can you try out the checkin-test-sems.sh as briefly described at:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

?

In short, can you please try:

[code]

?

(NOTE: ROL is currently broken in the CI build as shown [here](http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-11-30&filtercount=4&showfilters=1&filtercombine=

[2016-12-02 21:12] dridzal commented on #895
Ross, could you please point me to the ROL build error ... I only see Intrepid2 / Minitensor issues?

________________________________
From: Roscoe A. Bartlett <notifications@github.com>
Sent: Friday, December 2, 2016 14:07
To: trilinos/Trilinos
Cc: Ridzal, Denis; Comment
Subject: [EXTERNAL] Re: [trilinos/Trilinos] Resolve build failures for checkin-test-sems.sh MPI_RELEASE_DEBUG_SHARED_PT build o

[2016-12-02 21:24] bartlettroscoe commented on #895
Here is the most recent CI iteration with ROL still failing (for about 24 hours now):

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2638956

It shows build failures update packages/rol/adapters/minitensor/.

Why this is not breaking any ROL tests I can't understand.

The ROL build is failing everywhere today:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&fi

[2016-12-02 21:29] mperego commented on #846
I experienced the same issue. See attached the config and sdtout files.
This fixed it:
 -DCMAKE_SKIP_INSTALL_RPATH=TRUE.

Thanks.

[edison-trilinos-cmake.txt](https://github.com/trilinos/Trilinos/files/628306/edison-trilinos-cmake.txt)
[stdout_build.txt](https://github.com/trilinos/Trilinos/files/628307/stdout_build.txt)
[stdout_install.txt](https://github.com/trilinos/Trilinos/files/628308/stdout

[2016-12-02 21:32] mperego commented on #895
Adding @lxmota to the issue as he is the author of  Minitensor.

[2016-12-02 22:10] dridzal commented on #895
We are not seeing this locally because:

(1) These are Intrepid2/MiniTensor issues.  Aren't there build failures there as well?  I'm not sure why ROL is the "first line of defense" when the issues are upstream.

(2) We don't use Boost.  I think that this code will only build with Boost enabled.

________________________________
From: Roscoe A. Bartlett <notifications@github.com>
Sent: Friday, Dece

[2016-12-02 22:11] kddevin commented on #895
I do not have modules tools installed on my mac; in my build cited above, I set MPI_BIN_DIR to point to SEMS compilers and openmpi.   Because checkin-test-sems.sh uses environment variables set through the module command, it doesn't work on my mac.  If you point me to a file of needed environment variables and their values that I can source, perhaps I can make more progress with checkin-test-sems.

[2016-12-02 22:59] kddevin commented on #885
@mndevec what test problem can I run to see this behavior?  I'd like to track where things go wrong.  Thanks.

[2016-12-02 23:01] bartlettroscoe commented on #895
@kddevin, let's create a new Trilinos or GitHub or JIRA issue to get the SEMS modules properly installed on your Mac by following:

*   https://sems.sandia.gov/content/sonsrn-nfs-tpl-server-mount-mac-os-x

We can create a SEMS help ticket if this does not work.

You can also rsync the env to your machine so you don't need to use the NFS mount:

* https://sems.sandia.gov/content/syncing-sems-nfs-tp

[2016-12-02 23:13] bartlettroscoe commented on #895
Let's track this at:

* https://sems.sandia.gov/jira/browse/TRIL-105

[2016-12-02 23:27] bartlettroscoe opened #899 "ROL MiniTensor examples/tests fail to build since 12/1/2016 push"
**CC:** @trilinos/framework, @trilinos/rol

**Description:**

ROL is failing to build in every Trilinos CI build since yesterday.  See:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-11-30&filtercount=3&showfilters=1&filtercombine=and&field1=buildstarttime&compare1=84&value1=2016-12-03&field2=buildname&compare2=61&value2=Linux-GCC-4.7.2-MPI_RELEASE_DEBUG_SHARED_PT_CI&field

[2016-12-02 23:29] bartlettroscoe commented on #899
We need to either back out the breaking commits or disable ROL in pre-push CI testing.  Having it fail is just going to stop other developers from being able to push using the checkin-test-sems.sh script.

[2016-12-02 23:30] dridzal commented on #899
What is the breaking commit?

________________________________
From: Roscoe A. Bartlett <notifications@github.com>
Sent: Friday, December 2, 2016 16:29
To: trilinos/Trilinos
Cc: Ridzal, Denis; Team mention
Subject: [EXTERNAL] Re: [trilinos/Trilinos] ROL MiniTensor examples/tests fail to build since 12/1/2016 push (#899)

We need to either back out the breaking commits or disable ROL in pre-push CI

[2016-12-02 23:31] bartlettroscoe commented on #895
@dridzal, we need to resolve this in a new Issue.  I created #899.  Please copy your questions there.

[2016-12-02 23:33] bartlettroscoe commented on #899
See [above comment](https://github.com/trilinos/Trilinos/issues/899#issue-193243008).

Is the ROL team getting CDash emails for these CI failures?

[2016-12-02 23:39] dridzal commented on #899
We are getting some of the emails.  Unfortunately, they are combined with timeout emails that we've been ignoring.

We haven't caught this because Boost needs to be built to enable this feature, and we don't use Boost.  Also, this is an upstream dependency issue.  There should really be a test for this in Intrepid2, i.e., ROL should not be the package to catch these problems.

Alejandro Mota, @lxm

[2016-12-02 23:42] dridzal commented on #899
Also, can we confirm that Intrepid2 is not failing?  Is there no test for this feature in Intrepid2?  @mperego ?

[2016-12-02 23:43] lxmota commented on #899
The MiniTensor tests pass. I just looked at the error. It says it's an internal compiler error.

Not sure what to do in this instance.

[2016-12-02 23:48] dridzal commented on #899
I'm not sure either.  @bartlettroscoe , how do we start debugging internal compiler errors?  I guess we would need that particular compiler first ...

[2016-12-02 23:49] lxmota commented on #899
In the meantime I'll remove the offending line and substitute it with something that hopefully won't choke that particular compiler.

[2016-12-02 23:53] bartlettroscoe commented on #899
I am afraid we are stuck with GCC 4.7.2 for the CI build for now because that is the default compiler for a very important Trilinos customer that I can't name here.  But there is hope that they will be moving to GCC 4.9.x very soon this may get better soon.

[2016-12-03 00:00] kddevin commented on #895
Modules are now working....
% module list
Currently Loaded Modulefiles:
  1) sems-env

But checkin script still gives an error...
% ../cmake/std/sems/checkin-test-sems.sh --enable-all-packages=on --disable-packages=ROL --local-do-all
TRILINOS_DIR = '../../Trilinos'
Loading Trilinos SEMS Dev Env = 'sems-gcc/5.3.0 sems-openmpi/1.6.5 sems-cmake/3.5.2'!
../../Trilinos/cmake/load_sems_dev_env.sh: line

[2016-12-03 00:08] bartlettroscoe commented on #899
Then you need to create Issues for these and disable them until then can be fixed (or the timeouts increased).

STK needs Boost and a very important customer that I can't name here needs STK, MiniTensor, and ROL.  Therefore, we need to turn Boost on whenver we test before we push to Trilinos.

Can the ROL developers working on Linux please try using the [checkin-test-sems.sh] script to push Trilin

[2016-12-03 00:14] bartlettroscoe commented on #895
Darn, that is not good.

@kddevin, can you please run:

[code]
and then attach module.avail.out (as module.avail.out.txt so GitHub will allow it)?

Sorry for the trouble.

@tjfulle, have you been able to run the checkin-test-sems.sh script on your OSX machine with the SEMS env mounted yet?

[2016-12-03 00:15] lxmota commented on #899
I normally use the checkin script to push, but because of the Intrepid2 refactor, there are some build errors with MueLu unless Intrepid2_KokkosDynamicView is enable. But that won't build the MiniTensor tests.

I don't have access to a SNL RHEL 6 COE machine.  Since I'm not in 1400 we have to pay for that and it's expensive.

[2016-12-03 00:19] bartlettroscoe commented on #899
@lxmota, then if you have access to the SRN, I will give you an account on my SRN machine crf450.  If you only use 4 cores to build and push (and don't mind waiting a while for the build and tests to run) then it would not really impact my usage of that machine too much.  Let me know if you are interested in this.  We can set up a checkin-test driver that will do this in one shot from your SRN mac

[2016-12-03 00:20] mperego commented on #899
Is this only a CMake issue? I do not see why the test should not build when Intrepid2_KokkosDynamicView is enabled.

[2016-12-03 00:28] mperego commented on #899
There is a missing link to the MiniTensor test directory in one of the CMakeLists.txt files.. I'll try to fix this.

[2016-12-03 00:37] dridzal commented on #899
The ROL team will start using the checkin scripts soon.  We have our own methods that take into account a variety of environments and compilers.  Note that the culprit here is code in Intrepid2, so we really couldn't have done much to prevent this.  But we could have diagnosed it.

These issues would be MUCH simpler to resolve if most Trilinos developers used a common development environment, poss

[2016-12-03 00:40] lxmota commented on #899
@bartlettroscoe Yes, I'm on the SRN. If you give me an account on your machine, I'll build, test and attempt to push from there.

[2016-12-03 00:40] mhoemmen commented on #899
GCC 4.7.2 gives me some troubles with lambdas in Kokkos::parallel_* loops.  I've been avoiding lambdas in Tpetra; it seems to help with that compiler.

[2016-12-03 01:10] mperego commented on #899
@lxmota, I have enabled MiniTensor tests when Intrepid2_KokkosDynamicView is enabled (9d283db7578cd6)

[2016-12-03 01:25] jhux2 commented on #853
@jwillenbring Any updates on this?

[2016-12-03 01:44] lxmota commented on #899
@mperego Thanks, MiniTensor tests are now enabled.

@dridzal But there is a timeout in one of ROL's tests that prevents me from pushing:
ROL_example_burgers-control_example_07 (Timeout)

[2016-12-03 01:46] dridzal commented on #899
This is a known issue.  You can either ignore the timeout and push manually, or increase the timeout time.  I don't know how to do the latter ... @bartlettroscoe ?

[2016-12-03 02:24] lxmota commented on #899
Ok, in the interest of fixing the internal compile error I'll go ahead and push manually.

[2016-12-03 03:33] mhoemmen commented on #899
@dridzal wrote:

Add the following command-line argument to the check-in test script, replacing 180 with the number of seconds that you want for the time-out:

`--ctest-timeout=180`

[2016-12-03 04:25] bartlettroscoe commented on #899
@lxmota, if you are getting timeouts locally with the checkin-test.py script, then you can override the `--ctest-timeout=180` arg in your `local-checkin-test-defaults.py` file (a default gets written the first time you run `checkin-test-sems.sh` or you can just pass in `--ctest-timeout=300` or whatever when your run it).

@dridzal, we need to make these timeouts go away:

* http://testing.sandia.g

[2016-12-03 15:33] sagitter commented on #880
I guess i found a workaround: how happens with the libraries for testing, i had to set paths for finding  `__init__.py` files before running `ctest`:

[code]

Just `PyTrilinos_testNOX_StatusTest` is failed but because different reason:

[code]

Build log: https://kojipkgs.fedoraproject.org//work/tasks/8553/16718553/build.log

[2016-12-03 16:42] bartlettroscoe commented on #899
The build problem is not just with GCC 4.7.3, it also occurs with GCC 4.8.3 as well as shown at:

* http://testing.sandia.gov/cdash/index.php?subproject=ROL&project=Trilinos&date=2016-12-02

Don't know more because ROL is only Nighty tested on one machine (muir.sandia.gov) and only with GCC 4.7.2 and GCC 4.8.4 :-(

[2016-12-03 18:19] spdomin commented on #882
I upgraded to clang 8 and now I can config. For my needs, this can be closed. However, I have no idea what the actual OS X version that is formally supported.

[2016-12-03 18:19] #882 closed

[2016-12-03 18:22] spdomin opened #900 "Clean configure with only Tpetra solver stack"
I formally deprecated Epetra in my application. However, when trying to remove Epetra code from my configure, there is still a tangled web of dependencies.

Specifically, amesos2 still requires amesos which requires Epetra. I thought that this was resolved by @srajama1?

https://github.com/trilinos/Trilinos/issues/649

However, my master and develop Trilinos branch is still complaining.

commit 29

[2016-12-03 18:28] #900 closed

[2016-12-03 18:29] spdomin commented on #649
Is this still an issue? My master and develop Trilinos branch is still complaining.

commit 2938143
Author: Alejandro Mota amota@sandia.gov
Date: Fri Dec 2 16:44:47 2016 -0800

*** ERROR: Setting Trilinos_ENABLE_Amesos2=OFF which was 'ON' because Amesos2 has a required library dependence on disabled package Amesos!

[2016-12-03 18:29] dridzal commented on #899
Ross, I agree with you.  But let me clarify what's going on with those tests.  A few weeks ago, we cleaned up everything in ROL, and received no CDash errors for several days.  Then, with minimal changes to ROL (that should have affected nothing), we started seeing these timeouts.  OK, then we went and looked in the runtime history for these tests, and guess what -- it does not exist!  Or at least

[2016-12-03 18:52] tawiesn opened #901 "Automated testing with docker containers"
This story is to collect all ideas for setting up a checkin/testing environment based on docker containers. The idea is to develop Trilinos on platforms different than Linux but make sure that all tests run on selected Linux platforms before checkin the changes to the Trilinos repository.
@jwillenbring @maherou

[2016-12-03 18:57] tawiesn commented on #901
Task list:

1. Create a general docker image for testing Trilinos
2. Create a shell script/python program to run the Trilinos compiler which internally compiles Trilinos with the local changes included, runs the test suite (check-in script, no-push) and decides whether a push to the github repository would be allowed
3. If the test suite succeeds without error, the changes can be pushed to the dev

[2016-12-03 19:06] tawiesn commented on #901
List of features for the docker image:

- We need one (or several) base images which provide the necessary TPLs and a build system (compilers...). The images tawiesn/dev-base and tawiesn/dev-tpl on github can be examples or starting points.
- (optional) We should have a Sandia-internal base image with parts of the SEMS environment
- The Dockerfile for the base images should be published. We should

[2016-12-03 19:19] tawiesn commented on #901
Driver sciprt for the Trilinos test container:
- The driver script should be a shell script or a python program which must run on the host system. For compatiblity (Windows, Mac, Linux), a python script could be a good option.
- The script should do the following

    1. Create a new contianer of the dev-tpl image (the base image which brings all dependencies for compiling Trilinos). Store the con

[2016-12-04 02:32] srajama1 commented on #649
Yes,  We are working with Tech-X on this. As you can see it involves lot of packages and Xyce dependencies.

[2016-12-04 02:36] srajama1 commented on #900
@spdomin #649 is still open because it was not resolved. Tech-X is working through the stack to get this done. @krcb @jwillenbring. If this is a duplicate of #649 we can close this.

[2016-12-05 02:21] ambrad commented on #583
@mhoemmen, in RILUK::apply(), you wrote (Jan 2014): "C must have the same Map as D.  We have to use a temp multivector, since our implementation of triangular solves does not allow its input and output to alias one another." However, I believe that is no longer true. CrsMatrix::localSolve's doc says: "...unlike multiply(), it is permissible for <tt>&X == &Y</tt>." Also, the tests pass without the

[2016-12-05 02:31] mhoemmen commented on #583
@ambrad wrote:

Would that be true for a general parallel triangular solve, such as what HTS does?

I haven't had time to audit _all_ the comments for correctness, alas ;-)

[2016-12-05 02:33] ambrad commented on #583
@mhoemmen, my view is that if a particular trisolver can't handle it, that should be handled in the impl details of LocalSparseTriangularSolver, not in RILUK. That's what I was about to start doing, but then I thought to check whether it's still true for CrsMatrix::localSolve. I concluded that, at present, neither option (CrsMatrix::localSolve or HTS) requires &X != &Y.

[2016-12-05 02:35] ambrad commented on #583
BTW, work for this issue is in this branch of my fork: https://github.com/ambrad/Trilinos/commits/hts1. (I'll squash it to one commit when I'm done.)

[2016-12-05 15:44] wfspotz commented on #880
@sagitter, because these errors occur on a very specific platform, I'd have to have access to the machine to have any hope of tracking this down.

[2016-12-05 17:32] tjfulle commented on #895
@bartlettroscoe, yes I can run `checkin-test-semi.sh`, but I have to pass `--make-options='-k'` to get past the `STK` build failures.  I'm building right now, I'll report back on test failures.

[2016-12-05 18:06] mhoemmen commented on #583
@ambrad I don't particularly _like_ the promise that aliasing works.  `&X == &Y` does not suffice to check all possible aliasing cases (e.g., Tpetra::MultiVector that views a subset of columns of another Tpetra::MultiVector).  Also, even if aliasing works for the local kernel, we might like to overlap communication and computation at the MPI level.  That could affect whether aliasing is correct.

[2016-12-05 19:40] jhux2 opened #903 "Allow github integration tool "reviewable" access to repo"
@bmpersc @jwillenbring

This is a request to make the Trilinos repo accessible by the github integration tool [reviewable](https://reviewable.io/reviews#-).  See the message at the bottom of the attached screenshot.
![reviewable](https://cloud.githubusercontent.com/assets/12970120/20899488/791a6f7a-badf-11e6-9986-496435fefbda.png)

[2016-12-05 19:49] jhux2 commented on #888
@alanw0 I'm trying to build Nalu against Trilinos branch trilinos-release-12-6-4-2, SHA1 gc85db0e3.  The build fails in this way:
[code]

Is this a known problem?  I welcome any suggestions on how to work around this, as I'll be building Nalu with a number of different Trilinos releases.

[2016-12-05 19:52] jhux2 commented on #888
I forgot to mention that the SHA1 of Nalu is 6fc3c6a50.

[2016-12-05 21:27] mhoemmen commented on #893
@bartlettroscoe wrote:

This says:
[code]
`--show-defaults` says the default is BASIC.  If I set `--test-categories=NIGHTLY`, does that exclude BASIC tests?  I'm guessing not, but just wanted to make sure.

In general, are these test categories nesting?  For example, does HEAVY include NIGHTLY?

[2016-12-05 22:18] ambrad commented on #583
@mhoemmen, that's fine, but do you agree that LocalSparseTriangularSolver is the right place to manage aliasing? I.e., RILUK should not have to know whether a temp MV needs to be made; it should be able to call the Trisolver and let it figure it out.

[2016-12-05 22:19] mhoemmen commented on #583
@ambrad wrote:

Yes, I agree.  I don't think we should ask KokkosKernels or third-party implementations to do that.  The Ifpack2 interface should handle it.  (It already does, for some other solvers.)

[2016-12-05 22:30] bartlettroscoe commented on #893
Yes, BASIC, CONTINUOUS, NIGHTLY and HEAVY are nested (PERFORMANCE is not).  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#test-test-category

I also updated the user documentation to make this more clear:

*https://tribits.org/doc/TribitsBuildReference.html#enabling-different-test-categories

(It will get updated for Trilinos the next time I sync TriBITS to Trilinos.)

[2016-12-05 22:38] kddevin commented on #895
OK, here's my guess about the problem above.
The sems instructions for setting up modules create aliases for the "module" command (through  commands added to .bash_profile):
https://sems.sandia.gov/content/sonsrn-nfs-tpl-server-mount-mac-os-x

But bash scripts like checkin-test-sems.sh don't recognize aliases:
http://unix.stackexchange.com/questions/1496/why-doesnt-my-bash-script-recognize-aliases

[2016-12-05 22:41] bartlettroscoe commented on #899
As of this CI iteration on Dec 03, 2016 - 00:41 UTC:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2639721&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

this appears to be fixed.

Closing as complete.

[2016-12-05 22:41] #899 closed

[2016-12-05 22:46] tjfulle commented on #895
@kddevin, I think the `module` command is a bash function that is exported from `/usr/local/opt/modules/Modules/init/bash` - so it should get picked up by shell scripts (so long as `/usr/local/opt/modules/Modules/init/bash` is `source`d)?  It seems to work for me, but I could be wrong about why...

[2016-12-05 22:49] tjfulle commented on #895
@bartlettroscoe, with a fresh copy of the SEMS environment, I get 156 test failures.  105 of those are tests that did not run (mostly due to STK not building), 50 failed tests (Many Muelu tests), and 1 timeout.

[2016-12-05 22:49] bartlettroscoe commented on #895
@tjfulle, that is consistent with what I saw on gaia before it got upgraded from OSX 11.11 to to OSX 10.12 (see https://github.com/trilinos/Trilinos/issues/482#issuecomment-260158990).  It would be nice to see if we can get the STK developers to fix this (or just give up and just do a static libs build for OSX).

[2016-12-05 22:51] bartlettroscoe commented on #895
@tjfulle, can you do a 'make dashboard' and let it submit to CDash so everyone can see the details?  Anyway, that is pretty consistent with what I say in https://github.com/trilinos/Trilinos/issues/482#issuecomment-260158990.

[2016-12-05 22:54] kddevin commented on #895
Thanks, @tjfulle .  I think you are correct.  But that means the checkin-test-sems.sh script can be run only from bash shells, right?  Or at least from inside scripts that are bash scripts, and that do the source command you recommend.  (sigh)  I do not recall a requirement that Trilinos users use bash.

[2016-12-05 23:21] bartlettroscoe commented on #895
The script `checkin-test-sems.sh` is a bash script (and is declared as such with `#!/bin/bash`) but it should be able to run from any shell.   The question is, if you are in another shell (e.g. csh), and you do `bash ; module avail`, what happens?  Do modules not work if you change shells?  If not, why?

In any case, we can make things work for tcsh (csh) if needed.  @kddevin, is that the shell yo

[2016-12-05 23:37] wfspotz commented on #895
I just turned over gaia to the CSUs to fix a problem related to the registration of the machine. While they are at it, I am having them revert to Mac OS X 10.11 and to install LDAP capabilities so that anyone with a Sandia Kerberos account can log in and automatically create an account. I am going to keep it on the SON so that foreign nationals will have access to it.

[2016-12-05 23:53] bartlettroscoe commented on #895
Thanks @wfspotz!   Once this gets back up and running, then we can set up a Nightly experimental build reporting to CDash on this machine and people can log on to help resolve issues.  And once we get this build cleaned up, then we can set up at least one Nightly OSX build on this machine reporting to cdash and people will be able to log onto it to help resolve problems when we see failures showin

[2016-12-05 23:54] mhoemmen opened #904 "Check-in test script reports TCL errors"
[code]

The script still runs, apparently, but it reports the above errors every time I run it.

[2016-12-05 23:54] tjfulle commented on #895
@bartlettroscoe, `make dashboard` is painfully slow!  Anyway to speed it up, or should I kill it and run it as I am closing up shop?

[2016-12-06 00:15] bartlettroscoe commented on #895
Yup, I need to add this to the checkin-test.py script to add the right options automatically, but as I showed [above](https://github.com/trilinos/Trilinos/issues/895#issuecomment-264338720), you can do:

[code]

What I need to is to get the checkin-test.py to do is to set `-DCTEST_BUILD_FLAGS=-j8` and `-DCTEST_PARALLEL_LEVEL=8` automatically given the `-j8` argument.  I may even add a `--post-to-c

[2016-12-06 00:23] csiefer2 opened #905 "Tpetra::RowMatrixTransposer::createTranspose() might not work correctly in the case of missing columns"
@trilinos/tpetra
Story: #629
Blocks: #664

Even on one MPI rank.  Please investigate.

[2016-12-06 00:28] bartlettroscoe commented on #904
Mark,

This looks like a problem with the SEMS modules.  What machine, OS, and shell are you using?

What happens when you just do:

$ source ~/Trilinos/cmake/load_ci_sems_dev_env.sh

?

[2016-12-06 00:47] mhoemmen commented on #904
@bartlettroscoe wrote:

Linux, RHEL 6, with the SEMS modules, and bash.

I get the following output:
[code]
However, the tcl errors no longer appear.

[2016-12-06 00:53] mhoemmen commented on #629
@csiefer2 has been working on this, so I'm assigning him just so he gets credit for finishing it :-)

[2016-12-06 00:56] mhoemmen commented on #905
In our discussion today @csiefer2 suggested that the following could be an issue.  Even if a CrsMatrix's communicator has only one process, it's still possible for the domain and column Maps not to be the same.  This can happen if the CrsMatrix was created with only a row Map, the matrix has empty columns (columns with no entries), and the user let fillComplete compute the column Map.  CrsMatrix::

[2016-12-06 00:59] mhoemmen commented on #430
@csiefer2 discovered possible bugs in MKL's sparse matrix-matrix multiply, for the case of empty rows and/or columns in the input matrices.  This suggests that we should avoid relying on MKL for this critical kernel.

[2016-12-06 01:04] nmhamster commented on #430
@mhoemmen - can you provide a small reproducer so we can file a bug report?

[2016-12-06 01:06] mhoemmen commented on #430
@csiefer2, would you happen to know what matrices didn't work with MKL's implementation?

[2016-12-06 01:20] bartlettroscoe commented on #904
@mhoemmen,

This should be exactly what I use as well.  Strange it did not work for you out of the box.  We will fix that.

As described at:

* https://github.com/trilinos/Trilinos/wiki/SEMS-Dev-Env

try

[code]

then

[code]

[2016-12-06 03:45] srajama1 commented on #430
Note that KokkosKernel SpGEMM is anyway faster than MKL (except when using small number of threads *and* there is no reuse of structure). So we might not rely on it anyway.

[2016-12-06 04:11] maherou commented on #430
In the long run, we want MKL to work well.  If it’s not too much work, it would be good to provide them a test case, or at least mention this result to them.  We want their kernels to be fast, so there is less work for us.

From: Siva Rajamanickam <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Monday, December 5, 2016 at 8:45 PM
To: trilinos/Trilinos <Trilino

[2016-12-06 04:18] mhoemmen commented on #430
I just heard from @csiefer2 today about this.  I know his time is limited this fiscal year, so if he finds something, he should feel welcome just to point out the example (e.g., test number or matrix file) and put the rest of us to work in helping him turn that into a test case for MKL.

[2016-12-06 15:33] bathmatt commented on #786
No,
it happens on both mac and linux.  I'm guessing  I have something on in my config that is causing this.  I'll try to track it down.

[2016-12-06 15:34] nmhamster commented on #786
@mhoemmen why do you ask if its with profiling enabled? I can't see anything in the error to indicate that, have you seen this error with profiling before? That would be a big pain.

[2016-12-06 15:37] bathmatt commented on #786
No t is not, it happens on gcc/5.3 on my linux box and clang on my mac.  It looks like it might be a config option, well a bug in trilinos tickled by a config option

[2016-12-06 15:41] mhoemmen commented on #786
@nmhamster wrote:

I was thinking that it had to be some option that's not enabled by default, since I saw KokkosKernels::Experimental::Util::endswith there.  I could be wrong, though.  I've never seen this one before.

[2016-12-06 15:44] bathmatt commented on #786
Siva had me turn that on a long time ago to test some things.  Like most
things in my config file, they get added and never ever go away...

I could try to buid with and w/o that and see if that is an issue, they we
can assign it to someone to fix

On Tue, Dec 6, 2016 at 8:41 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2016-12-06 15:48] rppawlo commented on #786
Truman reported the same error when building Drekar, but I have not been able to reproduce in my Drekar builds.

[2016-12-06 15:50] bathmatt commented on #786
He got his config from me, so it is likely that is the case.

On Tue, Dec 6, 2016 at 8:48 AM, rppawlo <notifications@github.com> wrote:

[2016-12-06 16:22] bathmatt commented on #786
I can confirm it is this flag that causes the error.
-D TpetraKernels_ENABLE_Experimental=ON \

We should open a new bug report and asiggn it to the right person.  WHo is
this?

On Tue, Dec 6, 2016 at 8:50 AM, Matt Bettencourt <dr.bettencourt@gmail.com>
wrote:

[2016-12-06 17:19] tjfulle commented on #895
@bartlettroscoe, I wrote

[code]

and set up a `cron` job to run it nightly.  So long as the `module` command is viewable in a non-interactive `cron` job, can you see anything else needed?  Will the environment used in the configure step transfer over to the make step since they are not in the same process (or do all of the `CMake` files take care of that)?

Does one need to be connected to Sandia

[2016-12-06 17:57] bartlettroscoe commented on #895
No, to get that to work you just need to change:

[code]

to

[code]

Also, you want to be testing the current version of Trilinos, so I think you want to `--pull` and to be really robust `--wipe-clean`:

[code]

No, any machine with internet access can submit to testing.sandia.gov/cdash/.

Let me know if that works or not.

Later, we can set up a regular CTest driver script for this build on gaia

[2016-12-06 18:01] tjfulle commented on #895
Okay, I'll add `--wipe-clean`, I think `--pull` is unnecessary since the script clones a fresh copy - though I need to be sure to check out the `develop` branch.  This machine is a 12 core Mac Pro, so I am happy to put it to work at night running the nightly tests.

[2016-12-06 18:05] bartlettroscoe commented on #895
Right, I missed that scaning the script.  I guess a clone is not a bad idea.

Excellent!  When we can work on more standard CTest driver script in a bit.

NOTE: The advantage of a CTest Driver script is that it will also report pull and configure failures to CDash.  The process shown above using the checkin-test-sems.sh script will not.  But I think it is valuable to have both versions actually si

[2016-12-06 18:11] tjfulle commented on #895
@bartlettroscoe it would handy (I suppose this is a feature request for [TriBITS](https://github.com/TriBITSPub/TriBITS)?) if `checkin-tests-semi.sh` wrote to a file which modules were used for a particular set of builds.  Something like:

[code]

Then, I could use `checkin-test-sems.sh` on the configure step and be able to replicate the environment later as I am building/testing (but before I wan

[2016-12-06 18:31] kddevin opened #906 "checkin-test-sems.sh cannot find module command from non-bash shells"
In #895, it was discovered that checkin-test-sems.sh could not find the "module" command from shells that were not bash shells.  The problem is not specific to Mac OS X; I can reproduce it on a RHEL system.  Thus, I am starting a new issue (but leaving much of the background in #895).

I think the issue with bash vs other shells is that
/usr/local/opt/modules/Modules/init/bash
defines the "module"

[2016-12-06 18:31] kddevin commented on #906
@bartlettroscoe @trilinos/framework

[2016-12-06 18:34] tjfulle commented on #901
@tawiesn, I used `Dockerfile`s from your github page to make a docker image to run the Trilinos tests (on a Mac), one issue I have run in to is that read/write times from mounted volumes is too slow for practical use.  e.g., I started a container with `-v /projects/sems:/projects/sems` so I could use the `sems` modules, but it would take minutes to compile a single file.  No problem, I'll just tar

[2016-12-06 18:37] mhoemmen commented on #786
@bathmatt Are you using Gauss-Seidel with coloring?  If so, @mndevec owns that interface.

[2016-12-06 18:39] spdomin commented on #888
@jhux2, your error suggests an old version of trilinos. This is not doubt an issue with bisecting. I had this issue before and had to manually edit code. In this case, you may need to change KDTREE to OCTREE to get the code to build. I think to be safe in the bisect, you need to check out the closest NaluRtest as well...

[2016-12-06 18:45] bartlettroscoe commented on #906
@kddevin, I think we can accommodate the tcsh as well as bash.  It will create some duplication but it is not the end of the world.  We support tcsh and bash with the checkin-test.py driver for CASL VERA for example.

For me to reproduce this, I will have to be able to duplicate exactly what other developers would do.  Given that my default shell is bash, how would I reproduce this so that I can f

[2016-12-06 18:54] tawiesn commented on #901
@tjfulle Yes, it is a well-known issue that mounting files is extremely slow. There are some workarounds using NFS to mount host folders ([that's what i'm using](https://github.com/brikis98/docker-osx-dev)). However, it only works for the docker-machine solution on the Mac. As far as i know it is not compatible to the new Docker for Mac toolbox. With the NFS mount you get nearly native speed when

[2016-12-06 18:54] bathmatt commented on #786
NO idea, I'm not using anything anymore from exp kernels.

On Tue, Dec 6, 2016 at 11:37 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2016-12-06 19:20] csiefer2 commented on #430
Mehmet already has a lists of problems where MKL doesn't work.

[2016-12-06 19:35] tjfulle opened #907 "`Teuchos_ObjectBuilder_unsetParameterList_UnitTest` fails with gcc 6.2 on Mac OS X"
@trilinos/teuchos

The test `Teuchos_ObjectBuilder_unsetParameterList_UnitTest` fails on Mac OS X with gcc 6.2.  In `packages/teuchos/parameterlist/test/ObjectBuilder/ObjectBuilder_UnitTests.cpp`, there are some notes about some of the tests failing on gcc 4.8 and gcc 5.3, so the tests are shielded by compile time `#ifdef`s from those compilers.  If I add gcc 6.2 to the list of failing compilers a

[2016-12-06 19:41] jhux2 commented on #888
@spdomin @alanw0 That's right, I'm using a Trilinos release.   But what I'm finding is that Nalu is not compatible with the version of STK in the Trilinos release.   Is there anyway to know what version of STK that Nalu requires, or is it a matter of what you (@spdomin) suggest, checking out a Trilinos version and Nalu version that are close in date?

[2016-12-06 19:57] aprokop commented on #901
@tawiesn [DataTransferKit](https://github.com/ORNL-CEES/DataTransferkit) is doing something very similar. It has a pre-built container with TPLs, and Jenkins simply launches Docker containers, and builds and tests in them. Can get more details from the person in charge if necessary, but the process is not too complicated.

[2016-12-06 20:29] tjfulle commented on #895
I'm not sure how many tests fail from similar issues, but it seems that some tests do not honor the `$DYLD_LIBRARY_PATH` environment variable.  For example the @trilinos/zoltan test `zoltan_ch_hughes_zoltan_parallel` fails because it cannot find  `libparmetis.dylb`.  For my build, I have `libparmetis.dylib` in `/opt/local/lib` and `DYLD_LIBRARY_PATH=/opt/local/lib`.  If I build with a static libra

[2016-12-06 20:58] bmpersc commented on #906
Very likely the solution to this would be to setup the SEMS NFS for both csh and bash on any machine that will be using the checkin test script. The SEMS instructions for setting up the NFS cover how to do both shells. That way when any bash scripts are invoked they will properly load all of the setup for the modules.

[2016-12-06 21:33] tjfulle commented on #901
@tawiesn, ya, I looked in to several different solutions to speed up shared volumes, but it looks like the Docker devs are aware of the problem and working on a native solution (and I don't want to sink a bunch of time in to figuring something else out).  I think that the `sems` sync tool can be used to selectively sync only those things that are wanted - it may already have the capability to make

[2016-12-06 21:49] csiefer2 commented on #905
This is not a serial problem at least.  That was due to map mismatches.  Will need to check more in ||.

[2016-12-06 21:54] kddevin commented on #895
I wonder whether the SEMS build of Boost is causing the linker errors like this one:
ld: warning: object file (CMakeFiles/ROL_test_step_BoxConstrained_TrustRegion.dir/test_04.cpp.o) was built for newer OSX version (10.12) than being linked (10.11)

I see it on my mac, which runs 10.11.6, and it was on the test machine running 10.12 as well.  I cannot determine how to disable TPLs with checkin-test

[2016-12-06 21:59] tawiesn commented on #655
@mhoemmen Do you have a rough idea how many unit tests can be conglomerated in an executable in order to be able to compile them (with cuda)? If we split the unit tests it would be good to have a rough idea how to split them (e.g. not more than 3000 lines,...)

[2016-12-06 22:02] bartlettroscoe commented on #895
@kddevin, on your local machine, you can experiment with disabling TPLs by commenting out lines in the file:

* Trilinos/cmake/std/BasicCiTestingSettings.cmake

If Boost is not built correctly for Mac OSX, then that would be good to know so that we can get SEMS to fix this.

[2016-12-06 22:20] jhux2 commented on #888
I don't think bisecting is a viable approach, since the version of STK used in Nalu isn't well-aligned with Trilinos releases.  Instead, I'm going to dump the linear system and maps from nonIsoElemOpenJet and read those into a MueLu test driver.  As long as I use Nalu's MueLu XML deck, the resulting multigrid hierarchy should be exactly the same as the one built in Nalu itself.

[2016-12-06 22:25] rpshaw commented on #895
Hi all,

Is this relevant to STK anymore? If not, would it be OK to remove the STK Label?

Thanks,
Ryan

[2016-12-06 22:38] csiefer2 commented on #905
This turns out to work just fine in parallel too.  Closing

[2016-12-06 22:38] #905 closed

[2016-12-06 23:38] kddevin commented on #895
Argh; it isn't just Boost.  Even without Boost, I see the link errors. Still experimenting....

[2016-12-06 23:46] jhux2 commented on #903
I tried using the reviewable plugin with pull request #898.  A couple comments:

1. It's really slow.
2. My  comments didn't show up as email;  the requester had to refresh his browser to see them.  I don't know if this would change if/when reviewable is granted access to the repo.

[2016-12-06 23:47] bathmatt opened #908 "Small dense matrix inversion"
@mhoemmen I can see this being somewhere for your block crs matrix inversion.

Is there a class where I can do a small dense matrix inversion?  Example, I can grab a sub-view out of a kokkos 2D view and call it a matrix and compute its inverse?

Thanks

[2016-12-07 00:12] mhoemmen commented on #908
Yes, look in tpetra/core/src/Tpetra_Experimental_BlockView.hpp.  It's a KOKKOS_FUNCTION, but currently sequential inside.

[2016-12-07 00:13] mhoemmen commented on #905
Neat!

[2016-12-07 00:15] mhoemmen commented on #655
@tawiesn wrote:

Alas, no, I haven't done that experiment.  There are different ways you could split up tests.  You could either put each unit test in its own file, with all instantiations, or you could split up the tests by instantiations.

[2016-12-07 00:17] mhoemmen commented on #430
@mndevec , would you happen to have some matrices that are known to fail with MKL?  Thanks!

[2016-12-07 00:18] mhoemmen commented on #786
@bathmatt can you turn off `TpetraKernels_ENABLE_Experimental` then?

[2016-12-07 00:27] jhux2 commented on #903
It's faster using chromium on RHEL6.

[2016-12-07 00:51] bartlettroscoe commented on #482
I wrote an initial draft for a wiki page describing how to do development on any machine you want and then use a remote RHEL 6 machine to do the final test and push:

* https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull%2C-test%2C-and-push

@jwillenbring, can you please review this wiki page and make suggestions for improving it?  (also, just fix obvious typos if you find

[2016-12-07 00:59] dridzal commented on #482
I suppose that this should work with a CEE LAN remote workstation, with minor changes?

[2016-12-07 02:06] ambrad commented on #583
@trilinos/ifpack2, @trilinos/shylu, I'm proposing to push the commit linked above. It is the first of I anticipate >=3 commits focusing on Ifpack2::LocalSparseTriangularSolver. @mhoemmen and I might still discuss some interface issues re: aliasing in LSTS, but I propose that I push this commit, anyway, since it gets a fair bit done, and include further decisions on aliasing in a future commit. Tho

[2016-12-07 04:10] tjfulle commented on #895
My cron job won't run because `cd`ing inside the shell script does not seem to work.  i.e., I have

[code]

but the command fails because the `cd` is not persistent so `do_something_in_some_directory` is not found.  Okay, I tried

[code]

and

[code]

and

[code]

All failed.  Consequently, I can't `cd` in to the Trilinos build directory and build.  (I had to use the `--git-dir` and `--work-tree`

[2016-12-07 04:20] mndevec commented on #786
Sorry I seem to overlook this issue. I will push a fix for this.

[2016-12-07 06:33] mhoemmen commented on #583
@ambrad I think it's OK to push for now.  The implementation eventually should tie the sparse triangular solve implementation to MatrixType::execution _space (e.g., cuSPARSE for Cuda, HTS for OpenMP, "Internal" for Serial).  Thanks!

[2016-12-07 14:48] bartlettroscoe commented on #895
If everything is contained in one shell script, then `cd` should work find and persist.  I have lots of shell scripts that do this.

There must be something else wrong.  Let's talk offline about what we want to set up and what we want to achieve initially with this Mac OSX build.

[2016-12-07 15:25] bartlettroscoe commented on #482
@dridzal, the [remote pull, test, and push process](https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull%2C-test%2C-and-push) should work exactly as described on a CEE LAN workstation.  I will be setting up for remote pull, test, push once they get my new center-supported CEE LAN machine set up.  I will write a simple remote SSH invocation script to automatically fire thing

[2016-12-07 15:26] bathmatt commented on #908
Since I'm slow,
You are talking specifically calling

GETRI(const LittleBlockType& A,
       const LittleIntVectorType& ipiv,
       const LittleScalarVectorType& work,
       int& info)

Which calls this to get the LU
GETF2 (const LittleBlockType& A, const LittleVectorType& ipiv, int& info)

Specifically I would have my
[code]

[2016-12-07 15:43] bartlettroscoe commented on #893
@dridzal, yes, it is very well tested.  See unit tests with `NUM_TOTAL_CORES_USED` for this in:

* http://my.cdash.org/testDetails.php?test=28210159&build=1094039

This was added to support CASL VERA codes that use threading and have different number of MPI processes and threads per process.

If you find any problems with this, please let me know.

[2016-12-07 16:15] tjfulle commented on #895
For what it is worth, I ran one of the failing tests in a debugger, specifically, `stokhos/example/epetra/nox_example.cpp`.  I set a breakpoint right before the call to `MPI_Finalize`, stepped through `MPI_Finalize` (no error), then stepped over the closing `}` in `main`.  After exiting `main`, the error was thrown from system libraries.  Anybody with more experience have advice on how to dig deep

[2016-12-07 16:21] mndevec commented on #430
@mhoemmen
In my case, MKL does not complete (in ~20 min) with 256 threads on KNL (with intel 17~). The matrices I tried are laplace and brick matrices. I can provide the matrix market formats for those.

Mehmet

[2016-12-07 16:22] nmhamster commented on #430
@mndevec please can you supply these so we can file an issue with Intel?

[2016-12-07 16:26] spdomin commented on #888
@jhux2 sounds good. @mbarone81 is planning on running the same mesh and physics without periodic bcs. I think that this will be a good experiment to see if load balancing is a factor her since the coordinates at periodic bcs nodes are the same...

[2016-12-07 17:31] mndevec commented on #786
The latest push should fix this issue. Sorry for the bug and missing this issue. Cdash was not testing with TpetraKernels_ENABLE_Experimental=ON, but yesterday @csiefer2  set up a new test that experiments with TpetraKernels_ENABLE_Experimental=ON. Hopefully these errors will be caught early.

[2016-12-07 18:22] bartlettroscoe commented on #831
This should have been resolved with the merge commit 0acaa65.  Closing as complete.

[2016-12-07 18:22] #831 closed

[2016-12-07 18:25] bartlettroscoe commented on #907
@tjfulle, I think this is similar to #831 which I recently fixed.  Please go ahead and fix and test locally and then push with the checkin-test-sems.sh on a RHEL 6 machine.  If you don't have access to such as machine, just push the fix to a branch and I will test and push it for you for now or you can use my machine crf450 to do the [remote pull, test, and push process](https://github.com/trilino

[2016-12-07 18:31] dridzal commented on #482
And I will start using it as soon as you post it --just let me know.

[2016-12-07 19:24] mhoemmen commented on #430
@mndevec wrote:

Wow ;-P

[2016-12-07 19:25] mhoemmen commented on #908
@bathmatt yes. also, name your Views ;-)

[2016-12-07 19:38] bartlettroscoe commented on #906
How would I effectively test this to make sure that it works?  Would I need to temporarily change my default shell to tcsh so that when I first log in that it would just be on tcsh right from the very beginning?

Anyway, I think supporting (t)csh in addition to bash is important for the basic usage of the checkin-test-sems.sh script in #482 so I would like to get this fixed sooner rather than late

[2016-12-07 20:33] ambrad commented on #534
This was resolved several months ago. HTS is a subpackage of ShyLU and is used as such in, e.g., Ifpack2.

[2016-12-07 20:33] #534 closed

[2016-12-07 20:48] mndevec commented on #430
@nmhamster
The matrices are a bit large, laplace A and P matrices are located under /home/mndevec/matrix_market
in bowman.

[2016-12-07 21:02] mndevec commented on #430
By the way, I am using inspector executor with the function: mkl_sparse_spmm.
There is another function in MKL for matrix-matrix multiply. I will plug that in the coming weeks.

[2016-12-07 21:43] bathmatt commented on #908
I did, they are all names 0 clearly :)..  Thanks

[2016-12-07 23:50] spdomin commented on #888
@jhux2, perhaps as we wait for the Cori non-peridoc runs, we should re-establish the Muelu/ML comparison from our 2015 paper?

<img width="651" alt="figfive" src="https://cloud.githubusercontent.com/assets/8699324/20991708/15a82512-bc9d-11e6-8bfa-1df20fecbd4e.png">

[2016-12-07 23:51] bartlettroscoe commented on #907
I merged and rebased the fixing commit and pushed it as the commit e312736 to the 'develop' branch.

This is complete.

[2016-12-07 23:51] #907 closed

[2016-12-08 00:09] jhux2 commented on #888
Adding @tgvoskuilen to this conversation.

[2016-12-08 15:02] bartlettroscoe opened #910 "Failing MueLu tests in CI build starting 12/7/2016"
**CC:** @trilinos/framework, @trilinos/muelu

**Description:**

A push last night broke two MueLu tests.  The most current CI build still shows the failures:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2646684&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

No one can use the check

[2016-12-08 15:13] bartlettroscoe commented on #910
@jhux2, do the MueLu developers see these CI failures or are they hidden but the other CDash failure Nightly failure emails?

We need to work with Kitware to get a better CDash email notification system set up.  Nightly failures should likely be sent out as a digest at the end of the day and CI failures should be sent out ASAP.

[2016-12-08 15:14] aprokop commented on #910
@bartlettroscoe I'll fix this. Personally, I don't get CI emails.

[2016-12-08 15:16] bartlettroscoe commented on #910
Can we get your ORNL email back on the muelu-regressions mail list?

[2016-12-08 15:20] aprokop commented on #910
Hmm, apparently I'm not subscribed to quite a few mailing lists. I'll fix it.

[2016-12-08 16:14] mbarone81 commented on #888
@jhux2 and @spdomin  : here are the latest timings for continuity solve on Cori.  This is for the same ABL case as before, only replacing the periodic boundary conditions with inflow/outflow fore and aft, and symmetry on the lateral boundaries.  One difference in solver behavior is that the average number of linear iterations changes with core count, from 9.3 at 256 cores to 10.8 at 2048 cores.  F

[2016-12-08 16:24] aprokop commented on #910
Fixed pushed in cc153ef.

[2016-12-08 16:25] #782 closed

[2016-12-08 16:46] bathmatt commented on #786
I did turn it off, not using the experimental kernels anymore,

On Tue, Dec 6, 2016 at 9:20 PM, Mehmet Deveci <notifications@github.com>
wrote:

[2016-12-08 17:12] bartlettroscoe commented on #609
Putting back in progress since this has the right scope and background already.

[2016-12-08 17:15] bartlettroscoe commented on #609
@lxmota,

As we discussed, please:

* Create a branch (called something like `minitensor-pkg-609`) and push it to this Trilinos GitHub repo so we can collaborate on it.

Then I can pull the branch and give it a try and help fix issues.

[2016-12-08 17:19] jhux2 commented on #910
If these are failures from crf450.srn.sandia.gov, then yes, those failures go the muelu regression mailing list.  I don't recall seeing this yesterday, but Thunderbird says one came in at 1:52pm PT on Dec. 7th.  The bulk of the failures arrived after 5:30pm PT on 12/7.

@aprokop Thanks for fixing this.

[2016-12-08 17:27] lxmota commented on #609
@bartlettroscoe pushed initial sources to minitensor-pkg-609 branch.

[2016-12-08 17:32] kddevin commented on #895
The Mac warnings may be an incompatibility issue with the latest Xcode.  Bummer.
https://groups.google.com/forum/#!topic/dislin-users/bJ-se_wn5fA
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=71767

[2016-12-08 17:32] bartlettroscoe commented on #609
@lxmota, thanks.  I will have a look and get back to you.

[2016-12-08 18:03] jrood-nrel opened #911 "Syntax error with Intel 16.0.2 compiler"
In the master and develop branch, I am getting a syntax error in the Kokkos core with Intel 16.0.2. I could very well be missing something, but I have done this build fine using GCC 5.2.0.

Compiler version:
[code]

Make output:
[code]

Kokkos_Utilities.hpp(60):
[code]

[2016-12-08 18:08] ambrad commented on #911
What is the gcc compatibililty of icpc? See this by running icpc -v. It needs to be >= gcc 4.7.

[2016-12-08 18:14] jrood-nrel commented on #911
icpc version 16.0.2 (gcc version 4.4.7 compatibility)

Ah, I see. Will I need to feed it my GCC 5.2.0 installation to use it's front-end? Or can I still use the Intel compiler directly with a flag to raise the compatibility? Sorry if this is now a question I could find on Intel's site.

[2016-12-08 18:28] ambrad commented on #911
It depends on the system on which you're running. If the system uses modules, it can be as simple as something like "module load gcc4.9.3" (where I've made up the name of a module that loads the gcc 4.9.3 environment). If the system doesn't use modules, then flags to icpc will direct it to use the right gcc; see here for more: https://software.intel.com/en-us/node/522750

[2016-12-08 18:41] jrood-nrel commented on #911
Ok thanks! It's dumb of me because I am aware of the GCC emulation, but I guess it didn't even occur to me that Intel wouldn't at least have its own front-end. I will just pass my GCC as a flag. We can close this issue.

[2016-12-08 18:51] #911 closed

[2016-12-08 19:03] bartlettroscoe commented on #609
@lxmota, I pulled the branch `minitensor-pkg-609` and it seems like there is some confusion.  You are only trying to create a new TriBITS packages under the Trilinos TriBITS Repo as described here:

* https://tribits.org/doc/TribitsDevelopersGuide.html#how-to-add-a-new-tribits-package

If you look at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-package-core-files

you will see t

[2016-12-08 20:02] bartlettroscoe commented on #609
@lxmota,

If fixed up MiniTensor on the [`minitensor-pkg-609`](https://github.com/trilinos/Trilinos/tree/minitensor-pkg-609) branch to build as its own PT package under Trilinos.  I pushed the commits to the branch on this repo.  I tested this locally on my machine crf450 with the [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) script with:

[cod

[2016-12-08 21:41] lxmota commented on #609
@bartlettroscoe When I try this
$ cd Trilinos/
$ git checkout develop
$ git merge minitensor-pkg-609
$ git pull --rebase

And amend the commit messages using reword, I'm able to locally change the messages. But then it won't let me push unless I pull, and the pull reverts the commit messages to its original state. I have tried several times and the same thing happens again.

As for the warnings, I

[2016-12-08 23:13] jhux2 commented on #888
@sddomin @mbarone81 For the R2 runs, would you advise using the element or edge formulation?

[2016-12-08 23:13] jhux2 commented on #888
@spdomin domin @mbarone81 For the R2 runs, would you advise using the element or edge formulation?

[2016-12-08 23:57] mbarone81 commented on #888
@jhux2 @spdomin : I have been using primarily the edge scheme so I would recommend doing the same.

[2016-12-09 01:10] jhux2 commented on #888
@mbarone81 Thanks.  I've dumped the linear system data for the nalu R2 edge case.

[2016-12-09 01:59] bartlettroscoe commented on #910
They still seems to be failing:

* http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2647112

Where are the fixing commits?  If you reference the issue ID (i.e. #910) in the commit message, then GitHub will provide the linkage.

I am reopening until we can confirm these are fixed.  In the future, we should not close a Issue for a CI failure until we see it passing in the CI build on

[2016-12-09 02:14] jhux2 commented on #910
Taking this issue.

[2016-12-09 02:20] ambrad commented on #910
@jhux2, actually I'm already looking at this. Almost positive this is a result of a change I made re: LSTS.

[2016-12-09 02:22] jhux2 commented on #910
Ok.  I think this should fix it:

file Ifpack2_RILUK_def.hpp:
[code]

[2016-12-09 02:22] jhux2 commented on #910
@ambrad My checkin script is running, should I let it continue?

[2016-12-09 02:24] ambrad commented on #910
@jhux2, thanks! Sorry about the trouble. I agree, that's the fix: I was also setting up my checkin run, but have now killed it.

[2016-12-09 02:27] jhux2 commented on #910
@ambrad No trouble at all.

[2016-12-09 02:54] spdomin commented on #888
MilestoneRun uses the element base scheme. I would not think that this matters. My guess is that element is even slower since that was the trend in the milestone days.

[2016-12-09 03:00] aprokop commented on #910
@jhux2 So sorry. I could not run the checkin script, and forgot to add the the Ifpack2 file.

[2016-12-09 03:08] lxmota commented on #609
@bartlettroscoe I merged the minitensor-pkg-609 branch into develop and tested and pushed from crf450.

I wanted to start to fix the warnings, but when I compile in my local machine using checkin-test.py, it fails to configure because it can't find ParMETIS, which is not required by MiniTensor (or TeuchosCore, KokkosCore or Sacado).

Not sure why ParMETIS is required, or how to disable it. This do

[2016-12-09 05:00] #786 closed

[2016-12-09 14:57] bartlettroscoe commented on #609
Confirmed.  MiniTenor is showing up as its own Trilinos package in the CI build:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2648200

ParMETIS is one of the TPLs that must be present for the new Trilinos checkin-test.py default builds.  That is what #410 and #482 are about.  Even if fully testing MiniTensor currently does not require ParMETIS, it will once it gets used i

[2016-12-09 15:02] bartlettroscoe commented on #910
Looks like these MueLu tests are passing in the most recent CI build:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2648200

Do any MueLu developers not have access to a RHEL 6 machine with the SEMS Env where they can use [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) to safely push to Trilinos?  Otherwise, please use:

[2016-12-09 15:08] #910 closed

[2016-12-09 16:15] jhux2 commented on #910
@bartlettroscoe The checkin script automatically started a complex build.  I invoked it like you specify above.  In this case, complex was overkill.  Is there some way to disable certain builds?

[2016-12-09 16:25] tjfulle commented on #895
@bartlettroscoe my make dashboard script ran for the first time last night, but stopped prematurely because of configure and build errors.  Is there a flag to send to checkin-script.py to ignore these errors and keep cranking, skipping failed builds?

[2016-12-09 16:49] aprokop commented on #910
I did not have one yesterday (do have one today). I tried running checking from within a Docker container but it failed as it could not find ParMetis (Docker containers based on standard repos like Fedora don't provide parmetis).

[2016-12-09 16:56] bartlettroscoe commented on #910
@aprokop, that is a signal that you don't have the SEMS Env modules.  What RHEL 6 machine is this?  Is this an SNL machine?  If so, someone with sudo should be able to get the SEMS env mounted. See:

* https://sems.sandia.gov/content/sonsrn-nfs-tpl-server-mount-linux (requires Sandia SON access)

If this is not as SNL RHEL 6 machine, I suspect that you might be able to rsync the contents over to y

[2016-12-09 17:07] bartlettroscoe commented on #482
NOTE: The commit  f9553e4b8fed5a17c173d139420112bfd71e3a51  that @lxmota just pushed:

[code]
shows that he was able to use the [remote pull, test, and push process](https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull%2C-test%2C-and-push) to push his changes from my RHEL 6 machine crf450.  Seeing that his email address is wrong, I see that I need to add instructions for se

[2016-12-09 17:07] aprokop commented on #910
@bartlettroscoe This was not a RHEL6 machine, but I set up access to a SNL RHEL6 machine yesterday, so I'm good for the future.

[2016-12-09 17:28] bartlettroscoe commented on #910
@aprokop, that is good.  But it likely means that you will need to use the [Alternative branch workflow involving GitHub repo](https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull%2C-test%2C-and-push#alternative_branch_workflow) to move your commits from your ORNL machine to the SNL RHEL 6 machine where you will run the checkin-test-sem.sh script from.  Let me know if you h

[2016-12-09 17:44] bartlettroscoe commented on #895
No.  The checkin-test.py script is designed to drive local testing and the standard pull, test, push CI workflow.  For those use cases, it does not make sense to keep going if there are any errors.

I think what we want is a standard CTest Driver script:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-package-by-package-ctest-dash-driver

Basically, what you would do is write a `cte

[2016-12-09 17:47] bartlettroscoe commented on #910
Hum, that should not be.  Can we get on over S4B and pair program what is happening on your machine?

[2016-12-09 17:54] ambrad commented on #910
@bartlettroscoe, just to be clear, this was not actually a MueLu problem. I broke a MueLu test with a commit I made to Ifpack2. I made the mistake of disabling forward packages in my checkin process. I didn't mean to do that, but had been figuring something out in the checkin build and forgot to then remove that flag from my checkin invocation once I figured things out. Hence I mistakenly pushed t

[2016-12-09 18:39] jhux2 commented on #910
@bartlettroscoe  So it seems the process for running the checkin script has changed slightly.  Could you point me to some short documentation to make sure I have everything set up correctly?

[2016-12-09 18:55] bartlettroscoe commented on #910
@jhux2, it should now be trivial to set up and use on a RHEL 6 machine that has the SEMS env.  See:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

Please give me feedback if you are willing.

As of now, this is the only viable approach for an effective CI system for Trilinos given current staff and tools.

[2016-12-09 19:02] jhux2 commented on #910
@bartlettroscoe Ah, the process *has* changed.  So just to be clear, developers should *not* run Trilinos/checkin-test.py?

[2016-12-09 19:06] jhux2 commented on #910
Information from @bartlettroscoe:

The new CI build is meant to be run with the checkin-test-sems.sh script:
[code]
That guarantees that everyone is using the identical SEMS env.  I set it up this way to allow for the very rare
 case where someone without access to the SEMS env could install their own identical env (same GCC,
OpenMPI, TPLs, etc.) and still use the checkin-test.py script (but that

[2016-12-09 19:08] mhoemmen commented on #910
Just curious, why is it called "RELEASE_DEBUG"?  Is it release,  or is it debug?

[2016-12-09 19:18] bartlettroscoe commented on #910
@jhux2, good point.  I will remove that script so that people don't use it by default anymore.  I will also send out an email to the Trilinos developers pointing to the new checkin-test-sems.sh script for those who still want to use the checkin-test.py script for pushing to Trilinos (which is still obviously very optional since many people have never used it).

@mhoemmen, The build name `MPI_RELEA

[2016-12-09 19:45] aprokop commented on #910
@bartlettroscoe I understand you point, but it's confusing to me as it mixes with CMake build types and my assumption (wrong!) was that `RELEASE_DEBUG` would imply `RelWithDebInfo` CMake build type.

[2016-12-09 19:55] bartlettroscoe commented on #910
@aprokop,  Sorry about that.  But in that case the build would have been called something like `MPI_RELWITHDEBINFO_SHARED_PT`.

In the end, a name can't encode all the options that need to be set to pin down this build so you just have to look at the full set of configure arguments (which you can see in do-configure.base file that gets written by the checkin-test.py script).

[2016-12-09 20:09] jhux2 commented on #910
@bartlettroscoe Since you asked for feedback ... the (old) checkin script emits a ton of information, which is helpful when something goes wrong, and is I suppose saved in the log file ```checkin-test.out```.

What if instead, the script had minimal screen output, but did summarize what's happening and the types of builds that are enabled.

Something like ...

[code]
Just my two cents.

[2016-12-09 20:25] bartlettroscoe commented on #910
The new one does as well (actually, the underlying checkin-test.py script never changed).

[code]

I agree and I think we are one the same page.  A while back I worte the following backlog item for this:

* "Change stdout output to be much more compact but keep generating the exact same checkin-test.out file as a detailed log file.  This will make it nicer for users to see what is happening and wh

[2016-12-09 21:10] bartlettroscoe commented on #482
This story will be closed very shortly.

----

From: Bartlett, Roscoe A
Sent: Friday, December 09, 2016 4:09 PM
To: 'Trilinos Developers List'
Cc: 'Trilinos Framework List'
Subject: New Trilinos checkin-test policy: checkin-test-sems.sh

Hello Trilinos Developers,

For those Trilinos developers who have chosen to use the checkin-test.py script to safely push changes to Trilinos to try to improve t

[2016-12-09 22:20] bathmatt opened #914 "panzer not building under clang"
Getting an error on panzer with clang.
using  sems-clang/3.9.0

@jmgate @eric-c-cyr @rppawlo

Probably won't get to this, this year but

FAILED: packages/panzer/dof-mgr/src/CMakeFiles/panzer-dof-mgr.dir/Panzer_Filtered_UniqueGlobalIndexer.cpp.o
/projects/sems/install/rhel6-x86_64/sems/compiler/clang/3.9.0/openmpi/1.10.1/bin/mpicxx    -I. -Ipackages/panzer/dof-mgr/src -I/home/mbetten/Trilinos/Trili

[2016-12-09 22:26] bathmatt commented on #914
Actually, think I did get to it..  testing fix with compile only.

[2016-12-09 22:44] bathmatt commented on #914
@mhoemmen
I am not going to fix this before I have to leave,, the issue is that the node and tpetra nodes are different with clang because of serial.  If I take account for that I get a patch that looks like this
[code]

However, when I link I get tons of errors of missing symbols.
/home/mbetten/Trilinos/Trilinos/packages/panzer/dof-mgr/src/Panzer_DOFManager.cpp:(.text._ZNK6panzer10DOFManagerIiiE2

[2016-12-09 23:15] lxmota commented on #609
Ok, thanks for the explanation.

Perhaps the easiest solution is to compile and install ParMETIS in our own local machines, so I can also test locally. Still, I promise that I'll only push from crf450.

And yes, I believe a FAQ for questions like these would be helpful, as I'm sure there will be other libraries that are needed that would seem like unexpected requirements for some new Trilinos deve

[2016-12-09 23:28] lxmota commented on #482
@lxmota, can you comment on the difficulty involved in getting the remote pull, test, and push process set up and invoking it? What might we do to make this easier or more straightforward?

It was pretty straightforward. Initially I forgot to setup git properly, so my email address was wrong. But that is stated in your instructions.

The only thing that I would add to the instructions is that for

[2016-12-10 00:14] mhoemmen commented on #914
@bathmatt I'm surprised that you're getting Kokkos::Threads, unless Panzer or Drekar or whatever somehow wants to use Kokkos::Threads by default.  Here's the logic that Tpetra uses to pick its default execution space:
[code]

[2016-12-10 00:31] bartlettroscoe commented on #482
@lxmota,

Thanks for the feedback.

Good to hear :-)

I added that step after I saw your commit with the wrong email address.  That was my omission.  About 90% of the setup is what it takes to set up to clone Trilinos and do development on any machine.  The only new thing is adding the SSH key and setting the remote (one command).

That module and the other modules are loaded automatically when ru

[2016-12-10 02:49] mhoemmen opened #915 "Tpetra: Build warning in test, in non-MPI (SERIAL_RELEASE) build"
@trilinos/tpetra
I saw the following build warning in a Tpetra test, in a non-MPI (SERIAL_RELEASE) build.
[code]

[2016-12-10 03:10] #915 closed

[2016-12-10 03:16] bartlettroscoe commented on #906
We are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos.  See https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.

Closing and won't fix.

[2016-12-10 03:16] #906 closed

[2016-12-10 03:18] bartlettroscoe commented on #904
We are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos.  See https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.

Closing and won't fix.

[2016-12-10 03:18] #904 closed

[2016-12-10 03:19] bartlettroscoe commented on #895
We are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos.  See https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.

Closing and won't fix.

[2016-12-10 03:19] #895 closed

[2016-12-10 03:21] bartlettroscoe commented on #562
Question was answered

[2016-12-10 03:21] #562 closed

[2016-12-10 03:23] bartlettroscoe commented on #453
We would implement in a Python script querying the new CDash API and turn of the CDash notification emails for Nightly builds.

But this really should be a CDash feature.  We can ask Kitware to add this in our current contract work with them.

[2016-12-10 03:29] bartlettroscoe commented on #482
Given that we are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos and what is there now is sufficient for people like me to be productive pushing to Trilinos when the CI build is not badly broken (see https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179), I am putting this in review.

I will leave in until Jan. 1 2017 for comme

[2016-12-10 03:40] bartlettroscoe commented on #362
This has been merged to Trilinos 'develop' branch for a long time.  In am not going to bother with the task

* Explicitly turn on Trilinos_ENABLE_FLOAT, Trilinos_ENABLE_COMPLEX, Trilinos_ENABLE_COMPLEX_FLOAT and Trilinos_ENABLE_COMPLEX_DOUBLE in a few automated Trilinos builds.

Closing as complete.

[2016-12-10 03:40] #362 closed

[2016-12-10 03:44] bartlettroscoe opened #916 "Teuchos, Sacado, and Anasazi to split ENABLE_COMPLEX into ENABLE_COMPLEX_FLOAT and ENABLE_COMPLEX_DOUBLE"
**CC:** @trilinos/framework, @trilinos/teuchos, @trilinos/anasazi, @trilinos/thyra

As part of #362, I noticed that Teuchos, Sacado, and Anasazi only have `<PackageName>_ENABLE_COMPLEX` and `<PackageName>_ENABLE_FLOAT` options.  Unlike Tpetra, they don't allow you to enable `float` and `complex<double>` bout not `complex<float>`.  Well, no one is using `complex<float>` so even if some customer ena

[2016-12-10 03:45] bartlettroscoe commented on #916
I realize this is low priority but it was worth mentioning.

[2016-12-10 03:50] bartlettroscoe commented on #158
We are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos (see https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179) and the SEMS env is already working for this and protected by a CI sever.  This is working for me and many other people so there is no further need to review this.  I will fix any major problems that come up so that

[2016-12-10 03:50] #158 closed

[2016-12-10 03:53] bartlettroscoe commented on #893
We are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos.  See https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.

Closing and won't fix.

[2016-12-10 03:53] #893 closed

[2016-12-10 03:56] bartlettroscoe commented on #410
This is complete and is being used in new CI build.  It is unlikely that anyone will seriously review this so closing as complete.

Also, we are no longer going to purse extending the checkin-test-sems.sh (or checkin-test.py) script for Trilinos (see https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179).  No idea what selection of packages and TPLs will be used for new automatic

[2016-12-10 03:56] #410 closed

[2016-12-10 17:08] bartlettroscoe commented on #453
This needs to be higher priority.  We are never going to get people to pay attention to the CI build when they are flooded with nightly CDash failures.

[2016-12-10 20:52] mhoemmen commented on #916
Isn't the Teuchos case a little bit different, because Teuchos' settings affect Thyra ETI?

[2016-12-10 22:50] bartlettroscoe commented on #916
Good point.  Thyra would need to be updated as well.  Thyra could/should add its own vars `Thyra_ENABLE_FLOAT`, `Thyra_ENABLE_COMPLEX`, `Thyra_ENABLE_COMPLEX_FLOAT` and `Thyra_ENABLE_COMPLEX_DOUBLE`.

[2016-12-10 23:39] mhoemmen commented on #916
cool, as long as we don't forget :)

[2016-12-12 16:15] georgepaw opened #917 "cudaErrorIllegalAddress when running with Trilinos+Belos+MueLu on GPUs"
Hi,

I have been recently looking into the performance of the TeaLeaf mini-app (https://github.com/georgepaw/TeaLeaf_Trilinos/tree/kokkos_gpu) which has been ported to Trilinos running on multiple GPUs. This implementation uses the Belos package to do a CG solve and MueLu for multigrid preconditioners.

Using the instructions from here:
https://trilinos.org/about/documentation/building-with-cuda-s

[2016-12-12 16:54] krcb commented on #649
We reviewed progress on 12/9. The majority of the renaming, relocation and dependency modification is complete. A new package, TrilinosSS has been created in packages/common/auxiliarySoftware. After initial review @srajama1 requested some minor changes, which have now been completed. The code is available for general review and testing under PR#918.

[2016-12-12 17:01] krcb commented on #649
We have found that Ifpack, ShyLU, TrilinosCouplings depend on SuiteSparse under Amesos.
Those dependencies have been redone so that these packages depend on the new TrilinosSS package. These packages (Ifpack, ShyLU, TrilinosCouplings) need to be tested to verify that the refactor has not introduced problems. We would like to get input from @hkthorn to verify that the TrilinosCouplings interface ut

[2016-12-12 17:22] krcb opened #919 "ShyLUBasker Test failures"
ShyLUBasker has 2 tests that report status "not run" in develop, one of which fails when I enable it's execution. These failures block #649. Details below:

Start 4: ShyLUBasker_basker_amesos2_test_4
Unable to find required file:
<path-to-build>/packages/shylu/basker/test/basker_amesos2_interface_test.exe
4/8 Test #4: ShyLUBasker_basker_amesos2_test_4 .............***Not Run   0.00 sec
    Start 5

[2016-12-12 17:38] bartlettroscoe commented on #916
That is why this Issue exists :-)

However, this is not super high priority because the only harm is that you will get an extra set of `std::complex<float>` instantiations that you don't want or need when `float` is enabled.  But we don't have any customers that are using `float` and `complex` so no current harm is being done to them.

[2016-12-12 17:48] spdomin commented on #649
Is this part of master or develop? I can test today or tomorrow if you send me the line that specifies the new package dependency.

[2016-12-12 17:51] krcb commented on #649
PR918 is up-to-date with code in develop. If you check out PR918, then you should be able to build Nalu against that checkout.

[2016-12-12 18:56] mhoemmen commented on #917
Does "MueLU-GS" mean "multigrid with Gauss-Seidel as its smoother"?  Just curious.

[2016-12-12 19:47] georgepaw commented on #917
Yeah, the options file I have used is here: https://gist.github.com/georgepaw/ccf4d6a4138285f1f37f0856c9c03ffe

[2016-12-12 20:01] srajama1 commented on #649
Stefan: This is neither in master or develop, yet. We are waiting for some Xyce testing and few other Trilinos failures before I click the green button for merging the PR.

[2016-12-12 22:02] mhoemmen commented on #917
@trilinos/muelu

[2016-12-12 22:07] jhux2 commented on #917
@trilinos/ifpack2

[2016-12-13 00:05] jhux2 commented on #917
@georgepaw Do I understand your use cases correctly?

2 MPI ranks on CPU, sharing a single GPU   ...  works
3+ MPI ranks on CPU, sharing a single GPU ...  illegal memory exception
2+ MPI ranks on CPU, sharing 2+ GPUs ... illegal memory exception

[2016-12-13 03:03] ndellingwood commented on #919
@krcb Thanks for pointing out the changes needed in the CMakeLists.txt file regarding the inconsistent naming.
The commit in #920 partially addresses this issue.
The intermittent test failure for case with 4 threads is independent of #649 and is temporarily disabled to prevent blocking of that issue while permanent fix is underway.

[2016-12-13 03:12] wfspotz commented on #772
I have added an AsMap() method to the Epetra.BlockMap class. You can now use
[code]
and it will work.

[2016-12-13 03:12] #772 closed

[2016-12-13 03:31] wfspotz commented on #569
Here is a script you can run to modify the export Makefiles generated by Trilinos that will fix this issue for Makefiles:
[code]
You will need to `cd` to the build directory that contains `Makefile.export.Trilinos`, `Makefile.export.Trilinos_install`, and `TrilinosConfig_install.cmake` and run the script from there.

[2016-12-13 03:32] wfspotz commented on #569
Closing in favor of #866

[2016-12-13 03:32] #569 closed

[2016-12-13 03:33] wfspotz commented on #545
Closing in favor of #866

[2016-12-13 03:33] #545 closed

[2016-12-13 09:58] georgepaw commented on #917
@jhux2
These are the set ups that I have tested:

| Nodes | GPUs | Ranks (CPU Cores) per GPU | Output |
|---|---|---|---|
| 1 | 1 | 1 | OK |
|   |   | 2 | OK |
|   |   | 3+ | cudaErrorIllegalAddress |
| 1 | 2 | 1 | OK |
|   |   | 2+ | cudaErrorIllegalAddress |
| 2 | 1 | 1 | OK |
|   |   | 2+ | cudaErrorIllegalAddress |

[2016-12-13 15:31] #887 closed

[2016-12-13 15:43] mbarone81 commented on #888
Adding a timing result from the ABL runs that highlights some difficulty with preconditioner setup scaling for continuity, in addition to solve
![cont_strong_134m](https://cloud.githubusercontent.com/assets/6090175/21146788/28b39de0-c110-11e6-82ac-054066800e26.png)
.

[2016-12-13 16:04] srajama1 commented on #888
@mbarone81 : Is the #cores here equal to #mpi ranks ?

[2016-12-13 16:43] mbarone81 commented on #888
@sjrama1 : yes, that is the case here... running on Haswell nodes with 32 ranks per node

[2016-12-13 17:18] mhoemmen opened #921 "Tpetra: sparse matrix-matrix multiply test fails with CUDA (not experimental)"
@trilinos/tpetra
http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2651459

[2016-12-13 17:19] mhoemmen opened #922 "Tpetra: New thread-parallel sparse matrix-matrix multiply test fails ("experimental")"
@trilinos/tpetra
http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2651259

[2016-12-13 19:06] kddevin opened #923 "Zoltan2 globalWeightedCutsMessagesByPart fails with serial builds"
CDASH failures
Zoltan2_pamgenMeshAdapterTest_zoltanhg (http://testing.sandia.gov/cdash/testDetails.php?test=35535618&build=2652562)
Zoltan2_pamgenMeshAdapterTest_zoltanrcb (http://testing.sandia.gov/cdash/testDetails.php?test=35535621&build=2652562)

These builds are serial (non-MPI) builds.  The error appears to occur around line 466 of Zoltan2_GraphMetricsUtility.hpp; an error is thrown for an o

[2016-12-13 19:23] jhux2 commented on #453
In the Trilinos Leaders meeting, there was a concern that a digest might arrive late (e.g., 24 hours after a bad commit), thus delaying fixes.  What about having individual emails sent if they are from the CI build.  Everything else gets digested.

[2016-12-13 19:27] krcb commented on #649
Update from @hkthorn "Xyce serial and parallel testing with the proposed changes checks out."

[2016-12-13 19:48] bartlettroscoe commented on #453
This is consistent with what I suggested at the Trilinos Leaders Meeting today which I list again below ...

Short-term:
* Turn off individual CDash emails for Nightly failures for now until a summary/digest email can be implemented and deployed
* Keep sending out CDash emails for CI build and focus on keeping CI build clean for a period of time

Intermediate-term:
* Get Kitware to implement more

[2016-12-13 19:50] mndevec commented on #922
@csiefer2,
Is this a new error after map fixes? I just simply run couple SPGEMM versions and some TPLS and all seem to return the same output that does not match the expected output. I can have a deeper look if this is an error that still keeps happening after fixing the maps.

[2016-12-13 20:07] krcb commented on #649
Ifpack tests pass; ShyLUBasker tests pass with the update from @ndellingwood.

[2016-12-13 20:48] mhoemmen opened #924 "Work-around (not a bug) for recent changes to check-in test script"
I discussed this with @maherou , and he agreed that it would be helpful for me to post these instructions, as a way to smooth the eventual transition to a pull request model.

Suppose that you were using the (old) check-in test script before.  The #482 fix broke this process.  If you want your old check-in test scripts to work, you'll need to do the following:

  1. Change path to internal check-i

[2016-12-13 20:55] mbarone81 commented on #888
Some new timing data from the Serrano machine, very modest problem size, but encouraging...
![weak_cont_solve_serrano](https://cloud.githubusercontent.com/assets/6090175/21158777/d256a6e6-c13b-11e6-9b1c-5c978eadfef4.png)

[2016-12-13 20:58] jhux2 commented on #888
Here's an update on tracking MueLu's performance over time.  I've built Trilinos and a MueLu driver for three different git snapshots:

trilinos-release-11-4-branch, 76fed4c07 [last commit is Oct 28th, 2013]
trilinos-release-11-10-branch, 9e80a98d7 [last commit is Aug 27, 2014]
trilinos develop, 0f302d7d [last commit is Dec 6, 2016]

I had to make some minimal changes because the MueLu driver + ma

[2016-12-13 21:03] jhux2 commented on #888
I should have specified in my last post that the results are using MueLu using Tpetra.

[2016-12-13 22:19] srajama1 commented on #649
@krcb: Is there anything else that is blocking you in this issue ?

[2016-12-13 22:35] krcb commented on #649
@srajama1: There currently does not appear to be tests for ShyLUTacho/refactor. The PR needs to be run through the checkintest script using the SEMS environment (which I don't have access to). Once those two issues are addressed, you can go ahead and merge the PR from my perspective.

[2016-12-13 22:36] krcb commented on #649
@spdomin: did you have the opportunity to try out #918 with Nalu? If so, does it resolve #900?

[2016-12-13 22:48] mhoemmen commented on #924
The @trilinos/muelu team also expressed an interest in this workflow.

[2016-12-13 23:52] kddevin opened #925 "Tpetra shadow warning"
Trilinos/packages/tpetra/core/src/Tpetra_Details_FixedHashTable_def.hpp:1043:82: warning: declaration of 'maxVal' shadows a member of 'this' [-Wshadow]

It appears maxVal is also a method in this class.

gcc 4.7.2 compiler on linux

Priority for me is low, but this might trigger warnings=errors problems for others.

[2016-12-14 00:01] mhoemmen commented on #925
@trilinos/tpetra

[2016-12-14 00:01] mhoemmen commented on #925
@kddevin is this with ETI on or off?  Just curious; thanks!

[2016-12-14 00:12] kddevin commented on #925
My build has ETI=OFF.

[2016-12-14 00:50] mhoemmen commented on #925
@kddevin I just pushed a fix.  Please feel free to reopen if it should continue to show up.  Thanks for reporting!

[2016-12-14 00:50] #925 closed

[2016-12-14 01:32] csiefer2 commented on #922
@mndevec  Trilinos doesn't have the map fixes checked in yet.

Don't worry about this.

[2016-12-14 01:40] ibaned opened #926 "proposal for "Linear" solver in NOX"
What I mean by this is to implement a "dummy" NOX "nonlinear" solver which is simply a light wrapper around a given linear solver, and executes only one nonlinear iteration.

The rationale for this comes from Albany, which uses NOX through Piro and the LOCA AdaptiveStepper, meaning users must select a nonlinear solver type even if their problem is linear. Instead of trying to "trick" a real non-li

[2016-12-14 01:50] bartlettroscoe commented on #924
Should have already been covered by my email:

----

From: Bartlett, Roscoe A
Sent: Friday, December 09, 2016 4:09 PM
To: 'Trilinos Developers List'
Cc: 'Trilinos Framework List'
Subject: New Trilinos checkin-test policy: checkin-test-sems.sh

Hello Trilinos Developers,

...

   https://github.com/trilinos/Trilinos/wiki/Policies-|-Safe-Checkin-Testing

...

For those still using the raw Python che

[2016-12-14 02:12] lxmota commented on #609
@bartlettroscoe I'm trying to convert a version of Albany to MiniTensor. There is a file MiniTensor_config.h that gets generated in the build process and placed in the Trilinos build directory under packages/minitensor/src. But that header does not get copied to the Trilinos install directory, so the Albany build fails. I compared with Intrepid2 and found a corresponding Intrepid2_config.h, but th

[2016-12-14 02:27] bartlettroscoe commented on #609
@lxmota,

My bad.  You need to add that header file `${CMAKE_CURRENT_BINARY_DIR}/${PACKAGE_NAME}_config.h` to your `HEADERS` variable.  For an example, see:

   https://github.com/trilinos/Trilinos/blob/master/packages/epetra/src/CMakeLists.txt#L39

That will result in that file getting installed.

Let me know if you have problems with this.

[2016-12-14 02:32] lxmota commented on #609
@bartlettroscoe Thanks, trying it as we speak.

[2016-12-14 03:55] srajama1 commented on #649
@krcb: I will take care of the nalu use case. I forgot the Tacho one. Let me check that.

[2016-12-14 13:24] rppawlo commented on #926
@ibaned This is a good idea. Several teams have asked about this in the past. I have always told them what you mentioned - use a status test object that claims convergence after one nonlinear iteration. Makes sense to just add a simple solver object. Please go ahead and submit a pull request. Thanks!

[2016-12-14 13:53] rppawlo opened #928 "Panzer: convert stk-adapter use of CommAll to CommSparse"
Email from Alan is below. STK is replacing CommAll object with CommSparse object. In the next month or two we will have to switch panzer our use over to the new object.

@trilinos/panzer @eric-c-cyr @jmgate

Roger and/or Eric,

I notice that in Panzer_STK_Interface.cpp you are using the stk CommAll class. The CommAll class has some confusing implementation which may use MPI_Alltoall under certain

[2016-12-14 15:59] #923 closed

[2016-12-14 17:50] jmgate opened #929 "Thyra: Allow absence of IN_ARG_alpha"
Allow the absence of `IN_ARG_alpha` in `assertInArgsOutArgsSetup()`.  @trilinos/thyra

[2016-12-14 17:55] jmgate commented on #929
I was troubleshooting some failing tests in Drekar when built with `Trilinos_ENABLE_DEBUG=ON`, and ran into the following:  In `drekar/test/transient/BlockedLinearSystemModel.cpp` in the `setupInOutArgs_()` routine, we have

[code]

In talking with @egphill, it sounds like that’s as it should be — implicit models need an alpha, explicit ones don’t.  However, `initializeDefaultBase()` in `Thyra_Mod

[2016-12-14 18:13] jwillenbring commented on #853
After initially implementing a workaround for this, I contacted GitHub to see if they had received a lot of bounces, and that caused the emails to be disabled. That was the case. GitHub made a change on their end, and I was able to redirect the messages back to the regular checkins list.

In the future, I need to remember that this is a possibility. Both John P and I spent a lot of time investigat

[2016-12-14 18:13] #853 closed

[2016-12-14 18:17] bartlettroscoe commented on #929
From looking at:

* https://trilinos.org/docs/dev/packages/thyra/doc/html/classThyra_1_1ModelEvaluator.html#Thyra_ME_implicit_dae_sec

this defines the matrix `W` for an implicit ODE or DAE model as:

[code]

Therefore, if the model defines `x_dot`, they by definition is a implicit ODE or DAE, and therefore it must also define `alpha` (better called `coeff_x_dot`?).  What does the absence of `alph

[2016-12-14 18:48] jmgate commented on #929
Ah, perhaps that's it then&mdash;if the model's implicit, we support `IN_ARG_x_dot` and `IN_ARG_alpha`, but if the model's explicit, we don't.  If that's right, then that's just a quick change to Drekar and we can close this issue.

[2016-12-14 19:12] jhux2 commented on #853
@jwillenbring Thanks for tracking down and fixing this. I really appreciate it.

[2016-12-14 20:32] mhoemmen commented on #924
MueLu developers didn't know how to use checkin-test-sems.sh, and requested a patch to get the old workflow back.

[2016-12-14 20:33] mhoemmen commented on #908
@bathmatt I'm closing this; please feel free to reopen or open a new issue if you need to.  Thanks!

[2016-12-14 20:33] #908 closed

[2016-12-14 20:34] #892 closed

[2016-12-14 20:34] mhoemmen commented on #926
@trilinos/nox

[2016-12-14 20:41] mhoemmen opened #930 "New "check-in policies page" gives incorrect directions"
The following page:

https://github.com/trilinos/Trilinos/wiki/Policies-|-Safe-Checkin-Testing

gives incorrect directions for running the new checkin-test-sems.sh script.  It also does not mention anything about the `TRILINOS_DIR` environment variable.

@trilinos/framework

[2016-12-14 20:42] mhoemmen commented on #924
See also #930.

[2016-12-14 20:42] bartlettroscoe commented on #929
Thanks @jmgate, glad this was a simple mix-up.  I guess the ME should put in longer explanation for these assertions?  Perhaps we could expand on the exception message to explain the relationship between `x_dot`, `alpha` and `W` better?  Like, should we say:

[code]

?  Would that help?

[2016-12-14 20:44] mhoemmen commented on #930
Also, you need to `source` the script if you want the modules to stay in your path, e.g., for running `make`.

[2016-12-14 20:54] mhoemmen commented on #146
I'm closing this since it doesn't appear to be an issue any more.  Please reopen if needed.  Thanks!

[2016-12-14 20:54] #146 closed

[2016-12-14 20:57] jmgate commented on #929
That looks great to me.  @rppawlo, @eric-c-cyr, does this sound like a good path forward?

[2016-12-14 21:08] bartlettroscoe commented on #930
If you follow the instructions exactly as described on that page (and symlink the checkin-test-sems.sh script), then you never need to set the `TRILINOS_DIR` env var.  It is set automatically inside of the script.  However, if you are on Mac OSX, that does not work and it gives you an error message.    In an attempt to improve on this error message, I just pushed the commit 7c9ad6d7088 which print

[2016-12-14 21:14] jwillenbring commented on #453
Another possibility would be to create another track, perhaps promotional or clean, and send emails from that track, and only elevate builds from nightly to the new track when they are 100% clean.

[2016-12-14 21:16] tawiesn commented on #930
I have a Sandia RHEL 7 machine with NO sems environment. Since SEMS modules were not available when my machine was set up, i've compiled my own development environment and set up my configurations for the (old) classic checkin script and i'm quite happy with it.
At the moment i have no time to set up and test the SEMS modules for RHEL 7. The procedure described by @mhoemmen in #924 works for me an

[2016-12-14 21:24] jhux2 commented on #453
I would actually prefer to continue to get emails (even individual ones), since the timeframe for getting a digest is unclear (at least to me).

[2016-12-14 22:02] spdomin commented on #649
Sorry, I am booked with other tasks. I will need someone from our ECP team to test out nalu builds with removal of the Epetra solver stack.

[2016-12-14 22:04] spdomin commented on #888
We are leaning towards a haswell nuance... Data is still in flux, so please stay tuned..

[2016-12-14 22:17] bartlettroscoe commented on #930
When you have some time, it should take just a few minutes to NFS the SEMS modules on your machine as explained here:

* https://sems.sandia.gov/content/sonsrn-nfs-tpl-server-mount-linux

If that process is not super easy, then we need to give feedback to the SEMS team so that they can improve it.

That is good.  Sorry if that was not more obvious.  The only things that changed were the --default-

[2016-12-14 22:22] bartlettroscoe commented on #453
Sounds logical me.  How about we call this "Clean Nightly" to be clear what this is?

@jhux2, if you and the @trilinos/muelu team members are committed to keeping your MueLu builds 100% clean on a timely schedule, then would you be okay with moving them into a new "Clean Nightly" track and leaving on CDash emails?

[2016-12-14 22:34] jhux2 commented on #888
R3 results from skybridge:

Matrix:  Nalu "R3" pressure matrix, 17.5m rows, run on 256 MPI processes (8 nodes)
Solve: GMRES preconditioned by MueLu
Machine: skybridge (Intel Sandybridge)
Modules:
[code]
[code]

[2016-12-14 23:00] mhoemmen commented on #930
If it's possible to run the check-in test script without SEMS modules, then we can close this issue.  Otherwise, I would prefer to leave it up.  Backwards compatibility suggests that it would have been nice to support use of the old check-in test script for a little while at least.

[2016-12-14 23:07] kddevin commented on #885
Example of invalid output comes from last test in
mpirun -np 4 Zoltan2_TaskMappingProblemTest.exe

METRICS FOR THE SERIAL CASE - ONE PHASE MAPPING - EACH ELEMENT IS ASSUMED TO BE IN UNIQUE PART AT  THE BEGINNING
Imbalance Metrics: (4 existing parts)
Target number of parts is 1
                            min        max        avg   imbalance
        object count       1024       1024       4096

[2016-12-14 23:18] bartlettroscoe commented on #930
Yes, you should be able to run the raw checkin-test.py script without the SEMS modules.  You just will not be able to run the --default-builds unless you have specify in your MPI_RELEASE_DEBUG_SHARED_PT.config file how to find everything needed for the new PT build of Trilinos (i.e. compilers, MPI, and all the TPLs starting with BLAS and ending with Netcdf).  I designed the file Trilinos/project-c

[2016-12-15 00:27] jhux2 opened #931 "emails are not being posted to MueLu or Ifpack2's developer's list"
@jwillenbring Emails to the MueLu developer's list are not being posted, and they are not showing up in the archive.