[2017-07-14 05:41] gsjaardema commented on #1494
Matio is optional for seacas.

On Wed, Jul 12, 2017 at 06:32 Mark Hoemmen <notifications@github.com> wrote:

[2017-07-14 13:49] wfspotz commented on #1381
I have addressed this issue by calling `prec.DestroyPreconditioner()` which appears to be the expected approach.

[2017-07-14 13:49] #1381 closed

[2017-07-14 14:49] ibaned commented on #1480
The `<mpi.h>` thing is now mostly done, with the possible exception of STK, which will get done once they do their next snapshot.

[2017-07-14 17:22] csiefer2 commented on #1491
Neat!

[2017-07-14 17:22] #1491 closed

[2017-07-14 19:02] bartlettroscoe commented on #1400
We will converse about this in TriBITSPub/TriBITS#207.

[2017-07-14 23:35] bartlettroscoe commented on #1501
@atoth1, this is likely due to the Thyra/GPU refactoring described in #330.  Can you please take a look?

CC: @rppawlo

P.S. I never got an email about this issue.  Something must be broken about the GitHub notification emails or something.

[2017-07-14 23:41] bartlettroscoe commented on #1494
The SEMS env does not provide the Matio TPL.  For example, the standard CI build for Trilinos explicitly disables Matio as shown at:

* https://testing.sandia.gov/cdash/buildSummary.php?buildid=3000706

showing:

[code]

This is set in the file Trilinos/cmake/std/BasicCiTestingSettings.cmake.

Please follow that example (or just include that same file).

[2017-07-15 21:15] atoth1 commented on #1501
@bartlettroscoe Yeah, I can try to look into this. I don't have a Windows machine or Visual Studio, so what's the best way for me to try to replicate these build errors/test a fix?

[2017-07-17 14:39] bartlettroscoe commented on #1493
I have all of this fixed in the PR #1504.  If there are no serious objections then I will merge and push this tomorrow morning.  I will also do a meta-build of Trilinos (all of the CI PT packages and tests) and analyze the results for that after the push.

[2017-07-17 15:23] thierry3000 commented on #1225
Is there some progress on this? I am also suffering from this bug.

[2017-07-17 15:34] dlkarnit opened #1505 "Logic error thrown in Kokkos destructor"
@trilinos/tpetra
Reporting a logic error thrown by Kokkos as requested by the error message. Trilinos version 12.10.1

[2017-07-17 16:00] bartlettroscoe commented on #1493
Looks like we will need to wait until after the freeze tomorrow to push this.

----

From: Trilinos-developers [mailto:trilinos-developers-bounces@trilinos.org] On Behalf Of Willenbring, James M
Sent: Monday, July 17, 2017 11:42 AM
To: Trilinos Developers List <trilinos-developers@trilinos.org>
Subject: Re: [Trilinos-developers] [EXTERNAL] freeze/branch for Trilinos 12.12

All,

Just one more remi

[2017-07-17 17:13] jwillenbring commented on #1225
@bmpersc do you have any input on this?

[2017-07-17 17:31] william76 opened #1507 "MueLu_Navier2DBlockedReuseAggs_MPI_4 failing nightly testing"
@trilinos/muelu

`MueLu_Navier2DBlockedReuseAggs_MPI_4` started failing in the nightlies about 3 nights ago in the `Linux-GCC-5.2.0-OPENMPI_1.10.0_RELEASE_DEV_MueLu_NO_SERIAL` build on geminga.

**Links**:
- Error Messages: https://testing.sandia.gov/cdash/testDetails.php?test=40052062&build=3004895
- Nightly build: https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3004715

[2017-07-17 17:48] mhoemmen commented on #1505
This usually only happens because somebody created a Node instance by hand.  Whoever is doing that, please don't :-) .  Also, RCP is not thread safe.

[2017-07-17 18:23] rppawlo opened #1508 "NOX: fix status test for adaptive refinement"
The NormUpdate test does not check to automatically resize a temporary array. This is needed for adaptive refinement in Albany.

@trilinos/nox

Fix sent by @gahansen :

gahanse@s990159:~/Codes/Trilinos/packages/nox/src$ git diff NOX_StatusTest_NormUpdate.C
diff --git a/packages/nox/src/NOX_StatusTest_NormUpdate.C b/packages/nox/src/NOX_StatusTest_NormUpdate.C
index 88a96c0..d299ef5 100644
--- a/pa

[2017-07-17 18:53] brian-kelley commented on #197
I just submitted the PR for this (pull #1509). @mhoemmen, would you like me to add you as a reviewer?

[2017-07-17 19:18] mhoemmen commented on #197
@brian-kelley Sure, please do!

[2017-07-17 21:16] #1508 closed

[2017-07-17 21:38] tawiesn commented on #1498
@DrBoom Sorry, didn't get the attachment. Could you send it to my email address rather than answering the github issue email? Attachments are dropped. Thx

[2017-07-17 21:51] tjfulle opened #1510 "Tpetra: Failing CrsMatrix and MultiVector tests with Cuda"
Two tests fail on the latest development branch when compiled with Cuda on SNL testbed[s]:

1.  `TpetraCore_CrsMatrix_WithGraph_Cuda_MPI_4` with the following error:

[code]

2.  `TpetraCore_MultiVector_UnitTests_MPI_4` with the following error:

[code]

[2017-07-17 21:51] tjfulle commented on #1510
Trilinos was configured with:

[code]

[2017-07-17 21:58] tawiesn commented on #1507
Checkin test script is running...

[2017-07-17 22:00] mhoemmen commented on #1510
Working on this; thanks!

[2017-07-17 23:01] mayrmt opened #1511 "Teko: tpetra testdriver failing"
Using unmodified code from commit c6be0a2b04589e40452fe0f875384f0bf324db30, the test ```Teko_testdriver_tpetra_MPI_1``` fails. The error when running ```ctest -V -R Teko_testdriver_tpetra_MPI_1``` is:

[code]

Configure script:
[code]

[2017-07-18 03:57] mhoemmen commented on #1511
@trilinos/teko

[2017-07-18 10:15] nschloe opened #1512 "Zoltan: remove generated autoconf files from source?"
On the Debian build, we currently cannot advance the standard version of Trilinos since some build artifacts are in the source tree, notably
[code]
Is anyone still building Zoltan with autotools at all? If not, more files could go.

---

From https://www.debian.org/doc/packaging-manuals/upgrading-checklist.txt:

[2017-07-18 13:28] aprokop commented on #1512
@trilinos/zoltan @kddevin

[2017-07-18 15:18] mhoemmen commented on #1510
Interesting, I couldn't replicate with CUDA 7.5 + GCC 4.8.4 in a release build, but I think these errors only show up in debug builds.  We tend not to do debug builds with CUDA as often, since this often has led to link failures downstream (due to running out of memory for the link? not quite sure).  I'll try again with a debug build.

[2017-07-18 16:08] jwillenbring commented on #1155
@allevin Told me this morning that he has a rough version of this ready for me to try next week. He will write up instructions. There is still a gap in directing people to the results in CDash and other smaller gaps to fill. The initial implementation will not support testing multiple pull requests simultaneously.

[2017-07-18 16:09] jwillenbring commented on #1390
A meeting to discuss if SEMS plans for broad C++11 compiler availability are sufficient for XYCE is scheduled for 7/27.

[2017-07-18 16:18] bmpersc commented on #1457
Currently this is stalled. The Jenkins parts are working as expected, however, when the testing scripts are run they clone an additional version of trilinos to run the testing against which is defaulting to the develop branch. I have looked into finding an option for telling the testing to use a specific sha1, however, all I could find was to tell it a specific branch.

After speaking with @jwille

[2017-07-18 16:21] mhoemmen commented on #1470
btw this came to light because of @jjellio 's performance tests.

[2017-07-18 16:25] mhoemmen commented on #1510
I was able to replicate exactly those test failures with CUDA 7.5.18 + GCC 4.8.4 in a debug build.

[2017-07-18 16:29] bartlettroscoe commented on #1400
@kruger,

FYI: @hcedwar just informed the SART group that @dsunder has been refactoring the kokkos.cmake and related build files in Kokkos to remove duplication.  Please coordinate with @dsunder on syncing up your refactoring and his refactoring (or someone will have a messing merge conflict to address).

[2017-07-18 16:59] atoth1 commented on #1501
@bartlettroscoe So it seems like all the build errors that this is getting are due any to call to applyOp without the Thyra namespace specified in VectorDefaultBase and MultiVectorDefaultBase. Both these contain calls to Thyra::applyOp with the namespace specified, and those look to be compiling fine. All the code is wrapped in the Thyra namespace, so I'm not sure why this distinction would matter

[2017-07-18 17:10] mhoemmen commented on #1510
The issue is two-argument `CrsMatrix::getLocalDiagCopy` with `Teuchos::ArrayView` offsets argument.  In the `TpetraCore_CrsMatrix_WithGraph` test, a bunch of code happens that marks the device version of the DualView inside the Vector as modified.  Two-argument `getLocalDiagCopy` with `Teuchos::ArrayView` offsets marks the host version of the Vector as modified.

I can fix this in `getLocalDiagCop

[2017-07-18 18:51] dlkarnit commented on #1505
I have yet to be able to create a small code to replicate the issue. Though I'm looking into other possible memory corruptions that could be related.

I'm using Belos + MueLu to solve a linear system with a multi-grid preconditioner similar to the example usage of Belos. Though I'm creating each of the Problem, Preconditioner, and solver with Teuchos::rcp( new ... ) calls. The code I'm integrating

[2017-07-18 20:00] mhoemmen commented on #1505
Please don't :-) .  "Create a Node instance by hand" means "invoking the constructor of `node_type`".

My guess is that you have an example code in main().  RCP automatically invokes destructors on scope exit, but this could be bad if `Kokkos::finalize` or `MPI_Finalize` have already been called.  If your code lives in main(), try this:
[code]

[2017-07-18 20:19] hkthorn commented on #1289
@srajama1 @ndellingwood Do you need anything from me to close this issue, like a smaller test matrix?

[2017-07-18 21:09] dlkarnit commented on #1505
If I'm constructing the trilinos objects in the scope of another object, would it be a wise practice to initialize those RCP objects to Teuchos::null in my destructor? Or better to leave them alone in the destructor?

Example:
  Foo() : vSolver( Teuchos::rcp( new Solver() ) ) {}
~Foo() { vSolver = Teuchos::null }

[2017-07-18 21:17] mhoemmen commented on #1505
You may leave them alone in the destructor.  `~Foo()` will automatically invoke RCP's destructor, which will reduce the reference count by one.

[2017-07-18 21:18] mhoemmen commented on #1510
I just pushed a fix to develop.  Thanks!

[2017-07-18 21:18] #1510 closed

[2017-07-18 21:28] mhoemmen commented on #800
See #1503.  I will squash those three commits into an atomic unit and run tests.

[2017-07-18 21:31] tjfulle commented on #800
@mhoemmen wrote:

Good idea - two of the intermediate commits don't build/run on cuda :)

[2017-07-18 21:36] bartlettroscoe commented on #1501
@atoth1,

I would just add `Thyra::` to the beginning of these and push with the ]checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) script.  Then you can see if the problem goes away the next day.

[2017-07-19 00:09] mhoemmen commented on #800
Argh, I can't build CUDA RELEASE without nvlink crashing....

[2017-07-19 00:10] mhoemmen commented on #800
OK, I pushed this.  Thanks!

[2017-07-19 00:10] #800 closed

[2017-07-19 01:00] dridzal opened #1514 "Building Trilinos/ROL takes 60GB of memory"
@trilinos/framework , if I build ROL with all its dependencies using

`  make -j20`

the maximum memory use for compiling/linking is more than 60GB.  In other words, 3GB per build process.  This is with GCC 4.8.4 and 6.1.0.  This has been getting worse; the high-end CEE LAN blades used to be able to compile ROL (just a few weeks ago) and now they can't (with make -j20).  The culprit are ROL's opti

[2017-07-19 01:04] Ahdhn opened #1515 "MSVC Errors when building Stokhos with CUDA enabled"
I used MinGW to run a 'do-script' (shown below) that invokes cmake on windows. Cmake configured and generated the code successfully. However, building using VC always fails. I am interested in building _Stokhos_SPMVTest_ project only. When I tried to built it, the errors list shown below showed up. The system specs are listed below. Please advise. Thank you.

**do-script**

[code]

**Error List**

[2017-07-19 02:17] Ahdhn commented on #1515
I believe this due to the incomplete support of C++11 in VS 2013 as explained [here](https://msdn.microsoft.com/en-us/library/hh567368.aspx) specially with _constexpr_ and _noexcept_. Same thing was further confirmed in this discussion [here](https://github.com/kokkos/kokkos/issues/9).

Before closing this issue, I would like to ask if there is a way to build and run this project (_Stokhos_SPMVTes

[2017-07-19 12:24] ibaned commented on #1515
@mplooster @trilinos/stokhos

[2017-07-19 12:25] ibaned commented on #1514
@trilinos/rol

[2017-07-19 14:11] mplooster commented on #1515
@ibaned I'm afraid I can't comment very much at this point. I've never been able to build a package using MSVC that has a dependency on Kokkos, and I am not very familiar with stokhos. Sorry. In theory, it should be possible to build using Cygwin or MinGW, but having never tried myself I can't confirm (perhaps the stokhos package developers can comment more on that?). My best advice is to simply t

[2017-07-19 14:28] lucbv commented on #1507
@tawiesn it seems that the issue does not show up on CDash this morning, should this issue be closed?

[2017-07-19 15:15] tawiesn commented on #1507
Can be closed. Btw: it should automatically close once the patch is
merged into the master branch.

Tobias

On 07/19/2017 08:28 AM, Luc Berger wrote:

[2017-07-19 15:18] bartlettroscoe commented on #1304
One issue related to this story is the instability of the CI build `Linux-GCC-4.7.2-CONTINUOUS_MPI_OPT_DEV_SHARED` that the Trilinos Framework team runs on the machine sadl30906.srn.sandia.gov as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=2&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&

[2017-07-19 15:22] #1507 closed

[2017-07-19 15:28] mhoemmen commented on #1514
@dridzal Could you please clarify that bit about "ROL's optional dependencies"?  I had thought ROL always had an optional dependency on the new linear algebra and solver stack.  I'm asking because I want to make sure this is about "adding a new dependency," and not about something that may have changed in the new stack suddenly causing larger build times.

[2017-07-19 15:31] mhoemmen commented on #1515
@Ahdhn It's been a while since I heard about Windows support, but I suspect you will need at least revision 3 of MSVC 2015.  That's when they actually finished implementing the C++98 standard (seriously; they didn't have a complete SFINAE implementation before).  This isn't even for CUDA; MSVC itself, without CUDA, was not a correct C++ implementation until that version.  (I am painfully familiar

[2017-07-19 15:31] bartlettroscoe commented on #1514
If ROL were to switch to using Stratimikos for these examples with ETI enabled, then my guess is that these build problems would go away.

@dridzal, if you have a few minutes, we could look over what might be involved in switching these ROL examples (at least the most problematic ones) to use Stratimikos.

[2017-07-19 15:32] mhoemmen commented on #1515
@Ahdhn If you have a chance to try the most recent MSVC possible, without CUDA, please post your results on this issue.  Thanks!

[2017-07-19 15:32] #1515 closed

[2017-07-19 15:34] tawiesn commented on #1485
@mplooster I pushed commit 1926d6e122 which removes the problematic Array<bool> and ArrayRCP<bool>. Please let me know if you find more problems related to that.

[2017-07-19 15:38] bartlettroscoe commented on #1493
The freeze is over so I can now move on merging PR #1504.  See discussion over there.

[2017-07-19 16:08] mplooster commented on #1485
@tawiesn I ran [this build](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3009900) and MueLu is once again building without compile errors. That seems to have done the trick. Thanks!

[2017-07-19 16:08] #1485 closed

[2017-07-19 16:11] CamelliaDPG opened #1516 "Buffer Overflow in Kokkos_Layout.hpp"
The `order_dimensions()` method implemented in `Kokkos_Layout.hpp` is as follows:
[code]

Whenever `rank != ARRAY_LAYOUT_MAX_RANK`, that first for loop will read beyond the end of the `order` array.  Proposed fix is as follows:

[code]

[2017-07-19 16:11] CamelliaDPG commented on #1516
@crtrott

[2017-07-19 16:59] bmpersc opened #1517 "Create 12.12 release"
Following checklist below and updating as needed:

'''
rev 2016/07

Creating a New Trilinos (Release) Branch with GIT

Note: these instructions have been updated to use gitdist from the copy of
tribits inside of the Trilinos repo. All of the commands assume that you will
need the full path to gitdist, however, if you have setup your PATH or an alias
that may be unnecessary. Also, as of the time of

[2017-07-19 17:17] dridzal commented on #1514
A few clarifications.

1) @mhoemmen : Unfortunately, this is not about adding a new dependency.  We haven't changed anything in how we use Tpetra, Amesos2, Ifpack2, MueLu, etc.  @dpkouri has informed me that within the last few weeks the memory requirements for building went up significantly.  So I think that this is in fact a case of the new stack suddenly causing larger build times.  He used to

[2017-07-19 18:20] dridzal commented on #1514
Another data point:  My Intel 17.0.1 build is taking approximately 100GB of memory with make -j20.

[2017-07-19 18:32] jbcarleton commented on #1429
Added commits to pull request. IOSSConnManager now suports arbitrary FieldPatterns (not just NodalFieldPatterns).
@rppawlo @eric-c-cyr

[2017-07-19 18:34] dridzal commented on #1514
Hmm, it looks like ETI is disabled by default for the builds that are submitted to CDash ... this is strange.  @bartlettroscoe , could you please verify this?  I searched through the 'Notes' on CDash for my builds and they first say

Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=OFF

and then

Trilinos_ENABLE_EXPLICIT_INSTANTIATION-ADVANCED:INTERNAL=1

I'm not sure what the difference is.  In any ca

[2017-07-19 19:01] jwillenbring commented on #1517
@trilinos/framework

[2017-07-19 19:16] bartlettroscoe commented on #1493
The checkin-test-sems.sh push was completed (using the remote pull/test/push process).  The generated `DID PUSH` email is shown below.

Now we just need to watch the next CI build to make sure that no tests have gone missing (and in fact we can expect to see some new Ifpack and MueLu tests.

----

[code]

[2017-07-19 19:32] mhoemmen commented on #1514
@dridzal wrote:

Thanks for the offer of help!  If you still have the issue after resolving whether ETI is actually enabled, then you would have to bisect between "last known good" and "when you noticed it went bad," to find some range of possibly relevant commits.

This could relate to #1300 or #1444.

[2017-07-19 19:36] mhoemmen commented on #1514
@dridzal wrote:

I think what Ross is trying to say, is that in general, hiding solver package includes from ROL is a good idea for reducing build times.  For example, if you know that an example needs a solver, and the example is not templated (examples really shouldn't be; they need to build, right?), then you can wrap all solver calls in your own interface, that is declared in a .hpp file and d

[2017-07-19 19:49] bartlettroscoe commented on #1514
Exactly!  Thanks @mhoemmen!

I predict you will see a huge reduction in build times and memory consumption for these examples if you use a factory like Stratimikos::DefaultLinearSolverBuilder.  And the examples should be quite a bit shorter as well.

[2017-07-19 19:51] nschloe opened #1518 "build tpetra without tpetraclassic?"
To work around the effect of #933, is it possible to build Trilinos with Tpetra, but not TpetraClassic? Right now these two seem to be tied together.
[code]

[2017-07-19 20:22] mhoemmen commented on #1518
No.  Just leave it.  "TpetraClassic" is just a couple header and source files.  I haven't had time to merge it with TpetraCore, and nobody else offered to help.

[2017-07-19 20:23] mhoemmen commented on #1518
@trilinos/tpetra

[2017-07-19 20:23] #1518 closed

[2017-07-19 20:25] mhoemmen commented on #1514
Using Stratimikos is good.  However, even if you choose not to use Stratimikos, it would still pay to hide solver includes behind an opaque interface.  This would have the effect of protecting your example from whether or not (the rest of) Trilinos uses ETI.

[2017-07-19 20:45] dridzal commented on #1514
I've confirmed that my build, which was a slight modification of the standard CI build did not use ETI.  It was a typo in the SET_DEFAULT( EXTRA_CONFIGURE_OPTIONS ) block of one of the setup files.  I've fixed this, and ... **with ETI the memory footprint is the same, 60GB !!!**  Check this link to confirm that all relevant packages have ETI enabled:

https://testing.sandia.gov/cdash/viewNotes.php

[2017-07-19 21:14] mhoemmen commented on #1514
First, all the solvers should implement Trilinos::Details::LinearSolver (see teuchos/remainder/src/).  If they don't, then we need to fix that.  Your Solver class then only needs one of these:
[code]
You may even forward declare LinearSolver, if you don't want to include its header.

Second, does your solver class really need to be templated?  If not, then you can hide the complete implementation

[2017-07-19 21:15] mhoemmen commented on #1357
Fixed now in develop.

[2017-07-19 21:15] #1357 closed

[2017-07-19 21:16] mhoemmen commented on #1357
The implementation of the fix just recomputes getNodeNumEntries() as needed.  This only requires actual computation (rather than a simple lookup) if the graph / matrix is DynamicProfile.

[2017-07-19 21:17] mhoemmen commented on #1450
I'm closing this issue.  Please feel free to reopen if the question is not answered, or to open a new issue if you have a new question.

[2017-07-19 21:17] #1450 closed

[2017-07-19 21:36] bmpersc commented on #1517
The branch has been made from master and develop has been released to developers.

still to do:
Create doxygen
setup testing in jenkins for 12.12
release the 12.12 branch back to developers for bug fix releases.
Create release notes
setup 12.12 download page.

[2017-07-19 22:05] dridzal commented on #1514
I don't understand why this will reduce the memory footprint.  Compiling any single example of the 20+ examples that use the solver class takes about 3GB of RAM.  Times 20 gives you 60GB.  There is no re-instantiation ... I think, so 3GB is the minimum for the new solver stack.  Or are you saying that this is really a combined compile/cmake issue, where we should build a single object file that is

[2017-07-19 22:43] aprokop commented on #1516
@CamelliaDPG You should probably find a PR against  kokkos/kokkos.

[2017-07-20 00:17] dridzal commented on #1514
I'll work on having an explicit instance of this class.

Still, it is worrisome that a single new solver stack object takes 3GB of RAM to compile.  It may be useful to have a simple file that includes Tpetra, MueLu, Amesos2, Ifpack2, and to track its memory use and compile time.  What we believe happened in the last month is that the memory footprint went from about 1GB to 3GB for this single obje

[2017-07-20 11:02] nschloe commented on #860
Is this really related to `unistd.h`? It seems that `ML_Operator_Copy_Statistics` is defined in `packages/ml/src/Operator/ml_operator.c`, but never declared in a header, so the compiler doesn't know about it in `packages/ml/src/Coarsen/ml_aggregate.c`.

[2017-07-20 14:37] bartlettroscoe commented on #1493
The next CI iteration ran with the branch merged to 'develop' yesterday shown here:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3010022

That shows no tests were added or removed since the prior CI iteration (not sure why my local testing showed extra tests for Ifpack and MueLu in https://github.com/trilinos/Trilinos/pull/1504#issue-243417445).

@jmgate, let me know if

[2017-07-20 15:05] jmgate commented on #1493
Yup, the meta-build completed successfully without specifying any Trilinos flags.  Thanks @bartlettroscoe.

[2017-07-20 15:05] #1493 closed

[2017-07-20 15:31] mhoemmen commented on #1514
The more stuff you include and build in a single .cpp file, the more memory you will take in that file.  The point is to build less code per .cpp file.  That's why we went through so much effort splitting up instantiations into separate .cpp files.  "[A] simple file that includes Tpetra, MueLu, Amesos2, Ifpack2" is exactly the problem ;-) .  You can drive all those solvers from MueLu anyway, so th

[2017-07-20 16:34] dridzal commented on #1514
Sure, so can you point me to an example of how to organize my includes to minimize object code bloat -- beyond having an explicit instance, which I'm working on now?  If I, as a Trilinos developer, can't figure out a "good" way to use these solvers, then how can we ever expect end users to figure it out on their own.  Just to be clear, I need:

(1) run-time switching between different solvers, bec

[2017-07-20 17:04] mhoemmen commented on #1514
I'm kinda busy now but send me a P/T and give me a schedule, and I can work with you on this.

[2017-07-20 18:32] atoth1 commented on #1501
@mplooster Would you be able to try out this patch to see if it cleans up these build errors? I'd like to know whether this is actually fixes the issue before I push it in.
[0001-Thyra-Prepending-namespace-to-applyOp-calls-fix-for-.txt](https://github.com/trilinos/Trilinos/files/1160507/0001-Thyra-Prepending-namespace-to-applyOp-calls-fix-for-.txt)

[2017-07-20 20:21] mplooster commented on #1501
@atoth1 on my local machine, that seems to clean up the build errors.

[2017-07-20 21:20] CamelliaDPG opened #1520 "More'-Thuente Documentation Indicates Wrong Keyword"
In the doxygen for `NOX_LineSearch_MoreThuente.H`, the following can be found:

[code]

Instead of `More'-Thuente2`, this should be `More'-Thuente` (as documented elsewhere, and confirmed by inspection of the code in `NOX_LineSearch_Factory.C`).

[2017-07-20 22:45] rppawlo commented on #1250
@eric-c-cyr for efficient point response evaluation, I think we may need this for indexing cells. Let's discuss at Wed morning panzer design meeting.

[2017-07-20 22:47] rppawlo commented on #864
The probe class is being refactored to be more efficient. Renaming this ticket to cover refactor and testing.

[2017-07-20 22:49] rppawlo commented on #864
May require #1250

[2017-07-21 00:22] bartlettroscoe commented on #1493
FYI:  When I tried to apply the git format-patch file for STK to the sierra.base repo, it failed because the directory stk/stk_classic/ does not even exist over there!  Therefore, to apply the patch, I had to manually delete the `diff` block for the file stk/stk_classic/stk_percept/CMakeLists.tx and then it let me apply it with:

[code]

I just push this as the SIERRA commit:

[code]

Now when STK

[2017-07-21 03:04] atoth1 commented on #1501
Great, I'll get this pushed in and monitor the dashboard to see if things get fixed there.

[2017-07-21 03:14] Ahdhn commented on #1515
I tried with VS2017 but still I am getting few errors and it did not compile. I gave it a shot with cygwin (with cuda enabled). However, cygwin actually uses VS compiler (it asks for _cl.exe_ if it is not present in the PATH). I guess this is because it replies on the cuda toolkit that is installed on the host Windows.

I am not running the test remotely on Linux machine. Thank you all for your he

[2017-07-21 16:07] mhoemmen commented on #1515
@Ahdhn wrote:

Please feel free to open a new issue.  Also, consider trying the master branch of Trilinos, not a release.  There may be improvements.

[2017-07-21 20:09] atoth1 commented on #1501
@bartlettroscoe I just tried the checkin-test script, and I guess I don't have push access for this. Should I set up a PR for this, or can I get added to the list for push access?

[2017-07-21 23:27] aprokop opened #1523 "Tpetra: resumeFill+expertStaticFillComplete change triangular status"
@trilinos/tpetra @csiefer2
[code]
results in
[code]

I would have assumed that calling `expertStaticFillComplete` would just modify the importers/exporters, and not touch the internal state of the graph/matrix. But this does not seem to be the case.

I think the problem is that `resumeFill` resets `lowerTriangular_` and `upperTriangular_`, however it only calls `computeGlobalConstants()` and not `

[2017-07-23 13:28] bradbell opened #1524 "g++ -Wconversion warnings"
Compiling a simple Sacado example using the -Wconversion flag with g++ yields many warnings.

Example 1:
include/Teuchos_ScalarTraits.hpp:180:49: warning: conversion to ‘char’ from ‘int’ may alter its value [-Wconversion]
   static inline char random() { return std::rand(); } // RAB: This version should be used for an unsigned char, not char
[code]

[2017-07-23 14:10] aprokop commented on #1524
@trilinos/teuchos

[2017-07-23 19:05] mhoemmen commented on #1523
Hm... Tpetra's support of post-fillComplete structure changes has always been iffy.  Does MueLu use any of that at all?  I would love to get rid of it and just force resumeFill not to reset any constants if the matrix has a static graph (which it does if fillComplete was called on it at least once before).

[2017-07-23 19:05] mhoemmen commented on #1524
@trilinos/sacado

[2017-07-24 15:03] ibaned commented on #1524
This is a more general issue of how to include Trilinos headers in projects that use stricter warning flags than Trilinos does in its testing.

I'm not sure what build system you're using, but one thing to try would be to include the Trilinos `include` directory with `-isystem` instead of `-I`:

[code]

I'm not sure if you're compiling this example using TriBITS or by itself outside of Trilinos, b

[2017-07-24 20:46] ibaned opened #1526 "Anyone using YAML literal block scalars?"
@trilinos/muelu

I'm assuming that aside from Albany, MueLu is the only active user of Teuchos YAML ParameterList functionality.

Assuming this is true, I'm wondering whether MueLu makes any use of the "literal scalar" feature, which you can see below is being tested in Teuchos:

https://github.com/trilinos/Trilinos/blob/master/packages/teuchos/parameterlist/test/yaml/Match4.yaml#L4
[code]

The re

[2017-07-24 20:51] tawiesn commented on #1526
@csiefer2 might know more.

[2017-07-24 21:03] brian-kelley commented on #1526
@ibaned That's a sample of an ALEGRA input deck, quoted verbatim in a multi-line string. That feature isn't used anywhere in MueLu, but I think ALEGRA and Drekar would need it.

[2017-07-24 22:48] ibaned commented on #1526
Thanks @brian-kelley, I'll follow up with developers of those codes.

[2017-07-24 23:30] jmgate opened #1527 "panzer::STK_Interface Write Global Variables"
`panzer::STK_Interface::writeToExodus(double timestep)` writes field output to an Exodus file for each timestep, but there is no associated ability to write arbitrary global (not associated with a node, element, etc.) scalar or vector quantities to the Exodus output file.  Such a capability is available through the `StkMeshIoBroker`, which `STK_Interface` uses behind-the-scenes.  It would be treme

[2017-07-24 23:46] dridzal commented on #1514
By splitting solver.hpp into (1) solver.hpp without the Trilinos solver includes, (2) solver_def.hpp with the includes, and (3) solver.cpp with ETI for <double>, I reduced the compiler memory footprint from 60GB to less than 30GB.  Thanks to @ambrad and @mhoemmen for help!

[2017-07-24 23:46] #1514 closed

[2017-07-25 13:37] ibaned commented on #1526
Okay, it looks like we probably want to keep this.

[2017-07-25 13:37] #1526 closed

[2017-07-25 13:51] ibaned commented on #1516
@aprokop is right. I've moved this to kokkos/kokkos#975.

I'll go ahead and close this one.

[2017-07-25 13:51] #1516 closed

[2017-07-25 13:54] ibaned opened #1528 "2feb2e75 broke Tpetra build"
@trilinos/tpetra

[code]

http://my.cdash.org/viewBuildError.php?buildid=1258230

Working on a fix PR now...

[2017-07-25 13:59] ibaned commented on #1528
the PR is #1529

[2017-07-25 14:50] tawiesn opened #1530 "MueLu: problem with user parameter handling in MueLu Scaling Driver"
Trying to set user parameters through the command line for MueLu_Driver results in errors like

The problem is, that the command line processor is defined in main, but the problem-specific parameters are set in the main_ routine. Nevertheless, the program runs fine, but the error message is misleading.

[2017-07-25 14:52] pwxy commented on #1530
This is no rush as the MueLu_Driver runs fine (other than the error).  I'll just ignore the error.

[2017-07-25 15:04] aprokop commented on #1530
@tawiesn Wait, it should work. We disable throw on unrecognized options in `main`.

[2017-07-25 15:06] aprokop commented on #1530
Oh, wait, I did not notice that the Driver was rewritten.

[2017-07-25 15:10] #1528 closed

[2017-07-25 15:12] aprokop commented on #1530
I think the fix is simple: add
[code]
in `MueLu_Test_ETI.hpp` before the `parse` command. I'll do a quick PR.

[2017-07-25 15:19] overfelt opened #1531 "Thyra::get_Epetra_MultiVector can hang in parallel if compiled with TEUCHOS_DEBUG"
Thyra in Trilinos 12.11 (Dev) can hang when compiled with TEUCHOS_DEBUG defined and run on 4 processors.  The following gtest code demonstrates the issue:
[code]

[2017-07-25 15:30] ibaned commented on #1531
@trilinos/thyra

[2017-07-25 15:54] mhoemmen commented on #1531
@overfelt I edited your post just to change the single backquotes to triple backquotes, so your post would format source code correctly.

[2017-07-25 15:56] mhoemmen commented on #1514
Thanks @ambrad ! :D

[2017-07-25 16:05] tawiesn commented on #1530
@aprokop: i've tried it and it makes the "error" to a "warning", but the output is still there. It seems the problem is that we have to add additional options after we have called the parse routine in the outer main routine (from MueLu_Test_ETI.hpp). Not sure what the best solution would be.

[2017-07-25 16:10] aprokop commented on #1530
The output can be disabled by changing `parse` to take in the 3rd `NULL` argument.

[2017-07-25 18:39] bartlettroscoe commented on #1304
The standard CI build was broken yesterday with build failures in Ifpack2 shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3018635

with the new commits pulled in this CI iteration shown at:

* https://testing.sandia.gov/cdash/viewNotes.php?buildid=3018636##note2

which shows one commit:

[code]

The push logger I set up (see #1362) showed this push:

[code]

As sh

[2017-07-25 18:47] bartlettroscoe commented on #1304
NOTE: We may not see any more ROL example build failures on  `Linux-GCC-4.7.2-CONTINUOUS_MPI_OPT_DEV_SHARED` build run on `sadl30906.srn.sandia.gov` described  [above](???) because ROL examples now using ETI (see #1514).  We will watch for another month or so and see.

[2017-07-25 20:15] mhoemmen opened #1534 "MueLu: Uninitialized variable build warning in VariableDofLaplacianFactory"
@trilinos/muelu
[code]

[2017-07-25 21:46] bartlettroscoe commented on #1304
@dridzal, did the change you mention in #1514 get into the Trilinos 'develop' branch?  We saw another internal compiler error for ROL just earlier today:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3020624

[2017-07-26 01:50] gsjaardema commented on #1474
There is a fix in the queue for this.  It was fixed in github-seacas and is making or has made its way over to Trilinos

[2017-07-26 02:20] mhoemmen commented on #1304
Does ROL still require GCC 4.7.2?  Kokkos and Tpetra have since moved on to a minimum of GCC 4.9.3, if I remember right.

[2017-07-26 04:59] mhoemmen commented on #1523
@aprokop If you make those changes, do all the tests pass, including downstream tests?

[2017-07-26 13:22] aprokop commented on #1523
@mhoemmen No. This allowed passing of Ifpack2 tests, but crashed Nalu during Tpetra matrix assembly.

[2017-07-26 14:30] csiefer2 commented on #1523
As you noted, ESFC triggers recomputation of the constants, etc.

[2017-07-26 17:21] kruger commented on #1400
@dsunder Can we have a phone call to discuss this?

[2017-07-26 17:46] mhoemmen opened #1536 "Tpetra: Add CrsGraph & CrsMatrix constructors that take 4 Maps and a local graph / matrix"
@trilinos/tpetra Requested by @aprokop .  See #1525.

@aprokop , at the point you would want to call these constructors, would you also happen to have the Import and Export objects if they are needed?  If so, the constructor should take them, to avoid reconstruction.

[2017-07-26 17:52] mhoemmen commented on #1523
@csiefer2 How would you propose fixing this?  What would make sense in the context of ESFC?  If the matrix or graph has been fill complete before, then the structure should be fixed.

[2017-07-26 17:55] csiefer2 commented on #1523
Do we actually enforce that now?  What, exactly does resumeFill allow you to do?  I never use it.

[2017-07-26 17:56] mhoemmen commented on #1523
"Enforce" would be a strong word.  MueLu used to depend on the "don't optimize storage" case of Crs*, and I think it still does, but I'm not even sure how that works, given that the column Map is fixed at first fill complete.

[2017-07-26 17:58] csiefer2 commented on #1523
As per the doxygen, resumeFill allows you to change structure.

So it really should nuke all the constants.

[2017-07-26 19:15] dridzal commented on #1304
@mhoemmen : ROL is at GCC 4.9.3.  The core code will compile with GCC 4.4.x, but certain examples and adapters require later versions (nothing beyond 4.9.3).

@bartlettroscoe : The change in #1514 is in the ROL-Trilinos develop branch, however it hasn't been merged yet with the Trilinos develop branch.  There was an additional change that reduced memory requirements even further.  I hope that this

[2017-07-26 19:16] aprokop commented on #1536
@mhoemmen No, I do not construct import/export. The only thing I have are 4 maps: 2 permuted ones (row and column) and 2 original ones (domain, range). I would hope Tpetra would take care of everything else.

Do you want me to do a PR (WIP) for this issue? I would simply cherry-pick some commits from #1525.

[2017-07-26 19:38] bmpersc commented on #1393
I'm not 100% sure, but I believe this is related. It looks like the test Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4 is also failing randomly on the 4.8.4 clean build. It seems far less likely to happen, but it has happened a handful of times in the last month.

[2017-07-26 19:40] mhoemmen commented on #1536
@aprokop wrote:

Could you please?  Thanks :-) !  It should be easy to add a test: Come up with an example with four distinct Maps, then build two matrices, one with the old (rowMap, colMap, local matrix) constructor and one with the new constructor.  Then, fill complete both, and test sameness (not pointer equality, we don't necessarily promise that) of Maps.

[2017-07-26 19:41] mhoemmen commented on #1523
@csiefer2 wrote:

That would break the "reuse graph, change values" common use case.

[2017-07-26 20:19] ibaned commented on #1304
I think the Trilinos CI build is actually using GCC 4.8.4, so that is the practical minimum version for important Trilinos packages.

[2017-07-26 20:46] brian-kelley opened #1537 "Tpetra: CUDA 7.5 build error with Kokkos lambda"
@trilinos/tpetra
I am working on a Tpetra CrsMatrix addition kernel using Kokkos. I am trying to get the algorithm working on geminga with CUDA enabled. Building Tpetra fails however (sortCrsEntries in Tpetra_Import_Util2.hpp):
[code]
This is with CUDA 7.5.18, so I'm not surprised that a Kokkos lambda fails to compile, but I know it should be possible to build Tpetra with that version. Should this

[2017-07-26 20:52] mhoemmen commented on #1537
Could you please upgrade to CUDA 8 and try again?

[2017-07-26 20:52] mhoemmen commented on #1537
In general, we are phasing out support for CUDA 7.5.

[2017-07-26 20:53] pwxy opened #1538 "Zoltan2: Possible scaling issue with MueLu/Z2multijagged for MueLu coarse level repartitioning?"
I observed the following scaling of "MueLu: Zoltan2Interface: Zoltan2 multijagged (sub, total, level=2)"
(the time for Zoltan2::PartitioningProblem->solve())
on the LLNL IBM BG/Q platform for strong scaling for the Drekar Poisson test case.
Started with a 2.4B row matrix, but Zoltan2 reparitioning not called until after two levels of MueLu aggregation
(~700x factor reduction).  So have the case wi

[2017-07-26 22:26] ibaned commented on #1537
Also, be sure to set the following in your CMake configuration:
[code]
If Tpetra is starting to rely on lambdas, we may want to add a CMake check to ensure that boolean is on when Tpetra is built with CUDA support.

[2017-07-26 22:28] ibaned commented on #1537
Looking at your script you've thrown `-DKOKKOS_CUDA_USE_LAMBDA=1` into `CMAKE_CXX_FLAGS`, which is a dubious way of trying to achieve the same effect.

[2017-07-26 23:03] eric-c-cyr opened #1539 "Panzer: Add unique identifiers to worksets"
It would be good to have a unique identifier for each workset. This would be constructed from the WorksetDescriptor to be locally unique (with a set of Worksets defined by the descriptor). If you want a globally unique set of worksets, they could be constructed by a unordered_map.

[2017-07-26 23:54] mhoemmen commented on #1537
I think that makes sense.  We already have been requiring CUDA 7.5, and Sierra only tests with CUDA >= 8.0.

[2017-07-27 00:08] mhoemmen commented on #1523
btw `CrsMatrix::resumeFill` does not clear either local or global constants if `isStaticGraph()` returns true, that is, if `myGraph_` is null.  However, `myGraph_` never seems to become _not_ null.  This should imply that it is possible to modify the graph after first fill complete, if the matrix owns its graph.  However, `CrsGraph::resumeFill` only clears local and global constants.  It does not

[2017-07-27 11:59] looooo opened #1540 "PyTrilinos: compiling with conda: ../../util/copyWithCMakeSubstitutions.py: not found"
reported problem:
[code]
https://github.com/trilinos/Trilinos/blob/master/packages/PyTrilinos/src/scripts/CMakeLists.txt#L46
The file `copyWithCMakeSubstitutions.py` was already created, so I think the path is wrong somehow.

Maybe this is conda specific. This is the first line of my `copyWithCMakeSubstitutions.py`:

[code]

Running `./copyWithCMakeSubstitutions.py` manually result in:
[code]
To m

[2017-07-27 12:52] looooo commented on #1540
This patch solves my issue. Maybe someone else can test it.
https://github.com/looooo/conda_recipes/blob/master/trilinos/python.patch

[2017-07-27 13:10] bartlettroscoe commented on #1304
We are still seeing the ROL examples crashing the build for the CI build `Linux-GCC-4.7.2-CONTINUOUS_MPI_OPT_DEV_SHARED` run on `sadl30906.srn.sandia.gov` shown as recently morning at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3022470

Therefore, it is time to disable ROL in this CI build.  But we never see this build failure in the CI build `Linux-GCC-4.8.4-MPI_RELEA

[2017-07-27 13:19] bartlettroscoe opened #1541 "Framework: Upgrade the buld Linux-GCC-4.7.2-CONTINUOUS_MPI_OPT_DEV_SHARED to GCC 4.8.4 or disable"
**CC:** @trilinos/framework

**Description:**

The build `Linux-GCC-4.7.2-CONTINUOUS_MPI_OPT_DEV_SHARED` with configure output shown at:

* https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3022476

is still using GCC 4.7.2 shown by:

[code]

Trilinos is no longer supports C++11 builds of Trilinos with GCC versions less than 4.8.4 (see #1453).  Therefore, this build needs to be upgraded t

[2017-07-27 13:56] aprokop commented on #1540
@wfspotz

[2017-07-27 15:22] tawiesn opened #1542 "MueLu: floating point exception in CoordinatesTransferFactory"
Reported by Albany developers.

[Input deck](https://github.com/gahansen/Albany/blob/master/tests/small/FELIX/FO_AIS/inputMueLuShort3.xml)

[2017-07-27 15:23] rppawlo commented on #864
Depends on #1539

[2017-07-27 15:35] mhoemmen commented on #1542
@trilinos/muelu

[2017-07-27 16:19] aprokop commented on #1530
Can we close this?

[2017-07-27 16:20] aprokop commented on #1534
Fixed in c4bea054526dd9e59c31c3df769797b9a6689492.

[2017-07-27 16:20] #1534 closed

[2017-07-27 16:22] aprokop commented on #1538
@trilinos/zoltan2 @trilinos/muelu

I wonder if rcb works well.

[2017-07-27 16:33] pwxy commented on #1530
Haven't had the chance to test this yet, but Andrey is always right.  Thanks Andrey.

[2017-07-27 16:33] #1530 closed

[2017-07-27 16:43] mhoemmen opened #1543 "Get Trilinos to build CUDA Clang-only"
Need Clang 4.0 and the CUDA 9 driver.

Request from @crtrott .

[2017-07-27 16:44] mhoemmen commented on #1543
This depends on SEMS installing Clang 4.0 and libraries built using Clang 4.0.

[2017-07-27 16:45] mhoemmen commented on #1534
Thanks!!! :D

[2017-07-27 17:00] rppawlo opened #1544 "Phalanx: Add new data layout with delayed sizing information"

[2017-07-27 17:01] rppawlo opened #1545 "Phalanx: add new static field without tag template parameters"

[2017-07-27 17:24] jwillenbring commented on #1541
@william76 Can you take a look at doing this? I know we are trying to also move the build and have not yet, but the 4.7.2 build isn't helping us anymore. We could just temporarily update the existing build to 4.8.4 otherwise too.

[2017-07-27 18:50] mhoemmen opened #1546 "Zoltan2 CUDA build error"
@trilinos/zoltan2

I get the following build error with CUDA 8.0 and GCC 4.8.4:
[code]

[2017-07-27 18:51] aprokop commented on #1536
@mhoemmen I cannot find a unit test for the existing constructor (2 maps + local matrix). Is there one? My hope was to copy-paste that one.

[2017-07-27 20:36] jmgate opened #1548 "Panzer: Forward Declarations in panzer Namespace"
Ensure forward declarations in header files are inside the `panzer` namespace.  Also ensure they're actually needed when included. @trilinos/panzer

[2017-07-27 21:27] jmgate commented on #615
The completion of this work is being tracked in #1521.

[2017-07-27 21:28] jmgate commented on #490
Moving this issue to In Review, lest it remain perpetually open.  We can file new issues for specific warnings in the future.

[2017-07-27 21:40] mhoemmen commented on #1536
The closest thing would be Lesson07, but I think it exercises the 2 Maps + three arrays constructor for CrsMatrix, not the 2 Maps + `local_matrix_type` constructor.

[2017-07-27 21:42] jhux2 commented on #1498
@trilinos/muelu

[2017-07-27 21:49] mhoemmen commented on #1505
I'm closing this until I see code that manifests the issue.  Please feel free to reopen at that point.

[2017-07-27 21:49] #1505 closed

[2017-07-27 22:07] jmgate commented on #17
Is this still an issue, or has it been solved?

[2017-07-27 23:10] brian-kelley commented on #1304
@trilinos/amesos2 If somebody familiar with Amesos2 could review and merge PR #1532, that would knock 3 of the 5 remaining test failures off the dashboard.

[2017-07-28 07:43] nschloe commented on #17
I tried the configuration from the original post and the build error doesn't occur anymore. Closing.

[2017-07-28 07:43] #17 closed

[2017-07-28 14:20] allevin opened #1549 "Pull Request Autotester will continue testing even if commit to PR occurs while testing."
The Pull Request Autotester (PRTester) checks that the latest SHA of the PR (source repo/branch) matches the SHA used to kick off the testing before merging to ensure that the PR has not changed.

This check is performed before reporting the SUCCESS/FAILURE status of the testing.  This way even if testing was a success, the PR will receive an ERROR comment in the PR stating that a commit occurred

[2017-07-28 17:39] bartlettroscoe commented on #1541
Since the CI build `Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_CI` run on `ceerws1113`  is covering a CI build, you could disable this other build until it gets updated.  I don't think there is a single example of a case where the `Linux-GCC-4.7.2-CONTINUOUS_MPI_OPT_DEV_SHARED` build caught a problem that the `Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_CI` build did not.

[2017-07-28 19:07] wfspotz commented on #1540
Interesting. I have been working on a PyTrilinos installer on conda-forge:

https://github.com/wfspotz/staged-recipes/tree/master/recipes/pytrilinos

I developed a very similar patch, although mine also fixes a test script.

[2017-07-29 00:27] slicer69 opened #1550 "Cannot disable Fortran compiler"
When trying to build Trilinos, I attempted to disable the Fortran compiler, using the example in the build documentation. When I run

mkdir build
cd build
cmake -DTrilinos_ENABLE_FORTRAN=OFF ../Trilinos/

I get the following error saying the Fortran compiler could not be found and cmake exits. This test should be skipped since I explicitly disabled the Fortran option.

-- The Fortran compiler iden

[2017-07-29 00:57] jhux2 commented on #1550
@slicer69 cmake is case sensitive.  The correct option is ```-DTrilinos_ENABLE_Fortran:BOOL=OFF```.   Which build documentation were you looking at?   It may need to be fixed.

[2017-07-29 11:26] ilovezfs opened #1551 "Look for SuiteSparse shared libraries too?"
https://github.com/trilinos/Trilinos/blob/f0350316239aaf41e8e6b82378612aaedf9cc72c/cmake/TPLs/FindTPLCholmod.cmake#L59

Currently Trilinos only looks for the static libraries from SuiteSparse, but the `make install` target in SuiteSparse does not install the static libraries, only the shared libraries.

In Homebrew, we're hacking around this for Trilinos by adding this to the SuiteSparse formula:

[2017-07-29 12:58] slicer69 commented on #1550
I copied the Fortran option from the INSTALL.rst file in the Trilinos documentation. It's under section 3 "Useful Options". https://github.com/trilinos/Trilinos/blob/master/INSTALL.rst

[2017-07-29 14:08] ibaned commented on #1550
@slicer69 I've just pushed commit c87326b6a58f587b72e0c50bb8fb662c54a5a7c9 to the develop branch which should fix the typo in the documentation. I believe one other person was bitten by this before you...
Thanks for pointing this out!

I'm going to close this issue assuming the new option worked for you and the documentation is fixed. If part of this isn't quite resolved, please reopen the issue.

[2017-07-29 14:08] #1550 closed

[2017-07-29 15:19] slicer69 commented on #1550
I tested the case-sensitive "disable Fortran" option you provided and can confirm it works. Trilinos now compiles for me. Thank you.

[2017-07-29 16:41] eric-c-cyr commented on #1539
Is it clear how to convert in both directions Kokkos::DynRankView <=> PHX::MDFields?

[2017-07-29 16:49] eric-c-cyr commented on #679
This is mostly done I think at this point. Though I wouldn't say the capability would extend naturally to the Phalanx evaluator sides of Panzer. @seamill do you agree? Can we close?

[2017-07-29 16:49] eric-c-cyr commented on #615
@jmgate We will close pending tests on Monday morning.

[2017-07-29 16:50] eric-c-cyr commented on #559
Was this fixed? Can we close

[2017-07-29 16:52] eric-c-cyr commented on #490
Closing this. We will have to go through this again periodically, but I think @jmgate has made progress for now.

[2017-07-29 16:52] #490 closed

[2017-07-29 16:54] eric-c-cyr commented on #281
@rppawlo This needs to be sent to Carlton for closure.

[2017-07-29 17:07] eric-c-cyr commented on #1539
Also, I'm refactoring the PointValues2 class some to be more consistent with BasisValues2 and IntegrationValues2. As part of that I'm going to collapse the NODE tag into the BASIS tag. Anyone see a problem with this? Clearly this will require testing.

[2017-07-29 18:00] eric-c-cyr commented on #1539
In retrospect, I don't have to do change NODE to BASIS, though I could if people think its a good idea.

[2017-07-29 19:28] VictorEijkhout opened #1552 "sierra::demangle"
[code]

Here's the culprit:

[code]

Who was supposed to put that symbol in a library?

The log file is 40M. Have you increased the size limit on attachments?

Victor.

[2017-07-29 19:31] VictorEijkhout commented on #1552
Anyway. There's the log file, zipped.

[trilinos.zip](https://github.com/trilinos/Trilinos/files/1185174/trilinos.zip)

[2017-07-29 19:41] ibaned commented on #1552
@trilinos/stk

@VictorEijkhout is this coming from an actual compilation or link error? what is the problem caused by the symbol being left undefined?

[2017-07-30 01:43] VictorEijkhout commented on #1552
On Jul 29, 2017, at 2:41 PM, Dan Ibanez <notifications@github.com<mailto:notifications@github.com>> wrote:

what is the problem caused by the symbol being left undefined?

It trips up the installation of dealii. At some point during the deal installation it tries to link an application, which fails due to the undefined symbol.

Victor.

[2017-07-30 02:37] mhoemmen commented on #1551
@trilinos/framework

[2017-07-30 02:43] mhoemmen commented on #1552
Just curious -- does deal.II need STK?

[2017-07-30 02:52] VictorEijkhout commented on #1552
On Jul 29, 2017, at 9:43 PM, Mark Hoemmen <notifications@github.com<mailto:notifications@github.com>> wrote:

Just curious -- does deal.II need STK?

I have no idea.

In fact, I have no idea why most of the parts of my triilinos install are there, except that what I’m installing is the sum total of all user requests plus their dependencies.

Victor.

[2017-07-30 15:46] mndevec commented on #1546
Thanks for the report Mark.
Does the configuration enable OpenMP in Zoltan2?

[2017-07-31 13:29] rppawlo commented on #1539
I like the idea of changing node to basis. One less branch for possible divergence/code duplication.

[2017-07-31 14:00] ibaned opened #1553 "Albany slower after Trilinos changes on 27 July 2017"
Cross-posting gahansen/Albany#159

Repeating content for convenience (@ikalash wrote):

It appears some commits to develop branch Trilinos on 7/27/17, I believe most likely to Tpetra, caused my CISM-Albany nightly tests to run much slower, e.g.:

7/28/17:
dome_5years | Passed | 13s 750ms
ross_diagnostic | Passed | 2m 51s 170ms
halfar_100years | Passed | 18m 58s 550ms
confined-shelf_diagnostic | Pa

[2017-07-31 15:24] eric-c-cyr commented on #1539
Alright @rppawlo, my next merge commit will do this. Basically, NODE will be aliased to BASIS. We can do the sed script to totally eliminate it after that.

[2017-07-31 15:30] william76 commented on #1393
I'll disable the Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4 in the parameterized build since it's also showing up unstable on the [4.9.3 build in the clean track](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-07-31).

[2017-07-31 15:30] eric-c-cyr commented on #1539
There are a few things to be done first before the core of this issue:

- [ ] Add point descriptor
- [ ] Convert point values to be more like basis values (no longer dependent on a templated array type, going straight to MDField)
- [ ] Add point values to workset for evaluation of basis points
- [ ] Add unique identifier to workset

[2017-07-31 16:05] brian-kelley commented on #1537
I switched to CUDA 8.0.44, and now there's a different error on the same lambda:
[code]

[2017-07-31 16:08] mhoemmen opened #1556 "Tpetra: Fix PackTraits, line 250"
@trilinos/tpetra

See #1535 discussion: line 250 of `Tpetra_Details_PackTraits.hpp` should read `const T& val = outBuf(0);`.  I'll fix this for now.  It may cause some troubles when merging in @tjfulle 's PR #1535, but it's broken and I need to fix it.  Thanks @tjfulle for pointing this out!

[2017-07-31 16:26] mhoemmen commented on #1537
@brian-kelley I'll send you my `do-configure` script for CUDA builds.  What host compiler are you using?

[2017-07-31 16:44] mhoemmen commented on #1546
@mndevec wrote:

Gladly! :-)

Not explicitly, but it looks like Zoltan2's OpenMP support got turned on implicitly.  This is a CUDA build with _only_ the CUDA Node type enabled, but the host compiler has OpenMP turned on.  See full list of related CMake variables below.
[code]

[2017-07-31 16:50] brian-kelley commented on #1537
@mhoemmen I'm using GCC 4.9.3 with OpenMPI 2.0.1.

[2017-07-31 18:19] mhoemmen commented on #1537
@jhux2 I would prefer not to post it unredacted but I'll be happy to e-mail it to you.

[2017-07-31 18:23] mhoemmen commented on #1553
@ibaned Could you post a range of commits on develop?  Merges make that a little bit challenging.  A Kokkos merge and MueLu changes happened in the date range, so those could also be issues.

[2017-07-31 18:25] mhoemmen commented on #1556
I'm running check-in tests now.

[2017-07-31 18:43] mhoemmen commented on #1556
I just pushed a fix to develop.

[2017-07-31 18:43] #1556 closed

[2017-07-31 18:54] ibaned commented on #1553
I'll work with @ikalash to get you that info ASAP

[2017-07-31 19:08] tawiesn commented on #1542
The problem only occurs in the RELEASE version of Trilinos.

[2017-07-31 19:27] ibaned opened #1557 "Change LOCA Stepper start/end time at runtime"
@trilinos/nox

This question is from @lxmota: is there a straightforward way to change a LOCA Stepper's start and end time via C++ interfaces at runtime, so the continuation stepper/solver can be reused over a different range?

[2017-07-31 19:46] jmgate opened #1558 "const on stk::util::ParameterList::begin() and end()"
Pretty sure the following lines in `ParameterList.hpp`

[code]

need to become

[code]

I'm being forced to work with a non-`const` `ParameterList` when it really should be `const` in order to get the code to compile.  For instance

[code]

results in

[code]

[2017-07-31 19:58] tawiesn commented on #1542
The problem is random, i.e., it is crashing with a certain likelihood in a certain part of the CoordinatesTransferFactory

[2017-07-31 20:04] ibaned commented on #1537
try only using one dash in front: `-expt-extended-lambda`. this is a really weird inconsistency with CUDA. later versions accept the double dash, but some versions of `nvcc_wrapper` don't, anyway its a mess

[2017-07-31 20:10] brian-kelley commented on #1537
@mhoemmen I have the checkin test script doing a configure/build/test based on your script (it's in the build right now, so that's a good sign). @ibaned If that fails during the build or at runtime I'll try your suggestion with my own configure script.

[2017-07-31 20:11] mhoemmen commented on #1537
@brian-kelley Note that my CUDA build turns off the Serial Node.  You could also try modifying my build to enable the Serial Node as well as the Cuda Node, to see if that manifests the error.

[2017-07-31 20:26] mhoemmen commented on #1558
@trilinos/stk

[2017-07-31 20:26] mhoemmen commented on #1553
Thanks @ibaned !  I've been making changes to Tpetra recently to simplify the insides, and don't expect big performance changes, but there's always the possibility of surprise :-) .

[2017-07-31 20:28] etphipp commented on #1557
Not really.  You can call the reset() method on the stepper, which will allow you to set a new start and stop value in the parameter list, but that isn't much different than creating a new stepper from scratch.

[2017-07-31 20:28] mhoemmen commented on #1552
@VictorEijkhout Try turning off STK (`Trilinos_ENABLE_STK:BOOL=OFF`) for now.

[2017-07-31 21:02] ibaned commented on #1557
Would it be possible to add this as a feature?

[2017-07-31 21:13] tawiesn commented on #1542
Ok, looking at the Coordinates on the coarser levels i see suspicious numbers (extremely large or small numbers) and occasionally a NaN. This explains the floating point exception. Trying to find out where these numbers are coming from...

[2017-07-31 21:53] brian-kelley commented on #1537
@mhoemmen I think your script is working. I now get a build error in my own functor where Kokkos and Tpetra each have their own std::complex wrapper which are incompatible with each other (I'm trying to add them). So fixing that's up to me, and I think everything else is working. Thanks!

[2017-07-31 21:53] #1537 closed

[2017-07-31 23:09] mhoemmen opened #1560 "Tpetra::MultiVector: Make getVector & getVectorNonConst reuse comm buffers"
@trilinos/tpetra

This should avoid some issues with the cost of GPU allocations.

This is OK because it would be unwise to execute concurrent Export or Import operations with different subviews of a MultiVector.  Thus, it is safe to reuse communication buffers.  If we intend to support that use case, then we need to undo the fix for this issue.

[2017-07-31 23:41] mhoemmen commented on #1455
#1560 should help with this, by reducing getVector() overhead.

[2017-07-31 23:41] mhoemmen commented on #1470
#1560 should help with this, by reducing getVector() overhead.

[2017-07-31 23:44] mhoemmen commented on #1169
My recent commit db0e10c5bde639bafa3c991446bf73834983e918 adds a process-local GEMV wrapper.  I still need to use this in dot products.

[2017-07-31 23:45] mhoemmen commented on #340
@crtrott fixed this in kokkos-kernels a while back.

[2017-07-31 23:45] #340 closed

[2017-08-01 00:02] mhoemmen commented on #121
I'm closing this for now.  If somebody wants it, please feel free to reopen.

[2017-08-01 00:02] #121 closed

[2017-08-01 13:18] wil-england opened #1561 "ROL passes zero vector to Jacobian methods"
I have written a constraint class inheriting from `ROL::StdConstraint< real >` which implements both `applyJacobian` and `applyAdjointJacobian`. However, the effect of my constraints are not being reported to the algorithm due to the test vector passed to me by ROL (with which I multiply my Jacobian) is a vector of all zeros. It may be worth noting that our problem currently has ~20k constraints.

[2017-08-01 13:59] ibaned commented on #1561
@trilinos/rol

[2017-08-01 20:05] bartlettroscoe commented on #1400
Just had a meeting with @dsunder, @ibaned, @kruger and myself to discuss this.  We discussed a plan to basically go back and utilize the logic in kokkos/Makefile.kokkos to go from the compiler selected and the ARCH option and spit out a *.cmake fragment file that sets KOKKOS_CXX_FLAGS, KOKKOS_LDFLAGS, etc. and then a CMake build will just use those.

@kruger will write up the more detailed plan in

[2017-08-01 20:25] mhoemmen commented on #1088
I'm working on this now.  The idea is to link up with @tjfulle 's work on thread-parallel CrsMatrix pack and unpack, and then get rid of the "old" DistObject interface for good.

[2017-08-01 20:50] tawiesn commented on #1542
Added more checks for memory access. Still get random FPE. Interesestingly, i run the same code with drekar (Epetra branch) without any problems also in a release version. Could be that there is a problem with the underlying Tpetra routines.
There seems to be a problem with accessing/setting multivector data through the getData/getDataNonConst interface.

[2017-08-01 20:53] #480 closed

[2017-08-01 20:53] #650 closed

[2017-08-01 21:24] ibaned commented on #1542
@trilinos/tpetra as this is somewhere between MueLu and Tpetra

[2017-08-01 21:31] jjellio commented on #1542
@tawiesn You can trap the NaNs in gdb.

Looking at report, is this a 32bit build? Does this happen when 64 bit values are used? large/small values can often indicate overflow (which you can trap as well)
[code]

[2017-08-01 21:38] tawiesn commented on #1542
@jjellio Thanks for the comments. It is a 32bit build of Albany linked against a Release version of Trilinos. The problem does not appear when linking against a debug version.
Can gdb catch nans in a release version?

[2017-08-01 21:47] tawiesn commented on #1542
I double-checked the input values for the coordinates in the Xpetra::MultiVector (with an underlying Tpetra stack) on the finest level and all seems to be fine. On the coarser levels i create a new MultiVector, and use

to fill the coarse vector data with information from the fine level coordinates using code like this

I checked all the array indices XYZ and ABC and they should be fine.
Please no

[2017-08-01 21:53] ibaned commented on #1542
Where and how exactly do you detect the NaNs? after all the assignments are done? Inside the assignment statements?

[2017-08-01 21:53] jjellio commented on #1542
You could try running directly under GDB (without the above feenableexcept), I think it will still work.  The benefit for enabling things is you can enable exceptions that are not enabled by default (e.g., overflow). When you enable FPEs, you will get an exception the instant the illegal value is created (e.g., division by zero). GDB should hang and give a backtrace by default.

[2017-08-01 22:33] mhoemmen commented on #1560
I've got a fix ready; am just working on other issues too.

[2017-08-01 22:34] mhoemmen commented on #1537
@brian-kelley wrote:

Could you clarify?  Tpetra should just use Kokkos::complex.

[2017-08-02 00:00] mhoemmen commented on #1088
I'm getting some funny debugging results that suggest that SEMS' build of OpenMPI might not be CUDA-aware.  In particular, I'm getting segfaults when I give CudaSpace buffers to `MPI_Send`, but not when I give CudaUVMSpace buffers to `MPI_Send`.

[2017-08-02 00:04] mhoemmen commented on #1088
@crtrott @ambrad Have you noticed this?  Should it actually be OK to give CudaSpace buffers to MPI?

[2017-08-02 00:16] ibaned commented on #1088
I've been wondering how to detect at compile time if MPI is CUDA-aware... that seems increasingly relevant

[2017-08-02 01:17] bartlettroscoe commented on #1524
Converting from an 'int' to a 'char' is dangerous.   We should likely fix this and other examples by being more careful (and using explicit casts and other checks, etc.).  But fixing all of these warnings in Trilinos would be a lot of work.  Therefore, I would recommend that you try using `-isystem` as suggested above for now.

[2017-08-02 01:19] bartlettroscoe commented on #1501
@atoth1, I did not see this until now (not getting many GitHub notification emails).

You can submit as a PR and I will review and push for you.

[2017-08-02 01:27] bartlettroscoe commented on #1457
Why do you need to give it a specific SHA1?  Why is the tip of 'develop' not good enough for a CI server?

In any case, you can always just let Jenkins do the version control and then turn off updates in the TribitsCTestDriverCore.cmake code (just set `CTETS_DO_UPDATES=OFF`).

[2017-08-02 01:33] bartlettroscoe commented on #1155
As part of https://github.com/TriBITSPub/TriBITS/issues/154, the TRIBITS_CTEST_DRIVER() functioin will create a text file that will contain the URL to the result on CDash.  The python code can then read that file and print that URL in the GitHub comment.  It will not take long to do that so let me know when you want that to use.  (That is also needed for nice Travis CI output pointing to CDash).

[2017-08-02 03:28] mhoemmen commented on #1524
Converting the result of std::rand to char is probably harmless, but it would make sense for ScalarTraits to make the conversion more explicit there.

[2017-08-02 03:31] mhoemmen commented on #1088
@ibaned I would very much like that.  If it's _not_ CUDA-aware, it segfaults.  Not sure if I want Trilinos to get into the business of setting SIGSEGV handlers, though I think PETSc does or did that as a way to catch user error.

[2017-08-02 03:32] mhoemmen commented on #1560
I've got a fix ready; am just working on other issues too.

[2017-08-02 03:33] mhoemmen commented on #1088
OpenMPI 2.0.0 gives users a way to tell if it supports CUDA:

https://www.open-mpi.org/faq/?category=runcuda#mpi-cuda-aware-support

[2017-08-02 13:39] ibaned commented on #1088
Thanks for that link @mhoemmen !
Even if we can't set the default automatically yet, it certainly seems like portable code is going to need `#ifdef CUDA_AWARE_MPI` conditionals. I'd be interested in performance numbers if you find a proper CUDA-aware MPI and pass it device buffers.

[2017-08-02 13:59] ambrad commented on #1088
@mhoemmen, yes, giving CudaSpace pointers to MPI is valid if the MPI accepts it. Haven't used the SEMS MPI module for GPU builds.

[2017-08-02 14:04] jwillenbring commented on #1524
@MicheldeMessieres I wanted you to see this. No action item currently, but it relates to our conversation yesterday.

[2017-08-02 14:23] #615 closed

[2017-08-02 15:21] tawiesn commented on #1542
@ibaned I notice the NaNs after the assignment just by printing the numbers on the the screen. I did not use GDB because the example i have is rather large such that i need 16 procs for the simulation. I did not see the problem for smaller size problems that i can run in serial so far. Even for the 16 proc example there is a chance of roughly 1/10 that the simulation runs through fine without cras

[2017-08-02 15:34] mhoemmen commented on #1088
@ambrad wrote:

That might explain it.... How hard is it to configure, say, OpenMPI 2.0.x for CUDA?

[2017-08-02 15:49] brian-kelley commented on #1537
@mhoemmen The exact error was:
[code]
I haven't really looked into it yet since I'm now profiling and modifying the same code on KNL.

[2017-08-02 15:51] mhoemmen commented on #1537
@brian-kelley Here are the rules for complex:

1. Never use `std::complex` inside a `Kokkos::parallel_*`.
2. Use `impl_scalar_type` (in this case, `Kokkos::complex`) not `scalar_type` / `Scalar`.
3. You may assume that `Kokkos::complex` and `std::complex` share the same bit representation.

[2017-08-02 15:54] brian-kelley commented on #1537
@mhoemmen Yes, I think just changing that to impl_scalar_type will fix it.

[2017-08-02 16:02] ibaned commented on #1542
so you have something like:
[code]

[2017-08-02 16:04] ibaned commented on #1542
It sounds to me like something is writing out-of-bounds... I recommend trying Valgrind or compiling with address sanitizers.

[2017-08-02 16:08] dridzal commented on #1561
@dpkouri and @dridzal are looking into this.

[2017-08-02 16:15] dridzal opened #1564 "BOOST detection not working"
I'm getting a CMake error:

CMake Error at /projects/sems/install/rhel6-x86_64/sems/utility/cmake/3.5.2/share/cmake-3.5/Modules/FindBoost.cmake:428 (message):
  ERROR: Boost_ROOT is not the correct spelling.  The proper spelling is
  BOOST_ROOT.

I have not set Boost_ROOT nor BOOST_ROOT.  I'm using

-D Boost_INCLUDE_DIRS=/projects/sems/install/rhel6-x86_64/sems/tpl/boost/1.63.0/intel/17.0.1/base/i

[2017-08-02 16:22] tawiesn commented on #1542
Valgrind is running. May take a while...

[2017-08-02 16:32] ibaned commented on #1564
Please post your full configure command

[2017-08-02 16:33] dridzal commented on #1561
@wil-england Have you created an instance of OptimizationProblem?  If so, could you please run the check method and report the results?  (Here we've assumed that you are using ROL::StdVector.)

[2017-08-02 16:34] dridzal commented on #1564
EXTRA_ARGS=$@

cmake \
-D CMAKE_BUILD_TYPE:STRING=RELEASE \
-D TPL_ENABLE_MPI:BOOL=ON \
-D BUILD_SHARED_LIBS:BOOL=ON \
-D Trilinos_ENABLE_DEBUG:BOOL=ON \
-D Trilinos_ENABLE_DEBUG_SYMBOLS:BOOL=ON \
-D TPL_ENABLE_Boost=ON \
-D Boost_INCLUDE_DIRS=/projects/sems/install/rhel6-x86_64/sems/tpl/boost/1.63.0/intel/17.0.1/base/include \
-D Trilinos_ENABLE_ROL:BOOL=ON \
-D Trilinos_ENABLE_ALL_OPTIONAL_PACKA

[2017-08-02 16:35] dridzal commented on #1564
For the environment, I'm using

source ../../cmake/load_sems_dev_env.sh "sems-intel/17.0.1" "sems-openmpi/1.10.1"

[2017-08-02 17:05] ibaned commented on #1564
Are there any `$EXTRA_ARGS` ?

[2017-08-02 17:06] dridzal commented on #1564
No, there are not.

[2017-08-02 17:11] bartlettroscoe commented on #1564
Strange, I have never seen that before.  The var they are talking about `Boost_ROOT` is likely and env var.  What does your env show?  Do:

[code]

What does that return?

[2017-08-02 17:30] dridzal commented on #1564
Nothing.

bash-4.1$ set | grep -i boost
bash-4.1$

[2017-08-02 18:10] lxmota commented on #1557
We need to make progress on projects that have deliverables. I'll create a branch and I'll add the interface to access the stepper and the start and end times.

[2017-08-02 18:12] ibaned commented on #1564
I would remove at least the `CMakeCache.txt` file (preferably the whole build directory) and try again

[2017-08-02 18:48] jmgate commented on #1527
I've managed to add the ability to write certain global variables to the output Exodus file.  Valid variable types are `int`, `double`, and `std::string`, along with `std::vector`s of those types.  Need to cook up some unit tests to ensure all is behaving as intended.

[2017-08-02 20:19] ambrad commented on #1088
@mhoemmen, no idea. I've never done it; I use the OpenMPI provided on the testbeds.

[2017-08-02 20:31] mhoemmen commented on #1088
@ambrad @crtrott Would you happen to know how I can report this issue to SEMS so they can fix their modules?

[2017-08-02 20:31] bartlettroscoe commented on #1549
It might be better to instead have users explicitly request testing for the associated branch in a PR comment and the the PR should report the results of the PR branch testing and explicitly print the top commit on that branch.  Then it would be clear what got tested and in what state the branch was.  And if the user wants to run the tests on an updated branch, they would need to explicitly reques

[2017-08-02 21:17] ambrad commented on #1088
@mhoemmen, maybe email @jgfouca.

[2017-08-02 21:20] mhoemmen commented on #1088
Thanks @ambrad !  I built my own OpenMPI 2.x with CUDA enabled and am building Trilinos with it now.  If it works, I'll file the SEMS issue.

[2017-08-02 21:30] ibaned commented on #1088
@mhoemmen can you post the OpenMPI configure options you used (especially if it works) ?

[2017-08-02 21:38] mhoemmen commented on #1088
OpenMPI also claims that, as of version 1.7.3, one can use the `ompi_info` executable to find out whether OpenMPI was built with CUDA support.  It tells me that the SEMS OpenMPI module (at least 1.10.1) was _not_ built with CUDA support:
[code]
Here is what I got with my custom OpenMPI 2.1.1 build, showing that does claim to have CUDA support:
[code]

[2017-08-02 21:46] mhoemmen commented on #1088
@ibaned Here is how I configured OpenMPI 2.1.1:
[code]

[2017-08-02 22:01] mhoemmen commented on #1088
Argh, I can't run any tests with this build yet, since I need to update the CUDA driver to match the run-time environment.  I'll work on that and then post results here.

[2017-08-02 22:28] jmgate commented on #1527
Looks like I've got `int`s, `double`s, and `vector`s of both of those working.  I'm afraid `string`s would require changes to `StkMeshIoBroker` (it looks like `Ioss` would support them), but I'm not about to hold my breath.

[2017-08-02 22:34] tjfulle opened #1568 "Tpetra: pack/unpack unit testing"
@trilinos/tpetra

A unit test should be written that packs from a non-const graph matrix and unpacks in to a const-graph matrix.  This functionality is used in `globalAssemble` if the original map is not one-to-one (as is common in finite elements).

Several @trilinos/rol examples broke with recent work in @trilinos/tpetra where `CrsMatrix` pack/unpack procedures were refactored to use `PackTraits

[2017-08-03 02:29] tjfulle commented on #798
This issue is addressed in #1569

[2017-08-03 02:33] tjfulle commented on #802
The packing portion of TAFC now uses `Tpetra::Details::packCrsMatrix` and friends, which are thread parallel.  It remains to thread parallelize `unpackAndCombineCrsArrays`, repurposing as much of `Tpetra::Details::unpackCrsMatrixAndCombine` as possible.

[2017-08-03 02:35] tjfulle commented on #802
Adding, #1569 addresses the packing portion

[2017-08-03 04:56] mhoemmen commented on #1088
The commit above was just the midpoint of a string of commits leading to the proposed #1088 fix, that includes fixes for other issues.  I just wanted to get those out of the way, since they work now :-) .

I _should_ be able to test OpenMPI 2.1.1 with CUDA 7.5.18, which is a SEMS module and _does_ work on my workstation.  I rebuilt OpenMPI 2.1.1 with CUDA 7.5.18 and GCC 4.9.3 successfully, and am

[2017-08-03 05:02] mhoemmen commented on #1088
Trilinos build works with OpenMPI 2.1.1 and CUDA 7.5.18.  I'll try the new commits tomorrow.

[2017-08-03 15:31] mhoemmen opened #1571 "Add a CMake option & test for whether MPI is CUDA aware"
@trilinos/tpetra @trilinos/framework

Add a CMake option, and a configure-time test, for whether MPI is CUDA aware (edited 13 Aug 2017 from "MPI supports CUDA").  "MPI is CUDA aware" (edited 13 Aug 2017 from "MPI supports CUDA") means that the MPI implementation knows how to read from and write to CUDA buffers, that is, memory allocated using `cudaMalloc` (in Kokkos, a View with memory space `Kokk

[2017-08-03 16:27] mhoemmen commented on #1088
New commits pass tests!  Not quite done though -- I need to remove some debugging code and make sure that I didn't comment out anything important.

[2017-08-03 16:30] jmgate commented on #1527
Unit test for all four types is up and running.  Running the test suite and hope to push soon.

[2017-08-03 16:32] mhoemmen commented on #1568
Thanks @tjfulle !

[2017-08-03 16:36] jmgate commented on #1527
The `panzer::STK_Interface` now has the following routines

[code]

where `Type` is `int`, `double`, `std::vector<int>`, or `std::vector<double>`.  You may call any of these routines any number of times before a call to `writeToExodus(const std::string& filename)` or `writeToExodus(double timestep)`.  The `key`s you use for the global variables should be unique&mdash;if you call `addGlobalToExodus

[2017-08-03 16:41] ibaned commented on #1571
can we call it "CUDA-aware MPI" since that [seems to be](https://devblogs.nvidia.com/parallelforall/introduction-cuda-aware-mpi/) de facto terminology for it already?

[2017-08-03 17:16] bathmatt opened #1572 "Intrepid2 or MueLu CUDA compile error"
Builds for muelu are broken for cuda.
4 errors detected in the compilation of "/tmp/tmpxft_0001e136_00000000-7_MueLu_IntrepidPCoarsenFactory.cpp1.ii".

[2017-08-03 17:26] mhoemmen commented on #1571
@ibaned wrote:

Sounds good!

[2017-08-03 17:27] ibaned commented on #1572
@trilions/muelu

[2017-08-03 17:27] mhoemmen commented on #1571
I have a #1088 fix that I won't be able to push until this option exists, so I can work on it.  I also have two different CUDA builds set up, one with a CUDA-aware MPI, and the other with a "CUDA-ignorant" MPI.  I might want yet another MPI that is not OpenMPI, just so I can test the fall-back of `ompi_info` not existing or not returning useful information.

[2017-08-03 17:27] ibaned commented on #1572
@trilinos/muelu

[2017-08-03 17:28] mhoemmen commented on #1571
@ibaned Would you like to review my code and or help me with this?  If not, that's OK.

[2017-08-03 17:29] mhoemmen commented on #1088
#1571 blocks this, because the #1088 fix will break CUDA tests if the MPI is not CUDA aware.

[2017-08-03 17:30] ibaned commented on #1571
@mhoemmen I could probably do a review. just post here when its ready. Another thing to think about `ompi_info` being in `PATH` but Trilinos is being linked to a different MPI. In other words, only use the `ompi_info` in the `MPI_DIR` that I think Trilinos already figures out... not sure if we derive `MPI_DIR` correctly when just compiler wrappers are given... anyway just thoughts

[2017-08-03 17:44] mhoemmen commented on #1571
@ibaned Thanks for reminding me!  I think it should suffice to use `MPI_BIN_DIR` to find `ompi_info`.  That's where OpenMPI installs it.  If both `MPI_BIN_DIR` and `MPI_BASE_DIR` are empty, then I may search `$PATH` for `ompi_info`.

[2017-08-03 17:55] bartlettroscoe commented on #1501
I just pushed the commit 7577e04.

@mplooster, please let us know if this fixes the issue.

Putting in review..

[2017-08-03 18:18] jhux2 commented on #1572
@bathmatt I see the error on the EMPIRE jenkins dashboard.  Can you post or send the cmake configure for Trilinos?

[2017-08-03 18:53] rppawlo opened #1573 "Phalanx: split the dag construction and field allocation into separate calls"
Currently both are done in the function postRegistrationSetup(). We need to split these into separate calls to allow the user to size layouts right before allocation.

Will be done in conjunction with #1544 and #1545

[2017-08-03 18:53] rppawlo commented on #1573
@trilinos/phalanx @eric-c-cyr @seamill

[2017-08-03 18:59] bathmatt commented on #1572
[bs.txt](https://github.com/trilinos/Trilinos/files/1198289/bs.txt)

This is a tar file.  Untar it and have workspace/Trilinos /workspace/BuildScripts
export WORKSPACE=/path/to/workspace
export JOB_NAME=Trilinos-cuda-debug
 and then run the right build and test script for the different platforms.

[2017-08-03 20:24] bathmatt commented on #1572
@jhux2 I don't really interact with gitlab since we blocked gmail here.  can you contact me directly at work with questions or comments?

[2017-08-03 20:28] jhux2 commented on #1572
@bathmatt Sure, will do.  My build is progressing on ride, I'm just waiting for the error.

[2017-08-03 20:42] lucbv commented on #1572
@jhux2 could this be related to the error we see on the CDash? These error are related to a kokkos refactor inside intrepid2 which PCoarsen is using.

[2017-08-03 20:44] jhux2 commented on #1572
@lucbv Possibly, I will look.

[2017-08-03 20:50] lucbv commented on #1572
Ok I am adding @mperego and @ndellingwood they should be able to shade light on this : )
[here](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3035658) is the CDash issue

[2017-08-03 21:32] mplooster commented on #1501
There is still a build issue, but I'm not sure if it related or not. See [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3036198) and [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3036177) for the details.

[2017-08-03 21:52] ibaned commented on #1572
Albany is also seeing this compile error [here](http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=57030).
@trilinos/intrepid2

[2017-08-03 21:54] dlkarnit commented on #1505
I have not been able to reproduce this case yet in a code segment that is shareable. However, I have experimented with my code and found that I can prevent the issue if I construct my Tpetra::Map in a different way:

Old way in Foo constructor (creates error)
Foo() : vMap( Teuchos::rcp(new Map( size, idxBase, comm )) ) {}

New way (error not thrown at exit)
Foo() : vMap( Tpetra::createLocalMap<Ord

[2017-08-03 22:07] ndellingwood commented on #1572
Looking into the issue with @mperego

[2017-08-03 22:15] jmgate commented on #1527
Changes to Panzer and associated applications were just pushed.

[2017-08-03 22:16] mhoemmen commented on #1546
Alas, this is blocking #1569.  @tjfulle would very much like to test downstream but it's a bit hard to make sure that all the tests build and pass without Zoltan2.

[2017-08-03 22:18] tjfulle opened #1574 "MueLu: Link error when when compiling with CUDA"
On ride, when configuring Trilinos with the following (OpenMP) options:

[code]

I get the following  @trilinos/muelu build error

[code]

The actual error is:

[code]

[2017-08-03 22:20] jmgate commented on #1417
@eric-c-cyr, @rppawlo, @kyungjoo-kim:  I assume this issue can be closed by now, correct?  Did we open another issue to get @kyungjoo-kim's latest changes into Trilinos?

[2017-08-03 22:21] tjfulle commented on #1574
Other relevant configure options:

[code]

[2017-08-03 22:31] tjfulle commented on #1574
Compiler information: `gcc-5.4`, `openmpi-1.10.4`, `cuda-8.0.44`

[2017-08-03 22:33] mhoemmen commented on #1546
A work-around that lets us test CUDA would be acceptable.

[2017-08-03 22:44] jmgate opened #1575 "Panzer: CONTRIBUTES-Style Evaluators"
`panzer::Integrator_BasisTimesScalar` and `Integrator_GradBasisDotVector` were refactored in fe8070f to have new constructors that allow a user to create the `Evaluator` in either an `EVALUATES` style (which is what has been done up to this point) or a `CONTRIBUTES` style.  When using the latter, no memory is created to store the result of the `evaluateFields()` call; instead the result is simply

[2017-08-03 22:44] mhoemmen commented on #1505
You don't need to supply the `Node` template parameter.  Try this:
[code]

[2017-08-03 22:45] mhoemmen commented on #1505
The `createLocalMap` function creates a replicated Map over the given communicator.  This probably not what you want.

[2017-08-03 22:48] mhoemmen commented on #1505
My guess is that some instance of your class Foo is being allowed to persist past Kokkos::finalize() or MPI_Finalize().  Otherwise, I'm not sure what else you could be doing wrong.  What solvers are you using?  Also, do you have this issue with the develop version of Trilinos?

[2017-08-03 23:05] mhoemmen commented on #1560
I pushed a fix to develop.

[2017-08-03 23:05] #1560 closed

[2017-08-03 23:05] mhoemmen commented on #1560
@jjellio you might find this of interest.

[2017-08-03 23:06] mhoemmen commented on #1470
@jjellio Did my #1560 fix help?  If so, I'll close this issue.  Thanks!

[2017-08-03 23:11] jhux2 commented on #722
Superceded by #1148.

[2017-08-03 23:11] #722 closed

[2017-08-03 23:15] mhoemmen commented on #1553
Any scoop?  Also, is this at all related to #1088?

[2017-08-03 23:19] jhux2 commented on #1574
@tjfulle Your configure line enables OpenMP but disables explicit instantiation for it.  What's the motivation?

[2017-08-03 23:37] tjfulle commented on #1574
@jhux2, it's how Sierra builds.

The other OpenMP enables were to get past compile time errors :)

[2017-08-03 23:43] ibaned commented on #1553
@mhoemmen sorry for not keeping you updated. The latest thinking by @ikalash and myself is that the slowdown was caused by the latest Kokkos snapshot, so Tpetra may be off the hook. I still need to replicate her timings on my machine before I can say with certainty though.

I'm sure you know this feeling, but these codes just take so long to compile...  in a few more hours I can start running my "

[2017-08-04 00:48] ndellingwood commented on #1572
Broken with commit d0a772200f8ba721d1e78e680a18878c2ec0f260
Replicating some of the code modifications from that commit in a previous clean commit 094338dd9690bf57c05633c2fbea88df70e1e291 did not reproduce errors from cdash, still digging.

[2017-08-04 08:32] RiccardoRossi opened #1576 "SEGFAULT with Teuchos parameterlist"
Hi All,

i would like to point out a segfault which happens when using in debugmode the teuchos parameterlist

here goes the reproducer. NOTE:  the flags  -D_DEBUG -D_GLIBCXX_DEBUG have to be included to trigger the segfault (they activate the debug mode in the stdlib)

     #include "Teuchos_ParameterList.hpp"
     #include <iostream>
      //COMPILE WITH: -- the -D_DEBUG -D_GLIBCXX_DEBUG trigger

[2017-08-04 14:10] ikalash opened #1577 "Trilinos compilation error due to Kokkos on Ride with CUDA KokkosNode"
My nightly Trilinos build on ride which uses a CUDA KokkosNode is failing, it looks like due to compilation errors coming from Kokkos:

/home/projects/albany/repos/Trilinos/packages/kokkos/core/src/impl/Kokkos_ViewMapping.hpp(2905): error: static assertion failed with "View assignment must have compatible spaces"
          detected during:
            instantiation of "void Kokkos::Impl::ViewMappi

[2017-08-04 14:11] mperego commented on #1572
@ndellingwood and I will try to fix this today. If we don't succeed we'll revert the offending commit.
@bathmatt @trilinos/muelu @ibaned let us know if you prefer to have the committed reverted right away.

[2017-08-04 14:20] aprokop commented on #1536
Pushed to upstream. Thanks @mhoemmen.

[2017-08-04 14:20] #1536 closed

[2017-08-04 14:26] ibaned commented on #1572
@mperego fixed by the end of the day is fine with me, not critical

[2017-08-04 14:29] ibaned commented on #1577
This is a duplicate of #1572, @mperego is working on fixing this today.

[2017-08-04 14:29] ibaned commented on #1577
Its actually an Intrepid2 issue

[2017-08-04 15:25] sayerhs commented on #1474
The latest `master` compiles correctly on OSX/Clang.

[2017-08-04 15:25] #1474 closed

[2017-08-04 15:33] ikalash commented on #1577
Aah, OK.  I will close this duplicate in that case.

[2017-08-04 15:33] #1577 closed

[2017-08-04 16:05] bartlettroscoe commented on #229
I just merged the updated branch #1346 that has the changes.  Next, I will add an item to this to teuchos/ReleaseNotes.txt and in TrilinosBuildReference.rst.

[2017-08-04 17:41] #1539 closed

[2017-08-04 17:43] eric-c-cyr commented on #1417
No this has to be done, I will do so.

[2017-08-04 17:43] #1417 closed

[2017-08-04 17:58] mhoemmen commented on #1553
@ibaned wrote:

Very much so ;-) .

Tpetra does not use any new features that might be in the latest snapshot, so I think you could just revert the snapshot commit and try again.  Does Albany have a performance dashboard?  I'm asking because Tpetra has been getting some performance improvements for threads and GPUs, and I want to make sure that we don't cause issues in Albany.  Even if there's no

[2017-08-04 18:07] mhoemmen commented on #1576
Hi @RiccardoRossi -- thanks for reporting this!  What version of Trilinos are you using?

[2017-08-04 18:50] ibaned commented on #1553
I'm almost done gathering data, but at this point its essentially confirmed that the Kokkos snapshot on its own caused the slowdown. A few answers below anyways:

Its only slightly more complex, because the snapshot comes with several commits to Trilinos as well due to `Experimental` namespace changes. I've figured it out anyway.

Not as such, we have regular CDash boards on which test times can b

[2017-08-04 18:54] ibaned commented on #1553
I think I'll go ahead an close this. Detailed reports will show up in gahansen/Albany#159, after which a Kokkos issue will probably be opened.

[2017-08-04 18:54] #1553 closed

[2017-08-04 19:31] jhux2 commented on #1574
@tjfulle I guess the Sierra configuration does not result in this error, but rather the additional cmake options?  Would you please specify the base Sierra build, and then what options were added that caused the problem?  Thanks.

[2017-08-04 19:33] tjfulle commented on #1574
@mhoemmen , do you know the configuration that Sierra uses?

[2017-08-04 20:00] mhoemmen commented on #1574
I think it's pretty reasonable for users to enable OpenMP in the compiler, but not enable it in solvers.  If MueLu does not intend to support this use case, that's fine, but then it should check for this at configure time.  The build issue didn't show up in Sierra's build, it showed up when Tim was attempting to test Tpetra changes in downstream packages.

[2017-08-04 20:12] mhoemmen commented on #1574
Here are the relevant build options that Sierra enables in `TPLs_src/Nbtools/Trilinos/dev/TpetraCore/Jamfile`.  Just `<define>` means that the macro is unconditionally defined; it's also possible to add conditional defines, like "only if CUDA build" or "only if OpenMP enabled."
[code]
I'll need to look more carefully at the Kokkos options that Sierra uses.

[2017-08-04 20:30] RiccardoRossi commented on #1576
Hi,

Honestly I am not sure. It is the one package with Ubuntu 16.04

Regards
Riccardo

On Aug 4, 2017 8:07 PM, "Mark Hoemmen" <notifications@github.com> wrote:

[2017-08-04 20:47] ibaned commented on #1576
@nschloe could probably tell us which one that is.

[2017-08-04 21:01] RiccardoRossi commented on #1576
I think it is s 12.4.2

https://launchpad.net/ubuntu/xenial/+source/trilinos

Cheers
Riccardo

On Aug 4, 2017 10:47 PM, "Dan Ibanez" <notifications@github.com> wrote:

@nschloe <https://github.com/nschloe> could probably tell us which one that
is.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/trilinos/Trilinos/issues/1576#

[2017-08-04 21:11] nschloe commented on #1576
Yup, it's 12.4.2. @RiccardoRossi Can try out [the nightly PPA](https://launchpad.net/~nschloe/+archive/ubuntu/trilinos-nightly) and see if the error still occurs?

[2017-08-04 21:29] ndellingwood commented on #1572
Got a fix passing tests (Cuda and Serial) with Cuda 7.5 + gcc 4.9.3 + OpenMPI 1.8.7; issued PR #1579, @ibaned is running checkin-test script on it now.

[2017-08-05 00:15] jhux2 commented on #197
@brian-kelley Just curious what the status of this is, and PR #1509.

[2017-08-05 00:25] brian-kelley commented on #197
@jhux2 PR #1509 is ready to be merged. I made all the changes and squashed everything into 1 commit. @srajama1 said last week that he would give it one final look and then merge it.

[2017-08-05 00:26] jhux2 commented on #197
@brian-kelley Great, thanks for the update!

[2017-08-05 00:59] jhux2 commented on #1473
@bartlettroscoe Around the time of the commits that changed ```Trilinos_ENABLE_``` to ```${PROJECT_NAME}_ENABLE_```, one of the MueLu experimental nightly builds began exiting early, due to no packages being enabled.  Prior to that change, the nightly build was running nontrivially. Here's the test [before](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3009894) and [after](https://test

[2017-08-05 01:25] srajama1 commented on #197
@brian-kelley : I started reviewing it and got distracted. I will get to it.

[2017-08-05 01:38] brian-kelley commented on #197
@srajama1 I'm not in any rush because I'm optimizing and profiling matrix addition right now :)

[2017-08-05 02:10] rppawlo opened #1580 "Phalanx: add support for raw Kokkos::Views"
Users may want to write evaluators that entirely use Kokkos:Views instead of MDField or Field objects. This ticket is to add support to the Field Manager and Evaluator default impl to support this use case.

[2017-08-05 03:45] rppawlo commented on #1452
@bartgol - my apologies - I did not see this ticket until today. I have made the change locally and can push after review next week. However, I'm not sure if making this change is the right thing to do. Here's some background. The requested change assumes that you are using the MDALayout that requires size information at construction. But the DataLayout is actually a pure virtual base class and ot

[2017-08-05 04:02] rppawlo opened #1581 "Phalanx: FieldManager support for new field objects"
Update the main FieldManager interface to support recently added field types.
1. Add support for accessing raw views and the new Field objects.
2. Add support for setting unmanaged fields using raw views and new Field objects.
@trilinos/phalanx @eric-c-cyr @seamill

[2017-08-05 07:38] RiccardoRossi commented on #1576
Hi Nico,

I ll do on Monday.

Regards
Riccardo

El 4 ago. 2017 11:11 p. m., "Nico Schlömer" <notifications@github.com>
escribió:

[2017-08-05 22:44] mndevec commented on #1546
Mark, I am unable to reproduce the error on white with cuda 8 and gcc 5.4. White does not have gcc 4.8 compiler. Which machine are you running it on?

I will try to compile it again on hansen. In the meantime, could you comment out the pragma lines and see if that helps for now?

[2017-08-06 00:24] mhoemmen commented on #1553
Thanks @ibaned !  What you've already been doing is the best thing -- just a heads-up that "hey, the test times are huge now" is super helpful :-) .

[2017-08-06 00:28] mhoemmen commented on #1574
I think I realize what the issue is now -- MueLu has to build if Tpetra is disabled, which means it needs to instantiate Node types independently of Tpetra.  It's tricky :-) .

[2017-08-06 03:28] mndevec commented on #1546
Mark, I believe this is an issue with NVCC openmp parsing. I added curly braces around of pragmas.
Let me know if it still fails for you.

[2017-08-06 14:06] RiccardoRossi commented on #1576
Hi,
no joy unfortunately.

i installed the latest ppa on my machine, here is the output of my command line, just to prove that i am correctly linking the updated version

rrossi@Latitude-E5450:~/scratch/teuchos_test$ ls
main.cpp
rrossi@Latitude-E5450:~/scratch/teuchos_test$ g++ -std=c++11 -fPIC -O0 -D_DEBUG -D_GLIBCXX_DEBUG -g -o a.out main.cpp -I/usr/include/trilinos -L/usr/lib/x86_64-linux-gnu/

[2017-08-06 19:54] mhoemmen commented on #1546
Thanks @mndevec !  I'll give this a try.

[2017-08-07 00:40] bartlettroscoe commented on #1473
@jhux2, it is because Xpetra libraries failed to build and that takes out MueLu because MueLu has a required dependence on Xpetra.  If you look at the configure output for the "after" case at:

*  https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3011766

you will see:

[code]

If up back up to the top-level package-by-package build at:

* https://testing.sandia.gov/cdash/index.php?projec

[2017-08-07 00:47] bartlettroscoe commented on #1501
@mplooster, the build error for Thyra shown at:

* https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3036212

shows:

[code]

What does that mean?

[2017-08-07 00:56] mhoemmen commented on #1546
It builds now -- thanks @mndevec !

[2017-08-07 00:56] #1546 closed

[2017-08-07 00:57] bartlettroscoe commented on #1576
@RiccardoRossi,

Did you build Trilinos with `-D_GLIBCXX_DEBUG` (using [`-DTrilinos_ENABLE_CHECKED_STL=ON`](https://trilinos.org/docs/files/TrilinosBuildReference.html#enabling-runtime-debug-checking))?  If not, you can expect segfaults.  All C++ software that uses the standard C++ library must all be built with `-D_GLIBCXX_DEBUG` enabled or you will get segfaults.  Note the warning "This option i

[2017-08-07 02:09] bartlettroscoe commented on #229
I pushed updated release notes and documentation in commit 5c1ca9c.

I will not put this into review for a while and see if we get any feedback.

[2017-08-07 02:37] tawiesn commented on #1473
@jhux2 @bartlettroscoe
It seems that Kokkos_ArithTraits.hpp has been moved from Kokkos to Kokkos-kernels (but it still has the same filename). In commit 98f0c0827d i added kokkos-kernels as an optional dependency to Trilinos. However i am not sure whether this is enough. Kokkos is an optional dependency for Xpetra (we cannot make it obligatory as Kokkos still does not compile for Windows as far as

[2017-08-07 03:27] mhoemmen commented on #74
I think we've done pretty well with this issue, so I'm closing it.  Thanks to all who helped!

[2017-08-07 03:27] #74 closed

[2017-08-07 04:02] mhoemmen commented on #1473
@tawiesn If it helps, Tpetra requires kokkos-kernels.  Thus, you could just use the optional dependency of Xpetra on Tpetra to get kokkos-kernels.

[2017-08-07 05:40] RiccardoRossi commented on #1576
@bartlettroscoe , you are right.
My apologies, i assumed i could transparently add the compile option, but it is not the case.

closing this and ...sorry for the noise

[2017-08-07 05:40] #1576 closed

[2017-08-07 12:36] mplooster commented on #1501
@bartlettroscoe That error comes when it is trying to build ThyraCore_DiagonalQuadraticResponseOnlyModelEvaluatorUnitTests. Without having looked at it closely, I suspect there might be an issue with setting up the build for that test. I can't claim tons of familiarity with Teuchos_StandardUnitTestMain or Thyra, so in all honesty I really don't know. Is Thyra doing something different than other p

[2017-08-07 12:57] bartlettroscoe commented on #1473
If Xpetra directly includes a header file from KokkosKernels then it needs to define a directly dependency on KokkosKernels.  It should not rely on indirect dependencies to get it.

Whoever did that refactoring and did not update downstream packages messed up.

This discussion about MueLu, Xpetra, and Kokkos has nothing to do with this the scope of this Story so this discussion should be moved to

[2017-08-07 13:04] bartlettroscoe commented on #1501
@mplooster,

This sounds like a new failure and therefore should be a new GitHub Issue.  Without being able to reproduce this error myself, it would be extremely difficult to figure out what this compiler is doing.   What version of MSVC is this?

Assuming that I will never be able to reproduce this problem myself,  after creating the new issue, you should disable the Thyra tests for this build us

[2017-08-07 13:12] bartlettroscoe commented on #1576
Don't worry, some of us were initially confused about this about 10 years ago when we first saw this issue with `-D_GLIBCXX_DEBUG`.

For many compile options, you can get away with mixing and matching them in different translation units.  However, macro defines often have to be consistent in all translation units since it can lead to inconsistent type and forward declarations (like is the case wti

[2017-08-07 13:14] mplooster commented on #1501
@bartlettroscoe Will do. It is Visual Studio 2015. I have already disabled the Thyra tests (as I mentioned in the original ticket description). For the builds with this new error, I only turned it on temporarily to see if the patch fixed this issue. For more details about the Trilinos customer and their specific needs, please contact @jwillenbring.

[2017-08-07 13:28] mplooster opened #1582 "Thyra: unknown MSVC build failure in ThyraCore_DiagonalQuadraticResponseOnlyModelEvaluatorUnitTests"
This build error was discovered while testing the fix for #1501.

Currently, the Thyra package is not considered essential to what I am working on (I actually have it turned off), so it is not terribly critical to fix this in the near term. I am simply recording the error for future reference, should it become relevant.

Here is the command sent to the compiler:

[code]
and here is the resulting e

[2017-08-07 13:30] ibaned commented on #1572
The pull request with the fix has been accepted by the checkin script. Please reopen if this particular issue persists.

[2017-08-07 13:30] #1572 closed

[2017-08-07 13:31] #1501 closed

[2017-08-07 13:33] bartlettroscoe commented on #639
@maherou, I just now saw this issue (I did not get a GitHub notification email).

When can we pull the trigger on this?

[2017-08-07 13:35] bartlettroscoe commented on #466
This got resolved a long time ago.  Closing as complete.

[2017-08-07 13:35] #466 closed

[2017-08-07 13:36] bartlettroscoe commented on #1137
I believe this was resolved a long time ago.  Closing as complete.

[2017-08-07 13:36] #1137 closed

[2017-08-07 15:30] jhux2 commented on #1473
@bartlettroscoe Thanks, I always forget that upstream failures could be the cause.  I will open a separate issue.

[2017-08-07 15:36] jmgate opened #1583 "Issue and Pull Request Templates?"
@trilinos/framework, has Trilinos ever considered adding `ISSUE_TEMPLATE.md` and `PULL_REQUEST_TEMPLATE.md` files to the repository to attempt to standardize the information we get in an issue or pull request?  If you like, I can mock some up (I have for GitLab, [here](https://gitlab.sandia.gov/jmgate/testingTemplates)), but it occurred to me that this may have come up before and was decided again

[2017-08-07 16:29] ndellingwood commented on #1572
Fix passed checkin testing by @ibaned, pushed as commit f170111.
@bathmatt @mperego @jhux2  is this safe to close now?

[2017-08-07 16:30] ibaned commented on #1572
yep I did close it already

[2017-08-07 16:33] ndellingwood commented on #1572
Thanks @ibaned! Forgot to refresh my browser and didn't see the message, I kept the issue up since Github emails don't come through consistently (though the PR one did).

[2017-08-07 16:54] jhux2 commented on #1572
@ndellingwood Yes, thanks very much for your quick help.  The EMPIRE dashboard shows the builds working under CUDA, and the MueLu dashboard is clean as well under CUDA.

[2017-08-07 16:59] mhoemmen opened #1584 "Amesos2: Build error (complex, Amesos2_Umfpack_FunctionMap.hpp)"
@trilinos/amesos2
Blocks: Sierra ticket 17124

@prwolfe writes: "`Amesos2_Umfpack_FunctionMap.hpp` includes `umfpack.hpp` and then promptly redeclares [the functions in that header file].  The main difference being `double *` for two arguments instead of `double[]`. Worse, the double complex uses functions not in our installation of umfpack.  This is the current bottleneck for getting a build."

I

[2017-08-07 17:10] ndellingwood commented on #1584
@mhoemmen thanks for diagnosing a potential fix; I'm about to start building to reproduce the error, to clarify if I build with Umfpack enabled and Complex enabled, I should be able to reproduce this?

[2017-08-07 17:20] mhoemmen commented on #1584
@ndellingwood This was with Sierra's "external Trilinos" build, which uses Trilinos' usual CMake configuration process with complex arithmetic enabled.  Thus, it should be possible for us to reproduce this.  Thanks for picking this up!

[2017-08-07 17:58] ndellingwood commented on #1584
@mhoemmen
I configured Trilinos with Complex enabled and Umfpack enabled within Amesos2 and was able to build Trilinos (locally on my laptop).
I enabled Complex with these configure options:
[code]

Any extra info you can pass my way to reproduce the issue they're seeing? Maybe a version of Umfpack they are using?

It looks like this is the umfpack lib I have installed on my laptop: `libumfpack.a

[2017-08-07 19:03] srajama1 commented on #1584
@MicheldeMessieres : FYI and any comments would help.

[2017-08-07 19:56] MicheldeMessieres commented on #1584
I'm testing on Umfpack 5.7.6 at the moment. I think we may want to abolish all the extern function declarations and perhaps simply do this (either with or without an extern as that version at least has it built in):

namespace UMFPACK {
  #include "umfpack.h"
}

or like Amesos (perhaps to support older includes that don't have extern in the include?)

namespace UMFPACK {
  extern "C" {
    #includ

[2017-08-07 20:15] mhoemmen commented on #1584
@ndellingwood Sierra uses `Trilinos_ENABLE_COMPLEX_DOUBLE:BOOL=ON` instead of `Tpetra_INST_COMPLEX_DOUBLE=ON`.  Trilinos now prefers the former to the latter.  This should also give faster builds, since it makes kokkos-kernels prebuild the complex kernels (kokkos-kernels doesn't know about `Tpetra_INST_COMPLEX_DOUBLE`, but it _does_ know about `Trilinos_ENABLE_COMPLEX_DOUBLE`).

[2017-08-07 21:12] mhoemmen commented on #1584
@ndellingwood wrote:

The version they build has header file markings that say "4.1".

[2017-08-07 22:02] mhoemmen commented on #1278
Hi @tawiesn !  We've had conversations about this for a while over e-mail.  It's not my place to make this decision for all of Trilinos.

@csiefer2 requested that Trilinos come to an agreement on CUDA version requirements.  He proposes the following requirement:

"With default build options for CUDA, all Trilinos code must build and pass tests with CUDA 7.5 as long as Titan is in operation."

("De

[2017-08-07 22:21] ndellingwood commented on #1584
@mhoemmen thanks for the version number, do you know if it refers to SuiteSparse vs UMFPACK?
I haven't been able to reproduce this yet, I tested against a local build of SuiteSparse 4.1.0 - here's quick update on what I tried:

* I downloaded and built SuiteSparse 4.1 and compiled Trilinos with Amesos2 with UMFPACK and tests+examples enabled, and Trilinos_ENABLE_COMPLEX_DOUBLE:BOOL=ON, but had no

[2017-08-07 22:40] seamill commented on #1452
I have to agree with @rppawlo on this one. If the data space isn't assigned, then it would be dangerous to have MDField tell you otherwise.

[2017-08-07 22:59] mhoemmen opened #1585 "ROL: Explicitly uses GlobalOrdinal=int with Tpetra, doesn't need to"
@trilinos/rol
Line 292 of `rol/example/PDE-OPT/TOOLS/assembler.hpp` (in Trilinos develop) explicitly calls `Tpetra::createOneToOne<int,int>`.  This forces use of `GlobalOrdinal = int`.  See #74 for why we don't want this.

The line is easy to fix: just do this:
[code]
That is, let `createOneToOne` deduce its template parameters on its own.  It can do so by looking at the input argument.

There are

[2017-08-07 23:14] mhoemmen commented on #1584
@ndellingwood The header files in question have the year "2003" in them.  It looks like the stand-alone UMFPACK release.  Anyway, if getting rid of the `extern` declarations fixes it, that's already a good start :-D .

[2017-08-08 00:01] dridzal commented on #1585
@mhoemmen , do you need this fix pushed ASAP?

[2017-08-08 00:16] mperego commented on #878
Sacado is now only an optional dependency for Intrepid2.
After @ndellingwood fix f1701112e8cb111cf110d43d6fba55829f686d68 I think we can close this issue.
Thanks @ndellingwood for the work in Kokkos and @etphipp @hcedwar @kyungjoo-kim  and @dridzal for helping.

[2017-08-08 00:16] #878 closed

[2017-08-08 00:20] mperego commented on #1462
L2 basis added and tested. I'm closing this issue. Thanks @rppawlo for taking care of required changes in Drekar and Charon.

[2017-08-08 00:20] #1462 closed

[2017-08-08 03:11] mhoemmen commented on #1585
@dridzal No, but thanks for asking!  You would see faster build times by disabling support for `GlobalOrdinal=int`, especially with ETI turned on.

[2017-08-08 14:05] ibaned commented on #1278
One thing I'd like to add for consideration is the long-term design impact of the decision made. Suppose we elect not to use lambdas or to always have two separate code paths. Once CUDA 7.5 stops being a requirement, we will have a big code refactoring to undertake. I would also append to @csiefer2 's statement "as long as Titan is in operation and it only supports CUDA 7.5". The situation on Tita

[2017-08-08 14:08] nmhamster commented on #1278
Guys, we expect ORNL to complete the migration to Summit in mid/late 2018. This will not run CUDA7.5. So you could plan around that?

[2017-08-08 14:24] csiefer2 commented on #1278
Folks are writing functor code every day that will need to get rewritten w/ lambdas.  I just want to call "stop" right now and have everything lambda from here on out (with some #ifdef sorcery to protect Titan until next year).

[2017-08-08 14:25] #1402 closed

[2017-08-08 14:35] bartgol commented on #1452
That's fine with me. After all, as Roger said, I can always get the data layout from the tag, and use that. I am wondering if it would be helpful, at least in debug mode, to throw some sort of exception in case one calls the dimensions method on the field before the bind memory is made. Perhaps not, since one could use this to check if the data has been set.

Anyways, thanks for the feedback. I'm

[2017-08-08 14:35] #1452 closed

[2017-08-08 15:09] mperego opened #1586 "Check properties of the De Rham complex for Intrepid2 finite elements"
Add tests for checking De Rham complex properties.
In particular,  we want to check that for elements defined on a 3D shape (Tetrahedron, Hexahedron) we have:
HGRAD_Cn --(grad)--> HCURL_In --(curl)--> HDIV_In --(div)--> L2_C(n-1)
I.e. the gradient of a function in HGRAD_Cn space belongs to the space HCURL_In, the curl of a function in HCURL_In space belongs to  the space HDIV_In, the divergence of

[2017-08-08 15:10] bartlettroscoe commented on #1583
It was discussed and was agreed this was a good idea awhile ago.  It is just no one ever pulled the trigger on it.

[2017-08-08 15:34] mhoemmen commented on #1278
@csiefer2 wrote:

Just to clarify for other folks: I am in favor of a pro-CUDA-8.0 approach; I'm just playing devil's advocate.  We do have to make a conscious decision whether to support Titan.  Sierra has already decided to require CUDA >= 8.0, according to @mwglass .  I would like to know if Trilinos plans to have the same requirement.  @maherou , what should we do?

[2017-08-08 17:34] ibaned commented on #1278
It sounds from @nmhamster and @csiefer2 that even if we do need to support CUDA 7.5 it should be limited to a timeframe of one year and apply only to existing code, with new features possibly residing within some `#ifdef CUDA8`.

[2017-08-08 19:38] rppawlo commented on #1452
This should already happen in debug mode. The current implementation is:

[code]

[2017-08-08 20:02] mndevec opened #1588 "Tpetra Dependency to KokkosKernels::Impl namespace"
Impl namespace of Kokkoskernels is intended to be used for internal development purposes. The interface of them as well as their existence are not promised. As a result, the changes to them are not tested for external libraries.

However, there seem to be dependencies to Impl namespace functions in Tpetra. One of them was in multivector and we encountered a problem explained: https://github.com/ko

[2017-08-08 20:28] srajama1 opened #1589 "Cleanup Ifpack2 RILUK code"
This is primarily concerned with the confusing experimental piece of code that is in Ifpack2's RILUK. This code can be removed.

[2017-08-08 20:37] aprokop commented on #1589
@srajama1 There are two defines, `IFPACK2_ILUK_EXPERIMENTAL` and `IFPACK2_HTS_EXPERIMENTAL`. Are you saying that all the code that is in those defines can be removed? This would get rid of Basker, for example.

[2017-08-08 20:59] mhoemmen commented on #1588
@mndevec Almost all of those kernels came from Tpetra and were imported into the new package, so I wouldn't consider this a defect, merely an accident of history as Tpetra products got removed from Tpetra and made into a separate product.  Nevertheless, I'll be happy to accept a PR that removes this dependency.

[2017-08-08 21:33] ambrad commented on #1589
@srajama1, @aprokop, HTS is explicitly included in RILUK only in support of Basker; the ifdefs for HTS are nested inside those for Basker. We propose to remove Basker (and so HTS with it) from RILUK; Basker was there only for experiments a while ago. Once that is done, as a nice side effect, HTS will be in LocalSparseTriangularSolver only.

[2017-08-08 21:37] ndellingwood commented on #1584
Hi @mhoemmen, can provide a copy of the UMFPACK4.1 stand-alone code to myself and @MicheldeMessieres?
The tests he ran removing the `extern` declarations was with a newer copy (5.7.6), and testing with 4.1 can verify if this addresses the issue that "double complex uses functions not in our installation of umfpack"

I haven't been able to replicate any of the build errors, the oldest version of UM

[2017-08-08 21:44] aprokop commented on #1589
@ambrad Thanks for the explanation! Out of curiosity, what's the fate of Basker?

[2017-08-08 21:52] ambrad commented on #1589
@srajama1 can comment on this more. As I understand it, Basker is highly effective for its intended target of complete factorizations, especially for matrices having a certain structure. It is and will remain available in ShyLU, with I think an Amesos2 interface. But it isn't the best method for a multithreaded *incomplete* factorization, for which it wasn't designed in the first place.

[2017-08-08 21:55] srajama1 commented on #1589
@ambrad summarized it well. It works well as complete factorization especially for problems with BTF structure. The experiment to make it work as ILU(T) was not as effective and should be removed from Ifpack2.

[2017-08-08 21:56] aprokop commented on #1589
@srajama1 What's BTF?

[2017-08-08 22:08] srajama1 commented on #1584
This might be another option - Update the UMFPACK version in the user if that is acceptable to the users. Adding @rrdrake to see if has any comments as this version of UMFPACK being used is really old.

[2017-08-08 22:11] mndevec commented on #1588
Mark, I understand how this happened with the move of kernels out of Tpetra. Yet, it will be better to remove these dependencies for durability of the package.

[2017-08-08 22:35] csiefer2 commented on #1278
Talked with @bmpersc.  How do we want the version check in our packages.  There are a few ideas.

1. Macros like CUDA8, CUDA9, etc.  Downside: Maintenance cost for framework team (every time there is a new CUDA).
2. Tests for individual features (e.g. CUDA_HAVE_DEVICE_LAMBDA).  Downside:  We don't generally do feature support tests for anything else.
3.  Version number in a variable like CUDA_VERS

[2017-08-08 22:40] mhoemmen opened #1590 "Make sure Scalar=float gets tested nightly"
@trilinos/framework
@vbrunini

It turns out that a Sierra product depends on Scalar=float.  This means that Trilinos should add nightly tests with `Trilinos_ENABLE_FLOAT:BOOL=ON`.

[2017-08-08 22:58] ibaned commented on #1278
I've created kokkos/kokkos#1019 to propose that Kokkos provide this preprocessor symbol definition for Trilinos to check.

[2017-08-08 23:29] rrdrake commented on #1584
I couldn't exactly tell from the comments here .. would moving up the version of UMFPACK fix the compile error?

The only caveat to the UMFPACK version is that after SuiteSparse 3.0.0, UMFPACK changed to GPL, which Sierra cannot use.  The version of UMFPACK in SuiteSparse 3.0.0 is 5.1.0.

[2017-08-09 00:06] MicheldeMessieres commented on #1584
@ndellingwood Added PR #1591 which removes the extern declarations.

[2017-08-09 13:27] jmgate commented on #1583
Shall I go ahead and mock something up and then submit a pull request for you guys to take a look at?

[2017-08-09 13:33] allevin commented on #1583
The instructions for the PULL_REQUEST_TEMPLATE.md will become important when the Pull Request Automated tester comes online.  I can provide an example of what the SST provides for our templates if desired.

[2017-08-09 14:07] srajama1 commented on #1584
@rrdrake : The upgrade will at least allow us to test the same versions. The older version of UMFPACK is not available anywhere I know. Another option is for you to give us the directory :)

I am trying to get permission for government use for Suitesparse even though it is GPL. Let us see how that goes.

[2017-08-09 14:08] csiefer2 commented on #1278
I'd like to vote against relying on Kokkos for this, because we'd have to wait for the next Kokkos snapshot to use it...

[2017-08-09 14:26] ibaned commented on #1278
We can aways add the patch directly to the Trilinos copy of Kokkos for urgent things, we've done this a lot in the past. I've already drafted some of the changes.

Kokkos is supposed to be somewhat responsible for handling this kind of CUDA stuff, I'd prefer that over every Trilinos package directly checking some `_CUDACC_VER_` thing.

You want your package to require just lambdas on the device, o

[2017-08-09 14:31] csiefer2 commented on #1278
What you propose is effectively Option 2 from above.  If lambdas are the only thing we're ever going to do this check for, then this is fine.  But it might become unwieldy if we need to start checking for more stuff.

Once we require CUDA8 (next year), I want to be able to say "No device lambdas == No CUDA Node Compilation."  For now, we'll have some (non-device) fallback code that will work corre

[2017-08-09 16:11] mhoemmen commented on #1278
Mainly I want somebody to tell us what the requirements are.  The only application that has actually imposed a requirement is Sierra, which tests with CUDA 8.0.  Are there applications running on Titan that need CUDA 7.5 to work?  @rppawlo , would you happen to know?

[2017-08-09 16:12] csiefer2 commented on #1278
Albany on Titan

[2017-08-09 16:14] mhoemmen commented on #1584
@ndellingwood Sierra has the version of UMFPACK in question; you could copy it out of sierra/code/TPLs_src.  Otherwise, I'm not sure how to get it.

[2017-08-09 17:28] mhoemmen commented on #1278
I just sent an e-mail to @ikalash to ask about Albany requirements.

[2017-08-09 17:38] ikalash commented on #1278
Tagging @jewatkins, the primary person who is running / developing CUDA code these days.  We are not currently running Albany on Titan GPUs and haven't in awhile.  @jewatkins and I were not planning to run on Titan + GPUs b/c they are old (K20s) but rather wait till CY2018 for access to the new ORNL machine, Summit.  I imagine that one will have support for CUDA >= 8.0.  @mperego, as the PISCEES2

[2017-08-09 18:25] mhoemmen commented on #1584
@ndellingwood Thanks for the phone conversation!  Please refer to Sierra ticket 17494 for discussion.

[2017-08-09 19:13] jhux2 commented on #1278
Wait, does this mean not worrying about maintaining backwards compatibility for 7.5 on Titan?  @csiefer2

[2017-08-09 21:39] jwillenbring commented on #1157
We decided today to not create a second VM for now, but rather to set up the first VM as a Jenkins slave and use that for the purposes of both VMs unless that proves inadequate.

[2017-08-09 22:37] aprokop commented on #1589
I have a patch in-progress, will submit a PR soon.

[2017-08-09 23:08] mhoemmen commented on #114
@kddevin wrote:

Yes :-) .

[2017-08-09 23:09] ambrad commented on #1589
Thanks @aprokop. BTW, BTF = block triangular form. A typical matrix has a range of very small to very large blocks on the diag and dependencies on these blocks that are a tree (and thus give a block tri rather than a general matrix). Rather than factorize such a matrix monolithically, Basker orchestrates threading over factorizations of each block, then doing a solve with the triangular structure.

[2017-08-09 23:17] mhoemmen commented on #1278
I e-mailed @maherou to ask if applications besides Albany need the latest version of Trilinos, and need to run on Titan.

[2017-08-09 23:18] ikalash commented on #1278
@jhux2 : I would say yes, we don't need to worry about CUDA + Titan, but I will confirm this Monday when we have a PISCEES2 project meeting.  I would be extremely surprised if any other application in Albany besides FELIX ever ran on Titan.  @ibaned , can you please confirm?

[2017-08-09 23:31] mhoemmen commented on #1278
@tawiesn , would you happen to know if your colleagues at TUM need CUDA 7.5?

[2017-08-09 23:54] maherou commented on #1278
It would be prudent to ping at least one Titan and Tpetra users.  Tom Evans leads the ExaSMR project for ECP.  He might be able to inform our choices.  I will forward this thread to him.

[2017-08-10 00:33] dridzal commented on #1561
@wil-england , we've examined the output that you emailed, and it appears fine for the most part.  The range of finite difference steps may not be ideal for this problem setup but we do see the expected decrease / increase in the absolute error for the various quantities.  We also see that the Jacobian checks are passing, which means that ROL is not zeroing the vector inadvertently within these me

[2017-08-10 14:32] aprokop commented on #1589
Pushed in c0d440c2c7.

[2017-08-10 14:32] #1589 closed

[2017-08-10 15:37] ibaned commented on #1303
@bartlettroscoe wrote:

This PR has been merged, but we still get warnings of Teuchos throwing from destructors. In particular, `~ActiveRCPNodesSetup()`, `~RCPNodeTmpl()`, and `~RawWorkspace()` all may throw exceptions when `TEUCHOS_DEBUG` is defined.

Can we please prioritize getting rid of those throws? Should they be replaced with abort calls?

PS - the log from compiling Trilinos for Albany is

[2017-08-10 16:45] mhoemmen commented on #1278
@rppawlo says, "The higher the CUDA version the better," and "... using lambdas pretty heavily."

[2017-08-10 17:22] jwillenbring commented on #1278
The xSDK, of which Trilinos is a part, builds on Titan, but the current target build I don't believe uses CUDA. I can't speak for future plans specifically. The modules loaded currently are:

module load modules
module swap PrgEnv-pgi PrgEnv-gnu
module swap gcc gcc/5.3.0
module load cmake3
module load cray-hdf5-parallel/1.8.14
module load mercurial

[2017-08-10 18:39] ndellingwood commented on #1584
Thanks @mhoemmen and @rrdrake for help getting a copy of UMFPACK 4.1.
I tested locally with UMFPACK 4.1 with @MicheldeMessieres PR #1591 and separately with the develop branch of Trilinos, builds and tests all pass in both cases.
Since the changes only affect Amesos2 with UMFPACK enabled, which is not tested in nightlies or by the checkin test script I'm assuming its safe for me to merge the PR wi

[2017-08-10 18:48] ndellingwood commented on #1584
For reference issue #1255 contains discussion for adding UMFPACK support (and SuperLU, SuperLU-Dist) for nightly testing

[2017-08-10 19:08] kvmkrao commented on #734
I ran this example -diagonal CG solver (packages/belos/tpetra/example/) on Hansen. It was observed that  the solver time on GPU nodes is less compared to that on Haswell nodes.

Haswell nodes | Solver time in sec
-- | --
1 (32 MPI) | 17.18
2 (64 MPI ) | 13.06
3 (96 MPI) | 9.436

The solver time on K80 GPUs is

GPU nodes | Times in sec
-- | --
1 (4MPI, 1 GPU) | 4.569
2 (8 MPI, 2 GPUs) | 2.338
3 (16

[2017-08-10 19:12] ibaned opened #1596 "ROL_test_sol_checkAlmostSureConstraint_MPI_1 Timeout"
I'm trying to use the checkin script and getting a ROL test timeout:
[code]
Positive my change can't affect ROL...

@trilinos/rol @trilinos/framework

[2017-08-10 19:20] ibaned commented on #734
@kvmkrao could you please open a new issue for this?

As for your question, my guess is that `host_view_type` may be ill-defined. I would just replace it with `auto` and let the compiler do the thinking (it likely has to do with the fact that `View` uses opposite layouts on the CPU and GPU by default...).

[2017-08-10 19:29] kvmkrao opened #1598 "wrapTpetraSolver example for solving tri-diagonal linear system"
I ran this example -diagonal CG solver (packages/belos/tpetra/example/) on Hansen. It was observed that  the solver time on GPU nodes is less compared to that on Haswell nodes.

Haswell nodes | Solver time in sec
-- | --
1 (32 MPI) | 17.18
2 (64 MPI ) | 13.06
3 (96 MPI) | 9.436

The solver time on K80 GPUs is

GPU nodes | Times in sec
-- | --
1 (4MPI, 1 GPU) | 4.569
2 (8 MPI, 2 GPUs) | 2.338
3 (16

[2017-08-10 19:42] dridzal commented on #1596
This is strange error that we've been trying to debug for some time now.  The algorithm behaves differently with one or two compiler versions.  It works fine for most compiler versions.  Can you run this test separately and paste the output below?  The last 10 or so lines of output should suffice (after the algorithm starts).  Thanks.

[2017-08-10 20:12] kvmkrao commented on #734
@ibaned Thank you. Opened a new issue for this.

I replaced host_view_type with auto and recompiled the code. And, it did not solve the problem.
Sorry,  I forgot to post the code with HostMirror  statement in the previous post.
[code]

Sure, the default memory layouts are different on CPU and  GPU. Therefore, I explicitly specified them in the code.
[code]

These statements did not work and result

[2017-08-10 20:26] bartlettroscoe commented on #1596
@ibaned,

This test is shown as currently passing in the standard CI build at:

* https://testing.sandia.gov/cdash/viewTest.php?onlypassed&buildid=3048656

and it passes in under 2 sec.

That suggests that the test might have some memory issues and might be taking advantage of some some undefined behavior.

I saw you did a forced push in your commit:

[code]

That is okay in this case.  But in gen

[2017-08-10 20:35] ibaned commented on #1596
Well, I just ran it 5 more times from the build generated by the checkin test, and there is non-deterministic behavior. The very first run actually passed in 25 seconds, while the four runs after that failed in around 280 seconds. Here is a tarball of output text from both runs:
[rol_runs.tar.gz](https://github.com/trilinos/Trilinos/files/1216260/rol_runs.tar.gz)

@bartlettroscoe the link you sent

[2017-08-10 20:48] lucbv opened #1599 "missing Kokkos_OpenMPNode in xpetra"
@trilinos/xpetra @trilinos/muelu
While working on an unrelated (#1597) pull request I discovered that Xpetra does not compile if the following configuration is chosen:
[code]
This might happen if you want openmp with the Epetra stack.
The problem is that in ```xpetra/src/FakeKokkos``` a class is missing for ```Kokkos_OpenMPWrapperNode``` which then create problems with typedef of EpetraNode.
A sim

[2017-08-10 20:51] bartlettroscoe commented on #1596
@ibaned,

You are correct.  Sorry.  I grepped the wrong test.

I agree.

@dridzal, we can remove this test only for the checkin-test.py script.  That way, these tests will show up in other CDash builds (including all local builds) but will not impact the robustness of the pre-push testing.

[2017-08-10 21:00] ndellingwood commented on #1584
PR #1255 is merged. Tested locally with complex double on/off and umfpack 4.1.

[2017-08-10 23:22] dridzal commented on #1596
This example does not use a nondeterministic random number generator.  @bartlettroscoe , please feel free to disable this test for the checkin-test.py script in the develop branch.

[2017-08-10 23:25] kddevin commented on #1588
@mndevec How urgent is this request?  Is it something we should keep in mind in Fy18 as we plan the Tpetra refactor?  Or is it something that needs to be addressed more quickly?  (You mentioned an Aug 20 date.)
Thanks!

[2017-08-10 23:38] mndevec commented on #1588
This is not an urgent issue, there is no runtime or compile time failures caused by this currently.

As Mark pointed out, the issue is because of the move of kernels out of Tpetra. The namespace Impl is intended to be private in the package. However, currently there are Impl functions in KokkosKernels that is not used anywhere in the KokkosKernels, but only used by Tpetra.

Couple of those Impl fu

[2017-08-10 23:48] sphamil commented on #1278
I'll speak on behalf of Tom Evans.  I don't think we have an objection to Trilinos requiring CUDA 8.  We use Trilinos, but we don't use the CUDA implementation currently.  Our GPU-capable routines are currently using raw CUDA with the linear algebra done on the CPU.  Hopefully we'll be moving to a Kokkos implementation at some point, but it's not likely during Titan's lifetime.  So don't hold back

[2017-08-10 23:51] sphamil commented on #1278
Also, in case it's potentially relevant for the decision making, the SciComp group at ORNL seems pretty optimistic that they'll have CUDA 8 on Titan by the end of the calendar year, so it might not be an issue for Titan's entire life.  It sounds like Nvidia is stepping up and trying to help with the upgrade even if Cray doesn't help out.

[2017-08-11 00:09] ibaned commented on #1278
@mperego also told me today that PISCEES2 doesn't need CUDA 7.5 either, so Albany isn't an issue either

[2017-08-11 13:41] bartlettroscoe commented on #1303
I will try to get this when I get back from vacation the week of 8/28.

[2017-08-11 14:07] ibaned commented on #1596
Confirmation of instability by the CI system:
https://testing.sandia.gov/cdash/testDetails.php?test=40585145&build=3048731

[2017-08-11 14:44] bartlettroscoe commented on #1304
There is a new failing ROL CI test `ROL_test_sol_checkAlmostSureConstraint_MPI_1` that was pushed last night shown here:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3048691&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

This failure was triggered by one of the commits:

[code]

s

[2017-08-11 14:57] bartlettroscoe commented on #1304
Wow, my push shown below just this morning dogged the failing ROL test because ROL as no dependency on STK.  Others will not be so lucky.  I am in the process of running the checkin-test-sems.sh script to disable this failing ROL test for the CI build (but no other builds).

[code]

[2017-08-11 15:24] bartlettroscoe commented on #1596
I just pushed the commit:

[code]

I tested the configure with the checkin-test-sems.sh build and it shows:

[code]

@dridzal,

Once this test can be fixed, it can be re-enabled for CI testing.

[2017-08-11 15:33] bartlettroscoe commented on #1304
I just pushed a commit to disable this failing ROL test in the CI build (see https://github.com/trilinos/Trilinos/issues/1596#issuecomment-321843345).  However, it will not be in time to help @ikalash who looks to be running the checkin-test-sems.sh script right now on ceerws1113 trying to push.  Her push will likely be blocked due to this failing test.  But all she needs to do is to run it again

[2017-08-11 15:40] bartlettroscoe commented on #1596
NOTE: the standard CI build has that test failing and not just timing out as shown by:

* https://testing.sandia.gov/cdash/testDetails.php?test=40585145&build=3048731

[2017-08-11 15:42] bartlettroscoe commented on #1155
Any recent update on this?  I will be gone on vacation for the next 2 weeks and I fear a breakdown of the CI process using the checkin-test-sems.sh script (see #1304).   The above comment from 24 days ago said that it should have been ready to test about 15 days ago or so.

[2017-08-11 15:43] ibaned commented on #1596
Yep. when this test goes wrong it outputs the wrong answer, and takes close to the timeout time to do so. I ran it on a more heavily loaded machine which I guess pushed it up from 280 seconds to the timeout of 300 seconds.

[2017-08-11 21:19] bartlettroscoe commented on #1155
As described in https://github.com/TriBITSPub/TriBITS/issues/214#issuecomment-321908781 you should have everything you need from CMake/CTest and TriBITS to implement this.  Improvements can be made from there (like embedding the exact CDash URL but you can always give the genertic URL and you can give the SHA1 in the build name so it is easy to find).  Let's set up a meeting between @allevin and m

[2017-08-11 22:01] mhoemmen commented on #1278
Thanks @sphamil !  It's super helpful to know this.

Trilinos folks: Do we just want to assume CUDA 8.0, or do we want a more formal process, like a release or tag that marks the last promise of CUDA 7.5 support?

[2017-08-11 22:02] mhoemmen commented on #1584
Thanks @ndellingwood ! :D

[2017-08-11 22:03] mhoemmen commented on #1599
@lucbv I've seen something like this too.

[2017-08-11 22:15] mhoemmen commented on #1598
@kvmkrao wrote:

It should _work_, but there are likely faster algorithms if you want to solve only tridiagonal linear systems.

Could you please post the CMake options that you used to build Trilinos?  Please put them in a code block, with three back quotes,
[code]

[2017-08-11 22:16] mhoemmen commented on #734
Just for future reference, the new issue (build errors in test) is #1598.

[2017-08-11 22:55] tawiesn commented on #1278
@mhoemmen

They certainly want to use Kokkos at some point. As far as i know there are no specific constraints with respect to the CUDA version (the newer the better, i guess).

[2017-08-11 22:59] tawiesn commented on #1278
@mhoemmen

I would vote for something formal. This is certainly an important information for external users of Trilinos which CUDA version they need. There should be a place, where the exact minimum version requirements for CUDA (and also other TPLs are listed). I think we had already discussions about this at some TUG meetings.

[2017-08-12 00:04] kvmkrao commented on #1598
I thought of changing this example to solve a tri-diagonal linear system. And, modify this further to solve a penta- and septa - diagonal linear system.  I am using a code (please see the attachment) to solve a penta-diagonal linear system. I ran this code on KNL, Haswell and GPU nodes. And, observed that the solver time on Haswell node is  better compared to GPU as well as KNL nodes. Therefore, I

[2017-08-12 14:10] bartlettroscoe commented on #1304
CI build was clean again as yesterday in the first CI build:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3050229&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

However, it just got broke again.  I will comment on that in the next comment.

[2017-08-12 14:36] bartlettroscoe opened #1600 "Ifpack2 tests broken in standrd CI build starting 8/11/2017"
**CC:** @trilinos/framework, @trilinos/intrepid2, @kyungjoo-kim

**Description:**

The package Intrepid2 is now showing a build failure in the CI build with the first breaking CI iteration yesterday shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3050255

The build failures shown at:

* https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3050256

show:

[c

[2017-08-12 14:39] bartlettroscoe commented on #1304
The CI build was passing for all of 6 hours before it was broken again with an Intrepid2 test build failure (see #1600)  shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3050255

While this test build failure in Intrepid2 persists, anyone trying to use the checkin-test-sems.sh script to push changes to the following upstream packages from Intrepid2 will have their

[2017-08-12 14:45] bartlettroscoe commented on #1600
I am going to update TriBITS to allow the disable of just a single executable and then externally disable this test build for just the CI build.  That way, this failure will not trip up anyone trying to use the checkin-test-sems.sh script to push to:

* Kokkos Teuchos KokkosKernels RTOp Sacado Epetra Shards Triutils Tpetra TrilinosSS EpetraExt Thyra Xpetra Galeri Amesos

Then the Intrepid2 develop

[2017-08-12 16:10] bartlettroscoe commented on #1600
I just pushed the commit 00bca6466f45588d0df3311b12ce795162259e7b:

[code]

This only impacts the standard CI build.  The test will still be enabled for all local builds and other nightly builds on CDash.

To revert this disable and then reproduce and fix the issue, please do:

[code]

Then do the [standard CI build](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) for

[2017-08-12 16:12] bartlettroscoe commented on #1304
I surgically disabled just that one failing Intrepid2 test as described at https://github.com/trilinos/Trilinos/issues/1600#issuecomment-321990301.  The next CI iteration should be clean.

I also provided full instructions on how to revert the disable, fix the failure, and push using checkin-test-sems.sh to avoid another breakage of the CI build.

[2017-08-12 16:16] bartlettroscoe commented on #1304
BTW, as discussed [above](https://github.com/trilinos/Trilinos/issues/1304#issuecomment-318357060), the problematic CI build `Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_CI` has been disabled as of 8/10 as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Continuous&field2=build

[2017-08-12 17:15] bartlettroscoe commented on #1304
The CI build for Inprepid2 is clean again as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3051729

You can see that Intrepid2 test being disabled at:

* https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3051730

which shows:

[code]

And you can see a "-1" for the number of "Not Run" tests for Intrepid2 shown at:

* https://testing.sandia.gov/cdash/ind

[2017-08-13 22:07] mhoemmen commented on #1278
Just to clarify, "formal" means "a release or tag that marks the last release supporting CUDA 7.5."  That's different than just stating the CUDA version requirement explicitly.  We should always do the latter :-) .

[2017-08-13 22:16] mhoemmen commented on #1598
@kvmkrao Here are some tips and questions:

  1. If you are using MPI, don't set `CMAKE_C_COMPILER` or `CMAKE_CXX_COMPILER`.  If the MPI binaries (e.g., `mpicxx`) are in your PATH, then you only need to set `TPL_ENABLE_MPI:BOOL=ON`.  If they are not in your PATH, then it generally suffices to set `MPI_BASE_DIR` to the base directory of your MPI installation.
  2. Don't specify `CMAKE_CXX_FLAGS` ex

[2017-08-13 23:29] mhoemmen commented on #1598
Oops, I must have let my access to Hansen slip; my login doesn't work.  I'll reapply, but in the meantime, you could try the White testbed; there are more GPUs on that one.  Let me know if you get the above build working on Hansen.

[2017-08-13 23:31] ndellingwood commented on #1495
Merge PR #1532, should be fixed by @brian-kelley's. Should wait to close until nightly testing results come back clean.

[2017-08-13 23:33] ndellingwood commented on #1304
Merged @brian-kelley PR #1532 regarding the Amesos2 failures. This is also tracked in #1495.

[2017-08-14 03:13] eric-c-cyr opened #1601 "Panzer: Build failures with AdaptersIOSS on/Zoltan2 off"
I get a reasonable build failure for this case (can't find a Zoltan2 file). If a user is not using Zoltan2, can we disable the building of AdaptersIOSS? What is the right approach here?

[2017-08-14 03:13] eric-c-cyr commented on #1601
Also the file it can't find is: Zoltan2_findUniqueGids.hpp

[2017-08-14 03:32] mhoemmen commented on #1571
@ibaned PR #1602 proposes a fix.

My only concern is that it currently forces Tpetra to decide whether MPI is CUDA aware at configure time.  Some MPI implementations, like MVAPICH (see http://mvapich.cse.ohio-state.edu/userguide/gdr/2.2/ ), let users control this at run time, by setting an environment variable.  This means that Tpetra may also need run-time environment variable control.  However,

[2017-08-14 14:53] kyungjoo-kim commented on #1600
I am sorry that I did not use checkin test and did not find out the missing file in the commit. It is fixed now.

[2017-08-14 14:55] william76 commented on #1600
This is also affecting the clean and nightly builds:

- https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-08-14

As I was typing this I saw that @kyungjoo-kim has put in a fix.

[2017-08-14 14:56] #1600 closed

[2017-08-14 15:46] jmgate opened #1603 "Panzer: Addition to PureBasis"
@ssmabuza requested the addition of a local matrix layout to the PureBasis class.
@trilinos/panzer

[2017-08-14 16:58] ambrad opened #1604 "Ifpack2: UnitTestSingleProcessRILUK's tests for (alpha, beta) cases tests only default case."
@trilinos/ifpack2: The unit test calls
[code]
for the various cases, but not
[code]
I believe the second is what was intended. Fix this to get coverage of these non-default cases. This was discovered in the course of PR #1594.

[2017-08-14 17:00] rppawlo commented on #1601
about to push fix

[2017-08-14 17:08] nmhamster opened #1605 "MueLu Library Truncation with Intel 17.0 Series on KNL with Debugging"
@trilinos/muelu - guys I am getting the library truncation error again:

[code]

This is using Intel 17.0.098 compiler developer pack on our KNL test beds. If you recall, turning on debugging with the '-g' flag and asking for both OpenMP and Serial backends causes this to break. Unfortunately, I need both backends because they are both explicitly used by the application. This error occurs because

[2017-08-14 17:12] jhux2 commented on #1605
@nmhamster Can you tell us what the largest objects files in the library are?  If it's just a few files, maybe we could see if those could be broken up.

[2017-08-14 17:13] brian-kelley commented on #1367
I just made the pull request for this issue: #1606. @pwxy, the thread scaling results I measured are very good compared to what existed before (100K rows, 100 nz per row, avg over 100 trials on bowman KNL):
Threads-------MatrixMatrix::add() Time (sec)
1 5.3481871
2 2.7995903
4 1.4830135
8 0.8161387
16 0.5162359
32 0.3524023
64 0.23034902

[2017-08-14 17:14] brian-kelley commented on #1367
@jhux2 Would you like me to add you as a reviewer? Anyone else I should add?

[2017-08-14 17:20] jhux2 commented on #1367
@brian-kelley Yes, please do.  You've already got the two reviewers I would have suggested.

[2017-08-14 17:23] mhoemmen commented on #1605
@nmhamster If I had my way, Tpetra would have exactly one "Node" type and would hide all those details inside....

[2017-08-14 17:30] aprokop commented on #1605
@jhux2 Did not you fix that in `develop` (commit 5470ba5ce8dc2a04e84e04c7ed7e93c4fe2562f9) already?

[2017-08-14 18:12] rppawlo commented on #1544
We deprecated the names() and names() methods on the DataLayout interface as part of this issue, but applications were making logic decisions based on tag names. Needed to restore this to the API.

[2017-08-14 18:15] jhux2 commented on #1605
I fixed the warning, but that's not what @nmhamster is reporting as the problem ....

[2017-08-14 18:54] mhoemmen commented on #1571
I pushed a fix to develop.  Thanks @ibaned ! :D

[2017-08-14 18:54] #1571 closed

[2017-08-14 19:05] kyungjoo-kim commented on #968
This is done now as we have real tests in tacho.

[2017-08-14 19:05] #968 closed

[2017-08-14 19:15] rppawlo commented on #1601
Should be fixed.

[2017-08-14 20:10] kvmkrao commented on #1598
@mhoemmen Thanks a lot for your tips.
I modified the configuration file as per your suggestions and it is as follows:
( Modifications:
1. The cmake options to specify the C_ and CXX_ compiler paths have been removed.
2. Removed  CXX_FLAGS.
3. Turned on OpenMP (Trilinos_ENABLE_OpenMP=ON).
4. The TPLs used in this build are BLAS and Lapack. The packages considered in this build are Teuchos, Tpetra,

[2017-08-14 22:07] mhoemmen commented on #1598
[code]
Looks like you're trying to assign a 2-D Kokkos::View (`double**`) to a 1-D Kokkos::View (`const double*`).

[2017-08-14 22:11] mhoemmen commented on #1598
I don't see that the line numbers in your posted file match those in `wrapTpetraSolver.cpp`, the file that you modified.  Could you repost or post a link?

It looks like you got the build to work correctly on both Hansen and White, and the issue is in the example code that you modified.  Is that correct?

[2017-08-14 22:51] kvmkrao commented on #1598
@mhoemmen
I have added/modified some lines in wrapTpetraSolver.cpp. Therefore, there is a mismatch in line numbers in the actual code and the modified code. Please see the modified code attached with this comment.

Correct @mhoemmen. I installed it without errors on Hansen as well as white. Yes, Sir. There is an issue with the modified code. Thanks.
[wrapTpetraSolver_mod.txt](https://github.com/tr

[2017-08-14 23:20] lucbv commented on #1599
As far as I can see MueLu now compiles just fine with Epetra only and OpenMP enabled so I will close this issue.
Thanks @tawiesn

[2017-08-14 23:20] #1599 closed

[2017-08-14 23:28] mhoemmen commented on #1598
@kvmkrao Thanks for posting the updated code.  Line 716 assigns `diag_d`, a 2-D Kokkos::View (see line 696 for the declaration of `diag_d`), to `diag_`, a 1-D Kokkos::View (see line 760 for the declaration of `diag_`).  You can't do that.

It looks like you want `diag_` to store the local tridiagonal matrix.  This means that `diag_` must be a 2-D Kokkos::View (e.g., `View<const double**, device_ty

[2017-08-14 23:33] ambrad commented on #1604
New test would have caught the RILUK::apply() bug. Will soon run checkin script.

[2017-08-14 23:47] jmgate commented on #1603
Changes pushed to `develop` and ready for use.

[2017-08-14 23:47] #1603 closed

[2017-08-15 14:53] jmgate opened #1607 "Panzer: Unit Test Local Matrix Layout"
A new local matrix layout was added to the PureBasis class in #1603, but no corresponding unit testing was added.  As per @rppawlo's suggestion:

@trilinos/panzer

[2017-08-15 15:15] jmgate opened #1608 "NOX: Treat Exception as Solve Failure"
Charon has run into an issue where in the midst of a LOCA continuation run a preconditioner winds up throwing an exception.  It would be ideal for this instance to be treated as a solve failure such that LOCA could back up, decrease the step size, and keep on going.  We may be able to accomplish this by adding some exception handling logic to `NOX::Thyra::Group::updateLOWS()`, and then modify that

[2017-08-15 15:16] jmgate commented on #1608
Email from @jmgate to @etphipp:

[2017-08-15 15:16] jmgate commented on #1608
Response:

[2017-08-15 15:17] jmgate commented on #1608
Response:

[2017-08-15 15:17] jmgate commented on #1608
Response:

[2017-08-15 15:18] jmgate commented on #1608
Response:

[2017-08-15 15:19] jmgate commented on #1608
Response:

[2017-08-15 15:20] jmgate commented on #1608
At this point I'm waiting on Suzey Gao to return from vacation so I can get my hands on her actual example.  Once I have it I can start experimenting with catching the exception in `NOX::Thyra::Group::updateLOWS()` and figuring out how we can use that to indicate a solve failure.  I'll submit a pull request once I have something working so we can decide if it's the right way to go.

[2017-08-15 15:22] jmgate commented on #1558
Does anyone know if @trilinos/stk actually uses Trilinos' issue tracker?  Should I be filing this issue elsewhere?

[2017-08-15 15:29] rppawlo commented on #1608
So after our discussion yesterday with Teko team, I think what we really need is to add a generic exception in Thyra or Stratimikos that all preconditioners can use to throw if they encounter a catastrophic failure. Then we could put into the NOX or LOCA a catch on this particular exception that allows LOCA to cut the continuation step and restart the solver.  The reason I would like a specific ex

[2017-08-15 15:40] jmgate commented on #1608
Yes, that sounds good to me.

[2017-08-15 15:57] william76 opened #1609 "Rythmos: Rythmos_StepperBuilder_UnitTest_MPI_1 failing on Continuous Build"
@ccober6

Rythmos_StepperBuilder_UnitTest_MPI_1 is failing in the CI builds: https://testing.sandia.gov/cdash/testDetails.php?test=40676919&build=3056752

### Test output
[code]

[2017-08-15 15:58] rppawlo opened #1610 "Phalanx: explicit support for dynamic sizing"
Phalanx currently support dynamic sizing in an implicit manner. This issue will add explicit support for dynamic sizing so that it is easy for all users to access. This requires changes to code so that the FieldTag and DataLayouts can be stored non-const. Prior to this, Phalanx always treated tags and layouts as const data supplied by the user.

[2017-08-15 15:59] rppawlo commented on #1610
@trilinos/phalanx
@eric-c-cyr

[2017-08-15 16:57] mhoemmen commented on #1558
@jmgate They do pay attention to Trilinos' issue tracker, but don't necessarily use it for new issues.  Also, GitHub notifications have been weird lately.  I'll send you a link to their issue tracker via work e-mail.  Thanks!

[2017-08-15 19:35] dridzal commented on #1303
Thanks Ross, sounds great.  Just wanted to add that for a package like ROL, resolving this issue would help us focus on important compiler warnings.  As we sit downstream of pretty much everything in Trilinos, there are thousands of these warnings when compiling ROL, and any other potential warnings are completely swamped by

[code]

[2017-08-15 19:45] kddevin commented on #1588
Clarification:  Needed before Q1 FY18 KokkosKernels release.  The next update is around October or November timeframe. We have an ECP milestone for release of v 1.0 in Q1 FY 2018.

[2017-08-15 20:05] lucbv commented on #1304
@bartlettroscoe is it possible to have the checkin-script set ```$OMP_PROC_BIND=false``` when running the tests?
It took me a couple tries to realize that having ```$OMP_PROC_BIND=true``` was the reason behind timing out on most of the tests when run with mpi.

[2017-08-15 20:43] jmgate opened #1611 "Panzer: Tpetra Gathers"
In #615, all of Panzer's Epetra Gathers were switched over to the new way of doing things with `GlobalEvaluationData`s that have non-overlapping owned and ghosted vectors.  The same needs to be done for Panzer's Tpetra Gathers.
@trilinos/panzer

[2017-08-16 15:07] anates opened #1612 "Amesos_Superlu fails during compilation"
Compilation using GCC-6.3.0 with the current version of SuperLU and Trilinos, I am getting the errors

Is that a known bug, or did I do something wrong?

[2017-08-16 16:00] bavier commented on #1612
This is a known limitation.  See https://github.com/trilinos/Trilinos/pull/411

[2017-08-16 16:16] bmpersc commented on #1609
@ccober6 At the Trilinos Framework meeting today we decided to disable the gcc 4.7.2 continuous build and replace it with a gcc 4.9.3. So far this test error has only shown up on 4.7.2 builds so there is a possibility it is related to that compiler which Trilinos is no longer supporting. If that is the case we don't want to make you hunt down the issue any further than you already have. The 4.9.3

[2017-08-16 16:54] jmgate commented on #1608
@rppawlo, do you have a guess as to how long it might take to build in this generic exception to Thyra/Stratimikos?  Just need to figure out if I tell Charon to wait a week or give everyone a patch to tide them over.

[2017-08-16 17:38] anates commented on #1612
Any suggestion for a fix? Should I exclude SuperLu, or Amesos?

[2017-08-16 17:48] mhoemmen commented on #1612
@trilinos/amesos

[2017-08-16 18:00] bavier commented on #1612
@anates You could apply the patch in #411 locally.

[2017-08-16 18:33] jmgate commented on #1548
@rppawlo, @eric-c-cyr, in working on this task I've found a handful of

[code]

in the global namespace in our files.  Questions:

1. Do we want these `using namespace` directives in our code?  I've always heard that was a bad thing.  I could replace them with particular `using Sacado::mpl::placeholders::thing`s for whatever we actually need to use.
1. If we do, I assume we want those directives w

[2017-08-16 19:09] pwxy opened #1613 "Issues with TentativePFactory for "use kokkos refactor"=true on KNL?"
I built drekar for develop Trilinos (cloned repo early Mon Aug 14 morning).

I built on ellis for KNL with intel 17 compiler
with the following cmake options
[code]

the MueLu setup time for the drekar run was 14.6 sec for 1 MPI with 16 OMP threads.

I then added:

`<Parameter name="use kokkos refactor"   type="bool"  value="true"/>`

to the MueLu parameter list

and the MueLu setup time increased

[2017-08-16 19:12] jhux2 commented on #1613
@pwxy Something appears to be missing from your comment "I then added ...".

[2017-08-16 19:19] aprokop commented on #1613
@jhux2 "use kokkos refactor" set to true was added (by @pwxy )

[2017-08-16 19:21] aprokop commented on #1613
@jhux2 Do we have any performance results in MueLu team after @tawiesn refactored the `TentativePFactory`?

[2017-08-16 19:24] jhux2 commented on #1613
@jjellio has timings for scalar PDEs.  Perhaps he can comment.

[2017-08-16 19:37] jhux2 commented on #1613
@pwxy @aprokop Btw, we know that the QR is not optimized.  I'll bet that @jjellio did not see this, precisely because he was running the scalar PDE case.  Batched QR is something that might be provided by KokkosKernels.

[2017-08-16 19:50] eric-c-cyr commented on #1548
In general, I'm okay if they are not in a user header file (the injection into the global namespace is not practically realized). Though sometimes in template meta programming you need these. So if it builds without the using statement, I'd say its fine to remove it.

[2017-08-16 22:07] ikalash opened #1614 "Trilinos compilation error due to missing aprepro.h header"
I just pulled a recent develop Trilinos and am getting the following compilation error:

/home/ikalash/nightlyAlbanyTests/Results/Trilinos/packages/stk/stk_util/stk_util/parallel/mpi_filebuf.cpp:43:21: fatal error: aprepro.h: No such file or directory
 #include <aprepro.h>
                     ^
compilation terminated.

I believe this is due to commit e15b6358a6aa24d080ef9840816d1c3c47df5fd8 by @g

[2017-08-16 22:17] bmpersc commented on #1614
@ikalash this is related to the update of stk and seacas I did earlier today. I will look into it. Your report doesn't state this, but I'm assuming you are getting this when you build against an installed Trilinos. Is this correct?

[2017-08-16 22:22] bmpersc opened #1615 "STK tools tests failing on continuous build"
@trilinos/stk The test <> is failing in the 4.8.4 continuous build which happens to be a debug build. You can see the error at:

https://testing.sandia.gov/cdash/testDetails.php?test=40704777&build=3058880

This was not appearing on a release(opt) build with the gcc 4.9.3 compiler before it was pushed. This could be an issue with either gcc 4.8.4 or more likely debug mode.

[2017-08-16 22:23] bmpersc commented on #1615
I will be disabling this test until we can get a better handle on what the issue is. In the mean time I don't want it to impact the clean nightly builds.

[2017-08-16 22:26] ikalash commented on #1614
No, I encountered this while building a new Trilinos after pulling the develop branch.

[2017-08-16 22:35] bmpersc commented on #1609
@ccober6 the continuous is no longer showing this issue anymore now that it has been updated to 4.9.3. I am going to close this as I don't think that fixing the 4.7.2 problem is important. If we notice this issue again, in the off chance this is an intermittent issue, we will reopen this issue with any new information.

[2017-08-16 22:35] #1609 closed

[2017-08-16 23:41] bmpersc commented on #1614
@ikalash I think I see the problem, there was a very unusual preprocessor protection put in around the include of the aprepro headers "#if !defined(NOT_HAVE_STK_SEACASAPREPRO_LIB)" I can't tell why and it seems the necessary define is never set anywhere so the aprepro headers are still included always, which was the previous behavior. Aprepro is an optional dependency of stk_util so I'm guessing t

[2017-08-16 23:48] ibaned commented on #1614
The Kokkos team is trying to do a promotion into Trilinos today... is it possible in the future to use the `checkin-test-sems.sh` script to push things like SEACAS and STK snapshots? Kokkos does this.

[2017-08-17 00:00] bmpersc commented on #1614
@ibaned This isn't the right place to discuss the details of the checkin test script, but the answer is a strong no and it wouldn't have caught this anyway since aprepro had changed it would have been enabled by that tool anyway.

[2017-08-17 00:11] ikalash commented on #1614
@bmpersc : thanks.  I just tried it out and adding -DTrilinos_ENABLE_SEACASAprepro_lib:BOOL=ON does fix the compilation error I was seeing.  I will add it for now to the Albany nightly Trilinos test scripts so the nightlies don't fail.

[2017-08-17 07:33] anates commented on #1612
Added that patch, did not fix the problem.

[2017-08-17 08:57] anates commented on #1612
Fixed it by directly applying the #define-directives in the two cpp-files.

[2017-08-17 09:04] anates opened #1616 "Amesos2-compilation combined with MUMPS fails"
Compiling Amesos2 together with MUMPS fails with error messages:

Is there a fix I can apply?

[2017-08-17 16:13] ndellingwood commented on #1584
@prwolfe I wanted to follow up and see if the merge PR was able to resolve the issue you were seeing?

[2017-08-17 17:36] mhoemmen commented on #1616
@trilinos/amesos2

[2017-08-17 19:24] mhoemmen opened #1618 "Xpetra: BlockedCrsMatrix test failure (check-in tests)"
@trilinos/xpetra @trilinos/muelu
[code]

[2017-08-17 19:27] mhoemmen commented on #1618
Weird verbose test output:
[code]

[2017-08-17 19:29] tawiesn commented on #1618
@csiefer2 Does your latest commit 65b1fdc934709b7c fix this?

[2017-08-17 20:17] jmgate commented on #1548
@eric-c-cyr, I was able to take out the `using`s and everything compiled and ran just fine.

[2017-08-17 20:20] jmgate commented on #1276
This will get taken care of with the work on #1575.

[2017-08-17 20:20] #1276 closed

[2017-08-17 23:02] jhux2 opened #1619 "Suggestion: change to issue labeling"
While trying to resolve a linker problem, I stumbled across the https://github.com/Unidata/netcdf-c/issues page.  As you can see, that project prefixes labels with categories.  I think Trilinos should consider adopting a similar format for labels.

[code]

I believe this would help authors better categorize the issues, and make searching easier.

[2017-08-17 23:59] crtrott commented on #1614
I also just ran into this thing ..

[2017-08-18 00:04] ndellingwood commented on #1616
@anates I just pushed a fix that should work, can you try building again and let me know if this fixed the issue for you?

[2017-08-18 00:12] ndellingwood commented on #1616
@anates The fix is in the develop branch of Trilinos by the way (I didn't say that in previous message).

[2017-08-18 00:20] ndellingwood commented on #379
PR #1620 issue to partially address this issue (Amesos2 enhancement to use SuperLU 5.0); PR #411 merged in with the PR with Amesos and Cmake fixes by @bavier and @nschloe

[2017-08-18 07:39] anates opened #1621 "Zoltan2 with parmetis"
Cmake reports
[code]
even though I am using the latest version of ParMETIS. How can I fix that?
Thanks!

[2017-08-18 10:57] ibaned commented on #1621
@trilinos/zoltan2

[2017-08-18 12:06] jwillenbring commented on #1619
@jhux2 How is this approach better than, for example 2 labels, package and blah, where you can search on both. This creates such an explosion of labels and doesn't it make it harder to search on just label blah?

[2017-08-18 16:57] bmpersc commented on #1614
@ikalash @crtrott This issue has been fixed on the develop branch. There was an issue with headers being out of order for this file which caused it to still depend on aprepro when it wasn't enabled. The most recent sync from STK has pulled over the fix. Please give it a try and let me know if you are still having issues when aprepro is disabled.

[2017-08-18 17:27] bmpersc commented on #1615
Changes made on the STK side to address this were integrated recently and the previously failing continuous build is now passing.

[2017-08-18 17:27] #1615 closed

[2017-08-18 17:30] bmpersc commented on #1614
Changed labels to better reflect where the issue actually was.

[2017-08-18 17:35] jhux2 commented on #1619
@jwillenbring  Good questions.  I wasn't necessarily suggesting new labels.  Maybe a better way to view this is it would put the existing labels into logical categories.  In some ways, it's mimicking the categories that we had available in Bugzilla.  However, categorizing would probably make it easier to see labels that we should have but don't.

Here's one possible translation of the existing lab

[2017-08-18 19:11] pwxy opened #1622 "KokkosKernels: Gauss-Seidel threaded setup performance issues with Ifpack2 and MueLu"
I am trying to use the KokkosKernels threaded Gauss-Seidel.
I'm calling it through ifpack2 ("MT Gauss-Seidel") as a smoother for MueLu,
so the problem could be a bad interaction between KokkosKernels and ifpack2 or MueLu.

I'm running drekar on a single KNL of mutrino, with 1 MPI process, and I increase the OMP threads from 1 to 64 (1 OMP thread per core):

setup smoother (ifpack2 "MT Gauss-Seidel

[2017-08-18 19:27] pwxy commented on #1622
Although the matrices are mathematically nonsymmetric, they are structurally symmetric
I am using MT Gauss-Seidel, not symmetric Gauss-Seidel
Because of the nonsymmetry of our MHD matrices, I've had problems with SGS in the past and therefore do not use it.

[2017-08-18 19:33] aprokop commented on #1619
I agree with @jhux2. We could also fix the whole coloring issue here, assigning a specific color to each area (packages, status, platform, etc) instead of the random rainbow we have right now.

[2017-08-18 19:47] aprokop opened #1623 "Tpetra: does FixedHashTable need to inherit from Teuchos::Describable?"
@trilinos/tpetra @dalg24

The following code
[code]
 produces a warning for CUDA:
[code]
The problem seems to be that copying `LocalMap` to the device is not correct, as it has `FixedHashTable` inside it which inherits from `Teuchos::Describable` (that one also inherits from `Teuchos::LabeledObject` which even has `std::string` inside).

The question is: what is the best way to deal with it? It se

[2017-08-18 19:54] aprokop commented on #1622
@pwxy Do you have MueLu timer sync enabled (`-D MueLu_ENABLE_TIMER_SYNCHRONIZATION=ON`)? I don't think it would matter much, but it would 100% guarantee that this is not coming from anywhere else in MueLu.

[2017-08-18 20:06] jhux2 commented on #1622
@pwxy In the non-threaded Gauss-Seidel, the setup consists primarily of diagonal extraction.  Depending on what is happening down in Tpetra, this may in fact be threaded.

MTGaussSeidel is computing a coloring, so it will be more expensive than the non-threaded.  You'd need to ask @srajama1 or @mndevec to quantify this.

[2017-08-18 20:15] aprokop commented on #1619
Here is an example to match all current labels in Trilinos:

packages/*
  Amesos, Amesos2, ..., Framework, ...

type/*
  bug, build, documentation, enhancement, performance, process improvement, question, results impacting, retrospective, tests

status/*
  help wanted, in progress, in review, ready

resolved/*
  duplicate, invalid, wontfix

priority/*
  epic, story, task

system/*
  gpu, linux, ma

[2017-08-18 20:20] jhux2 commented on #1622
@pwxy I forgot to ask, how many rows are in the matrix, and what's the average row stencil size?

[2017-08-18 20:37] aprokop commented on #755
@crtrott Closing, as the fix was pushed to Kokkos and then to Trilinos.

[2017-08-18 20:37] #755 closed

[2017-08-18 20:38] aprokop commented on #1542
Any progress on this?

[2017-08-18 20:40] aprokop commented on #1605
So, what are our options here? We could split muelu libraries by directories, or try to split it by node types (like `libmuelu_serial.a`, `libmuelu_openmp.a`). I would prefer the second approach, if it works.

[2017-08-18 20:41] aprokop commented on #4
If this is still an issue, @mhoemmen can you post it to STK team tracker?

[2017-08-18 20:42] aprokop commented on #136
Is this still an issue, or can it be closed?

[2017-08-18 20:44] aprokop commented on #1300
The past week geminga nightlies finish by 10:30am. Closing. Reopen if still an issue.

[2017-08-18 20:44] #1300 closed

[2017-08-18 20:45] aprokop commented on #1311
Another interesting tidbit about defaults in Thyra: the default for Ifpack2 solver is `ILUT`.

[2017-08-18 20:48] aprokop commented on #1333
Seems to work OK with Chrome  60.0.3112.101.

[2017-08-18 21:02] mndevec commented on #1622
This is an issue with graph symmetrization required for graph coloring. Since the matrix is structurally symmetric, this step can be avoided for now. But, this seems like it can be an issue later, so I have an issue open for implementing a graph coloring that does not require symmetric graphs: https://github.com/kokkos/kokkos-kernels/issues/37

Yet, we realized some issues that will cause some par

[2017-08-18 21:07] nschloe commented on #1333
Apparently, trilinos.org received a new certificate lately:

![cert](https://user-images.githubusercontent.com/181628/29477591-3d55caf8-8469-11e7-93c3-18fd77632e86.png)

However, it seems that the cert authority isn't trusted by all browsers. Firefox:
[code]

[2017-08-18 21:10] jhux2 commented on #1605
I'd like to hear back from @nmhamster first, to see if just a few object files are to blame.

[2017-08-18 21:15] jhux2 commented on #1619
@aprokop Small quibble: epic, story, and task don't belong under priority in my opinion.  I don't know what to call that category, but any of the three could be high, medium, etc. priority.

[2017-08-18 21:21] jmgate opened #1624 "Panzer: Update Integrator_BasisTimesVector"
The `panzer::Integrator_BasisTimesVector` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-08-18 21:51] aprokop commented on #1619
@jhux2 agreed. scrum/*?

[2017-08-18 21:55] mndevec commented on #1622
Paul,
If you know that your matrix is structurally symmetric passing below parameters will avoid symmetrization for MT SGS and MT GS.
    <Parameter name="relaxation: symmetric matrix structure" type="bool" value="True"/>

You can use the below parameter to dump matrices. It will write output files [random_number]_Ifpack2_MT_GS.mtx
If you can provide me those matrices, I will have a look into this

[2017-08-18 21:55] jhux2 commented on #1619
Maybe.  what about `scope/*`.

[2017-08-18 22:14] pwxy commented on #1622
@jhux2 This is the Shadid+Phillips complicated and messy plasma preconditioner (with Teko)

There are four different matrices:

|rows|nnz|avg nnz/row|
| -:| -:| -:|
|24000|792000|    33|
|24000|264000|    11|
|24000|5640000|   235|
|32000|32128000|  1004|

[2017-08-18 22:18] jhux2 commented on #1622
@pwxy Thanks, this helps put @mndevec's comment in context:

[2017-08-18 22:29] mhoemmen commented on #1622
@pwxy wrote:

Set-up for Gauss-Seidel includes extracting the diagonal entries of the input matrix.  This uses the matrix's Kokkos execution space, regardless of whether you've chosen Mehmet's Gauss-Seidel with coloring, or regular nonthreaded Gauss-Seidel.

[2017-08-18 22:35] jhux2 commented on #1622
@pwxy Do the matrices correspond to different simulations, or are they all solved within the same simulation?  Based on @mndevec's comments, I would guess the setup time for the matrices corresponding to the first two rows of your [table](https://github.com/trilinos/Trilinos/issues/1622#issuecomment-323472627) is (much) lower than the last two.

[2017-08-18 22:36] pwxy commented on #1367
I'm running drekar on a single KNL of mutrino, with 1 MPI process, and I increase the OMP threads from 1 to 64 (1 OMP thread per core):

old TpetraExt::MatrixMatrix::add

| t | time(s) |
| -:| -:|
|1|143.30|
|2|99.62|
|4|77.44|
|8|66.25|
|16|61.03|
|32|58.90|
|64|58.33|

@brian-kelley's new TpetraExt::MatrixMatrix::add

| t | time(s) |
| -:| -:|
|1|17.24|
|2|8.94|
|4|4.92|
|8|2.75|
|16|1.88|
|32|1

[2017-08-18 22:38] mhoemmen commented on #1623
@aprokop That could explain why I've been seeing weird crashes involving FixedHashTable's destructor.  I wonder why I haven't been seeing the warnings....

[2017-08-18 22:39] pwxy commented on #1622
@jhux2 The 4 matrices are in the same simulation.  Remember these are  Teko block preconditioners so there are multiple sub-blocks.

[2017-08-18 22:46] jhux2 commented on #1367
Adding @csiefer2.

[2017-08-18 23:13] mhoemmen commented on #4
@aprokop Gladly -- is it still an issue?

[2017-08-18 23:19] brian-kelley commented on #1367
@pwxy Are the 1 rank, 64 thread time (last chart) for the same problem and running in the same configuration/environment as the middle chart with 1 thread, 64 threads? The middle time is 1.57s, but the last one is 13.15s. What is the difference between those two cases?

[2017-08-18 23:24] pwxy commented on #1367
@brian-kelley I updated my previous comment; the 13.15s time is for a problem 8 times larger than the 1.57s time, hence the 8x larger factor in time.

[2017-08-19 00:08] mhoemmen commented on #1614
Thanks @bmpersc ! :D

[2017-08-19 14:21] ibaned opened #1625 "Failing MueLu ParameterList test"
https://testing.sandia.gov/cdash/testDetails.php?test=40748053&build=3062363

@trilinos/muelu

[2017-08-19 14:21] ibaned commented on #1304
#1625

[2017-08-19 14:36] aprokop commented on #1625
Introduced in 5eeea4070a37f328a862229401765a7454cc0494. Running the checkin script should have caught this. The problem of introducing a new parameter in Ifpack2 is that MueLu has tests with gold output which dump the parameter values in all smoothers. Thus, any update in Ifpack2 parameters requires updating MueLu's gold files. Not a big deal, though.

[2017-08-19 14:39] ibaned commented on #1625
@trilinos/ifpack2 to make sure they're aware.

It does look simple to fix, but it will block other people's checkin-based pushes till fixed.

[2017-08-19 14:43] aprokop commented on #1625
I'm working on this. Should be easy to fix but then I had tests hang for no apparent reason this week, so who knows.

[2017-08-19 15:31] aprokop opened #1626 "MueLu: enabling timer synchronization hangs some interface tests"
@trilinos/muelu

When MueLu is configured with `-D MueLu_ENABLE_TIMER_SYNCHRONIZATION=ON`, we add barriers for each before and after each factory `Build()` call. This is done in `SingleLevelFactory` and `TwoLevelFactory`. The idea is to make sure the factory timers do not affect each other.

For some reason, this no longer works with some of the interface tests. Two standard tests hang. Not sure w

[2017-08-19 15:32] aprokop commented on #1625
The hang is still there, but it's a separate issue (#1626). The checkin is running.

[2017-08-19 17:05] aprokop commented on #1625
Pushed in a93e979917b2c9e0869d8009897479672f6a553e.

[2017-08-19 17:05] #1625 closed

[2017-08-19 17:05] aprokop commented on #1414
Pushed in 0ffff8da7fc16b6aa231052efee836c065a23421.

[2017-08-19 17:05] #1414 closed

[2017-08-19 17:23] pwxy commented on #1622
With mndevec's modified code to avoid graph symmetrization when the matrix is already structurally symmetric:

|t|solve|GS setup|Newton steps|
| -:| -:| -:| -:|
|1|33.21|12.62|7|
|2|24.80|8.71|8|
|4|12.30|5.19|8|
|8|7.03|3.36|8|
|16|4.01|2.16|7|
|32|3.53|2.08|8|
|64|3.17|2.00|8|

Note the huge reduction in GS setup time when we avoid graph symmetrization (especially when your matrices have 1000 nn

[2017-08-19 18:43] aprokop commented on #1626
Only reuse input decks fail.

[2017-08-19 20:07] aprokop commented on #1626
No idea what's going on. The only reuse tests that pass are full reuse and reuse-RP-1. The difference between reuse-RP-1 and reuse-RP-2 is that RP-2 does implicit rebalancing. Also, reuse-RP-2 can be made to pass if we don't restrict subcommunicators.

So, there is something about rebalancing/subcommunicators/implicit that makes the hang.

[2017-08-20 11:21] looooo commented on #1540
thanks for the information. I will try the conda-forge recipe. Was the PyTrilinos recipe allready accepted as a conda-forge feedstock?

[2017-08-20 21:21] mhoemmen opened #1627 "MueLu: Remove optional Isorropia dependency?"
@trilinos/muelu
@aprokop
Fixing of #1414 suggests that MueLu can remove its optional library dependency on Isorropia (see Line 3 of https://github.com/trilinos/Trilinos/blob/develop/packages/muelu/cmake ).  Is this the case?  Thanks!

[2017-08-20 23:44] mhoemmen opened #1628 "CUDA config & build are broken"
@trilinos/framework

I'm not sure if this is a Kokkos (@crtrott, @dsunder, @ibaned ) issue, a Trilinos issue, or a SEMS issue (@jgfouca), but something recently (as of last week) totally messed up CUDA builds for me.  This is blocking #1569, #1606, #1367, #1623, and a bunch of other issues.  It is delaying testing and acceptance of @tjfulle 's and @brian-kelley 's hard work.

When I run `make`, I

[2017-08-20 23:50] mhoemmen commented on #1628
Hm, wait a second... did something turn off MPI?  `TPL_ENABLE_MPI` seems to be gone.  That could be the cause....

[2017-08-21 00:30] mhoemmen opened #1629 "Tpetra: Fix CUDA 8.0 + GCC 5.3 build error in Lesson 05"
@trilinos/tpetra
[code]

[2017-08-21 00:44] mhoemmen commented on #1628
I think I figured this out -- "error is between keyboard and chair" -- so I'm closing the issue.  I will open a separate issue for recent Kokkos changes that affect default CMake settings for CUDA lambdas.  Thanks!

[2017-08-21 00:44] #1628 closed

[2017-08-21 01:04] mhoemmen commented on #1623
I have a fix ready.  I had some trouble with CUDA builds, esp. given recent Kokkos changes, but I think I have things working again.

[2017-08-21 01:10] mhoemmen commented on #1455
See also #1470.

[2017-08-21 01:20] mhoemmen opened #1630 "Recent Kokkos changes require -std=c++11 flag with CUDA 8.0 & GCC 5.3"
@trilinos/framework

It looks like C++11 is not being enabled by default in a CUDA 8.0 + GCC 5.3 build with TpetraCore enabled.  When I omit `-std=c++11` from `CMAKE_CXX_FLAGS` in a CUDA 8.0 + GCC 5.3 build with TpetraCore enabled, I get the following configure-time error:
[code]
When I add `-std=c++11` to `CMAKE_CXX_FLAGS`, I am able to configure Trilinos and build TpetraCore library, tests, and

[2017-08-21 01:22] mhoemmen commented on #1630
Here are my relevant CMake options:
[code]
I am building using the SEMS modules.  Here are the modules I have loaded:
[code]
Here is the output of `$ mpicxx --version`:
[code]

[2017-08-21 01:23] mhoemmen commented on #1630
This may be relevant to the recent Kokkos snapshot.
@crtrott @dsunder @ibaned @tjfulle @brian-kelley @trilinos/tpetra

[2017-08-21 02:47] mhoemmen commented on #1623
I just pushed a fix to develop.  Thanks @aprokop !

[2017-08-21 02:47] #1623 closed

[2017-08-21 03:06] mhoemmen commented on #1278
Discussion at the Trilinos leaders meeting last week suggests that Trilinos developers intend the following:

  - Trilinos must build and pass tests with CUDA 7.5 until the next minor version release.
  - Trilinos developers may require CUDA >= 8.0 for new features, but must use `CUDA_VERSION` to disable building and testing those features if CUDA >= 8.0 is not available.
  - After the next minor

[2017-08-21 03:06] #1278 closed

[2017-08-21 05:05] mhoemmen commented on #1367
FYI @brian-kelley asked me to wait on the merge of #1606 (that would fix this issue), until he changes the code to use `Tpetra::Import::setUnion` (see my review in #1606), and possibly also adds thread parallelization to the implementation of `setUnion`.

[2017-08-21 06:39] aprokop commented on #1623
Thanks @mhoemmen!

[2017-08-21 06:40] aprokop commented on #1627
@mhoemmen No, I think you still can use Isorropia with Epetra interface. I don't know of any users of this interface, though, but @tawiesn may know.

[2017-08-21 15:08] mndevec commented on #1622
Paul, I am glad this helped a bit.
Could you provide the 4 matrices with the parameter above?

[2017-08-21 15:23] srajama1 commented on #1622
@pwxy : Your results are consistent with what he have observed in several cases, especially where you say you need 4 threads to offset the cost of the increased #iterations and work in MT SGS.

I am somewhat surprised by the 32 and 64 threads times. I think this is due to your 32K matrix dominating the simulation time. Is that right ?

We are developing a variation of MT SGS without coloring. I be

[2017-08-21 15:33] tawiesn commented on #1627
@mhoemmen We cannot remove the Isorropia dependency. @aprokop is right: we still can use Isorropia with the Epetra stack and i actually use it for different projects.

[2017-08-21 15:48] mndevec commented on #1622
There was not separate timers, but I think so. 32K row matrix is 64 times larger than the second largest matrix, and unfortunately there is not much parallelism that can be exploited with coloring.

[2017-08-21 20:20] mhoemmen commented on #1627
@aprokop @tawiesn Thanks for the answers!  I didn't realize MueLu used Isorropia through its Epetra interface.  I'll close this issue then.

[2017-08-21 20:20] #1627 closed

[2017-08-21 20:42] mhoemmen commented on #798
Fixed in develop.  See PR #1569.

[2017-08-21 20:42] #798 closed

[2017-08-21 20:43] mhoemmen commented on #802
Fixed in develop.  See PR #1569.

[2017-08-21 21:05] tjfulle commented on #802
@mhoemmen , it's not totally fixed.  The packing portion is, but `unpackAndCombineIntoCrsArrays` needs to be thread parellelelelized.  This part, however, is a much smaller effort because of the work on #798 and #800 (as part of #1569) to make a common pack/unpack interface.  I plan on finishing it this week.

[2017-08-21 21:14] jhux2 commented on #1367
@brian-kelley What is/was the issue with OpenMP node?

[2017-08-21 21:24] brian-kelley commented on #1367
@jhux2 While increasing the number of SerialNode ranks, the running time decreases as you would expect, but with OpenMP node the time increases. I've observed this on both cee-compute (xeon) and KNL machines but I have no idea why it happens. I could be missing some runtime parameter or environment variable, or it's just a performance bug.

[2017-08-21 21:49] mhoemmen commented on #802
@tjfulle thanks for the clarification!  If you like, you may either open up a new issue for the work left to do, or reopen this issue.

[2017-08-21 21:50] mhoemmen commented on #1367
@brian-kelley What are your environment variables and OpenMP parameters btw?

[2017-08-21 22:28] brian-kelley commented on #1367
Environment variables:
[code]
CMake configuration: https://gist.github.com/brian-kelley/479acc152e6addde0b54428aba8626eb

[2017-08-21 23:06] jjellio commented on #1470
@mhoemmen Sorry for the late reply, for whatever reason I seem to randomly get notifications.

We have not run newer builds on Trilinos yet ... Once we get the performance variations figured out we will. The problem is that the machine is producing performance variations that are too large.  With the prior study, you really cannot not determine if code modifications are helpful or detrimental, bec

[2017-08-22 16:59] mhoemmen commented on #1470
Thanks @jjellio !  I think what I'll do is close this issue, since the underlying reallocation of communication buffers in DistObject is no longer an issue for getVector and getVectorNonConst.  We can open a new issue with a more concrete goal later.

[2017-08-22 16:59] #1470 closed

[2017-08-22 17:18] william76 opened #1633 "MueLu: MueLu_BlockedTransfer_Tpetra_MPI_4 broken on CI build"
@trilinos/muelu
@mayrmt

MueLu_BlockedTransfer_Tpetra_MPI_4 is breaking as of yesterday (8/21) on the CI builds for both the ceerws and sadl machines.
- https://testing.sandia.gov/cdash/testDetails.php?test=40809776&build=3068338
- https://testing.sandia.gov/cdash/testDetails.php?test=40807106&build=3068045

Looks like blockedtransfer tests were enabled here(?) :
https://github.com/trilinos/Trilin

[2017-08-22 17:36] jhux2 commented on #1633
@william76 This test was moved out of experimental yesterday. It's been failing for a while there, so this isn't a new failure, just newly exposed.

[2017-08-22 17:56] jwillenbring commented on #1619
I didn't realize that. I misunderstood what you were suggesting. It seems there would be some value then in this approach.

[2017-08-22 18:06] gsjaardema commented on #1422
All SEACAS tests should now run in both serial and parallel build.
The only exception is for two cgns-related tests which have an issue with hdf5 freeing something after MPI_Finalize is called that are being looked at...

[2017-08-22 19:04] gsjaardema commented on #375
SEACAS now builds with no warnings with `SEACASProj_ENABLE_Fortran:BOOL=OFF`

[2017-08-22 19:06] gsjaardema commented on #312
This will probably now work correctly with the addition of the improved NetCDF package find script.
Closing until we hear differently.

[2017-08-22 19:06] #312 closed

[2017-08-22 19:08] gsjaardema commented on #99
This should be fixed with the adding of the improved NetCDF package find script in TriBITs

[2017-08-22 19:08] #99 closed

[2017-08-22 19:08] #94 closed

[2017-08-22 19:10] #75 closed

[2017-08-22 19:10] #1482 closed

[2017-08-22 19:15] gsjaardema commented on #1422
Removing seacas label since this has been fixed in seacas.  Not sure that is a good practice, but it will not show up in my to-do list anymore.

[2017-08-22 19:17] #846 closed

[2017-08-22 20:24] jhux2 commented on #1633
@csiefer2

[2017-08-22 20:45] rppawlo opened #1634 "Phalanx: generalize tags to optionally be associated with a Field."
@trilinos/phalanx @seamill @eric-c-cyr

[2017-08-22 21:43] jmgate commented on #1624
Finished the update.  Testing against the latest `develop`.  Changes were required in Drekar and EMPIRE, so those will be pushed with these changes to Panzer.

[2017-08-22 22:02] jmgate commented on #1624
Changes pushed to all repos.

[2017-08-22 23:56] srajama1 commented on #1619
Agree with @jhux2 . I don't care for a scrum label, but that is just me.

[2017-08-23 08:12] anates opened #1635 "Incomplete type in Teuchos with Amesos and SuperLU"
When compiling Trilinos with Amesos2 and/or SuperLU, I get:
[code]
Is there a fix for that?

[2017-08-23 10:43] ibaned commented on #1635
@trilinos/amesos2

[2017-08-23 14:11] jmgate commented on #1624
@eric-c-cyr and @rppawlo, one of you probably wants to look over the new Doxygen for `Integrator_BasisTimesVector` and make sure my understanding of the class is accurate.

[2017-08-23 19:54] gsjaardema opened #1637 "Zoltan id type"
If I am building against and linking to a zoltan library, is there a way to determine what the ZOLTAN_ID_TYPE was during the build and installation of the library.

It looks like the ZOLTAN_ID_TYPE is dependent upon the compiler defines and that the value isn't written to a configuration file or include file anywhere.  It appears in zoltan_types.h, but its value depends on the compile flags (wheth

[2017-08-23 20:08] nmhamster commented on #1427
@bartlettroscoe @nschloe @jwillenbring - still seeing this `icpc: command line remark #10411: option '-openmp' is deprecated and will be removed in a future release. Please use the replacement option '-qopenmp'` Note that use of `-fopenmp` is not actually the correct answer here, we should test for `-qopenmp` first and then work backwards. I know this is a hassle but it doesn't half produce some s

[2017-08-23 20:21] mhoemmen commented on #1637
@trilinos/zoltan @trilinos/zoltan2

[2017-08-23 20:55] dlkarnit commented on #1060
How true are these statements for Trilinos 12.10?

I believe my BLAS implementation does not support threading (netlib reference BLAS), but I still see perfect 2x speedups with 2 threads for a solver that uses a MueLu preconditioner with Multi-Threaded SGS smoother in a Belos/Tpetra BICGSTAB solver.

[2017-08-23 22:05] gsjaardema commented on #1637
Never mind.  I see Zoltan_config.h.  I was only looking at the small z includes and missed it.

[2017-08-23 22:05] #1637 closed

[2017-08-23 22:23] aprokop commented on #1060
This is really weird. How large is your problem?

[2017-08-23 22:25] aprokop commented on #1635
Does adding `-D Teuchos_ENABLE_COMPLEX=ON` make a difference?

[2017-08-23 22:30] tawiesn commented on #1626
@lucbv This might be something we have to consider when working on #1466

[2017-08-24 01:20] aprokop opened #1639 "Teuchos: timers seem to overflow somehow"
In a run, we got the following results in the final `summarize()` call for Teuchos timers:

[code]
So, somehow, the times become negative. More investigation shows that for instance for the MueLu hierarchy setup timers, they accumulate till about 406 seconds, and go negative the next setup.

This sounds like an integer overflow problem though totally unclear how integers are involved.

The run was

[2017-08-24 01:20] aprokop commented on #1639
@trilinos/teuchos @jhux2

[2017-08-24 01:40] crtrott commented on #1619
You can actually rename existing labels so it will automatically effect everything.

[2017-08-24 13:46] dlkarnit commented on #1060
This particular problem is only ~100k unknowns.

[2017-08-24 14:46] gsjaardema opened #1640 "Request to expose Zoltan_get_global_id_type() in public API"
I would like to request that the function `Zoltan_get_global_id_type()` be exposed in the public API.  This function is currently defined in `packages/zoltan/src/zz/zz_util.c`, but is not declared in any of the zoltan public include files.

It is useful to me in detecting whether the library I am linking to was compiled with the same setting for the `ZOLTAN_ID_TYPE` as was active during the build

[2017-08-24 15:11] #1332 closed

[2017-08-24 15:11] #1544 closed

[2017-08-24 15:11] #1545 closed

[2017-08-24 15:11] #1573 closed

[2017-08-24 15:12] #1580 closed

[2017-08-24 15:12] #1581 closed

[2017-08-24 15:12] #1610 closed

[2017-08-24 15:27] jhux2 commented on #1619
@crtrott Good to know, thanks.  This question was asked at the TL meeting.

[2017-08-24 15:29] bmpersc commented on #1633
@jhux2 @csiefer2 If this has been failing for a while in experimental shouldn't it be put back into experimental until it is passing? This is currently showing up on all of our continuous builds and has been for days.

[2017-08-24 15:31] jhux2 commented on #1633
@bmpersc @csiefer2 @tawiesn Agreed.  Today we'll either fix it, disable it, or move it back to experimental.

[2017-08-24 16:54] mndevec commented on #1538
@jjellio @pwxy @jhux2 @srajama1 @kddevin
As far as I understood, MJ is called in Multigrid, when the number of coordinates are significantly reduced. On the examples from Paul, MJ has very few coordinates per processors O(10), and the number of processors are as high as 8192.

Having such little coordinates per processor makes MJ communication bound, as a result it does not strong scale. Also, the

[2017-08-24 17:22] mhoemmen commented on #1639
`Teuchos::Time` uses `double` for times, but `int` for call counts.  Could the latter matter?

[2017-08-24 17:31] jhux2 commented on #1639
@aprokop Are you in a position where you could run Nalu to try to duplicate?  While I can't see how this might be, I'm worried this is due to either the cluster I'm running on or my local module environment.

[2017-08-24 17:38] aprokop commented on #1639
@jhux2 Probably not. I could try, but not at the core counts you ran. And it's unclear how to reproduce the problem. One thing I wonder about is whether it somehow ends up using `clock()` which *will* overflow with time. It shouldn't and the code in `Teuchos_Time.cpp` indicates that it should use `MPI_Wtime()` if MPI is enabled and initialized(), but I wonder.

[2017-08-24 17:57] aprokop commented on #1639
@mhoemmen I don't think so. The negative time is only for the minimum of local times, so I assume that there is a single processor that goes negative.

[2017-08-24 21:33] jjellio commented on #1538
I'll work on getting this tested on Cori.

[2017-08-24 21:53] aprokop commented on #1538
@mndevec First of all, thank you very much for working on this.

I would like to add some comments to @mndevec's description.
1. It is correct that in our case n > p always. We have a knob that controls how p is calculated. This is done through a "repartition: min rows per proc", which is by default set to 2000. So, if we want to repartition n nodes, we set p ~= n/2000. However, the important thin

[2017-08-24 22:46] jjellio commented on #1613
We saw poor performance of TentativeP w/OpenMP. Chris patched this in June, but the patched version was still ~3x slower than the previous (non Kokkos) version of TentativeP.

The performance with "use kokkos refactor=ON"  was so slow that I had to disable it to get complete results. The hit was about 1000x over the non kokkos version.  With csiefert's patch, the overhead drops to around 3x, but s

[2017-08-24 22:58] mndevec commented on #1538
@aprokop
The data moves of Zoltan2 only include coordinate data. Both MJ and RCB already migrates the coordinate data during the partitioning, and send them back to the original owners.

For example, if RCB partitions to 16 parts by recursively partitioning to 2. The data is migrated after each recursion. What I did adds one extra level of migration.

MueLu remains oblivious to the data movements

[2017-08-24 23:12] jjellio commented on #1538
@mndevec I've taken my Trilinos source on Cori, which is still locked at a version from June.  I rolledback your first MJ patch (the one you sent via email), and then cherry-picked the related commit here. Does that sound good? I try to avoid pulling full Trilinos updates from Develop, because they usually result in other things changing - which makes tracking down issues harder.

So, is merging t

[2017-08-24 23:15] jhux2 commented on #1538
@aprokop wrote:

@mndevec wrote:

@mndevec First off, thanks, this option appears really promising.  As I understand it, the premigration is done within Zoltan2 itself, and is really just a way of minimizing the stress of the MJ calculation.  The result from Zoltan2 is still a map between DOFs and partition numbers.  MueLu is still free to decide where the partitions should be placed, correct?   Z

[2017-08-24 23:28] mndevec commented on #1538
@jhux2
Yes, your summary is all correct.
Basically MJ will return the exact same result (except some tie-breaking differences) with and without premigration.

[2017-08-24 23:30] mndevec commented on #1538
@jjellio
Yes, that sounds okay. You can simply replace Zoltan2_AlgMultijagged.hpp file as well.

[2017-08-24 23:31] jjellio commented on #1538
Great.  I've got it building, the queues on Cori

[2017-08-24 23:33] mndevec commented on #1538
@jjellio

Just to make sure, you have both of the commits fd654d2ca6b24a99f04771ae45f2dc540875064e
and 6cf5f4aca6adf904234f1eac8769736beac1c9f1 , right?

[2017-08-24 23:35] jjellio commented on #1538
No, I did not have fd654d2, only those referenced above.

I've pull it in.

[2017-08-25 01:11] aprokop commented on #1639
@jhux2 Can you please provide more info about the environment the run was done in? Specifically, mpi and gcc versions.

I found [this](https://bugzilla.redhat.com/show_bug.cgi?id=1473440) and [this](https://github.com/open-mpi/ompi/issues/3003) which seems to indicate some bugs in OpenMPI `MPI_Wtime` implementations.

[2017-08-25 03:00] jjellio commented on #1538
@mndevec Are there specific output I can look for to ensure the settings above are in effect?

[2017-08-25 05:08] mndevec commented on #1538
@jjellio
If you set both below, the timers will print Premigration Postmigration times. These times won't be there if you dont set the mj_premigration_option.
[code]

[2017-08-25 14:27] csiefer2 commented on #1633
Checkin test is baking on a fix.  I'd totally assign this to myself, but (unsurprisingly) github's web site doesn't work correctly.

[2017-08-25 15:02] lucbv commented on #1633
@csiefer2 we need to have a talk about github ; )

[2017-08-25 15:31] jhux2 commented on #1639
@aprokop wrote:

[code]

[2017-08-25 15:32] jhux2 commented on #1639
Well, that describes my case exactly, and it's the same version.  Nice catch!

[2017-08-25 15:42] csiefer2 commented on #1633
@lucbv : The problem is that github _chose_ not to support Firefox ESR, which means that random bits and pieces of the github website won't work on our windows browsers...

[2017-08-25 16:22] aprokop commented on #1639
@jhux2 Is it possible to try with a different version?

[2017-08-25 16:35] jhux2 commented on #1639
Yep, that's the plan.

[2017-08-25 16:43] jhux2 commented on #1639
I reran the same executable on another cluster (Broadwells, not Haswells), and the timers are sensible for those runs.  @aprokop I'll send the logs to you.

[2017-08-25 17:22] lucbv commented on #1633
The latest build on [ceerws1113](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3073563) is not failing on the test any more.

[2017-08-25 17:52] csiefer2 commented on #1633
Looks like we're good to go!

[2017-08-25 17:52] #1633 closed

[2017-08-25 18:48] aprokop commented on #1639
OK, the probable cause for negative timers is identified. Most likely reason is a bug in `MPI_Wtime` for some OpenMPI versions. Specific versions known to be affected (from the corresponding linked bugs): 1.10.5, 1.10.6, 2.0.2. In general, 1.10.0 through 1.10.6 versions seem problematic, see [this comment](https://github.com/open-mpi/ompi/issues/3003#issuecomment-298894576).

[2017-08-25 18:48] #1639 closed

[2017-08-25 21:32] mhoemmen opened #1645 "Dashboard failures, possibly due to incorrectly configured test platform"
@trilinos/framework @trilinos/tpetra

ascic141, build name `Linux-gcc-4.9.3-Sierra_MPI_release_DEV_ETI_SERIAL-ON_OPENMP-OFF_PTHREAD-ON_CUDA-OFF_COMPLEX-ON`, has 21 Tpetra test failures.  Here is the latest list:

https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3072459

They all generate the following output:
[code]
I was wondering at first whether the tests were using the default

[2017-08-25 23:54] jjellio commented on #1538
Annoyingly, I've had 4 jobs fail on Cori now. Something seems a little off with their filesystem (jobs are hanging because they are failing to load the binary from disk).
I am still working on it though... hopefully Cori will actually run something. I have Trilinos + Driver compiled, only waiting for their job system at this point.

[2017-08-26 00:44] pwxy commented on #1538
"mj_premigration_option"=1 does change iteration count and convergence history (not surprising because partitioning is slightly different)

"mj_premigration_option"=1 significantly reduces MJ time

2.2B row drekar Poisson problem run on 131072 MPI processes of BG/Q (16 cores per compute node)

"premig"="mj_premigration_option"
times:
"setup"="NOX Total Preconditioner Construction" time (MueLu setu

[2017-08-26 00:47] aprokop commented on #1538
Are there situations when `mj_premigration_option=1` is *slower* than 0? If not, we can set it to 1 by default in MueLu.

[2017-08-26 04:04] mndevec commented on #1538
@pwxy I am glad it helped a bit. But I could not understand the second result.
Assuming that setup time includes MJ times, MJ got 25 seconds faster, but overall setup got 4 seconds faster? If that is the case, something might be buggy, I will check that a bit more.

@aprokop  I think it is safe to have that parameter as default.
It might be more expensive if the number of parts is close to the num

[2017-08-26 05:44] mndevec commented on #1538
@pwxy :
Partitioning differences happen when tasks have same coordinates, and a partitioning needs to be done along that coordinate. The processors with lower ranks assigns their task on the cut to the part that is left of the cut until the balance is reached. When I premigrate the coordinates using modular arithmetic, that order changes.

I am a bit confused with the timings in the second table.

[2017-08-26 16:25] pwxy commented on #1538
@mndevec sorry, my mistake, i reported the total MJ time for 7 Newton steps in the second table.  I have divided the numbers by 7 and corrected the table.

[2017-08-26 23:53] pwxy opened #1646 "MueLu::ParameterListInterpreter::ParameterListInterpreter seems to take a lot more time than expected"
MueLu::CreateXpetraPreconditioner calls both MueLu::HierarchyManager::SetupHierarchy and MueLu::ParameterListInterpreter::ParameterListInterpreter

I'm running Chebyshev smoother, and I thought that the smoothers were being constructed by MueLu::HierarchyManager::SetupHierarchy rather than MueLu::ParameterListInterpreter::ParameterListInterpreter.  However, I saw that several levels down the stack

[2017-08-27 01:02] aprokop commented on #1646
@pwxy News to me too. Was added relatively recently (in April). Does not sound right.

[2017-08-27 01:17] aprokop commented on #1646
@trilinos/muelu

[2017-08-27 02:25] tawiesn commented on #1646
@pwxy Could you check whether there is a similar problem using the extended input deck rather than the simplified one?

[2017-08-27 02:26] tawiesn commented on #1646
@csiefer2

[2017-08-28 11:55] pwxy commented on #1646
@tawiesn I cannot remember what the extended input deck looks like.  The following is my current input deck (which I'm sure is the simplified one).  How do I change this to the extended input deck?

              <ParameterList name="MueLu-Tpetra">

                <Parameter name="verbosity"                               type="string"   value="high"/>

                <Parameter name="number of e

[2017-08-28 12:36] pwxy commented on #1622
@srajama1 why do you find the 32 and 64 threads timings surprising?  What would you have expected?

[2017-08-28 13:54] ibaned commented on #1630
This is more of a TriBITS or configuration issue? No one should be trying to build Kokkos without C++11, and the Kokkos CMake code is not the one responsible for enabling and adding the C++11 flag

[2017-08-28 15:05] tawiesn commented on #1646
@pwxy I've checked the code paths and it is the same for the extended style input deck. Nevertheless, as @aprokop already has pointed out, the problematic code just creates an MueLu::Ifpack2Smoother object and sets the parameter lists.

[2017-08-28 15:32] #1629 closed

[2017-08-28 16:14] jjellio commented on #1538
Seems like the Cori jobs did not complete. This does not seem to be a Trilinos issue. (The jobs failed because srun failed to load the executable from disk). Sigh. I've requeued the job.

[2017-08-28 16:15] ndellingwood commented on #1354
Closing, duplicate #1172; fixed with sha1 bab8b66393e97c632d9530b8fb38d69bf6abdc2b

[2017-08-28 16:15] #1354 closed

[2017-08-28 16:16] ndellingwood commented on #1172
Closing since dashboard has been clean for these tests, fixed by sha1 bab8b66393e97c632d9530b8fb38d69bf6abdc2b

[2017-08-28 16:16] #1172 closed

[2017-08-28 16:16] ndellingwood commented on #1173
Fixed with commit e31b14c8cc83787ff4b8d9849f7bd1d0a735d055, closing the issue.

[2017-08-28 16:17] #1173 closed

[2017-08-28 16:17] ndellingwood commented on #1495
Dashboard has been clean regarding these tests with fix mentioned above, closing the issue.

[2017-08-28 16:17] #1495 closed

[2017-08-28 16:19] ndellingwood commented on #1584
Unit tests pass with UMFPACK 4.1 and PR #1591; marking as closed, please reopen if necessary.

[2017-08-28 16:20] ndellingwood commented on #1616
This should be fixed with commit 9b150bc2afa84211a206dbc10229f24e6aeb23a0 in the develop branch. Closing the issue, please reopen if necessary.