[2016-12-15 00:27] jhux2 commented on #931
@trilinos/muelu

[2016-12-15 00:46] jhux2 commented on #931
This appears to be affecting the Ifpack2 developer list, as well.

[2016-12-15 01:09] jhux2 commented on #931
False alarm.  Posts to both lists came through finally.  Closing.

[2016-12-15 01:09] #931 closed

[2016-12-15 03:16] aprokop opened #932 "Expose Belos' fixed solver through Stratimikos"
@trilinos/stratimikos @trilinos/belos

I have a code that uses Stratimikos/Thyra to run a preconditioned solve for a linear problem. I'd like to try out a preconditioner in a Richardson/fixed point iteration. The easiest thing would be to try out the Belos' fixed point iteration (@mhoemmen @csiefer2 is it used/correct/recently tested?)

Unfortunately, it does not seem to be exposed through Stratim

[2016-12-15 10:51] csiefer2 commented on #932
Probably not / Probably / Only lightly.

[2016-12-15 12:04] bartlettroscoe commented on #932
What code is this?  Why can't it be exposed through Stratimikos?

[2016-12-15 15:05] amklinv commented on #932
https://trilinos.org/docs/dev/packages/belos/doc/html/classBelos_1_1FixedPointSolMgr.html

It works just like any other Belos solver manager; I don't see any reason it can't be exposed through Stratimikos.

In answer to your other question, the fixed point solver does get used.  @mhoemmen can give you more information.

[2016-12-15 16:17] mhoemmen commented on #932
@aprokop @csiefer2 would it make sense to have Richardson iteration in Ifpack2 instead of in Belos?  Just curious.  Either way, folks would have to add something to Stratimikos if they want it exposed there.

[2016-12-15 16:18] mhoemmen commented on #930
The specific use case is that @trilinos/muelu developers had old check-in test scripts, and they didn't understand the directions for converting them to use the new system.  They asked me directly, and I explained to them over e-mail.  When I mentioned to @maherou that I had done so, he thought it would be a good idea for me to post this issue to illustrate the work-around.

[2016-12-15 16:35] aprokop commented on #932
@mhoemmen It may. But if you have a code that goes through Stratimikos, does it not have to use a Belos solver? If that's the case, it will still need a Belos fixed iteration.

Right. I plan on adding the code in the next day or two. Btw, what is it's proper name, "FIXED POINT", or "Fixed Point", or something else?

[2016-12-15 17:59] bartlettroscoe commented on #930
What specific instructions need to be added to:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

?

Can someone just please add them?

I can put back the base-level symlink Trilinos/checkin-test.py if that would help.

[2016-12-15 18:15] bartlettroscoe commented on #930
Okay, I added back the base-level `checkin-test.py` symlink in commit 1c4e2a0 and I added the following note to https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing:

* The raw script `Trilinos/checkin-test.py` can still be used for doing local development work and testing or any workflow and can even be used for pushing (but please prefer to use the `checkin-test-sems.sh` s

[2016-12-15 19:33] nschloe opened #933 "libtpetraclassic.so misses dependency information"
When building just Tpetra, e.g., like so
[code]
everything seems to be going fine. However, the two libraries `libtpetraclassic.so` and `libtpetraclassiclinalg.so` come without dependency information:
[code]
All other libraries seem fine:
[code]
I can't quite see what's going wrong yet. Any ideas? @mhoemmen @bartlettroscoe

[2016-12-15 19:59] tawiesn commented on #930
Thanks for the clarification. So, the idea is that everybody is supposed to push from a RHEL 6 (or RHEL 7) machine with SEMS using checkin-test-sems.sh. Using the old checkin-test script is still allowed to push changes (at least for a while).

[2016-12-15 20:26] mhoemmen commented on #933
@nschloe Could you please explain how this affects build correctness? Thanks!

[2016-12-15 20:30] mhoemmen commented on #932
@aprokop wrote:

Belos' factory should just map everything to upper case.  I'm hoping that Stratimikos uses Belos' factory, and doesn't try to reimplement the factory.

[2016-12-15 20:33] aprokop commented on #932
Stratimikos adapter has hardcoded names for validation. And from what I was it does try to reimplement the Belos factory.

[2016-12-15 20:42] hkthorn commented on #932
To be fair, Stratimikos came before the Belos solver factory.  But I think there is a valid case for using the Belos factory from within Stratimikos to avoid parameter naming conflicts.  Such a change would also have to address backward compatibility since many users of Belos go through Stratimikos.

Mark, any thoughts?

Heidi

--

Heidi K. Thornquist
Electrical Models & Simulation
Sandia National

[2016-12-15 20:50] bartlettroscoe commented on #930
Yes, all of that is correct.

It is not required to run the checkin-test-sem.sh script in order to push to the 'develop' branch as I stated in my email from last week that I archived in https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.  It is just that your best chance at not breaking the standard CI build is is to use `./checkin-test-sems.sh --do-all --push`.  After that, th

[2016-12-15 20:52] bartlettroscoe commented on #932
Just the be clear, Stratimikos is designed to provide a single point of selection for various direct and iterative linear solvers.  It is not just a wrapper around only Belos solvers.

[2016-12-15 20:53] tawiesn commented on #930
@bartlettroscoe Yes, good enough.
I'm planning to set up SEMS on my RHEL 7 machine and try the` checkin-test-sems.sh `script after Christmas. Have to finish some other stuff before and don't want to change my build setup for it.

[2016-12-15 21:02] bartlettroscoe commented on #930
Understood.

Closing as complete.

[2016-12-15 21:02] #930 closed

[2016-12-15 21:08] nschloe commented on #933
Well, this means that if you try to link an executable against that library, you'll have to explicitly link all its dependent libraries as well (although you're not directly using them). Typically, you'll find that only some dynamic library link info is missing (and can be detected with `-Wl,--no-undefined`), but here, something more fishy seems to be going on. The link line for `libtpetraclassic.

[2016-12-15 21:08] bartlettroscoe commented on #924
I think this is now addressed in:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

which states:

* The raw script `Trilinos/checkin-test.py` can still be used for doing local development work and testing or any workflow and can even be used for pushing (but please prefer to use the `checkin-test-sems.sh` script on a RHEL 6 machine with the SEMS env when pushing to t

[2016-12-15 21:18] tawiesn commented on #933
It's my understanding that TpetraClassic is a placeholder, that we need for backwards compatibility, during the transition to the new Tpetra stack (which is rather complete?). Looking at the TpetraClassic code your observations are not surprising. I guess, TpetraClassic will go away at some point.
@mhoemmen Can you comment on this?

[2016-12-15 22:14] mhoemmen commented on #932
@hkthorn wrot:

That's right.  I didn't expect time travelers ;-)  Stratimikos does not currently use Belos' factory.

I agree.  I think we can get backwards compatibility in Stratimikos by looking at and possibly changing the user's input strings, while still using Belos' factory.

[2016-12-15 22:19] aprokop commented on #932
If I read it write, here are the steps to do:
- [ ] Add a parameter converter for currently accepted Stratimikos "Belos" names to proper Belos names
- [ ] Switch in Stratimikos to using Belos SolverFactory
- [ ] Deprecate custom Stratimikos names

[2016-12-15 22:21] krcb commented on #649
@srajama1 asked me to test out MueLu configured with Amesos2, Tpetra enabled, but Epetra, Amesos disabled. This results in a compilation error in packages/muelu/test/scaling/ImportPerformance.cpp
which has dependencies on Epetra functionality. However, this is not related to the Amesos changes made here.

[2016-12-15 22:44] spdomin commented on #649
Yes, my guess is that it would be more than just this dependency. There probably should be a ticket (I actually think that there is possibly) to have a clean break from Tpetra given @maherou's comment that it has been deprecated.

[2016-12-15 22:45] spdomin commented on #888
Its nice to see this data. I will try to replicate this effort on the R4 and 5 mesh so that the scale is closer to our production level. Thanks...

[2016-12-15 22:49] srajama1 commented on #649
Ok, let us keep this issue for Amesos2 and Amesos dependency. We can create another one for the broader issues (if one doesn't exist).

[2016-12-15 23:10] krcb opened #934 "Make MueLu dependency on Epetra optional"
Compiling MueLu with Epetra explicitly turned off reveals that (at least) muelu/test/scaling/ImportPerformance.cpp has a dependency on Epetra that is not wrapped at the CMake level (i.e. this test is enabled irrespective of whether Epetra is enabled or not).

[2016-12-15 23:11] krcb commented on #649
I've opened issue #934 to address the MueLu issue.

[2016-12-16 00:02] jhux2 commented on #934
@trilinos/muelu I'll have a look at this.

[2016-12-16 00:06] mhoemmen commented on #924
@bartlettroscoe wrote:

I'm OK with that, as long as it's OK with the @trilinos/muelu developers.  Thanks!

[2016-12-16 00:07] mhoemmen commented on #933
@tawiesn wrote:

That's correct.  It doesn't have any meaningful contents, except perhaps for an enum definition and some headers that remain for backwards compatibility.  It will go away at some point.

[2016-12-16 01:37] nschloe commented on #933
Alright, I guess the Debian warnings are safe to ignore. Thanks for the explanation!

[2016-12-16 01:37] #933 closed

[2016-12-16 02:13] jhux2 commented on #934
@krcb I just pushed what I think is a fix.  However, I can't really test this until Amesos2 doesn't depend on Amesos :).  Please let me know if this helps.

[2016-12-16 02:20] krcb commented on #934
@jhux2 I just tested this out on #918 and the Epetra dependency is gone. Thanks!

[2016-12-16 02:20] #934 closed

[2016-12-16 02:21] krcb commented on #649
@jhux2 resolved #934. MueLu now builds without Epetra and passes tests.

[2016-12-16 02:23] jhux2 commented on #934
Great.  By the way, it looks like one of Ifpack2's tests (Ifpack2_UnitTestBlockRelaxationPerf.cpp) suffers from a similar problem.  I will open a separate ticket on this.

[2016-12-16 02:26] jhux2 opened #935 "Ifpack2_UnitTestBlockRelaxationPerf.cpp has unguarded dependency on Epetra"
In fixing #934, I discovered that Ifpack2's block relaxation performance test has an unguarded dependency on Epetra.  I don't believe it's enough to just check for ML, since ML doesn't require that Epetra be enabled.

@trilinos/ifpack2

[2016-12-16 15:44] jwillenbring opened #936 "Intrepid Doxygen generation broken"
@mperego @dridzal

I noticed that the doxygen documentation for intrepid is not currently generating properly. This appears to be due to this commit:

commit e3ffb45f4172a69fd204a4b74e5cce1ca85d4cc9
Author: avdelor <avdelor@sandia.gov>
Date:   Tue Aug 11 09:31:27 2015 +0000

    Fixed executable flag in intrepid. Set folders to 755 and files to 644

Apparently a number of files in Intrepid were se

[2016-12-16 16:12] jwillenbring commented on #764
I resolved the Doxygen issue and in the process found an issue with intrepid Doxygen and filed a [separate ticket](https://github.com/trilinos/Trilinos/issues/936) for that.

I did a medium-depth review of the other aspects of this ticket. I am closing as reviewed and complete.

[2016-12-16 16:12] #764 closed

[2016-12-16 18:47] spdomin commented on #888
I need a sanity check on the Muelu parameters.. From what I can see, the XML from the original Trinity runs looks like the following attached file:

[milestone_orig.txt](https://github.com/trilinos/Trilinos/files/657973/milestone_orig.txt)

The one that Matt has been running is located under the NaluRtest repos,

https://github.com/NaluCFD/NaluRtest/blob/master/xml/milestone.xml

Note that there a

[2016-12-16 21:11] spdomin commented on #888
Here is another interesting data point from our open science work... Executable build was on the master Trilinos/Nalu around 4/8/2016. The mesh used for this strong scaling had 5,789,267,137 nodes.

65K core job:

[code]

130K core job:
[code]

[2016-12-16 22:44] jjellio opened #937 "CMake configure (runtime) tests and Cross compiling"
I am having a problem configuring Trilinos using the Cray programming environment.

Specifically, I have ParMETIS and Zoltan2 enabled. Zoltan2 requires ParMETIS >= 4.0.3.

The test for this builds a simple binary that includes parmetis.h and checks that the version is sufficient.

The problem seems to be that on Mutrino, the node used for compiling is not the same ARCH as the target. E.g., Cray's

[2016-12-16 23:04] spdomin commented on #649
Lots of traffic. Should I simply wait? Develop is still showing the issue.
   ***
   *** ERROR: Setting Trilinos_ENABLE_Amesos2=OFF which was 'ON' because Amesos2 has a required library dependence on disabled package Amesos!
   ***

[2016-12-17 00:03] jrood-nrel commented on #779
I would like to add my support for this. I am trying to generalize the Trilinos package file in Spack and at the moment I have to do something customized for my project like this:

[code]

when I want to do something like this:

[code]

However, it appears the -DPnetcdf_LIBRARY_DIRS:PATH doesn't do anything at the moment in that the libraries don't appear to be included on the link line unless I d

[2016-12-17 00:14] ibaned commented on #926
I've submitted my implementation as pull request #938.

[2016-12-17 01:58] bartlettroscoe commented on #937
Generally it is better not to test if a built executable runs due to cross-compiling situations like this.  Most of the rest of the TPLs just check that the files exist and at most makes sure that things link.

But note that you can just set the cache vars manually to avoid the attempt to run anything.  See:

* https://cmake.org/cmake/help/v3.0/manual/cmake-toolchains.7.html

[2016-12-17 02:02] bartlettroscoe commented on #779
This will be addressed with that addition of:

* https://github.com/TriBITSPub/TriBITS/pull/156

Needs some manually testing on various projects to make this this is backward compatible.

[2016-12-17 02:38] srajama1 commented on #649
Yes, please wait. There are two issues left. One in Tacho and one in Ifpack2. Hopefully nothing else pops up. This is like a whack-a-mole so far.

[2016-12-17 03:11] spdomin commented on #888
I replicated the R4 study on Serrano using 38 and 76 nodes. The plot may be busy, so let me explain. I used ML with the above ML parameters. I compared these results to the Muelu runs with the milestone.xml and the muelu_matches_ml.xml file.

![mlmuelubenchmarkr4](https://cloud.githubusercontent.com/assets/8699324/21283995/69d40036-c3cb-11e6-8929-9f22678df064.png)

Results indicate that for both t

[2016-12-17 06:47] mhoemmen commented on #883
Note that only unpack was using `Kokkos::atomic_*`.  I'm testing the fix now.

[2016-12-17 06:51] mhoemmen commented on #937
@trilinos/framework

[2016-12-17 06:54] mhoemmen opened #939 "Tpetra::MultiVector: Isolate & do separate ETI for pack & unpack kernels"
@trilinos/tpetra
Pack and unpack kernels for Tpetra::MultiVector currently get built on the fly.  It would make sense to isolate those kernels and use the ETI system to build them separately from Tpetra_MultiVector_def.hpp.

[2016-12-17 07:25] mhoemmen commented on #883
Note that the fix mentioned above does not deal with the issue of using `Kokkos::OpenMP` or `Kokkos::Threads`, but only using a single thread.  We presume that if you bothered to turn on OpenMP (requires a nondefault build option) or Threads (ditto), then you want the thread-parallel option.

[2016-12-17 07:33] #883 closed

[2016-12-17 13:42] srajama1 commented on #888
Github issue https://github.com/trilinos/Trilinos/issues/883 might be related. That is fixed now.

[2016-12-17 16:53] tawiesn commented on #924
I would be ok with closing it.

[2016-12-17 19:08] mhoemmen opened #940 "Tpetra::CrsGraph::makeIndicesLocal: Don't 0-fill k_lclInds1D_ (StaticProfile case)"
@trilinos/tpetra
In Tpetra::CrsGraph::makeIndicesLocal, in the StaticProfile and LocalOrdinal != GlobalOrdinal cases, don't zero-fill k_lclInds1D_ when allocating it.  The subsequent, already thread-parallel conversion of global indices to local indices will initialize it.

Note that CrsGraph does not do first-touch allocation correctly for k_lclInds1D_, and this fix won't fix that.  The correct w

[2016-12-18 06:39] mhoemmen opened #941 "Tpetra::CrsMatrix: 1-level (host) thread parallelization of sorting and merging column indices"
@trilinos/tpetra
Story: #829

This compares to #834.  Tpetra::CrsMatrix needs its own sort and merge, because of the DynamicProfile first-time fill case.

[2016-12-18 06:51] mhoemmen commented on #888
(#883 relates to apply, not to solve)

[2016-12-18 06:58] #940 closed

[2016-12-19 18:37] jhux2 commented on #888
@spdomin Thanks for generating this strong-scaling data.  In my R2 data, I was reporting weak scaling.  Our Parallel Processing Letters paper only reports strong scaling for the momentum solve.

[2016-12-19 23:03] jhux2 commented on #888
@spdomin I looked at the run directory on serrano (```/gscratch/spdomin/benchMarkET```) and noticed some problems with the input decks.

-  All the simulations using MueLu have dropping turned off, whereas dropping is turn on for ML.
- There is also at least one run where repartitioning is disabled.
- There are three runs that are using ILUT as a coarse grid solve.

We should talk about this graph

[2016-12-19 23:37] jhux2 commented on #888
@spdomin The results with labels with the ```_mm``` suffix were generated using the ```matches_ml_default.xml``` input deck.  This input deck has aggregation dropping disabled, which is inconsistent with the milestone and ML input decks.

[2016-12-20 02:05] jhux2 commented on #888
@spdomin  I **strongly** disagree with this statement.  The factor of 1.6 is derived from columns that used the input ```matches_ml_default.xml```, which has repartitioning disabled.

[2016-12-20 03:09] spdomin commented on #888
The matches_ml and milestone Xml files were obtain by the team many months ago. I can track the pedigree of these input files.

Do you not agree with the milestone xml? Please submit a pull request on the updated Snl files to be in the NaluRtest repos.

[2016-12-20 09:54] nschloe opened #943 "Epetra installs test files into bin/"
With
[code]
(perhaps some of the lines can be dropped), `make install` will install test files into `$PREFIX/bin/`, namely
[code]

[2016-12-20 12:43] rppawlo commented on #943
@nschloe this is the intended behavior for the phalanx_create_evaluator.py file. This is not a testing file but is a utility for users of the phalanx library. This file allows users to autogenerate a phalanx evaluator template instead of hand typing the class skeleton. Is there an issue with it being installed? I can't comment on the Epetra files.

[2016-12-20 13:14] nschloe commented on #943
Thanks @rppawlo for the comment. It's perfectly fine to install the file; I'll adapt the original text.

[2016-12-20 17:50] mhoemmen opened #944 "Tpetra: Extend MPI_Iallreduce interface to allow rank-0 Kokkos::View input and output buffers, as well as rank-1"
@trilinos/tpetra
Story: #748
Blocks: #753

[2016-12-20 17:54] mhoemmen commented on #859
I'm moving this to the backlog, since we don't have any customers asking for complex-arithmetic Pipelined CG or GMRES.  We'll just have to remember to make exception-throwing stubs for the complex arithmetic case, for those solvers.  (Belos already has examples for how to do that.)

[2016-12-20 18:00] mhoemmen commented on #877
@nmhamster I'm moving this to Q2, since planning and other Q1 tasks took more time than expected.

[2016-12-20 18:02] mhoemmen commented on #877
See also #834 and #941.  Some work I've been doing for those is related.

[2016-12-20 18:12] #944 closed

[2016-12-20 18:12] #753 closed

[2016-12-20 18:13] #875 closed

[2016-12-20 18:13] #873 closed

[2016-12-20 18:38] tawiesn opened #945 "checkin-test-sems.sh with GCC 4.7.2 fails on RHEL 7"
Using the new checkin-test-sems.sh script on a SEMS-enabled RHEL 7 machine fails.

Obviously, the script loads the modules
`sems-gcc/4.7.2` and `sems-cmake/3.5.2`

The `cmake` call crashes with the following error message

This is obviously a problem with the SEMS module for cmake.

[2016-12-20 18:42] tawiesn commented on #945
A workaround is to manually load a newer compiler module, e.g.
`module load sems-gcc/4.9.3`

The `checkin-test-sems.sh` script then complains

but it proceeds and works as expected.

What is the right way to fix this? Either fix the problem with the SEMS module or choose a different compiler depending on RHEL 6 or RHEL 7?

[2016-12-20 18:48] tawiesn commented on #945
@trilinos/framework
@bartlettroscoe

[2016-12-20 19:44] bartlettroscoe commented on #945
I wonder if we can find a way to get the GCC 4.7.2 SEMS env to work on RHEL 7?  We really don't want to push changes to Trilinos only testing with GCC 4.9 since GCC 4.9.3 will accept C++11 code that GCC 4.7.2 will not.  We had an example of this happening a few weeks ago.  We have a very important internal SNL customer that requires GCC 4.7.2 so it would be bad if we did not test with GCC 4.7.2 be

[2016-12-20 20:31] tawiesn commented on #945
The SEMS GCC 4.7.2 compiler works with the SEMS cmake 2.8.x modules on RHEL 7. So, one can load
`module load sems-cmake/2.8.12`
but then the configure call fails since it cannot find Parmetis 4.0.3.
I checked the `sems-parmetis/4.0.3/parallel` module and it looks fine to me. I don't know why the configure script fails. It should not.
Where can i post SEMS tickets?

[2016-12-20 20:39] tawiesn commented on #945
Here is the output of the configuration run:
[configure.out.txt](https://github.com/trilinos/Trilinos/files/664692/configure.out.txt)

Using the following command
`tawiesn@enigma.sandia.gov:~/checkin/Trilinos/CHECKIN-SEMS$ ./checkin-test-sems.sh --do-all`
results in

and finally the checkin test fails during the configuration because of the Parmetis problem.

[2016-12-20 21:18] bartlettroscoe commented on #945
`module load sems-cmake/2.8.12` but then the configure call fails since it cannot find Parmetis 4.0.3.
I checked the sems-parmetis/4.0.3/parallel module and it looks fine to me. I don't know why the configure script fails. It should not.

That is interesting.  I found the same problem with CMake 3.7 .0.  I don't see anything wrong with the SEMS-installed ParMETIS libs either.  But I only see this

[2016-12-20 21:26] tawiesn commented on #945
@bartlettroscoe Thanks
Using `sems-gcc/4.9.3` with the `sems-cmake/3.5.0` module works fine on RHEL 7. No problems with the `sems-parmetis/4.0.3` module in that configuration...

[2016-12-20 22:39] mhoemmen opened #946 "Tpetra::Details::idot continuous test failure"
http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2662728

@trilinos/tpetra

I haven't been able to replicate this, even when using the new checkin-test-sems.sh check-in test script.  Will take a look.

[2016-12-20 23:12] mhoemmen commented on #946
This test must be using an old MPI version.  With old MPI versions, Tpetra is forced to use MPI_Allreduce instead of MPI_Iallreduce to implement the nonblocking all-reduce.

Hm, how do I change the MPI version with the new checkin-test-sems.sh script?  I'll have to figure that out I guess.  @bartlettroscoe , any ideas?

[2016-12-20 23:17] tawiesn commented on #946
@mhoemmen Try to load an old MPI version module by hand before you run the checkin-test-sems.sh script. It should be preserved and not overwritten by the checkin-test-sems.sh script. I know, this works for compilers, it should also work for the MPI libraries.

[2016-12-20 23:24] mhoemmen commented on #946
@tawiesn Thanks!  It looks like checkin-test-sems.sh is _supposed_ to load OpenMPI 1.6.5 if nothing else has been loaded yet, and I know that version of OpenMPI is sufficiently old.  I'll just try a `module purge` and running the script again to see if that works.

[2016-12-20 23:33] mhoemmen opened #947 "checkin-test-sems.sh uses same -jN for ctest as for make"
@trilinos/framework
checkin-test-sems.sh uses the same -jN argument for ctest as for make.  This is a bad idea, because many tests use both MPI processes and threads.

[2016-12-21 00:39] mhoemmen commented on #946
@tawiesn I was able to replicate the bug by purging modules before running the checkin-test-sems.sh script.  Now for debugging fun :)

[2016-12-21 00:44] aprokop commented on #947
I was always wondering: how does one properly control number of threads, number of mpi rinks into the context of parallel ctest without oversubscribing. Is there a proper solution, or just upper boundaries?

[2016-12-21 00:58] crtrott opened #948 "KokkosKernels: SPMV performance comparison test"
This adds a performance comparison test without MPI for just SPMV kernel. Can compare the KokkosKernel function, a custom Kokkos implementation, CuSparse and MKL.
This can read MatrixMarket format, and also generate a binary matrix storage file, which it can read again. Depending on your system reading the binary format back in can be 10x faster than the text file.

I had that written quite a whil

[2016-12-21 00:59] crtrott commented on #948
For now this only has a gnu make build and is not incorporated into CMake build system

[2016-12-21 01:22] crtrott commented on #948
Here is a build command for Bowman (Assuming you loaded the intel devpack; you can do that in any build directory for out-of-source build):
[code]

Here is the usage (--help):
[code]

On Bowman you can find matrices under: /home/projects/matrix-market

[2016-12-21 02:58] bartlettroscoe commented on #947
Just tell TriBITS/CTest how many total cores the test uses with `NUM_TOTAL_CORES_USED`.  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#running-multiple-tests-at-the-same-time-tribits-add-test

This has been implemented and used in CASL VERA for many years.

If there are Trilinos tests that are multi-threaded and not setting `NUM_TOTAL_CORES_USED` then that is a separate issue but che

[2016-12-21 03:06] bartlettroscoe commented on #946
I am thinking that we need to run these bash scripts with `#!/bin/bash -e` to catch any problems loading the standard CI env and then die before running the inner checkin-test.py command.

Any objections to this?

[2016-12-21 03:14] bartlettroscoe commented on #946
Actually, what load_sems_dev_env.sh and therefore checkin-test-sems.sh should do is to 'module purge' and then always load the env from scratch.  It looks like this is the only safe way to do this in case people have incompatible envs loaded already.  But since checkin-test-sems.sh runs in its own shell, this will not impact the users outer env, unless they need to reproduce a build.  I will fix t

[2016-12-21 06:18] mhoemmen commented on #946
@bartlettroscoe wrote:

I'm OK with that -- thanks!  It wasn't really a big deal -- it just took me a while to see that the script was using my existing modules, rather than loading the modules it wanted.

[2016-12-21 06:22] mhoemmen commented on #947
@bartlettroscoe wrote:

This issue is really about `make` vs. `ctest` behavior, not about NUM_TOTAL_CORES_USED.  The old check-in script distinguished between "options to pass to `make`" and "options to pass to `ctest`".  Many users found that useful.

A separate issue is that `NUM_TOTAL_CORES_USED` isn't always helpful.  OpenMP expands to fill the number of cores that are available.  We actually

[2016-12-21 06:24] mhoemmen commented on #948
Yo @jjellio and @tjfulle -- this may be useful.  Also, I need to open an issue about the new "region" interface that Kokkos Profiling offers.  That would be a handy option for doing the kind of layered performance studies that @jjellio is working on now, while still letting us work in the main Trilinos repo instead of a branch that doesn't see performance improvements.

[2016-12-21 12:44] rppawlo commented on #946
Can you make the module purge optional with default of enabled? A module purge caused a checkin test script to fail for me yesterday. I use a newer git version, loaded by a module, and some git options (set in my .gitconfig file) aren't supported in older versions of git. When I purged my environment and loaded the sems env, the checkin test script was failing on simple git commands with the follo

[2016-12-21 13:34] bartlettroscoe commented on #946
@rppawlo, that is an interesting problem.  The load_sems_dev_evn.sh does not currently load a git module so that means that you are getting the default git version on RHEL 6 which is very old:

[code]

We could make the 'module purge' optional, but (as have seen) the SEMS modules don't just prepend paths, they crash when they detect incompatible modules are loaded and that makes the current approa

[2016-12-21 14:03] bartlettroscoe commented on #947
You can still set anything you want.  Just update your defaults in the file local-checkin-test-defaults.py (see documentation in checkin-test-sems.sh).  You can remove `-j4` and then set separate parallel levels for the build and for ctest as you did before using something like `--make-options=-j16 --ctest-options=-j1`.  See the new "note":

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C

[2016-12-21 14:18] rppawlo commented on #946
@bartlettroscoe If you load the git module, then you force the users .gitconfig to be consistent with that version. Approach 2 is more flexible in this regard but rules out the use of modules for picking git version. I can work with either choice. I think the typical user of this script is going to use the sems modules anyway so choice 1 is probably the best.

[2016-12-21 16:40] mhoemmen commented on #946
@bartlettroscoe I'm with @rppawlo ; feel free to let the script load a sensible git module.  Git is as much a part of our test environment as the compiler, so the check-in test script should load the version of git that it wants, just like it loads the compiler and MPI versions that it wants.

[2016-12-21 16:42] mhoemmen commented on #947
@bartlettroscoe wrote:

Neat! :-D  I'll do that then, and close this issue.  Thanks!

[2016-12-21 16:42] #947 closed

[2016-12-21 16:48] mhoemmen commented on #946
Debugging progress: The following cases work (don't segfault or report an error in `MPI_Allreduce`):
  - `Tpetra::Vector` inputs and raw pointer output
  - `Tpetra::Vector` inputs and rank-0 `Kokkos::View` output

The following case triggers the error:
  - `Tpetra::MultiVector` inputs (with multiple columns) and raw array output

The following case has not yet been tested:
  - `Tpetra::MultiVector

[2016-12-21 17:21] mhoemmen commented on #946
Huh, the not-yet-tested case reports a link error.  Will need to poke around a bit more.

[2016-12-21 17:32] bartlettroscoe commented on #946
I have found that in most cases, git 1.x .gitconfig settings are mostly respected with git 2.0+ but git may print a nasty warning.  The problem is going the other way (which is what @rppawlo reported [above](https://github.com/trilinos/Trilinos/issues/946#issuecomment-268514491)).

I agree.

Okay, that is the plan then (i.e. do `module purge` then add `sems-git/2.10.1` to list of modules loaded by

[2016-12-21 17:41] bartlettroscoe commented on #946
NOTE: This failing CI test is not so damaging to others trying to push with the checkin-test-sems.sh script because Tpetra only depends on the upstream packages Kokkos, Teuchos, and Epetra as shown in the configure output:

* `Final set of enabled packages:  Kokkos Teuchos Epetra Tpetra 4`
* `Final set of enabled SE packages:  KokkosCore KokkosContainers KokkosAlgorithms Kokkos TeuchosCore Teuchos

[2016-12-21 18:30] jhux2 commented on #888
@spdomin and I looked at the details of the runs used for the first plot, and identified a few issues with solver option choices.  Using the same executable and test problem, but improved solver inputs, here is an updated study.  It omits the previous "_mm" results, as they were using settings that weren't appropriate for this problem.
![new-scaling](https://cloud.githubusercontent.com/assets/1297

[2016-12-21 19:05] mhoemmen commented on #888
@jjellio and @tjfulle, @jhux2's result above could be helpful for comparison with our ongoing benchmarking effort.

[2016-12-21 19:14] mhoemmen commented on #946
Hm, in the `MPI_VERSION < 3` case, I wasn't using `MPI_IN_PLACE` when I should have been.  Must not have had `Tpetra::Details::iallreduce` coverage for that case.  `Tpetra::Details::idot` prefers to exercise `MPI_IN_PLACE` if the input communicator is not an intercommunicator, since that avoids a temporary buffer allocation.

[2016-12-21 20:01] guoluanjing opened #949 "Conversion from boost shared_ptr to Teuchos::RCP"
Hello there,

I just joined gitHub to ask a question about the conversion between boost shared_ptr and Teuchos::RCP.

I included the header file of "Teuchos_RCPBoostSharedPtrConversionsDecl.hpp" from the source directory, and used the following template

[code]

But I've got linking errors that reads: **undefined reference to `Teuchos::RCP<MyDataClass> Teuchos::rcp<MyDataClass>(boost::shared_ptr<M

[2016-12-21 20:22] spdomin commented on #888
Thanks for posting as I can reply to some of the subtleties. Muelu performance was once within 3% of ML for the element-based scheme and ~18% of the edge-based scheme. Now, Muelu is showing both within a 10% range. So, speed-up in the edge-based scheme and slow-down in the element-based scheme. I also ran a weak scaling plot of the R3 and R4 mesh on Serrano. The numbers are not ideal, however, no

[2016-12-21 21:17] mhoemmen commented on #946
Tests pass with both MPI_VERSION < 3 (OpenMPI 1.6.5) and MPI_VERSION >= 3 (OpenMPI 1.10.1).  Check-in test script only did the first of these; I did the second on my own.  Thanks all!

[2016-12-21 21:17] #946 closed

[2016-12-21 21:26] mhoemmen commented on #888
@spdomin wrote:

I'm pleased to hear this :-)  There are a few benchmarking and performance improvement efforts this FY for both assembly and solves.  In particular for assembly, performance should improve even for the MPI-only (no threads) case, because the planned improvements will search the matrix's rows less.

[2016-12-21 21:28] mhoemmen commented on #949
@guoluanjing May I ask a few questions?

  1. Did you enable the Boost library in Trilinos?
  2. If so, what version of Boost are you using?
  3. Could you show us your code that attempts to convert from boost::shared_ptr to RCP?

[2016-12-21 21:28] mhoemmen commented on #949
@trilinos/teuchos

[2016-12-21 22:20] jhux2 commented on #888
It's possible, but I suspect other causes.  Since this is strong scaling, we know at some point the scaling degrades (I am not saying that that is happening here).

[2016-12-21 22:25] ibaned opened #950 "LOCA: allow skipping DfDp via ParameterList"
LOCA's computeDfDp logic perturbs parameters by some epsilon. In Albany, we are running into trouble because the perturbed parameter is outside of a certain domain. In particular, users specify piecewise functions of the parameter and if it is perturbed outside the user-specified domain then the user function can't be evaluated. I noticed LOCA has a "skipDfDp" option in parts of the code, but it i

[2016-12-21 22:36] guoluanjing commented on #949
@mhoemmen Thanks for your response.

Here's my answer to your questions:
1. We are using Trilinos 11.12.1, and it was not configured and built with Boost.
2. Boost is built with our code as an external library, the version is 1.58.0i.
3. Here is the part of the code of how I am using it:
[code]
I also have a new development:
when I changed the include file from "Teuchos_RCPBoostSharedPtrConversion

[2016-12-21 23:31] mhoemmen commented on #949
@guoluanjing Thanks for answering my questions!

Teuchos::RCP's interface to boost::shared_ptr will not work unless Trilinos was configured and built with Boost.  This is because Teuchos::RCP protects its interface to boost::shared_ptr with macros that are defined (or undefined) at Trilinos' configure time.

If you would like to enable Trilinos' support for Boost, you must at least set the CMake o

[2016-12-21 23:37] mhoemmen commented on #606
I really want to implement this.  The quickest solution would be the caching approach that @csiefer2 proposed.  In that approach, the first call of getGlobalNumDiags and getGlobalNumEntries would invoke a collective and cache the result.  Subsequent calls would return the cached result.

[2016-12-21 23:46] bartlettroscoe commented on #949
Just one small correction.  As described here:

* https://trilinos.org/docs/r11.12/packages/teuchos/doc/html/index.html

you need to configure with `-DTeuchos_ENABLE_Boost=ON`.  You can also configure with `-DTPL_ENABLE_Boost=ON` and that will have the same effect (since it will set `Teuchos_ENABLE_Boost=ON` by default) .  Then you need to point Trilinos to the desired version of Boost by setting

[2016-12-21 23:46] jhux2 commented on #606
@mhoemmen In addition to the tests, MueLu uses this for various statistics reporting, e.g., multigrid "operator complexity", and for various sanity checks.  We could do collectives ourselves, if that's the route you want to go.

I think this is a reasonable approach.

[2016-12-21 23:47] mhoemmen commented on #606
@jhux2 wrote:

I'm starting to favor the "change to collective semantics, and cache" approach.  In fact, I'm tempted just to _do_ it and see if anyone notices ;-)

[2016-12-21 23:49] mhoemmen commented on #606
(Of course I would test everything downstream first.  The issue is that it's really hard to warn users about a change in _semantics_.  That's one reason why I was thinking of just getting rid of the methods in question.  On the other hand, I doubt most users would call these methods in a way that's not collective.)

[2016-12-21 23:54] guoluanjing commented on #949
Thanks for your prompt responses, @mhoemmen and @bartlettroscoe , we will rebuild it with Boost and report back how it works.

Happy holidays!

Luanjing

[2016-12-22 00:03] srajama1 commented on #606
Is this really that big of a burden in setup costs ? It is one/two all reduce at the setup() time. May be this is a low hanging fruit ?

We could do the collective in Amesos2 as well. The cache approach has to be designed carefully. resumeFill() needs to do the collective and reset the values.

[2016-12-22 00:17] bartlettroscoe commented on #945
@tawiesn, I have just pushed an updated version of `checkin-test-sems.sh` in the Trilinos commit dde3ea7 that will allow you load your own env first then run and it will leave it.  That will allow you to load exactly what will work on your RHEL 7 system based on what you have reported above (and I fixed the find problem with ParMETIS in commit 0960c82).  Just run with:

[code]

You can test locall

[2016-12-22 00:44] mhoemmen commented on #606
@srajama1 wrote:

Tpetra::CrsGraph does not currently allow structure changes after first fillComplete, so this would not be necessary.

[2016-12-22 01:14] aprokop commented on #606
Is caching a different name for "lazy evaluation", or is it different?

[2016-12-22 04:03] srajama1 commented on #606
Modifying the structure is an important use case, that is coming up very quickly (ECP-Apps, Nalu).

As I understand, caching as described here is find it once and store it in a member variable.

[2016-12-22 12:26] rppawlo commented on #950
@etphipp

[2016-12-22 18:03] mhoemmen commented on #949
@guoluanjing wrote:

You too!  We would be interested in hearing more about your use case if you wouldn't mind sharing.  The Teuchos interface to boost::shared_ptr was written before C++11.  There might be some interest in a refresh to support std::shared_ptr.  Would that be of interest to you?

[2016-12-22 18:11] mhoemmen commented on #606
@aprokop wrote:

Same thing.

@srajama1 wrote:

That's right.

@srajama1 wrote:

If we want to support structure modifications efficiently, I think it would pay to start fresh with a totally new graph class, then think about how to fit that class in.  Neither Epetra nor Tpetra designed their graph class for that use case, and the graph and matrix classes are full of hidden assumptions about the gr

[2016-12-22 18:14] bartlettroscoe commented on #949
<  There might be some interest in a refresh to support std::shared_ptr. Would that be of interest to you?

Conversions between std::shared_ptr and Teuchos::RCP already exist and are enabled automatically when C++11 is enabled (which it is by in Trilinos).  See:

* https://trilinos.org/docs/dev/packages/teuchos/doc/html/group__Teuchos__RCPStdSharedPtrConversions__grp.html

You can see unit tests f

[2016-12-22 18:40] mbarone81 commented on #888
Hi @spdomin, @jhux2, I just wanted to note that the very limited weak scaling study for continuity solve that I performed on Serrano using the ABL problem looked perfectly fine as well.  It was on Skybridge and Cori where the weak scaling results were sub-optimal.  Would be great if someone can produce good weak scaling on, say, Skybridge with some other problem for a sanity check.

[2016-12-22 18:52] mhoemmen commented on #606
Hm, there are a few cases where downstream packages use these functions in ways that may diverge across processes.  One example is in Xpetra's interface to sparse matrix-matrix addition, in xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp, lines 1892-1930:

https://github.com/trilinos/Trilinos/blob/develop/packages/xpetra/sup/Utils/Xpetra_MatrixMatrix.hpp

One work-around would be for the code in question

[2016-12-22 19:15] mhoemmen opened #951 "Belos: Work around ancient Doxygen version to display SolverFactory table correctly"
@trilinos/belos @trilinos/framework

The online Doxygen documentation linked from trilinos.org uses an ancient version of Doxygen that does not understand Markdown tables.  Thus, I changed the documentation of Belos::SolverFactory to use an HTML table instead of a Markdown table.  Hopefully this makes the table show up correctly.

[2016-12-22 19:23] #951 closed

[2016-12-22 19:58] aprokop commented on #606
@mhoemmen I'm missing something. How's the Xpetra code you pointed to divergent?

[2016-12-22 21:18] barche opened #952 "Accessing RCPs from Julia (programming language) (was "Only using non-owning RCPs")"
Continuation from the mailing list discussion:
https://trilinos.org/pipermail/trilinos-users/2016-December/005744.html

@bartlettroscoe Thanks for the reply. I see now that my approach would require keeping all Trilinos objects that are created from Julia safe from garbage collection, which in Julia means they must always be referenced by a variable. This seems like an unreasonable burden on the u

[2016-12-22 21:22] mhoemmen commented on #952
It would make sense to talk to @wfspotz about what he does in PyTrilinos (a Python interface to Trilinos), or what @maherou plans for the revival of ForTrilinos.  One approach is for the interface layer to maintain a table of outstanding Trilinos objects, and do garbage collection on them.  It's a bit like the Fortran 77 MPI binding, where users see only integer "handles," and the binding layer ha

[2016-12-22 21:23] mhoemmen commented on #606
@aprokop wrote:

Oops, my bad ;-)  Actually it's not.  I could imagine some code that is, though.

[2016-12-22 21:27] mhoemmen opened #953 "LinearSolverFactory: Add a way to add new solvers at run time"
@trilinos/belos
Story: #748

For a given package's LinearSolverFactory, and for a particular template parameter combination,  add a way to add new solvers at run time.

For example, if we implement Pipelined CG _just_ for Tpetra objects, we want a way to add this solver to the list of solvers that Belos' factory knows how to create.

[2016-12-22 21:47] guoluanjing commented on #949
@mhoemmen I'm using boost::shared_ptr only because our code was built using it, but I see that RCP actually provides similar functions we use. For the part of the code I'm modifying, it is easier to do the conversion rather than changing all shared_ptr to RCP.
@bartlettroscoe Thanks for the info, good to know.

Thanks again for your help, I will close this issue.
-- Luanjing

[2016-12-22 21:47] #949 closed

[2016-12-22 21:49] mhoemmen commented on #754
Here's how this could work:
  1. Make the current SolverFactory a base class, SolverFactoryBase; it is generic for all linear algebras (it can create solvers that are generic for any linear algebra)
  2. Default implementation of SolverFactory just inherits from SolverFactoryBase
  3. We can specialize SolverFactory for specific linear algebra implementations.  Include the specialization in the sa

[2016-12-22 21:51] mhoemmen commented on #953
This is _not_ a duplicate of #754.  First, #754 deals with Belos::SolverFactory; this issue may deal with the more generic LinearSolverFactory.  Second, this issue is about run-time extension by users, not about what Belos might offer.  Nevertheless, the two issues are related.

[2016-12-22 21:53] mhoemmen commented on #949
@guoluanjing It would be really interesting for us to know _what_ code you're working on, but if you're not willing to share that information in public, that's OK.  Glad we could help!

[2016-12-22 22:07] guoluanjing commented on #949
@mhoemmen I didn't realize that you were asking that. I certainly could share that. I'm working on a simulator that models the multiphase flow and reactions through fractured media, with applications to CO2 geological sequestration. What I'm doing is to test the matrix-free method of solving the nonlinear system, which is work in progress.
By the way, we have rebuilt Trilinos with boost, and it is

[2016-12-22 22:11] jhux2 commented on #924
@bartlettroscoe Argh, I just followed the instructions on the wiki (not the instructions here), and my COMMON.config file is getting blown away.  I thought COMMON.config is where I stash things like the location of blas and lapack.  Is this expected behavior?

[2016-12-22 22:17] jhux2 commented on #924
The file "MPI_RELEASE_DEBUG_SHARED_ST.config" is also getting overwritten.  Do the common defaults now go in a different file?

[2016-12-22 22:25] maherou commented on #606
The incremental change use case has been handled in a variety of ways over the years.  In most cases the rigorous and scalable approach has been to store rows that would change (which is often known ahead of time) as a separate matrix from rows that don't change, then write a lightweight RowMatrix interface adapter to logically present the combined matrix as a single operator.

For the single matr

[2016-12-22 22:32] jhux2 commented on #924
The instructions from @mhoemmen work for me -- I'll continue to use the old checkin script.

[2016-12-22 22:38] bartlettroscoe commented on #924
@jhux2, the whole point of the SEMS env and the checkin-test-sems.sh script is that it defines a complete and sufficient env to perform a pre-push CI build with the newly updated set of PT Triilnos packages and TPLs.  Therefore, we don't want people to be setting anything extra if they are using checkin-test-sems.sh.  If you feel the need to mess with these CMake options, then you don't have the S

[2016-12-22 22:44] bartlettroscoe commented on #952
@barche, that is some unfortunate extra overhead but for most use cases this is O(1) overhead so if you are dealing with larger objects on a more course-grained level, then this overhead should be small compared to the total runtime.

[2016-12-22 22:46] jhux2 commented on #924
Right, I now realize that the sems script *should* pick up everything automagically from the SEMS modules that are loaded.  For the moment, I am happy with the old script approach, so I'm going to stay with that.

[2016-12-22 22:56] bartlettroscoe commented on #924
Sounds good.

But just to ask, do you have access to the SEMS env that you could use to test/push with the checkin-test-sems.sh script?  That would maximize the chances that the standard CI build will keep working.  As we have seen just in the last month since this new CI build has been running, little differences in GCC and OpenMPI versions can break the CI build for others.

Otherwise, can we cl

[2016-12-22 23:08] jhux2 commented on #924
Yes, let's close this issue.

[2016-12-22 23:08] #924 closed

[2016-12-22 23:57] mhoemmen commented on #949
Thanks for sharing!  It's helpful for us to have some idea about applications that use Trilinos.  Feel free to get in touch with us if you would like to come to our yearly Users' Group Meeting (end of October usually).

[2016-12-23 00:08] mperego commented on #936
I'm fine changing the flag for the build_docs file. @dridzal, is that OK with you?
Thanks for looking at that.

[2016-12-23 01:11] jhux2 opened #954 "Ifpack2: dangerous shadowing in Details::MultiVectorLocalGatherScatter"
@trilinos/ifpack2
In Ifpack2_Details_MultiVectorLocalGatherScatter.hpp in the gatherMVtoView method, there is this code:

[code]
The inner use of ```i``` is shadowed by the outer.  This looks dangerous.

I thought this would be the proper fix:
[code]

However, ```SparseContainer_double_int_int_ILUT_UnitTest``` fails when I make that change.

I had hoped to fix this while simultaneously pushing an

[2016-12-23 01:13] jhux2 commented on #954
@brian-kelley

[2016-12-23 01:34] brian-kelley commented on #954
I just made a patch that fixes this and the other shadow warnings in DenseContainer_def and TriDiContainer_def that Brent discovered when building Sierra. In this case, the first loop shouldn't have been there at all. The patch is in my fork, https://github.com/brian-kelley/Trilinos/tree/newDevelop. Should I push it to develop?

[2016-12-23 15:58] bartlettroscoe commented on #946
@rppawlo, I updated the script load_sems_dev_env.sh to also load sems-git/2.10.1.  Please give this a try again and let me know (offline) if this works for you or not.

@mhoemmen, right, we can only pick one MPI version for our pre-push CI build for a reasonably fast pre-push testing process.   We just need to pick the one that is most important to our must important customers.

[2016-12-23 17:04] dridzal commented on #936
I'm fine with that, as long as the documentation starts generating properly again.

[2016-12-23 17:57] mhoemmen commented on #946
Not a criticism ;-) I could always rig up a metascript to run multiple test configurations.

[2016-12-23 17:58] mhoemmen commented on #954
Does it pass the tests?

[2016-12-23 19:02] brian-kelley commented on #954
Yes, all Ifpack2 tests pass.

[2016-12-23 19:13] #954 closed

[2016-12-23 23:45] barche commented on #952
Allright, thanks, I don't think the overhead will be a problem for my use case. I've taken the first steps (map initialization only) in translating the Tpetra power method example:
https://github.com/barche/Trilinos.jl/blob/master/examples/powermethod.jl

[2016-12-25 20:18] rambodtabasi commented on #346
was this issue solved? I have get the same error for pamgen

[2016-12-27 20:17] aprokop opened #955 "PyTrilinos: move out SWIG detection to root cmake/"
ForTrilinos will use SWIG and thus this code could be shared by both.

[2016-12-30 19:06] jbakosi commented on #346
I'm not aware of a fix and I shelved my intel/mac build attempt. Would be nice to have a fix though.

[2016-12-30 19:25] rambodtabasi commented on #346
I ended up adding the following to my configuration and rebuilt. It solved the issue for me. I also switched pamgen and fei off since I dont have any use for them.

  -D TPL_ENABLE_BLAS:BOOL=ON \
    -D BLAS_LIBRARY_DIRS:PATH="${BLAS_ROOT}" \
    -D BLAS_LIBRARY_NAMES:STRING="blas;gfortran" \
    -D TPL_ENABLE_LAPACK:BOOL=ON \
    -D LAPACK_LIBRARY_DIRS:PATH="${LAPACK_ROOT}" \
    -D LAPACK_LIBRAR

[2016-12-31 05:50] mhoemmen commented on #346
Not sure why this would fix the issue, but I'm glad it works for you now!

[2016-12-31 05:52] mhoemmen commented on #955
I recall @wfspotz saying a while back that SWIG has had significant bug fixes across versions, and thus the version might matter quite a bit for PyTrilinos vs. ForTrilinos.  It would make sense to check with @wfspotz for the version that works with PyTrilinos.

[2016-12-31 06:12] mhoemmen opened #956 "Ifpack2::BlockRelaxation: Failing unit test"
@trilinos/ifpack2 @brian-kelley @csiefer2

Ifpack2BlockRelaxation_Performance_UnitTest is reporting a failure:

http://testing.sandia.gov/cdash/testDetails.php?test=35939586&build=2677425
[code]
4294967295 is the max `unsigned int` value; Tpetra uses values like that as "invalid" flags.

That's a CUDA build.  If you need help setting up a CUDA build, let me know.

[2016-12-31 06:14] mhoemmen commented on #952
@barche Nice!  Do you think your RCP->Julia scheme could generalize to other languages?

[2016-12-31 06:26] mhoemmen opened #957 "Tpetra: Run-time error in idot unit test, in CUDA build only"
@trilinos/tpetra

Not quite sure what's going on here.  MPI is supposed to be able to get to CUDA device memory, and Tpetra should be using Kokkos::CudaUVMSpace.  This could either be a spurious error, or a bug in the test.

http://testing.sandia.gov/cdash/testDetails.php?test=35938028&build=2677268

[code]

[2016-12-31 18:24] rambodtabasi commented on #346
In my case I build my own BLAS using gfortran so with some help from trilinos-users portal I realized that the problem was related to missing -lgfortran on the link line

[2016-12-31 18:48] mhoemmen commented on #346
@rambodtabasi Glad it works now!  I'll close this issue, but please reopen if you have troubles in the future.

[2016-12-31 18:48] #346 closed

[2017-01-01 08:30] mhoemmen opened #958 "Tpetra::CrsMatrix: Possible bug in transposed apply"
@trilinos/tpetra

@ikalash reported the following:

@ikalash also sent data, which I'll post here.

[2017-01-01 19:17] ikalash opened #959 "Tpetra::CrsMatrix: Feature request for replaceDiagonalValues and invRowSum"
@mhoemmen
@jrobbin
@trilinos/tpetra

I would like to request the addition of the following methods to the Tpetra::CrsMatrix class:

- replaceDiagonalValues
 - invRowSum

These methods are needed in the Albany code.

[2017-01-01 19:18] ikalash opened #960 "Tpetra: Feature request to add "min" CombineMode"
@mhoemmen
@jrobbin
@trilinos/tpetra
I would like to request the addition of a method equivalent to Epetra_Min to the Tpetra exporter class.  It is needed in the Albany code.

[2017-01-01 22:42] mhoemmen commented on #960
Just to clarify: This would be a new CombineMode.  In Epetra, Epetra_Min actually means minimum, not minimum of the absolute values.  Thus, in Tpetra, we would need to specialize this, depending on whether Scalar is real (use less-than) or complex (pick the number whose absolute value is the least).

[2017-01-01 22:46] mhoemmen commented on #959
The `invRowSum` method would be the equivalent of Epetra_CrsMatrix::InvRowSums.  That method takes an output Epetra_Vector, and stores `1 / (sum |A(i,j)|)` in each entry i of the Epetra_Vector.

For Tpetra, I recommend implementing this as a nonmember function, since the public interface of Tpetra::CrsMatrix suffices to write a performant implementation.

[2017-01-01 23:39] mhoemmen commented on #959
The `replaceDiagonalValues` method should be straightforward to implement using existing Tpetra::CrsMatrix methods.  The one issue is that there is no method to get direct nonconst access to the entries, other than to get the KokkosSparse::CrsMatrix directly.  Otherwise, one could precompute relative offsets (via `A.getCrsGraph()->getLocalDiagOffsets(relOffsets)`) and then just write directly to t

[2017-01-01 23:45] mhoemmen commented on #958
Here are the data that @ikalash sent me.  All three files are in Matrix Market format.  The first file represents the matrix's row Map, the second file its column Map, and the third the matrix itself.

[rowMapT.txt](https://github.com/trilinos/Trilinos/files/680252/rowMapT.txt)
[colMapT.txt](https://github.com/trilinos/Trilinos/files/680251/colMapT.txt)
[filteredOperatorT.txt](https://github.com/t

[2017-01-02 00:25] mhoemmen commented on #935
This is important because we would like users to be able to turn off Epetra if they are not using the Epetra "solver stack."

[2017-01-02 01:20] mhoemmen opened #961 "Ifpack2::AdditiveSchwarz subdomain solver creation depends on LinearSolverFactory"
@trilinos/ifpack2

Ifpack2::AdditiveSchwarz uses LinearSolverFactory to create its subdomain solver.  This is good, but the problem is that `Trilinos_ENABLE_LINEAR_SOLVER_FACTORY_REGISTRATION` defaults to `OFF` when explicit template instantiation (ETI) is OFF.  This means that Ifpack2::AdditiveSchwarz currently does not work if ETI is OFF.

[2017-01-02 04:57] mhoemmen commented on #961
I fixed this (both the link errors and the run-time errors) by always building Ifpack2's LinearSolverFactory, regardless of whether `Trilinos_ENABLE_LINEAR_SOLVER_FACTORY_REGISTRATION` is ON.  This may increase build _time_ a bit, especially for ETI OFF builds.  However, it should not increase build _size_ significantly, since MueLu has to build those Ifpack2 classes anyway.

I'm running the check

[2017-01-02 05:07] mhoemmen commented on #961
Just pushed a fix for this issue.

[2017-01-02 05:07] #961 closed

[2017-01-02 06:01] mhoemmen commented on #957
I am able to replicate this with a CUDA build on my workstation.

[2017-01-02 06:39] mhoemmen commented on #957
I suspect the issue is that KokkosBlas::dot uses its X vector input to determine the execution space, but a raw pointer `result` argument points to host memory.  See lines 269-273 of tpetra/core/src/Tpetra_Details_idot.hpp.

The logical fix belongs in Idot.  The implementation should check if the result argument lives in a memory space accessible to the kernel's execution space.  If not, the imple

[2017-01-03 02:07] mhoemmen commented on #957
My fix is simpler than the one I suggested above.  If the vectors' execution space cannot access the result's memory space, or if the input comm is an intercomm, then we need to make a copy of the result and use that for the local dot product result.  Otherwise, we can work in place.  This fix depends on some improvements to Tpetra::Details::iallreduce, to let the send and receive buffers have dif

[2017-01-03 02:08] mhoemmen commented on #957
Just pushed the fix.

[2017-01-03 02:08] #957 closed

[2017-01-03 02:40] mhoemmen opened #962 "Tpetra: Avoid atomic ops for unpack if no duplicate LIDs"
@trilinos/tpetra
Epic: #796
This story matters to other epics besides #796.

Thread-parallel implementations of Tpetra::DistObject::unpackAndCombine(New) do not need to do atomic updates if the result LIDs have no duplicates (meaning that at most one thread will ever modify any one value of the destination DistObject at a time).  "Result LIDs have no duplicates" is a property of the Import / Expor

[2017-01-03 06:01] wfspotz commented on #952
Just a note on what we do in PyTrilinos: SWIG provides a set of typemaps (the SWIG system for mapping between source language [C, C++, ...] types and target language [Python, ...] types) for smart pointers, which I was able to modify to work with RCPs.

This system does allocate RCPs on the heap. Typically, RCPs have ownership, although there are use cases for non-owning RCPs. Since Python employs

[2017-01-03 06:31] mhoemmen commented on #962
The `getRemoteLIDs` method of Import and Export tells one the LIDs to receive from incoming processes.  These LIDs go into `MultiVector::unpackAndCombineNew` as the first argument `importLIDs`, and in turn go into unpack_array_multi_column as its `idx` (indices) argument.  That array is exactly the set of indices (MultiVector rows, in this case) where duplicates require atomic updates in a thread-

[2017-01-03 19:27] jhux2 opened #963 "plans for explicit template instantiation in Intrepid2"
Are there plans to add ETI support in Intrepid2?  This would help reduce build times in packages that depend on Intrepid2.

@trilinos/intrepid2

[2017-01-03 20:29] mndevec opened #964 "Kokkos::StaticCrsGraph does not use memory space template parameter passed to KokkosSparse::CrsMatrix"
I am providing a device to CrsMatrix in the constructor. This is different than default, where device is either Kokkos::Cuda with hostpinned space, or Kokkos::OpenMP with Kokkos::Hostspace when HBM is enabled.

I was expecting CrsMatrix memory to be allocated at the memory space I provide. However, this holds only for the values view, while row pointers and entries are still allocated at the defau

[2017-01-03 20:42] srajama1 commented on #964
Yes, this needs to be fixed.

[2017-01-03 21:07] jjellio opened #965 "Belos solver constructors ignore orthomanager paramerlist options"
Currently, solvers that need an orthogonalizer call an orthomanager's constructor with only a label argument. (called from the SolMgr's setParameter routine) This allows one to change the type of orthogonalization, but never configure it. There are no methods for setting or obtaining the solver's orthogonalizer through the SolMgr interface, hence there is no way to control orthogonalization parame

[2017-01-03 21:32] nmhamster commented on #948
@crtrott @mhoemmen @jjellio @tjfulle I have added an `OpenMP-Static`, `OpenMP-Dynamic` and `OpenMP-SmartStatic` (which I had discussed in a talk in August) to my fork. Of course, since doing that the upstream has changed so I will need to modify the code and get you a pull request, I'll work on that next. Attached is a set of performance comparisons against base Kokkos (`KK`) in a spreadsheet, you

[2017-01-03 21:46] aprokop opened #966 "NOX output configuration seems to affect Piro output"
@trilinos/nox (there is no @trilinos/piro ?) @rppawlo

One of my collaborators was trying to suppress the output from NOX/Piro. He was getting
[code]
Looking at the code it seemed to come from Piro, so I recommended adding
[code]
to the parameter list. However, the person instead suppressed the output by providing
[code]
to the NOX input deck ("Printing").

Looking at the code, it seems that Piro

[2017-01-03 21:51] nmhamster commented on #948
See PR #967 for the code which was used to generate these results.

[2017-01-03 22:10] mhoemmen commented on #964
@mndevec wrote:

Does that mean an "instance of a Kokkos::Device"?  Could you post a short example code here?

[2017-01-03 22:15] nmhamster commented on #948
And here is a spreadsheet which also has HBM-only results. These show that there are potentially greater gains when running out of HBM (and are therefore more sensitive to overheads).

[spmv_impl_compare.xlsx](https://github.com/trilinos/Trilinos/files/683366/spmv_impl_compare.xlsx)

[2017-01-03 22:17] aprokop commented on #966
Also @ikalash @agsalin

[2017-01-03 22:50] bathmatt commented on #914
Well, under clang I build with threads since openmp is not available.

[2017-01-03 23:05] mhoemmen commented on #914
Tpetra does not enable its support for Kokkos::Threads by default, even if Kokkos::Threads is available.  This saves build time and size.  If you want Tpetra to use Kokkos::Threads, you must set the CMake option `Tpetra_INST_PTHREAD:BOOL=ON`.

[2017-01-03 23:28] mndevec commented on #964
I mean a template parameter, not an instance
[code]

[2017-01-03 23:30] nmhamster commented on #948
I noticed a small bug where thread-0 might have done more work than needed and potentially cause a failed test for very small matrices. This is fixed and updated results here. In general it makes the OpenMP-SmartStatic code perform slightly better for small matrices and identically for medium to large matrices.

[spmv_impl_compare.xlsx](https://github.com/trilinos/Trilinos/files/683533/spmv_impl_c

[2017-01-04 00:37] ambrad commented on #948
@nmhamster, in these results, is establishSmartSchedule called at each matvec?

For #threads << @rows, a binary search instead of the linear search at OpenMPSmartStatic_SPMV.hpp:90 might be useful. In HTS, the function partition_ir, here:

https://github.com/trilinos/Trilinos/blob/master/packages/shylu/hts/src/shylu_hts_impl_def.hpp#L1084

does that. ir is equivalent to matrixRowOffsets in establi

[2017-01-04 01:15] nmhamster commented on #948
@ambrad it is called once and saved in a rather embarrassingly simple NULL check. Thank you for the pointer. The purpose of this kernel is to show what a nonzero balancer can do. I can think of hundreds of ways we could improve this further if we are interested.

[2017-01-04 01:52] maherou commented on #960
It might be worth considering a generic form of comparison operator, rather than add to the finite list of operations.  This way the user could define their own operator.  This would have been the next step for Epetra, if we had more requests for operations.  I am guessing this would be fairly easy to support.

[2017-01-04 03:24] nmhamster commented on #948
And here is an updated set of runs with KNL-Cache mode included, now sorted by matrix size. Graphing the results shows the inspector-based methods do quite well for smaller matrices, the OpenMP Smart-Static does better when using HBM and cache mode, for DDR the OpenMP Smart Static and Kokkos-Inspector do similar but not always on the same matrices which most likely reflects the different optimizat

[2017-01-04 15:25] aprokop commented on #966
@rppawlo This is probably one of the climate codes that has been using Epetra for a few years now. I don't know if they have plans to switch to Tpetra any time soon.

It seems that Piro **does** have an option to switch off printing (at least inside Piro). The described issue though is that when we don't turn it off it may still be affected by NOX settings.

[2017-01-04 15:49] jjellio commented on #820
I've worked with

https://github.com/trilinos/Trilinos/blob/master/packages/trilinoscouplings/examples/scaling/TrilinosCouplings_TpetraIntrepidPoissonExample.cpp

As-is, this scaling problem is sufficient for exercising all solvers of interest. (CG, GMRES, BiCGSTAB)

In my own fork, I have modified Belos' orthomanagers so that their Teuchos timers reflect which Ortho kernel is being used.
E.g.,
Be

[2017-01-04 15:52] etphipp commented on #950
You can certainly expose skipDfDp as a parameter if you want.  All you would need to do is extract it from the "continuationParams" list where setConstraints() is called in line 80 of LOCA_MultiContinuation_ArcLengthGroup.C.

However I'm not sure that's what you really want.  If you turn on skipDfDp, then arc-length continuation becomes natural continuation and you won't be able to go around turni

[2017-01-04 16:08] ibaned commented on #950
So, is it true that Natural continuation will always skip the DfDp evaluation ? If so, I simply need to switch from Arc Length to Natural, because we are not doing any kind of sophisticated continuation.

[2017-01-04 16:11] etphipp commented on #950
Natural continuation defaults to skipping the DfDp evaluation, but it is modifiable through the parameter list:

bool skip_dfdp = continuationParams->get("Skip Parameter Derivative", true);
Teuchos::RCP<LOCA::MultiContinuation::ConstraintInterface> cons
    = Teuchos::rcp(new LOCA::MultiContinuation::NaturalConstraint(
    globalData, Teuchos::rcp(this, false)));
LOCA::MultiContinuation::ExtendedG

[2017-01-04 16:11] etphipp commented on #950
I guess this can be closed then?

[2017-01-04 16:16] ibaned commented on #950
Yes, thank you.

[2017-01-04 16:16] #950 closed

[2017-01-04 16:48] srajama1 commented on #649
Looks like there was never an issue create for Tacho. At least I am not able to find it. @krcb can you file an issue with what you are seeing and assign it to me and @kyungjoo-kim ?

[2017-01-04 16:55] nmhamster commented on #948
Updated to include POWER8 with IBM XL. Results show a similar trend.

[spmv_impl_compare.xlsx](https://github.com/trilinos/Trilinos/files/685321/spmv_impl_compare.xlsx)

[2017-01-04 16:57] krcb opened #968 "ShyLUTacho does not appear to have tests"
ShyLUTacho builds code present in shylu/tacho/refactor by default; however, this code does not appear to have tests implemented. Code present in shylu/tacho/core does have tests implemented, but these fail to compile with errors such as:

packages/shylu/tacho/core/test/main_graphviz.cpp:4:45: fatal error: impl/Kokkos_Serial_TaskPolicy.hpp: No such file or directory
#include <impl/Kokkos_Serial_Tas

[2017-01-04 17:29] rppawlo commented on #926
Closing

[2017-01-04 17:29] #926 closed

[2017-01-04 17:33] tjfulle opened #969 "MueLu_ExplicitInstantiation.hpp not copied to include directory when installing Trilinos"
@trilinos/muelu

When installing Trilinos, built with `-DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON`, the file `MueLu_ExplicitInstantiation.hpp` is not copied to `<build directory>/include`.

This caused build errors when I attempted to build `Trilinos/packages/muelu/test/scaling/Driver.cpp` on its own.  Copying the header file manually to the include directory resolved the build problem.

[2017-01-04 17:54] bmpersc commented on #937
@jjellio the solution to this and any other configure time test that needs to run an executable is to proved cmake the answer for the target machine in your toolchain file. In this case you will need to set “HAVE_PARMETIS_VERSION_4_0_3” to TRUE. I know that this has worked for at least one other person who ran into this issue when cross compiling.

Note that while I have anecdotal evidence that th

[2017-01-04 18:21] aprokop commented on #969
@trilinos/muelu Sounds like an obvious bug.

[2017-01-04 18:57] jhux2 opened #970 "MueLu test not compiling on dorksaber"
@trilinos/muelu @csiefer2  A nightly tests on dorksaber is not [compiling](http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2684263).  The problem appears to be a mismatch in the node template argument.  The commit updates included some changes to Kokkos Kernels by @mndevec.

[2017-01-04 19:08] mhoemmen commented on #960
@maherou You filed this as a feature request in 2011, as Bugzilla Bug 5196:

https://software.sandia.gov/bugzilla/show_bug.cgi?id=5196

(Our apologies to users who don't have access to the Bugzilla bug tracking system that we used before we switched to GitHub.  One of the advantages of GitHub is that issues are always public.)

Your request _sounds_ like an easy thing to do.  I brought up the main

[2017-01-04 19:10] jhux2 opened #971 "Ifpack2: update user guide with new block relaxation options"
@trilinos/ifpack2 The Ifpack2 user's guide should be updated to reflect changes in options to block relaxation.

[2017-01-04 19:22] aprokop commented on #971
@jhux2 Are there any other updates pending?

[2017-01-04 19:26] jhux2 commented on #971
Possibly.  There might be new options for the sparse triangular solve and the various threaded solvers.

[2017-01-04 20:39] jhux2 opened #972 "Ifpack2: BlockRelaxation OverlappingPartition unit test fails after being reenabled"
The test OverlappingPartition has been disabled since last fall (commit 06bf1ead).  The test compares convergence of two versions of overlapping block Gauss Seidel against point Gauss Seidel.  The two block versions use dense and sparse block solves, respectively.

After being reenabled, the dense block solve fails (convergence stagnates immediately), whereas the sparse block solve converges accep

[2017-01-04 21:09] mhoemmen opened #973 "Zoltan2: Add example showing graph repartitioning for a sparse matrix, followed by an iterative solve"
@trilinos/zoltan2 @vbrunini requests this.

[2017-01-04 21:19] mhoemmen commented on #973
I suggested that @vbrunini get in touch with @mmwolf to ask about 2-D distributions.  @vbrunini will first look at using @trilinos/zoltan2 with 1-D distributions.  If that doesn't improve performance sufficiently, @vbrunini would like to explore 2-D distributions.

[2017-01-04 21:24] kddevin commented on #973
Hi, @vbrunini .

For which capabilities are you interested in having an example?  matrix partitioning?  matrix redistribution?  vector redistribution?

We have a test program zoltan2/test/partition/partitioning1.cpp that partitions a matrix, redistributes it and an associated vector, does matrix-vector multiplication with both the original and redistributed matrices and vectors, and compares the r

[2017-01-04 21:29] kddevin commented on #973
"improve performance" of what?  What is the matrix structure?  Typical FEM?  Something more dense?  More irregular?

[2017-01-04 21:36] egboman commented on #973
Does "iterative solve" include preconditioning? Partitioners typically partition to optimize SpMV. The effect on preconditioners is often unpredictable.

[2017-01-04 21:43] mhoemmen commented on #973
@kddevin wrote:

I should let @vbrunini speak for himself, but I'm happy to find out about that example, so thanks! :-D

@egboman wrote:

@vbrunini uses a simple Jacobi preconditioner.  (The only reason repartitioning could be worthwhile is because he reuses the graph over many linear solvers.)  The one issue there is that Ifpack2::Relaxation currently assumes a 1-D matrix distribution when it ext

[2017-01-04 21:45] mhoemmen commented on #973
Tpetra's support for 2-D distributions exists, but is a bit weak, and redistribution from 1-D to 2-D moves more data than it needs to move.  The latter is a cost that @vbrunini would have to pay for _each_ linear solve, since he assembles into a 1-D - distributed matrix first.  I can fix this in Tpetra, but it would take a me a while, and I would have to be careful to avoid making the common case

[2017-01-04 21:55] vbrunini commented on #973
That example looks helpful thanks.

This is for a radiosity solution method so the matrices are much more dense than typical FEM. The range I've seen in practice is ~5% dense up to ~95% dense and the sparsity patterns are not regular. Typically our larger problems are on the less dense end of that spectrum. As Mark mentioned no complex preconditioning is used, each solve generally only needs a han

[2017-01-04 22:29] mhoemmen opened #974 "Tpetra: Need work-around for GCC 4.7.2 bug manifesting as Tpetra::Details::idot test failure"
@trilinos/tpetra

My implementation of Tpetra::Details::idot for noncontiguous Tpetra::MultiVector inputs uses a C++11 lambda to implement a deferred action.  The implementation looks like this:
[code]
GCC 4.7.2 issued warnings that numVecs was being used uninitialized.  I thought this was weird, because (a) neither Clang 3.9.0 nor CUDA 7.5 with GCC 4.8.4 issued these warnings, and (b) numVecs was

[2017-01-04 22:38] mhoemmen commented on #948
Thanks @nmhamster and @crtrott !  I really would like to integrate this into the CMake build system.  That would involve changing the macros.  Would you all object to that?

[2017-01-04 22:39] nmhamster commented on #948
@mhoemmen I will fix the issues you have highlighted and raise a second PR for you.

[2017-01-04 22:40] mhoemmen commented on #948
@nmhamster awww, i can do it!  please don't feel obligated to learn all these CMake details :)

[2017-01-04 22:40] #974 closed

[2017-01-04 22:41] nmhamster commented on #948
@mhoemmen how about I fix the code for you. You can then do the CMake :-). @maherou has made it clear that we all need to take responsibility for our own code to meet standards and I agree with that as a project ethos. Will get you a PR shortly.

[2017-01-04 22:44] mhoemmen commented on #948
@nmhamster sorry for the trouble!  I'll be happy to do the CMake part of this.  CMake generates the TpetraKernels_config.h header file in the build directory, so you could include that.  KokkosKernels doesn't have a non-TriBITS build system yet, so I'm not sure if a Makefile-based build system makes sense for the benchmark.

[2017-01-04 22:55] jhux2 commented on #972
I just reenabled this test in commit 81719a67, but I had to comment out comparisons involving the solution from the dense block solve.

[2017-01-04 23:09] srajama1 commented on #973
@vbrunini : 1D is a good starting point. Whether you want 2D or not depends not just on the structure, but also on the scale you want to run on. At smaller scale (O(100) ranks), 1D will be competitive. If you need runs at a larger scale, especially with problems that have interesting non-zero pattern then 2D could be worth your time.

[2017-01-05 01:03] mhoemmen commented on #288
I just verified that the Ifpack2 test that exercises this option passes in a CUDA build, once I enable the CMake options that make this code build.  I'll next test builds with CUDA OFF, with and without OpenMP.  If those builds pass, I'm enabling this thing by default.  No more hiding behind configure options; we have to make this code build and run nightly.

[2017-01-05 01:06] mhoemmen commented on #288
No code in the TpetraKernels subpackage uses the HAVE_TPETRAKERNELS_EXPERIMENTAL macro, so we don't have to change anything in TpetraKernels to enable the sparse matrix-matrix multiply code.

[2017-01-05 01:08] mhoemmen commented on #288
Clang 3.9 build with CUDA OFF and OpenMP OFF builds without warnings, and passes all Ifpack2 tests but RBILUK and BlockRelaxationPerformance (both known to fail, and both unrelated).

[2017-01-05 01:24] mhoemmen commented on #288
GCC 4.9.3 build with CUDA OFF and OpenMP ON builds without warnings.  Running tests now with OMP_NUM_THREADS=4.

[2017-01-05 01:25] mhoemmen commented on #288
GCC 4.9.3 build with CUDA OFF and OpenMP ON builds without warnings.  With OMP_NUM_THREADS=4, all Ifpack2 tests pass but the aforementioned unrelated RBILUK test.

[2017-01-05 01:26] mhoemmen commented on #288
These results suggests that I can make this code build by default; I don't need to protect it with a macro any more.

[2017-01-05 04:47] mhoemmen opened #976 "Ifpack2: Add tests exercising multithreaded Gauss-Seidel reuse"
@trilinos/ifpack2
@mndevec @srajama1
"Reuse" here includes symbolic and numeric.  The current Ifpack2 test only sets up one matrix once.

[2017-01-05 04:53] mhoemmen commented on #288
I've left the macro in place, but it now defaults to be defined.  See packages/ifpack2/ReleaseNotes.txt for details on how to disable it at configure time.  I'm running the check-in test script now.

[2017-01-05 05:05] mhoemmen commented on #288
I realized that I had to change CMake logic in KokkosKernels as well, to ensure that the directories implementing graph coloring and multithreaded Gauss-Seidel get included in the build.  I also had to enable the unit and performance tests.  Now I need to redo the builds and tests for the builds mentioned above.

[2017-01-05 05:11] mhoemmen commented on #288
Argh, the tests in KokkosKernels depend on gtest.  I may have to disable the KokkosKernels tests and let Ifpack2 cover them for now.

[2017-01-05 05:20] mhoemmen commented on #288
I may have figured out the gtest issue.  Since it's a TESTONLY library, KokkosKernels can just point to it (it lives in kokkos/tpls/gtest), and build it again.  I just copied the CMake logic from Kokkos (in particular, from kokkos/core/unit_test/CMakeLists.txt, lines 1-13) into KokkosKernels, right above the test that needs it.  CMake finished without errors.  I'm trying the build now.

[2017-01-05 05:25] mhoemmen commented on #288
KokkosKernels' Gauss-Seidel test has a build error:
[code]
I think the code itself is fine.  This looks like a harmless issue with the text not accounting for complex numbers.  I'll disable the test in KokkosKernels for now, open a separate issue for that, and let the Ifpack2 test cover it for now.

[2017-01-05 05:27] mhoemmen opened #977 "KokkosKernels: Gauss-Seidel test build error"
@trilinos/tpetra @trilinos/ifpack2
KokkosKernels' Gauss-Seidel test has a build error:
[code]
I think the code itself is fine; at least it builds and runs correctly in Ifpack2.  This looks like an issue with the test not accounting for complex numbers.

[2017-01-05 05:36] mhoemmen opened #978 "KokkosKernels: Sparse matrix-matrix multiply test build error"
@trilinos/tpetra @trilinos/ifpack2
KokkosKernels' sparse matrix-matrix multiply test has a build error:
[code]
This may just be an issue with the test not accounting for complex numbers.

[2017-01-05 05:46] mhoemmen opened #979 "KokkosKernels: Graph coloring test fails"
@trilinos/tpetra @trilinos/ifpack2
The KokkosKernels graph coloring test fails with the following run-time error:
[code]
This looks pretty easy to fix.  Somewhere, something is not initializing Kokkos::OpenMP.

I am disabling the test for now to ensure that I can proceed with #288.

[2017-01-05 05:59] mhoemmen opened #980 "KokkosKernels: Sparse matrix-matrix multiply performance test build error"
@trilinos/ifpack2 @trilinos/tpetra
Lots of errors like this:
[code]

[2017-01-05 06:03] mhoemmen commented on #288
Another build error in a KokkosKernels test: #980.  Temporarily disabled for now.

[2017-01-05 06:05] mhoemmen commented on #288
OK, I got the check-in test script through the KokkosKernels tests.  I enabled downstream packages just to make sure that the new CMake settings didn't break MueLu.  The check-in test script is in the middle of the build now.  It will take a while, so I'm going to let it go for now.

[2017-01-05 16:34] crtrott commented on #948
Please wait with the cmake part. This is by no means ready for it. The benchmark will horribly break for example if Cuda is enabled.

[2017-01-05 16:35] crtrott commented on #948
We'll fix it up in the end when we are done and no what to pull into Kokkos kernels.

[2017-01-05 17:42] nmhamster commented on #948
@mhoemmen I am adding the tempting for `LocalOrdinal` and `Scalar` as requested. The runs are in the queue now to check they have not materially damaged the runtime.

[2017-01-05 18:10] srajama1 commented on #288
Closing this issue as @mhoemmen has fixed it. Thanks Mark !

[2017-01-05 18:10] #288 closed

[2017-01-05 18:16] srajama1 opened #981 "Remove Tribits dependencies in KokkosKernels"
There are bunch of tribits related dependencies that has come into KokkosKernels. Eventually we would like a Kokkos model where we could build without Tribits and test with gtest. This needs a cleanup.

@mndevec @crtrott @mhoemmen

[2017-01-05 18:23] srajama1 commented on #971
See #288 that @mhoemmen fixed. Thanks, Mark !!

Is the user guide in the repo the most current one, so whoever adds a new solver/preconditioner can add to it ?

[2017-01-05 19:51] jwillenbring opened #982 "Set up automated develop->master testing"
@trilinos/framework

To set up an automated test for develop->master testing we need to finish the following tasks:

1. Reconcile differences between the two current CI builds. Default in the direction of changing the old CI build to match the new one. (@jwillenbring)

2. Test reliability of return codes for automated builds. Strategy: modify existing Jenkins-initiated build with failures to a sub

[2017-01-05 20:03] kddevin commented on #973
Thanks for the extra details, @vbrunini .
I agree with @srajama1 and @egboman that starting with 1D is best.

The default in Zoltan2 is to assign equal numbers of rows per part; for FEM, most rows have roughly the same number of nonzeros, so the balance is the same whether we account for nonzeros or not.

If you have widely varying numbers of nonzeros per row, you might want to weight rows by the

[2017-01-05 20:12] kyungjoo-kim commented on #963
As far as I know, we do not have a plan to add ETI support on Intrepid2. For ETI, Intrepid2 can have built-in data types (double, float, and complex for certain functionalities) and AD types. Probably we want to instanciate for double and AD types. It is not quite intuitive for me to understand how to separate header files, its implmentation for AD types (AD dimension is compile time so we cannot

[2017-01-05 20:15] jhux2 commented on #963
You might have a look at the system in stokhos that @etphipp created.

[2017-01-05 20:41] srajama1 commented on #968
Kyungjoo, can you test against the pull request and give a thumbs up ?

[2017-01-05 20:43] kyungjoo-kim commented on #968
You mean the pull request of "Remove Unnecessary Amesos2 dependence on Amesos Amesos Amesos2", right ?

[2017-01-05 20:44] srajama1 commented on #968
Yes.

[2017-01-05 21:22] kyungjoo-kim commented on #968
Done. It compiles Tacho and the solver works correctly.

[2017-01-05 21:40] jhux2 commented on #971
@srajama1 Yes, the repo is the most current one.

[2017-01-05 21:42] srajama1 commented on #971
Alright, it is easy to modify then. Thanks !

[2017-01-05 21:46] krcb commented on #649
ShyLUTacho has reviewed PR #918 and signed off. #918 has now been merged to develop. @spdomin you should be able to try this out now.

[2017-01-05 21:46] #649 closed

[2017-01-05 22:11] srajama1 commented on #649
I will test this with a Nalu version before @spdomin can take over. @krcb: Thank you for all your help and patience in getting this done. This was a ton of work ! Thanks !

[2017-01-05 22:21] jjellio opened #985 "KokkosKernels: Graph coloring uses Serial execution space for OpenMP view"
In
/src/Trilinos/packages/tpetra/kernels/perf_test/graph/KokkosKernels_GraphColoringTest.cpp

On lines 176 and 236, the test creates views using Kokkos::Serial, but this is inside of the region guarded for OpenMP, e.g., #if defined( KOKKOS_HAVE_OPENMP ).

That is, these tests will fail to compile if OpenMP is enabled and Serial is disabled.

Edited to mention tpetra as there is not a project for K

[2017-01-05 22:40] srajama1 commented on #968
I would still keep this open, so we remember to add tests to Tacho itself.

[2017-01-06 00:04] mndevec commented on #985
Thanks James, those were for stress testing.
I changed the Serial to HostSpace instead.

[2017-01-06 00:12] nmhamster commented on #948
@mhoemmen the templating you requested is added in #986. Take a look and let me know if you need anything else added.

[2017-01-06 00:40] jhux2 commented on #969
@tjfulle I'm unable to reproduce this.  I configured/built with ETI enabled.  After doing a "make install", I see that ``MueLu_ExplicitInstantiation.hpp`` has been copied into $CMAKE_INSTALL_PREFIX/include.

Would you please attach your cmake configure script?  Thanks.

[2017-01-06 00:59] mhoemmen commented on #981
The "test with gtest" bit isn't so hard.  We could put a copy of gtest in the new Trilinos package for TPLs, and just point tests to it.  Since only tests use it, there shouldn't be any conflicts with Kokkos' version of gtest.

Does "build without TriBITS" mean a CMake build, or a Makefile build?

[2017-01-06 01:03] mhoemmen commented on #965
Belos::PseudoBlockGmresSolMgr takes an "Orthogonalization Constant" parameter.  However, it only delivers that parameter to its OrthoManager if the OrthoManager is "DGKS".

We have nested ParameterLists now (didn't 10+ years ago, if I remember right), so we could add an "Orthogonalization Parameters" sublist that goes straight into the OrthoManager.  @hkthorn , would that make sense?

[2017-01-06 01:54] hkthorn commented on #965
Yes, that is because the "Orthogonalization Constant" is only pertinent to DGKS, it is used to determine whether another step of classical Gram Schmidt is necessary.  The other methods have a static number of iterations they perform (ICGS, IMGS perform 2).  Each solver should tell you which orthogonalization routine they are using, which is stored in the internal parameter list that can be accesse

[2017-01-06 03:27] srajama1 commented on #981
Just to be consistent same as Kokkos, which I believe is just Make outside Trilinos.

@crtrott : Is there a plan to support CMake in Kokkos outside Trilinos as well ?

[2017-01-06 12:40] barche commented on #952
@mhoemmen I don't think it would generalize directly. My approach is loosely based on what Boost.Python does, but different languages have different features. Julia has parametric types that are equivalent to C++ templates, so I'm using an RCP parametric type on the Julia side. Other than that, the approach is in fact similar to what @wfspotz said about PyTrilinos: conversion from RCP to the held

[2017-01-06 15:32] tjfulle commented on #969
@jhux2, my configuration is pretty standard, I believe:

[code]

[2017-01-06 15:59] #985 closed

[2017-01-06 16:24] mhoemmen commented on #969
Just curious -- what happens if you enable Intrepid?  (MueLu depends on it, at least optionally.)

[2017-01-06 17:25] maherou commented on #288
Is the execution DAG of this kernel deterministic?  If not, it seems to me that we should start documenting this kind of function.  Just a thought.

[2017-01-06 17:29] srajama1 commented on #288
That is precisely the reason I was asking about the user guide in #971. We need to document this well including determinism and other parameter options to KokkosKernels.

[2017-01-06 17:44] bartlettroscoe commented on #176
This has been finished for a long time and automated testing of MOOCHO and other "inserted packages" in other git repos have been running in automated testing for a long time.  For example, see the MOOCHO tests from last night here:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-01-05&subproject=MOOCHO

Closing as complete.

[2017-01-06 17:44] #176 closed

[2017-01-06 17:56] bartlettroscoe commented on #982
Someone also has to fix the Jenkins-run CI server as it is not even running continuously.  It just runs in the morning and then dies.  I sent out an email about this a long time ago.

Also, this build needs to exactly match the pre-push CI build and env with load_ci_sems_dev.sh and checkin-test-sems.sh or I will have to keep running my CI server to protect pushes to the Trilinos using that script

[2017-01-06 18:20] bartlettroscoe commented on #370
Given that #982 for automating the update from 'develop' to 'master' has been created by @jwillenbring, we can remove that scope from this Story.  Therefore, this story is now complete.  No need to review since the addition of the 'develop' branch was done a long time ago.

Closing as complete.

[2017-01-06 18:20] #370 closed

[2017-01-06 20:19] maherou commented on #288
It seems to me that this issue should be labeled with "Results Impacting", one of the GitHub Issue labels.  Correct?

[2017-01-06 20:23] mhoemmen commented on #288
@maherou This change is not "results impacting" because it does not affect the default behavior.  Ifpack2's Gauss-Seidel is, by default, sequential within an MPI process and deterministic.  Users must ask explicitly for the thread-parallel algorithm.

[2017-01-06 20:29] mhoemmen commented on #288
@maherou I have changed the name of this issue to reflect that the fix does not change Ifpack2's default behavior.  It merely exposes the option of multithreaded Gauss-Seidel with coloring to users, and ensures that this option gets built and tested by default.

[2017-01-06 20:31] jhux2 commented on #970
The test in question is now compiling. Thanks @mndevec.

[2017-01-06 20:31] #970 closed

[2017-01-06 21:04] mhoemmen commented on #977
@mndevec fixed the build errors yesterday.  I'm reenabling the test by default. Just testing test run time with CUDA now, to make sure that it doesn't time out.

[2017-01-06 21:12] mhoemmen opened #988 "KokkosKernels: Gauss-Seidel test fails with CUDA"
@trilinos/tpetra @trilinos/ifpack2

The Gauss-Seidel test that I reenabled as part of #977 fails in a CUDA debug build for me, with CUDA 7.5 and GCC 4.8.4.  It passes in a non-CUDA Clang 3.9 build with Kokkos::Serial.  The error messages look like this:
[code]

[2017-01-06 21:13] mhoemmen commented on #977
The test fails with CUDA.  See #988.  I'm calling this issue fixed, since the test builds now; further discussion may continue on #988.

[2017-01-06 21:13] #977 closed

[2017-01-06 21:14] mhoemmen commented on #988
The test does not yet build by default.  To make it build and run, one must edit tpetra/kernels/unit_test/graph/CMakeLists.txt.

[2017-01-06 22:04] mndevec commented on #988
Mark, which test is this? If it is Si2.mtx, it is not supposed to work, as it is not diagonally dominant.

[2017-01-06 22:27] mhoemmen commented on #988
Let me check.  Do you need that matrix for other tests?  If not, I'll delete it from the repo.  Thanks!

[2017-01-06 22:29] mndevec commented on #988
That matrix is one of the three matrices where SPGEMM and coloring is tested. I wanted to test GaussSeidel too, but I realized gauss seidel won't work on that matrix afterwards.

You can remove the matrix, but it is currently used for other tests.

[2017-01-06 22:31] spdomin commented on #649
Sound great! Please send me the config file when you have it tested. Also, I will be interested in executable size as well.

This effort will be a great advancement for the core design of Trilinos and in managing dependencies for the path forward solver stack. I wonder if we can make this a retro so that we firmly implant the notion of dependency control?

[2017-01-06 22:32] mhoemmen commented on #988
I'll leave the matrix.  No worries then!  I'll make sure only that test fails, and if that's the case, I'll disable that test and close this issue.

[2017-01-07 00:33] srajama1 commented on #649
I am building on our testbeds. I can add the config file here once that is done.

I don't understand the last statement. If it means we will not introduce Epetra stack dependency again, then yes ! We are not going to let that happen. This is part of the movement towards product model that @maherou mentioned couple of weeks ago in SART meetings.

[2017-01-07 01:19] jhux2 commented on #969
@tjfulle Thanks, that was helpful.  I use ninja by default, which installs the header file in question just fine.  Please pull and try again.

[2017-01-09 14:32] jwillenbring commented on #936
Pushing the above referenced change resolved this issue as can be seen by the fact that the development version documentation has now been updated as of last Friday. Closing.

[2017-01-09 14:32] #936 closed

[2017-01-09 18:50] vbrunini opened #989 "Possible to change residual norm scaling for Belos::BlockCGSolMgr?"
When using Belos::BlockGmresSolMgr I am able to change the residual norm scaling by adding "Implicit Residual Scaling" or "Explicit Residual Scaling" parameters to the Teuchos::ParameterList I construct the solver with. Is it possible to do the same with the Belos::BlockCGSolMgr? I don't see anything about residual scaling in its validParameters() method.

[2017-01-09 19:03] mhoemmen commented on #989
@trilinos/belos @hkthorn

[2017-01-09 20:34] hkthorn commented on #989
Hi Victor,

You are correct that I don't see the ability to change the scaling type for BlockCGSolMgr.  The PseudoBlockCGSolMgr does let you change the residual scaling type using the "Residual Scaling" and "Implicit Residual Scaling" parameters.  That can be added to the BlockCGSolMgr as well.  For the current CG implementations there isn't a notion of explicit vs. implicit residual scaling becau

[2017-01-09 21:23] vbrunini commented on #989
Thanks Heidi. What's the difference between the BlockCGSolMgr and PseudoBlockCGSolMgr (other than this parameter handling)?

[2017-01-09 21:51] amklinv commented on #989
Block CG constructs a single Krylov subspace for all RHS, whereas a separate Krylov subspace is constructed for each RHS in the pseudo-block case.  Pseudo-block CG is mathematically equivalent to solving each linear system independently, block-CG is not.  Block methods are good when your right hand sides are linearly dependent, or very close to it.

[2017-01-09 22:47] vbrunini commented on #989
In that case I'm happy just using the PseudoBlockCGSolMgr since I only have a single rhs anyway.

That makes actually updating BlockCGSolMgr a low priority for me, but it would be nice if there was a user guide or something for Belos documenting what the (hopefully consistent) parameter interface for the solvers is (maybe there is and I just haven't looked in the right place?).

Thanks,
Victor

[2017-01-10 05:23] tjfulle commented on #969
@jhux2, I just pulled and rebuilt the `develop` branch, `MueLu_ExplicitInstantiation.hpp` is copied correctly.  This issue can probably be closed.  I should note, however, I had originally filed this issue after building the `master` branch (I erroneously thought I had checked out the `develop` branch).  Not sure if that makes a difference in closing this...

[2017-01-10 05:30] mhoemmen commented on #969
@tjfulle looks like @jhux2 fixed a broken thing regardless :-) thanks for reporting! I'll close this.

[2017-01-10 05:30] #969 closed

[2017-01-10 05:34] mhoemmen commented on #119
I've been looking at this.  It turns out that it's not enough to check whether input indices have matching entries currently in the row.  One must also check whether the input itself has duplicates.  Otherwise, if the input is (for example) [1, 1, 1, 1], insertion into an empty row [] would result in [1, 1, 1, 1], but insertion into a row [1] would result in [1].

[2017-01-10 13:19] nschloe opened #990 "Kokkos: CMake Error (ADD_LIBRARY): add_library cannot create target "trilinos_kokkos_gtest" because another target with the same name already exists."
When configuring Trilinos from master, I'm getting
[code]
and the configuration fails.

[2017-01-10 15:38] jwillenbring commented on #990
@bartlettroscoe @crtrott - I thought you guys should see this.

[2017-01-10 15:42] mndevec commented on #990
@mhoemmen

This is the same error I was getting in the case of TpetraKernels Tests are enabled while Kokkos tests are not enabled.

This is related to #759, I will disable the experimental unit tests for now.

[2017-01-10 15:53] mndevec commented on #990
@mhoemmen
Looking at the error again, I  think Mark fix this in develop branch in commit 6c36aca653e432dd432b2f44fe2e75fffa335821

[2017-01-10 16:31] mhoemmen commented on #990
@mndevec That's right, I fixed this in develop.

[2017-01-10 16:31] #990 closed

[2017-01-10 16:57] dridzal opened #991 "Treatment of 'deprecated' warnings in builds"
@trilinos/framework  @trilinos/muelu  @trilinos/tpetra
The @trilinos/rol team has been seeing this warning for several months, so it may be good to register this as an issue (or at least document it).  We don't know if this is related to the internal compiler error (see below) --probably not.  In any case, it was my understanding that we needed to keep the nightly builds clean of any warnings.  If

[2017-01-10 17:08] mhoemmen commented on #629
Note that @csiefer2 finished OpenMP integration in FY17 Q1.  Unclear whether CUDA is part of the requirement for FY17.  (CUDA must run correctly, but unclear whether we need to plug in sparse matrix-matrix multiply for CUDA; is it acceptable for now to run on host?)

[2017-01-10 17:09] jwillenbring opened #992 "MueLu test failure in updated CI build"
@trilinos/muelu

A test is failing after updating the Trilinos CI build on sadl30906.

[link to failure](http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2694233)

There are 3 general possible causes for this failure:

1) MueLu was changed and this caused the new failure.

2) The changes to the CI build parameters since the last one uncovered the failure, and the failure is valid.

[2017-01-10 17:11] jwillenbring opened #993 "ROL build failure in updated CI build"
@trilinos/rol

A build is failing (internal compiler error...) after updating the Trilinos CI build on sadl30906.

[link to failure](http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2694326)

There are 3 general possible causes for this failure:

1) ROL was changed and this caused the new failure.

2) The changes to the CI build parameters since the last one uncovered the failure, and th

[2017-01-10 17:16] bartlettroscoe commented on #991
Should the usage of depreciated code not be removed?  That is the purpose for deprecated warnings.  It seems like this is something for ROL and Tpetra developers to come to an agreement on.  Not sure what I an do about this.   If you find this is a defect in TriBITS, please let me know.

[2017-01-10 17:19] jhux2 commented on #992
@jwillenbring It's not clear from the output what happened.   MueLu wasn't updated, so it doesn't appear to be a change to MueLu itself.  The [passing/failing graph ](http://testing.sandia.gov/cdash/testDetails.php?test=36149150&build=2694233) also shows the test passing previously.

![screenshot-cdash trilinos - mozilla firefox-1](https://cloud.githubusercontent.com/assets/12970120/21816630/9ac78

[2017-01-10 17:23] jhux2 commented on #991
I don't see how deprecated warnings can be treated as fatal, since their purpose is to give users enough lead time to stop using the deprecated code.  That being said, we've let this particular warning lag for quite a while, and it is (now officially) on our to-do list.

[2017-01-10 17:27] mhoemmen commented on #629
Aiming for end of FY17 or beginning of FY18, for CUDA.

[2017-01-10 17:35] csiefer2 commented on #629
To build w/ the  OpenMP kernels, you need these configure options
-D Trilinos_ENABLE_OpenMP:BOOL=ON
-D TpetraKernels_ENABLE_Experimental:BOOL=ON

[2017-01-10 17:46] mhoemmen commented on #629
Next step is to enable this capability for OpenMP by default.  We'll need to make sure that tests pass.  Since CUDA is not an immediate priority, we should for now only enable this by default for non-CUDA builds.

[2017-01-10 18:07] mhoemmen commented on #991
This is just a matter of MueLu folks switching to use the new getLocalDiagOffsets interface in Tpetra.  It doesn't involve ROL.

[2017-01-10 19:25] dridzal commented on #991
Just to clarify: My only question is why the 'deprecated' warnings are enabled in our testing framework.  They result in a bunch of clutter on CDash, but are not helpful to developers, who should see them anyway in their local builds.  No developer goes to CDash to educate themselves about deprecated code.  I think that the official test builds should disable such warnings.

[2017-01-10 19:36] dridzal commented on #993
This is due to the internal compiler error caused by MueLu code, see #992 .  ROL uses MueLu for several examples.  My best guess is that on sadl30906.srn.sandia.gov the compiler occasionally runs out of memory, or that there is a related memory corruption.  I've noticed that most ROL tests that use MueLu take a very long time to compile.  Also, the compiler memory use is very high for these tests

[2017-01-10 20:53] mhoemmen commented on #964
@crtrott wants to be CC'd too.

[2017-01-10 20:54] mhoemmen commented on #964
This is not actually an interface change; it does not break backwards compatibility.

[2017-01-10 21:06] jjellio commented on #965
I simply bumped into this.  There are many codes that set the orthogonalization to ICGS and then attempt to configure the number of iterations. There is actually no way to change this setting (with a Belos Solver). With ICGS you get 2 passes. It is not an issue for me. Looking at the various ortho kernels, they all support various settings, but in practice no one can change them from the defaults.

[2017-01-10 21:08] mhoemmen commented on #993
Is ETI OFF for this build?  ETI OFF builds tend to be more expensive, so it could help to reduce the N in `make -j N`.

[2017-01-10 21:22] mhoemmen commented on #991
Deprecated warnings only _break_ warnings-as-errors builds.

[2017-01-10 21:24] dridzal commented on #993
I don't know where to look for that build script.

[2017-01-10 21:35] dridzal commented on #991
Let me clarify again.  Often, when looking for an actual error on CDash, I have to scroll through hundreds if not thousands of lines of deprecated warnings and try to find the first occurrence of an error.  Why can't we disable these warnings?  Also, I'm not sure if enabling deprecated warnings is in the spirit of warning-as-errors builds.  I would reserve these for internal compiler warnings, and

[2017-01-10 21:55] jhux2 commented on #991
@dridzal I completely agree.

[2017-01-10 22:05] bartlettroscoe commented on #991
IMO, at least one CDash build should show deprecated warnings.  Otherwise, if every developer just turns them off locally, then we will never see them (until the bomb goes off when the deprecated code is removed).

But developers should be seeing deprecated warnings in their local builds and fixing them.  If developers are not doing that, then why not?

If people want to turn off deprecated warnin

[2017-01-10 22:46] dridzal commented on #991
I would never disable deprecated warnings locally.  That is a bad idea.  Otherwise, I would never catch them -- I don't browse CDash output for such warnings.  I propose that in builds where warnings are not treated as errors, we disable deprecated warnings.  For builds where warning=error, we can make a collective decision.  It may be sufficient to have a single build with deprecated warnings ena

[2017-01-10 23:20] nschloe commented on #990
Thanks for the clarification. What's the relationship of master and development branch btw?

[2017-01-10 23:21] jwillenbring commented on #992
For the next run, this test passed. If it passes tomorrow, I will just close this.

[2017-01-10 23:26] bartlettroscoe commented on #990
* https://github.com/trilinos/Trilinos/wiki/VC-(VERSION-CONTROL)
* https://github.com/trilinos/Trilinos/wiki/VC-%7C-'develop'-'master'-workflow

[2017-01-11 00:27] mhoemmen commented on #619
Hi @tcfisher !  You can use Tpetra:: instead of Tpetra::Experimental:: now!  @ambrad says to bug him if it breaks.

[2017-01-11 08:36] nschloe commented on #990
Any chance this change will land in master soon? (After all master is broken atm.)

[2017-01-11 13:38] warsa commented on #161
@hkthorn Do you know if this has this been done yet or will be done? In browsing the documentation, I still only see it for PseudoBlockGMRES, even in the dev version. If you remember, I would also need to get access to the underlying Iter object of all the SolverManagers, as you suggested for getting the current residual norm at ever iteration.

[2017-01-11 16:55] vbrunini commented on #973
I'm trying this out and I think I've found a bug in Zoltan2_XpetraCrsMatrixAdapter when using it with a matrix whose row graph has a non-zero indexBase. In the constructor it sets:
`base_ = rowMap_->getIndexBase();`
and then later in a loop over the number of local rows does:
`
    lno_t row = i + base_;
    nnz = matrix_->getNumEntriesInLocalRow(row);
    matrix_->getLocalRowView(row, indices, nz

[2017-01-11 17:08] mhoemmen opened #994 "Belos: Change GMRES default orthogonalizer from DGKS to ICGS 2-pass"
@trilinos/belos @jjellio @hkthorn

[2017-01-11 17:09] mhoemmen opened #995 "Belos: Orthogonalization parameters not passed from solvers into OrthoManager"
@trilinos/belos @jjellio @hkthorn

[2017-01-11 17:12] hkthorn commented on #994
Why?

--

Heidi K. Thornquist
Electrical Models & Simulation
Sandia National Laboratories
Albuquerque, NM  87185-1323

From: Mark Hoemmen <notifications@github.com<mailto:notifications@github.com>>
Reply-To: trilinos/Trilinos <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, January 11, 2017 at 10:09 AM
To: trilinos/Trilinos <Trilinos@noreply.github.com<mailto:Trilinos@norep

[2017-01-11 17:23] mhoemmen commented on #994
@jjellio reported this.  DGKS is slow.  ICGS 2x is the AztecOO default.

[2017-01-11 17:55] jhux2 commented on #992
@trilinos/framework Since this might be related to the test machine environment and/or hardware resources.

[2017-01-11 18:27] tawiesn opened #996 "Undefined references in TrilinosSS"
There are undefined references in SuiteSparse from the new TriliniosSS package (see #649) resulting in the following linker failures

[code]

The problem can be reproduced if
`CMAKE_SHARED_LINKER_FLAGS:STRING="-Wl,--no-undefined"`
is set in the Trilinos configuration script.

It seems that the math library containing the sqrt and ceil functions is not properly linked.

[2017-01-11 18:27] tawiesn commented on #996
@trilinos/amesos  @trilinos/amesos2  @trilinos/framework

[2017-01-11 18:42] krcb commented on #996
Sorry about that. I should have a fix for you momentarily.

[2017-01-11 19:48] srajama1 commented on #996
PR #997 fixes this.

[2017-01-11 19:48] #996 closed

[2017-01-11 19:53] tawiesn commented on #945
@bartlettroscoe

Fyi:
[code]
with the old cmake (2.8.x) works fine on my RHEL 7 machine. I'll try `--enable-all-packages=on --local-do-all` next.

[2017-01-11 20:26] kddevin commented on #973
I will look at this issue this week; @vbrunini will share a matrix exhibiting the problem.

[2017-01-11 20:48] jwillenbring commented on #990
master was updated earlier today.

[2017-01-11 20:55] jwillenbring commented on #992
Since this passed today and there have been odd failures observed in the past, I am going to close this, at least for now.

[2017-01-11 20:55] #992 closed

[2017-01-11 21:11] dridzal commented on #993
@jwillenbring , could you please check if ETI is on or off for this build?

[2017-01-11 21:30] jwillenbring commented on #993
ETI is on. One change I made when this started failing was to switch

-DTrilinos_ENABLE_DEBUG_SYMBOLS=ON

[2017-01-11 21:47] dridzal commented on #993
I think it would be useful to disable the debug symbols temporarily, just to see if that pushed the memory use over the edge.

[2017-01-11 22:53] jwillenbring commented on #991
I think this is worth bringing up at an upcoming leaders meeting. I agree with @bartlettroscoe that the warnings should be on for at least 1 build.

[2017-01-12 15:21] tawiesn commented on #945
@bartlettroscoe
[code]
gives
[code]
I think we can close this issue and update the Wiki.

[2017-01-12 15:21] #945 closed

[2017-01-12 15:32] bartlettroscoe commented on #945
So what is the exact hack to get this to work on RHEL 7?    Is it as I said:

[code]

?

Then we can open a separate issue and dig into why we have to use CMake 2.8.12 (as that is very slow compared to CMake 3.3.+).

[2017-01-12 15:37] tawiesn commented on #945
Yes. It is exactly what you said. Load the CI SEMS environment, load Cmake 2.8.12 by hand and use the TRILINOS_CHECKIN_TEST_SEMS_SKIP_MODULE_LOAD=1 environment variable.
I added the comments in the [wiki](https://github.com/trilinos/Trilinos/wiki/Policies-|-Safe-Checkin-Testing). We can create a new issue for RHEL 7 and cmake 3.3

[2017-01-12 15:50] bartlettroscoe opened #1001 "Get standard Trilinos CI build working with SEMS env with CMake 3.3+ on RHEL 7"
The SEMS env for the GCC 4.7.2 stack used by the standard Trilinos CI build (#482) fails with CMake 3.3+ on RHEL 7 machines (see #945).  This story is to find a way to fix things so that this env works out of the box on RHEL 7 without hacks.

[2017-01-12 15:51] bartlettroscoe commented on #1001
If someone can give me an account on a Sandia RHEL 7 machine with the SEMS Env mounted, then I will take a look at this build and try to get it working.

@tawiesn, can I can a temp account on your RHEL 7 machine to try to reproduce the failures and try to find a way to fix (and perhaps get help from the SEMS team to resolve the underlying issues)?

[2017-01-12 15:56] bartlettroscoe opened #1002 "Upgrade standard Trilinos CI build env from GCC 4.7.2 to GCC 4.9.3"
**Next Action Status:**

Transition to GCC 4.9.3 for CI build is complete.  Next: Watch post-push CI build for issues and close on Monday 5/18 ...

**Blocking:** #1167
**CC:** @trilinos/framework

**Description:**

Now that an important internal Trilinos customer is moving from GCC 4.7.2 to 4.9.3, we should switch the [standard Trilinos CI build](https://github.com/trilinos/Trilinos/wiki/Policies-

[2017-01-12 15:57] bartlettroscoe commented on #945
@tawiesn, thanks for adding this to the Wiki!   I created the follow-on story #1001 to try to get the standard CI build for Trilinos to work correctly out of the box.

But note that this problem might go away (or we may have new problems) once we switch to GCC 4.9.3 (see #1002).

[2017-01-12 16:11] tawiesn commented on #945
@bartlettroscoe I can state that the CMake problem will go away when using SEMS in a RHEL 7 environment and GCC 4.9.3. I have a set of docker containers which contain a subset of the SEMS environment based on SEMS GCC 4.9.3 and SEMS cmake 3.5.2 in CentOS 7.

[2017-01-12 18:54] nschloe commented on #22
I don't see this anymore. Closing.

[2017-01-12 18:54] #22 closed

[2017-01-12 21:54] dridzal opened #1003 "Xpetra warnings"
We have observed some new warnings in Xpetra:

/home/dridzal/research/Trilinos/packages/xpetra/sup/Utils/Xpetra_ThyraUtils.hpp:793:89:   required from here
/home/dridzal/research/Trilinos/packages/xpetra/src/Utils/Xpetra_MapUtils.hpp:337:22: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
     for(int i = 1; i < numMaps; ++i) {
                      ^
/home/dri

[2017-01-12 22:07] aprokop commented on #1003
Ping @trilinos/xpetra

[2017-01-12 22:29] tawiesn commented on #1003
Checkin script is running...

[2017-01-13 12:34] bartlettroscoe commented on #795
Made some progress but still a lot more to do.  Looks like https://github.com/TriBITSPub/TriBITS/pull/156 may be higher priority at this point.

[2017-01-13 15:08] MicheldeMessieres commented on #229
@bartlettroscoe Is there a way to make a unit test pass after an abort? I could not find a way to make that work and would like to clarify the best way to declare the abort unit test. Thanks.

[2017-01-13 15:10] jwillenbring commented on #993
Disabling dub symbols eliminated the errors in bot the initial build, and a rebuild yesterday.

@bartlettroscoe is it important to have -DTrilinos_ENABLE_DEBUG_SYMBOLS=ON for the CI build? Using this option for the "old" CI build results in internal compiler errors.

[2017-01-13 15:18] jwillenbring commented on #982
@bartlettroscoe any idea why   SET_DEFAULT( Trilinos_ENABLE_SECONDARY_TESTED_CODE OFF)
is not turning off secondary tested code for the old CI build? I noticed in your new CI build you use both this SET_DEFAULT option, as well as a SET option for the same variable. I can do that too, but then it seems that the SET_DEFAULT option simply isn't working. The only thing slightly abnormal I see about th

[2017-01-13 15:53] bartlettroscoe commented on #982
Note sure why both are set.  This is likely due to a copy and paste I suspect.  The SET_DEFAULT() should do it but it does not matter what version you use.  An env var with that name will always override what you set internally by any means.  Can you attach or point to the output from the `ctest -S <script>` invocation you are running?  That will tell you what value for Trilinos_ENABLE_SECONDARY_T

[2017-01-13 16:04] bartlettroscoe commented on #993
We want the standard CI build to do as much checking as possible without the cost going up too much.  If `-DTrilinos_ENABLE_DEBUG_SYMBOLS=ON` is catching more defects, then we should turn it on.  In fact, once this is fixed, I will enable that for the standard CI build.

Note that the CI build should also be turning on debug-mode runtime checking (i.e `-DTrilinos_ENABLE_DEBUG=ON`).  But we otherwi

[2017-01-13 17:17] dridzal commented on #993
@bartlettroscoe -- just to clarify:  Enabling debug symbols isn't catching more defects.  The compiler crashes (internal error), because, we suspect, it runs out of memory with symbols enabled (only on this particular machine).  I observe this all the time on low-powered laptops.
@jwillenbring -- can we add RAM to this machine?  Alternatively, can we reduce the N in make -jN?

[2017-01-13 17:21] jwillenbring commented on #982
I looked at the build output and Trilinos_ENABLE_SECONDARY_TESTED_CODE='ON' appears 55 times, and it never says the option is off. I will have to do some more digging.

[2017-01-13 18:10] jwillenbring commented on #993
@dridzal we can reduce -jN. It is currently set to 10. Before doing that's I wanted confirmation from Ross that this option is needed. I am also not sure what to try for a reduced value. The build is already too slow. That said, the parallel speed up isn't great anyway. In the medium term we should get this build off of this machine. Maybe I should up the priority of moving the build. We want the

[2017-01-13 18:19] mmwolf opened #1004 "Zoltan2 default Environment() constructor should be replaced/reworked"
The default Environment() constructor in Zoltan2 uses a default communicator obtained from Teuchos that is MPI_COMM_WORLD.  It then does some global communication with this communicator.
For applications that use subcommunicators for their Trilinos/Zoltan operations (a subset of the MPI tasks in MPI_COMM_WORLD), this will result in the application hanging in a function called by this constructor.

[2017-01-13 18:23] mmwolf commented on #1004
For now, I'm going to just try to move some offending instances of Zoltan calling Environment() but eventually we should eliminate this a possibility.  Two possible options:

1. Don't allow Environment constructor to be called without passing in a communicator.  i.e., Environment(comm)
2.  Only have constructors that take comm arguments, but have a default communicator set (for backward compatibil

[2017-01-13 18:29] mmwolf opened #1005 "Remove Zoltan2 Environment objects from input adapters"
This is related to issue #1004.

Our current usage of the default Zoltan2 Environment constructor is dangerous.  Furthermore, the input adapters are inconsistent in whether they use the Environment object (only Xpetra adapters seem to use this) and when they are used, they are only used inconsistent for a few debug errors.

The plan is to remove all usage of Environment objects in the input adapte

[2017-01-13 18:32] mhoemmen opened #1006 "Add gatherv wrapper to Teuchos"
@trilinos/teuchos @trilinos/tpetra

@dridzal requested a gatherv wrapper for either Teuchos or Tpetra.  Tpetra has an implementation of this wrapper now, but it currently lives in an anonymous namespace.  @dridzal would like to see it promoted to the public interface.  See commit b5b1b8f09812500d5bcbd53e9b2a99ead10823de.

It would be easy for just about any Trilinos developer without much Tpetra o

[2017-01-13 18:34] mhoemmen commented on #1005
@trilinos/zoltan2

[2017-01-13 18:34] mhoemmen commented on #1004
@trilinos/zoltan2

[2017-01-13 18:34] bartlettroscoe commented on #993
If configuring with `-DTrilinos_ENABLE_DEBUG_SYMBOLS=ON` (which just add `-g` in a portable way) does not help catch any errors, just consumes more memory, then I would say that you can leave it off for now.  But I think that having it on helps to catch problems with C++ code consuming too much memory.  If it kills the CI machine, it will also kill many users systems as well.  We need an effort to

[2017-01-13 18:39] dridzal commented on #1006
Yes, and it would have to support arbitrary types.  Please correct me if I'm wrong, but the Tpetra version only works on integer data (did I miss something?).  Also, I wonder where these wrappers should live.  It doesn't matter if it's Teuchos or Tpetra, but they need to be in one place.

[2017-01-13 18:41] mhoemmen commented on #229
If you're not using MPI, you could use the POSIX API to set a signal handler for SIGABRT.  It's still "abnormal program termination" if the signal handler returns, but perhaps you could have it print something that makes TriBITS think the test passed.

[2017-01-13 18:44] mhoemmen commented on #1006
Define "arbitrary."  In particular, examine MpiTypeTraits and see if it has the coverage you want.

If you would like to put the implementation of gatherv in Teuchos, along with a unit test, please feel free to do so.

[2017-01-13 18:48] dridzal commented on #993
We have completely lost track of ... let's call it small computing.  Since we put in some power examples in ROL that utilize the entire new solver stack, we have been getting complaints from university collaborators that they can't compile the examples due to out-of-memory errors and other types of internal compiler errors.  They tend to use lower-end laptops with 4GB to 8GB of memory.  I tell the

[2017-01-13 18:50] kddevin commented on #1006
Zoltan2 calls something called Teuchos::gatherv.  It is in Teuchos_CommHelpers.hpp.
Is that what you want?

[2017-01-13 19:04] dridzal commented on #1006
That would be nice, but it appears that the methods is not implemented ... here is the function body:

  // // FIXME (mfh 16 Apr 2013) We also have to redo the displacements.

  // ConstValueTypeSerializationBuffer<Ordinal,Packet>
  //   charSendBuffer (sendCount, sendBuf);
  // ValueTypeSerializationBuffer<Ordinal,Packet>
  //   charRecvBuffer (totalRecvCount, recvBuf);
  // comm.gatherv (charSen

[2017-01-13 19:15] kddevin commented on #1006
Looks as if there are implementations for various sized integers (short, long long, long, int, etc.) in Teuchos_CommHelpers.cpp.  Adding various sized floats would be straightforward.  User-defined data types would be more difficult.

Perhaps this would be a good task for our Tech-X collaborators?  I don't know fully their commitments for this FY.  @jmwille would know.

[2017-01-13 19:45] ikalash commented on #958
@mhoemmen I used 1 process.  Sorry for the delay in my response.  For some reason, I don't get notifications about issues in which I am mentioned on github.  Have you had a chance to look into this issue?

[2017-01-13 19:49] MicheldeMessieres commented on #229
Thanks Mark - Ross pointed me to an example in Teuchos which showed me how to do this by searching for an output.

[2017-01-13 21:29] kddevin commented on #973
Actually, I think we shouldn't use base_ at all in this context.  We access only local row data (getNumEntriesInLocalRow, getLocalRowView); thus a local (zero-based) index should be used as the function arguments.  Thus, it should be row = i.

It appears we were not testing cases with row global IDs not starting at zero.  I will add a test and fix this code appropriately.

@vbrunini Thank you for

[2017-01-15 21:39] mhoemmen commented on #1006
There is a partial implementation of a gatherv wrapper in Tpetra.  I was proposing that you move this into a public namespace (either Teuchos or Tpetra) and add a unit test.  If you provide a unit test, I'll be happy to assess it.

[2017-01-15 21:40] mhoemmen commented on #229
@MicheldeMessieres wrote:

Thanks Ross :-D

[2017-01-15 23:43] mhoemmen commented on #958
@ikalash Sorry, haven't had time yet.  Is this getting urgent for you, or can you work around for a little while yet?  I've been juggling a pressing deliverable (scaling and performance comparisons for basic iterative solvers -- you might find the results interesting) with another milestone, and you're the only one right now wanting transposed apply.  I can reprioritize if it's urgent.  Thanks!

[2017-01-16 03:41] ikalash commented on #958
@mhoemmen That's OK.  I would estimate right now that we'd need this within a month or so.  We are planning to remove Epetra from Albany in the very near future.  Until then, we can use the Epetra Multiply() routine with transpose set to true (what we are using now in the code).

[2017-01-16 03:44] ikalash commented on #960
@mhoemmen We found a workaround in Albany, in which we use the ABSMAX combine mode, so adding the CombineMode equivalent to Epetra_Min to Tpetra is no longer urgent for us.  I thought I'd share this information to help you prioritize tasks.  Thanks!

[2017-01-16 15:42] tawiesn commented on #1003
Dashboard is clean.

[2017-01-16 15:42] #1003 closed

[2017-01-16 17:15] mhoemmen commented on #960
Thanks @ikalash !

[2017-01-16 17:18] mhoemmen commented on #958
@ikalash Just curious -- do you need this because you're using a solver that requires the transpose (e.g., QMR), or because you're building a block operator [A, B; B^T H] ?

[2017-01-16 17:39] brian-kelley commented on #972
I just pushed a patch that fixed the problem and fully re-enabled the test.

[2017-01-16 17:39] #972 closed

[2017-01-16 17:43] jhux2 commented on #972
Thanks @brian-kelley!

[2017-01-16 20:22] #993 closed

[2017-01-16 20:26] dridzal commented on #993
I think it's safe to close this issue.  We can view it as a hardware limitation of sadl30906, or a general issue with the templated solver stack -- compilation simply requires significant resources, specifically memory.

[2017-01-16 20:28] dridzal commented on #991
Closing this issue:  We've agreed to discuss deprecated warnings in the context of CDash builds at an upcoming leaders' meeting.

[2017-01-16 20:29] #991 closed

[2017-01-16 22:47] kddevin commented on #973
@vbrunini I believe this bug is fixed.  Thanks for bringing it to my attention.
I also disabled "tolerant" matrix-market reading in our test program, as it was causing the matrix file with IDs outside the range of the number of rows that you sent me to be expanded into a much larger matrix (size maxID rather than number of rows) that didn't represent the structure you wanted.

[2017-01-16 22:47] #973 closed

[2017-01-17 01:22] ikalash commented on #958
@mhoemmen The former.  I just need to be able to compute y = A^T*x.  Is there any alternative way to achieve this in Tpetra w/o using apply with a TRANS CombineMode, if I do not want to form explicitly A^T?

[2017-01-17 05:33] mhoemmen commented on #958
@ikalash The reason I asked was to figure out whether you could get around not having the transpose.  You could also work around by using Tpetra::RowMatrixTransposer to compute the transpose explicitly.  However, if this is a bug, I really need to fix it :)

[2017-01-17 16:55] mmwolf commented on #1005
I've finished removing all usage of Environment from the input adapters.  Nothing seems to be broken.

[2017-01-17 16:55] #1005 closed

[2017-01-17 16:57] mmwolf commented on #1004
I've finished removing all usage of Environment from the input adapters (issue #1005).

[2017-01-17 20:54] rppawlo opened #1008 "Thyra: Add support for x_dot_dot"
We are adding second time derivative support to the new Tempus time integration package. This requires the model evaluator to support x_dot_dot and a corresponding multiplier (omega) for use in W evaluation:

W= omega*D(f)/D(x_dot_dot)+alpha*D(f)/D(x_dot)+beta*D(f)/D(x)

[2017-01-17 20:55] bartlettroscoe commented on #330
@atoth1,

At the meeting today, you said you made progress on this.  Is there any branch that you might want me to look at at some point?

[2017-01-17 20:56] rppawlo commented on #1008
@ikalash @ccober6 @trilinos/thyra

[2017-01-17 21:04] rppawlo commented on #405
This is completed.

[2017-01-17 21:04] #405 closed

[2017-01-17 21:24] jbakosi opened #1009 "exodiff: attempted static link of dynamic object"
I get this linking error, on BlueGene/Q (mira at ANL), arch: powerpc, attempting to link `exodiff`:

[code]

My BG/Q envorinment:

soft add +mpiwrapper-gcc
soft add +mpiwrapper-bgclang
export HDF5_ROOT=/soft/libraries/hdf5/current/cnk-gcc/current
export NETCDF_DIR=/soft/libraries/netcdf/current/cnk-gcc/current

My `cmake` command:

[code]

Note that this is tag [trilinos-release-12-8-1](https://gi

[2017-01-17 21:33] ikalash commented on #958
@mhoemmen I think probably it's possible to get around not having the transpose.  I was trying to find something like the Tpetra::RowMatrixTransposer.  I'll take a look at that and let you know if it works for me.  I guess it might be slower than doing the apply with the TRANS CombineMode?

[2017-01-17 23:46] mhoemmen commented on #958
@ambrad explained that you probably want the transpose for adjoints.  That's different than wanting to use an iterative linear solver like QMR, that requires transposed apply.

@ikalash wrote:

Yes.  It actually constructs a new matrix B, which equals the transpose of A.  Thus, it uses more memory, and you should try to reuse the result.

[2017-01-17 23:48] mhoemmen commented on #1009
@trilinos/seacas

[2017-01-17 23:49] bartlettroscoe commented on #1008
Can we switch to the names:

* W_x_coeff (currently beta)
* W_x_dot_coeff (currently alpah)
* W_x_dot_dot_coeff

?

That is what we should have done from the version beginning.  We can deprecate the old alpha and beta InArgs.

Sound reasonable?

I will commit a cleaned-up and better organized set of Thyra ME files and documentation to better support more additions like this in support of #795.

Is

[2017-01-17 23:50] bartlettroscoe commented on #929
Has this been resolved yet?  Can the ME implementation in question just not provide support for `x_dot` for a steady-state model?

[2017-01-18 05:53] ikalash commented on #958
@mhoemmen I tried it and I think I can make the rowmatrixtransposer work as a temporary fix.  Thanks for the suggestion.

[2017-01-18 05:56] ikalash commented on #1008
@bartlettroscoe  Would this require all applications that use thyra  ME to change the names of alpha, beta, etc to the new ones you are proposing?

[2017-01-18 12:30] rppawlo commented on #1008
I was leaving alpha and beta as is. Only adding omega for the coefficient on x_dot_dot. I'd really like to avoid forcing codes to make changes for this addition. And yes - I am actively working on this - have already made the changes to the base class. I am working on modifications to the decorator classes now. Will make this a pull request when finished.

[2017-01-18 12:35] rppawlo commented on #929
While the issue has been resolved by fixing the user's model evaluator, I'd like to leave this open and assign to me to follow up on the suggestion of changing the error message as noted above. I can make this change today.

[2017-01-18 14:23] atoth1 commented on #330
Yeah, I'll push the current state to my Trilinos fork in the next couple days. I'll let you know when it's up.

[2017-01-18 15:03] bartlettroscoe commented on #1008
No, we would just deprecate `alpha` and `beta` but they would still be supported (but would emit deprecated warnings when used).   I may just do this while I work on #795.

[2017-01-18 15:27] jbakosi opened #1010 "Zoltan_Malloc (.../trilinos/packages/zoltan/src/all/all_allo.c,194) No space on proc 0 - number of bytes requested = 18446744068066390400"
I get the above error from `Zoltan/Zoltan2` when requesting 2 partitions on a single MPI rank using OpenMPI 2.0.2. No problem using OpenMPI 1.10.2.

Here is a trace:

[code]

The problem is triggered by `Zoltan2::PartitioningProblem<tk::zoltan::GeometricMeshElemAdapter<Zoltan2::BasicUserTypes<double, unsigned long, unsigned long> > >::solve()` at https://github.com/quinoacomputing/quinoa/blob/mast

[2017-01-18 16:46] mhoemmen commented on #1010
@trilinos/zoltan

[2017-01-18 17:21] rppawlo commented on #1008
@bartlettroscoe what is your time frame for this? The x_dot_dot support is needed asap. I can add the new flags above as well unless you are actively working this now.

[2017-01-18 17:28] bartlettroscoe commented on #1008
@rppawlo, go ahead and finish and push.  I will deal with the conflicts in my end.

[2017-01-18 17:36] rppawlo commented on #1008
ok. Since the coefficient on x_dot_dot is new, I will change from "omega" to "W_x_dot_dot_coeff".

[2017-01-18 18:16] kddevin commented on #1010
@trilinos/zoltan2
@jbakosi : thanks for reporting this problem.  I am looking for a machine here that has OpenMPI 2.0.2 installed so that I can try to reproduce and fix this error.

In the meantime:  Your error report shows that Zoltan2 is templated with local ordinal type = size_t.  In general, Trilinos prefers signed values for local ordinal type.  Would it be difficult to try your test with a s

[2017-01-18 20:02] jbakosi commented on #1010
Thanks, @kddevin, for the suggestion. I have templated `GeometricMeshElemAdapter` on `long` now and I still get the following

[code]

I have also tried this on another test case which attempts to partition by 3 (instead of 2) parts on a single MPI rank and for that I get a different error:
[code]

[2017-01-18 21:50] jjellio commented on #994
Something I added to my trilinos fork was a slight change in the labels used by the OrthoManagers.

Basically, set the orthoManager's label to be: label_ = label + ':DGKS' + "(orthoPasses)", or ICGS, etc...

That way, atleast if you are looking at timers, Belos would report:
Belos:Orthogonalization:ICGS(2) (inner product)
Belos:Orthogonalization:ICGS(2) (update)
Belos:Orthogonalization:ICGS(2) (no

[2017-01-19 00:07] aprokop commented on #932
Have not had time to work on this, and the priority for me dropped. This is now a free-for-all issue.

[2017-01-19 17:25] gsjaardema commented on #1009
Do you want the "-DBUILD_SHARED_LIBS=ON"

IIRC, you need to build without shared libs on BG/Q, but I may be mistaken...

[2017-01-19 17:39] dridzal opened #1012 "Soft links in zip distribution"
I received an email from a collaborator at LANL, who downloaded the zip file from the github website.  Apparently, his build fails due to soft links in CMakeLists files.  I'm not sure I fully understand the issue, but here is the explanation:

_In the zip distribution, the CMakeLists.txt file for the poisson-inversion test was a soft-link, but it pointed to some kind of long regex list, apparently

[2017-01-19 17:50] mhoemmen commented on #995
This is a duplicate of #995.

[2017-01-19 17:50] #995 closed

[2017-01-19 18:12] mhoemmen commented on #965
This is relevant to @tjfulle 's benchmarking work (link not accessible to public): https://gitlab-ex.sandia.gov/tjfulle/BelosPerformanceEval/issues/3

[2017-01-19 18:19] mhoemmen commented on #965
Note that ICGS has a parameter for the number of orthogonalization passes.  It's 2 by default.

[2017-01-19 18:20] kddevin commented on #1010
@jbakosi Thanks for confirming that the problem persists with different template combinations.

Which compiler are you using in your experiments with both versions of OpenMPI?
We have seen several problems with Intel 17.  For example, #600 .

[2017-01-19 18:26] jbakosi commented on #1010
Gcc 6.3.0, clang 3.8, and intel 17.0.1 all work with OpenMPI 1.10.2.

I only tried OpenMPI 2.0.2 with gcc 6.3.0 that fails.

[2017-01-19 19:59] bmpersc commented on #1012
@dridzal to be able to address this I'm going to need more information

It looks like "zip distribution" is one of the download options github provides, is that correct? If so what "version" was downloaded? In general we don't really support those downloads. However, it should just be a copy of the source from a specific sha1 which should effectively be the same as having a clone at the same sha1.

[2017-01-19 20:07] dridzal commented on #1012
I think this is the zip file that you get as an alternative to git clone.  You can try it out by clicking on the 'Clone or download' link.

The file is in /Trilinos/packages/rol/example/poisson-inversion.

I've given him some input on how to set the proxy.  I'm waiting to hear back.  Still, I'm not sure that it is wise to ignore the zip file as a means of distribution.  We can't control how our po

[2017-01-19 20:58] mhoemmen commented on #386
This duplicates #753, more or less.  We don't need nonblocking norm yet, and I would prefer to express that in a different issue.

[2017-01-19 20:58] #386 closed

[2017-01-19 21:04] bmpersc commented on #1012
@dridzal I'm not able to replicate this. The repo and the download of the master branch have the CMakeLists.txt in packages/rol/example/poisson-inversion as a real file. I can't even find a symlink in ROL period. I also can't find a CMakeLists.txt that is a symlink in all of Trilinos.

At this point I don't know what to suggest. Nothing plausible comes to mind how it would be possible for your cus

[2017-01-19 21:08] mhoemmen opened #1013 "Tpetra: Add fused nonblocking dot+norm"
Story: #748

It turns out my collaborator needs a fused nonblocking dot+norm for the variant of Pipelined CG that does one all-reduce per iteration.  It fuses the norm of the vector r, with the dot product of r and (A*r).

This has two subtasks:

- [x] ( https://github.com/kokkos/kokkos-kernels/issues/13 ) Add a run-time branch in KokkosBlas::dot for 2-D Views where exactly one of the Views has a

[2017-01-19 21:11] dridzal commented on #1012
I can confirm this with my own download.  Maybe the zip/unzip utility and the platform matter ... still there should be no symlinks.  I'll close the issue

[2017-01-19 21:11] #1012 closed

[2017-01-19 21:21] tawiesn commented on #1012
I had problems with the downloaded zip, too. I tried the standard "unzip" in a CentOS 7 container and the resulting unpacked files were partially screwed up. Not all packages were affected though and i could not find the reason for it. Then i tried pk7zip to unpack the zip file and everything was fine.

[2017-01-19 21:59] srajama1 commented on #748
@hkthorn @srajama1

[2017-01-19 22:09] dridzal commented on #1012
This is unfortunate.  It may be best to disable the 'download zip' link on github.  @bmpersc , can we do that?

[2017-01-19 22:48] bmpersc commented on #1012
Hmm, my experiment was to use the standard unzip on the mac and I'm getting exactly what I expect. I know mac and linux tools are not the same, but I find it very disturbing that the linux version is improperly decompressing things. @tawiesn was your "partially screwed up" a case of seemingly random data changes or was it reasonable looking stuff that was just wrong? I could understand the former

[2017-01-19 23:22] tawiesn commented on #1012
@bmpersc When using the standard "unzip" it looked good, but single files in some packages were not unpacked correctly (missing/screwed lines, wrong EOF,...). I can't remember the details, but it was unusable for compiling. By googling around i found a hint, that a different unzip utility could work. And pk7zip did the job for me. But finally i decided to use git clone over https. If we could deac

[2017-01-20 00:03] kddevin opened #1014 "Zoltan2::PartitioningProblem::resetParameters does not work"
It appears that Zoltan2::PartitioningProblem::resetParameters does not work.  Looking at the code, I think it doesn't do anything.  It needs to reset the parameter list in the Environment, but I cannot yet see where that reassignment is done.

This problem is exposed in examples/geometric/rcb_C.cpp; currently,  Zoltan2_ENABLE_Experimental must be enabled, although I suspect that CMAKE flag is not

[2017-01-20 00:52] mmwolf commented on #1014
I think you mean Zoltan2::Problem::resetParameters.  Is this correct?

I think this is my fault since I removed code from the setupProblemEnvironment() function
to fix other problems.  In particular, I removed:

  try{
    env_ = rcp(new Environment(*params, Teuchos::DefaultComm<int>::getComm()));
  }
  Z2_FORWARD_EXCEPTIONS
  envConst_ = rcp_const_cast<const Environment>(env_);

I think we should

[2017-01-20 02:05] kvmkrao opened #1015 "InsertGlobalValues and fill complete in TpetraCrsMatrix"
I used Tpetra to created a contiguous row map. The map is used to create objects for a sparse matrix of bandwidth 7(_A_) and vectors (x and b). The non-zero entries in the matrix are inserted via InsertGlobalValues().
for (int i=0; i< numMyElements; i++) {
_A_->insertGlobalValues (gblRow, NumEntries, Values, Indices);
}
_A-_>fillComplete ();

The CrsMatrix (_A_) and MultiVectors are used to create

[2017-01-20 15:35] rppawlo opened #1016 "Teuchos: add a "make_rcp" for RCP analogous to std::make_shared for std::shared_ptr"
The standard shared pointer supports a make_shared function. It would be useful if Teuchos::RCP had something similar

@trilinos/teuchos @sslattery @bartlettroscoe

[2017-01-20 17:05] mhoemmen commented on #1016
Note that make_shared requires C++11, since it uses variadic templates.  That's OK, but we should be careful to protect this function with the HAVE_TEUCHOSCORE_CXX11 macro, so as not to break users who depend on Teuchos building with older compilers.

[2017-01-20 17:08] mhoemmen commented on #1015
Thanks for asking!  Your question is answered in the the Tpetra Lessons, in particular Tpetra Lesson 04.  Scroll to the bottom of the following documentation page and read the lessons:

https://trilinos.org/docs/dev/packages/tpetra/doc/html/index.html

[2017-01-20 17:08] #1015 closed

[2017-01-20 17:29] rppawlo commented on #446
done!

[2017-01-20 17:31] rppawlo commented on #929
Pushed fix for the error message mentioned above. Closing.

[2017-01-20 17:31] #929 closed

[2017-01-20 17:31] #1008 closed

[2017-01-20 17:37] bmpersc commented on #1012
Just to satisfy my curiosity I decided to unzip the zip I'd downloaded on a couple linux machines. I ended up with the same result. The CMakeLists.txt in question was a real file in all instances. In case I suffered from a general garbling issue I built MueLu on one of the linux machines and was able to successfully compile it. So I think it is safe to say that the zip I have is good. I don't real

[2017-01-20 18:17] mhoemmen opened #1017 "Tpetra: Make CrsGraph MatrixMarket I/O memory scalable"
@trilinos/tpetra
Epic: #769

[2017-01-20 18:17] mhoemmen commented on #353
I just split off CrsGraph I/O into its own issue, #1017.

[2017-01-20 18:37] MicheldeMessieres commented on #1014
This can be fixed by adding a resetParameters(params) method to Environment which will reset the parameters and validate them without changing the initial comm setting. I'll open a PR shortly with this fix. I will also remove the Cmake experimental check.

[2017-01-20 18:48] mmwolf commented on #1014
I think I have fixed this.  However, feel free to improve this.  I found this whole Environment usage somewhat clunky.

[2017-01-20 18:59] MicheldeMessieres commented on #1014
Sorry, didn't notice you had just made the commit.
This alternative should achieve the same result - I'll open a PR only if requested then:

In Environment I would have added:

[code]

Then in Problem resetParameters() we would first call:
`env_->resetParameters(*params);`

[2017-01-20 21:34] kvmkrao commented on #1015
Thank you mfh.
I created a constant graph and used it to construct _CrsMatrix(A)_. _replaceGlobalValues()_ method populates _A._ The linear system of equations are formed with _A_ and vectors. Smoothed aggregation in MueLu is used for preconditioning. BiCGStab in Belos is used as a solver.
The time spent at various stages in solving 10^6 equations with 2 processors are as follows (Please see the c

[2017-01-21 00:59] mhoemmen opened #1018 "Tpetra: Write functions for packing & unpacking matrix triples"
@trilinos/tpetra
Story: #353

My commit https://github.com/trilinos/Trilinos/commit/20144bb507d3b969d6b98ddb70fd47d87c20ad01 fixed this.

[2017-01-21 00:59] #1018 closed

[2017-01-21 01:06] mhoemmen commented on #353
I closed this issue by mistake.  Wish it were done ;-)

@jjellio , @tjfulle , this issue is relevant to current benchmarking efforts.

[2017-01-21 01:12] tjfulle commented on #353
For some of the benchmarking problems, matrix I/O is the longest running part of the problem - any speed up would be awesome!

[2017-01-21 01:13] mhoemmen commented on #1015
It's impossible to know whether this is expected without having a good understanding of the problem you are trying to solve.  It depends utterly on the matrix and what preconditioner you are using.  If your preconditioner is not expensive to apply and you only need a few iterations to solve the linear system, then fill might even take 50% of the overall time.

[2017-01-21 02:30] kvmkrao commented on #1015
Thank you @mhoemmen
I am solving the linear system of equations from a multiphase solver for pressure field. The equations governing the fluid (for example Navier-Stokes equations) are discretized using finite volume method.
In a 2D problem, each node (grid point) has 4 neighboring nodes (i-1, i+1, j-1, j+1). So the bandwidth of the matrix is 5.
The structure of the matrix is as follows:
_.    .

[2017-01-21 03:17] jbakosi commented on #1009
You are right @gsjaardema. It needed to be a static build. Thanks.

[2017-01-21 03:17] #1009 closed

[2017-01-21 21:59] mhoemmen commented on #353
@tjfulle :-) I'm pretty close to getting the DistObject subclass done.  I don't have to be fancy and worry about threads for now -- the point is MPI process memory scalability.  Also, it distributes entries by row, just like CrsMatrix, so it's not ideal load balancing.  However, it should be good enough for now.

[2017-01-21 22:09] mhoemmen commented on #1015
@kvmkrao wrote:

Ifpack2::Chebyshev only works for symmetric positive definite matrices.  Please refer to the MueLu tutorial (see Trilinos/packages/muelu/doc) for details on how to pick a more appropriate smoother.

@trilinos/muelu

[2017-01-21 22:41] dridzal commented on #1012
Thanks for verifying the zip distribution on several machines.  We may want to simply state somewhere that 'git clone' is the preferred way of obtaining Trilinos.

[2017-01-21 22:50] aprokop commented on #1015
@kvmkrao @mhoemmen Not sure about the current question in this Issue. It started with fill-in but now talking about preconditioners?

Anyway, the input deck is a bit weird:
a) The default smoother is set to Chebyshev. As @mhoemmen mentioned, this could be problematic for non-symmetric problems.
b) However, it uses Jacobi and Gauss-Seidel (with different relaxation parameters!) for first three leve

[2017-01-22 07:02] mhoemmen commented on #1015
@aprokop wrote:

The user is trying to establish whether spending 25% of total time on fill is reasonable.  This turned into a discussion of whether the preconditioner is effective.

@kvmkrao Could you please tell us where you found this input deck, and why you are using it for this problem?  Also, I highly recommend the MueLu tutorial.

[2017-01-23 15:38] tawiesn commented on #1015
@kvmkrao To find good preconditioner settings it might help to set "verbosity" to high and check the screen output. As @aprokop already mentioned, the input deck is somewhat unusual. The given timings seem to be incomplete and are not really helpful. It would be important to know how large the fine level problem is and how the multigrid levels look like. This information should be printed on scree

[2017-01-23 17:18] #869 closed

[2017-01-23 17:18] #863 closed

[2017-01-23 17:18] #865 closed

[2017-01-23 17:31] kvmkrao commented on #1015
I read MueLu user guide 1.0. The user guide says
"Some of the parameters that affect the preconditioner can in principle be different from level to
level. By default, parameters affect all levels in a multigrid hierarchy.
The settings on a particular levels can be changed by using level sublists. A level sublist is a
ParameterList sublist with the name “level XX”, where XX is the level number. The

[2017-01-23 17:57] tawiesn commented on #1015
Usually, you don't use different level smoothers on coarser levels. Only if you have special/good reasons for doing that, i.e., you could something cheaper on the finest level (e.g. Jacobi, Chebyshev,...) to reduce the communication on the finest level and choose more expensive smoothers on the coarser levels (e.g. Gauss-Seidel or ILU(k)).

Depending on your machine, it might make sense to reduce

[2017-01-23 18:30] rppawlo commented on #928
Done

[2017-01-23 18:33] rppawlo commented on #928
@alanw0

[2017-01-23 21:33] bartlettroscoe commented on #1016
Yup, we will definitely add `make_rcp()` and other C++11 features to the Teuchos Memory Management Classes.  The only reason that has not been done up to this point (other than lack of time) is there there was no where I could use them.  For example, are we allowed for Thyra and Stratimikos to require C++11 yet? If not, then when?  It has been hard to get excited about C++11 when I am not allowed

[2017-01-24 01:15] kvmkrao commented on #1015
I am looking for optimal  settings for the problem.
The equations were solved on an Intel(R) Xeon(R) CPU E5440  @ 2.83GHz, 64GB RAM, 32K L1 cache,           6144K L2 cache and the timing info was reported. However, there are plans to repeat the computations on Stampede.

[2017-01-24 04:29] mhoemmen commented on #1015
@kvmkrao wrote:

Nonsymmetric problems are hard for multigrid.  There are plenty of problems for which getting multigrid to work is an active research area.  Best settings (I didn't say optimal -- that may also be a research problem) depend on the problem and may call for careful experimentation.

If you really need to get multigrid to work and are an internal customer, I would encourage you to ge

[2017-01-24 05:00] mhoemmen commented on #961
I've heard some complaints recently that this issue has not been resolved for some internal customers.  The issue is not Ifpack2, but rather incorrect configuration of the Trilinos build.  The reported run-time error looks like this:
[code]
The problem is that you’re using GlobalOrdinal = `long`, but Trilinos was not configured to enable GlobalOrdinal = `long`.  You can check for this condition by

[2017-01-24 05:30] kvmkrao commented on #1015
Thank you very much for the advice @mhoemmen
I will contact the MueLu team. thanks @mhoemmen

[2017-01-24 15:01] mmwolf commented on #1014
It looks like my fix has cleared up this error.  That being said Michel's solution is probably a better one since it makes Environment less clunky.  So I'm ok if we decide to go that route instead.

[2017-01-25 16:02] mndevec commented on #922
Is this still an issue? I have not received test failures for a while.

[2017-01-25 17:51] #922 closed

[2017-01-25 19:04] jwillenbring opened #1020 "SuiteSparse CMakeLists conditional on Cray"
The following issue was reported:

In order to build with the Cray compilers, we have to modify Trilinos/packages/common/auxiliarySoftware/SuiteSparse/src/CMakeLists.txt as follows.
...

@@ -45,7 +45,9 @@ SET_SOURCE_FILES_PROPERTIES(${SOURCES},
                 PROPERTIES
                 LANGUAGE C)

-  IF(CMAKE_COMPILER_IS_GNUCC OR CMAKE_COMPILER_IS_GNUCXX)
+  IF ("${CMAKE_CXX_COMPILER_ID}" STRE

[2017-01-25 19:42] bmpersc commented on #1020
This whole conditional block looks suspect to me. The default case is to set the same flags as when we have a gnu compiler > 4.2. I think it would be good to have a case specifically for cray. But, based on the report I can't really say which case we were landing in that was giving the wrong behavior, the gnu or the default.

[2017-01-25 20:09] krcb commented on #1020
I've simplified the block down to only add those flags to the GCC case, removing all other cases. @MicheldeMessieres is going to test and open the PR when tests are complete.

[2017-01-25 22:29] mhoemmen opened #1021 "Tpetra: Matrix Market writeSparse assumes input row Map is one to one"
@trilinos/tpetra

Tpetra::MatrixMarket::writeSparse (and writeSparseFile) assumes that the input matrix's row Map is one to one (not overlapping).  This is because it does an Import from the input matrix, to a matrix with a gathered row Map (all indices on Process 0).

If the gathered row Map is always one to one, we could fix this easily by using an Export instead of an Import.

@vbrunini reporte

[2017-01-26 00:11] hkthorn commented on #989
The "Implicit Residual Scaling" parameter has been added to the BlockCGSolMgr and the required logic to recreate the residual status tests has been updated to respect any changes to this parameter.

[2017-01-26 00:11] #989 closed

[2017-01-26 17:08] bmpersc commented on #1020
@krcb that seems like a good solution to me.

[2017-01-26 21:29] MicheldeMessieres commented on #1020
Ran tests and set up PR #1022

[2017-01-26 22:33] bartlettroscoe commented on #693
This was completed as of commit ae6a8dd.

Closing as complete.

[2017-01-26 22:33] #693 closed

[2017-01-27 18:27] crtrott commented on #844
I seem to have the same issue ...

[2017-01-27 18:32] kddevin commented on #1010
Using the compilers and libraries to which I have access, I ran Zoltan's and Zoltan2's tests with OpenMPI 2.0.1 and intel 17.0.098.  They all passed, in both DEBUG and RELEASE mode.

@jbakosi Do you see the same problem with a DEBUG build (-O0)?  Are you able to test with OpenMPI 2.0.2 and intel 17.0.1?  Is there a system at your site that I can access so that I can use your configuration?

[2017-01-27 20:23] ibaned commented on #313
#1023 is all we need to get this done

[2017-01-28 22:54] kddevin opened #1024 "Zoltan2 Hypergraph model assumes contiguous GID number from base 1"
Zoltan2's hypergraph model assumes global IDs of entities are numbered contiguously from base 1.  Variable numGlobalVertices_ is set to the global maximum GID value.  When global IDs are not numbered contiguously or from base 1, this computation is incorrect.

Also, the Tpetra::Maps used in building the hypergraph model use indexBase=0.  I think they could be more efficient for the non-contiguous

[2017-01-29 00:13] mhoemmen commented on #1024
@kddevin Would it help if I finally got rid of that indexBase requirement for noncontiguous Maps?

[2017-01-29 02:45] mhoemmen opened #1025 "Tpetra: Implement sparse matrix class that communicates by triples, for I/O"
@trilinos/tpetra
Story: #353

[2017-01-29 04:16] kddevin commented on #1024
No need, @mhoemmen , but thanks.  The bigger error is in the way our hyoergraph model determines the number of unique GIDs. The Map issue is secondary, and easily resolved with at most an Allreduce.
Thanks.

[2017-01-29 06:07] #1025 closed

[2017-01-30 15:40] bmpersc opened #1027 "Tpetra build error in continuous"
@trilinos/tpetra It appears that the addition of cooMatrix from issue #1025 has caused the continuous build to fail. You can see the failure at http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2724420. It looks like the issue is with the usage of sstream so it is probably related to some debugging output.

[2017-01-30 20:59] mhoemmen commented on #1027
I'll work on this one.

[2017-01-30 21:00] mhoemmen opened #1029 "Teuchos: Add MPI_BOR wrapper enum to EReductionType"
@trilinos/teuchos @trilinos/tpetra
Story: #353

[2017-01-30 21:27] jbakosi commented on #1010
I have tested with OpenMPI 2.0.2 (the system-wide default in [debian/testing](https://packages.debian.org/stretch/libopenmpi2)) + GCC 6.3.0 (also the system-wide default) with DEBUG and that still fails.

I have also tested with OpenMPI 2.0.2 + Intel compiler 17.0.1 (20161005), and my tests, somewhat surprisingly, pass. Since I could _not_ reproduce the problem with the Intel compiler, I am suspic

[2017-01-30 21:39] mhoemmen commented on #1027
std::ostringstream forbids assignment, but I can achieve the desired effect (clear contents, start fresh) by calling `os.str("")`.  I'll try that.  btw this worked fine with Clang 3.5.

[2017-01-30 22:35] mhoemmen commented on #1027
Done!

[2017-01-30 22:35] #1027 closed

[2017-01-30 22:38] mperego commented on #878
Modified HGRAD_TRI_Cn_FEM_ORTH to enable basis evaluations and their first derivatives without using Sacado. Sacado will be needed for higher order derivatives.
Same approach can be used for the other basis using Sacado

[2017-01-30 23:59] hkthorn commented on #965
I've been doing some minor cleanup in the solver managers and looking over the orthomanagers and the later-developed orthomanager factory.  The solver managers do a lot of work to generate the correct orthogonalization method, especially when that method has changed in between calls to setParameters.  While the orthomanager factory provides a nicer parameter list interface to the orthogonalization

[2017-01-31 02:32] mhoemmen commented on #965
@hkthorn That sounds right.  There was a time when we were on a kick to make everything implement ParameterListAcceptor, so that Optika could drive the whole stack.  That was back during the whole "standard interface for things that take ParameterList" debate circa 2011.  Whether an input ParameterList should represent a delta (like Belos) or a current state (unspecified parameters take default va

[2017-01-31 14:29] #928 closed

[2017-01-31 15:32] #1029 closed

[2017-01-31 17:21] hkthorn commented on #965
@mhoemmen Thanks for the input!  I just wanted to document my findings just in case I needed to be corrected.

[2017-01-31 18:27] mhoemmen opened #1031 "Tpetra: Add function for "dealing out" sparse matrix triples from a Matrix Market file"
@trilinos/tpetra
Story: #353

[2017-01-31 20:13] bartgol opened #1032 "Exception thrown in Thyra_BelosLinearOpWithSolveFactory_def.hpp for left preconditioners"
It appears that the class BelosLinearOpWithSolveFactory in stratimikos does not allow a left preconditioner (line 669). However, Belos itself does allow left preconditioners.

Is the stratimikos code not up to date?

[2017-01-31 21:10] tjfulle opened #1033 "Galeri install error when built without Epetra"
The file `Galeri_XpetraUtils.hpp` includes `Galeri_Exception.h`.  `Galeri_Exception.h` lives in `packages/galeri/src-epetra/`.  If Galeri is built and installed without Epetra (but with Tpetra/Xpetra), `Galeri_Exception.h` is not copied to the `<install prefix>/include` directory.  The missing file results in compile errors in applications using Galeri/Xpetra.

@trilinos/xpetra
@trilinos/galeri

[2017-01-31 21:53] lucbv commented on #1032
@trilinos/stratimikos

[2017-01-31 22:06] bartgol opened #1034 "Improvement in Teuchos::SerialDenseSolver:::solve ()"
There is a check towards the beginning of the method to make sure that A and b are either both equilibrated or both not equilibrated. However, the check is done _after_ equilibrating b and _before_ factoring A (unless A is already factored/inverted)

Clearly, I could call the factor() method before calling solve(), and that would fix the problem. However, since solve() will automatically call fact

[2017-01-31 22:08] bartgol commented on #1034
@trilinos/teuchos

[2017-01-31 22:08] lucbv commented on #1034
@trilinos/teuchos

[2017-01-31 22:18] mhoemmen commented on #1033
There is nothing in the file Galeri_Exception.h that appears to require Epetra, so this should not be too hard to fix.  The issue is lines 22-24 of galeri/CMakeLists.txt, that completely exclude galeri/src-epetra from the build if Epetra is disabled.  The best fix would be to factor out files like Galeri_Exception.h (and Galeri_ConfigDefs.h) that have no dependencies on other packages, into a new

[2017-01-31 22:20] bartgol opened #1035 "Possible bug in Teuchos::SerialDenseSolve::factor()"
In case refineSolution_==true, the matrix and the factor are stored separately. However, the way the factor is created, that is,

Factor_ = rcp( new SerialDenseMatrix<OrdinalType,ScalarType>(*Matrix_) );

is buggy (I think). In fact, if the original matrix was created as a view (of either another matrix or some raw pointer), then the copy constructor will not do a deep copy of the array values_ st

[2017-01-31 22:40] lucbv commented on #1035
@trilinos/teuchos

[2017-01-31 22:43] mhoemmen commented on #1035
If I remember right, the copy constructor behavior was a "feature not a bug."  There was an issue a while back with how Dakota was using this class.  @hkthorn , does this sound familiar?  On the other hand, the issue a while back related to the copy constructor, not to this internal issue.

@bartgol , it looks like you are interested in solving dense linear systems.  Could you explain your use cas

[2017-01-31 22:43] tjfulle commented on #1033
@mhoemmen , yep, and manually copying the include file from the epetra source directory to the install directory fixes the application build errors.  So, it should be an easy fix as you suggest.

[2017-01-31 22:45] mhoemmen commented on #1033
@tjfulle Would you like to submit a PR to fix it, or should we just let the MueLu developers get to it?

[2017-01-31 22:46] tjfulle commented on #1033
Sure, I could do that

[2017-01-31 22:52] mhoemmen commented on #1033
Thanks @tjfulle !  I totally didn't mean this as a "well, why don't you do it yourself then?" btw :)

[2017-01-31 23:02] tjfulle commented on #1033
@mhoemmen no worries!  It didn't even occur to me to take it that way

[2017-01-31 23:06] mhoemmen commented on #1031
I've been working on this for a couple days.  I'm writing the unit test now.

[2017-01-31 23:12] bartgol commented on #1035
I have several small (1<order<5) dense linear systems to solve. I am giving my self the option of either using Teuchos::LAPACK directly or rely on Teuchos::SerialDenseSolver (in case these systems will need equilibration and/ore iterative refinement; I am not yet using real data, so I don't know whether this will be actually needed).

I may have phrased my thoughts badly: I am not saying the copy

[2017-02-01 00:30] hkthorn commented on #1035
@bartgol @mhoemmen As Mark said, the copy constructor's behavior was emulating Epetra's SerialDenseMatrix, so that is a "feature not a bug".  However, that would result in the WRONG behavior if the matrix was a view of a larger matrix ...  I will fix that.

[2017-02-01 01:04] hkthorn commented on #1034
The pathway through the solve() method is complex given the different options for the solver (inverted/refined/etc.).  This is definitely an issue, but I need to extend the test suite to make sure that the solver does the right thing in all combinations of options.  This bit of logic is also inherited from the Epetra_SerialDenseSolver.  So, that solver would have the exact same issue.

[2017-02-01 05:38] mhoemmen commented on #1035
@bartgol wrote:

We are working on batched thread-parallel BLAS / LAPACK interfaces too.  @kyungjoo-kim can tell you more about his work there.  This interfaces could pay off under the following conditions:

  1. If you can do the solves all at once rather than one after another in sequence, and
  2. if you have enough solves to do that it might pay to thread-parallelize across them.

[2017-02-01 05:39] mhoemmen commented on #1031
It compiles, but I need to fix a run-time issue yet (the number of receives and sends doesn't quite match up).

[2017-02-01 05:40] bartgol commented on #1035
That's exactly my case. I will ask him about it. Thanks!

[2017-02-01 06:58] kyungjoo-kim commented on #1035
I have worked on KokkosKernels -- GEMM, TRSM and LU (for line smoother). Our target problem consists of 512 instances of small dense problems with blocksizes 5, 9, 15, and 20. It performs quite well for small matrices as we use vectorization explicitly almost everywhere; however, it may require repacking to different data format.

[2017-02-01 12:11] ilovezfs commented on #866
Any update here?

[2017-02-01 14:34] wfspotz commented on #866
@bartlettroscoe, I have wanted to fix this for some time. It seems like the TriBITS modification would be trivial.

[2017-02-01 19:11] aprokop opened #1036 "Piro fails to compile"
@trilinos/nox @trilinos/piro

Here is the config:
[code]

Here are the errors:
[code]

[2017-02-01 19:15] aprokop commented on #1036
Removing the line
[code]
results in successful compilation but takes longer as more packages are enabled.

[2017-02-01 20:34] mhoemmen commented on #1031
Real-valued case works.  Complex-valued case needs a bit of debugging yet.

[2017-02-01 21:44] mhoemmen commented on #1031
Hm, when I change the complex case to use different tags than the real case, the test passes.  This suggests that there is something off about messages.  I'll need to debug this a little harder, but it might work for now.

[2017-02-01 22:26] jmgate opened #1037 "Thyra::defaultSpmdVectorSpace bug"
In the `Thyra::defaultSpmdVectorSpace()` routine that takes four arguments, the fourth argument is `const int isLocallyReplicated = false`.  It looks like that `int` should be a `bool` instead.  @trilinos/thyra

[2017-02-01 23:35] tjfulle commented on #1033
@mhoemmen, when I opened this issue, I had built Trilinos without examples/tests.  Copying `Galeri_Exception.h` to `<prefix directory>/include` resolved my application build errors.  I've just run in to the problem that that Trilinos+Galeri+examples/tests does not build if Epetra is not enabled  The first of the many (similar) build errors is:

[code]

It appears that there are some hidden depende

[2017-02-02 00:09] kvmkrao opened #1038 "Error in building Trilinos with CUDA"
I am trying to install Trilinos with MPI and CUDA on stampede.
First, I loaded gcc and cuda modules on stampede and installed openmpi.2.0.1 and
used those wrappers to  build Trilinos

ml load gcc/4.9.3
ml load cuda/7.5

export OMPI_CXX=/04051/vkotteda/stampede/Software/Trilinos/clone/src/packages/kokkos/config/nvcc_wrapper
export NVCC_WRAPPER_DEFAULT_COMPILER=/opt/apps/gcc/4.9.3/bin/g++
export CUD

[2017-02-02 02:50] mhoemmen commented on #1033
@tjfulle , just curious, if you disable Galeri's tests and examples, but enable Galeri and other downstream packages that depend on it for _their_ tests and/or examples, can you still get through the build?

[2017-02-02 02:51] mhoemmen commented on #1037
@trilinos/thyra

[2017-02-02 04:06] aprokop opened #1039 "Trilinos 11.10.2"
@trilinos/framework @bmpersc @jwillenbring

On trilinos.org website one can download version 11.10.2 [here](https://trilinos.org/download/previous-releases/download-11-10/). However, I cannot figure out how to get the corresponding hash from trilinos source tags and/or branches. None of them seem to contain any combination of numbers 11, 10 and 2. The only thing I see is 11.10.1 release there.

[2017-02-02 04:08] tjfulle commented on #1033
Adding `-DGaleri_ENABLE_TESTS:BOOL=OFF -DGaleri_ENABLE_EXAMPLES:BOOL=OFF` results in a successful build.

[2017-02-02 06:21] mhoemmen commented on #1031
Fixed the aforementioned issue.  Complex was a red herring.  This was really about Process 0 issuing an extra send, that was matching incorrectly with an irecv from the _next_ test.  I got rid of the extra send and now the tests all pass.

[2017-02-02 06:30] mhoemmen commented on #1031
Just pushed the fix to the develop branch.

[2017-02-02 06:30] #1031 closed

[2017-02-02 13:13] ilovezfs opened #1040 "doxygen 1.8.13 incompatibility"
I'm having to set `-DPyTrilinos_DOCSTRINGS:BOOL=OFF` due to an incompatibility with doxygen 1.8.13, which ultimately leads to
[code]

Looking back in the log, there are errors in the initial cmake configuration: https://gist.github.com/ilovezfs/a5f72851bbeecded8d4b87a996b1b3ad

This does not occur if I use doxygen 1.8.12 or 1.8.11.

[2017-02-02 17:22] kddevin commented on #1014
@MicheldeMessieres We would like you to implement the changes above as suggested, if you have time.  Would these changes also help #1004?   Or could they be done easily at the same time as fixing #1004?
@krcb

[2017-02-02 17:24] kddevin commented on #1004
We decided that the default constructor that does not accept a communicator should be removed everywhere.  All Environment constructors should take a communicator as input.

[2017-02-02 17:48] bavier commented on #1020
BTW, the Cray warnings flags issue was mostly fixed in PR #260

[2017-02-02 18:19] MicheldeMessieres commented on #1014
I'll add #1004 changes to remove constructors without a communicator and swap the the original resetParameters fix for the new fix.

[2017-02-02 21:48] barche opened #1042 "Stratimikos: Headers not installed for BelosLinearOpWithSolveFactory"
It seems the following generated headers don't get installed:
[code]
Stumbled upon this trying to build a Stratimikos-configured Tpetra-based solver.

[2017-02-02 22:48] aprokop commented on #1042
@trilinos/stratimikos

[2017-02-03 03:49] aprokop commented on #1036
The NOX and LOCA variables are fixed by adding
[code]
This is due to the following code in  `packages/nox/CMakeLists.txt` and `packages/nox/src-epetra/CMakeLists.txt`:
[code]
Piro does not check for those conditions and includes the headers automatically.

The Thyra error is fixed by adding
[code]
as the corresponding header file is not in the core Thyra.

In general, there are a lot of dependenci

[2017-02-03 15:08] rppawlo commented on #1036
@aprokop The quick fix is for Piro to enable the NOX_Epetra support only if the correct nox adapter is enabled - i.e. check for the cmake flag NOX_ENABLE_ABSTRACT_IMPLEMENTATION_EPETRA to be enabled.  Longer term, we could split out the nox adapters into separate subpackages and then the piro interface could have separate dependencies on the nox subpackages. A better long term design fix (but more

[2017-02-03 16:00] tawiesn commented on #1036
I can state that there are also external customers using the Epetra adapter layers for NOX.

[2017-02-03 16:40] bartlettroscoe commented on #1032
I was not aware that Belos was updated to natively support left preconditioners and handle the requested norms correctly.  I wonder how they are computing accurate estimates of the norms as defined at:

* https://trilinos.org/docs/dev/packages/thyra/doc/html/classThyra_1_1LinearOpWithSolveBase.html#LOWSB_solve_criteria_sec
* https://trilinos.org/docs/dev/packages/thyra/doc/html/structThyra_1_1Solv

[2017-02-03 16:58] bartlettroscoe commented on #1032
Of course the one easy case is when you let the solver decide its own solve criteria by passing in solveCriteria=null in `solve()`:

* https://trilinos.org/docs/dev/packages/thyra/doc/html/classThyra_1_1LinearOpWithSolveBase.html#a284237bd162e713dd732aab3f199f3b1

If that is all you need, then this is easy to support.

[2017-02-03 18:30] mhoemmen commented on #1032
@bartlettroscoe If you use a left preconditioner with Belos' GMRES, the solver iterates first until the implicit residual norm meets the desired tolerance, then computes the explicit residual norm (`norm(b-A*x)`) at each iteration after that until _that_ norm meets the desired tolerance.  (I omitted scaling factors and some other details in the previous discussion, but that conveys the general ide

[2017-02-03 19:17] #1038 closed

[2017-02-03 21:08] bartlettroscoe commented on #1032
Then it should be fairly straightforward to add support for left preconditioning for Belos.  We just need someone to add in the functionality and some appropriate tests.

@bartgol, what application needs this?

[2017-02-03 23:14] kongm opened #1044 "What do the Belos's timer account for?"
Hi,

I'm getting this output from Belos:

Timer Name                                        Global time (num calls)
--------------------------------------------------------------------------------
Belos: Operation Op*x                             0.0009172 (12)
Belos: Operation Prec*x                           0.2256 (8)
Belos: Orthogonalization                          0.001559 (8)
Belos: PseudoB

[2017-02-04 05:28] aprokop commented on #1044
Belos timers include both communication and computation. The operations typically have barriers in them. There is some work planned on asynchronous communication but I believe that has not been implemented yet. I'm not sure how that will affect timings in the future.

The results you present actually correspond to a serial run, it seems. This can be determined by the number of columns in the timer

[2017-02-04 05:28] #1044 closed

[2017-02-05 00:10] jjellio opened #1045 "Troubles with TPL HDF5 parallel"
Hello,

I am having a problem when building with HDF5.  On this system, hdf5 is provided in both parallel and serial versions.
/opt/cray/pe/hdf5-parallel/1.8.16
/opt/cray/pe/hdf5/1.8.16

In the parallel's lib directory, hdf5_fortran is a symbolic link to hdf5_fortran_parallel (the same for other hdf5 libs)

When I configure trilinos, it is not obvious which library names I should provide to TPL_HD

[2017-02-05 03:42] jjellio commented on #1044
Hi,

Too see that output (1 column instead of 4), you must be running with 1 process?

That time does include communication. The timers are fairly simple. They start at the top of a region of code, and time until the region loses scope.

Opx : is the action of applying the operator (Sparse MatVec if you have a matrix)
Precx : applying the preconditioner.
Orthogonalization is what you think.

All i

[2017-02-06 14:16] rppawlo opened #1046 "Explicit Scaling support on Thyra objects"
**CC:** @trilinos/thyra

**Description:**

email discussion below was started on scaling support in Thyra. Need to bring in a larger team and discuss long term design.

Matt,

If you have access to a LOB object that supports the current Thyra::ScaledLinearOpBase mix-in interface, then you can scale a matrix by a constant by first creating a vector set to a constant and then passing it in to the Th

[2017-02-06 18:26] kongm commented on #1044
Thanks. BTW, if I invoke the solver many times, creating a fresh new object for each call, do the timers account for the current solver call or do they aggregate somehow?

[2017-02-06 20:21] hkthorn commented on #1035
The potential issue in the SerialDenseSolver::factor() method has been resolved.

[2017-02-06 20:21] #1035 closed

[2017-02-06 20:58] aprokop commented on #1044
If you create a timer with the same name, the times would aggregate. You can double check that by looking at the number of calls in parenthesis, which should show the total number for all iterations.

[2017-02-06 21:14] jjellio commented on #1044
The timer label is configurable through the parameter list you provide to the solver factory (or directory constructor)

RCP<ParameterList> belosParams ...

belosParams->set ("Timer Label", "something different")

The default is "Belos"

________________________________
From: Andrey Prokopenko <notifications@github.com>
Sent: Monday, February 6, 2017 1:58 PM
To: trilinos/Trilinos
Cc: Elliott, Jame

[2017-02-06 23:01] bartlettroscoe commented on #1042
Easy fix.  I will take care of this and push to 'develop'.

[2017-02-06 23:05] bartlettroscoe commented on #1037
Simple copy-and-paste error.  I will fix and push.

[2017-02-06 23:05] aprokop opened #1047 "Add topics"
Github has a new feature: [topics](https://github.com/blog/2309-introducing-topics) that allows for a better discoverability of projects on Github. Please consider adding it to the repository.

@trilinos/framework

[2017-02-07 01:46] jjellio opened #1048 "Zoltan2_MapSimulater unit test fails to build with intel 17 (gcc 6.1.0 headers)"
I am building under the Cray environment, with Intel 17 compilers. These compilers seem to use GCC 6.1.0 stl headers, so this is likely reproducible using gcc 6.1.0 on another machine.

The build script is a bit complicated (I can post if you are currious)

This is an OpenMP build with the TPLs HDF5, Netcdf, Pnetcdf, LAPACK and BLAS

All unit tests and examples enabled, and all optimization flags

[2017-02-07 02:05] bartlettroscoe opened #1049 "Panzer: PanzerAdaptersSTK_PoissonExample-ConvTest-Order tests failing on many platforms and builds"
**CC** @trilinos/panzer

**Description:**

Several Panzer tests are failing on lots of platforms and builds as shown at:

* http://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=4&showfilters=1&filtercombine=and&field1=testname&compare1=65&value1=Panzer&field2=status&compare2=62&value2=Passed&field3=buildstarttime&compare3=83&value3=2017-02-06&field4=buildstarttime&compare4=8

[2017-02-07 02:06] bartlettroscoe commented on #1049
Because this is blocking pushes with the checkin-test-sems.sh script, I will disable these tests as run by this script (but not in any other context).

[2017-02-07 02:42] bartlettroscoe commented on #1049
I pushed the commit:

[code]

With that, I was able to push by disabling these tests.

[2017-02-07 03:08] bartlettroscoe commented on #1042
Should be resolved as of commit 47ebfff.  @barche, please pull the 'develop' branch and try this out and add a comment for if it passes or fails.

[2017-02-07 03:10] bartlettroscoe commented on #1037
Should be resolved as of commit 129943f.  @jmgate, please add a comment to confirm this is fixed.

BTW, how did you notice the problem with the type of this input parameter?  Did you just happen to see this or did something bad happen?

[2017-02-07 03:24] nmhamster commented on #1048
@jjellio can you swap the GCC to a different version on the Cray environment? I am curious if this makes a difference the build errors?

[2017-02-07 03:41] jjellio commented on #1048
@nmhamster How do I do that? Doesn't Intel hardcode that per release? E.g., Intel 17 points 6.1, and Intel 16 pointed to a different GCC.

I haven't done what you are asking before... but I am happy to do it. (I can swap to Intel 16 and test just this file,  I can't in general use Intel 16 because that MKL is broken for DGEMM, and I depend heavily on that)

[2017-02-07 04:09] jjellio commented on #1048
@nmhamster

module swap to intel/16.0.3, and icpc points to
/opt/intel/2016.3.067/compilers_and_libraries_2016/linux/bin/intel64/icpc

The error seems the same.

[code]

[2017-02-07 15:58] jmgate commented on #1037
Yup, it's fixed.  It didn't hurt anything&mdash;I was just trying to figure out how to create a `DefaultSpmdVectorSpace` and was trying to figure out if I needed it to be locally replicated or not.  When I saw `int .* = false`, I did a double-take.

[2017-02-07 16:49] mndevec commented on #1048
James,
The first couple errors should be fixed in the commit 95867e1f105a6be76805f8e22a0a08257ab70614 .
Do you have that one pulled?

[2017-02-07 16:57] bartlettroscoe commented on #1037
Excellent!  I will go ahead and close this now.

[2017-02-07 16:57] #1037 closed

[2017-02-07 17:11] ibaned commented on #313
#1023 was accepted into develop, which means this issue is resolved, assuming those commits get into master.

[2017-02-07 17:58] kongm opened #1050 "GPU capable linear solvers"
Hi, are there any solvers in Belos or MueLU (or any other package) with GPU implementations? Thanks.

[2017-02-07 18:04] tawiesn commented on #1050
As long as you use Tpetra you are also using the corresponding linear algebra kernels (which make use of CUDA, OpenMP,... if enabled). Some of the MueLu kernels have been ported to use Kokkos directly. But these are not enabled by default and should be supposed to be experimental. We are working on that.

[2017-02-07 18:25] bartlettroscoe commented on #1049
The pattern of failures is interesting:

* http://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2017-02-07&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.7.2-MPI_RELEASE_DEBUG_SHARED_PT_CI&field2=testname&compare2=65&value2=PanzerAdaptersSTK_PoissonExample-ConvTest-Order-&field3=buildstarttime&compare3=84&value3=now

It looks somewhat

[2017-02-07 18:33] rppawlo commented on #1049
I haven't checked, but suspect this is the same problem as in #271

[2017-02-07 19:44] kyungjoo-kim commented on #1049
I checked the output of the tests and the convergence rate is correct. However, the python script somehow detects wrong (mixed) output files. Does ctest run tests in parallel ? otherwise this corruption may not happen.

[2017-02-07 19:55] bartlettroscoe commented on #1049
Yes, `ctest -j<N>` will run tests in parallel of each other according to the number of processes (cores) that each is described to use.  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#running-multiple-tests-at-the-same-time-tribits-add-advanced-test

You have to structure your tests so that they can run in parallel from each other.  Otherwise, you are throwing away the cores on your b

[2017-02-07 21:17] kyungjoo-kim commented on #1049
I changed the test output names so that each convergence test with a different order does not confuse each other anymore. However, I still need to make sure that our last test (python script parses output data and find out if the convergence rate is correct) proceeds after its related tests are finished.

Is there a way that I can put a dependence between cmake tests ? e.g., test_z should proceed

[2017-02-07 21:23] jjellio commented on #1048
Most likely not, since that was very recent. I believe I pulled Friday, and I cannot pull once I start multiple builds. (Build issues drug this out until today).  I can pull again and see if that resolves it.

[2017-02-07 22:03] agsalin commented on #1049
Try this:
set_tests_properties(test_z  PROPERTIES DEPENDS  test_a)

[2017-02-07 22:10] bartlettroscoe commented on #1049
Yes!  As Andy mentions above, you can use the `DEPENDS` ctest property.

Just make sure you use the return option `TRIBITS_ADD_ADVANCED_TEST_TEST( someTest ...
  ADDED_TEST_NAME_OUT  someTest_TEST_NAME )` and not just the raw test name as described at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#setting-additional-test-properties-tribits-add-test
* https://tribits.org/doc/TribitsDevelop

[2017-02-07 22:16] mndevec commented on #1048
It should solve the first errors. I am not sure about STL error yet. I will try to replicate that.

[2017-02-07 22:57] bartgol opened #1051 "Phalanx: template classes on Kokkos execution space, and use PHX::Device only as default."
As it is now, Phalanx decides what is the Kokkos node based on the first available in the list "Cuda, OpenMP, Threads, Serial", and uses it to set the type PHX::Device. This is then used in other places to resolve some types.

However, since I can have a single installation of trilinos with different Kokkos execution spaces enabled, I would like to have the same thing for Phalanx, rather than havi

[2017-02-07 23:51] kyungjoo-kim commented on #1049
Thank you. I enabled again the panzer tests. Let's see if this resolve the issue in tonight tests.

[2017-02-08 05:58] mhoemmen commented on #1035
Thanks @hkthorn !!!

[2017-02-08 06:45] mhoemmen commented on #1050
@kongm Belos does not actually implement linear algebra operations.  Belos just defers to the linear algebra library.  For example, if you use Tpetra with the Kokkos::Cuda execution space (the default if building Trilinos with CUDA enabled), Belos will use Tpetra::CrsMatrix and Tpetra::MultiVector operations, all of which use the GPU.  Also, some Ifpack2 preconditioners / smoothers have kernels wh

[2017-02-08 06:51] mhoemmen commented on #1050
@kongm Do you know my e-mail address?  I'll be happy to send you a presentation which lists the current set of GPU-enabled computational kernels.

[2017-02-08 13:59] aprokop commented on #1050
@mhoemmen Please send it to me too!

[2017-02-08 14:27] kliegeois commented on #1050
@mhoemmen May you send this presentation to me too?

[2017-02-08 14:28] ibaned commented on #1050
@mhoemmen Count me in as well

[2017-02-08 14:31] tjfulle commented on #1050
@mhoemmen , me five

[2017-02-08 14:46] jjellio commented on #1050
You all may want to read through:
https://trilinos.org/pipermail/trilinos-users/2017-January/005801.html

I posted a small example showing how to setup Tpetra execution spaces, as well as some snippets that are useful for debugging.

[2017-02-08 20:18] bartlettroscoe commented on #313
@ibaned,

It looks like our commits pushed as part of #1023 broke the build of Stratimikos when Epetra is disabled.  For example, see:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2733758&filtercount=3&showfilters=1&field1=buildstamp&compare1=61&value1=20170207-0400-Nightly&filtercombine=and
* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2734625&fil

[2017-02-08 20:39] ibaned commented on #313
@bartlettroscoe  I did test one Epetra-free build. Its not just the absence of Epetra, its that this failing build also enabled ML (weird combination), and Stratimikos tries to build its ML interface but that interface requires Epetra. I just opened #1053 with a possible fix which I'm testing now.

[2017-02-08 21:00] tjfulle commented on #313
@bartlettroscoe , Galeri tests/examples also fail to build without Epetra.  The Galeri library builds without Epetra.  See #1033

[2017-02-08 21:08] ibaned commented on #313
@tjfulle what I did for Stratimikos was to [set TEST_REQUIRED_DEP_PACKAGES](https://github.com/trilinos/Trilinos/commit/9abecfd3c2502a2c48ce38f06f89299e35674756#diff-b0eccaf419bc7cf3c1a971a763ffc1c9R8), so its tests/examples won't build if Epetra is off but the library will.

[2017-02-08 23:18] tjfulle commented on #696
@mhoemmen, @csiefer2 took care of this in 239854bfd645b6cd97ca5fe76c96caadb596b173

[2017-02-09 01:07] bartlettroscoe commented on #1049
@kyungjoo-kim, The CI build looks clean since your push.

I ran the checkin-test-sems.sh script with:

[code]

which resulted in:

[code]

We can wait until some more builds come back tomorrow but I think we can assume this issue if fixed now.

In the future, please try to use the checkin-test-sems.sh script with some higher `-j<N>`.  That will catch issues like this pre-push.

Putting into review

[2017-02-09 01:11] bartlettroscoe commented on #313
This should not be fixed as part #1053.

Putting into review to see how the builds come out tomorrow.

[2017-02-09 01:14] bartlettroscoe commented on #91
I think I remember some time ago at an IDEAS meeting that @BarrySmith said this was fixed.  Closing as complete.

[2017-02-09 01:14] #91 closed

[2017-02-09 01:19] bartlettroscoe commented on #182
@jwillenbring, is this not basically done?  Trilinos now has a JIRA site where internal customer issues are being tracked.

Anyone have anything against closing this Issue?  Just trying to clean out our issues some.

[2017-02-09 01:23] bartlettroscoe commented on #952
@barche, have we addressed this issue?  Can we close this?

[2017-02-09 02:09] jhux2 opened #1054 "Stratimikos adapters to Belos fail to compile"
@bartlettroscoe @ibaned

After updating ```develop``` during the checkin process, my Trilinos compile is failing:

[code]

This is up-stream of any of my changes.

[2017-02-09 02:12] jhux2 commented on #1054
Here is the ```do-configure``` script:

[code]
and ```do-configure.base```:

[code]

[2017-02-09 03:24] ibaned commented on #1054
It looks like by disabling RTOp you disabled Thyra, which Stratimikos needs but was no longer properly listed as a dependency. #1055 should fix your problem, in that Stratimikos should get disabled in this configuration.

[2017-02-09 03:55] tjfulle commented on #698
@mhoemme, as I'm going through these tests, I'm seeing that some tests use

[code]

While others use `Tpetra::DefaultPlatform().getComm` and `SomeObjext.getNode()`.  Is one preferred over the other?

[2017-02-09 05:25] barche commented on #952
Yes, thanks!

[2017-02-09 05:25] #952 closed

[2017-02-09 14:59] bartlettroscoe commented on #1054
@jhux2, do you push changes to Trilinos using the configuration shown [above](https://github.com/trilinos/Trilinos/issues/1054#issuecomment-278526113) with this set of package disables?  Are there any nightly Trilinos tests that use this configuration?

[2017-02-09 15:38] bartlettroscoe commented on #1054
@jhux2, try your use case again after pulling the commit d741c3e from 'develop'.

[2017-02-09 17:56] mhoemmen commented on #698
@tjfulle It doesn't really matter.  Both of the comm-related ones just wrap MPI_COMM_WORLD in an MPI build, and Teuchos::SerialComm in a non-MPI build.  I would like to phase out Node-related functions.  The _really_ bad thing is creating a new Node instance by invoking its constructor directly.  Otherwise, the other functions should be equivalent.

[2017-02-09 17:58] #696 closed

[2017-02-09 17:59] mhoemmen commented on #1050
Hold on, wait folks!  I don't have good work e-mail access for the next couple days.  Could you all send me an e-mail to my work e-mail address asking for this?  If you don't know my work e-mail address, please post below and I'll do my best to get this to you.  Thanks!

[2017-02-09 19:08] tjfulle opened #1056 "Tpetra inout/CooMatrix test failure"
## Summary

The test `TpetraCore_CooMatrix_MPI_2` fails.

## Details

`TpetraCore_CooMatrix_MPI_2` fails when the Trilinos test suite is run with `ctest`.  When the `packages/tpetra/core/test/inout/TpetraCore_CooMatrix.exe` executable is run standalone, the following error is thrown:

[code]

[The failing line]( https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/test/inout/CooM

[2017-02-09 19:47] jhux2 commented on #1054
@bartlettroscoe @ibaned I pulled, and the checkin compile now works.  Thank you for the quick fix.  I will close this issue.

[2017-02-09 19:47] #1054 closed

[2017-02-09 23:30] MicheldeMessieres commented on #1004
@kddevin For the main() setups with new Environment() would it be preferable to add a parameter list in the main():

  Teuchos::ParameterList myParams("testParameterList");

Then use the current constructor and pass the comm:
  new Environment(myParams, comm);

Or potentially we could have an Environment constructor which takes only a comm and then assumes a default parameter list.

[2017-02-10 05:00] guoluanjing opened #1058 "GMRES in AztecOO vs NOX::Epetra::LinearSystemAztecOO"
Hello there,

I'm modifying a legacy code in our group for reactive transport simulations. The original code only used the linear solver of GMRES from Trilinos and did the nonlinear iterations by ourselves. Now I'm trying to use NOX package to do the nonlinear solve as well as to use some advanced solution methods such as Matrix Free option that is available in NOX.

In order to verify I'm impleme

[2017-02-10 05:56] mhoemmen commented on #1058
Belos only implements iterative linear solvers, not preconditioners.  It is ignoring your parameters relating to preconditioning.  You need to construct an Ifpack2 preconditioner in order to get the desired behavior.  See Ifpack2::ILUT etc.

[2017-02-10 05:56] mhoemmen commented on #1058
@trilinos/belos @trilinos/ifpack2

[2017-02-10 06:21] mhoemmen commented on #1056
@tjfulle Thanks for offering!  The issue is that CooMatrix inherits from Tpetra::DistObject, and DistObject has some Kokkos::DualView buffers in it.  The default constructor should just initialize those to have length zero.  That _should_ be harmless.  However, Kokkos insists that the execution (and likely also memory) space be initialized in order to create Views with that space, even if the View

[2017-02-10 06:41] tjfulle commented on #1056
@mhoemmen it seems option 2 is a more general solution?  I'll look at pushing a fix tomorrow.

Can the test be made to fail on Linux too? (to get confidence in the fix, assuming it resolves the Darwin and Linux failures)

[2017-02-10 07:38] mhoemmen commented on #1056
Thanks for taking this! :-D

@tjfulle wrote:

We could have the test check Kokkos::is_initialized (or the specific execution space) at the appropriate place.  That should manifest the issue that is likely causing the test failure.

[2017-02-10 12:56] bartlettroscoe commented on #1049
Just a single failing `PanzerAdaptersSTK_PoissonExample-ConvTest-Order-2` test shown here:

* http://testing.sandia.gov/cdash/testDetails.php?test=36719202&build=2737918

 in the last few days as shown here:

* http://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2017-02-07&filtercount=2&showfilters=1&filtercombine=and&field1=testname&compare1=65&value1=PanzerAdaptersSTK_PoissonExa

[2017-02-10 14:24] ibaned opened #1059 "'MueLu::Hierarchy::PerfUtils' is not a template"
Building at commit 4282cf1 from the `develop` branch, the Albany CDash threw the following error:

[code]

http://my.cdash.org/viewBuildError.php?buildid=1132426

@trilinos/muelu

[2017-02-10 15:54] rppawlo commented on #1058
@trilinos/nox

[2017-02-10 16:12] tawiesn commented on #1059
I think the code should be
`GetOStream(Statistics2) << MueLu::PerfUtils<SC,LO,GO,NO>::PrintMatrixInfo(*Amat, "A0", params);`

@jhux2 Can you fix this?

[2017-02-10 17:03] jwillenbring commented on #1045
@bmpersc Do you know the answer to this?

[2017-02-10 17:05] jwillenbring commented on #1039
@bmpersc Do you know why there isn't a corresponding tag for the 11.10.2 release update?

[2017-02-10 17:07] jwillenbring commented on #937
@jjellio Any update on the status of this based on the comments?

[2017-02-10 17:10] jwillenbring commented on #903
@jhux2 Is this still something you would like to have done? I wanted to check before we look into how to make this happen. Sorry for the delay.

[2017-02-10 17:25] aprokop commented on #1059
No, I think the issue is that templates should not be there. @ibaned Could you remove the templates `<SC,LO,GO,NO>` and see if it compiles. I have patch available to push with this change, just want to confirm it fixes for you.

[2017-02-10 17:27] jwillenbring commented on #805
@bmpersc @mhoemmen Can this be closed?

[2017-02-10 17:39] tjfulle commented on #1056
@mhoemmen adding

[code]

to the test resolves the test failure on Darwin.  The resolution is in [194efd39](https://github.com/tjfulle/Trilinos/commit/194efd39d47379309ba31dd03d9c9cf777754481), I could open up a pull request.  But, it seems like a better solution would be to modify the `CooMatrix` constructor so that users don't have to do this kind of thing.  Though, I believe the `CooMatrix` is

[2017-02-10 17:41] aprokop commented on #1059
Actually, it is slightly more involved. Here is my current patch:
[code]

[2017-02-10 17:41] jwillenbring commented on #492
@william76 I will reference this ticket during our conversation later.

[2017-02-10 17:43] kddevin commented on #1004
Hi, @MicheldeMessieres .  Sorry; I do not understand the question.

Right now, we have two Environment constructors:
Environment(Teuchos::ParameterList &, Teuchos::RCP<Teuchos::Comm> &) and
Environment()

We should keep the first one as-is.
We should add Teuchos::RCP<Teuchos::Comm>& as an argument to the second one.

Thus, the test programs would have to add a Comm argument to their constructors,

[2017-02-10 17:43] ibaned commented on #1059
Actually... when I build `develop` myself it works fine... and PerfUtils is definitely a template that needs template args:

https://github.com/trilinos/Trilinos/blob/master/packages/muelu/src/Utils/MueLu_PerfUtils_decl.hpp#L72

There may be something wrong with the build configuration used by CDash...

[2017-02-10 17:46] MicheldeMessieres commented on #1004
That answers it perfectly - thank you. I will change Environment() to take the comm as a single parameter and use that in all the mains.

[2017-02-10 17:46] aprokop commented on #1059
We have a system in place to typedef template arguments. PerfUtils does not actually need them (as most of our code) as long as there is a proper _fwd.hpp file inclusion.

[2017-02-10 17:49] jhux2 commented on #1059
Andrey,

  Thanks.  Obviously the code shouldn't throw.

Jonathan

[2017-02-10 17:50] jhux2 commented on #1059
I will take this.

[2017-02-10 18:00] ibaned commented on #1059
By the way, this dashboard is under @mperego 's control, so I have limited ability to debug it. It may have something to do with using GCC 4.8.4, or some other difference in configuration between what I use and it uses.

[2017-02-10 18:07] kongm opened #1060 "Question regarding thread parallel implementations of solvers and preconditioners in Trilinos 12.2.1"
Hi,

I'd like to know which of these solvers and preconditioners are thread-parallel and can execute in hybrid mode (MPI + OpenMP) in Trilinos 12.2.1:
- GMRES
- CG
- Jacobi
- Gauss-Seidel

Thanks,

[2017-02-10 18:10] ibaned commented on #1059
Okay, I'm learning a bit about MueLu today. This almost certainly has to do with `MueLu_UseShortNames.hpp`. Somehow its trying to use the short name in @mperego 's case but not quite succeeding, and in my build it doesn't even see the short name.

[2017-02-10 18:18] jhux2 commented on #903
Yes, I'm still interested in this.  Might be worthwhile to see how many other developers are interested before investing much time, however.

[2017-02-10 18:20] jhux2 commented on #1059
This same commit also appears to have caused a seemingly unrelated [failure](http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2738292).  I reverted the commit and will investigate.

[2017-02-10 18:22] ibaned commented on #1059
For what its worth, I applied @aprokop 's patch above and my build still succeeds. Don't know how the dashboard would react to it, can't edit files there.

[2017-02-10 18:24] jhux2 commented on #1059
@ibaned What SEMS versions of HDF5, Boost, and NetCDF, and PNetCDF are required?

[2017-02-10 18:28] jhux2 commented on #1058
@mhoemmen @rppawlo The OP appears to be using AztecOO and Ifpack, not Belos and Ifpack2.  Is this right?

[2017-02-10 18:31] ibaned commented on #1059
neither of these builds use SEMS, and I doubt the TPL versions will affect the outcome.

[2017-02-10 19:19] guoluanjing commented on #1058
@mhoemmen,  @jhux2 is right. I have not used Belos (at least not with intension). I'm using only AztecOO, provided in the NOX::Solver::LineSearchBased with NOX::Direction::Newton and the NOX::Epetra::LinearSystemAztecOO. Will the advice you gave still apply?

Thanks!!
--Luanjing

[2017-02-10 19:22] mperego commented on #1059
I can try  @aprokop 's patch on that machine. I'll keep you posted.

[2017-02-10 19:23] guoluanjing commented on #1058
One more thing, as of now, I'm not supplying a physics-based preconditioner to the solver, I'm just doing the full analytical Jacobian and the conventional Newton solve for verification purposes as I mentioned.

Thanks!

[2017-02-10 19:48] bartgol commented on #1032
I apologize for the delay in replying.

I need this for my own little application, built on top of Thyra/NOX (for the ModelEvaluator and nonlinear solve), and Tpetra/Belos/MueLu (for the linear algebra).

What kind of puzzles me is that Belos does support left preconditioners. And on top of that, if one creates the Thyra::DefaultPreconditioner with an unspecified preconditioner, it is still possib

[2017-02-10 19:48] tawiesn commented on #1059
I agree with @ibaned. It has to do with the short names (and maybe the compiler settings). One has to use either
`GetOStream(Statistics2) << PerfUtils::PrintMatrixInfo(*Amat, "A0", params);`
using the short names (i.e., one has to properly include the fwd file in the decl.hpp file) or alternatively
`GetOStream(Statistics2) << MueLu::PerfUtils<SC,LO,GO,NO>::PrintMatrixInfo(*Amat, "A0", params);`
Th

[2017-02-10 20:03] aprokop commented on #1059
@tawiesn The short names would not work because of a missing fwd declaration in PerfUtils. The patch fixes that.

 I don't know why the template one does not work (the OP error indicates that the compiler thinks that PerfUtils is a part of MueLu::Hierarchy for some reason).

We may have situations where Operator is not a Matrix, but I don't think it will got through either of the paths. The only w

[2017-02-10 20:11] tawiesn commented on #1059
I have seen that and you are right. We need the fwd inclusion.

I was referring to the case that Operator is not of type Matrix. As you said: this would mean we create the hierarchy by hand. Operator not being a matrix, but an "operator" sounds more like nonlinear multigrid or something like that. Was wondering whether there are currently plans to go in that direction. Anyway, the patch should not

[2017-02-10 20:13] mperego commented on #1059
I tried:
1. GetOStream(Statistics2) << PerfUtils::PrintMatrixInfo(*Amat, "A0", params);
2. GetOStream(Statistics2) << MueLu::PerfUtils<SC,LO,GO,NO>::PrintMatrixInfo(*Amat, "A0", params);
3.  @aprokop's patch

All of these fix the problem.
Thanks.

[2017-02-10 20:20] ibaned commented on #1059
Item (1) on @mperego's list did not compile on my machine, so I recommend we apply @aprokop 's patch or something similarly thorough.

[2017-02-10 20:21] tawiesn commented on #1059
@mperego thanks for testing.
I agree, let's apply @aprokops patch. With respect to the error it basically implements variant 1

[2017-02-10 20:23] bartlettroscoe commented on #1032
@bartgol,

Okay, I was not aware that support for left preconditioning was added to the Thyra/Belos adapters.  Looking at the git log it appears that @ambrad added that in the commit d7fb26cd8:

[code]

@ambrad, can you comment on the context for this change and if the Belos subclasses correctly handle the solve criteria as described [above](https://github.com/trilinos/Trilinos/issues/1032#issueco