[2019-04-11 15:49] mhoemmen commented on #3178
Regarding @trilinos/tpetra, we've talked before about how this one is spurious:
[code]
We've worked around compiler bugs before, though ;-) .

[2019-04-11 15:52] mhoemmen commented on #4857
In experimentation yesterday, when we disabled the configure-time check, we got the following build error: https://github.com/trilinos/Trilinos/issues/4858

[2019-04-11 16:03] lucbv commented on #4796
@bartlettroscoe said:

sorry for being at a conference while the #4750 was pushed, I would have complained earlier otherwise!

[2019-04-11 16:04] lucbv commented on #4796
@bartlettroscoe for info, unless I am away, these builds are looked at every morning, hence me catching them and filing the issue the day I got back...

[2019-04-11 16:10] vbrunini commented on #4858
Having finer control of what packages need to support which scalar types would be great. I suspect that in addition to my need for `float` being limited to Tpetra & Belos @crdohrm probably also only needs `complex<double>` for a subset of packages, but right now we end up building all of the packages for both.

[2019-04-11 16:12] bartlettroscoe commented on #4796
@lucbv said:

Understood.  Are you the only person who looks at these builds?  Are you interested in getting a summary email once a day for the builds you care about?

[2019-04-11 16:47] mhoemmen opened #4861 "Tpetra: Make BlockMultiVector implement the "new" DistObject interface"
@trilinos/tpetra

## Current Behavior

`Tpetra::BlockMultiVector` currently implements the "old" DistObject interface (copyAndPermute, packAndPrepare, unpackAndCombine) instead of the "new" DistObject interface (copyAndPermuteNew, packAndPrepareNew, unpackAndCombineNew).

## Motivation and Context

This blocks deprecation and removal of the "old" DistObject interface.

## Definition of Done

- [ ]

[2019-04-11 17:24] Filipe-Cumaru commented on #4833
I'll try to install a previous version of SuperLU and then build Trilinos again.

[2019-04-11 17:56] bartlettroscoe commented on #3276
@ZUUL42 said:

In a case like this it may be better to post these to the "Experimental" CDash Track/Group than to send them to the "Pull Request" group.  That would help to avoid confusion.

[2019-04-11 18:23] #4840 closed

[2019-04-11 18:34] ZUUL42 commented on #3276
I can do that. I've just been leaving PULLREQUEST_CDASH_TRACK as the default. Still picking up a few details here and there.

[2019-04-11 18:50] mhoemmen commented on #3178
PR #4862 addresses all Tpetra build warnings but the spurious one mentioned in my previous comment.
 Working around that one will take a bit more effort and really should be a in a separate PR.

[2019-04-11 18:54] jhux2 commented on #4038
See PR #4863.

[2019-04-11 19:08] jhux2 commented on #4796
As @lucbv noted, this was just bad timing -- lots of MueLu develops on travel or vacation.  Btw, 3/28 is a Thursday.  Even in a  normal week, this might not have been flagged until the next Monday.

[2019-04-11 19:30] bartlettroscoe commented on #3178
@mhoemmen said:

Working around that one will take a bit more effort and really should be a in a separate PR.

@mhoemmen, can you just use ifdefs and pragmas to disable just this warning surgically?  See links for how to this [above](https://github.com/trilinos/Trilinos/issues/3178#issuecomment-475240344).

[2019-04-11 21:48] #4843 closed

[2019-04-11 21:48] #4821 closed

[2019-04-11 21:48] #4836 closed

[2019-04-11 22:05] ccober6 opened #4867 "Tempus: Add Stepper Capability to Initialize Within Individual Set Calls"
One path for Stepper construction is to start with a default constructor and then use set* methods to specify parameters, and features of the Stepper for the current problem.  After this the Stepper needs to call initialize() to finish the changes.

Here we would like to have each set function optional call initialize() internally, so that it is less likely to forget the initialize() call before s

[2019-04-11 22:11] rppawlo commented on #4867
@ccober6 - does initialize do anything that would be costly at scale? Another option would be to save an internal bool "is_initialized" that can throw at runtime if the stepper is used without initialization being called. Each set method can set teh stepper back to an "uninitialized" state with the bool. My worry is that I can see users just always calling initialize to be safe and  then later on

[2019-04-11 22:41] lucbv opened #4868 "MueLu: deprecate some adapters"
@trilinos/muelu

## Expectations
The interface to create a preconditioner using MueLu should be simple and uniform for all users.

## Current Behavior
nullspace multivector and coordinates multivectors can be passed optionally to the preconditioner constructor. These inputs could actually be passed just as easily on the input parameter list as it is the case of other user defined parameters. This

[2019-04-11 23:05] ccober6 commented on #4867
@rppawlo  Yeah, I hear you.  So there are two things going on here:

1. Initializing within set calls (A) versus only allowing it explicitly after set calls (B)
    * Convenience and assurance with (A)
    * Controlling/highlighting use with (B)
    * User flexibility at the risk of performance.
2. Ensure stepper is initialized with "is_initialized" before use.
    * I have stayed away from this a

[2019-04-12 00:10] mhoemmen opened #4870 "Tpetra::MultiVector::norm*: Prefer running on device"
@trilinos/tpetra

The `Tpetra::MultiVector::norm*` methods currently run where the MultiVector's data were most recently updated.  Reports from @vbrunini running SPARC with vectors with 1.8 million local rows show that this can cause a slowdown, if running on host.  We need to fix these methods so they prefer running on device unless the vector has too few rows to justify running on device.

[2019-04-12 00:46] bartlettroscoe commented on #3276
@trilinos/framework,

My PR iteration https://github.com/trilinos/Trilinos/pull/4872#issuecomment-482391276 just failed due to the error:

[code]

Are the Jenkins slaves on these nodes broken or something?

I will try `AT: RETEST`.

We are finding more and more ways the PR testing can crash :-)  It would be great the assemble the entire list of ways it can crash and then write a paper on this.

[2019-04-12 01:38] bartlettroscoe commented on #3276
@trilinos/framework,

Same two builds crashed in the same way in the next PR iteration https://github.com/trilinos/Trilinos/pull/4872#issuecomment-482397103.  So this is not random.  Wonder how many PRs are getting held up because of this?

[2019-04-12 01:51] bartlettroscoe commented on #3276
@trilinos/framework,

Yup, it is killing other PRs too, see https://github.com/trilinos/Trilinos/pull/4866#issuecomment-482395983.

Get ready for a PR log jam ...

[2019-04-12 01:52] bartlettroscoe commented on #3276
@trilinos/framework,

And killing another PR https://github.com/trilinos/Trilinos/pull/4864#issuecomment-482369089.

[2019-04-12 12:35] rppawlo commented on #4801
All of the errors are from the cuda card running out of memory due to multiple tests running at the same time. Since panzer doesn't use complex at all, it seems that other package tests are becoming memory hungry under complex builds and colliding with these tests. We really need kitware to get the controls in place to allocate separate cuda cards to different tests running in parallel.

Suggestio

[2019-04-12 12:42] bartlettroscoe commented on #4801
@rppawlo, we switched from `ctest -j10` to `ctest -j4` on 'ascicgpu14' in #4865 merged to 'develop' on 4/10/2019  and it seems to have addressed the problem.  We can put this and the other related issues in review.

NOTE: There is no reason to go from `ctest -j4` to `ctest -j1`.  Running `ctest -j1` will still run the 4-process MPI tests so running with `ctest -j4` just allows four 1-process tests

[2019-04-12 12:43] rppawlo commented on #4801
Sure. Thanks!

[2019-04-12 12:44] bartlettroscoe commented on #4790
FYI: We switched from `ctest -j10` to `ctest -j4` on 'ascicgpu14' in #4865 merged to 'develop' on 4/10/2019  and it seems to have addressed the problem.   Putting this in review and running for a few days to verify the problem is fixed.

[2019-04-12 12:45] bartlettroscoe commented on #4770
Adding `-Wno-error=deprecated-declaration` to the SPARC configure scripts addressed this for SPARC.   Therefore, I don't see a reason to keep this open.  Closing.

[2019-04-12 12:45] #4770 closed

[2019-04-12 12:50] bartlettroscoe commented on #3276
See, people are putting on `AT: RETEST` not realizing that it is futile: #4874,

[2019-04-12 13:23] prwolfe commented on #3276
See the note I sent a bit ago – Jenkins did not restart properly after it’s maintenance yesterday.

-----------------------------------------------------------------------
Recommending policy and creating automation to
enable DevOps in the Trilinos and CTH organizations.

From: "Roscoe A. Bartlett" <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Thursday, Apri

[2019-04-12 14:29] bartlettroscoe commented on #3276
@prwolfe said:

Looks like it is fixed now allowing merges; see https://github.com/trilinos/Trilinos/pull/4875#issuecomment-482594136

@trilinos/framework,

Can the Framework team please set up a notification system by why which the Framework staff can be alerted to these types of problems right when they occur?  Otherwise, developers are forced to triage and report infrastructure problems.

[2019-04-12 15:31] bartlettroscoe commented on #4724
@alanw0, do you have a desire to fix the test `STKBalance_stk_balance_m2n_MPI_4` in these ATDM Trilinos builds anytime soon?

[2019-04-12 15:31] prwolfe commented on #3276
I entered the building this morning about 15 minutes before I went to the CEE team room.  Not sure what would have made that faster.

[2019-04-12 15:34] bartlettroscoe commented on #4724
NOTE: This as shown [yesterday](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2019-04-11&filtercount=1&showfilters=1&field1=testname&compare1=61&value1=STKBalance_stk_balance_m2n_MPI_4), this test only fails in these two ATDM Trilinos intel builds.  It passes in the other 74 builds run yesterday.

[2019-04-12 15:38] bartlettroscoe commented on #3276
I mean, when did the first PR build fail due to this Jenkins issue?  Not when did I notice this and report it.  What is the earliest time this could have been caught and addressed?  Surely that was before my PR build failed and I first noticed this.

[2019-04-12 15:56] prwolfe commented on #3276
3:42pm yesterday – I went home at 3:00pm.

-----------------------------------------------------------------------
Recommending policy and creating automation to
enable DevOps in the Trilinos and CTH organizations.

From: "Roscoe A. Bartlett" <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Friday, April 12, 2019 at 9:38 AM
To: trilinos/Trilinos <Trilinos@norep

[2019-04-12 16:09] csiefer2 commented on #3137
@jjelio is working on this

[2019-04-12 16:10] jhux2 commented on #3276
Same problem here:  https://github.com/trilinos/Trilinos/pull/4863.

[2019-04-12 16:39] mhoemmen commented on #3137
@csiefer2 wrote:

I'm glad -- I know he has some experience with compiler plug-ins to measure what code constructs are slow to build.

[2019-04-12 16:43] jhux2 commented on #3137
Please see https://gitlab-ex.sandia.gov/jhu/TrilinosSolverPerformance/issues/35 for more details on @jjellio's work.

[2019-04-12 17:04] mhoemmen opened #4878 "Xpetra: In CUDA build, warning about missing return statement at end of non-void function"
@trilinos/muelu @trilinos/xpetra
[code]

[2019-04-12 17:46] alanw0 commented on #4724
@bartlettroscoe thanks for the notification, I'll take a look.

[2019-04-12 18:06] bartlettroscoe commented on #3137
@jhux2, the link:

* https://gitlab-ex.sandia.gov/jhu/TrilinosSolverPerformance/issues/35

does not work for me.  Is this a private/protected repo?

[2019-04-12 18:55] jhux2 commented on #4878
@mhoemmen That's weird, note that I put in `TEUCHOS_UNREACHABLE_RETURN`, presumably b/c nvcc was complaining that the return on 160 wasn't reachable.   What's the compiler version?

[code]

[2019-04-12 18:56] jhux2 commented on #3137
@bartlettroscoe Please try now.

[2019-04-12 19:09] #4852 closed

[2019-04-12 19:49] mhoemmen commented on #4878
@jhux2 GCC 7.2.0, CUDA 9.2.88.

[2019-04-12 20:07] bartlettroscoe commented on #3137
@jhux2 said:

Don't think we are seeing a problem in any of that ATDM Trilinos builds.  I think only the APPs are seeing a problem.

@tcfisher and @micahahoward, can you try the Intel debug again with an updated Trilinos 'develop'?

[2019-04-12 20:08] bartlettroscoe commented on #3137
@jhux2 said:

Sorry, you mean access:

* https://gitlab-ex.sandia.gov/jhu/TrilinosSolverPerformance/issues/35

not the intel debug build :-)  Yes, I can see it now.  Thanks.

@tcfisher and @micahahoward, scratch that on trying the intel debug build.

[2019-04-13 22:28] mhoemmen commented on #4029
Update: PR https://github.com/trilinos/Trilinos/pull/4877 changes the default from `int` to `long long`, when `Tpetra_ENABLE_DEPRECATED_CODE` is OFF.

[2019-04-13 22:42] ccober6 opened #4883 "Tempus: Add Ability to Integrate Auxiliary Variables"
@trilinos/tempus

## Expectations
Have the ability to time integrate auxiliary variables.

There is a difference between the PhysicsState, _p_, and an auxiliary variable, _y_.  The PhysicState is physics data that does not need time integration.  It is just data at each time step that is needed to evaluate _f(x,xDot,t,p)_.  An auxiliary variable, _y_, however does need time integration, but has be

[2019-04-15 16:09] bartlettroscoe commented on #3137
@tcfisher and @micahahoward,

@jjellio has experimented with some compiler and linker options that might help to reduce the size of of the binaries a good bit.  See https://gitlab-ex.sandia.gov/jhu/TrilinosSolverPerformance/issues/35#note_15596.

What specific builds on which systems are you doing of Trilinos + SPARC where you are having problems?  Then we can reproduce these problems and try out

[2019-04-15 16:19] tcfisher commented on #3137
@bartlettroscoe, We currently have issues on all of our intel alltpls build platforms. We are building with static libraries. You can use any of our CEE intel configurations to reproduce the issue, but the worst one is intel-mpich since it enables openmp.

[2019-04-15 16:22] rppawlo commented on #3137
Just got an email from @pwxy this morning asking about this error - its hitting empire as well now.

[2019-04-15 16:24] tcfisher commented on #3137
@bartlettroscoe, can someone add me to the gitlab-ex project you are referring to?

[2019-04-15 16:43] jhux2 commented on #3137
All, I'm working on splitting MueLu's library into multiple smaller libraries, which I believe should help get past this link error.

[2019-04-15 16:44] jhux2 commented on #3137
@tcfisher I just added you.

[2019-04-15 17:44] william76 commented on #4847
@fryeguy52 @bartlettroscoe
Hmmm, I patched in some updates from the KokkosKernels Distance-2 graph coloring code, I didn't change any of the pre-existing serial algorithms but they are called via a new way, but there are wrappers to preserve backwards compatibility so the interface should have stayed the same.

I'll have a look and see if I can replicate this and get in a fix.

FYI @ndellingwood I

[2019-04-15 18:32] jhux2 commented on #4736
Closing, but feel free to reopen if necessary.

[2019-04-15 18:32] #4736 closed

[2019-04-15 19:03] bartlettroscoe opened #4891 "Unused var isInitializedLocalMap_ warning in Xpetra_EpetraMap.hpp triggering build error in SPARC Trilinos Integration builds with -Werror"
CC: @trilinos/xpetra , @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g.

[2019-04-15 19:07] bartlettroscoe commented on #4891
FYI: I marked this as `ATDM Sev: Critical` because it brings down all SPARC testing for this build and therefore results in hundreds of failing SPARC tests.  This essentially turns off all SPARC Trilinos Integration testing for the clang-5.0.1 build.

[2019-04-15 19:23] jhux2 commented on #4891
@bartlettroscoe PR #4892 should fix this.

[2019-04-15 22:35] csiefer2 opened #4900 "Tpetra/Xpetra/MueLu: Purge the Clones"
See discussion in #4893

[2019-04-15 22:37] ccober6 opened #4901 "Tempus: Add Stepper Wrapper"
@trilinos/tempus

## Expectations
Would like to have a Stepper that just wraps some code into a Stepper.  The StepperWrapper would have default implementations of everything, except takeStep() which would contain the wrapped code.  This would allow quick and easy creation of a Stepper that does not integrate the solution, x, but does other related work.

## Motivation and Context
EMPIRE-PIC does a

[2019-04-15 23:23] mhoemmen commented on #4900
@csiefer2 Do we want to try doing this for the minor release?  @kddevin thinks that it's too late, but perhaps this is just a matter of deleting a bunch of code that barely gets tested and never actually gets used.

[2019-04-15 23:45] mhoemmen opened #4902 "Stokhos doesn't build with GO=int disabled (GO=long long enabled) and Tpetra_ENABLE_DEPRECATED_CODE=OFF"
@trilinos/stokhos @trilinos/tpetra @kddevin @william76 @etphipp

I fixed all of Stokhos' unit tests and examples not to use `GO=int`, but am still getting link errors.  I will diagnose by inserting a `static_assert (std::is_same<global_ordinal_type, long long>::value, "UH OH");` in `Tpetra::Map` and seeing where it triggers.

[2019-04-15 23:50] mhoemmen opened #4903 "Xpetra appears to require GlobalOrdinal=int even when Tpetra_INST_INT_INT=OFF"
@trilinos/xpetra @trilinos/tpetra

Xpetra appears to attempt to instantiate `Tpetra::Map<int, int, ...>`, or at least to use its declarations, even when `Tpetra_INST_INT_INT=OFF`.  For example, when I put a `static_assert` in `Tpetra::Map` that requires `GlobalOrdinal == long long`, I am able to build all of Tpetra, but get the following Xpetra build errors:
[code]

[2019-04-15 23:51] mhoemmen commented on #4902
I tried the `static_assert` thing and got this: https://github.com/trilinos/Trilinos/issues/4903

[2019-04-16 00:17] etphipp commented on #4902
Did you change stokhos' ETI to not instantiate on `GO=int`?

[2019-04-16 03:19] micahahoward commented on #3137
Splitting the library should work but it doesn't really get to the root of the problem.  We still have to link in a whole lot of library.

[2019-04-16 03:23] nmhamster commented on #3137
Really we need to figure out how to get external debug symbols built with Trilinos (and our codes) to address this issue longer term - either that or quit using templates to generate so much code. The former is probably more likely and would probably require some changes to Trilinos build procedures and artifact installation, as well as how developers use tools etc. If this is super critical we ca

[2019-04-16 04:18] ikalash opened #4904 "Piro compilation error due to missing Optipack_Config.h file"
Trilinos failed to compile in the Albany nightlies due to the following error in Piro:

[code]

Did OptiPack_Config.h get removed?  Is it still needed?  Here is the more detailed error message:
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=83699

@trilinos/piro

[2019-04-16 04:19] jjellio commented on #3137
I'm not sure if splitting the library will really do it.

I took a regular build of MueLu + Debug (on Mutrino). From libmuelu.a, I extracted every string (strings libmuelu | c++filt), which demangles things that can be.

Next, grep out all embedded build flags e.g., the build line for each '.cpp' is embedded by Intel (that sounds worse than it really is).
10501009 = `grep -F -v -- "-I/" libmuelu.a

[2019-04-16 04:24] mhoemmen commented on #4902
@etphipp wrote:

Is there a way to do that?  We set `Tpetra_INST_INT_INT=OFF`; does Stokhos not take that as its default?

[2019-04-16 04:26] mhoemmen commented on #4904
Likely related to this recently merged PR: https://github.com/trilinos/Trilinos/pull/4864

[2019-04-16 04:42] mhoemmen commented on #3137
@nmhamster wrote:

I've been pushing for deletion of template parameters with no value since 2015.  It was a lonely battle for a while, but all the Tpetra developers are behind this now, despite pushback.

Better use of solver factories and dependency inversion could help with this somewhat too.

[2019-04-16 04:51] jjellio commented on #3137
@mhoemmen

What if Kokkos provided a version of its loops that take an interface for the function argument.  This would mean people would have to write a Functor, implement the interface, cast their Functor to the interface, then pass that to Kokkos.  The function that does the looping would then have to be a regular function. Or maybe libraries could implement this, such that parallel_for/reduce

[2019-04-16 12:27] bartlettroscoe commented on #4904
CC: @kddevin

This has broken all of the ATDM Trilinos builds as well.  Here is the bad include:

* https://github.com/trilinos/Trilinos/blob/f59aedf03476284d97c91c4d4e0861e01aa6842e/packages/piro/src/Piro_PerformAnalysis.hpp#L53

The problem is that if OptiPack is not enabled, then this triggers the include of a header file that can't be found.

This is trivial to fix.  I will put in a PR.

[2019-04-16 12:54] bartlettroscoe commented on #3137
@jjellio said:

If the functions being inlined are one small short statements and there is no debug info being added, then inline functions reduce the size of the all of binaries of these types of simple inline functions.  But if the compiler does not inline a function, then yes, it create copy of the function in every `*.o` file where that function is called.

I don't think that is not entirely t

[2019-04-16 13:15] jjellio commented on #3137
It's been my experience that ELF linkers typically import sections from every object file and those sections are simply concatenated.  The linker will merge constant data, but it can't do anything with (function/text) symbols, because they are opaque within an object file's text section.  The linker knows it provides a list of symbols, but it has no knowledge of how those symbols depend on one ano

[2019-04-16 13:16] bartlettroscoe commented on #4904
CC: @kddevin, @ikalash

Turns out this is not so trivial to fix.  I pushed the branch:

[code]

which gets the build to work but we get failing tests:

[code]

because the input files used in the tests

It does not looks like PR #4864 was not tested with OptiPack disabled and everything else enabled and deprecated code not hidden.

I think the best course of action is to revert PR #4864 for now an

[2019-04-16 13:31] bartlettroscoe commented on #4904
CC: @kddevin, @ikalash

FYI: I created the revert PR #4908 and already merged that branch to the 'atdm-nightly' branch in the commit https://github.com/trilinos/Trilinos/commit/03830e01e13552e1885a505849c5eb78876874ec so the ATDM Trilinos builds will be fixed even if PR #4908 can't get merged today (due to Trilinos PR backups and random failures).

@kddevin, to reproduce the failures, just take wh

[2019-04-16 13:49] bartlettroscoe commented on #3276
@trilinos/framework,

Looks like more problems with the Trilinos PR tester.  The PR #4892 had the PR tester waiting 12 hours before it even started running a PR testing builds and then 6 hours later it timed out with the message:

What is wrong with the Trilinos autotester at this point?

NOTE: I order to not have problems with the Trilinos autotester hold up progress fixing things for ATDM, I hav

[2019-04-16 14:01] #4827 closed

[2019-04-16 14:21] etphipp commented on #4902
Currently Stokhos is hard-coded to instantiate on GO=int and LO=int.  I think we can just change those to Tpetra's default GO and LO types.

[2019-04-16 14:24] csiefer2 commented on #4903
Is Epetra on?  Because Xpetra will instantiate INT_INT if Epetra is on...

[2019-04-16 15:12] csiefer2 commented on #4900
I'm taking a swing at deprecating clone().  We'll see what happens when I compile w/ deprecated code off.

[2019-04-16 15:22] mhoemmen commented on #4903
@csiefer2 Ah, that could be the thing.  Let me check on that.  Thanks!

[2019-04-16 15:37] ndellingwood commented on #4847
@william76 did the graph coloring changes that you made in kokkos-kernels add new capabilities, algorithms, or options (particularly for d2 coloring) along with new unit tests to exercise that? If so, these tests may have been inching near the timeout limit and the new tests pushed them over and in that case possibly reducing the problem size may help.

[2019-04-16 16:00] csiefer2 commented on #4900
#4912

[2019-04-16 16:02] bartlettroscoe commented on #4847
@ndellingwood, @william76, @srajama1,

Note that these tests are only timing out in full debug builds with `CMAKE_BUILD_TYPE=DEBUG` which sets `-O0`.  Either these tests should be disabled by default automatically in `CMAKE_BUILD_TYPE=DEBUG` builds or there should be a "fast" mode that configures these tests to run after when `CMAKE_BUILD_TYPE=DEBUG` but leave them alone otherwise.  Since we have

[2019-04-16 16:10] bartlettroscoe opened #4913 "Tpetra configure warning about only one global ordinal type"
@trilinos/tpetra

I just noticed that all of the ATDM Trilinos builds, for example as shown [here](https://testing.sandia.gov/cdash-dev-view/viewConfigure.php?buildid=4892727), are generating the following configure warning:

[code]

How do we avoid this in the ATDM Trilinos builds?

[2019-04-16 16:29] jhux2 commented on #3137
@tcfisher PR #4905 has been merged into Trilinos develop and may help.  It splits MueLu's main library into two.   Here are the results of a static debug Intel build on the CEE lan:
[code]

[2019-04-16 16:30] kddevin opened #4915 "Panzer: Link problem when Tpetra_INST_INT_INT=OFF"
@trilinos/panzer

## Expectations
Panzer should build with Tpetra_INST_INT_INT=OFF

## Current Behavior
I get link errors due to use of Tpetra::MultiVector with global ordinals = int.
[code]

## Motivation and Context
We'd like to build Trilinos with only one global ordinal type enabled.

## Definition of Done

Panzer builds and runs with Tpetra_INST_INT_INT=OFF.

## Possible Solution

I see Tpetr

[2019-04-16 16:35] ndellingwood commented on #4847
@srajama1 @crtrott are either of you opposed to Ross's suggestion?

@bartlettroscoe Christian and Siva are on travel until tomorrow, but I'd like to get their opinion in case there is a case I am not considering that would require the full debug mode testing.

[2019-04-16 16:38] bartlettroscoe commented on #4847
@ndellingwood said:

No big hurry to resolve this.  This is non-blocking so this is not urgent to fix ASAP.

To address this long-term, it would be nice if whoever does Kokkos and KokkosKernels syncs into Trilinos included a least one full  `CMAKE_BUILD_TYPE=DEBUG` and then set a timeout of say 2 minutes on tests in Kokkos and KokkosKernels.  That would help to see which tests need to be disabled

[2019-04-16 16:41] ndellingwood commented on #4847
@bartlettroscoe Good suggestion, I'll do this the next round, thanks!

[2019-04-16 17:18] mhoemmen commented on #4913
@trilinos/tpetra @bartlettroscoe Setting `Tpetra_INST_INT_INT=OFF` should fix this.

[2019-04-16 17:27] mhoemmen commented on #3137
@jjellio wrote:

That would only work with virtual methods, `std::function`, or some other run-time type erasure.

1. If you have a base class and make people inherit from that, the only way you could get Kokkos to call the child class' `operator()` would be for `operator()` to be `virtual`.
2. If you have a wrapper functor that calls the user's function, you would need that function either to be

[2019-04-16 17:36] bartlettroscoe commented on #4915
@rppawlo, we are getting a deprecated warning in the ATDM Trilinos builds (see #4913).  Since I think we need `long long int` I think this might mean we may get broken code when they drop support for more than one global ordinal type.

[2019-04-16 17:39] bartlettroscoe commented on #3619
FYI: Added label `Stalled` to get this off of our main list of active ATDM issues (as that list currently has 29 items and we try to keep it to 25 or under).

[2019-04-16 17:42] alanw0 commented on #3619
Oh. Sorry, I lost track of this GitHub issue. The cuda warnings have been fixed. I don't see a "label" for fixed. Should I just close this issue?

[2019-04-16 17:48] rppawlo commented on #4915
Ugh. I've been dreading this day. Panzer currently requires both Epetra and Tpetra. The library is mostly agnostic to the underlying linear algebra (except for things like gathers/scatters), but much the testing uses epetra underneath. If GO=int is required for epetra, this might take some time. Charon2 and Drekar also heavily rely on the Epetra stuff (Charon2 is still converting to Tpetra and Dre

[2019-04-16 18:17] bartlettroscoe commented on #3619
@alanw0 said:

As shown in [this query](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-04-15&filtercount=3&showfilters=1&filtercombine=and&field1=subprojects&compare1=93&value1=STK&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=buildname&compare3=63&value3=cuda), if you drill down it shows warnings for only boost [here](https://testing.sandia.gov/cdash-de

[2019-04-16 18:17] #3619 closed

[2019-04-16 18:18] bartlettroscoe commented on #4913
This question has been answered and the blocker issue #4915 has been added to the set of ATDM Trilinos GitHub issue.  Therefore, this issue can be closed.

Thanks @mhoemmen!

[2019-04-16 18:18] #4913 closed

[2019-04-17 00:57] jhux2 opened #4925 "MueLu: undefined symbols in static build"
@bathmatt has reported undefined symbols in a clang static build of EMPIRE.  @rstumin has reported similar issues for SPARC.  Both are using MueLu from Trilinos develop.  This is due to the recent split of MueLu's library, PR #4905.

The fix is to duplicate the libraries on the link line.

[2019-04-17 04:02] YingzhouLi opened #4927 "Compiling issue of MueLu with Trilinos 12.14.1"
I am compiling Trilinos 12.14.1 on Ubuntu 18.04 with g++ 7.3 and matlab R2018a.

cmake \
     -D Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON  \
     -D Trilinos_ENABLE_Amesos:BOOL=ON \
     -D Trilinos_ENABLE_Amesos2:BOOL=ON \
     -D Amesos2_ENABLE_KLU2:BOOL=ON \
     -D Trilinos_ENABLE_AztecOO:BOOL=ON \
     -D Trilinos_ENABLE_Epetra:BOOL=ON \
     -D Trilinos_ENABLE_EpetraExt:BOOL=ON \

[2019-04-17 12:28] rppawlo commented on #4915
Well - its a worst case scenario. Panzer supports both the type 1 and type 2 stacks (both are currently required to enable the panzer package):
- type 1: epetra/amesos/ifpack/ml/aztecoo
- type 2: tpetra/amesos2/ifpack2/muelu/belos

For Type 1 - the panzer dof manger uses GO=int, for type 2 it uses the default GO from Tpetra (usually long long int). At runtime we allow users to jump between the two

[2019-04-17 12:55] bartlettroscoe opened #4929 "Link problems with libmuelu breaking most ATDM Trilinos builds starting 4/17/2019"
CC: @trilinos/muelu , @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g

[2019-04-17 12:58] bartlettroscoe commented on #3137
FYI: Looks like similar problems were reported way back in #97 reported in Jan. 2016 and #1605 reported in Aug. 2017.

[2019-04-17 13:01] bartlettroscoe commented on #4929
I have already been in contact with @jhux2 about how to fix this.

@trilinos/framework,

Looks like we have a pretty big gap in PR testing.  Looks like we need to have one of the PR builds be a static library build.  From looking at the build [Trilinos-atdm-sems-rhel6-gnu-7.2.0-openmp-release-debug](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4904594) it seems a s

[2019-04-17 14:11] jhux2 commented on #4929
Reported already in #4925, fix in PR #4926.

[2019-04-17 14:22] jhux2 commented on #4925
@pwxy

[2019-04-17 14:25] bartlettroscoe commented on #4929
CC: @bathmatt

@jhux2, PR #4926 is broken as these libs have circular dependences?  Can we go ahead and back out the branch merged in PR #4905 for now and fix this problem offline?

[2019-04-17 14:29] bartlettroscoe commented on #4929
CC: @srajama1, @bathmatt

@jhux2, how far back do we have to go to back out these breaking changes for now?  Since this is bringing down all of our builds it seems that backing out the original split of the MueLU libraries is the way to go.  Then we can carefully get the splitting to work offline.

As this as brought down almost all of our ATDM Trilinos builds, I have marked this [`ATDM Sev: Criti

[2019-04-17 14:48] ikalash opened #4930 "Albany compilation error due to MueLu"
It looks like MueLu broke some of our Albany builds last night.  Here is the error, which occurs when building Albany against an install of Trilinos:

[code]

[2019-04-17 16:00] jjellio commented on #4929
@bartlettroscoe

Trilinos could avoid alot of the link line headaches if Tribits would place Trilinos' libs within a linker group. (this is what MKL does). `-Wl,--start-group ... libraries -Wl,--end-group`.  The linker will automatically search the group repeatedly for symbols before moving on.

I tried to coerce Trilinos to use linker groups for some TPLs, but within the CMake magic, there is log

[2019-04-17 16:04] bartlettroscoe commented on #4929
@jjellio said:

We should meet offline and discuss this some so I can understand the issues here.

[2019-04-17 16:19] bathmatt opened #4931 "Panzer: Enabling cuda aware mpi causes test failures on sierra"
Many of the panzer tests fail with cuda aware mpi using gcc+cuda-10.1+spectrum mpi.  Has anyone actually tried this?  ANy experience on this?

@trilinos/<teamName>

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible Solution

## Steps to Reproduce

## Your Environment

- **Relevant repo SHA1s:**
- **Relevant configure flags or configure script:**
-

[2019-04-17 16:33] jhux2 commented on #4929
@bartlettroscoe I've updated PR #4926.  Please review.

[2019-04-17 16:37] jhux2 commented on #4930
@ikalash Probably due to #4929.  A PR to fix this is underway.

[2019-04-17 16:44] mhoemmen commented on #4927
@YingzhouLi Try the latest (master) version of Trilinos, not the release.

@trilinos/muelu

[2019-04-17 16:49] jhux2 commented on #4931
@bathmatt I've only run `PanzerMiniEM_BlockPrec.exe`.

[2019-04-17 16:50] bathmatt commented on #4931
Did you have cuda aware mpi on?  I ran miniEM w/o that and it worked, then enabled it and it failed, same trilinos version

[2019-04-17 16:51] bathmatt commented on #4931
@mhoemmen what tests test this in a lower level.  Don't think it is panzer, think it's tpetra as that is the only mpi communication in panzer I believe for these tests.  If I just enable tpetra tests should this show up?

[2019-04-17 17:00] ikalash commented on #4930
Thanks @jhux2 , I'll keep an eye out for it.

[2019-04-17 17:05] mhoemmen commented on #3137
@bartlettroscoe Yup, #1605 was about "we need a 64-bit linker to build Trilinos, because our libraries are >> 2GB."

[2019-04-17 17:08] mhoemmen commented on #4931
@bathmatt It would be a good sanity check to try upstream Trilinos tests, from Tpetra through MueLu.  SPARC regularly runs fine with CUDA-aware MPI.  It would be useful to know if that's not true of Empire's configuration of Trilinos.

[2019-04-17 17:08] jhux2 commented on #4931
@bathmatt I just checked, and my builds were with `Tpetra_ASSUME_CUDA_AWARE_MPI:BOOL=OFF`.

[2019-04-17 17:09] jhux2 commented on #4925
More info in #4929.

[2019-04-17 17:23] bathmatt commented on #4931
Tpetra fails a ton of tests..  Here is a sample of one...

[code]

[2019-04-17 17:26] bathmatt commented on #4931
here's my config
and prior I do this
[cfg.txt](https://github.com/trilinos/Trilinos/files/3090791/cfg.txt)

[code]

[2019-04-17 18:02] mhoemmen commented on #4931
[code]
Trilinos currently requires setting `CUDA_LAUNCH_BLOCKING=1` (that's an environment variable).  Some of the solvers work without it, but Trilinos doesn't promise that everything works without it yet.

[2019-04-17 18:06] mhoemmen commented on #4931
You can control that with an environment variable (same name but all caps).  The CMake option just sets the default value.  There are only two reasons you should set the CMake option explicitly:

1. You're cross compiling (that is, you're configuring and building with a different MPI version than with you plan to run).
2. You're using an MPI other than OpenMPI (configure-time detection uses `ompi_

[2019-04-17 18:28] vbrunini commented on #4931
@bathmatt With SPARC I had to make sure to set the `PAMI_DISABLE_IPC=1` environment variable with spectrum MPI to get things to run. Can't remember if I saw segfaults or some other failure without it. This was a month or two ago with cuda-9 + spectrum though. At the time our experience was that using the cuda aware MPI was ~2x slower than setting Tpetra to use host MPI with spectrum.

[2019-04-17 19:17] rppawlo commented on #4903
So I was working on removing use of Tpetra_INST_INT_INT in panzer (#4915 ) and one of the commits this morning is causing a new failure for my build:

[code]

I have disabled muelu, zoltan2 and xpetra for now to work around this. Just an FYI.

[2019-04-17 19:50] mhoemmen commented on #4903
@rppawlo Just as a temporary work-around, could you try putting `()` right after `elementList` in the offending line of code?

[2019-04-17 19:59] bartlettroscoe commented on #4929
Updated PR #4926 just merged to 'develop'.

Putting this in review awaiting results on CDash ...

[2019-04-17 20:06] bartlettroscoe opened #4933 "Add support for atdm/load-env.sh <build-name> <custom-config-dir>"
## Description

This story is to scope out and implement a scheme to allow users and developers to extend the ATDM Trilinos configuration to support new systems without having to touch anything in the Trilinos source tree.  This would make the ATDM Trilinos configuration system satisfy the "Open-Closed Principle" (i.e. open to extension, closed to modification).

This has been requested both by EM

[2019-04-17 20:41] rppawlo commented on #4903
Didn't work. Got the same error with this change:

[code]

[2019-04-17 20:47] bathmatt commented on #4931
Sorry @mhoemmen  I changed windows and didn't set that.  I had it set in my original tests like this one.

Also, tried with and without the PAMI_DISABLE_IPC set above.

I'll disable that and move on, was hoping for advice on if it is better

[code]

[2019-04-17 20:48] rppawlo commented on #4903
@mhoemmen - to follow up - its not just that one instance either. Same error happens in a few different places in this file. Here's the full output:

[code]

[2019-04-17 20:48] #4931 closed

[2019-04-17 20:52] ajpowelsnl opened #4934 "EXTERNAL] Fwd: [trilinos/Trilinos] ifpack2: build error with scalar=FLOAT and COMPLEX_DOUBLE enabled (#4858) --> still not fixed!"
Trilinos configure failed (again) using the "develop" branch.

@trilinos/<Sierra DevOps>

Mark Hoemmen and Kyungjoo Kim

## Current Behavior

I will email you the log.

## Steps to Reproduce

% module list
Currently Loaded Modulefiles:
  1) sierra-python/2.7                       4) sierra-compiler/gcc/7.2.0               7) sntools/local
  2) sierra-git/2.6.1                        5) sierra-mpi/

[2019-04-17 21:03] mhoemmen commented on #4931
@nmhamster could comment more, but Spectrum MPI sounds like a disaster.

[2019-04-17 21:23] bathmatt opened #4936 "cuda-10.1 stk and tpetra"
Can't compile stk or tpetra with cuda 10.1

Here is a stk error
[code]

Here is a tpetra error

[code]
Is this a known issue?

I'm trying to compile on lassen, the open sierra machine

@trilinos/stk @trilinos/tpetra

## Expectations

Compiles under nvcc-10.1
## Current Behavior
compiles with the same script under 9.1

## Motivation and Context
@nmhamster says cuda 10.1 is the bomb...

## Steps to

[2019-04-17 21:24] nmhamster commented on #4936
@bathmatt - @nmhamster is telling you what the vendors say .. reputational damage is expected with this statement.

[2019-04-17 21:27] bathmatt commented on #4936
@mhoemmen @crtrott @rppawlo @alanw0
Any idea on these issues?

[2019-04-17 21:28] nmhamster commented on #4936
@bathmatt @mhoemmen @crtrott @rppawlo @alanw0 @bartlettroscoe - CUDA 10.1 enivronment is on White for development use. @bartlettroscoe is in process of merging our ATDM support PR.

[2019-04-17 21:35] lucbv commented on #4868
With PR #4869 merged this issue can be closed.

[2019-04-17 21:35] #4868 closed

[2019-04-17 21:37] tcfisher commented on #3137
@jhux2, with the split libraries, for Kokkos::Serial I get:
[code]
For Kokkos::OpenMP I get:
[code]
It seems we are using different configurations? Any suggestions?

[2019-04-17 21:37] bartlettroscoe commented on #4936
FYI: We are not seeing any problems with STK or Tpetra with the CUDA 10.1 env being merged in PR #4816 but we are seeing build errors with Intrepid2 and Panzer and some runtime failures in some other packages.  See:

* https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4907502

Therefore, this issue is invalid I think (but this will be confirmed in automated testing tomo

[2019-04-17 21:40] jhux2 commented on #3137
@tcfisher I assume this is on the CEE lan.  Can you email the modules you have loaded and the Trilinos configure line?

[2019-04-17 21:40] alanw0 commented on #4936
I don't know why the stk issue is failing for @bathmatt, I will see if we have a 10.1 env in the sierra system that I can reproduce the build on.

[2019-04-17 21:41] jhux2 commented on #3137
Btw, I just did the split that was the easiest, I could do something more involved.

[2019-04-17 21:43] mhoemmen commented on #4903
That's a separate issue; @kddevin has a PR in for it: https://github.com/trilinos/Trilinos/pull/4932

[2019-04-17 21:57] mhoemmen commented on #4936
This is the first time I've seen this issue with Tpetra.  That's perfectly valid C++11 code as far as I can tell.

[2019-04-17 21:59] mhoemmen commented on #4934
@ajpowelsnl We're finishing up a large batch of Trilinos deprecation work; give us a bit please.

@trilinos/tpetra @trilinos/ifpack2 @kyungjoo-kim

[2019-04-17 22:01] YingzhouLi commented on #4927
Same configuration as above ends up with an error in muelu mex

In file included from /gtmp/yingzhou/local/Trilinos/packages/muelu/matlab/src/MueLu_SingleLevelMatlabFactory_def.hpp:55:0,
                 from /gtmp/yingzhou/local/Trilinos/packages/muelu/matlab/src/MueLu_SingleLevelMatlabFactory.cpp:50:
/gtmp/yingzhou/local/Trilinos/packages/muelu/matlab/src/MueLu_MatlabUtils_decl.hpp:118:60: error

[2019-04-17 22:20] mhoemmen commented on #4757
Update: @jjellio has updated benchmark results.  OpenMPI 4 might fix some of these issues, without needing host-pinned memory, which is expensive to allocate and a more limited resource.  Standing by.

[2019-04-17 22:20] kddevin commented on #4903
#4392 is merged.  I think it will fix @rppawlo 's problem.

[2019-04-17 22:54] william76 commented on #4847
@ndellingwood

I was looking at the output on the [D2GC tests][1] and it looks like these tests are running for 30+ seconds, which is alot when there's a 10 minute timeout limit...

I was looking at the D2 coloring test code in:

https://github.com/trilinos/Trilinos/blob/bd42fe9f6086bde2f02273adecfc40a8ffa97d75/packages/kokkos-kernels/unit_test/graph/Test_Graph_graph_color_distance2.hpp#L253-L258

[2019-04-17 23:03] ajpowelsnl commented on #4934
OK got it.  Many thanks!

From: Mark Hoemmen <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Wednesday, April 17, 2019 at 3:59 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Amy Jo Powell <ajpowel@sandia.gov>, Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [trilinos/Trilinos] EXTERNAL] Fwd: [trilinos/Trilinos] ifpack2: build error wit

[2019-04-17 23:05] csiefer2 commented on #4927
Yeah, that's a bug.  Working on a fix.

[2019-04-17 23:11] bathmatt commented on #4936
I updated my desktop to 10.1 and it appears to go further..   This might be a gcc+cuda bug

[2019-04-17 23:51] william76 commented on #4847
@ndellingwood @bartlettroscoe
I put in PR #4940 that reduces the problem size for the D2GC tests by a factor of 10, this should reduce the time that problem takes.  From the output on the debug mode those two things were eating about 30 seconds each.

I think it'd be good to have a look at the full output from the KokkosKernels test to see what else is taking a long time since the SPGEMM tests do

[2019-04-18 00:02] kddevin commented on #4904
@bartlettroscoe can you point me to instructions for running one of the ATDM tests that failed for this issue?  Thanks.

[2019-04-18 00:08] bartlettroscoe commented on #4904
@kddevin asked:

You should be able to reproduce this on any of the ATDM machines and with any of the ATDM Trilinos builds as described at:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#quick-start

To make this concrete, get on any SNL COE RHEL6 or RHEL7 machine that has the SEMS env, checkout your Trilinos branch, and do, for example:

[code]

Or log onto any syst

[2019-04-18 03:18] csiefer2 commented on #4927
See #4941

[2019-04-18 10:06] #2567 closed

[2019-04-18 10:06] #4861 closed

[2019-04-18 10:06] #4870 closed

[2019-04-18 10:06] #1183 closed

[2019-04-18 12:01] rppawlo commented on #4903
Thanks @kddevin !

[2019-04-18 13:52] pwxy commented on #4925
@jhux2 I assume this problem refers to the following link errors from dev Trilinos that was pulled this morning:

[code]

[2019-04-18 13:57] rppawlo commented on #4925
Drekar builds this morning are seeing the same issue that @pwxy is reporting.

[2019-04-18 14:00] bartlettroscoe commented on #3276
FYI: Looks like there may be a defect in the PR tester related to approvals as evidenced by #4916.  I rebased and pushed the branch and then re-approved the PR (which @nmhamster had created so my approval should be enough to pass the approval check).  But the autotester said it was not approved even through GitHub showed the PR had an active approval.

[2019-04-18 14:07] bartlettroscoe commented on #4929
@jhux2, after the merge of PR #4926 it looks like there are still link problems on some platforms with some builds as shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-04-18&filtercount=2&showfilters=1&filtercombine=and&field1=subprojects&compare1=93&value1=MueLu&field2=buildname&compare2=65&value2=Trilinos-atdm-).  Looks like this is occurring in all the

[2019-04-18 14:21] csiefer2 commented on #4927
My patch builds against R2017a (what I have handy) using a different set of configure options than yours.  Try the patch when you get a chance.  If you're still having issues, I'll install R2018a on my machine and then duplicate your configure options.  Just let me know.

[2019-04-18 14:54] bartlettroscoe commented on #4796
@lucbv and @jhux2,

Looking at [full Trilinos dashboard yesterday](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-04-17&filtercount=1&showfilters=1&field1=site&compare1=63&value1=) and compare it to the [builds from 2019-04-02](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-04-02&filtercount=0&showfilters=1) it looks like all of the v

[2019-04-18 15:04] ikalash opened #4943 "Xpetra broke Albany nightly builds"
The Albany builds are still broken but in a new way since yesterday.  Now Trilinos doesn't compile due to an Xpetra problem:

[code]

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=83774

@trilinos/xpetra

[2019-04-18 15:16] bartlettroscoe commented on #2689
FYI: PR #4944 is another step to make this more robust.  I guess the last thing that could be done here is to move `$WORKSPACE/SRC_AND_BUILD/Trilinos` to `$WORKSPACE/moved/SRC_AND_BUILD/Trilinos` after the build and install are complete.   We could even add this a a `tribits_ctest_driver()` option since it could look for `moved_by_tribits_ctest_driver/<projectDir>.` before it did a clone or update

[2019-04-18 15:41] kddevin commented on #4943
#4932  fixes this problem.
This PR merged yesterday around 5pm; would it be absent from your build?

[2019-04-18 15:42] kddevin commented on #4904
Thanks for the instructions, @bartlettroscoe .  I'll do it this morning.

[2019-04-18 15:44] kddevin commented on #4943
I retrack my previous comment; one more fix may be needed.  Sorry; stay tuned.

[2019-04-18 15:59] kddevin commented on #4943
#4945 has another fix.  It is in PR testing now.

[2019-04-18 17:13] pelesh commented on #3469
@mhoemmen and @keitat have you been able to build Kokkos with MPI on a TOSS3 machine? I tried the same configuration on a cluster with ROCKS 7 beta OS (a derivative of CentOS7) and everything worked well. It seems this issue is specific to TOSS3. I wasn't able to reproduce it elsewhere.

[2019-04-18 17:14] jhux2 commented on #4796
Thanks for fixing this.  It's fine with me to close this issue.

[2019-04-18 17:27] bartlettroscoe commented on #4796
Sorry this slipped through.  May ha e to find a way set up automated tests for that system.

[2019-04-18 17:27] #4796 closed

[2019-04-18 18:03] mhoemmen commented on #3469
@pelesh I've been pretty swamped trying to improve GPU performance, alas.

[2019-04-18 18:10] jhux2 commented on #4929
@bartlettroscoe For the time being, it's probably easiest to just back out these merge commits:

b02c94efdcc8a
d24004c859

What's the exact command to do this?  `git revert` is asking for a parent ....

[2019-04-18 18:34] bartlettroscoe commented on #4929
@jhux2, you just need to revert these merge commits in reverse order.  Do this:

[code]

and then push the branch `d24004c8594c93e4a01bfe4feea1d3b62956d8ba` to your fork and create a new PR.

NOTE: It is silly but you have to pass in the `-m 1` argument to the `git revert` command to tell git to go back to the "first parent" (which is on the trunk of the 'develop' branch).  If you look at your git

[2019-04-18 18:48] jhux2 commented on #4929
@bartlettroscoe Thanks.  Meantime, I found the issue, new PR coming shortly.

[2019-04-18 18:58] bartlettroscoe commented on #4929
@jhux2 said:

You were able to reproduce the link errors shown on CDash on a sems-rhel6 machine?  NOTE: We are also seeing the same problem with the Intel builds on 'serrano' and 'chama' too.

[2019-04-18 19:03] jhux2 commented on #4929
Yes.  See PR #4950.

[2019-04-18 19:08] jhux2 commented on #4925
@pwxy @rppawlo Should be fixed by PR #4950.

[2019-04-18 19:12] kddevin opened #4951 "Tpetra: link errors in Norms with deprecated code OFF"
## Bug Report
@trilinos/tpetra

### Description
Using the develop branch with Tpetra_ENABLE_DEPRECATED_CODE=OFF, I see the following link errors:
[code]

### Steps to Reproduce

[code]

[2019-04-18 19:14] mhoemmen commented on #4951
FYI, you don't need the option `Teuchos_ENABLE_LONG_LONG_INT:BOOL=ON` any more; in fact, the option no longer exists.

[2019-04-18 19:16] mhoemmen commented on #4951
The cause could be that `tpetra/core/src/Tpetra_Details_normImpl.cpp` lacks ETI logic for `Scalar=int`.

[2019-04-18 19:17] kddevin commented on #4951
It works OK when deprecated code is ON.

[2019-04-18 19:19] kddevin commented on #4951
Are you saying this could be a CMakeLists.txt issue rather than a source code issue?

[2019-04-18 19:22] rppawlo commented on #4925
Thanks @jhux2 !

[2019-04-18 19:22] mhoemmen commented on #4951
Hm, I have a build here with `Tpetra_ENABLE_DEPRECATED_CODE=OFF` and `Tpetra_INST_INT_INT=OFF`, and nevertheless it looks like `TPETRA_INSTANTIATE_SN` includes `Scalar=int`.   @kddevin, could you check in your build directory, in `packages/tpetra/core/src/TpetraCore_ETIHelperMacros.h`, and post the definition of the `TPETRA_INSTANTIATE_SN` macro?  Thanks!

[2019-04-18 19:30] jmgate commented on #4915
Hey @rppawlo, sometime in the last week Charon started seeing this configure warning when trying to update our Trilinos fork:
[code]

We don't yet enable Tpetra explicitly, but it looks like it's getting pulled in via TrilinosCouplings.  Is this warning wrapped up in this issue?  Is there anything I should do about it in Charon now?

[2019-04-18 19:33] kddevin opened #4952 "Framework: Does ATDM testing set MPI_EXEC correctly?"
## Bug Report
@trilinos/framework @bartlettroscoe

### Description
I am trying to use ATDM testing as instructed in #4904
The compilation works fine, but the tests all fail.  I suspect the problem is that ctest is using an incompatible version of mpiexec.  Should the atdm scripts set MPI_EXEC as they set the CMAKE_*_COMPILER flags?

[code]

### Steps to Reproduce
[code]

[2019-04-18 19:35] rppawlo commented on #4915
@jmgate - yes - unfortunately you will see that for now. I'm not sure if there's a way to disable the configure warning. Panzer currently requires both int and long long global ordinals to support both type 1 and type 2 stack. I'm working on a large set of changes to panzer to fix this. With travel coming up next week. I may not get them finished until the week after.

[2019-04-18 19:36] kddevin commented on #4951
Thanks for looking at this issue, @mhoemmen .

With Tpetra_ENABLE_DEPRECATED_CODE=ON:
[code]

With Tpetra_ENABLE_DEPRECATED_CODE=OFF:
[code]

[2019-04-18 19:53] mhoemmen commented on #4951
@kddevin I think I've figured this out.

1. Tpetra uses `TpetraCore_ETI_SCALARS` for the `TPETRA_INSTANTIATE_S*` macros.
2. `tpetra/CMakeLists.txt` only adds `int` to `TpetraCore_ETI_SCALARS` if `Tpetra_INST_INT_INT=ON`.
3. This doesn't break `Tpetra::MultiVector` or `Tpetra::Vector`, because they don't use the ETI macros.  Instead, they use the `.cpp` files automatically generated by `tpetra/core

[2019-04-18 19:56] kddevin commented on #4951
Thanks, @mhoemmen
Is this a new feature?  I have been using the same config script for a few weeks, though I don't know whether I've used it since the recent CMakeLists.txt commits.

[2019-04-18 19:56] kddevin commented on #4951
Should we pull @william76 into the conversation?

[2019-04-18 19:57] mhoemmen commented on #4951
@kddevin wait a minute or two; I am writing a temporary solution for you.

[2019-04-18 19:59] mhoemmen commented on #4951
The easiest work-around would be to add `int` instantiations to `Tpetra_Details_normImpl.cpp`, as follows:
[code]

[2019-04-18 20:01] mhoemmen commented on #4857
@ajpowel @sebrowne Update: I'm making some progress in my above PR, by setting the following CMake options:
[code]

[2019-04-18 20:07] kddevin commented on #4900
@csiefer2
With Tpetra_ENABLE_DEPRECATED_CODE=OFF, the develop branch produces the following compilation errors.  Do you have time to fix this soon (as it blocks builds with Tpetra_ENABLE_DEPRECATED_CODE=OFF)?  If not, let me know and I'll try.  Thanks.

[code]

[2019-04-18 20:10] kddevin commented on #4951
Wow, thanks, @mhoemmen
I will add this and test both with/without deprecated code.
I can PR the changes then, if you think that is the right thing to do.

[2019-04-18 20:10] mhoemmen commented on #4951
@kddevin wrote:

Please do; I have another thing on the fire at the moment.  Thanks!

[2019-04-18 20:21] mhoemmen commented on #4857
@ajpowel @sebrowne @rrdrake
ShyLU's Frosch subpackage is quite broken with respect to this.  Do y'all enable that?

[2019-04-18 20:24] mhoemmen commented on #4900
@kddevin
My PR will fix these: https://github.com/trilinos/Trilinos/pull/4949

[2019-04-18 20:25] mhoemmen commented on #4915
THE GREAT PURGE HAS BEGUN

[2019-04-18 20:36] sebrowne commented on #4857
@mhoemmen we do not, and when I checked CMake's output, it appears that it's disabled as well.

[2019-04-18 21:10] mhoemmen commented on #4857
This depends on PR https://github.com/trilinos/Trilinos/pull/4955 and PR #4948.

[2019-04-18 21:32] bartlettroscoe commented on #4952
@kddevin, this is strange.  On other 'sems-rhel6' systems with the identical build `gnu-7.2.0-openmp-release-debug` like you see [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4911882), the [cmake output](https://testing.sandia.gov/cdash-dev-view/viewConfigure.php?buildid=4911888) shows:

[code]

and it appears to be set in the [cache](https://testing.sandia.g

[2019-04-18 22:08] mhoemmen commented on #4278
Closed by PR #4733.

[2019-04-18 22:08] #4278 closed

[2019-04-18 22:08] mhoemmen commented on #4279
Closed by PR #4733.

[2019-04-18 22:08] #4279 closed

[2019-04-18 22:09] mhoemmen commented on #4280
Closed by PR #4733.

[2019-04-18 22:09] #4280 closed

[2019-04-18 22:09] mhoemmen commented on #4281
Closed by PR #4733.

[2019-04-18 22:09] #4281 closed

[2019-04-18 22:09] tjfulle commented on #4280
Thanks @mhoemen!

[2019-04-18 22:57] bartlettroscoe commented on #4929
With the merge of PR #4950, we can put this in review again.  Crossing finger for tomorrow :-)

[2019-04-18 23:00] bartlettroscoe commented on #4891
This has been fixed for some time by my PR #4892 and we can see a 100% passing clang-5.0.1 build and tests for SPARC yesterday [here](http://compsim-dashboard.sandia.gov/cdash/index.php?project=SPARC&date=2019-04-17&filtercount=1&showfilters=1&field1=buildname&compare1=66&value1=-trildev).  (NOTE: The build errors in the Intel build are due to MeuLu lib problems described in #4929 and are unrelate

[2019-04-18 23:00] #4891 closed

[2019-04-18 23:02] bartlettroscoe commented on #4904
Technically this was fixed with the revert PR #4908 and we can see these errors are gone from at least one ATDM Trilinos build [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4910163).  (The errors in other builds are due to unrelated issue #4929.)

Going to close this for now.  The next PR attempt #4957 should bring this change back without errors

[2019-04-18 23:02] #4904 closed

[2019-04-18 23:09] jhux2 commented on #4925
PR #4950 has been merged.

[2019-04-18 23:19] jhux2 commented on #4915
@rppawlo I assume link errors like the following are related?

<details>

[code]

</details>

[2019-04-18 23:25] rppawlo commented on #4915
@jhux2 - exactly. For now you will have to have both GO types enabled in Tpetra for panzer and miniEM.

[2019-04-19 00:07] YingzhouLi commented on #4927
Thank you @csiefer2 . Unfortunately, my first issue persist in the develop branch, where the #4941 is merged into.

[2019-04-19 09:47] #4853 closed

[2019-04-19 09:47] #4857 closed

[2019-04-19 14:15] bartlettroscoe opened #4960 "Ifpack2_Relaxation_def.hpp variable template C++14 extension warning breaking SPARC Trilinos Integration builds starting 2019-04-18"
CC: @trilinos/ifpack2, @srajama1  (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e

[2019-04-19 14:19] bartlettroscoe commented on #4960
@trilinos/ifpack2, @srajama1,

I marked this as [`ATDM Sev: Critical`](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-Specific+Trilinos+GitHub+Labels#ATDM-SpecificTrilinosGitHubLabels-LabelsforSeverity/Criticality) because this one warning elevated to an error essentially brings down all SPARC Trilinos Integration testing.

P.S. I will contact the SPARC team to see if we can turn of

[2019-04-19 14:40] bartlettroscoe commented on #4960
Here is the request to turn off `-Werror` in SPARC Trilinos Integration builds so that warnings like this can be treated as [`ATDM Sev: Blocker`](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-Specific+Trilinos+GitHub+Labels#ATDM-SpecificTrilinosGitHubLabels-LabelsforSeverity/Criticality) instead of [`ATDM Sev: Critcal`](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-

[2019-04-19 14:52] ikalash commented on #4943
Looks like this has been resolved - thanks!

[2019-04-19 14:52] #4943 closed

[2019-04-19 14:54] ikalash commented on #4930
So, a similar error cropped up again last night, this time only in our mayer2 nightlies:

https://my.cdash.org/viewBuildError.php?buildid=1638392

[code]

[2019-04-19 14:56] ikalash opened #4962 "Tpetra broke Albany nightly build on waterman"
Looks like Trilinos failed to compile in the Albany nightly build on waterman due to Tpetra.  Here is the error:

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=83824

@trilinos/tpetra

[2019-04-19 15:41] bartlettroscoe opened #4963 "Intrepid2 and Panzer build errors in new cuda-10.1 builds on 'white'"
CC: @trilinos/intrepid2, @trilinos/panzer @mperego  (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???

[2019-04-19 15:46] bartlettroscoe commented on #4963
CC: @nmhamster, @micahahoward, @bathmatt

@trilinos/intrepid2, @trilinos/panzer, @mperego (Trilinos Discretzation Product Area Lead)

It seems that CUDA 10.1 is going to become the default build on ATS-2 systems soon (they are setting up support for cuda-10.1 right how on 'sierra' and clones at LLNL right now).

In particular @micahahoward (SPARC PI) expressed in [TRIL-245](https://sems-atlassian-

[2019-04-19 16:19] ccober6 opened #4964 "Tempus: Output After Passing Output Time"
Would like to output when the timestep steps over the output time, and do not adjust the timestep size to exactly "land" on the output time.

[2019-04-19 16:24] ccober6 opened #4965 "Tempus: Bug Setting Tableau and Initializing"
## Bug Report
@trilinos/@tempus

### Description
When the tableau is set via setTableau() and the ExplicitRK initialize() is called, the tableau set by setTableau() is lost and the tableau is back to the default tableau.

[2019-04-19 17:39] jhux2 commented on #4930
@ikalash Is this using Trilinos develop?

[2019-04-19 17:41] ikalash commented on #4930
Yes, it is - I checked before opening the issue.

[2019-04-19 18:00] csiefer2 commented on #4927
Try adding: -D Tpetra_INST_INT_LONG_LONG=OFF .  That worked for me using develop and your cmake line.

We don't check Tpetra ETI types at configure time, but we should.  I'll patch the code to fail earlier (with a descriptive error message). #4966

Thanks for bringing this to our attention!

[2019-04-19 18:23] mhoemmen commented on #4962
Huh, that's weird -- this is likely related to @kddevin 's PR https://github.com/trilinos/Trilinos/pull/4956, but that was specifically to fix a link error due to a _missing_ instantiation.  It might be related to different behavior due to `Tpetra_ENABLE_DEPRECATED_CODE` being `OFF` for you.

[2019-04-19 18:28] mhoemmen commented on #4960
I'm looking at the [line of code in question](https://github.com/trilinos/Trilinos/blob/a48c257ff025b90698910bb56e3e47a9ed18cb9f/packages/ifpack2/src/Ifpack2_Relaxation_def.hpp#L147), and I'm not seeing any [variable templates](https://en.cppreference.com/w/cpp/language/variable_template) or anything that looks like it requires C++14.  Could this perhaps be a Clang issue?

[2019-04-19 18:34] mhoemmen commented on #4962
@kddevin In the worst case, we could separate out the "ordinal scalars" from the "nonordinal scalars":
[code]

[2019-04-19 18:39] mhoemmen commented on #4962
@kddevin The following macro (that writes a macro :-D ) might be useful in general for functions that `Tpetra::MultiVector` uses:
[code]

[2019-04-19 19:01] kddevin commented on #4951
@mhoemmen
Before we attempt a fix to #4962 , please help me understand the problem.

As I understand it:

When Trilinos instantiated two global ordinal types by default, it added global ordinal types int and long long to the instantiated scalar types.

With Tpetra_ENABLE_DEPRECATED_CODE=OFF, the default global ordinal type is then long long.  Tpetra adds long long to the instantiated scalar types.

[2019-04-19 19:05] kddevin commented on #4962
Hi, @ikalash
I'll get this fixed.  In #4951, @mhoemmen and I are discussing alternatives.  The initial solution recommended there worked for our testing (with and without Tpetra_ENABLE_DEPRECATED_CODE) and the PR testing; I'll look at why it didn't work in your use case.
Thanks for your patience.

[2019-04-19 20:40] kddevin commented on #4951
OK, I see.  MultiVector is instantiated with scalar=int but this normImpl function is not.
The question:  if we are allowing only one global ordinal type, should we instantiate MultiVector (et al.) with only one global ordinal type?
I cannot find where TPETRA_MULTIVECTOR_INSTANT is used; I can only see where it is defined.  Where is it used?  Where does the MultiVector<int, int, long long> get ins

[2019-04-19 20:49] ikalash commented on #4951
Thanks @kddevin !

[2019-04-19 21:01] mhoemmen commented on #4951
@kddevin wrote:

It's actually downstream of Tpetra, in MueLu.  MueLu uses Vector (and therefore MultiVector) with `Scalar=int` to communicate MPI process ranks (which have type `int`).  This is an old trick; ML also does this (but with ML's native boundary exchange, not with Epetra).

This is why Tpetra treats MultiVector ETI as a special case, and always includes `Scalar=int`, regardless of whet

[2019-04-19 21:14] jhux2 commented on #4930
@ikalash It looks like that the Trilinos used in [this mayer build](https://my.cdash.org/buildSummary.php?buildid=1638336) doesn't have the necessary commit.
[code]

[2019-04-19 21:17] ikalash commented on #4930
I see - I bet the build pulled Trilinos before that commit went in.  Thanks for tracking it down.  I'll go ahead and close the issue.

[2019-04-19 21:17] #4930 closed

[2019-04-19 21:23] kddevin commented on #4951
OK; that explains why MultiVector has scalar = int.  But how is it done?  I don't see where TPETRA_MULTIVECTOR_INSTANT is used anywhere.  How is the MultiVector instantiation enabled?

Also, what code change caused the bug?  Is normImpl new?
Did we miss this error because we need tests with Tpetra_INST_INT_INT=OFF?

[2019-04-19 21:41] bartlettroscoe commented on #4960
The line (formatted better) is::

[code]

does look like pretty straightforward C++98/03 code.

In any case, we need to make this warning go away one way or the other.

I need to build SPARC 'master' against Trilinos 'develop' anyway so I will take a quick look at this.

[2019-04-19 21:47] ccober6 opened #4970 "Tempus: Add accessor to WrapperModelEvaluator"
## Enhancement
@trilinos/tempus

For a segregated linear solve, EMPIRE needs access to the WrapperModelEvaluator to get to alpha and beta.  Adding simple accessors to it.

[2019-04-19 22:04] mhoemmen commented on #4951
@kddevin wrote:

Tpetra has two ETI systems.  The first and original one predates me.  Read `Trilinos/packages/tpetra/core/cmake/README` for an explanation (that I wrote, after reverse-engineering what it did).  In short, it uses macros that CMake generates.  Look in the _build_ (not source) directory, at `packages/tpetra/core/src/TpetraCore_ETIHelperMacros.h`, to see the macros.   The macros take

[2019-04-20 00:15] ikalash opened #4973 "Trilinos seacas build issue on mayer with ARM compiler"
I'm encountering a build error when trying to build Trilinos develop on mayer with the ARM compiler (module load devpack-arm/20190201).  Here is the error:
[code]
According to my colleague @jewatkins, the build worked just fine on April 9.  Our configure script is attached.

[do-cmake-trilinos-arm-serial.txt](https://github.com/trilinos/Trilinos/files/3099602/do-cmake-trilinos-arm-serial.txt)

@tr

[2019-04-20 00:17] jewatkins commented on #4973
The trilinos repo version that I used was: trilinos/Trilinos@5247911bd3 and seacas was updated shortly after: trilinos/Trilinos#4820

[2019-04-20 03:11] YingzhouLi commented on #4927
Still no luck.

cmake \
-D Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON \
-D Trilinos_ENABLE_Amesos:BOOL=ON \
-D Trilinos_ENABLE_Amesos2:BOOL=ON \
-D Amesos2_ENABLE_KLU2:BOOL=ON \
-D Trilinos_ENABLE_AztecOO:BOOL=ON \
-D Trilinos_ENABLE_Epetra:BOOL=ON \
-D Trilinos_ENABLE_EpetraExt:BOOL=ON \
-D Trilinos_ENABLE_Fortran:BOOL=OFF \
-D Trilinos_ENABLE_Ifpack:BOOL=ON \
-D Trilinos_ENABLE_Ifpack2:BOOL=

[2019-04-20 19:15] mhoemmen commented on #4973
@gsjaardema

[2019-04-20 19:16] mhoemmen commented on #4962
PR #4969 should fix this in develop.

[2019-04-20 19:23] bartlettroscoe commented on #4960
FYI: A described in:

* https://sems-atlassian-srn.sandia.gov/browse/SPAR-560

technically this is caused not a defect in Trilinos but instead a defect in how SPARC is including Trilinos header files and directly using code in the `Ifpack2::Impl`.

Since this is not a Trilinos defect but a SPARC defect, I am closing this as invalid.

[2019-04-20 19:58] bartlettroscoe commented on #4960
CC: @srajama1, @mhoemmen, @trilinos/ifpack2

Some more details for those that can't see [SPAR-560](https://sems-atlassian-srn.sandia.gov/browse/SPAR-560) ...

The problem is that SPARC is directly including `Ifpack2_Relaxation_def.hpp` instead of **NOT** `Ifpack2_Relaxation.hpp`.  The reason is that SPARC is including `Ifpack2_Relaxation_def.hpp` is taht it directly using` Ifpack2::Impl::InvertDia

[2019-04-20 20:00] bartlettroscoe commented on #4929
CC: @mhoward, @bathmatt

As shown [in the ATDM Trilinos builds on 2019-04-19](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-04-19&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-) all of the Muelu-related build errors are gone.

Closing as complete.

[2019-04-20 20:00] #4929 closed

[2019-04-20 20:09] bartlettroscoe commented on #4801
As shown in the below table below from our CDAsh tool (#2933), these tests have been consistently passing for the last 3 days (but actually longer than that except for build failures caused by other commits).

----

<h3><font color="green">Tests with issue trackers Passed: twip=18 (2019-04-19)</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Name<

[2019-04-20 20:12] bartlettroscoe commented on #4801
Closing as complete.

[2019-04-20 20:12] #4801 closed

[2019-04-20 20:18] bartlettroscoe commented on #4790
As shown in the below table from our CDash analysis tool (#2933) all of these tests have been passing for at least 9 consecutive days since the merge of PR #4865.

Therefore, we can close this issue.

----

<h3><font color="green">Tests with issue trackers Passed: twip=21 (2019-04-19)</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Name</th>
<th>

[2019-04-20 20:21] bartlettroscoe commented on #4790
Closing as complete as per above.

[2019-04-20 20:21] #4790 closed

[2019-04-21 01:23] bartlettroscoe commented on #4725
As shown [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-serrano-intel-debug-openmp&field2=testname&compare2=61&value2=NOX_LOCA_BrussXYZT_bdsdt_MPI_2&field3=site&compare3=61&value3=serrano&field4=buildstarttime&compare4=84&value4=2019-04-20T00:00:

[2019-04-21 01:23] #4725 closed

[2019-04-21 01:32] bartlettroscoe commented on #4353
As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-opt&field2=testname&compare2=61&value2=Ifpack2_unit_tests_MPI_4&field3=site&compare3=61&value3=waterman&field

[2019-04-21 01:32] #4353 closed

[2019-04-21 01:44] bartlettroscoe commented on #4646
As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-waterman-&field2=testname&compare2=61&value2=Ifpack2_BlockTriDiContainerUnitAndPerfTests_MPI_4&field3=buildstarttime&compare3=83&value3=2019-02-0

[2019-04-21 01:44] #4646 closed

[2019-04-21 01:52] bartlettroscoe commented on #4724
After the merge of PR #4880 on 4/12/2019 (which removed the test `STKBalance_stk_balance_m2n_MPI_4` which was never supposed to be a test), as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&fiel

[2019-04-21 01:52] #4724 closed

[2019-04-21 04:22] jthano opened #4976 "ifpack - add an interface for a hypre set function taking int ** arguments to Ifpack_Hypre"
## Enhancement
@trilinos/ifpack

Ifpack_Hypre does not currently include an interface for a hypre parameter set function taking an int** argument. The only such set function in hypre is HYPRE_BoomerAMGSetGridRelaxPoints and there was a comment declaring this set function obsolete. However, this function will no longer be obsolete as it is being used for AIR AMG which can be found in the AIR branch

[2019-04-21 17:44] mhoemmen commented on #4976
@trilinos/ifpack FYI, PR testing does not enable the Hypre TPL, so whatever testing you need will have to happen on your end.  PR tests will only ensure that the Hypre TPL is truly optional, that is, that Trilinos builds and passes tests with Hypre disabled.

[2019-04-21 17:53] mhoemmen commented on #4960
@kyungjoo-kim might better know how to fix this with minimal disruption.  I need to work on some other things for a couple days, but if it's desperately urgent, I can do it.

[2019-04-21 19:03] srajama1 commented on #4960
@kyungjoo-kim cannot change SPARC, considering this is a SPARC code change needed I don't know why @bartlettroscoe reopened this issue.

[2019-04-22 01:37] bartlettroscoe commented on #4960
@srajama1 said:

SPARC is going to need help with this.  They need for Ifpack2 to publish `Ifpack2::Impl::InvertDiagBlocks` and support it in the decl.hpp file or tell them what to use instead.  Andrew Bradly added this call and I don't think he is working with SPARC anymore.  Can someone of the Ifpack2 team with access to the SRN help?

[2019-04-22 01:44] bartlettroscoe commented on #4960
@mhoemmen said:

As @kyungjoo-kim can't access SPARC code, perhaps he can tell you what to do about `Ifpack2::Impl::InvertDiagBlocks`?

NOTE: This is not super urgent because I make the code work after the recent Ifpack2 refactoring that broke SPARC.  But the current situation with SPARC including def.hpp files is not good for many reasons so this should be fixed before this causes more trouble.

[2019-04-22 03:08] srajama1 commented on #4960
@bartlettroscoe We will take care of this. @jjwilke

[2019-04-22 13:13] #4962 closed

[2019-04-22 13:13] #3752 closed

[2019-04-22 16:10] ikalash opened #4979 "Dakota public distribution site down?"
Is the Dakota public distribution site (https://dakota.sandia.gov/sites/default/files/distributions/public) down?  Our nightly Albany tests are supposed to pull dakota as follows:

wget -nv --no-check-certificate https://dakota.sandia.gov/sites/default/files/distributions/public/dakota-6.9-release-public.src.tar.gz -v

and this operation started to fail over the weekend.  I tried it on a non-Sandi

[2019-04-22 17:15] jthano commented on #4976
Okay I have been using the modified ifpack_Hypre code in my fork for a while and have tested the added functionality.  What are the steps I should complete before submitting a PR. Do I need to email a signed contribution form? Or is that not required for a single contribution. Would it be acceptable to submit a PR for this change against the primary development branch?

[2019-04-22 17:38] mhoemmen commented on #4976
@jwillenbring or @trilinos/framework could comment on the contribution form issue.  Besides that, we require that PRs be submitted against the `develop` branch.  Best practice is for you to create a branch in your own fork of Trilinos, and submit the PR from that branch.  Thanks!

[2019-04-22 17:51] fryeguy52 opened #4982 "MueLu: MueLu_Helmholtz2DParallel_MPI_4 failing on ATDM complex builds"
## Bug Report
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1

[2019-04-22 18:16] briadam commented on #4979
Yes, the server that hosts dakota.sandia.gov (and a number of other related services) was down earlier today. We believe service has been restored, but let us know what you find.

[2019-04-22 18:34] lucbv commented on #4982
@bartlettroscoe this happened because the MueLu testing was down for a significant amount of time...

[2019-04-22 18:44] csiefer2 commented on #4982
This one's my fault.

[2019-04-22 19:36] jhux2 opened #4984 "MueLu: reduce library size"
MueLu's library size is large, due to a few factors:

1) Lack of ETI / incorrect usage of ETI in MueLu and or upstream in Xpetra.
2) Unnecessary duplication of weak symbols in MueLu in non-templated classes.

Related issue: #3137
@trilinos/muelu

[2019-04-22 20:31] bartlettroscoe commented on #4982
@lucbv, how?

[2019-04-22 21:04] srajama1 commented on #4982
@csiefer2 : Thanks for raising the hand !

[2019-04-22 21:06] jhux2 opened #4986 "Xpetra: implement ETI system"
In order to decrease downstream package's library sizes, such as MueLu's, Xpetra needs to allow for ETI (explicit template instantiation).

@trilinos/xpetra @cgcgcg @lucbv

Related to #4984, #3137.

[2019-04-22 21:11] #4964 closed

[2019-04-22 21:11] #4970 closed

[2019-04-22 21:27] kyungjoo-kim commented on #4960
I don't understand why SPARC uses the Impl namespace function directly. If they want to use Ifpack2_Relaxation, there are block crs related methods: computeBlockCrs() and ApplyInverseJacobi_BlockCrsMatrix(). This looks like that SPARC may have its own version of block jaobi solver using the InvertDiagBlocks functor. Making it work for the moment might be one thing. However, if SPARC uses this bloc

[2019-04-22 21:47] ccober6 opened #4987 "Tempus: Add StepperObserverComposite"
Add the capability to add a StepperObserverComposite, similar to those for IntegratorBasic and TimeStepControlStrategy.

@krcb has already has a prototype version with this patch against  6e8ea00769b3127490e00fb0f095401182b7d68b of EM-Plasma/Trilinos/develop

﻿[combinedTempus.patch](https://github.com/trilinos/Trilinos/files/3104970/combinedTempus.patch.log)

[2019-04-22 21:51] fryeguy52 opened #4988 "STK: STKUnit_tests_stk_topology_unit_tests_MPI_1 failing on rdc cuda atdm build on ride"
## Bug Report
CC: @trilinos/stk, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Keep promoted ATDM builds of Trilinos clean">
<???: Once GitHub Issue is crea

[2019-04-22 21:53] jwillenbring commented on #4976
@jthano How extensive is the modification? It sounds modest at a high level.

[2019-04-22 21:58] fryeguy52 opened #4989 "Muelu: MueLu_Maxwell3D-Tpetra_MPI_4 failing on atdm complex build"
## Bug Report
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Keep promoted ATDM builds of Trilinos clean">
<???: Once GitHub Issue is

[2019-04-22 21:59] lucbv commented on #4982
@bartlettroscoe if we cannot monitor the 'std::complex<double>' build with MueLu we cannot catch these mistakes. While our nightly builds were down we didn't get emails warning that something was wrong...

I just want to point at the fact that we do care about thesw nightly builds for software qualitiy.

[2019-04-22 22:00] lucbv commented on #4986
@jhux2 maybe @cgcgcg and I should be added to the xpetra team to get these notifications?

[2019-04-22 22:11] jhux2 commented on #4986
@lucbv Ask and you shall receive :).

[2019-04-22 22:12] alanw0 commented on #4988
ok thanks, we'll take a look.

[2019-04-22 22:14] lucbv commented on #4989
@fryeguy52 this could be related to work I did last week to deprecate some adapters in MueLu.
However I do find it puzzling that the same test is passing in the following builds:
[code]
as can be seen [here](https://testing.sandia.gov/cdash/index.php?subproject=MueLu&project=Trilinos)

[2019-04-22 22:18] csiefer2 commented on #4986
Yay! Team!

[2019-04-22 22:34] csiefer2 commented on #4927
Drat.  Well, time to update my matlab to and try again.

[2019-04-22 22:56] mhoemmen commented on #4984
MueLu could perhaps also benefit from outsourcing factory code to upstream packages, and from use of the Dependency Injection and Inversion pattern (like how `Belos::SolverFactory` works).

[2019-04-22 23:10] lucbv commented on #4989
@fryeguy52 I cannot set the Trilinos atdm as explained above since my local machine is not recognized as a sems machine. Is there a way to force the script to believe that my machine is similar to a sems rhel7 machine?

[2019-04-23 00:53] bartlettroscoe commented on #4989
@lucbv asked:

@lucbv, it would have to be 100% identical to the SEMS env including the module names.  If yo uhave a custom env, then I think what you need is #4933.  If that sounds about right, then we can implement thsi and you can try this out?

[2019-04-23 00:56] bartlettroscoe commented on #4982
@lucbv said:

Would MueLu developers want to directly monitor the ATDM Trilinos MueLu builds as well?  It would be easy to put together a drivers script for `cdash_analyze_and_report.py` (#2933) that does that.  Let me know if you are intested in that and we can put that together.

[2019-04-23 01:14] bartlettroscoe commented on #4960
@kyungjoo-kim said:

Can you talk with @ambrad about this?  It think he added this code to SPARC.

[2019-04-23 14:42] ikalash commented on #4979
Issue has been resolved thanks!

[2019-04-23 14:42] #4979 closed

[2019-04-23 16:21] jthano commented on #4976
The modification is small, but not trivial. For every location in Ifpack_Hypre.cpp and Ifpack_Hypre.h related to the interface with hypre set functions, I added support for a new interface to a function with the signature of int (*)(HYPRE_Solver, int**). I made sure all comments for the new code match the style of the already existing code.

[2019-04-23 16:27] Filipe-Cumaru commented on #4833
Sorry for the delay. Since the SuperLU libraries prior to 5.2 are no longer available in the Ubuntu 18 repository, I tried to build and install it from source, but I wasn't able to do it. Hence, I can't tell whether there were any changes to the headers.

[2019-04-23 16:55] csiefer2 commented on #4982
@jhux2 Thoughts?

[2019-04-23 17:04] csiefer2 commented on #4982
#4991

[2019-04-23 17:17] mhoemmen opened #4992 "Amesos2 does not support Epetra with Tpetra_INST_INT_INT=OFF"
## Bug Report
@trilinos/amesos2 @rppawlo @kddevin

### Description

Amesos2 does not support Epetra with `Tpetra_INST_INT_INT=OFF`.

### Steps to Reproduce

1. Set `Tpetra_INST_INT_INT=OFF` and `Amesos2_ENABLE_Epetra=ON`
2. Watch Amesos2 complain and fail to implement the feature

This is related to #3234.  That issue was about Amesos2 failing to catch its failure to implement this feature.

[2019-04-23 19:02] csiefer2 commented on #4927
If you turn of the MueLu Tests, does it generate the matlab file?

[2019-04-23 20:15] kyungjoo-kim commented on #4960
I talked with @ambrad . The code is old clutter from 2016. As the ifpack2 block line solver can handle the block jacobi case, that code path should be removed from SPARC. As you know, I cannot do that and someone who can access SPARC change the code path.

[2019-04-23 22:34] csiefer2 commented on #4982
Merged

[2019-04-23 22:37] bartlettroscoe commented on #4982
Now that PR #4991 is merged, putting in review awaiting confirmation on CDash tomorrow.

[2019-04-23 22:59] mhoemmen commented on #4960
I'm experimenting now with removing that call to old code, and making BlockJacobi (SPARC class that calls the function in question) a stub class.

[2019-04-23 23:01] bartlettroscoe commented on #4960
Thanks @mhoemmen!

[2019-04-24 01:37] jhux2 commented on #4986
See PR #4996.

[2019-04-24 01:38] jhux2 commented on #4984
See PR #4996.

[2019-04-24 10:03] #4992 closed

[2019-04-24 12:32] bartlettroscoe commented on #4038
CC: @bathmatt, @micahahoward, @pwxy, @rppawlo, @sebrowne,, @tcfisher, @fryeguy52

Just noticed that these build errors in the build `Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-debug` seem to be gone starting on 4/13/2019 as shown in [this query](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-04-22&filtercount=2&showfilters=1&filtercombine=and&field1

[2019-04-24 14:37] bathmatt commented on #4963
Here is a fix for the compiler bug that is causing the intrepid bug.

[code]

[2019-04-24 14:39] fryeguy52 opened #5002 "MueLu_FixedMatrixPattern-Tpetra_MPI_4 randomly timing out in build Trilinos-atdm-waterman-cuda-9.2-debug starting before 2019-04-24"
## Bug Report
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&va

[2019-04-24 14:58] bathmatt commented on #4963
@nmhamster this is that stupid nvcc compiler bug I told you about a couple of days ago.

[2019-04-24 15:13] mperego commented on #4963
@bathmatt Thanks. OK, I'll submit a PR.

[2019-04-24 15:27] jthano commented on #4976
I can go ahead and submit a PR so that the code changes can be easily viewed

[2019-04-24 16:11] bartlettroscoe commented on #5002
FYI: As shown [here](https://testing.sandia.gov/cdash/testDetails.php?test=75834114&build=4930687) it actually crashed today and showed:

[code]

[2019-04-24 16:33] bartlettroscoe commented on #4038
Looks like the intel-17.0.1 debug build of SPARC complete on a CEE RHEL6 machine.  I just tested SPARC' master' against Trilinos 'develop' on my CEE machine 'ceerws1113' pulled a few hours ago by running:

[code]

I have never run a full debug build of SPARC before so I don't know if these 5 failing tests are related to Trilinos or not.

But at least the SPARC executable built and ran all of the t

[2019-04-24 16:53] jhux2 commented on #4984
@csiefer2 is tackling another class this morning.

[2019-04-24 18:15] YingzhouLi commented on #4927
What do you mean "generate the matlab muelu file correctly"? The muemex.mexa64 is generated under the folder "../build/packages/muelu/matlab/bin"

[2019-04-24 21:05] fryeguy52 opened #5006 "Ifpack2_MTSGS_belos_MPI_1 randomly failing in build Trilinos-atdm-cee-rhel6_intel-18.0.2_mpich2-3.2_openmp_static_opt starting before 2019-04-24"
## Bug Report
CC: @trilinos/ifpack2, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&

[2019-04-24 22:09] bartlettroscoe commented on #4502
This has been resolved for a while.  Any issues remaining with the RDC builds have their own GitHub issues.

Closing as complete.

[2019-04-24 22:09] #4502 closed

[2019-04-24 23:12] bartlettroscoe commented on #5006
FYI: I think this thing started randomly failing when we (based on @nmhamster's suggestion) updated `OMP_NUM_THREADS` from 2 to 3 for this build.  This just shows we need to be testing with a greater variety of threads (hence #2422).

[2019-04-25 02:54] csiefer2 commented on #4927
Yes.  Because if you're trying to get the muemex.mexa64 file, then whether or not the MueLu tests build is kind of secondary :)

[2019-04-25 13:46] bartlettroscoe commented on #3276
@trilinos/framework,

Looks like another infrastructure failure mode has hit the PR tester in https://github.com/trilinos/Trilinos/pull/5004#issuecomment-486418165.  There, it says that the `Trilinos_pullrequest_intel_17.0.1` build (Build Num: 3183) failed yet it is clearly shown 100% passing on CDash as shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4941885).

T

[2019-04-25 13:56] bartlettroscoe commented on #4963
With the merge of PR #5004, these build errors have gone away today as shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4945222).  Now we just have failing tests that we need to address.  Those will be covered in other issues.

Thanks for finish this @mperego!

Closing as compete.

[2019-04-25 13:56] #4963 closed

[2019-04-25 14:30] alanw0 commented on #4988
We're closing in on a fix for this. I'm glad there are instructions for reproducing it on ride. The test is not failing on a sierra gpu machine...

[2019-04-25 16:02] prwolfe commented on #3276
This appears to be an error early in the script

Which we have discussed before. I have yet to find a way to reset this error, but I have not had much time to spend on it either.

[2019-04-25 16:13] ikalash opened #5011 "Xpetra broke Albany and SPARC nightly builds"
Looks like we have a compilation error in our nightlies when compiling against a new develop Trilinos:

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=84042

@trilinos/xpetra

[2019-04-25 16:37] jrood-nrel commented on #5011
We are seeing this in Trilinos `develop` for our project as well.

[2019-04-25 16:41] jhux2 commented on #5011
@ikalash @jrood-nrel This is probably due to our work to implement ETI in Xpetra (issue #4986).  Could one of you point me to your Trilinos configure script?

[2019-04-25 16:44] ikalash commented on #5011
@jhux2 : here is one of ours from my Fedora workstation.

[2019-04-25 17:09] bartlettroscoe commented on #3276
@prwolfe said:

Okay, I see it now:

[code]

If you want to make this more robust, you are going to need to manually remove the build directory.  But the fact that this is occurring suggests that the CMakeCache.txt file is not getting created on a previous Jenkins run.  Is that possible with the current setup?

[2019-04-25 17:14] prwolfe commented on #3276
Yes - it is possible. And changing that would be difficult.  I take it there is not a way to reset the error from your past experience?

[2019-04-25 17:19] jhux2 commented on #5011
PR #5013 should fix this issue.

[2019-04-25 18:30] bartlettroscoe commented on #3276
@prwolfe asked:

No.  Actually, error handling in cmake/ctest is not very well defined in some respects.  See:

* https://gitlab.kitware.com/snl/project-1/issues/52

My advice is that if you want to build from scratch robustly, just manually delete the build directory yourself either in the cmake code or in the bash code.

[2019-04-25 18:53] fryeguy52 opened #5014 "KokkosKernels_sparse_ tests timing out in build Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-debug starting before 2019-04-25"
## Bug Report
CC: @trilinos/kokkoskernels, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&sho

[2019-04-25 19:23] spdomin commented on #5011
Nalu saw this as well... We will look for the fix tonight.

[2019-04-25 20:38] jhux2 commented on #4986
Latest count of weak symbols in libmuelu.a and libmuelu_lgn.a combined

[code]

Command to get the count:

[code]

[2019-04-25 21:00] jhux2 commented on #5011
All, the PR has been merged into the develop branch.  It may or may not make it to master by this evening.

[2019-04-25 21:12] fryeguy52 commented on #4989
@lucbv There are a couple ways to work with the sems environment.  You can mount the nfs on you workstation by following [these instructions](https://sems-atlassian-son.sandia.gov/confluence/display/SEMSKB/How+to+mount+NFS+TPL+server+on+Linux+workstation), or you can ssh to some sems login machines and those have the environment already set up.  Those machine are `sems-son-rhel6-login-01` and `sem

[2019-04-25 21:14] fryeguy52 commented on #4989
This test is also failing in the job `Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-debug` shown [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-debug&field2=testname&co

[2019-04-25 21:26] jjwilke opened #5015 "KokkosKernels promotion needs to update Ifpack2"
`KokkosKernels::Experimental` has apparently disappeared in the devel branch of KokkosKernels. Ifpack2 references `namespace Experimental` in several places.  This will make the next promotion difficult - particularly the new CMake updates for kokkos-kernels.

[2019-04-25 21:46] bartlettroscoe commented on #5011
CC: @micahahoward

Looks like this broke all of the SPARC Trilinos Integration builds too showing the error:

[code]

How did this pass PR testing?  Is the file `Xpetra_CrsMatrixFactory.hpp` not included in any automated tests run in PR testing?  Or are globs not used to install header files.

[2019-04-25 23:01] jhux2 commented on #5011
@bartlettroscoe This is most likely a gap in Xpetra's testing.

[2019-04-26 01:31] srajama1 commented on #5015
@kyungjoo-kim is aware of this. We will fix it during promotion.

[2019-04-26 04:16] ndellingwood commented on #5015
There is the kokkos-promotion branch of Trilinos tracking changes needed in Trilinos during the next promotion with a couple fixes. @kyungjoo-kim or I can make the fixes on that branch.

[2019-04-26 04:18] ndellingwood commented on #5015
@jjwilke is this blocking your cmake testing? If so we can get the fixes in quickly, I'm assuming this is the removal the batched blas stuff from the experimental namespace.

[2019-04-26 04:18] ndellingwood commented on #5015
@trilinos/kokkos-kernels

[2019-04-26 13:27] #5011 closed

[2019-04-26 13:27] #4976 closed

[2019-04-26 13:39] bartlettroscoe commented on #4159
FYI: This test is also randomly failing in the build:

* `Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-debug`

shown [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-deb

[2019-04-26 13:42] bartlettroscoe commented on #4159
@srajama1, @trilinos/belos, @mhoemmen,

What should we do about this failing test?  Is it worth fixing or should we just disable it in ATDM Trilinos testing?  If no customer is using this, then is this worth our time writing issue comments like this?  We can leave it running in the Trilinos PR builds to make sure it does not get broken.

[2019-04-26 13:44] srajama1 commented on #4159
@bartlettroscoe : I would vote for disabling it. @hkthorn has the ultimate authority.

[2019-04-26 14:20] bartlettroscoe commented on #4159
FYI: We plan to extend our cdash analysis tool to allow using a wildcard for tests like this so that it matches every build so it gets sorted to the bottom of the summary email into a section "Tests with issue trackers randomly failing allowed to fail Failed: twirfatff=???".  That way it would never take up any more of our time.  But it will continue to bleed red on the dashboard (which some peopl

[2019-04-26 16:32] bartlettroscoe commented on #5011
FYI: I did a trial build of SPARC 'master' + Trilinos 'develop' and verified this was fixed.

For the Trilinos version:

[code]

I ran:

[code]

[2019-04-26 16:35] bartlettroscoe commented on #4038
@pwxy, @bathmatt, @rppawlo,

Can someone on EMPIRE team confirm this is fixed?

[2019-04-26 19:09] lucbv opened #5019 "MueLu: Epetra unit-tests try to run with kokkos-refactored factories"
## Bug Report
@trilinos/muelu

### Description
Some unit-tests are currently being run with both Epetra and kokkos refactor, which is supported. But these tests are also asking for the kokkos factories in MueLu because of the `Kokkos_Refactor_On_By_Default` variable being set ON by default when `MueLu_ENABLE_KokkosCore` is ON too.

[2019-04-26 20:46] kddevin commented on #4952
@bartlettroscoe

Here are the files you requested.  The tests time out (likely due to launch failure with the wrong mpiexec), so just a few entries are listed.

[LastTest.log.txt](https://github.com/trilinos/Trilinos/files/3122967/LastTest.log.txt)

[CMakeCache.txt](https://github.com/trilinos/Trilinos/files/3122915/CMakeCache.txt)

[output_cmake.txt](https://github.com/trilinos/Trilinos/files/312

[2019-04-27 08:33] #5019 closed

[2019-04-29 14:43] lucbv opened #5025 "MueLu: MMKernel test failing on Cuda"
## Bug Report
@trilinos/muelu @jjellio

### Description
The MMKernelDriver is not compiling with Cuda enabled on geminga.
This seems to be caused by raw openmp calls in the driver, maybe adding appropriate guards would fix these?

### Steps to Reproduce
Look at [this build](https://testing.sandia.gov/cdash/buildSummary.php?buildid=4960432) on geminga

[2019-04-29 16:34] william76 opened #5027 "Framework: Installation Testing"
## Enhancement
@trilinos/framework
@bartlettroscoe
@jwillenbring

As part of the roadmap towards implementing a backwards compatibility test to the Trilinos testing suite we need to first get Installation Testing up and running.

This will require some updates to [TriBiTS][1] to support some of the installation testing capabilities that we will need.  @bartlettroscoe can fill in more details on wh

[2019-04-29 16:48] jhux2 commented on #4768
Closing, but please update/reopen if you're still having problems.

[2019-04-29 16:48] #4768 closed

[2019-04-29 17:00] bartlettroscoe commented on #5027
@william76, I should have time to look into this later this week.

[2019-04-29 17:17] mhoemmen opened #5029 "TrilinosCouplings: Build error (missing header file)"
## Bug Report
@trilinos/trilinoscouplings

### Description
[code]

[2019-04-29 17:24] csiefer2 opened #5031 "Framework: PR Reproduction Instructions Failing"
Finished configuring Trilinos!

-- Configuring incomplete, errors occurred!

With no errors showing up in the cmake output (joy!).

GCC 4.9.3, as it turns out.

[2019-04-29 18:30] jjellio commented on #4757
@mhoemmen Sorry I somehow missed this issue.

The data I have is currently dismal.  It says that UCX's Cuda aware driver is the bottleneck.   I'd really like to get to the root of it. On one test machine, I can get superior point-to-point performance using OpenMPI 2.1.2 + UCX 1.5 (without Cuda). As in, UCX being compiled without any Cuda aware bits.

[2019-04-29 19:00] fryeguy52 opened #5033 "MueLu: Tests failing on ATDM cuda 10 build"
## Bug Report
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=6&showfilters=1&filtercombine

[2019-04-29 19:00] jhux2 opened #5034 "Framework: apparent problem during PR cmake configure for CUDA"
@trilinos/framework The [results](https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=PR-5028) for PR #5028 are showing a lot of tests not run for CUDA.  The cmake log has the following.  Is this perhaps a bug in the configure script itself?

[code]

@trilinos/framework @bartlettroscoe @william76

[2019-04-29 19:08] fryeguy52 opened #5035 "Teko: Tests failing on ATDM cuda 10 build"
## Bug Report
CC: @trilinos/teko, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=6&showfilters=1&filtercombine=and&field1=buildna

[2019-04-29 19:16] fryeguy52 opened #5036 "Zoltan2: Tests failing on ATDM cuda 10 build"
## Bug Report
CC: @trilinos/zoltan2, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=6&showfilters=1&filtercombine

[2019-04-29 20:34] mhoemmen commented on #4934
This appears to be fixed.  I'm closing for now.  Please reopen if this should arise again.  Thanks!

[2019-04-29 20:34] #4934 closed

[2019-04-29 20:36] mhoemmen opened #5038 "Tpetra: Spurious unused function warnings (iallreduceIntRaw, makeValidVerboseStream)"
## Bug Report
@trilinos/tpetra @ajpowelsnl

### Description

[code]

This is spurious.  See discussion [here](https://github.com/trilinos/Trilinos/issues/3178#issuecomment-482171111
).  However, it appears to block Sierra/Trilinos promotion, so I'll fix it.

There's another spurious unused function warning involving `makeValidVerboseStream` in `Ifpack2_ImportExportData_def.hpp`.

[2019-04-29 21:11] mhoemmen commented on #3178
@bartlettroscoe wrote:

I don't think the DevOps person in question feels like they have the authority to disable warnings.  I'll do my best to fix them, but I'm not sure if it's possible.

[2019-04-29 21:53] srajama1 commented on #5035
@eric-c-cyr : Are these CUDA enabled tests ?

[2019-04-29 21:54] srajama1 commented on #5033
@jhux2

This doesn't look like a MueLU problem though.

[2019-04-29 22:35] lucbv commented on #4989
@bartlettroscoe  @fryeguy52 I do not see the sems-rhel7 builds today.
I have pushed a fix in the Maxwell3D test but if the builds are not back up I won't be able to check that it was a proper fix...

[2019-04-29 22:37] bartlettroscoe commented on #5035
FYI: Looks like these tests are actually passing but then they all crash with:

[code]

Looks similar to the errors reported for MueLue in #5033.

[2019-04-29 22:38] bartlettroscoe commented on #4989
@lucbv,

If they are missing again tomorrow we will look into this.  Builds go missing for various reasons from day to day.  (Automated testing on many if these systems is pretty fragile for many reasons.)

[2019-04-29 23:03] bartlettroscoe commented on #5036
CC: @srajama1, @trilinos/muelu, @trilinos/teko

FYI: Looks like the same errors seen in #5033 and #5035:

[code]

and

[code]

and

[code]

I suspect this is the same cause in all of these test failures.

[2019-04-30 03:44] kddevin opened #5042 "Tpetra: fix deprecated case in RowMatrix::add"
## Bug Report
@trilinos/tpetra

relate to #4701

### Description

One case of RowMatrix::add is not handled correctly in the deprecation of DynamicProfile.  This case is rarely, if ever, used.  we should either fix it and test it so it works, or throw an error to state we don't support it.  (I prefer the first.)

for details and a proposed solution, see https://github.com/trilinos/Trilinos/pull/47

[2019-04-30 15:11] ikalash opened #5044 "MueLu broke NERSC and waterman Albany nightlies"
Albany failed to build last night in our NERSC and waterman nightlies.  Trilinos compiled just fine, but Albany returned the following error when built on top of Trilinos:

[code]
Please see:

https://my.cdash.org/viewBuildError.php?buildid=1643124

and

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=84229

for more details.  Both builds are using the develop branch of Trilinos.

@

[2019-04-30 15:28] #5029 closed

[2019-04-30 15:28] #5038 closed

[2019-04-30 15:31] ajpowelsnl opened #5045 "PackageName: Tpetra, Teuchos, etc. compiler warnings being treated as errors for unused functions in Sierra - Trilinos integration"
## Bug Report
@trilinos/\<PackageName\>

Sierra - Trilinos integration is failing because the compiler is treating warnings as errors in these :

-Werror=unused-function

There are ~ 8000 instances of this type of error (see enclosed log):
grep -c [-Werror=unused-function] sierra_trilinos_int_042919.txt
8081

[sierra_trilinos_int_042919.txt.zip](https://github.com/trilinos/Trilinos/files/3131953/s

[2019-04-30 15:39] mhoemmen commented on #5045
@trilinos/framework

Thanks for filing this issue.  I have fixed two of these warnings (#5038) but doing so in the whole Trilinos code base would take a lot of time and probably not add much value compared to other work Trilinos developers could do.  I would recommend `-Wno-error=unused-function`: the warnings would still appear, but would no longer break the build.

[2019-04-30 16:23] kddevin commented on #5045
Actually, @mhoemmen 's changes in #5038 should remove all of the unused function warnings.
PR #5046 will remove the shadow warning from Tpetra.
Most remaining errors appear to come  from stk.
For the final error in the file, do not include Tpetra_DefaultPlatform.hpp in your  source code.

[2019-04-30 17:17] ajpowelsnl commented on #5045
Hi Karen and Mark,

Just to make sure I’m clear before proceeding (with another attempt to integrate the latest Trilinos):

  *   You have updated the compiler flags in Trilinos, such that warnings will not result in errors;
  *   We should delete the header (Tpetra_DefaultPlatform.hpp) you mention below;

Assuming I’m in the ballpark, then I’ll give it another go.

Many thanks!

Best,

AJP

From:

[2019-04-30 17:47] bartlettroscoe commented on #4952
@kddevin, that is very strange how it is not finding the right `MPI_EXEC`:

[code]

Any way that I can log onto this machine `vesper.sandia.gov` and see what is going on with this and try to fix this?  Should be easy to fix (whatever the cause) if I can get on the machine.

Otherwise, can I post a branch for you to test out to try to fix this?  I have an idea of something that might work.

[2019-04-30 17:51] bartlettroscoe commented on #3276
FYI: Took 19 hours from the time that I created the PR #5040 till the PR tester started testing the build as shown [here](https://github.com/trilinos/Trilinos/pull/5040#issuecomment-488046890).  Is the PR testing system that backed up?  What could cause a 19 hour delay before it even starts testing a PR?

FYI:   I manually merged that branch into the 'atdm-nightly' branch last night so this has in

[2019-04-30 18:32] alanw0 commented on #4988
Status update: still being actively worked on stk team. This is the kind of failure that goes away if we add a print statement nearby... We've established that rolling back the last stk-to-trilinos update fixes it, so now we're trying to figure out what it was about that update...

[2019-04-30 19:25] csiefer2 opened #5047 "Framework: Cannot push or pull from github"
csiefer@mymachine> git pull --rebase
You don't exist, go away!
fatal: The remote end hung up unexpectedly

(It worked yesterday, FYI)

[2019-04-30 19:27] #5047 closed

[2019-04-30 19:32] bartlettroscoe commented on #4989
@lucbv, FYI: that build failed today for some unknown reason as shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4968457).  My guess is this is some type of random failure that may not occur tomorrow.

[2019-04-30 21:59] lucbv commented on #4989
@bartlettroscoe sure, let us monitor this some more and see if the test passes on intel builds now.
I can also point you to [this nightly build](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2019-04-29&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=Linux-g

[2019-05-01 10:07] #4084 closed

[2019-05-01 13:26] bartlettroscoe commented on #3276
CC: @trilinos/framework

FYI: More random failures see in #5040.  There are some new ones.  The testing iteration last night shown in https://github.com/trilinos/Trilinos/pull/5040#issuecomment-488118973 showed the builds `Trilinos_pullrequest_intel_17.0.1` (Build Num: 3228) and `Trilinos_pullrequest_gcc_7.2.0` (Build Num: 1408) failing with build and test failures.  Yet without changing anything

[2019-05-01 14:11] csiefer2 commented on #5044
I might have fixed that last night with #5050 that went in at around 11pm MT.

Are you OK with sitting another day to see if it worked?

[2019-05-01 15:11] ikalash commented on #5044
@csiefer2 : great.  That wouldn't have made it into last night's nightlies.  Lets see what happens tonight - I'm ok with waiting a day, yes.

[2019-05-01 15:13] ikalash commented on #5044
FYI the waterman error changed last night.  Here is the new one and it happens when trying to compile Trilinos:

[code]

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=84267

I'm guessing this is the same underlying problem.

[2019-05-01 15:15] csiefer2 commented on #5044
Thanks for the heads up.

[2019-05-01 15:31] csiefer2 commented on #5044
You got your build scripts for Trilinos on waterman somewhere?

[2019-05-01 15:39] ikalash commented on #5044
We created them (actually @jwatkins did).  If you'd like to have a look, it is here:

https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/waterman.sandia.gov/ctest_nightly.cmake.frag

Module file is here:

https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/waterman.sandia.gov/waterman_modules_cuda.sh

[2019-05-01 16:15] ajpowelsnl opened #5055 "PackageName: Kokkos SIMD issue"
## Bug Report
@trilinos/\<PackageName\>

/scratch/sierra/sierra_master/objs/tpls/trilinos_tpls/b2ed81b8c8472240/include/Kokkos_View.hpp:2234:70:
error: 'is_extent_constructible' is not a member of
'Kokkos::ViewTraits<double* [4][3], stk::simd::LayoutRight<double>,
Kokkos::Serial, Kokkos::MemoryTraits<0> >::array_layout {aka
stk::simd::LayoutRight<double>}'
                               arg_N4, ar

[2019-05-01 16:18] ajpowelsnl opened #5056 "PackageName: Kokkos error surfacing in stk"
## Bug Report
@trilinos/\<PackageName\>

In file included from
/scratch/sierra/sierra_master/stk/stk_ngp/stk_ngp/Ngp.hpp:40:0,
                  from
/scratch/sierra/sierra_master/stk/stk_unit_tests/stk_ngp/howToNgp.cpp:2:
/scratch/sierra/sierra_master/stk/stk_ngp/stk_ngp/NgpField.hpp: In
instantiation of 'bool ngp::StaticField<T>::need_sync_to_device() const
[with T = int]':
/scratch/sierra/sierr

[2019-05-01 16:22] ajpowelsnl opened #5057 "PackageName: Kokkos"
## Bug Report
@trilinos/\<PackageName\>

/scratch/sierra/sierra_master/objs/tpls/trilinos_tpls/b2ed81b8c8472240/include/Kokkos_View.hpp:2234:70:
error: 'is_extent_constructible' is not a member of
'Kokkos::ViewTraits<double* [4][3], stk::simd::LayoutRight<double>,
Kokkos::Serial, Kokkos::MemoryTraits<0> >::array_layout {aka
stk::simd::LayoutRight<double>}'
                               arg_N4, ar

[2019-05-01 16:23] jwillenbring opened #5058 "Trilinos Framework: Change GCC 4.8.4 PR build to use static libraries"
## Enhancement
@trilinos/framework

Our PR testing does not currently include any static library builds. There are important use cases for static libraries, so we want to change one build to use static libraries. The GCC 4.8.4 MPI build has been chosen for this enhancement to the PR test suite.

[2019-05-01 16:25] ajpowelsnl opened #5059 "PackageName: Tpetra"
## Bug Report
@trilinos/\<PackageName\>

  COMPILE
/scratch/sierra/sierra_master/objs/apps/scefire/votd/gcc-7.2.0/release/address-model-64/mpi-openmpi/runtime-link-shared/threading-multi/trilinos-integration-on/app_scefire.o
In file included from
/scratch/sierra/sierra_master/TPLs_src/radlib/Nov-2017/src/KrylovTransportSolvers/krylovTransportSolve.hh:25:0,
                  from
/scratch/sierra/si

[2019-05-01 16:28] alanw0 commented on #5057
Amy I don't think this is a Trilinos/kokkos bug. This is an issue in stk-simd, so it needs to be brought to the attention of Mike Tupek. @mhoemmen may also have some insight, he may know how stk-simd needs to be upgraded to build with a current version of kokkos.

[2019-05-01 16:33] alanw0 commented on #5057
Correction: Tupek says that @prwolfe  knows the solution for this.

[2019-05-01 16:35] alanw0 commented on #5055
This looks the same as issue 5057. Did you mean to file duplicate issues?
In any case, @prwolfe knows the solution for this.

[2019-05-01 16:35] ajpowelsnl commented on #5057
OK, let me bring PRW into the discussion.

From: Alan Williams <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Wednesday, May 1, 2019 at 10:33 AM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Amy Jo Powell <ajpowel@sandia.gov>, Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [trilinos/Trilinos] PackageName: Kokkos (#5057)

Correction: Tupe

[2019-05-01 16:37] ajpowelsnl commented on #5055
I might have, if only because we were unsure whose sphere of responsibility the issues fell in…

From: Alan Williams <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Wednesday, May 1, 2019 at 10:35 AM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Amy Jo Powell <ajpowel@sandia.gov>, Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [trilinos/T

[2019-05-01 16:38] srajama1 commented on #5036
@bartlettroscoe This seems to be an environment issue. @nmhamster

[2019-05-01 16:52] bartlettroscoe commented on #5036
@srajama1 said:

Perhaps, but who is qualified to debug this?

FYI: @nmhamster filters github issues and will not see references like this.  You need to send him direct emails.

[2019-05-01 17:01] prwolfe commented on #5055
When I was working this I had to add this

diff --git a/stk/stk_simd/stk_simd_view/simd_layout.hpp b/stk/stk_simd/stk_simd_view/simd_layout.hpp
index a89d956..61cfa66 100644
--- a/stk/stk_simd/stk_simd_view/simd_layout.hpp
+++ b/stk/stk_simd/stk_simd_view/simd_layout.hpp
@@ -115,6 +115,8 @@ struct LayoutRight {

   size_t dimension[ Kokkos::ARRAY_LAYOUT_MAX_RANK ];

+  enum { is_extent_constructib

[2019-05-01 17:03] kddevin commented on #5059
The file
/scratch/sierra/sierra_master/TPLs_src/radlib/Nov-2017/src/KrylovTransportSolvers/solveLinearSystem.hh
should not include
Tpetra_DefaultPlatform.hpp

The solveLinearSystem.hh file is not in Trilinos; the radlib developers need to remove this include statement.

[2019-05-01 17:03] #5059 closed

[2019-05-01 17:06] nmhamster commented on #5036
@srajama1 / @bartlettroscoe - I'll take a look. Thank you for the bug report.

[2019-05-01 17:08] kddevin commented on #5045
@ajpowelsnl

The user (you) controls the warnings-as-errors flags; we cannot control that.
Rather, @mhoemmen rewrote parts of the code to avoid the spurious unused function warnings, so you should not see them anymore.

The file Tpetra_DefaultPlatform.hpp  does not exist in the Trilinos repository.  So no files in your application or in any other TPL should include it.  That change needs to be don

[2019-05-01 17:08] #5045 closed

[2019-05-01 17:18] Mark-E-Hamilton opened #5061 "Xpetra: error: ISO C++ forbids nested type 'TpetraVector' with same name as enclosing class [-fpermissive]"
I pulled in the most recent of Trilinos master for a Sierra integration build with ETI off. While building this file

/scratch/sierra/sierra_master/TPLs_src/Trilinos/packages/xpetra/sup/Matrix/Xpetra_MatrixFactory.cpp

It generated the following error:
[code]

[2019-05-01 17:29] csiefer2 commented on #5061
Last night or this morning?  Stuff changed at 11am last night.

[2019-05-01 17:33] william76 commented on #4986
Chris and I chatted abut this today. I'll take a crack at `Tpetra::Map` and will document the steps of what I did...

[2019-05-01 18:02] mhoemmen commented on #5061
@csiefer2 Mark will have to say more, but I'm pretty sure it's just the latest commit on master:
[code]

[2019-05-01 18:29] #4506 closed

[2019-05-01 18:29] #4510 closed

[2019-05-01 18:29] #4512 closed

[2019-05-01 18:29] #4514 closed

[2019-05-01 18:30] #4515 closed

[2019-05-01 18:41] spdomin commented on #5011
Yes, sorry, we have been back in business since Jonathan's push to develop.

Feel free to close.

[2019-05-01 18:48] Mark-E-Hamilton commented on #5061
As Mark said, it was the master commit from this morning about noon. I've reverted it for now so that I can get back to the set of errors I had yesterday.

[2019-05-01 19:20] fryeguy52 commented on #4847
These have been passing consistently for about 2 weeks and the test times are not close to timing out.  I am closing.

<h3><font color="green">Tests with issue trackers Passed: twip=14</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Name</th>
<th>Status</th>
<th>Details</th>
<th>Consec&shy;utive Pass Days</th>
<th>Non-pass Last 30 Days</th>
<th>P

[2019-05-01 19:20] #4847 closed

[2019-05-01 19:29] fryeguy52 commented on #4982
This has not failed since 4/24/2019 shown [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=61&value2=MueLu_Helmholtz2DParallel_MPI_4&field3=site&compare3=65&value3=sems-rhel&field4=build

[2019-05-01 19:29] #4982 closed

[2019-05-01 20:05] lucbv commented on #4989
It looks like this is now passing on the sems-rhel7 intel build with complex.
@fryeguy52 and I will wait for another day before calling it good and closing this issue.

[2019-05-01 20:54] csiefer2 commented on #5061
Yeah, looks like that's my doing.  Will try to see if I can reproduce.

[2019-05-01 21:09] csiefer2 commented on #5061
Can you email me some reproduction instructions (e.g. configure lines), because my no-eti builds work just fine.

[2019-05-01 21:44] kddevin opened #5065 "Tpetra: Deprecated DynamicProfile used without deprecation guards"
## Bug Report
@trilinos/tpetra

### Description
DynamicProfile is a deprecated feature.
It is used in Tpetra_CrsMatrix_decl.hpp without deprecation guards.
https://github.com/trilinos/Trilinos/blob/ec7ddad27cbfca383fb4c70f8beeba6193739853/packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp#L5039

Thus, building with TPETRA_ENABLE_DEPRECATED_CODE=OFF fails.

Related to #4701

### Steps to Reproduce

[2019-05-01 21:47] nmhamster commented on #5036
OK, I seem to have crashes in my test builds with the following tests now:

[code]

All the other Zoltan2 tests look good.

[2019-05-01 21:53] kddevin commented on #5065
This one may be difficult to fix, as it is used without max number of entries per row throughout the Trilinos stack.  We may need help from other package developers to fix it correctly.

Not sure how this one got through testing with TPETRA_ENABLE_DEPRECATED_CODE=OFF, though, as we use this method in Tpetra tests.

[2019-05-01 21:58] csiefer2 commented on #5044
Looks like some poor copy pasta on my part. #5066

[2019-05-01 22:08] nmhamster commented on #5036
@srajama1 / @bartlettroscoe / @fryeguy52 - reported to UCX team here: https://github.com/openucx/ucx/issues/3550

Also investigating alternative builds locally to see if we can get around the situation.

[2019-05-01 22:08] mhoemmen commented on #5055
I have a mini-lecture to @Mark-E-Hamilton today about template specializations, whose summary was "Kokkos probably has changed and `stk::simd` might need to be updated."

[2019-05-01 22:09] mhoemmen commented on #5055
@ajpowelsnl I took the liberty of updating your post so that the error messages are enclosed in triple backquotes.  This ensures correct formatting.

[2019-05-01 22:12] Mark-E-Hamilton commented on #5061
Okay, it's big, but this is the command that we use:
[code]

[2019-05-01 22:14] mhoemmen commented on #5056
@ajpowelsnl This is not a Trilinos bug.  Kokkos' interface has changed, and `stk::simd` hasn't kept up.

[2019-05-01 22:32] alanw0 commented on #4988
Pull-Request 5068 is in, addresses this failure.

[2019-05-01 22:35] mhoemmen commented on #5061
I didn't realize that Trilinos' PR testing has no static library builds: https://github.com/trilinos/Trilinos/issues/5058
That could be related.

[2019-05-01 22:37] mhoemmen commented on #4988
@alanw0 I just approved PR #5068.  Thanks!

[2019-05-01 22:40] mhoemmen commented on #5059
@kddevin I submitted a patch to fix that in radlib; the patch is going through the equivalent of PR testing now.

[2019-05-01 22:44] lucbv commented on #4900
@csiefer2 is this issue resolved now? Should we close this?

[2019-05-01 22:49] lucbv opened #5069 "MueLu: adding support for linear interpolation prolongation in region MG"
## Enhancement
@trilinos/muelu

The current StructuredRegionDriver cannot run if the interpolation order used by GeometricInterpolationPFactory is equal to 1, only order 0 (piece-wise constant) can be used now.
The idea is to modify how the coarse composite maps are constructed, technically if no coarse grid solve are required then the code should work with linear interpolation.

[2019-05-01 22:49] mhoemmen commented on #4900
We may want to wait until https://github.com/trilinos/Trilinos/issues/5065 is resolved to make sure.

[2019-05-01 23:22] csiefer2 commented on #5061
Lovely.

[2019-05-01 23:24] william76 commented on #5065
FYI, I don't think any of the PR tests ever set `TPETRA_ENABLE_DEPRECATED_CODE=OFF` so folks will probably want to run a sanity check on this locally before submitting PR's

[2019-05-01 23:24] nmhamster commented on #5036
This looks like there maybe a bug in UCX when CUDA allocations are performed before `MPI_Init`.

The suggested workaround for this is (while fixes are being considered):

[code]

Which produces:

[code]

[2019-05-02 00:01] mhoemmen commented on #5059
@ajpowelsnl @Mark-E-Hamilton My change to radlib passed tests and has been pushed into Sierra master.

[2019-05-02 03:18] csiefer2 opened #5070 "Framework: Autotester runs not reporting"
#5067 #5066

@trilinos/framework @jwillenbring @william76

[2019-05-02 04:35] csiefer2 commented on #5070
RuntimeError: ModuleCmd_Load.c(213):ERROR:105: Unable to locate a modulefile for 'sems-env'

[2019-05-02 05:11] cgcgcg commented on #5070
Ditto #5063

[2019-05-02 06:38] mayrmt opened #5072 "MueLu: separate setup and solve of regionMG coarse level solver"
## Enhancement
@trilinos/muelu

On the coarse level, we need to perform a direct solve on the composite system. Right now, this is done by creating a Amesos2 KLU solver in every visit to the coarsest level.

Steps to do:
- Move the setup phase of the Amesos2 KLU solver to the setup of the hierarchy and store the factorizations
- Only leave the apply phase of the direct solver in the V-Cycle

Overa

[2019-05-02 12:59] bartlettroscoe commented on #5036
Okay, I will try setting `export UCX_MEMTYPE_CACHE=n` in the `cmake/std/atdm/ride/environment.sh` script for the `cuda-10.1` builds and see if that fixes all the failing tests for Zoltan2, Muelu (#5033), and Teko (#5035).  I will create a PR.

[2019-05-02 13:11] nmhamster commented on #5036
@bartlettroscoe - I think we should set it in the modules on the machine for now, don’t you?

[2019-05-02 13:20] bartlettroscoe commented on #3276
@trilinos/framework

Looks like PR builds are crashing due to new "clean_workspace" module load problems. See https://github.com/trilinos/Trilinos/pull/5068#issuecomment-488587688.

For that PR iteration, all of the builds are crashing except for the Intel 17.0.1 build showing:

[code]

It looks like many/all of the recent PR builds are crashing due to this (see #5071, #5063, #5066, #5064, #5062,

[2019-05-02 13:23] bartlettroscoe commented on #5036
@nmhamster said:

If you want to set `export UCX_MEMTYPE_CACHE=n` in the CUDA 10.1 modules on 'white', that is fine.  Just please let me know if that is what you are going to do and that we will watch to see if this fixes things.

[2019-05-02 13:51] csiefer2 commented on #5044
FYI, autotester is having issues so PRs are blocked.

[2019-05-02 13:55] nmhamster commented on #5036
@bartlettroscoe / @srajama1 - module files are updated on White. Please let me know if you notice anything else suspicious.

[2019-05-02 14:06] bartlettroscoe commented on #5036
Just logged on to 'white' and did:

[code]

I will run an experimental build to see if this causes any problems.

[2019-05-02 14:08] nmhamster commented on #5036
Here are results from the Zoltan build I ran to check the module this morning (below). Obviously the more exhaustive tests you are doing will be needed to confirm a general fix.

[code]

[2019-05-02 14:16] bartlettroscoe commented on #5045
Many Trilinos developers don't have access to Sierra machines or development environments (and the new Engineering Workspaces seem to be problematic, at least from my recent experience).

@trilinos/framework,

It would be great if the Triinos PR build(s) could reproduce these warnings so we could clean them up in those builds and the protect them as per #3178.

[2019-05-02 15:01] william76 commented on #5070
FYI @prwolfe @jwillenbring

[2019-05-02 15:02] ibaned commented on #5055
This should be resolved by applying @prwolfe 's changes to STK

[2019-05-02 15:07] ibaned commented on #5056
[code]
needs to be replaced with:
[code]
This is a bug in STK for relying on deprecated APIs, which will be removed in version 3.0 of Kokkos in less than a year.

[2019-05-02 15:18] lucbv opened #5074 "MueLu: CreatePreconditioner does not compile in SERIAL-DEBUG_NO-TPETRA build"
## Bug Report
@trilinos/muelu

### Description
This [build](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4977942) reports a compilation error in the `CreatePreconditioner` unit-test.

### Steps to Reproduce
See the build referenced above for more info on reproducing this error.

[2019-05-02 15:35] srajama1 commented on #5033
Fix for the environment in. See #5036

[2019-05-02 15:37] srajama1 commented on #5035
Fix for the environment in. See #5036

[2019-05-02 15:38] william76 commented on #5070
@csiefer2 @cgcgcg  Paul sent out an email to the framework team this morning... It looks like there was an issue with the Jenkins jobs that the tester launches which run the tests.  He pushed in a fix this morning so that should sort things out.  <knock on wood>
He's out the rest of the day, but I'll check in on these PR's from time to time today.

[2019-05-02 15:40] alanw0 commented on #5056
More precisely, instead of calling 'modified_device()++' we now call 'modify_device()'.
And instead of 'modified_device() > modified_host()' we now call 'need_sync_host()'. Or vice-versa.

Is something like 'modified_flags(1)' really in the public API?
I don't think we intend to call that.

stk was in the position of needing to build against both old and new versions of trilinos/kokkos. So we had

[2019-05-02 15:43] ibaned commented on #5056
@alanw0 you're right, although `modified_flags` is public, it's definitely better to do what you suggest for those two desired use cases.

[2019-05-02 16:07] ikalash commented on #5044
Unfortunately we have a lot of failed Trilinos builds now in our dashboard due to an issue in Xpetra, e.g.

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=84295

[2019-05-02 16:08] ikalash commented on #5044
I am one step behind you @csiefer2 I think - just saw your posting above.  Guess the PR with the fix didn't go in yesterday?

[2019-05-02 16:45] jhux2 commented on #5033
@srajama1 Thanks for the update.  May this be closed?

[2019-05-02 17:11] bartlettroscoe commented on #5033
@jhux2 asked:

Note quite.  Just ran a trail build with updated env and submitted to:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4981429

and it still shows a failing MueLu test `MueLu_Maxwell3D-Epetra_MPI_4`:

* https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4981430

which shows:

[code]

[2019-05-02 17:13] bartlettroscoe commented on #5036
I just ran an experimental build with the updated env and submitted to:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4981429

and it looks like the Zoltan2 tests are now passing.  But we are seeing Teko and MueLu tests, but those are covered in #5033 and #5035.

Let's wait for the official nightly build to show these passing tomorrow on CDash and in our summary email (#2

[2019-05-02 17:17] bartlettroscoe commented on #5035
FYI: I ran an experimental build with updated env and submitted to:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4981429

and it is still showing the failing test `Teko_testdriver_MPI_4` shown at:

* https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4981431

showing the error:

[code]

[2019-05-02 17:33] kddevin commented on #5036
Thanks, @nmhamster and @bartlettroscoe , for addressing this issue!
When I looked at the issue on Monday, I couldn't see any Zoltan2-specific cause.

[2019-05-02 17:46] bartlettroscoe commented on #3958
Would be great if we had one build with coverage results.  Would help in the code review process.

[2019-05-02 17:51] jjellio commented on #5025
I can take a look at this, I don't know if that Driver was ever intended to for Cuda use.

The OpenMP can surely be guarded though

[2019-05-02 17:53] lucbv commented on #4989
@fryeguy52 @bartlettroscoe
The test is passing again today. This looks like a good confirmation, should we close this issue?

[2019-05-02 17:57] bartlettroscoe commented on #4778
As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-release-debug&field2=testname&compare2=61&value2=PanzerAdaptersSTK_MixedCurlLaplacianExample-ConvTest-Tri-Order-1&field3=site&compare3=61&value3=ride&field4=buildstarttime&compare4=84&

[2019-05-02 17:57] #4778 closed

[2019-05-02 18:03] mhoemmen commented on #5055
@Mark-E-Hamilton @ajpowelsnl just in case you don't get indirect notifications :)

[2019-05-02 18:10] bartlettroscoe commented on #4989
@lucbv asked:

Looking at [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-release-debug&field2=testname&compare2=61&value2=MueLu_Maxwell3D-Tpetra_MPI_4&field3=site&compare3=61&value3=sems-rhel7&field4=buildstarttime&compare4=83&

[2019-05-02 18:10] #4989 closed

[2019-05-02 18:14] bartlettroscoe commented on #4989
Also, as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-intel-17.0.1-openmp-complex-shared-debug&field2=testname&compare2=61&value2=MueLu_Maxwell3D-Tpetra_MPI_4&field3=site&compare3=61&value3=sems-rhel7&field4=buildstarttime&compare4=83&value4=2019-04-1

[2019-05-02 19:02] srajama1 commented on #5033
Again seems to be an environment issue with strtoll or ucx ? @nmhamster

[2019-05-02 19:11] nmhamster commented on #5033
We will take a look into this one and get back to you. Stay tuned.

[2019-05-02 19:17] kddevin commented on #5065
@mhoemmen @jhux2 @csiefer2 @GeoffDanielson
Let's discuss possible solutions here.

From the Tpetra side, I think the fix is straightforward:
-  In createCrs*, require the user to provide a maxNumEntriesPerRow (deprecating the default value of 0) and then use StaticProfile
-  In Tpetra tests, most tests provide the maxNumEntriesPerRow; for any that don't, we can figure out the appropriate value

Fo

[2019-05-02 19:22] jhux2 commented on #5065
This looks simple to fix.  I'll submit a PR.

[2019-05-02 19:42] kddevin commented on #5061
I see this too on my mac:
[code]
Kitchen-sink build -- probably way more inclusive than needed:
[code]

                                                                        ^

[2019-05-02 19:56] mhoemmen commented on #5065
@kddevin @jhux2 Teko should just use the sparse matrix-matrix interface that creates and returns a new CrsMatrix, not the "create an empty matrix and then fill it in" interface which is not idiomatic C++ anyway.

[2019-05-02 20:46] kddevin commented on #5065
Thanks @mhoemmen

Can you point me to this interface?  All I see is interface that requires a matrix for C.
https://github.com/trilinos/Trilinos/blob/f58da722e20f5e1c72954f5e16081cce0c2826ec/packages/tpetra/core/ext/TpetraExt_MatrixMatrix_decl.hpp#L97

[2019-05-02 20:57] csiefer2 commented on #5061
Can reproduce from Mark's configure

[2019-05-02 21:01] kddevin commented on #5061
One diff is that I have -DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON

[2019-05-02 21:05] csiefer2 commented on #5061
We decided not to write ETI for the  to[X|T]petra() functions when we did the first ETI system, for simplicity.  This issue demonstrates that such a thing doesn't work and we need to rethink our approach.

@jhux2

[2019-05-02 21:43] kddevin commented on #5061
With only -DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON, compilation is fine.
But also specifying the following breaks the build:
-D Tpetra_INST_INT_INT:BOOL=ON \
-D Tpetra_INST_INT_LONG_LONG:BOOL=OFF \

[2019-05-02 21:52] jhux2 commented on #5061
@csiefer2 But this is happening in a *non* ETI build.

[2019-05-02 21:54] csiefer2 commented on #5061
And Karen's ETI build too.

[2019-05-02 23:25] ajpowelsnl commented on #5055
Gracias!

From: Mark Hoemmen <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Thursday, May 2, 2019 at 12:03 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Amy Jo Powell <ajpowel@sandia.gov>, Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [trilinos/Trilinos] STK SIMD Layout out of date (#5055)

@Mark-E-Hamilton<https://github.com/Mark-

[2019-05-03 00:00] ajpowelsnl opened #5078 "PackageName: Kokkos, Muelu build errors in Sierra-Trilinos integration"
## Bug Report
@trilinos/\<PackageName\>

### Description

Please see the enclosed logs for the errors.

[bake_050219_errors.log.zip](https://github.com/trilinos/Trilinos/files/3140294/bake_050219_errors.log.zip)

### Steps to Reproduce

Please see previous tickets related to Sierra-Trilinos integration.  In this case, the command was:

bake --verbose -j 1 --ninja trilinos-integration=on 2>&1 | tee

[2019-05-03 00:03] bartgol opened #5079 "Piro: 'Rythmos' vs 'Rythmos Solver'"
## Question
@trilinos/piro
@trilinos/rythmos

Can someone explain me the difference? It seems the two syntaxes are almost equivalent (mutatis mutandis), however, during some refactor in Albany, I came upon an example in which using `Rythmos Solver` causes an exception to be thrown inside some Thyra model evaluator that Rythmos creates, with a message sayng that both `W` and `W_op` are present, and

[2019-05-03 00:09] mhoemmen commented on #5065
@kddevin Huh, I didn't realize we didn't have one of those.  @trilinos/muelu I thought we had an interface like that?

[2019-05-03 01:11] crtrott commented on #5078
The Kokkos error is due to a new requirement on custom layouts regarding some internal implementation detail. Basically we need an enum in layouts which indicates wether it is constructible just from extents.

After a quick glance at the file it may be as simple as adding:
[code]
to `stk::simd::layout_left` and `stk::simd::layout_right` in `packages/stk/stk_simd/stk_simd_view/simd_layout.hpp`.

[2019-05-03 03:56] seheracer opened #5082 "Teuchos: Teuchos::send/receive not handling a large message"
## Bug Report
@trilinos/teuchos

### Description
Error when communicating a very long message (consisting of 400 million long long values) using Teuchos::send and Teuchos::receive. When Teuchos::send and Teuchos::receive are replaced by MPI_Send and MPI_Recv, the respective message is successfully communicated with a warning.

### Steps to Reproduce
The code to reproduce the bug: (2 MPI ranks)

[c

[2019-05-03 04:08] jjellio opened #5083 "Panzer MiniEM: Install binary and inputs if built"
## Enhancement
@trilinos/panzer @cgcgcg @egphill @jhux2

Currently, the mini app Panzer Mini-EM is not installed, and this makes using the app tedious when Trilinos is installed (and the build tree deleted).

## Outcomes:
If MiniEM + Examples are turned on, then the PanzerMiniEM_BlockPrec.exe will be installed to $INSTALL_PREFIX/bin/PanzerMiniEM_BlockPrec.exe

The required inputs (*.xml) will be i

[2019-05-03 11:21] mayrmt commented on #5072
@lucbv I have done this, however when pulling in new changes from GitHub, my build broke. This will probably take some time to fix, especially there are some other issues with build problems in develop apparently.

[2019-05-03 15:07] lucbv commented on #5072
OK no rush, I put a review on the PR.
I am just glad we are looking into it instead of leaving it as a todo item on our list!

[2019-05-03 15:09] ikalash commented on #5044
Looks like the PR went in but we're still seeing build failures for Albany: http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany .  You can click on any of the Trilinos builds that failed to build to see details.

[2019-05-03 15:11] lucbv commented on #5074
The latest nightly build show that #5075 has fixed this problem so I am closing the issue

[2019-05-03 15:11] #5074 closed

[2019-05-03 15:26] csiefer2 commented on #5044
Fix went in yesterday afternoon.  This might be something related but not the same.

[2019-05-03 15:29] ikalash commented on #5044
Should I open a new issue?  The problem is still with Xpetra.

[2019-05-03 15:32] csiefer2 commented on #5044
Nah.  This works fine for me.

[2019-05-03 15:45] csiefer2 commented on #5061
#5088 for fix

[2019-05-03 15:47] csiefer2 commented on #5061
@jhux2 Ignore my previous comment about the to[X|T]petra functions.  That was incorrect.

[2019-05-03 15:50] csiefer2 commented on #5044
#5088 fixes all of the "forbids nested type" compile errors.

Your link errors are a different monster.

[2019-05-03 16:32] lucbv commented on #5072
@mayrmt I'm guessing we can close this issue with the merge of PR #5087

[2019-05-03 16:36] lucbv commented on #5069
@mayrmt @rstumin
I just issued the above PR #5089 , I think that it handles linear interpolation correctly but that might just be one more thing for @rstumin to look at : )
It also hooks up the command line arguments with the parameters used for the linear iterations in the structured region driver which makes a lot more sense!

[2019-05-03 17:14] mayrmt commented on #5072
PR #5087 has been merged, this closing this issue.

[2019-05-03 17:14] #5072 closed

[2019-05-03 17:52] kddevin commented on #4951
@mhoemmen I'm still having troubles with normImpl instantiation.  I get link errors with a stokhos build.

Using the ATDM testing framework, I do
[code]
Here are the link errors:

[code]

[2019-05-03 20:36] csiefer2 commented on #5061
@Mark-E-Hamilton Fix is in develop.  Please check the nighties and close if I've resolved your issue.

[2019-05-03 21:29] jhux2 commented on #5078
@ajpowelsnl What version of Trilinos are you using, specifically, branch and SHA1 of HEAD?  Thanks.

[2019-05-03 21:31] etphipp opened #5091 "Xpetra no longer compiles with clang"
With latest develop sources I am not getting compiler errors in Xpetra when building with clang:
[code]
This occurs with both clang 7.0.1 and 4.0.1, which are the latest versions in the SEMS environment.

I guess it doesn't like using a typedef for the same name as the class.  However I thought Xpetra has been doing this for a while, and I have been building with clang for many months now, so it i

[2019-05-03 21:41] jhux2 commented on #5078
The bake line looks suspicious to me, specifically this:
[code]

MueLu's library has been split into `libmuelu.a` and `libmuelu_lgn.a`, but I don't see the latter.  How does Sierra translate cmake into bake?

[2019-05-03 22:07] jhux2 commented on #4925
@rppawlo @pwxy Can either of you confirm whether this is fixed?

[2019-05-03 22:19] jhux2 commented on #3137
@tcfisher   @csiefer2 and I have been converting Xpetra to use ETI.  Here are library sizes for Trilinos develop  4b9cd2ca4 and using SPARC's configure script, Intel static debug, and OpenMP node type:
[code]

It's about a 25% reduction.  We're not finished, so there's some room for improvement still.

[2019-05-03 22:36] mhoemmen commented on #5091
Duplicate of https://github.com/trilinos/Trilinos/issues/5061 .  Thanks for reporting!

[2019-05-03 22:36] #5091 closed

[2019-05-03 22:42] mhoemmen commented on #4951
@kddevin We should just forget about ETI for normImpl.  It's not clear that it's worth the trouble.

[2019-05-03 22:42] bartlettroscoe commented on #2464
This has been done for a while.  The CUDA PR build looks to be one of the most robust PR builds being used.  Closing as complete.

[2019-05-03 22:42] #2464 closed

[2019-05-03 22:44] mhoemmen commented on #5061
@ajpowelsnl

[2019-05-03 22:45] mhoemmen commented on #5078
@jhux2 It would have been the current state of Trilinos:master as of yesterday mid afternoon.

[2019-05-03 22:45] mhoemmen commented on #5078
@ajpowelsnl @Mark-E-Hamilton

[2019-05-03 22:46] nmhamster commented on #2464
Horray!

[2019-05-03 22:47] etphipp commented on #5061
Even with that commit, I still get build errors with clang:
[code]
Note that the _def.hpp file still includes Xpetra_UseShortNames.hpp:

[code]

[2019-05-03 22:56] kddevin commented on #4951
@mhoemmen does one do that by just yanking out all macros mentioning NORMIMPL and purgin Tpetra_Details_normImpl.cpp?

[2019-05-03 23:00] mhoemmen commented on #4951
@kddevin We would need to do the following:

1. Create a new file `Tpetra_Details_normImpl.hpp` in the source directory (Trilinos/packages/tpetra/core/src).
2. Copy the declarations and definitions of `Tpetra::Details::normImpl` into this file.
3. Delete `Tpetra_Details_normImpl_def.hpp`, `Tpetra_Details_normImpl_decl.hpp`, and `Tpetra_Details_normImpl.cpp`.
4. Get rid of the explicit instantiatio

[2019-05-03 23:23] mhoemmen commented on #5082
1. What version of Trilinos is this?
2. How was the CMake option `Teuchos_ENABLE_LONG_LONG_INT` set?

(1) is relevant because #1183 was closed a few weeks ago.  Before that, it was possible to disable Teuchos' support for `long long`.  If that CMake option was `OFF`, then `Teuchos::send` etc. would treat `long long` as just a sequence of bytes (using `MPI_CHAR` as the `MPI_Datatype`).  This would

[2019-05-03 23:25] jhux2 commented on #5078
So something isn't right in the Sierra build recipe.  `libmuelu_lgn.a" is missing.

[2019-05-04 00:03] mhoemmen commented on #5078
Is https://github.com/trilinos/Trilinos/pull/5092 also relevant?

[2019-05-04 00:10] jhux2 commented on #5078
I suspect not -- 5092 is on a Mac w/ clang, this is RHEL7 and gcc 7.2.

[2019-05-04 00:13] mhoemmen commented on #5079
OP's tags didn't take, so I'm retagging: @trilinos/piro @trilinos/rythmos

[2019-05-04 02:25] srajama1 commented on #5002
@jhux2 : This seems like a problem

[2019-05-04 05:53] seheracer commented on #5082
1) It is Trilinos Release 12.12.
2) I have `Teuchos_ENABLE_LONG_LONG_INT:BOOL=ON` already set.  The whole script for configuration and build:

[code]

I am dealing with really large data, so I may try splitting the messages having more than 2^{31}-1 item into smaller messages. Thanks for the warning @mhoemmen.

I think Teuchos might be having this issue only when the total size of the message is m

[2019-05-04 13:40] bartlettroscoe commented on #5082
@seheracer,

I think currently using `long long` in `Teuchos::MpiComm<long long>` is completely useless as the underlying MPI always just using `int`.  But  I don't understand how raw MPI can work with messages longer than `2^{31}-1` elements and give you warnings.  How can it read an overflow of `int` and produce a warning?

To address this in Teuchos, we could take advantage of the templated ord

[2019-05-04 19:20] mhoemmen commented on #5082
@bartlettroscoe I think I get what's going on.

1. @seheracer imagines that Comm's `Ordinal` template parameter affects MPI's behavior, but is unfortunately incorrect.  MPI always uses `int` for its counts.

2. I wrote a lot of specializations of MPI send, etc. for specific data types, including `long long`.  However, those only work if Comm's template argument is `int`.  If Comm's template argume

[2019-05-04 19:22] mhoemmen commented on #5082
@seheracer wrote:

That's correct.  That's really a problem with MPI's interface.  The `Ordinal` template parameter of `Comm`, `MpiComm`, etc. doesn't help with that.

Either approach should work.

[2019-05-04 20:46] seheracer commented on #5082
@mhoemmen and @bartlettroscoe,

Thanks for the comments and the warnings. From now on, I will always use int-templated `Teuchos::MpiComm`.

For the very large messages, I guess I have to split them into multiple sub-messages in any case  regardless of using MPI or Teuchos.

[2019-05-04 22:12] crtrott commented on #5078
How do we want to deal with the stk-simd issue? Fix it independently on both sides?

[2019-05-05 01:11] alanw0 commented on #5078
@crtrott I added your suggested fix (is_extent_constructible) to the file in the sierra repository. If Amy's build confirms that that is a good fix, then we'll push it up to Trilinos with the next stk-to-trilinos update.

[2019-05-05 03:26] mhoemmen commented on #5082
@seheracer wrote:

That is correct.  I think newer versions of the MPI standard (> 3) may fix this.  You may also try libraries like Jeff Hammond's BigMPI: https://github.com/jeffhammond/BigMPI

[2019-05-05 03:26] #5082 closed

[2019-05-05 13:48] lucbv commented on #5069
PR #5089 is merged so this issue is ready to be closed

[2019-05-05 13:48] #5069 closed

[2019-05-06 01:43] jjellio commented on #5025
@lucbv Curiously, this test will work on many Cuda machines, because the test beds use OpenBLAS for the system BLAS, which is compiled with OpenMP - so that shared library ends up pulling in the symbols to define the OpenMP stuff.

I suppose Geminga is using regular redhat lapack/blas installed through YUM or DNF, which doesn't use threads.

I'll push the change with a guard added, but on White, I

[2019-05-06 05:13] jjellio commented on #5061
I suspect the problem is:
[code]
As-is, it would seem the above will result in `typedef Xpetra::TpetraVector<...> TpetraVector` within the TpetraVector class, which would likely cause hell in paradise.

[2019-05-06 05:21] jjellio commented on #5061
No, the above isn't 100% it.

I think the problem is you can't have MultiVector typedef'd either, since this class inherits from it.

Doing this fixes it for me: (I'll need to verify the thing links at the end though!)

This needs to be done twice (both places short names is used - To be safe, I redefine that macro afterward, so the preprocessor state is consistent later)
[code]

[2019-05-06 12:26] spdomin opened #5098 "Xpetra fatal error due to missing headers, similar to #5011"
We have another missing Xpetra missing header file:

In file included from /scratch/spdomin/nightlyBuildAndTest/NaluNightly/include/LinearSolver.h:34:0,
                 from /scratch/spdomin/nightlyBuildAndTest/NaluNightly/src/EnthalpyEquationSystem.C:43:
/home/spdomin/gitHubWork/scratch_build/install/gcc7.2.0/Trilinos_nightly_release/include/MueLu.hpp:63:10: fatal error: Xpetra_CrsMatrixWrap.hpp

[2019-05-06 13:45] lucbv commented on #5025
@jjellio, I am happy that someone is looking at it. We will have to wait until tomorrow to see it pulled by the nightly tests but if something goes wrong we can always go back to it and fix some more.
Thanks for working on it.

[2019-05-06 13:59] bartlettroscoe commented on #5098
@trilinos/xpetra, @kddevin (Trilinos Data Services Product Area Lead), @fryeguy52, @micahahoward, @sebrowne

Yea, this also brought down all of the SPARC Trilinos Integration builds as well.  Therefore, I have added the label `ATDM Sev: Critical`.

Can we figure out why these errors (this and #5011) are slipping through PR testing?  I we run a coverage build on Xpetra, what does that look like?

[2019-05-06 14:07] mhoemmen commented on #5098
@bartlettroscoe wrote:

I remember @jhux2 mentioning something about PR tests not having any static builds.  My guess is that this is some combination of static and ETI OFF.

[2019-05-06 14:37] csiefer2 commented on #5061
#5096

[2019-05-06 14:41] csiefer2 commented on #5044
@jjellio fixed some other stuff #5096, which should hopefully fix the build issues.

There's still potential link errors as well.

[2019-05-06 14:47] gsjaardema commented on #4973
Is there still an issue with this, or did #4983 fix it?

[2019-05-06 14:52] bartlettroscoe commented on #5098
@mhoemmen said:

It would be good if we could confirm this and then put in a GitHub issue for the Framework team to change on of the PR builds to a static build (likely the GCC 7.2.0 build since static builds as the default for most of the larger customers).

[2019-05-06 14:59] ikalash commented on #4973
@gsjaardema : sorry I forgot to close this.  The issue has been resolved with your fix.  Thanks!

[2019-05-06 14:59] #4973 closed

[2019-05-06 15:05] ikalash commented on #5044
It looks like that PR went in already, unless I'm missing something.  Our dashboard is still all red unfortunately: http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany&date= .  We really need this fixed ASAP.  Would it help for me to provide Trilinos/Albany configure scripts for the MueLu team to be able to reproduce the problem?

[2019-05-06 15:08] lucbv opened #5101 "MueLu: removing BCs from piece-wise constant structured aggregates"
## Enhancement
@trilinos/muelu

At the moment BCs are simply aggregated without special treatment. This usually leads to a degraded convergence rate in MG.
The idea is to propose a better treatment of BC using structured aggregation at least in the case of piece-wise constant aggregation (piece-wise linear might be trickier...).
One option to implement this is to check whether a given row of `A` h

[2019-05-06 15:11] jjellio commented on #5044
@ikalash my PR went through about 5 minutes ago. Just looking through the CDash errors for Trilinos, it looks like the same error in #5096 - which should get corrected with my PR.

Will you have another build that goes sometime soon (today?) If not, we may end up waiting till tomorrow to see if it fixes it for Albany.

[2019-05-06 15:14] ikalash commented on #5044
@jjellio , ah OK I see.  I can see if it fixed the issue on my machine, one of the nightly testing platforms, today.  I'll keep you posted.  We should know tomorrow the situation with all the other nightlies.

[2019-05-06 15:27] ikalash commented on #5044
I just pulled Trilinos, rebuilt it, then tried building Albany on top of it.  Unfortunately there's still a missing include issue:
[code]

[2019-05-06 15:32] ajpowelsnl commented on #5078
Good morning,

Alan, Christian, do we have communication and a strategy  for moving forward on fixing this issue?

Christian had suggested a possible fix in a previous message:

The Kokkos error is due to a new requirement on custom layouts regarding some internal implementation detail. Basically we need an enum in layouts which indicates wether it is constructible just from extents.
After a quick

[2019-05-06 15:36] alanw0 commented on #5078
@ajpowelsnl Yes, I've pushed the fix in sierra, and if your build confirms that it is good, then it will be included in the next stk-to-trilinos update.

[2019-05-06 16:23] jhux2 commented on #5044
@ikalash This is a new issue, see #5098.

[2019-05-06 16:43] jhux2 commented on #5098
I'm looking at this now.

[2019-05-06 16:58] bartlettroscoe commented on #5098
Looks like the file `Xpetra_CrsMatrixFactory.hpp` is not getting installed:

[code]

but it exists in the build tree:

[code]

which is just:

[code]

So this would seem to be a problem if installing a generated header file?  Are there not TriBITS macros that will generate these `XXX.hpp` header files and help add them to the set of header files to install so this is automatic?

So it looks like w

[2019-05-06 16:59] bartlettroscoe commented on #5027
FYI: Getting bit by not having installation testing as part of PR testing (i.e. #5098).

I will try to work on the TriBITS stuff for this this week.

[2019-05-06 17:05] kyungjoo-kim commented on #5015
@jjwilke Could you check your cmake work after the PR #5032 ? If it works, would you please run your performance test of sparc to check that I did not create any side effects ?

[2019-05-06 17:12] Mark-E-Hamilton commented on #5078
I did a build with the most recent Sierra and the version of Trilinos I
was testing with last week:

Merge Pull Request #5053 from trilinos/Trilinos/master_merge_20190501_000613

That build was successful (though we did have a sierra issue not related
to Trilinos.)

However, when we pulled in today's Trilinos and rebuilt things again we
encountered some errors. We're going to try to isolate them a

[2019-05-06 17:38] ZUUL42 opened #5102 "Amesos: Remove Build Warnings"
## Enhancement
@trilinos/amesos

Issue #3178 is working toward turning Warnings as Errors on for _all_ packages in order in ensure Trilinos maintains a high level of SQA practices across the project.
Currently Amesos has a number of warnings that need to be handled before we can set Werror for Amesos and eventually all packages.

A recent test build was performed with -Werror set. [The CDash repor

[2019-05-06 17:38] ZUUL42 opened #5103 "AztecOO: Remove Build Warnings"
## Enhancement
@trilinos/aztecoo

Issue #3178 is working toward turning Warnings as Errors on for _all_ packages in order in ensure Trilinos maintains a high level of SQA practices across the project.
Currently AztecOO has a number of warnings that need to be handled before we can set Werror for AztecOO and eventually all packages.

A recent test build was performed with -Werror set. [The CDash re

[2019-05-06 17:38] ZUUL42 opened #5104 "Pamgen: Remove Build Warnings"
## Enhancement
@trilinos/pamgen

Issue #3178 is working toward turning Warnings as Errors on for _all_ packages in order in ensure Trilinos maintains a high level of SQA practices across the project.
Currently Pamgen has a warning that need to be handled before we can set Werror for Pamgen and eventually all packages.

A recent test build was performed with -Werror set. [The CDash report can be fo

[2019-05-06 17:38] ZUUL42 opened #5105 "​Isorropia: Remove Build Warnings"
## Enhancement
@trilinos/​Isorropia

Issue #3178 is working toward turning Warnings as Errors on for _all_ packages in order in ensure Trilinos maintains a high level of SQA practices across the project.
Currently ​Isorropia has a warning that need to be handled before we can set Werror for ​Isorropia and eventually all packages.

A recent test build was performed with -Werror set. [The CDash repo

[2019-05-06 17:38] ZUUL42 opened #5106 "Zoltan: Remove Build Warnings"
## Enhancement
@trilinos/zoltan

Issue #3178 is working toward turning Warnings as Errors on for _all_ packages in order in ensure Trilinos maintains a high level of SQA practices across the project.
Currently Zoltan has a warning that need to be handled before we can set Werror for Zoltan and eventually all packages.

A recent test build was performed with -Werror set. [The CDash report can be fo

[2019-05-06 17:53] jhux2 commented on #5098
PR #5107 should fix this.

[2019-05-06 18:06] jhux2 commented on #5044
PR #5107 should fix this.

[2019-05-06 19:24] jjellio commented on #5098
@bartlettroscoe

I think one way to help dodge this problem would be to modify `TribitsCreateClientTemplateHeaders` and `TRILINOS_CREATE_CLIENT_TEMPLATE_HEADERS`.  So that it takes a list of HEADERS as input, and appends the created header to that list (set SCOPE PARENT).

Right now, the problem seems to be that the headers are GLOB'd, headers are generated, You then must GLOB in the **binary dir*

[2019-05-06 20:26] rppawlo commented on #4925
We are not seeing this issue in drekar builds anymore. Looks like it is fixed.

[2019-05-06 20:29] etphipp commented on #5061
PR #5096 resolved the clang build errors I reported.  Thanks!

[2019-05-06 20:38] jhux2 commented on #4925
Thanks, @rppawlo.  I will close as fixed.

[2019-05-06 20:38] #4925 closed

[2019-05-06 20:53] jhux2 commented on #4878
@mhoemmen Closing as fixed.

[2019-05-06 20:53] #4878 closed

[2019-05-06 21:15] csiefer2 commented on #5104
Looks like all you have to do is comment out one line.  Give it a go!

[2019-05-06 21:40] jhux2 commented on #5002
I am unable to reproduce on waterman, i.e., the test passes just fine.

[2019-05-06 21:59] lucbv opened #5112 "MueLu: type issues in LineDetection factory"
## Bug Report
@trilinos/muelu

### Description
The `MueLu_LineDetectionFactory` is using the type `Scalar` while manipulating coordinates which creates problems when `Scalar=std::complex<>`.
To fix this the types have been modified to `Teuchos::ScalarTraits<Scalar>::coordinateType` which ensures that coordinates can be computed on in a sane way.

[2019-05-06 22:33] bartlettroscoe commented on #5098
@jjellio said:

Just so that I understand what you are suggesting, can you show what the updated call to this function would look like for this Xpetra CMakeLists.txt file?  It looks like PR #5107 just added an additional glob of header files in a new dir to be installed.

What we really need in installation testing as part of PR testing.  It looks like that would have caught this.

[2019-05-06 22:36] bartlettroscoe commented on #5002
@jhux2 said:

It is a randomly failing test.  Not sure what is needed to trigger this.  Might have to load the GPU up with other tests to trigger this behavior?

Otherwise, is this test testing an important feature for the ATDM customers?  If, not, we can mark this "ATDM Sev: Nonblocker" and we can ignore these failures.

[2019-05-06 22:45] mhoemmen commented on #4525
@freaklovesmango Would you happen to have more information about this?  For example, how large were your vectors and how many threads did you use?

[2019-05-06 22:51] mhoemmen commented on #2518
Closing -- thanks all!

[2019-05-06 22:52] mhoemmen commented on #859
Trilinos doesn't have tests any more with MPI implementations that have `MPI_VERSION < 3`.

[2019-05-06 22:52] #859 closed

[2019-05-06 22:53] mhoemmen commented on #718
Node is going away.

[2019-05-06 22:53] #718 closed

[2019-05-06 22:54] nmhamster commented on #859
@mhoemmen - what machine was this on?

[2019-05-06 22:55] jhux2 commented on #5078
@Mark-E-Hamilton Fyi, you should probably wait for #5107 to merge.

[2019-05-06 22:57] mhoemmen commented on #859
@nmhamster This was with OpenMPI 1.6 (!), which is quite old and which nobody (not Sierra, not Trilinos) tests any more.  I wouldn't worry about it.  I was just going through old issues to look for issues related to PR https://github.com/trilinos/Trilinos/pull/5115 (check it out!) and found this one.

[2019-05-06 22:59] nmhamster commented on #859
@mhoemmen - yeah that is old. I’m sure we are still using it somewhere :-). One less thing to worry about (thank you)!

[2019-05-06 23:01] bartlettroscoe commented on #2506
CC: @trilinos/framework,

This test strikes again, bringing down another PR build iteration shown in https://github.com/trilinos/Trilinos/pull/4834#issuecomment-489717856 with output in:

* https://testing.sandia.gov/cdash/testDetails.php?test=77296913&build=4999484

showing jumbled output:

[code]

It is looking for "End Result: TEST PASSED".

[2019-05-06 23:33] jhux2 commented on #5098
PR has merged, let's see what happens overnight.

[2019-05-07 00:12] jhux2 commented on #5002
No, this is currently unimportant for ATDM.

[2019-05-07 02:25] mhoemmen opened #5117 "Tpetra: CrsGraph & CrsMatrix still use deprecated enum value DynamicProfile"
## Bug Report
@trilinos/tpetra

### Description

When I disable deprecated code in Tpetra, I get the following build errors:
[code]
When I fix those and enable tests, I get the following build errors:
[code]
When I fix _those_ build errors, I get the following:
[code]
When I fix that, I get the following:
[code]
I get a few more after this in other tests in TpetraCore.

### Steps to Reproduce
1. S

[2019-05-07 03:24] mhoemmen commented on #5117
When I fixed build errors, some Tpetra tests failed.  Here is my PR with the attempt: https://github.com/trilinos/Trilinos/pull/5118  (don't merge it yet!).

[2019-05-07 05:01] jjellio commented on #5098
@bartlettroscoe

My comment is mainly because *all* of the ETI work is subject to the error that manifest here. It just seems it would be cleaner to have the ETI function do the dirty work.

With ETI, there is *always* the pattern:
[code]

Why not do:
[code]

The function does: (new features)
[code]

Now, all ETI work just needs to call the Create Client Template, and the HEADERS variable will get

[2019-05-07 05:02] #5083 closed

[2019-05-07 09:58] #5025 closed

[2019-05-07 09:58] #5061 closed

[2019-05-07 12:24] bartlettroscoe commented on #5098
FYI:

Just checked the updated install this morning and it looks like the file `Xpetra_CrsMatrixWrap.hpp` is getting installed now:

[code]

Will reopen this and then close once we get confirmation from the SPARC Trilinos Integration builds later today (for which we get an email tomorrow morning).

[2019-05-07 13:14] prwolfe opened #5120 "Stokhos/Tpetra/MueLu: Missing symbols in static library build"
## Bug Report
@trilinos/stokhos @trilinos/tpetra

### Description
I am building using static libraries (see PR #5111 and issue #5058). At link time I get

/scratch/prwolfe/trilinos/Trilinos/packages/tpetra/core/src/Tpetra_MultiVector_def.hpp:387: undefined reference to `void Tpetra::Details::normImpl<Sacado::MP::Vector<Stokhos::StaticFixedStorage<int, double, 16, Kokkos::Serial> >, Kokkos::LayoutL

[2019-05-07 13:16] prwolfe commented on #5120
After I filed this I noticed two more instances of the same issue in TrilinosCouplings - TrilinosCouplings_fenl_ensemble.exe and  TrilinosCouplings_fenl_pce.exe.

[2019-05-07 13:31] #4793 closed

[2019-05-07 13:42] lucbv commented on #5025
@jjellio the test is now building correctly on the nightly tests. Thanks for taking the time to fix it!

[2019-05-07 13:49] prwolfe commented on #5120
Looking at the first symbol this seems to be a link order issue.

libstokhos_tpetra_mp_16_serial.a requires the symbol and is linked second
libstokhos_tpetra_sd_mp_16_serial.a defines the symbol but is linked first

And the function that sets these up will take some study to understand.

[2019-05-07 13:58] etphipp commented on #5120
Yep, I think you're right.  I am doing a static build right now to reproduce it, then I will just need to monkey with the cmake ETI logic to get the order right.

[2019-05-07 14:55] etphipp commented on #5120
PR #5121 should fix this.

[2019-05-07 16:00] csiefer2 commented on #5044
@ikalash Looking better yet?

[2019-05-07 16:03] ikalash commented on #5044
@csiefer2 : there are still a lot of failures (http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany) but not all the builds are failing.  I'm hoping the builds that failes (CEE, ride, waterman) failed b/c they started before the change went in.  Lets give it one more day - I will check if things are better tomorrow with the Albany dashboard.

[2019-05-07 16:23] prwolfe commented on #5120
That fixed the Stokhos issues - I still see the ones from @trilinos/muelu. Would you prefer a second issue so you don't have to see all the traffic?

Thanks @etphipp!

[2019-05-07 16:36] lucbv commented on #5112
PR #5114 has fixed this issue and there was no problem related to that PR on the dashboard this morning so this is ready to be closed

[2019-05-07 16:36] #5112 closed

[2019-05-07 16:36] jhux2 commented on #5120
@prwolfe Please have a look at issue #5098 to see if you're having the same problem.

[2019-05-07 16:51] prwolfe commented on #5120
@jhux2 - I re-ordered the compile line and was able to solve this, but the CMakeLists.txt file has the dependencies explicitly set.

So the question is what do I break in other links if I reverse these?

[2019-05-07 17:01] jhux2 commented on #5120
Probably quite a bit.  I'm curious what's breaking, as I haven't seen any issues when I build MiniEM in Panzer using static linking.   If we need to repeat libraries, cmake has an [option](https://cmake.org/cmake/help/latest/command/target_link_libraries.html#id8) for that.

[2019-05-07 17:17] prwolfe commented on #5120
Ouch - I would rather spend the time to do a good library hierarchy redesign. This solution lacks elegance...

I am going to try reversing them first.

[2019-05-07 17:48] mhoemmen commented on #5120
This looks like a duplicate of https://github.com/trilinos/Trilinos/issues/4951 .  I think I will just get rid of ETI for normImpl.

[2019-05-07 18:04] prwolfe commented on #5120
@mhoemmen - that could work. I did confirm that reversing the dependency failed as @jhux2 predicted and that the "inelegant" solution is workable. Your idea is much better if it can be done without slowing compilation and linking too much.

[2019-05-07 18:32] etphipp commented on #5120
PR #5121 is merged in, so the stokhos part of this is fixed.

[2019-05-07 19:58] GeoffDanielson commented on #5042
I have this fixed in the branch "5042_deprecated_row_add"

[2019-05-07 20:45] mhoemmen opened #5127 "Teuchos::ParameterList: Shadowing warning"
## Bug Report
@trilinos/teuchos @rrdrake

### Description
[code]

[2019-05-07 20:49] mhoemmen commented on #5127
PR https://github.com/trilinos/Trilinos/pull/5128 has a fix.

[2019-05-07 21:16] jhux2 opened #5129 "Tpetra: add nightly test that disables deprecated code"
@trilinos/tpetra

[2019-05-07 22:15] spdomin commented on #5098
Looks clean...

100% tests passed, 0 tests failed out of 78
NaluCFD/Nalu SHA1: c77416f1547fbbe99740d10383fee3da4a1dbbad
Trilinos/develop SHA1: 766cf31408577f4896f256826751ae4426a7254a

Feel free to close this issue and, possibly, open an enhancement that helps us in the future.

For @mhoemmen's sake, we build Nalu with the following:

-DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON \

- and dynam

[2019-05-07 22:26] bartlettroscoe commented on #5098
I have confirmed this is fixed for SPARC too (but another change to Trilinos is still breaking the build :-)).  See [SPAR-567](https://sems-atlassian-srn.sandia.gov/browse/SPAR-567).

Closing as complete.

[2019-05-07 22:26] #5098 closed

[2019-05-07 22:35] kddevin commented on #5098
@bartlettroscoe Can you add the Trilinos github issue number for the "another change to Trilinos" mentioned above.  When I try to access the Jira issue, I see, "You can't view this issue
It may have been deleted or you don't have permission to view it. "  THanks.

[2019-05-07 22:53] bartlettroscoe opened #5132 "Ifpack2 non-backward compatible change broke SPARC"
CC: @trilinos/ifpack2, @srajama1 (Trilinos Linear Solvers Product Area Lead), @kyungjoo-kim, @fryeguy52, @micahahoward, @mhoemmen

## Next Action Status

Merged https://cee-gitlab.sandia.gov/sparc/sparc-ear99/merge_requests/178 on 5/7/2019 that should address the build errors.  Next: Watch for no build errors caused by this on SPARC CDash site and then close this issue ...

## Description

While n

[2019-05-07 23:00] bartlettroscoe commented on #5132
@kyungjoo-kim, since this was your commit, can you please consult with someone on the SPARC team (or me) on how to adjust client code for this change?  In the SPARC code, it was taking the array, computing the max, of the elements and then dividing by the sqrt() of the number of rows in the matrix.

From the patch in commit a88e5ce841909c2c8097b913efa698785b107a8f it looks like these arrays always

[2019-05-07 23:01] bartlettroscoe commented on #5098
@kddevin asked:

This is an Ifpack2 issue.  See #5132.

[2019-05-07 23:19] kyungjoo-kim commented on #5132
A while ago, I talked to @micahahoward that Ifpack2 solver will change the norm interface but we do not discuss about specific way to change Ifpack2 and SPARC. The change is finally included in Ifpack2 by my last Pr.

Briefly explaining the reason to change the interface
- Previous (1 year ago), we compute individual norm per residual vector. However, the solver use a stopping criteria collecting

[2019-05-07 23:28] bartlettroscoe commented on #5132
@kyungjoo-kim, the obvious change results in 6 failing SPARC tests.   Basically I replaced:

[code]

with:

[code]

and

[code]

with:

[code]

where `btdc_` is a smart pointer to an `Ifpack2::BlockTriDiContainer` object.

I am wondering if the new failing SPARC tests (after making this change) are do to other changes pull in and not just this one simple change?

If anyone is going to fix this, pl

[2019-05-08 00:00] kddevin commented on #5098
Thanks, @bartlettroscoe

[2019-05-08 01:36] jjellio opened #5133 "Trilinos: Avoid Circular Link Dependencies"
## Enhancement
@trilinos

Several issues keep cropping up that are related to circular dependencies in libraries or poor link order (e.g., libB.a depends on libA.a, but is linked as libA.a libB.a

A standard approach for handing these issues is to wrap libraries inside a 'linker group'.

E.g., See Intel's Link Adviser (this is how MKL handles circular dependencies in their lib)

To handle this, we

[2019-05-08 08:41] mayrmt opened #5135 "MueLu: regionMG residual is 2x as large as expected at region interfaces"
## Bug Report
@trilinos/muelu

### Description
Here's a brief summary provided by @rstumin:
"In particular, I am doing a 2 region example on a 13 x 13 mesh .... so there is just one interface. Along this interface the composite residual is  2x of what I expect it to be. Specifically, I initialize x to be 0 ... so I am expecting the composite residual to be r = b - A x = b. I've attached rhs.mm and

[2019-05-08 10:38] #5127 closed

[2019-05-08 14:35] mayrmt commented on #4085
Since we use the `Driver_Structured_Region.cpp` now (and will also put 3D capabilities in there), this issue is obsolete. Closing.

[2019-05-08 14:35] #4085 closed

[2019-05-08 14:58] bartlettroscoe commented on #5133
See:

* https://en.wikipedia.org/wiki/Acyclic_dependencies_principle
* https://www.youtube.com/watch?v=gQx4HV9s_h0

Note that languages like Python and Java don't allow circular depends between modules/packages.

[2019-05-08 15:15] ikalash commented on #5044
So unfortunately we're still having build issues with Albany on the CEE, waterman, ride and NERSC.  It's a link error having to do with MueLu_ParameterListInterpreter.cpp.  You can click on any of the red boxes under the Albany builds to see details: http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany.  I'm not sure why things are fine on my Fedora workstation but not CEE.

We've had fail

[2019-05-08 15:20] prwolfe commented on #5120
I merged #5131 this morning and am testing this now in PR #5111 - Thanks everyone!

[2019-05-08 15:27] lucbv opened #5137 "MueLu: issue with gold files"
## Bug Report
@trilinos/muelu
@csiefer2 @cgcgcg

### Description
The nightly build that tests the Kokkos OpenMP refactor with `std::complex<>` on trappist has a couple test failures:
[code]

Here is the offending screen output:
[code]

This is most likely due to the merge of PR #5123 although I checked and it did rebase the kokkos-complex gold files. I am not sure what happened...
Interestingly, `

[2019-05-08 15:32] mhoemmen commented on #4159
@hkthorn should be the one to make the final decision, but I'm OK with disabling the test everywhere for now.  The person who wrote that solver might be coming back this summer, so they may have a chance to fix it then.

[2019-05-08 15:42] csiefer2 commented on #5137
Yeah, that's a little weird.  I thought the rebase worked.

[2019-05-08 15:45] mhoemmen commented on #5132
@kyungjoo-kim @micahahoward I need to do some other stuff today, but I can take this if you're too busy.

[2019-05-08 15:47] csiefer2 commented on #5044
I can make the waterman build of the MueLu tests fail using Albany's Trilinos configure.  They seem to fail in similar ways.  I'll see what I can do with that.

[2019-05-08 16:01] ikalash commented on #5044
Thanks @csiefer2!  Please keep me posted.

[2019-05-08 16:02] bartlettroscoe commented on #5132
@mhoemmen said:

As soon as I can verify that the merged MR:

* https://cee-gitlab.sandia.gov/sparc/sparc-ear99/merge_requests/178

has resolved the build errors in the SPARC Trilinos Integration testing builds, we can address the new failing tests in a separate issue (first as a SPARC JIRA issue since these are failing SPARC tests).

Now that I have done the work to address the immediate build er

[2019-05-08 16:12] mhoemmen commented on #5133
@jjellio Just curious -- what's a concrete example of Trilinos having circular link dependencies?

[2019-05-08 18:04] csiefer2 commented on #5044
#5140 is the configure time error we discussed.

[2019-05-08 21:15] KineticTheory commented on #4936
FWIW - I'm seeing a nearly identical error in Thyra (I'm using trilinos-12.14.1 sources). I'm using gcc-7.3.1 and cuda-10.1 on a x86_64 machine with volta GPUs.

[code]
If I force `-fpermissive`, the build completes and is functional.

[2019-05-08 22:36] csiefer2 opened #5141 "Belos: Xpetra support not using correct #ifdef guards"
If Belos_ENABLE_Epetra=ON, Belos happily tries to build it's Xpetra adapters with Epetra support, regardless of whether or not Xpetra_ENABLE_Epetra=ON.

This is weird corner easy enough to fix, and I'll fix it.  I just mostly wanted this as a reminder.

[2019-05-08 22:47] csiefer2 commented on #5044
See #5141 for a related issue.

[2019-05-08 23:31] mhoemmen commented on #4936
It's literally `const_cast<MV*>(this)`.  It's ugly, but legal.

If working around compiler bugs is urgent, send me an e-mail with an expression of urgency and I'll prioritize.

[2019-05-09 14:09] csiefer2 commented on #5044
The cdash server is still down, so all PRs are blocked :(

[2019-05-09 14:57] csiefer2 commented on #5141
#5144

[2019-05-09 17:47] spdomin opened #5146 "Muelu seemingly hangs on a O(1000) KNL/HSW node Nalu simulation"
## Bug Report
@trilinos/muelu

### Description
I am running large-scale low-Mach runs  on both KNL and HSW at the ~500+ node count. For KNL, I use 64 ranks/node while on HSW, 32. Threading is not active, however, SIMD is.

My ASC V&V and LSCI case is a non-isothermal flow. After a successful momentum solve using SGS/GMRES, the Muelu portion hangs just after the banner report for the initialization

[2019-05-09 17:54] tjfulle commented on #5117
Hmmm, after fixing the build errors (see branch tjfulle/Trilinos@c6d04b22) associated with `DynamicProfile`, I get a link error:

[code]

[2019-05-09 18:41] kddevin commented on #5146
There was a subtle Zoltan2 bug that expressed itself either as a hang or a segfault in an MPI_Allreduce.
It was fixed in March.  If you have an old Trilinos, perhaps it is the cause of your trouble.
#4669

[2019-05-09 19:17] spdomin commented on #5146
@kddevin, thank you for the info. I am rebuilding the code base with the latest Trilinos version and will report back ASAP.

[2019-05-09 20:21] csiefer2 opened #5147 "Framework: Cuda PR testing fails all tests (PR Testing Blocked)"
Something is seriously messed up with the Cuda testing as part of the autotesting system.  *All* cuda tests are failing.

All PRs will likely be blocked until this is fixed.

https://github.com/trilinos/Trilinos/pull/5144

[2019-05-09 20:22] csiefer2 commented on #5147
@trilinos/framework @jwillenbring @prwolfe @william76

[2019-05-09 20:47] jhux2 commented on #5146
@trilinos/muelu

[2019-05-09 20:52] spdomin commented on #5146
Okay, my latest KNL 1000 node element-based job is also hanging:

Nalu reports the following in the log file: Trilinos 12.17-g7396a09ea6

As noted before, the pure edge-based scheme is running, however, timings look way, way off. For example, the setup time reported 120 seconds (luckily only performed once in this static mesh configuration) while taking 20 the steps took eight hours (timed out).

[2019-05-09 21:01] jhux2 commented on #5146
@kddevin Since MueLu's setup is finishing (I think, though I haven't seen the actual output yet), I don't think this is the problem.

[2019-05-09 21:15] vbrunini opened #5148 "Ifpack2: Build errors in BlockTriDiContainer with float enabled."
## Bug Report

@trilinos/Ifpack2

### Description
[code]
and more of similar forms.

### Steps to Reproduce
1. SHA1:  cbb3aff10d4a55f56bb00cca6cdad6cb85d24f09
1. Configure script:
[code]

[2019-05-09 21:16] kddevin commented on #5148
@trilinos/kokkos-kernels

[2019-05-09 23:19] mhoemmen commented on #5148
@Mark-E-Hamilton noticed this too.

[2019-05-10 14:11] william76 commented on #5147
#5124 as well...

@jwillenbring @prwolfe @ZUUL42

I had a quick glance over at the [cuda jobs on Jenkins][1] and they're definitely all failing.  Have any of you guys had a chance to look at it?

Is it possible it's an additive problem?  @bartlettroscoe are you seeing cuda errors with ATDM testing, or is this just affecting our Trilinos PRs?

[1]: https://ascic-jenkins.sandia.gov/job/trilinos-fold

[2019-05-10 14:17] bartlettroscoe commented on #5147
Something as gone wrong on 'ride'.  This is not a problem with the code.  If you look at the [ATDM Trilinos CUDA builds today](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2019-05-10&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=63&value2=cuda), it is clear the problem is with 'ride' and not Trilinos i

[2019-05-10 14:18] william76 commented on #5147
@bartlettroscoe Thanks!
I just saw a new email thread that Paul kicked off with ride-help and Si has responded.  =)

[2019-05-10 14:27] prwolfe commented on #5147
I saw failures in atom jobs as well. I put in a ticket with the ride admins, but it's possible that the wrapper script may be the common thread.

[2019-05-10 14:27] prwolfe commented on #5147
Otherwise I am with Ross - it's not at our end.

[2019-05-10 14:32] nmhamster commented on #5147
@prwolfe / @william76 / @bartlettroscoe - can you give me nodes you were running on please?

[2019-05-10 14:35] csiefer2 commented on #5147
Thanks for hunting this down!

[2019-05-10 14:39] prwolfe commented on #5147
I am seeing this on most of them

13, 16, 7, 12, 11, 10

Which is why I had thought of software changes…

-----------------------------------------------------------------------
Recommending policy and creating automation to
enable DevOps in the Trilinos and CTH organizations.

From: Si Hammond <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Friday, May 10, 20

[2019-05-10 14:52] nmhamster commented on #5147
@prwolfe / @william76 / @bartlettroscoe - there hasn't been any changes in the Ride environment (yet). The CUDA-10.1 upgrade is schedule so it will change shortly. I am a bit slammed today but this sounds like a high priority so I'll see if we can get a look at it.

[2019-05-10 14:58] bartlettroscoe commented on #5147
Looking at [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2019-05-10&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=63&value2=cuda&field3=site&compare3=61&value3=ride&field4=buildstarttime&compare4=83&value4=2019-05-01) it seems something changed between 5/8/2019 and 5/9/2019.   Unfortunately

[2019-05-10 14:59] bartlettroscoe commented on #5147
Sorry, a change on 5/1/2019 can't be it.  But there was some "maintenance" on several machines on 5/8/2019.  But 'ride' nor the jenkins-srn server were mentioned.

[2019-05-10 14:59] nmhamster commented on #5147
@bartlettroscoe - we are looking into this for you, but Ride will be in DST for the CUDA 10.1 upgrade most of the day.

[2019-05-10 15:04] vbrunini opened #5151 "MueLu: Cuda build errors with complex enabled"
## Bug Report
@trilinos/MueLu

### Description
[code]

### Steps to Reproduce
1. SHA1: cbb3aff10d4a55f56bb00cca6cdad6cb85d24f09
1. Configure script:
[code]

[2019-05-10 15:24] mhoemmen commented on #5117
@tjfulle Where does this link error occur? -- on what file?

[2019-05-10 15:25] mhoemmen commented on #5151
@trilinos/muelu

[2019-05-10 21:03] #5042 closed

[2019-05-10 21:11] mhoemmen commented on #5042
@GeoffDanielson Best practice is to let develop-to-master promotion close the issue automatically, because the commit that closes the issue has a phrase like `"fix #NNNN` in it (where `#NNNN` is the GitHub issue number to close).

[2019-05-11 00:24] mhoemmen commented on #5148
I got Ifpack2 to build by adding the following code to `Ifpack2_BlockTriDiContainer_def.hpp`, after the includes and before `namespace Ifpack2`:
[code]

[2019-05-11 00:42] mhoemmen commented on #5148
@ajpowelsnl @Mark-E-Hamilton @rrdrake @sebrowne This issue blocks Sierra Trilinos integration.  PR #5154 proposes a temporary fix.  It is blocked by #5147 (PR testing is broken for likely non-Trilinos reasons).

[2019-05-11 18:10] ikalash opened #5156 "Albany build issue on Ride due to undefined references in MueLu"
We're encountering a build error on Ride when building Albany in our nightlies against Trilinos.  It looks like there are undefined references due to MueLu:
[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=84588

Curiously enough, it doesn't happen on waterman.

@trilinos/muelu

[2019-05-11 20:01] nmhamster commented on #5156
@ikalash - Ride has potential issues on the system. We are investigating.

[2019-05-11 21:48] nmhamster commented on #5147
@bartlettroscoe / @prwolfe / @william76 - I think we have root caused the issue on Ride. This affects CUDA9.2 and 10.1 builds. The details are rather laborious to go into, so I will try to save your weekend time for something more interesting. There is a fix which the admins will need to put in place when the DST work continues on Monday. I'll do some shake out testing after than to confirm we are

[2019-05-12 03:00] nmhamster commented on #5033
@srajama1 / @bartlettroscoe - I spent a few days on and off looking at this. The error which is being generated comes from some weird handling of the `strtok` functions. Essentially, the functions around line 416, are generating `NULL` strings which are passed to `atoi` and the function seg-faults. All of this should be happening, so I had wondered if we had a bug in this code (although it seems p

[2019-05-12 03:20] nmhamster commented on #5033
@srajama1 / @bartlettroscoe - I have reported our characterization to the UCX development team (https://github.com/openucx/ucx/issues/3580) to see if we can get some guidance on how best to debug the issue from the UCX perspective.

[2019-05-13 02:20] srajama1 commented on #5033
@nmhamster We appreciate the help in debugging with these painful low level issues.

[2019-05-13 12:28] prwolfe commented on #5147
Si,

Thanks for the update. I appreciate the effort this must have taken to run down.

-----------------------------------------------------------------------
Recommending policy and creating automation to
enable DevOps in the Trilinos and CTH organizations.

From: Si Hammond <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Saturday, May 11, 2019 at 3:49 PM
To:

[2019-05-13 13:43] prwolfe commented on #5120
Looks like we still have a circular dependency in mule and mule_ign. I dug a bit and am going to just set the circular dependency as this covers a lot in the constructors.

[2019-05-13 14:08] mhoemmen commented on #5156
@ikalash also the Ride issue is blocking PR testing so we are highly motivated :)

[2019-05-13 14:16] nmhamster commented on #5156
@mhoemmen - understood. We are working on it .. promise.

[2019-05-13 14:18] csiefer2 commented on #5151
FYI - PRs are blocked right now #5147

[2019-05-13 14:31] mhoemmen commented on #5156
@nmhamster I know you care & are working hard so don't worry :D

[2019-05-13 15:18] akhilPotla97 commented on #4571
I have a Ubuntu 16.04 machine, same issue.

[2019-05-13 15:53] kyungjoo-kim commented on #5148
@vbrunini @mhoemmen Thank you for reporting error. Let me fix this problem today.

[2019-05-13 16:04] csiefer2 commented on #5156
#5147

[2019-05-13 16:32] prwolfe commented on #5120
My testing shows that adding the circular dependencies to the CMakeLists.txt file works in Tribits, but will fail in Sierra builds.  The error I am currently seeing is

`[ 94%] Linking CXX executable Stokhos_TpetraCrsMatrixMPVectorUnitTest_Serial.exe
../../../muelu/src/libmuelu_lgn.a(MueLu_IsorropiaInterface.cpp.o): In function `MueLu::IsorropiaInterface<int, int, Kokkos::Compat::KokkosDeviceWrapp

[2019-05-13 16:49] srajama1 commented on #4571
Why would this be a problem in Ubuntu ? Is there maximum character limitation on Ubuntu as well ? I thought this was a Windows only problem.

[2019-05-13 16:57] kddevin commented on #5120
This is probably outside the scope of this discussion, but I'll ask anyway.
Does MueLu still  need / use an Isorropia interface?  Does MueLu use things in Isorropia that aren't in Zoltan2?

[2019-05-13 17:05] tjfulle opened #5161 "Tpetra: Tpetra_Experimental_BlockMultiVector link errors"
## Bug Report
@trilinos/tpetra

### Description
`Tpetra_Experimental_BlockMultiVector.cpp` should not exist in the source tree since the relevant `Tpetra_Experimental_BlockMultiVector` source are ETI generated.  The presence of `Tpetra_Experimental_BlockMultiVector.cpp` in the source tree has lead to link errors for me in recent days.

### Steps to Reproduce
1. Configure with TpetraCore enabled
1.

[2019-05-13 17:06] tjfulle commented on #5161
See comment https://github.com/trilinos/Trilinos/issues/5117#issuecomment-491003454 for link error

[2019-05-13 17:27] bartgol commented on #5079
Pinging in case some of the Rythmos folks did not see it yet.

[2019-05-13 19:33] tjfulle opened #5164 "Tpetra: Allow CrsMatrix import/export to change its graph's structure"
## Enhancement
@trilinos/tpetra

PR #4147 allows import/export operations to  change the structure of a `CrsGraph`.  Importantly, the user cannot change the structure directly, the structure changes happen in internal `CrsGraph` methods.

@kddevin and @mhoemmen should `CrsMatrix` provide the same functionality?

The answer to whether or not `CrsMatrix` does provide the functionality will have impl

[2019-05-13 19:44] mhoemmen commented on #5148
@kyungjoo-kim Thanks! :-D  btw we can't actually fix this today, at least not until #5147 gets fixed.

[2019-05-13 20:23] KineticTheory opened #5166 "Kokkos: Fails to configure, arg list too long"
## Bug Report
@trilinos/kokkos (release 12.14.1)

### Description
I'm having trouble configuring kokkos as part of trilinos.  I am encountering the error:

[code]

### Steps to Reproduce
1. SHA1:  https://github.com/trilinos/Trilinos/archive/trilinos-release-12-14-1.tar.gz
1. Configure script:
[trilinos-12-14-1-cmake-command.txt](https://github.com/trilinos/Trilinos/files/3174646/trilinos-12-14-1-

[2019-05-13 20:29] KineticTheory commented on #5166
@warsa @berselius @rspavel -- You might be interested in tracking this.

[2019-05-13 20:35] ndellingwood commented on #5166
Is this particular to a CUDA build? In either case, try adding
`-DCMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS:BOOL=ON` to the cmake line.
This is documented [here](https://github.com/kokkos/kokkos-kernels/blob/4ee5f3c6dbd0981f6d8c7a9b2b1763439cb56039/README#L67-L86), but needs better visibility.

[2019-05-13 20:36] ndellingwood commented on #5166
@trilinos/kokkos-kernels @trilinos/kokkos

[2019-05-13 20:57] KineticTheory commented on #5166
@ndellingwood Thanks for that tip.  It may help once we get to the compile phase.  The current issue is at the cmake/configure stage.

[2019-05-13 20:58] tjfulle commented on #5161
Fixed in #5162.

[2019-05-13 21:08] ibaned commented on #5166
CC'ing @jjwilke

This seems to be triggered in the GNU Make portion anyways, which will be eliminated in a few months if everything goes according to plan...

[2019-05-13 21:32] jjwilke commented on #5166
This probably goes away with the new CMake. Spack adds a million things to the PATH - unecessarily for a CMake project.

Anyhow, the only way to fix this before the new CMake is to change the way `addpathl` is used.
I think the only reason the path gets updated is because of the TPLs.
We could change this to use `TPL_PATH=....` instead of dumping the whole path `PATH=...`.
Then inside the generate

[2019-05-13 21:37] mhoemmen commented on #5161
@tjfulle FYI, best practice is to let GitHub automatically close issues on develop-to-master promotion.  It does so if your commit says something like "Closes #NNNN".

[2019-05-13 21:38] tjfulle commented on #5161
Reopening per @mhoemmen's reminder of best practices.

[2019-05-13 21:40] mhoemmen commented on #5164
@tjfulle asked:

Yes, but only if the target CrsMatrix owns its graph.  If the target CrsMatrix was created with a const graph (the `RCP<const crs_graph_type>` constructor), then it does not have permission to change the graph.

[2019-05-13 21:41] jmgate commented on #4571
Filesystem dependent, I think.  This should tell you what's allowable.
[code]

[2019-05-13 21:42] mhoemmen commented on #5120
@prwolfe I took the liberty of reformatting your comment, by using triple back quotes to protect the error message.

[2019-05-13 21:43] csiefer2 commented on #5151
As per @crtrott , we need to use Kokkos::complex instead of std::complex wherever this is happening.

[2019-05-13 21:44] mhoemmen commented on #5161
Thanks @tjfulle ! :-)  btw it only works if the commit message says something like that.  If it doesn't, you'll need to close manually on develop-to-master promotion.

[2019-05-13 22:04] kyungjoo-kim commented on #5148
@vbrunini  The PR is merged. Could you please check that the problem is resolved ?

[2019-05-13 23:09] vbrunini commented on #5148
The fix resolved my issue, thanks.

[2019-05-14 00:16] mhoemmen commented on #5148
@prwolfe @rrdrake @ajpowelsnl FYI

[2019-05-14 00:16] mhoemmen commented on #5151
`Kokkos::ArithTraits<std::complex<T>>::val_type` is `Kokkos::complex<T>`.

[2019-05-14 00:45] bartgol opened #5168 "Stratimokos: Belos LOWS factory throws when re-using the same LOWS"
## Bug Report
@trilinos/stratimikos

### Description
I _think_ there may be an issue when the same LOWS is reused multiple times, at least for the case `SOLVER_TYPE_PSEUDO_BLOCK_GMRES`. The `setParameters` method is called multiple times on the belos solver, and in `BelosPseudoBlockGmresSolMgr.hpp` this causes (if the proper inputs are used) to call `impConvTest_->defineScaleForm(...)` multiple ti

[2019-05-14 00:57] YingzhouLi commented on #4927
How should I check wehther matlab muelu is generated correctly?

[2019-05-14 03:57] warsa commented on #5166
KT,

For sure, thanks.

Jim

--
Jim Warsa
Transport Methods Section
Computational Physics and Methods Group, CCS-2
Computer, Computational and Statistical Sciences Division
Los Alamos National Laboratory
505-667-0214

________________________________
From: Kelly (KT) Thompson <notifications@github.com>
Sent: Monday, May 13, 2019 2:29 PM
To: trilinos/Trilinos
Cc: Warsa, James S; Mention
Subject: Re

[2019-05-14 09:36] #4951 closed

[2019-05-14 09:36] #5106 closed

[2019-05-14 12:20] sconde commented on #5079
Perhaps @ccober6, @rppawlo, @ikalash can comment?

[2019-05-14 12:55] prwolfe commented on #5120
I spent enough time yesterday trying to move this class from libmuelu to libmuelu_lgn to believe it is not feasible. Basically it touches enough other stuff that I'm not comfortable re-structuring someone else's code that far.  I think this needs to go back to the muelu team to work.

[2019-05-14 15:38] mhoemmen commented on #4951
@rrdrake @ajpowelsnl FYI

[2019-05-14 15:40] mhoemmen commented on #5168
@trilinos/stratimikos (since OP can't tag)

[2019-05-14 16:07] bartlettroscoe commented on #5168
Looks like we need to add some unit tests for this use case.

[2019-05-14 16:13] ikalash commented on #5079
I think I noticed this at some point and had a discussion with @rppawlo about it, but can't remember now the details.  Roger, do you remember?

[2019-05-14 16:20] rppawlo commented on #5079
I don't remember the details. Tried to look through the git log, but didn't find much. At some point I think we decided to change the parameter list format but had a ton of code using the old format and left both around for backwards compatibility.

[2019-05-14 16:29] bartlettroscoe commented on #5033
@nmhamster, do you think these issues are likely to be triggered in the ATDM APP codes?  I guess as soon as we get updated CUDA 10.1 envs on 'ride' and 'waterman' we can find out.  Until then, we don't really know if this an urgent show-stopper or not, right?

[2019-05-14 16:32] ikalash commented on #5079
When I commented, I was looking at the question about W_op vs. W, not the title of the issue .  I think "Rythmos Solver" is a wrapper around Rythmos.  I seem to remember that Rythmos Solver is more general than Rythmos - there are some things you can't call through Rythmos, but you can through the Rythmos Solver.  My guess is all the relatively new tests use Rythmos Solver, and one could switch al

[2019-05-14 17:07] jhux2 commented on #5120
@prwolfe Can I use the steps in your comment [above](https://github.com/trilinos/Trilinos/issues/5120#issue-441226200) to reproduce the static link issue?

[2019-05-14 17:21] agsalin commented on #5079
Yes, some history here. One of the lists (Rythmos I presume) was created early on for Piro to parse in order to set up a Rythmos solver. Later, Rythmos developed its own parameter parsing capability, so we created a sublist that could just be sent to Rythmos to parse itself. I think there are a few things needed by Piro still (invert mass matrix, matrix free options) that need to be a level higher

[2019-05-14 17:29] prwolfe commented on #5120
Yes - if you rebase the branch onto develop you will get the previous 2 fixes. Alternately you can just start with develop and use "-DBUILD_SHARED_LIBS=OFF" in your config to get that change.

Thanks!

[2019-05-14 17:30] ikalash commented on #5079
@agsalin - thanks, what you wrote is consistent with my recollection.  I would say Rythmos Solver encompasses Rythmos.  Things like mass lumping / inversion you need Rythmos solver for, like Andy said.

[2019-05-14 19:51] bartgol commented on #5079
Thanks for the info. I'll go ahead and close.

[2019-05-14 19:51] #5079 closed

[2019-05-14 21:42] #5104 closed

[2019-05-14 21:42] #4511 closed

[2019-05-14 22:40] alanw0 opened #5174 "Tpetra: compile error in FECrsMatrix unit-test"
## Bug Report
@trilinos/\<PackageName\>

### Description
What went wrong?  What should have happened?  Do you have an idea what might
fix things?  How has this bug affected you?  What are you trying to accomplish?
What specifically must we demonstrate to call this work complete?

### Steps to Reproduce
1. SHA1:  b3a8dc8e2e66aaba0f949ac7775a49129712d68 (develop branch)

/path/Trilinos/packages/tpet

[2019-05-14 23:07] mhoemmen commented on #5174
@alanw0 Best practice is to surround error messages in triple back quotes, so that GitHub does not reformat the error message incorrectly.  This is why I can't see the error message correctly.  In particular, the Scalar type doesn't show, because it's in angle brackets, that GitHub tries to treat like an HTML tag.  I will show it again below:
[code]
The test is trying to build with `Scalar=long`.

[2019-05-14 23:08] alanw0 commented on #5174
ok thanks Mark.

[2019-05-14 23:10] mhoemmen commented on #5174
@trilinos/tpetra The problem is that the test tries to instantiate the test for `Scalar=GlobalOrdinal`.  This is because the test uses the `TPETRA_INSTANTIATE_SLGN` macro:
https://github.com/trilinos/Trilinos/blob/e4ab0c3295994554ce4bc4ba5015d2012677f904/packages/tpetra/core/test/FECrsMatrix/FECrsMatrix_UnitTests.cpp#L369

The easy fix is to use `TPETRA_INSTANTIATE_SLGN_NO_ORDINAL_SCALAR`.  I will

[2019-05-15 14:12] fryeguy52 opened #5179 "Tpetra, Xpetra, Amesos2, MueLu, and PanzerAdaptersSTK_* tests failing in many ATDM cuda 9.2 builds with Kokkos view bounds errors starting before 2019-05-15"
## Bug Report
CC: @trilinos/panzer, @kddevin (Trilinos Data Services Product Lead), @srajama1 (Trilinos Linear Solver Data Services), @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

Since PR  #5346 was merged on 6/7/2019 which fixed a file read/write race in the test, there has only been one failing Panzer test on any ATDM Trilinos platform as

[2019-05-15 14:17] csiefer2 commented on #5156
This work on the nightlies?

[2019-05-15 14:47] rppawlo commented on #5179
Panzer has not changed recently. According to empire testing (thanks @jmgate !), these are the candidate commits that could have caused the new panzer failure.

[code]

[2019-05-15 14:59] lucbv opened #5180 "MueLu: nightly configuration error on trappist no_int_no_serial build"
## Bug Report
@trilinos/muelu

### Description
The nightly build: `Linux-GCC-5.3.0-OPENMPI_1.10.1_RELEASE_DEV_MueLu_NO_INT_NO_SERIAL_OPENMP` is failing at configure time on `trappist`, this is due to recent changes in the Xpetra CMake logic.
The configuration of that nightly build should be modified to take into account the new Xpetra logic.

[2019-05-15 14:59] eric-c-cyr opened #5181 "Teko: Add a configuration option for turning on/off debug output, leave it off by default"
## Enhancement
@trilinos/teko

Currently Teko is noisy and outputs lots of debugging information. Create a configuration option to turn it off or on. I propose to leave it off by default.