[2020-03-17 17:18] mhoemmen opened #7034 "ROL: Including Tpetra_MultiVector_def.hpp exposes Sierra to build warnings"
## Bug Report
@trilinos/rol @trilinos/tpetra @dridzal @gregvw

### Description

ROL includes `Tpetra_MultiVector_def.hpp`:
[code]
Doing so exposes Sierra to build warnings like #7032.  This hinders Sierra (@rrdrake @sebrowne) from adopting GCC 8.3.0.  Sierra enables ETI, and in an ETI=ON build, downstream code would not normally see those `_def.hpp` headers.  Also, including these headers risks re

[2020-03-17 17:24] dridzal commented on #7034
@mhoemmen , can you give us a possible replacement of that include line?  Can the choice of template arguments be automated?  Hopefully we won't have to hard-code/guess what the users may be building with ...

[2020-03-17 17:24] sahirbutt opened #7035 "Build error on MacOS ( ld: symbol(s) not found for architecture x86_64)"
I get the following error while trying to build Trilinos (with Apple clang version 11.0.0 (clang-1100.0.33.17)).

`[ 82%] Built target rythmos
[ 82%] Built target ThyraCore_DiagonalQuadraticResponseOnlyModelEvaluatorUnitTests
[ 82%] Built target ThyraCore_DummyModelEvaluator_StepSizeUnitTests
[ 82%] Linking CXX executable ThyraEpetraAdapters_TestThyraDebugHang.exe
[ 82%] Built target ThyraCore_Sim

[2020-03-17 18:03] mhoemmen commented on #7035
@trilinos/thyra

[2020-03-17 18:03] mhoemmen commented on #7034
@dridzal
[code]

[2020-03-17 18:03] mhoemmen commented on #7034
@dridzal wrote:

Use the defaults.

[2020-03-17 18:11] bartlettroscoe commented on #7035
@sahirbutt, not sure how to get access to a system to reproduce this.  Currently Trilinos does not have much testing against OSX.

[2020-03-17 18:16] dridzal commented on #7034
@mhoemmen , you mean an empty template argument list like <>?

[2020-03-17 19:05] mhoemmen commented on #7034
@dridzal Yes -- you may omit template arguments, in which case the defaults will be used.  For example:
[code]

[2020-03-17 19:09] dridzal commented on #7034
@mhoemmen , got it, thanks!  I think this is what we already do in most cases.

[2020-03-18 08:34] kliegeois opened #7038 "PyTrilinos: Impossible to import Teuchos"
## Bug Report
@trilinos/PyTrilinos

### Description
After compiling and installing Trilinos/develop, it is impossible to import Teuchos:

[code]

Even when the `PYTHONPATH` is set to include the installed directory.

It is, however, possible to import Teuchos if the `PYTHONPATH` is set to include the build directory.

I think that the PyTrilinos Makefiles might not install the Teuchos/__init__.py

[2020-03-18 09:15] #7016 closed

[2020-03-18 09:15] #7029 closed

[2020-03-18 14:42] bartlettroscoe opened #7041 "MueLu_MeshTyingBlocked_SimpleSmoother_MPI_4 failing in every ATDM Trilinos build starting 2020-03-17"
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area??

[2020-03-18 14:50] mayrmt commented on #7041
@kliegeois

[2020-03-18 15:02] cgcgcg commented on #7041
Looks like some factories are not specified, and we're building kokkos factories by default. I tried fixing this yesterday, but it didn't seem to work. Will try to reproduce this locally now.

[2020-03-18 15:36] bartlettroscoe commented on #6933
@ccober6, sorry I have not gotten to this yet.  Swamped by other things trying to keep other people working.  Let me know when you need this more urgently so I can get this done.

[2020-03-18 15:41] jhux2 commented on #7035
@ccober6 develops on Mac OS, he might have some information?

[2020-03-18 16:15] jwillenbring commented on #6934
@bartlettroscoe Would this be a good first use case for the refactor that would make TPLs indistinguishable from packages? Then Compadre would not have to implement a second build system and it might give the effort a shot in the arm?

[2020-03-18 16:34] lucbv commented on #7041
@cgcgcg a temporary measure could be to make this test experimental, after all I do not think that @kliegeois is finished working on this...

[2020-03-18 16:39] kliegeois commented on #7041
Sorry for that issue, I did not encounter this issue during the PR process or on my computers.

[2020-03-18 16:49] bartlettroscoe commented on #7041
So this test passed in PR testing?

[2020-03-18 16:52] kliegeois commented on #7041
Yes, the PR is #6931 and the CDash is [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=PR-6931-test&field2=buildstarttime&compare2=84&value2=NOW).

[2020-03-18 16:53] bartlettroscoe commented on #6934
@jwillenbring, how would the refactorings/extensions in https://github.com/TriBITSPub/TriBITS/issues/63 and https://github.com/TriBITSPub/TriBITS/issues/299 help here?  If you treat Compadre as a TPL w.r.t. Trilinos, someone else still has to build and install it.  I think the goal here is to have Compadre built as part of the Trilinos CMake project and installed along with all of the other Trilin

[2020-03-18 17:28] cgcgcg commented on #7041
Should be fixed now.

[2020-03-18 17:35] kliegeois commented on #7041
Thanks @cgcgcg !

[2020-03-18 18:59] kddevin opened #7045 "Tpetra: Add MatrixMarket reader that uses 2D Cartesian matrix distribution"
## Enhancement
@trilinos/tpetra

Tpetra's MatrixMarket reader assumes a 1D (i.e., row-wise) matrix distribution.  @ndellingwood would like a reader that allows 2D Cartesian matrix distribution.

The current MatrixMarket reader in Tpetra reads the matrix entirely on processor 0, constructs a CrsMatrix on processor 0, distributes relevant entries to each process, and constructs a distributed CrsMatr

[2020-03-18 19:24] mhoemmen commented on #7045
We've proposed before the idea that if you know the row Map, Process 0 could send batches of entries directly to the process that owns them.  @aprokop looked into that too, I think.  This would work for any distribution; for 2-D distributions, each receiving process would need to reject entries not in its column Map ("column Map filtering"), so you would end up sending and receiving more data than

[2020-03-18 19:34] bartlettroscoe commented on #7041
@cgcgcg, wow, thanks for the fast fix in PR #7042!

I would like to understand how this test passed in all the Trilinos PR builds but was able to fail in all of the ATDM Trilinos builds.  What is different about the PR build configurations from the ATDM Trilinos configuration that allows this test to behave differently?

[2020-03-18 19:43] cgcgcg commented on #7041
@bartlettroscoe The difference is that the ATDM build are setting `MueLu_ENABLE_Kokkos_Refactor_Use_By_Default` and the autotester isn't.
Setting the variable to `ON` means that we will attempt by default to run kokkos code, unless specified otherwise e.g. via input xml.

I believe we discussed switching it always to `ON` for OpenMP/Cuda backends, but refrained from it until the kokkos code path h

[2020-03-18 19:48] bartlettroscoe opened #7046 "Set MueLu_ENABLE_Kokkos_Refactor_Use_By_Default=ON in at least on Trilinos PR build"
The ATDM Trilinos configuration sets `MueLu_ENABLE_Kokkos_Refactor_Use_By_Default=ON` while none of the Trilinos PR builds do.  That allows failures like occurred in #7041 to slip into the ATDM Trilinos testing.

It would be nice if at least on of the Trilinos PR builds set  `MueLu_ENABLE_Kokkos_Refactor_Use_By_Default=ON`.  Alternatively, it might be nice to take one of the Trilinos PR builds and

[2020-03-18 19:49] bartlettroscoe commented on #7041
I added #7046 to request on of that Trilinos PR builds set this option to `ON`.

[2020-03-18 20:01] kddevin commented on #7045
The challenge (I learned in my stand-alone reader) is that the rowMap and colMap describing the Cartesian distribution are not necessarily the rowMap and colMap that we want to use in the CrsMatrix.  So we use some sort of rowMap or colMap to determine which nonzeros a processor keeps based on the Cartesian layout, then build a new rowMap (and let fillComplete compute a new colMap) based on the ac

[2020-03-18 20:18] mhoemmen commented on #7045
@kddevin This relates back to the general problem we've faced in `*petra` for years, namely how to distribute sparse graphs and matrices by entries instead of by rows and columns.  Doing this would require a way to map from a global index pair `i,j` to a single global index that could go into a `Map`.  If we could do that, then we could let `DistObject::getMap()` differ from `Crs{Graph, Matrix}::g

[2020-03-18 20:57] mhoemmen opened #7047 "Framework: Replace CUDA 9 PR build with CUDA >= 10.1"
## Bug Report
@trilinos/framework @trilinos/tpetra @rrdrake @sebrowne @micahahoward

### Description

CUDA 10 differs quite a bit from CUDA 9.  For instance, CUDA 10.1 deprecates several CUDA run-time functions, and several functions in cuSPARSE, and introduces new functions that could help Trilinos and kokkos-kernels developers.  CUDA 10.1 also appears to fix bugs in CUDA 9.2, as we've observed i

[2020-03-18 21:42] ndellingwood commented on #7047
In case this is helpful for those installing newer versions of CUDA, the CUBLAS lib and packaging for CUDA >= 10.1 has changed to be outside of the Cuda Toolkit install, [see comment here](https://forums.developer.nvidia.com/t/cublas-for-10-1-is-missing/71015/2)

I ran into this after installing CUDA 10.2 on my Ubuntu machine at home, where libcublas was previously found at $(CUDA_PATH)/lib64/libc

[2020-03-18 22:14] mhoemmen commented on #7047
@ndellingwood wrote:

This appears to be an issue with our CUDA 10.2 install.  It keeps looking for libcublasLt.so and not finding it.  @vbrunini @sebrowne @rrdrake

[2020-03-18 23:05] rrdrake commented on #7047
@mhoemmen do you mean "module load sierra-devel/nvidia" is broken?

[2020-03-18 23:35] mhoemmen commented on #7047
@rrdrake just `sierra-devel/nvidia-10.2.89-openmpi-4.0.2`.  Other modules (in particular `sierra-devel/nvidia-10.1.243-openmpi-4.0.2`) work fine for me.

[2020-03-19 00:12] dridzal commented on #7034
@mhoemmen , I tried removing _def from the include, but now I get errors about incomplete types.

@gregvw , I don't have time to handle this right now, could you please take a look and fix as soon as you can (it's an issue for Sierra).  If I use

`
#include "Tpetra_MultiVector.hpp"
`

I get errors like

`
../../packages/rol/adapters/tpetra/test/vector/test_03.cpp: In function ‘int main(int, char**

[2020-03-19 00:52] gregvw commented on #7034
@mhoemmen I don't see a Tpetra_Multivector.hpp. There is a _fwd, _decl, and _def.hpp in tpetra/core/src. Could we not just include the declaration in rol/adapters and include the definition in the test.cpp files?

[2020-03-19 01:13] dridzal commented on #7034
My guess is that it is auto-generated by the build system.  I tried using it, and it exists, but there is something in the template arguments that somehow requires the _def version.  Not sure I understand it.  Maybe @mhoemmen can shed some light on why _def would work and the other one wouldn't.

[2020-03-19 08:39] #7041 closed

[2020-03-19 12:49] jwillenbring commented on #1468
I don't think this is relevant anymore. If it is, please reopen.

[2020-03-19 12:49] #1468 closed

[2020-03-19 13:52] jhux2 commented on #6971
We've resolved this by having the MueLu nightly tests pull from a fork that is updated at the same time every evening.  This basically the same process as before, but not using the machine "software".

[2020-03-19 13:53] bartlettroscoe commented on #7041
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-03-19&filtercount=4&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=testname&compare3=61&value3=MueLu_MeshTyingBlocked_SimpleSmoother_MPI_4&field4=testoutput&compare4=94&value4=Error%3A%20Remote%20JSM

[2020-03-19 14:07] cgcgcg commented on #6971
Looking at the dashboard, it seems that all ascic builds are still trying to pull from 'software'..

[2020-03-19 14:12] jhux2 commented on #6971
@cgcgcg Good catch.  I don't see those in the drivers subdirectory, so maybe those are jenkins controlled.

[2020-03-19 14:14] #6971 closed

[2020-03-19 14:16] bartlettroscoe commented on #6861
CC: @jjellio

FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-03-19&filtercount=6&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Specialized&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=status&compare3=62&value3=passed&field4=testoutput&compare4=95&value4=Error%20initializing%20RM%20connection.%20Exiting

[2020-03-19 14:20] jhux2 opened #7050 "Framework: ascic test machines pull from repo that is no longer updated"
## Bug Report
@trilinos/framework @bartlettroscoe

### Description
The `ascic` dashboard testing machines are testing a version of Trilinos that is no longer updated.  ~~This includes some PR testing.~~ EDIT: I was wrong, the ascic PR testing machines are being updated.  It's just some specialized and experimental builds.

The machines are pulling from a repo on software.sandia.gov that hasn't bee

[2020-03-19 14:45] bartlettroscoe commented on #7050
FYI: I can't do anything about this so I assigned the "Framework Tasks" label.

[2020-03-19 15:36] mhoemmen commented on #7034
@gregvw wrote:

Yes.  It's created in the build directory and installed.  If you're using Vector, try including `Tpetra_Vector.hpp`.

[2020-03-19 18:42] pyt-viper commented on #7038
A fix for this problem is contained in PR #7052.  Currently under review/testing.

[2020-03-19 19:32] rppawlo commented on #6987
@tjfulle - thanks! Sorry for delay in testing the fix - the panzer test is now passing!

[2020-03-19 19:57] srajama1 opened #7053 "TriBITS: Need to specify dependencies between sub packages"
TriBITS does not allow dependencies between sub packages requiring round about ways to specify dependencies. See for example the dependencies between ShyLU-DD and ShyLU. We have to do this because of TriBITS.

@bartlettroscoe

[2020-03-19 20:39] bartlettroscoe commented on #7053
@srajama1, this goes back many years but adding the ability for subpackages to intermeingle dependencies with other subpackages would massively increase the complexity of TriBITS.

Let's talk about what is trying to be achieved with the ShyLU, ShyLU_DD and ShyLU_Node TriBITS packages and what will fix that problem and help users avoid problems encountered by trying to do:

[code]

and them getting

[2020-03-19 21:45] srajama1 commented on #7053
-DTrilinos_ENABLE_ShyLU=ON \
  -DTrilinos_ENABLE_ShyLU_DD=OFF \

This option is not supported, SHYLU_DD is required for ShyLU and users should just enable ShyLU or not. This issue is request for TriBITS, if you don't want to do it you can close it won't fix. I will have it as a documentation as why we need to jump through hoops in ShyLU.

[2020-03-19 22:06] bartlettroscoe commented on #7053
As the maintainer of TriBITS, I feel this allowing subpackages put in dependencies on subpackages both upstream and downstream adds a level of complexity, breaking hundreds of TriBITS packages, and adds significant configure-time expense (because you need to sort all of your subpackages by their dependencies) is not worth benefit we get from it.  Again, we should talk about this and see if what is

[2020-03-19 23:42] gregvw commented on #7034
@dridzal @mhoemmen I haven't been able to produce a build error for our ROL/Tpetra examples using GCC 8.3.0 with ETI and -Werror -Wall. Replacing Tpetra_MultiVector_def.hpp with Tpetra_MultiVector.hpp in the ROL headers does lead to the Denis listed above. I was able to get a clean build and passing tests by including the _def file in the rol/adapters/tpetra/tests/vector/*.cpp files, however, I do

[2020-03-19 23:49] dridzal commented on #7034
@gregvw can you please try including both Tpetra_MultiVector.hpp and Tpetra_Vector.hpp in your build (instead of the one _def file)?  Do you still get the error I got?  If you don't, then I can push that fix and sync with Trilinos.  Since we don't really have a way to replicate this warning, we'll have to do some trial and error.

[2020-03-19 23:54] gregvw commented on #7034
@dridzal Yes, including both of those files in ROL_TpetraMultiVector.hpp looks like it works as well. So unless told otherwise, this looks like a 2 line fix.

[2020-03-19 23:57] dridzal commented on #7034
Excellent!  @mhoemmen , I'll include these two files instead of the one _def file and sync ROL with Trilinos.  Since we can't test this (we don't get the original warning with gcc 8.3.0), Sierra developers will have to let us know.

[2020-03-20 00:57] pyt-viper commented on #7038
Fixed merged.

[2020-03-20 00:57] #7038 closed

[2020-03-20 00:58] #6607 closed

[2020-03-20 03:27] coti opened #7057 "General: Compiling with f18"
Hello,

I am trying to compile Trilinos in an LLVM-based environment. I use clang, clang++ and f18. I use gfortran as f18's backend.

I am configuring it with:
[code]

I tried both with and without ``` -DTPL_ENABLE_Netcdf=OFF```.

I have:
[code]

If I use ``` -DCMAKE_Fortran_COMPILER=`which gfortran` ``` , it seems to work fine.

If I use ```  -DCMAKE_Fortran_COMPILER=`which f18` ```, I get an err

[2020-03-20 04:10] mhoemmen commented on #7034
@dridzal @gregvw Thanks for doing this!  Not including `_def.hpp` files is the right thing to do.

[2020-03-20 04:10] mhoemmen commented on #7034
@rrdrake @sebrowne FYI

[2020-03-20 06:15] kliegeois commented on #7038
Thanks @pyt-viper !

[2020-03-20 10:09] jjellio commented on #7035
Since no one else has chimed in...

I would do this:
1.  execute `make -j1 VERBOSE=1`, that remove the parallel build errors
2. copy/paste the full compile line (should be something starting with /path/to/mpicxx - skip whatever CMake is prepending)
3.  paste the line, run it yourself, make sure you get the same error
4.  modify the command, adding `-Wl,-v` or `-Xlinker -v` (I am not sure what the

[2020-03-20 11:09] sahirbutt commented on #7035
1. I get the same error with j -1
2, 3. Done, still same error
4. So I ran:
`mpicxx  -Wl -v -Wno-unused -I/usr/local/include -stdlib=libc++  -std=c++11  -O3 -DNDEBUG -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk -Wl,-search_paths_first -Wl,-headerpad_max_install_names  @CMakeFiles/ThyraEpetraAdapters_TestThyraDebugHang.dir/objects1.rs

[2020-03-20 11:21] jjellio commented on #7035
It looks like your build is using response files `@CMakeFiles/ThyraEpetraAdapters_TestThyraDebugHang.dir/objects1.rsp`

I'm not how well tested that is. Somewhere in the belch of text, there should be Trilinos libraries listed (libthyra) atleast, but I don't see it.  Mac linkers don't search the same paths as Linux ones.

Can you post what is inside the response file? I don't use macs, and the lin

[2020-03-20 12:23] sahirbutt commented on #7035
The response file `build/packages/thyra/adapters/epetra/test/CMakeFiles/ThyraEpetraAdapters_TestThyraDebugHang.dir/objects1.rsp` contains:

`CMakeFiles/ThyraEpetraAdapters_TestThyraDebugHang.dir/TestThyraDebugHang.cpp.o CMakeFiles/ThyraEpetraAdapters_TestThyraDebugHang.dir/__/__/__/__/teuchos/comm/test/UnitTesting/Teuchos_StandardParallelUnitTestMain.cpp.o`

[2020-03-20 12:40] jjellio commented on #7035
I don't know what is supposed to be happening here.

Your link line for that unit test has no Trilinos libraries on it. That seems really off.

What lead you to enable `CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS:BOOL=ON` ?

There seems to be a history of back and forth over whether to use it. E.g.,
https://github.com/trilinos/Trilinos/issues/2141

I would try turning that off, and seeing if that help

[2020-03-20 13:09] jjellio opened #7058 "Percept: IBM XL doesn't like that you place ETI before class specializations"
## Bug Report
@trilinos/percept

### Description
IBM XL does not like that ETI definitions are placed before additional class specializations. The fix is to move all ETI stuff to the end of the file. (see the offending file below). This was observed with XL v16 with CUDA enabled (the error is from XL not nvcc)

### Steps to Reproduce
Challenging, you need to build on ATS2 w/IBM XL.  I have a makes

[2020-03-20 13:32] rppawlo commented on #7058
I've cc'd the percept team. They snapshot percept into trilinos, so we would need to get any changes into the internal development repo first.

[2020-03-20 14:28] jjellio opened #7059 "Intrepid2 and Kokkos: IBM XL 16 masquerades as Clang, which leads to a bad date with nvcc"
## Bug Report
@trilinos/intrepd2 @trilinos/kokkos @crtrott @kyungjoo-kim

### Description
I've been trying to get a Trilinos build using XL + Cuda on ATS2.  Using XL16 (the latest on Rzansel), I have an issue with one Intrepid2 include. The build is your run of the mill ATDM configured Trilinos.

Trilinos is from EMPIRE's fork, and it is a few weeks old.

I think the error is actually from NVCC.

[2020-03-20 14:30] bartlettroscoe opened #7060 "Mass srun startup failures on CTS-1 build on 'attaway' showing [unable to read "/etc/slurm/slurm.conf": Permission denied]"
## Description

It the build `Trilinos-atdm-cts1-intel-18.0.2_openmpi-2.0.3_openmp_static_dbg` yesterday (testing day 2020-03-19) on 'attaway' show [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&parentid=5311194), we saw 146 tests failing showing the error:

[code]

as shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-03-19

[2020-03-20 14:31] bartlettroscoe commented on #7060
I am going to address this by just filtering out tests that match `srun: error: s_p_parse_file: unable to read "/etc/slurm/slurm.conf": Permission denied` from our TrilinosATDMStatus cdash_analyze_and_report.py drivers.

[2020-03-20 14:41] jjellio commented on #7058
Thanks Roger I'm happy to test a patch.

[2020-03-20 14:52] jjellio commented on #7060
I've pointed this out to the testbed team.

[2020-03-20 15:12] jhux2 opened #7061 "MueLu: building tutorial does not generate proper executables"
@trilinos/muelu

Reported by a user:

"I am trying to work through the MueLu tutorial https://trilinos.github.io/pdfs/MueLu_tutorial.pdf and ran into an error when doing the first example:

![image](https://user-images.githubusercontent.com/12970120/77177047-23f87680-6a82-11ea-86ae-bb12ef4ba97a.png)

The example complains that it cannot find the executable, MueLu_tutorial_laplace2d.exe. I noticed

[2020-03-20 16:27] bartlettroscoe commented on #6202
The build `Trilinos-atdm-white-ride-cuda-10.1-gnu-7.2.0-release-debug` was disabled 2 weeks ago as described in #5713.  Therefore, I will close this and 'wontfix' since there is no reason to fix this.

[2020-03-20 16:27] #6202 closed

[2020-03-20 16:49] bartlettroscoe opened #7063 "Random test failures on 'mutrino' showing [srun: error: task 0 launch failed: Error configuring interconnect]"
Just got a random test failure on the 'mutrino' build ` Trilinos-atdm-mutrino-intel-opt-openmp-KNL` in in the test ` Sacado_tradoptest_12_RE2_MPI_1` as shown [here](https://testing-dev.sandia.gov/cdash/testDetails.php?test=86292937&build=5313753) showing:

[code]

Don't know that I have seen this random test failure before.

We could filter out these failures from the TrilinosATDMStatus cdash_anal

[2020-03-20 19:16] mayrmt commented on #7061
@jhux2 Have MueLu tests and examples been enabled via configure options `-D MueLu_ENABLE_TESTS:BOOL=ON` and `-D MueLu_ENABLE_EXAMPLES:BOOL=ON`? The tutorial's [README lists them as required](https://github.com/trilinos/Trilinos/blob/master/packages/muelu/doc/Tutorial/README#L4).

This should generate the executables. Yet, there's another known issue due to changes in screen output when attempting

[2020-03-20 19:53] jhux2 commented on #7061
@mayrmt Thank you for the suggestions, I'll forward them to the person who asked.

[2020-03-22 10:30] sahirbutt commented on #7035
I removed `CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS:BOOL=ON`
(I was getting same error before I enabled it. I added it just to check if it helps, but it doesn't)
I ran the following line (where the error is generated from):

`mpicxx  -Wl -v -Wno-unused -I/usr/local/include -stdlib=libc++  -std=c++11  -O3 -DNDEBUG -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Develop

[2020-03-22 12:15] jjellio commented on #7035
Thanks, atleast that vets that the libraries are being passed through.

Can you change the `mpicxx -Wl -v` copy/paste, to `mpicxx -v -Wl,-v`  I think it is just giving you verbose clang output, not necessarily verbose linker output. The modified one will tell the compiler to be verbose and the linker to be verbose.

Also, can you post `mpicxx -showme`

I'll try to help as much as I can, but I neve

[2020-03-22 12:27] kliegeois opened #7067 "Stokhos: Errors while compiling with ensemble reduction"
## Bug Report
@trilinos/stokhos

### Description
If the develop branch is configured and compiled with ensemble reduction, compiling errors occur:

[code]

@etphipp, I think it could be great if one of the PR automatic test build can be configured with ensemble reduction set to on. It would be a way to ensure that the develop branch can always be compiled with and without ensemble reduction.

###

[2020-03-22 15:03] bartlettroscoe commented on #6861
There was an interesting manifestation of the problem.  As shown in:

* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg/51/consoleFull

the update, configure, build, and test results were missing for this build due to the {{lrun}} command failing with:

[code]

Now, there were also mass jsrun failures when the tests ran as wel

[2020-03-22 16:49] sahirbutt commented on #7035
Thanks for your help!
I am using clang from Apple Xcode but openmpi is from homebrew.

the output from `mpicxx -showme` is:

`clang++ -I/usr/local/Cellar/open-mpi/4.0.3/include -L/usr/local/opt/libevent/lib -L/usr/local/Cellar/open-mpi/4.0.3/lib -lmpi`

and from `mpicxx -v -Wl,-v ...` is:

`Apple clang version 11.0.0 (clang-1100.0.33.17)
Target: x86_64-apple-darwin19.3.0
Thread model: posix
Instal

[2020-03-22 20:40] jjellio commented on #7035
It simply looks like it can't find some system library (probably C++).

Can you look for the libraries.  On my mac, they are in `/usr/lib`
[code]

You compile line actually has `-lc++ -lSystem`, so the c++ lib is getting passed, but I don't think Cmake is adding `/usr/lib` to the search path. Perhaps Mac's don't search that folder by default (how utterly stupid if they don't)

Usually, you don't n

[2020-03-23 16:05] etphipp commented on #7067
Thanks Kim!  The changes in #7068 look good to me, but I would like @trilinos/framework to comment on the PR testing change.  I worry that build will go away soon and this change will get lost.

[2020-03-23 16:10] kliegeois commented on #7067
@etphipp wrote:

I understand your worries. The version of the compiler for the build used to test the ensemble reduction has no particular importance for me providing that at least one build tests it. We can definitely use another build not to lose the modification.

[2020-03-23 16:56] sahirbutt commented on #7035
`find /usr/lib -name "*c++*"` shows same libraries.
By adding `-L/usr/lib  -Wl,-rpath,/usr/lib` to the build line, I still get the same error, but something is not okay, the linker output looks like:
`@(#)PROGRAM:ld  PROJECT:ld64-530
BUILD 18:57:17 Dec 13 2019
Library search paths:
	/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/lib
	/usr/lo

[2020-03-23 18:22] kyungjoo-kim commented on #7059
@CamelliaDPG @mperego I think that it is dangerous to mimic what kokkos does in intrepid2. Kokkos as a fundamental programming model, it is nightly tested with almost all compilers and also it can change the logic when it finds a corner case for different compilers. Intrepid2 on the other hand, we cannot provide such maintenance capabilities. My recommendation is to use kokkos deprecate macros ins

[2020-03-23 18:47] jhux2 commented on #6877
@cgcgcg is testing a initial cut of s-step Chebyshev.

[2020-03-23 19:06] CamelliaDPG commented on #7059
@kyungjoo-kim Those are good points.  I was attempting with this code to generate deprecation warnings for typedefs, which was not something the Kokkos macros supported IIRC, but in any case, I believe we should be able at this point to simply remove the deprecated typedefs, as well as the macros they refer to.  (We were not aware of any usage of the deprecated typedefs outside Intrepid2.)  Any ob

[2020-03-23 19:16] jjellio commented on #7035
The frustration is that the linker is not showing *which* symbol is not found.

My guess is you are getting into a bad spot from mixing homebrew w/Apple tools.  When I've used a mac, I've used the apple stuff to install Homebrew, and from that point forward I've used homebrew to install clang/gcc toolchains.

You can also get missing symbols from ETI gone wrong.

Have you blown away the build dire

[2020-03-23 19:17] mperego commented on #7059
I agree. I think that most of the deprecated typedefs have been removed in PR  #6894.
Sorry that deprecating the typedefs ended up in  more work than benefits.

[2020-03-23 19:20] jjellio commented on #7059
A wrinkle in alot of this is that XL supports the Clang frontend. So it rightly claims to be clang, yet in reality is is not the clang backend.  Adding in GPUs makes it even murkier.

Maybe Kokkos could help? What you need are better macros indicating what the real compiler is... and I think even Kokkos would get turned around w/XL.

It's worth adding, that with the hack I made, Trilinos *does* co

[2020-03-23 20:38] CamelliaDPG commented on #7059
@mperego, you're right; #6894 did eliminate all the calls to the problematic macros.  All that remains is to delete the macros themselves from `Intrepid2_Utils.hpp`.  I'll make an issue for that.

[2020-03-23 21:13] mayrmt commented on #7035
I had similar troubles in the past. I don't have any configure or build logs to share anymore. Finally, I ended up switching to gcc.

[2020-03-23 22:09] CamelliaDPG opened #7070 "Intrepid2: Remove problematic deprecation macros"
## Code Cleanup
@trilinos/intrepid2

As discussed in #7059, there are compilers/architectures that don't play nicely with the typedef deprecation warning macros added to Intrepid2 a while ago.  As also noted there, the typedefs we were warning about aren't actually in use any longer, as of last week.  This issue is to remove those macros, to avoid the temptation to use them again.

[2020-03-23 22:17] CamelliaDPG opened #7071 "Intrepid2: Some Bases Don't Have Unique Names"
## Bug Report
@trilinos/intrepid2

### Description
As discussed in #7048, some of the new bases in Intrepid2 don't override the base class's `getName()` method.  Since some Intrepid2 methods rely on a unique name for caching of basis-related values, this can result in incorrect computations.

This issue is therefore to add in those `getName()` implementations.  For the new "derived" basis implemen

[2020-03-24 05:43] kliegeois commented on #7067
The issue is closed by #7068.
Thanks for your inputs @etphipp !

[2020-03-24 05:43] #7067 closed

[2020-03-24 16:46] mhoemmen commented on #7035
@jjellio wrote:

`kokkos-kernels`' CMake prints that you need to enable this, if you have complex arithmetic enabled.  It's because kokkos-kernels generated really long file names that made the build or link line too long on some platforms.  Not sure if they have fixed that.

[2020-03-24 17:22] mhoemmen commented on #1914
This has been in Trilinos for a long time: https://github.com/trilinos/Trilinos/blob/4e2aa2f8354d3826292a7e68dda3875a0d1ca161/packages/teuchos/core/src/Teuchos_Time.cpp#L129

[2020-03-24 17:22] #1914 closed

[2020-03-24 17:43] ndellingwood commented on #7035
This PR reduced filename length, not sure if it's been confirmed that it addresses the issue https://github.com/kokkos/kokkos-kernels/pull/424

[2020-03-24 17:48] jjellio commented on #7035
This is not a line length problem.  I think it is due to mixing Homebrew with Apple's crippled clang.

If they would print a decent error message, then we could resolve it.

[2020-03-24 17:52] mhoemmen commented on #7035
@jjellio Just trying to encourage removal of unnecessary CMake options : - )

[2020-03-24 18:29] mhoemmen opened #7072 "Teuchos: Encapsulate Kokkos profiling region + Teuchos::TimeMonitor"
## Enhancement
@trilinos/teuchos @rppawlo

### Summary

We want an interface that abstracts over Kokkos profiling regions, `Teuchos::TimeMonitor`, stack timers, and all sorts of timing things.  We want this for the following reasons:

  1. (Seriously, do I need to explain why encapsulating N different timer libraries in one interface is a good idea?)
  2. Kokkos profiling regions currently incur o

[2020-03-24 18:30] mhoemmen commented on #512
It's been nearly 4 years so I'm closing this issue.  Please feel free to reopen if it's still a problem.

[2020-03-24 18:30] #512 closed

[2020-03-24 19:40] csiefer2 commented on #7072
Already working on a Tpetra::Details::ProfilingRegion band-aid for this.

[2020-03-24 19:42] mhoemmen commented on #7072
@csiefer2 `Teuchos::StackedTimer` doesn't use `Teuchos::Time`, though.  Perhaps that would be the one fix for this issue.

[2020-03-24 19:44] csiefer2 commented on #7072
@mhoemmen Correction. I'm using Teuchos::TimeMonitor (which is what MueLu does), which plays nicely with Teuchos Timers, either flat or stacked.

[2020-03-24 19:46] csiefer2 commented on #7072
(As an aside, a nice, unified timing interface, implemented in Teuchos, sounds nice).

[2020-03-24 19:50] ibaned commented on #7072
![](https://imgs.xkcd.com/comics/standards.png)

[2020-03-24 19:54] csiefer2 commented on #7072
@ibaned So, so true...

[2020-03-24 22:26] bartlettroscoe commented on #7072
We don't need "the standard" interface, just the Trilinos standard interface.

[2020-03-24 22:36] ccober6 commented on #6933
@bartlettroscoe I have been on "vacation" getting my house ready for sale.  I would like to get this moving sooner than later as EMPIRE could use the restart capability for their milestone.  Where are you on this, and how much effort is left?

[2020-03-24 22:37] ccober6 commented on #6933
@gsjaardema pinging Greg so he is in the loop.

[2020-03-24 23:58] bartlettroscoe commented on #6933
@ccober6, I have done some of the design work but there is a couple of uninterrupted days of programming to get this done.   I pull put this at the top of my personal ToDo list.

[2020-03-25 13:27] rppawlo commented on #7072
A quick comment. The StackedTimer was never meant to be used internally in Trilinos packages. It requires an explicit stop() so it is not exception safe. It was meant to be complementary to TimeMonitor to get out the extra information about levels. It was added to trilinos so that it could include time monitor information. There are ifdefs to disable StackedTimer independent of TimeMonitor if Stac

[2020-03-25 14:30] csiefer2 commented on #7072
TimeMonitor is what we use in MueLu, so that's fine by me.  I like how you can use it with StackedTimer (via Teuchos::TimeMonitor::setStackedTimer() ) or not, your choice.

Nobody seems to really care about exception safety, it seems like the vast majority of exceptions issued in Trilinos aren't caught and lead to direct termination anyway.

[2020-03-25 14:51] bartlettroscoe commented on #7072
There are some exceptions that are used for exceptional (i.e. rare) flow control that are not just errors that should always abort a program.  For example, see the exception `CatastrophicSolveFailure` thrown from the function [`Thyra::LinearOpWithSolveBase::solve()`](https://docs.trilinos.org/dev/packages/thyra/doc/html/classThyra_1_1LinearOpWithSolveBase.html#ac7c5b4c8553833778e88e3fb627c4009).

[2020-03-25 15:01] bartlettroscoe commented on #7072
Yup, there was an attempt at that.  See "GCG 19: Use Teuchos::Timer and Teuchos::TimeMonitor" in the draft document "Trilinos C++ Coding and Documentation Guidelines".  It says:

information, always namespace the names of timers to avoid name collisions, and allow
users to control when they are enabled or not [Strongly Recommended, Interoperability,
Common Look & Feel]: To properly support timers

[2020-03-25 15:14] bartlettroscoe commented on #6799
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-02-24&end=2020-03-24&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-release&field2=testname&compare2=61&value2=KokkosCore_UnitTest_Cuda_MPI_1&field3=site&compare3=61&value3=ride) and [this query](https://testing

[2020-03-25 15:24] bartlettroscoe commented on #6799
@ndellingwood, sorry I missed this comment of yours from before.

Yes, we can disable just those unit tests for just the ATDM Trilinos builds (or just the CUDA builds) as described in:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#disabling-failing-tests

I think we likely just want to disable these for all ATDM Trilinos CUDA builds?  IF that is the case, the instru

[2020-03-25 15:30] prwolfe commented on #6294
I am working with Spack this week trying to fix this issue. The basic build looks like this:

Add a packages.yaml file indicating that Spack should use the installed utilities. The files has the following:

Build with:
- spack install scotch@6.0.3%intel@19.0.5.281 +int64

Use the resulting module instead of the semi scotch module:
- module use /scratch/prwolfe/trilinos/spack/share/spack/modules/li

[2020-03-25 15:54] bartlettroscoe commented on #6799
FYI: As shown [here](https://testing-dev.sandia.gov/cdash/testDetails.php?test=6013&build=5326157), we also saw this test:

* `KokkosCore_UnitTest_Cuda_MPI_1`

failing today 2020-03-25 in the build:

* `Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug`

showing:

[code]

That suggests that these unit tests should be disabled in all of that ATDM Trilinos CUDA builds for the ti

[2020-03-25 16:18] mhoemmen commented on #7072
@rppawlo wrote:

I'm sad about that as a purist, but I'm not so worried about that in practice.  My main concern is the lack of a common interface.  Apps won't be able to take advantage of all the tools going into Kokkos profiling, if their timing interface doesn't use Kokkos' interface.  Multiple redundant interfaces hinder fixing bugs and plugging in new features, and they make life hard for new

[2020-03-25 16:47] ndellingwood commented on #6799
@bartlettroscoe that would be great thanks, I pinged the corresponding kokkos issue as well with your comment.

[2020-03-25 16:56] bartlettroscoe commented on #6799
@ndellingwood, okay, I assigned this issue to me for now and will work to get these unit tests disabled.

[2020-03-25 17:21] ccober6 commented on #6318
Closing in favor of new design in #6711

[2020-03-25 17:21] #6318 closed

[2020-03-25 17:36] ccober6 commented on #6538
Superseded by #6711

[2020-03-25 17:36] #6538 closed

[2020-03-25 19:35] #6914 closed

[2020-03-25 22:14] keitat opened #7076 "Teuchos: How is TEUCHOS_DEPRECATED defined?"
## Question
@trilinos/\teuchos\>

I am trying to write my own CMAKE script (without Tribit) for teuchos.  Now I observe preprocessor macro **TEUCHOS_DEPRECATED** in packages/teuchos/core/src/Teuchos_ConfigDefs.hpp.   How is this macro defined?  I cannot find it neither in Teuchos_Config.h nor TeuchosCore_config.hpp.

[2020-03-26 16:52] jhux2 commented on #7076
@trilinos/teuchos

[2020-03-26 17:02] bartlettroscoe commented on #7076
@keitat, why?

[2020-03-26 17:05] rppawlo commented on #7076
That's a very dangerous thing to try. I would recommend against that. Teuchos has quite a few defines that are set by autogenerating include files at configure time when cmake interrogates the system (all subpackages in trilinos do this).  After you configure trilinos, look in the build directory. Here's what's generated from my laptop configure:

[code]

[2020-03-26 17:12] keitat commented on #7076
This is a suggestion from Michael Wolf to see how we can build a few basic packages (teuchos and tpetra).

[2020-03-26 17:15] bartlettroscoe commented on #7076
@keitat, wou can get Teuchos to build and install as its own CMake project by just pointing to an installed TriBITS.  TriBITS has been updated several times in the past to get that working.  Otherwise, that is a big waste of time in my opinion.  Taking on another CMake build system will not be maintainable.  You are just touching the tip of the iceberg here.

[2020-03-26 17:23] mhoemmen commented on #7076
@keitat wrote:

This is a terrible idea.  Sierra just got rid of its "let's rewrite Trilinos' build system incompletely and only update it when the linker fails" build system for Trilinos.  Ask them how fun it was to maintain.

@rrdrake @sebrowne See what happens when you don't watch people carefully?  They go off and do insane things ;-)

[2020-03-26 17:34] keitat commented on #7076
The idea is not intended to change the build system for the current Trilinos.  It is intended for an exploration activity in xSDK-ECP.  In ECP, many users have complained that Trilinos' build system is deviating from the standard CMAKE.

I tried CMAKE's  configure_file() to generate all configure files.  Interestingly, "TEUCHOS_DEPRECATE" was not defined in these files, and I thought it is given b

[2020-03-26 17:37] keitat commented on #7076
Yes, I understand it is a crazy thing.   It is not intended for changing the main Trilinos development, just for exploration to see how the modern CMAKE itself can handle a few of Trilinos' basic packages.

[2020-03-26 20:32] asteyer opened #7082 "Tempus: Prototype of New Interface for FE"
## Enhancement
@trilinos/\<tempus\>

Modify the forward Euler stepper to support the new AppAction interface (see Issue #6711)

[2020-03-26 22:23] rppawlo commented on #7058
@jjellio - Brian C. put up a PR an hour ago and it has already been merged into develop. Let us know if anything else is needed.

[2020-03-26 22:39] rppawlo commented on #7076
@keitat - in the autogenerated Teuchos_config.h file I see the following at the bottom of the file:
[code]

[2020-03-26 22:58] cgcgcg opened #7083 "Ifpack2: s-step Chebyshev"
## Enhancement
@trilinos/ifpack2

Current state of s-step Chebyshev, Kokkos profiler on 32 GPUs on lassen with Tpetra distributor timers and @jjellio's MPI profiler.

[sStep-timing.log](https://github.com/trilinos/Trilinos/files/4390419/sStep-timing.log)

[classical-timing.log](https://github.com/trilinos/Trilinos/files/4390418/classical-timing.log)

[2020-03-26 23:48] keitat commented on #7076
Thanks!  I talked to @bartlettroscoe about leveraging the modern CMAKE and Tribits.   I am redirecting the work to demonstrate/comapre between Tribits+CMAKE and Spack+CMAKE.

[2020-03-26 23:48] #7076 closed

[2020-03-27 00:52] jhux2 commented on #7083
@bathmatt @csiefer2

[2020-03-27 01:29] keitat commented on #7076
This is auto-generated from Teuchos_config.h.in and its adjacent CMakeList.txt.  Interestingly, the entire macro is auto-generated outside Teuchos.  Original, .in file is just a single line.

[2020-03-27 13:17] rppawlo commented on #7076
@keitat - it is generated in teuchos. At the top level of each package there is a call to a tribits macro.  If you look in Trilinso/packages/teuchos/CMakeLists.txt, it defines TEUCHOS_DEPRECATED_DECLARATIONS with:
[code]
This is the power of tribits. We can set the default for deprecated warnings for all trilinos packages and then override the default on a package-by-package basis. The same macros

[2020-03-27 15:21] bathmatt commented on #7083
So, it is odd that we don't see a large reduction in calls to Tpetra::DistObject::doTransfer inside of the chebyshev, it only went from 21000 to 15000, so only a 25% reduction.  Are we really doing what we think we're doing?

The math kernel is about the same, 5.5s->5.7s

[2020-03-27 15:40] cgcgcg commented on #7083
Not quite sure what to make of that. We looked at the number of `MPI_Waitall`s (9000). This number makes sense: we call Chebyshev 3000 times as pre-smoother and 3000 times as post-smoother. Pre-smoothing has a zero rhs, so we only communicate the rhs data. Post-smoothing requires solution and rhs, and we currently do not fuse this communication since it would involve more memory.

[2020-03-27 21:41] cgcgcg commented on #7083
@bathmatt Figured out where the extra 6000 `doTransfer` are coming from. In the final step of a Chebyshev apply, we export from an overlapping solution vector into a non-overlapping one. This is a purely local operation, which is why we don't see any communication for it.

[2020-03-28 15:56] bartlettroscoe opened #7088 "Over 150 total failures of several MueLu tests failing in the majority of ATDM Trilinos builds showing "aggregation: phase3 avoid singletons" diffs starting 2020-03-27"
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area??

[2020-03-28 16:23] bartlettroscoe opened #7089 "SEACASIoss_pamgen_to_unstructured_cgns faining with diffs in all CUDA, clang, gnu, and intel ATDM Trilinos builds where it is run starting 2020-03-27"
CC: @trilinos/\<package-name\>, @\<product-area-lead\> (Trilinos \<product-area-name\> Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: A

[2020-03-28 16:28] bartlettroscoe commented on #7089
I think it is pretty obvious that the reason these failures were allowed to skip through PR testing is that CGNS is not tested in Trilinos PR testing.

@gsjaardema, I think until CGNS can get enabled in the Trilinos PR builds, it may be wise to go ahead and run some testing of SEACAS with the ATDM Trilinos builds yourself, at least for one platform.  For example, as described at:

* https://github

[2020-03-28 16:37] bartlettroscoe commented on #7088
Of the 42 total ATDM Trilinos builds currently being actively tracked, these failures occurred in 35 builds.

How does something like this slip through PR testing?

[2020-03-28 16:52] bartlettroscoe commented on #3862
FYI: These tests have been failing for almost 1.5 years.  I think it is time to disable them.

[2020-03-28 17:12] cgcgcg commented on #7088
That's most likely my commit.

[2020-03-28 17:13] bartlettroscoe opened #7090 "Test MueLu_ParameterListInterpreterTpetra_MPI_1 regularly randomly timing out in 'waterman' CUDA opt builds starting 2020-01-29"
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area??

[2020-03-28 17:18] bartlettroscoe commented on #7090
NOTE: This is likely caused due to overloading the GPU similar to #6329, #6801, #6804, and #6805.

Therefore, I will work to resolve this along with these others by getting the tests to run better on the GPUs as per:

* https://gitlab.kitware.com/snl/project-1/-/issues/100

and RP #6802

Assigning to myself and adding `ATDM Env Issue` label.

[2020-03-28 17:27] cgcgcg commented on #7088
I think #7046 would prevent that.

[2020-03-28 17:50] bartlettroscoe commented on #7046
CC: @cgcgcg

FYI: Another bunch of failures cased by not having  `MueLu_ENABLE_Kokkos_Refactor_Use_By_Default=ON` set in at least one PR build (see #7088).

@trilinos/framework, can we pick on of the PR builds to turn on `MueLu_ENABLE_Kokkos_Refactor_Use_By_Default=ON`?  Can someone (e.g. me) just pick one of the PR builds and set this?  For example, can I just turn this on in the CUDA PR build?

[2020-03-28 18:01] bartlettroscoe commented on #7046
@trilinos/muelu, as this option is being used by all of the ATDM APPs, is there a reason why this can't be made the default for MueLu?

[2020-03-30 12:37] jwillenbring commented on #7046
@bartlettroscoe

At first this sounded like something experimental to me, but upon closer inspection, it looks like this is what ATDM relies on, and possibly also pointing to functionality that Kokkos currently supports. If that is the case, if the CUDA build is the logical one to modify, go ahead and ask for a Framework team member review (me and/or others) and we can do this.

[2020-03-30 13:22] lucbv commented on #7088
Looking at the query today it seems that PR #7046 from @cgcgcg did improve the situation.

[2020-03-30 14:49] bartlettroscoe commented on #7088
As shown in [this query for today](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-03-30&filtercount=9&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=testname&compare3=65&value3=MueLu&field4=details&compare4=64&value4=Timeout&field5=status&compare5=62&value5=passed&field6=test

[2020-03-30 15:00] cgcgcg commented on #7088
@bartlettroscoe The intel builds have a configure error and don't compile.

[2020-03-30 15:06] bartlettroscoe commented on #7088
Okay, I see what is happening.  They have had configure failures since 2020-03-28 but the follow-up ctest -S driver on the compute node is running the test suite that is already sitting there.  Therefore, I think this is running a version of the tests from 2020-03-27.

I will work to get the ctest -S driver on the compute node to not run tests if the priory ctest -S driver that did the configure a

[2020-03-30 15:37] bartlettroscoe opened #7094 "ATDM Trilinos configure broken on all CTS-1 and TLCC-2 platforms starting 2020-03-28"
## Next Action Status

???

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-03-01&end=2020-03-30&filtercount=2&showfilters=1&filtercombine=or&field1=buildname&compare1=65&value1=Trilinos-atdm-tlcc2&field2=buildname&compare2=65&value2=Trilinos-atdm-cts1) all of the builds on 'cts1' and 'tlcc2' platforms have had configure failures

[2020-03-30 15:39] bartlettroscoe commented on #7094
The EMPIRE developers also noticed this and it seems that the basic Intel compilers are just broken.  One of them is submitting a bug report to the admins.

I am marking this as `ATDM Env Issue`.

[2020-03-30 15:58] jhux2 commented on #7057
@trilinos/framework @jwillenbring  Not sure who can answer this question.

[2020-03-31 16:34] TBird2001 commented on #6260
I'm commenting on behalf of the Xyce team. We appear to have a path forward for supporting C++14, so we will not be a blocker for this issue.

[2020-04-02 09:26] gvilanovac commented on #6996
@srajama1 I have performed the tests I told you.

I have used the following two meshes:

mesh | nElem | nPts | nDOF | NNZ
-- | -- | -- | -- | --
mesh_a | 386048 | 193536 | 580608 | 63956992
mesh_b | 1542144 | 772096 | 2316288 | 256126976

I have analyzed the time (in seconds) that mumps took to solve the linear system in three scenarios:
1. Sequential input of the matrix, as it is done in Amesos2;

[2020-04-02 14:39] bartlettroscoe opened #7112 "Add RUN_SERIAL test property to many ATDM Trilinos tests on CUDA builds to address timeouts"
I need to add option `<fullTestName>_SET_RUN_SERIAL=[ON|OFF]` to `TRIBITS_ADD[ADVANCED_]TEST()` to add the CTest `RUN_SERIAL` test property and use to mark many CUDA tests in Trilinos GitHub issues #7090, #6805, #6804, #6801

But first, we need to finish up and merge #6840 to first get the work spread out over the GPUs to see if that resolves some of these timeouts.

[2020-04-02 16:42] ikalash opened #7115 "ROL: extraneous print statements of 'Value norm'"
Looks like someone forgot to remove some print statements in ROL of 'Value norm' before pushing changes.

[code]

It's causing Albany performance tests to time out: https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=47740&build=349 .  Can you please remove the print statement?

@trilinos/rol

[2020-04-02 17:21] tzovas opened #7117 "zoltan2: Multijagged runtime error"
## Question
@trilinos/zoltan2

I am using zoltan2 as a library and use it to partition graphs and points sets.
When called with algorithm RCB, RIB or HSFC everything works fine.
When I call it with multijagged I get:

I guess I am not setting/converitng some data types correctly. I tried to follow
test/partition/mj_int_coordinates.cpp and MultijaggedTest.cpp.
(The first test run correctly even if

[2020-04-02 17:26] cgcgcg commented on #7117
@trilinos/zoltan2

[2020-04-02 17:32] MicheldeMessieres commented on #7117
@kddevin I can look into this later today.

[2020-04-02 19:42] cgcgcg commented on #3276
@trilinos/framework Looks like the autotester cuda build stopped posting.

[2020-04-02 19:51] cgcgcg commented on #7088
@bartlettroscoe Can this be closed?

[2020-04-02 20:05] jwillenbring commented on #3276
@cgcgcg Which PR are you referring to? I see that one is posted from this morning, and there are a few builds in progress that have been going for a very long time.

[2020-04-02 20:23] cgcgcg commented on #3276
Neither PR #7103 nor #7114 seem to be posting cuda:

https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=PR-7103-test&field2=buildstarttime&compare2=84&value2=NOW

https://testing.sandia.gov/cdash/index

[2020-04-02 20:24] bartlettroscoe commented on #7088
Looking at the results today so far shown [here](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=7&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=block&field3count=6&field3field1=testname&field3compare1=61&field3value1=MueLu_CreateOperatorTpetra_MPI_1&field3field2=testname&f

[2020-04-02 20:25] bartlettroscoe commented on #7088
Strangely, there is no "Close" button for this Issue so I can't close it.

[2020-04-02 21:09] ikalash commented on #7115
@mperego, git blame show you were the ones who put the print statement in, though it seems it was awhile ago (12/5/2019), so it's a bit surprising I'm just noticing it now.

[2020-04-02 21:13] jhux2 commented on #7088
Right there
[code]

[2020-04-02 21:14] mperego commented on #7115
Oh yeah, I know. Sorry. I forgot to remove it and I was waiting to have something more substantial  than that to do a PR. Anyway, I'm working on Piro/ROL next week and I'll make sure to fix it. Didn't expect it to cause any noticeable slow down.

[2020-04-02 22:40] ikalash commented on #7115
No problem.  Perhaps the slowdown is due to other things, now that you mention it.  Anyway, it would be good to remove the print statement at some point, when you have time.

[2020-04-02 22:45] kddevin commented on #7117
Thanks, @MicheldeMessieres

[2020-04-02 23:52] bartlettroscoe commented on #3276
It is official, 'ride' is down with no ETA to get it back up again.

Trilinos might think about getting access to some ascicgpuXX nodes on the CEE LAN to run PR testing.  It it would take many of those nodes to equal the power of 'ride'.

[2020-04-03 02:37] MicheldeMessieres commented on #7117
@tzovas You'll need to call `Tpetra::ScopeGuard tscope(&narg, &arg)`, usually done in the beginning of the program main. Multijagged was refactored to use Kokkos and the ScopeGuard calls Kokkos::initialize which Kokkos requires. This wasn't an issue before because Multijagged didn't used to have a Kokkos dependency.

@kddevin This is a backwards compatibility issue I had not considered. It seems t

[2020-04-03 16:14] tzovas commented on #7117
Thanx, that worked!

[2020-04-03 19:03] bartlettroscoe opened #7122 "Random tests failures on 'ats2' 'vortex' with no STDOUT/STDERR and return code 255"
CC: @e10harvey

I have been noticing random test failures on the 'ats2' 'vortex' builds where the test shows no output and the return value is 255.  For example, must today in the build:

* ` Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_dbg_cuda-aware-mpi`

we saw the test failures:

Site | Build Name | Test Name | Status | Details | Consec­utive Non-pass Days | Non-pass Last

[2020-04-03 19:34] kddevin opened #7123 "Trilinos::Initialize() or Trilinos::ScopeGuard() capability"
## Enhancement

Many packages (e.g., @trilinos/zoltan2, @trilinos/muelu) are adding dependence on Kokkos.  Thus, applications using them need to call Kokkos::initialize before using the package.  But users may not know that they now need to call Kokkos::initialize, especially if they are not using Kokkos directly.  Runtime error messages may not indicate what the real problem is (e.g., #7117 ).

O

[2020-04-03 19:42] tjfulle commented on #6987
Yep!

[2020-04-03 19:42] #6987 closed

[2020-04-03 21:26] csiefer2 commented on #7123
Is Zoltan2 using Tpetra under the hood in a way that isn't obvious to the user?

In the case of Ifpack2/Xpetra/MueLu the user is handing in a Tpetra object (if we're using Tpetra), so the initialize() call has to be done way before it gets to us...

[2020-04-03 21:46] bartlettroscoe commented on #7123
Can't we just add Kokkos initialization by default to [`Teuchos::GlobalMPISession()`](https://docs.trilinos.org/dev/packages/teuchos/doc/html/classTeuchos_1_1GlobalMPISession.html) if Kokkos is enabled?  There is already a bunch of code that calls that to initialize MPI (like for unit test harness, etc.).  The TeuchosCore subpackage where that exists already optionally depends on the KokkosCore su

[2020-04-03 22:59] bartlettroscoe opened #7125 "ATDM: Simplify finding and using TrilinosConfig.cmake"
This story is to make it easier for customers of Trilinos to find and installed `TrilinosConfig.cmake` file using `find_package(Trilinos)` when using the ATDM Trilinos configuration and also make it easier to use that Trilinos once it finds it.  It turns out that is not so simple currently (see the discussion in https://cee-gitlab.sandia.gov/EM-Plasma/EMPIRE/issues/1309#note_388706).

I talked wit

[2020-04-03 23:01] kddevin commented on #7123
@bartlettroscoe Conceptually, I don't mind adding Kokkos::Initialize to Teuchos::GlobalMPISession.  Aesthetically, initializing Kokkos in something called GlobalMPISession seems wrong, since Kokkos has nothing to do with MPI and, indeed, can be used in non-MPI applications.

The bigger issue is that applications don't have to call Teuchos::GlobalMPISession.  If one uses Tpetra::ScopeGuard, for ins

[2020-04-04 00:30] bartlettroscoe commented on #7123
@kddevin, okay this is targeted to users primarily, not code in Trilinos?  Is it the customer who is expected to call this thing or code inside of Trilinos itself?  I am guessing this will be at the top of the customer's `main()` function?

But the name "ScopeGuard" is a terrible name for something that read/writes `argv` and `argc`.  That name makes one thing of RAII (Resource Allocation Is Initi

[2020-04-04 00:32] bartlettroscoe commented on #7125
I have this implemented in the branch:

* https://github.com/TriBITSPub/TriBITS/tree/tril-7125-project-install-dir-and-more

(which includes the branches from PRs tribitspub/tribits#308 and tribitspub/tribits#311 to facilitate testing all together) which passed Travis CI testing as shown here:

* https://travis-ci.org/github/TriBITSPub/TriBITS/builds/670808701

[2020-04-04 00:34] bartlettroscoe commented on #7125
The TriBITS part is now done and pushed to TriBITS 'master' in TriBITS commit https://github.com/TriBITSPub/TriBITS/commit/a7e24049ea70d39f0c369ee6601ee4652e96e71d.

Now to implement the trivial ATDM Trilinos part.

[2020-04-04 00:55] bartlettroscoe commented on #7125
The PR for this is #7126.

[2020-04-04 22:57] lucbv opened #7129 "MueLu: improving region coarse grid smoother"
## Enhancement
@trilinos/muelu

The coarse composite operator does not need to be computed when a coarse grid smoother is used instead of a coarse grid direct solve. To improve performance we need to modify the logic around the coarse grid solver setup. Also adding an interface to use a different smoother on the coarse grid would allow to perform a stronger coarse grid solve compared to regular le

[2020-04-05 03:32] DeeDiveT opened #7130 "Error in installing trilinos-catalyst-ioss-adapter by spack: py-pillow requires python version 3.5:, but spec asked for 2.7.16"
## Bug Report
trilinos-catalyst-ioss-adapter%gcc

### Description
Hello, I'm trying to install `paraview` (one of dependencies of nalu-wind https://github.com/Exawind/nalu-wind) using the `spack` package manager which needs trilinos-catalyst-ioss-adapter%gcc to be installed.
But I met following errors:
[code]
Also, errors given in the nalu-wind installation script:
[code]
### Steps to Reproduce
 `

[2020-04-05 16:04] DeeDiveT commented on #5386
Hi @tjotaha, I have similar dependency issues with installing the  Trilinos IOSS Catalyst Adapter by spack, see https://github.com/Exawind/nalu-wind/issues/557. How about the progress now?

Thanks.

[2020-04-06 18:18] jhux2 commented on #3276
Any update on ride status or a replacement?  Is there another issue tracking this?

[2020-04-07 01:43] Tread84 opened #7135 "Installing Trilinos getting a random error on the install"
I have been trying to install Trilinos on my new linux box and I keep getting this error:

CMakeFiles/ThyraEpetraAdapters_TestThyraDebugHang.dir/TestThyraDebugHang.cpp.o: In function `ThyraEpetraMultiVector_HangingInParallelDebug_UnitTest::runUnitTestImpl(Teuchos::basic_FancyOStream<char, std::char_traits<char> >&, bool&) const':
TestThyraDebugHang.cpp:(.text+0x101b): undefined reference to `Thyra

[2020-04-07 02:28] mhoemmen commented on #6838
@bartlettroscoe You're the best! :-D

[2020-04-07 15:23] jmgate opened #7136 "TriBITS: Snapshot into Trilinos"
## Enhancement
@bartlettroscoe, could we snapshot TriBITS into Trilinos so Trilinos users could start taking advantage of the enhancements to `snapshot-dir.py`?

[2020-04-07 18:27] bartlettroscoe commented on #7136
@jmgate, should be addressed in PR #7138.   Please review and approve.

[2020-04-07 20:32] bartlettroscoe commented on #7136
@jmgate, PR #7138 has been merged.  Can you verify you have what you need and then close this issue?

[2020-04-07 22:07] cgcgcg commented on #6866
Can this be closed?

[2020-04-07 22:21] cgcgcg commented on #7046
@bartlettroscoe FYI #7139

[2020-04-08 13:45] jmgate commented on #7136
I can’t seem to VPN in this morning to test it out, but I can see that the `--exclude` option’s there, so I think we’re good.

[2020-04-08 13:45] #7136 closed

[2020-04-08 15:15] jhux2 commented on #7135
@trilinos/thyra @trilinos/epetra

[2020-04-08 15:22] bartlettroscoe commented on #7135
@Tread84,

It looks like this build issues related to this have appeared before:

* https://github.com/trilinos/Trilinos/issues?q=is%3Aissue+Thyra%3A%3ADefaultSpmdVectorSpace%3A%3Ainitialize+

What OS, compiler, etc. are being used?  Is this a Mac by any chance?

[2020-04-08 16:07] jhux2 commented on #7135
@bartlettroscoe OP reports "linux box", so likely not a Mac.

[2020-04-08 17:25] jwillenbring commented on #7047
@ZUUL42 is working on this activity. We are having some issues with 10.1 revision 243, but having better success with 10.1, revision 105. This may be due to system configuration more so than issues with CUDA itself.

[2020-04-08 21:51] ndellingwood commented on #7047
@jwillenbring @ZUUL42 does the issue have to do with CUBLAS? If so, after a certain revision of CUDA 10.1 the CUBLAS lib and packaging changed to be outside of the Cuda Toolkit, I have a link to more discussion in this comment in case that's helpful https://github.com/trilinos/Trilinos/issues/7047#issuecomment-600873240

[2020-04-09 16:24] ccober6 opened #7142 "Tempus: Add AppAction to DIRK Stepper"
## Enhancement
@trilinos/tempus

Add AppAction to DIRK Stepper, which will replace Observers.

[2020-04-09 21:21] ikalash opened #7149 "MueLu: issues with CUDA for Albany Land Ice problems starting 4/8/2020"
This is a spin-off from the following Albany issue: https://github.com/SNLComputation/Albany/issues/572 .  On 4/8/2020, we started having issues with a few Albany Land Ice tests that use the MueLu preconditioner:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=561

Here is the error for 2 of the problems:
``
 Kokkos::Impl::ParallelReduce< Cuda > requested too much L0 scrat

[2020-04-09 21:39] cgcgcg commented on #7149
@ikalash Do you have "use kokkos refactor" in your MueLu parameter list? If not, can you add
"use kokkos refactor" = false? We recently changed the default behavior, so we're now running on device by default.

[2020-04-09 21:40] ikalash commented on #7149
@cgcgcg : no, we do not.  I will add it and see if it resolves the issue.  @jewatkins this may be relevant to some of the cases you were looking at too.

[2020-04-09 21:59] jewatkins commented on #7149
This is actually what I figured happened. We see that error when it's set to true. We still need to debug what the real issue is so it should be fine to set it to false for now so we don't lose out on catching other errors.

[2020-04-10 16:59] ikalash commented on #7149
@cgcgcg : your suggestion solved the problem - thanks!

[2020-04-10 17:01] #7149 closed

[2020-04-10 17:44] ikalash opened #7153 "Amesos: does Amesos_Klu work with block matrices?"
I was wondering if any of the Amesos developers would be able to tell me if Amesos_Klu works with block matrices.  This may be needed in one of the codes I work on.  By block matrices I mean Thyra::defaultBlockedLinearOp and the like, which have been populated using Epetra matrices/operators.

@trilinos/amesos

[2020-04-10 17:48] ikalash commented on #7153
Tagging @tevoth , who is also interested in the answer to this question.

[2020-04-11 02:53] MicheldeMessieres opened #7158 "Amesos2: Improve handling of x and b copy or assign behavior"
## Enhancement
@trilinos/amesos2

@srajama1 @ndellingwood @kyungjoo-kim Opening this issue to keep track of one unresolved todo item for the Amesos2 refactoring to Kokkos views. When accessing x and b for the solve step, the new setup may obtain direct ptrs to the source multivector or copy the data, depending on whether memory space and types match.

The decision to copy or assign the ptr happens

[2020-04-11 22:36] #6866 closed

[2020-04-14 00:47] mayrmt opened #7164 "MueLu: How to pass primal/dual mapping to InterfaceMappingTransferFactory?"
## Question
@trilinos/muelu @kliegeois

I'm trying to understand how I can pass the information on the mapping of dual nodes to primal nodes for the `InterfaceMappingTransferFactory` introduced in PR #6931 for our application. I'm looking at the example in `packages/muelu/test/meshtying/MeshTyingBlocked_SimpleSmoother.cpp`.

As in the example, I want to read the preconditioner configuration from a

[2020-04-14 06:19] kliegeois commented on #7164
Basically, what we need is the factory `InterfaceAggregationFactory` to have access to `DualNodeID2PrimalNodeID - level 0`.

In the example, as you said, I hard coded the `InterfaceAggregationFactory` to be named as `myInterfaceAggs2`.

I see two approaches not to hard code the name:
- Give the name of the `InterfaceAggregationFactory` using a variable, possibly defined at the beginning of the xml

[2020-04-14 06:29] mayrmt commented on #7164
@kliegeois I like the second option better as well. There might be another: maybe this data also can be passed in via the `"user data"` sublist, similar to the fine-level nullspace and coordinate information.

@lucbv What do you think? Is this the intended use case of the `"user data"` sublist?

[2020-04-14 13:00] lucbv commented on #7164
@mayrmt
Yes you can put that list on "user data" and recover it in your factory. I did not want to block @kliegeois previous PR because of that but the temptation was strong x)
Also if you really want a lot of flexibility you can pass a std::string to the interface factory (using the xml file) that tells you the name of the variable on "user data" to recover in case you have more than one interfac

[2020-04-14 13:03] kliegeois commented on #7164
@lucbv thanks for your input. That's definitely better.
Next time, feel free to block a PR if it can be improved!

[2020-04-14 13:15] mayrmt commented on #7164
@lucbv Thanks! I'll look into that. Maybe we can briefly talk about it later, so that you can point me to an example.

[2020-04-14 14:42] jennloe commented on #6860
I was about to create this issue myself.  I found a build guide here: https://trilinos.github.io/pdfs/TrilinosBuildReference.pdf Not sure if it is up-to-date or not.  Author is @bartlettroscoe .  Maybe he knows what to do with the broken links?

The link on this page https://github.com/trilinos/Trilinos/blob/master/INSTALL.rst to the in-depth document is also broken.

[2020-04-14 14:55] bartlettroscoe commented on #6860
@jennloe, I don't control the automated process that builds the documentation and puts in the links.  The @trilinos/framework team does that.  Building the documentation requires python (2.6.6+) and docutils to be installed.  But other than that, it is just a single command to build it.  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#project-specific-build-reference

That is all that

[2020-04-14 15:14] cgcgcg commented on #7046
#7139 removed `MueLu_ENABLE_Kokkos_Refactor_Use_By_Default`

[2020-04-14 15:14] #7046 closed

[2020-04-14 15:19] tawiesn commented on #7164
@mayrmt @kliegeois I like the idea with the "user data". This has been introduced for such things at some point, but i forgot about it.
However, there is still the implicit assumption that we only have one InterfaceMappingTransferFactory that consumes this information. But that's probably fine.

[2020-04-14 16:33] mayrmt commented on #7164
Well, then I’ll give the `“user data”` subsist a try.

@tawiesn For my application, one `InterfaceAggregationFactory` is sufficient for now. I guess that even multiple mortar interfaces can be handled, if all interfaces use the same mortar configuration.

@kliegeois Are there any concerns or objections from your side?

[2020-04-14 18:55] ikalash commented on #7153
I exchanged some emails with @srajama1 and the short answer to this question is no, Amesos does not work with block matrices right now (nor does Amesos2).

[2020-04-14 18:55] #7153 closed

[2020-04-14 18:58] prwolfe commented on #6294
I found that Spack can create a view for export using

to get only the artifacts from scotch. Be cautious as there is a view subcommand in Spack env which was very misleading.

[2020-04-14 20:16] ccober6 opened #7169 "Tempus: Add AppAction to IMEX Stepper"
## Enhancement
@trilinos/tempus

Add AppAction to IMEX Stepper, which will replace Observers.

[2020-04-14 22:57] bartlettroscoe commented on #3276
FYI: I get the email shown below on 4/10/2020 informing of 55 MueLu tests went missing in that CI iteration:

----

From: admin@cdash.org <admin@cdash.org>
Sent: Friday, April 10, 2020 8:41 AM
To: Bartlett, Roscoe A <rabartl@sandia.gov>
Subject: [EXTERNAL] FAILED (m=55): Trilinos/MueLu - Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_OPENMP_CI - Continuous

A submission to CDash for the project Trili

[2020-04-14 23:08] cgcgcg commented on #3276
@bartlettroscoe I count 3 days between the two PRs, but I agree that that was an issue. We fixed it because we saw all these tests missing on our dashboard.

[2020-04-14 23:15] bartlettroscoe commented on #3276
CC: @trilinos/framework

@cgcgcg, it might be a good idea for Trilinos developers set up their email accounts to see these post-push CI build error emails.

[2020-04-15 05:53] mayrmt opened #7175 "MueLu: reduce communication in regionMG's sumInterfaceValues()"
## Enhancement
@trilinos/muelu
@lucbv @rstumin @pohm01

### Current Status

To sum values at region interfaces, we currently perform two rounds of communication:
1. Export from quasiRegion to composite format
1. Export from composite to quasiRegion format (with `CombineMode Xpetra::ADD`)

Time measurements have identified these operations as bottlenecks in our V-cycle.

### Planned Actions

We int

[2020-04-15 05:59] kliegeois commented on #7164
@mayrmt It is definitely possible to have only one `InterfaceAggregationFactory ` and have multiple mortar interfaces. I have tests in my application code which test those cases.

I have no concerns at all, thanks for looking into that!

[2020-04-15 20:34] #1471 closed

[2020-04-16 05:17] mayrmt commented on #7164
@lucbv @tawiesn I'm putting the required data `RCP<std::map<LO, LO>> myLagr2Dof` on the `"user data"` parameter list as follows:
[code]
Now, I need to retrieve it during MueLu setup, but how?

To avoid errors such as
[code]
I need to stick this data on the fine level. Is
1. [extracting non-serializable data](https://github.com/trilinos/Trilinos/blob/582f327e8a5266c2530b79b29c09b2f73e497550/package

[2020-04-16 14:52] lucbv commented on #7164
@mayrmt that seems reasonable to me, I am not sure that there many other options to handle that use case?

[2020-04-16 16:20] jhux2 commented on #3276
It was not 3 days to _detect_ the problem.  It was a 3 day gap for the fix, two of those being Saturday/Sunday.  So from Friday to Monday, I'd say that's pretty good.

[2020-04-16 16:51] mayrmt commented on #7164
@lucbv I'll try that and let you know of my success. Or failure. 😉

[2020-04-16 16:57] bartlettroscoe commented on #3276
I agree.  I am impressed that someone noticed and fixed this in just 3 days (including over the weekend).  But it does show people don't look at PR test results in detail.  They just look at "PASSED".  The PR tester could be updated to submit comments/warnings about tests going missing but that would take work (and the way that the PR builds are set up CDash can't help you).

This is not the first

[2020-04-16 16:57] ikalash opened #7184 "Tpetra: compilation error in OpenMP build"
One of the Albany OpenMP nightlies recently began failing at the Trilinos configuration step with the following error:

[code]
I have the Kokkos_ENABLE_...  flags set.  Here is the configuration script: https://github.com/SNLComputation/Albany/blob/master/doc/nightlyTestHarness/do-cmake-trilinos-mpi-openmp-camobap .  Did something change in Tpetra that requires me to have a different set of packag

[2020-04-16 16:59] bartlettroscoe commented on #3276
Just to clarify, I don't think it is worth updating the PR builds to warn about missing tests since this happens pretty rarely.  Instead, people should just register to get email notification from the post-push CI build like I got and show [above](https://github.com/trilinos/Trilinos/issues/3276#issuecomment-613721250).

[2020-04-16 17:07] jhux2 commented on #3276
@cgcgcg is the impressive one!

[2020-04-16 17:25] rppawlo commented on #7184
Kokkos was upgraded from 3.0 to 3.1 in trilinos last night. Might be related to that.

 @crtrott @srajama1

[2020-04-16 17:50] kddevin commented on #7184
@ikalash's script has
[code]
The Trilinos CMakeCache.txt has different capitalization
[code]

But Trilinos/packages/tpetra/CMakeLists.txt has not changed.  Was there a translation from mixed-case to upper-case before that is now gone?

[2020-04-16 17:59] crtrott commented on #7184
yeah there was one. We didn't intentionally remove it but it was always fragile. But it did warn about it if it changed it. But I guess its hard to see these warnings in the 1000 line output of Trilinos.

[2020-04-16 18:05] kddevin commented on #7184
Thanks @crtrott
So, as I understand it, if @ikalash  upper-case's everything after Kokkos_ENABLE_ , the problem should go away.   This capitalization is the new standard for Kokkos.

[2020-04-16 18:08] ikalash commented on #7184
Oh, wow, I can't believe I didn't notice that.  That was the issue indeed.  Thanks for your help!

[2020-04-16 18:08] #7184 closed

[2020-04-16 21:12] egphill opened #7187 "Thyra: matrix transpose apply plus equals bug"
## Bug Report
@trilinos/thyra

### Description
For a Thyra::LinearOpBase A, the call

A.apply(TRANS,y,x,a,b);

should compute

y = b*y +a*A^t x

I've called this on a TpetraLinearOp, and it works fine when I run with 1 MPI rank, but with multiple MPI ranks, I'm not getting the b*y contribution, so it does

y = a*A^t x

This only happens in parallel and only with TRANS. Everything is fine with NOTR

[2020-04-16 21:21] bartlettroscoe commented on #7187
@egphill, this is an issue specifically with the Thyra::TpetraLinearOp subclass implementation of apply()?

[2020-04-16 21:30] asteyer opened #7188 "Tempus: AppAction interface for OperatorSplit stepper"
## Enhancement
@trilinos/\<Tempus\>

Add AppAction interface for the OperatorSplit stepper.

[2020-04-16 21:55] egphill commented on #7187
@bartlettroscoe I'm not sure. It's just the case where I've seen it arise.

[2020-04-17 04:24] lucbv opened #7191 "Amesos2: cusolver enabled without cusparse"
## Bug Report
@trilinos/amesos2
@srajama1 @MicheldeMessieres

### Description
Amesos2 only checks for TPL_ENABLE_CUSOLVER to enable the cusolver backend however it is using cusparse CrsMatrices. So also needs to check for TPL_ENABLE_CUSPARSE

### Steps to Reproduce
1. SHA1: c5bd867
2. Configure script:
3. Configure log: [configure_trilinos.log](https://github.com/trilinos/Trilinos/files/4490880/co

[2020-04-17 13:13] bartlettroscoe commented on #5939
CC: @e10harvey

It just occurred to me how we might be able to do poor-man's unit testing with bash code without needing an elaborate unit test harness (and therefore another dependency).  I think I am going to experiment with that quickly.

[2020-04-17 13:17] bartlettroscoe commented on #7125
@eric-c-cyr, have you had a chance to try this yet with EMPIRE?  Just seeing if I can close this Issue.

[2020-04-17 13:23] eric-c-cyr commented on #7125
The merge just went in (yesterday?). Let me see how the tests do this AM. I’m not expecting anything.

Sent from my iPad

On Apr 17, 2020, at 7:17 AM, Roscoe A. Bartlett <notifications@github.com> wrote:

﻿

@eric-c-cyr<https://github.com/eric-c-cyr>, have you had a chance to try this yet with EMPIRE? Just seeing if I can close this Issue.

—
You are receiving this because you were mentioned.
Repl

[2020-04-17 15:14] bartlettroscoe opened #7195 "Post-push CI build showing build errors were other builds are not"
Looking at the CI build shown in this query:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-04-01&end=2020-04-17&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_OPENMP_CI&field2=groupname&compare2=61&value2=Continuous

one can see that the Kokkos 3.1 promotion from PR #7172 yesterday broke

[2020-04-17 15:19] bartlettroscoe commented on #7195
I deleted the build directory on the machine ceerws1113 and restarted the CI server from scratch with:

[code]

Let's see what happens with this.

[2020-04-17 15:43] bartlettroscoe commented on #7195
What is concerning is that I have not been getting emails for all of those broken iterations.  I only got the first email for the first error iteration.  Not good.

[2020-04-17 17:08] bartlettroscoe commented on #5939
I am looking at:

* https://github.com/kward/shunit2

some and a few things I see that I don't like:

* There a quite a few files.  It is not all that small (but they are trying to support a bunch of different shells)
* It supports reporting line numbers but not fine names in the error messages
* Does not print out the names of vars being checked.
* Does not print out the functions being called an

[2020-04-17 17:20] csiefer2 commented on #7195
FYI  - I have seen some "need to blitz the build directory" issues with the Kokkos upgrade.

[2020-04-17 18:37] bartlettroscoe commented on #7195
@csiefer2, we have seen this before as reported in #6855.  I need to add that solid reproducer for that case.

And indeed, a build from scratch for the CI build seems to have fixed the problem as shown in:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_O

[2020-04-17 18:37] bartlettroscoe commented on #7195
@csiefer2, we have seen this before as reported in #6855.  I need to add that solid reproducer for that case.

And indeed, a build from scratch for the CI build seems to have fixed the problem as shown in:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_O

[2020-04-17 18:39] bartlettroscoe commented on #6855
@trilinos/kokkos,

FYI: More evidence in #7195 that Kokkos is not rebuilding correctly after the big CMake refactor.

I will add detailed instructions on how to reproduce the problem.

[2020-04-17 18:47] bartlettroscoe commented on #7195
I will go ahead and close this issue since it looks like the problem is resolved (until the next time Kokkos is updated or they fix #6855).

[2020-04-17 18:47] #7195 closed

[2020-04-17 19:25] lucbv commented on #7191
Closing since #7192 was merged

[2020-04-17 19:25] #7191 closed

[2020-04-17 21:08] bartlettroscoe commented on #5939
Okay, I have been using shunit2 for a little bit here and it is good enough for what I need and it has some nice features.  I am going to just snapshot a version of this under Trilinos/cmake/std/atdm/test/sunit2 and be done with it.  It is not that large and it has a very flexible Apache 2 license that should not give any customer a problem.

[2020-04-18 21:28] bartlettroscoe commented on #4063
This is addressed in PR #7202.

[2020-04-18 21:32] bartlettroscoe commented on #5939
CC: @e10harvey

I have made a very good start on this in PR #7202.  That adds very strong unit testing to the script `atdm/utils/set_build_options.sh`.

The next may bit of unit testing will be to test the `atdm/utils/get_system_info.sh` script (and therefore the `atdm/utils/get_known_system_info.sh` script.

Then we could unit test the `atdm/loa-env.sh` script as well if we create some dummy test

[2020-04-19 23:00] jjwilke commented on #6855
Do we have reproducer instructions yet?

[2020-04-20 15:24] vbrunini opened #7206 "kokkos-kernels: Cuda build error with float enabled."
## Bug Report
@trilinos/kokkos-kernels

### Description
The Sierra Trilinos integration Cuda build is failing right now with errors like:
[code]
Looks to be from having float enabled.

Full configure script is:
[code]

[2020-04-20 15:38] bartlettroscoe commented on #3276
FYI: Just as I mentioned [above](https://github.com/trilinos/Trilinos/issues/3276#issuecomment-599759956) on 4/16/2020, the test [ShyLU_NodeTacho_Tacho_TestOpenMPDoubleTaskScheduler_MPI_1](https://testing.sandia.gov/cdash/testDetails.php?test=108985926&build=6816666) segfaulted again in my PR iteration https://github.com/trilinos/Trilinos/pull/7202#issuecomment-616296181 in the build ` PR-7202-tes

[2020-04-20 16:23] kyungjoo-kim commented on #3276
@bartlettroscoe This looks like a more or less problem from kokkos task scheduler. I test all task schedulers supported from kokkos i.e., Kokkos::TaskScheduler, Kokkos::TaskSchedulerMultiple, Kokkos::ChaseLevTaskScheduler. The cdash only reports the error from Kokkos::TaskScheduler and the others are fine. Three test codes share the same Tacho code with a variation of the task scheduler. Do you wa

[2020-04-20 18:54] bartlettroscoe commented on #6968
CC: @crtrott, @mwglass

@jwillenbring, the issue of C++14 PR builds for Trilinos just came up again today in the ATDM PI meeting.  Is there is a PR build that has C++14 support enabled?  Do we need to merge PR #6814 before this gets addressed?  NOTE: I think you can just set `-D Trilinos_CXX_FLAGS="-std=c++14` for now until we get PR #6814 (and the related Kokkos and TriBITS PRs) merged.

[2020-04-20 19:04] srajama1 commented on #7206
@crtrott : Looks like Impl dependency ..

[2020-04-20 19:22] srajama1 commented on #7206
@brian-kelley : Can you take care of this ? I don't know how none of our tests caught this during integration testing.

[2020-04-20 19:24] crtrott commented on #7206
we didn't enable FLoat in any of the Trilinos tests, but float should be tested by KokkosKernels in its nightly and if it is not we need to add that.

[2020-04-20 20:19] brian-kelley commented on #7206
OK, I was able to replicate this. It's because ``array_sum_reduce<float, 1>`` is only 4 bytes so the reduction is implemented using a warp-shuffle with int-sized elements, but ``array_sum_reduce`` is a nontrivial struct, so the union called conv_type that contains it has an explicitly deleted constructor:
[code]

[Based on this stackoverflow question](https://stackoverflow.com/questions/54535195/d

[2020-04-20 20:29] crtrott commented on #7206
yeah I am working on this right now too. The whole union thingy is anyway a bit funky since technically using undefined behavior according to the C++ standard (works on all compilers though ..). Let me see how I can fix that, and also add a test inside our code base for it (i.e. I am copying over your struct and test that). Funny that the problem doesn't hit you for 8 bytes ones though (it does wo

[2020-04-20 20:30] brian-kelley commented on #7206
@srajama1 @ndellingwood I think our nightly tests are not covering scalar_t=float. I don't know if there's an easy way to list the configure commands for all the KokkosKernels builds, but e.g. KokkosKernels_White_CudaOpenMP_cuda_101_gcc_740 just runs with double:
[code]
Could we add ``--with-scalars=double,complex_double,float``?

[2020-04-20 20:31] crtrott commented on #7206
We definitely should do something like that. Though in this case it is clearly a Kokkos bug and we separately need to catch this on our side.

[2020-04-20 20:31] brian-kelley commented on #7206
@crtrott It looks like the >4 byte case uses reinterpret_cast instead of a union

[2020-04-20 20:32] crtrott commented on #7206
Jup. I will change this one too to do that. and also check what happens with our atomics, because they might run into the same issue ...

[2020-04-20 20:45] bartlettroscoe opened #7209 "ShyLU: ShyLU_NodeTacho_Tacho_TestOpenMPDoubleTaskScheduler_MPI_1 randomly segfaulting in GCC 4.8.4 PR build"
## Bug Report
@trilinos/shylu, @trilinos/framework

### Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-01-01&end=2020-04-20&filtercount=4&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=testname&compare2=61&value2=ShyLU_NodeTacho_Tacho_TestOpenMPDoubleTaskScheduler_MPI_1&field3=status&compa

[2020-04-20 20:46] bartlettroscoe commented on #7209
Unfortunately, the two PRs where this failed were both my PRs #7023 and #7202.

This is failing pretty rarely and only in this on GCC 4.8.4 build for some reason.  Perhaps just disable this one GCC 4.8.4 PR build?

[2020-04-20 20:48] bartlettroscoe commented on #3276
@kyungjoo-kim, thanks for taking a look at this.  I create the new issue #7209 to track continued conversation about this randomly failing test.

[2020-04-20 20:53] bartlettroscoe opened #7210 "STK: STKUnit_tests_util_UnitTest_MPI_1 unit test UnitTestTimer.UnitTest randomly failing in several GCC and Clang PR builds starting 2020-04-06"
## Bug Report
@trilinos/stk, @trilinos/framework

### Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-01-01&end=2020-04-20&filtercount=4&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=testname&compare2=61&value2=STKUnit_tests_util_UnitTest_MPI_1&field3=status&compare3=61&value3=failed&field

[2020-04-20 20:55] kyungjoo-kim commented on #7209
I am okay with disabling this test. The task scheduler that I mainly use and do test by default is "Kokkos::TaskSchedulerMultiple". I would care for multiple task queue scheduler tests but I do not concern much on the others. Digging this compiler specific issue would takes a lot more efforts than the gain (at the end we do not use the single task queue scheduler in the production code).

@bartlet

[2020-04-20 21:00] alanw0 commented on #7210
Thanks @bartlettroscoe I'll try to take care of this right away. Looks like we allowed a yucky test to sneak in that's testing something based on time which is subject to noise. I'll robustify this.

[2020-04-20 21:09] bartlettroscoe commented on #7210
Thanks @alanw0!

[2020-04-20 21:12] bartlettroscoe commented on #3276
FYI: I reported the `STKUnit_tests_util_UnitTest_MPI_1` failure in #7210 and @alanw0 said he would address this.  (NOTE: This was bringing down PR testing iterations for 2 weeks.  Why did no one notice and report this until it hit my PR and I had to report this?  Clearly this impacted 6 other people's PRs over the last 2 weeks.)

[2020-04-20 21:19] bartlettroscoe commented on #7209
@kyungjoo-kim, you can just disable this one test for this one PR build by adding:

[code]

to the file:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/PullRequestLinuxGCC4.8.4TestingSettings.cmake

in a new PR and get it merged.  (You will see other ShyLU tests getting disabled there as well.)

See:

* https://tribits.org/doc/TribitsBuildReference.html#disabling-specific-tests

Is

[2020-04-20 21:21] bartlettroscoe commented on #4063
With PR #7202 merged to 'develop' today, this Story should be complete.

Moving to "in review".

[2020-04-20 22:34] cgcgcg commented on #6570
Was an int-int build ever added? It seems that the autotester doesn not test MueLu with Epetra.

[2020-04-21 01:21] MicheldeMessieres opened #7215 "Amesos2: Support both int and long CHOLMOD"
## Enhancement
@trilinos/amesos2

Amesos2 CHOLMOD solver currently uses the CHOLMOD_LONG form which is required for GPU support.

However if GPU is not required the user should have the option to use the CHOLMOD_INT form.

[2020-04-21 02:04] MicheldeMessieres opened #7216 "Amesos2: Improve handling of refactor options"
## Enhancement
@trilinos/amesos2

Amesos2 solvers will test a refactor option (--refactor) which modifies the matrix.

This is working for the current test matrices but the modification is too severe for large matrices and they will no longer be positive definite. Code applied is:
`    for( size_t i = 0; i < l_fst_row_nnz; ++i ){
      values[i] = values[i] * values[i];
    }`
It would be preferab

[2020-04-21 02:13] mayrmt opened #7218 "Xpetra: add build target for doxygen documentation"
## Documentation
@trilinos/xpetra

## Current behavior

To locally build the Xpetra doxygen documentation, the script `<pathToSourceDirectory>/packages/xpetra/doc/build_docs` creates the doxygen documentation in the source folder (contradicting the concept of an out-of-source-build).

## Proposed Changes

Alternatively (as already done in MueLu), I propose to add a build target `doc_xpetra`, such

[2020-04-21 02:15] mayrmt commented on #7218
@trilinos/xpetra Please let me know, if this is a desirable change/addition. I already have a proof-of-concept in place locally and I'm happy to clean it up and bring it into `develop`, if this is considered useful. Just let me know...

[2020-04-21 14:47] #7218 closed

[2020-04-21 14:48] mayrmt commented on #7164
Has been addressed in #7194. Closing.

[2020-04-21 14:48] #7164 closed

[2020-04-21 14:53] jmgate opened #7221 "ATDM Config: van1-tx2 Permissions in Install"
## Bug Report
@bartlettroscoe, @e10harvey

### Description
When installing Trilinos on stria, the `van1-tx2` directory in `share/atdm-trilinos` has permissions `rwx------`.  The root install directory has permissions `rwxrwsr-t`, and those seem to get propagated to installs we have for other machines; that is, the `ats2` directory on vortex, e.g., has `rwxrwxr-x`.  Something's going wrong in the T

[2020-04-21 15:47] bartlettroscoe commented on #7221
@jmgate, unfortunately, we are seeing this on all of the HPC machines (except for 'vortex').  See:

* https://sems-atlassian-srn.sandia.gov/browse/CDOFA-115?focusedCommentId=56438&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-56438

The install permissions from the CMake side of things uses:

[code]

What are the permissions on your cloned Trilinos git repo?  Are th

[2020-04-21 17:06] jmgate commented on #7221
Closing to continue discussion elsewhere.

[2020-04-21 17:06] #7221 closed

[2020-04-21 18:11] bartlettroscoe commented on #7221
@jmgate, unfortunately, we are seeing this on all of the HPC machines (except for 'vortex').  See:

* https://sems-atlassian-srn.sandia.gov/browse/CDOFA-115?focusedCommentId=56438&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-56438

The install permissions from the CMake side of things uses:

[code]

What are the permissions on your cloned Trilinos git repo?  Are th

[2020-04-21 18:11] rppawlo opened #7223 "Panzer, Tpetra: periodic bc communication has incorrect indices"
## Bug Report
@trilinos/panzer
@trilinos/tpetra
@kddevin

### Description
For periodic BCs, the communication to send node information on a periodic sideset is losing values. We are seeing this when we exceed 128 cores on an empire problem. Local panzer unit testing is passing. exporting TPETRA_DEBUG=1 results in the output below. Since the maps were constructed with local and global sizes (not gi

[2020-04-21 20:32] agenbyte opened #7224 "trilinoscouplings: Incorrect 2D mesh statistics"
## Bug Report
@trilinos/trilinoscouplings

Mesh stats for 2D poisson are incorrect.

[2020-04-21 20:55] ZUUL42 commented on #6570
I added the Tpetra_INST_INT_INT = ON flag to the Intel 17 PR build.
I'm getting a few failing tests from @trilinos/trilinoscouplings & @trilinos/muelu.
[CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic158&field2=buildname&compare2=61&value2=PR-instintintON-test-Trilinos_pullrequest_

[2020-04-21 21:02] cgcgcg commented on #6570
@ZUUL42 Nice. We'll clean up these issues and let you know when you can kick off another build.

[2020-04-22 05:14] markyoder commented on #3041
I'm seeing it compiling Trilinos v12.18.1 on CentOS-7 HPC system:

[code]

My CMake ends up being pretty complicated, since I have to name the exact location of just about every component, 'lest the configuration find a random, wrong version of various packages, but the components being used are:
[code]

[2020-04-22 12:38] lucbv commented on #3041
Could you send us the output from the CMake configuration line?

[2020-04-22 15:08] markyoder opened #7230 "Tpetra?: <float>,<complex> multiplication operator not defined"
## Bug Report
@trilinos/Tpetra>

Getting a, "operator* not defined":
`Trilinos/packages/tpetra/core/test/ImportExport2/ImportExport2_CrsSortingUtils.cpp:289:62: error: no match for ‘operator*’ (operand types are ‘double’ and ‘__gnu_cxx::__alloc_traits<std::allocator<std::complex<float> >, std::complex<float> >::value_type’ {aka ‘std::complex<float>’})`

part of:

[code]

It's a bit surprising beca

[2020-04-22 15:13] markyoder commented on #3041
Here's the output up to `make`. there is a bit of my own preamble, and I
confess that some of this is a bit of a mess, as I am in many cases
guessing at how to format flags, what paths need to be rigorously
specified, etc.

**** BEGIN CMAKE OUTPUT *****

* Compiling with 24

*** MPI_DIR: /opt/ohpc/pub/mpi/openmpi3-gnu8/3.1.4

*** NetCDF: /opt/ohpc/pub/libs/gnu8/openmpi3/netcdf/4.7.1,
/opt/ohpc/pub

[2020-04-22 15:27] lucbv commented on #3041
Yeah that looks a bit strange to me, at least I am not used to this type of output. Maybe I can also ask you what you are trying to do with Trilinos and I could give you a corresponding working configuration?

[2020-04-22 15:31] kddevin commented on #7223
To confirm:  you see this problem when building with Serial node on ceelan, right?

[2020-04-22 15:40] william76 opened #7231 "Framework: Github.io Releases Page is Outdated"
## Documentation
@trilinos/framework

The [Releases][1] page on the github.io page is outdated.

[1]: https://trilinos.github.io/releases.html

[2020-04-22 16:07] markyoder commented on #3041
Honestly, I'm just trying to compile it for a graduate student, principally
as a required component for Deal.II. We have v12.14 pre-compiled as an
OpenHPC component, which I'd love to use, but it throws an error --
something about "OpenMP enabled for {some component} but not enabled on
compiler!", which appears (from what I've found so far) to be an in-code
bug, so I'm trying to compile a newer re

[2020-04-22 16:21] rppawlo commented on #7223
yes. this was identified before the kokkos 3.1 promotion as well.

[2020-04-22 17:32] cgcgcg commented on #6570
@ZUUL42 Can we try the build again?

[2020-04-22 17:44] ZUUL42 commented on #6570
@cgcgcg already on it.
I kicked off this build a couple hours ago merging my branch to yours in that PR.
[CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=PR-instintintON-test-Trilinos_pullrequest_intel_17.0.1-6228&field2=buildstamp&compare2=63&value2=Experimental)
It should finish u

[2020-04-22 17:55] bartlettroscoe commented on #3276
Just an FYI, but it looks like the Trilinos PR tester is not testing some important packages used by ATDM customers in PR testing as reported in  https://github.com/trilinos/Trilinos/pull/7229#issuecomment-617928844.  I think this is related to #6697.

[2020-04-22 17:58] brian-kelley commented on #3041
@markyoder I was able to replicate the error. The easiest fix is to add
[code]
to CMake flags. This will also speed up the build significantly. The build you had is supposed to work in theory, so next I'm going to see if the master-branch version has fixed it since 12.18.1 (a lot of build related stuff has changed since then).

[2020-04-22 18:16] markyoder commented on #3041
Ok. I'll see about working from the master branch as well. Thanks!

mark

Mark Yoder, PhD
805 451 8750
*www.linkedin.com/in/Mark-R-Yoder-PhD
<http://www.linkedin.com/in/Mark-R-Yoder-PhD>*

"If you bore me, you lose your soul (to me)..."
~belly

On Wed, Apr 22, 2020 at 10:58 AM brian-kelley <notifications@github.com>
wrote:

[2020-04-22 18:19] cgcgcg commented on #6570
Looks like the build went through?

[2020-04-22 18:22] brian-kelley opened #7232 "TriBITS: in Categories=PERFORMANCE build, trying to install missing executables"
## Bug Report
@trilinos/framework

### Description
When calling CMake installation functions like ``install_executable`` and ``install``, CMake reports that the target does not exist. For example, in packages/seacas/libraries/ioss/src/main/CMakeLists.txt:
[code]
This produces configure-time error:
[code]

There are errors like that for several executables in SEACAS, as well as the Panzer MiniEM Bl

[2020-04-22 18:25] ibaned commented on #6260
Just to relay discussion from the ALEGRA team, they would like to see some testing of Trilinos with C++14 before trying it, but are otherwise open to it.

[2020-04-22 18:30] rppawlo opened #7234 "Tpetra: kokkos 3.1 promotion has broken an application unit test with Tpetra"
## Bug Report
@trilinos/tpetra

### Description
After the kokkos 3.1 promotion, an empire unit test is failing.

The issue looks like it has to do with using tpetra vectors generated with offsetViewNonConst. A reproducer has been added to PR: https://github.com/trilinos/Trilinos/pull/7233

### Steps to Reproduce
1. SHA1:  [insert here]
1. Configure script:  [attach here]
1. Configure log:  [attach

[2020-04-22 18:34] brian-kelley commented on #7232
Oh, I think it's because TRIBITS_ADD_EXECUTABLE has the "categories" like tests do, so cth_pressure_map has category BASIC so it's not getting added to a PERFORMANCE testing build. @bartlettroscoe What would be the best solution here? Can I build with ``-DTrilinos_TEST_CATEGORIES=BASIC,PERFORMANCE``?

I suppose the ideal solution would be to have a ``TRIBITS_ADD_EXECUTABLE_AND_INSTALL`` function.

[2020-04-22 18:40] brian-kelley commented on #7232
Actually, I need to avoid enabling BASIC tests because I want to be able to run "ctest" and just get the PERFORMANCE tests.

[2020-04-22 18:44] bartlettroscoe commented on #7232
@brian-kelley, I am not sure what is going on here.  But I think that it might be better to refactor SEACAS to use the `INSTALLABLE` option with `TRIBITS_ADD_EXECUTABLE()` as documented at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-add-executable

@gsjaardema, is there a reason why the SEACAS CMakeLists.txt files are manaully calling `install(...)` for installable executables

[2020-04-22 18:49] brian-kelley commented on #7232
@bartlettroscoe Great, I'll try that.

[2020-04-22 18:54] cgcgcg commented on #3041
@markyoder Could you try the develop branch instead? I merged a commit that might fix the issue.

[2020-04-22 19:09] brian-kelley commented on #7232
@bartlettroscoe Adding INSTALLABLE fixed all the errors in SEACAS and Percept. Panzer_MiniEM_BlockPrec is another executable that's manually installed, but it allows a custom install location so it's not as easy to fix:
[code]
Is overriding ``${PACKAGE_NAME}_INSTALL_PREFIX`` a standard TriBITS feature? If it is, INSTALLABLE would still work here.

Either way, this isn't blocking my PERFORMANCE bui

[2020-04-22 19:17] bartlettroscoe commented on #7232
CC: @gsjaardema

@brian-kelley, okay, I see.  The desire is to install these into a different subdir.

But why is this configure error occurring?  Why does the executable target `cth_pressure_map` not exist?

[2020-04-22 19:21] brian-kelley commented on #7232
@bartlettroscoe ``cth_pressure_map`` and a few other executables actually didn't exist because they only had the default ``CATEGORIES BASIC`` and I was doing a test categories ``Trilinos_TEST_CATEGORIES=PERFORMANCE`` build. So the ``TRIBITS_ADD_EXECUTABLE`` was conditional on the categories of the build, but the install_executable was running unconditionally.

[2020-04-22 19:29] bartlettroscoe commented on #7232
@brian-kelley, can you try this patch:

[code]

If that works, can you put in a PR for this?  (We will also need to pull off this patch and create a PR for the independent SEACAS GitHub repo as well.)

[2020-04-22 19:42] brian-kelley commented on #7232
@bartlettroscoe That did work, so I'll use that instead of INSTALLABLE for SEACAS.

[2020-04-22 21:04] asteyer opened #7236 "Tempus: AppAction interface for subcycling stepper."
## Enhancement
@trilinos/\<tempus\>

Create AppAction interface for the subcyling stepper.

[2020-04-22 21:10] brian-kelley commented on #3041
After adding this one-line change in #7237, a similar build of develop branch succeeded. However, unlike v12.18.1, only one global ordinal type can be enabled (so choose either ``-DTpetra_INST_INT_LONG_LONG`` (the default) or ``-DTpetra_INST_INT_INT``, but not both).

[2020-04-22 21:12] bartlettroscoe commented on #7232
@brian-kelley, can you then submit a Trilinos PR for this fix and also one to:

* https://github.com/gsjaardema/seacas

?

Otherwise, the next snaphsot of SEACAS into Trilinos will overwrite the change in Trilinos.

[2020-04-22 21:42] brian-kelley commented on #7232
Cross-referencing https://github.com/gsjaardema/seacas/pull/166

[2020-04-22 21:54] gsjaardema commented on #7232
@bartlettroscoe Did not know about `INSTALLABLE`.  will look into using it.

[2020-04-22 22:00] gsjaardema commented on #7232
@bartlettroscoe It looks like there are currently only 4 uses of `INSTALLABLE` in all of Trilinos. Is this a new option, or are there reasons that it should not be used that I am not aware of?  I'm fine using it, but want to make sure it is recommended.

[2020-04-22 22:02] bartlettroscoe commented on #7232
@gsjaardema, I think it would not work for SEACAS as-is because these are not getting installed into the `<prefix>/bin` directory.  We would need to put add a new argument to `TRIBITS_ADD_ADVANCED_TEST()` to allow you to pick a different install subdir.

[2020-04-22 22:14] gsjaardema commented on #7232
As far as I know, my executables are being installed in <prefix>/bin...  My tests should not be installing any executables, so not sure what you mean by adding argument to `TRIBITS_ADD_ADVANCED_TEST()`.

I modified SEACAS and everything seems to be installing correctly, so I must be misunderstanding your comment.

[2020-04-22 22:32] brian-kelley commented on #7232
@bartlettroscoe I didn't see any executables in SEACAS that were installed in a custom place. The only place I saw that was in Panzer_MiniEM_BlockPrec.

But for that case, it would be useful if ``TRIBITS_ADD_EXECUTABLE`` could accept a custom install location. Then ``INSTALLABLE`` could be used pretty much everywhere, I think.

[2020-04-22 22:43] bartlettroscoe commented on #7232
@brian-kelley, right.

[2020-04-22 22:44] bartlettroscoe commented on #6697
Okay, I see how to fix this.  I just need to make a one-line change to the script (which I guess I wrote :-) ):

* Trilinos/commonTools/framework/get-changed-trilinos-packages.sh

I will create a PR for that.

[2020-04-23 15:13] cgcgcg commented on #6570
Looks like MueLu+Epetra is being tested now. I'm cool with closing the issue.

[2020-04-23 15:15] cgcgcg commented on #6434
Should be fixed. At least it works now for an autotester build: https://testing.sandia.gov/cdash/testDetails.php?test=109519745&build=6850048

[2020-04-23 16:23] #7232 closed

[2020-04-23 19:38] cgcgcg commented on #6882
@bartlettroscoe Looks like we fixed this. Can you confirm?

[2020-04-23 19:54] bartlettroscoe commented on #6882
@cgcgcg, what does CDash show through the link at the above the section "Current Status on CDash"?

[2020-04-23 20:02] brian-kelley opened #7247 "Framework: ATDM configuration should update the way Kokkos arch(es) are set"
## Bug Report
@trilinos/framework

### Description
What went wrong?  What should have happened?  Do you have an idea what might
fix things?  How has this bug affected you?  What are you trying to accomplish?
What specifically must we demonstrate to call this work complete?

The ATDM environment scripts use the deprecated syntax ``-DKOKKOS_ARCH=XYZ``. After Kokkos 3.0, this should be ``-DKokkos_ARC

[2020-04-23 20:20] bartlettroscoe commented on #6855
I will get this updated when I can.  Just have a bunch of other stuff right now.

[2020-04-23 20:36] cgcgcg commented on #6882
Looks like all the tests that fail are system errors.

[2020-04-23 20:36] #6882 closed

[2020-04-23 21:37] markyoder commented on #3041
Ok, almost there I think. I am also seeing errors like this in more than one place:
[code]
If you trace this back, it's usually what it sounds like, an operator like `--` or `*` not supported for a `complex<>` type. Are these related to setting the CMAKE flags, `-DTrilinos_ENABLE_COMPLEX=ON`, and/or `-DTrilinos_ENABLE_COMPLEX_DOUBLE=OFF` ?

[2020-04-24 13:47] bartlettroscoe commented on #6882
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-04-15&end=2020-04-24&filtercount=6&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=block&field2count=4&field2field1=buildname&field2compare1=61&field2value1=Trilinos-atdm-ats2-cuda-10.1.243-gnu-7.3.1-spmpi-2019.06.24_static_dbg&field2field2=buildname&fiel

[2020-04-24 14:40] bartlettroscoe opened #7251 "ATDM: Mass CUDA failures in build Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug starting 2020-04-23"
CC: @trilinos/kokkos, @kddevin (Trilinos Data Services Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???

[2020-04-24 14:42] bartlettroscoe commented on #7251
Because this is swamping out CDash summary emails, we will need to filter these errors out these errors so we can see the remaining errors for now.

@trilinos/kokkos, could this be caused by a problem in Kokkos or is this more likely a system issue with the machine 'ascicgpu14' that is running this CUDA build.

[2020-04-24 15:09] bartlettroscoe commented on #7251
NOTE: As shown in [this query](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-04-23&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=63&value2=cuda&field3=buildname&compare3=63&value3=complex), this is the only `cuda+complex` build that we run to help protect GEMMA.

[2020-04-24 15:22] bartlettroscoe commented on #7251
Looking at the commits pulled on 2020-04-23 when this started failing as shown [here](https://testing-dev.sandia.gov/cdash/viewNotes.php?buildid=5397453#!#note1), I don't see any commits to Kokkos.   I only see one commit that might have impacted this:  1c1e574 which is:

[code]

But that only changed how the Netcdf TPL is found.  That can't impact Kokkos.

Therefore, the current evidence points t

[2020-04-24 15:33] bartlettroscoe commented on #7251
I reported this to the GEMMA developers in:

* https://sems-atlassian-srn.sandia.gov/browse/CDOFA-118

I am filtering these out of our CDash summary emails by pushing the commit:

[code]

[2020-04-24 15:35] cgcgcg commented on #6882
Yep, I looks like we got it :-)

[2020-04-24 16:06] cgcgcg commented on #7187
@egphill Is this still an issue, or is that the issue we fixed offline?

[2020-04-24 16:06] ndellingwood commented on #7251
@bartlettroscoe I'm not familiar with ascicgpuXY machines, but you can try running the command `nvidia-smi` and if you receive an error message (instead of output about the NVIDIA driver version and list of available GPUs) then there may be some sort of driver issue. I think there was some maintenance work earlier this week on some of the CEE machines, maybe that would impact the ascicgpu machines

[2020-04-24 16:16] ndellingwood commented on #7251
I've run into issues on machines where a restart corrupts the NVIDIA driver and the code executes but results are garbage, though `nvidia-smi` returns correct system info.
In these cases I compile a small test Cuda code, and if the Cuda runtime call doesn't return the expected answer it could indicate issues with the driver and that likely requires reinstall of the driver. For example:

[code]

[2020-04-24 16:28] egphill commented on #7187
@cgcgcg This is still an issue. It's totally different than the other one.

[2020-04-24 16:38] bartlettroscoe commented on #7251
@ndellingwood, as I commented in [CDOFA-118](https://sems-atlassian-srn.sandia.gov/browse/CDOFA-118?focusedCommentId=57128&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-57128) just now, it does look like that machine 'ascicgpu14' may have gotten updated on and rebooted on 4/22/2020.

Therefore, I will mark this issue with `ATDM Env Issue` and remove the Kokkos and D

[2020-04-24 16:41] bartlettroscoe commented on #7251
However, this issue needs to stay open until they can fix that machine because we now have on testing of `cuda+complex` of Trilinos at all with this build broken :-(

[2020-04-24 16:42] cgcgcg commented on #7187
@egphill Is there a test in EMPIRE where I can see this behavior?

[2020-04-24 16:44] bartlettroscoe commented on #7187
Is this impacting EMPIRE?

[2020-04-24 16:49] vbrunini commented on #7206
@crtrott Any update on this?

[2020-04-24 16:53] egphill commented on #7187
It's not currently impacting EMPIRE. I've gotten around it by applying the matrix transpose apply and then a Vp_StV separately rather than trying to do both of these operations in one call. So it's not a high priority. I just wanted to document the bug.

[2020-04-24 18:18] ndellingwood commented on #7209
@kyungjoo-kim the ` ShyLU_NodeTacho_Tacho_TestOpenMPDoubleChaseLevTaskScheduler_MPI_1` test randomly seg-faulted at the same `DenseByBlocks.trsm` routine as above, in PR #7182 with changes unrelated to Tacho

[2020-04-24 20:35] bartlettroscoe commented on #6861
FYI: They closed:

* https://servicedesk.sandia.gov/servicedesk/customer/portal/4/ONESTOP-11603

assuming this was fixed because of an upgrade of 'vortex' last month.  But this was not resolved and I create the new issue:

* https://servicedesk.sandia.gov/servicedesk/customer/portal/4/ONESTOP-16877

I think we are going to be living with this problem for the foreseeable future (so we might as well

[2020-04-25 00:06] bartlettroscoe commented on #7251
Note that we also see other types of failures like 22 Sacado failures shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-04-24&filtercount=8&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=ATDM&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=status&compare3=62&value3=passed&field4=testoutput&compare4=94&value4=Error%20

[2020-04-25 00:20] VictorEijkhout opened #7260 "We have been down this road before."
Search for "trilinos download", and I get:

https://trilinos.github.io/download-12-0.html

which has no indication that it's out of date.

But I know better so instead of downloading I follow the github link:

https://github.com/trilinos/trilinos.github.io

which has last been updated 4 months ago, so it must be correct, not?

Well, the lack of releases is a little suspicious.

Somehow and I don't

[2020-04-25 01:42] cgcgcg commented on #6070
This looks like it's been resolved.
https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-10-01&end=NOW&filtercount=7&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=MueLu_Structured_Line_Tpetra_MPI_4&field2=status&compare2=61&value2=Failed&field3=testoutput&compare3=94&value3=Error%3A%20error%20in%20ptssup_mkcltsock_afunix()&field4=testoutput&compare4=

[2020-04-25 01:42] #6070 closed

[2020-04-25 01:47] cgcgcg commented on #5310
Looks like it's resolved.
https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-04-01&end=NOW&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman_cuda-9.2_shared_opt&field2=testname&compare2=65&value2=MueLu_UnitTestsTpetra_MPI_&field3=site&compare3=61&value3=waterman

[2020-04-25 01:47] #5310 closed

[2020-04-26 03:00] mayrmt opened #7264 "MueLu: build error w/ Zoltan but w/o Zoltan2"
## Bug Report
@trilinos/muelu

### Description

With `Zoltan` enabled, but `Zoltan2` disabled, `packages/muelu/src/Interface/MueLu_ParameterListInterpreter_def.hpp` produces a build error due to some `#ifdef` logic related to Zoltan/Zoltan2 activation:

PR #7263 addresses this. This issue is rather intended to note, that the PR autotester did not catch this.

### Steps to Reproduce
1. SHA1: de15ca

[2020-04-26 03:03] mayrmt opened #7265 "Framework: PR Testing does not cover configuration w/ "Zoltan enabled, Zoltan2 disabled""
## Bug Report
@trilinos/framework @jwillenbring @ZUUL42

### Description

Configurations with `Zoltan` enabled, but `Zoltan2` disabled seem not to be covered by PR testing. Otherwise, the build error reported in #7263 should have been discovered during PR testing.

### Nest Steps

1. Discuss need for an autotester build with "Zoltan enabled, Zoltan2 disabled".
1. If need is recognized, create such

[2020-04-27 04:33] kddevin commented on #7234
@rppawlo  See
https://github.com/kokkos/kokkos/issues/2981

[2020-04-27 14:02] prwolfe commented on #7247
Actually these are maintained by @bartlettroscoe

[2020-04-27 14:59] bartlettroscoe commented on #7247
@brian-kelley, yea, I noticed that.  That should not be too hard to fix.  I have put this on the "Selected" list under https://github.com/trilinos/Trilinos/projects/6.

[2020-04-27 15:10] brian-kelley commented on #6434
Thanks @cgcgcg !

[2020-04-27 15:10] #6434 closed

[2020-04-27 16:22] bartlettroscoe commented on #6934
Just an FYI, but note that when #7241 got merged, it had the side-effect of enabling Compadre in all of the ATDM Trilinos builds.  Therefore, those ran today and you can see how Compadre is doing on a number of different platforms in this query:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-04-27&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1

[2020-04-27 16:28] bartlettroscoe commented on #7251
FYI: This was a problem with the CUDA driver on the machine 'asicgpu14' after a recent upgrade.  This was fixed by running:

[code]

See [CDOFA-118](https://sems-atlassian-srn.sandia.gov/browse/CDOFA-118) for details.

Closing as complete.

[2020-04-27 16:28] #7251 closed

[2020-04-27 17:17] bartlettroscoe commented on #6968
CC: @trilinos/framework, @ibaned

I checked into that and that trick no longer works as we have given up all handling of C++ options to Kokkos.

@crtrott,

As discussed at the ATDM PI Meeting today, can we put in a short term hack to the Kokkos version in Trilinos to allow us to add `-std=c++14` to the commandline instead of `-std=c++11` to allow the setup of a C++14 PR ASAP?  Perhaps we  set a te

[2020-04-27 17:24] bartlettroscoe commented on #6968
CC: @crtrott

@trilinos/framework,

@ibaned just reported in an offline email that setting:

[code]

Should result in `-std=c++14` getting added to the Trilinos compile line instead of `-std=c++`.

Can you please try that out and update the GCC 8.3 PR to use that to turn on C++14 support in Trilinos?

[2020-04-27 19:10] cgcgcg commented on #7265
I don't think that we need an Epetra-only autotester build. We could add a nightly build to one of our systems, but I'm not sure how valuable this is, given that Epetra will be removed in the hopefully not too distant future.

[2020-04-27 19:50] mayrmt commented on #7264
Fix in PR #7263 has been merged, hence this issue can be closed.

[2020-04-27 19:50] #7264 closed

[2020-04-27 21:48] kuberry commented on #6934
Thanks for letting me know Ross. This is a result of those tests being run with TPL_ENABLE_CUDA set to ON, but with Compadre_USE_CUDA by default being set to OFF. I switched some CMake logic to resemble the suggestion you made in the original Compadre snapshot, and now these tests should pass if they were run again (no longer needing to set Compadre_USE_CUDA explicitly).

The fix is in PR https://

[2020-04-28 05:43] mayrmt commented on #7265
@cgcgcg Out of curiosity and since some of our application codes rely on Epetra, what's the time line for there? I'm hearing this for the first time.

[2020-04-28 08:10] maartenarnst opened #7274 "Amesos2: suspected memory leak in classic basker"
## Bug Report
@trilinos/amesos2
@srajama1

### Description
I use Amesos2's classic basker as the linear solver in a Newton-type nonlinear solver.  I notice that as the Newton-type nonlinear solver goes through more and more iterations and classic basker is thus called more and more times to solve a linear system, the memory used by the program keeps increasing.  Ultimately, my code starts swapping

[2020-04-28 14:43] #6934 closed

[2020-04-28 14:47] #2502 closed

[2020-04-28 14:48] #2150 closed

[2020-04-28 14:48] #1895 closed

[2020-04-28 14:48] #1894 closed

[2020-04-28 14:49] #1575 closed

[2020-04-28 15:38] bartlettroscoe opened #7275 "Configure errors in all 'ats2', 'sems-rhel6' and 'tlcc2' with BOOST_ROOT starting 2020-04-28"
CC: @gsjaardema

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA: Linear Solvers", "PA: Data Services")>
<

[2020-04-28 15:41] bartlettroscoe commented on #7275
@gsjaardema, it looks like the `BOOST_ROOT` env var got removed in several of the environment.sh files from looking at:

[code]

Did the configure of Trilinos pass for you on these systems when you tested them when testing PR #7197 ?

[2020-04-28 15:44] bartlettroscoe commented on #7275
@gsjaardema, this is right in front of me so I will go ahead and create a commit to take care of this.

[2020-04-28 16:03] bartlettroscoe commented on #7275
FYI: PR #7276 is waiting to be reviewed, approved, and merged ...

[2020-04-28 17:51] bartlettroscoe commented on #3276
@trilinos/framework,

Is there something wrong with the PR tester?  The testing iteration shown in https://github.com/trilinos/Trilinos/pull/7269#issuecomment-620710258 says the 9 builds all failed yet the detailed ctest -S log output seems to show `Finished: SUCCESS`.  However the CDash only shows results for 6 of these at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercoun

[2020-04-28 18:12] bartlettroscoe commented on #7275
FYI: Since the PR tester seems to be having problems and may not allow the merge of PR #7276 today, I have manually merged that branch to the 'atdm-nightly-manual-updates' branch so these changes should be pulled in to that 'atdm-nightly' branch later today and this should be in place for testing tomorrow.

Moving this to "In Review".

[2020-04-28 18:14] jwillenbring commented on #3276
@bartlettroscoe There have been several networking issues throughout the day. It may be related to that.

[2020-04-28 18:55] bartlettroscoe commented on #3276
@jwillenbring, I figured from the email we just got from corporate.  Might want to send out an FYI to the Trilinos developers.

[2020-04-28 19:01] kddevin commented on #3276
I concur with @jwillenbring and @bartlettroscoe .  Changes in github status (e.g., someone submitting a review) aren't being seen by the PR tester right now.  See https://github.com/trilinos/Trilinos/pull/6964 for an example.

[2020-04-28 19:08] kddevin commented on #6655
Phalanx deprecation will be handled separately by @rppawlo at a later date.  Its inclusion in Trilinos v13 is not necessary.  After PR #6964 is merged, we can close this issue.

[2020-04-28 21:02] kddevin commented on #3276
Similarly, https://github.com/trilinos/Trilinos/pull/7246 has both review and passed tests, but is not yet merge-able.  Corporate said the IT problem was resolved; is something else wrong here?

[2020-04-28 21:18] cgcgcg commented on #7265
@mayrmt No time line so far. I'd think that there will be an announcement once we get there.
As for an Epetra-only build, we have one: https://testing.sandia.gov/cdash/buildSummary.php?buildid=6905411
It's just been failing for a while now.

[2020-04-29 08:05] hpcnpatel opened #7281 "Question about Trilinos: pkgconfig file"
##Question##

I was wondering if pkg-config files are generated with the installation of Trilinos/all packages? To provide applications (Trillions + some other) to the user, one of the difficulties is, integrating them. Pkg-config collects metadata about the installed libraries on a system and easily provides it to the user. Any comment?

[2020-04-29 13:44] bartlettroscoe commented on #7275
For some reason, we are still getting BOOST_ROOT configure errors for the 'ats2' builds on 'vortex' today as shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-04-29&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-ats2) showing:

[code]

I will see how this can be happening and get this fixed.

[2020-04-29 14:37] bartlettroscoe commented on #7275
The reason we still have these errors is because the fixes did not get merged to the 'atdm-nightly' branch last night.  For details, see [ATDV-344](https://sems-atlassian-srn.sandia.gov/browse/ATDV-344?focusedCommentId=57423&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-57423).  We will need to wait one more day to see that the fixes in PR #7276 actually fix the pro

[2020-04-29 18:54] #6570 closed

[2020-04-29 19:23] cgcgcg commented on #3041
@markyoder Could you try if your build goes through with Trilinos develop and complex and/or float disabled? Or do you need all of them?

[2020-04-29 20:00] #6655 closed

[2020-04-29 22:56] kddevin commented on #6655
Yea!!!  Thanks, @jeforster .
@jwillenbring  Ready for release

[2020-04-29 23:39] cgcgcg commented on #1848
@jhux2 @lucbv Is this still an issue, or can we close this one?

[2020-04-29 23:46] lucbv commented on #1848
I think we can unless we think it is important to add a timer around the call to `Teuchos::updateParametersFromXmlFileAndBroadcast(...)` which might not be the worst idea in the world considering it is highly IO and MPI dependent?
What do you think @cgcgcg

[2020-04-29 23:49] cgcgcg commented on #1848
So there is still a big gap between the Nalu timer and the MueLu one?

[2020-04-29 23:51] lucbv commented on #1848
I am not sure how big it is but I am sure that we are not timing the xml read-out phase, likely because it is not obvious how to nest the timers correctly when that adapter calls the parameter list interface directly.

[2020-04-29 23:58] cgcgcg commented on #1848
If it's really the call to `Teuchos::updateParametersFromXmlFileAndBroadcast`, then Nalu should just read the xml once and pass a ParameterList instead. If it's something else, it'd be good to know.

[2020-04-30 03:48] markyoder commented on #3041
thanks for your help with this!
I can compile it on the * develop * branch, except...:
1) If I include tests, some of the tests fail to compile
2) If I include muelu, get the errors posted below (and more like them).

So I exclude MueLu and the tests. This compiles, but I still get errors
when I try to compile Deal.II with this build of Trilinos.
[code]

Mark Yoder, PhD
805 451 8750
*www.linkedin.

[2020-04-30 06:03] cgcgcg commented on #3041
We regularly test with `complex<double>`, and I know that `float` worked not that long ago. But I don't believe that I have ever tried `complex<float>`. Is this actually needed?

[2020-04-30 12:54] jwillenbring commented on #6655
Thanks @jeforster

[2020-04-30 14:01] markyoder commented on #3041
I don't know if i need complex<float>, but I don't think it is (directly)
causing problems. I think I'd added it when I was getting errors about
unsupported arithmetic operations.

Mark Yoder, PhD
805 451 8750
*www.linkedin.com/in/Mark-R-Yoder-PhD
<http://www.linkedin.com/in/Mark-R-Yoder-PhD>*

"If you bore me, you lose your soul (to me)..."
~belly

On Wed, Apr 29, 2020 at 11:03 PM Christian Glusa

[2020-04-30 14:28] cgcgcg commented on #3041
Could you try disabling it again? From the error messages above, it looks like it always involves `complex<float>` instantiations.

[2020-04-30 15:36] jhux2 commented on #1848
Afaik, Nalu only reads the XML once.

[2020-04-30 15:45] jjellio commented on #1848
I don't know if it's related, but a while back we had a similar concern w/EMPIRE.  I believe Paul Lin and I determined it was due to a lack of Barrier after MueLu reports.  I'm not sure where exactly we tracked that (probably in that single gitlab tracker we use for all ATDM apps ;)  )

[2020-04-30 15:49] csiefer2 opened #7289 "Framework: PR Default Target Branch is master"
Can we change that to develop or is this case of "github doesn't allow us to do the obvious thing"

I almost never generate PRs by hand, but when I do, I make mistakes :)

[2020-04-30 16:28] csiefer2 commented on #7289
@prwolfe is default branch what you get when someone clones the repo?

[2020-04-30 16:39] prwolfe commented on #7289
I'm not sure - the help says it's the brach used for pull requests and pushes. We have pushes restricted anyway for both branches so it won't affect that. I will try it on my fork.

[2020-04-30 16:43] prwolfe commented on #7289
@csiefer2 - Changing the default branch also changed what was checked out when cloning. I now get develop when I clone my fork.

[2020-04-30 16:56] csiefer2 commented on #7289
@prwolfe IIRC, I believe this is why Framework decided master should be the default branch --- so that's what users get by default.

I suspect the fact that PRs and checkouts are tied to the same branch is another poor design decision by our friends at Github.

[2020-04-30 17:18] #6330 closed

[2020-04-30 21:23] ccober6 commented on #6711
Finished with #6808.  Closing.

[2020-04-30 21:23] #6711 closed

[2020-04-30 21:24] ccober6 commented on #7142
Closed with #7150

[2020-04-30 21:24] #7142 closed

[2020-04-30 21:24] ccober6 commented on #7169
Closed with #7170

[2020-04-30 21:24] #7169 closed

[2020-04-30 21:28] ccober6 commented on #6933
Hey @bartlettroscoe, I wanted to touch base on this and see where it is in your queue.  Thanks, Curt

[2020-04-30 22:09] markyoder commented on #3041
you know... that seems to have worked! As per my notes to myself, :
- enabled MueLu
- Disabled anything I had that explicitly said FLOAT (
- Just excluded -DTrilinos_ENABLE_COMPLEX= , so left it to whatever its
default behavior is.
- Specifically, this was a gnu/8.3.0, openmpi/3.1.4 build.

I'm happy to send you all the things, but 1) my compile script is a bit of
a mess -- as per multiple passes

[2020-04-30 22:31] seamill opened #7292 "Panzer: Tweak VectorToScalar and ScalarToVector evaluators"
## Enhancement
@trilinos/panzer

Need to make sure we iterate within the correct bounds of our vectors, and zero out missing components.

[2020-04-30 22:56] cgcgcg commented on #3041
@markyoder Great, thanks for trying that out! Please let us know if it really and truly fixed it, then we can close this issue.

[2020-05-01 16:00] spdomin opened #7295 "Nalu diffs due to Muelu Phase2a"
## Bug Report
@trilinos/Muelu

### Description
Bisect performed in Nalu and Nalu-wind (@alanw0):

Good:
NaluCFD/Nalu SHA1: 84b7cc7502c1ffc639b8fd498b28a43780d0ada7
Trilinos/develop SHA1: 8d0204884ee7a52ffcad920ce4a4d8000a768d18

Bad:
NaluCFD/Nalu SHA1: 84b7cc7502c1ffc639b8fd498b28a43780d0ada7
Trilinos/develop SHA1: ac87b0893ca618317649f7302acc435945af50f5

Note, no changes in Nalu-proper.

Bisect

[2020-05-01 18:39] jwillenbring commented on #7289
Yes, leaving the default branch as master was very intentional.

[2020-05-01 18:56] prwolfe commented on #7289
Ok - will do!

Paul

[2020-05-01 18:56] #7289 closed

[2020-05-01 19:05] jhux2 commented on #7295
@spdomin The aggregation algorithm did indeed change.  It's difficult to say whether this is good/bad for Nalu or NaluWind.  It would be interesting to see details of MueLu's setup to see what changed.  @cgcgcg tested this with the E&M solver.

[2020-05-01 19:27] cgcgcg commented on #7295
@spdomin We included a parameter to switch off the new aggregation behavior. Could you try setting "aggregation: phase2a include root" = false in one of these tests? Also, how big is the max diff compared to the solver tolerance? Does it change the number of iterations?

[2020-05-02 00:19] jhux2 opened #7299 "Zoltan2: compiler warnings"
@trilinos/zoltan2

I hit some warnings in Zoltan2 while building Trilinos develop `f606fd8c` on vortex.  These aren't causing me any problems.

<details>
<summary>warnings</summary>

[code]
</details>

<details>
<summary>configure</summary>

[code]
</details>

<details>
<summary>modules</summary>

[code]

</details>

[2020-05-02 00:55] spdomin commented on #7295
Might I propose that you re-interpret the latest default behavior as "phase2a include root = false"? After all, the low-Mach application space has been using the previous algorithm since we stood up Muelu in the ASC L2 milestone era (milestone.xml - FY12-FY14 and served at the parallel processing paper methodology). Until we know that the new settings are best, it would be great to avoid changing

[2020-05-04 16:22] jhux2 commented on #7295
@spdomin We'll discuss this at our team meeting today.

[2020-05-04 17:35] spdomin commented on #7295
I will test the back-up plan in the meantime.

[2020-05-04 17:45] spdomin commented on #7295
I added the following to all the Nalu xml tests:

<Parameter        name="aggregation: phase2a include root" type="bool"   value="false"/>

The cases still failed.

Let me know if I messed something up.

[2020-05-04 18:39] cgcgcg commented on #7295
@spdomin Hm, that's strange, it should just do exactly what it did before the change. @jhux2 will give me his nalu config, I'll give it a shot.

[2020-05-04 19:36] spdomin commented on #7295
Commit diff attached,

[NewXMLDiff.txt](https://github.com/trilinos/Trilinos/files/4576974/NewXMLDiff.txt)

Test voucher listed below:

[code]

[2020-05-04 20:37] cgcgcg commented on #7295
@spdomin Fix is in https://github.com/trilinos/Trilinos/pull/7307. With that and your patch, everything is passing.

[2020-05-04 20:53] cgcgcg commented on #7295
@jhux2 For later reference:
Running 1x2x10Tet10 without inclusion of the root:
[code]
With inclusion of the root
[code]
Since the residual history is slightly different (but iteration counts are identical) I'd say that some root nodes did simply not get added to their aggregate before the change.

[2020-05-05 00:39] spdomin commented on #7295
Thanks.

Okay, so the path forward is change underlying behavior of the former default value? Moreover, now our XML files all need to change?

For my 2 billion DNS running on 2000-4000 nodes, what would you suggest that I use?

[2020-05-05 00:47] cgcgcg commented on #7295
It's up to Nalu: either add a single parameter to your input decks and run exactly the same algorithm as before. Or don't and run a fixed version that avoids a potential issue in MueLu's aggregation. We have yet to see a use case where the two versions perform significantly differently. From what I have seen in Nalu runs, the iteration counts are identical.

[2020-05-05 03:00] spdomin commented on #7295
I think that regression tests are small and are, in general, not a great indication of capability-class performance. To me, its simply a matter of deciding whether or not the change in default behavior is good or bad. Based on @jhux2 comment, this is not yet known. As such, I am simply questioning the team as to what is better.

However, perhaps the new change is better for my previous issues: htt

[2020-05-05 04:04] spdomin commented on #7295
I made this push:

https://github.com/NaluCFD/Nalu/pull/503

We can take this offline to SNL.

[2020-05-05 04:04] #7295 closed

[2020-05-05 13:44] e10harvey opened #7311 "Muelu: Build errors in Maxwell3D for all 'ats1' hsw opt builds starting 05-05-2020"
## Bug Report
@trilinos/muelu

### Description
As shown in [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2020-05-05&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=ats1-hsw&field2=buildname&compare2=63&value2=opt) there are build errors in the builds:

- Trilinos-atdm-ats1-hsw_intel-18.0.5_mpich-7.7.6_openmp_static_opt
- Trilinos-at

[2020-05-05 15:22] cgcgcg commented on #7311
Hopefully, https://github.com/trilinos/Trilinos/pull/7313 takes care of this.

[2020-05-05 15:35] bartlettroscoe commented on #7275
I believe with the merging of recent commits and PRs, all of these configure errors are now gone. If you look at the ATDM Trilinos builds today shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-05-05&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-) you see just configure failures in some Intel builds as shown [here](https://testin

[2020-05-05 15:35] #7275 closed

[2020-05-05 17:51] brian-kelley opened #7314 "All CUDA builds: many warnings about "host/device annotation ignored on explicitly defaulted fn""
## Question

On any CUDA build, in several packages, I see a lot of warnings like this:
[code]

The lines causing these look like ``KOKKOS_INLINE_FUNCTION type foo() = default;``. My question is, does nvcc automatically generate device versions of explicitly defaulted functions? If it does, we should try to remove the KOKKOS_INLINE_FUNCTION from these to stop the warnings.

[2020-05-05 17:51] brian-kelley commented on #7314
Maybe @trilinos/kokkos knows the answer to this

[2020-05-05 17:53] rppawlo commented on #7314
@etphipp

[2020-05-05 18:20] etphipp commented on #7314
If I recall, the issue here was that early cuda versions required __device__ on these functions for correct behavior, and then later cuda versions started warning about it. In fact, I believe it was the case (at least for cuda 9?) that even though nvcc warned about it, you still had to have __device__ annotations for correct code.  Maybe this has been fixed now.

[2020-05-05 18:21] jhux2 commented on #7311
@e10harvey Can you reenable this test so we can see if it's fixed?

[2020-05-05 18:25] brian-kelley commented on #7314
@etphipp OK, thanks! I'll just close this then, since I don't think it's worth making a version-specific macro for defaulted functions. Maybe in the future when we don't support CUDA 9 we can get rid of the annotations.

[2020-05-05 19:52] e10harvey commented on #7311
@jhux2: The test can be re-enabled with:
[code]

[2020-05-05 20:05] ibaned commented on #7314
Just for completeness, I can explain what is going on here. Let's say you have a defaulted function like this:
[code]
If class `foo` is to be copy constructed on the device, then the requirements for the copy constructor vary by CUDA version:
1. CUDA 8 and earlier required the following:
[code]
2. CUDA 9 will say that `__host__ __device__` is ignored on this function, but that is a lie because if

[2020-05-05 20:20] brian-kelley commented on #7314
@ibaned Awesome, had no idea that macro exists. When I get a chance I'll go through and squash those warnings. (When I opened this issue, I was doing a CUDA 10 build, so as far as I know the CUDA 9 warning suppression works)

[2020-05-05 20:27] cgcgcg commented on #7311
@e10harvey PR #7313 has been merged. Can you please confirm that this has been fixed?

[2020-05-05 21:41] jhux2 commented on #7311
Sorry, I was unclear.  I was asking that you please reenable this in the ATDM dashboard.

[2020-05-05 22:02] e10harvey commented on #7311
@cgcgcg: Looks good. Thanks, Christian!

I verified that the 'ats1' build passes via:
[code]

make.out shows now build errors.

Addressed via #7313.

[2020-05-05 22:03] e10harvey commented on #7311
@jhux2: No problem. I've opened https://github.com/trilinos/Trilinos/pull/7316 to address this.

[2020-05-05 22:06] cgcgcg commented on #7311
@e10harvey Great, thank you!

[2020-05-06 14:14] rppawlo opened #7319 "Panzer: rename configure option for fad type"
## Enhancement
@trilinos/panzer

What feature/addition is needed?  How does this differ from what we currently
have?  Are there any alternative solutions you've considered?  Do you have
suggestions on implementation?  How has the lack of this feature affected you?
What are you trying to accomplish?  What specifically must we demonstrate to
call this work complete?

Change the variable name for sel

[2020-05-06 14:45] cgcgcg commented on #4647
https://github.com/trilinos/Trilinos/pull/7208 took care of smoother construction. At least the MueLu driver runs through without any exceptions being thrown.

[2020-05-06 14:49] cgcgcg commented on #5044
@ikalash Can this be closed?

[2020-05-06 14:54] cgcgcg commented on #3920
Looks like this isn't happening anymore.

[2020-05-06 14:54] #3920 closed

[2020-05-06 14:55] #4728 closed

[2020-05-06 14:57] rppawlo commented on #7319
See #7312 for details.

[2020-05-06 15:31] bartlettroscoe opened #7322 "Post-push CI build errors starting 2020-05-02"
As shown in [this query](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-04-28&end=2020-05-04&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_OPENMP_CI&field2=groupname&compare2=61&value2=Continuous) showing:

Site | Build Name | Revision | Time | Error | Warn | Time | Error | Warn | Time | Not

[2020-05-06 15:43] bartlettroscoe commented on #7322
To see if this could be cleared up from a build-from-scratch, I restarted the post-push CI server on 'ceerws1113' with:

[code]

and it looks like that it resolved the problem with the first full CI build as shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-04-28&end=2020-05-06&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=L

[2020-05-06 15:43] ikalash commented on #5044
Yes - sorry, I must have forgotten to close this earlier.

[2020-05-06 15:43] #5044 closed

[2020-05-06 16:00] bartlettroscoe commented on #7322
Looks like the post-push CI server is back in business.

It looks like I updated the cron driver on 'ceerws1113' on Saturday 2020-05-02 and it is possible that killed the CI build in progress by accident that may have resulted in partially written object files in ROL.

In any case, doing rebuilds with CMake may not be robust if one of the builds is killed in the middle of compiling into object fil

[2020-05-06 16:05] bartlettroscoe commented on #7322
Closing as complete

[2020-05-06 16:05] #7322 closed

[2020-05-06 18:43] brian-kelley commented on #7314
Opened #7324 to fix all of these.

[2020-05-07 02:29] #7319 closed

[2020-05-07 09:50] feof81 opened #7327 "Amesos: linking problem"
Dear Trilinos developers, I haveloped an application (https://github.com/feof81/morganaPublic) based on trilinos and I'm currently updating the underlying version from 12.10.1 to the 12.17 one.
I have used the configure script listed below which is very similar to the one used for the 12.10.1.
The 12.17 is built in a correct manner but, I'm experiencing some problems during the linking phase:

/ho

[2020-05-07 15:05] cgcgcg commented on #7327
@trilinos/amesos

[2020-05-07 15:45] glhenni opened #7328 "seacas: ioss: function ex_open_par() not found"
## Bug Report
@trilinos/\<seacas\>

In our latest build against `Trilinos/develop` we're getting the following error during compilation:
[code]
Did `ex_open_par()` actually get removed and someone missed this file or do we perhaps need to add a new `cmake` option to our build to reenable this function?

[2020-05-07 15:56] rppawlo commented on #7328
@gsjaardema

[2020-05-07 16:02] ikalash opened #7329 "SEACAS: Ioss::Field::INFORMATION appears to have been removed"
Did the Ioss::Field::INFORMATION attribute in SEACAS go away?  We are getting failures in the Albany nightlies saying this is not recognized:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=1482

Was the attribute replaced by something else?

@trilinos/seacas

[2020-05-07 16:03] ikalash commented on #7328
We are seeing the same problem in Albany:  https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=1501 .

[2020-05-07 16:18] prwolfe opened #7330 "Framework: parallel level in testing is fixed"
## Bug Report
@trilinos/framework

### Description
While investigating the Cuda failures detailed in PR #7201 I noted that the PARALLEL_LEVEL is set to 64 even though the machine has 2 8 core sockets. This also did not match a few items.

launching: we use "mpiexec -map-by socket:PE=4" which gives us only 8 slots not 16
I saw a lot more failures at "ctest -j 64" and those reduced to 0 at "ctest -j

[2020-05-07 17:01] srajama1 commented on #7327
Are you using the Trilnos Cmake install files ?

[2020-05-07 17:01] glhenni commented on #7328
The problem stems from the use of two different cmake variables. In `seacs/libraries/ioss/src/CMakeLists.txt` `PARALLEL_AWARE_EXODUS` is only turned on if `TPL_Netcdf_PARALLEL` is defined, but in `seacas/libraries/ioss/src/exodus/CMakeLists.txt` the parallel files are removed if `TPL_ENABLE_MPI` is not defined. So if you don't have `TPL_Netcdf_PARALLEL` defined but you do have `TPL_ENABLE_MPI` def

[2020-05-07 17:05] glhenni commented on #7328
This diff will alleviate the problem until it's fixed upstream
[code]

[2020-05-07 17:08] bartlettroscoe opened #7331 "SEACAS build error in ATDM Trilinos debug builds starting 2020-05-07"
CC: @trilinos/seacas, @kddevin (Trilinos Data Services Product Lead), @gsjaardema

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Pr

[2020-05-07 17:10] bartlettroscoe commented on #7331
One thing a bit troubling about this is that this build error does not seem to be triggering any test failures.  This suggests that this code may not be under any automated testing.

@gsjaardema, is ATDM using the functionality associated with this build error?  If not, then we should just disable this and make this go away.  Otherwise, we really need to fix this as it is spamming the CDash site a

[2020-05-07 17:28] prwolfe commented on #7330
Looks like the nightly master-merge job has seen this issue on an intermittent basis for the past few weeks.

Running -j 8 3 times gave 3 clean runs. First -j 9 run had one failure.

[2020-05-07 17:33] glhenni commented on #7328
Below is a patch to fix this problem. It appears there are two booleans that assume that if MPI is enabled then so is parallel netcdf/exodus, which isn't the case in Charon. We use MPI, but we don't enable parallel netcdf/exodus. I'm guessing you could reproduce this problem yourselves in Sierra by building with parallel netcdf disabled.
[code]

[2020-05-07 19:02] ikalash commented on #7329
I verified that indeed INFORMATION is no longer there in Ioss_Field.h.  It seems I can replace it with COMMUNICATION and still have all Albany tests pass.  Here is where the attribute is used in Albany: https://github.com/SNLComputation/Albany/blob/43aaef979b702933ccb1bea5616c6da166104ef1/src/disc/stk/Albany_GenericSTKFieldContainer_Def.hpp#L52 .  @gsjaardema , please let me know if the change I m

[2020-05-07 19:57] feof81 commented on #7327
I have only used the makefile script above and then make and make install.
Unfortunately it seems that some kind of function inside the Ifpack package seeks a function in the amesos package and in particular a klu-related function.
The linker does not find it and this, as far as I know, may be due to either:
- the build is incomplete due to an error in my makefile script;
- I have forgotten a libr

[2020-05-07 21:11] gsjaardema commented on #7331
I will fix.

[2020-05-07 21:17] gsjaardema commented on #7331
Should be fixed by #7333

[2020-05-07 22:17] asteyer opened #7334 "Tempus: AppAction interface for leapfrog"
## Enhancement
@trilinos/\<tempus\>

Create AppAction interface for the leapfrog stepper in tempus.

[2020-05-07 22:18] bartlettroscoe commented on #5184
Got bit by this again (see #7331 and #7333).

@trilinos/framework, can we please make this happen?  Can I put in a PR build to switch one of the faster-building builds to be a full debug build?

[2020-05-08 00:05] srajama1 commented on #7327
Ideally, we recommend using our install files. If you manually do this using Make basically you have to maintain this file w/ Trilinos dependencies. I recommend not doing it. But if you really want to do it KLU is part of a special package in Trilinos under auxiliary software.
https://github.com/trilinos/Trilinos/tree/master/packages/common/auxiliarySoftware/SuiteSparse

You should be able to link

[2020-05-08 11:22] feof81 commented on #7327
Dear srajama, thank you very much. In fact, it is sufficient to include the -ltrilinosss library!!
There was not problem for the building phase, I only missed a library.

I have a last question: with "installation files" you mean the scripts in the sampleScripts folder?
I usually use part of them since I have to customize the script to the specific machine. In many case this is a cluster with inte

[2020-05-08 13:53] bartlettroscoe commented on #3276
Either the PR tester is really backed up or there is some other problem as the PR tester has not even started testing PR #7333 yet which was opened 17 hours ago.

[2020-05-08 14:26] bartlettroscoe commented on #7311
I believe PRs #7313 and #7316 resolved this.  We can see the test `MueLu_Maxwell3D-Tpetra_MPI_4` is enabled in the new 'ats1' builds as shown [here](https://testing-dev.sandia.gov/cdash/build/5437053/configure) which shows:

[code]

However, because we are not running tests for 'ats1' currently, we can only assume the test executable is being built correct.

Closing as complete.

Thanks for fixing

[2020-05-08 14:26] #7311 closed

[2020-05-08 16:17] ikalash opened #7335 "Seacas: build error in Albany nightlies"
We get the following build error in several of the Albany nightlies due to seacas:

[code]
Can someone please have a look and resolve the problem?

@trilinos/seacas

[2020-05-08 16:46] gsjaardema commented on #7335
This is fixed by #7333.  It should have gone in yesterday, but for some reason the auto-build never started, so it is just sitting there.  I think @bartlettroscoe manually pushed it into the ATDM builds?

[2020-05-08 17:06] allevin commented on #3276
All Autotesters are down due to the gitlab being down.

[2020-05-08 17:10] bartlettroscoe commented on #7335
@gsjaardema, yes.  There is a backdoor to get things into ATDM Trilinos testing just for cases like this.

[2020-05-08 17:13] ikalash commented on #7335
Oh ok.  I imagine we'll see this fix in Trilinos develop shortly?  I will check again tomorrow to see if the issue has gone away.

[2020-05-08 17:37] bartlettroscoe commented on #7335
FYI:  I heard that all PR testing is currently down and therefore no PRs will be merged until it comes back.

[2020-05-08 17:40] ikalash commented on #7335
@bartlettroscoe : I see, thanks for the heads up.  Has #7328 been resolved too in a PR, just not merged into develop yet?  We're still seeing that issue in some of our nightlies.

[2020-05-08 18:49] bartlettroscoe commented on #7335
@ikalash, as of right now, no one has approved PR #7328 yet.

Albany really should have its own fork of Trilinos so you can merge in specific changes (and you can auto-update from Trilinos 'develop' or 'master' every day if you want).

[2020-05-09 12:42] VictorEijkhout opened #7338 "ShyLu broken cmake config"
My attempt to install dealii floundered on the fact that you guys leave behind broken Cmake configuration files. No worry: I'm running a sed script after the trilinos install to fix the files you generate.

But in case you feel ike fixing the problem, here's documentation for this particular case:

%%%%%%%%%%%%%%%%%%%%%
The actual error message (and why configure fails) is here:

12442 -- Include

[2020-05-10 01:30] srajama1 commented on #7338
@jwillenbring Do you know a reason why ShyLConfig.cmake is present and ShyLU_NodeConfig.cmake won't be there ?

@VictorEijkhout Can you give me your configure script ?

[2020-05-10 06:51] VictorEijkhout commented on #7338
On , 2020May10, at 03:30, Siva Rajamanickam <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you give me your configure script ?

++ cmake -VV -D CMAKE_INSTALL_PREFIX:PATH=/home1/apps/intel19/impi19_0/trilinos/12.18.1 -D CMAKE_BUILD_TYPE:STRING=RELEASE -D BUILD_SHARED_LIBS:BOOL=ON -D Trilinos_VERBOSE_CONFIGURE=ON -D CMAKE_VERBOSE_MAKEFILE=ON -D Trilinos_ENABLE_ALL_PACKAGES:B

[2020-05-10 13:34] maartenarnst opened #7339 "Tpetra: build error related to default template arguments"
## Bug Report
@trilinos/tpetra @seheracer

### Description
Build error of latest code from develop branch when both OpenMP and Cuda are enabled as execution spaces.

The compilation exits with an error in "tpetra/core/ext/TpetraExt_MatrixMatrix_OpenMP.hpp" related to line 531 "Tpetra::Vector<Scalar> diags(rowMap);"

The code just above this line extracts the map "rowMap" from a CrsMatrix stored in

[2020-05-10 16:32] seheracer commented on #7339
Thanks for the notification! I will try to reproduce this error and fix it.

[2020-05-10 16:34] seheracer commented on #7339
Oh you already fixed it! Thanks!  @maartenarnst

[2020-05-11 01:19] srajama1 commented on #7338
@VictorEijkhout : The configure is not doing anything non-stanadard, let me see if @jwillenbring has any suggestions from the @trilinos/framework side.

[2020-05-11 04:41] srajama1 commented on #7327
Glad it worked. What I mean is you should source  Makefile.export.Trilinos_install in your build directory and then use the variables there to link to Trilinos. I will close this for now as the main issue is resolved.

[2020-05-11 04:41] #7327 closed

[2020-05-11 13:25] maartenarnst commented on #7339
Thanks, @seheracer, for having looked into this and approved the PR.  The status message of the PR indicates that "Some checks haven't completed yet."  It lists "pre-merge inspection," "pre-test inspection," and "pull request autotester."  Do you know if I or we should do anything, such as adding another reviewer or another label, to move forward?  (This is my first time doing this, so I am discov

[2020-05-11 13:59] bartlettroscoe opened #7341 "Trilinos-atdm-waterman-cuda-9.2-release-debug rebuild error after Kokkos 3.1 upgrade starting 2020-04-17"
CC: @trilinos/kokkos, @kddevin (Trilinos Data Services Lead)

## Description

As shown in [this query](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-02-01&end=2020-05-10&filtercount=1&showfilters=1&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-release-debug) the build:

* `Trilinos-atdm-waterman-cuda-9.2-release-debug`

starting showing a build er

[2020-05-11 14:00] bartlettroscoe commented on #7341
My guess is that this is due to the Kokkos rebuild problem mentioned in #6855.  To test this hypothesis, I will delete the build directory for that build and see if the build-from-scratch tomorrow clears this up.

[2020-05-11 14:35] csiefer2 opened #7342 "Framework: Autotester isn't autotesting"
Been waiting since Thursday night for this to get autotested...

https://github.com/trilinos/Trilinos/pull/7332

@trilinos/framework

[2020-05-11 14:39] prwolfe commented on #7342
I sent out a note about this earlier today. Until Sandia's gitlab instance comes back up nothing will happen.

[2020-05-11 14:41] csiefer2 commented on #7342
Ah, so this is all due to gitlab being broken.  Good to know.

[2020-05-11 15:38] bartlettroscoe commented on #7341
FYI: I have deleted the Jenkins build directory with the dummy job:

* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-do-stuff/9/console

Now this will build from scratch tomorrow (or whenever the next time this build will run on 'ride').

(This type of thing us such a hassle with jenkins.  this type of thing will be much easier once we move all of these builds to simpler cr

[2020-05-11 15:51] bartlettroscoe commented on #7341
For now I will take ownership of this story to see if the build-from-scratch fixes this.

[2020-05-11 16:16] jwillenbring commented on #7338
This could be related to how ShyLU is set up in terms of an unusual sub-package structure.
@bartlettroscoe or @prwolfe do you have any thoughts on this?

[2020-05-11 16:23] bartlettroscoe commented on #7338
@jwillenbring, not sure.  It is possible this is related to the fact that the current ShyLU package is a pseduo package that has not native libraries or tests.  (This may be a hole in the current TriBITS testing.)

In the short term, try just directly including the standard TriBITS packages `ShyLU_NodeConfig.cmake` and `ShyLU_DDConfing.cmake` in the sort term.

In the medium and long terms, all of

[2020-05-11 17:04] seheracer commented on #7339
I added a label for auto tester to test this. It will move on soon.

[2020-05-11 18:02] jjellio commented on #6032
@bartlettroscoe I guess I missed this in 2019.

I believe the techniques I have can enable pretty much everything you want. I've show Micheal Wolf, @kddevin, and Dena Vigil examples of  how to visualize this stuff.  The visualizer is broken, since I've added more fields, but fixing it is probably not too hard.  I've posted tabular data to Trilinos CDOFA-119.

[2020-05-11 18:21] jwillenbring opened #7346 "Add Nvidia warnings-as-errors build to Trilinos testing"
@trilinos/framework

We received a request to clean up Nvidia warnings in Trilinos. @crtrott provided the following set of flags that Kokkos uses for nvcc warnings:

-Wall -Wunused-parameter -Wshadow -pedantic -Wsign-compare -Wtype-limits -Wuninitialized

[2020-05-11 19:07] csiefer2 commented on #7346
Looking forward to all the red builds!

[2020-05-11 19:16] bartgol opened #7348 "Tpetra: FECrsMatrix fill/resume inconsistency"
## Bug Report
@trilinos/tpetra

### Description
I'm trying to use the (relatively) new FECrsMatrix, and I'm getting an error that I think is due to the way the class handles the inactive matrix during beginFill/endFill calls.

I am recycling the same matrix multiple times, so I perform multiple beginFill/endFill calls. This yields an error during `endFill`, which spits out the CrsMatrix error:

[c

[2020-05-11 20:06] bartgol opened #7349 "Epetra: No way to zero out non local matrix in Epetra_FECrsMatrix"
## Enhancement
@trilinos/epetra

When someone uses a matrix multiple times, before starting the fill, it is common to zero-out the matrix. However, when using the FECrsMatrix version with nonlocal matrix enabled, there is no way to ensure the nonlocal entries are wiped before starting the fill. If the user does _not_ request a nonlocal matrix, then things are fine, since the nonlocal entries are w

[2020-05-11 21:15] syaskovets opened #7350 "Tpetra: CrsGraph creation"
## Question
@trilinos/Tpetra
Hi there,

recently I was working through the wiki page on graph [partitioning](https://github.com/trilinos/Trilinos/wiki/Tpetra::CrsGraph-creation,-from-a-graph-perspective). Unfortunately, trying to reproduce the example on creating CrsGraph without specifying column Map
`using crs_graph_type = Tpetra::CrsGraph<>;
RCP<crs_graph_type> G (new crs_graph_type (rowMap, nu

[2020-05-11 22:07] cgcgcg commented on #7350
Could you try removing `Tpetra::StaticProfile`?

[2020-05-11 22:50] syaskovets commented on #7350
Thanks for the response!
Yup, the result is the same. Namely, we have such a function call
`CrsGraph(Teuchos::RCP<const Tpetra::Map<...> > >&, Teuchos::ArrayRCP<...>&)`
which doesn't match any of the constructor signatures available.

[2020-05-11 22:59] cgcgcg commented on #7350
Wait, have you tried using an `ArrayView` for `numEntPerRow`? Maybe try `numEntPerRow()` instead of `numEntPerRow`?

[2020-05-11 23:30] kddevin commented on #6930
@gslota Is this issue fixed?  Can you link the PR to this issue?  Thanks!

[2020-05-11 23:40] gslota commented on #6930
This bug was addressed by PR #7014

[2020-05-11 23:40] #6930 closed

[2020-05-12 00:01] kddevin opened #7351 "zoltan2: memory error when multijagged generates rectilinear partitions"
## Bug Report
@trilinos/zoltan2 @kuberry

### Description
When generating rectilinear partitions, multijagged appears to have a memory error writing to local_cut_line_weight_to_put_left.

https://github.com/trilinos/Trilinos/blob/0c5b9ccf004d4efee9475d5aaef9139f7be2044d/packages/zoltan2/src/algorithms/partition/Zoltan2_AlgMultiJagged.hpp#L4721

A check of the extent for one test case shows the vie

[2020-05-12 02:56] MicheldeMessieres commented on #7351
@kddevin I have a fix for this. I will open a PR tomorrow.

[2020-05-12 14:56] prwolfe commented on #7338
I did a naive test

* built ShyLU with gcc 8.3.0
* installed locally
* created a CMakeLists.txt file with nothing but find_package(Trilinos)

This worked even if I asked for ShyLU as a component. Short of a more significant test I am stumped as to what issue @VictorEijkhout is seeing.

[2020-05-12 15:05] VictorEijkhout commented on #7338
On , 2020May12, at 09:56, Paul Wolfenbarger <notifications@github.com<mailto:notifications@github.com>> wrote:

Short of a more significant test

I think you guys should adopt “build dealii with trilinos support” in your regression suite. That has brought to light quite a few of this sort of breakages in your Cmake whatever.

Victor.

[2020-05-12 16:02] mperego commented on #795
@bartlettroscoe, @kliegeois is working with @etphipp  and I on adding hessian support to Thyra Model Evaluator. He is following the design provided here
https://docs.google.com/document/d/14oek8UQdDmAn_V0s-zbWR-IsW9WBRKEIgh0Y5gsxiOY/edit#heading=h.ggzv0sz6p2bt
When the work is in good shape we will open a PR so that you can have a look at it.

[2020-05-12 16:46] srajama1 commented on #7338
@jwillenbring : @VictorEijkhout has a good point in terms of testing (though I don't know what special thing Deal.ii is doing here). Can you add it to the leaders meeting agenda ?

[2020-05-12 16:52] kddevin commented on #6930
Thanks, @gslota

[2020-05-12 16:52] VictorEijkhout commented on #7338
On , 2020May12, at 11:46, Siva Rajamanickam <notifications@github.com<mailto:notifications@github.com>> wrote:

(though I don't know what special thing Deal.ii is doing here).

I’ll be happy to furnish you with my dealii build script….

V.

[2020-05-12 16:53] kddevin commented on #7351
Whoa, that was fast, @MicheldeMessieres .  Thanks!

[2020-05-12 17:11] #7223 closed

[2020-05-12 17:12] #7234 closed

[2020-05-12 18:07] srajama1 commented on #7338
@VictorEijkhout Yes, that would be useful.

[2020-05-12 18:43] syaskovets commented on #7350
Indeed, it worked. Thanks a lot!

[2020-05-12 18:43] #7350 closed

[2020-05-12 18:51] csiefer2 commented on #7348
@bartgol Yup.  What you suggest is the behavior we want.

[2020-05-12 18:54] kddevin commented on #7230
Thanks @markyoder.  Can you please post your cmake configuration command?  Thank you.

[2020-05-12 18:58] kddevin commented on #7350
I updated the wiki page with correct syntax.

[2020-05-12 21:10] seheracer commented on #7339
Closing this issue since https://github.com/trilinos/Trilinos/pull/7340 has been merged.

[2020-05-12 21:10] #7339 closed

[2020-05-12 22:00] VictorEijkhout commented on #7338
My dealii install seems relatively straightforward:

+ cmake -VV -DCMAKE_INSTALL_PREFIX=/home1/apps/intel19/impi19_0/dealii/9.1.1 -DDEAL_II_WITH_CXX11=ON -DDEAL_II_WITH_CXX17=OFF '-DDEAL_II_CXX_FLAGS_DEBUG=-g -march=native -I/opt/intel/compilers_and_libraries_2019.5.281/linux/tbb/include -O0' '-DDEAL_II_CXX_FLAGS_RELEASE=-g -march=native -I/opt/intel/compilers_and_libraries_2019.5.281/linux/tbb/in

[2020-05-12 22:35] #7329 closed

[2020-05-12 22:36] bartlettroscoe commented on #7341
Yup, the build from scratch: shown at:

* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-waterman-cuda-9.2-release-debug/556/consoleFull

made this build error go away as shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-05-12&filtercount=1&showfilters=1&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-release-debug) sh

[2020-05-12 22:38] bartlettroscoe commented on #6855
Another example of rebuild problems in #7341.

I have to deal with #6840 then I will put in the reproducability instructions for the case I know it is repeatable on every platform.

[2020-05-13 00:22] gsjaardema commented on #7329
The `MESH_REDUCTION` would be a better replacement.  I'm not sure why I didn't just make `INFORMATION` an alias for `MESH_REDUCTION` so I wouldnt break anything...

[2020-05-13 00:23] ikalash commented on #7329
Ah ok, this is good to know.  I'll change it in Albany - thanks!

[2020-05-13 01:51] ikalash opened #7357 "Tempus: add initialize() and setObserver() routines to IntegratorAdjointSensitivity class"
This is a feature request from Albany.  In order to add adjoint transient sensitivities to Piro/Albany given the current design (intended to work in the same way for the no sensitivity, forward sensitivity, and adjoint sensitivity case), the Tempus::IntegratorAdjointSensitivity class needs the following routines to be implemented:
- ```void initialize()```
- ```void setObserver(Teuchos::RCP< Integ

[2020-05-13 01:56] ikalash opened #7358 "Tempus: request for better documentation of getX(), getXDot() and getXDotDot() in SolutionState class with sensitivities"
I have discovered that the getX(), getXDot() and getXDotDot() routines in the Tempus sensitivity integrator classes work differently than the routines with the same names in the SolutionState class.  For forward sensitivities, if one calls integrator->getX(), this will return the current solution, x (w/o the sensitivities).  However, if one calls solution_state->getX(), this will return a Block MV

[2020-05-13 14:07] csiefer2 commented on #7348
Fix merge. @bartgol please close issue if the fix meets your needs.

[2020-05-13 15:23] bartlettroscoe commented on #795
@mperego, this sounds great.  Sorry I was not able to get that done at the time.

[2020-05-13 15:25] bartgol commented on #7348
Great, thanks for doing this so quickly!

[2020-05-13 15:25] #7348 closed

[2020-05-13 15:57] #7342 closed

[2020-05-13 18:14] gvilanovac commented on #6996
@srajama1 Just a short update on this topic.

The people from MUMPS have released a new version 5.3.1 in which they improved significantly the scalability of the library. This, combined with some parameter changes in calling MUMPS, produced great improvements:

#Procs | Sequential input | Parallel input | Seq/Par | Seq/Par sym
-- | -- | -- | -- | --
56 | 15.72 | 3.80 | 4.14 | 3.80
42 | 16.04 | 0.0

[2020-05-13 19:22] #7314 closed

[2020-05-13 20:01] ikalash commented on #7328
It seems the PR of this hasn't been merged in yet, as we are still seeing some failures in the Albany nightlies.  Any updates on the status of the PR?

[2020-05-13 20:12] kddevin commented on #7351
Fixed by @MicheldeMessieres
https://github.com/trilinos/Trilinos/pull/7356

[2020-05-13 20:12] #7351 closed

[2020-05-13 22:33] gsjaardema commented on #7328
Sorry, I just saw this.  I need to look at this further. The intent was to try to remove CMake trickery and we were also assuming that all Parallel builds would also be using Parallel NetCDF which obviously is not the case.

The issue we were having is that applications that *did* have a parallel NetCDF were not getting the trigger that NetCDF *was* parallel.

I will see if I can figure out some m

[2020-05-13 23:20] srajama1 commented on #6996
@gvilanovac These are interesting numbers. Thank you ! We will prioritize adding parallel inputs to MUMPS.

[2020-05-14 12:45] prwolfe commented on #6216
I see 4 failures last night across

Trilinos_pullrequest_intel_17.0.1
Linux-GCC-4.9.3-openmpi-1.8.7_Debug_DEV_Werror
Linux-GCC-4.8.4-ROL_DOWNSTREAM_MPI_RELEASE
Trilinos_pullrequest_gcc_8.3.0

Looks like those are all timeouts. The failure trend goes as high as 13 failures in a day.  Anyone working this?

[2020-05-14 13:03] bartlettroscoe commented on #6216
@prwolfe, can you provide a link for the queryTests.php page that shows these exact failures?

[2020-05-14 13:07] prwolfe commented on #6216
I used

https://testing.sandia.gov/cdash/testSummary.php?project=1&name=ROL_example_PDE-OPT_helmholtz_example_02_MPI_1&date=2020-05-13

But that is a pretty heavy query – I’m sure you can slim that down.

Paul

From: "Roscoe A. Bartlett" <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Thursday, May 14, 2020 at 7:03 AM
To: trilinos/Trilinos <Trilinos@noreply.gi

[2020-05-14 13:08] bartlettroscoe commented on #6216
@prwolfe, one can't use the testSummary.php page to query across multiple builds.  One must use the queryTests.php page to do that.

[2020-05-14 14:24] jmgate opened #7369 "Kokkos: Control Profiling Hooks Programmatically"
## Enhancement
@trilinos/kokkos

@bathmatt, can you please cherry-pick these commits from Kokkos onto `trilinos/Trilinos:develop` and then throw up a PR?  Thanks.
* kokkos/kokkos@5492068954436aa8fb690335c415a8ce43d23620
* kokkos/kokkos@345e68a1b541bb7cf556bf566bc5c39fd04f17be
* kokkos/kokkos@66182cf85c61967f8544ad9d2c2d34307b7e93c6
* kokkos/kokkos@62b79ffa2d7009f021cad2ade370c41438ce115f
* kokkos/

[2020-05-14 16:19] bartlettroscoe commented on #6329
FYI: As part of the work in to improve running of the Trilinos test suite on GPUs, it was found in https://github.com/trilinos/Trilinos/pull/6840#issuecomment-628732349 that this test does not pass when it is run by itself.  Therefore, adding the `RUN_SERIAL` will not make this test pass.

Therefore, this test need to just be disabled in all of the 'waterman' builds.

[2020-05-14 18:20] bartlettroscoe commented on #6968
CC: @prwolfe, @jwillenbring, @crtrott, @ibaned, @rppawlo, @mwglass

FYI: PR #6814 is now merged to 'develop' so Trilinos now allows you to set:

[code]

Now sure how this will with the Kokkos option `Kokkos_CXX_STANDARD`.

Also note that now Trilinos has `CMAKE_CXX_EXTENTIONS=OFF` set by default as well.

Now someone just needs to update the GCC 4.8.3 PR to enable C++14.

[2020-05-14 18:23] bartlettroscoe commented on #7341
Closing for real.

[2020-05-14 18:23] #7341 closed

[2020-05-14 18:25] bartlettroscoe commented on #7331
Been fixed since testing day 2020-05-09 as shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-05-01&end=2020-05-14&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-debug&field2=subprojects&compare2=93&value2=SEACAS).

Closing as complete.

[2020-05-14 18:25] #7331 closed

[2020-05-14 18:27] csiefer2 opened #7371 "Tpetra Stack: Change Kokkos::deep_copy() call syntax to remove synchronize calls"
**Sample Code**
[code]

**Sample Results**
[code]

**Path Forward**

All 2-arg Kokkos::deep_copy() calls in the Tpetra stack that copy _from device memory to device memory_ should be replaced with the 3-arg version  that takes the execution space as the first argument.  This removes 2 cudaDeviceSynchronize() calls per deep_copy().

@kddevin @tjfulle @brian-kelley @jhux2 @kyungjoo-kim  @GeoffDaniel

[2020-05-14 20:43] csiefer2 commented on #7371
As per @crtrott we can 3-arg host->device transfers (without fencing afterwards) so long as we're sure nobody is going to touch the host buffer until we're sure the copy is done.

[2020-05-14 21:19] brian-kelley opened #7372 "Tpetra: inconsistency between BlockMultiVector, BlockVector getLocalBlock()"
## Semi-bug
@trilinos/tpetra

``BlockMultiVector::getLocalBlock(row, col)`` returns a host mirror of ``little_vec_type`` (``little_vec_type`` is a 1-D scalar view on device).

But ``BlockVector::getLocalBlock(row)`` just returns a ``little_vec_type``.

This is especially confusing since BlockMultiVector is the superclass of BlockVector. I think both versions of getLocalBlock should be returning a

[2020-05-14 22:16] gsjaardema commented on #7328
This should be fixed with #7368

[2020-05-15 13:41] jjellio opened #7376 "Trilinos: Enable build statistics"
## Enhancement
This Issue is for tracking any effects from a PR I am submitting with tools for collecting very detailed build statistics, that seems to have near zero cost.  A goal of this work is to enable packages/product owners to understand how their packages impact compile time, memory usage, and file size (among others).

The impact of using the tool seems to be zero.  That is, the tool's ov

[2020-05-15 13:46] jwillenbring opened #7378 "Inconsistently failing tests"
## Bug Report
@trilinos/framework

### Description

A number of tests fail occasionally for PR and other testing. Sometimes things just go wrong with a test run (network or machine issue, etc) and something fails, but there are some tests now, and some show up from time to time, that do consistently fail some percentage of the time less than 100 and more than 0. These are hard to track down. When

[2020-05-15 15:04] bartlettroscoe commented on #7376
This is going to be quite nice.

[2020-05-15 15:13] jwillenbring commented on #7378
I observed that this test failed, then passed in the next run for my PR:

[MueLu_UnitTestsTpetra_MPI_4](https://testing.sandia.gov/cdash/testDetails.php?test=112405591&build=7032651)

Here is the [associated build](https://testing.sandia.gov/cdash/viewTest.php?buildid=7032651)

Here is a [summary of the test runs for that day](https://testing.sandia.gov/cdash/testSummary.php?project=1&name=MueLu_U

[2020-05-15 15:21] #7330 closed

[2020-05-15 16:14] ikalash opened #7379 "Seacas: new seacas build error in Albany nightlies"
We have a new seacas build error in some of our Trilinos nightlies:
[code]
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=1803

I'm guessing it crept in with PR https://github.com/trilinos/Trilinos/pull/7368 ?  @gsjaardema , can you please have a look?

@trilinos/seacas

[2020-05-15 16:21] #7335 closed

[2020-05-15 18:21] william76 commented on #6601
@jwillenbring Just doing a quick pass through things and it looks like the HTML link for _Trilinos CMake Reference_ is still broken. The PDF link does load a document but I don't know how current it is.

I noticed the same link is also broken on https://trilinos.github.io/getting_started.html as well.

[2020-05-15 18:25] william76 commented on #4277
@jprattgsu I'm closing this issue b/c it's been inactive over a year. If you're still having this problem with the latest Trilinos please re-open or file a new issue. 😃

FYI @ndellingwood (since you commented on this back in the day :p)

[2020-05-15 18:25] #4277 closed

[2020-05-15 18:27] #2102 closed

[2020-05-15 18:47] william76 opened #7382 "Framework: GitHub Workflows to close dead issues?"
## Enhancement
@trilinos/framework

I'm creating this issue to facilitate and track a discussion on setting up a GitHub workflow to automate closing abandoned issues.

There are quite a few issues in Trilinos that are really old and can be deleted because they're either:
a. Resolved but not closed
b. Outdated / Not applicable anymore
c. Deferred indefinitely / Will not be implemented

GitHub provi

[2020-05-15 18:53] #2424 closed

[2020-05-15 19:19] william76 opened #7383 "Framework: Trilinos Installation Testing"
@trilinos/framework

This is a top-level tracking issue for Trilinos installation testing. This topic has been posted a few times before but it keeps getting down prioritized... but we also haven't really ever broken the overall task into sub-tasks that may be easier to work on and track.

Tasks
=====
This is an initial broad-brush list of tasks that I think we probably need for this. It will sure

[2020-05-15 22:01] csiefer2 commented on #7376
Nice!

[2020-05-15 23:18] ikalash commented on #7379
@gsjaardema : thanks for putting this together so fast!  I just tried building Albany with this PR and unfortunately other issues have cropped up, e.g.:
[code]
I am attaching the configure script I use to build the code.  You can probably reproduce the error if you use it.

[do-cmake-trilinos-mpi-camobap.txt](https://github.com/trilinos/Trilinos/files/4637439/do-cmake-trilinos-mpi-camobap.txt)

[2020-05-16 00:50] gsjaardema commented on #7379
What system should this be run on to make the paths work.

[2020-05-16 01:09] ikalash commented on #7379
That build script was from my Fedora workstation, which is non-standard.  But I see the same error on my RHEL7 workstation with sems modules.  The modules to load are here: https://github.com/SNLComputation/Albany/blob/master/doc/nightlyTestHarness/mockba/modules_mockba.sh and the configure script here: https://github.com/SNLComputation/Albany/blob/master/doc/nightlyTestHarness/mockba/do-cmake-tri

[2020-05-16 21:55] jjellio commented on #7376
PR #7377 has merged, so the tools used to collect the stats are in the repo.

The next step is sorting out how to get CMake to use the statistic gathering compiler wrappers.

If anyone has comments, this is what I've outlined to go over w/Ross.

1.  Wrapper creation.
    *  We discussed using an ENV variable to enable/disable the feature
    *  If done via CMake, then whatever changes needs to be

[2020-05-17 00:13] maherou commented on #7260
Completed as mentioned on trilinos.github.io

[2020-05-17 00:13] #7260 closed

[2020-05-18 16:37] jhux2 commented on #7231
I think issues like this one are more appropriate to filed against trilinos.github.io.  @maherou @william76 what do you think?

[2020-05-18 16:49] jhux2 commented on #3900
Closing as fixed.  See https://github.com/trilinos/trilinos.github.io/issues/32.

[2020-05-18 16:49] #3900 closed

[2020-05-18 16:49] jhux2 commented on #6338
Closed as fixed.  See https://github.com/trilinos/trilinos.github.io/issues/32.

[2020-05-18 16:49] #6338 closed

[2020-05-18 21:46] glhenni commented on #7328
@gsjaardema that seems to have gotten rid of the `ex_open_par()` issue, but now I'm getting a different undefined reference:
[code]

[2020-05-18 21:51] gsjaardema commented on #7328
Are you using a parallel NetCDF, but telling CMake that is isn't parallel?

[2020-05-18 22:08] glhenni commented on #7328
On my test platform, the one I'm basing this on, I'm using a system installed netcdf library so I can't be entirely sure  (stock Ubuntu 18.04). It doesn't look to me like there's any parallel capabilities enabled. The library it's pointing to is `/usr/lib/x86_64-linux-gnu/libnetcdf.so.13` and the file `/usr/lib/x86_64-linux-gnu/libnetcdf.settings` has
[code]

[2020-05-18 22:22] gsjaardema commented on #7328
Is there a `<build_dir>/packages/seacas/libraries/ioss/src/SEACASIoss_config.h` and if so what is the setting for `PARALLEL_AWARE_EXODUS`

Also `<build_dir>/packages/seacas/libraries/exodus/exodus_config.h`

And, I guess for completness, is `TPL_NetCDF_PARALLEL` in the `<build_dir>/CMakeCache.txt`

[2020-05-18 22:32] glhenni commented on #7328
CMakeCache.txt:
[code]
SEACASIoss_config.h:
[code]
exodus_config.h:
[code]

[2020-05-18 22:36] gsjaardema commented on #7328
OK, not sure how you are getting a reference to `Ioex::ParallelDatabaseIO` then.  Is this from a clean build or is there a possibility it is accessing old include files or old libraries/object files some way?

[2020-05-18 22:41] gsjaardema commented on #7328
And this is happening if you manually apply #7380 since it is stuck waiting for tests to run...

[2020-05-19 00:52] glhenni commented on #7328
Damn it! That will teach me to scroll to the bottom of PRs. I just assumed that after 4+ days it had merged in to `develop`.

I applied the PR manually and charon builds fine.

Sorry for the confusion and wasted time.

[2020-05-19 02:42] gsjaardema commented on #7328
Not a problem. Glad it was solved.

[2020-05-19 12:44] davoodansari opened #7394 "Teplated Tpetra Matrices and LP64 vs ILP64 MKL"
## Question
@trilinos/\<PackageName\>

What are you wondering about?  What has you confused?  What answers do you
need?  What are you trying to accomplish?  How does your question fit into what
you're trying to do?

[2020-05-19 12:51] davoodansari opened #7395 "Templated Tpetra Matrices and LP64 vs ILP64 MKL"
## Question
@trilinos/\<Tpetra\>

Could not find anything relevant by searching via google so here is a perhaps 'trivial' question for those who know.

I am a little confused about the relationship between the ability to chose templates matrices and vectors (specifically global ordianal and local ordianl) in Tpetra and the potential dependency on BLAS/BLACS/LAPACK. More specifically, and as an exa

[2020-05-19 13:32] mayrmt commented on #7394
Closing, as this issue just posts the issue template and is probably a duplicate of #7395 .

@davoodansari Feel free to edit the description and reopen, if necessary.

[2020-05-19 13:32] #7394 closed

[2020-05-19 15:17] #4657 closed

[2020-05-19 16:55] ccober6 opened #7396 "Tempus: Add TimeEvent Object"
## Enhancement
@trilinos/tempus

Add the ability to trigger temporal events, e.g.,

1. Solution output
2. Diagnostic output
3. Restart
4. Screen dump
5. Debug
6. In-situ visualization
7. User-specified (i.e., observer)
8. Others?

Ability to specify temporal “events” via
- Time and/or time step index
- Start and stop times and/or indices
- Interval and/or number of “events”
- List of times and/or

[2020-05-19 22:45] william76 commented on #1826
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:46] william76 commented on #2516
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:46] #2516 closed

[2020-05-19 22:46] william76 commented on #2970
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:46] #2970 closed

[2020-05-19 22:46] william76 commented on #3247
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:46] #3247 closed

[2020-05-19 22:48] william76 commented on #4422
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:48] #4422 closed

[2020-05-19 22:49] william76 commented on #4492
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:49] #4492 closed

[2020-05-19 22:50] william76 commented on #2423
Closing out an old issue that's probably been fixed or is no longer relevant.

[2020-05-19 22:50] #2423 closed

[2020-05-19 22:51] bartlettroscoe commented on #2423
We have a bunch of these in the ATDM Trilinos builds.

[2020-05-20 02:48] srajama1 commented on #1826
Is METIS enabled in some testing now ? The issue has been open for 3 years because we have not been testing with it.

[2020-05-20 02:50] srajama1 commented on #1782
@trilinos/framework

[2020-05-20 15:04] mhoemmen commented on #2516
I think this did get fixed, thanks to @csiefer2 et al.

[2020-05-20 15:10] krcb opened #7399 "STK: no type named 'pushRegion' in namespace 'Kokkos::Profiling'"
## Bug Report
@trilinos/stk

### Description

Trying to build Trilinos with clang 8.0.1 on MacOS X yields the following error:

[code]

This appears to be due to a missing include:

[code]

### Steps to Reproduce
1. SHA1:  [insert here]
1. Configure script:  [attach here]
1. Configure log:  [attach here]
1. Build log:  [attach here]
1. Input deck:  [attach here]
1. Do this.
1. Do that.
1. Shake fi

[2020-05-20 15:18] rppawlo commented on #7399
@krcb - are you using the github trilinos or the empire fork of trilinos?

[2020-05-20 15:19] krcb commented on #7399
@rppawlo The empire fork.

[2020-05-20 15:27] rppawlo commented on #7399
@krcb - This is something @bathmatt was looking at and is specific to the empire fork. empire fork has pulled in changes to kokkos profile API (not currently in github trilinos version of kokkos) that breaks stk but so far only for one user. Sean saw this in an ubuntu build. See https://github.com/trilinos/Trilinos/pull/7370 and the internal gitlab issue on profiling hooks. Incidentally, I believe

[2020-05-20 15:28] krcb commented on #7399
@rppawlo Great, thanks for the clarification. I will close this.

[2020-05-20 15:28] #7399 closed

[2020-05-20 16:04] alanw0 commented on #7399
One subtlety is that I think Matt made the fix (include a different/new kokkos header) in a stk_mesh file but we have the same file in the stk_ngp directory which is on its way to being deprecated. Theoretically stk_ngp shouldn't be built, as I don't think anything should need it. But it might get enabled by default so it might be necessary to add -DTrilinos_ENABLE_STKNGP:BOOL=FALSE

[2020-05-20 17:48] ikalash commented on #7379
Finally this is fixed!  Thanks @gsjaardema !

[2020-05-20 17:48] #7379 closed

[2020-05-20 18:08] gsjaardema commented on #7379
Sorry for the problems.  I will try to be more careful/thorough in the future.

[2020-05-20 19:32] jhux2 commented on #7395
@trilinos/tpetra

[2020-05-20 19:34] jhux2 commented on #7274
@trilinos/amesos2

[2020-05-20 19:35] jhux2 commented on #7281
@bartlettroscoe @trilinos/framework

[2020-05-20 19:45] bartlettroscoe commented on #7281
@hpcnpatel, as far as I know, Trilinos only supports `<Package>Config.cmake` (one for each enabled Trilinos package) and a `TrilinosConfig.cmake` files for downstream CMake customers and `Makefile.export.<Package>` (one for each enabled Trilinos package) and `Makefile.export.Triinos` files for downstream Makefile customers.  See:

* https://tribits.org/doc/TribitsBuildReference.html#generating-exp

[2020-05-20 21:57] bartlettroscoe commented on #3276
@trilinos/kokkos

FYI: Looks like the unit test `cuda.debug_pin_um_to_host` in the test  `KokkosCore_UnitTest_Cuda_MPI_1` is randomly failing in the CUDA PR build as shown at:

* https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-02-01&end=2020-05-20&filtercount=5&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildname&compare2=6

[2020-05-21 04:14] ndellingwood commented on #7274
PR #7404 issued with the desired fix (along with some unit test fixes). Thanks @maartenarnst for reporting and testing the fix beforehand!

[2020-05-21 04:15] srajama1 commented on #7274
@maartenarnst : Sorry for missing this issue. The github volume has become too much to manage. This should be a pretty easy to fix. I am not sure why these got commented out. Let me check.

[2020-05-21 04:31] ndellingwood commented on #7274
@srajama1 I put in a PR with the fix #7404, ready for review

[2020-05-21 04:51] srajama1 commented on #7274
@ndellingwood : Thanks for the PR ! I just approved it

@maartenarnst : Thanks for the fix ! This is just an embarrassing bug and I worry how it went without getting caught for years.

[2020-05-21 13:56] bartlettroscoe commented on #6799
I had forgotten that I had already created this issue.  This failing tests has also been taking down PR testing iterations as shown in https://github.com/trilinos/Trilinos/issues/3276#issuecomment-631749385.

I will disable these individual unit tests in all ATDM Trilinos CUDA builds and in the Trilinos PR CUDA build.

[2020-05-21 14:18] bartlettroscoe commented on #6329
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-05-01&end=2020-05-21&filtercount=5&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=ATDM&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=buildname&compare3=64&value3=Trilinos-atdm-waterman&field4=testname&compare4=61&value4=ROL_NonlinearProblemTest_MPI_4&field5=test

[2020-05-21 14:57] maartenarnst commented on #7274
Thanks @ndellingwood  and @srajama1!

[2020-05-21 15:12] mhoemmen commented on #7395
@davoodansari I don't work on Trilinos any more, but as far as I know, Trilinos has only ever worked with BLAS implementations that use 32-bit integers in their interface.  The BLAS wrappers are the main reason.  It could be that kokkos-kernels has fixed that issue in its BLAS wrappers, but that's a question to ask its developers.  Furthermore, plenty of downstream solvers use Teuchos' BLAS and LA

[2020-05-21 15:44] srajama1 commented on #1826
@william76 : I am reopening because of my question above. Please close it if you think the testing is addressed.

[2020-05-21 15:47] bartlettroscoe commented on #7122
CC: @e10harvey

NOTE: This may or may not be related to the `*.out` fix in PR #7406 but I think it is more likely related to the mas "Error initializing RM connection. Exiting" described in #6861.

[2020-05-21 18:01] bartlettroscoe commented on #6329
This test is disabled in all ATDM Trilinos CUDA PR builds in PR #7407 and has been merged to 'atdm-nightly' in commit 4804b08.

Putting in review.

[2020-05-21 18:03] bartlettroscoe commented on #6799
These two unit tests are disabled in all ATDM Trilinos CUDA PR builds in PR #7407 and has been merged to 'atdm-nightly' in commit 4804b08.

Putting in review.

[2020-05-21 18:05] bartlettroscoe commented on #7090
This test is disabled in all ATDM Trilinos CUDA PR builds in PR #7407 and has been merged to 'atdm-nightly' in commit 4804b08.

Putting in review.

[2020-05-21 18:36] jhux2 opened #7411 "MueLu: error when calling ReuseTpetraPreconditioner"
A number of users have reported that when using `ReuseTpetraPreconditioner`, the resulting `Hierarchy::apply()` crashes on the second go-round.

[2020-05-21 18:37] jhux2 commented on #7411
I have a unit test that reproduces this.

[2020-05-22 20:03] lisaclaus opened #7413 "Trilinos-amesos2: Add STRUMPACK solver"
## Enhancement
@trilinos/\<Amesos2\>

Please review the changes we made to include STRUMPACK as a direct solver in the Trilinos-amesos2 interface.

[2020-05-22 20:50] bartlettroscoe commented on #3272
@trilinos/framework

PR #7414 fixes this.

@jwillenbring, this is in line with the one-on-one discussion we had a few weeks back about this issue.

[2020-05-22 20:52] bartlettroscoe commented on #6697
FYI: The package selection logic will get fixed when PR #7414 gets merged.

[2020-05-22 22:09] jhux2 commented on #7413
@lisaclaus If there is a PR that the @trilinos/amesos2 team should see, please link it to this issue.

[2020-05-23 03:21] lisaclaus commented on #7413
#7417

[2020-05-23 03:23] gsjaardema commented on #7089
This should be fixed now.  Test has been passing consistently for a few weeks.

[2020-05-23 18:22] jjellio opened #7419 "Trilinos: Cmake fails if your source directory is readonly"
## Bug Report
Not sure if this is Tribits or CMake
@bartlettroscoe

### Description
On Stria, if I mark my ATDM Trilinos fork as readonly `chmod -R u-w`, then I get a weird permissions error at the end of configure:

[code]

I assume the problem is that something (tribits?) is inheriting permissions from the source repo when writing these files.

This was a real headache to isolate.  I had marked

[2020-05-23 19:49] bartlettroscoe opened #7420 "SEACAS configure failures in ATDM Trilinos 'ats2', 'cts1', 'waterman', and 'van1-tx2' builds stating 2020-05-23"
CC: @trilinos/seacas , @kddevin (Trilinos Data Services, Product Lead), @gsjaardema

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label "impacting: tests"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???

[2020-05-23 19:50] bartlettroscoe commented on #7420
@gsjaardema,  from looking at the commits pulled on 2020-05-23 shown [here](https://testing-dev.sandia.gov/cdash/viewNotes.php?buildid=5473677#!#note1), it looks likely that this error was triggered by merged PR #7408.

[2020-05-23 19:57] bartlettroscoe commented on #7420
Looking at that CMake code in:

https://github.com/trilinos/Trilinos/blob/develop/packages/seacas/libraries/ioss/src/main/CMakeLists.txt#L304

which shows:

[code]

it looks like the variable `SEACAS_EXODIFF_BINARY` is empty.

Any idea what is going on here?

[2020-05-23 20:00] bartlettroscoe commented on #7420
The cache shown [here](https://testing-dev.sandia.gov/cdash/viewNotes.php?buildid=5473677#!#note7) shows:

[code]

Don't understand why this test is even getting enabled then.

[2020-05-23 21:53] #7274 closed

[2020-05-24 01:26] bartlettroscoe commented on #7089
@gsjaardema, note that @rmmilewi is writing a tool that will automatically update GitHub issues like this and will make it clear when it is okay to close.  See #3887.

I am purposefully leaving many of these issues open for Reed's tool to act on so we can get some developer feedback.

[2020-05-24 02:55] SreevatsaAnantharamu opened #7422 "Teko: Using Teko to construct a custom block diagonal preconditioner for the saddle point problem"
## Question
@trilinos/\<Teko\>

I am wondering about how to use Teko to construct the following custom block-diagonal preconditioner for the following saddle point problem that arises from stable mixed FEM discretization for incompressible elasticity,
[K   G] [u] = [bu]
[GT 0] [p] = [bp]
Here, K is a symmetric positive definite stiffness matrix, G is the gradient matrix, and GT is the transpose of

[2020-05-24 16:46] maherou opened #7423 "Framework: Add citation message to end of Trilinos CMakeLists.txt file"
## Enhancement
@trilinos/framework

In order to increase citation awareness among Trilinos users, I think it would be useful to have a final CMake message() added to the Trilinos CMakeLists.txt file.  Something like the following would be useful:

message(STATUS "If publishing results using Trilinos, please cite us: https://trilinos.github.io/cite.html")

The https://trilinos.github.io/cite.html p

[2020-05-24 16:54] bartlettroscoe commented on #7423
Will need to put this at the very bottom of Trilinos/CMakeLists.txt.  That way, the only lines that will be printed after this will be three CMake-generated lines:

[code]

Otherwise, if you want the citation line to be the very last line printed, you will need to use a driver script calling cmake.

[2020-05-26 14:24] rppawlo commented on #7423
Should the toms paper listed on the github.io link?

[2020-05-26 15:49] cgcgcg opened #7426 "Framework: Launch autotester, but don't approve PR"
## Question
@trilinos/framework

Is there a way that I can launch the autotester for a PR created by someone who is not part of the Trilinos organisation without outright approving the PR?

[2020-05-26 15:52] jwillenbring commented on #7426
@cgcgcg I would need to understand a little more about what you mean. If auto merge is not on, approval will not cause the PR to merge after testing. I believe you could also watch it and modify your review after the testing starts. Another approach would be to submit your own PR with the changes from the PR, and then close your PR later. What is your objective?

[2020-05-26 17:27] bartlettroscoe opened #7428 "Trilinos PR tester allowing merge of "Stale" without new round of testing"
## Bug Report
@trilinos/framework

### Description

For the long-stale PR #7229, I just removed the `AT: STALE` label and added the `AT: RETEST` label and GitHub shows that I can merge this right away showing:

![image](https://user-images.githubusercontent.com/1959736/82930905-1fee4680-9f54-11ea-87bd-63f255ca4d6d.png)

last comment from the PR tester shown [here](https://github.com/trilinos/Trili

[2020-05-26 17:29] bartlettroscoe commented on #7428
Just to prove what I am seeing, here is the GitHub page for #7229 right now:

![image](https://user-images.githubusercontent.com/1959736/82931385-d7835880-9f54-11ea-991f-1cf50db1ec8a.png)

[2020-05-26 17:33] bartlettroscoe commented on #6697
With the merge of #7414, this should be resolved now.   Let't wait for confirmation to testing of #7229 and then we can close.

[2020-05-26 17:34] bartlettroscoe commented on #3272
With the merge of #7414, this should be resolved now. Let't wait for confirmation to testing of #7229 and then we can close.

[2020-05-26 17:41] bartlettroscoe commented on #2689
Technically made more progress on improving installing in PRs #7285 and #7297.

That last bit of scope stopping this story from being closed described [above](https://github.com/trilinos/Trilinos/issues/2689#issuecomment-484557444) would be to move the build and source trees out of the way after the install.  That would make the install testing a little stronger but I fear that may cause some conf

[2020-05-26 17:41] #2689 closed

[2020-05-26 17:59] bartlettroscoe commented on #2422
CC: @KyleFromKitware

@jjellio, continuing from the discussion started in https://github.com/kokkos/kokkos/issues/3040, I did timing of the Trilinos test suite with a CUDA build on 'vortex' for the 'ats2' env and I found that raw 'jsrun'  does **not** spread out over the 4 GPUs on a node on that system automatically.  However, when I switched over to the new CTest GPU allocation approach in commit

[2020-05-26 18:03] jjellio commented on #2422
@bartlettroscoe It depends entirely on the flags you've given to JSRUN. The issue I've linked to shows it working. It hinges on resource sets. What jsrun lines are you using?

[2020-05-26 18:07] bartlettroscoe commented on #2422
@jjellio, I believe the same one's being used by SPARC that these were copied form.  See lines starting at:

* https://github.com/trilinos/Trilinos/blob/65c88d911ce85fe96dee5fd3e0f30530fb25ff81/cmake/std/atdm/ats2/environment.sh#L163

Since the CTest GPU allocation method is working so well, I would be hesitant to change what is currently in PR #7204

[2020-05-26 18:13] jjellio commented on #2422
Yep, and those options do not specify a gpu or binding options.  The lines currently used on most platforms for Trilinos testing are chosen to oversubscribe a system to get throughput.

The flags I used back then were:
[code]

The problem is the those flags use `-a`, which forbids `-p`.  It could be that `-a` is what made the difference, but I tend to think it was `-g1` - spectrum needs to know yo

[2020-05-26 18:19] bartlettroscoe commented on #2422
@jjellio,

When you say:

who is doing this testing?

Otherwise, we have had problems with robustness when trying to oversubscribe on some systems (I would have to resource some).

[2020-05-26 18:38] jjellio commented on #2422
So, I just ran on the ATS2 testbed (rzansel)

Using `-r4 -c4 -g1 -brs -p1`, the jobs are serialized: (look for 'PID XYZ started', if they are parallel, you'd expect 4 PIDs starting at the start)
[code]

They become unserialized if you use `-r1 -a1 -g1 -brs`, that's pretty obnoxious. That line works in places of `-p1`.

So it would seem if you use:

export ATDM_CONFIG_MPI_POST_FLAGS="-r;4,-c;4;-g;1

[2020-05-26 18:47] bartlettroscoe commented on #2422
What is the advantage of selecting those options over what is listed in `atdm/ats2/environment.sh`  currently?  What is broken that this is trying to fix?

It is not just you and I, it is everyone running Trilinos tests on ATS-2.  The ATDM Trilinos configuration should be the recommended way for people to run the Trilinos test suite on that system.

[2020-05-26 18:52] jhux2 commented on #7422
@trilinos/teko

[2020-05-26 19:38] cgcgcg commented on #7422
@SreevatsaAnantharamu You could have a look at MiniEM, and the block preconditioner it uses: https://github.com/trilinos/Trilinos/blob/master/packages/panzer/mini-em/src/solvers/MiniEM_FullMaxwellPreconditionerFactory.cpp

[2020-05-26 19:56] prwolfe commented on #7428
If I remember correctly, the autotester expects it will be the only one setting and removing the Stale tag. There is no enforcement however. You will note that after your removal the autotester added it back in, then removed it when the tests fired about 30 seconds later.