[2017-04-05 04:53] mhoemmen commented on #1191
@bathmatt Here are the packages that need fixing (grep for `CHAR_MACRO` or `_fcd`, exclude `ex_fcdcpy` in Seacas):
  - Amesos (ScaLAPACK wrappers)
  - Anasazi (modal analysis solvers)
  - AztecOO
  - Epetra
  - ML
  - Teuchos
  - Tpetra

That's a lot.  It might not be _hard_ to fix (that's the value of the macros), but if the proposed fix breaks AztecOO or ML, it could cause a lot of trouble.

I n

[2017-04-05 04:53] mhoemmen commented on #1191
@trilinos/anasazi @trilinos/amesos @trilinos/teuchos @trilinos/muelu @trilinos/tpetra

[2017-04-05 14:57] mhoemmen opened #1211 "Amesos: Fortran string ABI binding needs new option for OpenBLAS on POWER"
@trilinos/amesos @trilinos/amesos2

See #1208 for analogous discussion. Epetra_fcd and CHAR_MACRO also exist in Epetra.

[2017-04-05 15:00] mhoemmen opened #1212 "AztecOO: Fortran string ABI binding needs new option for OpenBLAS on POWER"
See #1208.

[2017-04-05 15:02] mhoemmen opened #1213 "Anasazi: Fortran string ABI binding needs new option for OpenBLAS on POWER"
@trilinos/anasazi
See #1208.  Anasazi mostly just uses Teuchos and (Epetra or Tpetra), but the modal analysis solvers also have a direct interface to LAPACK for some reason.

[2017-04-05 15:03] mhoemmen opened #1214 "ML: Fortran string ABI binding needs new option for OpenBLAS on POWER"
@trilinos/muelu
See #1208.

[2017-04-05 15:04] mhoemmen opened #1215 "Tpetra: Fortran string ABI binding needs new option for OpenBLAS on POWER"
@trilinos/tpetra
See #1208.  Tpetra has its own binding of GEMM, recently added.  See `tpetra/core/src/Tpetra_Details_libGemm.cpp`.

[2017-04-05 15:38] maherou commented on #1212
I think the best approach is to add this to the work list for Tech-X.  Added Kris Beckwith and Jim Willenbring to the assignees list.

[2017-04-05 16:02] mhoemmen commented on #1212
@maherou Would it make sense to have Tech-X solve the problem for all packages at once?  This seems like something that could go into TriBITS, per discussion in #1208, so that all packages could use a common solution.  That would certainly make life easier for internal customers.

[2017-04-05 16:06] mhoemmen commented on #1191
@bathmatt Per discussion in #1212 and #1208, this is a general Trilinos issue that might benefit from an outsourced solution.  However, it appears to be tied to use of `gfortran` to build the BLAS and LAPACK.  Would you consider using ESSL instead as a work-around?

[2017-04-05 16:15] bathmatt opened #1216 "MueLu failures on ride/cuda"
Issue #1191 has a configure file that you can use to reproduce this.  Set JOB_NAME=ride_cuda_opt in the file

The following tests fail on muelu on ride.  We are seeing issues with muelu tests in our code and thought we should clean the board for MueLu.

Also, not sure if these are related to the lapack issues listed in #1191

People who might be interested
@rppawlo @bartlettroscoe

@maherou

[code

[2017-04-05 16:22] bathmatt commented on #1191
can you send me the changes to my configure script to test it?  I'm o.k.
with trying it.

On Wed, Apr 5, 2017 at 10:06 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-04-05 16:23] mhoemmen commented on #1216
See #1212 discussion.  It may be that we outsource this work.  If outsourcing doesn't happen in a timely fashion, it _may_ suffice to fix #1208 and #1215, assuming that these are actually the issues at hand.

@bathmatt My guess is Trilinos will be buggy for you with GCC + OpenBLAS on _any_ platform, unless Trilinos resolves this issue for the packages that you use.

[2017-04-05 16:23] mhoemmen commented on #1191
@bathmatt I haven't actually tried ESSL yet.  Let me poke around a bit.

[2017-04-05 16:26] nmhamster commented on #1191
@bathmatt @mhoemmen - please remember ESSL does not implement all of the BLAS or LAPACK functions, so you end up needing a fall back library.

[2017-04-05 16:26] mhoemmen commented on #1191
Ride has the `ibm/essl/5.4.0` module, but I'll have to dig a bit to figure out how to link against it.

[2017-04-05 16:30] mhoemmen commented on #1191
[code]
That looks promising... let me see if this is the right library with respect to OpenMP.  I'm also not sure if the IBM OpenMP run-time environment will fight with GCC's OpenMP.  Let me read the ESSL documentation a bit.

[2017-04-05 16:34] mhoemmen commented on #1191
I looked at `/home/projects/pwr8-rhel73-lsf/ibm/essl/5.4.0/include/essl.h` -- it has the equivalent of `extern "C"` declarations that show that the library represents `character(*), intent(in)` just as `const char*`.  Thus, if we can actually use ESSL, it should solve your problem.

[2017-04-05 16:53] bathmatt commented on #1216
@mhoemmen I'm not sure this is the same issue, as a matter of fact, I'm pretty sure it isn't.  These tests pass under gcc but not nvcc/gcc.  I am betting that these are MueLu  or other bugs.

It would be worth getting this triaged prior to the fix by an external fix.  If your essl fix resolves the problem than great.  If not, we shouldn't wait for a general blas fix

[2017-04-05 16:55] mhoemmen commented on #1191
@bathmatt hm, ESSL documentation says that GCC OpenMP run-time is not compatible with XL OpenMP, that ESSL uses.  Thus, you'll have to run ESSL in sequential mode if using it with GCC.  Is that bad?

[2017-04-05 17:00] mhoemmen commented on #1191
Here are the necessary linker flags for doing so:
[code]

[2017-04-05 17:01] bathmatt commented on #1191
I don't understand your comment @mhoemmen we need to test with openmp and kokkos, are you saying we cannot compile with openmp?  or are you saying we cannot use openmp in blas routines?

[2017-04-05 17:01] bathmatt commented on #1191
BTW, have you tested essl yet?

[2017-04-05 17:14] bathmatt opened #1217 "Zoltan does not respect the cmake MPI_EXEC flags"
I set
MPI_EXEC_POST_NUMPROCS_FLAGS to "-map-by;socket:PE=8;--oversubscribe" and when I run all the tests I get zoltan failures because it doens't respect these flags

[code]

[2017-04-05 17:49] mhoemmen commented on #1191
@bathmatt wrote:

This.  You can use GCC's OpenMP in your code, but you can't use GCC + OpenMP with OpenMP happening in the ESSL routines.  If you want ESSL to use OpenMP, you have to build with the XL compiler.

[2017-04-05 17:53] mhoemmen commented on #1191
@bathmatt If the terms in my above comment are acceptable, I'll test ESSL.  Otherwise, if you really need OpenMP in your BLAS + GCC with OpenMP, you'll need a true fix for all the linkage issues mentioned above.

[2017-04-05 18:07] bathmatt commented on #1191
As long as I can have parallel_fors in my code, I'm fine w/ this fix

[2017-04-05 18:28] csiefer2 commented on #1206
The patch as submitted fails the Tpetra unit tests.

I'll try to spend a bit of time trying to figure out why.

[2017-04-05 18:54] bathmatt opened #1218 "Tpetra maps, local maps and constructors."
I want to create a tpetra map in my class and then store a local copy of a local_map_type.  However, local_map_type doesn't have a default constructor.

Here is my workflow, and I don't know how to go forward, suggestions?

[code]

[2017-04-05 18:58] kddevin commented on #1217
Hi, @bathmatt .  You are correct, as the perl script used for testing in Zoltan was written largely outside the Trilinos build system; indeed, since Zoltan is downloadable separately from Trilinos, the script does not use any of the cmake variables.

How important is modifying this script to run in this environment?
If it is important, by when do you hope that it is changed?
Do you need full testi

[2017-04-05 18:59] mhoemmen commented on #1218
Would you like `local_map_type` to have a default constructor?  I'm not quite sure what the question is.

[2017-04-05 19:03] bathmatt commented on #1217
I'm trying to get to a clean dashboard on the testbed platforms,  Lots of
zoltan issues pop up.  I can skip the zoltan tests but when something comes
up with muelu and zoltan not sure what to do about it.  It does set a bad
precedent with "Trilinos should pass its tests on platforms we care about"

It isn't super important for Z1 but is for Z2 which looks like it doesn't
have this issue.

On Wed,

[2017-04-05 19:03] bathmatt commented on #1218
That would help move me past this issue.

On Wed, Apr 5, 2017 at 12:59 PM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-04-05 19:04] bathmatt commented on #1218
I was stating my problem, not suggesting a solution as often people might
have better ones than I can come up with on my one :)

On Wed, Apr 5, 2017 at 1:03 PM, Matt Bettencourt <dr.bettencourt@gmail.com>
wrote:

[2017-04-05 19:13] kddevin commented on #1217
You are correct that Zoltan2 does not have this issue, since it was born and grew up in the Trilinos environment.  Zoltan is different because it was imported into Trilinos long after its birth and it leads a dual life.

Do any Zoltan tests pass on this platform?  I am guessing only the perl-script based tests (like the one you show above) fail; if I am wrong, we have a bigger issue with which to

[2017-04-05 19:17] bathmatt commented on #1217
these pass
Zoltan_ch_serial_zoltan_parallel    1.50408            passed
Zoltan_ch_simple3d_zoltan_parallel
Zoltan_test_get_callbacks_MPI_4

On Wed, Apr 5, 2017 at 1:13 PM, K Devine <notifications@github.com> wrote:

[2017-04-05 19:20] kddevin commented on #1217
Hmm, I was hoping to see the following:

 1/57 Test  #1: Zoltan_stressTestGRAPH_P_0_MPI_8 ...........   Passed    0.70 sec
 2/57 Test  #2: Zoltan_stressTestGRAPH_P_1_MPI_8 ...........   Passed    0.69 sec
 3/57 Test  #3: Zoltan_stressTestGRAPH_0_MPI_8 .............   Passed    0.99 sec
 4/57 Test  #4: Zoltan_stressTestGRAPH_1_MPI_8 .............   Passed    0.99 sec
 5/57 Test  #5: Zoltan_stressTe

[2017-04-05 19:21] kddevin commented on #1217
Or maybe you are configuring with
-D MPI_EXEC_MAX_NUMPROCS:STRING=4
so that they aren't run?

[2017-04-05 19:21] bathmatt commented on #1217
didn't run...
can you get to this?
https://jenkins-srn.sandia.gov:8443/view/Drekar/job/Drekar-ride-cuda-opt-all-test/2/ctestResult/

On Wed, Apr 5, 2017 at 1:20 PM, K Devine <notifications@github.com> wrote:

[2017-04-05 19:22] bathmatt commented on #1217
correct, 4 procs max

On Wed, Apr 5, 2017 at 1:21 PM, K Devine <notifications@github.com> wrote:

[2017-04-05 19:27] kddevin commented on #1217
OK; let me think about this issue a bit.  By when do you hope to have this issue resolved?  Thanks.
In the meantime, zoltan is exercised a bit through zoltan2 tests -- maybe a little peace of mind.

No, I can't access the jenkins page -- 404 error.  No worries, though; your list is sufficient.

[2017-04-05 19:29] kddevin commented on #1160
@mplooster did you decide to include perl in the Zoltan testing?  I got the impression from #1205 that you had excluded the tests that needed perl.  If so, how did you make CMake exclude those tests?  Thanks.

[2017-04-05 19:31] bathmatt commented on #1217
It's not a huge concern as I don't think these are causing my issue
failures in my tests.  Other issues are higher.  But if we get to nearly a
clean dashboard these will move up the list.

On Wed, Apr 5, 2017 at 1:27 PM, K Devine <notifications@github.com> wrote:

[2017-04-05 19:36] bathmatt commented on #1218
@mhoemmen can I just create a default ctor  and push?

[2017-04-05 19:50] mhoemmen commented on #1218
@bathmatt Sure, go ahead.  I think all you would need to do is imitate what `Tpetra::Map`'s default constructor does.  Thanks!

[2017-04-05 19:54] mhoemmen commented on #1216
@bathmatt Cool, I'll try ESSL.  That's the native BLAS + LAPACK anyway, and the logical choice with the XL compiler (which is supposed to be preferred on this platform -- we should be disappointed if gcc ends up better).

[2017-04-05 19:54] mhoemmen commented on #1191
@bathmatt Cool, I'll try ESSL.  That's the native BLAS + LAPACK anyway, and the logical choice with the XL compiler (which is supposed to be preferred on this platform -- we should be disappointed if gcc ends up better).

[2017-04-05 20:10] bathmatt commented on #1218
Added in
6bd9788fcfd4ad3e406e49448a6fe2f18955e495

[2017-04-05 20:10] #1218 closed

[2017-04-05 20:54] mhoemmen commented on #1218
Thanks @bathmatt !

[2017-04-05 21:44] maherou commented on #1212
Yes, a holistic approach to these issues is certainly the best option.
@jwillenbring, @krcb: Can you discuss this at the next Trilinos-Tech-X meeting?

[2017-04-05 21:53] mhoemmen commented on #1212
It looks like @bathmatt can work around for now, by using ESSL.  The only problem is that using OpenMP threads in ESSL requires the XL OpenMP run-time environment.  It's possible to use GCC + OpenMP with ESSL, but then you have to use the non-threaded version of ESSL.

[2017-04-05 23:10] bmpersc commented on #1182
Ownership is by machine more than build. The owners are:

apollo  Mark Hoemmen/Christian Trott
artemis Christian Trott
dorksaber Chris Siefert
enigma Jonathan Hu
geminga Jonthan Hu
muir Trilinos Framework
sadl30906 Trilinos Framework
hansel Trilinos Framework (SEMS machine)
ceerws1113 Ross Bartlett
ascic* Trilinos Framework (CEELAN machines)
faraway Kitware (checking new versions of cmake still wo

[2017-04-05 23:12] mhoemmen commented on #1182
@bmpersc reverse ownership for apollo and artemis

[2017-04-05 23:26] bmpersc commented on #1182
@mhoemmen Thanks for catching that. Since you are paying attention to this, do you intend to keep having artemis submit builds for Trilinos or should we expect those builds to go away?

[2017-04-06 05:44] mhoemmen commented on #1182
@bmpersc @crtrott knows the details of the builds on both apollo and artemis.  You're welcome to keep using artemis as a test machine for nightlies, as long as you consult with @crtrott and don't overload it or run during the day.

[2017-04-06 15:05] gslota commented on #1209
Hi @kddevin,

For the first question: PuLP is non-deterministic by default. You are correct, in that setting the seed is needed for 'deterministic' output. However, especially for XtraPuLP, partitions will likely differ from run to run due to non-deterministic execution from threads. To get consistent output, one would need to both set the seed and run on only a single thread.

For the second ques

[2017-04-06 15:47] mplooster commented on #1160
@kddevin

I downloaded Perl and told CMake where it was. Whether it was actually used for the Zoltan testing is unclear to me at this point.

I am building with MPI turned on, so I assume many of those tests were turned off because they were marked as serial. My configuration output seems to indicate as much (@trilinos/framework I will note that this is what it looks like for the Pamgen tests, too

[2017-04-06 16:11] mhoemmen opened #1219 "Muelu: Multithreaded performance of Muelu and Ifpack2 SGS"
@trilinos/ifpack2 @trilinos/muelu

[Edited to include contributors, who agreed to be public]

I just got the following e-mail from @wppowers and @eamarttila :

be threaded.

I got their permission to post this e-mail and a sample code that they wrote.  Attached is a .tgz archive that has an example .cpp file, a Makefile, and some kind of project file for an IDE.
[multi-threaded-belos-solve.tgz.txt

[2017-04-06 17:00] kddevin commented on #1160
If tests that have "parallel" in the name ran when MPI was enabled, then you used your perl installation.  E.g.,  Zoltan_ch_drake_zoltan_parallel

perl is needed for almost all zoltan tests, serial or parallel.  There are just a few that don't need it.

Thanks for your reply.  I was interested in knowing whether or not you had chosen to exclude all the tests that require perl.  It sounds as if you

[2017-04-06 17:40] mndevec commented on #1219
Hi Mark, thank you for the notification. I will look into this.

But I am not sure from the post if the problem is related to Multi-threads Gauss Seidel scaling. It sounds like some portions of the code is serial, and the problem might simply be related to that.

[2017-04-06 18:04] mhoemmen commented on #1219
@mndevec The example constructs a multigrid hierarchy, and the submitter didn't say how many multigrid levels they needed.  None of algebraic multigrid setup is currently threaded by default.  Would be nice to get your sparse matrix-matrix multiply enabled by default too :-) .  In any case, it's unclear how to interpret the submitter's statements without more information.

[2017-04-06 18:15] srajama1 commented on #1219
If not github, can you send the submitter's contact to both of us internally in Sandia ?

[2017-04-06 18:21] mhoemmen commented on #1219
I'm awaiting clarification from them regarding permissions.

[2017-04-06 19:14] mhoemmen commented on #1219
I added the submitters to the CC list.

[2017-04-06 19:16] mhoemmen commented on #1219
They also write:

[2017-04-06 20:12] jwillenbring commented on #1212
@maherou - yes, @krcb and I can discuss this next week.

[2017-04-06 20:18] jwillenbring commented on #120
This should be resolved as of late last week. I tested it on chrome and Firefox where I previously was met with the security error. We had to update the certificate.

[2017-04-06 20:18] #120 closed

[2017-04-06 20:43] ibaned commented on #1204
Just had a great meeting with @rppawlo . We went over the existing scaling implementations, both in NOX via PrePostOperators and implicit scaling in NOX Vectors, and the Rythmos Observer in Piro. While the matrix/vector modifications for Dirichlet boundary conditions could in theory be implemented as one or more NOX PrePostOperators, what we will probably try initially is to simply use a NOX PrePo

[2017-04-06 22:30] lxmota commented on #609
Tasks 7 & 8 have been completed:
7) Port Sierra/SM to MiniTensor
8) Remove old Intrepid_MiniTensor headers from Intrepid

[2017-04-06 22:30] #609 closed

[2017-04-06 23:51] ambrad opened #1220 "Missing -lcublas in Trilinos config export"
@trilinos/tpetra

It seems the cublas lib (i.e., -lcublas on the link line) is not appended to the list of TPL libs in the installed
    Trilinos_TPL_LIBRARIES lib/cmake/Trilinos/TrilinosConfig.cmake
If I add -lcublas to the app's link line (in the corresponding link.txt), then all is well. This is with Cuda 8. So it does seem to be just an issue of a missing TPL lib in one of Tpetra's CMakeLists.

[2017-04-07 00:23] bartlettroscoe opened #1221 "Test ROL_example_PDE-OPT_topo-opt_elasticity_example_01_MPI_4 timing out in CI build starting 4/6/2017"
**CC:** @trilinos/rol, @eric-c-cyr, @trilinos/framework

**Description:**

Looks like the test `ROL_example_PDE-OPT_topo-opt_elasticity_example_01_MPI_4` started timing out at 10 minutes in this CI iteration today:

    http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2823204&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare

[2017-04-07 00:31] dridzal commented on #1221
​There may be a delay in the CDash reporting -- commit 4cd881 should have fixed this issue (it was not a simple timeout, it was an algorithmic issue).

[2017-04-07 00:48] bartlettroscoe commented on #1221
Yup, there was some lag.  Looks like this is fixed as of the current CI iteration:

*  http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2824818&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

Then it was an algorithmic issue that made it run more than 10 minutes in a debug build since it w

[2017-04-07 00:48] #1221 closed

[2017-04-07 08:41] nschloe commented on #120
Not sure what was tested here, but the issue still exists for me:

![t1](https://cloud.githubusercontent.com/assets/181628/24792527/a88b4d92-1b7e-11e7-9037-06d34117e0e8.png)

This is a screenshot from Chrome; I get the same behavior on Firefox.

[2017-04-07 14:20] bathmatt commented on #1191
@mhoemmen did you run with essl?  Did it resolve the issue?  What are the configure lines?

[2017-04-07 14:39] bathmatt opened #1222 "tpetra compile cuda and shiller"
I'm getting this in my integration testing on shiller/cuda

[ 55%] Building CXX object packages/tpetra/core/src/CMakeFiles/tpetra.dir/Tpetra_Details_libGemm.cpp.o

/home/jenkins/workspace/Drekar-shiller-cuda-debug/Trilinos/packages/tpetra/core/src/Tpetra_Details_libGemm.cpp(127): error: namespace "std" has no member "runtime_error"

/home/jenkins/workspace/Drekar-shiller-cuda-debug/Trilinos/packag

[2017-04-07 16:01] jhux2 commented on #1216
@trilinos/muelu

[2017-04-07 16:13] bathmatt opened #1223 "Intrepid2 now produces a lot of warnings under gcc and even more under cuda"
compiling panzer produces warnings in intrepid2 under these flags.  We need to clean these up to keep things clean going forward
-Wnarrowing and -Wdeprecated-declarations

examples are
[code]

[2017-04-07 16:43] ambrad commented on #1222
See also #1220, also related to Tpetra_Details_libGemm.cpp.

[2017-04-07 16:56] kddevin commented on #1222
@bathmatt
I don't have the expertise to fix this problem, but I'd try the suggestion at the link below
http://stackoverflow.com/questions/4861777/missing-stdruntime-error-in-qtmingw
It says to
#include <stdexcept>

Since you already have a build environment set up, would it be difficult to try this addition for us, @bathmatt ?    Thanks.

@crtrott  or @nmhamster   Do you think including <stdexcept

[2017-04-07 16:57] nmhamster commented on #1222
@kddevin do you have `#include <stdexcept>` in the file being compiled?

[2017-04-07 17:01] kddevin commented on #1222
Oops, github must not have liked the angle-brackets in my previous message.

@bathmatt since you already have a build environment set up, would it be easy for you to try including stdexcept as recommended by the webpages and @nmhamster ?  Thanks.

[2017-04-07 17:23] bathmatt commented on #1222
Pushed this, waiting for testing...

On Fri, Apr 7, 2017 at 11:01 AM, K Devine <notifications@github.com> wrote:

[2017-04-07 17:25] mhoemmen commented on #1222
Thanks all!  I did actually test this with CUDA so I'm not sure what's different with this build environment.

[2017-04-07 17:26] mhoemmen commented on #1220
Hm, I did actually test this with CUDA so I'm not sure what's different with this build environment.  It looks like Trilinos doesn't actually have a cuBLAS TPL. Should we add this?

[2017-04-07 17:27] mhoemmen commented on #1191
@bathmatt yo, i actually on occasion have other work to do so don't rush me :-)

[2017-04-07 17:31] bathmatt commented on #1222
This is why we need the testbed machines tested and trilinos team watching
those results...  I'm running my tests through right now, we'll see if it
is fixed

On Fri, Apr 7, 2017 at 11:25 AM, Mark Hoemmen <notifications@github.com>
wrote:

[2017-04-07 17:36] mhoemmen commented on #1191
It might take a while, since we had to delete a bunch of files on ride in order to clear out the underwater disk.

[2017-04-07 17:42] bathmatt commented on #1191
I can add it to my testing, just not sure on the exact line I need to add..

[2017-04-07 17:44] mhoemmen commented on #1191
I'm trying something out but it's not quite working.  I think you can just go into that script you sent me and change LAPACK_LIB to the above line, but I'm having some troubles with that.

[2017-04-07 17:47] bathmatt commented on #1222
f15460c appears to have fixed this issue

[2017-04-07 17:47] #1222 closed

[2017-04-07 17:48] nmhamster commented on #1222
@bathmatt @mhoemmen @kddevin I thought we had testing running on Shiller and Hansen at the moment, is that not the case? My VPN is awful today so I can't check.

[2017-04-07 17:56] bathmatt commented on #1222
http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-04-07
begs to differ.  I'm not seeing any on shiller either.

[2017-04-07 18:05] kddevin commented on #1222
@bathmatt Thanks for making that change and running the test for us.

[2017-04-07 18:11] bathmatt commented on #1222
I just made sure it would compile, and not check any runtime issue that
could come up...

On Fri, Apr 7, 2017 at 12:06 PM, K Devine <notifications@github.com> wrote:

[2017-04-07 18:50] jwillenbring commented on #1182
I spoke with Mike Heroux and he would like to see a more aggressive approach than this. Specifically, he would like most builds demoted to experimental very soon, then begin to work on cleaning up what is left. I still think we need to learn which builds on the board are important, and which aren't. I am going to gather some of this information at a high level and will comment at that point so we

[2017-04-07 19:00] ambrad commented on #1220
What is the link.txt file associated with the test you ran? Does it have -lcublas in it? If so, then the question is why it doesn't show up anywhere in TrilinosConfig.cmake. (Or does it show up for you?)

[2017-04-07 19:58] jhux2 commented on #1216
I will look at this first thing on Monday if no one else has.

[2017-04-07 20:55] mhoemmen commented on #1220
Hi @ambrad !  My Makefile.export.Trilinos file says that I'm linking with cublas:
[code]

[2017-04-07 22:05] mhoemmen commented on #1182
We need nightly CUDA and KNL tests.

[2017-04-07 22:12] mhoemmen commented on #1191
I got the build to work by changing LAPACK_LIB in your ride script to the above line, but none of the tests are enabled -- I'll have to try it again.

[2017-04-07 22:39] mhoemmen commented on #1191
Argh, the script set `Teuchos_ENABLE_LONG_LONG_INT=OFF` again -- please don't do that :(

[2017-04-07 23:01] mhoemmen commented on #1191
Let's see, Tpetra tests passed.  Let me try Belos tests.

[2017-04-07 23:05] mhoemmen commented on #1191
Argh, hold on, had the wrong build directory.  Let me try again.

[2017-04-07 23:20] mhoemmen commented on #1191
OK, that didn't work -- link errors.  Let me see if the essl module got loaded.

[2017-04-08 00:20] mhoemmen commented on #1191
I loaded the essl module (`ibm/essl/5.4.0`), but still got this:
[code]
We have to dig into this a bit more.

[2017-04-08 00:37] nmhamster commented on #1191
@mhoemmen - you also need the IBM compilers loaded for those even if you are using GCC. Load IBM first and then GCC

[2017-04-08 01:17] mhoemmen commented on #1191
@nmhamster Thanks!  Let me try that and report back.

[2017-04-08 01:29] mhoemmen commented on #1191
Hm, same message, let me tweak the link lines a bit first...

[2017-04-08 01:45] ambrad commented on #1220
I think I know the issue. In my build, I did not explicitly (i) set TPL_ENABLE_CUDA=ON; I just (ii) set Kokkos_ENABLE_Cuda=ON. Tpetra uses KOKKOS_HAVE_CUDA to decide whether to use cuBLAS, which is triggered by (ii). But only (i) triggers -lcublas.

So there are perhaps some questions about consistency of what gets triggered, but now at least I know what flag to provide in the config to get the li

[2017-04-08 01:55] mhoemmen commented on #1191
I can't get this to work.  Here's my `LD_LIBRARY_PATH`:
[code]
and here's my list of loaded modules:
[code]

[2017-04-10 07:19] nschloe opened #1224 "ROL: Test failure on PPC64 (Signal code: Address not mapped)"
When compiling on PPC64, one ROL test fails. (Full details with configure line [here](https://launchpadlibrarian.net/315027297/buildlog_ubuntu-zesty-ppc64el.trilinos_12.11~git20170409-6909ea5c-1zesty1_BUILDING.txt.gz).)
[code]

[2017-04-10 10:26] nschloe opened #1225 "MiniTensor, Domi don't properly install their configs"
When installing Trilinos with, e.g.,
[code]
some config files aren't installed properly. `FIND_PACKAGE(Trilinos REQUIRED)` will fail with
[code]

[2017-04-10 12:29] rppawlo opened #1226 "NOX test failing due to stratimikos changes"
The commit below has caused a single nox test to fail in the Trilinos CI build.

[code]

@csiefer2
@trilinos/nox
@trilinos/muelu

Output from failing test on cdash:

[code]

[2017-04-10 13:23] rppawlo commented on #1226
The failure is triggered by a new cast that was added:

+  RCP<const Epetra_CrsMatrix>
+    epetraFwdCrsMat = rcp_dynamic_cast<const Epetra_CrsMatrix>(epetraFwdRowMat,true);

This is a more stringent requirement because it requires a Crs matrix as opposed to just a row matrix (like when using vbr or user defined objects).

Since the object "epetraFwdCrsMat" is only used for the ref-maxwell precond

[2017-04-10 14:45] bartlettroscoe commented on #1182
What needs to happen is we need to create a "Clean Nightly" track, then turn off the emails for the existing "Nightly" track (i.e. do #702).  Then we can start moving cleaned-up important builds to "Clean Nightly" one at a time.

Without objection, I will do this right now.

[2017-04-10 14:46] bartlettroscoe commented on #702
As described in https://github.com/trilinos/Trilinos/issues/1182#issuecomment-292621320, We are doing this right now.

[2017-04-10 14:56] mhoemmen commented on #1224
Could this be related to #1226?

[2017-04-10 14:57] bartlettroscoe opened #1227 "Trilinos CI build broken starting on 4/8/2017 with failing NOX and Teko tests"
**CC:** @trilinos/framework, @trilinos/teko, @trilinos/nox

Hello @csiefer2 and @tawiesn,

One (or more) of the commits pushed by you to Trilinos 'develop' on 4/8/2017 broke the CI build (with failing tests NOX_1DfemStratimikosPrec_MPI_4 and  Teko_DiagonallyScaledPreconditioner_MPI_1) as shown here:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercom

[2017-04-10 15:01] bartlettroscoe commented on #1227
We need to resolve this ASAP using one of the following options:

1. Fix the failing tests to make them pass
2. Disable those tests in the standard CI build
3. Back out those commits.

Until we do this, people using the checkin-test-sems.sh script to test upstream packages from these will have their pushes stopped.

[2017-04-10 15:03] nschloe commented on #1224
Since the failure only happens on PPC64 (and not AMD64), I'm doubtful about that.

[2017-04-10 15:11] mhoemmen commented on #1224
@nschloe Is PPC64 really a PowerPC or is it POWER?  We don't do any nightly testing on PowerPC as far as I know.  We do test on POWER and aim for full support.

[2017-04-10 15:12] mhoemmen commented on #1227
See #1226 -- it looks like @rppawlo proposed a work-around and is just waiting for confirmation.

[2017-04-10 15:13] rppawlo commented on #1227
#1126 fixes the nox issue, not the teko issue. The fix would have pushed via checkin test script, but was blocked by Teko failure.

[2017-04-10 15:17] bartlettroscoe commented on #1227
You can push by disabling the failing teko test as described in the next to last "NOTE" at the bottom at of:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

by adding:

[code]

to your invocation of the checkin-test-sems.sh script.

If you have completed the pull, configure, and build, then just rerun the tests and push with:

[code]

(also add `--no-rebase` if it i

[2017-04-10 15:18] nschloe commented on #1224
It's PowerPC64 indeed; that arch is part of Debian's testing process.

[2017-04-10 15:25] bartlettroscoe commented on #1226
Why did the failed `rcp_dynamic_cast<const Epetra_CrsMatrix>(epetraFwdRowMat,true)` not result in a nice exception message?  Is should have printed out a nice error message describing why the dynamic cast failed.

[2017-04-10 15:30] csiefer2 commented on #1226
As per the doxygen, rcp_dynamic_cast isn't supposed to throw by default.

[2017-04-10 15:33] rppawlo commented on #1226
It does print the RCP cast failure message if you make the test verbose.

[2017-04-10 15:36] rppawlo commented on #1226
Here's the message:
[code]

[2017-04-10 15:38] bartlettroscoe commented on #1226
Does that test produce a lot of output?  If not, then it might be nice to add `--verbose` to the invocation by CTest so that we can see this on CDash.  That would speed up the triaging and diagnosis.

[2017-04-10 15:40] bartlettroscoe commented on #1226
That is why we have the safety net of the checkin-test-sems.sh script and the CI build.  It helps us catch our own mistakes before we publish them.  It has saved me from pushing bad code many times over the years.

[2017-04-10 15:40] rppawlo commented on #1226
Not much output. I can change that as part of this push.

[2017-04-10 15:44] csiefer2 commented on #1226
--no-enable-fwd-packages was clearly the mistake here :)

[2017-04-10 15:44] csiefer2 commented on #1226
BTW, this doesn't fix Teko's problem.  I'll get 'em both in the next half hour or so I think.

[2017-04-10 15:45] jwillenbring commented on #1182
There was confusion about adding a new track. Either something was misunderstood, or temporarily the ability to customize emails by track was removed and put in a more obscure place. In any case, it has now been verified it is possible to customize by track again, which is a huge relief.

The only concern now is if we should create a new track for the clean builds, or leave nightly for the clean b

[2017-04-10 15:54] bathmatt commented on #1182
We also need things that are experiemtnal in the code base moved to
production, @MueLu is one that we use  a lot.

On Mon, Apr 10, 2017 at 9:45 AM, James Willenbring <notifications@github.com

[2017-04-10 16:38] mhoemmen commented on #1224
@nschloe Does this block your ability to push Debian packages?

[2017-04-10 16:39] mhoemmen commented on #1227
@rppawlo you mean #1226? just checking :)

[2017-04-10 17:10] bartlettroscoe opened #1228 "Document policy on naming SNL customers in Trilinos GitHub issues"

[2017-04-10 17:12] nschloe commented on #1224
Not right now. When you're doing a new release and the failure still occurs, we'll have to take PPC64 off the list, and that's always a bit of work. Thought I'd let you guys know about it in case it's a simple fix (like `#ifdef PPC64; do something wrong; #endif`).

[2017-04-10 17:12] dridzal commented on #1224
I just noticed the same error in the CDash history using Intel 17 --although for some reason we are not receiving emails for this particular build:

http://testing.sandia.gov/cdash/testDetails.php?test=37780324&build=2820567

@trilinos/rol team, let's look into this.

[2017-04-10 17:27] csiefer2 commented on #1226
Checkin test chugging on fix for both issues.

[2017-04-10 17:28] bartlettroscoe commented on #1228
On second thought, the formulation of this policy should be done internally at SNL.  Therefore, this is now being tracked in:

* https://sems.sandia.gov/jira/browse/TRIL-174

I am therefore closing this Trilinos GitHub issue for this.

[2017-04-10 17:28] #1228 closed

[2017-04-10 18:31] bartlettroscoe commented on #482
FYI:

I finally got access to a Mac machine running:

[code]

I ran the sems/remote-run-test-push.sh script to simulate a remote pull/test/push to Trilinos from thsi machine to the machine ceerws1113 and it seemed to work perfectly.

This seems to suggest that even Trilinos developers developing on a Mac can use this script to do their final test and push to Trilinos.

[2017-04-10 18:48] csiefer2 commented on #1226
Fix pushed.

As an aside, we should probably consider adding stronger unit testing to Stratimikos.

[2017-04-10 18:53] jwillenbring commented on #1208
@krcb Could you look at this ticket and be ready to discuss it at the meeting tomorrow? If it would be better for @MicheldeMessieres to do the initial pass at the information that is fine too.

[2017-04-10 19:01] bartlettroscoe commented on #1226
Agreed.

[2017-04-10 19:04] bartlettroscoe commented on #1227
Should be fixed as of commit 9b801c2b.  We will confirm in the next CI build iteration.

Thanks for addressing so quickly @csiefer2!

[2017-04-10 19:26] sthomas61 commented on #1206
Proposing a different patch that does not introduce a second loop.
Splits some of the existing  for-if-else loops into two separate loops
with exits on the conditions, Could lead to improved cache locality.

[TpetraExt_MatrixMatrix_def.hpp.txt](https://github.com/trilinos/Trilinos/files/911209/TpetraExt_MatrixMatrix_def.hpp.txt)

[2017-04-10 19:27] rppawlo commented on #1227
yes. just fixed in comments above

Thanks @csiefer2 !

[2017-04-10 19:32] sthomas61 commented on #1206
best results when compiled with -O2 -funroll-loops:
abl-256^3 run on 96 Haswell cores, run time now 599 sec. 50 steps
Avg No-output time 599.1 sec

[2017-04-10 19:38] jhux2 commented on #1206
@sthomas61 Can you post the compiler version you are using?

[2017-04-10 19:43] sthomas61 commented on #1206
gcc 5.2.0

[2017-04-10 20:10] bartlettroscoe commented on #1227
Okay, these tests are now shown passing (see the `-1` in the 'Fail' column `+1` in the 'Pass' column for Teko and NOX rows) in the last CI iteration:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2831042&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

Closing as complete.

Thanks aga

[2017-04-10 20:10] #1227 closed

[2017-04-10 20:10] bartlettroscoe commented on #1226
This is fixed as documented at:

* https://github.com/trilinos/Trilinos/issues/1227#issuecomment-293064421

Closing as complete.

[2017-04-10 20:10] #1226 closed

[2017-04-10 20:18] jmgate opened #1229 "Xpetra: No return from non-void"
I'm seeing the following when building with Xpetra_ENABLE_Experimental ON:
[code]
I would think the behavior is undefined when there's no return from a function that should be returning a `bool`.  Is that not the case and it defaults to returning `false`?
@trilinos/xpetra

[2017-04-10 20:21] mhoemmen commented on #1208
This blocks #1191, among other issues.  We haven't figured out the work-around for #1191 yet, which is to use ESSL with gcc on POWER, instead of OpenBLAS.  If we can get ESSL to work with gcc on that platform, then hopefully that reduces the urgency.  Currently, this issue blocks use of gcc on POWER.

[2017-04-10 20:22] tawiesn commented on #1229
@csiefer2 I think we should return false.

I think there is no guarantee, that the compiler returns false by default...

[2017-04-10 20:23] mhoemmen commented on #1208
Also, the system BLAS is not an option on that platform.  See e.g., the following configuration-time error: http://testing.sandia.gov/cdash/viewConfigure.php?buildid=2829720

[2017-04-10 20:59] ibaned commented on #1229
There is no default guarantee, the answer you get is whatever value was in the CPU register that was supposed to receive the return value but did not, so it will be random based on what code was executed prior to that.

[2017-04-10 21:11] jwillenbring commented on #1182
OK, so the model we would like to try is to create a new track called "Clean" and a new track called "Specialized". The new information that has come to light since October when these discussions originally took place is that it is not sufficient to simply clean up the builds on the dashboard, because when new failures emerge, it isn't always clear what builds are important enough that developers

[2017-04-10 22:00] jwillenbring commented on #702
The updated plan is to create 2 new tracks "Clean" and "Specialized". While some of the exact details of the long-term policy are still in flux, due to anticipated changes in pull-request and develop->master testing, and determinations of exactly how many builds there will eventually be, etc, here are the definitions of the new tracks, as well as the slightly repurposed "Nightly" track. These chan

[2017-04-10 22:41] bartlettroscoe commented on #702
Overall, this seems like a rational strategy.  But there are a few details that need to be dealt with.

First, we should name these new tracks "Nightly Clean" and "Nightly Specialized".  That is because CDash treats "Nighty" builds (actually called "Build Type" "Daily" in the CDash Group configuration settings) in a special way (i.e.  only the results from the latest build are shown for the testin

[2017-04-10 22:50] csiefer2 commented on #1229
Checkin test chugging.

[2017-04-10 23:09] bartlettroscoe commented on #1183
In my opinion, the default global ordinal type for Trilinos should be `long long int` and users of Trilinos should need to ask for additional instantiations for global ordinal type `int`.  But I guess if the Epetra packages get enabled, then we have no choice but to also include `int` instantiations?  Note that Epetra does support 64 bit integers so in theory, even with Epetra turned on, we could

[2017-04-10 23:24] ibaned commented on #1183
Isn't enabling `long long` in Teuchos different from instantiating it as a global ordinal type in Tpetra ? I think the Tpetra option has much more effect in terms of compile time *and binary size*.

Still, I agree with @bartlettroscoe that `long long` is a good default global ordinal type for Tpetra. There should be only one default, from which it follows that `int` would need to be explicitly req

[2017-04-10 23:37] mplooster commented on #1164
@trilinos/framework
Is it possible to simply re-use the test and/or examples code for each package and use that as the test driver? It seems like you might get more coverage that way.

[2017-04-11 00:02] jhux2 commented on #1191
@mhoemmen Did you get Trilinos to configure and build on ride?

[2017-04-11 00:27] jjellio commented on #1208
@mhoemmen
I haven't worked with Power8+GCC in a few months. I did have this working with IBM XL+ESSL+OpenBLAS around November.  The trick was to link esslsmp +XL required libs, then OpenBLAS. I seem to remember that ESSL did not provide a full BLAS implementation. I also used the SMP version of ESSL, not the serial version. I can check my link line tomorrow, there were a few required libs from XL

[2017-04-11 01:58] nmhamster commented on #1208
@mhoemmen @jjellio IBM does not provide a full BLAS or full LAPACK implementation in ESSL. They implement functions on a per-customer, per-request basis prioritizing the ones for larger installs as they get them. This means we are required to link we a second BLAS/LAPACK pack provider and insert ESSL first in the link line to get the behavior we would like.

[2017-04-11 02:12] nmhamster commented on #1208
OK here you go for a simple DGEMM benchmark (note - I have modified the environment libraries to make all this work so you have definitely hit a bug in the testbed installs, we will need to fix this on other machines).

Module Load Configuration (you *must* follow this order):

(1) `module load ibm/xl/13.1.5`
(2) `module load devpack/openmpi/1.10.4/gcc/5.4.0/cuda/8.0.44`
(3) `module load ibm/essl/

[2017-04-11 02:21] tjfulle commented on #1187
@mhoemmen , sorry, I was away for my kids spring break part of last week.  `Tpetra_Details_packCrsMatrix.hpp` has been modified per your peer review suggestions and a unit test committed (7217289b45ede7b34395e892816b372bce23a7f4).  Running checkin test script now (I've had multiple internal g++ compiler errors on my blade that I have hopefully tracked down and resolved).

[2017-04-11 02:49] nmhamster commented on #1224
@nschloe are you testing PPC64BE or PPC64LE?

[2017-04-11 03:33] mhoemmen commented on #1183
@ibaned wrote:

That's correct.  This issue is about Teuchos' support for `long long`.  This matters mainly because Teuchos must support C++98 compilers that do not implement `long long`.  I'm proposing that, rather than having a separate CMake option for `long long` support, Teuchos should instead just test C++11.

[2017-04-11 03:48] mhoemmen commented on #1183
@bartlettroscoe wrote:

I'm with you :-) In fact, I would go a bit farther to say that that Tpetra should have one 64-bit global ordinal type, whatever it happens to be, and it should not be a template parameter.  Users who want other GO types should do the conversions themselves.  Almost all the pain with too many enabled template parameter combinations came from giving users choice where they di

[2017-04-11 03:48] mhoemmen commented on #1191
@jhux2 I couldn't figure out how to get Trilinos to configure on ride, with gcc and ESSL.

[2017-04-11 03:56] mhoemmen commented on #1208
Thanks @nmhamster for posting this! :-)

@nmhamster wrote:

Does this mean that Trilinos needs to support two different BLAS / LAPACK ABIs, one for the ESSL and one for OpenBLAS?  Does it also mean that Trilinos needs to know which BLAS / LAPACK functions go with which ABI?

[2017-04-11 03:57] mhoemmen commented on #1191
@jhux2 Hold on, please see discussion here:

https://github.com/trilinos/Trilinos/issues/1208#issuecomment-293115514

[2017-04-11 03:59] mhoemmen commented on #1208
Thanks @jjellio for responding :-)  Was the ESSL complete enough that Trilinos mostly worked without needing to worry about missing functions?

[2017-04-11 04:07] mhoemmen commented on #1187
@tjfulle Nice! :-D  Thanks for working on this!  No need to apologize!

Given the lack of test coverage for this case, I can see the point of turning off downstream packages, but you still might like to test Stokhos just to make sure that it builds.  Otherwise, no worries!

[2017-04-11 04:18] tjfulle commented on #1187
@mhoemmen, I had a PR ready to go, but littered the git history by inadvertently rebasing when I should have merged...  I'm sure some git ninja could clean it up, I just created a new branch with the changed code (dbcfba8fdf96a2e0f26bb557733664691f04ef26).  All Tpetra tests passed on my workstation, I'm just waiting for a blessing from my blade to open a PR.  The test coverage is still weak - just

[2017-04-11 05:23] mhoemmen commented on #1187
@tjfulle wrote:

If it's just one commit and you want to "copy" it into a different branch, you can do `git cherry-pick $COMMIT` where `$COMMIT` refers to the commit to pull in (e.g., a SHA1).  I quoted "copy" because the result is a different commit (with a different SHA1), even though it retains the original commit message.

Stokhos actually tests that case, hence the suggestion to turn on some

[2017-04-11 08:14] nschloe commented on #1224
@nmhamster Those are all little-endian machines.

[2017-04-11 10:00] nschloe commented on #120
@jwillenbring Would you like to reopen this one?

[2017-04-11 12:01] rppawlo opened #1231 "PIRO: remove static iteration counters"
A used pointed out that there are static variables in the Piro solvers for counting iterations. In a multiphysics coupling where both applications are using Piro solvers, the static objects are obviously incorrect. This ticket is to make all counters non-static in piro objects and to add functions to reset the counters.

[2017-04-11 13:35] bartlettroscoe commented on #1183
Yes.  A Teuchos::Comm should not be templated on an ordinal parameter either (and I argued against that at the time but was overruled).  In fact, that abstract class should not be templated at all.  Only the helper functions that real with real data should be templated.

This is a great lession on the dangers of over-templating.  I was criticized for not templating the main Thyra interfaces on an

[2017-04-11 14:12] bartlettroscoe commented on #482
FYI:

I have added an optional `blocking` mode to the sems/remote-pull-test-push.sh script and documented that at:

* https://github.com/trilinos/Trilinos/wiki/Local-development-with-remote-pull,-test,-and-push

This allows someone to use the remote pull/test/push process when they can't get their public/private SSH keys to work to access `<remote-machine>` from `<local-machine>`.  There is at lea

[2017-04-11 14:27] nmhamster commented on #1191
@mhoemmen - can you send me the errors/warnings you were getting please? I think we can work through this and fix it.

[2017-04-11 14:29] nmhamster commented on #1208
@mhoemmen - I think the way to handle this is to specify the libraries in the order we want them (see my Makefile section) and then the linker will call the correct ones in ESSL first, if they don't exist it will drop through to OpenBLAS. That means the CMake options for BLAS and LAPACK just need to have all the libraries put in the correct order and I *think* you are good to go, the only issue is

[2017-04-11 15:06] bartlettroscoe commented on #1208
That will only work for static libraries?  My guess is that this will not work for shared libs.  It seems to make some assumptions about how the linker will work on that system and assumptions about how the libraries are put together and manifested as object code (i.e. there is no saved state from BLAS or LAPACK calls between the different function in the two library implementations).  Is there pr

[2017-04-11 15:31] jwillenbring commented on #702
Has this been fixed to actually work this way? The behavior I have seen is that multiple nightly builds are just stacked into the same row in the dashboard, making them even harder to decipher than the experimental section. I strongly dislike this behavior, but I thought that is what they had to do since there were multiple labels submitted per row anyway.

The tentative plan is to have "normal" e

[2017-04-11 15:50] mhoemmen commented on #1187
@tjfulle fixed it in develop, yay!

[2017-04-11 15:50] #1187 closed

[2017-04-11 16:00] maherou opened #1232 "Create and publish an official Trilinos User Support Policy"
The user support policy for Trilinos has been implicit from project inception.  We need to make an explicit policy.  Basic elements are:

- [x] Expectations for the general community.
- [x] Expectations for funded projects.
- [x] Roles and accountability.

**CC:** @trilinos/framework

[2017-04-11 16:07] rppawlo commented on #1118
@kyungjoo-kim any chance we could get the control volume code fixed for cuda builds soon?

[2017-04-11 16:13] mhoemmen commented on #1208
@nmhamster wrote:

That's my main concern :-)  I'm asking because folks might be scoping out the task of refactoring the BLAS and LAPACK ABI logic in Trilinos right now, so it would be good to know whether they need to support two different ABIs.  I really really hope not, because then Trilinos' CMake would need to know exactly which functions live in which library.

[2017-04-11 16:15] kyungjoo-kim commented on #1118
Okay. I am back ABQ and will work it out tomorrow.

[2017-04-11 16:16] nmhamster commented on #1208
@mhoemmen - I think this is ultimately an issue that ESSL does not provide even a basic implementation of all functions. Having Trilinos figure out the exact calling convention across two libraries seems, to me at least, unreasonable. My gut feeling is that the best way to handle this in the end is to call into KokkosKernels, use the BLAS there and have it call into ESSL where we think there is a

[2017-04-11 16:18] maherou commented on #1232
CC: @bathmatt, @rppawlo

[2017-04-11 16:30] jhux2 commented on #1191
@mhoemmen @bathmatt's [configure script](https://github.com/trilinos/Trilinos/issues/1191#issuecomment-291571944) worked fine for me.  My compile completed without error, as well.

[2017-04-11 16:35] mhoemmen commented on #1208
@nmhamster wrote:

KokkosKernels doesn't have a complete BLAS.  I don't see any push to write one any time soon.

This also doesn't solve the issue of missing LAPACK functions.  Which ones are missing?  We don't know yet.  Does KokkosKernels need to implement dense eigensolvers?  I'm certain they didn't sign up for that task.

Most importantly, lots of Trilinos packages do not use KokkosKernels to

[2017-04-11 16:37] mhoemmen commented on #1208
@bartlettroscoe wrote:

LAPACK only recently started getting rid of saved state between calls, for functions like DLAMCH.  Check out LAPACK 3.1.1's version of DLAMCH, with its SAVE and DATA statements:

http://www.netlib.org/lapack/explore-3.1.1-html/dlamch.f.html

It's entirely likely that ESSL hasn't moved with the times, unless it explicitly promises reentrant calls.

[2017-04-11 16:48] nmhamster commented on #1208
@mhoemmen @bartlettroscoe there are different versions of ESSL libraries available for various data types and threading scenarios.

@mhoemmen:

I know :-(, I just think that might be our longer term path. If we don't take a substrate kind of route, we will need to test on a per-function basis for everything we want to use in BLAS and LAPACK. That sounds potentially quite nasty. The result would be

[2017-04-11 16:53] mhoemmen commented on #1208
@nmhamster Another option specific to OpenBLAS or other precompiled partial BLAS / LAPACK libraries, is that we can use Fortran 2003's `ISO_C_BINDING` module to build a shim library that presents an interface with whatever C ABI we want.  All we need to do is build the shim with the same Fortran compiler as the original BLAS / LAPACK library.  This approach should work with a partial library as we

[2017-04-11 16:55] mhoemmen commented on #1191
@jhux2 The problem manifests as run-time errors, not build or configure errors.  The issue is that Trilinos doesn't use the right ABI for LAPACK functions.

[2017-04-11 16:56] nmhamster commented on #1208
@mhoemmen - we have all the compilers available to make this happen.

[2017-04-11 16:57] mhoemmen commented on #1191
@jhux2 Matt's script configures and builds fine for me too :-)  The issue is that I'm trying to change it to use ESSL, and that doesn't work.  I suspect it's because of some things @nmhamster is saying over in #1208, namely that ESSL is not a complete BLAS / LAPACK implementation, so you have to link with OpenBLAS as well.

[2017-04-11 16:58] nmhamster commented on #1191
@jhux2 can you post your errors please? Are you on white or ride?

[2017-04-11 17:04] mhoemmen commented on #1208
@nmhamster Let me write an e-mail to people who normally interact with Tech-X, to see if they would consider this approach.  Here are the advantages:

  1. We would no longer need to detect or specify the ABI at configure time.
  2. Due to (1), cross-compilation would Just Work.
  3. We could strip out all the macro logic from all the BLAS and LAPACK interfaces in Trilinos.  Trilinos would only se

[2017-04-11 17:59] maherou opened #1233 "Create and publish an official Trilinos Change Management Policy"
While the Trilinos project has a rigorous backward compatibility policy, other forms of change management are not well define.  This issue is for creating a more comprehensive statement of how  we manage changes.  The policy should cover these things (and probably more):
- [ ] How we inform users of commits to the repository that could change numerical results.
- [ ] When these kinds of changes ca

[2017-04-11 18:12] ibaned commented on #1233
Indicating non-determinism is very important, I'd expect this to be at least indicated in a functions' Doxygen documentation. I'd also be interested to know whether the non-determinism arises due to:
 - using a random input stream or using the current time to make decisions
 - non-deterministic MPI-parallel algorithms
 - non-deterministic use of OpenMP
 - non-deterministic use of CUDA

The latter

[2017-04-11 19:05] tawiesn commented on #1229
fix is in develop branch (see commit 085bacda97fd)

[2017-04-11 19:05] #1229 closed

[2017-04-11 19:19] mhoemmen commented on #1233
@ibaned wrote:

Even though MPI implementations might not exploit this, the general issue is relevant.  For example, Kokkos might decide to dispatch parallel_reduce straight to OpenMP (@nmhamster has discussed this as a way to help the compiler optimize), and OpenMP does not promise deterministic reductions.

[2017-04-11 19:50] kddevin commented on #1208
One note:  Not all platforms have Fortran compilers.  For instance, I configure Trilinos on my laptop with -DTrilinos_ENABLE_Fortran=OFF.   Please select a solution to this issue that allows builds without Fortran to continue to work.  Thanks.

[2017-04-11 20:06] rppawlo commented on #1118
@kyungjoo-kim Looks like Matt temporarily disabled the failing tests for cuda. You will have to revert this commit to reproduce:

4bf84b8bdd21acf847c56d36afee79e83701ab18

[2017-04-11 21:46] jjellio commented on #1208
@mhoemmen I'm updating my configure script now.  I just built, GCC 5.4 + esslsmp + omp, and BLAS 32bit interface passed the TeuchosNumerics tests.

You have to do some hackery to get the rpath right, and you need a little more to make sure that Cmake does the right thing when it TryCompiles to figure out the Fortran interface.

I'll have to see if Epetra works.  I'll post the script when I am done

[2017-04-11 21:47] nmhamster commented on #1208
Hey @jjellio this sounds great!

[2017-04-11 21:48] jhux2 commented on #1216
@bathmatt My job is running very slowly.  The single unit test ``` MueLu_UnitTestsTpetra_MPI_1``` takes about 16 minutes.  Your run takes less than a minute.  Here's my PBS script.  Is there anything obviously wrong?
[code]

The file ```environment.sh``` is copied directly from ```DrekarBase/drekar/build_scripts/ride```.

[2017-04-11 21:50] nmhamster commented on #1216
@jhux2 are you using LSF on White/Ride? The machine only understands LSF and not PBS commands this may make a difference. What happens if you turn `-j16` off, does the individual tests get faster?

[2017-04-11 22:01] krcb commented on #1208
@jwillenbring, @MicheldeMessieres and I discussed this today. We are interested to find out the precise configuration that led to the error described above to see if we can reproduce. First, however, it seems we should wait for the outcome of @jjellio's testing.

[2017-04-11 22:02] jjellio commented on #1208
My script is a bit bloated (I hacked it from another).

I only module load devpack

[code]

[code]

[2017-04-11 22:03] jjellio commented on #1208
To bring the script up to date, you could probably carefully load modules related to XL, to get the LD_LIBRARY_PATH right.

I did this on RIDE btw.

I'll build Epetra now.

[2017-04-11 22:05] jjellio commented on #1208
Epetra:

[code]

[2017-04-11 22:18] crtrott opened #1234 "Rol fails to compile with checkin-test"
[code]

Modules:
[code]
Command:
[code]

[2017-04-11 22:18] jhux2 commented on #1216
@nmhamster I removed the PBS commands and dropped ctest to ```-j 1```.  The test is still slow, but I can probably live with this.

[2017-04-11 22:18] jjellio commented on #1208
@mhoemmen is there a specific unit test that will test the ABI problem you had?  Teuchos Numerics and Epetra passed all tests.  I am building Belos now. I am not sure if I've built Belos before with this compiler/blas combo.

[2017-04-11 22:20] crtrott commented on #1234
Looks like a typo: Epetra comm has a capital case Broadcast not lower case broadcast

[2017-04-11 22:21] dridzal commented on #1234
Thanks, this should be fixed now.

[2017-04-11 22:21] #1234 closed

[2017-04-11 22:24] jjellio commented on #1208
Belos fails one test:

[code]

[2017-04-11 23:15] krcb commented on #1208
@jjellio this is very helpful; thanks. Could you add the output from the configure step, specifically the find of LAPACK/BLAS?

[2017-04-11 23:33] jjellio commented on #1208
ESSL does not provide dsteqr, that is atleast one reason you have to use OpenBLAS.

This was on Ride, but the same thing should work on White.

This doesn't fix the ABI issue, but it does show how to build with ESSLSMP/OpenMP/GCC

grab 1 node, with 4 procs per node
[code]

modules
[code]

[code]

Full output:
[code]

[2017-04-11 23:54] hkthorn commented on #1208
It seems extremely unlucky that Belos is the only package that has a test that is using an BLAS/LAPACK routine that passes in a character.  James can you insert the error from the failed PseudoBlockCG test, just to be sure that error is coming from LAPACK.  Thanks!

[2017-04-12 00:01] bartlettroscoe commented on #1233
Actually, that policy has almost completely disintegrated in the last few years, especially since backward compatibility testing has not been run for many years now.

If we are serious about backward compatibility (which always included both compile-time APIs and behavior), we need to implement the TriBITS lifecycle model in Triilnos (and provide support for it in the TriBITS system itself).   The

[2017-04-12 00:30] krcb commented on #1208
@jjellio is it possible to not link in ESSL, that is only use OpenBLAS? It would be useful to know if this problem originates from the combination of the two libraries, i.e. some kind of namespace collision. We have seen something like this behavior before when we have a C++/Fortran interface and two different versions of the same library.

[2017-04-12 01:44] nmhamster commented on #1233
@mhoemmen @ibaned - its my understanding that the Intel OpenMP runtime can provide deterministic reductions if forced into that mode (using the `KMP_DETERMINISTIC_REDUCTION` environment variable). It opens the door for areas where we can directly use OpenMP reductions (assuming an OpenMP backend) to improve levels of vectorization and optimization. Also some of the MPI implementations will guarant

[2017-04-12 01:59] bartlettroscoe opened #1235 "ROL_adapters_tpetra_test_sol_TpetraSimulatedConstraintInterfaceDual_MPI_4 timing out in CI build after push on 4/11/2017"
**Description:**

It looks like a one of the commits pushed to Trilinos that was pulled in this CI iteration today:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2832775&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

where the commits pulled are shown here:

* http://testing.sandia.

[2017-04-12 02:38] mhoemmen commented on #1208
@hkthorn Lots of BLAS routines take a character.  I would really like to use GEMV in classical Gram-Schimidt, for example, and it takes a character (whether to apply the transpose or conjugate transpose of the matrix).

[2017-04-12 02:39] jjellio commented on #1208
I think I fixed this.  The function is not being called correctly. What is surprising, is that is still compiled.
[code]

[2017-04-12 02:45] jjellio commented on #1208
The fix is:

https://github.com/trilinos/Trilinos/blob/master/packages/belos/src/BelosPseudoBlockCGSolMgr.hpp#L1037
[code]

[2017-04-12 02:49] mhoemmen commented on #1208
@jjellio Wait, wait?  Does this work everywhere or just for POWER + OpenBLAS + GCC?

[2017-04-12 02:52] jjellio commented on #1208
@mhoemmen  LDZ should be an int. That is how it is defined:
https://github.com/trilinos/Trilinos/blob/f0350316239aaf41e8e6b82378612aaedf9cc72c/packages/teuchos/numerics/src/Teuchos_LAPACK.cpp#L735

I used N since it was around. It needs to be any integer >=1 per the Lapack reference. 'Z' is not referenced, the value should be a dummy. The literal one is probably getting optimized in some odd way.

[2017-04-12 03:07] mhoemmen commented on #1208
@jjellio I'm confused.  Is this a fix that only works for OpenBLAS+POWER+GCC, or a fix that works everywhere?

[2017-04-12 03:07] jjellio commented on #1208
Hang on - ctest is lying to me.

[2017-04-12 03:10] jjellio commented on #1208
@mhoemmen I shouldn't believe ctest apparently. The MPI was not launching because I had <4 processes (slots) available.  Somehow, that merits a 'passed' status.

No, this does not fix anything.
[code]

[2017-04-12 03:16] bathmatt commented on #1216
cat > job.sh << "EOF"
#! /bin/bash
#PBS -l nodes=1:ppn=64
#PBS -l cput=06:00:00
#PBS -N $JOB_NAME

. ./Trilinos/DrekarBase/drekar/build_scripts/ride/environment.sh
grep -v configure
./Trilinos/DrekarBase/drekar/build_scripts/ride/environment.sh

env
. ./Trilinos/DrekarBase/drekar/build_scripts/ALL/build_drekar.sh
cd $WORKSPACE/${BUILD_DIR}
export CUDA_LAUNCH_BLOCKING=1
export CUDA_MANAGED_FORCE_DE

[2017-04-12 06:05] kyungjoo-kim commented on #1118
I pushed a fix. Panzer unit tests are passed now. Please check if any further problem is.

[2017-04-12 07:34] kliegeois opened #1236 "Building and running error with Epetra while pthread is enabled"
I have two linked issues.

1) While trying to run the MueLu tutorial, I faced a cast error:

[code]
It seems that Tobias has already faced the same cast error in the test packages/muelu/test/navierstokes/Navier2D_Epetra.cpp as shown in the following print screen.

<img width="640" alt="piece jointe" src="https://cloud.githubusercontent.com/assets/15634348/24945673/826640c8-1f60-11e7-959c-93df2ebbe

[2017-04-12 14:38] bartlettroscoe commented on #1207
@mhoemmen, can we close this?  I think the question has been answered.

[2017-04-12 15:50] sthomas61 commented on #1206
perhaps the best result so far: Chebyshev degree 3, with the original MatMat code with loop unrolling and #pragma GCC ivdep for the loop line 1554
Avg No-output time 597.9138 sec

[2017-04-12 16:05] sthomas61 commented on #1206
96 cores, 50 steps, lowest time so far
Avg No-output time 596.8403 sec

[2017-04-12 16:05] jhux2 commented on #1216
@nmhamster said ride doesn't understand PBS ....

[2017-04-12 16:25] bartlettroscoe opened #1237 "KokkosKernels CI build failure on 4/12/2017"
A KokkosKernels build failure was caught by the standard CI build:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.7.2-MPI_RELEASE_DEBUG_SHARED_PT_CI&field2=groupname&compare2=61&value2=Continuous&field3=buildstarttime&compare3=84&value3=now

 in the first CI iteration this morning:

* http:

[2017-04-12 16:26] bartlettroscoe commented on #1237
This is fixed in the current CI iteration, so I am closing this issue.  (It was for archiving only.)

[2017-04-12 16:26] #1237 closed

[2017-04-12 16:31] jhux2 commented on #1216
There are two failures in ```MueLu_UnitTestsTpetra_MPI_4```.  The first is

[code]

The 2nd is in construction of the grid transfer, I'm tracking that down now.

[2017-04-12 16:39] bathmatt commented on #1216
@jhux2 are you saying there are only 2 failuers?  what is your JOB_NAME?

[2017-04-12 16:44] jhux2 commented on #1216
@bathmatt No.  I'm concentrating now on the failures in the unit test suite:
[code]
Each of those runs 100s of individual tests.  In ```MueLu_UnitTestsTpetra_MPI_4```, two of the individual tests are failing.

[2017-04-12 16:45] bathmatt commented on #1216
OK, because I saw about 20 test failures total.

On Wed, Apr 12, 2017 at 10:44 AM, Jonathan Hu <notifications@github.com>
wrote:

[2017-04-12 16:56] bathmatt commented on #1216
@jhux2 @eric-c-cyr
Eric, I am hoping that some of the MueLu issues in this ticket will resolve the Drekar failures we are seeing on ride.  I gave Jonathan access to the jenkins ride all test board so he can look through the failures higher up.

[2017-04-12 17:16] hkthorn commented on #1208
@mhoemmen @jjellio Since only the eigenvalues are being requested and not the eigenvectors, the argument of "1" for ldz is fine since "z" is being ignored.  The error (-1) indicates that the issue is with the first argument, that is the character.

As I said before, it seems so unusual that only the Belos pseudo-block CG is calling an BLAS/LAPACK routine with a character in the test suite.  In fac

[2017-04-12 17:45] jjellio commented on #1208
@hkthorn @mhoemmen let me dig a bit more. I also think it is very odd Teuchos Lapack/BLAS unit tests + most of trilinos is working.  If the ABI was brazenly wrong, it seems we should have compile time or valgrind errors, but I am not seeing any.

I got this working last night, and the problem seems to be memory corruption, yet valgrind comes back clean. It seems odd Valgrind would be happy if the

[2017-04-12 18:00] jhux2 commented on #1216
During construction of the grid transfer I'm seeing errors like this:
[code]
I'm doing printf debugging, but it hasn't turned up anything I can use yet.  Are there any memory tracking tools (similar to valgrind) available?

[2017-04-12 18:07] nmhamster commented on #1216
@jhux2 - TotalView is on the ride machine and then there are tools like CUDA-memcheck.

[2017-04-12 18:16] jwillenbring commented on #1208
@crtrott was interested in this issue it sounded like.

[2017-04-12 18:34] bathmatt commented on #1216
cuda-gdb and inside set cuda memcheck on
it is a bit faster than running through cuda-memcheck, and not sure why...
So many things that don't make sense to me.

On Wed, Apr 12, 2017 at 12:07 PM, Si Hammond <notifications@github.com>
wrote:

[2017-04-12 18:41] tawiesn commented on #1216
@jhux2 You can turn off all the NavierStokes 2d examples when compiling for cuda. Support for vector-based problems is not in the official repository, yet. Not sure, when i will have time to test it (write unit tests) and push.

[2017-04-12 18:58] jjellio commented on #1208
I've written a short unit test in Teuchos' Lapack test file.  I construct a diagonal, as d[i] = DIAG_SZ - i; where DIAG_SZ > 1;  For the off diagonal, I simply put epsilon.

If STEQR works, then on output diag will be sorted in reverse order of how I construct it. e.g., d[0] = DIAG_SZ, and d[DIAG_SZ-1] = 1;  The largest eigenvalue should be DIAG_SZ, and it should be in d[0]. I test this, and this

[2017-04-12 19:06] eric-c-cyr commented on #1216
Not to muddy the waters, but I was seeing two types of issues on Ride. The first was that Stratimikos didn't correctly identify the operator as being an Epetra one. I was able to fix these by modifying how the Epetra MueLu adapter was injected into Panzer. The second issue, was again an Epetra identification issue (cast failure) that I couldn't really resolve.

[2017-04-12 19:07] dridzal commented on #1224
@nschloe  , would it be possible to rerun the PPC64 test?  We've fixed the issue for an Intel 17.0.1 build, and I suspect that the PPC64 build will work now.

[2017-04-12 19:10] dridzal commented on #1224
A note:  You would have to use the develop branch until the master branch is updated.

[2017-04-12 19:14] dridzal commented on #1235
I believe that the commit

https://github.com/trilinos/Trilinos/commit/d6fced53c9c6e717623fd27a4e7c086f9e92af15

took care of this issue.  I'll reopen if necessary.

[2017-04-12 19:14] #1235 closed

[2017-04-12 19:14] jhux2 commented on #1216
Ok, ran with ```cuda-gdb```.  The option ```cuda memcheck on``` makes the run really really slow.  Without that option, I do get a stack trace.

[2017-04-12 19:21] mhoemmen commented on #1236
@trilinos/muelu

[2017-04-12 19:22] mhoemmen commented on #1207
@bartlettroscoe Sounds good -- thanks for answering! :-)

[2017-04-12 19:22] #1207 closed

[2017-04-12 19:25] nschloe commented on #1224
Nicely done!

The build runs every night on master, and it'll be easiest not to change the process. I suggest I'll close this bug, to be reopened if the issue persists on master next week.

[2017-04-12 19:25] #1224 closed

[2017-04-12 19:38] dridzal commented on #1224
Sounds good, I hope that master will be updated soon.

[2017-04-12 20:19] bartlettroscoe commented on #1235
Yup.  Looks like it got cleaned up in this CI iteration:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2834087&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

and we see the commit d6fced5 in the Updates.txt notes file:

* http://testing.sandia.gov/cdash/viewNotes.php?buildid=2834397

[2017-04-12 20:21] bartlettroscoe commented on #1216
Dynamic casting does not work correctly with this compiler?  Is this a compiler bug or is the code somehow non-standard?

[2017-04-12 20:24] jhux2 commented on #1216
@bathmatt If I want symbols in my build, what's the best way to do that?

[2017-04-12 20:38] lxmota commented on #1225
I'm the developer for MiniTensor. I would like to fix this, but I don't know how. I'm pinging @bartlettroscoe  for help with this.

[2017-04-12 20:42] bartlettroscoe commented on #1225
I have no idea what would be causing this.  I did not write much of the code that creates and installs the `<Package>Config.cmake` files.  The principle people who I think did are @bmpersc and @nschloe with a little editing from @briadam.

I am going to have dig into all of this once I can finally get into the major refactoring in TriBITSPub/TriBITS#63.

[2017-04-12 20:56] tawiesn commented on #1236
@kliegeois Comment on problem 2: it seems you have both the Epetra and Tpetra stack enabled with Xpetra, but Tpetra is only instantiated on the Pthread node. This is not possible. The logic of Xpetra is to provide a 100% compatibility layer for both Tpetra and Epetra. That is, as soon as you have both Epetra and Tpetra enabled (with Xpetra) you have to enable either the Serial or the OpenMP node (

[2017-04-12 20:59] tawiesn commented on #1236
This configure check will also filter problem 1.

[2017-04-12 21:44] djlittl opened #1238 "Minitensor produces compiler warning with Intel 17"
I'm using minitensor::Vector in an application code, and when building on linux with Intel 17.0.1 I am seeing the following warning.

include/MiniTensor_Vector.h(125): warning #488: template parameter "ArrayT" is not used in declaring the parameter types of function template "minitensor::Vector<<f>T, N, ES>::Vector<<f>ArrayT,iType>(Kokkos::Impl::enable_if<<f><<f>expression>, ArrayT>::type &, iType

[2017-04-12 22:08] dridzal commented on #1238
I've seen the same warning with Intel 17.0.1.  It would be good to clean it up, as it comes up a lot when building Trilinos.

[2017-04-12 23:40] mplooster commented on #1164
@trilinos/framework
Or we could use some of the available tutorials as the test driver, which would give the tutorials some additional testing.

[2017-04-13 11:11] kliegeois commented on #1236
@tawiesn Yes, it does definitely make sense.
Just to make sure, I have just rebuild Trilinos with serial and pthread switched to ON. The compilation has ended without errors and it the MueLu tutorial ran smoothly. Both problems are gone.

Thanks a lot.

[2017-04-13 16:54] bathmatt opened #1239 "Bug in Panzer_ResponseScatterEvaluator_Probe_impl.hpp"
@etphipp you wrote the initial version of this file. and @rppawlo @jmgate have modified it and I'm not clear on the logic for it but there is a definite bug in this routine.

Line 191 says
    physical_points(0,0,i) = physical_points_cell(0,i);
but
 physical_points_cell has rank 3 dynamic rank view.
  Kokkos::DynRankView<double,PHX::Device> physical_points_cell("physical_points_cell", this->wda(d)

[2017-04-13 16:58] jhux2 commented on #1216
@mhoemmen Should ```getAllValues``` work properly with UVM?
[code]

[2017-04-13 17:10] jhux2 opened #1240 "Xpetra: using statement in global namespace"
Reported by @jmgate:
I pulled Trilinos today for the first time since commit 279ddfeb8629c6f2106675d89fc4ad2dd21732fd (about two weeks ago) and ran into the following build problem:
[code]

I took a look at Xpetra_CrsGraph.hpp, and it looks like @jhux2 was the one to last touch that line 61, though that was five years ago.  I can't find in the commits since 279ddfeb8629c6f2106675d89fc4ad2dd21732fd

[2017-04-13 17:12] jhux2 commented on #1240
Checkin script is running.  ShyLU, Zoltan2, and MueLu each had examples and/or tests that implicitly depended on this.

[2017-04-13 17:28] etphipp commented on #1239
It looks like physical_points_cell was changed from rank-2 to rank-3 in https://github.com/trilinos/Trilinos/commit/74137585af04232b37db17e485e12527534594b2

As to why, @rppawlo will have to answer that.  As far as I can tell reading the code, adding the extra 0 at the beginning like you did looks correct.

[2017-04-13 17:57] wppowers commented on #1219
I should mention that when the preconditioner was only computed once at the beginning of the run rather than periodically throughout the simulation, the performance only improved by about 1%. So even when the serial portion of the sample program was eliminated, the 1 process 4 thread per process run was still about 19% slower than the 4 process 1 thread per process run.

[2017-04-13 18:03] jhux2 commented on #1219
MueLu has a separate code path that explicitly enables Kokkos in the multigrid setup.  To enable that code, please add these cmake options.
[code]
Regardless of whether you use these options, the apply of the preconditioner will always use Kokkos, because you're using Tpetra.

[2017-04-13 18:06] srajama1 commented on #1219
@wppowers : The SGS preconditioner is one portion of the MueLU setup and apply. Both the preconditioner computation and apply are multithreaded. This is not true for all of MueLU setup and apply though. It is going to depend on lot of options.

[2017-04-13 18:28] bathmatt commented on #1239
It's just odd, because the array sizes are not 1, 1, dim.  so 0,0,dim seems
odd to me..  That's what I didn't understand.
We can wait til Roger looks at it though

On Thu, Apr 13, 2017 at 11:28 AM, Eric Phipps <notifications@github.com>
wrote:

[2017-04-13 18:33] jhux2 commented on #1219
Right, I should have been much more careful in my statement.  The multigrid setup is not fully threaded yet, but adding the cmake options I mentioned will activate the portions that are.  Any part of the multigrid apply that uses a matrix-vector kernel (e.g., grid transfers, polynomial smoothers) will use Kokkos.  And as @srajama1 mentions, SGS is also threaded in its setup and apply.  Someone els

[2017-04-13 18:42] mndevec commented on #978
This should be fixed. I am closing for now.

[2017-04-13 18:42] #978 closed

[2017-04-13 18:43] mndevec commented on #979
This should be fixed, closing for now.

[2017-04-13 18:43] #979 closed

[2017-04-13 18:43] mndevec commented on #980
This should be fixed. Closing for now.

[2017-04-13 18:43] #980 closed

[2017-04-13 18:44] mndevec commented on #988
I am closing the issue for now. This should be fixed.

[2017-04-13 18:44] #988 closed

[2017-04-13 18:45] #759 closed

[2017-04-13 18:46] wppowers commented on #1219
@jhux2 Thanks for those suggestions. I will give that a shot. We are currently using the following experimental options.

-DTpetraKernels_ENABLE_Experimental:BOOL=ON
-D fpack2_ENABLE_Experimental:BOOL=ON
-DIfpack2_ENABLE_Experimental_KokkosKernels_Features:BOOL=ON

[2017-04-13 20:00] jhux2 commented on #1240
Ran into a couple bumps.  Checkin script is rerunning now.

[2017-04-13 20:09] jhux2 opened #1241 "checkin script question"
@bartlettroscoe I've noticed recently that when I run the checkin script, many upstream packages get rebuilt, even if there are no new changes pulled into those packages.  I seem to recall that at one point, rebuilding during checkin was quite a bit faster because there was less recompilation of unchanged packages.  For example, my last checkin run pulled in changed to panzer, rol, and minitensor,

[2017-04-13 20:15] bartgol opened #1242 "Teuchos::OrdinalTraits constexpr"
I was trying to use Teuchos::OrdinalTraits::invalid() in a constexpr, and the compiler bit me.

So I was wondering: is there a reason why the methods in Teuchos::OrdinalTraits are not constexpr?

[2017-04-13 20:18] kyungjoo-kim commented on #1118
@bathmatt

Based on the nightly test on apolo, panzer unit tests on cuda are passed. If your code does not produce a problem, could we close this ticket ?

http://testing.sandia.gov/cdash/buildSummary.php?buildid=2836566

[2017-04-13 20:20] dridzal commented on #1241
MueLu gets rebuilt every time I run make after changing a CMakeLists file in ROL, even if I haven't pulled from the repo.

[2017-04-13 20:35] bartlettroscoe commented on #1241
My guess is that this has nothing to do with the checkin-test.py script.  My guess is that this is caused by some Trilinos package (or packages) are updating some config.h file or something which is triggering a bunch of downstream files to get rebuilt.  If someone has the time, we can use ninja to diagnose what is triggering these rebuilds (you can't really do that sometimes with the generated ma

[2017-04-13 20:39] bathmatt commented on #1118
OK, have you disabled the test ifdef out?

On Thu, Apr 13, 2017 at 2:18 PM, kyungjoo-kim <notifications@github.com>
wrote:

[2017-04-13 20:40] kyungjoo-kim commented on #1118
yes I removed the ifdef.

[2017-04-13 20:41] bathmatt commented on #1118
OK, if it isn't closed tomorrow I probably forgot to look :).  Please ping
me

On Thu, Apr 13, 2017 at 2:40 PM, kyungjoo-kim <notifications@github.com>
wrote:

[2017-04-13 21:02] lxmota commented on #1238
This issue has been solved on the Trilinos side, but it required changes that will affect @djlittl's application. I will have to coordinate with him on that.

The Intel 17 compiler is producing other warning messages as well for MiniTensor. I'm currently working on those.

[2017-04-13 21:02] #1238 closed

[2017-04-13 21:47] mhoemmen commented on #1216
@jhux2 Only if you issue a fence first, before accessing the returned ArrayRCP on host.  The returned ArrayRCP just point to the underlying Kokkos::View, that happened to be in CudaUVMSpace when building with CUDA enabled.

[2017-04-13 22:13] gpkc commented on #862
Are there any updates on this? I'd like very much to use PyTrilinos with Python3.

[2017-04-13 22:41] bartlettroscoe commented on #862
I think the TriBITS part is finished.  See TriBITSPub/TriBITS#119.  Can't speak for the rest of Trilinos.  But if there is no automated testing of Trilinos with Python3, then if things do work at some point, they will not likely work for long.   The @trilinos/framework team would need to work to get a Trilinos build with Python3 going to make this happen (first as an experimental build then elevat

[2017-04-13 23:40] sthomas61 commented on #1206
now using the MueLu scaling test driver for timings -
introduced "Const Aval" for the outer loops - results in 25% improvement in MueLu set-up
(repeated 100x).
[TpetraExt_MatrixMatrix_def.hpp.txt](https://github.com/trilinos/Trilinos/files/921113/TpetraExt_MatrixMatrix_def.hpp.txt)

[2017-04-13 23:43] sthomas61 commented on #1206
[MueLu100.log.txt](https://github.com/trilinos/Trilinos/files/921116/MueLu100.log.txt)

[2017-04-13 23:43] sthomas61 commented on #1206
[MueLuConst100.log.txt](https://github.com/trilinos/Trilinos/files/921117/MueLuConst100.log.txt)

[2017-04-14 00:16] sthomas61 commented on #1206
there is still "chop" in the timings due to communication but with 100x set-up
more consistent timings

[2017-04-14 15:32] krcb commented on #1092
After some fighting with SuperLU_Dist, I've finally got to the point where we can investigate further. I'm able to reproduce the SuperLU_Dist failure; however, the KLU2 test also fails for me:

[code]

It's not clear to me how significant this failure is though as 1e-14 is fairly strict tolerance and the test result misses it by a factor of a few. (This is on OS X with Clang 7.3.1+mpich 3.1.4).

[2017-04-14 15:37] #1236 closed

[2017-04-14 15:39] ibaned commented on #1092
@krcb thanks for looking into this !
I agree that the KLU2 failure looks too borderline to be significant.
I think there are options you can pass to this test system to change that tolerance, and raising it to `1e-12` so you can get through KLU2 and focus on SuperLU_Dist makes sense to me.

[2017-04-14 16:11] bathmatt opened #1243 "How to link Kokkos issues in the SART board?"
There are kokkos issues on the kokkos board to the SART board?  We need to track these as well without duplication

[2017-04-14 18:49] bathmatt commented on #1216
@jhux2 I saw your test script had the launch blocking flag, are you still setting that>??  You will see lots of issues if you don't have that on.

[2017-04-14 18:56] kddevin commented on #1209
Thanks for your reply, @gslota .
Do you have an estimate of when the known bug will be fixed?  I ask only because I know that the first test my users will run will be a very simple, ten-element graph.  If the fix is imminent, I will wait until after the fix to have them run PuLP.  If you do not have time now, I will try to steer them toward larger initial tests.  Thanks.

[2017-04-14 21:04] krcb commented on #1092
I've run the provided matrix through the Amesos2 SuperLU_Dist test driver. The output is as follows:

[code]

As far as I can see, this looks ok (but I may be missing something). As an experiment, I took a few of the test matrices in Amesos2 that are used for testing the SuperLU_Dist interface and ran them through the new Stratimikos Amesos2 SuperLU_Dist interface. For example, on orsirr_2.mtx, I

[2017-04-14 21:22] jhux2 commented on #1216
The problem appears to be during the call to getAllValues, not afterwards.  Do the fences need to go into  ```copyOffsets``` itself?
[code]

[2017-04-14 21:22] ibaned commented on #1092
That approach would be fine with me

[2017-04-14 21:25] jhux2 commented on #1216
Thanks.  Yes, I'm doing ```export CUDA_LAUNCH_BLOCKING=1``` in my job scripts, or when I run interactively.

[2017-04-15 00:37] jhux2 commented on #1216
Quick update:

- The ```MueLu_Navier2DBlocked*``` errors are all the same type, and are due to a throw in casting between Epetra objects.  This should be benign for Drekar.
- The ```MueLu_Driver_TogglePFactory*``` errors are Lapack related.  Maybe ESSL will fix this?
- The ```MueLu_ParameterListInterpreterEpetra*``` errors are due to failures in the IntrepidPCoarsen unit tests.  These are annoying

[2017-04-15 01:00] krcb commented on #1092
@ibaned do you want to make those changes on #1090 or would you like me to? Is there anybody else we need buy in from?

[2017-04-15 01:27] ibaned commented on #1092
I just pushed this change as commit 066f244 to the branch for #1090. Indeed, the SuperLU_Dist test passes now. I'm not sure whether debugging the old matrix should be considered part of this issue, or if we should just close this one.

[2017-04-15 01:30] krcb commented on #1092
I just ran this matrix through the Stratimikos->Amesos->SuperLU_Dist test driver. It appears to pass there. Could you comment on whether you are performing additional tests in the Stratimikos->Amesos2 driver c.f. the  Stratimikos->Amesos driver?

[2017-04-15 01:35] ibaned commented on #1092
Just to be clear: you mean that ML's `A.mm` matrix passes with the Stratimikos->Amesos->SuperLU_Dist codepath ? I tried to just copy that test in #1090, if it is doing something more that wasn't my intention.

[2017-04-15 01:53] krcb commented on #1092
@ibaned that appears to be the case, yes.

[2017-04-16 02:09] mhoemmen commented on #1216
Only if building with XL...

[2017-04-17 16:41] maherou commented on #1232
I have completed a draft [Trilinos Support Policy document](https://github.com/trilinos/Trilinos/wiki/Trilinos-Support-Policy).  It is available for review.  Please put comments in this issue.

[2017-04-17 18:01] bartlettroscoe commented on #1232
Referring to the draft at:

* https://github.com/trilinos/Trilinos/wiki/Trilinos-Support-Policy

in the sentence:

should "prefective" be "preventative"?

For the references in the sentence:

I think we are making some progress in all of these areas but more improvement is needed (we can discuss the details of these three areas at future Trilinos Leaders Meetings and in other conversations).

The

[2017-04-17 18:35] kyungjoo-kim commented on #1118
Hi @bathmatt . Ping~

[2017-04-18 01:09] maherou commented on #1232
cc: @wfspotz, @dridzal,

[2017-04-18 01:20] maherou commented on #1232
Responses to some of Ross' comments:
- I meant to write perfective maintenance (as it is written).  This term refers to improvements that come from user experience.
- Yes, the referenced policy documents need further development, but everything is a work in progress.  We can mature all documents in parallel.
- While we may not have formal adoption of a lifecycle, we have a working definition of th

[2017-04-18 15:25] kyungjoo-kim commented on #1177
Hello, @bathmatt

This needs a different interface from what is supported. My guess is that you need a single point mapping interface (if you have multiple, just run the single point api multiple times).

Is this urgent ? When is the time line that you need ?

[2017-04-18 15:52] rppawlo commented on #1239
Taking a look at this now. There were multiple implementations of check pointwise inclusion in intrepid2. When Intrepid2 was refactored to use DynRankView, we lost all but one implementation. If I recall correctly, the remaining implementation used more memory and was less efficient because it searched every element and stored results for every point in every element. We had to change our view siz

[2017-04-18 15:54] rppawlo commented on #1151
This is a large effort. @kyungjoo-kim will set up a meeting to discuss.

[2017-04-18 15:57] rppawlo commented on #1177
Estimate that it will take 2 weeks to complete. New interface design and significant amount of testing required.

[2017-04-18 16:04] bathmatt commented on #1118
Sorry, closing, thanks!!

[2017-04-18 16:04] #1118 closed

[2017-04-18 16:09] william76 commented on #1182
FYI: @jwillenbring, I'm adding this to capture the information on the thread:

From @csiefer2:

I'm not sure yet where these would fall in 2nd-tier or 3rd tier, but after our conversation today I think I have a better feel for the distinction between a 2nd-tier and 3rd-tier nightly test build.

[2017-04-18 16:20] jhux2 commented on #1240
@jmgate This has been fixed via commit 750e3d9 in develop.  I will close, but feel free to reopen if you continue to see problems.

[2017-04-18 16:20] #1240 closed

[2017-04-18 16:21] maherou commented on #1191
Jim Willenbring has asked Tech-X about taking on this responsibility.  Kris Beckwith has requested and received access to ride.  James Elliott is also engaged. The issue may be related to configuration issues.
ACTION: @jwillenbring will follow up with @krcb

[2017-04-18 16:31] #1231 closed

[2017-04-18 16:50] bathmatt commented on #1177
I've written my own in a dumbed down interface.  I can share it

On Tue, Apr 18, 2017 at 9:57 AM, Roger Pawlowski <notifications@github.com>
wrote:

[2017-04-18 17:31] kyungjoo-kim commented on #1223
Hi @bathmatt

I cannot reproduce the warning message. I use gcc 4.9.3 on hansen.

Could you tell me what version of gcc is used or just give me the full list of warnings of narrowing ?

Regarding to the panzer deprecated warning, @rppawlo may address better. In the PHX, the interface is deprecated and it requires "const view type".

[2017-04-18 17:52] srajama1 commented on #1232
@maherou : I am worried about this statement. "First level support will come from funded project team members who are part of the Trilinos team".  May be by first level support is just PoC ?

[2017-04-18 17:55] bartlettroscoe commented on #1232
Just being a POC is fine as long as there are people with the time and funding exist to pass off issues to.

[2017-04-18 18:00] bartlettroscoe opened #1246 "Create initial standard shared build configuration files and scripts for ATDM builds of Trilinos"
**Description:**

This story is to track the creation of standard build configuration files and scripts for Trilinos on ATDM systems as per the strategy outlined in:

* https://sems.sandia.gov/jira/browse/TRIL-171

The idea is that ATDM-funded Trilinos Developers, ATDM application developers, ATDM application users, automated builds of Trilinos, and others who build Trilinos on ATDM platforms rela

[2017-04-18 18:04] krcb commented on #1208
@jjellio Was this test compiled against ESSL+OpenBLAS, or only OpenBLAS? If the former, does the corruption go away if the latter is chosen?

[2017-04-18 18:06] bartlettroscoe opened #1247 "Create automated ATDM build of Trilinos on shiller submitting to Trilinos CDash site"
**Next Action Status:**

Reproduced the configure of Trilinos+Drekar on 'shiller'.  Next: Create refactored files and scripts and put into Trilinos git repo ...

**Description:**

This story is assoicated with #1246 and that is to drive the creation of these common ATDM configuration files and scripts while getting an automated build of Trilinos for ATDM set up on shiller with CUDA/GPUs.  This wil

[2017-04-18 18:10] gflofst commented on #1232
I am a bit worried about these statements:
"Any improvement in support will have significant impact on quality, cost and time.

Therefore, support is best done by the team members developing capabilities. Support and support planning should be an integral part of development efforts."

It is hard enough to convince everyone that they should follow some process even though it is a research rather t

[2017-04-18 18:45] bartlettroscoe commented on #172
This effort is being replaced with a more ATDM-focused effort in the new stories #1246 and #1247.

However, I will not delete the directory Trilinos/cmake/ctest/drivers/ATTB just yet in case I can mine some stuff from there.

Closing as duplicate.

[2017-04-18 18:45] #172 closed

[2017-04-18 18:59] bartlettroscoe commented on #1247
@bathmatt and @rppawlo, the existing Trilinos+Drekar configure scripts in DrekarBase/drekar/build_scripts/ take the env var `JOB_NAME` as input (e.g. `JOB_NAME=Drekar_opt_gnu_openmp`).  What Trilinos build should I start with?  The most useful build to protect developers working is usually one with optimized compiler flags (i.e. `-DCMAKE_BUILD_TYPE=RELEASE`) and debug-mode runtime checking (i.e. `

[2017-04-18 19:05] kyungjoo-kim commented on #1177
To make the function work in the kokkos kernel, I cannot use virtual interface, which means that I need a specific basis type to compute jacobian. This would give us
[code]
Is this something feasible for you ? Can you also show your interface ?

[2017-04-18 20:33] mhoemmen opened #1248 "MueLu: Performance bug in non-threaded sparse matrix-matrix multiply in Tpetra (and likely also Epetra)"
@trilinos/muelu @trilinos/tpetra

@sthomas61 (thanks!) discovered the following issue, and asked me to report it to GitHub:

The issue is that the estimate for the number of entries per row in Tpetra_MatrixMatrix_def.hpp is incorrect.  Detailed outputs showed that the nnz per row estimates were too low from Cestimate_nnz.  Typical values were order 100 for a 50^3 Laplacian.

Compared with the ML M

[2017-04-18 20:56] sthomas61 commented on #1248
[TpetraExt_MatrixMatrix_def.hpp.txt](https://github.com/trilinos/Trilinos/files/931054/TpetraExt_MatrixMatrix_def.hpp.txt)

[2017-04-18 20:56] sthomas61 commented on #1248
patched code uploaded

[2017-04-18 21:09] bathmatt commented on #1177
That would be awesome!!

On Tue, Apr 18, 2017 at 1:05 PM, kyungjoo-kim <notifications@github.com>
wrote:

[2017-04-18 21:11] sthomas61 commented on #1248
by == 1 above just meant that the expression always evaluates to 1 in the code so always
(condition) : 1 : 100;

[2017-04-18 21:13] aprokop commented on #1248
To clear things up: the original code always divided `A.getNodeNumEntries()` by itself instead of dividing it by `A.getNodeNumRows()`, which always evaluated to 1, meaning the estimate was always one resulting in a deluge of allocations during construction of rows of C.

[2017-04-18 21:55] tjfulle opened #1249 "MPI_Iallreduce issues"
@mhoemmen and I thought it might warrant opening an issue regarding a problem I am having with `MPI_Iallreduce` getting a pipelined CG implementation working in Lammps.  It may be relevant to non-blocking algorithms planned for @trlinos/tpetra.  @nmhamster and @crtrott, perhaps you can see the problem?

I have run in to an issue with `openmpi` (version 1.8.7, 1.10.1, 2.0.1) `+gcc6` (and clang) whe

[2017-04-18 22:04] vbrunini commented on #1249
Is MPI_Iallreduce guaranteed to copy the local send buffer? You are giving it &ldot which is local to IDotProduct. If it doesn't copy the local buffer I believe you have undefined behavior which could explain the compiler differences.

[2017-04-18 22:07] mhoemmen commented on #1248
See also #1206.

[2017-04-18 22:09] mhoemmen commented on #1249
@vbrunini That's a good point!  I didn't think of that when I looked at @tjfulle 's code earlier.  @tjfulle was not reusing the _output_ buffer, but the _input_ (local dot product result) buffer was a stack variable.

[2017-04-18 22:23] tjfulle commented on #1249
@vbrunini, yes, a very good point!  That fixes this simple problem.  Hopefully it fixes the issue in the larger code...

[2017-04-18 22:23] #1249 closed

[2017-04-19 01:10] jjellio commented on #1208
@krcb, I do not believe ESSL provides STEQR. The code is linked against ESSL (then) OpenBLAS. I suppose, you could link Trilinos against OpenBLAS skipping ESSL all together. I haven't tried that.

I've had to work on some other things, but one thing I did do was build OpenBLAS myself and run the LAPACK test suite against the openblas lib. The Lapack test suite (provided in the openblas source dist

[2017-04-19 01:34] bartlettroscoe commented on #1247
I just started working on this.  I was able to follow the documented process and get Trilinos+Drekar to configure and build and pass all of the tests with the `JOB_NAME=Drekar_opt_gnu_openmp` configuration and it produced:

[code]

with all passing tests:

[code]

(will provide details later).

Now I have a solid foundation to extract the common config files and scripts and refactor the Drekar con

[2017-04-19 01:36] bartlettroscoe commented on #1246
This is in progress as part of #1247.

[2017-04-19 13:17] rppawlo commented on #1177
Here is Matt's current interface for reference.

[PIC_Mesh_Interface_DirectBasis.hpp.txt](https://github.com/trilinos/Trilinos/files/934656/PIC_Mesh_Interface_DirectBasis.hpp.txt)

[2017-04-19 13:49] rppawlo opened #1250 "Panzer: pass in workset information to evaluator factories"
For globally stored fields, we need a workset index and max number of worksets passed into evaluator factories. Currently, in commit 190221d9e10478777b933e415aead78627d1aedc, this information was passed in via "User Data" ParameterList. We should pass in the workset data in a formal struct rather than using the parameter list. Additionally, this only currently sets the size for volume evaluators,

[2017-04-19 14:23] bathmatt commented on #1177
So, to have the compiler auto determine the array types can we
[code]

[2017-04-19 14:33] bathmatt commented on #1177
So, this code works,
[code]
does this mean that we can move basis type to the first arg and only supply it?

[2017-04-19 14:48] bathmatt commented on #1177
Sorry to blast the tracker, but here is my change request

[code]

This way I can call the function
mapToRefFrame<Hex>(a,b,c);

[2017-04-19 14:51] bathmatt commented on #1177
Second issue, Basis type has to be nodal basis and not the basis you are using..  Just FYIl.  Really should it be shards type?

[2017-04-19 15:55] rppawlo commented on #826
Disabled the epetra test completely and reverted Ross's original commit. The wrong vector space is being used. This looks like an issue in constructing the MV data structure for Dg/Dp.

[2017-04-19 17:58] rppawlo commented on #1239
Figured this out. The checkPointwiseInclusion() function requires a separate point for each cell. So to check all cells in a workset for the same point, we had to allocate physical_points_cell to be the size of number of cells and copy the same point into the array for each cell index. The array sizes for physical_point_cell are correct but are really a hack so that we can still call checkPointwis

[2017-04-19 18:11] bmpersc commented on #1164
There is an existing capability that changes the Trilinos configure to build against an installed set of libraries and headers and then runs the same tests that a normal configure would run. Unfortunately this has never been tested on windows, and is possible that it has been broken in the general case as there have been numerous updates to the build system since the last time we ran it.

In any e

[2017-04-19 18:35] bmpersc commented on #1160
@mplooster the files that we used to run testing on our previous windows machine are in Trilinos/cmake/ctest/drivers/kallikrates. The important files to look at would be TrilinosCTestDriverCore.Kallikrates.msvc.cmake and ctest_windows_nightly_serial_development.cmake. There are a number of other files in the directory that we were using to test with, but for the most part they were for a shared li

[2017-04-19 18:41] etphipp commented on #1239
Since it is working I would propose leaving it as is at this point.

[2017-04-19 19:24] nschloe commented on #120
@jwillenbring Tested with the latest Chrome 58, still broken.

[2017-04-19 21:05] jhux2 commented on #1248
@sthomas61 Excellent job!  The checkin test is running now.

[2017-04-19 21:20] krcb commented on #1208
As a sanity check, I just built OpenBLAS using gcc 4.9.3 and gfortran on a x86_64 machine. The OpenBLAS test suite passes. I then built Trilinos Teuchos Numerics and added @jjellio's test above. The tests associated with this also pass. I think we can therefore rule out a fundamental misuse of OpenBLAS by Teuchos. Colleagues here have, in the past, experienced (very) similar problems with ESSL/Ope

[2017-04-19 21:28] jwillenbring commented on #702
The new "Clean" and "Specialized" tracks have been created. I still need to add a discussion of the tracks on the Trilinos wiki. @william76 is working on a plan to divide existing builds into these three tracks (2 mentioned plus Nightly).

[2017-04-19 21:46] sthomas61 commented on #1248
thanks Jonathan

[2017-04-19 22:22] maherou commented on #1232
Addressing Siva, Ross and Jay comments on the support role:
- Yes, the Trilinos team members who are members of the funded project are the points-of-contact.  Whether they are the people who actually fix issues is a separate decision.  I can clarify this in the policy statement.
- There is no implication that, if you wrote it, you will forever support it.  Again, I will clarify.
- Having said this

[2017-04-19 23:40] jhux2 commented on #1248
Changes pushed in ff31d868.

[2017-04-20 04:38] mhoemmen opened #1252 "Tpetra: Add "scope guard" wrapper for Kokkos Profiling regions"
@trilinos/tpetra

[2017-04-20 04:56] #1248 closed

[2017-04-20 04:58] mhoemmen commented on #1206
@sthomas61 does the fix for #1248 make this issue obsolete?  Just curious :-)

[2017-04-20 05:30] #1252 closed

[2017-04-20 05:30] mhoemmen commented on #1252
Fixed in develop.

[2017-04-20 05:32] mhoemmen commented on #1242
@trilinos/teuchos Teuchos has users who need to build with C++98 compilers, so it cannot use `constexpr` by default.  If you would like to submit a patch or pull request to fix this, please use the `HAVE_TEUCHOSCORE_CXX11` macro to protect use of C++11 features, and have a fall-back for C++98 compilers.  Thanks!

[2017-04-20 05:35] mhoemmen commented on #877
My commit 85d8d9e2b582b03cdb85b69a59cf7f8eb6db82ce partly addresses this.

[2017-04-20 05:36] #877 closed

[2017-04-20 05:40] mhoemmen opened #1253 "Tpetra::Details::packCrsMatrix test should actually test pack results"
@trilinos/tpetra

Tpetra::Details::packCrsMatrix test should actually test pack results, not just whether packing didn't throw an exception.

[2017-04-20 15:07] bathmatt commented on #1191
So, I skimmed through the issue, I assume there is no work around at this point? ?  Should we assume that Trilinos on Ride is not viable for packages that use BLAS?

[2017-04-20 15:17] krcb commented on #1191
We've been updating #1208 as with the status of our investigation. As yet, we don't have a work around; investigations so are pointing towards how the different libraries are linked.

[2017-04-20 15:21] bathmatt commented on #1232
Questoin on this statement  "Trilinos support will be an explicitly planned and funded activity within the funded project: While the Trilinos project has dedicated support staff, staffing and funding for support must come from aggregate resources provided by funded projects. Specific project budget amounts should be set aside for support."

Are you saying that as someone develops a package as part

[2017-04-20 15:40] vbrunini commented on #1252
Thoughts on getting this moved into Kokkos? I imagine a lot of people will end up writing their own if it isn't in Kokkos.

[2017-04-20 16:12] crtrott commented on #1252
Is that something you want? A small class as an automatic pop region scope guard?

[2017-04-20 16:23] bartlettroscoe commented on #1191
Can I ask a dumb question?  To get past this issue, at least in the short-term, can we not just build the reference BLAS and LAPACK with the supplied compilers and get things working for now?  Then, offline, someone who cares about a higher-performance BLAS implementation can work on the side to get these issues worked out.

[2017-04-20 16:24] vbrunini commented on #1252
Yeah that would be great.

[2017-04-20 16:52] krcb commented on #1191
@bartlettroscoe I agree completely. AFAIK, nobody has tried simply compiling Trillinos against only OpenBLAS (no ESSL) on the machine as yet. This was suggested on #1208 previously and is my first step when I get onto Ride.

[2017-04-20 17:23] jmgate opened #1254 "Panzer: Default Tangent Dimension"
I was debugging a memory issue with @etphipp yesterday.  The problem was in the `panzer::Traits::Tangent` instantiation of an `Evaluator` most of the `PHX::MDField`s I was dealing with had a single derivative, while one field had the correct number of derivatives (matching the number of "Active Parameters" I'd added).  Any AD operations between fields with mismatching numbers of derivatives was ca

[2017-04-20 17:35] srajama1 opened #1255 "Add TPLs for Amesos2 in Nightly Builds"
We need to add SuperLU-Dist, SuperLU and UMFPACK as part of nightly tests.

@jwillenbring @krcb @MicheldeMessieres @trilinos/framework

[2017-04-20 17:42] kyungjoo-kim commented on #1223
Hi @bathmatt

I tested for all gcc compilers: 4.7.2, 4.8.4, 4.9.2, 5.2.0, 6.1.0 on kokkosdev. I could not see the narrowing warning. I use "-Wall -Wnarraowing".

[2017-04-20 17:45] bathmatt commented on #1223
OK, odd, I'm seeing it with
dir-src (gcc) 216 $ gcc --version
gcc (GCC) 6.1.0
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

This is from last night...  Maybe a dfad issue?  Don't see how but ...

/home/mbetten/Trilinos/Trilinos/packages/intrepi

[2017-04-20 17:46] mhoemmen opened #1256 "Tpetra::Details::Profiling: Fix if KOKKOS_ENABLE_PROFILING not defined"
@trilinos/tpetra
@pwxy

Apparently it is possible to disable Kokkos Profiling, though it is enabled by default and was specifically designed to have low overhead such that people could reliably leave it enabled.  Fix Tpetra::Details::Profiling for that nondefault, generally counterindicated case, by doing nothing if `KOKKOS_ENABLE_PROFILING` is not defined.

[2017-04-20 17:56] ndellingwood commented on #1223
@bathmatt @kyungjoo-kim  I'll try a run on kokkos-dev with gcc 6.1.0
The -Wnarrowing warnings related to MDRangePolicy should be fixed with the recent refactor on Kokkos develop branch, I'll test with this also to confirm.

[2017-04-20 18:00] mhoemmen commented on #1253
Fixed in develop.

[2017-04-20 18:00] mhoemmen commented on #1253
oops, closed wrong issue :)

[2017-04-20 18:00] mhoemmen commented on #1256
Fixed in develop.

[2017-04-20 18:00] #1256 closed

[2017-04-20 18:02] mhoemmen commented on #1252
Hi @crtrott !  It's true that this could be more generally useful, but the main point of the class in Tpetra was encapsulation.  See #1256 (just closed).

[2017-04-20 19:02] jmgate commented on #1232
Question on this bit:

Do Trilinos developers have any resources/training available to them on best practices in this area?  Something along the lines of "What might I not be doing now that I should be to make everyone's lives easier down the road?"  Guidelines on code documentation, user manuals, issue prioritization/juggling, etc.?

[2017-04-20 19:16] tjfulle commented on #1253
Notes from conversation about this issue and future thread parallel global assembly:

- Separate out unpackCrsMatrix.
- Use the new unpackCrsMatrix to test packCrsMatrix.
- Finish fixing #1253 using (2).

[2017-04-20 20:09] ndellingwood commented on #1223
@bathmatt @kyungjoo-kim Replicated the MDRangePolicy-related warnings (narrowing) with gcc/6.1.0 and with Kokkos develop branch copied into Kokkos.

[2017-04-20 20:24] jmgate opened #1257 "Teuchos::ParameterList::get() with default value"
Any time I try using `ParameterList`'s `get` routine that allows you to specify a default value in case the parameter isn't found, I can never actually get it to work.  The compiler tells me

[code]

I've tried switching the parameter name from a string constant to an actual string, but then I just get the same problem with a slightly different error message.  What am I missing here?

Many thanks.

[2017-04-20 20:27] rppawlo commented on #1257
remove the type specification on the get call. It is deduced from the default value.

double contactLength(data.get("Contact Length", 1.0))

[2017-04-20 20:32] bartlettroscoe opened #1258 "ThyraTpetraAdapters_TpetraThyraWrappersUnitTests_MPI_4 failing in CI build pushed on 4/20/2017"
**Description:**

The test `ThyraTpetraAdapters_TpetraThyraWrappersUnitTests_MPI_4` started failing in the first CI iteration pushed in the morning of 4/20/2017 shown here:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2848932&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

The new c

[2017-04-20 20:39] jmgate commented on #1257
I'm afraid that didn't do the trick.

[code]

[2017-04-20 20:50] bartlettroscoe commented on #1258
Since this is failing test blocking anyone else from pushing with the checkin-test-sems.sh script for packages upstream from Thyra, we should resolve this soon.  This can be done with one of the following:

1. Fix the change in Tpetra that is breaking this test (usually best option)
2. Backout commits that are breaking this test and then fix the issues offline and push again (best if issue can't f

[2017-04-20 20:53] rppawlo commented on #1257
Is your parameter list const? I believe you need a non-const parameter list to set the default in it.

[2017-04-20 20:58] ibaned commented on #1257
I think @rppawlo is right about what the issue is. It annoys me that there isn't a `get(name, default)` that doesn't set the value in the parameter list, but instead just returns the default if the value isn't set.

[2017-04-20 21:02] bartlettroscoe commented on #1257
Yup, that is the issue.  You can see this from the compile error message show [above](https://github.com/trilinos/Trilinos/issues/1257#issue-223188403) which showed:

[code]

That `const` on the end shows that this function is getting called on a `const` PL object.

But that function would never get called in correct software.  The proper usage of a PL is for the user to set a non-const PL and the

[2017-04-20 21:16] ibaned commented on #1257
I guess I just picture a different usage where the user sets a non-const PL which then becomes a const PL, and subsequent code tries to grab values, but if they are not set by the user then it just returns the default without setting it. Having a separate validation pass is becoming harder in use cases when the list of valid parameters in one sublist depends on the contents of an earlier parameter

[2017-04-20 21:55] krcb commented on #1208
I have turned @jjellio's test of STEQR above into a standalone program and built on ride with gcc. After a bug fix to make sure that out of range memory wasn't being accessed, I built with several different combinations of ESSL/OpenBLAS. Both of the following compile lines succeeded (i.e. executing the executable resulted in the test reported passed with sensible output):

`/home/projects/pwr8-rhe

[2017-04-20 22:20] jmgate commented on #1257
Thanks for all the clarification everyone.  Closing&hellip;

[2017-04-20 22:20] #1257 closed

[2017-04-20 23:02] csiefer2 commented on #1103
@ibaned : FYI - This is the issue that is blocking the RPI folks.

[2017-04-20 23:32] ndellingwood commented on #1223
@bathmatt @kyungjoo-kim Fix added to MDRangePolicy and just pulled into Kokkos develop branch
https://github.com/kokkos/kokkos/pull/743
Should make it into the next snapshot into Trilinos.

[2017-04-20 23:34] ndellingwood commented on #1223
@bathmatt @kyungjoo-kim The fix addresses the narrowing warnings in Intrepid2 that made use of the MDRangePolicy

[2017-04-20 23:56] ibaned commented on #1103
Interesting, because we've been considering removing Dirichlet rows/columns from the system in Albany. It sounds like that would make life much easier for MueLu. Unfortunately, its a non-trivial effort so not sure which of them will get done first.

[2017-04-21 16:09] mhoemmen commented on #1258
I started working on this with @rppawlo yesterday.  I'm able to replicate a strange issue in Tpetra itself, and I need a little time to debug it.  If you need to revert, just let me know.

[2017-04-21 16:10] mhoemmen commented on #1258
@bartlettroscoe There's also a quick fix I can make without losing the value of the commit.  Would you like to me to try that?

[2017-04-21 16:13] bartlettroscoe commented on #1258
@mhoemmen, if that does not take too much time, then that would be great.   Since the commits were rebased instead of merged in, it would be a little harder to revert them all one-at-a-time.

NOTE: the remote pull/test/push process always creates an explicit merge commit for all of the commits you are pushing so it makes them easy to back out if needed.

[2017-04-21 17:04] mhoemmen commented on #1258
@bartlettroscoe Thanks!  I'll implement the quick fix.  The change in question was the result of a team room session with @crtrott and @vbrunini so it was a little more hasty than my usual process.  I conflated some useful harmless things with something that _looked_ harmless but wasn't.  Ah well ;-)

[2017-04-21 17:44] mhoemmen commented on #1258
I pushed a quick fix.  It restores the original behavior of Tpetra::MultiVector::dot, without removing the good stuff @crtrott et al. helped me add.  I'll work on figuring this out, since the optimization improved performance by about a quarter on GPUs (by avoiding >=1 device View allocation per dot product call).

[2017-04-21 17:44] #1258 closed

[2017-04-21 18:50] bartlettroscoe commented on #1257
Whether validation sets defaults or not is not the primary issue.  The primary issue is that if some algorithmic or solver object picks some value for PL parameter (because the user did not specify it), then that object should set that chosen value into the PL so that the user can see what that value is after the object is finished running.  That way, the user can see the value that got used and i

[2017-04-21 18:54] ibaned commented on #1257
I guess the argument for informing the user makes sense.

I don't yet see anything wrong in Trilinos, but I guess what this really means is we should make sure PLs are passed around non-const the vast majority of the time. I'll see if I can do that in the applications I'm concerned with.

[2017-04-21 19:02] bartlettroscoe commented on #1257
I bet if we look, we will find many examples in Trilinos where a const PL is accepted and the values for missing PL params are never reported back to the user.

[2017-04-21 21:05] mhoemmen commented on #1258
@bartlettroscoe Does Thyra implement randomize on vectors itself?  It looks like Thyra's Tpetra wrappers are not calling Tpetra::MultiVector::randomize at all.  Nothing wrong with that in itself, but I'm curious whether it's related to this issue.

[2017-04-21 21:31] gslota commented on #1209
Sorry for the delay, @kddevin.

I am currently finishing up and testing a fix. Hopefully, I will be pushing updates to the PuLP library today or this weekend. I ran into some issues getting Trilinos up and running on my new system, which delayed me testing the PuLP fixes until now.

[2017-04-21 21:47] krcb commented on #1208
I've now built Teuchos just using OpenBLAS and gcc. I then modified the standalone test program to use the Teuchos LAPACK interface. The compile line is:

`/home/projects/pwr8-rhel73-lsf/gcc/5.4.0/bin/gcc -I/ascldap/users/kbeckwi/Trilinos/packages/teuchos/numerics/src -I/ascldap/users/kbeckwi/Trilinos/packages/teuchos/comm/src -I/ascldap/users/kbeckwi/Trilinos/packages/teuchos/parameterlist/src -I

[2017-04-22 00:03] krcb commented on #1208
I'm now able to reproduce this issue independent of Teuchos. If I define the interface into LAPACK as follows (this matches the pattern used in Teuchos):

[code]

and then call into this as:

[code]

then this reproduces the failure above.  To gain some more insight, I removed the call into LAPACK and examine what happened to the char when we take a reference to it:

[code]

The output from this i

[2017-04-22 16:01] krcb commented on #1255
The Amesos2 Umfpack interface was tested with UMFPACK V5.7.6 (May 4, 2016)

[2017-04-22 16:12] krcb commented on #1255
There are a set of issues for SuperLU version support, e.g. #379, #411, #563 that could be reviewed as part of this and from that we could determine which version(s) of SuperLU will be supported (taking into account customer requirements, etc.).

[2017-04-22 16:16] krcb commented on #1255
SuperLU-Dist: again, there's a question of which version, 4 or 5?

[2017-04-22 17:25] ibaned commented on #1255
Unlike SuperLU, SuperLU-Dist version 5 seems to be compatible with the latest Trilinos, so I recommend you use that.

[2017-04-22 19:51] lxmota opened #1260 "Compile error in Teuchos_YamlParser.cpp"
When trying to compile with yaml-cpp enabled, I get the following compile error:

/home/amota/LCM/Trilinos/packages/teuchos/parameterlist/src/Teuchos_YamlParser.cpp: In static member function âstatic T Teuchos::QuotedAs<T>::eval(const YAML::Node&)â:
/home/amota/LCM/Trilinos/packages/teuchos/parameterlist/src/Teuchos_YamlParser.cpp:79:46: error: âconst class YAML::Nodeâ has no member named

[2017-04-22 20:12] ibaned commented on #1260
So this line of code was added in my PR #1244. Its possible that it doesn't work for older `yaml-cpp` versions, as I was using the latest version from their GitHub repository. Luckily, this line of code just needs to throw any exception, so maybe I'll change it to use a plain old `std::runtime_error`.

[2017-04-22 20:18] ibaned commented on #1260
@lxmota I've pushed the proposed fix. Please let me know if this fixes your compilation.

[2017-04-22 20:49] lxmota commented on #1260
@ibaned Yes, that fixed it. Thanks.

[2017-04-22 20:49] #1260 closed

[2017-04-24 02:10] mhoemmen commented on #1208
@krcb wrote:

The Fortran reference implementation of the BLAS and LAPACK only ever reads the first character of any of those strings (you can see it in the code), so it's a little bit unusual for OpenBLAS to expect a zero-terminated character array.

Teuchos::BLAS and Teuchos::LAPACK actually evolved from what was called Tpetra at the time (2003).  You can see this in, e.g., the comments at the t

[2017-04-24 11:21] xamhn opened #1261 "EpetraExt::RowMatrix_Transpose returns non-filled matrix"
When computing the explicit transpose of an Epetra_RowMatrix with EpetraExt::RowMatrix_Transpose the returned matrix is *not filled*, i.e. filled()=false, in case that 2 or more MPI processes are used. In my particular case the matrix is rectangular.
Problem occurred with Release 12.10. In release 12.8 the returned matrix is filled.

[2017-04-24 15:10] srajama1 commented on #1255
SuperLU-Dist : Let us use 5.

SuperLU - There is PR for 5 waiting to be integrated and haven't been tested. May be we can merge it and add 5 there as well.

UMFPACK 5.7.6 is good.

[2017-04-24 15:28] bartlettroscoe commented on #1258
From @mhoemmen:

There is no randomize() virtual function on any of the main Thyra interfaces.  Therefore, I believe that this Thyra testing code uses an RTOp for Randomize and that is indeed what this looks like in the implementation (see line 125):

* https://trilinos.org/docs/dev/packages/thyra/doc/html/Thyra__VectorSpaceTester__def_8hpp_source.html#l00074

The randomize() function that uses a

[2017-04-24 18:32] gslota commented on #1209
@kddevin @mmwolf

I've implemented the bug fixes for XtraPuLP: https://github.com/HPCGraphAnalysis/PuLP

There were a few minor issues and one major one, that all would have impacted partition output for small test cases. Let me know if you're still having issues with this most recent version.

[2017-04-24 20:40] bathmatt opened #1262 "Tpetra with kokkos::complex"
I tried to enable Kokkos::complex<double> in tpetra and I'm getting std::complex.  how does one enable kokkos??

According to nm I'm only getting std ones

dir-src (gcc) 114 $ nm -C
/home/mbetten/installs/install-for-panzer/gcc-DEBUG/lib/libtpetra.a
|grep Vector |grep complex |grep replaceLocalValue |grep -v std

returns nothing and I get errors about missing kokkos::complex versions.

where the g

[2017-04-25 01:20] mhoemmen commented on #1262
@bathmatt Are you using `Scalar=std::complex<double>`?  `Kokkos::complex` is only an internal type that makes Kokkos work.  You're supposed to use `Scalar=std::complex<double>` and let Tpetra take care of the rest.  Hence `impl_scalar_type` etc.

[2017-04-25 06:50] kyungjoo-kim commented on #1177
Hi @bathmatt

I put new interface and tested it. You can find the serical interface "Intrepid2_CellTools_Serial.hpp".
There are other necessary serial interface.

[code]

[2017-04-25 14:21] bathmatt commented on #1262
I have my own matrix type since I'm dealing with dense object.  It is
Kokkos::Complex not std.  I'd like to use the export routines of tpetra and
not have to write my own.  I don't really want to mix complex types.

Can I say Kokkos:complex a = std::complex<double>(1,2)??

is the math all automatic?

So, does getDualView return Kokkos::DualView<Kokkos::Complex<double>*> then
for a vector?

On Mon,

[2017-04-25 14:40] bathmatt commented on #1262
Yeah, that doesn't work because getDualView returns a view to a view of
std::complex, not kokkos::complex.

[code]
errors out as
[code]

On Tue, Apr 25, 2017 at 8:20 AM, Matt Bettencourt <dr.bettencourt@gmail.com>
wrote:

[2017-04-25 15:04] srajama1 commented on #1262
@bathmatt : Why not use multivector ?

[2017-04-25 15:06] bathmatt commented on #1262
How would that make things different?  First, it is the conversion from std::complex to kokkos::complex?  Are you suggesting I use a MV (real, imag)?

[2017-04-25 15:14] srajama1 commented on #1262
Yeah, splitting complex to (real, imag) is one option, but that will defeat the purpose of templated stack. I wasn't recommending that.

At least the way I understand the design you shouldn't use Kokkos::complex. Using MV with std::complex is one way.

[2017-04-25 15:21] bathmatt commented on #1262
I'm not sure you understand the problem
I have myfunctor(Kokkos::View<Kokkos::complex<..>> my_data);
it has to be a kokkos complex not a std::complex because I do things to it in my functor on device

However, I want to use the tpetra import export routines.  Therefore, I want a tpetra vector or mv, either is fine.  However, tpetra only supports std::complex, not kokkos::complex as far as I can te

[2017-04-25 15:28] srajama1 commented on #1262
My bad, I didn't understand what you were facing. Your hack could happen in a getLocalVector() so you and other users don't see it.

[2017-04-25 15:31] bathmatt commented on #1262
Can we fix the logic in tpetra cmake so we can use Kokkos::Complex??  It is templated code so that should be doable,

In the mean time, will my hack fix work?  @crtrott @mhoemmen ideas?  Can I just do

[code]
and work around this?

[2017-04-25 15:42] kyungjoo-kim commented on #1151
@bathmatt

Could you give me your psedo code that causes this performance degrade  ?

What I see now from the code are :
- setSubcellParametrization is called only once to populate nodal information for each cell type
- it stores the such data on the device space
- when I first refactor the code, I thought this data is more used in device kernel
- this may be a design mistake if the data is mostly

[2017-04-25 18:11] ibaned opened #1263 "Sacado: change dependency to Teuchos sub-packages"
Please refer to TriBITSPub/TriBITS#188 for the details on why it is bad to list just `Teuchos` as a dependency of `Sacado`. This issue is to request that Sacado developers change their dependencies to list teuchos sub-packages like `TeuchosCore`, and change the `#ifdef`s in the code to use `HAVE_SACADO_TEUCHOSCORE` instead of `HAVE_SACADO_TEUCHOS`, for example.

@trilinos/sacado

[2017-04-25 18:29] ibaned opened #1264 "MiniTensor: issues blocking efficient GPU usage"
@lxmota
This issue is here to collect all the different problems there would be with using MiniTensor in a runtime and memory efficient way on GPUs for the Alexa application. It is not urgent that these get solved, since we have an alternative approach besides MiniTensor that we can use for a while. Feel free to use this as the basis for improvements to MiniTensor at your discretion. If most of th

[2017-04-25 18:49] bathmatt opened #1265 "Tpetra vector getDualView.h_view returns a 2D array"
Shouldn't the vector return a 1D view and not a 1D view?  Can we remove one of the dimensions?  Seems like a bug.

[2017-04-25 19:15] bathmatt commented on #1262
So, it looks like d_view does return kokkos::complex<>**  I think, (it is very hard to tell).  So, that I've opened #1265 to address the bug in returning a 2d view for a 1D structure.

Can subview reduce rank of a view?

[2017-04-25 20:28] bathmatt commented on #1262
OK, looks like I've got a workaround, keeping issue #1265 open because I believe it is a bug.

[2017-04-25 20:28] #1262 closed

[2017-04-25 22:05] lxmota commented on #1264
I'm open to work and fix all these issues.

My only concern is that we should keep compatibility with existing code. MiniTensor is used in both research and production codes.

[2017-04-25 22:28] krcb commented on #1208
@bartlettroscoe and I discussed this, with a follow up meeting between @jwillenbring and myself in order to determine how to proceed. As a next step, we will determine whether using a Teuchos::BLAS type interface to LAPACK will resolve the corruption observed in passing a char into the Teuchos::LAPACK::STEQR interface, through the use of a lightweight prototype. I anticipate being able to report b

[2017-04-25 23:06] bartlettroscoe commented on #1263
Looking at:

[code]

and

[code]

and:

[code]

and:

[code]

you need to change sacado/Dependencies.cmake to be:

[code]

and then replace the logic based on `${PACKAGE_NAME}_ENABLE_Teuchos` with logic based on  `${PACKAGE_NAME}_ENABLE_TeuchosCore` , `${PACKAGE_NAME}_ENABLE_TeuchosNumerics` and/or `${PACKAGE_NAME}_ENABLE_TeuchosComm` in the CMakeLists.txt files.

This should not be a lot of work

[2017-04-25 23:20] etphipp commented on #1263
*sigh*

OK.  Is there some reason this is coming up?

[2017-04-25 23:31] bartlettroscoe commented on #1263
See the first comment in TriBITSPub/TriBITS#188.

The way that Sacado is delcaring its dependencies on Teuchos is not really correct based on the rules defined at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-dependency-handling-behaviors

Either that or MiniTensor needs to just give up and declare a required dependency on Teuchos (which is not the direction we should be going in

[2017-04-25 23:52] william76 opened #1266 "Kokkos: Comparing signed to unsigned values in KokkosExp_MDRangePolicy.hpp"
KokkosExp_MDRangePolicy.hpp was changed that added some new warnings to the build that was caught in the Werror build:

[code]

Offending code lines are: [239](https://github.com/trilinos/Trilinos/blob/develop/packages/kokkos/core/src/KokkosExp_MDRangePolicy.hpp#L239) and [245](https://github.com/trilinos/Trilinos/blob/develop/packages/kokkos/core/src/KokkosExp_MDRangePolicy.hpp#L245).

There's no

[2017-04-26 05:04] tjfulle commented on #1253
Just opened a PR to close this issue.  Running `sems-checkin-script.sh` now.

[2017-04-26 13:48] ibaned commented on #1264
Sounds good, thank you. If there is a particular item that looks like it cannot be resolved due to production code requirements, please indicate that in these comments so we get an idea of the difficulty level of each item.

[2017-04-26 13:51] bartlettroscoe opened #1268 "Teuchos YAML tests failing in Nightly build Linux-GCC-4.7.2-RELEASE_DEV_Teuchos_YAML on dorksaber"
**Description:**

The Teuchos YAML tests TeuchosParameterList_YamlParser_test and TeuchosComm_ParameterList_UnitTest_Parallel have been failing for many days on for the build shown in the below email.  The failed unit tests showed:

[code]

Might be good if the failure of `Teuchos::haveSameValuesUnordered(*xmlList, *yamlList, true)` could  be a little more verbose so we can see what part did not m

[2017-04-26 13:57] bartlettroscoe commented on #1268
I created this issue mostly because I am getting spammed every day with these CDash failures.  We need to make recurring CDash emails that go unresolved for days (or weeks, months, and years) go away.

Once we upgrade to GCC 4.9.3 for the standard CI build (see #1002), then we can add yaml-cpp to the set of PT TPLs (see #1167) and then we can finally properly protect the Teuchos PL/YAML reader/wri

[2017-04-26 14:06] ibaned commented on #1268
1. These tests are passing on my workstation which uses the latest `yaml-cpp` from GitHub, so whatever it is is likely specific to an old `yaml-cpp` version

2. Looking at the output of `TeuchosParameterList_YamlParser_test`, it looks like `yaml-cpp` at some point sorted the parameters, probably alphabetically:
[code]
I'll try changing the input to be already sorted. This may be the same fundament

[2017-04-26 14:08] ibaned commented on #1268
nevermind about `Ordered`, I'm guessing `Unordered` means it will still succeed if the order gets changed, so the `YAML_ConvertFromXML_UnitTest` might really have lost a parameter somehow.

[2017-04-26 14:18] ibaned commented on #1268
I've pushed f0ad0e5 which will hopefully fix one of these tests.

[2017-04-26 14:42] aprokop opened #1269 "MueLu block size warning"
Per user:

I have an application that uses Tpetra + MueLu + Belos to solve linear
systems obtained via finite element assembly. To create the MueLu
preconditioner, I am using the function:
MueLu::CreateTpetraPreconditioner:

https://github.com/trilinos/Trilinos/blob/master/packages/muelu/adapters/tpetra/MueLu_CreateTpetraPreconditioner.hpp#L49

I am passing this function the required Tpetra::Opera

[2017-04-26 14:43] aprokop commented on #1269
This is a minor warning, and it does not pose a problem in this case. It simply indicates that after your original operator was converted to Xpetra object (Xpetra matrix, specifically) that matrix was still considered scalar on the input. You did the right thing by indicating the number of equations, and this warning means that from now on we are going to treat a scalar matrix as a block matrix.

[2017-04-26 14:43] aprokop commented on #1269
Per @tawiesn:

we certainly could do a better job or make the warning (or printout) more verbose.

I think we can distinguish the following scenarios:

1) The user creates the Xpetra::Matrix by hand and also sets the block size. Then, the warning would make sense if the user (accidently) overwrites the block size by a leftover "number of equations". That is, there should probably be a warning if b

[2017-04-26 14:51] aprokop commented on #1269
I feel like the problem would go away if we knew in `CreateXpetraPreconditioner` whether it was called through `Create{E,T}petraPreconditioner` or not. If it was, we don't need a warning. If it was not, this means somebody explicitly constructed an `Xpetra` matrix.

However, this seems to be a subset of block size 1 to another block size, so we could ignore that. Are there situations where it is a

[2017-04-26 15:23] bartlettroscoe commented on #1263
To state this this in a more positive way, Sacado should narrow the list dependencies on Teuchos as much as it can, like it is already doing for Kokkos.  If Sacado is depending on all of Teuchos even if it only uses a subset of its subpackages, then why does Sacado not just depend on all of Kokkos instead of declaring a dependency on only the subpackages KokkosCore and KokkosContainers?  Why is Sa

[2017-04-26 15:37] ibaned commented on #1268
I suspect jbeder/yaml-cpp#386 and its resolution in jbeder/yaml-cpp@f0b15cd are what changed the behavior from auto-sorting to preserving the original order. Maintaining order is understandably important to lots of `yaml-cpp` users, as one can see in jbeder/yaml-cpp#169. The new behavior is in the master branch, but no formal release of `yaml-cpp` has been done in a long time (> 1 year).

[2017-04-26 15:40] ibaned commented on #1268
Anyone interested please join me in requesting a new release at jbeder/yaml-cpp#415

[2017-04-26 15:42] bathmatt commented on #1151
It is from this function that they are called.  We get a normal for face on a sideset, looping over the faces.

      Intrepid2::CellTools<PHX::exec_space>::getPhysicalSideNormals(normal, iv.jac.get_view(), *sideID, *(ir->topology));

File ./adapters-stk/src/Panzer_STK_SurfaceNodeNormals.cpp

[2017-04-26 15:46] ibaned commented on #1268
Okay, it seems the "bug" in the old version is pretty bad. Because the old type was a map that used pointers as keys, the sort order is based on the memory allocation behavior, not anything sane like alphabetical order. @bartlettroscoe is there an API to sort the parameters in a `Teuchos::ParameterList` ? We may have to work around the bad behavior of the currently released version of `yaml-cpp` u

[2017-04-26 15:51] bathmatt commented on #1177
I'll test this, this afternoon.  I'll close it when I make sure it works, but don't expect an issue.
Thanks!!

[2017-04-26 15:54] ibaned commented on #1268
also, I can't reproduce the `TeuchosComm_ParameterList_UnitTest_Parallel` on my workstation even after using `yaml-cpp` version 0.5.3.

[2017-04-26 15:55] tawiesn commented on #1269
@aprokop The problem is: people might try to apply the same solver settings from an xml file to different scalar and blocked problems, forgetting about the "number of equations" parameter.
In fact "number of equations" belongs to the matrix properties and not to the solver settings. People might be glad if they get a warning/reminder that a specific xml file, that they used for a block system shou

[2017-04-26 15:55] bartlettroscoe commented on #1268
I don't think so from looking at:

[code]

Nothing about the PL requires anything to be sorted.  In fact, we put a lot of effort into making the PL and the XML reader/writer maintain the original ordering.  That is actually required by the XML standard (and I think should be required by a YAML standard as well).  It turns out that you can actually embed useful info in the ordering of sublists (e.g

[2017-04-26 15:58] ibaned commented on #1268
Yea, I'm all for order preservation. There was a sort of cop-out in jbeder/yaml-cpp#169 because somehow the YAML spec doesn't require this, but everyone who commented seems to want order preservation. By design or by accident, I think the latest master branch of `yaml-cpp` does preserve order, but 0.5.3 does not (in fact, it always reverses the PL in the test, no matter which order I write it in).

[2017-04-26 15:58] bartlettroscoe commented on #1268
Then you will need to contact the owner of the machine dorksaber.srn.sandia.gov to give you an account so that you can reproduce this there, or ask them (or the @trilinos/framework team) to relegate this to a "Specialized" build, or disable these tests in that build so that this email spam goes away.  One way or another, these failures need to go away.

[2017-04-26 16:14] ibaned commented on #1266
Hi @william76 , Kokkos issues should be opened on the [Kokkos repository](https://github.com/kokkos/kokkos/issues/749).

I've gone ahead and moved this issue for you to kokkos/kokkos#749.

I'll close this issue, and we can continue in the one in the Kokkos repository.

[2017-04-26 16:14] #1266 closed

[2017-04-26 16:18] jhux2 commented on #1268
@csiefer2 @brian-kelley

[2017-04-26 16:33] ndsist commented on #120
Not sure it's strictly related with this issue, but when I run

`wget -nv "https://trilinos.org/oldsite/download/files/trilinos-11.12.1-Source.tar.bz2"`

I get

`ERROR: cannot verify trilinos.org's certificate, issued by ‘CN=USERTrust RSA Domain Validation Secure Server CA,O=The USERTRUST Network,L=Jersey City,ST=New Jersey,C=US’:
  Unable to locally verify the issuer's authority.
To connect to tr

[2017-04-26 16:35] jhux2 opened #1270 "Framework: links to subprojects on dashboard are incorrect"
@trilinos/framework

At the top of the MueLu testing [page](http://testing.sandia.gov/cdash/index.php?project=Trilinos&subproject=MueLu) are links to Subproject Dependencies.  Those links have the form http://testing.sandia.gov/cdash/index.php?subproject=<some_package>&, but clicking on any of those links redirects to http://testing.sandia.gov/cdash/viewProjects.php.

I believe the correct form of

[2017-04-26 18:31] aprokop commented on #1269
@tawiesn But then you essentially are saying that we should always produce a warning as that is the most clear indicator! And that Runtime0/Runtime1 won't cut it because it's not as visible.

[2017-04-26 18:55] tawiesn commented on #1269
All what i'm trying to say: there might be cases where this warning can save you a lot of time avoiding unnecessary mistakes. And there are cases where people get confused by the warning.

We probably could do the following:
1) if the user is using CreateXpetraPreconditioner and sets "number of equations" (i.e. it is in the ParameterList explicitly set) then throw a warning. You should not use bot

[2017-04-26 19:02] krcb commented on #1208
I was able to get the test proposed above to pass by implementing the following code inside the Teuchos::LAPACK interface:

[code]

This is then called from the test as:

[code]

As a next step, I'm going to verify that this approach fixes at least one test in a downstream package.

[2017-04-26 19:07] brian-kelley commented on #1268
haveSameValuesUnordered() does an unordered, recursive comparison of param lists. It just checks name, type, and value of each parameter. I ran the unit tests when I approved the PR last week and they passed then (on my machine with up to date yaml). As far as I know yaml and yaml-cpp never made any promise to maintain any particular ordering, and the Teuchos functions and tests were written with

[2017-04-26 19:54] krcb commented on #1208
I built Belos against the modified LAPACK STEQR interface and then ran:

[code]

i.e. the test reported on previously. This test reported passed with the output:

[code]

This appears to be reasonable. The next step is to scope out the level of effort required to propagate this type of change through the API.

[2017-04-26 20:17] ibaned commented on #1268
Well this is fairly strange. I built on `dorksaber`, trying to use mostly the same configuration as CDash (including the `yaml-cpp` installation), and neither test fails in that build. I'll focus on fixing the one and only failure I can reproduce so far.

[2017-04-26 20:26] bathmatt commented on #1177
So, here is my replacement code that uses it.

[code]

but I'm getting

[code]

[2017-04-26 20:26] ibaned commented on #1268
Okay, second try at a fix for one of these tests. Replaced the exact text comparison with an `Unordered` `ParameterList` comparison. That should be resistant to these occasional reorderings. Lets see what things look like in the next CI iteration.

[2017-04-26 20:28] bathmatt commented on #1177
Oh, and btw,
  typedef Intrepid2::Impl::Basis_HGRAD_HEX_C1_FEM  NodeBasis;

[2017-04-26 20:36] ibaned commented on #1268
If one looks at the pass/fail graph here:
http://testing.sandia.gov/cdash/testDetails.php?test=38287218&build=2859609
The parallel test alternates success and failure every other day. There is some non-determinism at work here.

I actually just did get it to fail once by doing `ctest -j 40`, but I haven't gotten it to happen again....

[2017-04-26 20:38] brian-kelley commented on #1268
@ibaned I think you're right about the "order" of YAML map entries being based on memory address or something else that is nondeterministic. I couldn't reproduce the failure on my machine either, even though the relevant parts of the build environment (serial build, yaml-cpp 0.5.3) are identical to dorksaber.

Edit: I also changed TwoDArrayConvert to use "haveSameValuesUnordered()" instead of comp

[2017-04-26 20:39] ibaned commented on #1268
I think we may have independently arrived at the same fix for that test. I pushed mine to develop.

[2017-04-26 20:46] bathmatt commented on #1177
Awesomely done. Thanks!!!

[2017-04-26 20:46] #1177 closed

[2017-04-26 20:52] ibaned commented on #1268
I was able to trigger another non-deterministic failure and capture the output:
[code]

It looks like under certain conditions we lose a parameter. I suspect maybe what happens is we run out of memory, and all the `try`/`catch` stuff we have to do with `yaml-cpp` is catching a `std::bad_alloc`. Other than that its a bug.

[2017-04-26 21:27] brian-kelley commented on #1268
I think we should just avoid all file writes in the YAML unit tests. We can easily do this since we can read/write YAML lists from strings and stringstreams.

[2017-04-26 21:29] bartlettroscoe commented on #1268
Each test needs to write and read files with unique names.  Otherwise, move one of the unit tests into a subdir and that will fix this as well.

[2017-04-26 21:37] ibaned commented on #1268
As long as avoiding file I/O doesn't defeat the purpose of this test, I'd prefer switching to stringstreams. @brian-kelley would you be okay making this change ?

[2017-04-26 21:48] bartlettroscoe commented on #1268
Well you need at least one test that reads a YAML file and at least one test that writes a YAML file and makes sure the behavior is correct.  I found that on some systems, you can't have the same test write a file and then read it back in again right away.  On some systems, the write is not completed before the read.  Therefore, you need one test that reads from a version controled file and makes

[2017-04-26 21:56] ibaned commented on #1268
How about we do real file I/O in one the `teuchos/parameterlist/` tests, and switch the `teuchos/comm/ParameterList` (i.e. parallel) tests to stringstreams ? The parallel tests are the only ones that are called multiple times by CTest (one rank and N ranks).

[2017-04-26 22:57] bartlettroscoe commented on #1268
I think you need at least one test that tests the function Teuchos::updateParametersFromYamlFileAndBroadcast() in a multi-process MPI job.  Writing an XML file should only occur on the root processor you don't need to test that in parallel (unless the code might try to write the same file from multiple processes which would be very bad).

[2017-04-26 22:57] brian-kelley commented on #1268
I've changed the parallel tests to stringstreams, and I'm getting an error where some double values (value 0) are read back as int (after XML -> YAML conversion). I know this was working before so it's probably a mistake on my end - I'll keep working on this tonight.

@bartlettroscoe It seems like there are a lot of reasons to enforce a consistent order to yaml param lists. I could actually do thi

[2017-04-26 23:01] brian-kelley commented on #1268
I agree, updateParametersFromYamlFileAndBroadcast() isn't tested anywhere currently, but testing it should be straightforward. How about I do that in teuchos/comm/test/ParameterList/ParameterList_yaml_Parallel.cpp using the existing yaml testing files.

[2017-04-26 23:03] kddevin commented on #183
@srajama1 , I think this issue is related to what @rrdrake reported.

[2017-04-26 23:05] srajama1 commented on #183
Yes, same thing.

[2017-04-26 23:06] krcb commented on #1208
@jwillenbring and I are discussing scope of this effort.

[2017-04-27 00:57] ibaned commented on #1268
I think as part of #1181 we removed the existing formatting code to allow users more control over the formatting. That does, however, leave the default behavior such that doubles which are whole numbers get interpreted as ints by YAML.

I currently enforce correct conversion by passing `<< std::scientific` to the stream before writing YAML, I recommend you do this in the short term (and also do `s

[2017-04-27 04:29] raovgarimella opened #1272 "Trilinos config problem in FiniteValue.cmake and GCC 5.4.0"
Trilinos 12.6.1 and 12.10.1 configuration fails with gcc 5.4.0 and cmake 3.5.1 because of an issue with trilinos/cmake/tribits/core/config_tests/FiniteValue.cmake. The complaint is that "```isnan  was not declared in this scope```".

Upon investigating further, it seems that FiniteValue.cmake tries to test for existence of '```isnan```' within the global namespace and the ```std::``` namespace but

[2017-04-27 17:12] CamelliaDPG opened #1274 "KLU2 is considerably slower than KLU on small matrices"
We are seeing as much as a 20x performance difference between KLU and KLU2 (using Epetra objects with the former, Tpetra with the latter) on a 1448x1448 matrix solve with 15716 nonzeros.  If we use KLU2 with Epetra matrices and vectors, the slowdown is 5x instead.  Have sent details (including a driver and matrix file) to @ndellingwood.  @trilinos/amesos2

[2017-04-27 17:43] srajama1 commented on #1274
Thanks for sending the files. Is this serial run ?

[2017-04-27 18:43] CamelliaDPG commented on #1274
Yes, this is a serial run.  In the example driver I used for the timings, I'm just calling Amesos2::Solver::solve() and Amesos_Klu::Solve(), with no explicit calls to symbolicFactorization() or numericFactorization().  solve() is called repeatedly on the same Solver object (with unchanged matrix), so I presume that factorization done within the first call to solve() will be reused.

The case in wh

[2017-04-27 18:51] maherou commented on #1208
Kris,

Would users of STEQR():

Teuchos::LAPACK<int,ScalarType> lapack;
lapack.STEQR()

be required to change their code in order to adapt to the change?  It is not clear to me.  We cannot change the API in a way that forces source changes for users of Teuchos::LAPACK.

[2017-04-27 19:00] srajama1 commented on #1274
In principle just calling Amesos2::Solver::solve() is a convenience for naive users. I would recommend changing it to call all three calls separately. Then we can optimize for the cases where symbolic structure of the matrix changes, numeric values have changed, and vector entries have changed.

That said this may not be the issue in this case as you are doing it for one solve.

@jhux2

[2017-04-27 19:10] krcb commented on #1208
@bartlettroscoe and I discussed an approach where we would implement a new Teuchos::LAPACK interface that implemented the API proposed here, while keeping the existing API in place for backwards compatibility (possibly with a deprecated warning). Users of Teuchos::LAPACK would then have a choice of which API to make use of; Tech-X would also refactor usage of Teuchos::LAPACK in Trillinos to use th

[2017-04-27 19:21] jhux2 commented on #1274
@CamelliaDPG Is the AMG preconditioner being completely rebuilt each time? I agree that reuse is ultimately what the application should strive for.  But right now, depending on how @CamelliaDPG responds,  I'd say the current usage is a fair comparison between ML and MueLu.

@srajama1 In MueLu, the Amesos2 solver is constructed first during multigrid setup with this call
[code]
where ```type_``` is

[2017-04-27 19:42] #1242 closed

[2017-04-27 19:48] srajama1 commented on #1274
No, create just create the solver. Think of it as initialization. When solve is called later it sees numeric factorization is not done, so it does it.

From my understanding, this is a fair comparison. There is something odd in Epetra vs Tpetra. They both do the exact same things like construct importers and import a matrix. The other portion is KLU vs KLU2. They are almost identical in functional

[2017-04-27 19:49] CamelliaDPG commented on #1274
@jhux2, in the refactor that instigated the issue, the AMG preconditioner is built once and reused.  In the sample driver, I'm using Amesos/Amesos2 directly (MueLu/ML are not involved).  There, for Amesos I use the constructor Amesos_Klu(EpetraLinearProblem) and for Amesos2 I use Amesos2::create().

[2017-04-27 20:06] mhoemmen opened #1275 "MPI scaling issues in solvers (triaged, long term, epic)"
@trilinos/tpetra

Issue reported by @spdomin and currently tracked elsewhere.

Stub summary: Some MPI implementations consumes buffer space on a process proportional to the number of processes with which that process exchanges point-to-point messages.  Buffers grow dynamically, but the MPI implementation annoyingly never returns that memory.  This puts a burden on applications to prefer collective

[2017-04-27 20:08] mhoemmen commented on #1265
Vector inherits from MultiVector, so if you want the method to have the same name, it has to return an object of the same type.

[2017-04-27 20:08] #1265 closed

[2017-04-27 20:10] mhoemmen commented on #1262
@bathmatt wrote:

Nope.  `getDualView` returns `DualView<impl_scalar_type**, ...>`.  `impl_scalar_type` is `Kokkos::complex<T>` when `scalar_type` is `std::complex<T>`.

[2017-04-27 20:15] mhoemmen commented on #1208
Couldn't we just overload `Teuchos::LAPACK` functions that take strings, to take the existing `Teuchos::E*` enums used in `Teuchos::BLAS` instead?  That would neither break backwards compatibility, nor create new enums?  The implementation of the existing Teuchos enums already uses the strategy suggested by @krcb.

[2017-04-27 20:16] mhoemmen commented on #1272
@trilinos/framework

[2017-04-27 20:21] mhoemmen commented on #1266
@william76 btw, we can fix this in Trilinos temporarily if you can't wait until the next integration of Kokkos into Trilinos.

[2017-04-27 20:23] ibaned commented on #1266
@mhoemmen :  @ndellingwood did that yesterday in 6d781fb

[2017-04-27 20:38] bartlettroscoe commented on #1208
If the same emums cover all of the LAPACK use cases, I agree.  If it does not, then add the new ones that are needed but don't duplicate the enums that already exist.

Given major superiority of enums over strings in static checking, the existing Teuchos::LAPACK interfaces using the raw char strings should be deprecated.

[2017-04-27 20:55] jmgate opened #1276 "Panzer: Remove Unnecessary setFieldData() Calls"
Calls to `setFieldData()` in `postRegistrationSetup()` are no longer needed if the fields have been created with the `MDField` constructor.  We should remove these unnecessary calls when we have some time to spare. @trilinos/panzer

[2017-04-27 21:11] aprokop opened #1277 "Check for Trilinos_ENABLE_OpenMP if Kokkos/Tpetra need OpenMP"
Trilinos should complain during configure if `Kokkos_ENABLE_OpenMP=ON` or `Tpetra_INST_OPENMP=ON` but `Trilinos_ENABLE_OpenMP` is off.

Otherwise, it fails during compilation of Kokkos along the lines of your compiles does not support OpenMP or something like that with no indication of how to fix it.

[2017-04-27 21:28] maherou commented on #1208
Talking with @nmhamster, it seems that we could bypass this issue if we can get the OpenBLAS implementation to restrict its string check to a single character.  This would be in line with  other BLAS versions and the NETLIB reference implementation.  The standard itself asks for a single character.

Before doing anything ourselves, it would be worth finding out if a change to OpenBLAS is possible.

[2017-04-27 21:31] bartlettroscoe commented on #1272
Okay, this does look like the right change to make for this configure-time test.  However, does fixing this configure-time test also fix the build for this compiler on the platform?  @raovgarimella, can you confirm that it does?  Also, I think you can fix the configure by setting `-D FINITE_VALUE_HAVE_GLOBAL_ISNAN=[ON|OFF]` etc. to bypass the configure-time check as needed for that compiler so tha

[2017-04-28 01:48] mhoemmen commented on #1266
@ibaned cool :D

[2017-04-28 02:16] mhoemmen commented on #1208
@bartlettroscoe

LAPACK would need a few more enums for things like _GESVD's JOBU and JOBVT arguments:

http://www.netlib.org/lapack/explore-html/d8/d2d/dgesvd_8f.html

I'm personally indifferent to the solution path, as long as there is some working BLAS and LAPACK for IBM POWER + GCC.

[2017-04-28 11:57] bartlettroscoe commented on #1208
But the current Teuchos::LAPACK that takes raw chars is just a bad interface.  It has zero compile-time checking for those arguments.  This is not a complex refactoring at all.  I suspect some simple sed-like scripts could do the refactoring automatically for 95% of the cases in Trilinos.  This should not take more than a day of work and it is 100% guaranteed to solve this problem now and forever

[2017-04-28 12:00] bartlettroscoe commented on #1272
@mhoemmen

Yes, but that does not negate the need for a configure-time check since this needs to check for the C99 functions in the global namepsace as well.

[2017-04-28 15:59] jmgate commented on #490
At this point all warnings have been dealt with except for a few problematic occurrences of the deprecated `addDependentField` warnings.  Initial attempts to switch those fields to `const ScalarT`s, or to create a field with a `const ScalarT` out of the non-`const` one, have been fruitless.

[2017-04-28 16:09] mhoemmen commented on #1275
An e-mail exchange and phone conversation this past week suggests that the cause could be a Map with badly scattered and strided GIDs on some processes, that makes Tpetra::Directory do a lot of point-to-point communication to resolve ownership of GIDs.  It looks like collectives (at least `MPI_Alltoall`) don't have this buffer growth issue, but I'm waiting on Anthony to find out if one-sided MPI c

[2017-04-28 17:27] tawiesn opened #1278 "Supported CUDA version for Trilinos"
When porting Trilinos kernels to Kokkos what CUDA versions shall be supported (specifically Cuda 7.5 or Cuda 8)?
For example, support for lambdas in Cuda 7.5 seems extremely limited. (see, e.g., https://github.com/kokkos/kokkos/issues/763)
Is there a Trilinos-wide decision?
@trilinos/tpetra @trilinos/muelu @trilinos/xpetra @jhux2 @mhoemmen

[2017-04-28 17:34] bathmatt commented on #490
pushed fix for clang
[code]

[2017-04-28 17:38] jmgate commented on #490
So that `auto` was from fe8070f on April 4th, not from the latest commit on this story.  Any idea why `auto` would confuse clang in such a way?

[2017-04-28 17:41] rppawlo commented on #1272
It's fine to make that change. In fact I think we could remove the check altogether and just use the std::isnan implementation. The particular check was for an old platform that should not be around anymore.

If you want the history - this was actually an issue back in the 2006 time frame. One of the main Xyce test platforms was an old OpenBSD machine with bad compilers. std::isnan from <cmath> an

[2017-04-28 17:42] jmgate commented on #490
I've been trying to switch out things like

[code]

with

[code]

so the code is easier to read.  Should I not be using `auto` if clang doesn't fully support it?

[2017-04-28 17:44] bathmatt commented on #490
I'm not sure why auto failed.  I switched only 2 of them, the rest were fine.

Lets avoid auto for parameter lists for now..  It is mac that has this issue

[2017-04-28 18:01] bartlettroscoe commented on #1272
@rppawlo,

Actually, Trilinos still needs to support GCC 4.4.7 for the non-C++11 software in Trilinos which is still used by Xyce.  I guess if we can get this code to work with GCC 4.4.7 with C++11 disabled and with GCC 4.7.2 with C++11 enabled, then I think we can remove this configure-time check.

@raovgarimella,

Can you confirm if the patch shown above results in a correct build of NOX and a s

[2017-04-28 18:14] bartlettroscoe commented on #1232
Trilinos also needs some explicit policies about support for newer compilers.  Trilinos frequently gets bug reports for problems with Trilinos for newer compilers for which Trilinos lacks automated testing (e.g. https://github.com/trilinos/Trilinos/issues/1272#issuecomment-298066309).  Here are some examples of the language that might exist in such a support policy:

* Trilinos developers will do

[2017-04-28 18:35] ibaned commented on #1232
It would be good if compiler support were aligned with the default compiler used in Linux distributions in which Trilinos is a package.

[2017-04-28 18:55] bartlettroscoe commented on #1232
I think that is a better trigger for when to start trying to test the free compilers like GCC and Clang than just trying to select the newest compiler releases as they come out.  That way, at least we know that these compilers are passing the Linux and Mac OSX distributions own tests.

But we would need to come up with a policy for new compiler versions of commercial (non-free) compilers like Inte

[2017-04-28 19:00] jjellio commented on #1208
OpenBLAS is used outside the context of IBM Power8, whatever changes made need to not break OpenBLAS on x86. Is this really an issue with OpenBLAS? Or is it an issue with GNU GCC/Power8.  If taking the address of a char is the problem, that is not OpenBLAS' problem.

[2017-04-28 19:14] bathmatt opened #1279 "MueLu broken under cuda and maybe others"
make[2]: *** [packages/muelu/src/CMakeFiles/muelu.dir/Utils/ExplicitInstantiation/MueLu_GeneralGeometricPFactory.cpp.o] Error 2

          detected during instantiation of "void MueLu::GeneralGeometricPFactory<Scalar, LocalOrdinal, GlobalOrdinal, Node>::BuildP(MueLu::GeneralGeometricPFactory<Scalar, LocalOrdinal, GlobalOrdinal, Node>::Level &, MueLu::GeneralGeometricPFactory<Scalar, LocalOrdinal,

[2017-04-28 19:16] bathmatt commented on #1279
Looks like it is line 830 of Trilinos/packages/muelu/src/Transfers/GeneralGeometric/MueLu_GeneralGeometricPFactory_def.hpp

[2017-04-28 19:17] tawiesn commented on #1279
Thanks @bathmatt for reporting. @jhux2 is already looking into it. The fix should be trivial.

[2017-04-28 19:19] tawiesn commented on #1279
@jhux2 There are probably more problems (i saw some errors related to mixing up SC and LO (which causes problems for std::complex), as well as mixing up default Node types)

[2017-04-28 19:25] jhux2 commented on #1279
@bathmatt Thanks for the line number, that makes my life easier.  A call is missing a template argument.  I'll merge this into the other fixes I'm working on.

[2017-04-28 19:58] jhux2 commented on #1279
@bathmatt Commit 94df634 should fix this.  Let me know if it does not.

[2017-04-28 20:14] jhux2 commented on #1279
@lucbv is looking at the unit test itself.  The coordinate vectors there should always be of type ```double```, rather Scalar, which could be ```std::complex<double>``` or even something stranger.

[2017-04-28 21:09] spdomin commented on #1275
On a sandy bridge maching running the R3 and R4 mesh, here is the spread of global ids and the matrix row size (max over all rows):

The R3 and R4 study (Serrano 9 and 72 node) is as follows:

R3:

Max range is: 17598828 on this rank: 3
Momentum globalyOwnedMatrix/ownedMatrix size: 78/81
Continuity globalyOwnedMatrix/ownedMatrix size: 26/27
MixFraction globalyOwnedMatrix/ownedMatrix size: 26/27

R

[2017-04-29 13:59] maherou commented on #1275
Is there any expectation that mesh or matrix connectivity is symmetric?  Symmetry properties could be useful for analysis.

Also, are these the only two rows with wide range of GIDs?

[2017-05-01 02:14] raovgarimella commented on #1272
This error occurred in Trilinos build triggered through a TPL build in another software (https://github.com/lanl/jali.git). I tried my best to reproduce the problem through a standalone build but I could not.

Still, I applied the patch to the master, configured and built and ran ```make test``` and all tests passed.

The configure command I used was

[code]

[2017-05-01 02:17] raovgarimella commented on #1272
The build was on an Ubuntu 16.04 system

[2017-05-01 03:23] mhoemmen commented on #1275
I just posted some proposed fixes here:

https://prod.sandia.gov/sierra-trac/wiki/TrinityAcceptance#StatusreportbyMarkHoemmen

One of the proposals could be novel work, so I didn't want to post it in public.  I also need to check to make sure that revealing specific MPI functions that allocate a lot of memory (besides what we already talked about above) doesn't give away NDA information.

[2017-05-01 14:45] lucbv commented on #1279
@jhux2 @bathmatt , I pushed a first commit on Friday [604353e](https://github.com/trilinos/Trilinos/commit/604353ebb007bf44923747625639e48f5ce0f7fc) that should fix issues in GeneralGeometricPFactory and I just pushed another one to fix some more issues in MueLu_PerfUtils

[2017-05-01 17:13] rppawlo commented on #1239
closing.

[2017-05-01 17:13] #1239 closed

[2017-05-01 21:30] spdomin commented on #1275
@alanw0, could you subscribe to this issue? I think some of the work suggested above may have already been done (the simple things, that is)..

[2017-05-01 21:53] kddevin opened #1280 "Zoltan2: TPL_Traits::ASSIGN_ARRAY is not unit-tested"
Some parts of TPL_Traits are unit-tested, but ASSIGN_ARRAY, DELETE_ARRAY, and SAVE_ARRAYRCP are not.

[2017-05-01 21:56] jwillenbring commented on #1208
@bartlettroscoe If I understood what @maherou and @nmhamster discussed, the idea was to try to get OpenBLAS fixed through a pull-request at the project level, not just our copy.

[2017-05-01 21:58] alanw0 commented on #1275
Wow there's a lot of traffic about this issue, I'm not sure I'm fully caught up...
The stk team did quite a bit of work a couple years ago to improve scalability for some nalu cases. At that time the creation of internal mesh edges was showing up in profiles and we knocked it down quite a bit for runs on ~100k procs. In the last day or two the stk team has fielded a couple of questions from Paul L

[2017-05-01 22:22] spdomin commented on #1275
@alanw0 - yes, lots of history on this topic. Please start with Mark's link above and think about the solver interface through TpetraLinSys... No need to worry about the past STK-based questions unless they come up again. I would like for us two and Mark to support this effort from the ExaWind perspective.

[2017-05-01 22:30] bartlettroscoe commented on #1208
@jwillenbring:

That is better but it may not solve the problem if I understand what @krcb told me (which may not be clearly stated above or I may have misunderstood).  I believe what @krcb said is that it may be the case with this compiler that taking the address of a `const char` (e.g. `&'N'`) may return garbage such that if you dereference the `const char*` that you don't get the right value (e

[2017-05-01 22:58] ndellingwood commented on #889
Pushed commit #1245 that will should resolve the issue regarding non-contiguous GIDs.
To enable the functionality, add a line like the following to set `IsContiguous` to false in the parameter list:
[code]
Let me know how this works out for you and if usage through the parameter list option suffices.

[2017-05-01 23:00] srajama1 commented on #889
@jhux2 : Can you please use this option or expose it in Muelu for the users ? We have to take this route of user input as this is an expensive operation.

[2017-05-01 23:00] #889 closed

[2017-05-01 23:41] aprokop commented on #889
What do we pay in performance if we specify that option but the GIDs are continuous?

[2017-05-02 00:04] jhux2 commented on #889
@srajama1 @ndellingwood Thanks for implementing this.   I gather we need a check upstream as to whether the GIDs are continuous, then toggle this option to ```true``` if they are not continuous?

[2017-05-02 01:52] ndellingwood commented on #889
@jhux2 Yes, I should have added that in the previous comment; leaving the setting as false as a default for the IsContiguous parameter would be expensive especially for repeat runs when it is not always necessary.
@aprokop It is an expensive operation, making calls to Tpetra's computeGatherMap operation and also constructing an extra Tpetra::CrsMatrix requiring calls for example to expertStaticFil

[2017-05-02 14:41] alanw0 commented on #1275
It looks like Mark is suggesting that the organization of the GIDs being given to Trilinos maps could be improved. I know we are keeping a field 'naluGlobalId_' where we organize the ids, which is simple except for cases where there are periodic bcs or other situations that cause multiple nodes to have the same id. I don't know if those cases exist in the scaling problems that are being run. In an

[2017-05-02 18:07] srajama1 commented on #889
@jhux2: I would recommend exposing it to users and allow them to turn it on when they run with smaller problems. The check itself is expensive, global reduction of all ids somewhere, a possible sort and check. Another option is to do all of this in parallel. I will let you decide how you want to do it.

[2017-05-02 18:48] krcb commented on #1208
@bartlettroscoe and I just spent 30 minutes reviewing this. We observed what is best described as inexplicable behavior in the gcc compiler (both for v4.9.3 and v5.4.0) on this machine. To try and get a better handle on this, the next step is to create a skeleton version of DSTEQR and see if that reveals what the compiler is actually doing to the variables that are passed to it.

[2017-05-02 19:05] rppawlo commented on #490
@jmgate and @eric-c-cyr  - pushed the changes to phalanx this morning. See panzer::PointValues_Evaluator for an example of use. Not the most elegant design in the evaluator. A cleaner design would require changes to a number of panzer objects to support interoperability of mixed scalar types (we should do that long term).

[2017-05-02 19:18] jjellio commented on #1208
@krcb, @nmhamster probably knows this better than I, but it is my understanding that IBM Power8 deviated from prior IBM Power machines by supporting *both* little and big endian memory ordering schemes.  By default, it seems Power8's big change was making big endian the default, where little had been the only ordering available on prior machines.

I wonder if changing the target endianness of the

[2017-05-02 19:36] jjellio commented on #1208
I checked IBM XL.  By default it uses little endian. Also, GCC (5.4) requires little endian as well. Attempting to use -mbig will result in a link error because the standard libraries are compiled for little endian.

A helpful command for see which flags gcc is using:
`gcc -Q --help=target | less`

[2017-05-02 19:39] krcb commented on #1208
I created a skeleton version of DSTEQR in order to examine what is being passed in from the CXX calls:

[code]

Calling into this using a Teuchos::LAPACK-style API:

[code]

yields the following output:

[code]

which is clearly non-sensical. Replacing the STEQR call with:

[code]

(i.e. calling the Fortran function directly) results in sensible output:

[code]

Note that both of these approaches

[2017-05-02 19:42] krcb commented on #1208
@jjellio If I compile both the fortran skeleton code with -mbig, as:

[code]

then I get the error:

[code]

If I use -mlittle, then the code compiles and links and I get the behavior described above.

[2017-05-02 20:36] spdomin commented on #889
If Muelu exposes this option, we can expose this to the Nalu input file. Let me know when the Muelu side is complete. Until then, we can inform our users to dial in the coarse size threshold.

[2017-05-02 21:00] wfspotz commented on #1040
This, ultimately, looks like bug with doxygen 1.8.13. I used `doxygen -u` to upgrade the doxyfiles within PyTrilinos, and made some modifications to Epetra and EpetraExt source files to prevent certain warnings, but this did not get the generation of docstrings to work. Doxygen 1.8.13 is crashing with a segfault and no error messages or warnings to help diagnose the problem.

[2017-05-02 21:07] wfspotz commented on #1040
For PyTrilinos, I have my own doxyfiles that produce XML that is in turn used to generate Python docstrings for wrapped code. With doxygen 1.8.13, these doxyfiles cause doxygen to crash with a segfault (more specifically, Epetra when processing `Epetra_BlockMap`, and EpetraExt when processing `EpetraExt::LightweightMapData`. Has anyone else seen this behavior with the standard Epetra and EpetraExt

[2017-05-02 21:31] bartlettroscoe commented on #1208
@krcb, wow, those are interesting results you show [above](https://github.com/trilinos/Trilinos/issues/1208#issuecomment-298738956).  I can't understand how changing passing the first argument is corrupting the later arguments.  It is almost like the arguments are getting shifted on stack or something?  Very strange.

This provides pretty strong evidence that this problem has nothing to do with Op

[2017-05-02 21:50] etphipp commented on #1208
It's probably because the size of the first argument is different.   When its a char, it is 1 byte whereas when its a pointer it is 8 bytes.  If you pass the wrong sized argument, it will mess up the memory address of the subsequent arguments.

[2017-05-02 22:08] mhoemmen commented on #1275
tl;dr "Could help, but let's fix what we can in Trilinos and possibly also STK"

@alanw0 and I chatted about this earlier today.  It might help for Nalu to reorganize the GIDs before handing them off to Trilinos' Maps and solvers.  However, the problem may come up in general, regardless of what Nalu does.  We're also not sure if STK might have the same problem, since it may use the same or similar

[2017-05-02 22:22] bartlettroscoe commented on #1208
The first argument should be getting passed to Fortran as a `char*` pointer in both cases as you can see [above](https://github.com/trilinos/Trilinos/issues/1208#issuecomment-298738956).

[2017-05-03 14:21] bartlettroscoe commented on #1002
Looks like Sierra still has a few platforms that are still using Intel 14 / GCC 4.7.2 but the hope is to move to Intel 17 / GCC 4.9.3 on those in the next three weeks.  Therefore, to be safe, I will check back again at the end of the month.

[2017-05-03 15:26] william76 commented on #1188
See pull request #1273

[2017-05-03 17:28] krcb commented on #1208
Further insights are obtained by instrumenting test program to examine the addresses and contents of the variables at each stage in the program:

[code]

with the C++ calls instrumented as:

[code]

then this produces the output:

[code]

what can be seen from this is that the CXX compiler is creating temporaries for COMPZ, ldz and n when we call STEQR (as is expected) and the values of these vari

[2017-05-03 17:34] krcb commented on #1208
@jwillenbring, @bartlettroscoe and I met this morning and discussed these results. Our proposed solution is to replace the pass by value components of the Teuchos::LAPACK API with pass by reference, ensuring that the affected variables are declared const (note that this may have to be done for the Teuchos::BLAS API's as well). This appears to be a minimally intrusive way to solve the problem that

[2017-05-03 18:12] krcb commented on #1208
I updated the Teuchos::LAPACK::STEQR API to pass by reference, rebuilt Belos against this and reran Belos_Tpetra_PseudoBlockCG_hb_test.exe. The test passes. Next: refactor the Teuchos::LAPACK API to replace all pass by value with pass by reference.

[2017-05-03 18:23] rppawlo opened #1281 "Panzer: element block and sideset consistency checks"
Need to add consistency check utilities for BC specifications in panzer.

[2017-05-03 18:25] rppawlo opened #1282 "Panzer: add consistency checks for BCs"
Need to add general support for consistency checks on BCs in panzer.

[2017-05-03 19:21] rppawlo opened #1285 "Thyra: Add support for user extensible InArgs and OutArgs on ModelEvaluator"
Some years ago, Eric Cyr had suggested an extension to the ModelEvaluator to allow users to extend the InArgs and OutArgs objects without modifying the core objects for each new type. We would like to add this to the ModelEvaluator for Tempus for handling mass matrices under IMEX

@eric-c-cyr @ccober6 @bartlettroscoe
@trilinos/thyra

[2017-05-03 19:23] #271 closed

[2017-05-03 19:27] rppawlo commented on #1049
This is now fixed. Race condition when running multiple convergence tests at same time and all overwriting the same output exodus file. See #271

[2017-05-03 19:27] #1049 closed

[2017-05-03 19:28] rppawlo commented on #1282
checkin test script just pushed the fix. closing.

[2017-05-03 19:28] #1282 closed

[2017-05-03 19:29] #1281 closed

[2017-05-03 21:27] bartlettroscoe commented on #1285
An alternative is to add a PL object to the InArgs and OutArgs to allow complete flexibility in extending these.   That was in the plans many years ago now documented in the backlog list:

* https://docs.google.com/document/d/1hKAcFSK6uZi5DunoofvKmNcdBBT1z64MHSBZh6ctm9U/edit#bookmark=id.v21prgsgz2ye

There are pros and cons to the more typesafe approach Eric suggested but I think adding PLs to the

[2017-05-03 21:29] aprokop commented on #889
@ndellingwood In MueLu we use the following check:
[code]
Would it be sufficient to hide `IsContinutous` parameter behind it? This way, we won't have to rely on users to specify this option.

[2017-05-03 21:46] gahansen opened #1286 "Tpetra: Compile error with GCC 7.1"
When compiling Tpetra with GCC 7.1, I see the following error:

/lore/ghansen/nightly/repos/Trilinos/packages/tpetra/core/src/Tpetra_Details_iallreduce.hpp:175:43: error: expected ')' before '<' token
   DeferredActionCommRequest (std::function< void (int) > action);
                                           ^
/lore/ghansen/nightly/repos/Trilinos/packages/tpetra/core/src/Tpetra_Details_iallreduce

[2017-05-03 21:51] gahansen commented on #1286
Meant to paste the "include" line as code:

 `#include <functional>`

[2017-05-03 22:52] tjfulle commented on #1286
From [Porting to GCC7](https://gcc.gnu.org/gcc-7/porting_to.html)

[2017-05-03 23:27] ibaned commented on #1286
Here is a pull request if it helps: #1287

[2017-05-04 13:42] rppawlo commented on #1285
We have been working to strip ParameterLists out of our code where ever possible. The main issue is that it is much harder for users of our libraries to figure out what is really required without going into an object's definition and looking for a validated list or trying to find all uses of get(). I do like the ParameterList and there are places where it is very useful - as in setting options for

[2017-05-04 15:29] jwillenbring commented on #1188
This was completed when #1273 was merged. Closing.

[2017-05-04 15:29] #1188 closed

[2017-05-04 16:19] mhoemmen commented on #1286
@ibaned is it safe to do this with earlier compilers?  Thanks for the PR btw :)

[2017-05-04 16:21] ibaned commented on #1286
@mhoemmen I can't think of any reason it would fail with older compilers, even C++98 should be fine.

[2017-05-04 17:28] srajama1 commented on #1255
@jwillenbring : Pinging to see what are your thoughts on this.

[2017-05-04 17:38] srajama1 commented on #183
@krcb @MicheldeMessieres Just for ping

[2017-05-04 17:44] srajama1 commented on #183
Can we change Zoltan2 to use AMD in Trilinos suitesparse instead of depending on external TPL so this is always tested ?

[2017-05-04 19:13] gahansen commented on #1286
@ibaned and @mhoemmen - I grepped the Trilinos "packages" directory on down and
`#include <functional>`
appears to show up all over the place. I saw a similar pattern combining that include file and the `std::function` usage in kokkos/core/src/impl/Kokkos_Synchronic_n3998.hpp

[2017-05-04 19:13] wfspotz commented on #1040
I have confirmed that this is a doxygen bug in version 1.8.13 and that doxygen developers claim to have fixed it in the current git repository.

[2017-05-04 19:52] mhoemmen commented on #1286
@gahansen Thanks for checking!  This is reassuring.  I will approve the PR.

[2017-05-04 19:53] mhoemmen commented on #1286
Thanks @ibaned for the PR!  I just approved it.

[2017-05-04 19:53] #1286 closed

[2017-05-04 20:30] #1277 closed

[2017-05-04 20:30] mhoemmen commented on #1277
Just pushed a fix; thanks @aprokop !

[2017-05-04 20:43] jwillenbring commented on #1001
Is this still an issue?

[2017-05-04 20:45] jwillenbring commented on #982
@allevin is working on this now in #1154 so I am going to close this ticket.

[2017-05-04 20:45] #982 closed

[2017-05-04 20:58] jwillenbring commented on #406
This initial work has been done in other efforts. Closing this to rescope upcoming work.

[2017-05-04 20:58] #406 closed

[2017-05-04 20:59] jwillenbring commented on #399
This is being tracked elsewhere. Closing this ticket.

[2017-05-04 20:59] #399 closed

[2017-05-04 23:20] hkthorn opened #1288 "Trilinos-Xyce testing for C++11=OFF is failing"
@trilinos/framework @jwillenbring  @bmpersc It looks like the environment issues with the Trilinos-Xyce testing were fixed, but the nightly testing of this build still does not complete.

[2017-05-04 23:37] mhoemmen commented on #1253
@tjfulle I finished squashing the commits and am running downstream tests now.  Two Stokhos tests fail for me; I'm just checking now whether those were failing before.

[2017-05-05 00:21] bartlettroscoe commented on #1154
Any updates on this?

[2017-05-05 00:24] bartlettroscoe commented on #1001
According to @tawiesn, this issue will be solved automatically once we move to GCC 4.9.3 (see #1002).  Therefore, since @tawiesn has a workaround for now, I think we can close this and just want to pull the trigger for #1002 (once Sierra stops relying on Intel 14 / GCC 4.7.2 builds).

Closing as wontfix since this will be solved by #1002.

[2017-05-05 00:24] #1001 closed

[2017-05-05 01:14] srajama1 opened #1289 "ShyLU Basker multiple numeric solves with single symbolic failure"
Xyce simulations fails for an internal matrix when a single symbolic reused for multiple numeric solves with latest changes to compose permutations. @hkthorn reported this issue.

@ndellingwood has analyzed it and found the problem. This needs a fix and an unit test as well.

[2017-05-05 16:35] william76 commented on #702
Adding a link to the issue in Tribits that's related to this issue w/rt pointing test builds at different tracks in CDash: [Tribits:189](https://github.com/TriBITSPub/TriBITS/issues/189)

@jwillenbring I can start moving builds over to "Clean" and "Specialized" later today.  I'd like to fill in a couple details first:
- "Clean" is the high-tier CDash (rank 1)
- "Specialized" is the low-tier track

[2017-05-05 16:48] william76 commented on #1268
@bartlettroscoe I've updated my list to move this test over for the Specialized track when I do the big shuffle.

[2017-05-05 16:51] william76 commented on #1182
I've updated my list per @bartlettroscoe input in #1268 and have updated my list to bin Linux-GCC-4.7.2-RELEASE_DEV_Teuchos_YAML on dorksaber into the Specialized track when I do the build shuffle.

[2017-05-05 16:53] ibaned commented on #1268
Once @brian-kelley 's fixes are in, we should consider moving it to a higher tier. I believe one of @bartlettroscoe 's priorities is to prevent breakage of the YAML functionality, via this testing.

[2017-05-05 17:04] william76 commented on #1182
@jwillenbring

I have my rankings for the initial sort of the tests in Nightly in a spreadsheet, but I thought I should add it here.

Rank 1 tests will move to the "Clean" track.
Rank 2 tests will move to the "???" track.
Rank 3 tests will move to the "Specialized" track.

[code]

[2017-05-05 17:28] bartlettroscoe commented on #1182
That initial list of builds looks okay to me.

I will let @jwillenbring chime in, but my guess is that Rank 2 is the "Nightly" track.

However, it is critical that the builds that are going into rank 1 "Clean" be 100% passing.  If they are not 100% passing now, then we need the commitment from everyone to make them 100% passing ASAP.  Otherwise, this "Clean" track is meaningless.  Therefore, if th

[2017-05-05 17:28] mhoemmen opened #1290 "MueLu_UnitTests{E,T}petra fail on dashboard & for me"
@trilinos/muelu

Other tests pass; just MueLu_UnitTestsEpetra and MueLu_UnitTestsTpetra fail.

[2017-05-05 17:32] bartlettroscoe commented on #1268
We can have this discussion after @jwillenbring documents these different testing tracks in detail so that we can select the best track.

Once we can move the standard CI build from GCC 4.7.2 to GCC 4.9.3 (see #1002), then we should be able to add yaml-cpp as a PT TPL and then the YAML functionality will be well preserved (assuming we can get people to actually run the standard CI build before the

[2017-05-05 17:54] ndellingwood commented on #1289
@srajama1 @hkthorn I just put in a PR for with a fix.
@hkthorn this should fix the issue, please let me know if there are any problems.
@srajama1 I need to modify my example test to add as a unit test (it uses matrices not available in Amesos2). Will close after I get the test added.

[2017-05-05 18:20] jhux2 commented on #1290
@mhoemmen No changes to MueLu overnight.  I see commits to Intrepid2 from @kyungjoo-kim, @ndellingwood.

[2017-05-05 18:21] jhux2 commented on #1290
@kyungjoo-kim @ndellingwood Did you test MueLu during your checkins?

[2017-05-05 18:42] mhoemmen commented on #1253
Just pushed!  Thanks @tjfulle ! :-D

[2017-05-05 18:42] #1253 closed

[2017-05-05 18:44] mhoemmen commented on #1290
The failures looked like suboptimally informative segfaults, alas.

[2017-05-05 18:48] jwillenbring commented on #1288
This was running properly as of a few weeks ago:

[http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-04-17](http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-04-17)

@bmpersc Any thoughts on what changed around this time?

[2017-05-05 18:55] jhux2 commented on #1290
I'll see if I can get a stacktrace from one of the geminga runs.

[2017-05-05 19:18] wfspotz commented on #1040
I have pushed a change to the PyTrilinos build system where if PyTrilinos is enabled and doxygen is version 1.8.13, you get a fatal error. You can get around it by setting PyTrilinos_DOCSTRINGS=OFF or by changing your version of doxygen.

[2017-05-05 19:35] lucbv commented on #1279
It seems that the fixes are satisfactory so I am closing this issue.

[2017-05-05 19:35] #1279 closed

[2017-05-05 19:45] jhux2 commented on #1290
[This nightly](http://testing.sandia.gov/cdash/testDetails.php?test=38526638&build=2877891) has possibly useful exception messages.

Here's the exception message for test 238 ,
[code]

and here's the stacktrace

```IntrepidPCoarsenFactory_double_int_int_Kokkos_Compat_KokkosSerialWrapperNode_GenerateRepresentativeBasisNodes_LINE_Equispaced_UnitTest```.

[code]

Here are details from frame 4:

[code

[2017-05-05 20:26] jhux2 commented on #1290
All the failing tests pass if I revert commit 018218769
[code]

[2017-05-05 20:31] jhux2 commented on #1290
@trilinos/intrepid2

[2017-05-05 20:43] kyungjoo-kim commented on #1290
@mperego

[2017-05-05 20:49] bartlettroscoe commented on #1285
I think you need the PL objects in the InArgs and OutArgs to allow for quick prototyping of new ideas for for passing very specialized or crazy or very specialized types of data.  I don't remember Eric's proposal but the fact that InArgs and OutArgs are currently managed as value object, straightforward extension mechanisms using inheritance will not work.  Therefore, you would need to register ad

[2017-05-05 21:59] ndellingwood commented on #1290
While testing some recently added Basis functions Cuda we ran into some stack overflow issues with the current design and reduced the MaxNumPtsPerBasisEval and MaxOrder which must be the cause of this failure. @mperego , @kyungjoo-kim : what is best solution for this?
@jhux2 I did not run tests with MueLu, sorry for not testing more extensively.

[2017-05-06 00:03] bartlettroscoe commented on #1247
Finally getting back to this ...

To emphasize the importance of using a single set of configure files and scripts for these platforms, since I did the tribal build of Trilinos+Drekar on shiller described [above](https://github.com/trilinos/Trilinos/issues/1247#issuecomment-295035744) on April 18, there has aleady been three changes to the drekar/build_scripts/shiller/environment.sh script.  That

[2017-05-08 14:35] jwillenbring opened #1293 "Document information concerning Clean, Nightly, and Specialized tracks"
@william76

I need to document the definition of, qualifications for, and process for moving between the 3 new tracks that we are dividing the Nightly track into for automated testing. Definition of done for this story is:

Trilinos GitHub wiki page exists listing
--Three develop branch testing tracks - Clean, Nightly, and specialized, with a description of each track.
--Process for moving from on

[2017-05-08 14:41] jwillenbring commented on #1293
This needs to include email policies for each of the new tracks. @bartlettroscoe suggested a good place for this information would be here:

[https://github.com/trilinos/Trilinos/wiki/Policies--%7C-Testing](https://github.com/trilinos/Trilinos/wiki/Policies--%7C-Testing)

[2017-05-08 14:47] jwillenbring commented on #1182
No, but I just filed a ticket for this in #1293 .

This initial task of gathering info about nightly builds is done, so I will close it. Next, I will file a ticket for achieving 100% clean Clean builds.

[2017-05-08 14:47] #1182 closed

[2017-05-08 14:56] jwillenbring commented on #702
These tracks have been created, so I am closing this ticket. Next is to document the track as stated in #1293, and to clean up all Clean builds, which I will file ticket for soon.

[2017-05-08 14:56] #702 closed

[2017-05-08 14:59] jwillenbring opened #1294 "Remove all failures in "Clean" track builds."
Done for this ticket means all "Clean" track builds shown on

[http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-05-07](http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-05-07)

are 100% passing.

[2017-05-08 15:09] bmpersc commented on #1288
It looks like it was dying because of a change to tribits to use an option to git that doesn't exist on the default git for RHEL6. I changed the test to use the sems git 2.10.1 which does support the option used. That should fix it for tonight.

I recall that when this first happened that I checked all the tests to make sure that either they were working or if they weren't that the git was updated

[2017-05-08 15:17] bartgol opened #1295 "Piro: pointless #ifdef ALBANY_BUILD?"
The ifdefs appear pointless to me (besides mentioning downstream software in trilinos, which appears conceptually wrong, and can open the door to potentially several similar ifdefs down the road).

In particular, when ALBANY_BUILD is defined, some classes (lsuch as Piro_TempusSolver) accept template arguments for LO/GO/Node, and some default values are provided. When ALBANY_BUILD is not defined, n

[2017-05-08 15:40] william76 commented on #1294
Per our discussion this morning:

I will do the following:
- Remove GCC 4.8.x tests from the nightly testing.  We aren't aware of anyone that cares about this build and they're bad candidates for the "clean" track since they do not complete by the start of the day.
- Change the GCC 4.8.x tests off the "Clean" track into "Specialized" in case they need reactivation so that they do not reappear in t

[2017-05-08 15:59] jwillenbring commented on #1288
As of the last run there are still errors, but what @bmpersc did fixed the issue that was causing the build to not display on the dashboard. Additionally, I did update the build to pull the script repo from the develop branch as suggested. The build is now reporting, so I think we can close this ticket. (The failures in the build should be tracked separately.)

@hkthorn if you agree we can close t

[2017-05-08 16:11] jwillenbring commented on #1129
I think @bartlettroscoe is right. There is a separate ticket for the remaining failure for this build and the build is now running properly and reporting, so I am going to close this ticket.

[2017-05-08 16:11] #1129 closed

[2017-05-08 16:36] bartlettroscoe commented on #1288
Does Jenkins not send out emails when the ctest -S scripts fail?  Does the ctest -S script not return non-zero when it gets failures like this?  If not, we need to address that.

[2017-05-08 17:29] mhoemmen opened #1296 "Tpetra::CrsGraph: Merge makeIndicesLocal, sortAllIndices, & mergeAllIndices into a single host-thread-parallel function"
@trilinos/tpetra

All three methods makeIndicesLocal, sortAllIndices, and mergeAllIndices iterate over all entries of the CrsGraph.  See #834 for sortAllIndices and mergeAllIndices.  It would also make sense to merge makeIndicesLocal into those two parallel loops.

It would be better for makeIndicesLocal always to put the graph into StaticProfile.  Right now, if the graph enters makeIndicesLocal w

[2017-05-08 17:39] hkthorn commented on #1288
@jwillenbring @bmpersc So the build is still failing, but that is because of an issue with Ifpack not an issue with the build environment or test scripts.  I guess it's ok to close it, but there still is the issue of the build failures in Ifpack.

[2017-05-08 17:42] kyungjoo-kim commented on #1290
Hi @jhux2 and @CamelliaDPG (Nate Roberts).

The problem is not from Intrepid2 but muelu uses hardwired max degree order in the test, IntrepidPCoarsenFactory.cpp.

[code]

Intrepid2 has parameters class
[code]
You should not assume the max order as 10. We just reduce the max order to support due to some practical reasons (recursion in cuda takes a long compile time and it incurs stack overflows).

[2017-05-08 17:47] jhux2 commented on #1290
@camelliadpg Is this something you have time to look at?

[2017-05-08 17:48] jhux2 commented on #1290
@kyungjoo-kim  Thank you!

[2017-05-08 18:46] kyungjoo-kim commented on #1151
@rppawlo @bathmatt

There are some problems in Panzer_STK_SurfaceNodeNormals.cpp.
    for ( ; sideID != localSideTopoIDs.end(); ++side,++sideID,++parentElement) {
// blah .... blah ...
      Intrepid2::CellTools<PHX::exec_space>::getPhysicalSideNormals(normal, iv.jac.get_view(), *sideID, *(ir->topology));
}
[code]

[2017-05-08 19:07] tawiesn commented on #1002
Btw: Just noticed, that GCC 4.7.2 is not in the SEMS modules for RHEL 7 any more. I can use GCC 4.9.3 as workaround for the sems checkin script.

[2017-05-08 19:08] rppawlo commented on #1151
There are some other calls to normals/tangents. Below is a quick search of panzer.

[code]

[2017-05-08 19:12] bartlettroscoe commented on #1002
@tawiesn, are you on the Sandia SRN?  If so, you can use my machine crf450 to push.  If not, then if GCC 4.9.3 is the best you can do for pre-push testing then so be it (it is better than other alternatives).  Just please watch the CI build on CDash linked to from:

* https://github.com/trilinos/Trilinos/wiki/Policies--%7C-Testing#post_push_ci_testing

to see if your pushes cause any issues.  Take

[2017-05-08 19:18] kyungjoo-kim commented on #1151
@rppawlo

Except for ``./adapters-stk/src/Panzer_STK_SurfaceNodeNormals.cpp`` , all panzer functions use the Intrepid2 appropriately. Then, I will give you a serial version that does not invoke any parallel for inside.  This will remove the overhead.

Best
Kyungjoo

[2017-05-08 19:24] jwillenbring commented on #1145
Here is the output for this failure, and a newer link:

/data/jenkins/slave/workspace/Trilinos_XYCE_MPI/MPI_OPT_DEV_XYCE/Trilinos/packages/ifpack/src/Ifpack_SparseContainer.h: In member function ‘virtual int Ifpack_SparseContainer<T>::Initialize()’:
/data/jenkins/slave/workspace/Trilinos_XYCE_MPI/MPI_OPT_DEV_XYCE/Trilinos/packages/ifpack/src/Ifpack_SparseContainer.h:394: error: ‘Epetra_DataAccess’

[2017-05-08 20:09] srajama1 commented on #183
It appears there is a time line on this issue (1-2 weeks) from the application teams. Michel, please let me know if that is hard in conjunction with your other commitments. I will take this off your plate in that case.

[2017-05-08 20:53] bmpersc opened #1298 "Move prototype parameterized tests to main repo"
The prototype parameterized build has been working well for a while so it is time to move it into the Trilinos repo and update all the builds that are using it to use the Trilinos repo instead of the prototype repo.

[2017-05-08 21:20] bartlettroscoe opened #1299 "Four failing MueLu tests in all MPI builds and two in all Serial builds since 5/4/2017"
One (or more) of the commits (or the combination of commits) pushed by several people broke one Intrepid2 test and four MueLu tests in this CI build on 5/4/2017:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2876438&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

which shows the fail

[2017-05-08 21:28] rppawlo commented on #1151
Thanks @kyungjoo-kim !

[2017-05-08 21:42] jwillenbring commented on #1288
@hkthorn OK, then we will close this ticket. The build failure is being tracked in #1145. I commented on that earlier today.

[2017-05-08 21:42] #1288 closed

[2017-05-08 21:53] ndellingwood commented on #1299
I believe the failing MueLu unit tests are being tracked in issue #1290 (reported May 5, 2017) and are being addressed/fixed by @kyungjoo-kim @jhux2 @CamelliaDPG  (please correct me if I'm wrong!)
I have no info to add regarding the test Intrepid2_refactor_unit-test_Shared_Polylib_Serial_Test_01_MPI_1

[2017-05-08 21:57] bartlettroscoe commented on #1299
I searched for the names of one of the failing tests (i.e. MueLu_UnitTestsEpetra_MPI_1) and could not find any issues.  (I think it is best practice to actually list out the failing tests in GitHub issues.  That way, it is easy to find and differentiate from other possible failures.)

[2017-05-08 21:59] ndellingwood commented on #1299
The commit that caused the break has commit 0182187  (sorry, was only testing with Cuda).
https://github.com/trilinos/Trilinos/commit/01821876992ecad172279491c74ed304e74a2c53

[2017-05-08 22:01] krcb commented on #183
@srajama1 It's unlikely that we will be able investigate, resolve and test this issue on the timescale of the next 2 weeks (i.e. before 22nd).

[2017-05-08 22:05] bartlettroscoe commented on #1299
Can we revert that commit until the failures are resolved?  Or, we can just disable these these failing tests in pre-push testing so that we don't cause other people to have their pushes stopped.

[2017-05-08 22:10] srajama1 commented on #183
No worries, I will take it off your list.

[2017-05-08 22:12] bartlettroscoe commented on #1290
@mhoemmen

FYI: note that if you run into known failing tests like this you can disable them when you run the checkin-test-sems.sh script locally.  See details in the [comments in the checkin-test-sems.sh script](https://github.com/trilinos/Trilinos/blob/master/cmake/std/sems/checkin-test-sems.sh#L198) itself or another way to disable them locally is described at:

* https://github.com/trilinos/Tr

[2017-05-08 22:26] tawiesn commented on #1299
@bartlettroscoe I agree with you that it makes sense to list the names of all the failing tests. But then we all have to agree that we use the exact names of tests. In fact, you would have found the issue if you would have searched for
MueLu_UnitTests{E,T}petra
or
MueLu_UnitTests
Or, since you know it is a MueLu related issue, you search for MueLu or the MueLu tag.

[2017-05-08 22:27] jhux2 commented on #1290
@CamelliaDPG taking this issue

[2017-05-08 23:03] jhux2 commented on #1290
@kyungjoo-kim @csiefer So this means that we should reduce the maximum order in the unit test to conform with the values specified in Intrepid2::Parameters?

[2017-05-08 23:14] bartlettroscoe commented on #1299
@tawiesn, I agree.  I should have looked harder.

It is just that usually when I have looked for a GitHub issue for failures on CDash I have not been able to find them.  Therefore, I have stopped looking as hard.  (Hopefully we can get better at creating GitHub issues for cover every commit and then our searches for existing problems will yield finds more often.)

[2017-05-08 23:20] bartlettroscoe commented on #1290
FYI:

I just pushed the commit:

[code]

which has the effect of disabling these tests for pre-push testing only.  It has the impact of disabling these tests as shown in the configure output:

[code]

Therefore, whoever fixes this just needs to run:

[code]

before they push their changes with the [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) s

[2017-05-08 23:21] bartlettroscoe commented on #1299
Closing this since it is a duplicate of already created issue (that I should have looked harder to find) #1290.

[2017-05-08 23:21] #1299 closed

[2017-05-08 23:23] bartlettroscoe commented on #1290
FYI: I closed the duplicate issue #1299.  I should have looked harder to find this issue.

@mhoemmen, thanks for taking the time to submit this issue when you ran into the failures.

[2017-05-08 23:31] bartlettroscoe commented on #1002
I created the SEMS help ticket:

* https://sems.sandia.gov/jira/servicedesk/customer/portal/4/SEMSHELPD-488

about the removal of the GCC 4.7.2 modules on RHEL 7.

[2017-05-08 23:33] jhux2 opened #1300 "MueLu: compile times are significantly higher"
@trilinos/muelu @csiefer I've noticed a significant uptick MueLu's compile times.   For example, the geminga nightly tests are now taking *much* longer than previously.  For example, the geminga tests last Friday finished at 18:26 MT.  They started at 22:00 MT the prior evening.

Has anyone noticed whether their day-to-day compile times have increased?

[2017-05-08 23:36] mperego commented on #1290
On 05/08/2017 05:03 PM, Jonathan Hu wrote:

@jhux2, Yes. I also think MueLu should conform to the values specified
in Intrepid2::Parameters. If you think these values are not OK for MueLu
we can discuss this in a separate issue.

[2017-05-08 23:37] lxmota opened #1301 "MueLu: undefined references"
When compiling Albany I get the errors:

/home/amota/LCM/trilinos-install-serial-gcc-release/lib/libmuelu-adapters.so.12.11: undefined reference to `MueLu::HierarchyManager<double, int, int, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial, Kokkos::HostSpace> >::exportCount_'
/home/amota/LCM/trilinos-install-serial-gcc-release/lib/libmuelu-adapters.so.12.11: undefined reference to `MueLu::Hi

[2017-05-08 23:44] bartgol opened #1302 "Piro+Tempus: cannot build TempusSolver from parameter list"
It appears that Piro and Tempus have different ways to organize the input parameter lists, and the validation of inputs in Piro makes it impossible to use the TempusSolver constructor which takes parameter list and model as input (and supposedly builds the integrator/stepper depending on the parameters).

In particular, Tempus requires a sublist of name stepperName inside the main Tempus parameter

[2017-05-09 00:01] jhux2 commented on #1301
@lxmota @trilinos/muelu Could you please post your configure script, or send it to me directly via email.

[2017-05-09 00:03] jhux2 commented on #1301
Btw, I'm not sure why, but github seems to think that it's May 9.  It's still May 8. :)

[2017-05-09 00:05] lxmota commented on #1301
@jhux2 Here is my Trilinos configuration script:

#!/bin/bash

# WARNING: This file is generated automatically. Any changes made here
# will be lost when the package is configured again.  Any permament
# changes should go into the corresponding template at the top level
# LCM directory.

if [ -f ./CMakeCache.txt ]; then
    rm ./CMakeCache.txt
fi

if [ -d ./CMakeFiles ]; then
    rm ./CMakeFiles -

[2017-05-09 00:17] jhux2 commented on #1301
@lxmota. Thanks, I'll have a look.

[2017-05-09 00:24] hkthorn commented on #1145
Unfortunately the scoping of the Epetra_DataAccess enumeration was made necessary by some C++11 compliant compilers.  I only say that because a similar change to that found in Ifpack was placed in Belos, by me, due to a user complaint.  If both Ifpack and Belos use the TEUCHOSCORE_CXX11 flag that is defined if Trilinos is compiled with C++11 enabled, we can circumvent this compiler issue.  If that

[2017-05-09 00:42] jhux2 commented on #1290
Commit 0e310e4 should fix this.  I'll close tomorrow if dashboard failures due to this are gone.