[2016-08-30 22:20] mhoemmen commented on #288
This is fine.  See above comment: "...builds by default."  I agree that it should not (yet) run by default.  There are other ways to make non-coloring Gauss-Seidel use threads (e.g., implement it using sparse triangular solve), if applications insist on it being threaded.  For now, what I really want is for this code to _build_ by default (no special CMake options needed), and to be _tested_ throu

[2016-08-31 16:09] jhux2 commented on #594
Stefan,

    Do any of the NaluRTest simulations show similar Valgrind warnings?   How big is the production run that you ran (DOFs, processes)?

Jonathan

[2016-08-31 18:49] #530 closed

[2016-08-31 18:50] #525 closed

[2016-08-31 18:52] eric-c-cyr commented on #274
Is there a status update on this issue?

[2016-08-31 19:02] rppawlo commented on #274
Not finished. All the pieces are in place. We just need to change over to using the refactor branch. Hope to get to this very soon.

[2016-08-31 19:07] kyungjoo-kim commented on #274
Since Andy went through a first iteration and convert the code for the refactored version, you would not have much trouble.

[2016-08-31 19:25] amklinv commented on #404
The changes have been merged into the develop branch and should hit master sometime later this week.

[2016-08-31 20:05] spdomin commented on #594
This is a tiny 750k element, sixteen core job that is not part of the regression test suite. However, my guess is that the performance/uqSlidingMesh case would demonstrate this issue as well (just make sure to reduce the termination time step to facilitate faster turn around.

However, the valgrind results clearly show the problem code calls. Why not just fix the memory issues already documented?

[2016-08-31 20:07] kddevin commented on #592
@jdmille regarding Trac 15493

The workaround to resolve this issue is implemented in Zoltan2 and is committed in Trilinos' develop branch.  It should be available to you after the next Trilinos merge.

[2016-08-31 20:16] jhux2 commented on #594
That's what I intend to do, but it's helpful if I can run it locally.

[2016-08-31 20:37] spdomin commented on #594
I am running the debug case now so that you have exact line numbers. Once I have that, I will send it off. If you provide a patch, I can apply and test.

I am running an older Trilinos code base with head Nalu and managed to get past this immediate impediment.

In the meantime, I will push this exact case to a common platform for you to test (private email).

[2016-09-01 11:54] pwxy commented on #558
Here is an 8x3x3 element drekar mhd test case (matrix with 1152 rows) for 2 MPI processes that exhibits the bug.

In the tarball, the "nox" directory contains the matrix J_0 and RHS f_0 that nox dumps.  The "muelu" directory contains the matrix and the four maps that muelu outputs (row,column,range,domain).

the following are the ifpack2 smoother parameters specified for muelu by my drekar input d

[2016-09-01 15:11] kddevin commented on #547
This week, we pushed changes to Zoltan2 and Ifpack2 that we hope will fix this problem.  Would you please try your compilation again and let us know whether or not it works?  Thanks.

[2016-09-01 15:14] kddevin commented on #337
It appears @crtrott pushed this change.  I haven't seen any problems lately.  I will close this bug.

[2016-09-01 15:14] #337 closed

[2016-09-01 15:16] kddevin commented on #244
This week, we pushed changes to Zoltan2 and Ifpack2 that should fix this problem.  Please try your build again and let me know if there are problems.
I will close this bug, but please re-open it if our fixes are insufficient.

[2016-09-01 15:16] #244 closed

[2016-09-01 15:21] kddevin commented on #578
The real bug here:  The metric evaluation uses the actual number of parts that exist rather than the target number of parts for the solution.  The fix should be easy; I'll look at it within a week.

[2016-09-01 15:52] ndellingwood commented on #244
Thanks for the update, good timing :)
We're starting integration testing and will report if there are any issue

[2016-09-01 15:55] kddevin opened #595 "Zoltan2: Add 2D Matrix partitioning and MatrixPartitioningProblem or MatrixPartitioningSolution"
We have demonstrated the effectiveness of 2D matrix partitioning for data-oriented problems
(SC13 Boman, Rajamanickam, Devine), but we do not have that capability in Zoltan2.

This work will include providing capability for Cartesian partitions of the matrix and associated vector partitions.

It will also include matrix distribution.

May include matrix sampling to accelerate hypergraph partitioni

[2016-09-01 16:10] kddevin commented on #591
Needed for Nested Dissection ordering by FY17 Q1
Needed for H2 hierarchical solver by FY17

Applications need the tree structure along with part numbers at the leaves.

Need to design interface that works in RCB, PHG, MJ
-  consider number of processors != 2^n
-  consider non-bisection as in MJ

@trilinos/zoltan2

[2016-09-01 16:34] kddevin commented on #537
A fifth option:
-  Enhance the Zoltan directory to enable accumulation of user data (ie., contributions from several processors) and operations on user data (sum, max, min, etc.), and use that for assembling the graph.

[2016-09-01 16:47] kddevin commented on #223
This issue would benefit from a solution to #537

[2016-09-01 16:47] kddevin commented on #537
Solution here will benefit #223

[2016-09-01 16:50] kddevin commented on #160
I will check with @MicheldeMessieres and @krcb about their availability to address this issue.

[2016-09-01 17:14] vjleung commented on #285
Fixed by May 1, just not closed.

[2016-09-01 17:14] #285 closed

[2016-09-01 18:30] jmgate opened #596 "Simplify Panzer_EquationSet_Factory_Defines"
In `panzer/disc-fe/src/Panzer_EquationSet_Factory_Defines.hpp` we have `PANZER_DECLARE_EQSET_TEMPLATE_BUILDER` which takes a `key` and doesn't use it, and we have `PANZER_BUILD_EQSET_OBJECTS` which takes a `fClass` and doesn't use it.  These definitions should be cleaned up, and then their use in Panzer and any of the applications it supports should be updated accordingly.

[2016-09-01 19:14] jmgate commented on #596
Just to give an idea of scope, here are the occurrences of these functions in our code:
 | Panzer | DrekarBase | DrekarResearch | Charon2
`PANZER_DECLARE_EQSET_TEMPLATE_BUILDER` | 16 | 0 | 0 | 13
`PANZER_BUILD_EQSET_OBJECTS` | 22 | 0 | 0 | 13
Not sure why they don't show up in Drekar.

[2016-09-01 19:22] jmgate commented on #596
Ah, Drekar has its own methods:
`DREKAR_DECLARE_EQSET_TEMPLATE_BUILDER`:
* DrekarBase:  23
* DrekarResearch:  6

`DREKAR_BUILD_EQSET_OBJECTS`:
* DrekarBase:  23
* DrekarResearch:  6

[2016-09-01 20:34] jmgate commented on #596
Looks like Drekar also has similar `_GENERAL` and `_AUX_` macros that all need the same changes.

[2016-09-01 23:00] jmgate commented on #596
Made all the necessary changes -- just waiting on a coordinated push to Trilinos, Drekar, Charon, and Empire.

[2016-09-02 00:08] vjleung commented on #286
Fixed

[2016-09-02 00:08] #286 closed

[2016-09-02 14:55] bathmatt commented on #596
You can push whenever, I will clean up EMPIRE at a later date...

On Thu, Sep 1, 2016 at 5:00 PM, Jason M. Gates <notifications@github.com>
wrote:

[2016-09-02 15:14] jmgate commented on #596
Changes pushed to Panzer, Drekar, and Charon.  @bathmatt will take care of Empire sometime soon.

[2016-09-02 15:17] spdomin commented on #594
My debug case took forever and eventually was killed... We may just need to reply on the opt runs and expertise in looking at the code in question. I will try once more to see if a debug valgrind run works. The previous case hanged at the Muelu step.

Any news on your end?

[2016-09-02 16:17] mhoemmen commented on #404
Thanks @amklinv !  I'll close this issue then.

[2016-09-02 16:17] #404 closed

[2016-09-02 17:52] kddevin commented on #560
@hkthorn emailed me the following:
"I've seen the discussion and Mike's history lesson on singleton filtering.  As discussed by Mike and Erik, it needs to be performed before any reordering, as the impact can be huge on circuit matrices.  I've not seen a similar situation in PDE based matrices."

[2016-09-02 20:51] mhoemmen opened #597 "Tpetra: Enabling Scalar = __float128 causes build error in test"
Please use Teuchos::ScalarTraits::magnitude or Kokkos::Details::ArithTraits::abs to compute the absolute value (magnitude) of a Scalar value.  Don't use std::abs.  std::abs does not work well for __float128.

[2016-09-02 21:43] jhux2 commented on #594
About how long should this simulation or the uqSlidingMesh take to run?

[2016-09-03 00:10] jhux2 commented on #594
Nothing to report yet.  The simulations are really slow to run.

[2016-09-04 00:06] spdomin commented on #594
You need to reduce the total number of time steps that the UQ performance tests run. The problem can I sent you takes two time steps.

[2016-09-05 15:20] hmpelta commented on #569
Please give some advice, how should solve this issue on osx?

[2016-09-06 13:49] pwxy opened #598 "overflowing 32-bit integer in ML"
Hello Ray,

I noticed that in your August 26 17:15:44 check-in for ml_MultiLevelPreconditioner_Smoothers.cpp, you changed the following two lines from:

[code]

to:

[code]

What was the reason for this change?

Isn't this a bug?  Because global[1] stores the "# estim. global nnz =", and for our MHD problems with 8 PDEs per mesh node, for greater than 10 million row matrices we will overflow a 32-

[2016-09-06 14:20] #597 closed

[2016-09-06 15:16] pwxy commented on #598
Hi Ray,

64-bit integers would work too (as an alternative to double).  I think Jonathan had switched them from "int" to "double" ~10 years ago to avoid the overflow.   I'll let you push the changes to the repo since it affects some of your other code.

thanks
-paul

[2016-09-06 17:02] jhux2 commented on #594
I'm building Nalu (0da09d63) against trilinos develop, 15f990a8.   I'm seeing many valgrind warnings in what appears to be the assembly process:

[code]

Here are some examples:

[code]

and

[code]
and

[code]

and

[code]

[2016-09-06 17:20] rstumin commented on #598
Having some problems compile on cee-compute011 today. Not sure what it is ... it looks like something in the openmpi
changed late last week ... and this seems to be affecting my builds. I've got a couple of other meetings ... but will
try to get to this soon.

-Ray

On 09/06/16 08:16, pwxy wrote:

--
Ray Tuminaro                      phone: (925) 294-2564
MS 9159                           fax:   (

[2016-09-06 17:35] jhux2 commented on #594
Now rebuilding Nalu against 930cce30b, the Trilinos SHA1 that was the last merge with Sierra.

[2016-09-06 17:49] jmgate commented on #290
Pushed changes to Panzer, Drekar, and Charon that should take care of all of our python 2/3 compatibility issues.  There may be an issue with python < 2.7&mdash;not sure about that.

[2016-09-06 19:17] jhux2 commented on #594
@spdomin Running the small simulation ( rotatingcube750k_2blks) you sent me, I'm seeing many valgrind warnings in STK and elsewhere when I use Nalu 0da09d6 built with Trilinos 930cce3.  The warnings occur during the assembly phase.  I will put the full log on the CEE lan in ~jhu/forSpdomin.

I am concerned that this is not the same version of Nalu and/or Trilinos that you are using.  Can you confi

[2016-09-06 20:10] bartlettroscoe commented on #229
Reply to @MicheldeMessieres from [above comment](https://github.com/trilinos/Trilinos/issues/229#issuecomment-243495059):

I got pulled off the review by a few things.  I hope to get back to this later this week or next week.  Sorry for the **long** delay.

[2016-09-06 20:41] kddevin commented on #578
@gslota This issue is now fixed.  Let me know if you continue to see errors.

[2016-09-06 20:41] #578 closed

[2016-09-06 21:16] jhux2 commented on #594
After reconfiguring Trilinos 930cce3 with ```Kokkos_ENABLE_Debug_Bounds_Check:BOOL=ON```, the Nalu rotatingcube simulation without valgrind runs to completion.

[2016-09-06 21:18] jhux2 commented on #594
My hope was to trigger an exception in the Tpetra Distributor where the valgrind logs indicate a UMR.

[2016-09-07 03:26] mhoemmen commented on #595
FYI, best performance would depend on Tpetra implementing distribution and redistribution by nonzeros, rather than by rows.

[2016-09-07 03:29] nmhamster commented on #595
@mhoemmen I think I sent you results of doing this on a KNL recently. This is balanced approximately by nonzeros rounded to nearest rows. There is a reasonable performance improvement possible on platforms like KNL and POWER8 where prefetchers etc can kick in to deliver stronger performance. I do not think that we need to do this with inspect/execute since we could hide the partitioning informatio

[2016-09-07 16:28] tawiesn opened #599 "Failing MueLu tests on perseus"
The tests [here](http://testing.sandia.gov/cdash/buildSummary.php?buildid=2554392) are failing.

According to the configuration output it uses a current Trilinos version (e.g., from Sep 2).

I tried to reproduce the problem (using gcc instead of intel, since i have no SEMS environment on my machine), but it is not even linking on my machine.

[code]
So, i don't know what exactly runs in that test.

[2016-09-07 20:20] mhoemmen commented on #595
@nmhamster Sorry I didn't clarify -- I was referring specifically to MPI distribution, and to how Tpetra::DistObject works.  DistObject has a Map; its Map expresses the distribution of its entries over processes.  CrsGraph and CrsMatrix are DistObject subclasses.  Currently, the Map of CrsGraph and CrsMatrix is the same as their row Map.  This means that these objects are distributed by rows -- 1-

[2016-09-08 14:23] nmhamster opened #600 "Zoltan Test Failures on Knights Landing with OpenMPI 1.10.4 and Intel 17.0.098"
Zoltan team I am seeing some issues with the latest builds on Knights Landing and Intel 17.0.098 compilers. I am seeing an insufficient memory error on the failing cases. The node has 16GB + 96GB of memory so I think this should be sufficient?

[code]

[2016-09-08 16:18] jhux2 commented on #599
@trilinos/muelu

[2016-09-08 16:27] jhux2 commented on #594
Update: I rebuilt Trilinos development branch (696d3ef)  and Nalu master (0da09d6) using the SEMS module environment:  gcc 4.9.2, OpenMPI 1.10.1, boost 1.55, zlib 1.2.8, hdf5 1.8.12, netcdf 4.3.2.   Additionally, @mhoemmen added bounds checking to Tpetra::MultiVector’s pack and unpack kernels where the valgrind error occurs (thanks @mhoemmen).

All of the prior STK valgrind errors are now gone.  T

[2016-09-08 17:35] kddevin commented on #600
Indeed, this test graph has only four vertices, so we shouldn't exhaust memory while reading the graph.

Unfortunately, I am unable to reproduce this problem in my environment.  I don't have access to Intel 17.0.  The problem builds/runs fine on my workstations with intel 16.0 as well as with clang and gcc.

@nmhamster Do you see this problem with other versions of the Intel compiler?  May I acces

[2016-09-08 18:03] aprokop commented on #599
The issue is obvious: Zoltan2Interface does not have "number of partitions" in the GetValidParameterList.

Also, why is GetValidParameterList definition is in the MueLu_Zoltan2Interface_decl.hpp instead of _def.hpp? This is against the normal approach.

[2016-09-08 18:17] bathmatt opened #601 "Tpetra::CrsGraph::globalAssemble broken with overlapping row Map (was: "Tpetra graph/matrix fill complete not communicating all data.")"
I have a graph or a matrix which I use to get connectivity between elements and faces, I have rows which are faces and cols which are elements.  I can fill this matrix and then when I do a fill complete it does not communicate the cols.  The row graph is overlapping.  The code is super short and pasted below.  It is not clear from the documentation if this is supposed to work, but talking with peo

[2016-09-08 21:16] spdomin commented on #594
I am using the latest github Nalu version. The memory issues that I reported through the Sierra build is from a very old Nalu version under Sierra. However, since it provided line numbers, I thought this would be useful.

I looked at your memory check. Those issues in STK will be reported to the STK team.

Thanks

[2016-09-08 21:19] jhux2 commented on #594
Thanks for the information on Nalu.  What branch of Trilinos are you using - a release, master, or develop?  And what's the SHA1 of the branch?

[2016-09-08 21:21] jhux2 commented on #594
By the way, I'm not confident at all that the valgrind errors for STK are real.  Those showed up when I used TPLs that I rolled on my own.  I haven't seen the errors (yet) since I rebuilt with the SEMS TPLs.

[2016-09-08 21:24] spdomin commented on #594
I test Trilinos nightly and have noted the same kills. However, the specific case that I am running now uses the following:

commit 6fec5c0cd7cf7c59811a579148b312b7542c8aee
Author: Nathan Ellingwood <ndellin@sandia.gov>
Date:   Thu Aug 18 15:49:06 2016 -0600

In my case, I did not see the STK issues, so perhaps they are new? I will still report it to the STK team since there are real issues surrou

[2016-09-08 21:26] tawiesn commented on #599
@aprokop You're right. The "number of partitions" was missing in the Epetra specialization of the Zoltan2Interface. I forgot to add it there (since i didn't expect it in the *_decl.hpp file).

In the *_decl.hpp file we have a specialization of the Zoltan2Interface for Epetra which either uses Zoltan instead of Zoltan2 underneath or provides a stub implementation. I think the reason was that we wan

[2016-09-08 21:28] mhoemmen commented on #601
@bathmatt Thanks for pointing this out.  How urgent is this?

You tried both CrsGraph and CrsMatrix for this; neither worked correctly.
This could be an issue with globalAssemble.

[2016-09-08 21:30] bathmatt commented on #601
I'm using the three graph solution, it isn't urgent-urgent as it is in
prototype code.  But it will be checked in probably in a month and being
used.

On Thu, Sep 8, 2016 at 3:28 PM, Mark Hoemmen <notifications@github.com>
wrote:

[2016-09-08 21:58] nmhamster commented on #600
@kddevin do you have access to the Bowman test machine?

[2016-09-08 22:06] kddevin commented on #600
@nmhamster I just requested it...stay tuned.

[2016-09-08 22:07] vjleung commented on #600
I do not.

Sent from my iPhone

On Sep 8, 2016, at 3:58 PM, Si Hammond <notifications@github.com<mailto:notifications@github.com>> wrote:

@kddevin<https://github.com/kddevin> do you have access to the Bowman test machine?

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/trilinos/Trilinos/issues/600#issuecomment-245754983>, or

[2016-09-08 22:09] nmhamster commented on #600
@kddevin - thanks, I am hoping we can use the system to see the same results.
@vjleung - can you request?

[2016-09-08 22:11] kddevin commented on #600
@vjleung No worries, Vitus; I will handle this issue with Si.  No need to request a new account.

[2016-09-08 22:14] vjleung commented on #600
@kddevin Okay, thanks.

Sent from my iPhone

On Sep 8, 2016, at 4:11 PM, K Devine <notifications@github.com<mailto:notifications@github.com>> wrote:

@vjleung<https://github.com/vjleung> No worries, Vitus; I will handle this issue with Si. No need to request a new account.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/trili

[2016-09-08 22:20] aprokop commented on #599
OK. I did not notice the stub.

[2016-09-08 22:29] jhux2 commented on #594
What branch are you on:  develop, master, or a release?

[2016-09-09 05:02] mhoemmen commented on #601
The implementations of Crs{Graph,Matrix}::globalAssemble currently both assume that each process only needs to send information for a row to at most one process.  This means that they likely won't work if the row Map is overlapping.  I have changed the title to reflect this.

We've known this for a while.  See e.g., Bugzilla Bug 5782, comment number 34 (and comments in the implementation of CrsMat

[2016-09-09 13:23] spdomin commented on #594
Trilinos master. I was instructed to avoid the develop location, although as you have seen from recent messages, I am considering switching my testing protocol to find issues faster.

Please call me today since a lot of the above conversation seems to indicate a personal connection is required.

[2016-09-09 14:31] bathmatt commented on #601
Is there a check for this to error out?  It was very hard to debug and I
didn't see any docs on this in the user manual.  So, at least a bug to
check is one-to-one should be there and abort in debug build.

So, if I make my first map oneToOne I can get rid of one graph and only do
one export.

On Thu, Sep 8, 2016 at 11:02 PM, Mark Hoemmen <notifications@github.com>
wrote:

[2016-09-09 15:12] bartlettroscoe commented on #482
CC: @maherou, @bmpersc

There was an example push yesterday shown here:

*   http://testing.sandia.gov/cdash/index.php?date=2016-09-08&project=Trilinos&parentid=2556724

that demonstrates why we urgently need to get this story completed.

I will work this next week to get the new checkin-test.py script in place including selecting the new set of PT packages and TPLs based on the SEMS env.  We need

[2016-09-09 16:37] jhux2 commented on #594
The rotatingcube750k_2blks simulation on 16 cores finished last night.  The error reported in UnpackArrayMultiColumn did not manifest. The only errors reported are related to OpenMPI, which if memory serves, has never been clean under valgrind.  Note that I was using the Trilinos "develop" branch.

This suggests to me that there was a problem in master that has since been fixed in develop.   There

[2016-09-09 19:21] mhoemmen commented on #601
Whatever, I'm working on it right now.

[2016-09-09 19:37] bathmatt commented on #601
Thanks,
I have the work around working with only one extra graph vs the initial two

On Fri, Sep 9, 2016 at 1:21 PM, Mark Hoemmen <notifications@github.com>
wrote:

[2016-09-09 21:19] mhoemmen opened #603 "Tpetra::CrsMatrix::globalAssemble broken with overlapping row Map"
@trilinos/tpetra See #601 for discussion.
This depends on #607.

[2016-09-09 21:21] mhoemmen commented on #601
I split off the CrsMatrix::globalAssemble issue into #603.

I think I've fixed this one.  I'll try the existing unit tests first, then I'll add some more unit tests in the case of an overlapping row Map (the current unit tests don't exercise this case, as far as I can tell -- that's probably why they passed before ;-) ).

[2016-09-09 21:56] mhoemmen commented on #601
The fix passes existing unit tests.

[2016-09-09 21:59] kddevin opened #604 "Zoltan2 default types for CrsGraph adapter may not match ETI types"
Zoltan2 defines its own default types:  SCALAR,LO,GO = double,int,int.
We use the types from the user's input when available, so there are no problems when the user gives us a CrsMatrix.
If the user gives us a CrsGraph, however, our SCALAR defaults to double.  So when ETI builds with SCALAR=float, compilation of our CrsGraph adapter tests fail; our tests pass float while the CrsGraph adapter expec

[2016-09-09 23:47] mhoemmen commented on #601
My fix had a minor bug in the case of an overlapping row Map.  I added a unit test for that case, which caught the bug.  I fixed the bug, and am running check-in tests now.

[2016-09-09 23:49] mhoemmen commented on #601
Your work-around may still perform better, especially if you can avoid or amortize the createOneToOne call.  Thus, I think it's actually the better option and you should leave it in the code if it at all makes sense.

[2016-09-10 00:01] mhoemmen commented on #601
I just pushed a fix, with a unit test that passes.

[2016-09-10 00:01] #601 closed

[2016-09-12 02:31] spdomin commented on #594
I test against head. If this is fixed in develop then when will head be updated? Also, what is the policy when a bug is found in master? Does an update occur ASAP?

Also, did you start testing off of develop straight out?

[2016-09-12 15:22] mhoemmen opened #606 "Tpetra::Crs{Graph,Matrix}: Either remove getGlobalNumEntries & getGlobalMaxNumRowEntries, or make them global collectives"
@trilinos/tpetra
@trilinos/amesos2 @trilinos/ifpack2 @trilinos/muelu @trilinos/xpetra @trilinos/zoltan2

Tpetra::CrsGraph and Tpetra::CrsMatrix provide three methods, getGlobalNumDiags, getGlobalNumEntries, and getGlobalMaxNumRowEntries.  These methods do _not_ currently have collective semantics.  Thus, it must be correct to call them at any time (when the graph / matrix is fillComplete), on any

[2016-09-12 16:33] mhoemmen opened #607 "Tpetra::(Export, Import): Add isLocallyComplete()"
@trilinos/tpetra
This blocks #603.

The isLocallyComplete() predicate will tell users if some (source, target) Map indices don't exist on any process in the (target, source) Map.

Tpetra::CrsMatrix has a test (BadGID) that expects fillComplete to detect invalid global row indices, that insertGlobalValues received as nonlocal inserts.  ("Nonlocal" inserts are inserts into nonowned rows.  CrsMatrix

[2016-09-12 17:35] jhux2 commented on #594
@spdomin It looks like master was updated to be sychronized with develop since my last post.  @bmpersc Could you verify whether this is correct?

If there is a serious bug in master (which I'd say this one is), we would try to patch master asap.

Yes.  It wasn't clear to me which branch you were using.  In the past you've used the Trilinos development version, I assumed that's what you were using

[2016-09-12 20:15] mhoemmen commented on #607
Note to self: The "createExpert" version of the Import constructor can set this by looking in userExportPIDs for any -1 entries.  (Export doesn't have an "expert constructor," for some reason likely relating to the needs of sparse matrix-matrix multiply.  @csiefer2 or @DrBooom , could you comment?  Thanks!)

[2016-09-12 21:13] bartlettroscoe commented on #321
@bradking, now that SNL has a contract with Kitware to help support Trilinos at SNL, do you think you might look into updating the nvcc_wrapper to address problem with Ninja dependencies as per your [above comment](https://github.com/trilinos/Trilinos/issues/321#issuecomment-215820056)?

Otherwise, I will wait until we have Ninja Fortran support integrated into CMake 'master' and a more standard w

[2016-09-12 21:27] lxmota commented on #579
I made the commit above and used the check-in script to test it last week. No problems so far so I'm closing this issue.

[2016-09-12 21:27] #579 closed

[2016-09-12 21:28] mhoemmen opened #608 "Tpetra::Distributor: Split out execution of comm pattern into separate class"
@trilinos/tpetra

Tpetra::Distributor currently combines setting up a communication pattern, with executing that pattern.  Methods for executing the communication pattern are templated on Packet type.

We might like to have different Distributor back-ends, in order to support communication protocols other than MPI 2-sided.  (For example, we could have an MPI 1-sided implementation, or a PGAS imple

[2016-09-12 21:51] bartlettroscoe opened #609 "Remove duplication and improve reuse of MiniTensor code in Trilinos"
**CC:** @amota, @trilinos/intrepid2

**Description:**

When Intrepid2 was created, it duplicated the MiniTensor code and created a maintenance problem.

This Story is to examine ways to eliminate the duplication of the MiniTensor code and improve its reuse in Trilinos and other projects.

**Tasks:**

1) Get copyright for MiniTensor [Done]
2) Create a new TriBITS Trilinos PT package called "MiniTen

[2016-09-12 22:01] bartlettroscoe commented on #609
Below is an email thread that I had with @amota about options for dealing with MiniTensor.

The next step will be to call a short meeting of interested Intrepid and Intrepid2 developers and stakeholders for decide how to deal with the duplication of MiniTensor (and perhaps other duplicated code?).

@amota, given that this is your code and you know these developers and stakeholders the best, could

[2016-09-12 22:10] rppawlo commented on #609
Alejandro,

Please add me to the meeting too.

Roger

[2016-09-12 23:19] bmpersc commented on #594
Yes I updated the master branch from develop this morning.

[2016-09-12 23:21] spdomin commented on #594
Okay, I was lax in my usage of HEAD... In that last message, I should have said master... Sorry, I will be more precise next time.

[2016-09-12 23:50] bartlettroscoe commented on #482
One issue that came up in my conversation with Alejandro Mota today about the difficulty of safely pushing changes to Trilinos was that the SEMS Dev Env is not really available for SNL/CA staff members.  That is because the offical COE in SNL/CA is RHEL 5!  Therefore, most SNL/CA staff members just build their own Linux machines (and they don't use the SNL/NM RHEL 6 COE).  Therefore, even if they

[2016-09-12 23:55] nmhamster commented on #482
Why can't SNL/CA upgrade? Having multiple OS installs, especially ones that are so old is really difficult to support at this level.

[2016-09-13 00:01] bartlettroscoe commented on #482
I don't know the answer to that.  We would have to ask them.  I heard this from @amota about his situation at SNL/CA when I suggested that they use the SEMS Dev Env to provide a safe way to push to Trilinos.

[2016-09-13 00:03] nmhamster commented on #482
I think we should explore this question some more. RHEL5 was getting old during my PhD!

[2016-09-13 13:22] ibaned commented on #482
Either of these would be helpful for developers outside SNL/CA with their own machines.

[2016-09-13 13:52] rppawlo opened #611 "Thyra::DetachedVectorView warnings in gcc 6.2"
@trilinos/thyra

The Thyra::DetachedVectorView is generating warnings with gcc 6.2 compiler due to exceptions being called in the destructor:

[ 98%] Building CXX object tempus/test/TestModels/CMakeFiles/tempus_test_models.dir/CDR_Model.cpp.o
In file included from /Users/rppawlo/Trilinos/packages/teuchos/core/src/Teuchos_Assert.hpp:46:0,
                 from /Users/rppawlo/Trilinos/packages/teuch

[2016-09-13 15:17] mhoemmen commented on #611
This isn't _too_ bad.  http://en.cppreference.com/w/cpp/language/noexcept_spec says:  "If a search for a matching exception handler leaves a function marked noexcept or noexcept(true), std::terminate is called immediately."  Thus, it's not undefined behavior for a function marked noexcept to throw.

[2016-09-13 16:34] bartlettroscoe commented on #611
It is bad form in general to allow exceptions to leave destructors.  The thread-safe implementation of the Teuchos Memory Management classes will no longer provide the "strong guarantee" when exceptions are thrown (see #229).  Therefore, we should work to stop all exception from from leaving destructores.

It think the way we need to handle these is to create a new Teuchos macro called something l

[2016-09-13 17:00] mhoemmen commented on #611
I think it's reasonable in general.  Take a look at the specific case, though:
[code]
This smells like something that the constructor should check.  If the constructor has already checked this case, then the destructor just plain doesn't need to check.

[2016-09-13 17:59] bartlettroscoe commented on #611
I would have to look at the full context for this but my guess is that this is being (perhaps) overly careful.  But given undefined behavior and crazy memory usage bugs, having these types of checks is not a bad idea in a debug-version of the code.

[2016-09-13 19:40] spdomin commented on #594
I have updated my Nalu executable using the following Trillions SHA-1 from master:

commit d96723df90660185a9d117eaa7788b085c9afd2d
Author: Edward G. Phillips <egphill@sandia.gov>
Date:   Mon Sep 12 13:14:33 2016 -0600

When I run the cube simulation with the following memory diagnostic:

realms:
  - name: realm_1
    activate_memory_diagnostic: yes

I still see a slight increase in max memory as

[2016-09-13 23:38] spdomin commented on #594
This is really depressing. My simulation died at the same code path that it did before. In the Muelu solve at step 492 using the above Trilinos master SHA-1.

@jhux2 can you try running your case out without memory checking to see if it also dies at this step?

[2016-09-14 17:07] kddevin opened #612 "Teuchos questions about behavior of AnyNumberParameterEntryValidator"
@trilinos/teuchos

The Teuchos documentation says the following about AnyNumberParameterEntryValidator:

"Standard implementation of a ParameterEntryValidator that accepts numbers from a number of different formats and converts them to numbers in another format."

I wrote a test program to understand the behavior of this validator, and the results of the test did not match my expectations.

1.  I

[2016-09-14 17:15] mhoemmen commented on #607
Tests were passing yesterday.  One unrelated (Piro Epetra) check-in test failed last night, so I'm rerunning the check-in test script with that test excluded.

[2016-09-14 17:15] mhoemmen commented on #603
Tests were passing yesterday.  One unrelated (Piro Epetra) check-in test failed last night, so I'm rerunning the check-in test script with that test excluded.

[2016-09-14 17:19] mhoemmen commented on #580
I don't see that this test is failing any more, so I'm closing this issue.

[2016-09-14 17:19] #580 closed

[2016-09-14 17:19] mhoemmen commented on #568
Regarding #580, I don't see the failing test any more, so I closed that issue.

[2016-09-14 17:42] mhoemmen commented on #607
MPI_DEBUG tests passed.  SERIAL_RELEASE build running now.

[2016-09-14 17:42] mhoemmen commented on #603
MPI_DEBUG tests passed.  SERIAL_RELEASE build running now.

[2016-09-14 18:03] bartlettroscoe commented on #612
@kddevin,

It has been **many** years since I looked at this stuff at all but I poked around a little to see if there was anything obvious that I could see looking at your example and the source code for this.

First let me apologize for the lack of automated testing for a lot of this code but I wrote it before my "conversion" in 2007-2008 to a a die-hard TDD unit tester.  Therefore, we can't just

[2016-09-14 18:24] krcb commented on #612
Is there a reason that the referenced Teuchos methods don't use std::stoi, std::stod? See e.g.

http://www.cplusplus.com/reference/string/stoi/
http://www.cplusplus.com/reference/string/stod/

These include throwing exceptions for a range of cases which could presumably be wrapped in an appropriate try/catch? One reason could be that it is useful / necessary to be able to extract any number from a

[2016-09-14 18:34] spdomin commented on #594
With the Trilinos SHA-1:

**d96723df90660185a9d117eaa7788b085c9afd2d

And the Trilinos install as follows:

/gitHubWork/scratch_build/install/gcc4.8.5/Trilinos_stable_release/include/MueLu_XpetraOperator_decl.hpp

With the Nalu config as follows:

nalu_install_dir=/gitHubWork/scratch_build/install/gcc4.8.5
trilinos_install_dir=$nalu_install_dir/Trilinos_stable_release

I am still seeing the follow

[2016-09-14 19:18] mhoemmen commented on #612
Those are C++11 functions.  They did not exist at the time.  Furthermore, software other than Trilinos uses Teuchos and does not want to require C++11, so Teuchos itself may not have a required C++11 dependency.

[2016-09-14 19:24] mhoemmen commented on #594
@spdomin Would you consider trying a debug build of Trilinos?
[code]
This turns on bounds checking for both Kokkos::View and Teuchos::Array*, as well as other debug-mode checks.  Tpetra in particular does extra checking specifically on the pack and unpack kernels when you set these options.

[2016-09-14 19:24] krcb commented on #612
Can we wrap some additional capabilities in a HAVE_CXX11 ifdef, much as is being done for the thread-safe RCP work?

[2016-09-14 19:33] jhux2 commented on #594
@mhoemmen Thanks for the suggestions.  I asked @spdomin to rebuild Trilinos with
```-D HAVE_TPETRA_DEBUG:BOOL=ON```, which enabled the bounds checking on the pack/unpack kernels, right?

[2016-09-14 19:59] kddevin commented on #612
I did a quick check:

Indeed, std::stod works to resolve the problem (1) when used in place of std::atof in the validator, but I understand the c++11 restrictions.

Teuchos::as<double>() does not work, as the argument is const char* and there are no specializations for const char *.  Thus, the code does not compile:
Trilinos/packages/teuchos/core/src/Teuchos_as.hpp:2864:67:   required from 'TypeTo

[2016-09-14 20:07] kddevin commented on #612
Also,
double dd = anyNumVal->getDouble(pl.getEntry(parameterName));
does, indeed, work, as it calls the conversion in the validator.

However, refactoring all our code to fetch validators and retrieve values through them rather than use getValue<> would be significant work.  Can pl.getEntry(parameterName).getValue<> do that work (that is fetch its own validator and call the appropriate function ra

[2016-09-14 20:12] mhoemmen opened #613 "Tpetra::Map/Epetra_BlockMap: preserve indexBase in ReplaceCommWithSubset"
@trilinos/xpetra @trilinos/tpetra @tawiesn @csiefer2

The index base is redundant; users can get this information from the min or min overall global index.  Furthermore, it's confusing that Epetra requires the index base to equal the min overall global index.  This causes problems with implementing subset and strided Maps.

Changing this requirement on the index base might break backwards compatib

[2016-09-14 20:16] mhoemmen opened #614 "Epetra_DistObject: Get rid of DistributedGlobal_ field"
@trilinos/xpetra @trilinos/tpetra @tawiesn @csiefer2

Get rid of Epetra_DistObject::DistributedGlobal_.  That field is redundant with its Map's field.  This causes confusion when implementing ReplaceMap, e.g., in Epetra_MultiVector.

[2016-09-14 20:22] mhoemmen commented on #603
Tests passed; pushed changes.

[2016-09-14 20:22] #603 closed

[2016-09-14 20:22] mhoemmen commented on #607
Tests passed; pushed changes.

[2016-09-14 20:22] #607 closed

[2016-09-14 20:26] mhoemmen commented on #594
@jhux2 wrote:

Yes, that enables bounds checking specifically on the pack and unpack kernels.  I think it would be wise to enable Kokkos::View and Teuchos::Array* bounds checking as well.  That covers some of the errors for which one would otherwise need Valgrind, at less run-time cost.

[2016-09-14 20:33] jhux2 commented on #594
Thanks -- so you recommend

[code]

[2016-09-14 20:36] mhoemmen commented on #594
Omit the last line.  `HAVE_TPETRA_DEBUG` is a macro, not a CMake variable. Tpetra enables its debug mode by default if `CMAKE_BUILD_TYPE:STRING=DEBUG` is set.

[2016-09-14 20:41] jhux2 commented on #594
Right, copy-and-paste error.  I actually am using ```-DTpetra_ENABLE_DEBUG:BOOL=ON``` in my configure ....

[2016-09-14 20:53] bartlettroscoe commented on #612
We can use ifdefs for ` HAVE_TEUCHOSCORE_CXX11`.  There are lots of examples in Teuchos.  We just need to add formal unit tests for this in Teuchos for the expected behavior then change the code.  That should be easy.  I am assuming because Zoltan2 needs this then having this require C++11 is fine?

Not sure.  I will have to look at the details some.

Can someone show me the concrete use case in c

[2016-09-14 21:04] kddevin commented on #612
In pull request #497 test AllParameters.cpp demonstrates the first problem.  It accepts a bad value.
The test problem I attached demonstrates both problems (with a bit of uncommenting).  It could be the start of a Teuchos test, if you like.
I will be around next week and would be happy to chat.  Thanks.

[2016-09-14 21:19] tawiesn commented on #613
According to Chris, it is not a strict requirement for indexBase to be the global minimum of the global indices. The most reasonable solution is to keep the old index base in the ReplaceCommWithSubset routine. There is no reason why this routine should change the indexBase of the map (even if the subset comm keeps only a subpart of all GIDs the index base should not change...)

[2016-09-14 21:37] jmgate opened #615 "Panzer: Split up Owned and Ghosted Vectors"
Currently the `DOFManager` has `owned_` and `owned_and_ghosted_` vectors, where the second contains a copy of the first.  This work is to split those up such that we don't have any data replication, while maintaining the same functionality.
@trilinos/panzer

[2016-09-14 21:39] jmgate commented on #615
A first task is the terms 'ghosted' and 'shared' are used throughout the `DOFManager` to mean the same thing.  This should be cleaned up&mdash;we're going with 'ghosted' throughout.

[2016-09-14 21:50] mhoemmen commented on #594
This is ON by default if the CMAKE_BUILD_TYPE is DEBUG.

[2016-09-14 22:00] tawiesn commented on #614
Epetra_DistObject::DistributedGlobal_ is easy and safe to remove. In fact, it is only used in Epetra_DistObject in three places as well as in the Epetra_MultiVector.

[2016-09-14 22:04] tawiesn commented on #613
For your information: it's the same for Tpetra.
@mhoemmen,@csiefer2: i propse to replace
[code]
by
`      return rcp (new map_type (globalNumElts, myElts, getIndexBase(), newComm, node));
`
in Tpetra::Map::replaceCommWithSubset
@mhoemmen: could you test this for me? There's still this issue with my configuration which makes the Tpetra tests crash.

[2016-09-14 22:22] mhoemmen commented on #613
@tawiesn Would you consider using the testbeds for testing?  I could also get you an account on my workstation if that doesn't work.

[2016-09-14 22:27] mhoemmen opened #616 "Tpetra::Map: Deprecate & remove getIndexBase() method"
@trilinos/xpetra @trilinos/tpetra @tawiesn @csiefer2

Issues like #613 point out the uselessness of the Tpetra::Map::getIndexBase() method.  Users often think that "index base" means "0 for C or C++; 1 for Fortran."  This is _not_ the case; Tpetra::Map confusingly requires that the index base equal the globally minimum global index.  (Tpetra inherited this requirement from Epetra; Epetra_Map also

[2016-09-14 22:31] tawiesn commented on #613
@mhommen: yeah i can do that. I think i just start with a simple Tpetra configuration that should also work on my workstation.

[2016-09-14 22:43] mhoemmen commented on #613
I feel better about that.  I'm happy to test for CUDA but we should really get you a sensible configuration that works for Serial and OpenMP.  Otherwise you'll have to wait on me too much :-)

[2016-09-14 22:43] tawiesn commented on #616
I think even

is not a "requirement". If it would have been a requirement my code would never have worked properly.
IndexBase is used in the constructor as some kind of "offset" for GIDs in some constructors. Tpetra requires the indexBase to be the same over all processors (which is a reasonable requirement even though i don't really see what it is good for. It's only checked in the debug mode).

[2016-09-15 04:30] mhoemmen commented on #616
By "requirement," I meant "Map's constructor checks this condition (in a debug build at least) and throws if it is not true."

It would be better, perhaps, if Tpetra called this "global starting index."

One of my long-term projects is to rewrite Tpetra so that error states get disseminated whenever communication naturally needs to happen, rather than forcing barriers or all-reduces to check thing

[2016-09-15 04:30] mhoemmen commented on #616
Does this "offset" parameter mean something different than the globally min global index?

[2016-09-15 14:38] eric-c-cyr commented on #615
This looks good. To be clear you clarified the distinction between using Neighbors and Ghosted values as well right?

[2016-09-15 15:30] tawiesn commented on #616
Yes and no. It has a similar intention than the classic indexBase and has only a real meaning for constructing the maps. But the offset parameter does not necessarily and generally denote the minimal global id. Let me give an example: Let's say we have a NS Stokes problems with 3 velocity and 1 pressure dofs per node (we denote this by the vector notation {3,1} in the stridedInfo variable). Since

[2016-09-15 15:36] jmgate commented on #615
That's correct.  It seemed like the term 'ghosted' was overloaded, sometimes referring to all ghosted IDs, and sometimes referring only to ghosted IDs from neighbor element blocks.

[2016-09-15 15:56] tawiesn commented on #613
I have a working configuration with Tpetra tests now. Not sure, what's wrong with my other configuration.

[2016-09-15 16:34] mhoemmen commented on #613
Yay! :-D

[2016-09-15 17:55] egboman commented on #456
The outline above is a good start but I ran into a few more issues (discussed at 9/15 meeting):

1) TPL_Traits is needed to convert arrays of different types when calling TPLs like Scotch.
2) The Zoltan2::Algorithm base class currently has a method order() but it probably needs both localOrder() and globalOrder() as they need different template arguments.
3) The ordering algorithm classes need to

[2016-09-15 18:28] mndevec commented on #600
@kddevin  @nmhamster
Si, Karen,
I run this both with -O3 and -O0 flag. I did not track down the bug, but it  fails only with -O3 flag, as I have experienced previously in my code. It is a bold claim, but I suspect if something is wrong with the compiler. The previous test example that was resulting in wrong computation with -O3 flag is below.

[code]

[2016-09-15 19:13] mndevec commented on #600
Aligned with -O0 flag, it seems that changing the loop below around line ~400

[code]
to
[code]

is fixing the problem. But I don't see why would volatile be necessary.

[2016-09-15 19:18] mhoemmen commented on #616
Thanks @tawiesn !  I think I understand better now.

Do you think it would be useful for Tpetra to have these strided Maps?

[2016-09-15 19:21] mhoemmen opened #617 "Tpetra::CrsGraph::makeIndicesLocal: Thread-parallelize it & remove UVM assumption"
@trilinos/tpetra Make Tpetra::CrsGraph::makeIndicesLocal thread parallel, and remove the UVM assumption where possible.

This depends on #621.

[2016-09-15 19:38] tawiesn commented on #616
I don't think so. It is an abstract extension of Epetra/Tpetra maps about the internal meaning of the GIDs in a map. There is nothing which would be Epetra or Tpetra specific, so i think Xpetra is the right place for it to live.

Furthermore, i'm not super happy with my current implmeentation. So, if someone wants to have such a functionality directly in Tpetra we should talk first about a better

[2016-09-15 19:50] tawiesn commented on #614
My patch passed all Epetra tests on my machine. Let's check the dashboard tomorrow.

[2016-09-15 20:20] jmgate commented on #615
In `panzer::DOFManager` the `owned_and_ghosted_` vector has been replaced with a `ghosted_` one (`owned_` already existed), and the same functionality has been maintained without the data duplication.  The next step is to see about modifying our Epetra scatter/gathers.

[2016-09-15 20:50] bartlettroscoe commented on #609
The decision was to try to make MiniTensor its own Trilinos/TriBITS package.  See below email just sent out.

[2016-09-15 20:54] mhoemmen opened #618 "Stokhos: Link errors due to recent Tpetra ETI improvements"
@trilinos/stokhos @trilinos/tpetra

Recent Tpetra ETI improvements may have caused link errors in Stokhos, relating to Tpetra::Details::getLocalDiagCopyWithoutOffsetsNotFillComplete.  This affects Albany, as reported by @lxmota .

[2016-09-15 21:07] tawiesn commented on #618
It also affects drekar as well...

[2016-09-15 21:12] mhoemmen commented on #618
I'm working on it.

[2016-09-15 21:14] kddevin commented on #600
As a sanity test, I ran these tests through purify; no memory misbehavior was reported.

[2016-09-15 21:43] mhoemmen commented on #618
Hm, I'm stuck, not sure what to do.  E-mailed @etphipp for help.

[2016-09-15 21:55] mhoemmen commented on #618
[ 70%] Building CXX object packages/stokhos/src/CMakeFiles/stokhos_tpetra.dir/sacado/kokkos/pce/tpetra/Tpetra_CrsMatrix_UQ_PCE_Serial.cpp.o
In file included from /scratch/prj/Trilinos/Trilinos/packages/stokhos/src/sacado/kokkos/pce/linalg/Kokkos_ArithTraits_UQ_PCE.hpp:46:0,
                 from /scratch/prj/Trilinos/Trilinos/packages/stokhos/src/sacado/kokkos/pce/tpetra/Stokhos_Tpetra_UQ_PCE.hpp:

[2016-09-15 21:55] mhoemmen commented on #618
I'm trying to add the appropriate ETI macros to Tpetra_CrsMatrix_UQ_PCE_$NODE.cpp in Stokhos (where the Sacado ETI happens), but it's not working.

[2016-09-15 22:06] mhoemmen commented on #618
Manually pasting the missing instantiations (not the macros) into the .cpp files mentioned above fixed some link errors, but now I get these:
[code]
If those ArithTraits specializations live in a header file somewhere, I'll need to include that header file.

[2016-09-15 22:15] mhoemmen commented on #618
It looks like those ArithTraits specializations live in the following header file:

Kokkos_ArithTraits_MP_Vector.hpp

[2016-09-15 22:20] mhoemmen commented on #618
Hm, including that header file worked.  Yay!  Let me now see if I can get the macros to work.  Otherwise, I can still fix this, but it will be an ugly temporary solution that @etphipp will have to clean up later.

[2016-09-15 23:50] ambrad opened #619 "Promote Tpetra::Experimental::Block* classes to non-Experimental"
The objective of this issue is to free up the Experimental::Block\* classes for backwards-incompatible, NGP-friendly refactoring, while providing current Experimental::Block\* users with the current impl.

[2016-09-16 15:23] spdomin commented on #594
Okay, based on the comments above, I have been running with the above option by virtue of my config file line: -DCMAKE_BUILD_TYPE=DEBUG \

Can I assume this is the same as: -DCMAKE_BUILD_TYPE:STRING=DEBUG

In the end, the debug run looks clean whereas my opt runs are still showing the memory error in valgrind runs and the killed behavior at step 492 for production runs. I guess I might try mixing

[2016-09-16 15:52] mhoemmen commented on #594
Yes, those are the same.  The type qualifier is optional.

I would recommend enabling Kokkos and Teuchos bounds checking, using the CMake options mentioned above (not CMAKE_BUILD_TYPE).  You may enable those even in a release build.

[2016-09-16 15:54] mhoemmen commented on #619
@tcfisher may be interested in the outcome.

[2016-09-16 16:01] mhoemmen commented on #618
I'm running tests for the temporary fix.  Couldn't figure out how to make the macros work (they seemed to have no effect), so I just pasted in the required instantiations.

[2016-09-16 16:05] spdomin commented on #594
I have conformed the behavior that release shows the memory problems while debug does not. This is a real pickle...

[2016-09-16 16:25] mhoemmen commented on #618
hold on, just making sure everything builds right...

[2016-09-16 16:30] mhoemmen commented on #618
Just pushed a temporary fix.

[2016-09-16 16:30] #618 closed

[2016-09-16 16:37] mhoemmen commented on #594
Was that using Valgrind or Kokkos / Teuchos bounds checking?  If the latter, could you please post the error message?

[2016-09-16 16:38] maherou commented on #594
Just to make sure:  Are there any changes in what is compiled in Nalu when switching between debug and non-debug builds?  I recall this being an issue before in a different situation.

Mike

From: "Stefan P. Domino" <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Friday, September 16, 2016 at 11:05 AM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Subject

[2016-09-16 17:15] mhoemmen commented on #35
The fix for #603 completely reimplemented Tpetra::CrsMatrix::globalAssemble.  This made this issue go away.

[2016-09-16 17:15] #35 closed

[2016-09-16 17:21] #613 closed

[2016-09-16 17:21] tawiesn commented on #614
All tests are fine. Close issue

[2016-09-16 17:21] #614 closed

[2016-09-16 17:35] mhoemmen commented on #36
This is a _story_ because it's concrete.  It's not a _task_, because making it well defined will require breaking it up into a number of tasks.

[2016-09-16 17:37] mhoemmen commented on #43
I'm calling this an "enhancement" because it's not clear how important this is (that doesn't mean it's _not_ important, just that we haven't evaluated its importance yet, nor do we have a customer demand indicating its importance).

[2016-09-16 17:38] mhoemmen commented on #43
I'm calling this a "story" because it's not clear what the tasks are yet.

[2016-09-16 17:41] mhoemmen commented on #119
This is story-level, because it needs to be broken up into smaller tasks in order to succeed.
The solution for #601 actually addressed a small part of this for CrsGraph.

[2016-09-16 17:43] mhoemmen commented on #122
Fixing this may require Tpetra test revisions, since some tests may expect getGlobalRowCopy to throw in this case.

[2016-09-16 17:45] mhoemmen commented on #173
@nmhamster What's the story here?  Does this work now?

[2016-09-16 17:47] mhoemmen commented on #189
This may build upon James Elliott's work on reproducible floating-point summation.

[2016-09-16 17:48] mhoemmen commented on #193
I'm calling this a "story," because it's not clear yet how to split it into tasks.

[2016-09-16 17:49] mhoemmen commented on #213
Please test Ifpack2, Xpetra, and MueLu, since they depend on getLocalDiagOffsets.

[2016-09-16 17:50] mhoemmen commented on #236
Please check Xpetra (currently known to use the deprecated method) and MueLu.

[2016-09-16 17:51] mhoemmen commented on #248
@DrBooom finished this and tested it in Tpetra; it works there.  Not sure about current Epetra status.

[2016-09-16 17:53] mhoemmen commented on #361
This is not properly a Tpetra issue; it's a Trilinos-wide issue.

[2016-09-16 17:55] mhoemmen commented on #384
I'm calling this a "story," because the interface isn't clear yet.

[2016-09-16 17:56] ibaned commented on #189
In case it can be of any use as another reference, a Kokkos-based and MPI-scalable implementation of reproducible summation can also be found here:
https://github.com/ibaned/omega_h2/blob/master/src/repro.cpp

[2016-09-16 17:57] mhoemmen commented on #386
I'm calling this a "task," because the interface should be just whatever we plan to use to encapsulate a nonblocking all-reduce.

[2016-09-16 17:57] bartlettroscoe commented on #361
Yes, but it is strongly related to Tpetra.  How you use labels for such a purpose is open for debate.

[2016-09-16 18:02] mhoemmen commented on #619
Here is the current plan:

  1. Import Tpetra::Experimental::Block* classes into Tpetra namespace with `using` declarations
  2. Change Block* tests to use the classes in the Tpetra namespace
  3. Once we decide to make a change to a Block* class, we'll first copy that class, as it stands now, into the Tpetra namespace.  Then, we'll start modifying the version of the class in the Tpetra::Experimen

[2016-09-16 18:03] mhoemmen commented on #617
I've experimented a bit with this.  The main trick is that the array with the number of entries in each row is currently a host array.  Will need a "device mirror" to avoid copying in general.

[2016-09-16 18:07] mhoemmen commented on #437
Tpetra::Details::isLocallyFitted (see Trilinos/packages/tpetra/core/src/Tpetra_Map_decl.hpp) provides the local version of this predicate.

[2016-09-16 18:07] #437 closed

[2016-09-16 18:09] mhoemmen commented on #505
This is a "task" because it's well defined and could be done by one person.  However, please note specializations of Tpetra::MultiVector in Stokhos (and Sacado too?).  Those must also be fixed.

[2016-09-16 18:11] mhoemmen commented on #555
The main work here is writing the test.  The change itself is not hard.

[2016-09-16 18:11] mhoemmen commented on #564
This is a good warm-up project.

[2016-09-16 18:12] mhoemmen commented on #606
This is a "task," but if you take this one, please be sure to check downstream packages.  This is particularly important for Xpetra and MueLu.

[2016-09-16 18:13] mhoemmen commented on #616
I'm calling this a "task," but if you take this, please be careful to check downstream packages.

[2016-09-16 18:36] tawiesn commented on #606
Xpetra and MueLu definitely use getGlobalNumEntries (e.g. in some unit tests)

[2016-09-16 18:36] bmpersc opened #620 "Missing file in Panzer"
It looks like the following file is missing in Panzer

Panzer_ElemFieldPattern.cpp

it was added to the sources of a test recently in commit eb88973b.

I need to make progress on an STK/SEACAS integration so I will comment out the test for now. If someone could investigate the test to see if the file is truly missing or if it should be removed from the sources of the test I'd appreciate it.

[2016-09-16 18:43] mhoemmen opened #621 "Tpetra: Add "device mirror" for Kokkos::View"
@trilinos/tpetra
This blocks #617.

I wonder if the code below requires C++14:
[code]

[2016-09-16 18:50] mhoemmen commented on #606
1. Could those unit tests replace that call with an all-reduce on getNodeNumEntries()?
  2. Could Xpetra change semantics of its getGlobalNumEntries() so that it's allowed to be collective?

Thanks Tobias!  I don't mean to make more work; I'm just prepping Tpetra issues for discussion with our new arrival next week.

[2016-09-16 18:51] mhoemmen commented on #361
Tpetra's not the center of the universe ;-)  ETI touches a lot of packages.  We could list all the packages, or none of them and call this "Framework."

[2016-09-16 18:52] mhoemmen commented on #189
Thanks @ibaned !  I didn't realize you had an interest in this!

One of James' goals is to make this work for atomic += as well, in an O(1) memory-scalable and time-scalable way.  He uses an entirely different approach for that.  If you're interested, just let me know and I'll put you in touch with him.

[2016-09-16 18:55] mhoemmen commented on #560
I'm calling this a "task," because the work to do is well defined (implement SingletonRowGraph), and could be done by one person.

[2016-09-16 18:57] mhoemmen commented on #552
I'm calling this a "task," but if you fix this, you should first notify @tcfisher, @jhux2, and @bmpersc .  This could affect some application codes.

[2016-09-16 18:58] ibaned commented on #189
bitwise reproducibility is crucial to mesh adaptation because mesh connectivity is modified based on whether values are above or below a fixed threshold, so yes if there is work in this area I am interested.

[2016-09-16 19:06] mhoemmen commented on #189
@ibaned I just sent you and James an e-mail.  Thanks!

[2016-09-16 19:57] bmpersc commented on #620
Looks like this was addressed while I was testing. The actual fix is better than my temporary patch so I am closing this.

[2016-09-16 19:57] #620 closed

[2016-09-16 20:05] mhoemmen commented on #621
Here's the Kokkos code for creating a (host) mirror view (`create_mirror_view`).  (`create_mirror` actually allocates a View.)

[code]

[2016-09-16 20:15] mhoemmen commented on #621
Here is a proposed signature of the function we want:
[code]

[2016-09-16 20:16] mhoemmen commented on #621
We can't just use Kokkos::create_mirror or Kokkos::create_mirror_view directly, because they depend on the HostMirror typedef.

[2016-09-17 00:18] jhux2 commented on #594
I'm still unable to reproduce the conditional-jump-depends-on-uninitialized-value in Valgrind using any version of Nalu that I compile.  When I run the exec that @spdomin compiled, I do see that jump.

Details: I built Trilinos/Nalu in four different configurations on the CEE lan, using @spdomin's TPLs.  All cases use Trilinos master (SHA1 5bb9cad9) and Nalu (SHA1 71e06ffe6).  Trilinos was configu

[2016-09-17 02:43] ambrad commented on #594
Observation that probably has no relevance:

I noticed recently that -DNDEBUG is now in Trilinos_CXX_COMPILER_FLAGS for RELEASE builds. This is a result of this change from @bartlettroscoe :

69c2781d cmake/tribits/core/package_arch/TribitsDefineStandardCompileVars.cmake (Roscoe A. Bartlett    2016-07-13 20:55:58 -0600  76)   SET(CXX_RELEASE_FLAGS "${GENERAL_RELEASE_FLAGS} -DNDEBUG")

In this (sna

[2016-09-17 04:09] ambrad commented on #594
One other thought. @spdomin , you might run the test whose memory blows up for only 3 time steps (say) with valgrind --leak-check=full --show-reachable=yes --error-limit=no. Since it should terminate successfully, we'll get a trace of leaked memory at proper exit, which will point to whatever is increasing with time steps if it is a memory leak.

[2016-09-17 04:14] nmhamster commented on #594
Have you guys also considered using the Intel Inspector tool? It's like valgrind but on steroids. I have had it show errors in my code which valgrind hadn't caught recently. Just a thought. We have a site license.

[2016-09-17 06:16] RATATATO opened #622 "Set to Epetra_FEVector with Epetra_BlockMap"
It seems not to work Epetra_FEVector::ReplaceGlobalValues on Epetra_FEVector with Epetra_BlockMap.

Epetra_FEVector::ReplaceGlobalValues (and Epetra_FEVector::SumIntoGlobalValues)
sets only the head of a block.

1. It is a bug? or
2. It is correct, so we should not use Epetra_BlockMap to Epetra_FEVector?

An example is here:
https://gist.github.com/RATATATO/457f25c1e5960632378e7559cfeb0225

The ou

[2016-09-17 13:44] nmhamster commented on #482
Have you seen announcement that RHEL5 is to be retired? I think 6 and 7 are only suppprted now.

[2016-09-17 13:51] bartlettroscoe commented on #482
But that is not the immediate issue.  The immediate issue is that because RHEL 5 was the offical COE at SNL/CA people went off and built their own linux workstations not using the offical RHEL 6 and 7 COEs.   That is the problem.

[2016-09-17 16:50] spdomin commented on #594
Okay, lots of comments - thanks. I will try to answer some of them here..

@maherou, in Nalu, I have two build directories: one for release, another for debug. I follow the same approach with Trilinos. In both, I have a cleanIt.sh script that blasts everything. I think that I have been really careful about not mixing and matching.

@mhoemmen, I have only run debug runs with the optional Tpetra err

[2016-09-17 18:14] spdomin commented on #594
I rebuilt Trilinos (release) using the devOps tools with a module list that matches @jhux2. This time, I installed to Trilinos_stable_release_do with and without the following:

 -DTpetra_HAVE_TPETRA_DEBUG:BOOL=ON

The valgrind results both demonstrated the conditional jump while the log file reported no Tpetra errors.

I guess we should compare the config files?

[2016-09-17 20:05] mhoemmen commented on #594
`-DTpetra_HAVE_TPETRA_DEBUG:BOOL=ON`

This should be `-D Tpetra_ENABLE_DEBUG:BOOL=ON`.

[2016-09-17 23:49] spdomin commented on #594
Right, I added that flag above and I have some new twists... This will be my last one until the work week.

With my opt build using either develop or master, I see the memory issues as noted (same as the those  reported from Sierra). When I remove Muelu, i.e., simply use SGS, memory errors cease for all executables/Trilinos code versions. Any Balos solver with Muelu behaves the same, i.e, memory i

[2016-09-18 02:02] mhoemmen commented on #622
I'm not sure if this is correct behavior, but it is the behavior that I expect.  As a work-around, you could just convert your global indices to local indices, and access the Vector's data directly.

[2016-09-18 23:55] gpkc opened #623 "Declaration errors when compiling PyTrilinos"
I'm trying to compile PyTrilinos, but I can't figure out how to get rid of this error:
[code]
Anyone has suggestion on how to fix this?

[2016-09-19 00:04] ambrad commented on #623
Directing this to @wfspotz , the PyTrilinos expert.

[2016-09-19 00:09] gregvw commented on #623
Are you using Python 3 by any chance? If so, that could be the problem. PyString_FromString is defined for Python 2, but Python 3 has moved to unicode.

Greg

________________________________
From: Guilherme Caminha <notifications@github.com>
Sent: Sunday, September 18, 2016 5:55 PM
To: trilinos/Trilinos
Subject: [EXTERNAL] [trilinos/Trilinos] Declaration errors when compiling PyTrilinos (#623)

I

[2016-09-19 00:16] gpkc commented on #623
I tried using Python3 at first, but then I noticed that the cmake function FindPythonInterp uses Python2 syntax:
[code]
So I'm using, or trying to use, Python2. I'm not sure if Trilinos is somehow using my Python3 dev files, though. I'll try to check this out.

[2016-09-19 00:24] gpkc commented on #623
NVM, this was the problem. The PYTHON_INCLUDE_DIR and PYTHON_LIBRARY config variables were pointing to my python3 dirs, while the PYTHON_EXECUTABLE config variable were pointing to the correct binary. The project is now building properly.
Thanks.

[2016-09-19 00:25] #623 closed

[2016-09-19 17:17] mhoemmen opened #624 "ShyLU: Warning about control reaching end of non-void function"
.../Trilinos/packages/shylu/core/src/epetra/shylu_factor.cpp:840:1: warning: control reaches end of non-void function [-Wreturn-type]

[2016-09-19 17:33] mhoemmen opened #625 "MueLu: Use of deprecated function CreateTpetraPreconditioner"
[code]

[2016-09-19 17:35] mhoemmen opened #626 "Xpetra: Use of deprecated Tpetra BCRS method"
[code]

This method has a nondeprecated overload that takes a rank-3 Kokkos::View as its output argument.

[2016-09-19 19:57] jhux2 commented on #594
@spdomin  Aha.  If I configure with Tpetra_ENABLE_DEBUG:BOOL=OFF, I now see the memory issue in my Nalu builds.

[2016-09-19 20:42] jhux2 commented on #594
I'm able to reproduce the condition-jump error outside of Nalu in a 4-processor MueLu driver with optimization turned off.

[2016-09-19 20:43] spdomin commented on #594
Here are some notes from someone internal to our team (not me): I think that the mystery is solved and clearly points to Muelu issues. Moreover, the issue with DEBUG or not also is explained by the below....

The local nightly report mentions line 908 and 942 in the file MueLu_Hierarchy_def.hpp. I went overboard and changed all of the “false” values to true in the Build functions I found in that f

[2016-09-19 21:06] mhoemmen opened #627 "Tpetra::CrsMatrix: Store matrix in such a way as to allow overlap of communication & computation"
@trilinos/tpetra
Epic: #767.
This blocks #385.

For example, we could keep an extra row offsets array (where remotes start in each row) in CrsGraph.

[2016-09-19 21:07] mhoemmen commented on #385
Summary of dependencies:

1. Make doImport / doExport nonblocking (#384)

#383 would benefit from #334
#384 depends on #383

2. Be able to Import either locals or remotes separately (#439)

3. Be able to separate "locals" from "remotes" in each row (e.g., #627)

4. Put everything together in CrsMatrix::apply.

[2016-09-19 21:22] mhoemmen opened #628 "Tpetra::CrsGraph: Fuse column Map and Import construction"
@trilinos/tpetra Tpetra::CrsGraph constructs its column Map, if it doesn't already have one, in makeColMap().  This method needs information that could be reused to build the Import more efficiently, but CrsGraph currently throws away this information.  Here is a comment from the inside of makeColMap() that explains:

[code]

[2016-09-19 21:28] mhoemmen commented on #36
My fixes for #601 and #603 fixed this issue.

[2016-09-19 21:28] #36 closed

[2016-09-19 21:33] mhoemmen commented on #147
This is a duplicate of #430.

[2016-09-19 21:33] #147 closed

[2016-09-19 21:39] mhoemmen opened #629 "Tpetra: Make sparse matrix-matrix multiply thread-parallel"
@trilinos/tpetra
This is related to #148 and #430.  It may not require completion of either of those.

[2016-09-19 21:48] mhoemmen opened #630 "Tpetra::{Import, Export}: Add no-communication constructor"
@trilinos/tpetra
This blocks #628.  See that issue for details.

[2016-09-19 21:48] mhoemmen commented on #628
This depends on #630.

[2016-09-20 14:59] jhux2 opened #631 "Tpetra::MultiVector::unpackAndCombine shows spurious Valgrind issues due to Kokkos::atomic_assign, if target MultiVector's values are uninitialized"
@trilinos/tpetra @crtrott
    Attached is a minimal 2-processor working example that demonstrates the same Valgrind error as in issue #594.  The example depends only on Tpetra, Teuchos, and Kokkos.

[code]

Please let me know if importing into a noninitialized vector is not allowed. If so, the straight-forward solution is to initialize the target vector of the import operation.

[2016-09-20 15:03] jhux2 commented on #594
@spdomin Thanks very much for the stack trace.  While simply initializing the multivectors would clean up the Valgrind errors, it's unclear whether this points to a issue in the import or code that it depends on, or whether this sort of operation should be disallowed.  I've opened a separate ticket #631 on this.

[2016-09-20 15:06] jhux2 commented on #631
Here's the Valgrind stacktrace.
[code]

[2016-09-20 16:07] jhux2 commented on #631
By the way, this error doesn't happen when -DTpetra_ENABLE_DEBUG:BOOL=ON is a configure option.  In this case, the target multivector is filled with NANs (Tpetra_MultiVector_def.hpp, line 155).

[2016-09-20 17:19] jhux2 commented on #631
@mhoemmen I went as far back as 6 months ago (4fa8983), and this error still occurs.  As I said, it's easy enough to initialize the target vector prior to the import.  My question is whether this is required.

[2016-09-20 17:22] etphipp commented on #618
I just pushed a permanent fix for this.  A new entry was needed in Stokhos' list of Tpetra classes to instantiate.

Thanks Mark for addressing this so quickly.

[2016-09-20 17:33] mhoemmen commented on #631
@jhux2 Does the commented-out code matter?  Just checking.

[2016-09-20 17:37] jhux2 commented on #631
@mhoemmen No, that code doesn't matter.

[2016-09-20 17:52] mhoemmen opened #632 "Retrospective for #594"
Write a retrospective for #594, per Trilinos Leaders' Meeting discussion on Tue 20 Sep 2016.
@jhux2

[2016-09-20 17:53] mhoemmen commented on #594
Once we fix this, we'll write a retrospective summary.  Per discussion at Trilinos Leaders' Meeting today, we've listed this summary-writing activity as a separate issue, namely #632.

[2016-09-20 17:55] jhux2 commented on #632
@maherou @jwillenbring

[2016-09-20 18:30] mhoemmen commented on #631
Source Map: Process 0 has [0, 1, ..., 4], and Process 1 has [5, 6, ..., 9].
Target Map: Process 0 has [0, 1, ..., 9], and Process 1 has [] (no indices).

This implies that Process 0 has entries from five incoming indices [5, 6, ..., 9] that get unpacked and INSERTed into the target Vector on that process.  This happens in `MultiVector::unpackAndCombineNew`.

INSERTion happens via `Kokkos::atomic_a

[2016-09-20 18:32] mhoemmen commented on #618
Thanks for adding the permanent fix!

[2016-09-20 18:40] mhoemmen commented on #594
@jhux2 I posted an analysis as a comment to #631.  Those Valgrind errors are a harmless side effect of the way Kokkos implements `atomic_assign`.

[2016-09-20 18:43] jhux2 commented on #631
@mhoemmen Thanks very much for the fast & thorough analysis.  I see no benefit in rewriting the unpack code just to make the use of case of importing into an uninitialized vector clean under Valgrind.  I will modify MueLu to initialize vectors before import operations.

I do worry that because the valgrind warnings in this test case are spurious, that there may be something else lurking in #594.

[2016-09-20 18:45] jhux2 commented on #594
I will modify MueLu to initialize the target vectors before import.

[2016-09-20 20:32] mhoemmen commented on #594
This may make the Valgrind errors go away, but I'm not convinced that this is the issue.  It's worth crossing off our list, though!

[2016-09-20 20:49] jhux2 commented on #594
@spdomin I have pushed commit 10824a54, which should fix the suspicious memory reports.  However, based on @mhoemmen's analysis in #631, it's unclear whether this will resolve the production run failure at step 490.

[2016-09-20 20:50] jhux2 commented on #594
Closing this bug report.  Please reopen if necessary.

[2016-09-20 22:05] jhux2 commented on #631
I've patched MueLu.

[2016-09-20 22:05] #631 closed

[2016-09-20 22:25] spdomin commented on #594
Generally, it would seem that we verify a change fixed an issue before we close, right?

I will build and retest and report back tomorrow. That is, unless you have run my production cube case and know that it now runs?

[2016-09-20 23:00] spdomin commented on #594
I verified that my runs are free of the memory issues. I am testing the production run now.

Also, I had a build error in develop:

/home/spdomin/gitHubWork/Nalu/src/TpetraLinearSystem.C: In member function ‘virtual void sierra::nalu::TpetraLinearSystem::finalizeLinearSystem()’:
/home/spdomin/gitHubWork/Nalu/src/TpetraLinearSystem.C:850:49: error: ‘rcp’ is not a member of ‘Tpetra’
   const Teuchos

[2016-09-20 23:12] jhux2 commented on #594
@spdomin Thanks for the update.  rcp has always been part of the Teuchos namespace, so I'm not sure how line 850 ever compiled.

[2016-09-21 05:00] mhoemmen commented on #594
I made some changes last week to improve build time, by not importing so much stuff into the Tpetra namespace.  Many (but weirdly, not all) Teuchos classes were getting imported into the Tpetra namespace.  I got rid of those imports.

[2016-09-21 15:19] spdomin commented on #594
Right. Build issues are over. I have the production test running and will report back later. Thanks.

[2016-09-21 17:09] bartlettroscoe commented on #594
It is perfectly safe (and often beneficial) to import **class** names from one namespace to another.  However, it is never safe to import non-member function names.  See Appendix D.2 "Amendments for ’using’ declarations and directives":

* https://trilinos.org/docs/dev/packages/thyra/doc/html/ThyraCodingGuideLines.pdf

Why constantly write `Teuchos::RCP<ClassName>` in all of your package's code wh

[2016-09-21 18:19] maherou commented on #632
@spdomin: We discussed issue #594 during the Trilinos leaders meeting yesterday and decided to use the experience as the first instance of a new retrospective process for Trilinos issues.  We intent to invoke the retrospective process for issues that have the potential to teach us a better way to work.  We welcome your participation in completing the retrospective for #594.

[2016-09-21 18:22] MicheldeMessieres opened #634 "Fix warnings for dashboard builds"
This effort will be to fix various warnings seen in dashboard builds.
Those errors are at:
http://my.cdash.org/index.php?project=Trilinos&parentid=1052339

Pull requests to fix the warnings will be made separately for each package.

The current list of packages with issues (from Jim's e-mail):
ROL
Stokhos - probably fixed already
Pamgen
ShyLU
Piro
Kokkos
Rythmos
Mesquite
Panzer
ML (will skip for t

[2016-09-21 18:23] maherou opened #635 "Add written process for invoking a retrospective process in Trilinos"
For issues such as #594 we want to create a follow-on issue such as #632 to record a retrospective that can be used to improve development processes in the future.

We should add a write-up to the Trilinos wiki describing this process:
- Criteria for when a retrospective is useful.
- Use of the retrospective label.
- Format of retrospective.
- Location of the retrospective content.

[2016-09-21 20:19] mhoemmen commented on #594
@bartlettroscoe My eventual goal is to stop including all those Teuchos header files in Tpetra_ConfigDefs.hpp, since more includes means longer build times.  In order for Tpetra_ConfigDefs.hpp not to include so many Teuchos header files, I first had to get rid of the "using Teuchos::$THING" declarations in Tpetra_ConfigDefs.hpp.  I could put those "using" declarations elsewhere, but it's not clear

[2016-09-22 02:38] sslattery opened #636 "Belos Static Teuchos RCP Segmentation Fault with Clang"
Per discussion with @bartlettroscoe, Clang 7 and 8 produce a segmentation fault on Mac OS X 10.11.6 at runtime in Belos when trying to construct a static RCP to an ostream using std::cout. The belos unit tests do not pass on the master due to the segmentation fault:

[code]

Attached the configuration file and an lldb stack trace from the factory test failure. Configuration is standard with MPI an

[2016-09-22 15:41] bartlettroscoe commented on #636
@sslattery, thanks for reporting this!  I don't have access to Clang on a Mac.  I only have access to some Clang 3.6.1 on RHEL 6 Linux.  Does Clang on OSX have different version numbers than for Linux?

I will add labels for Teuchos and Belos because the problem could be a defect in Teuchos, Belos, or this Clang compiler.

Also, how urgent this to address?

[2016-09-22 16:21] sslattery commented on #636
@bartlettroscoe

Looks like I have llvm 3.8 on my system. The 8.0 version comes from the latest Xcode release on OS X.

As far as urgency, I am able to use another machine for now but this prevents me from using my Mac for development with Belos unless I replace my development environment with a gcc toolchain.

[2016-09-22 16:42] jwillenbring commented on #372
After getting feedback on the new checklist, I put it through R&A. I then posted it in the Trilinos Google Doc folder. I am next going to work on a webpage for new developer notes that includes a link to the checklist.

[2016-09-22 17:22] jwillenbring commented on #372
I put together a brief page on the topic of new developers. I would be interested to have any @trilinos/framework member or Trilinos developer review the page for possible corrections or additions.

https://github.com/trilinos/Trilinos/wiki/New-Trilinos-Developers

[2016-09-22 17:54] mhoemmen commented on #636
As a work-around, I think you can set the Belos solver's ParameterList to use a different RCP<std::ostream>.

[2016-09-22 19:25] crtrott commented on #636
I also just put in a sems ticket to get us newer clang compilers (i.e. beyond 3.6).

[2016-09-22 21:22] mhoemmen commented on #636
@ambrad points out that we should also refer to (old) Bugzilla Bug 6262.

[2016-09-22 23:02] mhoemmen opened #638 "Tpetra::MultiVector: Fix potential DualView allocation bug"
@trilinos/tpetra
This blocks #423.

In the case where the zeroOut argument to Tpetra::MultiVector's constructor is false, MultiVector may have been allocating its DualView incorrectly.  Here are the offending lines of code (in the internal allocDualView function):
[code]
The problem with this code, is that it it fails to mark the returned DualView as modified on device.  Even though setting zeroOu

[2016-09-22 23:03] maherou opened #639 "Create Trilinos GitHub Issue Lifecycle Model"
Recent activity with GitHub issues suggests we need an explicit issue lifecycle model to communicate expectations for clients, users and developers.
This issue results from a query by @mwglass.  Others who might be interested are: @jwillenbring @bmpersc and @bartlettroscoe

Also, I have added a new label "process improvement" so we can group issues that have this theme.

[2016-09-23 00:11] bartlettroscoe commented on #482
I suspect that commit f1225dc606 is something that would have been caught by this updated pre-push CI testing process using checkin-test-sems.sh

[2016-09-23 17:57] MicheldeMessieres commented on #634
The Kokkos warning was fixed yesterday in the Kokkos repo.

[2016-09-23 17:58] jwillenbring commented on #491
@bmpersc this can be closed, right?

[2016-09-23 18:00] jwillenbring commented on #469
@bmpersc Can this issue now be closed?

[2016-09-23 18:31] kddevin commented on #612
1.  Indeed, we should use the C++11 functions in the validator in place of atof and atoi (with #ifdef for C++11).  @bartlettroscoe says we can allow the current behavior to persist for non-C++11.

2.  My expectations of the set() function and the validator were not quite correct.  The valid parameter set() determines the type of the parameter, so in Zoltan2 we need to use the proper type there.  T

[2016-09-23 18:49] jwillenbring opened #649 "Remove Unnecessary Amesos2 dependence on Amesos"
Currently Amesos2 depends on Amesos, only because it needs SuiteSparse, which is currently located in Trilinos/packages/amesos/src/SuiteSparse. It has been determined that SuiteSparse should be moved to Trilinos/packages/common/auxiliarySoftware and setup as a TriBITS package in that location. Amesos and Amesos2 would then have dependencies on SuiteSparse, but Amesos2 would no longer depend on Ame

[2016-09-23 20:13] jwillenbring commented on #649
@MicheldeMessieres Could you review this ticket and see if you have any questions or concerns about these activities? Would you need to speak with Siva or I prior to working on this? If not, you can start on this effort.

[2016-09-23 20:14] kddevin opened #650 "Teuchos: create a new validator for booleans"
@MicheldeMessieres @krcb @trilinos/teuchos

Teuchos lacks a validator for boolean values.  It would be nice to have a validator that allows a user to set boolean values either as booleans or as strings, just as AnyNumberParameterEntryValidator does for numbers.  E.g.,
  pl.set("boolOne", true);
  pl.set("boolTwo", "true");

Then getValue would return a bool.
[paramBOOL.cpp.txt](https://github.com/

[2016-09-23 20:55] srajama1 commented on #649
Jim, this is a good description. We should make sure Amesos2 works with -D Amesos2_ENABLE_KLU2:BOOL=ON  after doing this.

[2016-09-23 21:45] ambrad opened #651 "Make Ifpack2::RILUK have a proper reuse capability."
@trilinos/ifpack2, @mhoemmen , @srajama1

RILUK's symbolic-phase information cannot be reused right now. Users must call initialize() before compute(), always. See, e.g., the logic surrounding
    #define IFPACK2_HAS_PROPER_REUSE
in MueLu_Ifpack2Smoother_def.hpp. This issue is focused on making RILUK have a proper symbolic/numeric/apply division of labor and so a reuse capability.

[2016-09-23 22:11] mhoemmen commented on #651
Duplicate of #570 -- thanks for reporting and for the additional info, though!

[2016-09-23 22:11] #651 closed

[2016-09-23 22:12] mhoemmen commented on #570
From @ambrad's #651 post:

@trilinos/ifpack2, @mhoemmen , @srajama1

RILUK's symbolic-phase information cannot be reused right now. Users must call initialize() before compute(), always. See, e.g., the logic surrounding
#define IFPACK2_HAS_PROPER_REUSE
in MueLu_Ifpack2Smoother_def.hpp. This issue is focused on making RILUK have a proper symbolic/numeric/apply division of labor and so a reuse capab

[2016-09-23 22:17] ambrad commented on #570
Oops, sorry about the duplicate. I'm working on finishing up a commit now that makes substantial progress on this issue. I'll bring it in as a PR so we can review it.

[2016-09-23 22:17] mhoemmen commented on #612
I'm OK with that, as long as Teuchos builds and passes tests with C++11 disabled.

[2016-09-23 22:26] mhoemmen commented on #570
No worries!

Awesome!  Looking forward to it!

[2016-09-23 22:37] mhoemmen commented on #638
My commit fixed this.

[2016-09-23 22:37] #638 closed

[2016-09-23 23:04] ambrad commented on #570
@mhoemmen @jhux2, what do you think:

https://github.com/ambrad/Trilinos/commit/bb2bf9c234664dbb05635f9c0f3b6a9c04a2d569

I'm getting nice speedup on a 32-rank problem, both with a direct use of RILUK and and also with an indirect use through AdditiveSchwarz.

[2016-09-24 00:50] srajama1 commented on #570
I left a comment on the commit. Hopefully it will get routed to @ambrad but this is just a note if it doesn't. It looks good.

[2016-09-24 01:01] ambrad commented on #570
Thanks @srajama1 . What is the warning?

Btw, I'm going to check if it's worth saving A_local as a member variable. To avoid keeping memory around in the no-reuse case, I might store to A_local_ only after the first reuse call. That way, single-use preconditioning's memory footprint won't change.

[2016-09-24 01:05] srajama1 commented on #570
I was wondering why "A_local_crs_ = A_local_crs;" was there ? Whether it was for satisfying a warning. Yes, it might be good to keep the memory footprint for no-reuse.

[2016-09-24 01:21] ambrad commented on #570
@srajama1 , I see. I removed the tmp variable and just use A_local_crs_ directly now.

I've also updated with the A_local_ cached version. Performance testing shows it's a another small speedup. As we discussed, it will cache only after the first reuse, so the no-reuse case's memory footprint is unaffected. Updated commit here:

https://github.com/ambrad/Trilinos/commit/785808bcf3f8cac615822a33db3

[2016-09-24 03:36] ambrad commented on #570
It occurred to me that I might be able to call initAllValues with L_local_ instead of L_local_crs_, obviating the copy from L_local_crs_ to L_local_ except the first time. I think that should work immediately or with only minimal modification. I'm thinking that L_local_crs_ is only needed to create the ILU(k) graph. If that's true, L_local_crs_ should not be a member variable (but L_local_ should

[2016-09-24 05:01] gpkc opened #652 "Building PyTrilinos on Windows"
Hi,
Have anyone been able to build PyTrilinos on Windows?
I'm able to build other packages such as Epetra, AztecOO... But I can't seem to find a way to build PyTrilinos. I've been struggling for some time. First I was facing a few path issues. CMAKE was finding my numpy path and passing it to the `ASSERT_DEFINED` and `INCLUDE_DIRECTORIES` macros, but the path was being passed with backslashes (som

[2016-09-24 09:07] gpkc commented on #652
Ok, so the problem was being caused by this change from macro to function. I reverted this, and solved the scape sequence problem by hardcoding the numpy include path in the variable NumPy_INCLUDE_DIR inside FindNumPy.cmake.
Now the project is configuring fine.

[2016-09-24 13:30] RATATATO commented on #622
Thank you for your reply.

It is confused one C++ programmer that
- Epetra_FEVector with Epetra_Map is a 1D vector, but it with Epetra_BlockMap is a multidimensional vector,
- Its members (Epetra_FEVector::ReplaceGlobalValues, Epetra_FEVector::SumIntoGlobalValues, ...) are only for a 1D vector.

[2016-09-24 13:30] #622 closed

[2016-09-24 20:56] ambrad commented on #570
OK, the method I described in my previous comment works. I've redone the commit to use that approach. Now A_local_crs_ is no longer a member variable (except if the experimental Basker code is being used); A_local_ takes its place. makeLocalFilter is called just in initialize(), initializing A_local_. initAllValues(*A_local_) is always called in compute() and never in initialize(). The key here is

[2016-09-25 08:07] gpkc commented on #652
I could not get PyTrilinos to compile.
In the end, I tried many different approaches: building under VS2013, VS2015, MinGW, CygWin, but none of them worked, each one with different errors.
If anyone has any insights or was able to do this please let me know.

[2016-09-25 22:49] mhoemmen commented on #570
@ambrad This reminds me to link to #558; @pwxy posted some test cases that started failing when I introduced LocalSparseTriangularSolver.  We need to check current status; my fix for Tpetra::Crs{Graph,Matrix}::globalAssemble may have even fixed those.

[2016-09-25 23:37] spdomin commented on #632
@maherou I would be happy to help. Let me know if it is too late and, if nota, how I can help. I also a, not getting these notifications to my email, just the tiny bell when I sporadically look at the Nalu GH webpage. I will try to make sure that I change my settings so that I do not miss them.

Also, my production run on gcc4.8.5 is still failing at the same step.

[2016-09-26 01:19] ambrad commented on #594
@jhux2, @mhoemmen: @spdomain writes in #632 that Nalu is still failing at the same step. Therefore, I'm reopening this issue.

[2016-09-26 15:41] mhoemmen commented on #632
@spdomin Just curious -- do the notifications show up when you go to the Notifications page on the Github website?  If not, then we need to fix that.

[2016-09-26 15:56] jhux2 commented on #594
@spdomin How is the simulation failing?  Can you tell if the simulation is running out of memory?

[2016-09-26 16:32] #599 closed

[2016-09-26 17:11] krcb commented on #649
Some questions regarding this effort:

1) The version of SuiteSparse available in Trilinos/packages/amesos/src/SuiteSparse is name spaced to Amesos. Is it desirable that this name spacing be maintained or should all references to Amesos be removed?

2) SuiteSparse files in Trilinos/packages/amesos/src/SuiteSparse are not currently compiled into separate libraries, which are then linked into Amesos

[2016-09-26 17:37] srajama1 commented on #649
@krcb , Thanks for going through this quickly.

1) It is better to change the namespace to trilinos rather than amesos or amesos2.

2) Yes, that is the goal for moving into a separate package. Suitesparse will have its own library, probably namespaced as trilinossuitesparse to avoid conflicts.

3) This is an interesting question. KLU2 is derived work from KLU, but it works with Amesos2. We don't h

[2016-09-26 18:39] krcb commented on #649
Thanks for the answers, this is very helpful. A couple of follow ups:

3) If KLU2 is to remain part of Amesos2, can we move it out of the SuiteSparse subdirectory (or at least rename the SuiteSparse subdirectory)? I can forsee that confusion will arise if we have a SuiteSparse package and a subdirectory with the same name in Amesos2.

4) I was wondering whether there were private versions of Trill

[2016-09-26 19:30] mhoemmen commented on #649
As a first step, we could write CMake logic in Amesos2 to report an informative error if KLU2 is not enabled.  The error message would tell people how to enable KLU2.

If we want to preserve existing behavior with `-D Amesos2_ENABLE_KLU2:BOOL=ON`, then we have to enable KLU2 by default by making it PS.

[2016-09-26 19:54] mhoemmen opened #654 "Tpetra: Add a way to query environment variables"
@trilinos/tpetra

Add a way for Tpetra to query environment variables.  This would be useful for making more debug options available at run time, so that users wouldn't have to recompile their release build of Trilinos in order to get some useful debug information.  It would also be useful for debugging issues like #423, which relate to downstream packages or applications making incorrect assumpti

[2016-09-26 20:22] mhoemmen commented on #654
Here is the interface I would like (omitting details relating to singleton initialization and finalization; use atexit() hook to finalize):
[code]

[2016-09-26 20:46] mhoemmen opened #655 "MueLu: "Challenge" example fails to link with CUDA, when Serial Node disabled"
@trilinos/muelu

MueLu's "Challenge" example (muelu/doc/Tutorial/src/Challenge.cpp) fails to link when CUDA is enabled, but Tpetra's "Serial" Node type is disabled.

[code]

(etc.)

[2016-09-26 20:59] jhux2 commented on #655
@tawiesn @mhoemmen Would you post your cmake configure line?

[2016-09-26 21:18] srajama1 commented on #654
Thinking out loud : Can this be in Trilinos name space and in a place like Teuchos ? Seems much more useful at the larger scale.

[2016-09-26 21:23] srajama1 commented on #649
@mhoemmen : KLU2 is enabled by default for some time. I said it has to be enabled explicitly because I know use cases where people turn it off forcibly :)

[2016-09-26 21:24] srajama1 commented on #649
@krcb
3) I agree. The SuiteSparse directory in Amesos2 could be just renamed to KLU2 as I don't foresee anything else going there.

[2016-09-26 21:28] krcb commented on #654
Could std::getenv be of use here? Since CXX11 this function is thread-safe as long as no other function modifies the environment:

http://en.cppreference.com/w/cpp/utility/program/getenv

[2016-09-26 22:00] mhoemmen commented on #654
@srajama1 wrote:

We could test in Tpetra first, then deploy in Teuchos once we're confident that it works.  Breaking Teuchos is even higher consequence than breaking Tpetra :-)

[2016-09-26 22:30] mhoemmen commented on #655
[code]

[2016-09-26 22:30] mhoemmen commented on #654
@krcb wrote:

Yes; thanks!

[2016-09-26 22:40] MicheldeMessieres commented on #612
@kddevin
I’ve added std::stod and std::stoi for HAVE_TEUCHOSCORE_CXX11.
Also added a Teuchos unit test for AnyNumberParameterEntryValidator to test the various settings and highlight the differences in behavior with and without HAVE_TEUCHOSCORE_CXX11.
Verified all Teuchos tests pass without HAVE_TEUCHOSCORE_CXX11.
I’ve made the changes in our zoltan2ParameterLists branch - I can split up the Teuch

[2016-09-26 22:40] MicheldeMessieres commented on #650
@kddevin
I’ve added code for a bool validator (BoolParameterEntryValidator) which accepts true/false/“true”/“false”
Right now “true” and “false” are hard-coded options and perhaps we want to make that a flexible choice.

This code is in the zoltan2ParameterLists branch and combined with the changes for #612.
I can break that out into different branches if we prefer but it may be easier to keep the

[2016-09-27 02:37] mhoemmen commented on #612
From reading the various pull requests, it looks like the plan is to combine these Teuchos changes with the Zoltan2 ParameterList changes; is that right?

[2016-09-27 03:31] mhoemmen commented on #423
@eric-c-cyr wrote in an e-mail:

The quickest conversion path requires only one change to your code: stop assuming that stride == local # rows.  You’re welcome to keep using get1dView() if you like.  Just use the correct stride.  You’ll need to do that anyway if you use Kokkos::View instead of Teuchos::ArrayRCP.  For example:

[code]

[2016-09-27 11:01] eric-c-cyr commented on #423
Okay, this is a fine approach. Though at some point we have to go to the Kokkos version (I assume). Is that the right approach? In the interest in understanding the range of possible implementations, how would you recommend doing this to a new user with no existing code? Should they use get1dView?

From: Mark Hoemmen <notifications@github.com<mailto:notifications@github.com>>
Reply-To: trilinos/Tr

[2016-09-27 11:06] #290 closed

[2016-09-27 14:54] marchdf opened #656 "Xpetra: import/exportAndFillCompleteCrsMatrix"
My current build of Trilinos breaks on the following error
[code]

I tried the master (hash: f0350316239aaf41e8e6b82378612aaedf9cc72c) and develop (hash: d2e490d369a815244ad0dbe248977b80c076e6aa) branches.

I am using GCC 5.2 and openmpi on NREL's Peregrine machine. This same build/config worked two weeks ago. This is my cmake line:
[code]

[2016-09-27 15:37] mhoemmen commented on #423
At risk of sounding rude, the point of my example is to show that the original code that used get1dView*() was incorrect.  Tpetra::MultiVector never promised that stride == local # rows.  It only just happened to work.

Yes.  Correct use of getLocalView() will help you remove dependency on UVM.  This will fend off potential accusations that "your code is slow because it relies on UVM."  Here is an

[2016-09-27 15:40] eric-c-cyr commented on #423
Okay. If you have an isConstantStride case, its conceivable you might want to do something if not constant stride. How does the code change in that context? The striding is associated with the columns in the multi-vector?

[2016-09-27 15:41] mhoemmen opened #657 "ShyLU: CUDA build error, possibly related to "using namespace std" in global namespace"
@trilinos/shylu I think we've seen something like this before.  Back then, it related to including math.h instead of cmath.  I didn't see any math.h includes in this file or its header, but there might be some included somewhere.

[code]

[2016-09-27 15:46] mhoemmen commented on #423
[code]

[2016-09-27 15:50] eric-c-cyr commented on #423
Great. This looks like its saying, if you always access through Kokkos, you can always fall back on the (single) vector view and it should be independent of stride with the exception of syncing and modifying. Is that accurate? Also, the modify goes after you do any modifications and will sync back to the device (presumably modify<NonHostDevice> would be called from NonHostDevice)?

[2016-09-27 15:59] jjellio commented on #657
This may come up from "using namespace std" in shylu_util.h  I've also seen this from including tgmath.

[2016-09-27 16:02] mhoemmen commented on #423
Yes.  If you always work with a Kokkos::View, you never have to worry about stride.

The modify() call just sets a flag indicating that you modified the data.  Users are responsible for sync()ing the data wherever they need it.  The standard idiom is to sync only as needed.

sync() and modify() are called from host.  The template parameter of sync() tells it where to send the data ("sync _to_ $SPA

[2016-09-27 16:10] mhoemmen commented on #657
oh...

[2016-09-27 16:14] srajama1 commented on #657
I'll take care of it.

[2016-09-27 16:30] mhoemmen commented on #657
Thanks Siva!  It's not really blocking anything at the moment, but it might cause some trouble once we plug ShyLU into Ifpack2 for solves.

[2016-09-27 16:54] mhoemmen commented on #621
Oh, Kokkos already has this: we just need to call the version of Kokkos::create_mirror_view that takes a space instance as its first argument.  Kokkos::Experimental::Impl::MirrorViewType does the correct type deduction in that case.

[2016-09-27 17:02] tawiesn commented on #656
It seems, gcc fails with the correct name resolution of the Tpetra functions. There exist two versions of "{import,export}AndFillCompleteCrsMatrix", one with 5 parameters (out of which 3 are default parameters) and one version with 6 parameters.

As a first work-around you can comment out line 175 and 196 in Xpetra_CrsMatrix.hpp. This should allow you to compile Trilinos again. It's very unlikely

[2016-09-27 17:03] bmpersc commented on #491
Yes, the tarballs have been created and posted on Trilinos.org.

[2016-09-27 17:03] #491 closed

[2016-09-27 17:55] marchdf commented on #656
Thank you for looking into this! I commented out those lines in Xpetra_TpetraCrsMatrix.hpp and it build moved on. Now I get the following error, which looks like a problem with STK?
[code]

[2016-09-27 18:09] tawiesn commented on #656
Could you check whether "Ioss" is enabled in "Seacas"? In your configuration i don't see something like Trilinos_ENABLE_SEACASIoss:BOOL=ON, but maybe it is automatically enabled (i'm not a SEACASS or STK developer). The output of your configuration script should tell you more.

[2016-09-27 18:23] tawiesn commented on #656
I've carefully checked the function definitions in Xpetra and Tpetra and possibly found the problem that could explain the compiler errors you see. Not sure, why i don't see the problem with my compilers. Maybe your compiler flags are more restrictive than ours. Could you please test the attached patch? Undo your changes in the Xpetra_CrsMatrix.hpp file and apply the attached patch and let me know

[2016-09-27 18:32] mhoemmen commented on #621
This works, so I'm closing this issue.

[2016-09-27 18:32] #621 closed

[2016-09-27 18:51] jhux2 commented on #655
@mhoemmen Even before the error you report, I encounter the following:

[code]

What the heck does this mean?

[2016-09-27 19:10] jhux2 commented on #655
Is it related to this?  http://stackoverflow.com/a/30441692

[2016-09-27 19:24] jhux2 commented on #655
I've disabled MueLu's Kokkos-specific code, which you were building anyway.  This will hopefully let the build get by the closure-type error.

[2016-09-27 19:26] bmpersc commented on #469
I think I still need to apply the changes to develop. I will check and if they aren't there yet I will apply them.

[2016-09-27 19:42] marchdf commented on #656
I just tried the patch and unfortunately it still gave me that error
[code]

The output from my configuring step tells me that "Ioss" is enabled ([I attached that here in case it helps with either of these problems](https://github.com/trilinos/Trilinos/files/496501/c.txt)).  I will take this up with the SEACASS STK devs once this current issue is dealt with.

[2016-09-27 19:47] mhoemmen opened #658 "Tpetra::CrsGraph::makeColMap: Thread-parallelize it & remove (unstated) UVM assumption"
@trilinos/tpetra
Story: #829, #832

Thread-parallelize Tpetra::CrsGraph::makeColMap and remove the unstated UVM assumption.

We can only thread-parallelize this if the graph is StaticProfile.  Current storage for DynamicProfile is host only and not thread safe (`Teuchos::ArrayRCP<Teuchos::Array< LO | GO > >`).

The case where `sortGhostsAssociatedWithEachProcessor_` is true is easier:
  1. Estimat

[2016-09-27 19:50] mhoemmen commented on #655
@jhux2 wrote:

Yes.  CUDA 7.5 does not allow device lambdas by default.

[2016-09-27 19:56] mhoemmen opened #659 "Tpetra::Map::getRemoteIndexList: Thread-parallelize it & remove any UVM assumptions"
@trilinos/tpetra Thread-parallelize Tpetra::Map::getRemoteIndexList and remove any UVM assumptions.

[2016-09-27 19:58] mhoemmen commented on #658
See also #628.

[2016-09-27 20:00] mhoemmen opened #660 "Tpetra::CrsGraph: 2- or 3-level thread parallelization of sortAllIndices & mergeAllIndices"
@trilinos/tpetra Do a 2-level or 3-level thread parallelization of Tpetra::CrsGraph methods sortAllIndices and mergeAllIndices.

This is a "story" because this may call for a thread-parallel segmented sort, or segmented sort-and-merge.

Update (12 Nov 2016): I rewrote this issue to reflect a multiple-step process.  See #832.  The first step will be a single-level thread parallelization.  The secon

[2016-09-27 20:03] srajama1 commented on #660
thread-parallels (segmented) sort will be useful in many other contexts as well. Might be good to discuss in KokkosKernels context.

[2016-09-27 20:07] jhux2 commented on #655
My build got further, but now I get
[code]
I'm using
[code]

[2016-09-27 20:11] tawiesn commented on #656
Please use the workaround and comment out the two lines again. I will need more time to fix the problem. I'm going to remove the old function calls. Unfortunately this makes some minor interface changes in Tpetra necessary. I'm not in office for the next two weeks, so it might take approx two and a half week before the fix is ready. Please go ahead and try to track down the stk problem in between.

[2016-09-27 20:12] MicheldeMessieres commented on #160
@kddevin
I’ve modified FindTPLScotch and FindTPLParMETIS to check for Zoltan2 required versions.
PR #661

Scotch requires: 6.0.3
ParMETIS requires: 4.0.3

There was already a compile time check for ParMETIS in TPLTraits.cpp which I removed since it would be redundant to the new config time check.

Also there was a compile time check for MPI and ParMETIS which I changed to a config time check.
Let

[2016-09-27 20:24] marchdf commented on #656
Thank you for all your help today.

[2016-09-27 20:38] mhoemmen commented on #660
I'll break this into a separate issue.

[2016-09-27 20:46] jhux2 commented on #655
This looks similar to a [link issue](https://devtalk.nvidia.com/default/topic/763460/cuda-programming-and-performance/how-to-debug-quot-invalid-memory-reference-quot-while-generating-linker/post/4270456/#4270456)  reported for CUDA 6.5:

[2016-09-27 20:47] mhoemmen opened #662 "KokkosKernels: Add segmented sort / sort-and-merge"
See #660 for a use case.  Tpetra::Crs{Graph,Matrix}::fillComplete currently needs segmented sort-and-merge, though a fix for #119 would remove the "-and-merge" requirement.

Thrust doesn't have anything like this.  stable_sort_by_key() just does what Tpetra::sort2 currently does, namely apply the implicit permutation resulting from sorting keys, to a corresponding array of values.

[2016-09-27 20:54] mhoemmen commented on #655
I've been getting those NVCC link errors too.  One way to fix those is to put Kokkos functors in named namespaces; NVCC doesn't seem to like them in anonymous namespaces.

[2016-09-27 21:04] marchdf opened #663 "STK IO 'class Ioss::Region' has no member named 'mesh_type'"
My current build of Trilinos breaks on the following error:
[code]
I tried the master (hash: f035031) and develop (hash: d2e490d) branches.

I am using GCC 5.2 and openmpi on NREL's Peregrine machine. This same build/config worked two weeks ago. This is my cmake line:
[code]

And [here](https://github.com/trilinos/Trilinos/files/496501/c.txt) is the output from my Trilinos configure script. I chec

[2016-09-27 21:33] mhoemmen opened #664 "Tpetra: Thread-parallelize RowMatrixTransposer (for P^T (A*P) in MueLu setup)"
@trilinos/tpetra @trilinos/muelu
Story: #629
Blocked by: #905

Thread-parallelize Tpetra::RowMatrixTransposer.  This matters because of the P^T \* (AP) kernel in MueLu setup.  The transpose should normally still cost less than the sparse matrix-matrix multiply, but once we thread the latter, the transpose may become a bottleneck.  It's also not hard to thread parallelize.

In sparse matrix-matrix

[2016-09-27 21:40] mndevec commented on #664
Mark,
I have a kernel written for this purpose in KokkosKernels. But it is using atomic operations, and it runs in 2 phases to count then fill.

[code]

[2016-09-27 22:02] srajama1 commented on #664
Hmmm.. Do we have to actually transpose this and hold it twice in symmetric case ? Even in unsymmetric case is there a way to avoid the copy ? Say, MueLU building P' is one way.

[2016-09-27 22:37] tawiesn commented on #656
Another try: this patch removes the outdated {import,export}AndFillCompleteCrsMatrix routines. This way, the compiler should not get confused and use the new ones. The patch is experimental: i cleaned the interface through all Trilinos packages and Trilinos compiles on my machine. There are two MueLu tests failing though. Can you try this patch? It would be good to know whether it fixes your Xpetr

[2016-09-27 23:40] mhoemmen commented on #555
@ambrad mentioned just now that fixing this could also help with Ifpack2::RILUK setup.

[2016-09-27 23:46] mhoemmen commented on #664
Talk to @csiefer2 and @jhux2 about that.

[2016-09-27 23:49] ambrad commented on #570
Pushed the fix and so closing.

[2016-09-27 23:49] #570 closed

[2016-09-27 23:55] mhoemmen commented on #148
@jhux2 @csiefer2 @trilinos/muelu Please tell us which sparse matrix-matrix multiply routines matter most.
  - mult_A_B_newmatrix?
  - jacobi_A_B_newmatrix?
  - What about *_reuse?

[2016-09-27 23:56] mhoemmen commented on #148
@csiefer2 @jhux2 Also, is there some reason why mult_A_B_newmatrix and jacobi_A_B_newmatrix use entirely different local sparse matrix-matrix multiply algorithms?

[2016-09-27 23:59] ambrad commented on #558
I'm looking into this. Will report back.

[2016-09-28 02:02] rppawlo commented on #594
@ambrad thought this might be related to a Drekar issue we are seeing. Looking back, about the same time @spdomin  started seeing this issue, Drekar started to have solver issues too. It manifested as growth in memory over multiple solves. @pwxy reported the following today in his efforts to track this down:

Here is more information concerning the memory growth issue during the Newton steps when

[2016-09-28 02:30] rppawlo commented on #594
I believe the issue above is being tracked under #558

@ambrad is looking into this now. Thanks Andrew!

[2016-09-28 02:55] ambrad commented on #594
To clarify, #558 is a separate issue, at least in symptom. I'm looking into both simultaneously because I suspect similar analyses of the same examples may yield the solution to both problems, whether or not they are related.

[2016-09-28 03:34] pwxy commented on #594
#558 is a separate issue.  Nalu doesn't use the ifpack2 AdditiveSchwarz with overlap.

[2016-09-28 13:30] pwxy commented on #594
I think the memory growth issue with tpetra/belos/muelu/ifpack2 RILUK that I'm seeing with drekar is different from the issue in nalu.  The former issue exists in the February 2016 trilinos code base.

[2016-09-28 14:14] #617 closed

[2016-09-28 14:41] eric-c-cyr commented on #538
Reopening this issue to explore some tools that Paul Lin uses.

[2016-09-28 15:04] mhoemmen opened #666 "KokkosKernels: Fix sparse matrix-matrix multiply error handling"
@trilinos/tpetra

For example, if the user requests a TPL (such as CUSP), but that TPL is not installed, the implementation should throw an exception or return an error code, not just print some error message to stderr.  I see a similar approach to error handling when the memory space is wrong (e.g., lines 67-80 of KokkosKernels_SPGEMM_mkl_impl.hpp).

[2016-09-28 15:08] mhoemmen opened #667 "KokkosKernels: Use existing macros for TPLs like MKL"
@trilinos/tpetra

I'm looking in tpetra/kernels/src/stage/graph/impl/KokkosKernels_SPGEMM_mkl_impl.hpp.  I notice a macro KERNELS_HAVE_MKL.  This is some macro that gets defined somewhere by hand in the code.  It is not plugged into the CMake build system at all.  KokkosKernels already has a macro, HAVE_TPETRAKERNELS_MKL.  Please use that instead.  "KERNELS_HAVE_MKL" is too general of a name; it i

[2016-09-28 16:02] jhux2 commented on #664
@srajama1 In the symmetric case, R=P'.  This means MueLu only needs P and can apply the action of R implicitly.   In the nonsymmetric case, R != P', so MueLu must have both available as separate matrices.

[2016-09-28 16:09] srajama1 commented on #664
Let me make my question clear: Do you need an explicit transpose at the Tpetra level or KokkosKernels in one of these cases ?

[2016-09-28 16:30] jhux2 commented on #664
@srajama1 @csiefer2 Are you asking whether it's sufficient to do a local transpose?

[2016-09-28 16:34] srajama1 commented on #664
Even more two questions, do you  need a distributed transpose and do you need a local transpose ?

[2016-09-28 18:20] jhux2 commented on #664
@srajama1 @csiefer2  At the end of the day, we need the action of w=R*v, where w is a multigrid coarse level vector.  At the very least, R must be locally transposed.   If it's not globally transposed, then this would require to do addition work to stitch together the results of applying the locally transposed pieces.

[2016-09-28 18:47] csiefer2 commented on #664
In general, yes and yes.  But the first is easy.  If we have some code to do local transpose, good ol' transferFillCcomplete can handle the the distributed part.

[2016-09-28 18:55] csiefer2 opened #668 "To try to see if we can get github emails to be useful"
@jhux2 send me the email

[2016-09-28 18:56] csiefer2 commented on #668
Does anyone see this?

[2016-09-28 18:57] csiefer2 commented on #668
@trilinos/muelu sorry

[2016-09-28 18:58] #668 closed

[2016-09-28 18:59] csiefer2 opened #669 "You'd think this would be documented"
@trilinos/muelu Moo.

[2016-09-28 18:59] amklinv commented on #668
I see EVERYTHING.

[2016-09-28 18:59] csiefer2 commented on #669
@jhux2 Jonathan!

[2016-09-28 19:00] #669 closed

[2016-09-28 20:04] jhux2 opened #670 "fake issue"
@trilinos/muelu

[2016-09-28 20:04] jhux2 commented on #670
@csiefer2 hate

[2016-09-28 20:05] #670 closed

[2016-09-28 20:06] jhux2 opened #671 "fakir issue"
@trilinos/muelu   Sorry everyone

[2016-09-28 20:07] jhux2 commented on #671
@csiefer2 now with even more fake

[2016-09-28 20:08] csiefer2 commented on #671
He's so not sorry.

[2016-09-28 20:08] #671 closed

[2016-09-28 22:20] bmpersc commented on #469
Tom's changes have been pushed to develop now.

[2016-09-28 22:20] #469 closed

[2016-09-28 22:47] mhoemmen opened #672 "Ifpack2: LocalSparseTriangularSolver should use ZERO CombineMode on Import"
@trilinos/ifpack2

Suppose that users give LocalSparseTriangularSolver a matrix with a nontrivial Import object.  What is the correct interpretation of "local sparse triangular solve" in that case?

Compare to ILU(k).  If users give a matrix with a nontrivial Import to ILU(k), what they generally expect is domain decomposition with no overlap across MPI processes, and ILU(k) within each MPI proces

[2016-09-28 23:20] mhoemmen commented on #672
This is, in fact, how Ifpack2::LocalFilter _should_ behave.  The fact that it doesn't indicates that Ifpack2::AdditiveSchwarz, in particular with overlap, is doing the wrong thing and perhaps only coincidentally getting the right answer.

[2016-09-29 00:04] jhux2 commented on #655
@mhoemmen MueLu just had a few functors in anonymous namespaces.  I converted those to named namespaces, but am still getting the same error.

[2016-09-29 01:38] ambrad commented on #558
@mhoemmen, what do you think of this:

In LocalFilter's ctor, a domain map was created in this case as follows:
[code]

But I think numCols should actually be
[code]
I think that's because A_ is an OverlappingMatrix, whose domain map is just the original matrix's domain map. This map is not relevant to the overlapping matrix; it's the overlapping matrix's column map that is relevant since it expre

[2016-09-29 03:06] ambrad commented on #558
@mhoemmen, here's an intriguing alternative.

Instead of saying that LocalFilter has a bug in its local DomainMap, it might be better to say that (i) LocalFilter has a bug in its local *RangeMap* and (ii) OverlappingRowMatrix has bugs in getDomainMap and getRangeMap. These, taken together, are the cause of this issue.

Right now, OverlappingRowMatrix uses A_->getDomain/RangeMap (where A_ is the us

[2016-09-29 15:52] csiefer2 commented on #671
@bmpersc More Testing

[2016-09-29 15:54] bmpersc commented on #671
Adding a fake comment so that I can enjoy the fun.

[2016-09-29 16:06] mhoemmen commented on #558
Fantastic!!! :-D  Thanks for trying this out!

This suggests that the input vector to OverlappingRowMatrix::apply should have the same Map as ColMap_, and that the output vector to OverlappingRowMatrix::apply should have the same Map as RowMap_.  Is that right?

[2016-09-29 16:24] ambrad commented on #558
@mhoemmen, that is correct, as I understand the point of overlap > 0. On a processor, the block that results from overlap > 0 is intended to act on a vector having a map reflecting that overlap > 0. Hence the domain map should not be that of the original matrix, but rather that of the overlapped one. That then implies that this overlapped matrix ought to have col map == domain map by construction.

[2016-09-29 16:30] jhux2 commented on #655
@crtrott @nmhamster I'm stuck on a link error using nvcc.  I can't tell much from the message, and searching mostly indicates that other folks have hit internal bugs in nvcc.  Might either of you have suggestions on what I might try next?  Attached are the link lines in case they are helpful.   Thanks.

[makelog-show.txt](https://github.com/trilinos/Trilinos/files/501187/makelog-show.txt)
[makelog

[2016-09-29 17:16] mhoemmen commented on #558
That makes sense.  Just to summarize for posterity: AdditiveSchwarz is supposed to take responsibility for the initial Import.  That Import results in an input (Multi)Vector for the subdomain solver.  The subdomain solver thus should not have to do another Import.  This implies that the subdomain solver's column Map should be the same as its domain Map.

This introduces a minor problem, namely tha

[2016-09-29 21:22] jwillenbring commented on #562
@bartlettroscoe this would probably be best answered by you.

[2016-09-29 21:22] mhoemmen opened #673 "Tpetra::Map::replaceCommWithSubset: Optimize for MPI_COMM_SELF case"
@trilinos/tpetra @ambrad

This relates to our discussion in #558.  To summarize: Ifpack2::AdditiveSchwarz is supposed to take responsibility for the initial Import. That Import results in an input (Multi)Vector for the subdomain solver. The subdomain solver thus should not have to do another Import. This implies that the subdomain solver's column Map should be the same as its domain Map.

This int

[2016-09-29 21:24] jwillenbring commented on #565
@srajama1 Can you comment on this?

[2016-09-29 21:26] mhoemmen commented on #46
@jthies Hi Jonas!  You might be pleased, annoyed, or both to note that I've finally gotten around to fixing this.  Thanks for catching this and for providing a test!  I modified it slightly so that it works as an automated test.  I'm running the check-in tests now and am about to push.

[2016-09-29 21:41] kddevin opened #674 "Tpetra and Xpetra: request for typedef or clarification of offset_type"
Tpetra uses offset_type for the offsets into the column pointers array.  From #153, it is difficult to tell whether this type is always size_t, or is sometimes int, or is sometimes defined by the node.  I am further confused because Tpetra::CrsMatrix::getAllValues uses size_t for the rowPointers; does it make a copy when offset_type is not size_t?  Does getAllValues() make copies of all three arra

[2016-09-29 21:42] srajama1 commented on #565
The CSparse support in Amesos is an experimental feature. I am surprised someone is trying to build with it. :)

That said, the error here is not clear. If TriBITS macros are defined properly then the symbol is right there.

@dpo : Can you attach your CMakeCache file and inside the build directory of trilinos packages/amesos/src/Amesos_config.h ?

[2016-09-29 21:44] mhoemmen commented on #673
We don't actually care about `MPI_COMM_SELF`; `comm->getSize() == 0` suffices.  (Teuchos::SerialComm is also a valid Comm.)

[2016-09-29 21:55] MicheldeMessieres commented on #562
@bartlettroscoe  We made progress on this. We are using the exclude packages option in cdash to turn off the packages we don't want. I think we have achieved our original goals and based on other examples and the documentation this may be the intended setup.

So it seems with cdash we should start all on and turn things off instead of all off and turning packages on.

If this is the best way to se

[2016-09-29 22:05] ambrad commented on #594
I'm almost ready to push the fix to #558 and can confirm that issue #558 is definitely unrelated to the two memory-growth issues reported here.

[2016-09-29 22:26] mhoemmen commented on #674
@kddevin

It is a function of the device type.  With Kokkos::Cuda, it is int.  With non-CUDA device types, it is size_t.  We brought up at the recent Kokkos API Review making size_type always a signed integer (size_t is generally unsigned).

Yes.  You should consider both getAllValues and setAllValues as methods that exist only for backwards compatibility.

No.  The returned Teuchos::ArrayRCP obje

[2016-09-29 22:27] ambrad commented on #558
@mhoemmen, @jhux2, @pwxy, I have just pushed a commit to fix this issue.

@pwxy, would you close this commit (or let me know to close it) when you've confirmed that it indeed fixes the issue you reported? Thanks again for reporting it.

[2016-09-29 22:29] jhux2 commented on #558
@ambrad Nice job!

[2016-09-29 22:56] jhux2 opened #675 "Memory growth in Drekar application"
@ambrad @rppawlo @eric-c-cyr

Reported by @pwxy

"I'm running the drekar steady-state 3d MHD generator test case with tpetra/belos/muelu, and forcing the Krylov solver to always take 100 steps of TFQMR.  The memory usage appears to be growing, with maximum among the MPI processing being 303MB after the first newton step and 413 MB after the 6th newton step.  Maybe I'm missing something, but if I'm

[2016-09-29 22:59] jhux2 commented on #675
Quoting @pwxy
"Actually I've seen this memory growth issue for a while.  Because I normally run GMRES where memory usage should change from Newton step to Newton step, the source of the memory growth was more nebulous.

I just ran a drekar binary that has been sitting around since February with TFQMR, and I see the same memory growth issue with tpetra/belos/muelu ifpack2 RILUK.  So this issue has

[2016-09-29 23:12] mhoemmen commented on #558
@ambrad wrote:

YOU ROCK

[2016-09-29 23:49] mhoemmen commented on #674
That did sound a bit rude, didn't it? :-)  It looks like you would like a typedef `offset_type` in CrsMatrix.  This sounds like a reasonable request.

[2016-09-30 02:03] srajama1 commented on #674
Is this complication really necessary ? In addition to making it a signed integer, can we just get rid of it and use one of lno_t and gno_t (pick one) ? When do we really need to use >2B nnz within an MPI rank ? I missed this portion of the review, so excuse me if this has been already discussed.

[2016-09-30 03:51] mhoemmen commented on #674
1. offset_type != local_ordinal_type: Mike Heroux has asked for it to be that way for years.  Christian also wants it.  Makes sense since we'll have nodes with ~ 1 TB memory.

  2. offset_type != global_ordinal_type: KokkosKernels is local.  It has no idea about "global" ordinals.  Thus, KokkosKernels must pick something, at least by default.  Furthermore, setting offset_type == global_ordinal_typ

[2016-09-30 13:45] pwxy commented on #558
I did some quick testing with the ifpack2 RILUK AdditiveSchwarz (up to 1024 MPI processes), and @ambrad 's fix work for those test cases.  Excellent job @ambrad !  Thanks so much!

[2016-09-30 13:45] #558 closed

[2016-09-30 14:15] MicheldeMessieres commented on #612
@mhoemmen
I think whether we do this as a single branch or separate PRs is still TBD.
At the moment I've kept it all together for testing convenience.

[2016-09-30 14:28] mndevec commented on #674
Does getAllValues() make copies of all three arrays?

No. The returned Teuchos::ArrayRCP objects just wrap the matrix's Kokkos::View, and have special destructors that do nothing but hang on to the Kokkos::View instance (thus letting Kokkos do reference counting for its View objects).

Mark,
Just to be clear, it does not make any deep copies if offset_type is size_t. But I guess it has to do a dee

[2016-09-30 15:42] spdomin commented on #632
Yes. Notifications light up the tiny bell.

[2016-09-30 15:42] mhoemmen commented on #674
Yes.  It's just a deep copy of the row offsets, not of anything else.

[2016-09-30 15:53] mhoemmen commented on #632
FYI here are some guidelines about e-mail filtering for Github notifications:

https://help.github.com/articles/about-notification-emails/

People vary in their practice.  Some prefer the e-mails; others prefer to check the tiny bell periodically.

[2016-09-30 16:03] mhoemmen commented on #46
@jthies I pushed a fix for this yesterday to the develop branch of Trilinos.  Sorry it took us so long!

[2016-09-30 16:03] #46 closed

[2016-09-30 17:54] ambrad opened #676 "In Ifpack2::RILUK::initialize(), there is a sometimes-unnecessary memory transient."
#570 focused on making RILUK reusuable. As a side effect, it confined a memory transient (a CRS copy of the matrix) to initialize(); previously, it persisted over the lifetime of the RILUK object.

The objective of this issue is to remove the transient completely in most use cases.

[2016-09-30 19:38] maherou commented on #674
@srajama1 Just to follow up on @mhoemmen 's comment: >2GB is a near-term reality for some of our users.  We really do need it.

[2016-09-30 19:39] maherou commented on #674
@srajama1 @mhoemmen : Sorry, 2B nz.

[2016-09-30 19:59] marchdf commented on #663
Latest pull of Trilinos (hash: acc7bba447025ac9ff13e66b0dcc090287408c14) seems to have fixed this issue (or I was doing something wrong before?).

[2016-09-30 19:59] #663 closed

[2016-09-30 19:59] marchdf commented on #656
Latest pull of Trilinos (hash: acc7bba447025ac9ff13e66b0dcc090287408c14) seems to have fixed this issue (or I was doing something wrong before?).

[2016-09-30 19:59] #656 closed

[2016-09-30 21:08] kddevin commented on #674
Hi, @mhoemmen .
1.  If getAllValues exists only for backward compatibility,  should we be using something else instead to get the three pointers?   Is there a mechanism that would always avoid the copy?  We'd be happy to get the pointer to the offset_type array, rather than have it converted to size_t.  Something in Xpetra would be ideal, but we could start with Tpetra.
2.  A typedef would be grea

[2016-09-30 21:09] srajama1 commented on #674
Alright, I will leave complaining about it. This might be easy to support as Mark says. However, I hope this is not one off. Extensions like these require long term maintenance, real costs in propagating through the stack, compile times and above all usability. Will it be that hard to say if you have more than 2B nnz run two MPI ranks ? It might scale well with that large of a problem anyway.

[2016-09-30 21:12] nmhamster commented on #674
@srajama1 need to remember there are systems on the horizon which will have quite large memory versus today (certainly with respect to number of MPI ranks per node) and in the future this could be considerably larger. If it does take a long time to propagate through the stack I would advocate for at least having the discussions on how this could be supported now. We can talk offline about some of

[2016-09-30 21:50] egboman commented on #674
@nmhamster , For such large systems with large memory then one could simply let local ordinals, global ordinals and offset_type all be int64_t (long long)? This works now, I believe. This whole discussion is on the narrower use case where the number of nonzeros is > 2B but the number of rows/columns is not.

[2016-09-30 21:53] jhux2 commented on #655
@mhoemmen Since I can't currently recreate the reported problem, I just pushed a new option ```-D MueLu_ENABLE_Tutorial```.  It defaults to ```ON```, so it's backwards compatible, but it should allow you to get past this particular compilation error.

[2016-09-30 21:56] nmhamster commented on #674
@egboman agreed that for the largest this makes sense but I would conjecture that there will be systems in the middle. I guess the question in whether running entirely with 64-bit significantly affects performance enough to be concerned (when 32-bit might be possible for rows/columns but not NNZ). Given that it affects bandwidth the answer is likely yes but maybe not enough that we would care to d

[2016-10-01 15:14] maherou commented on #674
@egboman If the transition from 32-bit ints to 64-bit ints in the global ID space is any indication, we had about 5 - 7 years where we had to report the global number of nonzero as a "long long" before we had to transition to 64-bit global IDs in the row/column indices.

However, to make sure we are all on the same page, perhaps we should briefly discuss this on a call.

[2016-10-01 17:48] mhoemmen commented on #674
@egboman wrote:

There's a submitted pull request to make this work.  I haven't worked on it because
  1. there is one of me,
  2. it is a giant blob of commits touching every package downstream of Tpetra, and
  3. we need to come up with tests that would actually prove it works, before unleashing it on the world.

[2016-10-01 17:54] mhoemmen commented on #674
@kddevin wrote:

Yes.  Call Tpetra::CrsMatrix::getLocalMatrix to get the KokkosSparse::CrsMatrix.  This only works if the matrix has been fill-completed once.

[2016-10-01 17:55] nmhamster commented on #674
@mhoemmen can help you test on the large POWER systems if it's useful. They have lots of memory and great bandwidth (so run tests fast). Unleash that TyrannaTpetra on the world!

[2016-10-01 18:08] mhoemmen commented on #674
It's been like this since Chris Baker worked on Tpetra.  I really don't care; it's up to @maherou and @crtrott.  However, I object to your assertion that this is a "one off" [sic] or an "extension."  Mike asked us to do the thing, so we did the thing.  Don't blame me for something that wasn't my idea.

[2016-10-01 18:49] mhoemmen commented on #674
The reason the offset type currently depends on `Kokkos::View<..., device_type>::size_type`, is the same reason why `std::vector<..>::size_type == size_t`; it matches the type of the View's dimension.  This relates to the main reason why I hesitated to approve the `LO = long long` pull request: It would not work with `Kokkos::Cuda` right now, because the size_type of Cuda Views is currently `int`.

[2016-10-01 18:52] mhoemmen commented on #674
Another option would be to use the signed version of View's `size_type`: `std::make_signed<size_type>::type`.  It actually does not matter quite so much for sparse mat-vec performance, though, because all loops in the code use `local_ordinal_type`.  (The loop over the number of entries in _each_ row can use `local_ordinal_type`, because we assume that a single row does not have enough duplicate en

[2016-10-01 18:53] mhoemmen commented on #674
@nmhamster wrote:

*grins* I'm keen on trying it, especially for big graph problems!

[2016-10-02 13:36] jthies commented on #46
Hi Mark,

thanks, I’ll try it out soon and let you know if all our tests are running through!

Jonas

[2016-10-02 22:11] mhoemmen commented on #46
Thanks for still talking to me after it took so long for us to fix this silly thing!  I'm not even terribly pleased with the fix, but as long as you don't exercise the weird use case of "recover the original column Map view of a domain Map view of a column Map (Multi)Vector, also with a nonzero row offset," your code should work fine.

[2016-10-03 03:41] srajama1 commented on #674
@mhoemmen : Nope, not blaming you. I was complaining for the request for this feature :)

[2016-10-03 13:08] jwillenbring opened #677 "xSDK build error"
error output:

[ 33%] Built target xsdkhypre
gmake[1]: Leaving directory `/jenkins/slave/workspace/Trilinos_xSDK_devel/installxSDK/xsdk/arch-linux2-c-debug/git.xsdktrilinos/build'In file included from /jenkins/slave/workspace/Trilinos_xSDK_devel/installxSDK/xsdk/arch-linux2-c-debug/git.xsdktrilinos/petsc/src/Tpetra_PETScAIJGraph.cpp:44:0:
/jenkins/slave/workspace/Trilinos_xSDK_devel/installxSDK/xs

[2016-10-03 14:05] MicheldeMessieres commented on #634
@jwillenbring I added a PR for Mesquite against the Mesquite master branch to fix the cdash warnings. Listed as mesquite PR #2. Please let me know if I should set this PR up in a different way.

[2016-10-03 15:00] bartlettroscoe commented on #677
I think this is due to a refactoring that @mhoemmen did to Tpetra recently cleaning out the Tpetra include files to improve build times.  I think that these xSDKTrilinos files just need to include "Teuchos_RCP.hpp" and all should be good.

[2016-10-03 15:17] bartlettroscoe commented on #562
@MicheldeMessieres, there is an **outer** dependency calculation that takes place in the `ctest -S <script>` program and an **inner** dependency calculation for the inner CMake configure of Trilinos.
The `ctest -S` script that runs code in TribitsCTestDriverCore.cmake just happens to define a few TriBITS variables like `${PROJECT_NAME}_ENABLE_ALL_OPTIONAL_PACKAGES` that can be set in the **outer**

[2016-10-03 16:08] rppawlo opened #678 "Panzer: modify DOF Manager for DG support"
@trilinos/panzer

[2016-10-03 16:10] rppawlo opened #679 "Panzer: 1-ring support in worksets"
Design and implement data structures for 1-ring support in worksets for DG capability

[2016-10-03 16:22] mhoemmen commented on #674
I appreciate that :-) This is a stressful time for us Trilinos folks...

[2016-10-03 16:24] mhoemmen commented on #677
@amklinv told me she's got this.  Thanks!

[2016-10-03 16:33] kyungjoo-kim commented on #678
Hi Roger,

I and @eric-c-cyr  made some changes in the DOF managers for high order elements. The changes will make the the dof manager more generic and follow the basic assumption (previously the geometric field pattern is written on the assumption that the max intrepid order is 2 and DOFs are aligned geoemtrically which is true for C2 elements but not true fro Cn ( n = 2 ) ).

I am wondering how

[2016-10-03 16:58] bmpersc opened #680 "Compile issue in test for Issue 46"
There is a compile error when building with gcc 4.7.2 in one test. The issue is template is used in a place where the compiler believes it shouldn't be. This does seem to be only happening on gcc 4.7.2. You can view the error at:

https://testing.sandia.gov/cdash/viewBuildError.php?buildid=2578629

[2016-10-03 17:00] mhoemmen opened #681 "Stratimikos CMake logic appears to depend on Tpetra CMake variables, even if Tpetra not enabled"
@bartlettroscoe @trilinos/stratimikos

Michele Martone has been working on Epetra changes.  He has been trying to get the check-in test script to work.  When he enabled Epetra and disabled Kokkos explicitly, his SERIAL_RELEASE build got the following CMake errors:

[code]

Does this mean that Stratimikos depends on Tpetra's CMake variables, but nevertheless does not declare a required dependency o

[2016-10-03 17:02] bartlettroscoe commented on #681
What is the full configure script and the version of Trilinos so that I can reproduce?

[2016-10-03 17:04] mhoemmen commented on #680
@bmpersc I've been having trouble getting the GCC 4.7.2 SEMS module to work with my check-in test script, so I haven't been exercising that compiler lately.  Let me take a look at the code.  Thanks for letting me know!

[2016-10-03 17:27] bathmatt commented on #172
Finally getting back to trying this, want to use panzer, and I have a simple script.

cmake \
-D Trilinos_ENABLE_Panzer:BOOL=ON \
-D Trilinos_USE_BUILD_ENV=ATTB  \
-D Panzer_ENABLE_TESTS=ON \
-D Panzer_ENABLE_EXAMPLES=ON \
-D Trilinos_ENABLE_PanzerDofMgr=ON \
-D Trilinos_ENABLE_PanzerDiscFE=ON \
-D Trilinos_ENABLE_PanzerAdaptersSTK=ON \
-D TPL_ENABLE_MPI=ON \
-D BUILD_SHARED_LIBS:BOOL=OFF \
-D Tri

[2016-10-03 17:46] bartlettroscoe commented on #612
@MicheldeMessieres, it might be nice to have the Teuchos changes on a separate branch so that we can review and approve them independently.   I don't think these changes to Teuchos will be breaking backward compatibility in any bad way so I think we can merge the Teuchos changes before the Zoltan2 changes.  But if the Teuchos changes will not be fully validated until the Zoltan2 changes are comple

[2016-10-03 17:50] mhoemmen commented on #680
I just implemented a work-around for GCC 4.7.2.  Running check-in tests now.

[2016-10-03 17:57] mhoemmen commented on #681
@bartlettroscoe I just forwarded Michele's e-mail to you, with attached configure script.  He says it's latest pull; don't know if that means master or develop.

[2016-10-03 18:04] mhoemmen opened #682 "Tpetra::Crs{Graph,Matrix}: Add local_offset_type typedef"
@trilinos/tpetra Per request by @kddevin (see #674 discussion), add a `local_offset_type` typedef to Tpetra::CrsGraph and Tpetra::CrsMatrix.  This type tells users the type that Tpetra uses to store row offsets, in the local sparse graph / matrix.  The `local_` prefix makes it clear that this refers to the _local_ data structure.

[2016-10-03 18:04] mhoemmen commented on #674
I've split off the Tpetra feature request part of this issue into a separate issue, #682.

[2016-10-03 18:05] bartlettroscoe commented on #172
The ATTBDevEnv.cmake module is not under any automated testing so I am not surprised that it is broken (likely due to changes in the ATTB moudles or env).  One of the activities in FY17 will be to update this and get it under automated testing and to make sure that updates to the ATTB env will also test against this and update it if needed.

[2016-10-03 18:07] mhoemmen commented on #680
Just pushed a fix.  Thanks @bmpersc !

[2016-10-03 18:07] #680 closed

[2016-10-03 18:18] #677 closed

[2016-10-03 19:54] jwillenbring commented on #677
Thanks for the quick action on this @bartlettroscoe @mhoemmen @amklinv

[2016-10-03 19:55] rppawlo commented on #678
We have a meeting 8am MT Wednesday morning to discuss DG design issues in Panzer. Any chance you could attend?

[2016-10-03 19:59] kyungjoo-kim commented on #678
Yes, I can attend but Eric already knows all modifications that we made in Panzer. I just want to push my commits. See you then.

[2016-10-03 20:05] rppawlo commented on #678
ok. We have not started the DOF work for DG yet so it is probably safe to push. Did you run all the drekar tests? If you would like to me to do that before you push, let me know where to pull the changes from to test.

[2016-10-03 20:39] kyungjoo-kim commented on #678
I ran panzer unit tests and asked eric to run the drekar tests. The modification is not invasive but I would like to make sure that I do not break panzer.

[2016-10-03 20:56] eric-c-cyr commented on #678
I will run these tests shortly. As soon as I can work for a few minutes :(

[2016-10-03 20:58] MicheldeMessieres commented on #562
@bartlettroscoe   The distinction between the outer and inter dependency was a source of confusion at first so this is more clear now. We've got things working with a black list approach but should we consider using the black list mandatory for cdash tests? The documentation suggests it is preferred, not mandatory. If white listing should work I'll need to go back at some point and further investi

[2016-10-03 22:10] jwillenbring commented on #462
@dridzal if you are satisfied leaving these tests continuous test, you can close this ticket.

[2016-10-03 22:17] dridzal commented on #462
The @trilinos/rol team will revamp the ROL test setup and assignment in the next month.  For now, we'll leave these 'continuous', and close the ticket.

[2016-10-03 22:17] #462 closed

[2016-10-03 22:41] etphipp commented on #450
I've now looked into this a little bit, and so far I haven't been able to reproduce this.

First I made a small test program that creates a very large view with SFad and SLFad scalar types.  I found no difference in the memory usage when running on both OpenMP and CUDA.  This suggests to me there isn't an issue with the View specialization.

I've also built Drekar with both SFad and SLFad on OpenM

[2016-10-04 12:46] MicheldeMessieres commented on #612
**General Status:**

Note that I’ve currently got a PR with changes to EnhancedNumberValidator so it will accept strings. (#497) It sounds like changing to a composite pattern will be better. If we want to merge these changes as a single PR, I think the current changes might not be problematic for Teuchos temporarily. Then perhaps as a phase II, we would roll back the EnhancedNumberValidator chang

[2016-10-04 14:44] kddevin commented on #612
Hi @MicheldeMessieres .  I don't need this work to turn into a major effort.   Other packages seem happy with the validators as is.  So if we now have what is needed for Zoltan2, we should probably wrap up this task rather than do extensive refactoring of the validators.

As I understand your comments,
-  both AnyNumberParameterEntryValidator and EnhancedNumberValidator now accept strings or numbe

[2016-10-04 15:17] mhoemmen opened #683 "Trilinos FY17 planning"
This issue is an "epic" discussing Trilinos' planning for fiscal year 2017 (FY17).  It builds on interviews with key customers and meetings between Trilinos developers over the past couple weeks.  We will fill this in as soon as managers have the chance to review the plan.  We will put as many details as possible here on the public website, so that customers and other interested parties can see ou

[2016-10-04 15:56] MicheldeMessieres commented on #612
@kddevin That is all correct.  I will make that improvement for the stod and stoi and leave the validators as they are until further notice.

[2016-10-04 17:23] bartlettroscoe commented on #681
I was able to reproduce with:

[code]

(using updated [SEMSDevEnv.cmake](https://github.com/trilinos/Trilinos/wiki/SEMS-Dev-Env)) and pushed the fix in commit cf657d2 (I used the wrong commit ID #645 on accident).

@MicheldeMessieres, can you please test this update on your side?  If this fixes this, can you please comment and then close this Issue?

[2016-10-04 17:27] mhoemmen commented on #654
Progress report: @tjfulle wrote an initial implementation and stand-alone test.  I reviewed the implementation and gave some comments on refining the interface.  Next step after that is to integrate this into Trilinos' unit test framework.

[2016-10-04 17:33] mhoemmen opened #684 "Tpetra: Add TPETRA_USE_BLAS environment variable"
@trilinos/tpetra This depends on #654.

The point of this issue is that Tpetra might not be able to trust the BLAS implementation to be threaded.  If TPETRA_USE_BLAS is true (has the value 1, or just plain is defined?), Tpetra should defer to the BLAS for GEMV and GEMM.  Otherwise, Tpetra should implement threading for these methods.  Tpetra may choose to call the underlying GEMV / GEMM implementa

[2016-10-04 18:21] mhoemmen commented on #460
@ambrad did your recent changes fix this one?

[2016-10-04 18:29] bartlettroscoe commented on #612
I am fine with pushing what is there (after some review) but can we at least agree to create a task to clean this up using a proper validator COMPOSITE subclass as part of the continuing contract work?  This is creating duplicate code that represents a maintenance problem going forward and and other problems as well about how to extend this type of software.

[2016-10-04 18:51] aprokop commented on #148
@mhoemmen

*newmatrix all matter. *_reuse matters significantly less as the MueLu reuse has not been heavily used yet.

[2016-10-04 18:57] csiefer2 commented on #148
@mhoemmen: mult_A_B_newmatrix and jacobi_A_B_newmatrix use almost identical local algorithms.  The only difference is whether or not you have the Jacobi part.  The code is cut and paste because there was no good way to do it all in one routine that I could think of.

[2016-10-04 19:31] ambrad commented on #148
@aprokop, now that RILUK supports reuse properly and efficiently, does that change the importance of reuse? Or are there other blockers to effective reuse in MueLu?

[2016-10-04 19:44] mhoemmen commented on #148
@csiefer2 wrote:

That's OK -- I was mainly wondering why the local sparse matrix-matrix multiply algorithms are just a tiny bit different (not just because of mult vs. jacobi interface) between the two functions.

[2016-10-04 19:48] ambrad commented on #460
@mhoemmen, no. I put overlap = 1 back in the test, and it still throws as reported above.

[2016-10-04 20:18] mhoemmen commented on #460
@ambrad Thanks for the update!  I'm looking at Ifpack2's Amesos2 wrapper now to see if it has the same problem that LocalSparseTriangularSolver had with respect to Imports.

[2016-10-04 20:41] mhoemmen commented on #460
Weird things about Ifpack2's Amesos2 wrapper:
  - Funny FIXME comments in setMatrix (I just contacted @jhux2 to ask)
  - Why does initialize() copy the matrix?  Why does it do so using a weird Import?  (Amesos2 should just be able to take the matrix directly; it accepts the matrix as an `RCP<const Matrix>`, so it promises not to change the matrix.)
  - It looks like initialize() does initializatio

[2016-10-04 22:14] #672 closed

[2016-10-04 22:15] aprokop commented on #148
@ambrad I have not looked at the recent RILUK changes, but if as you say it does the proper separation of symbolic() and numeric(), it definitely makes it easier. If everything on the path to do AdditiveSchwarz with overlapping subdomains and RILUK does the correct separation of symbolic() and numeric() phases, I believe the proper reuse implementation in MueLu can be written quickly.

One of my c

[2016-10-04 22:35] mhoemmen commented on #460
For some reason, this test wasn't ever building for me.  Trying again, and explicitly enabling Amesos2 this time.

[2016-10-04 22:36] rppawlo commented on #274
Finally back on this. @kyungjoo-kim and I have been going back and forth on this. Hope to have it finished up this week.

[2016-10-04 22:43] mhoemmen commented on #460
I built the test, verified that it built (including the SuperLU test), and it passes for me.
@jhux2, could you show me exactly what test is failing, and what it prints when it fails?

[2016-10-04 22:50] jhux2 commented on #460
Did you change the overlap to 1 in test SparseDirectSolver?  See the comment around line 562.

[2016-10-04 22:53] mhoemmen commented on #460
@jhux2 wrote:

Ah, I see, this is not the Amesos2 wrapper test.  I am looking at Ifpack2_UnitTestAdditiveSchwarz.cpp now.

[2016-10-04 23:33] jhux commented on #460
I'm sorry I don't know what this is about and why I'm receiving the emails. Swing by my desk tomorrow so we can connect please. Thanks :)

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone

-------- Original message --------
From: Mark Hoemmen <notifications@github.com>
Date: 10/4/16 5:53 PM (GMT-06:00)
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Joshua Hux <jhux@collabora

[2016-10-04 23:42] mhoemmen commented on #460
@jhux You were @-mentioned by mistake.  I fixed the comment in question.  Please unsubscribe from this issue.

[2016-10-05 00:22] mhoemmen commented on #460
@jhux2 I changed the overlap to 1 (around line 562 of Ifpack2_UnitTestAdditiveSchwarz.cpp, as you mentioned) and got the test to fail.

I'm wondering if the same thing as in @ambrad 's fix for RILUK's use of LocalSparseTriangularSolver in AdditiveSchwarz (get the Maps right) will work here.  I started trying it out.

[2016-10-05 03:02] jthies commented on #46
Hi Mark,

sure, thank you for still listening to These nasty technical issues :)

The Situation I reported here seems to be fixed, but we still have some failing tests concerning multiple views. It might be that I didn't adapt everywhere to the changed "view semantics" though.

If you are interested in running our tests, you could check out https://bitbucket.org/essex/phist.git (branch tpetra_upda

[2016-10-05 05:35] mhoemmen commented on #46
@jthies wrote:

This is super important, and I appreciate your patience :-)

Could you explain what you mean by "standard objects" vs. "funny views"?  Are "funny views" the result of calling offsetView* on a Tpetra::MultiVector, with a nonzero offset?

[2016-10-05 11:29] jthies commented on #46
The operations I consider are e.g. C=V^TW, W=V*C with C a "small dense" and V,W "tall skinny" matrices. In Tpetra both are represented as MultiVectors with a local or distributed map, respectively. For the V/W Kind, I want to allow views with a column offset only (subView with a Range1D arg). For the C-type, I also want to use views with a row and a column offset, so an "offsetView" of a "subview"

[2016-10-05 12:01] rppawlo opened #685 "Sacado View factory interaction with Kokkos subviews"
Need some changes to sacado view factory to support kokkos subviews of fad types. This is blocking #274. Email describing issue is below.

@kyungjoo-kim @etphipp @trilinos/panzer @trilinos/sacado

Okay. I looked at this problem and found an issue in createDynRankView in View Factory.

When we use subview of a view, it returns strided layout and this layout is inherited to view factory. This is wro

[2016-10-05 12:03] rppawlo commented on #274
Currently blocked by required changes in sacado. That is being tracked in #685.

Here is @kyungjoo-kim 's assessment:

Okay. I looked at this problem and found an issue in createDynRankView in View Factory.

When we use subview of a view, it returns strided layout and this layout is inherited to view factory. This is wrong. It has to be either left/right layout. Eric P knows this and he will fix t

[2016-10-05 13:02] etphipp commented on #685
That's not completely accurate.  There is a perfectly acceptable solution in my opinion using createDynRankViewWithType<>.  That does require a little more typing though, so replacing LayoutStride with the default layout seems like a reasonable alternative.  I will add this shortly.

[2016-10-05 13:09] bartlettroscoe commented on #372
I will review this.

[2016-10-05 13:09] rppawlo commented on #685
I'd be happy with either solution. Would either of the choices limit performance (e.g. forcing the stride to be a certain type)?

[2016-10-05 14:12] etphipp commented on #685
This is now pushed.  I forgot to put the issue number in the commit.

https://github.com/trilinos/Trilinos/commit/0ae5ece1401e237f892c91edeb6fc6fd83f80554

[2016-10-05 14:15] etphipp commented on #685
Neither choice limits performance.  The only issue is whether the user might actually want a LayoutStride view.  I can't imagine that would happen.

[2016-10-05 14:52] MicheldeMessieres opened #686 "Improve String Handling of Validators"
We have added some code to EnhancedNumberValidator so it will handle strings.
This creates some duplication with AnyNumberParameterEntryValidator.

The task will be to reorganize the validator classes to eliminate the duplication. This has been discussed in issue #612.

The general plan would be to create a [composite class](https://en.wikipedia.org/wiki/Composite_pattern) that will allow of strin

[2016-10-05 14:53] MicheldeMessieres commented on #612
@bartlettroscoe  I've created issue #686 to keep track of this.

[2016-10-05 14:58] jjellio opened #687 "Zoltan2 unit test build error: cannot convert ‘ZOLTAN_GO* {aka unsigned int*}’ to ‘ZOLTAN_ID_PTR {aka long long unsigned int*}"
I am getting a build failure when attempting to build with tests (Zoltan2_multivectorTest). This seems to appear on both master and develop.

[code]

This is with long long enabled.

[code]

[2016-10-05 15:13] bartlettroscoe commented on #686
@MicheldeMessieres, thankls for creating this issue.  But note that we want a fully generic COMPOSITE subclass not one specific for these subclassess.   This design pattern is explained at:

* https://en.wikipedia.org/wiki/Composite_pattern

I don't think it would not take long to put together a CompositeParameterEntryValiator subclass.  When you get time to work on this I can write the skeleton f

[2016-10-05 15:19] bartlettroscoe commented on #686
@MicheldeMessieres, I updated the set of "Tasks" in the Description field (i.e. the first comment) to be exactly what needs to be done and the best order to do them in.

[2016-10-05 15:20] bartlettroscoe commented on #686
I also created the label "Tech-X" to help organize these Stories for the Tech-X Trilinos work.

[2016-10-05 15:20] mhoemmen commented on #46
@jthies wrote:

I think you would be pleased with Kokkos::View.  It's entirely local (no MPI), uses first-touch allocation by default for host memory, and can use NVIDIA GPU memory as well.  View works almost like Matlab arrays; the only function you need to remember is Kokkos::subview.  You can also choose the layout (e.g., column or row major; default depends on where you allocate).  For example

[2016-10-05 15:39] mhoemmen commented on #46
@jthies wrote:

See e.g., tpetra/ReleaseNotes.txt for 11.14.  Could I trouble you perhaps to extract a minimal Tpetra use case that didn't break before, but breaks now?  Thanks :-)

[2016-10-05 17:38] mhoemmen commented on #555
Actually, an easier test would be to write a RowGraph subclass that _wraps_ a CrsGraph, using the CrsGraph to implement RowGraph methods.

[2016-10-05 17:46] mhoemmen opened #688 "Tpetra: Add TPETRA_DEBUG environment variable"
@trilinos/tpetra
This depends on #654.

[2016-10-05 17:48] mhoemmen opened #689 "Tpetra: Is there a way to copy examples' .cpp files into user's build dir, then have Makefiles there?"
@trilinos/tpetra
@tjfulle asks this.  Maybe this could be like Kokkos' tutorial, with a simple Makefile in each directory.

[2016-10-05 18:37] mhoemmen opened #690 "AllowPadding and WithoutInitializing moving to Kokkos namespace change downstream Trilinos code accordingly"
Kokkos/develop has moved AllowPadding and WithoutInitializing out of the Kokkos::Experimental namespace, into the Kokkos namespace.  Once this gets moved into Kokkos/master and snapshotted into Trilinos, change Trilinos downstream code accordingly.

https://github.com/kokkos/kokkos/issues/325
@trilinos/tpetra
@trilinos/stokhos
@trilinos/sacado
@trilinos/shylu
@trilinos/stk

[2016-10-05 18:59] bartlettroscoe commented on #372
@jwillenbring,

I reviewed the page:

* https://github.com/trilinos/Trilinos/wiki/New-Trilinos-Developers

It looks very good.  I made just a few small edits to improve understanding.  Please have a look at the diffs:

* https://github.com/trilinos/Trilinos/wiki/New-Trilinos-Developers/_compare/0666391bb163bde50134cce70e18d3d9802c9778...baafc4ef079d16444e470e96bcf46fe0f2f26f00?short_path=a34d418#d

[2016-10-05 19:09] mhoemmen opened #691 "KokkosKernels: One kernel instantiation for both CudaSpace and CudaUVMSpace"
This depends on https://github.com/kokkos/kokkos/issues/290.  (See also https://github.com/kokkos/kokkos/issues/290 , marked as redundant.)

Once the above Kokkos issue is fixed, we'll be able to assign from a CudaUVMSpace View to a CudaSpace View.  This will let us just instantiate kernels for CudaSpace.

@trilinos/tpetra

[2016-10-05 19:15] bartlettroscoe commented on #158
The SEMS team has resolved this and now CC, CXX, and FC remain pointing to the raw non-MPI compilers even after loading the OpenMPI module.  The SEMSDevEnv.cmake file has been updated for this change in commit 468bdc5.

I am going to try to work this week to wrap this up along with related issues #482, #410.

[2016-10-05 20:21] kddevin commented on #687
This error occurs because of Zoltan_ENABLE_ULLONG_IDS:BOOL=ON in the cmake command.  In general, this option isn't needed for compatibility with Zoltan2, even when using GO=long long, but there shouldn't be any harm in using it either.
The particular test that wouldn't compile compares Zoltan with Epetra and Tpetra.  For fairness, all three should use LO=GO=int, as required by Epetra.  Thus, I hav

[2016-10-05 20:21] #687 closed

[2016-10-05 20:23] kddevin commented on #301
This issue was fixed by @MicheldeMessieres

[2016-10-05 20:23] #301 closed

[2016-10-05 20:43] kddevin commented on #160
Fixed with PR #661

[2016-10-05 20:43] #160 closed

[2016-10-05 21:31] kddevin commented on #612
Pull request #497 addressed this immediate issue.  Thus, I will close this issue.
@MicheldeMessieres discusses broader issues in #686.

[2016-10-05 21:31] #612 closed

[2016-10-06 14:28] eric-c-cyr opened #692 "Recent changes for high order broke panzer DOF manager"
The changes to the DOF manager to support high order broke the nightly tests. It appears -1 are being put in as element GIDs. This is causing substantial problems. The fix is not yet clear. Though I have (locally) added a test that exercises the precise issue (the failing of the FilteredUGI test was simply an indicator of a problem). @rppawlo @kyungjoo-kim

[2016-10-06 18:55] eric-c-cyr commented on #692
I now have a fix for this. I'll run the panzer tests and Drekar before pushing. One thing that tripped me up originally was the use of the refactored Intrepid2 and caused problems with my initial testing. In the debugging of this issue I think I've discovered another problem with the high order numbering. Hopefully I'll have a test for that soon.

[2016-10-06 18:57] MicheldeMessieres commented on #681
bartlettroscoe  hi Ross - I think you meant to contact Michele Martone, not me, on your last comment.

[2016-10-06 20:09] bartlettroscoe commented on #681
Sorry about that.

@mhoemmen, is Michele on GitHub and can we ask him to confirm that this is fixed?

[2016-10-06 21:03] jwillenbring commented on #327
@bavier It may be worthwhile to file this on the Kokkos GitHub project. [https://github.com/kokkos](https://github.com/kokkos)

[2016-10-06 21:04] jwillenbring commented on #327
@crtrott

[2016-10-06 21:27] eric-c-cyr commented on #692
I also messed up and left an expensive debugging line in the code. That was removed in commit c9ddf139b9918364de3aaa6a88b20c1ca261f47c.

[2016-10-06 21:40] eric-c-cyr commented on #692
In debugging this issue, I also discovered that for high order basis functions the GIDs per cell were incorrectly computed. In particular the offset was reused across the whole face. This led to a cell having multiple of the same GIDs. This is incorrect behavior. Locally I now have a test exercising this and demonstrating the failure. In addition I have a solution that correctly computes the GIDs

[2016-10-07 12:31] bartlettroscoe commented on #681
Just a note on this.  Yes, packages like Stratimikos should build and run tests with some optional dependencies turned off.  But no one should be using the checkin-test.py script to **PUSH** changes disabling packages like Kokkos.  If it is just for local testing that is fine.  But that can't be allowed for pre-push testing because that could break the CI build for other developers that correctly

[2016-10-07 15:47] mhoemmen commented on #681
@bartlettroscoe wrote:

Actually yes!  @michelemartone has a pull request open, #503.  However, he doesn't have access to a fast machine for compiling Trilinos, and I don't want to ask him to rebuild to test this.

[2016-10-07 15:48] mhoemmen commented on #681
@bartlettroscoe wrote:

What about the Epetra-stack-only use case with a pre-C++11 compiler?  Kokkos requires C++11, so if your compiler doesn't support C++11, you're in trouble.

[2016-10-07 17:46] bartlettroscoe commented on #681
For --extra-builds, that is fine.  But for the --default-builds, all optional packages have to be enabled for any tested package.  Otherwise, someone could break the build of Stratimikos with all optional packages turned on and they would never know it.  The checkin-test.py --default-builds need to be the same for everyone and needs to be identical to the post-push CI build that is posted to CDash

[2016-10-08 16:48] bartlettroscoe opened #693 "Default disable STKClassic under Trilinos"
**CC:** @rppawlo, @nschloe @eric-c-cyr, @bmpersc, @trilinos/stk

**Description:**

Now that STKClassic is no longer used by Sandia customer codes downstream from Panzer and Albany (see [this comment](https://github.com/trilinos/Trilinos/pull/2#issuecomment-252425782)), we should at the very least stop enabling STKClassic by default and stop testing it.  A follow-on Story should result in STKClassi

[2016-10-09 20:19] mhoemmen commented on #693
I didn't realize I could both "like" and "hooray" a comment :-)

[2016-10-09 23:15] mhoemmen opened #695 "Tpetra::Map: Generalize tests that depend unnecessarily on particular GO types"
@trilinos/tpetra

Find and generalize all Tpetra::Map tests that depend unnecessarily on particular GlobalOrdinal (GO) types.  These tests live in tpetra/core/test/Map.

One example of such a test is Map_removeEmptyProcesses.cpp.  There is no reason why this test needs LO=int and GO=long.  Its choice of GO=long is particularly bad, since GO=long is not enabled by default (default GO types are curr

[2016-10-09 23:28] mhoemmen opened #696 "Tpetra: Generalize sparse matrix-matrix multiply tests that depend unnecessarily on particular GO types"
@trilinos/tpetra

See #695 for an explanation.  The tests in question live in tpetra/core/test/MatrixMatrix.  At the top of the CMakeLists.txt file in that directory, you can see that the test only gets built and run if GO=int or GO=long are enabled.

This issue is less urgent than #695, because GO=int currently gets enabled by default.  However, see #74.  Furthermore, GO=long is not enabled by de

[2016-10-09 23:33] mhoemmen opened #697 "Tpetra::RowMatrixTransposer: Generalize test that depends unnecessarily on GO=int"
@trilinos/tpetra

The Tpetra::RowMatrixTransposer test currently only builds and runs when GO=int is enabled.  First, fix the test so that it is templated on GO (and LO and Node).  Then, fix the CMakeLists.txt file (tpetra/core/test/RowMatrixTransposer/CMakeLists.txt), so that it builds and runs the test unconditionally, whether or not GO=int is enabled (see #74).  Use #695 and #696 as guides.

[2016-10-09 23:39] mhoemmen opened #698 "Tpetra::CrsMatrix: Generalize tests that currently only build & run for GO=int"
@trilinos/tpetra

This is like #695, #696, and #697.  Look at tpetra/core/test/CrsMatrix/CMakeLists.txt.  Find the three tests protected by `IF(TPETRA_INST_INT_INT) ... ENDIF()`.  (I've marked it with a FIXME.)  Look at those tests to see if they can be generalized, and generalize them to exercise all GO types, not just GO=int.  Then, change CMakeLists.txt so those tests build and run unconditiona

[2016-10-10 15:49] mhoemmen commented on #673
I'm working on this now, because an obvious optimization appears to expose a bug in the version of Map's noncontiguous constructor that takes a Kokkos::View (the local-to-global mapping).

[2016-10-10 18:45] mhoemmen opened #699 "Tpetra::Map: Constructor taking Kokkos::View sets up GID->LID table incorrectly"
@trilinos/tpetra

The Tpetra::Map constructor that takes a Kokkos::View sets up the global index -> local index table (FixedHashTable) incorrectly.  This is because it uses the wrong range when taking the subview of the input View, in order to give the table the noncontiguous part of the input indices.  It uses the Teuchos::ArrayView subview arguments (offset, length), rather than the Kokkos::subv

[2016-10-10 18:46] mhoemmen commented on #673
I'm glad I pushed on this, because I found a bug: #699.  I've already got the fix for this issue ready, so I'll work on the two issues simultaneously.

[2016-10-10 19:15] tjfulle commented on #654
Commit 347c81a5e96bacf6a3b997b07de15c0a7d768173 of my fork of Trilinos adds this feature.  @mhoemmen, do you want to take a look at it before I put through an official pull request?

[2016-10-10 19:37] mhoemmen commented on #673
Got a fix in place that optimizes for the `comm->getSize() == 1` case.

[2016-10-10 19:38] mhoemmen commented on #699
Just implemented a fix.  Running check-in tests now.  Wish I could do a CUDA build but something changed in the modules system and my CUDA check-in test script isn't working at the moment.

[2016-10-10 20:40] mhoemmen commented on #654
@tjfulle wrote:

I just added some comments to that commit.  Thanks!

[2016-10-10 21:14] mhoemmen commented on #699
Just pushed a fix to develop.

[2016-10-10 21:14] #699 closed

[2016-10-10 21:15] mhoemmen commented on #673
Just pushed a fix to develop.

@ambrad , this may be of interest to you, considering our discussions about Ifpack2::AdditiveSchwarz.

[2016-10-10 21:15] #673 closed

[2016-10-10 22:27] mhoemmen opened #700 "KokkosKernels: Add simplified kernels for integer Scalar types"
@trilinos/zoltan2 @trilinos/tpetra

Many Trilinos users have complained about long build times and large library and executable sizes.  One of the biggest sources of this in the Tpetra solver stack, is the large number of template parameter combinations for which Tpetra classes get instantiated.  For example, we build all of Tpetra for Scalar = int and Scalar = GlobalOrdinal for EVERY enabled Glob

[2016-10-10 22:48] mhoemmen commented on #700
KokkosKernels currently pre-builds (it's not quite ETI; it uses full instantiation rather than Trilinos' ETI machinery) a different set of kernels than Tpetra needs.  It builds for all of Kokkos' enabled execution spaces, rather than looking at only the execution spaces that Tpetra uses, and it builds for Scalar = int, long, and double, whether or not Tpetra needs them.

Just to check, I changed K

[2016-10-10 23:02] mhoemmen commented on #700
Next, for integer Scalar types, I replaced the pre-built sparse mat-vecs (that is, all use of the DEF macros for integer Scalar types int and long long) with a stub implementation that throws std::logic_error.  Then, I got the following build sizes:

  - MPI_DEBUG: 2.0 G
  - MPI_DEBUG_STATIC:
  - MPI_RELEASE:
  - MPI_RELEASE_STATIC:

[2016-10-11 15:49] jhux2 commented on #460
@bmpersc I thought be89a0d was just moving the test, not a fix.

[2016-10-11 16:06] bmpersc commented on #460
@jhux2 this seems to have been an automated thing that github did based on the commit log in be89a0d where it said "This will help us fix #460." Apparently having fix and a bug number are enough to automatically close a ticket.

[2016-10-11 16:36] jhux2 commented on #460
@bmpersc Ok, good to know.

[2016-10-11 16:41] mhoemmen commented on #700
Next steps:
  1. Make the pre-building of kernels use the "TPETRAKERNELS_INSTANTIATE_*" macros
  2. Don't build kernels for Devices that Tpetra does not use (e.g., Kokkos::Serial may be enabled in Kokkos, but not necessarily in Tpetra)

[2016-10-11 17:08] srajama1 commented on #700
Before you spend a lot of time doing this, we were wondering in the Zolatn2 meeting if it is possible to remove the dependency on integer instantiations in Zoltan2. Can we talk , may be with @kddevin as well.

[2016-10-11 20:28] eric-c-cyr commented on #692
Commit 9924a5ea48b4ba2b8358aad856780ed7cb5f4896 addresses the owned array issue for high order discretizations. Assuming all of this passes, I will consider this issue closed.

[2016-10-11 20:28] #692 closed

[2016-10-11 20:32] mhoemmen opened #701 "Why does TriBITS' ETI add Nodes to list of manglings / typedefs, even when I don't want them there?"
I'm using the ETI system for KokkosKernels.  I don't want the manglings and typedefs to include Node types, because those don't exist in KokkosKernels.  I just want to strip those out.  How do I do that?  I even cleared out list_of_manglings and eti_typedefs at the top of tpetra/kernels/cmake/ExplicitInstantiationSupport.cmake, and the Node types came back!!!

[2016-10-11 20:42] mhoemmen commented on #700
@srajama1 I appreciate the thought :-)  On the other hand, it's not just Zoltan2 that needs integer Scalar types.  Furthermore, Michael Worf gave some good reasons why Zoltan2 might want to do sparse mat-vecs with integer Scalar types.

[2016-10-11 23:07] bartlettroscoe commented on #158
I did a little timing experiment and the NFS-mounted SEMS env and it can be pretty slow.  For the TriBITS test suite (which runs lots of tools and compilers processes on a fine-grained scale) the NFS-mounted SEMS env takes more that 5x longer to run that a local env (built with the TriBITS install_devtools.py script).  For development for me, that is unacceptable to use as an interactive developme

[2016-10-11 23:12] bartlettroscoe commented on #158
I submitted SEMSHELPD-130 to ask about syncing the SEMS env.

I am going to try to wrap up this Story along with #482 this week one way or another.

[2016-10-12 14:11] aprokop commented on #676
Yes, I noticed this issue too back in Jan when working on reuse. I have a patch (see https://github.com/muelu/Trilinos/commit/43b0fdb7334dc5d5fe75baa2a8e63f683fc4a2c0) which converts some classes to be templated on RowMatrix instead of CrsMatrix. This way this conversion only being done if necessary.

Unfortunately, the patch has to be rebased  on top of the recent changes which may require some w

[2016-10-12 15:09] mhoemmen commented on #700
Woah, I killed 2 MB just by changing the macros for axpby to match Tpetra's, rather than Kokkos'.

[2016-10-12 16:52] bradking commented on #321
@bartlettroscoe see kokkos/nvcc_wrapper#5 for a proposed fix to the `nvcc_wrapper` script for this.

[2016-10-12 17:20] aprokop commented on #367
The issue was accidentally closed.

[2016-10-12 17:28] jmgate commented on #615
Another discrepancy in terminology, we had "unique" and "owned" referring to the same thing in various places.  This has been cleaned up such that we now have "owned" and "ghosted" vectors/maps/spaces everywhere.

[2016-10-12 17:32] mhoemmen commented on #701
I think I figured this out.  I added the following to the top of Trilinos/packages/tpetra/kernels/cmake/ExplicitInstantiationSupport.cmake:
[code]
and that cleared out the Node-related manglings and typedefs.

[2016-10-12 17:32] #701 closed

[2016-10-12 18:05] bartlettroscoe commented on #321
@bradking, thanks for putting this together.

@bathmatt, do you have a current Trilinos configure script for one of the ATTB CUDA machines set up so that we can try this patch provided by Brad?

[2016-10-12 18:07] bartlettroscoe commented on #158
I got a message back for SEMSHELPD-130 that SEMS is working on a sync script for the SEMS Dev Env.  I am excited to try that out to see if that fixes the performance problems that I am seeing.

[2016-10-12 21:53] jwillenbring opened #702 "Add new cdash "Nightly" build tracks/groups"
@trilinos/framework @maherou

We spoke on Tuesday morning about creating a new track for test results in CDash for build that must pass. Currently, we have nightly, release, and experimental. The focus of this ticket will be to create a new track, tentatively called "clean" for builds that we want to require to be 100% clean. For builds that are more than experimental, but people don't want to enf

[2016-10-13 04:06] mhoemmen commented on #700
I had some build settings wrong, so my above build size measurements were off.  This time, I tested MPI_RELEASE with only `Kokkos::Serial` and `Trilinos_ENABLE_OpenMP:BOOL=OFF`.  I used the check-in test script, but only enabled the Ifpack2 package (`--enable-packages=Ifpack2`), so that I would build Tpetra's libraries, but no tests or executables.

As of commit 33a2c7ec32ba20709f6ba46c8439d7ad297

[2016-10-13 16:03] spdomin opened #703 "Nalu build error due to Trilinos includes"
10/13/2016 NaluRtest
PROCESS FAILED
NaluCFD/Nalu SHA1: 636a674
Trilinos SHA1: 46a01d623c988b686e9af23e2eda920a2aa51de8

/scratch/spdomin/nightlyBuildAndTest/Nalu/include/LinearSolverTypes.h:13,
                 from /scratch/spdomin/nightlyBuildAndTest/Nalu/include/LinearSolver.h:12,
                 from /scratch/spdomin/nightlyBuildAndTest/Nalu/src/LinearSolvers.C:10:
/home/spdomin/gitHubWork/sc

[2016-10-13 16:50] bmpersc commented on #703
This appears to be an issue with the installation of that file. I am working on a fix for it now.

[2016-10-13 17:12] bmpersc commented on #703
I just pushed a fix to develop. The missing file is now being installed properly.

[2016-10-13 17:22] spdomin commented on #703
Could you please augment the Trilinos policy to wait until user verification before issues are closed?

[2016-10-13 18:22] nmhamster opened #704 "TeuchosCore_TypeConversions_UnitTest_MPI_1 Fails on POWER8 RHEL7.3 with CUDA 8.0.44 and GCC 5.4.0"
I am running on POWER8 with GCC 5.4.0 and CUDA 8.0.44 with OpenMPI 1.10.4. A number of tests are failing including TeuchosCore_TypeConversions_UnitTest_MPI_1.

[code]

[code]

[2016-10-13 18:24] nmhamster opened #705 "Belos_pseudo_gmres_hb_MPI_4 Fails on POWER8 with GCC 5.4.0 and CUDA 8.0.44 with OpenMPI 1.10.4"
Running on POWER8 with GCC 5.4.0 and CUDA 8.0.44 with OpenMPI 1.10.4.

[code]

[code]

[2016-10-13 18:25] mhoemmen commented on #700
As an experiment, I gave all the integer Scalar instantiations of SPMV_MV (sparse matrix-vector multiply with multiple right-hand sides) trivial implementations.  This brought the MPI_RELEASE tpetra build directory size down from 383 M to 374 M.  That's with two integer Scalar type instantiations.  Not quite as much as I had hoped, but still not bad.  This is with GCC; I would expect more with the

[2016-10-13 18:55] maherou commented on #703
This bug should still be open until confirmed by reporter.

[2016-10-13 19:05] mhoemmen commented on #700
I repeated the above experiment, but replaced the stub implementations with repeated calls to SPMV::spmv (single-vector implementation).  Resulting build size: still 374 M!  (Not entirely surprising; we pre-build the single-vector implementation, so this should not build much more code).

[2016-10-13 20:04] lxmota commented on #609
Today there was a telecon about MiniTensor. In attendance Ross Bartlett, Mauro Perego, Mike Heroux, Dave Littlewood, Brent Perschbacher, and I. Here are the conclusions from that meeting:

-          Move forward with making MiniTensor its own internal Trilinos package. Avoids code duplication, frees Intrepid/Intrepid2 of extraneous code (MiniTensor and Intrepid/Intrepid2 do not depend on one anot

[2016-10-13 22:17] mhoemmen commented on #700
After my last commit mentioned above, the resulting build size was still 374 M!  (This is not entirely surprising; we pre-build the single-vector implementation, so this should not have built much more code.)

[2016-10-13 22:20] #700 closed

[2016-10-13 23:08] bartlettroscoe commented on #704
@nmhamster, I think this is basically a duplicate of #400 (with GCC 5.3.0) which appears to be a duplicate of #257 (with GCC 4.9).  Since this happens with multiple versions of GCC and CUDA, my guess is that this is non-IEEE floating-point behavior of the GCC compiler on this system or something that affects all of these compiler versions.

@mhoemmen, it looks like the `asSafe<double>(os.str ());`

[2016-10-14 13:31] ibaned commented on #703
Also affects Albany. Should be okay once `develop` is merged into `master`.

[2016-10-14 16:55] bmpersc opened #706 "NOX test failure with intel 16"
The NOX_Thyra_Heq_MPI_1 test is failing when built with intel 16. You can view the issue at:

http://testing.sandia.gov/cdash/testDetails.php?test=35003382&build=2588884

In case that link is dead the full test output is:

Teuchos::GlobalMPISession::GlobalMPISession(): started processor with name ascic114 and rank 0!
Verbosity Disabled

---

-- Nonlinear Solver Step 0 --
||F|| = 7.483e+00  step =

[2016-10-14 16:58] bmpersc opened #707 "Intrepid2 test failure with Intel 16"
The Intrepid2_core_test_Shared_ArrayTools_Test_04_Kokkos_MPI_1 test is failing when built with Intel 16. You can see the error at:

http://testing.sandia.gov/cdash/testDetails.php?test=35003100&build=2588880

In case that link is dead the full output from the test is:

[code]

[2016-10-14 16:59] nmhamster commented on #704
@bartlettroscoe what would you suggest we do with the issue? I think there is some danger in our development efforts that we are implicitly assuming X86 is "correct" with respect to operational behavior perhaps. Do we need to catalogue these or can we just close them out?

[2016-10-14 17:01] bmpersc opened #708 "Teko test failing with intel 16"
The test Teko_DiagonallyScaledPreconditioner_MPI_1 is failing when built with intel 16. You can view the error at:

http://testing.sandia.gov/cdash/testDetails.php?test=35002833&build=2588874

In case the link is dead the full output from the test is:

Teuchos::GlobalMPISession::GlobalMPISession(): started processor with name ascic114 and rank 0!

---

**\* Unit test suite ...

---

Sorting tests

[2016-10-14 17:05] bmpersc opened #709 "Anasazi tests failing with Intel 16"
There are 2 tests failing when built with Intel 16.

Anasazi_Epetra_OrthoManagerGenTester_1_MPI_4
Anasazi_Epetra_ModalSolversTester_MPI_4

You can view the test output at:

http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2588866

In case the link is dead the output from the tests follows.

The output for test Anasazi_Epetra_OrthoManagerGenTester_1_MPI_4 is:

[code]

The output for

[2016-10-14 17:10] bmpersc opened #710 "Thyra tests failing with Intel 16"
**CC:** @trilinos/thyra

**Description:**

There are 4 tests failing when built with Intel 16.

ThyraCore_SpmdLocalDataAccessUnitTests_MPI_2
ThyraCore_SpmdLocalDataAccessUnitTests_MPI_4
ThyraCore_SpmdLocalDataAccessUnitTests_MPI_3
ThyraCore_SpmdLocalDataAccessUnitTests_MPI_1

You can view the test output at: http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2588830

The test output f

[2016-10-14 17:25] spdomin commented on #703
My nightly process for develop passed this morning. Feel free to close the issue, or we can wait until it is confirmed in master - whatever fits the Trilinos SQA process.

[2016-10-14 17:53] bartlettroscoe commented on #704
I don't think this is X86 behavior per say.  The behavior documented at:

* http://www.cplusplus.com/reference/cstdlib/strtod/

is supposed to hold on **all** systems.

Right now, I think there is value in letting these unit tests fail since there are no Nightly automated tests submitted to that will fail and send out CDash error emails.  But if these failing tests are blocking some automated proc

[2016-10-14 19:34] mhoemmen commented on #709
@bmpersc FYI, sometimes it helps to put test output in triple backquotes ```like this```.  Otherwise, the test results sometimes get formatted weirdly.

[2016-10-14 19:35] #703 closed

[2016-10-14 19:36] amklinv commented on #709
@trilinos/anasazi @rblehou @hkthorn

[2016-10-14 22:37] mhoemmen commented on #704
@nmhamster @bartlettroscoe As far as I know, there's nothing in Trilinos that depends on correctness of `long double`-related standard library functions.  I'll be happy if we disable the tests for `long double`-related conversions on platforms with non-compliant implementations.  The commented-out test and comments in lines 169-187 hint at the mess that is the current state of cross-platform `long

[2016-10-16 16:49] bartlettroscoe commented on #704
But the unit tests that are failing here:

https://github.com/trilinos/Trilinos/blob/master/packages/teuchos/core/test/TypeConversions/TypeConversions_UnitTest.cpp#L411

seem to be protected by `if (sizeof (long double) > sizeof (double)` so that must mean that `long double` is a different type from `double` on this platform.  But I guess that does not guarantee that all `long double` and `double`

[2016-10-16 17:02] nmhamster commented on #704
@bartlettroscoe almost certain long double and double won't be the same going forward on at least some of the testbeds. We can talk more offline if needed on that.

[2016-10-16 20:53] bartlettroscoe commented on #710
@bmpersc, thanks for creating this.  A couple of things:

1) Can you please put in a `@trilinos/<team>` mention for the given Trilinos team members as described [here](https://github.com/trilinos/Trilinos/wiki/New-Issue-Cheat-Sheet)?

2) Can you plesae put in or point to some type of reproducability information? Can someone reproduce this with the SEMS env?  If so, how?  What is the exact set of m

[2016-10-17 18:46] mhoemmen commented on #710
@trilinos/thyra

[2016-10-17 18:47] mhoemmen commented on #704
`long double` and `double` really should NOT be the same.  It's only Windows that seems to show this weird behavior.  In any case, this is one of the reasons why I don't rely on `long double`; it's hard enough convincing vendors to implement `double` correctly ;-P  I'm happy just getting rid of this test.

[2016-10-17 20:47] jjellio opened #711 "Kokkos/unit tests build failure cuda (The closure type for a lambda)"
I am getting the following error when trying to build with GCC 4.9.2 / CUDA 7.5.7 on an IBM system.

I've tried bother master and develop and both yield the same problem.

/home/jjellio/src/Trilinos/packages/kokkos/core/src/Cuda/Kokkos_Cuda_Internal.hpp(183): error: The closure type for a lambda ("lambda [](const Kokkos::Impl::CudaTeamMember &, int &)->void") cannot be used in the template argumen

[2016-10-17 21:08] mhoemmen commented on #711
@jgfouca

[2016-10-17 21:10] jgfouca commented on #711
@mhoemmen yes?

[2016-10-17 21:12] mhoemmen commented on #711
@jgfouca help us we don't know how to fix the thing

[2016-10-17 22:09] bathmatt opened #712 "panzer connectivity questions for multi blocks."
@rppawlo @eric-c-cyr
I've been looking through the ConnManager and take the function

   virtual const GlobalOrdinal * getConnectivity(LocalOrdinal localElmtId) const = 0;

This doesn't take a local element id, It takes an index into which local element id.

This code fails if you have multiple blocks because localIDs[id] is not consecutive.
    const std::vector<LocalOrdinal> &localIDs = conn_->g

[2016-10-17 22:28] bathmatt commented on #712
In addition, tihs seems to be at odds with the workset.  A workset is for a block, but if you ask, what is my cell_local_id it returns the value of localIDs above and not id.

[2016-10-17 22:42] jjellio opened #713 "CMake weirdness LinuxPPC64 + NVCC"
I am running into some configuration weirdness on a Linux PPC64 system.

Calling cmake succeeds with no errors, but the link lines are 'bad'. For example (notice the long line of colons in the linker's rpath line):

Some searching leads to:
https://cmake.org/pipermail/cmake/2011-June/044806.html

Configuring with CMAKE_NO_BUILTIN_CHRPATH=TRUE, eliminates the bad rpath line, but unveils another pro

[2016-10-17 22:44] mhoemmen commented on #655
I have the same problem with Xpetra:
[code]
I suspect that we could fix this by breaking up that rather large file into a collection of smaller files.

[2016-10-17 22:48] jhux2 commented on #655
Is this a debug build by any chance?  In other cases where nvlink dies, I've found that removing '-G' (and maybe '-g') from the compile line fixes the problem.

[2016-10-17 22:51] mhoemmen commented on #655
yup, debug build.  i sure would like to have debug builds though ;-)  how do i remove -G but keep -g and CMAKE_BUILD_TYPE=DEBUG?

[2016-10-17 23:04] jhux2 commented on #655
I don't know -- I gather you are not specifying -G in your config script.  In my case, I finally resorted to doing ```CMAKE_BUILD_TYPE=RELEASE```.

[2016-10-18 04:17] eric-c-cyr commented on #712
It does take a local element id. There are a list of elements on each processor and they are ordered (somehow) the argument to getConnectivity is the local element id. Practically you would not just loop from 0 ... Nel and do stuff, you would loop over element blocks.

So I'm a little confused about the confusion here (not to say its not confusing...right). Each processor has its own Id for each e

[2016-10-18 14:25] bathmatt commented on #712
That is the way I thought it was, but I was seeing something off in the debugger.
It turns out  there was a memory error where some of the connectivity arrays was overwritten with other values causing the confusion.

[2016-10-18 14:25] #712 closed

[2016-10-18 15:01] hakeemo opened #714 "Pytrilinos Epetra map: Cannot create overlapping maps"
I cannot seem to create a nonunique Epetra map in PyTrilinos.  When I run the following code

[code]

I get
File "/home/tigon/trilinos-install/lib/python2.7/site-packages/PyTrilinos/Epetra.py", line 3222, in __init__
    this = _Epetra.new_Map(*args)
Epetra.Error: Error code = -4

Unless I set overlap_length=0, which works fine.

[2016-10-18 15:35] jwillenbring commented on #714
CC: @wfspotz

[2016-10-18 18:09] tawiesn opened #715 "Implement getHostLocalView for Xpetra::EpetraIntVector."
The implementation is missing and prevents us from running MueLu with CUDA, see e.g. here:
http://testing.sandia.gov/cdash/testDetails.php?test=35071999&build=2595353

[2016-10-18 18:12] tawiesn commented on #715
The attached patch provides the implementation of the missing routines.
[0008-Xpetra-implement-getHostLocalView-for-Xpetra-EpetraI.txt](https://github.com/trilinos/Trilinos/files/537025/0008-Xpetra-implement-getHostLocalView-for-Xpetra-EpetraI.txt)

@jhux2 Could you test it with CUDA and run the tests. It is compiling on my machine (but i have no CUDA).

[2016-10-18 18:23] jhux2 commented on #715
@tawiesn yes, I'll do this

[2016-10-18 19:18] wfspotz commented on #714
The first argument can be quite confusing. The length here is the total number of elements on each processor (owned AND overlap) summed over the processors. Epetra will check the computed sum against what you gave it, and the -4 error indicates that they don't match.

I have always used -1 in the past, but apparently 0 works as well. These values tell Epetra to compute the length for you.

[2016-10-18 19:18] #714 closed

[2016-10-18 19:59] aprokop commented on #715
Adding @trilinos/xpetra
I think a better way to such patches is to submit/commit them to muelu/Trilinos develop, and run selected nightlies on that branch on geminga. This way you won't have to ask @jhux2 each time we are touching Kokkos.

[2016-10-19 18:18] tawiesn commented on #715
I have an account on geminga (just tried it), but the test setup is in /home/jhu on geminga which i do not have access. How can i run selected nightlies then? Maybe we should use a general "muelu" user on geminga that we have all access to, or create a muelu group or...
We could also use docker containers (at least as long as we do not try to compile for CUDA, as far as i know you can't use docker

[2016-10-19 18:20] jhux2 commented on #715
@tawiesn Some of the MueLu and Xpetra tests are taking a really long time to run (>20 minutes), and in some cases timing out.  As far as I can tell, my configuration is the same as the OpenMP one on geminga.

[2016-10-19 18:21] jhux2 commented on #715
This is not due to your patch btw, but something is not the same between my hand-build and the dashboard.

[2016-10-19 18:53] tawiesn commented on #715
In the geminga ctest*.cmake files is the command SET(CTEST_TEST_TIMEOUT 900) which should be 15 minutes. You can try to increase that. You should also check the ctest call (probably in the crontab of the "jhu" user that i have no access to). There could be a --test-timeout flag which overwrites the parameter in the ctest file.

[2016-10-19 18:54] jjellio opened #717 "Anasazi/TraceMin fails to build when Belos_ENABLE_TSQR=ON and Tests enabled"
This build is on Power8+CUDA with GNU toolchain (4.9.2).

[code]

[code]

@amklinv

[2016-10-19 19:00] jhux2 commented on #715
What I find strange is that according to the [dashboard](http://testing.sandia.gov/cdash/viewTest.php?buildid=2596543), the tests should run very quickly.  The slowest should take at most 5.5 minutes, and most should run in seconds.  So I don't believe increasing the timeout will help.

[2016-10-19 19:36] aprokop commented on #715
Oversubscription?

[2016-10-19 19:54] jhux2 commented on #715
So how would I tell if this is the case?

[2016-10-19 19:57] tawiesn commented on #715
@jhux2 Have you set the OMP_NUM_THREADS variable? I usually set it to 2. I think, Kokkos should print a warning on the screen, too. But it probably cannot detect if you run several tests in different configurations at the same time....

[2016-10-19 20:23] jjellio opened #718 "Tpetra's Node ctor needs to strip "--kokkos-*" command-line args from Teuchos::GlobalMPISession if it initializes Kokkos"
The kokkos programming guide specifies that arguments intended for Kokkos that are prefixed with kokkos, e.g., --kokkos-ndevices, will be removed from the argument list before returning from Kokkos::initialize(argc,argv).

Calling Teuchos::GlobalMPISession(argc,argv) with kokkos prefixed arguments in argv does not preserve this behavior. This seems acceptable, because GlobalMPISession has no knowl

[2016-10-19 20:36] jhux2 commented on #715
@tawiesn Thanks, that is the issue.  Setting OMP_NUM_THREADS to 2 fixes it.  For the record, this is set in cron_driver.sh for the nightly tests.

[2016-10-19 20:38] mhoemmen commented on #717
@trilinos/anasazi @trilinos/belos

[2016-10-19 20:47] mhoemmen commented on #718
This is actually correct behavior for Teuchos.  Teuchos doesn't know whether you want to initialize Kokkos, nor does it know _when_ you want to initialize Kokkos.  Teuchos::GlobalMPISession just saves those command-line arguments.

If Tpetra's Node instance needs to call Kokkos::initialize, then it uses the command-line arguments saved in Teuchos::GlobalMPISession.

Could you give an example?

[2016-10-19 20:57] jhux2 commented on #715
@tawiesn MueLu_UnitTestsTpetra_MPI_[14] pass with your patch.  However, Xpetra_CrsMatrix_UnitTests_MPI_4 is failing.
[output-Xpetra_CrsMatrix_UnitTests_MPI_4.txt](https://github.com/trilinos/Trilinos/files/540172/output-Xpetra_CrsMatrix_UnitTests_MPI_4.txt)

[2016-10-19 21:00] jjellio commented on #718
Simple.

1. Create a Teuchos  CommandlineParser.
2. SetOption() for options relevant to your app. (Kokkos options are not *your* options to set. They belong to Kokkos, so I will *not* add them)
3. parseResult will not be CommandLineProcessor::PARSE_SUCCESSFUL because kokkos options will still be in argv.

So the user either needs to know and add *every* possible Kokkos argument. Updating and maint

[2016-10-19 21:24] tawiesn commented on #715
@jhux2 Thanks.

The error message is

I think the problem is that we explicitly call
   ` Kokkos::initialize();`
and
    `Kokkos::finalize();`
in the beginning and in the end of the ConstructMatrixKokkos unit test.

That's the issue described in #522.

[2016-10-19 22:06] bathmatt opened #719 "MatrixMarket output for thyra matrix/vector"
@bartlettroscoe
Is there any interface for dumping thyra vectors or operators in the matrix market like format, or any format for that matter?  Debugging something and I'm getting NaNs and don't know why.

[2016-10-19 22:22] tawiesn commented on #715
I think we just need to remove the Kokkos::initialize and the Kokkos::finalize call. I have to test this with some configurations.

[2016-10-19 22:37] tawiesn commented on #719
Maybe there is a more elegant way, but i probably would use the routines in Xpetra: use Xpetra::toXpetra(...) from packages/xpetra/sup/Utils/Xpetra_ThyraUtils.{hpp,cpp} to transform a Thyra object into the corresponding Xpetra object (works for Maps, MultiVectors, LinearOperators/Matrices)
Use the "Write" member functions from the Xpetra::IO class (packages/xpetra/sup/Utils/Xpetra_IO.hpp) to write

[2016-10-19 22:42] bartlettroscoe commented on #719
Sounds like Xpetra is the best solution for large objects.  For small objects, you can just use the [Teuchos::Describable](https://trilinos.org/docs/dev/packages/teuchos/doc/html/classTeuchos_1_1Describable.html) interface and use something like:

[code]

That is guaranteed to work for any underlying type, no matter what.  But for large objects, that will be expensive and produce too much data.

[2016-10-20 01:04] dridzal opened #720 "Amesos2 transpose capability appears defunct"
I would like to use the transpose solve capability in @trilinos/amesos2 .  After a few email exchanges with @srajama1 the conclusion is that this functionality may not work.  For example, in Amesos2, in the file

  test/solvers/KLU2_UnitTests.cpp

there is a line

  amesos2_params.sublist("KLU2").set("Trans","TRANS","Solve with transpose");

If I look at KLU2, the "Trans"/"TRANS" pair is not allow

[2016-10-20 14:42] eric-c-cyr commented on #712
What this an error in panzer?

[2016-10-20 14:45] bathmatt commented on #712
No, my code.  but building on top of conn manager..

On Thu, Oct 20, 2016 at 8:42 AM, Eric C. Cyr <notifications@github.com>
wrote:

[2016-10-20 17:59] jhux2 commented on #655
@mhoemmen Did you ever figure out how to do the following simultaneously?

- remove ```-G```
- keep ```-g``` and ```CMAKE_BUILD_TYPE=debug```

[2016-10-20 18:18] mhoemmen commented on #718
It's not right for Teuchos to remove Kokkos' command-line arguments until Kokkos actually gets initialized.  However, it _is_ true that Kokkos currently has no way to remove those command-line arguments from Teuchos::GlobalMPISession.  The latter is a bug, in the sense that it prevents Kokkos from manifesting its promised behavior, when running in Trilinos, if the user or test or example uses Teuc

[2016-10-20 19:03] bathmatt commented on #719
Thanks,

[2016-10-20 19:03] #719 closed

[2016-10-20 19:39] mhoemmen commented on #655
I was away at a workshop for the past couple days.  I'm rebuilding now to see if I can get the file to compile with most of the tests commented out.

[2016-10-20 19:42] mhoemmen commented on #655
@jhux2 @tawiesn After commenting out all but one of the tests in xpetra/test/BlockedCrsMatrix/BlockedCrsMatrix_UnitTests.cpp, I was able to get the file to compile.  However, Xpetra_ThyraBlockedOperator_UnitTests.exe now refuses to link, likely for the same reason.

[2016-10-20 20:03] tawiesn commented on #655
You mean the

problem that @jhux2 also encountered?

[2016-10-20 21:24] mhoemmen commented on #655
@jhux2 libbelostpetra.so also fails to link for me, so I might as well just figure out how to replace `-G` with `-g`, while still leaving `CMAKE_BUILD_TYPE=DEBUG`.  I think CMake has options to change the debug-build-only compiler flags.

[2016-10-20 21:42] mhoemmen opened #721 "Galeri: Fix TriBITS warnings about deprecation of DEFINES"
In TRIBITS_ADD_EXECUTABLE*, DEFINES has long been deprecated in favor of TARGET_DEFINES.  This makes Galeri emit warnings.  The fix would be to replace use of DEFINES with TARGET_DEFINES.

[2016-10-20 21:46] mhoemmen commented on #655
@jhux2 I'm trying again with `CMAKE_CXX_FLAGS_DEBUG:STRING="-g -Os"`.  This minimizes code size.  I'm hoping this will work, and also let me keep all the original debug flags.

[2016-10-20 21:56] jhux2 commented on #655
@mhoemmen Maybe @bmpersc knows how to do this.

[2016-10-20 22:01] mhoemmen commented on #655
@jhux2 Wow, that come me through libbelostpetra.so!  Working on the rest now.

[2016-10-20 22:09] jhux2 opened #722 "Best way to eliminate warnings"
@trilinos/xpetra  Xpetra has a number of these types of warnings:

[code]

It would be great to keep the exception and eliminate the warning, without removing the return value, which would generate another type of warning.  Is this possible, short of implementing the method?

Pragmas are not an option it seems, as the option `--Wunreachable-code` has been a no-op in g++ for a long time;  see this

[2016-10-20 22:11] jhux2 commented on #655
Nice.  Did you keep ```-G```?

[2016-10-20 22:14] bmpersc commented on #655
I believe that setting the CMAKE_CXX_FLAGS_DEBUG manually will replace what cmake was going to put in for the flags. However, it is possible that tribits is also modifying that which is probably additive like you are wanting.

[2016-10-20 22:15] mhoemmen commented on #655
@jhux2 wrote:

There never was a -G, as far as I can tell.

[2016-10-20 22:19] mhoemmen commented on #655
This wasn't a complete fix; some Xpetra tests still fail to link.  However, it helped.  In particular, I was able to build libbelostpetra.so.

[2016-10-20 22:19] jhux2 commented on #655
So maybe ```-Os``` would allow  the use of ```-G``` for nvcc, which would be great for debugging?

[2016-10-20 22:21] mhoemmen commented on #722
Compilers are smart enough these days to realize that the function doesn't return.  I've found that I'm able to remove the superfluous return statements without causing warnings.

btw, I would recommend using `TEUCHOS_TEST_FOR_EXCEPTION(true, ...)` instead of -1 (-1 is true only because it doesn't equal 0, whereas `true` is, well, true ;-) ).

[2016-10-20 22:24] jhux2 commented on #722
@mhoemmen Thanks, I'll try your suggestion.

[2016-10-20 22:34] mhoemmen commented on #655
I still can't build Xpetra_ThyraBlockedOperator_UnitTests.exe, for example, so I don't think this is a complete solution.  It still would make sense to split up tests.

[2016-10-20 23:35] #721 closed

[2016-10-20 23:36] tawiesn commented on #655
@mhoemmen: Does it link if you comment out all except of one tests in Xpetra_ThyraBlockedOperator_UnitTests.exe now? If yes, we can split the unit tests. How many instantiations have you enabled in your build?

I'm wondering whether we could have some kind of test template which is used to auto generate a unit tests from a specific cpp file containing one test (similar to the ETI code generation).

[2016-10-21 02:23] tawiesn commented on #556
Fixed

[2016-10-21 02:23] #556 closed

[2016-10-21 03:32] mhoemmen commented on #655
@tawiesn wrote:

I haven't tried this with that specific unit test yet, but I have tried it with another Xpetra test that was having the same trouble, and that worked.

  - `Scalar = double, std::complex<double>` (plus all the integer Scalar types)
  - `GO = int, long` (would really love to disable `GO = int` at some point...)
  - `Node = KokkosCudaWrapperNode` (only that Node type)

[2016-10-21 17:05] jjellio opened #723 "Tpetra / Power8 / OpenMP, multiple definitions"
On a power8 machine, Trilinos is failing to build with libtpetra.so having multiple definitions of some functions. Perhaps sizeof(INT) and sizeof(LONG LONG) are the same?

[code]

The build setup for this is

[code]

@mhoemmen @tpetra

[2016-10-21 21:24] jhux2 commented on #723
@trilinos/tpetra

[2016-10-22 00:59] spdomin opened #725 "Nalu diffs due to latest Trilinos update"
Bad test suite as of Trilinos SHA1:

commit 5320963fbe2ec9aeba1dc62871e4be4f44961970
Author: Tobias Wiesner tawiesn@sandia.gov
Date: Wed Oct 19 14:43:41 2016 -0600

Last good:

NaluCFD/Nalu SHA1: d2adbe8
Trilinos/master SHA1: 12fd285b28abeb7336a8d4f17913819b9ce7015b

This bisect is complicated in that the builds of Trilinos fail either due to configure errors or flat out build issues.

[2016-10-22 01:12] spdomin commented on #725
As I bisect, a number of the config steps are failing due to:

 Error, the variable TPL_ENABLE_CGNS is not defined

[2016-10-22 07:00] tjfulle opened #726 "Ifpack2 build error on darwin: Clang, SERIAL_RELEASE"
(@mhoemmen) On darwin (clang compiler, other TPLS installed via homebrew), using the checkin-test.py script to configure/build/test, I get the following error for the SERIAL_RELEASE build (the MPI_DEBUG build is fine):

[ 99%] Building CXX object packages/ifpack2/test/unit_tests/CMakeFiles/Ifpack2_Issue234.dir/Ifpack2_UnitTest234.cpp.o
[ 99%] Linking CXX executable Ifpack2_ContainerFactory.exe
Und

[2016-10-22 15:08] bartlettroscoe commented on #482
Being able to do robust git bisection is one of the motivations for using the checkin-test.py script to push all commits.  Below is a concrete example.  Stefan reports that half of the commits he is trying to bisect on are not even passing configure.

----

From: Bartlett, Roscoe A
Sent: Saturday, October 22, 2016 11:06 AM
To: Domino, Stefan Paul; Trilinos Developers List
Subject: RE: [Trilinos-de

[2016-10-22 15:38] tjfulle commented on #726
@mhoemmen, using the gcc compilers (identical configuration as above) configure/build/test passes

[2016-10-22 15:42] crtrott commented on #711
I will look into this

[2016-10-22 15:46] crtrott commented on #327
Ok this can only happen if you compile with hwloc enabled. I think I know how to fix it (basically the tests should check whether HWLOC is available, and restrict themselves to the right number of threads if so).

kokkos/kokkos#489

[2016-10-22 16:53] spdomin commented on #725
I resolved this and found the following commit caused the issue:

31d1a077ad748d89f227c359c9ebdb1b6fe40cbf is the first bad commit
commit 31d1a077ad748d89f227c359c9ebdb1b6fe40cbf
Author: Tobias Wiesner <tawiesn@sandia.gov>
Date:   Mon Oct 17 12:29:53 2016 -0600

    Ifpack: introduce optimized SGS algorithm for 1 rhs only.

    In most cases we have only one rhs vector. Avoiding double indices sav

[2016-10-23 00:42] tawiesn commented on #725
I've ran the checkin test script with all downstream packages of MueLu and Zoltan2. I've explicitly also enabled the Ifpack tests and they passed without problem:

[code]

I've slightly reordered the algorithmic steps in the optimized version which is the only reason that could explain your diffs (cancellation effects?). I've tested the algorithm with a rather complex MHD example in drekar both in

[2016-10-23 01:10] spdomin commented on #725
Whatever you think is best. If you have confidence in the new implementation, I can accept the diffs.

Many turbulent flow simulations are very sensitive to the order of operations. The tests diffed at 1e-8-ish in the nonlinear residuals.

[2016-10-23 02:33] crtrott commented on #200
If this is still relevant please reissue in github kokkos/kokkos

[2016-10-23 02:33] #200 closed

[2016-10-23 02:34] crtrott commented on #711
How did you get into this situation? This looks like you tried to activate lambda support in Trilinos and ran into trouble?

[2016-10-23 06:07] tawiesn commented on #725
Let me create a patch with the original ordering of the operations next Monday and submit it. It should produce the original numbers and the performance difference should not be significant. We should still get a performance boost for the single-rhs version since we need one memory access operation less each iteration. I was trying to get the Ifpack algorithm closer to what is done in the ML imple

[2016-10-23 06:11] tawiesn commented on #725
That would help a lot to avoid problems like that in the future. You could create a docker container with Nalu that runs the test suite. That would simplify the testing process and would make sure that we really testing your environment (compiler version, TPLs,...)
I will talk about docker containers on Tuesday at the TUG meeting.

[2016-10-23 16:05] nschloe opened #727 "Teuchos on PPC64: The following tests FAILED: asSafe_stringToReal_UnitTest"
On PPC64, I'm getting one test failure

[code]

[code]

Test passes on AMD64.

All details [here](https://launchpad.net/~nschloe/+archive/ubuntu/trilinos-nightly/+build/11059421/+files/buildlog_ubuntu-xenial-ppc64el.trilinos_12.9~20161022141326-06126655-1xenial1_BUILDING.txt.gz).

[2016-10-23 16:16] nmhamster commented on #727
@nschloe - I've reported this bug a few times with different compiler combinations. You can see other bug reports for comments from @mhoemmen and @bartlettroscoe. Are you running on PPC64LE or PPC64BE?