[2019-01-31 03:47] khpierson commented on #3178
Is there a single point of contact? or is Siva correct in saying there is a counsel in charge?

[2019-01-31 04:20] mhoemmen commented on #4202
@mayrmt Thanks for working on this!  I made some comments on the PR.

[2019-01-31 16:28] lucbv opened #4304 "MueLu: structured region driver"
@trilinos/muelu
@rstumin @mayrmt @pohm01

## Expectations
This new driver constructs a problem on a perfectly structured grid and provides necessary data for HHG region matrix construction

## Motivation and Context
This driver will provide a testing ground for new HHG capabilities on a simple mesh.

[2019-01-31 17:13] lucbv commented on #4263
@mhoemmen, a new PR #4305 by @cgcgcg should eliminate some of the test failures, let me know if this helps once it's merged.

[2019-01-31 19:58] kyungjoo-kim commented on #4257
@bartlettroscoe PR #4307 will fix the block crs unit test failures. After the PR is merged, would you please re-enable the test ?

[2019-01-31 20:14] bartlettroscoe commented on #4257
@kyungjoo-kim said:

Thanks for fix!

Someone will need to revert PR #4293 after we confirm that these tests are fixed in the ATDM build (where this tests was never disabled, PR #4293 only disabled them in the Trilinos PR build controlled by the @trilinos/framework team).

[2019-01-31 23:03] csiefer2 opened #4309 "MueLu: CoalesceDropFactory builds Import object ex nihilo, if we amalgamate"
We should be able to amalgamate an importer.

Filing for future consideration.

[2019-02-01 16:24] GeoffDanielson commented on #4284
@tjfulle it looks like it's in the tjfulle fork?

[2019-02-01 16:32] tjfulle commented on #4284
Probably?  Most of those branches are stale.  Your branch may be the only up to date working version.

[2019-02-01 16:32] GeoffDanielson commented on #4284
@tjfulle I can pull the MatrixMarket_Tpetra.hpp into a branch and create an MR for it, would that work?

[2019-02-01 18:14] bartlettroscoe commented on #4267
The upgrade of 'mutrino' on 1/29/2019 fixed the build failures on ['mutrino' on 1/31/2019](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-01-31&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=Trilinos-atdm-mutrino).

Closing as complete.

[2019-02-01 18:14] #4267 closed

[2019-02-01 18:17] bartlettroscoe commented on #4242
The Fortran-only ATDM Trilinos builds have been fixed for some time now as shown on CDash, for example, on [1/31/2019](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2019-01-31&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=Trilinos-atdm-).

Closing as complete.

[2019-02-01 18:17] #4242 closed

[2019-02-01 18:46] srajama1 commented on #3864
@bartlettroscoe This issue was closed from the Kokkos Kernels side as an environment issue. We can't do much from Kokkos Kernels side. We can close this from Kokkos Kernels/Data Services perspective. Or remove those labels and track it as a Dev Ops issue for getting the environment cleaned up.

[2019-02-01 23:57] mhoemmen commented on #4309
Does "amalgamate" mean a set union of Imports?

[2019-02-02 15:43] khpierson commented on #4220
The warnings can be found on the Sierra nightly dashboard under the nvcc compiler line. I do not have the link handy but you can ask Mike V. To point you in the right direction

[2019-02-02 21:16] lucbv commented on #4309
@mhoemmen, amalgamate means reducing a problem from multiple dofs per node to single dof per node. So for a 3D vectorial problem with `3n` unknowns we want to get a problem with `n` unknowns, hence the importer needs to be `amalgamated`.

[2019-02-03 02:52] mhoemmen commented on #4309
@lucbv thanks!  I think I get it now -- you want to use already known DOF ownership information to construct the new Import object.

[2019-02-03 04:58] #2040 closed

[2019-02-03 04:58] #3250 closed

[2019-02-04 14:38] lucbv commented on #4304
PR #4310 implements the 2D case and started on the 3D case.
I will try to finish the 3D case quickly to give us a good starting point to test the HHG approach.

[2019-02-04 18:46] pelesh commented on #3469
Same thing happens with CMake 3.12.1. It seems that `nvcc_wrapper` script is not handling linking flags correctly and is passing to `nvcc` flags it does not recognize. The same happens with different versions of Open MPI, gcc, and CUDA. Below is the CMake error message:
[code]

[2019-02-04 18:53] jhux2 commented on #4262
I split out the worst offenders.  However, there are still failures;  see [here.](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filt

[2019-02-04 19:14] jhux2 commented on #4262
Here's a [snapshot](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombin

[2019-02-04 22:41] ndellingwood commented on #2426
@ZUUL42  Kokkos+KokkosKernels promotion testing is nearly finished, hoping to snapshot into Trilinos in the next couple days. This will address the complex test problems in kokkos-kernels reported elsewhere in this issue. kokkos/kokkos#1981 is tracking promotion progress.

[2019-02-04 22:42] ndellingwood commented on #3864
Cross-referencing with issue #2422

[2019-02-05 01:22] mhoemmen commented on #4257
@kyungjoo-kim Can we reenable that test now?

[2019-02-05 05:06] mhoemmen commented on #3469
Did you set `OMPI_CXX` to `nvcc_wrapper`?

[2019-02-05 14:18] lucbv commented on #2426
@mhoemmen, the complex build in MueLu is now clean, let us know if you see anything problematic during the trilinos promotion in Sierra

[2019-02-05 15:40] lucbv opened #4325 "MueLu: why using `linAlgebra=Epetra` with unit_tests_kokkos?"
@trilinos/muelu

## Expectations
It should be possible to use all of `kokkos` and `kokkos-kernels` in functions marked `_kokkos` in MueLu. Otherwise what is the point of the kokkos refactor?

## Current Behavior
`unit_tests_kokkos.exe` is called with both `linAlgebra=Tpetra` and `linAlgebra=Epetra`

## Motivation and Context
Running these kokkos specific unit tests with `linAlgebra=Epetra` pretty

[2019-02-05 15:50] bartlettroscoe commented on #3864
@srajama1 said:

@srajama1, we have the `ATDM Env Issue` label put on this so this this will not count against Trilinos.  But the problem is that as shown [here](https://groups.google.com/forum/#!topic/atdm-trilinos-builds-status/t4YkWTcn2iw), KokkosKernels and Sacado tests are still randomly failing in this KNL build.  Do the KokkosKernels developers have advice on how to correctly set up to run

[2019-02-05 16:34] bartlettroscoe commented on #4257
FYI: I created the revert PR #4326 to re-enable this test in the Trilinos CUDA PR build.  Just need someone to approve this PR and get it merged.  Then we can close this issue.

[2019-02-05 16:37] mhoemmen commented on #4257
Thanks Ross!  I just approved the PR.

[2019-02-05 16:42] pelesh commented on #3469
Yes, I did. This is how I build Trillions with CUDA support on my workstation. As you can see from the error log, the wrapper is working and `mpicxx` is using `nvcc` as the underlying compiler. It seems that at linking stage the script passes flags `-rdynamic,-fexceptions,-pthread` directly to the `nvcc`, which it does not recognize.

[2019-02-05 16:45] mhoemmen commented on #3469
Is this still 12.14 or are you using master Trilinos?  The latter is more likely to work.

[2019-02-05 16:50] pelesh commented on #3469
It is the HEAD of 12.14 branch. I'll try with master. What is puzzling to me is that everything works well on RHEL7, but not on TOSS3, even though the two are quite similar OSes.

[2019-02-05 17:14] lucbv commented on #2426
@mhoemmen feel free to close that issue, I feel it would be impolite for me to close it for you : )

[2019-02-05 17:42] jrood-nrel opened #4327 "Catalyst IOSS Adapter Python Imports"
@tjotaha @jeffmauldin I have one more question about the Catalyst IOSS adapter. I am working on a pull request for Spack regarding this here https://github.com/spack/spack/pull/10501 that might give some more information. Basically if I don't have the Paraview `site-packages/vtkmodules` in the `PYTHONPATH`, then the `phactori.py` file can't import `vtkParallelCorePython`:
[code]
Would the better f

[2019-02-05 18:52] csiefer2 commented on #4325
I have no problem with banning Epetra matrices w/ Kokkos refactor... as long as the non-Kokkos code path still exists.

The problem comes when we try to eliminate the non-Kokkos code path AND still support Epetra.

[2019-02-05 18:53] csiefer2 commented on #4309
And do it without communication.

[2019-02-05 19:30] bartlettroscoe commented on #4221
Looks like PR #4226 merged to 'develop' on 1/23/2019 has fixed these build errors with SPARC as shown in the new SPARC 'master' + Trilinos 'develop' testing process being set up in [TRIL-243](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-243).  In particular, the 100% clean SPARC 'master' builds (against Trilinos from  1/31/2019) shown [here](http://compsim-dashboard.sandia.gov/cdash/inde

[2019-02-05 19:30] #4221 closed

[2019-02-05 19:32] tjotaha commented on #4327
@jrood-nrel I talked to Jeff briefly about this issue. There may be a way to use the rpath information during the Catalyst IOSS adapter build to allow Python to find the libraries down in site-packages/vtkmodules. For right now, you have to set PYTHONPATH. We will experiment a bit and let you know if the rpath approach is viable.

[2019-02-05 20:56] #4257 closed

[2019-02-05 21:32] mhoemmen commented on #1936
Fixed a while back, in master.

[2019-02-05 21:32] #1936 closed

[2019-02-05 21:32] mhoemmen commented on #748
Fixed a while back, in master.

[2019-02-05 21:32] #748 closed

[2019-02-05 21:42] mhoemmen commented on #240
Fixed in master, a while back.  See `Trilinos/packages/ifpack2/example/RelaxationWithEquilibration.cpp`.  It computes row and column one norms, and gives you a way to scale a matrix by them.

[2019-02-05 21:42] #240 closed

[2019-02-06 00:52] ndellingwood commented on #2426
PR #4329 issued with kokkos + kokkos-kernels promotion to v 2.8.00 which should address the complex failures in kokkos-kernels documented in this issue.

[2019-02-06 01:01] bartlettroscoe opened #4330 "Build failures in SPARC 'master' + Trilinos 'develop' starting 2/5/2019 due to break in Teuchos::SerialDenseMatrix"
CC: @trilinos/teuchos , @jwillenbring (Trilinos Framework Product Lead), @bartlettroscoe, @fryeguy52, @sebrowne, @micahahoward

## Next Action Status

<status-and-or-first-action>

## Description

As shown in [this SPARC CDash query for 2019-02-05](http://compsim-dashboard.sandia.gov/cdash/index.php?project=SPARC&date=2019-02-05&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=-tril

[2019-02-06 01:12] bartlettroscoe commented on #4330
Looking over the new commits in Trilinos pulled on 2019-02-05, it looks like this was triggered by the Trilinos commit 0598e02:

[code]

pushed in PR #4259 merged to 'develop' on 2/4/2019.

@rhoope, my guess is that this change broke the output operator for `Teuchos::SerialDenseMatrix`.   And it looks like this was detected in a change to the test file:

* packages/teuchos/numerics/test/DenseMatri

[2019-02-06 12:25] ibaned opened #4334 "Albany build failing in MueLu: AggregationStructuredAlgorithm_kokkos"
@trilinos/muelu

## Current Behavior

[code]

[2019-02-06 12:46] sjohnson-imi commented on #3041
I just got this message. (Mac OSX 10.14.2 Mojave) using the master. Is there something specific I should be looking for to fix this?

cmake \
-D Trilinos_ENABLE_ALL_PACKAGES:BOOL=ON \
-D HAVE_GCC_ABI_DEMANGLE:BOOL=ON \
-D CMAKE_INSTALL_PREFIX=build \
-D Trilinos_ENABLE_TESTS:BOOL=ON \
-D TPL_ENABLE_Matio=OFF \
-D TPL_ENABLE_MPI:BOOL=ON \
-D TPL_ENABLE_HDF5:BOOL=ON \
-D HDF5_INCLUDE_DIRS:PATH=/opt/

[2019-02-06 14:15] lucbv commented on #4334
@ibaned I will look into it, somehow this did not get picked up by the PR auto-tester.
Are you building using any special configuration?

[2019-02-06 14:30] bartlettroscoe commented on #4330
@mseldre asked:

@mseldre, it is being used by SPARC.

Seems reasonable for a class to have a basic `operator<<(std::ostream, ...)` function that prints something useful.  My guess is that existing clients like SPARC just want some debug output and don't care about how detailed it is.

I can show you how to create really flexible ostream output operators that let you print whatever you want.  An e

[2019-02-06 14:39] jhux2 commented on #4325
@lucbv and I have discussed this offline.  For the life of me I can't remember what the rationale (if any) there was for testing Kokkos factories with Epetra.  I am in favor of dropping Epetra from these tests.

[2019-02-06 14:52] bartlettroscoe commented on #2464
FYI: While reviewing PR #4332, I just noticed that there is now a `Trilinos_pullrequest_cuda_9.2-83` build as shown in https://github.com/trilinos/Trilinos/pull/4332#issuecomment-460972709.  This is a PR that changes Teuchos so it should test everything downstsream in Trilinos.  Looking at the configure output on CDash [here](https://testing-vm.sandia.gov/cdash/viewConfigure.php?buildid=4500322),

[2019-02-06 15:14] bartlettroscoe commented on #4330
@mseldre said:

The deprecations mentioned by @hkthorn in the comment referenced in #4258 was to remove the base `Teuchos::Object` class, but there was no mention of removing the ostream operator.

[2019-02-06 16:38] mhoemmen commented on #4330
@bartlettroscoe wrote:

[2019-02-06 16:38] ndellingwood commented on #2426
@ZUUL42 @jwillenbring @william76 PR #4329 merged into Trilinos develop, hope this fixes the last of the complex issues blocking the new PR test. Thanks for the hard work adding the complex build to the PR testing!

[2019-02-06 16:38] mhoemmen commented on #4330
oops, sorry, my bad

[2019-02-06 16:59] mhoemmen commented on #3580
PR #3581 broke one test _way_ downstream in MueLu.  This suggests that we need much better unit testing in Distributor.

[2019-02-06 17:02] hkthorn commented on #4330
@bartlettroscoe @mseldre The removal of the ostream operator has also broken Xyce and Charon (and Xychron).

[2019-02-06 17:06] bartlettroscoe commented on #4330
@hkthorn said:

Given that is the case, can we please add back the `operator<<()` function for now (or just revert the entire PR)?  I am going to hit this later today as part of adding strong warnings to the ATDM Trilinos 'cee-rhel6' builds as part of work toward #3178 and [TRIL-255](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-255).  Any objection to me adding back `operator<<()` and a

[2019-02-06 17:08] hkthorn commented on #4330
Sorry, this is a big issue for downstream applications that leverage the Teuchos SDM so the operator<<() function has to be returned.

[2019-02-06 17:11] mhoemmen commented on #4330
@bartlettroscoe I don't object to reverting this.

[2019-02-06 17:11] mhoemmen commented on #4330
@hkthorn Does Xyce actually build against current Trilinos?  I had thought y'all were using 12.12.1.

[2019-02-06 17:12] rhoope commented on #4330
Would it be possible to add operator<< to the individual Teuchos classes to avoid them all inheriting from Teuchos::Object?  This would avoid the bloat associated with Object strings inherited by what would otherwise be much smaller derived classes (and is the original motivation for breaking inheritance in Issue #4258)?

[2019-02-06 17:13] hkthorn commented on #4330
@mhoemmen For releases we use 12.12.1, but the developers (like myself) that are using newer Trilinos packages build against develop.  Charon, that uses the Tpetra stack, builds against Trilinos develop/master and that means that Xychron (Xyce+Charon) must build against Trilinos develop/master.  Clear as mud?

[2019-02-06 17:14] bartlettroscoe commented on #4330
@hkthorn said:

@mhoemmen said:

Okay, I will go ahead and create a PR that reverts PR #4259 and then can someone create a new Issue to figure out a solution?

[2019-02-06 17:18] bartlettroscoe commented on #4330
FYI: I created PR #4336 to revert PR #4259.

Can someone create a new GitHub issue for removing `Teuchos::Object` but maintain `operator<<()`?

[2019-02-06 17:20] bartlettroscoe commented on #4330
@rhoope asked:

Yes, that would be the right thing to do.  There should be minimal code duplication with an approach like that and it would give the smallest objects.  We don't need polymorphic `operator<<()` function in a case like this.

[2019-02-06 17:22] bartlettroscoe commented on #4269
FYI: The impact of breaking backward compatibility (even small breaks) can be very high. For example, see #4330.

[2019-02-06 17:30] mhoemmen commented on #4269
@bartlettroscoe FYI the whole reason I approved the PR was to force this discussion about versioning.  If we never have major releases, we can't ever break backwards compatibility.

[2019-02-06 18:06] mseldre commented on #4330
I will note that the std library does not provide iostream insertion/extraction operators, presumably to avoid causing difficulty for applications from ADL rules.  Yes, there are work-arounds as you suggest, and we had a number of them previously -- and were very happy to see them go!  So I would advocate for a compromise where we add back these default iostream insertion/extraction operators but

[2019-02-06 18:26] mseldre commented on #4330
One other general thing -- as noted in #4259, the Dakota team would be happy to wait until a Trilinos release or other appropriate time to sync local changes and help resolve any impacts.  But it sounded like these opportunities have become scarce/non-existent such that moving forward now was as good as any other time.  Happy to be informed of other opportunities.

[2019-02-06 18:59] bartgol commented on #2008
Sorry, I forgot to answer. I'm not sure how important it is. I mean, if you disable FPEs, the code works fine. The FPE is in a branch that does not get executed (though, as you said, it _does_ need to be evaluated, which is what generates the issue).

I do not fully understand all the logic in Sacado, but isn't it possible to avoid the `if_then_else` construct for the case where neither of the two

[2019-02-06 19:06] bartlettroscoe commented on #3276
FYI: Just had a PR testing iteration fail as shown in https://github.com/trilinos/Trilinos/pull/4332#issuecomment-461130243 due to timeouts of some MueLu tests as shown in:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=4503915
* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4503915

Are the nodes getting overloaded in the PR testing?

[2019-02-06 19:25] bartlettroscoe commented on #4330
@mseldre,

My opinion is that code like `Teuchos::SerialDenseMatrix` has been around too long and used in too much user code to make a non-backward compatible change like this without a very strong technical reason (the ship has sailed).  The massive changes that it took in the original PR #4259 should have been a warning about the impact of this change.

Using the approach I outline [above](https

[2019-02-06 20:03] mseldre commented on #4330
Thanks for the thoughts.

@rhoope would have to comment on the extent of previous changes, but they could be quite minimal (i.e., a one-liner in an upstream client header) if there was an optional header include for the ostream insertions (Teuchos_SerialDenseIO.hpp or similar).

We already had workarounds exactly like this all over our code, so you are not suggesting anything new. They are gone no

[2019-02-06 20:59] lucbv commented on #4304
@pohm01 update the driver's code and we have a new PR: #4339, that fixes the 2D case and implements the 3D case.
@mayrmt,  I tested the example you presented above and it works fine, we should probably poke at the 3D case to make sure it does fine, but hopefully this will provide enough capabilities for now.

[2019-02-06 21:35] bartlettroscoe commented on #4330
@mseldre and @rhoope,

What we could do to avoid breaking backward compatibility bug give you want you want is to split the current header file and source files `Teuchos_SerialBandDenseMatrix.[hpp,cpp]` into `Teuchos_SerialBandDenseMatrix_Class.[hpp,cpp]` and  `Teuchos_SerialBandDenseMatrix_IO.[hpp,cpp]` (where you remove the `Teuchos::Object` base class) and then make `Teuchos_SerialBandDenseMatr

[2019-02-06 21:48] prwolfe commented on #3276
I don't think so.  I was just looking because of something else I noticed and we still have some open space for jobs (about 80 processors).  Plus this is not how Jenkins show overloading, it tends to just queue the jobs instead.  I think we have some network issues (at a WAG).  I will ask a few questions.

[2019-02-06 21:48] mseldre commented on #4330
I think that could work so long as there isn't any header bleed elsewhere that causes problems.  For example, SerialDenseHelpers pulls SerialDenseMatrix which would pull IO.  So there would need to be careful review/revision of internal dependencies to enable clients to exclude IO, but seems do-able.

[2019-02-06 21:53] mseldre commented on #4330
Same story for all the Solver classes.

[2019-02-06 23:40] mhoemmen commented on #4330
@bartlettroscoe I was advocating the `operator<<(std::ostream&, const Wrapper&)` approach -- I think that's the best way to get the behavior they want without breaking backwards compatibility -- but in general, overloading `operator<<` is kinda uncool due to ADL.

[2019-02-07 00:13] bartlettroscoe commented on #3276
FYI: PR #4336 testing iteration shown in https://github.com/trilinos/Trilinos/pull/4336#issuecomment-461234824 failed due to a single Intel compiler license problem in the super expensive Intel 17 build (took 5h40 min to build).  Ouch

[2019-02-07 00:23] bartlettroscoe commented on #4330
@mhoemmen said:

That is true for any overloaded operator function.  But when dealing with concrete types like this, I can't see an issue with that.

[2019-02-07 01:07] mhoemmen commented on #3276
@bartlettroscoe Is there a way to mark a PR test as "optional" like if it fails really quick can we just ignore it?

[2019-02-07 01:14] bartlettroscoe commented on #3276
@mhoemmen asked:

That is up to the @trilinos/framework team (which I am not a part of).

What that PR tester should do is to made smart enough to see that if someone does a `AT: RETEST` and there are no changes to the topic branch, then it should leave the builds the already passed alone and just run the builds that failed again.  And if it was really smart, if it saw that just tests failed (like

[2019-02-07 02:09] bartlettroscoe commented on #3276
FYI: PR test iteration https://github.com/trilinos/Trilinos/pull/4332#issuecomment-461262726 also failed due to Intel compiler license problems.  Got email that SNL's corporate license sever is done so the Intel build will fail in every PR test iteration until they get it fixed :-(

[2019-02-07 02:16] ibaned commented on #4334
Here is the full CMake command:
[code]

[2019-02-07 08:53] mayrmt commented on #4304
@lucbv I ran a 3D case with 8 regions (with in total 7x7x7 nodes) and 27 regions (with in total 10x10x10 nodes) and looked at the number of send/received GIDs per proc. That looked good. I didn't check every single GID as it's kind of hard to draw the little picture in 3D. Any ideas how we can really verify that?

[2019-02-07 14:23] jmgate commented on #3276
But it should be done.

[2019-02-07 14:28] prwolfe commented on #3276
I think it's time to redesign this to remove complexity. This is functionality we need, but the current design is already more complex than it should be.  We have talked about this some but I'm less sure when it happens.

[2019-02-07 16:15] bartlettroscoe commented on #3276
@trilinos/framework, given that the Intel PR build takes upwards of 6 hours to run and the fact we fairly often suffer build failures due to problems communicating with the license sever, I wonder if the payoff of having the Intel build is worth the cost?  It would be good if we could go back over the last 6 months of history of PR testing and see how many real code or test failures the Intel PR b

[2019-02-07 16:18] mhoemmen commented on #4334
@crdohrm saw this too.  @theguruat12 has been working with us on a CUDA build of Trilinos for Sierra, and this is a blocker :-)

[2019-02-07 16:22] mhoemmen commented on #3276
In terms of catching build issues, the CUDA build is more valuable than the Intel build.

[2019-02-07 16:27] jrood-nrel commented on #4327
Thanks for looking into this @tjotaha . The `vtkmodules` directory was included in the PYTHONPATH in Spack, so I am going to close this. I think that solution is pretty simple for this issue.

[2019-02-07 16:27] #4327 closed

[2019-02-07 16:45] lucbv commented on #4334
@mhoemmen interestingly this is not showing up on the dashboard which has about 30 different MueLu builds at this point, including some with kokkos refactor on.
Of course the simplest fix for this issue is to avoid using the short name and instead use the longer version with all the templates explicitly invoked.
I will try to reproduce this problem but so far even my CUDA build on white is doing j

[2019-02-07 17:21] fryeguy52 commented on #4159
@bartlettroscoe @hkthorn

`Belos_Tpetra_HybridGMRES_hb_test_1_MPI_4` has been failing almost every time in the build `Trilinos-atdm-chama-intel-opt-openmp` since 2019-01-23.  It has only passed once since that day. However it has not failed on any other builds in the last month, is this the same issue? There was a commit on the day it started failing regularly that looks possibly related:

[code]

[2019-02-07 19:02] mhoemmen commented on #4334
@lucbv Could enabling complex possibly trigger this?  I know the above script doesn't, but perhaps enabling complex messes with the short name logic.

[2019-02-07 19:30] keitat commented on #3469
I feel "-rdynamic,-fexceptions,-pthread" is related to OpenMPI.  However, it is just a guess.  I just got an account of similar machines at Sandia.  Let me see how it goes.

[2019-02-07 19:37] pohm01 commented on #4304
@mayrmt @lucbv I found the most useful test was doing something like 27 regions with 3x3x3 nodes, so each region only owns one node.

[2019-02-07 19:39] bartlettroscoe commented on #3276
FYI: The testing iteration in https://github.com/trilinos/Trilinos/pull/4336#issuecomment-461564312 showed a git update failure for the build Trilinos_pullrequest_gcc_4.8.4 showing:

[code]

What does "unable to write new index file" mean?  Does this mean that the Jenkins slave ran out of disk space?  That is what is suggested by:

* https://stackoverflow.com/questions/16064513/git-fatal-unable-to

[2019-02-07 20:07] mayrmt commented on #4304
@pohm01 did you check send/receive GIDs for this case? I guess that every GID should be send to neighboring processes as every GID needs to be duplicated, right?

[2019-02-07 21:44] pohm01 commented on #4304
@mayrmt I did check the send/receive GIDs for this case, and each GID got sent out to neighbors with higher proc number (adjacent, diagonal, and corner neighbors). The receive is easy to check in this case as the proc id ends up being equal to the GID.

[2019-02-07 22:43] mhoemmen opened #4343 "Ifpack2: BlockTriDi test does (bool > 1); probably meant just to eval the bool"
@trilinos/ifpack2

NVCC warned about the following line evaluating a `bool > 1` expression, that's always false. https://github.com/trilinos/Trilinos/blob/e476b66bcdd0fb2efa6018a4d5ff10f5bb02d2b9/packages/ifpack2/test/unit_tests/Ifpack2_UnitTestBlockTriDiContainerUtil.hpp#L249

[2019-02-07 23:38] mseldre commented on #4330
Hi Ross,
The issue is that these classes are not just any concrete type, they are data containers.  So here's the argument, for the record -- as clients of container classes, you would generally use them for importing data, performing operations, and exporting/printing that data.  By defining an ostream insertion operator in the Teuchos namespace, argument-dependent lookup takes away some of the a

[2019-02-07 23:50] mhoemmen opened #4344 "Tpetra::DistObject: DualView arguments have wrong types"
@trilinos/tpetra @kyungjoo-kim

This concerns the following DistObject virtual methods that its subclasses must implement:

  - copyAndPermuteNew
  - packAndPrepareNew
  - unpackAndCombineNew

As of PR #4328, we have clarified how `DistObject::doTransferNew` expects these methods to behave, with respect to their DualView parameters.  Export and Import setup is responsible for ensuring that `permut

[2019-02-08 03:01] ikalash commented on #4334
This seems to be happening in the Fedora builds of Trilinos/Albany.  One thing that may be specific there and different from other builds is we turn ETI off (b/c we use DTK which does not work with ETI).  Could that be an issue?  Sorry for the delay in my response to this issue - I am on travel.

[2019-02-08 09:29] mayrmt commented on #4208
I've addressed this locally and will push it along with other changes.

[2019-02-08 13:36] prwolfe commented on #3276
Yes - I am working on this.

[2019-02-08 16:48] pwxy opened #4348 "MueLu segfaults in DeterminePartitionPlacement for RefMaxwell on serrano for >= 16 nodes"
MueLu segfaults in DeterminePartitionPlacement for RefMaxwell on serrano for >= 16 nodes

MueLu segfaults in DeterminePartitionPlacement for RefMaxwell on serrano.
Unfortunately I am unable to reproduce this issue on mutrino.
Unfortunately the problem is somewhat intermittent.  Can first see it on 16 nodes (but run is more likely to succeed than fail on 16 nodes).  By 64 nodes it is more likely to

[2019-02-08 16:58] cgcgcg commented on #4348
@pwxy I'll have a look. You are seeing this with MiniEM? Can you give me the command line invocation you are using?

[2019-02-08 18:15] pwxy commented on #4348
@cgcgcg but the template told me to start the title with "PackageName:"?  Did it lie to me?

[2019-02-08 18:18] cgcgcg commented on #4348
@pwxy And in this case, PackageName == MueLu ;-)

[2019-02-08 18:54] pwxy commented on #4348
Darn those devious Trilinos people and their hidden IQ tests...

[2019-02-08 20:17] fryeguy52 opened #4353 "Ifpack2_unit_tests_MPI_4 randomly failing on ATDM waterman build"
CC: @trilinos/ifpack2, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "ATDM">
<???: Add label "bug"?>
<???: Add label for affected packages (e.g. "MueLu", "Tpetra", "Kokkos", etc.)>
<???: Add milestone "Initial cleanup of new ATDM builds of Trilinos" or "Keep promoted ATDM builds of Trilinos clean">
<???: Once GitHub Issue is created, add

[2019-02-08 20:22] mhoemmen commented on #4343
@kyungjoo-kim No pressure :-) I would have fixed it myself but I wanted my big DistObject DualView PR in first and didn't want to mix too many other things into it.

[2019-02-08 20:25] mhoemmen commented on #4330
Option 4 could be confusing if clients want to work in a different namespace or forget to include some header that overrides the operator.

[2019-02-08 20:29] mhoemmen commented on #4353
@jhux2 and @csiefer2 , we should look at this at some point.  I can't build all of Ifpack2 on waterman at the moment, in particular the AdditiveSchwarz tests, due to some Xpetra thing that doesn't seem to like it when I turn off `GO=int`.

[2019-02-08 20:33] mhoemmen commented on #4334
@ikalash DTK _should_ work fine with ETI, if you enable the right GlobalOrdinal type.  (They want `unsigned long` for some reason that @rppawlo can explain.)  Try `Tpetra_INST_INT_UNSIGNED_LONG=ON`.  If that doesn't work, then DTK must be broken.

[2019-02-08 20:38] bartlettroscoe commented on #4353
@mhoemmen,

Do the exact commands under "Steps to Reproduce" shown [above](https://github.com/trilinos/Trilinos/issues/4353#issue-408308113) not work for you?

[2019-02-08 20:39] mhoemmen commented on #4353
@bartlettroscoe Thanks for the link :-) Bear with me -- I was using a custom waterman configuration, not the standard one.

[2019-02-08 20:39] lucbv commented on #4334
@ikalash @mhoemmen @ibaned
I think that the ETI off was indeed the main difference between our builds, I have reproduced and fixed this issue. Hopefully you won't see this on your dashboard tomorrow!

Also I see that you actually turn on eti and then turn it back off in your configuration, that was a little confusing and seems a little risky to me.

[2019-02-08 20:40] mhoemmen commented on #4353
@trilinos/ifpack2 Wow, somebody really wrote `relErr(Y.get1dView ()[9932],Z.get1dView ()[9932])`?

[2019-02-08 20:48] mhoemmen commented on #4334
@ikalash Now that we've opened the door to critiquing CMake options ;-)
[code]
If there's no particular reason why you disable stack tracing, then you could safely omit all of these.
[code]
This disables examples in all the packages, so you don't need to turn off specific packages' examples explicitly.
[code]
You haven't needed this for years (literally not since Trilinos 12.0).
[code]
Those get t

[2019-02-08 20:48] mhoemmen commented on #4334
[code]
This is weird and looks like it shouldn't work.  Does Tempus get its ETI through Thyra?  @bartlettroscoe might know.

[2019-02-08 20:53] bartlettroscoe commented on #4334
That is strange.  Why would you not turn on ETI for all of Trilinos?  I don't think I have seen any Tempus code so I don't know how they do ETI but if they use Thyra, using the Thyra ETI macros and TriBITS support would seem to be the easiest thing to do.

[2019-02-08 20:56] ibaned commented on #4334
Albany's long-standing excuse (not saying its good) for ignoring ETI has been some integration with DTK which I think instantiates Tpetra types with unsigned ordinals. Ordinal templating is going away anyways, so they'll be forced to fix this soon I think.

[2019-02-08 21:14] bartlettroscoe commented on #4330
In my opinion, option-2 is ideal but I understand why it is hard.  Option-3 would work as well but is very fragile since there will be no automated Trilinos tests that will define `DISABLE_TEUCHOS_IO` (and that name is too general anyway).  I would prefer option-1 over option-3 but it would make it more difficult for customers that do daily integration testing with Trilinos at the same time they b

[2019-02-08 21:49] mhoemmen commented on #4334
@ibaned @ikalash It's not correct to use a GlobalOrdinal type unless it's enabled in Tpetra, regardless of whether ETI is on.  Also, I spent quite a bit of effort getting unsigned GlobalOrdinal types to work a while back, and Tpetra does have an option to enable `GlobalOrdinal = unsigned long`.  Furthermore, none of the solver factories (I worked really hard on those and they save a lot of build t

[2019-02-08 22:46] GeoffDanielson commented on #4283
Verified Amesos2, Anasazi, Belos, Ifpack2, and Muelu as of 2/8.

[2019-02-08 22:56] mhoemmen commented on #4344
I have a fix in progress, but it depends on PR #4328.  I'd rather get that one in first, since it should improve performance.

[2019-02-08 23:24] mhoemmen commented on #4353
`Ifpack2::OverlappingRowMatrix` depends on the ArrayRCP access functions of `Tpetra::MultiVector`, like `get2dViewNonConst()`.  I did spend some effort trying to make those correct with respect to UVM access, but it's possible that something isn't quite right still.

[2019-02-08 23:32] lucbv opened #4358 "MueLu: Driver.cpp, adding option for multiple RHS and for belos solver"
@trilinos/muelu

## Expectations
The muelu driver should allow users to run problems with multiple RHS, at the same time this requires a finer granularity to chose the associated belos solver.

## Current Behavior
Currently only single RHS is allowable and only Pseudo CG and Block Gmres are availble from Belos.

## Motivation and Context
This will allow us to test more solver/preconditioner config

[2019-02-09 17:48] srajama1 opened #4360 "Question: Single-reduce iterative solvers in Belos"
Do we have two "single-reduce" iterative methods in Belos ? One by Ichi that is Tpetra specific and one that can work with Epetra  ? I would appreciate any pointers, new information on when to use one vs another, differences etc.

@hkthorn @cgcgcg @egboman @mhoemmen

[2019-02-09 17:55] cgcgcg commented on #4360
@srajama1 Yep, that's correct. We haven't compared them yet, but I think we could hack something into the MueLu driver that allows to run both types of solvers at scale..

[2019-02-09 18:20] srajama1 commented on #4360
@cgcgcg : Silly question, why did we write two ? :) Comparing performance will be great, but I am also wondering if there are algorithmic differences.

[2019-02-09 18:25] bartlettroscoe commented on #3276
@trilinos/framework,

FYI: Looking at [this query](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildstarttime&compare2=84&value2=2019-02-10&field3=buildstarttime&compare3=83&value3=2019-02-08&field4=buildname&compare4=63&value4=gcc_4.8.4&field5=subprojects&compare5=93&va

[2019-02-09 18:37] cgcgcg commented on #4360
The Tpetra one uses non-blocking all-reduces, which is not generally available in the Belos MultiVectorTraits. The Tpetra implementation also seems to do right-preconditioning only, but that should be easy to change. Moreover, it detects convergence based on the preconditioner-induced norm, whereas the other implementation can do 2-norm or preconditioner norm.
(@mhoemmen please correct me if I am

[2019-02-09 18:46] bartlettroscoe commented on #3276
FYI: In PR #4336, we might have a new record for number of false PR testing attempts at 6 tries and 6 failures (none of which relate to the actually changes on the branch).  I am trying again hopping that we might get lucky this time and not have the slave `tr-test-0.novaloca` being used.

[2019-02-09 20:12] ikalash commented on #4334
@lucbv : thanks for looking into this!  Unfortunately it looks like now there is a different muelu-related error now preventing my Trilinos builds from going through:
[code]
Is this related to your fix?

@mhoemmen : thanks  for the suggestions about cleaning up the Trilinos build.  I will implement them.

[2019-02-09 21:18] mhoemmen commented on #4360
@cgcgcg is right.  More specifically, pipelined CG and GMRES depend on nonblocking all-reduces.  Belos' "generic" solvers can only use operations in Belos::MultiVecTraits and Belos::OperatorTraits.  We can't add new methods to MultiVecTraits without breaking backwards compatibility.  The only way around this is to add a new traits class to Belos, with a default implementation that does something s

[2019-02-09 21:24] mhoemmen commented on #4334
@ikalash PR https://github.com/trilinos/Trilinos/pull/4354 hasn't merged yet.  I can't quite tell what's going on with the PR tests there, so we may need to give it a bit.

[2019-02-09 21:26] ikalash commented on #4334
@mhoemmen I see, that explains it.  I'll continue to keep an eye on it, and close the issue once the Albany builds are back to normal.

[2019-02-09 21:27] mhoemmen commented on #4334
See https://github.com/trilinos/Trilinos/issues/3276#issuecomment-462067485 -- it looks like one of the PR test builds is on a machine that too easily runs out of memory, so it dies when building MueLu.  It may take a couple days for that machine to get taken out of the PR test rotation.

[2019-02-09 23:41] bartlettroscoe commented on #3276
@trilinos/framework,

FYI: Note that [this query](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1

[2019-02-10 00:18] srajama1 commented on #4360
The right preconditioning and the norm seem to be small differences that can be added to Tpetra implementation. Is that right ? Is it possible to have one implementation for the user where it is a Tpetra input Belos calls the non-blocking-all-reduces, it resorts to the other method when for non-Tpetra code ?

[2019-02-10 00:55] srajama1 commented on #4360
@srajama1 : My github page updated with @cgcgcg 's comment but not with @mhoemmen 's comment. @mhoemmen has already addressed some of the questions I raised in the comment above. I will let @hkthorn and belos developers decide if she wants to go the new traits with default implementation route. Ideally, I would like the non-blocking all-reduce implementation to be available to Thyra/Stratimikos us

[2019-02-10 03:31] mhoemmen commented on #4360
That would take work in Thyra, especially if using block operators and block vectors.

[2019-02-11 01:05] bartlettroscoe commented on #3276
FYI: The PR tester ran two more times and filed two more times as shown in https://github.com/trilinos/Trilinos/pull/4336#issuecomment-462089069 and https://github.com/trilinos/Trilinos/pull/4336#issuecomment-462108121 making it 0 for 8.   I have put `AT: WIP` on #4336 for now since there is no sense in beating a dead horse.  Once the PR system is fixed, I will turn this back on.

I am moving ATDM

[2019-02-11 01:08] bartlettroscoe commented on #4330
FYI: Eight PR testing attempts over the last 4 days to merge PR #4336 have failed.  I am taking action to fix the SPARC 'master' + Trilinos 'develop' builds (see https://github.com/trilinos/Trilinos/issues/3276#issuecomment-462198925).

[2019-02-11 10:25] LennartSchu opened #4364 "(C)Make fails at Scotch on various systems"
@trilinos/shylu

Hello,
I'm currently trying to build the ShyLU-package with the Basker solver on my systems. I've tried that on a Ubuntu 16.04.5 LTS xenial Server and a Fedora Workstation. Building the packages works on neither one of them with different errors. However, both errors seem to be caused by the Scotch-package.

In order to make sure that this error is not due to my system, I'm asking

[2019-02-11 14:33] bartlettroscoe commented on #3276
FYI: It took 5 1/2 days and 10 PR testing iterations to get a simple revert PR to merge (#4336).  But now it is merged.  (But I had already taken steps to get the SPARC 'master + Trilinos 'develop' testing back online.)

[2019-02-11 14:36] lucbv commented on #4358
After PR #4362 the dashboard is clean again so I think this went well enough, closing this.

[2019-02-11 14:36] #4358 closed

[2019-02-11 14:46] lucbv commented on #4364
@LennartSchu how are you specifying the path to Scotch in you configuration file for Trilinos?

[2019-02-11 14:49] lucbv commented on #4334
@mhoemmen @ikalash PR #4354 has been merged now so there is a shot that it was picked up last night in nightly test. Let me know if that is the case and if it fixes the issue you have been observing?

[2019-02-11 15:04] lucbv commented on #4304
@pohm01 @mayrmt PR #4339 has now been merged, I will run some local test with the 3D version some time this week and let you know if I see anything suspicious but that should be it.
Do we want to push further to get the multiple dofs/node case implemented?
I guess we can talk about this tomorrow.

[2019-02-11 15:06] lucbv commented on #4263
@mhoemmen I don't see any reason to keep this open so I'll close it now. Feel free to reopen if some more complex related issues pop-up in you Sierra integration builds.

[2019-02-11 15:06] #4263 closed

[2019-02-11 15:07] lucbv commented on #4044
@jhux2 should we close this?

[2019-02-11 15:09] mayrmt commented on #4304
@lucbv @pohm01 The multipler DOFs per node case would be a natural next step and would allow us to run much nicer examples. However, I also see two other issues that are more important from a short-term perspective, namely migrating the HHG driver to Xpetra (cf. #4084) and getting the hybrid structured/unstructured aggregation to work (at least for a simple example). Let's discuss this tomorrow!

[2019-02-11 15:11] lucbv commented on #3920
@jhux2 since the complex builds have been fixed (hopefully for good), with the latest promotion of kokkos-kernels, I think it might be time to re-investigate what is happening here when we have some time.

[2019-02-11 15:13] lucbv commented on #3897
@bartlettroscoe @fryeguy52 are we still observing these issue or are things somehow better these days?
I have not seen failures on [this](https://testing.sandia.gov/cdash/index.php?subproject=MueLu&project=Trilinos) dashboard in the ATDM track for some time now.

[2019-02-11 15:16] bartlettroscoe commented on #3897
@lucbv adked:

Please see the link provided under "Current Status on CDash" [above](https://github.com/trilinos/Trilinos/issues/3897#issue-382327373).  That should provide the data needed to determine status of this.  Please let us know if you have questions about what that CDash query shows.

[2019-02-11 15:32] LennartSchu commented on #4364
The path is being found (properly) by cmake. It doesn't make a difference when I specify the path. I verified that the "-I/usr/local/include"-flag (the path in which I've installed scotch.h) is passed in the command that leads to the failure.
The according cmake-output is:
Processing enabled TPL: Scotch (enabled by ShyLU_NodeBasker, disable with -DTPL_ENABLE_Scotch=OFF)
-- Scotch_LIBRARY_NAMES='pt

[2019-02-11 15:51] bartlettroscoe commented on #4330
FYI: With PR #4336 now merged and with the actions I took in [TRIL-260](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-260) to get SPARC Trilinos Integration testing working, we can put this issue in review.

[2019-02-11 16:31] egboman commented on #4360
I believe the algorithms are different but did not see any comments on that.
The CG algorithm in BelosCGSingleRedIter.hpp (by @hkthorn ) is based on the paper by Chronopolous & Gear. What algorithm did Ichi & Mark implement?

[2019-02-11 17:26] #4044 closed

[2019-02-11 17:29] jhux2 commented on #3897
According to the link under "Current Status on CDash", the only failures are on white, and those look like slurm or environment problems.  Therefore I am closing this.

[2019-02-11 17:29] #3897 closed

[2019-02-11 17:29] ikalash commented on #4334
Thanks for the info @lucbv .  Unfortunately our Trilinos build is still failing but the error is different, and seems to be coming from Tpetra:

[code]
Here is the full output:  http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81383

@mhoemmen , any thoughts?

[2019-02-11 21:11] mhoemmen commented on #4263
Thanks @lucbv !  I think we're good.  I can open a new issue if needed.

[2019-02-11 21:12] mhoemmen commented on #3920
Is this still happening?  It would be really quite weird to have `std::call_once` errors.

[2019-02-11 21:13] mhoemmen commented on #4360
@egboman Ask Ichi :)

[2019-02-11 21:21] mhoemmen commented on #4334
@ikalash That's my bad.  You would only see that with an ETI off build.  Also, you wouldn't see this if we could get rid of the LocalOrdinal, GlobalOrdinal, and Node template parameters, as planned by @trilinos/tpetra.

[2019-02-11 21:36] bartlettroscoe commented on #4330
FYI: As predicted the SPARC Trilinos Integration builds pointing to the 'atdm-develop-nightly' branch are now passing the builds (with just one failing test) as shown by [this SPARC CDash query](http://compsim-dashboard.sandia.gov/cdash/index.php?project=SPARC&date=2019-02-11&filtercount=1&showfilters=1&field1=buildname&compare1=66&value1=-trildev).

Closing as complete.

@mseldre, @rhoope, @hktho

[2019-02-11 21:36] #4330 closed

[2019-02-11 21:51] cgcgcg commented on #4348
@pwxy Unfortunately, solo is missing modules, so I cannot use it to reproduce the segfault..

[2019-02-11 22:02] jhux2 commented on #4348
@trilinos/muelu

[2019-02-11 22:23] mhoemmen opened #4370 "Tpetra: CMake output about CUDA-aware MPI should talk about environment variable that controls this behavior at run time"
@trilinos/<teamName>

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible Solution

## Steps to Reproduce

## Your Environment

- **Relevant repo SHA1s:**
- **Relevant configure flags or configure script:**
- **Operating system and version:**
- **Compiler and TPL versions:**

## Related Issues

* Blocks
* Is blocked by
* Follows
* Precedes
* Related

[2019-02-11 23:34] vbrunini opened #4375 "Galeri/Triutils: Duplicate symbols in Galeri_iohb.cpp and Trilinos_util_iohb.cpp"
## Expectations

It should be possible to link against both galeri and triutils without any duplicate symbols.

## Current Behavior
I observe linker errors about duplicate symbols for functions defined in packages/triutils/src/Trilinos_util_iohb.cpp and packages/galeri/src-epetra/Galeri_iohb.cpp. I noticed this on an nvidia build with relocatable device code on and ETI off, but have not tested whi

[2019-02-12 00:01] ikalash commented on #4334
Thanks, @mhoemmen .  I'll keep an eye out for your fix.  It would be great to get the Albany nightlies back up.

[2019-02-12 00:44] mhoemmen commented on #4334
@ikalash Almost done -- these CUDA builds are slow ....

[2019-02-12 01:01] mhoemmen commented on #4375
@trilinos/muelu

[2019-02-12 01:03] mhoemmen commented on #4375
I'm working on some CUDA build link errors for ETI off in Tpetra: https://github.com/trilinos/Trilinos/issues/4334#issuecomment-462417954  Those might be unrelated, though.

[2019-02-12 01:14] mhoemmen commented on #4334
@ikalash I just submitted the PR: https://github.com/trilinos/Trilinos/pull/4376

We've been having some issues with PR testing lately -- the Intel license server has been on the blink, for example -- so it may take a day or two for this fix to get in.

[2019-02-12 01:15] ikalash commented on #4334
@mhoemmen : that's fine, thanks for the heads up and for fixing the issue!  I'll keep an eye out for the PR to get merged in.

[2019-02-12 16:23] amklinv opened #4379 "Kokkos: Intel not supported with CUDA?"
@trilinos/kokkos @mhoemmen

## Expectations
Trilinos builds with CUDA support using Intel for the host compiler.  Alternatively, document that this is not supported.

## Current Behavior
When I try to build Trilinos with CUDA support using the nvcc_wrapper and Intel as the host compiler, I get an error message during the build

## Your Environment
- CUDA 9.1
- Intel 16.0.4
- CentOS 7

Relevant CMa

[2019-02-12 16:28] etphipp commented on #2008
I added a PR that should address the FPE issue with pow():

https://github.com/trilinos/Trilinos/pull/4380

[2019-02-12 16:29] ibaned commented on #4379
It looks like NVCC gave us the answer in this case: CUDA lambdas don't work with the Intel compiler, and I think Tpetra now requires CUDA lambdas in order to compile with CUDA. Therefore, this is not supported. I'm not sure how to document this.

[2019-02-12 17:49] amklinv commented on #4379
Maybe include it in the CUDA build instructions?  Or check for this case at configure time and output an error message then?

[2019-02-12 18:02] mhoemmen commented on #4379
@ibaned We could just have Kokkos (at least through the TriBITS build system) error out at configure time, if it encounters that combination of options.  We could also try newer CUDA and Intel versions (CUDA 10 claims that it works with Intel 18).

[2019-02-12 18:42] csiefer2 opened #4381 "Tpetra: Changes to Import broke MMM_Timings"
Both the changes and the MMM_Timings use "prefix" to mean different data types.

[2019-02-12 18:52] jhux2 commented on #4375
With the exception of AztecOO and Belos, all of the dependencies on Triutils are packages tests and/or examples.

AztecOO lists Triutils as a library dependency, but grep shows that is probably wrong:
[code]

The free-standing utility functions in BelosEpetraUtils.[h|cpp] depend on TriUtils, but those functions are only used in examples and tests.

[2019-02-12 19:11] jhux2 commented on #4375
Oh, it just gets better:
[code]

[2019-02-12 19:14] jhux2 commented on #4375
Just to add to the pile, Belos also has a dependency on Galeri's iohb code.

[2019-02-12 20:14] Rombur commented on #4269
I think that stopping to make real release is a problem. It's fine if you have only one application that requires Trilinos but if everybody just pick a hash it won't be long before each apps requires a different version of Trilinos and so users will end up having to install multiple versions of Trilinos. For example, right now in deal.II,  we have a few releases of Trilinos that we explicitly supp

[2019-02-12 20:18] csiefer2 commented on #4375
As Kook-Aid Man would say, "Oh yeah!"

[2019-02-12 20:40] amklinv commented on #4269
Now that I'm a user and not a developer, I'm also on team "please continue to make release tags occasionally".  My current options are "use very outdated version of Trilinos" or "use current development branch with no expectation of stability".

[2019-02-12 21:03] mhoemmen commented on #4381
@csiefer2 May I remove the MMM timings macros and just introduce timers that always exist?

[2019-02-12 21:21] pwxy commented on #4348
I tested @cgcgcg 's patch and the 64-node serrano run works.  Good job!

[2019-02-12 22:35] mhoemmen opened #4385 "Tpetra::BlockCrsMatrix: Deprecate "experimental" headers & namespace"
@trilinos/tpetra @kddevin (as discussed in the weekly Tpetra meeting today)

`Tpetra::BlockCrsMatrix` is implemented in the `Tpetra_Experimental_BlockCrsMatrix*.hpp` headers and the `Tpetra::Experimental` namespace.  However, at least one production code uses BlockCrsMatrix.  This means that we should not call it "experimental" any more.  We should deprecate the "experimental" headers and namespac

[2019-02-12 22:44] jwillenbring commented on #2426
With #2426 merged, we can close this issue.

[2019-02-12 22:44] #2426 closed

[2019-02-12 23:26] csiefer2 commented on #4381
@mhoemmen I'd rather not --- Those guys do string manipulation to "nest" timer names.

Counterproposal:  Add a MMM Timings option to Tpetra_Details_Behavior

[2019-02-12 23:28] jhux2 commented on #4375
PR submitted.

[2019-02-12 23:38] ambrad commented on #4343
@kyungjoo-kim I'll take care of this.

[2019-02-12 23:40] vbrunini commented on #4375
Thanks!

[2019-02-12 23:42] kyungjoo-kim commented on #4343
@ambrad It is a simple fix so I am fine whoever includes this fix. I am working on ifpack2 gpu improvement
(https://github.com/kyungjoo-kim/Trilinos/tree/ifpack2-develop) and will submit a PR today. I can include this, too.

[2019-02-12 23:48] ambrad commented on #4343
I just posted PR #4387. Feel free to close it w/o merging. I decided I should take this b/c the seq_method corner case may not have been obvious to you.

[2019-02-12 23:48] kyungjoo-kim commented on #4343
Thanks.

[2019-02-13 00:10] mhoemmen commented on #4381
@csiefer2 wrote:

I'm OK with this.  How about `TPETRA_MMM_TIMINGS`?

[2019-02-13 00:13] mhoemmen commented on #4343
Thanks @ambrad ! :D

[2019-02-13 00:14] mhoemmen commented on #4343
Thanks @kyungjoo-kim ! :D

[2019-02-13 00:36] kddevin commented on #3276
@trilinos/framework @william76 @jwillenbring @ZUUL42

The PR tester is reporting g++ compiler internal errors  for #4357.
The PR adds code to Zoltan2, but the compiler internal errors occur when compiling MueLu files.

https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=4543744&filtercount=2&showfilters=1&field1=buildstarttime&compare1=84&value1=NOW&filtercombine=and

Is there

[2019-02-13 03:42] crtrott commented on #4379
There is a list of officially supported compiler combos in the README of Kokkos. But I think we can't do much about this right now. There is basically only three choices:

 * Do what we do now: i.e. document what we test and leave the rest to the user.
 * Have a white list of compilers: i.e. if you use something we don't test error out.
 * Have a black list of compiler combos: i.e. black list ever

[2019-02-13 03:54] mhoemmen commented on #4379
I could just add something to Kokkos' TriBITS logic that forbids ICC + CUDA if CUDA lambdas are enabled.  I'm not sure if Kokkos wants to maintain that going forward, though.

[2019-02-13 03:56] crtrott commented on #4379
I mean the benefit over the fatal message you are already getting is pretty small I would argue. And shouldn't you get that message already during configure at some point?

[2019-02-13 03:57] crtrott commented on #4379
If configure doesn't fail, maybe the better answer would be to add a step at the end of configure which tries to build a dummy file with the full set of compiler flags which we add.

[2019-02-13 07:59] davydden commented on #4269
to add to what @Rombur said: if major/minor releases are abandoned it would be extremely difficult for package managers to work out the dependencies/constraints on versions of dependents and downstream packages. To give you an example of what's `trilinos` dependency on `superlu-dist` based on its version:
[code]

Instead of completely abandoning the official policy, for the sake of external users

[2019-02-13 12:53] mayrmt opened #4391 "Xpetra: need a RowMatrixTransposer"
@trilinos/xpetra
@lucbv

## Expectations
Implement an `Xpetra::RowMatrixTransposer` that explicitly forms the transpose of a given `Xpetra::RowMatrix`.

## Current Behavior
`EpetraExt::RowMatrixTransposer` and `Tpetra::RowMatrixTransposer` are implemented and tested, but are not accessible through `Xpetra`.

## Motivation and Context
Forming the transpose of a matrix explicitly sometimes is useful

[2019-02-13 14:04] jmgate commented on #4269
@trilinos/framework, correct me if I'm wrong, but isn't this essentially what we do for every `develop` to `master` merge?  If so, then perhaps we just need to automate the increment of the sub-sub-release number (the last number in `12.12.1`) with every develop to master merge.  Would that satisfy some of the concerns here?

[2019-02-13 14:23] Rombur commented on #4269
I don't think it will work unless you guarantee backward compatibility for ever. If every other week a package breaks backward compatibility, this will be a nightmare to support for downstream libraries.

[2019-02-13 14:39] jmgate commented on #4269
Sorry I didn't mean we'd break backward compatibility on every sub-sub-release number increment, just that it would help those trying to figure out dependency management issues like @davydden mentioned.  When we break backwards compatibility is a separate concern.

[2019-02-13 15:22] cgcgcg commented on #4391
@mayrmt We have `Transpose` in `MueLu_Utilities`. Is that what you need? You could move that to Xpetra..

[2019-02-13 15:42] mayrmt commented on #4391
@cgcgcg Thanks for the hint. That's kind of what I was looking for. However, the `MueLu_Utilities` version does not support Epetra. Though, think I can add that.

[2019-02-13 15:45] Rombur commented on #4269
I understand that but how will you be able to break backward compatibility? Right now, if we need to update our codes once a year that's fine but if packages need to break backward compatibility and they can do it whenever they want it's still a problem.  Increasing the sub-sub-release helps with the dependency management but I don't think it can replace a real release.

[2019-02-13 15:46] mayrmt commented on #4391
What is preferable?
- a `Xpetra::RowMatrixTransposer` class (similar to the `Tpetra` and `EpteraExt` transposer classes)
- a utility function `Xpetra::Transpose()` that just calls the public interface of the EpetraExt/Tpetra transposer classes

[2019-02-13 15:49] lucbv commented on #4269
@Rombur backward compatibility beaks are not allowed in sub-sub versions, you need to use deprecation instead, that's how it is managed.

[2019-02-13 15:51] #2749 closed

[2019-02-13 15:56] jmgate commented on #4269
@Rombur, I agree completely.

@lucbv, I doubt this is adhered to by all packages.

[2019-02-13 16:40] mhoemmen commented on #4269
@jmgate If Trilinos had a policy, then it could enforce the policy.  We even used to have backwards compatibility testing, where we test new Trilinos against old tests.

[2019-02-13 16:41] mhoemmen commented on #4391
Good C++ style is to prefer nonmember functions over member functions.

[2019-02-13 16:43] cgcgcg commented on #4391
Is the plan that at some point in the very distant future we drop Xpetra and use Tpetra only? In that case Xpetra should mirror what is in Tpetra, no?

[2019-02-13 16:52] bartlettroscoe commented on #4269
@mhoemmen said:

Yes, we need to revive that testing.  But this needs to be tweaked according to the plan described in:

* http://trac.trilinos.org/wiki/TribitsDevelopmentPractices#maturity_level_practices

(See references to `BACKWARD_COMPATIBILITY`.)

That also means that we need to know what software to apply backward compatiblity testing to, and that means we need to adopt the maturity levels

[2019-02-13 17:02] jwillenbring commented on #3178
After discussions with @trilinos/framework @bartlettroscoe, and @fryeguy52 the current plan is to attack this very incrementally. The plan can be divided into three primary parts:

1) Add SIERRA's warnings as errors flags to the GCC 7.2 PR build. These flags, as reported by @rrdrake are:
`
-Wall -Wno-clobbered -Wno-vla -Wno-pragmas -Wno-unknown-pragmas -Wno-unused-local-typedefs -Wno-literal-suffi

[2019-02-13 17:03] mhoemmen commented on #4379
@crtrott wrote:

I like that better -- more general, and no more compiler-specific state to maintain.

[2019-02-13 17:05] mhoemmen commented on #4391
@cgcgcg Do you mean `Tpetra::RowMatrixTransposer`?  The only reason one might want that to be a class, is if one wanted to transpose a bunch of matrices with the same graph structure.  I don't think it exploits that optimization, does it?  If not, then there's no reason for RowMatrixTransposer to be a class; it should just be a nonmember function `CrsMatrix transpose(const CrsMatrix&)`.

[2019-02-13 17:08] cgcgcg commented on #4391
@mhoemmen No, I'm thinking about what happens if we wanted to simply replace `Xpetra` with `Tpetra`. If we do not have the same classes, this becomes more tedious to do. But it's not clear to me if that will ever happen..

[2019-02-13 17:08] mhoemmen commented on #4391
The point of wrapping linear algebra is that you write the interface you need first.  MueLu didn't do that with Xpetra; it just generated Xpetra directly from Tpetra (originally with a Python script).

Nobody uses Xpetra directly.  MueLu team should feel free to write the interface that makes sense, not the interface that imitates Tpetra's bad design decisions.

[2019-02-13 17:10] mhoemmen commented on #4391
@cgcgcg wrote:

See my above comment.  Xpetra started as a script-generated near-duplicate of Tpetra.  That was a bad idea.  The MueLu team has the freedom to write the interface that it thinks best for writing multigrid algorithms.  Why should it merely duplicate design decisions made in 2009 by one person who wasn't at all talking with multigrid developers?

[2019-02-13 17:13] mhoemmen commented on #4391
@cgcgcg I'm a bit irritated about this decision, but not at you :-)  It's just a really strange decision to "wrap" something by copying and pasting it.  You don't have to do that any more; you have the freedom to do the right thing now, and the wisdom of experience to help you decide what's right.

[2019-02-13 17:14] cgcgcg commented on #4391
@mhoemmen We can keep the nonmember `Transpose` in `MueLu_Utilities`, but have it call an `Xpetra_RowMatrixTransposer` instead of dealing with `E/Tpetra_RowMatrixTransposer` directly.

[2019-02-13 17:14] ibaned commented on #4379
It would catch a ton of other reported issues like too-old assemblers not recognizing vector instructions.

[2019-02-13 17:28] mhoemmen commented on #4391
Whatever, sure.

[2019-02-13 17:31] mhoemmen opened #4392 "Ifpack2::OverlappingRowMatrix::apply is unnecessarily sequential"
@trilinos/ifpack2

It uses the old ArrayRCP host access interface of `Tpetra::MultiVector`, when it could just use `Tpetra::CrsMatrix::localApply` and get thread / CUDA parallelism for free.  This could also be related to #4353.

This will require making `Tpetra::CrsMatrix::localApply` public, but I'm OK with that; it's a useful function for implementing block operators efficiently.

## Related Is

[2019-02-13 17:44] mhoemmen commented on #4353
PR #4393 may address this issue.

[2019-02-13 17:51] jmgate commented on #3178
You probably want to touch base with @CamelliaDPG to talk through what EMPIRE's done along these lines lately.

[2019-02-13 17:58] william76 opened #4394 "KokkosKernels: KokkosKernels_blas_serial_MPI_1 tests are unstable"
@trilinos/kokkos-kernels

The `KokkosKernels_blas_serial_MPI_1` test has been having some [intermittent failures the past few days][1]. Can someone on the @trilinos/kokkos-kernels have a look at this and see what's happening?

The [CDash output][2] isn't terribly exciting:
[code]

@ndellingwood when you have a chance can you have a look at this? I've been seeing the error on the develop->master pu

[2019-02-13 17:59] CamelliaDPG commented on #3178
Our basic approach to cleaning up warnings in EMPIRE has been this:
1. Issue Trilinos PRs for warnings generated by Trilinos.  Most, but not all, of these have been addressed.
2. For particular includes that cause warnings, create a "quiet_{HEADER_NAME}.hpp" in our project.
3. Replace all those includes with the quiet variants.

For us, most of the compiler-specific warnings come from clang (we do

[2019-02-13 18:01] william76 commented on #4394
FYI @trilinos/framework

[2019-02-13 18:02] mhoemmen commented on #3178
@CamelliaDPG Please don't forget to file issues for warnings, and to remove the pragmas once the issues are fixed -- thanks!

[2019-02-13 18:03] mhoemmen commented on #4394
It probably just takes a long time -- the test machine could be overloaded.

[2019-02-13 18:07] alanw0 commented on #3178
We finally have some work in progress on the STK team to remove boost from stk-topology, which is a major source of warnings for Nvidia builds. In the sierra eco-system (where stk is developed) we have pretty strong warning flags on these days, i.e., -Wextra -Wpedantic -Wshadow for the gcc build. We're actively working towards being warning free.

[2019-02-13 18:15] csiefer2 commented on #4381
@mhoemmen Sounds good to me.

[2019-02-13 18:36] ikalash commented on #4334
Looks like a couple of our Fedora builds have another muelu error after turning on ETI and setting ``` -D Tpetra_INST_INT_UNSIGNED_LONG=ON```

[code]
(http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81461).

What's a bit puzzling is my machines have the same OS and compiler, and don't encounter the error.  Tagging @lxmota , the owner of the problematic builds.

[2019-02-13 19:51] jhux2 commented on #3276
I see an issue similar to what @kddevin reported: https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4553706.

Is there something unique to the test machine `novalocal`?

![pr-fail](https://user-images.githubusercontent.com/12970120/52739333-8466db80-2f85-11e9-8261-0389afe2646c.png)

[2019-02-13 23:16] jhux2 commented on #3276
The CUDA PR tester is showing errors that appear to be unrelated to my commits.  See [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=PR-4393).

[2019-02-14 07:44] freaklovesmango opened #4398 "Belos::LinearProblem MV and OP this_type_is_missing_a_specialization"
I have an error code while compiling my program and explicitly it has to do with the linear problem of Belos but I am not sure how to solve this problem. What did I miss? Is it something I should have included? Is it some typedef thing?

Basically, the following is my code, with matrix A and vectors x and b which are all declared by Teuchos::RCP as well.
[code]
And this is the error message I get:

[2019-02-14 09:23] freaklovesmango commented on #4398
I added ´´´#include "BelosTpetraAdapter.hpp"´´´ and this error was solved.

[2019-02-14 09:23] #4398 closed

[2019-02-14 16:13] william76 commented on #4394
@mhoemmen I had a look at the jenkins job... there was no timeout set. I added a 10 hour timeout to this one just a bit ago so that there -is- a timeout on it... but the job that failed only ran for about 2.5 hours so it's not doing anything bizarre time-wise. It's also reporting the results so /shrug

@trilinos/framework
It's a little confusing since both attempts at the [dev->master from yesterd

[2019-02-14 17:06] mhoemmen commented on #4394
@william76 wrote:

I was thinking that the test itself has a timeout -- but wouldn't it then report that?

[2019-02-14 17:32] william76 commented on #4394
Yeah, if there's a timeout built-in to the test you'd think it would report that... I'm not sure what's going on with these... the failures are happening on different nodes of the build farm and they're consistently inconsistent (i.e., when it fails for a particular dev->master it seems to keep failing but I don't see that same error on other dev->master PR's...).  The job isn't consistently faili

[2019-02-14 17:39] ndellingwood commented on #4394
@william76 what system or test bed should I use to try and reproduce? Like Mark said it may be a timeout issue, if that is the case we can try reducing the sizes when the tests run with the serial backend. Adding @kyungjoo-kim to this thread.

[2019-02-14 17:44] ndellingwood commented on #4394
@william76 also can you provide some configuration information and how the tests are run (i.e. ctest -j?) for reproducing the issue? This didn't show up during testing so it will help to find out where the configurations differ.

[2019-02-14 17:45] william76 commented on #4394
@ndellingwood These are running on RHEL7 machines I believe, so nothing special... but this error has been inconsistent so far... I didn't see that error on last night's dev->master PR... I'm interested in seeing what the retest on #4399 does.  That's been going for the past 3 hours so hopefully it'll finish around noon or 1pm.

[2019-02-14 17:47] william76 commented on #4394
[Wiki: How to Reproduce PR Testing Builds and Errors.][1]

For this particular build, it looks like [it turned these on][2]:
[code]

[1]:https://github.com/trilinos/Trilinos/wiki/Reproducing-PR-Testing-Errors
[2]: https://testing-vm.sandia.gov/cdash/viewConfigure.php?buildid=4558510

[2019-02-14 20:14] jhux2 commented on #4375
@vbrunini The PR has been merged.  Could you please pull and retest?  Thanks.

[2019-02-14 20:21] jhux2 commented on #4348
Closing as fixed.

[2019-02-14 20:21] #4348 closed

[2019-02-14 20:51] kddevin commented on #4269
Just so that I can find them once we have a decision about releases:
I am adding links to some issues about features that probably should be deprecated once we get a release model in place.  There are almost certainly more.  Feel free to add your own (although discussion of their merits/faults should not be done in this issue).
#4258 #4330 #4385 #3360 #3095 #2984 #2630 #2548 #616 #606 #188 #56 #57

[2019-02-14 20:54] jhux2 commented on #4262
@bartlettroscoe This issue seems likely to be a problem with the test machine/environment, rather than MueLu.  As evidence, look at the variability as shown by this [query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&fil

[2019-02-14 21:18] bartlettroscoe commented on #4262
@jhux2 asked:

That large of test time variability (i.e. finishing in 10s one day and timing out 10m another day) can't be due to just running too many threads on one core, can it?  Is it not more likely that a thread deadlock is occurring causing  the code to hang?

[2019-02-14 21:38] jhux2 commented on #4262
I don't know the answer to either question.  Do you have a suggestion on how one might figure this out?

[2019-02-14 21:49] jhux2 commented on #4262
By the way, notice that sometimes the test takes 5 minutes, so that's not a deadlock ....

[2019-02-14 22:24] mhoemmen opened #4404 "Switch to C bindings of BLAS & LAPACK?"
@trilinos/framework

@mwglass pointed out that:

  - Trilinos, kokkos-kernels, Sierra, ATDM, etc. all spent a lot of effort deducing and maintaining Fortran mangling of BLAS and LAPACK, yet
  - the BLAS (and even LAPACK)[
http://netlib.org/lapack/#_standard_c_language_apis_for_lapack] come with standard C bindings.

Why don't we all switch to the C bindings?  That would get rid of all that manglin

[2019-02-14 22:42] vbrunini commented on #4375
Fix works for me, thanks!

[2019-02-14 22:42] #4375 closed

[2019-02-15 00:16] ZUUL42 commented on #3178
I've been able to successfully turn on Werror for @trilinos/kokkos-kernels, @trilinos/sacado, @trilinos/shards, @trilinos/phalanx, & @trilinos/panzer. PR #4405
For the rest I'm looking to give teams some feedback as to what is needed to _git_ this in.
I can start going through and posting CDash reports to give teams package-specific results.

Here are [the results](https://testing-vm.sandia.gov/cd

[2019-02-15 01:07] bartlettroscoe commented on #4262
@jhux2 said:

Okay, that is a good point.

So we have to resolve this one way or the other before we close this issue.  We can't just let the test fail randomly and trigger global failure.  The approach that we can support right now is to just disable these tests in this build (and then mark this Issue with the label `Disabled Tests`).  A better solution is to extend the `analyze_and_report_cdash_

[2019-02-15 01:23] mhoemmen commented on #3178
@trilinos/tpetra I'll number the Tpetra 12 warnings in the order shown here: https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4544817

  - 2 (Export): already fixed; code was removed.
  - 3 (Import): ditto

I'm working on the rest.

[2019-02-15 04:21] ikalash opened #4407 "Trilinos build error due to missing file in Sacado"
The Albany builds failed again due to Trilinos.  Here is the error

[code]

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81523

@trilinos/sacado

[2019-02-15 13:54] Rombur commented on #4404
Just a heads up if you decide to use `lapacke`, depending on the version you are using you may have trouble compiling `lapacke` and `boost` at the same time see [here](https://github.com/xianyi/OpenBLAS/issues/1992)

[2019-02-15 14:31] rppawlo commented on #4407
PR #4410 should fix this

[2019-02-15 15:44] etphipp commented on #4407
Sorry about that.

[2019-02-15 18:00] lucbv commented on #4202
@mayrmt PR #4297 was merged, there is still some work to be done for the integration in `Xpetra` but I should have a PR covering it soon enough, so no need to worry about it.

[2019-02-15 18:12] mayrmt commented on #4202
@lucbv Thanks! Let me know if I can be of any assistance.

[2019-02-15 19:16] mhoemmen opened #4412 "Tpetra::Distributor: Don't fill indicesFrom_"
@trilinos/tpetra @jjellio @kddevin @vbrunini @crtrott

`Tpetra::Distributor` would always fill `indicesFrom_` with 0, 1, ..., `totalReceiveLength_-1`.  This was not only a waste of time, it would unnecessarily make all reverse-mode communication take the slow path.  (Reversing a Distributor swaps `indicesTo_` and `indicesFrom_`.  A nonempty `indicesTo_` tells Distributor to take the slow path.  If

[2019-02-15 20:01] #4344 closed

[2019-02-15 20:01] #4392 closed

[2019-02-15 20:25] jhux2 commented on #4344
@william76 Did you intend to close this?

[2019-02-15 22:57] mhoemmen commented on #4404
@Rombur Thanks for the heads-up!

[2019-02-16 06:49] ikalash commented on #4407
Seems this has been resolved, thanks!

[2019-02-16 06:49] #4407 closed

[2019-02-17 02:51] mhoemmen commented on #4344
@jhux2 It's good to close; the fix is in master.  I think closing issues once their fixing commit merges into master is automatic.  It shows up as @william76 because he does the merges.

[2019-02-17 07:44] anhvt2 opened #4416 "cannot convert 'Intrepid2::Basis<Kokkos::Serial, double, double>*' to 'Intrepid2::Basis<Kokkos::OpenMP, double, double>*'"
Hi, this is not a Trilinos issue per se, but it is very related to Trilinos and I hope you can point me in the right direction. The Trilinos compilation went fine, but I'm encountering a compiling error from another package.

[code]

is there any way to bypass this Kokkos error?

@trilinos/kokkos

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible S

[2019-02-17 15:06] mhoemmen commented on #4416
This is not a Kokkos error.  It looks like you have a `Teuchos::RCP<Intrepid2::Basis<Kokkos::Serial, double, double>>`, and you're assigning it to a `Teuchos::RCP<Intrepid2::Basis<Kokkos::OpenMP, double, double>>`.  The Intrepid2 developers might be able to explain why you're getting bases of two different types.

@trilinos/intrepid @trilinos/intrepid2

[2019-02-17 15:11] mhoemmen commented on #4416
This is not relevant to your error, but you have some redundant build options.  For example, `Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON` appears twice.  Also, please see notes below.  People complain about long Trilinos CMake option lists, but that's because they insist on setting a bunch of options to the sensible default values that they already have.

  - `-D Tpetra_INST_FLOAT=OFF`: this i

[2019-02-17 18:52] #4343 closed

[2019-02-17 22:22] mhoemmen commented on #4412
Fixed in develop.  I'll let the automerge autoclose :)

[2019-02-17 22:25] mhoemmen commented on #2781
The kokkos-kernels package has taken over Tpetra's GEMM wrappers, so this issue is no longer valid.  Thanks for reporting!

[2019-02-17 22:25] #2781 closed

[2019-02-17 22:28] mhoemmen commented on #1763
Fixed by #4328.

[2019-02-17 22:28] #1763 closed

[2019-02-17 22:30] mhoemmen commented on #1215
Tpetra is no longer responsible for BLAS bindings.  kokkos-kernels does that now.

[2019-02-17 22:30] #1215 closed

[2019-02-17 22:30] mhoemmen commented on #1195
Tpetra is no longer responsible for BLAS bindings.  kokkos-kernels does that now.

[2019-02-17 22:30] #1195 closed

[2019-02-17 23:16] mhoemmen commented on #962
@trilinos/tpetra @kddevin I'm waking this one up again.  @vbrunini , @crtrott , and I found out Friday that MultiVector Import goes faster on multiple GPUs when we remove use of atomic updates (`Kokkos::atomic_assign`) with the REPLACE CombineMode.  We use atomics to implement "sparse all-reduce," but using them with the REPLACE CombineMode isn't a well-defined reduction, even ignoring rounding er

[2019-02-17 23:34] mhoemmen commented on #3580
@trilinos/tpetra @jjellio Current plan: First, _avoid_ the slow path.

#4412 (fixed in develop by PR #4413) prevents Distributor from unnecessarily engaging the slow path for reverse-mode communication.  (Reverse-mode sends should _always_ be contiguous by process rank, since forward-mode receives are always contiguous by process rank.)

`Distributor::createFromSends` is responsible for enabling t

[2019-02-17 23:44] mhoemmen opened #4417 "Tpetra::MultiVector: REPLACE / INSERT CombineMode need not use atomic updates"
@trilinos/tpetra @crtrott @vbrunini @jjellio

See discussion here: https://github.com/trilinos/Trilinos/issues/962#issuecomment-464524708

@vbrunini , @crtrott , and I found out Friday that MultiVector Import goes faster on multiple GPUs when we remove use of atomic updates (`Kokkos::atomic_assign`) with the REPLACE CombineMode.  (INSERT and REPLACE do the same thing with MultiVector.)  MultiVecto

[2019-02-18 00:01] mhoemmen opened #4418 "Tpetra::MultiVector: No CombineModes should do atomic updates with OpenMP if only 1 thread"
@trilinos/tpetra @crtrott @vbrunini @jjellio

`Tpetra::MultiVector::unpackAndCombineNew` currently uses atomic updates for all CombineModes (but see #4417), except with `Kokkos::Serial`.  This means that MultiVector will always use atomic updates with `Kokkos::OpenMP`, even if the number of threads is one.  As a result, MultiVector penalizes users for enabling OpenMP.  MultiVector should instead c

[2019-02-18 13:38] rppawlo commented on #4416
I don't have access to MILO code, but suspect it is hard coded to a Kokkos::Serial node where here you are configuring trilinos to use an OpenMP node.

[2019-02-18 15:51] william76 commented on #4344
@jhux2 @mhoemmen
Yeah, this caught me off guard a while back too. When I merge the develop branch into master for some reason github closes these open & merged PR's and says I did it... /shrug
It's probably good anyhow for housekeeping... if the information in the PR is needed to live past the time it's been merged the information should be put into an issue.

We do need to try and keep the # of o

[2019-02-18 16:38] #4208 closed

[2019-02-18 16:38] #4298 closed

[2019-02-18 16:38] #4412 closed

[2019-02-18 17:13] rppawlo opened #4421 "Framework: new version of gtest with gmock and gtest_main"
@trilinos/framework - is there any chance someone could upgrade the gtest version in Trilinos to the most recent release and make sure to include gmock and gtest_main? Since gtest is installed as part of Trilinos, some external apps are interested in leveraging this.

@jwillenbring @bathmatt

[2019-02-18 18:50] mhoemmen commented on #4421
Is that the gtest in @trilinos/kokkos ?

[2019-02-18 19:00] rppawlo commented on #4421
no - was talking about the one in Trilinos/commonTools/gtest. Is one snapshotted into trilinos as part of kokkos?

[2019-02-18 19:51] ikalash commented on #4334
We're still seeing a MueLu-related build issue in one of the Fedora gcc nightlies: http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81635 .  Here is the error:

[code]

[2019-02-18 19:53] william76 opened #4422 "Tpetra: CrsMatrix & CrsGraph swap() test updates"
@trilinos/tpetra

The tests for `CrsMatrix::Swap()` and `CrsGraph::Swap()` are set up to run on MPI using 2 processors.

@wcmclen will expand them to work with 1..N processors

[2019-02-18 21:36] william76 opened #4424 "Framework: Parameterize CDash Tracks for Pull Request Tests"
@trilinos/framework
We discussed parameterizing the PR testing drivers so we can specify in the Jenkins job which track we'd like the tests to go to.

I'm testing this [on my fork][1], but I added a parameter `PULLREQUEST_CDASH_TRACK` which, if set and non-empty will set the `CDASH_TRACK` variable that's used inside the `PullRequestLinuxDriver-Test.sh` script.

I'm running a quick test using my je

[2019-02-18 21:57] william76 commented on #4424
@jmwille merge request added on the script configurations and assigned to you to double check.

[2019-02-19 11:27] jschueller opened #4426 "ROL: incomplete StepFactory class ?"
@trilinos/rol

I wonder why ROL_StepFactory.hpp allows only to build a subset of the available algorithms:
https://github.com/trilinos/Trilinos/blob/master/packages/rol/src/step/ROL_StepFactory.hpp#L73

As some others are available, like Newton-Krylov:
https://trilinos.org/docs/r12.12/packages/rol/doc/html/group__step__group.html

The same applies in isValidStep(), used in the OptimizationSolver i

[2019-02-19 15:19] mayrmt commented on #4084
@lucbv after #4202/#4419, we have to address #4193.

[2019-02-19 15:34] lucbv commented on #3492
@mhoemmen I think that I answered most of the comments you had in #3492 that was merged earlier, so I will close issue.
As you mentioned in the pull request more work could be done on the algorithmic side but since this class does not seem to be used all that much in MueLu I will defer that work until we actively use this code.

[2019-02-19 15:34] #3492 closed

[2019-02-19 15:49] lucbv commented on #4202
@mayrmt with PR #4419 merged we can now close this issue. But let me know if you have any issues using the Xpetra code.

[2019-02-19 15:49] #4202 closed

[2019-02-19 16:03] vbrunini commented on #3647
Any update on this?

[2019-02-19 16:28] rhoope opened #4430 "Try 2: Remove deprecated inheritance of SerialDense matrices from Object"
This is a new issue for the idea captured in Issue #4258 but using an approach that doesn't break backward compatibility (cf Issue #4330) and attempts to align with current guidance for deprecating code as in Issue #4269).

@trilinos/teuchos

## Expectations

## Current Behavior

## Motivation and Context

Details are provided in Issue #4258.
## Definition of Done

## Possible Solution

## Steps t

[2019-02-19 16:48] bartlettroscoe commented on #2598
FYI: There has been some recent discussion on enabling RDC for CUDA builds for ATDM.  See (and please comment in):

* https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-262

[2019-02-19 18:05] ZUUL42 commented on #3178
Here are the results from some test builds I let run last night with Werror turned on:
@trilinos/tpetra [CDash](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4584015)
@trilinos/zoltan2 [CDash](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4584069)
@trilinos/epetra [CDash](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4584123)

[2019-02-19 18:07] dridzal commented on #4426
@jschueller
You can get globalized Newton-Krylov if you select LineSearch as your Step followed by
[code]
in the corresponding xml input file.  I believe that some of the Steps are best used through other robust, globally convergent Steps.

@dpkouri , could you please comment as well?

[2019-02-19 18:16] dpkouri commented on #4426
StepFactory only offers globalized steps (resulting in algorithms that converge from arbitrary initial guesses).  As @dridzal mentioned, you can use Newton-Krylov in conjunction with line search.

[2019-02-19 18:20] mhoemmen commented on #4334
@trilinos/muelu Looks like that bit of MueLu is assuming `GO=int`; Albany wants `GO=unsigned long`.

[2019-02-19 18:23] jschueller commented on #4426
ok, I guess that settles it, thanks

[2019-02-19 18:23] #4426 closed

[2019-02-19 18:48] mhoemmen commented on #4430
@trilinos/teuchos

[2019-02-19 18:49] lucbv commented on #4334
@mhoemmen the multiplier array should really be of type `LO` since it only operates on local quantities and is involved in the computation of other `LO` quantities. It is a simple mistake.

[2019-02-19 19:27] ndellingwood commented on #3647
@vbrunini working on it this week, sorry for the delay I've been a bit overloaded the past few weeks but aiming to put in a PR with a fix this week.
Brief update - some previous work to handle non-contiguous GIDs was intended to resolve cases like this, but this case exposed some shortcomings I'm working to resolve. The single-thread run on KLU2 happened to run to completion but the results are no

[2019-02-19 19:41] vbrunini commented on #3647
Great, thanks. Once you've got something working I can test it out against more of our test suite to make sure there isn't anything else unusual we are doing with Maps that isn't captured by this one test matrix.

[2019-02-19 21:25] lucbv commented on #4334
@ikalash PR #4429 has been merged so I hope that this will fix your issue.
Let me know how things are tomorrow so I can either work some more on it or close this issue, thanks!

[2019-02-19 23:06] mhoemmen commented on #4417
@csiefert reports that this might break Panzer, since they used to have inconsistent Dirichlet conditions and they relied on an implementation detail of how Tpetra ordered Import updates.  @trilinos/panzer, is this still a thing?

[2019-02-19 23:29] ZUUL42 commented on #3178
@trilinos/piro appears to only have one error with Werror turned on
[CDash](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4589529)

[2019-02-20 00:32] ZUUL42 commented on #3178
[Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4589916) for @trilinos/belos

[2019-02-20 13:10] rppawlo commented on #4417
This is the first time I've heard of this. Maybe @eric-c-cyr knows more about it?

[2019-02-20 13:23] spdomin opened #4439 "MueLu "repartition: heuristic target rows per process" not found"
New problem with select Muelu Nalu regression tests using develop Trilinos (started with 2/19/2019 nightly testing).

Error is as follows (all platforms):

terminate called after throwing an instance of 'MueLu::Exceptions::RuntimeError'
terminate called after throwing an instance of 'MueLu::Exceptions::RuntimeError'
  what():  /scratch/spdomin/nightlyBuildAndTest/Trilinos/packages/muelu/src/MueCen

[2019-02-20 15:19] cgcgcg commented on #4439
@spdomin I'll have a look!

[2019-02-20 15:48] ikalash opened #4440 "Albany nightly builds (waterman, fedora + gcc) are broken b/c of Xpetra"
Looks like Trilinos broke a couple of the Albany builds (waterman, fedora + gcc). The culprit seems to be @trilinos/xpetra .

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81706
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81711

[2019-02-20 15:52] ikalash commented on #4334
@lucbv your commit fixed the issue, but it looks like a new one cropped up in some of our builds (see #4440 ).

I feel like I am playing whack-a-mole...

[2019-02-20 15:52] #4334 closed

[2019-02-20 15:54] alanw0 commented on #4440
As an aside, the stk team has some work nearly finished which will fix the stk_topology warnings...

[2019-02-20 16:00] ikalash commented on #4440
Looks like this was a problem on NERSC as well: https://my.cdash.org/viewBuildError.php?buildid=1610941 .  Both Cori and Edison builds failed.

[2019-02-20 16:00] cgcgcg commented on #4440
@csiefer2 ?

[2019-02-20 16:07] william76 commented on #4394
This test looks like it's failing by hitting the 10-minute wall for individual tests.  What's confusing is that if you look at the [table of all the runs of this test][1] this test varies from 8 seconds to timing out at 600 seconds on PR's and 900 seconds on some GCC 7.3.0 and 4.9.3 tests. I think the occasions where it passes are when we get lucky and it squeaks in under the 10-minute time limit.

[2019-02-20 16:12] srajama1 commented on #4394
@william76 : Why Thursday ? Can you use your Kokkos Kernels time to break the tests  :)

[2019-02-20 16:13] ndellingwood commented on #4394
@william76 this sounds like another issue with running tests with `ctest -j`; based on the variance in testing times (8 sec up to 900 sec) simply reducing the size of the test for the serial case is not likely to make a difference on the upper limit case which would have been the fast solution. I'm spread too thin this week to try out splitting the test apart so I'm in favor of temporarily disabli

[2019-02-20 16:23] srajama1 commented on #4394
I would rather *not* disable this test. If we can't confirm our blas tests are running we cannot have confidence in other packages above.

[2019-02-20 17:06] kyungjoo-kim commented on #4394
@william76 The failing test is mostly due to the gemm test. Because of the timeout issue, we already disabled gemm_double but we do not disable gemm_dcomplex at that time. Anyway, the gemm test @crtrott originally wrote tests very large problem sizes. My recommendation is to delete the largest test in the gemm test problems and re-enable all gemm tests. Unit test is for correctness and we don't re

[2019-02-20 17:07] william76 commented on #4394
@srajama1 In the framework meeting it was discussed that if this isn't stable in a couple of days that we should disable it since the price of an intermittent test failing on pull requests by hitting the 10-minute timeout is pretty high. Rather than increasing the global timeout for all jobs, we'd prefer that individual tests don't run for long periods of time.

I'm mostly out of kokkos kernels ti

[2019-02-20 17:12] srajama1 commented on #4394
@kyungjoo-kim : please do. Thanks !

[2019-02-20 17:37] william76 commented on #4394
@kyungjoo-kim Thanks!

[2019-02-20 17:40] kyungjoo-kim commented on #4394
@william76  One question. Do you set the OMP_NUM_THREADS when PR test runs ctest ? If it is not set, it will oversubscribe the entire compute node and this will increase test runtime a lot.

[2019-02-20 17:48] william76 commented on #4394
@kyungjoo-kim
Hmmm, looks like that's actually set for the GCC 4.8.4 configuration but not set for any others.  I think on the normal Trilinos builds, the jobs take 29 'executors' but use 18 or so cores due to memory constraints on the machines.

The one that sets it uses `OMP_NUM_THREADS=2` ... is that a reasonable size? Are there any constraints on how big this should be? I suppose we could set

[2019-02-20 17:54] kyungjoo-kim commented on #4394
@william76 If the compute resource allows, I would like to go up to 4. Two threads may not detect some edge cases. If we really want to test functionality itself, we may also want to use an odd number 3. As the objective of the PR test is to protect Trilinos, it is also good to vary the omp threads for different test beds. Just thought...

[2019-02-20 18:07] william76 commented on #4394
@kyungjoo-kim
I'll put in a PR to set `OMP_NUM_THREADS=2` for all the configurations and get it started in PR testing since the one test that was setting it was using 2.

@jwillenbring has a meeting soon with some Kitware folks, so he'll check with them to see if CTest is OpenMP aware and he'll get back to me in a bit. If it sounds like 4 is good and won't oversubscribe the machines too much I'll

[2019-02-20 18:30] eric-c-cyr commented on #4417
I've not heard of this. I don't understand the implementation well enough to take advantage of it. @csiefer2 or @mhoemmen what were you think specifically?

[2019-02-20 19:13] csiefer2 commented on #4440
Well, that's weird.

[2019-02-20 19:21] csiefer2 commented on #4440
Is this an error building Albany or Trilinos?

[2019-02-20 19:32] mhoemmen commented on #4417
@eric-c-cyr The idea is that since Tpetra does not promise to execute combines in any particular order, it would be silly for users to expect a REPLACE on Import to use atomic updates.

MultiVector currently uses `Kokkos::atomic_assign` for REPLACE.  This guarantees that if multiple processes send my process data for the same row of my vector, then my value in that row will equal one (some random

[2019-02-20 20:31] ZUUL42 commented on #3178
[Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4590377) for @trilinos/ifpack2
[Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4595659) for @trilinos/intrepid2
[Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4595713) for @trilinos/anasazi
[Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4595605) for

[2019-02-20 21:08] cgcgcg commented on #4439
@spdomin I pushed a fix, could you check if it helped?

[2019-02-20 22:23] kddevin commented on #3178
Zoltan2's warnings are fixed by #4436.

[2019-02-20 22:57] ZUUL42 commented on #3178
@kddevin, thanks. I'll get a PR in to turn Werror on for Zoltan2 in the build shortly.

[2019-02-20 23:57] ikalash commented on #4440
@csiefer2 : Trilinos.

[2019-02-21 00:07] csiefer2 commented on #4440
Can you send me the location for your waterman build scripts?

[2019-02-21 00:11] ikalash commented on #4440
@csiefer2 : sure, Trilinos build options are here https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/waterman.sandia.gov/ctest_nightly.cmake.frag#L153-L290

This is a CDash script, so to turn the options into a cmake script, you'd have to do a little bit of processing.

Note that the issue doesn't just happen on waterman, so it's not just a GPU thing.

[2019-02-21 00:12] ikalash commented on #4440
Here are also the modules: https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/waterman.sandia.gov/waterman_modules_cuda.sh

[2019-02-21 00:17] csiefer2 commented on #4440
Out of Cori, Edison and Waterman, the last is the easiest to get to :)

[2019-02-21 00:26] csiefer2 commented on #4440
That fails to configure somewhere in Kokkos due to invalid cmake logic.

Any other local machines I can try on?

[2019-02-21 00:29] ikalash commented on #4440
Hmmm, it shouldn't since it configured in the nightlies last night.  Is it possible you have a syntax error in converting the relevant code to a cmake script?  @jewatkins, do you happen to have a waterman Trilinos configure script that's equivalent to the nightly that you could share with Chris?  Do you have a NERSC account?  The builds there are pretty easy to reproduce.  The only other machine i

[2019-02-21 00:29] ikalash commented on #4440
(it shouldn't unless Kokkos broke our configuration, which given how often Trilinos breaks Albany these days, is possible...  sigh...)

[2019-02-21 00:30] csiefer2 commented on #4440
CMake Error at packages/kokkos/cmake/kokkos_settings.cmake:25 (list):
  list sub-command FIND requires three arguments.

[2019-02-21 00:32] csiefer2 commented on #4440
Not sure how much that matters though... cmake tries to configure onward.

[2019-02-21 00:33] ikalash commented on #4440
Hmmm, not seeing that message in our nightly configuration output: http://cdash.sandia.gov/CDash-2-3-0/viewConfigure.php?buildid=81706

[2019-02-21 00:37] csiefer2 commented on #4440
Ah!  I believe that was an error in the de-cmakeification on my part.

[2019-02-21 00:40] csiefer2 commented on #4440
Building now.  Will look at the error in AM

[2019-02-21 00:41] ikalash commented on #4440
Ok, thanks Chris!

[2019-02-21 01:29] mhoemmen commented on #4440
@theguruat12 Is this related to the build errors that @crdohrm saw?

[2019-02-21 01:54] william76 commented on #4394
I kicked off a dev->master run after these two PR's went through.  The GCC 7.2 test passed.  I'll check the nightly dev->master tomorrow to see if it passes cleanly too and close this issue out if everything looks good :D

[2019-02-21 02:20] spdomin commented on #4439
Thanks - I will report back when the nightly tests run as I test develop nightly. Best.

[2019-02-21 03:59] ikalash commented on #4440
Looks like the problem is happening on Ride too.  This is a clue - Ride was fine last night, but the Ride build happens earlier than the others, at 8PM.  This suggests the problematic code was checked in last night after this time.

[2019-02-21 05:16] ndellingwood commented on #3647
@vbrunini I put in PR #4454 with a fix that worked with my single-proc example tested with KLU2. PR is WIP until I finish cleaning the test and check with other solvers, but if you'd like to test please pull that PR (single line change) and add the parameter list option in the comment there to indicate to Amesos2 your matrix has non-contigous (i.e. gapped) rowids.

[2019-02-21 13:19] mayrmt commented on #4084
@lucbv @pohm01 @rstumin Just a brief udpate: To complete the migration to Xpetra, I just have to figure out a solution to #4193. I'm working on this right now.

[2019-02-21 13:40] spdomin commented on #4439
The throws are gone. However, a new diff in the formerly throwing/failing waleElem* test appeared last night. If I look at the two log files, I see that the Muelu iteration counts are the same, however, the residuals are different.

Do you have any reason to believe that the set of changes you made should cause a diff? In general, my philosophy is simple in that diffs are fine if they are 1) under

[2019-02-21 13:47] jwillenbring opened #4457 "Building Sacado with relocatable device code enabled"
@trilinos/sacado
CC: @trilinos/framework @bartlettroscoe @rppawlo @alanw0

## Expectations

Multiple major Trilinos customers now need to build Trilinos with relocatable device code enabled for CUDA builds. Per @rppawlo this can take a lot of effort to get working.

## Current Behavior

I fired off a build with rdc enabled to help gauge our current status and encountered [these issues](https://tes

[2019-02-21 14:11] crdohrm opened #4458 "Amesos2 build errors when enabling MKL/Pardiso"
I would like the enable Amesos with MKL/Pardiso, but run into build errors like

[ 97%] Building CXX object packages/amesos2/src/CMakeFiles/amesos2.dir/Amesos2_PardisoMKL.cpp.o
In file included from /ascldap/users/crdohrm/Trilinos.fork/packages/amesos2/src/Amesos2_PardisoMKL_FunctionMap.hpp(64),
                 from /ascldap/users/crdohrm/Trilinos.fork/packages/amesos2/src/Amesos2_PardisoMKL_decl

[2019-02-21 14:33] rppawlo commented on #4457
RDC is not the most stable thing. Long term we will probably need two cuda builds for the PR testing - one with RDC enabled and one disabled. Failures are usually build errors with RDC, so maybe we get away with building but not running the tests for one of the two builds?

[2019-02-21 15:09] freaklovesmango opened #4459 "Ifpack2: Error for factory create"
I wanted to use the Preconditioner from Ifpack2 for Belos and Tpetra but I got the following error

[code]
Edit: The following includes the notes:

[code]

My code is based on this example here: https://trilinos.org/docs/dev/packages/ifpack2/doc/html/classIfpack2_1_1Factory.html#aa19b22421fb0aeebe7a30d025b662aa6

[code]

This is (basically) my actual code:
[code]

[2019-02-21 15:25] csiefer2 commented on #4440
https://github.com/trilinos/Trilinos/pull/4460

[2019-02-21 15:32] cgcgcg commented on #4439
@spdomin The change we made should speed up the repartitioning done by Zoltan2. However, setting the `mj_premigration_coordinates` to something different will most likely change the actual partition that is returned. So I don't think that this should worry us.
@kddevin, can you confirm that this can happen?

[2019-02-21 15:34] csiefer2 opened #4461 "Framework: Autotester Occasionally Refuses to Do Inspection"
Which means you can't merge a tested, approved PR.

This can be 'fixed' by throwing on 'AT: RETEST' and burning another 4 hours of testing time (if the test machines all work), but this is getting annoying.

@trilinos/framework @william76 @jwillenbring

[2019-02-21 15:36] etphipp commented on #4457
This is a duplicate of issue #2891, and this has nothing to do with Sacado per se.  It is caused by libteuchoscore.a, which defines some static symbols, appearing twice on the link line.  Reading through the comments on that issue, it is unclear if it was ever determined if this is a bug in CMake, Tribits, or nvcc/nvcc_wrapper.

[2019-02-21 15:36] csiefer2 commented on #4461
This has happened to me two times in under a week, and is well known enough that other devs recommend 'AT: RETEST' in comments:

https://github.com/trilinos/Trilinos/pull/4401
https://github.com/trilinos/Trilinos/pull/4297
https://github.com/trilinos/Trilinos/pull/4446

[2019-02-21 16:05] bartlettroscoe commented on #4457
FYI: I will go ahead and set up some nightly "Specialized" ATDM Trilinos CUDA 9.2 RDC builds on 'white'/'ride' and 'waterman'.  If you want to get updates on this, add yourself as a watcher to  [TRIL-262](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-262).

[2019-02-21 16:06] bartlettroscoe commented on #2891
FYI: I will go ahead and set up some nightly "Specialized" ATDM Trilinos CUDA 9.2 RDC builds on 'white'/'ride' and 'waterman'.  If you want to get updates on this, add yourself as a watcher to  [TRIL-262](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-262).

[2019-02-21 16:06] bartlettroscoe commented on #2598
FYI: I will go ahead and set up some nightly "Specialized" ATDM Trilinos CUDA 9.2 RDC builds on 'white'/'ride' and 'waterman'.  If you want to get updates on this, add yourself as a watcher to  [TRIL-262](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-262).

[2019-02-21 16:14] vbrunini commented on #3647
Thanks, I'll give this a shot today.

[2019-02-21 16:19] vbrunini commented on #4457
nvcc_wrapper does have a "--remove-duplicate-link-files" option that helps a lot working around these issues.

[2019-02-21 16:41] jwillenbring commented on #4461
Please point me to one of these at the point where you would typically throw on a retest label (but don’t do it) so I can see exactly the state of things.

[2019-02-21 16:57] spdomin commented on #4439
Makes sense. Once Karen confirms, I can re-bless. Once I have a clean nightly, I can close the ticket.

[2019-02-21 17:01] kddevin commented on #4439
Karen confirms.

[2019-02-21 17:47] vbrunini commented on #3647
@ndellingwood I pulled your fix and am still seeing issues. Just noticed that you said you tested with KLU2, but when we initially put this in KLU2 worked, but SuperLU, SuperLU_dist, and UMFPACK segfaulted. That is still consistent with what I see with your patch applied.

[2019-02-21 18:10] jhux2 commented on #4440
@ikalash Do the Albany tests pull Trilinos directly from github, or are they all sync'd to test the same Trilinos SHA1?  The latter is what the Trilinos nightly tests do.

[2019-02-21 19:06] jhux2 commented on #4459
@freaklovesmango Try changing the definition of `prec_type` to

`typedef Ifpack2::Preconditioner<Scalar,LO,GO,Node> prec_type;`.

[2019-02-21 19:19] ZUUL42 commented on #3178
[Updated Werror results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4599045) for @trilinos/tpetra

[2019-02-21 19:28] mhoemmen commented on #3178
I'm confused about the first warning.  It claims that `iallreduceIntRaw` is defined but not used.  However, I can see that it's used here, in a way not protected by a macro:

https://github.com/trilinos/Trilinos/blob/5f47fa046b44ffb0273ac1968773d67d396950e5/packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp#L8234

For the other warnings, I'm in all-day meetings all week and likely won't have time t

[2019-02-21 19:30] mhoemmen commented on #4459
@freaklovesmango Note that if you create the matrix with the row and column Map the same, then you're constraining the matrix to be block diagonal, where each block is an MPI process.

[2019-02-21 19:32] #4394 closed

[2019-02-21 19:33] ikalash commented on #4440
@jhux2: we pull directly from github, develop branch.  Sync'ing to a SHA is something we've discussed (tagging @bartgol, @ibaned), but never implemented for the testing.

[2019-02-21 20:11] ndellingwood commented on #3647
@vbrunini thanks for the fast response, a couple questions:

1. Just to confirm, did you set the parameter for each solver to indicate the matrix rowmap is non-contiguous? This needs to happen before the solver is created
e.g.
[code]

2. Did the KLU2 results change? Even though KLU2 ran prior with a single rank, the results were likely incorrect. I'm curious if either the PR change or setting the

[2019-02-21 20:26] vbrunini commented on #3647
1. Yes, or at least I have attempted to. Is there a way to get Amesos2 to report back what parameters it is actually using to make sure I didn't screw up attempting to set it?

2. I'm seeing the same results before/after with KLU2.

[2019-02-21 20:39] csiefer2 commented on #4461
Next time, it happens, I will do so!

[2019-02-21 20:53] bartgol commented on #4440
Now that develop->master happens much more frequently in Trilinos, I guess we can pull master rather than develop. We started pulling develop a while ago, before the autotester era, when promotions were slower and it could take a while to get fixes from develop in master. Now, I think this concern no longer exists. I think.

[2019-02-21 20:57] theguruat12 commented on #4440
I believe it's related, but alas, I'm not really a C++ developer, so it's more of an educated guess based on the pure-virtual messages and emanating from the same file.

[2019-02-21 20:58] ndellingwood commented on #3647
@vbrunini thanks for confirming, there is no getter in Amesos2 to return a parameter list, makes sense to put one in. The issue I put in the PR for isnt't the same one you are running into, but I'll continue to add to #4454 once I get this fixed.

[2019-02-21 21:15] bartlettroscoe commented on #2891
FYI: Seeing lots of link failures in Sacado in ATDM Trilinos CUDA build on 'ride' shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4605510).  The first link error shown for the target `Sacado_MPLTests` shows the following link line (sorted to show duplicates):

[code]

Need to figure out how "libteuchoscore.a" is getting duplicated on the link line.  I can

[2019-02-21 21:19] srajama1 commented on #4458
@crdohrm This is a strange error. _MKL_Complex8 is define in the mkl_types.h. I just checked the header and it is there in both 17 and 18 versions. This is not a MKL versioning issue. Can you confirm this in your installation of MKL in ${MKLROOT}/include/mkl_types.h.

You won't see this in Amesos because it doesn't use the complex version. Amesos2 we enabled both double and complex as they are alw

[2019-02-21 21:29] jhux2 opened #4464 "MueLu: add unit tests for class Zoltan2Interface"
While looking at another issue, I discovered there are no MueLu unit tests for the Zoltan2Interface class.  This should be fixed.
@trilinos/muelu

[2019-02-21 21:34] crdohrm commented on #4458
Yes, I can confirm that _MKL_Complex8 is defined in ${MKLROOT}/include/mkl_types.h.

The error message above says

namespace "Amesos2::PMKL" has no member "_MKL_Complex8"

Is the problem that _MKL_Complex8 is not in the Amesos2::PMKL namespace?

[2019-02-21 21:38] etphipp commented on #2891
I just had a thought.  Could it be how Sacado specifies its dependencies on Teuchos through Tribits, which currently are:
[code]
If you configure Sacado with Teuchos enabled, could this cause libteuchoscore.a to appear twice, once from the library dependency and once from the test dependency.  Btw, I think it was done this way because the Sacado library optionally uses things from several sub-pack

[2019-02-21 22:05] bartlettroscoe commented on #2891
@etphipp,

This looks like it could be a TriBITS defect.  It should not put on a link libs twice in a case like this.  There must be some error in the TriBITS logic.  But this is a strange use case.  When a package is broken into subpackages, you are supposed to point to the specific subpackages you depend on (or there was not much purpose in breaking that thing into subpackages).  I will see if I

[2019-02-21 22:11] vbrunini commented on #2891
@bartlettroscoe I believe you have to add ```--remove-duplicate-link-files``` manually

[2019-02-21 22:16] ikalash commented on #4440
@bartgol : if develop is merged into master nightly (provided the tests pass), I'm open to switching the Albany nightlies to build against master rather than develop.  We should check with @lxmota , the owner of the nightlies that I do not own.  Alejandro, would you be OK switching your nightlies to build against master which gets updated almost every night now and has to pass more stringent check

[2019-02-21 22:21] etphipp commented on #2891
I can work on that.  In fact I see this was requested a long time ago (https://github.com/trilinos/Trilinos/issues/1263), which I apparently never did (sorry!).

[2019-02-21 22:24] csiefer2 commented on #4440
Merged.  @ikalash  Please check the nightlies this evening and let me know.

[2019-02-21 22:24] ikalash commented on #4440
@csiefer2 : thanks, will do!

[2019-02-21 22:43] spdomin commented on #4439
Okay, I will proceed with a re-bless and report back (to close) tomorrow AM.

[2019-02-21 23:30] lxmota commented on #4440
@ikalash If the lead time of develop vs master is only a few days, I think it should be OK to switch.

[2019-02-21 23:36] ikalash commented on #4440
Ok, great.  I opened an Albany issue so please lets move this discussion there: https://github.com/SNLComputation/Albany/issues/437 .

[2019-02-21 23:50] ZUUL42 commented on #3178
I noticed that one seemed odd as well. Thought it might either be another issue upstream presenting as an unused-function, but don't know the code base well enough to effectively dig into it quickly.
If it's found to be a totally false-positive, we can discuss how we should deal with it.

[2019-02-22 00:20] ZUUL42 opened #4468 "Epetra: Remove build warnings"
@trilinos/epetra

## Expectations

Epetra builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Epetra has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Epetra. The CDash report can be found [here](https:/

[2019-02-22 00:43] ZUUL42 opened #4469 "ROL: Remove build warnings"
@trilinos/rol

## Expectations

ROL builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.

## Current Behavior

Currently ROL has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for ROL. The CDash report can be found [here](https://testing.sa

[2019-02-22 01:48] bartlettroscoe commented on #2891
FYI: Setting the option `--remove-duplicate-link-files` seems to fix the Sacado build.  See commit 10bf75b in my topic branch.

[2019-02-22 06:09] ikalash opened #4470 "stk broke Albany builds"
Another day, another issue on Trilinos breaking the Albany build...

Here is what we see in our nightlies:
[code]
We are getting the following error:
[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81771

Did the put_field method go away in STK?  If so, is there an alternate routine we should be doing?

@trilinos/stk
k

[2019-02-22 09:52] mhoemmen commented on #4470
@ikalash I edited your comment for clarity.  @alanw0

[2019-02-22 10:09] freaklovesmango commented on #4459
@jhux2 I forgot to show this part of my code but I did include this.
[code]

@mhoemmen thanks but this was intended because it is symmetric and also I do not use MPI/ only one MPI process.

Any other ideas maybe?

[2019-02-22 12:59] rppawlo commented on #4470
yes - there was a deprecation warning being printed by STK in the December/January time frame. Here's the change for a panzer class (from 1333649c98):

[code]
We had an issue with 4.8 compilers. See commit cf5e5a33dcf96 if you need gcc 4.8 in Albany.

[2019-02-22 14:21] alanw0 commented on #4470
@ikalash sorry for the breakage! Yes the put_field functions went away, replaced by the very similar put_field_on_mesh functions. The difference is that the last argument 'initialValue' is no longer optional. Sierra/Aria had encountered a scenario where if they didn't specify the optional argument, the compiler would pick the wrong overload of the function, and wrong behavior would occur. So we de

[2019-02-22 14:22] alanw0 commented on #4470
Well that code formatting didn't work...

[2019-02-22 15:22] srajama1 commented on #4458
Actually we include mkl_types.h in the namespace Amesos2::PMKL, that is how why this has been working. We do this so there is no name conflicts between two solves (say SuperLU* variations). What is the compiler and its version here ?

[2019-02-22 15:57] crdohrm commented on #4458
Currently Loaded Modulefiles:
  1) sntools/master
  2) sierra-python/2.7
  3) sierra-git/2.6.1
  4) sierra-cmake/3.12.2
  5) sierra-mkl/17.0-2017.2.174
  6) sierra-compiler/intel/17.0-2017.2.174
  7) sierra-mpi/openmpi/1.10.2
  8) sierra-devel/intel-17.0.2-openmpi-1.10.2

[2019-02-22 16:32] ikalash commented on #4440
We had new failures last night in our builds due to stk, but I think this problem has been resolved - thanks @csiefer2 !

[2019-02-22 16:32] #4440 closed

[2019-02-22 16:40] ikalash commented on #4470
Ah OK I see.  I added the ```-DSTK_HIDE_DEPRECATED_CODE``` configure option to the builds as a short term solution, and have opened an issue in Albany on switching SCOREC to the new syntax (https://github.com/SNLComputation/Albany/issues/438 ).

[2019-02-22 16:40] #4470 closed

[2019-02-22 17:05] ZUUL42 opened #4473 "Belos: Remove build warnings"
@trilinos/belos

## Expectations

Belos builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.

## Current Behavior

Currently Belos has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Belos. The CDash report can be found [here](https://te

[2019-02-22 17:09] ZUUL42 opened #4474 "Intrepid2: Remove build warnings"
@trilinos/intrepid2

## Expectations

Intrepid2 builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.

## Current Behavior

Currently Intrepid2 has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Intrepid2. The CDash report can be found [

[2019-02-22 17:13] ZUUL42 opened #4475 "Anasazi: Remove build warnings"
@trilinos/anasazi

## Expectations

Anasazi builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.

## Current Behavior

Currently Anasazi has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Anasazi. The CDash report can be found [here](ht

[2019-02-22 17:42] alanw0 commented on #4470
@ikalash I don't know if I was clear - If you DON"T define STK_HIDE_DEPRECATED_CODE, then you get the deprecation warnings. If you DO define that macro, then deprecated stuff is hidden and you get a compile error, no deprecation warning. I would not expect codes to define that macro if they are outside of the sierra environment.

[2019-02-22 17:43] ZUUL42 opened #4476 "Ifpack2: Remove build warnings"
@trilinos/ifpack2

## Expectations

Ifpack2 builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Ifpack2 has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Ifpack2. The CDash report can be found [here](htt

[2019-02-22 17:43] ZUUL42 opened #4477 "Piro: Remove build warnings"
@trilinos/piro

## Expectations

Piro builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Piro has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Piro. The CDash report can be found [here](https://testing

[2019-02-22 17:59] srajama1 commented on #4458
@ndellingwood As I know you are working with TPLs for another amesos2 issue, can you add this compiler combination to your testing. If you are tied up in other things I will come to this in the weekend.

[2019-02-22 19:07] ikalash commented on #4470
@alanw0 : sorry for the confusion - yes, I understood there.  I was too hasty in cutting/pasting the configure option above - I've corrected it now.

[2019-02-22 19:45] bartlettroscoe commented on #2598
FYI: PR #4481 is up and ready to be approved.  This will allow us to set up some nightly builds with RDC enabled.  After those builds are up and running each day, we will post ATDM Trilinos GitHub issues to for the new failures.

@rppawlo, can you review and approve PR #4481?

[2019-02-22 20:02] ndellingwood commented on #4458
@srajama1 I won't be able to get to it today, I can try and get this resolved by early next week if that is okay once I've got the other issue under control.

[2019-02-22 21:36] srajama1 commented on #4458
@ndellingwood : I will try to reproduce in the weekend. Today is taken with other things. I will update the github issue on how far I get in the weekend.

[2019-02-22 21:38] srajama1 commented on #4473
@trilinos/belos @hkthorn

[2019-02-22 21:38] srajama1 commented on #4475
@trilinos/anasazi @hkthorn

[2019-02-22 22:00] ndellingwood commented on #4458
@srajama1 sounds good, if you have a start on reproducing it we can jump right into it next week, thanks!

[2019-02-22 23:02] jhux2 commented on #4459
@freaklovesmango What are your LocalOrdinal and GlobalOrdinal types?  Can you supply a self-contained example that reproduces the error?

[2019-02-23 00:13] mhoemmen commented on #4459
@freaklovesmango wrote:

Ah, I think I remember that conversation with you on GitHub.  It's OK then :-)

[2019-02-23 00:33] bartlettroscoe commented on #2598
The branch PR #4481 merged earlier today and I just set up the Jenkins SON builds on 'white':

* https://jenkins-son.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug/
* https://jenkins-son.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt/

and the following Jenkins SRN builds on 'ride' and 'waterma

[2019-02-23 01:33] jhux2 commented on #4476
This should be fixed by PR#4483.

[2019-02-23 13:55] bartlettroscoe opened #4486 "Panzer build failures in Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt starting 2/22/2019 taking out SPARC Trilinos Integration testing"
CC: @trilinos/panzer , @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52, @alanw0

## Next Action Status

Panzer was disabled in this build in PR #4487 on 2/24/2019 and the build 100% passed on 2/25/2019.  PR #4503 that re-enables Panzer in this build was merged on 2/26/2019.  Next: Confirm Panzer building and passing tests in this build on CDash in 2/27/2019 ...

## De

[2019-02-23 13:58] bartlettroscoe commented on #4486
FYI: these build failures, for some reason, seem to have taken out the install of Trilinos that is used in SPARC Trilinos Integration testing (see [TRIL-243](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-243)).  We have lost all testing of SPARC 'master' + Trilinos 'develop' with the clang-5.0.1 compiler due to this issue.

But SPARC is not even using Panzer and EMPIRE is not using clang-

[2019-02-23 14:02] freaklovesmango commented on #4459
@jhux2 I defined them like this:

[code]

An example should roughly be like this:
[code]

[2019-02-23 16:18] mhoemmen commented on #4459
@freaklovesmango You shouldn't have to call `rcp` on the result of `factory.create (precName, A);`; you should just be able to assign it to prec.  If that doesn't help, try also casting A to const:
[code]

[2019-02-23 17:23] alanw0 commented on #4486
Hmm. We have a clang 5.0 line on the sierra dashboards and this stk-topology issue is not showing up there. stk-topology was indeed changed prior to this most recent update of stk into trilinos, so it's clearly a real issue. We will figure out what is wrong ASAP.

[2019-02-23 19:21] bartlettroscoe commented on #4486
@alanw0, does Sierra build Panzer tests and examples?  That is where the problem is showing up.

[2019-02-24 14:43] freaklovesmango commented on #4459
@mhoemmen I tried without rcp which did not work. Also, the cast seems to be inappropriate...
This is the error message I got:
[code]

I am not sure if I use the method properly?
https://trilinos.org/docs/dev/packages/teuchos/doc/html/classTeuchos_1_1RCP.html#a6931e6c2f74c9fa9467e5dc91c6cd983

[2019-02-24 18:38] ikalash commented on #4470
@alanw0 : I added a new debug Albany build to our nightly test harness at the end of last week that uses a clang compiler.  There is a stk-related undefined reference error when building Albany that happens only in this build:
[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=81850

Would this be related to recent changes pushed to STK?

[2019-02-24 18:54] alanw0 commented on #4486
@bartlettroscoe No Sierra doesn't build panzer tests. But also, sierra doesn't build stk using cmake. A new cpp file was recently added to stk-topology in a subdirectory, and wasn't added to the library in the CMakeLists.txt file. I'll put in a pull request shortly to fix this. I think this will fix the unresolved symbol error.

[2019-02-24 19:21] mhoemmen commented on #4459
@freaklovesmango My bad, I forgot about the key detail of the cast:
[code]

[2019-02-25 01:24] mhoemmen commented on #4417
I've marked this as "results impacting", since it could affect code that tries to resolve conflicts across processes in a MultiVector Export / Import by assuming that REPLACE / INSERT does atomic updates.  That might arise when applying PDE boundary conditions, for example.

[2019-02-25 02:18] alanw0 commented on #4470
@ikalash Yes that was related to the recent STK changes. I put in a pull-request today, which should fix this. Hopefully the next nightly test will confirm.

[2019-02-25 03:35] ikalash commented on #4470
@alanw0 : great.  I'll keep an eye on the nightlies to check that the issue got fixed.  Thanks!

[2019-02-25 16:03] rhoope commented on #4430
Thanks much @mhoemmen !

[2019-02-25 16:36] mhoemmen commented on #4430
@rhoope Thanks for all your hard work! :D

[2019-02-25 17:11] #4424 closed

[2019-02-25 17:12] william76 commented on #2423
@trilinos/framework
@jwillenbring
With the GPU test running in the PR testing and Dev->Master jobs, should we consider this issue complete?

[2019-02-25 17:12] william76 commented on #3176
Closing this issue since it's been resolved.

[2019-02-25 17:12] #3176 closed

[2019-02-25 17:13] william76 commented on #2500
Closing this issue since it's been resolved.

[2019-02-25 17:13] #2500 closed

[2019-02-25 17:15] william76 commented on #1826
I can see that #1782 is still open as well as this one...

@srajama1 @bmpersc @jwillenbring Do you guys know if #1782 ever got done but the issue didn't get closed? It's been around since 2017 so it's a pretty old issue. ;)

[2019-02-25 17:15] william76 commented on #4037
Completed.

[2019-02-25 17:15] #4037 closed

[2019-02-25 17:22] william76 opened #4492 "Framework: Disable the non- dev->master PR tests in the Clean Track"
Description
-----------
We've moved the develop -> master pull request jobs to report to the Clean track.

Since we are no longer using the old "Clean" jobs to determine the develop -> master merge, we should remove them from the Clean track.

@jwillenbring I'm assuming you wanted me to remove these tests entirely since they're somewhat redundant with the PR testing for dev->master.  If you would

[2019-02-25 17:26] william76 commented on #4492
Information
-----------
These jobs are driven by the `Trilinos_nightly_driver` job on Jenkins which launches the `Trilinos_generic_nightly` job with different parameters. I'll cache the parameters here in case we needed to re-add it:

#### `Linux-gcc-7.3.0-MPI_Release_gcc_7.3.0_openmpi_1.10.1_DEV`
[code]

#### `Linux-gcc-4.8.4-MPI_Release_gcc_4.8.4_openmpi_1.10.1_DEV`
[code]

[2019-02-25 17:28] william76 commented on #4492
@jwillenbring
This is done, but I'll let you weigh in on whether or not you'd like those two tests put under the *Nightly* group vs. just removed altogether. If you're good with them being removed entirely, feel free to close out this issue. If you'd like them put back as Nightly instead of Clean I can re-add them and I'll close this ticket out.

[2019-02-25 20:19] ikalash commented on #4470
Just to follow up @alanw0 : the issue went away in today’s nightlies.  Thanks again!

[2019-02-25 21:10] csiefer2 opened #4495 "Tpetra/Teuchos: Allow Teuchos Complex w/o Tpetra Complex"
This is a moral follow-on to #4080, except, I would like to reverse our decision.

I have an application that wishes to do some complex arithmetic using Teuchos::SerialDenseMatrix on the host and then later due some computing using Tpetra & CUDA.

At present, the resolution of #4080 means we have to have complex support on in both places.  However, Kokkos will not compile w/ cuda if std::complex<d

[2019-02-25 21:20] mhoemmen commented on #4495
@csiefer2 wrote:

Is that a known issue?  If not, what are the build errors?

[2019-02-25 21:24] csiefer2 commented on #4495
One sample error:

Kokkos_Cuda_Parallel.hpp(474): error: identifier "std::complex<double> ::__rep const" is undefined in device code

[2019-02-25 21:25] csiefer2 commented on #4495
Also this:
/gpfs1/csiefer/doom/TPL/trilinos/devel/TrilinosGIT/Trilinos/packages/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel.hpp(474): error: calling a constexpr __host__ function("std::complex<double> ::complex") from a __device__ function("Kokkos::Impl::ParallelFor< ::,  ::Kokkos::RangePolicy<int,  ::Kokkos::Cuda > ,  ::Kokkos::Cuda> ::operator () const") is not allowed. The experimental flag '--ex

[2019-02-25 22:22] mhoemmen commented on #4495
@csiefer2 What code is using `std::complex` with CUDA?  What's the context for this error?

[2019-02-25 22:23] csiefer2 commented on #4495
@mhoemmen We have a situation where the code does not require std::complex, but one of its TPL's does.

[2019-02-25 22:24] mhoemmen commented on #4495
@csiefer2 It sounds like some code is trying to use `std::complex` in a Kokkos parallel region on device.  What code is that?

[2019-02-25 22:28] mhoemmen commented on #4495
What I'm getting at is that I plan to mark this issue as "wontfix" and open a new issue for the CUDA build error.  We have a CUDA build in PR tests now, so if enabling complex results in a build error, we need to fix that.

[2019-02-25 22:36] csiefer2 commented on #4495
I disabled the configure time test in Tpetra (it is now a warning), building only SerialNode and ran with the following options:

-D Teuchos_ENABLE_COMPLEX=ON
-D Trilinos_ENABLE_COMPLEX=OFF
-D Tpetra_INST_COMPLEX_DOUBLE=OFF

All Stratimikos, Thyra, and MueLu tests pass. I'm not sure we need to wontfix this.

[2019-02-25 22:36] csiefer2 commented on #4495
Another, related issue, is that I'm now forced to build a std::complex version of the entire Tpetra stack, which I'll never use.

[2019-02-25 22:39] mhoemmen commented on #4495
@csiefer2 I would like to see the build errors for the CUDA build.  That's a bug that we should file separately.

[2019-02-25 22:46] csiefer2 commented on #4495
@mhoemmen Check your email :)

[2019-02-25 22:51] mhoemmen commented on #4495
It looks like MueLu is using `std::complex` in a device parallel region.  That's not allowed.  `Kokkos_Complex.hpp` has documentation saying this.  This is why `impl_scalar_type` exists in Tpetra.

[2019-02-25 22:52] mhoemmen commented on #4495
@csiefer2 wrote:

That's a separate question, worth answering :-)  Be sure to check whether Thyra builds correctly.  I think Thyra takes its ETI settings from `Trilinos_ENABLE_${SCALAR}`, and I'm not sure if it checks Teuchos' settings.

[2019-02-25 22:53] csiefer2 commented on #4495
Could you open a separate bug for that?

[2019-02-25 22:53] ZUUL42 commented on #3178
Building from [branch ZUUL42/Werror_dfi](https://github.com/ZUUL42/Trilinos/tree/Werror_dfi) to trilinos/develop, here are the results for:
- [results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4623054) @trilinos/domi
- [results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4623057) @trilinos/fei
- [results](https://testing-vm.sandia.gov/cdash/viewBuildError.

[2019-02-25 22:54] csiefer2 commented on #4495
It did build correctly.

[2019-02-25 23:00] mhoemmen commented on #4495
Build error example:
[code]
That code doesn't look right.  I see it using TeamPolicy, but it's not actually parallel inside.  We don't have a batched QR yet, but maybe that's the next thing to implement.

[2019-02-25 23:02] csiefer2 commented on #4495
So, w.r.t. code bloat, we have one of two options:
1) Checkin #4496 and downgrade the Tpetra_INST_COMPLEX_DOUBLE && Teuchos_ENABLE_COMPLEX case to a warning.

2) Apply #4496 as an application-specific patch to Trilinos and not let it loose on the broader Trilinos.

[2019-02-25 23:43] mhoemmen commented on #4495
Third option would be: Find out whatever it is in Thyra and/or Stratimikos that wants to do ETI for complex numbers with Tpetra, and shut it off if Tpetra shuts off complex.

[2019-02-25 23:57] csiefer2 opened #4497 "Tpetra: Finite Element Assembly Using Magic Routine and Local Indices"
We really need a finite element assembly example which does assembly using

a) @mhoemmen 's "Magic Routine" to generate a column map and
b) local index insertion.

All FE assembly examples currently use global index insertion.

Assigning to the @trilinos/tpetra team lead for prioritization

[2019-02-26 00:23] ZUUL42 commented on #4476
Thanks

[2019-02-26 00:23] ZUUL42 commented on #4474
Thanks

[2019-02-26 00:23] ZUUL42 commented on #4477
Thanks

[2019-02-26 00:24] #4476 closed

[2019-02-26 00:24] #4474 closed

[2019-02-26 00:24] #4477 closed

[2019-02-26 03:48] tjfulle commented on #3676
Fixed n #3676

[2019-02-26 03:48] #3676 closed

[2019-02-26 05:46] srajama1 commented on #1826
@william76 This was kept open to make sure we don't forget installing METIS on test systems. Is it installed now ? I know SEMS team is under staffed, but I also worry if I close it will never get addressed. Now at least we came back to it after an year :(

[2019-02-26 07:29] jhux2 commented on #4439
Closing.  Please reopen if necessary.

[2019-02-26 07:29] jhux2 commented on #4439
Closing.  Please reopen if necessary.

[2019-02-26 07:29] #4439 closed

[2019-02-26 10:29] mayrmt commented on #4193
@lucbv I'm working on this right now. This should be one of the last bits to complete #4084.

[2019-02-26 10:34] #4417 closed

[2019-02-26 10:34] #4418 closed

[2019-02-26 12:21] bartlettroscoe commented on #4495
Yes, that could work and may not be that hard to do.

[2019-02-26 12:36] bartlettroscoe commented on #2689
There seems to be a problem with the CMake install target.  The problem is that if there is any build errors, the install will not take place.  This resulted in the ATDM Trilinos 'cee-rhel6' clang-5.0.1 build not installing (see #4486).

[2019-02-26 12:42] bartlettroscoe commented on #4486
As shown in the build `rilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt` today [here](https://testing.sandia.gov/cdash-dev-view/viewConfigure.php?buildid=4625014) which shows:

[code]

Panzer is not being enabled in the clang build anymore and the build passes 100%.  Given that:

* SPARC does not use Panzer
* EMPIRE does not use this 'cee-rhel6' clang-5.0.1 build
* Trilinos does

[2019-02-26 13:41] freaklovesmango commented on #4459
@mhoemmen It worked! Thank you!

[2019-02-26 13:41] #4459 closed

[2019-02-26 13:51] bartlettroscoe commented on #4486
@alanw0 said:

@alanw0, how did the STK test suite pass on any build with source files missing from the build?  Are these STK files that are not tested by any automated tests?

[2019-02-26 15:27] william76 commented on #1826
@srajama1 ok. I'll ask and find out...

[2019-02-26 15:46] alanw0 commented on #4486
@bartlettroscoe Good question, I'm puzzled by that. The missing file was in the stk-topology library. We have unit-tests for stk-topology, and also for stk-mesh which depends on stk-topology. This unresolved symbol error also showed up in a nalu-wind build, and in their case it was also the clang build that caught it while other builds were happy.

[2019-02-26 16:19] william76 commented on #1782
@srajama1 I checked in with @bmpersc and he said that SuiteSparse was set up and installed along with metis... I can see that they're on NFS using a `module avail` on a RHEL7 system as:
- `sems-SuiteSparse/5.3.0/base`
- `sems-metis/5.1.0/base`

Is that what was needed by this?  If that's sufficient to close this issue, would we also want to close out #1255 and #1826 too?

@bmpersc FYI

[2019-02-26 16:43] srajama1 commented on #1782
We can check this in a nightly test by enabling the optional dependency and see if everything works. Can you enabe TPLs this to a nightly in Trilinos testing ? @william76   I really appreciate your quick follow up on these issues. As you can see it has been sitting there for quite a while.

[2019-02-26 17:09] ZUUL42 commented on #3178
Here are warnings that turn into errors that need to be fixed before we can set -Werror for the following packages:
- @trilinos/ml => [Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4624516)
- @trilinos/muelu => [Results](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4624462)
- @trilinos/seacas => [Results](https://testing-vm.sandia.gov/cdash/viewBuildErro

[2019-02-26 17:59] bartlettroscoe commented on #4486
@alanw0 said:

That would seem to be impossible.  The tests must not touch the functions in those files or it would never link and pass the test.  I suspect that if we run coverage of the STK test suite we should find that none of the functions in these files are called.

[2019-02-26 18:04] rppawlo commented on #4486
Since the stk commit went through, can this now be reverted?

[2019-02-26 18:28] bartlettroscoe commented on #4486
@rppawlo asked:

We would need to test the clang-5.0.1 build manually to see if it is really fixed.  Not hard, just manual time.

I want to look to see if we can get the existing PR builds to catch this type of error going forward.  I am going to see if the linker options `-Wl,--no-undefined` can catch this for this case.

[2019-02-26 18:28] alanw0 commented on #4486
@bartlettroscoe It's hard to say what's enabled for cmake. In the sierra system we have lots of unit-tests with solid coverage data etc. We'll dig into what's actually enabled for cmake. It's becoming more important these days.

[2019-02-26 18:36] bartlettroscoe commented on #4486
@alanw0, would be great if Sierra could adopt a build and test system that would allow all of the tests to be run under Trilinos or under Sierra.  Maintaining two sets of build and test systems is not so great.

[2019-02-26 18:41] mhoemmen commented on #3676
Fixed by https://github.com/trilinos/Trilinos/pull/3677 -- thanks!

[2019-02-26 18:51] alanw0 commented on #4486
@bartlettroscoe Are you saying there's a build system that would support both cmake and bjam?

[2019-02-26 20:19] fryeguy52 opened #4501 "Panzer build and test failures in ATDM RDC builds on white"
CC: @trilinos/panzer, @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

In the build
* Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug
* Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-release-debug-pt

several panzer tests are failing and there are several build errors on both white and

[2019-02-26 21:11] fryeguy52 opened #4502 "Build and test failures in ATDM RDC builds on white and waterman"
**CC: Trilinos Product areas leads:** @jwillenbring, @rppawlo, @kddevin, @mperego, @srajama1

**Other CC:**  @bartlettroscoe @fryeguy52

## Next Action Status

Next: Waiting for PR #4761 to get tested, approved, and merged ...

## Description

As shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&fi

[2019-02-26 21:30] bartlettroscoe commented on #4486
FYI: I testing the commit ffd597ff9a8d4c2e45a5403a1a353e4d0942e516 from PR #4342 with the linker flags `-Wl,--no-undefined` with the Trilinos GCC 4.8.4 PR  build enabling Panzer and it did not show any undefined symbols warnings.  Very strange.

[2019-02-26 22:45] etphipp commented on #4502
It appears to me that none of this is related to Stokhos.  All of the build errors are of the form:
[code]
which looks to be some issue with Kokkos.  Furthermore, all of the test failures are of the form
[code]
I don't know if that is a filesystem issue, or the executables were never created.

[2019-02-26 22:56] bartlettroscoe commented on #4502
FYI: This is essentially the Trilinos PR CUDA build so this error would mean that we either can't turn on RDC for the CUDA PR build or we would need to exclude Stokhos from the CUDA PR build.

[2019-02-26 23:23] bartlettroscoe commented on #4486
With the merge of PR #4503 just now, Panzer should be getting built and tested in this clang-5.0.1 build posting to CDash.

Putting in review until we confirm Panzer is building and testing in this build on CDash.

[2019-02-27 00:02] rppawlo commented on #4502
This is the exact error all the panzer tests report when building with RDC too.

[2019-02-27 00:10] ambrad commented on #4486
Just a wild guess, but the missing CMakeLists.txt entry was for topology_data.cpp, which appears to define constexprs and nothing else. My experience with constexpr is that compilers have variable behavior on missing definitions. Some seem OK with just the decls (unlike with static const decls). Again, just a wild guess.

[2019-02-27 14:55] bartlettroscoe commented on #4486
FYI: Panzer is now building and testing as clean in this clang-5.0.1 build as shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4628934) today.

Closing as complete.

[2019-02-27 14:55] #4486 closed

[2019-02-27 16:35] etphipp commented on #4502
I haven't had a chance to run this build myself, but I suspect the issue is due to going over the 4GB file limit for linking.  Building shared libraries instead of static will help this substantially.  Breaking libraries apart might help.

[2019-02-27 17:14] bartlettroscoe commented on #4502
@etphipp, i will set up some shared cuda RDC builds as well.  SPARC does shared CUDA builds so we have to support shared CUDA builds anyway.

[2019-02-27 18:15] ZUUL42 opened #4506 "Domi: Remove Build Warnings"
@trilinos/domi

## Expectations

Domi builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Domi has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Domi. The CDash report can be found [here](https://testing

[2019-02-27 18:16] ZUUL42 opened #4507 "FEI: Remove Build Warnings"
@trilinos/fei

## Expectations

FEI builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently FEI has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for FEI. The CDash report can be found [here](https://testing-vm.

[2019-02-27 18:16] ZUUL42 opened #4508 "Ifpack: Remove Build Warnings"
@trilinos/ifpack

## Expectations

Ifpack builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Ifpack has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Ifpack. The CDash report can be found [here](https:/

[2019-02-27 18:16] ZUUL42 opened #4509 "NOX: Remove Build Warnings"
@trilinos/nox

## Expectations

NOX builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently NOX has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for NOX. The CDash report can be found [here](https://testing-vm.

[2019-02-27 18:16] ZUUL42 opened #4510 "Tempus: Remove Build Warnings"
@trilinos/tempus

## Expectations

Tempus builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Tempus has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Tempus. The CDash report can be found [here](https:/

[2019-02-27 18:16] ZUUL42 opened #4511 "Triutils: Remove Build Warnings"
@trilinos/triutils

## Expectations

Triutils builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Triutils has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Triutils. The CDash report can be found [here]

[2019-02-27 18:16] ZUUL42 opened #4512 "ML: Remove Build Warnings"
@trilinos/ml

## Expectations

ML builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently ML has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for ML. The CDash report can be found [here](https://testing-vm.sand

[2019-02-27 18:16] ZUUL42 opened #4513 "MueLu: Remove Build Warnings"
@trilinos/muelu

## Expectations

MueLu builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently MueLu has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for MueLu. The CDash report can be found [here](https://tes

[2019-02-27 18:16] ZUUL42 opened #4514 "SEACAS: Remove Build Warnings"
@trilinos/seacas

## Expectations

SEACAS builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently SEACAS has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for SEACAS. The CDash report can be found [here](https:/

[2019-02-27 18:16] ZUUL42 opened #4515 "Stokhos: Remove Build Warnings"
@trilinos/stokhos

## Expectations

Stokhos builds should not emit any warnings that will be promoted to errors once Werror is set in the GCC 7.2.0 automated build.
## Current Behavior

Currently Stokhos has a number of warnings that need to be handled before we can set Werror for all packages.
A recent test build was performed with -Werror set for Stokhos. The CDash report can be found [here](htt

[2019-02-27 18:58] mhoemmen commented on #4508
This is one of those "`assert` only does anything in a debug build" issues.

[2019-02-28 02:51] bartlettroscoe commented on #4502
Relates to #4501 too ...

On the branch `2598-tril-262-atdm-cuda-rdc-shared`:

[code]

on 'ride' I ran:

[code]

This postetd resultes to:

* https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4633362

This [showed](https://testing.sandia.gov/cdash-dev-view/viewBuildError.php?buildid=4633364) two build errors in creating shared libs, one in KokkosKernels and one in STK.

[2019-02-28 14:03] bartlettroscoe commented on #4502
On the branch `2598-tril-262-atdm-cuda-rdc-shared`:

[code]

on 'ride' I ran:

[code]

This postetd resultes to:

* https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4633667

This showed buld errors in the packages Kokkos, KokkosKernels, Sacado, ShyLU_Node, Intrepid, and Intrepid2.

[2019-02-28 15:09] davoodansari opened #4521 "No Incomplete Cholesky Factorization in Ifpack2"
Migrating from Epetra to Tpetra, unfortunately Ifpack2 does not seem to have an ICT preconditioner available. Symmetric operators occur in many problems and the availability of an ICT (just like legacy Ifpack) is probably more than a nice to have. Any comments about long term plans or advice on short term solution or alternatives is highly appreciated.

Thanks

@trilinos/<teamName>

## Expectation

[2019-02-28 15:11] mayrmt commented on #4521
@trilinos/ifpack2

[2019-02-28 16:23] ZUUL42 commented on #4508
Thanks

[2019-02-28 16:23] #4508 closed

[2019-02-28 16:27] mhoemmen commented on #4508
@ZUUL42 Generally I've been waiting to close issues until they merge into master (which usually autocloses the issue), but we haven't been consistent about that.  I would like us to do what Kokkos does, namely have an "in develop" tag that says "the issue was fixed in develop."

[2019-02-28 16:40] ZUUL42 commented on #4508
Ahh. OK. Since the larger Werror issue broke down into so many more package level issues, I thought it good to close them as each part has been completed to help track progress more clearly.
But I can follow that practice, leaving them open until merged into master, moving forward. I can also repoen this, if your prefer. I took the "In Develop" tag as short for "in development", not "in the develo

[2019-02-28 16:52] mhoemmen commented on #4508
@ZUUL42 I'm not sure how Trilinos views that tag -- Kokkos interprets it as "fix exists in the develop branch."  I would like Trilinos to have a tag that expresses that idea.  But no worries :-)

[2019-02-28 17:01] jwillenbring commented on #4269
Yesterday a tag was added for the Trilinos 12.14.1 release. The associated release branch was used for the xSDK 0.4.0 release, and that xSDK release will be switched over to this tagged version and the 12.14.1 release will be used by default for Spack builds once the [Spack PR](https://github.com/spack/spack/pull/10740) is applied. This version of Trilinos was tagged in early fall.

It was never o

[2019-02-28 17:11] freaklovesmango opened #4525 "Tpetra: Increasing number of threads leads to decrease of performance"
That post refers a little to that one: #3827

I wanted to change Epetra to Tpetra, expecting a shorter execution time by increasing the number of threads while using just one MPI process, thus using shared memory functions via Tpetra/Kokkos.

Unfortunately, the results get worse by increasing the number of threads... and again, I wonder why.
I am using Belos with Tpetra as the underlying library o

[2019-02-28 17:16] bartlettroscoe commented on #2598
FYI: Set up new CUDA RDC 'shared' lib builds after the merge of the PR #4523 and the new Jenkins builds:

* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-shared-release-debug/
* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-rdc-shared-release-debug-pt/
* https://jenkins-srn.sandia.gov/vi

[2019-02-28 17:27] bartlettroscoe opened #4526 "Allow enable of TpetraTSQR to support SPARC"
CC: @mhoemmen, @fryeguy52, @kddevin (Trilinos Data Services Product Lead), @trilinos/tpetra

The SPARC team has requested the enable of the TpetraTSQR subpackage to usage in SPARC.  Currently the ATDM Trilinos configuration explicitly disables TpetraTSQR by default (because it was not being usesd by SPARC or EMPIRE).

But note that TpetraTSQR is enabled by default in the Trilinos PR builds, for ex

[2019-02-28 18:51] bartlettroscoe commented on #4159
FYI: We have not asked but I don't think that they ATDM APPs are using a hybrid GMRES solver and we have not seen any problems in EMPIRE or SPARC.  Also, this test is failing in just this one build.  So I don't think this should be considered a "blocking" failure.  Therefore, I am marking this "Nonblocking".

[2019-02-28 23:20] bartlettroscoe commented on #4273
With the merge of PR #4524, this should not be complete.  Closing as complete.

[2019-02-28 23:20] #4273 closed

[2019-02-28 23:51] ndellingwood commented on #3647
PRs #4454 and #4527 should resolve the issue with KLU2, SuperLU and Umfpack. Will follow up regarding SuperLU_Dist.

[2019-02-28 23:59] ndellingwood commented on #3978
PR #4528 issued that should fix this.

[2019-03-01 06:29] mhoemmen commented on #4159
@hkthorn Is this the "apply the GMRES polynomial" solver that your intern wrote not long ago?  If so, the intern is here and maybe we can fix this.

[2019-03-01 06:30] mhoemmen commented on #4526
I sure would like this to be tested by default.

[2019-03-01 06:38] mhoemmen commented on #4525
It's ... complicated?  Whether or not threads pay off depends on a number of things.  If you're running on a conventional CPU, it's not likely that OpenMP would be faster than MPI.  The current point of OpenMP for us is to support architectures where it's not practical to run 1 MPI process per (say) hardware hyperthread, or where OpenMP has some potential to exploit fine-grained parallelism in a w

[2019-03-01 06:41] mhoemmen commented on #4521
We welcome a pull request that ports Ifpack's ICT to Ifpack2, as long as it comes with tests.

[2019-03-01 16:12] bartlettroscoe commented on #4526
@mhoemmen , as i noted above, TpetraTSQR is tested in PR builds.  It is just that we disabled every package and subpackage not being used by the ATMD Apps in the ATDM builds.  Building software you are not using increases overhead and risk.  If that does not make sense let's talk.

But since SPARC needs this we will enable it going forward.  As lomg as you can commit to address issues quickly, thi

[2019-03-01 17:02] jhux2 commented on #4521
@srajama1

[2019-03-01 17:04] mhoemmen commented on #4526
@bartlettroscoe That's fine -- thanks!  I have support for fixing TSQR issues.

[2019-03-01 18:25] ndellingwood commented on #3647
@vbrunini PRs #4454 and #4527 are now merged into the develop branch, please let us know if any issues persist.

[2019-03-01 20:02] PhilMiller commented on #3233
I'm running across this while looking for info on another bug, but figured it's worth a ping - should that test be re-enabled now? It's been . . . more than a week, so presumably that Kokkos snapshot has made its way through.

[2019-03-03 18:25] bartlettroscoe opened #4532 "Provide correct and accurate Trilinos version info during development to help address changes in backward compatibility"
CC: @trilinos/framework, @fryeguy52

## Description

The current setup of Trilinos is that it contains a static version-controlled `Version.cmake` file with static version information:

[code]

This info is used to configure the `Trilinos_version.h` file in the build directory that is installed with the contents:

[code]

The even/odd minor version number (13 currently) does tell the user if one i

[2019-03-03 18:38] bartlettroscoe commented on #4269
FYI: To address version info in between releases, see proposal in #4532.  This also includes a suggestion that will reduce the overhead of putting out future Trilinos releases by automating more the handling of version info.

[2019-03-03 18:48] mhoemmen commented on #4532
We're not far from using the Semantic Versioning Standard, and we're considering a change to Trilinos' policy anyway, so we might as well go all the way and adopt the Standard.

[2019-03-03 20:58] bartlettroscoe commented on #4532
@mhoemmen said:

Pretty much.   The way to designate a development version is to use a tag like `trilinos-X.Y.0-dev.Q`.  According to the SemVer standard, the versions sort as:

* `trilinos-X.Y.0-dev.Q` < `trilinos-X.Y.0` < `trilinos-X.Y.1` ...

so `trilinos-X.Y.0-dev.Q` is the 'Q'th development version prior to the next release `trilinos-X.Y.0`.

And through crafty usage of git tags and `git desc

[2019-03-03 21:55] bartlettroscoe commented on #4532
FYI: Figured out how to get the date/time integer directly with git:

[code]

That date/time string `2019-03-02 02:34:15 +0000` will be easy to parse in raw CMake to produce the integer `201903020234`.  So we don't need Python, just an `execute_process()` command setting the env var `TZ=GMT`.

I updated the "Proposed Solution" section for this.

[2019-03-03 22:14] bartlettroscoe commented on #4532
An idea of version handling with git consistent with SemVer is outlined [here](https://docs.google.com/document/d/1uVQYI2cmNx09fDkHDA136yqDTqayhxqfvjFiuUue7wo/edit#heading=h.xav3ed16muxt).  The careful use of `git describe --match="<tag-base-name>*"` can be used to create these SemVer versions automatically.  First, note the two SemVer items https://semver.org/#spec-item-9:

and https://semver.org

[2019-03-04 14:08] bartlettroscoe commented on #2598
FYI: As shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-03-01&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=63&value2=rdc) there are several CUDA RDC builds set up on several different machines.  There are static and shared CUDA RDC running on 'white', 'ride', and 'waterman'.  A

[2019-03-04 14:08] #2598 closed

[2019-03-04 17:04] fryeguy52 commented on #4501
Closing this issue and increasing the scope of #4502 to include these failures

See: #4502

[2019-03-04 17:04] #4501 closed

[2019-03-04 17:28] prwolfe opened #4537 "Amesos2 does not compile with UMFPACK, SuperLU, complex double, and eti=off"
Basically the compiler cannot chose from 2 convert functions, but does fine the ETI is on as the instantiation gets only one at a time.

@trilinos/amesos2

## Expectations
Amesos2 should build either with or without ETI on

## Current Behavior
A build matching https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=4650329 but with ETI=off will fail to compile Amesos2_Details_regis

[2019-03-04 17:33] fryeguy52 commented on #4502
@etphipp @rppawlo @bartlettroscoe
FYI I updated the description of this issue to include the failures in all the packages in these rdc builds and closed #4501

[2019-03-04 18:49] mhoemmen opened #4540 "Is it possible to enable Scalar=float in Tpetra but not downstream (e.g., in MueLu)?"
@trilinos/tpetra @trilinos/muelu

I'm asking on behalf of @vbrunini .

[2019-03-04 19:05] mhoemmen opened #4542 "Tpetra: Add computeRowOneNorms function"
@trilinos/tpetra

@vbrunini requests that we add `Tpetra::computeRowOneNorms`.  His app has the option to scale linear systems only on the left side, only by row norms.  The existing `Tpetra::computeRowAndColumnOneNorms` function already has an option not to compute column norms (set `assumeSymmetric=true`), but it still communicates the row norms to the column Map distribution for symmetric scali

[2019-03-04 20:04] bartlettroscoe commented on #4353
@mhoemmen said:

It seems not.  As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-opt&field2=testname&compare2=61&value2=Ifpack2_unit_tests_MPI_4&field3=site&compare3=61&value3=

[2019-03-04 20:42] lucbv commented on #4540
@mhoemmen, MueLu does not `float` for some reason?

[2019-03-04 20:44] jhux2 commented on #4540
@mhoemmen So `-DTpetra_INST_INT_FLOAT:BOOL=ON` but disabled in MueLu?

[2019-03-04 20:48] jhux2 commented on #4540
Scratch that.  `-DTpetra_INST_FLOAT:BOOL=ON`.

[2019-03-04 20:49] mhoemmen commented on #4540
@lucbv Victor's question, is whether it's possible to enable `Scalar=float` in Tpetra but not downstream.  He wants that whether or not MueLu works with `Scalar=float`.  It's just a question; the answer could be "no" ;-) .

[2019-03-04 20:54] jhux2 commented on #4540
I'm testing this right now:
[code]

[2019-03-04 21:06] mhoemmen commented on #4540
@jhux2 Best practice would be to use `Trilinos_ENABLE_FLOAT` in place of both `Tpetra_INST_FLOAT` and `Teuchos_ENABLE_FLOAT`.

[2019-03-04 21:30] jhux2 commented on #4540
@mhoemmen So the short answer seems to be "no", due to some MueLu test link failures.  I used this to configure:
[code]

How important is this to @vbrunini?

[2019-03-04 21:42] vbrunini commented on #4540
It would be nice to have but not essential. My motivation was that we have one library which uses Tpetra float objects, but not muelu or ifpack2, however we do use muelu and ifpack2 with double so I'd be able to save a bit of build time by skipping float for those. I figured I'd ask if it was already supported, but if it doesn't just work I'm betting that the small reduction in build time for this

[2019-03-04 21:50] lucbv commented on #4513
@ZUUL42 I am working on this and will have a PR for this today.
Any recommendation on how this can be tested locally?
I am just not sure how to get only MueLu to be compiled with `-Werror`.

[2019-03-04 22:18] ZUUL42 commented on #4513
@lucbv, I'm not sure about a local method. I've been using my branches with -Werror set for individual packages to build in Jenkins, MueLu is set on branch ZUUL42:Werror_MueLu. To test it, I can create a build from your branch to that one. Just let me know when your ready, the branch name, and I'll create the build and post a CDash link for it.

[2019-03-04 22:41] mhoemmen commented on #4540
@jhux2 Thanks for checking!

[2019-03-04 22:52] etphipp commented on #4502
So I tried the static RDC build shown above in the initial comment for this issue on ride, and didn't get any build or test failures.  Did something change?

[2019-03-04 22:55] lucbv commented on #4513
@ZUUL42 I have pushed PR #4543 with `AT: WIP` so that you can perform a test build on it.
Let me know how that works and if everything is fine feel free to approve and substitute `AT: AUTOMERGE` for `AT: WIP`

[2019-03-04 23:15] bartlettroscoe commented on #4502
@etphipp asked:

Was this for Stokhos on 'ride' using:

[code]

?

[2019-03-04 23:24] etphipp commented on #4502
Yes.  Only difference was I used make instead of ninja.  Here were my exact commands:
[code]

[2019-03-04 23:38] ZUUL42 commented on #4513
Test build created. [CDash results](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic143&field2=buildname&compare2=61&value2=PR-UNKNOWN-test-Trilinos_pullrequest_gcc_7.2.0-647&field3=buildstamp&compare3=61&value3=20190304-2311-Pull%20Request) as it builds.
I'll keep an eye on it and I'll

[2019-03-05 00:09] bartlettroscoe commented on #4502
@etphipp said:

Okay, I will try to reproduce the Stokhos build error using this command.

However, note that I was able to manually reproduce Sacado build errors for the `cuda-9.2-rdc-shared-release-debug` build on 'ride' in my account using:

[code]

which produced the first build error:

[code]

I also tried the more direct approach on 'ride' using:

[code]

and the first build error it produce

[2019-03-05 00:16] etphipp commented on #4502
OK.  I am trying a ninja build for stokhos, to see if that matters.  And I will try a shared-rdc build for Sacado.  Note that people have been building Sacado with RDC for a while now, so I am surprised there is an issue.

Also, @rppawlo told me that EMPIRE observes some huge speedup for PIC when using static builds instead of shared, so they will very likely want static.

[2019-03-05 00:21] etphipp commented on #4502
Two questions @bartlettroscoe :
* What does "pt" in the build name mean?  Should I be doing pt or non-pt?
* In the build names at the top of this issue, they start with "Trilinos-atdm-white-ride", but you don't seem to be including that in the name.  Does that matter?

[2019-03-05 00:26] mhoemmen opened #4544 "Belos: Register new Tpetra-specific (pipelined & CA) solvers with SolverFactory"
@trilinos/belos @iyamazaki @jhux2

## Expectations

Users should be able to request any available Belos solver at run time without changing their code.  These solvers include the new pipelined and communication-avoiding solvers implemented specifically for Tpetra.

## Current Behavior

Users must do `extern` declarations for the run-time registration functions for these solvers, and call these fun

[2019-03-05 00:30] mhoemmen opened #4545 "Belos: Split out run-time SolverFactory registration of Tpetra specializations of generic Belos solvers, into separate C++ files"
@trilinos/belos

## Expectations

`Belos::SolverFactory` needs to build as fast as possible.

## Current Behavior

Instantiation of run-time registration functions for Tpetra specializations of generic Belos solvers currently happen all in one file.  This increases build time and size.  Separate out those instantiations into separate C++ files, one file per Belos solver.

[2019-03-05 00:34] bartlettroscoe commented on #4502
@etphipp asked:

It stands for "Primary Tested".  This is a slight variation of that ATDM Trilinos build that allows the enable of all "Primary Tested" Trilinos packages.   That is what the current Trilinos CUDA PR build is based on (except they did not quite translate the configuration completely and they disable SEACAS and STK).  So we care about that configuration in case we want to enable RDC

[2019-03-05 01:10] mhoemmen commented on #4544
I have a fix in progress.  I was evaluating it with a fix for #4545, but that's not working out quite yet.  I'll separate out the fix for this issue and submit it as a separate PR.

[2019-03-05 01:23] etphipp commented on #4502
I can reproduce the Sacado link errors with the shared build:
[code]
However I am completely at a loss on how to fix it, since the symbol does appear to be defined in libsacado:
[code]
Looking at the source code in detail, both Sacado and Kokkos are using the same procedure to handle RDC when declaring a device global variable, and that process generates link errors for Kokkos as well.  Hence it m

[2019-03-05 01:40] vbrunini commented on #4502
We are building with RDC, yes. We are also not seeing any of these link errors with either Sacado or Kokkos on either x86 + Cuda builds or Power + Cuda builds. We have only done static library builds though, not shared as far as I know.

[2019-03-05 14:40] bartlettroscoe commented on #4502
@vbrunini said:

NOTE: Sacado and Kokkos build and test fine with static libs with CUDA RDC.  It is other packages that have problems with static libs.  All of this can be see on CDash (clock the link in the "Current Status on CDash" section above).

[2019-03-05 14:42] bartlettroscoe commented on #1263
FYI: PR #4546 should have this problem addressed now.

[2019-03-05 14:44] bartlettroscoe commented on #1418
FYI: This would help reduce build times some for ATDM and other Trilinos customers.

[2019-03-05 14:51] etphipp commented on #1263
PR #4546 should resolve this, so I am closing this issue.

[2019-03-05 14:51] #1263 closed

[2019-03-05 14:56] etphipp commented on #2891
PR #4546 fixed the dependencies for Sacado and I verified it eliminates the duplication of libteuchoscore.a on the link line, so I am closing this issue.

[2019-03-05 14:56] #2891 closed

[2019-03-05 14:56] etphipp commented on #4457
PR #4546 fixed the dependencies for Sacado and I verified it eliminates the duplication of libteuchoscore.a on the link line, so I am closing this issue.

[2019-03-05 14:56] #4457 closed

[2019-03-05 15:00] etphipp commented on #4502
I did a static CUDA RDC build for Stokhos with ninja and still can't reproduce the build failures.  However I suspect the issue is the size of the libstokhos_muelu.a library, which is over 8 GB.  I am going to break this library apart and also eliminate some of the default explicit instantiations in this library to make the libraries smaller (and also build faster).

[2019-03-05 15:06] bartlettroscoe commented on #4526
FYI: PR #4548 will allow the enable of `TpetraTSQR` once it is merged.

[2019-03-05 16:47] ZUUL42 commented on #4513
@lucbv, Looks like there was only one last issue.

[2019-03-05 16:56] lucbv commented on #4513
@ZUUL42 I was able to reproduce your build after some cmake experimentation and using the proper modules from cmake/std/sems. I think the last commit should fix the remaining error.

[2019-03-05 16:57] bartlettroscoe commented on #4526
FYI: With the merge of PR #4548, `TpetraTSQR` is now enabled and hopefully will get installed along with the rest of Trilinos for SPARc to use starting tomorrow 3/6/2019.

I will put this Issue in review and watch for the impact of enabling `TpetraTSQR` and get feedback from the SPARC developers trying to use it.

[2019-03-05 17:33] ZUUL42 commented on #4514
@gsjaardema, there appears to be [some remaining exception type warnings](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4655769) that prevent Werror from being set in PR #4539.

[2019-03-05 18:11] mhoemmen commented on #4545
This isn't necessarily always a good idea.  I did some experiments on my local workstation `artemis`, debug build, with ETI on, Serial and OpenMP enabled, and complex double enabled.  For a clean rebuild of `belos/tpetra`, `time make -j16` gave the following results before the above commit:

  - real: `2m22.817s`
  - user: `7m14.224s`
  - sys: `0m41.671s`

After the commit:

  - real: `2m36.492s`

[2019-03-05 18:37] rppawlo commented on #4502
I am pretty sure it was working with RDC+shared, but its been a probably 6 months since I last checked. The RDC requirement in phalanx was optional. For that work, I was only enabling kokkos, sacado, teuchos and phalanx. There were issues in enabling more packages that I think had to do with library sizes as @etphipp mentioned. Disabling some packages allowed the compile to get further.

[2019-03-05 19:12] fryeguy52 opened #4551 "New STKUnit test failing in ATDM CUDA PT build on white"
CC: @trilinos/stk, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm

[2019-03-05 20:39] ZUUL42 commented on #4513
The build looks good now, but it appears some of the tests are failing.
https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4659819

[2019-03-05 22:14] bartlettroscoe commented on #2221
FYI: I just hit this but note that when using the CMake Ninja generator as if CMake 3.14 it will automatically switch to using `*.rsp` response files.  That is good for a 'static' library build where `ar` is used to create the `kokkoskenerls` library.  But that is bad when using 'shared' libs as the `nvcc` command itself is used to create the `kokkoskernels` library.  It turns out that you need to

[2019-03-06 01:03] Tdub1229 opened #4553 "SEACAS Building issues, holding up Trilinos"
[ 22%] Building C object packages/seacas/scripts/CMakeFiles/getopt.seacas.dir/getopt.seacas.c.o
Undefined symbols for architecture x86_64:
  "_H5get_libversion", referenced from:
      _ex_print_config in libexodus.a(ex_utils.c.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [packages/seacas/application

[2019-03-06 02:54] mhoemmen commented on #4553
@trilinos/seacas @gsjaardema

What version of Trilinos are you using?

[2019-03-06 08:25] mayrmt commented on #4193
@lucbv I have an implementation that works on the fine level. Should be same on any coarse level, though I'm still testing.

[2019-03-06 14:42] bartlettroscoe commented on #4159
CC: @srajama1 (Trilinos Linear Solvers Product Area Lead)

Hello @trilinos/belos developers,

As shown in  [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-chama-intel-opt-openmp&field2=testname&compare2=61

[2019-03-06 15:13] lucbv commented on #4513
@ZUUL42 yep, I made some changes in the BlackBox that would trigger this, I will now work on fixing this test. This should not be a big complication.
I will push another commit today after running all the tests. Let us hope we can push this today!

[2019-03-06 16:40] ndellingwood commented on #3978
PR #4528 with fix merged into develop branch, closing the issue.

[2019-03-06 16:40] #3978 closed

[2019-03-06 16:42] lucbv commented on #4513
@ZUUL42, new commit, if you want to test it that would be great, I have run the tests and they are passing in MueLu, there are no new warnings so it seems fine.

[2019-03-06 17:10] etphipp commented on #4515
PR #4552 should have fixed the stokhos-related warnings/errors.  Some of them were coming from @trilinos/muelu.  Is there an updated cdash build where I can see if they are fixed?

[2019-03-06 17:13] mhoemmen commented on #4159
@bartlettroscoe I say disable it for now, but @hkthorn has the last word.

[2019-03-06 17:17] hkthorn commented on #4159
@bartlettroscoe Disable the test on that one platform.   I am fine with that.

[2019-03-06 17:37] ZUUL42 commented on #4515
I kicked off a build for 7.2.0 with Werror set for Stokhos.
The CDash results are coming together [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic143&field2=buildname&compare2=61&value2=PR-UNKNOWN-test-Trilinos_pullrequest_gcc_7.2.0-673&field3=buildstamp&compare3=61&value3=201903

[2019-03-06 17:46] bartlettroscoe commented on #3543
CC: @trilinos/framework and @rppawlo

Eleven of these 13 tests are disabled in the current Trilinos PR build using:

[code]

Note sure  about the other two tests.  This might be due to differences in the Trilinos PR configuration and this more complete CUDA configuration running on 'ride'.  (I will try to fix the Trilinos PR configuration later this week.)

Otherwise, these are still failing as sh

[2019-03-06 17:58] ZUUL42 commented on #4513
One build kicked off just to be sure.
CDash results are coming together [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic143&field2=buildname&compare2=61&value2=PR-UNKNOWN-test-Trilinos_pullrequest_gcc_7.2.0-674&field3=buildstamp&compare3=61&value3=20190306-1752-Pull%20Request).

[2019-03-06 17:59] dridzal commented on #3543
All tests using elementwise operations (in this case TpetraMultiVector) can be disabled for CUDA builds.  I'm actually surprised that some of them are passing.  @gregvw and I are working on a ROL refactor to address this once and for all.  @gregvw has a new static polymorphism vector prototype that works, we now need to propagate the changes to all of ROL and the dependent codes.  If all goes well

[2019-03-06 19:16] bartlettroscoe commented on #3543
@dridzal said:

That is really a decision that ROL and the ROL customers need to make.  Is ROL not supported for CUDA yet?  What are customers like Sierra and SPARC doing on CUDA builds?   Seems like it might be good to run some ROL tests just to make sure the ROL builds work for CUDA, even if it does not run fast, no?  Why not just disable all of the more expensive tests?  Not hard to see which o

[2019-03-06 19:25] chochmuth opened #4560 "ShyLU/FROSch: Running tests with 1 mpi rank results in runtime error"
@trilinos/shylu
After fix #4505 it should be possible to run the Thyra_Xpetra_Laplace tests in serial.
However, when running a serial test which solves the harmonic extension with Klu2 I get the following runtime error from Amesos2: `Amesos2 Runtime Error: sp_colind returned null`.
For the speacial case of 1 mpi rank we need to check wether to compute extension or not.

[2019-03-06 19:43] dridzal commented on #3543
@bartlettroscoe
It's not that ROL won't work for CUDA.  It has already been used in this capacity.  There are some more sophisticated parts of ROL, probably not used by the projects you mentioned, that are currently problematic.  The goal is to have *all* of ROL working in this setting, so that in the future these projects/codes can use more advanced features.

[2019-03-06 20:27] bartlettroscoe commented on #3543
@dridzal said

Okay, so ROL should still be tested with CUDA and all of the tests that pass and are not otherwise problematic should be kept running in PR testing, right?

[2019-03-06 20:28] dridzal commented on #3543
Yes, correct.

[2019-03-06 20:45] gsjaardema commented on #4553
I'm not sure what would cause this.  The dependencies for `exo_format` correctly show that it depends on exodus and exodus depends on hdf5 which should provide the symbol.

Can you do a "cd packages/seacas/applications/exo_format; make VERBOSE=1" and then we can see the libraries passed to the linker and see if it is including `-lhdf5`

[2019-03-06 20:47] ZUUL42 commented on #4515
@etphipp, looks like there's an unused-variable left.

[2019-03-06 20:49] lucbv commented on #4515
@etphipp I think that there is no point in you starting this until the MueLu PR is merged in. Until that is done you will have warning coming out of the MueLu code...

@ZUUL42 you can see that the build is picking up the warning I am fixing right now. I am still waiting for [this build](https://testing.sandia.gov/cdash/buildSummary.php?buildid=4667508) to coming back without warnings and with all

[2019-03-06 21:04] etphipp commented on #4515
Right, I new the MueLu error would still be there.  But I wanted to make sure the other Stokhos errors were fixed, which it looks like they are.  So once they are fixed in MueLu, Stokhos should be fixed too.

[2019-03-06 21:10] bartlettroscoe commented on #4502
@rppawlo @kddevin @mperego @srajama1,

All of these RDC builds are up and submitting to CDash (see links in "Current Status on CDash") and there is reproducability instructions for each set of builds.  Therefore, the ball is in your court now to decide on the priority to clean these up.   The build errors need to be first obviously.  Please consult with the ATDM PIs as the the priority and urgency

[2019-03-06 23:09] Tdub1229 commented on #4553
Here is what is included when I did that. I don’t see anything for lhdf5.

Processing enabled TPL: MPI (enabled explicitly, disable with -DTPL_ENABLE_MPI=OFF)
Processing enabled TPL: BLAS (enabled by TeuchosNumerics, disable with -DTPL_ENABLE_BLAS=OFF)
-- BLAS_LIBRARY_NAMES='blas blas_win32'
-- TPL_BLAS_LIBRARIES='/usr/lib/libblas.dylib'
Processing enabled TPL: LAPACK (enabled by TeuchosNumerics,

[2019-03-06 23:34] srajama1 commented on #4521
@davoodansari We will try and get this ported to Ifpack2. For some problems you might be able to get away with FAST_IC and/or FAST_ILDL. You would need to enable ShyLU for those. Note that they are not an exact equivalent of the ICT as they are basically IC(k) style approaches. In addition, they are also iterative variants of IC(k).

[2019-03-07 00:55] ndellingwood commented on #4458
PR #4562 issued with fix, thanks @srajama1 for the initial footwork tracking down issue and suggesting fix.

[2019-03-07 06:13] ndellingwood opened #4563 "Amesos2: Umfpack + Superlu compile failure when complex_double enabled"
Reported by Sam Browne via email.

When compiling Trilinos with Amesos2 enabled and Umfpack and Superlu TPLs a compile error results. This is due to ambiguity in matching the templated class `ValueTypeConversionTraits` resulting in candidate specializations in both the Umfpack and Superlu TypeMaps.

Error:

[code]

Fix is to add full specializations to the SuperLU TypeMap to prevent the ambiguity.

[2019-03-07 06:31] ndellingwood commented on #4563
PR #4564 issued with a fix.

[2019-03-07 06:38] ndellingwood commented on #4537
PR #4564 issued with a fix; issue #4563 turns out to be a duplicate of this issue.

[2019-03-07 06:38] ndellingwood commented on #4563
This is a duplicate of #4537

[2019-03-07 12:36] mayrmt commented on #4084
@lucbv Right now, I'm only missing the coarse level solver. In the old Epetra implementation, I've been using Amesos directly. How can I handle such a situation in Xpetra? I could either call Amesos or Amesos2 depending on `Xpetra::UnderlyingLib`, though I'm not sure whether that's a great idea. Any recommendations?

[2019-03-07 14:57] mayrmt commented on #4461
@jwillenbring Here's an example: #4566 Tests passed and reviewer has approved it, though the inspection did not happen automatically.

[2019-03-07 15:06] jwillenbring commented on #4461
@mayrmt

The auto tester probably has not looked at this PR yet since the approval. That flag is set by the autotester, it cannot be automatically set by inspection.

[2019-03-07 15:49] #4544 closed

[2019-03-07 16:28] lucbv commented on #4513
@ZUUL42 the PR has been merged so I think that we can close this issue, but feel free to reopen it if we find more warnings being introduced.

[2019-03-07 16:28] #4513 closed

[2019-03-07 16:33] mhoemmen commented on #4553
@Tdub1229 Look at the part of the CMake output that looks like this:
[code]

In the "Final set of non-enabled TPLs" list, do you see "HDF5"?

[2019-03-07 16:35] lucbv commented on #4084
@mayrmt if you look in `packages/muelu/src/Smoothers/MueLu_DirectSolver_{decl,def}.hpp` you will see that the way we handle this is a manual selection of Amesos/Amesos2. I am suspecting that there is not a much better approach at this point.

You could create a smoother or direct solver the way we do it in the unit-tests and hopefully this will take care of things for you under the hood...

[2019-03-07 17:19] bartlettroscoe commented on #4038
Why are we not seeing this in the ATDM Trilinos builds?   Are we missing an intel debug build?

[2019-03-07 17:31] #4563 closed

[2019-03-07 17:32] ndellingwood commented on #4537
@prwolfe PR #4564 with a fix for this is merged into Trilinos' develop branch. Closing the issue, please reopen if any problems persist.

[2019-03-07 17:32] #4537 closed

[2019-03-07 17:33] bartlettroscoe opened #4571 "Long file names in KokkosKernels have broken git clone of Trilinos on Windows"
CC: @trilinos/framework, @trilinos/kokkos-kernels

## Description

It appears that the Trilinos git repo has gotten into a state where it can't even be cloned on Windows systems with git.

The CASL PHI INF lead @lefebvrera reported the following error when trying to clone the current Trilinos git repo just a short time ago:

[code]

[2019-03-07 17:33] gsjaardema commented on #4553
The output you showed is not from the make.  It looks like the config.  Once the config finishes, then do the steps I outlined (the make VERBOSE....) which should show the actual build instead of the config.

[2019-03-07 17:57] prwolfe commented on #4537
Perfect - Thanks!

[2019-03-07 18:08] ZUUL42 commented on #4571
I ran into that last week as well on my new laptop.
I'm assuming those are generated, but that's an absurd filename at 147 characters. The path to it only leaves 28 characters to be used for the path to the repo. Anything inside your Windows user Documents directory is 27 characters to start with. "C:\Users\usernam\Documents\"

I worked around it by putting the repo as close to C: as I could. "C:\

[2019-03-07 19:27] bartlettroscoe commented on #4571
CC: @mbairdphys

[2019-03-07 19:29] ndellingwood commented on #4458
@crdohrm PR #4562 was merged into Trilinos' develop branch with a fix. Please reopen if you encounter more issues.

[2019-03-07 19:29] #4458 closed

[2019-03-07 19:32] bartlettroscoe commented on #4571
If these are generated file names, one option is to use a hash algorithm to compress them to make them shorter.  We recently had to do this with some filenames for the Python tool we are working on in #2933.

@srajama1, can the KokkosKernels developers consider using some hash algorithm to some other compression method to shorten these file names?  My guess is that this is one reason we are seeing

[2019-03-07 19:37] Tdub1229 commented on #4553
Mark,

Final set of enabled TPLs:  MPI BLAS LAPACK Boost Netcdf BoostLib DLlib 7

Final set of non-enabled TPLs:  MKL yaml-cpp Peano CUDA CUSPARSE Thrust Cusp TBB Pthread HWLOC QTHREAD BinUtils ARPREC QD Scotch OVIS gpcd METIS MTMETIS ParMETIS PuLP TopoManager LibTopoMap PaToH CppUnit ADOLC ADIC TVMET MF ExodusII Nemesis XDMF Zlib HDF5 CGNS Pnetcdf y12m SuperLUDist SuperLUMT SuperLU Cholmod UMFPAC

[2019-03-07 19:37] bartlettroscoe commented on #4571
FYI: I created the issue:

* https://github.com/kokkos/kokkos-kernels/issues/395

to get this on the KokkosKernels developers radar.

[2019-03-07 19:41] prwolfe commented on #4461
Jim,

I was curious so I traced this one.

PR 4566 - autotester #1
job #24552 ran the testing and completed at 2019-03-07 12:29:01.908870 utc
job #24553 bypassed as no review were done at 2019-03-07 12:30:39.211372 utc
job #24554 bypassed as no review were done at 2019-03-07 12:39:06.603034 utc
job #24555 bypassed as no review were done at 2019-03-07 13:09:14.324933 utc
job #24556 bypassed as no r

[2019-03-07 19:42] Tdub1229 commented on #4553
Greg,

I got this weird error, about mpi.h missing…

[  4%] Building CXX object packages/pamgen/src/CMakeFiles/pamgen_extras.dir/__/extra_functions/pamgen_extras.cpp.o
cd /Users/Tad/trilinos/build-dir/packages/pamgen/src && /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++   -I/Users/Tad/trilinos/build-dir -I/Users/Tad/trilinos/build-dir/packages/pamgen/src

[2019-03-07 20:09] davoodansari commented on #4521
Thank you @srajama1 That would be great! Is there a tentative timeline based on which we might be able to plan things out?

[2019-03-07 20:12] prwolfe opened #4573 "Re-enable the ROL_NonlinearProblemTest_MPI_4 test for cuda testing"
This was disabled in #4572 to keep PRs moving. There are a large number of ROL tests disabled for CUDA as well indicating some issue with code, threading, etc.

@trilinos/rol

## Expectations
Discover the underlying problem and re-enable this test when possible to support downstream users.

## Current Behavior
This test runs in about 10 seconds on CPU, but varies from 400-600 second on white and r

[2019-03-07 20:18] bartlettroscoe commented on #4526
A shown from [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=65&value2=TpetraTSQR) 230 tests starting with the name "TpetraTSQR_" have showed up so far today in the ATDM Trilin

[2019-03-07 20:18] #4526 closed

[2019-03-07 20:59] jwillenbring commented on #4461
@prwolfe Thank you for looking into this.

[2019-03-07 21:16] mhoemmen commented on #4553
Trilinos disagrees ;-) Did you set any CMake options to enable HDF5?

[2019-03-07 21:19] Tdub1229 commented on #4553
No, I didn’t… Do I need to put -DPTL_ENABLE_HDF5=<path HDF5>?

[2019-03-07 21:30] gsjaardema commented on #4553
Even though MPI is enabled, it looks like the compiler it is using is `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++` which is not a mpi-aware compiler.  Should be something like `mpicxx`

For HDF5, you probably need something like:
[code]
Where `${TPL}` is the path to a directory such that `${TPL}/include` has the hdf5 include files and `${TPL}/lib` ha

[2019-03-07 21:36] gsjaardema commented on #4553
The netcdf that it finds is the default netcdf on your system `/usr/local/lib/libnetcdf.dylib`.  This dynamic library should automatically pull in the libraries that it depends on which should/might include `libhdf5_hl.dylib` and `libhdf5.dylib`.  The `H5get_libversion` is only called if the netcdf library depends on HDF5 and this is determined via the symbol `NC_HAS_HDF5` which is in the include

[2019-03-07 21:39] gsjaardema commented on #4553
You might try `grep -i hdf5 CMakeCache.txt` and see what shows up.  You should get about 40-50 lines of output...

[2019-03-07 21:56] lucbv opened #4576 "Xpetra: add map constructor with Kokkos::View"
@trilinos/xpetra

## Expectations
We should be able to use a Map constructor that takes in a `Kokkos::View` to allow greater scalability in downstream packages.

## Current Behavior
No such constructor exists which means that for CUDA builds the map needs to be constructed on the host using a `Teuchos::Array<GO>` typically leading to bad parallel performance.

## Motivation and Context
This is nee

[2019-03-07 22:13] cgcgcg commented on #4461
@prwolfe This PR #4467 has been hanging for 6 hours now..

[2019-03-07 23:39] ndellingwood commented on #3566
PR #4567 is merged into Trilinos' develop branch and should address this problem.

[2019-03-07 23:42] srajama1 commented on #4521
Honestly, it is hard to give a time line for these as internally current funded projects don't need it. In addition to your request, I see one use case in a funded project where this might be needed. However, they are not actively asking for it yet. This is a need, but prioritizing is dependent on lot of other factors.  I hope you understand.

[2019-03-08 00:50] lucbv opened #4581 "MueLu: create GeometricInterpolationPFactory_kokkos"
@trilinos/muelu

## Expectations
The aim is to create refactored factory and to have it perform well on manycore architecture and on GPUs.

## Current Behavior
Currently the GeometricInterpolation is performed serially in `MueLu`, although the use of `Tpetra` makes it already reasonably performant it can be further optimized.

## Motivation and Context
This work is part of a general effort to get

[2019-03-08 02:25] jhux2 commented on #4521
@davoodansari Might you have a patch that you can submit?  This would help speed up the process.

[2019-03-08 02:31] davoodansari commented on #4521
@jhux2 I wish we had one. We are working with very stringent resources and for now. The best short term solution that came to my mind was to use the old Ifpack until things change. On that front I actually submitted an email to the help thread to see if any one  has experience or examples they could share showing conversions from between Ifpack and Ifpack2 (and of course Tpetra and Eptera).

[2019-03-08 02:32] davoodansari commented on #4521
@srajama1 I fully understand. I am grateful that you guys are at least planing to work on it.

[2019-03-08 05:52] davydden commented on #3566
Thanks, I am closing this for now and will re-open if the issue persists.

[2019-03-08 05:52] #3566 closed

[2019-03-08 07:05] ndellingwood commented on #4364
@LennartSchu I'm not sure how to triage your specific scotch issues, but I built ShyLU_NodeBasker on my laptop with Ubuntu 16.04 and am providing some instructions for how I built the Scotch tpl from source, then configured and built Trilinos. Hopefully this helps to find a "common denominator" between your setup and mine to help you get past the build issues.

Here is my computing setup for refer

[2019-03-08 07:31] kliegeois opened #4584 "Typo error in commit #4388"
There is a typo error in commit #4388 that prevents from compiling packages/ifpack2/src/Ifpack2_BlockTriDiContainer_impl.hpp if __KOKKOSBATCHED_INTEL_MKL_COMPACT_BATCHED__ is defined.

Lines 2035-2039:
[code]
should be replaced by
[code]

@trilinos/ifpack2 @kyungjoo-kim

[2019-03-08 08:03] ndellingwood commented on #4277
@jprattgsu I'm not sure if this will help, but a couple comments regarding changes of the configuration script to try out:

1. The BLAS_LIBRARIES string above looks like it's expecting lapack libraries, maybe copy/paste error?
`-D TPL_BLAS_LIBRARIES:STRING="-L/opt/lapack-3.5.0/ -llapack -lrefblas ...`

2. I'm not positive of CMake's requirements for path strings, but it may be worth removing any t

[2019-03-08 08:29] ndellingwood commented on #3566
@davydden should I also issue PR to the 12.14 branch with these changes? I saw that mentioned earlier in comments as the branch being used.

[2019-03-08 08:33] davydden commented on #3566
that would be good, thanks 👍

[2019-03-08 08:33] ndellingwood commented on #3570
I reproduced similar errors with current Trilinos develop branch and looking into fix for this, may need consult from @mhoemmen

[2019-03-08 08:54] ndellingwood commented on #3566
@davydden I put in a matching PR #4585 to the 12.14 release branch, it needs to wait on the auto-tester to complete, I pinged you on that issue so I think it will let you know once it is merged into that branch.

[2019-03-08 14:28] tjhei commented on #3574
I am getting the same error with the newly tagged https://github.com/trilinos/Trilinos/releases/tag/trilinos-release-12-14-1
I assume this means the fix did not get merged?

[2019-03-08 14:42] bartlettroscoe commented on #2464
FYI: I am working on fixing the problems in the Trilinos CUDA PR build.  A few things I am seeing right away:

* The KOKKOS_ARCH was wrong.  It was setting 'Power9' when the correct arch is 'Power8,Kepler37'. (The KOKKOS_ARCH can be seen on CDash in [configure output](https://testing.sandia.gov/cdash-dev-view/viewConfigure.php?buildid=4680908).)  This likely explained the set of the Tpetra tests t

[2019-03-08 17:07] kyungjoo-kim commented on #4584
@kliegeois Sorry. I will submit a PR soon.

[2019-03-08 17:10] prwolfe commented on #4461
This one is more interesting.

A single instance of the autotester ram from about 8:30am to 4:37pm yesterday (your auto merge flag and review went in about 9:13). It did it's check for merging, then did builds for 2 different PR's in serial. When it closed up the next job was waiting and did the merge for your PR at 4:38.

Jim - this speaks to the business case for the redesign work we have been d

[2019-03-08 17:10] kliegeois commented on #4584
@kyungjoo-kim  No problem, thanks!

[2019-03-08 17:47] mayrmt opened #4588 "Xpetra: add tests for doImport()/doExport()"
@trilinos/xpetra
@lucbv

## Expectations
Add tests to cover `doImport()` and `doExport()` routines of `Xpetra::Matrix` and `Xpetra::MultiVector` (and maybe `Xpetra::Vector`).

## Current Behavior
There are some tests in other packages, that use `Xpetra::MultiVector::doImport()`, though there are no specialised tests for these methods. Furthermore, I haven't found any test for import/export on matr

[2019-03-08 19:25] dridzal commented on #4573
@etphipp
The problematic test uses Sacado to compute all derivative information.  On a CPU we are seeing test times of under 10 seconds.  On white and ride, we are looking at 10 minutes.  I think that some of this is due to bad threading.  However, I'm also wondering if the use of Sacado (possibly incorrect or GPU-incompatible) may be to blame.  Are there any pitfalls in using Sacado in this conte

[2019-03-08 19:38] etphipp commented on #4573
Are you using DFad?  If you build Sacado with CUDA enabled, all dynamic memory allocations will be on the GPU and accessed on the CPU via UVM.  This is because if you enable CUDA, Sacado assumes you are going to run Sacado through CUDA parallel kernels, and hence allocations should be on the GPU.  If you change to SFad or SLFad, you won't have this issue.

[2019-03-08 19:42] dridzal commented on #4573
@gregvw can comment on this.  My guess is that there is no need for DFad, as problem sizes are known ahead of time.  @etphipp --just to clarify-- the DFad route would be much slower?

[2019-03-08 19:45] etphipp commented on #4573
Yes.  On the GPU, dramatically slower.

[2019-03-08 19:59] dridzal commented on #4573
@gregvw could you please check if (1) DFad is used and (2) if so, if it is needed.  This particular test has been a headache for many developers, and if the solution is as simple as switching to SFad, we should do it.  Having said that, I don't know the ROL/Sacado interface well enough to say that the switch is actually simple (it depends on how general the interface is supposed to be).
(Including

[2019-03-08 21:39] mhoemmen commented on #3570
@ndellingwood working on it, got to review some Ifpack2 code first.

[2019-03-08 21:41] mhoemmen commented on #4521
@davoodansari wrote:

Check out the Tpetra tutorial here: https://github.com/trilinos/Trilinos/tree/master/packages/tpetra/core/example (look for directories starting with "Lesson0").

[2019-03-08 23:41] mhoemmen commented on #4277
For BLAS and LAPACK settings, see the following document, linked in the Trilinos README when you view github.com/trilinos/Trilinos:

https://trilinos.org/docs/files/TrilinosBuildReference.html

[code]
The proper way to do this is to set `BLAS_LIBRARY_DIRS` and `BLAS_LIBRARY_NAMES`.  Ditto for LAPACK.

[2019-03-08 23:46] mhoemmen commented on #4277
The point is that you should never set `TPL_BLAS_LIBRARIES`.  Do the following things, in order:

1. If you _only_ set `TPL_ENABLE_BLAS:BOOL=ON`, Trilinos will search system directories for the BLAS.
2. If you set that _and also_ set `BLAS_LIBRARY_DIRS`, Trilinos will search those directories for the BLAS, using standard library names (e.g., `-lblas`).
3. If you set (1) and (2), and also set `BLAS

[2019-03-09 11:06] #4542 closed

[2019-03-09 15:27] bartlettroscoe commented on #2464
I just posed PR #4592 which fixes the CUDA PR build.  It enables all of SEACAS and STK (and all their tests) and it enables all 160 Panzer BASIC tests.  And they  all pass (except for one recent known STK test failure with CUDA described in #4551).  The process I used to fix the build was pretty simple and is described in detail below (so that others can follow a similar process in the future).  W

[2019-03-09 16:45] alanw0 commented on #4551
We believe we have a fix for the failing stk unit test, we will try to get another stk update into trilinos in the next couple days.

[2019-03-09 16:48] alanw0 commented on #2464
As I said on the other issue, we will try to get a stk update in, to fix the failing test, asap.

[2019-03-09 20:03] bartlettroscoe commented on #2464
@trilinos/framework,

With more code being enabled in the CUDA PR build due to the changes in PR #4592 the build times have goon up a lot as shown in the [PR build #4592 on CDash](https://testing-vm.sandia.gov/cdash-dev-view/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildname&compare2=65&value2=PR-4592&field3=

[2019-03-09 21:05] bartlettroscoe commented on #2464
CC: @dridzal, @rppawlo

@trilinos/framework,

The updated CUDA PR build in PR #4592 failed with [6 failing tests](https://testing-vm.sandia.gov/cdash-dev-view/viewTest.php?onlyfailed&buildid=4688830), 1 timing-out ROL test, 3 timing out Panzer tests and 2 failing Panzer tests that show CUDA allocation "out of memory" failures.  This is likely due to using too high of a parallel level with `ctest -

[2019-03-09 21:50] bartlettroscoe commented on #4042
Actually, these are NIGHTLY tests and are not run in the Trilinos CUDA PR build.  Therefore, I don't know if there is any driver to fix these in this build.  We can leave them failing.  It does not mess up our ability to see new failures but if there is no plan to fix these then we might as well disable them in this build.

[2019-03-10 01:25] wfspotz opened #4593 "PyTrilinos: Implement new infrastructure for nested sub-packages"
@trilinos/pytrilinos

## Expectations
All packages that have nested sub-packages should use the same infrastructure, and we need to avoid swig-generated base classes that include the `__init__` "module", because this is not valid python syntax.  Also, there are import issues that are different for Python 2 and Python 3, and the resulting solution should work for both.

## Current Behavior
Import i

[2019-03-10 06:10] mhoemmen commented on #4542
FYI @vbrunini @micahahoward this was merged into master.

[2019-03-11 01:05] bartlettroscoe commented on #3914
With the merge of PR #4579 on 3/7/2019 which switches to use Intel MKL 18.0.5 (upgraded from 18.0.2), these ROL tests have been passing for the last three days as shown in the table below.

Closing this as complete.

<h3><font color="green">Tests with issue trackers Passed: twip=8</font> (on 2019-13-10)</h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Na

[2019-03-11 01:05] #3914 closed

[2019-03-11 01:13] bartlettroscoe commented on #3499
With the merge of PR #4579 on 3/7/2019 which switched to use Intel MKL 18.0.5 (upgraded from 18.0.2), the test `Anasazi_Epetra_BKS_norestart_test_MPI_4` started passing in the build `Trilinos-atdm-cee-rhel6_intel-18.0.2_mpich2-3.2_openmp_static_opt` on 3/8/2019 as shown in the below table.  However, this test still fails in the build `Trilinos-atdm-mutrino-intel-opt-openmp-HSW`.  I tried doing the