[2017-08-28 16:20] #1616 closed

[2017-08-28 17:03] bartlettroscoe commented on #1304
Getting back from a 2-week vacation looking at the CI build while I was gone at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=66&value1=-MPI_RELEASE_DEBUG_SHARED_PT_CI&field2=groupname&compare2=61&value2=Continuous&field3=buildstarttime&compare3=84&value3=now

The good news is the the CI build appears to be c

[2017-08-28 18:28] srajama1 commented on #1538
@jhux2 : Will these improvements translate to Nalu as well ?

[2017-08-28 18:29] pwxy commented on #1538
@srajama1 the Z2 improvements definitely would translate to Nalu

[2017-08-28 18:31] jhux2 commented on #1538
@srajama1 wrote:

For large enough problems, yes.

[2017-08-28 18:36] srajama1 commented on #1538
One stone, >2  birds etc :)

[2017-08-28 19:18] aprokop opened #1650 "MueLu: is "lightweight wrap" = false used anywhere?"
@trilinos/muelu @tawiesn

We have old code branch in `CoalesceDropFactory` that I'm not sure is used anymore. I think only @tawiesn knows what's in it. Ideally, if it's not used, I'd like to remove it. If it is, I'd like to understand what's special about it.

[2017-08-28 21:05] jjellio commented on #1538
Cori finally behaved.

I performed 3 runs, and then compared against the data I gathered earlier this year.

These are 512 node runs with flat MPI (serial exec space).

The columns are labeled using short names:
A: ./Laplace3D-BS-1-1968x1968x1968_Constructor-Only_MueLu-repartition-mj-1_numsteps-20_Serial_np-32768_decomp-512x64x1x1.yaml
B: ./Laplace3D-BS-1-1968x1968x1968_Constructor-Only_MueLu-repa

[2017-08-28 21:12] jjellio commented on #1538
I have a job that hasn't run yet, that will evaluate MueLu construction w/out the MJ stuff enabled. This should be a better baseline than the prior data. When I get that data, I'll post again with a more fair comparison.

[2017-08-28 21:41] mhoemmen opened #1651 "Tpetra: Import Tpetra::Details::iallreduce into Tpetra namespace"
@trilinos/tpetra
@ambrad See #1638 discussion for rationale.

[2017-08-28 21:51] jhux2 opened #1652 "MueLu: Kokkos_Refactor option should check for upstream dependencies"
@trilinos/muelu

The MueLu cmake option `MueLu_ENABLE_Kokkos_Refactor` should include logic that checks that certain upstream dependencies and other cmake options are enabled.

- [ ] `-D MueLu_ENABLE_Experimental:BOOL=ON`
- [ ] `-D MueLu_ENABLE_Kokkos_Refactor:BOOL=ON`
- [ ] `-D Xpetra_ENABLE_Experimental:BOOL=ON`
- [ ] `-D Xpetra_ENABLE_Kokkos_Refactor:BOOL=ON`

[2017-08-28 22:46] jjellio commented on #1538
Updated data. The job that profiled MueLu without the modified MJ settings is now used as a base line. This avoids some of the noise in my prior data.

I've cut out the timers matching Repartition, Zoltan2, and MultiJ. I can post the full table if you like.
___
Min timers:

Timer Name                                                                             |  minT         |  minT_A       |  min

[2017-08-28 22:50] mhoemmen commented on #1088
Recent Kokkos changes and merging with @tjfulle 's packCrsMatrix added some challenge to this task, but I'm making progress.

[2017-08-28 23:11] aprokop commented on #1538
@jjellio tl;dr?

[2017-08-29 00:02] jjellio commented on #1538
Not sure really. This was with a Laplace3D problem (7nnz per row and 1968^3 rows) pwxy used Brick3D which is 27 nnz per row. The problem I ran is much larger, but not as dense.

The gains from Mehmet's work show up in the 'MueLu: Zoltan2*' timers, but they are not as large as @pwxy.

MJ value =1 seems inferior to 16 or 64
MJ value =1 seems to slow down the code in some regions compared to not enab

[2017-08-29 01:36] aprokop opened #1653 "MueLu: why do we need to call Kokkos::initialize() when using MueLu_Test_ETI.hpp?"
@trilinos/muelu

I got hit by the fact that I cannot run the MueLu Driver like this:
[code]
when compiled with both OpenMP and Serial nodes. It results in
[code]
Further debugging shows that OpenMP (and not Serial) is not initialized. Explicitly calling `Kokkos::initalize()` before `MPI_Global_Session` and `Kokkos::finalize()` at the end fixes that.

I remember there was a discussion on the topic

[2017-08-29 03:28] mhoemmen commented on #1653
Tpetra's Nodes call `Kokkos::execution_space::initialize` if the execution space is not initialized, but they don't call `Kokkos::initialize`.  However, `Tpetra::initialize` calls `Kokkos::initialize`.

`Teuchos::GlobalMPISession` captures its command-line arguments for later use; I take advantage of this in Tpetra.

You might like to initialize Kokkos after MPI, so that MPI has the chance to bind

[2017-08-29 03:43] aprokop commented on #1653
@mhoemmen Thanks for the explanation! So if #1376 was fixed, we won't need it, right?

[2017-08-29 04:33] mhoemmen commented on #1653
@aprokop wrote:

Yes :-) .  There were some issues with #1376:

  1. Kokkos lacks a "global" `is_initialized` function; one can only ask if a specific execution space is initialized.
  2. Other folks advocated against Tpetra doing any Kokkos initialization.  See https://github.com/trilinos/Trilinos/issues/763 .

One could work around (1) by checking if the default execution space is initialized, s

[2017-08-29 04:38] mhoemmen commented on #1376
See #1653 for some more discussion.  I'll summarize here.  There are two main reasons why we haven't fixed this issue yet:

  1. Kokkos lacks a "global" is_initialized function; one can only ask if a specific execution space is initialized.
  2. Other folks advocated against Tpetra doing any Kokkos initialization. See #763 .

One could work around (1) by checking if the default execution space is

[2017-08-29 06:37] jjellio commented on #1653
Worth pointing out, you should init Kokkos is you ever expect anyone to pass kokkos command line arguments. The default initilizers most likely do not have access to argv/argc and therefore initialize as if nothing was present on the command line. I know that I have been bitten by this.  It is mostly relevant on Cuda, where you may need to set ndevices, or with OpenMP if you want Kokkos to see onl

[2017-08-29 07:37] jwuttke opened #1655 "find_package option COMPONENTS ineffective because of hard-coded includes in TrilinosConfig.cmake"
CMake's find_package takes an option COMPONENTS. Usage with Trilinos seems to be documented nowhere, but TrilinosConfig.cmake clearly is intended to support commands like

    find_package(Trilinos REQUIRED COMPONENTS Epetra Belos Ifpack)

However, at the bottom of TrilinosConfig.cmake there is a long list that includes all Trilinos subproject CMake files. This overwrites the component selection,

[2017-08-29 12:54] ibaned commented on #1655
@trilinos/framework

[2017-08-29 14:07] aprokop commented on #1653
@mhoemmen @jjellio Thanks a lot for the insight! If I were to document that somewhere, where would the best place be? Particularly, the comment about "first MPI, then Kokkos" for binding is probably unknown to a lot of people.

[2017-08-29 14:52] tawiesn commented on #1613
@jjellio @pwxy Did you test scalar problems or vector-based problems?

[2017-08-29 14:58] tawiesn commented on #1613
@aprokop I did not refactor the TentativePFactory. I just added the vector case to the kokkos version of TentativePFactory. I wrote my own tiny stupid slow QR decomposition using Kokkos in order to validate the correctness of the results. I did not do any performance tests as the results are clear to be frustrating. Before putting more effort in the MueLu kernels it would make more sense to push K

[2017-08-29 14:58] mhoemmen commented on #1653
@jjellio wrote:

Tpetra itself will ask `Teuchos::GlobalMPISession` for command-line arguments, and imitate Kokkos' logic for removing them and applying their values.  However, that requires using GlobalMPISession.

[2017-08-29 15:01] mhoemmen commented on #1653
@aprokop wrote:

`Kokkos::initialize` could actually check that, and print a warning (on Process 0 only, otherwise people will be angry when they blow through disk capturing stderr on 1M processes ;-) ).

[2017-08-29 15:05] aprokop commented on #1613
I will work on profiling and optimizing the `TentativePFactory` this week. The funny thing is that even with a single thread OpenMP is 3x slower for scalar. Should not be too hard to at least get parity for single thread per MPI rank.

[2017-08-29 15:51] srajama1 commented on #1635
Can you add your configure options ?

[2017-08-29 15:53] srajama1 commented on #1274
Can we check and close this ?

[2017-08-29 15:55] srajama1 commented on #1092
Can we close this now ?

[2017-08-29 15:56] srajama1 commented on #747
Checking to see if this is still failing.

[2017-08-29 15:56] jhux2 commented on #1653
@mhoemmen wrote:

@aprokop wrote:

What about checking state in Tpetra and erroring out with a helpful error message, e.g., "Tpetra  does not do any Kokkos initializations.  Applications are responsible for this, i.e., calling Kokkos::initialize() after MPI is initialized."

[2017-08-29 15:58] jhux2 commented on #1653
Of course, MueLu can also check state in the unit tests.

[2017-08-29 16:04] mhoemmen commented on #1653
@jhux2 wrote:

This is a backwards compatibility change, so we would need to wait until the next major release to add it.  We could add a warning, though!  Would that be better?

It seems like the issue is Kokkos and MPI, and thus more general than Tpetra.  This suggests that perhaps Kokkos should print the warning.  For example, many applications will want to use Kokkos before they ever get to th

[2017-08-29 16:07] jhux2 commented on #1653
@mhoemmen I agree.

[2017-08-29 16:10] jhux2 commented on #1653
See also Kokkos issue [1060](https://github.com/kokkos/kokkos/issues/1060).

[2017-08-29 17:53] VictorEijkhout commented on #1552
Is this issue going on the abandoned / will not be fixed list? Since all my installations are system-wide it's kinda annoying (read: non-trivial amount of work) to have to regenerate packages to get around bugs.

[2017-08-29 18:36] ibaned commented on #1092
Took me a while to recall where we were, but yes I think so.

[2017-08-29 18:41] ibaned commented on #1552
I just looked in an installation that I have, and this symbol is defined:

[code]

Can you try with the latest develop branch? STK did a recent snapshot, maybe something got fixed.

[2017-08-29 20:33] ambrad commented on #1350
See PR #1638

[2017-08-29 20:36] aprokop commented on #1653
Fixed in MueLu. The follow up discussions in Kokkos and #1376.

[2017-08-29 20:36] #1653 closed

[2017-08-29 21:24] jjellio commented on #1613
@tawiesn, I tested scalar: Laplace3D / Brick3D. GO = long long int, LO = int, SC = double.

If you cannot access the website where I've uploaded all of my data/figures, I can tar and send it to you. (It is served from my SRN workstation). I have 2 identical studies, one with use kokkos refactor = ON and one with it off.  The two studies use a patch by csiefert that improved the performance signifi

[2017-08-29 22:38] csiefer2 commented on #1618
Fixed.

[2017-08-29 22:38] #1618 closed

[2017-08-30 02:04] mhoemmen commented on #1088
I got Tpetra to pass tests with CUDA 8.0 and (CUDA-aware) OpenMPI 2.0.1.  I'm working on Stokhos now.

[2017-08-30 02:10] mhoemmen opened #1658 "Tpetra::MultiVector: Unpack kernels not using correct execution space"
@trilinos/tpetra @trilinos/stokhos
Blocks: #1088

Tpetra::MultiVector::unpackAndCombineNew uses Kokkos parallel kernels to unpack remote data into the target MultiVector.  The kernels are supposed to run on either device or host, depending on whether the target MultiVector is sync'd to device or host.  However, the kernels were _only_ running on device!  This caused trouble with #1088 (which see),

[2017-08-30 18:16] CamelliaDPG commented on #1274
Sounds good to me.  Thanks @ndellingwood and @srajama1!

[2017-08-30 18:16] #1274 closed

[2017-08-30 18:39] ambrad commented on #1350
I should update this issue to reflect what was done. Q4 goals were to get the block-tridiag-block-Jacobi and pure block-Jacobi methods *performant* on CPU and Xeon Phi. This has been done and will be pushed soon.

In FY18, GPU performance will be a target. Currently, unit tests pass, but the code is not performant, on GPU.

[2017-08-30 19:31] tjfulle commented on #802
I've "completed" thread parallelizing `unpackAndCombineIntoCrsArrays`.  Tests pass on my blade with/without OpenMP node and `OMP_NUM_THREADS>1`.  I am building and CUDA now (`ride` had a system upgrade that wiped my home directory, so I've got to start from scratch).  When the build is done and tested I'll open a new PR.

I say "completed" because there are two parts of the algorithm that are not

[2017-08-30 20:00] bartlettroscoe commented on #1600
@kyungjoo-kim,

You forgot to revert the disable commit as instructed [above](https://github.com/trilinos/Trilinos/issues/1600#issuecomment-321990301):

[code]

That will turn the test on but we need to make sure it is passing before pushing.

[2017-08-30 21:13] mndevec commented on #1622
@pwxy
We usually have seen a good scaling up to 256 threads on KNL. It think it is difficult to achieve in this problem because of the amount of the parallelism.

[2017-08-30 22:24] tjfulle commented on #1630
I just ran in to this problem today.  Like @mhoemmen, adding `-std=c++11` to `CMAKE_CXX_FLAGS` gets by the error.  The combination of

[code]

does not seem to put `-std=c++11` in the c++ command.

I don't know when things changed, but I was able to configure/compile about a month ago without adding `-std=c++11` to the `CMAKE_CXX_FLAGS`.

Perhaps unrelated, with the current setup (adding `-std=c++

[2017-08-30 22:40] mhoemmen opened #1660 "MueLu: Build error with experimental kokkos-kernels option on"
@trilinos/muelu @trilinos/xpetra

@DrBooom reports:

With these three CMake options turned on:
[code]
I get this error:
[code]
I don't get this build error with the options disabled.

[2017-08-30 22:44] crtrott commented on #1660
That is a tpetra issue not a Xpetra or MueLu issue, the include in the tpetra file needs to be fixed.

[2017-08-30 22:45] jhux2 commented on #1660
Maybe related to this?  https://github.com/kokkos/kokkos-kernels/issues/53

[2017-08-30 22:46] crtrott commented on #1660
Yeah the file was renamed to KokkosSparse_spgemm.hpp i believe , and apparently we didn't catch this include.

[2017-08-30 22:47] crtrott commented on #1660
Also maybe this should now be enabled by default ...

[2017-08-30 22:54] mhoemmen commented on #1660
it's a kokkos-kernels issue, since kokkos-kernels broke backwards compatibility.  would have been nice if Trilinos had a nightly test for this though :)

[2017-08-30 22:55] crtrott commented on #1660
Yeah but now it is a Tpetra issue, because it is what needs to change ;-), and yeah technically there are tests but apparently -D KokkosKernels_ENABLE_Experimental:BOOL=ON is not set by any of them.

[2017-08-30 23:11] mhoemmen commented on #802
@tjfulle Awesome!!! :-D  btw watch out for potential merge conflicts with my #1088 fix, coming in soon (possibly today).

btw `ride` saved home directories in `/home_old`, if I remember right, so you might not have to start over completely from scratch :-) .

@tjfulle wrote:

Could you please clarify?  As long as the target matrix's structure does not change, then it sounds like you could just use

[2017-08-30 23:22] tjfulle commented on #802
@mhoemmen wrote:

Perhaps I can clarify, but it would probably be easier to show you.  Let me try.  The difficulty is that data for a row is packed sequentially as

[code]

After unpacking `[data for row N from proc P0]` an offset counter is incremented so that on the next pass `[data for row N from proc P1]` is unpacked.  The current offsets for row `N` are stored in an array and can probably be

[2017-08-30 23:23] tjfulle commented on #802
@mhoemmen wrote:

Now you tell me!  I'm running in to other `CUDA` issues now anyway...

[2017-08-30 23:27] mhoemmen commented on #802
Could you send me a meeting invite, say for tomorrow afternooon?  That might be easier.  Thanks!

[2017-08-30 23:31] bmpersc commented on #1158
We now have a slave up and running. There were some issues that had to be worked around, but the slave is now up and should restart when the machine boots up every time.

[2017-08-30 23:31] #1158 closed

[2017-08-30 23:31] tjfulle commented on #802
@mhoemmen, what, that didn't make sense?

Meeting invite sent

[2017-08-31 00:39] tjfulle commented on #802
Just got my `CUDA` issues resolved.  All Tpetra tests pass on `CUDA`.  The score card is all standard CI tests pass on my blade with/without OpenMP and Tpetra tests pass on `CUDA`.  Two more small sections remain to be thread parallelized (referenced earlier).  After discussing them with @mhoemmen, I'll get them fixed, tested, and PR opened.

[2017-08-31 01:09] bartlettroscoe commented on #1304
The first failure that occured over the period 8/13/2017 - 8/28/2017 was caused by the push:

[code]

and persisted for a little over 7 hours from "Wed Aug 16 12:37:48 MDT 2017" till "Wed Aug 16 17:55:21 MDT 2017".  That push did not appear to use the checkin-tset-sems.sh script.

As noted [above](https://github.com/trilinos/Trilinos/issues/1304#issuecomment-325414203), this breakage stopped at le

[2017-08-31 01:26] bartlettroscoe commented on #1304
The second failure that occurred over the period 8/13/2017 - 8/28/2017 was caused by the push:

[code]

It looks like that push did not use the checkin-test-sems.sh script, which allowed the error to get pushed.

This resulted in the CI build of Trilinos to be broken continuously for only about an hour from "Thu Aug 17 11:03:52 MDT 2017" to "Thu Aug 17 12:06:46 MDT 2017".  Therefore, it seems unli

[2017-08-31 13:19] aprokop opened #1661 "Tpetra: build error in unpackAndCombineNew"
@trilinos/tpetra @mhoemmen @tjfulle

For some reason, the code does not compile unless `tfectFuncName` is moved outside of `HAVE_TPETRA_DEBUG`. It's a bit of mystery to me as I though it would only be used in `TEUCHOS_TEST_FOR_EXCEPTION` which is hidden behind the macro.

The corresponding error:
[code]

[2017-08-31 13:37] lucbv commented on #1652
@jhux2 should we also think of testing with ```-D KokkosKernels_ENABLE_Experimental:BOOL=ON``` as shown in #1660 ?
I can look into setting up a nightly on my machine with this option turned on to hedge against changes that appear in kokkos/kokkos-kernels experimental and that will likely eventually impact our kokkos refactor.

[2017-08-31 13:47] lucbv commented on #1652
By the way @csiefer2 asked on Monday what was the status of kokkos-kernels_Experimental:
1. Graph algorithm are still in the experimental namespace especially coloring
2. spgemm is still experimental, maybe because it relies on some of the above graph algorithms

[2017-08-31 14:42] bartlettroscoe commented on #1304
The third CI failure that occurred over the period 8/13/2017 - 8/28/2017 was caused by the push:

[code]

which broke the two tests MueLu_ParameterListInterpreterTpetra_MPI_1 and MueLu_ParameterListInterpreterTpetra_MPI_4.

It looks like that push did not use the checkin-test-sems.sh script, which allowed the error to get pushed.

The failing tests caused by this push were later fixed by a differe

[2017-08-31 14:56] mhoemmen commented on #1661
oopsie!  check-in test script doesn't exercise the `HAVE_TPETRA_DEBUG` undefined case like it used to.  I think @csiefer2 may have fixed this already.

[2017-08-31 15:05] mhoemmen commented on #1658
Fixed in develop.

[2017-08-31 15:05] #1658 closed

[2017-08-31 15:05] mhoemmen commented on #1088
Fixed in develop.

[2017-08-31 15:05] #1088 closed

[2017-08-31 15:14] mhoemmen commented on #1661
@aprokop I merged your fix; thanks! :-D

[2017-08-31 15:14] #1661 closed

[2017-08-31 15:15] mhoemmen commented on #1652
Would it make sense to ask kokkos-kernels to use subpackages, and mark some of them as experimental?  This "one experimental flag" thing looks like it could easily lead to confusion and breakage (it already has ;-) ).  Subpackages could be marked EX until they are ready, and they could have useful names like KokkosKernelsSpgemm etc.

[2017-08-31 15:16] mhoemmen commented on #1367
@brian-kelley what's the scoop?  Do we need to do some deeper performance analysis?

[2017-08-31 15:23] lucbv opened #1663 "MueLu: unit tests ETI needs to guard kokkos code for Epetra only"
f46f6db is adding kokkos::initialize and kokkos::finalize to the unit test ETI macro, but this seems wrong in the case of [Epetra only instantiation.](https://testing.sandia.gov/cdash/index.php?subproject=MueLu&project=Trilinos) I think that these should be guarded as something like:
[code]
or are there some cases where `Tpetra` might be on but we still do not want `kokkos`?
I will add these guard

[2017-08-31 15:38] aprokop commented on #1663
@lucbv I think you are right. If you look at `MueLu_UnitTests.cpp` in the same dir, it hides `Kokkos::initialize()` behind `#ifdef HAVE_MUELU_KOKKOSCORE`. I think this should be sufficient for ETI too. I think it's better than `HAVE_MUELU_TPETRA`.

[2017-08-31 15:43] jhux2 commented on #1652
@mhoemmen That's a good idea.

[2017-08-31 15:45] jhux2 commented on #1652
@lucbv I agree, that should be tested somewhere.

[2017-08-31 16:05] lucbv commented on #1663
OK, I added the `#ifdef HAVE_MUELU_KOKKOSCORE` guard and the `-DTrilinos_ENABLE_Kokkos=OFF`, `-DTrilinos_ENABLE_Tpetra=OFF` builds and runs the tests fine.
I am running the checkin-script now.

[2017-08-31 16:07] mhoemmen opened #1664 "Tpetra: Clarify operating procedures for using MPI + multiple GPUs on a node"
@trilinos/tpetra
Blocked by: #1673 (else can't build on relevant testbeds)

Tpetra's documentation needs to clarify how to use MPI with multiple GPUs on a node.  It looks like Kokkos knows how to deal with this, as long as `MPI_Init` is called before `Kokkos::initialize`, and as long as one uses the `--kokkos-ndevices` argument correctly.  I copied the documentation below out of Kokkos' `--help` o

[2017-08-31 16:30] aprokop commented on #1663
Thanks @lucbv . Sorry for trouble. Apparently, our checkin script does not catch that.

[2017-08-31 18:28] mndevec commented on #1660
Sorry, I was not aware the call was wrapped with experimental flags. My commit should fix this now, and I removed experimental flags.
It will compile as default now.

[2017-08-31 18:34] bartlettroscoe commented on #1304
The fourth and final CI failure that occurred over the period 8/13/2017 - 8/28/2017 was caused by the push:

[code]

which broke the test MueLu_BlockedTransfer_Tpetra_MPI_4 for the post-push CI build run on ceerws1113.  The checkin-test-sems.sh script looks to have been used but there are only 1144 tests shown and there should have been 1146 tests run (see below) so it is not clear if this test wa

[2017-08-31 20:13] jmgate opened #1667 "Clean Up Stale Branches"
Trilinos has 20 public feature branches, many of which look to be stale.  Below are lists of those that haven't been touched in over six months.  Would those mentioned mind taking a look to see if these branches can be deleted?

### Merged

| Branch Name | Last Commit Author | Notes |
| -------------- | -------------------- | ----- |
| gsjaardema-patch-1 | @gsjaardema | deleted |
| Intrepid2_Basis

[2017-08-31 20:21] CamelliaDPG commented on #1667
Deleted Intrepid2_Basis_DofCount.

On Aug 31, 2017, at 2:13 PM, Jason M. Gates <notifications@github.com<mailto:notifications@github.com>> wrote:

Trilinos has 20 public feature branches, many of which look to be stale. Below are lists of those that haven't been touched in over six months. Would those mentioned mind taking a look to see if these branches can be deleted?

Merged
Branch Name     Las

[2017-08-31 20:42] tawiesn opened #1668 "MueLu: move Xpetra-specific Belos adapter files to Belos"
We should move the following files

in `muelu/adapters/belos` to a new `xpetra` folder in Belos.

This would allow to use preconditioners derived from `Xpetra::Operator<>` directly with Belos.

[2017-08-31 20:47] aprokop commented on #1668
@trilinos/xpetra

Maybe it even makes sense to move `BelosOperatorT.hpp` to Belos itself.

[2017-08-31 20:49] tawiesn commented on #1668
@trilinos/belos

[2017-08-31 22:09] mhoemmen commented on #1668
Not a bad idea.  This would have the side effect of making Stratimikos depend optionally on Xpetra; is that OK?

[2017-08-31 22:13] aprokop opened #1669 "Xpetra: add more features to the refactor branch"
@trilinos/xpetra

Need:
- [x] `Map::getLocalMap` (added in 77fb5574fc24fbe9eebbe1c54e49289e70877a39)
- [ ] `CrsMatrix`  `(local_matrix, map, map, map, map)` constructor

[2017-08-31 22:13] bartlettroscoe commented on #1630
I would need to see the full CMakeCache.txt file, the full cmake STDOUT and the full cmake commandline.  That should be enough.  Otherwise, I would need to be on a machine where I can reproduce the problem myself to help.

[2017-08-31 22:20] bartlettroscoe commented on #1208
The latest update is that the test bed team that manages 'ride' is starting over from scratch with an updated build of all the compilers, TPLs, etc. and they are testing Trilinos and Drekar (and seeing some progress in both compile times, runtime performance and less failures).  @nmhamster said that we might expect to see a new system deployed something in fall 2017 (but no promises).

I would sug

[2017-08-31 22:30] mhoemmen commented on #1664
My plan is to write a test or example that exercises this use case.  I have access to computers with multiple GPUs on a node; I will use those computers to test whether Tpetra correctly handles this use case.  Note that it does require manually calling `Kokkos::initialize` or `Tpetra::initialize`.

[2017-08-31 23:54] jhux2 commented on #1630
@tjfulle I believe that is resulting from the C++ option being passed on to nvcc, which doesn't understand it.  I'd be really interested in knowing a general method of preventing C++ compile options through.  You can see other instances on the dashboard, e.g., [here](https://testing.sandia.gov/cdash/viewBuildError.php?type=1&buildid=3083359).

[2017-09-01 00:17] jhux2 opened #1671 "Tpetra: compilation error under CUDA 8.0.44"
@trilinos/tpetra

Tpetra is failing to compile on one of MueLu's nightly builds on geminga that uses CUDA 8.0.44.  The error is
[code]

The dashboard is [here](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3083879).

In case it's helpful, the following modules are loaded:
[code]

[2017-09-01 00:31] jhux2 commented on #1671
The reason is that ```tfecfFuncName``` is only defined if HAVE_TPETRA_DEBUG is also defined.  The latter is not because this is a release build.

Adding the macro guard
[code]
around the call to ```TEUCHOS_TEST_FOR_EXCEPTION_CLASS_FUNC``` on line 1698 fixes the issue.

[2017-09-01 00:42] aprokop commented on #1671
@jhux2 Fixed in #1662 I believe.

[2017-09-01 00:44] jhux2 commented on #1671
Yes, @aprokop beat me to the punch and fixed this in develop.  However, there's a build warning in release mode

[code]

`TEUCHOS_TEST_FOR_EXCEPTION_CLASS_FUNC` is only ever used in this method when `HAVE_TPETRA_DEBUG` is defined, so I believe my suggested patch is still relevant.

[2017-09-01 00:55] jhux2 commented on #1661
@aprokop Were you building in debug mode?  In release mode, the patch results in a warning that `tfecfFuncName` is unused.

[2017-09-01 00:55] jhux2 commented on #1671
Basically a duplicate of #1662.

[2017-09-01 00:55] #1671 closed

[2017-09-01 00:58] aprokop commented on #1661
@jhux2 A warning, maybe.

[2017-09-01 01:17] jhux2 commented on #1661
In fact, the compiler warning in release mode indicates that `HAVE_TPETRA_DEBUG` guarding `tfecfFuncName` is the proper thing to do.

[2017-09-01 12:44] lucbv commented on #1663
The Epetra only build is clean this morning so we should be good

[2017-09-01 12:44] #1663 closed

[2017-09-01 13:14] rppawlo opened #1672 "Tpetra: shadow warnings"
Did a clean build of trilinos this morning and get a ton of repeated shadow warnings with gcc7.2:

[code]

[2017-09-01 13:52] ibaned commented on #1672
@trilinos/tpetra @tjfulle @mhoemmen This is very closely related to #1666 (basically one of these popped up yesterday too. It looks like this is a systematic issue, where the conventional use of `packValueCount` is claiming symbols that are better used for other purposes, and these warnings are being repeatedly introduced as code is modified. I once again propose that the common-case definition of

[2017-09-01 14:28] tjfulle commented on #1672
Thanks @rppawlo!  I believe these warnings will be resolved with PR #1665

[2017-09-01 16:29] mhoemmen commented on #1660
Thanks @mndevec and @crtrott !

@mndevec wrote:

Does that mean that Trilinos uses your sparse matrix-matrix multiply by default now?  Just checking :-) .

[2017-09-01 16:34] jgfouca commented on #1667
@jmgate The panzer stk conversion was done a long time ago. I'm wondering why it's listed at not merged? I'm also wondering why it's protected (I can't delete it).

[2017-09-01 16:40] bartlettroscoe commented on #1304
In a follow up to the the most recent CI build failure described [above](https://github.com/trilinos/Trilinos/issues/1304#issuecomment-326383952), I contacted Matthias and he said that he saw the test  MueLu_BlockedTransfer_Tpetra_MPI_4 failing on his machine and he was instructed to just disable it locally and push.  (That explains the reduced number of tests reported in his push).  He did not re

[2017-09-01 16:41] bartlettroscoe commented on #1667
If you rebase a branch and then push it, GitHub is not smart enough to know that the changes have been merged and pushed.  You have to manually note the rebased commits and then manually close the PR.  Either that or you need to force push the rebased commits to the branch and then merge and push.  The GitHub will know the changes have been merged.

[2017-09-01 16:43] mhoemmen commented on #1672
@ibaned wrote:

I'm OK with this, as long as we specialize PackTraits so that this zero-argument definition only exists for built-in types.  It's too easy to break Stokhos otherwise.

`PackTraits` is really supposed to be a known-thread-safe replacement for `MPI_Pack`, `MPI_Pack_size`, etc.  I think `MpiTypeTraits` already has the optional zero-argument overload mapping from a type (e.g., `Scalar`

[2017-09-01 16:44] bartlettroscoe commented on #1645
IWho owns this build?  In any case, it is listed as a "Specialized" build so it should not be spamming anyone with CDash emails.  And since it is a "Specialized" build, there are no offical policies for fixing these builds that I now of.  It is the wild west.

[2017-09-01 16:45] bartlettroscoe commented on #449
This may be fixed with the merge of the TEuchos MM class changes a few weeks back.

[2017-09-01 16:46] jgfouca commented on #1667
@bartlettroscoe ok thanks. @jmgate (or someone with admin) you can delete that branch.

[2017-09-01 16:46] mhoemmen commented on #1669
@aprokop Woah, are you planning to wrap Tpetra's LocalMap?

[2017-09-01 16:52] ibaned commented on #1672
Stokhos seems to have its own template specialization of `PackTraits`, so as long as that one is left alone and is visible when packing is done with Stokhos types, then even if we modify the common-case `PackTraits::packValueCount` in Tpetra to work with no arguments, it should still give a compile error if we try to pass no arguments to `packValueCount` for a Stokhos type, because the specialized

[2017-09-01 17:02] jmgate commented on #1667
Thanks @jgfouca. @trilinos/framework, can someone delete `panzer-stk-conversion`?

Also has anyone noticed problems receiving GitHub notification emails?  I got one for @jgfouca's first comment, but not for either of the two below it.

[2017-09-01 17:13] jgfouca commented on #1667
@jmgate oh, you have no idea the struggles I've had getting notifications from GitHub. All Sandians are stuck in this perpetual loop:

1) Email notifications working fine
2) Sandia email system goes down
3) GitHub tries to notify you and the email bounces due to (2)
4) GitHub flags your account as throttled, you now will miss about 30% of your email notifications
5) You have to email GitHub suppor

[2017-09-01 17:21] tjfulle commented on #1672
`packValueCount` is only used in a few places and can be made to take zero arguments.  The Stokhos specialization would need to be modified accordingly, since it calls the default version.  The unpacking work I am currently doing is directly related, so I can make these updates when I am done chasing down the last test failure.

[2017-09-01 17:41] ibaned commented on #1672
To ease the transition, we can have it take one or zero, for example with a default argument or just a separate overload.

[2017-09-01 17:46] mndevec commented on #1660
Yes, only when the execution space is openmp.

[2017-09-01 17:47] aprokop commented on #1669
@mhoemmen Maybe. So far, I only need it for checking whether row and column are compatible, i.e. whether `colGIDs = [rowGIDs, ghosts]`. I do that in a Kokkos `parallel_for` region (see [here](https://github.com/trilinos/Trilinos/blob/fb606915ba83fcb30968e0a6d4847fe9c13eb139/packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_kokkos_def.hpp#L935)).

[2017-09-01 17:49] rppawlo commented on #1672
Thanks @tjfulle ! I usually just ignore most warnings, but shadow warnings are usually more serious so figured I'd report it.

[2017-09-01 17:50] aprokop commented on #1660
Can confirm @mndevec that that's what we getting in MueLu.

[2017-09-01 18:38] VictorEijkhout commented on #1552
On Aug 29, 2017, at 1:41 PM, Dan Ibanez <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you try with the latest develop branch? STK did a recent snapshot, maybe something got fixed.

Why is it so hard to install your software……

So I’m trying the github version, and now STK bombs on this:

/admin/build/rpms/BUILD/trilinos-git/packages/stk/stk_util/stk_util/environment/Runti

[2017-09-01 19:07] ibaned commented on #1552
That line of code just has the following:
[code]
which is a [standard C++11 include](http://en.cppreference.com/w/cpp/container/unordered_map), but it looks like Boost also has a look-alike under `boost/tr1/tr1/unordered_map`. The first problem is that when looking for `unordered_map`, the compiler is finding the Boost one instead of the standard C++ header.

The second problem is that between Boo

[2017-09-01 19:25] #667 closed

[2017-09-01 20:32] jhux2 commented on #1552
@trilinos/stk @khpierson Perhaps the STK team can help out here.

[2017-09-01 21:13] ibaned opened #1673 "Tpetra: CUDA packCrs build failure"
Nightly CUDA builds of Albany using the Trilinos develop branch have spotted the following:
[code]
This was initially recorded as gahansen/Albany#176.

@trilinos/tpetra

[2017-09-01 21:26] maherou commented on #1667
Jason,

Just to be sure, in step 5, are you contacting them using this page:

https://github.com/contact

Or something else?

From: James Foucar <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Friday, September 1, 2017 at 12:13 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: "maherou@sandia.gov" <maherou@sandia.gov>, Team mention <team_mention@norep

[2017-09-01 21:28] jgfouca commented on #1667
@maherou yes, that was how I initially made contact. Since then, I just email the same guy directly.

[2017-09-01 21:29] jgfouca commented on #1667
Meanwhile, I bet @jmgate is missing this entire conversation since he's not getting notifications :)

[2017-09-01 21:30] jhux2 commented on #1673
@trilinos/tpetra

[2017-09-01 21:33] jmgate commented on #1667
Yup, just missed the last few comments.  Enlightening.  I'll see if I can get my account unfrozen.  Thanks all.

[2017-09-01 21:42] maherou commented on #1667
Thanks, Jom.  You have shed light on a mystery that has been puzzling us for months.

From: James Foucar <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Friday, September 1, 2017 at 4:28 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: "maherou@sandia.gov" <maherou@sandia.gov>, Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [trilinos/Tr

[2017-09-01 21:42] khpierson commented on #1552
I've confirmed what Dan mentioned above that we are expecting to include the standard C++11 header file, <unordered_map> for the file RuntimeMessage.cpp. The demangle symbol is within the sierra namespace so I'm not sure how that could cause trouble with Deal.II

[2017-09-01 21:49] mhoemmen commented on #1673
btw what version of CUDA is this?  I've been testing all the way through Stokhos (takes forever) with CUDA 8.0.  Does this use 7.5?

[2017-09-01 21:54] mhoemmen commented on #1669
@aprokop I wish Kokkos had specialized `bool` reductions that could terminate early if they find what they seek....

[2017-09-01 21:54] mhoemmen commented on #1660
@mndevec Thanks for clarifying!

[2017-09-01 22:00] jgfouca commented on #1667
You're welcome. I've been trying to spread the word far and wide among Sandians.

[2017-09-01 22:00] mhoemmen commented on #1208
@bartlettroscoe I object, but it's totally not your fault that things are the way they are.  So, I'm not objecting to you, but to the lack of support for ATS-2 - like built platforms.  When ATS-2 comes we're all going to get in serious trouble if we can't even build on it.

[2017-09-01 22:04] bartlettroscoe commented on #1667
I have just given up on getting GitHub emails and instead just check:

* https://github.com/notifications/participating

a few times a day.  That is the only thing that 100% works and does not require constant work.

Can we please document this problem somewhere and how to address it so that people can know what is going on?  Otherwise, GitHub is worthless for communication.  Is this something the

[2017-09-01 22:05] bartlettroscoe commented on #1667
Or perhaps since may projects at Sandia use GitHub, could we document this at the SEMS level and then just point to that wiki page from the Trilinos wiki?

[2017-09-01 22:08] maherou opened #1674 "Add Wiki page about GitHub notifications"
GitHub notifications are essential for communication, especially for large projects.  However, setting up your notifications and dealing with troubleshooting can be challenging.  The wiki page:

https://github.com/trilinos/Trilinos/wiki/GitHub-Notifications

 attempts to address the challenges.

[2017-09-01 22:10] bartlettroscoe commented on #1208
This is really in the hands of the test bed team and their contractors.  This is not a Trilinos issue at this point that I can see.  If we want to track this still in the Trilinos GitHub Issue DB, we should just create a new story titled "Get Trilinos working on ATS-2 once a workable system is deployed" and put in it the backlog on the SART board.  Then when the latter part of fall 2017 comes arou

[2017-09-01 22:11] maherou commented on #1674
@jgfouca, @jmgate, @jwillenbring, @kddevin: I have added the wiki page https://github.com/trilinos/Trilinos/wiki/GitHub-Notifications to describe how to deal with GitHub issues.

Please take a moment to review it and edit or comment on it.

[2017-09-01 22:12] maherou commented on #1667
I have added a wiki page (https://github.com/trilinos/Trilinos/wiki/GitHub-Notifications) and a GitHub issue (#1674).  The issue is in review mode, so comments or edits are appreciated.

[2017-09-01 22:14] jgfouca commented on #1667
@bartlettroscoe , yes we should probably document it somewhere. I'm not sure where to put it as I can't think of any Sandia resource where I'd think to search for a solution to missing emails from GitHub.

I wonder if we can lobby GitHub for more reasonable notification behavior. I cannot fathom how they stumbled onto sending ~70% of your notifications once your account is flagged. This makes it s

[2017-09-01 22:15] jmgate commented on #1674
Looks good to me&mdash;thanks @maherou.

[2017-09-01 22:22] mhoemmen commented on #1208
@bartlettroscoe wrote:

No objections -- thanks Ross!

[2017-09-01 22:24] jhux2 commented on #1673
It appears to be CUDA 8:  http://cdash.sandia.gov/CDash-2-3-0/buildSummary.php?buildid=58670.

[2017-09-01 22:34] bartlettroscoe opened #1675 "Get Trilinos working on ECP ATS-2 systems once a workable system is deployed"
**Next Action Status:**

Waiting for a working ATS-2 system prototype to be provided at Sandia (current estimate is fall 2017) ...

**Related:** #1208, #1191, #1216

**CC:** @mhoemmen, @trilinos/framework, @nmhamster

**Description:**

This story is to drive the work to get Trilinos to work on ECP ATS-2 systems once a working ATS-2 system prototype once a system is make available.

This is a follo

[2017-09-01 22:39] bartlettroscoe commented on #1675
We will check with the advanced technology test bed team in fall 2017 periodically to see a prototype system will be ready for us to start using.

[2017-09-01 22:40] bartlettroscoe commented on #1208
Now that #1675 is created and in the SART backlog ("Ready" actually), I am closing this Issue ticket. But note that this issue is not really resolved.  It is just that there is nothing more we can do with the current system on Ride.  We need to wait for the new system and that is what #1675 is for.

[2017-09-01 22:40] #1208 closed

[2017-09-01 22:43] aprokop opened #1676 "MueLu: Proposal: merge CoalesceDrop and FilteredA factories"
@trilinos/muelu @jhux2 @tawiesn

**Summary**

Right now both factories do very similar things. Each one has a loop that goes through a matrix and filters some entries. The proposal combines those loops in one thus speeding up execution.

**Description**

The current `CoalesceDropFactory` is responsible for a single thing: constructing a (amalgamated) filtered graph that is later used in the aggreg

[2017-09-01 22:55] jhux2 opened #1677 "MueLu: failing Schur complement test"
@trilinos/muelu

Since commit 66d4b5b44e13980798f0614ef4d6979c3982525f that fixed #1660, the MueLu test `SchurConstructor2x2` has started to fail.  I've verified this by reverting the change to the file TpetraExt_MatrixMatrix_def.hpp.  Dashboard results can be found [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&subproject=MueLu&filtercount=1&showfilters=1&field1=site&compare1=

[2017-09-01 22:55] jhux2 commented on #1677
@mndevec @tawiesn

[2017-09-01 22:56] bartlettroscoe commented on #1667
Thanks @maherou, I added a link to this page on the front page:

* https://github.com/trilinos/Trilinos/wiki

and I sent out an email to Trilinos developers to make them aware of this issue.

[2017-09-01 22:57] tjfulle commented on #1677
Thanks @jhux2!  My git bisect foo is very low and I've been bisecting for this commit all morning :)

[2017-09-01 23:00] aprokop commented on #1677
As a side note: could we please start using `checkin` script for kokkos-kernels pushes? Pretty please 🙏

[2017-09-01 23:01] jhux2 commented on #1674
@maherou  Are alternatives to email notification in scope for posting to the wiki?

[2017-09-01 23:09] VictorEijkhout commented on #1552
"when looking for unordered_map, the compiler is finding the Boost one instead of the standard C++ header."

Since you guys make the compile lines, that's your problem, right?

"This indicates that the unordered_map file the compiler is finding is not only the wrong one (Boost), but on top of that is from an older Boost version."

I don't see how you conclude this.

[code]

[2017-09-01 23:21] bartlettroscoe commented on #1674
@maherou, I made a small edit to point out the link https://github.com/notifications/participating.  That is a better set of notification, at lest for my experience.

[2017-09-01 23:22] ibaned commented on #1552
Making progress... I found the version of the code that did have those lines, but it was changed in January 2016:

https://github.com/trilinos/Trilinos/commit/578fdd5435a74b189ccefccceaa809b8d07fa6c3

I'm not sure how you got your "GitHub version", but its old. The current master version of Trilinos doesn't include those headers anymore.

[2017-09-01 23:22] maherou commented on #1674
@jhux2: Yes, please edit the wiki page with your  information.  If the title needs to be modified, please do so.

[2017-09-01 23:28] VictorEijkhout commented on #1552
On Sep 1, 2017, at 6:23 PM, Dan Ibanez <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure how you got your "GitHub version", but its old.

Cloned yesterday…..

Yep. Updated the repository and it’s still there.

root@build-BLDCHROOT:trilinos-git # git pull
Auto packing the repository for optimum performance. You may also
run "git gc" manually. See "git help gc" for mor

[2017-09-01 23:30] bartlettroscoe commented on #826
This is ready to close, right?

[2017-09-01 23:31] VictorEijkhout commented on #1552
On Sep 1, 2017, at 6:23 PM, Dan Ibanez <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure how you got your "GitHub version", but its old.

Or do you want to tell me that this page is incorrect?

https://trilinos.org/oldsite/publicRepo/index.html

Oh, wait, it says “oldsite”. Cute. There is nothing on the actual page that indicates that it’s out of date.

Forgive me fo

[2017-09-01 23:33] VictorEijkhout commented on #1552
On Sep 1, 2017, at 6:23 PM, Dan Ibanez <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure how you got your "GitHub version", but its old.

I’m willing to bet that your ticket system will throw away the attached screen shot, but it is showing your “oldsite” as top search result in google.

Victor.

[cid:C520228D-5FC3-46C0-BF8F-906DC1779532@attlocal.net]

[2017-09-01 23:33] bartlettroscoe commented on #1204
I just saw this issue (I did not get a notification email).  Is this still a valid issue?  If not, can we close?

[2017-09-01 23:33] VictorEijkhout commented on #1552
On Sep 1, 2017, at 6:23 PM, Dan Ibanez <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure how you got your "GitHub version", but its old.

I’m willing to bet that your ticket system will throw away the screen shot, but it is showing your “oldsite” as top search result in google.

Victor.

[2017-09-01 23:37] aprokop commented on #1552
@trilinos/framework @jwillenbring You should be aware of this issue. Can we add a disclaimer to [old Trilinos site](https://trilinos.org/oldsite/publicRepo/index.html)?

[2017-09-01 23:49] ibaned commented on #1204
This can definitely be closed, thanks for checking.

[2017-09-01 23:51] VictorEijkhout commented on #1552
On Sep 1, 2017, at 6:37 PM, Andrey Prokopenko <notifications@github.com<mailto:notifications@github.com>> wrote:

Can we add a disclaimer to old Trilinos site<https://trilinos.org/oldsite/publicRepo/index.html>?

Or at least remove that old repository, for F!’s sake.

Victor.

[2017-09-01 23:55] bartlettroscoe commented on #1204
Closing as "worksforme".

[2017-09-01 23:55] #1204 closed

[2017-09-01 23:59] VictorEijkhout commented on #1552
Ok, repository.

-- Phalanx_example_finite_element_assembly: NOT added test because Phalanx_ENABLE_TESTS='OFF'.
CMake Error at cmake/tribits/core/package_arch/TribitsAddExecutable.cmake:435 (MESSAGE):
  ERROR: 'phalanx_unit_test_main' in TESTONLYLIBS not a TESTONLY lib! If this
  a regular library in this SE package or in an dependent upstream SE package
  then TriBITS will link automatically to i

[2017-09-02 00:28] mndevec commented on #1677
Oh sorry about this, I was testing within tpetra only. I will bring back the experimental flag.

[2017-09-02 02:40] bartlettroscoe commented on #1416
Sorry, I just saw this (I did not get an email notification).

You can create a new git repo with just these large files and then you can update Trilinos/cmake/ExtraRepositoriesList.cmake to clone it and put it in the right place.  Then you CMakeLists.txt file can check if that is cloned and enable the tests if it is.  This is what CASL VERA does.  I can show you with an example if you like.  Or I

[2017-09-02 02:42] bartlettroscoe commented on #1460
@bartgol, I just saw this (I did not get an email notification).

Can you be more specific?  I need to see if this is an issue with Thyra software or if it is specific to Tempus.

[2017-09-02 03:05] bartlettroscoe commented on #1410
I this issue still valid and useful?  If not, let's close it.

[2017-09-02 03:07] bartlettroscoe commented on #1270
Hopefully this will be fixed in the next upgrade of CDash (testing for which should begin soon).  We need to add this test case to our manual acceptance testing process (yet to be officially drafted)

[2017-09-02 03:11] bartlettroscoe commented on #758
Below is an email about how to fix waffle.io for FireFox.

Hello Trilinos Developers,

If any of you are accessing the Trilinos waffle.io site:

* https://waffle.io/trilinos/Trilinos

with FireFox on a Sandia Windows 7 machine (where FireFox was installed already by the COE), then please take note of following issue …

It turns out that you need to have FireFox version 41 or newer or the waffle.io

[2017-09-02 03:14] bartlettroscoe commented on #713
@jjellio, sorry just saw this (I have not been getting all of my GitHub notification emails for a long time).

I don't have a lot of personal experience with CMake and NVCC yet.  Is this still a valid issue?

[2017-09-02 03:29] tawiesn commented on #1676
_What about a special non-lightweight graph branch in CoalesceDropFactory?_

The main difference to the lightweight graph version is that it uses AmalgamationFactory routines to translate between nodes and dofs and that it can deal with arbitrary maps (using global ids). It is used only for special applications with non-standard GIDs and i'm not planning porting it to Kokkos. Most of the multiphys

[2017-09-02 03:35] aprokop commented on #1676
@tawiesn Thanks for the explanation! Are the *current* users of that branch? Do folks in TUM still use it?

[2017-09-02 03:36] tawiesn commented on #1676
@aprokop I like the idea of merging the thresholding and CoalesceAndDropFactory.

I think you hard-code the standard thresholding mechanism in the CoalesceDropFactory, right?
Do you think it is possible to have a more flexible way to define the dropping strategy? I know of external applications (e.g., Multigrid for UQ with ensemble scalar types which need special ensemble dropping mechanisms) whic

[2017-09-02 03:40] tawiesn commented on #1676
@aprokop Yes, there are current users of the old branch in the US (external project with industry). The people in Munich might also use it (but with an old version of Trilinos; not sure they will ever update).
I don't think i would remove it. I would just "fade it out". I know that for the external project we don't need Kokkos as they use Windows (which still cannot compile Kokkos anyway)...
As i

[2017-09-02 03:49] aprokop commented on #1676
I would be fine with that. But if we demonstrate significant gains there, it could also benefit regular users (not using Kokkos). Well, maybe @jhux2 will port it then :)

[2017-09-02 03:52] aprokop commented on #1676
For now yes, hardcoding. But this is really orthogonal to the discussion. It does not matter how you drop entries as long as you can do that independently for each entry. We can probably think of a mechanism to extend it through making the dropping a kokkos function, or something like that.

[2017-09-02 04:02] mndevec commented on #1677
I reverted back the experimental flag. I am not sure what is causing the Schur complement test fail yet.

[2017-09-02 04:05] aprokop commented on #1677
Thanks @mndevec!

[2017-09-02 04:18] tawiesn commented on #1676
Ok. I'm fine with hardcoding it. Can be extended any time later.

[2017-09-02 04:22] tawiesn commented on #1669
@aprokop What is the refactor branch?

[2017-09-02 05:03] aprokop commented on #1669
@tawiesn That's what I call the code behind `HAVE_MUELU_KOKKOS_REFACTOR`. Not a branch per say.

[2017-09-02 05:05] aprokop commented on #1676
@tawiesn Thinking further, we can actually make use of it now. If we make the loop a function/functor and template it on some `Filter` which supports
[code]
we would be able to unify classical and distance laplacian variants. I think this would work.

[2017-09-02 13:51] ibaned commented on #1410
I believe I saw this issue manifest for the `yaml-cpp/2017???` module on Ride, which is a different install though. In particular, one sees undefined references to APIs which take `std::string`, since the ABI of that changed in C++11. I don't know which module @mhoemmen was referring to so I'm not sure if the original issue is valid.

[2017-09-02 15:43] bartlettroscoe commented on #1410
Since the SEMS-build yaml-cpp TPL is being tested continuously with Trilinos (see #1167) as just shown this morning at:

* yaml-cpp TPL enabled (https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3087266)
*  TeuchosParameterList_YamlParser_test_MPI_1 (https://testing.sandia.gov/cdash/testDetails.php?test=41051671&build=3087266)

the general issue of yaml-cpp compatibility is not a problem.

[2017-09-02 15:43] #1410 closed

[2017-09-02 17:19] aprokop commented on #1650
The answer is yes. [Here](https://github.com/trilinos/Trilinos/issues/1676#issuecomment-326719035) is what it does, and [here](https://github.com/trilinos/Trilinos/issues/1676#issuecomment-326719477) is a comment about its users.

[2017-09-02 17:19] #1650 closed

[2017-09-02 19:48] tawiesn commented on #1676
@aprokop What are the parameters of the functor? Row, column, matrix entry and a drop tolerance? Returns true if the entry should be kept, otherwise false? The user can provide a application-specific functor. If he does not we would use the default functor (or the distLap functor?)

[2017-09-02 19:49] tawiesn commented on #1669
@aprokop Got it.

[2017-09-02 19:55] aprokop commented on #1676
Yes!

I was thinking the opposite: true if dropped, false if not.

Yes. The question would be: what's the best way to inject user's C++ code into MueLu.

[2017-09-02 21:58] aprokop opened #1678 "MueLu: filtered matrix lumping may be buggy"
@trilinos/muelu

## Summary

A potential bug in MueLu's `FilteredAFactory` lumping procedure affecting both non-kokkos and kokkos branches.

## Description
In `MueLu_FilteredAFactory_def.hpp` the lumping procedure seem to only use local indices for determining which element is diagonal. This is a problem for situations when row map and column map do not "match". In that situation, the dropped entr

[2017-09-02 23:35] mhoemmen commented on #1673
@jhux2 I'm working on it; thanks!

[2017-09-02 23:47] aprokop opened #1679 "Teuchos: how to debug with TEUCHOS_STANDARD_CATCH_MACROS"
@teuchos @bartlettroscoe

Typically, writing a test involves wrapping the code in the macro like this:
[code]
This works fine. However, when you have a bug in the code which throws an exception, you cannot use a debugger in the standard mode to get the backtrace as the exception is going to be caught by Teuchos.

The only workaround I'm aware is to try doing something with `catch throw` in gdb. Ho

[2017-09-02 23:53] wfspotz commented on #1540
It has been accepted now, although the Linux version is not working. I got it to work prior to the pull request acceptance, but now it (Circe-CI) is failing, and I can't get it to report why.

[2017-09-02 23:54] mhoemmen commented on #1679
@trilinos/teuchos The `TEUCHOS_TEST_FOR_EXCEPT*` deliberately include a function call inside, so that you can set a breakpoint on the function in your debugger.  Were you thinking about something like this?

[2017-09-03 00:00] aprokop commented on #1679
Maybe? Could you please elaborate on how this is applicable to this situation?

[2017-09-03 00:40] aprokop commented on #1669
@mhoemmen Should the `isSameMap` check be added to Tpetra? It seems that Tpetra is the right place for it. It may also be faster for applications, as Tpetra may not need to do the same looping. For instance, for matrices constructed with just a row map, it is automatically guaranteed to be true. For others, there may already be some checking during `fillComplete` (not sure if that's 100% true, tho

[2017-09-03 01:06] bartlettroscoe commented on #1679
@aprokop,

Please take a look at:

* https://trilinos.org/docs/dev/packages/teuchos/doc/html/group__TestForException__grp.html#gaadb9556c5c1ba7da1c141e7529a8ebdf

It shows the function `Teuchos::TestForException_break()` being called (and its Doxygen documentation describes it purpose).  You set a breakpoint on that and the debugger will pause just before it throws.  More advice and details can be

[2017-09-03 01:53] aprokop commented on #1676
I've implemented (but not fully tested yet) the first version of the new (merged) `CoalesceDropFactory` and ran the driver on a _single processor with OMP_NUM_THREADS=1_

with the following parameters:
[code]
using the following input deck:
[code]

The result is attached. The cost of the new `CoalesceDropFactory` has slightly increased but the full cost of the `FilteredAFactory` is gone.

[2017-09-03 02:08] aprokop commented on #1676
And here is how the new CoalesceDropFactory compares agains non-Kokkos (standard) branch.

![old_vs_new](https://user-images.githubusercontent.com/7297887/30000016-2d8a6124-902b-11e7-9cd1-ee414e99e259.png)

[2017-09-03 02:12] tawiesn commented on #1676
@aprokop It's hard to see how much time we save with your changes. Seems that the simulation is about 2 seconds faster than before?
Can you give numbers how much time we save relative to the overall solver time?
For the non-kokkos version: have you ported your changes to the non-kokkos version or do you just compare the kokkos run with OMP_NUM_THREADS=1 with the standard non-kokkos version?

[2017-09-03 02:18] tawiesn commented on #1676
@jhux2 What's the status of the matrix-matrix multiplication?
@aprokop Did you use the most recent changes there? Smoother setup (Chebyshev) as well as RAP product and prolongator smoothing (i.e. MM multiplication) are still the most expensive parts. And if i interpret @aprokop's graphs the kokkos version is slower as the non-kokkos version.

[2017-09-03 02:18] tawiesn commented on #1676
@aprokop Any idea what's wrong with the CoordinatesTransferFactory in the Kokkos version? The timings seem to be off quite a bit...

[2017-09-03 02:40] aprokop commented on #1676
Sounds about right. The main thing is that it is no longer 2x expensive compared to serial.

Problem dependent. This one save 2 seconds out of 35. Does not sound great... But the hope is when we go multiple threads it will scale better.

I have not ported any changes to non-kokkos. This is what you are saying it is.

Yes, this is the tip of `develop`.

No idea at the moment, the cursory look did n

[2017-09-03 03:55] aprokop commented on #1613
@jjellio FYI: I'm currently working on optimizing the scalar MueLu/Kokkos which should improve performance. If you are all set up, please give `kokkos` branch from `aprokop/Trilinos` a whirl on NERSC.

[2017-09-03 05:19] aprokop opened #1681 "MueLu: catch-all for KokkosRefactor branch tasks"
- [ ] Introduce a performance monitoring framework to monitor performance results
   Could be similar to interface test. Could use performance file structure.
- [ ] Implement new smoothed prolongator construction [#1743]
- [ ] Kokkosify AmalgamationInfo
  It should be the **only** place to do node <-> dof transformations
- [ ] Optimize block CoalesceDrop
- [ ] Get rid of `ArrayRCP` in UncoupledAgg

[2017-09-03 08:29] aprokop commented on #1681
The latest.

Includes:
- Parallelize loops in Aggregates_kokkos::GetGraph()
- Use Aggregates::GetGraph() in CoordinatesTransferFactory
- Bypass amalgamation for blkSize=1 in CoordinatesTransferFactory

Result (non-Kokkos vs Kokkos):
- UncoupledAggregation slightly up due to explicit `Aggregates::ComputeAggregateSizes` call
- Tentative slightly down
- CoordinatesTransfer down

![old_vs_new](https:/

[2017-09-03 12:28] looooo commented on #1540
The package is build but the upload is not working. Maybe try to re-render the feedstock.

[2017-09-03 20:20] tjfulle commented on #1673
With the attached configuration (based on the configuration that @ibaned posted on the Albany issue), I am unable to reproduce the build error with my latest branch (#1665). I am building with the develop branch of Trilinos as we speak. I'll post the results as I get them.

[do-configure-ride.txt](https://github.com/trilinos/Trilinos/files/1273210/do-configure-ride.txt)

[2017-09-03 21:32] mhoemmen commented on #1669
@aprokop I think it may make sense for a CrsGraph to remember that its column Map was constructed rather than given.  The whole way Epetra or Tpetra does Import for mat-vecs is a little bit funny to me, though.  I see the "column Map" as an artificial construct that forces every mat-vec communication through the most general use case of Import.

It might be better for CrsGraph and CrsMatrix to dis

[2017-09-03 21:36] aprokop commented on #1669
No chance of that happening in the near-term future, is there?

[2017-09-03 21:41] mhoemmen commented on #1669
@aprokop wrote:

I do have some plans to add Import interfaces for supporting common boundary exchange use cases, where users already know who owns what (this would skip the expensive `Map::getRemoteIndexList` call in Import's constructor).  It would also make sense to merge `CrsGraph::makeColMap` and `CrsGraph::makeImportExport` into a single function.  The latter would be the natural place to ad

[2017-09-03 21:48] gpkc commented on #862
Sorry for reposting but I don't know where else to follow this. How is the update for Python 3 going? Please let me know if there is something I can help with, although I have virtually no experience with SWIG.

Supporting Python 3 would surely be a great addition to PyTrilinos, since the Python 2 will only be maintained until 2020.

[2017-09-03 21:51] aprokop commented on #1669
Maybe? I think Import is less important in this context compared to column map. For us, it's the fact of whether we need to go to GIDs is crucial, which only relies on row and column maps, and not on Import which depends on domain map.

[2017-09-03 21:58] mhoemmen opened #1682 "Tpetra's CMake should check & require Kokkos_ENABLE_Cuda_Lambda=ON"
@trilinos/tpetra @tjfulle

Kokkos used to enable `KOKKOS_LAMBDA` purely at build (not configure time), as a function of `CUDA_VERSION`.  Recently, Kokkos changed to require setting a CMake option to enable lambdas.  Tpetra requires that `KOKKOS_LAMBDA` work, so it would make sense for Tpetra to check at configure time whether that CMake option is enabled.

This currently only matters for CUDA buil

[2017-09-03 22:13] mhoemmen commented on #1669
@aprokop wrote:

That's a good point.  The Import feature would be more useful for #385.  The thing you're talking about is really a property of the CrsGraph, not a property of the Import.  It could be computed lazily, and it is local to each MPI process.

[2017-09-03 22:17] mhoemmen commented on #1673
Hm, my CUDA 7.5 doesn't build with Boost 1.59 (the default SEMS Boost):
[code]

[2017-09-03 22:31] aprokop commented on #1669
Yes. My thinking is that you add a tri-state (UNKNOWN, FALSE, TRUE) mutable variable to the CrsGraph, lets call it `matchingMaps_`. If you construct a CrsMatrix with just a row, it's automatically set to TRUE. If you provide a column map, it's set to UNKNOWN. We add a public function to `CrsGraph`
[code]
I think that while in our case we only check matching for the case numRows <= numCols, it stil

[2017-09-03 22:48] tjfulle commented on #1673
I get a clean build on the develop branch with the attached configure script.  I have requested the actual configure script that is showing a failure during build.

[do-configure-ride-develop.txt](https://github.com/trilinos/Trilinos/files/1273312/do-configure-ride-develop.txt)

[2017-09-03 23:29] mhoemmen opened #1683 "Tpetra: Enable GO=long long by default for CUDA builds too"
@trilinos/tpetra @trilinos/teko

In CUDA builds, Tpetra currently uses `int` and `long` as the default `GlobalOrdinal` (GO) types.  This is because at one point, `GO = long long` did not work in CUDA builds.  I'm testing _just_ enabling `GlobalOrdinal = long long` with CUDA 8.0 and GCC 5.3.0 right now, and it builds just fine.  Thus, it would make sense for Tpetra to enable `long long` instead of

[2017-09-04 00:34] mhoemmen commented on #1683
FYI, `long long` has worked in CUDA since CUDA 7.0, according to the table in the CUDA C programming guide:

http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#restrictions

[last accessed 03 Sep 2017].

[2017-09-04 00:38] mhoemmen commented on #1669
@aprokop I just spent a good hour last week explaining the "statefulness" of `Tpetra::Crs*` to a room that wants to strip it away....  On the other hand, this feature looks useful.

Could it make sense for this function to belong to the preconditioner, instead of to the CrsGraph?  That would lose the advantage of knowing that it's `TRUE` a priori, though.

[2017-09-04 00:50] aprokop commented on #1669
Exactly the problem. Preconditioner has no idea, which will mean that in MueLu we will have to **always** do the computations to figure things out. While it's not as expensive as uncoditionally using GID2LID conversions, it does cost, and should not be necessary.

[2017-09-04 01:36] aprokop commented on #1681
The latest.

Includes:

- Get rid of subview creation in LWGraph_kokkos::getNeighborVertices
- Use ViewAllocateWithoutInitializing
- Misc optimizations in CoordinatesTransferF

Result (non-Kokkos vs Kokkos):

- UncoupledAggregation is now on parity with serial version
- CoordinatesTransfer is significantly down

non-Kokkos: 32.57s
Kokkos: 34.46
Slowdown: 1.79s (5.5%)

[2017-09-04 02:24] mndevec commented on #1538
@jjellio
I made another push to MJ. premigration option is now binary, any positive number is equivalent to 1. Could you give it another run? (Just with mj_pregmiration_option = 1)

In your runs, multigrid reduces the number of ranks from 32K to 24K in the first repartitioning. MJ premigration reduces the number of ranks from 32K to 24K, therefore it does not really make that much difference. In P

[2017-09-04 04:02] aprokop commented on #1681
Here is a quick comparison of timers:
[code]
Here is the problem: Ifpack2's Chebyshev eigenvalue estimation vastly differs between a serial node and OpenMP with a single thread.
[code]
I have no explanation for this. @mhoemmen Any idea? This is with a single MPI rank and the following OpenMP environment variables:
[code]

[2017-09-04 04:36] mhoemmen commented on #1681
@aprokop It's not obvious to me why the initial guess computation should be so much slower.  This could be a Kokkos issue, since Tpetra just defers to Kokkos' pseudorandom number generator.

We've seen before that `Ifpack2::Chebyshev`'s power method is sensitive to the pseudorandom number generator, so it's possible that the OpenMP case is unlucky.  How do the iteration counts compare?

[2017-09-04 04:42] mhoemmen commented on #1669
@aprokop wrote:

Let's talk offline about that.  Send me some e-mail so I don't forget.

I think it makes sense to make this a property of CrsGraph.  It's a local property too.  Is this something for which you might like to submit a pull request?  I would certainly welcome it :-) .

[2017-09-04 04:57] aprokop commented on #1681
@mhoemmen I'm not so much worried about `computeInitialGuessForPowerMethod` but rather about `powerMethodWithInitGuess` which should just be matvects and residuals.

This is not an iterative method, it does not have a convergence based on tolerance. Rather, it does a fixed number of iterations. The only early exit criteria if norm somehow becomes zero, but that is certainly not the case here. So I

[2017-09-04 04:59] aprokop commented on #1669
@mhoemmen Will do.

[2017-09-04 05:48] jjellio commented on #1538
Yes, I'll pull and update my builds.

It is important to note: I've been fiddling with system parameters, and atleast for the case of Tpetra's SpMV I am now observing the best single node performance from a single process on a KNL node. (e.g., ~256 threads). This is good news, and means I've address several of the problems I ran into on the first Cori runs. The stuff I've twiddled with substantial

[2017-09-04 05:51] aprokop commented on #1538
@jjellio How do you plan to disseminate your experience?

[2017-09-04 06:00] jjellio commented on #1538
Should be a slide deck. Right now, I am working on the scripts that score and aggregate the various options.  I need to know which set of parameters to choose as the baseline before I can redo the runs.

[2017-09-04 18:16] mhoemmen commented on #1681
@aprokop wrote:

Hm, that's weird.  I don't think the BLAS gets called at all; it's all kokkos-kernels stuff.

[2017-09-04 18:59] aprokop opened #1686 "MueLu: failing KokkosRefactor TentativePFactory test"
@trilinos/muelu @tawiesn

It has been failing for weeks, and goes back as far as CDash allows to (2017/08/10). Has it ever passed?

[code]

[2017-09-04 19:39] mhoemmen commented on #1683
Fixed in develop.

[2017-09-04 19:39] #1683 closed

[2017-09-04 19:40] mhoemmen commented on #1683
This fix made Tpetra's CMake logic simpler.  I was pleased to find out that CUDA supports `long long` as of 7.0.

[2017-09-04 19:44] mhoemmen commented on #1672
@tjfulle This is a quick fix, so I'll just take care of the shadow warnings for now.  Sorry if that causes merge drama :-) .

[2017-09-04 19:45] #1651 closed

[2017-09-04 19:47] mhoemmen commented on #1598
I think we answered the question, so I'll close this issue.  Please feel free to reopen if the question was not answered, or to open a new issue for a different question.  Thanks!

[2017-09-04 19:47] #1598 closed

[2017-09-04 20:52] tjfulle commented on #1672
@mhoemmen , it's already taken care of in #1665 too

[2017-09-04 21:00] tjfulle commented on #1682
There also seems to be a disconnect between `c++11` and `lambda` options.  Specifically, to compile `Kokkos` with `KOKKOS_LAMBDA` enabled, the CMake option `Kokkos_ENABLE_LAMBDA=ON` **and** `--expt-extended-lambda` must be added to `CMAKE_CXX_FLAGS`.  But, if `--expt-extended-lambda` is added to `CMAKE_CXX_FLAGS`, then `-std=c++11` must also to avoid configure time errors.  It would seem that thes

[2017-09-04 21:24] mhoemmen commented on #1672
Sorry @tjfulle -- actually my internet is a little weird today, so I should un-take this :-) .

[2017-09-04 21:52] tjfulle commented on #1673
I was able to reproduce the error with a different configuration just now.  Looking in to this as part of #1665

[2017-09-05 00:13] aprokop commented on #1681
The latest.

Includes:
- Distance Laplacian for scalar
- Get rid of `ArrayRCP` in Aggregates (for `isRoot_`)
- Reenabled block tentative prolongator and coalescedrop. Completely unoptimized.

No real changes in timings as this was mostly a new feature thing.

Spent some time tracking vanishing changes in timings. For some reason, timers misbehaved in the middle of day, getting RAPFactory for level

[2017-09-05 00:27] aprokop commented on #1681
Just for fun, ran 4 MPI ranks vs 1 MPI ranks with 4 OpenMP threads

[code]

![mpi4_vs_openmp4_filter](https://user-images.githubusercontent.com/7297887/30040576-0d79cdae-91af-11e7-9036-e237f710b77d.png)

Not sure what's going on with the matrix-matrix multiply, the time does not change with 4 threads. Does it really use the new threaded version?

[2017-09-05 00:45] tawiesn commented on #1686
@aprokop I am very sure that it has passed when i did my last commit in that factory.

[2017-09-05 00:58] aprokop commented on #1686
@tawiesn It seems that your last commit was a21a10ad576ee8fbd1a6085844c9ba7ff5fa917d. The only other meaningful commit since was @csiefer2 in bc921997b5262b0078070905ab68d6b64cb69776.

[2017-09-05 01:09] aprokop commented on #1686
Btw, does everybody enable `MueLu_ENABLE_KokkosRefactor=ON` in the checkin script? Personally, I did not until today, as it slipped my mind. Thus, it may not be clear from the checkin attachment whether the kokkos branch tests actually ran.

[2017-09-05 13:50] ibaned opened #1687 "Phalanx build error with Intel compiler"
Nightly builds of Albany using this SEMS Intel compiler:
[code]
are producing the following error while compiling Trilinos:
[code]
@trilinos/phalanx

[2017-09-05 15:06] jmgate commented on #1667
Just a heads-up:  I contacted GitHub support and discovered my account was not flagged.  It seems there may be another source of missing email notifications that we're not yet aware of.

[2017-09-05 15:42] jhux2 commented on #1686
@aprokop I don't.

[2017-09-05 15:44] jhux2 commented on #1678
Seems like a reasonable first step.

[2017-09-05 15:45] bartlettroscoe opened #1688 "Teuchos broken in Nightly Linux-GCC-4.4.7-MPI_OPT_DEV_XYCE build"
**CC:** @trilinos/framework, @trilinos/teuchos, @ibaned

**Description:**

Looks like Teuchos is failing to build in the Linux-GCC-4.4.7-MPI_OPT_DEV_XYCE build for all recorded time as shown by:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-09-04&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.4.7-MPI_OPT_DEV_XYCE&field2=buil

[2017-09-05 15:46] bartlettroscoe commented on #1688
@ibaned, I think this is the new TeuchosParser code you added a while back.  Can you take a look?  Should be easy to fix.

[2017-09-05 15:47] ibaned commented on #1688
Oh, I guess this is on me. I've been using GCC 6.1.0 with `--std=c++98`, but I guess that doesn't fully replicate the limitations of GCC 4.4.7. I'll try to fix this soon.

[2017-09-05 15:51] rppawlo commented on #1687
@ibaned Can you send me a list of the sems modules you loaded and a corresponding configure script.

[2017-09-05 15:51] bartlettroscoe commented on #1679
@aprokop,

Also, if you have a working version of BinUtils installed on your machine that is compatible with your C++ compiler, you can enable BinUtils and get stack traces when thrown using TEUCHOS_TEST_FOR_EXCEPTION() and caught by  TEUCHOS_STANDARD_CATCH_STATEMENTS().  See "Stack Tracing" at:

* https://trilinos.org/docs/dev/packages/teuchos/doc/html/index.html

[2017-09-05 15:52] ibaned commented on #1688
Okay, submitted a proposed fix as #1689

[2017-09-05 16:01] csiefer2 commented on #1686
I don't either.

[2017-09-05 16:41] csiefer2 commented on #1682
Is this related to the CUDA 8 transition?

[2017-09-05 16:44] csiefer2 commented on #1681
@aprokop Rebuild with -DTpetra_ENABLE_MMM_Timings: If you see timers with "OpenMP" in them, then yes, you're getting the OpenMP multiply.

The build control for that has been in various states of disarray for the last two weeks... In theory it should be OK now (but somebody should check).

[2017-09-05 16:59] rppawlo commented on #1687
@ibaned Fixes are in. derived dtors needed noexcept declaration. checkin-test script is running.

[2017-09-05 17:00] ibaned commented on #1687
@rppawlo thanks, I was getting you the configuration but I guess you're all set.

[2017-09-05 17:27] aprokop commented on #1686
Hmm, it's not bc921997b5262b0078070905ab68d6b64cb69776. Both it and one prior to it fail. So @csiefer2 off the hook. I then went back to may, and it still fails for a21a10ad57. You can make it to not throw with disabling Kokkos array bounds checks, but it still fails for me:
[code]
The checks seem to fail due to rounding off errors, though. So maybe they were passing because of that too at some po

[2017-09-05 17:38] mhoemmen commented on #1682
@csiefer2 No.  You need the options with both CUDA 7.5 and with CUDA 8.

[2017-09-05 18:32] aprokop commented on #1669
OK, the priority on adding `getLocalMap` increased as I found another place (in Tentative P) where would need it for `getGlobalElement`. I also need to introduce `isGlobalElement` to Tpetra's `LocalMap`.

[2017-09-05 18:34] rppawlo commented on #1687
Changes pushed. Moving to in_review. Will close if Albany tests pass tonight.

[2017-09-05 18:39] mhoemmen commented on #1669
@aprokop wrote:

I'm not a fan of `isGlobalElement` (or `isLocalElement`) since it is redundant with `getGlobalElement` and throws away useful information, namely the returned global index if it is valid.

[2017-09-05 18:51] aprokop commented on #1669
@mhoemmen I agree with you, but then it becoms quite painful:
[code]

[2017-09-05 19:03] jwillenbring commented on #1155
I have been testing Aaron's work along with some Jenkins jobs I put together to do very basic testing of Trilinos. This has been largely successful in the narrow scope of testing without reporting to CDash (which is the scope @maherou encouraged me to pursue given other difficulties). An example of a pull request that underwent successful testing with this tool (but is lacking final inspection) ca

[2017-09-05 19:11] rppawlo commented on #1687
yeah - sorry - was having trouble with the config, but finally figured it out...

[2017-09-05 19:18] jgfouca commented on #1667
@jmgate then they must be being filtered on the Sandia side.

[2017-09-05 19:25] aprokop commented on #1155
@jwillenbring My personal opinion is that you should not do automatic merging. This prevents other people from a chance to look at your code and notice the problems. I understand that it will slow down the process but the improved quality should compensate for that.

[2017-09-05 19:31] mhoemmen commented on #1669
@aprokop ha, good point ;-) .  Users just need to realize that `is*Element` costs the same as `get*Element`.

[2017-09-05 19:45] mhoemmen opened #1694 "Trilinos' configure output incorrectly claims that it supports CUDA 3.2 at a minimum"
See this issue:

https://github.com/TriBITSPub/TriBITS/issues/222

[2017-09-05 20:00] rppawlo commented on #1552
@VictorEijkhout - I will push a fix to Trilinos development branch shortly. To get past this now, you can either enable the phalanx tests (Phalanx_ENABLE_TESTS=ON) or disable the phalanx examples (Phalanx_ENABLE_EXAMPLES=OFF). Examples currently require tests. Sorry for the trouble.

@bartlettroscoe - a couple of the examples in phalanx use a test-only library. I was under the impression that "tes

[2017-09-05 20:14] aprokop opened #1695 "Tpetra: add a matching maps check to CrsGraph"
@trilinos/tpetra

Recording the issue so that I won't forget.

This is coming from #1669.
This is a check for whether row and column maps are compatible, i.e. whether colGIDs = [rowGIDs, ghosts].

My thinking is that you add a tri-state (UNKNOWN, FALSE, TRUE) mutable variable to the CrsGraph, lets call it matchingMaps_. If you construct a CrsMatrix with just a row, it's automatically set to TRUE.

[2017-09-05 20:17] ZaherHa commented on #66
i have a warning in IDE0006 when i lunch the Xamarin App haw i can fix it??

[2017-09-05 20:20] aprokop commented on #66
@ZaherHa Please create a new issue for it. Please provide the full warning message and the configuration script that you used.

[2017-09-05 20:22] ZaherHa commented on #66
it is all here
[Xamarin.Android.Build.Tasks] IDE0006 warning on File -> New CrossPla…
…tform App (#730)

Context: https://bugzilla.xamarin.com/show_bug.cgi?id=58448

Based on feedback from the VS team we now know that library
projects are NEVER built as part of a DesignTimeBuild :(.

Furthermore, if ANY error occurs during the DesignTimeBuild
VS throws a wobbly and does not initialise the project

[2017-09-05 20:23] ZaherHa commented on #66
it is have issue here but i did not find the solve

[2017-09-05 20:25] ibaned commented on #66
@ZaherHa this is the Trilinos GitHub page. Your issue doesn't seem to have anything to do with Trilinos?

[2017-09-05 20:26] aprokop commented on #66
@ZaherHa This is not a Trilinos issue from what I can tell.

[2017-09-05 20:27] ZaherHa commented on #66
so What i must to do now to solve this warning??

[2017-09-05 20:32] aprokop commented on #66
@ZaherHa Post the issue [here](https://github.com/xamarin/xamarin-android).

[2017-09-05 20:33] ZaherHa commented on #66
Ok thanks

[2017-09-05 20:34] aprokop commented on #66
@ibaned Can we purge the history on this issue?

[2017-09-05 20:37] mhoemmen commented on #1673
OK, I get it.  `vals_in` uses `device_type`; its memory space is `CudaUVMSpace`.  `vals_out` is a subview of `exports`, and therefore its memory space is `CudaSpace`.

I'm not sure why some compilers accepted this; it could be that Kokkos defines some kind of conversion, since `input_buffer_type` and `output_buffer_type` in `PackTraits` are both `MemoryUnmanaged`.

[2017-09-05 20:40] bmpersc commented on #1155
@aprokop you mention that you're concerned more people won't have time to review pull requests properly. What would you consider to be an acceptable amount of reviewers to look over a pull request? Do you have any thoughts on how to prevent a pull request from being trapped in limbo waiting for the necessary reviews?

[2017-09-05 20:44] tjfulle commented on #1673
If that were the problem, Shouldn't `gids_in` also fail to compile?  Why does it only fail for Stokhos' Sacado UQ types?

[2017-09-05 20:45] mhoemmen commented on #1673
Yeah, that's weird.  I still think the issue I observed is important so I'll fix it.

[2017-09-05 20:45] ibaned commented on #66
There are "Delete comment" buttons on the upper right of each comment (at least in my view).

[2017-09-05 20:48] mhoemmen commented on #1672
Fixed in develop; thanks @ibaned !

[2017-09-05 20:48] #1672 closed

[2017-09-05 20:50] aprokop commented on #1155
The more the better, but minimum = 1.

This is more of a social issue, and depends on the PR type (new feature/bug fix/comment fix). I would say for high priority things the author is allowed to merge once CI tests pass. For other smaller sized patches, couple days would be my guess for a deadline. For a brand new feature, depends.
From a workflow perspective, you could have a bot running and tagg

[2017-09-05 20:50] bartlettroscoe commented on #1155
What Kitware implemented with their "ghostflow" system with GitHub was to have people add commands in the comments that fire off builds, do the final merges, etc.  See:

* https://mathstuf.github.io/pages/#1

That is the system to study I think.

[2017-09-05 20:51] aprokop commented on #66
I'm talking about "censoring" aspects of rewriting history. What's Trilinos policy on that?

[2017-09-05 20:53] ibaned commented on #66
Beats me. @jwillenbring @bmpersc ?

[2017-09-05 20:58] bartlettroscoe commented on #1552
@rppawlo,

This many need a little tweaking.  Some parts of TriBITS lump tests and examples together as the same thing.  This may be a case where there is some inconsistency.

It think we need to better define these concepts a little more and better deal with test execs, example execs vs. other execs a little more explicitly along the lines of:

* https://docs.google.com/document/d/1WKs8rJhI3037yK

[2017-09-05 21:04] jmgate commented on #1667
Got an email back from GitHub support that in fact it was that an email sent by their third-party provider had bounced.  It sounds like the safest thing to do at this point is to just rely on web notifications instead.  Thanks all.

[2017-09-05 21:36] dridzal commented on #1667
Same here.  Github support says that my account has not been flagged, yet I'm still not receiving all notifications.  Just today, I received only 2 out of 6 notifications for a recent issue.

[2017-09-05 21:36] #1337 closed

[2017-09-05 21:39] jwillenbring commented on #1155
I should have said more here. The auto merge will not occur until a review is performed on the pull request (the review settings are configurable, but I will describe the current plan).

If someone is outside of the Trilinos organization, and the branch containing the changes is not on the trilinos/Trilinos repo, then that review must occur before the testing will even kick off. This is to allow p

[2017-09-05 21:55] aprokop commented on #1155
@jwillenbring Thanks for the explanation, it sounds a lot better than what I had in mind before.

Is this keyword based? Or Github review "Request Changes"?

[2017-09-05 22:10] rppawlo commented on #1552
Phalanx fix was pushed in https://github.com/trilinos/Trilinos/commit/d7c00d45f0e2afe1cf19c70159cd589be34db8b8

[2017-09-05 22:40] jwillenbring commented on #1155
Github review "Request Changes"

[2017-09-05 23:25] #1624 closed

[2017-09-05 23:31] jmgate commented on #1608
Is adding this generic exception to @trilinos/thyra or @trilinos/stratimikos something I should take on?  I don't really have any experience contributing to either package.

[2017-09-05 23:57] jgfouca commented on #1667
@jmgate, can you clarify? There are multiple vectors that github can send you email?

[2017-09-06 00:30] tjfulle commented on #1673
@mhoemmen , with the fix you suggested, the code compiles, but two stokhos tests (`Stokhos_KokkosCrsMatrixUQPCEUnitTest_Cuda_MPI_1`, `Stokhos_TpetraCrsMatrixUQPCEUnitTest_Cuda_MPI_4`) fail with similar segfaults:

[code]

Is it legal to create an unmanaged view from a raw pointer on one device type on another (`LocalMap::device_type` to `BufferDeviceType` in this case)?

[2017-09-06 01:44] bartlettroscoe commented on #1608
Is the issue that a preconditioner is applied as Thyra::LinearOpBase::apply()?  That function has no way of failing (it is assumed to always pass).   So would you need an exception called something like Thyra::LinearOpApplyFailed which would mean that Thyra::LinearOpBase::apply() really should have been able to compute the application of the linear operator but could not for some reason (e.g. max

[2017-09-06 02:34] aprokop commented on #1686
I found the problem:
[code]
The second for should have `m2` instead of `m1`. The code has been there since the beginning of block tentative P, so since March. So I don't know how it ever worked.

[2017-09-06 02:39] tawiesn commented on #1686
@aprokop Oh, i remember that i've fixed that bug at some point. Maybe i forgot to push that. Anyway, thanks for tracking it down.

[2017-09-06 02:54] mhoemmen commented on #1673
@tjfulle wrote:

Those tests may have been failing before; they look pretty familiar.

If `LocalMap::device_type::memory_space` is `Kokkos::CudaUVMSpace`, and `BufferDeviceType::memory_space` is `Kokkos::CudaSpace`, then yes, it is legal.  The key is _unmanaged_.  I was careful to use compile-time unmanaged Views (via `Kokkos::MemoryUnmanaged`) to make the point clear.

[2017-09-06 03:20] aprokop commented on #1686
@tawiesn Oh, that's just dandy.

[2017-09-06 03:25] mhoemmen commented on #1673
Kokkos has some Impl namespace type traits for determining whether an execution space can access a memory space.  They are a bit weird (you have to use the execution space's memory space for the first argument, not the execution space itself) and are in the Impl namespace (therefore not technically legit for external use).

You could also do this, though it will need revision if other non-CUDA, no

[2017-09-06 03:30] mhoemmen opened #1697 "Tpetra: Add ExecutionSpaceCanAccessMemorySpace type trait"
@trilinos/tpetra

Kokkos has some Impl namespace type traits for determining whether an execution space can access a memory space.  They are in the Impl namespace, though, and therefore not OK for external use.  They also have a quirk: you have to use the execution space's memory space for the first argument, not the execution space itself.  See https://github.com/kokkos/kokkos/issues/178 .

This

[2017-09-06 03:31] mhoemmen commented on #1673
See #1697.

[2017-09-06 03:40] tjfulle commented on #1673
@mhoemmen, If those two failing Stokhos tests are okay with you, I'll forego losing another night's sleep over this!

For the pack/unpack routines, unmanaged `Kokkos::View`s are created from the input `Teuchos::ArrayView`s in `local_map::device_type`.  Should that be modified so that all of the unmanaged `Kokkos::View`s involved in the packing/unpacking procedures are created in `buffer_device_typ

[2017-09-06 06:28] aprokop commented on #1613
I've looked at the current implementation of the block branch of the Tentative P factory. It is quite suboptimal, and used dense matrix-matrix multiplications instead of utilizing properties of Householder rotations. So, instead of n^3 complexity we get n^4. I have a fix in progress. It will be merged later with other improvements that are currently in the kokkos branch in aprokop/Trilinos.

[2017-09-06 06:54] aprokop commented on #1366
Interested parties are could try current `kokkos` branch in aprokop/Trilinos.

[2017-09-06 12:20] nschloe opened #1698 "Teuchos: TeuchosParser_Parser_UnitTests_MPI_1 succeeds on amd64, but fails on ppc64el"
Until recently, all tests that succeeded on amd64 also succeeded on ppc64el, but now `TeuchosParser_Parser_UnitTests_MPI_1` fails on ppc64el. Full details [here](https://launchpadlibrarian.net/334980880/buildlog_ubuntu-zesty-ppc64el.trilinos_12.13~git20170829-00ed31d9-1zesty1_BUILDING.txt.gz).
[code]

[2017-09-06 13:51] ibaned commented on #1673
The Albany dashboard in question successfully compiled this morning. This issue is resolved, for me at least.

[2017-09-06 13:53] ibaned commented on #1687
Unfortunately the dashboard in question uses the Trilinos master branch, so unless we do some manual overriding we'll have to wait for Trilinos to merge develop into master.

[2017-09-06 14:18] ibaned commented on #1698
Hmm... I'm responsible for this code, but I might not be able to figure this out without access to a machine of this architecture...  @nschloe is there a cloud service that could provide one?

@trilinos/framework do we have `ppc64el` machines?

[2017-09-06 14:40] jmgate commented on #1667
@jgfouca, I'm not sure.  Here's my email conversation with GitHub support:

----------

----------

----------

[2017-09-06 15:02] ibaned commented on #1698
so I wasn't familiar with the architecture codes, but I guess Power 8 is in this category? If so I should have a machine I can test on.

[2017-09-06 15:14] ibaned commented on #1698
I've replicated the issue, will now debug it.

[2017-09-06 15:25] tjfulle opened #1699 "MueLu: Test failures on CUDA"
@trilinos/muelu

The following tests fail on CUDA (`ride.sandia.gov`, gcc 5.4, openmpi 1.10.4, cuda 8.0.44):

[code]

All of the MueLu tests failed with the following error:

[code]

[2017-09-06 16:00] ibaned commented on #1698
subtle issue related to `char = unsigned char` on this architecture, versus `signed char` on most others. Fix is in PR #1700, which I'll kick off the merge process for right away.

[2017-09-06 16:06] ibaned commented on #1698
Fix is in develop branch now.

[2017-09-06 16:07] ibaned commented on #1698
I'll close this assuming that it fixes the problem (confirmed on our POWER8 machine), but please reopen it if it doesn't actually fix it.

[2017-09-06 16:07] #1698 closed

[2017-09-06 16:12] nschloe commented on #1698
Thanks!

[2017-09-06 16:21] tjfulle commented on #1344
@bartlettroscoe, feel free to close this issue, unless you think it warrants more action.

[2017-09-06 16:29] jhux2 commented on #1699
@tjfulle These have been failing for sometime now.  If they are blocking your checkins or testing, it is safe to disable/ignore them.

[2017-09-06 16:32] tjfulle commented on #1699
Thanks @jhux2!  I figured the failure was not due to my work, but thought I'd post them to be sure.

[2017-09-06 16:41] tjfulle commented on #1682
@mhoemmen, is the issue larger than Tpetra?  For example, if `Kokkos_ENABLE_LAMBDA` is on, shouldn't TriBITs make sure the appropriate `CMAKE_CXX_FLAGS` are set?  Likewise, if `Trilinos_ENABLE_CXX11=ON`, it seems unnecessary to also manually add `-std=c++11` in `CMAKE_CXX_FLAGS`.  @bartlettroscoe ?

[2017-09-06 17:01] rppawlo commented on #1687
@ibaned - I'm fine with leaving it open until verified on master.

[2017-09-06 17:07] jgfouca commented on #1667
@jmgate OK, that explains why you still receive ~70% of your notifications when your account gets flagged. So my steps 3 and 4 are basically correct except it's this 3rd party involved instead of GitHub.

[2017-09-06 17:10] mhoemmen commented on #1682
@tjfulle I'm hoping that all these lambda flags are a temporary measure, and that once we actually need to deploy GPU-enabled solvers for serious production work, everything will just automatically happily build and run with the default options.  This could be utter fantasy, though ;-) .

[2017-09-06 17:14] mhoemmen commented on #1613
@aprokop wrote:

I could use that for other reasons -- nice!

[2017-09-06 17:32] mhoemmen commented on #1673
Which Views specifically?  We'll need to revisit all this when we make CrsMatrix implement the "new" DistObject interface; that will completely eliminate the need for intermediate `Teuchos::ArrayView`.

[2017-09-06 17:51] aprokop commented on #1613
@mhoemmen The only minor caveat is what we do for fat matrices, this is is multigrid specific. Square and tall are textbook.

[2017-09-06 19:13] aprokop commented on #1681
Things to do to merge the current changes upstream:
- Merge `Xpetra::Map::getLocalMap()` (#1661)
- Merge `Xpetra::TpetraCrsMatrix::getLocalMatrix`
- Add `Kokkos::StaticCrsGraph::rowConst()` unit tests

[2017-09-06 19:46] bartlettroscoe commented on #1682
That is correct.  There are configure-time checks that will select the right option to use to enable C++11. or you can manually override the compiler options using `-D Trilinos_CXX11_FLAGS="<compiler flags>"`.  See:

* https://trilinos.org/docs/files/TrilinosBuildReference.html#enabling-support-for-c-11

[2017-09-06 19:47] bartlettroscoe commented on #1344
Thanks.  Closing as complete.

[2017-09-06 19:47] #1344 closed

[2017-09-06 19:51] tjfulle commented on #1682
@bartlettroscoe, right, but if `--expt-extended-lambda` is added to `CMAKE_CXX_FLAGS` I have observed that the configure fails unless `-std=c++11` is *also* added - regardless of the value of `Trilinos_ENABLE_CXX11` or `Trilinos_CXX11_FLAGS`

[2017-09-06 19:54] bartlettroscoe commented on #1682
@tjfulle,

I would have to see the full compiler commandline (which you can see with `make VERBOSE=1 <some_target>` to know for sure what is happening.

[2017-09-06 20:01] mmwolf commented on #185
There still seem to be bugs in the sparse graph reading functionality.  Some of the readSparseGraphFile functions call readSparseGraph incorrectly.  They pass fname of type std::string as the first argument to a function readSparseGraph that accepts std::ifstream instead.

[2017-09-06 20:02] mmwolf commented on #185
sorry, wrong issue.

[2017-09-06 20:02] #185 closed

[2017-09-06 20:02] mmwolf commented on #345
There still seem to be bugs in the sparse graph reading functionality. Some of the readSparseGraphFile functions call readSparseGraph incorrectly. They pass fname of type std::string as the first argument to a function readSparseGraph that accepts std::ifstream instead

[2017-09-06 20:50] mhoemmen commented on #345
@mmwolf Could you please submit a pull request?  Thanks!

[2017-09-06 21:50] tjfulle opened #1701 "Tpetra: Unused variable warning"
@rppawlo reported the following compile warning:

[code]

[2017-09-06 21:59] mhoemmen commented on #1701
Thanks @tjfulle !

[2017-09-06 22:09] jmgate opened #1702 "Panzer: Unused Parameter Warnings"
@eric-c-cyr, @rppawlo, I've seen plenty of `-Wunused-parameter` warnings that I thought were due to compiling with `-Wpedantic`.  After removing that flag, I'm still seeing them&mdash;apparently gcc's unused parameter warnings now show up with `-Wall -Wextra`.  #1644 reminded me of this, and there are some possible solutions in that discussion.  Should we see about doing something like

[code]

wh

[2017-09-06 22:33] ibaned commented on #1688
@bartlettroscoe should we see one of these builds every day?

[2017-09-06 22:41] bartlettroscoe commented on #1688
Yup.  The link above:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-09-04&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.4.7-MPI_OPT_DEV_XYCE&field2=buildstarttime&compare2=84&value2=now

show you all the builds in recorded history.  You can see the most recent build today at:

* https://testing.sandia.gov/cdash/index.php?pr

[2017-09-06 22:41] #1688 closed

[2017-09-06 22:54] mhoemmen commented on #345
@mmwolf Never mind, I'm on it.

[2017-09-06 22:59] mmwolf commented on #345
Thanks, Mark.  I had a workaround but a Tpetra solution is much appreciated.

[2017-09-06 23:02] mhoemmen commented on #345
@mmwolf Do you have a unit test?  It looks like that code was added in by somebody else and they didn't have a chance to add in a unit test, so its compilation was never tested.

[2017-09-06 23:04] mhoemmen commented on #359
We'll have threaded CrsMatrix pack and unpack soon.  We have threaded MultiVector pack and unpack already.  Please file new issues with specific requirements if this does not suffice.

[2017-09-06 23:04] #359 closed

[2017-09-06 23:05] mhoemmen commented on #39
Closing, because Tpetra developers will review many Tpetra features soon.

[2017-09-06 23:05] #39 closed

[2017-09-06 23:05] mmwolf commented on #345
@mhoemmen I don't but I can easily extract one from my application or we can add the calls to the current test.

[2017-09-06 23:07] mhoemmen commented on #345
@mmwolf It would please me greatly if you could extract out a unit test for me; thanks :D .

[2017-09-06 23:28] mhoemmen commented on #829
We've done a lot of work here.  I'll close this issue and open specific issues as needed.

[2017-09-06 23:28] #829 closed

[2017-09-06 23:29] mhoemmen commented on #799
Not needed for FY17 Q4 goals, so moving to backlog.

[2017-09-06 23:32] mhoemmen commented on #797
We don't need all these things for FY17 Q4, so I'm moving this to the backlog.

[2017-09-07 00:33] bartlettroscoe opened #1703 "Test Stokhos_KokkosCrsMatrixUQPCEUnitTest_Serial_MPI_1 failing in CI build starting 9/6/2017"
**CC:** @trilinos/stokhos, @etphipp

**Description:**

The test `Stokhos_KokkosCrsMatrixUQPCEUnitTest_Serial_MPI_1` is failing starting in the CI iteration started at 9/6/2017 at 22:56 UTC shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3094672

The commits pulled that CI iteration are shown at:

* https://testing.sandia.gov/cdash/viewNotes.php?buildid=3094673##no

[2017-09-07 00:35] bartlettroscoe commented on #1703
This test needs to be fixed ASAP or disabled in the CI build or it will block other people trying to push using the checkin-test-sems.sh script when making changes to any of the upstream packages:

* Kokkos Teuchos KokkosKernels RTOp Sacado Epetra Zoltan Shards Triutils Tpetra TrilinosSS EpetraExt Thyra Xpetra Isorropia AztecOO Galeri Amesos Pamgen Zoltan2 Ifpack ML Belos Amesos2 Anasazi Ifpack2 S

[2017-09-07 00:45] bartlettroscoe commented on #1304
FYI: The CI build is broken due to failing test `Stokhos_KokkosCrsMatrixUQPCEUnitTest_Serial_MPI_1` just pushed (see #1703).  I am pushing a disable of that test for the CI build (and only the CI build).

[2017-09-07 00:53] dridzal commented on #1304
@bartlettroscoe :  Is anyone keeping track of the tests that were disabled in the CI build?  I assume that these test will be fixed at some point.  Are you the point of contact for re-enabling them?  Specifically, ROL has some tests that had to be disabled.  I recall one (checkAlmostSureConstraint), but I no longer recall others (if any).

[2017-09-07 00:59] bartlettroscoe commented on #1703
I just pushed the commit 7791da24fa07d70b42ed70653ce10171cace2ea2:

[code]

I tested that the configure passes with `./checkin-test-sem.sh --do-all` and that that test is disabled.  I did not run the checkin-test-sems.sh to push since speed in fixing the CI build is more important in this case (but confirmed the CI build passed locally after the push).  The CI build should be clean on the next CI

[2017-09-07 01:05] bartlettroscoe commented on #1596
Note, to fix this, someone needs to **first** revert the disable commit in your local `develop` branch with:

[code]

then add the new commits and push.

[2017-09-07 01:14] bartlettroscoe commented on #1304
@dridzal,

Yes, there are explicit instructions in every GitHub issue on how the person fixing the failing test should **first** revert the disable commit **before** fixing the test locally.  See https://github.com/trilinos/Trilinos/issues/1703#issuecomment-327652385.

And if you want to see the current set of disabled tests in the CI build, just look at the bottom of the file:

* https://github.c

[2017-09-07 02:18] aprokop commented on #1678
Wait until #1695 is fixed so this does not cost more. Once that's done, this check would not cost us anything for trivial maps.

[2017-09-07 04:06] mhoemmen commented on #1701
Just merged @tjfulle 's fix into develop.  Thanks!

[2017-09-07 04:06] #1701 closed

[2017-09-07 04:22] mhoemmen commented on #345
@mmwolf Thanks for reporting!  In the meantime, I'll call this closed for now.  Please feel free to reopen if needed.

[2017-09-07 04:22] #345 closed

[2017-09-07 10:34] eric-c-cyr commented on #1702
I'm not sure I'm in love with this. Why would the compiler complain about unused arguments? How does this work in a world of overloading and virtual functions. Unused arguments would seem to be a design feature of the language.

[2017-09-07 11:41] rppawlo commented on #1702
I really don't like this. It's just adding to code complexity. now users have to ewaste time learning another macro. Unless I'm missing something, we can just write the parameter in the declaration for documentation in doxygen and leave it out in the definition to get rid of the compiler warning. I do this all the time in phalanx and it is warning free with -Wall -pedantic

decl:
```void foo(int i

[2017-09-07 11:52] bartlettroscoe commented on #1703
To make sure that the checkin-test-sems.sh script would have caught this failing test before the push, I tried reproducing the failure with:

[code]

The produced a filing test and the email below:

[code]

?

[2017-09-07 12:20] VictorEijkhout commented on #1552
And with that everything compiles again.

Can you maybe send me heads-up when you release a new version?

Victor.

On Sep 5, 2017, at 5:11 PM, Roger Pawlowski <notifications@github.com<mailto:notifications@github.com>> wrote:

Phalanx fix was pushed in d7c00d4<https://github.com/trilinos/Trilinos/commit/d7c00d45f0e2afe1cf19c70159cd589be34db8b8>

—
You are receiving this because you were mentioned.

[2017-09-07 13:00] ibaned commented on #1702
This is very closely related to #1644, in which ROL had unused variable warnings and chose the macro approach. Personally, @rppawlo's solution seems better to me, no special new macros in each package.

[2017-09-07 13:04] ibaned commented on #1702
@eric-c-cyr unused arguments in a particular implementation are equivalent to declaring variables and never using them. as @rppawlo points out you can omit the name in just the implementations (e.g. overloads or overrides) that don't use it.

[2017-09-07 13:07] bartlettroscoe commented on #1702
@rppawlo

Do you have an example for us to look at?  How does Doxygen show the protoype with variable names in the Doxygen output?  How does Doxygen know the correct order of the parameters?

[2017-09-07 13:31] rppawlo commented on #1702
in the DAG_Manager in Phalanx there is an example of a deprecated function where one veriable is no longer used.

declaration:
[code]

definition:
[code]

I had to remove the unused parameter from the definition to suppress the unused warning. Doxygen still pulled out the names from the declaration. Here's the doxygen from Trilinos.org:

![screen shot 2017-09-07 at 9 24 43 am](https://user-images.

[2017-09-07 14:28] jmgate commented on #1702
Nice!  This (omitting the variable names in the `impl` file) does seem like a much cleaner solution.

[2017-09-07 15:31] dridzal commented on #1304
Great!

[2017-09-07 16:14] jhux2 opened #1705 "MueLu: add additional options to repartitioning"
@trilinos/muelu

The current repartitioning threshold has two functions:

1. if the number of rows on a process drops below the threshold, repartitioning occurs
2. specifies how many rows should be on a processor after repartitioning finishes.

This functionality should be split into two options.  We should add a second new option that allows the user to specify how many rows should be on a proces

[2017-09-07 16:23] aprokop commented on #1705
The question is: what is the default value for 2. It's hard to judge at this point, but I would assume we should start with something in 15K-40K range.

[2017-09-07 16:25] aprokop commented on #1705
By the way, this is a trivial change, could be done in 30min max. @jhux2 Do you plan to implement this, or is it up for grabs?

[2017-09-07 16:32] jhux2 commented on #1705
I can, but it has to wait a day or so.

[2017-09-07 17:03] tawiesn commented on #1686
@aprokop This happens when working both on enigma and geminga with different branches on different projects...
I think we can close that issue?

[2017-09-07 17:05] jwillenbring opened #1706 "Ifpack2 test linking issue"
@trilinos/ifpack2

I am trying to build with the following SEMS modules:

Currently Loaded Modulefiles:
[code]

and the following configure arguments:

[code]

I get the following error:

[code]

Please let me know if this is unclear. Thanks in advance.

Edited by @ibaned to format terminal output.

[2017-09-07 17:20] aprokop commented on #1686
I'll close it once I push the updated kokkos refactor branch.

[2017-09-07 17:31] jwillenbring opened #1707 "MueLu test build error"
@trilinos/muelu

I am trying to build with the following SEMS modules:
[code]
and the following configure arguments:

[code]
The output I am seeing is:
[code]

Please let me know if this is unclear. Thanks in advance.

[@jhux2 Edited for formatting.]

[2017-09-07 17:45] aprokop commented on #1707
tl; dr

[code]

[2017-09-07 17:46] aprokop commented on #1707
@csiefer2 @tawiesn

[2017-09-07 17:55] jmgate commented on #1702
What would we do about implicitly inline functions?  For instance,

[code]

We want `arg` in there for the sake of the Doxygen.  Would we have to switch this to

[code]

[2017-09-07 18:38] rppawlo commented on #1702
Splitting the definition from the declaration is probably the best choice, but I think both use cases are valid. Do we really need arg in there for the sake of doxygen? We usually list the function parameters in order in doxygen so it's usually not too hard to match them up:

[code]

Here's the output. Is this hard to figure out?

![screen shot 2017-09-07 at 2 33 11 pm](https://user-images.githubu

[2017-09-07 19:09] jmgate commented on #1702
That seems like it'd be fine.

[2017-09-07 21:59] csiefer2 commented on #1707
The fact that this failure occurs nowhere on the dashboard does not fill me with confidence...

[2017-09-07 22:33] tawiesn commented on #1699
I can reproduce the problem on geminga.

[2017-09-07 22:38] ibaned commented on #1707
Well, this code seems to explicitly call `insertGlobalValues` with an array view of `LO` values:
https://github.com/trilinos/Trilinos/blob/develop/packages/muelu/test/maxwell/Maxwell3D.cpp#L132
As @csiefer2 points out, its really strange that we don't see this build failure in the CI build of Trilinos... That build looks like it instantiates `GO=long long` and the Maxwell3D test passed a couple we

[2017-09-07 22:51] aprokop commented on #1707
I think @ibaned is correct. Why is is `ArrayView<LO>` instead of `ArrayView<GO>`? The test would pass if you only enable `<int,int>` instantiations, but would fail otherwise. I think it may be related to 6d375e363b6c7ed8b54dbe7e07bfe733b90ce2f3.

[2017-09-07 22:55] aprokop commented on #1707
@jwillenbring Can you provide the output for configuration script? We need to check ETI for Tpetra and MueLu.

[2017-09-07 23:09] tawiesn commented on #1699
Ok, found the problem and fixed it. Will push it tomorrow.

[2017-09-07 23:28] etphipp commented on #1703
The latest CI iteration shows this test now passes, so I'm closing this.

[2017-09-07 23:28] #1703 closed

[2017-09-08 00:16] aprokop opened #1708 "Panzer: protect tests if Exodus is disabled"
@trilinos/panzer

I've been running the checkin script which failed for the following tests:
[code]
While investigating, I found at least some of the throw
[code]
I assume that the tests are not properly protected for the situation when we don't have exodus compiled in.

[2017-09-08 00:33] rppawlo commented on #1708
Not sure what is going on here. The test should be protected. The PanzerAdaptersSTK subpackage has a required test dependency on SEACASExodus. Here's the dependencies file:

[code]

[2017-09-08 01:22] aprokop commented on #1708
It may have been my bad. Will reopen if can reproduce.

[2017-09-08 01:22] #1708 closed

[2017-09-08 01:50] rppawlo opened #1709 "Tempus: modify observers for application ctor ordering"
Remove requirements on observer construction and simplify implementation to support application integration.

[2017-09-08 02:24] tjfulle commented on #1304
@bartlettroscoe, this may be addressed elsewhere, but is there a best practice for the case that I want to test on multiple machines before pushing (or opening a PR)?  For example, with Tpetra, I want to make sure that the standard checkin tests pass on my RHEL blade (obviously), but also different builds on different architectures.  In this case, I may push to a branch on my fork and then update

[2017-09-08 02:30] brian-kelley commented on #1367
@mhoemmen I tried to profile this problem, and I actually can't replicate the OpenMP node slowdown on KNL anymore (but I still do on xeon). I went through my communication with other people about this and the last time I got the bad rank scaling on KNL was actually the day before I got the right command to launch an MPI+OpenMP program:
[code]
| threads | ranks | time(s) |
| -:| -:|
|8|8|0.1186|
|1

[2017-09-08 02:44] aprokop commented on #1681
Making unit tests pass is really hard. Spent a day today on this, and am still confused. The remaining test is the TentativeP in unit tests Kokkos when running with Epetra. The test tests `||fine_nullspace - P*coarse_nullspace||`. It fails due to a too large norm. But dumping the matrix and vectors shows that everything is fine. In fact, dumping and reading the matrix back makes the test pass.

I

[2017-09-08 03:08] mndevec commented on #1697
@mhoemmen  @srajama1 @crtrott @kyungjoo-kim @ambrad

This is needed by kokkoskernels as well. I requested to take it out of Impl namespace:
kokkos: https://github.com/kokkos/kokkos/issues/1092

Do you have plan to implement this in Tpetra?

[2017-09-08 04:23] mhoemmen commented on #1697
@mndevec I would rather that Kokkos implement it.  If Kokkos doesn't implement it, I might end up implementing it myself and putting it in `Tpetra::Details`.  However, it really does not belong in a public Tpetra namespace, because that would imply an incorrect coupling of Tpetra to Kokkos develop HEAD (rather than to the currently snapshotted version of Kokkos in Trilinos).  Note that the above i

[2017-09-08 04:26] mhoemmen commented on #1304
@tjfulle I like your thinking :-) .  Right now, one must add text manually to the commit message, explaining what tests passed where.

[2017-09-08 04:31] mhoemmen commented on #1707
@aprokop wrote:

That commit _should_ only have changed default behavior for CUDA builds.  Before, by default, Tpetra would enable `GO = int, long` for CUDA builds, and `GO = int, long long` for non-CUDA builds.  Now, Tpetra enables `GO = int, long long` for _all_ builds.

[2017-09-08 04:58] aprokop commented on #1707
@mhoemmen Sorry, you are right. In fact, looking further, this is a build without ETI. So it should be an easy change of `ArrayView<LO>` to `ArrayView<GO>`.

[2017-09-08 13:00] bartlettroscoe commented on #1304
@tjfulle:

@mhoemmen:

That would not be too hard to do with crafty usage of the checkin-test.py script.  You could run the checkin-test.py script on each machine separately (e.g. with `--local-do-all`) for special `--extra-st-builds=<specialBuildNamei>` and then you could copy a subset of the `<specialBuildNamei>/*.out` files and all of the `<specialBuildNamei>/*.success` files to your CEE LAN ma

[2017-09-08 14:30] ccober6 commented on #1709
Can you let me know what you have planned?

[2017-09-08 15:45] aprokop commented on #1686
I pushed the fix (*not* as a part of Kokkos refactor) in 68a5c5b12cab1be28c2d639ad3d01608bb08ddc8.

[2017-09-08 15:45] #1686 closed

[2017-09-08 16:26] mhoemmen commented on #1706
@jwillenbring It looks like ETI is OFF; is that right?

[2017-09-08 16:27] mhoemmen commented on #1367
@brian-kelley I'm trying to compare old and new times, but it looks like the times aren't comparable.  Do you have an updated list of old vs. new times?  Also, by how much does this slow down Serial Node?

[2017-09-08 16:46] jwillenbring commented on #1706
@mhoemmen Yes, that is right.

[2017-09-08 17:04] mhoemmen commented on #1706
@jwillenbring I'm doing an ETI OFF build right now, but with my usual options, just to see if I can replicate.  Nothing mentioned in the error depends on TPLs; `GO = int, long long` get enabled by default; and the link error is in a library, not a test; thus, turning off ETI should manifest the link error.

[2017-09-08 17:10] mhoemmen commented on #1706
@jwillenbring Hm, my ETI OFF build (`--enable-packages=Ifpack2 --default-builds="" --extra-builds=MPI_DEBUG_NO_ETI`) made it through to MueLu.  I will retry using exactly the modules and build options you show above.

[2017-09-08 17:13] jhux2 commented on #1706
@mhoemmen Thanks for looking into this.

@jwillenbring There is no nightly coverage for ETI off for Ifpack2.  There needs to be coverage, if this is how PRs are to be tested.  Alternatively, would it make sense to use ETI in the process?

[2017-09-08 17:15] jwillenbring commented on #1706
@jhux2 I am leaning strongly in the direction of turning ETI on, yes.  I was going to test that later today.

[2017-09-08 17:21] jwillenbring opened #1710 "Stokhos_KokkosCrsMatrixUQPCEUnitTest_Serial_MPI_1 failing for clean builds"
@trilinos/stokhos
CC: @trilinos/framework

The clean builds

[https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3097231](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3097231)

and

[https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3096601](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3096601)

Are showing a failure for test Sto

[2017-09-08 17:22] tjfulle commented on #1710
CC: @etphipp

[2017-09-08 17:30] mhoemmen commented on #1710
Argh, I _just_ approved #1665, but that was probably after those clean builds started, right?

[2017-09-08 17:33] mhoemmen commented on #1706
I was able to replicate the link error.  I'll work on this.

[2017-09-08 17:37] mhoemmen commented on #1706
Line 53 of `Ifpack2_ILUT_def.hpp` only included `Ifpack2_LocalSparseTriangularSolver_decl.hpp`, but the file calls `LocalSparseTriangularSolver` methods.  Thus, it should have included `Ifpack2_LocalSparseTriangularSolver.hpp`.  I'll fix this.

[2017-09-08 17:45] mhoemmen commented on #1706
I just pushed a fix to develop.  Sorry for not using the remote check-in test script; it's a one-line change and the script wouldn't have exercised this case anyway.  The fix builds with no link errors, given the above configuration.  Thanks @jwillenbring for reporting!

[2017-09-08 17:45] #1706 closed

[2017-09-08 17:46] mhoemmen commented on #1707
@aprokop wrote:

I'm a little nervous about "only when ETI is disabled."  In particular, LinearSolverFactory uses Tpetra's enabled types list to register solver factories in e.g., Ifpack2.  Ifpack2's Factory uses this in turn.

[2017-09-08 18:00] wfspotz commented on #955
I currently use version 3.0.10. Versions 3.0.11 and 3.0.12 generate wrappers that have errors in PyTrilinos.

[2017-09-08 18:00] aprokop commented on #1707
@mhoemmen The code in question (for example, for Serial execution space) looks like this:
[code]
We did not want to run the tests for *all* enabled types as this would take too long, so we decided on the priority list for the enabled types.

[2017-09-08 18:04] wfspotz commented on #862
Python 3 support is in the 12.12 release.

[2017-09-08 18:04] #862 closed

[2017-09-08 18:29] mhoemmen commented on #1707
@aprokop My only objection is use of `GO = long` in the ETI OFF case, without checking whether Tpetra enables `GO = long`.  I would propose the following change for the ETI OFF branch:
[code]

[2017-09-08 18:34] aprokop commented on #1707
@mhoemmen I don't understand. If ETI=OFF how can Tpetra disable `GO = long`? Or are you somehow talking about when Tpetra's ETI is on but MueLu's off?

[2017-09-08 18:36] mhoemmen commented on #1707
@aprokop I'm talking about how Ifpack2's Factory automatically registers solvers.  I think it works regardless, because of a hack in Ifpack2, but it would be nicer only to test for types that Tpetra (and Ifpack2, etc.) enables.

[2017-09-08 18:57] mhoemmen commented on #1707
@jhux2 For Tpetra to "enable" a GlobalOrdinal type means two things:

  1. Tpetra and downstream packages test that type by default.
  2. Any downstream solver packages may then register solvers for that GlobalOrdinal type with LinearSolverFactory.

"Registration" happens at run time.  Failure to register means that factories may not be able to create solvers with that GlobalOrdinal type.

[2017-09-08 18:58] mhoemmen commented on #1707
The registration thing is one of the compromises necessary in order to achieve dependency inversion with LinearSolverFactory.  I viewed it as a reasonable compromise, since it is bad to enable an untested GlobalOrdinal type.

[2017-09-08 20:25] etphipp commented on #1710
I believe those build don't have the commit I pushed to fix that test for the CI builds.  Looking at the configure output, HEAD is at:

--------------------------------------------------------------------------------
*** Base Git Repo: Trilinos
7791da2 [Wed Sep 6 18:38:24 2017 -0600] <rabartl@sandia.gov>
Disable failing test Stokhos_KokkosCrsMatrixUQPCEUnitTest_Serial_MPI_1 for CI bu
 ------------

[2017-09-08 20:26] etphipp commented on #1710
Sorry about the formatting on that.  I should have previewed it before commenting.

[2017-09-08 20:40] ibaned commented on #1710
@etphipp I just edited it for you. Just put three backticks before and after the terminal text.

[2017-09-08 20:42] etphipp commented on #1710
I didn't realize you could edit a previous comment (although now I see the little pencil).  Learn something new every day!

[2017-09-09 06:07] aprokop commented on #1681
OK, the failing Epetra issue was identified: #1711.

[2017-09-09 15:26] aprokop commented on #1681
Currently failing tests on CUDA:
[code]

[2017-09-09 18:04] aprokop commented on #1681
After couple fixes:
[code]

[2017-09-09 18:41] mhoemmen commented on #1681
Could `! haveGlobalConstants_` relate to @csiefer2 's optimization of telling fillComplete not to compute global constants?

[2017-09-09 19:15] aprokop commented on #1681
@mhoemmen Possibly, however at this point I expect that there is something special about blocked matrices layers in MueLu and Xpetra, rather than something in Tpetra, as all other tests pass.

[2017-09-09 19:17] aprokop commented on #1681
@tawiesn Tobias, would you help time to help me figure this one out?

[2017-09-09 19:42] aprokop commented on #1681
@mhoemmen Thanks to pointing to the right direction, though. I see a lot of churn regarding that in the Xpetra's matrix-matrix multiply, so maybe this is a corner case somehow.

[2017-09-09 21:19] aprokop commented on #1681
OK, fixed the block matrix-matrix. Out of three places to add `computeGlobalConstants()` to, it was added only to one.

All the tests pass now, both on CUDA and OpenMP. The branch is ready to merge, and only waiting for the Kokkos snapshot to introduce `rowConst()` to `StaticCrsGraph`.

[2017-09-10 01:16] aprokop commented on #1681
Just ran the checkin script without push to make sure everything is tip top... It's not. Stokhos.

[2017-09-10 01:46] Chaztikov opened #1713 "Installing Trilinos (in order to install peridigm)"
I am having a bear of a time trying to install Trilinos and its dependencies on Ubuntu to run in parallel, not sure why.   Here is my configure file:
! /bin/bash

sudo rm -r -f CMakeCache.txt CMakeFiles/
-D MPI_BASE_DIR:PATH="/usr/local/openmpi/" \
-D HDF5_INCLUDE_DIRS:PATH="/usr/local/hdf5/include" \
-D HDF5_LIBRARY_DIRS:PATH="/usr/local/hdf5/lib" \
-D Netcdf_INCLUDE_DIRS:PATH=/usr/local/netcdf/i

[2017-09-10 02:08] aprokop commented on #1713
@Chaztikov While I have not seen this error before, it seems that it looks for X11 headers/library and can't find any. Quick googling arounds seems to indicate that it is provided by `libx11-dev` on Ubuntu. Can you please check whether you have it (or something similar) installed?

[2017-09-10 02:27] Chaztikov commented on #1713
Thanks for your swift response, I am not sure, but think I need Matio for Peridigm?

I specified X11's location correctly, I think but now receive errors, here is the CMakerErrors.log file:

Performing C++ SOURCE FILE Test FINITE_VALUE_HAVE_GLOBAL_ISNAN failed with the following output:
Change Dir: /home/charles/Documents/code/Trilinos/build2/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/make"

[2017-09-10 02:41] aprokop commented on #1681
Was a bit too hasty: the QR decomposition in TentativePFactory_kokkos is really a mix of Scalar and double. Stokhos scalars and doubles do not mingle well together. Will need to figure things out, I guess.

[2017-09-10 04:18] crtrott commented on #1675
Just as a side note: the ATS-2 system will probably use pretty much the same software stack as the current ride and white systems. So on the day that thing is delivered you probably will encounter the same issues on both machines. In that sense the more important thing here is to wait for another software stack update on ride/white and try to fix it there.

[2017-09-10 04:27] crtrott commented on #1543
Also as it turns out we might have a minimal fortran issue ...

[2017-09-10 04:54] mhoemmen commented on #1713
@Chaztikov It looks strange that you set `CMAKE_CXX_COMPILER=/usr/bin/mpicxx`, but set `MPI_BASE_DIR:PATH="/usr/local/openmpi/"`.  You probably want the MPI compiler wrappers that live in `MPI_BASE_DIR/bin`, not `/usr/bin`.

[2017-09-10 04:56] mhoemmen commented on #1713
Also, if you set `TPL_ENABLE_MPI:BOOL=ON` and set `MPI_BASE_DIR`, then you don't have to set `CMAKE_CXX_COMPILER`, `CMAKE_C_COMPILER`, etc.  The defaults usually work just fine.

[2017-09-10 04:58] mhoemmen commented on #1543
Trilinos will be fine without Fortran, but other users won't be without some effort....

[2017-09-10 05:50] Chaztikov commented on #1713
Thanks a bunch! It seems to have worked, nearly, now when I
make -j 12
(I have one intel 6800K, 6 cores, so I believe 12 is appropriate)
I get
[ 64%] Generating answers64bitTPLs/hammond.rib.8.7
[ 64%] Generating answers64bitTPLs/hammond.rib.drops.8.0
[ 64%] Generating answers64bitTPLs/hammond.rib.drops.8.2
[ 64%] Generating answers64bitTPLs/hammond.rib.drops.8.1
[ 64%] Generating answers64bitTPLs/

[2017-09-10 05:53] Chaztikov commented on #1713
I may see where this is coming from during the ./configure:

-- HDF5_LIBRARY_NAMES='hdf5;z;hdf5_hl'
-- Searching for libs in HDF5_LIBRARY_DIRS=''
-- Searching for a lib in the set "hdf5":
--   Searching for lib 'hdf5' ...
--     Found lib '/lib/libhdf5.so'
-- Searching for a lib in the set "z":
--   Searching for lib 'z' ...
--     Found lib '/usr/local/lib/libz.so'
-- Searching for a lib in the s

[2017-09-10 20:41] aprokop commented on #1613
@jjellio The scalar case (which I assume you meant when talking about 3x slower) is now much improved:
[code]

@pwxy The block case is much improved, tut it's still extremely slow for both tentative factory and coalesce drop factory compared to the non-Kokkos variant (about 20x slowdown for Tentative factory, and worse for CoalesceDrop), and not suitable for human consumption at the moment. If you

[2017-09-11 02:01] aprokop opened #1715 "Tpetra::Map: Make isContiguous() accurate instead of conservative"
In the Tpetra::Map constructor based on the element list (both Kokkos and Teuchos version), `contiguous_` is unconditionally set to false. We could add a check first whether it is locally contigous (`lastContiguousGID_ - firstContiguousGID_ == numLocal-1`) with a single global reduction to check the global contiguity.

I don't think this check would save much, probably only for non-savvy users tha

[2017-09-11 05:18] brian-kelley commented on #1367
New code, OpenMP node:
| Ranks | Threads | Avg add() time |
|:--:|:--:|:--:|
|8|8|0.1186|
|16|4|0.124553|
|32|2|0.137332|
|64|1|0.133752|

[2017-09-11 13:25] etphipp commented on #1710
As I suspected, this test passed once the git update pulled in my changes to fix the test (Thursday I think), and the "clean" builds have been clean.  So I'm closing this.

[2017-09-11 13:25] #1710 closed

[2017-09-11 13:58] ibaned opened #1717 "Tpetra host lambda CUDA build fail"
Nightly builds of Albany are failing with the following:

[code]

Without looking at the code, it sounds to me like a non-Kokkos lambda was given to a Kokkos parallel construct.

@trilinos/tpetra

[2017-09-11 14:12] tjfulle commented on #1717
@ibaned, there are not any non-Kokkos lambda in the files in question, but we have been having problems with correct lambda compile time options (see #1682).  Can you add `--expt-extended-lambda` to the command line to see if it resolves the problem.

[2017-09-11 14:13] jmgate commented on #1667
Getting back to the issue of stale branches, for those that haven't been deleted yet, can authors comment as to whether or not certain branches should be kept around?  Many thanks.

[2017-09-11 14:43] plindsa opened #1718 "Undefined LAPACK symbols on OS X 10.12 Sierra"
I'm a new user trying to build Albany on a MacBook Pro running OS X Sierra. When building Albany (and Trilinos with tests enabled, oddly enough), I get the following error:

Undefined symbols for architecture x86_64:
"dggsvd", referenced from:
Epetra_LAPACK::GGSVD(char, char, char, int, int, int, int*, int*, double*, int, double*, int, double*, double*, double*, int, double*, int, double*, int, do

[2017-09-11 14:43] ibaned commented on #1717
You're right, the code is fairly benign:
[code]
I think what we're missing is `-DKokkos_ENABLE_Cuda_Lambda=ON`.
I also think this issue is just part of #1682 in general, and resolving #1682 is becoming critical as Tpetra starts to use lambdas.

[2017-09-11 14:44] #1717 closed

[2017-09-11 14:44] plindsa commented on #1718
FYI: I originally posted this on the Albany page and was redirected here.

[2017-09-11 14:45] tjfulle commented on #1717
@ibaned , ya, I need to shoot Ross some diagnostics of failing configures/builds so he can make necessary changes to TriBITS

[2017-09-11 14:46] ibaned commented on #1682
This needs to be implemented soon. Existing CUDA builds of Trilinos are starting to fail because of the increasing use of lambdas while these builds don't have the proper configure options (see e.g. #1717). Users should get a configure-time error explaining that Tpetra requires certain lambda options, rather than getting down to an obscure compile error at the first lambda.

[2017-09-11 14:49] ibaned commented on #1718
I'm also going to rename the issue to more closely reflect what the linker error is, and mention @trilinos/epetra

[2017-09-11 14:50] plindsa commented on #1718
Thanks!

[2017-09-11 14:55] #1548 closed

[2017-09-11 14:56] #1527 closed

[2017-09-11 14:57] jmgate commented on #1607
@ssmabuza, any progress on this?

[2017-09-11 14:58] #758 closed

[2017-09-11 15:03] tjfulle commented on #1682
@bartlettroscoe, maybe this will help.  If I configure Trilinos (on `ride.sandia.gov`) with

[code]

and the following flags (see [Building with CUDA Support](https://trilinos.org/about/documentation/building-with-cuda-support/))

[code]

Trilinos will configure without error but then a build error of the type described in #1717 occurs.  The build error suggests adding `--expt-extended-lambda` to

[2017-09-11 15:06] tjfulle commented on #1682
Forgot to add, `-D Trilinos_CXX11_FLAGS="<compiler flags>"` also results in failure for the previous configure time test - the options must by added to `CMAKE_CXX_FLAGS`

[2017-09-11 15:15] tjfulle commented on #1682
And, perhaps related, on my `ride` builds using the aforementioned `CMAKE_CXX_FLAGS`, the make log file is inundated with

[code]

While, benign, there are thousands of them and meaningful warnings (e.g., #1672) get lost.

[2017-09-11 15:52] mhoemmen commented on #1717
I can fix #1682; it's pretty straightforward.

[2017-09-11 16:01] mhoemmen commented on #1682
@tjfulle `Kokkos_ENABLE_LAMBDA` is not the right CMake option.  You want `Kokkos_ENABLE_Cuda_Lambda`.

[2017-09-11 16:14] tjfulle commented on #1682
@mhoemmen , right, it was a typo

[2017-09-11 16:15] mhoemmen commented on #1367
@brian-kelley Does it fail on Haswell, given a comparable configuration (OpenMP, 1 thread per MPI process)?  If not, I think we should just do a final review and accept this.

[2017-09-11 16:47] Chaztikov commented on #1713
I seem to continue to have issues, possibly related to
https://github.com/trilinos/Trilinos/issues/99

Is there a recommended order/way to install parallel netcdf with hdf5?

[2017-09-11 16:49] mhoemmen commented on #1682
I changed Tpetra's CMake logic, to check that `Kokkos_ENABLE_Cuda_Lambda` is `DEFINED` and `ON`.  I'm running the remote check-in tests now.

[2017-09-11 16:53] tjfulle commented on #1682
@mhoemmen , I'd still like to get @bartlettroscoe's feedback RE why `CMAKE_CXX_FLAGS` need to be set in addition to the other flags.

[2017-09-11 16:57] jgfouca commented on #1667
@jmgate panzer-stk-conversion can be deleted but I can't do it since it's protected.

panzer_node_sharing needs to be kept until Paul Lin and I can merge it.

[2017-09-11 17:04] bartlettroscoe commented on #1682
@tjfulle

Like I said [above](https://github.com/trilinos/Trilinos/issues/1682#issuecomment-327595175):

"I would have to see the full compiler commandline (which you can see with make `VERBOSE=1 <some_target>` to know for sure what is happening.

That is what you need to focus on.  After we know the actual compiler comandline being used, then we can figure out what is there now, how it got there,

[2017-09-11 17:06] tjfulle commented on #1682
@bartlettroscoe , the error is during configure, not make.  The compiler line that is used is in my comment above, repeated here:

[code]

[2017-09-11 17:17] brian-kelley commented on #1367
@mhoemmen On geminga (2 sockets, each with 10 cores, and 2 hyperthreads/core), using these options:
[code]

it doesn't fail, the performance with many ranks isn't great either. I tried playing around the "--map by ppr:N:socket" binding but didn't get any improvement.

Ranks vs. threads, holding ranks * threads = 16:

| Ranks | Threads | Avg add() time |
|:--:|:--:|:--:|
|1|16|0.169234|
|2|8|0.1667

[2017-09-11 17:18] bartlettroscoe commented on #1682
@tjfulle,

Okay, thinks for clarifying.  I think we might have a chicken and egg problem here.  Can you please attach your full cmake configure command line and the full STDOUT from that cmake configure?  I need to see that to confirm my suspicion.

[2017-09-11 17:58] mhoemmen commented on #1682
I pushed a fix to develop.  Tpetra's CMake logic now checks `Kokkos_ENABLE_Cuda_Lambda`.  It does _not_ check `CMAKE_CXX_FLAGS` for any of the required options, though the error message does remind users to add the `--expt-extended-lambda` option.

[2017-09-11 17:58] #1682 closed

[2017-09-11 17:59] mhoemmen commented on #1713
@Chaztikov What do the Peridigm developers recommend?  I would suggest asking them about NetCDF etc. version issues.

[2017-09-11 18:01] mhoemmen commented on #1367
@brian-kelley Final question: Is it faster than it was before?  If so, I'm accepting this thing :-) .

[2017-09-11 18:03] mhoemmen commented on #1717
@ibaned I just pushed a fix for #1682 to develop.

Here is my reasoning behind allowing `KOKKOS_LAMBDA` in Tpetra:

  1. CUDA 7.5 and 8.0 both allow it
  2. Kokkos used to allow it by default, without any CMake options
  3. It saves time and makes code easier to read
  4. It is the future (support for `KOKKOS_LAMBDA` exists now and will only improve over time)

[2017-09-11 18:05] tjfulle commented on #1682
@bartlettroscoe , attached is the configure script and log file.

[do-configure-ride.sh.txt](https://github.com/trilinos/Trilinos/files/1293545/do-configure-ride.sh.txt)

[configure.out.txt](https://github.com/trilinos/Trilinos/files/1293546/configure.out.txt)

[2017-09-11 18:09] ibaned commented on #1717
@mhoemmen I totally agree with the use of lambdas, and just want to make it easy for this transition to happen. I'll push on the Kokkos side to have this Cuda_Lambda flag on by default.

[2017-09-11 18:11] mhoemmen opened #1719 "ShyLU: Build errors likely due to "using namespace std;""
@trilinos/shylu @trilinos/amesos2

[code]
Also, `git grep "using namespace std;" returns the following hits, among many others:
[code]
This may only be an issue with CUDA builds.

[2017-09-11 18:16] brian-kelley commented on #1367
@mhoemmen It's certainly a large factor faster than it was before. @pwxy said it was 8x better for his problem on a single rank/thread. I just did some final git cleanup (squashing, fixing conflicts against develop) so I would say it's ready to go.

I also profiled the Import::setUnion, and I didn't find any obvious things to parallelize or get big speedups. The most expensive things inside are st

[2017-09-11 18:17] mhoemmen commented on #1719
I'm working on a fix.  The fix will be removing `using namespace std;` from the files in question.

This may break application code, but application code really should not assume a global `using namespace std;`.

[2017-09-11 18:37] mhoemmen commented on #1367
@brian-kelley wrote:

I'll take that :-D .

Kokkos has a thread-parallel sort, but it currently lacks a merge.  We can always go back later and fix that.  C++17 proposals even include thread-parallel versions of standard library algorithms, so we may not even need to write it, at least not for CPUs.

[2017-09-11 18:38] mhoemmen opened #1720 "Belos: Build warning (set but never used variable) with GCC 5.3.0 and CUDA"
@trilinos/belos
[code]

[2017-09-11 18:39] aprokop commented on #1367
Is the next step for this to be incorporated as part of the Jacobi kernel? (Sorry for a hijacking the conversation slightly)

[2017-09-11 18:42] mhoemmen commented on #1367
@aprokop No worries!  The main issue here was that @pwxy needed sparse matrix-matrix add by itself to be thread parallel, since his app was using it through Teko.  It would make sense to extend the results to the Jacobi kernel, though we should talk to @mndevec about his optimization plans for sparse matrix-matrix multiply.

[2017-09-11 19:10] brian-kelley commented on #1367
@mhoemmen Something else we could try is just replacing the body of CrsMatrix::add() with this kernel, since it also returns a new matrix. That would speed up a lot more applications than just the TpetraExt add() and it would be very easy to do, except that TpetraExt is a separate build step that depends on Tpetra. Is there anything that can be done about this?

[2017-09-11 19:27] aprokop commented on #1367
@mhoemmen This may be stupid, but can't we try local matrix-matrix multiply with matrix-matrix add using independently @mndevec and @brian-kelley codes. The second one could bypass the `setUnion` call as we *know* that column map of AB would contain that of B. Later, we could try to optimize inside matrix-matrix multiply.

Ideally, I'd like to know the answer to the question: what is the fastest t

[2017-09-11 19:33] #1601 closed

[2017-09-11 19:47] mhoemmen commented on #1719
I pushed a fix to develop.

[2017-09-11 19:47] #1719 closed

[2017-09-11 20:16] mhoemmen commented on #1367
@brian-kelley wrote:

`CrsMatrix::add` takes `A` as a `RowMatrix`, so it needs a fall-back host implementation in case `A` is not a `CrsMatrix`.  Otherwise, yes, this is a good idea :-) .

We could (and should) move the implementation of the add function out of so-called TpetraExt, into `tpetra/core/src`.  TpetraExt "happened" but I didn't make it that way.  I see sparse matrix-matrix add and mult

[2017-09-11 20:17] mhoemmen commented on #1367
btw I'm getting some build errors with #1606, when I enable CUDA and turn on complex arithmetic via `Teuchos_ENABLE_COMPLEX:BOOL=ON` and `Trilinos_ENABLE_DOUBLE_COMPLEX:BOOL=ON`.  See comments there.

[2017-09-11 20:22] mhoemmen commented on #1715
It _could_ be helpful for `contiguous_` to be accurate instead of conservative.  I care more about that than about an optimization that users could take themselves by just reading the documentation a little bit.  The noncontiguous constructor does an all-reduce anyway, so you could just pass along contiguity information through there without an extra communication step.

[2017-09-11 21:46] bartlettroscoe commented on #1682
Okay, thanks for that.  This is what I suspected.  This is a a bit of a chicken and the egg problem.  The issue is that TriBITS has logic for automatically determining what compiler options to use to enable C++11, but it only can run those **after** the C++ compiler is found (which also checks if it works).  It assume the raw compiler can compile that silly little C++ program that CMake generates

[2017-09-11 22:31] jhux2 commented on #197
@srajama1 Would you have a chance to look at this soon?

[2017-09-11 22:59] crtrott commented on #1682
Hi folks,

the core problem for the CMAKE_CXX_FLAGS is that --expt-extended-lambda can only be added if the c++ standard is 11 since Lambdas don't exist before that. Now CMake is using the user defined flags during its "Does the compiler work" check before adding the C++11 flag.

So what should happen is: either add the C++11 flag right away to everything, or don't use the user provided flags duri

[2017-09-11 23:11] crtrott commented on #1682
What I think should happen is:
* Check whether compiler works without using CMAKE_CXX_FLAGS
* Figure out C++11 flags
* Check again whether compiler works with C++11 flag and CMAKE_CXX_FLAGS

Only issue: the first thing might not work if there are required architecture flags, but if it not actually runs the code example it should probably work.

[2017-09-11 23:16] tjfulle commented on #1682
I'll probably adopt using @crtrott's proposed alternative:

[code]

But, a better long term solution should be worked out as use of lambdas becomes more common.

[2017-09-12 02:41] bartlettroscoe commented on #1682
I just checked and we don't seem to be able to control whether CMake will use CMAKE_CXX_FLAGS while running ENABLE_LANGUAGE().  If it is set, it gets used, period.  I guess we could copy it and then set CMAKE_CXX_FLAGS to empty before calling ENABLE_LANGUAGE() and then set CMAKE_CXX_FLAGS back again but that seems like a hack.  (We already get criticized enough for messing around with raw CMake be

[2017-09-12 03:27] Chaztikov commented on #1713
Everything included in my configuration file seems to be what Peridigm recommends, I think I fixed one issue, now on to another

Thanks by the way for all of your time!

when I
make -j 12

I get fairly far in the process but then:

[ 87%] Building CXX object packages/rythmos/src/CMakeFiles/rythmos.dir/Rythmos_TimeStepNonlinearSolver.cpp.o
[ 87%] Building CXX object packages/rythmos/src/CMakeFiles/

[2017-09-12 03:30] aprokop commented on #1715
@mhoemmen Cool, I think I could do this.

As a side note, now that I started optimizing stuff for MueLu, it would be super helpful to me if there was a list of Tpetra stuff that's known to be inefficient. If some of that could severely affect MueLu or some Ifpack2 smoothers, I could maybe fix those. One of the things I've encountered today is that getting a matrix diagonal takes forever relatively

[2017-09-12 04:14] Chaztikov commented on #1713
I updated my compiler to gcc-5, and now am getting this error:

[ 86%] Building CXX object packages/tpetra/core/src/CMakeFiles/tpetra.dir/Tpetra_MultiVectorFiller.cpp.o
[ 86%] Building CXX object packages/tpetra/core/src/CMakeFiles/tpetra.dir/Tpetra_RowGraph.cpp.o
[ 86%] Linking CXX static library libthyracore.a
[ 86%] Built target thyracore
[ 86%] Building CXX object packages/tpetra/core/src/CMak

[2017-09-12 04:16] mhoemmen commented on #1713
@Chaztikov If you do `make` without the `-j` flag, can you see an actual error?

[2017-09-12 04:32] Chaztikov commented on #1713
I see

[ 69%] Building CXX object packages/epetraext/src/CMakeFiles/epetraext.dir/inout/EpetraExt_HDF5.cpp.o
/home/charles/Documents/code/Trilinos/packages/epetraext/src/inout/EpetraExt_HDF5.cpp: In member function ‘void EpetraExt::HDF5::Create(std::__cxx11::string)’:
/home/charles/Documents/code/Trilinos/packages/epetraext/src/inout/EpetraExt_HDF5.cpp:347:55: error: ‘H5Pset_fapl_mpio’ was not dec

[2017-09-12 11:28] #1709 closed

[2017-09-12 13:43] aprokop commented on #1707
Hmm, if @jwillenbring decides to go with ETI=ON, this would be nice to fix but not a priority.

[2017-09-12 14:05] ibaned commented on #1511
@bartlettroscoe this impeded checkin of a Kokkos snapshot

[2017-09-12 14:17] ibaned opened #1722 "Albany Ifpack2 build errors"
The nightly Albany builds say:
[code]

@trilinos/ifpack2

@ambrad I remember mention of Ifpack2 changes in the Kokkos promotion discussion. Could this be at all related?

I'm assuming that this is due to Trilinos changes and not Albany ones, but I could be wrong about that.

[2017-09-12 14:53] csiefer2 opened #1723 "[Framework] Please switch Shiller Nightlies to CUDA 8"
@bmpersc - As noted in subject

[2017-09-12 15:00] aprokop commented on #1681
OK, current version pushed upstream.

@csiefer2 @jhux2 @trilinos/muelu All tests including kokkos passed in the checkin script. Please add `-D MueLu_ENABLE_Kokkos_Refactor=ON` and `-D Xpetra_ENABLE_Kokkos_Refactor=ON` from now on.

[2017-09-12 15:50] ambrad commented on #1722
@ibaned, is this in a no-ETI build? I'm thinking the integration tests of various sorts all use ETI.

[2017-09-12 16:10] jhux2 commented on #1722
Non ETI builds are also an issue in #1707.  @ibaned Non-ETI is standard for Albany?

[2017-09-12 16:17] ambrad commented on #1722
@jhux2, Albany tests both. You can see the Albany dashboard here: http://my.cdash.org/index.php?project=Albany

I'm working on reproducing this build failure and will report back when I can.

[2017-09-12 16:18] mhoemmen opened #1724 "MueLu_Test_ETI.hpp does not respect Tpetra instantations"
@trilinos/muelu @trilinos/xpetra @trilinos/tpetra

`muelu/test/unit_tests/MueLu_Test_ETI.hpp` instantiates a test for enabled (LO, GO, Node) combinations.  It does check Tpetra macros for whether Node types are enabled, but it does _not_ correctly check Tpetra macros for whether `Scalar=double` or given (LO, GO) type combinations are enabled.  This causes build errors, e.g., when turning off `GO=i

[2017-09-12 16:18] mhoemmen commented on #1724
@brian-kelley This is why I haven't gotten to final tests of your PR #1606 yet ;-) .

[2017-09-12 16:20] ikalash commented on #1722
@ambrad : yes, this is a non-ETI build (my nightly builds actually).  We cannot use ETI (unfortunately) b/c we use DTK which cannot be compiled at the present time with ETI.

[2017-09-12 16:35] mhoemmen commented on #1715
@aprokop wrote:

I'll e-mail you a list.  I can think of two things in particular that could affect fillComplete MPI scaling.  MueLu does a lot of expertStaticFillComplete, though, so it might not be such a big deal.  If you want to do overlapping domain decomposition smoothers, though, it could matter a lot.

[2017-09-12 16:39] bartlettroscoe commented on #1511
The test `Teko_testdriver_tpetra_MPI_1` is shown currently passing in the standard CI build as shown at:

* https://testing.sandia.gov/cdash/viewTest.php?onlypassed&buildid=3104481

Therefore, if it is failing on this machine, either one of the following is occurring:

1. A push was made to Trilinos since this CI build ran that is breaking this test.
2. The env and configuration options used to co

[2017-09-12 16:43] bartlettroscoe commented on #1511
Ignore my comment ...

Sorry, I did not read the dates on the comments.  This was an old issue that was actually already resolved.

@ibaned, thanks for the archival pointer.

[2017-09-12 16:46] bartlettroscoe commented on #1304
@ibaned pointed out a case where a broken test stopped a push sometime around July 17 (see https://github.com/trilinos/Trilinos/issues/1511#issuecomment-328863552).  Unfortunately, CDash only keeps 6 weeks of results so we can't even see that.

[2017-09-12 17:01] mhoemmen commented on #1724
Argh, OK, my fix didn't fix everything.  I'll just turn on all those Node and GO types that I don't really need to make MueLu happy so that I can actually run tests.

[2017-09-12 17:04] mhoemmen commented on #1511
@bartlettroscoe Not sure if the relevant developers are getting GitHub notifications.  I'll forward this to them.

[2017-09-12 17:05] mhoemmen commented on #1722
@ikalash I have a suspicion why you might think that DTK can't be built with ETI ON.  I'll send you an e-mail to see if we can fix that.

[2017-09-12 17:08] tjfulle commented on #1722
@mhoemmen , please cc me - I'd like to use ETI with DTK too

[2017-09-12 17:10] mhoemmen commented on #1713
@Chaztikov This looks like an HDF5 version issue.  Does your HDF5 version implement functions like `H5Pset_fapl_mpio`?

[2017-09-12 17:11] mhoemmen commented on #1722
@tjfulle Done! :-)

[2017-09-12 17:12] ikalash commented on #1722
@mhoemmen : thanks for the email.  I'll reply - I can try your fix when I return to the office next week from Germany.

[2017-09-12 17:12] ikalash commented on #1722
@mhoemmen : it may be worth including @rppawlo and @sslattery in discussion about your proposed fix - they are DTK developers.

[2017-09-12 17:17] mhoemmen opened #1725 "Be able to annotate commit with test results from multiple builds"
@trilinos/framework

Here are the relevant parts of the #1304 discussion that led to this:

@tjfulle wrote:

I wrote:

@bartlettroscoe wrote:

[2017-09-12 17:18] mhoemmen commented on #1304
@bartlettroscoe wrote:

I opened a new issue, #1725, to discuss this.  Thanks!

[2017-09-12 17:19] ibaned commented on #1722
Hang on a sec. The build that I was looking at was @mperego 's, and I think it has ETI on. Other builds failed including @ikalash 's, but I'd like to focus on this one.
Furthermore, Trilinos itself compiled and installed okay, but compiling Albany failed as seen above. Here is the Trilinos configuration:

http://my.cdash.org/viewConfigure.php?buildid=1285722

[2017-09-12 17:21] ibaned commented on #1722
For completeness, here is the Trilinos build:
http://my.cdash.org/index.php?project=Albany&subproject=JengaTrilinosDev
and the Albany build:
http://my.cdash.org/index.php?project=Albany&subproject=JengaAlbany

So unless this has ETI off, I don't think that is the cause of this. Rather, its something thats not tested by compiling Trilinos libraries alone.

[2017-09-12 17:25] ambrad commented on #1722
Hrmmm. The fact that the build error sees code in the _def.hpp file implies that, whether ETI is on or off, something outside of Trilinos is pulling the _def.hpp file into the Albany-side translation unit. Right?

[2017-09-12 17:29] ibaned commented on #1722
The generated `Ifpack2_BlockTriDiContainer.hpp` contains these lines:

[code]

[2017-09-12 17:32] ambrad commented on #1722
Yes, that implies ETI is off. Thanks for the info.

[2017-09-12 17:42] ibaned commented on #1722
@mhoemmen @ikalash please include me in the DTK discussion as well

@mhoemmen @ambrad is there a simple guide to turning ETI on over most of Trilinos? I suspect most of my builds have it off, and I'll need to explain the transition to other Albany developers.

[2017-09-12 17:48] mhoemmen opened #1726 "MueLu: Link errors in CUDA builds"
@trilinos/muelu This blocks CUDA testing and therefore hinders #1606, #1367, etc.

Examples of link errors:
[code]
SEMS modules loaded:
[code]
CMake configuration:
[code]

[2017-09-12 17:48] ambrad commented on #1722
I'm not sure what the official way is, but I use this pattern:
[code]

[2017-09-12 17:51] ibaned commented on #1511
Um, I think there is some confusion. I'm referring to the Kokkos snapshot that just happened yesterday, kokkos/kokkos#1721. @crtrott referenced this issue to explain why this Teko test failed during the checkin process yesterday (see https://github.com/trilinos/Trilinos/pull/1721#issuecomment-328708707).

I'd also like to offer an option (5) as to why the test fails, namely that the test fails non

[2017-09-12 17:53] mhoemmen commented on #1722
@ibaned wrote:

  1. Turn on ETI: `-D Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON`
  2. Make sure that the `Scalar`, `GlobalOrdinal`, and `Node` types you want are enabled.

You have to do (2) regardless of ETI (please don't be sloppy about that!), but your application definitely won't link if ETI is ON and you don't enable what you want.  For example, if you want double complex arithmetic:
[co

[2017-09-12 17:57] ibaned commented on #1722
Thanks! Also, `float` is off by default right? If it even exists? So if I don't enable complex I should just get `double` for my `Scalar` types.

[2017-09-12 18:09] mhoemmen commented on #1726
@jhux2 Would it make sense to disable the tutorial by default in a CUDA build, at least until it builds correctly?

[2017-09-12 18:27] bartlettroscoe commented on #1511
@ibaned,

Okay, I take back my comment then :-)  Since this issue was so old, I was assuming this was already resolved.

That is a possibility.  To test that, just run it by itself multiple times and see if you see any random behavior.

When you go to:

* https://github.com/trilinos/Trilinos/wiki/Policies--%7C-Testing#post_push_ci_testing

and click on the "Continuous Integration Build" link whic

[2017-09-12 18:30] ibaned commented on #1511
Oops, simple mistake on my end. I didn't see that there are multiple pages of packages with only 10 packages per page. Teko is there in page 4.

[2017-09-12 18:40] tawiesn commented on #1726
I can have a look. The tutorial is Epetra only. It should not even try to build with Tpetra

[2017-09-12 18:56] jhux2 opened #1727 "Cori KNL: best practices"
I am opening this issue to record best practices for achieving good performance on the Cori KNL partition.  @jjellio Could I ask you to document your recommendations in this ticket?  I've had a number of questions regarding this.  Thanks!

@sayerhs @aprokop @alanw0 @spdomin

[2017-09-12 19:01] tawiesn commented on #1726
@mhoemmen In order to reproduce the problem could you give me the screen output of the configure script. It would be good to see which nodes are enabled (i guess OpenMP and Cuda), which Tpetra instances are enabled etc...
It seems to complain about missing OpenMP node instantiations. Not about Cuda. Is it only the Challenge.exe or are other executables also affected by that problem?

[2017-09-12 19:11] mhoemmen commented on #1726
It's OK @tawiesn , I'll just assume that the tutorial doesn't work with CUDA and move on with my life.  I need to work on some other things first anyway (inability to test CUDA meant that #1606 might have some bugs but it's already on its way to being pushed).

[2017-09-12 19:21] mhoemmen opened #1728 "Ifpack2 RILUK test fails with standard (remote) check-in test script"
@trilinos/ifpack2

`Ifpack2_RILUKSingleProcessUnitTests_MPI_1` test fails with Ross' remote check-in test script.  I'm trying to get the test output now (it's a remote launch script, so I have to figure out what modules to load).  This blocks pushes to Trilinos develop per official policy.

[2017-09-12 19:26] mhoemmen commented on #1728
Here is the test output:
[code]

[2017-09-12 19:26] mhoemmen commented on #1728
@ambrad @kyungjoo-kim is this possibly relevant?

[2017-09-12 19:31] mhoemmen commented on #1726
@tawiesn No Nodes are enabled.  I ONLY enable `GO=long long` and the CUDA Node.

[2017-09-12 19:32] ambrad commented on #1728
@mhoemmen, I don't follow. This test was working in last night's pushes of the KokkosKernels snapshot, BlockTriDiContainer, and I suspect @aprokop's push of commits this morning.

[2017-09-12 19:32] mhoemmen commented on #1726
If I need `GO=int` and the OpenMP Node in order to build the tutorial, then the tutorial shouldn't be built if those aren't present.  I'll be happy to fix MueLu's CMake logic to correct this minor oversight.

[2017-09-12 19:34] ibaned commented on #388
This will be resolved if/when #1090 is merged.

[2017-09-12 19:35] tawiesn commented on #1726
The tutorial needs GO=int (and either the Serial or OpenMP node depending whether Epetra has been compiled with OpenMP support in Epetra or not).
Yes, feel free to fix that in the CMake logic. The tutorial is not really essential. Thanks a lot. sorry for the inconvenience.

[2017-09-12 19:37] mhoemmen opened #1729 "kokkos-kernels: Turn off unneeded instantiations by default"
@trilinos/tpetra

Trilinos doesn't need the following instantiations:

  - `CudaSpace` (not used, Trilinos assumes UVM and uses `CudaUVMSpace`)
  - Unused offset types

See `${PACKAGE_NAME}_INST_MEMSPACE_CUDASPACE` in `kokkos-kernels/CMakeLists.txt`.  I'm not sure if Tpetra can control these directly; it may be necessary to change defaults in kokkos-kernels.

[2017-09-12 19:38] mhoemmen commented on #1728
I'll try running this again.  #1726 has been causing me a lot of trouble with downstream testing, so it could be my doing.

[2017-09-12 19:52] srajama1 commented on #197
@jhux2 : Done one more review. Looks ready to be pushed.

[2017-09-12 20:02] ibaned commented on #1722
Wow, that is a subtle issue. Thanks for figuring it out, @ambrad !

[2017-09-12 20:03] ambrad commented on #1722
@ibaned, yes, `float` is off by default, and so is `complex<float>`.

[2017-09-12 20:25] srajama1 commented on #1668
I support this as well. Currently ShyLU will depend on MueLU just to use the Belos Xpetra adapters. We would rather not have it.

[2017-09-12 21:08] aprokop opened #1730 "MueLu: expand section on performance tips when running multigrid"
We need a lot more tips for running at scale.

[2017-09-12 21:37] mhoemmen commented on #1726
Thanks @tawiesn !  I've implemented a fix and am running the remote check-in test script now.

[2017-09-12 21:38] mhoemmen commented on #1574
@tjfulle Could this be a duplicate of #1726 ?  Just curious.

[2017-09-12 21:44] tjfulle commented on #1574
No, I don't think so; but @tawiesn mentioned missing OpenMP node types in a comment for #1726, that could be the same issue

[2017-09-12 21:48] aprokop commented on #1730
@trilinos/muelu

[2017-09-12 21:50] mhoemmen commented on #1728
Oops!  Turns out it's #1606 that's causing the test to fail.

[2017-09-12 21:50] #1728 closed

[2017-09-12 22:41] ambrad commented on #1722
The check-in script is merrily doing its thing. The fix confirmed to work in the Albany build I used to reproduce the error.

[2017-09-12 23:14] brian-kelley commented on #1367
@mhoemmen Sorry about that, I assumed that A and B would always have an Import but that's not true. To fix this I just went back to my own map union function.

[2017-09-12 23:43] bartlettroscoe commented on #1511
Given the discussion in #1721, it seems that this test as currently implemented passes on some machines that use the SEMS env and fails on others using the same SEMS env.  That is bad.  Really we should fix this test so that it passes on all RHEL 6 and 7 systems with the SEMS env.  The first concern that I have is that no automated build in the entire Trilinos CDash DB over the last 6 weeks on all

[2017-09-12 23:49] bartlettroscoe commented on #1304
Okay, I misinterpreted that comment in #1511.  The issue is that the test `Teko_testdriver_tpetra_MPI_1` seems to be passing on some machines and failing on others.  That is currently blocking a push for Kokkos in #1721 on @crtrott's machine.

We need to get to the bottom of why this test may not be passing on @crtrott's machine but passes on all of the others involved in Trilinos automated testin

[2017-09-12 23:50] dridzal commented on #1596
We are ready to re-enable this test, but I don't know how to fit this into our current workflow where ROL develop and Trilinos develop are merged automatically.  @bartlettroscoe , do I have to perform the merge without enabling the test, then go into Trilinos develop, run git revert, and then merge ROL develop and Trilinos develop again?

[2017-09-12 23:54] bartlettroscoe commented on #1725
@mhoemmen  and @tjfulle,

Let me now how urgent this is?  In any case, I could I outline in detail what this super script would look like and then one of you could try fleshing it out and testing it and seeing how it goes?  If we are really fancy, we could even launch the different builds in parallel on the different machines and then wait for them before doing the copies back and doing the final

[2017-09-13 00:07] bartlettroscoe commented on #1596
@dridzal,

Just run the command:

[code]

in your local git repo just like any regular commit.  The checkin-test-sems.sh script will then enable that test and will confirm if that test is working or not and once your final sync process pushes to the Trilinos GitHub 'develop' branch, it will get enabled automatically in the post-push CI build linked to from:

* https://github.com/trilinos/Trilinos/

[2017-09-13 00:14] brian-kelley commented on #1367
@mhoemmen There are now a bunch of build errors in the MueLu tests (all because "std::fabs" isn't found, probably just missing "include cmath"), so 44 MueLu tests weren't run, but the 20 MueLu tests that did run and all Ifpack2 tests pass.

[2017-09-13 00:23] dridzal commented on #1596
I see;  this is because my ROL-Trilinos repo has the full history of the Trilinos repo, and commit

`228e44d5918a2d700ef0c454f2feb6c012166091`

is known to it, correct?  Do I need to run git push after reverting?

[2017-09-13 00:30] bartlettroscoe commented on #1596
Yup.  That is he git distributed model.  History is replicated in all repos for branches in those repos.

Yes.  But just push with the checkin-test-sems.sh script as you normally would.  And rebasing is just fine.

[2017-09-13 00:34] dridzal commented on #1596
This revert will happen in the ROL-Trilinos repo, so I can just push, I think (I already know that all tests are passing).  The pre-push testing for Trilinos will happen next time I merge.

[2017-09-13 01:06] jjellio commented on #1730
My experience with Cray machines has been:

1) Restrict jobs so that they span as few switches as possible. For slurm, this is via the --switches=N@<max_wait>. N specifies the switch count, and max wait is a measure of time. It accepts hh:mm:ss, and days-hh as well as many others (man sbatch for info).

To figure out the number of switches (N), you need to understand the machine's layout. For Cori

[2017-09-13 01:12] jjellio commented on #1367
@brian-kelley,

Try:
-np 4 --map-by ppr:2:socket:pe=5

E.g., 2 MPI tasks per socket, each task gets 5 processing elements.

I'd also inspect --display-map --report-bindings, OpenMPI should print little X's indicating which task owns which core/thread. The point being to make sure that no tasks are sharing a core.

[2017-09-13 01:41] aprokop commented on #1730
Wow @jjellio, that is tremendous work! I was expecting add this single option to slurm :)

[2017-09-13 01:43] aprokop commented on #1730
@jjellio Is this the right issue, though? Maybe you wanted to post to 1727?

[2017-09-13 05:13] mhoemmen commented on #1367
@brian-kelley wrote:

It's not a`__device__` function though.  Use `Kokkos::ArithTraits::abs` for that :-) .

[2017-09-13 05:23] mhoemmen commented on #1725
@bartlettroscoe wrote:

It could be useful for @crtrott , to do e.g., Kokkos promotion.  Right now, he has to do testing on multiple platforms in ad-hoc fashion.  Any record of where he tested is entirely manual and ad hoc.  Having some kind of documentation embedded in the snapshot commit could help.

On the other hand, I think the people who are doing a lot of snapshots should weigh in first and

[2017-09-13 05:25] mhoemmen commented on #1726
The remote check-in test script pushed my fix to develop.  Thanks @tawiesn et al.!

[2017-09-13 05:25] #1726 closed

[2017-09-13 05:29] tjfulle commented on #1725
@bartlettroscoe, if you sent me the outline, I could put something together at the start of the next FY.  I started putting something together but I wasn't sure how to have remote ssh processes communicate back the test results.  I'm swamped right now and put it on the back burner.

[2017-09-13 13:57] ibaned commented on #1722
The public dashboard confirms this is fixed. Closing this issue.

[2017-09-13 13:57] #1722 closed

[2017-09-13 13:59] bartlettroscoe commented on #1725
@tjfulle,

Okay, sometime after the start of FY18 ping me again and I can do some experimentation to see what it will take to get this to work.  It should not be too bad.  I kind of like the idea of layering this on top if the checkin-test.py script. That script already supports so many use cases that I fear adding a lot of more features to it.  But a couple little features might be added that cou

[2017-09-13 14:04] ibaned commented on #1729
Just created @trilinos/kokkos-kernels , but quickly removed myself. Hopefully one of you has team maintainer role...

[2017-09-13 14:33] aprokop opened #1731 "MueLu: fix dashboard after the latest push"
- [x] ComputeAggregatesSizes was used in Matlab.
  Updated for the new API.
- [x] MueLu throws an exception when not specifying a partitioner but running in Epetra mode and Zoltan2 disabled.
  Updated to auto-switch to "zoltan" or "zoltan2" if the requested one is not available.
- [x] `CreateTpetraPreconditioner` must use `double` for coordinates
- [x] Multiply `int` by `std::complex<double>`
 Rep

[2017-09-13 14:34] aprokop commented on #1676
I'm closing this for now as there is no compelling reason to spend time backporting this to non-Kokkos branch.

[2017-09-13 15:27] jhux2 commented on #1727
@jjellio's has posted his recommendations for Cori in issue [1730](https://github.com/trilinos/Trilinos/issues/1730#issuecomment-329027536).

[2017-09-13 15:31] jhux2 commented on #1729
@srajama1 @egboman

[2017-09-13 15:43] aprokop commented on #1727
Per @jjellio in #1730:

My experience with Cray machines has been:

    Restrict jobs so that they span as few switches as possible. For slurm, this is via the --switches=N@<max_wait>. N specifies the switch count, and max wait is a measure of time. It accepts hh:mm:ss, and days-hh as well as many others (man sbatch for info).

To figure out the number of switches (N), you need to understand the m

[2017-09-13 15:45] aprokop commented on #1730
The discussion about Cori parameters and @jjellio expertise is to be continued in #1727. This issue about documenting MueLu's parameters for performance.

[2017-09-13 16:11] jhux2 opened #1732 "MueLu: compile error in nightly Kokkos refactor testing"
https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3105859
@aprokop

[2017-09-13 16:15] mhoemmen commented on #1729
@ibaned Alas, I am not a maintainer of that team.  In fact, I don't think there are any maintainers, oops ;-P .

@jhux2 I'm hoping that Trilinos can control what kokkos-kernels instantiates, without needing to change kokkos-kernels' defaults.  In the worst case, kokkos-kernels could examine `${PROJECT_NAME}` and make decisions based on whether it is Trilinos or something else.

[2017-09-13 16:17] ibaned commented on #1729
Welp, I messed up. Hopefully a Trilinos Owner can fix that later.

[2017-09-13 16:19] mhoemmen commented on #1725
Thanks @bartlettroscoe ! :-D  The main customers should be anyone doing snapshotting, esp. Kokkos, so I think the Kokkos developers should really drive this.

[2017-09-13 16:20] aprokop commented on #1732
I'm on it, closing in favor of #1731.

[2017-09-13 16:20] #1732 closed

[2017-09-13 16:52] etphipp opened #1733 "Indexing bugs in Tpetra::Details::Blas::Default::gemm"
While using DGKS orthogonalization for GMRES in Belos, a collaborator of mine has run into some seg faults in Tpetra::Details::Blas::Default::gemm().  Examining that code, I believe the indexing is incorrect.  Consider first the case C = A*B.  Then, according to the code, we have:
[code]
Thus we must have A is m x n, B is n x k and C is m x k.  But then for the multiply code we have (removing some

[2017-09-13 16:57] etphipp commented on #1733
CC:  @trilinos/tpetra @mhoemmen

[2017-09-13 17:01] bmpersc commented on #1160
I have set the test that @mplooster had created to be run automatically through our jenkins server. It is currently set to run nightly and report to the experimental track.

There were a couple issues I had to address to get them to work with jenkins, but they were relatively minor, but one was a bit obscure. First the URL for the Trilinos repo was being set to the ssh version which required authe

[2017-09-13 17:02] bmpersc commented on #1159
I have set the test that @mplooster had created to be run automatically through our jenkins server. It is currently set to run nightly and report to the experimental track.

There were a couple issues I had to address to get them to work with jenkins, but they were relatively minor, but one was a bit obscure. First the URL for the Trilinos repo was being set to the ssh version which required authe

[2017-09-13 17:07] dridzal commented on #1303
For clarification, is there any code refactoring that the users of Teuchos will need to do, or will this be fixed in Teuchos, and the warnings will just go away?

[2017-09-13 17:49] mhoemmen opened #1734 "Amesos2: Examples in amesos2/example assume LO=int, GO=int"
@trilinos/amesos2

[2017-09-13 18:11] bmpersc opened #1735 "Windows build compile error"
@trilinos/framework Ttere is a compile error coming from the windows builds. The error is:

fatal error C1083: Cannot open compiler generated file: '': Invalid argument

and is affecting the opt and debug builds. I did some googling on this error and it seems like this is likely related to a path length being too long for visual studio and instead of truncating the path it just uses the empty stri

[2017-09-13 18:48] mhoemmen commented on #1734
I first tested locally by building Amesos2 with `Tpetra_INST_INT_INT:BOOL=OFF`; it built and passed tests.  I then ran the remote check-in test script, which passed tests and pushed to develop.

[2017-09-13 18:48] #1734 closed

[2017-09-13 18:56] mhoemmen commented on #1733
@etphipp It's not "shocking"; it's just that this code was meant as a fall-back replacement for the BLAS.  It's possible that not all cases get tested.  Conventional Scalar types don't exercise this code; they defer to the usual BLAS library.

[2017-09-13 18:57] mhoemmen commented on #1733
@etphipp Please send me a patch or PR and I'll fix it.

[2017-09-13 19:30] ndellingwood commented on #1734
@mhoemmen The CMakeLists.txt will need to be modified as well to update/remove guards to enable the tests for various LO/GO combos, e.g.
[code]

Would you like me to do this? I have access to sems modules on kokkos-dev for testing, but it's not properly setup so I would not be able to push changes with the checkin script (only test locally).

[2017-09-13 19:40] etphipp commented on #1733
You're right.  I realized over lunch that this code is probably never called by anybody except Stokhos.  Are there no tests for it?

We're working on a patch now.  Previously we didn't fix all 4 use cases.

[2017-09-13 19:44] mhoemmen commented on #1733
@etphipp wrote:

MultiVector exercises the top-level GEMM interface, but there may not be tests for this level.  I can write a test for it.

[2017-09-13 19:52] srajama1 commented on #1729
@ibaned : I just requested to add myself. Let us see who gets notified. I will request them to change the roles as well.

[2017-09-13 19:54] crtrott commented on #1630
The problem is that you add --expt-extended-lambda and then CMake tries to run a test of the compiler using that flag without adding the C++11 flag. That is a CMake issue ...

[2017-09-13 19:55] mhoemmen commented on #1734
@ndellingwood I would certainly welcome this; it would help improve build times quite a bit if we could disable `GO=int` (which is really just dead weight).  I would recommend doing this:

  1. Set `Tpetra_INST_INT_INT:BOOL=OFF`
  2. Attempt to build Amesos2 with as many TPLs enabled as possible
  3. Fix all build errors that can be fixed, by looking for `typedef int GO` etc. and replacing it with

[2017-09-13 20:18] mhoemmen commented on #1367
btw I squashed PR #1606 into a single commit:

https://github.com/trilinos/Trilinos/commit/2e7cba859bafd69602ad31c1e8f0f5c9b7f3b443

and pushed it to develop today.  Thanks @brian-kelley !!! :-D  Thanks all for participating!

[2017-09-13 20:18] #1367 closed

[2017-09-13 20:25] aprokop commented on #1731
OK, few bugfixes were pushed. Will wait for the dashboard tomorrow.

[2017-09-13 20:57] aprokop commented on #1619
Any decision on this? Do we want to move forward, or postpone the discussion till TUG?

[2017-09-13 20:59] srajama1 commented on #1416
@bartlettroscoe : Thanks for the offer. If you can show us with a dummy file, we will follow that template. I assume we will be able to use this model and report to some existing builds in the dashboard.

[2017-09-13 21:04] etphipp commented on #1733
Attached is a patch, where we just renamed n and k.
[git_diff.txt](https://github.com/trilinos/Trilinos/files/1300947/git_diff.txt)

[2017-09-13 21:04] jhux2 commented on #1619
@aprokop No decision -- we haven't had a Trilinos Leaders meeting in the last three weeks.

[2017-09-13 21:47] ndellingwood commented on #1416
Adding @trilinos/amesos2 so setting up the unit test and performance mentioned above does not fall off the radar.

[2017-09-13 21:50] #1092 closed

[2017-09-13 21:59] mhoemmen commented on #1733
@etphipp Thanks!  I found some other bugs in the routine -- it turns out that m and n need to come from C, not A.  I fixed the bugs, and added a test that exercises various dimensions and transpose combinations, comparing Tpetra::Details::Blas::Default::gemm and Tpetra::Details::Blas::gemm against Teuchos::BLAS::GEMM.  The test passes.  I am running the remote check-in test script now.

[2017-09-13 22:24] maherou commented on #1619
Sorry for the delay on this, due to canceled Trilinos Leaders meetings.

We can discuss next week (for sure).  In the meantime, since it is possible to change labels, and revert them if needed, it might be good to convert a few of them as an example.  Just a suggestion.

On Sep 13, 2017, at 4:04 PM, Jonathan Hu <notifications@github.com<mailto:notifications@github.com>> wrote:

Any decision on thi

[2017-09-13 22:35] bartlettroscoe commented on #1416
@srajama1,

Just one question.   Would these large files be needed for the CI build of Trilinos or could the CI build be run without these large files?  It would be better if every Trilinos developer did not have to clone this extra repo in order to run the CI tests.  That would impact every Trilinos developer.  Otherwise, if these tests just need to be run nightly or for your local development, t

[2017-09-13 22:41] crtrott commented on #1180
I will close this now, but add one comment: the biggest problem is still MPI. Unfortunately you can not use an MPI wrapper as the host compiler for NVCC. We tried that approach and it failed miserably for various reasons. Otherwise what CMAKE provides is actually sufficient, since we could just define all cpp files which contain Kokkos code as CUDA language files.

[2017-09-13 22:41] #1180 closed

[2017-09-13 22:44] bartlettroscoe commented on #1303
@dridzal.

It will fix the ones coming from the Teuchos Memory Management classes but that is all.

[2017-09-13 23:32] dridzal commented on #1596
This test now passes in the CI build.

[2017-09-13 23:32] #1596 closed

[2017-09-13 23:37] dridzal commented on #1303
OK, we will wait until you're done and then look for our own Teuchos-related warnings.  Right now, the output is completely non-intelligible due to the sheer number of warnings.

[2017-09-14 03:49] ambrad commented on #1303
@dridzal, a temporary (but definitely temporary) workaround is to add -Wno-terminate to CMAKE_CXX_FLAGS. You lose the benefit of that warning for other issues, of course, which is why it's just a workaround.

[2017-09-14 04:56] srajama1 commented on #1416
Just the nightly testing is good for now. This doesn't have to be part of the CI testing.

[2017-09-14 06:55] davydden opened #1737 "md5 checksum changed for 12.10.1"
just noticed that `md5` checksum changed for https://github.com/trilinos/Trilinos/archive/trilinos-release-12-10-1.tar.gz from `40f28628b63310f9bd17c26d9ebe32b1` to `667333dbd7c0f031d47d7c5511fd0810`. Can you please confirm that this is a desired change and the tarball was not compromized.

[2017-09-14 11:22] bartlettroscoe commented on #1416
@srajama1,

Okay, last two questions:

* What do you want the repo called?
* Where do yo wanted placed in the source tree?

How about calling the repo 'amesos2_large_test_data' and cloning it under:

[code]

?

So the repo on github would be:

* http://github.com/trilinos/amesos2_large_test_data/

and in the directory tree it would be:

[code]

That would automatically be set up by calling:

[code

[2017-09-14 11:53] anates opened #1738 "Trilinos does not find Mumps"
When setting up Trilinos using cmake, it can not find the mumps-libraries. When setting them manually in the according file, they are deleted when rerunning cmake, and replaced with "_MUMPS_cmumps_LIBRARY-NOTFOUND" (and similar). Is that an error in Trilinos?

[2017-09-14 14:32] aprokop commented on #1737
@trilinos/framework @jwillenbring @bmpersc

[2017-09-14 15:41] mhoemmen commented on #1738
@anates wrote:

How did you do that?  In particular, what CMake options did you use?

[2017-09-14 15:42] anates commented on #1738
Modified CMakeCache, but on second thought I think that does not help anyway. Somehow the MUMPS-options did not show up in CMake-Gui. They showed up when I added the necessary keys by hand.

[2017-09-14 16:11] maherou commented on #1531
@micahahoward has asked that we elevate the priority of this issue.  I have assigned it to @bartlettroscoe  for the analysis phase, at least.  I will also add this issue to the SART project board, in the backlog.

[2017-09-14 16:56] mhoemmen commented on #1738
@anates Does it work now?  If not, what were the keys that you modified, and what are their values?

[2017-09-14 16:57] mhoemmen commented on #1738
@anates Also, modifying CMakeCache.txt is not a good idea :-) .  Please either use the CMake GUI, or run `cmake` directly with the options you want.

[2017-09-14 16:58] mhoemmen commented on #1733
I pushed a fix to develop.  Thanks @etphipp !

[2017-09-14 16:58] #1733 closed

[2017-09-14 19:39] sayerhs commented on #1727
@jjellio Thanks for the comprehensive tips regarding compilation and running on KNL nodes. I had a few follow up question:

- Is there a Trilinos CMake option that I can turn on to enable `-lhugepage` during link time? Or is that something we should be manually adding to the CMake linker flags?

[2017-09-14 19:45] etphipp commented on #1682
Why won't this work:

- User provides no c++11/lambda flags in CMAKE_CXX_FLAGS or Trilinos_CXX_FLAGS
- CMake does the regular check if the C++ compiler works (as it does now)
- Tribits does the check for the c++11 flag if c++11 is enabled, and adds the right flag to CMAKE_CXX_FLAGS (as it does now)
- Tribits then adds --expt-extended-lambda to CMAKE_CXX_FLAGS if Kokkos_ENABLE_Cuda_Lambda=ON and c+

[2017-09-14 19:53] mhoemmen commented on #630
@DrBooom did this already.  Thanks! :-D

[2017-09-14 19:53] #630 closed

[2017-09-14 20:20] bmpersc commented on #1737
@davydden I don't know of any thing that has changed on the 12.10 branch. Looking at the log in github it does look like it is still at the 12.10.1 tag. Our official release is not done through github's downloads so I'm not really familiar with what could have happened. There are a couple things that spring to mind as possibilities. I assume you've already ruled this out, but I want to say the obv

[2017-09-14 20:23] davydden commented on #1737
I am quite certain that this is not the case. I see it on my mac, and on the cluster. My colleague told me about the whole issue while building `trilinos` last evening.

with this I have no experience.

I only have the new one :smile:

[2017-09-14 20:24] tjfulle commented on #1682
I like @etphipp suggestion

[2017-09-14 20:30] bartlettroscoe commented on #482
The experience over the last 10+ months has shown that the [checkin-test-sems.sh](https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing) script based on the SEMS env is robust and easy to set up and to run (see #1304 for more details and a detailed log).  In the last several months every failure shown on the [post-push CI build](https://github.com/trilinos/Trilinos/wiki/Polic

[2017-09-14 20:30] bartlettroscoe commented on #482
Closing as complete

[2017-09-14 20:30] #482 closed

[2017-09-14 20:33] bartlettroscoe commented on #1304
FYI: The machine that runs the standard CI build ceerws1113 will be done from at least 4 pm MDT on 9/15/2017 to at least 6 pm MDT on 9/16/2017.  Therefore, Murphy's law for software says that the CI build will be broken when it starts back up :-)

[2017-09-14 20:34] bartlettroscoe commented on #1630
This will hopefully be solved when #1400 is complete (no ETA on that at this point).

[2017-09-14 20:36] aprokop commented on #1737
Can somebody diff the tarball with the tip of 12.10.1 branch?

[2017-09-14 21:00] bmpersc commented on #1737
There was someone here working with spack about 6 months ago, I'll ask and see if he has a tarball from trilinos from that time. Maybe it will show us something. If he doesn't I think I'd like to change the direction of this from "why did the md5 sum on github change" to  "can spack use the official release tarballs of Trilinos" instead. Let me see what we have here before we worry about that too

[2017-09-14 21:13] crtrott commented on #1682
Yeah thats a good idea. If you guys agree to this we make it default on for CUDA 7.5 and 8.0.

[2017-09-14 21:29] mhoemmen commented on #1682
@crtrott I like @etphipp 's suggestion.

[2017-09-14 21:37] bmpersc commented on #1737
@davydden I just spoke with the person I mentioned above and they did not have a tarball of Trilinos so we won't be able to do any comparisons.

So at this point I think we need to decide what is the path forward. I'm not real keen on the idea of spending a lot of time hunting down an issue in a process we don't control and don't use as part of our official releases.

There are a couple low cost p

[2017-09-14 21:39] jjellio opened #1739 "Tpetra MV putScalar does not thread scale and is less performant than scaling a MV by a constant"
This is an issue to track a performance problem identified on a Cray/KNL machine.

TLDR: putScalar on a block of multivectors takes over twice as long as computing an inner product or vector update on the same block of vectors. Furthermore, putScalar is taking substantially longer than scale, yet they should scale similarly.

I've constructed a small slide deck with details (email me if you would

[2017-09-14 21:43] mhoemmen commented on #1682
I would like to state for the record:
[code]
Tpetra has been conservative about `KOKKOS_LAMBDA`, compared to other packages.

[2017-09-14 21:45] mhoemmen commented on #1739
`Tpetra::MultiVector::putScalar` does not use kokkos-kernels, though it's worth checking kokkos-kernels' code for this.

[2017-09-14 21:49] jjellio commented on #1739
Correct, the profiler points to deep_copy. I added kokkos-kernels, because it may be relevant.

This is most likely a Kokkos issue, or perhaps an issue related to how Tpetra uses Kokkos.

What does Tpetra call for scale?

[2017-09-14 21:51] mhoemmen commented on #1739
Tpetra calls `Kokkos::deep_copy`.  I'm fixing it right now; I'll just embed `parallel_for` loops.

Not sure why `Kokkos::deep_copy` isn't thread parallel, but whatever.

[2017-09-14 21:53] davydden commented on #1737
correct.

We switched to downloading from github a year ago https://github.com/LLNL/spack/commit/aca8576de4f92498ab15f2a8ca0b0409205520b4 . The reason was that Trilinos servers were down for a considerable amount of time https://github.com/LLNL/spack/issues/1578 . IIRC [homebrew](https://github.com/Homebrew/homebrew-science/blob/master/trilinos.rb) switched to github downloads at the same time.

T

[2017-09-14 21:53] #1737 closed

[2017-09-14 22:05] jjellio commented on #1739
Is scale parallel_for loops?

[2017-09-14 22:05] mhoemmen commented on #1739
It calls `KokkosBlas::scal`.

[2017-09-14 22:20] tjfulle commented on #1682
A more detailed accounting of `lambda` usage:

Package | `lambda`s (including tests and examples) | `lambda`s (excluding tests and examples)
--------|-----------|-----------------------------------------
intrepid | 1 | 1
intrepid2 | 2 | 0
kokkos | 71 | 9
kokkos-kernels | 37 | 0
muelu | 24 | 5
phalanx | 9 | 9
sacado | 6 | 6
shylu | 13 | 0
stk | 40 | 0
tpetra | 30 | 16
total | 233 | 46

[2017-09-14 22:28] lucbv commented on #1739
It seems that Kokkos::deep_copy() will do a parallel_for using ViewFill() if you copy from Host memory into a view.

[2017-09-14 22:30] bartgol commented on #1739
Agreed. Kokkos::deep_copy(some_view, scalar_type) does a parallel for. What does not do a parallel_for is Kokkos::deep_copy(some_view, some_other_view), which, on Host (I think this is the case here, since we're on KNL), simply calls memcpy.

[2017-09-14 23:14] jjellio commented on #1727
No.

Since this thread is Cori specific, the way to use hugepages is:

1)
module load craype-hugepages2M
This will add the correct include and linker arguments

2) compile like normal. Cray uses static linking + compiler wrappers, so the mojo from 'module load' is hidden. You can inspect your shell environment to see it though, e.g., env | grep HUGE

3)
Run the code**:
module load craype-hugepages

[2017-09-14 23:18] jjellio commented on #1727
As a brief followup, you may noticed that a pagesize of 512MB is typically the worst, and that the timing can be significantly longer than the best. E.g., repartition, rebalance, RAP, Hierarchy...

What happens is that with a page size so large, the system is not able to allocate 512MB pages all the time. When a Hugepage allocation fails, it defaults to the system's pagesize, which is 4KB. In prio

[2017-09-15 03:06] bartlettroscoe opened #1740 "Discuss, refine, and document subteam/subproject development branches"
**CC:** @dridzal, @jwillenbring, @maherou

**Description:**

This story is to document a discussion about the subteam/subproject development workflow that I helped the ROL team to set up and how to generalize it and document it for the benefit of other Trilinos development subteams.

**Definition of Done:**

ToDo: Fill in once discussion is farther along so we can better scope this out

**Tasks:**

[2017-09-15 03:11] bartlettroscoe commented on #1740
The below email thread was the motivation for this issue and provide some background.  (I had the permission from all of the participants in this email thread to post it).

I will respond to Denis' questions in the next comment.

----

From: Ridzal, Denis
Sent: Wednesday, September 13, 2017 12:01 PM
To: Bartlett, Roscoe A
Cc: Heroux, Michael A ; Willenbring, James M
Subject: Re: Subteam git workfl

[2017-09-15 04:22] mhoemmen opened #1741 "MueLu: Fishy-looking CMake warning about a test"
@trilinos/muelu
The CMake warnings below that "[a]rguments are being passed in but not used" look a bit fishy.  Does that mean that there is some CMake syntax issue that could make the test build or run incorrectly?
[code]

[2017-09-15 04:49] aprokop commented on #1741
@mhoemmen I'm pretty sure it is case sensitive. I pushed a quick fix in 42d77a9b522657aa2ff6486c04020ce6675a31c3, but please do let us know if the problem persists.
Closing for now.

[2017-09-15 04:49] #1741 closed

[2017-09-15 05:27] aprokop commented on #1538
@jjellio @mndevec  Any updates on Zoltan2 Cori runs?

[2017-09-15 08:04] anates commented on #1738
@mhoemmen Added the entry "TPL_MUMPS_LIBRARY_DIRS" and set it accordingly. Afterwards it worked fine

[2017-09-15 12:20] bartlettroscoe commented on #1667
The commit in the branch `stk-boost-isystem-1137` was applied to stk in the the Sierra.base repo and was snapshotted back to Trilinos in the commit:

[code]

But just to be safe, I pushed the branch to my GitHub fork for safe keeping:

[code]

Then I deleted the branch on this main GitHub repo:

[code]

and deleted it in my local git repo with:

[code]

NOTE: I needed the -D option instead of the

[2017-09-15 12:28] bartlettroscoe commented on #1304
FYI: There were a lot of test failures in the CI build this morning shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3109695

This appears to have been due to an env problem of some type breaking MPI exec.  For example, for the failing test [ ThyraCore_test_std_ops_serial_MPI_1](https://testing.sandia.gov/cdash/testDetails.php?test=41319581&build=3109750), it showe

[2017-09-15 12:30] nschloe opened #1742 "Amesos2: TrilinosSS optional or required?"
In `packages/amesos2/cmake/Dependencies.cmake` one finds
[code]
which suggests TrilinosSS is required to build Amesos2. However, in `packages/amesos2/src/CMakeLists.txt` one finds
[code]
which suggests it's optional.

Which one is it?

(Btw, the conditional could perhaps rather be `${PROJECT_NAME}_ENABLE_TrilinosSS`.)

[2017-09-15 12:33] aprokop commented on #1742
@trilinos/amesos2

[2017-09-15 12:36] aprokop commented on #1731
- [ ] There is still something in `CreatePreconditioner`
[code]

[2017-09-15 13:13] sayerhs commented on #1727
@jjellio Wow! Thank you for the comprehensive response. Answered a lot of my questions, and a few that I didn't know to ask. I'll use these tips to setup the Nalu runs on Cori.

[2017-09-15 15:10] mhoemmen commented on #1741
Thanks @aprokop ! :-D  Just wanted to make sure this wasn't a bad thing.  I'll keep an eye out for this.

[2017-09-15 15:14] mhoemmen commented on #1738
@anates I'm glad it works now!  Trilinos' preference is that users set `MUMPS_LIBRARY_DIRS` first, and then only set `TPL_MUMPS_LIBRARY_DIRS` if that doesn't work.  The same holds for any third-party library, e.g., BLAS and LAPACK.

[2017-09-15 15:14] #1738 closed

[2017-09-15 15:22] aprokop commented on #1705
The "target rows" option was merged. The possible third option (allowing some percentage of processes to drop below the threshold without requiring repartitioning) warrants further discussion.

[2017-09-15 15:30] aprokop opened #1743 "MueLu: Proposal: use special form of the tentative matrix for smoothed prolongator construction"
@trilinos/muelu @jhux2

## Summary

Tentative factory produces a matrix of special form. This special form can be used to speed up matrix-matrix multiply procedure. For example, when nullspace is a constant vector, multiplying by tentative matrix is equivalent to averaging columns of matrix A. In addition, the tentative matrix can be stored in its "multivector" form, with columns compacted to mult

[2017-09-15 16:05] srajama1 commented on #1742
It is required, the check is redundant.

[2017-09-15 16:14] nschloe commented on #1742
Thanks for the reply.

For the Debian package, I'll have to make a case for installing TrilinosSS. Can Amesos2 work with SuiteSparse (from upstream)? If not, what are the differences? If this has been written up somewhere, a link will do.

[2017-09-15 16:15] #1742 closed

[2017-09-15 17:45] jjellio commented on #1727
@sayerhs My experience is with Quad/Cache mode.  I suspect that turning off HBM (quad/flat) may eliminate some issues, but things like hugepages will still show a benefit, because they improve the performance of the TLB.

From my experience, no apps I've used can do real science and live entirely in 15GB of HBM memory. Therefore I tested with HBM in cache mode (which is Cori's default).

[2017-09-15 17:46] jjellio commented on #1538
Not yet.  Baseline Muelu data (w/out MJ work) is nearly finished.

An MJ run should go into the que today.

[2017-09-15 18:02] etphipp opened #1744 "New Stokhos build failures in "clean" builds"
The dashboard is showing new stokhos build failures in the "clean" builds, e.g.,

https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3109333

It looks to me it is due to this commit:

https://github.com/trilinos/Trilinos/commit/6b8439299be2e20a495b4467de05ac0d4ca7f293

The build failures occur in Stokhos' instantiations of Ifpack2 on its embedded UQ types, and appear to be arising from th

[2017-09-15 18:14] ambrad commented on #1744
Thanks @etphipp. I'll look into that. For now, to keep the builds that run ST code clean, I'll push a commit that moves HTS back to EX.

[2017-09-15 18:16] ambrad commented on #1744
Check-in script running.

[2017-09-15 19:56] bartlettroscoe commented on #1304
This is a brief comment log some stats about this CI process using the checkin-test.py script in Trilinos.  How may people used the checkin-test-sems.sh script to push this year (FY17) as compared to last year (FY16)?  I will go with today, 9/16 each year as the boundary.

[code]

Wow, that looks like no improvement at all.  So really not that many more people have used the checkin-test.py script

[2017-09-15 20:31] ibaned commented on #1304
One simple metric I can think of is number of instances where downstream apps find issues. A concrete example is to create a few extra issues labels besides "bug", namely "compile error (Trilinos)", "compile error (application)", "compile warning (Trilinos)", "compile warning (application)", "test failure (Trilinos)", "test failure (application)". Then we can collect statistics on how many issues

[2017-09-15 20:48] bartlettroscoe commented on #1304
Those would be great. The main challenge with that is that is getting people to actually remember to add the right labels.  In my experience, metrics that require a bunch of people to remember to do something will be very incomplete.  If possible, it is much better if we can collect metrics that don't require any specific action by anyone (other than the work to set up automated metrics extraction

[2017-09-15 20:53] mhoemmen commented on #1304
@bartlettroscoe Your remote check-in test script has been fantastic for me!  I love the "fire and forget" feature.  I use it for nearly every commit -- the only exceptions have been "emergency" pushes to fix a known build issue.

I would consider adding labels part of triaging a new issue.  I think it's good hygiene for Trilinos developers to go through issues now and then, and add labels as appro

[2017-09-15 20:55] mhoemmen commented on #1739
Commit https://github.com/mhoemmen/Trilinos/commit/4b9e29d19b750f30e55899faa87ee1f978887f21 should fix this issue by using `Kokkos::parallel_for` to fill the View, instead of `Kokkos::deep_copy`.  Thanks!

[2017-09-15 20:55] #1739 closed

[2017-09-15 21:07] ibaned commented on #1304
While I agree this is true in the very long run, I think the work to set up automated extraction is quite daunting and unlikely to reach the level of completeness that we can achieve manually unless a lot of dedicated funding is poured into it.

This is part of the reason extraction is so hard also, is because each application has such a different infrastructure and practices for testing. What all

[2017-09-15 22:31] bartlettroscoe commented on #1304
Okay, I am convinced.  Let's create a separate GitHub issue calling something like "Define labels and rules for Trilinos application issues and metrics" and then we can discuss it more there and bring in Mike H. , Jim W., and other interested individuals.  But before we define any more labels I think we need to better organize them along the lines of #1619.

[2017-09-15 22:34] ibaned opened #1745 "Define labels and rules for Trilinos application issues and metrics"
Please see the discussion between https://github.com/trilinos/Trilinos/issues/1304#issuecomment-329885910 and https://github.com/trilinos/Trilinos/issues/1304#issuecomment-329918877 where I propose the following:

Note @bartlettroscoe 's observation:

@maherou @jwillenbring

[2017-09-15 22:35] ibaned commented on #1745
I just realized we can reduce the combinatorial explosion by just having two categories of labels:
1. `compile warning`, `compile error`, `test failure`
2. `Trilinos develop`, `Trilinos master`, `application`

[2017-09-15 22:37] jjellio commented on #1739
I'll get to this after I test some new Zoltan2 and Muelu things.

FYI, there are more issues with Views, or atleast with MVT::CloneView and CloneViewNonConst.

Once I've had time to look over the data a little more, I will file some issues.

[2017-09-15 22:40] bartlettroscoe commented on #1745
We will need to categorize these them according to #1619. Perhaps something like:

* `app error type: compile warning`, `app error type: compile error`, `app error type: test failues`
* `error location: Trilinos develop`, `error location: Trilinos master`, `error location: application`

?

We just need a convention (i.e. '/' or ':' separators) and then apply it consistently.

[2017-09-15 22:42] bartlettroscoe commented on #1619
I kind of like:

[code]

more than

[code]

Reads better in general I think (but just a preference)

[2017-09-15 23:28] ibaned commented on #1745
I would go with `error type` instead of `app error type`, since it doesn't necessarily have to be reported by an application, it could just be a user compiling Trilinos in a non-CI configuration.

[2017-09-15 23:51] jhux2 commented on #1619
I updated the labels `wontfix`, `duplicate`, `invalid` to `resolved/*`.

![newlabels-2](https://user-images.githubusercontent.com/12970120/30506954-ee6308d4-9a34-11e7-82a0-8c91d69469e5.png)

:+1: if you prefer this.

[2017-09-15 23:53] jhux2 commented on #1619
I updated the architecture labels to `system: *`.

![newlabels-1](https://user-images.githubusercontent.com/12970120/30507126-4c7d3812-9a36-11e7-852b-420fd9a50ade.png)

:+1: if you prefer this style.

[2017-09-16 01:38] jhux2 commented on #1619
By the way, github has no way to do a wildcard search, e.g.,
`is:issue is:open label:"system: *"`
or
`is:issue is:open label:"resolved/*"`.

Just wanted to point this out.

[2017-09-17 18:36] #1731 closed

[2017-09-18 01:49] bartlettroscoe opened #1746 "Set up Trilinos builds to test new all-at-once CMake/CTest/CDash feature"
**Next Action Status:**

A single all-at-once build from ceerws1113 been going on for a few weeks.  Next: Set up dual submits to testing.sandia.gov/cdash and testing-vm.sandia.gov/cdash/ to help test new site with lots of data then set up a few more all-at-once builds going to different tracks ...

**CC:** @trilinos/framework

**Description:**

This story is to track effort to set up new automated

[2017-09-18 01:51] bartlettroscoe commented on #1746
I am already working on this.  I am setting up an all-at-once CI build that will submit to the new testing-vm.sandia.gov/CDash/ and the old testing.sandia.gov/cdash/ site.

[2017-09-18 04:10] aprokop opened #1747 "MueLu: what to do when rowMap does not match ColMap?"
@trilinos/muelu

We have a lot of code that is sensitive to this question, and from I can see the code is buggy:
- CoalesceDropFactory
- FilteredAFactory (noticed in #1678)
- Aggregation

I think MueLu would be a lot better if we *require* that row and column maps match. Otherwise, if we don't, we'll have to check for that everywhere (that is minor), and use error prone othwerise. This will most l

[2017-09-18 11:41] aprokop commented on #1747
Also affected: Ifpack2 preconditioners, for instance, Jacobi and Gauss-Seidel, that rely on getting a correct diagonal, all ILU preconditioners.
It also seems that some of the Tpetra routines implicitly rely on this fact, for instance, `getLocalDiagOffsets` in Graph does not do any global indices check, so in fact may return correct mathematical matrix diagonal offsets.

[2017-09-18 11:43] aprokop commented on #1747
@mhoemmen I'd like to solicit your opinion on this. How hard do you think would be for preconditioners in Trilinos to require things from applications regarding their column maps?

[2017-09-18 15:05] tawiesn commented on #1747
@aprokop Not sure whether i understand what you mean: given the fact that our row maps are always supposed to be non-overlapping and therefore the same as the range maps and that the column maps are always overlapping (in parallel), what exactly do you mean? Do you have an example?

[2017-09-18 15:12] mhoemmen commented on #1747
@aprokop wrote:

Which routines are you looking at?  `Tpetra::CrsGraph::getLocalDiagOffsets` definitely uses the row and column Maps.  Even the thread-parallel version uses the LocalMap objects.  See `Tpetra_Details_getGraphDiagOffsets_def.hpp`.  In fact, this could use optimizations for the "is fitted" case.

[2017-09-18 15:15] mhoemmen commented on #1747
@aprokop wrote:

It could be harder than one thinks.  I tried fixing `Ifpack2::LocalFilter` a few years ago to remove the implicit "is fitted" assumption.  It was hard, because `Ifpack2::AdditiveSchwarz`'s implementation of overlap had an unexpected coupling to LocalFilter.  I gave up at the time since there wasn't an application driver.

[2017-09-18 15:16] mhoemmen commented on #1747
@tawiesn wrote:

See the documentation of the `isLocallyFitted` predicate in `Tpetra_Map_decl.hpp`.

[2017-09-18 15:18] crtrott commented on #1682
The important question is whether the LAMBDA usage is protected appropriately, and whether the code still works if you don't enable it. But if Trilinos makes the decision to use an experimental feature by default for CUDA that is fine with me. You just need to make that decision, and make sure the code works if it is turned off, or not allowing it to be turned off.

[2017-09-18 15:19] aprokop commented on #1747
@mhoemmen If I look at the `Tpetra::CrsGraph::getLocalDiagOffsets`, I see this:
[code]
So, if a matrix is fill complete, it immediately goes to local orderings. It does *not* check for whether the maps are locally fitted, and thus may return something weird. I hope I get it right.

[2017-09-18 15:21] aprokop commented on #1747
No, I think you misunderstood me. I'm not arguing for removing the assumption for maps to be locally fitted. Instead, I'm arguing for making it mandatory to be able to use preconditioners.

[2017-09-18 15:23] aprokop commented on #1747
@tawiesn I'm talking about being locally fit. Specifically, column_gids = [row_gids, exras]. As Mark pointed out, `isLocallyFitted` documentation is a better description. For us, this was call `isGoodMap` in the TentativeP factory. Essentially, it means that GIDs corresponding to local indices in row map are the same as GIDs in the column map with the same local indices.

[2017-09-18 15:42] lucbv commented on #1747
@aprokop isLocallyFitted does not require two maps to be the same at all.
If a `rowMap` contains only on rank entries and the `colMap` contains a superset of said on rank entries plus off rank entries.
Most of the time `isLocallyFitted(rowMap,colMap)` will return true unless your rowMap contains off rank entries which seems unlikely.