[2019-12-10 18:06] bartlettroscoe commented on #6422
This one took me about 35 minutes to triage and create.

[2019-12-10 18:13] william76 commented on #6418
@ndellingwood for GPU shouldn't you use a Testbed?

[2019-12-10 18:15] bartlettroscoe commented on #6418
@william76, we don't always see the same behavior with a Power+GPU vs. an Intel+GPU system.   I don't know of any SEMS SON machines that have a Volta GPU.

[2019-12-10 18:17] william76 commented on #6418
Yeah... I don't think any of the SEMS machines have GPUs... the word from SEMS folks is that if GPUs are needed for SEMS machines for things like CI, then maybe submit a change request to the SEMS help desk and they'll look into it :p

[2019-12-10 18:17] ndellingwood commented on #6418
@william76 yes that is an option, but I was trying to track down a resource where we can match the environment where the failures occur.

[2019-12-10 18:24] bartlettroscoe commented on #6422
FYI: Just pushed the https://gitlab-ex.sandia.gov/atdm/TrilinosATDMStatus commit:

[code]

[2019-12-10 18:27] bartlettroscoe commented on #6422
FYI: @kddevin, @MicheldeMessieres

The new commits that were pulled the testing day 2019-11-26, for example, [here](https://testing-dev.sandia.gov/cdash/viewNotes.php?buildid=5050489#!#note1).  Looking over that set of commits, there are more thane one commit and PR that could have triggered this failure but it seems most likely that the Zoltan2 commits in PR #5332 by @MicheldeMessieres appear the

[2019-12-10 18:36] MicheldeMessieres commented on #6422
@kddevin @bartlettroscoe I would be very surprised if it was not #5332. I am building Cuda 10 on white right now to reproduce.

[2019-12-10 18:44] kddevin commented on #6422
Thanks, @MicheldeMessieres
From the test's comments:
Generate a test to partition lots of points, all at the same coord
    Exposed an overflow in Multijagged partitioning, determining weights to
    the left of each cut.  #4785

[2019-12-10 19:35] GeoffDanielson commented on #6333
This appears to be OBE according to your dashboard.

[2019-12-10 20:24] kddevin commented on #6333
@GeoffDanielson what is OBE?  I still see failures on 12/8/19.
https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-10-23&end=2019-12-10&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug&field2=testname&compare2=61&value2=TpetraCore_FECrsMatrix_UnitTests_MPI_4&field3=site&c

[2019-12-10 20:30] bartlettroscoe commented on #6333
@GeoffDanielson, the link:

* [30 days of history for TpetraCore_FECrsMatrix_UnitTests_MPI_4 in build Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=30%20days%20ago&end=now&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex

[2019-12-10 20:32] bartlettroscoe commented on #6333
@GeoffDanielson and @kddevin,

Note that the link:

* [30 days of history for TpetraCore_FECrsMatrix_UnitTests_MPI_4 in build Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=30%20days%20ago&end=now&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-

[2019-12-10 20:58] bartlettroscoe commented on #3585
FYI: These tests have been disabled in ATDM Trilinos testing as per:

* https://sems-atlassian-srn.sandia.gov/browse/ATDV-263

Adding "Disabled Tests" label.

[2019-12-10 21:00] bartlettroscoe commented on #3499
These tests have been disabled as per:

* https://sems-atlassian-srn.sandia.gov/browse/ATDV-263

Adding label "Disabled Tests"

[2019-12-10 21:01] bartlettroscoe commented on #4159
These tests have been disabled as per:

* https://sems-atlassian-srn.sandia.gov/browse/ATDV-263

Adding label "Disabled Tests".

[2019-12-10 21:22] GeoffDanielson commented on #6333
apologies, I read the cdash results in the wrong order.  Working this now.

[2019-12-10 21:28] bartlettroscoe commented on #5713
FYI: The failing anasazi tests associated with this issue have been disabled as per:

* https://sems-atlassian-srn.sandia.gov/browse/ATDV-263

[2019-12-10 21:32] jhux2 commented on #6322
@ccober6 It appears that @william76 has fixed this issue with his PR #6414 for issue #6404.  I updated this morning and the build goes through on your Mac laptop.  Thank you, @william76!

[2019-12-10 22:33] seheracer commented on #6418
I have just reproduced the errors, started debugging..

[2019-12-10 23:01] cgcgcg opened #6423 "Zoltan2: MultiJagged issue on Spectrum MPI"
## Bug Report
@trilinos/zoltan2

### Description
When running on lassen, MultiJagged is bugging out with the following message:
[code]
It seems that there is an issue with certain things not being supported by Spectrum MPI:
https://www.olcf.ornl.gov/for-users/system-user-guides/summit/summit-user-guide/#open-issues

[2019-12-11 00:27] kddevin commented on #6423
Do we have a stack trace for this error?
The allreduce calls in Multijagged do not use a user-defined MPI datatype, but they do use a user-defined reduction operation.  This use-case differs from the documentation in the link.
The user-defined operator is not new to the Kokkos version of Multijagged, although now we are providing device buffers to it.
Can we demonstrate bad behavior with a simple

[2019-12-11 00:34] ZUUL42 commented on #6295
Just kicked off a new 8.3 test build.
[CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic166&field2=buildname&compare2=61&value2=PR-gcc_8.3-test-Trilinos_pullrequest_gcc_8.3.0-15&field3=buildstamp&compare3=61&value3=20191211-0033-Experimental)

[2019-12-11 00:45] kddevin commented on #6422
@MicheldeMessieres
Note that the instructions to reproduce are not correct.
I needed to remove "failing starting 2019-11-26" from the "source" command line, and
I needed to use queue rhel7G with this configuration.
Then the cited test did fail.

[2019-12-11 00:58] mhoemmen commented on #6423
"CUDA-aware" MPI doesn't necessarily mean that CUDA buffers work with MPI collectives.

[2019-12-11 01:02] brian-kelley opened #6424 "Zoltan2: MultiJagged causing Epetra-based Panzer MiniEM RefMaxwell test to fail"
## Bug Report
@trilinos/zoltan2
@trilinos/panzer

### Description
In a fresh build from develop with tests and examples enabled, Panzer's ``PanzerMiniEM_MiniEM-BlockPrec_RefMaxwell_Epetra_MPI_4`` is failing. This is in panzer/mini-em/example/BlockPrec. It's really an example (not a normal test), but this is probably worth looking into. Changing the MueLu repartition algorithm in ``solverMueLuRefMa

[2019-12-11 01:08] kddevin commented on #6345
@rppawlo
Is this error seen only when running with empire, or might we be able to reproduce it with a mini-em test?

If it is seen only in empire, would you be interested in trying an experiment to see whether we can make it go away by skipping the use of FixedHashTable in the Directory?  The modification is straightforward; we'd be happy to add it as a runtime option in a branch, but it might be

[2019-12-11 01:36] MicheldeMessieres commented on #6422
@kddevin Thanks, I did reproduce as well - I used rhel7G unintentionally. It passed with 1 rank and gave me a view bounds error on 2 ranks, so that will probably be the best initial tracking point. I will work on this tomorrow.

[2019-12-11 01:42] MicheldeMessieres commented on #6424
I plan to resolve this tomorrow.

[2019-12-11 04:40] seheracer commented on #6418
I figured out the problem: I had mistakenly used the exact same GEMM algorithm for transpose and conjugate-transpose cases of A. I'm surprised by this code having passed the Trilinos tests before. I will push a PR tonight to fix this.

[2019-12-11 09:12] anates opened #6428 "Compilation of Trilinos fails due to Xpetra"
When compiling Trilinos without external packages, just enabling internal packages, the compilation fails for the package xpetra, mainly with errors like
`~/Downloads_GCC7/Trilinos/packages/xpetra/src/Vector/Xpetra_TpetraVector_def.hpp:74:15: error: invalid use of incomplete type 'class Xpetra::TpetraVector<S, LO, GO, N>'`
Thus I assume I missed a switch somewhere, but can not find it atm. Error o

[2019-12-11 13:26] bartlettroscoe commented on #6418
@seheracer, would it be possible to add a new test to KokkosKernels that exposes this defect with OpenMP only?  That way the Trilinos PR tester builds will catch defects like this in the future.

I think that is the official Trilinos policy as stated in:

* https://github.com/trilinos/Trilinos/wiki/Trilinos-Testing-Policy

The test suite for KokkosKernels should be comprehensive in its own right.

[2019-12-11 13:42] bartlettroscoe commented on #6008
FYI: This executable has been disabled for a long time and there does not seem to be any problems reported by any ATDM customers (likely because they are not using cuda+rdc builds).  Therefore, I will add the "Stalled" label to get this off of our main list of issues.

[2019-12-11 15:09] bartlettroscoe opened #6429 "TeuchosCore_Array_PerformanceTests_basic_MPI_1 rarely randomly failing with unit test ratio timing failures in ATDM CUDA debug builds on 'white' and 'ride' starting 2019-10-12"
CC: @trilinos/teuhcos, @jwillenbring  (Trilinos <product-area-name> Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Ar

[2019-12-11 15:14] bartlettroscoe commented on #6429
Not sure what changes on 'white' and 'ride' to trigger these timing failures, but this particular test is not designed to be performance test per say.  It is hard to believe the ratio of non-optimized Teuchos Array iterator operations is more than 100x slower than raw pointer operations on this machine but I guess anything is possible.

In any case, the solution is simple.  I will just increase th

[2019-12-11 15:17] bartlettroscoe commented on #6429
FYI: Took me about 45 minutes to triage and create the issue.  A lot of that time was waiting for the CDash queries to run :-(

[2019-12-11 15:30] bartlettroscoe commented on #5728
This is for a PR build, right?  We already have plenty of post-push pure debug builds in the ATDM Trilinos builds we are maintaining.  What we really need is a PR build that is a pure debug build, meaning:

* `CMAKE_BUILD_TYPE=DEBUG`
* `Trilinos_ENABLE_DEBUG=ON`

[2019-12-11 15:43] stanmoore1 commented on #6345
@ktpedre said that MPI on Stria is broken which is causing these issues.

[2019-12-11 16:02] rppawlo commented on #6345
@kddevin - once the mpi is cleaned up, I'll rerun the tests. If there are still issues, I will try the above patch. I forwarded you the stria mpi details in a separate email.

[2019-12-11 16:26] MicheldeMessieres commented on #6423
@cgcgcg PR #6431 I expect will fix this, but I don't have Lassen access so you may want to just try it. We should do this change anyways.

[2019-12-11 16:33] cgcgcg commented on #6423
@MicheldeMessieres Sure, I will give this a shot and report back. Thanks!

[2019-12-11 16:51] mhoemmen commented on #6418
@seheracer I don't think it's too hard to add a test -- you could just compare against the system BLAS directly.  That's what the failing test did.  You don't even need to run cuBLAS -- just copy to host and call the system BLAS.

[2019-12-11 17:10] cgcgcg commented on #6419
@ndellingwood Could you try with the latest develop?

[2019-12-11 18:04] ndellingwood commented on #6428
@anates which SHA of Trilinos are you using? I ran into this issue (cross-referencing #6314 #6404) and @william76 recently pushed in a fix in PR #6414

[2019-12-11 18:26] MicheldeMessieres commented on #6423
@cgcgcg Can you clarify the context you saw the bug? Was it running zoltan2 tests or another program calling multi jagged? @mhoemmen was pointing out the fix should do nothing for UVM space and I was making an assumption we were talking about the UVM off zoltan2 tests (which I'm realizing now was probably not correct.)  If you were looking at zoltan2 tests it would be useful to know which pass/fai

[2019-12-11 18:30] ndellingwood commented on #6419
@cgcgcg build in progress, pretty slow on my laptop so may be mid-afternoon before I get back to you with results.

[2019-12-11 18:33] ikalash commented on #6355
@kddevin : sorry for the delay in my response - I'm in a workshop for most of this week.  It appears your proposed fix resolves my issue.  Per Mark's comment, do we want to include the unsigned and unsigned long long version of getMpiDataType too?

Also, should I create a PR for the Tpetra (and Teko) changes?  I am still doing some testing before this would be ready, in particular, it appears my c

[2019-12-11 18:38] GeoffDanielson commented on #6333
Following the directions, I cannot reproduce this failure on ascicgpu15.

`[gcdanie@ascicgpu15 FECrsMatrix]$ mpirun -np 4 ./TpetraCore_FECrsMatrix_UnitTests.exe
Teuchos::GlobalMPISession::GlobalMPISession(): started processor with name ascicgpu15 and rank 0!
Teuchos::GlobalMPISession::GlobalMPISession(): started processor with name ascicgpu15 and rank 2!
Teuchos::GlobalMPISession::GlobalMPISession

[2019-12-11 18:40] cgcgcg commented on #6423
@MicheldeMessieres I was running EMPIRE, which uses MueLu. MueLu uses Zoltan2 MJ for rebalancing. Yep, it's using UVM.

[2019-12-11 19:10] brian-kelley commented on #5614
Closing since the deprecated removal PR is ready to go in next week.

[2019-12-11 19:10] #5614 closed

[2019-12-11 19:14] brian-kelley opened #6434 "MueLu: DriverEpetra_CircNspDependency fails/hangs"
## Bug Report
@trilinos/muelu

### Description
The test ``MueLu_DriverEpetra_CircNspDependency_MPI_4`` in test/scaling fails because "P" is not stored in the level. Discovered while testing tpetra-remove-deprecated branch but it happens in develop too.

### Steps to Reproduce
1. SHA1: b339e54
2. [Configure script](https://gist.github.com/brian-kelley/49f7e06477054f0b4457b8b5c4be00ed) although seve

[2019-12-11 19:47] mhoemmen commented on #6423
@MicheldeMessieres wrote:

The only place you _should_ need to do that is if you're giving buffers to MPI.  Tpetra has chosen to query MPI for CUDA-awareness, but CUDA-awareness might only involve point-to-point communication, not necessarily collectives or other things.

[2019-12-11 19:47] mhoemmen commented on #6333
What's this WARNING thing -- do we need to change `KOKKOS_ARCH`?

[2019-12-11 19:55] ccober6 commented on #6322
@jhux2, so did a pull and a clean rebuild to get @william76 fix in PR #6414.  Now I am getting the following errors on both my Macs.

[code]

[2019-12-11 20:03] ndellingwood commented on #6419
@cgcgcg my build makes it past the RefMaxwell error addressed, now it is failing in `Xpetra_MapExtractor` with errors like

[code]

[2019-12-11 20:19] ndellingwood commented on #6322
I'm seeing the same issue as @ccober6 after a pull with #6414 and #6419
Adding @william76 and @cgcgcg

[2019-12-11 20:25] jhux2 commented on #6322
@ccober6 I will do a clean build to see if I can reproduce on your Mac.

[2019-12-11 21:23] jhux2 commented on #6322
@ccober6 reports that changing
`const RCP<Vector> vv = VectorFactory::Build(getMap(block, false), false);`
to
`const RCP<Xpetra::Vector<Scalar,LocalOrdinal,GlobalOrdinal,Node> > vv = Xpetra::VectorFactory<Scalar,LocalOrdinal,GlobalOrdinal,Node>::Build(getMap(block, false), false);`

fixes the issue.

[2019-12-11 21:27] william76 commented on #6322
@jhux2 should I put that in or do you already have a branch with the change?

[2019-12-11 21:36] jhux2 commented on #6322
@william76 I'll put in a PR.

[2019-12-11 21:41] william76 commented on #6322
@jhux2 ok.
I think this was because we don't have the shortnames macros in the def files... there are probably other places in this file where this kind of issue could come up, such as line 325:
[code]
etc.

I think in more recent classes I did the ETI work on, I put in blocks of lines like this:
[code]
at the start of method definition blocks to just define the classes used in the function withou

[2019-12-11 21:48] lucbv commented on #6322
@william76 stop adding
[code]
when it is not what you need, this often creates `-Wshadow` warning which I am in the process of cleaning up for issue #6295

Here the issue is that the headers for the VectorFactory and potentially MultiVectorFactory are included in the `def` file and not the `decl` file. If you move them in the `decl` file you will be able to use the short names without re-declaring

[2019-12-11 22:11] william76 commented on #6322
@lucbv
`Xpetra_BlockedMultiVector_decl.hpp` does not include `Xpetra_VectorFactory` because there are no uses of `VectorFactory` anywhere in the declarations of `BlockedMultiVector`. It is included in `Xpetra_BlockedMultiVector_def.hpp` because it does get called inside the function bodies.  I was trying to not include headers in the decl files if the declarations don't need them.

If you move the

[2019-12-11 22:22] ccober6 opened #6438 "Tempus: Get Basic Variable Stepping Working with Two States"
## Enhancement
@trilinos/tempus

TimeStepControlStrategyBasicVS does not work with only two SolutionStates.  It requires at least three.  Change the way norms are calculated to work with just two SolutionStates.

[2019-12-11 22:38] bartlettroscoe commented on #6429
PR #6430 just merged.  Because this is such a rare failure and because I am about 100% confident that this change will avoid future failures if this type, I am going to close this issue.

[2019-12-11 22:38] #6429 closed

[2019-12-11 22:42] bartlettroscoe commented on #6333
@GeoffDanielson, what exact commands did you run to produce [above](https://github.com/trilinos/Trilinos/issues/6333#issuecomment-564676844)? Looks like the build name may not be correctly listing `Volta70`.

[2019-12-11 22:47] bartlettroscoe commented on #3276
@trilinos/framework

FYI: You might want to disable the test Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4 described in #3585 in PR testing.  It just killed a PR build iteration in https://github.com/trilinos/Trilinos/pull/6427#issuecomment-564692030.

Now all of those expensive builds need to be run all over again (including the CUDA build taking more than 4h just to build).

[2019-12-11 22:53] #6423 closed

[2019-12-11 23:06] bartlettroscoe commented on #6246
FYI: PR #6425 disabled these Intrepid2 tests for the build:

* `Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug`

[2019-12-11 23:09] bartlettroscoe commented on #5179
FYI: PR #6425 disabled these Panzer tests for the build:

* Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug

[2019-12-11 23:14] bartlettroscoe commented on #6412
FYI: It looks like one of these randomly failing tests `Zoltan2_mjTest_geomgen_nomjparts_MPI_3` is impacting the standard post CI build as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-11-11&end=2019-12-11&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Continuous&field2=buildname&compare2=61&value2=Linux-GCC-4.8

[2019-12-12 01:28] MicheldeMessieres opened #6440 "Zoltan2: Zoltan2_mjTest_geomgen_nomjparts_MPI_3 is randomly failing"
## Bug Report
@trilinos/zoltan2

Zoltan2_mjTest_geomgen_nomjparts_MPI_3 is randomly failing.

https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-11-11&end=2019-12-11&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=testname&compare2=61&value2=Zoltan2_mjTest_geomgen_nomjparts_MPI_3&field3=status&compare3=61&value3=faile

[2019-12-12 01:38] MicheldeMessieres commented on #6412
@bartlettroscoe @kddevin I opened up #6440 to track the randomly failing Zoltan2_mjTest_geomgen_nomjparts_MPI_3. We had indeterminate results in MJ even before #5332 but the new tests run twice and self compare to catch this. I thought I had eliminated all of these. So it might be reasonable to disable temporarily as it looks like we're still generating valid partitions, just not always the exact

[2019-12-12 08:31] mayrmt opened #6442 "MueLu: build failure in unit_tests/RegionMatrix with KokkosRefactor disabled"
## Bug Report
@trilinos/muelu @lucbv

### Description

When building the regionMG unit tests in `packages/muelu/test/unit_tests/RegionMatrix.cpp`, the line
https://github.com/trilinos/Trilinos/blob/acd133cc41cdf910c5d2dcc9757e219b031f7c19/packages/muelu/test/unit_tests/RegionMatrix.cpp#L363
causes trouble if one does not configure with `-D MueLu_ENABLE_Kokkos_Refactor:BOOL=ON` and `-D Xpetra_ENABL

[2019-12-12 08:33] mayrmt commented on #6442
@lucbv For me, it's ok to build with Kokkos_refactor enabled. We still might want to properly guard this for those users, who disable Kokkos_refactor of MueLu/Xpetra. What do you think?

[2019-12-12 08:50] mayrmt opened #6443 "MueLu: regionMG regression tests are failing"
## Bug Report
@trilinos/muelu

### Description

Both MueLu/regionMG regression tests `MueLu_Structured_Region_Star2D_Tpetra_GS_MPI_4_regression` and `MueLu_Structured_Region_Linear_Brick3D_Tpetra_MPI_4_regression` are failing due to diffs of the convergence history to the one in the gold file.

In fact, the current convergence is a little faster/better than in the gold files. Still, we have to inv

[2019-12-12 08:51] mayrmt commented on #6443
@lucbv @pohm01 @rstumin I don't recall changes to the algorithm that would explain this behavior, but obviously I'm missing something here. Any ideas?

[2019-12-12 11:52] anates commented on #6428
I am using 50ff9ab8b574944b741f10ac972a832f7e1afc8f. Enabling ETI explicitely for every package helped, but led to additional problems in ShyLU. When disabling that, it worked.

[2019-12-12 15:19] lucbv commented on #6442
Yep that's a fair comment, I will add appropriate guard around the code.

[2019-12-12 16:17] MicheldeMessieres commented on #6424
@brian-kelley After discussion it seems some other open issues with miultijagged should be higher priority so I did not address this yet but will soon.

[2019-12-12 16:41] GeoffDanielson commented on #6333
Configuration as follows:
[code]

Then I make and ctest as prescribed in the description.

[2019-12-12 16:55] william76 commented on #2344
This issue is really old.  Closing it out.

[2019-12-12 16:55] #2344 closed

[2019-12-12 16:56] william76 commented on #5537
@tjfulle Just checking in, was this issue ever fixed?

[2019-12-12 16:57] william76 commented on #5616
@tjfulle it looks like this might have been resolved, should this issue be closed out?

[2019-12-12 17:00] william76 commented on #6428
@anates
There has been some activity recently trying to track down some of these reference issues in Xpetra with and without ETI enabled... if you haven't updated in a while, you might want to update your develop branch too.

If you're still having problems using the latest develop or master branches, can you post your configuration line as well as information on any libraries you're loading as we

[2019-12-12 17:28] MicheldeMessieres commented on #6412
@bartlettroscoe @kddevin  I believe this one is now resolved if I'm reading the cdash right. Fix #6431 I expect also repaired this though perhaps for different reasons. There was a pure device buffer being sent to the reduceAll for the UVM off tests.

[2019-12-12 17:40] lucbv commented on #6322
@william76 fair enough if including the header for `VectorFactory` in the `decl` file leads to circular dependencies then we have to avoid it.
Using full names as @jhux2 did is not a problem and if we want to go ahead with that its fine with me.
I think that adding the block of code below in the `decl` file just after the forward declaration of the BlockedMap could solve the problem and you won't

[2019-12-12 18:21] bartlettroscoe commented on #6440
Info on random failures ...

It looks like one of these randomly failing tests `Zoltan2_mjTest_geomgen_nomjparts_MPI_3` is impacting the standard post CI build as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-11-11&end=2019-12-11&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Continuous&field2=buildname&compare2

[2019-12-12 18:23] bartlettroscoe commented on #6412
CC: @kddevin

@MicheldeMessieres, I agree.  Looks like these tests are fixed as shown on CDash [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2019-12-12&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug&field2=testname&compare2=65&value2=Zoltan2_mjTest&field3=site&co

[2019-12-12 18:23] bartlettroscoe commented on #6412
Closing as complete for real.

[2019-12-12 18:23] #6412 closed

[2019-12-12 18:24] brian-kelley opened #6446 "NOX: misleading indentation, possibly missing braces"
## Bug Report
@trilinos/nox

### Description
On line 324 of packages/nox/test/tpetra/ME_Tpetra_1DFEM_def.hpp:
[code]
Either there should be curly braces covering the 3 lines after ``if(is_null(uPtr_))``, or the 2nd and 3rd lines should not be indented. Based on the other if right below it, it's probably missing the braces.

[2019-12-12 19:02] william76 commented on #6322
@lucbv in which file?

[2019-12-12 19:08] ndellingwood commented on #6419
@cgcgcg @william76 the specific item in this issue has been resolved, should I close? I think #6322 is tracking the error I posted above.

[2019-12-12 19:10] william76 commented on #6419
@ndellingwood fine with me.

[2019-12-12 19:10] #6419 closed

[2019-12-12 20:18] lucbv commented on #6322
@william76 I tested it just out of curiosity and adding the forward declaration plus the macro in `Xpetra_MapExtractor_decl.hpp` allows you to use the shortnames in both `Xpetra_MapExtractor_decl.hpp` and `Xpetra_MapExtractor_def.hpp`. It can be a good option in the future if you want to avoid putting a lot of `using blah = Xpetra::blah<SC,LO,GO,NO>`.

[2019-12-12 20:27] cgcgcg commented on #6399
@MicheldeMessieres Should we keep this issue open as a reminder that we did not understand how a benign change could fix a bug? Otherwise feel free to close.

[2019-12-12 20:35] MicheldeMessieres commented on #6399
@cgcgcg @mhoemmen Mark had indicated all places where MPI takes a buffer should be HostSpace and not CudaUVMSpace so this change would not be benign. This bug fix also fixed #6412, likely because one of the buffers was explicitly using CudaSpace for UVM testing so there was a 2nd error resolved.  Issue #6422 will be resolved by similar changes which I am working on now. I tried just changing all m

[2019-12-12 20:45] MicheldeMessieres commented on #6399
@cgcgcg Sorry deleted my previous. I was thinking I was on a different issue. I think we can close this and I think the issue is understood. I pad arrays with one element on either side to avoid an extra if statement in kernels, to reduce branching. The element was not initialized so we end up doing > < checks on the element and it's never used. I initialized it so valgrind would not complain but

[2019-12-12 20:45] #6399 closed

[2019-12-12 22:59] bartlettroscoe commented on #6333
Trying to reproduce on 'ascigpu15':

Trilinos 'develop' version:

[code]

I run this as:

[code]

The produced the test result:

[code]

And I can run just this one test:

[code]

For more details on using the checkin-test-sems.sh script, see:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#checkin-test-atdmsh

[2019-12-13 05:43] mhoemmen commented on #6446
I don't understand why @trilinos/nox would want to mark `uPtr_` as modified on host, right before doing an Import to it.  Is the intent to force MPI to use host buffers for MPI communication?  There are other ways of doing that that still do pack and unpack on device.  @rppawlo might know about this.

[2019-12-13 14:18] bartlettroscoe commented on #6418
Just an FYI, but our policy is that we don't close issues until we get confirmation from results posted to CDash.  See:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/Triaging+and+Addressing+ATDM+Trilinos+Failures#TriagingandAddressingATDMTrilinosFailures-7.CloseaResolvedTrilinosGitHubIssue:

Reopening until we get confirmation on CDash.  The earliest that can occur is Sunday morning

[2019-12-13 14:52] rppawlo commented on #6446
@mhoemmen - Thanks for finding this. I can't answer your question, it was written by a postdoc a few years ago. I will look into fixing that shortly.

[2019-12-13 15:41] bartlettroscoe opened #6449 "Tpetra: Test TpetraCore_AddProfiling_UnitTests_MPI_4 removed on purpose?"
## Question
@trilinos/tpetra

FYI: The post-push CI build just sent out the following auto email showing that the test TpetraCore_AddProfiling_UnitTests_MPI_4 has been removed.  You can see this at:

* https://testing.sandia.gov/cdash/viewTest.php?buildid=6053771

Was this test removed on purpose?

----

From: admin@cdash.org <admin@cdash.org>
Sent: Friday, December 13, 2019 3:53 AM
To: Bartlett,

[2019-12-13 16:22] ndellingwood commented on #6418
@bartlettroscoe it looks like the auto-tester was the culprit for closing this automatically, at odds with the policy you cited. @trilinos/framework

[2019-12-13 16:46] ikalash opened #6450 "Kokkos-kernels: compilation failure on Ride with CUDA"
My nightly build of Trilinos (for Albany) on Ride failed last night due to a Kokkos-kernels error:

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=91686

Could someone please look into this?  Here are the modules being used:

https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/ride.sandia.gov/ride_modules_cuda.sh

@trilinos/kokkos-kernels

[2019-12-13 17:58] ndellingwood commented on #6450
@brian-kelley would changes in kokkos-kernels with your ifpack2 PR #6439 be at play? It looks like some updates to `get_suggested_team_size` got cherry-picked in, but the accompanying changes to the call in the d1 color handle were missed?

[2019-12-13 18:17] bartlettroscoe commented on #6418
@ndellingwood, I don't think the Trilinos auto-tester Jenkins job itself closes issues.  I think GitHub does that automatically when a PR is merged that contains `Fixes #<issue-id>` in the PR text or one of the commits has text `Fixes #<issueid>`.

[2019-12-13 18:21] ndellingwood commented on #6418
@bartlettroscoe I didn't realize that, thanks for clearing up my misunderstanding.

[2019-12-13 18:22] ndellingwood commented on #6450
@ikalash we should have a PR ready shortly

[2019-12-13 18:43] ndellingwood commented on #6450
@ikalash PR #6451 should fix this issue, sorry for the inconvenience.

[2019-12-13 20:16] ikalash commented on #6450
No problem - thanks for fixing it so fast!  I'll close the issue once our Ride build is back to normal.

[2019-12-13 20:42] GeoffDanielson commented on #6333
@mhoemmen @crtrott when I'm debugging this issue, it seems that kokkos is deducing the block_size to be 0.

Is this expected behavior?

GDB output:
[code]

[2019-12-13 22:01] brian-kelley commented on #6449
@bartlettroscoe Yes, I did that in #6433. It was misnamed (unit tests, not performance tests), and those tests really belonged in MatrixMatrix_UnitTests.cpp, so I moved them there.

[2019-12-13 22:04] brian-kelley commented on #6449
@bartlettroscoe I didn't know you got notifications for missing tests. Is there a certain procedure for removing one, without it getting marked as missing?

[2019-12-14 00:51] bartlettroscoe commented on #6449
Not that I know of.  This was a feature added to CDash to help catch cases where tests got disabled by accident and people did not know for months (which happened once on the CASL project and had a big negative impact).  Not a big deal.

[2019-12-14 00:51] #6449 closed

[2019-12-14 15:23] ndellingwood commented on #6450
PR #6451 merged into develop

[2019-12-14 16:56] labor00 commented on #6314
This commit Appesar to fix the issue, great!

[2019-12-15 02:53] ikalash commented on #6450
It's fixed - closing.

[2019-12-15 02:53] #6450 closed

[2019-12-15 18:24] ikalash commented on #6355
@kddevin , @mhoemmen , @eric-c-cyr : I created a branch in which I implemented the proposed changes by the three of you above: https://github.com/trilinos/Trilinos/tree/ikalash-tpetra-teko-unsigned-long .  I'm concerned about some of the logic throughout Teko/Tpetra that may not be right with ``GO=unsigned long``.  I'm attaching the output when I build Trilinos with my changes.  You can see there

[2019-12-15 19:08] ikalash commented on #6355
Just to follow up on my previous comment - I get a bunch of Tpetra test failures when building the develop branch (w/o any of my changes) with the options
[code]
It's pretty much the same failures:
[code]
So I guess the ``` -D Tpetra_INST_INT_LONG_LONG=ON``` option leads to test failures.  I'm ok with this if you're OK with this...  but I thought I should bring it up.

[2019-12-16 05:08] mhoemmen commented on #6355
@ikalash wrote:

Did you actually mean to write `Tpetra_INST_INT_LONG_LONG=ON`, or did you mean to write `Tpetra_INST_INT_UNSIGNED_LONG=ON`?  I'm asking because if you disable deprecated code in Tpetra, the default GlobalOrdinal type is `long long`.  That would make `Tpetra_INST_INT_LONG_LONG=ON` redundant.

[2019-12-16 05:16] ikalash commented on #6355
@mhoemmen : no, I meant ```Tpetra_INST_INT_UNSIGNED_LONG=ON```.  I need to set this to get the codes to compile with the version of DTK (v2) I am using (newer versions of DTK don't require this but I'm having some trouble building with them, so I am sticking with DTK v2 for now).  Essentially what I'm finding is some Tpetra tests fail with the option ```Tpetra_INST_INT_UNSIGNED_LONG=ON``` in maste

[2019-12-16 05:49] mhoemmen commented on #6355
@ikalash wrote:

This is ... unsurprising, given that the automatic PR tests have never enabled `GlobalOrdinal=unsigned long`.  I don't think there's even a Dashboard test that does so.  DTK folks requested this feature long ago; Trilinos devs added it very reluctantly and only if DTK folks promised to maintain and test it themselves.  I can't speak for @trilinos/tpetra as a whole, but I imagine T

[2019-12-16 06:27] ikalash commented on #6355
@mhoemmen : thanks for the explanations.  I do need DTK v2 to work for awhile (a few months, maybe?).  I'm still trying to figure out what the issues I'm having with DTK v3 and newer are being caused by.  Could we merge my PR in while I'm try to get the code to work with the newer DTK?

[2019-12-16 06:31] mhoemmen commented on #6355
@ikalash Did you actually make a PR out of the branch https://github.com/trilinos/Trilinos/tree/ikalash-tpetra-teko-unsigned-long ?

[2019-12-16 06:32] ikalash commented on #6355
Yes, exactly, that is the PR I'm referring to.  I added you as one of the reviewers.

[2019-12-16 06:33] mhoemmen commented on #6333
@GeoffDanielson That sounds like something Kokkos might have since fixed, but perhaps we need to patch Trilinos (or upgrade its Kokkos).  Is the block size supposed to be zero here?

[2019-12-16 15:51] lucbv commented on #6295
@ZUUL42 any chance you could fire another build?

[2019-12-16 16:10] mayrmt commented on #6443
@lucbv pointed out recent fixes to the debug build, c.f. issue #6349 and PR #6350. I'll look into this and see, if these changes are the cause for failing regression tests.

[2019-12-16 16:35] ZUUL42 commented on #6295
[New build](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic166&field2=buildname&compare2=61&value2=PR-gcc_8.3-test-Trilinos_pullrequest_gcc_8.3.0-16&field3=buildstamp&compare3=61&value3=20191216-1609-Experimental)

[2019-12-16 17:13] bartlettroscoe opened #6455 "Teko_testdriver_tpetra_MPI_1 failing in ATDM Power/GPU CUDA builds on 'ride' and 'waterman' starting 2019-12-13"
CC: @trilinos/teko, @srajama1  (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52, @brian-kelley

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project

[2019-12-16 17:21] brian-kelley commented on #6455
@bartlettroscoe @trilinos/teko I'm looking at this now. I think this is not a Tpetra bug - the new check for sorted indices is just catching an existing minor issue in this addExplicit test. I know that Teko::adjoint() is returning a fill-complete matrix that doesn't have sorted indices, so it's probably calling expertStaticFillComplete() somewhere without sorting first. Teko::adjoint calls Thyra,

[2019-12-16 17:24] stanmoore1 commented on #6345
The Stria crashes were due to system issues (not related to Trilinos) which have now been resolved. I'm closing this ticket, but will continue to investigate #6389.

[2019-12-16 17:24] #6345 closed

[2019-12-16 18:39] jhux2 commented on #6322
Closing as fixed.

[2019-12-16 18:39] #6322 closed

[2019-12-17 00:00] brian-kelley commented on #6455
@bartlettroscoe @trilinos/teko Sorry, it was totally a Tpetra bug. The transpose was happening inside Tpetra, and the matrix thought it was sorted but it actually wasn't. Fix in #6457.

[2019-12-17 10:02] mayrmt commented on #6443
@lucbv @pohm01 @rstumin The regression tests pass on my Unix workstation just fine, but fail on my Mac. I'll investigate to identify the difference in the build configuration.

Could you briefly check if these tests are passing or failing on your machines? Just run `ctest -R MueLu_Structured_Region`. Thanks!

[2019-12-17 13:15] spdomin opened #6460 "STK Mac build requires long; long long - a new clash with Tpetra"
## Bug Report
@trilinos/stk

### Description
I have a new error on my Nalu Mac build:

-- Tpetra: Validate global ordinal setting ...
CMake Error at packages/tpetra/CMakeLists.txt:1153 (MESSAGE):
  Tpetra requires only one global ordinal, but more than one are set:
  {long;long long}.

As I recall, I was required to activate long and long long for a STK Mac nuance related to STK_transfer (or searc

[2019-12-17 13:26] spdomin commented on #6460
I can not find a closed issue on this subject. As such, this must have been a discussion offline, however, I can recall @alanw0 and @mhoemmen being part of the discussion.

[2019-12-17 14:21] spdomin commented on #6460
Okay, found it... This was related to stk-balance and the requirement of this package on long-long. However, as far as I can tell, this requirement was removed on April 12... I suppose I simply needed to update my config file.

Closing now..

[2019-12-17 14:21] #6460 closed

[2019-12-17 15:51] bartlettroscoe commented on #6077
From looking at [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-10-01&end=2019-12-17&filtercount=7&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman_cuda-9.2_shared_opt&field2=testname&compare2=65&value2=MueLu_&field3=testname&compare3=64&value3=MueLu_UnitTestsTpetra_MPI_&field4=status&compare4=61&value4=failed&f

[2019-12-17 15:51] #6077 closed

[2019-12-17 16:09] GeoffDanielson commented on #6333
Seeing as there's nowhere that I explicitly set block size, I'm not sure what it's supposed to be.

It's odd that the test behaves when compiled and run on Pascal60 but not for Volta70.

[2019-12-17 16:10] ccober6 opened #6461 "Tempus: Null RCP to PhysicsState"
## Bug Report
@trilinos/tempus

### Description
During a SolutionState copy(), the PhysicsState may be a null RCP.  Fixed code to handle this situation.  Able to reproduce on EMPIRE tests.

[2019-12-17 16:35] bartlettroscoe commented on #6361
CC: @trilinos/muelu, @srajama1

@lucbv,

FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-10-01&end=2019-12-17&filtercount=5&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=testname&compare3=65&value3=MueLu_&field4=status&compare4=61&value4=failed&

[2019-12-17 16:45] bartlettroscoe commented on #6361
@lucbv,

Just to be clear, as shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-01&end=2019-12-17&filtercount=5&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&value2=Trilinos-atdm-&field3=testname&compare3=65&value3=MueLu_&field4=status&compare4=61&value4=failed&field5=testoutput&c

[2019-12-17 17:12] lucbv commented on #6361
@bartlettroscoe I will at least take a look at the failures on non-Cuda builds as the test can reasonably be expected to pass for them.
Regarding the tests for Cuda builds we will probably need to talk about it within the MueLu team and I don't think that it will happen before the shutdown...
I'll keep you posted.

[2019-12-17 17:48] bartlettroscoe opened #6463 "Teko_testdriver_tpetra_MPI_4 randomly timing out/hanging in all CUDA 'waterman' builds starting 2019-11-14"
CC: @trilinos/teko, @srajama1  (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g.

[2019-12-17 17:50] bartlettroscoe commented on #6361
FYI: I changed to `ATDM Sev: Blocker` for now until we can determine this is not a defect that will impact the ATDM APPs.

[2019-12-17 17:58] bartlettroscoe commented on #6463
For example, for the build `Trilinos-atdm-waterman-cuda-9.2-opt` over the time period [2019-11-10, 2019-12-17], the runtimes varied between 1m 19s to 9m 25s and timing out once at 10m a shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-11-10&end=2019-12-17&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimen

[2019-12-17 18:07] mhoemmen commented on #6333
@GeoffDanielson I just asked on Kokkos' Slack channel.  I'll e-mail you a link to the Slack channel so you can join in.

[2019-12-17 18:32] mhoemmen commented on #6460
Thanks @spdomin !  Glad it worked out!  We just merged the "remove deprecated code" PR #6388.  Those changes now require that users only enable one GlobalOrdinal type.

[2019-12-17 18:55] #6461 closed

[2019-12-17 21:59] bartlettroscoe opened #6464 "KokkosKernels_sparse_serial_MPI_1 randomly timing out in pure debug builds on 'ride', 'waterman', and 'ats2' starting 2019-10-18"
CC: @trilinos/kokkos-kernels, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA:

[2019-12-17 22:03] bartlettroscoe commented on #6412
@rppawlo, @bathmatt, @kddevin,

Were the changes to Zoltan2 that broke these Zoltan2 tests the same changes that broke EMPIRE's usage of Zoltan2?

[2019-12-17 22:03] bartlettroscoe commented on #6464
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-08-01&end=2019-12-17&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-white-ride-gnu-7.2.0-openmp-debug&field2=testname&compare2=61&value2=KokkosKernels_sparse_serial_MPI_1&field3=site&compare3=61&value3=ride) for this test in the build `Trilinos-a

[2019-12-17 22:08] lucbv commented on #6443
FYI this is what I am seeing while working on my PR:
[code]

[2019-12-17 22:39] kddevin commented on #6389
@stanmoore1  Is this issue still a problem for you?

[2019-12-17 22:41] stanmoore1 commented on #6389
I don't know--I'm pushing up the latest version today and will try to reproduce the error.

[2019-12-17 22:56] kddevin commented on #6389
Great!  Thanks, @stanmoore1

[2019-12-18 00:20] brian-kelley commented on #6464
@bartlettroscoe I noticed a timeout here too in my own testing on white. In KokkosKernels PR #544 I cut the size of the rank-1 GaussSeidel tests from 10k rows to 5k. GS and block GS are still the most expensive tests, so I made a note to cut this down more for the Kokkos/KokkosKernels 3.0 release. That will most likely be a few days after the shutdown ends.

But until then, I agree about disabling

[2019-12-18 14:18] bartlettroscoe commented on #6051
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-09-01&end=2019-12-18&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug&field2=testname&compare2=61&value2=Xpetra_Matrix_UnitTests_MPI_4&field3=site&compare3=61&value3=sems-rhel7), this test st

[2019-12-18 14:18] #6051 closed

[2019-12-18 14:45] bartlettroscoe commented on #6361
CC: @trilinos/framework

FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-01&end=2019-12-18&filtercount=2&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Continuous&field2=testname&compare2=65&value2=MueLu_ParameterListInterpreterTpetra_MPI_4), the last two post-push CI builds showed the test `MueLu_ParameterListIn

[2019-12-18 15:41] bartlettroscoe commented on #6246
FYI: Looks like the test:

* `Intrepid2_unit-test_Discretization_Basis_HVOL_HEX_Cn_FEM_Serial_Test_01_SLFadDFad_MPI_1`

in the build:

* `Trilinos-atdm-white-ride-cuda-10.1-gnu-7.2.0-release-debug`

is randomly hanging and timing out.  When it passes, it passes quickly (7s).  Otherwise, it is failing.  It looks like it is hanging about every other day.

[2019-12-18 15:44] bartlettroscoe commented on #6246
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-11-18&end=2019-12-18&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=block&field2count=3&field2field1=testname&field2compare1=61&field2value1=Intrepid2_unit-test_Discretization_Basis_HierarchicalBases_Hierarchical_Basis_Tests_MPI_1&fi

[2019-12-18 15:47] bartlettroscoe commented on #6246
FYI: I updated the links in the section "Current Status on CDash" [above](https://github.com/trilinos/Trilinos/issues/6246#issue-519560978).

[2019-12-18 17:02] lucbv commented on #6443
Quick update on the previous comment, it was performed using a `DEBUG` build, however my `RELEASE` build fails the regression tests.

[2019-12-18 17:46] bartlettroscoe commented on #6361
@brian-kelley

FYI: And the failing test `MueLu_ParameterListInterpreterTpetra_MPI_1` killed the PR iteration https://github.com/trilinos/Trilinos/pull/6457#issuecomment-567125514.  That PR has nothing to do with that test failure.

[2019-12-18 17:49] lucbv commented on #6443
Here are the results of `ctest -R MueLu_Structured_Region` using the release build:
[code]
There is a change that I see these errors because I am using OpenMP in my build.
I will turn it off and check what comes out.

[2019-12-18 18:14] lucbv commented on #6361
@bartlettroscoe looking at the failure it seems that the test machines are randomly adding line breaks to outputs. This what is leading to the failures we are seeing.
Is there something that can be done to force the test machines to be consistent in the output they produce?

[2019-12-18 18:16] brian-kelley commented on #6361
I agree, it doesn't look like a MueLu bug:
[code]

[2019-12-18 18:24] lucbv commented on #6361
Looking at the recent changes in MueLu I am actually suspecting that PR #6432 is a potential offender for the non CUDA errors...

[2019-12-18 18:39] bartlettroscoe commented on #6361
@lucbv, tests that read and write files are fragile in generally.  Is it possible to refactor these tests so that they write into an `std::ostringstream` object in memory and then compare inside of main memory?  That should eliminate things like this (unless multiple MPI processes are writing output to the same stream).

[2019-12-18 18:57] lucbv commented on #6361
@bartlettroscoe that type of refactor is going to be non-trivial and potentially quite long.
I think it is a decision that the package owner should make, not me...
@jhux2 any thoughts?

[2019-12-18 19:37] mayrmt commented on #6443
@lucbv Actually, it looks like your regression tests are passing, but some Elasticity completion tests are failing.

[2019-12-18 21:54] lucbv commented on #6443
@mayrmt good point, it is also interesting to see that the tests are numbered differently in the little summary at the bottom. Tests 16 and 17 are failing, not 17 and 18. I will investigate that failure before I push.

[2019-12-18 22:13] e10harvey opened #6467 "Distill multiple definitions of atdm_run_on_compute_node using SLURM"
## Enhancement

What feature/addition is needed?
Some refactoring to source a single `atdm_helper_functions.sh` script.

How does this differ from what we currently
have?
Functionally, it should not differ but we have `atdm_run_on_compute_node` defined in 3 files.

Are there any alternative solutions you've considered?
We considered creating a more targeted `define_atdm_run_on_compute_node.sh` scr

[2019-12-18 23:56] seheracer opened #6470 "KokkosKernels: Add the conjugate-transpose support to DotBasedGEMM"
## Enhancement
@trilinos/kokkos-kernels

The current DotBasedGEMM implementation lacks the support for the conjugate-transposed A matrix. This causes performance issues and needs to be fixed.

History:
The first DotBasedGEMM PR (https://github.com/trilinos/Trilinos/pull/6226) included the conjugate-transpose case in a buggy manner for complex scalar types. After the bug was exposed by Trilinos tes

[2019-12-19 06:33] cgcgcg commented on #6361
Yes, I believe #6432 is to blame. I'll have another look at this next year.

[2019-12-19 15:06] bartlettroscoe commented on #6361
CC: @trilinos/framework

@cgcgcg, then you may want to rever the PR #6432 until this can get fixed because it looks like this has taken out PR testing as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-15&end=2019-12-19&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=testname&compare2=61&va

[2019-12-19 16:53] bartlettroscoe commented on #6361
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-11-20&end=2019-12-19&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-cee-rhel6_intel-18.0.2_mpich2-3.2_openmp_static_opt&field2=testname&compare2=61&value2=MueLu_ParameterListInterpreterTpetra_MPI_1&field3=site&compare3=61&value3=cee-rhel6) a

[2019-12-19 18:36] MicheldeMessieres commented on #6424
@brian-kelley Do you by chance have a config which builds this example on white? I was having some issues with STK and boost I need to resolve. @kddevin If white is not good, maybe I could get access to an appropriate machine so we can share an exact config. I ask about white because I have access currently. Thanks.

[2019-12-19 19:45] MicheldeMessieres commented on #6424
@brian-kelley Never mind on the request. I think I have white building as I need it. Using the default build with your config above, which I think should properly generate the example since cuda and openmp are now off. Thanks.

[2019-12-19 19:47] brian-kelley commented on #6424
@MicheldeMessieres Here's a minimal configure that enables it, with the usual flags to speed up the build. On white you also need to help Trilinos find the BLAS TPL.
[code]

[2019-12-19 20:42] CamelliaDPG commented on #6246
@bartlettroscoe Thanks for letting us know.  I assigned myself this issue and wrote PR #6248 to fix, and probably I remain the right person to address this, but I won't get to it immediately.  I am making a note to look into this early in the new year.

[2019-12-19 22:33] bathmatt opened #6478 "Teuchos: stacked timer very slow on big timer dumps"
## Enhancement
@trilinos/teuchos

The stacked timers are very slow on big timer dumps.  This is partly due to the findName algorithm, partly due to output.  We should explore this.

[2019-12-19 23:12] jhux2 commented on #6361
@bartlettroscoe  wrote:

Valid point, but as @lucbv points out, this would require diverting resources.  @trilinos/muelu will discuss this in the new year.

[2019-12-19 23:25] CamelliaDPG opened #6481 "Intrepid2: add hierarchical basis functions for triangles and tetrahedra"
## Enhancement
@trilinos/intrepid2

Following on the implementation of hierarchical basis functions on hypercube topologies (#5996), we are adding implementations for the higher-dimensional simplices (triangles and tetrahedra).

[2019-12-20 00:23] mperego commented on #6246
@CamelliaDPG thanks!

[2019-12-20 00:51] jhux2 opened #6483 "MueLu: extend testing of "expert" input decks using Kokkos"
We need to improve testing coverage in MueLu for "expert" input decks that use MueLu's Kokkos factories.

@trilinos/muelu

[2019-12-20 01:21] bartlettroscoe commented on #6361
@trilinos/framework

FYI: As shown in:

* [MueLu_ParameterListInterpreterTpetra_MPI_1 runs in Trilinos_pullrequest_gcc_7.2.0 PR builds between 2019-12-15 and 2019-12-19](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-15&end=2019-12-19&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildname&compare2=63&value2=

[2019-12-20 06:30] cgcgcg commented on #6361
@bartlettroscoe Feel free to revert. This should take care of the random component.

[2019-12-20 14:23] bartlettroscoe commented on #6361
Looks like @lucbv addressed this in PR #6476.  Looks like some PRs are getting merged today.

[2019-12-20 14:25] bartlettroscoe commented on #6455
Can't close an issue until we get confirmation on CDash.

[2019-12-20 14:36] MicheldeMessieres commented on #6424
@brian-kelley Could you please clarify what you sourced before calling the config? I had tried just source /ascldap/users/medemes/trilinos/cmake/std/atdm/load-env.sh gnu.
But then needed to specify boost lib and ended up with stk errors. I understand we want a build with CUDA and OpenMP off for the example. I'm not sure if there is a build on white I can reference.

[2019-12-20 15:24] alanw0 commented on #6424
As an aside, the next stk update into trilinos will remove the need for BoostLib. (Will still need some header-only boost stuff for a while.)

[2019-12-20 20:59] brian-kelley commented on #6464
@bartlettroscoe I ended up shrinking the matrices down to 2k rows, and now the sparse unit tests in serial+debug+double/complex complete in 6 minutes.

[2019-12-20 21:11] bartlettroscoe commented on #6464
@brian-kelley, in the kokkos-kernels git repo 'develop' branch or in the Trilinos repo 'develop' branch?  Which PR?

[2019-12-20 22:16] mhoemmen commented on #6464
For OpenMP, we shouldn't make the tests too small, just to make sure that we get enough concurrency.  I don't think this matters so much for Serial, though.

[2019-12-20 22:22] bartlettroscoe commented on #6464
Can we just have KokkosKernels disable these real expensive tests for full debug builds (i.e. `CMAKE_BUILD_TYPE=DEBUG`) by default?  We have `release-debug` builds (i.e. `CMAKE_BUILD_TYPE=RELEASE` and `Trilinos_ENABLE_DEBUG=ON`) that fully test with runtime checking turned on so we have full coverage testing.  Is there any point in running these tests by default in full debug builds?  At least we

[2019-12-21 00:49] ZUUL42 commented on #6295
I've broken it down to set WError on a package by package basis when building with GCC 8.3.0.
Everything builds without error _without_ WError set. Then _with_ WError set with the following flags:
[code]
... we get these results:

The [first CDash report](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=6097274&filtercount=1&showfilters=1&field1=buildstamp&compare1=63&value1=Ex

[2019-12-21 00:56] ikalash opened #6487 "Piro: recent commit broke Albany tests by doubling output in exodus file"
This recent commit to Piro:

https://github.com/trilinos/Trilinos/commit/25e41656eb019dcf43979f0c12224d946283f465

broke a bunch of Albany tests:

[code]
http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany

The issue actually affects a lot more tests, but they did not catch it, as they do not employ exodiff.

Basically the issue seems to be that with the above commit, there are 2x the num

[2019-12-21 20:28] aprokop opened #6490 "MueLu: enabling CreateEpetraPreconditioner"
@trilinos/muelu

I'm confused about how to enable installation of `MueLu_CreateEpetraPreconditioner.hpp` after the recent dramatic changes in Tpetra/Xpetra/MueLu. I've been playing around with different Tpetra instantiations for global ordinals (trying both long and long long) but I cannot seem to make MueLu and Xpetra to detect Epetra, and thus they don't enable that path. Does anybody have a con

[2019-12-21 20:59] bartlettroscoe commented on #6295
Why not just merge the files:

[code]

from the branch:

* https://github.com/trilinos/Trilinos/compare/develop...ZUUL42:gcc_8.3

to the 'develop' branch ASAP?  There is zero harm in having them in the 'develop' branch and that would make it trivial for developers to reproduce this build on the tip of 'develop'.

They you should set up a nightly build for this configuration with -Werror set.  That

[2019-12-22 03:10] csiefer2 commented on #6490
Ar present Xpetra/Muelu only enable Epetra support if (a) Tpetra is disabled or (b) Tpetra is enablef with GO=int.

[2019-12-23 17:58] mosayed86 opened #6493 "Tpetra: Read and write hdf5 files"
## Question
@trilinos/\<Tpetra\>

Is there an option to read and write teptra matrices and multivectors using the binary HDF5 library. If not, what is the best way to read and write very large files (hundreds of GBs) in Tpetra.

[2019-12-23 18:13] mhoemmen commented on #6493
@trilinos/tpetra `Tpetra::MultiVector` doesn't have built-in HDF5 support.  However, it's probably not hard to write this; it's just column-major storage on each MPI process.

[2019-12-23 18:31] mosayed86 commented on #6493
How about Tpetra::CrsMatrix, in case of reading and writing CrsMatrices in Tpetra?

[2019-12-23 18:43] mhoemmen commented on #6493
MueLu has binary I/O for some Tpetra data structures, but it's not HDF5.

[2019-12-24 00:59] pyt-viper opened #6497 "PyTrilinos: Get package working with latest Trilinos version"
## Enhancement
@trilinos/pytrilinos

When one tries to build the latest version of Trilinos with PyTrilinos enabled, there is a SWIG error during build when `Teuchos.RCP.i` is being processed.  There is also a SWIG error when processing `Tpetra_dox.i`, `%include`d from `Tpetra.i`.

Depends on:
#6498
#6500

[2019-12-24 01:21] pyt-viper opened #6498 "PyTrilinos: SWIG does not process Teuchos.RCP.i correctly"
## Bug Report
@trilinos/pytrilinos

### Description
With the latest version of Trilinos, SWIG fails to process `Teuchos.RCP.i` correctly.  The C++ macro `TPETRA_DEPRECATED` is not getting set, causing a parsing error downstream.

### Steps to Reproduce
1. SHA1:  0c4cf70368bd5148dacdd37cafbe71231f870b98
1. Anaconda configuration: cmake, openblas, python=3, swig=3.0.11, numpy, openmpi-mpicc, openmpi

[2019-12-24 06:04] brian-kelley commented on #6464
@bartlettroscoe In KokkosKernels develop, PR #548. I don't see any reason to test all the cases in full debug. Would I just use "#ifdef NDEBUG"? Also, we could always break the sparse unit tests into different executables so that testing has more parallelism.

@mhoemmen That's a good idea.

[2019-12-24 06:59] mayrmt commented on #6498
@trilinos/pytrilinos

[2019-12-24 07:00] mayrmt commented on #6497
@trilinos/pytrilinos

[2019-12-24 11:05] #3666 closed

[2019-12-24 17:55] pyt-viper opened #6500 "PyTrilinos: Tpetra_dox.i has syntax errors"
## Bug Report
@trilinos/pytrilinos

### Description
When SWIG processes `Tpetra.i`, it encounters a syntax error in `%include`d file `Tpetra_dox.i` (actually, SWIG does not recognize the variadic template arguments in the `%feature("docstring")` directives -- there is a SWIG bug that needs to be worked around).  Since `Tpetra_dox.i` is a generated file, the bug/issue is in the `doxy2swig.py` scrip

[2019-12-24 19:23] mhoemmen commented on #3666
It turned out that the warning was for harmless code like `new Scalar[size]` or even `std::unique_ptr<Scalar[]>(new Scalar[size])`.  I refactored the two Teuchos classes a bit so `new Scalar[size]` only happened in one line per place, and then surrounded the line with GCC pragmas to disable the warning just for that one spot.

[2019-12-24 19:25] mhoemmen commented on #6500
@trilinos/pytrilinos (If you're not a developer, GitHub doesn't let you tag teams -- annoying but such is life.)  It looks like you have a fix in mind -- are you planning to submit a PR?

[2019-12-24 21:00] pyt-viper commented on #6113
This should be addressed by PR #6501

[2019-12-24 21:02] pyt-viper commented on #5999
Hopefully, these issues are addressed by PR #6501

[2019-12-24 21:58] mhoemmen commented on #6464
@brian-kelley wrote:

Most Trilinos packages have a CMake option and corresponding macro.  The option's default comes from `CMAKE_BUILD_TYPE`, I think.  If kokkos-kernels doesn't already have this option, then it should.

The point of this option is so that users can enable debugging features in a release build, or disable them in a debug build.  The latter can often reduce build size and/or time.

[2019-12-25 21:21] #6500 closed

[2019-12-25 21:21] #6498 closed

[2019-12-25 21:22] #6497 closed

[2019-12-25 21:33] pyt-viper commented on #6113
@amardahiya can you check to see if the latest develop branch addresses your problem?

[2019-12-25 21:34] pyt-viper commented on #5999
@millist097 can you check to see if the latest develop branch addresses your problem?

[2019-12-27 00:38] mhoemmen commented on #6497
@pyt-viper Normal procedure for closing issues is to let the daily automatic develop-to-master merge automatically close issues.  That requires putting text like `Fix #1234` or `Closes #1234` in your commit and/or PR comment.

[2019-12-29 00:01] #6093 closed

[2019-12-29 22:12] #6314 closed

[2019-12-30 04:30] MarDiehl opened #6507 "PyTrilinos/Epetra: Build fails"
## Bug Report
@trilinos/PyTrilinos
@trilinos/Epetra

### Description
Build fails

### Steps to Reproduce
Install on Arch Linux (python 3.8, swig 4.0.1)
1. run `cmake .. -DTrilinos_ENABLE_ALL_OPTIONAL_PACKAGES:BOOL=ON -DTrilinos_ENABLE_ALL_PACKAGES:BOOL=ON -DTrilinos_ENABLE_PyTrilinos:BOOL=ON -DTrilinos_ENABLE_Gtest:BOOL=ON -DTrilinos_ENABLE_TESTS=OFF -DTPL_ENABLE_gtest:BOOL=ON -DTPL_ENABLE_MPI:BOO

[2020-01-01 00:49] mhoemmen commented on #6507
@pyt-viper FYI

[2020-01-01 02:04] pyt-viper commented on #6507
@MarDiehl try swig 3.0.11

[2020-01-02 17:26] #5390 closed

[2020-01-02 21:26] brian-kelley commented on #6424
@MicheldeMessieres I was using almost the same set of modules, but with some a couple different MPI and TPL versions. Today I did ``load-env.sh gnu`` and this exact configuration worked:

[code]

[2020-01-02 23:20] lucbv commented on #5503
@mayrmt PR #6515 adds the final piece needed for coarse AMG solve in SetupRegionHierarchy. I pretty much re-implemented the construction of the nullspace as it would be done in Galeri, this I way I do not have to fiddle with the keep mechanism for the nullspace which eventually would have to be removed later...

[2020-01-03 13:32] bartlettroscoe commented on #5786
We are not testing Panzer and any other packages used by GEMMA anymore in cuda+complex ATDM Trilinos builds.  (See [ATDV-261](https://sems-atlassian-srn.sandia.gov/browse/ATDV-261)).

Closing as wontfix

[2020-01-03 13:32] #5786 closed

[2020-01-03 16:24] bartlettroscoe opened #6517 "TpetraTSQR link errors in all ATDM Trilinos CUDA+RDC builds starting 2019-12-24"
CC: @trilinos/tpetra, @kddevin  (Trilinos Data Services Product Lead), @bartlettroscoe, @mhoemmen

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g.

[2020-01-03 16:26] bartlettroscoe commented on #6517
@mhoemmen, link errors seem to be caused by `packages/tpetra/tsqr/src/libkokkostsqr.a` so can this impact production usage of TSQR when CUDA+RDC is being used?

Is ATDM even using Tpetra TSQR?  If not, we should just disable this in the ATDM Trilinos builds and avoid these types of errors in the future.

[2020-01-03 17:20] MicheldeMessieres commented on #6424
@brian-kelley I tried a fresh login to white, completely clean build, and did load-env.sh gnu and then ran that config. But I get a build error:
`*** No rule to make target `/usr/lib64/liblapack.so.3', needed by `packages/teuchos/numerics/src/libteuchosnumerics.so.12.17'.  Stop.`
I'm on the latest develop. So just double checking there was no other action I take apart from the load_env.sh and conf

[2020-01-03 18:34] mhoemmen commented on #6517
@bartlettroscoe ATDM will be using TSQR.  I definitely tested this with CUDA, just not with RDC enabled.  Give me a couple days to fix this; I'm in the middle of another thing.

[2020-01-03 19:01] brian-kelley commented on #6424
@MicheldeMessieres Argh, I'm so sorry, the system blas/lapack aren't available on the compute nodes (I've been running it on a login node). The netlib module defines BLAS_ROOT and LAPACK_ROOT. I tested this config on a rhel7T node and also the login node. As a side note, I didn't realize how much slower the login node is at building.
[code]

[2020-01-03 19:42] bartlettroscoe commented on #6517
@mhoemmen

Actually, a better question is if ATDM is actually going to be using CUDA+RDC.  Last I heard, there was no immediate or mid-term plan to do so.  And with next-generation DOE Exascale machines not even using Nvidia GPUs and CUDA, do we really care long term?  I think setting up a CUDA+RDC build to support ATDM may have been a bit too forward looking.

I know that Sierra uses CUDA+RDC but

[2020-01-03 20:11] bartlettroscoe commented on #6052
Looking at the wall-clock times for some of the CUDA builds like for:

* [Trilinos-atdm-waterman-cuda-9.2-opt](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&begin=180%20days%20ago&end=now&filtercount=1&showfilters=1&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-opt)
* [Trilinos-atdm-waterman-cuda-9.2-debug](https://testing-dev.sandia.gov/cdash/index.php?proj

[2020-01-03 20:15] bartlettroscoe commented on #6052
Closing as complete for real :-)

[2020-01-03 20:15] #6052 closed

[2020-01-03 20:33] MicheldeMessieres commented on #6424
@brian-kelley Got further but still having issues. I'm trying to login to rhel7T first.

I'm failing now with:
[code]

This is my config for Lapack:
[code]

My procedure is:
Fresh login to white
bsub -Is -n 16 -q rhel7T bash
source /ascldap/users/medemes/trilinos/cmake/std/atdm/load-env.sh gnu
Then run above config in a fresh empty build folder.
make NP=16

[2020-01-03 20:40] brian-kelley commented on #6424
@MicheldeMessieres I think deleting CMakeCache.txt will fix that error, since it may have not been updated when you switched to the right LAPACK.

[2020-01-03 20:57] MicheldeMessieres commented on #6424
@brian-kelley I was building a completely clean build folder (so not make clean) but mkdir newFolder.

[2020-01-03 21:26] brian-kelley opened #6519 "Epetra CMake doesn't find dggsvd3_ in netlib LAPACK?"
## Question
@trilinos/epetra
I'm trying to a non-CUDA build of Trilinos on white with these modules.
I loaded them by running ``source .../cmake/std/atdm/load-env.sh gnu``:
[code]

and I used this configure script:
[code]

The netlib module sets the env variable ``LAPACK_ROOT = /home/projects/ppc64le-pwr8/netlib/3.8.0/gcc/7.2.0``. Trilinos finds liblapack.a during configuration, but later Epetra s

[2020-01-04 03:31] ikalash commented on #6487
PR #6513 fixed this issue, so closing.  Thanks again, @mperego!

[2020-01-04 03:31] #6487 closed

[2020-01-04 08:23] amardahiya commented on #6113
@pyt-viper thanks for updating, I tried latest master-branch and it worked without any error.

Thanks

[2020-01-04 08:23] #6113 closed

[2020-01-04 14:00] MarDiehl commented on #6507
thanks for the quick reply

[2020-01-04 15:51] spdomin opened #6521 "Nalu config and build errors due to updated 12/20/2019 STK snapshot"
## Bug Report
@trilinos/stk

### Description
Widespread configuration error on all platforms on which Nalu is tested - same behavior with Nalu-Wind.

Tested SHA1:

NaluCFD/Nalu SHA1: 8bfbacb3d141584b646b800d20e3a03a7e193b73
Trilinos/develop SHA1: c858b704ab83574d26a647ff053fa782099cefdd

Config file as found under:

https://github.com/NaluCFD/Nalu/blob/master/build/do-configTrilinos_release

Bisec

[2020-01-04 17:10] alanw0 commented on #6521
Well, dang it. After replicating multiple cmake builds successfully, and passing the automated pre-pull-request builds/tests, everything looked good, but obviously it's not right. I'll revert ASAP, then figure out the issue before retrying. Please also post your cmake configuration command.

[2020-01-04 17:15] bathmatt commented on #6521
So, the config file isn't getting installed anymore,

There are two auto-generated in the build process

./packages/stk/stk_util/stk_util/STK_Trilinos_config.h
./packages/stk/STK_Trilinos_config.h

and they are slightly different.

If you install the latter it will build.

Why are there two, why are they different?

[code]

[2020-01-04 17:21] alanw0 commented on #6521
Thanks for the info @bathmatt . I was attempting to remove the first one and replace it with the second one. The difference is part of our ongoing effort to remove boost from stk. In particular, we no longer require BoostLib (but will still require some boost header-only stuff for a while longer).
My cmake skills are fairly primitive, so obviously I didn't get this right. I'll figure it out before

[2020-01-04 17:23] spdomin commented on #6521
No need to revert if this is a quick fix. Moreover, Monday is fine with me:)

Config for my Mac platform is below. I do not have access to my Linux set of builds..

cmake \
-DCMAKE_INSTALL_PREFIX=$trilinos_install_dir \
-DTrilinos_ENABLE_CXX11=ON \
-DCMAKE_BUILD_TYPE=RELEASE \
-DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON \
-DTpetra_INST_DOUBLE:BOOL=ON \
-DTpetra_INST_INT_LONG_LONG:BOOL=OFF \
-

[2020-01-04 17:25] bathmatt commented on #6521
We protect ourselves from Trilinos bugs with nightly acceptance testing.  This allows us to go on as there is no critical patches we need currently.  So, early next week is good for us.
Thanks Alan

[2020-01-04 17:31] alanw0 commented on #6521
ok @spdomin and @bathmatt , thanks for the leniency, I'll see if I can get a fix in today or tomorrow, otherwise have a revert done before Monday.

[2020-01-04 17:35] bathmatt commented on #6521
or, enjoy your weekend, and look at it Monday as it should be pretty straight forward to fix.

[2020-01-04 17:40] alanw0 commented on #6521
enjoy the weekend??? outrageous. :-) It's cold outside anyway.

[2020-01-04 17:43] bathmatt commented on #6521
Beer and football??  I know the only game that matters is tomorrow morning but ...  Just saying it isn't a rush, just wanted to get it documented but saw @spdomin beat me to it.

[2020-01-04 17:51] alanw0 commented on #6521
Do you like the Saints or the Vikings? I'm taking the long shot and predicting the Seahawks will beat the Patriots in the superbowl.

[2020-01-04 17:57] bathmatt commented on #6521
Saints.  Lived in NOLA for a good while.  Used to see a lot of games when I was there.  I actually think Saints Ravens with the Saints wining their second...  but then I'm biased

[2020-01-04 20:21] ikalash opened #6522 "STK: install error"
It looks like there is a Trilinos installation error due to STK showing up in the Albany nightlies:

https://my.cdash.org/viewBuildError.php?buildid=1754035
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=92142

Here is the error:

[code]
Could you please have a look at / fix this?

@trilinos/stk

[2020-01-04 20:24] alanw0 commented on #6522
Hi @ikalash, sorry about that! This is the same issue referenced in #6518, and I will have it either fixed or reverted before the end of tomorrow.

[2020-01-04 20:26] ikalash commented on #6522
Thanks, Alan!  Sorry about creating the duplicate issue - I must have missed #6521.

[2020-01-05 17:53] alanw0 commented on #6521
A fix has been pushed to the develop branch. Note that I left the BoostLib dependency in, for now. nalu-wind still uses boost::program_options and I need to make sure that dependency isn't assumed to be inherited from stk's dependency.

[2020-01-05 17:54] alanw0 commented on #6522
A fix has been pushed to the develop branch for this. Let me know if you still see any issues.

[2020-01-06 13:33] spdomin commented on #6521
@alanw0, okay, the good news is that the build process is working again - many thanks. The bad news is that I have two new diffs - both of which are very small (however, just as small as the last Zoltan2 issue). One test is actuatorLine while the second is oversetHybrid. Both are element-based.

Here is the tricky part... The only good and bad SHA1 that I have to bisect includes a broken build pro

[2020-01-06 13:51] bathmatt commented on #6521
Our testing passed. Thanks

On Mon, Jan 6, 2020 at 6:33 AM Stefan P. Domino <notifications@github.com>
wrote:

[2020-01-06 14:08] alanw0 commented on #6521
ok, glad the config issue seems to be fixed.

Stefan, I'll work on figuring out what caused the diffs.

As far as the update procedure, it's always a snapshot from sierra, as trilinos and sierra don't share git history. Thus individual stk commits in sierra don't show up in the trilinos snapshot. It is just a copy of the current stk directory from sierra.

[2020-01-06 15:11] etphipp commented on #6295
When I click on the CDash link I get this error:
[code]
Does anyone else see this?

[2020-01-06 15:12] rppawlo commented on #6295
@etphipp - I'm seeing the same thing.

[2020-01-06 15:13] jmgate commented on #6295
I see the same thing.

[2020-01-06 15:57] ikalash commented on #6522
@alanw0 : I just checked our dashboard and while Trilinos builds/installs correctly now, it appears we have compilation errors in Albany having to do with STK:

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=92176

Did the ```stk::mesh::set_cell_topology``` routine in STK go away / change?

There's a similar error with ```get_cell_topology```:

[code]

[2020-01-06 16:11] alanw0 commented on #6522
@ikalash, yes some methods were deprecated. Our procedure is to decorate functions/methods with the STK_DEPRECATED macro, then after some time (at least 6 weeks) delete them. In this case it was more like 6 months. I've complained to the trilinos-frameowrk folks that the SHOW_DEPRECATED_WARNINGS flag should be on by default, because nobody ever sees our deprecations until we delete the method in q

[2020-01-06 16:24] bartlettroscoe commented on #6463
Unless there is an objection, I will just disable this randomly timing out test in all of the ATDM Trilinos builds on 'waterman'.  This test will still run on the builds on 'ride' and will also run on 'vortex' once we get those builds up and running.

[2020-01-06 16:27] bartlettroscoe opened #6527 "STK_Trilinos_config.h install errors in two independent fresh cee-rhel6 openmpi-4.0.1 builds on 2019-01-05"
CC: @trilinos/stk, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA: Linear Sol

[2020-01-06 16:32] eric-c-cyr commented on #6463
No objection

Sent from my iPad

On Jan 6, 2020, at 9:24 AM, Roscoe A. Bartlett <notifications@github.com> wrote:

﻿

Unless there is an objection, I will just disable this randomly timing out test in all of the ATDM Trilinos builds on 'waterman'. This test will still run on the builds on 'ride' and will also run on 'vortex' once we get those builds up and running.

—
You are receiving this becaus

[2020-01-06 16:37] bartlettroscoe commented on #6527
Hum, sees this issue was already reported by @ikalash in #6522.  Albany testing just caught this earlier.

Note that rebuilds of Trilinos did not show this problem.

This suggests the Trilinos PR testing could be improved if it just do a 'make install' as part of the testing.

I will close this as a duplicate.

[2020-01-06 16:37] #6527 closed

[2020-01-06 16:38] bartlettroscoe commented on #6527
FYI:  Those two builds showed no build errors today as shown at:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-cee-rhel6&field2=buildname&compare2=63&value2=openmpi-4.0.1

And I verified that that file got installed today:

[code]

[2020-01-06 16:48] bartlettroscoe opened #6528 "Do 'make install' as part of Trilinos PR testing"
@trilinos/framework, @ikalash

One thing that would improve the testing done by the Trilios PR tester to help protect customers like ATDM and Albany is if it did a 'make install' as part of PR testing and submitting to CDash.  That is very easy to implement and takes very little extra computer time.  ATDM Trilinos builds now do this and it caught a problem with STK described in #6522 and #6527.  (

[2020-01-06 16:50] ikalash commented on #6528
I agree completely with Ross that testing an install of Trilinos as part of PR testing would be great.  I didn't realize it was not being done prior to the STK issue that affected the install cropping up this weekend.

[2020-01-06 16:55] bartlettroscoe commented on #6528
NOTE: What I a suggesting here is just the 'make install' part of the larger and more complete installation testing described in #5027.  Just the 'make install' catches dumb errors like messed up CMake logic about installing header files.  This is so easy to do there is no reason that I can see not to do it in every build of Trilinos that posts to CDash (and it is already implemented when using [T

[2020-01-06 16:58] ikalash commented on #6522
Seems this affects SCOREC as well:
[code]
I will open an issue with the SCOREC folks.

[2020-01-06 17:35] alanw0 commented on #6528
@bartlettroscoe I don't know if a 'make install' would have caught this stk error. The stk error was that a header was not being installed (due to a mistake I made in editing CMakeLists.txt files). So unfortunately the only way to catch that error is probably to try to compile some code that includes that stk header... I don't know if that's feasible in automated pre-push testing.

[2020-01-06 17:41] bartlettroscoe commented on #6528
@alanw0, in general, that is correct but not in this case.  In this case, the 'make install' command failed as shown in:

* https://testing-dev.sandia.gov/cdash/viewBuildError.php?buildid=5135747

showing:

[code]

and returned a non-zero error code.

[2020-01-06 17:55] bartlettroscoe commented on #6527
@trilinos/framework, @ikalash

@alanw0,

Following up from our conversation in #6528, I checkout out the Trilinos version commit c858b704ab83574d26a647ff053fa782099cefdd  and then follows the "Steps to Reproduce" [above](https://github.com/trilinos/Trilinos/issues/6527#issue-545816345) on my CEE RHEL6 machine 'ceerws1113' and I go the 'make install' error:

[code]

[2020-01-06 17:58] alanw0 commented on #6527
@bartlettroscoe ok thanks, good info. In this case it would have caught my error.

[2020-01-06 18:28] #5672 closed

[2020-01-06 18:38] spdomin commented on #6521
My mistake - I must be a number of years out-of-date (as in, when STK was developed under Trilinos?). At any rate, how do you plan on finding the culprit commit?

[2020-01-06 19:44] alanw0 commented on #6521
My current strategy is to confirm that those two tests also diff in nalu-wind (I'm trying to resurrect my build which seems to have gotten torpedoed by using new modules with updated mpi versions...).
If it's diffing, I'll then do a manual process of restoring separate stk subdirectories and figure it out from there. Semi painful, but shouldn't be too bad.

[2020-01-06 19:52] spdomin commented on #6521
Please do make sure that when you test on Nalu-wind, you have the proper "strict" tolerances. Last I recall, the first implementation of the actuator line approach that I am testing in Nalu was removed from Wind. However, the oversetHybrid case is exactly the same between the projects.

[2020-01-06 19:56] alanw0 commented on #6521
Will do, thanks for the clarification. I'll concentrate on the oversetHybrid case.

[2020-01-06 23:08] spdomin commented on #6521
Looks like even on Linux, the tolerance set on N-W will be too low to catch this diff:

[2020-01-06 23:18] alanw0 commented on #6521
Thanks, I'll set the tolerance small.
I've been in and out of meetings, and my nalu-wind builds are giving me fits... but I'm actively working on it and I'll keep you posted.

[2020-01-06 23:38] cgcgcg commented on #6361
@bartlettroscoe I have an updated version of PR #6432  that introduced the random failures: PR #6531.
Locally, I do not see random failures anymore, but I will let the autotester run over this a couple of times to make sure.

[2020-01-07 01:08] bartlettroscoe opened #6532 "TeuchosCore_testTeuchosTestForTermination_X_MPI_4 tests randomly timing out/hanging in new cee-rhel6 openmpi-4.0.1 builds starting 2020-01-04"
CC: @trilinos/teuchos, @bartlettroscoe

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA: Linear Solvers", "PA: Data Services")>
<???: Add miles

[2020-01-07 01:09] bartlettroscoe commented on #6532
I added the label `ATDM Env Issue` because I believe this is a defect in this OpenMPI 4.0.1 installation in not aborting other ranks when one of the ranks aborts.

I will let this test keep running in these builds so that we can get some more statistics.

[2020-01-07 01:28] bartlettroscoe commented on #6532
Also, I consider this to be a nonblocking issue since as long as your program does not terminate on a process this all is good.  And if it does terminate on a process, the MPI job will just hang (until the timeout is reached).

[2020-01-07 14:56] spdomin commented on #6521
I have all of the scrips required if you want to work in Nalu-proper. Let me know offline.

[2020-01-07 17:58] ikalash commented on #6522
@alanw0 : I'm working on converting Albany to work with the new STK routines, and I had a quick question - is there an analog of get_cell_topology_root_part for the class ``stk::mesh::MetaData``?

[2020-01-07 18:04] ikalash commented on #6522
Never mind - silly me, it's ```get_topology_root_part```.

[2020-01-07 18:33] ccober6 opened #6538 "Tempus: Improve StepperObserver"
## Enhancement
@trilinos/tempus

Working with application teams to improve StepperObserver.

[2020-01-07 20:38] bartlettroscoe commented on #6246
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-01&end=2020-01-06&filtercount=7&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-cts1&field2=buildname&compare2=63&value2=openmpi-4.0.1&field3=groupname&compare3=62&value3=Experimental&field4=testname&compare4=65&value4=Intrepid2&field5=status&compare5=61&val

[2020-01-07 21:02] bartlettroscoe opened #6540 "SEACAS CGNS tests failing in ATDM Trilinos cts1 intel-18.0.2 openmpi-2.0.3 builds starting 2020-01-03"
CC: @trilinos/seacas , @kddevin  (Trilinos Data Services Product Lead), @bartlettroscoe

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA: Linea

[2020-01-07 21:06] bartlettroscoe commented on #6540
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/testSummary.php?project=1&name=SEACASIoss_structured_cgns_append&date=2020-01-06), these tests are passing okay in the other new 'cts1' builds:

* `Trilinos-atdm-cts1-intel-19.0.5_openmpi-4.0.1_openmp_static_dbg`
* `Trilinos-atdm-cts1-intel-19.0.5_openmpi-4.0.1_openmp_static_opt`

as well as the 'cee-rhel6' builds.

Since SPARC wil

[2020-01-07 21:19] ZUUL42 commented on #6295
Ya, it looks like the old results aren't accessible anymore.
I just got back in today. I'll get some new results posted for everything.

[2020-01-07 22:08] bartlettroscoe commented on #6246
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-01&end=2020-01-06&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-cts1&field2=buildname&compare2=63&value2=openmpi-4.0.1&field3=groupname&compare3=62&value3=Experimental&field4=testname&compare4=61&value4=Intrepid2_unit-test_Discretization_Basi

[2020-01-07 22:25] alanw0 commented on #6522
Sorry I somehow missed your question earlier. But yes you are right, get_topology_root_part.

[2020-01-07 23:00] ikalash commented on #6522
No problem - I think webmail was malfunctioning...  I got ~30 notifications this afternoon that were from the morning.

[2020-01-07 23:15] ikalash commented on #6522
I'm almost done fixing up Albany to get it to compile with STK VOTD.  I've had to switch from shards traits to stk::topology for the various elements.  I was curious, what is the distinction b/w elements such as LINE_2 and LINE_2_1D and QUAD_4 and QUAD_4_2D?  I noticed in modifying the code that it matters which of these is used.

[2020-01-07 23:29] alanw0 commented on #6522
Yes it's kind of a confusing distinction. QUAD_4 is a face, and can only be defined in a 3D mesh. QUAD_4_2D can only be defined in a 2D mesh, but then it's an element and not a face. To be more general, QUAD_4 is a side in a 3D mesh and LINE_2 is a side in a 2D mesh. LINE_2_1D is an element in a 1D mesh.

[2020-01-08 00:13] ZUUL42 commented on #6295
Here are some fresh [test build results](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=gcc_8.3.0&field2=buildstamp&compare2=63&value2=Experimental).

[2020-01-08 00:18] lucbv opened #6542 "Framework: autotester does not launch the cuda build"
## Bug Report
@trilinos/framework

### Description
PR #6535 #6537 and #6452 are blocked because of CUDA build not starting or not finishing. This is blocking PRs from merging in Trilinos.

[2020-01-08 00:58] ikalash commented on #6522
Ah ok, that explains some of the errors I was still seeing for certain tests.  The distinction is critical in implementing a correct fix - thanks for the clarification.

[2020-01-08 01:44] ikalash commented on #6522
I've fixed Albany to compile/run with STK VOTD.  Thanks again for your help @alanw0 !

[2020-01-08 01:44] #6522 closed

[2020-01-08 02:05] csiefer2 commented on #6542
Lovely

[2020-01-08 14:38] bartlettroscoe opened #6545 "Trilinos PR Tester: Possible defective logic about code approvals and testing?"
## Bug Report

@trilinos/framework, @jeforster

### Description

Looks like there may be a bug in the Trilinos PR tester logic demonstrated in PR #6536.  The comment https://github.com/trilinos/Trilinos/pull/6536#issuecomment-571914353 posted by the PR tester this morning 1:46 AM ET 1/8/2020 said:

THE LAST COMMIT TO THIS PULL REQUEST HAS NOT BEEN REVIEWED YET!

However, I approved the PR at 4:46

[2020-01-08 14:39] bartlettroscoe commented on #3276
@trilinos/framework

Looks like a possible bug in the Trilinos PR tester logic: #6545

[2020-01-08 15:14] lucbv commented on #3276
It also look like there is an issue with Ride or the CUDA testing, see #6542

[2020-01-08 15:17] bartlettroscoe commented on #6542
Yup, our ATDM Trilinos builds are not showing up from 'ride' either:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-01-08&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-

Someone needs to see whats up with the Jenkins slave on ride.

[2020-01-08 21:12] bartlettroscoe commented on #6545
@trilinos/framework,

Since there is some urgency in getting this branch merged, I will try adding a new review and see if the PR tester believes that it is reviewed.  And if that does not work, I will try to push a new dummy commit and then approve it and try to get it to work.

[2020-01-08 21:48] jewatkins commented on #6519
I ran into the same issue on a different machine and came across #480. I was able to add `-D HAVE_dggsvd3_POST=1` to override the check and force the use of `dggsvd3`.

[2020-01-08 21:58] kddevin commented on #6294
@ZUUL42   I am trying to replicate your errors using sems modules instead of the sierra module.  Can you share which modules you load?   Thanks.

[2020-01-08 22:04] ZUUL42 commented on #6294
@kddevin I've gone through a few versions, but you can see the current configuration I'm trying [here](https://github.com/trilinos/Trilinos/compare/develop...ZUUL42:intel_19).
Thanks for taking a look.

[2020-01-08 22:34] jewatkins opened #6552 "SEACAS: SuplibCpp/Ioss: error w/ nvcc on vortex"
## Bug Report
@trilinos/seacas

### Description
I get the following error while building w/ the latest Trilinos develop + SEACAS=ON on vortex:
[code]
I didn't see an issue in the code so I'm not sure why the compiler doesn't like it. It looks like there was an attempt to fix this w/ https://github.com/trilinos/Trilinos/commit/417e2ebef09041f8ccd6effb9c9f4141ce0302c9 . I got past it by replacing `s

[2020-01-08 22:34] mhoemmen commented on #6552
@trilinos/seacas @gsjaardema

[2020-01-08 22:53] bartlettroscoe commented on #3276
What is up the PR builds on 'ride'?

[2020-01-08 22:54] bartlettroscoe commented on #6545
Looks like adding a new approving review triggered the PR tester to try a PR build as shown at https://github.com/trilinos/Trilinos/pull/6536#issuecomment-572270436  But alas, that failed too due to no CUDA build (i.e. #6542).

[2020-01-08 23:39] bartlettroscoe opened #6553 "ROL tests failing in new ATDM Trilinos 'cts1' and 'ats2' builds starting 2020-01-03"
CC: @trilinos/rol, @rppawlo (Trilinos Nonlinear Solvers Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA: Linear Solvers", "PA: D

[2020-01-09 00:29] bartlettroscoe opened #6554 "Phalanx_mda_data_layout_MPI_1 test failing in build Trilinos-atdm-mutrino-intel-opt-openmp-KNL starting 2020-01-04"
CC: @trilinos/phalanx , @mperego (Trilinos Discretizations Product Lead)

<Checklist>
<???: Add label "client: ATDM">
<???: Add label "ATDM Sev: Blocker" (by default but could be other "ATDM Sev: XXX")>
<???: Add label "type: bug"?>
<???: Add label for affected packages (e.g. "pkg: MueLu", "pkg: Tpetra", "pkg: Kokkos", etc.)>
<???: Add label "PA: ???Project Area???" (e.g. "PA: Linear Solvers", "PA

[2020-01-09 00:30] bartlettroscoe commented on #6554
Could this be a change of the compler on 'mutrino'?  On testing day 2020-01-04, the [configure output](https://testing-dev.sandia.gov/cdash/viewConfigure.php?buildid=5139278) showed:

[code]

On the previous testing day for which results were available 2019-12-31, the [configure output](https://testing-dev.sandia.gov/cdash/viewConfigure.php?buildid=5125654) showed:

[code]

Therefore, it does not

[2020-01-09 00:40] brian-kelley commented on #6424
@MicheldeMessieres I found a workaround for the linker error, thanks to @jewatkins. I did a fresh login, did load-env.sh gnu, did the interactive bsub to rhel7T like you did above, and started with a fresh build, and this config works (I promise):

[code]

Also, I ran "make" from packages/panzer/mini-em/example/BlockPrec so as to build the minimum stuff (in particular, no tests from other packages

[2020-01-09 13:52] jwillenbring commented on #6542
Per an email to users, a hardware issue with Ride was resolved late yesterday afternoon. Looking at Jenkins this morning, it appears recent builds have been processed more successfully. No failed builds for 16 hours.

[2020-01-09 14:58] MicheldeMessieres commented on #6424
@brian-kelley Thanks. That works. I'll have a PR to fix this soon.

[2020-01-09 15:01] bartlettroscoe commented on #6165
This has been working really well for the most part.  The only problem is that when you move from one CDash group to another (e.g. 'Specialized' to 'ATDM'), the build does not actually move on CDash.  See:

* https://gitlab.kitware.com/snl/project-1/issues/102

Otherwise, I will go ahead and close this.

[2020-01-09 15:01] #6165 closed

[2020-01-09 15:36] lucbv commented on #6542
@jwillenbring thanks for the update, it does look good now so I will close this issue

[2020-01-09 15:36] #6542 closed

[2020-01-09 16:01] gsjaardema commented on #6552
Will have a PR up soon.  I don't see any reason why `significand_type` can't just be replaced by `unint64_t` in the four places it is used...

[2020-01-09 16:04] jewatkins commented on #6552
Okay great, thanks!

[2020-01-09 16:23] spdomin commented on #6521
Okay, as noted, the config error was fixed a while ago. The diffs cased by this update were isolated to a STK_search::coarse_search() optimization.

Checkout out:

for more gory details.

Thanks to all... Closing..

[2020-01-09 16:23] #6521 closed

[2020-01-09 17:47] ZUUL42 commented on #6295
New test build started.
[CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=gcc_8.3.0&field2=buildstamp&compare2=63&value2=Experimental)

[2020-01-09 18:17] kddevin commented on #6294
Hi @ZUUL42
In your script, I see two MPI modules loaded.  Openmpi is loaded before Scotch and MPICH is loaded after Scotch.  Is it possible, then, that the Scotch library selected is built with OpenMPI, while everything else gets build with MPICH?  This would certainly cause Scotch to fail in MPI calls, as you had seen.
I propose you remove the MPICH load, and just use OpenMPI, to see whether that

[2020-01-09 18:24] brian-kelley commented on #6519
@jewatkins Thanks for the workaround, that worked.

[2020-01-09 19:38] brian-kelley opened #6560 "Zoltan: Driver/example for running coloring algorithms on raw CRS graph?"
## Question
@trilinos/zoltan

I would like to run the Zoltan distance-2 coloring on a graph from the SuiteSparse collection, for comparing performance to KokkosKernels. Is there an example somewhere that sets up the Zoltan_Struct and all the callbacks for accessing a graph that is stored explicitly? (e.g. ``int nrows``, ``int* rowptrs`` and ``int* colinds``). This would be on a single MPI rank onl

[2020-01-09 21:08] bartlettroscoe commented on #5914
@bathmatt, you posted this issue.  Do you know if this is resolved for EMPIRE?  The PR #5916 was merged way back on 9/16/2019.

@jmgate?

[2020-01-09 21:09] bartlettroscoe commented on #4148
This has been done for a long time and both EMPIRE and SPARC have had several updates of Trilinos since then.  If there was a problem related this, I would have heard about it.

Closing as complete.

[2020-01-09 21:09] #4148 closed

[2020-01-09 21:09] bartlettroscoe commented on #4201
This has been done for a long time and both EMPIRE and SPARC have had several updates of Trilinos since then.  If there was a problem related this, I would have heard about it.

Closing as complete.

[2020-01-09 21:09] #4201 closed

[2020-01-09 21:09] bartlettroscoe commented on #3941
This has been done for a long time and both EMPIRE and SPARC have had several updates of Trilinos since then.  If there was a problem related this, I would have heard about it.

Closing as complete.

[2020-01-09 21:09] #3941 closed

[2020-01-09 21:10] bartlettroscoe commented on #5341
This has been done for a long time and both EMPIRE and SPARC have had several updates of Trilinos since then.  If there was a problem related this, I would have heard about it.

Closing as complete.

[2020-01-09 21:10] bartlettroscoe commented on #5341
Closing as complete

[2020-01-09 21:10] #5341 closed

[2020-01-09 21:13] krcb commented on #5914
@bartlettroscoe In my `<trilinos-install-path>/lib/cmake/Trilinos/TrilinosConfig.cmake`, I see:

[code]

which is what we needed. I think this can be closed.

[2020-01-09 21:16] bartlettroscoe commented on #6216
FYI: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-11&end=2020-01-09&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-4.0.1_serial_static_opt&field2=testname&compare2=61&value2=ROL_example_PDE-OPT_helmholtz_example_02_MPI_1&field3=site&compare3=61&value3=cee-rh

[2020-01-09 21:31] rppawlo commented on #6554
It was a quick fix, but I'm waiting for mutrino admins to fix my account. Currently can't launch jobs to verify. Should go in soon...

[2020-01-09 22:01] bartlettroscoe commented on #5914
Thanks @krcb!

Closing as complete

[2020-01-09 22:01] #5914 closed

[2020-01-10 09:00] anates commented on #6428
Ran into different problems now, could not reproduce that problem in the latest patches. Thus I'll close that issue for now

[2020-01-10 09:00] #6428 closed

[2020-01-10 18:59] srajama1 commented on #6560
The best option is to use zdrive.exe I think.
See for example
https://github.com/trilinos/Trilinos/blob/master/packages/zoltan/test/ch_simple/zdrive.inp.color-dist2

I also think the File Type there could be matrix market, but don't remember that exactly. I am not able to find the old zdrive documentation too.  @egboman and @kddevin can help you there.

[2020-01-10 19:25] kddevin commented on #6560
Siva is correct.  Here's how to run:
BUILD_DIR/packages/zoltan/test/zdrive.exe zdrive.inp

Here's a file that will read matrix market; here "simple" refers to filename simple.mtx, which is a general MatrixMarket file.
[code]
The number of colors gets reported:
[code]

Note that this test calls a no-op partitioning method before doing the coloring.  If you want to measure times, we'll need to add s

[2020-01-10 19:26] kddevin commented on #6560
The parameters are described at http://cs.sandia.gov/zoltan/ug_html/ug_color.html

[2020-01-10 21:46] brian-kelley commented on #6560
@srajama1 @kddevin Thanks, this is perfect.

[2020-01-10 21:46] #6560 closed

[2020-01-11 22:47] bartlettroscoe commented on #6418
According to [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-01&end=2020-01-11&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug&field2=site&compare2=61&value2=sems-rhel7&field3=block&field3count=2&field3field1=testname&field3compare1=61&field3value

[2020-01-11 22:47] #6418 closed

[2020-01-11 22:55] bartlettroscoe commented on #5515
According to [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-01-11&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=61&value2=TpetraCore_MatrixMatrix_UnitTests_MPI_4) and [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-01&end=2020-01-1

[2020-01-11 22:55] #5515 closed

[2020-01-13 18:27] rppawlo commented on #6260
@jmgate @jwillenbring and @crtrott - any updates on the items above?

[2020-01-13 18:34] jmgate commented on #6260
I would guess the Jason intended there is Verley.

[2020-01-13 18:39] rppawlo commented on #6260
Sorry about that @jmgate . Just sent an email to Jason V.

[2020-01-13 20:19] kddevin opened #6570 "Framework: PR Testing needs one test with Tpetra_INST_INT_INT"
## Bug Report
@trilinos/framework @jwillenbring @ZUUL42

### Description

The default global ordinal type in Trilinos has been changed to long long.  ETI no longer builds global ordinal type int by default.  A PR test is needed that enables Tpetra_INST_INT_INT so that global ordinal = int continues to be tested and so that any tests hard-coded to use int are run as part of PR testing.  Tpetra_INST

[2020-01-13 21:45] MicheldeMessieres commented on #6424
@brian-kelley I just merged #6567 which will fix this.

[2020-01-13 21:46] brian-kelley commented on #6424
@MicheldeMessieres Great, thanks!

[2020-01-13 21:46] #6424 closed

[2020-01-13 22:17] jewatkins commented on #6552
Just confirmed this was fixed by #6558, thanks!

[2020-01-13 22:17] #6552 closed

[2020-01-14 02:04] humhang opened #6573 "AztecOO solve for MultiVector"
I would like to solve for system AX=B where X and B is MultiVectors using AztecOO. But it seems that only the first vector in MultiVectors are solved.

Is this intended or a bug?

[2020-01-14 13:36] bartlettroscoe commented on #6517
@mhoemmen,

I was reported by @bathmatt that EMPIRE has no plans to use Tpetra TSQR with EMPIRE and since SPARC can't currently build with CUDA+RDC, I don't think any ATDM customers are going to be using Tpetra TSQR.

Therefore, since is somewhat obscuring our ability to detect new build errors in the CUDA+RDC builds, can we just disable these two targets and the tests that depend on them from the

[2020-01-14 14:18] rppawlo opened #6575 "Teptra: MultiVector and const protection"
## Bug Report
@trilinos/tpetra

### Description
To prevent a tpetra object from changing values, I thought we should be using:
[code]
However, the return type on getLocalViewDevice() is
[code]
I think this should instead be dual_view_type::t_dev_const with a separate implementation for the non-const accessor?

If Tpetra was following a similar approach to const enforcement as kokkos views where yo

[2020-01-14 15:36] lucbv commented on #6490
@aprokop has this resolved your problem, can we close this issue?

[2020-01-14 16:15] aprokop commented on #6490
No. The pending spack issue has no resolution due to this at this point. I'm not sure how to move forward there as xsdk needs to build multiple packages, including dealii, which needs MueLu (needs in xsdk context).

[2020-01-14 17:17] mhoemmen commented on #6575
`Tpetra::MultiVector` is more like a `Kokkos::DualView` and not at all like a `std::vector`.

That was a decision that came out of the 2014 Kokkos 2.0 refactor.  It's generally awful that Trilinos passes everything around by RCP, and Christian was hoping Tpetra objects would have behavior more consistent with `Kokkos::View`.

[2020-01-14 17:37] mhoemmen commented on #6573
@trilinos/aztecoo

AztecOO only knows how to solve for one vector at a time.  You can work around this issue by iterating over the vectors of X and B and doing a separate AztecOO solve for each.

[2020-01-14 17:38] mhoemmen commented on #6490
I'm tempted to rewrite Xpetra so that it doesn't need to have the same GlobalOrdinal type as its underlying linear algebra type.  Is this impossible or just difficult?

[2020-01-14 18:44] lucbv commented on #6295
@ZUUL42 I have a flurry of PR ongoing that should resolve a bunch of warnings in the gcc/8.3.0 build so if you wouldn't mind launching a build of your own tonight so that we can see the results tomorrow, that would be nice.

[2020-01-14 19:52] #5065 closed

[2020-01-14 19:52] #5117 closed

[2020-01-14 20:24] bartlettroscoe commented on #5528
@kddevin, the 2 weeks of history linked to [above](https://github.com/trilinos/Trilinos/issues/5528#issue-468224090) in the section "Current status on CDash" shown [here](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-opt&field2=testname&compare2=61&value2=TpetraC

[2020-01-14 20:24] #5528 closed

[2020-01-14 20:32] rppawlo commented on #6575
So does that mean to support const you will have to double the number of ETI scalar types? I tried putting const on the scalar type and had a bunch of link errors.

[2020-01-14 20:36] mhoemmen commented on #6575
@rppawlo No -- the idea is that Scalar is always nonconst.  You can use `withLocalAccess` to declare access intent.

[2020-01-14 21:17] GeoffDanielson commented on #6333
So, I haven't seen anything in there that really helped :/

[2020-01-14 21:24] kddevin commented on #6389
Hi @stanmoore1 .  Is there more status on this issue?

[2020-01-14 21:36] mhoemmen commented on #6517
I'm working on fixing these.

[2020-01-14 22:00] rppawlo commented on #6575
@mhoemmen - so just to be clear, with the current design, if I am passing around a MultiVector, there's currently no way to prevent someone from changing values even if the MultiVector is declared const?

Also - the const model for Tpetra is not the same as a View (which can block changing values with View<const double,...>) on one end and std::vector (can block with const std::vector<...>) on the

[2020-01-14 23:32] mhoemmen commented on #6575
@rppawlo wrote:

That's correct.

That's correct.

[2020-01-15 00:13] mhoemmen commented on #6517
I may have a fix for this; I'm testing it now.

[2020-01-15 00:35] mhoemmen commented on #6517
Hm, I can't test my fix, since I can't get kokkos-kernels to build shared + RDC.  @bartlettroscoe is there some trick to this?

[2020-01-15 00:39] ndellingwood commented on #6517
@mhoemmen I don't think rdc + shared is properly supported by the vendor, there was long discussion chain in an issue a year or so back, I'll update with the link if I find it.

[2020-01-15 00:48] mhoemmen commented on #6517
@ndellingwood Ah, should I just do a static build then, but keep the other flags including `-fPIC`?

[2020-01-15 00:56] ndellingwood commented on #6517
@mhoemmen I'm not certain of the best path, here's a comment with link to nvidia docs about the issue [link](https://github.com/trilinos/Trilinos/issues/4502#issuecomment-472175560)

[2020-01-15 01:05] mhoemmen commented on #6517
@ndellingwood Thanks!  I tried a static build with `-fPIC` and got through kokkos-kernels, but now TSQR's tests don't link:
[code]

[2020-01-15 03:25] rppawlo commented on #6575
Thanks @mhoemmen . One last question before closing - what is the long term plan? Will Tpetra object const model morph into the complete kokkos view model or will they stay put as is?

[2020-01-15 13:13] bartlettroscoe commented on #6517
@mhoemmen, all of the ATDM Trilinos CUDA+RDC builds are `static` builds.   In fact, the default ATDM Trilinos build is a static build as per:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#shared_static

Did the "Steps to Reproduce" given [above](https://github.com/trilinos/Trilinos/issues/6517#issue-545061491) on 'white', 'ride' or 'waterman' not work for you?  It s

[2020-01-15 13:38] bartlettroscoe commented on #5179
@trilinos/tpetra, @trilinos/xpetra, @trilinos/amesos2, @trilinos/muelu, @trilinos/panzer, @bathmatt,

FYI: According to [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-10-15&end=2020-01-15&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=63&value2=cuda&field3=groupname&compare3=62&val

[2020-01-15 16:49] ZUUL42 commented on #6295
@lucbv, that all looks pretty good to me. Thanks.
I kicked off a build, but I would guess we're down to just the two last Werrors in @trilinos/sacado & @trilinos/seacas. [CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic166&field2=buildname&compare2=61&value2=PR-gcc_8.3-test-Trilinos

[2020-01-15 19:43] kddevin commented on #5179
@bartlettroscoe I think this is the elusive so-called "UVM error."  It has not been resolved.  I'm going with dumb luck for the recent successes, or maybe some sort of system upgrade.  It is interesting that the error has not appeared for 2.5 months; thanks for tracking it.

[2020-01-15 21:22] mhoemmen commented on #6575
My personal view is that neither model (containers or views) is the correct model for Tpetra objects, STK fields, or any large distributed data structure.  If I remember right, @ibaned would prefer to handle more of these large objects by `unique_ptr`; I'm not opposed to that.  `withLocalAccess` (see Tpetra examples) reflects my opinions about the best way to access a large distributed object's lo

[2020-01-15 21:27] ibaned commented on #6575
Since I was mentioned, I'll just say that what I've done in my most recent code is containers with "container" (`std::vector`) semantics, but kernels never capture a copy of or reference to the container, they only capture "iterator"s or pointers. I usually implement distributed data structures as local data structures with extra functions that do distributed operations.

[2020-01-15 21:46] mhoemmen commented on #6575
@ibaned Thanks for explaining!  I also like the idea that nothing can capture an owning reference to the local data.  Tpetra users have a bad habit of extracting owning Kokkos::View references and stashing them away, then forgetting to update them if their parent Tpetra object changes (e.g., due to the mesh changing).

[2020-01-15 23:17] mhoemmen opened #6589 "Sacado: GCC 8.3 warning about memcpy; either spurious or bad"
## Bug Report
@trilinos/sacado @etphipp

### Description

GCC 8.3.0 gives an interesting warning, that [shows up as an error on a warnings-as-errors Dashboard build](
https://testing.sandia.gov/cdash/viewBuildError.php?buildid=6206630):
[code]

### Steps to Reproduce

Follow above link to the Dashboard.

### Customer feedback

First reported by Sierra TF.

[2020-01-15 23:27] etphipp commented on #6589
Thanks for posting Mark.  I saw that error in the 8.3-werror build earlier, but haven't figured out what it means.  I assume though that since this occurs in an example, this isn't a blocker for SierraTF?

[2020-01-16 00:17] mhoemmen commented on #6589
Hi Eric!  I don't think it's a blocker for Sierra TF, but let me ask.

[2020-01-16 14:55] bartlettroscoe commented on #6216
As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2019-12-17&end=2020-01-15&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman_cuda-9.2_shared_opt&field2=testname&compare2=61&value2=ROL_example_PDE-OPT_helmholtz_example_02_MPI_1&field3=site&compare3=61&value3=waterman), this test is also randoml

[2020-01-16 19:20] bartlettroscoe commented on #6517
With the merge of PR #6583 (commit f580427ddd113119fa97e9779f8469580f9d573a?), these RDC link errors have gone away today 2020-01-16 as shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-01-16&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=63&value2=-rdc-) for these 3 builds.

Closing as

[2020-01-16 19:20] #6517 closed

[2020-01-16 19:58] etphipp commented on #6295
@ZUUL42, can I get your exact configure script?  So far I have been unable to reproduce the Sacado error.

[2020-01-16 20:02] ZUUL42 commented on #6295
@etphipp, this will show my additions.
[GCC 8.3.0 Diff](https://github.com/trilinos/Trilinos/compare/develop...ZUUL42:gcc_8.3)

[2020-01-16 21:00] mhoemmen commented on #6517
@bartlettroscoe Huh, I didn't expect that but I'm happy!  Thanks for reporting! :-D

[2020-01-16 21:48] #3743 closed

[2020-01-16 23:33] kddevin commented on #5286
Thanks, @ndellingwood
Closing now

[2020-01-16 23:33] #5286 closed

[2020-01-17 14:22] bartlettroscoe commented on #6463
@eric-c-cyr, I created PR #6600 for this disable.  Can you approve that PR?

In any case, I manaully merged that branch to the 'atdm-nightly' branch for tomorrow in commit
2e26557 so this test will be disabled in ATDM Trilinos builds going forward in case PR #6600 can't be merged before tonight for some reason.

[2020-01-17 14:32] bartlettroscoe opened #6601 "Framework: https://docs.trilinos.org/files/TrilinosBuildReference.html missing"
@trilinos/framework

The link "Trilinos CMake Reference (html, pdf) – Instructions for building Trilinos 10.0 and later." from the page:

* https://trilinos.github.io/documentation.html

that takes you to

* https://docs.trilinos.org/files/TrilinosBuildReference.html

it says:

You might be trying to find documentation for a version of Trilinos that is no longer supported.

[2020-01-17 14:35] bartlettroscoe commented on #6601
I think this is kind of a serious defect because now no one can get to the Trilinos configure, build and test documentation.

[2020-01-17 15:31] bartlettroscoe commented on #6463
With the merge of #6600, we can add the "Disabled Tests" label and remove this issue from our main list of issues.

@trilinos/teko, if there is no interest in trying to get this test running better on 'waterman' (and I don't know why there would be since it runs fine everywhere else including 'ride' and on 'sems-rhel7' builds with CUDA and GPUs), then can we just close this as "WONTFIX"?

[2020-01-17 16:56] MicheldeMessieres commented on #5666
@srajama1 Closing this issue as it should be resolved now.

[2020-01-17 16:56] #5666 closed

[2020-01-17 17:02] GeoffDanielson commented on #6333
@bartlettroscoe, This is a bug in kokkos that can't be worked around in the current tree.

The good news is that once the kokkos-promotion-candidate-3.0 makes it to develop, the issue goes away (confirmed as of 1/17).

[2020-01-17 19:01] mhoemmen opened #6603 "Tpetra::CrsMatrix::unpackAndCombine: Optimize GPU unpack for few long rows"
## Bug Report
@trilinos/tpetra

### Description

@vbrunini reports that `Tpetra::CrsMatrix::unpackAndCombine` is causing significant load imbalance for Aria's L2 Milestone problem, since shared bulk nodes mean that some MPI processes must unpack nearly dense rows at `doExport`.  The current `unpackAndCombine` implementation has one level of thread parallelism, over rows to unpack.  If there are a

[2020-01-17 21:08] kddevin commented on #6260
While Trilinos remains at c++11, perhaps @trilinos/framework could set up a Trilinos build with c++14, so that we could remove any problems that would block SIERRA's use of c++14.  @jwillenbring @ZUUL42  would a c++14 build be feasible?

[2020-01-17 21:15] mhoemmen commented on #6260
@kddevin If we do that, I think it's a good idea to have two release builds (with all the optimizations turned on) that differ only by C++ language version.  If applications like ALEGRA have diffs, it would be easier to debug them if that were the only difference.

[2020-01-17 21:53] ZUUL42 opened #6605 "SEACAS: Fix Error in new GCC 8.3.0 Werror Build"
## Bug Report
@trilinos/seacas

### Description
When testing the new GCC 8.3.0 build w/Werror on, #6295, there is a error coming from SEACAS that prevents turning on Werror globally.
See recent test build here: [CDash](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic166&field2=buildname&co

[2020-01-17 22:05] lucbv commented on #6605
@gsjaardema it would be nice to have that issue looked at since it is one of the last two issues holding up the gcc/8.3.0 build promotion to the PR auto-tester.

[2020-01-18 00:12] pyt-viper opened #6607 "PyTrilinos: Get SWIG 4.0 to Work"
## Enhancement
@trilinos/pytrilinos

If a user tries to build PyTrilinos using SWIG 4.0, it results in a build error.  Three issues and one opportunity have been identified:

- [x]  The `SWIGEMPTYHACK` macro is no longer defined
- [x]  Logic produced by SWIG 4.0 wrapping arguments that are shared pointers uses the `operator bool` operator.  The way `Teuchos::RCP` arguments are wrapped in PyTrilino

[2020-01-18 00:20] pyt-viper opened #6608 "Teuchos: Add `operator bool` to `RCP` class"
## Enhancement
@trilinos/teuchos

`Teuchos::RCP` does not have an `operator bool`, but could benefit from one.  This would make it behave more like `std:shared_ptr`.  See #6607 for a justification.

Blocks #6607

[2020-01-18 00:23] ZUUL42 commented on #1091
Tracing this a bit, but a fair amount of the links in those linked issues & PRs are dead.
What configuration options would we like to see added to which build?

Looking at what SuperLU modules I can load from SEMS currently, I'm seeing:
- sems-superlu/4.3/base *_loaded in all current builds_
- sems-superlu/5.2.1/base
- sems-superlu_dist/5.2.2/32bit_parallel
- sems-superlu_dist/5.2.2/64bit_parallel

[2020-01-18 17:35] bartlettroscoe commented on #6608
This type of operator needs to be added very carefully or it can create a mess with the type system.   I know there are special methods to implement this type of method safely for its intended usage but it would need to be done carefully to match how `std::shared_ptr` does it. Otherwise, I support adding more functions to `Teuchos::RCP` to mirror `std::shared_ptr` so the two can be used interchang

[2020-01-19 19:00] ikalash opened #6610 "NOX/Epetra: compilation error due to missing file"
Trilinos failed to compile in the Albany nightlies last night due to a missing file:

[code]
https://my.cdash.org/viewBuildError.php?buildid=1761264

Can you please look into this?

@trilinos/nox
@trilinos/epetra

[2020-01-19 22:57] mhoemmen opened #6611 "Tpetra: Mac Clang has trouble reading -9.6322e-41 as float"
## Bug Report
@trilinos/tpetra

### Description

With Clang on a Mac, `TpetraCore_MatrixMatrix_UnitTests_MPI_4` fails with `Scalar=float` and `complex<float>` while trying to read line 398 of `tpetra/core/test/MatrixMatrix/matrices/cdt_m.mtx`.  Line 398 looks like this:
[code]
It turns out that -9.6322e-41 is a subnormal number in `float`.  The test prints the following:
[code]
I inserted print st

[2020-01-19 23:13] mhoemmen opened #6612 "Anasazi: Build error with Scalar=complex<float> enabled"
## Bug Report
@trilinos/anasazi

### Description

`anasazi/src/AnasaziMVOpTester.hpp` has code like this:
[code]
`SCT` is `Teuchos::ScalarTraits<Scalar>`.  When `Scalar` is `complex<float>`, this code does not compile, because `operator*(double, complex<float>)` does not exist.  The fix is to cast the constants 0.5 and 0.33 to `MagType` (which is `float` in this case):
[code]

### Steps to Reprodu

[2020-01-20 15:05] etphipp commented on #6295
Sorry for the stupid question, but can you give me more detail on how to run this?  Do I use the atdm environment for this build, or are there other scripts?

[2020-01-20 22:17] bartlettroscoe commented on #3887
FYI: Joe Frye mentioned that Aaron L. has some code that pulls down GitHub Issue data and sends out summary emails.  We need to ask Aaron to look at his scripts once we can get down to this.

[2020-01-20 23:26] kddevin opened #6614 "Ifpack2: are preconditioner clone methods deprecated?"
## Question
@trilinos/ifpack2

The deprecation document says Ifpack2 clone methods are deprecated.  Yet I see them unflagged in Ifpack2's Chebyshev, RILUK, and Factory.

https://github.com/trilinos/Trilinos/wiki/Trilinos_v12_code_deprecation.pdf

Should these methods be removed from Ifpack2?  Or are they somehow different from the clone methods listed in the document?

We have someone to help remo

[2020-01-20 23:38] kddevin opened #6616 "Ifpack2: SupportGraph preconditioner unlikely to compiler"
## Bug Report
@trilinos/ifpack2

### Description

The SupportGraph preconditioner in Ifpack2 appears to be untested and is unlikely to compile.  It uses functions (e.g., CrsMatrix->getGlobalNumDiags) that have been deprecated and removed from Tpetra.

The code is contained within ifdefs indicating it is experimental, so this issue has no impact on applications.   Resolving this issue is very low p

[2020-01-21 02:03] ikalash commented on #6610
Hmmm, it seems this issue has gone away as mysteriously as it started, therefore closing.  Will reopen if it crops up again.

[2020-01-21 02:03] #6610 closed

[2020-01-21 03:09] pyt-viper commented on #6608
@bartlettroscoe Looking at the `std::shared_ptr` code, which is pretty short, it looks like the important thing is the `explicit` keyword, to prevent implicit conversions.  Locally, I've gotten this to pass all of the Teuchos tests, and I am testing downstream packages now.

[2020-01-21 16:17] prwolfe commented on #6294
@kddevin - can you send me the Makefile.inc you used to compile scotch and ptscotch please?  I am trying to help @ZUUL42 sort out what's happening on this.

Thanks!

[2020-01-21 18:16] csiefer2 opened #6622 "MueLu: Utlities_kokkos does not correctly call Kokkos-ized functions if we build with (double,int,int)"
The partial specialization for (double,int,int) calls back to the non-Kokkosized functions in UtilitiesBase, rather than calling the Kokkos-ized guys which are implemented in the def file.

The Utilities really could use a refactor, if we can find someone to do it...

@trilinos/muelu @jhux2 @lucbv @cgcgcg

[2020-01-21 19:55] kddevin commented on #6570
@jwillenbring @ZUUL42

[2020-01-21 20:03] kddevin commented on #6294
I emailed it to you, @prwolfe .

[2020-01-21 20:35] csiefer2 commented on #6614
I can't think of a reason to keep them...

[2020-01-21 23:33] mhoemmen commented on #6575
Looks like this question has been answered -- please feel free to reopen if not.  Thanks!

[2020-01-21 23:33] #6575 closed

[2020-01-21 23:34] #6573 closed

[2020-01-21 23:34] mhoemmen commented on #6573
It looks like your question has been answered.  If not, please feel free to reopen.  Thanks!

[2020-01-22 01:19] mhoemmen commented on #6603
We could take either of two possible directions:

1. Sort the unpacked rows before merging them into the matrix; use sorted-sorted (both input and matrix row are sorted) merge.
2. Use hierarchical parallelism, over both rows and entries within a row.

I have been sketching out (2), but that might not help so much if it doesn't have a team sort.

[2020-01-22 12:42] bartlettroscoe commented on #5179
FYI: Just heard from @crtrott yesterday that a reproducer was created for this with help from Stan Moore with EMPIRE that allowed the defect to be discovered and fixed.  A modified debug-enabled EMPIRE executable was able to trigger it about 50% of the time after several invocations (don't remember the actual number of invocations).

This turned out to be a defect in Kokkos.  The fix was just merg

[2020-01-22 12:43] bartlettroscoe commented on #5179
I will put this issue in review for now and then we can close after I discuss this with a few people.

[2020-01-22 14:26] bartlettroscoe commented on #5179
FYI: As shown in comments above, this random failure may have also likely occurred not just in Power9+GPU builds built also in x86+CUDA builds because we saw these bounds view errors in tests in the builds `Trilinos-atdm-sems-rhel7-cuda-9.2-Volta70-complex-shared-release-debug` for example.

[2020-01-22 16:14] bartlettroscoe commented on #6608
Okay, it looks like C++11 has saved the day here by allowing conversion functions to be marked `explicit`:

* https://www.kdab.com/explicit-operator-bool/

This would be a great PR to add.  Thanks!

[2020-01-22 19:41] prwolfe commented on #6294
I can confirm that using scotch 6.0.3 and Karens config I was able to get all tests to pass. I did have to set -fPIC to get past a linking error but no other changes. As we discussed at this mornings standup

* The configuration Karen sent over has all pthreads removed and a few other things. Basically it's set to do the minimum and that's likely why it's more reliable
* I was able to get similar

[2020-01-22 20:57] csiefer2 commented on #6490
I did briefly try to rewrite Xpetra to work against Epetra64, but soooooo many of the tests are GO=int specific, it gets really frustrating.  The xpetra-epetra64 branch has a bunch of that code.

Once we purge the LO & GO template parameters, I suspect that supporting Epetra64 in Xpetra will be easier.

[2020-01-22 21:26] mperego opened #6632 "Sacado: Change implementation of derivatives of hyperbolic functions to avoid FPE"
## Enhancement
@trilinos/sacado

Change the algorithm to compute the derivative of tanh and coth functions.

Current algorithm:
tanh(x)' = 1/cosh^2(x)
coth(x)' = -1/sinh^2(x)

Issue: for large x, sinh(x) and coth(x) can be Inf, triggering FPE errors.

Proposed algorithm:
tanh(x)' = 1-tanh^2(x)
coth(x)' = 1-coth^2(x)

Thanks.

[2020-01-22 22:32] mhoemmen opened #6633 "Tpetra::MultiVector unit test fails on Mac Clang with Scalar=float"
## Bug Report
@trilinos/tpetra

### Description

The `TpetraCore_MultiVector_UnitTests` test fails on Mac Clang for Scalar=float.  In particular, `MultiVector_int_longlong_float_Kokkos_Compat_KokkosSerialWrapperNode_NonContigView_UnitTest` fails, with a few lines like this:
[code]
When I change the implementation of `KokkosBlas::dot` to use `double` for intermediate sums instead of `float`, the te

[2020-01-22 22:58] mhoemmen commented on #6632
@mperego I edited your post to get the group tag right.

[2020-01-23 05:31] pyt-viper commented on #6608
Testing downstream packages has produced some failures, and I am now checking to see if they involve RCPs.  They first couple I have looked at have not.  I’ll keep checking as time permits.

[2020-01-23 12:52] bartlettroscoe commented on #6608
That is troubling.  I would have to see the details of that.  Can you post a WIP PR so I can inspect this?

[2020-01-23 15:09] ccober6 opened #6637 "Tempus: Document Iteration Matrices"
## Documentation
@trilinos/tempus

Document the iteration matrix that is used in Tempus.  In some places it is different than what was used in Rythmos which could cause confusion.

[2020-01-23 16:39] kddevin commented on #6570
Discussed at Trilinos Product Leader's meeting on 1/22/20
@trilinos/framework will convert one of the PR tests to use Tpetra_INST_INT_INT
They will use one of the older compiler tests.  Thanks, @jwillenbring

[2020-01-23 18:52] bartlettroscoe opened #6638 "ATDM: Fix installed load_matching_env.sh for custom env with cuda"
CC: @e10harvey

@bathmatt reported that the installed load_matching_env.sh scripts for a custom env for CUDA does not work for the process documented at:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#custom-systems-and-configurations

that was originally implemented in #4933 (PR #5705) is not loading the correct nvcc_wrapper script.

This needs to be fixed.

I will

[2020-01-23 18:57] srajama1 opened #6639 "Adelus: Create new dense linear solver package"
## Enhancement

Create a new package Adelus for the dense linear solver capabilities.

1) Commit package to Trilinos
2) Add package to PR testing
3) Add package to ATDM builds

@vqd8a : I am not able to assign this to you.

[2020-01-23 19:03] vqd8a commented on #6639
Thanks @srajama1. Can you add me as a Trilinos developer?

[2020-01-23 19:04] bartlettroscoe commented on #6639
Actually, I think the initial work here is for the @trilinos/framework team to get added into the PR builds.

[2020-01-23 19:06] bartlettroscoe commented on #6639
@srajama1, you will need to coordinated with @jwillenbring to get this prioritized with the @trilinos/framework team for the initial part of this.  Once this gets merged to 'develop', then you can assign to me to add to the ATDM Trilinos builds.

[2020-01-23 20:33] CamelliaDPG commented on #6233
Fixed by #6244.

[2020-01-23 20:33] #6233 closed

[2020-01-23 20:34] CamelliaDPG commented on #6172
This has been now been addressed by #6323.

[2020-01-23 20:34] #6172 closed

[2020-01-23 20:36] CamelliaDPG commented on #6246
Closed by #6594.

[2020-01-23 20:36] srajama1 commented on #6639
@jwillenbring : Can you please add @vqd8a as a Trilinos developer so he can commit the package ? Assigning it to you first, please reassign to @vqd8a for the second step.

[2020-01-23 20:38] bartlettroscoe commented on #6639
I guess there is zero harm in committing this to Trilinos 'develop' initially as an Experimental (EX) package to start with.  (TriBITS ensures that will cause zero harm.)

[2020-01-23 20:56] bartlettroscoe commented on #6246
@CamelliaDPG, [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=block&field2count=3&field2field1=testname&field2compare1=61&field2value1=Intrepid2_unit-test_Discretization_Basis_HierarchicalBases_Hierarchical_Basis_Tests_MPI_1&field2field2=testname&field2compare2=

[2020-01-23 21:34] bartlettroscoe commented on #5872
Site | Build Name | Test Name | Status | Details | Consec­utive Pass Days | Non-pass Last 30 Days | Pass Last 30 Days | Issue Tracker
-- | -- | -- | -- | -- | -- | -- | -- | --
mutrino | Trilinos-atdm-mutrino-intel-opt-openmp-KNL | Phalanx_­dag_­manager_­MPI_­1 | Passed | Completed | 18 | 11 | 18 | #5872
mutrino | Trilinos-atdm-mutrino-intel-opt-openmp-KNL | Phalanx_­field_­MPI_­1 | Passed | Compl

[2020-01-23 21:35] bartlettroscoe commented on #5179
@bathmatt reports this is fixed so we can close.  Yea!

[2020-01-23 21:35] #5179 closed

[2020-01-23 21:59] rppawlo commented on #5872
sounds good to me!

[2020-01-23 21:59] #5872 closed

[2020-01-23 22:12] mperego commented on #6020
Yeah, no desire to avoid these test to time out on those builds. Closing.

[2020-01-23 22:12] #6020 closed

[2020-01-24 10:52] #6611 closed

[2020-01-24 10:52] #6612 closed

[2020-01-24 10:52] #6633 closed

[2020-01-24 14:25] pyt-viper commented on #6608
I will push my changes and make that PR shortly.  Right now, I am in the middle of running the same tests (enabling Teuchos and all forward dependent packages) with my changes commented out.  So far, the I am seeing the same failures, so my changes can't be responsible.

It's probably a pretty non-standard build.  I had to disable Xpetra, STK, and PyTrilinos, as well as ML tests, ROL examples, and

[2020-01-24 17:50] mhoemmen commented on #6608
@pyt-viper What's with the `MPI_EXEC_PRE_NUMPROCS_FLAGS:STRING="--mca;oob_tcp_if_include;lo0"` flag?

[2020-01-24 18:24] etphipp commented on #6632
Done in PR #6645.  Note Sacado currently doesn't implement coth(x), so I just did this for tanh(x).

[2020-01-24 19:54] kddevin opened #6648 "Tpetra: Increased memory usage with latest Trilinos"
## Bug Report
@trilinos/tpetra

### Description
From @crdohrm
We've noticed a large increase in the memory high water mark for some of our tests. This morning we isolated it to some doImport operations on Tpetra CrsMatrices. For the case below, we have a fillCompleted CrsMatrix inputMatrix and would like to extract a subset of its rows and columns into outputMatrix (see function below).

[code]

S

[2020-01-24 19:58] shardest commented on #6648
Quoting a previous e-mail:

We stepped through the new Trilinos doImport with the debugger to see where the large memory allocation happened:

Tpetra_DistObject_def.hpp: 911 (packAndPrepare - noticeable increase)
Tpetra_DistObject_def.hpp: 1237 (unpackAndCombine - huge increase)

The large increased allocation we see is primarily occurring inside unpackAndCombine

[2020-01-24 20:15] mhoemmen commented on #6648
@crdohrm wrote:

It looks like you intend `outputMatrix` to be a possibly overlapping subdomain matrix.  Ifpack2 handles those in a different, weird, but somehow less troublesome way.  @csiefer2 knows a bit about that.  In any case, there's nothing wrong with using the same row and column Map in the constructor -- in fact, that should use less memory overall, since you're always storing local indi

[2020-01-24 20:17] mhoemmen commented on #6648
@shardest Are you possibly doing nonlocal inserts?  That is, do you ever call `insert{Global,Local}Indices` on a `Tpetra::CrsGraph` with a row index that is not in the graph's row Map on the calling process?

[2020-01-24 23:17] brian-kelley commented on #6603
@mhoemmen Team sort! #6646

[2020-01-24 23:33] brian-kelley commented on #6237
Update: the scan fix didn't affect this at all - spgemm hangs in the same place.

[2020-01-24 23:38] stanmoore1 commented on #6237
This isn't too surprising since the serial scan workound previously didn't help either.

[2020-01-25 21:46] bartlettroscoe commented on #6608
@pyt-viper, the Trilinos PR tester will run some standard builds and if those pass, we should be in pretty good shape.

[2020-01-27 13:51] crdohrm commented on #6648
I don't recall doing any nonlocal inserts. Pretty much what we're doing is summarized by the function shown at the top of Description.

[2020-01-27 14:45] seamill opened #6652 "Intrepid2: Fixing shadow warning"
## Enhancement
@trilinos/intrepid2

Just need to swap out a variable name to prevent it from throwing a shadow variable warning.

Issue is in file/line: `Intrepid2_TensorBasis.hpp:422,426`

[2020-01-27 15:54] bartlettroscoe commented on #3276
Looks like PR testing was down all weekend due to a a disk filling up running the gcc-4.8.4 build (see https://github.com/trilinos/Trilinos/pull/6645#issuecomment-578782958).  From looking at [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-01-21&end=2020-01-27&filtercount=2&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2

[2020-01-27 16:38] jeforster opened #6655 "Remove Deprecated Code"
In Trilinos v12.16, many features of Trilinos were deprecated and should be removed before Trilinos v13 is released.  This issue was created to track the removal of these deprecated features.  The List of deprecations and their removal status will be updated here:

1. [Trilinos-wide next generation stack] Explicit instantiation of multiple different global ordinal types and multiple different loca

[2020-01-27 17:26] etphipp commented on #6295
The Sacado error should be gone now as the offending example has been removed.

[2020-01-27 17:29] etphipp commented on #6632
PR #6645 has been merged, so closing.

[2020-01-27 17:29] #6632 closed

[2020-01-27 17:46] etphipp commented on #6589
This should be resolved with PR #6647 now merged.

[2020-01-27 17:46] #6589 closed

[2020-01-27 17:59] jwillenbring commented on #6639
Done. More accurately, I sent an invitation for @vqd8a to accept. I cannot add him directly. Also, it is not necessary to be a Trilinos developer to issue a PR to add a package. However, it is useful for other reasons.

[2020-01-27 18:07] srajama1 commented on #6237
This seems to be the lone issue that we do not have a handle on.

[2020-01-27 18:21] vqd8a commented on #6639
Thanks @jwillenbring. The copyright assertion is in process.

[2020-01-27 18:24] brian-kelley commented on #6237
@srajama1 After I get my results and poster for SIAM PP this week, I can go back to looking into this.

[2020-01-27 18:26] kddevin commented on #6655
@trilinos/tpetra  @kddevin
@trilinos/intrepid2 @mperego
@trilinos/intrepid @mperego
@trilinos/thyra @rppawlo
@trilinos/teuchos  @bartlettroscoe
@trilinos/ifpack2 @jhux2 @csiefer2 @mhoemmen
@trilinos/tacho @srajama1
@trilinos/rtop @rppawlo
@trilinos/phalanx @rppawlo
@trilinos/panzer @rppawlo
@trilinos/muelu @jhux2 @csiefer2
@trilinos/epetra @maherou
@trilinos/belos @mhoemmen
@trilinos/xpetra @willi

[2020-01-27 18:30] kddevin commented on #6655
All:  over the next couple of weeks, @jeforster will be removing code marked deprecated, in preparation for Trilinos v13.  Your help reviewing PRs for your packages will be appreciated.

[2020-01-27 18:33] kddevin commented on #6655
@jeforster Concerning #6 clone methods in ifpack2 that take Node as an argument, the consensus is that these clone methods should be removed.
https://github.com/trilinos/Trilinos/issues/6614

[2020-01-27 18:37] kddevin commented on #6614
Thanks.  I will ask @jeforster to remove them. #6655

[2020-01-27 18:38] #6614 closed

[2020-01-27 19:11] srajama1 commented on #6237
Thanks @brian-kelley

[2020-01-27 19:15] srajama1 commented on #6639
@jwillenbring Thank you ! I wasn't able to assign @vqd8a before to this issue. I assume that list gets populated from the developers somehow.

An aside, @vqd8a is the lead of this new package and an active Kokkos Kernels developer. It is correct for him to be in the developers list.

[2020-01-27 19:41] seamill opened #6656 "Panzer: Loop optimization for LocalMeshInfo sideset creation"
## Enhancement
@trilinos/panzer

Currently there are a couple of loops in the sideset LocalMeshInfo object creation that are pretty slow. These changes will try and speed them up.

[2020-01-27 20:26] #6652 closed

[2020-01-27 21:31] mhoemmen commented on #6589
Thanks Eric! :-D

[2020-01-27 22:08] pyt-viper commented on #6608
@bartlettroscoe do you need to review the PR to set it in motion?

[2020-01-27 22:09] pyt-viper commented on #6608
@mhoemmen that is a relic from an `mpiexec` problem from long ago.  It might be obsolete.

[2020-01-27 22:12] bartlettroscoe commented on #6608
@pyt-viper, if you are not a member of the Trilinos GitHub project, then yes, I will need to approve, I think to trigger a PR testing build.  See:

* https://github.com/trilinos/Trilinos/wiki/Pull-Request-Testing-Interface

Also, the the merge base branch needs to be the 'develop' branch, not the 'master' branch'.

[2020-01-27 22:14] pyt-viper commented on #6608
Yeah, it's all ready to go, #6641

[2020-01-27 22:15] ZUUL42 commented on #6295
@etphipp, thanks. Looks good.
Down to just [the last error](https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=3&showfilters=1&filtercombine=and&field1=site&compare1=61&value1=ascic166&field2=buildname&compare2=61&value2=PR-gcc_8.3-test-Trilinos_pullrequest_gcc_8.3.0-43&field3=buildstamp&compare3=61&value3=20200127-1848-Experimental) coming from @trilinos/seaca

[2020-01-28 05:34] mhoemmen opened #6663 "Tpetra::CrsMatrix::unpackAndCombine, non-static-graph path, allocates too much memory"
## Bug Report
@trilinos/tpetra

### Description

This is a narrowing-down of #6648.  @shardest and I ran an 8-MPI-process Sierra SD test with Trilinos master in a debugger, and used `top` to look at per-process memory increases.   We noticed that `copyAndPermute` showed a modest increase in memory use per process, but `unpackAndCombine` showed a greater than 2x increase.  This prompted me to take

[2020-01-28 05:51] issabass opened #6664 "Almost all packages: How to compile/link every package separeately?"
## Question
Hello team Trilinos,
I've just started learning Trilinos. I followed the tuto to compile and install the packages into a local directory. But I've issue as to how link the needed libraries.
To avoid the libraries overlapping, I'd like to have one of you guys providing me a mwe based on my setting as to how to make the right cmake set up:
*My_Trilinos_DIR_INSTALL= /home/issaq/mydev/DTri

[2020-01-28 07:39] pavaninguva opened #6666 "TeuchosCore_Allocator_atexit: make install fails DSO missing from command lind"
I am trying to compile trilinos with MPI on for parallel runs. I ran cmake with the following configurations:
[code]
And in the build directory, I ran `make install` which failed with the following trace:
[code]
I have tried to modify the `CMakeLists.txt` as possible fix outlined by https://stackoverflow.com/questions/13247107/cmake-dso-linking, but the cmake file does not seem to have a explicitl

[2020-01-28 13:28] sethrj opened #6667 "ML: build failure when using C89"
## Bug Report
@trilinos/ml

### Description

Trying to build the ML package on Windows Intel 15, it appears the default behavior is to compile with strict C89. There is a single declaration in ML's C code that's noncompliant.

[code]

### Steps to Reproduce

Enable ML, build with Intel 2015 on Windows.

[code]

[2020-01-28 14:25] bartlettroscoe commented on #3585
@trilinos/framework, this test took our a PR testing iteration as shown in https://github.com/trilinos/Trilinos/pull/6641#issuecomment-579044999.  It showed:

[code]

This test should be removed from all PR iterations.

[2020-01-28 14:28] bartlettroscoe commented on #3276
FYI: @trilinos/framework, the long randomly failing test  `Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4` (see #3585) the PR testing iteration as shown in https://github.com/trilinos/Trilinos/pull/6641#issuecomment-579044999.

This test should be removed from all PR iterations.

[2020-01-28 15:39] csiefer2 commented on #6667
Approved the PR and set it to automerge.

Thanks for the paych!

[2020-01-28 16:07] gsjaardema commented on #6605
What branch/tag is being used for this compilation.  It is mentioning `strncpy` and `CM_CAST` in the warning/error messsage, but `CM_CAST` does not exist in any SEACAS source code and there is no `strncpy` in `ExoIICTests.cxx` that I can find.

[2020-01-28 16:15] gsjaardema commented on #6605
OK, the `CM_CAST` comes from some processing that CMake does, but there is no `strncpy` in the processed file that I can see so still confused as to what branch/tag is being used.

[2020-01-28 16:34] gsjaardema commented on #6605
See https://gitlab.kitware.com/cmake/cmake/issues/18038  This is an error in cmake itself and not SEACAS.  It looks like it has been fixed in https://gitlab.kitware.com/cmake/cmake/commit/3af0438b4bccc599792f61a9f4be81b4bb36c3e3

Looks like we need a newer version of CMake to fix this.

[2020-01-28 17:08] lucbv commented on #6605
@gsjaardema thanks for catching this cmake issue!
It looks like we are at the mercy of some funny business in the auto-tester logic.
It seems that the modules are defined twice (using the gcc/7.2.0 PR tester to illustrate this):
* first [here](https://github.com/trilinos/Trilinos/blob/c962db7665df7f841f62de8f3f7058e0ba6c3449/cmake/std/PullRequestLinuxDriverTest.py#L135)
* second [here](https://git

[2020-01-28 17:47] pyt-viper commented on #6608
Addressed by PR #6641

[2020-01-28 17:47] #6608 closed

[2020-01-28 18:04] prwolfe commented on #6605
Luc,

The python controls the actual PR testing.  The shell scripts were only left in place to facilitate developers re-creating PR builds as needed.  I have been meaning to consolidate those to use a single source but have not got to that point.

Paul

From: Luc Berger <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Tuesday, January 28, 2020 at 10:08 AM
To: t

[2020-01-28 18:29] sethrj commented on #6667
Fixed by #6668

[2020-01-28 18:29] #6667 closed

[2020-01-28 19:44] shardest commented on #6648
Recalling the max memory usage numbers from above - the first performance test high water mark went from 360 MB to 847 MB.

I'm looking at the implications of the double copying described in #6663 : if we assume that both tests have a baseline memory usage of b, and a memory usage m for the matrix, then we can estimate the effect of reducing three copies to two:

[360; 847] = [1, 1; 1, 3]*[b; m]
[

[2020-01-28 20:23] mhoemmen commented on #6648
@shardest Thanks for doing the estimation!  The main issue is whether the extra 67% would block Trilinos integration.  Would this cause the performance tests to fail?

I'm pretty sure Tpetra could further reduce peak memory use for this use case ({Ex,Im}port into an empty CrsMatrix), but it would take quite a bit longer than just fixing the 3x duplication.  Trilinos integration is becoming an urge

[2020-01-28 20:35] mhoemmen commented on #6666
It could be that CMake didn't find the right MPI libraries.  You could try setting `MPI_BASE_DIR` appropriately.  Don't modify `CMakeLists.txt` by hand.

[2020-01-28 20:36] mhoemmen commented on #6664
Check past Trilinos tutorials for instructions on how to link against Trilinos with a CMake project.

[2020-01-28 20:42] mhoemmen commented on #6648
@shardest @crdohrm Another thing you could try as a work-around, is to call [importAndFillCompleteCrsMatrix](
https://github.com/trilinos/Trilinos/blob/c962db7665df7f841f62de8f3f7058e0ba6c3449/packages/tpetra/core/src/Tpetra_CrsMatrix_decl.hpp#L4568Z).  It's supposed to be faster anyway.
[code]
The result is fill complete.

[2020-01-28 20:46] bartlettroscoe commented on #3276
FYI: @trilinos/framework, the long randomly failing test `Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4` (see #3585) strikes again the PR testing iteration as shown in the GCC 4.8.4 build as shown in https://github.com/trilinos/Trilinos/pull/6669#issuecomment-579408159.

This test should be removed from all PR iterations.

[2020-01-28 22:04] agenbyte opened #6673 "TrilinosCouplings: Fix taper in poisson 2D statistics"
## Bug Report
@trilinos/trilinoscouplings

Taper is being calculated incorrectly. Giving 0's when it should be 1

[2020-01-28 23:15] jhux2 opened #6675 "Zoltan2: RCM ordering might result in ineffective incomplete factorization preconditioner"
@vbrunini has reported at issue when solving a small (268 DOF) steady incompressible Q2/Q1 fluid problem with an additional energy advection diffusion equation.  The linear system can be solved with GMRES preconditioned by ILU(0) in AztecOO, but will fail when using the same solver in Belos/Ifpack2.

I've traced the difference in behavior to differences in how AztecOO and Zoltan2 generate the RCM

[2020-01-29 01:02] mhoemmen commented on #6675
Users might actually prefer exactly the same results as with AztecOO, but using a stable sort would be a good start.  @alanw0 tells me that the replacement of Aztec with Epetra and AztecOO led to grief, due to failure to solve some problems that could be solved before.  This suggests that we should try to use the same algorithms as before, unless we have better replacements.

[2020-01-29 01:15] jhux2 commented on #6664
@issabass Check out the tutorials at https://github.com/kokkos/kokkos-tutorials.  Is this what you're after?

[2020-01-29 01:54] issabass commented on #6664
Many thanks, indeed!

[2020-01-29 04:16] srajama1 commented on #6675
This is an interesting problem ! I have never seen the root make that much of a difference (successfully solving and not solving) in practice. I would like to understand this problem better and keep it as an example. This goes against what I have said many times and have heard others says many times that two BFS does a decent job in finding a pseudo-peripheral node. I would like to know what is th

[2020-01-29 15:20] bartlettroscoe commented on #6638
There was no defect in the ATDM Trilinos scripts in support for CUDA.  This turned out to just be a defect in the custom environment.sh script.  See [ATDV-288](https://sems-atlassian-srn.sandia.gov/browse/ATDV-288) for details.

Closing as INVALID.

[2020-01-29 15:20] #6638 closed

[2020-01-29 16:13] egboman commented on #6675
I am surprised a stable sort is required as I never heard this issue mentioned anywhere. Nice job tracking it down. What do you mean by Belos/Ifpack2 (with Zoltan2) fails? The number of GMRES iterations is too high?

[2020-01-29 17:16] jhux2 commented on #6675
I think the fact that maintaining the original ordering of the children with equal degrees results in an effective factorization is a total crap shoot.

Yes, GMRES stagnates.

[2020-01-29 17:18] jhux2 commented on #6675
@srajama1 The root node choice has some effect.  But using a stable sort makes GMRES converge, vs stagnating.

@vbrunini Is it ok to distribute the matrix?

[2020-01-29 17:27] jhux2 commented on #6664
Glad this helped.  If you feel this answered your question, please close this issue.

[2020-01-29 18:33] lucbv opened #6681 "MueLu: sparser GeometricInterpolationP"
## Enhancement
@trilinos/muelu @rstumin @mayrmt

Adding an option to the GeometricInterpolationPFactory that generates sparser prolongation operators by filtering out the interpolation coefficients below 1e-6.
This generates much sparser P, R and Ac matrices while retaining good interpolation accuracy since the total number of interpolation coefficients per row is caped at 8.

[2020-01-29 20:25] jhux2 commented on #6675
@vbrunini reports:
"The good news is this fixes 3 of our other regression tests, bad news is there are still others that exhibit the same symptom of passing with Aztec but not belos/ifpack2, and if I disable reordering for Aztec they fail."

I'll have a look at the new matrices he's provided, it may be that I need to look at the root node algorithm.

[2020-01-29 21:57] #6664 closed

[2020-01-29 22:36] mhoemmen commented on #6648
Update:
1. `importAndFillCompleteCrsMatrix` won't work here, because SD specifies the target's column Map explicitly.  (It happens to equal the target's row Map.)  The "domain Import" argument is an Import from the source domain Map to the target domain Map; that's not what we want here.
2. I verified that `pad_crs_arrays` was getting called.  However, I haven't yet verified that this is the sourc

[2020-01-30 03:48] srajama1 commented on #6675
In some weird way, I feel happy that ordering is this important for preconditioning :) !

[2020-01-30 04:45] mhoemmen commented on #6675
Received wisdom from @alanw0 is that old apps had trouble switching from Aztec to AztecOO + Epetra, because it changed the ordering for solvers.  He didn't say whether AztecOO or Epetra developers fixed anything as a result.

[2020-01-30 14:15] lucbv commented on #6681
PR #6682 resolved this issue so I will close this

[2020-01-30 14:15] #6681 closed

[2020-01-30 16:58] e10harvey opened #6691 "Tpetra: BlankRowBugTest_MPI_2 Seg faulting on vortex"
## Question
@trilinos/tpetra

We are trying to stabilize a new environment introduced in #6547 but are seeing many seg faults in multi-process Tpetra tests. The set of failing tests experiencing seg faults are not failing intermittently. What's causing the seg faults in BlankRowBugTest_MPI_2 on vortex? Is this an issue with how we're running the tests? See [CDASH](https://testing.sandia.gov/cdash/

[2020-01-30 17:16] mhoemmen commented on #6691
@e10harvey Rerun with environment variable `TPETRA_DEBUG` set to 1.

[2020-01-30 17:28] bartlettroscoe commented on #6691
NOTE: We can't really support Trilinos on ATS-2 until we work this out as we have about 270 failing tests which is too much for us to even start to monitor with our current system.

I am sure there is something to do with how we are launching the job with LFS bsub or using mpiexec.  It might even be related to an issue that @jjellio reported a while back in #5855 about `-disable_gpu_hooks` ?  (But

[2020-01-30 17:33] mhoemmen commented on #6691
@e10harvey One possibility is that someone is passing UVM memory down through Tpetra or through `Teuchos::*send`.

[2020-01-30 17:36] bartlettroscoe commented on #3276
FYI: @trilinos/framework, @trilinos/muelu, another randomly failing test `MueLu_ParameterListInterpreterTpetra_MPI_1` taking out a PR build iteration https://github.com/trilinos/Trilinos/pull/6687#issuecomment-580362704 shown [here](https://testing.sandia.gov/cdash/testDetails.php?test=100487641&build=6297030)?  Can't see how that is related to the changes in that PR (which are simple CMake change

[2020-01-30 17:44] cgcgcg commented on #3276
@bartlettroscoe PR #6690 should take care of that. The test runs all xml input deck in a folder. Another PR added an input deck, and since the autotester does not blow away the builds, that xml stayed around.

[2020-01-30 17:45] bartlettroscoe commented on #3276
FYI: @trilinos/framework, @trilinos/phalanx, looking at [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-01-28&end=2020-01-30&filtercount=2&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildname&compare2=63&value2=test-Trilinos_pullrequest_gcc_7.2.0), it looks like some bad build errors have gotten into the gcc_7.2.0 P

[2020-01-30 17:46] mhoemmen commented on #3276
@kliegeois See above comment.  Thanks!

[2020-01-30 17:59] lucbv opened #6692 "Tpetra: add simple MatVec benchmark test"
## Enhancement
@trilinos/tpetra

I would like to add a new test in tpetra that can be used to benchmark the performance of CarMatrix::apply.
Somehow we have one for BlockCrsMatrix but not one for the regular CrsMatrix?

[2020-01-30 18:10] jhux2 commented on #6675
Ok, that is weird :).

[2020-01-30 18:57] vbrunini commented on #6691
On vortex Tpetra will by default detect that MPI is cuda aware and try to use cuda buffers. This doesn't actually work unless you pass ```-M "gpu"``` to jsrun. Alternatively you can set ```TPETRA_ASSUME_CUDA_AWARE_MPI=0``` in the environment to override the default behavior and use host MPI.

[2020-01-30 21:00] bartlettroscoe commented on #3276
It would appear that that `-Werror` got added to the gcc_7.2.0 build way back on:

[code]

So how did these warnings get on to the 'develop' branch?  We can see
that these errors have gotten on to the 'develop' branch build the 'develop' to 'master' promotion PR builds shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-01-28&end=2020-01-30&filtercount=2&showfilters

[2020-01-30 21:05] e10harvey commented on #6691
Thanks everyone! Passing -gpu, instead of -disable_gpu_hooks, to mpiexec also resolves this.

[2020-01-30 21:06] bartlettroscoe commented on #3276
@trilinos/framework, the the build error in git "clean" build shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2020-01-28&end=2020-01-30&filtercount=2&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Clean&field2=buildname&compare2=63&value2=test-Trilinos_pullrequest_gcc_7.2.0) was 13 hours ago.  Did that not trigger some flashing red light?

[2020-01-30 21:10] jjellio commented on #6691
I'd start by either disabling Cuda aware Tpetra `export TPETRA_ASSUME_CUDA_AWARE_MPI=0` in the environment, or adding `-M -gpu` to the MPI NP arg variable in Cmake.

The other issue that will cause many unit tests to fail is that unless they call MPI Init, they will segfault. (You need to use #5855 to disable the GPU shared library hooks in IBM Spectrum).

To simply get things going, what you coul

[2020-01-30 21:13] jjellio commented on #6691
It's also worth adding, for testing purposes, you really want to test both Cuda-aware MPI and non-cuda-aware MPI. E.g., run with `TPETRA_ASSUME_CUDA_AWARE_MPI=0` and `TPETRA_ASSUME_CUDA_AWARE_MPI=1 + jsrun -M -gpu`.  That exercises different code paths with respect to MPI.

[2020-01-30 21:16] khpierson commented on #6648
From my perspective, this issue is a blocker for a Trilinos integration. The potential impact on existing SD production analysis is too risky. -Kendall

[2020-01-30 21:18] bartlettroscoe commented on #6691
@jjellio, what are the actual ATDM APP codes going to be using?  What is SPARC and EMPIRE going to be doing on ATS-2?  Are they using CUDA-aware MPI or not?  That is all we care about from an ATDM perspective.  (Other customers may care but they need to be setting up their own Trilinos testing the way that ATDM is doing if their use cases are different from ATDM's.)

@sebrowne, @mhoemmen, what is

[2020-01-30 21:25] jjellio commented on #6691
I believe everyone is using Cuda-aware.

I know various devs have tried with and without because the point is really to find the most performant code path and use it (so this was a free variable. Until recently we got better performance using non-cuda-aware MPI, and that could flip flop, who knows... )

[2020-01-30 22:21] bartlettroscoe commented on #6691
@jjellio, how can we verify this?  Surely there are @trilinos/tpetra or @trilinos/muelu, or other Trilinos developers with ATDM funding working with SPARC and EMPIRE who would know this off of the top of their heads, no?

[2020-01-30 22:24] bartlettroscoe commented on #6691
I am going to re-open this for now until we get a clear answer to the question of of CUDA-aware MPI or not.

[2020-01-30 23:39] bartlettroscoe opened #6697 "Why are Trilinos PR builds enabling Secondary Tested Code?"
## Question
@trilinos/framework, @rppawlo, @trilinos/phalanx, @kddevin (Trilinos Data Services lead), @srajama1 (Trilinos Linear Solvers Lead), @

I just noticed that the Trilinos PR builds (or at least some of them are enabling secondary tested code as shown by, for example, the broken gcc_7.2.0 PR build shown [here](https://testing.sandia.gov/cdash/viewConfigure.php?buildid=6300498) which shows:

[2020-01-30 23:39] lucbv opened #6698 "Moertel: Comparing signed and unsigned variables breaks auto-tester"
## Bug Report
@kliegeois

### Description
Simply need to change some `std::size_t` into `int`
Kim, if you could run with -Werror on when you make changes that would be nice ; )

[2020-01-30 23:39] bartlettroscoe commented on #3276
Moertel needs to be removed from PR testing by setting `Trilinos_ENABLE_SECONDARY_TESTED_CODE=ON` in all of the Trilinos PR builds.  See #6697.  That sill fix the gnu_7.2.0 PR builds.

[2020-01-30 23:57] mhoemmen commented on #6691
@bartlettroscoe SPARC was using CUDA-aware MPI.  In any case, I would like to see GPU builds with this feature both enabled and disabled.  That would give complete test coverage.

[2020-01-31 00:08] bartlettroscoe commented on #6691
@mhoemmen, since this can be changed at runtime, it would be good if the Tpetra test suite itself could add tests for host MPI and CUDA-aware MPI, with the same executables.  That would save us a ton of build time for the GPU.  Otherwise, I guess we could rig things up to rerun the Trilinos test suite for an existing CUDA build to switch between host MPI and CUDA-aware MPI without having to build

[2020-01-31 00:10] mhoemmen commented on #6663
We tried two different work-arounds, but both threw exceptions, for reasons that are harder to fix than just fixing the original SD use case.

Summary:
1. `importAndFillCompleteCrsMatrix` failed, and it wouldn't work anyway in this case.
2. Avoiding the "non-static-graph" code path by making the graphs separately first also failed.

We first tried `importAndFillCompleteCrsMatrix`, but it failed wi

[2020-01-31 00:21] mhoemmen commented on #6663
@shardest build SD with [my branch of Trilinos](https://github.com/mhoemmen/Trilinos/tree/Tpetra-Crs-memory-use), that adds extensive debug output for `Kokkos::View` allocations, if you set the `TPETRA_VERBOSE` environment variable to `CrsMatrix` or 1.  We were able to capture just the output relating to the function that caused the test to fail due to running above its memory limits.

I will send

[2020-01-31 00:22] mhoemmen commented on #6648
@crdohrm wrote:

@shardest and I verified today that SD wasn't doing any nonlocal inserts, at least not in the function call that caused the test to run out of memory.

[2020-01-31 00:45] jmgate commented on #2013
Reopening to continue the conversation with @srajama1.  From his email:

There are two potential answers to that question, depending on the answer to this one:  Does Trilinos intend to have members of `@trilinos/<package>` teams that should not have write-access to the Trilinos repository?

If yes (non-developers can be on `@trilinos/<package>` teams):
1. Under each `@trilinos/<package>` team, cre

[2020-01-31 00:56] jjellio commented on #6691
@bartlettroscoe

How would a dev add a test like this? Toggling between the two requires an ENV be set, does the unit test setup enable devs to specify specific ENVs for a specific test?

When I coerced ctest to do this, I simply exported the ENV one way, then ran ctest, then changed the ENV and reran it. There are probably more complicated ways to go about this, but the easiest way would be to ru

[2020-01-31 00:57] bartlettroscoe commented on #6697
CC: @lucbv

@trilinos/framework,

As demonstrated in PR #6699, the PR logic is screwed up.  It is not enabling Moertel when there is changes in that package and it let that PR pass.  Yet, in other PRs, Moertel gets enabled implicitly and it can break the build.  This is not good.  Please fix this by either adding Moertel to the list of Primary Tested packages (but why?) or change all of the PR bui

[2020-01-31 01:04] bartlettroscoe commented on #6691
@jjellio, you can set the env on a test-by-test basis in the CMakeLists.txt file.  See the the `ENVIRONMENT` option to [`TRIBITS_ADD_TEST()`](https://tribits.org/doc/TribitsDevelopersGuide.html#formal-arguments-tribits-add-test) AND [`TRIBITS_ADD_ADVANCED_TEST()`](https://tribits.org/doc/TribitsDevelopersGuide.html#overall-arguments-tribits-add-advanced-test).  Some simple CMake wrapper functions

[2020-01-31 01:09] jjellio commented on #6691
For certain machines, the easiest thing to do would be to enable:

[code]

The gpu_hooks thing could be worked around using a jsrun wrapper. E.g., checked into Trilinos, something that takes takes the entire JSRUN command, finds the '-p N', if `N` is 1, then append a disable gpu_hooks flag

Then forward all of the args to the real jsrun.

[2020-01-31 01:13] mhoemmen commented on #6691
@bartlettroscoe We've seen errors downstream in packages like Zoltan2, where developers pass e.g., UVM allocations to MPI without realizing it.  What we really want to do is run all of the Tpetra tests (and in fact, all downstream packages' tests, not just Tpetra) with both options.  I don't think just having a few tests that turn the option on or off would be quite as useful.

[2020-01-31 05:19] mhoemmen commented on #6663
Here's an except of the log for `outputMatrix`'s `fillComplete` call:
[code]
Notice how much bigger the unpacked (`allocSize`) number of entries is vs. packed (`numEnt`).  When previous routines duplicate storage, they are duplicated the unpacked number of entries, not the packed number.

[2020-01-31 10:46] Sbte opened #6702 "Teuchos: Preferred way of printing docstrings"
## Question
@trilinos/teuchos

What is the preferred way of printing docstrings from a parameter list?

For our application, we want to print all parameters that can be set, their default values, and their docstrings. This so we have the documentation of the parameters all in one place. I'm confused as to what would be the right way to obtain those.

I expected `validateParameters` or `validatePar

[2020-01-31 14:32] bartlettroscoe commented on #6691
@jjellio, @mhoemmen, I think we can rig up something like what is suggested.

Can someone contribute a jsrun wrapper or mpiexec wrapper that that allows the entire Trilinos test suite to pass on 'vortex' with the new ATDM Trilinos 'ats2' env?

[2020-01-31 14:48] bartlettroscoe commented on #6691
BTW, building on 'vortex' should be as easy as is described in:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#quick-start

Just have your Trilinos clone, create a build directory and then do:

[code]

The only difference is that Ninja is not part of the standard ATS-2 stack so we have to use standard makefiles for now.  (But we could install it easy enough and add i

[2020-01-31 15:07] rppawlo commented on #6691
@bartlettroscoe - in the link you point to above, there is a section "Specific instructions for each system" that does not have anything for vortex. Can you add the instructions you just posted to the section? I tried the load-env.sh with a target of "cuda-gnu" yesterday and the script crashed immediately. After some hacking I found a list of options that configured and compiled until a link was a

[2020-01-31 15:42] jhux2 commented on #6702
@trilinos/teuchos

[2020-01-31 15:47] bartlettroscoe commented on #6702
@Sbte, yes you want to implement getValidParameter().  Look at an example of this in:

*  https://docs.trilinos.org/dev/packages/stratimikos/doc/html/classStratimikos_1_1DefaultLinearSolverBuilder.html#details

And you can expand out the list of "Valid Parameters" shown there.

I did not write all of the code that does that and I am not sure that documentation is being kept up-to-date (by cron job

[2020-01-31 15:56] #6637 closed

[2020-01-31 16:00] ccober6 opened #6703 "Tempus: Improve Documentation of DIRK Stepper Algorithm"
## Documentation
@trilinos/tempus

To better communicate each stepper's algorithm, we should use the LaTeX's algorithm environment in doxygen.  To start, let's demonstrate this in the DIRK stepper.

[2020-01-31 16:10] bartlettroscoe commented on #6691
@rppawlo, for the Trilinos 'develop' version:

[code]

on 'vortex' I just tried:

[code]

What version of Trilinos are you using?  What command are you running and what output are you seeing?

I am running the [checkin-test-atdm.sh](https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#checkin-test-atdmsh) script right now:

[code]

on 'vortex60' and it seems to be building ok

[2020-01-31 16:42] bartlettroscoe commented on #3276
@trilinos/framework, @trilinos/intrepid2,

FYI: The test `Intrepid2_unit-test_Discretization_Basis_HierarchicalBases_Hierarchical_Basis_Tests_MPI_1` timed out in the PR iteration` in the PR iteration https://github.com/trilinos/Trilinos/pull/6687#issuecomment-580793721 and failed the whole thing.  Now we need to start all over again :-(

Can someone see if this test is timing out in other PR build

[2020-01-31 16:53] rppawlo commented on #6691
I used develop from last night. I'm having trouble replicating the script crash this morning. Maybe my environment was messed up? The link issue is due to compiling on the vortex login node as opposed to an interactive shell. I was getting:
[code]

[2020-01-31 17:08] nate945 commented on #6648
Commenting so that I get emails related to the ticket.  Thanks!

[2020-01-31 18:14] mhoemmen commented on #6648
@nate945 I just sent you, @crdohrm, and @shardest an e-mail with the log file and instructions for reproducing the experiment.

[2020-01-31 18:56] mhoemmen commented on #6663
@tjfulle @kddevin Search in the log I sent out for "73271166" (no quotes).  You'll find this:
[code]
The allocation fails due to the memory limit.  586169456 (500 MB!) is `sizeof(double)` times 73271166.  If you generate the log from running with 10x memory limit (as described in my e-mail from last night), you'll see that this allocation succeeds.
[code]
If you look further in that log for "73271

[2020-01-31 19:00] srajama1 commented on #6648
@srajama1 : Adding myself to get updates

[2020-01-31 19:19] tjfulle commented on #6663
Thanks @mhoemmen.  I'm not recalling exactly, but we discussed the issue of duplicating entries wrt to `insert*Indices`.  I believe that was part of the motivation for having `CrsMatrix` use its `CrsGraph` do insertions (using the callback mechanism), because the graph could handle the issue of duplicate entries more transparently.   In this case, perhaps should we do some sort of "merged insertio

[2020-01-31 19:20] mhoemmen commented on #6663
The reason this didn't happen before is likely because `CrsMatrix::insert*` with DynamicProfile merged.  Since we only have StaticProfile now, we need to precount the allocation with merging in mind.  That means we need to inspect the incoming data and search for column indices that also appear in the target matrix in that row.  It would be hard do that for both copies and imports, since that woul

[2020-01-31 19:30] mhoemmen commented on #6663
@tjfulle wrote:

Something like that.  Here's a sketch of the first pass:

  1. copyAndPermute merges incoming entries with column indices that are already in the target graph, and counts incoming entries for each row that aren't already there.
  2. unpackAndCombine does the same, adding to the existing counts.
  3. Allocate target matrix.
  4. Make another copyAndPermute pass for entries that are

[2020-01-31 19:50] mhoemmen commented on #6663
@tjfulle There might be a way to do this without needing to reimplement `DistObject::doTransferNew` for CrsMatrix.  We could instead add the following new protected virtual methods to DistObject, with default implementations that do nothing:

  - `copyAndPermuteCount`
  - `unpackAndCombineCount`

Then, we would change the generic implementation of `DistObject::doTransferNew` to use these methods,

[2020-01-31 20:30] bartlettroscoe commented on #6217
FYI: I removed:

[code]

because those packages are not even in Trilinos anymore.

[2020-01-31 20:33] bartlettroscoe commented on #6217
Seems that SPARC's and EMPIRE's Trilinos configurations recently set all of these options and disabled all of this deprecated code.  Therefore, we might as well do so for the ATDM Trilinos builds too.  But note that none of the Trilinos PR builds disable any of this code yet (see #6347).  Therefore, we should expect updates that pass the PR builds to break the ATDM Trilinos builds and break the us

[2020-01-31 20:40] kddevin commented on #5435
Tpetra_INST_INT_INT=OFF is the default since #6388
Now we need a Tpetra_INST_INT_INT=ON build now:  #6570
I will close this issue.

[2020-01-31 20:40] #5435 closed

[2020-01-31 21:10] bartlettroscoe commented on #6691
@rppawlo, are you still having trouble building on 'vortex'?  If so, we should compare our envs from login and command run step by step and see where the problem lies.

[2020-01-31 22:14] pyt-viper commented on #6607
@mhoemmen For the last item of this enhancement, I added `-doxygen` to the command line options when I call SWIG.  It appears that the current version of SWIG (4.0.1) can't process `enum`s that are formatted as

    enum myEnum {
        enum1    ///< Doxygen comment for enum1
        ,enum2   ///< Doxygen comment for enum2
        ,enum3   ///< Doxygen comment for enum3
    }

SWIG reports an err

[2020-01-31 22:16] jjellio commented on #6691
Ross,

I wrote a wrapper that may work.  I didn't handle the long version of the '-M' argument, but adding that would be easy.

Supposing we polish the script up, I guess whomever maintains the ENV's for ATS2 could let it live there.  Another option would be to talk with the testbed teams to have it added as a module.  Letting it live in the Trilinos code base is a better option imo, as it would e

[2020-01-31 22:25] bartlettroscoe commented on #6691
@jjellio, I say to give us control to work out issues, for now, we should put this in the directory:

* `Trilinos/cmake/std/atdm/ats2/trilinos_jsrun`

and then we should update:

* `Trilins/cmake/std/atdm/ats2/enviornment.sh`

to use this script.

I think you want to add:

[code]

right above this line that sets `ATDM_CONFIG_MPI_POST_FLAGS`:

* https://github.com/trilinos/Trilinos/blob/develop/cma

[2020-01-31 22:31] jjellio commented on #6691
Yes.

MPIEXEC will be this script
the '-np' flag should be '-p'

There is another issue.

Supposing you want to test both cuda-aware and regular MPI.  This entails:
1.  setting TPETRA_ASSUME_CUDA_AWARE_MPI
2. if TPETRA_ASSUME_CUDA_AWARE_MPI=1, then we also want `-M -gpu` appended to jsrun.

One way to do this would be to modify the wrapper, and if it detects `TPETRA_ASSUME_CUDA_AWARE_MPI=1, then i

[2020-01-31 22:42] bartlettroscoe commented on #6691
@jjellio, okay, we can add a hook for that (which is just adding another `ATDM_CONFIG_` env var set on `ats2/environment.sh` that we pick up in `ATDMDevEnvSettings.cmake`).

[2020-01-31 23:02] bartlettroscoe commented on #3276
@trilinos/framework, all PR testing is down waiting for the cuda_9.2 build?   In https://github.com/trilinos/Trilinos/pull/6709#issuecomment-580945889 just saw:

----

Status Flag 'Pull Request AutoTester' - Failure: Timed out waiting for job Trilinos_pullrequest_cuda_9.2 to start: Total Wait = 603
- Other jobs have been previously started - We must stop them...
- Terminating Build #5588 of Jenkin

[2020-01-31 23:17] ccober6 opened #6711 "Tempus: Prototype Stepper Interface Manager"
## Enhancement
@trilinos/tempus

Try out design ideas around how to replace the StepperObserver.  After talking with application teams various ideas were proposed.  Will to implement some of them and see how it meets desired requirements.

[2020-01-31 23:22] ndellingwood commented on #3276
Seeing the same problems with PR #6671

[2020-02-01 04:16] srajama1 commented on #6675
@jhux2 : Can you get these new matrices please ?

[2020-02-01 18:11] mperego commented on #6246
@CamelliaDPG can you please look into the failing hierarchical tests?

[2020-02-01 18:53] mhoemmen commented on #6607
@pyt-viper I have no problem with this -- thanks!

[2020-02-02 16:23] rppawlo commented on #6691
@bartlettroscoe - it is working fine now. Thanks!

[2020-02-02 22:49] nate945 commented on #6648
Thanks for the example. I did some data gathering on that case Mark sent using the currently installed Sierra version of Trilinos (Trilinos from ~June 2019).  The static profile seems to have the same high memory behavior in our currently installed Trilinos version.   Thus, with the installed version can evaluate the effect of the profile options in that one routine in isolation.
Gathered Data (St

[2020-02-03 13:32] lucbv commented on #6698
This seem to be resolved now so I'm closing the issue

[2020-02-03 13:32] #6698 closed

[2020-02-03 13:42] kliegeois commented on #6698
Sorry for those signed-unsigned comparisons @lucbv !
And sorry for not seeing that issue earlier.

[2020-02-03 14:02] jjellio commented on #6691
@e10harvey I just read through the whole issue (I had skipped to the point where Ross mentioned me).

The short is that `-disable_gpu_hooks` is something that needs to be applied to single process runs (by default spectrum loads a shared library that hooks all kinds of things, but those hooks depend on MPI_Init being called to initialize things).

The goal of this effort, which probably should be

[2020-02-03 15:48] e10harvey commented on #6691
Certainly. @jjellio: I will try this out using what everyone has shared in this issue and follow-up once that's done. At first I was thinking that this spectrum MPI version should be updated s.t. these tests pass (and maybe it still needs to be for other reasons) but bottom line is that we need to test both the cuda-aware MPI and non-cuda-aware MPI paths.

[2020-02-03 15:50] jjellio commented on #6691
I am adding the logic so the wrapper will detect the `TPETRA` variable and set `-gpu` now.

You can still use the wrapper above, it only handles the single process `gpu_hooks` business right now.

[2020-02-03 15:56] e10harvey commented on #6691
@jjellio: Would you please open a PR with the updated wrapper and flag me in it? If you just put the wrapper in `Trilinos/cmake/std/atdm/ats2/trilinos_jsrun` I'll try to take care of the rest.

[2020-02-03 16:41] bartlettroscoe commented on #6691
@e10harvey, I have ideas about how we can set up some Jenkins jobs that use the same build to run the test suite both ways.  Once we can manually test that this works, then we can get automated builds in place that run these tests cases efficiently and post to CDash.

[2020-02-03 16:59] vbrunini commented on #5885
Has anyone looked at this? We've fixed our usage of dynamic profile and are now running into this again as a blocker for doing an integration.

[2020-02-03 17:00] CamelliaDPG commented on #6246
@mperego, yes, I'll take a look.

[2020-02-03 17:42] mhoemmen commented on #6648
@nate945 wrote:

FYI here is a likely explanation for the memory increase: https://github.com/trilinos/Trilinos/issues/6663#issuecomment-580864613

[2020-02-03 17:50] mhoemmen commented on #6648
@nate945 wrote:

That was Tpetra's default behavior before, and had always been.  That was also Epetra's default behavior (Epetra also has this DynamicProfile / StaticProfile option).

[2020-02-03 17:54] CamelliaDPG commented on #6246
@mperego, the Hierarchical Basis tests look like they only failed once recently on white, and not on any other testbeds, and when they did (2020-01-25 07:59:09), *every* Intrepid2 test failed with errors like the following:
[code]
This suggests a problem with the execution environment, likely a transient problem, not an issue with the tests.

On the other hand, the `JacobiLegendrePolynomial_Tests`

[2020-02-03 18:00] bartlettroscoe commented on #3276
@trilinos/framework,

FYI: The PR testing iteration https://github.com/trilinos/Trilinos/pull/6719#issuecomment-581523746 which only changed a README.md file under cmake/std/atdm (which are not supposed to trigger any testing in the PR builds as per our agreement) failed the build:

*  Console Output (last 100 lines) : Trilinos_pullrequest_python_2 # 1524 (click to expand)

which showed the failur

[2020-02-03 18:04] bartlettroscoe opened #6723 "Trilinos PR testing should not run any tests for "Python" builds for cmake/std/atdm/ changes"
@trilinos/framework

As per our prior agreement and the logic in:

* https://github.com/trilinos/Trilinos/blob/develop/commonTools/framework/ProjectCiFileChangeLogic.py

changes to files under Trilinos/cmake/std/atdm/ and other such special locations should not trigger any testing in Trilinos PR builds.

However, it would appear the the "Python" PR builds violate this described in https://github.c

[2020-02-03 18:16] bartlettroscoe commented on #6009
NOTE: We are also seeing these tests timing out in the new build:

* `Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg`

on 'vortex' showing:

Subproject | Name | Status | Time | Proc Time | Details | Labels | Summary | Processors
-- | -- | -- | -- | -- | -- | -- | -- | --
Tempus | Tempus_BackwardEuler_MPI_1 | Failed | 10m 630ms | 10m 630ms | Completed (Timeout) | Tempus | Unstable

[2020-02-03 18:29] bartlettroscoe commented on #6124
NOTE: As shown in [this query](https://testing-dev.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=5208902&filtercount=1&showfilters=1&field1=testname&compare1=65&value1=ROL), the tests:

* ROL_example_PDE-OPT_helmholtz_example_02_MPI_1
* ROL_example_PDE-OPT_navier-stokes_example_01_MPI_4

are also timing out in the build:

* Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg

on 'vo

[2020-02-03 18:37] bartlettroscoe commented on #6553
NOTE: As shown [here](ROL_example_tempus_example_parabolic_modeleval_forward-adjoint_MPI_1), we also see the test:

* `ROL_example_tempus_example_parabolic_modeleval_forward-adjoint_MPI_1`

segfaulting in the build:

* `Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg`

on 'vortex' showing:

[code]

[2020-02-03 18:45] dridzal commented on #6124
@bartlettroscoe , yes you can go ahead and disable them.  A word of warning:  These tests have very little to do with ROL @trilinos/rol  performance.  They reflect on the performance of our new linear algebra / solver stack, including Tpetra @trilinos/tpetra , Amesos2 @trilinos/amesos2 , etc.  So if these tests ever passed on these platforms, but are now timing out, that would imply slowdowns in T

[2020-02-03 18:51] nate945 commented on #6663
Thanks, I definitely don't understand the details here, but in general a count then fill approach sounds like a great path.  For SD use of these matrix formations memory is at an absolute premium while the runtime of the import operation is negligible compared to the overal analysis runtime.

[2020-02-03 19:32] jjellio commented on #5357
This is really bad. This build reference use to be the top google hit for trilinos + build.  Now, it no longer shows up because the file is gone.

`
https://docs.trilinos.org/files/TrilinosBuildReference.html
`

[2020-02-03 19:33] jjellio commented on #5357
Mention #6601

[2020-02-03 19:34] jjellio commented on #6601
You don't think this is a serious defect... it **is** a serious defect! We can skip the thinking part!

I use that reference all the time to dig up obscure variables and options.

[2020-02-03 19:49] bartlettroscoe commented on #6124
@dridzal, note that I have just disabled these timing out tests in debug builds so performance is not an issue in debug builds.

[2020-02-03 20:01] bartlettroscoe commented on #6166
NOTE: As shown in [this query](https://testing-dev.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2020-02-03&filtercount=6&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=site&compare2=61&value2=vortex&field3=groupname&compare3=61&value3=Experimental&field4=testname&compare4=61&value4=TeuchosNumerics_LAPACK_test_MPI_1&field5=status&compare5=62&value

[2020-02-03 20:43] mhoemmen opened #6727 "Tpetra::Details::Behavior::debug("CrsGraph") ignores default"
## Bug Report
@trilinos/tpetra

### Description

`Tpetra::Details::Behavior::debug("CrsGraph")` always defaults to `false`, even if `TPETRA_DEBUG` is 1 or `Tpetra::Details::Behavior::debug()` is true.

### Steps to Reproduce

Run in a debug build.  I'll write a test.

[2020-02-03 20:46] ikalash opened #6728 "STK install error"
It looks like we have a STK install error in some of the Albany nightlies:
[code]
This happens on my Fedora 31 workstation, not other platforms.  The machine was down since 1/28/2020 and was just brought back up today, so it may have started anytime b/w then and now.

[2020-02-03 21:00] alanw0 commented on #6728
stk was updated about 11am this morning. I'll look into this error.

[2020-02-03 21:02] ikalash commented on #6728
That could actually be why it showed up only on my machine - when I brought it back up just now, I cloned from scratch, whereas the nightlies would have cloned from scratch early in the morning (around 12-1AM); so if something got pushed at 11, it wouldn't have shown up in the nightlies yet.  Thanks for looking at it!

[2020-02-03 21:14] alanw0 commented on #6728
yes. it looks like we had a CMakeLists.txt file that had a fix in sierra that was missed in this morning's snapshot into trilinos. I have a pull-request in now (#6729) that will fix this.

[2020-02-03 21:18] ikalash commented on #6728
Great, thanks for doing that so fast!  I'll check tomorrow morning that things are fixed (provided the PR makes it in by the time the nightlies run).

[2020-02-03 21:20] mhoemmen commented on #6727
@tjfulle I'm looking at `tpetra/core/test/Behavior/Behavior_Named.cpp`.  That expresses the intent that if you set `TPETRA_DEBUG=Foo`, debug for anything else is false.  I think I get the reason: you want fine-grained control for opting into the expensive thing.  Thus, I'll call this "not an issue," and just fix the CrsGraph BadGIDs test to use `debug("CrsGraph")` to decide whether to run.

[2020-02-03 21:24] tjfulle commented on #6727
@mhoemmen , yep that was the original reason for wanting "Named" debug behavior.

There is also a way to programmatically turn on/off debug:

[code]

[2020-02-03 21:41] mhoemmen commented on #6727
@tjfulle convinced me that this is not a bug.  I will change the CrsGraph unit test (BadGIDs) to use `Behavior::debug("CrsGraph")` to decide whether to run, rather than using `HAVE_TPETRA_DEBUG`.

[2020-02-03 21:41] #6727 closed

[2020-02-03 21:52] tjfulle commented on #6727
@mhoemmen if you do TPETRA_DEBUG=ON then all debug statements should run.  If TPETRA_DEBUG=name1,name2,...,namen then only the names should run.  The separator might be ; and not ,

[2020-02-03 22:47] sconde commented on #6009
I will look at these tests further

[2020-02-03 22:47] sconde opened #6731 "Tempus: tests timing out"
NOTE: We are also seeing these tests timing out in the new build:

* `Trilinos-atdm-ats2-gnu-7.3.1-spmpi-2019.06.24_serial_static_dbg`

on 'vortex' showing:

Subproject | Name | Status | Time | Proc Time | Details | Labels | Summary | Processors
-- | -- | -- | -- | -- | -- | -- | -- | --
Tempus | Tempus_BackwardEuler_MPI_1 | Failed | 10m 630ms | 10m 630ms | Completed (Timeout) | Tempus | Unstable

[2020-02-03 23:03] bartlettroscoe commented on #6217
Just waiting for PR #6730 to be merged and then watch the ATDM Trilinos builds ...

[2020-02-04 00:24] stelin314 opened #6733 "Belos: Question about setting custom convergence tolerances"
I currently have a problem with the following form

r = b - Ax

I've set up the problem to use the CG solver within Belos (currently not preconditioned, will change later). Right now, (I believe) it judges convergence by using the l2 norm of the residual 'r' if I don't use any Implicit/Explicit residual scaling.

I was wondering if there is a way make some kind of custom convergence calculation wh

[2020-02-04 00:51] mayrmt commented on #6733
@trilinos/belos

[2020-02-04 02:29] prwolfe commented on #3276
The python tests are inexpensive enough that they are running at all times.  They test only the PR scripts so if they don’t work we have bigger problems.  A good canary if you will.

From: "Roscoe A. Bartlett" <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>
Date: Monday, February 3, 2020 at 11:01 AM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: "Wolfenbarg

[2020-02-04 02:38] bartlettroscoe commented on #3276
@prwolfe, the problem is that they add an unnecessary level of fragility to the PR testing system running when they don't need to run.  Can we please make these run only when the TrilinosFrameworkTests package should be tested (including when global files are changed)?

[2020-02-04 02:42] jhux2 opened #6734 "Non-CUDA Clang builds fail in Kokkos"
I just did fresh pull of Trilinos develop, SHA 44f13cb14.  An ATDM build on the CEE lan that previously worked just fine is now failing with this error:

[code]

This is not a CUDA build.

Modules:
[code]

Configure:

[code]

@trilinos/kokkos @bartlettroscoe

[2020-02-04 02:49] jhux2 opened #6735 "Zoltan2: reversal of Cuthill McKee ordering is incorrect"
The reversal of the Cuthill McKee ordering in `Zoltan2_AlgRCM.hpp` is incorrect.  This can result in orderings that make the matrix bandwidth worse than the original bandwidth.

[2020-02-04 02:49] jhux2 commented on #6735
@trilinos/zoltan2

[2020-02-04 03:10] bartlettroscoe commented on #6734
@jhux2, is this 'sems-rhel6' or 'sems-rhel7'?  What was the exact build name?  On what machine on the CEE LAN?

In any case, all of the 'sems-rhel6' and 'sems-rhel7' builds (including CUDA builds) on Trilinos 'develop' (actually 'atdm-nightly' which merges in 'develop' every day) this morning was just fine as shown at:

* https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&date=2020-02

[2020-02-04 03:18] rppawlo commented on #6734
I think the kokkos promotion was pushed into trilnos an hour ago.

[2020-02-04 03:23] bartlettroscoe commented on #6734
Let's see what the ATDM Trilinos builds look like tomorrow.

[2020-02-04 03:42] jhux2 commented on #6734
@bartlettroscoe This is RHEL7, cee-build014.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-04 04:24] ndellingwood commented on #6734
These are the kokkos PR's that touched the file that ninja is dying on:

https://github.com/kokkos/kokkos/pull/2477
https://github.com/kokkos/kokkos/pull/2626

though it isn't clear how the error message is at all connected to those changes.

@jhux2 is CUDA enabled by the `-DTrilinos_CONFIGURE_OPTIONS_FILE:STRING=cmake/std/atdm/ATDMDevEnv.cmake` line, and can you dump the configure output to file?

[2020-02-04 04:45] ndellingwood commented on #6734
@jhux2 what argument are you passing to `cmake/std/atdm/ATDMDevEnvSettings.cmake`?

[2020-02-04 05:58] ndellingwood commented on #6734
I reproduced this on kokkos-dev-2 and cee-compute008 (both recognized as sems-rhel7 systems), and the error occurs when building the first kokkos file (not specific to the CPUDiscovery file above, as it shouldn't)

I had to make a change to the `Trilinos/cmake/std/atdm/sems-rhel7/environment.sh` script to get this to configure, I added

`export ATDM_CONFIG_Kokkos_ENABLE_Serial=ON` to line 132, oth

[2020-02-04 06:28] ndellingwood commented on #6734
@jjwilke Looking at the CMakeCache of a develop vs master branch of Trilinos configuration, I'm seeing this in the develop branch (kokkos 3.0 release):

`KOKKOS_CUDA_OPTIONS:INTERNAL=-x;cuda`

This gets set at line 160 of `kokkos/cmake/kokkos_arch.cmake` because this check passes with the clang compiler:
`IF (KOKKOS_CXX_COMPILER_ID STREQUAL Clang)`

Changing this to
`IF (KOKKOS_CXX_COMPILER_ID STR

[2020-02-04 06:36] ndellingwood commented on #6734
PR #6738 issued with fix for the compilation errors. Not sure about the configuration error I ran into, possible user error but requires more feedback.

[2020-02-04 06:37] ndellingwood commented on #6734
@jhux2 did you need to make any modifications to the ATDM scripts to successfully configure the build where you found this error?

[2020-02-04 07:20] mayrmt commented on #6733
@stelin314 Here's an excerpt from the Belos design paper:

Here's the full reference with more information on that topic:
[code]

[2020-02-04 13:16] spdomin opened #6740 "Question: Was Boost removed from STK"
## Bug Report
@trilinos/stk

### Description
Undefined symbols for architecture x86_64:
  "boost::program_options::validators::check_first_occurrence(boost::any const&)", referenced from:

### Version
02/04/2020
PROCESS FAILED
NaluCFD/Nalu SHA1: df8e218c10a53497faff770b20f171c200e0739c
Trilinos/develop SHA1: 95ca69d7b65d7ea8bc8deac32934be55d674393b

[2020-02-04 13:18] bartlettroscoe commented on #6303
CC: @ndellingwood, @jhux2

@trilinos/framework, the lack of a clang PR build allowed #6671 to get merged that broke every clang build of Trilinos as reported in #6734.  SEMS RHEL7 has a clang 7.0.1 env now.  Can we please add a clang 7.0.1 build?

[2020-02-04 14:02] bartlettroscoe commented on #6734
@ndellingwood, to be clear, is there a problem with the way that the ATDM Trilinos configuration is setting Kokkos configuration options?  Regarding the logic mentioned [above](https://github.com/trilinos/Trilinos/issues/6734#issuecomment-581762623):

[code]

was this assuming that if you were using Clang you automatically wanted to use CUDA?

[2020-02-04 14:09] bartlettroscoe commented on #3276
@trilinos/framework, @trilinos/shylu, @srajama1 (Linear Solvers Product Lead),

Looks like the test `ShyLU_NodeTacho_Tacho_TestOpenMPDoubleComplexTaskSchedulerMultiple_MPI_1` is randomly failing in PR builds.  It took down the PR iteration https://github.com/trilinos/Trilinos/pull/6738#issuecomment-581799629 with CDash results shown [here](https://testing.sandia.gov/cdash/testDetails.php?test=1009

[2020-02-04 14:42] bartlettroscoe opened #6741 "ShyLU_DD: 48 tests missing?"
## Question
@trilinos/shylu

The last PR iteration shown [here](https://testing-dev.sandia.gov/cdash/index.php?project=Trilinos&parentid=5212151) showed that 48 ShyLU_DD tests have gone missing as listed [here](https://testing-dev.sandia.gov/cdash/viewTest.php?onlypassed&buildid=5212188).

Was this on purpose or was this due to the refactoring of the Kokkos build system they merged in?

[2020-02-04 14:44] bartlettroscoe commented on #6741
BTW, I got tipped of to this by the below email that I just got (and the @trilinos/framework team got it too).

----

From: admin@cdash.org <admin@cdash.org>
Sent: Tuesday, February 4, 2020 8:19 AM
To: Bartlett, Roscoe A <rabartl@sandia.gov>
Subject: [EXTERNAL] FAILED (t=0, m=48): Trilinos - Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_OPENMP_CI - Continuous

A submission to CDash for the project T

[2020-02-04 14:54] jwillenbring commented on #6601
I think I know what is going on here. I am at a meeting all week and need to prep for 3 talks, but I will look into this ASAP.

[2020-02-04 14:58] cgcgcg commented on #6741
@searhein

[2020-02-04 14:59] ndellingwood commented on #6734
@bartlettroscoe :

@jjwilke can you help address this? I'm assuming there was some change that breaks an assumption in the ATDM scripts, as I needed to modify the scripts to get them working

I don't think this was intended to be assumed, but I made the change there because I traced the compilation issues back to options that were set here. @jjwilke proposed an alternative fix here https://github.

[2020-02-04 15:05] ndellingwood commented on #3276
Adding @kyungjoo-kim

[2020-02-04 15:07] ndellingwood commented on #6303
@bartlettroscoe I'll also add this to testing during kokkos integration tests.

[2020-02-04 15:40] GeoffDanielson commented on #6333
Closed, tested fix on ascicgpu15, PR: https://github.com/trilinos/Trilinos/pull/6708

Please feel free to re-open if the issue persists.

[2020-02-04 15:40] #6333 closed

[2020-02-04 15:42] ikalash opened #6742 "Trikota compilation error"
The Albany nightlies that use TriKota have the following compilation error when building Trilinos:

[code]
Could you please look into this?

@trilinos/trikota

[2020-02-04 15:52] ikalash opened #6743 "Non-CUDA Trilinos build seems to be looking for CUDA"
It appears the non-CUDA Trilinos builds seem to be looking for CUDA due to changes pushed to the ```develop``` branch yesterday.  Below is the error which occurs when building Trilinos as part of the Albany nightlies:
[code]
http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=92869
Perhaps a new configuration option is required now?

@trilinos/kokkos

[2020-02-04 15:53] ibaned commented on #6743
This is a duplicate of #6734

[2020-02-04 15:53] #6743 closed

[2020-02-04 16:00] ikalash commented on #6734
This happens in our Albany nightlies as well.  Some additional info:

- On a GPU platform like Ride and Waterman, we get a configuration error:
[code]
http://cdash.sandia.gov/CDash-2-3-0/viewConfigure.php?buildid=92861
- When we build Albany using a compiler not affected by this issue on top of a successfully built Trilinos, Albany thinks the Trilinos has CUDA when it does now.  This is triggered

[2020-02-04 16:02] ndellingwood commented on #6734
@ikalash a PR #6738 just merged with additional followup #6744 sorry for the inconvenience

[2020-02-04 16:07] spdomin commented on #6740
@alanw0, do you have any comments here? I was just looking into removing program options and looked into a simple option such as getopt_long.

When STK removes boost, what is the plan for boost_options?

In the meantime, I will proceed with a bisect.

[2020-02-04 16:09] alanw0 commented on #6740
Stefan, a stk update was pushed yesterday. Initially there was a cmake error but a follow-up push fixed that around 6:45pm yesterday. I don't think this is related to what you are seeing. Additionally, it looks like boostlib was removed from the stk_search dependencies. Do you depend on boostlib directly? Can you include more linker output regarding this error?

[2020-02-04 16:10] alanw0 commented on #6740
Regarding boost program_options, stk no longer needs that. Most sierra executables are now doing command-line parsing using stk classes which I can point you to if you are interested.

[2020-02-04 16:12] alanw0 commented on #6740
Regarding the stk_search dependency on boostlib, I will put that back until we figure out which apps were indirectly depending on that, and how they can express the dependency directly.

[2020-02-04 16:56] alessiocacciatori opened #6745 "Kokkos: Compilation with MSVC(Visual Studio 19) + ICC"
## Question
@trilinos/\<Kokkos\>

Hi team,
  I am trying to compile entire Trilinos suite under MSVC(+ICC). Right now I managed to compile Kokkos + OpenMP but this came with quite a substantial effort and coding that raised many questions.

Basically we've found some issue that I would like to discuss before (possibly) submitting the emended code.

1) _Kokkos_HostBarrier.cpp_ Line 103. The functio

[2020-02-04 17:10] spdomin commented on #6740
Please do point me to the STK program options example... I would probably like to avoid writing my own, even though I have a getopt_long that seems to work well.

I am not sure what is going on with my builds. A bisect is failing due to that make error.

[2020-02-04 17:18] mhoemmen commented on #6742
This might be because of removal of deprecated code in @trilinos/teuchos.  I didn't do it ;-P

[2020-02-04 17:18] hkthorn commented on #6733
@stelin314 Customization of status tests that define the stopping criterion of iterative solvers has been primarily targeting the GMRES solvers.  The CG solvers do not have the same set of options or flexibility.  The scaling that you propose would be possible if those extensions were made.

Are you using a released version of Trilinos, or the develop/master branch of Trilinos?

[2020-02-04 17:20] alanw0 commented on #6740
@spdomin I don't think you need a bisect, I'm pretty confident this is due to the stk update that happened yesterday.
The same link error is happening in nalu-wind. (Along with some kokkos errors, but I think those are un-related.)
Here's my short-term plan:
1. put the boostlib dependency back on stk_search. I'll do that today.
2. refactor nalu-wind's command-line-parsing code to stop using boost

[2020-02-04 17:29] stelin314 commented on #6733
Thank you for the responses!

I believe I am using the develop/master branch of Trilinos. The status test sounds quite useful, but there may be other things I can do on my end to get around this issue. I just wanted to check if this diagonal  scaling of the residual was possible (for CG), and it seems like it may be in the future.

[2020-02-04 17:29] spdomin commented on #6740
sounds like a plan. I looked at the Sierra codes and simply saw a number of Env classes. In the meantime, if you could point me to a STK example, I can refactor now.

[2020-02-04 17:32] spdomin commented on #6740
For the record, usage of getopt_long looks a bit flaky...

[code]

[2020-02-04 17:33] ndellingwood commented on #6745
@trilinos/kokkos

Also adding @ibaned and @crtrott as I think they have worked on Windows support in Kokkos somewhat recently.

[2020-02-04 17:35] mhoemmen commented on #6745
https://github.com/kokkos/kokkos/issues/1533

[2020-02-04 17:39] alanw0 commented on #6740
ok here are a couple of examples you can look at:
aero/reorder_mesh/ReorderMeshMain.C roughly lines 70 - 100
stk/stk_unit_tests/stk_util/command_line/UnitTestCommandLineParser.cpp
stk/stk_unit_tests/stk_util/environment/UnitTestParseCommandLineArgs.cpp

[2020-02-04 17:56] #6733 closed

[2020-02-04 18:20] ikalash commented on #6742
@briadam : could you please look into this?

[2020-02-04 18:24] jhux2 commented on #6734
@ndellingwood I can confirm that clang builds on the CEE lan are working again.  Thank you and @jjwilke for the quick fixes!

[2020-02-04 18:24] #6734 closed

[2020-02-04 18:33] spdomin commented on #6740
@alanw0, how do I possibly disable kokkos help? In some cases, this info is not germane to a simulation.

[2020-02-04 19:12] spdomin commented on #6740
https://github.com/NaluCFD/Nalu/commit/360696f80f9ca565485ad702a71eecf98a22385f

Closing.. Alan, your choice in patching STK.... Does that mean that we are now free of boost?