[2017-10-17 20:13] #1853 closed

[2017-10-17 20:53] ndellingwood commented on #1584
@rrdrake @prwolfe @mhoemmen commit 8c43a0a9041635c462b4351081d57c12e2efa723 from PRs #1846 and #1849 is now in Trilinos develop branch (tested and pushed by checkin script); it includes the support needed as discussed in this issue and in PR comments (e.g. disabling complex testing for Umfpack version < 4.5).

[2017-10-18 08:50] davydden opened #1861 "Sacado compiler warnings in 12.12.1"
would be good to fix a minor compiler warning.
[code]
I am not fixing it myself as I am not sure if you want to use `struct` or `class`.

[2017-10-18 13:32] lucbv commented on #1861
@trilinos/sacado

[2017-10-18 13:36] etphipp commented on #1861
Thanks for reporting.  I'll fix Sacado_Fad_ExpressionFwd.hpp to be consistent with Sacado_Fad_Expression.hpp.

[2017-10-18 13:51] bartlettroscoe commented on #1761
Not sure until we get into the guts of the refactoring.

Another approach would be to do a survey of Trilinos Developers and User and see what the more recent version of CMake that people have access to and then use that to see how high we can go.   Then we can list out the new CMake features that are at our disposal in that CMake version and see how we could use them to gut and simplify the inter

[2017-10-18 14:02] ibaned opened #1863 "Teuchos: YAML writer doesn't quote bool-parseable strings"
This was brought to my attention by @rppawlo , and is a bug.
The fix is rather trivial, pull request coming soon.

[2017-10-18 14:51] seamill opened #1865 "Panzer: Modifications to panzer::Traits"
After a conversation with @rppawlo, we have decided to update the panzer::Traits interface.

There are three changes that will affect downstream code:

1. Make EvalData constant:

Currently we have:
[code]

New version:
[code]

2. Make SetupData a const reference with const worksets:

Currently we have:
[code]

New version:
[code]

3. PreEvalData becomes a reference, and gedc becomes an RCP

Curre

[2017-10-18 14:53] seamill commented on #1865
Interested parties @rppawlo @eric-c-cyr @jmgate @bathmatt

[2017-10-18 16:27] jmgate commented on #1865
Minor suggestion:  C++11 makes it such that you don't need spaces between closing angle brackets in nested templates, for instance
[code]

[2017-10-18 19:50] ibaned commented on #1863
This should be fixed by the merge of #1864

[2017-10-18 19:50] #1863 closed

[2017-10-18 20:02] rppawlo commented on #1863
Confirmed that this fixes Drekar issues. Thanks!

[2017-10-18 23:13] mhoemmen commented on #1860
I may be closer to figuring this out, or at least to figuring out _something_ that's wrong.  For CrsMatrix, I found a case where the `exports_` array has sync states (0,0) on entry to `packAndPrepareNew`, but sync states (1,1) on exit from `packAndPrepareNew`.  This means that data on host and device have both been modified without intervening syncs.

[2017-10-18 23:32] mhoemmen commented on #1860
I think I get it.

For the non-static case, `packAndPrepareNew` packs on host; when `commOnHost` is `true`, then `exports_` somehow isn't getting copied back up to device (but the packet counts are; this explains why we've been setting "`numBytes is nonzero but the number of entries to unpack in the row is zero" errors).

For the static case, the opposite happens: `packAndPrepareNew` packs on devi

[2017-10-18 23:37] tjfulle commented on #1860
@mhoemmen, I'm confused how the new thread parallel pack/unpack was tested.  I wrote the tests to intentionally fail and they only passed when the thread parallel pack/unpack were done.  Sacado and ROL both also used the new pack/unpack and exposed a few issues that had to be resolved.  Unless you mean that a code path through  `packAndPrepareNew` wasn't tested?

[2017-10-18 23:39] tjfulle commented on #1860
Errr, my last comment meant to say I'm confused how the pack/unpack *wasn't* tested

[2017-10-19 04:38] mhoemmen commented on #1860
@tjfulle I'm puzzled too, but that Albany182 test is helping me figure things out.  Don't worry :-) .

[2017-10-19 04:46] mhoemmen commented on #1860
@tjfulle To be more precise: `packAndPrepareNew` -> `packNew` picks whether to use the thread-parallel implementation of packing, based on whether the graph is static (constant).  That doesn't mean the same thing as "the matrix is fill complete"; it means "the matrix was created with a constant `CrsGraph`."  The latter doesn't get exercised so often in this tests.  It's also excessively restrictiv

[2017-10-19 15:40] william76 opened #1871 "FEI_slave_20quad_old_MPI_4 is failing on nightly CDash"
The test FEI_slave_20quad_old_MPI_4 failed on last night's Clean track.

CDash: https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-10-19##Clean

Output: https://testing.sandia.gov/cdash/testDetails.php?test=42117880&build=3170816

Here's the last bit of the console output where the error seems to be getting reported:
[code]

I'm unfamiliar with the code in the fei package (and t

[2017-10-19 15:43] ibaned commented on #1871
hmm not sure why I was mentioned. I barely know what FEI is.

[2017-10-19 15:44] william76 opened #1872 "There isn't an '@trilinos/<packagename>' tag for all packages"
@trilinos/framework

Since I'm keeping an eye on the nightlies, etc. when the clean track goes red I'll probably put in a ticket if there doesn't appear to be one about that already.  I've noticed that there isn't an @trilinos/<package> tag for all the packages set up.  (i.e., today there is a test failing in FEI and there is no @trilinos/fei tag)

It'd be nice if we had one for every package.  If

[2017-10-19 16:41] jhux2 opened #1873 "Amesos2: compile failure under CUDA"
An Amesos2 compile is failing on apollo:  https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3171167.  Here is the error:

[code]

@trilinos/amesos2

[2017-10-19 16:51] lucbv commented on #1871
@ibaned I think that we submitted most of the commits of yesterday so it is reasonable to assume that we might have broken something inadvertently.
@william76 However most of my commits were done within `MueLu` and one was in `Shylu/Tacho`, neither of these are called or used for that particular test.
The change that I made in `Teuchos` is guarded with `#if defined(WIN32) || defined(_WIN32)` and t

[2017-10-19 16:58] lucbv commented on #1873
@kyungjoo-kim does this come from modifications you made in `Tacho` recently?
I also noticed that g++ is throwing a lot of warning when compiling `Tacho` ...

[2017-10-19 17:02] kyungjoo-kim commented on #1873
No. Tacho should not be enalbed when it uses CUDA.

@MicheldeMessieres Is this because we did not put a code guard for cuda ?

[2017-10-19 17:32] kyungjoo-kim commented on #1873
Could you try to test it again ? I disable tacho wrapper in amesos2 when kokkos cuda is enalbed.

[2017-10-19 17:35] mhoemmen opened #1875 "MueLu: Tutorial disabled by default?"
@trilinos/muelu MueLu's tutorial appears to be getting disabled by default.  I've been running CMake with as few options as possible in order to put together a "how to configure and build Trilinos" tutorial.  I gave MueLu and Tpetra no options, and got this:
[code]
But:
[code]

[2017-10-19 17:40] lucbv commented on #1875
This is what we have in `MueLu`'s CMakeList.txt:
[code]

[2017-10-19 17:43] lucbv commented on #1875
This bit might also be relevant:
[code]

[2017-10-19 17:43] mhoemmen commented on #1875
@lucbv Huh, `Tpetra_INST_INT_SERIAL` isn't a thing.  This should be easy enough to fix.  I would like to fix a Tpetra thing first so please feel free to take this.

[2017-10-19 17:43] mhoemmen commented on #1875
@lucbv Ditto for `Tpetra_INST_INT_OPENMP`; that's not a thing.

[2017-10-19 17:44] mhoemmen commented on #1875
The fix would be to replace `Tpetra_INST_INT_SERIAL` with `Tpetra_INST_SERIAL`, and to replace `Tpetra_INST_INT_OPENMP` with `Tpetra_INST_OPENMP`.

[2017-10-19 17:45] mhoemmen commented on #1871
@alanw0

[2017-10-19 17:46] lucbv commented on #1875
@mhoemmen I will make some tests with it this afternoon if I have the time, I was planning on looking at it tomorrow as I should be more or less free.

[2017-10-19 17:48] william76 commented on #1871
@bmpersc any ideas?

[2017-10-19 17:48] mhoemmen commented on #1875
@lucbv thanks! :-)

[2017-10-19 17:50] jhux2 commented on #1873
@kyungjoo-kim Thanks for the quick fix!  If the dashboard build passes tonight, I'll close this issue.

[2017-10-19 19:04] crtrott commented on #1860
I am still not sure where the assertion that performance is bad with CUDA allocations is coming from. I wrote a small benchmark code and that guy is fine (there are two comm modes, one testing inter node communication (0) and one intranode communication (1):

This is the result:

| Mode | MessageSize | CudaSpace BW | CudaUVMSpace BW | OpenMP BW |
|----|----|----|----|----|
| inter | 1kB | 0.028 |

[2017-10-19 19:06] etphipp commented on #1758
I believe this has been addressed.

[2017-10-19 19:06] #1758 closed

[2017-10-19 19:53] micahahoward commented on #1531
@bartlettroscoe, @maherou, H=how's it going on this?  Our team would greatly appreciate this being fixed.

[2017-10-19 19:55] mhoemmen commented on #1860
@crtrott wrote:

That's what Micah said, but I'm sure he would be happy to see this corrected :-) .

[2017-10-19 20:16] mhoemmen commented on #1531
@bartlettroscoe If you're too busy I can do it, don't worry :-) .  I was occupied by #1860 but may have a fix for that now, so please feel free to delegate to me.

[2017-10-19 21:47] lucbv commented on #1875
I pushed 6f61223 which seems to fix the issue based on @mhoemmen comment on variables name.
I will wait until the dashboard comes clean tomorrow before closing this issue.

[2017-10-19 21:50] bartlettroscoe commented on #1531
@mhoemmen,

Wow, that would be so fantastic.  I am trying to avoid being the bottleneck in too many activities so having some help with this would be great.  I have been pushing trying to get things in place for an upgrade of CMake/CTest/CDash upgrade that will allow us to effectively test Trilinos on the ATDM machines and have it posed and send out CDash emails so that Trilinos developers can be

[2017-10-19 22:22] seamill commented on #1865
This issues looks to be done. Closing...

[2017-10-19 22:22] #1865 closed

[2017-10-20 00:29] mhoemmen commented on #1531
@bartlettroscoe let me at it :-) no worries!  i will reassign to myself.

[2017-10-20 00:30] mhoemmen commented on #1875
Thanks @lucbv ! :D

[2017-10-20 12:09] bartlettroscoe opened #1877 "Do automated testing for all Trilinos packages that are being released"
**CC:** @trilinos/framework, @maherou

**Description:**

It appears that there are packages that are going out with Trilinos releases that are not included in any of the automated builds of Trilinos, including the release branch builds.  For example, MOOCHO appears to have been released with Trilinos 12.12 but it does not appear to be tested in any automated builds of Trilinos as shown by, for exa

[2017-10-20 12:10] bartlettroscoe commented on #1877
@trilinos/framework team,

Is there a reason that MOOCHO and other release packages are not being included in any testing before or after then are being put in releases of Trilinos?  If MOOCHO is not going to be included in any automated testing, then please remove it from future releases of Trilinos.

[2017-10-20 13:24] lucbv commented on #1875
It all looks good this morning!

[2017-10-20 13:24] #1875 closed

[2017-10-20 13:29] lucbv commented on #1873
The [CUDA build on Apollo](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3173226) looks good this morning!

[2017-10-20 13:37] lucbv commented on #1871
@william76 the test is now passing again on [ascic115](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3172375) and the other builds of the Clean track.
This might indicate that yesterdays failure was more related to the machine state than the test itself, I looked at the commits submitted yesterday and it does not look like any was made in FEI.

[2017-10-20 14:03] jmgate commented on #1802
I wound up pushing all the changes to Panzer, along with the associated changes to Drekar that worked.  I was never able to get @ssmabuza's stuff refactored to use the new way and work.  I suspect there is still some mismatch between maps somewhere, but I'm afraid I can't make heads or tails of the code and where things are going wrong.  I submitted an issue to the Drekar GitLab stating that those

[2017-10-20 14:03] #1802 closed

[2017-10-20 14:42] csiefer2 opened #1878 "Trilinos Windows Build did not post last night"
Again

[2017-10-20 14:43] ibaned commented on #1878
Link please? I guess I'm not good a navigating CDash...

[2017-10-20 14:44] ibaned commented on #1878
oooh sorry you said "post" not "pass"

[2017-10-20 14:46] csiefer2 commented on #1878
NP.

@bmpersc asked me to file an issue each time this happens so we can have some record of the frequency of this particular problem.  He's out of the office today, so we'll need to wait 'til Monday.

[2017-10-20 14:48] bathmatt opened #1879 "Panzer tests failing on Cuda"
@eric-c-cyr @jmgate @rppawlo
Panzer has been failing for a bit on cuda the last several days.

20b4ba6ca41189b433b4d9d40a35509f1af14444 is broken
844920d07944da15499679a1156bed8a75fa0f67 works

This dies here
Program received signal CUDA_EXCEPTION_15, Invalid Managed Memory Access.
0x0000000003b875c1 in panzer::IntegrationValues2<double>::evaluateRemainingValues (this=0x19612f10, in_node_coordinat

[2017-10-20 14:54] jmgate commented on #1879
Could this be due to the work on #1853?

[2017-10-20 15:04] bathmatt commented on #1879
That was my first thought since it was a change in that time range.  However, I don't think so because I put a break point at that call and it seg faults prior to that call being called...  However, I'm bisecting

[2017-10-20 15:04] bartlettroscoe commented on #218
We will catch and eliminate all problems like this once we snapshot the TriBITS changes in TriBITSPub/TriBITS#232.  Hopefully we will not find too may cases like this in Trilinos.

[2017-10-20 15:14] bathmatt commented on #1879
This will take many hours since it is over an hour to compile trilinos for gpu...

[2017-10-20 15:22] jmgate commented on #1879
@bathmatt, did you mean to close this?

You think it might be due to 4b0615a as part of #1802?  Based on your output above, I doubt it, but these domain containers have a bit of a tendency to cause me grief.

[2017-10-20 15:39] william76 commented on #1871
@lucbv I'll close the ticket. There wasn't anything that looked obvious digging through the logs and this is the first time that test failed in a long time... I'll keep an eye out on this test to see if something is getting it into an unstable state...

[2017-10-20 15:39] #1871 closed

[2017-10-20 15:45] bathmatt commented on #1879
Why does gitlab and github have the buttons for close and comment swapped from each other???  Ugh but no idea. I'm going to just bisect and figure it out.  I'm 97% done compiling now so I'll have the first point soon

[2017-10-20 15:52] jmgate commented on #1879
Because once upon a time someone using GitHub thought, "Man I really wish these buttons were left-aligned under the text box instead of right-, and since we read from left to right, the one people should click most often should be on the left&hellip;  You know what?  I'm just going to fork GitHub and make my own version where everything is the way I think it should be instead."

[2017-10-20 15:55] bathmatt commented on #1879
I'm 99% sure it's my push now, not sure how but will resolve it...

[2017-10-20 16:05] bathmatt commented on #1879
dir-Trilinos (gcc) 65 $ git bisect good
Bisecting: 0 revisions left to test after this (roughly 0 steps)
[c468d41b6a038df0ad4526c726e5f223b48cefd0] Resolves "Clean up panzer indexer memory" (#1858)

[2017-10-20 16:10] bartlettroscoe opened #1880 "No Trilinos CI build showing up on testing.sandia.gov/cdash/ 10/20/2017"
**CC:** @trilinos/framework

**Description:**

Looks like neither the CI build running on ceerws1113 or  sadl30906  are showing up today on:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-10-20

but they showed up yesterday well before now as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-10-20

The CI build coming from ceerws1113 was s

[2017-10-20 16:11] bartlettroscoe commented on #1880
I have an email out to Kitware contractors about why we may be getting these "checksum" submit failures.

[2017-10-20 16:12] bartlettroscoe commented on #1304
FYI: None of the CI builds are showing up today.  See #1880.

[2017-10-20 16:14] ibaned commented on #1878
This seems to be part of a larger problem today, see #1880

[2017-10-20 17:09] bathmatt commented on #1879
Looks to be a subview issue with left vs right indexing.  I think a short term fix could be to hard code the order

[2017-10-20 17:20] mhoemmen opened #1881 "Some dashboard tests failing due to timeouts from oversubscribing threads"
https://testing.sandia.gov/cdash/testDetails.php?test=42148738&build=3172930
https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3172930

@prwolfe It looks like some of these tests don't need to launch multiple MPI processes.  I'll work around by having them only launch 1 MPI process.

[2017-10-20 17:26] jhux2 commented on #1873
Agreed, closing.  Thanks @kyungjoo-kim.

[2017-10-20 17:26] #1873 closed

[2017-10-20 17:35] jhux2 opened #1882 "Zoltan: compile failure under CUDA"
A Zoltan compile is failing on apollo: https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3172862.  Here is the error:

[code]

@trilinos/zoltan

[2017-10-20 17:52] mhoemmen opened #1883 "Please remove GCC 4.7.2 builds from Dashboard"
@trilinos/framework (Or, disable packages downstream from Kokkos, that require GCC >= 4.8.4.)

Thanks!

[2017-10-20 18:12] bartlettroscoe commented on #1880
FYI:

Zack G. from Kitware found the problem:

I am pretty sure this means that no CDash results would have been posted to that site anymore.

I just restarted the CI server on ceerws1113 and it is already submitting again as shown by:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=66&value1=-MPI_RELEASE_DEBUG_

[2017-10-20 21:04] bathmatt commented on #1879
OK, I confirmed that it is a layout order
I;ll make everything layout left for those types.  I'll also ask the kokkos team for any ideas

[2017-10-20 21:20] srajama1 commented on #1782
Checking to see the results of this conversation with @dmvigi

[2017-10-20 21:21] srajama1 commented on #1416
Checking to see the status of this issue.

[2017-10-20 21:22] srajama1 commented on #1255
Checking to see the results of this conversation with @dmvigi

[2017-10-20 23:19] #101 closed

[2017-10-22 16:58] rrdrake opened #1887 "myRank shadow warning in Tpetra_CrsMatrix_def.hpp"
There seems to be a new Trilinos warning coming from a Tpetra header file:
[code]

[2017-10-22 18:38] mhoemmen commented on #1860
This got auto-closed; I'm still working on verifying the fix in Albany.

[2017-10-22 18:44] mhoemmen commented on #1887
@rrdrake I'll fix it :-) .  Looks legit; I already have `myRank` printed out in `*prefix`, so I should just use that.

btw this code is part of our larger effort to improve run-time control of Tpetra.  It's a lot easier to tell users to set an environment variable (`TPETRA_VERBOSE`, in this case), than it is to ask them to rebuild or to run in a debugger.  The general experience of MPI + CUDA + th

[2017-10-22 19:03] mhoemmen commented on #101
@nmhamster I think this got auto-closed; would you consider this fixed?  If so, I'll leave it.

[2017-10-22 20:20] mhoemmen commented on #1887
I'm running the remote check-in test script now with the fix.

[2017-10-22 21:58] mhoemmen commented on #1887
I just pushed a fix to develop: https://github.com/trilinos/Trilinos/commit/e901fb31262beba91ef113913801505530e2017a

Thanks for reporting!

[2017-10-22 21:58] #1887 closed

[2017-10-22 22:06] mhoemmen opened #1888 "Document best practices for linking apps against Trilinos with CUDA"
@trilinos/framework @trilinos/tpetra

It looks like applications are not linking against Trilinos with CUDA in the way that Trilinos itself builds and links with CUDA.  See discussion here: https://github.com/gahansen/Albany/issues/195

This suggests that Trilinos needs to document best practices for linking applications against Trilinos with CUDA.  It could be that applications have multiple good

[2017-10-23 12:19] rrdrake commented on #1887
Thanks @mhoemmen !  I'll watch for it on master.

[2017-10-23 19:08] bmpersc commented on #1255
@srajama1, the gist was that SEMS would be willing to support discussed TPLs so long as they weren't "hard" to build. Basically anything that would require changing files or fixing issues on the platforms would be a hard stop for SEMS. However, I don't believe that will be a big issue, but it does remain to be seen.

I haven't had a chance to dig into them yet to see if there are issues, but I sho

[2017-10-23 20:58] bathmatt commented on #1827
@mhoemmen I closed it because it wasn't in MueLu and I was tracking it down.
Now, I have just ran the code, it does pass through the solver phase and dies just after.  Dogging that down now.

[2017-10-23 22:05] srajama1 commented on #1255
Thanks ! None of these TPLs are hard to build to my knowledge.

[2017-10-24 02:09] mhoemmen opened #1889 "Tpetra: Fix how Node constructors initialize and finalize Kokkos"
@trilinos/tpetra

Currently, Tpetra's Node constructors do their own reference counting to figure out when to finalize Kokkos, if they were responsible for initializing Kokkos.  This can cause issues.  It would be smarter to use `std::call_once` to initialize Kokkos, then set `Kokkos::finalize` as an `MPI_Finalize` or `atexit` hook.

[2017-10-24 02:11] mhoemmen commented on #1827
@bathmatt Good to hear; thanks!

[2017-10-24 14:54] bmpersc commented on #1878
@csiefer2, it looks like this is a new problem. According to the logs the jenkins slave has stayed up and has been running the job since 10/16/2017. it looks like sometimes the run is making it to the dashboard as an update error and sometimes it does not. It looks like there is an error during the update, but it is unclear what has changed recently to cause this error. I'm currently trying a comp

[2017-10-24 15:01] jmgate commented on #1857
@eric-c-cyr, do the `panzer/disc-fe/test/la_factory/tEpetraLinearObjFactory.cpp` and `tBlockedLinearObjFactory.cpp` tests do the same thing?  Is it safe to rip out `tEpetraLinearObjFactory.cpp`?

[2017-10-24 15:44] bmpersc commented on #1878
@csiefer2, the clean build did not help, however, it did give a more useful error message. Apparently the clone/pull for each build is timing out on the slave which leads to the update failure. I have done some digging and it looks like github may be throttling Trilinos. I'm going to investigate how to increase the timeout for the clone so we can try and get this working asap. At the same time I'm

[2017-10-24 17:02] jmgate commented on #1857
Never mind.  I ripped out some duplicate unit tests and moved the rest into `tBlockedLinearObjFactory.cpp`.

[2017-10-24 17:50] jmgate commented on #1857
Pushed changes to Panzer (48f33fd), Charon, Drekar, and EMPIRE&mdash;didn't notice anywhere else that needed modification.  If anyone finds anything broken, let me know.

[2017-10-24 19:50] jmgate opened #1890 "Panzer: Update Integrator_CurlBasisDotVector"
The `panzer::Integrator_CurlBasisDotVector` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-10-24 19:51] jmgate opened #1891 "Panzer: Update Integrator_DivBasisTimesScalar"
The `panzer::Integrator_DivBasisTimesScalar` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-10-24 19:52] jmgate opened #1892 "Panzer: Update Integrator_GradBasisCrossVector"
The `panzer::Integrator_GradBasisCrossVector` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-10-24 19:53] jmgate opened #1893 "Panzer: Update Integrator_GradBasisTimesScalar"
The `panzer::Integrator_GradBasisTimesScalar` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-10-24 19:53] jmgate opened #1894 "Panzer: Update Integrator_Scalar"
The `panzer::Integrator_Scalar` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-10-24 19:54] jmgate opened #1895 "Panzer: Update Integrator_TransientBasisTimesScalar"
The `panzer::Integrator_TransientBasisTimesScalar` class needs to be updated to support the new `CONTRIBUTES` style `Evaluator`, as per #1575.  An example of the changes to be made can be found in the `panzer::Integrator_BasisTimesScalar` class.
@trilinos/panzer

[2017-10-25 15:32] bathmatt commented on #1807
Dan @ibaned Sorry, I only get github issues on my gmail and you kknow how well that works here 😢

[2017-10-25 15:41] ibaned commented on #1807
Thats fine, I had that too and redirected them to my Sandia email. Hope this patch helped, let me know if anything else comes up.

[2017-10-25 15:53] mhoemmen commented on #1889
See also #1376.

[2017-10-25 15:55] mhoemmen commented on #718
My #1889 fix will address this, by letting Kokkos::initialize process command-line arguments, rather than trying to do it ourselves.

[2017-10-25 15:58] mhoemmen commented on #57
See also #1889.  The fix for that issue will make Nodes even less important.  Eventually, we can have Map take over the duties of Node, with respect to Kokkos initialization and finalization (if Kokkos hasn't already been initialized).

[2017-10-25 16:00] prwolfe commented on #1584
I pushed an update to Sierra last week to pull us up to UMFPACK 5.1 - I think the only outstanding issue is getting UMFPACK testing onto the Trilinos dashboard.  I have that in the trilinos for sierra builds, but a tribits bug is blocking that right now (see https://github.com/TriBITSPub/TriBITS/issues/234).  Do we want to keep this issue open until it's done or close it and track it there?

[2017-10-25 16:21] prwolfe commented on #1855
Sierra uses this in only one product.  Should I ask about us moving to ifpack2?  I was under the impression that trilinos was not ready for that yet.

[2017-10-25 16:32] jjellio commented on #1888
@mhoemmen I ended up needing to help a new Trilinos user with CUDA support.

I've attached the 'dummy' script I got working for him.

The highlights:
How to set the CUDA lambda flag and c++11 flag.

I also show how to set the CUDA frontend flags to minimize spam.

Do Not:
~~CMAKE_CXX_FLAGS="--expt-extended-lambda"~~
~~Trillions_CXX_FLAGS="--expt-extended-lambda"~~
DO:
*Trilinos_CXX11_FLAGS="-std=c

[2017-10-25 17:47] mhoemmen opened #1896 "Tpetra: Remove CUDA_LAUNCH_BLOCKING=1 requirement"
@trilinos/tpetra
@aprokop found a reasonable bit of code using `Tpetra::Map`, that may break if `CUDA_LAUNCH_BLOCKING=1` is not set.

[2017-10-25 17:50] mhoemmen commented on #1376
Fix is blocked on https://github.com/kokkos/kokkos/issues/1184 and https://github.com/kokkos/kokkos/issues/1060.

[2017-10-25 17:50] mhoemmen commented on #1889
Fix is blocked on https://github.com/kokkos/kokkos/issues/1184 and https://github.com/kokkos/kokkos/issues/1060.

[2017-10-25 18:02] jjellio opened #1897 "Teuchos parser unit test compile fails with gcc 5.4 and CUDA"
Can reproduce on white:

module load devpack-sparc/openmpi/1.10.4/gcc/5.4.0/cuda/8.0.4

A suitable build script is attached. (source it)

[code]

The error seems to occur in master or develop. I suppose this was not caught, because the GPU testing builds likely do not build all unit tests.

@trilinos/teuchos

[2017-10-25 18:04] bartlettroscoe commented on #1897
@ibaned,

FYI: Looks like this is an error in the new TeuchosParser package code.

[2017-10-25 18:30] ibaned commented on #1897
@bartlettroscoe Thanks! It looks like my request to join @trilinos/teuchos was approved, so I now get notified of issues where @trilinos/teuchos is mentioned. This seems easy to fix, I'll do this soon.

I suspect that the root cause is that CUDA defines the global symbol `::any`, and I believe it is a function which has nothing to do with C++17's `std::any`, so that is a forward-looking concern of

[2017-10-25 18:56] ibaned commented on #1897
Okay, this should be fixed by the merge of #1898. If TeuchosParser still fails to build in this configuration, please reopen this issue.

[2017-10-25 18:56] #1897 closed

[2017-10-25 19:18] mhoemmen commented on #1855
@prwolfe Moving to Ifpack2 would require Sierra to use Tpetra instead of Epetra.  I think a better approach would be to remove the deprecated warnings.  If nobody objects, I'll just do that.

[2017-10-25 19:18] mhoemmen commented on #1855
@jhux2 @csiefer2 Is this OK?

[2017-10-25 19:33] mhoemmen commented on #1343
I'm closing this since I think it's fixed; if not, please reopen.  Thanks all!

[2017-10-25 19:33] #1343 closed

[2017-10-25 19:39] mhoemmen opened #1899 "Intrepid2: Fix build warnings"
@trilinos/intrepid2 Here are examples:
[code]
and in `.../Trilinos/packages/intrepid/src/Discretization/TensorProductSpaceTools/Intrepid_TensorProductSpaceToolsDef.hpp`:
[code]

[2017-10-25 19:43] mhoemmen opened #1900 "ML: Scary-looking warnings"
@trilinos/ml Scary-looking warnings:
[code]

[2017-10-25 19:43] csiefer2 commented on #1855
No objection here.

[2017-10-25 19:45] jhux2 commented on #1855
Fine w/ me.

[2017-10-25 20:00] mhoemmen commented on #1889
https://github.com/trilinos/Trilinos/pull/1901 is a pull request that fixes this, but I would not like to merge just yet; I would prefer to have `Kokkos::is_initialized` available for use and working correctly in the `Kokkos::Serial` case first.

[2017-10-25 20:02] mhoemmen commented on #1855
I'm running the check-in test script for this fix now.

[2017-10-25 20:06] mperego commented on #1899
@mhoemmen What compiler are you using?

I've seen the the second set of warnings and fixed them in a branch that will hopefully be pushed within a week. Is that too late?

[2017-10-25 20:10] mhoemmen commented on #1899
@mperego wrote:

Clang 3.9

It should be fine; no worries!  Thanks!

[2017-10-25 20:39] mhoemmen commented on #1888
@nmhamster suggested elsewhere:
[code]
as a way to control which CUDA device to use.  Is that a good idea, or is it better to use the Kokkos command-line argument?

[2017-10-25 20:41] mhoemmen commented on #1888
@crtrott says elsewhere: "[A] longstanding issue [is] that `nvidia_smi` numbering is not consistent with PICe numbers is not consistent with CUDA get_device numbers ...."

[2017-10-25 20:41] nmhamster commented on #1888
@mhoemmen - some MPI (and even scheduler) environments in the future will auto-set this environment variable as a way to direct software. We are not sure if this will be totally robust but if this is available, it will make end-users lives much easier.

[2017-10-25 21:12] jjellio commented on #1888
@mhoemmen Cuda MPS should be addressed. It is not precisely a Trilinos thing, it seems like a best practice to be aware of (and potentially use) MPS.

[2017-10-25 21:19] mhoemmen commented on #1855
@prwolfe I just pushed the fix to Trilinos develop.  It's not in master yet.

[2017-10-25 21:25] rppawlo opened #1903 "Panzer: issues with pthread/multiple execution spaces"
Reported in kokkos:
https://github.com/kokkos/kokkos/issues/1186

[2017-10-25 21:29] aprokop commented on #1896
Here is the code in question:
[code]

It fails with CUDA as
[code]

[2017-10-25 21:59] mhoemmen opened #1904 "Zoltan2: Use MPI_Alltoallv for all-to-all, instead of hand-rolling it from sends and receives"
@trilinos/zoltan2

See `Trilinos/packages/zoltan2/src/util/Zoltan2_AlltoAll.[ch]pp`.  If necessary, add a Teuchos wrapper for `MPI_Alltoallv`.

[2017-10-25 22:14] ibaned commented on #1903
Only `Kokkos::Threads` needs to be handled correctly in order for Kokkos+Trilinos integration testing to pass.

[2017-10-25 22:16] mhoemmen opened #1905 "Show users how to build with warnings as errors, but excluding deprecated warnings as errors"
@bartlettroscoe @trilinos/framework @jwillenbring

[2017-10-25 23:38] rppawlo commented on #1903
Mark, Christian and I looked a this. It is an inconsistency between node types for panzer and phalanx. Phalanx depends on kokkos and uses the kokkos default node type if a node type is not specified in configure. Panzer depends on Tpetra and uses Tpetra default node type. This node type must be consistent between panzer and phalanx. This particular configure enables the Thread and Serial Kokkos no

[2017-10-26 13:00] ibaned opened #1906 "MueLu: TripleMatrixMultiply build error"
A nightly build of Trilinos develop by the Albany team failed with this error:
[code]

http://my.cdash.org/viewBuildError.php?buildid=1312380

@trilinos/muelu

[2017-10-26 13:26] ibaned commented on #1906
@cgcgcg

[2017-10-26 13:32] lucbv commented on #1906
@ibaned , Christian is travelling for the next week, I am having a look, it does not seem to bad.

[2017-10-26 14:05] bartlettroscoe commented on #1905
Here is how you do it (learned from SPARC):

[code]

Cool, right?

[2017-10-26 14:37] cgcgcg commented on #1906
@lucbv Thanks, I would really appreciate that! If it's tricky just revert it, then I'll have a look once I'm back..

[2017-10-26 14:37] mhoemmen commented on #1905
@bartlettroscoe Neat! :-D

@rrdrake @prwolfe

[2017-10-26 15:04] prwolfe commented on #1855
Dashboards look nice today.  - Thanks!

[2017-10-26 15:05] #1855 closed

[2017-10-26 16:24] lucbv commented on #1906
@ibaned I pushed a commit that should fix this problem. I will close this issue tomorrow if the nightly comes back clean.

[2017-10-26 17:22] william76 commented on #1906
@lucbv

Is this related to / or the same bug that caused the TpetraCore_MatrixMatrix_UnitTests test failure on the Trilinos CDash 'Clean' track from last night?

https://testing.sandia.gov/cdash/testDetails.php?test=42290438&build=3183867

[2017-10-26 17:35] william76 opened #1907 "MueLu: TpetraCore_MatrixMatrix_UnitTests Failed on CDash"
@trilinos/muelu
@trilinos/tpetra

Possibly relates to #1906 ?

TpetraCore_MatrixMatrix_UnitTests Failed on CDash last night...
- CDash: https://testing.sandia.gov/cdash/index.php?project=Trilinos##Clean
- Output: https://testing.sandia.gov/cdash/testDetails.php?test=42290438&build=3183867

@mhoemmen had a quick look at it for me, here's his assessment:

[2017-10-26 17:36] william76 commented on #1907
If all we need to do is set the # of processes to 4, can get the fix in...

[2017-10-26 19:21] rhoope opened #1909 "Testing gap exists for Epetra64"
I don't think there is any automated testing for builds based on Epetra64.

[2017-10-26 19:24] kddevin commented on #25
Closing; please reopen if still a problem.

[2017-10-26 19:24] #25 closed

[2017-10-26 19:38] lucbv commented on #1906
@william76 I am not sure here, the previous error was at the level of Xpetra/MueLu which I am more familiar with.

[2017-10-26 19:46] kddevin commented on #270
Closing; please re-open if still a problem.

[2017-10-26 19:46] #270 closed

[2017-10-26 19:58] kddevin commented on #418
Close

[2017-10-26 19:58] #418 closed

[2017-10-26 20:16] kddevin commented on #531
CLosing

[2017-10-26 20:16] #531 closed

[2017-10-26 20:16] #532 closed

[2017-10-26 20:34] kddevin commented on #684
Closed.  Won't fix.

[2017-10-26 20:34] #684 closed

[2017-10-26 20:35] #690 closed

[2017-10-26 20:46] kddevin commented on #872
Resolve at Kokkos / job scheduler level

[2017-10-26 20:46] #872 closed

[2017-10-26 20:46] #874 closed

[2017-10-26 20:53] #1170 closed

[2017-10-26 20:55] #1184 closed

[2017-10-26 21:05] #1645 closed

[2017-10-26 21:09] kddevin commented on #1697
This is a Kokkos issue.  Closing

[2017-10-26 21:09] #1697 closed

[2017-10-26 21:26] kddevin commented on #718
Related to getting rid of Node; need way to make sure Kokkos::initialize() has been called.
Encourage (eventually require?) use of Tpetra::initialize()?  Or require users to do MPI_Init and Kokkos::initialize()?

[2017-10-26 21:42] aprokop commented on #1909
@rhoope I think you are right. I believe @srajama1 mentioned that Epetra64 may not be properly supported especially going forward.

[2017-10-26 22:03] mhoemmen commented on #1860
@bathmatt found that this fixes the issue in his code (issue 137 in his tracker), and closed that issue.  Thus, I'm closing this issue, though I would still like to verify in Albany.

[2017-10-26 22:03] #1860 closed

[2017-10-26 22:45] jclause opened #1910 "Teuchos_StandardParameterEntryValidators throw on normal execution"
Standard probing of parameterLists results in a lot of code that throws during the course of normal execution, e.g., testing whether a parameter was specified and then catching to prescribe a default.

See Ifpack2_AdditiveSchwarz_def.hpp:903 for an example

This is a bad practice that results in a library that is difficult to use and debug within an application. Do not throw unless it is an except

[2017-10-27 01:32] aprokop commented on #1910
@trilinos/teuchos

[2017-10-27 03:30] mhoemmen commented on #1907
Thanks @william76 ! :-D  We should check with @trilinos/muelu folks (e.g., @csiefer2 @jhux2 @lucbv ) to make sure that this doesn't silently exclude some tests in that executable.  If not, then I think we can close this issue.

[2017-10-27 03:51] mhoemmen commented on #718
Just to clarify: `Tpetra::Map`'s constructor (currently more accurately, Node's constructor) currently initializes Kokkos automatically if it has not already been initialized, and schedules Kokkos finalization if necessary.  However, `Tpetra::Map`'s constructor does not have access to `argc` and `argv` (`main`'s arguments).  Tpetra does its best in that case by trying to get the command-line argum

[2017-10-27 03:57] mhoemmen commented on #1697
I moved this issue to Kokkos.  The original Kokkos issue ( https://github.com/kokkos/kokkos/issues/178 ) was closed without being finished, so I opened a new issue (I don't have permissions currently to reopen closed Kokkos issues).

[2017-10-27 03:58] mhoemmen commented on #1677
@mndevec (just in case your notifications require by-name mention)

[2017-10-27 03:58] mhoemmen commented on #1909
@trilinos/epetra

[2017-10-27 04:02] mhoemmen commented on #1184
We fixed this: https://github.com/trilinos/Trilinos/blob/de338381e324785a7ef792fc30ecfd91867082f1/packages/teuchos/CMakeLists.txt#L153

[2017-10-27 04:05] mhoemmen commented on #684
Clarifications:

  - Choice of what BLAS implementation to use belongs to kokkos-kernels.
  - Some of us hesitate to have too many obscure run-time controls for release-mode behavior.

(Run-time options to help debug errors possibly involving Tpetra, are a different issue.)

[2017-10-27 04:07] mhoemmen commented on #532
Clarification: This was only relevant for `Tpetra::MultiVector` during the 2013-5 "Kokkos refactor" effort, when we had to support two Tpetra implementations, only one of which had view semantics (where constructors only shallow copied by default).  We don't need this any more.

[2017-10-27 04:07] mhoemmen commented on #531
Clarification: This was only relevant for `Tpetra::MultiVector` during the 2013-5 "Kokkos refactor" effort, when we had to support two Tpetra implementations, only one of which had view semantics (where constructors only shallow copied by default).  We don't need this any more.  We can always add a nonmember function for creating a deep copy; compare to `Kokkos::create_mirror`.

[2017-10-27 04:09] mhoemmen commented on #418
Clarification: Using shorter index types is an internal optimization of kokkos-kernels or any TPL.

[2017-10-27 04:10] mhoemmen commented on #690
We fixed this a while back.

[2017-10-27 04:12] mhoemmen commented on #874
Clarification: In discussion with @crtrott and @kddevin , we resolved that this is more properly a Trilinos Framework issue.  Tpetra is already instrumented using Kokkos profiling hooks (both parallel loops and regions), which a Framework-based tool could collect and display, without any changes to Tpetra.

[2017-10-27 04:16] mhoemmen commented on #1910
@aprokop @ibaned This might be more accurately an issue with Ifpack2 (or other packages).  ParameterList doesn't _require_ using exceptions for control flow.

[2017-10-27 04:18] mhoemmen commented on #1645
@prwolfe or @rrdrake may need to know about this, but we can always file new issues as needed.  The fix for #1889 (currently blocked on the `Kokkos::is_initialized` feature) might also help.

[2017-10-27 04:19] mhoemmen commented on #1170
@crtrott fixed this in kokkos-kernels.

[2017-10-27 04:20] mhoemmen commented on #1906
@william76 It looks like this issue is unrelated to that one.

[2017-10-27 04:20] mhoemmen commented on #1906
It looks like this has been fixed in develop, so I'm closing this issue.  Please reopen if needed.  Thanks for the fix!

[2017-10-27 04:20] #1906 closed

[2017-10-27 15:53] ibaned opened #1912 "CEE machines hang in Trilinos configure"
@trilinos/framework

All of our nightly Trilinos builds on any CEE hardware are hanging at this point in the CMake configuration process:

[code]

Attempts to manually configure Trilinos on CEE hardware also hang after that line of output. This is really preventing me from getting any work done.

[2017-10-27 19:17] jjellio commented on #874
We standardized around Teuchos Timers and YAML output. This is extremely coarse, but it is sufficient for identifying general performance trends. The output is also supported by all relevant Trilinos apps.

[2017-10-27 19:20] nmhamster commented on #874
@jjellio - we have plans underway to integrate Kokkos profiling hooks into performance testing. The hooks are available /outside/ of Trilinos and so are important in that they connect to the application as well. This sounds like it needs a careful though, perhaps even integration of the Kokkos hooks into Teuchos as well if we want to capture application and Trillinos performance information in the

[2017-10-27 19:23] nmhamster commented on #874
@jjellio - just FYI as well, the Kokkos timer connectors can also dump YAML. Perhaps, there is a way to blend the YAML outputs as well as an alternative?

[2017-10-27 21:54] bmpersc commented on #1782
@srajama1,
  I apologize for not responding sooner. I clearly recall writing a response to this on Monday, but apparently it didn't save properly.

SEMS is willing to support these TPLs with the caveat that if they are issues in the build beyond simple things that SEMS will not support them. Basically if there are things like having to modify the makefiles or code SEMS doesn't want to support that

[2017-10-27 22:52] mhoemmen opened #1914 "Teuchos::TimeMonitor: Use Kokkos profiling region hooks if Kokkos is available"
@trilinos/teuchos @nmhamster @jjellio

See discussion in #874.

[2017-10-27 22:52] mhoemmen commented on #874
@nmhamster @jjellio See feature request to add Kokkos profiling region hooks to `Teuchos::TimeMonitor`: https://github.com/trilinos/Trilinos/issues/1914

[2017-10-27 22:54] mhoemmen commented on #874
@jjellio `Teuchos::TimeMonitor` could do both.  If not linking with the Kokkos profiling library, the profiling hooks have very little overhead.  Actually using profiling may have some overhead, but it shouldn't have more than what Teuchos already does (start and stop timers).

[2017-10-27 22:57] ibaned commented on #874
Can someone post an example or description of this YAML format? Is there code in Trilinos to output this that we can use as a reference?

[2017-10-27 22:57] ibaned commented on #1914
To be clear: what this means is that when a Teuchos timer starts, if Kokkos is available, it would call `Kokkos::Profiling::pushRegion`, and similarly at stop time it would call `Kokkos::Profiling::popRegion` ?

[2017-10-27 23:01] mhoemmen commented on #1912
@prwolfe @rrdrake Do you see this?  This is weird.

[2017-10-27 23:04] ibaned commented on #1912
Sorry I didn't post an update, here it is:
The issue came down to a mounted directory called `/ml_cap` that was being queried and hung indefinitely when queried.
I sent in a ticket to CEE and they fixed the problem, at least on the machines relevant to me.

[2017-10-27 23:04] #1912 closed

[2017-10-27 23:09] mhoemmen commented on #1914
@ibaned `Teuchos::TimeMonitor` is a scope guard for `Teuchos::Time`.  `TimeMonitor`'s constructor would call `Kokkos::Profiling::pushRegion`, and `TimeMonitor`'s destructor would call `Kokkos::Profiling::popRegion`.

[2017-10-27 23:10] mhoemmen commented on #1914
`TimeMonitor` would continue to start and stop its `Time` object, for compatibility with existing code that uses `TimeMonitor::{report, summarize}` for global statistics.

[2017-10-27 23:11] mhoemmen commented on #874
@jjellio Is the YAML format to which you refer just the output format of `Teuchos::TimeMonitor::report`?  If so, the source code would be the best documentation.

[2017-10-28 01:14] nmhamster commented on #1914
@mhoemmen @ibaned - we should talk about the creation/destruction order of Teuchos objects because downstream tools expect these to be ordered (a true stack). I /do/ this exposing this via Teuchos is the right thing to do though. Can we talk over email?

[2017-10-28 01:56] srajama1 commented on #1782
@bmpersc: I need to understand this question better. Let me talk to you Monday in person.

[2017-10-29 01:30] jjellio commented on #1914
I don't see any issue with exposing the Kokkos timers via Tuechos.

I have a forked Teuchos, that I am not sure what to do with. The forked TimeMonitor computes descriptive stats on each processor, rather than simple aggregates.  This enables the report to do things like look at the min/max/mean *median* values, which I feel is the direction performance monitoring tools should head. On node variab

[2017-10-29 01:40] jjellio opened #1917 "Teuchos::TimeMonitor::report, YAML output follows a different code path for aggregating and reducing timers, ignoring the parameter list options."
I've caught a bug with TimeMonitor::report, when YAML is specified as the output format. The output from stdout (report as TABLE) is different from the output when YAML is requested.

What appears to be the issue is that zeroTimers on rank zero are dropped, which is bad news for kernels like MueLu where various ranks will not all share the same timer labels.

I've looked at the source code with @j

[2017-10-29 01:48] jjellio commented on #874
@ibaned @mhoemmen

I've used report() with YAML output requested. The only thing you need to do if pass a parameter list that specifies YAML rather than TABLE. You can also control whether YAML is compact or spacious.

All of that said, see #1917, I hunted down an annoying bug that was causing some hell in my performance scripts. This likely means that specific code path will be refactored either

[2017-10-29 19:54] ibaned commented on #874
@jjellio thanks for the info! I think I've tricked myself into maintaining Teuchos's YAML code, so feel free to email me regarding these issues

[2017-10-29 21:08] ibaned commented on #1914
@jjellio The Kokkos profiling tool I wrote includes a measure of imbalance across MPI ranks (max / mean). If the Teuchos timers call the Kokkos profiling functions, we could extend that tool to output the desired YAML format.

[2017-10-29 21:13] mhoemmen opened #1919 "Kokkos' CMake may have changed, requiring new options with CUDA builds"
See https://github.com/kokkos/kokkos/issues/1197 .  Work-around: set CMake option `Kokkos_ENABLE_Cuda:BOOL=ON` explicitly.

@trilinos/framework @trilinos/tpetra

[2017-10-29 21:15] mhoemmen commented on #1914
I've been talking with Si about this a bit over e-mail.  I think we all agree that the Kokkos profiling tools are good.  We just want to make sure that we don't excessively disrupt existing workflows by James and the MueLu developers.

[2017-10-29 21:16] mhoemmen commented on #874
@ibaned You _did_ write a YAML parser ;-) .

[2017-10-29 21:34] nmhamster commented on #1914
So I agree we do not want to disrupt the profiling work to date, that would be bad. One of the advantages of the Kokkos interface is that it can exist at the higher levels of the application. We have some significant but in from across the space in this respect. We may find this useful for context. Further, the profiling hooks are build into applications in the field. It would be good to understan

[2017-10-29 22:05] jjellio commented on #1914
The choice to use Teuchos timers is precisely because they are baked in to apps. The workflow is Tuechos timer based, so this wouldn't change anything beside adding more timer labels and potentially more measurements (minOverProcs, maxOverProcs, meanOverProcs, +___)

@ibaned  How do you determine variations? An annoyance with aggregate timing is that you lose call count specific information. What

[2017-10-29 22:13] jjellio commented on #1914
@nmhamster My data is actually more detailed than MueLu. I have fairly good coverage of Tpetra's point CSR and MV operations. The challenge is really in getting this automated, reduced, and presented in a meaningful way. Given Trilinos based apps embraced Teuchos timers, there is no reason to change that.

A feature we could consider, is that report takes a list of columns to report. The default b

[2017-10-29 22:13] nmhamster commented on #1914
@jjellio - except not all applications we are trying to work with do use Teuchos timers (although I understand the Muelu cases you're looking at do). Somehow we need to work out how to merge the data we are all collecting, YAML is possibly a way to go. We should talk when I'm back at the lab so I understand what you're getting it because Github messages are not a good format :-).

[2017-10-30 01:05] nmhamster commented on #1914
@ibaned - see Kokkos (https://github.com/kokkos/kokkos/pull/1198) for unstructured "sections". If you plan to map these into Teuchos for tools like VTune etc, you need to use sections, not regions because the regions must be ordered correctly.

[2017-10-30 01:13] bartlettroscoe commented on #1304
FYI: There have been random looking build failures showing up on the CI build running on ceerws1113 starting Friday night shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=66&value1=-MPI_RELEASE_DEBUG_SHARED_PT_CI&field2=groupname&compare2=61&value2=Continuous&field3=buildstarttime&compare3=84&value3=now

[2017-10-30 01:20] crtrott commented on #1919
This needs to get fixed again. This was a breakdown in testing procedure where the test script caught the issue, but the workaround was put in instead of tracking down the root cause .., we will fix this with a local fix in Trilinos later tonight.

[2017-10-30 01:27] crtrott opened #1920 "Kokkos: Serial is_initialized fix caused issues for OpenMP/Serial builds"
A fix was made to Kokkos outside normal procedures (i.e. get it into kokkos/develop, and then merge it into Trilinos at integration) which unfortunately caused other issues if both OpenMP and Serial are in use. This fixes that. See kokkos/kokkos#1199

[2017-10-30 01:38] mhoemmen commented on #1920
Awesome; thanks! :-D I noticed earlier today that `Kokkos::initialize` wasn't initializing nondefault execution spaces; this must be the fix for that.

[2017-10-30 01:39] mhoemmen commented on #1919
@crtrott It's cool, I just wanted to document the work-around :-) .

[2017-10-30 03:11] crtrott commented on #1919
Issued a pull request, can you check it out? Looks like it solves the issue for me.

[2017-10-30 03:56] mhoemmen commented on #1914
@nmhamster wrote:

`Teuchos::TimeMonitor` is a scope guard for `Teuchos::Time`.  This means that starts and stops should normally be ordered, if I understand what you mean correctly.

The main difference is that TimeMonitor's constructor does not reset the Time object by default.  This means that the timers (Time objects) tracked by TimeMonitor measure total time.  They also track start counts, so

[2017-10-30 04:00] mhoemmen commented on #1919
@crtrott wrote:

I just reviewed it; thanks!  I'm happy for the fix, but it worries me a bit that `KOKKOS_HAVE_CUDA_TPL` and `TPL_ENABLE_CUDA` don't appear to be connected.  Which one are we supposed to use?  Does setting one not set the other by default?

[2017-10-30 04:15] nmhamster commented on #1914
@mhoemmen - if you can guarantee all calls to the timers are perfectly nested (i.e. there is no overlap) then you are good to go with Kokkos regions. This is somewhat an issue presented to us by various vendor tools, not a Kokkos implantation choice.

I'm not saying we shouldn't use Teuchos, I'm trying to point out the advantages of having genuine hooks that allow third party connectivity rather t

[2017-10-30 04:42] mhoemmen commented on #1914
@nmhamster wrote:

Hmmm, I think I get what you mean now.  Correct use of `Teuchos::TimeMonitor` implies that each timer cannot overlap with itself.  It's _possible_ to get timers to overlap with each other, but it requires breaking the scope guard idiom and handling TimeMonitor objects by pointer.  For example:
[code]
It would be weird to do this.  MueLu developers will sometimes handle TimeMonit

[2017-10-30 04:57] nmhamster commented on #1914
@mhoemmen - I'm a little nervous that it also means all downstream calls must also nest correctly. While I think it's possible to do that with care I don't know if we will always get it right. This would seriously upset some of the vendor tools we connect into. Let me know what you think is best.

[2017-10-30 05:00] jjellio commented on #1914
@nmhamster, I don't see how any of this would impact me. I would view it as an optional way to have Tuechos::TimeMonitor::report() have cool new columns, such as energy, memory usage, numa faults, or vectorization use. The latter would be an extremely helpful column to have.

[2017-10-30 05:05] nmhamster commented on #1914
@jjellio - that's kind of what I've been trying to tell you guys :-) ... but we want/need Teuchos to support it. The confusion comes that we could do timing this way too -- but I mean more through profiling etc, not through application reporting etc. Basically we want to build of the timer placement you're already doing so we don't need to put explicit Kokkos profiling code when Teuchos is already

[2017-10-30 05:08] nmhamster commented on #1914
@jjellio - we also maybe able to give you more detail from Kokkos regions in higher level application calls. Some of the applications seem to use these now, admittedly it's often blended with Teuchos. That's why I was saying we get application level info too.

[2017-10-30 14:04] bartlettroscoe commented on #1304
FYI:

This morning `df -h` is not hanging anymore and it shows that /scratch has 634G of free space.  I have restarted the CI server on ceerws1113 and it is posting to CDash at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3190720&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

We

[2017-10-30 15:20] mndevec commented on #1677
I did not track down the issue. The tests in tpetra and kokkoskernels passes.
It might be somewhere along the integration.

[2017-10-30 15:40] ndellingwood commented on #1919
@crtrott @mhoemmen When PR #1922 goes through the following line should be removed from configure-testbeds-jenkins-all (I can do this, adding message for reference and so hopefully I get Github notification as this issue gets closed):
https://github.com/trilinos/Trilinos/blob/e18e10f5ec99763e7203dedcf988a1a7ea54f138/sampleScripts/Sandia-SEMS/configure-testbeds-jenkins-all#L61

This was the workaro

[2017-10-30 15:42] ndellingwood commented on #1919
Matching PR in Kokkos:
[kokkos PR 1201](https://github.com/kokkos/kokkos/pull/1201)

[2017-10-30 15:52] ibaned commented on #1919
@ndellingwood thanks for pointing this out. I'm using the checkin script to merge @crtrott 's fixes now, including #1922, and I've added a commit which removes that line from the Jenkins script.

[2017-10-30 15:52] ndellingwood commented on #1919
@ibaned thanks!

[2017-10-30 17:08] jhux2 commented on #1917
@jjellio Did you mean to close this issue?

[2017-10-30 17:32] mhoemmen commented on #1914
@nmhamster wrote:

Does my example illustrate a case of "incorrect nesting of downstream calls"?  If not, what would be an example of this?

I'm trying to pin this down because it may be that we are worrying about nothing, since correct use of TimeMonitor should imply no nesting.

[2017-10-30 19:23] kddevin commented on #619
From the conversation and FY17 closeout reports, I understand that this task is done.
Thus, I am going to close this issue.  If my understanding is incorrect, please reopen and clarify what remains to be done (e.g., 2a and 2b above?).  Thanks.
@ambrad @mhoemmen

[2017-10-30 19:23] #619 closed

[2017-10-30 19:30] ambrad commented on #619
Yes, closing is appropriate. 2a is done. 2b needs to be done the first time a new experimental BlockCrsMatrix class is brought in. For now, it doesn't matter either way. Main thing was to make it possible.

[2017-10-30 19:52] mhoemmen opened #1923 "Tpetra::CrsGraph::makeIndicesLocal: Improve exception message"
@trilinos/tpetra `Tpetra::CrsGraph::makeIndicesLocal` prints an exception message if any of the input global column indices are not in the column Map on the calling process.  The message always prints that the local row index of any bad column indices is -1.  This is because the exception is incorrectly using the local column index as the row index.  The local column index _must_ be -1, since the

[2017-10-30 20:04] mhoemmen commented on #1677
If you change sparse matrix-matrix multiply in Tpetra, you need to test downstream through MueLu.

[2017-10-30 20:18] jjellio commented on #1914
@nmhamster I am not really married to Teuchos, I have adopted the YAML data format though.

I am going to write data some details of the above.  The data, metadata, and a consistent structure for them is what I view as the goal. The integration into Tuechos is nice, but it doesn't resolve the problems of how performance data is communicated.

I'll mock something up and send it out.

[2017-10-30 20:36] mndevec commented on #1677
I am not sure if this is ever tested before. @csiefer2 set up a nightly test previously on his machine with kokkoskernels experimental flag.

@csiefer2 , do you have any intuition about this test failure? When Kokkoskernels experimental is enabled, the tests in tpetra passes, but the above muelu test fails.

[2017-10-30 20:41] lucbv commented on #1677
@mndevec I think that the test in question currently has a few lines of code commented out because of this failure. If you remove the comments the test will fail on our nightly builds that do not have kokkoskernels experimental flag on.
So this problem is already inside the standard stack, not in the experimental one... @jhux can you confirm that we are talking about the last check in `muelu/test/

[2017-10-30 20:43] csiefer2 commented on #1677
This nightly has not been properly configured for quite some time.  Will reconfigure to do what you're asking about.

[2017-10-30 21:06] mhoemmen commented on #1923
I just pushed the fix to develop.

[2017-10-30 21:06] #1923 closed

[2017-10-30 21:37] mhoemmen commented on #423
Code that assumed that stride == local # rows was always incorrect, for as long as Tpetra has existed.  Tpetra reserves the right to change padding however it wishes.

[2017-10-30 21:46] mhoemmen commented on #628
My commit https://github.com/trilinos/Trilinos/commit/f2a4fcb51fbdc76b823e566c3b3bb521ec4eee83 fixed this issue partially, by reusing process ranks (PIDs) of remote GIDs received in `makeColMap`, in `makeImportExport`.  A full fix might reuse other information shared between making the column Map and making the Import object, like the remote GIDs themselves, and their corresponding LIDs.

[2017-10-30 21:54] mhoemmen opened #1924 "Tpetra: Don't use atomic ops for unpack unless collisions could happen"
@trilinos/tpetra This is NOT the same as #883.
Fixing this issue would require analyzing the Import / Export on each process to determine whether multiple processes contribute to any one local index on the receiving process.

[2017-10-30 21:56] mhoemmen commented on #1924
Oops, this duplicates #962.

[2017-10-30 21:56] #1924 closed

[2017-10-30 22:12] mhoemmen commented on #1919
@ibaned patched this in Trilinos:develop; thanks!

[2017-10-30 22:12] #1919 closed

[2017-10-30 22:20] mhoemmen opened #1925 "Tpetra: Make CrsGraph & CrsMatrix fillComplete check domain & range Map one-to-one-ness in debug mode"
@trilinos/tpetra
See https://github.com/NaluCFD/Nalu/issues/211 for an example of a common user error, namely not passing in domain and range Maps to fillComplete when the row Map is overlapping (i.e., not one to one).

Tpetra has the `TPETRA_DEBUG` environment variable now; if you set it to 1, you'll get more debug-mode checks.  We can exploit this to help users diagnose their incorrect usage of

[2017-10-30 22:37] mhoemmen opened #1926 "Ifpack2,Tpetra: Some harmless but fixable CUDA build warnings"
@trilinos/ifpack2 @trilinos/tpetra

`warning: calling a constexpr __host__ function from a __host__ __device__ function is not allowed.`  Warning is harmless because this is host code calling the function in question anyway.  See:
  - `Ifpack2_DenseContainer_def.hpp`, line 576
  - `Ifpack2_BandedContainer_def.hpp`, lines 373 and 508
  - `Tpetra_Experimental_BlockView.hpp`, lines 624, 1250, and 125

[2017-10-31 15:17] bmpersc opened #1927 "Several nightly tests are not submitting"
@trilinos/framework All of the clean builds and several of the nightly and specialized builds are not submitting to the dashboard. It does appear that some of the submissions might just be really slow while others hang for 18+ hours.

This seems to be related to system issues and we are currently working with the admins to fix this. there is no ETA on a fix at this point.

[2017-10-31 15:46] ibaned opened #1928 "Intrepid2 CUDA 9 build issue"
Moving issue kokkos/kokkos#1183 here.

@bathmatt wrote:

[code]

@mperego I'm not sure if this is still happening though...

[2017-10-31 15:54] bmpersc commented on #1782
@srajama1, @dmvigi and I had a conversation about this and decided that we will install all of SuiteSparse minus metis, but give each of them separate modules.

[2017-10-31 15:57] mperego commented on #1928
@ibaned I still have to looked into this. I held off until now because they were sorting out issues in Kokkos related to Cuda9. I'll try to look into this today or tomorrow.

[2017-10-31 16:14] aprokop commented on #1896
What does one have to do to fix this issue? Is it as simple as adding `Kokkos::fence()` after each `parallel_for` and friends, and after each `deep_copy`?

[2017-10-31 18:07] aprokop commented on #1896
@mhoemmen OK, if I understand correctly, instead of mindlessly putting `fence` after each `parallel_for`, you would like to be smarter about that and figure out if the data needs to be migrated to (host,device) in between. The only problem with this I see is that you should still make the scope to be a single function, as you don't know what happens outside. Right?

[2017-10-31 18:26] mhoemmen commented on #1896
@aprokop I think there are two things that we would need to do:

  1. Always sync to the place where you plan on using it.  (I'm pretty sure that sync always fences even if it doesn't copy.)
  2. If allocating a View without initializing it, then fence before using it.

[2017-10-31 21:42] bartlettroscoe opened #1929 "Failing Tpetra and Xpetra tests in CI build from commits pushed on 10/31/2017"
**Next Action Status:**

Decide if to fix or backout the commits ...

**CC:** @trilinos/framework, @trilinos/tpetra, @trilinos/xpetra, @DrBooom

**Description:**

After the push of the commits:

[code]

shown at:

* https://testing-vm.sandia.gov/cdash/viewNotes.php?buildid=3139970#!#note1

we are now seeing 7 failing Tpetra tests and 2 failing Xpetra tests as shown at:

* https://testing-vm.sandia

[2017-10-31 21:45] bartlettroscoe commented on #1929
@DrBooom,

Since these failing tests will stop other people from pushing using the checkin-test-sems.sh script as described at:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

we should likely back out these two commits ASAP so that the failures can be fixed offline.  If you don't hear from you in the next hour, I will back out these commits and update this issue wi

[2017-10-31 21:48] bartlettroscoe commented on #1304
FYI: The CI test suites for Tpetra and Xpetra are currently broken as described in #1929.  Therefore, if you are pushing changes to Tpetra or Xpetra or packages upstream from these, these will block you push using the checkin-test-sems.sh script.  (Or you can locally disable these tests as described at https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing#disable_already_fail

[2017-10-31 22:05] bmpersc commented on #1927
It looks like the issue has been resolved. It appears to be related to a misbehaving NFS mount. The jobs that were hanging today have completed and submitted as expected. I'm going to leave this open for a bit to ensure that the jobs running tonight don't take as long as the jobs today did.

[2017-10-31 22:10] bmpersc commented on #1878
@csiefer2 sorry for the lack of response lately, between TUG and other things I haven't had much time to dig into this. Adjusting the timeout is not really possible since it is hard coded in tribits. I have been attempting to get a local copy of Trilinos in a place we can clone without being throttled. Unfortunately I'm having issues authenticating to that repo. I will continue looking into this.

[2017-10-31 22:38] mhoemmen commented on #1925
Pull Request #1930 fixes this issue, but causes some downstream tests to fail.  Users are welcome to try that pull request for debugging.

[2017-10-31 22:41] mhoemmen commented on #1376
My #1889 fix will fix this issue too.

[2017-10-31 22:41] mhoemmen commented on #1889
My fix for this issue will fix #1376 too.

[2017-10-31 22:54] mhoemmen commented on #1889
I just pushed a fix to Trilinos:develop.  I tested it extensively with all the Kokkos execution spaces that Tpetra supports.

[2017-10-31 22:54] #1889 closed

[2017-10-31 22:55] mhoemmen commented on #1376
I just pushed a fix to Trilinos:develop. I tested it extensively with all the Kokkos execution spaces that Tpetra supports.

[2017-10-31 22:55] #1376 closed

[2017-10-31 23:00] mhoemmen commented on #1929
@bartlettroscoe If it blocks people, please feel free to revert the commits.  This thing is a work in progress.

[2017-10-31 23:00] mhoemmen commented on #1304
@bartlettroscoe Please feel free to revert the commits if they are hindering progress.  Thanks!

[2017-11-01 01:38] pwxy opened #1931 "Improve MueLu setup scaling for repartitioning by reducing comm_split calls"
This was actually Bug 6346 from https://software.sandia.gov//bugzilla that was originally filed over 2.5 years ago (June 4, 2015) but conveniently failed to get transferred to github: "Bug 6346 - Improve MueLu scaling for repartitioning by reducing comm_split calls."

Unfortunately I completely forgot about this issue from over 2.5 years ago, and had to spend a lot of time to track down this issue

[2017-11-01 01:48] pwxy commented on #1931
This explains why rebalance coordinates and rebalance nullspace was scaling as roughly log(MPI processes) since the quicksort in comm_split scales as (MPI)*log(MPI)

[2017-11-01 10:14] nschloe commented on #1818
@srajama1 Any news on this yet?

[2017-11-01 11:02] aprokop commented on #1931
@pwxy How did you determine this? Is it possible that being a synchronization point, it take majority of the time because of the asynchronicity of execution?

[2017-11-01 11:57] pwxy commented on #1931
@aprokop I added more sync timers

[2017-11-01 12:43] aprokop commented on #1931
I think the fix is pretty straightforward. Instead of using `removeEmptyProcesses` we should use `replaceCommWithSubset` that Tpetra Map provides. The main roadblock here is that right now is that replacing communicators is done for Coordinates, Nullspace and A. Coordinates and Nullspace are done in the same factory (RebalanceTransferFactory), and thus have an easy access to each other maps. So ge

[2017-11-01 14:40] bmpersc commented on #1927
NIghtly tests last night ran as expected averaging somewhere between 2 and 3 hours of run time. I believe this means that the issue we were experiencing have been resolved.

[2017-11-01 14:40] #1927 closed

[2017-11-01 14:47] bartlettroscoe opened #1932 "Look into CI server failure problems on ceerws1113"
**Description:**

The CI server on ceerws1113 is showing catastrophic build failures again for the CI build running this morning at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3194737

For example, at:

* https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3194738

it shows build failures like:

[code]

Looking at ceerws1113, it looks like the problem with the

[2017-11-01 14:49] bartlettroscoe commented on #1304
FYI: The CI server on ceerws1113 is showing catastrophic failures again this morning (see #1932).  I have killed the CI server and will investigate more carefully this time (see #1932 for details).

[2017-11-01 15:00] rppawlo commented on #1929
So I just ran the checkin test script this morning and got two panzer failures that blocked a push. The failure is:

[code]

Is this possibly related to this issue?

[2017-11-01 15:04] bartlettroscoe commented on #1929
That is possible.  We did not get a complete CI build last night because of #1932 so we don't know if this broke Panzer or not as well.

Let's just backout these two commits.  I will just run the Tpetra test suite so that this goes fast.

[2017-11-01 15:05] csiefer2 opened #1933 "Github Issue / PR / Wiki Backups"
If github becomes unavailable for an extended period of time (for whatever reason), so we have a means by which we can backup issues, pull requests and the wiki?  And then be able to restore them to a local resource for continued operation during the outage?

Clones are easier to manage, so I do not include them here.

[2017-11-01 15:09] bartlettroscoe commented on #1929
@csiefer2,

When I try to rever the commit f66ede7, I am getting a merge conflict:

[code]

It looks like I should keep what is on HEAD (which was added in commit 3f2cc71).  Unless you tell me not to, I will keep that block of code in the conflict and test (just Tpetra for speed) and push.

[2017-11-01 15:09] csiefer2 commented on #1929
I bumped off the offending commit ---- that code wasn't ready for "prime time" yet.

[2017-11-01 15:09] #1929 closed

[2017-11-01 15:18] ibaned commented on #1390
Any word on this? I noticed @maherou marked it as "Blocked"... not sure what it is blocked on.

[2017-11-01 15:29] bartlettroscoe commented on #1929
I just ran:

[code]

and just pushed the commit b62fa0c8d651c20:

[code]

Please take a look at that and make sure this is as it should be.

I will restart the CI server on ceerws1113 (and I will get to the bottom of #1932).

[2017-11-01 15:32] srajama1 commented on #1818
Sorry, forgot to respond. The team decided to keep it the way it is. Please use your workaround.

[2017-11-01 15:34] #1818 closed

[2017-11-01 15:35] bartlettroscoe commented on #1932
I have restarted the CI server on ceerws1113 using:

[code]

I will watch carefully at the end of the day when this script should shut down at 18:00:00 MDT (6 PM MDT).

[2017-11-01 15:37] bartlettroscoe commented on #1304
FYI: I reverted the not-ready-for-prime-time commits described in #1929 and I manually restarted the CI server on ceerws1113 (and will catch carefully to see that is shuts down tonight in #1932).  We should hopefully see a 100% clean CI build again (and pushes should not be stopped right now either).

[2017-11-01 15:43] aprokop commented on #1933
Does this really warrant time to discuss/implement? I understand where you are coming from, but I don't see this even as a minor issue.

[2017-11-01 15:45] mhoemmen commented on #1390
For Teuchos, did we talk to the Dakota folks?  They definitely use Teuchos, though they may either have moved to C++11 or have frozen their Teuchos version by now.

[2017-11-01 15:51] bartlettroscoe commented on #1390
Dakota snapshots their own version of Teuchos so this would not impact them until they update Teuchos (which they can control).

[2017-11-01 16:05] mhoemmen commented on #1390
@bartlettroscoe I just e-mailed Brian Adams to see if he wants to chime in.  Dakota used to patch Teuchos anyway; not sure if they still do that, but it suggests that they would be willing to wait a bit before adopting a new Teuchos with a new C++ standard requirement.

[2017-11-01 16:10] mhoemmen opened #1934 "Announcement of develop-to-master promotions?"
@trilinos/framework How does Trilinos announce develop-to-master promotions?

I'm asking because a colleague who works on an app said that they find this out by pulling master by hand, and seeing if new commits arrived.  Is that the recommended procedure?  Given that #1154 is still open, users won't normally expect nightly updates of master.  Thus, it might be helpful to have some kind of announce

[2017-11-01 16:36] briadam commented on #1390
No problem for Dakota, thanks for considering us!  _Dakota now requires a C++11 compliant compiler so it's a non-issue._  However, to close the thread, @bartlettroscoe and @mhoemmen are correct that we snapshot Teuchos (and we're currently on v.ANCIENT = 11.0.3, plus critical patches as Mark said).

Why ancient? We configure Teuchos with CMake add_subdirectory and it proved too hard to get that ap

[2017-11-01 16:42] ibaned commented on #1390
Okay, so Xyce and Dakota have both been considered. At this point it is unclear what else could be blocking this issue. If anyone knows, please post a comment, thanks.

[2017-11-01 17:42] william76 commented on #1907
Now that the nightlies are back up, it looks like this is still failing in the nightly tests... My edit in #1908 doesn't seem to have fixed it.

CMakeLists.txt file: https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/test/MatrixMatrix/CMakeLists.txt

Last Night's CDash: https://testing.sandia.gov/cdash/testDetails.php?test=42396227&build=3193312
[code]

I think @csiefer2 was ha

[2017-11-01 17:42] csiefer2 commented on #1933
I view this as insurance that may or may not be worth purchasing.  I would like Framework to discuss this issue and make an explicit decision one way or another.

[2017-11-01 17:49] william76 commented on #1826
@kyungjoo-kim @bmpersc

Can we close out this issue?

[2017-11-01 17:50] william76 opened #1935 "ShyLU: ShyLU_Node Tests Failing in CDash Clean builds"
@trilinos/shylu

There are failing tests in the [nightly clean track for ShyLU_Node](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3193185)

- [ShyLU_NodeTacho_Tacho_TestSerial_dcomplex](https://testing.sandia.gov/cdash/testDetails.php?test=42399106&build=3193533)
[code]

- [ShyLU_NodeTacho_Tacho_TestSerial_double](https://testing.sandia.gov/cdash/testDetails.php?test=42399105&b

[2017-11-01 18:04] DrBooom commented on #1929
Looks like I missed the flames. Note to self, don't push at 4pm

[2017-11-01 18:07] mhoemmen opened #1936 "Tpetra: Remove GEMV and GEMM interfaces"
@trilinos/tpetra
Use the interfaces in kokkos-kernels.
This is blocked on https://github.com/kokkos/kokkos-kernels/issues/114 .
My suspicion is that kokkos-kernels does not have generic implementations,
and will thus not work yet with Tpetra, esp. downstream to Stokhos.

[2017-11-01 18:43] jmgate commented on #1933
If we wanted, we could write a script to grab all issue and pull request data in JSON format (I don't know if this is possible or the wiki), but there wouldn't really be any way to continue working with issues and PRs when GitHub is down.  We'd need our own instance of GitHub installed somewhere, which we could fail over to, but that sounds like a whole lot of headache I wouldn't want to mess with

[2017-11-01 18:58] csiefer2 commented on #1907
Fix pushed

[2017-11-01 22:28] bartlettroscoe commented on #321
@bathmatt recently mentioned that this is still a problem on machines using nvcc and ninja.  He states this is a significant productivity issue for those builds.  The PR  kokkos/nvcc_wrapper#5 now has merge conflicts so we will need to update nvcc_wrapper again in order to retry these.

I think the best time to address this might be when we get a standard ATDM configuration of Trilinos running (wh

[2017-11-01 22:42] bartlettroscoe commented on #1932
The first CI iteration ran fine and a second CI iteration started.  So far so good.  I will watch late tonight o make sure that it terminates correctly.

Otherwise, I should look into how hard it might be to automatically kill a CI build at a certain time (say 12 midnight) even if it is still running.  Using a combination of `LAST_PROCESS=$!`, `kill-pstree.py` and `at` it may not be too hard to ki

[2017-11-01 23:40] bartlettroscoe commented on #1929
Everything passed in the restarted CI build shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3194851&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

[2017-11-01 23:41] bartlettroscoe commented on #1304
FYI: Restarted completed CI build was 100% clean:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3194851&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

[2017-11-02 01:47] mhoemmen commented on #1907
@william76 :
  1. Does the test pass for you when you run it (via ctest) on your machine?
  2. Try changing the test so that those exception messages print the actual number of MPI processes.
  3. If the actual number of MPI processes is greater than 4, we could use `Teuchos::Comm::split` to make a subset communicator with 4 processes (the first 4 in the communicator, to ensure consistency with Te

[2017-11-02 02:27] bartlettroscoe commented on #218
Looks like this got fixed a long time ago in the commit 6bbc751.

Closing as complete.

[2017-11-02 02:27] #218 closed

[2017-11-02 02:42] bartlettroscoe commented on #1932
The CI server on ceerws1113 seemed to have shut down just fine on its own as shown by:

[code]

and the end of the output file trilinos_ci_server.out showing:

[code]

and I got that email message:

[code]

Let's see what happens tomorrow morning.

[2017-11-02 14:12] dlkarnit opened #1937 "MueLu or Amesos2 behavior changed between 12.10.1 and develop, such that preconditioner setup now fails with a singular matrix (Was: "Amesos2 KLU2 Crash")"
I'm experiencing a crash while attempting to solve a 3D poisson problem with Belos/MueLu/Tpetra built from the develop branch that I retrieved yesterday afternoon. Previously this code would crash at exit related to issue #1889 when It was fully integrated into our product. This crash though is now occurring within our unit tests. I can provide some sample code describing our problem setup that, h

[2017-11-02 14:26] aprokop commented on #1937
@trilinos/muelu @trilinos/amesos2

[2017-11-02 15:23] dlkarnit commented on #1937
This appears to be hitting a singular case in klu2_factor.hpp:573 which then deletes the Numeric object causing the null field. This matrix was not trouble for MueLu in v12.10.1 nor for ML in v12.10.1. I've attached a description of the matrix via Tpetra_CrsMatrix::describe().

[matrix-description.txt](https://github.com/trilinos/Trilinos/files/1438317/matrix-description.txt)

[2017-11-02 15:30] tmdelellis opened #1939 "Inconsistent Tpetra options with TPL_ENABLE_CUDA=ON"
In `tpetra/CMakeLists.txt` the following checks (implemented in #1682) are too restrictive:

[code]

This effectively precludes settings `TPL_ENABLE_CUDA` with `Kokkos_ENABLE_Cuda=OFF`.  This, in my mind, can be a common use-case.  Several applications may be using CUDA for their own concurrency but using Trilinos for host-side solvers. In this case, one would only want Trilinos to run on the host

[2017-11-02 15:39] aprokop commented on #1939
@trilinos/tpetra

[2017-11-02 16:12] jmgate commented on #1823
An initial cut of the `CONTRIBUTING.md` file has made it into `develop`.  When creating a new issue, GitHub provides a link to this file, though that will still contain the placeholder text until these changes make it into `master`.  Users have the ability to select the `develop` branch from the drop-down menu, revealing the actual contents, but they won't know to do that.  I'll leave this issue o

[2017-11-02 16:15] jmgate commented on #1583
An initial cut of these templates have made it into `develop` via #1822, though they won't be usable until they make it into `master`.  I'll leave this issue open until the next `develop` to `master` update.

[2017-11-02 17:16] csiefer2 commented on #1907
I think I fixed this yesterday, but the nightlies didn't update correctly.  @bmpersc is aware and is filing an issue.

[2017-11-02 17:18] bmpersc opened #1940 "Clean builds don't seem to be building against most recent develop changes"
@trilinos/framework, @csiefer2 pointed out that the fixes he had made to address the issues #1907 didn't fix the clean builds like he expected. Looking into this the clean builds seem to be building against cf2c2c4b3c16738afef4856f2a587d597be4daba which is 15 commits behind develop. It appears that the clean builds are not updating properly. A quick look through the logs did not show an obvious er

[2017-11-02 17:24] jhux2 commented on #1907
:no_mouth:

[2017-11-02 17:24] csiefer2 commented on #1907
❓

[2017-11-02 17:31] mhoemmen commented on #1939
@tmdelellis I'm calling this an enhancement, not a bug, since it would be an unusual use case to build Trilinos with CUDA enabled, yet disable CUDA in Kokkos.  It takes some effort to do that.  Nevertheless, I'll be happy to accept a pull request if you're willing to test it.  Thanks!

[2017-11-02 17:38] mhoemmen commented on #1937
Work-around: Try changing the direct solver that Muelu uses?

[2017-11-02 17:39] jhux2 commented on #1940
@bmpersc Specialized builds don't appear to be updating either, e.g.,
https://testing.sandia.gov/cdash/buildSummary.php?buildid=3195972

:worried:

[2017-11-02 17:40] csiefer2 commented on #1940
🤦‍

[2017-11-02 18:03] mhoemmen opened #1941 "Thyra::get_Epetra_MultiVector hangs in debug build if some (not all) procs have 0 rows"
@trilinos/thyra @trilinos/epetra

We constructed a test that runs on 4 MPI processes.  It builds an `Epetra_Map` such that Processes 0 and 2 each have zero local rows, and Processes 1 and 3 each have 1 local row.  The code invokes the following function on that Map:
[code]
(definition in thyra/adapters/epetra/src/Thyra_EpetraThyraWrappers.cpp). In that function, the processes with a nonzero number

[2017-11-02 18:20] mhoemmen commented on #1941
I fixed this and I am running the check-in test now.

[2017-11-02 18:21] mhoemmen opened #1942 "Thyra: Backport #1941 patch to release branch"
@trilinos/thyra @trilinos/epetra See #1941.

[2017-11-02 18:22] mhoemmen commented on #1941
@bathmatt @rppawlo @eric-c-cyr @egphill might all find this interesting.

[2017-11-02 19:04] mhoemmen commented on #1941
Fixed in Trilinos:develop.

[2017-11-02 19:04] #1941 closed

[2017-11-02 19:26] bartlettroscoe commented on #1941
Thanks @mhoemmen!

[2017-11-02 19:34] mhoemmen commented on #1941
@bartlettroscoe no problem! :-)  btw here is the relevant commit (for #1942 or patching in apps):

https://github.com/trilinos/Trilinos/commit/646ca228903cb8d55f3d8038c3c0332cdd23512a

[2017-11-02 19:50] jhux2 commented on #1933
I believe @csiefer2 is thinking of the case of github being unavailable for an extended period of time.  How long would the Trilinos project be willing to wait?

[2017-11-02 19:50] mhoemmen commented on #1531
Oops, I duplicated this issue in #1941.  I fixed this in develop.  Thanks to @overfelt for contributing the unit test; my commit https://github.com/trilinos/Trilinos/commit/646ca228903cb8d55f3d8038c3c0332cdd23512a added the unit test (with minor modifications) to Thyra.

[2017-11-02 19:50] #1531 closed

[2017-11-02 19:55] bartlettroscoe commented on #1932
The CI server started fine today and is on its first incremental rebuild/retest.  And there is still just one CI server running as shown by:

[code]

I have no clue how more than one CI server got running on top of each other yesterday or the prior few days.

But I will leave this Issue open one more day and see what happens.

[2017-11-02 20:57] rppawlo opened #1943 "Sacado: link error with CUDA and relocatable device code"
Issue with multiple definition of device memory pool. Needed to mark object "extern" in the header file and move the initialization to .cpp file. PR will be posted shortly.

[code]

@etphipp
@trilinos/sacado

[2017-11-02 21:39] rppawlo commented on #1943
PR submitted: #1944

[2017-11-02 23:01] bmpersc commented on #1940
@jhu @csiefer2 I have tracked this down to the nightly mirror of Trilinos didn't update last night so this would have impacted a lot of builds. I was able to update the mirror today so it isn't a systemic issue. However, looking through the logs I have it seems like the update of the mirror has failed 4 times over the last 3 weeks, each with a very different error. 75% have happened on Wednesday s

[2017-11-02 23:01] #1940 closed

[2017-11-02 23:21] bmpersc commented on #1878
@csiefer2 I have addressed the authentication issues for windows machine getting the local copy. We'll see tonight if the windows build can now complete. I will say that I have not setup anything to keep the local copy up-to-date yet, so if it does work it will be stagnant over the weekend. I did update it today so it isn't woefully out-of-date. If this seems like a viable path forward we will set

[2017-11-03 00:16] ndellingwood commented on #1928
Reproduced similar errors with Cuda 9 as compiler and Kokkos develop branch in Trilinos.
Some changes in Kokkos needed for Cuda 9 are only on the Kokkos develop branch until the next integration testing, so I used a suggestion from @ibaned to use the develop Kokkos in my Trilinos configuration:

Create a symbolic link to my clone of Kokkos (with develop branch checked out) in Trilinos base directo

[2017-11-03 00:20] ndellingwood commented on #1928
Here is the Kokkos issue regarding setting up support and nightly testing of Cuda 9:
[kokkos/#1174](https://github.com/kokkos/kokkos/issues/1174)

[2017-11-03 01:09] tmdelellis commented on #1939
@mhoemmen This is actually our standard build case.  We've been using this configuration for some time.  Only recently has this issue shown up.  To get around it we are currently setting `TPL_ENABLE_CUDA=ON` `Kokkos_ENABLE_Cuda=OFF` and `Kokkos_ENABLE_Cuda_Lambda=ON` .  It is the last statement, added to avoid a configuration error in Tpetra, that makes no sense.  If Kokkos Cuda is not on, you sho

[2017-11-03 04:54] mhoemmen commented on #1939
@tmdelellis Please post a pull request; we'll be happy to review it.  Thanks!

[2017-11-03 12:01] nschloe opened #1945 "several packages call exit() in the library"
Discussions of why calling `exit()` in production code go back as far as 2010; cf. https://software.sandia.gov/bugzilla/show_bug.cgi?id=4969. Unfortunately, many libraries still call `exit()`:
[code]
Would be great to see some progress here.

[2017-11-03 14:33] csiefer2 commented on #1907
Stick a fork in this one... :grinning:

[2017-11-03 14:33] #1907 closed

[2017-11-03 14:49] dlkarnit commented on #1937
I first tried a few of the RELAXATION course solvers (Jacobi, SGS, MTSGS), all caused Belos to produce NaN for the convergence check. I have found success using the CHEBYSHEV coarse solver type so far in my unit testing.

[2017-11-03 15:34] mhoemmen commented on #1937
@dlkarnit You could try using something other than KLU2, e.g., build with SuperLU and try that.  Relaxation solvers and Chebyshev may work as coarse-grid solvers sometimes, but not for all kinds of problems.

[2017-11-03 15:51] dlkarnit commented on #1937
@mhoemmen Any recommendations on using SuperLU, SuperLU_MT, or SuperLU_DIST? Do users find these work better than most KLU/KLU2 solvers in practice?

[2017-11-03 16:00] dlkarnit commented on #1937
@mhoemmen Maybe a better question here is; are there better ways to set up MueLu/Belos to handle singular matrices. Since for my equations the matrix will almost always be singular. This looks like it could be an issue in using SuperLU too according to their documentation.

[2017-11-03 16:30] mhoemmen commented on #1937
The MueLu tutorial should explain how to tell MueLu about the null space of your matrix, if you have a basis for the null space.  You'll have to talk to the MueLu developers @trilinos/muelu about what to do if you don't have a basis for your matrix's null space.

Sparse LU factorizations generally assume that the input matrix is nonsingular.  Relaxation solvers and Chebyshev do not promise that th

[2017-11-03 16:48] dlkarnit commented on #1937
I'm not sure the new title is appropriate. I am using MueLu as a preconditioner for the BICG method in Belos. Previously, I used ML as a preconditioner for BICG in AztecOO for these very same problems without any trouble. In fact, I can solve these problems correctly with Trilinos release v12.10.1, so a bug has very much so been introduced between then and the current develop branch.

[2017-11-03 16:50] dlkarnit commented on #1937
To clarify, I could solve the problems in v12.10.1 with both Belos/MueLu/Tpetra, and AztecOO/ML/Epetra, no crash, no divergence, with expected results produced for all cases.

[2017-11-03 17:35] kddevin commented on #1939
@crtrott How hard would it be for us to check the fix proposed above by @tmdelellis ?  Could we easily work it into one of your existing test builds?

[2017-11-03 17:47] mhoemmen commented on #1937
@dlkarnit Would a more accurate title be "MueLu behavior changed between 12.10.1 and develop, such that preconditioner setup now fails with a singular matrix"?

[2017-11-03 17:54] dlkarnit commented on #1937
That feels right. My first two posts describe the crash region. I looked a bit at the history of the  Trilinos/packages/amesos2/src/Amesos2_KLU2_def.hpp source and noticed recent changes from issue #1127 that are directly causing the crash (though may not be actually responsible).

[2017-11-03 17:56] mhoemmen commented on #1939
@kddevin The issue is that it requires a build that has CUDA enabled in Kokkos, but disables CUDA _instantiations_ (yet builds with CUDA) in Trilinos.  CUDA builds are much slower than non-CUDA builds, so this Dashboard build would waste resources that would be better spent on CUDA-enabled build combinations.  This is why I would be happy to take a pull request or at least hear that the proposed f

[2017-11-03 17:58] mhoemmen commented on #1937
@dlkarnit I adjusted the title a bit to include your investigations of Amesos2.  Thanks for reporting!

@trilinos/muelu @trilinos/amesos2

[2017-11-03 18:43] kddevin commented on #1939
Perhaps it could be exercised once in @crtrott 's tests more easily than having another Tpetra team member create a brand new build to test a pull request.  I did not intend that it should be a new nightly test on the Dashboard.

[2017-11-03 18:58] mhoemmen opened #1946 "KokkosAlgorithms: CMake issue in unit tests"
See https://github.com/kokkos/kokkos/issues/1212 .  This issue hinders testing Kokkos in Trilinos.  I am working on a fix in Kokkos; I'll push it first to Trilinos, then submit a PR to Kokkos.

[2017-11-03 18:59] mhoemmen commented on #1939
@kddevin that's fine.

[2017-11-03 19:11] mhoemmen commented on #1946
I just pushed a fix to Trilinos:develop.  I pushed without running the tests, because the build was broken.  This was a minor change to a single CMakeLists.txt file.

[2017-11-03 19:12] #1946 closed

[2017-11-03 19:25] mhoemmen commented on #1946
The following pull request will fix this issue in kokkos:develop: https://github.com/kokkos/kokkos/pull/1213

[2017-11-03 20:12] bartlettroscoe opened #1947 "ShyLU_Node and ShyLU_DD configure failures after TriBITS update"
**CC:** @trilinos/shylu

**Description:**

After my TriBITS update in the commit 9403c2a (which added stronger checking for correct usage of TriBITS, see TriBITSPub/TriBITS#200 and TriBITSPub/TriBITS#232), the ShyLU_Node and ShyLU_DD packages showed configure failures for all of the builds today as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-11-03&display=pro

[2017-11-03 20:16] bartlettroscoe commented on #1947
As shown at:

* https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3195171

the tests `ShyLU_NodeTacho_Tacho_TestSerial_double_MPI_1` and `ShyLU_NodeTacho_Tacho_TestSerial_dcomplex_MPI_1` are already failing so I will disable them in my local testing and push.

[2017-11-03 20:18] bartlettroscoe commented on #1947
This has been fixed with the push shown below.

Putting into review.

@ccober6, can you confirm that your configure of Trilinos is now working?

[code]

[2017-11-03 20:25] ccober6 commented on #1947
Got through the configure!  It is now compiling.  Let you know how it goes.

[2017-11-03 20:26] bartlettroscoe commented on #1947
I should have tried to test ST packages in addition to PT packages when I pushed these TriBITS changes.   That was bad because these types of errors in the usage of TriBITS are most likely to be in non-PT packages.  That was sloppy on my part.  I forget that with the SEMS env, you can actually build and test quite a few ST packages and many of these packages are tested in "Clean" and "Nightly" Tri

[2017-11-03 22:02] bartlettroscoe commented on #1788
FYI: New TriBITS checks pushed in trilinos/Trilinos@e2b8a39 automatically catch mistakes like this right away at the source.  Hopefully these checks will save lost time and productivity like this in the future.

[2017-11-03 22:22] ccober6 commented on #1947
Add Roger @rppawlo

Well I get a couple errors like

/Users/ccober/myOffice/Trilinos/packages/shylu/shylu_node/tacho/src/TachoExp_Blas_External.hpp:71:8: error:
      conflicting types for 'sgemm_'
  void F77_BLAS_MANGLE(sgemm,SGEMM)( const char*, const char*,
       ^
and

/Users/ccober/myOffice/Trilinos/packages/shylu/shylu_node/tacho/src/TachoExp_Blas_External.hpp:78:8: error:
      conflicting

[2017-11-03 22:24] bartlettroscoe commented on #1947
That should be unrelated to the TriBITS changes merged into Trilinos.  What was the last version of Trilinos where this worked?

[2017-11-03 22:27] ccober6 commented on #1947
Yeah, I do not know.  This brings me to my next lesson in learning git.  Can you point me to a tutorial?

[2017-11-03 22:29] bartlettroscoe commented on #1947
Try looking at:

[code]

That will show `HEAD` for recent history.  You might get lucky and see it from that.  Otherwise, again, if you did not record that version somehow, it will be hard to know.

[2017-11-03 22:32] bartlettroscoe commented on #1947
There is always `git bisect`.  To bisect cleanly with Trilinos, you really need to bisect on known-tested commits.  Turns out we know what commits are tested because of the usage of checkin-test.py See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#using-git-bisect-with-checkin-test-py-workflows

Not claiming that is easy to do but it is a guaranteed way to find the range of commits (usua

[2017-11-04 17:29] nschloe opened #1949 "spelling errors (in binaries)"
Debian's lintian tool found the following spelling errors in binaries:
[code]
Grepping for `occurence` in the entire source code will reveal more errors in doc files etc. See PR #1938.

[2017-11-06 00:43] mhoemmen commented on #1905
I added a page to the Trilinos wiki with this explanation:  https://github.com/trilinos/Trilinos/wiki/Building-with-warnings-as-errors,-excluding-deprecated-warnings

Please feel free to move it to wherever it may belong.  Thanks Ross! :-D

[2017-11-06 00:43] #1905 closed

[2017-11-06 13:32] rppawlo commented on #1947
@ccober6 - none of our testing relies on shylu at this point. You should be able to disable for the time being to make progress.

cc'ing shylu team - @srajama1 @kyungjoo-kim @trilinos/shylu

[2017-11-06 17:41] srajama1 commented on #1947
github notifications are being weird again. I didn't get any notifications from github in the last few days and came to check on the website. May be @kyungjoo-kim has the same problem as well.

[2017-11-06 17:50] srajama1 commented on #1937
@dlkarnit : Just seeing the issue due to some github notification issues (I am not getting any e-mails from github). May be it is the same problems with @ndellingwood and @jhux2 or @csiefer2 as well.

[2017-11-06 18:24] bmpersc commented on #1935
@kyungjoo-kim, please let me know if you will be able to address this today. This has been failing for a while and is the only issue with the current clean builds. We need to address this either with a fix or backing out the offending change before the next set of nightly tests run.

[2017-11-06 18:37] srajama1 commented on #1935
@bmpersc : You said  " We need to address this either with a fix or backing out the offending change before the next set of nightly tests run."

Why ? We were not getting any notifications for the past few days, and as you can see I assigned it to him 37 minutes ago. It appears fixable, but I would like to understand the reason behind that statement. Are we going to use a 5 day rule (from when the

[2017-11-06 18:38] mperego commented on #1899
This should be fixed now. @mhoemmen let me know if this is not the case.

[2017-11-06 18:38] #1899 closed

[2017-11-06 19:31] VictorEijkhout opened #1958 "SuperLU support"
[code]

However, then

[code]

[2017-11-06 19:34] jmgate commented on #1558
Closing due to lack of response.

[2017-11-06 19:34] #1558 closed

[2017-11-06 19:40] jmgate commented on #1608
@rppawlo, any ETA on a preconditioner catastrophic failure exception in Thyra or Stratimikos that NOX or LOCA can then catch?

[2017-11-06 19:40] aprokop commented on #1958
@trilinos/amesos

[2017-11-06 19:53] srajama1 commented on #1958
Yes, this is a version mismatch. We support 4.3 through Amesos2.

The changes to external libraries are not always consistent. They have changed interfaces even in minor versions. Can you use 4.3 and Amesos2 ?

@MicheldeMessieres

[2017-11-06 20:46] srajama1 commented on #1826
I would like to keep this open until #1782 is done.

[2017-11-06 20:58] bartlettroscoe commented on #1608
All that needs to be done on the Thyra side is to define the exception class Thyra::LinearOpApplyFailed and then document it in the Thyra::LinearOpBase::apply() function documentation.  Then subclasses of Thyra::LinearOpBase need to throw an exception of that type and clients of Thyra::LinearOpBase need to catch exceptions of that type.

@jmgate, can you take a stab at updating the Thyra_OperatorV

[2017-11-06 21:03] mhoemmen opened #1959 "Tpetra: Help users who want different "global key" types"
@trilinos/tpetra

See discussion here: https://github.com/gahansen/Albany/issues/214

The immediate issue is that DTK uses unsigned integers for global indices, while Tpetra prefers signed integers for its `GlobalOrdinal` template parameter.  Furthermore, Tpetra developers would prefer to define the global index type as a single typedef, rather than letting users pick it via template parameter.

I

[2017-11-06 21:04] kyungjoo-kim commented on #1935
@hcedwar @ibaned @srajama1 @bmpersc

This seems to be a kokkos error.
[code]

[2017-11-06 21:09] jmgate commented on #1608
Yup, I'll give it a shot.

[2017-11-06 21:19] kyungjoo-kim commented on #1935
In my print statement
[code]
I think that all parameters are correct but this not okay comparison is weird.

[2017-11-06 21:57] mhoemmen opened #1960 "Tpetra: Add Tpetra_ENABLE_CUDA CMake option"
@trilinos/tpetra

See #1939.  If we want it to be possible for `TPL_ENABLE_CUDA` to be `ON` but `Kokkos_ENABLE_Cuda` to be off, then it would help to have a Tpetra CMake option that says whether Tpetra is allowed to use CUDA.  I would propose calling this `Tpetra_ENABLE_CUDA`.

`tpetra/CMakeLists.txt` claims already to define `TpetraCore_ENABLE_CUDA` (see e.g., https://github.com/trilinos/Trilinos

[2017-11-06 22:23] ibaned commented on #1935
It makes sense to me. A superblock must be at least as big as a block. therefore, the minimum superblock size must be at least as big as the maximum block size.

[2017-11-06 22:28] kyungjoo-kim commented on #1935
@ibaned

Oh...... you are right. I did not set the parameter correctly. It used to be working though. I think that Kokkos constructor used to set (override) the max_block_size according to the superblock size. Instead of we get this error when the pool attempts to allocate it, can we check the error in the constructor level ?

[2017-11-06 22:32] kyungjoo-kim commented on #1935
@bmpersc

This should fix the test failure.

[2017-11-06 22:33] mhoemmen commented on #1939
@tmdelellis Pull request #1961 purports to fix this issue.  Could you please take a look and see if it would actually fix it for your use case?  Thanks!

[2017-11-06 23:01] jwillenbring commented on #1935
@srajama1, @bmpersc is expressing a draft ideas of policies associated with the various tracks. The current thought for the clean branch is that all issues should be resolved in not more than 1 working day, if not sooner. However, we anticipate that the pull request testing will cover the clean cases eventually, leaving only very limited situations where any changes will get in that break the clea

[2017-11-06 23:13] srajama1 commented on #1935
@jwillenbring : If the policy is going to be one day then it is good. I was just surprised by the timing of the comment. The issue was sitting there for five days and right after I assigned it, a fix was requested right away. Yes, pull request testing would have caught this. As you can see @kyungjoo-kim has fixed the failing test already. Please close this after clean tests pass.

BTW, please let

[2017-11-06 23:46] hkthorn commented on #1289
While the Basker solver works for completing the simulation of a power grid network in Xyce, there are other circuits/networks for which the Basker solver fails to enable a simulation to complete.  Sequences from other circuits, for which ShyLU Basker fails, are available to test the issue.

[2017-11-07 05:24] VictorEijkhout commented on #1958
I thought that with your progress message
[code]
there'd be some version tolerance.

Anyway. PETSc 3.8 has SuperLU 5.1. Does that work for you? I'm still rebuilding petsc so I may find out shortly.

[2017-11-07 16:12] ndellingwood commented on #1937
@srajama1 @dlkarnit This came up in issue #1827. @bathmatt had a similar diagnosis for an issue detected by a debugger (KLU2 received a singular matrix and deleted the Numeric object causing the null field). When I investigated that case, the matrix being given to Amesos2 was singular, which I'm guessing is likely the case here, and the singular matrix comes 'upstream' before the matrix is passed

[2017-11-07 16:18] aprokop commented on #1937
@srajama1 Are there any pseudo-inverse solvers in Amesos2 or in some of the Trilinos TPLs?

[2017-11-07 16:23] ndellingwood commented on #1958
There is a PR #1643  for SuperLU 5 support ready pending some review/comments from @trilinos/framework @jwillenbring @bmpersc - would one of you have time to take a look?

[2017-11-07 16:23] csiefer2 commented on #1925
@jhux2 is playing in a box related to this, namely checking valid inputs to the Tpetra::Import constructor (again DEBUG only)

[2017-11-07 16:24] kyungjoo-kim commented on #1935
A few things about this issue. Tacho is EX state and it is not going to be compiled with check-in script. Does this mean that any pull request test compiles all packages including packages with the EX state ?

This runtime error does not pop up before and it used to be okay. With the recent kokkos promotion, kokkos memory pool has additional error checking for using 64bit integer that allows 2GB a

[2017-11-07 16:24] egboman commented on #1937
Do you really want to solve singular systems? One work-around is to perturb to make the matrix non-singular, e.g. add a small diagonal shift.

[2017-11-07 16:25] srajama1 commented on #1937
Nope, not in ones we have. It might be an option in some TPL, but it is not something I have gone looking for. Why did this "work" before ?

[2017-11-07 16:25] ndellingwood commented on #1937
@srajama1 I'm having github notification issues too, here's a link to wiki PR #1674 with steps for contacting github to fix (I just submitted fix request)

[2017-11-07 16:31] dlkarnit commented on #1937
@egboman I do want to solve a singular system. My concern was that in 12.10.1 my code did not crash, and now using the current develop branch it does crash. I had to change the coarse solve type to CHEBYSHEV to solve the system on the develop branch. My particular problem is the singular matrix that arises from a 3D Poisson problem.

[2017-11-07 16:31] egboman commented on #1937
Is the problem here a zero on the diagonal? There are other singular matrices...

[2017-11-07 16:32] ndellingwood commented on #1958
Excellent! I'll had only tested with 5.0, will get a 5.1 test going

[2017-11-07 16:33] dlkarnit commented on #1937
@csiefer2 @egboman I do have a number of rows in my matrix that are all zero, I have not made an effort to trim them out.

[2017-11-07 16:34] csiefer2 commented on #1937
@dlkarnit If that's the only problem, then the "rap: fix zero diagonals" will fix that.

[2017-11-07 16:44] srajama1 commented on #1937
@dlkarnit : Are you saying you had zero rows and it worked in 12.10.1 ?

[2017-11-07 16:49] VictorEijkhout commented on #1958
Cool. I'm not in a great hurry, and for now petsc is breaking my compiler anyway....

[2017-11-07 17:03] jhux2 opened #1962 "MueLu: configure failures on geminga"
MueLu is failing to configure on geminga, e.g., https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3206075.   I've commited a fix, and the checkin script is running.

[2017-11-07 17:05] dlkarnit commented on #1937
@srajama1 Yes.

@csiefer2 If I manually change the diagonal to 1 for the empty rows in the matrix set up I can use the default smoother for "Poisson-3D" without a crash. Which parameter list does the "rap: fix zero diagonals" need to go into? It did not work when I added it to the MueLu preconditioner parameter list.

[2017-11-07 17:07] kyungjoo-kim commented on #1947
The error may happen when a cpp file includes the tacho blas layer (separated from teuchos) and teuchos blas wrapper header or other BLAS interface declared in other header files (I dont know which header is duplicated as I do not see the full error message). If this is not urgent, I will fix this problem later.

[2017-11-07 17:21] ibaned commented on #1935
@kyungjoo-kim here is the Trilinos configuration used in the Kokkos promotion:
https://github.com/trilinos/Trilinos/blob/master/sampleScripts/Sandia-SEMS/configure-testbeds-jenkins-all
Is something missing there to enable Tacho? If so we'll add it

[2017-11-07 17:25] kyungjoo-kim commented on #1935
Yes. Tacho should be explicitly enabled. Amesos2 has interface to Tacho but it is optional and it is not enabled by default. Could add the following lines ?
[code]

I guess that Tacho is the only package that uses kokkos tasking aggressively.

[2017-11-07 17:38] ibaned commented on #1935
done!

[2017-11-07 17:42] srajama1 commented on #1935
I would like to change Tacho to ST as well. It is blocked because of TPL dependencies #1782

[2017-11-07 17:42] srajama1 commented on #1935
@ibaned : Thanks!

[2017-11-07 18:04] jhux2 commented on #1962
Commit 5b0fe647 is pushed.  Once I've verified cmake runs without error on the overnight tests, I'll close this issue.

[2017-11-07 18:10] william76 opened #1965 "Stratimikos: Stratimikos_test_amesos_thyra_driver_MPI_1 failed test on clean track"
@trilinos/stratimikos

[Stratimikos_test_amesos_thyra_driver_MPI_1](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3204696) failed in overnight testing on the Clean track.

[code]

[2017-11-07 18:25] kddevin commented on #1945
After a quick check, I see that calls to exit from Zoltan are from sanity checks that are controlled by Zoltan code (as opposed to user input); thus, they should not impact application usage.  It would be nice to move these sanity checks into DEBUG ifdef blocks.  Unfortunately, we don't have the time or resources to do so this FY.

[2017-11-07 18:45] aprokop commented on #1965
Does not look like a Stratimikos error, rather something's wrong when running it as it cannot create the sub-directory.

[2017-11-07 19:31] ndellingwood commented on #1958
Once checkin script finishes the PR will be pushed into the Trilinos develop branch; local build/tests passed with SuperLU 5.0 and 5.1.1.

@VictorEijkhout if you're also enabling ML with SuperLU 5.x enabled you'll need to add this configure option (ML does not support SuperLU 5.x):
`ML_ENABLE_SuperLU:BOOL=OFF`

[2017-11-07 19:35] ndellingwood commented on #1255
For reference, if SuperLU 5.0 or 5.1 gets added to testing and ML is enabled as well the following configure option will be needed as ML does not support SuperLU 5.x:
`ML_ENABLE_SuperLU:BOOL=OFF`

[2017-11-07 21:20] ndellingwood commented on #1958
Checkin script finished, PR #1643 now merged into Trilinos develop branch.

[2017-11-07 21:24] ndellingwood commented on #379
PR #1643 merged into Trilinos develop branch with SuperLU 5.0, 5.1.1 support for Amesos and Amesos2.

[2017-11-07 23:24] bartlettroscoe commented on #1965
Looks like a random failure we see from time to time with MPI jobs.

[2017-11-07 23:55] bmpersc commented on #1935
The clean builds showed that these tests are now passing.

[2017-11-07 23:56] #1935 closed

[2017-11-07 23:58] bmpersc commented on #1878
@csiefer2, The windows tests look to be posting regularly again after moving them to a local mirror of Trilinos. Since this is working I have setup some automated syncing for the mirror so that it won't be very far behind the github repo. If everything works tonight I will close this issue...until the next time windows falls down.

[2017-11-08 15:04] ibaned opened #1968 "MueLu timerStack warning with Clang"
This issue was identified by @gahansen, I just reproduced it.
I may be able to come up with a solution soon:
[code]

[2017-11-08 16:01] bmpersc commented on #1878
@csiefer2 The update of the mirror allowed the windows builds to get the most recent Trilinos and that ran as well as expected. I'm closing this for now. If you notice the windows builds misbehaving again please open a ticket about it.

[2017-11-08 16:01] #1878 closed

[2017-11-08 16:47] jhux2 commented on #1962
Nightly configures on geminga are now clean.  Closing.

[2017-11-08 16:47] #1962 closed

[2017-11-08 17:43] mhoemmen commented on #1968
I _hate_ these -- so many of them fill my screen

[2017-11-08 17:59] jmgate commented on #1823
These changes have made it into `master`.  Closing&hellip;

[2017-11-08 17:59] #1823 closed

[2017-11-08 17:59] jmgate commented on #1583
These changes have made it into `master`.  Closing&hellip;

[2017-11-08 17:59] #1583 closed

[2017-11-08 19:56] #379 closed

[2017-11-08 19:57] srajama1 commented on #1958
@VictorEijkhout : I am closing this as we support 5.1.1. Please reopen if you see any problems.

[2017-11-08 19:57] #1958 closed

[2017-11-08 20:10] bartlettroscoe commented on #1583
@jmgate, can we update this to mention that the commit messages on the feature branch `<branchName>` should reference the GitHub Issue ID?  That way, they will get linked back to the original GitHub Issue on GitHub.

The PR is just a mechanism for reviewing the changes and getting them merged but the real tracability should be to the original GitHub Issue.

[2017-11-08 20:43] jmgate commented on #1583
Good thought @bartlettroscoe.  I do this myself, and just assumed others would, but you're right, it should definitely be spelled out.

[2017-11-09 00:30] mhoemmen commented on #1939
I found some minor bugs in #1961.  If this works, then I'll just push to develop and delete that PR.

[2017-11-09 05:13] jhux2 commented on #1937
@dlkarnit Yes, it goes in the MueLu parameter list.  By "it did not work", do you mean that it had no effect, or that the MueLu parameter validator threw an exception?

[2017-11-09 15:04] dlkarnit commented on #1937
@jhux2 It seems to have no effect, the code crashes in the same place.

[2017-11-09 16:41] #1943 closed

[2017-11-09 17:52] bartlettroscoe opened #1976 "Get Trilinos working with CUDA-9.0"
**CC**: @trilinos/framework, @crtrott, @hcedwar, @nmhamster, @bathmatt, @micahahoward

## Next Action Status

This is getting worked in #2706 ...

## Description

This is a high-level issue to coordinate the efforts to get Trilinos working with CUDA 9.0 (CUDA9.0, CUDA-9.0).  There is a driver for this from ATDM application developers (i.e. @bathmatt and @micahahoward).

The Coordinated DevOps for

[2017-11-09 17:55] bartlettroscoe commented on #1976
@bathmatt and @nmhamster, please fill in the motivations above and other details about wanting Trilinos (mostly Kokkos) to work with CUDA 9.

[2017-11-09 18:22] mhoemmen opened #1977 "Tpetra: Build warning in test"
There is a build warning in a Tpetra test: `.../Trilinos/packages/tpetra/core/test/HashTable/computeOffsetsFromCounts.cpp(106): warning: function "<unnamed>::ExecSpaceName<Kokkos::Serial>::name" was declared but never referenced`.  Whether or not it appears depends on which execution spaces Tpetra uses.

@trilinos/tpetra

## Possible Solution

Tie the instantiations of the function in question, to

[2017-11-09 18:39] mhoemmen commented on #1939
I'm at a conference here in town this week and had a little time to work on this.  I fixed the issue (in a more general way), and tested Tpetra configure, build, and test.  I tested two configurations, both with CUDA enabled (`TPL_ENABLE_CUDA:BOOL=ON`).  The first is the usual one, with `Kokkos_ENABLE_Cuda` and `Tpetra_INST_CUDA` both ON.  The second is the use case that @tmdelellis wishes to work

[2017-11-09 19:03] mhoemmen opened #1978 "Intrepid2: Uses Kokkos::Cuda when Kokkos_ENABLE_Cuda is OFF"
I built with CUDA enabled (`TPL_ENABLE_CUDA:BOOL=ON`), but `Kokkos_ENABLE_Cuda:BOOL=OFF` and `Tpetra_INST_CUDA:BOOL=OFF`.  (A user requested this to work: see #1939.)  This resulted in an Intrepid2 build error:
[code]

@trilinos/intrepid2

## Possible Solution

The most likely solution is that Intrepid2 needs to test `Kokkos_ENABLE_Cuda`, not `TPL_ENABLE_CUDA`, when deciding whether to use `Kokkos

[2017-11-09 19:03] mhoemmen commented on #1939
@tmdelellis Note that there is a related Intrepid2 issue: https://github.com/trilinos/Trilinos/issues/1978

[2017-11-09 19:41] mperego commented on #1978
@mhoemmen That test is enabled when Kokkos_ENABLE_Cuda_UVM is ON.
Is it possible that Kokkos_ENABLE_Cuda is off but Kokkos_ENABLE_Cuda_UVM is on? Tha would be weird.

[2017-11-09 20:29] mhoemmen commented on #1939
Fixed in develop; see commit https://github.com/trilinos/Trilinos/commit/294d626d2040e9af9353178cb00506c46b2d25de .

[2017-11-09 20:29] #1939 closed

[2017-11-09 20:30] mhoemmen commented on #1960
Fixed in develop: see commit https://github.com/trilinos/Trilinos/commit/294d626d2040e9af9353178cb00506c46b2d25de .

[2017-11-09 20:30] #1960 closed

[2017-11-09 21:04] mhoemmen commented on #1978
@mperego wrote:

It _is_ weird, but that is exactly what happened ;-) .  The whole use case of #1939 is a bit unusual: the user wants to build Trilinos with the CUDA TPL, while not enabling CUDA in Kokkos.

The only change I would suggest to Intrepid2, is that code that uses `Kokkos::Cuda` (or any CUDA-related memory space or Kokkos feature) _at_ _all_, should test the `Kokkos_ENABLE_Cuda` CMake o

[2017-11-09 22:17] mperego commented on #1978
OK, I see. Hopefully commit  498f603 fixed this. Closing..

[2017-11-09 22:17] #1978 closed

[2017-11-09 22:24] ibaned opened #1979 "MiniTensor: Minimizer recovery can trigger FPEs"
@lxmota (PS - a Trilinos organization team for "minitensor" should be created)

## Expectations

When `Minimizer` fails (due to the functional gradient computation failing for example), it should not trigger floating-point exceptions.

## Current Behavior

If the functional gradient method fails but returns an "uninitialized" gradient vector, the gradient vector actually contains all `NaN` values.

[2017-11-09 22:48] mperego opened #1980 "Reducing dependencies between Teuchos sub packages"
@jwillenbring  @hkthorn, I was trying to reduce to a minimum the dependencies of Intrepid2 and I found that I need to build most of Teuchos in order to use LAPACK wrappers.

In fact Intrepid2 requires TeuchosNumerics, but TeuchosNumerics requires  TeuchosComm which in turn requires TeuchosParameterList that requires TeuchosParser.

I think the reason why TeuchosNumerics depends on TeuchosComm is b

[2017-11-09 23:14] ibaned commented on #1979
Note that we did work around this:
https://github.com/gahansen/Albany/commit/3f77b2f16ed4695582cc8c1402c09bfc0b5b3d52
I just think in general we should discuss the "right" way to exit after failure.

[2017-11-09 23:15] ibaned commented on #1980
@trilinos/teuchos

Maybe an optional dependency from TeuchosNumerics to TeuchosComm?

[2017-11-09 23:34] lxmota commented on #1979
@ibaned @gahansen I agree that we should discuss this.

I use FPEs as a useful tool for debugging in and I prefer that code fails with an FPE close to where the problem occurred. If I mask it or try to recover from it then that obscures what the failure actually is. This is why I like it when FPEs are always caught and I dislike it when they are ignored and NaNs are propagated everywhere. Then it'

[2017-11-09 23:47] jmgate commented on #1608
Added the exception&mdash;working on documentation&hellip;

[2017-11-10 00:11] rrdrake opened #1981 "tpetra classic Kokkos_ConfigDefs.hpp build error in Sierra"
When trying a Trilinos integration into Sierra, I am getting the following error when building Sierra.  Am I missing something obvious?

Recall that we configure and install Trilinos then build against that install, except that we define the configure CPP macros ourselves.  The Trilinos build worked, but the Sierra build is not.

This is using GCC 4.9.3.

Thanks,

-rich

@trilinos/tpetra
@jwillenb

[2017-11-10 00:58] jhux2 commented on #1981
@trilinos/tpetra

[2017-11-10 05:25] mhoemmen commented on #1981
@rrdrake What's a `Kokkos::Compat::TPETRA_DEPRECATED`?  It looks like the macro is not getting defined correctly in the Jamfile.

[2017-11-10 05:28] mhoemmen commented on #1980
I'm OK with you creating a new subpackage for the Matrix Market stuff.  As far as I know, the only customer right now of that is Tpetra, but now it's part of the public interface of Teuchos.  We could move it to Tpetra, and deprecate in Teuchos, or we could make a new subpackage in Teuchos and put it there, or both.

[2017-11-10 05:30] mhoemmen commented on #1978
Thanks @mperego !

[2017-11-10 14:11] bartlettroscoe commented on #1761
FYI: The default CMake for Travis CI is now up to cmake-3.9.2.  See TriBITSPub/TriBITS#240.

[2017-11-10 14:14] rrdrake commented on #1981
@mhoemmen That was it.  I defined TPETRA_DEPRECATED and the error goes away.  Thanks!

[2017-11-10 15:38] mhoemmen commented on #1981
@rrdrake Wait a second, does this mean that Sierra would _never_ see Trilinos' deprecated warnings, even if we enabled them?

At the very least, this means that Tpetra has never used a deprecated macro since Sierra first enabled Tpetra.  The deprecated macros come from TriBITS and are package-specific.  (This means that you can enable or disable deprecated warnings per package.)

[2017-11-10 16:53] rrdrake commented on #1981
@mhoemmen Well a grep of all the bjam files for the word DEPRECATED shows

To get the builds working for Trilinos master, I had to add

[2017-11-10 17:15] mhoemmen commented on #1981
@rrdrake Ah, I think I get it.  That macro wasn't used in the TpetraClassic _subpackage_ before.  Thanks! :-D

[2017-11-10 17:15] #1981 closed

[2017-11-10 20:53] CamelliaDPG opened #1982 "Panzer: enforce Intrepid2_ENABLE_KokkosDynRankView requirement during CMake configure"
Panzer will not build properly if `Intrepid2_ENABLE_KokkosDynRankView` is set to `OFF` during CMake configure, but the configure succeeds if it is set that way.  It would be better if the configure failed with an error indicating the requirement.

@trilinos/@panzer

[2017-11-11 00:36] jhux2 commented on #1982
@trilinos/panzer

[2017-11-11 01:32] mperego commented on #1982
@CamelliaDPG That's an old option used while refactoring Intrepid2.
Now Intrepid2 only supports Kokkos::DynRankView containers, so we should get rid of that option.
Looking at the code, it seems to me that Panzer uses that option only to decide whether to build or not a few tests. What error do you get if `Intrepid2_ENABLE_KokkosDynRankView` is `OFF`?

[2017-11-11 06:34] mperego commented on #1982
Commit  34d1aaa should have fixed this by removing that option. I'm closing the issue.

[2017-11-11 06:34] #1982 closed

[2017-11-11 22:56] rrdrake opened #1983 "New compilation error in stratimikos Thyra_Amesos2LinearOpWithSolveFactory.cpp"
I'm getting a new error when compiling Trilinos with GCC 4.7.3

[code]
Full log: [trilinos_build_error.txt](https://github.com/trilinos/Trilinos/files/1464203/trilinos_build_error.txt)

@trilinos/stratimikos
@trilinos/amesos2

[2017-11-12 01:48] rrdrake commented on #1983
If it helps, the same file fails to compile with Intel 17:

[2017-11-12 06:07] mhoemmen commented on #1983
Trilinos requires at least GCC 4.8.4 for anything downstream of Kokkos, which Amesos2 is (at least optionally, assuming that Tpetra is enabled).

[2017-11-12 15:39] rrdrake commented on #1983
Very good.  I can do that.  What about Intel 17?  Is that a different issue?

[2017-11-12 18:10] rrdrake commented on #1983
For GCC 4.9.2, I get

[code]

and a little later

[code]

[2017-11-12 19:08] mhoemmen commented on #1983
@rrdrake Intel 17 needs to work.  Also, those build errors look like legit bugs.  Thanks for reporting!

[2017-11-12 21:04] mhoemmen commented on #1983
"Well, _here's_ your problem":

https://github.com/trilinos/Trilinos/blob/34d1aaae0b563cf625387495940f0c8fdee9f069/packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2LinearOpWithSolveFactory_def.hpp#L340

`fwdOpSrc` (no underscore) is templated on `Scalar`, which is `float` in your case.
[code]

It may be enough to change `double` to `Scalar` here, but I'm not sure whether that will work with

[2017-11-12 21:07] mhoemmen commented on #1983
OK, this _should_ be fine, since `extract_fwdOpSrc` for Amesos2 returns something templated on `Scalar`:

https://github.com/trilinos/Trilinos/blob/34d1aaae0b563cf625387495940f0c8fdee9f069/packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2LinearOpWithSolve_decl.hpp#L112

The method's _documentation_ is wrong (uses only `double`), but the syntax looks OK.

[2017-11-12 22:45] mhoemmen commented on #1883
**bump**
I'm getting spurious build failures on ascic141 with the `Linux-GCC-4.7.2-openmpi-1.6.5_Debug_DEV_Werror` build.  The reported build error is clearly wrong and likely a compiler bug.  Could someone please disable Kokkos and downstream packages for this build, or show me how to do it?  Thanks!

[2017-11-12 22:51] mhoemmen opened #1984 "MueLu: Failing sparse matrix-matrix multiply test: "RAP" not recognized"
Tpetra's sparse matrix-matrix multiply test is failing, in a build with kokkos-kernels' "experimental" option enabled.  It looks like the test doesn't recognize the "RAP" option for the operation.  RAP likely stands for the matrix triple product, so I have assigned this issue to @cgcgcg .  Thanks!

Here is an example of a failing test:

https://testing.sandia.gov/cdash/testDetails.php?test=4267460

[2017-11-12 23:03] mhoemmen commented on #1983
@rrdrake I just pushed a fix to the develop branch, in commit https://github.com/trilinos/Trilinos/commit/efd9284bfe8dc4f9bfc7e41fcab441da70abe08c .  Please feel free to reopen if this is still an issue for you.  Thanks!

[2017-11-12 23:03] #1983 closed

[2017-11-13 02:00] rrdrake commented on #1983
Thanks @mhoemmen !

[2017-11-13 15:42] cgcgcg commented on #1984
That's indeed the triple matrix product. I don't remember seeing the failure on the dashboard before, but looking at the code, I don't see how it could have passed in debug mode. Funky.

[2017-11-13 16:21] prwolfe opened #1985 "Update c standard for Trillinos from c99 to c11."
A number of trillinos files do not compile cleanly with c99 and since we are using c++11 I think it would be best to simply advance the c standard as well.  This was previously addressed in #1810 and #1974

@trilinos

## Expectations

All Trilinos codes should build without warnings and links should be expected to complete or fail based on the language specification given.

## Current Behavior

Bu

[2017-11-13 17:09] csiefer2 commented on #1937
Huh.  The fix zero diagonals should do basically what you did by hand.

@jhux2 Does the MueLu Dirichlet detection do the right thing for completely zero rows, or do you really need a one on the diagonal?

[2017-11-14 17:36] prwolfe opened #1986 "Amesos2 builds example using Epetra_CrsMatrix despite being passed -DAmesos2_ENABLE_Epetra=OFF"
@trilinos/amesos2

## Expectations

I would like this not to build the example or a different matrix type to be used when CrsMAtrix is unavailable.

## Current Behavior

See https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3218963 to view the current error.

## Motivation and Context

This keeps the Sierra representative builds from completing cleanly. We would like to move them up out

[2017-11-14 17:45] srajama1 commented on #1986
All of us are at SC this week, but will get to this as soon as we can.

@MicheldeMessieres : Both @ndellingwood and I are at SC. Do you have some time to look at this ?

[2017-11-14 19:15] hkthorn commented on #1986
@srajama1 @prwolfe I was in the neighborhood looking at an Amesos2 issue of my own and found this.  The tests that are failing to build are guarded by an ifdef on EpetraExt.  Historically, it has been presumed that if EpetraExt has been built, then Epetra is also built.  In looking at the configure script for this build, Epetra is neither explicitly enabled or disabled.  However, EpetraExt is expl

[2017-11-14 22:17] srajama1 commented on #1986
@hkthorn I would appreciate it if you can take care of the additional logic.

[2017-11-14 22:38] hkthorn commented on #1986
@srajama1 @prwolfe This should be fixed now.  I will wait for testing before closing.

[2017-11-14 23:01] hkthorn opened #1987 "Amesos2 KLU2 does not build with -DTeuchos_ENABLE_COMPLEX:BOOL=ON"
@trilinos/amesos2  The Amesos2 KLU2 solver fails to build with complex arithmetic enabled.  A very simple build of Amesos2 with KLU2 enabled, using this configure script:

cmake \
-DCMAKE_C_COMPILER=gcc-4 \
-DCMAKE_CXX_COMPILER=g++-4 \
-DCMAKE_Fortran_COMPILER=gfortran \
-D Trilinos_ENABLE_Amesos2:BOOL=ON \
  -D Amesos2_ENABLE_KLU2:BOOL=ON \
-D Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES:BOOL=OFF \
-D T

[2017-11-15 14:54] rppawlo opened #1988 "Teuchos: build failures due to removal of std header includes from Teuchos_Config"
Seeing lots of failures in trilinos builds for drekar this morning.

Will put up a PR shortly with a bunch of fixes. This affects many packages.

[2017-11-15 14:55] rppawlo commented on #1988
@mhoemmen

[2017-11-15 15:10] cgcgcg commented on #1984
Ok, I think I got it.

[2017-11-15 15:10] #1984 closed

[2017-11-15 15:13] ibaned commented on #1988
Albany is seeing this too, our build with the Cray compiler failed.

http://my.cdash.org/viewBuildError.php?buildid=1323314

It looks like `Teuchos_CommandLineProcessor.hpp` needs to include`<vector>`, I guess `<numeric>` was hiding this before.

[2017-11-15 15:16] ibaned commented on #1988
@rppawlo please let me know if you put up a PR, I'd like to grab that if its available.

[2017-11-15 15:26] rppawlo commented on #1988
Still building - finding more issues in panzer at the moment. It should be up in the next 15 minutes

[2017-11-15 15:41] rppawlo commented on #1988
@ibaned - PR is up, #1989 . I might have a few more as we build more apps like Charon.

[2017-11-15 16:42] mhoemmen commented on #1988
Well, I had to do this somehow.  @prwolfe has been wanting this for years.  Should `Teuchos_ConfigDefs.hpp` really include every single possible header file?

[2017-11-15 16:43] mhoemmen commented on #1988
@ibaned wrote:

Huh, I tested TeuchosCore and everything downstream from it in Trilinos.

[2017-11-15 16:45] ibaned commented on #1988
@mhoemmen this only fails for Albany with the Cray compiler. I think different compilers have different amounts of tolerance for not including STL headers, it may be that GCC includes `<vector>` from some other STL header thats already included. I don't know how many configurations @rppawlo sees failures in.

[2017-11-15 16:45] rppawlo commented on #1988
@mhoemmen - not complaining. It's great that you did this! Hoping it drops compile times. I've got the checkin test script running now for PR. I put this issue up so that multiple people don't spend time fixing the same issues.

[2017-11-15 16:46] ibaned commented on #1988
Yea, I agree this is a good move.

Which was definitely also a good move, because I was about to try fixing the same issues.

[2017-11-15 16:47] rppawlo commented on #1988
I'm running gcc 7.2 and they recently cleaned out stl includes so this might only be needed for more recent compilers than we test with sems.

[2017-11-15 16:48] mhoemmen commented on #1988
@rppawlo Huh, that's weird.  I looked at your PR and it looks fine to me.

C++14 / 17 may have changed what standard headers include what other standard headers.

[2017-11-15 16:50] ibaned commented on #1988
@trilinos/framework should probably add a build (not sure if `Specialized` or `Clean`) that uses GCC 7.2. Several Albany (and apparently Drekar) developers have adopted this compiler, and it will only become more popular over time.

[2017-11-15 16:52] mhoemmen commented on #1988
@rppawlo I approved your PR.  Thanks for the fixes.

[2017-11-15 16:52] #1988 closed

[2017-11-15 16:55] ibaned commented on #1988
@mhoemmen : I think @rppawlo was already running the checkin script which would have merged his PR. We need to be careful not to doubly merge things.
@rppawlo : since @mhoemmen just merged it manually, can you please kill your checkin script?

[2017-11-15 17:09] rppawlo commented on #1988
Thanks for the heads up. I just killed the checkin-test script. Thanks for merging too!

[2017-11-15 17:14] mhoemmen commented on #1984
Thanks @cgcgcg !

[2017-11-15 18:19] hkthorn commented on #1986
@prwolfe @srajama1 @ndellingwood I fixed the build for the Epetra tests/examples, but now the build failure is a duplicate of #1987.

[2017-11-15 21:51] guoluanjing opened #1991 "Using NOX Matrix-Free Solver with User-provided Preconditioning Matrix"
@trilinos/<nox/epetra>

## Expectations

Applying right preconditioning (with user-provided matrix P) to the current linearized equation system **Ju = -F** as follows:
**J P^-1 Pu = -F**,
and use Matrix Free Newton Krylov solver to solve it in three steps:
1) linear solver to solve P^-1 v = y, or equivalently Py = v, for y;
2) approximate matrix vector product J P^-1 v = [ F(u + epsilon * P^-1 v)

[2017-11-15 21:55] aprokop commented on #1991
@trilinos/nox @rppawlo

[2017-11-16 14:37] rppawlo commented on #1991
When you supply the preconditioner operator, do you plan to do the inverse operation yourself or do you want to supply just the approximate Jacobian matrix and then use an internal preconditioner such as ifpack of ml for the the inverse? Either use case should work fine. The latter does not have an example for the epetra adapters, but does for thyra adapters. I will add one today to the 1dfem exam

[2017-11-16 14:51] guoluanjing commented on #1991
@rppawlo We would like to only supply the approximate Jacobian matrix and use an internal preconditioner. An example would be great.

Here is the parameter list:
************************************************************************

-- Parameters Passed to Nonlinear Solver --

     Nonlinear Solver = Line Search Based
     Printing ->
      MyPID = 0
      Output Precision = 3
      Output Proc

[2017-11-16 14:57] rppawlo commented on #1991
From the parameter list it looks like the preconditioner is disabled. Your "Preconditioner" is set to "None" in the linear solver sublist. Try setting that to "New Ifpack". There is an example of this use case in the file:

Trilinos/packages/nox/test/epetra/1Dfem/1DfemLeanMatrixFree.C

except that the preconditioner is set to "None" in this example too. To enable the preconditioner in this example

[2017-11-16 15:02] rppawlo commented on #1991
Resending the diff - didn't protect it properly in the issue.

[code]

[2017-11-16 15:11] jwillenbring commented on #1988
@ibaned I agree we will need a GCC 7.2 build. Generally we like to wait until we have something beyond the .0 release. If you see 7.2.1 come out, please file a ticket to add a build, or to SEMS to add a compiler to the NFS mount.

[2017-11-16 15:30] jwillenbring commented on #1883
All GCC 4.7.2 build should be absent from the dashboard starting tomorrow. If not, please reopen the ticket. Thanks for your patience.

[2017-11-16 15:30] #1883 closed

[2017-11-16 15:31] guoluanjing commented on #1991
Hi Roger @rppawlo, I tried to set the preconditioner to be "New Ifpack", the simulation that was converging fine before has now failed to converge. I'm sending you the current output.

Should I reset the parameters in the preconditioner? And if yes, how would I go about doing that?

Here are the parameter list values:
************************************************************************

-- Par

[2017-11-16 15:46] ikalash opened #1993 "Trilinos compilation error due to TriKota"
I built Trilinos with TriKota as a part of Albany nightly testing.  Last night, I got the following compilation error due to TriKota:

[code]

[2017-11-16 16:22] mhoemmen commented on #1993
Uh oh... taking header files out of Teuchos_ConfigDefs.hpp may have broken Dakota.  It wouldn't have broken Dakota as a stand-alone product, since they snapshot in (and patch) their own Teuchos, but it might have broken Dakota built as TriKota.

@briadam help what do I do?

[2017-11-16 17:04] rppawlo commented on #1991
As a sanity check, can you fix your preconditioning matrix to identity for the entire run? Then you should get the same result as if preconditioning is off but still run through all the preconditioner machinery.

[2017-11-16 17:48] guoluanjing commented on #1991
Will do. Before that, just to double check the machinery has been utilized
correctly. The constructor of
NOX::Epetra::LinearSystemAztecOO::LinearSystemAztecOO
( Teuchos::ParameterList
<https://trilinos.org/docs/dev/packages/teuchos/doc/html/classTeuchos_1_1ParameterList.html>
 &  printingParams,
Teuchos::ParameterList
<https://trilinos.org/docs/dev/packages/teuchos/doc/html/classTeuchos_1_1Paramet

[2017-11-16 17:52] ibaned commented on #1988
@jwillenbring I think that policy needs revisiting. According to [this page](https://gcc.gnu.org/releases.html), there have been no three-number releases for major versions 5, 6, or 7.

[2017-11-16 17:53] guoluanjing commented on #1991
Will do. But before that,  just to make sure the preconditioner machinery has been utilized correctly:
do I pass the preconditioning matrix A (an Epetra::CrsMatrix object) into the LinearSystemAztecOO as the EpetraOperator M?

[2017-11-16 17:58] ibaned commented on #1988
@jwillenbring please see "Version Numbering Scheme for GCC 5 and Up" on [this page](https://gcc.gnu.org/develop.html). The patch number is now just for internal GCC developers to denote stable versus experimental, all releases to the public appear to be two-number.

[2017-11-16 18:04] ibaned commented on #1968
#1969 was merged, this warning should disappear now. Please comment here if you still see it with Trilinos develop or master.

[2017-11-16 18:04] #1968 closed

[2017-11-16 18:25] rppawlo commented on #1991
Yes - that is correct. At a minimum, it must be an EetraOperator. To use internal preconditioners like  ifpack or ml, we need to cast the matrix to an Epetra_RowMatrix. The CrsMatrix derives from that class.

[2017-11-16 20:14] guoluanjing commented on #1991
Hi Roger @rppawlo, I did the sanity check. The identity matrix works and outputs results that are essentially the same to the case with no preconditioning. So from here, what do you suggest me do in order to get my actual preconditioning matrix working?

[2017-11-16 20:42] guoluanjing commented on #1991
Actually, this is interesting. Is it possible that with an identity preconditioning matrix the numerical performance is better (less nonlinear iterations)?

[2017-11-16 20:58] mhoemmen opened #1994 "ROL: Patch including <fstream> where needed"
Some ROL files implicitly depend on `Teuchos_ConfigDefs.hpp` to include `<fstream>`.  It wastes build time to include headers that most files don't need.  The attached patch includes `<fstream>` where needed in ROL.  "Where needed" is based on enabling TeuchosCore and letting Trilinos' check-in test script enable all downstream packages, including ROL.

Here is the patch:
[code]

@trilinos/rol

##

[2017-11-16 21:32] mhoemmen opened #1995 "Remove use of HAVE_COMPLEX macro"
Anasazi, Belos, and Stratimikos all use the `HAVE_COMPLEX` macro.  This is defined (unconditionally!) in `Teuchos_ConfigDefs.hpp`, where a comment marks it as a backwards compatibility measure.  This macro pollutes the global namespace; let's get rid of it.

@trilinos/anasazi @trilinos/belos @trilinos/teuchos

## Motivation and Context

It's bad to pollute the global namespace with macros, especia

[2017-11-16 21:42] mhoemmen opened #1996 "ROL: Suspicious build warning (conversion of 1.0e-4 to 0)"
The following build warning looks suspicious:
[code]

@trilinos/rol

[2017-11-17 00:34] csiefer2 opened #1997 "MueLu: Move PerfUtils::PrintMatrixInfo stuff to Extreme output (rather than high)"
MPI-P results suggest that these guys represent around 20% of the total number of call locations in the MueLu driver (setup only) when run with high verbosity --- we get load balance and comm info for P and Ac.

For example:
    P size =  1700 x 204
     P Load balancing info
     P   # active processes: 2/2
     P   # rows per proc   : avg = 8.50e+02,  dev =   0.0%,  min =   +0.0%,  max =   +0.0%

[2017-11-17 00:42] jhux2 commented on #1997
@csiefer2 I agree with moving the matrix statistics to one louder.  @tawiesn, @aprokop and I started a document to categorize what should go where.  I'll find it and share with you.

There's a certain amount of info in the multigrid summary (e.g., active processes) that was probably already known but just thrown away. MueLu should really keep it, rather than regenerating.

[2017-11-17 00:55] bartlettroscoe commented on #351
FYI: @mhoemmen has been making several commits to Trilinos associated with the Story including:

* 11f11e1 Teuchos: Remove ancient macro and typedef from Teuchos_ConfigDefs.hpp
* 5970f03 Teuchos: Move DummyDummyClass decl out of Teuchos_ConfigDefs.hpp
* 2bb3033 Teuchos: Remove memory include from Teuchos_ConfigDefs.hpp
* 3a5e4cb Teuchos: Remove fstream include from Teuchos_ConfigDefs.hpp
* 4a0efbc

[2017-11-17 04:34] lkkevin opened #1998 "Build failed at "Built target kokkoskernel""
Hi,

I am trying to build Trilinos 12.12.1 for Peridigm on CentOS 7.4.  The "make -j 2" failed at [59] Built target kokkoskernel.  I have been working on this issue for a couple day but could not figure out.   Please help.  Thanks.

#------ These are the prerequisites that i installed on my VM: -----#
boost_1_65_1 ,  cmake-3.10.0-rc5,  hdf5-1.10.1,  matio-1.5.11,  netcdf-c-4.5.0,  openmpi-3.0.0,

[2017-11-17 04:53] briadam commented on #1993
Hmm, looks like a solid Dakota bug to me.  Setting aside the fact that we really should separate Dakota's headers into those that include std libraries vs. those that require Teuchos, it looks like there are several data types in that header that don't have proper standard library includes.  All of them need to be added to dakota_data_types.hpp or possibly dakota_system_defs.hpp.  Should be an eas

[2017-11-17 05:37] aprokop commented on #1997
@csiefer2 Does MPI-P show the total amount of time spent in those calls? I assume that's a lot less than 20%.

[2017-11-17 08:38] #1540 closed

[2017-11-17 12:42] nschloe opened #1999 "shylu build failure: gtest/gtest.h: No such file or directory"
Since recently, I'm getting build failures like
[code]
on master ([full details](https://launchpadlibrarian.net/345861590/buildlog_ubuntu-zesty-amd64.trilinos_12.13~git201711150649-efee3717-1zesty1_BUILDING.txt.gz)). Installing `libgtest-dev` probably fixes this, but I guess this sort of compile error wants to be intercepted by CMake; see [`FindGTest`](https://cmake.org/cmake/help/v3.0/module/Find

[2017-11-17 12:56] rppawlo commented on #1991
I guess I would need to know some more details about what you are implementing as a preconditioner matrix. As a first step, NOX has a finite different matrix that you can use to generate a Jacobian. Brute force finite differencing is very inefficient, but this can be used on small test problems to verify your matrix implementation. If you are around next week I can come into ORNL to talk some more

[2017-11-17 15:50] guoluanjing commented on #1991
We use property tables to lookup parameter values and derivatives. So the
finite difference matrix has a hard time capturing the constitutive
relationships represented by the tables.

I would love to meet and talk more next week. My schedule is flexible.
Please let me know which day and time would work for you.

Luanjing

Oak Ridge, TN

On Fri, Nov 17, 2017 at 7:56 AM, Roger Pawlowski <notificatio

[2017-11-17 18:31] jhux2 opened #2001 "MueLu: build failures on nightly track"
There are nightly build failures on the MueLu dashboard.  The issue actually appears to be upstream in Xpetra, and is due to implicit dependence on standard headers that were recently removed from Teuchos_Configdefs.hpp.  The fix should be straightforward.

[2017-11-17 18:34] jhux2 commented on #2001
"I'm sorry, Dave, I'm afraid I can't do that."

[2017-11-17 19:07] ikalash commented on #1993
Once there is a patch to Dakota, I'm happy to switch my nightly builds to use the version of Dakota with the patch.  Just let me know when the patch is pushed and what Dakota version has it.

[2017-11-17 19:17] jhux2 commented on #2001
After fixing this, I discovered that I needed to add an include of <set> to a MueLu unit test header file and MueLu_BlockedPFactory.  Checkin script is running.

[2017-11-17 19:27] jhux2 commented on #1998
@trilinos/kokkos-kernels

[2017-11-17 20:30] csiefer2 commented on #1997
@aprokop I got data from a desktop run w/ 2 ranks.  The timers are basically worthless.

I like @jhux2's idea about being more intentional about output.

[2017-11-17 20:35] briadam commented on #1993
I just pushed a fixed to Dakota's devel branch, which is available by anonymous clone from https://software.sandia.gov/git/dakota.  Assuming tests pass, it should get promoted to the master branch overnight.  I'm also including it here if you prefer to include a patch step in your build flow: https://gist.github.com/briadam/aa43d6e6c6944472bb9502f403bb64ff

[2017-11-17 20:46] jhux2 opened #2003 "Question: can checkin script verify current branch is "develop" before configure/build?"
I invoke the checkin process via the script "checkin-test.py".  When I ran it today, I was accidentally on the master branch, so the push failed.

Does the checkin script have an option for verfiying that the current branch is `develop` prior to configuring and building?  This would have saved me a configure/build cycle.

@trilinos/framework
@bartlettroscoe

[2017-11-17 21:42] bartlettroscoe commented on #2003
@jhux2,

It does not and I am not sure we want to hard-code that.  The script is designed to push to any tracking branch (including to a Trilinos release branch).  My suggestion is to delete your local 'master' branch so you can't make this mistake like is suggested at the bottom of:

* https://github.com/trilinos/Trilinos/wiki/VC-%7C-Initial-Git-Setup

and on:

* https://github.com/trilinos/Trili

[2017-11-17 21:54] jhux2 commented on #2003
@bartlettroscoe Thanks for the information.  I'll go ahead and wrap the checkin script, I just wanted to check first if there was such an option.

[2017-11-17 21:54] #2003 closed

[2017-11-17 22:33] bartlettroscoe commented on #1155
Archiving email update on this so poeple can find this.

----

From: Trilinos-developers [mailto:trilinos-developers-bounces@trilinos.org] On Behalf Of Willenbring, James M
Sent: Thursday, November 16, 2017 5:29 PM
To: trilinos-developers@trilinos.org
Subject: [EXTERNAL] [Trilinos-developers] soft launch of pull request testing tool tomorrow
Importance: High

All,

**CRITICAL SUMMARY**
1.	Planning

[2017-11-17 22:37] jhux2 commented on #2003
For the record:
[code]

[2017-11-17 23:47] lkkevin commented on #1998
Thanks Jhux2.  That links to a page not found.

[2017-11-17 23:58] mndevec commented on #1998
Could it be related to : https://github.com/trilinos/Trilinos/issues/1818 ?

[2017-11-18 00:11] lkkevin commented on #1998
Thanks mndevec.   KokkosKernels is a library to match Trilinos style, i believe so.  I dont  know how to resove this error.

[2017-11-18 00:48] jhux2 commented on #1998
@lkkevin Is this happening during the cmake **configure** process?   It looks to me like a cmake error indicating the blas and lapack libraries can't be found.

This looks fishy in your configure:
[code]

That's not a page, but a Trilinos team: https://github.com/orgs/trilinos/teams.

[2017-11-18 01:03] lkkevin commented on #1998
@jhux2 - **configure** went through successful but with 2 failed performance tests:
-- Performing Test HAVE_TEUCHOS_LAPACKLARND - Failed
-- Performing Test HAVE_CXX_PRAGMA_WEAK - Failed

System found blas & lapack library.  I received the "...kokkoskernel" error when running "**make -j 2**"
Thanks for your suggestion.  I can edit the blas & lapack lib path and rerun the build to see if it fixes th

[2017-11-18 07:48] juan42 commented on #1993
This triggers a PECOS issue during the TriKota build as well. It is easily fixable by adding the missing includes in related headers.

[2017-11-18 15:01] lkkevin commented on #1998
@jhux2 - you are right.  i think BLAS or LAPACK maybe a root cause.  I re-build BLAS and LAPACK, re-run "make -j2", the build went pass the 59% and got stuck at 99% with this error.   Any help is appreciate.  Thanks.
.....
Scanning dependencies of target Stokhos_SDMUtilsUnitTest
[ 99%] Building CXX object packages/stokhos/test/UnitTest/CMakeFiles/Stokhos_SDMUtilsUnitTest.dir/Stokhos_SDMUtilsUnitTe

[2017-11-18 15:30] lkkevin opened #2005 "Make failed at [ 99%] Built target Stokhos_TpetraCrsMatrixMPVectorUnitTest_Serial"
Hi,

I am trying to build Trilinos 12.12.1 for Peridigm on CentOS 7.4. The "make -j 2" failed at 99%] Built target Stokhos_TpetraCrsMatrixMPVectorUnitTest_Serial. I have been working on this issue for a couple day but could not figure out. Please help. Thanks.

#------ These are the prerequisites that i installed on my VM: -----#
boost_1_65_1 , cmake-3.10.0-rc5, hdf5-1.10.1, matio-1.5.11, netcdf-c

[2017-11-18 15:32] lkkevin commented on #1998
Hi all, thanks for your input.  I would like to close this issue and open a new thread for a new issue #2005 .  Thanks.

[2017-11-19 22:16] briadam commented on #1993
@juan42 Makes sense; thanks.  I'll post back when addressed.

[2017-11-20 14:42] etphipp commented on #2005
Does your LAPACK library not have dgeqpf?

[2017-11-20 14:54] lkkevin commented on #2005
@egboman - Hi Erick, i dont know.  I am using the latest LAPACK version.  How can i find down if LAPACK has dgeqpf?  Thanks.

#---- I followed the below instruction to build BLAS and LAPACK ----#
2. MPI Compilers
MPI, message passing interface, whose common distribution in PCs is called MPICH. If your
operation system doesn’t have it, go through the following installation procedures.
(1) Download

[2017-11-20 15:45] etphipp commented on #2005
You can try "nm", but that won't work if your lapack library has the symbols stripped out.  It looks like that function has been deprecated

http://www.netlib.org/lapack/lapack-3.1.1/html/dgeqpf.f.html

so I should probably just remove it.

[2017-11-20 15:47] etphipp commented on #2005
For the time being, you can just disable Stokhos, since Peridigm doesn't use it.

[2017-11-20 16:19] lkkevin commented on #2005
@etphipp - I'll try as you suggested and report back.  Thank you very much.

[2017-11-20 17:43] jhux2 commented on #2001
Nightly tests are clean.  Closing.

[2017-11-20 17:43] #2001 closed

[2017-11-20 17:45] jhux2 commented on #1998
Closing per OP.

[2017-11-20 17:45] #1998 closed

[2017-11-20 17:47] jhux2 commented on #1747
@aprokop There were no objections raised when I proposed this on the Trilinos Users list.

[2017-11-20 18:25] aprokop commented on #1747
OK, I already forgot about this one. So we simply enforce it now and check the matrix user provided?

[2017-11-20 18:48] csiefer2 opened #2006 "Framework: Windows did not post to cdash again"
Again.

[2017-11-20 19:04] jhux2 commented on #1747
Yes, fine with me.

[2017-11-20 19:43] mhoemmen commented on #1998
@lkkevin wrote:

FYI those are not "performance tests."  The first is an optional LAPACK feature.  Some LAPACK libraries build with LAPACK testing routines like `xLARND` (replace x with D, S, etc.); some don't.  The second is an optional compiler feature.  Trilinos does not require compilers to implement `#pragma weak`.

[2017-11-20 19:44] mhoemmen commented on #2001
@jhux2 -- just curious; how come I didn't see those?  I totally ran the check-in test script and also build everything downstream by hand.  Did these depend on some nondefault CMake options?

[2017-11-20 19:47] lkkevin commented on #1998
@mhoemmen - First time building Trilinos, so i did not know.  Thanks for letting me know.

[2017-11-20 19:50] mhoemmen commented on #351
@bartlettroscoe I haven't measured yet, but it does seem a little snappier.  I would prefer to compare before I started this process, to after its completion, but I would welcome earlier measurements :-) .

[2017-11-20 19:59] mhoemmen commented on #1993
Thanks @briadam ! :-D

[2017-11-20 20:07] mhoemmen commented on #1998
@lkkevin No problem!  I really wish CMake would let me print something other than "Failed" there (the xLARND test was my doing, circa 2010).

[2017-11-20 20:11] mhoemmen opened #2007 "Stokhos,Teuchos: Remove use of deprecated LAPACK function dgeqpf"
LAPACK function `dgeqpf` (presumably also xgeqpf for other x) was deprecated in LAPACK 3.1.1.  This means we shouldn't use it any more, or at least should make its use optional.

@trilinos/stokhos @trilinos/teuchos

[2017-11-20 20:11] lkkevin commented on #1998
@mhoemmen - Again thank you all for your and other contributions.  I and many people really appreciated for your works.

[2017-11-20 20:11] jhux2 commented on #2001
@mhoemmen These are in the MueLu nightly and specialized tracks, so it's very likely the default checkin configurations wouldn't have caught these.

[2017-11-20 20:12] mhoemmen commented on #2005
@etphipp I filed https://github.com/trilinos/Trilinos/issues/2007 for removing use of the deprecated LAPACK function; thanks!

[2017-11-20 20:22] lkkevin commented on #2007
@mhoemmen - great, thanks again Eric and Mark.

[2017-11-20 20:24] jhux2 commented on #1999
@trilinos/shylu

[2017-11-20 20:37] kyungjoo-kim commented on #1999
This is weird. As far as I see from the cmake output,
- Gtest is explicitly disabled
- So Tacho test/examplesa are also disabled even if the package is enabled
- However, the error says that it attempts to compile the unit tests.
- This seems to be a cmake error.

[code]

[2017-11-20 20:48] kyungjoo-kim commented on #1999
@bartlettroscoe Could you look at this problem ? I think that tribits should set the cmake variable ``ShyLU_NodeTacho_ENABLE_TESTS:BOOL=OFF`` but it does not.

[2017-11-20 22:21] etphipp commented on #2007
I removed dgeqpf from Stokhos.

[2017-11-20 22:21] #2007 closed

[2017-11-20 22:22] etphipp commented on #2005
I removed dgeqpf in Stokhos in the development branch.

[2017-11-21 00:57] jwillenbring commented on #1155
The pull request testing soft launch is live. Pull requests are being tested, but passing tests is not required. The next major objective is to make the output of the tests more easily available to developers.

[2017-11-21 01:25] bartlettroscoe commented on #351
We can just wait until later and then checkout an older version of Trilinos before this work started and then compare the build and rebuild times to after this work is done.

[2017-11-21 01:52] bartlettroscoe commented on #1999
This output also shows:

[code]

What is happening is a result of the behavior described at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-add-test-directories

which will try to enable tests if either `${PACKAGE_NAME}_ENABLE_TESTS` or `${PARENT_PACKAGE_NAME}_ENABLE_TESTS` are `TRUE`.  This has the current implementation:

[code]

This allows you to say, for example:

[code]

and

[2017-11-21 01:54] bartlettroscoe commented on #1999
In the meantime, you if set `-DShyLU_Node_ENABLE_TESTS=OFF`, you will avoid this problem.  Otherwise, the fix can be snapshotted and merged to Trilinos 'develop' soon.

[2017-11-21 09:38] xamhn opened #2008 "Sacado: Derivative of std::pow produces floating point exception"
@trilinos/sacado

## Expectations

For power-functions with variable exponent and variable base the partial derivative wrt to the base should also work for negative values of the evaluation point, i.e. e.g. df/dx | x=-1 should work.

## Current Behavior

Given a function f = x^y. Then df/dx for x <= 0 produces a floating point exception. This is possibly because for a derivative df/d**y** the func

[2017-11-21 13:48] jwillenbring commented on #351
@mhoemmen  If you want to document additional actions you plan to take for this ticket, let me know and we can get @MicheldeMessieres involved. This aligns directly with current Tech-X activities. You can specify what needs to be done or investigated and review pull requests instead of doing the complete implementation.

[2017-11-21 16:29] rrdrake opened #2009 "amesos2 tpetra solver driver link error (undefined references)"
I am getting the following link error (new as of a week or two).  This is using GCC 4.9.

[code]

Here is my cmake command line:
[code]

Has there been a change that requires new options to be specified to cmake?

@trilinos/amesos2

[2017-11-21 16:38] kyungjoo-kim commented on #1999
@bartlettroscoe Thank you for the explanation.

@nschloe Following the advice from @bartlettroscoe, would you be okay with ``-DShyLU_Node_ENABLE_TESTS=OFF`` for now ? The fix will be placed soon.

[2017-11-21 17:05] ndellingwood commented on #2009
@trilinos/stratimikos

[2017-11-21 17:09] etphipp commented on #2008
std::pow(x,y) is only defined for x < 0 with integral y:

http://en.cppreference.com/w/cpp/numeric/math/pow

presumably because x^y is only defined (as a real number) for integral and some rational y if x < 0.  Thus it appears to me that x^y is not differentiable with respect to y if x < 0.  How would you propose to compute the derivative with respect to y if x < 0?

[2017-11-21 17:19] ndellingwood commented on #2009
The error occurs with `packages/stratimikos/adapters/amesos2/test/Stratimikos_test_single_amesos2_tpetra_solver_driver.exe` could this have something to do with #1973, #1090 ?

[2017-11-21 17:40] kuberry opened #2010 "Zoltan2 call with zero global elements"
If all processors in the communicator have zero elements, then the wrong number of global parts is calculated in PartitioningSolution.
Around line 1267 of PartitioningSolution the number of parts is calculated as below. When global element count is 0, number of parts is calculated as INT_MAX. Something like the commented code is needed to fix this issue.
[code]
@mndevec @kddevin @egboman @srajama1

[2017-11-21 18:11] nschloe commented on #1999
There's no particular urgency for me, so I'll just wait for the fix to hit
master.

On Tue, Nov 21, 2017, 5:38 PM kyungjoo-kim <notifications@github.com> wrote:

[2017-11-21 20:02] #1991 closed

[2017-11-21 20:24] briadam commented on #1993
Okay I just updated pecos devel branch and dakota's submodule SHA1 to pull it.  I only found one missing header in pecos for std::list.

'''
diff --git a/src/pecos_data_types.hpp b/src/pecos_data_types.hpp
index f29d8f5..4832551 100644
--- a/src/pecos_data_types.hpp
+++ b/src/pecos_data_types.hpp
@@ -26,6 +26,7 @@

 #include <algorithm>  // for std::find
 #include <complex>
+#include <list>
 #incl

[2017-11-21 20:24] bartlettroscoe commented on #1400
I checked out the three branches in the three repos as described in the updated description field [above](https://github.com/trilinos/Trilinos/issues/1400) and tried to configure and got a confgiure error for the tips of these branches.  I then went back to the version of the kokkos branch that @kruger had and it failed in the configuration of Tpetra for the standard CI build of Trilinos.  I am no

[2017-11-21 20:26] briadam commented on #1993
Actually right after pushing I realized there are probably downstream files in pecos that break.  Might require more work.  Let me see if a make -k will ferret them out as I don't have a Dakota against external Trilinos handy right now.

[2017-11-21 20:57] briadam commented on #1993
Decided to stop whining and build/install Trilinos and Dakota against it.  I think I found the one remaining include issue and pushed a fix, but again, holler if issues.

[2017-11-21 21:17] bartgol opened #2011 "Tribits enabling more packages than necessary."
@trilinos/tribits

## Expectations

I think the packages listed in the `TEST_REQUIRED_DEP_PACKAGES` list inside the package's `Dependencies.cmake` file should only be enabled if the testing for that package is enabled.

## Current Behavior

It appears that the packages in the list `TEST_REQUIRED_DEP_PACKAGES` are currently enabled, regarldess of whether the testing is on for the package.

## Motiv

[2017-11-21 21:20] #1809 closed

[2017-11-21 21:21] #1832 closed

[2017-11-21 21:21] rppawlo opened #2012 "Phalanx: add support for hierarchic parallelism"

[2017-11-21 21:39] csiefer2 commented on #1997
This immediate task is done.

[2017-11-21 21:39] #1997 closed

[2017-11-21 21:40] csiefer2 commented on #1931
I suspect that whoever goes second and grab the new maps from whoever does first and just use replaceMap to replace the comm as well.

[2017-11-21 22:13] jmgate opened #2013 "Create CODEOWNERS File"
@trilinos/framework

## Expectations

It'd be great for us to include a [CODEOWNERS](https://help.github.com/articles/about-codeowners/) file in the Trilinos repo root.  Having such a file makes it such that we can assign default people or @trilinos/teams as reviewers when pull requests are created, depending on what files/packages/etc. are modified.

## Current Behavior

Currently we rely on the

[2017-11-21 22:30] ndellingwood commented on #1987
@hkthorn could you try adding these lines to the configure file:
`-D Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON \`
` -D Trilinos_ENABLE_Kokkos:BOOL=ON \`

I did not guard something properly for Kokkos (optional dependency in Amesos2, not required) when dealing with the Kokkos vs std  complex pointer issue for the optimized code path, will get this worked out. This adds a configuration combo I

[2017-11-21 23:17] jmgate commented on #1872
Any movement on this?  I'm working on #2013, and it'd be useful if every package had a team attached that we could @mention.

[2017-11-21 23:29] jmgate commented on #1872
Actually I'm just going to go ahead and set these up.

[2017-11-22 11:55] jwillenbring commented on #1934
@william76 We spoke about this some. Sounds like a note to the developers list is not a good idea because this is a user asking. I am hesitant to spam the many hundreds of people on the user list each time a promotion is done. We could file an issue like Kokkos, or we could file one issue and comment on it every time a promotion happens, and log the errors when it doesn’t happen. Then people could

[2017-11-22 15:13] mwgee commented on #2008
Its the derivative with respect to x that fails when y is a Saccado type, please see Snippet 1.  Also, this used to work previously (that is, older Trilinos releases and/or before introducing the c++11 flag).

[2017-11-22 16:00] jwillenbring commented on #2013
This sounds like a really nice feature.

[2017-11-22 16:13] jwillenbring commented on #1390
I will follow up with @dmvigi to see if there are blockers. We should get one last status check on the future plans for the SEMS compiler toolchain so we can make sure XYCE’s needs will be met. Other than that, I see no blockers.

[2017-11-22 21:10] jwillenbring commented on #1605
@MicheldeMessieres please review this in the context of your current build time efforts. Could some of this work be synergistic?

[2017-11-22 21:37] jwillenbring commented on #1517
@bmpersc any reason not tO close this?

[2017-11-27 00:41] mhoemmen commented on #1605
If this is happening only with KNL, could it be that the compiler is generating both KNL and non-KNL code paths?  If so, is there a way to turn off the non-KNL path generation?

[2017-11-27 00:48] mhoemmen commented on #1934
@jwillenbring I like Kokkos' approach of having a separate issue for each promotion, that's closed on successful promotion.  This also helps track what new features and bug fixes came in with each promotion.  It's more automated than the process of asking for humans to write release notes.

[2017-11-27 00:50] mhoemmen commented on #2005
Thanks @etphipp !

[2017-11-27 00:54] mhoemmen commented on #2009
@rrdrake You want to set `Trilinos_ENABLE_FLOAT`, not `Teuchos_ENABLE_FLOAT`.  With ETI OFF, you'll hide some link-time errors involving `Scalar=float`, but eventually you'll encounter the factories and the linker will complain.

[2017-11-27 00:55] mhoemmen commented on #2010
@trilinos/zoltan2

[2017-11-27 13:15] rrdrake commented on #2009
@mhoemmen Using Trilinos_ENABLE_FLOAT works.  Thanks!

Also specified was Teuchos_ENABLE_COMPLEX, but switching that to Trilinos_ENABLE_COMPLEX causes the build to fail.  Is this expected?

[2017-11-27 15:04] bartlettroscoe commented on #1155
@jwillenbring,

Updated documentation on the usage of TriBITS CTest -S driver scripts is now posted at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-ctest-driver

Please have a look and please not any typos you might see.

I will provide the skeleton for a script to drive the Jenkins PR branch testing later today.  It should be very little code.  Then we can discuss what needs to

[2017-11-27 15:32] mhoemmen commented on #2009
Yes.  For enabling the relevant Scalar types, you want `Trilinos_ENABLE_COMPLEX_FLOAT` or `Trilinos_ENABLE_COMPLEX_DOUBLE`.

[2017-11-27 15:32] jmgate commented on #1872
Most packages now have a trilinos team associated with them.  The sole member for each team was the point of contact listed on the trilinos.org package page.  The packages that do not yet have teams are:
* fei:  We can create this and add Alan Williams (@alanw0; william@sandia.gov), but he needs to be added to the trilinos organization first.  @jwillenbring, can you take care of adding him to tril

[2017-11-27 15:34] mhoemmen commented on #2009
@rrdrake `Teuchos_ENABLE_COMPLEX` should be set by default if you set `Trilinos_ENABLE_COMPLEX_DOUBLE`: https://github.com/trilinos/Trilinos/blob/980b4976bafdc9d5e557144c62990d1134a76a04/packages/teuchos/CMakeLists.txt#L130

[2017-11-27 15:37] mhoemmen opened #2018 "Teuchos: Set Teuchos_ENABLE_COMPLEX if Trilinos_ENABLE_COMPLEX_FLOAT is set"
See my comments here: https://github.com/trilinos/Trilinos/issues/2009#issuecomment-347218806

@trilinos/teuchos

[2017-11-27 15:38] mhoemmen commented on #2009
I filed an issue relating to `Teuchos_ENABLE_COMPLEX` default settings:
https://github.com/trilinos/Trilinos/issues/2018

[2017-11-27 16:11] etphipp opened #2020 "Assignment between dynamic and static rank views broken in Sacado for contiguous layout"
@trilinos/sacado

As reported by @rppawlo, this code:
[code]
Generates the following compiler error on Cuda (with LayoutLeft):
[code]

[2017-11-27 16:12] etphipp commented on #2020
Upon inspection of the code in Kokkos_DynRankView_Fad_Contiguous.hpp, the block of code for handling assignment between static and dynamic rank views for LayoutLeft is incorrect.  A fix is in progress.

[2017-11-27 16:17] william76 opened #2021 "ShyLU_Node: tacho_ExamplePerfTest.cpp failing build in nightly Clean track"
Getting a failure for the past 6 days in packages/shylu/shylu_node/tacho/example/Tacho_ExamplePerfTest.cpp

Details
-------
https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3241460

(Possible) Relevant Commits
-----------------------------
2a6ee2c5a0049e1da5ee4bc121ff6ce8f62c8b5e
b61cd068125e7d00a6ee2b262df052e55323694b

@trilinos/shylu

@kyungjoo-kim

[2017-11-27 16:33] kyungjoo-kim commented on #2021
Sorry. I forgot that metis is not installed in test machines yet.

[2017-11-27 16:40] etphipp commented on #2020
PR #2022 addresses this.  I was expecting it go through the auto-tester, which it didn't for some reason, so I am testing with the sems test script right now to make sure nothing broke (although it has already been merged to develop).

[2017-11-27 17:00] mhoemmen commented on #2011
@bartgol Is this properly just a TriBITS issue?  If so, I'll close this issue and direct further discussion to https://github.com/TriBITSPub/TriBITS/issues/243 .  Thanks!

[2017-11-27 17:12] Rombur opened #2023 "Missing include in Intrepid2_CellTools_Serial.hpp"
I am using several functions of  `CellTools::Serial` in my Kokkos kernels. However, my code does not compile if I don't include `#include <Shards_CellTopologyManagedData.hpp>` **before**  `Intrepid2_CellTools_Serial.hpp`. `Shards` objects are used in multiple functions implemented in this file but there isn't any include of shards headers. I am not sure which header should be included in this file

[2017-11-27 17:15] mhoemmen commented on #1400
@bartlettroscoe See lines 341-365 of tpetra/CMakeLists.txt:

https://github.com/trilinos/Trilinos/blob/980b4976bafdc9d5e557144c62990d1134a76a04/packages/tpetra/CMakeLists.txt#L341

It looks like line 341 is using `Tpetra_ENABLE_Cuda` when it should use `Tpetra_ENABLE_CUDA`.  This may break stuff for CUDA builds.  However, the code looks fine for non-CUDA builds.  If this is a non-CUDA build, then

[2017-11-27 17:24] jhux2 commented on #1605
per @nmhamster's first comment:

[2017-11-27 17:29] nmhamster commented on #1605
@mhoemmen - this is happening when we enable architecture specific optimization (e.g. `-xMIC-AVX512`) with debugging (`-g`) because longer, more optimized instruction sequences are generated.  KNL showed this problem first but we have seen it on Haswell as well. I **really** don't want to disable non-optimized code generation because the performance will be very poor, in what is likely to be a per

[2017-11-27 17:31] lucbv commented on #2023
@trilinos/intrepid2

[2017-11-27 17:31] etphipp commented on #2008
The problem though is that if z = x^y and is a Fad, derivatives with respect to y must be included in the computation of z, unless the derivative components of y are all zero.  So as far as I can tell, the only reasonable way I could implement z = x^y with x < 0 is to loop through all of the derivative components of y and check they are zero.  That will be expensive though, so I am not entirely co

[2017-11-27 17:45] jhux2 commented on #1605
@nmhamster Is there an issue open on this for Haswell?  If not, could you open one, thanks?

[2017-11-27 17:54] etphipp commented on #2020
I checked this with the SEMS test script (after the push) and everything looks good.

[2017-11-27 18:00] mhoemmen commented on #1605
@nmhamster I was suggesting, rather, that it may be possible to turn off _non_-optimized code paths.  Never mind :-) .

[2017-11-27 18:02] bartgol commented on #2011
Maybe? I've never dived deep into tribits, so I'm not 100% sure. More likely than not though.

[2017-11-27 18:03] william76 commented on #2021
ok.  Have you checked in a fix and/or backed out the commits that broke the Clean builds?

[2017-11-27 18:06] mhoemmen opened #2024 "Tpetra: Use Tpetra_ENABLE_CUDA, not Tpetra_ENABLE_Cuda"
Tpetra has a `Tpetra_ENABLE_CUDA` CMake variable, but uses `Tpetra_ENABLE_Cuda` at one point:

https://github.com/trilinos/Trilinos/blob/980b4976bafdc9d5e557144c62990d1134a76a04/packages/tpetra/CMakeLists.txt#L341

CMake is case sensitive, so this could lead to interesting issues in CUDA builds.

@trilinos/tpetra

## Motivation and Context

https://github.com/trilinos/Trilinos/issues/1400#issuecom

[2017-11-27 18:06] mhoemmen commented on #1400
I will fix #2024, in case it blocks this issue.

[2017-11-27 18:13] mhoemmen commented on #2011
@bartgol On second thought, it might be better to leave this Trilinos issue open, because Trilinos won't see the fix until TriBITS fixes it and snapshots into Trilinos.  Please do continue discussion on the TriBITS issue, though.  Thanks!

[2017-11-27 18:14] nmhamster commented on #1605
@mhoemmen - oops (sorry), we should _definitely_ do that :-)! In fact, are we doing anything today that is complicated with building debug into the code we could disable? That might be _really_ useful if there is an option for it. The real nasty thing here is that we need to be able to produce a debug-enabled optimized build for when if something goes wrong. Once we have a working code, it would b

[2017-11-27 18:18] mhoemmen commented on #1605
@nmhamster It may help to turn off some options that get enabled by default in a debug build.  Kokkos::View and Teuchos::Array* bounds checking come immediately to mind.  Try setting the following options in a debug build:
[code]
It would also be REALLY NICE if we could enable only the `OpenMP` Node for Tpetra and downstream packages, and _not_ the `Serial` Node.  Ditto for turning off `GO=int` an

[2017-11-27 18:20] mhoemmen commented on #1605
@nmhamster I've also found setting `CMAKE_CXX_FLAGS_DEBUG:STRING="-Os"` in debug builds to be helpful sometimes.

[2017-11-27 18:25] kyungjoo-kim commented on #2021
I forgot to reference in the commit.

``9076e32``

[2017-11-27 18:34] mperego commented on #2023
@Rombur @lucbv I included `Shards_CellTopology.hpp` to the `Intrepid2_CellTools_Serial.hpp`  file. This should fix the issue. Let me know if this is not the case. Thanks!

[2017-11-27 18:34] #2023 closed

[2017-11-27 18:36] jwillenbring commented on #351
@MicheldeMessieres is planning to do some benchmarking. He already has some infrastructure put together for measuring build times.

[2017-11-27 21:34] mhoemmen commented on #2024
Fixed in develop.

[2017-11-27 21:34] #2024 closed

[2017-11-27 21:34] etphipp commented on #2020
Reopening.  I need to test rank 0 or 1.

[2017-11-27 21:34] mhoemmen commented on #1400
Fix to #2024 is now in develop.

[2017-11-27 21:35] mhoemmen commented on #2024
@prwolfe @rrdrake This may be of interest to you; thanks!

[2017-11-27 21:40] mhoemmen commented on #1925
ping

[2017-11-27 21:40] mhoemmen commented on #1925
@csiefer2 @jhux2 @aprokop

[2017-11-27 23:23] #1607 closed

[2017-11-27 23:24] ccober6 commented on #1475
This was fixed back in July with 664067f8.

[2017-11-27 23:24] #1475 closed

[2017-11-27 23:33] ccober6 commented on #1460
This was fixed by @etphipp in 2b6d4d0c.

[2017-11-27 23:33] #1460 closed

[2017-11-28 08:36] xamhn commented on #2008
Thank you for your ideas on the topic. I think we'll do something like this when we need all the derivatives wrt to x:
`Fad z = pow(x, y.val());`

[2017-11-28 15:46] jwillenbring commented on #1390
I heard back from @dmvigi and they are actively working to provide XYCE with a solution. XYCE ran into some issues with the preliminary version and are currently digging into what the issue is.

@hkthorn can report back when she has more specific information.

[2017-11-28 16:00] william76 commented on #2021
Builds were clean last night so I'll close this issue out.

[2017-11-28 16:00] #2021 closed

[2017-11-28 17:08] mhoemmen opened #2028 "Add GCC 7.2 build to Dashboard"
Trilinos' Dashboard does not appear to have GCC 7.2 coverage.  The latest version of GCC being tested regularly is 5.2.  However, it looks like CUDA-enabled application builds on Sierra and kin will require either XL or GCC 7.2.  Furthermore, our early experience with GCC 7.2 is that it is stricter about accepting code (e.g., requiring the `template` keyword when calling templated methods).  This

[2017-11-28 17:12] nmhamster commented on #2028
@mhoemmen - for POWER we may need to specifically use IBM's Advance Toolchain which provides an optimized and patched GCC 7.2. I agree that early 7.2 testing would be useful.

[2017-11-28 17:41] mhoemmen commented on #2028
@micahahoward specifically mentioned IBM's Toolchain.  He has been testing with stock GCC 7.2, no CUDA, just to make sure that stuff builds.

[2017-11-28 17:43] mhoemmen commented on #2018
Fixed in develop.  Thanks all!

[2017-11-28 17:43] #2018 closed

[2017-11-28 17:44] mhoemmen commented on #2009
I fixed #2018 in develop.  See PR #2025.

[2017-11-28 17:46] prwolfe commented on #1987
@ndellingwood ,

Looking at this it is exactly the issue remaining after your fix for #1986. I will close that and track this one. I am not able to use the workaround you asked @hkthorn to use as we run both with and without explicit instantiation (currently - I would like to change that.)

Thanks!

[2017-11-28 17:46] #1986 closed

[2017-11-28 18:46] jwillenbring commented on #1761
I think it would make sense to see what new features will allow important refactoring to take place, and then line it up with that. That would allow a meaningful cost/value analysis. Perhaps some refactoring could prioritized higher because the jump would be less, then another jump could again me made. When we jump, we should encourage affected users to move to the latest to avoid another likely j

[2017-11-28 20:28] mhoemmen commented on #1998
@lkkevin Glad to help! :-) We would appreciate feedback from how Peridigm benefits from using the latest Trilinos version.

[2017-11-28 23:31] jmgate commented on #1608
This work is complete and ready to be merged in #2016&mdash;already reviewed and approved by @rppawlo, and @etphipp.  Waiting on a review of the @trilinos/thyra changes from @bartlettroscoe and then it's good to go.

[2017-11-29 01:20] aprokop commented on #1925
@mhoemmen Sorry, I'm missing some context. What would you like us to do?

[2017-11-29 01:26] jhux2 commented on #1925
@aprokop @mhoemmen is waiting on me, I think.

[2017-11-29 01:31] aprokop commented on #1538
Have the team come to any resolution on this issue?

[2017-11-29 01:35] bartlettroscoe commented on #1608
@jmgate,

I thought I submitted my review yesterday in #2016 but it looks like it did not complete.  I completed it just now.  Basically I requested a one-line change (needed to satisfy the interface).

[2017-11-29 01:57] jhux2 opened #2029 "No Trilinos checkin emails"
I haven't received any Trilinos checkin emails since November 22nd.

@trilinos/framework
@bmpersc

[2017-11-29 04:44] mhoemmen commented on #1925
@jhux2 just an innocent ping :)

[2017-11-29 13:40] bartlettroscoe commented on #2029
Same for me

[2017-11-29 14:17] jmgate commented on #1608
Yeah GitHub's been a little glitchy for me lately, which is why I'm pestering people in case they're missing things like I am.

[2017-11-29 16:57] jhux2 commented on #1925
:ping_pong:

[2017-11-29 17:23] bmpersc commented on #2006
@csiefer2, It looks like the VM was stopped and for some reason this time the startup script immediately quit. What is odd is that the VM had been stopped and brought up several times in the weeks leading up to this and it successfully started the jenkins agent so I'm not sure what happened. Manually starting the jenkins agent has brought the slave back up and the job is currently running so there

[2017-11-29 17:23] #2006 closed

[2017-11-29 18:48] mhoemmen commented on #56
Y'all check this out (I came up with it this morning):
[code]

[2017-11-29 18:53] mhoemmen commented on #56
Hm, I think I can generalize this for all Tpetra classes that take the same four template parameters, using template templates.

[2017-11-29 19:41] jhux2 opened #2030 "MueLu: refactor verbosity levels"
This issue is to suggest changes related to what information that MueLu emits at different verbosity levels.  Here's a possible set of categories:

- NONE
This is the default “production user” mode
No output besides errors
- LOW
Multigrid Summary
Input Parameters
Warnings (that don’t require communication?)
- MEDIUM
All of the factory names
Any factory information which we have already calculated

[2017-11-29 19:41] jhux2 commented on #2030
See issue #1997 for one change that @csiefer2 already made.

[2017-11-29 19:54] aprokop commented on #2030
- Any "print:" input deck variable should go to LOW. A user has explicitly requested to print messages, we should follow his wishes. At the minimum, this means "print initial parameters" and "print unused parameters". The "repartition: print partition distribution" is debatable.
- Should hierarchy setup time (just one timer) go to LOW?
- I would merge your HIGH and EXTREME, and keep EXTREME to its

[2017-11-29 20:38] ndaman opened #2031 "Teuchos LAPACK test missing #include <vector>"
I am building Trilinos for Peridigm following instructions here: https://peridigm.sandia.gov/content/trilinos

The build fails when compiling Trilinos/packages/teuchos/numerics/test/LAPACK/cxx_main.cpp ('vector' is not a member of 'std').

It appears that somewhere in the include chain, this file is missing an #include <vector> line. It appears to be fixed by adding that include to the cxx_main.cp

[2017-11-29 21:02] jhux2 commented on #2030
@aprokop The main sticking point is that without adding a new category, this suggestion does not give a way to separate the "heavy" matrix statistics communication from other communication.

[2017-11-29 21:13] aprokop commented on #2030
But you did mention "Any “key” factory-specific information which requires additional communication to send (e.g. aggregate statistics)" in high? And matrix statistics communication is no heavier than that?

[2017-11-29 22:19] jmgate opened #2032 "Panzer: Commit c468d41b Breaks Charon"
@trilinos/panzer

## Expectations

After @bathmatt ripped out the `std::vector<int>` of LIDs in c468d41b, such that we'll only use the `Kokkos::View` version instead, everything should behave the same.

## Current Behavior

Charon has a particular example involving Joule heating and a heterojunction (I don't pretend to understand the example, but it seems the combination of those two factors is si

[2017-11-29 23:59] rsln-s opened #2033 "Zoltan incorrectly reads MatrixMarket matrices"
@trilinos/zoltan

## Expectations

Zoltan should correctly read MatrixMarket format matrices and interpret them in row-net fashion (i.e. each row in the matrix corresponds to a hyperedge and each column to a vertex).

## Current Behavior

As pointed out by @SebastianSchlag, on matrix [VDOL/hangGlider_3](https://www.cise.ufl.edu/research/sparse/matrices/VDOL/hangGlider_3.html) after reading in the

[2017-11-30 01:30] dridzal commented on #2029
Would providing github with a different email address solve these problems?  An email address associated with a non-Sandia server that does not reject email.

[2017-11-30 01:34] dridzal commented on #1996
Thanks for the note, this was indeed a bug!  Fixed.

[2017-11-30 01:34] #1996 closed

[2017-11-30 01:42] dridzal commented on #1994
Mark, thanks for the note.  Is the fix for ROL just to add #include <fstream> to that one file, or did you use this file as an example?

[2017-11-30 03:40] mhoemmen commented on #1994
@dridzal I was able to build everything downstream of Teuchos, including ROL, using the attached patch.

[2017-11-30 15:22] cgcgcg commented on #1724
There have been no changes to `muelu/test/unit_tests/MueLu_Test_ETI.hpp` since the bug was reported, so I assume the problem is still there?
I can see that `KOKKOS_HAVE_CUDA`, `HAVE_TPETRA_INST_CUDA` and `HAVE_MUELU_INST_DOUBLE_INT_INT` are checked before `double-int-int` is enabled. Is that not sufficient? Can you point me to a configuration that fails?

[2017-11-30 15:45] bartlettroscoe commented on #2028
@mhoemmen, I think that SEMS would need to add a GCC 7.2 build for the SEMS dev env before this could happen.  I will not this specific request in:

* https://software-srn.sandia.gov/jira/browse/CDOFA-1

[2017-11-30 15:48] bartlettroscoe commented on #2028
The SEMS issue to add a GCC 7.2 build of the env is:

* https://software-sandbox.sandia.gov/jira/browse/SEMSREQ-4

[2017-11-30 16:14] mhoemmen commented on #2028
Thanks @bartlettroscoe ! :-D I'll let @micahahoward know.

[2017-11-30 16:14] mhoemmen commented on #2028
@rrdrake and @prwolfe may also be interested.

[2017-11-30 16:24] bmpersc commented on #2029
@dridzal the email we are using is not on a Sandia machine. It is on the trilinos.org server. This issue is actually different than the throttling issue for notifications. I don't know all the specifics, but it has to do with the mailman server on trilinos.org. I know that the issue is being looked into, but I don't know what the status of it is.

[2017-11-30 16:34] jwillenbring commented on #2029
John P is looking into this and hopes to have it fixed by the end of the day.

[2017-11-30 16:56] ndellingwood commented on #1987
@prwolfe @hkthorn I think I have a fix for this issue, need to test with a few more configurations to make sure I'm not breaking something else then will get it pushed in.

[2017-11-30 17:37] dridzal commented on #1994
So we should apply it in our ROL-Trilinos repo and merge it back into Trilinos, correct?

[2017-11-30 17:37] jmgate commented on #2032
It's possible for me to replace that section above in `Panzer_ScatterDirichletResidual_Epetra_impl.hpp` with
[code]

to get things working again, but this seems like a bad idea.  After all, 0 is a legitimate local ID.

[2017-11-30 17:43] ndellingwood commented on #1987
PR #2036 should resolve this issue, I'm assuming the auto-tester will pick it up to do the checkin testing...

[2017-11-30 19:24] jhux2 commented on #2030
@aprokop I would argue yes.  There are matrix statistics for A, Ptent, P, and possibly R, versus a single aggregation structure.

[2017-11-30 19:31] aprokop commented on #2030
If you don't have the exact definitions for levels, I think this effort would be no better in the long term than what we currently have. To improve status quo (beyond immediate moving of some output to higher levels), it would require coming up with precise definitions so that it is no brainer where to put code in.

[2017-11-30 19:40] mhoemmen commented on #1994
@dridzal Yes, please.

[2017-11-30 19:42] aprokop opened #2037 "Change trilinos-autotester avatar"
@trilinos/framework

## Expectations

It should be immediately clear (from Github Notifications board) that the comment was made by the auto-tester. This would speed up going through issues.

## Current Behavior

Going to the issue and expecting some comment from a developer and instead getting comments from testing framework I may not want to look at.

## Motivation and Context

## Definition of

[2017-11-30 20:20] bartlettroscoe commented on #2028
@mhoemmen, specifically what machine and env is this customer trying to build Trilinos with GCC 7.2?

[2017-11-30 20:27] bartlettroscoe commented on #2028
@mhoemmen, how urgent?  Would the GCC 7.2 modules on the CEE LAN work for setting up this testing with the ASC IC Jenkins build farm?  If not, then SEMS would need to install a GCC 7.2 stack.

[2017-11-30 21:13] ndellingwood commented on #1987
@prwolfe @hkthorn PR passed with the auto-tester and merged into develop branch. Let us know if this fixes the issue you are seeing.

[2017-11-30 23:09] mhoemmen commented on #2028
@bartlettroscoe SPARC is the customer; ATS-2 the target machine.  I'll let @micahahoward answer questions about urgency.  Thanks!

[2017-11-30 23:49] bartlettroscoe commented on #1400
I pushed the needed change to TriBITS TriBITSPub/TriBITS@6fa3d698d55fbb26ffc687aef2779c90b977b5f6 and I snapshotted and pushed that version of TriBITS to Trilinos in the commit a4b326b9905f99e6d8ad2b10229ca5177aed33a3.  (I accidentally rebased that snapshot commit when I pushed with the checkin-test-sems.sh script but that is not really very harmful.  I will set the default to --no-rebase in the f

[2017-12-01 05:42] VictorEijkhout commented on #1552
I see that 12.12 was released in September. Does that include the fix for this issue?

[2017-12-01 13:18] rppawlo commented on #2028
So we've come across a bug in gcc 5 and 6 that breaks our use of hierarchic parallelism in kokkos. Having a sems 7.2 module would be valuable to EMPIRE/Drekar/Charon2/Panzer teams as we migrate towards hierarchic parallelism. The workaround is a very ugly hack in the source code. No pressure on a timeline as we will use the hack for now.

[2017-12-01 16:36] jwillenbring commented on #2029
This should now be resolved. Please close if it isn't. It was a problem with the server trying to use the wrong mail protocol.

[2017-12-01 17:01] micahahoward commented on #2028
@mhoemmen , @nmhamster , @bartlettroscoe : Re urgency: This is forward looking and not that urgent.  It's driven by wanting to be ready for the IBM Advanced Toolchain when it's ready to go on ATS-2-like testbeds.  Having Trilinos tested with GCC 7.2 by early Jan would be good, which means starting to do that now is about right.

FWIW, I was able to build our configuration of Trilinos with 7.2 and

[2017-12-01 17:11] crtrott commented on #1400
I used the previous mentioned approach and with some fixed I am now in a reasonable position. I added the option of adding the Kokkos generated CXX_FLAGS globally to CMAKE_CXX_FLAGS, the only issue with that is that it doubles flags which cmake previously added, namely the C++std flag and the -fopenmp flag. Not yet sure what the best way forward with that is. I will merge the kokkos-branch into th

[2017-12-01 17:11] rppawlo commented on #1552
The commit d7c00d4 did not make it into the 12.12 release.

[2017-12-01 17:31] jhux2 commented on #2029
@jwillenbring Thanks!

[2017-12-01 17:39] crtrott commented on #1400
One option to resolve the duplicated flags would be this:
[code]

The reason that I'd like Kokkos to take ownership of in particular the OpenMP flag is that I am not sure that cmake can handle all the newer compilers openmp options. For example for Clang you need to add libomp, than there is all the stuff regarding openmp target options, which on top of it are architecture dependent (see logic in

[2017-12-01 17:40] VictorEijkhout commented on #1552
On Dec 1, 2017, at 11:11 AM, Roger Pawlowski <notifications@github.com<mailto:notifications@github.com>> wrote:

The commit d7c00d4<https://github.com/trilinos/Trilinos/commit/d7c00d45f0e2afe1cf19c70159cd589be34db8b8> did not make it into the 12.12 release.

Time for another update? It’s been two months.

Anyway. Is there an announce mailing list for releases?

Victor.

[2017-12-01 17:52] crtrott commented on #1400
Here is my line to build SandyBridge OpenMP:
[code]

[2017-12-01 18:56] bartlettroscoe opened #2039 "SEACAS CI tests failing due to push on 11/30/2017"
CC: @trilinos/seacas, @trilinos/framework, @gdsjaar, @bmpersc

**Description:**

The push yesterday:

[code]

appears to have broken both of the CI builds at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=2&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now

The first CI iteration

[2017-12-01 19:00] bartlettroscoe commented on #2039
I will go ahead and temporarily disable these two tests for the checkin-test-sems.sh script so it will not block people who are still using it.

[2017-12-01 19:32] bartlettroscoe commented on #1304
FYI: Both of the CI builds were broken last night (two failing SEACAS tests) due to a push last night (see details at #2039).  I am in the process of disabling these two tests for the CI build.  But this should not impact people's pushes with chekcin-test-sems.sh or with the automated PR testing unless they are triggering the enable of SEACAS tests.

[2017-12-01 19:40] bartlettroscoe commented on #2039
When I tried to disable and test and push with:

[code]

I got two new failing SEACAS tests:

[code]

Therefore, my push was stopped.  I am running `make dashboard` in the `MPI_RELEASE_DEBUG_SHARED_PT` directory to post the results to CDash.

[2017-12-01 19:43] gsjaardema commented on #2039
I think that may be a probl;em with riunning the tests in parallel.  There
are some conflicts in filenames when ttwo or more tests are being run
simultaneously.

I do have this fixed in the SEACAS github, but I haven't synched it over to
Sierra and thus Trilinos yet.

..Greg

On Fri, Dec 1, 2017 at 12:40 PM, Roscoe A. Bartlett <
notifications@github.com> wrote:

[2017-12-01 19:46] bartlettroscoe commented on #2039
Then let's just disable these tests in Trilinos for now and then re-eanble them on next sync.  Any objections to doing that?

[2017-12-01 19:51] bartlettroscoe commented on #2039
I verified that if you run the SEACAS test suite with `ctest -j1,` the tests pass as shown at:

* https://testing.sandia.gov/cdash/viewTest.php?onlypassed&buildid=3250427

I will go ahead and disable these two tests as well in CI testing so that this does not trip anyone up using the checkin-test-sems.sh script and it will show the corresponding CI build clean.

[2017-12-01 20:00] bartlettroscoe commented on #2039
I just pushed the commit 73ecb117df6a2a2ce1e33ba9a982bbb0037192bc which should clean up the CI build shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=66&value1=-MPI_RELEASE_DEBUG_SHARED_PT_CI&field2=groupname&compare2=61&value2=Continuous&field3=buildstarttime&compare3=84&value3=now

The other CI build

[2017-12-01 21:30] sayerhs opened #2040 "Belos: Accept "Num Blocks" as a default parameter in PesudoBlockCG and PseudoBlockTFQMR SolMgrs"
Currently, both these classes throw an error in `setParameters` method because "Num Blocks" is not a valid parameter. However, this is useful for GMRES solvers.

## Expectations

Belos SolverManager should not error if `Num Blocks` is present in the ParameterList.

## Current Behavior

[code]

## Motivation and Context

Reusing a `Teuchos::ParameterList` currently causes errors even though some ot

[2017-12-01 21:30] mhoemmen commented on #1400
@crtrott Just for completeness: Another approach we discussed this morning was for Kokkos to attempt to strip out redundant flags (via CMake `STRING(FIND ...)`).  The problem there is that nonidentical flags may nevertheless be redundant.  This depends on the compiler, so Kokkos would need to maintain a database of redundant OpenMP flags for all supported compilers.  That doesn't sound very fun ;-

[2017-12-01 21:54] mhoemmen commented on #1993
@briadam Thanks! :D

[2017-12-01 22:27] bartlettroscoe commented on #1400
@mhoemmen,

@crtrott and I just discussed this.  I am going to make it so that when the Kokkos flags are used, the Trilinos configuration of Trilinos will bypass the C++11 and OpenMP flags and just let the Kokkos flags handle them.

[2017-12-01 22:51] bartlettroscoe commented on #2028
@micahahoward, @mhoemmen,

Okay then.  I will put in an offical SEMS request to set up a GCC 7.2 env and put a place-holder issue for this in

* https://software-srn.sandia.gov/jira/browse/CDOFA

I will request that this env be available by early Jan.

[2017-12-02 01:02] bartlettroscoe commented on #1400
I have gotten the Trilinos/TriBITS configure to stop adding duplicate C++11 and OpenMP flags and I pushed that the Trilinos branch `kokkos-promotion`.  I tested using the Kokkos system and the TriBITS defaults with Kokkos and Teuchos and it looks to be doing the right thing (see details below).

However, when I tried to enable Tpetra, I got a configure error.  I will show that next.

<details>

<s

[2017-12-02 01:15] bartlettroscoe commented on #1400
I tried configuring Tpetra under Trilinos with and without the Kokkos configuration settings (see details below) and got the same configure error in both cases:

[code]

So I enabled OpenMP and yet `Kokkos::Serial is ON (the CMake option Kokkos_ENABLE_Serial is ON)`.  What gives?  Should not setting `Triinos_ENABLE_OpenMP=ON` automaticaly handle this?

Also, it seems that some vars like `Kokkos_EN

[2017-12-02 01:59] rrdrake commented on #2009
So changing `-D Teuchos_ENABLE_FLOAT:BOOL=ON` to `-D Trilinos_ENABLE_FLOAT:BOOL=ON` worked.  I am now getting another link error in my application which seems to be similar:
[code]
Is this relevant to this issue, or should I open a new one?

Thanks

[2017-12-02 03:24] crtrott commented on #1400
The fact that Kokkos_ENABLE_Serial is on is desired. As long as you don't explicitly disable it the Serial backend should always be available. One of the reasons is that you can use that to write not yet thread safe code and still get the benefit automatic debug and profiling instrumentation, you see how the code needs to be structured etc. We found that very useful for incremental porting. Also f

[2017-12-02 03:37] crtrott commented on #1400
Should be fixed now. I only defined those CUDA Option variables if Kokkos_ENABLE_Cuda is ON. Apparently Tpetra is checking those options no matter whether Cuda is on or not.

[2017-12-02 03:58] crtrott commented on #1400
Successful configure lines on my machine (with all the right flags being added):

OpenMP:
[code]

CUDA:
[code]
Note I couldn't use Kokkos_ENABLE_Cuda_UVM=ON (CamelCase) need to track that down.

[2017-12-02 17:15] bartlettroscoe commented on #2039
After my push, the CI build is now clean as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3250450

But note that the other CI build is still going to show these failures and well as all of the other nightly builds of SEACAS as you can see at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&subproject=SEACAS&date=2017-12-02

When the next sync of S

[2017-12-02 17:30] bartlettroscoe commented on #1304
The CI build running on ceerws1113 associated with the checkin-test-sems.sh script is now clean but the other CI build, and all of the other SEACAS builds are still showing these failures.  The @trilinos/framework team will need to decide how to address these.

[2017-12-02 19:24] bartlettroscoe commented on #1400
@crtrott, what does it mean when you provie a list in the var ``KOKKOS_ARCH`` like ``-DKOKKOS_ARCH="SNB;Kepler35"``?  The documentation does not seem to indicate that this var can take multiple values.

[2017-12-02 20:02] bartlettroscoe commented on #1400
I tested this current set of branches `kokkos-promotion` and `issue-878` (see above) with:

[code]

and it returned all passing build and tests for the standard CI build:

[code]

[2017-12-03 17:53] aprokop commented on #2040
@trilinos/belos

[2017-12-03 20:22] mhoemmen commented on #2040
This is a design question.  Some people would argue that solvers should reject parameters that they don't understand, in order to detect spelling mistakes, etc.  @hkthorn , what do you think?

[2017-12-03 20:24] mhoemmen commented on #1400
@bartlettroscoe @crtrott Looks like the Tpetra stuff is under control; is that right?

[2017-12-03 20:34] sayerhs commented on #2040
@mhoemmen Thanks for raising the _design_ aspect. I fully agree that the solvers should reject parameters they don't understand or support.

In the example reported above, the "Num Blocks" parameter was not added by the user (Nalu is the specific application here). It was added by GMRES in the first call during SolverManager construction. So reusing a `Teuchos::RCP<Techos::ParameterList>` stored i

[2017-12-04 03:49] nmhamster opened #2041 "Teuchos Numerics Compile Fails with GCC 7.2.0 on Blake (Sky Lake) Test Bed"
Attempted to configure Trilinos develop branch from 2017-12-03 for GCC 7.2.0 on Sky Lake (Blake, SNL/ASC Advanced Architecture cluster).

@trilinos/teuchos

How to reproduce:

[code]

Configure Script:

[code]

Compile time error:

[code]

[2017-12-04 03:50] nmhamster commented on #2041
@trilinos/teuchos

I also ran a verbose build for you, so that you can see the compile line.

[code]

[2017-12-04 03:58] nmhamster commented on #2028
@bartlettroscoe @mhoemmen @micahahoward - Blake (Sky Lake) test bed, has a very initial GCC 7.2.0 test bed environment for Trilinos builds. Note that #2041 is filed for a Teuchos bug I found this weekend.

[2017-12-04 04:03] nmhamster commented on #2028
And @bartlettroscoe - I think there is a TriBITS bug (OpenMP Detection for Fortran when using GCC 7.2.0 Fails #244, https://github.com/TriBITSPub/TriBITS/issues/244) I have raised as well but this may not be connected to GCC 7.2.0.

[2017-12-04 05:20] mhoemmen commented on #2040
@sayerhs wrote:

`RCP<T>` means "pointer to nonconst T."  `RCP<const T>` means "pointer to const T."  Thus, `RCP<ParameterList>` means that the function reserves the right to modify the input ParameterList.  Whether or not that is a good idea, it is a decision made years before I started working on Trilinos.

This is tangential to your original issue.  Could you please specify here exactly which s

[2017-12-04 05:22] mhoemmen commented on #2041
This blocks #2028.

[2017-12-04 05:23] mhoemmen commented on #2031
@ndaman What compiler are you using?  This may be a duplicate of #2041.

[2017-12-04 05:26] mhoemmen commented on #1724
@cgcgcg I haven't tried this for a while so I'm not sure.  The best way to test would be to set `TPETRA_INST_INT_INT:BOOL=OFF` and see if everything builds.  I think the MueLu tutorial may require `GO=int` (I'm not sure why -- could it have something to do with Matlab?), so you have have to disable the tutorial too.