[2016-06-26 04:26] bartlettroscoe commented on #466
For now, I will just disable STK for SEMS Dev Env builds (#158) so this does not mess up the serial build for other people as well.

@bmpersc, I will disable STK for serial SEMS Dev Env builds by default without touching the packages/stk directory tree.

[2016-06-26 04:58] bartlettroscoe commented on #23
FYI: I hit the timing out (at 10 minutes) test `Pamgen_run_test_script_l_01` as well in a serial build with the new SEMS Dev Env.   This test is also timing out in other automated testing as well as show here:

http://my.cdash.org/testSummary.php?project=896&name=Pamgen_run_test_script_l_01&date=2016-06-25

Given that this test seems to fail everywhere and this issue has been open for since Nov 20

[2016-06-26 12:41] maherou commented on #401
This is showing up on the mainstream Trilinos dashboard:

http://my.cdash.org/testDetails.php?test=25850774&build=991328

[2016-06-26 14:55] bartlettroscoe commented on #410
I just sent an email to internal SNL customers of Trilinos in order to try to gather up the list of important Trilinos packages.

[2016-06-26 23:41] yurivict opened #467 "Clang error: reinterpret_cast from 'nullptr_t' to 'Kokkos::Impl::AllocatorAttributeBase *' is not allowed"
[code]

clang-3.4.1 on FreeBSD

[2016-06-27 01:54] yurivict opened #468 "Fails to use then supplied openmpi path"
On FreeBSD OpenMPI headers are in /usr/local/mpi/openmpi/include. During configure and build stages CXXFLAGS has -L flag with this folder.

cmake has these arguments:

[code]

Yet build still breaks with this error:

[code]

System calls trace shows that the "openmpi" folder is never looked at for mpi.h.

[2016-06-27 13:42] jwillenbring commented on #468
CC: @bmpersc

[2016-06-27 14:40] maherou commented on #401
@jwillenbring will contact Tech-X about this issue to see if they can fix it.

[2016-06-27 14:41] jwillenbring commented on #467
CC: @crtrott

[2016-06-27 15:00] crtrott commented on #362
Just a comment to Kokkos vs std complex: std:: complex doesn't work in parallel environments well, since it a) doesn't exist on GPUs, and b) misses volatile overloads of its operators which prevents things like Kokkos reductions to work. What we did with Tpetra is that you request std::complex, but internally will get Kokkos::complex. The two types are interoperable (i.e. assignable and promotable

[2016-06-27 15:08] crtrott commented on #467
Clang 3.4 is not officially supported by us (Kokkos). 3.5 is the oldest supported one. If you look in the README of packages/kokkos you will find a full list of supported compilers.

[2016-06-27 16:02] tawiesn commented on #459
@mhoemmen I will add a HAVE_EPETRA_DEBUG macro. I'm going to guard the isSameAs calls in the doImport/doExport calls in Epetra_DistObject.cpp with HAVE_EPETRA_DEBUG. This would make the code more consistent to Tpetra where these checks are guarded by HAVE_TPETRA_DEBUG. For backwards compatibility i think we should set HAVE_EPETRA_DEBUG=On by default to keep the behavior we had so far. One can turn

[2016-06-27 16:51] bavier commented on #466
This issue was mentioned also in #241

[2016-06-27 17:44] jhux2 commented on #465
Ross,
  Thanks for catching/fixing this -- the example isn't intended for serial.
Jonathan

[2016-06-27 17:46] bartlettroscoe commented on #465
Excellent, then we can close this issue!

[2016-06-27 17:48] bartlettroscoe commented on #465
I updated the next action status to:

The example scaling/example_Poisson2D_p2_tpetra.cpp was never intended for non-MPI builds so was marked with "COMM mpi".

 and am closing.

[2016-06-27 17:48] #465 closed

[2016-06-27 18:59] bmpersc commented on #468
Can you send the full compile line that is failing please? I need to see more information about the compile to be able to tell what may have happened.

[2016-06-27 20:01] yurivict commented on #468
The configure line (doesn't fail) is:

/usr/bin/env CXXFLAGS=-O2 -pipe -fno-omit-frame-pointer -fstack-protector -Wl,-rpath=/usr/local/lib/gcc48 -fno-strict-aliasing -fno-omit-frame-pointer  -Wl,-rpath=/usr/local/lib/gcc48 PYTHON=/usr/local/bin/python2.7 XDG_DATA_HOME=/usr/ports/math/trilinos/work XDG_CONFIG_HOME=/usr/ports/math/trilinos/work HOME=/usr/ports/math/trilinos/work SHELL=/bin/sh CONFIG

[2016-06-27 20:59] #459 closed

[2016-06-27 21:11] jwillenbring commented on #467
Based on the comment from @crtrott I am closing this issue.

[2016-06-27 21:11] #467 closed

[2016-06-27 21:17] jwillenbring commented on #401
@krcb reports that @MicheldeMessieres will be submitting a pull request for this issue.

[2016-06-27 21:37] yurivict opened #469 "Compile error with gcc-4.8.5: error: cast from 'std::nullptr_t' to 'char' loses precision"
[code]

This is a valid error, because NULL is meant to be a pointer, not a char.

[2016-06-27 21:44] maherou commented on #401
@MicheldeMessieres Please put this issue into the "In Review" queue of our Kanban board (https://waffle.io/trilinos/Trilinos) when you are done, so that @nmhamster can confirm the fix on IBM Power8.

[2016-06-27 22:06] MicheldeMessieres commented on #401
I set up a pull request which is issue #470. Still trying to figure out how to cleanly assign that pull request to this issue but it should be good to go.

[2016-06-28 03:27] jwillenbring commented on #469
@maherou can you suggest how to handle this? If I remember right, iohb is essentially a third-party code.

[2016-06-28 04:17] maherou commented on #469
We are free to modify the source as long as we don't change the functional behavior.  Assigning an approrpriately sized char string end should be fine.

[2016-06-28 15:16] jwillenbring commented on #469
@bmpersc Is this something you can slot in? Otherwise, I can look elsewhere.

[2016-06-28 15:23] bmpersc opened #471 "Cdash is not showing results"
Cdash doesn't seem to be showing its results. However, the checking I've done indicates that the submissions have been received and are not backed up. It is unclear why they are not showing on the dashboard. I will need to dig into this more

[2016-06-28 15:30] bmpersc commented on #469
This looks exactly like another issue that was reported a few weeks ago. The solution provided then was to use "\0" which should be the right thing here too. I will check that this wasn't fixed by that in a more recent bug fix to 12.6 and apply it to 12.6 and develop if it is still there.

[2016-06-28 15:41] jwillenbring commented on #445
@bmpersc If you are applying any patches in the near future, please consider applying this one too. I will do the same.

[2016-06-28 15:57] bmpersc commented on #445
Does this need to be applied to the 12.6 branch?

[2016-06-28 16:00] bmpersc commented on #469
Looks like this is one of the things fixed by Tom Russo's patch a few weeks ago. We haven't put out a bug fix containing it yet. I will look into getting that bug fix out this week. Tom's changes haven't been applied to develop yet. I will leave this bug open until I have gotten this fixed on develop.

[2016-06-28 16:05] bmpersc opened #472 "release 12.6.4 bug fix tarball"
There are a number of patches to 12.6 that need to be released including one fix that is needed for issue #469.

[2016-06-28 17:07] mhoemmen commented on #64
@bartlettroscoe Was that with a particular count of threads or just the default settings?  Just curious.

[2016-06-28 20:58] jwillenbring commented on #445
I spoke with @bmpersc and he will apply this to both 12.6 and develop/master.

[2016-06-28 22:06] jwillenbring commented on #401
@tawiesn submitted a fix that should fix this. The sha is fee7ee1b8b3c9cd385c70432fb3bcaaa40341676. @nmhamster, could you please verify that this issue is resolved on the develop branch?

[2016-06-28 22:07] jwillenbring commented on #401
CC: @bmpersc - we want to resolve this prior to the 12.6.4 release.

[2016-06-28 22:21] nmhamster commented on #401
@jwillenbring @bmpersc building on white with the original configuration now. Hope to report soon.

[2016-06-28 22:38] bmpersc commented on #472
issues also waiting for this release: #401 and #445

[2016-06-28 22:43] nmhamster commented on #401
I rebuilt the software on `white`. Its using 5.3.0.

[code]
Gives:
[code]
Output of a `ctest -V -R Epetra_IntSerialDense_test_MPI_1`:

[code]

[2016-06-28 23:05] nmhamster commented on #401
Extra information from the segmentation fault (not that useful but not sure if it will help you):

Running:
[code]

Gives:
[code]

I also ran with Valgrind and got the following:

[code]

[2016-06-28 23:24] nmhamster commented on #472
@bmpersc see update on #401 just posted.

[2016-06-28 23:38] bmpersc commented on #471
Looks like the database had been corrupted. I believe I have repaired it, but we'll the results from tonight to verify.

[2016-06-29 14:14] bmpersc commented on #471
nightly tests are reporting now so the corrupted database was the issue.

[2016-06-29 14:14] #471 closed

[2016-06-29 15:13] bartlettroscoe commented on #362
Responding to @crtrott in [above comment](https://github.com/trilinos/Trilinos/issues/362#issuecomment-228772012):

I think that means that it makes no sens to say that you are supporting "Kokkos::complex" and "std::complex".   It will just be "complex" and the Kokkos::complex will be used where it needs to be and std::complex can be used else where.  I that a fair assessment?

[2016-06-29 15:23] jwillenbring opened #473 "Migrate checklists to GitHub Trilinos Developer site"
**Next Action Status:**

Updating the new developer checklist ...

**CC:** @trilinos/framework

**Description:**

The process checklists need to be moved from the old developer website to the new Trilinos Developer GitHub wiki.

**Tasks:**
1. Update the new-developer checklist ... IN PROGRESS..
2. ???

[2016-06-29 15:38] crtrott commented on #362
Yeah that is pretty much what I think about this. Kokkos complex is not meant as an alternative to std::complex, it is meant to supplement it since std::complex has deficiencies which would prevent its usage throughout the threaded Trilinos stack.

[2016-06-29 15:42] tawiesn commented on #401
[0001-Epetra-fix-IntSerialDense-unit-tests.txt](https://github.com/trilinos/Trilinos/files/339625/0001-Epetra-fix-IntSerialDense-unit-tests.txt)

The test is running fine for me on Linux using GCC 4.8. My patch was only initializing the pointer variables to NULL. The test crash for you in the delete call. Looking more closely to the test it seems that the objects created on the stack are supposed

[2016-06-29 15:54] bartlettroscoe commented on #362
Right, so that argues that my recommendation in the [above comment](https://github.com/trilinos/Trilinos/issues/362#issuecomment-221363070) to use:

[code]

It makes no sense to differentiate "std::complex" from "complex" because Trilinos will pick the right complex impl for the given situation.  The user would interact with Kokkos::complex or std::complex or a C-struct or Fortran equivalent depen

[2016-06-29 15:54] MicheldeMessieres commented on #401
It seems all constructors in this test should throw. I believe the ptr should never be set unless somehow a test was not throwing but that did not seem to be the case.  I cancelled my pull request on #470 which should have the same effect as the above fixes.

I noticed the valgrind log above was referencing line 1445 for the bad delete but with the original patch from @tawiesn it seems the bad del

[2016-06-29 16:12] tawiesn commented on #401
@MicheldeMessieres You are right. fee7ee1 does not fix your problem (on my linux workstation valgrind was complaining about the uninitialized variables. Since the tests did not crash i was not looking in detail what's really going on before i've read this issue report.). I missed your pull request.
Is above patch working for you then i can run the checkin script. Or would you prefer to create a ne

[2016-06-29 16:19] MicheldeMessieres commented on #401
I think my patch and yours are equivalent though my format may be favorable to avoid problems if it's modified in the future. However I think both should be safe in the current form. Maybe we can confirm your patch was used in that last test as I am concerned the line number from valgrind didn't seem correct.

[2016-06-29 16:27] nmhamster commented on #401
@MicheldeMessieres can you tell me what SHA I can test on `white`?

[2016-06-29 16:29] tawiesn commented on #401
I have no preference which patch we apply to close this issue. @MicheldeMessieres We can use yours if you prefer it. Just create a new pull request or send a patch that @nmhamster can test to verify it is working!

[2016-06-29 16:31] MicheldeMessieres commented on #401
I had made the original pull request on #470.
It was 5abe4b91c839362741c8e10361605adb88812913

However I had tried the patch from tawiesn as well and both seemed to resolve the problem for me - so if that other patch was used and it was still failing, I think there is a larger issue.

I had concluded that both should work.

[2016-06-29 16:36] tawiesn commented on #401
My other patch was certainly not applied because i wrote it today in the morning after i saw the gdb output from @nmhamster. It has not yet a SHA assigned (i extracted it in text format).
@nmhamster You can apply it locally and test it. Or just use the patch form MicheldeMessieres 5abe4b9. That's probably the easiest solution.

[2016-06-29 16:45] MicheldeMessieres commented on #401
I meant the original patch:  fee7ee1. I thought the previous valgrind test was run with that but the line number suggested it had not been applied. I think that patch, my patch, and I expect the new txt patch you made would all resolve the issue.  If the last valgrind test was running using  fee7ee1 then I expect my fix won't work either, or if my fix does work it may be hiding some other issue. S

[2016-06-29 16:53] tawiesn commented on #401
@MicheldeMessieres  Now i understand what you mean. I thought it was applied (due to the git log output)
@nmhamster I would not be surprised that fee7ee1 does NOT solve the problem (it was never intended to). Please try the text patch from above or alternatively the patch from @MicheldeMessieres on top of the current develop branch.

[2016-06-29 17:13] MicheldeMessieres commented on #401
I think fee7ee1 does effectively do the same thing though - they all prevent a delete on an uninitialized ptr. If there is a difference in behavior for any of these patches we are probably facing something more subtle.

[2016-06-29 17:37] tawiesn commented on #401
Looking at the provided valgrind output there seems to be a problem with the label within Epetra_Object, which is created far below underneath the IntSerialMatrix/Vector. I do not see a problem in the Epetra code and it works fine on my linux workstation with gcc 4.8 (valgrind is clean).
The following seems to trigger the problem:
1) Call delete on a IntSerialDenseMatrix/Vector object which never

[2016-06-29 17:38] crtrott commented on #362
Agreed.

[2016-06-29 17:53] jwillenbring commented on #372
I have submitted a new draft version to the framework list for comment.

[2016-06-29 19:27] MicheldeMessieres commented on #401
@nmhamster Si, I think it's best if I wait for a status update from you before proceeding.
If you are planning to try my patch or the text patch we can see if that works.

Also, I'm on mac/clang and not familiar with valgrind so will be interested to know if you agree whether there is a discrepancy on the previous output (git log says fee7ee1 applied and valgrind log says delete is line 1145, but

[2016-06-30 00:13] bartlettroscoe commented on #370
The issue #441 and #442 are no longer blocking as these failing STK and ROL tests have been disabled or otherwise been removed from the set of `BASIC` pre-push CI tests.  The tests that have been disabled will not be re-enabled until they are fixed.

[2016-06-30 00:21] bartlettroscoe commented on #158
I have a basic setup with the SEMS Dev Env working and pushed to the 'develop' branch with nearly all of the ST Trilinos packages enabled with shared lib builds and passing all of their 'BASIC' tests on the machine muir.sandia.gov (see details below).  The only defined Trilinos packages/subpackages not tested were:

***Final set of non-enabled packages:***  Domi Pliris Claps Trios TriKota ForTrili

[2016-06-30 04:32] cihanuq commented on #317
@mhoemmen Just wondering, is there currently a way to "convert" (i.e. unroll) a block matrix to a regular Tpetra CrsMatrix so that I can use Amesos2 while direct support for block matrices is not there yet?

[2016-06-30 14:12] bartlettroscoe commented on #229
@MicheldeMessieres, just a quick status update.

I have been waiting to do this review until I can get an env in place so that I can test these changes against all of Trilinos. I about have that setup (see #158).

I need to see if **all** of the existing Trilinos tests for all of the packages pass and I need to see what impact this will have on the cost of the Trilinos test suite in a full release

[2016-06-30 14:29] jwillenbring commented on #158
Just a note to say that the reason that the CI build uses a different version of GCC is that the version chosen was designated by an important customer as their supported version of GCC, so we went with that. Other than that 4.8.4 would be better, but we need to support 4.7.2.

[2016-06-30 14:33] MicheldeMessieres commented on #229
I was working on a mac+clang setup originally and just set up a unix box to apply all these tests in more environments - there is a std namespace conflict that came up on my unix setup which I will work to resolve today - not sure what the cause is yet and investigating. I will also need to work out the best way to broaden my test scope.

[2016-06-30 14:35] bartlettroscoe commented on #158
Right, but the question is, if we can only have a single compiler for a pre-push CI build, what compiler best supports Trilinos development efforts considering all factors?  We should discuss this at the next Trilinos Leaders Meeting.  In the meantime, I will be creating a new Trilinos GitHub issue "Set up robust portable pre-push and post-push CI tools and process based on the SEMS Dev Env" that

[2016-06-30 14:55] bartlettroscoe commented on #473
Jim, given the emails from last night, I think this is already in progress, right?  Any reason not to log our emails here and the different versions of the new-developers checklist?

[2016-06-30 14:59] jwillenbring commented on #473
I have issue #372 in progress for that work. I viewed this ticket as being a wholesale move of existing checklists, and 372 as being a single task focused more on the update than the move (but why not move it too?). I don't intend to move all of the other checklists imminently, so I would prefer not to put this in progress.

[2016-06-30 15:04] bartlettroscoe commented on #473
Okay, I see two different options then:
1. Change this issue "Migrate checklists to GitHub Trilinos Developer site" into a GitHub milestone/epic and then stories for each checklist like #372 be put in that epic.
2. Leave this issue as is and make it clear in the description field that this is being blocked by #372 and other issue tickets.

[2016-06-30 15:13] bartlettroscoe commented on #473
Note that I was never CCed (by adding @trilinos/framework) on #372 so I did not even know that it existed.  I just happened to stumble on this current issue ticket by accident.

We need to use mentions as described [here](https://github.com/trilinos/Trilinos/wiki/New-Issue-Cheat-Sheet) (see "Mention Associated Teams and Developers") for GitHub Issues to be an effective an effective project managem

[2016-06-30 15:18] bartlettroscoe commented on #372
Related emails.  It is important to archive this type of info.

----

From: Willenbring, James M
Sent: Thursday, June 30, 2016 10:16 AM
To: Bartlett, Roscoe A; 'trilinos-framework@software. gov'
Subject: Re: Review request for new developer checklist

Ross,

Thanks for the updates. I updated a few things yesterday, but I agree that there are a large number of pages still out of date. I don’t think

[2016-06-30 15:19] bartlettroscoe opened #475 "Zoltan: Several tests fail with 64 bit builds of of Scotch and ParMETIS"
**Next Action Status:**

64-bit Scotch and ParMETIS not enabled for Zoltan yet.  Next: Zoltan team to fix failing tests then enable ...

**CC:** @trilinos/zoltan

**Description:**

As @kddevin predicted in [this #158 comment](https://github.com/trilinos/Trilinos/issues/158#issuecomment-207625949), several of the Scotch and ParMETIS tests fail when using a 64 bit build of Scott and ParMETIS.  These

[2016-06-30 15:22] bartlettroscoe commented on #475
I think in the short-term, going with option-1 "Disable only the currently failing tests for just the SEMS Dev Env build" above is the best short-term solution.

NOTE: These tests will only be disabled for the SEMS Dev Env build and no other builds.

I will provide reproducible instructions once I push the commit for the SEMSDevEnv.cmake file that disables these tests.

@trilinos/framework,

FYI:

[2016-06-30 15:28] bartlettroscoe opened #476 "Zoltan2: Several tests fail with 64 bit builds of of Scotch and ParMETIS"
**Next Action Status:**

64-bit Scotch and ParMETIS not enabled for Zoltan2 yet.  Next: Zoltan2 team to fix failing tests then enable ...

**CC:** @trilinos/zoltan2

**Description:**

As @kddevin predicted in [this #158 comment](https://github.com/trilinos/Trilinos/issues/158#issuecomment-207625949), several of the Scotch and ParMETIS tests fail when using a 64 bit build of Scott and ParMETIS.  Th

[2016-06-30 15:31] bartlettroscoe commented on #476
The same as for similar failing Zoltan tests in #475, I think the best short-term solution is option-1 "Disable only the currently failing tests for just the SEMS Dev Env build".

NOTE: These tests will only be disabled for the SEMS Dev Env build and no other builds.

I will provide reproducible instructions once I push the commit for the SEMSDevEnv.cmake file that disables these tests.

@trilinos

[2016-06-30 15:35] kddevin commented on #475
Please do not disable Zoltan tests.

There is a fourth option:  providing 32-bit ParMETIS and Scotch builds in SEMS.  Indeed, 32-bit ParMETIS builds are used by our primary SNL customer of Zoltan.

However, the Zoltan code already handles 64-bit ParMETIS correctly.  We can update our test suite's answers to use the 64-bit builds.  Please let us know by what date these builds are needed; no timelin

[2016-06-30 16:13] bartlettroscoe commented on #475
These would only be disabled when the file SEMSDevEnv.cmake gets included and that will currently load the 64 bit versions these libraries.  If that is not acceptable, for now, we can just go with option-2 "Disable Scotch and ParMETIS TPL support for Zoltan for just the SEMS Dev Env build".  Since you can't successfully test Zoltan with the 64 bit versions of these libraries, I can't see that poss

[2016-06-30 17:07] bartlettroscoe commented on #475
Another way to look at this issue is that if a user reads the SEACAS documentation:

https://github.com/gsjaardema/seacas/blob/master/README-PARALLEL.md

and then follow the instructions to build a 64 bit version of ParMETIS and then does:

[code]

then they are going to see these same failing Zoltan tests.   I think you can argue that this is a rational thing for a user to try.

I think one could

[2016-06-30 17:31] kddevin commented on #475
Again, please do not disable Zoltan tests.
And disabling ParMETIS/Scotch support is even more dangerous, as some code is not even compiled when this support is disabled.

Clearly, I cannot respond to a deadline of "yesterday."  But I will try to get 64-bit GID answer files into the repository by the end of next week.

[2016-06-30 17:36] michael-a-hansen opened #477 "Example of generalized Davidson method with ifpack2 preconditioning"
I would like to see an example of the generalized Davidson method in Anasazi being used with tpetra and a preconditioner from ifpack2. It's not clear how to incorporate a preconditioner because the examples I've found in Anasazi use epetra and its inverse operator class, which doesn't seem to exist in tpetra.

[2016-06-30 17:47] michael-a-hansen opened #478 "Strange behavior in LSQR condition number estimate"
I am attempting to use LSQR to estimate the condition number of some matrices. I began testing my code on simple matrices for which I know the exact condition numbers. While I can successfully get K=1 for a scaled identity matrix, I get inaccurate condition numbers that depend heavily on the linear solve tolerance for matrices of any additional complexity. For instance, on a diagonal matrix with A

[2016-06-30 17:48] amklinv commented on #477
Hello Michael,

You actually don't need to use an InverseOperator with Tpetra.  (A short explanation: Ifpack preconditioners are applied using the ApplyInverse method.  Ifpack2 applies them with the apply method.  That's why Ifpack preconditioners needed to be wrapped in the InverseOperator, and Ifpack2 ones don't.)  This example uses TraceMin-Davidson rather than generalized Davidson, but it shou

[2016-06-30 18:05] bartlettroscoe commented on #475
A little more info on this.  Where Zoltan developers aware that Scotch and ParMETIS are not currently being enabled with the current offical Trilinos post-push CI testing process?  You can clearly see that by looking at the first CI iteration this morning for Zoltan at:

http://testing.sandia.gov/cdash/viewConfigure.php?buildid=2488428

which shows:

***Final set of non-enabled TPLs:*** ... Scotch

[2016-06-30 20:27] bartlettroscoe commented on #476
Note that the situation for Zoltan2 is different from Zoltan w.r.t. to enabling 64-bit versions of Scotch and ParMETIS.  In the case of Zoltan shown in #475, enabling Scotch and ParMETIS only enables several new tests (about 1/2 of which actually pass).  So there is no downside in enabling 64-bit versions of Scotch and ParMETIS and then (temporarily) disabling the ones the don't pass because all o

[2016-06-30 20:39] bartlettroscoe commented on #475
I locally investigated using:

[code]

in the SEMSDevEnv.cmake file to temporarily disable these failing tests (until they can be fixed) but it fails the configure with the error:

[code]

This issue is that these CMakeLists.txt files are not properly using the output variable `ADDED_TET_NAME_OUT <testName>` documented [here](https://tribits.org/doc/TribitsDevelopersGuide.html#overall-arguments-tr

[2016-06-30 22:03] michael-a-hansen commented on #477
This is helpful, thank you.

Unfortunately I observe that the `HAVE_ANASAZI_IFPACK2` flag is never set to true. I have both Ifpack2 and Anasazi building, I'm sure of that. Grep tells me that on both origin/master and origin/develop, cmake never sets a `HAVE_ANASAZI_IFPACK2` flag and that the only place it shows up is in the TraceMinDavidson example. When I remove the conditional on the flag, compi

[2016-06-30 22:11] amklinv commented on #477
Oops.  There's a long story behind that HAVE_ANASAZI_IFPACK2 issue that I won't bore you with.  It's an issue that I forgot about, so thanks for bringing it up.

Have you ever compiled your own examples/drivers against Trilinos?  You could always copy that example, take out the offending lines, compile it against Trilinos, and run it.  If you need an example of how to do that, I can dig one up for

[2016-06-30 22:21] michael-a-hansen commented on #477
I am running this as my own driver file (from inside the anasazi test directory to facilitate the build), and the issue with removing the flag is that the header it protects (`Ifpack2_Factory.hpp`) doesn't exist. If I remove all of the Ifpack2 preconditioning lines I can run BKS or Generalized Davidson and they work fine. But GenDav is quite slow (relatively) on my unit test of a 1000x1000 diagona

[2016-06-30 23:35] bmpersc opened #479 "Domi web presence missing"
The Domi package doesn't have any pages on the Trilinos.org site currently. Bill Spotz sent the following email regarding Domi's web presence.

Jim, Brent,

I assume this just got buried in the normal course of things, so I am going to nag again. Domi is not a listed package on the trilinos.org site, but it is officially released, so it should be. I don't really read perl, so it isn't obvious to m

[2016-07-01 01:42] MicheldeMessieres commented on #229
I fixed some namespace issue on that branch: thread-safe-rcp-229-wip
So now gcc will not have compile problems.

[2016-07-01 12:06] jwillenbring commented on #479
CC: @wfspotz I will work on this.

Definition of Done:

-create a stub page for Domi that Bill can populate with whatever content he would like there.
-link to the Domi Doxygen content

[2016-07-01 13:56] jwillenbring commented on #479
CC: @trilinos/framework
I created the Domi stub page:

https://trilinos.org/packages/domi/

This page links to the Domi Doxygen for dev and all previous release versions. I am going to close this. @wfspotz should notify us if he needs anything added.

[2016-07-01 13:56] #479 closed

[2016-07-01 15:30] kddevin commented on #475
As I said above, I will try to update the answer files by the end of next week.

[2016-07-01 16:17] bartlettroscoe commented on #475
Zoltan Developers,

To reproduce the failing Zoltan tests building against the 64-bit ParMETIS and Scotch TPLs in the SEMS Dev Env in order to fix them, one just needs to be on a machine that provides the SEMS Dev Env and then do something like the following:

[code]

If that does not work to reproduce the failing tests shown above, please let me know.

Once all of the Zoltan tests are passing, th

[2016-07-01 16:19] bartlettroscoe commented on #476
Zoltan2 Developers,

To reproduce the failing Zoltan2 tests building against the 64-bit ParMETIS and Scotch TPLs in the SEMS Dev Env in order to fix them, one just needs to be on a machine that provides the SEMS Dev Env and then do something like the following:

[code]

If that does not work to reproduce the failing tests shown above, please let me know.

Once all of the Zoltan tests are passing,

[2016-07-01 17:08] bartlettroscoe commented on #158
I tried enabling the 64-bit Scotch and ParMETIS TPLs globally but, [as expected](https://github.com/trilinos/Trilinos/issues/158#issuecomment-207625949), ran into some failing tests with Zoltan and Zoltan2 (see #475 and #476).  I had to avoid enabling theses TPLs for Zoltan, Zoltan2, and ShyLU but ParMETIS was enabled for the other packages that support ParMETIS (see details below).  I pushed thes

[2016-07-01 18:03] jwillenbring opened #480 "Update dggsvd support in Epetra"
CC: @bartlettroscoe @maherou

dggsvd was deprecated in LAPACK 3.6.0. In the same version, dggsvd3 was added, which has one fewer argument but is similar otherwise.

ftp://ftp.icm.edu.pl/packages/netlib/lapack/lapack-3.6.0.txt
http://www.netlib.org/lapack/explore-html/d6/db3/dggsvd3_8f.html
http://www.netlib.org/lapack/explore-html/dd/db4/dggsvd_8f.html

@bartlettroscoe suggested that a configure-t

[2016-07-01 18:12] krcb commented on #480
I think we can look at some ideas, yes.

[2016-07-02 04:07] bartlettroscoe opened #482 "Set up robust portable pre-push and post-push CI tools and process based on the SEMS Dev Env"
**Next Action Status:**

New CI build is pushed to 'develop', new post-push CI server is running, and new checkin-test-sem.sh script ready for more testing and review ... Note going to pursue other extensions (e.g. mac OSX, tcsh, etc.).  See https://github.com/trilinos/Trilinos/issues/482#issuecomment-266124179.  Next: Leave in review til 1/1/2017 then close.

**Blocked By:** #158, #410, #362

**B

[2016-07-02 04:08] bartlettroscoe commented on #482
This is already in progress.  I have already created drafts for the `load_ci_sems_dev_env.sh` and `checkin-test-sems.sh` scripts.

[2016-07-02 13:47] bartlettroscoe commented on #425
Jeff,

I forgot to add this to my personal todo list.  I will look at this next week.

-Ross

[2016-07-02 21:49] kddevin commented on #475
Fixed with 3e68c54865cd4427b10c282a943fe54dcea6417d
Please re-enable Zoltan tests in #158.  Thank you.

[2016-07-02 21:49] #475 closed

[2016-07-03 04:23] kddevin commented on #158
There appears to be an inconsistency in the way the Scotch and ParMETIS TPLs are built in SEMS.  In essence, ParMETIS is built with 64-bit local IDs, while Scotch is built with 32-bit local IDs.  Ideally, they should be built consistently.  To build Scotch with 64-bit IDs, add -DINTSIZE64 to the compiler flags.
It doesn't matter to me whether the SEMS builds use 64-bit or 32-bit IDs, but I'd like

[2016-07-03 04:27] kddevin commented on #475
Note:  The Zoltan tests pass when consistent versions of ParMETIS and Scotch are used.  The SEMS builds currently have 32-bit IDs in Scotch and 64-bit IDs in ParMETIS.
I re-enabled the Zoltan tests in #158, but Zoltan's Scotch tests fail due to this inconsistency.

[2016-07-03 04:41] kddevin commented on #476
Zoltan2 is working fine with ParMETIS.  The tests that are failing above are Scotch tests.
The issue appears to be due to a bad installation of Scotch in SEMS.  We receive the following error from Scotch:
(0): ERROR: SCOTCH_dgraphInit: Scotch compiled with SCOTCH_PTHREAD and program not launched with MPI_THREAD_MULTIPLE
I doubt that anyone who uses Scotch from the SEMS repo wants to use it with pt

[2016-07-03 04:41] #476 closed

[2016-07-03 04:44] kddevin commented on #158
Also, Scotch appears to be built with pthreads enabled, which is problematic for Trilinos programs that use other threading models.  I doubt anyone using SEMS wants pthreads enabled, but I am confirming that with Siva.

[2016-07-03 05:11] bartlettroscoe commented on #158
It doesn't matter to me whether the SEMS builds use 64-bit or 32-bit IDs, but I'd like them to pick just one for both TPLs.

Hum, that is unfortunate.  I wonder what use cases drove the SEMS team to make this choice for how they build Scotch and ParMETIS with different sizes of int?

I verified that the Zoltan Scotch tests fail:

[code]

Given this information, I think the right course of action i

[2016-07-03 05:27] bartlettroscoe commented on #158
BTW: I tested all static builds of Trilinos (i.e. static libs built by Trilinos linking to static TPLs) and they passed.  Actually, it turned out that the builds I was running in the checkin-test-sems.sh script were static builds (because I forgot to set BUILD_SHARED_LIBS=ON by default).

[2016-07-03 15:41] bartlettroscoe commented on #158
I tested fully static builds (i.e. static libs built by CMake and linking to all static TPL libs) and they worked and look correct (see details below).  I also set up a number of builds for usage with the checki-test-sems.sh script and then used it to push.  The header of the DID PUSH email was:

[code]

Now I am going to try to enable the SEMS Dev Env  SuperLU 4.3 TPL and see if that works with T

[2016-07-04 15:55] srajama1 commented on #476
Scotch should be compiled without pthreads support for all our purposed.

[2016-07-04 21:29] kddevin commented on #158
@bartlettroscoe I requested updated Scotch builds (consistent with ParMETIS and no pthreads) from SEMS:
https://sems.sandia.gov/node/2662/submission/271

[2016-07-05 13:56] bartlettroscoe commented on #158
I enabled the SuperLU 4.3 TPL in the SEMS Dev Env and tested it for MPI and serial, and shared and static libs and everything passed.  The DID PUSH email showed:

[code]

Now all of the TPLs that Trilinos uses and SEMS provides are being enabled, except for Scotch (see [above](https://github.com/trilinos/Trilinos/issues/158#issuecomment-230135249)).

----

**Detailed Notes:**

**9) Try to enable S

[2016-07-05 14:19] amklinv commented on #477
@trilinos/ifpack2 @trilinos/anasazi @mhoemmen

How are you compiling your driver?  You are correct that the header ``Ifpack2_Factory.hpp`` does not exist in the source directory, but it will get created and put into the install directory.  The entire contents of that file are
``
#include "Ifpack2_Factory_decl.hpp"
``
so if you believe the nonexistence of that file is causing your problem, you can

[2016-07-05 16:48] mhoemmen commented on #478
Is this the LSQR solver in Belos?

[2016-07-05 17:14] michael-a-hansen commented on #478
Yes

[2016-07-05 17:18] bmpersc opened #483 "Cdash is backed up again"
our cdash installation is backed up by about a day again. It looks like this started saturday night. I'm working on getting it processing again.

[2016-07-05 17:24] mhoemmen commented on #478
I'll poke the person who wrote it and see if they can help out.  Is this an urgent request?

[2016-07-05 17:34] mhoemmen commented on #317
@cihanuq Not at the moment.  The opposite direction exists.  If you would like to contribute this feature, you could look at the implementation of the `writeMatrixStrip` function in tpetra/core/src/Tpetra_Experimental_BlockCrsMatrix_Helpers_def.hpp.

[2016-07-05 17:39] michael-a-hansen commented on #478
Thank you. It may be an important piece of a summer project, so I'd appreciate feedback within the next few weeks if possible.

[2016-07-05 18:00] mhoemmen opened #484 "Tpetra: Consolidate Node creation code in unit tests to avoid multiple Kokkos initialization & finalization cycles"
@trilinos/tpetra

Tpetra's current Node implementation initializes Kokkos automatically for users, if it has not yet been initialized.  It uses a per-Node-class reference count to decide when to finalize Kokkos.  However, Kokkos forbids multiple initialization / finalization cycles in the same run.

This works fine when applications or tests only have one Node instance.  Tpetra has Node creation f

[2016-07-05 18:10] #484 closed

[2016-07-05 18:56] bartlettroscoe commented on #158
I updated the documentation page:

* https://github.com/trilinos/Trilinos/wiki/SEMS-Dev-Env

so it should be ready to review.

@jwillenbring and @bmpersc, can you two please do a review of the SEMS Dev Env starting with the above wiki page?  This should be pretty straightforward and should not be a lot of work.  Otherwise, I can open this up to Trilinos developers to see if one or more of them has

[2016-07-05 20:01] michael-a-hansen commented on #477
I now have an external project compiling and running with Anasazi and an Ifpack2 preconditioner. Problem solved 👍

Thank you for your help!
Mike

[2016-07-05 20:01] #477 closed

[2016-07-05 21:51] bartlettroscoe commented on #476
NOTE: With the commit d960992, now ParMETIS is enabled for Zoltan2 and ShyLU for the SEMS Dev Env builds.  This enables and runs the tests:

[code]

[2016-07-06 04:34] nmhamster opened #485 "OpenMP Detection Assumes GNU-Style Preprocessor Directive for Fortran (Incompatible with IBM XLF)"
Trilinos OpenMP detection of flags for Fortran compiler does not work correctly with IBM XLF compiler on POWER8 platform. The detection assumes that the `-D` flag works for passing preprocessor defines through to the compiler. This is not the case for the IBM `xlf`and `xlf90` compilers where `-WF,-D` needs to be used if we expect the C preprocessor to be called. The correct check should be for `-q

[2016-07-06 16:06] tawiesn commented on #401
Any news?

[2016-07-06 18:20] jfike commented on #425
Ross,
Just to summarize the current status of the issue:
- I was able to successfully create and run some tests using the multipoint type with Thyra.  To get these to work I needed to set Stokhos_ENABLE_Ensemble_Reduction = OFF in my configuration script.  I talked with Eric last week and he may implement the required traits to allow for this option to be on.
- I'm currently trying to modify Alban

[2016-07-06 19:11] bartlettroscoe commented on #425
Jeff,

Glad to hear that you have been able to make some progress on this.  Is there any critcal short-term show-stoppers you are currently experiencing because of this?

In any case, I will try to take a look in the next few days.

-Ross

[2016-07-06 19:31] bartlettroscoe commented on #485
CC: @trilinos/framework

Looking at the implementation for this in TriBITS (not sure who wrote this) I see:

[code]

It seems that updated versions of FindOpenMP.cmake do in fact define an `OpenMP_Fortran_FLAGS` variable  (I looked at CMake 3.5.1).

Si,

Can you please try replacing:

[code]

with:

[code]

in your copy of Trilinos in the file:

    Trilinos/cmake/tribits/core/package_arch/Tribits

[2016-07-06 21:12] nmhamster commented on #485
@bartlettroscoe I had set the various `OpenMP_*` flags last night but got caught up by this bug you outlined in my overnight builds. Have made the change and am building now. Recall that the build, link and test on this machine can be greater than 3 days in the current cycle due to very long optimization times. Appreciate your help.

[2016-07-06 21:23] bartlettroscoe commented on #485
Si, since it looks like this error occurs right in the compiler setup phase in the initial CMake configure, you should get feedback pretty fast (before you start building any Trilinos code).  Otherwise, after the cmake configure completes (successfully, perhaps after some iteration), then I would build a single Fortran source/object file.  For details on how to do that, see:

* https://trilinos.or

[2016-07-07 13:13] MicheldeMessieres commented on #401
@nmhamster Si, will need an update before going further. I think the main thing is to confirm what was tested as this may be resolved now.

[2016-07-07 13:19] nmhamster commented on #401
@MicheldeMessieres started the builds yesterday they take some time to run.

[2016-07-07 13:26] MicheldeMessieres commented on #480
I'm setting this up.
dggsvd3 and sggsvd3 add a new parameter LWORK.

I'll need to know how we want to set up the API for the new LWORK parameter and if we need to preserve backwards compatibility and/or compatibility between the two versions.

Should builds with the new version of LAPACK simply change the format of Epetra_LAPACK::GGSVD and add the new parameter?

[2016-07-07 16:51] mhoemmen opened #487 "Tpetra: BCRS blockWiseMultiply runs in wrong execution space"
@trilinos/tpetra Tpetra::Experimental::BlockCrsMatrix::blockWiseMultiply currently runs in the default Kokkos execution space, rather than the one corresponding to Node.  For example, if CUDA is enabled, Kokkos::Cuda is Kokkos' default execution space by default.  If Node::execution_space is Kokkos::Serial, BlockCrsMatrix::blockWiseMultiply will attempt to run in CUDA.  That causes run-time errors

[2016-07-07 17:36] #487 closed

[2016-07-07 20:39] bartlettroscoe commented on #176
NOTE: I updated how documentation for gitdist is displayed with help and a new argument `--dist-help=<topic>` (TriBITSPub/TriBITS#132).  One can see the updated documentation at:

* https://tribits.org/doc/TribitsDevelopersGuide.html#gitdist-documentation

I snapshotted an updated version of TriBITS into Trilinos with this updated gitdist script in Trilinos commit b847016b54.  I will ask for a rev

[2016-07-07 20:56] bartlettroscoe commented on #158
Jim said he would try to review next week or so.   Therefore, I will assign to Jim for the review.

[2016-07-07 20:58] bartlettroscoe commented on #482
The SEMS Dev Env #158 should be ready to go (after a review).  Now we need to get together a proposal for a new set of PT vs. ST packages.  This is being tracked in the Issue #410.

[2016-07-07 22:16] nmhamster commented on #401
@MicheldeMessieres @tawiesn @bartlettroscoe @maherou I am sorry it took so long to get these results to you today, as always it gets pretty busy in the day. I have just compiled and run the EPetra tests on `white` with GCC 5.3.0 and it looks like the test is passing when using the `develop` branch with the patch supplied.

Output is:
[code]

Thanks for your help getting this to work.

[2016-07-07 22:22] bartlettroscoe commented on #440
Given what I have learned about Google Repo up till now (and the usage of Google Repo by the SNL project that just adopted it) it seems that the straightforward usage of Google Repo is to create and use the same branches and tags in each git repo.   You can see this, for example, with the built-in command [`repos start <BRANCH_NAME>`](https://source.android.com/source/using-repo.html#start).  Ther

[2016-07-07 23:15] michael-a-hansen commented on #478
Hi again - while we wait and/or sort out potential Belos::LSQR issues, are there are any other options in Trilinos for estimating the condition number of a nonhermitian matrix?

[2016-07-08 11:42] #401 closed

[2016-07-08 18:26] mhoemmen opened #488 "Tpetra: new Distributor unit test for createFromSendsAndRecvs fails in non-MPI build"
@trilinos/tpetra Two Tpetra unit tests (Distributor and ImportExport) now fail in a non-MPI ("SERIAL") build, in both DEBUG and RELEASE modes.  This is related to the new createFromSendsAndRecvs feature in Distributor.  @DrBooom tells me I can revert the commit in question until we all have time to sit down and diagnose it.  In the meanwhile, I'll split off the newly added test(s) into their own e

[2016-07-08 18:28] mhoemmen commented on #478
btw I didn't realize you were one of our summer interns.  Could you please send me an e-mail?  I'll put you in touch with the author of LSQR.  You could probably just walk over and bug them ;-)

We have sparse LU factorizations.  You could roll your own L1 condition number estimator using textbook algorithms.  Alternately, you could run Belos GMRES and get the upper Hessenberg matrix out.

[2016-07-08 18:42] michael-a-hansen commented on #478
Email sent. My linear algebra is rusty but I'll check out these other options. Thanks!

[2016-07-08 19:07] mhoemmen commented on #488
The Distributor unit test was harmless.  In a non-MPI build, the communicator has 1 process.  In that case, a fill-complete CrsGraph's Import object is null, since it doesn't need an Import (there's no communication in a mat-vec with a matrix with that graph).  The test assumed that the Import object is always non-null.  I'm fixing this now.

I still need to figure out the ImportExport issue.

[2016-07-08 19:10] mhoemmen commented on #488
In ImportExport_UnitTests, this shows up as the ImportConstructExpert test failing.  It looks like the test also assumes that the graph's Import is always nonnull.  I will split off this test into its own executable and disable it in non-MPI builds.

[2016-07-08 19:25] mhoemmen commented on #488
Fixed!  No big deal :-D

[2016-07-08 19:25] #488 closed

[2016-07-09 21:23] SWMANGO-FACE commented on #101
open; TribitsProcessEnabledTpl.cmake
move to, end of script:

    # Assert that the TPL correctly defined all of these varaibles.
    ASSERT_DEFINED(TPL_${TPL_NAME}_INCLUDE_DIRS)
    ASSERT_DEFINED(TPL_${TPL_NAME}_LIBRARIES)
    ASSERT_DEFINED(TPL_${TPL_NAME}_LIBRARY_DIRS)
    # ToDo: Make TPL_${TPL_NAME}_LIBRARY_DIRS go away.  It is not needed for
    # anything.

  ENDIF()

ENDFUNCTION()
)
)

af

[2016-07-11 16:07] bartlettroscoe opened #489 "Remove redundant TriBITS includes in CMakeLists.txt files"
**Next Action Status:**

Changes accepted for SEACAS github repo.  Changes for native Trilinos packages pushed.  Next: Wait for STK to make changes in native repo and Kokkos to accept PR ...

**CC:** @trilinos/framework

**Description**

A long time ago, TriBITS added all the includes needed to process project, repository, and package files to the TriBITS.cmake file.  This avoids the need to inclu

[2016-07-11 16:10] bartlettroscoe commented on #489
Looks like most of the redundant includes are in SEACAS and STK.  I will issue tickets in their native issue tracker systems to run the update script.  Actually, for SEACAS I can just do a PR on the independent SEACAS git repo.  I will take care of the other packages that I can change.

[2016-07-11 17:47] jmgate opened #490 "Remove Panzer Warnings"
Building Panzer generates a handful of warnings --- looks like they're largely due to deprecated features of libraries we're using.  It'd be nice to clean things up a bit.
@trilinos/panzer

[2016-07-11 19:38] bartlettroscoe commented on #489
Greg already merged my PR to remove the redundant includes from the SEACAS repo (see gsjaardema/seacas#52).

Remaining packages that have includes that should be removed include:

* DOMI: @wfspotz
* Intrepid2: @trilinos/intrepid2
* Kokkos: @crtrott
* MueLu: @trilinos/muelu
* Phalanx: @trilinos/phalanx
* PIKE: @rppawlo
* ROL: @trilinos/rol
* ShyLU: @trilinos/shylu
* STK: @trilinos/stk
* Stokhos: @t

[2016-07-11 19:52] bartlettroscoe commented on #489
For STK, I created the native STK Trac issue `#15252` for this.

For Kokkos, I created kokkos/kokkos#358.

Now for the rest of the packages.

[2016-07-12 02:27] bartlettroscoe commented on #489
All that is left to do is:
* Kokkos developers to accept kokkos/kokkos#358 and then sync kokkos to Trilinos
* STK to run the refactoring script, push to their repo, then sync STK into Trilinos

[2016-07-12 14:54] bartlettroscoe commented on #482
Now that I have been added to the necessary metagroups, I can see the setup for the Jenkins build configurations.  Looking at the Trilinos CI Jenkins build at:

* https://jenkins-srn.sandia.gov/view/Trilinos/job/Trilinos_continuous/configure

I can see that is basically just starts a build at 1 am MDT and then polls the main Trilinos GitHub 'develp' branch every 10 minutes.  The problem with that

[2016-07-12 15:28] bmpersc opened #491 "create 12.8 release"
Following checklist below and updating as needed:

                                                            rev 2016/01

Creating a New Trilinos (Release) Branch with GIT

A GIT branch can be used to maintain a version of the code that is different
than the primary development branch.  This process describes how to create a
Trilinos release branch, but the steps can easily be generalized to app

[2016-07-12 16:09] mhoemmen opened #492 "Anasazi: BSD license?"
@csiefer2 asked me to post this issue since he's having trouble logging into Github.

Customer requests BSD license for Anasazi, which reportedly has an LGPL license.

[2016-07-12 16:12] mhoemmen opened #493 "Anasazi: BSD license?"
@csiefer2 requested that I post the following issue, since he's having troubles logging into Github.

Anasazi reportedly still has an LGPL license.  A customer requested a BSD license for Anasazi.

[2016-07-12 17:56] csiefer2 commented on #493
Closing duplicate

[2016-07-12 17:56] #493 closed

[2016-07-12 18:57] leonavery opened #494 "Trilinos_ENABLE_FORTRAN=OFF still complains that it can't find Fortran compiler"
I'm trying to build trilinos on a Mac, thus without Fortran. I thought this would be straightforward. I start with `cmake -D Trilinos_ENABLE_FORTRAN=OFF trilinos-12.6.3-Source`, which creates a bunch of output that I attach below. The key point, though, is that it ends with

    CMake Error at cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake:1669     (ENABLE_LANGUAGE):
      No CMAKE_Fort

[2016-07-12 21:06] bmpersc commented on #491
The release branch has been created and develop has been made open to developers again. Still need to create the nightly testing for the branch.

[2016-07-12 23:04] bmpersc commented on #491
nightly testing has been setup and the appropriate track setup in cdash.

[2016-07-12 23:14] bartlettroscoe commented on #452
I downloaded the most current version of the Google Repo tool with:

[code]

The updated script seems to be much more sophisticated than the version that is documented at:

* https://source.android.com/source/using-repo.html

For starters, there is a bunch more commands:

[code]

Note that the script ‘repo’ that you download is just a shell of a script.  The guts of the script are only downloaded

[2016-07-12 23:30] bartlettroscoe commented on #452
At the Trilinos Leaders Meeting today, Siva (@srajama1) pointed to a recent article:

* http://cacm.acm.org/magazines/2016/7/204032-why-google-stores-billions-of-lines-of-code-in-a-single-repository/fulltext

on how Google maintains their entire online application suite (i.e. Google search, GMail, Google Drive, etc.) in a single monolithic version control repository on a single "HEAD" branch using

[2016-07-13 00:55] bartlettroscoe commented on #452
The concept of treating a set of git repos "as one repo" seems to be a pretty common idea.  See:

* https://www.jetbrains.com/help/idea/2016.1/git-branches-in-multirooted-projects.html#sync
* https://gist.github.com/Jwink3101/f50d1946dceccc5533811b5e3a13247d
* https://github.com/joelpurra/gitslave

Here is a nice overview of some of the tools that exist for managing sets of git respos:

* http://s

[2016-07-13 13:24] mhoemmen commented on #494
CMake is case sensitive.  Try Trilinos_ENABLE_Fortran:BOOL=OFF.  I use this to build with Clang on Mac.

[2016-07-13 13:25] #494 closed

[2016-07-13 23:10] bartlettroscoe commented on #87
Seems that TriBITS not setting `-DNDEBUG` for release builds is causing the failing test `STKUnit_tests_util_parallel_UnitTest_MPI_4` (#441)  (see native STK Trac ticket `#15120`).  Therefore, I will see if setting `-DNDEBUG` in the release build flags fixes this.

[2016-07-14 16:12] bartlettroscoe opened #495 "Piro: Failing test Piro_EpetraSolver_MPI_4 in SEMS MPI_RELEASE_DEBUG_SHARED_ST build"
**Next Action Status:**

Disabled failing test for the checkin-test-sems.sh script. Next: Fix the failing test?

**CC:** @trilinos/framework, @trilinos/thyra, @agsalin

**Description:**

When trying to push a change to Trilinos enabling all of the packages, I got a failing test Piro_EpetraSolver_MPI_4.   This was generated on the machine muir using:

[code]

The Trilinos version was:

[code]

The

[2016-07-14 16:13] bartlettroscoe commented on #495
This stopped my push related to #441 and #87.  Therefore, I will disable in the checkin-test-sems.sh script to allow my push.

[2016-07-14 18:41] bartlettroscoe commented on #87
The `-DNDEBUG` flag has been added to all `CMAKE_BUILD_TYPE=RELEASE` builds with GCC again by default.  This was done in the TriBITS to Trilinos snapshot commit 69c2781d7c1bea296e753455d12e11cc0f84c327:

[code]

[2016-07-14 18:47] bartlettroscoe commented on #87
The last thing to do is to override the default flags when building with Intel in addition to GCC.  I would have done that as part of my recent push  but the Intel compiler would not run on the machine `muir` I was working on so I could not test it.  I need to get my own Linux machine.

[2016-07-14 18:51] bartlettroscoe commented on #441
I added `-DNDEBUG` to the release flags for GCC and the test `STKUnit_tests_util_parallel_UnitTest_MPI_4` passed.  I pushed the revert commit  82120c2 so now the test will be enabled again in pre-push testing:

[code]

Now I will just wait for confirmation that this is passing in the post-push CI build and then we can close this Issue ticket.

[2016-07-14 19:01] bartlettroscoe commented on #495
I disabled this test for the debug builds in the commit 7e004c4.  Now someone just needs to fix this.

Since there appears to be no post-push automated testing that will see this failure, someone will need to reproduce the failure themselves.  They can do that by reverting the commit  7e004c4 and then running the checkin-test-sems.sh script as described in the description above.

Who should be ass

[2016-07-14 19:11] bartlettroscoe commented on #462
Related to this issue, I was on a loaded machine trying to push and I got a timeout of the test ??? at 3 minutes.  A prior run with the machine unloaded passed (but a different test failed, see #495).  As a result I had to do a forced push a shown below.  Not sure why only this ROL test timed out and not any other pre-push BASIC test.

[code]

[2016-07-14 19:20] egboman commented on #456
This is a tricky question and also applies to other methods in OrderingSolution, such as getPermutationView. For consistency, they should all use the same data type. Intuitive, local ordering should use lno_t while global ordering should use gno_t (global is not yet implemented). However, Scotch always uses Scotch_Num so we had decided in March 2016 to switch from lno_t to gno_t everywhere. Then t

[2016-07-15 05:37] jwillenbring commented on #158
@bartlettroscoe I took a look at the documentation and tried a build. Here are my results and reactions.

I loaded the SEMS env with the command listed in the documentation. This left me with the following modules loaded:

module list
Currently Loaded Modulefiles:
  1) sems-env                       7) sems-zlib/1.2.8/base
  2) sems-python/2.7.9        8) sems-hdf5/1.8.12/parallel
  3) sems-cmake/

[2016-07-15 21:25] jwillenbring commented on #158
Here are the comments and questions I have after trying the SEMS dev env

1) It is nice that it is possible to turn on a bunch of TPLs without having to think about it, but I was wondering if it works or is meant to work to explicitly disable a TPL that is loaded in the SEMS env. I thought it would be nice to be able to do this. I recognize that it would be possible to unload that module, but expl

[2016-07-16 15:37] bartlettroscoe commented on #158
Responding to @jwillenbring from [above comment](https://github.com/trilinos/Trilinos/issues/158#issuecomment-233073800):

Yes, you can explicitly disable any TPL that gets enabled by default.  Just configure with:

[code]

The trick is that you use:

[code]

That sets the default before TriBITS dependency handling sets the default.  If this default gets set, then you can trace that back to the fi

[2016-07-16 16:03] bartlettroscoe commented on #64
Responding to @mhoemmen from [above comment](@bartlettroscoe Was that with a particular count of threads or just the default settings? Just curious.):

Not sure. How can you tell? Does this get printed in the test output?

[2016-07-18 12:34] bartlettroscoe commented on #158
Responding to @jwillenbring from [above comment](https://github.com/trilinos/Trilinos/issues/158#issuecomment-232864091):

That is an MPI_RELEASE_DEBUG_SHARED_ST build (the `RELEASE` part comes from `CMAKE_BUILD_TYPE=RELEASE` which is the default for Trilinos).

Wait, SuperLU should be enabled by default.  What version of Trilinos did you try?

What platform and what OS are you using?  What does t

[2016-07-18 15:58] tawiesn opened #498 "Panzer: MPI communicator problem with auxiliary data"
When setting Dirichlet boundary conditions for auxiliary fields (e.g. pressure laplacian needed for certain preconditioners) the MPI comm object is screwed up and makes the software hang before finishing and writing the TimeMonitor information.

[2016-07-18 16:00] tawiesn commented on #498
To reproduce the problem you can use the following input file
[mhd-generator-small-teko.txt](https://github.com/trilinos/Trilinos/files/369489/mhd-generator-small-teko.txt)

[2016-07-18 16:02] tawiesn commented on #498
It seems that the communicator is somewhere screwed up when setting up different EpetraLinearObjFactory objects different than the main BlockedEpetraLinearObjFactory in panzer.

[2016-07-18 18:07] mhoemmen commented on #64
You can set the thread count with OpenMP using the OMP_NUM_THREADS environment variable.

[2016-07-18 18:12] mhoemmen opened #499 "Tpetra::CrsMatrix: Spurious build warning"
@bmpersc reported the following build warning with GCC 4.7.2.  He thinks it is overly pedantic (and therefore likely spurious).

.../Tpetra_CrsMatrix_def.hpp: In member function ‘typename std::enable_if<std::is_same<TagType, void>::value>::type Kokkos::Impl::ParallelReduce<FunctorType, Kokkos::RangePolicy<Traits ...>, Kokkos::Serial>::exec(Kokkos::Impl::ParallelReduce<FunctorType, Kokkos::RangePol

[2016-07-18 18:41] MicheldeMessieres commented on #449
Jim and I discussed these briefly. The tests failures are specific to debug and clang. I'll plan to work on them in a few days unless someone already has something in progress.

[2016-07-18 18:55] kddevin commented on #225
@jwillenbring
In case you care (although not caring is fine, too :) :  the Zoltan tests with ParMETIS now pass regardless of whether ParMETIS is built with 32-bit or 64-bit indices.  See #475

[2016-07-18 19:07] mhoemmen commented on #449
Those have been failing with Clang for a long time.  I suspect the failures are spurious, but it would be nice to have a detailed analysis.  Thanks!

[2016-07-18 19:11] mhoemmen opened #500 "Tpetra::CrsMatrix: Add getLocalRowView overload that returns raw pointers"
@trilinos/tpetra This will help fix #449 while still letting us use thread parallelism.  The issue is that Teuchos::ArrayView is not thread-safe in a debug build, due to RCP reference counting (e.g., ArrayView iterators are ArrayRCP iterators in a debug build).  Thus, in order to access CrsMatrix entries safely in a thread-parallel context, we need methods that carefully avoid anything that would

[2016-07-18 19:45] jwillenbring commented on #225
Thanks, @kddevin .

[2016-07-18 21:09] bartlettroscoe opened #501 "Develop and use git commit template for Trilinos repo"
**CC:** @trilinos/framework

**Description:**

Using a commit template has been shown on other projects to help make commit messages more consistent and contain the proper information.

This story is to create a git commit template that will be used by default for all Trilinos commits.

**Definition of Done:**

Git commit template is installed and presented for all Trilinos commits (but the commit

[2016-07-18 23:51] mhoemmen commented on #500
Fixed in the develop branch.

[2016-07-18 23:51] #500 closed

[2016-07-18 23:51] mhoemmen commented on #499
Fixed in the develop branch.

[2016-07-18 23:51] #499 closed

[2016-07-19 18:23] srajama1 commented on #244
Adding zoltan2 team. @trilinos/zoltan2

[2016-07-19 18:34] srajama1 commented on #244
Adding Nathan to the bug ( @ndellingwood ). We have decided to got with Erik's recommendation to disable Zoltan2 inside Ifpack2 (in Kokkos integration testing in Trilinos) as this was preventing making progress. Scotch is needed by both Tacho and Basker and in integration testing.

[2016-07-19 18:37] etphipp commented on #244
It would be nice if we could get this fixed though, so that Zoltan2, Scotch, and Stokhos can all be enabled.  If I'm doing something incorrectly in Stokhos, I am happy to fix that, but it sounds to me like Ifpack2 is incorrectly passing the scalar type along to Zoltan2.

[2016-07-19 18:42] srajama1 commented on #244
Yes, it could be fixed in Zoltan2 or Ifpack2 ? Is there something like magnitude for Stokhos scalar type ? Traditionally the non-zero values are treated as weights. If one implements what is a reasonable weight for Stokhos scalar type then either Zoltan2 or Ifpack2 can use it.

[2016-07-19 18:55] kddevin commented on #244
Would Erik's suggestion (that Ifpack2 use a Graph adapter rather than a Matrix adapter) resolve this problem?

[2016-07-19 19:11] egboman commented on #244
That should work but then Ifpack2 needs to look at the scalar type and branch on that. Siva's suggestion of using magnitude as scalar type is another option. Or we could let Zoltan2 decide what to do based on the scalar type. So there are at least 3 different ways to resolve this issue.

[2016-07-19 19:21] etphipp commented on #244
There is a magnitude type for Stokhos' scalar types, which is double.  So that would be one way to fix it, it you need to pass a matrix.  But after talking with Siva, it sounds to me like the matrix passed to Zoltan2 is supposed to be a weight matrix, which should always have real-valued entries (float or double).  So it sounds to me like Ifpack2 is creating and passing a matrix of the wrong type,

[2016-07-19 19:23] etphipp commented on #244
Also, this issue should arise if the scalar type is complex, unless there already is special handling in Ifpack2 for this case.

[2016-07-19 19:44] egboman commented on #244
Correct, complex has the same issue. We could let Ifpack2 create another matrix (different scalar type) but this will essentially double the memory. We should do it only if needed.

[2016-07-19 19:49] kddevin commented on #244
Right; we don't want to build another matrix.
Siva is correct that, when we are given a matrix, we can consider the matrix values to be edge weights.  However, such weights are not used in the RCM ordering that Ifpack2 is using.  All that is needed is the graph.  So perhaps we can just extract the graph from Ifpack2's matrix (isn't there a method like getCrsGraph() for Tpetra matrices?) and then b

[2016-07-19 19:54] egboman commented on #244
Curently Ifpack2 only uses standard RCM (no weights). In the future we might want to investigate numerically-aware orderings, which would require weights.

[2016-07-19 20:09] kddevin commented on #244
Thanks, Erik.  You and Siva can decide whether to pursue a simple solution for now or a more general solution for a future day.  I'm happy to help on the Zoltan2 side.

Should addressing this issue be made a priority?  We could consider it along with the input traits work #496 and the ordering return types #456.

[2016-07-19 20:29] bmpersc commented on #401
@MicheldeMessieres It is unclear to me if this problem has been addressed to a point where I can pull over the necessary commits to the 12.6 branch for the 12.6.4 bug fix release. I'm trying to ascertain if I need to apply a patch to Trilinos or not. Since you closed this does that mean that this issue has been resolved for you on the develop or master branch? I ask because Si's last comment indic

[2016-07-19 21:55] #458 closed

[2016-07-19 22:41] MicheldeMessieres commented on #401
@bmpersc The original patch by @tawiesn is in master now which I just tried out - that seems to be working properly.

[2016-07-19 23:42] bmpersc commented on #401
Just to be 100% clear you are referring to fee7ee1 correct?

[2016-07-19 23:53] MicheldeMessieres commented on #401
Correct.

[2016-07-20 01:07] srajama1 commented on #244
To Karen's question above: Yes, technically we should run Ifpack2 tests and make sure we don't break it. If it breaks Ifpack2 needs to be changed to not call Zoltan2 with Complex types. Practically, I don't think Complex is even tested in this scenario, so nothing will break (yet). If it did we would have gotten compile error reports from them before Stokhos :)
Adding Ifpack2 team: @trilinos/ifpac

[2016-07-20 03:48] maherou commented on #480
It seems that having a macro associated with the interface change, along with a configure-time check, would be appropriate.  Programmers will also need to know which version of the functions are available and provide the right interface, LWORK or not.

[2016-07-20 13:38] MicheldeMessieres commented on #480
Thanks - I've set up a pull request #502 which will provide this configure time check.

[2016-07-20 14:25] bartlettroscoe commented on #501
See detailed proposal for these install hook in TriBITSPub/TriBITS#138

I would like to propose the following git commit template file:

[code]

The filled-out commit message would look like:

[code]

Since the lines starting with `#" are removed, this creates the commit message

[code]

The format of this commit template came from:

* http://codeinthehole.com/writing/a-useful-template-for-commit-

[2016-07-20 14:38] michelemartone commented on #431
Thanks for the links.

I followed what you suggest.

I've created my fork of Trilinos:
 https://github.com/michelemartone/Trilinos

Then I've branched it, and I issued a pull request:
 https://github.com/trilinos/Trilinos/pull/503

Please give a look to it --- instructions as in the original ticket:
 https://github.com/trilinos/Trilinos/issues/431

I'm waiting for your comments.

[2016-07-20 14:50] bmpersc commented on #401
Okay, then I believe I have everything need. Thank you.

[2016-07-20 15:07] eric-c-cyr opened #504 "Panzer: Nodal worksets and pinning in panzer"
We can't really do pinning in Panzer. We've done it with a model evaluator adapter in the past. To do this we would need node sets treated as boundary conditions.

[2016-07-20 17:44] mhoemmen commented on #501
Is "about 50 chars" a hard limit?

[2016-07-20 17:59] bartlettroscoe commented on #501
No, it is just a recommendation and it is based on the fact that git itself will clip summary lines longer than 50 chars in some contexts.  But git itself creates summary lines longer than that (i.e. if it merges from a long branch name).  It is just that we don't want summary lines that are too long.  I would put a hard limit of 120 chars.  If you can't summarize what you are doing in 120 chars,

[2016-07-20 17:59] mhoemmen opened #505 "Tpetra: Make it possible to use a Kokkos::Device or Kokkos execution space in place of Node"
@trilinos/tpetra
#57 depends on this.
1. Move Tpetra objects into an inner, hidden namespace.
2. Use C++11 type aliases in the Tpetra namespace, so supplying a Kokkos::Device or Kokkos execution space in place of the Node works

For example (default template parameters omitted for brevity):

[code]

[2016-07-20 18:01] bartlettroscoe commented on #410
NOTE: I just created the internal SON ticket:

* https://sems-jira.sandia.gov/browse/TRIL-59

to process the list of "important" packages and TPLs for internal SNL customers.  The outcome from that story will be an updated candidate list of PT packages and TPLs.

[2016-07-20 18:40] ndellingwood opened #506 "Tpetra: Failing Cuda unit tests, due to calling Kokkos::initialize after Kokkos::finalize"
@mhoemmen The following Tpetra unit tests fail with Cuda/7.5.18

TpetraCore_ExpBlockView_MPI_1
TpetraCore_Map_removeEmptyProcesses_MPI_4

Sample error message:
Calling Cuda::initialize after Cuda::finalize is illegal

Kokkos has always forbidden calling Kokkos::initialize after Kokkos::finalize has been called.  However, recent Kokkos changes explicitly check for this.  We need to fix the tests in

[2016-07-20 19:44] bartlettroscoe commented on #441
The test `STKUnit_tests_util_parallel_UnitTest_MPI_4` is showing up passing along with all other STK tests in the CI build yesterday shown here:

* http://testing.sandia.gov/cdash/viewTest.php?onlypassed&buildid=2508012

I am closing this as fixed.

[2016-07-20 19:44] #441 closed

[2016-07-20 20:33] mhoemmen commented on #506
I've got a fix ready for TpetraCore_ExpBlockView_MPI_1.  Not pushed yet.  Starting on the second test.  Will push once finished.

[2016-07-20 20:50] mhoemmen commented on #506
Second test also had an obvious fix (don't construct Node instances directly; let Map do it, so it can use the static Node instance that sticks around).

[2016-07-20 20:50] mhoemmen commented on #506
Running check-in tests now.

[2016-07-20 21:53] mhoemmen commented on #506
Pushed -- please close once it works for you.  CUDA tests pass for me.

[2016-07-20 23:36] mhoemmen opened #507 "Xpetra: Cloner_UnitTests build error w/ Cuda & Serial enabled"
@trilinos/xpetra Xpetra's Cloner_UnitTests reports a build error with Cuda and Serial both enabled in Tpetra:

Linking CXX executable Xpetra_Cloner_UnitTests.exe
CMakeFiles/Xpetra_Cloner_UnitTests.dir/Cloner_UnitTests.cpp.o: In function `Xpetra::MapFactory<int, long long, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Cuda, Kokkos::CudaUVMSpace> >::createContigMap(Xpetra::UnderlyingLib, unsigned

[2016-07-20 23:36] mhoemmen commented on #507
This is relevant to @ndellingwood 's efforts to snapshot the latest Kokkos into Tpetra.

[2016-07-20 23:41] mhoemmen commented on #507
Hm, this may have something to do with the instantiations using the wrong macro -- HAVE_TPETRA_INST_INT_LONG for GO = long long, not right at all!  Let me try that...

[2016-07-20 23:44] mhoemmen commented on #507
Hm, this fixes the build.  The Tpetra part of this test passes now.   The Epetra part of this test fails, but for a likely unrelated reason:

13: 0. Cloner_int_int_NodeType_MapCloneTpetra_UnitTest ... [Passed] (0.977 sec)
13: 1. Cloner_int_int_NodeType_MapCloneEpetra_UnitTest ...
13:
13:  p=0: *** Caught standard std::exception of type 'Xpetra::Exceptions::BadCast' :
13:
13:   /scratch/prj/Trilino

[2016-07-20 23:46] ndellingwood commented on #507
Thanks @mhoemmen

[2016-07-20 23:46] mhoemmen commented on #507
@ndellingwood I haven't pushed changes yet; will notify you when I do.

[2016-07-20 23:49] mhoemmen opened #508 "Xpetra: Cloner_UnitTests test failure with Cuda & Serial enabled"
@trilinos/xpetra

This depends on the fix for #506.  The Tpetra part of this test passes now. The Epetra part of this test fails:

13: 0. Cloner_int_int_NodeType_MapCloneTpetra_UnitTest ... \[Passed\] (0.977 sec)
13: 1. Cloner_int_int_NodeType_MapCloneEpetra_UnitTest ...
13:
13: p=0: *** Caught standard std::exception of type 'Xpetra::Exceptions::BadCast' :
13:
13: .../Trilinos/packages/xpetra/src

[2016-07-20 23:51] mhoemmen commented on #508
Fix should be easy: In the MapCloneEpetra test, skip the test (at run time even) unless N1 and N2 are both the "serial node" type (whatever that means in Xpetra terms).

[2016-07-21 00:02] mhoemmen commented on #507
@ndellingwood I just pushed changes.  This fixes the issue.

[2016-07-21 00:02] #507 closed

[2016-07-21 00:08] mhoemmen commented on #508
"serial node" type means Xpetra::EpetraNode, which is a typedef in xpetra/src/Map/Xpetra_Map.hpp.  It is either Kokkos::Compat::KokkosOpenMPWrapperNode or Kokkos::Compat::KokkosSerialWrapperNode, depending on configuration options.  (In fact, those options aren't quite right -- they should check Kokkos macros to see whether the Node type in question is enabled.  Right now they just check EPETRA_HA

[2016-07-21 00:10] mhoemmen opened #509 "Xpetra: EpetraNode typedef definition should check Kokkos macros too"
Xpetra's "serial node" type means Xpetra::EpetraNode, which is a typedef in xpetra/src/Map/Xpetra_Map.hpp.  It is either Kokkos::Compat::KokkosOpenMPWrapperNode or Kokkos::Compat::KokkosSerialWrapperNode, depending on configuration options.

Currently, those options check the EPETRA_HAVE_OMP macro to decide whether to use KokkosOpenMPWrapperNode as EpetraNode.  They should _also_ check the Kokkos

[2016-07-21 00:11] bartlettroscoe commented on #482
I just occurred to me that we could set up the checkin-test-sems.sh script to automatically query CDash for the latest CI build and then automatically disable any failing tests for that CI build.  An updated version of CDash will allow that to occur.   You would then extract that list of tests from a that Python script and then you would create the MPI_RELEASE_DEBUG_SHARED.config file to contain:

[2016-07-21 00:20] mhoemmen commented on #508
I implemented the above fix.  It works (the test now passes) when Cuda and Serial are enabled.  I'm running the check-in tests now.

[2016-07-21 00:26] mhoemmen opened #510 "Tpetra: Node should not call Kokkos::initialize (or finalize) if it was called externally"
@trilinos/tpetra @ndellingwood @aprokop @trilinos/muelu

Node should _not_ call Kokkos::$EXECUTION_SPACE::finalize if $EXECUTION_SPACE was already initialized before Node's constructor got to it.  This should help prevent Kokkos::initialize being called after Kokkos::finalize.  That was always forbidden, but upcoming changes to Kokkos will actually throw an exception if this happens.

Use the same

[2016-07-21 15:47] mhoemmen commented on #510
Note that this alone will not fix unit tests that will fail due to Kokkos::$EXECUTION_SPACE::initialize being called after Kokkos::$EXECUTION_SPACE::finalize.  One also needs to change the unit test main() function so that it initializes and finalizes Kokkos.  My changes to the TpetraCore_ExpBlockView unit test yesterday show how to do that.  (You can put the main() function right in the test.)

[2016-07-21 15:51] mhoemmen commented on #431
@michelemartone Thanks for doing this!  Thanks also to @jwillenbring for the instructions.  I'll take a look.

[2016-07-21 16:46] tawiesn commented on #508
@mhoemmen  Thanks working on this.

[2016-07-21 16:49] tawiesn commented on #509
@mhoemmen You are right: one should _also_ check the Kokkos macros KOKKOS_HAVE_OPENMP and KOKKOS_HAVE_SERIAL _if (and only if?)_ Kokkos is enabled. One could have an Epetra only build without Kokkos enabled, but OpenMP support.

[2016-07-21 18:10] mhoemmen commented on #510
Fix implemented, with lots of checks.  Debugging one failing Tpetra test with this fix now.

[2016-07-21 18:18] srajama1 opened #512 "Teuchos TimeMonitor summarize prints zeros"
Teuhos TimeMonitor summarize() call returns zeros for all the timers from Amesos2. However calling solver->printSolution in Amesos2 shows the actual times and number of calls for the Amesos2 timers.

The behavior was first exhibited in ROL. I have modified the a simple example in Amesos2 to demonstrate this behavior as well. Just run the example with --print-solution to see the problem.

The examp

[2016-07-21 18:53] mhoemmen commented on #510
Just pushed a fix.

[2016-07-21 21:46] #506 closed

[2016-07-21 21:55] jwillenbring commented on #158
[code]

I know that it isn't entirely silent, but when, for example, logging into a machine and looking around at what build setups you have and could recycle to reproduce an issue, digging/grepping through cmake output is a painfully slow way to go. Another case is where I have several builds going on a machine with different options, then I get booted off, and just want to get the builds going a

[2016-07-21 21:57] jwillenbring commented on #482
@bartlettroscoe suggested I make this comment in this ticket, instead of in #158

I am comfortable with having a prepush environment that uses GCC 4.8.4, but for the short time that we have just one build protecting the promotion from develop to master, I really think we need to use GCC 4.7.2 for that promotional testing. That version has to work now, and if it doesn't, it will complicate the inte

[2016-07-21 22:16] ndellingwood commented on #274
Finished snapshotting Kokkos into Trilinos, DynRankView / View interoperability is now available in Trilinos develop branch. Summary:

DynRankView redesigned to be its own View implementation
Added features:
* Copy, Copy-assign View to DynRankView
* deep_copy between Views and DynRankViews
* subview function name now enabled (subdynrankview has same functionality)
* Common free function to request

[2016-07-21 22:23] #508 closed

[2016-07-22 04:18] mhoemmen commented on #509
@tawiesn Does Xpetra have a stub Kokkos::OpenMP (or a stub KokkosOpenMPWrapperNode) when Kokkos is not enabled?  Otherwise, it wouldn't work to have an Epetra-only build without Kokkos being enabled.

[2016-07-22 06:47] cihanuq commented on #317
@mhoemmen The fact that Amesos2, MueLu, and the ILUT preconditioner in Ifpack2 don't support block matrices made us go a different route. We now "unroll" the graph in our code and create a regular CrsMatrix if one of those features are requested by the user. Maybe the code is useful to Trilinos people so here it comes:

    typedef Tpetra::CrsGraph<LO,GO,NT> GraphType;
    typedef GraphType::map_t

[2016-07-22 17:09] tawiesn commented on #509
@mhoemmen In xpetra/src/FakeKokkos there is a Kokkos_SerialNode.hpp which contains a stub Kokkos::Compat::KokkosSerialWrapperNode. As far as i remember we don't have a stub Kokkos::OpenMP (maybe we need that, too?). I think we've never tested an Epetra only built with Kokkos disabled but Epetra built with OpenMP support. At that time when we implemented that FakeKokkos thing i didn't even know tha

[2016-07-22 18:56] mhoemmen commented on #509
Epetra's OpenMP support is pretty limited.  By default, you'll get sparse mat-vecs and vector updates (axpy).  You have to set a nondefault CMake option to use OpenMP for vector dot products and norms in Epetra (since that changes the order of floating-point operations).

[2016-07-22 18:58] mhoemmen commented on #509
The main benefit of having a stub Kokkos::OpenMP would be doing OpenMP-threaded multigrid with Epetra objects.  Not sure if Epetra does first-touch allocation, though.

[2016-07-22 20:00] tawiesn commented on #509
@mhoemmen @jhux2 Do we want to allow users to do an Epetra-only build with OpenMP support (but Kokkos disabled)? Are there concrete users requesting that? I personally tend to tell people to use Tpetra (with Kokkos enabled) when they want to run with OpenMP...

[2016-07-22 20:47] mhoemmen commented on #509
If the Node name has "OpenMP" in it, users will expect OpenMP things to happen.  If all OpenMP in MueLu happens through Kokkos, and Kokkos doesn't exist, then MueLu can't do OpenMP.  That would violate users' expectations.

Epetra has very limited OpenMP support.  AztecOO does not use it at all (it just accesses Epetra data structures), and ML and Ifpack only use it through the sparse mat-vec and

[2016-07-22 21:04] mhoemmen opened #513 "Tpetra::Map should check for whether Kokkos is initialized (esp. if input Node is null)"
@trilinos/tpetra

Per #57, we plan to replace Node entirely.  As a backwards compatibility measure, we would let the input `Teuchos::RCP<Node>` instance be null, so that users could omit it.  In fact, Tpetra::Map does not currently check whether the Node instance is null.  Node instances currently initialize Kokkos if it is not already initialized.  Thus, if we let the Node be null, it could be po

[2016-07-22 21:17] mhoemmen commented on #455
This was fixed in the following commit, which also implements the "we should actually add" parenthetical remark above:

commit 242b06685e97d45e221e017789a8d747d19aa564
Author: Mark Hoemmen <mhoemme@sandia.gov>
Date:   Mon Jun 27 12:42:23 2016 -0600

    Tpetra::Crs{Graph,Matrix}: Always use new computeOffsets*

    @trilinos/tpetra In Tpetra::CrsGraph and Tpetra::CrsMatrix, instead of
    using se

[2016-07-22 21:17] #455 closed

[2016-07-22 21:29] tawiesn commented on #509
I think another important aspect one must not forget is, that Epetra itself has no node type, that is, OpenMP support in Epetra is enabled by a compile flag at compilation time. In the Epetra stack for Xpetra we just need a dummy node type which is somehow consistent with the Tpetra design. I've introduced the "EpetraNode" typedef (which is either Kokkos::Serial or Kokkos::OpenMP depending on the

[2016-07-22 21:45] mhoemmen opened #514 "Ifpack2: Add sparse triangular solve wrapper (SparseTriangularSolver)"
@trilinos/ifpack2 @trilinos/tpetra @ambrad

Ifpack2 needs local (to each MPI process) sparse triangular solves for some preconditioners, in particular incomplete factorizations (IC*, ILU(k), and ILUT).  The current Tpetra::CrsMatrix::localSolve interface to local sparse triangular solve is not appropriate.  This is because making local sparse triangular solve thread parallel and fast requires trea

[2016-07-22 22:13] bmpersc commented on #445
patch has been applied to 12.6 and is available in the 12.6.4 release tarball. I have not applied it to develop yet.

[2016-07-22 22:14] bmpersc commented on #472
Release 12.6.4 has been completed and is available on trilinos.org

[2016-07-22 22:14] #472 closed

[2016-07-23 00:15] rppawlo opened #516 "Phalanx: add extent and extent_int to DataLayouts"
Needed to remove warnings in panzer and make methods consistent with kokkos.

@trilinos/phalanx
@jmgate

[2016-07-23 00:18] rppawlo commented on #516
Here's the patch with changes and corresponding tests. Will push after testing against drekar, charon and empire.

[0001-Phalanx-added-extent-and-extent_int-to-DataLayout.patch.txt](https://github.com/trilinos/Trilinos/files/379269/0001-Phalanx-added-extent-and-extent_int-to-DataLayout.patch.txt)

[2016-07-23 00:43] rppawlo opened #517 "Phalanx: Add contributed field support"
Allow Evaluators to "contribute" to a field evaluated by another evaluator. This will improve memory use by removing temporaries.

[2016-07-23 01:20] rppawlo commented on #516
Just pushed. Moving into in_review.

[2016-07-23 01:34] rppawlo opened #518 "Phalanx: clean up DynRankView assignment"
With the merge of kokkos yesterday we now have the capability to assign a DynRankView from a static View. This will simplify the field bindings in phalanx. This ticket is to switch to using the assignment support.

[2016-07-23 20:30] wfspotz commented on #290
Update: I have been working to upgrade TriBITS to work under both Python 2 and 3, which is a prerequisite to getting Trilinos to work. I have 192 of the 193 TriBITS tests working, and have asked Ross to help with the last one. Once that is done, I will merge the PyTrilinos upgrade I have already completed. That will introduce the appropriate changes to the Trilinos build system (stuff like `${PYTH

[2016-07-24 23:37] mhoemmen commented on #509
That's right.  My main concern is that everything compiles.  Both Epetra and Kokkos turn on their OpenMP support by default if Trilinos' OpenMP support is enabled.  However, users can turn off OpenMP support independently in each of these packages.

[2016-07-25 01:17] cihanuq opened #519 "Amesos2: Cannot set MUMPS params"
I can't figure out how to set Mumps parameters via Amesos2. According to the doco some ICNTL(..) params are accepted but when I set them to integer values I get a type exception ("string" expected), when I set strings it complains about a missing validator.
Also when looking at the source https://github.com/trilinos/Trilinos/blob/master/packages/amesos2/src/Amesos2_MUMPS_def.hpp#L294
it appears al

[2016-07-25 02:45] cihanuq opened #520 "Amesos2: MUMPS errors are silently thrown away"
I just encountered an issue solving a specific problem using MUMPS via Amesos2. The returned "solution" was the RHS and by investigating the return values of MUMPS I tracked down that the factorization returns INFO(1) = -9, which means that the memory increase parameter ICNTL(14) is too small according to the documentation.

So there are actually two issues here:
1.  return values from MUMPS are c

[2016-07-25 05:02] mhoemmen commented on #431
Comments on the changes, in order of decreasing importance:

1. What happens if users modify the matrix's entries after FillComplete has been called?  (Epetra allows this.)  Is there a way for Epetra_CrsMatrix to update the RSB data structure with these changes?  (If not, it would be better to treat RSB as an Epetra_RowMatrix or Epetra_Operator.  Epetra has no equivalent to `Tpetra::CrsMatrix::res

[2016-07-25 09:56] michelemartone commented on #431
What you have seen is the "minimal librsb interfacing" proposed by Michael back in Munich at EUROTUG.
Its purpose is only to enable you (Trilinos devs) to check librsb's SPMV goodness/performance (=the main motivator behind it).

His plan was that after a first OK on your side, I could pass you a further, 1.7KLOC file that I have ready on my disk, with an entire:  "class Epetra_RsbMatrix: public R

[2016-07-25 15:09] tawiesn opened #521 "Xpetra: Cloner unit test is failing on muir"
It says

http://my.cdash.org/testDetails.php?test=26469899&build=1011641

[2016-07-25 15:11] tawiesn opened #522 "MueLu: unit tests are not compiling if Kokkos is disabled"
It says

See http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2514149

[2016-07-25 15:13] tawiesn commented on #522
One possibility would be to check whether Kokkos is enabled. But do we have to call Kokkos::initialize and finalize explicitly?
@mhoemmen Can you comment on this? Isn't the node initializing and finalizing Kokkos if necessary?

[2016-07-25 16:10] mhoemmen commented on #431
@michelemartone I think you folks are the best judges of librsb performance.  If it's significantly faster than the current implementation for your applications, then it's fast enough :-)  Was your intention that we work on optimizing librsb performance together?  If so, let's discuss that more over e-mail.

[2016-07-25 16:14] mhoemmen commented on #431
If I understand correctly, your comment in the code suggests that your RSB implementation is incomplete.  It does not correctly handle the cases where the matrix has an implicitly stored unit diagonal, or where it is upper triangular instead of lower triangular.  Typical LU factorizations (including incomplete factorizations) store the L factor with an implicit unit diagonal, and U is upper triang

[2016-07-25 16:15] mhoemmen commented on #431
You could always set an atexit() hook to call rsb_lib_exit().

[2016-07-25 16:17] mhoemmen commented on #431
When we set up the librsb TPL, we would add CMake logic to Epetra to set a macro if the TPL is enabled.  That logic would test whether C++11 is enabled, and stop with a configure-time error if it is not.  That's the easiest way to do this.

[2016-07-25 16:21] mhoemmen commented on #513
Fixed in the commit mentioned above.

[2016-07-25 16:21] #513 closed

[2016-07-25 16:48] michelemartone commented on #431
@mhoemmen :  Sure, hooking rsb_lib_exit() with atexit() is a good idea for Epetra_RsbMatrix.
@mhoemmen :  On large (>1e6 nnz) symmetric matrices librsb shall be already significantly faster than CSR in SPMV. So I'd say speaking about optimizing further is for later. (I thinks there's definitive space for improvement, but it's already fast ;- )
@mhoemmen :  librsb as such supports unit diagonal and

[2016-07-25 16:49] jwillenbring commented on #431
I think this is on the track you are on anyway, @mhoemmen, but we can have this new feature depend on C++11, but we cannot have Epetra depend on C++11, and any Epetra features that depend on C++11 should not be enabled by default.

[2016-07-25 16:54] michelemartone commented on #431
@jwillenbring : I suggest to make now depend Epetra_RsbMatrix on C++11, then in the future we can see if that's avoidable (highly probably yes -- 99% of the code is in librsb's C code anyways).

[2016-07-25 17:01] mhoemmen commented on #431
@jwillenbring That's exactly what I meant -- thanks for restating more clearly :-)

[2016-07-25 17:06] mhoemmen commented on #431
It would be nicer if we could limit all C++11 code to librsb.  However, I'll accept C++11 code in those parts of Epetra that depend on the librsb TPL.  It's important not to let C++11 code leak out into parts of Epetra that do _not_ depend on the librsb TPL, though.

[2016-07-25 17:07] mhoemmen commented on #522
Node does call Kokkos::initialize and Kokkos::finalize explicitly, if necessary.  See also #513 (now fixed).

The problem is calling Kokkos::initialize after Kokkos::finalize.  Suppose that you have a .cpp file with two unit tests.  If the first one invokes Node's constructor explicitly, then the Node instance will go away at the end of the test.  Node's destructor will then call Kokkos::finalize.

[2016-07-25 19:10] mhoemmen opened #523 "Panzer: Link errors when GlobalOrdinal=int is OFF in Tpetra"
Link errors look like this:

.../src/libpanzer-dof-mgr.so.12.9: undefined reference to `Tpetra::MultiVector<int, int, int, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::OpenMP, Kokkos::HostSpace>, false>::putScalar(int const&)'

Would be better for Panzer to stop at configure time if GlobalOrdinal=int is OFF.

[2016-07-25 19:11] mhoemmen commented on #318
I'm closing this issue since it appears that everything is fine now.  Please reopen or open a new issue if this is still happening.

[2016-07-25 19:11] #318 closed

[2016-07-25 20:36] leonavery opened #524 "Various problems in building trilinos"
I'm trying to build Trilinos on an old centos 6 system, on which I have installed, I believe, all prerequisites. I've run into some unexpected behaviors that I don't understand. I configured and generated Makefiles with cmake-gui, then used "make -k VERBOSE=1 all" for the build, so I could see which exact commands failed.

The first occurred while building Mesquite. I got a mort of errors about un

[2016-07-25 21:25] mhoemmen commented on #524
1. Are you able to build Trilinos with both those packages disabled?
2. What compiler version are you using?

[2016-07-25 21:34] leonavery commented on #524
Yes, although I got an error (which I think I have fixed) when I tried "make install".

gcc-6.1.0

I will post CMakeCache.txt and make log from a failed build tomorrow. (I didn't keep the failures around, and the full build takes several hours.)

[2016-07-25 21:37] tawiesn opened #525 "Panzer: compiler error: stk_mesh/base/CoordinateSystems.hpp: no such file"
@trilinos/panzer @trilinos/stk
After updating Trilinos to the most recent develop version (f1d9dfc6f055d8) i get the following errors:

[2016-07-25 21:40] tawiesn commented on #522
MueLu unit tests follow option 3, that is we have our own unit test main routine where we call Kokkos::initialize and Kokkos::finalize. We have to guard these calls.

[2016-07-25 21:47] mhoemmen commented on #522
That's right.  I prefer that to the "fake Kokkos" approach.

[2016-07-25 21:50] mhoemmen commented on #317
btw, Map copy does not actually deep copy any arrays.  The two Maps share any data of significant size, and those data reference-count so deallocation happens safely.

[2016-07-25 22:02] jdmille commented on #525
Is this a Trilinos problem or a sierra stk problem?

=================================================
Joel D. Miller
Sierra Mechanics User Support [sierra-help@sandia.gov<mailto:sierra-help@sandia.gov>]
Scientific Applications & User Support Dept. 9326
Sandia National Laboratories
Albuquerque, NM 87185-0845
phone: (505) 844-1255
email: jdmille@sandia.gov<mailto:jdmille@sandia.gov>
===============

[2016-07-25 23:55] tawiesn commented on #525
There were quite a few changes in panzer recently. A first guess would be, it is a problem in panzer?

[2016-07-26 01:33] tawiesn commented on #525
Update: i had STK_mesh explicitly disabled in my configuration script. That is, obviously the package dependencies have changed (i.e. we need STK_mesh for compiling panzer).
Anyway, this solved this compiler problem. There are others. :-(

@trilinos/panzer Could you please update the dependencies? I think STK_mesh is needed in panzer/adapters-stk

[2016-07-26 01:41] cihanuq commented on #317
@mhoemmen Does this mean I can use rcpFromRef(cpm) etc ?

[2016-07-26 13:32] jmgate commented on #525
I ran into this yesterday as well.  The fix was to update my configure script with the following:
-D Trilinos_ENABLE_STKClassic:BOOL=OFF \
-D Trilinos_ENABLE_STK:BOOL=ON \
-D Trilinos_ENABLE_STKMesh:BOOL=ON \
-D Trilinos_ENABLE_STKUtil:BOOL=ON \
-D Trilinos_ENABLE_STKTopology:BOOL=ON \
-D Trilinos_ENABLE_STKTransfer:BOOL=ON \

[2016-07-26 14:33] rppawlo commented on #525
Just to follow up - on Saturday, panzer switched from STK_Classic to the new STK. Due to not being able to build both STK Classic and new STK at the same time, you needed to hard enable STK Classic for panzer builds. With the switch, you now need to change panzer configures as Jason showed above.

[2016-07-26 14:41] leonavery commented on #524
All right, here's some documentation.

CMakeCache.txt
[CMakeCache.txt](https://github.com/trilinos/Trilinos/files/384042/CMakeCache.txt)

In the Build directory, I then did:
    cmake-gui ../trilinos-12.6.3-Source &

After clicking the Configure button, I copied everything in the output window and pasted it into
this file:
[CMakeGuiConfigure.log.txt](https://github.com/trilinos/Trilinos/files/3840

[2016-07-26 15:36] tawiesn opened #526 "Stokhos: undefined reference to `MueLu::FacadeClassFactory<...>`"
ETI instantiations have to be updated.
See
http://testing.sandia.gov/cdash/viewBuildError.php?buildid=2515383

[2016-07-26 15:45] mhoemmen commented on #524
Thanks for posting this!  btw what packages do you really need?  (You don't have to answer in public if you don't want.)

[2016-07-26 15:48] leonavery commented on #524
Probably none, actually. I'm building FEniCS, and trilinos is an
optional plug-in. I just wanted to make the most functional version I
could, and the frustration of unaccountable errors took on a momentum of
its own.

--

Leon Avery

On 7/26/16 11:45, Mark Hoemmen wrote:

[2016-07-26 16:33] tawiesn commented on #525
Thanks for the comments! In addition to the configuration settings recommended by @jmgate i also had to make sure that STKIO is enabled (that is, Trilinos_ENABLE_STKIO is not set to OFF).
With these settings i can confirm that panzer is compiling.

I think it would make sense to update the Dependencies.cmake files in Panzer accordingly.

[2016-07-26 16:49] leonavery commented on #524
BTW, my strategy of using CMAKE_*_FLAGS to get around the issue of the header files not being found failed, because it's not just C and C++ compilers that need to find them -- it's also swig. I tried setting CMAKE_SWIG_FLAGS:STRING=-I<stuff>, but that had no effect. So I guess I will just disable PyTrilinos.

[2016-07-26 17:06] tawiesn commented on #483
@bmpersc Dashboard seemed to work fine for the last two weeks. Any news about the dashboard issues? Can we safely close this issue?

[2016-07-26 17:48] mhoemmen commented on #501
I accept that.  I try to keep the top line to 72 chars and use less if I can.  It's just hard to keep to 50 chars if you put the package name first, which I like as a way to help developers scan commits quickly.

[2016-07-26 17:50] mhoemmen commented on #524
I was going to suggest disabling the packages that failed and trying again.

[2016-07-26 18:14] jwillenbring commented on #501
Would it be worth mentioning the requirements for automatically closing an issue through a commit? I don't know if we want to encourage that behavior or not. There are pros and cons to closing a  ticket in that way.

Feedback from @maherou and @agsalin at the leaders meeting: Mention tests added, mention if backward compatibility is broken.

[2016-07-26 18:14] bmpersc commented on #501
72 chars is what the git developers adhere to themselves. I haven't seen any cases where you needed to be lower than that.

[2016-07-26 18:40] bartlettroscoe commented on #501
Then let's change the recommendation for 72 chars instead of 50 chars in the commit template?  And let's consider a (hard?) limit of 120 chars (we can print a warning using a `commit-msg` hook to remind people).

[2016-07-26 18:42] bartlettroscoe commented on #501
I don't think we should encourage closing an Issue with a commit (i.e. `Fixes #1234`).  In fact, I would recommend discouraging this practice.  Most Issues should go through some type of review and there is usually some type of customer who should sign off before the Issue gets closed.  Otherwise, we think an issue is addressed but we never remember to follow up to see that the Issue is actually a

[2016-07-26 18:54] leonavery commented on #524
That works. Trilinos_EXTRA_LINK_FLAGS:STRING="-lmpi" allows all the things that need MPI to link, and without PyTrilinos I get an (apparently) error-free build and install.

[2016-07-26 19:07] etphipp commented on #526
Thanks!

[2016-07-26 19:25] bmpersc commented on #483
working for the last two weeks isn't exactly accurate. I've been having to keep a close eye on it and have had to repair corruption in the database at least twice in the last two weeks. This seems to be just a standard day to day activity at this point, so it probably is best to close this ticket.

[2016-07-26 19:25] #483 closed

[2016-07-26 19:38] tawiesn commented on #483
Any idea what causes the corruption of the database?

Tobias

On 07/26/2016 01:25 PM, Brent Perschbacher wrote:

[2016-07-26 19:40] mhoemmen commented on #524
Is this a Mesquite-specific issue?

I'll create a new issue for PyTrilinos.  Glad to hear it works now, and thanks for helping out!

[2016-07-26 19:43] mhoemmen opened #528 "PyTrilinos NOX-PETSc interface build issues"
@leonavery writes in #524:

This is with gcc-6.1.0.

[2016-07-26 19:44] mhoemmen commented on #524
@leonavery #528 now governs the PyTrilinos NOX-PETSc interface build issues that you reported (thanks!).

[2016-07-26 19:47] leonavery commented on #524
Well, I'm now confused about that. At first, I had this problem only with Mesquite. But in my latest attempt to repeat the issue, it happened not just with libmesquite.so, but libzoltan.so also failed to link with the same errors.

[2016-07-26 19:48] mhoemmen opened #529 "Mesquite MPI build errors"
@leonavery reports the following:

This is with gcc-6.1.0.

[2016-07-26 19:49] mhoemmen commented on #524
That is quite weird.  I've split the Mesquite issue into its own issue, #529.  However, this could be a problem with your MPI setup.

[2016-07-26 19:49] #524 closed

[2016-07-26 19:51] mhoemmen commented on #501
I've been having trouble getting Github to close issues automatically.

[2016-07-26 22:27] bartlettroscoe commented on #452
Look into the `mr` tool some.  See [this comment](https://github.com/TriBITSPub/TriBITS/issues/139#issuecomment-235423218).  I am sure it works but it is not ideal for git developers (e.g. you have name your remote 'origin').

[2016-07-26 22:49] kddevin commented on #244
@MicheldeMessieres @krcb
Below are my ideas on fixing this problem in Zoltan2 and Ifpack2.

Ifpack2 is currently using Zoltan2's XpetraRowMatrixAdapter.  To prevent Zoltan2 from trying to use the scalar_t from the matrix,  Ifpack2 could use an XpetraRowGraphAdapter.  We don't have XpetraRowGraphAdapter yet, so we'll need to make one; we can base it on XpetraCrsGraphAdapter.

Here are the high-leve

[2016-07-27 16:47] jmgate opened #530 "Panzer: Make Workset::num_cells an int"
Need to switch `Workset::num_cells` from a `std::size_t` to an `int` for performance reasons on GPUs.  Need to coordinate this change with Panzer users (e.g. Charon).

[2016-07-27 16:49] jmgate commented on #530
From Roger:

Christian has said that there is a 30% hit on GPUs if the loops don’t use integers. I don’t think there is any performance issue on any other node type. Perhaps we should think about making the workset size an int. This would generate warnings for all 400-500, evaluators across our applications that use size_t. With Charon requiring warning free compiling, we would have to coordinate

[2016-07-27 16:49] jmgate commented on #530
From Eric:

It might be good to do a typedef in the Traits (or somewhere) to protect ourselves. Perhaps doing a “typedef int LocalOrdinal".

[2016-07-27 17:15] rppawlo commented on #518
Done and verified but has yet to be pushed. Moving to in_review

[2016-07-27 17:18] rppawlo commented on #517
First iteration completed last night. Review with Drekar and Empire teams led to 2 changes:
1. flip the dependency of the "evaluated" field if it exists. That way the evaluator the flags the field as "evaluated" does the initialization of contributed fields.
2. if the "evaluated" evaluator doesn't exist, then use a default initialization scheme where panzer initializes the field to a constant befo

[2016-07-27 18:25] bartlettroscoe commented on #452
Note that an updated version of the git-annex extension to git might be an attractive way to handle large (binary) files with Trilinos repos (see [this comment](https://github.com/TriBITSPub/TriBITS/issues/139#issuecomment-235632569)).  I think gitdist could be extended to automate the sync process with git-annex repos to make this easier to use.  This looks very promising (and might actually be b

[2016-07-27 18:41] #526 closed

[2016-07-27 20:14] bathmatt commented on #530
I am guessing that 30% hit is for the loop that looks like
for ( i=0..N) ;
and not for a real loop body with real math in it.  It would be good to
clarify this.

On Wed, Jul 27, 2016 at 10:50 AM, Jason M. Gates <notifications@github.com>
wrote:

[2016-07-27 20:20] rppawlo commented on #530
I got that number from one of Christian's emails in this issue:
https://github.com/kokkos/kokkos/issues/28

[2016-07-27 20:39] kddevin commented on #456
Here's what we decided on July 21, as I understand it.  Feel free to comment and correct.

The OrderingProblem will have two pointers to OrderingSolutions -- one for a LocalOrderingSolution and one for a GlobalOrderingSolution.  (Currently it has only one OrderingSolution.)

The parameters passed by a user will determine whether the OrderingProblem will compute a local or global ordering.  If a lo

[2016-07-27 21:03] mhoemmen opened #531 "Tpetra::CrsGraph: Implement 2-arg "copy constructor" like MultiVector's"
@trilinos/tpetra Give Tpetra::CrsGraph a two-argument "copy constructor" like MultiVector's.  It should take an optional second argument that tells it whether to make a deep copy.

[2016-07-27 21:04] mhoemmen opened #532 "Tpetra::CrsMatrix: Implement 2-arg "copy constructor" like MultiVector's"
@trilinos/tpetra Give Tpetra::CrsMatrix a two-argument "copy constructor" like MultiVector's.  It should take an optional second argument that tells it whether to make a deep copy.  If the graph is a const graph, it should be able just to copy the values.

If users want a "true deep copy" of the graph as well, the fix for #531 will offer that.

[2016-07-27 21:38] jwillenbring commented on #158
It turns out that my copy of Trilinos was out of date. I know I did not update during the initial effort after I started. In any case, I updated and tried again, and the build failed due to a bad state, then I updated again and the state was better, but a bunch of tests failed. When I tried again today, using SHA f146dede213771e24ae40db24be47b73633aeac6, the following tests failed:

The following

[2016-07-27 23:46] aprokop commented on #501
1. Add explicitly a requirement for a blank line after the subject, some people don't realize you need one.
2. Are we going to be sticky about capitalization/punctuation(last period)/imperative and things like that?
3. Are we going to allow any specific markup language in the commit message (if necessary)?

[2016-07-28 01:51] bartlettroscoe commented on #158
Thanks for taking a fresh look.  Once we can implement #482 and get people using the checkin-test-sems.sh script, those failures should disappear.

Was SuperLU enabled for your this time?

In any case, I don't really care that much of these extra TPLs are enabled by default or not.  They will be enabled when you run the checkin-test.py script once we get #482 finished.  It is just that it seems th

[2016-07-28 13:39] bartlettroscoe commented on #501
Yes, that is a big problem.  Not sure why it is so hard to get that message across.  The plan is to auto-install a `commit-msg` hook that will provide a verbose warning if people create a commit message that goes over 72 chars and to abort the commit if people go over 120 chars.  I have already written this script and it is shown below.

If you use a commit summary shorter than 72 chars, it just q

[2016-07-28 14:10] bartlettroscoe commented on #501
I pushed the candidate commit message template and commit-msg hook to the Trilinos repo:

* [commonTools/git/local_hooks/commit_msg_template.txt](https://github.com/trilinos/Trilinos/blob/develop/commonTools/git/local_hooks/commit_msg_template.txt)
* [commonTools/git/local_hooks/commit-msg](https://github.com/trilinos/Trilinos/blob/develop/commonTools/git/local_hooks/commit-msg)

Please go ahead a

[2016-07-28 14:28] bartlettroscoe commented on #501
At the Trilinos Leaders Meeting on 7/26, @agsalin suggested adding a checklist to the commit template reminding people to:

1. Add tests if they are adding new features
2. State if the commit is breaking backward compatibility (and if it is, some tests have to be changed that can detect that)

Depending on how many checklist items we put into a commit template, it could get long.

[2016-07-28 21:40] jmgate commented on #490
At this point I've removed all the easy ones:
* unused variables and typedefs
* switched calls of Kokkos::View:: or PHX::MDField::dimension() to extent_int()
* switched std::size_ts to ints or ints to size_ts, wherever appropriate
* removed code that was no longer necessary
* static_casted some calls of MDField::size() to ints
* initialized uninitialized variables

[2016-07-28 21:54] jmgate commented on #490
Two major tasks remain, which will require a bit more work:
* Switching `Workset::num_cells` from a `std::size_t` to an `int` (see #530).
* `PHX::EvaluatorWithBaseImpl::addDependentField(const PHX::MDField<DataT, Tag0, Tag1, Tag2, Tag3, Tag4, Tag5, Tag6, Tag7>& f)` was deprecated, replaced with a similar version in which `DataT` is `const`.  All uses of `addDependentField` need to be updated, but

[2016-07-29 14:39] jmgate commented on #530
Looks like I need to put `typedef int LocalOrdinal` in `Workset` instead of `Traits` because `Traits` `#include`s `Workset`.  @eric-c-cyr and @rppawlo, is that cool with you?

[2016-07-29 16:24] eric-c-cyr commented on #530
Okay that makes sense. Where is Ordinal64 defined (probably PanzerDiscFe_config.h), maybe we should put it there. The point is to have a place where the local ordinal can change and we are protected with regard to future changes. @rppawlo thoughts?

[2016-07-29 18:19] rppawlo commented on #530
Ordinal64 is defined in panzer/packages/cmake/PanzerCore_config.hpp.in so to be consistent, I would add it there. One thing I don not like is the name LocalOrdinal. It's too long of a name if we need to use it in all our loops.

for (LocalOrdinal i=0; i ...

I would rather use something shorter like "index_t" injected into panzer namespace. This is consistent with standard use of size_t.

for (ind

[2016-07-29 18:19] jmgate commented on #530
Looks like Ordinal64 is defined in `panzer/core/cmake/PanzerCore_config.hpp.in`&mdash;does that sound like a good spot for `LocalOrdinal`?  So we could just do
[code]

[2016-07-29 18:23] jmgate commented on #530
Ach, Roger, you beat me to it.  `index_t` sounds fine to me.

[2016-07-29 19:03] eric-c-cyr commented on #530
Sounds fine to me as well.

[2016-07-29 22:04] jmgate commented on #530
Looks like I got the switch to `index_t` working.  I'll start in on the Charon mods on Monday.

[2016-07-30 03:44] kddevin commented on #510
With commit 17ae6009451fa0ae2de8f493d3da0bd0fd117a5a, some Zoltan2 tests produce the  error message below.  The error message was not there before this commit.  Zoltan2 tests may still pass, if PASS is printed before the error is thrown, but if the error is thrown before printing PASS, the Zoltan2 tests will fail.
Is something new needed in test programs as a result of this change?  Zoltan2 does n

[2016-07-31 23:04] mhoemmen commented on #510
@kddevin also says:

[2016-08-01 01:35] mhoemmen commented on #510
Looking at zoltan2/test/partition/MultiJaggedTest.cpp now.  It _should_ be innocuous but it's not.  Putting explicit calls to Kokkos::initialize and Kokkos::finalize in main() doesn't help.

[2016-08-01 16:35] mhoemmen commented on #510
@kddevin I wrote a Tpetra test that does the following:
[code]
The test passes just fine, with CUDA too.  This more or less imitates the way that the Zoltan2 tests create Tpetra::Map instances.  That makes me wonder whether Zoltan2 objects are creating Node instances on their own.

[2016-08-01 16:53] mhoemmen commented on #510
@kddevin I found out that Zoltan2 tests may create Node instances on their own.  See lines 878 and 1032 of zoltan2/test/helpers/UserInputForTests.hpp (search for "new default_znode_t").  Fortunately, I think we can get rid of both instances.

[2016-08-01 17:08] mhoemmen commented on #510
@kddevin When I changed Zoltan2's tests not to create Node instances explicitly, the tests passed (with CUDA too).  I'll commit this minor change to Zoltan2.  I'm running check-in tests now.

[2016-08-01 19:15] mhoemmen commented on #510
My latest commit fixed this issue in Zoltan2.

[2016-08-01 19:15] #510 closed

[2016-08-01 19:43] kddevin commented on #244
@MicheldeMessieres  pointed out that Xpetra does not have a RowGraph concrete implementation for Tpetra or Epetra, causing difficulties above.  Zoltan2's XpetraRowMatrixAdapter relies on Xpetra::TpetraRowMatrix, but the analogous Xpetra::TpetraRowGraph does not exist.

I talked with our local Xpetra expert @tawiesn ; he estimated that adding all the Xpetra machinery needed for RowGraph would take

[2016-08-01 20:13] mhoemmen opened #534 "Update HTS in KokkosKernels to most recent version"
Right now, @ambrad says ShyLU has the most recent version of HTS.  This needs to remain the case for Various Reasons.  However, we could also make sure that this version gets copied into KokkosKernels.  Right now, KokkosKernels has an earlier version of HTS.

[2016-08-01 20:39] mhoemmen commented on #534
We also have to make sure that the version of HTS in KokkosKernels does not conflict (e.g., use the same namespace as) the version of HTS in ShyLU.

[2016-08-01 21:26] jmgate commented on #530
Got the necessary Charon switches in place.  As far as I know, this issue's resolved.

[2016-08-01 21:27] jmgate commented on #490
Finished work on #530&mdash;only bit that remains is the `addDependentField` business.

[2016-08-02 12:23] nschloe opened #535 "Thyra/Ifpack2: segfault"
When using Thyra with Ifpack2, `initializePrec` segfaults.

MWE:
[code]

Output:
[code]

Backtrace:
[code]

[2016-08-02 15:48] mhoemmen commented on #535
Hey @nschloe , thanks for reporting this!  btw does this code actually use Teuchos_RCPStdSharedPtrConversions.hpp?

[2016-08-02 16:03] nschloe commented on #535
Yup, but not in this small example. :) I removed the superfluous `#include`s.

[2016-08-02 16:24] bmpersc opened #536 "Setup testing for intel 16"
Need to setup testing using intel 16 compilers to support KNL platforms.

[2016-08-02 16:30] mhoemmen commented on #535
@nschloe Is this a debug or release build?  Is Teuchos_ENABLE_DEBUG ON?

[2016-08-02 16:37] nschloe commented on #535
No debug build.

It just dawned on me though that Ifpack2 might not actually be installed. Is it possible that Thyra doesn't know and segfaults in this case?

[2016-08-02 16:43] nschloe commented on #535
For the sake of completeness, here's my `CMakeLists.txt`:
[code]
It's configured with
[code]

[2016-08-02 16:55] mhoemmen commented on #535
It may help to set `Teuchos_ENABLE_DEBUG:BOOL=ON`, for e.g., additional RCP checks.

[2016-08-02 18:17] nschloe commented on #535
This is for the Trilinos build, right?

[2016-08-02 21:03] jwillenbring commented on #480
@bmpersc Could you look at the configure time check proposed in the associated pull request #502?

[2016-08-02 21:23] mhoemmen commented on #535
Yes :)

[2016-08-02 22:19] mhoemmen commented on #289
This has stalled due to a change in staffing.  I am reassigning to @mndevec for now.  Please reassign as you see fit, but I would like at least a status report on this.

[2016-08-02 22:25] mhoemmen commented on #288
Status?

[2016-08-02 22:25] mhoemmen commented on #288
@mndevec status?

[2016-08-02 22:34] bmpersc commented on #480
Maybe this is just my lack of knowledge on lapack, but is there a reason that the check is using CheckCXXSourceRuns to compile and run code? It seems that checking that dggsvd3 exists is all that is needed and that could be accomplished with one of the standard cmake modules CheckCXXSymbolExists, CheckFortranFunctionExists, or CheckFunctionExists

[2016-08-02 22:54] mhoemmen commented on #288
Status as far as I can tell:

Building this requires setting CMake options TpetraKernels_ENABLE_Experimental:BOOL=ON and Ifpack2_ENABLE_Experimental:BOOL=ON.  Both are OFF by default.

Code doesn't build.  I get build errors like this:

.../Trilinos/packages/ifpack2/src/Ifpack2_Relaxation_def.hpp:1839:45: error: `class Kokkos::Experimental::View<double**, Kokkos::LayoutLeft, Kokkos::Serial, void>`

[2016-08-02 23:40] mhoemmen commented on #460
@jhux2 Which test?

[2016-08-03 01:32] MicheldeMessieres commented on #480
That sounds best. I'll make that change tomorrow and update this pull request. Thanks.

[2016-08-03 12:23] nschloe commented on #535
Tough, I'm getting internal compiler errors when enabling that option; see, e.g., [here](https://launchpadlibrarian.net/276537760/buildlog_ubuntu-xenial-amd64.trilinos_12.9~20160803121645-e23821ba-1xenial1_BUILDING.txt.gz).

Can you reproduce the segfault with the above MWE?

[2016-08-03 13:36] mndevec commented on #289
@ndellingwood, were you working on this?

[2016-08-03 15:45] ndellingwood commented on #289
@mndevec No, I started to work on Basker but I am not familiar with this. If there is overlap we could talk about it.

[2016-08-03 16:25] MicheldeMessieres commented on #480
Investigating those options:

CheckFortranFunctionExists would work fine (checking for dggsvd3).
However it seems we have to have Fortran enabled so I'm fairly certain that is not an option unless there is a way to work around this.

CheckFunctionExists seems like the way to go and works - but I'll have to handle the name mangling. So for example my configuration needs to find dggsvd3_ (with under

[2016-08-03 23:02] kddevin opened #537 "Zoltan2 definition of part_t = int causes problems with ETI when GO != int"
@trilinos/zoltan2 @trilinos/tpetra

Zoltan2 defines part_t (part numbers) to be int, consistent with MPI ranks.

For task mapping, we map MPI ranks to allocated cores; thus, all entities are labeled with part_t.  For some operations, we use Tpetra::Map<part_t, part_t>, Tpetra::CrsMatrix<double, part_t, part_t>, etc.

When ETI is enabled and Tpetra_INST_INT_INT=OFF, the task mapping code will not l

[2016-08-04 16:09] jmgate opened #538 "Panzer: Memory Usage Utility"
It'd be great to be able to determine what our memory usage is so when we make changes to Panzer we can definitively say what the change in memory footprint looks like.

[2016-08-04 16:13] jmgate commented on #538
Check out <a href="https://github.com/trilinos/Trilinos/commit/c623c3cdaa63d12d0e8009a5da87bc6a41283b55">this commit</a> for a place to start.

[2016-08-04 16:16] jmgate commented on #538
I'm afraid I don't quite understand how the methods implemented in the commit mentioned above are working.  Adding a bunch of `double`s seems to increase the memory usage by less than the size of all those `double`s.  Adding a bunch of `int`s instead doesn't increase the memory usage at all.  Adding a `vector` of `double`s behaves the same as adding a bunch of `double`s.  Very strange.

Trying a d

[2016-08-04 19:01] kddevin commented on #537
A fourth option:

4.  Replace the Tpetra machinery with our own communication.  This approach will be more work to write, but may run faster since it will be specialized to our needs (i.e., building only what we need instead of everything that Tpetra matrices need in general).

@mndevec Did you say the Tpetra steps in getCoarsenedPartGraph were slow?  Maybe this approach would speed them up.

[2016-08-04 19:48] bmpersc commented on #158
The solution proposed I think could be done more generally and more transparently to users. First, using the cmake option -c  to provide the SEMS env configuration to cmake would make it clear in the configure script that something is being loaded that affects how Trilinos will be built. Using cmake –c also is not something non-standard that we would have to support and is far more likely to be re

[2016-08-04 22:17] jmgate commented on #538
Attempt number two yielded similar results.

Attempted a third solution based on <a href="http://nadeausoftware.com/articles/2012/07/c_c_tip_how_get_process_resident_set_size_physical_memory_use">this code</a>.  Results were similar.  Seems like I can track memory usage to within an order of magnitude, but not necessarily more precisely than that.

[2016-08-04 22:42] ibaned commented on #538
On systems that support it, `mallinfo().uordblks` will be more precise, because it sees individual calls to `malloc` as opposed to just process page maps.

http://man7.org/linux/man-pages/man3/mallinfo.3.html

[2016-08-05 03:26] bartlettroscoe commented on #158
Brent,

Thanks for the detailed review of this.  Some responses below ...

Yes, of course,  Users could have always used:

[code]

and they still can.   We are not changing that at all.

The advantages of the current approach implemented in Trilinos are:

1. Users don't have to point back into the source tree like:
[code]
  They just need to set `-DTrilinos_USE_BUILD_ENV=SEMS`.  Much easier and le

[2016-08-05 12:07] aprokop opened #540 "MueLu: SchurComplement unit tests depend on the nonzero matrix structure"
@trilinos/muelu

Schur complement by its nature depends on the result of several matrix-matrix products. Matrix-matrix products for C = A*B in Tpetra at the moment are optimized in the following way: if an entry in A is zero, we skip it and skip fetching a row of B. Thus, the graph structure of the resulting matrix is different from the case when one does not skip zeros, though the numerically the

[2016-08-05 17:18] mhoemmen commented on #537
What do you folks actually need?  I've been thinking for a while about separating out Tpetra classes into "communication operations" and "solver / numerical methods operations."  For example, most use of Vector for communication doesn't need norms or dot products, as far as I can tell; it just needs to push integer entries around and add them together.  That suggests Vector could have a base class

[2016-08-05 17:19] jhux2 opened #541 "Many automated tests are not appearing on the dashboard"
@tawiesn @aprokop @bartlettroscoe The MueLu nightly dashboard is no longer reporting tests from our two main test machines, geminga and enigma.  The tests from those two machines last appeared on August 1st.  I don't know if it's related, but there was an automated tribits snapshot into Trilinos on that same day.  Below is an error reported from tribits on geminga that appears to be related this i

[2016-08-05 17:25] jhux2 commented on #541
I forgot to mention that tribits fails in the same way on geminga and enigma.

[2016-08-05 18:39] bartlettroscoe commented on #541
This is related to tribitspub/tribits#119

@wspotz, any idea what the issue might be? Hopefully this is an easy fix.

[2016-08-05 18:39] bartlettroscoe commented on #541
commented less than a minute ago
This is related to TriBITSPub/TriBITS#119

@wfspotz, any idea what the issue might be? Hopefully this is an easy fix.

[2016-08-05 22:30] jhux2 commented on #460
@mhoemmen Ifpack2's AdditiveSchwarz SuperLU unit test.

[2016-08-06 02:49] #516 closed

[2016-08-06 02:49] #518 closed

[2016-08-06 02:49] #517 closed

[2016-08-06 02:51] rppawlo opened #542 "Phalanx: update for changes to Kokkos::TaskPolicy"
The final, non-experimental version of the Kokkos::TaskPolicy is in Kokkos develop branch. This ticket is to update phalanx to use the new task implementation.

[2016-08-06 03:21] mhoemmen commented on #537
1. This means you make a Tpetra::CrsMatrix<int, LO, GO>, right?
  2. Must LO and GO be the same as part_t?  Could you, for example, use the default LO and GO, as long as they are big enough?  I ask because Tpetra already instantiates Vector, etc. for Scalar=int, because some packages use this to communicate MPI process ranks.
  3. Do you need to do anything else with this matrix, other than insert

[2016-08-06 03:34] brian-kelley commented on #460
How was the test disabled? I looked at UnitTestAdditiveSwartz.cpp and it doesn't seem to be commented out. I was worried because I pushed changes 6 days before this issue cropped up, even though my changes shouldn't have affected this test.

[2016-08-06 17:46] mhoemmen commented on #460
@brian-kelley @jhux2 I'm confused too.  It looks like the SuperLU test in ifpack2/test/unit_tests/Ifpack2_UnitTestAdditiveSchwarz.cpp should run, as long as Amesos2 and SuperLU are enabled.  The CMakeLists.txt file looks like it's building that .cpp file.

[2016-08-06 17:46] mhoemmen commented on #460
@brian-kelley You have to brag more when you push a big change; I had no idea ;-)

[2016-08-06 18:43] brian-kelley commented on #460
It wasn't really a major change, just the Container Factory for block relaxation. Additive Swartz never uses containers, and I never touched any additive Swartz related tests or sources.

[2016-08-08 15:48] mhoemmen commented on #535
Hi @nschloe -- it builds for me.  My recent commit added a test, stratimikos/test/test_issue_535.cpp.  The test fails in both MPI_DEBUG and SERIAL_RELEASE builds.  It _looks_ innocuous to me, but I'm not a Stratimikos or Thyra developer, so I'm not sure if you have to call some registration function first before you're allowed to create Ifpack2 things.  @bartlettroscoe , could you comment?  Thanks

[2016-08-08 15:58] mhoemmen commented on #535
I'm looking at ifpack2/adapters/thyra/Thyra_Ifpack2PreconditionerFactory_def.hpp, line 163.  It turns out that constParamList (and therefore paramList_) is null at that point.  Can't get pineapple juice from a turnip; can't get a string parameter from a null ParameterList.  Let me compare against the Ifpack(1) factory to see what's going on.  My guess is that this class never gets used in this way

[2016-08-08 16:03] mhoemmen commented on #535
@bartlettroscoe , when would the Ifpack2PreconditionerFactory's setParameterList method normally get called?  As far as I can tell, that's the only place in which paramList_ could possibly get set.

[2016-08-08 16:43] mhoemmen commented on #535
I tried something: After line 163 of ifpack2/adapters/thyra/Thyra_Ifpack2PreconditionerFactory_def.hpp, if paramList_ is null, I set constParamList to the result of getValidParameters() instead.  That makes the test pass.

I'm not committing this change until I hear back from @bartlettroscoe to make sure that this won't break something else.

[2016-08-08 16:53] bartlettroscoe commented on #535
@mhoemmen and @nschloe,

I had never looked at this code before.  It looks like the initial version was contributed by:

[code]

I will look at this a little and then comment back.

But note that in general you never want to commit a test that you know is broken.  This breaks the CI build (stopping people from pushing) and just creates a lot of red on the dashboard (which teaches people to just ig

[2016-08-08 17:09] matthewhoffman commented on #62
Is there an updated status for this issue?  I am an Albany user so I switched to a static build as per @pbosler 's second suggestion above.  However, I also need to use `exodus.py` which requires that Trilinos be built with shared libraries.

I guess my workaround would be to build a second version of Trilinos with shared libraries using @pbosler 's first suggestion above just for using `exodus.py

[2016-08-08 17:28] bartlettroscoe commented on #535
The Teuchos::ParameterListAcceptor interface says that the defaults for the parameters being set should be put into the non-const PL.  Why was this not followed for this factory like for the others?  Was there a reason for this or just an oversight?

Also, if the PL is not set, then it should not be read.  The factory object (or any object) that is not given a PL should still do something logical

[2016-08-08 18:11] jmgate commented on #538
All options investigated did not have the precision I was looking for, so I settled on the third attempt, which gives both current and peak memory usage for the current process across all cores.  Added two unit tests to verify both that the memory usage increases after creating a bunch of variables, and that the peak usage is always >= the current usage.

Best way to use this tool is probably at t

[2016-08-08 18:13] mhoemmen commented on #535
`git blame` says "Julien Cortial" wrote this class.  I made a tiny change in 2013 and another tiny change in 2015.

The class looks a lot like the Ifpack(1) factory, so my guess is that it was just a copy and paste.  Does the Ifpack(1) factory do the right thing?  (It lives in stratimikos/adapters.)

[2016-08-08 19:10] bartlettroscoe commented on #535
I don't think I ever met Julien.  Is he still around SNL?

Yes (but there are no automated tests to prove that).  It does:

[code]

From there, it is up to the Ifpack code itself to deal with PLs correctly.

I guess for now, since the Ifpack2PreconditionerFactory reads a const list, the change you suggest [above]() would be fine for now.  I will create new issue tickets for a) addressing issues wi

[2016-08-08 21:04] jhux2 commented on #541
@trilinos/framework Any word when this might be fixed?   As I said, geminga and enigma are the main MueLu test machines -- they exercise a lot of custom configure options that aren't tested elsewhere.

[2016-08-08 21:14] bartlettroscoe commented on #541
@jhux2,

Oh boy, it looks like this took out all of the Nighty builds for Trilinos as shown [here](http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-08-07).  I will look into getting this fixed ASAP.

How did no one notice this until just Friday?

The problem is that there are no automated tests for this python script so this defect passed through.

[2016-08-08 21:16] bartlettroscoe commented on #541
NOTE: This did not affect the CI build of Trilinos because that CI build does not use the tdd_driver.py script.

If the TDD system is going to be continued to me maintained, we are going to need to figure out a way to add automated testing for it.

[2016-08-08 21:21] jhux2 commented on #541
We only get emails when there are failing tests;  I just happened to look at the dashboard on Friday.

[2016-08-08 21:28] aprokop commented on #541
I noticed it few days earlier, but assumed that the dashboard is misbehaving again. I guess the recent months' troubles with dashboard taught us not to expect its presence day to day.

[2016-08-08 21:39] bartlettroscoe commented on #541
I have added an automated test to expose the problem and have fixed it.  I will snapshot the updated TriBITS into Trilinos and then report back here.

[2016-08-08 22:12] bartlettroscoe commented on #541
The following commits that I just pushed should hopefully fix this problem:

[code]

Someone needs to be "on call" at any point in time and keep an eye on the Trilinos CDash site on a daily basis to make sure things look reasonable.  This is what we do with CASL VERA with an "on call" team on a rotating basis (1 week at a time).

[2016-08-08 23:20] jhux2 commented on #541
@bartlettroscoe Thanks for working this issue so quickly!   Hopefully this fixes the problem.

[2016-08-09 17:04] mhoemmen commented on #535
@bartlettroscoe `if (paramList_.get ())` just means it checks whether the current ParameterList is null.  Should it be up to the specific Factory whether creating a solver without parameters makes sense?

Anyway, I'll make the suggested change.  Thanks for looking at this!

[2016-08-09 17:06] mhoemmen opened #544 "Ifpack2: Add test for new Container factory (createContainer)"
@trilinos/ifpack2 @brian-kelley

The new Ifpack2::Details::createContainer function lacks a unit test, though it is used in Ifpack2::BlockRelaxation.  We need to add a unit test for this new function.  I am working on it right now.

[2016-08-09 17:09] mhoemmen commented on #544
I'm running check-in tests now.

[2016-08-09 17:14] bartlettroscoe commented on #535
That has to be specified in the abstract interface and then all of the implementations need to follow that.  The assumed behavior for the Teuchos::ParameterListAcceptor interface should be that a PL is not required in order for the object to do something valid.  We obviously need to write down those specs and then upgrade the underlying subclasses to follow.  But this might break backward compatib

[2016-08-09 18:04] mhoemmen commented on #544
Fixed.

[2016-08-09 18:04] #544 closed

[2016-08-09 18:09] mhoemmen commented on #535
I just pushed the proposed fix.  I'll close this issue for now but everybody, please feel free to continue discussion.  @bartlettroscoe will open other issues as needed.

I agree that this is a dilemma.  On the one hand, parameters are "options" and therefore "optional."  On the other hand, what's a "default preconditioner"?  Users might forget to tell us which preconditioner they want, and it mak

[2016-08-09 18:09] #535 closed

[2016-08-09 19:49] bartlettroscoe commented on #541
It looks like some "Nightly" results are showing up again shown here:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-08-09

However, I fear that someone may have to manually pull the updated outer Trilinos repo that is used by the TDD system for the various builds or the broken tdd_driver.py script may not get updated.  I am not sure but I fear that might be the case.

[2016-08-09 20:25] tawiesn commented on #541
Manually pulled the Trilinos repository on enigma. Let's see whether it helps.

[2016-08-09 21:18] tawiesn commented on #541
Started the nightly tests on my machine and they seem to run. We should see some test results from enigma soon...

[2016-08-09 21:28] bartlettroscoe commented on #541
Looks like my fears may be unfounded.  For example, we can see builds coming in from muir today here:

* http://my.cdash.org/index.php?project=Trilinos&date=2016-08-09&display=project

but not for the last few days as shown here:

* http://my.cdash.org/index.php?project=Trilinos&date=2016-08-08&display=project
* http://my.cdash.org/index.php?project=Trilinos&date=2016-08-07&display=project

How th

[2016-08-09 21:45] nschloe commented on #535
Thanks everyone for investigating!

[2016-08-09 21:49] bartlettroscoe commented on #535
@nschloe,

I think the bottom line from this discussion is that almost every realistic use case will require that a PL be registered with a factory object.  We need to pin down the expected behavior better.

Also, I think that if you turn on debug-mode checking (e.g. `-DTrilinos_ENABLE_DEBUG=ON`) then this segfault will be replaced with a nice exception, including a stack trace if you have BinUtil

[2016-08-09 21:52] tawiesn commented on #541
I think it is good idea that there is _someone_ watching out every day to check whether there is a problem with the dash board. On the other side, i would expect that all of us _check the dashboard the days after having made a commit_ (just to make sure that nothing is broken), since the checkin script never can catch all problems. Furthermore, it's always good to know whether commits made it into

[2016-08-09 21:58] nschloe commented on #535
That was Mark's tip too. I'll try to enable this in the Debian build. (A binutils bug will have to be resolved first.)

[2016-08-09 22:03] bartlettroscoe commented on #541
From my own experience with this over several projects over many years if that if something is everyone's responsibility then it is no-one's responsibility. The active "on call" member just has to keep a watch and do the most basic triage and pass the issue on to someone else.  The CASL project has been an interesting experimental test bed for these processes.

[2016-08-09 22:06] bartlettroscoe commented on #535
BinUtils is only needed if you want a stacktrace without running in a debugger.  But if you build a full debug version of the code (e.g. `-DCMAKE_BUILD_TYPE=DEBUG`) then you can run your code in a debugger and set a breakpoint when the throw occurs.  See documentation for [`TEUCHOS_TEST_FOR_EXCEPTION()`](https://trilinos.org/docs/dev/packages/teuchos/doc/html/group__TestForException__grp.html#gaad

[2016-08-09 22:49] bmpersc opened #545 "PyTrilinos library being exported when it shouldn't be"
Bill Spotz reported that the export system for Trilinos is exporting the PyTrilinos library which is a problem since it depends on the python library. This causes linking errors when people use find_package(Trilinos) to get all the necessary information for Trilinos. The PyTrilinos library is in the list of Trilinos libraries, but it won't ever link. The sticking point here is that this library ne

[2016-08-09 23:06] bmpersc opened #546 "Make Trilinos' use of ETI consistent"
Trilinos wants to move to ETI to be enabled by default. This requires that all packages use the same ETI system. Currently there are 3, maybe more in Tpetra, Muelu and ifpack2. The goal is to make sure that turning on ETI will not make obscure builds fail due to combining packages that aren't normally during  our testing.

[2016-08-10 14:51] tawiesn commented on #541
Enigma is back again as test machine (the tests show up on Monday, since i ran them early yesterday.).

[2016-08-10 17:58] jhux2 opened #547 "Ifpack2::AdditiveSchwarz RBILUK unit test failing"
In looking at issue #460, I've found that the AdditiveSchwarz unit test w/ RBILUK as a subdomain solve is failing in my local build.  The dashboard appears to be clean.  Here are my configure options:

[code]

[2016-08-10 18:18] jhux2 commented on #460
The Ifpack2::AdditiveSchwarz SuperLU unit test is guarded by the macro HAVE_AMESOS2_SUPERLU.  I never included Amesos2_config.h, however, so the macro is undefined and hence the test doesn't run.

[2016-08-10 18:22] tawiesn commented on #546
One must not forget ETI in Stokhos...
In MueLu, (most) ETI files are automatically generated through CMakeLists.txt. Be aware, that in MueLu we can switch between the Tpetra inspired ETI system (which splits the cpp files and generates one per configuration) or the Ifpack2 inspired system (which produces one cpp file for each class containing all instantiations for all enabled configurations). By

[2016-08-10 19:17] kddevin commented on #547
@jhux2 :  Complex=on is currently a problem for Zoltan2.  See #244.  We are addressing the problem and hope to have it resolved in a week or so; see the discussion in #244 .  Until then, disabling Zoltan2 ordering is one option; disabling complex is another.  I apologize for the inconvenience.

[2016-08-11 15:19] bartlettroscoe commented on #541
It is hard to tell if *all* of the Nightly builds are back (because none of the builds are marked as "expected builds") but there are a whole bunch of builds showing up today on the main CDash site:

* http://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2016-08-11

and builds are also showing up on the my.cdash.org site:

* http://my.cdash.org/index.php?project=Trilinos&date=2016-08-11

[2016-08-11 15:30] bartlettroscoe commented on #229
@MicheldeMessieres, sorry for the long delay but I am going to start looking over all of this.  Just to be clear, I need to review what is on the branch:

* https://github.com/Tech-XCorp/Trilinos/tree/thread-safe-rcp-229-wip

?

According to git the top commit for that branch is the commit:

[code]

Is that correct?

[2016-08-11 15:35] tawiesn opened #549 "Xpetra: throw better error messages in constructors of stub implementations"
Add missing exceptions and improve existing error messages in all constructors of the stub implementations for disabled types. We forgot to add exceptions in some constructors.

It would be helpful to tell the user if he tries to create an object using disabled types and give a detailed error message with hints of what types have to be enabled in the Trilinos configuration.

[2016-08-11 16:48] MicheldeMessieres commented on #229
hi Ross - that is correct.

I tried running that with as much stuff on as I could and it seemed to all pass - the exception is the circularReference_a_then_c test which currently passes but not for the right reasons (details in my note above). I've not worked on that until we discuss plans for the exception handling in destructors which you had indicated we would likely want to change anyways.

[2016-08-11 20:01] bmpersc commented on #541
It looks like all the builds I would expect are reporting.

[2016-08-11 20:34] bartlettroscoe commented on #541
Thanks Brent!

Closing as complete.

[2016-08-11 20:34] #541 closed

[2016-08-11 21:33] bartlettroscoe commented on #452
Git-LFS is easier to use that git-annex and is ready to use right now with GitLab at SNL and GitHub for that matter but it has some downsides. (see TriBITSPub/TriBITS#139 and [TRIL-62](https://sems-jira.sandia.gov/browse/TRIL-62))  But the files that Trilinos has to manage are not all that large so just storing them in a separate regular git repo is likely the best option.

[2016-08-11 21:41] mhoemmen commented on #549
Does this relate to @DrBooom 's issue, possibly reported yesterday?

[2016-08-11 21:43] mhoemmen commented on #546
Thyra has its own system that lives in Teuchos.  The two interact (in sometimes less than fortunate ways) in Thyra's Tpetra wrappers, and downstream.  I faced this issue when I wanted to add a new Scalar type (__float128) to Tpetra.

[2016-08-11 21:44] mhoemmen commented on #64
I'm working on this now.  Don't know what's wrong yet.  It may take me a while.

[2016-08-11 22:54] tawiesn opened #550 "MueLu: Merge ML2MueLuParameterTranslator and MLParameterListInterpreter"
Does not make sense to have the same functionality twice in separate implementation. The question is whether we want to keep the Translator functionality and use it within the MLParameterListInterpreter. The MLParameterListInterpreter code would be drastically simplified.

[2016-08-11 23:03] tawiesn commented on #549
@mhoemmen Yes. But we had a similar issue with Zoltan2 a couple of weeks ago, too.

[2016-08-11 23:03] mhoemmen commented on #64
With OMP_NUM_THREADS=2, here is what I found:

  1. Kokkos::fill_random (initial guess for power method iteration that estimates max eigenvalue) was producing perfectly reasonable, random-looking numbers between -1 and 1.
  2. Max eigenvalue estimate quickly became negative in that case.
  3. When I constrained the random numbers to be between 0 and 1, the test passed.

[2016-08-11 23:38] mhoemmen commented on #64
Fix works!  Running check-in tests now.

[2016-08-11 23:50] mhoemmen commented on #64
Just pushed fix.

[2016-08-11 23:50] #64 closed

[2016-08-12 05:46] mhoemmen commented on #338
Test fails for me with random initial guess (not current state of code) with no threads at all.  putScalar(1) (current state of the code) works.

[2016-08-12 06:48] maherou commented on #158
Ross,

I have a few comments on what you are proposing:
1. (Not our issue, but part of the conversation) We need to get the SEMS environment changed so that CXX, CC, FC point to the underlying compilers.  This is wrong.

2. Your proposed approach seems like a lot of TriBITS development that could be handled directly by CMake.  While it might be a bit more complicated using raw CMake, it is a suppo

[2016-08-12 16:38] bartlettroscoe commented on #158
@maherou, Let's discuss in detail at the next Trilinos Framework meeting.  There are several higher-level issues to consider in this conversation that go far beyond a SEMS dev env.

[2016-08-12 23:10] mhoemmen opened #551 "Ifpack2::BlockRelaxation: Remove ETI for ContainerType != Ifpack2::Container"
@trilinos/ifpack2 Recent changes to Ifpack2::BlockRelaxation (thanks @brian-kelley !) mean that we no longer need to do explicit template instantiation (ETI) for BlockRelaxation with `ContainerType != Ifpack2::Container<Tpetra::RowMatrix<...> >`.  This change would reduce the number of BlockRelaxation instantiations by 5x.

[2016-08-12 23:27] mhoemmen opened #552 "Ifpack2::Experimental::RBILUK: Only instantiate for MatrixType=RowMatrix"
@trilinos/ifpack2 Convention for Ifpack2 is that the MatrixType template parameter should always be a Tpetra::RowMatrix specialization.  This makes ETI easier, and avoids redundant instantiations that waste build time and space.  BlockCrsMatrix inherits from RowMatrix, so we only need to instantiate Ifpack2::Experimental::RBILUK for MatrixType = RowMatrix.  Right now, Ifpack2 instantiates for _bot

[2016-08-12 23:47] mhoemmen commented on #551
Just pushed a fix.

[2016-08-12 23:47] #551 closed

[2016-08-13 06:01] mhoemmen commented on #234
Running unit tests now.

[2016-08-13 06:20] mhoemmen commented on #409
I'm moving this into the Ifpack2::DeprecatedAndMayDisappearAtAnyTime namespace.  It comes with the following documentation:
[code]

[2016-08-15 00:41] mhoemmen commented on #234
Fixed in my recent commit.

[2016-08-15 03:03] mhoemmen commented on #409
Running check-in tests now.

[2016-08-15 03:09] mhoemmen commented on #409
Just pushed the following changes:

  1. Moved `Ifpack2::Krylov` to the `Ifpack2::DeprecatedAndMayDisappearAtAnyTime` namespace
  2. Documented `Ifpack2::DeprecatedAndMayDisappearAtAnyTime` namespace as deprecated
  3. `Ifpack2::DeprecatedAndMayDisappearAtAnyTime::Krylov` no longer exists or builds by default.  If you want it, you must enable it at configure time by setting the CMake option `Ifpac

[2016-08-15 03:09] #409 closed

[2016-08-15 03:10] #234 closed

[2016-08-15 03:11] mhoemmen commented on #179
This is not an Ifpack2 issue.  Ifpack2 can and should access BCRS blocks through the Kokkos::View interface.

[2016-08-15 03:14] mhoemmen opened #553 "Tpetra::{Export, Import}: Implement 2-arg "copy constructor" like MultiVector's"
#531 depends on this (the CrsGraph may store an Import and/or Export; it may make sense to deep-copy them, if the graph's structure may change).

[2016-08-15 17:04] jhux2 commented on #541
Thank you, Ross.

[2016-08-15 23:13] mhoemmen opened #555 "Tpetra: Make it possible to Import/Export a RowGraph into a CrsGraph"
@kddevin writes:

CrsGraph's implementation of DistObject methods (in particular, checkSizes, copyAndPermute, and packAndPrepare) all use the RowGraph interface.  Furthermore, RowGraph implements Packable.  Thus, all we need to do is make RowGraph inherit from SrcDistObject.

This is TRIVIAL since SrcDistObject implements no methods other than a virtual destructor.  Would you like to do it?

[2016-08-15 23:26] maherou commented on #555
Just to add historical context:  The reason for the "Src" in SrcDistObject, starting with Epetra was to support this kind of feature.  Just FYI.

[2016-08-16 00:06] mhoemmen commented on #555
@maherou Thanks Mike!  We added SrcDistObject to Tpetra, imitating Epetra, for this very reason.

@kddevin Do you actually have a RowGraph that is not a CrsGraph?  If so, I would like to use it for the text.  It's true that the fix is trivial, but the test is not.  (I can't just use CrsGraph as the source object, since the target object (the `*this` of the doExport or doImport call) attempts to ca

[2016-08-16 14:09] #549 closed

[2016-08-16 17:58] tawiesn commented on #521
Obviously fixed

http://my.cdash.org/index.php?project=Trilinos&subproject=Xpetra

[2016-08-16 17:58] #521 closed

[2016-08-16 18:00] tawiesn commented on #444
@mhoemmen  @brian-kelley  @csiefer2  What's the current status of this?

[2016-08-16 18:22] brian-kelley commented on #444
The 5 steps above are done, plus I replaced MultiVector with Kokkos::View for all apply() computations (except for SparseContainer::applyImpl), which yielded a big performance improvement. The work is being done in my fork of Trilinos.

Only one BlockRelaxation unit test was failing (overlapping partitioner, DenseContainer). I will continue working on this next week and I don't anticipate it will

[2016-08-16 18:33] MicheldeMessieres commented on #480
I pushed an alternative to check the mangle names explicitly. So the prior commit (running the source) and this version (checking names) both will work. I'm not sure of a better way to do this than these two options.

[2016-08-16 18:36] tawiesn commented on #444
Thanks for the update

[2016-08-16 19:00] tawiesn opened #556 "MueLu: update rebalancing section in MueLu tutorial"
RepartitionFactory has been split into RepartitionFactory and RepartionHeuristicFactory. Update pictures and description.

[2016-08-16 21:06] jhux2 commented on #460
If I set overlap=0, the test passes.

[2016-08-16 22:02] kddevin opened #557 "Tpetra: tsqr configure dependencies causing build errors with Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES=OFF"
@trilinos/tpetra @trilinos/zoltan2 @MicheldeMessieres @krcb

[2016-08-16 22:20] #557 closed

[2016-08-16 22:32] jhux2 opened #558 "Ifpack2 RILUK with overlap does not work properly as smoother in MueLu"
@trilinos/ifpack2

Reported by a user:

I'm running a Drekar MHD test case that requires Ifpack2's RILUK smoother for MueLu.   I observed that the number of GMRES iterations has increased unexpectedly by a factor of 3 recently.  The increase appears to be due to the following Ifpack2 check-in to address issue #514.

[code]
I'm not sure if the issue is with the computation of the RILUK factors or t

[2016-08-16 22:38] mhoemmen commented on #558
This quite possibly relates to Bugzilla 5992 and #438.  Does the column Map in question obey the requirements that LocalFilter imposes?

Does this mean we can fix how AdditiveSchwarz does overlap, once and for all?  I wouldn't quite use the words "utter disaster," but it's been a pain in our side off and on for years now.

[2016-08-16 23:04] kddevin commented on #555
Thanks, @mhoemmen .  I can try to make the trivial change, following the example of RowMatrix.

No, sorry, we don't have our own RowGraph.  In our tests, we get the CrsGraph from CrsMatrix::getGraph() and cast it up to RowGraph.  That's probably why our tests compile, but I don't think they would work for anyone not using an underlying CrsGraph.  In Ifpack2, we get the RowGraph from RowMatrix::get

[2016-08-16 23:41] kddevin commented on #555
After talking with @amklinv , I think we'll do the following:
-  If we can cast the input RowGraph to a CrsGraph, we'll do the redistribution into a CrsGraph.
-  If the cast does not work, we will throw an error saying we cannot redistribute the RowGraph.

@amklinv  said users who wrap their own data structures with Tpetra::RowGraph or Tpetra::RowMatrix would be unlikely to want a Tpetra::CrsMatri

[2016-08-17 01:27] pwxy commented on #558
Unfortunately it is not as simple as the case where overlap=1 gives the same convergence as overlap=0.  This will take more careful investigation into AdditiveSchwarz.

[2016-08-17 14:12] mhoemmen commented on #558
@pwxy wrote:

Right, but could you send us the domain Map and column Map of the input matrix?  That might help us know whether #438 is to blame here.

[2016-08-17 14:21] mhoemmen commented on #555
Ifpack2::Details::OverlappingRowGraph inherits from Tpetra::RowGraph, but not Tpetra::CrsGraph.  It's a bit of a disaster though, given #438 and #558.

[2016-08-17 14:52] pwxy commented on #558
I have include all four maps dumped by MueLu.  I looked at the domain map and column map, and they are different.

[mhd_matrix.zip](https://github.com/trilinos/Trilinos/files/422839/mhd_matrix.zip)

[2016-08-17 15:19] bmpersc opened #559 "Segfault when updating SEACAS and STK"
I'm seeing the following segfault in PanzerAdaptersSTK_tLineMeshFactory_MPI_2 when building with an updated STK. If this is insufficient to address this issue please let me know and I will find a way to get you the copy of Trilinos with the updates so you can debug the issue.

Output from test:

Start 75: PanzerAdaptersSTK_tLineMeshFactory_MPI_2

75: Test command: /sierra/sntools/SDK/mpi/openmpi/1

[2016-08-17 15:30] rppawlo commented on #559
@bmpersc - could you send a patch or point us to a branch to build against? I'm not sure what is going on - will need to see the actual changes to stk to figure this out.

@trilinos/panzer

[2016-08-17 15:39] mhoemmen commented on #555
Hi @kddevin !  I think it's OK to leave this issue open.  I'll just mark it as an "enhancement" (lower priority).

Best way to test this would be to write a custom graph class that inherits from Tpetra::RowGraph.  The implementation would store pairs of global indices `(i_gbl, j_gbl)` on each process.  It would only offer access by copy, not by view.

This would be a way to solve the outstanding i

[2016-08-17 15:41] mhoemmen commented on #558
The issue is not that they are different; it's whether the remote entries in the column Map always occur at the end on each process, and whether the local entries in the column Map always occur in the same order as in the domain Map on each process.

[2016-08-17 15:42] mhoemmen commented on #558
@jhux2 I guess I'm taking this then?  Are you interested in helping out?

[2016-08-17 15:42] mhoemmen commented on #557
Wait, what's this all about?  Was this not an issue then?

[2016-08-17 15:43] mhoemmen commented on #444
Was it passing before?  I'm not sure if the overlapping case in BlockRelaxation works at all.

[2016-08-17 16:30] brian-kelley commented on #444
Aha, I accidentally un-commented that test at some point. So all tests are passing, I think.

[2016-08-17 16:32] kddevin commented on #557
It seems to be a cdash issue; we cannot reproduce it with outside cdash.  Sorry for the noise.

[2016-08-17 16:43] jhux2 commented on #558
@mhoemmen Yes, I'd like to help out.

[2016-08-17 17:09] mhoemmen commented on #558
@jhux2 Thanks!  I'll take a look at the Maps to see if they obey the LocalFilter criterion.  If they don't, then the next step would be to fix that issue (#438), which would mean rewriting how AdditiveSchwarz does overlap.  If they do, then it's possible that my commit broke things.

[2016-08-17 17:37] bmpersc commented on #559
@rppawlo I have sent you information on how to get access to the repo I am working from.

[2016-08-17 18:28] mhoemmen commented on #557
No need for apologies!  Just wanted to see if it was something needing fixing.

[2016-08-17 18:31] mhoemmen commented on #521
Yay, thanks!

[2016-08-17 18:32] mhoemmen commented on #549
Yay, thanks!

[2016-08-17 19:23] kddevin opened #560 "Ifpack2 SingletonFilter does not implement getGraph()."
@trilinos/ifpack2 @trilinos/muelu @trilinos/zoltan2

This issue blocks  #244 , #547, #548.

Ifpack2 uses Zoltan2 for local ordering in Ifpack2_AdditiveSchwarz_def.hpp.
Zoltan2 works only with scalar_t={double, float, int}.  To prevent compilation problems when scalar_t={std::complex, Sacado type} (issues #244, #547), we would like to use the RowGraph, obtained from RowMatrix::getGraph(), for order

[2016-08-17 22:16] mhoemmen opened #561 "Tpetra: Move isLocallyFitted(map1,map2) into Tpetra"
@trilinos/ifpack2 @trilinos/tpetra

This was a utility function for Ifpack2::LocalFilter.  It really belongs in Tpetra, since it is useful for optimizing communication, as well as for debugging #558 and #438.

[2016-08-17 22:21] mhoemmen commented on #560
@jhux2

[2016-08-17 22:22] mhoemmen commented on #560
Sorry for closing temporarily -- hit the wrong button.

[2016-08-17 22:48] mhoemmen commented on #561
Running check-in tests now.

[2016-08-17 22:49] mhoemmen commented on #558
Fixing #561 will help me automate the process of determining whether fittedness of Maps is causing this issue.

[2016-08-17 23:39] bartlettroscoe commented on #158
I created a SEMS support request to fix the env vars CC, CXX, and FC:

* https://sems-jira.sandia.gov/servicedesk/customer/portal/4/SEMSHELPD-52

Mike, perhaps you can add a comment in this help request?

[2016-08-18 00:17] jhux2 commented on #460
I've reenabled the test with overlap=0 (commit cb801b6).  It passes, but overlap>1 will make it fail.  I also generalized the test to use either KLU2 or SuperLU.

[2016-08-18 02:29] mhoemmen commented on #460
Hm, Ifpack2's Amesos2 wrapper just lets Amesos2 apply the factorization; it does not use Ifpack2::LocalSparseTriangularSolver.  Thus suggests that #558 is about overlap.

[2016-08-18 11:43] MicheldeMessieres opened #562 "Cdash Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES OFF Question"
This question is about the intended behavior of Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES for cdash tests.

**Summary:**

Is the intention that EXTRA_CONFIGURE_OPTIONS can be used to turn off Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES? I think this is the intention but the current setup seems to override this with a hard coded ON setting in TribitsCTestDriverCore.cmake.

This apparently means we cannot run

[2016-08-18 15:09] dpo opened #563 "Error compiling Trilinos with SuperLU"
I'm using SuperLU 5.2.1 on OSX 10.9. Compiling Trilinos with SuperLU enabled yields the error

[code]

Looking through [one of the SuperLU examples](https://gist.github.com/79b384cb51e8a2692b886907a23f52d5), it is the `GlobalLU_t Glu` argument that is missing. I can't submit a patch due to my (lack of) understanding of Amesos and C++ but hopefully, you'll see what's missing.

Thanks.

[2016-08-18 15:17] mhoemmen commented on #563
Trilinos is known to work with SuperLU 4.3.  SuperLU 5 has a different interface.

[2016-08-18 15:19] mhoemmen commented on #561
Pushed last night.

[2016-08-18 15:19] #561 closed

[2016-08-18 15:22] dpo commented on #563
Right but SuperLU 5 has been with us for over a year. Is the upgrade in the cards?

[2016-08-18 16:01] mhoemmen opened #564 "Tpetra::Map constructors: If node is null, make default Node"
This came up for me in the Matrix Market Map reader, when debugging #558.

[2016-08-18 16:03] mhoemmen commented on #558
I just wrote a little tester thingie (I'll commit it later) that reads two Maps and tells me whether (map1, map2) is a fitted pair on all processes.  It looks like the domain Map and the column Map that @pwxy posted is a fitted pair on all processes.

[2016-08-18 16:12] mhoemmen commented on #563
@trilinos/amesos @trilinos/amesos2

[2016-08-18 17:43] dpo opened #565 "Error compiling Trilinos with CSparse"
I'm trying to build Trilinos with CSparse support in hopes of having a more complete Homebrew formula for automated installation on OSX. I'm using SuiteSparse 4.5.3. The error is as follows:

[code]

Here's a build log: https://gist.github.com/2b4287cec9ae769a27e9ca72421ef964

The CMake invocation is (a bit long):

[code]

Is there a user error that jumps out?

Thanks in advance!

[2016-08-18 18:06] srajama1 commented on #563
SuplerLU 5 was released few months ago and this is the first request for it. We can do this.

[2016-08-18 18:33] srajama1 commented on #563
My bad. I didn't realize this was for SuperLU and not SuperLU_Dist. Also, I see you want it for Amesos (not Amesos2). This will be very low priority for us as we recommend moving to Amesos2. Supporting it in Amesos2 will be useful for a number of people so we can add it to the list.

What is the target application ? Can you give little more context ?

[2016-08-18 18:43] bavier opened #566 "EpetraExt HDF5 interface fails at runtime with HDF5 1.10"
With Trilinos 12.6.3 configured with EpetraExt and HDF5 1.10.0, the `epetraext/example/inout/HDF5_IO.cpp` example fails with the following output:

[code]

HDF5 1.10 changed the definition of its `hid_t` type: https://www.hdfgroup.org/HDF5/doc/ADGuide/Changes.html

It seems there are a few places in the EpetraExt interface that use the `int` type, which worked with HDF5 1.8, but is no longer appro

[2016-08-18 18:44] mhoemmen opened #567 "Ifpack2: Fix for #64 caused application diffs"
@trilinos/ifpack2 @spdomin @agsalin

My fix for #64 (Ifpack2::Chebyshev power iteration computing negative max eigenvalue estimate) caused some application code to see somewhat different test results.  That fix just forced the entries of the initial guess to be nonnegative, by changing all the negative entries to be positive.  A more statistically sound way to do that would be to make the pseudora

[2016-08-18 19:18] mhoemmen commented on #567
This doesn't actually help.  Not sure what's going on.

[2016-08-18 19:42] dpo commented on #563
@srajama1 Thanks for pointing that out. I don't have a specific application and I'm happy to use Amesos2 instead of Amesos if it's more useful for people. I'm one of the maintainers of Homebrew/Science trying to make the Trilinos formula as useful as possible by default.

[2016-08-18 19:53] mhoemmen commented on #567
I've got a different solution in mind.  Trying that out now.  Seems to work but I need more tests.

[2016-08-18 20:15] mhoemmen commented on #567
Running check-in tests now.

[2016-08-18 22:05] allaffa opened #568 "Tpetra: proposed changes to handle processes with zero rows"
@allaffa @jhux2 @trilinos/tpetra @rstumin

I am currently working on a project at Sandia about multigrid preconditioners where some tasks have no matrix rows. This has revealed two places where KokkosKernels and Tpetra throw an exception.
I would like to propose a change of the conditions to throw the exception, checking also that the number of rows be different from zero.

See attached .txt files

[2016-08-18 22:18] amklinv commented on #568
Tagging @mhoemmen, the king of tpetra

[2016-08-19 03:36] mhoemmen commented on #567
I pushed what I hope is a fix for this issue earlier today.  If the max eigenvalue estimate never goes negative, this change should restore the original behavior (before my first #64 fix).  If it _does_ go negative, the power method does something both more efficient and more statistically sound with the initial guess.  Thus, I would call this an improvement over the previous state.  I welcome tes

[2016-08-19 03:36] #567 closed

[2016-08-19 03:59] mhoemmen commented on #568
@amklinv "king" only if Tpetra is one of those micronations that stamps your passport for fun and grants titles like "Her Grace the Archbishop of Anasazi" ;-)

@allaffa I appreciate your contributions!  As a work-around, you may also want to consider using Map's removeEmptyProcesses method to exclude processes with zero rows.  If you have a LOT of processes with zero rows, this may improve perform

[2016-08-19 04:07] mhoemmen commented on #563
btw @srajama1 and his colleagues made Amesos2 work with Epetra objects as well as Tpetra objects, so you might be able to switch to Amesos2 even if you want to keep using Epetra objects.

[2016-08-19 04:11] mhoemmen commented on #558
I'm working on another test for LocalSparseTriangularSolver.  After that, I will write a test that uses LocalFilter with LocalSparseTriangularSolver, to make sure that LocalFilter works (with fitted domain and column Maps).  Then, I'll plug the whole thing into overlapping domain decomposition and see if _that_ works.

[2016-08-19 04:16] allaffa commented on #568
@mhoemmen Thank you for the suggestion about excluding the process with zero rows from the Map. However, I don't think I can do that for the goal of my project. The map with a process doing nothing is associated with a fine level of a MueLu preconditioner. Via repartitioning, the process which is idle at the fine level is in charge of solving the coarse level. The only way for me to call an idle p

[2016-08-19 15:37] mhoemmen commented on #568
@allaffa It sounds like you are either a MueLu developer, or interacting directly with the coarser levels of the MueLu hierarchy, for example to change how MueLu does coarsening.  Is that correct?

Your patches look both harmless and useful.  It might take me a little while to get to this -- I'm working on #558 now, and that needs focus.  Have you tried running any downstream tests?  The only way

[2016-08-19 15:43] mhoemmen commented on #566
Just to summarize for other readers: The release notes (https://www.hdfgroup.org/HDF5/doc/ADGuide/Changes.html) suggest that hid_t has been around for a while, and was already in use as "the type . . . for all HDF5 identifiers" before 1.10.0.  The change is that hid_t was a 32-bit type before, and is now a 64-bit type.

@bavier It sounds like the only way this could break backwards compatibility,

[2016-08-19 18:20] allaffa commented on #568
@mhoemmen
I had a conversation yesterday with @jhux2 about running tests in this respect. I know that he already started checking some tests yesterday. He might confirm/correct this statement of mine and provide you with information about the outcome of the downstream test checks.

[2016-08-19 18:34] tawiesn commented on #568
@allaffa Can Epetra deal with the empty processes? I just want to make sure, since you are using MueLu (with Xpetra), that it works both with the Epetra and Tpetra stack in the end.

[2016-08-19 18:40] jhux2 commented on #568
MueLu broke in a way unrelated to @allaffa's changes.  That being said, his code changes are heavily guarded, so the checkin procedure won't tell us if anything downstream is affected.  I'll have to enable this code locally and run the downstream tests manually (i.e., outside the checkin script).

I believe @allafa and @rstumin only considered using the Tpetra stack.

[2016-08-19 19:13] mhoemmen commented on #568
Thanks @jhux2 and @tawiesn for context!  I'm just being extra cautious about how these code changes might interact with MueLu, independently of other changes @allaffa may have made.

[2016-08-19 21:21] jhux2 commented on #568
@allaffa's changes to MueLu and Ifpack2 have been pushed.  As I said, they are not enabled by default (and in fact marked as experimental).  I will test the proposed changes to Tpetra and KokkosKernels to see whether anything downstream is affected.

[2016-08-20 00:32] jhux2 commented on #568
I applied the Tpetra patches that avoid some test-for-exceptions when the number of rows on a process is zero, and ran the checkin script with downstream dependencies enabled.  All downstream tests pass except for 11 ROL tests in MPI_SS_DEBUG.  I then backed out the patches and reran the MPI_SS_DEBUG configuration, and the same 11 ROL tests still failed.  This gives me confidence the patches are n

[2016-08-20 03:23] mhoemmen commented on #568
Thanks @jhux2 !  ROL has been churning a lot lately.  The only thing I see in the changes that I don't like, are some signed / unsigned comparisons in the KokkosKernels patch (search for `0!=numRows`).  Otherwise, I think it's safe to push.  Would you like to do it?

[2016-08-21 23:07] dpo opened #569 "Symbol not found: _PyBool_Type"
When Trilinos is built with Python support and an external C++ library links against the Trilinos library list given in the CMake file, the following error results:

[code]

The issue has been around for quite a while and the problem is described here: https://github.com/Homebrew/homebrew-science/issues/2148#issuecomment-103614509

Here's an example of occurrence of the error when linking deal.II

[2016-08-22 02:59] mhoemmen opened #570 "Ifpack2::RILUK::initialize incorrectly does setup that depends on the matrix's values"
@trilinos/ifpack2

@ambrad pointed out to me that Ifpack2::RILUK::initialize does setup that depends on the matrix's values.  This is incorrect.  The initialize() method is only supposed to do setup that depends on the graph.

This may relate to #558.

Easiest work-around is to move the entire contents of initialize() to the top of compute().  It's perfectly correct for initialize() to do nothing.

[2016-08-22 02:59] mhoemmen commented on #570
@jhux2 @csiefer2 @ambrad

[2016-08-22 03:09] mhoemmen commented on #558
Fixing #570 would probably not fix this issue, alas, because RILUK sets up its two LocalSparseTriangularSolver instances (one for L and one for U) in compute().

[2016-08-22 03:51] ambrad commented on #558
@mhoemmen, I agree that fixing #570, and also the LocalSparseTriangularSolver bug, won't fix this issue. 1. MueLu::Ifpack2Smoother appears to call initialize() unnecessarily (according to the proper semantics of initialize vs compute) just to work around issue #570. 2. And I suspect that this issue (#558) is happening in the code path MueLu::Ifpack2Smoother -> Ifpack2::AdditiveSchwarz -> Ifpack2::

[2016-08-22 15:13] spdomin opened #572 "Nalu application code diffs noted in head Trilinos"
Last week, a commit tracked to Hoemann was found to cause diffs. After accepting these diffs, this past weekend (after the next update cycle), I am again seeing new diffs.

Has the head been updated again?

Shall I bisect?

[2016-08-22 15:54] jwillenbring commented on #572
@bmpersc can comment on when the head was last updated.

[2016-08-22 16:12] mhoemmen commented on #572
Diffs may result from our fixes to outstanding serious Ifpack2 issues, like #64.  We need information on the gravity of those diffs, especially if we're being asked to revert commits that clearly appear to have increased code quality.

[2016-08-22 16:28] spdomin commented on #572
This is the second set of diffs noted in the past week. Any way that we can understand how your changes are affecting application codes before you push?

[2016-08-22 16:56] spdomin commented on #572
What is the ifpack2 interface that recovers the following commit:

Ifpack2::Details::Chebyshev: Fix #64 (failing Ifpack2_Cheby_belos test

From an application perspective, what is the preferred option?

[2016-08-22 17:08] bavier commented on #566
@mhoemmen The earliest version of hdf5 that EpetraExt is API compatible with is 1.8.0 (e.g. number of arguments to H5Gcreate).  I was able to successfully build EpetraExt against that version and run the HDF5_IO.cpp example with this patch.

[2016-08-22 18:01] jhux2 commented on #568
@mhoemmen ```numRows``` is of type ```size_type```, which is really BMV::size_type.  Ultimately, is this guaranteed to be unsigned?

[2016-08-22 18:33] bmpersc commented on #572
The last update I did was on Friday morning. I don't know the exact time, but that shouldn't matter.

Is tracking when these updates happen going to be something that we need to do going forward? Once we go to an automated process the updates will happen when they happen and tracking that down, while possible, won't be time well spent IMO. We can find a way to track this information, but honestly

[2016-08-22 19:07] jhux2 commented on #570
Adding @aprokop, since this will affect reuse of smoother components across multigrid solves.

[2016-08-22 19:45] spdomin commented on #572
After meetings with the appropriate party, a path forward was decided upon. In the end, I was able to revert my previous NaluRtest changes. With this revert, the current head code base in Trilinos produced zero diffs. Therefore, the conclusion is that no Nalu test produced an estimate of the systems eigenvalues that were negative.

Now that the current Trilinos behavior replicates the historic Che

[2016-08-22 19:45] #572 closed

[2016-08-22 19:47] jhux2 commented on #558
@pwxy Can you generate a small matrix and RHS that demonstrate the issue?  By small, I mean small enough that we could commit them to the repo as input to a unit test.

[2016-08-22 21:04] mhoemmen commented on #570
I'm hoping that fixing this would let MueLu not need a special case, but not actually require MueLu to change its code.

[2016-08-22 21:05] mhoemmen commented on #568
@jhux2 Unfortunately, this is signed on CPUs (size_t) and unsigned on GPUs (int).  The Kokkos developers would consider making it signed on both platforms.

[2016-08-22 21:27] jhux2 commented on #568
Good to know.  So I guess it should be something like ```Teuchos::OrdinalTraits<size_type>::zero()!=numrows```?

[2016-08-22 21:35] jhux2 commented on #568
No ... since this would be a dependence on Teuchos.  Instead

[code]

[2016-08-22 22:01] maherou opened #573 "Add code change policy for Trilinos commits that potentially change user results"
@spdomin @mhoemmen @kddevin @jwillenbring

Discussions coming from issue #572 have led to a determination that Trilinos needs a policy and process for managing repository changes that can impact computational results.  For example, in the case of #572, changes to the Chebyshev smoother in Ifpack2 changed the behavior of Nalu and caused a diff diagnostic to be raised.  While the change actually imp

[2016-08-22 22:04] maherou commented on #573
The label **Results Impacting** has been added to the Trilinos labels set.  The label was retroactively applied to #572

[2016-08-23 00:45] jhux2 commented on #568
Ok, I've pushed these changes.  @mhoemmen thanks for the review.

[2016-08-23 00:46] bartlettroscoe commented on #370
Relating to the debate mentioned in the [above comment](), here is a question in an email just today that would have been answered automatically if we changed to do '--no-ff' merges from 'develop' to 'master'.

[code]

If we did explicit merge commits, then Stefan would know automatically if an update had been done or not.

I have an idea for how to automated the update from 'develop' to 'master'

[2016-08-23 07:22] RATATATO opened #574 "Epetra_VbrMatrix::ExtractGlobalRowCopy has not been implemented yet."
When I used Epetra_VbrMatrix::ExtractGlobalRowCopy in my source, my program outputted "Must implement....". and no elements were copied to an array.

Here is an example.
https://gist.github.com/RATATATO/5aaae9ed130d9bed87cb779531b25a84

Output is as follow

[code]

[2016-08-23 13:37] jwillenbring commented on #574
@maherou Chetan was the last one to touch this line. Do you remember why the code is in this state?

https://github.com/trilinos/Trilinos/blame/master/packages/epetra/src/Epetra_VbrMatrix.cpp

[2016-08-23 16:17] jhux2 commented on #568
Tpetra dashboard today is showing one failure:  http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2538924.  Since my commit was the only one to Tpetra, looks like it broke something.  I'll have a look.

[2016-08-23 16:57] bavier commented on #563
This seems to be a duplicate of #379, which was translated to pull request #411

[2016-08-23 17:11] srajama1 commented on #563
Thanks, @bavier . I wasn't aware of the #379 at all. It would be better to reference @trilinos/amesos2 . I will start searching on label more often.

[2016-08-23 17:27] rppawlo commented on #559
I was able to reproduce the error. Am debugging now.

[2016-08-23 18:11] jhux2 opened #576 "ROL test failures when using the checkin script"
@trilinos/rol
Hi,
  Earlier this week I was running the checkin script to test some changes in Tpetra (issue #568).  During that process, some ROL tests failed, independently of the changes I was testing.  The tests are:

[code]

I didn't see these failures on the dashboard.  Ultimately I was able to work around this, but wanted to let the ROL team know in case they want to investigate.

[2016-08-23 18:32] jhux2 commented on #576
This build was using gcc/4.8.4 and mpich-1.4.1p1.  The configure scripts are attached.
[do-configure-base.txt](https://github.com/trilinos/Trilinos/files/433269/do-configure-base.txt)
[do-configure.txt](https://github.com/trilinos/Trilinos/files/433270/do-configure.txt)

[2016-08-23 19:15] jhux2 commented on #568
I don't understand.  The test reports as passing, but there's a nonzero return code:
[code]

[2016-08-23 19:19] etphipp commented on #568
Do you have the option to globally reduce the test status across processors enabled (the Teuchos unit test harness does not do this by default)?  I bet your test is passing on proc 0 but failing on some other processor.  If you run the test with output from all processors, you should see that.

-Eric

From: Jonathan Hu <notifications@github.com>
Reply-To: trilinos/Trilinos <reply@reply.github.com>

[2016-08-23 21:06] jhux2 commented on #568
Thanks for the tip, Eric.  Yes, the test is failing on proc 1.  Back to the commit question.  I backed out the changes, and the test, TpetraCore_Map_Bug5822_2.exe, still fails.  This unit test is exercising Map->getRemoteIndexList().  My checkins affect Tpetra_CrsMatrix and KokkosKernels, so I see no way these two commits could break this unit test.

[2016-08-23 21:07] #568 closed

[2016-08-24 01:16] gslota opened #578 "Zoltan2: imbalance metrics reporting no imbalance when all vertices assigned to part 0"
When evaluating the metrics after performing partitioning, no imbalance is reported (imbalance = 1) when all vertices end up assigned to part 0, even when the target number of parts is >=2. The expected behavior would be, e.g. for target num parts = 2, that the reported imbalance would also be 2 when this occurs.

To reproduce:
Configure and compile Trilinos with Zoltan2 and PuLP enabled
$ export

[2016-08-24 02:57] mhoemmen commented on #558
@ambrad @jhux2

I just wrote a pretty extensive test for LocalSparseTriangularSolver.  It looks like there might be something wrong with either it, or Tpetra's sparse triangular solve.  I'm attaching a patch that adds an extensive test.  It compares LocalSparseTriangularSolver's results against a known exact solution, a dense solve, and a reference sparse triangular solve implementation included i

[2016-08-24 03:03] mhoemmen opened #579 "Intrepid2 is not allowed to depend on ROL"
My commit d5e30d157957623ca631484a50f8eadb5814e332 did not cause this.  Intrepid2 listed "Rol" as a dependency; that was misspelled (TriBITS is case sensitive).  `git blame` suggests that this was commit b1bfe019.

ROL comes after Intrepid2 in the package dependency list, so Intrepid2 is not allowed to depend on ROL.  CMake configuration of Trilinos stops with an error:

Processing Project, Reposi

[2016-08-24 03:21] mhoemmen opened #580 "Tpetra: Bug5822 test times out"
http://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2538924

Test: TpetraCore_Map_Bug5822

First reported in (not as) #568.

[2016-08-24 03:22] mhoemmen commented on #568
Thanks @jhux2, @etphipp, and @allaffa !

I opened a new issue, #580, for the failing Tpetra test.

[2016-08-24 03:29] mhoemmen commented on #576
@trilinos/rol @gregvw @dridzal

[2016-08-24 03:53] mhoemmen opened #581 "Tpetra::CrsMatrix: Deprecate and remove localSolve"
@trilinos/tpetra @trilinos/ifpack2

As discussed in #514, sparse triangular solve properly belongs to a solver or preconditioner package, rather than to Tpetra.  Removing this method would reduce the amount of code to build in Tpetra.  It would also give us the freedom to reduce the cost of fillComplete, by not computing local constants (like whether the matrix is upper or lower triangular).

Tpet

[2016-08-24 03:55] mhoemmen commented on #460
See patch I posted an hour ago to #558.

[2016-08-24 04:03] lxmota commented on #579
I reverted the last 4 commits, 3 of them mine and one yours so that the state is as before I committed anything.

Before committing the troublesome commits, I rebuilt and tested Trilinos from scratch with gcc and clang and I did not get the error. That is why I pushed those commits.

Is there no way then to make Intrepid2 dependent on ROL?

[2016-08-24 14:13] mhoemmen commented on #579
I totally believe that you did this :-)  I'm just curious why it was able to work.  Did you rerun CMake first, or just type "make"?  If the latter, did CMake run on its own first?

[2016-08-24 14:17] mhoemmen commented on #579
I just looked at the package dependencies -- it looks like you could do this.  You would just need to edit Trilinos/PackagesList.cmake to put ROL above Intrepid2.

[2016-08-24 15:27] mhoemmen opened #582 "Ifpack2: Do we really need Filters?"
@trilinos/ifpack2 @jhux @csiefer2

Any optimized subdomain solver that depends on the structure of the matrix -- e.g., sparse LU or ILU\* -- will want to access the data structures directly.  For example, Ifpack2's ILU(k) or ILUT all take the input RowMatrix -- which may perhaps be a LocalFilter -- and convert it to a CrsMatrix, if it is not already a CrsMatrix.

This makes me wonder why we need F

[2016-08-24 15:39] maherou commented on #579
I would like to discuss the details of what happened here.  The positive thing to note is that the regression in cmake execution was caught on the develop branch.  But I would like to figure out if we can change processes or policies to reduce the risk of this kind regression in the future.  Perhaps changes like this should be reviewed before committing?

[2016-08-24 16:18] jhux2 commented on #460
@mhoemmen I didn't see a patch attached ot #558.  Did you mean commit 46075d3?

[2016-08-24 17:15] mhoemmen commented on #579
I'm not even sure how it was technically possible.  If Intrepid2 and ROL were both enabled, TriBITS normally catches issues like this and stops the configure with an error message.  I was using the check-in test script -- could it be that a regular CMake configure works differently?

[2016-08-24 17:16] mhoemmen commented on #460
@jhux2 See commit https://github.com/trilinos/Trilinos/commit/46075d305ad43c906ff7bba84ec4c6d4488e4773 :-)

[2016-08-24 17:17] mhoemmen commented on #460
@jhux See commit https://github.com/trilinos/Trilinos/commit/46075d305ad43c906ff7bba84ec4c6d4488e4773, which includes a test showing that LocalSparseTriangularSolver is correct.

[2016-08-24 17:26] mhoemmen commented on #582
See also #560.  Many Ifpack2 filters, such as SingletonFilter, do not correctly implement methods like getGraph().  They either throw, or return the wrong graph.  (The returned graph should be the graph of the filtered matrix, not the graph of the original matrix.)

[2016-08-24 17:29] lxmota commented on #579
Sorry about this. When I said that I rebuild and tested Trilinos I mean I erased the build directory completely, started from a clean source and ran CMake in a new build directory.

I still need to make Intrepid2 dependent on ROL but now I'm afraid to break things. How should I proceed?

[2016-08-24 17:41] jhux2 commented on #579
@lxmota At the very least, you should run the checkin script with secondary stable code enabled.

[2016-08-24 17:54] mhoemmen commented on #579
Would it ever make sense for ROL to depend on Intrepid2?

If not, then it is safe for Intrepid2 to depend on ROL.  Just edit Trilinos/PackagesList.cmake, and put the ROL line above Intrepid2.  Run the check-in test script with `--default-builds="" --extra-builds=MPI_DEBUG,SERIAL_RELEASE`, so that all packages are enabled.  Otherwise, it won't test ROL, which is not Primary Tested.

If it would eve

[2016-08-24 17:59] maherou commented on #579
@lxmota, Alejandro,

Since we don't know how the regression in the build process happened, please have someone from the Trilinos framework (Brent, Jim W, Ross) review your code before committing it to the main GitHub repo.  Nothing fancy, but a kind of sanity check.  Thanks.

[2016-08-24 18:01] lxmota commented on #579
Okay, will do. Thanks.

[2016-08-24 18:02] jhux commented on #582
Hello,

I’m not quite sure why I’m receiving these email notifications in unaware of any of these issue. Is this something I worked on in the past?

Regards,
Joshua Hux
Associate Developer
Collaborative Consulting
Office: 715-393-4965 |Cell: (715) 803-8949 | www.collaborative.com<http://www.collaborative.com/>
[Description: M:\Design\Logos\Tagline Logos\tagline - CDSC logo\Logo-Tagline to right-sm

[2016-08-24 18:02] mperego commented on #579
ROL might need to depend on Intrepid2 for testing.. in fact Intrepid(1) is an optional dependency for ROL now. Let @dridzal and @dpkouri weigh on this.

[2016-08-24 18:05] mhoemmen commented on #579
We could put those ROL tests that depend on Intrepid2 in a subpackage of Intrepid2.  There are other ways to make this work :-)  but I'll let @dridzal and @dpkouri talk first.

[2016-08-24 18:06] mhoemmen commented on #582
@jhux Sorry about that!  I meant to tag @jhux2 but forgot the "2" at the end :-)

[2016-08-24 18:10] lxmota commented on #579
I'm open to move the Intrepid2 code to ROL since it implements MiniTensor ROL adaptors. @dridzal suggested to do that when we first discussed the work that we are trying to do. That way Intrepid2 would not be dependent on ROL. But then ROL would now be optionally dependent on Intrepid2.

[2016-08-24 18:23] mperego commented on #579
That might work.I think it is OK for Rol to have an optional dependency on Intrepid2.

[2016-08-24 20:29] dridzal commented on #579
Yes, it is OK for ROL to optionally depend on Intrepid2.  We already have an optional dependency on Intrepid, because of the PDE-OPT suite of tools and problems in PDE-constrained optimization.  In the future, we would like to use Intrepid2 as well, of course.  Also, note that there are at least 4 adapters in ROL that optionally include other Trilinos packages or TPLs, so this would be very natura

[2016-08-24 20:44] lxmota commented on #579
Okay then. I'll go ahead and move the MiniTensor ROL adaptors from Intrepid2 to ROL, then ask Brent, Jim W or Ross to quick-check it (as @maherou suggested) before running the checkin script to commit it

[2016-08-24 22:09] mhoemmen commented on #288
I just fixed the Ifpack2 build error, and a KokkosKernels build error (in a `ZeroVector` functor).  I also added a stripped-down unit test, based on the file that @mndevec sent me.  The test builds but segfaults.

Enable the test by setting the following CMake options:

-D TpetraKernels_ENABLE_Experimental:BOOL=ON
-D Ifpack2_ENABLE_Experimental:BOOL=ON
-D Ifpack2_ENABLE_Experimental_KokkosKernels_

[2016-08-24 22:40] mhoemmen commented on #131
Discussion has been good.  I think we can close this overarching issue and focus on the individual cases.  Thanks all!

[2016-08-24 22:40] #131 closed

[2016-08-24 22:42] mhoemmen opened #583 "Ifpack2: Plug in HTS for thread-parallel sparse triangular solve"
@trilinos/ifpack2 @trilinos/tpetra

[2016-08-24 22:44] mhoemmen commented on #583
This depended on #514.  Ifpack2::LocalSparseTriangularSolver is the right place to put this, NOT Tpetra::CrsMatrix::localSolve.  See #581.

[2016-08-24 22:45] mhoemmen commented on #558
I'm taking off the "in progress" label, since this is stalling.

[2016-08-24 23:59] dridzal commented on #576
I haven't been able to re-create these failures with the SEMS version of gcc/4.8.4 and OpenMPI.  I don't have mpich.  @jhux2 , could you give us an idea about the type of failures (errors, timeouts)?  And what do you mean by "work around"; did you have to modify code to make these tests pass?  Thanks, Denis

[2016-08-25 16:01] jhux2 commented on #576
@dridzal I looked at a sample of the tests.   The issue appears to be that the tests require Amesos2 with KLU2 enabled.  Here's an example:

[code]

I use SuperLU in my checkin process.  KLU2 is hardwired in ```rol/example/PDE-OPT/stoch-adv-diff/constraint.hpp```.  A possible solution is to query Amesos2 in ```constraint.hpp``` to see which direct solver is available, and use that one.  It's possi

[2016-08-25 16:43] dridzal commented on #576
I thought that Amesos2 would at least build KLU2.  What if you didn't have SuperLU?  Would it not build anything?  If you enable Amesos2, then, in my opinion, it is implied that you want to solve a linear system with it.  Including @srajama1 for clarification: What is the best solution here?

[2016-08-25 17:58] lxmota opened #584 "ROL: File name misspelled in rol/adapters/teuchos/src/CMakeLists.txt"
In the file:
  rol/adapters/teuchos/src/CMakeLists.txt
the name of the header ROL_TeuchosVector.hpp is misspelled as ROL_TeuchoVector.hpp (missing an "s").

[2016-08-25 18:15] dridzal commented on #584
@gregvw , could you please take a look at this and close the issue?

[2016-08-25 18:25] gregvw commented on #584
Fixed

[2016-08-25 18:25] #584 closed

[2016-08-25 18:47] aprokop opened #585 "Teuchos: CommandLineProcessor: depending on position --help may show incorrect default values"
@trilinos/teuchos @bartlettroscoe

[code]

[2016-08-25 20:14] srajama1 commented on #576
I will enable it by default, now that so many users are using it. The reason for not enabling it by default no longer exist. Sorry for the trouble.

[2016-08-25 20:43] jhux2 commented on #576
Looking back at my configure, in fact I explicitly *disabled* KLU2.  A user can alway configure Amesos2 without KLU2 (which is what I did).   So in my opinion there needs to be guard to only enable the test if KLU2 is available.

[2016-08-25 20:53] srajama1 commented on #576
I must have had a brain freeze. It is enabled by default ! I did it long time ago. This is Jonathan disabling it as he said above (Why ?).

[2016-08-25 20:57] dridzal commented on #576
?I disagree.  I don't think that we should support the possibility of do-nothing packages.  In that case the user should disable the entire package.

________________________________
From: Jonathan Hu <notifications@github.com>
Sent: Thursday, August 25, 2016 14:43
To: trilinos/Trilinos
Cc: Ridzal, Denis; Mention
Subject: [EXTERNAL] Re: [trilinos/Trilinos] ROL test failures when using the checkin

[2016-08-25 21:02] jhux2 commented on #576
Here's the relevant part of my configure:

[code]
Amesos2 *is* providing a direct solver, just not the one required by the ROL tests that failed.  So I disagree -- it should be the job of the ROL tests to check for the presence of KLU2.

[2016-08-25 21:18] dridzal commented on #576
?OK, so which solver is always enabled in Amesos2?

________________________________
From: Jonathan Hu <notifications@github.com>
Sent: Thursday, August 25, 2016 15:02
To: trilinos/Trilinos
Cc: Ridzal, Denis; Mention
Subject: [EXTERNAL] Re: [trilinos/Trilinos] ROL test failures when using the checkin script (#576)

?I disagree. I don't think that we should support the possibility of do-nothing pac

[2016-08-25 21:45] dridzal commented on #576
@srajama1 , @jhux2 to simplify the question:  If I want to make sure that I run Amesos2, which solver or which "factory" options should I use?  In other words, how do I make sure that enabling Amesos2 will execute these tests properly?  I really don't care about which solver it is, as long as Amesos2 picks something.  It seems strange that I would have to guard against both the package being disab

[2016-08-25 22:18] srajama1 commented on #576
You can use the query() to see if the solver you want is there. Grep for "query" in Amesos2 example to see the usage. The trouble is Amesos2 has no control over what the users choose to disable. They can disable all the solvers that comes with the package, which I don't know why.

I can put in an option something like : Give me the name of any one solver available, with default being KLU2 ? If not

[2016-08-26 00:29] dridzal commented on #576
Yes, that would be very useful.  Another, possibly simpler option may be to always build at least one solver that does not require a TPL, like KLU2 or Basker, and let people know which solver this is.  This would simply mean that you don't let users disable one of the solvers.  This is important for ROL, for example, to get good test coverage regardless of what the user chose in their configure sc

[2016-08-26 13:47] bartlettroscoe commented on #585
Should be easy to fix.  How urgent is this?

[2016-08-26 15:18] aprokop commented on #585
Not urgent at all.

[2016-08-26 16:02] srajama1 commented on #576
Actually, KLU2 is that option :). Jonathan is disabling it. I am just wondering why ...

[2016-08-26 16:29] jhux2 commented on #576
Siva Rajamanickam wrote on 08/26/2016 09:02 AM:

wondering why ...

It's a checkin configure script I've been using for a long time, I don't
remember why I chose Basker.

[2016-08-26 17:29] dridzal commented on #576
Because he can.  It may be best not to give users this option at all.  It would be nice if we could always have KLU2 available.  This would avoid a lot of configure-time and/or run-time logic.

________________________________
From: Siva Rajamanickam <notifications@github.com>
Sent: Friday, August 26, 2016 10:02
To: trilinos/Trilinos
Cc: Ridzal, Denis; Mention
Subject: [EXTERNAL] Re: [trilinos/Tri

[2016-08-26 17:38] michaelasprague commented on #452
Hello,
This is a useful thread -- we're going through a similar discussion with another project.  Sounds like you're still working through it.  Have you considered git subtree as an alternative to submodule?

[2016-08-26 17:48] srajama1 commented on #576
I believe that can be done. Let me see. One trouble could be if someone sends in a matrix with fancy scalar types. I don't want it to go to KLU2 (even though it is templated). It has to go to Basker. The default solver has to be able to handle all options, which makes it tricky.

[2016-08-26 17:51] srajama1 commented on #289
Assigning to myself to add it to my queue as I will be working on it for the milestone.

[2016-08-26 17:55] srajama1 commented on #288
Adding myself to the assignees as this falls under delivering the solvers/preconditioners in kokkoskernels and shylu in Ifpack2.

[2016-08-26 18:02] dridzal commented on #576
I would be OK with Basker as well, as long as there is a default that always works.

________________________________
From: Siva Rajamanickam <notifications@github.com>
Sent: Friday, August 26, 2016 11:49
To: trilinos/Trilinos
Cc: Ridzal, Denis; Mention
Subject: [EXTERNAL] Re: [trilinos/Trilinos] ROL test failures when using the checkin script (#576)

I believe that can be done. Let me see. One tr

[2016-08-26 20:00] kddevin commented on #560
@kddevin and @csiefer2  discussed this issue today.

The conclusion:  getGraph() is difficult to implement in filters without creating a copy of the graph.

The path forward:
Step 1:  For the short term, remove singleton filtering from the MueLu tests so that pull request #548 can be accepted.
Step 2 (Likely in FY17 Q1):  Try reversing the order that singleton filtering and Zoltan2's ordering are

[2016-08-26 20:06] kddevin commented on #430
Discussion with @csiefer2 today:
@csiefer2 will be the assignee; targeting FY17 Q1-Q2 for the work.

[2016-08-26 20:29] egboman commented on #560
I agree with the plan but not sure why "the modification from singleton filtering should not affect ordering."? I think the filtering will change the matrix size and structure so may give different ordering permutation.

[2016-08-26 20:55] kddevin commented on #560
OK; I should have been more wishy-washy in my claim, or left this issue to our team's ordering experts instead of taking it on myself.  :) :)
As I understand it, singleton filtering removes rows that have only diagonal entries; thus, a non-trivial ordering like RCM should not have significant differences (since those vertices weren't connected to anything anyway).   Of course, a trivial re-orderin

[2016-08-26 21:08] egboman commented on #560
I think singleton filtering removes rows with a single nonzero and also the corresponding columns, which may be quite dense (believe this is often the case for circuits). Thus there could be some impact even for RCM.

It is still a reasonable heuristic to try. Note ordering time might increase.

[2016-08-26 21:09] csiefer2 commented on #560
As per discussions w/ @kddevin , I've disabled Singleton Filtering in those 4 Helmholtz tests.

[2016-08-26 21:11] kddevin commented on #560
OK; I misunderstood then.  Can you coordinate with @csiefer2 next quarter to identify/evaluate problems with this approach?  Thanks.

[2016-08-26 21:18] egboman commented on #560
OK. Probably will have little or no impact on PDE problems so the MueLu tests should  be fine.

[2016-08-26 21:45] maherou commented on #560
I wrote the original singleton filter code many years ago as we were writing solver algorithms for Xyce.  It scans and treats in a special way the equations and variables that are fully independent or fully dependent.  These appear as row (independent) or column (dependent) singletons.

Row singletons are solved and then algebraically removed from the system.  Column singletons are removed and the

[2016-08-29 04:12] mhoemmen commented on #560
Not sure if I agree.  getGraph() returns a RowGraph.  This need not be a CrsGraph, so you don't have to copy the graph.  For example, in the case of SingletonFilter, one would just create a "SingletonFilterRowGraph" that keeps the original matrix and filters it, but only offers an interface to the graph.

[2016-08-29 04:15] mhoemmen commented on #288
Thanks!  It's probably not hard to fix.  I mainly wanted to get the test in place before Mehmet gets back, so he can hit the ground running.

[2016-08-29 16:42] bartlettroscoe commented on #452
@michaelasprague, in this case, we really want to keep these directories outside of the main repo for one of the following reasons:

1) Avoid the extra size of the some of these directories
2) Remove none-critical/deprecated packages
3) Allow for more flexible access control for some of these pieces (e.g. some have not been through Sandia R&A to allow external release through GitHub).

In general

[2016-08-29 17:48] egboman opened #591 "Zoltan: safe way to get the recursive bisection tree"
Some applications need the tree corresponding to recursive bisection in partitioning methods like RCB and PHG. Currently they assume "natural" order, for example ((0,1), (2,3)) for k=4. This is actually not guaranteed to hold by Zoltan and in fact LB_REMAP could permute the parts and "mess things up". There should be a safer API for applications to use, both in Zoltan and Zoltan2.

[2016-08-29 19:03] mndevec commented on #288
Mark, my push should fix the segfault. But the test is failing because it does not converge in the given number of iterations, which is also the case for the current sequential GS as well.

[2016-08-29 20:20] egboman commented on #583
I suppose the triangular solve codes might live in KokkosKernels or ShyLu, but used by Ifpack2?

[2016-08-29 21:17] kddevin opened #592 "Zoltan2: Better workaround for ParMETIS "features" needed"
ParMETIS fails when a processor has zero vertices.  To work around this "feature," Zoltan2 removes empty processors from the communicator passed to ParMETIS.  OK so far.

But ParMETIS' AdaptiveRepart method fails if it has only one processor in the communicator.  So if all the data are on one processor, AdaptiveRepart will fail.

In Zoltan, we scattered the graph in these cases; scattering allows

[2016-08-29 22:07] jwillenbring commented on #491
The 12.8 documentation has been generated, but I have not switched it to the default or added it to the list (which we shouldn't do until the release is ready).

[2016-08-29 22:11] mhoemmen commented on #288
@mndevec Thanks Mehmet!  I noticed that the segfault is gone; that's already a good step :-D  It looks like the residual norm is decreasing after multiple sweeps.

Would you mind writing the following test?  Take a test matrix (say, 2-D or 3-D Poisson), measure residual norm reduction with Jacobi over k sweeps (k >> 1), then measure residual norm reduction with your new algorithm over the same num

[2016-08-29 22:44] mhoemmen commented on #583
@egboman Main interface to local sparse triangular solves is in KokkosKernels.  I'm wrapping MKL's sparse TRSM right now.  Ifpack2::LocalSparseTriangularSolver just wraps the KokkosKernels interface.

[2016-08-30 13:27] spdomin opened #594 "Memory check failing for a Nalu application test"
I have a full-up production run now failing using the latest Trilinos version. This test reinitializes the linear solver each and evert tilmestep and, as usual, solves many systems over the simulation before it fails (repeatably) at step 490. A memory check of the test revealed the following suspect memory reports.

[code]

[2016-08-30 16:05] kddevin commented on #592
This issue is fixed as described above.

[2016-08-30 16:05] #592 closed

[2016-08-30 16:16] jmgate commented on #290
I can tackle this for Panzer and Drekar if you like.  I've just gotten everything build on my RHEL7 machine and am seeing about a fifth of our tests fail due to these compatibility issues.  It doesn't look like the necessary changes should be too bad.

[2016-08-30 16:19] MicheldeMessieres commented on #229
@bartlettroscoe
hi Ross - Just following up to see if we have any status update on this?

[2016-08-30 16:25] MicheldeMessieres commented on #480
@bmpersc
hi Brent - following up to see if there is any opinion on this matter? Seems we could do this by specifically checking the various mangle names or do the compile time check. Those options are both set up in a pull request. Thanks.

[2016-08-30 16:25] bmpersc commented on #536
Moved to jira

[2016-08-30 16:25] #536 closed

[2016-08-30 20:50] mhoemmen commented on #288
@mndevec just wrote the aforementioned unit test, that compares his multithreaded Gauss-Seidel against Jacobi.  I just added it to Ifpack2, and it passes.  We've pushed the changes.

Thus, the next step is to make sure that this new capability builds by default.  We should also add a test for complex matrices.

[2016-08-30 21:07] srajama1 commented on #288
We discussed this. This can be enabled to compile, it still will not be the default for now. It will be a runtime option. I need to better understand this new policy for "change in numerical behavior coming your way" to always enable it confidently.