[2021-09-29 17:54] ikalash commented on #9737
It is because the code doesn't know to adapt the time-step to be able to hit the final time?  By setting "Initial Time" to 0.1, this problem is avoided.

[2021-09-29 18:37] mhoemmen commented on #6089
@bartlettroscoe Trilinos' project management is no longer a thing I need to worry about, thankfully, but it would be nice if the autocloser applied a tag ("wontfix"? "automatically closed"?).

[2021-09-29 18:53] #8219 closed

[2021-09-29 19:01] ccober6 commented on #9166
@krcb so fixed a few things and the Dev Tempus Doxygen is working, but the Release Tempus Doxygen does not and will not until a new release of Trilinos is completed.

[2021-09-29 19:01] #9166 closed

[2021-09-29 19:14] etphipp commented on #9737
OK, there appear to be two things going wrong here.  The exception that is being thrown is because of this check failing in Tempus::SolutionHistory::findState() due to a small round-off error causing time < minTime():
[code]
That is easy enough to fix by adding a small fudge-factor.  However, there is a more fundamental problem in how Tempus handles the final time as @ikalash alluded to.  It appea

[2021-09-29 19:21] ikalash commented on #9737
Thanks @etphipp !

[2021-09-29 20:28] ccober6 commented on #9737
On the first issue of round-off error, yeah, I wondered if this was a problem.  I have been thinking about making use of some approximate equal, etc. functions to better handle this kind of case, especially after working on TimeEvents.

On the second issue of hitting the final time, initially Tempus's constant timestepping did exactly what you described above, i.e., constant timestep would be take

[2021-09-29 20:52] bartlettroscoe commented on #6089
@mhoemmen, that is a good suggestion.  I will pass that up the chain.

[2021-09-29 20:54] bartlettroscoe commented on #8306
@william76, it was suggested that it might be good to mark issues that are auto-closed with the label "wortfix" to make it clear that that is what this means.

[2021-09-29 23:49] etphipp commented on #9737
What if you just had an option as to whether to adjust the step-size to hit t_final?

[2021-09-30 12:54] rppawlo commented on #9737
I thought the option to hit a final time point exactly already existed

[2021-09-30 15:55] ccober6 commented on #9737
So TimeStepControlStrategy (TSCS) had two types: "Constant" and "Variable".  What currently differentiates them is "Constant" TSCS does not change the timestep ever, and "Variable" TSCS allows the timestep to change.  We do have "the option to hit the final time point exactly" in "Variable" TSCS because the timestep can be changed, but "Constant" TSCS does not because the timestep cannot be change

[2021-09-30 16:08] jewatkins commented on #6079
This is working now with the latest trilinos develop. In order to turn off CUDA_LAUNCH_BLOCKING for nightly testing, we need a better way to capture timing data for performance tests. How are you all approaching that? Are you adding fences within each timer region? kokkos-tools? It might be nice to have an option to fence all teuchos timers.

I could open another issue. Thanks all!

[2021-09-30 16:08] #6079 closed

[2021-09-30 16:15] jhux2 commented on #6079
@jewatkins Please do, this would be a good discussion to have.

[2021-09-30 17:59] jennloe commented on #6079
@jewatkins This is a good question; I will soon be running new performance tests for Belos.

[2021-09-30 18:09] jewatkins opened #9765 "Teuchos: Add option to barrier/fence timers"
## Question
@trilinos/teuchos

Teuchos timer regions can sometimes be misleading when an mpi rank has to wait for other ranks or `CUDA_LAUNCH_BLOCKING` is off and there's no `fence` to stop a rank from continuing. This is based on some runs I performed while looking at #6079. Is it possible to add an option to add barriers/fences within a timed region? There's probably multiple ways of implementin

[2021-09-30 18:38] jhux2 opened #9766 "MueLu: add communication data statitics to multigrid summary"
## Enhancement
@trilinos/muelu

Add min/max/avg number of neighbors communicated with (aka size of communication stencil) on each level

[2021-09-30 19:31] csiefer2 commented on #9765
If Kokkos profiling is enabled, Teuchos timers include Kokkos profile regions, which will fence.

[2021-09-30 19:53] ikalash opened #9767 "Tempus?: FPEs/slowdown in Albany tests using Tempus"
Several of our nightly tests in Albany and Albany/LCM are failing due to FPEs, I believe due to changes in Tempus.  Here is an example of the output:

[code]
This line in particular looks suspicious to me: ``` 1 *  (dt = 1.000e+99, new = 7.200e+03)  Resetting constant dt.```  It was not present in yesterday's tests (https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1566823&build=23270)

[2021-09-30 20:00] jewatkins commented on #9765
Perfect, that might be all I need to stop using `CUDA_LAUNCH_BLOCKING`. Any ideas for misleading timers when an mpi rank has to wait for other ranks? It makes it difficult to see which region has issues.

[2021-09-30 20:06] jewatkins commented on #9765
Also, is Kokkos profiling a runtime option?

[2021-09-30 20:24] etphipp commented on #9737
I would suggest option 1.  I would think users would expect even constant time stepping to adjust the time-step to hit t_final.

[2021-09-30 20:37] jhux2 commented on #9765
@jewatkins You could either look at min/max/avg, or if using stacked timers, the timer histogram.  Would that be sufficient for your needs?

[2021-09-30 20:47] ccober6 commented on #9737
I tend to agree.

I think the way we would want to handle output and TimeEvents for this, would be to take two partial time steps (one to go from the constant timestep to the output time, and a second to go from the output time back to the constant timestep interval).  That way after the output the simulation is back on the constant timestep interval.  Thoughts?

[2021-09-30 20:50] iyamazaki commented on #9765
If there are load-imbalance among MPI processes, I was wondering how that will show up.. We've seen load imbalance in compute (e.g., local SuperLU with an irregular mesh), but because we did not have `MPI_Barrier` before solve, the imbalance could also show up in solve (e.g., with GMRES's orthogonalization)?

[2021-09-30 21:18] jewatkins commented on #9765
@jhux2 that's usually what I do. If a particular timer region has an mpi barrier and I see the min is small but the average is large, than I assume (although probably not always true) that there's one or more ranks waiting for a rank to "catch up". As @iyamazaki mentioned, there might be a timer region with load imbalance but it's not clear which one it could be (or whether the imbalance is even c

[2021-09-30 21:46] etphipp commented on #9737
For intermediate time events, or even the final time, can you not just interpolate?

[2021-09-30 21:52] ccober6 commented on #9767
Hi @ikalash, so the 1.0e+99 is the default initial timestep and it was changed from 1.0 to 1.0e+99.  The default initial time is 0.0 and the default final time is 1.0e+99.  Previously with the default initial timestep set to 1.0 means you have 1e+99 timesteps by default, which caused some numerical problems.  With the initial default timestep set to 1.0e+99 means you have 1 timestep by default.

Y

[2021-09-30 22:02] ccober6 commented on #9737
Yeah, we could that also, so long as the user is comfortable with that (e.g., using the output for just viz).  The one exception, I can think of, would be for restarts.  Interpolated solutions might not satisfy some constraints, like mass/energy conservation.  So restarts might have trouble getting started, and would not likely match runs where restart was not used.

[2021-09-30 22:07] ccober6 commented on #9737
The other case were I do not think interpolation would work is when the SolutionHistory is limited to one SolutionState.  @etphipp, do you recall if the interpolation handles this case?

[2021-09-30 22:10] etphipp commented on #9737
I do not recall.

[2021-09-30 22:18] ccober6 commented on #9767
As far as the slowdowns, I can not think of anything that might cause it from the Tempus side.  I will test develop on my Mac since that is what I am most familiar with as for as runtimes, and see what they look like.

[2021-10-01 02:05] ikalash commented on #9737
Thanks @etphipp for the second fix.  Things work better now.  I did notice that for certain initial times in Albany I get now a new error:

[code]
I am not sure how likely this case is to come up in practice, so if you wanted to leave things as is until you figure out some of the things in the discussion above, I'm OK with this.

[2021-10-01 02:21] ccober6 commented on #9767
So I have done some clean builds before and after recent Tempus changes, and I get consistent times.  So I cannot point to anything on the Tempus side that might cause a slowdown.

[2021-10-01 03:11] ikalash commented on #9767
Thanks for checking about the slowdowns @ccober6 and sorry for not replying earlier - was in an all day workshop today.

The reason I think the slowdown is due to Tempus is b/c the output printed to screen having to do w/ dt changed.  The output now looks like this:
[code]
(https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1571429&build=23302)

Here is how it looks like before for the s

[2021-10-01 03:25] ccober6 commented on #9767
So I am reading this correctly that your dt changed from 1000.0 to 10.0, therefore you have 100x more output times?

[2021-10-01 03:28] ikalash commented on #9767
@ccober6 : yes, it looks like it.

[2021-10-01 03:34] ccober6 commented on #9767
Hmm... Can you post the Tempus parameterList?

[2021-10-01 03:58] ikalash commented on #9767
Thanks for the tip.  We are setting the initial time-step as follows in these runs: https://github.com/trilinos/Trilinos/blob/master/packages/piro/src/Piro_TempusSolver_Def.hpp#L585-L587 .  Why is this not enough?

[2021-10-01 04:01] ikalash commented on #9767
Here is the input file for the Thermal1D problem whose output you were looking at: https://github.com/sandialabs/Albany/blob/master/tests/small/Thermal1D/input.yaml .

[2021-10-01 15:21] sconde commented on #9767
Question: apart from it being slow, is the solution correct?

[2021-10-01 16:14] ikalash commented on #9767
@sconde : yes, it looks to be correct.  In the nightlies where the test does not timeout (e.g., non-debug builds), it passes.

[2021-10-01 16:17] jhux2 commented on #9659
@trilinos/rol

[2021-10-01 17:38] ccober6 commented on #9767
So the short answer is these lines are setting the initial timestep on the TimeStepControl, and not on the SolutionState (e.g., currentState).

TimeStepControl does not own any SolutionState, and only has one function that accesses the SolutionState through the SolutionHistory(i.e., setNextTimeStep()).

So during the construction/initialization of the SolutionState (i.e., setting the initial condi

[2021-10-01 21:18] ccober6 commented on #9767
On the slowdown question:

Yes, I believe it is due to too many output times (dt changed from 1000.0 to 10.0, therefore have 100x more output times).  If the yaml input has not changed (which I believe is the case), then I think **the behavior before** the recent Tempus changes was incorrect!  :(  But it is **working now** as expected.  :)

Given the yaml input (from https://github.com/sandialabs/

[2021-10-01 21:42] ikalash commented on #9767
@ccober6 : first about the FPEs.  You're right that for the test for which I pasted the output, initialSolutionHistory() was being called before Piro::TempusSolver::setInitTimeStep().  I'll take a look at that.  We have other tests that fail due to issues in Tempus_TimeEventRange_impl.hpp, it looks like (and this would happen if the initialSolutionHistory() and setInitialTimeStep() ordering were f

[2021-10-01 21:53] ikalash commented on #9767
@ccober6 : regarding the slowdown.  Oh ok I see!  I never paid attention to the 'Output Time Interval' value (I guess b/c it was not correct), so it did not occur to me to look at that.  (You are right that no changes to the Albany input files have been made).  I'll modify the input files - we don't need the output index set the way it is for these tests.

[2021-10-01 21:53] cgcgcg commented on #9766
Yay :-)

[2021-10-01 23:17] ccober6 commented on #9767
Hmm... let me take a look.  I think the parens are ok.  Can you post the output from

[code]

placed around Tempus_TimeEventRange_impl.hpp#L253?

[2021-10-02 03:31] ikalash commented on #9767
@ccober6 : absolutely.  Here is the output:

[code]

[2021-10-02 18:48] mhoemmen commented on #2518
begone autobot

[2021-10-04 08:16] mperrinel opened #9775 "MueLu: Zoltan - Constructor of MueLuGraphBaseAdapter"
## Question
@trilinos/@MueLu:MueLuGraphBaseAdapter>

I'm working on the code coverage of MueLu package and I saw that the code below (**MueLu_Zoltan2GraphAdapter.hpp**) is currently not cover by any test:

[code]
The condition nWeightsPerVertex_ > 0 is never met. I checked into the code and the only way to set nWeightsPerVertex_ is with the constructor:
[code]
As we can see, both nVtxWeights and n

[2021-10-04 09:10] mperrinel opened #9776 "MueLu: MueLu_AggregationPhase3Algorithm_def"
## Question
@trilinos/@muelu:MueLu_AggregationPhase3Algorithm_def>

I'm working on the code coverage of MueLu package and I saw that the code below (MueLu_AggregationPhase3Algorithm_def.hpp, l141) is currently not covered by any test:

[code]
This code represents a big block of code but that should never happens since the condition  if (failedToAggregate && makeNonAdjAggs) should never happen.  Bu

[2021-10-04 14:22] grover-trilinos commented on #9053
<html>

<body>

<h2>Test results for issue #9053 as of 2021-10-03</h2>

<p>
<font color="red">Tests with issue trackers Failed: twif=4</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="red">Tests with issue trackers Failed: twif=4</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Na

[2021-10-04 14:22] grover-trilinos commented on #8607
<html>

<body>

<h2>Test results for issue #8607 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=4</font><br>
<font color="red">Tests with issue trackers Failed: twif=2</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=4</font></h3>
<table style="wi

[2021-10-04 14:22] grover-trilinos commented on #8613
<html>

<body>

<h2>Test results for issue #8613 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=2</font><br>
<font color="red">Tests with issue trackers Failed: twif=2</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=2</font></h3>
<table style="wi

[2021-10-04 14:22] grover-trilinos commented on #6805
<html>

<body>

<h2>Test results for issue #6805 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=2</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=2</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Tes

[2021-10-04 14:22] grover-trilinos commented on #8492
<html>

<body>

<h2>Test results for issue #8492 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=3</font><br>
<font color="red">Tests with issue trackers Failed: twif=2</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=3</font></h3>
<table style="wi

[2021-10-04 14:22] grover-trilinos commented on #9742
<html>

<body>

<h2>Test results for issue #9742 as of 2021-10-03</h2>

<p>
<font color="red">Tests with issue trackers Failed: twif=5</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="red">Tests with issue trackers Failed: twif=5</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Na

[2021-10-04 14:22] grover-trilinos commented on #5006
<html>

<body>

<h2>Test results for issue #5006 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=1</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=1</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Tes

[2021-10-04 14:22] grover-trilinos commented on #9378
<html>

<body>

<h2>Test results for issue #9378 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=14</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=14</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>T

[2021-10-04 15:14] ccober6 commented on #9767
@ikalash Ok, this has forced me to start looking at testing with FPEs.  :)

[2021-10-04 15:19] ikalash commented on #9767
@ccober6 : will you fix the problem?

[2021-10-04 15:46] ccober6 commented on #9767
@ikalash Absolutely!  I already have a fix for this particular failure, but I am working on more general fix and testing.  Is this holding you up, as I may need a few days to get the final solution ready?

[2021-10-05 16:18] ikalash commented on #9767
I believe this is fixed, but this PR did not make it into the nightlies last night, so I wasn't able to verify there across all platforms.  I'll close this issue tomorrow if the nightlies are clean.

[2021-10-05 16:22] tasmith4 commented on #9615
@kddevin looks like #9769 has fixed it for us -- thanks!

[2021-10-05 16:25] jhux2 commented on #9765
@jewatkins Fwiw, MueLu has a runtime option to add barriers to its timers.

[2021-10-05 16:33] ccober6 commented on #9767
Hmm...  I think it will still fail the FPE (divide by zero).

[2021-10-05 17:16] jewatkins commented on #9765
Ah okay, I was thinking of a runtime option to just turn on timer fencing without having to build/use a kokkos profiling tool that will not be used. Victor suggested this already. I think I'm 0/2 so far on making this a thing :(

[2021-10-05 17:19] jewatkins commented on #9765
Very nice, I'll have to try that. If it's in Teuchos, maybe we can avoid having to do that for all packages?

[2021-10-05 17:36] rppawlo commented on #9765
@jewatkins - there are runtime functions you can call to set the profiler in kokkos to avoid having to export env variables. We do this in empire to set our own profiler tools. I can show you this after our meeting later today.

[2021-10-05 18:28] cgcgcg commented on #9765
There is also a `Teuchos::SyncTimeMonitor`. But I don't think there is a global option to swap that in for the regular time monitor.

[2021-10-05 20:50] #9643 closed

[2021-10-05 20:51] csiefer2 commented on #9519
Code finally merged to develop.

[2021-10-05 20:51] #9756 closed

[2021-10-05 22:36] Chrismarsh commented on #9519
Is this merged to trillinos develop?

[2021-10-06 12:24] #3131 closed

[2021-10-06 12:25] #3827 closed

[2021-10-06 14:19] jmbr commented on #7906
I had the same problem as @cook-1229 on Ubuntu 20.04.3 and got past that problem thanks to the `Trilinos_EXTRA_LINK_FLAGS`.

[2021-10-06 15:59] jhux2 commented on #6072
Closing, as this is very low priority.  Can reopen if necessary.

[2021-10-06 15:59] #6072 closed

[2021-10-06 22:30] #3346 closed

[2021-10-07 17:10] ccober6 opened #9785 "Tempus: Create Tempus Numerical Utilities"
## Bug Report
@trilinos/tempus

### Description
@ikalash noted in #9767 that Albany ran across a few FPEs when using Tempus::TimeEventRange.  To fix this in a general manner, we should add some numerical Utilities to help handle this.

[2021-10-07 17:43] keitat opened #9788 "Ifpack: Compile Time Error with ifpack-hypre interface"
## Bug Report
@trilinos/ifpack

### Description
After the change in the data type definitions in Hyper package at LLNL, we see compile time error at Ifpack's hype interface.   Ifpack is a 1st-gen package, and I believe that nobody is using this capability/interface.  Should we remove this or still change the source to support the new versions of Hypre?

### Steps to Reproduce
See https://github.co

[2021-10-07 18:19] cgcgcg commented on #9788
I think we can just comment out that particular call.

[2021-10-07 18:27] csiefer2 commented on #9788
Not in Trilinios, you can't.  We use that.

[2021-10-08 00:28] jhux2 commented on #9726
Two questions were posed at this week's Tpetra meeting:
1) Are all the cases in #9778 hit by a Tpetra unit test.

     The answer is "no".  ABSMAX is not reached.  All other cases are reached.
2) #9778 needs a unit test.

[2021-10-08 02:14] mayrmt commented on #3276
Time-out failure due to non-starting CUDA jobs: https://github.com/trilinos/Trilinos/pull/9793#issuecomment-938278923

[2021-10-08 15:51] #9442 closed

[2021-10-08 22:59] ZUUL42 opened #9795 "Xpetra_MultiVector_UnitTests_MPI_4 failing in Trilinos builds starting 2021-10-02"
CC: @trilinos/xpetra, @jhux2 (Trilinos: Data Services, Triage Contact: Jonathan Hu)

## Next Action Status

<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2021-10-01&end=2021-12-31&filtercount=6&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&

[2021-10-08 23:01] ikalash opened #9796 "Tpetra: recent PR is causing seg faults in Albany tests with clang compiler"
The following PR caused Albany tests on CEE with a clang compiler to break:
[code]
Specifically, the tests are seg-faulting, as can be seen here: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=23682 .

Here is a backtrace on the error from GDB:

[code]
It looks like the code is dying on this fillComplete() in Albany: https://github.com/sandialabs/Albany/blob/master/src/dis

[2021-10-08 23:02] jhux2 commented on #9796
@csiefer2

[2021-10-10 21:08] spdomin opened #9797 "Trilinos develop updates frozen?"
## Question
@trilinos

Greetings,

I see develop is stuck at the following SHA1:

1cb5bc6b9366977ecb143b7bcdcc5e1e94274f54

Just making sure that develop is still the correct branch for the most up-to-date developer changes against which I should test nightly.

best,

[2021-10-11 11:59] mayrmt commented on #7929
For blocked operators, we just pass them via

[code]

and the MueLu-internally use the `SubBlockAFactory` to extract individual blocks. Can't we follow a similar concept here as well? In detail:

- create the null space vectors for each block
- create a blocked-type multi vector that just collects all multi vectors from the individual blocks
- use a `SubBlockNullspaceFactory` (or `SubBlockVectorFa

[2021-10-11 14:55] grover-trilinos commented on #9053
<html>

<body>

<h2>Test results for issue #9053 as of 2021-10-03</h2>

<p>
<font color="red">Tests with issue trackers Failed: twif=4</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="red">Tests with issue trackers Failed: twif=4</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Na

[2021-10-11 14:55] grover-trilinos commented on #9742
<html>

<body>

<h2>Test results for issue #9742 as of 2021-10-03</h2>

<p>
<font color="red">Tests with issue trackers Failed: twif=5</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="red">Tests with issue trackers Failed: twif=5</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Test Na

[2021-10-11 14:55] grover-trilinos commented on #5006
<html>

<body>

<h2>Test results for issue #5006 as of 2021-10-03</h2>

<p>
<font color="green">Tests with issue trackers Passed: twip=1</font><br>
</p>

<details>

<summary><b>Detailed test results:</b> (click to expand)</b></summary>

<h3><font color="green">Tests with issue trackers Passed: twip=1</font></h3>
<table style="width:100%" boarder="1">

<tr>
<th>Site</th>
<th>Build Name</th>
<th>Tes

[2021-10-11 17:25] jhux2 commented on #9797
This is a question for the @trilinos/framework team.  PR testing was not working last week ....

[2021-10-11 17:37] jwillenbring commented on #9797
Yes, we are working to restore PR testing. This is the correct branch for your testing.

[2021-10-11 20:03] kddevin opened #9799 "Tpetra: finalize interface changes and enable deprecated warnings"
## Enhancement
@trilinos/tpetra

Several Tpetra interfaces changed due to removal of the UVM requirement from Tpetra.  To be user-friendly during Tpetra-stack conversion to the new interfaces, we suppressed the deprecation warnings.  @trilinos/tpetra will review the remaining interfaces and decide which need to be deprecated as well.  We will enable deprecation warnings as we go along.

- [x] Depr

[2021-10-12 10:35] 3rav opened #9802 "Trilinos and mingw (msys2)"
I was able to compile Trillions in the mingw environment but had to exclude a few packages, due to the fact that I compiled the new seacas separately, I excluded its packages.

`-DTrilinos_ENABLE_SEACAS=OFF and -DTrilinos_ENABLE_Zoltan=OFF`

Errors encountered:

1. With -GNinja:

[code]

after changing to "MSYS Makefile" problem no longer exists, but a ninja generator is recommended.

2. Error wit

[2021-10-12 13:57] #9785 closed, assigned to ccober6

[2021-10-12 17:50] csiefer2 opened #9803 "Tpetra: Deprecated code compilation issue"
MultiVector::modify() doesn't work any more.

Reported by @eric-c-cyr

[2021-10-12 18:38] mayrmt commented on #7929
@jhux2 That sounds like a much simpler, but totally sufficient approach! I just want to pass the nullspace "all at once" on the fine level and need some extraction mechanism. During coarsening, each block does take care of its nullspace independent form the other blocks (which is already part of MueLu).

I'll look into your idea a bit more, but it sounds promising and should help us to remove the

[2021-10-12 19:53] csiefer2 commented on #9803
Doesn't compile due to const issue.

Eric says the patched code fixes things.

[2021-10-12 21:15] japlews opened #9805 "MiniTensor: CUDA 11 issues many warnings about __host__ functions called from function marked __host__ __device__"
## Bug Report
@trilinos/MiniTensor

### Description
CUDA 11 issues many warnings:
`warning: calling a __host__ function("") from a __host__ __device__ function("") is not allowed`

### Steps to Reproduce
1. Build Trilinos with `Trilinos_ENABLE_MiniTensor=ON`, `Trilinos_ENABLE_TESTS=ON`, `Kokkos_ENABLE_CUDA=ON`

[2021-10-12 23:33] dridzal commented on #9659
Another note:  It may make sense to enforce the constraint as an equality constraint (clearly, this depends on the application).  This can sometimes result in faster convergence of the algorithm.  In other words, use addLinearConstraint and set it as an equality constraint.

[2021-10-12 23:49] Adrian-Diaz commented on #9659
The resulting design variables for that attempt were just all set to my lower bound constraint (which is 10% of the initial mass rather than 50% mass as desired).

[2021-10-13 06:24] Adrian-Diaz commented on #9659
Linear Constraints aside, I will need to be able to enforce the constraint limit with non-linear cases as well. How would I force it to comply with that?

[2021-10-13 09:02] mperrinel opened #9808 "Muelu: Inaccessible path on MueLu_CoalesceDropFactory_def.hpp"
## Question
@trilinos/@muelu:MueLu_CoalesceDropFactory_def.hpp>

I'm working on the code coverage of MueLu package and I think that one path is not accessible :
l526:
`  if (algo == "classical") { // l387
         if(classicalAlgo == defaultAlgo) { ...} // l485
         else { // l526
              /* Cut Algorithm */
              //CMS
              using DropTol = Details::DropTol<real_type,LO>

[2021-10-13 14:13] cgcgcg commented on #9808
Can't we have `algo=="classical"` from line 192, pass through line 272?

[2021-10-13 15:53] mperrinel commented on #9808
Indeed, you are right, that way, and with the combination of an **classical algo** different from the default one, we can reach this condition. Thanks ! Issue can be closed for me.

[2021-10-13 16:22] Adrian-Diaz commented on #9659
The output from problem->check:

  Check primal optimization space vector

********** Begin verification of linear algebra. *********************************************

Commutativity of addition. Consistency error: >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 0.000000000000e+00
Associativity of addition. Consistency error: >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 1.110223024625e-16
I

[2021-10-13 20:01] Adrian-Diaz commented on #9659
I figured out the issue was passing the design vector through to my FEM class. I was using a reference to the vector I passed to the problem but apparently that one is not always the right vector. That's doing a better job with the Augmented Lagrangian, check follows:

  ROL::Problem::finalize
    Problem Summary:
      Has Bound Constraint? .............. yes
      Has Equality Constraint? ......

[2021-10-13 20:27] dpkouri commented on #9659
The issue that you are seeing is that the vectors used in "check" are random.  This issue should not persist when running "solve".  You can always check the derivatives manually.  The ROL::Objective has functions called "checkGradient" and "checkHessVec".  Similar functions exist for the constraint.  In these functions, you are able to pass feasible vectors so that you bounds are satisfied.

On an

[2021-10-13 21:13] Adrian-Diaz commented on #9659
Yea the polyhedral solve still isn't working. I'll look into the strain energy gradient to make sure. Also, how can I force the Augmented Lagrangian solver to stop after a certain number of iterations?

[2021-10-13 21:33] dridzal commented on #9659
Yes.
________________________________
From: Adrian-Diaz ***@***.***>
Sent: Wednesday, October 13, 2021 15:24
To: trilinos/Trilinos ***@***.***>
Cc: Ridzal, Denis ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [trilinos/Trilinos] ROL: adding an inequality constraint (#9659)

Is it the one under "STATUS TEST SUBLIST" ?

—
You are receiving this because you were mentioned.
Reply to this e

[2021-10-14 18:44] Adrian-Diaz opened #9814 "Amesos2: Parallel Solve with Equilibration"
## Question
@trilinos/\<PackageName\>

Greetings,

Is there a way to tell Amesos2, or another Trilinos package that can do so before the solve, to equilibrate the system (lower the condition number) when solving with SuperLUDist? or any other of the parallel solver interfaces. Thanks for any info.

Adrian Diaz

[2021-10-14 20:42] #9803 closed, assigned to nobody

[2021-10-14 20:43] #8151 closed

[2021-10-14 22:05] jhux2 opened #9815 "Ifpack2: add unit tests to verify solver semantics"
## Enhancement
@trilinos/ifpack2
@csiefer2
@vbrunini

The semantics for Ifpack2 preconditioners are

- initialize()
- compute()

Current understanding is that `initialize` sets the matrix graph.  Afterwards, as long as the graph is unchanged, one should be able to call `compute` multiple times to update existing matrix entries.

If this is correct, we should add unit tests to the various Ifpack2 s

[2021-10-14 22:23] jhux2 commented on #9814
@trilinos/amesos2 @iyamazaki

[2021-10-14 22:40] #5923 closed

[2021-10-15 07:03] ndellingwood opened #9817 "Xpetra: Xpetra_MultiVector_UnitTests_MPI_4 test failing in Cuda and Serial builds"
## Bug Report
@trilinos/xpetra

### Description
The `Xpetra_MultiVector_UnitTests_MPI_4` unit test has failed for me cuda/10.1 builds on weaver (Power9+Volta70 archs) and Serial builds with intel/19 compilers on blake (SKX arch) with the following output snip:

**Failing subtests**
[code]

More detailed snip (weaver build):
[code]

I'm labeling as "bug" though this could be environment/module rela

[2021-10-15 15:40] jhux2 opened #9818 "PR autotesting reports time outs"
## Bug Report
@trilinos/framework

### Description
In at least some PR's, the tests are failing due to timeouts.

<img width="956" alt="Screen Shot 2021-10-15 at 8 39 12 AM" src="https://user-images.githubusercontent.com/12970120/137514975-f1b7ec66-0509-4507-8a8a-0b8921ab851c.png">

For example
  https://github.com/trilinos/Trilinos/pull/9811
  https://github.com/trilinos/Trilinos/pull/9683

[2021-10-15 18:10] jwillenbring commented on #9818
Jobs were not timing out properly. A bunch of hanging jobs were filing the queue. It is possible there is more going on here, but for the time being I have emptied hanging jobs out of the queue.

[2021-10-20 04:50] iyamazaki commented on #9814
I had to do something like:
[code]
`Equil` may help but may not solve all the accuracy issue.

I only enabled the matrix col & row scaling. SuperLU_Dist has another option that permutes the large nonzero entries to diagonal before scaling the matrix. I have not enabled this option for a couple of reasons, but we can also look into that..

[2021-10-20 05:40] iyamazaki commented on #9814
Yay @Adrian-Diaz. Let us know if you see any other issues. I can close this issue once [PR #9824](https://github.com/trilinos/Trilinos/pull/9824) get merged.

[2021-10-20 23:06] jhux2 opened #9835 "Zoltan2: performance of MJ versus RCB on GPUs"
## Question
@trilinos/zoltan2 @kddevin

I've noticed a difference in Zoltan2's time to compute a partition, depending on whether I use MJ or RCB.  This is in the context of rebalancing a matrix in MueLu inside of NaluWind.

The matrix to be repartitioned has 25.25e6 rows and 176.25e6 nonzeros on 64 MPI ranks (64 Summit GPUs), and the target is 7 partitions (so 7 MPI ranks).  For both RCB and MJ, t

[2021-10-21 16:30] jhux2 commented on #9835
@egboman These are [min, average, max, avg per timer call], as reported by Teuchos TimeMonitor summarize.

[2021-10-21 18:25] cgcgcg opened #9839 "Tpetra: Add optional diagonal to Operator"
## Question
@trilinos/tpetra @trilinos/ifpack2 @GrahamBenHarper

We would like to use some Ifpack2 smoothers (e.g. Jacobi, Chebyshev) in a matrix-free fashion.
Currently though, Ifpack2 requires input matrices to be of type `Tpetra::RowMatrix`.
These simple smoothers only require the diagonal of the operator though, so the row-matrix interface isn't really needed.
Instead of adding a new class `Tp

[2021-10-22 17:58] jwillenbring opened #9846 "Zoltan: Zoltan_ch_simple_zoltan_parall fails in CUDA release builds"
## Bug Report
@trilinos/zoltan

### Description

The following test failed for CUDA builds when I ran a release PR test:

Zoltan_ch_simple_zoltan_parallel
https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=10113541

The only changes to the repo were to update the Trilinos version number, and change to release instead of development mode.

https://github.com/trilinos/Trilinos/pull/984

[2021-10-22 18:12] #9796 closed, assigned to nobody

[2021-10-22 22:29] kddevin opened #9852 "Tpetra: Distributor claims to support Isend, Rsend, Ssend, but all Tpetra tests use Send"
## Bug Report
@trilinos/tpetra

### Description

Tpetra's Distributor takes parameters a "Send type" and "Barrier between receives and sends."   The default values are
[code]
No Tpetra tests exercise other available options (Send type = Isend, Rsend, Ssend).
No Trilinos methods explicitly set "Send type," although @trilinos/frosch allows users to pass through a value.

@trilinos/tpetra should eith

[2021-10-23 00:37] ikalash commented on #9852
I think @bartgol, @mperego or @jewatkins can best answer this for Albany.

[2021-10-25 16:50] kddevin opened #9856 "KokkosBlas: limited vector size in norm calculation?"
## Bug Report
@trilinos/tpetra

### Description
@jennloe  reports

I have this Trilinos (Belos + Tpetra) code which is crashing, and I don't understand why

[code]

And the output is:

[code]

At first glance, the problem appears to be a mismatch between the norms argument (on host) and the vector argument (on device)

### Steps to Reproduce
Reproduced with simple test program on ascicgpu with no

[2021-10-27 12:25] #3669 closed, assigned to nobody

[2021-10-27 19:45] searhein opened #9870 "Tpetra/Xpetra: CrsGraph::insertLocalIndices"
## Question
@trilinos/tpetra @trilinos/xpetra

I am currently working on some implementation in FROSch, and I wondering about the behavior of the method `insertLocalIndices` of `Xpetra::CrsGraph`. In particular, when I am running this code
[code]
on one MPI rank, I receive this output:
[code]

Now, it is not clear to me why the indices in the second row are both -1. I would have hoped to also get

[2021-10-28 15:32] #9870 closed, assigned to nobody

[2021-10-28 21:06] tkordenbrock opened #9879 "Panzer: improve edge/face block implementation for multiblock meshes"
## Enhancement
@trilinos/panzer

### Description

All entities in an edge/face block must have the same topology.  A mesh with multiple element blocks could have more than one edge/face topology.  In this case, multiple edge/face blocks are required.

[2021-10-28 21:47] ZUUL42 opened #9881 "Tempus_*_MPI_1 failing in Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.15_openmp_static_opt build starting 2021-10-15"
CC: @trilinos/tempus, @ccober6  (Trilinos Nonlinear Solvers / Discretizations Triage/ATDM Contact)

<Checklist>
<???: Once GitHub Issue is created, add entries for tests to TrilinosATDMStatus/*.csv files?>

## Next Action Status

<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2021-10-14&end=2022-1-1&filt

[2021-10-29 02:50] #9814 closed, assigned to nobody

[2021-10-29 14:35] #9846 closed, assigned to kddevin

[2021-10-29 22:13] kddevin opened #9884 "Tpetra: getNodePackedIndices may have returned unpacked indices"
## Bug Report
@trilinos/tpetra

### Description

As we removed UVM dependence from Tpetra, we saw that CrsGraph::getNodePackedIndices returned k_lclInds1D_, which was packed iff fillComplete was called with storageOptimized.   Thus, if not storageOptimized,  this function might return unpacked indices.  However, unpacked indices aren't useful without the number of entries in each row, so the funct

[2021-10-29 22:37] kddevin opened #9886 "Tpetra: FECrsGraph Unit Tests pass but output says some processor FAILED"
## Question
@trilinos/tpetra

FECrsGraph Unit Tests pass, but in their output, there are several instances of "FAILED on at least one process!"  See output below.

Should the tests pass despite the output, or are is the test passing by mistake?
- If the tests' passing is correct, the output be changed to something like, "FAILED on at least one process as expected."
- If the output about FAILED tes

[2021-10-29 22:39] tjfulle commented on #9886
Ya, that's weird.  I'm a big fan of tests that test expected failures, but I'm not sure this is the case.  I'll take a look

[2021-10-30 12:23] #5014 closed

[2021-10-30 12:23] #5031 closed

[2021-10-30 12:24] #5230 closed

[2021-10-30 12:24] #5233 closed

[2021-10-30 12:24] #5236 closed

[2021-10-30 12:24] #5250 closed

[2021-10-30 12:24] #5272 closed

[2021-10-30 12:24] #5284 closed

[2021-10-30 12:24] #5300 closed

[2021-10-30 12:24] #5303 closed

[2021-10-30 12:24] #5327 closed

[2021-10-30 12:24] #5338 closed

[2021-10-30 12:24] #5342 closed

[2021-10-30 12:24] #5345 closed

[2021-10-30 12:24] #5378 closed

[2021-10-30 13:24] mperrinel opened #9888 "Muelu: ANORM minimization mode raises an exception"
## Bug Report
@trilinos/@muelu:PgPFactory.cpp>

### Description
I'm working on the code coverage of MueLu package and I updated the PgPFactory test file to cover the different minimizationMode : L2NORM, DINVANORM and ANORM.
https://github.com/trilinos/Trilinos/pull/9832/commits/20ce5be8391c606a3c0c00380f3096357c9b0c15

Basically, the test is the same at it was before, except that it takes now the

[2021-10-30 21:43] mayrmt commented on #9197
@jhux2 Thanks for following up on this!

I'll leave this issue open, until I have tried that process. Then, I'll close.

[2021-10-31 05:28] Adrian-Diaz commented on #9659
This is what I got from the objective gradient check function for x = 1 and d = -0.00001 for all entries respectively:

Step size           grad'*dir           FD approx           abs error
           ---------           ---------           ---------           ---------
   1.00000000000e+00   3.63636000000e-07   3.63645076532e-07   9.07653187385e-12
   1.00000000000e-01   3.63636000000e-07   4.000

[2021-10-31 10:32] ztdepztdep opened #9889 "How to solve Ax=b iterativelly with azetoo on each mesh block."
I  am developing a flow solve based on a multiblock mesh system. I need to solve Ax=b iteratively on each mesh block separately( I have total of 9 mesh blocks and  each block corresponds to 1 cpu ).  I have successfully resolved this by solving Ax=b with KLU direct solver.  But the Aztecoo solver can not run separately on each cpu, it must run parallelly with 9 cpus together.
  Could you please gi

[2021-10-31 12:24] #5386 closed

[2021-10-31 12:24] #5411 closed

[2021-10-31 12:24] #5412 closed

[2021-10-31 12:24] #5446 closed

[2021-10-31 12:24] #5463 closed

[2021-10-31 12:24] #5464 closed

[2021-10-31 12:24] #5472 closed

[2021-10-31 12:24] #5506 closed

[2021-10-31 12:24] #5513 closed

[2021-10-31 12:24] #5530 closed

[2021-10-31 12:24] #5535 closed

[2021-10-31 12:24] #5537 closed

[2021-10-31 12:24] #5552 closed

[2021-10-31 12:24] #5599 closed

[2021-11-01 16:26] kddevin commented on #9884
Fixed by #9885

[2021-11-01 16:26] #9884 closed

[2021-11-01 17:23] ccober6 commented on #9889
@trilinos/aztecoo

[2021-11-02 10:59] ztdepztdep opened #9893 "how to resolve this problem? what did i missed."
[code]

[2021-11-02 16:31] jhux2 commented on #9893
You'll need to provide more information:

1. SHA1:  [insert here]
1. Configure script:  [attach here]
1. Configure log:  [attach here]
1. Build log:  [attach here]

[2021-11-02 18:07] Adrian-Diaz commented on #9659
On another note, I've noticed ROL seems to hang near the end of my solves (the design iterations look like they're about to finish since nothing is perceptibly changing). I put a bunch of prints to determine that all of the constraint and objective implementations are completing on all MPI ranks; it seems something in the ROL algorithm is not exiting gracefully or still looping. I've noticed this

[2021-11-02 18:15] dridzal commented on #9659
@Adrian-Diaz is this with projections?

[2021-11-02 18:24] Adrian-Diaz commented on #9659
The hanging issue is with the augmented Lagrangian run. It tends to converge to a design every time such as attached but it won't exit the run.
![image](https://user-images.githubusercontent.com/46537160/139922726-a8623032-88b2-429d-83db-d1a64804ade5.png)

[2021-11-02 18:30] dridzal commented on #9659
ROL displays a message with the final status (converged, etc.).  Do you see this message?

[2021-11-02 18:35] Adrian-Diaz commented on #9659
No there's no finalization, its still looping in the algorithm somewhere.

[2021-11-02 18:41] dridzal commented on #9659
Please try increasing the level of output to 4.  This should give you more info about the inner iterations.

[2021-11-02 18:44] Adrian-Diaz commented on #9659
I'll give that a try.

[2021-11-02 20:34] Adrian-Diaz commented on #9659
This is the last thing it printed before getting stuck

![image](https://user-images.githubusercontent.com/46537160/139947780-8d452ec8-b39f-49ed-b44e-a54c0a1c74c6.png)

[2021-11-02 21:16] dridzal commented on #9659
Is this a parallel run?  If so, is there a serial version exhibiting the same behavior?  I should note that ROL is MPI-agnostic, so a discrepancy between the results in the serial and parallel settings could provide a clue to the issue.

[2021-11-03 04:42] Adrian-Diaz commented on #9659
This case finished in serial with step tolerance met.

[2021-11-03 12:25] #686 closed

[2021-11-03 12:25] #5619 closed

[2021-11-03 12:25] #5635 closed

[2021-11-03 12:25] #5649 closed

[2021-11-03 12:25] #5663 closed

[2021-11-03 12:25] #5700 closed

[2021-11-03 12:25] #5753 closed

[2021-11-03 12:25] #5773 closed

[2021-11-03 12:25] #5804 closed

[2021-11-03 12:25] #5808 closed

[2021-11-03 12:25] #5819 closed

[2021-11-03 12:25] #5827 closed

[2021-11-03 15:49] jhux2 commented on #5625
Reopening until verified as fixed.

[2021-11-03 15:50] jhux2 commented on #5838
Reopening until verified as fixed.

[2021-11-03 22:26] Adrian-Diaz commented on #9659
I ran another case in serial and this one got stuck with the following being the last print:
![image](https://user-images.githubusercontent.com/46537160/140204506-c75cafe4-1e52-4097-8ab3-bf5d6136924b.png)

[2021-11-04 16:30] Adrian-Diaz commented on #9659
Is there an example of changing the algorithm that the Solver object uses from augmented lagrangian to something that preserves constraints better? Preferably through the parameter list.

[2021-11-04 16:53] bartlettroscoe commented on #3276
@trilinos/framework

FYI: The PR #9894 is experience random build errors due to OOM compiler crashes for the Intel and GCC builds.   It looks like someone will need to turn down the parallel build levels for those parallel builds.

NOTE: With a little work, the build stats could likely show you the targets being built at the time when these OOM errors are occurring.  See https://github.com/trilino

[2021-11-04 18:08] bartlettroscoe commented on #7376
CC: @jjellio, @jwillenbring

So I have a Trilinos PR #9894 that is stuck in loop of failed builds due to the compiler crashing running out of memory.  Following on from the discussion [above](https://github.com/trilinos/Trilinos/issues/7376#issuecomment-880635674), it occurred to me that if you store the beginning and end time stamps for each targets in the `*.timing` file, then the `summarize_bui

[2021-11-04 20:01] bartlettroscoe commented on #3276
CC: @trilinos/framework, @jhux2

FYI: It looks like the OOM build crashes impacted PR #9851 as well as shown in [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2021-09-01&end=2021-11-04&filtercount=3&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildname&compare2=63&value2=intel&field3=builderrors&compare3=43&value3=0).  T

[2021-11-04 21:15] dridzal commented on #9659
@Adrian-Diaz we don't have another type of algorithm that deals with general inequality constraints.  They will be penalized, and therefore there will always be some violation, even at the optimal solution.  Is your constraint linear or nonlinear?  If it is linear, it would be important to get the projection algorithm to work.  The projection will enforce the linear constraint very accurately.

As

[2021-11-05 02:56] Adrian-Diaz commented on #9659
In general I'll have to use non-linear constraints such as center of mass calculation. As for the gradients, I'll need to see if the check is actually updating my deformation vector properly (I figured it was since the first step test has to call it twice). Not sure what else could be possible since otherwise the first entry of the check with d = -1e-6 should be the same as the second entry of the

[2021-11-05 18:06] dridzal commented on #9659
Why are you using a vector d with such small entries?  The spirit of the check is that it reduces the size of the (total) vector added to x.  The vector d should be random with entries that are comparable in size to the entries of x.  This should be fairly easy to implement, even if you have physical constraints on x (see my previous comment).  Please remind me, are you using ROL's update() method

[2021-11-05 22:33] ZUUL42 commented on #9712
I just submitted a Deprecated Code Off PR, #9905. It's aimed at GCC 8.3.0, but we could do similar things with the Cuda UVM Off build. It should help the effort. I just re-found this Issue after filing that PR.

As far as a Trilinos wide `Trilinos_[HIDE/ENABLE]_DEPRECATED_CODE [ON/OFF]` option, without getting into how to add such an option, something with a similar effect I was looking at in the

[2021-11-06 00:17] Adrian-Diaz commented on #9659
I tried that because I suspected after several reviews that the check function was just bugged in its default behavior. I printed the design vectors now to make sure. As an example if I feed it d=-0.1 the first call to my value functions has a vector of x=0.9 as expected. Afterwards the vectors are 0.89, 0.889. and 0.8889 rather than 0.99, 0.999, 0.9999 as expected for an attempt to converge the f

[2021-11-06 03:57] dridzal commented on #9659
Derivative checks are used all the time.  I haven't seen bugs yet.  Consider this piece of checkGradient code:

[code]
The clone operation is supposed to allocate new memory for the xnew vector, based on the original x vector.  In other words, this is not a shallow copy.  Then, the values of xnew are **_reset_** to the values of the original vector x for every finite difference step.  In other wor

[2021-11-06 04:03] Adrian-Diaz commented on #9659
The value I printed was immediately after the value function. I fed the x vector of 1 to the check function and nothing in my code changes the design vector. Has it been thoroughly tested with the TpetraMultivector?

[2021-11-06 07:55] Adrian-Diaz commented on #9659
Yea that was definitely the issue, separating it into a design and test multivector for the FEM code has the gradient error profile making sense now.

[2021-11-06 12:24] #5885 closed

[2021-11-06 12:24] #5906 closed

[2021-11-06 12:24] #5939 closed

[2021-11-06 12:24] #5986 closed

[2021-11-06 12:24] #5999 closed

[2021-11-06 12:24] #6023 closed

[2021-11-06 12:24] #6026 closed

[2021-11-06 12:24] #6053 closed

[2021-11-06 12:24] #6124 closed

[2021-11-06 16:21] dridzal commented on #9659
Sounds good.  By looking at the const-ness of the arguments in the ROL interfaces, you can easily tell which vectors are changed directly by ROL.  This is true of most (likely all) Trilinos solver packages.  We do not make a deep copy of the x vector.  We operate directly on it.  This is by design (and it is good design, for many reasons).  Now that you've addressed this key piece, I encourage you

[2021-11-06 18:15] Nidish96 opened #9907 "Where Can I find Older Versions of Trilinos?"
I would like to install an older version of trilinos in a cluster. Specifically, I'm interested in the 12.0 or 12.2 version(s). I am unable to find this; I would appreciate any assistance, thank you!

Nidish

[2021-11-07 01:02] Adrian-Diaz commented on #9659
Thanks for the references. Seems like the polyhedral projection with lin-more is doing something now, however when I print the mass constraint its settling around 40 % rather than the 20% I wanted.
![image](https://user-images.githubusercontent.com/46537160/140628422-b30ab94d-0265-4bfb-97b7-f06a5a49d287.png)

[2021-11-07 01:30] dridzal commented on #9659
If you formulate the linear constraint as an equality constraint, the polyhedral projection should be nearly exact, and it should be enforced at every iteration (there is no "settling").

[2021-11-07 19:08] srajama1 commented on #6237
Ping so this is not closed.

[2021-11-07 19:09] srajama1 commented on #6237
I believe we tracked this down enough to summarize the finding and properly close it than auto close it.

[2021-11-07 20:23] mhoemmen commented on #6395
begone autobot

[2021-11-08 03:13] ccober6 commented on #9907
@trilinos/framework

[2021-11-08 16:48] kddevin opened #9909 "Zoltan2: New test failures, possibly due to recent Kokkos upgrade"
## Bug Report
@trilinos/zoltan2 @trilinos/kokkos @ndellingwood

### Description
Zoltan2 tests on the ascicgpu machines with UVM=ON used to pass.  Around the time of the Kokkos upgrade (https://github.com/trilinos/Trilinos/pull/9836) they began to fail.
https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2021-10-25&end=2021-11-07&filtercount=1&showfilters=1&field1=site&compare1=63&val

[2021-11-08 17:29] jhux2 commented on #6210
Closing as won't fix.

[2021-11-08 17:29] #6210 closed

[2021-11-08 17:34] jhux2 commented on #9907
@william76 Would you be able to answer this?

[2021-11-09 13:25] #9879 closed

[2021-11-09 16:43] glhenni opened #9913 "Panzer: commit has increased run time by approx. 2.5x on problem using epetra"
## Bug Report
@trilinos/Panzer

### Description
For the most part the charon team has moved to tpetra but we have a few tests that, due to convergence behavior, still use epetra. Because it's a small set it took a while to notice but @LawrenceCMusson was running a problem for analysts and noticed that the most recent version of charon was considerably slower than an older version he was using. I l

[2021-11-09 17:12] rppawlo commented on #9913
That commit really can't be reverted in trilinos proper. It was needed keep the epetra tests running in CUDA builds where UVM is disabled. Even though epetra doesn't know a thing about cuda, the scatter data comes from a kokkos view that is in cuda space if cuda node is enabled. Looks like some of the loops were reordered to allow for allocations of host views and deep copies of the data. I'll see

[2021-11-09 17:46] dridzal commented on #9913
@rppawlo :  We use both Tpetra and Epetra stacks in the (𝔽𝔼𝕄)³ app.  The Epetra stack is currently the only option for large-scale optimization, because the required Panzer Tpetra block objects are not yet available.  I believe there is an ASC task to implement these ... maybe this performance loss could elevate the block object task in priority?

[2021-11-09 18:13] rppawlo commented on #9913
@glhenni  - short term, you should be able to revert that commit in the local charon fork. The panzer tests won't pass for no-uvm cuda builds but I don't think that is a high priority for charon at this point?

@dridzal - I can't find an issue on the trilinos jira planning site. Can you point me to the issue? I believe this was getting the Tangent assembly type to work for blocked tpetra gather/sc

[2021-11-09 18:25] dridzal commented on #9913
It's 'Enable support for Tpetra block operators with different domains and ranges', issue 175.  The error we are getting is

`panzer::cloneWithNewRangeAndDomain: Blocked Tpetra LOF does not yet support different range and domain indexers!
`

however it looks like this was re-assigned from Panzer to Tpetra.  I'm not sure where the missing functionality belongs.  I thought this was Panzer.  It's def

[2021-11-10 03:41] ndellingwood commented on #9909
@kddevin thanks for the adding me on the issue. I reproduced the zoltan2 failures on a kokkos-dev testing machine (SKX + Volta70) with sems modules. We run a nightly Cuda build on Power9+Volta70 (Trilinos+Kokkos develop branches) where the reported tests pass consistently. To tease out other differences between the failing build posted via the cdash link and our nightly build, we also have a diffe

[2021-11-10 04:50] Adrian-Diaz opened #9915 "MueLu: 3D Linear Elasticity Example"
## Question
@trilinos/\<MueLu\>

Greetings,

Is there an example in the current package repository set up to solve Ax=b, where A results from the FEA discretization of 3D Linear Elasticity, that I could study? Thanks for any help rendered on the matter

Adrian

[2021-11-10 04:56] cgcgcg commented on #9915
Have a look at the Galeri package. It comes with the Elasticity3D example. The problem can be built directly from some of the MueLu drivers, e.g. `muelu/tests/scaling/MueLu_Driver.exe`.

[2021-11-10 05:16] Adrian-Diaz commented on #9915
Thanks for the prompt reply. I'll take a look at that.

[2021-11-10 06:41] NjJu1 commented on #9487
@glhenni Thanks very much for your reply. In fact, currently I am not following this. I could not remember well whether I have tried this strategy, but in the end I failed to install Trilinos. I would return to this when I need to use tcad-charon again.
Thanks anyway!

[2021-11-10 06:41] #9487 closed

[2021-11-10 13:31] rppawlo commented on #6446
This was fixed over a year ago. closing.

[2021-11-10 13:31] #6446 closed

[2021-11-10 16:01] mhoemmen commented on #6490
begone autobot

[2021-11-10 17:49] cgcgcg opened #9916 "Framework: Autotester broken?"
## Bug Report
@trilinos/framework

### Description
As far as I can tell, the autotester has not run at all in the last day. There are PRs that are ready for testing, e.g. #9914.

[2021-11-10 18:10] jwillenbring commented on #9916
@cgcgcg Thanks for bringing this to our attention. I can see something is badly broken. We will report back when we know more.

[2021-11-10 22:59] jwillenbring commented on #9916
@cgcgcg we have identified the likely issue. When the authentication service comes back online, we will evaluate if the issue is resolved, or if we need to look at rebooting the cloud resources.

[2021-11-11 17:35] jhux2 commented on #6483
That issue is focused on unit testing.  The intent of this issue is more system level tests that exercise XML input decks with explicit factory dependency chains that don't use the simple ML-like syntax.

[2021-11-11 18:38] jhux2 commented on #9916
@jwillenbring This is a somewhat separate question, but there are 14 PR's open for merge-to-master.   I was wondering if there was duplication, so I looked at the oldest and newest (#9804 and #9906), and see the same commits in both.  Does 9906 include 9804, or is that just an artifact of how github displays the information?

[2021-11-11 20:26] MarDiehl opened #9921 "trilinos: release fine tuning"
## Enhancement
I have two small suggestions for the release:
* would it be possible to offer a lite version of the tarball (just code, no examples etc)?
* the name of the tarball (`trilinos-release-13-2-0.tar.gz`) and the folder therein (`Trilinos-trilinos-release-13-2-0`) is different and follows no commonly used scheme. Would it be possible to unify to `trilinos-13.2.0`/`trilinos-13.2.0.tar.gz`?

[2021-11-11 21:34] kaiserls opened #9922 "Thyra: How to pre and postprocess linear equation system in the framework using a preconditioner"
## Question
@trilinos/\<Thyra\>
@searhein

### What are you trying to accomplish?
I am trying to adapt a linear equation system Ax=b before solving the system with the Thyra/Stratimikos framework. The information/routines needed to adapt the system are however contained in the preconditioner which is hidden in the solver.
At the moment the preconditioner is constructed by the solver which in turn

[2021-11-11 22:27] cgcgcg commented on #9922
This is what we're doing in a MueLu example:
https://github.com/trilinos/Trilinos/blob/5a67b70fb3816e1cea26554c650b4dc7ca26747d/packages/muelu/example/basic/Stratimikos.cpp#L234-L251
Is that what you need?

[2021-11-11 22:31] cgcgcg commented on #9921
@trilinos/framework

[2021-11-11 23:30] kddevin commented on #9909
Thanks @ndellingwood

The problem was a change in the semantics of Kokkos::sort (https://github.com/kokkos/kokkos/issues/4526) which appears to be fixed by Kokkos https://github.com/kokkos/kokkos/pull/4490 .  I'll need to wait until there is a fix in Trilinos' version to verify.  Meanwhile, there is a Zoltan2 workaround in #9924.  I will not merge the workaround if the Kokkos fix can be patched in

[2021-11-12 16:16] kaiserls commented on #9922
Thank your very much for the fast answer. This is indeed a great step forward in comparison with my approach.
Do you see any possibility to hide this behavior in a customLinearOpWithSolveFactory and customLinearOperatorWithSolve interface which is passed to the linearSolverBuilder? I failed to find a solution which doesn't bring the need to propagate a new interface, let's call it "linearOpWithSol

[2021-11-12 17:23] cgcgcg commented on #9922
I'm not sure I understand what you need. You can get the preconditioner, and cast it to a FROSch operator. Is the question now if it is possible to do the pre/post steps in the solve call?

[2021-11-12 17:26] kaiserls commented on #9922
Exactly.

[2021-11-12 17:34] cgcgcg commented on #9922
No, I don't think so. I guess you have to define your own Stratimikos solver for that. There might be a way to do it using Teko and define it as a product. Also, some of the Belos solvers have an option to define a nullspace that needs to be projected out, in case that's what you're doing.

[2021-11-12 19:17] jhux2 commented on #9916
@william76 closed all but one of the Merge-to-master PRs.  Thanks, @william76!

[2021-11-12 22:31] Adrian-Diaz commented on #9915
After copying the way they implement the nullspace and coords vectors the solver seems to be working well up to a point. While it works for poisson ratios such as 0.1 for some reason whenever I set Poisson ratios that are too high (the highest I've tried is 0.3 such as for steel) I get the following convergence failure from Belos:

![image](https://user-images.githubusercontent.com/46537160/141554

[2021-11-12 23:02] lukebroskop opened #9926 "PackageName: General Summary of the Bug"
## Bug Report
@trilinos/panzer

### Description
I'm trying to compile the develop branch with HIP support (MiniEM). Compilation is failing, as per the error below.

### Steps to Reproduce
ROCm4.5
CrayPE

configure:
[code]

Fails with:

[code]

[2021-11-13 19:35] srajama1 commented on #6639
This should not be closed.

@jwillenbring @vqd8a : I believe this is still relevant.

Adelus is used by our production applications. It should be tested in PR builds and other builds (dev-> master), etc.

[2021-11-13 19:35] srajama1 commented on #6639
I removed the MARKED_FOR_CLOSURE label. I am guessing that is the correct process.

[2021-11-13 19:38] srajama1 commented on #6616
I believe this has to be fixed, or marked deprectated or since it is experimental just removed for better long term maintenance of Ifpack2.

[2021-11-14 00:52] mhoemmen commented on #6493
lol begone autobot

[2021-11-14 07:13] iyamazaki commented on #9420
I am going to close this, but please let us know if you still have any issues. Thank you, @Adrian-Diaz.

[2021-11-14 07:13] #9420 closed

[2021-11-14 19:06] searhein commented on #9922
@cgcgcg Thank you for your help and suggestions. This already helps us a lot to get started.
Ultimately, @kaiserls and I were hoping for a non-intrusive solution, i.e., some option that could be easily changed within the parameter list, of course, without re-coding all the Stratimikos solver interfaces. Somehow, it would be nice to have the option of performing pre and post processing steps for an

[2021-11-15 11:36] hajgato opened #9931 "xpetra: undefined references"
## Question
@trilinos/xpetra

When I am trying to compile Trilinos 13.0.1 I get a couple of undefined references at linking `Xpetra_MatrixMatrix_UnitTests.exe`
[code]

my config line is:
[code]

[2021-11-15 15:21] cgcgcg commented on #9915
This is a failure in CG. I have seen this before when either the matrix or the preconditioner is singular, or has a negative eigenvalue.

[2021-11-15 16:16] Adrian-Diaz commented on #9915
That's strange, the system in question should always have a non-singular solution. It definitely works with a direct solver. At first when using the "simple" parameter the solver would fail for my initial Topology optimization iteration (where it was all just homogeneous material at a certain poisson ratio). Afterwards I applied the  "Elasticity3D" parameter file with number of equations set to 1

[2021-11-15 16:23] cgcgcg commented on #9915
You could try using a different smoother, e.g. Gauss-Seidel. TBH, I don't know if you need to adjust things like the Chebyshev eigenvalue ration wrt Poisson ratio.

[2021-11-15 16:57] dridzal commented on #9915
@Adrian-Diaz , I have seen this error in several contexts, including linear elasticity and the curl-curl equations of electromagnetics.  In the context of linear elasticity, we were doing topology optimization and the filter we used ("Helmholtz filter") was making some densities negative.  So, just to be sure, do you get this error in the simple context of solving the 'forward' elasticity equation

[2021-11-15 17:00] cgcgcg commented on #9915
We can dump matrices at the end of the multigrid setup call, so that should work here.

[2021-11-15 17:11] Adrian-Diaz commented on #9915
The case with the relaxation smoothening in the "simple" parameter setup was throwing up the convergence error for the default beam with solid material (so far tested with 10k nodes as smallest system). The Chebyshev smoothening in the other param file was able to solve the initial block and for several iterations. Its possible the preconditioning step is having trouble with my epsilon density of

[2021-11-15 17:16] cgcgcg commented on #9915
You can add
[code]
to your input XML file. That should write out the matrix as `A0.mtx`

[2021-11-15 17:20] jhux2 commented on #9931
@hajgato Could you please check whether the configure option ` -DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON` is active in your `CMakeCache.txt`?  If not, please add it to your configure line, remove `CMakeCache.txt` and `CMakeFiles` from the build directory, and recompile to see if that fixes the problem.

[2021-11-15 17:27] dridzal commented on #9915
In the "simple" case with the solid material, you're just using the Jacobi smoother.  My guess is that this should not give you an indefinite preconditioner.  This may point to a bug somewhere.  In the second case, with optimization, I would inspect the material properties _right before_ the system is reassembled.

[2021-11-15 18:15] rppawlo commented on #9926
The underlying trilinos packages have not been ported to the HIP backend yet. There is work currently underway to port, Phalanx, Intrepid2, Sacado and Panzer. The deliverable for MiniEM running on HIP backend is the end of March although we hope to have it done sooner than that.

[2021-11-15 20:02] jhux2 opened #9932 "Framework: autotester jobs are failing with timeout message"
## Bug Report
@trilinos/framework

### Description
Jobs in autotesting are failing with timeout messages:

[code]

See for example #9927.

[2021-11-15 20:06] jhux2 commented on #9932
@jwillenbring @ZUUL42 @prwolfe @william76

[2021-11-15 20:24] Adrian-Diaz commented on #9915
[Matrix_output.zip](https://github.com/trilinos/Trilinos/files/7541424/Matrix_output.zip)
So far this matrix with 10k nodes is the smallest failing case I've found when using poisson = 0.3 and the jacobi smoother. It solves with the direct solver or Chebyshev smoothing. Also so far the entire TO process works if I set poisson = 0. I'll try a few more meshing cases that are smaller to see if that c

[2021-11-15 21:05] cgcgcg commented on #9915
@Adrian-Diaz What damping are you using when running with Jacobi? Have you computed the spectrum of your operator?

[2021-11-15 21:11] hajgato commented on #9931
@jhux2 Thanks, that solved this problem. However, another undefined reference popped up linking `PanzerDiscFE_check_bc_consistency.exe`

[code]

[2021-11-15 21:21] jhux2 commented on #9932
Submitted JIRA ticket TRILINOSHD-52.

[2021-11-15 21:31] jhux2 commented on #9931
Hmm, I'm not sure about that one.  Maybe one of the @trilinos/panzer developers could chime in.

[2021-11-15 21:36] hajgato commented on #9931
should I open another issue?

[2021-11-15 21:37] jhux2 commented on #9931
@hajgato No, that shouldn't be necessary.

[2021-11-15 21:41] Adrian-Diaz commented on #9915
The damping in the file is set to 0.8. Is there a command to compute the spectrum that way?

[2021-11-15 21:43] cgcgcg commented on #9915
It's a small matrix, I'd use SciPy..

[2021-11-15 21:44] cgcgcg commented on #9915
NVM, try setting the damping to 0.3. Does that fix things?

[2021-11-15 21:45] Adrian-Diaz commented on #9915
Yea setting it to 0.3 lets it solve.

[2021-11-15 21:47] cgcgcg commented on #9915
Ok, that makes sense. I find a spectral radius of D^-1 A of 0.309. Before, when the damping was 0.8, the preconditioner was indefinite.

[2021-11-15 22:00] Adrian-Diaz commented on #9915
So is the Jacobi smoothening more robust as long as the damping constant is lower than that condition?

[2021-11-16 00:16] jhux2 commented on #9932
Response from framework:

"We're hitting a limit on the number of computes on this system. I see that the cuda projects are timing out and the queue has 5 jobs pending:
[snip]
It will take some time for the queue to drain."

[2021-11-16 06:44] Adrian-Diaz commented on #9915
Seems like Jacobi is working now for all the TO iterations. I do want to figure out the chebyshev parameters though since that one seems considerably faster, any ideas with that? I tried lowering and raising the "ratio eigenvalue" parameter for that but it still failed through the TO process. Is there a set of conditions for that related to the spectral radius?
![image](https://user-images.githubu

[2021-11-16 13:22] rppawlo commented on #9931
I've not seen that one before. Did you wipe the build directory when you switched to explicit instantiation? ETI, autogenerates header files and maybe the build is picking up a no-eti version somehow?

[2021-11-16 15:19] cgcgcg commented on #9915
In the "smoother: params", try setting
[code]
This will definitely slow down the preconditioner setup, but helps in cases where we struggle to find a good estimate for the upper bound of the spectrum. If that doesn't work, try increasing the ratio to 50.

[2021-11-16 16:04] hajgato commented on #9931
@rppawlo I am using EasyBuild, and as a matter of fact it was a completely new install starting from scratch.

[2021-11-16 19:56] Adrian-Diaz commented on #9915
Seems like increasing max iterations to 100 did the trick. Gauss Siedel is also working with the 0.3 damping constant.

[2021-11-16 21:27] nrsharan opened #9936 "[Best Practice] Compiling on Windows, with fortran enabled"
## Question

I am trying to install the below mentioned packages to work on windows. What is the best toolchain to use?
I currently have MSVS 2019 and Intel oneAPI (C/C++, Fortran compilers) installed. I presume using MSVS will prevent me from enabling Fortran, is this the case?

I tried using the Cmake GUI configured with Intel compilers and Ninja, but enabling Fortran throws the following error

[2021-11-16 21:39] hajgato commented on #9931
[relevant.txt](https://github.com/trilinos/Trilinos/files/7549995/relevant.txt)
I tried to attach the relevant part of the output.
If I use nm on the .so file, I see an undefined `getIntegrationRuleIndex`:
[code]

[2021-11-16 22:31] csiefer2 opened #9937 "Tpetra: FECrs Example Bug"
We made some mistakes in the WDV conversion.

[2021-11-16 22:52] shardest opened #9939 "Tpetra segfault"
## Bug Report
@trilinos/tpetra

The attached program, written by Brian Stevens and Payton Lindsay, results in a segfault if built in debug mode with clang-12. With gcc-7.2, it runs as expected.

The code was built in Sierra, using whatever version of Trilinos is currently there. I don't know how to find the SHA, but the tarball for spack is dated 10/25/2021, i.e., this is probably still an issue o

[2021-11-16 22:54] shardest commented on #9939
@kddevin - this is the question Brian Stevens sent to you via e-mail. I just put it in github to help out.

[2021-11-17 00:04] jhux2 commented on #9936
@nrsharan I suggest that you search the github issues for advice that Windows users have posted.  As far as I know, there are no nightly tests to cover Windows builds on the Trilinos dashboard.

[2021-11-17 00:13] humhang opened #9940 "Trilinos: Why isn't OpenMP appended to Trilinos_TPL_LIBRARIES even if Trilinos is built with OpenMP?"
## Question
@trilinos

My code uses Epetra and AztecOO. Recently I tried to compile my code in a system with Trilinos pre-installed, and I got a linking error because OpenMP was not linked against.

My code itself does not use OpenMP, so I didn't include OpenMP explicitly in its CMakeLists.txt.

I think it is because Trilinos was compiled with OpenMP. In this scenarios, why isn't OpenMP appended t

[2021-11-17 17:49] jewatkins opened #9943 "MueLu: "use kokkos refactor" requirement for kokkos openmp/cuda build"
## Question
@trilinos/muelu

For MueLu, is the input parameter "use kokkos refactor" a requirement for kokkos openmp/cuda builds? If it is, is there reason it's a runtime parameter rather then a build time parameter? Is the functionality the same with/without?

@mperego recently added a test in Albany that uses muelu and it's currently failing openmp/cuda nightly builds:
[code]
If the functionalit

[2021-11-17 17:58] cgcgcg commented on #9943
We have legacy and kokkos-enabled factories. "use kokkos refactor" switches the default between for any factory that is not explicitly named in the input deck. You can run on OpenMP/CUDA with "use kokkos refactor"=false, but that obviously doesn't take advantage of any on-node parallelism. In your test, I am assuming you were using the extended input deck?

[2021-11-17 18:17] jewatkins commented on #9943
Yes, and nothing explicitly uses the kokkos factories: https://github.com/sandialabs/Albany/blob/master/tests/small/LandIce/FO_GIS/input_fo_humboldt_muelu.yaml#L474

I think what you mentioned is fine for now. We still need more work on the full on-node parallelism path for muelu (mainly replacing the block smoother). I'll try adding `use kokkos refactor: false`.

[2021-11-17 18:20] cgcgcg commented on #9943
Yep, we set the default value of "use kokkos refactor"=true on OpenMP/CUDA. If some factory is needed and not found in the input deck, it will be picked as a Kokkos factory, unless you explicitly set "use kokkos refactor"=false.

[2021-11-17 19:25] blsteve opened #9944 "CrsMatrix->getLocalRowView() slow in debug builds."
Possibly related to issue #9939. If it is, the relation is not obvious.
I'm trying to diagnose an issue where some Sierra/SD trivially small models are unusually slow on debug builds of the code, preventing some tests from completing on our nightly dashboard.

Profiling traced the slowdown to a Teuchos::CrsMatrix->getLocalRowView() call from within a matrix multiply operation.
I'm attaching a unit

[2021-11-17 21:08] #9160 closed

[2021-11-17 23:20] cgcgcg commented on #9944
@trilinos/tpetra

[2021-11-18 10:22] 3rav commented on #9802
For current develop branch I successfully compiled trilinos with give me 58 static .a libraries, with this flags:
[code]

**error before Trilinos_ENABLE_Moertel=OFF:**
[code]

**error before Trilinos_ENABLE_Piro=OFF:**
[code]

Can you release 13.2.1 based on develop branch, for this version (compared to 13.2.0), much more libraries are compiled 5 vs 58?

[2021-11-18 18:57] jhux2 commented on #9802
@3rav Thanks for the information.  What SHA is this?  @jwillenbring

[2021-11-19 05:54] mayrmt commented on #3276
PR #9941 is stuck in a single autotester run for more than 30 hours now. Is there still a chance, that the attester will finish that run, or does this run need to be cancelled and restarted?

[2021-11-19 19:38] mperrinel opened #9957 "MueLu: CoalesceDropFactory vs CoalesceDropFactory_kokkos"
## Bug Report
@trilinos/@muelu:CoalesceDropFactory.cpp>

### Description
CoalesceDropFactory has a parameter "aggregation: greedy Dirichlet" but that is not the case for CoalesceDropFactory_kokkos.
For the kokkos version, we need to use the "aggregation: preserve Dirichlet points" parameter of UncoupledAggregationFactory_kokkos.

[2021-11-19 19:44] psakievich opened #9959 "MueLu: Fails to compile c++17 due to std::ptr_fun"
## Bug Report
@trilinos/MueLu

### Description
MueLu is not compiling with apple-clang when I turn on c++17.
[code]

### Steps to reproduce
Compile MueLu from the develop branch with clang/apple-clang and c++17

[2021-11-19 21:04] GrahamBenHarper commented on #9959
Thank you for pointing this out @psakievich. It looks like `ptr_fun` was deprecated in C++11, and we probably need to replace it with a lambda as part of the collective efforts to eventually update all Trilinos packages from the C++14 standard to the C++17 standard. Are you able to build with C++14 instead?

[2021-11-19 21:10] psakievich commented on #9959
I'm testing out moving nalu-wind to c++17 right now. Our production builds are all c++14.  I'll put in a PR for this later today. I've already fixed it locally with a lambda. Just seeing what else pops up right now.  Interestingly I was able to build this just fine with GCC and GCC+cuda using nvcc_wrapper.

[2021-11-19 21:17] GrahamBenHarper commented on #9959
Oh I understand now. I'll keep an eye out for the PR, but there's no promise it'll get merged in a timely fashion since the autotester has been down for a bit. Thank you for looking into this!

[2021-11-19 21:18] psakievich commented on #9959
No problem. I'll just create a patch for my work once I get through the build process then. Thanks!

[2021-11-19 21:21] GrahamBenHarper commented on #9916
Tagging #3276 for posterity...

Any updates @jwillenbring?

[2021-11-19 21:54] jhux2 commented on #3276
@mayrmt No PRs have been getting through, unfortunately.  The Framework team is working on fixing the problems.

[2021-11-19 22:04] jhux2 commented on #9957
@pohm01

[2021-11-19 23:11] pohm01 commented on #9957
I'm not sure I fully understand. The parameter "aggregation: greedy Dirichlet" and "aggregation: preserve Dirichlet points" do different things. The "aggregation: preserve Dirichlet points" dictates how Dirichlet points are treated for aggregation, where as "aggregation: greedy Dirichlet" is for which nodes are to be considered Dirichlet.

I can look into adding an "aggregation: greedy Dirichlet"

[2021-11-21 18:27] mhoemmen commented on #6837
begone autobot

[2021-11-22 03:11] jhux2 commented on #6837
Closing, since no response from OP.

[2021-11-22 03:11] #6837 closed

[2021-11-22 16:23] Adrian-Diaz opened #9963 "Kokkos: Compile Error"
## Question
@trilinos/\<kokkos\>

Greetings,
[cmake_configure_superlu_parallel.txt](https://github.com/trilinos/Trilinos/files/7582703/cmake_configure_superlu_parallel.txt)

Lately I tried compiling Trilinos from scratch and for some reason I started getting this error when using the attached cmake configure and make -j4 install:

![image](https://user-images.githubusercontent.com/46537160/1428976

[2021-11-22 18:10] cgcgcg commented on #9963
It might be quicker to open an issue on https://github.com/kokkos/kokkos.

[2021-11-23 16:09] tjfulle commented on #9638
@bartgol - are you good with the solution in #9811?  If so, I'll close this issue.

[2021-11-23 16:18] bartlettroscoe commented on #3276
CC: @ndellingwood, @rppawlo

@trilinos/framework, @fryeguy52,

It looks like the CUDA build on 'weaver' is experiencing random build errors for large Trilinos builds displaying error messages like:

[code]

See the discussion in PR #9894 starting with https://github.com/trilinos/Trilinos/pull/9894#issuecomment-976002538.

What is suggested by @rppawlo is to us a different TMPDIR.  Given these PR b

[2021-11-23 16:58] bartgol commented on #9638
Yes, that's fine. Thank you!

[2021-11-23 18:35] bartlettroscoe commented on #3276
FYI: The @trilinos/framework team just announced that they are reducing the concurrent number of PRs run on 'weaver' from 4 to 2.  Hopefully that will avoid the random build errors mentioned [above](https://github.com/trilinos/Trilinos/issues/3276#issuecomment-976792417).  But that will also delay the running of PRs waiting in the queue.  We will see how bad this over the next week or so.

[2021-11-24 16:22] mhoemmen commented on #6844
lol begone autobot

[2021-11-24 18:05] tjfulle commented on #9939
@shardest - I refactored the test as a Teuchos unit test and configured Trilinos as follows:

[code]

Using the clang compilers shipped with apple I don't see a segfault.  I'll try with the latest SEMs clang compiler on rhel7

[2021-11-24 19:04] tjfulle commented on #9939
@shardest @kddevin - using the configuration above and the `sierra-compiler/clang/12.0` compiler, the test below passes:

[code]

is there something I am missing to be able to reproduce the segfault?

[2021-11-26 07:46] ikalash opened #9972 "STK: Albany configure errors due to missing targets"
We're getting failures in our nightly tests for Albany due to missing targets in STK:

[code]
https://sems-cdash-son.sandia.gov/cdash/build/25764/configure

Is this due to recent changes to Trilinos?

[2021-11-26 07:57] mayrmt commented on #9197
I've seen the label `AT: PRE-TEST INSPECTED` in action quite some times, so let's close this issue. Thanks to @trilinos/framework for setting this up!

[2021-11-26 16:13] spdomin opened #9973 "Nalu configure issues due to Kokkos or SEACAS?"
## Bug Report
@trilinos/kokkos

This looks new:

find: './CMakeFiles': No such file or directory
   Trilinos_DIR = /home/spdomin/gitHubWork/scratch_build/install/gcc8.4.0/Trilinos_nightly_release
-- Enabled Kokkos devices: SERIAL
CMake Warning at /home/spdomin/gitHubWork/scratch_build/install/gcc8.4.0/Trilinos_nightly_release/lib/cmake/Kokkos/KokkosConfig.cmake:176 (MESSAGE):
  The installed Kokko

[2021-11-26 16:51] JacobDomagala commented on #8492
I've spent some time trying to fix this issue, but no luck so far. I've tried to fence all potential race conditions in `nox/src-loca/src-tpetra` but the failure still occurs.

Few notes:
- It only fails on either OpenMP or CUDA build (you can see the history using [this](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2020-05-01&end=2021-11-26&filtercount=4&showfilters=1&fi

[2021-11-28 13:55] slavakung opened #9975 "Trilinos: Cmake Error"
Apologies if this has been answered somewhere, I have looked.

I tried performing the standard initial cmake, after updating to the current version, by calling:

cmake \
-DCMAKE_C_COMPILER=/usr/bin/cmake \
-DCMAKE_CXX_COMPILER=/usr/bin/cmake \
-DCMAKE_Fortran_COMPILER=/usr/bin/gfortran \
-DTrilinos_ENABLE_ALL_PACKAGES=ON \
-DCMAKE_INSTALL_PREFIX=Trilexec \
Documents/Trilinos/Trilinos-master

and I

[2021-11-28 17:06] cgcgcg commented on #9975
That's because CMake isn't a compiler. It obviously depends on your system, but if you have the GNU compilers, you can set `gcc` and `g++`. Or you skip these lines
[code]
CMake might be able to autodetect your compilers.

[2021-11-29 14:38] spdomin commented on #9973
@alanw0 - does this look familiar to you?

@wjhorne - could you try a bisect (assuming Greg or Alan don't know what happened here).

[2021-11-29 15:02] gsjaardema commented on #9973
I don't know what would cause this.  I do know that @bartlettroscoe has been doing some CMake modifications to modernize or use more CMake features.  Not sure if this is related to that...

[2021-11-29 15:05] alanw0 commented on #9973
I'm not sure what this could be, but Irina Tezaur lodged a ticket also, so something happened. I'll figure out when the last stk update was and which files were touched.

[2021-11-29 15:06] spdomin commented on #9973
Good to know. We are using:

cmake version 3.17.0

I don't think that Irina's ticket is related, however, something definitely changed before the min-break.

[2021-11-29 15:20] alanw0 commented on #9973
As far as I can tell the last stk change in trilinos was Nov 5: https://github.com/trilinos/Trilinos/pull/9896

[2021-11-29 15:22] bartlettroscoe commented on #9973
This may be related to the merge of PR #9894.  That PR should maintain 100% backward compatibility but there may be some use cases that have not been addressed and some of the custom `FindTPL<tplName>.cmake` files may need to be tweaked as per:

* https://tribits.org/doc/TribitsUsersGuide.html#how-to-use-find-package-for-a-tribits-tpl

@spdomin, how can I reproduce these configure errors?  You can

[2021-11-29 15:25] alanw0 commented on #9972
Hi Irina, the last stk update in Trilinos was Nov 5: #9896 Stefan Domino is seeing a cmake issue also for nalu, I'll keep you posted if I figure out anything.

[2021-11-29 15:26] bartlettroscoe commented on #9972
This may be related to the merge of PR #9894.

@ikalash, is there some way that I can reproduce this?

[2021-11-29 15:35] spdomin commented on #9972
These missing targets all seem related to the above PR #9894. However, the discussion on that PR was really long.

Can we revert this commit, or do we want to make sure that we have a clear bisect first?

[2021-11-29 15:51] spdomin commented on #9972
@bartlettroscoe, above sounds like a great approach. Let me know when the change is reverted and I can launch a re-test. Let me know offline if you have any issues with the Nalu build process (or add a Nalu issue - your choice). I would work for a gcc 8.4 open-mpi 4.0.5 build. It should be clear sailing.

[2021-11-29 17:39] ikalash commented on #9972
I'm happy to retest Albany manually as well - just let me know.

[2021-11-29 19:41] bartlettroscoe commented on #9972
FYI: I posted the revert of PR #9894 in the new PR #9977.  I just need someone to approve that PR so that it can merge.  Hopefully the PR can pass testing fast and merge (but I don't have any control over that).

@ikalash, can you point me to detailed instructions on how to reproduce this failure with Albany + Trilinos?

[2021-11-29 19:42] bartlettroscoe commented on #9973
FYI: I posted the revert of PR #9894 in the new PR #9977.  I just need someone to approve that PR so that it can merge.  Hopefully the PR can pass testing fast and merge (but I don't have any control over that).

[2021-11-29 19:44] ikalash commented on #9972
@bartlettroscoe : great!  I can approve if you add me as a reviewer.  Yes, I can provide instructions for Albany.  What is your machine of choice?  CEE?  Blake?

[2021-11-29 19:46] bartlettroscoe commented on #9972
@ikalash, basic CEE RHEL7 machines would be best for me.

[2021-11-29 19:58] ikalash commented on #9972
Here are instructions for CEE:
- Load CEE modules: https://github.com/sandialabs/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/sems-intel-modules.sh
- Build Trilinos using the following configure script: https://github.com/sandialabs/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/do-cmake-trilinos-mpi-sems-intel .  It is important to do make and make install.
- Clone Alb

[2021-11-30 15:24] spdomin commented on #9973
Nalu's nightly build and test process is now clean.

@bartlettroscoe, Thank you for the revert. If you have something to test, let me know and I can clone your forked version of Trilinos with your desired changes.

[2021-11-30 17:19] bartlettroscoe commented on #9973
@spdomin, Thanks, I will get back to you as part of development and testing of PR #9978.

[2021-11-30 18:57] brian-kelley commented on #9856
@kddevin @jennloe FYI  kokkos/kokkos-kernels#1204 will take care of this. You can have any number of vectors, and for most of the BLAS-1 functions (dot, norms other than nrminf, sum) you'll get a ~3x speedup on Cuda compared to before.

[2021-11-30 19:09] searhein opened #9979 "Belos: Speeding up the GMRES time?"
## Question
@trilinos/belos

We (@mayrmt and I) have performed some scalability studies for Belos GMRES with a one-level Schwarz preconditioner from FROSch. In particular, we used the following Belos parameters:

[code]

For a test with 4096 MPI ranks (= processors), we have seen the following timings:

[code]

Now, we were very surprised that the orthogonalization of GMRES takes significantly lon

[2021-11-30 19:18] cgcgcg commented on #9979
Have you tried shorter restart length? I believe the default might be 100?

[2021-11-30 19:32] dridzal commented on #9979
Try adding `<Parameter name="Num Blocks" type="int" value="40"/>`.  This may increase the total number of iterations, but it should decrease the orthogonalization time significantly, assuming 100 is the default like @cgcgcg stated.

[2021-11-30 19:40] #9973 closed

[2021-11-30 20:51] jhux2 commented on #9856
@iyamazaki

[2021-11-30 22:39] srajama1 commented on #9979
@jennloe We should change the default to 40. This problem shows up once every couple of years.

[2021-11-30 23:14] hkthorn commented on #9979
It should be noted that the min and max timings for many components of the orthogonalization indicate either an imbalance in the distribution of the linear problem or issues with the communication on the machine.  If core linear algebra functions are this imbalanced in their performance, orthogonalization will always be an issue.  Changing the size of the Krylov subspace won't entirely negate that

[2021-12-01 01:08] jennloe commented on #9979
@hkthorn Are you okay with changing the GMRES restart length default?

[2021-12-01 01:12] jennloe commented on #9979
@cgcgcg is correct that the load imbalance in `Belos::MVT::MvTimesMatAddMv` is concerning.  I presume this is all using Tpetra?

[2021-12-01 01:58] Adrian-Diaz commented on #9963
Seems like reinstalling my compiler and libs avoided this.

[2021-12-01 01:58] #9963 closed

[2021-12-01 03:22] kddevin commented on #9909
Fix works; Zoltan2 tests are now passing.  Thanks, @ndellingwood

[2021-12-01 03:22] #9909 closed

[2021-12-01 03:26] #9364 closed

[2021-12-01 09:32] searhein commented on #9979
Thank you for the suggestions. Of course, I was aware of the fact that the orthogonalization in GMRES gets increasingly expensive with larger iteration counts. However, I often use GMRES and I had never seen any results where GMRES took even closely as much time as the preconditioner.

Therefore, I just ran another test where I limited the iteration count to 50:
[code]

Now, the preconditioner and

[2021-12-01 12:26] #2269 closed

[2021-12-01 14:14] tjfulle commented on #9886
Closed by #9965

[2021-12-01 14:14] #9886 closed

[2021-12-01 14:15] #9638 closed

[2021-12-01 14:54] jennloe commented on #9979
@searhein Would you mind sharing your test script with me?  I'd like to see if I can replicate these timings and dig into some pieces more closely.  I am in the process of setting up some Belos performance testing, so we could add something like this to the test queue to monitor it.

[2021-12-01 15:05] #9975 closed

[2021-12-01 15:34] dridzal commented on #9979
@jennloe @searhein  The timer reports

`Belos: ICGS[2]: Ortho (Norm): 0.553457 - 8.86206% [51] {min=0.0353885, max=1.43686, std dev=0.362917}`

I believe this is timing the norm computation for a single vector.  Regardless of the algorithm, the 40x imbalance is very concerning.  Are the parallel maps set up correctly?  @searhein , to help figure this out, could you try CG?

[2021-12-01 15:53] searhein commented on #9979
@jennloe Not the whole code that I ran is pushed to Trilinos yet. But I think that the issue can also be reproduced with code that is already a test case in FROSch. I will double-check and post some instructions on how to reproduce this (in case it is not just an issue of the machine I am using). It would be great if you could take a closer look at this. Thank you!

@dridzal The matrix and map are

[2021-12-01 17:01] cgcgcg commented on #9979
My recommendation would be to add a bunch of MPI barriers to the different timers. Load imbalance shows up at global synchronization points, but that might not be where it is created.

[2021-12-01 17:30] searhein commented on #9979
@cgcgcg I agree on that. In this case however, since the min and max timers are very similar for `Belos: ICGS[2]: Orthogonalization` as well as `Belos: Operation Prec*x`, my first thought was that the timers may actually be correct. However, you may be right, and I will add some barriers to be sure.

[2021-12-01 17:39] kddevin commented on #9500
Appears to be a bug in Zoltan2's TpetraCrsColorer's symmetrization of the matrix before coloring.  I'm on it.

[2021-12-01 17:45] kliegeois commented on #9500
Thanks a lot!

[2021-12-01 17:49] mperego commented on #9500
Thanks @kddevin !

[2021-12-01 19:06] cgcgcg commented on #9959
@psakievich Is this resolved?

[2021-12-01 19:07] psakievich commented on #9959
Yes it is. I'm closing it now.

[2021-12-01 19:07] #9959 closed

[2021-12-01 19:11] cgcgcg commented on #9943
@jewatkins Can we close this, or is there something that needs fixing?

[2021-12-01 19:15] jewatkins commented on #9943
This is fixed and the functionality makes sense, thanks!

[2021-12-01 19:15] #9943 closed

[2021-12-01 19:16] cgcgcg commented on #9940
Are building like in this example?
https://github.com/trilinos/Trilinos/tree/master/demos/simpleBuildAgainstTrilinos

I don't think we consider OpenMP as a TPL, so maybe the link flag for OpenMP gets appended to one of the other variables?

[2021-12-01 19:18] #9715 closed

[2021-12-01 19:19] cgcgcg commented on #9915
@Adrian-Diaz Can we close this issue, or are there outstanding problems?

[2021-12-01 19:29] ikalash commented on #9972
The revert resolved this - closing.

[2021-12-01 19:31] Adrian-Diaz commented on #9915
Things seem fine so far. Closing.

[2021-12-01 19:31] #9915 closed

[2021-12-01 19:34] cgcgcg commented on #8813
Closing as fixed. Please reopen if necessary.

[2021-12-01 19:34] #8813 closed

[2021-12-01 19:35] cgcgcg commented on #9893
No reply. Closing.

[2021-12-01 19:35] #9893 closed

[2021-12-01 19:36] cgcgcg commented on #9788
Should be fixed. Please reopen if this is still an issue.

[2021-12-01 19:36] #9788 closed

[2021-12-01 23:31] jhux2 commented on #9957
@pohm01 I think @mperrinel is asking whether it's possible to get the option `aggregation: greedy Dirichlet` option for CoalesceDropFactory_kokkos.

[2021-12-02 00:01] humhang commented on #9940
Yes, I would be able to compile this example. It seems that -fopenmp is appended to Trilinos_CXX_COMPILER_FLAGS altogether with optimizations flags like -march=core-avx2 -O3, etc, and this example uses Trilinos_CXX_COMPILER_FLAGS as compiler flags.

[2021-12-02 00:16] cgcgcg commented on #9940
So this solves your issue then, correct? We can close?

[2021-12-02 00:36] bartlettroscoe commented on #9972
Reopening so we can track the reproduction of the errors here that will be fixed as part of PR #9978 ...

Hello @ikalash, I was not able to reproduce on a CEE RHEL7 machine.  The configure of Trilinos fails.  It can't find BLAS.

Specifically, what CEE machines do you use to do these builds as per [above](https://github.com/trilinos/Trilinos/issues/9972#issuecomment-981967711)?

----
After setting

[2021-12-02 00:45] ikalash commented on #9972
Weird about blas.  I wonder if the paths are different on some of the compute nodes.  Can you please try cee-compute020?  That's where our CEE intel nightly build runs.

[2021-12-02 01:06] bartlettroscoe commented on #9972
Pretty much every other CEE RHEL7 machine seems to have libblas.  Seems they just broke my one machine the last time they upgraded it I guess.  (For some reason, BLAS and LAPACK are not part of the standard upgrades to systems.)

I have got the configure of Trilinos to pass so now I am on my way ...

[2021-12-02 11:54] bartlettroscoe commented on #9972
@ikalash, I have been able to reproduce the Albany configure error:

[code]

with details below.

I will get the bottom of what is happening.  Thanks!

<details>

<summary><b>Reproduction Details</b></summary>

.

I am trying this again on my CEE EWS machine 'ews00232' after copying the [above](https://github.com/trilinos/Trilinos/issues/9972#issuecomment-984184716) git repos:

[code]

That produc

[2021-12-02 12:08] ztdepztdep opened #9983 "Amesos: how to solve symmetric AX=b with KLU."
In my Ax=b sysem, A is symetry, could you please give me some infors about how to use the symetry advantage with Amesos KLU or lapack.

[2021-12-02 23:29] bartlettroscoe commented on #9973
FYI: I have reproduced the bug with a native TriBITS test and this is the same bug impacting #9972.  This happens when `-DTrilinos_ENABLE_ALL_OPTIONAL_PACKAGES=OFF` and subpackages get enabled by not the parent package, in this case, `SEACAS` (and with Albany, STK). You can see these options from [do-configTrilinos_release](https://github.com/NaluCFD/Nalu/blob/master/build/do-configTrilinos_releas

[2021-12-03 01:12] jhux2 commented on #9983
@trilinos/amesos

[2021-12-04 02:08] cgcgcg opened #9988 "MueLu: Test failure in MueLu Utilities_kokkos"
## Bug Report
@trilinos/muelu

### Description
https://testing.sandia.gov/cdash/test/106653409?graph=status

MueLu_UnitTestsTpetra_kokkos_MPI_4 seems to fail on some systems since #9683 got merged.

@JacobDomagala

[2021-12-06 04:15] xiaoyeli commented on #6892
Did amesos2 update the superlu_dist interface to the latest version?

[2021-12-06 19:09] jhux2 commented on #6892
Fyi, Trilinos will have a minor release very soon, so it's an opportune time to deprecate interfaces.

[2021-12-06 20:15] ccober6 commented on #9881
@ZUUL42 is this still a problem.  I think the above merge should have fixed it.

[2021-12-06 20:54] ZUUL42 commented on #9881
@ccober6, the [CDash query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2021-10-14&end=2022-1-1&filtercount=6&showfilters=1&filtercombine=and&field1=groupname&compare1=62&value1=Experimental&field2=buildname&compare2=65&value2=Trilinos-atdm-ats1-knl_intel-19.0.4_mpich-7.7.15_openmp_static_opt&field3=testname&compare3=65&value3=Tempus_&field4=testname&compare4=66&value4=_

[2021-12-06 20:54] #9881 closed

[2021-12-06 22:34] cgcgcg commented on #9940
Seems to be resolved.

[2021-12-06 22:34] #9940 closed

[2021-12-07 01:14] srajama1 commented on #6892
@ndellingwood is going to have some Amesos2 focused time after Kokkos release.

[2021-12-07 20:52] #9852 closed

[2021-12-07 23:11] csiefer2 opened #9994 "Tpetra: Remove use of Deprecated Kokkos Code"
Yes.  That.

We should also probably test with deprecated Kokkos functionality disabled too.

[2021-12-08 12:26] #5942 closed

[2021-12-08 12:26] #6134 closed

[2021-12-08 12:26] #6135 closed

[2021-12-08 12:27] #6154 closed

[2021-12-08 12:27] #6155 closed

[2021-12-08 12:27] #6221 closed

[2021-12-08 12:27] #6229 closed

[2021-12-08 12:27] #6278 closed

[2021-12-08 12:27] #6290 closed

[2021-12-08 12:27] #6312 closed

[2021-12-08 12:27] #6317 closed

[2021-12-08 12:27] #6329 closed

[2021-12-08 12:27] #6339 closed

[2021-12-08 12:27] #6346 closed

[2021-12-08 12:27] #6355 closed

[2021-12-08 16:35] bartlettroscoe commented on #9972
FYI: The runtime MPI error looks identical to #6075

[2021-12-08 17:12] spdomin commented on #9972
Does Nalu look clean?

[2021-12-08 18:10] bartlettroscoe commented on #9972
@ikalash, to be more specific ...

Do you have a simple setup to support configuration, building, and installation of Trilinos for Albany locally, running the native Trilinos tests for the enabled packages used by Albany, and then configuring, building, and testing Albany against that local Trilinos install?

This should be just a few commands like for Trilinos that looks something like:

[code]

[2021-12-08 19:45] japlews opened #9997 "Intrepid2: shadow warnings related to ExecutionSpace typedefs"
Several using declarations in function scope shadow base class member using declarations, and need to be made consistent to avoid warnings/errors in GCC 8+ builds.

[2021-12-09 00:03] rohany commented on #6493
@mhoemmen can you point me to code / examples for this, or anything related? I'd like to read a matrix market file once and dump it into a binary format for faster loading into tpetra.

[2021-12-09 00:18] cgcgcg commented on #6493
@rohany For reading a matrix, either as binary or in MatrixMarket format, have a look here:
https://github.com/trilinos/Trilinos/blob/d1004dda768fbe7052ee748007f46c7b279e0b43/packages/xpetra/sup/Utils/Xpetra_IO.hpp#L514-L527
There also is a converted script from MatrixMarket to binary:
https://github.com/trilinos/Trilinos/blob/d1004dda768fbe7052ee748007f46c7b279e0b43/packages/muelu/utils/matrix/as

[2021-12-09 00:32] rohany commented on #6493
Thanks for the quick response! A few questions:

* I'm hoping to use a released version of Trilinos (i.e. 13.2 or something). Is there a path forward for me here?
* My application right now is mostly using TPetra (I'm very new to the trilinos ecosystem). How can I make those data structures work here?
* Can the TPetra loader understand files generated by that script? Or only this XPetra loader?
*

[2021-12-09 00:38] cgcgcg commented on #6493
- We are planning for a minor release early next year. That release would include those changes.
- Xpetra is a wrapper that can handle both old (Epetra) and new (Tpetra) linear algebra backends using a common interface. The code above will give you an Xpetra CrsMatrix, but you can then get the Tpetra operator out of it.
- No, this was only implemented for Xpetra. So you will have to enable the Xpe

[2021-12-09 01:09] rohany commented on #6493
Can you point me to an example? I'm having trouble finding the right converters in the documentation. Alternatively, an example using XPetra that performs a matvec or something -- the existing examples in the xpetra package directory are a little complicated.

[2021-12-09 04:37] mhoemmen commented on #6493
@rohany wrote:

I haven't been a Trilinos developer for nearly two years; I'm just poking the issue out of kindness to current Trilinos developers, so they don't lose issues to the autocloser.

[2021-12-09 15:30] iyamazaki commented on #6892
I've used Amesos2 with SuperLU_DIST 6.3 before, and if I look in, for instance, `Amesos2_Superludist_TypeMap.hpp` the version 6.3 seems to be supported? I am wondering where you get your Trilinos, @xiaoyeli, @gvilanovac? I've used `develop` branch.

[2021-12-09 16:55] gvilanovac commented on #6892
I don't know which version I was using, but it was not on `develop` branch for sure. It was on one of the latest releases branches (at that moment). Most probably `trilinos-release-12-18-branch`

[2021-12-09 17:14] kddevin opened #10001 "Zoltan2: Quotient graph construction fails when all data is on one processor"
## Bug Report
@trilinos/zoltan2

### Description

While some Quotient graph tests claim to test without distributing the matrix, they really didn't, due to a bug in UserInputForTests.  When that bug is fixed and all matrix data is on one processor, the Quotient method fails in CommGraphModel construction; it accesses a NULL Import object.

This bug appeared with a seemingly innocent code change in

[2021-12-09 17:47] rohany commented on #6493
@cgcgcg, one last question: Is this binary file format documented anywhere? I'm looking at the script and it doesn't seem to handle a variety of matrix market features, such a symmetric or pattern matrices. Adding support for pattern matrices would be straight forward, but I'm not sure how adding support for symmetric matrices would work.

[2021-12-09 18:44] cgcgcg commented on #6493
There is no support for anything but a "general" CSR format, since that's the only format that Tpetra supports (apart from some block format). As far as I know, there is no documentation for the binary format. The way it works is somewhat obvious from the converter in MueLu. An alternative to using Tpetra for the conversion from "symmetric" to "general" matrix market is to use SciPy.

[2021-12-09 19:20] jhux2 commented on #6493
@rohany Any improvement that you might make to the script (documentation and/or greater capability) would be much appreciated.  Thanks.

[2021-12-09 20:43] xiaoyeli commented on #6892
If @iyamazaki said he used v6.3.0, then the interface should be up-to-date.
Please take a look at this Change Log:
https://portal.nersc.gov/project/sparse/superlu/changes.html#slu_dist_change
It shows what changed in 6.3.0

[2021-12-09 20:55] iyamazaki commented on #6892
Hi, @xiaoyeli. It will be nice if we could reproduce your errors (or if you could check if the errors still exist). But, if you look at, for example, [here](https://github.com/trilinos/Trilinos/blob/5a67b70fb3816e1cea26554c650b4dc7ca26747d/packages/amesos2/src/Amesos2_Superludist_TypeMap.hpp#L250), these changes seem to be already addressed?

[2021-12-09 20:59] xiaoyeli commented on #6892
@iyamazaki The errors are not reported from me; they are from @gvilanovac
Indeed, from pointer, you already incorporated that latest interface change.

[2021-12-10 00:27] #9972 closed

[2021-12-10 01:05] rohany commented on #6493
I'm trying to use the `XPetra::Read` function linked above, and am a little stuck. The function requires a `Map` which i think describes how the rows are to be distributed across the machine. However, the construction of a `Map` requires the number of global and local entries. This information is unknown until the matrix file is read. I could do an initial read of the header of the binary file gen

[2021-12-10 01:34] cgcgcg commented on #6493
I believe that Tpetra creates a uniform contiguous one-to-one map by default if you don't pass a rowmap. Xpetra doesn't seem to have that extra step, so you'd need to do that yourself. It works the same way as in Tpetra, just replace "Tpetra" with "Xpetra".

[2021-12-10 01:44] rohany commented on #6493
The corresponding function used in the TPetra mtxmarket reader is https://github.com/trilinos/Trilinos/blob/d63b7e52f2b1ba598797a18b17275108c8222889/packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp#L273, and is called after the dimensions of the matrix are known (i.e. the matrix has already been read). If this is what needs to be done, then I'll read those dimensions in from the file as well.

[2021-12-10 01:47] cgcgcg commented on #6493
Actually, maybe I just pointed you to the wrong function. Does this work?
https://github.com/trilinos/Trilinos/blob/5a67b70fb3816e1cea26554c650b4dc7ca26747d/packages/xpetra/sup/Utils/Xpetra_IO.hpp#L395-L396

[2021-12-10 05:26] rohany commented on #6493
That looks like the right interface! I'm running into a compilation issue now (the documentation around XPetra looks not that complete, so I don't know if I'm doing the installation correctly). My code snippet looks like this:
[code]

I build Trilinos like this:
[code]

And I have a standard trilinos makefile. However, I see errors like this during the link stage of the build:
[code]

Do you know

[2021-12-10 15:14] cgcgcg commented on #6493
Please change `Xpetra::IO<double>` to `Xpetra::IO<double, int, long long>`. It seems that `IO` defaults to `double, int, int`, but that's not what's enabled in the build.

[2021-12-10 17:18] jhux2 commented on #6493
That's possibly a bug in the cmake logic.

[2021-12-10 17:23] jhux2 opened #10006 "Framework: something wrong in PR testing pipeline"
## Bug Report
@trilinos/framework @jwillenbring @e10harvey @

### Description

There's appears to be something wrong in the PR testing pipeline.  See https://github.com/trilinos/Trilinos/pull/9998.  All builds/tests show passing, but cdash still reports that the PR testing failed.

[2021-12-10 17:24] jhux2 commented on #10006
Reported in ticket TRILINOSHD-58.

[2021-12-10 18:51] rohany commented on #6493
Everything is compiling now, but not working at runtime. For the below runs, I used the following matrix market file (and converted to binary with the script from above):
[code]

First, I tried directly using the Xpetra::IO::Read function as follows to load a binary file:
[code]
This snippet appears to hang within the IO::Read function call.

Next, I tried to use xpetra to load a matrix market fil

[2021-12-10 18:59] cgcgcg commented on #6493
You can set the optional second argument of `dynamic_cast` to `true`. That should give you an error message telling you why the cast failed.

[2021-12-10 19:09] rohany commented on #6493
I had to change the snippet to
[code]
as the return type from Read was a CrsMatrixWrap. So the final issue is the hang in `io::Read` for binary files!

[2021-12-10 19:11] cgcgcg commented on #6493
Oh, right. Yep, totally forgot about that. For binary, I'd try a matrix that isn't missing any rows. Maybe there are some issues with that.

[2021-12-10 19:15] rohany commented on #6493
Yep, the routine succeeds when reading a matrix with no missing entries.

[2021-12-10 19:59] jwillenbring commented on #10006
The debug and clang 10 builds failed most recently. In the first test run, the debug build failed. These builds are not showing up on CDash for some reason, and that could be the failure that is occurring. I know we have had some issues with this recently. I will socialize this with the Framework team.

[2021-12-10 20:08] jwillenbring commented on #10006
So looking at the logs for one of the debug builds, there was a merge error applying the change set to the develop branch. I reset the reference date for testing so we should start with a clean repo next time (however, the tests are running and that will not apply until the next attempt). If the issue persists, please make sure the PR can be cleanly merged onto develop in its current state.

[2021-12-10 21:01] jhux2 commented on #10006
@mperego

[2021-12-10 21:51] kddevin opened #10008 "Tpetra: importAndFillComplete fails for one-to-many distributions"
## Bug Report
@trilinos/tpetra @trilinos/zoltan2 @csiefer2 @tjfulle

### Description
While debugging #10001, I'm trying to let Zoltan2 balance and migrate a matrix that is entirely on rank 0 initially; the resulting matrix should be spread across processors.

Below is a standalone code showing how I am trying to do the migration.
@csiefer2  @tjfulle  Is my code using importAndFillComplete correctl

[2021-12-10 21:55] jhux2 commented on #10008
@kddevin Don't you want this instead?
[code]

[2021-12-10 22:34] kddevin commented on #10008
Thanks, @jhux2  .  Not as I read the documentation; it says "import from this to the given destination matrix."
https://docs.trilinos.org/dev/packages/tpetra/doc/html/classTpetra_1_1CrsMatrix.html#a759514cf7826750a3c3a3b318fe17cec
The documentation could never be wrong.  :)

[2021-12-10 22:39] kddevin commented on #10008
If, instead of having the entire matrix on rank 0 initially, I put the last row on rank 1, the code does what I want.  There must be something about rank 1 being empty in the first version.  ....

[2021-12-11 12:25] #6393 closed

[2021-12-11 12:25] #6417 closed

[2021-12-11 12:25] #6463 closed

[2021-12-11 12:25] #6464 closed

[2021-12-11 12:25] #6467 closed

[2021-12-11 12:25] #6470 closed

[2021-12-11 12:25] #6481 closed

[2021-12-13 02:12] jhux2 commented on #6935
Closing due to inactivity.  Please reopen if necessary.

[2021-12-13 02:12] #6935 closed

[2021-12-13 05:27] mhoemmen commented on #6973
begone autobot

[2021-12-13 05:27] mhoemmen commented on #6927
begone autobot

[2021-12-13 17:13] kddevin commented on #10001
The problem appears to be in Tpetra's importAndFillComplete #10008, not in Zoltan2.

[2021-12-13 17:18] kddevin commented on #8468
@kliegeois
Is this issue still relevant?
Does #9982 fix the problem?

[2021-12-13 17:19] kddevin commented on #8619
@kliegeois
Is this issue still relevant?
Does #9982 fix the problem?

[2021-12-13 18:31] william76 commented on #6973
@mhoemmen If you insist on taking the side of the dastardly Decepticons for this issue you can set the label `DO_NOT_AUTOCLOSE` and  remove the `MARKED_FOR_CLOSURE`.

If this needs to remain open despite having zero activity since March of 2020, it will be helpful to provide a reason.

[2021-12-13 19:25] csiefer2 commented on #10008
I suspect there's a subtle bug in the code because we never thought of this case.

[2021-12-13 19:26] #9994 closed

[2021-12-13 19:51] kddevin commented on #10008
See reproducer in #10011

[2021-12-13 21:36] csiefer2 opened #10012 "MueLu: Utilities_kokkos Cuthill McKee failing w/o UVM"
These two tests in MueLu are failing on our non-UVM nightly test builds:

The following tests FAILED:
    66. Utilities_kokkos_double_int_longlong_Kokkos_Compat_KokkosCudaWrapperNode_CuthillMcKee_UnitTest ...
    81. Utilities_kokkos_std_complex0double0_int_longlong_Kokkos_Compat_KokkosCudaWrapperNode_CuthillMcKee_UnitTest ...

[Test link here](https://testing.sandia.gov/cdash/test/108095534)

[2021-12-13 23:29] jhux2 commented on #10012
This looks to be a duplicate of #9988.

[2021-12-13 23:42] jewatkins opened #10015 "Kokkos: atomic_add with Kokkos::Serial"
## Bug Report
@trilinos/kokkos

### Description
I noticed a performance regression when using `Kokkos::atomic_add` on a `Kokkos::Serial` build after the 3.5 promotion (somewhere around 20% slowdown, see https://github.com/sandialabs/Albany/issues/767). I'm not sure if this is a bug since this is not its intended use but I thought it's worth reporting just in case others in Trilinos, kokkos-kernels

[2021-12-13 23:44] mhoemmen commented on #6973
I just think it's an interesting issue that deserves tracking.  We've also been interested in finer-grained build time analysis, and I'm wondering if any progress has been made on those fronts.

I don't have any permissions to set labels; I'm not a Trilinos developer.

[2021-12-14 00:28] william76 commented on #6973
@mhoemmen ah. I can set the labels for you.

[2021-12-14 04:34] mhoemmen commented on #6973
@william76 Thank you for setting the labels!  Regarding assignment, it does appear that @jjellio tagged you and a couple other folks.  He developed a bunch of tools that Trilinos could include on its Dashboard to analyze build performance.  I would imagine that one of two outcomes, not necessarily exclusive, are "open-source the tools" and "Trilinos uses them on its Dashboard."

[2021-12-14 15:15] bartlettroscoe opened #10016 "Test Ifpack2_unit_tests_MPI_4 unit tests randomly failing in many ATDM and PR builds since at least 2021-08-30"
CC: @trilinos/ifpack2, @<triage-contact\> (Trilinos <product-area-name\> Triage Contact (or "Current ATDM contact"))

<Checklist>
<???: Add label "type: bug"?>
<???: Add label "impacting: [tests, build, performance]"?>
<???: Add label "pkg: [from TestName]"?>
<???: Add label "PA: [see https://sems-atlassian-son.sandia.gov/confluence/display/TRIL/Triaging+contacts]?>
<???: Add label "Primary Build"

[2021-12-14 15:22] bartlettroscoe commented on #10016
@trilinos/framework, note, I did not add the entries to the `TrilinosATDMStatus/*.csv` files for these tests.  I think these failures need some more triaging.

Note that this has only caused 95 test failures over 32 different builds over the since 2021-08-30 as shown from the triaging script `create_trilinos_github_test_failure_issue_driver.sh` output:

[code]

Note that this caused at least 28 PR

[2021-12-14 15:26] bartlettroscoe commented on #10016
NOTE: If you run [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2021-08-01&end=2021-12-14&filtercount=3&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=Ifpack2_unit_tests_MPI_4&field2=status&compare2=61&value2=failed&field3=testoutput&compare3=97&value3=tol.*FAILED) and click "Show Matching Output" you can see by how much to tolerance is bein

[2021-12-14 16:00] bartlettroscoe commented on #10016
Also note that another unit test failed as well that had a tolerance of 0.01 as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&begin=2021-08-01&end=2021-12-14&filtercount=3&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=Ifpack2_unit_tests_MPI_4&field2=status&compare2=61&value2=failed&field3=testoutput&compare3=97&value3=tol.*0.01.*FAILED)

[2021-12-14 16:32] bartlettroscoe commented on #10016
@trilinos/framework

NOTE: Even though there were 95 failures of this test in lots of PR iterations and in several ATDM Trilinos builds over 3+ months, no one, reported this (until I did and I don't count).  This shows a gap in the current Trilinos testing and triaging efforts that such errors are not caught and reported sooner.

This suggests the need for another screening tool or process that lo

[2021-12-14 17:09] william76 commented on #6973
@jwillenbring ???

[2021-12-14 17:15] jhux2 commented on #6973
@mhoemmen It's weird that you can't set labels anymore. I thought that being a member of the Trilinos group (which you are) was enough.

[2021-12-14 17:29] csiefer2 opened #10020 "Tpetra: Prevent Common WDV Failure Pattern"
In performing the UVM purge of Tpetra, I repeatedly made the mistake of resizing one of the two child views of a DualView, but not the other.

We should put bumpers on that bowling alley.

[2021-12-14 18:06] bartlettroscoe opened #10022 "ATDM Trilinos 'sems-rhel7' configuration broken on new CEE hpwsXYZ and cee-buildXYZ machines"
@trilinos/framework

### Description

It seems the sems modules are broken on the new CEE 'hpwsXYZ' **and** 'cee-buildXYZ' machines.  And the Trilinos GenConfig scripts don't detect they are broken (see  [below](https://github.com/trilinos/Trilinos/issues/10022#issuecomment-1258821659)).

### Original Description

It appears that the SEMS RHEL7 modules or perhaps just the ATDM Trilinos 'sems-rhel7

[2021-12-14 18:09] bartlettroscoe commented on #10022
@trilinos/framework, my understanding is that CEE is pushing everyone to move to these HPWS machines and is eliminating the RWS and EWS machines.  I know the current ATDM Trilinos 'sems-rhel7' builds are running on ascicgpu machines but most Trilinos developers can't get access to those machines.  (For example, I don't think I currently have access to any ascigpu machines.)

I need to have a worki

[2021-12-14 18:17] e10harvey commented on #10016
@bartlettroscoe: Thanks for reporting this. This test failure is showing up in our weekly SecondaryATDM triaging monitor.

CC: @jwillenbring

[2021-12-14 18:17] e10harvey commented on #10022
@bartlettroscoe: I don't see this build error showing up in the [PrimaryATDM](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=2021-12-08&end=2021-12-14&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=sems-rhel7&field2=groupname&compare2=63&value2=PrimaryATDM) or [SecondaryATDM](https://testing.sandia.gov/cdash/index.php?project=Trilinos&begin=202

[2021-12-14 18:19] bartlettroscoe commented on #10022
@e10harvey, I suspect that is because the builds posting to CDash are running on ASCIGPU machines, not HPWS machines.  The latter are fairly new.  See my comment [above](https://github.com/trilinos/Trilinos/issues/10022#issuecomment-993844532).

[2021-12-14 18:42] mhoemmen commented on #6973
@jhux2 Not sure, but I don't see the usual user interface widgets that would let me edit labels (and I've been doing that in other projects).  In any case, I'm not a Trilinos developer any more; have fun with your project that's frozen on what one poor postdoc had to come up with in 2009 ; - P .

[2021-12-14 22:04] bartlettroscoe commented on #10022
FYI: As a basis of comparison, I ran the exact same Teuchos 'sems-rhel7' builds with the exact same version of Trilinos on the CEE build machine 'cee-build015' and I got all passing builds and tests (except for 3 failing tests from the CUDA build because this machine does not have a GPU).  This shows the problem is with the SEMS modules and/or the ATDM Trilinos env and/or the HPWS machines themsel

[2021-12-14 22:37] ndellingwood commented on #10015
@jewatkins I reposted your issue to kokkos' github issues kokkos/kokkos#4611

[2021-12-14 23:41] ccober6 opened #10023 "Tempus: Remove IntegratorBasicOld"
## Enhancement
@trilinos/tempus

Remove the IntegratorBasicOld class.  It was used to allow transition to the new IntegratorBasic that removed internal usage of ParameterLists and a few other improvements.  The last derived classes using IntegratorBasicOld have been move to inherit from the new IntegratorBasic, so it is time to deprecate IntegratorBasicOld.

[2021-12-15 00:28] crtrott commented on #10015
Yeah the switch to the desul atomics disabled that optimization you can still get it back by disabling desul atomics in your serial builds.

[2021-12-15 01:54] bartlettroscoe commented on #10022
FYI: The RHEL7 version is newer on the HPWS machine 'hpws055' than on the older CEE machine 'cee-build015'.  The details are given in [TRILINOSHD-59](https://sems-atlassian-son.sandia.gov/jira/servicedesk/customer/portal/7/TRILINOSHD-59).  It may just be that the SEMS modules are broken for the newer OS.  Hopefully the newer SEMS modules build with Spack will work okay.

[2021-12-15 12:26] #6507 closed

[2021-12-15 12:26] #6622 closed

[2021-12-15 12:26] #6666 closed

[2021-12-15 12:26] #6692 closed

[2021-12-15 12:26] #6702 closed

[2021-12-15 12:26] #6745 closed

[2021-12-15 18:00] #10020 closed

[2021-12-15 20:20] JacobDomagala opened #10026 "MueLu: Weird(?) CuthillMcKee behaviour on 4 ranks"
## Question
@trilinos/muelu

Discovered while running CuthillMcKee unittest on 4 ranks (related to https://github.com/trilinos/Trilinos/issues/9988)

Test scenario:

1. Create 1D Poisson matrix with 40 rows (in original test it's 2001, but for readability I've changed it to 40)
2. Run CuthillMcKee on that matrix
3. Check the resulting vector (for size and its contents)

**Result for single rank:**

[2021-12-15 20:21] JacobDomagala commented on #10026
@jhux2 As discussed, I'm creating the issue for that

[2021-12-15 21:00] jhux2 commented on #10026
@trilinos/muelu

[2021-12-15 21:23] dridzal opened #10029 "Panzer: Negative Tpetra map indices for HDiv fields on meshes exceeding int32 limits"
## Bug Report
@trilinos/panzer

### Description
Tpetra throws an error due to negative indices for HDiv fields on periodic meshes exceeding int32 limits.  This is major blocker.  The error is

`Tpetra::Map constructor (noncontiguous): Minimum global ID = -3630 over all process(es) is less than the given indexBase = 0.`

The error occurs on meshes containing indices > 2 billion (approximately), whe

[2021-12-15 21:40] dridzal commented on #10029
Adding @TimWildey , who provided the reproducer.

[2021-12-16 00:28] cgcgcg commented on #9997
Can this be closed, since a fix got merged?

[2021-12-16 01:06] japlews commented on #9997
Yes!

[2021-12-16 03:07] #9997 closed

[2021-12-16 15:10] e10harvey commented on #10022
@fryeguy52: Would you please look into the module issues on the HPWS machine?

[2021-12-16 15:19] bartlettroscoe commented on #9973
I would like to be able to do a reference build of Trilinos and Nalu and then test out updates of Trilinos against Nalu like for PR #9978 but what I (and other Trilinos developers) really need a dirt-simple, zero-chance-for-errors process as follows:

This should be just a few commands like for Trilinos that looks something like:

[code]

and then configure and build Nalu against that Trilinos ins

[2021-12-16 16:25] bartlettroscoe commented on #9972
FYI: So far, I have been unable to get a working reference build of Trilinos+Albany.  But I have gotten through the configure of Albany and I believe the remaining issues are unrelated to Trilinos.

But if someone on the Albany team would like to test the next update of TriBITS to Trilinos in PR #9978, they can access the tip of the branch in their local Trilinos repo as:

[code]

Otherwise, I am

[2021-12-16 18:56] jhux2 commented on #10006
closing as fixed for the PR in question.

[2021-12-16 18:56] #10006 closed

[2021-12-16 20:02] ikalash commented on #9972
I will test it now.

[2021-12-16 22:09] ikalash commented on #9972
I'm getting the following error when building Albany:
[code]
Were changes to Teuchos made? I did not build Albany from scratch so perhaps this is an artifact of that and not due to these changes?

[2021-12-16 22:16] bartlettroscoe commented on #9972
@ikalash, I got those same errors as described [above](https://github.com/trilinos/Trilinos/issues/9972#issuecomment-988962294).   Do your build and install of Trilinos from 'develop' then building Albany pass?

[2021-12-16 22:18] ikalash commented on #9972
Yes we use the develop branch.  The Albany nightly build on the same machine with develop was clean last night.

[2021-12-16 22:55] bartlettroscoe commented on #9972
@ikalash, what machine are you doing this on?  (You can contact my offline if that is a sensitive question.)

[2021-12-16 22:57] ikalash commented on #9972
I tested your branch on cee-compute021 with a gcc compiler.

[2021-12-16 23:23] srajama1 commented on #7413
This can be closed, right? @lisaclaus

[2021-12-17 07:57] searhein commented on #9979
I am sorry for the very slow response. I am currently running a bit out of time because of several deadlines before the end of the year. However, I have now ran the same computation with CG:

[code]

Now, I see the behavior that I expected: Almost all the time is spent on the preconditioner, and almost no time in the Krylov method. In total, the computation time went from 37.1 (see my first post)

[2021-12-17 15:49] eric-c-cyr commented on #10029
Do you have a time frame?

[2021-12-17 16:21] dridzal commented on #10029
@eric-c-cyr : @rppawlo contacted us via email with a fix.  He'll push it after creating tests.

[2021-12-17 16:32] rppawlo commented on #10029
@eric-c-cyr - I sent them a patch yesterday that fixed this. I have not pushed the fix yet since I need to write a test to cover it. Will have the fix in by early next week.

[2021-12-17 16:39] ccober6 opened #10034 "Tempus: Deprecate Some Functions"
## Enhancement
@trilinos/tempus

Several functions can be labelled for deprecation in preparation for the next major release.
- IntegratorBasic::getTempusParameterList() and IntegratorBasic::setTempusParameterList.  IntegratorBasic is no longer a ParameterList Acceptor.  One can still get a ParameterList from IntegratorBasic::getValidParameters(), but setting the ParameterList is essentially reset

[2021-12-17 17:14] cgcgcg opened #10036 "Framework: Autotester fails on module load"
## Bug Report
@trilinos/framework

### Description

https://github.com/trilinos/Trilinos/pull/10000#issuecomment-996859685
The autotester python builds fails with:
[code]

[2021-12-17 17:17] cgcgcg commented on #10036
Submitted JIRA ticket TRILINOSHD-61

@jwillenbring @ZUUL42 @prwolfe @william76

[2021-12-17 18:51] ZUUL42 commented on #10036
It looks like the SEMS TPL switchover happened.
I moved all of the builds to the new location, but missed the python3 test.
I'll put in a fix for this to get things passing again.

[2021-12-17 18:52] cgcgcg commented on #10036
Cool, thank you @ZUUL42

[2021-12-17 21:11] ccober6 opened #10037 "Tempus: Setup First Example Problem"
## Documentation
@trilinos/tempus

- First Example Problem should be a completely non-Tempus setup so we can introduce Tempus features step-by-step in future examples.
- Would like the Doxygen be the primary documentation method.

[2021-12-18 12:25] #6753 closed

[2021-12-18 12:25] #6754 closed

[2021-12-18 12:25] #6761 closed

[2021-12-19 13:54] mayrmt commented on #7061
A student has ported the tutorial to another format, such that testing the build of the tutorial is possible. Still need to include this into the build system...

I hope to share a first implementation in the first weeks of January.

[2021-12-19 14:51] rohany opened #10040 "Tpetra: Sparse-Dense matrix multiplication (SpMM)"
@trilinos/Tpetra

I'm trying to understand what support TPetra / Trilinos has for different sparse linear algebra kernels. I'm currently looking at the SpMM kernel `C(i, j) = A(i, k) * B(k, j)` where A is sparse, and B, C are dense rectangular matrices. The only matrix multiplication routine I see in TPetra is https://docs.trilinos.org/dev/packages/tpetra/doc/html/namespaceTpetra_1_1MatrixMatrix.h

[2021-12-20 05:42] mhoemmen commented on #7072
begone autobot, this issue is important

[2021-12-20 05:44] mhoemmen commented on #119
@csiefer2 Did y'all actually fix this?

[2021-12-20 14:55] jwillenbring opened #10043 "Zoltan2: Test failure for RDC build"
## Bug Report
@trilinos/zoltan2

CC: @kddevin
CC: @trilinos/framework

### Description

The RDC build had one test failure the last time it ran: Zoltan2_GraphModel_MPI_4. I wasn't able to find exactly why this failed. I would appreciate any insight as to if this is a failure that needs to be fixed, or if this was a one-off issue perhaps.

https://testing.sandia.gov/cdash/test/109158159

[2021-12-20 18:17] e10harvey commented on #10043
There is also one other RDC failure in teuchos (@trilinos/teuchos): https://trilinos-cdash.sandia.gov/test/104443.

[2021-12-20 18:53] lisaclaus commented on #7413
Yes, thanks @srajama1

[2021-12-20 18:53] #7413 closed

[2021-12-20 18:55] bartlettroscoe commented on #10043
The test `TeuchosComm_UnitTestHarness_Parallel_UnitTests_MPI_4` does not use CUDA at all so it is doubtful that failures of that test are realted to CUDA RDC issues.  My guess is that this is the system failures reported in #8759.  Please take Teuchos off of this as #8759 covers the issues (which is not actually a Teuchos problem).

[2021-12-21 02:06] rohany commented on #7045
Hi, just poking on this issue -- support for loading rectangular matrices (or a workaround / description for how to do this) would be great, as I'm currently looking at getting some rectangular matrices in matrix-market files into Trilinos.

[2021-12-21 02:54] rohany commented on #10040
Thanks! I'm not sure how I missed that overload of apply...

Do you mind sanity checking my implementation? I was a bit unsure how to set everything up for best performance, so let me know if anything is wrong. In particular, I'm not sure what makes the most sense for the maps -- is using the maps on the input matrix (read from a matrix market file) reasonable, or would it be better to make a new

[2021-12-21 04:59] cgcgcg commented on #10040
The maps of the multivectors need to match the domain and range maps of the matrix, so that's correct. Out of curiosity: what's the end goal? I'd assume that `kDim` has been tuned quite a bit, and I'd expect good performance for `kDim` << matrix size.

[2021-12-21 07:16] Dragon20180618 commented on #9703
Add the option may solve your question。I got the simaliar question。
-DTrilinos_EXTRA_LINK_FLAGS:STRING="-L<hdf_lib_path> -lhdf5 "

[2021-12-21 15:59] rohany commented on #10040
Yep, kDim is a small value (32 or 64).

I'm working on a system that generates implementations of distributed sparse tensor kernels. I'm comparing the performance of those kernels to PETSc and Trilinos to understand how those kernels compare to heavily optimized systems.

I'll close the issue now, as I think I've got everything I need!

[2021-12-21 15:59] #10040 closed

[2021-12-21 17:48] kddevin commented on #8619
@kliegeois
Is this issue still relevant?
Does #9982 fix the problem?

[2021-12-21 18:28] kddevin commented on #10043
The Zoltan2 failure is due only to mis-aligned output from many processors.  PR #10039 is already submitted to try to fix the problem.  The PR needs a review (anyone can review it, please) and it needs to get through PR testing.  I am hopeful that it will fix the problem. @e10harvey

[2021-12-21 22:39] kddevin commented on #9944
@blsteve -- I was able to reproduce the performance that you see in your reproducer; with gcc, the debug version takes at least 40x longer than the release version.  Thanks for the reproducer.

0.  I assume you are doing your own matrix multiplication, right?  I did not see getLocalRowView used in Tpetra's SpMV.  If you are seeing this performance in Tpetra's SpMV, please let me know.
1.  The vers

[2021-12-21 22:41] kddevin commented on #9500
@kliegeois  Does #9982 fix the problem in Albany?  If so, please feel free to close this issue.

[2021-12-21 22:45] kddevin commented on #7608
@tzovas are you still seeing this problem?  If so, would you please post your compiler version info and cmake configuration command with this issue?  If not, I will close this issue.

[2021-12-21 22:51] kddevin commented on #7299
@jhux2 I see these compiler warnings too, but I don't understand them.  There are no parentheses in the lines quoted.  Have you fixed such errors before?  I'll be happy to implement a fix if you know one. Thanks.

[2021-12-22 04:54] mperego commented on #9500
@kddevin The test in Albany still fails for non contiguous ids. The matrix computed with coloring is not symmetric. Not sure if the issue is in Zoltan2, I would need to dig into it. @kliegeois is on vacation.

[2021-12-22 10:42] tzovas commented on #7608
I have not used or compile the code for a long time. So,

No (but because I haven't looked)

[2021-12-23 00:03] kddevin commented on #9500
@mperego Thanks; I'll take another look.

[2021-12-23 02:43] Dragon20180618 opened #10048 "Amesos: no amesos example was built"
## Bug Report
@trilinos/\amesos

### Description
I built Trilinos by cmake, no errors were printed when cmake & make were runing. but I can't find any Amesos executable example.
* my cmake command
[code]

I find the CMakeList in Trilinos/packages/amesos/example, what should I do ?

[2021-12-23 02:57] cgcgcg commented on #10048
Please post your CMake log file.

[2021-12-23 03:20] Dragon20180618 commented on #10048
[cmake.log](https://github.com/trilinos/Trilinos/files/7766435/cmake.log)

[2021-12-23 03:22] Dragon20180618 commented on #10048
The code:
[code]

[2021-12-23 03:30] cgcgcg commented on #10048
Try setting `-D Trilinos_ENABLE_EXAMPLES:BOOL=ON`. Or, in case you don't want to build absolutely everything, set `-D Amesos_ENABLE_EXAMPLES:BOOL=ON`.

[2021-12-23 03:32] Dragon20180618 commented on #10048
Thank you, I will try soon. @cgcgcg

[2021-12-23 07:02] Dragon20180618 commented on #10048
I have gotten the target files.
Thank you!
![image](https://user-images.githubusercontent.com/44524468/147201261-22ec2ced-8d64-42f0-aedc-5d710f48f42a.png)

[code]

[2021-12-23 07:02] #10048 closed

[2021-12-23 13:25] WhiteFang13 opened #10049 "Ifpack2: Choosing of the preconditioner and its parameters for linear system"
## Question
@trilinos/Ifpack2 @trilinos/belos

I am solving the linear system, (obtained by discretization of PDE system, for FEM task). The linear system (Ax = b, where A is matrix and x, b - vectors) consists of about 10^6 equations. We need to solve it many times with non significant right-hand vector 'b' modifications. The matrix 'A' is square, non-symmetric, contains positive and negative val

[2021-12-23 13:36] WhiteFang13 commented on #10049
The error messages from 'block relaxation' preconditioner:

Another preconditioner 'block relaxation' also from Ifpack2 writes that the matrix (that was correctly calculated at 2 MPI processes) may be partially singular:
"Ifpack2::DenseContainer::factor: LAPACK's _GETRF (LU factorization with partial pivoting) reports that the computed U factor is exactly singular.  U(601,601) (one-based index i)

[2021-12-23 15:53] cgcgcg commented on #10049
Both the additive Schwarz and block relaxation operate on a similar principle. Extract a block diagonal (overlapping blocks for additive Schwarz) and solve directly on each block. For additive Schwarz at least, these blocks are associate to the process local row space of the matrix. Now, if the number of MPI ranks is increased, the blocks shrink in size. That generally deteriorates the quality of

[2021-12-23 18:13] kddevin commented on #9500
@mperego can you point me to the Albany code that is calling the colorer?  I'd like to see the calling sequence.  Thanks.

[2021-12-23 18:42] mperego commented on #9500
@kddevin here is the code calling the coloring
https://github.com/sandialabs/Albany/blob/master/src/Albany_Application.cpp#L2535-L2611

[2021-12-24 02:57] bartlettroscoe commented on #9972
@ikalash, I have been unable to get a reference configuration for Trilinos and Albany to work on a cee-buildxyz machine.  I tried following the instructions provided but I am getting an Albany build error:

[code]

It seems that Albany is expecting that Zoltan2 is enabled and installed but that is not the case with the configure script that I was given.  (My guess is that the Albany Trilinos confi

[2021-12-24 03:50] ikalash commented on #9972
I can't access the repo you linked.  Are you using these scripts?

https://github.com/sandialabs/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/sems-intel-modules.sh
https://github.com/sandialabs/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/do-cmake-trilinos-mpi-sems-intel

SCOREC is not required for Albany, so that is not the issue.

I have an idea of what is the probl

[2021-12-24 04:31] bartlettroscoe commented on #9972
@ikalash, I (hopefully) opened up the repo and provided full reproducibility instructions in:

* https://cee-gitlab.sandia.gov/rabartl/albany_trilinos_build_scripts/-/blob/master/README.md

Please give that a try on any CEE RHEL7 machine.  (I used 'cee-build030' which is a new super fast machine.)

If you see anything that needs improved in those scripts, please post a Merge Request against 'maste

[2021-12-24 05:04] ikalash commented on #9972
I think cee-build030 was one of the machines where other users have seen build issues.  Could you please try on cee-compute020 just as a sanity check?  I can try your scripts as well.

[2021-12-24 18:46] ikalash commented on #9972
@bartlettroscoe : I just tried your scripts on cee-compute030.  Here is what I found:

- If I follow the workflow in the README.md file, using ninja, I reproduce the error you report.
- If, however, I just use the do-cmake scripts you provide to build the code "manually" (./do-cmake; make -j32), the code builds.

Could you please verify that you see the same behavior?  I'm not sure what is broken

[2021-12-29 12:27] #6854 closed

[2022-01-04 15:40] slavakung opened #10058 "Rol: Installation Issues"
I am interested in using the ROL package

I went inside the package directory and ran "make" and it seemed to not return any errors. However, I liked at the directory and it did not contain most of the code that appears in the github and the documentation (in particular I wanted to try the examples).

So then I went to the trilinos base directory and tried "make all" and "make install" and in both

[2022-01-04 15:54] dridzal commented on #10058
@slavakung :  This is a @trilinos/seacas installation error, and ROL does not depend on Seacas.  If you need to build Seacas, please contact Seacas developers for installation help.  Otherwise, take a look at your Trilinos configure script and make sure to only enable the packages you need.

Regarding your first observation, ROL's headers will be installed in your specified Trilinos install direct

[2022-01-04 17:03] bartgol opened #10059 "SEACAS: Exodus (apparent) inconsistent check for parallel support in netcdf"
## Question
@trilinos/seacas

In our library (Albany) we check if parallel exodus is enabled by attempting to compile a dummy main file that includes `exodusII_par.h`. This will compile provided that `NC_HAS_PARALLEL` is defined. In netCDF, this macro is defined if PnetCDF is present _OR_ if HDF5 is built with parallel enabled.

However, in `ex_open_par.c`, exodus errors out if PnetCDF is not enab

[2022-01-04 17:33] slavakung commented on #10058
Thank you for your quick response.

If I run "make install" inside "Trilinos/packages/rol" it says everything is up to date

If I run "ctest" inside "Trilinos/packages/rol" it says "No tests were found!"

I noticed that Trilinos/Trilinos-master/packages/rol does have more files, but trying "ctest" there says no test configuration file found

[2022-01-04 17:40] ikalash opened #10060 "STK: failures in Albany-LCM nightlies"
A number of our tests in Albany-LCM are failing, I presume due to changes to STK, since no changes to Albany-LCM have been made recently:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=27569

The errors look like this:

[code]
I am guessing some convention in STK changed?  Could someone please figure out the cause of the issue so we could fix it?

Tagging @lxmota , who is

[2022-01-04 17:48] alanw0 commented on #10060
Hi @ikalash, yes we just tightened up a requirement in stk, couldn't figure out how to do it gently. stk used to allow a field to be registered multiple times with different template parameters, which led to bad and undefined behavior. Now it throws if that happens. Please remind me of the github page for downloading Albany and I'll take a look and see if this is a real error with the way 'failure

[2022-01-04 17:52] alanw0 commented on #10060
ok I found albany, under github.com/sandialabs/albany. For some reason I had thought it was under snlcomputation.

[2022-01-04 17:55] dridzal commented on #10058
@slavakung : Are you building in the source tree (the paths you gave above indicate that you are)?  Trilinos does not support this, you'll need a build directory.  Please review the instructions here:

https://docs.trilinos.org/files/TrilinosBuildReference.html#configuring-makefile-ninja-and-other-generators

Some quick configure scripts are given here:

https://github.com/trilinos/Trilinos/blob/m

[2022-01-04 17:55] lxmota commented on #10060
@alanw0 @ikalash This seems to be specific to LCM (solid mechanics component of Albany), which is here:

https://github.com/sandialabs/LCM

[2022-01-04 17:59] alanw0 commented on #10060
@lxmota thanks, I'll grab LCM and take a look.

[2022-01-04 18:01] tjfulle commented on #10008
I'm building and running the reproducer in #10011 right now. Will update when more info is learned.

[2022-01-04 18:11] ikalash commented on #10060
Thanks @alanw0 !  Do you still want build instructions?  If so, I can provide them.

[2022-01-04 19:39] slavakung commented on #10058
OK thank you, I used the following script after making the Trilinos-build directory parallel to Trilinos

cmake \
-DCMAKE_C_COMPILER=/usr/bin/gcc \
-DCMAKE_CXX_COMPILER=/usr/bin/g++ \
-DCMAKE_Fortran_COMPILER=/usr/bin/gfortran \
-DTrilinos_ENABLE_ALL_PACKAGES=ON \
../Trilinos

make -j<n> install

and now get the following error:
- Setting Trilinos_ENABLE_EXAMPLES=ON because Trilinos_ENABLE_TESTS=O

[2022-01-04 19:53] alanw0 commented on #10060
@ikalash, yes please do give me some build instructions, it looks like we will need to run the failing test to diagnose what is going on. Thanks.

[2022-01-04 19:55] jhux2 commented on #10049
@trilinos/ifpack2 @trilinos/belos

[2022-01-04 20:02] cgcgcg commented on #10058
@slavakung Have a look at https://github.com/trilinos/Trilinos/blob/master/INSTALL.rst
Is it possible that `CMAKE_INSTALL_PREFIX` is being set to some default value that has "PROJECTS" in it?

[2022-01-04 20:11] dridzal commented on #10058
I don't see that you've set CMAKE_INSTALL_PREFIX in your script.  You may want to do that.  This could be your build directory or a (direct) subdirectory of the build directory.  It'll be created it if it doesn't exist.  This could also be any directory on your system, as long as the specified parent directory exists and you have access to it.  For example, you could use /home/slava/Documents/Tril

[2022-01-04 20:29] #6260 closed

[2022-01-04 23:34] ikalash commented on #10060
@alanw0 : sorry about the delay - I was in meetings until now.  For CEE, please use the following scripts  (note that they are in the Albany repo, not LCM, but they should work with LCM):

- Source modules: https://github.com/sandialabs/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/sems-gcc-modules.sh
- Configure, make and make install Trilinos using this configure script: https://gi

[2022-01-05 12:27] #6877 closed

[2022-01-05 13:30] alanw0 commented on #10060
Thanks @ikalash, I got the build kicked off last night and we will try to get it figured out today.

[2022-01-05 15:30] cgcgcg commented on #10036
FYI, the dev->master AT seems to have the same issues, see e.g. https://github.com/trilinos/Trilinos/pull/10063

[2022-01-05 16:33] kliegeois commented on #8619
It seems that the issue is gone.
I am closing the GitHub issue.
Thanks again @kddevin !

[2022-01-05 16:33] #8619 closed

[2022-01-05 16:36] slavakung commented on #10058
Thank you. I cleared the cache and ran this script:

cmake \
-DCMAKE_C_COMPILER=/usr/bin/gcc \
-DCMAKE_CXX_COMPILER=/usr/bin/g++ \
-DCMAKE_Fortran_COMPILER=/usr/bin/gfortran \
-DCMAKE_INSTALL_PREFIX=/home/slava/Documents/Trilinos-build/ \
-DTrilinos_SET_GROUP_AND_PERMISSIONS_ON_INSTALL_BASE_DIR=/home/slava/Documents/ \
-DTrilinos_ENABLE_ALL_PACKAGES=ON \
../Trilinos

make -j<n> install

to now obt

[2022-01-05 18:21] ikalash commented on #10060
Sounds great @alanw0 , thanks in advance!

[2022-01-05 19:40] alanw0 commented on #10060
When running the test Ace_Cuboid, the field 'failure_state' is being declared with type `stk::mesh::Field<double,QPTag>` in Albany_GenericSTKFieldContainer_def.hpp and then later is declared with type `stk::mesh::Field<double>` in Albany_MultiSTKFieldContainer_def.hpp.
Before, this was allowed by stk (would create both as separate fields with the same name) but behavior was undefined when requesti

[2022-01-05 20:51] lxmota commented on #10060
Yes, I'll change the code to make it consistent. Thank you for catching this issue.

[2022-01-05 21:45] ikalash commented on #10060
Thanks @lxmota !  In case it helps, I looked a little bit at the code and I think the problem is "failure_state" is being registered as a QP field here: https://github.com/sandialabs/LCM/blob/master/src/disc/stk/Albany_GenericSTKFieldContainer_Def.hpp#L97 whereas it is a scalar field here: https://github.com/sandialabs/LCM/blob/master/src/disc/stk/Albany_MultiSTKFieldContainer_Def.hpp#L304 (SFT re

[2022-01-05 21:58] kddevin commented on #8619
Thanks, @kliegeois

[2022-01-05 22:01] kddevin commented on #7372
Let's keep this issue in mind as we refactor BlockCrsMatrix.
@trilinos/tpetra

[2022-01-05 22:08] kddevin commented on #7371
See #7946.

[2022-01-05 22:58] kliegeois commented on #9500
I confirm that the issue is still there.
The last columns/rows are still non symmetrical while using a non-contiguous map.

This figure is the difference between the Hessian and its transpose computed using a non-contiguous map:

![diff-1](https://user-images.githubusercontent.com/15634348/148300994-ae759b36-575c-4c96-9d29-34a73983aa91.png)

@kddevin would there be some useful information that I c

[2022-01-05 23:12] alanw0 commented on #10060
@ikalash and @lxmota let me know if you have difficulties with this.
We have had requests to eliminate the extra template-parameters (leaving just the basic type parameter), meaning every field would be simply `stk::mesh::Field<T>`. We have some prototype work exploring this now. This would be a huge improvement, eliminating issues such as this throw entirely. The challenge of course is finding a

[2022-01-05 23:31] cgcgcg commented on #10058
@slavakung Please post the output of the CMake invocation. I am not quite sure why we need to link with `-lg2c`, but it seems that that library is missing on your system. Have you tried enabling only packages that you actually need?

[2022-01-05 23:50] dridzal commented on #10058
Following on @cgcgcg's comment:  To build only ROL, you can try these options

[code]

This is a fairly minimal configuration.  Once this is working, we can enable ROL's optional dependencies.

[2022-01-06 06:14] lixiangliang opened #10065 "Belos: Using the Belos::BlockGmresSolMgr to solve complex matrix equations, the explicit residuals do not converge"
## Question
@trilinos/\<Belos\>

I try to use Belos to solve a simple complex matrix equation A*X=B. Matrix A is a 14th-order complex matrix with all zero imaginary parts. Matrix B on the right hand side of the equation is a complex matrix with 14 rows and 2 columns. I wrote a custom "Tpetra::Operator" subclass to implement the A*X multiplication operation. Set the parameter "Block Size" to the nu

[2022-01-06 15:34] mhoemmen commented on #7372
Those classes were pretty hastily thrown together to make a certain app developer happy; they could badly use a redesign.  All of Tpetra could but that's a different task ; - ) .

[2022-01-06 16:53] bartlettroscoe commented on #9972
@ikalash, what exact versions of Trilinos and Albany did you use (i.e. the exact SHA1s) and what test results did you get for Albany when you ran the Albany test suite?

[2022-01-06 17:05] slavakung commented on #10058
Hi,

I ran the following script:
cmake \
-DCMAKE_C_COMPILER=/usr/bin/gcc \
-DCMAKE_CXX_COMPILER=/usr/bin/g++ \
-DCMAKE_Fortran_COMPILER=/usr/bin/gfortran \
-DTrilinos_ENABLE_ALL_PACKAGES=OFF \
-DTrilinos_ENABLE_ROL=ON \
-DTrilinos_ENABLE_ALL_OPTIONAL_PACKAGES=OFF \
-DTrilinos_ENABLE_TESTS=ON \
-DCMAKE_INSTALL_PREFIX=/home/slava/Documents/Trilinos-build/ \
-DTrilinos_SET_GROUP_AND_PERMISSIONS_ON_IN

[2022-01-06 17:27] dridzal commented on #10058
@slavakung : Do you run this entire command from the command line, or as a script file with line breaks?  In the latter case, I think you need to terminate all lines as in the example I gave.  Also note that there should be no spaces after the backslashes.

[2022-01-06 17:46] cgcgcg commented on #10058
Just double checking: Are you really running `make -j<n> install` verbatim? Or `make -j 4 install`, `make -j install` or something like that?

[2022-01-06 18:03] cgcgcg commented on #10065
@trilinos/belos

[2022-01-06 18:06] slavakung commented on #10058
sorry I didn't realize n was a placeholder. I ran with just make -j install and now it says

make: *** No rule to make target 'install'.  Stop.

I am running with a script file and there are no trailing spaces

[2022-01-06 18:09] cgcgcg commented on #10058
How about just `make`? And it definitely configured correctly?

[2022-01-06 18:10] dridzal commented on #10058
It sounds like configure failed.

[2022-01-06 18:12] cgcgcg commented on #10065
@lixiangliang Can you check if the obtained solution is actually correct? Both in the case when imaginary(B) = 0 and when it's not zero?

[2022-01-06 18:34] jhux2 commented on #10065
Shouldn't Belos handle this via templating, i.e., without the need for a custom operator?

[2022-01-06 18:37] cgcgcg commented on #10065
Belos templated on a Tpetra operator definitely should.

[2022-01-06 18:42] jhux2 commented on #10065
@lixiangliang In addition to @cgcgcg's recommendations, I'd suggest checking convergence with a single RHS.

[2022-01-06 19:05] jennloe commented on #10065
I've run this example in Matlab with the two right-hand sides separately.  The implicit and explicit residuals don't diverge in this case.  They shouldn't diverge in Belos, either.

That said, the solver doesn't converge in either the implicit or explicit residuals until the 14th iteration.

Can you give us a printout of the Belos output?

[2022-01-07 02:14] lixiangliang commented on #10065
Thank you for your reply.
I have checked that when the imaginary part of the B matrix is zero, the solution is correct. But when the imaginary part is not zero, the result is wrong.

[2022-01-07 02:17] lixiangliang commented on #10065
This is because I am now testing the feasibility of the Belos solver. When solving my actual problems, I have to customize operators.

[2022-01-07 02:22] lixiangliang commented on #10065
Set "Block Size" = 1, and only solve one right-hand side vector each time, and the result is convergent. And if the solver is changed to "Belos::PseudoBlockGmresSolMgr", the calculation result is also convergent.

[2022-01-07 02:57] cgcgcg commented on #10065
Are you using a custom MultiVector implementation as well, or is that standard. Cause inner products, norms, etc come from the MultiVectorTraits. Maybe we somewhere are using the wrong kind of transpose?

[2022-01-07 03:45] lixiangliang commented on #10065
[Solver.zip](https://github.com/trilinos/Trilinos/files/7826190/Solver.zip)
@cgcgcg I am attaching my code, you can browse to see if there are any errors in use, thank you very much.

[2022-01-07 03:50] lixiangliang commented on #10065
@jennloe Below is the print information I generated, thank you.
`*******************************************************
***** Belos Iterative Solver:  Block Gmres
***** Maximum Iterations: 100
***** Block Size: 2
***** Residual Test:
*****   Test 1 : Belos::StatusTestImpResNorm<>: (2-Norm Res Vec) / (2-Norm Prec Res0), tol = 0.001
*******************************************************
Iter   0,

[2022-01-07 05:14] cgcgcg commented on #10065
Maybe print the value of `Teuchos::ETransp mode` in your `apply` method to check whether it's always the same. As far as I can tell, you always do a non-transpose apply. If you see different values of `mode`, then that might be the issue.

[2022-01-07 07:20] slavakung commented on #10058
it seems to configure OK but inside the build make install and make doesn't do anything

-- Enabling ROL examples with required dependency on Teuchos::RCP or Teuchos::ParameterList

No ETI support requested by packages.

Set up for creating a distribution ...

Finished configuring Trilinos!

-- Configuring done
-- Generating done
-- Build files have been written to: /home/slava/Documents/Trilinos

[2022-01-07 09:11] lixiangliang commented on #10065
@cgcgcg After testing, "Teuchos::ETransp mode" is always "NO TRANS", which may not be caused by transpose. Maybe it's because of my wrong use of the solver "BlockGmresSolMgr"? If you can, please take a look at my code to see if there are any errors in use. Thank you so much.

[2022-01-07 15:39] dridzal commented on #10058
@slavakung : Can you just run make without install?  After it completes --it'll take a few minutes and you should see output about the packages Teuchos and ROL being built---check in your **_build_** directory for executables in, for instance, /packages/rol/example/rosenbrock and a few other similar directories.  If the executables are not there, or you don't see the packages Teuchos and ROL being

[2022-01-07 16:53] slavakung commented on #10058
inside Trilinos-build there is no target for make. Install the Trilinos directory "make" and "make install" both yield

collect2: error: ld returned 1 exit status
make[2]: *** [packages/rol/adapters/teuchos/test/vector/CMakeFiles/ROL_adapters_teuchos_test_vector_TeuchosVectorInterface.dir/build.make:109: packages/rol/adapters/teuchos/test/vector/ROL_adapters_teuchos_test_vector_TeuchosVectorInterf

[2022-01-07 16:53] slavakung commented on #10058
sorry before the collect2 statement it's the familiar

/usr/bin/ld: cannot find -lg2c

[2022-01-07 16:56] cgcgcg commented on #10058
Wait a sec. Trilinos-build is your install target, right? So of course there is nothing there to make. `make`  needs to be called from your build directory, which in turn is different from your source directory.

[2022-01-07 17:04] #10023 closed

[2022-01-07 18:08] cgcgcg commented on #10065
@jennloe When I try running one of the Belos tests in a complex build:
[code]
it fails as well. Would that be expected behavior, or would that be good for a reproducer?

[2022-01-07 19:13] jhux2 commented on #10058
@dridzal Any Trilinos developer can update those instructions.  If you know what needs to be updated, it's likely quicker/easier if you submit a PR fix.

[2022-01-07 21:23] jennloe commented on #10065
@cgcgcg That shouldn't be failing.  Probably qualifies as a good reproducer.
@hkthorn was wondering if there are problems with losing orthogonality in the subspace, but that seems less likely if the `./Belos_bl_gmres_complex_hb.exe` is failing also.  That test uses random rhs vectors, right?

[2022-01-07 21:26] ikalash commented on #9972
Sorry about the delay - one of my projects has a review next week and I've been busy preparing for that.  Here are the SHAs:

Trilinos: 7b1fc5a1bf77449b6eeb53996cf30bcf15d0a7ee
Albany: 54329a173f8fe5c0c9b2575d4495f6e028193333

It turns out on cee-compute030, the code does not run. Here is the error:

[code]
I haven't seen this before but when I googled it, it looks like it came up in Trilinos awhi

[2022-01-07 21:31] jennloe commented on #10065
@cgcgcg  In what way is this failing?  For the two right-hand sides individually, you really do need 14 iterations to converge.  See plot below from Matlab.

<img width="496" alt="image" src="https://user-images.githubusercontent.com/28164775/148609979-0941713e-7c4a-4b38-84ef-82f0c136b677.png">

However, I'm running this matrix and one right-hand side in Belos with Kokkos backend, and it is not co

[2022-01-08 07:17] lixiangliang commented on #10065
@cgcgcg @jennloe Yes, I ran this test case a bit too. In the output information, it is found that there is such a `Belos::BlockGmresSolMgr::solve(): Warning! Solver has experienced a loss of accuracy!`, and the reason for this `warning` should be that the implicit residuals converged but the explicit residuals did not converge. This is the same problem with my own test program.

[2022-01-09 05:19] mhoemmen commented on #4159
@csiefer2 autobot begone?

[2022-01-10 11:25] slavakung commented on #10058
cgcgcg: Trilinos-build is my install target and Trilinos is my source directory. Running make from the first does nothing, and from the second yields the errors I showed above

[2022-01-10 15:00] cgcgcg commented on #10058
@slavakung Correct. `make` needs to be run from the build directory, i.e. where you called `cmake`. This cannot be the same as your source directory.

[2022-01-10 16:13] bartlettroscoe commented on #9972
@ikalash, what specific command did you run and how many tests ran and passed?  One way to get a nice summary of tests run with ctest is:

[code]

That will print the summary of the number of tests run, tests passed, tests failed, and list the tests that failed.

[2022-01-10 20:31] dridzal commented on #10058
@slavakung , to create the build directory from which you run make, please follow the detailed instructions I referenced earlier:

[2022-01-10 22:47] bartlettroscoe commented on #9972
@ikalash, what do you mean by:

?  What `do-cmake` script are you referring to specifically and what is meant by building the code "manually"?

Using the instructions at:

* https://cee-gitlab.sandia.gov/rabartl/albany_trilinos_build_scripts/-/blob/master/README.md

but instead switching to configuring Albany with Makefiles instead of Ninja with:

[code]

seems to made no difference for me.  I sti

[2022-01-11 00:17] dridzal opened #10071 "Framework: Is the master branch three months old?"
## Question
@trilinos/framework

Is it correct that master branch is three months old, as of January 2022?  I regularly receive develop-to-master promotion messages, for example:

[trilinos/Trilinos] Trilinos Master Merge PR Generator: Auto PR created to promote from master_merge_20220107_000702 branch to master (PR #10066)

however they do not seem to result in any updates to master due to test f

[2022-01-11 01:53] bartlettroscoe commented on #9972
@ikalash, after fixing the typo on the Trilinos configure script we found, I now have a successful reference build and test of Albany + Trilinos on 'cee-compute021' as described in complete detail in https://cee-gitlab.sandia.gov/rabartl/albany_trilinos_build_scripts/-/issues/1#note_2115651 that produced the Albany test results:

[code]

I should not be able to debug problems with the updated Tril

[2022-01-11 03:12] ikalash commented on #9972
@bartlettroscoe great!  Let me know if you have any more questions about Albany.

[2022-01-11 14:53] slavakung commented on #10058
This is what I did. I ran the configure script inside the build directory, but no Make file was created. Here is the entire output:

(base) slava@slava:~/Documents/Trilinos-build$ ./configure

Configuring Trilinos build directory

-- PROJECT_SOURCE_DIR='/home/slava/Documents/Trilinos/Trilinos-master'
-- PROJECT_BINARY_DIR='/home/slava/Documents/Trilinos'
-- Trilinos_TRIBITS_DIR='/home/slava/Docume

[2022-01-11 17:29] jhux2 commented on #10071
Denis, that looks about right.

https://github.com/trilinos/Trilinos/pulls?q=is%3Apr+merged%3A%3E%3D2021-10-01+%22Trilinos+Master%22+in%3Atitle+sort%3Acreated-desc

[2022-01-11 18:26] dridzal commented on #10071
Trilinos master is the delivery vehicle for several projects, and we need some recent bug fixes.  Whom should we bring into the discussion to get 'master' going again?  Is there a POC for the promotion process?

[2022-01-11 18:30] rppawlo commented on #10071
@dridzal - I put it on the product leaders meeting agenda for tomorrow. @jwillenbring is the POC.

[2022-01-11 19:53] jwillenbring commented on #10071
@dridzal I have been actively working this issue today. As you might expect, with an issue going on this long, there have been a number of different impediments we have needed to work through. We are currently seriously considering merging this PR to update master: https://github.com/trilinos/Trilinos/pull/10053. This PR is partially tested, including having passed the RDC build, and we did not ha

[2022-01-11 19:59] dridzal commented on #10071
@jwillenbring , I'm not sure if this includes @rppawlo's recent bug fix in Panzer.  @rppawlo , could you take a look at the proposed PR and let us know if your fix is included?

[2022-01-11 20:15] jhux2 commented on #7426
@cgcgcg This is now possible via the `AT: PRE-TEST INSPECTED` tag.

[2022-01-11 20:15] #7426 closed

[2022-01-11 20:17] jhux2 commented on #10049
@WhiteFang13 I'm going to close this issue as answered.  Please reopen if you still have questions.

[2022-01-11 20:17] #10049 closed

[2022-01-11 20:25] rppawlo commented on #10071
That does not have the fix. The fix went in on Jan 5th, need a trilinos with this commit ff3e9635de94862b

[2022-01-11 20:56] dridzal commented on #10071
Thanks @rppawlo.  @jwillenbring : We don't need this right away, so you don't have to rush a potential fix.  We will need a master including ff3e963 by the end of next week.

[2022-01-12 09:27] WhiteFang13 commented on #10049
Thanks a lot for the answer! I am thinking about it, so have not written the next comment. Okay, if it is needed, I'll re-open the issue.

[2022-01-12 12:25] #7035 closed

[2022-01-12 12:28] #1612 closed

[2022-01-12 12:28] #6902 closed

[2022-01-12 12:28] #6933 closed

[2022-01-12 12:28] #6937 closed

[2022-01-12 12:28] #6940 closed

[2022-01-12 12:28] #6977 closed

[2022-01-12 12:28] #6996 closed

[2022-01-12 12:28] #7005 closed

[2022-01-12 12:28] #7008 closed

[2022-01-12 12:28] #7011 closed

[2022-01-12 13:27] slavakung commented on #10058
In the script, I have

cmake \
-DCMAKE_C_COMPILER=/usr/bin/gcc \
-DCMAKE_CXX_COMPILER=/usr/bin/g++ \
-DCMAKE_Fortran_COMPILER=/usr/bin/gfortran \
-DTrilinos_ENABLE_ALL_PACKAGES=OFF \
-DTrilinos_ENABLE_ROL=ON \
-DTrilinos_ENABLE_ALL_OPTIONAL_PACKAGES=OFF \
-DTrilinos_ENABLE_TESTS=ON \
-DCMAKE_INSTALL_PREFIX=/home/slava/Documents/Trilinos-build/ \
-DTrilinos_SET_GROUP_AND_PERMISSIONS_ON_INSTALL_BASE

[2022-01-12 15:46] etphipp opened #10076 "Piro: Implicit test dependency on Amesos"
If I enable Piro and its tests without enabling Amesos, I get a number of errors:
[code]
Explicitly enabling Amesos resolves the errors, so Amesos needs to be added as a required test dependency in `piro/cmake/Dependencies.cmake`, or as an optional test dependency with the above tests conditionally disabled if Amesos is not present.

@trilinos/piro

[2022-01-12 16:21] cgcgcg commented on #10058
Source dir is where you cloned the Trilinos repo to. Build dir is the folder in which you call `cmake`. Install dir is what you pass as `CMAKE_INSTALL_PREFIX`. This is where the completed build will be installed, not where it will be built. You need to call `make` in you build dir.

[2022-01-12 16:28] #8306 closed

[2022-01-12 17:10] ccober6 commented on #6933
I missed earlier notices on this, but Tempus does have a deliverable this year for this, so reopening.

[2022-01-12 18:58] gsjaardema commented on #10059
In the version of `ex_open_par.c` that I look at, it checks whether `PARALLEL_AWARE_EXODUS` is defined.  This is defined in `exodusII.h` as:
[code]

This is with the current source of SEACAS in Trilinos...  I guess I'm not seeing what you are seeing...

[2022-01-12 19:21] bartgol commented on #10059
So, we see this error
[code]
which is thrown if the file is "serial" (classic netCDF), but we want to open it in parallel, which requires PnetCDF, correct?

So the macro `PARALLEL_AWARE_EXODUS` for us is ON, which, given the error, means NC_HAS_PARALLEL is on, but PnetCDF is not present, which means that parallel support was enabled in netcdf (via `ENABLE_PARALLEL4`/`ENABLE_HDF5_PARALLEL` and `ENA

[2022-01-12 19:39] gsjaardema commented on #10059
If you have a classic (non-netcdf-4, non-hdf5-based) file, then you need PnetCDF to open that file in parallel.  If you have a netcdf-4 based file (which uses HDF5 as the on-disk storage format), then the HDF5 library is used to do the parallel reads and writes.

`NC_HAS_PARALLEL` just signifies that at least one of HDF5 and/or PnetCDF is present, but is not enough to guarantee that any of the net

[2022-01-12 19:40] bartgol commented on #10059
Ok, that makes sense.

Thanks!

[2022-01-12 19:40] #10059 closed

[2022-01-12 21:32] mperego opened #10078 "ShyLu: remove calls to Xpetra deprecated code from FROSch"
## Enhancement
@trilinos/shylu

There is a call to DeviceLocalView() on an Xpetra multivector, without providing any of the Xpetra::Access::zyx read/write structs:
https://github.com/trilinos/Trilinos/blob/master/packages/shylu/shylu_dd/frosch/src/CoarseSpaces/FROSch_CoarseSpace_def.hpp#L223
The code fails when Trilinos is built with
[code]

This error appears when building Albany (see https://git

[2022-01-13 10:08] nrsharan opened #10080 "Ifpack2: Build fails due to const_cast"
## Bug Report
@trilinos/ifpack2

### Description
While trying to build trilinos/ifpack2, I am met with the following error:

[code]
The same also occurs at
[code]
It looks similar to #6621.

This is my first time trying to build trilinos, so I might be doing something wrong, so please bear with me. Any help is greatly appreciated!

Thanks in advance and stay safe!

### Steps to Reproduce
1. SHA1:

[2022-01-13 15:11] cgcgcg commented on #10080
@trilinos/ifpack2

[2022-01-13 16:01] cgcgcg commented on #10080
@nrsharan  Could you try the develop branch to see if that problem is still there?

[2022-01-13 16:49] bartlettroscoe opened #10081 "Set LINK_LIBRARIES_ONLY_TARGETS=TRUE by default and verify Trilinos is clean with CMake 3.23+"
As discussed in https://github.com/TriBITSPub/TriBITS/issues/299#issuecomment-1012312724, CMake 3.23 will learn the option `LINK_LIBRARIES_ONLY_TARGETS` that if set to `TRUE`, will help catch errors when linking against undefined targets.  With the updated TriBITS, raw library names for external packages/TPLs are no longer directly passed to `target_link_libraries()` and therefore, unless people a

[2022-01-13 22:48] nrsharan commented on #10080
@cgcgcg I tried it on the current develop branch and it throws the same error, at the same location.

[2022-01-14 07:52] slavakung commented on #10058
I made a new directory "Tril" and ran the cmake command above from that directory and then switched to "Trilinos" and ran make -j install and received the usual error:

collect2: error: ld returned 1 exit status
make[2]: *** [packages/rol/adapters/teuchos/test/sol/CMakeFiles/ROL_adapters_teuchos_test_sol_solTeuchosBatchManager.dir/build.make:109: packages/rol/adapters/teuchos/test/sol/ROL_adapters

[2022-01-14 15:08] spdomin opened #10086 "Nalu diffs; failed bisect due to file INSTALL/Kokkos-Kernels"
## Bug Report
@trilinos/\<PackageName\>

### Description
We have a number of Nalu diffs this morning. However, when I attempt to perform a bisect, I am noting a failed installation:

CMake Error at packages/kokkos-kernels/src/cmake_install.cmake:45 (file):
  file INSTALL cannot find
  "/home/spdomin/gitHubWork/nightlyBuildAndTest/Trilinos/packages/kokkos-kernels/src/blas/impl/KokkosBlas_util.hpp":

[2022-01-14 17:18] cgcgcg commented on #10080
@nrsharan Could you pull from develop once more and try again?

[2022-01-14 17:20] jhux2 commented on #10086
@trilinos/kokkos-kernels @ndellingwood @srajama1

[2022-01-14 17:36] jhux2 commented on #10086
@spdomin There aren't a lot of commits between `ea1e91e` and `be781e8`:

https://github.com/trilinos/Trilinos/commits/develop

Looking in that range, one possible reason for the diff could be https://github.com/trilinos/Trilinos/commit/527e5c342119758cf22409a69c4b2fa508c0a12c which came from PR #10028.  Are you able to revert that one PR to see if the diffs go away?

[2022-01-14 17:38] jhux2 commented on #10086
Also, how significant are the diffs?

[2022-01-14 17:46] spdomin commented on #10086
@jhux2, typical small diffs that we see from Trilinos changes now and then:

dgNonConformalThreeBlade........... FAILED:   s  max diff:  .00000010000000000000243069453454

However, localized to a certain subset of tests. Most all of our regression tests use Muelu + GMRES. No obvious pattern, however, I have not studied the set of tests and capability touched.

The bisect noted @brian-kelley

commi

[2022-01-14 17:48] spdomin commented on #10086
Oh, this is a standard gcc 8.4.0 open MPI 4.0.5 build.

86e35b6684e7bd28b57b97078d012cd5a730d8ba is the first bad commit
commit 86e35b6684e7bd28b57b97078d012cd5a730d8ba

[2022-01-14 18:01] jhux2 commented on #10086
I could absolutely believe that BLAS changes would lead to small differences in dot products due to order of operations, which would then percolate up to GMRES and elsewhere.  I'll let the Kokkos-Kernels team weigh in, though.

[2022-01-14 18:07] nrsharan commented on #10080
@cgcgcg I tried after pulling in the develop branch, and this is what I see:

[code]

[2022-01-14 18:23] cgcgcg commented on #10086
In order to merge #10028, some tests in Anasazi had to be modified, since computing the same norm in slightly different ways didn't give identical results anymore. Instead, they now had an O(eps) difference.

[2022-01-14 19:10] cgcgcg commented on #10080
I finally managed to trigger that compile error. In case you don't need `Trilinos_ENABLE_ShyLU_NodeFastILU:BOOL=ON` you can get past the issue.

[2022-01-14 19:15] cgcgcg opened #10087 "ShyLu/Ifpack2: FastILU does not compile"
## Bug Report
@trilinos/shylu @trilinos/ifpack2

### Description
Building with
[code]
leads to compile errors, as discovered in #10080. I tried fixing this in #10084 before I could reproduce the issue. It seems that none of our builds enable this combo.

[2022-01-14 19:23] spdomin commented on #10086
As long as everyone agrees that the new changes are both 1) correct, and 2) leaves the code base in a more desirable state, then we are happy to re-bless and move forward.

[2022-01-14 19:32] jhux2 commented on #10086
I agree with both.

[2022-01-14 20:06] spdomin commented on #10086
Great. @wjhorne could you please Robles’s and issue a PR? Thanks to all.

[2022-01-14 20:10] wjhorne commented on #10086
I'll get the PR through soon, thanks all for the quick turn around on this

[2022-01-14 21:25] dridzal commented on #10058
@slavakung : Is there a specific reason that you are not running make in the newly created 'Tril' build directory?  I'll explain how this should typically work:

Suppose your Trilinos source code is in the `Trilinos` directory.  We'll place the build directory inside of it, for simplicity (although it could be a completely separate directory as well).

[code]

So you should stay in the build direc

[2022-01-14 22:08] ztdepztdep opened #10088 "Aztec: recursive residual indicates convergence though the true residual is too large."
I am solving a Helmholtz problem with the multiblock spectral collocation method based on the Aztec gmres method and ifpack as preconditioner and I met the following problem.

`                ***** Problem: Epetra::CrsMatrix
                ***** Preconditioned GMRES solution
                ***** Epetra::Object
                ***** No scaling
                ************************************

[2022-01-14 22:31] srajama1 commented on #10087
Looks like this was not enabled in any builds and the View types are almost identical (FASTILU requires Serial). The better fix is in ShyLU FASTILU and we need to enable this option in at least some builds.

[2022-01-14 22:57] cgcgcg commented on #10088
How big is the problem? The implicit residual seems to converge pretty fast. That makes me think that the problem isn't that big. On the other hand, the initial residual is gigantic. What kind of preconditioner are you using?

[2022-01-14 23:52] spdomin commented on #10086
We have the PR part of the code base. Once we have a clean nightly result, we can close this ticket. Stay tuned.

https://github.com/NaluCFD/Nalu/pull/571

[2022-01-15 12:26] #3430 closed

[2022-01-15 12:53] spdomin commented on #10086
Blast. Something non ideal is happening:

Yesterday: 81% tests passed, 14 tests failed out of 75

Today: 61% tests passed, 29 tests failed out of 75

it’s not clear if Wyatt’s code change was off or there are new Trilinos changes.

[2022-01-15 12:58] slavakung commented on #10058
I had tried this, this is the full output:

(base) slava@slava:~/Documents/Tril$ cmake \

Configuring Trilinos build directory

-- PROJECT_SOURCE_DIR='/home/slava/Documents/Trilinos/Trilinos-master'
-- PROJECT_BINARY_DIR='/home/slava/Documents/Trilinos'
-- Trilinos_TRIBITS_DIR='/home/slava/Documents/Trilinos/Trilinos-master/cmake/tribits'
-- TriBITS_VERSION_STRING='0.9 (Dev)'
-- CMAKE_VERSION='3.2

[2022-01-15 15:14] wjhorne commented on #10086
I’ll check it here again in a bit. I did verify a clean set of tests before the pr but maybe something was off on my end in the install

[2022-01-15 17:13] wjhorne commented on #10086
I believe the additional diffs are not another issue on the Trilinos side. There was a simple Trilinos install issue on my end that I have identified that caused the issue. I fixed it and will submit a re-bless PR after I have double checked it all for certainty. Apologies for the trouble.

[2022-01-15 17:29] dridzal commented on #10058
@slavakung : I'm not sure what `make -j install` does.  Typically -j is used to specify the number of processes with which to build, e.g., `make -j4 install`.  Can you just try `make` ?

[2022-01-15 19:48] dridzal commented on #10058
@slavakung :  I tried to recreate your issue on my system, and I can't.  Everything works fine.  Please follow these directions.

Assuming Trilinos is your source directory (where you cloned the repo):

[code]

where you should adjust 8 to the number of processes you want to use for the build.

The cmake script I ran was

[code]

So this is virtually identical to your cmake command, except for the

[2022-01-15 20:19] spdomin commented on #10086
Wyatt. Please 1) revert the old commit (I suppose I can do that - whoever is first), 2) re-run the test suite to ensure you see 14 fails, and 3) re-bless only 14 tests. If you don't revert, then you will have to accept all 29 - facilitating churn in the regression test and a possibly slip in missing a diff.

[2022-01-16 02:32] ztdepztdep commented on #10088
I use ILUk(2) preconditioner. The problem size is not big.  we have 4 blocks each block has  an order of 16 .
The order of Checbyshev polynomial is 16 which means each point has 32 neighbors for 2D possion  roblems.

[2022-01-16 18:27] cgcgcg commented on #10088
Since it's a small problem, could you have a look at the spectrum and make sure it's non-singular? Have you checked the condition number? Have you tried running without the preconditioner?

[2022-01-17 10:43] slavakung commented on #10058
I tried as you wrote. It does not seem to create a make file

base) slava@slava:~/Documents/Trilinos/build$ cmake \

Configuring Trilinos build directory

-- PROJECT_SOURCE_DIR='/home/slava/Documents/Trilinos/Trilinos-master'
-- PROJECT_BINARY_DIR='/home/slava/Documents/Trilinos'
-- Trilinos_TRIBITS_DIR='/home/slava/Documents/Trilinos/Trilinos-master/cmake/tribits'
-- TriBITS_VERSION_STRING='0.9 (

[2022-01-17 14:45] cgcgcg commented on #10058
Could you remove `-DTrilinos_SET_GROUP_AND_PERMISSIONS_ON_INSTALL_BASE_DIR=/home/slava/Documents/ ` and try again?

[2022-01-17 15:27] spdomin commented on #10086
After PR: https://github.com/NaluCFD/Nalu/pull/573

We note: 100% tests passed, 0 tests failed out of 14 on,

Nalu GIT Commit SHA: 614a9e41180f87d782482b571a52ee922cb278d0
Trilinos Version: 13.1-ga5a5bf9a6f1

[2022-01-17 15:27] #10086 closed

[2022-01-17 16:08] slavakung commented on #10058
Same result

[2022-01-17 16:29] vbrunini commented on #7561
This is still a problem (and maybe related to #9606 ?) and should not get closed.

[2022-01-17 16:51] cgcgcg commented on #10058
Have you tried completely deleting build, install and source dirs and starting from a new clone?

[2022-01-17 18:16] jhux2 opened #10090 "MueLu: memory leaks in structured grid code"
## Bug Report
@lucbv @pohm01 @mayrmt @rstumin

### Description
The nightly Valgrind checks aren't clean for some of the structured grid tests.

See [the dashboard](https://testing.sandia.gov/cdash/index.php?project=Trilinos&subproject=MueLu&filtercount=2&showfilters=0&filtercombine=and&field1=groupname&compare1=64&value1=CLEAN&field2=block&field2count=1&field2field1=groupname&field2compare1=64&fie

[2022-01-17 20:35] dridzal commented on #10058
@slavakung : There are issues with the directory locations.  Let me recap and clarify.  Please follow as written.

[code]

where you should adjust 8 to the number of processes you want to use for the build.

In your case it appears that `Trilinos-master` is your source directory, rather than `Trilinos`.  Also, the build directory is different from `Trilinos/build`.  Compare your configure output

[2022-01-17 21:15] jhux2 commented on #7536
#7562 has been merged.

[2022-01-17 21:15] #7536 closed

[2022-01-17 22:21] kliegeois commented on #9500
@kddevin @egboman
I am still investigating the Albany side but I have a small question.
When using the symmetry option of Zoltan, does Zoltan guarantee that the reconstructed matrix is symmetric even if the used operator might not be?

To rephrase that, if `V` is the seed matrix and `H` an operator that might not be symmetrical, given `H(V)` do Zoltan compute `H` based on something such as `H = H(

[2022-01-17 22:51] kddevin commented on #9500
Hi, @kliegeois
All of the symmetry options have to do with the input graph to be colored.
Users can tell us that the graph is "symmetric", in which case we use it as-is in coloring.  Other keywords (e.g., matrixType = Jacobian) also indicate non-symmetry of the input graph.
Users can also request that we symmetrize a graph, and can specify which symmetrization to use.
The symmetrize options do not

[2022-01-17 23:31] rohany opened #10094 "tpetra: issues building TPetra with GPU support"
## Question
@trilinos/tpetra

I'm running into some problems building tpetra with GPU support. I'm running cmake as follows:

[code]

and seeing the following error when building Kokkos:

[code]

This happens to me on master as well as trilinos-release-13-2-branch.

[2022-01-17 23:39] kliegeois commented on #9500
@kddevin thanks for the comment!

I think that the issue can be closed then.
I tried what we discussed today, to replace the evaluation of `H(v_i)` by:
[code]
and the result is now symmetrical with the non-contiguous map.
I tried something like this earlier last year before the creation of the issue and that was not the case.
This implies that there is no more issue on the Zoltan side regarding th

[2022-01-17 23:39] #9500 closed

[2022-01-18 02:01] cgcgcg commented on #10094
Just a guess, but try setting
[code]
where `TRILINOS_DIR` is your Trilinos source tree. (That's assuming you're using OpenMPI.)

[2022-01-18 03:54] rohany commented on #10094
That didn't appear to do anything. I also just tried a fresh build (deleting my trilinos directory and recloning), and now I see this error:

[code]

I can't tell if the build got further or got stuck earlier.

[2022-01-18 06:24] PhilMiller opened #10097 "Panzer: Intel 2021.3.0 compiler fails with "internal error: 101003_1112" on packages/panzer/disc-fe/test/evaluator_tests/normals.cpp"
## Bug Report
@trilinos/panzer

### Description

I'm attempting to compiler Trilinos as configured for EMPIRE using the Intel 2021.3.0 compilers. The build fails thusly:

[code]

### Steps to Reproduce
1. SHA1:  Trilinos 155e45e86c2bc576f2802bc84db69b44f43d6c2c

[code]

1. Build log:

[2022-01-18 06:37] PhilMiller commented on #10097
After preprocessing the file to a self-contained test case with `-E`, I can reproduce the failure with just `icpc -xCORE-AVX2  -g -fPIE -std=c++14  -c normals.cpp`. When I drop the detailed arguments, the compiler succeeds. so that should ease bug isolation a bit.

[2022-01-18 06:39] PhilMiller commented on #10097
Just ` icpc -xCORE-AVX2   -c normals.cpp` fails, so there's something wrong in optimization or code generation

[2022-01-18 06:40] PhilMiller commented on #10097
`icpc -O0 -xCORE-AVX2   -c normals.cpp ` succeeds

[2022-01-18 06:42] PhilMiller commented on #10097
The compiler succeeds with `-O1` and fails with `-O2`

[2022-01-18 06:44] PhilMiller commented on #10097
I'll see if I can reproduce this on a faster, less shared machine, so I can start running CReduce on it.

[2022-01-18 06:51] PhilMiller commented on #10097
At the very end of the file, if I comment as follows compilation still fails:
[code]
If I comment the other instantiation instead, compilation succeeds

[2022-01-18 06:56] PhilMiller commented on #10097
There's at least some target specificity to the failure, maybe in vectorization, because if I run `-O2` without `-xCORE-AVX2` then it passes. I suspect it's not an issue in code generation, because failures take ~18 s, while successes take ~48 s.

[2022-01-18 06:59] PhilMiller commented on #10097
I can remove the explicit template specialization, and just leave the subsequent instantiation, and it still fails

[2022-01-18 07:14] PhilMiller commented on #10097
Inlining the `JacobianType` typedef preserves the failure.

[2022-01-18 08:00] PhilMiller commented on #10097
Further reduction reports to come.

[2022-01-18 16:12] PhilMiller commented on #10097
There's some environment variable dependence, since just running the compiler directly reports syntax errors, while loading the module and then running it hits the internal error.

[2022-01-18 16:16] PhilMiller commented on #10097
In response to queries from @rppawlo about memory usage, I ran under `/usr/bin/time`, and found a maximum resident set size of 1.2 GB, which should pose no problem on the system with 128 GB total. I also didn't see the virtual memory size blowing up in `top`.

[2022-01-18 16:26] PhilMiller commented on #10097
I've cleared up the environment dependence by passing the relevant GCC compatibility flag, so that it doesn't pick up the ancient 4.8.5 from the bare `PATH`.

[2022-01-18 16:56] jhux2 commented on #10097
@trilinos/panzer

[2022-01-18 17:03] jhux2 opened #10098 "MueLu: structured grid tests fail due to diffs"
## Bug Report
@lucbv @pohm01 @mayrmt @rstumin

### Description
As seen in the [experimental builds on geminga](https://testing.sandia.gov/cdash/index.php?project=Trilinos&subproject=MueLu&filtercount=2&showfilters=0&filtercombine=and&field1=groupname&compare1=64&value1=CLEAN&field2=block&field2count=1&field2field1=groupname&field2compare1=64&field2value1=PULL%20REQUEST), a number of structured-gri

[2022-01-18 17:39] pohm01 commented on #10098
Gold files issues might be related to #9377

[2022-01-18 19:09] e4t opened #10100 "TriBITS: cmake gets incorrect Trilinos_INCLUDE_DIRS on installed System"
## Bug Report
@trilinos/TriBITS

### Description
When <project_name>__INSTALL_LIB_DIR and <project_name>_INCLUDE_DIR are of different path type (ie relative/absolute) or have a different root paths, the logic in `cmake/tribits/core/package_arch/TribitsWriteClientExportFiles.cmake` to determine the <package_name>_INCLUDE_DIRS for <package_name>Config_install.cmake may be wrong.
Reason: The path is

[2022-01-18 20:16] kddevin commented on #9939
@shardest  were you able to get more info for @tjfulle?  or is this issue no longer needed?

[2022-01-18 20:17] kddevin commented on #9944
@blsteve may I close this issue as resolved?

[2022-01-18 20:17] kddevin commented on #9937
@csiefer2 OK to close this issue?

[2022-01-18 20:21] blsteve commented on #9944
I think so.
I haven't had time to come back to this in a while.

[2022-01-18 20:21] #9944 closed

[2022-01-18 20:22] kddevin commented on #9500
Thank you, @kliegeois

[2022-01-18 20:34] kddevin commented on #10043
I suspect this is a one-off error.  The test passed, but the output got mangled so that the test harness couldn't find the "PASS" keyword.
If this problem persists, let me know and we'll reduce the amount of output.
@jwillenbring @e10harvey

[2022-01-18 20:34] #10043 closed

[2022-01-18 21:53] jhux2 commented on #10100
@bartlettroscoe

[2022-01-18 22:02] bartlettroscoe commented on #10100
@e4t, thanks for reporting this.  I am in the middle of refactoring this code as part of a larger refactoring (see Epic TriBITSPub/TriBITS#367) and I will take a look at this.  But note that newer versions of TriBITS/Trilinos are moving to modern CMake targets where client CMake projects will just be linking to IMPORTED targets which know about their include directories.  See:

* https://tribits.o

[2022-01-19 01:18] PhilMiller commented on #10097
The full set of things I've changed to drive the build to completion on Intel 2021.3.0 can be found here:
https://github.com/PhilMiller/Trilinos/tree/pm/intel19

[2022-01-19 02:56] PhilMiller commented on #10097
The code as modified to work around the compiler failure in that one test passes the rest of the suite run by `ctest`

[2022-01-19 05:47] tjfulle commented on #10008
I believe I found the issue.  In [unpackAndCombineWithOwningPIDsCount ](https://github.com/trilinos/Trilinos/blob/fff6f703da27afbfb95dd50e01c21370b1270d24/packages/tpetra/core/src/Tpetra_Details_unpackCrsMatrixAndCombine_def.hpp#L1417) the `TargetPids` array will be set to -1 for locally owned entries.  This is interpreted by other procedures to mean "these PIDs are unknown".  After the call to `u

[2022-01-19 08:04] e4t commented on #10100
@bartlettroscoe, thanks for the feedback! I've read about the TriBITS restructure: from what I read in the CMake documentation using the export/import mechanism seems to address the relocatable package issue in a more consistent manner without requiring extra logic. So this issue may be moot.

[2022-01-19 12:25] #7024 closed

[2022-01-19 12:25] #7032 closed

[2022-01-19 12:25] #7034 closed

[2022-01-19 12:25] #7053 closed

[2022-01-19 12:25] #7057 closed

[2022-01-19 12:25] #7058 closed

[2022-01-19 12:25] #7063 closed

[2022-01-19 12:25] #7090 closed

[2022-01-19 12:25] #7112 closed

[2022-01-19 13:48] slavakung commented on #10058
Thank you. Indeed after deleting all of the directories and then starting from scratch with these commands, it appears that it performed cmake and make install without error.

And now is everything set to go to use ROL? I recall I had to turn off installing other libraries, if at the moment I would only like to use this solver, is there a point of concern, as in are there some other packages I sho

[2022-01-19 15:41] dridzal commented on #10058
@slavakung : I'm glad that worked.  ROL should be ready to use.  Note that this install won't include interfaces to other Trilinos packages.  If you don't need them, then you're all set.  I recommend using the ROL 2.0 interfaces.  The older code will be deprecated later this year.  Please see

https://github.com/trilinos/Trilinos/blob/master/packages/rol/Version-2.0.md

While this document is spec

[2022-01-19 15:41] #10058 closed

[2022-01-19 15:45] shardest commented on #9939
I contacted the SD developers who reported it, and they said that they have a workaround and no time to mess with this, so I'll close it.

[2022-01-19 16:09] bartlettroscoe commented on #10100
@e4t, also related to this issue is the item "Use standard install locations defined by the standard `GNUInstallDirs.cmake` module" as part of the Epic TriBITSPub/TriBITS#411.  Adopting that CMake standard will break backwards compatibility but will also be part of solving the relocatable installs problem.

[2022-01-19 18:39] cgcgcg commented on #10094
For CUDA builds, we need to use the compiler wrapper packages/kokkos/bin/nvcc_wrapper. Trilinos builds using the mpicxx, so by setting `OMPI_CXX` we point the MPI compiler wrapper to nvcc_wrapper. In your log above, it looks like that didn't happen, and so Kokkos complains about the compiler being GNU directly. I believe you should be able to find the actual call in CMakeFiles/CMakeOutput.txt or C

[2022-01-19 19:51] rohany commented on #10094
That makes sense, but that export doesn't appear to be doing anything:

[code]

still gives the same error.

[2022-01-19 20:00] rohany commented on #10094
[code]

[2022-01-19 20:06] cgcgcg commented on #10094
Ah, you're on lassen :-) Try to also set `export LLNL_USE_OMPI_VARS=Y`.

[2022-01-19 23:22] rohany commented on #10094
That looks like it worked to build Trilinos! However, now when I want to use this Trilinos installation to build other projects, I have to set LLNL_USE_OMPI_VARS and OMPI_CXX before running make in this projects. Is this intentional? I don't want to have to set this in my environment, as I don't want to use that compiler for unrelated projects, and it seems like this should be picked up by the var

[2022-01-19 23:32] cgcgcg commented on #10094
In your log above, it looks like the GNU compiler is called directly, instead of nvcc-wrapper. I don't think Trilinos actually knows that you asked the MPI compiler wrapper to use nvcc, apart from the check on the compiler ID.

[2022-01-19 23:36] rohany commented on #10094
So is the answer that I need to set LLNL_USE_OMPI_VARS and OMPI_CXX before running make in my separate project? I don't know what setting those variables does in the Trilinos build.

[2022-01-19 23:39] rohany commented on #10094
Another question: given a GPU build of trilinos, how do I enable useage of the GPUs / tell that the gpus were indeed used? I can't find any documentation on this matter.

[2022-01-19 23:39] cgcgcg commented on #10094
I believe so. `OMPI_CXX` sets the compiler that is used when you call `mpicxx`. On LLNL systems, you also need `LLNL_USE_OMPI_VARIABLES` for that to happen. This does not change anything internally for Trilinos, other than an additional wrapper will be applied to the compiler.

[2022-01-19 23:42] cgcgcg commented on #10094
The `Node` template parameter of Tpetra objects decides where they live. I'd use nsight or something like that to check that things run as you'd expect.

[2022-01-20 11:28] searhein opened #10111 "TriBITS: Specific CXX_FLAGS for FROSch"
## Question

Is there a way of adding some CXX_FLAGS only for FROSch, such as

[code]
?

[2022-01-20 14:29] rppawlo opened #10112 "Tpetra: TpetraCore_CrsMatrix_Bug7745_MPI_4 is radomly failing"
## Bug Report
@trilinos/tpetra @kddevin

### Description
Pull request #10102  failed due to a tpetra test failure. It looks like the output "TEST PASSED" is being cutoff due to multiple mpi processes printing at the same time. The actual test passed but the string check failed:

https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filter

[2022-01-20 17:47] PaulMullowney opened #10113 "Trilinos failing to compile on Summit (gcc 10.2.0 cuda 11.3.1)"
SHA: dd53a1e0f
Using gcc/10.2.0 and cuda/11.3.1

[ 80%] Building CXX object packages/stk/stk_expreval/stk_expreval/CMakeFiles/stk_expreval.dir/Function.cpp.o
/gpfs/alpine/cfd116/scratch/mullowne/Trilinos/packages/seacas/libraries/ioss/src/text_mesh/Iotm_TextMeshUtils.h: In instantiation of 'const std::vector<double>& Iotm::text_mesh::Coordinates<EntityId, Topology>::operator[](EntityId) const [wit

[2022-01-20 17:57] alanw0 commented on #10113
This build output seems to be a little garbled, as stk_expreval doesn't include nor have anything to do with Iotm_TextMeshUtils.h.
However, perhaps @tokusanya can take a look at the TextMesh issue.

[2022-01-20 20:00] jhux2 commented on #10113
@PaulMullowney I'm able to compile Trilinos develop https://github.com/trilinos/Trilinos/commit/a5a5bf9a6f118b6bfc886e697e6c1a10c355b68f (with the patch https://github.com/kokkos/kokkos/pull/4673 applied) on Summit with gcc 10.2.0 and CUDA 11.3.1.

[2022-01-20 20:10] PaulMullowney commented on #10113
With a serial build:

[ 31%] Building CXX object packages/seacas/libraries/ioss/src/text_mesh/CMakeFiles/Iotm.dir/Iotm_TextMesh.C.o
/gpfs/alpine/cfd116/scratch/mullowne/Trilinos/packages/seacas/libraries/ioss/src/text_mesh/Iotm_TextMeshUtils.h: In instantiation of 'const std::vector<double>& Iotm::text_mesh::Coordinates<EntityId, Topology>::operator[](EntityId) const [with EntityId = long int; Top

[2022-01-20 20:10] PaulMullowney commented on #10113
@jhux2 I'll try that commit

[2022-01-20 21:10] rohany commented on #10094
Thanks for your help @cgcgcg, I think I have everything up and running on my end now.

[2022-01-20 21:10] #10094 closed

[2022-01-20 21:23] ccober6 opened #10114 "Tempus: Time-Integration Capabilities for Changing Meshes"
## Enhancement
@trilinos/tempus

Ability to time-integrate solutions when meshes are adapting and changing.

This comes from an Albany use-case (@lxmota and @ikalash): "[There] is a separate implementation of a time-stepper for a second-order-in-time ODE (the Trapezoidal Rule) found in Piro.", and "We are using it for some Arctic erosion problems ... with adapted meshes."

[2022-01-20 23:44] #8634 closed

[2022-01-20 23:45] #8484 closed

[2022-01-20 23:46] #8480 closed

[2022-01-21 15:01] PaulMullowney commented on #10113
That commit doesn't build for me with gcc 10.2.0. Same error. SHA dd53a1e, which is more recent, builds with 9.3.0.
@jhux2 Can you send me your cmake line? I'm using exawind-builder to configure/build.

[2022-01-21 16:37] Adrian-Diaz commented on #9659
No troubles on this front for a while. Thanks for the help.

[2022-01-21 16:37] #9659 closed

[2022-01-21 17:30] cgcgcg commented on #10111
@bartlettroscoe

[2022-01-21 17:33] cgcgcg commented on #9979
I ran the test case provided by @searhein on one of our systems, but cannot observe a similar behavior. @jennloe What kind of debug options can we add to or enable in Belos to help @searhein to pin down what is happening?

[2022-01-21 17:45] bartlettroscoe commented on #10111
Take a look at "Options can also be targeted to a specific TriBITS package using" at:

* https://docs.trilinos.org/files/TrilinosBuildReference.html#adding-arbitrary-compiler-flags-but-keeping-default-build-type-flags

It is not clear from that documentation if that only works at the parent package level or will also work at the sub-package level as well.  We would have to check.   If it is not su

[2022-01-21 18:21] searhein commented on #10111
@bartlettroscoe Thanks for the quick reply!

It worked for `ShyLU_DD_CXX_FLAGS` but it did not for `ShyLU_DDFROSch_CXX_FLAGS`. Hence, it seems to be related to the fact that FROSch is a subpackages. However, it would be great if this would be possible. The reason is that I would like to enable warnings and turn them into errors for compiling FROSch locally. If I did that now, I would get the same

[2022-01-21 18:25] searhein commented on #9979
@cgcgcg @jennloe I would be happy to run another test on the same machine to figure out what the problem is. However, my computing time there is limited, such that I cannot do extensive testing.

(Of course, I can use CG for now, but it would be great to figure out what the problem is)

[2022-01-21 18:52] ccober6 opened #10116 "Tempus: Fix Errorenous Warning from TimeEventComposite."
## Bug Report
@trilinos/tempus

### Description
@etphipp reported getting a new warning in SPARC after update:

Should call add() with this (app-specific?) Time Event.

It was also noted that "Sparc is not creating a “Time Step Control Events” sublist or creating any kind of composite time event.  ... Tempus is creating this on its own somewhere?"

### Steps to Reproduce
- Some Tempus IntegratorBa

[2022-01-21 23:19] PaulMullowney commented on #10113
I can build with gcc 10.2.0 and cuda 11.1.1, but not 11.3.1

[2022-01-21 23:34] Adrian-Diaz opened #10119 "MueLu: optimization question"
## Question
@trilinos/\<muelu\>

Greetings,

I noticed in the user guide, https://trilinos.github.io/pdfs/mueluguide.pdf, that I hadn't tried two options that might improve performance; turning on single reduction in Belos and reusing my matrix graph since it never changes.

Regarding the single reduction, is this turned on by default? if not is there an example paramlist doing so?

As for the reu

[2022-01-22 00:19] cgcgcg commented on #10119
Single reduction is off by default. You can pass "Use Single Reduction" = true to BelosBlockCG.

How are you creating the MueLu preconditioner? Are you using `CreateXpetraPreconditioner`, or the Stratimikos interface?

[2022-01-22 00:27] cgcgcg commented on #10065
@jennloe Could this be an issue with complex and multiple RHS? In what way do the BLAS calls change compared to a single RHS? Maybe some complex transpose isn't hooked up correctly somewhere?

[2022-01-22 00:32] dridzal commented on #10065
@cgcgcg : @hkthorn has narrowed down the issue to the Householder transform that is used to solve the least-squares system for block RHS.

[2022-01-22 00:34] cgcgcg commented on #10065
Nice, thanks for the update!

[2022-01-22 02:28] Adrian-Diaz commented on #10119
Thanks for the info. I'm using the Driver Core routine "PreconditionerSetup" which seems to use the xpetra constructor for the Hierarchy H, I'm actually not sure what its doing with the preconditioner pointer Prec. Maybe it was never being used; I just mirrored the Driver example and passed both H and Prec in.

[2022-01-22 02:38] cgcgcg commented on #10119
Oh, are you using this:
https://github.com/trilinos/Trilinos/blob/5a67b70fb3816e1cea26554c650b4dc7ca26747d/packages/muelu/test/scaling/Driver.cpp#L468

[2022-01-22 02:39] Adrian-Diaz commented on #10119
Yes that one.

[2022-01-22 02:44] cgcgcg commented on #10119
Ok. Yeah, that one isn't very transparent. What you probably want to do is this:
https://github.com/trilinos/Trilinos/blob/5a67b70fb3816e1cea26554c650b4dc7ca26747d/packages/muelu/test/scaling/DriverCore.hpp#L211-L217
(Remove line 216, that's not needed.)
That should set up a MueLu::Hierarchy object for you.

Once you modify your matrix, you can modify the preconditioner by calling
https://github.c

[2022-01-22 02:52] Adrian-Diaz commented on #10119
I see, so I only need to create H the first time with 211-217 (minus 216) and then pass it to the ReuseXpetraPreconditioner(A, H) routine for every subsequent iteration with the same matrix graph?

[2022-01-22 03:03] cgcgcg commented on #10119
Provided that you're actually changing the matrix entries, yes. Otherwise there is no need to change the preconditioner. `ReuseXpetraPreconditioner` will generate output that looks similar to `CreateXpetraPreconditioner`. Depending on what you select for "reuse: type", it can be significantly shorter. This should also be reflected in the timings.

[2022-01-22 12:24] #7123 closed

[2022-01-22 12:24] #7125 closed

[2022-01-22 12:24] #7130 closed

[2022-01-24 00:05] eleaver commented on #7628
DO_NOT_AUTOCLOSE
It might be useful to attempt a minimal ROL build e.g. with " cmake -D ROL_Ptr:STRING='std::shared_ptr' "

[2022-01-24 00:14] eleaver commented on #7630
DO_NOT_AUTOCLOSE
This issue is fixed with the following patch:
`diff --git a/packages/rol/adapters/eigen/src/vector/ROL_EigenVector.hpp b/packages/rol/adapters/eigen/src/vector/ROL_EigenVector.hpp
index 258a9bc8d09..5346f4da0a7 100644
--- a/packages/rol/adapters/eigen/src/vector/ROL_EigenVector.hpp
+++ b/packages/rol/adapters/eigen/src/vector/ROL_EigenVector.hpp
@@ -69,49 +69,47 @@ private:

   RO