[2018-06-08 17:56] mhoemmen commented on #2845
@keitat I'm closing this issue, but please feel free to reopen or open a new issue if you have further questions.  Thanks!

[2018-06-08 17:56] #2845 closed

[2018-06-08 18:27] mhoemmen commented on #2789
Any update on this issue?

[2018-06-08 18:29] mhoemmen commented on #2836
I read Tpetra's CMake logic a bit, in particular [this file](https://github.com/trilinos/Trilinos/blob/1f66625b666138226fb6412fa19afcc35402b61d/packages/tpetra/CMakeLists.txt#L59).  I also reread #1939.  This made me reevaluate this issue.

  1. Tpetra developers decided to [eliminate the `Node` template parameter](https://github.com/trilinos/Trilinos/wiki/Deprecation1) by FY19.  This means that t

[2018-06-08 18:44] bartlettroscoe opened #2921 "Test TpetraCore_MatrixMatrix_UnitTests_MPI_4 failing in all ATDM Trilinos CUDA builds starting 6/7/2018"
CC: @trilinos/tpetra, @fryeguy52, @kddevin (Data Services Product Lead)

## Next Action Status

Merged PR #2122 looks to have fixed this.  Next: Wait for all CUDA results on 6/11/2018 and then close on 6/12/2018 ...

## Description

As shown in [this query for the test TpetraCore_MatrixMatrix_UnitTests_MPI_4 between 6/5/2018 and 6/8/2018](https://testing-vm.sandia.gov/cdash/queryTests.php?project=

[2018-06-08 18:47] mhoemmen commented on #2236
This is a duplicate of https://github.com/trilinos/Trilinos/issues/664 , which has more discussion, so I'm closing this issue in favor of that one.  Thanks!

[2018-06-08 18:47] #2236 closed

[2018-06-08 18:47] mhoemmen commented on #664
#2236 was a duplicate of this issue.

[2018-06-08 18:50] mhoemmen commented on #2921
The exception is thrown in kokkos-kernels: https://github.com/kokkos/kokkos-kernels/blob/1a7b524ba38fdfab6c1058065af06cbcb4a2ce6f/src/sparse/KokkosSparse_spgemm_handle.hpp#L704

[2018-06-08 18:50] srajama1 commented on #2920
@hkthorn : Can you comment on disabling (and fixing later) these tests on CUDA ?

[2018-06-08 18:53] mhoemmen commented on #2921
There are `SPGEMMAlgorithm` enum values that don't have a corresponding return value in that function.  See e.g., https://github.com/kokkos/kokkos-kernels/blob/1a7b524ba38fdfab6c1058065af06cbcb4a2ce6f/src/sparse/KokkosSparse_spgemm_handle.hpp#L65

[2018-06-08 18:55] bartlettroscoe commented on #2921
CC: @csiefer2,

Looking at the Updates.txt log for the first day this test started failing as shown, for example, at:

* https://testing-vm.sandia.gov/cdash/viewNotes.php?buildid=3589604#!#note0

it seems likely that the breaking change came from one of the following commits:

[code]

If the ATDM APPs are using Tpetra MatrixMatrix functionality, this should be fixed ASAP, or the breaking commits s

[2018-06-08 18:56] mhoemmen commented on #2921
I'll leave the Tpetra label, since this could possibly be an issue of some Tpetra test passing in the wrong algorithm name.

[2018-06-08 18:58] bartlettroscoe commented on #2921
@mhoemmen, I don't see any KokkosKernels changes pulled in the first time this test failed.  All I see are Tpetra changes.  Therefore, this is either a latent bug in KokkosKernels that was triggered by these Tpetra changes or the Tpetra changes are a problem.

Either way, this defect screams for better per-merge-'develop' automated testing that includes CUDA.

[2018-06-08 19:01] bartlettroscoe commented on #2464
FYI: The recent defect issue #2921 caused runtime failures in all of that ATDM CUDA builds.  Therefore, any CUDA auto PR build that runs the tests would have caught this and stopped it from being merged to 'develop' until it got fixed first.

I am going to go ahead and set up a post-push CI build on 'white' that posts to the "Continuous" CDash group and sends out emails.  At least that way we will

[2018-06-08 19:06] bartlettroscoe commented on #2464
But before I can do that, we need to address all of the current failures impacting the `cuda-debug` build on 'white' in the open issues #2921, #2920 and #2827.

[2018-06-08 21:52] srajama1 commented on #2921
Let us give some time for @csiefer2 to comment. It is Friday evening after all :).

[2018-06-10 05:03] csiefer2 commented on #2921
#2922 should fix things

[2018-06-10 14:19] bartlettroscoe commented on #2921
I merged #2122.  We will watch the ATDM builds tomorrow to see if this test passes in the cuda builds.

[2018-06-11 14:18] csiefer2 commented on #2921
How are we looking?  Did I fix it?

[2018-06-11 14:32] bartlettroscoe commented on #2921
@csiefer2, it looks like you did.  We need to wait until all of the CUDA builds complete today before closing this but looking the build `Trilinos-atdm-hansen-shiller-cuda-8.0-debug` on 'hansen' today at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3601955

you can see that all of the Tpetra tests are now passing along with the newly passing test `petraCore_MatrixMat

[2018-06-11 15:17] kyungjoo-kim commented on #2896
@lxmota Do we have a clean dash board ?

[2018-06-11 15:22] ibaned commented on #2896
@kyungjoo-kim Yes, I think the dashboard is clean now. Thank you!

[2018-06-11 15:22] #2896 closed

[2018-06-11 15:30] kyungjoo-kim commented on #2896
Ifpack2 block tridi container is finally done until I (or someone) break it again.

[2018-06-11 15:53] mhoemmen commented on #2891
@ibaned Victor (@vbrunini ) asks whether we've filed a bug with NVIDIA about their linker.  My answer was "probably yes but I'll ask Dan."

[2018-06-11 16:00] ibaned commented on #2891
@crtrott and @nmhamster requested that I develop a reproducer for this bug, so I think they did submit it to NVIDIA.

[2018-06-11 16:32] djfitzgerald commented on #2789
I'm with @mhoemmen... I've got this patch sitting in a folder on my desktop and am itching to make it go away.  @gsjaardema what should be the next steps on this?

[2018-06-11 16:34] djfitzgerald commented on #2781
@mhoemmen close away :-)  Or, well... I will.

[2018-06-11 16:53] mhoemmen commented on #2781
@djfitzgerald Thanks for the PR fix! :D

[2018-06-11 16:57] mhoemmen commented on #2789
@djfitzgerald I'm e-mailing folks now; thanks!

[2018-06-11 17:54] gsjaardema commented on #2789
@djfitzgerald Can you show me the patch?

[2018-06-11 18:45] gsjaardema commented on #2789
Since eliminating the current '{}' initialization will probably result in a warning (although we don't see warnings in current SEACAS or Sierra code), the 'double rotmat[3][3]'  could be changed to `std::array<std::array<double,3>,3>> rotmat` which will be default initialized to all zeros and then the existing call to `initialize` will turn it into the identify matrix.

[2018-06-11 20:37] mhoemmen commented on #2789
FYI further discussion here: https://github.com/trilinos/Trilinos/pull/2924

[2018-06-11 21:18] bartlettroscoe opened #2925 "Test Stratimikos_test_aztecoo_thyra_driver_MPI_1 timing out in Trilinos-atdm-hansen-shiller-gnu-debug-serial build since 5/30/2018"
CC: @trilinos/stratimikos, @fryeguy52

## Next Action Stauts

Test was disabled for these two builds on 'hansen' in commit 73ae19c pushed on 6/12/2018 and this test disappeared in these builds on 6/13/2018.

## Description

As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-11&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine

[2018-06-11 21:20] bartlettroscoe commented on #2925
Now, we could invest time to see why this test is taking so long to run for this one build.  But this is a test for AztecOO for a `gnu-debug-serial` build.  I don't think any of the ATDM codes are using AztecOO or care much about it for a `gnu-debug-serial`.

Therefore, in the interest of time and since there are bigger fish to fry, I am going disable this test for these GNU builds `Trilinos-atdm-

[2018-06-11 21:40] mhoemmen commented on #2925
Sierra cares that the test _builds_, but it's less important that the test _run_ on GPU platforms.

[2018-06-11 21:45] bartlettroscoe commented on #2925
@mhoemmen, the build of the test will not be disabled, just the running of this test and just for the builds `Trilinos-atdm-hansen-shiller-gnu-debug-serial` and `Trilinos-atdm-hansen-shiller-gnu-opt-serial` on 'hansen' and that is it.  Sierra should build and run whatever Trilinos tests it things are necessary.

My guess is that the GNU-built executables are binding to the same cores on this machi

[2018-06-11 23:24] gsjaardema commented on #2789
This should be working now.  Fix in #2924 which has been merged to develop.

[2018-06-11 23:24] #2789 closed

[2018-06-11 23:41] mhoemmen commented on #2789
Thanks @gsjaardema !

[2018-06-11 23:42] mhoemmen commented on #2789
@djfitzgerald The fix is in Trilinos' develop branch now.  It should make it into the master branch in a day or two.

[2018-06-12 01:14] bartlettroscoe commented on #2827
I am now going to disabled a few selected individual unit tests inside of the tests:

* `KokkosContainers_UnitTest_Serial_MPI_1`
* `KokkosKernels_sparse_serial_MPI_1`

for the build `Trilinos-atdm-white-ride-cuda-debug`.  Those are the last failing tests related to this Kokkos and KokkosKernels update.  See details below.

<details>
<summary>
  <b>DETAILED NOTES:</b> (click to expand)
</summary>

[2018-06-12 05:27] srajama1 commented on #2827
What is an acceptable time for testing ? I am not comfortable disabling a test because it takes more than 2 minutes.

[2018-06-12 12:01] bartlettroscoe commented on #2827
For ATDM Trilinos testing, no individual ctest test is allowed to run longer than 10 minutes to run.  We have to draw the line somewhere.

[2018-06-12 14:50] srajama1 commented on #2827
You want us to break the tests into multiple tests ? That is not very productive.

[2018-06-12 14:55] bartlettroscoe commented on #2827
Can the Kokkos and KokkosKernels teams work to make these unit tests run faster in a full debug build?  Otherwise, do we really need to run individual unit tests in a full on debug build that take 5+ minutes to run?   That seems excessive.  We have to draw the line somewhere.

[2018-06-12 15:00] bartlettroscoe commented on #2827
For the record, the single unit test `serial.scatterview` in the `KokkosContainers_UnitTest_Serial_MPI_1` ctest takes 442089 ms or over 7 minutes to run in this cuda-debug build.

[2018-06-12 15:17] mhoemmen commented on #2827
It's not hard to break up tests.  We shouldn't even need to recompile multiple executables or even change the code -- just pass in the Gtest / Teuchos unit test framework test names.

[2018-06-12 16:20] jhux2 opened #2926 "MueLu: failures on geminga nightly tests, Kokkos Factor + CUDA"
There are 12 failures on geminga in the build `OPENMPI-1.8.7_RELEASE_KOKKOS-REFACTOR_CUDA-8.0.44`.   This started between June 6 and June 7.

[2018-06-12 16:21] ibaned commented on #2827
@bartlettroscoe I just looked at the `scatterview` test for a while, and found that it runs fast (16 seconds) if I enable Kokkos debug mode but still compile with `-O3 -g`. It only gets really slow (120 seconds) when `-O3` is omitted, probably because the performance of most C++ code is predicated on the compiler's ability to inline functions, and turning off optimization disables all inlining. Al

[2018-06-12 16:43] srajama1 commented on #2827
@ibaned : I had a conversation w/ @bartlettroscoe offline. Apparently, these are the requirements that are given to him from the apps (debug builds w/ optimizations turned off). We will try to work this with the apps team. If it is absolutely needed by apps that we test this configuration, then let us disable these tests on specific architectures and maintain a master list of disabled tests. This

[2018-06-12 16:44] bartlettroscoe commented on #2827
That is what I would prefer and that is what I have done on other projects (and all of the automated builds that I define for Trilinos like the current standard debug build).  But the application codes (both SPARC and EMPIRE) want testing for full debug `-O0 -g` builds because they want to know that they can link and run fully debuggable executables (and `-O3 -g` is not fully debuggable).  I have

[2018-06-12 16:51] ibaned commented on #2827
@bartlettroscoe @srajama1 Thanks, I think it is worth bringing this up with the application teams. There is a semi-fascetious argument that non-optimized Trilinos builds are also not debuggable because they run too slowly. Anyways, I have made changes in Kokkos to reduce the runtime of the `scatterview` test, which was fairly straightforward, and will take them through the usual pull request proce

[2018-06-12 17:14] eric-c-cyr commented on #2827
I've been following this conversation with some interest. I believe the solution of turning off certain tests in select builds is fine (I would prefer smaller tests, but...). I feel that running with "-O0 -g" is important given the design choices being made in Kokkos, Tpetra and up. The use of templates and inline, being hard to understand when things are not optimized out. Being able to walk thro

[2018-06-12 17:32] mhoemmen commented on #2926
I would say, upgrade the OpenMPI version first.  Sierra skipped over OpenMPI 1.8.x to 1.10.y, because 1.8.x caused tests to fail.

OpenMPI doesn't even support 2.0 any more -- the earliest supported version is 2.1.

[2018-06-12 17:47] mhoemmen commented on #2827
I'm with @eric-c-cyr -- I think it could help to have at least one Dashboard build with `-O0 -g`.  It's helpful to know if a test fails with `-O3` but not with `-O0`.  I think we could do with fewer `-O0` builds, though -- maybe just one for each supported computer architecture, using its preferred compiler (e.g., Intel for KNL, xlC for IBM POWER).

[2018-06-12 18:16] jhux2 commented on #2926
Ah, good to know, thank you.  But I suspect it's more likely these failures are due to code issues.

[2018-06-12 18:29] srajama1 commented on #2827
Ok, we will take a look at the sparse tests in Kokkos Kernels.

[2018-06-12 20:32] bartlettroscoe commented on #2827
FYI: PR #2927 was just merged.  That should address the last of the Kokkos and KokkosKernels failures/timeouts.  We should get confirmation for the ATDM Trilinos builds run on 6/13/2018 and then we can close this issue.

[2018-06-12 20:36] bartlettroscoe commented on #2921
As shown in:

* https://testing-vm.sandia.gov/cdash/testSummary.php?project=1&name=TpetraCore_MatrixMatrix_UnitTests_MPI_4&date=2018-06-11

the test `TpetraCore_MatrixMatrix_UnitTests_MPI_4` passed in all of the ATDM builds yesterday 6/11/2018. (The only build where it did not pass was the build `Linux-gcc-4.9.3-Sierra_MPI_release_DEV_ETI_SERIAL-ON_OPENMP-ON_PTHREAD-OFF_CUDA-OFF_COMPLEX-ON` which

[2018-06-12 21:09] bartlettroscoe commented on #2921
Closing.

[2018-06-12 21:09] #2921 closed

[2018-06-12 23:36] kddevin commented on #2836
We decided to add Tpetra_ENABLE_<platform> for each platform supported by Kokkos_ENABLE_<platform>, using the same spelling and capitalization as the Kokkos flag.
By default, if the Tpetra flags are not set by the user, the Tpetra flags would have the values of the Kokkos flags.
We will deprecate the Tpetra_INST_<platform> flags, targeting FY19 Q1.

[2018-06-12 23:51] jhux2 commented on #2852
@keitat

[2018-06-13 02:31] cgcgcg commented on #2926
The reason for these test failures is that I switched the extended interface to allow "Kokkos refactor" hierarchies (PR #2741). Before, the tests on geminga using an extended xml were simply using the classical code path, i.e. they were not testing what they are supposed to test.
Now, how should we address this? Currently, the same input xml is used, regardless of the build options. This cannot wo

[2018-06-13 02:37] cgcgcg commented on #2926
Oh, and we might actually want to allow `use kokkos refactor` as a parameter in the extended format, just in case we want to build a non-kokkos hierarchy, even though we asked to build kokkos hierarchies by default by setting the configure option `MUELU_KOKKOS_REFACTOR_USE_BY_DEFAULT`.

[2018-06-13 04:12] mhoemmen opened #2929 "ShyLU: Frosch tests incorrectly allow *petra objects to persist past MPI_Finalize"
Frosch (not sure if capitalized right) tests incorrectly allow Epetra and Tpetra objects to persist past MPI_Finalize.  They also call `MPI_Comm_split` without calling `MPI_Comm_free` on the resulting communicator.  This may be causing errors that hinder progress on #2483.  Frosch tests may be failing on processes other than Process 0, but the tests do not correctly use the Teuchos unit test frame

[2018-06-13 04:32] mhoemmen commented on #2929
If I remember right, @searhein originally wrote these tests.  I'll be happy to work with you to show you how to change these tests.

[2018-06-13 14:48] cgcgcg commented on #2926
The configure option `MUELU_KOKKOS_REFACTOR_USE_BY_DEFAULT` is already available, and it's switched on for the geminga build.

[2018-06-13 15:20] aprokop opened #2931 "MueLu: error building RefMaxwell on CUDA when KokkosRefactor=ON"
@trilinos/muelu @cgcgcg

## Expectations

Muelu builds using CUDA.

## Current Behavior

The build fails using CUDA 8.0 with the following errors:
[code]

The code in question is obviously off as it does
[code]
which could throw which is not possible on device.

Removing those lines makes the code compile, but a better solution is probably needed.

[2018-06-13 15:37] cgcgcg commented on #2931
@aprokop How about changing the compile guard to
`#if def(HAVE_MUELU_DEBUG) && !def(HAVE_MUELU_CUDA)`
for now?

[2018-06-13 15:57] aprokop commented on #2931
@cgcgcg If you are OK with it, I'm OK with it. Do you want me to test and do PR, or would your prefer to do it yourself?

[2018-06-13 15:58] cgcgcg commented on #2931
@aprokop If you want it to be changed quickly, then just do the PR, and I'll approve it. If it's not super urgent, I'll make a PR together with several other changes some time this week..

[2018-06-13 16:56] bartlettroscoe opened #2933 "Change from individual CDash error emails to daily summary emails for the ATDM Trilinos builds (and perhaps other efforts)"
CC: @fryeguy52, @trilinos/framework, @dridzal

## Description

After having to triage the promoted ATDM Trilinos builds for a couple of months now, and from extensive experience on other projects like CASL VERA, I have come to the realization that relying on CDash error emails is not a very effective notification and monitoring scheme in many of these situations.  The reasons that CDash error emai

[2018-06-13 16:58] bartlettroscoe commented on #2933
Between a python script that I wrote for CASL several years ago that extracts data from Trac and send out nice HTML-formatted emails and another Python script I wrote for CASL that extracts and analyzes data off of CDash using the JSON API, I know exactly how to write this Python script.  My guess is it would take two to four days to write, unit test, and deploy.  This would be a huge improvement

[2018-06-13 17:27] mhoemmen commented on #2933
I like the summary e-mail idea :)

[2018-06-13 18:07] djfitzgerald commented on #2781
I just realized that I closed this before I could UT a fix and do a PR on it (I'd been held back by #2789).  I'm reopening until I can do so.

[2018-06-13 18:38] bartlettroscoe commented on #2933
For ATDM Trilinos builds, it would be nice to set up a Mailman email list (e.g. 'atdm-trilinos-builds') and send these emails to that email list.  Then people could sign up to get emails by registering for that email list.  And we would have a nice searchable archive of emails for previous days.  That would make it so easy to keep on top of these builds with less overhead.  The more I think about

[2018-06-13 19:03] searhein commented on #2929
@mhoemmen Thank you for pointing this out. I am currently working on a lot of new features and changes for FROSch anyway. Therefore, I am planning to submit a major pull request within the next few days. I would like to include your suggestions into that pull request. Would this be feasible?

[2018-06-13 19:39] fryeguy52 commented on #2474
This test is failing on the serrano and mutrino builds as well.  @bartlettroscoe should we also disable the test on these platforms?

`serrano`
https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-13&filtercount=4&showfilters=1&filtercombine=and&field1=testname&compare1=63&value1=Piro_MatrixFreeDecorator_UnitTests_MPI_4&field2=buildname&compare2=63&value2=Trilinos-atdm-&fi

[2018-06-13 19:40] mhoemmen commented on #2929
@searhein It would be super helpful if you could split the test fixes into a separate PR and do them first.  Otherwise, would it be OK for me to disable those tests for now?  I don't mean to create work for you -- if you plan on rewriting a lot of code anyway, then it wouldn't hurt to disable them for now and reenable them (with changes) in your PR.

[2018-06-13 19:55] djfitzgerald opened #2938 "Tpetra: 'Class with virtual base class and delegating constructor' error under IBM xlC"
@trilinos/tpetra

When attempting to unit test a fix I've been working on for #2781, the IBM XL compiler fails at packages/tpetra/core/src/Tpetra_CrsGraph_def.hpp:651 with error: `1540-2206 Class with virtual base class and delegating constructor is not supported.` The failing class definition is as follows:
[code]

It looks like this area of code was modified in the recent past, by https://github

[2018-06-13 20:18] bartlettroscoe commented on #2474
From looking at these test failures on 'serrano' such as at:

* https://testing.sandia.gov/cdash/testDetails.php?test=49401718&build=3631824

we are seeing the same type of output:

[code]

And the output for this test on 'mutrino' looks the same as shown at:

* https://testing.sandia.gov/cdash/testDetails.php?test=49405803&build=3631961

and

* https://testing.sandia.gov/cdash/testDetails.php?tes

[2018-06-13 20:27] mhoemmen commented on #2938
@djfitzgerald Let's see if we can write a short reproducer.  The following code compiles with GCC 4.8.4 with the `-std=c++11` flag.  Does it compile with xlC?
[code]

[2018-06-13 20:31] mhoemmen commented on #2938
@nmhamster We're trying to come up w/ a short reproducer to see if this is an xlC issue.

[2018-06-13 20:36] djfitzgerald commented on #2938
@mhoemmen Yes, I can get this to compile with xlc if I use `-std=c++11`

[2018-06-13 20:40] mhoemmen commented on #2938
@djfitzgerald Could there be something wrong with Spack's Trilinos configuration?  Do you have a stand-alone (non-Spack) Trilinos configuration to try?  If not, we could help you set one up.  If Spack is broken, we should push this to the Spack developers.

[2018-06-13 20:42] mhoemmen commented on #2933
@bartlettroscoe Why not have the Python script automatically create the GitHub issue?

[2018-06-13 20:55] bartlettroscoe commented on #2933
@mhoemmen, are you being serious?  The thing is that we need to week out system issues like Intel compiler license server problems, disk filling up, etc.  We need human do top-level triage before we hand this off to Trilinos developers with a GitHub issue.

[2018-06-13 21:03] mhoemmen commented on #2933
@bartlettroscoe Good point; never mind :-) .

[2018-06-13 21:30] searhein commented on #2929
@mhoemmen OK. If this is kind of urgent, we can disable the tests for now since I am on a conference this week and I won't be able to submit the pull request before Monday. I already did 99% of the implementation, but I still need to check some parts of the code before submitting the pull request next week. Thank you.

[2018-06-13 21:37] bartlettroscoe commented on #2933
@mhoemmen,

The other reason that a human needs to create a Trilinos GitHub issue is that often times you want a single issue that covers a bunch of failing tests.  For example, after the recent Kokkos and KokkosKernels update, several Kokkos, KokkosKernels and Panzer tests started failing for which I triagged them and created a single issue #2827.  What type of mess would have been created if an

[2018-06-13 23:11] ashegde opened #2939 "Problem during installation in "ThyraEpetraAdapters_TestThyraDebugHang""
Hello,

I am trying to install Trilinos on a linux machine (the end goal is to install Peridigm). I run into the following error while building Trilinos:

This is the first error to occur after entering "make -j6".

Before this, I had run the following configuration script without error:

How can I resolve this issue?

Thanks.

[2018-06-13 23:28] keitat commented on #2852
I am helping SUNDIAL-Tpetra integration. We could apply this session to Ifpack2_Hypre.  At this moment, I do not have enough bandwidth until SC18, but I can shuffle my priorities if there is any use cases (supporting ECP applications).

[2018-06-14 13:20] bartlettroscoe commented on #2925
This test was shown missing for the first time yesterday in these two builds on 'hansen' at:

* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3607605
* https://testing-vm.sandia.gov/cdash/viewTest.php?onlypassed&buildid=3608796

I will mark this as "Disabled Tests" and "Stalled" to get it off of the main list.

[2018-06-14 13:34] bartlettroscoe commented on #2920
These tests were disabled for the build `Trilinos-atdm-white-ride-cuda-debug` in commit cc7fff2 pushed on 6/12/2018.  You can see that these tests were disabled on CDash on 6/13/2018 for this build at:

* https://testing-vm.sandia.gov/cdash/viewConfigure.php?buildid=3607499

which shows:

[code]

and those tests are missing from:

* https://testing-vm.sandia.gov/cdash/viewTest.php?buildid=3607499

[2018-06-14 13:46] bartlettroscoe commented on #2706
FYI:

I promoted the CUDA 9.0 builds on 'hanen' to the "ATDM" CDash Track/Group and the build `Trilinos-atdm-hansen-shiller-cuda-9.0-debug` was shown promoted to the "ATDM" group just fine yesterday 6/13/2018 but the build `Trilinos-atdm-hansen-shiller-cuda-9.0-opt` was not for some strange reason as shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-06-13&filter

[2018-06-14 14:14] bartlettroscoe commented on #2919
This was disabled in the commit 8850c64 pushed on 6/12/2018 and we see this test got disabled in these builds, for instance, as shown at:

* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3607824
* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3608240
* https://testing-vm.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3607591
* https://testing-vm.sandia

[2018-06-14 14:40] bartlettroscoe commented on #1511
Is this still an issue?  Other than one troublesome individual unit tests that we disabled for some of that ATDM Builds as described in #2712, this test has been okay in all of the other builds (or at least we have not had any recent issues with this).

[2018-06-14 14:44] bartlettroscoe commented on #1304
Given the new and improving auto PR testing process, that process is doing a good basic job of stabilizing the 'develop' branch of Trilinos (as good or better than the usage of the checkin-test-sems.sh script).  I can be improved (buy adding a CUDA build and tweaking some other builds as described in #2317) but I think this is pretty good.

We don't need this issue anymore.

@trilinos/framework te

[2018-06-14 14:44] #1304 closed

[2018-06-14 15:12] mhoemmen commented on #2939
@ashegde I edited your comment just to protect scripts and terminal output with triple backquotes, so that GitHub's automatic formatting won't mess up your comment.

[2018-06-14 15:13] mhoemmen commented on #2939
I'm pretty sure that you don't need to build Trilinos' tests in order to build Peridigm, so you can change the `Trilinos_ENABLE_TESTS` setting to `OFF`.

[2018-06-14 15:37] djfitzgerald commented on #2938
@mhoemmen I do not have a non-Spack Trilinos configuration to try.  I'll go about trying to set one up, but would glady accept any help you have to offer.

[2018-06-14 15:58] mhoemmen commented on #2938
@djfitzgerald Just for now -- would it be possible to find out what arguments Spack gives to CMake?  If not, could you please e-mail me the `CMakeCache.txt` file in your build directory?  Thanks!

[2018-06-14 16:21] djfitzgerald commented on #2938
@mhoemmen Dumb question, but what's your email?

[2018-06-14 16:39] mhoemmen commented on #2938
@djfitzgerald Obfuscation: remove the n, add sandia's domain

[2018-06-14 16:41] mayrmt commented on #1511
I opened this issue as this problem came up quite a while ago. @bartlettroscoe feel free to close it, if nobody objects.

[2018-06-14 17:02] mhoemmen opened #2942 "ShyLU: extern BLAS function declaration breaks Sierra build"
@mwglass reports the following build error, resulting from ShyLU exposing `extern` declarations of BLAS functions in header files, that conflict with `extern` declarations in Sierra (specifically FETI-DP):
[code]

@trilinos/shylu @crdohrm

## Expectations

Trilinos should not cause build errors in downstream libraries or applications that make `extern` declarations of BLAS, etc. functions.

## Pos

[2018-06-14 17:07] bartlettroscoe commented on #1511
Closing.

[2018-06-14 17:07] #1511 closed

[2018-06-14 17:10] mhoemmen commented on #2929
@searhein Sorry about the late reply -- it turns out there was a separate issue that this one was obfuscating.  I'm awaiting test results to see if we need to disable these tests.  Thanks!

[2018-06-14 17:23] ctanis commented on #2518
@mhoemmen

Just got back from a long trip, and this is at the top of my todo list.  thanks, and I'll keep you posted!

[2018-06-14 18:04] jhux2 commented on #1148
Closing, as these warnings have been addressed.

[2018-06-14 18:04] #1148 closed

[2018-06-14 18:10] mhoemmen commented on #2938
(I deleted my comment, since you have my e-mail address now; thanks!)

[2018-06-14 18:15] srajama1 commented on #2942
The primary difference in this case is the const. Is that a quick fix or is this refactor to .cpp needed ?

@ambrad : FYI

[2018-06-14 18:22] mwglass commented on #2942
Adding the const would be a quick fix for this particular error but the bigger issue is the inconsistent function declarations for the LAPACK/BLAS across all of our code projects (even within the same project). So adding const may fix this error but reveal others where it would then conflict with another declaration without const.

[2018-06-14 18:28] mhoemmen commented on #2942
I didn't mention above that hiding `extern` declarations may imply writing wrapper functions.  This is the approach I took when fixing #1194.  It may add run-time overhead, but BLAS implementations error-check their input arguments anyway.

[2018-06-14 18:36] jhux2 opened #2944 "Xpetra: build error"
## Next Action Status:

Issue fixed in commit b73a7c5 pushed to 'develop'.  Next: Verify that build problem is gone for SPARC configuration ...

## Description

@micahahoward has reported errors building Trilinos master, SHA1 1f66625b66

[code]

@trilinos/xpetra @lucbv

[2018-06-14 18:37] mwglass commented on #2942
BTW, just adding the const to the sgemm and dgemm declarations would certainly be a quick fix that would work for our Sierra/Trilinos integration.

[2018-06-14 18:39] jhux2 commented on #2944
The same error is reported to occur on all platforms.

[2018-06-14 18:43] srajama1 commented on #2942
@ambrad volunteered to take care of this.

@mwglass : Thanks, another level of redirection might slow things down as this is at the bottommost level. We will try to find a solution.

[2018-06-14 18:43] nmhamster commented on #2938
@mhoemmen - new XL on its way. FYI.

[2018-06-14 18:59] lucbv commented on #2944
@jhux2 I do not see anything failing on any of the dashboard builds, including the ATDM builds.
What configuration is being used by SPARC for these builds?

[2018-06-14 19:21] jhux2 commented on #2944
<details>
<summary>configure line</summary>

[code]
</details>

[2018-06-14 19:33] mhoemmen commented on #2938
@nmhamster Thanks! :-D  We're just trying to figure out if this is a compiler or a configuration issue.

[2018-06-14 19:41] mhoemmen commented on #2944
Huh, neither of the destructors _have_ an exception specifier list.

[2018-06-14 19:48] jhux2 commented on #2944
Maybe this is relevant?  https://software.intel.com/en-us/forums/intel-c-compiler/topic/676232

[2018-06-14 19:54] jhux2 commented on #2944
I'm building on mutrino now to see if I can reproduce.

[2018-06-14 21:27] jhux2 commented on #2944
PR pending that fixes this.

[2018-06-14 21:49] kyungjoo-kim opened #2950 "Remove warnings from STK when compiling on GPUs."
We really need to remove the following warnings coming from boost::mpl package. It is a lot. Really a lot of warnings. They hide important warnings that are indeed related to other developer codes.
[code]

@trilinos/stk

## Expectations

Warnings are removed from GPU build.

## Current Behavior

MANY MANY MANY MANY MANY MANY WARNINGS

## Motivation and Context

With this warnings, user-level devel

[2018-06-14 22:18] mhoemmen commented on #2950
@alanw0 @rrdrake @prwolfe

[2018-06-14 22:44] aprokop commented on #664
@mhoemmen Can you summarize what's required to do here? I may need to implement it in the next few days.

[2018-06-14 23:15] ambrad commented on #2942
@mwglass I merged an intended fix to develop. Please let me know if you still encounter a build error.

[2018-06-15 00:51] bartlettroscoe commented on #2944
Looks like the PR #2948 addresses this.

@micahahoward and @jhux2,

Does this error only manifest itself with the `SuperLUDist` TPL enabled?  That is important to know because the current ATDM Trilinos configuration (which is tracking the EMPIRE configuration of Trilinos) does **not** enable the `SuperLUDist` TPL.

[2018-06-15 13:10] bartlettroscoe commented on #2489
So is this problem resolved then?

[2018-06-15 15:32] jhux2 commented on #2944
@bartlettroscoe I'm not sure

[2018-06-15 15:58] micahahoward commented on #2489
No.  We've just turned it off.

[2018-06-15 16:01] bartlettroscoe commented on #2489
Okay, then we will have to set up a "Specialized" build that enables this and then get someone to fix this on the side as we work to get that ATDM Trilinos build to support everything that SPARC needs.

[2018-06-15 16:17] #2842 closed

[2018-06-15 17:05] jhux2 commented on #2944
@bartlettroscoe @micahahoward I looked into this a bit more.  SPARC is using SuperLU_dist version 4.2.  In that version, the header file `util_dist.h` defines the macro `Reduce`.  In SuperLU_dist version 5.4.0, the most current, the macro has been renamed to `SuperLU_Reduce`.

[2018-06-15 17:13] jhux2 commented on #2944
@bartlettroscoe And SuperLU does not suffer from this problem, which would be why the error didn't show up on the Trilinos dashboard.

[2018-06-15 17:27] bartlettroscoe commented on #2944
Note that SEMS added the TPLs:

[code]

I think that means that we can add SuperLUDist to the Trilinos PR builds.  Does that version have this macro fixed as well?

@micahahoward,

Can SPARC upgarde its version of SuperLUDist to 5.2.2 to match the SEMS version?  Updatding to 5.4.0 would likely be okay too.

[2018-06-15 17:47] jhux2 commented on #2944
@bartlettroscoe SuperLU_dist still has the `Reduce` macro.

[2018-06-15 17:52] mhoemmen commented on #2827
I do wish we would get rid of the `int` and `size_t` instantiations, and just have a `ptrdiff_t` instantiation, but that's a different issue....

[2018-06-15 17:54] micahahoward commented on #2944
We can try SuperLU-dist 5.3 but I can't spend any time figuring things out if it doesn't work for SPARC.

[2018-06-15 17:56] jhux2 commented on #2944
@micahahoward If you switch versions, I wouldn't be surprised if there are namespace changes, etc. that will keep SPARC from compiling right out of the box.

[2018-06-15 18:04] mhoemmen commented on #664
@aprokop Awesome!  Glad to hear! :-D  Here's what we would need to do

  1. Thread-parallelize `RowMatrixTransposer::createTransposeLocal`
  2. Benchmark to detect any remaining sequential bottlenecks in `expertStaticFillComplete`

The current `createTransposeLocal` implementation works more or less with raw data structures.  The only issue might be whether the input matrix has a valid local matri

[2018-06-15 20:15] bartlettroscoe commented on #2944
There is a SEMS-based build of Trilinos that EMPIRE is using shown [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-06-14&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-rhel6-) that uses a SEMS GCC 6.1.0 + OpenMPI 1.10.1 stack.  Therefore, if we want a single configuration of Trilinos that supports SPARC and EMPIRE, we will likely need

[2018-06-15 20:23] bartlettroscoe commented on #2827
@mhoemmen, Yes!  Just one global ordinal type that is guaranteed to be 64 bit on a 64 bit machine and and will be a signed type so you don't need to worry about strange behavior from computing < 0.  How do we make that happen?

[2018-06-15 20:29] bartlettroscoe commented on #2706
FYI: Looks like both of the `cuda-9.0` builds on 'hansen' are posting correctly to the "ATDM" CDash Group now as shown [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-06-15&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-hansen-shiller-cuda-8.0-).  And these builds were 100% clean.   So this story is done done done.

[2018-06-15 21:44] nmhamster commented on #2944
@micahahoward - you don't use the modules for SuperLUDIST on the test beds? Its OK if not, just want to check.

[2018-06-15 21:46] micahahoward commented on #2944
We did.  However, as a week ago we override this with our own.  The SuperLUDist bundled with the dev-pack was giving incorrect results on GPU systems.

[2018-06-16 01:58] #2931 closed

[2018-06-16 02:05] ambrad commented on #2942
I'm going to leave this issue open until the Sierra build is confirmed to be OK.

[2018-06-16 14:16] crtrott commented on #2827
One word on the test run times: quite a bit of the longer running tests are running that long because we have to catch non-deterministic error sources (e.g. race conditions). There is no 100% reliable way of doing this, but in most cases the likelihood of catching it is some kind of asymptotic thing (e.g. double the runtime catch the next 50% of errors). -O0 and debug kills both all the inlining a

[2018-06-16 14:36] bartlettroscoe commented on #2827
@crtrott, catching race conditions and other non-deterministic behavior is not the only defects that can exist. There are also off-by-one errors, incorrect memory deallocation and other invalid usage that can be caught with debug-mode runtime checking but may not be caught with a full optimized build (with debug checking disabled).  Therefore, it would be good if we could run the entire test suite

[2018-06-16 20:06] armarkos opened #2956 "Problem in compiling Panzer_L2Projection.hpp"
I use `mpic++-mpich-clang60` compiler (from macports on 10.11.6) to compile Trilinos and I got the following error:
`/lib/script/temp/Trilinos/packages/panzer/disc-fe/src/Panzer_L2Projection.hpp:69:62: error: reference to type 'const Teuchos::RCP<panzer::WorksetContainer>' could not bind to an rvalue of type 'nullptr_t'
               const Teuchos::RCP<panzer::WorksetContainer>& worksetContainer

[2018-06-17 15:53] Slaedr opened #2960 "Xpetra: build error when float is enabled"
Build failed with the following error:
[code]

@trilinos/Xpetra

## Expectations

Build completes.
## Current Behavior

Build fails.

## Possible Solution

Looking at line 138 of `Xpetra_Parameters.hpp`, it looks like a simple typo, though I may be wrong.

## Steps to Reproduce
Build with the configure script posted below.

## Your Environment

- Master branch, commit 4ca31cb7e8f950cfbba1a7addfec6

[2018-06-17 18:43] Slaedr commented on #2960
Alright, thanks!

[2018-06-17 21:49] cgcgcg commented on #2960
@Slaedr Could you pull and see if this is fixed in the develop branch?

[2018-06-18 00:33] cgcgcg commented on #2960
@Slaedr It's good that it builds :-)
If you want to check that things are working, you could run `MueLu_Driver.exe` in packages/muelu/test/scaling . You might have to add `MueLu_ENABLE_TESTS=ON` to your configure script for the executable to show up. You can pass the flag `--instantiation=FLOAT_INT_INT` to make sure that floats are used.

Develop is merged into master fairly frequently, the last t

[2018-06-18 00:50] Slaedr commented on #2960
@cgcgcg Great, thanks. MueLu actually did not build for me on the  develop branch - there was some build issue related to assignment of one type to another. So tomorrow I'll build my fork of master instead (with your fix) and see if the `MueLu_Driver.exe` works.

[2018-06-18 01:16] cgcgcg commented on #2960
@Slaedr Oh, that shouldn't happen. Can you tell me the error message?

[2018-06-18 03:08] cgcgcg commented on #2960
Ah, it's probably this one:
https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3638262

[2018-06-18 04:17] mhoemmen commented on #2920
I looked at the code -- it actually uses a random number, but on host, not on device.

[2018-06-18 04:17] mhoemmen commented on #2956
@trilinos/panzer @rppawlo

[2018-06-18 04:34] mhoemmen commented on #2827
@bartlettroscoe wrote:

Tpetra has [explicitly declared its intention](https://github.com/trilinos/Trilinos/wiki/Deprecation1) to deprecate and remove support all `GlobalOrdinal` types other than `int64_t`.  This will imply changes to downstream packages, as well as to applications.

Tpetra uses the `size_type` typedef in a `Kokkos::View` to determine the offset type in sparse matrix-vector multip

[2018-06-18 04:58] Slaedr commented on #2960
Yes, these look similar to the errors I had got.

Unfortunately I did not save the errors. Now I'm away from my work computer, and building MueLu on my laptop with 8GB RAM makes it hang.

[2018-06-18 12:44] rppawlo commented on #2956
Fix is in PR #2962

[2018-06-18 13:21] bartlettroscoe commented on #2920
@mhoemmen, is it not given the same seed so that each run of the test is the same?  Or, is the behavior of the code in this test truly random (which makes it a problematic test in general)?

[2018-06-18 13:45] bartlettroscoe commented on #2920
As shown in [this updated query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombi

[2018-06-18 14:46] fryeguy52 opened #2965 "Tests Belos_resolve_[cg,gmres]_hb_MPI_4 failing on ATDM builds on 'chama' and 'serrano'"
## Next Action Status

Tests were disabled in commits cbb56a7 and 5be802c merged to 'develop' in 6/25/2018 in PR #3011.  Commit that should fix the tests were pushed to develop in commit dcbfd13e3aad9f8be5baf9ebe964e6bc1353aea5 and PR #3098 was merged on 7/14/2018 that re-enables these tests.  Next: Watch to see that these tests are running and let run for a few weeks before closing issue on 8/15/

[2018-06-18 14:47] fryeguy52 commented on #2965
@bartlettroscoe, I just created this issue FYI

[2018-06-18 15:17] hubert-reinterpretcast commented on #2789
The default initialization of the `std::array` member results in no initialization (https://godbolt.org/g/W3Xyqb), but it seems that there is no problem in this context.

[2018-06-18 15:24] Slaedr commented on #2960
@cgcgcg  Here's the error I got. Unfortunately, I got the error even on master, after merging develop. It's in an example though; most of the source files are built.
[code]

[2018-06-18 16:10] mhoemmen commented on #2789
@hubert-reinterpretcast Huh, you're right.  I even tried adding some nontrivial code to your example, just in case the compiler was optimizing it away.

[2018-06-18 16:13] mhoemmen commented on #2920
@bartlettroscoe It uses `rand` which doesn't promise the same behavior on different compilers, hardware, etc.  A poor choice of random coefficient could affect convergence.

We should actually fix the solver by using one of the C++11 random number generators that promises cross-platform identical behavior, given the same seed.

[2018-06-18 16:33] Slaedr commented on #2960
Though we don't need it at the moment, we want to look at preconditioning in low-precision to take better advantage of the hardware. Our preconditioners tend to be coarse approximations anyway, so the hope is that lower precision will not affect convergence noticeably. I understand that casting will be an overhead, but it might be worth it. To me, one of the advantages of Kokkos/Tpetra/Ifpack2/Mue

[2018-06-18 16:55] bartlettroscoe commented on #2827
@crtrott, @srajama1, and @ibaned,

What about the idea that I floated [above](https://github.com/trilinos/Trilinos/issues/2827#issuecomment-397816492) to limit the number the matrix and array sizes and the number of iterations for these tests when `CMAKE_BUILD_TYPE=DEBUG` and `Trilinos_ENABLE_DEBUG=ON`?  This way, we could still ensure that all of the tests run for all of the use cases for a full

[2018-06-18 19:03] mwglass commented on #2942
Yes, this fixed our Sierra/Trilinos integration issue - Thanks!

[2018-06-18 19:24] mwglass opened #2967 "MueLu: MUELU_KOKKOS_FACTORY macro redefinition breaking Sierra/Trilinos integration"
Why reuse the same macro name for different definitions? Please fix.

In file included from MueLu_ParameterListInterpreter.hpp:2:0,
                 from MueLu_CreateTpetraPreconditioner.hpp:22,
                 from tftk/linsolv/linsolv/Solv_BelosMueLuLinearSolver_Initialize.C:10:
MueLu_ParameterListInterpreter_def.hpp:225:0: error: "MUELU_KOKKOS_FACTORY" redefined [-Werror]
 #define MUELU_KOKKOS

[2018-06-18 19:28] mhoemmen commented on #2967
@trilinos/muelu

[2018-06-18 19:30] cgcgcg commented on #2967
@mhoemmen This should be fixed by PR #2957

[2018-06-18 19:34] mhoemmen commented on #2967
@cgcgcg Thanks! :D

[2018-06-18 19:37] mhoemmen commented on #2960
@Slaedr We don't do a lot of mixed-precision testing, but I do try to maintain the capability in reserve.  If you want to do mixed-precision `apply()` for sparse matrix-vector multiply or preconditioners, then you might like to take a look at `Tpetra::CrsMatrixMultiplyOp`: https://github.com/trilinos/Trilinos/blob/master/packages/tpetra/core/src/Tpetra_CrsMatrixMultiplyOp.hpp

[2018-06-18 20:09] mhoemmen commented on #2695
Equilibration doesn't properly belong in Ifpack2; it's a preprocessing and postprocessing step for the entire linear solve.  PR #2840 (merged) adds row and column one-norm computation and left and right scaling to Tpetra::CrsMatrix.  PR #2820 (merged) adds an Ifpack2 example that demonstrates equilibration in a complete Belos + Ifpack2 linear solve.  The two PRs fix this issue.

[2018-06-18 20:09] #2695 closed

[2018-06-18 20:11] ambrad commented on #2942
Thanks for the update.

[2018-06-18 20:11] #2942 closed

[2018-06-18 20:11] mhoemmen opened #2968 "Tpetra: Add AztecOO-style zero row sum detection to equilibration"
AztecOO's equilibration routine detects and reports zero row sums.  We want that feature for Tpetra / Ifpack2 as well.

@trilinos/tpetra @trilinos/ifpack2

## Motivation and Context

Aria and Fuego have an outstanding issue to add row sum scaling support.  I would like to enable this by default in all linear solves.  However, this means adding diagnostics for things like zero row sums.

## Related

[2018-06-18 20:58] etphipp commented on #2834
I think this can finally be closed now.

[2018-06-18 20:58] #2834 closed

[2018-06-18 20:59] Slaedr commented on #2960
@mhoemmen Oh that's very cool! So you already have mixed precision capability in `CrsMatrix` and it needs to be accessed through `CrsMatrixMultiplyOp`. I'll try it out after I get my code working with Trilinos.

[2018-06-18 22:13] mhoemmen commented on #2960
@Slaedr "Mixed-precision capability" means that you can do sparse matrix-vector multiply with vectors of different precisions than the matrix.  However, you would still need to build some code infrastructure manually in order to get a mixed-precision preconditioned solve.  So, yes, but it would take some work on your part.

[2018-06-18 22:53] william76 opened #2970 "MueLu: Link to Kokkos Kernels Distance-2 Graph Coloring"
@trilinos/muelu

So, apparently I can't just link to the MueLu folks directly on the Kokkos-Kernels repo... :p

Here's a link to the PR: [kokkos-kernels #263][1]

@jhux2
@lucbv

[1]: https://github.com/kokkos/kokkos-kernels/pull/263

[2018-06-18 23:59] bartlettroscoe commented on #2815
CC: @gsjaardema, @kddevin (Data Services Product Lead)

FYI: After the update to use 'sbatch' instead of 'salloc' on 'mutrino' 4 days ago (see PR #2964 and  commit ff791f8edcf3bb6015b8b6f1744d7d95768a068f), there is only one remaining failing SEACAS test since then which is `SEACASExodus_exodus_unit_tests` as shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos

[2018-06-19 00:01] jhux2 commented on #2970
@csiefer2

[2018-06-19 00:08] bartlettroscoe commented on #2815
FYI: This appears to be the only platform with builds submitting to CDash where this test is failing out of 38 builds where this test is run as shown across all builds yesterday [here](https://testing-vm.sandia.gov/cdash/testSummary.php?project=1&name=SEACASExodus_exodus_unit_tests&date=2018-06-17).  Therefore, disabling this test in this one build does not seem like it would result in the loss of

[2018-06-19 00:12] bartlettroscoe commented on #2839
@trilinos/muelu

FYI: Unfortunately, after switching to use 'sbatch' instead of 'salloc' on 'mutrino' 4 days ago (see PR #2964 and  commit ff791f8edcf3bb6015b8b6f1744d7d95768a068f) these 6 MueLu tests are still failing as shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-18&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&

[2018-06-19 01:45] Slaedr commented on #2960
@mhoemmen  Oh yes, I understand. It's just nice that the C++ language aspects of implementing it are already in place, as far as sparse mat vec and triangular solves are concerned. Thanks for the tip.

[2018-06-19 05:11] hillyuan opened #2973 "Kokkos : Filenames invalid in Windows"
@trilinos/kokkos

File names like "Kokkos_Experimental::ROCm_ViewCopyETIInst_int64_t_double_LayoutLeft_Rank1.cpp" with character "::" in are considered invalid in Windows. Git pull fails in Windows system, even in WSL. Please consider rename those files.

[2018-06-19 11:10] gsjaardema commented on #2815
The `ex_put_name` Warning/Error is expected from `testwt`.  The other errors with `[unset]:_pmi...` are not expected.  I am fine with disabling this test on this platform/build.

[2018-06-19 12:41] bartlettroscoe opened #2974 "Trilinos GCC 4.8.4 PR build and running of tests is broken"
@trilinos/framework, @eric-c-cyr, @rppawlo, @trilinos/nox

## Expectations

The GCC 4.8.4 auto PR build should work unless the PR code itself is broken.

## Current Behavior

The GCC 4.8.4 auto PR build has broken NOX test builds and all of the tests in every package fail, starting in the auto PR testing iteration build last night:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&

[2018-06-19 12:57] bartlettroscoe commented on #2815
@gsjaardema said:

@fryeguy52, can you please put in a targeted disable for this test in the (new) files:

[code]

as mentioned in:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md

and:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-Addressingfailures

and from looking at other examples?

NOTE: If that document

[2018-06-19 13:00] csiefer2 opened #2975 "Windows Testing Failed to Post on Dashboard Again"
@trilinos/framework

[2018-06-19 14:15] bartlettroscoe opened #2976 "Test Tempus_DIRK_Combined_FSA_MPI_1 timing out semi-randomly in 'gnu-opt-serial' and 'gnu-debug-serial' builds on 'hansen' starting 6/5/2018"
CC: @fryeguy52

## Next Action Status

Reducing parallelism from `ctest -j16` to `ctest -j8` seems to avoid timeouts.  Next: Get PR #2987 merged and verify on CDash ...

## Description

As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-19&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=13&showfilters=1&filt

[2018-06-19 14:16] bartlettroscoe commented on #2976
Given that analysis above, this is obviously a system setup issue.  Therefore, I did not mention/CC the Tempus developers because this is not their fault.

I will try to change the options to `mpiexec` to avoid this behavior, like on other platforms.

[2018-06-19 14:30] aprokop opened #2977 "MueLu: include number of threads in target rows per processor computation"
@trilinos/muelu

## Expectations
When running MueLu in hybrid MPI/OpenMP mode, the parameter `repartition: target rows per proc` should actually specify the target number of rows per thread so that there is enough computational work.

## Current Behavior
The matrix is rebalanced so that each MPI process gets that number, leading to little work per thread (like 10000/32 or the default 1000/32).

##

[2018-06-19 14:36] aprokop commented on #2977
I'm not 100% certain how to implement this. Do I need to do some traits which returns 1 by default, and `execution_space::concurrency()` for OpenMP space?

[2018-06-19 14:40] lucbv commented on #2977
@aprokop we also should investigate how mpi behaves when it needs to pass less but certainly larger messages. Is it obvious that the network will handle well going from say 16 ranks per nodes to 1 rank per node with OpenMP on the node?
The same is also true for GPUs and it is even harder to guess what will be a good work load for the GPU a priori as concurrentcy won't really be helpful at the poin

[2018-06-19 14:41] bartlettroscoe commented on #2464
@prwolfe,

@jwillenbring said you are actively working on a CUDA build for auto PR testing.  If this includes all of the Primary Tested package in Trilinos, you are likely going to see the build failures shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3625386

It would be good to create Trilinos GitHub issues for these build failures so that developers have tim

[2018-06-19 14:42] aprokop commented on #2977
Another caveat here may be that if we don't have a threaded direct solver, the coarse solve may actually be large, like `num_target_per_proc*num_threads_per_mpi`, which may be 160000 for Cori Haswell in 2x16 configuration.

[2018-06-19 14:50] aprokop commented on #2977
@lucbv

While true that larger messages may be slower due to additional buffer copies, I think having less work to do is more important to address. In addition, even if it is to be dynamically implemented, it should be done for Tpetra to figure out.

The question is open for GPU as to what number of rows per GPU is the optimal number.

[2018-06-19 14:58] bartlettroscoe commented on #2976
I tried changing to `mpiexec --bind-to none ...` in the commit c50a7bae679efd4fb1aa8c3ed41e5bbea1980103 in my topic branch but a bunch of tests fail with:

[code]

I will try something else.

[2018-06-19 15:04] mhoemmen commented on #2977
@aprokop Could you just set the `Kokkos::parallel_*` chunk size large enough?  That should be a platform-independent way to control concurrency for the strong scaling case.

[2018-06-19 15:08] aprokop commented on #2977
@mhoemmen Sorry, I don't get what you are saying.

[2018-06-19 15:13] bartlettroscoe commented on #2976
I tried removing all arguments other than just `mpiexec -np <n> <exec-name> [args]` and I got the same runtime errors:

[code]

Now I am trying to just reduce the parallel level keeping:

[code]

and see if that reduces the timeouts.

[2018-06-19 15:34] mhoemmen opened #2978 "ROL_ThyraVector.hpp needs to include Thyra_ProductVectorSpaceBase.hpp"
Lines 99 and 175 of `ROL_ThyraVector.hpp` use a `Thyra::ProductVectorSpaceBase` method (namely `numBlocks`, but the file does not include `Thyra_ProductVectorSpaceBase.hpp`.  For example:

https://github.com/trilinos/Trilinos/blob/ffdc8c53f67747825753c378929ed752b4a3151a/packages/rol/adapters/thyra/src/vector/ROL_ThyraVector.hpp#L175

`Thyra_ProductVectorBase.hpp` forward-declares `Thyra::ProductV

[2018-06-19 15:37] mhoemmen commented on #2977
@aprokop Here is an example:
[code]

[2018-06-19 15:38] mhoemmen commented on #2977
The idea is that Kokkos won't divide the loop into parallel work units with fewer than `chunkSize` iterations, so you won't get strong scaling drama.

[2018-06-19 15:49] aprokop commented on #2977
@mhoemmen I think you may be talking about a different issue. This is about redistributing a matrix among MPI ranks during rebalancing, and specifically, about computing the number of rows that each MPI rank would get. I think what you are talking is work within the node and having some minimal work per thread.

[2018-06-19 15:50] prwolfe commented on #2788
The changes merged in #2943 did not include changing the openmpi version and so failed in production.  I'm sorry that my testing did not catch this (and the PR testing won't due to the bootstrapping issue.) I have disabled that in Jenkins for the moment while Jim and I evaluate if we should change just this PR or all of them and if the OpenMP options could be changed to allow 1.6.5 testing (I pref

[2018-06-19 15:55] mhoemmen commented on #2977
@aprokop Sorry :)

[2018-06-19 15:56] mhoemmen commented on #2975
PR testing is a little weird today as well :(

[2018-06-19 15:57] bartlettroscoe commented on #2788
My experimentation is that you just can't do OpenMP testing with OpenMPI 1.6.5 or 1.8.7.  You can only use OpenMPI 1.10.1. But just enable OpenMP for now with the  GCC 4.8.4 build with OpenMPI 1.10.1 because it is 100% working as shown at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3632672&filtercount=4&showfilters=1&field1=groupname&compare1=61&value1=Continuous&fi

[2018-06-19 15:58] mhoemmen commented on #2974
OpenMPI 1.6.x is way too old for us to use.  OpenMPI doesn't even support 1.10.x any more, but at least it's not "ancient."

[2018-06-19 15:58] mhoemmen commented on #2788
OpenMPI 1.6.5 is way too old.  OpenMPI doesn't even support 1.10.x any more -- the oldest version they support is 2.1.

[2018-06-19 16:00] #2895 closed

[2018-06-19 16:02] prwolfe commented on #2974
See my comment in #2788

[2018-06-19 16:02] prwolfe commented on #2550
@jwillenbring This is the only discussion I see on the openmpi 1.6.5 vs. 1.10.1 question. Everything else I see in the PR discussions either don't address the question or implicitly assume 1.10.x.  I recommend we change the gcc 4.8.4 build as soon as possible and migrate the others forward one at a time over the next week or so condidering #2974. Any thoughts?

[2018-06-19 16:28] dridzal commented on #2978
@mhoemmen, thanks for finding this.  Should ROL developers fix this?

For our future reference, is there a way to know which files we need to include if you rely on forward declarations?  Some way that doesn’t involve analyzing the source code?

[2018-06-19 16:40] jfike commented on #2489
After some discussion, our current plan is to remove the dependence on RBGen and just use calls to lapack.

[2018-06-19 16:53] jwillenbring commented on #2550
@prwolfe I agree we should move to 1.10.x in the way that you suggest. The only thing I would add is that we test the modified Jenkins configurations against a fork if we cannot use regular pull request testing to verify the mods so we don’t risk the other builds failing.

[2018-06-19 16:58] prwolfe commented on #2550
Will do.

[2018-06-19 17:37] mhoemmen commented on #2550
FYI 1.10.x is old enough that OpenMPI doesn't even support it any more, but that's a different issue ;-)

[2018-06-19 17:44] jhux2 commented on #2977
@aprokop Is the idea to have some way of querying the number of threads per MPI process, which I guess `execution_space::concurrency()` does?  Call that number `NT`.  Then MueLu multiplies the value  of `repartition: target rows per proc` by NT to get the actual target value?

[2018-06-19 17:49] aprokop commented on #2977
@jhux2 Exactly.

[2018-06-19 18:01] jhux2 commented on #2977
@mhoemmen Is there a canonical way to query Kokkos at runtime to find out how many threads per MPI process there are?

[2018-06-19 18:08] mhoemmen commented on #2977
@jhux2 That's the right approach for OpenMP at least.  For GPUs, that value will be an upper bound but not necessarily exact.

[2018-06-19 18:12] mhoemmen commented on #2978
@dridzal wrote:

Yes, please.  It would be great if you could update both Trilinos and ROL repositories concurrently.

If you use any method or field of a `Thyra::${CLASS}`, then you need to include `${CLASS}`'s header file.  If you just handle the `${CLASS}` by pointer or reference, without calling its methods or accessing its fields, then the forward declaration suffices.  There's nothing specia

[2018-06-19 18:19] armarkos commented on #2956
This is fixed now.

[2018-06-19 18:19] #2956 closed

[2018-06-19 18:31] bartlettroscoe commented on #2974
Looks like the issue with the GCC 4.8.4 build has been resolved since my last auto PR build for PR #2964 all passed and allowed me to merge.

Should we keep this issue open or close it?

[2018-06-19 18:32] wfspotz opened #2983 "Stratimikos: catches Belos StatusTest exception, does not report it"
@trilinos/stratimikos

## Expectations

When a Belos status test object throws an exception, I would expect Stratimikos to both catch the exception and to report it, so that the user would have an immediate idea where to start looking for problems.

## Current Behavior
What Stratimikos _does_ report when this happens is that the solver failed to converge in 0 iterations, without reporting why no i

[2018-06-19 18:34] bartlettroscoe commented on #2983
@wfspotz, what lines of code is this?  Can we use 'git blame' to see who wrote that code?  I don't remember writing code that does that.

[2018-06-19 18:55] srajama1 commented on #1350
@kyungjoo-kim I think this can be closed ?

[2018-06-19 19:54] dridzal commented on #2978
@mhoemmen sorry I misunderstood.  Will do.  Most likely tomorrow.

[2018-06-19 20:14] djfitzgerald commented on #2781
I'm going to have to walk away from this problem.  I've been unable to get a non-Spack Trilinos environment working for unit testing, and really don't have any more time to invest in this.  I have fixes already committed to Spack that apply patches to the Trilinos 12.12.1 to correct this issue.  Someone else should take this up and make the changes to Trilinos itself.

[2018-06-19 20:30] djfitzgerald commented on #2938
I've been unable to get a non-Spack based Trilinos installed and configured.  The best I can do after quite a bit of work is get install 58% of the way.  I've really run out of time to work on this, and am unsure how to proceed.

[2018-06-19 20:32] mhoemmen opened #2984 "Tpetra: Add TPETRA_ENABLE_DEPRECATED_CODE macro"
1. Add `Tpetra_ENABLE_DEPRECATED_CODE` CMake option
  2. Add corresponding `TPETRA_ENABLE_DEPRECATED_CODE` macro that works like `KOKKOS_ENABLE_DEPRECATED_CODE`
  3. Unlike with Kokkos, everything protected by those macros must emit deprecated warnings, using the `TPETRA_DEPRECATED` macro

@trilinos/tpetra

[2018-06-19 20:37] mhoemmen commented on #2781
@nmhamster

[2018-06-19 20:38] mhoemmen commented on #2781
@djfitzgerald I appreciate your help in working on this issue!  I'm not sure whom you should contact to get help with this.  @nmhamster might have some suggestions.

[2018-06-19 20:38] aprokop commented on #2977
@csiefer2 That's my thinking too.

[2018-06-19 20:40] mhoemmen commented on #2938
@nmhamster , @trilinos/framework , and/or @mwglass may be able to help.

I'm swamped this week but if this becomes a priority, I could work with you or other IBM folks on getting a non-Spack Trilinos configuration.

[2018-06-19 20:56] bartlettroscoe commented on #2965
CC: @trilinos/belos, @srajama1 (Linear Solver Product Lead)

A little more info about these failures ...

From looking at [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-18&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=64&value1=test-Tril

[2018-06-19 20:59] djfitzgerald commented on #2781
@mhoemmen @nmhamster My problems come when I try to build zoltan.  For the record, here are the steps I'm performing:

1. Chose a ppc64le RHEL 7.5 test system with the IBM XL compiler suite, IBM ESSL, LAPACK 3.4.2, and Spectrum MPI already installed
2. Downloaded a *.zip archive of my working branch through GitHub with `wget https://github.com/djfitzgerald/Trilinos/archive/fix-2781.zip`
3. Unzippe

[2018-06-19 21:01] djfitzgerald commented on #2781
Its frustrating because this is a simple enough fix.  My patch for Trilinos 12.12.1 that I wrote for Spack applies and fixes it, but I've been unable to get Trilinos working enough for me to unit test the fix on the latest `develop` branch code.

[2018-06-19 21:04] djfitzgerald commented on #2938
This is unfortunately not going to become a priority on our end.  As far as our team is concerned, we've got the fix that we need committed into Spack, and being able to push it upstream into Trilinos would just be gravy.  Maybe if I can get some relief with #2781 I can follow this through.

[2018-06-19 21:16] kddevin commented on #2781
Can you try removing "/bin" from your MPI_BASE_DIR option when you compile?
This may allow CMake to find mpi.h in $MPI_BASE_DIR/include.

[2018-06-19 21:28] hubert-reinterpretcast commented on #2938
Reproducer for the issue:
[code]

The error message from the XL compiler is indicating some issue in the implementation, and not an error in the source code.

[2018-06-19 21:29] mhoemmen commented on #2781
@kddevin is totally right.  For many MPI implementations, if `mpiexec` etc. aren't in your PATH, it suffices to set `MPI_BASE_DIR` and _nothing_ else (other than perhaps `TPL_ENABLE_MPI=ON`).

[2018-06-19 22:09] #1350 closed

[2018-06-19 23:03] kddevin commented on #1882
@jhux2 Is this build still causing problems for you?  Have you seen it in other builds?
The link to the build cited here is no longer valid; I see
"Error: This build does not exist. Maybe it has been deleted."
Thanks!

[2018-06-19 23:06] kddevin commented on #1217
This bug will be closed unfixed.  If it becomes a blocker, please re-open.

[2018-06-19 23:06] #1217 closed

[2018-06-19 23:09] jhux2 commented on #1882
@kddevin Yes, this is still failing on apollo.  Here's the [build summary](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3641298) and [error](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3641298).   It's not causing me any problems -- I probably just noticed it while looking at MueLu dashboard errors.

[2018-06-19 23:20] jmgate opened #2986 "Create and Populate Teams for the Various Product Areas"
## Expectations
Given the "Trilinos testing and APP integration workflows and processes" discussion had today (6/19/2018) between @bartlettroscoe, @kddevin, @micahahoward, @rppawlo, @mperego, @agsalin, @srajama1, and @jmgate, it sounded reasonable to create teams under the Trilinos organization corresponding to the Trilinos product areas.  Then whenever someone is triaging ATDM CDash failures, the

[2018-06-19 23:38] srajama1 commented on #2986
It is just me for linear solvers now. Let us see how worse this gets and go from there. I might get extra help based on the load.

If possible, I recommend all of us start that way and if the load is too much we get someone to help us all.

[2018-06-20 01:28] rppawlo commented on #2986
Should we mark these teams as product areas? Don't want it to be confused as a new package. Maybe rename to "pa-nonlinear" or "product-area-nonlinear"?

[2018-06-20 12:40] bartlettroscoe commented on #2986
To make it clear that these GitHub teams are not about contacting everyone in a product area, how about `@trilinos/pa-issues-<product-area>`:  That would give:

* `@trilinos/pa-issues-data-services` (@kddevin)
* `@trilinos/pa-issues-discretizations` (@mperego)
* `@trilinos/pa-issues-framework` (@jwillenbring)
* `@trilinos/pa-issues-linear-solvers` (@srajama1)
* `@trilinos/pa-issues-nonlinear-solve

[2018-06-20 13:45] djfitzgerald commented on #2938
@mhoemmen Of that I know nothing about; for that you'd have to talk to someone from the XL Compilers team.  I'm just a humble end-user, much as yourself :-P

[2018-06-20 14:07] jmgate commented on #2986
Sounds fine to me.  Whatever you all like as long as there's consistency.

[2018-06-20 14:32] #2968 closed

[2018-06-20 14:33] djfitzgerald opened #2989 "seacas: -qfixed must be applied when building with XL Fortran"
@trilinos/seacas

## Expectations
Default cmake configuration should produce a version of seacas that builds under IBM XL Fortran

## Current Behavior
The version of seacas produced by the default cmake configuration contains a number of errors of the form `1515-019 (S) Syntax is incorrect` and `1515-002 (S) END card is missing`.

## Motivation and Context

My team was working with LLNL to assist

[2018-06-20 14:39] djfitzgerald commented on #2781
@mhoemmen @kddevin Removing `/bin/` seemed to help somewhat but not enough.  I'm uploading the latest build log, if either of you can give me other ideas on what to do.
[zoltan-failure-build.log](https://github.com/trilinos/Trilinos/files/2119781/zoltan-failure-build.log)

[2018-06-20 14:39] aprokop opened #2990 "Belos: recent changes to SolverFactory may have broken Nalu"
@trilinos/belos @MicheldeMessieres

Having trouble building an external application (nalu) with recent changes to Belos:
[code]

[2018-06-20 14:48] srajama1 commented on #2986
@bartlettroscoe : I don't like this team model quite that much. It is scalable, but this is quite easy to devolve into a huge list which is not what ATDM wants. Why don't we decide how to do this at the Trilinos Product leaders meeting and let you know. I appreciate the help, but we can come up with something that works for Trilinos.

[2018-06-20 15:00] bartlettroscoe commented on #2986
@srajama1 said

That is fine. All that is important from the ATDM perspective is that we list some `@mention` for each Product Area in the table on the page:

* https://snl-wiki.sandia.gov/display/TRIL/Trilinos+Product+Areas+and+Product+Leaders

and then know that when we add that `@mention` that we will be assured that someone associated with the Product Area will take over responsibility for the

[2018-06-20 15:07] bartlettroscoe commented on #2976
In the end, the only think that I could find that addressed the issue was to just turn down the ctest parallelism for the GNU Serial builds from `ctest -j16` to `ctest -j8`.  I posted that in PR #2987.  Once that PR is merged (hopefully today 6/20) and runs on CDash (hopefully tomorrow 6/21), then we can close this issue.

[2018-06-20 15:27] kddevin commented on #2781
Thanks for trying the new MPI_BASE_DIR, @djfitzgerald.  These errors are due to your configuration.  Other packages (not just Zoltan) are failing to find mpi.h.  I am not familiar with the IBM compilers, so I'll ask a few questions.

In your CmakeCache.txt , is MPI_BASE_DIR set correctly (i.e., without the /bin)?  If not, it may help to start fresh in a new, empty build directory with the correct

[2018-06-20 16:50] ctanis commented on #2518
@mhoemmen it looks like the non-block (CrsMatrix) performs as expected..  Can you point me at the benchmarks you mentioned?

[2018-06-20 17:21] aprokop commented on #2990
It seems that `SolverFactory` switched from class to a typedef. Nalu does not include `BelosSolverFactory.hpp`, instead doing fortward declarations like
[code]
Should `TpetraSolverFactory` be used where `SolverFactory` was used previously?

[2018-06-20 17:33] MicheldeMessieres commented on #2990
@mhoemmen @aprokop We did not anticipate the forward declaration issue. The intention was that SolverFactory should automatically point to TpetraSolverFactory, EpetraSolverFactory, BelosSolverFactory, or XpetraSolverFactory depending on the template types but the forward declaration is bypassing that.

Or GenericSolverFactory should work in all cases not covered by the above set.

So if this was t

[2018-06-20 17:39] wfspotz commented on #2983
Looks like

    packages/stratimikos/adapters/belos/src/Thyra_BelosLinearOpWithSolve_def.hpp

lines 653-658:

    12eabde6 (Roger P. Pawlowski    2014-04-01 14:51:59 -0600 653)     try {
    12eabde6 (Roger P. Pawlowski    2014-04-01 14:51:59 -0600 654)       belosSolveStatus = iterativeSolver_->solve();
    12eabde6 (Roger P. Pawlowski    2014-04-01 14:51:59 -0600 655)     }
    12eabde6 (Roger P

[2018-06-20 17:44] srajama1 commented on #2986
Got it ! Thanks !

[2018-06-20 17:45] wfspotz commented on #2983
Also, I am happy to fix this. The only issue is if there is a "standard" way to report the error.

[2018-06-20 17:48] rppawlo commented on #2983
Here's the comment with that commit:

 stratimikos: adding try/catch block around belos adapter solve()

Some belos exceptions were not being caught in the stratimikos adapters - in particular the call to solve() was not wrapped in a try/catch block.  This resulted in failing the entire simulation instead of allowing for a time stepper to check the linear solve status for a failed solve so that it

[2018-06-20 19:08] jrood-nrel opened #2994 "STK: Cannot build as shared library on OSX"
When building with STK enabled on OSX (Sierra) as a shared library using Clang v9.0.0-apple and GCC 7.3.0, I get this error:
[code]

When building as a static library on OSX, everything works fine. Also when building either shared or static with STK enabled on Linux works fine. I used Spack to investigate this, so I install with either `trilinos+shared` or `trilinos~shared` when testing this. The

[2018-06-20 19:34] bartlettroscoe commented on #2965
CC: @trilinos/belos, @srajama1 (Linear Solvers Product Area Lead)

As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildstarttime&compare2=84&v

[2018-06-20 19:35] bartlettroscoe commented on #2699
These 'found no available cpus' errors have been resolved for a long.  Looking at the remaining failing tests over the last week in all of the 'serrano' builds shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=6&showfilters=1&filtercombine=and&field1=buildna

[2018-06-20 19:35] #2699 closed

[2018-06-20 19:46] tjfulle commented on #2994
@jrood-nrel, I build stk with shared libraries on macOS, but I have to apply the attached patch
[stk_diff.txt](https://github.com/trilinos/Trilinos/files/2120802/stk_diff.txt).  One of the changes in the diff fixes a missing dependency in a `CMakeLists.txt`.  I'm not sure why the build succeeds on Linux but fails on macOS (maybe having to do with differences in how each OS alphabetizes lower/upper

[2018-06-20 19:58] mhoemmen commented on #2994
@alanw0

[2018-06-20 19:59] csiefer2 opened #2995 "Framework: Autotester may be busted?"
Been waiting 5 hours now for the testing to finish... See #2988

@trilinos/framework

[2018-06-20 20:00] mhoemmen commented on #2994
@tjfulle We should file a ticket for STK w/ the patch -- I'm pretty sure they would be willing to apply it from their end.

[2018-06-20 20:02] tjfulle commented on #2994
@mhoemmen, you should look at the kludge before making that assertion 😂

[2018-06-20 20:03] mhoemmen commented on #2990
@MicheldeMessieres Nalu does a lot of forward declarations that makes it hard to preserve backwards compatibility with even small changes.  The best thing would be for Nalu to include the header file in the place where they use the SolverFactory.  Michel's changes improve build time quite a bit, so it shouldn't increase build time much to include the header file.

[2018-06-20 20:03] tjfulle commented on #2994
@mhoemmen , but I have an idea of what needs to be fixed, I just haven't had the time

[2018-06-20 20:04] mhoemmen commented on #2983
Does Stratimikos have an error code for "the solve failed for some reason other than failure to converge"?

[2018-06-20 20:07] mhoemmen commented on #2994
@tjfulle Let's just file a ticket, give 'em the patch, and let them sort it out ;-)

I'm not sure what the rules are these days for applying STK patches to Trilinos.  @trilinos/framework might have some idea about that.

[2018-06-20 20:08] tjfulle commented on #2994
Okay, can you email me a link where I can file a ticket?

[2018-06-20 20:21] aprokop commented on #2990
Switching to `TpetraSolverFactory` does build, but I have not run anything yet.

[2018-06-20 20:41] mhoemmen commented on #2990
@aprokop Is "it" Nalu?

[2018-06-20 20:42] aprokop commented on #2990
@mhoemmen Sorry, yes :)

[2018-06-20 20:43] mhoemmen commented on #2994
@tjfulle done; thanks!

[2018-06-20 20:44] mhoemmen commented on #2989
@gsjaardema

[2018-06-20 20:44] mhoemmen commented on #2990
I really very strongly dislike this "let's give a typedef the same name as the class but without the template parameters" thing :(

[2018-06-20 20:48] srajama1 commented on #2965
@hkthorn : Do you have time to check this ? Disabling CG tests makes me worry we will miss something basic.

[2018-06-20 21:02] prwolfe commented on #2995
Sorry I didn't see this earlier.  This is about the max time limit, but it does seem to have completed successfully.

[2018-06-20 21:03] csiefer2 commented on #2995
Is the autotesting supposed to take 5 hours now?  Or is something wonky?

[2018-06-20 21:05] prwolfe commented on #2994
stk patches should be applied in Sierra and migrated into Trillinos via the PR process.  There is a PR waiting for a newer Seacas at the moment (see #2930 )

[2018-06-20 21:11] jwillenbring commented on #2995
The Intel build generally takes about 4.5 hours I would say. I don't see 5 as being out of line with what we would expect.

[2018-06-20 21:36] jhux2 commented on #2973
@hillyuan Kokkos is its own github repo, please refile this issue there.

[2018-06-20 21:45] csiefer2 commented on #2995
Yeah, its just that builds took 2 hours a month or two ago (because we weren't doing intel)...

[2018-06-20 21:47] bartlettroscoe commented on #2983
@mhoemmen said:

The documentation at:

* https://trilinos.org/docs/dev/packages/thyra/doc/html/classThyra_1_1LinearOpWithSolveBase.html#ac7c5b4c8553833778e88e3fb627c4009

states:

Can we update the implementation to throw the exception `Thyra::CatastrophicSolveFailure` and then pass through the relevant error message?  Could NOX and other clients then be updated to look for this exception?

[2018-06-20 21:52] bartlettroscoe commented on #2965
@srajama1 said:

Disabling this test in the builds were it is already failing does not loose any testing.  We are getting zero value for these tests in this builds currently.  And these tests pass for the other builds on these platforms.  And someone can still fix these tests offline even if they are temporarily disabled.

With that said, I don't think it would take very long to fix these tests to

[2018-06-20 21:53] bartlettroscoe commented on #2839
Any objection to just disabling these 6 tests on this platform for now and then letting a MueLu developer reproduce and debug these offline?  We have limited funding and time to track down issues like this ourselves on the ATDM DevOps side.

[2018-06-20 22:06] cgcgcg commented on #2839
@jhux2

[2018-06-20 22:10] srajama1 commented on #2965
@bartlettroscoe : I totally understand. Go ahead and disable if you have to. My comment was to @hkthorn so we fix it and reenable the tests sooner rather than later.

[2018-06-20 22:47] mhoemmen commented on #2518
@ctanis Try `Trilinos/tpetra/core/test/PerformanceCGSolve/`.  It builds if you enable Tpetra's tests (CMake option `Tpetra_ENABLE_TESTS:BOOL=ON`).  The executable reads in the CrsMatrix as a Matrix Market file, then benchmarks the method of conjugate gradients (so, sparse matrix-vector multiply, plus dot products, norms, and vector updates).

[2018-06-20 23:44] mhoemmen commented on #2989
I just applied @gsjaardema 's patch to the develop branch.  Please feel free to close this issue once it works for you, @djfitzgerald -- thanks!

[2018-06-21 00:33] hillyuan commented on #2973
Issues moved to Kokkos github repo

[2018-06-21 00:33] #2973 closed

[2018-06-21 01:37] jhux2 commented on #2839
@bartlettroscoe That's fine -- can we keep this issue open, however, so that we don't lose track of this?

[2018-06-21 12:37] aprokop commented on #2990
OK, the Nalu patch that I have successfully ran on Cori. I'll submit it upstream, and see what folks say. Closing this as this is technically not MueLu's issue.

[2018-06-21 12:54] bartlettroscoe commented on #2976
As shown in [this query today](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-21&filtercombine=and&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=61&value2=Tempus_DIRK_Combined_FSA_MPI_1), the test `Tempus_DIRK_Combined_FSA_MPI_1` is now completing and passing in the build

[2018-06-21 12:54] #2976 closed

[2018-06-21 13:02] prwolfe commented on #2712
I am seeing this in a gcc 4.9.3 build with openmpi 1.10.1, so it is likely the mph version and not the compiler or OpenMP. I also built in debug and it failed, but I have not checked closer.

[2018-06-21 13:39] bartlettroscoe commented on #2839
@jhux2 said:

Our policy which is outlined at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos#ATDMBuildsofTrilinos-Addressingfailures

is that when we disable tests to resolve failures showing up on CDash we keep the issue open and then mark it with the "Disabled Tests" and "Stalled" labels so we can filter them out of our query of issues we are trying to activ

[2018-06-21 13:46] bartlettroscoe commented on #2827
There were no failing or timing-out Kokkos or KokkosKernels tests for the past two days as shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-20&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=11&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=status&compare2=62&value2=passed&field3=stat

[2018-06-21 13:46] #2827 closed

[2018-06-21 13:54] #2995 closed

[2018-06-21 13:58] bartlettroscoe commented on #2913
As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-07&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=16&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=status&compare2=62&value

[2018-06-21 13:58] #2913 closed

[2018-06-21 14:05] bartlettroscoe opened #2998 "Intel license server problems on serveral HPC machines causing many build failures for intel builds on 6/22/2018"
CC: @fryeguy52

This issue is to just log a bunch of Intel build failures on the HPC machines 'chaman', 'serrano', and 'mutrino' as shown in [this query](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-06-21&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=-atdm-&field2=buildname&compare2=63&value2=intel) that appear to be

[2018-06-21 14:05] bartlettroscoe commented on #2998
I am closing this issue because there is nothing for us to do.  I just wanted to log this incident.

[2018-06-21 14:05] #2998 closed

[2018-06-21 14:10] bartlettroscoe commented on #2883
@jmgate, can you verify that this install issue has been resolved for EMPIRE after syncing Trilinos in the last 2 weeks or so?  Then we can close this issue.

[2018-06-21 14:13] ibaned opened #2999 "Belos compile error"
@trilinos/belos

## Expectations

Belos should build without error.

## Current Behavior

[code]

[2018-06-21 14:15] ibaned commented on #2999
A little bit more of the error message:
[code]

[2018-06-21 14:16] jwillenbring commented on #2975
I have been looking into this. The nightly job is unable to write to the machine. I had it rebooted yesterday and that did not help. I now requested login access (which I thought worked previously, but does not now) so I can investigate further.

[2018-06-21 14:30] jmgate commented on #2883
These changes did make it into our fork of Trilinos.  How can I verify that the install is no longer pointing into the build tree?

[2018-06-21 14:37] #2989 closed

[2018-06-21 14:52] wfspotz commented on #2983
@bartlettroscoe I believe this would have been the preferred behavior in the SPARC development scenario outlined above.

[2018-06-21 14:52] prwolfe commented on #2712
Some quick work with cout shows
* this does not fail when run without mpi
* the failure in test_strategy is in iStrat.getOuterStabilization which is protected by an ifdef

`
#ifndef TEKO_DISABLE_LSCSTABALIZED_TPETRA_ALPAH_INV_D
....
#endif
`

which tells me someone has had issues with this before.  Anyone recall what the issue here was?

[2018-06-21 15:24] mhoemmen commented on #2999
@MicheldeMessieres I suspect your changes didn't actually cause this, but somehow revealed it.

@ibaned Try putting a stub `tsqr_adaptor_type` typedef (just typedef it to `int` or something) in that Xpetra specialization of MultiVecTraits -- if that fixes the build, then my suspicions are correct.

[2018-06-21 15:28] bartlettroscoe commented on #2712
@prwolfe, yes, take a look [above](https://github.com/trilinos/Trilinos/issues/2712#issuecomment-387878134).

[2018-06-21 15:31] bartlettroscoe commented on #2883
@jmgate, see the find/grep I did [above](https://github.com/trilinos/Trilinos/issues/2883#issuecomment-394733428).

[2018-06-21 15:38] mhoemmen commented on #2990
Thanks @aprokop ! :D

[2018-06-21 15:46] jmgate commented on #2883
I did a
[code]

in the install directory and didn't find anything.  Is that sufficient?  This was in a Trilinos install from our nightly Jenkins pipeline.  Do you need to check an install that uses the `cmake/std/atdm` scripts?  If so, I don't know where one of those lives.

[2018-06-21 15:51] bartlettroscoe commented on #2883
@jmgate, I think the bottom line is that if you can build EMPIRE against the Trilinos installed by Jenkins and don't have any problems, then the issue is resolved.

[2018-06-21 15:56] jmgate commented on #2883
Sounds good.

[2018-06-21 15:56] #2883 closed

[2018-06-21 16:08] prwolfe commented on #2712
@bartlettroscoe Those comments and issue #2654 discuss what was done, but never come to an understanding of the underlying issue.  I guess thats where it will stand for now.

[2018-06-21 16:42] bartlettroscoe commented on #2712
@prwolfe, a Teko developer could not figure out what was going on so just told us to disable these individual unit tests for that build.

[2018-06-21 20:32] MalachiTimothyPhillips commented on #1264
I've encountered a couple of these issues from ```operator[]``` in ```Storage``` not being marked ```KOKKOS_INLINE_FUNCTION```.

Here is a pull request that addresses (some) of these issues: https://github.com/trilinos/Trilinos/pull/3005.

[2018-06-21 20:37] csiefer2 commented on #2975
Thanks for taking care of this.  Please keep me posted!

[2018-06-21 21:40] dridzal commented on #2978
@mhoemmen could you try removing the include in your code?  It should no longer be needed.

[2018-06-21 22:32] bartlettroscoe opened #3007 "Tests Belos_pseudo_pcg_hb_[0,1]_MPI_4 seeming fail with max iterations randomly in some builds on white/ride"
CC: @trilinos/belos, @fryeguy52, @srajama1 (Trilinos Linear Solvers Product Lead)

## Next Action Status

PR #3546 merged on 10/2/2018 re-enabled these tests on 'white' and 'ride'.  Next: If no more (random) test failures by 12/2/2018, then close ...

## Description

As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-21&filtercombine=and&filte

[2018-06-21 22:34] bartlettroscoe commented on #3007
Since we (temporarily) disabled the similarly failing tests `Belos_pseudo_stochastic_pcg_hb_[0,1]_MPI_4` in #2920, I will go ahead and disable these tests for the CUDA and OpenMP builds on 'white' and 'ride'.  Then they can be fixed offline when there is time.

[2018-06-21 23:29] ndellingwood commented on #2786
Closing the issue since this has been resolved for some time, thanks @lucbv and @cgcgcg  :)

[2018-06-21 23:29] #2786 closed

[2018-06-22 00:08] mhoemmen commented on #2518
That setting is a work-around.  @ambrad could also help comment on this as I think he implemented the work-around.  `doImport` just does the communication for the sparse mat-vec.

I'm swamped today; I just don't want you to think I'm ignoring you :-) .

[2018-06-22 19:42] ctanis commented on #2518
@mhoemmen I appreciate all your help!

FWIW, I built Trilinos with HAVE_TPETRA_BCRS_DO_POINT_IMPORT and the MPI+Cuda performance is far improved.  I'm not sure it scales in MPI, but it no longer explodes on me.  I'll have more information when I fix some of my own bugs that are making it difficult to try larger jobs.  I just wanted you to know that this option appeared to help performance.

[2018-06-22 20:02] ambrad commented on #2518
Sorry: just saw this. Yes, setting `-D Tpetra_BCRS_Point_Import=ON` in your Trilinos configuration will improve the block CRS matvec, as the MPI comm will then funnel through a code path that is intended to run reasonably well on GPU.

[2018-06-22 21:24] bartlettroscoe commented on #2311
Last update before I pull the trigger in disabling the randomly failing tests `MueLu_ParameterListInterpreterTptra_MPI_1` or `MueLu_ParameterListInterpreterTpetraHeavy_MPI_1` in a few builds ...

A shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-06-22&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filter

[2018-06-22 21:28] mhoemmen commented on #2518
Thanks @ambrad ! :-D

The whole MPI + CUDA story is a bit of a mess at the moment.  It might _work_, and many code paths use the GPU to pack and unpack messages.  However, MPI send and receive directly to/from GPU memory, while it works, seems to be slow.  We have a lot more work to do.

[2018-06-22 21:36] barche opened #3010 "No input files error when building with CUDA"
I'm trying to build Trilinos with Cuda support on Arch linux (Cuda 9.2.88.1) but the nvcc errors out with "no input files" when linking libshards:

[code]

The contents of the objects1.rsp file are:
[code]

The configure and build commands (adapted from the Arch PKGBUILD):
[code]

[2018-06-23 14:08] bartlettroscoe commented on #2463
This has been done since about 6/1/2018 as shown in [this query](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=groupname&compare1=61&value1=Pull%20Request&field2=buildstarttime&compare2=84&value2=now&field3=buildstarttime&

[2018-06-23 14:08] #2463 closed

[2018-06-25 11:55] mayrmt commented on #2798
We probably need to add values (across processor boundaries _and_ locally) to reverse the splitting of entries during the matrix splitting process.

[2018-06-25 20:13] prwolfe opened #3014 "MueLu_UnitTestsEpetra_MPI_4 Fails in all OpenMP builds"
@trilinos/muelu

## Expectations
This test should be stable when run under OpenMP or deemed irrelevant.

## Current Behavior
This fails on all OpenMP enabled builds as seen in this query -
https://testing-vm.sandia.gov/cdash/testSummary.php?project=1&name=MueLu_UnitTestsEpetra_MPI_4&date=2018-06-25

It looks like the first failure was in the continuous at "2018-06-20 18:52:17" - see
https://testin

[2018-06-25 20:43] aprokop commented on #3014
Oh yeah, I looked at this failure. I'm pretty sure that it fails because the difference in the number of computed mpi ranks for rebalancing. The easiest way to fix it would be to add `OMP_NUM_THREADS=1` to the environment of the test.

I won't have time to do it until next week. @lucbv Could you please try to add the variable and see if it fixes it?

[2018-06-26 12:49] gsjaardema commented on #1751
https://github.com/kokkos/kokkos/blob/develop/doc/kokkos-promotion.txt
The instructions referenced above have been moved.  Updating location.

[2018-06-26 13:14] prwolfe commented on #3014
All our testing is currently done with OMP_NUM_THREADS=2. You could either expect that or better get the value of the environment so this test could scale if someone sets up a different set of tests.

[2018-06-26 16:32] wfspotz commented on #955
@aprokop What is the status of ForTrilinos for ECP?

[2018-06-26 20:35] aprokop commented on #955
@wfspotz Right now, ForTrilinos uses a custom fork of SWIG and runs off Trilinos 12.12 branch. It supports linear solvers, implicit linear operators and eigensolvers.

[2018-06-27 14:18] cgcgcg opened #3015 "Belos: Solver not registered"
@trilinos/belos

## Current Behavior
The MueLu Maxwell 3D test is failing since the required Belos solver has not been registered. Not all builds are affected though:
https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&limit=0&filtercount=2&showfilters=1&filtercombine=and&field1=testname&compare1=63&value1=Maxwell3D&field2=status&compare2=63&value2=Failed

@MicheldeMessieres Is it pos

[2018-06-27 14:44] MicheldeMessieres commented on #3015
@cgcgcg @mhoemmen That looks like it was caused by those changes. I'm guessing the macros used to auto register all enabled types are somehow out of synch with the test for these particular configurations. I'll check into this.

[2018-06-27 14:54] cgcgcg commented on #3015
@MicheldeMessieres Sounds good. Thank you for looking into this.

[2018-06-27 15:23] mhoemmen commented on #3015
@MicheldeMessieres Thanks! :-D

@cgcgcg Our long-term goal is to get rid of extra Belos instantiations.  That would mean replacing the Xpetra instantiations of Belos in MueLu, with the run-time polymorphism instantiations (`MV=Belos::MultiVec<Scalar>`, `OP=Belos::Operator<Scalar>`).  It should be no more work or code than the current approach in MueLu, and it will save a bunch of instantiations wi

[2018-06-27 16:55] spdomin commented on #2990
@mhoemmen, thank you for your help! The original guidance to interface with Tpetra was to move forward with these typedefs. If you have the time and desire, I would very much like to sit down with you so that we can remove these layers in a manner that you see best. The time frame for this change can be ~a month or two - depending on your availability. Best.

[2018-06-27 17:45] etphipp opened #3017 "Kokkos::resize() no longer works for Sacado Fad scalar types"
@trilinos/sacado @ndellingwood @vbrunini

As reported by Victor Brunini, Kokkos::resize() doesn't compile when called with a View of Fad's:
[code]
I verified the error and it appears to arise because internally Kokkos creates views of differing memory spaces, which fails Sacado's check for assignability.  I am working on a fix.

[2018-06-27 18:39] aprokop commented on #2977
Merged in `master`.

[2018-06-27 18:39] #2977 closed

[2018-06-27 19:00] prwolfe commented on #3014
I can confirm that changing the environment variable to '1' does allow this test to pass.

[2018-06-27 19:38] jwillenbring commented on #2975
At least some of the problem is that [Kokkos added a bunch of files with "::" in the filename](https://github.com/kokkos/kokkos/issues/1675). Testing with those removed on a fork still wasn't 100% working, but fixing this should help us to make further progress.

[2018-06-27 21:10] mhoemmen commented on #2990
Hi @spdomin !  Regarding Tpetra, I'm hoping Nalu won't have to change at all.  Our end goal for Belos is to reduce the number of instantiations, but I think it's possible not to have to change the user interface at all either.

"Let's give a typedef the same name as the class but without the template parameters" means what it means literally.  For example:
[code]
MueLu does it too, and I don't lik

[2018-06-27 21:50] danielsjensen1 opened #3023 "Teuchos: Abbreviated Maps in YAML Parser"
## Expectations

The following YAML input
[code]
should be equivalent to
[code]
This behavior is expected from some users for the same reason that
[code]
is equivalent to
[code]

## Current Behavior

The code currently throws the following error when parsing `try: {a: 1, b: 2, c: 3}`:

## Motivation and Context

Readability for some input files can be improved by using this standard shortcut versi

[2018-06-27 23:13] mhoemmen commented on #3023
@trilinos/teuchos @ibaned

[2018-06-28 14:41] MicheldeMessieres commented on #3015
@mhoemmen @cgcgcg PR #3026 has a fix for all the builds with Tpetra_INST_INT_INT off. I had a logical error in the macros which is now resolved. I'm not sure yet what's going on with the clang build. That had the same error but not the same configuration. Also that had build errors with the scaling MueLu test driver so it wasn't clear if the tests should be interpreted anyways.

[2018-06-28 14:47] cgcgcg commented on #3015
@MicheldeMessieres  Great, thank you!

[2018-06-28 16:00] etphipp commented on #3017
I just posted a PR (#3027) that appears to fix this based on my testing.

[2018-06-28 17:23] ibaned commented on #3023
Thanks @danielsjensen1 for pointing this out! Also thanks to @mhoemmen for making sure it showed up in my inbox. This is an oversight on my part, and I've developed a fix in PR #3028.

[2018-06-28 19:48] mhoemmen commented on #3015
I just merged #3026 into develop.  Thanks!

[2018-06-28 21:05] csiefer2 opened #3029 "Framework: Windows build didn't post again last night"
... but it did the night before

[2018-06-28 22:32] mhoemmen opened #3030 "Tpetra: Build error in test with Tpetra_INST_INT_INT:BOOL=OFF"
When I set `Tpetra_INST_INT_INT:BOOL=OFF`, the Issue 2198 test fails to build, with the following error:
[code]
The problem is that `optimizedRemoteProcessRanks` is `std::vector<GO>`, but should be `std::vector<int>`.

@trilinos/tpetra

[2018-06-28 22:44] ibaned commented on #3023
@danielsjensen1 the fix is in the develop branch, please let me know if it works for you. Thanks!

[2018-06-28 23:06] mhoemmen opened #3032 "MueLu fails to build with Tpetra_INST_INT_INT:BOOL=OFF"
MueLu fails to build with `Tpetra_INST_INT_INT:BOOL=OFF`.  Until this is fixed, Tpetra developers cannot improve build time and library sizes by removing support for all GlobalOrdinal types but `int64_t`.

Here is an example of the link errors I get:
[code]

@trilinos/muelu

## Related Issues
* Blocks #2548

[2018-06-28 23:14] mhoemmen commented on #3032
I added a `static_assert` to Maxwell, and found that MueLu was attempting to build Maxwell for for `GO=int`, even though I had set `Tpetra_INST_INT_INT:BOOL=OFF`.
[code]

[2018-06-28 23:22] kddevin opened #3033 "Tpetra::defaultArgNode fails in serial build"
@trilinos/tpetra @trilinos/teuchos @trilinos/kokkos

## Expectations

Calls to defaultArgNode should run whether Teuchos::Comm is serial or MPI.

## Current Behavior

A simple test program (attached) calling defaultArgNode works when built with MPI, but not when built without MPI.

Without MPI, I get
terminate called after throwing an instance of 'std::system_error'
  what():  Unknown error 184467

[2018-06-28 23:28] mhoemmen commented on #3032
@micahahoward Right now SPARC can't build Intel debug because `libmuelu.a` is 4.2G.  I'm hoping to cut this down by setting `Tpetra_INST_INT_INT:BOOL=OFF` and only enabling `GO=long long`.

[2018-06-28 23:30] mhoemmen commented on #3033
Nobody -- including Matrix Market I/O -- should be creating Node instances explicitly.  I can fix Matrix Market I/O not to do this, and I think I can also get rid of the Node instances so they have no power to affect things.

[2018-06-28 23:34] mhoemmen commented on #3033
Oh wait, nothing in the Matrix Market I/O routines calls `defaultArgNode` explicitly.

@kddevin The issue could be that you're creating Tpetra objects at `main()` scope.  Try doing this:
[code]

[2018-06-28 23:39] cgcgcg commented on #3032
@mhoemmen I'll have a look at this.

[2018-06-29 04:05] mhoemmen commented on #3030
PR #3031 fixes this; I merged that PR into develop.

[2018-06-29 04:05] #3030 closed

[2018-06-29 13:05] casparvl commented on #2434
I run into the same problem. I have defined:

CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS=ON
CMAKE_CXX_USE_RESPONSE_FILE_FOR_INCLUDES=ON
CMAKE_CXX_USE_RESPONSE_FILE_FOR_LIBRARIES=ON

This makes for nice and (relatively) short compile & link steps like:

`[ 94%] Building CXX object packages/stokhos/src/CMakeFiles/stokhos.dir/epetra/Stokhos_SGModelEvaluator_Adaptive.cpp.o
cd /scratch/shared/jenkins/test

[2018-06-29 14:40] prwolfe opened #3034 "Re-Enable MueLu_UnitTestsTpetra_MPI_4 in openMP PR build"
We had to disable this test to get #3003 to work. We will need to re-enable it as soon as the issue is resolved.

[2018-06-29 14:40] prwolfe opened #3035 "MueLu_UnitTestsTpetra_MPI_4 fails in all openMP builds"
see #3003 and any openMP build
https://testing-vm.sandia.gov/cdash/testSummary.php?project=1&name=MueLu_UnitTestsTpetra_MPI_4&date=2018-06-28

@mhoemmen thinks this is related to some recent repartitioning work.

@trilinos/muelu

## Expectations
I will turn this off for the 4.8.4 PR build, we will need to re-enable it when this is fixed.

## Related Issues
* Blocks #3034
* Related to #3003

[2018-06-29 14:58] prwolfe commented on #3034
#3035 was filed to address the test failure itself

[2018-06-29 15:00] cgcgcg commented on #3015
@MicheldeMessieres The three NO_INT builds are passing now. As for the clang build, there are other issues, but the test did pass before. And interestingly enough, it also passes with Epetra instead of Tpetra:
https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&limit=0&filtercount=2&showfilters=1&filtercombine=and&field1=testname&compare1=63&value1=Maxwell3D&field2=buildname&compare2=

[2018-06-29 15:06] cgcgcg commented on #2967
Closing as fixed.

[2018-06-29 15:06] #2967 closed

[2018-06-29 16:13] kddevin commented on #3033
Thanks, @mhoemmen .  No, the problem isn't the scoping.  With the suggestion above, I still get the error (and, I assume, I would have gotten it in the MPI case as well if scoping were the problem).

readSparseFile creates the node as an argument to the map constructor.

How does the Kokkos node differ between MPI builds and non-MPI builds?

If the node instances are not needed in readSparseFile,

[2018-06-29 20:21] mhoemmen commented on #3033
@kddevin wrote:

It doesn't at all.  Tpetra's Node creation initializes Kokkos if it hasn't already been initialized.  It tries to get command-line arguments from `Teuchos::GlobalMPISession`, and if there are any, it passes them down into `Kokkos::initialize`.

[2018-06-29 20:31] mhoemmen commented on #2999
@ibaned Is this still showing up for you?

[2018-06-29 20:33] ibaned commented on #2999
@mhoemmen yep, looks like its still there

[2018-06-29 20:33] cgcgcg commented on #3032
@mhoemmen I set `Tpetra_INST_INT_INT:BOOL=OFF` in my build, but somehow the compilation still goes though. I do get a bunch of build errors from panzer, but all of MueLu seems to compile. Epetra is enabled, and when I try to run the Maxwell example, it tells me that it won't work since I don't have the correct Tpetra instantiations. Could you share your configure script?

[2018-06-29 20:43] mmwolf opened #3038 "Tpetra: shadowed variable ac_status in TpetraExt_TripleMatrixMultiply_def.hpp"
Warning (error with -Werror):

.../Trilinos/packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp:1647:39: error: declaration of ‘ac_status’ shadows a previous local [-Werror=shadow]
         std::vector<size_t> ac_status(maxAccol + 1, ST_INVALID);
                                       ^~~~~~~~
.../Trilinos/packages/tpetra/core/ext/TpetraExt_TripleMatrixMultiply_def.hpp:1629:21: note: s

[2018-06-29 20:49] cgcgcg commented on #3038
@brian-kelley

[2018-06-29 21:11] mhoemmen commented on #3038
@trilinos/muelu

[2018-06-29 21:15] mhoemmen commented on #2999
@ibaned Did adding the stub typedef help?

[2018-06-29 21:16] ibaned commented on #2999
I'm afraid I won't have time to try that for a while... I'll post here if I get around to it

[2018-06-29 21:53] mmwolf opened #3040 "Anasazi: missing header file in AnasaziStatusTestResNorm.hpp"
I believe AnasaziStatusTestResNorm.hpp is missing the following:

#include "Teuchos_LAPACK.hpp"

So I'm getting the following error:

In file included from algorithms/helper/BKSShiftInvertHelpers.hpp:14:0,
                 from algorithms/helper/BKSShiftInvertHelpers.cpp:8:
AnasaziStatusTestResNorm.hpp: In member function ‘Anasazi::TestStatus Anasazi::StatusTestResNorm<ScalarType, MV, OP>::checkSt

[2018-06-29 21:53] brian-kelley commented on #3038
@cgcgcg Fixed in #3039 . It's just a one-line change to delete the shadowing declaration.

[2018-06-29 22:21] mhoemmen commented on #3032
[code]

[2018-07-01 15:11] nmhamster opened #3041 "Xpetra/Epetra Undefined Reference when Compiling MueLu Test"
@trilinos/muelu @trilinos/xpetra

Compiling Trilinos (with tests) for KNL on Argonne Theta. I am using the Master branch.

Using:
*  Cray MPI
*  Intel 18.2 Compiler
*  OpenMP enabled

[code]

[2018-07-01 22:56] Tdub122984 opened #3042 "Linker problem for Trilinos on Mac"
I believe that I had a success build for Trilinos... I am trying to run individual tests on for different Trilinos packages to better understand Trilinos. However, every testcase come with the following:

clang: error: linker command failed with exit code 1 (use -v to see invocation)

Any help on this would be greatly appreciated!

[2018-07-02 04:25] mhoemmen opened #3043 "Tpetra: Matrix Market CrsGraph reader untested, could never have compiled"
Two of the several overloads of the Matrix Market CrsGraph reader have an apparent build error that does not show up in tests.  Neither of the following lines of code could ever have compiled:
https://github.com/trilinos/Trilinos/blob/69f8850c25bdead51b38866ae34d4fa40947b67f/packages/tpetra/core/inout/MatrixMarket_Tpetra.hpp#L1926
https://github.com/trilinos/Trilinos/blob/69f8850c25bdead51b38866ae

[2018-07-02 04:45] mhoemmen commented on #3042
Could that be related to this issue? https://github.com/trilinos/Trilinos/issues/2141

Short answer: Try reconfiguring (rerunning CMake) with `CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS=ON`.

[2018-07-02 04:58] mhoemmen commented on #3038
Fixed in develop; thanks!

[2018-07-02 04:58] #3038 closed

[2018-07-02 14:00] fryeguy52 commented on #3035
@bartlettroscoe

This is also failing on 11 of the 15 openmp ATDM nightly builds.  Shown here:

[Tests result for openmp builds 2018-07-01](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-01&filtercount=5&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=MueLu_UnitTestsTpetra_MPI_4&field2=buildname&compare2=63&value2=Trilinos-atdm&field3=buildname&com

[2018-07-02 14:23] william76 opened #3045 "ROL: Tests failing on clean build since 6/22 nightlies"
@trilinos/rol

There have been failing tests on the [Clean][1] track since 6/22.

- Test: [ROL_example_PDE-OPT_adv-diff-react_example_02][2] (Failed)
- Test: [ROL_example_PinT_tanks_AugmentedSystem_test][3] (Failed)
- Test: [ROL_example_PDE-OPT_adv-diff-react_example_02_MPI_4][4] (Failed)

The source of this would have been merged in on 6/21 before about 10pm MT.

Errors in clean builds prevent de

[2018-07-02 14:40] danielsjensen1 commented on #3023
Everything is being parsed properly now with your fix.  Thanks for taking care of this so fast!

[2018-07-02 14:40] #3023 closed

[2018-07-02 15:19] gahansen commented on #2999
@mhoemmen , I'd try the stub if you can give me more guidance on where it needs to go - I'm not Belos-aware enough to integrate through the logic there and figure it out. We are seeing this compile issue in the Trilinos build that the Albany compile depends on:

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=72929

we have configured:

"-DTrilinos_ENABLE_TpetraTSQR:BOOL=ON"
"-DTpet

[2018-07-02 16:12] mhoemmen commented on #2999
@gahansen Hm, I would like to learn more about Albany's TSQR needs.  Could you please send me an e-mail about that?

I'll take a look at this.

[2018-07-02 16:18] ibaned commented on #2999
It has to do with depending on rbgen in Anasazi. @ikalash knows more about this.

[2018-07-02 16:43] csiefer2 opened #3046 "MueLu: Driver DataToWrite option does not work with repartitioning"
As reported by @rstumin . For instance. this crashes:

[code]

A workaround has been provided to @rstumin

[2018-07-02 16:46] mhoemmen commented on #2999
So you're not actually using TSQR?

[2018-07-02 16:48] ibaned commented on #2999
I'm pretty sure we are, @ikalash should email you soon and CC others who can describe more details

[2018-07-02 16:53] hkthorn commented on #2965
@bartlettroscoe @srajama1 This issue has been fixed by commit dcbfd13.  Can I enable the tests again on Chama and Serrano?

[2018-07-02 16:56] srajama1 commented on #2965
@hkthorn Thank you for taking care of these ! @bartlettroscoe is the best person to decide reenabling tests for ATDM.

[2018-07-02 17:03] hkthorn commented on #2920
@bartlettroscoe @mhoemmen  Given that the single-vector CG solvers are just barely not converging on these test platforms,#2920 and #3007, I am increasing the maximum number of iterations by a little.  There is nothing wrong with the solvers.  This is not just due to the stochastic nature of this solver, the preconditioned CG solver has the same issue #3007.  That is because, there is still random

[2018-07-02 17:08] srajama1 commented on #2920
@hkthorn Thanks for taking care of this ! I am curious.  Does random rhs has any benefit over a fixing the answer x (say to all ones) and then do A *x to arrive at the rhs ? That way we will workaround this issue altogether.

[2018-07-02 17:09] bartlettroscoe commented on #2965
@hkthorn said:

Sure, go ahead and give it a try.  Just create a new commit (and PR) that removes the lines that were added in commits cbb56a799fb95161e3043088635a532bf524a514 and 5be802ccd476a31f67a3a727ec74512e276997b8 (you might try to just revert those commits but sometimes that will create a conflict).  I will then review and approve the PR.

Thanks for fixing!

[2018-07-02 17:10] ikalash commented on #2999
@jfike : have we decided to remove Albany MOR's dependency on RBGen like we did for SPARC?  Per the discussion above, I think the MOR POD basis computation is the only thing that uses TSQR in Albany.  Perhaps we should turn it off if it is not needed anymore.

[2018-07-02 17:14] hkthorn commented on #2920
@srajama1 Fixing the answer to a constant value could be a bad choice for test matrices, it's dependent upon the eigenvalues/vectors.  I don't want to do that.  I have toyed with the idea of just creating a RHS vector for each matrix that we use, so we know the expected behavior of the solver and are not subject to platform-dependent randomization.

[2018-07-02 17:21] mhoemmen commented on #2999
Does it literally use TSQR?  I intend to maintain TSQR going forward, and have funding to do so :-) .

[2018-07-02 17:39] hkthorn commented on #2999
@mhoemmen @ikalash The POD basis computation in RBGen uses Anasazi, which can use TSQR but does not need to.  So, I'm pretty sure that TSQR is not a requirement for Anasazi, it may be enabled though.  I think the issue with RBGen is still just the linking of the Epetra driver, is that right @ikalash ?

[2018-07-02 17:39] jfike commented on #2999
Actually, we DO use TSQR within the MOR part of Albany.  Typically in MOR we solve (W \Phi)^T (W \phi) \Delta x = -(W \Phi)^T f, where f is the residual, W is the Jacobian, and \Phi is the POD basis.  We have an alternative version that solves  (W \phi) \Delta x = - f by using TSQR on (W \Phi).  I created the initial implementation, but @plindsa pushed the actual changes to MOR_GaussNewtonOperator

[2018-07-02 17:56] mhoemmen commented on #2999
@jfike Good to know!  I plan to Kokkos-ize TSQR for another project.

[2018-07-02 18:56] etphipp commented on #3017
I just merged the PR, so I believe this should be fixed.  @vbrunini let me know if you run into further trouble.

[2018-07-02 18:56] #3017 closed

[2018-07-02 19:20] mhoemmen opened #3052 "MueLu: Macro redefinition in ETI OFF build"
Sierra's Trilinos integration build reports the following error:
[code]
I'm guessing that MueLu developers didn’t test with ETI (explicit template instantiation) ~~on~~ off [edited by jhux2].

Diagnostic: Both macro definitions occur in _def.hpp files, which normally aren’t exposed to each other in ETI=ON builds.

`HAVE_MUELU_KOKKOS_REFACTOR` is undefined by default in both Trilinos’ CMake logic,

[2018-07-02 19:56] jhux2 commented on #3052
@mhoemmen Is this the same error as reported in #2967?  Can you confirm whether PR #2957 is in the code that Sierra is testing?

[2018-07-02 20:01] jhux2 commented on #3041
@nmhamster Can you please provide your cmake configure line?

[2018-07-02 20:23] kddevin commented on #3033
Oddly, the code works without error if I build with  -DBUILD_SHARED_LIBS:BOOL=ON as on the nightly test dashboard, but fails without that build option.

Is BUILD_SHARED_LIBS=ON now required for serial builds?  (If so, backward compatibility was broken somewhere along the line.)  And if it is required, why is the default FALSE?

[2018-07-02 21:32] mhoemmen commented on #2999
I think I know how to fix this.  We would take the same approach as the stub TSQR adapter in Belos' Thyra adapter (see `Trilinos/packages/stratimikos/adapters/belos/src`).

1. Implement stub TsqrAdapter for Xpetra
2. Use that TsqrAdapter as tsqr_adapter_type typedef in Xpetra specialization of `Belos::MultiVecTraits`

Be sure both the TsqrAdapter and the typedef are protected by the `HAVE_BELOS_TS

[2018-07-02 22:10] srajama1 commented on #2920
@hkthorn : I thought this was for one matrix. If it was multiple, then yes, I meant one answer for each. We can commit the rhs vector in another file, if needed.

[2018-07-02 23:13] mhoemmen commented on #3043
PR #3044 fixes this.  I merged that PR into develop today.

[2018-07-02 23:13] #3043 closed

[2018-07-02 23:16] mhoemmen commented on #3033
@kddevin wrote:

That's really quite weird.  The current `defaultArgNode` implementation relies on a static `RCP<Node>` in a function that lives in a different (upstream) package, but that should work independently of whether using dynamic shared libraries.  I'm hoping that #3044 kills this issue, because it removes the static `RCP<Node>` in favor of letting Kokkos manage its own "Am I initialized

[2018-07-02 23:51] jhux2 commented on #3046
@trilinos/muelu

[2018-07-03 01:29] bartlettroscoe commented on #2920
That would eliminate the different behavior on different platforms.  Having tests that behave differently on different platform due to different behavior from the random number generator is generally not desirable behavior.

[2018-07-03 02:12] cgcgcg commented on #3041
@jhux2 See here: https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3664921

[2018-07-03 09:40] dridzal commented on #3045
Is there a deadline for the fix?

[2018-07-03 14:52] bartlettroscoe commented on #3035
CC: @trilinos/muelu, @srajama1 (Trilinos Leader Solvers Product Area Lead)

Okay, I can see in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-02&limit=0&filtercount=3&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=MueLu_UnitTestsTpetra_MPI_4&field2=buildname&compare2=63&value2=Trilinos-atdm&field3=buildname&compare3=63&value3=-openmp)

[2018-07-03 14:58] bartlettroscoe commented on #3035
Actually, looking at the test output for one of the "passing" tests [here](https://testing.sandia.gov/cdash/testDetails.php?test=50297520&build=3664432), it does not look like that test actually passed (or it should not have passed) because it showed a bunch of errors after the printed end result "End Result: TEST PASSED" like:

[code]

Note that this test also failed the standard post-push CI bui

[2018-07-03 15:07] bartlettroscoe commented on #3035
FYI: In the builds where this test actually fails like shown [here](https://testing.sandia.gov/cdash/testDetails.php?test=50276232&build=3664585) some unit tests we see the errors:

[code]

and then we see a bunch of `Kokkos::finalize` failures like:

[code]

This is why we need an OpenMP build in PR testing.

[2018-07-03 15:31] mhoemmen commented on #3035
@trilinos/muelu My guess is that MueLu is keeping around a Tpetra::MultiVector (maybe coordinates or a `MultiVector<int>`) inside an RCP in a ParameterList.

[2018-07-03 15:41] mhoemmen commented on #3052
@jhux2 wrote:

Yup, off :)

[2018-07-03 15:42] mhoemmen commented on #3052
@jhux2 Sierra's Trilinos integration build tests master Trilinos.  (That makes it different from Sierra's other Dashboard lines.)

[2018-07-03 15:53] mhoemmen commented on #3042
This is probably wrong.  Your `MPI_BASE_DIR` should be the root of your MPI installation, not the subdirectory thereof that contains binaries.  That might explain why `MPI_EXEC` points to `/usr/local/bin/mpiexec`, instead of `/Users/ER/mpi/bin/mpiexec`.  Set it this way instead:
[code]

[2018-07-03 16:35] mhoemmen commented on #2999
It's not much harder to write a working TsqrAdapter for Xpetra (at least for the Tpetra back-end) so I'm working on it now.  I can't replicate this build error, alas.

[2018-07-03 16:50] kddevin commented on #145
Closing this issue, as checkin test script is superceded by ATDM testing.

[2018-07-03 16:50] #145 closed

[2018-07-03 16:52] kddevin commented on #223
Mehmet completed this work.

[2018-07-03 16:52] #223 closed

[2018-07-03 17:17] william76 commented on #3045
@dridzal Errors in clean block us from promoting develop to master so the longer the failures remain in the nightly builds the more out of date master branch will be.  So far nobody to my knowledge is asking for master to be updated but I imagine the odds of that increase over time ;)

@jwillenbring what's the expected turnaround time for fixes on the clean track?

[2018-07-03 17:22] mhoemmen commented on #3033
@kddevin There should be no need to set `TPL_ENABLE_Pthread` explicitly.  Kokkos' Pthreads-based back-end is disabled by default.

`std::call_once` is in C++11, but it could be that GCC nevertheless requires `libpthread` to make it work.  It may be overkill to do `std::call_once`, and I could protect it with a macro.

[2018-07-03 18:31] mhoemmen commented on #2999
I found out that `HAVE_BELOS_TSQR` is undefined by default, even if I explicitly enable TSQR.  Now I can test whether my new Xpetra TSQR adapter compiles ;-) .

[2018-07-03 19:30] kddevin commented on #3033
Thanks, @mhoemmen . Are there cases where std::call_once is needed to handle threading?  If not, could we instead check whether Kokkos is initialized and, if not, initialize it?

[2018-07-03 20:12] mhoemmen commented on #3033
@kddevin wrote:

The only use case that would require `std::call_once`, is if multiple user threads were each to create an independent `Tpetra::Map`, without first having called `Kokkos::initialize`.  I've never seen anyone exercise that use case.  I actually don't think the code is correct for that use case anyway, since it would register `Kokkos::finalize` multiple times as `atexit` handlers.

[2018-07-03 20:24] kddevin opened #3057 "Teuchos: initializeKokkos' use of call_once requires TPL_ENABLE_Pthread=ON for serial g++ builds"
@trilinos/teuchos @trilinos/tpetra

## Expectations and Current behavior
Serial builds with g++ and  TPL_ENABLE_Pthread=OFF used to work.  Now, with gnu compilers and TPL_ENABLE_Pthread=OFF, I can build in serial but Teuchos' initializeKokkos throws an error.

It appears that g++ requires Pthread to correctly execute std::call_once, which is used in initializeKokkos.  Thus, TPL_ENABLE_Pthread=OFF

[2018-07-03 20:47] ikalash commented on #2999
@mhoemmen : this shows up with intel or clang compilers (e.g., intel compiler on CEE).  I believe you need Anasazi and RBGen on.  Here are some details about the Albany Trilinos configuration with an intel compiler on the CEE where the issue is manifesting itself: http://cdash.sandia.gov/CDash-2-3-0/viewConfigure.php?buildid=73002 .

[2018-07-03 22:10] mhoemmen commented on #57
PR #3044, recently merged into develop, makes Tpetra::Map take over the Kokkos initialization and finalization duties of Node.  See also PR #3058, that moves this initialization code out of Teuchos and into Tpetra.

[2018-07-03 22:54] bartlettroscoe commented on #2464
FYI: Good news, by some unknown process, it looks like the full CUDA 8.0 build of all of the primary-tested packages in Trilinos is getting slightly cleaner.  As shown in [this query](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-white-ride-cuda-debug

[2018-07-04 18:55] mhoemmen commented on #3057
I merged PR #3058 into develop.  Hopefully that will fix this issue.  Please let me know if you continue to have troubles; thanks!

[2018-07-04 19:11] mhoemmen commented on #3057
FYI, #3058 purges use of `std::call_once` from Tpetra::Map's initialization of Kokkos.  If it later becomes necessary to reintroduce `std::call_once`, we should protect it with the macro corresponding to `TPL_ENABLE_Pthread`.

[2018-07-04 19:11] #3057 closed

[2018-07-04 20:10] mhoemmen opened #3059 "Xpetra: Clang warnings about explicit instantiations having no effect"
@trilinos/xpetra @trilinos/muelu

Clang emits interesting warnings about certain Xpetra explicit instantiations having no effect.  I'm curious whether this means that code doesn't behave like one things it might.  Here are the warnings:
[code]

[2018-07-04 22:41] kddevin commented on #2464
I am having difficulty reproducing this error on white.  Can you point me to the instructions for reproducing this build (which modules loaded, etc.)?  Thanks.

[2018-07-05 07:15] mayrmt opened #3061 "Write region input data into subdirectory"
@trilinos/muelu

## Expectations
The Matlab script ```createInput.m``` should write its output into a own directory, such that the source code directory is not cluttered with problem-specific input data.

## Current Behavior
The Matlab script ```createInput.m```just dumps its output into the source code directory.

## Motivation and Context
Keeping it tidy and clean...

## Definition of Done
- [ ]

[2018-07-05 07:33] mayrmt opened #3062 "Check for missing command line arguments"
@trilinos/muelu

## Expectations
For the composite-to-region driver, the xml-file with the MueLu configuration needs to be given as command line argument. We should check whether it has been provided and throw an error if not.

## Current Behavior
If the user does not provide the xml-file as command line argument, the driver just stalls with no output. It's hard to figure out then what the issue i

[2018-07-05 09:03] #2709 closed

[2018-07-05 13:10] mayrmt commented on #3062
Has been fixed in pull request #3063. Closing.

[2018-07-05 13:10] #3062 closed

[2018-07-05 13:47] fryeguy52 opened #3064 "PanzerAdaptersSTK_response_residual_MPI_2 Failing on ATDM Chama build"
CC: @trilinos/panzer, @mperego (Trilinos Discretizations Product Area Lead)

## Next Action Status

PR #3082 which increases tolerance to `10*eps` was merged 7/9/2018.  Next: Watch for any new failures then close by 7/17/2018 ...

## Description

The test `PanzerAdaptersSTK_response_residual_MPI_2` has been failing in ATDM builds on `chama`.  It has been failing for the last three days and intermi

[2018-07-05 13:51] bartlettroscoe commented on #2464
@kddevin said:

Information about the ATDM Trilinos builds, including reproducability info, can be found starting at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM+Builds+of+Trilinos

I will create a proper Trilinos GitHub Issue with exact commands to reproduce according the process described at:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/Triaging+and+addressing

[2018-07-05 14:11] bartlettroscoe opened #3065 "Zoltan build failure for CUDA 8.0 Debug build on white/ride"
CC: @trilinos/zoltan, @kddevin (Trilinos Data Services Product Lead)

## Description

The Zoltan executable `zCPPdrive` fails to link in the CUDA 8.0 debug build `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` run on 'white' and 'ride'.  The link error output for the build this morning shown [here](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=3688780) on 'white' shows:

[cod

[2018-07-05 14:13] bartlettroscoe commented on #2464
@kddevin said:

I created issue #3065 that should provide exact reproducability instructions on 'white' and 'ride' (I reproduced the build error myself on 'white' using those commands).

[2018-07-05 15:58] kddevin commented on #2464
Thanks, @bartlettroscoe .  I'll give it a try and update these issues when I have some info.

[2018-07-05 18:05] kddevin commented on #3065
These instructions worked perfectly.  Thank you, @bartlettroscoe

[2018-07-05 20:42] mhoemmen commented on #2459
PR #3067 proposes a fix for this issue.

[2018-07-05 20:56] mhoemmen opened #3068 "Anasazi/Belos: Enable TSQR by default / in Dashboard tests"
@trilinos/anasazi @trilinos/belos @ikalash @hkthorn

## Expectations

Anasazi and Belos should enable TSQR, either by default, or in Dashboard tests.

## Current Behavior

Belos does not enable use of TSQR by default, even if the TpetraTSQR subpackage is enabled.  This means that the Dashboard tests may not be exercising TSQR in Anasazi and/or Belos.

## Motivation and Context

Albany depends on T

[2018-07-05 20:56] mhoemmen commented on #2999
Earlier today, I merged a PR into develop that will hopefully fix this.

#3068 refers to the observation that Belos' default build options didn't catch this issue.

[2018-07-05 22:02] bartlettroscoe opened #3069 "Stokhos build failure for CUDA 8.0 Debug build on white/ride"
CC: @trilinos/stokhos, @rppawlo (Trilinos Nonlinear Solvers Product Lead)

## Next Action Status

PR #3100 merged on 7/13/2018 which should fix the build error.  Next: Watch for no Stokhos build failures in build `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` 'white' and 'ride' on 1/14/2018 ...

## Description

The creation of the Stokhos library `libstokhos_muelu.a` fails in the CUDA 8.0 de

[2018-07-05 22:09] mhoemmen commented on #3069
Is this one of those situations that calls for `-D CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS=ON`?

[2018-07-06 00:37] keitat opened #3070 "Clarification of resumeFill requirements for Tpetra::CrsMatrix"
Tpetra::CrsMatrix requires resumeFill() when changing its sparsity pattern. However, I have observed that there are several set...() methods requiring resumeFill() even though no changes happen in the sparsity pattern.  Could you clarify the following?

- setAllToScalar()   (I got runtime error when resumeFill() is not called.)
- add( A )  (If the input matrix A had different sparsity pattern, do

[2018-07-06 01:36] keitat opened #3071 "Problem with DTK build"
ECP-xSDK team has been working on type 2 package build and additional packages (DTK, etc.) for the fall release.  We have observed a build error when DTK (by ORNL) is enabled.

(gcc 7.1.0)
This is the current build setting in Spack (xsdk/pacakges.py).
` depends_on('trilinos@develop+hypre+superlu-dist+metis+hdf5~mumps+boost~suite-sparse+tpetra+nox+ifpack2+zoltan2+amesos2+dtk~exodus',`

But get:

[c

[2018-07-06 12:28] bartlettroscoe commented on #3069
@mhoemmen said:

Perhaps worth trying.  This library has 441 object files totaling 53854 chars.

[2018-07-06 12:38] bartlettroscoe opened #3072 "ROL build failure for CUDA 8.0 Debug build on white/ride"
CC: @trilinos/rol, @rppawlo (Trilinos Nonlinear Solvers Product Lead)

## Description

The compilation of the file `packages/rol/example/burgers-control/example_01.cpp` fails in the CUDA 8.0 debug build `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` on 'white' and 'ride'.  The build error output for the build this morning shown [here](https://testing-vm.sandia.gov/cdash/viewBuildError.php?bu

[2018-07-06 17:16] khpierson commented on #3052
Was wondering if this issue is being worked? If so, when it might get fixed. This will help SIERRA be able to update to a newer version of trilinos.

Thanks, -Kendall

[2018-07-06 17:35] mhoemmen commented on #3070
You must call `resumeFill` whenever you change the CrsMatrix's values.

@keitat wrote:

Generally you're not allowed to change a CrsMatrix's sparsity pattern after first fillComplete.

[2018-07-06 17:38] mhoemmen commented on #3070
@keitat wrote:

CrsMatrix has a method for getting the diagonal offsets.  You could start with that.

MueLu has a specialized "Jacobi" kernel that does something like `(A + omega D) * B`, where `omega` is a constant and `D` is a diagonal matrix.

[2018-07-06 17:39] mhoemmen commented on #3071
Incidentally, I would recommend GCC 7.2.0, as we will likely need to support that for the Sierra computer.

[2018-07-06 17:40] mhoemmen commented on #3071
So, what happens when you enable DataTransferKitDiscretization?

[2018-07-06 17:40] mhoemmen commented on #3071
@rppawlo Are you in charge of DTK?

[2018-07-06 17:53] keitat commented on #3071
Is "DataTransferKitDiscretization" enabled by Trilinos CMAKE or DTK?  I guess I am missing the point.

[2018-07-06 17:57] khpierson commented on #3052
Thanks for the update, I appreciate it!

[2018-07-06 17:58] mhoemmen commented on #3071
@keitat Try setting `Trilinos_ENABLE_DataTransferKitDiscretization:BOOL=ON` perhaps?

[2018-07-06 17:59] mhoemmen commented on #3052
@khpierson Hm, Trilinos hasn't had a develop-to-master promotion since 19 June.  @william76 , is stuff broken?

[2018-07-06 18:03] keitat commented on #3071
OK. This will require some changes in Trilinos package.py in Spack.

[2018-07-06 19:31] mhoemmen commented on #3071
@keitat btw do you work on maintaining the Trilinos part of Spack?  IBM folks have reported issues with that.  See e.g., https://github.com/trilinos/Trilinos/issues/2938

[2018-07-06 19:33] keitat commented on #3071
Yes, I have to take care of this, too.  Mark, I need your help to tackle these issues.

[2018-07-06 19:46] mhoemmen commented on #2459
I just merged PR #3067 into develop; it fixes this issue.

[2018-07-06 19:46] #2459 closed

[2018-07-06 19:48] mhoemmen commented on #3071
@keitat wrote:

Let's talk more over e-mail.  (Did you realize that we maintain three separate build systems for Trilinos: bjam (for Sierra), CMake, and Spack?)

[2018-07-06 22:45] bartlettroscoe commented on #3069
FYI: After some experimenting and investigation (and leaning several things about CMake that I did not know), it looks like we can't use resource files `*.rsp` to handle long lists of object files for this build unless we ditch both Ninja and static libs.  I am running the full build now but it looks like if we use Makefiles and shared libs, we might be able to use an `*.rsp` file for the creation

[2018-07-07 00:59] mhoemmen opened #3077 "Galeri::Xpetra::BuildProblem has redundant template parameters"
@trilinos/galeri @trilinos/xpetra

Galeri::Xpetra::BuildProblem takes six template parameters: Scalar, LocalOrdinal, GlobalOrdinal, Map, Matrix, and MultiVector.  The latter three are redundant or very nearly so.  With Tpetra, they are actually redundant.  With Epetra, the first three template parameters are constrained and the last three are fixed.

See discussion here: https://github.com/trilino

[2018-07-07 01:50] mhoemmen opened #3078 "Tpetra::Vector lacks a default constructor"
@trilinos/tpetra

## Expectations

`Tpetra::Vector` is a subclass of `Tpetra::MultiVector`, so it should be possible to default-construct a `Tpetra::Vector`.

## Current Behavior

`Tpetra::Vector` lacks a default constructor.

## Motivation and Context

In Sierra's tests, we want text fixtures (classes that help with tests) to use the simplest types possible.  It would be nicer to store `Vector` i

[2018-07-07 02:38] bartlettroscoe commented on #3064
As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-06&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildstarttime&compare2=83&value2=2018-06-2

[2018-07-07 02:47] bartlettroscoe commented on #3069
So there is good news and bad news.  The good news is that you can make this (and any other) `Stokhos` build failure go away if you set `-DCMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS=ON`.  The bad news is that you can't use Ninja, you can't use static libs, and you can't build with the Primary Tested packages `Pamgen` or `Shared` enabled.  See details below.

You can't use Ninja because in order to ge

[2018-07-07 02:51] bartlettroscoe commented on #3072
The fix seems to be trivial.  I will fix this in the branch I am working in for #3069 and I will create a PR to fix this.

[2018-07-07 05:34] mhoemmen commented on #3069
@micahahoward practically speaking this means we will never get a CUDA debug build until we can significantly reduce build sizes and/or support dynamic libraries :(

[2018-07-07 14:36] william76 commented on #3052
@mhoemmen There have been ROL errors in the clean track since 6/21.  As a rule, I do not promote develop -> master if there are errors.

See issue #3045

[2018-07-07 16:45] bartlettroscoe commented on #3069
When trying to build all of the Primary tested packages with:

[code]

we get build errors like:

[code]

The problem is that, again, `nvcc` wrapper can't handle `*.rsp` files.

I will try hacking `Stokhos` to only use `CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS=ON` for just the creation of that one library and see what happens.

[2018-07-07 17:06] bartlettroscoe commented on #3065
With the merge of PR #3066 yesterday, this Zoltan build error is now gone as shown [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3695497).  Note the `-1` subscript by the `0` build errors for the Zoltan package.

Closing as complete.

Thanks for taking care of this @kddevin!

[2018-07-07 17:06] #3065 closed

[2018-07-08 17:33] Rombur commented on #3071
DTK now depends on `Intrepid2`. I guess that the spack formula is not up to date.

[2018-07-08 17:43] mhoemmen commented on #3071
Trilinos' CMake logic normally would deduce what packages need enabling.  I suspect the problem is that people turn off a bunch of packages explicitly.

[2018-07-08 17:45] mhoemmen commented on #3052
@william76 thanks for the update!

@micahahoward @rrdrake @prwolfe

[2018-07-08 17:46] mhoemmen commented on #3045
@micahahoward @rrdrake @prwolfe

[2018-07-08 19:53] aprokop commented on #3071
Spack does not play well together with Trilinos CMake logic. It's more of a hardcoded thing where you decide the exact packages to build a priori, and then cross the fingers that it builds. I added a bunch of checks to Spack Trilinos' `package.py` based on required dependencies in Trilinos' `Dependencies.cmake` for different packages. I forgot to do the same for the extras like `DTK`.

[2018-07-08 20:03] aprokop commented on #3071
I submitted spack/spack#8660. Now it will break early, during spack dependency resolution rather than during the Trilinos configuration.

@keitat You will still need to add `+intrepid2` to your trilinos spec.

[2018-07-08 20:56] bartlettroscoe commented on #3069
Note that the Experimental build `Linux-gcc-5.3.0-OPENMPI-1.8.7_RELEASE_KOKKOS-REFACTOR_EXPERIMENTAL_CUDA-8.0.44` shown on CDash such as at:

* https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3696274

already shows these library link failures of the packages Gtest, Shards, and Pamgen with `nvcc`.

[2018-07-08 21:16] bartlettroscoe commented on #3069
So my quest to try to get this build has hit an impasse.  I got the `stokhos_muelu` library to link using `BUILD_SHARED_LIBS=ON` and `CMAKE_CXX_USE_RESPONSE_FILE_FOR_OBJECTS=ON` but other links fail because some of the TPLs (Boost) are not build with `-fPIC` on this system and therefore, can't be used with downstream shared libs we are trying to build in Trilinos.

One way to fix this might be to

[2018-07-09 04:46] mhoemmen commented on #3071
@aprokop wrote:

Hm, that sounds familiar, there may be another build system like this ;-)

This is good to know; thanks! :-D

[2018-07-09 06:05] micahahoward commented on #3069
For our builds with CUDA we use dynamically linked libs/exe on the application side and build Trilinos static with -fPIC. But there’s no reason we can’t build Trilinos dynamic libs (for CUDA) and link against that. In fact we do already do this for at least one non-CUDA build.

Static libs is still desired and perfered for performance. @nmhamster can comment more on that. We haven’t been doing thi

[2018-07-09 08:38] BoNeLeS opened #3080 "Need Help on building PyTrilinos"
I am a newbie and trying to build the library as I need it for Kratos Multiphysics application.
I am lost and cant figure out what is going wrong. Attached are the cmake logs. Please check and let me know.

This is the output that I am getting on my console:

Configuring Trilinos build directory

-- PROJECT_SOURCE_DIR='/home/vineetm/scratch/KFinal/trilinos-12.10.1-Source'
-- PROJECT_BINARY_DIR='/h

[2018-07-09 12:56] bartlettroscoe commented on #3069
@micahahoward, what platform are you building shared libs with SPARC?  The issue is that at least on 'white'/'ride', we can't build shared libs in Trilinos because it appears that some of the static TPLs were not built with `-fPIC`.    For example, I saw the build error:

[code]

I can try breaking `stokhos_muelu` lib into multiple static libraries.  @etphipp, what do you think about that?

[2018-07-09 15:03] rppawlo commented on #3071
@mhoemmen - no, @sslattery is DTK lead.

[2018-07-09 15:04] etphipp commented on #3069
That's perfectly fine with me.  A natural way to be break things apart would be to put each execution space instantiation (Cuda, Serial, OpenMP, ...) into a separate library, although I am not sure if that will be sufficient to resolve the issue (is anything other than Cuda being instantiated in this build?).  The Sacado::UQ::PCE and Sacado::MP::Vector scalar type instantiations can also be easily

[2018-07-09 16:43] kddevin commented on #1882
#3066 fixes this issue.  CDASH build is now clean.
https://testing.sandia.gov/cdash/buildSummary.php?buildid=3676515

[2018-07-09 16:43] #1882 closed

[2018-07-09 16:46] mhoemmen commented on #3080
@wfspotz

[2018-07-09 20:36] bartlettroscoe commented on #3069
Before we break up the `stokhos_muelu` library, @bradking at Kitware is going to look into this error.  I created the work item:

* https://gitlab.kitware.com/snl/project-1/issues/67

to drive this.

According to @bradking, CMake has a feature where it should automatically call `ar` multiple times if the commandline is too long for one call.  But this feature is only implemented in the Makefile ge

[2018-07-09 21:32] bartlettroscoe commented on #1976
This was already done as part of #2706.  We have a completely cleaned up ATDM-focused build of Trilinos for CUDA 9.0 running on 'hansen'/'shiller'.

Closing as complete.

The next step will be getting a CUDA 9.2 build of Trilinos going.  For that, I created:

* https://software-sandbox.sandia.gov/jira/browse/TRIL-213

If there are specific Trilinos issues (and not just system issues on 'waterman')

[2018-07-09 21:32] #1976 closed

[2018-07-10 06:38] mayrmt commented on #2798
Status update: Forming the composite operator from the regional operator works on the fine level in one and two dimensions. To use this on the coarse level, we also need the coarse level composite column map.

Next step: compute coarse level composite column map

[2018-07-10 06:51] xfguan commented on #2781
Hi @djfitzgerald , you may use GNU fortran compiler options "-fno-underscoring" or XL fortran compiler options "-qextname" to help you solve this.

[2018-07-10 15:04] bartlettroscoe commented on #3072
With the merge of PR #3081 yesterday, this ROL CUDA build failure is now gone as shown [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3705319).  Note the `-1` subscript on the `0` under the "Build Error" column for ROL.

Closing as complete.

[2018-07-10 15:04] #3072 closed

[2018-07-10 15:08] bartlettroscoe commented on #3064
With the merge of PR #3082 yesterday to loosen the error tolerance just a little, hopefully this issue will be resolved.  We just need to give it a few days to ensure that none of the test runs fail (because the failures were semi-random).

I am putting this in review until 7/17/2018 and then will close if there are no new failures.

[2018-07-10 15:08] wfspotz commented on #3080
@BoNeLeS Trilinos 12.10 is not set up for use with Python 3. Trilinos 12.12 is where I made that upgrade. You can use Python 2 instead, or upgrade your Trilinos source.

[2018-07-10 15:09] BoNeLeS commented on #3080
Ohh..
Ok, sure thanks...

[2018-07-10 15:12] wfspotz commented on #3080
No problem.

[2018-07-10 15:12] #3080 closed

[2018-07-10 18:20] vbrunini commented on #3045
Is there an update on this? There is a bug fix for #3017 that was merged to develop a week ago and I would like to confirm it fixes some of our build errors in sierra, but need the merge to master to happen to do that. More than 2 weeks seems like a long time to let the "clean" track have failing tests.

[2018-07-10 19:48] mperego opened #3087 "Belos: missing adapter implemetation for Thyra adjoint solve"
Belos does not provide an adapter for
Thyra::solve(A, TRANS, b, x);
see https://github.com/trilinos/Trilinos/blob/master/packages/thyra/core/src/interfaces/operator_solve/fundamental/Thyra_LinearOpWithSolveBase_decl.hpp#L553

It's not urgent because one can obtain the same result by providing the implicitly transposed linear operators A and its preconditioner. But it is a feature that would be nic

[2018-07-10 20:05] mperego opened #3088 "Piro: Implement for adjoint sensitivities for Piro::NoxSolver (Thyra)"
Piro provides forward and adjoint sensitivities for the Epetra stack, but only steady forward sensitivities for the Thyra stack. Steady adjoint sensitivities are needed by Albany to be able to solve large scale PDE-constrained optimization problems with the Tpetra stack.

@trilinos/piro

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible Solution

#

[2018-07-10 21:21] bartlettroscoe opened #3090 "ATDM Trilinos Intel builds failing on 7/10/2018 due to license server problems"
CC: @fryeguy52

## Description

As shown in [this query](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&date=2018-07-10&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=63&value1=-atdm-&field2=buildname&compare2=63&value2=-intel-), a bunch of the ATDM Trilinos Intel builds failed on several machines.  While we did not look at all of the fail

[2018-07-10 21:29] bartlettroscoe commented on #2489
@micahahoward and @jfike, with SPARC no longer using RBGen, should we remove this from being an ATDM issue?  If so, we should remove the "ATDM" label to get this off of our backlog for unresolved "ATDM" issues.

[2018-07-10 21:37] mhoemmen commented on #3087
Would this involve adding an overload to `Belos::OperatorTraits`?  If so, it's actually nontrivial to do this without breaking backwards compatibility, since OperatorTraits uses compile-time polymorphism.  We do have some experience with that for 64-bit support, though.  @hkthorn would know more.

[2018-07-10 21:42] mhoemmen commented on #3045
@bartlettroscoe Should we just disable the failing ROL tests for now?

[2018-07-10 21:46] bartlettroscoe commented on #3045
@mhoemmen said:

These failures don't impact any of the ATDM builds yet (since we have not adding ROL testing yet).  Therefore, I don't have much say on this.  Once ROL is added to the ATDM Trilinos builds, we will need to be on top of any issues with ROL on any of the ATDM platforms.

[2018-07-10 22:57] mhoemmen commented on #3045
SPARC does depend on ROL so I would very much like to see ROL included in the ATDM tests.

[2018-07-11 01:56] bartlettroscoe commented on #3045
@mhoemmen said:

That is the plan, and soon.  See:

* https://software-sandbox.sandia.gov/jira/browse/TRIL-212

Just need to clean up the current ATDM builds and then can start fresh on that.

[2018-07-11 12:17] jwillenbring commented on #3045
@trilinos/rol has a fix in the works for this, but it is not scheduled to be applied until Monday.

[2018-07-11 15:51] mhoemmen commented on #57
PR #3060, just merged into develop, makes progress on this issue.  Here is a summary:

1. Xpetra,Tpetra: Purge `defaultArgNode`; just create a Node instance
2. Tpetra: Remove `GO=int` dependency from Bug 5401 test
3. Tpetra: Deprecate `KokkosClassic::Details::get(Default)Node`
4. Xpetra: `create(Uniform){Local,Contig}MapWithNode` Node argument is now optional
5. Purge use of `getNode` from TpetraC

[2018-07-11 15:53] mhoemmen commented on #3040
I merged PR #3089 into develop.

[2018-07-11 17:58] hkthorn commented on #3040
This has been addressed by PR# 3089, so it can be closed.

[2018-07-11 17:58] #3040 closed

[2018-07-11 18:47] mhoemmen opened #3095 "Tpetra: Deprecate and remove DefaultPlatform, MpiPlatform, and SerialPlatform"
@trilinos/tpetra

## Expectations

Tpetra should have a single source for initialization and for default values of template parameters.

## Motivation and Context

`Tpetra::DefaultPlatform` is a hold-over from an old Tpetra initialization model that included something called `HybridPlatform`.  Tpetra now has different plans for truly hybrid (e.g., GPU + CPU concurrently) parallelism, that the "pla

[2018-07-12 15:50] kddevin commented on #2464
#3065 is fixed and Zoltan is working.

[2018-07-12 18:53] kddevin opened #3101 "Tpetra::FEMultiVector::doSourceToTarget throws error"
@trilinos/tpetra

## Expectations
Tpetra::FEMultiVector::doSourceToTarget should update "ghost" values in the FEMultiVector from the "owning" processors' copies

## Current Behavior

It appears that doSourceToTarget is not called or tested anywhere.  When I tried to use it, I got the following error:

Throw number = 1
Throw test that evaluated to true: ! myMapSameAsTransferTgtMap
Tpetra::DistObjec

[2018-07-12 19:51] kddevin commented on #3101
Added new branch fix3101 with simplified test demonstrating issue
tpetra/core/test/FEMultiVector/Fix3101.cpp
For reproducing the bug, this test is clearer than the Zoltan2 test.

[2018-07-12 23:29] bartlettroscoe opened #3103 "Test randomly failing test ROL_example_poisson-inversion_example_01_MPI_1 failing in PR Intel build"
CC: @trilinos/framework, @trilinos/rol, @rppawlo (Trilinos Nonlinear Solvers Product Lead)

## Next Action Status

PR #3104 merged to 'develop' on 7/13/2018 which disables `ROL_example_poisson-inversion_example_01_MPI_1` in Intel PR test build.  Next: ROL developers fix behavior of test offline ...

## Description

As you can see in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?p

[2018-07-12 23:41] bartlettroscoe commented on #3103
FYI: I created PR #3104 to temporarily disable this test until someone can fix it so that it does not randomly fail.

[2018-07-13 14:33] bartlettroscoe opened #3105 "Random timeouts in auto PR builds"
@trilinos/framework

## Expectations

Tests will not fail or timeout unless changes in a PR branch cause the failures or timeouts.

## Current Behavior

Several auto PR build iterations have been failing for a while due to random timeouts in various auto PR builds.  For example, the first PR testing iteration in my PR #3104 failed last night due to random timeouts as shown [here](https://testing-v

[2018-07-13 14:40] bartlettroscoe commented on #3103
PR #3104 was merged this morning.  This test `ROL_example_poisson-inversion_example_01_MPI_1` is now disabled in all future Intel PR build iterations.  (But note it still runs in the other two GCC PR builds and every other build of Trilinos anyone will do with ROL.)

Marking this with "Disabled Tests" and then the ROL team can fix offline on their own schedule.

[2018-07-13 15:14] bartlettroscoe opened #3106 "Failing ShyLU_DD tests in GCC 4.8.4 OpenMP CI and PR builds somehow pushed to 'develop' branch"
@trilinos/framework, @trilinos/shylu, @searhein, @srajama1 (Trilinos Linear Solvers Product Lead)

The post-push CI build `Linux-GCC-4.8.4-MPI_RELEASE_DEBUG_SHARED_PT_OPENMP_CI` shown [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=63

[2018-07-13 15:17] bartlettroscoe commented on #3069
FYI: PR #3100 was just merged.  Therefore, we should see this build failure clear up in the build on 7/14/2018.  Putting this "in review".

[2018-07-13 15:21] kddevin commented on #3101
Fixed by PR #3102

[2018-07-13 15:21] #3101 closed

[2018-07-13 15:34] bartlettroscoe commented on #3106
@searhein, thanks for doing that.  I just approved the PR so as soon as auto PR testing completes, it should allow the merge.  (Then you can fix these offline and then post at new PR that re-enables them once you get it working.)

@trilinos/framework,

Can we do a root-cause analysis and see how these failing tests were able to get pushed to the 'develop' branch?  What this another example of a vi

[2018-07-13 15:45] jwillenbring commented on #3106
@searhein Thank you for moving quickly on this. Do you know which change caused this issue (PR#) ? Then we can go and look at the PR testing for that. If not, I will go digging.

[2018-07-13 17:53] mhoemmen commented on #3101
Thanks @kddevin !

[2018-07-13 22:22] bartlettroscoe commented on #3035
As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-12&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=testname&compare1=61&value1=MueLu_UnitTestsTpetra_MPI_4&field2=groupname&compare2=62&value2=Pull%20Request&field3=groupname&compare3=62&value3=Experimental&field4=groupname&compare4=62&value4=Nightly&fi

[2018-07-13 22:40] bartlettroscoe commented on #3007
@hkthorn,

FYI: As shown in [this query yesterday](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-12&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=65&value2=Belos_pseudo_pcg_hb_&fiel

[2018-07-13 22:49] bartlettroscoe commented on #2839
I merged the commit 870b736 to 'develop' a few weeks ago to disable the tests:

* MueLu_CreateOperatorTpetra_MPI_1
* MueLu_CreateOperatorTpetra_MPI_4
* MueLu_ParameterListInterpreterTpetra_MPI_1
* MueLu_ParameterListInterpreterTpetra_MPI_4
* MueLu_ParameterListInterpreterTpetraHeavy_MPI_1
* MueLu_ParameterListInterpreterTpetraHeavy_MPI_4

As shown in the set of MueLu tests run on 'mutrino' yesterd

[2018-07-13 23:15] bartlettroscoe commented on #3064
FYI: The 'chama' build has been down for the last few days due to an Intel license server being taken offline and 'chama' being put in system time for a few days.  But the build is back submitting results to CDash with this test passing today as shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-13&filtercombine=and&filtercount=2&showfilters=1&fi

[2018-07-13 23:31] bartlettroscoe commented on #2815
FYI: Test `SEACASExodus_exodus_unit_tests` disabled in commit d12ca4ebe37d9712574fa8e98fa25eca5acb5422 merge to 'develop' in PR #3011 on 6/26/2018.

As evidence of this, you can see that this test was missing in the SEACAS tests on 'mutrino' yesterday in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-12&filtercombine=and&filtercount=2&showfilters=1&fi

[2018-07-13 23:46] bartlettroscoe commented on #2489
I removed the "ATDM" label from this issue since this problem is no longer affecting ATDM customers.

[2018-07-13 23:53] bartlettroscoe commented on #2311
CC: @srajama1 (Trilinos Leader Solvers Product Lead)

FYI: These tests were disabled in this build in commit e87270814e2b0b593dc978d53a2834a9331027a0 merged to 'develop' on 6/25/2018 as part of PR #3011.

You can see that the tests `MueLu_ParameterListInterpreterTpetra_MPI_1` and `MueLu_ParameterListInterpreterTpetraHeavy_MPI_1` do not appear in the set of MueLu tests run on this build yesterday a

[2018-07-13 23:57] bartlettroscoe commented on #2944
@micahahoward, is this issue resolved in your most current update of Trilinos?  Has SPARC accepted an updated of Trilinos since these fixing commits were made to the Trilinos 'develop' branch?

[2018-07-14 00:15] srajama1 commented on #3035
@bartlettroscoe : We will take care of this next week. Folks are at SIAM PP this week.

[2018-07-14 15:28] bartlettroscoe opened #3115 "Test Piro_AnalysisDriverTpetra_MPI_4 failing in ATDM builds after merge of PR #3055"
CC: @trilinos/piro, @mperego, @fryeguy52, @rppawlo (Trilinos Nonlinear Solvers Product Lead)

## Next Action Status

PR #3116 was merged on 7/14/2018 which disables the test `Piro_AnalysisDriverTpetra_MPI_4` when ROL is not enabled and this test only run in the one ATDM build `Trilinos-atdm-sems-gcc-7-2-0` which does enable ROL on 7/15/2018.

## Description

As shown in [this query today](https://

[2018-07-14 15:29] bartlettroscoe commented on #3115
This test just needs to be enabled only if ROL support in Piro is enabled.  I will take care of this real quick and post a PR.

[2018-07-14 15:54] bartlettroscoe commented on #3069
After the merge of PR #3100 yesterday, the full `Trilinos-atdm-white-ride-cuda-debug-pt-all-at-once` build (but not tests) on 'white' and 'ride' is now passing, including the Stokhos build, as shown today [here](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3723107).  (Note the `-1` subscript by the `0` under "Build Error" for the Stokhos package.)

NOTE: The 'bsub' comma

[2018-07-14 15:54] #3069 closed

[2018-07-14 22:10] bartlettroscoe commented on #2726
@trilinos/framework,

There are people that are rebasing and pushing multiple commits with the option "Rebase and merge" button as seen recently in the example https://github.com/trilinos/Trilinos/pull/3055#issuecomment-405053051.  Note that GitHub appears not to let you revert these types of rebase and merges with the "revert" button.  Also, git bisection that happens to hit one of these intermed

[2018-07-14 22:12] bartlettroscoe commented on #3115
PR #3116 was just merged and therefore we should see this failing test go away tomorrow.

[2018-07-14 22:17] bartlettroscoe commented on #2965
FYI: The PR #3098 was merged today and therefore we should see these tests running starting 7/15/2018.

I have put this Issue "in review" and if this test does not fail by 8/15/2018, we will close this issue.

[2018-07-14 23:35] bartlettroscoe commented on #2933
FYI: It occurred to me that this script could provide special handling for "Expected to fail" tests and "flaky"/"unstable" builds as a superior way to handle known failing tests that we would otherwise disable and builds that are known to have random system-related failures that result in test failures like we see currently on 'white'/'ride' due to `bsub` crashing (see [TRIL-198](https://software-

[2018-07-15 10:52] searhein commented on #3106
@jwillenbring I re-enabled the tests which cause the trouble on my branch. Otherwise, I cannot test Epetra. Then, I forgot to disable them before submitting the PR.

[2018-07-15 19:52] mhoemmen commented on #2944
@bartlettroscoe I'm pretty sure SPARC takes Trilinos updates from master.  Trilinos' master branch hasn't been updated for a month.

[2018-07-15 19:56] mhoemmen opened #3117 "Piro: No-MPI ("SERIAL") build fails due to use of `MPI_Comm`"
@trilinos/piro

Trilinos' no-MPI ("SERIAL") build [fails with the following build error](https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=3725007):
[code]
It's not legal to use `MPI_*` types if MPI is not enabled.

## Possible Solution

  1. Protect use of `MPI_*` types with the appropriate macro, or
  2. use a wrapper like `Teuchos::Comm`.

[2018-07-15 20:25] mhoemmen opened #3118 "Kokkos CMake error (fixed in kokkos:develop)"
@trilinos/kokkos @trilinos/framework

## Current Behavior

At least one Trilinos build on the Dashboard shows the following CMake error:
[code]
This is https://github.com/kokkos/kokkos/issues/1661 , which has been fixed in kokkos:develop by Kokkos PR https://github.com/kokkos/kokkos/pull/1662 .

## Possible Solution

Wait until the next Kokkos promotion into Trilinos.

## Related Issues
* Related

[2018-07-15 20:37] mhoemmen opened #3119 "Panzer: Implicit dependence on Tpetra::DefaultPlatform include via Teko"
@trilinos/panzer @trilinos/teko @trilinos/tpetra

Panzer [depends implicitly on Teko including](https://github.com/trilinos/Trilinos/pull/3114#issuecomment-405069079) `Tpetra_DefaultPlatform.hpp`.  This [hinders the planned deprecation and removal](https://github.com/trilinos/Trilinos/issues/3095) of `Tpetra::DefaultPlatform`.

## Expectations

Code that depends on a class' declaration must includ

[2018-07-15 21:21] mhoemmen opened #3120 "Weird MPI run-time error in Dashboard build using ancient OpenMPI version"
@trilinos/tpetra @trilinos/framework

I noticed that Tpetra's "ReadTriples" test showed a failure on one Dashboard build:

https://testing-vm.sandia.gov/cdash/testDetails.php?test=50492359&build=3725219

The failure looks spurious, possibly due to a full `/tmp` filesystem:
[code]
I also noticed that the build uses OpenMPI 1.8.7.  @prwolfe and/or @rrdrake reported to me that Sierra skipped over tha

[2018-07-15 23:14] mperego commented on #3115
Thanks @bartlettroscoe for taking care of this. We should do the same for the old EPETRA test
Piro_AnalysisDriver_MPI_4, that depends on Dakota, Moocho and ROL. Weird that it never failed.

[2018-07-16 07:55] mayrmt commented on #2798
@lucbv @rstumin
I'm able to form the composite Operator as an Epetra_CrsMatrix on the coarsest level. The matrix entries as well as all maps look good to me. However, if I pass it to Amesos' Umfpack, I get an error like this

[code]

Might this be related to GID numbering? The maps on the coarse level are unique, but GIDs are not continuous. For a 1D test case with three regions (4/7/4 nodes in th

[2018-07-16 13:28] #3115 closed, assigned to nobody

[2018-07-16 13:55] ibaned commented on #3118
@mhoemmen I believe this only happens for old CMake versions (< 3.0 ?) and I think @bartlettroscoe and I would rather increase our minimum required CMake version.

[2018-07-16 14:00] mhoemmen commented on #3118
@ibaned I think it's less than 3.3, but yes, it's definitely an issue only for old CMake versions.  I just wanted to note the current state in case people complain about the one configure failure on Trilinos' Dashboard ;-) .

[2018-07-16 14:03] ibaned commented on #3118
Yep, makes sense. I think if its a Trilinos dashboard build then its CMake should definitely be upgraded.

[2018-07-16 14:30] mhoemmen commented on #3095
I would like to clarify my comment [here](https://github.com/trilinos/Trilinos/pull/3111#issuecomment-405260371) that "Tpetra::*Platform is the last left-over of an idea for hybrid parallelism that likely would have been better served by MPI intercommunicators."  What I meant is that HybridPlatform assigned different kinds of thread parallelism to different MPI processes within the same MPI commun

[2018-07-16 15:21] mhoemmen commented on #2798
I recall that this may have been an issue in Amesos2 in the past.  It's certainly possible that Amesos never got the fix.

[2018-07-16 15:37] bartlettroscoe commented on #3118
@ibaned said:

I am all for that (see #1761) .  My vote would be to upgrade the minimum version of CMake today to 3.11.1 but that would break a bunch of the Trilinos builds.  I think only the @trilinos/framework can fix those builds older versions of CMake.

[2018-07-16 16:31] bartlettroscoe commented on #1761
@trilinos/framework,

With the impending upgrade to the new CDash version and now all of the CI and auto PR builds using CMake 3.11.1+, are we in a position to upgrade the minimum version of CMake to at least 3.10 (which is the first version to support the all-at-once configure, build, test, and submit features)?

This would help to address issues like #3118 and #2162.

[2018-07-16 16:50] srajama1 commented on #3106
@jwillenbring : To give you some context - I think the PR testing doesn't test configuration that ATDM tests catch.

[2018-07-16 16:54] bartlettroscoe commented on #2422
FYI: I updated the "Possible Solutions" section above for the realization that we will need to extend CTest to be more architecture aware and to be able to pass information to the MPI jobs when they start up as described in the new Kitware backlog item:

* https://docs.google.com/document/d/1TLHRp8eTNKw7udOhwIxrOYShXQUbxAzsXeOq5cwWnKM/edit#bookmark=id.e7n1479e1wbj

Without that, I don't think we h

[2018-07-16 22:55] kddevin opened #3129 "Tpetra: makeOptimizedColMapAndImport"
I propose simplifying the interface to `makeOptimizedColMapAndImport` and `makeOptimizedColMap`
Currently, `makeOptimizedColMapAndImport` returns `std::pair<map_type, RCP<import_type> >`,
and makeOptimizedColMap returns map_type.

Step 1:  change return arguments
*  `makeOptimizedColMapAndImport` returns `std::pair<RCP<const map_type>, RCP<import_type>>`
*  `makeOptimizedColMap` returns `RCP<const

[2018-07-16 23:04] csiefer2 opened #3130 "Teuchos: Dynamic Cast Errors from XML-read Array<string>"
A Trilinos test.  I have an XML file with lines like this:
[code]
I rely on the Teuchos XML reader to read that.

I do this:
[code]

I get this error:

[2018-07-17 01:09] bartlettroscoe commented on #1761
FYI: From @william76:

I think this means we can switch all of the Trilinos automated builds over to CMake 3.10.0+.

[2018-07-17 02:18] mhoemmen commented on #3129
FYI, as @csiefer2 pointed out over e-mail, the reason why `makeOptimizedColMapAndImport` needs to return the Import by pointer, is that CrsGraph does not construct an Import at all (`getImporter().get() == nullptr`) in the no-MPI / 1-MPI-process case.

[2018-07-17 02:20] mhoemmen commented on #3129
@kddevin I edited your bug description just to add backticks, since otherwise Markdown turns `RCP<const map_type>` into RCP.

[2018-07-17 02:21] mhoemmen commented on #3130
@csiefer2 I added formatting to your bug description, since Markdown was making the HTML text disappear.

[2018-07-17 02:25] mhoemmen opened #3131 "Stratimikos::enableMueLu template parameter defaults don't match Tpetra's"
@trilinos/stratimikos @trilinos/muelu @trilinos/thyra

`Stratimikos::enableMueLu` is supposed to enable use of Tpetra+MueLu through Thyra.  However, `enableMueLu`'s template parameters' defaults do not match those of Tpetra.

https://github.com/trilinos/Trilinos/blob/b85258adb40e5ba84e1c31e031ac4175a2c2eee4/packages/muelu/adapters/stratimikos/Stratimikos_MueLuHelpers.hpp#L71

## Related issues

*

[2018-07-17 05:32] mhoemmen commented on #959
I would say, `Tpetra::leftAndOrRightScaleCrsMatrix` and `Tpetra::computeRowAndColumnOneNorms` achieve the aims of this feature request, so I'm closing it.

[2018-07-17 05:32] #959 closed

[2018-07-17 12:33] bartlettroscoe opened #3133 "Get Trilinos auto PR testing code to use TriBITS-based package enable logic"
CC: @william76, @jwillenbring

## Next Action Status

With the merge of PR  #3258 8/14/2018 this should be complete.  Next: Watch PRs over next week and ensure that right set of packages are being enabled and then close on 8/21/2018 if all looks good ...

## Description

This story is to get the Trilinos auto PR testing code to use TriBITS-based logic for determining what to enable and test based

[2018-07-17 14:34] bartlettroscoe commented on #3130
@csiefer2, what are the reproducability instructions to show this behavior?  What platform are you on?  What compiler and CMake version are you using?  What is your configure script? etc.

[2018-07-17 17:44] mhoemmen commented on #3032
Thanks @cgcgcg !  I got SPARC's configuration of Trilinos to build when I set `Tpetra_INST_INT_INT=OFF` and `Amesos2_ENABLE_Epetra=OFF`.  I didn't try enabling tests or examples, but at least I could build MueLu.  I'll close this issue.

[2018-07-17 17:45] mhoemmen commented on #3070
I'm closing this issue for now.  Please feel free to reopen or open a new issue if needed.  Thanks!

[2018-07-17 17:45] #3070 closed

[2018-07-17 18:02] csiefer2 commented on #3130
@mhoemmen Removing the consts yields the compile error:

 error: invalid initialization of reference of type ‘Teuchos::Array<std::basic_string<char> >&’ from expression of type ‘const Teuchos::Array<std::basic_string<char> >’
   Teuchos::Array<std::string> & tf = params_.get<Teuchos::Array<std::string> >(paramName);

[2018-07-17 18:03] csiefer2 commented on #3130
@bartlettroscoe My RHEL6 desktop, gcc 4.9.3 and cmake 3.7.2 in that order  If you want a self-contained example, I can do that.

[2018-07-17 18:20] mhoemmen opened #3137 "MueLu: Static library is HUGE; splitting by GlobalOrdinal etc. won't help"
@trilinos/muelu @micahahoward @tcfisher

SPARC wasn't actually able to build MueLu before on Intel 17, static debug, because the library was too huge for the linker.  PR #3100 fixes this for ATDM Dashboard builds by using a new BinUtils module, and thus a new linker.  I fixed this for SPARC by setting `Tpetra_INST_INT_INT=OFF` and `Amesos2_ENABLE_Epetra=OFF`.

While I'm able to build Trilinos now,

[2018-07-17 18:30] csiefer2 commented on #3130
Example code:

``#include <string>
#include "Teuchos_oblackholestream.hpp"
#include "Teuchos_GlobalMPISession.hpp"
#include "Teuchos_TimeMonitor.hpp"
#include "Teuchos_XMLParameterListHelpers.hpp"
#include "Teuchos_StandardCatchMacros.hpp"
#include "Teuchos_DefaultComm.hpp"

using Teuchos::RCP;
using Teuchos::rcp;
using Teuchos::Comm;
using Teuchos::outArg;
using Teuchos::MpiComm;
using Teuchos::P

[2018-07-17 18:30] csiefer2 commented on #3130
I might add the example code works fine if I don't use the consts...

[2018-07-17 18:31] csiefer2 commented on #3130
Also, Markdown is weird.

[2018-07-17 18:37] csiefer2 commented on #3130
I have a workaround for this now, so this issue does not need to be high priority.

[2018-07-17 19:07] hubert-reinterpretcast commented on #2938
Compiler support has been updated in Beta 3 of XL C/C++ for Linux V16.1.1. I have verified that the reproducer from my comment above now compiles with IBM xlC.

@mhoemmen If you do not have access to the beta; information on joining the beta program is available at https://ibm.biz/join-xl-beta. I will send @djfitzgerald information on how to access the beta internally.

[2018-07-17 20:56] bartlettroscoe commented on #3133
FYI: As described in https://github.com/trilinos/Trilinos/pull/3134#issuecomment-405724627, the PR #3134 now contains the script `/get-changed-trilinos-packages.sh` which completely generates the `packageEnables.cmake` file.   Hopefully that will be easy to plug into the Trilinos auto PR testing infrastructure.

[2018-07-17 22:56] kddevin opened #3139 "Ifpack2 does not build with Tpetra_INST_INT_INT=OFF"
## Current Behavior
When building Ifpack2 with Tpetra_INST_INT_INT=OFF, there are multiple failures.

In Ifpack2_UnitTestBlockTriDiContainer.cpp, Tpetra data structures are created with global ordinal explicitly set to int; this causes unresolved references at link time.  See, e.g., line 348
          run_performance_test<double, int, int>(*in);

Also, in Ifpack2_UnitTestOverlappingRowMatrix.cpp,

[2018-07-18 04:36] mhoemmen commented on #3119
This should be fixed in develop now by merged PR #3127.  Thanks @rppawlo ! :D

[2018-07-18 04:36] #3119 closed

[2018-07-18 11:39] bartlettroscoe commented on #3137
Since this is not currently causing problems, I have labeled this as an "enhancement".

[2018-07-18 14:41] #2999 closed

[2018-07-18 14:41] #3078 closed

[2018-07-18 14:45] william76 commented on #3045
@trilinos/rol
Looks like the clean track had no errors last night.  I was able to get the dev->master merge done this morning too :)  I'll go ahead and close this ticket.

Thanks!

[2018-07-18 14:45] #3045 closed

[2018-07-18 15:05] william76 commented on #3052
@mhoemmen
Thought you guys would like an update on the dev->master pushes... The ROL errors that were failing in the nightly clean track were fixed yesterday and the builds were clean so I was able to do the develop -> master promotion this morning. :)

[2018-07-18 15:20] cgcgcg commented on #3032
@mhoemmen I don't think my changes got merged yet ;-) Maybe disabling tests and examples did the trick for you?

[2018-07-18 16:07] bartlettroscoe commented on #3131
What is the proper fix?

[2018-07-18 17:22] brian-kelley commented on #2833
@lucbv fixed this warning in a88bfb1.

[2018-07-18 17:22] #2833 closed

[2018-07-18 19:39] mhoemmen commented on #3131
@bartlettroscoe It depends: Does `enableMueLu` only enable use of Tpetra + MueLu, or does it also enable the Epetra + MueLu option?

[2018-07-18 19:40] mhoemmen commented on #3032
@cgcgcg oops, good point :(

[2018-07-18 19:44] mhoemmen commented on #3052
@william76 Awesome!!! Thanks!!! :D

[2018-07-18 19:45] mhoemmen commented on #3137
@bartlettroscoe Sure, but if it grows a little bit more, it will reach the 4GB limit and break again.  Also, 3.8GB is with nondefault options -- I wasn't able to build MueLu with Intel debug static, with the default options.

[2018-07-18 19:59] lucbv commented on #3137
@cgcgcg and I have looked a little bit at it and the only reasonable thing to do would be to look at reducing headers inclusion and reducing template parameters.
Short of that we can only split MueLu into smaller libraries but I am not sure that we can do this quickly.
@mhoemmen can you recommend an approach to look diagnose which files are increasing the size of the library?

[2018-07-18 20:10] cgcgcg commented on #3131
@mhoemmen When I grep for `enableMueLu`, I find only a couple of spots where the function is used:
[code]

From the looks of it, we use the default template arguments when we want Epetra, and explicitly template for Tpetra..

[2018-07-18 20:11] jhux2 commented on #3137
@lucbv @cgcgcg Thanks for looking into this.  You can try "include what you use".  However, I suspect a root problem is that ETI is not supported in Xpetra.

[2018-07-18 20:12] mhoemmen commented on #3131
@cgcgcg wrote:

Could the template parameters overlap?  For example, could `int, int, EpetraNode` map either to Epetra or to Tpetra with `GlobalOrdinal=int` and `Node=Wrapper<Serial>`?

[2018-07-18 20:19] cgcgcg commented on #3131
@mhoemmen Yes, they could overlap. We have
[code]

[2018-07-18 20:46] cgcgcg commented on #3137
Here is what I see when I unpack `libmuelu.a` that I built on Cori (release, 3.4 GB). First column should be size in bytes.
[code]

[2018-07-18 20:51] mhoemmen commented on #3137
@jhux2 wrote:

The only way this would matter, is if multiple instantiations of the same Xpetra classes are going into different object files in the same `libmuelu.a` archive.  We could actually figure this out by doing `nm -C` on the object files and looking for duplicate Xpetra instantiations.

[2018-07-18 21:41] cgcgcg commented on #3137
@lucbv and I looked at it some more.
`nm` gives about 500k lines for `libmuelu.a` and about 100k lines for `libtpetra.a`. The library sizes are roughly proportional to that.
We also had a look at individual object files. We see lines repeated in different files, but we are not sure what the symbol types actually mean.
In the end, as @mhoemmen said, we should probably split `libmuelu.a` in a sensib

[2018-07-18 21:41] mhoemmen commented on #3131
@cgcgcg How does `Stratimikos::enableMueLu` work in the case where they overlap?  Does `enableMueLu` _only_ initialize Tpetra+MueLu, or does it _also_ initialize Epetra+MueLu?

[2018-07-18 21:42] mhoemmen commented on #3131
Here's my thinking: Tpetra is getting rid of LocalOrdinal and GlobalOrdinal template parameters anyway.  It may also get rid of Node.  This means that `enableMueLu` won't need any template parameters at all.  Would it make sense to wait for that point?

[2018-07-18 21:47] cgcgcg commented on #3131
@mhoemmen I believe that we are essentially registering the same solver twice, once with the string identifier "MueLu" (for Epetra), and once named "MueLu-Tpetra" (for Tpetra). Once we get rid of Local/GlobalOrdinal, Tpetra will always use different types than Epetra, so this problem should go away, no?

[2018-07-18 22:01] mhoemmen commented on #3131
@cgcgcg wrote:

At that point, `enableMueLu` should not need any template parameters, right?  It would just register both Epetra and Tpetra.

[2018-07-18 22:05] cgcgcg commented on #3131
@mhoemmen Not sure how the Tpetra node type will be handled, but yes, that seems correct.

[2018-07-18 22:48] jhux2 commented on #3041
I've just hit the error report here while working on #3035.  I'll work on the other issue first, then come back to this one.

[2018-07-18 22:48] mhoemmen opened #3146 "ROL: Purge use of Tpetra::*Platform"
Tpetra will soon deprecate and remove `DefaultPlatform`, `MpiPlatform`, and `SerialPlatform`, per #3095.  ROL uses DefaultPlatform quite a bit.  This needs to go.  See below for the replacement strategy.

@trilinos/rol @dridzal

## Possible Solution

Tests or examples that use Tpetra and do this:
[code]
should do this instead:
[code]

## Related Issues
* Blocks #3095, #57

[2018-07-18 22:52] jhux2 commented on #3035
@fryeguy52 @bartlettroscoe For the dashboard tests where the MueLu unit test suite is failing, how many threads per MPI process are being used?

[2018-07-18 23:05] jhux2 commented on #3137
@srajama1 @jwillenbring Is this something that Tech-X could investigate?

[2018-07-19 00:21] dridzal commented on #3146
Including @gregvw and @dpkouri .  This change effects a fairly large number of tests, examples, and some source code.  It won't be a difficult fix, but it is a lot of work, as it can't be done in a fully automated fashion -- can it?

@mhoemmen , thanks for the heads up.  What is the timeline?  The @trilinos/rol team will need to set aside some time to handle this deprecation.  Also, one technical

[2018-07-19 02:53] bartlettroscoe commented on #3035
@jhux2 said:

I think all of the builds in question you `OMP_NUM_THREADS=2`.

[2018-07-19 03:08] bartlettroscoe commented on #3035
The test `MueLu_UnitTestsTpetra_MPI_4` is shown passing in the PR #3020 GCC 4.8.4 build as shown [here](https://testing-vm.sandia.gov/cdash/testDetails.php?test=49436035&build=3665760).  Is that before OpenMP was actually enabled in that auto PR build?

Anyway, if you look at the post-push CI build that has been an OpenMP build for a long time shown [here](https://testing-vm.sandia.gov/cdash/index

[2018-07-19 05:08] mhoemmen commented on #3146
@dridzal wrote:

I've already opened a PR to deprecate these classes (using the `TPETRA_DEPRECATED` macro).  Node will go away FY19 Q1: https://github.com/trilinos/Trilinos/wiki/Deprecation1

You're not obligated to use `Tpetra::ScopeGuard`.  All that does is initialize MPI (if available) and Kokkos.  `Tpetra::Map` initializes Kokkos if it hasn't already been initialized, so it's OK to keep using

[2018-07-19 14:07] jwillenbring commented on #3137
@jhux2 On what timeline?

[2018-07-19 15:16] mhoemmen commented on #3137
Come on, folks, we can do this.  If apps can't build Trilinos, they won't use it.

[2018-07-19 15:59] lucbv commented on #3035
@bartlettroscoe, as @jhux2 mentioned earlier, #3014 is really where this started and #3020 was just an attempt at fixing it although it apparently was not enough...

[2018-07-19 16:00] mhoemmen commented on #3137
I just got off the phone with @jwillenbring -- what I mean is that perhaps we can do this ourselves at lower cots, not that "Tech-X needs to do it now."  We did figure out, though, that this might be a bit trickier than we might have thought.  Multigrid has a lot of components but they all depend on each other, so it might not be so easy for an application to pick and choose pieces of MueLu.

[2018-07-19 16:40] mhoemmen opened #3152 "Belos: Provide header file(s) with forward declarations of SolverManager and LinearProblem"
@trilinos/belos

Feature request by @jclause : Add header file(s) to Belos with forward declarations for key Belos interface classes SolverManager and LinearProblem.

## Motivation and Context

Apps want to hide declarations and definitions of Belos classes from header files and app class declarations, in order to save build time and improve encapsulation.  If apps make their own forward declarati

[2018-07-19 16:45] mhoemmen commented on #3152
@hkthorn , would you prefer a single header file, or one header file per class?  The idea is that an app could declare a class like this:

[code]

[2018-07-19 18:03] hkthorn commented on #3152
@mhoemmen Consolidate these headers, if possible, I don't want to flood the directory with new files.

[2018-07-19 18:14] mhoemmen commented on #3152
@hkthorn Cool, will do! Thanks!

I'll add a header file, `Belos_fwd.hpp`, that only includes forward declarations of `Belos::SolverManager` and `Belos::LinearProblem`, templated, but without specializations.  That should suffice for the Sierra use case, where classes like LinearSolver want to keep around a Belos solver instance and possibly also a LinearProblem instance, but only by pointer.

[2018-07-19 20:12] brian-kelley commented on #2765
@csiefer2 added Teuchos timers in May. The Ifpack2 files have doxygen annotations and the user's guide has brief descriptions of the parameters.

Should I improve the names of the options, e.g. change "sweeps" to "FastILU/ILDL/IC: sweeps"? Add more detail to user's guide? Does the code need improvements to conform to the Preconditioner interface?

[2018-07-20 00:48] lxmota opened #3157 "Piro: Compile error with Clang 6 on Linux."
Piro: Using Clang 6.0.0 on Linux fails to compile with the following error:

In file included from /home/amota/LCM/Trilinos/packages/piro/src/Piro_NOXSolver.
cpp:43:
/home/amota/LCM/Trilinos/packages/piro/src/Piro_NOXSolver_Def.hpp:139:44: error: use 'template' keyword to treat 'get' as a dependent template name
        int iteration = optimizationParams.get<int>("Optimizer Iteration Number");

[2018-07-20 18:40] mhoemmen opened #3159 "Tpetra: Improve build time & encapsulation by stripping many includes from Teuchos_ConfigDefs.hpp"
`Tpetra_ConfigDefs.hpp` includes a lot of header files that really only belong to implementations or tests.  If we strip those out, we can save some build time and improve encapsulation.  We do need to be careful with this and test downstream; those includes have been in there a long time, and I've seen cases where I've broken applications like Albany just by removing an include from `Teuchos_Conf

[2018-07-20 20:29] cgcgcg commented on #3032
@mhoemmen OK, merged the PR. I hope this fixed the issue, otherwise let me know and I'll investigate.

[2018-07-20 21:04] mperego commented on #3157
@lxmota There is something weird in your error message.
Line /home/amota/LCM/Trilinos/packages/piro/src/Piro_NOXSolver_Def.hpp:139 is
       `int iteration = optimizationParams.get<int>("Optimizer Iteration Number");`
whereas in your error message you have
       `int iteration = optimizationParams.get("Optimizer Iteration Number");`
Are you building an up-to-date version of Trilinos?

[2018-07-20 22:42] mhoemmen commented on #3032
Thanks @cgcgcg !  I got it to work with Trilinos:develop, so I'll close this issue.  I was able to build MueLu with the following CMake options:

  - `Tpetra_INST_INT_INT:BOOL=OFF`
  - `Amesos2_ENABLE_Epetra:BOOL=OFF`
  - `Tpetra_INST_Serial:BOOL=OFF` (only the OpenMP Node enabled)

with GCC 4.9.3 and OpenMPI 1.10.1, and the following package enables and disables:
[code]
If I have trouble with a d

[2018-07-20 22:42] #3032 closed

[2018-07-20 22:43] mhoemmen commented on #3032
@micahahoward @tcfisher @prwolfe @rrdrake FYI

[2018-07-20 22:49] cgcgcg commented on #3052
@khpierson PR #2957 should be in master now. Did it fix things for SIERRA?

[2018-07-21 01:39] jhux2 commented on #3041
Well, darn.  The link error no longer happens for me.

[2018-07-21 12:43] bartlettroscoe commented on #3133
FYI: I updated PR #3134 with a complete implementation of `get-changed-trilinos-packages.sh` with specialized logic for Trilinos for what file changes should trigger a global rebuild and strong automated tests.

@william76 and @jwillenbring, can you please give PR #3134 a review?

[2018-07-21 13:19] bartlettroscoe opened #3163 "Test TeuchosCore_testTeuchosTestForTermination_2_MPI_4 randomly failing due to jumbled output regex failures"
CC: @trilinos/teuchos

## Next Action Status

PR #3164 merged to develop on 7/21/2018 which should fix issue.  Next: Watch for any more failing tests and close on 9/21/2018 if no more failures ...

## Description

As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-15&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filte

[2018-07-21 15:13] bartlettroscoe commented on #3163
Looking at all three failures for this test on 'hansen' in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-15&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=7&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=status&compare2=62&value2=passed&field3=status&compare3=62&value3=no

[2018-07-21 15:55] bartlettroscoe commented on #3163
I created PR #3164 that should address this.

I am putting this issue in review pending the merge of #3164 and feedback from weeks and months of running this test.

[2018-07-21 22:11] mhoemmen commented on #3163
@bartlettroscoe I just approved your PR #3164 -- thanks!

[2018-07-21 22:38] mhoemmen opened #3165 "Tpetra::Map::isCompatible could use Directory to avoid all-reduce if Map is contiguous"
@trilinos/tpetra

Tpetra::Map::isCompatible currently requires an all-reduce for contiguous but nonuniform Maps (that is, Maps created by the [Map constructor that takes a global and a local number of indices](https://github.com/trilinos/Trilinos/blob/f685733187b4faaa40174e0d14705f49024ccd65/packages/tpetra/core/src/Tpetra_Map_decl.hpp#L391)):

https://github.com/trilinos/Trilinos/blob/f685733187b

[2018-07-22 18:16] lxmota commented on #3157
Ok, I double checked the last nightly Albany build with Clang. Its from Friday July 20th at midnight. The error is:

[code]

I'm not sure how the `<int>` template parameter got omitted in the original message.

[2018-07-22 18:18] lxmota commented on #3157
Once more, I'm not sure why things get truncated. One more try:

[code]

[2018-07-23 03:08] mhoemmen commented on #3157
Sometimes GitHub truncates `<stuff in here>` unless you protect it with backquotes.

[2018-07-23 03:43] mperego commented on #3157
Thanks @lxmota for posting the error code again and @mhoemmen for the explanation.

It seems the compiler wants you to put the template keyword at line 149:
`int iteration = optimizationParams.template get<int>("Optimizer Iteration Number");`

However Trilinos is full of these getters with no template keyword. Maybe it is the `auto` that's messing things up..

@lxmota if it is not too much trouble

[2018-07-23 15:44] #971 closed

[2018-07-23 15:50] bartlettroscoe opened #3168 "Test KokkosKernels_sparse_openmp_MPI_1 still (randomly) timing out in in build Trilinos-atdm-white-ride-gnu-debug-openmp on 'white'"
@trilinos/kokkos-kernels, @srajama1 (Trilinos Linear Solver Product Lead)

## Next Action Status

PR #3173 disabled this test in this build.  Next: Watch CDash to make sure this test is disabled in this build on 7/24/2018 ...

## Description

As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&date=2018-07-22&filtercombin

[2018-07-23 15:57] bartlettroscoe commented on #3168
Looks like the efforts in #2827 to selectively disable some individual unit tests in `KokkosKernels_sparse_openmp_MPI_1` have not been successful to drop the runtime for this test on this build on this platform low enough to avoid timeouts.

Looking at all of the platforms where this test was run [yesterday](https://testing-vm.sandia.gov/cdash/testSummary.php?project=1&name=KokkosKernels_sparse_op

[2018-07-23 16:46] aerappa opened #3170 "MueLu: Black Box Refactor"
@trilinos/muelu

Luc is adding a structured CRS graph that we can query for coarse element information. This will simplify the current structure of Black Box, since we are currently manually computing this information.

[2018-07-23 16:53] jhux2 commented on #3170
@trilinos/muelu

[2018-07-23 17:00] lucbv commented on #3170
@jhux2, thanks for the labeling, I do not know why @aerappa is not able to do the team mention?
Anyway to give more information on what is going on here: the idea is to leverage structured aggregation to generate data for BlackBoxPFactory which will reduce code duplication and also separate the symbolic and numeric phases of the transfer operator construction.
Also @aerappa will start with a more

[2018-07-23 17:03] jhux2 commented on #3035
@bartlettroscoe @prwolfe @fryeguy52 This should be resolved with the above commit. Here's a test that was failing on [Friday](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3693925), and the same [today](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3698666).  Please reenable the unit tests `MueLu_UnitTestsTpetra_MPI_4` for OpenMP.

[2018-07-23 17:05] mhoemmen commented on #3168
It's pretty likely that many apps won't find it worthwhile to run on the GPUs, so it would be nice to test OpenMP a little bit :-)

[2018-07-23 18:13] jhux2 commented on #3137
@mhoemmen Could you please post or email me directly the full Trilinos cmake configure line that results in the large MueLu library size?

[2018-07-23 18:40] bartlettroscoe commented on #3035
@jhux2, someone just needs to delete the `set(MueLu_UnitTestsTpetra_MPI_4_DISABLE ON ...)` statements from these recent commits:

[code]

Just needs to create one (or more) commits that deletes this `set()` statement and then post a PR for that.

[2018-07-23 18:52] bartlettroscoe commented on #3133
@william76 and @jwillenbring,

FYI: PR #3134 was merged and the script `Trilinos/commonTools/framework/get-changed-trilinos-packages.sh` should be ready to use in the Trilinos auto PR tester.  Please let me know if you find any issues with this.

@william76, I will assign this issue to you next since I think the next step is yours (i.e. adding a hook into the Trilinos auto PR tester).

[2018-07-23 18:56] bartlettroscoe commented on #3133
@william76 and @jwillenbring, I just realized that the script `get-changed-trilinos-packages.sh` should likely be called `get-trilinos-packages-to-test-due-to-changes.sh` or something like that.

[2018-07-23 20:41] bartlettroscoe commented on #1761
FYI:

@jwillenbring checked the the Windows builds are currently using CMake 3.8.1 so they need to be upgraded to CMake 3.10+.

[2018-07-24 00:04] bartlettroscoe commented on #3168
PR #3173 was merged which disables this test.  I will now put this into review and what till tomorrow 7/24/2018 to make sure it is disabled.

[2018-07-24 00:17] bartlettroscoe commented on #3064
As shown in [this query](https://testing-vm.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-07-23&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=5&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=testname&compare2=61&value2=PanzerAdaptersSTK_response_residual_MPI_2&field3=site&compare3=61&value3=chama&field4=groupname&compare4=

[2018-07-24 00:17] #3064 closed

[2018-07-24 13:09] aprokop commented on #3170
Probably because he is not a Trilinos organization member?

[2018-07-24 13:11] khpierson commented on #3052
@cgcgcg Yes, I just checked the dashboard and this issue has been confirmed fixed.

There is another build warning (we have warnings turned into errors), Do you want this submitted as separate issue?

Thanks!
-Kendall

/sierra/dev/nightly/Sierra.trilinos.master/TPLs_src/Trilinos_flat_headers/include/MueLu_TentativePFactory_def.hpp: In instantiation of 'void MueLu::TentativePFactory<Scalar, LocalOr

[2018-07-24 13:43] khpierson commented on #2994
@khpierson would like to know what the status is of this issue.

Thanks!
-Kendall

[2018-07-24 14:26] csiefer2 opened #3175 "Framework: Windows Testing is Down Again"
That.

[2018-07-24 15:07] william76 opened #3176 "PanzerMiniEM_MiniEM-BlockPrec_RefMaxwell_Epetra_MPI_1 Failing Nightly Clean Testing"
Nightly clean test [PanzerMiniEM_MiniEM-BlockPrec_RefMaxwell_Epetra_MPI_1][1] is failing.

@trilinos/panzer

## Expectations
Failing builds in the Clean track are a high priority to fix as they block develop to master updates.

[1]: https://testing.sandia.gov/cdash/testDetails.php?test=51267991&build=3700372

Console Log Error
-----------------
[code]

FYI @trilinos/framework

[2018-07-24 15:35] mhoemmen opened #3177 "MueLu: signed/unsigned comparison warning in master"
@vbrunini reports a signed-unsigned comparison build error in Trilinos:master, in `packages/muelu/src/Transfers/Smoothed-Aggregation/MueLu_TentativePFactory_def.hpp:193`:
[code]

@trilinos/muelu

[2018-07-24 15:40] lucbv commented on #3177
@mhoemmen I'll take care of this one, it should be quick!

[2018-07-24 15:44] lucbv commented on #3177
@mhoemmen
After a quick look, this is already fixed in develop, the line now looks like this:
[code]
Is there a procedure to have this go from develop to master outside of the regular promotion?

[2018-07-24 15:46] mhoemmen commented on #3052
@khpierson I submitted that as #3177.  Thanks!

[2018-07-24 15:48] mhoemmen commented on #3177
@lucbv wrote:

@william76 could tell you more, but I think any nonstandard procedure should be reserved for emergencies.  The point of Sierra's Trilinos integration build is to identify an integration candidate.

[2018-07-24 16:05] william76 commented on #3177
@lucbv @mhoemmen

There is not at this time since the develop -> master check is based on whether or not all the nightlies in the Clean track have passed.  We're working on an automated develop -> master test that would work via a special pull request which would make an attempt 2 or 3 times per day.

@jwillenbring any thoughts on how we'd address this?

[2018-07-24 16:10] lucbv commented on #2577
After merging PR #3074 this feature is now fully implemented, we can now move on to creating the prolongator factory!

[2018-07-24 16:10] #2577 closed

[2018-07-24 16:11] mhoemmen commented on #3177
btw I don't think this is an emergency -- we Sierra folks are just trying to be proactive in getting the Sierra-Trilinos integration build to be clean as much as possible.  We would like to do a Trilinos integration soon, but doesn't _have_ to be today.

[2018-07-24 16:11] mhoemmen commented on #3177
On the other hand, maybe it's good if people think it's an emergency ;-)

[2018-07-24 16:14] vbrunini commented on #3177
How much time usually passes between successful develop -> master promotions? If it's normally just a couple of days I wouldn't worry about it. If cases like the most recent one where there were some ROL test failures and it took multiple weeks are common then we might need something sooner. The more changes to develop that happen between merges to master the harder it is for us to deal with issue

[2018-07-24 16:16] mhoemmen opened #3178 "Pull request testing should set -Werror"
@vbrunini asks whether pull request testing could set `-Werror`, so as to avoid issues like #3177.

@trilinos/framework @khpierson

## Expectations

Trilinos -- at least the library, not necessarily tests and examples -- should build warning-free.

## Current Behavior

See #3177.  There is an issue that it's impossible to fix warnings in some packages.

## Motivation and Context

Sierra builds wit

[2018-07-24 16:16] lucbv commented on #2687
After merging PR #3008 this feature is now integrated in MueLu, it has been tested using examples in TrilinosCouplings and on some SPARC problems.

[2018-07-24 16:16] #2687 closed

[2018-07-24 16:31] lucbv opened #3179 "MueLu: Interpolation based prolongator"
@trilinos/muelu
@rstumin @mayrmt

## Expectations
This new prolongator factory will eventually replace the current `GeneralGeometricPFactory`, it should provide at least the same amount of features and be more easily maintainable.

## Current Behavior
Currently `GeneralGeometricPFactory` is quite complex and encapsulate a lot of algorithms. These algorithms have been broken up into `MueLu::IndexMa

[2018-07-24 16:38] bartgol opened #3180 "Tpetra::MultiVector's method get1dViewNonConst does not mark HostView as modified."
@trilinos/<Tpetra>

## Expectations

MultiVector's method get1dViewNonConst should mark the host space as modified.
## Current Behavior

Currently, it only returns a view to the host view.

## Motivation and Context

Two reasons to have this done: the first, is that get2dViewNonConst _does_ mark the host view as modified; the second is precisely the comment in get2dViewNonConst:

`// When users ca

[2018-07-24 16:49] jhux2 commented on #3052
closing as fixed

[2018-07-24 16:49] #3052 closed

[2018-07-24 16:59] mhoemmen commented on #3180
@trilinos/tpetra (it's a lower-case tag)

[2018-07-24 16:59] mhoemmen commented on #3180
I would love to deprecate and remove these methods btw.  There is so much junk in Tpetra from ages past that only exists because so much as looking at it funny would Break Everything.

[2018-07-24 17:01] mhoemmen commented on #3177
@vbrunini If we discount the ROL issue as an anomaly, @william76 reports a successful develop-to-master integration about every other day.  I'm not sure what the stats are now.

[2018-07-24 17:22] dridzal commented on #3177
Just to confirm that the delay in ROL was an anomaly.  Consider this:

-- we passed all local ROL testing (with the standard pre-push check-in setup);
-- we passed Trilinos PR testing;
-- yet some tests failed in the Trilinos Clean build a few days later (??);
-- the ROL developers responsible for fixing this went on a 9-day foreign trip the following day, followed by a 10-day vacation, without ac

[2018-07-24 17:23] bartgol commented on #3180
That would be fine with me, as long as the Thyra interface yields the desired behavior. I don't (explicitly) use `get1dView(NonConst) `in my code (in favor of `getLocalView`), but I have to use Thyra interfaces, so...

I guess another solution could be for the Thyra interfaces to use `getLocalView`, rather than `get1dView(NonConst)`?

[2018-07-24 17:43] bartlettroscoe commented on #3177
@dridzal, I think including the Clean builds in the ROL nightly builds is likely the best way to handle this.  From CDash, you can see the `*.cmake` file fragment that is included in the build with the `-C` CMake option.  But what you don't see there is the script needed to load the env.  If they the @trilinos/framework team can tell you that, then it should be pretty easy to set up nightly ROL bu

[2018-07-24 17:45] mhoemmen commented on #3177
We also could have simply reverted ROL's snapshot into Trilinos until the ROL developers came back.  It's totally OK to go on vacation :-)  Why didn't we just do that?

[2018-07-24 17:46] bartlettroscoe commented on #3177
@mhoemmen, what build has these warnings elevated into an error?

[2018-07-24 17:48] mhoemmen commented on #3177
@bartlettroscoe Are you talking about #3177?

[2018-07-24 17:49] mhoemmen commented on #3177
@bartlettroscoe Sierra's Trilinos integration build

[2018-07-24 17:49] mhoemmen commented on #3177
It's the usual set of Sierra warning options

[2018-07-24 17:50] mhoemmen commented on #3180
We do need to fix this issue though.  We'll need to test the fix with CUDA.

[2018-07-24 17:54] bartlettroscoe commented on #3178
We have to clean up the warnings in the PR builds before you can set `-Werror`.  However, we could do this package-by-package.  There is a way to do that with TriBITS I think (and if not, we can make sure there is).

[2018-07-24 17:58] william76 commented on #3177
@mhoemmen @vbrunini
I've been keeping stats on my dev->master pushes now since March... on average it's been a little less than 50% of the time I can do the merge.  Some weeks I can do one daily and other weeks I can't get one in at all.  The ROL issue was an anomaly that blocked the merge for almost a month though.

[2018-07-24 18:58] rppawlo commented on #3176
@cgcgcg - this looks to be related to your changes last week. Can you take a look at this?
@eric-c-cyr

[2018-07-24 19:02] dridzal commented on #3177
@bartlettroscoe  I agree with your idea to use the Clean setup for ROL testing, however, can you explain why PR testing isn't equivalent to Clean testing?  If we are going to promote develop to master based on Clean, doesn't it make sense that the PR builds be identical to the Clean builds?  If the current PR build needs to be different for whatever reason, can we start multiple builds for PR test

[2018-07-24 19:15] lucbv commented on #3177
@dridzal I am pretty sure that the Clean builds are more extensive and hence longer than the PR builds and the PR builds are already taking a few hours to complete. It might not be feasible or desirable to have such long waits before PR can be merged. I guess that some statistic could be gathered on how much capacity the auto-tester system has?

[2018-07-24 19:51] bartlettroscoe commented on #3106
FYI: Note that these failing ShyLU_DD tests did not only impact the CI OpenMP build stated above but it also impacted the auto PR OpenMP build `PR-<pr-id>-test-Trilinos_pullrequest_gcc_4.8.4-<build-num>`.  For example, you can see this in the PR builds:

* [PR-3098-test-Trilinos_pullrequest_gcc_4.8.4-781](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=3719867)
* [PR-3053-t

[2018-07-24 19:56] bartlettroscoe commented on #3177
@dridzal, I don't know why the Clean builds and the PR builds are different.  Really, the [additive test assumption of branches](https://docs.google.com/document/d/1uVQYI2cmNx09fDkHDA136yqDTqayhxqfvjFiuUue7wo/edit#bookmark=id.d1jneh8ubsyn) would require the PR builds to be included in the Clean builds but I don't think that is the case.  The current PR testing process does **not** guarantee that t