[2018-12-14 04:21] bartlettroscoe commented on #3585
PR #4052 with likely fix merged to 'develop' on 12/18/2018.  Next: Let run for two months and then close if no failures by 2/18/2018 ...

[2018-12-14 15:33] srajama1 commented on #3585
@hkthorn Thanks for taking care of this. @bartlettroscoe If it is ok I recommend closing this and reopening if it still happens again.

[2018-12-14 16:58] cgcgcg opened #4056 "(RESOLVED but needs test) Tpetra:`transferAndFillComplete` causes MPI error at large communicator size."
@trilinos/tpetra @mhoemmen @DrBooom

## Current Behavior
Tpetra's `transferAndFillComplete` causes MPI error at large communicator size:
[code]
The error can also be reproduced at low small communicator size by passing
[code]
in the parameter list.

I believe the issue might be here:
https://github.com/trilinos/Trilinos/blob/2da4a8a6dca7d679b24215151079c423fd4f664f/packages/tpetra/core/src/Tpetra_

[2018-12-14 17:11] bartlettroscoe commented on #3939
FYI: There are new failing tests like this so I removed the "Disabled Tests" label.  @fryeguy52 will update with info for the new failing tests.

[2018-12-14 18:15] kddevin commented on #4056
@DrBooom   Please can you take a look at this issue?
@cgcgcg Thanks for reporting this issue and narrowing down the problem.

[2018-12-14 20:20] bartlettroscoe commented on #3585
@srajama1 said

Okay, I set up a calendar reminder to check on this.  If we find there were more random failures (or find out sooner than that), we will re-open this issue.

@hkthorn, thanks for fixing this!

(We are still trying to figure out the best way to address these only very ocassinal randomly failing tests.  Hopefully this process of optimistically closing the issue but setting up a remin

[2018-12-14 20:38] bartlettroscoe commented on #4050
As shown in [this query](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2018-12-14&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm-&field2=buildname&compare2=62&value2=Trilinos-atdm-white-ride-cuda-9.2-release-debug-pt&field3=buildname&compare3=63&value3=cuda), the CUDA build errors are all gone today.  Closing as complete.

[2018-12-14 20:38] #4050 closed

[2018-12-14 21:34] kruger opened #4059 "Stratimikos: Amesos2 adaptor has undefined symbols with certain combination of flags"
Stratimikos in develop branch (9d5b14dc0a423897c6969950d553f81a44ee6427)

Configure script is attached.  Error appears on Mac (10.12.6) using clang [Apple LLVM version 9.0.0 (clang-900.0.39.2)].

Error output is:
`Undefined symbols for architecture x86_64:
  "Amesos2::KLU2<Tpetra::CrsMatrix<float, int, int, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial, Kokkos::HostSpace> >, Tpetra::Multi

[2018-12-14 21:45] cgcgcg commented on #4059
Just a wild guess, but could you try using `Trilinos_ENABLE_FLOAT=ON`?

[2018-12-16 02:47] mhoemmen opened #4060 "Tpetra: Add iallreduce overload that takes raw pointers"
@trilinos/tpetra @cgcgcg

PR https://github.com/trilinos/Trilinos/pull/4057 creates nonowning length-1 `Kokkos::View`s merely because the interface of `Tpetra::Details::iallreduce` demands it.   Users will want to pass raw pointers into `iallreduce`, so we might as well give them an interface that supports it.

[2018-12-16 03:07] mhoemmen commented on #4056
@cgcgcg good catch btw; thank you :-D

[2018-12-16 03:12] mhoemmen commented on #4059
As a work-around, please only ever use `Trilinos_ENABLE_${SCALAR_TYPE}`.  Tpetra will take its defaults from that.

[2018-12-16 21:45] mhoemmen commented on #4035
@cgcgcg I can't take a couple days off I guess ;-)  CUDA warnings are weird.  If you can figure out how to make the macro work without breaking an existing non-CUDA warnings-as-errors build, please feel free to try.

[2018-12-16 21:53] mhoemmen commented on #4035
On the other hand, we haven't tried `[[noreturn]]` yet.  That's legit C++11.  Here is how Teuchos defines the macro now:
[code]
It literally does nothing when building with CUDA.  That's perhaps the first issue ;-) .  Second issue is that Xpetra usually uses the macro when it wants to throw.  Why not just have a `[[noreturn]]` function that throws, and call that, instead of using a macro _and_ ano

[2018-12-16 21:59] mhoemmen commented on #3585
@hkthorn Y'all let me have a couple days off ;-)

[2018-12-17 12:55] rppawlo commented on #3939
@fryeguy52 - yes - please disable.

[2018-12-17 13:46] bartlettroscoe opened #4063 "Allow for KOKKOS_ARCH keyword in <build-name> string to be lower case and separated by '_'"
CC: @fryeguy52

## Description

The SPARC convention for the KOKKOS_ARCH name in their build strings is to use lower-case letters like `hsw` and `knl` vs. `HSW` and `KNL` and to use underscores '_' to separate arguments.  Currently, the ATDM Trilinos build-name parsing system described [here](https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#kokkos_arch) only support upper

[2018-12-17 13:49] bartlettroscoe commented on #3963
Since there have been no objections, I am closing this issue as complete.  The new labels are in usage.  (Now we just need to get people to assign the correct [ATDM Severity/Criticality Labels](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-Specific+Trilinos+GitHub+Labels#ATDM-SpecificTrilinosGitHubLabels-LabelsforSeverity/Criticality) and we should be good to go.)

[2018-12-17 13:53] rppawlo commented on #3543
have these been disabled yet?

[2018-12-17 14:10] bartlettroscoe commented on #3543
@rppawlo

No, they are still failing (see [here](https://testing.sandia.gov/cdash-dev-view/viewTest.php?onlyfailed&buildid=4301219)).

NOTE: As soon as we get a CUDA build going for the SPARC configuration of Trilinos (see https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-221) then these ROL tests will be failing there too.  At that point we will need to fix them or disable them.

[2018-12-17 14:34] bartlettroscoe commented on #3939
@rppawlo, for all CUDA builds like we did the others or just for this CUDA build?

[2018-12-17 14:40] srajama1 commented on #3638
@eric-c-cyr Do you have some time to look at this and assign it to the appropriate person please ?

[2018-12-17 14:47] bartlettroscoe commented on #3638
@srajama1, @eric-c-cyr, and @rppawlo,

Do we know if SPARC or EMPIRE is using Teko functionality protected by this test?  If not, then can we mark this as "ATDM Nonblocker"?  That is really the first step so that we know the importance of this failing test as it impacts ATDM.  (But just because ATDM is not being impacted does not mean we should not fix it as it may impact other important Trilinos

[2018-12-17 15:40] dridzal commented on #3543
We are working on a new static polymorphism implementation for vectors.  This will enable CUDA builds.  What’s your timeline?

[2018-12-17 15:48] eric-c-cyr commented on #3638
No one on earth is using this capability.

[2018-12-17 16:01] bartlettroscoe commented on #3638
@eric-c-cyr said:

In this case, I added "ATDM Nonblocking" label and I think we should just disable this test for this build.  (Seems okay okay to keep it running in the other builds where it is passing or should we disable this in all ATDM Trilinos builds.)

@eric-c-cyr or @srajama1, should we disable for just this build or for all ATDM Trilinos builds?

[2018-12-17 16:04] eric-c-cyr commented on #3638
This is fine with me.

[2018-12-17 16:07] srajama1 commented on #3638
Fine with me as well.

[2018-12-17 16:12] bartlettroscoe commented on #3638
@srajama1, Thanks!  Will do!

[2018-12-17 16:59] william76 opened #4065 "Framework: Remove unused parameters from Pull Request Jenkins Jobs"
@trilinos/framework

### Issue
Last week I ran into an issue where the various Jenkins jobs that are run by the autotester for Pull Request testing had different stets of parameters.  This was confusing so I made a pass through to synchronize all of them with the union of all the parameters from the different jobs. So now we have a bunch of parameters that aren't used in these jenkins jobs.

### B

[2018-12-17 18:36] william76 commented on #4065
PR #4068 Removes the only references to these environment variables that are set by Jenkins parameters in the scripts driven by the autotester.

[2018-12-17 19:30] csiefer2 opened #4069 "Framework: Intel Autotester is Woofing"
Status Flag 'Pull Request AutoTester' - Failure: Timed out waiting for job Trilinos_pullrequest_intel_17.0.1 to start: Total Wait = 603

    Other jobs have been previously started - We must stop them...

[2018-12-17 19:35] bartlettroscoe commented on #3914
FYI: Just heard that they installed the Intel 18.0.5 update on the CEE LAN.  I just looked at `module avail` and it shows:

[code]

@fryeguy52, I think that means that we can test out the updated intel-18.0.5 MKL on the CEE LAN.  But to do this, we have to move away from the SPARC modules as per https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-246.

[2018-12-17 20:30] kruger commented on #4059
Yes, Trilinos_ENABLE_FLOAT=ON works.   Will switch my config files.

[2018-12-17 20:30] #4059 closed

[2018-12-17 20:47] bartlettroscoe commented on #3499
FYI: I added "ATDM Nonblocker" label because all Ansazi test failures are nonblocking for ATDM APPs (because they are not really using Anasazi featuresJ).

@srajama1 and @hkthorn,

Given that the tests `Anasazi_MultiVecTraitsTest2_MPI_4` still fails every day in the 'mutrino' builds as shown [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&fi

[2018-12-17 21:16] bartlettroscoe commented on #3276
FYI: Just get a really strange PR autotester crash just now in https://github.com/trilinos/Trilinos/pull/4064#issuecomment-447956256 showing:

What does that mean?

[2018-12-17 21:31] hkthorn commented on #3499
@bartlettroscoe @fryeguy52 Feel free to disable the Anasazi_MultiVecTraitsTest2_MPI_4 test on 'mutrino' builds.  I have determined that it is a threading issue (see above) that is being exhibited through Tpetra.  Anasazi has no ability to fix this test because it is a test of the linear algebra functionality and not the solver.

[2018-12-17 21:51] csiefer2 opened #4071 "Framework: Change Autotester Default Behavior When Sub-Tests Fail"
@trilinos/framework

Since this is far from the first Intel compiler issue we've had, I propose adding logic to the PR system to have it approve PRs if the Intel compiler dies before reaching configure of Trilinos AND the gcc tests pass.

The logic behind this is to keep non-code Intel compiler fails from creating a "stop the line" condition in  which framework team members need to drop everything

[2018-12-17 22:00] mhoemmen commented on #4032
Hi Karen!  I'll look for those.  In the meanwhile, note that capital L means `long double` and lowercase l is for integers.  See p. 312 of the following C11 draft:

http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1548.pdf

[2018-12-17 22:09] jhux2 commented on #3897
I haven't found any new errors with MueLu's `Hierarchy::Write()` unit test.  However, `MueLu_UnitTestsBlockedEpetra_MPI_1` is consistently failing under clang, as can be seen [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombin

[2018-12-18 00:54] jhux2 commented on #3640
PR #4072 is intended to fix this.

[2018-12-18 12:41] rppawlo commented on #3939
all cuda builds is fine for now.

[2018-12-18 16:07] anates commented on #2146
Config attached, using SuiteSparse 5.3.0. Sorry for the delay, had many other things to do in the meantime.
[CMakeCache_bug.txt](https://github.com/trilinos/Trilinos/files/2691301/CMakeCache_bug.txt)

[2018-12-18 16:09] csiefer2 commented on #4071
Fair enough.  The question I would ask is what works best for the workflow of @trilinos/framework . If you guys are all happy enough with "drop everything and fix it" as opposed to "hope that nobody checks in bad code while you fix it and the hound them if they did" then that's OK.  But I'd like confirmation that the choice is a conscious one :)

[2018-12-18 16:31] bartlettroscoe commented on #2410
PR #4064 which enables the whole test `TeuchosNumerics_LAPACK_test_MPI_1` but disables the single unit test for `STEQR()` merged to 'develop' on 12/18/2018.  Next: Watch for test running and passing (minus `STEQR()` unit test) on 'release-debug' and 'opt' builds on 'white', 'ride', and 'waterman' on 12/19/2018 ...

Putting 'in review' awaiting results on CDash ...

[2018-12-18 16:51] bartlettroscoe commented on #3499
CC: @srajama1, @kddevin

@mhoemmen said:

@hkthorn said:

@hkthorn, does this "treading issue" represent a bug in Tpetra?  Is this a "canary in the mine" for a bug that might jump up and bite an ATDM APP at some point?

@mhoemmen, @srajama1, and @kddevin, it might be good to debug the failing test `Anasazi_MultiVecTraitsTest2_MPI_4` just a little to see if this might be a defect in Tpetra that thi

[2018-12-18 16:55] srajama1 commented on #3499
@bartlettroscoe Is this good to change the PA and pkg labels too ?

[2018-12-18 17:07] prwolfe commented on #4071
This is not a team policy, but a personal preference, but I would prefer “being attacked by a puma” to “let them break everything and then hound them later”.  If nothing else it means fewer complaining e-mails ;->

Joking aside, patience is the real keyword both from the developers and as a framework team member.  While it seems slower, this system is proven to be faster, warts and all.

---------

[2018-12-18 17:25] bartlettroscoe commented on #3499
@srajama1, we would de-scope this current GitHub issue to only be for the `Anasazi_Epetra_BKS_norestart_test_MPI_4` test that should have been resolved by PR #3951 working around the MKL GEEV defect (see [above](https://github.com/trilinos/Trilinos/issues/3499#issuecomment-440844517) and [above](https://github.com/trilinos/Trilinos/issues/3499#issuecomment-443882746)) and would then create a new A

[2018-12-18 17:35] bartlettroscoe commented on #3499
@hkthorn, looks like the failures in the test `Anasazi_Epetra_BKS_norestart_test_MPI_4` are back staring 12/14/2018 as shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-mutrino-intel-opt-openmp-HSW&

[2018-12-18 17:38] kddevin commented on #3499
Yes, we can discuss this issue at the Tpetra meeting today.  Thanks, @mhoemmen .

[2018-12-18 17:39] bartlettroscoe commented on #3499
@srajama1, @kddevin, @mhoemmen, and @hkthorn

Given that the failures in the tests `Anasazi_Epetra_BKS_norestart_test_MPI_4` and `Anasazi_MultiVecTraitsTest2_MPI_4` seem to be failing for difference reasons the 'mutrino' builds, should we not just create two new issues for these and close this issue?  (The only connection seems to be that they were both triggered by an upgrade to intel-18.0.2.)

[2018-12-18 17:45] bartlettroscoe commented on #3939
@rppawlo said:

@fryeguy52, I think you need to disable all of the Panzer tests in all CUDA builds on all platforms shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilino

[2018-12-18 17:50] bartlettroscoe commented on #3992
As per [TRIL-238](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-238), all failing Anasazi tests are nonblockers for ATDM APP updates so I have changed the label from "ATDM Blocker" to "ATDM Nonblocker".

[2018-12-18 17:56] rppawlo commented on #3939
you could just disable in debug-release for now  and leave opt-release enabled. The failures look to be triggered from debug checks. I'm hoping to get to this before the break.

[2018-12-18 17:59] hkthorn commented on #3499
Ummm, yes, I reverted the changes that made the Anasazi_Epetra_BKS_norestart_test_MPI_4 test stop failing on 'mutrino' in PR #4031 so the test would stop failing on the CEE platforms.  This was a lose-lose situation.  This test will stop failing as soon as the default Intel compiler/MKL library is 18.0.5.

[2018-12-18 18:31] kddevin commented on #1909
@ZUUL42 would it be difficult for someone in the frameworks team to add at least one Epetra64 test to the nightly testing? Some SNL users are still using it, and had been developing their own patches as it fell into disrepair.  Thanks!

[2018-12-18 18:48] rppawlo commented on #3939
If I could answer that, the fix would be done :) Hope to get to this soon.

[2018-12-18 18:51] bartlettroscoe commented on #3939
Indeed :-)

@fryeguy52, for now please disable the new failing tests shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-waterman-cuda-9.2-release-debug&field2=s

[2018-12-18 22:05] mhoemmen opened #4080 "Stratimikos: Amesos2LinearOpWithSolveFactory adapter may cause link errors if Teuchos_ENABLE_FLOAT=ON but Tpetra_INST_FLOAT=OFF"
@trilinos/stratimikos @trilinos/thyra @rrdrake

Stratimikos [uses the macro](https://github.com/trilinos/Trilinos/blob/6f4bf237f689a547430c4183c41459d11946a60a/packages/stratimikos/adapters/amesos2/src/Thyra_Amesos2LinearOpWithSolve.cpp#L53) `TEUCHOS_CLASS_TEMPLATE_INSTANT_REAL_SCALAR_TYPES` to do explicit template instantiation (ETI) for its Amesos2 adapter, `Thyra::Amesos2LinearOpWithSolveFactor

[2018-12-18 22:19] william76 commented on #4069
Hey @csiefer2 a link to where this message came from would greatly increase the chances someone might go try and find it and see what it was...

[2018-12-18 22:52] bartlettroscoe commented on #4080
@mhoemmen said:

Where would you put this check?  Would you put this in `packages/tpetra/CMakeLists.txt` or in `packages/stratimikos/CMakeLists.txt`?  Given that we test all of Trilinos as one big thing there is not really any practical difference so it seems more logical to put this in `packages/tpetra/CMakeLists.txt`.

[2018-12-18 23:31] mhoemmen commented on #4080
The same issue could come up with `Teuchos_ENABLE_COMPLEX`, but only for classes that use the `TEUCHOS_MACRO_TEMPLATE_INSTANT_SCALAR_TYPES` macro.  (Teuchos does not have separate `Teuchos_ENABLE_COMPLEX_FLOAT` and `Teuchos_ENABLE_COMPLEX_DOUBLE` options.)

Tpetra used to use `Teuchos_ENABLE_COMPLEX` to decide whether to enable `Scalar=std::complex<double>` support, so it's likely that any scripts

[2018-12-18 23:32] mhoemmen commented on #4080
@bartlettroscoe wrote:

This is my plan :-) .  I thought about other fixes, like adding new macros to Thyra specifically for Tpetra instantiations, but that would just add complexity and possible error cases, without making things easier for users.

[2018-12-19 00:00] kddevin commented on #3499
@hkthorn  I volunteered to look at this issue for @trilinos/tpetra.  I will contact you via email.

[2018-12-19 01:03] mhoemmen opened #4081 "Ifpack2: Build errors in block relaxation unit test & others, when Epetra is ON but AztecOO is OFF"
@trilinos/ifpack2

Ifpack2's BlockRelaxationPerformance unit test has build errors.  Here are some of them:
[code]
There are also some build errors in `ifpack2/example/RelaxationWithEquilibration.cpp`.  It looks like these come up if Epetra is enabled but AztecOO is disabled.  That's unusual, but possible.

[2018-12-19 01:03] mhoemmen commented on #2960
It looks like this has been fixed.  I will close for now.  Please reopen if this has not been fixed.  Thanks!  See also #4080.

[2018-12-19 01:03] #2960 closed

[2018-12-19 01:20] mhoemmen commented on #4059
#4080 is the generalization; PR #4083 will fix this.

[2018-12-19 02:54] bartlettroscoe commented on #3276
@trilinos/framework

More crashes in https://github.com/trilinos/Trilinos/pull/4079#issuecomment-448443534 and https://github.com/trilinos/Trilinos/pull/4079#issuecomment-448448274.  This time, the `Trilinos_pullrequest_gcc_7.2.0` build both times shows:

[code]

[2018-12-19 03:14] bartlettroscoe commented on #3276
@trilinos/framework,

And it crashed again https://github.com/trilinos/Trilinos/pull/4079#issuecomment-448452704.  This time the build `Trilinos_pullrequest_gcc_7.2.0` showed the error:

[code]

Looks like the disk is filled up.

Do you (or Jenkins) have any system to warn you when a Jenkins slave disk space is getting to high?

[2018-12-19 07:01] mayrmt opened #4084 "MueLu: migrate HHG driver to Xpetra"
@trilinos/muelu

## Expectations
Switch from `Epetra` stack to `Xpetra` (or `Tpetra` if `Xpetra` is to much trouble).

## Current Behavior
The MueLu/HHG driver in `packages/muelu/research/mmayr/composite_to_regions/src/main.cpp` is fully implemented using the old `Epetra` stack.

## Motivation and Context
@lucbv's performance improvements for structured grid's rely on Kokkos. To enable them in the

[2018-12-19 07:10] mayrmt opened #4085 "MueLu: enable 3D problems in HHG driver"
@trilinos/muelu

## Expectations
Add support for three-dimensional problems to the HHG driver.

## Current Behavior
Support for 1D and 2D problems only.

## Motivation and Context
We need capabilities to deal with three-dimensional problems.

## Definition of Done
- [ ] Add an input generation mechanism for 3D problems.
- [ ] Add a 3D version `LID3Region()` of mapping from local IDs to region IDs.

[2018-12-19 13:58] bartlettroscoe commented on #3632
With the merge of PR #4079 to 'develop' on 12/19/2018, these tests should now be disabled in the 'cee-rhel6' builds.

In fact, we already can see that these tests are missing in some 'cee-rhel6' builds as shown, for example, in the build [Trilinos-atdm-cee-rhel6-gnu-4.9.3-openmpi-1.10.2-serial-static-opt today](https://testing.sandia.gov/cdash-dev-view/viewTest.php?buildid=4324660&filtercount=1&sh

[2018-12-19 14:01] bartlettroscoe commented on #3638
With the merge of PR #4079 to 'develop' on 12/19/2018, these this should now be disabled in this `Trilinos-atdm-cee-rhel6-clang-opt-serial` build.  Next: Confirm this test is disabled in this build on 12/20/2018 ...

[2018-12-19 14:09] bartlettroscoe commented on #3939
With the merge of PR #4079 to 'develop' on 12/19/2018, these tests should now be disabled in this build `Trilinos-atdm-waterman-cuda-9.2-release-debug`. Next: Confirm these tests are disabled in this build on 12/20/2018 ...

Actually, since we are still running the ATDM Trilinos builds against raw 'develop', the build `Trilinos-atdm-waterman-cuda-9.2-release-debug` running right now should show th

[2018-12-19 14:20] mayrmt commented on #4084
Note to myself: First, migrate everything to Xpetra using the Xpetra_UseShortNames. Later, use specific `typedef Xpetra::Vector<GlobalOrdinal,LocalOrdinal,GlobalOrdinal,node> VectorGO;` for those vectors that just store GIDs as their entries.

[2018-12-19 14:36] bartlettroscoe commented on #3963
@jwillenbring (Trilinos Framework Product Area Lead)
@kddevin (Trilinos Data Services Product Area Lead)
@srajama1 (Trilinos Linear Solvers Product Area Lead)
@rppawlo (Trilinos Nonlinear Solvers Product Area Lead)
@mperego (Trilinos Discretizations Product Area Lead)

Given that there are a few GitHub labels that start with "ATDM" I think we should change the names of the [ATDM Severity/Criticali

[2018-12-19 14:42] bartlettroscoe commented on #2410
The test `TeuchosNumerics_LAPACK_test_MPI_1` is now running and passing in all of the the 'debug' builds on 'white', 'ride', and 'waterman' as shown today in [this query](https://testing.sandia.gov/cdash-dev-view/queryTests.php?project=Trilinos&date=2018-12-19&filtercount=2&showfilters=1&filtercombine=or&field1=block&field1count=2&field1field1=buildname&field1compare1=65&field1value1=Trilinos-atdm

[2018-12-19 15:05] mayrmt opened #4087 "Xpetra: missing access routine getData for Xpetra::Vector"
@trilinos/xpetra
@lucbv

## Expectations
It might be desired to have a specialized access routine `getData()` for the `Xpetra::Vector` that does not call the base class routine in `Xpetra::MultiVector`.

## Current Behavior
To access the data in a `Xpetra::Vector`, one has to call the base class routine with argument `getData(0)` to access the data of the very first column in the multivector, alth

[2018-12-19 15:32] #4081 closed

[2018-12-19 16:51] mhoemmen opened #4088 "Moocho: Build errors (INT_MIN missing)"
See e.g., https://testing.sandia.gov/cdash/viewBuildError.php?buildid=4324923 .  Not sure how to fix them, since Moocho does not live in the main Trilinos repository any more.

@trilinos/framework @jwillenbring

[2018-12-19 16:57] william76 commented on #4065
Set log keeping limits to 14 days for the Jenkins jobs as well since 2 weeks should be long enough to hang onto any Jenkins job metadata... hopefully that will reduce the chances of disks getting full on the ASCIC build nodes.

[2018-12-19 17:43] mhoemmen opened #4090 "Tpetra: Add macro for creating verbose debug output on a process"
@trilinos/tpetra
See my comment on PR https://github.com/trilinos/Trilinos/pull/4089.
[code]
This would factor out a common pattern inside Tpetra.  It would work like `TEUCHOS_TEST_FOR_EXCEPTION`, in that `stuff` could be an expression like `"thing0: " << thing0 << ", thing1" << thing1`.

[2018-12-19 19:13] aroudgar commented on #2046
I have exactly the same issue

[2018-12-19 19:16] bartlettroscoe commented on #2046
Is there an env/machine set up at SNL where I can easily reproduce this build failure?

[2018-12-19 19:24] srajama1 commented on #2046
@rppawlo

[2018-12-19 19:33] jhux2 opened #4091 "Trilinos: what issues should be pinned?"
Github now allows up to 3 issues to be "pinned" at the top of the issues tab.  Here are some ideas of what the Trilinos project might want to highlight:

- Getting started for new users.
- Usage statistics.
- News/updates/release info.

What are some other ideas?

[2018-12-19 19:47] jhux2 opened #4092 "Framework: recent change affecting commit messages?"
@trilinos/framework

The commit messages, as seen [here](https://github.com/trilinos/Trilinos/commits/develop), have changed over the past day or so.  The most recent messages are of the form

`Merge pull request #XXYY from <some branch>`

Previously, the messages had the first line of the actual commit message, which in my opinion is more helpful.

Is this due to an intentional change in the scri

[2018-12-19 20:42] jhux2 opened #4093 "MueLu: detect if input matrix is identity"
A user recently tried to run MueLu on an identity matrix.  For a large enough system, MueLu will coarsen to a zero-by-zero system, which causes problems.  There should be a mechanism for detecting if all DOFs are boundary points, i.e., there are zero aggregates.  One solution is to throw an exception during Dirichlet detection.

[2018-12-19 20:55] mhoemmen opened #4094 "Tpetra: Build errors with complex enabled"
@trilinos/tpetra

When I enable `Scalar=complex<double>` in Tpetra with GCC 4.9.3 (debug build) and OpenMP, I get build errors that look like build errors currently on the Dashboard:

https://testing.sandia.gov/cdash/viewBuildError.php?buildid=4326483
[code]

## Possible Solution

Fix https://github.com/kokkos/kokkos/issues/1951 .

## Related Issues
* Is blocked by https://github.com/kokkos/kokkos

[2018-12-19 21:58] ndellingwood opened #4095 "Tpetra compile error build with serial build + complex types with gcc/7.2 and gcc/7.3"
This error reported by @hkthorn

Tpetra fails to compile with complex types with `gcc/7.2` and `gcc/7.3` and `Tpetra_INST_SERIAL:BOOL=ON`; my configuration is posted at end of this issue. Error occurs in Tpetra's `AbsMaxOp` functor's operator () at [line 755](https://github.com/trilinos/Trilinos/blob/b0fd3c193575ee97600cdbaafd7a6091ec270e55/packages/tpetra/core/src/kokkos_refactor/Tpetra_KokkosRef

[2018-12-19 21:59] ndellingwood commented on #4094
Related - #4095

[2018-12-19 21:59] ndellingwood commented on #4095
Related - #4094

[2018-12-19 22:11] aroudgar commented on #2046
Here is my env setup:
gcc/7.3.0
openmpi/3.1.2
hdf5-mpi/1.8.18
netcdf-mpi/4.6.1
cmake/3.12.3
boost-mpi/1.68.0
imkl/2018.3.222

cmake -D CMAKE_INSTALL_PREFIX:PATH=<PATH> \
-D CMAKE_CXX_FLAGS:STRING="-O2 -std=c++11 -pedantic -ftrapv -Wall -Wno-long-long" \
-D CMAKE_BUILD_TYPE:STRING=RELEASE \
-D Trilinos_WARNINGS_AS_ERRORS_FLAGS:STRING="" \
-D Trilinos_ENABLE_ALL_PACKAGES:BOOL=OFF \
-D Trilinos_ENABL

[2018-12-19 22:13] ndellingwood commented on #4095
Arg, missed a line in my configure options about the execution space stuff, please ignore that. This is same issue as #4094

[2018-12-19 22:17] mhoemmen commented on #4095
This is a Kokkos issue.  https://github.com/kokkos/kokkos/issues/1951

[2018-12-19 22:17] mhoemmen commented on #4095
This is also a duplicate of #4094.

[2018-12-19 22:17] #4095 closed

[2018-12-19 22:30] mhoemmen commented on #4094
@ndellingwood @crtrott Here is the corresponding Kokkos PR: https://github.com/kokkos/kokkos/pull/1953

[2018-12-19 22:39] mhoemmen commented on #2046
1. Please remove `-Wno-long-long`.  C++11 has `long long`, so we don't need or want this flag any more.
2. Please remove `-ftrapv` unless you have a good reason to leave it there.
3. Normally, the DEBUG vs. RELEASE build choice selects `-O2` or `-g` as appropriate, so you don't need to specify `-O2`.

[2018-12-20 00:53] bartlettroscoe commented on #2046
Also don't need `-std=c++11` .  That should get set automatically.

What are:
[code]
?  Where do those come from?  Do I need to build from source? What is `imkl/2018.3.222`?

Do you get this if you try to build with the SEMS modules?  That is something easy that I could try.  Otherwise, don't know how to reproduce from this info so far.

[2018-12-20 01:06] william76 commented on #4065
LOL, so #4089 has had a lot of minor tweaks to do so I've been beating up the autotester today by having it start and restart on my job, but the tester has been running and reporting results so it looks like my updates to the Jenkins jobs didn't break the world :)

I'll roll around to this tomorrow morning and see if #4089 gets merged on in and make sure the nightly develop->master tests run and d

[2018-12-20 01:24] mhoemmen opened #4098 "Tpetra::BlockCrsMatrix build errors when KOKKOS_ENABLE_DEPRECATED_CODE=OFF"
@trilinos/tpetra @trilinos/kokkos @ndellingwood

@vbrunini found this in a CUDA build with `KOKKOS_ENABLE_DEPRECATED_CODE:BOOL=OFF`:
[code]
This is a BlockCrsMatrix issue.  I was able to replicate by calling BlockCrsMatrix's sync method with `MemorySpace=Kokkos::HostSpace`.

Note that `Kokkos::DualView`'s templated methods only `static_assert` on their template parameter if Kokkos disables depreca

[2018-12-20 15:55] #4069 closed

[2018-12-20 16:08] bartlettroscoe commented on #4091
@jhux2, hard to pick 3 issues that should be globally displayed.  Not sure I want issues like this displayed on every query page.  Just takes way from vertical space and confuses things.  For example:

* https://github.com/trilinos/Trilinos/issues?utf8=%E2%9C%93&q=label%3AATDM+label%3Abug+-label%3A%22Disabled+Tests%22+-label%3AStalled+is%3Aopen+

[2018-12-20 16:21] bartlettroscoe commented on #3963
Since there were no objections or suggestions, I updated the [ATDM GitHub Severity/Criticality](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-Specific+Trilinos+GitHub+Labels#ATDM-SpecificTrilinosGitHubLabels-LabelsforSeverity/Criticality) labels to be `ATDM Sev: <severity>` and updated all documentation that I could find and and linked to [ATDM Builds of Trilinos Wiki](https://snl-

[2018-12-20 16:22] bartlettroscoe commented on #3963
Closing as complete ...

[2018-12-20 16:22] #3963 closed

[2018-12-20 16:47] bartlettroscoe commented on #4091
@trilinos/framework, @jwillenbring

Do you have an opinion on this?  My opinion is that, for now, we should not use pinned issues because it does not make sense in the context of specific queries like the open ATDM Trilinos 'bug' issues:

* https://github.com/trilinos/Trilinos/issues?utf8=%E2%9C%93&q=label%3AATDM+label%3Abug+-label%3A%22Disabled+Tests%22+-label%3AStalled+is%3Aopen+

Seems like Git

[2018-12-20 17:16] hkthorn commented on #3989
This issue has been addressed by PR #4031.  Marking closed.

[2018-12-20 17:16] #3989 closed

[2018-12-20 17:25] hkthorn commented on #3992
The issue on Mutrino is the focus of #3499.  This bug, addressing all other CEE platforms, has been addressed by PR #4031.  Marking closed.

[2018-12-20 17:25] #3992 closed

[2018-12-20 17:40] mhoemmen commented on #4091
We could use the opening README to link to Wiki pages.  That might be a way to make sure new users find commonly wanted information.

[2018-12-20 17:58] rppawlo commented on #4038
@jhux2  - I seem to recall something similar being reported in another issue recently. Do you who I should ping for this?

[2018-12-20 18:00] jhux2 commented on #3640
@bartlettroscoe @fryeguy52 This issue is fixed, as seen by this [query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=3&

[2018-12-20 18:03] jhux2 commented on #4038
@rppawlo That's me :).   Can I just follow the ATDM wiki instructions to reproduce this?

[2018-12-20 18:04] bartlettroscoe commented on #3992
Okay, I updated the scope of #3499 to make it clear that it also includes the failures in the build `Trilinos-atdm-cee-rhel6-intel-18.0.2-mpich2-3.2-serial-static-opt` for the same reason as on 'mutrino' (i.e. bad MKL GEEV() function with intel-18.0.2).

[2018-12-20 18:10] rppawlo commented on #2046
In looking at the original output at the top of this post, the missing instantiation has the following object:
[code]
As far as I know, there is no support for Comm with a long type - it must always be int. Looks like that test is putting an incorrect type into the comm.

[2018-12-20 18:11] mhoemmen commented on #2046
@rppawlo I thought Thyra used to use some weird unsigned long type in Comm -- did that change?

[2018-12-20 18:22] bartlettroscoe commented on #3640
FYI: PR #4072 merged to 'develop' on 12/19/2018 should fix this ...

@jhux2  said:

@jhux2, okay, as shown in [this query for just the test MueLu_UnitTestsBlockedEpetra_MPI_1 in the build Trilinos-atdm-cee-rhel6-clang-5.0.1-openmpi-1.10.2-serial-static-opt](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filterco

[2018-12-20 18:23] bartlettroscoe commented on #3640
Closing as complete for real this time :-)

[2018-12-20 18:23] #3640 closed

[2018-12-20 18:43] william76 opened #4101 "Pliris: Closing old PR 73 - Package Warnings Fixes"
@trilinos/pliris

Pull Request #73 "Pliris Package Warnings Fixes" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pull

[2018-12-20 18:46] william76 opened #4102 "STK: Closed old PR #451 "missing DEPLIBS for stk""
@trilinos/stk

Pull Request #451 "missing DEPLIBS for stk" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pull requests

[2018-12-20 18:50] william76 opened #4103 "Epetra: Closing old PR #503 "Updated minimal example Epetra_CrsMatrix.h ...""
@trilinos/epetra

Pull Request #503 "WIP: Updated minimal example Epetra_CrsMatrix.h and Epetra_CrsMatrix.cpp…" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester

[2018-12-20 18:51] william76 opened #4104 "STK: Closing old PR #575: "Fix STKUtil with Cray CCE""
@trilinos/stk

Pull Request #575 "Fix STKUtil with Cray CCE" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pull reques

[2018-12-20 18:56] rppawlo commented on #2046
@mhoemmen - that sounds vaguely familiar. Thyra hasn't changed in a while. For some reason I thought we were using ETI to build only the int version of Tuechos::Comm, but I just took a look and that is not the case. Back to the drawing board...

[2018-12-20 18:57] william76 opened #4105 "Closing old PR #1019 "Misleading indentation (whitespace only)""
Pull Request #1019 "Misleading indentation (whitespace only)" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pull reque

[2018-12-20 18:59] william76 opened #4106 "Teko: Closing old PR #1026 "Fetch heavy test/example data via CMake's ExternalData""
@trilinos/teko

Pull Request #1026 "Fetch heavy test/example data via CMake's ExternalData" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling mode

[2018-12-20 19:01] rppawlo commented on #4038
I believe so. It's the RHEL 7 build with intel compilers. You may have to add a flag to build static libraries though. Not sure if static is part of the issue.

[2018-12-20 19:02] william76 opened #4107 "Rhythmos: Closing old PR #1028 "remove generated files""
@trilinos/rythmos

Pull Request #1028 "remove generated files" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pull requ

[2018-12-20 19:04] william76 opened #4108 "Thyra, Belos: Closing old PR #1144 "Mod in Thyra_BelosLinearOpWithSolve: separating ...""
@trilinos/belos
@trilinos/thyra

Pull Request #1144 "Mod in Thyra_BelosLinearOpWithSolve: separating..." is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a

[2018-12-20 19:07] william76 opened #4110 "Zoltan2: Closing old PR #1533 "Zoltan2 directory""
@trilinos/zoltan2

Pull Request #1533 "Pliris Package Warnings Fixes" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pu

[2018-12-20 19:10] william76 opened #4111 "Zoltan2_AlgPuLP: Closing old PR #1632 "resolved conflict with offset_t""
@trilinos/zoltan2

Pull Request #1632 "resolved conflict with offset_t" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing

[2018-12-20 19:12] william76 opened #4112 "Tpetra: Closing old PR #1930: "Fix #1925""
@trilinos/pliris

Pull Request #1930 "Fix #1925" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pull requests' status f

[2018-12-20 19:14] william76 opened #4113 "MueLu: Closing old PR #2136 "uncoupled aggregation refactor""
@trilinos/muelu

Pull Request #2136 "uncoupled aggregation refactor" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing pul

[2018-12-20 19:16] kddevin commented on #4110
This work is not abandoned.  Please allow the PR to remain until review is complete.

[2018-12-20 19:18] william76 opened #4114 "Stratimikos, Belos: Closing old PR #2540 "Add fixed-point iteration solver""
@trilinos/pliris

Pull Request #2540 "Add fixed-point iteration solver" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existing

[2018-12-20 19:19] mhoemmen commented on #4114
I'm OK with this but @cgcgcg is the original author.

[2018-12-20 19:20] william76 opened #4115 "Tempus: Closing old PR #2649: "Implementation of HHT-Alpha method""
@trilinos/tempus

Pull Request #2649 "Implementation of HHT-Alpha method" is really old and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester uses a polling model to check existin

[2018-12-20 19:20] mhoemmen commented on #4108
@william76 If the PR is labeled as a WIP, does that still count in the polling limit, as long as the autotester filters the search by label?

[2018-12-20 19:27] bartlettroscoe opened #4116 "PanzerAdaptersSTK_MixedCurlLaplacianExample-ConvTest-Tri-Order-1 timing out in Trilinos-atdm-white-ride-cuda-9.2-release-debug builds starting 12/19/2018"
CC: @trilinos/panzer , @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Once GitHub Issue is created, add entries for tests to TrilinosATDMStatus/*.csv files>

## Next Action Status

As shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercoun

[2018-12-20 19:31] william76 opened #4117 "Zoltan: Closing old PR #3122: "Avoid picking up the wrong include from AMPI""
@trilinos/zoltan

Pull Request #3122 "Avoid picking up the wrong include from AMPI" hasn't had any activity in a long time and appears to be stale and/or abandoned.  I'm closing that PR and creating this issue to link to it.

I'm doing this because we need to close out some of the old PR's due to some GitHub limitations on the number of checks/hour that are allowed.  The pull request autotester us

[2018-12-20 19:43] bartlettroscoe commented on #4116
@rppawlo, since this test is disabled in the build `Trilinos-atdm-waterman-cuda-9.2-release-debug` and since it is running and passing today and yesterday in the build `Trilinos-atdm-waterman-cuda-9.2-opt` as shown [here](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filte

[2018-12-20 19:53] #4106 closed

[2018-12-20 19:59] bartlettroscoe commented on #3632
Looks like these have all been disabled as shown in the table below (with data taken from CDash)

Adding the "Disabled Tests" label to filter out of our main queries.

@rppawlo, do you want to keep this issue open with the "Disabled Tests" label or just close it?  If there are no plans to try to fix this anytime soon, we might as well close this in my opinion.  We need to leave the "Disabled Tests

[2018-12-20 20:30] jewatkins opened #4119 "Teuchos: StackedTimer missing a pushRegion for kokkos profiling"
@trilinos/teuchos

## Expectations

StackedTimer should work with kokkos profiling tools

## Current Behavior

space time stack throws a seg fault because there's no pushRegion in the top level timer

## Motivation and Context

Removing the stacked timer or changing the kokkos profiler to run a profile is not practical. It's better to fix the stacked timer.

## Possible Solution

Unless I'm mistak

[2018-12-20 20:30] bartlettroscoe commented on #3930
FYI: Since we moved the start of the various ATDM Trilinos builds run from jenkins-srn.sandia.gov to start a different times (see [TRIL-237](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-237)) for the first time yesterday we got a full set of build and test results as shown [here]().

Therefore, I put this "in review" will leave this over the XMAS break to see if we see any other instance

[2018-12-20 20:44] bartlettroscoe commented on #3405
@kddevin, with PR #3500  merged on 12/5/2018, can we close this issue?

[2018-12-20 21:00] kddevin commented on #3499
Broadly: this particular test does not use a tolerance to account for differences in the order of operations, as the MVOpTester in Anasazi does (since November 2016).  Given today's threading environments, adding a tolerance seems appropriate.

@srajama1   With one thread, would you expect KokkosBlas::nrm2_squared to give the same answer for a single call with a multivector as for multiple calls w

[2018-12-20 21:49] #3405 closed

[2018-12-20 22:03] rppawlo commented on #4116
Sure!

[2018-12-20 22:04] rppawlo commented on #3632
Fine with closing. It's priority was dropped and we will not address anytime soon.

[2018-12-20 22:12] #4080 closed

[2018-12-20 22:12] #4094 closed

[2018-12-20 22:12] #4098 closed

[2018-12-20 22:30] bartlettroscoe commented on #3632
Closing.  Thanks!

[2018-12-20 22:30] #3632 closed

[2018-12-21 00:17] william76 commented on #4065
Looks like jobs are working... closing this out.

[2018-12-21 00:17] #4065 closed

[2018-12-21 01:00] srajama1 commented on #3499
@kddevin : Yes, on one thread I don't see a reason why the answers would differ. What is the BLAS version this is compiled with ?

[2018-12-21 01:33] jhux2 commented on #4038
`Xpetra_EpetraMap.hpp` is internally using `Tpetra::Details::FixedHashTable`.  In the current build, GO=long is disabled.  `Xpetra_EpetraMap` has a specialization for GO=long.  I suspect that this is getting compiled, resulting in the missing symbol.  Next question -- why is the specialization getting compiled?

[2018-12-21 02:43] bartlettroscoe commented on #3939
The Panzer tests in the build `Trilinos-atdm-waterman-cuda-9.2-release-debug` all passed over the last two days with results for today show [here](https://testing.sandia.gov/cdash-dev-view/viewTest.php?onlypassed&buildid=4331365).    Many of the tests were shown newly missing yesterday as shown [here](https://testing.sandia.gov/cdash-dev-view/viewTest.php?buildid=4327133&onlypassed&filtercount=1&s

[2018-12-21 05:30] #4114 closed

[2018-12-21 15:01] william76 commented on #4110
@kddevin I see you reopened the PR.  I'll close out this issue as a matter of housecleaning.

[2018-12-21 15:01] #4110 closed

[2018-12-21 15:49] rppawlo commented on #3939
So I spent some time on this and will need some help from the kokkos or testbeds teams. I can run the tests manually and they all consistently pass. I can run  the tests with ctest -j1 and they consistently all pass. The only way I can trigger the failure is to get multiple executables running at the same time by using ctest -j16. This seems like multiple executables are corrupting memory on the c

[2018-12-21 16:30] bartlettroscoe opened #4123 "New Tpetra and Zoltan2 test failures in all ATDM Trilinos CUDA builds starting 12/21/2018"
CC: @trilinos/tpetra, @trilinos/zoltan2 , @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52, @tjfulle

<Checklist>
<???: Once GitHub Issue is created, add entries for tests to TrilinosATDMStatus/*.csv files>

## Next Action Status

PR #4124 that reverts PR #4070 was merged to 'develop' on 12/21/2018.  Next: Watch for these failures to clean up on 12/22/2018 ...

## Descri

[2018-12-21 16:34] bartlettroscoe commented on #4123
@kddevin, @tjfulle, @mhoemmen

I manually verified that reverting the commit 9ec2271 from PR #4070 makes the errors go away (see details below).

Given that it looks like there are as many as 50 test failures triggered across many CUDA builds and that fact that we are entering the XMAS break, can we just revert this commit 9ec2271 and then fix this offline in the new year?

<details>
<summary><b>D

[2018-12-21 16:38] bartlettroscoe commented on #4123
FYI: Newly failing/timing-out tests:

* `Ifpack2_unit_tests_MPI_4` failing in build `Trilinos-atdm-waterman-cuda-9.2-opt`
* `PanzerDofMgr_tUniqueGlobalIndexerUtilities_MPI_2` timing-out in build `Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-debug`

shown in [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-12-21&filtercombine=and&filtercombine=and&filtercombine

[2018-12-21 16:45] rppawlo commented on #3939
Should also comment that cuda memcheck comes back clean when I run manually.

[2018-12-21 17:39] bartlettroscoe commented on #4123
@tjfulle, yes, I can revert.  I will put on a PR shortly.

[2018-12-21 17:47] bartlettroscoe commented on #4123
@tjfulle, I posted PR #4124.  Can you please approve that?  (You can do that on your phone browser.)

Otherwise, @mhoemmen, can you approve PR #4124?

[2018-12-21 18:44] kddevin commented on #3499
It is an Intel build, using mkl.
-- CMAKE_CXX_COMPILER_ID='Intel'
-- CMAKE_CXX_COMPILER_VERSION='18.0.2.20180210'
We are loading the ATDM environment as in the instructions above.

[2018-12-21 22:22] bartlettroscoe commented on #4123
PR #4124 that reverts PR #4070 was merged to 'develop' on 12/21/2018.  Next: Watch for these failures to clean up on 12/22/2018 ...

Putting "in review" ...

[2018-12-22 01:41] srajama1 commented on #3499
Ok, I will try a simple test outside Trilinos and Kokkos to check whether this is a problem w/ TPL or not.

[2018-12-22 19:45] bartlettroscoe commented on #3939
@rppawlo, this might be a good use case to experiment with the improved binding approach being discussed in:

* https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-231?

In particular, see [this comment](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-231?focusedCommentId=24748&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-24748).  That looks very promisin

[2018-12-23 00:46] mhoemmen commented on #4112
@william76 I wouldn't call the PR "dead," but it has merge conflicts and is known to make a test fail.  It's useful as a reference, but closed PRs don't disappear.  So, I'm closing this issue.  Thanks!

[2018-12-23 00:46] #4112 closed

[2018-12-23 19:01] mhoemmen commented on #4103
The original PR didn't build when the new TPL in question was disabled, so I'm OK with it being closed.  Please don't delete the branch though.

[2018-12-29 03:33] aprokop opened #4128 "Belos FGMRES solver does not allow missing right preconditioner"
@trilinos/belos @hkthorn

## Description
I'm trying to run Belos within a nonlinear JFNK solve. As the operator is not constant, it needs FGMRES. I don't have an implemented preconditioner for it, so running without. However, right now it throws due to the check
[code]

I'm not sure why that check is there. Removing it seems to run things just fine. My question is if there is something I'm missing

[2018-12-29 09:40] cgcgcg commented on #4128
@aprokop I am not sure I understand, but shouldn't the operator for a given linear solve be constant? And since there is no preconditioner, regular GMRES should do just fine, no?

[2018-12-30 00:19] aprokop commented on #4128
@mhoemmen OK. But shouldn't it work for situations where that preconditioner is not variable, and is identity as in this case?

[2018-12-30 02:00] mhoemmen commented on #4119
@trilinos/teuchos

[2019-01-01 00:36] mhoemmen commented on #4128
@aprokop wrote:

With no preconditioner, the algorithm _should_ just reduce to regular GMRES (ignoring nonlinearity in the "matrix" A).  I suppose Belos could be smart enough to fall back to regular GMRES in the "flexible true but no preconditioner" case.  The work-around would be just to turn off the "flexible" option.

[2019-01-01 00:38] mhoemmen commented on #4128
@aprokop If you really want Anderson acceleration, NOX has an implementation: see `packages/nox/src/NOX_Solver_AndersonAcceleration.H`.

[2019-01-01 07:53] mohsenhatami96 opened #4129 "undefined reference to `dggsvd3'"
@bartlettroscoe
@etphipp
@mhoemmen

I tried to build trilinos but I got some errors. This is my CMakeError.log:

Performing C++ SOURCE FILE Test HAVE_TEUCHOS_LAPACKLARND failed with the following output:
Change Dir: /share/apps/Trilinos-master/build/CMakeFiles/CMakeTmp

Run Build Command:"/opt/rh/devtoolset-7/root/usr/bin/gmake" "cmTC_6bb30/fast"
/opt/rh/devtoolset-7/root/usr/bin/gmake -f CMakeFil

[2019-01-01 20:48] mhoemmen commented on #4129
1. I notice that you specified the path to the BLAS library explicitly in your CMake options, but did not specify the path to the LAPACK library.  The linker errors are looking for `/usr/lib64/liblapack.so`.  Does that file exist on your system?  Also, it's better to specify TPL library directories via `${TPLNAME}_LIBRARY_DIRS` (and `${TPLNAME}_LIBRARY_NAMES` if needed).  This gives Trilinos more

[2019-01-01 20:54] mhoemmen opened #4130 "Teuchos: Check for _LARND issues build warnings"
@trilinos/teuchos @trilinos/framework

CMake check for `_LARND` in Teuchos issues "narrowing conversion" build warnings.  You can see this here: https://github.com/trilinos/Trilinos/blob/9461709507e4d4e0ffced97d7649ccd117e7b16f/packages/teuchos/cmake/CheckLapackLARND.cmake#L19

## Steps to Reproduce

Read this comment: https://github.com/trilinos/Trilinos/issues/4129#issue-395063909

## Related Is

[2019-01-02 15:18] #4130 closed

[2019-01-02 17:06] jrood-nrel commented on #3652
It looks like this made its way into Trilinos, so I think this issue is now resolved for me. Thanks for all the help everyone! (I don't remember if this is one of the projects where I'm not supposed to close my own issues, but feel free to close this anyone.)

[2019-01-02 17:46] #3652 closed

[2019-01-03 00:38] jhux2 commented on #4038
`Xpetra_EpetraMap.hpp` derives from `Xpetra::Map`.  The latter has the virtual method `getLocalMap` whose return type is a `Tpetra::LocalMap` *if* Tpetra and Xpetra's KokkosRefactor branch are both enabled.  (See PR #1669 for some context.)

In the current build, `HAVE_TPETRA_INST_INT_LONG` is not defined.  However, because both Tpetra and Xpetra's KokkosRefactor branch are enabled, `Xpetra::Epetr

[2019-01-03 01:11] mhoemmen commented on #4038
@jhux2 I'm confused about the relevance of #1669.  There shouldn't ever be any Tpetra + `GO=long` happening if `GO=long` is not enabled in Tpetra.  Epetra64 only uses (the equivalent of) `GO = long long`.  Thus, how could it be that you need FixedHashTable for `GO=long`?

[2019-01-03 11:05] bl0od commented on #4129
It's solved with this fix issue: #4131.
Thank you very much!

[2019-01-03 15:11] hkthorn commented on #4128
I agree with @mhoemmen, there is no reason to use FGMRES if there is no right preconditioner set.  Keeping two orthogonal basis, that are the same, is too much overhead.  I can fix the logic such that it falls back to regular GMRES in this case.

[2019-01-03 16:32] mhoemmen commented on #4129
@bl0od I'm a bit confused -- what was the actual error?  The log output might say "error" but that's just temporary output from the CMake tests.  Also, it would help for us to learn a little bit more about your application -- would you mind sharing that?

[2019-01-03 17:41] davoodansari opened #4133 "Amesos2 using "amesos2_cholmod" solver generates wrong results"
Hi everyone
Spent some time compiling metis, chomod and on top of that trilinos (amesos2 with cholmod enabled).
Then I modified one of the examples to see if the "amesos2_cholmod" solver is actually accessible.
To my surpride, the solver generates wrong results, i.e.    [-2.88889; 2.25; -5.66667; 3.4; 3.77778; 4.66667] instead of [1 2 3 4 5 6]. Below is the code and the actual output. Any ideas wh

[2019-01-03 17:47] srajama1 commented on #4133
@ndellingwood Can you please take a look at this ?

[2019-01-03 17:54] jhux2 commented on #4038
@mhoemmen You're correct, Tpetra is not enabling `GO=long`.  However, there appears to be some downstream Xpetra code that requires it.

[2019-01-03 19:10] mhoemmen commented on #4133
@trilinos/amesos2

[2019-01-03 19:11] mhoemmen commented on #4038
@jhux2 wrote:

Is the plan, then, to fix said downstream Xpetra code?  Or does Xpetra really need FixedHashTable with keys of type `long`?

[2019-01-03 23:11] csiefer2 commented on #4093
This situation could also occur with overly aggressive dropping...

[2019-01-03 23:28] rppawlo opened #4136 "Panzer: address concerns in #4134"
Address changes suggested by @mhoemmen in PR #4134

[2019-01-04 02:33] davoodansari commented on #4133
I think I should take it back. I was so excited about being able to compile Trilinos with chomod enabled that I forgot Cholmod stands for Cholesky. The matrix has to be symmetric. I will verify that and close the issue shortly. Sorry for the rush folks.

[2019-01-04 02:53] davoodansari commented on #4133
Hypothesizes verified. Results are correct with a symmetric matrix. Issue closed.

[2019-01-04 02:56] davoodansari commented on #4133
Issue #4133 closed

[2019-01-04 04:59] #4133 closed

[2019-01-04 21:08] rppawlo opened #4141 "Intrepid2: improve performance of LagrangianInterpolation"
An application is using the function `Intrepid2::Experimental::LagrangianInterpolation<DeviceSpace>::getDofCoordsAndCoeffs`. The function is not optimized to use kokkos and is causing scaling issues for large problems.

@trilinos/intrepid2
@mperego
@bathmatt

[2019-01-04 21:26] mhoemmen opened #4142 "Teuchos::GlobalMPISession destructor finalizes Kokkos, but constructor does not initialize Kokkos"
@trilinos/teuchos

`Teuchos::GlobalMPISession`'s constructor does not call `Kokkos::initialize`, but GlobalMPISession's destructor calls `Kokkos::finalize_all`.  Teuchos should either do both, or do neither.

https://github.com/trilinos/Trilinos/blob/5487fdcebedeb081477ec09dd3ad9efa9192948d/packages/teuchos/core/src/Teuchos_GlobalMPISession.cpp#L192

[2019-01-06 02:43] wfspotz opened #4143 "Tpetra: In-place conversion from BlockMultiVector to BlockVector"
@trilinos/tpetra

## Expectations
Given a `Tpetra::BlockMultiVector`, it should be possible to extract a const or non-const `Tpetra::BlockVector` with view semantics.

The `Tpetra::MultiVector` class has `getVector()` and `getVectorNonConst()` methods, but no `operator()` or `operator[]` operators.  The `Tpetra::BlockMultiVector` interface should mimic the `Tpetra::MultiVector` interface with `get

[2019-01-07 08:07] mayrmt commented on #4084
@lucbv During creation of the region matrices, there's a point where I have a quasiRegion matrix, i.e. values have already been splitted and GIDs at the interface have been duplicated (but are not unique). This has to be transformed into a true region matrix, i.e. with the same entries but different row/col/range/domain maps, namely with unique maps where we replace one of each duplicated GID with

[2019-01-07 14:47] bartlettroscoe commented on #3585
This test failed again in the build `Trilinos-atdm-sems-rhel6-intel-opt-openmp` yesterday 1/6/2019 as shown [here](https://testing.sandia.gov/cdash/testDetails.php?test=63447147&build=4380521) showing:

[code]

And looking at [this query](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&date=2018-10-09&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filterco

[2019-01-07 16:33] rppawlo commented on #4119
@jewatkins - can you verify this is fixed?

[2019-01-07 17:42] jewatkins commented on #4119
Yes, it's working now. Thanks!

[2019-01-07 17:42] #4119 closed

[2019-01-07 19:21] wfspotz commented on #4143
@mhoemmen I don't see much testing of the `BlockVector` class.  Just some usage in `BlockCrsMatrix.cpp`.  How would you like to proceed with testing of the new `BlockVector` constructor?

[2019-01-07 19:41] wfspotz commented on #4143
@mhoemmen Actually, I see the following constructor:

    BlockVector (const mv_type& X_mv,
                 const map_type& meshMap,
                 const LO blockSize);

`mv_type` is a `Tpetra::MultiVector`, which should accept a `Tpetra::Vector`.  Is there any reason to believe this wouldn't work?

[2019-01-07 19:44] #4136 closed

[2019-01-07 20:51] fryeguy52 opened #4145 "Teuchos stacked timer build failure in all ATDM builds"
CC: @trilinos/teuchos, @jwillenbring (Trilinos Framework Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

## Description

As shown in [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=&filtercount=1&showfilters=1&field1=buildname&compare1=63&value1=Trilinos-atdm-) the test `TeuchosComm_stacked_timer_MPI_2` is not being run in all ATDM builds due to a b

[2019-01-07 20:58] mhoemmen commented on #4143
@wfspotz I would prefer for BlockVector's constructor to take a `Tpetra::Vector`.  That way, it has one column by construction.  The result of getVector and getVectorNonConst is a `Tpetra::Vector`, so that should be what you need.  Do you actually need this to take a MultiVector?

[2019-01-07 21:02] rppawlo commented on #4145
@fryeguy52 - the commands to reproduce don't seem to work:

[code]

[2019-01-07 21:05] fryeguy52 commented on #4145
@rppawlo - sorry about that Roger I updated the instructions above.  It should say
[code]

[2019-01-07 21:12] wfspotz commented on #4143
@mhoemmen No, I do not need it to take a `MultiVector`.

[2019-01-07 21:13] bartlettroscoe commented on #4145
CC: @rppawlo, @fryeguy52

@trilinos/framework, given that this is failing in in every ATDM Trilinos build, then how did this make it through the Trilinos PR testing?  What is different about the PR test builds from all of the ATDM Trilinos builds that allowed this build failure to slip through PR testing?  We need to figure that out so that at least one of the Trilinos PR builds.

[2019-01-07 21:16] rppawlo commented on #4145
It looks like this build either disables kokkos or kokkos profiling define (my bet is the latter).

[2019-01-07 21:20] rppawlo commented on #4145
fix is trivial. will have a PR up in a minute.

[2019-01-07 21:21] fryeguy52 commented on #4145
Thanks @rppawlo

[2019-01-07 21:22] bartlettroscoe commented on #4091
@trilinos/framework, @jhux2,

I will unpin this issue for now but this issue can stay open.  Then someone can work on this offline.

[2019-01-07 21:30] wfspotz commented on #4143
@mhoemmen The current `MultiVector` constructor throws if `getNumVectors() != 1`.

[2019-01-07 22:08] bartlettroscoe commented on #4145
@rppawlo said:

Yup, that is it.  The ATDM Trilinos configuration has `Kokkos_ENABLE_Profiling=OFF` set.  That came for the EMPIRE configuration for Trilinos.

Is there a good reason why we should not just remove that disable from the ATDM Trilinos configuration?   Seems it would be best to change a few options as we need to change from a basic configuration of Trilinos.

[2019-01-07 22:14] bartlettroscoe commented on #2464
CC: @rppawlo, @fryeguy52

@trilinos/framework,

As per https://github.com/trilinos/Trilinos/pull/4146#issuecomment-452097215 and can we make sure that this CUDA PR build getting set up on 'ride' sets:

[code]

?

That will catch issues like #4145 before they they can break ATDM Trilinos builds.

[2019-01-07 22:14] mhoemmen commented on #4145
We should enable Kokkos profiling by default.  The only cost to Kokkos profiling is that entrance and exit of parallel regions does an `if` on a function pointer to see if it's null.

[2019-01-07 22:16] mhoemmen commented on #4143
@wfspotz Cool :-) So, is the desired feature then the following?
[code]

[2019-01-07 22:31] mhoemmen commented on #2464
@bartlettroscoe Did you mean "ON CACHE BOOL"?

[2019-01-07 22:31] mhoemmen commented on #2464
Wait, why is ATDM turning off Kokkos profiling?!?

[2019-01-07 22:34] wfspotz commented on #4143
@mhoemmen Or

    BlockVector (const vec_type& X_vec, const map_type& meshMap, const LO blockSize);

[2019-01-07 22:42] bartlettroscoe commented on #2464
@mhoemmen said:

Don't know.  Need to find out from the EMPIRE developers.  Note that the current native SPARC configuration for Trilinos does **NOT** set `Kokkos_ENABLE_Profiling=OFF`.

I will create a new ATDM Trilinos GitHub issue to see about removing `Kokkos_ENABLE_Profiling=OFF` from the ATDM Trilinos configuration.

[2019-01-07 22:44] lucbv commented on #4084
@mayrmt here is an approach that will allow you to do what you want (I think):
[code]

At least something along these lines should do the trick, I have not tested this so there might be some syntax and logic to clean-up...
Let me know if that looks good?

[2019-01-07 22:47] bartlettroscoe opened #4148 "Remove Kokkos_ENABLE_Profiling=OFF from current ATDM Trilinos configuration?"
CC: @bathmatt, @micahahoward, @fryeguy52, @rppawlo, @mhoemmen

The current ATDM Trilinos configuration sets `Kokkos_ENABLE_Profiling=OFF` which was copied from the EMPIRE Trilinos configuration.  This resulted in code passing the Trilinos PR builds (which all have the default `Kokkos_ENABLE_Profiling=ON`) but failing in all of the ATDM Trilinos builds (see #4145 and #4146).

This Story is to inqui

[2019-01-07 22:50] bartlettroscoe commented on #4148
CC: @micahahoward, @fryeguy52, @mhoemmen

@bathmatt and @rppawlo,

Note that non of the native SPARC Trilinos configurations currently set `Kokkos_ENABLE_Profiling=OFF` which means that Kokkos profiling must be on by default for all SPARC builds with Trilinos.

Why does EMPIRE set `Kokkos_ENABLE_Profiling=OFF`?  Can we try removing this option and see what happens?

Removing this option will help

[2019-01-07 22:52] bartlettroscoe commented on #4091
I suspect that "pinned" issues are more useful in a smaller project with a more aligned set of development efforts.

[2019-01-07 23:06] mhoemmen commented on #4148
In particular, if there is any rumor of Kokkos profiling having too much overhead (even when not actually using a profiling library), we want to know about it, so we can fix it at the Kokkos level.  Kokkos profiling is meant to be low overhead, at least when not actively in use (i.e., when not running with a profiling library).

[2019-01-08 06:07] wfspotz commented on #4143
@mhoemmen I have a feature branch with this new constructor implemented.  It was pretty straightforward.  It is not tested, but then most `BlockVector` constructors, methods and operators are not tested.  Do you think we should implement a Tpetra test, or implement a test of the Thyra use case?

[2019-01-08 12:38] tjfulle commented on #4123
PR #4147 fixes the Cuda error in #4070 in my testing on `ride` using the ATDM environment.

[2019-01-08 13:00] mayrmt commented on #4084
@lucbv I didn't think about the `CrsMatrixWrap`. That should do the trick.

So far, I have used deep copies since I wasn't concerned with performance at all. I'll keep this in mind and address it once the Xpetra version works.

[2019-01-08 15:08] etphipp opened #4150 "Using magnitudeType for coordinates in MueLu"
@trilinos/muelu @kliegeois

MueLu developers,

I have a student, @kliegeois, working on a modification of one of Stokhos' scalar types that changes Teuchos::ScalarTraits::magnitudeType to something other than a builtin type, and we are running into many issues in MueLu, where magnitudeType is feely converted to/from double.  The issue seems to be that the interface for mesh coordinates takes vecto

[2019-01-08 15:40] lucbv commented on #4150
@etphipp, this sounds like a good suggestion. We have been slowly moving away from using the `double` type for coordinates since we quickly run into trouble when a `Scalar` is instantiated with `float`, even more so with `std::complex<float>`.

[2019-01-08 16:09] jhux2 commented on #4150
@etphipp This is a good idea, thanks for the suggestion.  Is this blocking your work at the moment, ie, what is your time frame?

[2019-01-08 16:15] etphipp commented on #4150
This is blocking @kliegeois, but he is also willing to make the necessary modifications to MueLu :)

I just wanted agreement on what the path forward was before we start down any road, since it will involve a significant number of modifications.

Is there any preference on whether this is added to Teuchos::ScalarTraits or if MueLu introduces its own type trait?  The latter makes more sense to me b

[2019-01-08 16:49] srajama1 commented on #3541
Among other things PR #3947 should fix this. Let us see.

[2019-01-08 16:56] lucbv commented on #4150
@etphipp @kliegeois there is a couple of PR trying to address this issue see #4023 and #3986, we might not have caught all the instances of conversion from `double` to `magnitudeType`...

[2019-01-08 18:42] mhoemmen commented on #4143
@wfspotz It would be nice to have a Tpetra test that constructs a BlockVector from the result of MultiVector::getVector, then gets the (Multi)Vector out of the BlockVector and makes sure the pointers are the same.  If you're too busy, though, please do the Thyra use case first.  Thanks!

[2019-01-08 18:50] csiefer2 commented on #4150
The other option would be to make "CoordinateType" a compile-time parameter, which defaults to magnitudeType<Scalar> unless you ask for something else.

[2019-01-08 20:37] etphipp commented on #4150
It looks like those have all been merged, so yes there are still plenty of cases of implicit conversions from magnitudeType to double.

[2019-01-08 20:43] etphipp commented on #4150
So you're saying you want to add another template parameter to MueLu ;)

My suggestion at this point, which we will start working on unless someone objects, is to add "coordinateType" to Teuchos::ScalarTraits and modify MueLu accordingly.  The problem I see with calling it "value_type" is it isn't really clear what it means for a given type, and therefore what it is supposed to be used for, wherea

[2019-01-08 20:46] jhux2 commented on #4150
There are a few cases where Ifpack2 takes coordinates, e.g., line detection, and the assumption appears to be that they are type double.   I doubt Amesos2 would need this.  Zoltan2 uses coordinates, but the type is determined by the template parameters used by whoever is calling Zoltan2.

I agree that adding it to Teuchos::ScalarTraits is the better option.

[2019-01-08 21:20] csiefer2 opened #4154 "Framework: Windows tests need updated cmake"
For the first time in forever, windows tests are posting to cdash.  But we've got an out-of-date cmake there.
Can we get this updated?

CMake Error at CMakeLists.txt:62 (CMAKE_MINIMUM_REQUIRED):
  CMake 3.10.0 or higher is required.  You are running version 3.8.1

[2019-01-08 21:31] mhoemmen commented on #4142
Christian assures me that it's OK to call this multiple times, but it's not OK to use anything in Kokkos after calling it the first time.

[2019-01-08 21:31] jhux2 commented on #4056
@cgcgcg Is this resolved?

[2019-01-08 21:42] bartlettroscoe commented on #4142
Constructing the local Teuchos::GlobalMPISession object should be about the first command in main() so nothing in main() should run after that object is destroyed.

[2019-01-08 22:06] mhoemmen commented on #4143
@wfspotz Could you just add this to one of the relevant .cpp files in `Trilinos/packages/tpetra/core/test/Block/`?  Thanks!

[2019-01-08 22:06] mhoemmen commented on #4154
@trilinos/framework

[2019-01-08 22:09] ibaned commented on #4142
Can I promote the use of `Kokkos::ScopeGuard` here? Could we not just make `Kokkos::ScopeGuard` a member of `Teuchos::GlobalMPISession`? It is very safe to mix with other calls to `Kokkos::initialize` and `Kokkos::finalize`. However, if we don't think `Teuchos::GlobalMPISession` should be allowed to initialize Kokkos if no one else does, then I don't think it should be allowed finalize it either.

[2019-01-08 22:17] mhoemmen commented on #4142
@ibaned If some other code calls `Kokkos::initialize` afterwards, would that still be OK?

[2019-01-08 22:22] rppawlo commented on #4142
That change would be a big help, but this means that kokkos will startup for all trilinos tests that use the teuchos unit test harness, not just the subset that specifically called initialize. We might want to run some tests on atdm platforms just to make sure there is no performance impact when run with -j8 or -j16.

[2019-01-08 22:49] kliegeois commented on #4150
I am currently working on that.

[2019-01-08 23:15] mhoemmen commented on #4150
If you add stuff to `Teuchos::ScalarTraits`, then you will break any downstream code that specializes ScalarTraits for its own type.  Why can't Xpetra or MueLu have its own traits class?  "Coordinates" are things that MueLu and maybe Zoltan2 want, not things that everybody wants.

[2019-01-09 00:21] kddevin commented on #4032
just checking; is this still an issue?  if so, please include your configuration.  Thanks!

[2019-01-09 01:06] mhoemmen commented on #4032
It's literally the wrong letter, assuming that you want to print an integer and not a `long double`.  Capital L is for `long double`.  `ll` (two lower-case ell) is for `long long`, and `l` (one lower-case ell) is for `long`.

https://en.wikipedia.org/wiki/Printf_format_string#Length_field

https://linux.die.net/man/3/printf

[2019-01-09 02:57] jhux2 commented on #4150
@mhoemmen I hadn't thought of that.  Do you know of any applications currently specializing ScalarTraits?

[2019-01-09 05:37] mhoemmen commented on #4150
I'm thinking more downstream classes, but it's certainly possible.  Anasazi and Belos have this trouble with their traits classes, though they are designed to be specialized.  Nobody ever bothered to say whether ScalarTraits was a customization point, so it's up for grabs.

[2019-01-09 16:47] mhoemmen commented on #4150
Having a single traits class with a bunch of properties in it is no longer idiomatic C++, for two reasons:

  1. Adding a trait to a traits class breaks backwards compatibility, if the traits class is a customization point (i.e., intended for downstream specialization).
  2. C++14 has templated constants.  C++17 uses them; see e.g., [`is_integral_v`](https://en.cppreference.com/w/cpp/types/is_inte

[2019-01-09 17:37] ibaned commented on #4142
@mhoemmen yes

@rppawlo I'm honestly leaning towards removing that `finalize` call in `GlobalMPISession`. It doesn't look like it belongs there at all. Programs that are relying on `GlobalMPISession` to finalize Kokkos for them should be fixed instead.

[2019-01-09 19:10] rppawlo commented on #4142
@ibaned - I agree that it's the right thing. Just worried about the work it would take. Do we have to go through every single test and example in trilinos that uses GlobalMPISession and now add a finalize? If so, that's quite a bit of work to do it correctly. If I run this on Trilinos (including Drekar and Charon):
[code]
given that half of these instances are including the header, that leaves abo

[2019-01-09 20:19] ibaned commented on #4142
Thats just the price we pay for the initial bad decision to put it in there. I also recommend we use `Kokkos::ScopeGuard`, it may be that people were using `GlobalMPISession` to solve the same lifetime issues that it solves.

[2019-01-09 20:57] fryeguy52 opened #4159 "Belos_Tpetra_HybridGMRES_hb_test_* randomly failing in many trilinos builds"
CC: @trilinos/belos, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

PR #4229 that may fix this was merged to 'develop' on 1/22/2019.  Next: Watch for any more random failures and if no new failures by 2/22/2019 then we can close ...

## Description

As shown in [this query](https://testing.sandia.gov/cdash-dev-view/queryTests.php?project=Trili

[2019-01-09 21:06] theguruat12 opened #4160 "ShyLU/Tacho: Incorrectly gets disabled when all-caps version of RDC CMake option is used"
@trilinos/framework @mhoemmen

When we use the all-caps `KOKKOS_ENABLE_CUDA_RELOCATABLE_DEVICE_CODE:BOOL=ON` instead of the CamelCase `Kokkos_ENABLE_Cuda_Relocatable_Device_Code:BOOL=ON`, Tacho doesn't get disabled, and CMake stops with the error that @bartlettroscoe set up in #2580.

## Possible Solution

Fix both `shylu/shylu_node/tacho/CMakeLists.txt` and `cmake/RepositoryDependenciesSetup.cmak

[2019-01-09 21:55] kyungjoo-kim commented on #4160
@theguruat12 I don't think that kokkos will accept the capitalized cmake option.
@crtrott Does kokkos accept capitalized cmake options ?

As the code follows kokkos cmake option, unless kokkos supports capitalized cmake options, changes only in the tacho is meaningless.

[2019-01-09 22:00] mhoemmen commented on #4160
@jhux2 The comments in CMakeCache.txt suggest that the CamelCase versions of options are meant only for backwards compatibility.  It looks like the intent is for Kokkos and thus Trilinos to support both capitalizations now, and possibly at some point to deprecate and remove the CamelCase versions.

In any case, I suggested the above solution for Sam.  Sierra needs this to work so that they can sup

[2019-01-09 22:16] kyungjoo-kim commented on #4160
@mhoemmen A problem is that ``KOKKOS_ENABLE_CUDA_RELOCATABLE_DEVICE_CODE:BOOL=ON`` does not really turn on the RDC feature in Kokkos. Without Kokkos enabling RDC, Tacho cannot be used on GPUs.

Tacho is fully dependent on Kokkos tasking. Testing the RDC option in Tacho is not meaningful as it must confirm that kokkos RDC option is indeed ON if the code works on GPUs.

I am not sure why this breaks

[2019-01-09 22:41] kyungjoo-kim commented on #4160
@theguruat12 You are right. Kokkos define capitalized cmake options and backward compatible camelcase options. This means if you define ``KOKKOS_ENABLE_CUDA_RELOCATABLE_DEVICE_CODE:BOOL=ON``, it also defines ``Kokkos_ENABLE_Cuda_Relocatable_Device_Code:BOOL=ON``. So, Tacho is definitely not disabled and this is a correct behavior.

[2019-01-09 22:43] kyungjoo-kim commented on #4160
@theguruat12 I read your first comment again. Do you want to disable Tacho with RDC ON ? or do you want to disable Tacho with RDC OFF ? If you want to disable Tacho with RDC ON, you should disable Tacho explicitly. With RDC OFF, Tacho just create a dummy library if it is not explicitly disabled.

[2019-01-09 23:06] bartlettroscoe commented on #4145
All of our CUDA builds are clean today after the merge of PR #4146.

Closing as complete.

Thanks @rppawlo !

[2019-01-09 23:06] #4145 closed

[2019-01-09 23:09] bartlettroscoe commented on #4123
Reverging PR #2464 merged to 'develop' on 12/21/2019 resolved these failures.  Closing as complete.

[2019-01-09 23:09] #4123 closed

[2019-01-09 23:48] jhux2 commented on #3306
@keitat See this [wiki](https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#waterman).  The instructions there work for me.

[2019-01-09 23:48] #3306 closed

[2019-01-09 23:52] jhux2 commented on #3547
@ikalash Could you let me know if this is still a problem?

[2019-01-10 00:42] ikalash commented on #3547
Sorry for not following up on this.  Our waterman nightlies are clean finally (http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany&subproject=IKTWatermanAlbanyCUDA&date=20190108) so it seems the problem has been resolved.  Please feel free to close.

[2019-01-10 01:14] jhux2 commented on #3547
Closing as resolved.

[2019-01-10 01:14] #3547 closed

[2019-01-10 17:22] mhoemmen commented on #4160
@kyungjoo-kim What we want is that if RDC is OFF, Tacho gets disabled.

The error message we get is the `FATAL_ERROR` in `cmake/RepositoryDependenciesSetup.cmake`.

[2019-01-10 17:41] jwillenbring commented on #4091
@jhux2 @mhoemmen @bartlettroscoe

I agree with Mark about using the README to link to Wiki pages, and with Ross about it being hard to pick specific issues to highlight for the project. I would be interested in other specific ideas concerning how to pick specific issues to highlight. This is something we can keep an eye on, but I don't see right now how to get enough value to justify the lost scre

[2019-01-10 17:41] #4091 closed

[2019-01-10 17:56] jwillenbring commented on #4154
@csiefer2

I saw some activity on this VM, and am trying to track down what changed.

[2019-01-10 18:18] bartlettroscoe commented on #4142
@ibaned, what is the harm in having Teuchos::GlobalMPISession initialize and finalize Kokkos by default?   What is the downside?  The upsides seem pretty clear.

[2019-01-10 18:21] ibaned commented on #4142
Just naming really, one wouldn't expect MPI to have anything to do with Kokkos. However if everyone is used to `GlobalMPISession` being a misnamed `Teuchos::Library` or `Teuchos::ScopeGuard`, then it should be fine for it to internally use a `Kokkos::ScopeGuard` to initialize and finalize Kokkos.

[2019-01-10 18:22] bartlettroscoe commented on #4160
The problem seems to be that if someone explicitly enables Tacho then the existing logic will error out instead of overriding that enable with a disable.  I am fine with changing the CMake code to issue a warning when Tacho is enabled but RDC is not enabled and have it force the disable of Tacho (after printing a "NOTE" about the disable).  That is actually the way I prefer in general, to have dis

[2019-01-10 18:44] mhoemmen commented on #1060
I'm closing this issue for now.  Please reopen if you have new information.  Thanks!

[2019-01-10 18:44] #1060 closed

[2019-01-10 19:00] kyungjoo-kim commented on #4160
@mhoemmen Can you give more concrete message about how dependencies went wrong  from which package ? The error does not seem to happen in Tacho's cmake file. The problem looks like simply Tacho is not disabled in your default cmake setup. If you know you don't need Tacho, why don't you just disable the package explicitly ?

[2019-01-10 19:06] srajama1 commented on #4160
I believe Tacho is enabled so it could be used with SD/SM. However, I don't know the reason for RDC is OFF, but those two are not compatible.

Aside from this issue, @crtrott Any chance we will get rid of RDC requirements for Kokkos tasking ?

[2019-01-10 19:32] bartlettroscoe commented on #4142
@ibaned said:

If we do change the name to `Teuchos::ProgramInitializerAndFinalizer`, we will have to think about how to explain the scope of that object.  (I think that s a way to initialize and finalize MPI and Kokkos as a convenience I think that is a good enough scope.)  Should we create a new Trilinos GitHub issue to propose `Teuchos::ProgramInitializerAndFinalizer` (and perhaps find a better

[2019-01-10 19:33] kddevin commented on #4032
OK; thanks.  I can make that change.  But since I am unable to reproduce the problem with my build environment, I'll need you to verify that the fix works (or to share your build info).  I'lll link in the PR when ready.

[2019-01-10 19:36] rppawlo commented on #4142
Would this also be a pathway for ctest to manage process binding masks when multiple executables are launched as part of testing?

[2019-01-10 20:07] theguruat12 commented on #4160
Error message:
{{{
Processing Project, Repository, and Package dependency files and building internal dependencies graph ...

CMake Error at cmake/RepositoryDependenciesSetup.cmake:11 (message):
  ERROR: Trilinos_ENABLE_ShyLU_NodeTacho=ON but TPL_ENABLE_CUDA='ON' AND
  Kokkos_ENABLE_Cuda_Relocatable_Device_Code='' which is not allowed!
Call Stack (most recent call first):
  cmake/tribits/core/pack

[2019-01-10 20:33] mhoemmen commented on #4142
@bartlettroscoe `Tpetra::ScopeGuard` is already a kind of façade for MPI and Kokkos initialization and finalization.  I put a lot of logic in there so that it doesn't double-initialize MPI, etc.  If you want that behavior in this Teuchos class, you could just copy and paste that code.  The one issue is that Kokkos lacks a function analogous to `MPI_Finalized`.

[2019-01-10 20:33] mhoemmen commented on #4032
@kddevin I'll be happy to test it once the PR is ready -- thanks!

[2019-01-10 20:36] bartlettroscoe commented on #4142
@mhoemmen, with a name like "ScopeGuard", I would have never guessed that was its intent.  I would have assumed that it was just a genertic template class that implements the RAII idiom.

Seems like it would be good to have a class that correctly initializes and finalizes MPI and Kokkos in Teuchos so that every Trilinos package could use it.

[2019-01-10 20:36] ibaned commented on #4142
1. `Kokkos::finalized()` is just `! Kokkos::initialized()`
2. Instead of calling `Kokkos::initialize()` and `Kokkos::finalize()`, `Tpetra::ScopeGuard` and `Teuchos::Whatchamacallit` should just contain `Kokkos::ScopeGuard` as members.

[2019-01-10 20:37] ibaned commented on #4142
@bartlettroscoe I agree the name is still up for debate. In my own code I called it `Library`, but that name was vetoed by Kokkos leadership.

[2019-01-10 20:59] bartlettroscoe commented on #2422
FYI: I think @nmhamster and @crtrott have come up with a possible strategy for addressing the problem running multiple MPI tests on the same node and GPUs at the same time and spread out and manage resources (see [TRIL-231](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-231)).  The idea is for ctest to be given an abstract model of the machine which would include set of homogeneous nodes o

[2019-01-10 21:00] bartlettroscoe commented on #4142
@rppawlo asked:

Only indirectly by calling MPI and Kokkos initialization functions.  I don't think this class should do any more than that.

FYI: I think we have a possible approach addressing that problem should not require any changes to Trilinos C++ code at all.  I tried to outline this in the new comment https://github.com/trilinos/Trilinos/issues/2422#issuecomment-453251670.  Would you be ga

[2019-01-10 22:04] mhoemmen commented on #4142
@bartlettroscoe wrote:

I had to give it the same name that Kokkos used.  I'm just glad Kokkos has such a thing :-)

[2019-01-10 22:26] ccober6 opened #4169 "Tempus: FPEs caused by use of std::numeric_limits::max()"
EMPIRE identified FPEs in Tempus when using std::numeric_limits::max() to initialize variables with a default value.

@trilinos/tempus

## Expectations

Should be able to run without FPEs.

## Possible Solution

Replace std::numeric_limits::max() with "reasonable" large default values.

[2019-01-11 00:16] mhoemmen commented on #4142
@ibaned wrote:

Right, but that means something different.  You're not allowed to call `Kokkos::initialize` twice, just like you're not allowed to call `MPI_Init` twice.

[2019-01-11 14:25] lucbv opened #4173 "MueLu: StructuredAggregation, improve prolongator graph"
@trilinos/muelu

## Expectations
The prolongator graph computed by the structured aggregation factory should be directly usable to construct the prolongator. For this to work we need to take into account how many dofs per node the problem has.

## Current Behavior
The structured aggregation factory can compute the graph of the prolongator however it does it correctly only for the scalar PDE case.

[2019-01-11 15:00] theguruat12 commented on #4160
@kyungjoo-kim I think that is backwards.  We see the error if we pass the all-caps version (-DKOKKOS_ENABLE_CUDA_RELOCATABLE_DEVICE_CODE), but if we pass CamelCase (-DKokkos_ENABLE_Relocatable_Device_Code), the error is not displayed and Tacho is turned on correctly.  Mark's comment (immediately previous to this one) is correct; both are recognized by Kokkos, but only one is properly recognized by

[2019-01-11 15:36] fryeguy52 opened #4174 "Many (50-80) Panzer tests failing on all ATDM cuda builds"
CC: @trilinos/panzer, @mperego (Trilinos Discretizations Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfi

[2019-01-11 15:48] bartlettroscoe commented on #4174
CC: @mperego, @fryeguy52, @trilinos/framework

@rppawlo, with so many test failures in every CUDA build, I have labeled this with [`ATDM Sev: Critical`](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-Specific+Trilinos+GitHub+Labels#ATDM-SpecificTrilinosGitHubLabels-LabelsforSeverity/Criticality) since this will basically blind our ability to detect new test failures (and we don't wa

[2019-01-11 15:50] rppawlo commented on #4174
I'm working on it now. Not sure how warning cleanup could have broken anything but...

[2019-01-11 16:14] rppawlo commented on #4174
PR with fix will be up in a minute.

[2019-01-11 17:19] kyungjoo-kim commented on #4160
@theguruat12 Okay. Finally I understand your problem. Thank you for being patient with me. So, the problem is Kokkos supports both cmake options and its backward compatibility (if either of all caps or camel case is defined, the other is defined). However, ``RepositoryDependenciesSetup.cmake`` is processed before kokkos cmake is processed; thus, it can only see either of them whatever is already d

[2019-01-11 18:39] krcb opened #4176 "Tempus: NaNs thrown from sqrt with Clang debug builds"
EMPIRE identified NaNs thrown in Tempus due to inconsistent usage of Scalar
type with Teuchos::ScalarTraits:squareroot.

@trilinos/tempus

## Expectations

Should be able to run without NaNs being generated.

## Possible Solution

Ensure that usage of Teuchos::ScalarTraits:squareroot occurs without generating NaNs.

[2019-01-11 20:02] rppawlo commented on #4174
Fix for this was merged this morning.

[2019-01-11 23:51] kddevin opened #4178 "Moertel: examples require exodus; fail in builds with TPL_ENABLE_Netcdf = off"
@trilinos/moertel

Two moertel examples fail to build when TPL_ENABLE_Netcdf = off (thus, SEACASExodus is disabled).  Here are the compiler errors:

[code]
I think the CMakeLists.txt files for these examples need guards that disable them when SEACASExodus is OFF.

## Motivation and Context
I am trying to reproduce nightly tests on a system without netcdf.
This issue does not block my work; I will

[2019-01-12 00:59] bartlettroscoe commented on #2689
I completed implementation of the `CTEST_DO_INSTALL` option for `TRIBITS_CTEST_DRIVER()` in the TriBITS 'master' commit https://github.com/TriBITSPub/TriBITS/commit/adbf3c11f154d5b308fcc7e0188588892de6c488.  I added strong local automated tests to make sure this works and also catches and reports install failures.  I also did a trial submit of the install failure from the bad command:

[code]

in

[2019-01-12 03:56] kliegeois commented on #4150
I guess that we can close it. #4168

[2019-01-12 03:56] #4150 closed

[2019-01-14 15:15] mperego commented on #4174
@bartlettroscoe can we close this issue?

[2019-01-14 16:12] srajama1 commented on #3541
Can someone please check if this is still failing ?

[2019-01-14 17:08] bartlettroscoe commented on #3541
https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4409660

[2019-01-14 17:09] bartlettroscoe commented on #3541
Actually more errors than before.  And we are getting a bunch of failures on 'white':

* https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4410122

Don't know why.

[2019-01-14 17:42] rhoope opened #4183 "Need a shallow swap method for Teuchos Serial Dense Vector"
Teuchos: Mike Eldred has need of a shallow swap method for performance related to Dakota multilevel algorithms.  He also identified some additional performance gains by not tallying flop metrics when these are not used.

@trilinos/teuchos

enhancement
## Expectations

I will submit a pull request for candidate changes to address this issue.
## Current Behavior

## Motivation and Context

## Defini

[2019-01-14 20:40] jhux2 commented on #4183
@trilinos/teuchos

[2019-01-14 22:19] mhoemmen opened #4186 "Tpetra: BlockCrsMatrix packAndPrepareNew build error with complex enabled"
I’ll fix it. Am typing on a phone.

@trilinos/tpetra @kyungjoo-kim

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible Solution

## Steps to Reproduce

## Your Environment

- **Relevant repo SHA1s:**
- **Relevant configure flags or configure script:**
- **Operating system and version:**
- **Compiler and TPL versions:**

## Related Issues

* Blocks
*

[2019-01-14 23:31] jhux2 opened #4190 "Enable Kokkos profiling cmake options by default in ATDM configurations"
I would like to request that the two options
[code]
be added to the various ATDM cmake configurations.  These are required to get useful information from the Kokkos profiling tools.  These are currently set to `OFF` by the ATDM configuration script (at least on waterman).

This means that after I do
[code]
I also have to remember to enable both options in my configure script.

From what I understa

[2019-01-15 00:32] mhoemmen commented on #4190
These options should be enabled by default — why does ATDM turn them off?

[2019-01-15 05:29] lucbv opened #4191 "Xpetra: CrsMatrix::isFillComplete() logic is wrong"
@trilinos/xpetra

## Expectations
`Xpetra::CrsMatrix` should behave as `Tpetra::CrsMatrix`.

## Current Behavior
When constructing an `Xpetra::CrsMatrix` with a fill completed `CrsGraph`, the matrix is automatically fill completed.

## Motivation and Context
This discrepancy leads to unexpected behavior with the `Xpetra::CrsMatrix`

## Definition of Done
`Xpetra::CrsMatrix` and `Tpetra::CrsMatrix`

[2019-01-15 09:49] mayrmt opened #4193 "MueLu: add local values in regionalToComposite manually"
@trilinos/muelu

## Expectations
Replace current use of `Epetra_CombineMode Epetra_AddLocalAlso` in the MueLu HHG driver by an implementation that performs the local adds manually when transforming a region matrix back to a composite matrix.

## Current Behavior
In the HHG driver's routine `regionToComposite()`, we rely on the `Epetra_CombineMode Epetra_AddLocalAlso` to not only add values accross

[2019-01-15 10:36] mayrmt commented on #3846
Has been addressed in #3947. Closing.

[2019-01-15 10:36] #3846 closed

[2019-01-15 12:30] rppawlo commented on #4190
Last week we cleaned up the interaction between the StackedTimer and kokkos profiling (#4119). StackedTimers and TimeMonitors all feed into kokkos profiling. All panzer, EMPIRE and Drekar tests were passing with profiling on. So this should hopefully be a simple configure change.

[2019-01-15 12:37] bartlettroscoe commented on #4190
Is this issue not a duplicate of #4148?  Can we close this issue as a duplicate and communicate in #4148?

[2019-01-15 12:40] bartlettroscoe commented on #4148
In https://github.com/trilinos/Trilinos/issues/4190#issuecomment-454376271 @rppawlo said:

So we have  EMPIRE approval to remove the option `Kokkos_ENABLE_Profiling=ON` from the ATDM Trilinos configuration?

[2019-01-15 12:41] bartlettroscoe commented on #4190
Closed as duplicate of #4148.

[2019-01-15 12:41] #4190 closed

[2019-01-15 15:30] rppawlo commented on #4148
yes - we have approval.

[2019-01-15 15:41] rppawlo commented on #3914
@bartlettroscoe - can we close this? Were the rol tests disabled or were they fixed with the intel compiler upgrade?

[2019-01-15 15:43] rppawlo commented on #3543
@dridzal  and @bartlettroscoe - what is the status on this ticket?

[2019-01-15 15:49] mhoemmen commented on #4148
@rrdrake

[2019-01-15 16:39] bartlettroscoe commented on #3914
No, the tests are still failing in the build `Trilinos-atdm-cee-rhel6_intel-18.0.2_mpich2-3.2_openmp_static_opt` shown, for example, yesterday shown here:

* https://testing.sandia.gov/cdash-dev-view/viewTest.php?onlyfailed&buildid=4409860

The next action is to true updated intel-18.0.5 on the CEE RHEL6 machines.  But before we can do that, we need to stop using SPARC modules (see https://sems-at

[2019-01-15 16:45] bartlettroscoe commented on #3914
FYI: I updated the link in the "Current Status" section above.

[2019-01-15 16:59] bartlettroscoe commented on #4148
I added this to our out [WIP backlog](https://snl-wiki.sandia.gov/pages/viewpage.action?pageId=341516978).

[2019-01-15 17:00] bartlettroscoe commented on #3941
FYI: I added this to our out [WIP backlog](https://snl-wiki.sandia.gov/pages/viewpage.action?pageId=341516978).

[2019-01-15 18:46] mhoemmen opened #4194 "Amesos2 tests don't build with ETI OFF"
@trilinos/amesos2

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible Solution

## Steps to Reproduce

## Your Environment

- **Relevant repo SHA1s:**
- **Relevant configure flags or configure script:**
- **Operating system and version:**
- **Compiler and TPL versions:**

## Related Issues

* Blocks
* Is blocked by
* Follows
* Precedes
* Related to

[2019-01-15 18:47] mhoemmen commented on #4194
My web browser is giving me trouble, so I can't edit the above right now.  I am working on a fix.  I will paste bug details in comments below.

[2019-01-15 18:50] mhoemmen commented on #4194
Here is how I replicated the build errors first noticed by Sierra in their attempts to build with Trilinos' native CMake-based build system.  I first applied the fixes from earlier (see Trilinos PR #4187) to develop.  Then, I configured Trilinos with the following settings:

  - Turned OFF ETI (`Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=OFF`)
  - Enabled SuperLU TPL
  - Enabled complex<double> (

[2019-01-15 18:57] mhoemmen commented on #4194
@rrdrake @theguruat12 #4194 blocks Sierra from using Trilinos' native CMake-based build system.  My PR #4195 should help fix that.

[2019-01-15 20:53] bobbielf2 commented on #3900
@jrobcary Try use `git clone https://github.com/trilinos/Trilinos.git` instead?

[2019-01-15 21:00] mhoemmen opened #4196 "Trilinos (Tpetra & downstream) no longer build with Scalar=complex<float>"
@trilinos/tpetra @trilinos/amesos2

I found this out when testing Amesos2.  See e.g., #4194.

## Current Behavior

Tpetra and downstream classes do not build with `Scalar=complex<float>`.  I get errors of the form discussed here: https://github.com/kokkos/kokkos/issues/1964 .  The case `Scalar=Kokkos::complex<double>` still works, because it uses a different overload of these Kokkos functions that

[2019-01-15 22:04] kddevin commented on #2426
Can addition of complex scalar types to at least some of the PR builds be made a high priority?
We have a growing number of users of complex scalars, and are seeing repeated issues from not including this in PR testing.
Thanks!
@jwillenbring @william76 @bartlettroscoe @trilinos/framework

[2019-01-15 22:05] #3445 closed

[2019-01-15 22:07] jmgate commented on #2426
This just bit Charon again earlier this week.

[2019-01-15 22:08] jwillenbring commented on #2426
@kddevin

@ZUUL42 - let's talk about this Monday at the standup. Please bring it up as a parking lot.

@mhoemmen - could you list exactly the option(s) this will require? Do all packages use the same complex option?

[2019-01-15 22:40] bartlettroscoe commented on #2426
Adding `Trilinos_ENABLE_COMPLEX_DOUBLE=ON` should be done for one of the GCC PR builds but not all of the builds (and not the Intel build which is the current bottle-neck in build times).  We need to have at least one PR build with complex disabled because having the code work with complex enabled does not guarantee that it will work with complex disabled and there are critical customers (e.g. SPA

[2019-01-16 00:04] bartlettroscoe commented on #4159
FYI: This test just failed in the standard post-push GCC 4.8.4 CI build shown [here just now](https://testing-vm.sandia.gov/cdash/testDetails.php?test=64268334&build=4415847).

[2019-01-16 00:04] mhoemmen commented on #2426
- Salinas developers are the only ones who need complex.  They claim that they likely only use `complex<double>`, not `complex<float>`.  @crdohrm can clarify exactly what Trilinos packages Salinas uses with complex numbers.
  - @theguruat12 is currently testing the Sierra build with various Trilinos complex options.
  - @kddevin A newer GCC version would likely build faster with complex enabled.

[2019-01-16 00:09] mhoemmen commented on #4196
- I polled Salinas developers; they report that they almost certainly do not need `complex<float>`.
  - Salinas does actually _use_ `complex<double>`, but @crdohrm could say whether Salinas uses any Trilinos features that depend on this being enabled in Trilinos.
  - @theguruat12 is currently testing Sierra with various combinations of Trilinos complex options.

[2019-01-16 00:18] mhoemmen commented on #3445
@theguruat12 FYI

[2019-01-16 00:25] mhoemmen opened #4199 "Tpetra: CrsMatrix NonlocalAfterResume test fails"
@trilinos/tpetra @kddevin

I'm working on a fix for this.

## Current Behavior

`Tpetra::CrsMatrix`'s "NonlocalAfterResume" test is failing for me, on GCC 4.9.3 with OpenMPI 1.10.1 and OpenMP enabled.  It looks like something is attempting to create a `Teuchos::ArrayView` with nonnull pointer and zero length.  `Teuchos::ArrayView`'s constructor forbids this in debug mode.

## Motivation and Contex

[2019-01-16 00:30] kddevin commented on #1909
@trilinos/framework Just checking whether this issue can be addressed for our SNL users.  Thanks.

[2019-01-16 01:03] mhoemmen commented on #4059
@theguruat12 Here is the context for `Trilinos_ENABLE_COMPLEX_DOUBLE`.

[2019-01-16 02:37] jrobcary commented on #3900
I found that this works:

`wget https://github.com/trilinos/Trilinos/archive/trilinos-release-12-12-1.zip`

after which I do

`unzip trilinos-release-12-12-1.zip`
`mv Trilinos-trilinos-release-12-12-1 trilinos-12.12.1`
`env COPYFILE_DISABLE=true tar cJf trilinos-12.12.1.tar.xz trilinos-12.12.1`

to get a tarball with the standard naming.

[2019-01-16 03:50] bartlettroscoe opened #4201 "Set Trilinos_ENABLE_DEBUG=ON for all 'debug' ATDM Trilinos bulds"
CC: @fryeguy52, @rppawlo, @mhoemmen

In the current ATDM Trilinos 'debug' configurations, only the options `Kokkos_ENABLE_Debug_Bounds_Check=ON` and `KOKKOS_ENABLE_DEBUG=ON` are getting set.  That leaves a lot of runtime debug-mode checking that is built into Trilinos turned off.  It would be much better to set `Trilinos_ENABLE_DEBUG=ON`.  That enables a lot of this extra runtime debug-mode checki

[2019-01-16 05:00] mhoemmen commented on #4201
Doesn’t that get set by default in a debug build?

[2019-01-16 05:02] mhoemmen commented on #3900
That tarballs is at least three years old btw. Current accepted practice is to follow master.

[2019-01-16 06:59] #4186 closed

[2019-01-16 09:05] mayrmt opened #4202 "Xpetra: Is there an equivalent to Epetra's ReplaceDiagonalValues()?"
@trilinos/xpetra
@lucbv

In Epetra, the diagonal of a matrix can be replaced by `Epetra_CrsMatrix::ReplaceDiagonalValues()`. Is there an equivalent routine in Xpetra?

I know how to extract a copy of the diagonal via `Xpetra::Matrix::getLocalDiagCopy()`, but I couldn't find a mechanism to specifically replace the diagonal.

I can think of a workaround using `Xpetra::Matrix::replaceLocalValues()` w

[2019-01-16 13:45] jmgate commented on #3900
@jrobcary, have you added a public SSH key to your GitHub account?  If not, can you try `git clone https://github.com/trilinos/Trilinos` and see if you have better luck there?

[2019-01-16 13:47] bartlettroscoe commented on #4201
@mhoemmen said:

Not for the current ATDM Trilinos configuration (initially copied from the EMPIRE Trilinos configuration).  See the file [ATDMDevEnvSettings.cmake](https://github.com/trilinos/Trilinos/blob/c7c06b7a0a46de09d1a6476c8dfcb5e1b6025e5e/cmake/std/atdm/ATDMDevEnvSettings.cmake#L203).

[2019-01-16 14:59] lucbv commented on #4202
@mayrmt, looking at the documentation for `Tpetra::CrsMatrix`, it looks like you can get a copy of the diagonal but I did not find a method to set the diagonal. This would explain why the functionality is not offered in `Xpetra`.
Of course we could write a wrapper in `Xpetra` that implements it for the `Tpetra` case but I am not sure that it makes too much sense to do so.
@csiefer2 do you have an

[2019-01-16 15:31] seamill opened #4205 "Panzer: Cleanup of Workset interface"
## Motivation and Context

Currently the workset is more or less a massive storage container for everything we require, and much of it is stored in structure form (direct access to class members). The goal of this update is to add a function interface to access these calls, and to strip everything out of worksets that isn't required.

The main reason for doing so is to allow for on-demand allocati

[2019-01-16 15:52] hkthorn commented on #3900
I'm just going to point out that Xyce still requires Trilinos 12.12.1 and has not upgraded to newer versions of Trilinos because of the C++11 issues on COE machines that still linger.  So, I understand the response that users should be interacting with more recent versions or the master branch of Trilinos.  However, there may be cause for them to need Trilinos 12.12.1, so keep that in mind.

[2019-01-16 15:53] csiefer2 commented on #4202
It would make more sense to just implement it in Tpetra and then wrap  both in Xpetra.

@mayrmt How soon do you need this?

[2019-01-16 16:04] eric-c-cyr commented on #4205
There is a lot here. Be very careful.

1. The alpha, beta, and gather_seeds are used to control the automatic differentiation. These are heavily utilized. The gather_seeds are really important in the optimization capability, which needs to continue to function. Please, build and test with Hessians on.
1. The "details" interface is to handle a boundary condition that behaves a lot like DG. This als

[2019-01-16 16:05] eric-c-cyr commented on #4205
State number is required for runge kutta and some stuff that I suspect drekar wants to do.

[2019-01-16 16:36] jmgate commented on #4205
@seamill, I think you win the award from longest issue description in Trilinos.  Be sure you break this into sub-issues and submit bite-size PRs such that we can review and understand the changes.

[2019-01-16 16:49] jrobcary commented on #3900
Similar to @hkthorn, as deliverers of endpoint software, facing problems with builds, validation, provenance, etc., we like to work from a particular release that has been tested in the field and that we have appropriately patched to work in all of our build environments.  So I hope that the "work from master" idea does not mean that trilinos will no longer have numbered releases.  ????

(Cloning

[2019-01-16 17:41] mhoemmen commented on #4201
Wow, that's weird.  OK, I'm glad you're fixing this.

[2019-01-16 17:41] mhoemmen commented on #4186
@rrdrake @theguruat12 This is now fixed in master.

[2019-01-16 17:44] mhoemmen commented on #3900
@maherou is ultimately responsible for deciding (or not deciding, in this case) on the release schedule.  If you want regular releases, talk to him, and to @trilinos/framework.

[2019-01-16 17:45] mhoemmen commented on #4199
@rrdrake @theguruat12 This is fixed in develop, but not yet in master.  The develop-to-master merge happens almost every day.

[2019-01-16 17:46] mhoemmen commented on #4202
Y'all are gonna do this in the slowest way possible, I'm sure.  Check out how I wrote the "get copy of diagonal using known offsets" code in Tpetra.  It's not a hard kernel to write.

[2019-01-16 17:51] mhoemmen commented on #4196
@dsunder is working on a fix in Kokkos.  See discussion here: https://github.com/kokkos/kokkos/issues/1964 .  For now, I plan on just submitting fixes to Tpetra's tests (e.g., `42.0*z` doesn't compile if `z` is `complex<float>`; that breaks some tests).  I don't want code to compile unless I know that it works, so I'd rather not submit the compilation work-around for now.

[2019-01-16 18:21] hakonhagland opened #4206 "cmake: RegularExpression::compile(): Error in compile."
I am trying to build trilinos on Ubuntu 18.10 (CMake version 3.12.1, GCC version 8.2.0)
[code]

This fails with
[code]

[2019-01-16 18:40] wfspotz commented on #4206
@hakonhagland I cannot see any reason why

    "^/home/hakon/Trilinos/packages/PyTrilinos/src"

would not compile as a regular expression.

@bartlettroscoe do you see anything here that might be an issue?

[2019-01-16 18:50] seamill commented on #4205
@eric-c-cyr What do you advise then? I can have function calls to handle the alpha/beta stuff, though I'll probably throw it all in a separate struct - I assume this stuff is only required in Drekar/Charon. What code uses the WorksetDetails interface? Also do we want to switch to what we have for DG to fix this? We should probably talk about that in person.

@jmgate Agreed, this is more an overvie

[2019-01-16 18:53] eric-c-cyr commented on #4205
Charon requires this. I think that would be difficult to do. If you want, there is an example in panzer that protects this capability (not remembering which at the moment).

[2019-01-16 19:21] seamill commented on #4205
Aye, I think the deprecation flags may stick around for a while, but we're going to want to tackle this stuff sooner than later. I think the priority changes are just the BasisValues/PointValues/etc. stuff (and their associated descriptors) which are the primary cause for the the memory consumption on the workset side.

Since neither Charon or Drekar use descriptors, they will be slow to update. I

[2019-01-16 19:32] hakonhagland commented on #4206
@wfspotz According to `packages/PyTrilinos/cmake/UseSWIG.cmake:196` the offending test is:
[code]

shouldn't the first argument to `IF` be quoted? So like this:
[code]

[2019-01-16 19:43] wfspotz commented on #4206
I believe the syntax is correct as long as `${swig_source_file_path}` is not empty, which it should be.

However, you could test it, if you like.  Be sure to make the same changes to the `IF`, `ELSE` and `ENDIF` statements.

[2019-01-16 20:01] hakonhagland commented on #4206
I think I found the problem, see

[CMake don’t work when there are certain characters in build directory name](https://gitlab.kitware.com/cmake/cmake/issues/16207)

So I installed `Trilinos` in a folder name with special characters (I am sorry I removed that part of the folder name from the output in my report, but I believed it was not of relevance).

Now I tried again, first installing in `/home

[2019-01-16 20:17] wfspotz commented on #4206
I had Googled a similar post as well, but didn't see any regex characters in the file path.

What I saw suggested using `STREQUALS` instead of `MATCHES` and getting rid of the `^` symbol.  If you test it and it works, we can put in a pull request.

[2019-01-16 20:36] crdohrm commented on #4196
Hi guys, Salinas uses Tpetra with complex matrices for frequency domain analyses.

[2019-01-16 20:36] crdohrm commented on #4196
Oops, hit the wrong button. Will Reopen and comment.

[2019-01-16 21:06] hakonhagland commented on #4206
Ok using `STREQUALS` seems to solve a problem, but there are other errors after changing
`packages/PyTrilinos/cmake/UseSWIG.cmake:196` from
[code]
to
[code]

For example there are a lot of errors coming from another cmake file: `cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake`. These errors are on the form:

[code]

In my opinion the real problem is not `MATCHES` function but the `++` in

[2019-01-16 21:41] mhoemmen commented on #4196
@crdohrm wrote:

`complex<double>`, `complex<float>`, or both?

Answer carefully -- every Scalar type you want adds to the build time.

[2019-01-16 22:00] crdohrm commented on #4196
Looks like we only use complex<double> for Tpetra

[2019-01-16 22:04] hkthorn commented on #4128
This has been addressed by commit 55f3eb0.  Marking closed.

[2019-01-16 22:04] #4128 closed

[2019-01-16 22:12] wfspotz commented on #4206
I have no doubt that having `++` in the file path is the problem.  The `+` symbol is a regular expression character that means "one or more of the previous characters".  `++` is illegal regular expression syntax.  `MATCHES` is regular expression matching, while `STREQUALS` uses string comparison.  So it all makes sense.

I hadn't seen this before, which means it does not seem to come up that often

[2019-01-16 22:39] rppawlo commented on #4205
@seamill - another thing to think about is how to break up the worksets. We could allocate the entire array for an mpi process and then use subviews to split up the worksets. Might result in slower code with subviews though. We'd have to experiment with this. Would also like to think about more efficient  indexing of LIDs with DOF manager. Right now we have to build an LID list in certain evaluato

[2019-01-16 22:53] theguruat12 commented on #4196
I show build errors both with Trilinos_ENABLE_COMPLEX=OFF (which I expect based on @crdohrm's responses).

Building with Trilinos_ENABLE_COMPLEX_DOUBLE=ON causes the previously discussed (with @mhoemmen) issues with UMFPACK built without complex support.

[2019-01-16 23:02] crdohrm commented on #4196
Sorry about that. Only complex<float> for Tpetra.

[2019-01-16 23:05] crdohrm commented on #4196
Looks like the text inside <> gets omitted in my comments.

What I meant to say is that we only use Tpetra with complex double. We do not use Tpetra with complex float. Sorry for the confusion.

[2019-01-16 23:49] mhoemmen commented on #4196
Thanks @crdohrm !

Best practice is to enclose code-like text in backquotes.  For example: `complex<double>`.

[2019-01-16 23:50] mhoemmen commented on #4196
@rrdrake @theguruat12 @trilinos/framework Please note Clark's comments above.

[2019-01-17 00:47] jhux2 commented on #4202
:turtle:

:turtle:

[2019-01-17 05:37] jwillenbring commented on #2426
@mhoemmen @kddevin

Do [these results](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=4420045) look reasonable? If so, we would need to clean up these issues prior to making the change. If not, please advise as to how the build should be modified.

[2019-01-17 08:00] mayrmt opened #4208 "ShyLu/FROSch: improve run-time error in case of missing packages"
@trilinos/shylu
@searhein

## Expectations
Provide a more meaningful error message in case that a certain (optional) Trilinos package has been chosen as subdomain solver, but is not included into the build configuration.

## Current Behavior
I'm attempting to use MueLu as coarse solver for FROSch's GDSW preconditioner. This requires the cmake option `-D ShyLU_DDFROSch_ENABLE_MueLu:BOOL=ON`. Howeve

[2019-01-17 11:03] hakonhagland opened #4210 "PyTrilinos build: error: ‘class Domi::MDMap’ has no member named ‘getTpetraMap’"
I am trying to build trilinos on Ubuntu 18.10 (CMake version 3.12.1, GCC version 8.2.0)

[code]
This compiled for a long time (over an hour) and when almost finished:

[code]

I looked at issue #3687 and tried to disable `Tpetra` by adding `cmake` option
[code]
when I rerun `cmake` with this option I get:

[code]

[2019-01-17 15:22] csiefer2 commented on #4202
If you want to take a crack at it, @mhoemmen or I could certainly check it over.

[2019-01-17 16:08] mhoemmen commented on #2426
@jwillenbring Yes, we should clean up these issues before making the change.

[2019-01-17 16:09] mhoemmen commented on #2426
@trilinos/tpetra @trilinos/muelu Hey, the tests are broken with complex enabled.

@kyungjoo-kim would you happen to know anything about that complex dot product?

[2019-01-17 16:13] mhoemmen commented on #4202
Please make it a free function, not a member function :-)

[2019-01-17 16:33] mhoemmen commented on #4210
@wfspotz @trilinos/pytrilinos

[2019-01-17 16:34] mhoemmen commented on #3823
Wow, we never actually fixed this.  @trilinos/tpetra @kddevin

Does kokkos-kernels not test complex?
https://github.com/kokkos/kokkos-kernels/issues/360

[2019-01-17 17:11] mhoemmen commented on #3823
I know the likely cause and how to fix this:

https://github.com/kokkos/kokkos-kernels/issues/360#issuecomment-455251898

[2019-01-17 17:23] mhoemmen commented on #2426
I'm pretty sure I know what's wrong with the complex BLAS dot product in kokkos-kernels:

https://github.com/kokkos/kokkos-kernels/issues/360#issuecomment-455251898

We fixed this in Teuchos quite a while ago.  I'm pretty sure that the same solution would apply.

[2019-01-17 17:33] mhoemmen commented on #3823
@ndellingwood Does kokkos-kernels actually test the value of the complex dot product?

[2019-01-17 17:39] wfspotz commented on #4210
There is a `getTpetraMap` method in `Domi::MDMap`, but it is protected with a `HAVE_TPETRA` macro.  It looks like PyTrilinos is not setting this macro properly within the Domi python extension, although I test this and haven't had problems before.  I am trying to reproduce it now.

[2019-01-17 17:43] ndellingwood commented on #3823
@mhoemmen kokkos-kernels tests the value of the complex dot product. Two views are initialized with random values, and the dot result is compared with the serialized result computed on the host. There is an error tolerance used in the comparison since sum is not associative for floating point types in a parallel reduction.

[2019-01-17 17:52] mayrmt commented on #4202
@mhoemmen Do you mean to write a function `Tpetra::replaceCrsMatrixLocalDiagonal(matrix, diagVector)` that takes the matrix `matrix` and a vector `diagVector` with the new diagonal values as input argument and internally does some `replaceLocalValues()` to actually set the values? Could you point me to an example, that I can get some inspiration from?

Finally, just for my education: Why should th

[2019-01-17 18:01] mhoemmen commented on #3823
@ndellingwood Should we close this issue then? https://github.com/kokkos/kokkos-kernels/issues/360  I mean the promotion broke Trilinos, so something is wrong.

[2019-01-17 18:06] ndellingwood commented on #3823
@mhoemmen I would keep this issue open to keep the issue visible until a fix is in Trilinos, but I'll defer to your judgement on the best practice for tracking/reporting when fixed.

[2019-01-17 18:16] mhoemmen commented on #3823
"Should we close this issue" was a rhetorical question, whose answer is "no" ;-)

[2019-01-17 18:22] mhoemmen commented on #4202
@mayrmt wrote:

See Scott Meyers, "Effective C++", 3rd edition, Item 23: "Prefer non-member non-friend functions to member functions."

1. If you _can_ implement this using the public interface of CrsMatrix, then you _should_.  Otherwise, you're violating encapsulation by introducing yet another pass-through.

2. Less code in `Tpetra_CrsMatrix_def.hpp` means shorter build times.

3. Separate imple

[2019-01-17 18:32] mhoemmen commented on #4202
@mayrmt See also http://www.drdobbs.com/cpp/how-non-member-functions-improve-encapsu/184401197 .

[2019-01-17 20:18] kddevin opened #4211 "Zoltan2 coordinateModelPartBox should store doubles, not scalar_t"
@trilinos/zoltan2

## Expectations
coordinateModelPartBox is used for storing bounding box info for the parts in a geometric partition.  These boxes can be searched, then, for pointAssign and boxAssign functionality for, say, contact detection or particle methods.  One would expect the union of the boxes to cover the entire geometric domain given to the partitioner.

## Current Behavior

Currently

[2019-01-17 20:40] kddevin opened #4212 "Zoltan2: MJ does not work with integer coordinates"
@trilinos/zoltan2   @MicheldeMessieres

## Expectations
MJ should function when users provide scalar_t = int coordinates (e.g., (i.,j) indices of matrix entries) to be partitioned.

## Current Behavior

MJ requires scalar_t = float or double.  MJ uses the users' scalar_t as the data type for cuts and ratios.  When scalar_t = int, MJ segfaults with division by zero or hangs, due to truncation of di

[2019-01-18 10:58] mayrmt commented on #4202
@mhoemmen I looked at `tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_*.hpp` and deduced the following steps:
- Add files `tpetra/core/src/Tpetra_Details_replaceDiagWithoutOffsets_*.hpp` that contain the actual implementation as a free function.
- Add member function `replaceDiag(const Vector<>& newDiagValues)` to `Tpetra::CrsMatrix` that internally calls the free function "details" impl

[2019-01-18 17:47] #4169 closed

[2019-01-18 18:05] srajama1 commented on #3647
@ndellingwood is looking at this

[2019-01-18 18:24] mhoemmen commented on #4202
@mayrmt If the function is called `replaceDiag`, I would call the header file "replaceDiag" to match.  It would make sense for replaceDiag at some point to get an overload that takes the offsets, in which case it wouldn't make sense to put the function in a header file with "without offsets" in its name.  Otherwise, this is a good plan; thanks!

[2019-01-19 07:24] #4194 closed, assigned to mhoemmen

[2019-01-19 07:24] #4199 closed, assigned to mhoemmen

[2019-01-19 16:38] rrdrake commented on #3869
This issue can be closed.  Nate Crane fixed it by modifying the link libraries somehow.

[2019-01-19 16:44] rrdrake commented on #2155
This is no longer an issue.

[2019-01-19 16:44] #2155 closed

[2019-01-19 17:13] bartlettroscoe commented on #3869
@rrdrake said:

Excellent!  Closing.

[2019-01-19 17:13] #3869 closed

[2019-01-19 20:08] bartlettroscoe opened #4219 "Elevate ShyLU_Node from ST to PT since it is being used by SPARC?"
**CC:** @trilinos/framework, @trilinos/shylu, @srajama1 (Trilinos Linear Solvers Product Area Lead)

**Blocking:** #2597

## Description

The current SPARC Trilinos configuration explicitly enables `ShyLU_Node` subpackage `ShyLU_NodeHTS` (see [here](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-212?focusedCommentId=25503&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpane

[2019-01-19 20:10] bartlettroscoe commented on #2597
FYI: First specific enable needed is given in #4219.

[2019-01-19 21:40] lucbv commented on #4173
PR #4179 has resolved this issue

[2019-01-19 21:40] #4173 closed

[2019-01-19 21:44] lucbv commented on #3179
PR #4170 provides the final testing for the interpolation base prolongator for both piece-wise constant and piece-wise linear interpolation. It also checks that single and multiple dofs/node implementations are correct.

[2019-01-19 21:44] #3179 closed

[2019-01-19 22:41] mhoemmen commented on #4219
@rrdrake @theguruat12 Doesn't @crdohrm use Tacho?

[2019-01-20 16:38] khpierson opened #4220 "Minitensor produces compiler warnings with nvidia compiler"
There are a number of warnings coming from the Trilinos package: MiniTensor.
The Sierra team would like these removed by the next Trilinos integration.
Would that be possible?

Thanks,
-Kendall

Here is a list of some of the warnings, note, I would expect Trilinos to already be seeing these warnings when building with nvidia (provided our compiler flags are the same across SIERRA and Trilinos.

/s

[2019-01-20 18:04] mhoemmen commented on #4220
@khpierson These look pretty easy to fix -- I think we just need to delete unnecessary `break` statements.

@lxmota , are you still working on MiniTensor?

[2019-01-21 02:43] bartlettroscoe opened #4221 "SPARC source build error from Tpetra_Experimental_BlockCrsMatrix_decl.hpp -Werror for shadowing warning with Clang 5.0.1 build"
CC: @trilinos/tpetra, @kddevin  (Trilinos Data Services Product Lead), @mhoemmen, @bartlettroscoe, @fryeguy52, @micahahoward, @sebrowne

## Next Action Status

<status-and-or-first-action>

## Description

As of the Trilinos 'develop' version 882d842b73dc475291b1e2945a9ba532577e2f1d, the Clang 5.0.1 build of SPARC (using the `cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt` build of Trilino

[2019-01-21 02:46] bartlettroscoe commented on #4221
CC: @trilinos/tpetra, @kddevin, @mhoemmen , @micahahoward

If SPARC were to try to update Trilinos right now, then this error would block that update.  Not sure if there are other errors that would also block this update as well.

@mhoemmen, given that you do some SPARC development, could you try to reproduce this build error with SPARC 'master' + Trilinos 'develop' given the "Steps to Reproduce"

[2019-01-21 02:59] mhoemmen commented on #4221
@bartlettroscoe I suspect this is caused by https://github.com/trilinos/Trilinos/pull/4162 .  Clang has a different set of warnings than GCC.  Does SPARC require `-Werror` with Clang in order to accept a new Trilinos update?

[2019-01-21 14:02] crdohrm commented on #4219
Yes, Sierra-SD has an option to use Tacho as a sparse solver inside the GDSW domain decomposition solver.

[2019-01-21 14:37] bartlettroscoe commented on #4219
The ShyLU_NodeTacho subpackage is already declared as `PT` (Primary Tested) and therefore is already included in Trilinos PR testing.

[2019-01-21 16:32] mhoemmen commented on #4221
@bartlettroscoe This is probably a question for @micahahoward .  We do want to fix all the build warnings, but it's helpful to know whether this actually blocks Trilinos promotion for SPARC.

@kyungjoo-kim -- not sure if you have time to fix this.  If not, just let me know and I'll do it.

[2019-01-21 16:38] kyungjoo-kim commented on #4221
Do I need to compile sparc to reproduce this warning error ? Or does the warning pop up without sparc if I put -Woverloaded-virtual with a clang compiler ? I can try today and let @mhoemmen know if I can reproduce the warning from trilinos.

[2019-01-21 16:50] mhoemmen commented on #4221
@kyungjoo-kim Huh, this looks weird.  It looks like one of the DualView arguments to `packAndPrepareNew` and `unpackAndCombineNew` in BlockCrsMatrix has the wrong type.  (It should be `packet_type`, not `impl_scalar_type`.)  That could be bad -- it could mean that DistObject doesn't call the right methods.

[2019-01-21 17:13] bartlettroscoe commented on #4221
@kyungjoo-kim asked:

The Trilinos build `Trilinos-atdm-cee-rhel6_clang-5.0.1_openmpi-1.10.2_serial_static_opt` itself as shown [here](https://testing.sandia.gov/cdash-dev-view/buildSummary.php?buildid=4434288) this morning does not show any warnings.  But these are release-mode builds (i.e. `Trilinos_ENABLE_DEVELOPMENT_MODE=OFF`) that don't set any extra warnings.   These warnings are enabled in

[2019-01-21 17:21] bartlettroscoe commented on #4221
Following the instructions [here](https://github.com/trilinos/Trilinos/blob/develop/cmake/std/atdm/README.md#cee-rhel6-environment), you may be able to reproduce these warnings with the Trilinos build on any CEE RHEL6 machine as:

[code]

If that reproduces the issue, we should consider adding those compiler flags to these 'cee-rhel6' builds.

We still need to work out how SPARC and Trilinos inter

[2019-01-21 17:53] kyungjoo-kim commented on #4221
@bartlettroscoe Could you explain me what testbed machine is equivalent to CEE RHEL6 machine (I don't know what CEE stands for) ?

[2019-01-21 17:57] mhoemmen opened #4225 "Tpetra: ImportExport2_UnitTest & FixedHashTable tests fail in debug mode; Teuchos::ArrayView ctor issue"
@trilinos/tpetra @trilinos/teuchos @bartlettroscoe @ibaned

Some Tpetra tests have been failing in debug mode.  For example, FixedHashTable's test fails.  `Teuchos::ArrayView`'s constructor that takes a pointer and a length throws, because the length is zero but the pointer is nonnull.  When I stop `ArrayView`'s constructor from throwing, the test passes just fine.

This is a bit of a problem, bec

[2019-01-21 18:03] bartlettroscoe commented on #4225
@mhoemmen, I believe there is a good bit of code in Trilinos that relies on `Teuchos::ArrayView::getRawPtr()` (and `Teuchos::ArrayView::get()`) to return `nullptr` when the size is 0.

Can't we just write a conversion function (or update an existing conversion function) that converts between `Kokkos::View` to `Teuchos::ArrayView` to set the pointer to `nullptr` when passing in a zero size?  I thin

[2019-01-21 18:04] bartlettroscoe commented on #4221
@kyungjoo-kim, I don't there there is any SON equivalent to the CEE RHEL6 machines.  SEMS does not have a Clang 5.0.1 compiler so we can't expect to reproduce this on a standard SRN COE RHEL6 machine with the SEMS env.  We really need SEMS to install clang-5.0.1 and then we should be able to reproduce such issues on SON machines.

[2019-01-21 18:09] mhoemmen commented on #4056
@cgcgcg @jhux2 I'm investigating whether this is related to #4225.

[2019-01-21 18:15] mhoemmen commented on #4225
@bartlettroscoe wrote:

I'm doing this right now.  The problem is that developers have to remember to use this function.  It's yet another thing they have to remember, and it's hard enough already to keep Trilinos developers from going bonkers with all the things they need to remember.

Sure, just call me :-)

[2019-01-21 18:48] mhoemmen commented on #4056
Thanks @cgcgcg !  I have renamed this issue accordingly.

[2019-01-21 20:28] #4116 closed, assigned to nobody

[2019-01-21 20:33] bartlettroscoe commented on #3930
FYI: The major failures submitting to CDash are mostly gone.  It looks like there still are some problems but we have other issues to address these:

* https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-237: Investigate jenkins-srn.sandia.gov build crashes (still may be seeing a few of these every so often)
* https://gitlab.kitware.com/snl/project-1/issues/79: Investigate why submitted ctest X

[2019-01-21 20:33] #3930 closed

[2019-01-21 21:01] fryeguy52 commented on #4174
Closing this issue. Shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercombine=and&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilinos-atdm&field2=buildname&compare2=63&value2=cuda) the tests are passing again.  Thanks @rppawlo

[2019-01-21 21:01] #4174 closed

[2019-01-21 21:08] ambrad commented on #4219
IMO, switch HTS to PT. It has strong tests both in HTS and Ifpack2. It is intended to (and if SPARC is sufficient evidence, does) pass -Werror builds. It works in serial, OpenMP, MPI, Cuda builds (but does not run on GPU). The tests are short running (modulo the usual thread issues in the tests), and the build is fast, so there is not much cost to CI.

If you decide to switch HTS to PT and you enc

[2019-01-21 21:50] bartlettroscoe commented on #4219
@ambrad, does that mean we should put in an auto-disable for `The ShyLU_NodeHTS` when doing a CUDA build?

[2019-01-21 21:53] ambrad commented on #4219
If it messes up the Cuda build or testing, then yes, and I'll let you know when I have fixed that. Otherwise, it's intended to build, and the tests are intended to run, even in a Cuda build. (Cuda builds still imply code, possibly substantial bits of it, can run on the host.) The last time I looked, it built and ran cleanly everywhere.

[2019-01-22 00:34] mhoemmen commented on #4225
@kddevin @trilinos/tpetra `Tpetra_ImportExport2_UnitTests` was failing for the same reason, namely `Teuchos::ArrayView`'s constructor throwing if it gets a nonnull pointer and a zero length.

@bartlettroscoe points out that some Trilinos code may rely on `Teuchos::ArrayView` to have a null pointer if its length is zero.  However, that is a different issue.  ArrayView's constructor could perfectly

[2019-01-22 00:50] mhoemmen commented on #4225
I added a PR to work around ArrayView's debug checking in a way that makes Tpetra's tests pass for me:

https://github.com/trilinos/Trilinos/pull/4233

It's likely that downstream code will still create `Teuchos::ArrayView` from `std::vector` or `Kokkos::View`, though.

[2019-01-22 00:52] mhoemmen opened #4234 "Teuchos::ArrayView constructor should set its pointer to null if input pointer is nonnull but length is zero"
@trilinos/teuchos @trilinos/tpetra @kddevin @jhux2 @csiefer2

See #4225 discussion.

## Expectations

It should be trivial to create a Teuchos::ArrayView from an std::vector or (host) Kokkos::View.  Users should not have to test whether the pointer is null if the length is zero.

## Related Issues

* Related to #4225

[2019-01-22 00:52] mhoemmen commented on #4225
@bartlettroscoe See #4234.  My plan is to fix ArrayView's constructor so that it sets its pointer to null if the input pointer is nonnull but the input length is zero.  If you have any objections, please feel free to voice them at #4234.  Thanks!

[2019-01-22 00:54] bartlettroscoe commented on #4225
@mhoemmen, I guess I am not apposed to changing the pre-conditions and post-conditions for `Teuchos::ArrayView::ArrayView(T* ptr, Ordinal size)` to allow `ptr!=nullptr` when `size==0` and then to discard `ptr` in this case.  Technically that use case was invalid so if we make it valid, I don't think we can break backward compatibility (unless some code relies on the exception to be thrown but it o

[2019-01-22 00:58] bartlettroscoe commented on #4234
@mhoemmen, I guess I am not apposed to changing the pre-conditions and post-conditions for `Teuchos::ArrayView::ArrayView(T* ptr, Ordinal size)` to allow `ptr!=nullptr` when `size==0` and then to discard `ptr` in this case.  Technically that use case was invalid so if we make it valid, I don't think we can break backward compatibility (unless some code relies on the exception to be thrown but it o

[2019-01-22 01:54] jhux2 commented on #4220
@mhoemmen Another way to get rid of this warning is to use the Teuchos macro `TEUCHOS_NONREACHABLE_RETURN`.  (But your way is faster!)

[2019-01-22 04:33] ikalash opened #4235 "Albany builld broken due to missing KokkosKernels_FortranMangling.h header"
Here is the error:
[code]
You can see more details on the Albany dashboard, e.g., http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=80609

[2019-01-22 04:33] ikalash commented on #4235
@trilinos/kokkos-kernels

[2019-01-22 10:09] mayrmt commented on #4208
@searhein What's a central place to add utilities to FROSch? Is `frosch/src/tools/FROSch_Tools_*.hpp` the right place? I would add a routine along the lines of
[code]

[2019-01-22 10:46] searhein commented on #4208
@mayrmt, you are right. Currently, we collect all kinds of utilities in `frosch/src/tools/FROSch_Tools_*.hpp`
At some point, we will have to split it into multiple files. For now, you can put all kinds of utilities there. Thanks!

[2019-01-22 11:30] searhein commented on #3541
@bartlettroscoe I just merged PR #4204. How can I check if this resolved (part of) the errors? Thanks!

[2019-01-22 13:16] spdomin commented on #4235
Same with Nalu..

I opened an issue under: https://github.com/kokkos/kokkos-kernels/issues/372

[2019-01-22 13:18] rppawlo opened #4237 "kokkos-kernels: now requires fortran to configure"
A change to kokkos-kernels last week now makes the package require fortran. This has brought down testing suite for Drekar that use the type2 stack but does not enable fortran. We are trying to avoid requiring users to have to use the kitware hacked ninja to get fortran support. Was this dependency change intended?

[2019-01-22 14:06] rppawlo commented on #4237
@mhoemmen - #4228 also broke all empire builds since they disable fortran as well.

@jmgate

[2019-01-22 14:14] jmgate commented on #4237
Yup.  If a fix is imminent, that'd be great.  Otherwise I'll look into backing out that merge commit in our fork.

[2019-01-22 14:33] bartlettroscoe opened #4238 "Disable Fortran in one of the Trilinos PR builds"
CC: @trilinos/framework, @mhoemmen, @rppawlo, @bathmatt, @jmgate, @fryeguy52

There are several projects that disable Fortran when building Trilinos.  Currently, the EMPIRE ATDM Trilinos configuration disables Fortran.  (But that will chance once we fully merge the SPARC and EMPIRE ATDM Trilinos configurations since the SPARC configuration enables Fortran.)  The Drekar developers disable Fortran i

[2019-01-22 14:35] bartlettroscoe commented on #4238
CC: @fryeguy52

@mhoemmen, I added this since it looks like PR #4228 that you merged yesterday broke all of the EMPIRE ATDM Trilinos builds shown [here](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2019-01-22&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-).

[2019-01-22 14:39] bartlettroscoe commented on #4238
@trilinos/framework, it seems like a good candidate Trilinos PR build to set `Trilinos_ENABLE_Fortran=OFF` would be the build `Trilinos_pullrequest_gcc_4.9.3_SERIAL`.  It seems like someone who would want to an MPI-less build of Trilinos might also want to not have to have a working version of Fortran either.

[2019-01-22 15:25] Multimath opened #4240 "Licensing of ML package is unclear"
Hi,

The licensing for the ML package is unclear. At the top of the COPYRIGHT file it claims to be licensed under the LGPL, but afterwards there is a section starting at:

https://github.com/trilinos/Trilinos/blob/4f15e6fb356295d8ba1e022e94d8b0bad732e082/packages/ml/COPYRIGHT#L82

which states: "Commercialization of this product is prohibited without notifying the
Department of Energy (DOE) or San

[2019-01-22 15:30] rppawlo commented on #4235
also related: #4237

[2019-01-22 15:40] Multimath commented on #4240
Another comment on the licensing: if the license is LGPL, why does the default build build seem to build a static library for this package? Wouldn't it be more logical to default to a dynamic library?

[2019-01-22 16:09] mhoemmen commented on #4237
Huh, well, I guess PR testing doesn't exercise this case.  Let me revert the changes for now.  It should be easy for me to fix.

[2019-01-22 16:09] mhoemmen commented on #4235
Huh, well, I guess PR testing doesn't exercise this case. Let me revert the changes for now. It should be easy for me to fix.

[2019-01-22 16:19] rppawlo commented on #4237
Thanks @mhoemmen !

[2019-01-22 16:24] mhoemmen commented on #4235
Other kokkos-kernels developers: These changes were a patch to Trilinos. I was about to add them to the kokkos-kernels repo as well, but these build errors show that we also need to test with Fortran disabled. Thus, these changes are not in the kokkos-kernels repo; they are only in the Trilinos repo, in develop. I have a Trilinos PR open (#4241) to revert the changes.

I think I know what to do to

[2019-01-22 16:51] bartlettroscoe opened #4242 "EMPIRE ATDM Trilinos builds broken that have Fortran disabled starting 1/22/2018"
CC: @trilinos/framework, @jwillenbring  (Trilinos Framework Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

<status-and-or-first-action>

## Description

As shown in [this query](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&date=2019-01-22&filtercount=1&showfilters=1&field1=buildname&compare1=65&value1=Trilinos-atdm-) all of the ATDM Trilinos builds that

[2019-01-22 16:55] bartlettroscoe commented on #4242
CC: @fryeguy52, @mhoemmen

This is being address in PR #4228 which reverts PR #4228.

Just created this issue to make sure we log this with other ATDM Trilinos issues.

[2019-01-22 17:15] mhoemmen commented on #4242
Correction: PR #4241 reverts PR #4228 :-)

@ibaned suggests that this might still be an issue with Fortran enabled, if the generated header file doesn't get installed.

[2019-01-22 17:25] jhux2 commented on #4240
@jwillenbring is probably the right person to address this issue.
@trilinos/framework

[2019-01-22 17:30] bartlettroscoe commented on #3541
@searhein, I added the new standard section "Current Status on CDash" [above](https://github.com/trilinos/Trilinos/issues/3541#issue-365960768) with a link that you can click at any time to see the current and recent status of `ShyLU_DD`.  All new ATDM Trilinos GitHub issues will have that section so that Trilinos developers can check CDash whenever they want.  If you click that link later tomorro

[2019-01-22 17:57] mhoemmen commented on #4234
Thanks @bartlettroscoe !

Just to clarify for other readers: The main reason for this proposed change, is that neither `std::vector` nor `Kokkos::View` promise that their pointer (result of `.data()`) is null when their length is zero.  Thus, the logical way of creating an ArrayView from either of these objects might throw, only in debug mode (`Teuchos_ENABLE_DEBUG`).  Furthermore, many developers

[2019-01-22 18:39] ibaned commented on #4234
There is a reason `malloc(0) != nullptr` on many platforms. A memory allocator creates an allocation with associated overhead metadata, which is a very real and memory-consuming thing, there just happens to be no space for user's data. Likewise with subviews, they are a range [begin(), end()), just because the span of that range is zero does not mean that the endpoints have to both be at zero. If

[2019-01-22 18:42] mhoemmen commented on #4234
@bartlettroscoe wrote:

Regardless of the possible value, the [C++ Standard](http://eel.is/c++draft/vector.data) says nothing about the result of `.data()` on an empty`std::vector`.  (An empty range is a valid range.)  The gloss is that [it could return nonnull](https://en.cppreference.com/w/cpp/container/vector/data).

Suppose that you create an empty vector.  Nothing in the Standard says that an

[2019-01-22 18:53] mhoemmen commented on #4238
Thanks @bartlettroscoe ; this would be super helpful :D

[2019-01-22 18:55] mhoemmen commented on #4238
That's a good idea.  Most of the Fortran issues relate to TPLs and binding to non-MPI functions.

[2019-01-22 19:58] jwillenbring commented on #4238
@bartlettroscoe @mhoemmen

This seems like a reasonable thing to do. It seems unlikely that we would have many cases where a serial no fortran build would pass, when a serial build with fortran would fail. I have fired off a build to help us look at the current situation more closely.

[2019-01-22 20:05] bartlettroscoe commented on #4238
Right.  Most of the Fortran/no-Fortran logic in Trilinos has nothing to do with MPI, it is all serial code.

Thanks!

[2019-01-22 20:21] bartlettroscoe commented on #4234
@mhoemmen,

That is the problem with C++, it is always speed over safety.  But in this case, we are talking about a single if statement to construct the view.  There are no if statements in using a view's functions in a non-debug-mode build.

For any functions on array of data to be efficient, you have to have a pretty big chunks of data so the small O(1) overhead of constructing a view would be n

[2019-01-22 20:34] mhoemmen commented on #4225
@kddevin @trilinos/tpetra

I just merged a Tpetra work-around into develop.

[2019-01-22 21:36] crtrott commented on #4234
`Kokkos::View` has a header which is located right now at `view.data()-128bytes`. `view.data()!=null` indicates you got a non-default initialized view for that matter. As mentioned above it also matches the semantics of C++ containers with regards to data and length. So I vote very strongly for relaxing that restriction in ArrayView. Either change the semantics of its data pointer or make the conv

[2019-01-22 21:45] bartlettroscoe commented on #4234
@mhoemmen said:

@crtrott said:

I am okay with relaxing the preconditions to allow `ptr!=nullptr` when `size==0` but we have to maintain the post-condition that when `size==0` then `this->getRawData()==nullptr`.  Therefore, `(data = (size!=0)?ptr:null)` is the way to go.

You can always loosen pre-conditions or tighten post-conditions and maintain backward compatibility but you can't tighten pre-

[2019-01-22 21:49] crtrott commented on #4234
Ok lets do that then 👍
Who volunteers?

[2019-01-22 22:31] mhoemmen commented on #4234
Thanks @bartlettroscoe ! :-D  I agree that we should maintain the invariant that `Teuchos::ArrayView` always has a null pointer if its size is zero.

I'll be happy to try it out, unless Ross or somebody else wants to.  If it turns out that this breaks downstream code, though, I would revert the change and put it off in favor of a more comprehensive approach (that fixes downstream code to use direc

[2019-01-22 22:35] bartlettroscoe commented on #4234
@mhoemmen said:

@mhoemmen, there is about zero chance of this breaking downstream code.  Again, the suggested change loosens the pre-conditions without impacting post-conditions so the only impact should be the need to update a couple of Teuchos unit tests that actually trigger the exception in a debug-mode build.

If you would be willing to implement this I can review.

Thanks!

[2019-01-22 22:40] jwillenbring commented on #4238
@bartlettroscoe @mhoemmen @trilinos/kokkos-kernels

I ran the SERIAL PR build with Fortran disabled (and no other changes) and got the configure error:
``
CMake Error at /projects/sems/install/rhel7-x86_64/sems/utility/cmake/3.10.3/share/cmake-3.10/Modules/FortranCInterface.cmake:205 (message):
  FortranCInterface requires the Fortran language to be enabled.
Call Stack (most recent call first):

[2019-01-22 22:49] bartlettroscoe commented on #4238
@jwillenbring said:

That is error got onto 'develop' that we are trying to avoid but adding `Trilinos_ENABLE_Fortran=OFF` to this PR build :-)  See #4242 and #4241.  Please rebsae your branch on top of 'develop' and it should work now.

[2019-01-23 03:17] bartlettroscoe opened #4244 "Zoltan2 test build errors in all ATDM Trilinos CUDA builds starting 1/22/2019"
CC: @trilinos/zoltan2, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

<Checklist>
<???: Once GitHub Issue is created, add entries for tests to TrilinosATDMStatus/*.csv files>

## Next Action Status

<status-and-or-first-action>

## Description

The build of several Zoltan2 test object files and executables are broken in the ATDM Trilinos CUDA builds starting 1/22/2018

[2019-01-23 03:22] bartlettroscoe commented on #4244
FYI: I changed this to [`ATDM Sev: Critical`](https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM/ATDM-Specific+Trilinos+GitHub+Labels#ATDM-SpecificTrilinosGitHubLabels-LabelsforSeverity/Criticality) because this takes out 35 Zoltan2 tests on all CUDA builds.  This should be fixed ASAP or backed out since we now have zero CUDA testing on those 35 Zoltan2 tests.

[2019-01-23 03:42] bartlettroscoe commented on #4159
PR #4229 that may fix this was merged to 'develop' on 1/22/2019.  Next: Watch for any more random failures and if no new failures by 2/22/2019 then we can close ...

Putting in review.

[2019-01-23 15:01] jwillenbring commented on #4238
@bartlettroscoe @mhoemmen

After rebasing, things [look much better](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4445043). This build ran only 3 fewer tests than [the one with fortran enabled](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=4444674) for comparison (although this build was not rebased, it was using develop from earlier in the day - I di

[2019-01-23 15:45] bartlettroscoe commented on #4238
@jwillenbring, this looks good and what one would expect.  Let us know once this update gets merged.

Thanks!

[2019-01-23 15:47] bartlettroscoe commented on #4238
@trilinos/framework, it just occurred to met that it would be good to document the set of Trilinos PR builds and what each of them vary to make it clear that if you were to drop off this GCC SERIAL PR build, you loose testing with Fortran disabled, for example.  The same goes for testing with complex enabled, with OpenMP enabled, etc.  A small table on the Trilinos GitHub wiki would do the trick.

[2019-01-23 16:05] #4237 closed

[2019-01-23 16:44] ikalash opened #4246 "Zoltan2 missing file leading to Albany build failures"
Looks like Trilinos broke the Albany nightly builds again.  Here is the error:
[code]
Please see our dashboard for more info, e.g., http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=80648 .

[2019-01-23 16:46] ikalash commented on #4246
@trilinos/zoltan2

[2019-01-23 17:01] mhoemmen commented on #4244
Looks like this broke Albany too: https://github.com/trilinos/Trilinos/issues/4246

[2019-01-23 17:02] mhoemmen commented on #4246
Looks like this broke ATDM too: https://github.com/trilinos/Trilinos/issues/4244

[2019-01-23 18:47] mhoemmen commented on #4234
@bartlettroscoe I think `Teuchos::arcp` does the analogous debug-mode check.  For example, I fixed some other crashing tests in Tpetra by changing how `Kokkos::View`-to-`Teuchos::ArrayRCP` conversion works.  I don't think we need to change `arcp`'s behavior, though, since it's not such a good idea to use a primarily owning idiom (ArrayRCP) for a nonowning view.

[2019-01-23 18:56] mhoemmen opened #4249 "Teuchos: Kokkos::Compat::persistingView must not call Teuchos::arcp with nonnull pointer and zero length"
@trilinos/teuchos @trilinos/tpetra @trilinos/kokkos

`Kokkos::Compat::persistingView` passes the `Kokkos::View`'s pointer directly to `Teuchos::arcp` (nonmember "constructor" for `Teuchos::ArrayRCP`).  `Kokkos::View`, just like `std::vector`, permits a nonnull pointer with a zero size.  `Teuchos::ArrayRCP` does not; its constructor throws when bounds checking is enabled (a configure-time option).

[2019-01-23 19:04] mhoemmen commented on #4234
Note that the provided `ArrayView(std::vector<T>&)` and `ArrayView(const std::vector<T>&)` conversion functions already make `ptr_` null if the input `std::vector` is empty.

[2019-01-23 19:06] mhoemmen commented on #4234
The nonmember "constructor" `Teuchos::arrayView` already checks if the input size is zero.

[2019-01-23 19:14] mhoemmen opened #4250 "TeuchosKokkosCompat: Test fails to build"
@trilinos/teuchos @trilinos/kokkos @trilinos/tpetra

A test in TeuchosKokkosCompat fails to build.  I get a few errors like the following:
[code]

## Related Issues
* Blocks #4249, #4234

[2019-01-23 19:19] fryeguy52 opened #4251 "ROL test timing out on ATDM intel-18 mpich build"
CC: @trilinos/rol, @rppawlo (Trilinos Nonlinear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

## Description

As shown in [this query](https://testing.sandia.gov/cdash-dev-view/queryTests.php?project=Trilinos&date=2018-10-09&filtercount=4&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Trilinos-atdm-cee-rhel6_intel-18.0.2_mpich2-3.2_openmp_static_op

[2019-01-23 19:55] dridzal commented on #4251
@fryeguy52 @trilinos/rol
This test runs in **8 seconds** on my machine with SEMS rhel6_gcc-6.1.0.  Is there a different ATDM build that we could compare to?  I suspect an Intel compiler issue.

[2019-01-23 20:12] mhoemmen commented on #4234
PR: https://github.com/trilinos/Trilinos/pull/4253

[2019-01-23 20:13] mhoemmen commented on #3823
PR: https://github.com/trilinos/Trilinos/pull/4253

[2019-01-23 20:30] bartlettroscoe commented on #4234
@mhoemmen, thanks for looking into this.

I am wondering if GitHub issue overhead could be avoided by just creating a single GitHub issue with a title like "Teuchos Memory Management view classes should require null input pointers for zero size" and then have that cover all of this?

[2019-01-23 20:39] bartlettroscoe commented on #4244
CC: @trilinos/zoltan, @trilinos/framework

@kddevin,

As this is triggering O(200) failing and notrun tests, can we back out the PR #1533 that is causing these?  Otherwise, I think we need to disable all of these tests in all CUDA builds since we can't see new failures due to this many failing tests and I don't want to add O(200) known failing tests to out `*.csv` files for our Python CDash analys

[2019-01-23 20:42] MicheldeMessieres commented on #4244
@bartlettroscoe I've just setup PR  #4252 which should clear this up. It is all passing on white.

[2019-01-23 20:44] bartlettroscoe commented on #4244
@MicheldeMessieres, great!  Please let use know once it merges.

[2019-01-23 21:54] jwillenbring opened #4254 "Teuchos errors in Werror build"
@trilinos/teuchos
@bartlettroscoe @hkthorn @mhoemmen

## Expectations

Teuchos should build warning free as a matter of code quality, and because of important customer requirements.  We are currently using the following cxxflags for this build:

`-Wall -ansi -pedantic -Werror -Wno-unknown-pragmas -Wno-narrowing -Wno-pragmas -Wno-delete-non-virtual-dtor`

## Current Behavior

Currently Teuchos has

[2019-01-23 21:55] mhoemmen commented on #4234
@bartlettroscoe wrote:

I think it makes sense to keep `ArrayView` separate from `ArrayRCP`.  Creating an `ArrayRCP` with a nonnull pointer and a zero length is more likely to be user error.  On the other hand, even `malloc(0)` may return nonnull: https://en.cppreference.com/w/c/memory/malloc

[2019-01-23 22:20] jwillenbring commented on #4238
@bartlettroscoe

I updated the [existing PR testing page](https://github.com/trilinos/Trilinos/wiki/Pull-Request-Testing-Interface). This should be at least a start of what you are looking for.

[2019-01-23 22:20] mhoemmen commented on #4254
[code]
Teuchos requires C++11; we decided that a while back.  It looks like we're somehow not giving GCC 7.2 the right flags to tell it that we want C++11.

[2019-01-23 22:36] srajama1 commented on #3541
I don't think @searhein has access to the CDash links. I will check tomorrow and let you know.

[2019-01-23 22:38] bartlettroscoe commented on #4254
That is strange because `-std=c++11` is in the compiler command-line list such as shown [here](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=4448361) showing:

`"/projects/sems/install/rhel6-x86_64/sems/compiler/gcc/7.2.0/openmpi/1.10.1/bin/mpicxx" ... "-pedantic" "-Wall" "-Wno-long-long" "-Wwrite-strings" "-Wshadow" "-Woverloaded-virtual" "-g" "-std=c++11" "-ansi" "-Werror" "-Wno-un

[2019-01-23 22:39] bartlettroscoe commented on #3541
@srajama1 said:

The `testing.sandia.gov/cdash/` site is completely open to the internet.

[2019-01-23 22:42] mhoemmen commented on #4254
@bartlettroscoe @jwillenbring It's actually a problem with `-ansi`, not with `-Werror`.  Check out this example, that's perfectly valid C++11:

https://godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(j:1,lang:c%2B%2B,source:'%23include+%3Ciostream%3E%0A%0Aclass+Foo+%7B%0Apublic:%0A++Foo+()+%3D+default%3B%0A++template%3Cclass...+Size%3E%0A++explicit+Foo+(Size...+sizes)+%7B%7D%0A%0A++constexpr+int+thing

[2019-01-23 22:43] mhoemmen commented on #4254
btw, godbolt.org is THE BEST :D

[2019-01-23 22:46] srajama1 commented on #3541
@bartlettroscoe Thanks ! I didn't know that.

[2019-01-23 22:47] bartlettroscoe commented on #3541
FYI: The build today shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4447521) shows the ShyLU_DD build errors gone but there are still 3 failing tests shown [here](https://testing.sandia.gov/cdash-dev-view/viewTest.php?onlyfailed&buildid=4447559).

[2019-01-23 22:47] jwillenbring commented on #4254
@bartlettroscoe @mhoemmen

Thanks guys. I was confused by this with Kokkos previously too. I am going to verify that the set of flags I am using is still current.

[2019-01-23 22:50] srajama1 commented on #3991
@pwxy Can you please check if this is fixed ?

[2019-01-23 22:50] bartlettroscoe commented on #4254
Perhaps it is time to remove '-ansi'?  Why would '-ansi' trigger an error like this?

[2019-01-23 22:50] mhoemmen commented on #4254
@rrdrake @theguruat12 @micahahoward It looks like GCC 7.2's `-ansi` flag is broken?

[2019-01-23 22:52] mhoemmen commented on #4254
https://gcc.gnu.org/onlinedocs/gcc-8.2.0/gcc/C-Dialect-Options.html#C-Dialect-Options

"In C mode, this [the `-ansi` flag] is equivalent to `-std=c90`. In C++ mode, it is equivalent to `-std=c++98`."

[2019-01-23 22:53] mhoemmen commented on #4254
So, the flag is not broken, it's just not what we want any more ;-)

[2019-01-23 22:55] mhoemmen commented on #4254
The `-pedantic` option (without `-ansi`) works fine with both GCC 7.2 and GCC 8.2.

[2019-01-23 22:57] srajama1 commented on #3897
For a CDash newbie, the link above doesn't work to check if these tests are passing now. I am not able to understand all the fields in the CDash query in the link to modify them correctly.

[2019-01-23 23:02] bartlettroscoe commented on #4159
@hkthorn,

FYI, this test failed today in the build `Trilinos-atdm-chama-intel-opt-openmp` shown [here](https://testing.sandia.gov/cdash/testDetails.php?test=65006954&build=4447868).

Looks like this may not be fixed yet.  Removing the "in review" label ...

[2019-01-23 23:55] jhux2 commented on #3897
Try [this link](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=6&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=Trilin

[2019-01-24 00:49] bartlettroscoe commented on #4238
@jwillenbring said:

Thanks!  I added a bullet that the GCC 4.8.4 actually enables OpenMP (which is more than just including the pthread TPL).

[2019-01-24 01:03] bartlettroscoe commented on #3897
@srajama1 said:

@srajama1, the link under the section "Current Status on CDash" [above](https://github.com/trilinos/Trilinos/issues/3897#issue-382327373) worked fine for me.  But note that most of those errors involve crashing tests due to a problem with a compute node on 'white' ('white25', see [TRIL-253](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-253)).  The others were from a probl

[2019-01-24 11:41] searhein commented on #3541
@bartlettroscoe Thank you, for adding the section "Current Status on CDash". This is really helpful for working on the errors. I hope my last PR fixed some more of the errors.

[2019-01-24 14:55] bartlettroscoe commented on #3541
CC: @fryeguy52

@searhein and @srajama1,

Looks like ShyLU_DD is not 100% clean in the build `Trilinos-atdm-white-ride-cuda-9.2-gnu-7.2.0-release-debug-pt` shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4451742) this morning.

Closing this issue as complete!

[2019-01-24 14:55] #3541 closed

[2019-01-24 14:59] bartlettroscoe commented on #2464
CC: @srajama1

@trilinos/framework, please make sure the new CUDA PR build on 'ride' enables the ShyLU_DD package.  As of today, it should be 100% clean in that CUDA 9.2 build on 'ride' (see #3541).  We need the CUDA PR build to protect the ShyLU_DD packages's CUDA build.

[2019-01-24 17:47] dridzal commented on #4251
@jmgate @bartlettroscoe
There are many tests in ROL that take 10-20 times longer when I run
  `  ctest -jN`
where N is pretty much any number larger than 1 (2, 4, 8, 16), compared to simply running
  `  ctest`
I have no idea how to "fix" this.  What I find very strange is that there seems to be an attempt to count MPI ranks for each batch of tests, but that results in bad performance.  For example

[2019-01-24 17:53] fryeguy52 opened #4257 "TpetraCore_BlockCrsMatrix_MPI_4 failing in ATDM cuda builds"
CC: @trilinos/tpetra, @kddevin (Trilinos Data Services Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status

With the merge of PR #4307 on to 'develop' on 2/4/2018, the test `TpetraCore_BlockCrsMatrix_MPI_4` seems to be passing in all of the ATDM Trilinos builds on 2/5/2018.  Next: Get PR #4326 merged which re-enables this test in the Trilinos CUDA PR build ...

## Description

As sho

[2019-01-24 17:58] kyungjoo-kim commented on #4257
@fryeguy52 I will look at this problem today.

[2019-01-24 18:07] rhoope opened #4258 "Remove deprecated inheritance of SerialDense matrices from Object"
Teuchos: Mike Eldred is using SerialDenseMatrix objects for his work in Dakota and found relatively large memory bloat associated with inherited string data from the Object base class, eg labels.  He also found side benefits associated with not inherting the Object operator<< method.

This is a follow on to Issue #4183 and essentially seeks to pull the trigger on the deprecation from 2014 in the O

[2019-01-24 18:52] jhux2 commented on #4258
@trilinos/teuchos

[2019-01-24 19:35] bartlettroscoe commented on #4251
@dridzal, we can try backing off the parallel level some more but running the tests in that build is already consuming almost 2.5 hours as shown [here](https://testing.sandia.gov/cdash-dev-view/index.php?project=Trilinos&parentid=4451880) today.

We are just going to need to disable some of these timing out tests in builds like thisnow until Kitware can implement a solution as part of #2422 (but t

[2019-01-24 19:49] dridzal commented on #4251
Ok.  I just wish that there was some mechanism to periodically re-enable all the tests to see if things have improved on these platforms.  How is a developer supposed to know when to re-enable the tests?

[2019-01-24 20:08] jmgate commented on #4251
@bathmatt suggested today that I try adding `hwloc_base_binding_policy = none` to the file `~/.openmpi/mca-params.conf` to help with some similarly long test times.  Perhaps that might be of some value here?

[2019-01-24 20:41] mhoemmen commented on #4258
Yay for modern C++ idioms!

[2019-01-24 20:42] kddevin commented on #4244
@MicheldeMessieres Thanks for fixing this issue so quickly (less than 18 hours after report).  The fix is already merged.

[2019-01-24 20:47] kyungjoo-kim commented on #4257
@fryeguy52 I followed the instruction to reproduce the error but I could not reproduce it on white. Could you double check if you can reproduce it ? I use
[code]

This is output from white.
[code]

[2019-01-24 21:16] fryeguy52 opened #4260 "Belos tests timing out on ATDM intel-18 mpich build"
CC: @trilinos/belos, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in the links below the tests:
* [Belos_rcg_hb_MPI_4](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&

[2019-01-24 21:32] fryeguy52 opened #4262 "MueLu tests timing out randomly on ATDM intel18 mpich build"
CC: @trilinos/muelu, @srajama1 (Trilinos Linear Solvers Product Lead), @bartlettroscoe, @fryeguy52

## Next Action Status
<status-and-or-first-action>

## Description

As shown in the lonks below the tests:
* [MueLu_UnitTestsTpetra_MPI_4](https://testing.sandia.gov/cdash/queryTests.php?project=Trilinos&filtercombine=and&filtercombine=&filtercombine=and&filtercombine=and&filtercombine=and&filtercom

[2019-01-24 21:45] fryeguy52 commented on #4257
@kyungjoo-kim Thanks for looking into this.  I will try and reproduce and watch what it does tonight in testing.

[2019-01-24 22:54] ikalash commented on #4235
Just to follow up: this issue has been resolved within Albany.

[2019-01-24 23:09] kyungjoo-kim commented on #4257
I pull again and test it but I cannot reproduce the error with a commit 3ea64d1.

[2019-01-24 23:13] bartlettroscoe commented on #4257
@kyungjoo-kim said:

Let's wait and see if @fryeguy52 can reproduce this on 'white' in his own account and go from there.

[2019-01-24 23:14] ZUUL42 commented on #2426
I noticed the associated PR for a few fixes, #4253 , was merged in. So, I kicked off another build with complex doubles enabled.
Here are [the updated results](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=4453517). Looks like there are still a few issues that remain.

[2019-01-24 23:43] srajama1 commented on #2270
@tjfulle : Did this issue get resolved, just checking. Thanks !

[2019-01-24 23:50] bartlettroscoe commented on #4251
@dridzal, in the (hopefully not too distant) future, we will be able to leave these tests running and mark them as "okay_to_fail=1" (don't trigger global FAIL if test does not pass) and "randomy_failing=2" (don't list them in analysis email if they pass) and then they will not impact global pass/fail for our APP customer-specific CDash analysis and reporting tool and will not clutter up our summar

[2019-01-24 23:54] bartgol commented on #2008
@etphipp pinging on this issue. We are experiencing this problem in Albany as well, where we have something like
[code]

The FPE is thrown with a Fad that has val=0, and dx(i)=0 for all i. Now, the `if_then_else` logic should simply return 0. However, it still throws, and I _think_ it is because the constructor of f from the expression on the rhs calls `dx(i)` on the rhs, whose implementation (via

[2019-01-25 00:21] mhoemmen commented on #4235
Thanks @ikalash ! :D

[2019-01-25 00:21] #4235 closed

[2019-01-25 01:07] jhux2 commented on #4262
The ten slowest tests account for about 3.5 minutes:
[code]

And the entire list
<details>

[code]

</details>

[2019-01-25 01:38] mhoemmen opened #4263 "MueLu: Complex build broken"
@trilinos/muelu

https://github.com/trilinos/Trilinos/issues/2426#issuecomment-457394324
https://testing-vm.sandia.gov/cdash/viewBuildError.php?buildid=4453539

[code]

[jhux2 edited error for readability]
## Motivation and Context

This blocks Sierra's Trilinos promotion.

## Related Issues
* Blocks #2426

[2019-01-25 02:03] masterleinad opened #4264 "MueLu: Compiling MueLu header files failes with CUDA support enabled in Kokkos"
@trilinos/muelu

## Current Behavior
Compiling a file just containing
[code]
fails with
[code]

Unfortunately, this error doesn't really tell which function it is complaining about ("") and there is no additional information who tried to instantiate the template.

## Your Environment

The commit used is 4f15e6fb356295d8ba1e022e94d8b0bad732e082 and I configured `Trilinos` using
[code]

The compiler

[2019-01-25 11:07] masterleinad commented on #4264
I get the same error using the `develop` branch at 43d71656c85d1cc48eb408c2a8fee3c5ceaf4747.

[2019-01-25 14:05] bartlettroscoe commented on #4262
CC: @dridzal

@csiefer2

Can't increase the timeout.  A 10 minute timeout is already extremely generous.  Running the Trilinos test suite on this build is already taking almost 2.5 hours (where that test suite finishes in less that 20 minutes in other builds on other platforms).

The real solution is #2422 but that is going to take some time to achieve (but Kitware is working on a solution).

I ju

[2019-01-25 14:05] #4244 closed

[2019-01-25 14:24] bartlettroscoe opened #4267 "Mass build failures on 'mutrino' starting 1/24/2018 after system upgrade"
CC: @fryeguy52, @trilinos/framework

## Next Action Status

Modules on 'mutrino' changed in 1/23/2019 upgrade and now can't find MPI stuff.  Next: Fix the usage of modules on 'mutrino' to restore working builds (see [TRIL-254](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-254)) ...

## Description

As shown in [this query](https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2

[2019-01-25 14:33] MicheldeMessieres commented on #4244
@bartlettroscoe Thanks, I had not checked them all. I'll post cdash links in the future.

[2019-01-25 14:53] bartlettroscoe commented on #4267
FYI: I looked in the Jenkins log output for a 'mutrino' build the morning at:

* https://jenkins-srn.sandia.gov/view/Trilinos%20ATDM/job/Trilinos-atdm-mutrino-intel-opt-openmp-HSW/247/consoleFull

and it seems that the reason that no test were submitted from the second dual-submit `Trilinos/cmake/ctest/drivers/atdm/ctest-s-driver-test.sh` script is that it could not be run because the `sbatch` com

[2019-01-25 15:23] jhux2 commented on #4262
Maybe, because these are the Kokkos versions ....

[2019-01-25 15:24] jhux2 commented on #4263
I can produce these locally.  @lucbv Are you looking at these?

[2019-01-25 15:32] lucbv commented on #4263
@jhux2, I'm looking at the code, haven't reproduced locally the error. But based on my reading I would imagine that the MV2EpetraMV function might need to be overloaded for `RealValuedMultiVector`.

[2019-01-25 16:33] mhoemmen commented on #4263
Thanks for working on this!  Sierra is getting close with their CMake-based Trilinos build, so we appreciate anything you can do to help us out :-)

[2019-01-25 16:34] ikalash commented on #4246
This has been resolved in Albany - thank you!

[2019-01-25 16:34] mhoemmen commented on #4262
@jhux2 wrote:

Doesn't TriBITS have an option to constrain max test parallelism for a particular test?

[2019-01-25 17:01] lucbv commented on #4263
@jhux2 @mhoemmen,  PR #4268 should fix this issue, let us see how it fairs in the PR tester...

[2019-01-25 17:02] bartlettroscoe commented on #4262
@mhoemmen asked:

Like in terms of number of OpenMP threads?  For this Intel 18 build `NUM_OMP_THREADS` should be set to just 2 and TriBITS does not do that.  TriBITS has no concept of threads yet (that is what #2422 is going to do).

[2019-01-25 17:38] jhux2 commented on #4262
@bartlettroscoe wrote:

Let me look at the slowest tests first to see if I can even reproduce.

[2019-01-25 17:42] jhux2 commented on #4262
Btw, is the build `Trilinos-atdm-cee-rhel6_intel-18.0.2_mpich2-3.2_openmp_static_opt` relatively new?  The results only go back to January 10.  Were there early tests that passed?

[2019-01-25 18:27] mhoemmen opened #4269 "Propose new Trilinos release model"
@trilinos/framework @maherou @jwillenbring @bartlettroscoe

PR https://github.com/trilinos/Trilinos/pull/4259 led to a discussion about Trilinos versions, deprecation, and the Trilinos release model.  I wanted to summarize that here, and propose the following:

  - Drop the official policy (which we haven't followed for years anyway)
  - Embrace the current de facto policy (which I'll summarize be

[2019-01-25 18:30] #4246 closed

[2019-01-25 18:33] mhoemmen commented on #4262
@bartlettroscoe wrote:

I was thinking there was a way to mark a test as "please, CTest, don't run this test concurrently with other tests."

[2019-01-25 18:33] mhoemmen commented on #4264
@trilinos/muelu

[2019-01-25 18:56] aprokop commented on #4269
Thanks @mhoemmen for writing this down. Indeed, picking up a hash and periodically updating it is indeed the way things' been done for quite a while now.

One issue that I do want to bring up, though, is installation of Trilinos through Spack. The questions of adding/removing dependencies, patching, etc. are unclear. Should the Spack only allow for the latest version of the `master`? Would `xsdk`

[2019-01-25 18:59] bartlettroscoe commented on #4269
For close direct customers, about anything you do will work and what you describe is fine for internal Trilinos customers.  In fact, being able to break backward compatibility frequently and then incrementally absorb those changes in close down-stream customers that use almost continuous integration is a great process (which INL MOOSE has scaled pretty large).  So if we were just concerned about c

[2019-01-25 19:02] bartlettroscoe commented on #4262
This is the 'SERIAL' test property.  But I would rather not set that for **all** builds for each test.  I would rather set that for a few tests on a build-by-build basis where we have these problems.  Otherwise, we are going to loose a lot of the benefits of `ctest -j<N>` in reducing the wall-clock time when running tests.

By the end of FY18, hopefully Kitware will have a solution to this as part

[2019-01-25 19:09] bartlettroscoe commented on #4262
@jhux2 asked:

Yes and no.  This intel-18.0.2 build has been there for a while but just recently was changed to an OpenMP build in order to match SPARC's intel-18.0.2 CI build (see [TRIL-247](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-247)).

[2019-01-25 19:58] bartlettroscoe commented on #2689
With the merge of #4261, Trilinos is not getting installed automatically as a byproduct of the ATDM ctest -S driver scripts submitting to CDash each day.  See:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/ctest/drivers/atdm/README.md#installing

Currently, the base driver bash script, sets the permissions to world readable for these installs, but only at the very end of the script fo

[2019-01-25 20:14] lucbv commented on #4263
@mhoemmen, the PR was just merged in. Since the autotester is not building with complex enabled yet, could you double check that the fix works for Sierra?

[2019-01-25 21:11] briadam opened #4270 "TriKota: Build errors with Dakota 6.8 and newer"
@trilinos/trikota

## Expectations

Trilinos should work when TriKota is enabled with Dakota 6.8 and newer.

## Current Behavior
Build fails due to Dakota not being able to find ROL headers. (Dakota now has an optional dependence on ROL)

## Motivation and Context
Trying to verify that recent changes in Dakota will not break TriKota users of Dakota.

## Definition of Done

Enabling TriKota should

[2019-01-25 21:37] briadam commented on #4270
I should have mentioned (perhaps its obvious) this is only a problem when configuring with ROL enabled. Moreover, additional fixes are needed to restore ROL adapters/trikota tests (submitted separately to upstream ROL developers).

[2019-01-26 00:18] mhoemmen commented on #4269
@bartlettroscoe (btw I'm pretty sure you realize this, but I don't disagree with you :-) .  I just think Trilinos should be honest about its policy.  Users ask on GitHub and elsewhere about releases, so if we don't want to do releases any more, let's just say that.)

[2019-01-26 00:21] mhoemmen commented on #4270
@trilinos/rol @trilinos/trikota

[2019-01-26 03:02] bartlettroscoe commented on #3178
CC: @jwillenbring, @srajama1, @kddevin, @rppawlo, @mperego (The Trilinos Product Area Leads)

@trilinos/framework, can we make this the official issue for cleaning up the warnings in the PR builds, one package at a time and setting `-Werror` as we have been discussing for the last several months?  (I could not find any other Trilinos GitHub issue that was tracking this effort.)

Also, can we pleas

[2019-01-26 04:04] bartlettroscoe opened #4272 "The package Pliris needs to be elevated from ST to PT since it is being used by ATDM APP Gemma"
**CC:** @trilinos/framework, @trilinos/shylu, @srajama1 (Trilinos Linear Solvers Product Area Lead)

**Blocking:** #2597

## Description

The Gemma configuration of Trilinos currently enables the Trilinos package `Pliris` (see [TRIL-255](https://sems-atlassian-son.sandia.gov/jira/browse/TRIL-255)).  However, the package `Pliris` is currently declared `ST` (Secondary Tested) and therefore is not in

[2019-01-26 12:39] bartlettroscoe opened #4273 "Add keyword 'complex' to ATDM Trilinos builds for Gemma builds"
**CC:** @fryeguy52

## Next Action Status

## Description

The ATDM code Gemma requires complex support enabled in Trilinos.  To support this, the ATDM Trilinos builds need to support a new `complex` keyword that when added to the build name will enable `Trilinos_ENABLE_COMPLEX=ON`.  (NOTE: Setting `Trilinos_ENABLE_COMPLEX=ON` will only enable `Trilinos_ENABLE_COMPLEX_DOUBLE=ON` by default if `Tri

[2019-01-26 18:01] srajama1 commented on #3178
@bartlettroscoe Thanks for taking the lead on this. I like the idea of starting with minimal set of Trilinos packages and keep adding more to that list.

[2019-01-27 18:16] khpierson commented on #4269
This discussion is definitely appreciated and needed for the IC application codes that depend on Trilinos. The 1540 management team and product owners of solid mechanics, structural dynamics, and thermal/fluids have been discussing code credibility as it relates to ND analysis across all supported use cases (normal-thermal, abnormal-thermal, normal mechanical, abnormal mechanical, etc.) and having

[2019-01-27 18:40] khpierson commented on #4220
Thanks for fixing these warnings.

I will look at the sierra-trilinos nightly build that uses votd Trilinos on Monday to see if the warnings have been fixed. If so, then I guess this can be closed.

[2019-01-27 18:44] khpierson commented on #3178
FYI, I've investigated using -Wextra in sierra a few times and noted that we have tens of thousands of extra warnings coming from the compiler with that setting enabled. Sierra does not build with -Wextra by default, just -Wall and -Werror for gcc as far as I know.

Of course, if you can achieve clean builds with -Wextra, that's great!

[2019-01-27 21:47] mhoemmen commented on #4269
It’s interesting that Sierra’s Trilinos promotions have a cadence not too different from the intended Trilinos minor release cadence. This suggests something about how Sierra could (along with SPARC et al.) help revive the process.  Why not let Sierra define new releases by the extra testing it does at promotions?

[2019-01-27 21:50] lucbv commented on #4273
@bartlettroscoe so to be clear do we need to support both `Trilinos_ENABLE_COMPLEX_DOUBLE=ON` and `Trilinos_ENABLE_COMPLEX_FLOAT=ON` or are we OK if we only support `Trilinos_ENABLE_COMPLEX_DOUBLE=ON`?

Also will complex be enabled in all builds or just specific ones? If the latter is chosen, can we avoid adding it to the `intel` build, it is already slow enough as it is...

[2019-01-27 23:37] masterleinad commented on #4264
A current (failing) minimal example is a stripped down version of `TpetraExt_MMHelpers_decl.hpp`:
[code]
Removing the template declaration lets the file compile.

[2019-01-28 12:23] chochmuth opened #4276 "ShyLU_DD/FROSch: Interface for each block is needed otherwise code stops."
@trilinos/shylu
With the introduction of the new graph interface entity structure, some new functions were implemented which do not account for "empty" blocks. Here, an empty block is either a block where no interface was identified or a block which is not contributing to the corresponding coarse space (user choice). For example in `FROSch_GDSWCoarseOperator_def.hpp:345`
`for (UN i=0; i<interface-

[2019-01-28 13:10] khpierson commented on #4220
Looking at the nightly dashboard, I can confirm that that the reported warnings in minitensor are fixed.

There are actually hundreds of more warnings in minitensor related to compilation with nvidia.

Does anyone have a suggestion on how to proceed?
Maybe we need to close this issue and collect the warnings somewhere else?

[2019-01-28 13:21] searhein commented on #4276
@chochmuth Thanks for pointing this bug out. I will fix it hopefully this week.

[2019-01-28 14:14] jmgate commented on #3178
I'd also throw in `-Wpedantic`, but then we have a much longer way to go before we're clean.

[2019-01-28 14:49] jprattgsu opened #4277 "Error 2 in installation process with no other hints as to what has gone wrong"
@trilinos/<teamName>

## Expectations

## Current Behavior

## Motivation and Context

## Definition of Done

## Possible Solution

## Steps to Reproduce

## Your Environment

- **Relevant repo SHA1s:**
- **Relevant configure flags or configure script:**
- **Operating system and version:**
- **Compiler and TPL versions:**

## Related Issues

* Blocks
* Is blocked by
* Follows
* Precedes
* Related

[2019-01-28 14:59] jprattgsu commented on #4277
I have a new Intel Skylake cluster with Intel 18 compilers.  This cluster is now 2 months old, and for 2 months I have been struggling with installing Trilinos.  I'd be grateful for any ideas for how to get further because at this point I am not making forward progress.  I'm working with the latest version from github, although I've also tried versions 11.4.3, 12.10.1, and 12.12.1.  I am getting a

[2019-01-28 15:26] #4211 closed

[2019-01-28 15:26] #4212 closed

[2019-01-28 15:26] #4220 closed

[2019-01-28 15:26] #4225 closed

[2019-01-28 15:26] #3823 closed

[2019-01-28 15:26] #4249 closed

[2019-01-28 15:26] #4234 closed

[2019-01-28 15:26] #4250 closed

[2019-01-28 15:34] bartlettroscoe commented on #4273
@lucbv, as described [above](https://github.com/trilinos/Trilinos/issues/4273#issue-403438061), this is only going to impact the ATDM Trilinos builds and there only `Trilinos_ENABLE_COMPLEX_DOUBLE=ON` is going to be enabled (since `Trilinos_ENABLE_COMPLEX_DOUBLE=ON` by default since `Trilinos_ENABLE_FLOAT=OFF` by default).

I don't see a GitHub issue for enabling complex support Trilinos PR builds

[2019-01-28 15:37] bartlettroscoe commented on #4269
@mhoemmen asked:

Makes sense to me.  Whatever needs to be done for an official Trilinos release should be minimized and automated so that putting out a new Trilinos release requires little more than tagging and branching the repo.  Everything else should be automated (anyone year of "CD"?)

[2019-01-28 15:39] tjfulle opened #4278 "Tpetra: sort and merge on insert: CrsGraph::insertGlobalIndices"
## What

Sort and merge new indices in `CrsGraph::insertGlobalIndices`

## Why

`CrsGraph` does not sort/merge new indices. Instead, indices are appended to their row of the graph, regardless if they are already present in the row.  During `fillComplete`, rows are sorted/merged so that duplicate entries are "compressed" out.  For `StaticProfile` graph, this can lead to running out of capacity due

[2019-01-28 15:41] bartlettroscoe commented on #3178
@khpierson said:

Trilinos (or at least Trilinos header files) has to build clean with the union of all the warning options that Trilinos customers are using.  So if an important (paying) customer needs Trilinos to build clean with `-Wextra`, we need to somehow make that happen.  That is just my opinion but the SQA for Trilinos needs to be as high or higher than the customer's own SQA practices.

[2019-01-28 15:41] tjfulle opened #4279 "Tpetra: sort and merge on insert: CrsGraph::insertLocalIndices"
## What

Sort and merge new indices in `CrsGraph::insertLocalIndices`

## Why

`CrsGraph` does not sort/merge new indices. Instead, indices are appended to their row of the graph, regardless if they are already present in the row.  During `fillComplete`, rows are sorted/merged so that duplicate entries are "compressed" out.  For `StaticProfile` graph, this can lead to running out of capacity due t

[2019-01-28 15:45] tjfulle opened #4280 "Tpetra: sort and merge values: CrsMatrix::insertGlobalValues"
## What

Sort and merge new values in `CrsMatrix::insertGlobalValues`

## Why

`CrsMatrix::insertGlobalValues` does not sort/merge existing values. Instead, indices/values are appended to their row of the matrix, regardless if they are already present in the row.  During `fillComplete`, rows are sorted/merged so that duplicate entries are "compressed" out.  For `StaticProfile` matrix, this can lea

[2019-01-28 15:47] tjfulle opened #4281 "Tpetra: sort and merge values: CrsMatrix::insertLocalValues"
## What

Sort and merge new values in `CrsMatrix::insertLocalValues`

## Why

`CrsMatrix::insertLocalValues` does not sort/merge existing values. Instead, indices/values are appended to their row of the matrix, regardless if they are already present in the row.  During `fillComplete`, rows are sorted/merged so that duplicate entries are "compressed" out.  For `StaticProfile` matrix, this can lead

[2019-01-28 15:52] tjfulle opened #4282 "Tpetra: update tests to StaticProfile"
## What

Update Tpetra tests to pass if default profile type is `StaticProfile`

## Why

`DynamicProfile` is the current default profile type for `Tpetra::CrsMatrix` and `Tpetra::CrsGraph` but is being deprecated in favor of `StaticProfile`

@trilinos/tpetra

## Related Issues
#4278, #4279, #4280, #4281

[2019-01-28 15:54] tjfulle opened #4283 "Tpetra: update tests to StaticProfile (downstream packages)"
## What

Update Tpetra's downstream tests to pass if default profile type is `StaticProfile`

## Why

`DynamicProfile` is the current default profile type for `Tpetra::CrsMatrix` and `Tpetra::CrsGraph` but is being deprecated in favor of `StaticProfile`

@trilinos/tpetra

## Related Issues
#4282

[2019-01-28 15:55] tjfulle commented on #4010
closed by #4147

[2019-01-28 15:55] #4010 closed

[2019-01-28 15:57] tjfulle opened #4284 "Tpetra: matrix market reader to return StaticProfile containers"
## What

Update Tpetra matrix market reader to return graphs and matrices with `StaticProfile`

## Why

`DynamicProfile` is the current default profile type for `Tpetra::CrsMatrix` and `Tpetra::CrsGraph` but is being deprecated in favor of `StaticProfile`.

@trilinos/tpetra

## Related Issues
#4282, #4283

[2019-01-28 15:58] tjfulle commented on #4284
@GeoffDanielson, this may have already been merged with your work?

[2019-01-28 16:05] bartlettroscoe commented on #4267
FYI: They have discovered a defect in the updated modules on 'mutrino'.  They are supposed to fix the issue on Wednesday 1/29/2019.

[2019-01-28 16:55] srajama1 commented on #4194
@ndellingwood

[2019-01-28 16:55] srajama1 commented on #4196
@ndellingwood

[2019-01-28 17:01] mayrmt commented on #4202
@mhoemmen I've created (and pushed) and empty framework, where the free function `Tpetra::replaceDiagonalCrsMatrix(matrix, newDiagonal)` is supposed to replace the diagonal entries of `matrix` with those given in `newDiagonal`. I also added a test `tpetra/core/test/CrsMatrix/CrsMatrix_ReplaceDiagonal.cpp` that invokes that function (though the test doesn't perform an actual test, yet.).

Looking a

[2019-01-28 17:33] srajama1 commented on #3541
@bartlettroscoe May be you meant "is 100% clean" based on the fact you closed the issue ?

[2019-01-28 17:34] wfspotz commented on #3202
I believe this has been addressed.  If not, we can re-open...

[2019-01-28 17:34] #3202 closed

[2019-01-28 17:36] wfspotz commented on #4210
This should have been addressed by #3731

[2019-01-28 17:36] #4210 closed

[2019-01-28 17:47] bartlettroscoe commented on #3541
@srajama1 asked:

It is closed.  See [above](https://github.com/trilinos/Trilinos/issues/3541#issuecomment-457225544) :-)

(And I fixed fixed the typos in that comment.)

[2019-01-28 18:18] ZUUL42 commented on #2426
I kicked off a complex doubles enabled build on Friday evening after Issue #4263 / PR #4268 merged.
Looks like it builds w/o error, but there are still a few tests that fail for @trilinos/muelu & @trilinos/kokkos-kernels .
[Results as of Friday 01/25 evening](https://testing-vm.sandia.gov/cdash/index.php?project=Trilinos&parentid=4457963)

[2019-01-28 18:21] bartlettroscoe commented on #2426
@lucbv, here is the GitHub issue for adding complex support testing to the Trilinos PR builds.  Hopefully this will answer your questions in https://github.com/trilinos/Trilinos/issues/4273#issuecomment-457957565.

[2019-01-28 18:33] srajama1 commented on #2426
@ndellingwood @kyungjoo-kim I thought complex was clean after the recent changes. May be this is a different path/blas etc.

[2019-01-28 18:40] ndellingwood commented on #2426
@kyungjoo-kim did the complex fixes in kokkos-kernels get patched into Trilinos?

[2019-01-28 18:42] kyungjoo-kim commented on #2426
no. it is not patched to trilinos. however, I did not see this error when i test it.

[2019-01-28 18:46] srajama1 commented on #2426
Can we apply that patch irrespective of this issue ? This new issue might block PR testing so we need to prioritize this.

[2019-01-28 18:53] srajama1 commented on #1584
Looks like TriBITSPub/TriBITS#234 got closed as won't fix. TPL testing with Trilinos is better left to the framework team. @trilinos/framework . I am willing to close this, but I worry it will never get done as can be seen here from the lag.

[2019-01-28 18:55] srajama1 commented on #1584
I am closing this. It doesn't help to keep it open for Amesos2 for a framework problem.

[2019-01-28 18:55] #1584 closed

[2019-01-28 19:16] kyungjoo-kim commented on #2426
I don't think that the fix on kokkoskernels kokkos/kokkos-kernels#374 fixes this problem but kokkos/kokkos-kernels#373 might do fix the issue.

[2019-01-28 19:20] kyungjoo-kim commented on #2426
BTW, if this error happens only some architecture only, kokkos/kokkos-kernels#374 should be aplied in order to detect a right fortran interface. I checked a bit and kokkoskernels has been already too much modified and it would be better snapshot the entire repo to trilinos.

[2019-01-28 20:19] rrdrake commented on #4269
Part of a release process is managing the needs / expectations / requirements of the (primary) customers.  If you are not doing that, there is no reason to have releases.

[2019-01-28 20:33] bartlettroscoe commented on #4269
@rrdrake said:

If you are not already doing that during core development then what are you doing?

[2019-01-28 20:55] srajama1 commented on #4042
@kddevin should have been mentioned in this issue

[2019-01-29 00:39] rrdrake commented on #4269
@bartlettroscoe I'm all for releases.  My statement is a reaction to "using Sierra testing to define releases".  Managing requirements includes adding and running tests for them before delivery, which would be done by Trilinos.

[2019-01-29 00:49] bartlettroscoe commented on #4269
@rrdrake said:

In theory yes, but in reality there is no central source of funding or people to do that.  If Sierra wants Trilinos tested for Sierra, the Sierra needs to set up Trilinos tests to protect it's interests.  That is what ATDM is doing.  That is the only scalable model given current realities.

[2019-01-29 01:55] srajama1 commented on #4269
@bartlettroscoe That is not entirely true. We are happy to support Sierra with our current funding. ATDM is special case and it is not best to extrapolate to all customers.

[2019-01-29 05:20] mhoemmen commented on #4202
Hi there!  I'm in meetings all week and may need to delay GitHub posts until night.

@mayrmt wrote:

What commit is this?  I'm not seeing it in develop.  I'm glad :-) because I wouldn't want a function that says it does something but doesn't actually do anything in develop quite just yet.

The other things you said are pretty close.  I would say, if you're not sure how to write a thread-parallel i

[2019-01-29 05:33] mhoemmen commented on #4277
@trilinos/framework

[2019-01-29 05:35] mhoemmen commented on #4220
@khpierson I think develop-to-master promotions automatically close issues based on keywords.  Should we open a new issue that says "minitensor should build warning free with NVCC"?

[2019-01-29 06:30] mhoemmen commented on #4263
@lucbv I'm in all-day meetings all week, but I'll try :-)

[2019-01-29 13:04] MicheldeMessieres opened #4289 "Zoltan2: Create testing for useDegreeAsWeight in Zoltan2_ImbalanceMetricsUtility.hpp"
@trilinos/zoltan2

## Current Behavior
None of the zoltan2 tests call the code in Zoltan2_ImbalanceMetricsUtility.hpp for the option useDegreeAsWeight.

## Motivation and Context
A bug was fixed in #4271 but this could have been caught earlier if we had test coverage.

## Definition of Done
A unit test is added which fails if there are problems with useDegreeAsWeight code in Zoltan2_ImbalanceMetri

[2019-01-29 13:30] khpierson commented on #3619
I believe Alan and his team are working on removing boost mpl from the product which should also remove the warning. They will report on their progress at the toolkit review this Thursday. They have Skype access if that helps you attend to discuss this with the team. Let me know if I should foward the invite.

[2019-01-29 14:46] lucbv commented on #2426
@ZUUL42 thanks for updating the results. It looks like the failed tests in @trilinos/muelu are due to timeouts and old gold file that were not updated when interface changes occurred.
I will look into the gold file issues.

[2019-01-29 14:49] lucbv commented on #4263
@mhoemmen based on the latest update in issue #2426 it seems that MueLu builds but some tests are still failing.
I will look into updating our gold files which should take care of two test failures.
The timing out issues are tracked by @jhux2 and @csiefer2 in issue #4268 I believe.

[2019-01-29 15:18] prwolfe commented on #3178
@khpierson - even that is a moving target as you are aware. The warnings included in the gcc version of -Wall has been greatly reduced over the years. Still, a common target of whatever sort would be useful.

[2019-01-29 15:23] srajama1 commented on #4269
This has been an interesting discussion. I proposed a different approach to @maherou last week based on spack for "releases" and versioning. I will bring this up in the next Trilinos product leaders meeting.

@rppawlo @kddevin @mperego @jwillenbring

[2019-01-29 15:51] ZUUL42 commented on #2426
@ndellingwood I'm triggering a build manually for the job Trilinos_pullrequest_gcc_7.2.0 with trilinos/Trilinos/develop as the target branch and jwillenbring/Trilinos/complex_pr_test2 as the source branch. [The only line change enables complex doubles](https://github.com/trilinos/Trilinos/compare/develop...jwillenbring:complex_pr_test2).

[2019-01-29 17:19] ndellingwood commented on #2426
Thanks @ZUUL42 , we'll use that info to reproduce the failure and get a patch into Trilinos.

[2019-01-29 17:54] bathmatt commented on #4038
Any progress on this?  We've ran into a bug we need to fix using intel compiler that we can't figure out in opt code..

[2019-01-29 20:15] jhux2 commented on #4038
@bathmatt I haven't looked at this in a while.  I'll pick it back up.

[2019-01-29 23:02] CamelliaDPG opened #4291 "Sacado: "declaration shadows a typedef" warnings from clang"
@trilinos/sacado

## Expectations
Builds with clang that use the `-Wshadow` flag should not emit warnings.

## Current Behavior
Two such warnings are emitted by clang when building `Sacado_trad.hpp`.
[code]

Another warning is emitted by clang when building `Kokkos_ViewFactory.hpp`:
[code]

## Possible Solution
For `Sacado_trad.hpp`, since the shadowing declaration is identical to the shadowed one

[2019-01-29 23:17] lxmota commented on #4220
Sorry I come late to the party, and thanks @mhoemmen for fixing the warnings. @khpierson what are the nvcc warnings?

[2019-01-29 23:22] CamelliaDPG opened #4294 "Phalanx: "declaration shadows a typedef" warnings emitted by clang"
@trilinos/phalanx

## Expectations
Builds with clang that use the `-Wshadow` flag should not emit warnings.

## Current Behavior
Several such warnings are emitted by clang when building `Phalanx_FieldManager_Def.hpp`.
[code]

## Possible Solution
Since the shadowing typedef is in each case identical to the shadowed typedef, likely the correct solution is simply to delete the shadowing typedef in e

[2019-01-29 23:31] kddevin commented on #4257
Note that #4293 disabled this test; we'll need to re-enable it when this work is complete.
TpetraCore_BlockCrsMatrix_MPI_4_DISABLE

[2019-01-29 23:31] ndellingwood commented on #2426
I reproduced the failures on White with gcc/7.2 build and `complex<double>` enabled, also confirmed PR kokkos/kokkos-kernels#374 fix the issue (using the override configuration trick to test with the kokkos-kernels develop branch VOTD). If feasible we would like to fix this with the next kokkos + kokkos-kernels promotion, I'm going to run integration tests overnight and if things are in good shape

[2019-01-29 23:35] kddevin commented on #3453
Note that #4217 disabled these tests for CUDA builds; they will have to be re-enabled when this issue is fixed.
In cmake/std/PullRequestLinuxCuda9.2TestingSettings.cmake,
[code]

[2019-01-29 23:47] bartlettroscoe commented on #4257
@kddevin said:

TpetraCore_BlockCrsMatrix_MPI_4_DISABLE

PR #4293 only disables that test for the CUDA PR build, not the ATDM Trilinos builds.  (There is no relationship between these two sets of builds and that is on purpose.)

The question is if this failing test something that should be fixed or not before that ATDM APPs get an updated version of Trilinos?  Right now it is listed as `ATDM Sev:

[2019-01-30 00:05] kyungjoo-kim commented on #4257
From the failed test message,
[code]

I first examine the packing and unpacking routine if there is some mistake in dualview sync as the input array of the unpacking, ``imports``,  is all zeros. Then, I see the All reduce error. I am not sure which trigger which error. However, it is also possible that MPI_Allreduce gets an error and it causes corruption in the importer. The other way is also poss

[2019-01-30 05:45] mhoemmen commented on #4263
Thanks @lucbv !

[2019-01-30 05:47] mhoemmen commented on #3469
Trilinos needs CMake 3.11 now, no?

[2019-01-30 07:52] khpierson commented on #3178
Who actually prioritizes fixing/addressing these issues?
I would like to determine the best way to engage from the SIERRA perspective.

[2019-01-30 15:57] mayrmt commented on #4202
@mhoemmen I started a WIP pull request #4297 where I added a test and did a first implementation using `Tpetra::CrsMatrix::replaceLocalValues()`. I'm looking forward to get some feedback on that.

I will have to wrap this into Xpetra later. Right now, I'm postponing that until this is acceptable from the Tpetra point of view.

[2019-01-30 17:03] CamelliaDPG opened #4298 "Tpetra: "declaration shadows a typedef" warnings emitted by Apple clang 10.0.0"
@trilinos/tpetra

## Expectations
Builds with clang that use the `-Wshadow` flag should not emit warnings.

## Current Behavior
Three such warnings are emitted by clang when building `MatrixMarket_Tpetra.hpp`.
[code]

## Environment
I'm building on a Mac using Apple clang 10.0.0.

[2019-01-30 17:07] srajama1 commented on #3178
@khpierson The best way is to engage the product leads (all copied above). This kind of issue usually is in the scope of @trilinos/framework , so @jwillenbring would be the right person. However, in this specific case @bartlettroscoe has taken the lead because it came from an ATDM application.

[2019-01-30 17:32] CamelliaDPG opened #4300 "Stratimikos: "declaration shadows a typedef" warnings from Apple clang 10.0.0"
@trilinos/stratimikos

## Expectations
Builds with clang that use the `-Wshadow` flag should not emit warnings.

## Current Behavior
One warning is emitted by clang when building `BelosThyraAdapter.hpp`.
[code]

## Possible Solution
Since the shadowing typedef is identical to the shadowed typedef, likely the correct solution is simply to delete the shadowing typedef (delete line 301).

## Environm

[2019-01-30 21:01] #4291 closed

[2019-01-30 21:01] #4294 closed

[2019-01-31 00:38] etphipp commented on #2008
The problem here is `if_then_else(cond,a,b)`.  Being a function, `a` and `b` are always evaluated, regardless of what the value of `cond` is.  So in this case, the else condition is evaluated and generates an FPE, even though it isn't used.

Originally, Sacado just used the ternary operator `cond ? a : b`, in which case I believe b would not be evaluated if `cond == false`.  This was changed for S

[2019-01-31 02:49] khpierson commented on #3178
Is there a product lead meeting? The reason I'm asking is that I'm interested in attending once in awhile to better understand how SIERRA can engage. If that's not the correct forum, I would like to find somewhere to figure this out. Thanks!

[2019-01-31 03:17] mhoemmen commented on #3178
There used to be regular Sierra / Trilinos / other apps phone meetings, but they died.  Mike Heroux was leading those, but he got busy with other things.

[2019-01-31 03:17] mhoemmen commented on #4298
Thanks for reporting!