[2017-09-18 15:42] mhoemmen commented on #1747
@aprokop wrote:

Ah, sorry, I misunderstood you there.  I think it's reasonable for now to require this, at least until we have time to find all the places that make this implicit assumption.

[2017-09-18 15:46] aprokop commented on #1747
@lucbv Yes, I understand that. And when running in parallel, the are usually not the same (row map and column map).

This is the exact point of the discussion. This is only true if the local entries for the column map are in the same order as those of the row map. If not, then they are not locally fitted.

[2017-09-18 15:48] mhoemmen commented on #1747
@aprokop wrote:

Check out `Tpetra_Details_getGraphDiagOffsets_def.hpp`, lihes 109-111.  The kernel converts from local row index, to global index, to local column index, using the (local parts of the) row and column Maps.

[2017-09-18 15:53] lucbv commented on #1747
@mhoemmen looking at `isLocallyFitted`, it seems that the check for `numInds_map1 > inds_map2.size ()` can be made prior to checking `map1.isContiguous ()`, it could save a little bit of code and time...

[2017-09-18 15:53] aprokop commented on #1747
@mhoemmen You are right, I was staring at the code, but somehow missed that 😬 So Tpetra's off the hook :) Though it also means that getting the diagonal is quite expensive (and I saw that in the timers) as it does GID -> LID translations.

[2017-09-18 15:55] aprokop commented on #1747
@lucbv In #1714 we reorganize locally fitted and add some improvements, including the one you mentioned.

[2017-09-18 16:11] lucbv commented on #1747
@aprokop I see, I was not aware of the branch so I just read the current version in develop.

[2017-09-18 16:38] mhoemmen commented on #1747
@aprokop Is #1714 ready for (re)examination?

[2017-09-18 17:07] ambrad commented on #1744
CDash looks clean after I fixed HTS for Stokhos and repromoted to ST.

[2017-09-18 17:07] #1744 closed

[2017-09-18 17:11] etphipp commented on #1744
Awesome, thanks!

[2017-09-18 17:13] ambrad commented on #1744
Thanks for reporting!

[2017-09-18 17:34] aprokop commented on #1747
@mhoemmen Yes, I think it's ready.

[2017-09-18 17:35] bartlettroscoe commented on #1746
@jwillenbring,

In https://gitlab.kitware.com/snl/project-1/issues/33#note_318230 you commented that it was a good idea for the Trilinos framework team to set up a few all-at-once Experimental builds to post to the evaluation site testing-vm.sandia.gov/CDash/.  To see how to do that, just look at the new files I just posted to Trilinos/cmake/ctest/drivers/sems_ci/ that are now doing all-at-once bu

[2017-09-18 18:04] jhux2 commented on #1747
So we propose that MueLu will start enforcing this for user-supplied matrices.  It would also make sense that Ifpack2 also enforce this.  I will bring up this issue at our regular internal applications meeting.

[2017-09-18 19:09] mhoemmen opened #1748 "ShyLU: Fishy-looking HTS build warning (Clang 3.9)"
@trilinos/shylu @ambrad

This build warning in HTS in ShyLU looks fishy:
[code]
Is it an actual bug or just a spurious warning?

[2017-09-18 19:12] ambrad commented on #1748
Hrmmm, that's interesting! I'll take a look.

[2017-09-18 19:13] ambrad commented on #1748
@mhoemmen, is this on the cdash? Or could you send some more warning output? Also, what compiler? Thanks.

[2017-09-18 19:21] ambrad commented on #1748
Oh, 3.9, in the title. Cool.

[2017-09-18 19:32] michael-a-hansen opened #1749 "PyTrilinos installation problems on Mac"
Hello,

I've run into a few compilation issues with `PyTrilinos` on Mac (Sierra). I'm using cmake 3.9.0 and python 3.6. My simple configuration line is below, in which I've disabled `Matio` because it complained and I don't need Matlab support. This is on a fresh clone of Trilinos.

`cmake -DTrilinos_ENABLE_ALL_PACKAGES=ON -DTPL_ENABLE_Matio=OFF -DBUILD_SHARED_LIBS=ON -DPYTHON_EXECUTABLE:FILEPATH=

[2017-09-18 19:34] aprokop commented on #1749
@wfspotz

[2017-09-18 19:39] ambrad commented on #1748
Reproduced. I'm going to clean up all the clang warnings. Thanks @mhoemmen!

[2017-09-18 19:39] wfspotz commented on #1749
Are you using a download release of Trilinos or the current github version? Support for Python version 3 starts with the upcoming 12.12 release. If you are using a download release, you can’t yet use Python 3, although I am surprised the cmake build system didn’t catch that fact earlier.

[2017-09-18 19:39] wfspotz commented on #1749
Are you using a download release of Trilinos or the current github version? Support for Python version 3 starts with the upcoming 12.12 release. If you are using a download release, you can’t yet use Python 3, although I am surprised the cmake build system didn’t catch that fact earlier.

Bill Spotz
Sandia National Laboratories
PO Box 5800 MS 1320
Albuquerque, NM 87185
(505) 845-0170

[2017-09-18 19:40] michael-a-hansen commented on #1749
I cloned from github this morning.

[2017-09-18 19:51] #1748 closed

[2017-09-18 19:56] wfspotz commented on #1749
Be sure you are using SWIG version 3.0.10. Later versions have bugs when processing PyTrilinos. If the docsting problem persists, set PyTrilinos_DOCSTRINGS to OFF. If you still have issues, use Python 2 (we don't have rigorous testing for Python 3 set up yet).

[2017-09-18 20:28] jmgate commented on #1702
At this point I've cleaned up all 5201 `unused-parameter` warnings in Panzer.  Merging soon.

[2017-09-18 22:26] michael-a-hansen commented on #1749
I installed SWIG 3.0.10, but that did not fix it. I used python2 however, and it installed as expected, so it looks like a python3 issue.

[2017-09-18 22:46] michael-a-hansen commented on #1749
My intention was to "drop in" the sparse direct solvers in Amesos where I was using SciPy's interface to SuperLU/UMFPACK. Unfortunately the application has been developed for python3 so building with python2 does not resolve my issue.

[2017-09-19 00:15] bartlettroscoe opened #1751 "Discuss and document workflow for directly snapshotting SEACAS into Trilinos to better serve ATDM"
**Next Action Status:**

@gdsjaar to implement agreed to workflow on SEACAS github site then start doing new workflow ...

**CC:** @trilinos/framework, @gsjaardema

**Description:**

This story is to document a discussion and the final workflow for allowing @gsjaardema to directly SEACAS directly into Trilinos/packages/seacas/ in addition to shapshotting SEACAS into Sierra.base/seacas/ and then ha

[2017-09-19 00:32] bartlettroscoe commented on #1751
So the basics of the workflow are pretty simple.  When an ATDM or other customer urgently needs an update of SEACAS in Trilinos, they just ask @gsjaardema (or someone else) to snapshot SEACAS from seacas/packages/seacas/ directly into Trilinos/packages/seacas/ using the same snapshot script he uses currently to snapshot into Sierra.base/seacas/.  @gsjaardema reports that he almost never needs to u

[2017-09-19 00:42] searhein opened #1752 "Code gets stuck within Tpetra's doImport"
I am implementing a new subpackage for ShyLU, which I have not yet pushed to the repository. Since last week, after pulling from the develop branch of the repository, my code gets stuck within the doImport() method of a Tpetra::CrsMatrix, which I call through Xpetra.
The code does not crash, it just gets completely stuck within the import.

I am able to narrow down the corresponding commit, which

[2017-09-19 01:10] aprokop commented on #1752
@trilinos/tpetra @trilinos/shylu @trilinos/xpetra

[2017-09-19 01:33] wfspotz commented on #1749
I have aways tested against Python 3.5, so that is another thing you could test. I will try Python 3.6 and see if I can recreate your issues.

[2017-09-19 03:01] michael-a-hansen commented on #1749
I received the same error with python3.5. From the end of `make install`:
[code]

[2017-09-19 03:20] mhoemmen commented on #1752
@searhein Could you please specify your build options?  Commit https://github.com/trilinos/Trilinos/commit/80110046ffaf6b583bfeab39007b42791d490bb9 mainly relates to CUDA builds, though it does have effects for non-CUDA builds.  It's possible that in a CUDA build, the changes make users' incorrect use of UVM without intervening fences more likely to cause issues.

[2017-09-19 03:21] mhoemmen commented on #1752
@searhein Also, I would be happy to test out your code if you wouldn't mind sharing it.

[2017-09-19 04:34] michael-a-hansen commented on #1749
If I navigate to `cd /Users/mike/Trilinos/build/packages/PyTrilinos/src/PyTrilinos` (back in my python3.6 build) and try running `python3.6 -m Teuchos.py` to compile the bytecode myself, I get the following error:
[code]

[2017-09-19 15:40] wfspotz commented on #1749
I am building the latest version of Trilinos using Python 3.5 and I am seeing the doctoring errors you are, although Teuchos docstrings build fine, it is Tpetra that is having problems. Haven't got to installation yet.

[2017-09-19 16:06] wfspotz commented on #1749
@michael-a-hansen I have pushed a fix to the doxy2swig.py script that appears to work, and I think it clears up the downstream problem with the .pyc files.

[2017-09-19 16:20] crtrott opened #1753 "Belos test failures on CUDA and OpenMP (White/Ride)"
Last Integration of Kokkos/KokkosKernels into Trilinos still had quite a few test failures (see pull request #1721):

Cuda:
[code]

OpenMP:
[code]

Check out the kokkos-kernels/scripts/trilinos-integration/white_run... scripts for how to run this.

The gist is you need to set this and run the below configure script:
[code]

[2017-09-19 16:34] rppawlo commented on #1747
@eric-c-cyr and @egphill - any impact on Teko?

[2017-09-19 16:34] crtrott commented on #1753
Actually this is probably just #1208

[2017-09-19 16:55] maherou commented on #1232
I have added text about how to support Production Maintenance code.  We have received feedback from select users that the current policy seems reasonable.  So we will close this issue and move forward with implementing the policy.

[2017-09-19 16:55] #1232 closed

[2017-09-19 16:55] jhux2 commented on #1747
@aprokop @maherou recommended that this be publicized on the users list prior to any change, including how an application can check whether its matrices satisfy the locally-fitted property.

[2017-09-19 17:04] aprokop commented on #1747
@jhux2 So, 1) enable a warning in MueLu; 2) publicize to trilinos-users; 3) throw exception? How do we check application compliance prior to 3)?

[2017-09-19 17:14] michael-a-hansen commented on #1749
I've pulled and am seeing the same issue on both 3.5 and 3.6.

[2017-09-19 17:17] michael-a-hansen commented on #1749
My best bet is that there's something silly with paths on my machine, as it seems is always the case with python dependencies. I've grepped my build directories for "*n2.7" and the path of my default 2.7 build the laptop came with, and both found nothing so I'm confident it's not cmake finding the wrong python somewhere and the right python elsewhere.

[2017-09-19 17:25] jhux2 commented on #1747
@aprokop We can check a subset of internal applications, but the rest will have to do their own checking.

[2017-09-19 17:38] searhein commented on #1752
@mhoemmen My configuration for Trilinos is
[code]

I am compiling on my Macbook.

On commit 80110046ffaf6b583bfeab39007b42791d490bb9, my code still runs through perfectly. For commit ce22a7edf97af24ca744897374e6d2c5106e7471, it doesn't work anymore.

Hopefully, I can push my code to the repository today, and you will find it in the sub package ShyLU/FROSch. However, I will disable the Tpetra test

[2017-09-19 17:41] crtrott commented on #1619
Maybe category/label is better because there is no white space. That may work better inside of github API calls for external tools.

[2017-09-19 17:57] wfspotz commented on #1749
It was many years ago, but my attempts with using the Mac OS system Python failed. Apple alters its Python (I forget how), and those altercations can lead to problems with PyTrilinos. But it was long enough ago that I don't remember the details. Using an Anaconda-installed Python 3 on my MacBook Pro (after the script fix) worked for me this morning.

[2017-09-19 18:03] jmgate opened #1754 "Panzer: Deprecated setPhysicsBlockVector()"
@eric-c-cyr, it looks like `WorksetContainer::setPhysicsBlockVector()`, deprecated in d39c8fc, is still getting called at some point, throwing a `deprecated-declaration` build warning.

@trilinos/panzer

[2017-09-19 18:55] michael-a-hansen commented on #1749
I'll try Anaconda. I'm not on system python (bad experience there too) but let's see if it works with Anaconda.

[2017-09-19 19:03] mhoemmen commented on #1752
@searhein I can't speak for the ShyLU management, but I would be much happier if you were to submit your code in the form of a pull request, rather than just pushing it.  I would be happy to try it out, and would be even happier if we could fix the issue (mine, yours, or both) before the code actually gets added to the repo.

Just curious -- have you tried this on other platforms, and do you encou

[2017-09-19 19:48] jwillenbring commented on #1751
@bartlettroscoe One concern is that the revised SIERRA/Trilinos integration process worked out this FY (which includes snapshotting now and avoids merge conflicts) also looks to test NALU and Albany prior to updating SEACAS and STK in Trilinos. This is meant to reduce the issues that these applications were facing with updates.

[2017-09-19 20:10] jmgate commented on #1667
@dridzal, do you know if the `rol-rom` branch is still needed?

[2017-09-19 20:21] jhux2 commented on #1747
What would be a reasonable window of time to let applications respond?

[2017-09-19 20:30] aprokop commented on #1747
@jhux2 Couple hours? Seriously, though, applications tend to move at glacial speeds on things like that. So, maybe, it's better to reach specific people with a patch, so that they could run their test suits with it, and report back. For that, I would give few weeks.

Hidden behind all this is the fact that I care less about how the old non-Kokkos version runs, and will just enable the throw for th

[2017-09-19 20:39] bartlettroscoe commented on #1751
That is interesting.  I guess the justification for extra testing that is that it is very hard to get things fixed if you expect them to be fixed in the Sierra.base/ repo and then snapshotted back to Trilinos.  I think that might be more of an issue for STK than SEACAS.  With SEACAS being directly snapshotted into Trilinos, then it could be fixed quickly or backed out (just a revert).  Therefore,

[2017-09-19 22:02] michael-a-hansen commented on #1749
I'm seeing the same problems with Anaconda. The docstrings issue is no longer a problem but it still can't find the bytecode and I get the same error noted above when I try to compile it myself.

[2017-09-19 22:57] jhux2 commented on #1747
It just occurred to me, do the Epetra-based solvers make any similar assumptions?

[2017-09-19 22:58] mhoemmen commented on #1747
@jhux2 AztecOO and ML almost certainly do.  I don't know if they check input at all for this condition.

[2017-09-19 23:38] srajama1 commented on #1752
This is a new experimental package that is being added. It works fine with Epetra which will be enabled by default. The Tpetra portion is hanging, but needs to be disbaled. A PR is good, but not absolutely needed.

[2017-09-20 01:08] srajama1 commented on #1752
Thinking one more time, a PR will be better, as you are not only changing ShyLU but also Ifpack2, Amesos2 dependencies.

[2017-09-20 13:46] krcb commented on #1667
Both revert-997-suiteSparseLinkError and revert-918-suiteSparseRefactor can be deleted.

[2017-09-20 14:56] william76 opened #1755 "Tpetra fails to Configure CUDA in Nightly build on Apollo"
@trilinos/tpetra

Linux-gcc-4.9.3-MPI_RELEASE_DEV_DownStream_ETI_SERIAL-ON_OPENMP-OFF_PTHREAD-OFF_CUDA-ON_COMPLEX-OFF has been failing the Nightly build since 9/12.

It looks like it's a cmake error on CUDA:
[code]

Link to one of the fails:
https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3103572

[2017-09-20 15:04] csiefer2 commented on #1747
By "row maps and column maps match" do you mean that "all entries in the row map are numbered with the same GID/LID combo as the column map"  (additional column map entries come later).

@jhux2 I believe that Ifpack requires the above condition sometimes (but is inconsistent about checking it).

[2017-09-20 15:07] tjfulle commented on #1755
@william76, this is a known issue, see #1630.  A permanent fix is in the works, for now add `-std=c++11 ---expt-extended-lambda` to `CMAKE_CXX_FLAGS`

[2017-09-20 15:14] mhoemmen commented on #1752
@searhein It's totally up to you and the ShyLU team how the code shows up, but I would be happy to review it :-) .

[2017-09-20 15:15] mhoemmen commented on #1755
On second thought, I should leave this open -- the issue is that apollo has the wrong build options set :-)

[2017-09-20 15:16] mhoemmen commented on #1747
@csiefer2 wrote:

Yes.  It means "the column Map is locally fitted to the row Map, on all processes."

LocalFilter _definitely_ does.  LocalFilter is tied to AdditiveSchwarz overlap in a way that makes this nontrivial to fix.

[2017-09-20 15:17] william76 commented on #1755
@mhoemmen I could add the options that @tjfulle mentioned, but I don't have access to a CUDA machine currently... so I don't think I can test it.  Would you guys rather set the flags or leave that test failing for now since a permanent fix is in the works?

[2017-09-20 15:18] tjfulle commented on #1755
@william76, this issue is discussed more thoroughly in #1682 (the remedy is still the same as I posted).

[2017-09-20 15:21] csiefer2 commented on #1747
This would be something trivial to forcibly check in a DEBUG build (with the associated reduction) and not in a RELEASE one.

This would allow us to "require" local fitting without having to check in a Release build

[2017-09-20 15:22] csiefer2 commented on #1747
One caveat is that this might cause some degree of havoc with Xpetra::BlockedCrsMatrices, if you try to do something like get the diagonal of a square block off the diagonal...

[2017-09-20 15:23] tjfulle commented on #1755
@william76, I believe the consensus is that we will provide a detailed CMake error message describing how `CMAKE_CXX_FLAGS` should be set to properly configure and build Tpetra on CUDA.  It will be up to individuals to implement the correct flags for now.

We would rather not implement the flags directly in Tpetra since Kokkos is coming up with a platform independent solution.    The permanent fix

[2017-09-20 15:25] mhoemmen commented on #1755
@tjfulle is right -- temporary solution would be to change Apollo's build options to add the flags in question, permanent solution would be not to need to do this.

[2017-09-20 15:29] tawiesn commented on #1747
Where would you need to extract the diagonal of an off-diagonal block in a blocked operator? In general the off-diagonal blocks in a blocked operator have rectangular shape so it's not even clear what the diagonal would be. Don't think that is a real issue.

All block smoothers in MueLu so far only need proper blocks on the diagonal of the blocked operator. They need to be locally fitted as we cal

[2017-09-20 15:33] ndellingwood commented on #1752
If submitted as a PR @mhoemmen can pull the PR to test if he wants to try it out before a commit (he mentioned interest in testing in earlier message); here's the git commands for reference for anyone that hasn't used them but may find them useful:

For example, say @searhein submits the commit as PR #xyz
[code]
This assumes `origin` is a remote for the Trilinos repo that the PR was submitted to,

[2017-09-20 15:34] csiefer2 commented on #1747
@tawiesn I never said it was a *good* idea, but if you have no official concerns, then I don't either...

[2017-09-20 15:37] tawiesn commented on #1747
@csiefer2 We might want/need to add some checks to the BlockedCrsMatrix to help the user avoid unnecessary mistakes/problems. I just meant that i don't see immediate problems when enforcing locally fitted Ids. The only thing we need is a MV multiplication

[2017-09-20 15:39] mhoemmen commented on #1747
@csiefer2 wrote:

Not all preconditioners care: For example, (point) Jacobi and Gauss-Seidel can extract the matrix diagonal without needing this condition.  This suggests that only the preconditioners that care should check.

[2017-09-20 15:41] eric-c-cyr commented on #1747
@tawiesn @csiefer2 I could see wanting the lumped action or diagonal of the off diagonal block. I'm not sure what this would mean in a  non-rectangular case. Probably you would just lump the operator rather than take the diagonal. I feel certain that this is  case one might actually consider (though I'm not sure we have considered it to date).

[2017-09-20 15:45] csiefer2 opened #1756 "Teuchos: Potential C++11 Non-compliance issues"
From here: http://en.cppreference.com/w/cpp/language/destructor

As any other function, a destructor may terminate by throwing an exception (this usually requires it to be explicitly declared noexcept(false)) (since C++11)

The destructor for Teuchos::RawWorkspace throws an exception without a noexcept(false) declaration.

This causes Visual Studio to whine.

Is this worth fixing?

[2017-09-20 15:46] searhein commented on #1752
Ok, I will do a PR then.

[2017-09-20 16:00] aprokop commented on #1747
@mhoemmen Yes, I think it is correct to say that only *some* Ifpack2 preconditioners are affected by the implicit assumption. So, I think we should add this check only to the ones we *know*.

[2017-09-20 16:00] pwxy commented on #1705
Ah, so the two separate parameters have been added to MueLu.  I vaguely recall requesting Ray or Jonathan to do this to ML probably a decade ago.

[2017-09-20 16:06] aprokop commented on #1756
@trilinos/teuchos

[2017-09-20 17:52] mhoemmen commented on #1756
Is this a duplicate of #1303?

[2017-09-20 17:52] mhoemmen commented on #1756
@csiefer2 wrote:

Does this mean "emit a warning" or "refuse to build"?

[2017-09-20 17:55] csiefer2 commented on #1756
@mhoemmen : "Emit a warning"

And yeah, this is probably a dupe.

[2017-09-20 17:59] mhoemmen commented on #1756
@csiefer2 wrote:

No worries! :-) Just wanted to reference that issue.

[2017-09-20 17:59] #1756 closed

[2017-09-20 19:03] rppawlo opened #1757 "Belos: OutputManager restricts printing to process zero"
From some collaborators at ORNL:

We will also need this fixed for internal Sandia projects. We will have separate belos solvers running simultaneously on separate subcommunicators. The simplest thing to do is probably allow users to set the print rank (and possibly the comm). Then it could be made to work with FancyOStream usage which also controls the print rank.

@trilinos/belos

[2017-09-20 19:59] aprokop commented on #1757
@trilinos/belos

[2017-09-20 22:02] etphipp opened #1758 "Sacado build failures with Trilinos 12.12.1-prerelease on Windows"
Reported by Tom Russo:

Eric and Heidi:

I have been trying to get Xyce build against the lastest release
candidate for Trilinos (12.12.1) and am finding that on Windows the
build fails badly.  Xyce builds are dying with an error about
"if_then_else" in Sacado.

I can reproduce some of the Xyce build errors simply building Trilinos
with Sacado tests enabled ('-DTrilinos_ENABLE_TESTS=ON') --- the t

[2017-09-20 22:04] etphipp commented on #1758
I pushed changes to the develop (https://github.com/trilinos/Trilinos/commit/e4250da3ef809dbc587d86b0f2eb2f19f19776f2) and 12.12 (https://github.com/trilinos/Trilinos/commit/99b0900c648ac0b154ba1b06bc5b1d394d6421df) branches to resolve the Xyce build failures.  The test failures appear to be SFINAE problems with the Windows compiler which I am not inclined to fix.

[2017-09-21 01:43] aprokop commented on #1047
@trilinos/framework Can we add topics? If not, I'm going to close this up.

[2017-09-21 04:22] mhoemmen commented on #1757
Alas, we've known this for years.  Anasazi has the same issue.  I think @hkthorn even discussed a plan for fixing it a few years ago.

[2017-09-21 04:32] aprokop commented on #1757
@trilinos/xsdk Is this considered to be compatible with xSDK?

[2017-09-21 12:56] aprokop commented on #1737
It seems that the checksum change was github-wide. [Spack](https://github.com/LLNL/spack/issues/5411) and other package managers are dealing with the problem.

[2017-09-21 13:53] searhein commented on #1752
I have just submitted my pull request #1759. Unfortunately, it is rather large.

[2017-09-21 14:22] #1660 closed

[2017-09-21 14:22] #1588 closed

[2017-09-21 14:32] aprokop commented on #1705
This is not to be closed, the discussion about percentages is still ongoing.

[2017-09-21 15:44] hkthorn commented on #1757
@mhoemmen @aprokop @rppawlo Yes, this is a known issue and I did discuss an idea earlier this year (around February 8th) about using Teuchos::Comm to address this issue.  Here is what I sent to Mark:

'In light of the outputting issues for Belos and Anasazi when communicators (other than WORLD are used), I was thinking of amending the solver managers to have a method that will take a Teuchos::Comm

[2017-09-21 15:53] bmpersc commented on #1737
@aprokop That is good to know, in some ways. It lends some credence to the theory that github changed the way they make the tarballs. It is unfortunate in the long run since no project on github can control those tarballs and changing the md5 breaks anyone doing the smart thing which is to verify that the download was correct.

[2017-09-21 15:55] mndevec commented on #1401
@bmpersc

Let me keep this open for a bit more so that I won't forget. Once the kokkoskernels changes are fixed, I will need to convert the GEMMs to kokkoskernels implementation instead,.

[2017-09-21 16:05] bmpersc commented on #1401
@mndevec I didn't close this manually. I did, however, update the Trilinos master branch about 2 hours ago.

Looking at the commit linked the reason why this was closed is that the commit has the phrase "fixed #1401" in the commit message which is something github monitors to help automate updates to issues. The full context is "Ifpack2: RBILUK, changes of Kokkoskernels are fixed #1401." Which see

[2017-09-21 16:07] jwillenbring commented on #1755
@mhoemmen @tjfulle I would support the temporary solution here to clean up the nightly failures, and then certainly implement the permanent solution. If we want to leave this failure as a reminder we should move the build to the specialized track instead of nightly.

[2017-09-21 17:15] mhoemmen commented on #1755
@jwillenbring I don't have access to this computer to change its build settings.

[2017-09-21 17:18] mhoemmen commented on #1752
@searhein It would be helpful if you could summarize for me what files relate to Tpetra.  Thanks!

[2017-09-21 17:20] mhoemmen commented on #1757
@hkthorn It could be nicer if we added a hidden traits class that extracts a comm from the Operator.  We could do this for Epetra as well as Tpetra that way, and other Operator implementations would just return null.

[2017-09-21 17:33] searhein commented on #1752
@mhoemmen In fact, Tpetra is used through Xpetra almost in the whole code. However, running
the test in
`/packages/shylu/shylu_dd/frosch/test/TestLaplacian_Tpetra`
e.g., with
`mpirun -n 8 ./ShyLU_DDFROSch_frosch_laplacian_tpetra.exe`,
the code gets stuck in line 90 of the file
`packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp`, i.e., performing
`matrix->doImport(*tmpMatrix,*gather,Xpe

[2017-09-21 19:07] sayerhs commented on #1727
@jjellio : Have you investigated the use of `autohbw` for array allocation, if so, what is your recommendation there? My understanding is that it is only used when using the node in `flat` mode, is that correct? Thanks in advance.

[2017-09-21 19:08] mndevec opened #1760 "MueLu/Tpetra local-ordinal/offset type errornous conversion issues"
I am having issues whenever I "serially" run experiments with large matrices that have larger than 2B nonzeroes.  For example, I am running MueLu test driver, with 200M rows and 5.4B rows, which should be okay for single rank, as local ordinals are int, and offset type is size_t. This segfaults without printing anything, which suggests overflow issues as early as during input generation.

I am try

[2017-09-21 19:14] aprokop commented on #1760
@trilinos/muelu

@mndevec Yes, I don't think we are careful enough not to mix `LocalOrdinal` and `size_t`. We don't have any drivers/testing supporting this regime, so it's no surprise that it fails. I can work with you to iron out the issues here. Are you running the regular MueLu or the Kokkos-refactor "branch"?

[2017-09-21 19:19] mhoemmen commented on #1760
@mndevec Even Kokkos team parallelism isn't so particular about using 64-bit types where appropriate.  I would be very nervous about problems with more than 2B things on a process.

[2017-09-21 19:22] aprokop commented on #1760
Is this mode is something that a lot of people care about, or is going to become important in the future? Because when you say MueLu, you are talking *all* upstream packages from it (Ifpack2, Xpetra, ...)

[2017-09-21 19:33] lucbv commented on #1760
@mndevec did the 200M rows test case work eventually? I am currently working on a test case at 20M but will eventually move on to something at a little more than 100M. It would be nice to be sure that these work decently well.

[2017-09-21 19:38] kddevin commented on #1760
From the discussion in #674, I thought this use case was supported, so we made changes in Zoltan2 to support offset_type that is not defined to be local_ordinal.
Should we just be using local_ordinal for all local indexing?  If so, should we remove offset_type?

[2017-09-21 19:39] mndevec commented on #1760
@aprokop I was running regular MeuLu without the refactor branch.
@lucbv , it does not run on a single rank, I was able to run it with 4 ranks, but then it fails when I try to write the matrices.

If we are going through the route of separate offset and local_ordinal type, we should be able to handle such large cases. Otherwise, we are paying the price of 2 template parameters, and possibly slowin

[2017-09-21 20:40] jjellio commented on #1727
I have not used it. You can restrict all allocations to HBM in flat mode with numactl -m 1, which will strictly bind the process into the HBM numa domain. Once 15GB is reached, malloc's will fail and the code will crash.

You can also use preferred binding srun <srun_options> numactl -p 1 ./myapp <app_options>

With preferred, the app will try to allocate in HBM first, but if that fails it will fa

[2017-09-21 20:50] kddevin commented on #1440
@mplooster I was checking Trilinos' wiki instructions for unblocking github emails, when I found this issue report.  This one must have been blocked, as I can't find it anywhere in my mailbox.  So sorry!

Certainly, as long as your first idea works on linux/mac, we can do that.

For the second idea, is there a way for perl to determine that it is running on a windows system?  If so, we can define

[2017-09-21 21:08] kddevin commented on #1512
Sorry, @nschloe ; I am just seeing this issue now.
https://github.com/trilinos/Trilinos/wiki/GitHub-Notifications

Zoltan is still released as a standalone package, and the standalone package uses autotools to build.  I am not an autotools expert, so I do not know how to fix this problem while allowing autotools to continue working.  If there is a way to make autotools work without these files, pl

[2017-09-21 21:09] bmpersc commented on #1047
@aprokop I think that this could be useful, but is not the most important thing for the Framework to look into right now. It is also likely very low hanging fruit to enable.

This should honestly should be brought up to the larger community, especially on what topics Trilinos should have. With TUG coming up this might be a good topic for developer day.

[2017-09-21 21:10] kddevin commented on #1640
Sorry @gsjaardema ; I am just seeing this issue now.
https://github.com/trilinos/Trilinos/wiki/GitHub-Notifications

Are you still interested in this change?  If so, I think it would be easy to move the function for you.  Just let me know.  Thanks.

[2017-09-21 21:13] #591 closed

[2017-09-21 21:15] nmhamster commented on #600
@kddevin - I think we can close it. If I find the problem again, I will reopen. Thank you!

[2017-09-21 21:17] kddevin commented on #600
Thanks, @nmhamster

[2017-09-21 21:17] #600 closed

[2017-09-21 22:03] ibaned commented on #1687
There has finally been a merge to master (~400 commits, about a month of lag). Tomorrow's dashboard should confirm.

[2017-09-21 22:21] mndevec commented on #1760
@kddevin : below is how I generate this error.
./MueLu_Driver.exe --nx=570 --ny=570 --nz=570   --matrixType="Brick3D" --xml=../rap.xml

rap.xml is as below.
[code]

[2017-09-21 23:42] gsjaardema commented on #1640
Yes. Still interested.

Thanks.
.. greg

On Thu, Sep 21, 2017 at 15:10 K Devine <notifications@github.com> wrote:

[2017-09-22 02:06] bartlettroscoe opened #1761 "Upgrade minimum required version of CMake to allow for TriBITS refactorings"
**CC:** @trilinos/framework

## Description

This story is to drive the upgrade of the minimum version of CMake required to configure Trilinos.  Currently the minimum version is 2.8.11 which was first tagged way back May 15, 2013 (i.e. more than 4 years ago).  Upgrading the minimum version of CMake will allow us to take advantage of newer CMake features to refactor and simplify a lot of code in Tr

[2017-09-22 02:19] bartlettroscoe commented on #1416
Note that the approach that I describe above will also work for holding protected files in certain repos.  You can just exclude those repos when you don't have access.  For example, the CASL VERA project has different access controls on different git repos so the system had to support checkouts and usage of subsets of repos.

@srajama1, let me know if you are okay with the above repo name and clon

[2017-09-22 10:59] nschloe commented on #1512
The two files I mentioned are system-dependent and shipped by many Linux distros. In Debian/Ubuntu etc. you'll find them in `/usr/share/misc/`. Quoting from https://wiki.debian.org/AutoTools/autoconf:

(The "current versions" are the ones in `/usr/share/misc/`.) Perhaps a good suggestion would be to rename `packages/zoltan/config/config.*` into `packages/zoltan/config/config.*.fallback` or so that

[2017-09-22 12:42] mplooster commented on #1440
@kddevin [Here are some suggestions](https://stackoverflow.com/questions/334686/how-can-i-detect-the-operating-system-in-perl) that might work for determining the OS in Perl.

[2017-09-22 15:22] ibaned commented on #1761
What should the new minimum version be? My vote is for 3.0.1 or newer, because that was really the beginning of "modern CMake" as it is now seen in tutorials throughout the web. The benefits of exported target properties are amazing. Also that version was released in 2014.

[2017-09-22 16:28] mhoemmen commented on #1760
@kddevin wrote:

That is still the right thing to do, but if we really want to support this use case, I think we need some more comprehensive tests at all levels of the stack.

[2017-09-22 16:45] mhoemmen commented on #1761
I'm all for doing this.  Does changing the minimum required CMake version in Trilinos improve configure times?  I've heard that newer CMake versions go into a backwards compatibility mode if the minimum required version is low, but I'm not sure how that effects configure times.

[2017-09-22 17:19] kddevin commented on #1440
@mplooster I pushed the change as you recommended:  check for the operating system type and set "tee" to be "Powershell..." on windows systems.  The changes work fine on linux systems.  Unfortunately, I have no way to test the windows part of the changes.   Are you able to test them in your environment?
I will close this issue for now; if the problem persists, please reopen it.  Thanks!

[2017-09-22 17:19] #1440 closed

[2017-09-22 17:58] mhoemmen opened #1763 "Tpetra::DistObject::doTransfer allocates & copies CUDA LID buffers each call"
@trilinos/tpetra

The code path in `Tpetra::DistObject::doTransfer` that calls `doTransferNew` (for the "new" DistObject interface) allocates CUDA device buffers on each call.  The device buffers are for local indices (LIDs) that come from the Import or Export object.  Import and Export are immutable; those LIDs never change.  Thus, these allocations are unnecessary.  Other Tpetra issues (see e.g.

[2017-09-22 19:25] csiefer2 commented on #1760
As an aside, Windows testing has revealed pretty pervasive size_t/int issues floating across the stack.

[2017-09-22 19:37] bartlettroscoe commented on #1761
Yes and no.  A while back Brad King at Kitware identified a major performance gain when going with CMake 3.3 policies.  So now TriBITS will automatically turn on CMake 3.3 policies when it detects CMake version 3.3 or above.  So we get CMake 2.8.11 backward compatibility but we get CMake 3.3+ performance.  But there may be other issues like this that we may benefit from.

Many other features have

[2017-09-22 20:26] kddevin commented on #1760
@csiefer2 Please describe.

[2017-09-22 20:43] kddevin commented on #1640
Done.  @gsjaardema , please reopen this issue if you have any problems.

[2017-09-22 20:43] #1640 closed

[2017-09-22 20:49] csiefer2 commented on #1760
Visual studio reports a ton of warnings like this:

Warning C4267: '=': conversion from 'size_t' to 'int', possible loss of data

Usually this is either due to (a) explicit use of ints or (b) where "int" is the actual type that LocalOrdinal represents.

Look for "TRILINOS-WIN1" on Cdash

[2017-09-22 20:55] mhoemmen opened #1764 "MueLu: Unit tests appear to be invoking Ifpack2::Chebyshev for complex Scalar type"
@trilinos/muelu See e.g., this test result:

https://testing.sandia.gov/cdash/testDetails.php?test=41460718&build=3121008

Here is a sample bit of output:
[code]

[2017-09-22 20:57] mhoemmen commented on #1764
See also geminga's `Linux-GCC-5.2.0-BROKEN_NO_EPETRA_NO_SERIAL_OPENMP` and  `Linux-GCC-5.2.0-BROKEN_NO_SERIAL` builds; the same error appears there.

[2017-09-22 21:00] tjfulle commented on #1755
@jwillenbring , I don't have access either.

[2017-09-22 21:06] kddevin commented on #1217
@bathmatt Is this issue still important for you?  I am looking at old Zoltan issues today.

[2017-09-22 21:35] aprokop commented on #1764
@mhoemmen Thanks for reporting. I saw that and was debating on what to do with this. Will try to fix sometime next week.

[2017-09-22 21:41] tjfulle commented on #802
@mhoemmen, can this issue be closed?  Or, is there more to be done?

[2017-09-22 21:56] kddevin commented on #1512
With just renaming those files, configure/make does not work.
It appears autoreconf is then needed to get the system version of the files.
And autoreconf overwrites the existing files with the system version (which, on both my mac and my linux workstation, are identical to the existing versions).
Maybe there is some other magic needed for configure/make to just work?

[2017-09-22 22:13] mhoemmen commented on #802
@tjfulle It's done -- thanks! :-D Great work btw!

[2017-09-22 22:13] #802 closed

[2017-09-22 22:55] jhux2 commented on #1755
I don't think access to the machine itself is necessary.  This change can probably be done through the machine scripts in the repository:  `Trilinos/cmake/ctest/drivers/apollo`.

[2017-09-23 05:08] mndevec commented on #1760
@csiefer2 those warnings are visible with gcc & -Wconversion flag.

As you said there are many of (a) and (b) situations.
There exists many (c) where it is in fact safe to do this assignment as below where we know that row_size is Local Ordinal. But this is unfortunately making the fixes more difficult.
[code]

[2017-09-23 13:01] bartlettroscoe commented on #1400
Update:

I meet with @kruger yesterday and he about has things worked out for the needed changes to Kokkos on the branch:

* https://github.com/Tech-XCorp/kokkos/tree/issue-878

He just needs to work on the automated tests for this some (e.g. change from full diffs to targeted greps of generated files for CMake and Make build systems) and then the branch should be ready for the Kokkos developers t

[2017-09-23 16:23] ibaned commented on #1761
A bold plan, but I can understand the rationale in terms of clearing the conditionals out of TriBITS.
Are there specific features that even non-TriBITS users ought to be aware of?

[2017-09-23 21:45] mhoemmen commented on #1760
@mndevec Do you still get the warnings if you cast explicitly?
[code]

[2017-09-24 14:03] Chaztikov commented on #1713
Many thanks again, it seems there is another underlying issue, I believe you can close this!

[2017-09-25 00:31] mhoemmen commented on #1713
@Chaztikov Thanks!

[2017-09-25 00:31] #1713 closed

[2017-09-25 01:27] mndevec commented on #1760
I think, you don't get warning with explicit casting.

[2017-09-25 04:36] mhoemmen commented on #1760
@mndevec I would recommend using an explicit cast for situations like this.  It helps the reader see that you're casting, and it's a good opportunity to add a comment justifying the cast.  In this case, it's perfectly justified, assuming that rows never have enough duplicates to exceed the bounds of `LO`.

[2017-09-25 13:22] rppawlo commented on #1761
@ibaned - cmake 3.9 is important if you use ninja. From the release notes:

This didn't make much difference if you only need a few Trilinos packages, but for apps like Drekar that require 45+ packages, it is significant.

[2017-09-25 13:36] bartlettroscoe commented on #1761
Also, CMake 3.7+ is needed in order to generate the dummy makefiles for Ninja that I think @rppawlo is using.  This was a new feature that was added to TriBITS (see TriBITSPub/TriBITS#166) that is not present in CMake (Kitware did not want to add that feature to CMake proper, for whatever reason).  I think it is useful to be able to just configure, then `cd` into a directory and then just type `ma

[2017-09-25 13:40] rppawlo commented on #1761
Yes - this is extremely useful for development.

[2017-09-25 13:44] ibaned commented on #1761
I see, thank you both for the details.  I guess I should start experimenting with Ninja.

[2017-09-25 13:44] bartlettroscoe commented on #1761
With CMake 3.10, CMake projects will be able to define subprojects and submit them to CDash and display results subproject-by-subproject with much less specialized infrastructure (and no hacking of CTest XML files).  But you would not get the rest of the advantages of an explicit package-based architecture like with TriBITS.

[2017-09-25 13:46] bartlettroscoe commented on #1761
If you build any Fortran, you will need Kitware's fork of Fortran.

I just tried SPARC (which has C, C++, and Fortran) and CMake + Ninja (with Kitware Fortran enhancemetns) and it worked great.

[2017-09-25 13:47] ibaned commented on #1761
That is even more directly interesting to me, I'd like to try this out once its available.

I'm going to assume you mean Ninja?

[2017-09-25 13:49] bartlettroscoe commented on #1761
Yes, Kitware's fork of Ninja to support Fortran.

[2017-09-25 14:24] csiefer2 commented on #1760
@mndevec @mhoemmen  I've been scattering explicit casts throughout Trilinos to suppress those warnings and to make it obvious to the viewer that we're playing fast and loose with types.

They do seem to suppress the warnings.

[2017-09-25 15:13] srajama1 commented on #1752
FYI : This change is going in ShyLU this week with Tpetra options disabled. That said it would be a lot of help to resolve this issue soon as we are planning application integration within the next few weeks.

[2017-09-25 15:52] mhoemmen commented on #1760
@csiefer2 I wouldn't call this case "playing fast and loose with types"; we can prove in this case that the cast is correct, given a modest assumption of not too many duplicate entries in a row.  But yes, in general, making casts explicit is good :-) .

[2017-09-25 17:21] lucbv commented on #1760
Would it make sense to have a build with -Wconversion flag on so that these conversions can be tracked more easily and eventually fixed if needed?

[2017-09-25 17:22] csiefer2 commented on #1760
@lucbv Yes.  We should add one on geminga.

[2017-09-25 17:28] kddevin commented on #1752
@mhoemmen @tjfulle do either of you have time this week to look into this issue with @searhein?
@searhein would it be possible for you to create a stripped down test that does your import (e.g., with the same  maps, matrices, etc.) without all the rest of the ShyLU details?

[2017-09-25 17:41] mhoemmen commented on #1752
@kddevin If @searhein has time to work on a stripped-down test, I'll be happy to help.  It would also be nice to see the results of running in a debug build with the CMake options `Teuchos_ENABLE_DEBUG:BOOL=ON` and `Kokkos_ENABLE_DEBUG:BOOL=ON` both set.

[2017-09-25 17:45] tjfulle opened #1770 "Tpetra: Create methods to test runtime sized scalar types"
This issue is to discuss and implement methods to test runtime sized scalar types as used in @trilinos/stokhos, without having to build all the way through to Stokhos.

@trilinos/tpetra
@mhoemmen
@etphipp

[2017-09-25 17:47] tjfulle commented on #1752
@kddevin, I can help too.

[2017-09-25 17:58] mhoemmen commented on #1755
@jhux2 wrote:

It's not quite so obvious as that.  Jenkins can let servers control build settings, e.g., through `JENKINS_CMAKE_FLAGS`.

[2017-09-25 17:59] mhoemmen commented on #1755
@trilinos/framework

[2017-09-25 17:59] mhoemmen commented on #1755
@jwillenbring I assigned this to you, but please feel free to reassign if there is a better person.

[2017-09-25 18:01] jhux2 commented on #1760
@csiefer2 geminga is heavily loaded already.  I'd suggest enigma.

[2017-09-25 18:05] mhoemmen commented on #1770
@tjfulle suggested creating a "fake Stokhos" Scalar type that has run-time size, say using `std::vector`.  We only need it for tests, so we don't have to add it to the ETI system; we could just do the instantiations by hand for the tests that need them.

[2017-09-25 18:06] mhoemmen commented on #1770
@etphipp The only issue with my above suggestion is that we might need some kind of `Kokkos::View` specializations to handle the run-time Scalar type.

[2017-09-25 18:15] etphipp commented on #1770
We could also move the Stokhos scalar types into another package with minimal dependencies that you could use directly in Tpetra tests.

[2017-09-25 18:16] etphipp commented on #1770
Actually, come to think of it, that probably won't work since the dynamically sized scalar type depends on other things in Stokhos.

[2017-09-25 18:17] etphipp commented on #1770
For whatever scalar type you use, you shouldn't technically need a View specialization.  It will just be wicked slow if you don't have one, and you will be limited in how large of view's you can allocate on the GPU.

[2017-09-25 18:20] etphipp commented on #1770
Sacado's DFad is a dynamically sized scalar type that could be used as well.  Sacado only has dependencies on Teuchos and Kokkos.

[2017-09-25 18:21] tjfulle commented on #1770
Minimally, Tpetra should test the capability, otherwise the capability is a bug according to item 2 in the [Trilinos Testing Policy](https://github.com/trilinos/Trilinos/wiki/Trilinos-Testing-Policy).

[2017-09-25 18:38] bmpersc commented on #1517
@prwolfe This is the issue for the release 12.12. The first comment has the steps we use for creating the branch.

[2017-09-25 18:46] csiefer2 commented on #1760
@jhux2 Fine by me.

[2017-09-25 19:06] mhoemmen commented on #1770
@etphipp wrote:

Would it be weird for Tpetra to have an optional test dependency on Sacado?

[2017-09-25 19:06] mhoemmen commented on #1770
@etphipp Just to clarify: If I remember right, Stokhos does all the instantiations and testing for Tpetra and downstream solver packages, for both Sacado and Stokhos Scalar types.  Is that right?  If so, then that might make it hard for Tpetra to depend optionally on Sacado.

[2017-09-25 19:29] etphipp commented on #1770
No, that's not exactly right.  Stokhos does all instantiations and testing for Tpetra and downstream packages for Stokhos scalar types.  There currently is no use of Sacado scalar types in Tpetra (or downstream), although there could be.  It just isn't something a customer has needed.

[2017-09-25 19:37] searhein commented on #1752
@kddevin @mhoemmen @tjfulle I just pushed another test
`packages/shylu/shylu_dd/frosch/test/TestImport_Tpetra`
to my PR which also gets stuck with this issue. Does this help?

[2017-09-25 20:47] mhoemmen commented on #1770
@etphipp Would you object to us adding an optional test dependency of Tpetra on Sacado, so that Tpetra can test with Sacado Scalar types?

[2017-09-25 20:48] ibaned opened #1772 "Amesos2 doesn't compile with Tacho disabled"
I just got a compile error while running the checkin script for #1767:

[code]

@trilinos/amesos2  @kyungjoo-kim  this is breaking all attempts to use the checkin script.
Please make sure you use the checkin script before pushing changes, or at least test that Amesos2 still compiles when ShyLUTacho is disabled.

[2017-09-25 20:48] etphipp commented on #1770
Sure, that would be fine.

[2017-09-25 20:51] kyungjoo-kim commented on #1772
Sorry. I merged the PR. I will fix this.

[2017-09-25 20:57] ibaned commented on #1772
I guess the PR in question is #1563

[2017-09-25 20:58] kyungjoo-kim commented on #1772
Yes correct. I just need to change the status of my code to "ST" from "EX". I am running my check in script to verify this. It won't take much of time (probably 30 mins).

[2017-09-25 21:00] ibaned commented on #1304
The merge of PR #1563 caused a compile error in the standard SEMS build used for checkin, which blocked the checkin of #1767. The details are logged as issue #1772.

[2017-09-25 21:08] tjfulle commented on #1770
@etphipp, if Sacado was an optional test dependency, are there tests in `Stokhos_TpetraCrsMatrixUQPCEUnitTest.hpp` that can be copied to Tpetra with minimal modification?  Tests like `VectorAdd`, `VectorDot`, `MatrixVectorMultiply`, etc. don't seem to use anything in the Stokhos namespace - except that each uses the function `build_cijk` which does (use stuff from the Stokhos namespace).  If `buil

[2017-09-26 00:19] bartlettroscoe commented on #1772
Here is the push that broke the standard CI build:

[code]

(FYI: Looks like @ibaned's commit `6240ccb "EpetraExt: fix memspace handle closing"` just happened to get pushed at the same time, which is why it is shown above.  This is the weakness of the push logger I wrote.  It can't resolve pushes that occur at about exactly the same time.  In this case, they were pushed within 1 minute, which is v

[2017-09-26 00:26] bartlettroscoe commented on #1304
@ibaned,

Thanks for catching this so fast!  You reported this more that 2.5 hours before the post-push CI build showed this failure (because it was already processing an earlier push that was pretty expensive to rebuild).

[2017-09-26 00:57] bartlettroscoe commented on #1619
Looks like the GitHub API works fine with spaces in the labels.  See:

* https://stackoverflow.com/questions/41761927/github-api-issues-by-label-with-spaces

FYI: I just switched the github.com/TriBITSPub/TriBITS repo to using namspaced lables (e.g. `<category>: <value>`) and it works just fine and is quite readable.  Even waffe.io works fine (after updating the names of Kanban `stage` labels in t

[2017-09-26 02:12] bartlettroscoe commented on #1772
I reverted this with:

[code]

This is now identical to the version of Trilinos in commit:

[code]

as shown by:

[code]

I am running:

[code]

This will test the modified packages only (ShyLU and Amesos2) and then push.  Should be much better than leaving a build failure to go into nightly testing.

[2017-09-26 10:39] nschloe commented on #1512
I've read up on autotools and found the following:

  * Most tarballs out there ship with autoconf files (like Zoltan does). This allows the user to to skip the step.
  * Debian guidelines recommend _not_ ship those files and let the user run `autoconf` (https://wiki.debian.org/Autoreconf):

Since those files aren't directly used in a CMake build, I'll simply ignore Debian rule 4.3 (see original p

[2017-09-26 10:39] #1512 closed

[2017-09-26 13:02] anates opened #1773 "Compilation error with Nox and PETSC"
When compiling Trilinos with PETSC (compiled with complex number support) I get the following errors:
[code]
Which options in cmake do I have to set to avoid those errors? Or are those errors in the library?

[2017-09-26 13:09] bartlettroscoe commented on #1772
Last night I pushed the revert commit:

[code]

So far the CI build this morning is looking clean, including for Amesos2 as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3128858

@kyungjoo-kim,

Please fix this on the branch, then test with:

[code]

That will tell you if it is okay to merge this branch.

Or, if you want to just cross your fingers and merge and

[2017-09-26 13:12] rppawlo commented on #1773
nox support for petsc is only implemented for a double scalar type. I If you don't require nox with petsc support, then just disable with NOX_ENABLE_PETSC=OFF in your configure.

[2017-09-26 13:13] bartlettroscoe commented on #1304
FYI: I reverted the bad merge commit referenced in #1772 and it looks like the standard CI build is clean again this morning (and hopefully it got reverted in time not to blow up the various Nightly builds).  I provided instructions in #1772 on how to fix go about fixing this and then trying to merge, test, and push again (this time using the checkin-test-sems.sh script to avoid breaking the stand

[2017-09-26 14:19] ibaned commented on #1687
Sorry this took so long to confirm, there was another build error due to using a non-C++11-compliant Intel compiler. This issue is definitely fixed, closing.

[2017-09-26 14:19] #1687 closed

[2017-09-26 15:16] kyungjoo-kim commented on #1772
@bartlettroscoe

How can I use a kind of autofill of my password when it is pushed. I ran the check-in script yesterday and it took a lot more time than I expected. It is finished after 6 PM and I had to be out of office before 6 PM due to foreign national policy in this building. Is there anyway that I can ran the script with password together ? So after all tests are done, it is pushed without a

[2017-09-26 15:17] ibaned commented on #1772
use the SSH protocol when cloning Trilinos (`git@github.com:trilinos/Trilinos.git`), and set up your SSH keys on that machine.

[2017-09-26 15:19] bartlettroscoe commented on #1772
Yes, that is correct.  Note the WARNING near the top of the page:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing

which says "(**WARNING:** The Trilinos git repo must use SSH with the remote URL git@github.com:trilinos/Trilinos.git and not HTTPS for access to github. See below note)."

SSH is our friend.

[2017-09-26 15:56] kddevin commented on #1512
Great!  Thanks, @nschloe

[2017-09-26 16:14] etphipp opened #1774 ""make install" no longer appears to install TrilinosConfig.cmake"
It appears to me that "make install" no longer installs TrilinosConfig.cmake in install_path/lib/cmake/Trilinos as it used to.  In that directory I only have a file called TrilinosConfigVersion.cmake.  Is this intentional somehow?  How are users of Trilinos supposed to link Trilinos into their application with cmake?

[2017-09-26 16:29] bartlettroscoe commented on #1390
From Jim at SART Meeting:

Plan is to get Trilinos 12.12 release out.  Then Xyce will use that for C++98 support.

[2017-09-26 16:35] maherou commented on #1216
Can this issue be closed?

[2017-09-26 16:37] bartlettroscoe commented on #1751
From the discussion at the SART meeting today, I think the best course is to move forward and see how this goes.   Since this primarily a Trilinos/ATDM integration issue and not a Trilinos Framework issue, it makes sense for me as the Coordinated DevOps for ATDM lead to direct this integration work to more directly better serve ATDM customers and developers.

If the direct snapshotting of SEACAS i

[2017-09-26 16:48] ibaned commented on #1390
Is there a timeline for this?

[2017-09-26 17:03] william76 commented on #1755
@jwillenbring I added the Cmake flags described above to the Jenkins job that drives this test.  We'll see how it turns out in tonight's run.

[2017-09-26 17:04] bmpersc commented on #1755
@mhoemmen the JENKINS_CMAKE_FLAGS is not a jenkins thing to my knowledge. It looks like @crtrott  added that to only the Apollo jobs. It is fairly cryptic as JENKINS_CMAKE_FLAGS is only used to set CMAKE_CXX_FLAGS for the Trilinos configure which I would never have guessed.

I am a little concerned about doing so for 2 reasons.
1. The options @tjfulle suggested are -std=c++11 and --expt-extended-l

[2017-09-26 17:08] hkthorn commented on #1390
@ibaned Xyce has given the green light for Trilinos 12.12 to be released.  We have tested against the release branch successfully.  Talked to @jwillenbring and release will hopefully happen this week.

[2017-09-26 17:27] bartlettroscoe commented on #1751
A little more background on this (which is all given in SPAR-277) ...

The core of the problem is the indirect snapshotting of SEACAS into Sierra.base, then the snapshot of SEACAS **AND** STK to Trilinos and then the update of Trilinos to SPARC (and other ATDM APPs and developers).  The problem here is always going to be breakages caused by STK (breaking the CMake build of STK) and breaking downst

[2017-09-26 17:36] etphipp commented on #1774
Never mind.  This was caused by "user error".

[2017-09-26 17:36] #1774 closed

[2017-09-26 17:43] bmpersc commented on #1774
@trilinos/framework
@etphipp that is not intentional. Those files should be getting installed. The approved and expected method to link Trilinos would be to use the cmake find_package(...) or the makefile includes.

[2017-09-26 17:51] mhoemmen commented on #1773
@anates I edited your post to make the error messages verbatim (surrounding them with triple back quotes), so that the punctuation wouldn't trigger formatting.

[2017-09-26 17:52] mhoemmen commented on #1752
@searhein Yes, thank you.  Please be a bit patient as we are a bit overwhelmed these days.

[2017-09-26 19:18] mhoemmen opened #1775 "Tpetra::Map::getMyGlobalIndices needs a fence after creating & filling lgMapHost_"
@trilinos/tpetra

`Tpetra::Map::lgMapHost_` is a host mirror of a `CudaUVMSpace` View.  That makes it -- surprise! -- a `CudaUVMSpace` View.  Thus, we need to issue a fence after filling it on device (which `Tpetra::Map::getMyGlobalIndices`) does, before using it on host.  This affects the legacy `Tpetra::Map::getNodeElementList` method as well, since it claims to offer host access.

[2017-09-26 19:24] etphipp commented on #1755
This needs to get resolved quickly because we now have no regular cuda testing.  It appears Stokhos broke on Cuda some time in the last few weeks and no one noticed because we don't have any testing once this build went down.

[2017-09-26 19:34] mhoemmen opened #1776 "Stokhos: Failing test in CUDA build"
@trilinos/stokhos @trilinos/tpetra

This is a summary of some e-mails I've been exchanging with @etphipp .

The `Stokhos_TpetraCrsMatrixUQPCEUnitTest_Cuda` fails (in a CUDA build only).

When I ran cuda-gdb on this test with a single MPI process, I got this:
[code]
Here, `element_list` is the result of `Tpetra::Map::getNodeElementList()`.  That is _supposed_ to return host memory, but it actually

[2017-09-26 19:36] etphipp commented on #1776
The operator=() should handle that.  The likely case is that X is not dimensioned correctly.

[2017-09-26 19:37] mhoemmen commented on #1755
See #1776 for the failing Stokhos test in CUDA builds.

[2017-09-26 19:38] mhoemmen commented on #1776
@etphipp wrote:

How can I check this in a generic way?  Would I need to write a trait class for the run-time dimension of a Scalar type?

[2017-09-26 19:45] mhoemmen commented on #1776
@etphipp Ah, `Sacado::UQ::PCE` has a `size()` method.  I can write a trait class for this (or just use PackTraits, already in Tpetra).

[2017-09-26 19:51] etphipp commented on #1776
Hold on, let's just figure out what is wrong first.  A traits class or specialization shouldn't be necessary.

[2017-09-26 19:52] jwillenbring commented on #1751
@bartlettroscoe @gsjaardema My Albany/NaLu comment was incomplete and rushed. A primary concern from the Trilinos Framework perspective is that over the last year a snapshotting capability was developed and is in use now for SEACAS and STK. Greg could potentially just use that capability and @bmpersc would be happy to demonstrate it if he wants to evaluate that solution also.

If Greg chooses to u

[2017-09-26 20:07] etphipp commented on #1776
How are you getting cuda-gdb to stop at this error?  When I run it in cuda-gdb it goes right past it.  With cuda-memcheck it prints the error, but doesn't stop.

[2017-09-26 21:59] mhoemmen commented on #1776
@etphipp I did an `MPI_DEBUG` build and set the CMake options `Kokkos_ENABLE_DEBUG:BOOL=ON` and `Teuchos_ENABLE_DEBUG:BOOL=ON`.  The Kokkos option may make some effort at catching CUDA kernel issues.

[2017-09-26 22:26] jhux2 commented on #1727
@jjellio @srajama1 Question from @sayerhs:

[2017-09-26 22:33] ibaned commented on #1727
@dsunder

[2017-09-26 23:21] bartlettroscoe commented on #1772
Looks like the fix got pushed today as shown in the push logger:

[code]

And it got pulled in the CI iteration that started at 15:43 UTC today shown in:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=3129197

where these commits are shown pulled in this CI iteration in:

* https://testing.sandia.gov/cdash/viewNotes.php?buildid=3129199##note1

showing:

[code]

Closing thi

[2017-09-26 23:21] #1772 closed

[2017-09-26 23:37] bartlettroscoe commented on #1751
The Trilinos Framework team need to define the basic requirements for snapshotting into Trilinos.  That is, the snapshot commits in Trilinos need to show tractability to the originating repo and the exact version in that repo in the commit log in the Trilinos snapshot commit (that is critical for many reasons).  But other than that, the tool that is used should not be mandated (i.e. one should be

[2017-09-27 00:08] aprokop commented on #1743
I have a first version implemented. However, it did not gain performance so far, and lost about 15%. This is completely not optimized version. The good news is that the multiplication kernel is isolated so can be optimized.

I noticed that Kokkos Kernels' spgemm uses `KokkosKernels::HashMapAccumulator`. I think this may be useful to me. However, there is no documentation for that. @mndevec Could y

[2017-09-27 00:15] etphipp commented on #1776
I believe I figured out what is going wrong.  I have a fix committed to my local clone and the checkin test script is running for the push.  My fix creates specializations for the fill() function for UQ::PCE and MP::Vector scalar types.  It fixes the correctness issue here for UQ::PCE and also will improve performance for both scalar types.

It is bothersome that a specialization for such a simple

[2017-09-27 00:15] jjellio commented on #1776
@mhoemmen I have some updated data regarding Scale and Fill.

I need to digest it though. It looks like a HT issue. As for putScalar vs Scale, I now have data for four cases:

fill w/zero
fill w/a random scalar (not one or zero)
scale w/one
scale w/a random scalar (not one or zero)

Scale (MKL scal) was optimizing the case of scaling by 1.0 (giving excellent performance)
Scale given non trivial fl

[2017-09-27 01:50] aprokop commented on #1764
Fix pushed to develop (simply switched from using Chebyshev to using Symmetric Gauss-Seidel).

[2017-09-27 02:13] mhoemmen commented on #1776
@etphipp I'm curious why `Kokkos::deep_copy(X,alpha)` works, but the `Fill` functor does not.  My guess is that you've overloaded `Kokkos::deep_copy`'s back-end to do the right thing :-) .

[2017-09-27 02:23] mhoemmen commented on #1776
@jjellio wrote:

`KokkosBlas::scal` may not necessarily optimize fully for this case.  See here:

https://github.com/trilinos/Trilinos/blob/6fe9075113212ca8f70bdbb4418865955307474c/packages/kokkos-kernels/src/blas/impl/KokkosBlas1_scal_impl.hpp#L111

The kernel is correct for `alpha = 1`, but it does an assignment that the compiler may not know to optimize out.

[2017-09-27 02:24] mhoemmen commented on #1776
@etphipp Does your commit to develop make the Stokhos test in question pass with CUDA for you?  Thanks for working on this! :-)

[2017-09-27 02:37] etphipp commented on #1776
According to my testing, it makes the test in question pass on CUDA.  It works because I already have an overload of deep_copy() that does the right thing.

[2017-09-27 02:38] mhoemmen commented on #1216
@jhux2 @trilinos/muelu

[2017-09-27 02:38] etphipp commented on #1776
I should add an overload that takes the execution space as an argument though.

[2017-09-27 02:39] mhoemmen commented on #1755
@bmpersc I don't really know what the right thing is to do here.

[2017-09-27 02:41] mhoemmen commented on #1764
@aprokop Thanks! :-D

[2017-09-27 02:41] #1764 closed

[2017-09-27 02:53] mhoemmen commented on #1775
Fixed in develop.

[2017-09-27 02:53] #1775 closed

[2017-09-27 02:54] mhoemmen commented on #1776
@etphipp 's commit fixed the issue in develop; yay! :-D

[2017-09-27 02:54] #1776 closed

[2017-09-27 02:55] mhoemmen opened #1778 "Stokhos: Overload Kokkos::deep_copy specializations to take execution space instance"
@trilinos/stokhos

See #1776 comments.  @etphipp wrote: "I should add an overload [of Kokkos::deep_copy specializations for Stokhos and Sacado Scalar types] that takes the execution space as an argument though."

[2017-09-27 02:56] mhoemmen commented on #1776
@etphipp wrote:

This is now issue #1778 :-) .

[2017-09-27 04:10] bartlettroscoe commented on #1740
Responding to @dridzal's questions from his above-listed email from 9/13/2017:

But if people use topic branches, then the PR workflow scales just fine (because subteam members will be frequently be pushing and pulling to the same topic branch).  It is just that using topic branches requires more knowledge and comfort with git than the subteam repo/branch workflow we came up with for ROL that is b

[2017-09-27 08:22] jjellio commented on #1727
There are a few ways you can avoid having multiple threads per core

Assume cores_per_process is the number of cores you are giving to each process

First, OMP_NUM_THREADS needs to match the number of cores you are giving to each task.

Second, set OMP_PROC_BIND=spread

Third, set OMP_PLACES="cores($cores_per_process)" or OMP_PLACES=threads.

Fourth, invoke srun (I am assuming this is SLURM)
srun

[2017-09-27 11:56] bartlettroscoe commented on #1293
Any updates on this?  I think that clearly defining and implementing these policies is a task that only the Trilinos framework team can do.  We need these polices clearly spelled out so that we can now how ATDM-focusesd build of Trilinos will be dealt with by the Trilinos Framework team and the Trilinos development community.  That will be a key part of a FY18 deliverable for ATDM.

[2017-09-27 14:03] ibaned commented on #1303
https://github.com/gahansen/Albany/commit/6ceb70aada02f6a6a2d75b526e88d9b8a1fed790

[2017-09-27 14:37] jmgate commented on #1740
I don't think you actually need `hub`.  I wrote a `bash` script a few weeks ago that uses the [GitHub Pull Request API](https://developer.github.com/v3/pulls/#create-a-pull-request) to automatically create a PR against Trilinos `develop` from a PR that had already been accepted and merged into a Trilinos fork&mdash;no `hub` needed.  The heart of the script is a simple API call:
[code]

[2017-09-27 15:25] bmpersc opened #1780 "Shylu Tacho required test dependence on metis causing configure errors"
@trilinos/shylu @kyungjoo-kim The recent changes to ShyLU Tacho to require metis for tests is causing configure errors in our clean testing. The reason why is that we currently don't have a metis to build against on those machines. I noticed that metis was only an optional dependency for the library so I'm wondering if this being required for tests was just an oversight or if it really is necessar

[2017-09-27 15:32] srajama1 commented on #1780
Can metis be added to that machine ?

[2017-09-27 15:36] kyungjoo-kim commented on #1780
@bmpersc  You are right. In the code, the test can proceed without metis. In that case, it uses amd provided by trilinos-ss package (cholmod). When metis is available, metis gets used first.

The reason that we put metis as required tpl is because tacho performs best with metis and all performance benchmark is done with metis. This cause less confusion when someone reproduces the same performance

[2017-09-27 15:40] srajama1 commented on #1780
What you want is required for testing performance. This is what required dependence is supposed to do. I believe that is fine.

We can turn the performance test off if metis is not present. However, it would be better to install metis so we keep track of performance. I would like this to be integrated w/ the framework developed my @MicheldeMessieres for performance testing.

[2017-09-27 15:41] bmpersc commented on #1780
@srajama1 we can add metis, but that would take longer than I'd be okay with leaving this configure error for. There is also the issue that we really can't even look into doing that until next week due to other priorities, IE the 12.12. release.

[2017-09-27 15:45] bmpersc commented on #1780
@srajama1 @kyungjoo-kim would a good immediate path forward be to make metis an optional test dependency and disable the performance test(s) when metis is not available as you suggest. Followed by us getting metis available for the nightly testing so that we can have the performance tests run as part of the nightly testing? That would solve the immediate issue of the test failures and provide a pa

[2017-09-27 15:48] kyungjoo-kim commented on #1780
@bmpersc okay. I will change it as optional dependence. Let me know when metis is available in the test machine later.

[2017-09-27 16:33] bmpersc commented on #1755
@mhoemmen since the changes to the compiler options was already done by the time I completed my comment I figure we can just roll with it for now. It looks like this still failed last night, but that was due to the lack of the cuda lambda option not also being set. I just pushed that up to the testing for this so we'll see if things are fixed tomorrow.

[2017-09-27 16:43] mhoemmen commented on #1755
Thanks @bmpersc ! :-D

[2017-09-27 16:43] mndevec commented on #1743
@aprokop ,
Yes, unfortunately it lacks documentation, as I have been adding optimized specific functions as I go along. I use it to accumulate (index,value) pairs as you mentioned.

It is a hashmap accumulator for which you provide 4 arrays in the constructor.
Begins - as size of hash values points to the index of the first pair with the given hash value
Nexts - as the size of the hashmap accumula

[2017-09-27 17:31] srajama1 commented on #1780
@bmpersc : When we say long term, especially for performance tests, it has always been put in the back burner. How about leaving the tests failing as a reminder ?

[2017-09-27 17:54] bmpersc commented on #1780
@srajama1 that really isn't an option as this is failing on the clean builds. Those really can't have a reminder failure in them. I will file a ticket so we can at least have that much accountability and then I guess I'd ask you to keep our feet to the fire on this so we don't let it sit forever.

[2017-09-27 17:59] bmpersc opened #1782 "Add metis tpl to Trilinos testing"
@trilinos/framework The @trilinos/shylu team needs metis to be a tpl for testing to be able to properly test all of their code. The lack of metis actually caused a configure error which was reported in ticket #1780. An immediate solution was to make the requirement of metis optional with the caveat that we would get a metis tpl setup so that we can eventually run the tests.

@trilinos/shylu can yo

[2017-09-27 18:28] jhux2 commented on #1216
ride isn't available at the moment.

[2017-09-27 18:36] jmgate commented on #1611
Also want to look into renaming any `ghostToGlobal` and `globalToGhost` routines in the midst of this work.  This should've happened as part of #615, but I didn't know enough about what was going on at the time.

[2017-09-27 19:03] csiefer2 opened #1783 "MueLu: DefaultFactory Manager does weird stuff"
... at least when interacting with BlockedCrsMatrix.

We should investigate.

[2017-09-27 19:07] jhux2 commented on #1783
@trilinos/muelu

[2017-09-27 19:18] aprokop commented on #1783
A better description is required 😕

[2017-09-27 19:42] csiefer2 commented on #1783
How about "I have to manually override almost every factory because the default management doesn't work" ?

[2017-09-27 19:47] etphipp commented on #1778
I just pushed a change that adds the overloads.  However if you look in Kokkos, the corresponding overloads actually ignore the execution space argument, so that's what I had to do here (because Stokhos provides a partial specialization of the ViewFill<> implementation, and so the execution space would have to be added there for me to use it here).

[2017-09-27 19:47] #1778 closed

[2017-09-27 19:50] kyungjoo-kim commented on #1780
@bmpersc Now the metis is optional. Please test the clean build and let me know if you still have a problem.

[2017-09-27 19:56] mhoemmen opened #1784 "ShyLU: Build error in Tacho with complex enabled"
@trilinos/shylu

ZSYTRF takes 8 arguments; the code gives it 6 arguments.  I'm seeing this error with the MKL TPL enabled, but if you look at the code, it calls ZSYTRF in the same way when the MKL TPL is not enabled.  Here is the build error:
[code]

[2017-09-27 20:12] srajama1 commented on #1743
@mndevec : I believe lot more people will benefit from a vector, thread or team level accumulator. This is a primary differentiator. Let us plan on allowing Andrey to use it first at the thread level. The team level optimization can come later.

[2017-09-27 20:17] kyungjoo-kim commented on #1784
How do you get this error ? The LDL factorization is a place holder for my future work and it is not used anywhere in Tacho nor Trilinos.

[2017-09-27 20:18] mhoemmen commented on #1778
@etphipp I added that issue to Kokkos: https://github.com/kokkos/kokkos/issues/1127 Thanks for working on this! :-D

[2017-09-27 20:22] rppawlo commented on #678
code was reviewed and committed. Closing.

[2017-09-27 20:25] rppawlo opened #1785 "Panzer: add skeleton support to DOF Manager for HDG"
The best path forward is to write a new Intrepid basis wrapper (or FieldPattern wrapper) the removes the internal indices before being used by the Agg and GeomAgg objects.

[2017-09-27 20:27] kyungjoo-kim commented on #1784
Could you try again ?

[2017-09-27 20:37] etphipp opened #1786 "Tpetra does not compile if Kokkos::Serial is disabled."
If Kokkos::Serial is disabled (via -D Kokkos_ENABLE_Serial=OFF) then Tpetra fails to compile:

[code]
@trilinos/tpetra

[2017-09-27 20:38] srajama1 commented on #1782
I would like this to be prioritized. Like I mentioned in #1780 I would rather not let this sit and we see a performance regression. Installing metis is quite easy. If you give us access to the machine, we can do it for the framework team.

@jwillenbring

[2017-09-27 20:41] kyungjoo-kim commented on #1782
The latest version of metis is 5.1.0. Would you please install mtmetis 0.6.0 (multithreaded metis) ? We do not use the multi-threaded version yet but it will be likely to be used very soon.

[2017-09-27 21:03] jhux2 commented on #1786
@etphipp I think @mhoemmen is fixing this now.  @rstumin reported the same thing.

[2017-09-27 21:22] mhoemmen commented on #1786
@jhux2 It would be really nice if we could let Kokkos enable `Kokkos::Serial` but set `Tpetra_INST_SERIAL=OFF`.  Unfortunately, MueLu doesn't seem to build in that  case :-) .

[2017-09-27 21:32] mhoemmen commented on #1784
@kyungjoo-kim wrote:

I enabled all packages forward of Tpetra, regardless of their PT, ST, EX status.  I also enabled the MKL TPL, though it should not matter in this case.

The only reason it should compile with the MKL TPL disabled, is because the extern declaration of the LAPACK function is wrong and matches how you were calling the function.  When the MKL TPL is enabled, MKL's header file get

[2017-09-27 21:33] mhoemmen commented on #1786
Commit 9ee61e8f10e145d80d0eb2a36a94d76c0e05f134 fixes this.

[2017-09-27 21:33] #1786 closed

[2017-09-27 21:54] kyungjoo-kim commented on #1784
@mhoemmen  Does the commit fix the problem ?

[2017-09-27 21:57] mhoemmen commented on #1784
I get this CMake error now:
[code]

[2017-09-27 22:02] kyungjoo-kim commented on #1784
@bmpersc @jwillenbring @bartlettroscoe

I also saw the same error when using check-in-script. In my case, I enable secondary tests as Tacho is "ST". If you are testing "PT" without "ST" enabled and see this error, it is a bit more weird as Tacho should be disabled. In my code, the script reports it as an error but build directory is successfully created.

We probably need to figure out this more.

[2017-09-27 22:07] mhoemmen commented on #1784
@kyungjoo-kim I test everything downstream of Tpetra; this includes PT, ST, and EX packages.  Oddly enough, the build works fine.  It looks like you fixed the Tacho build issue.

[2017-09-27 22:10] mhoemmen commented on #1784
@kyungjoo-kim Amesos2 is PT, but it has an optional library dependency on ShyLUTacho, which is ST.  Is that OK?  Can PT packages depend optionally on non-PT packages?

[2017-09-27 22:14] kyungjoo-kim commented on #1784
@mhoemmen I think that it should be okay. That is what "optional" mean in my opinion but I do not know if that is feasible or not. @srajama1 However, Amesos2 has dependence on several shylu subpackages on EX and ST state e.g., Basker. So, it should be fine.

Yes, I fixed the compiling issue on Tacho due to the mismatched function declaration. The cmake error is weird.

[2017-09-27 22:14] aprokop commented on #1786
@mhoemmen Could you elaborate on that? I think there are CDash tests that disable Tpetra's Serial instantiation. Like [this](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3129870).

[2017-09-27 22:15] srajama1 commented on #1784
@bartlettroscoe : Can you comment on couple of issues raised above.

Can PT packages depend on non-PT packages ? I guess the answer is Yes. We have dependencies to even EX already there so this should work.

There is also the weird configure error that I have no idea what it is. May be that should be a separate issue.

[2017-09-27 22:22] mhoemmen commented on #1784
@kyungjoo-kim I'll open a separate issue for the CMake error, and close this one.  Thanks for the fix! :-)

[2017-09-27 22:22] #1784 closed

[2017-09-27 22:23] mhoemmen opened #1788 "ShyLU: Configure-time (CMake) error relating to Tacho somehow"
@trilinos/shylu

See #1784 for discussion.  Here is the error:
[code]

[2017-09-27 22:24] mhoemmen commented on #1784
@kyungjoo-kim I opened a new issue, #1788, for the CMake error.  Thanks!

[2017-09-27 22:24] srajama1 commented on #197
@brian-kelley : Can we close this ?

[2017-09-27 22:24] bartlettroscoe commented on #1784
Yes.  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#tribits-dependency-handling-behaviors

What is means is that an PT package can have parts that depend on non-PT SE packages and TPLs that are not of the highest priority to be tested.  So in our CI build, for example, non-PT SE packages and TPLs are are disabled.  But in Nightly builds, we enable all ST packages and code so we get a

[2017-09-27 22:26] mhoemmen commented on #1786
@aprokop I'll try it again and see if it still gives me trouble.

[2017-09-27 22:28] srajama1 commented on #583
@ambrad : Can we close this ? The issue is quite broad, but I assume the primary target is integrating HTS . Integrating cuSPARSE or an internal one is planned later this year and can be addressed in a separate issue.

[2017-09-27 22:29] kyungjoo-kim commented on #1788
@bartlettroscoe

We move to this issue the cmake build error. As you mentioned that ST is tested nightly, this cmake error probably break all nightly tests today.

@mhoemmen Could you specify more about your configuration or check-in-script you use ? so we can reproduce the same error. The problem is that amesos2 installation wants to bring shylutacho together but the library is not on the export

[2017-09-27 22:29] ambrad commented on #583
I agree, @srajama1. I will close this now, with GPU deliverables to go into a new issue.

[2017-09-27 22:30] ambrad commented on #583
Sorry, we should ask @mhoemmen first. @mhoemmen, close this issue if you agree with putting GPU trisolver work into a new issue.

[2017-09-27 22:52] bathmatt opened #1789 "Panzer not compiling once installed"
2b7a0a7d packages/panzer/disc-fe/src/Panzer_IntrepidBasisFactory.hpp (Mauro Perego       2017-09-26 17:17:11 -0600  50) #include "../../../intrepid2/refactor/src/Discretization/Basis/Intrepid2_HVOL_C0_FEM.hpp"

Once trilinos is installed you can no longer do a direct include of a path in Trillions

Pull request 1777 messed this up.

Can we fix asap

@eric-c-cyr @rppawlo @mperego

[2017-09-27 22:56] mperego commented on #1789
@bathmatt Argh.. sorry. that's Eclipse that messed it up and I did not noticed it. I'll fix this in a moment.

[2017-09-27 23:00] jmgate commented on #1789
@mperego, @bathmatt is pushing a fix already.

[2017-09-27 23:01] bathmatt commented on #1789
I think I just pushed a fix
   0b86201..427e01d  develop -> develop

[2017-09-27 23:02] mperego commented on #1789
@bathmatt @jmgate   Thanks! sorry about that.

[2017-09-28 00:05] jhux2 commented on #888
I don't see a need to keep this issue open.

[2017-09-28 00:05] #888 closed

[2017-09-28 00:09] jhux2 commented on #1605
ping

[2017-09-28 00:10] jhux2 commented on #1542
Albany dev, is this still an issue?

[2017-09-28 00:11] jhux2 commented on #1498
@DrBooom Is this still a problem for you?

[2017-09-28 00:30] bartlettroscoe commented on #1788
@kyungjoo-kim,

There are several --st-extra-builds that are defined in the checkin-test-sems.sh script.  There should be instructions in that script on how to run them.  It is as easy as `--st-extra-builds=<build1>,<build2>,...`.   For example, you might try:

[code]

However, these may not match up with the same builds that are run by the Trilinos Framework team that post to CDash but they shoul

[2017-09-28 01:34] kyungjoo-kim commented on #1788
The script reproduce the problem when Tacho is labeled with ST. The issue is gone when Tacho is EX because it simply disables tacho in the script.

[2017-09-28 01:39] mhoemmen commented on #1788
@kyungjoo-kim I'm doing a Clang 3.9 build, using the check-in test script (not the remote one), but with the MKL TPL enabled.

@bartlettroscoe I'm using the `--extra-builds=MPI_DEBUG` option; does that make a difference here?

[2017-09-28 01:42] mhoemmen opened #1790 "Ifpack2: Plug in GPU (and other TPL) sparse triangular solve"
@trilinos/ifpack2

See #583 for discussion.

[2017-09-28 01:43] mhoemmen commented on #583
@ambrad I agree; thanks!  The new issue (for GPU sparse triangular solve) is #1790.

[2017-09-28 01:43] #583 closed

[2017-09-28 02:20] spdomin commented on #888
@jhux2, I do not believe this finding from FY17/Q1 was ever resolved? That being said, we have deprecated ML and really have no choice but to accept Muelu with improvements as the project moves forward. Perhaps someone can address the 5% slow down over the past year in the new ticket?

[2017-09-28 05:16] mhoemmen commented on #1752
@searhein I'm looking at the test you added:

https://github.com/searhein/Trilinos/blob/25728b63a8e1ef8237ac6df37e19da45984f61a0/packages/shylu/shylu_dd/frosch/test/TestImport_Tpetra/main.cpp

and noticed the following issues:

1. The test mixes Epetra and Tpetra objects, and uses them through Xpetra.  I'm not sure if we could characterize this solely as a "Tpetra issue."  Does Xpetra test simulta

[2017-09-28 05:20] mhoemmen commented on #1786
@aprokop I'm having network troubles or I'd test it tonight.  Not sure what's up....

[2017-09-28 12:28] bartlettroscoe commented on #1788
Yes.  Using `--extra-builds` allows EX packages to be enabled while `--st-extra-builds` does not.  If you examine the STDOUT output from checkin-test.py it will show you that logic.  This is also explain in the section "HANDLING OF PT, ST, AND EX CODE IN BUILT-IN AND EXTRA BUILDS" in `./checkin-test.py --help`.  See:

* https://tribits.org/doc/TribitsDevelopersGuide.html#checkin-test-py-help

(I n

[2017-09-28 13:34] ibaned commented on #1542
I think so, @gahansen knows for sure.

[2017-09-28 14:02] mhoemmen commented on #1752
@searhein Another interesting part of the test you wrote, is that you construct an Export and use it in reverse mode, in doImport.  Xpetra folks, that should be OK, right?  @trilinos/xpetra

[2017-09-28 14:03] mhoemmen commented on #1752
@searhein Could you please point me to the implementation of `FROSch::ExtendOverlapByOneLayer`?  I'm hoping that this does what, say, Ifpack2 or Ifpack do when they implement overlap for additive Schwarz.

[2017-09-28 14:21] jmgate commented on #1789
@bathmatt, did your push fix this?  Can we close?

[2017-09-28 14:52] DrBooom commented on #1498
No.

Chris Luchini
ORG 1443
Sandia National Laboratory
(505) 284 3484
(505) 690 5008 Cell (505) is required.
________________________________
From: Jonathan Hu <notifications@github.com>
Sent: Wednesday, September 27, 2017 18:11
To: trilinos/Trilinos
Cc: Luchini, Christopher Bernard; Mention
Subject: [EXTERNAL] Re: [trilinos/Trilinos] Muelu build error: UnsmooshFactory (#1498)

@DrBooom<https://gi

[2017-09-28 15:13] rppawlo commented on #1761
Just to follow up with some concrete timings on the ninja support. When I build all of Trilinos, Drekar and another app with all relevant tests for my projects, ninja with cmake 3.9 took 22 minutes to build from scratch in a single TriBITS build. Changing to the make generator, it took 55 minutes. If I repeat for just the phalanx package (depends only on Teuchos, Kokkos, KokkosContainers and Sacad

[2017-09-28 15:16] bartlettroscoe commented on #1761
@rppawlo,

How may cores `<N>` did you use with `make NP=<N>` (or just `ninja -j<N>`)?

[2017-09-28 15:19] rppawlo commented on #1761
my whole workstation - 72 cores with hyperthreads. I ran "make -j72" for make and "ninja" with no core specification. Ninja automatically detects the number of cores and throttles jobs to fill the entire machine.

[2017-09-28 15:26] bartlettroscoe commented on #1761
Wow, those are a lot of cores!  That is a cool feature of ninja.  We got Kitware to add something like that for ctest also so that it will not overload the machine running tests in parallel (we use it in CASL VERA testing) (try out the `--test-load <max_system_load>` option with CTest).

[2017-09-28 15:46] srajama1 commented on #1752
If this would be hard to track down the root cause, is rolling back the commit that caused the issue an option ? @searhein has given a commit that works and another where it doesn't.

[2017-09-28 15:53] mhoemmen commented on #1752
It would be nice to see the implementation of `ExtendOverlapByOneLayer`.  The Tpetra commits in question pass all tests with the check-in test script, all the way downstream.  This includes Ifpack2 tests, that should exercise overlapping additive Schwarz.

[2017-09-28 15:53] #1498 closed

[2017-09-28 15:56] jhux2 commented on #888
@spdomin Please remind me of the issue number, I'll link it to this one. Thanks.

[2017-09-28 16:10] mhoemmen commented on #888
@spdomin I may have done some good there with recent CrsGraph changes that fuse column Map and Import construction in CrsGraph.

[2017-09-28 18:15] searhein commented on #1752
@mhoemmen Let me comment first comment the two issues you mentioned:

1. Since I am more familiar with Epetra and since I wanted to obtain exactly the same results as in the Epetra test, I used the Epetra maps and matrices from Galeri and converted them to Tpetra in the test. However, afterwards I solely use Tpetra objects.
2. You are right, `FROSch::ExtendOverlapByOneLayer` computes the Map for t

[2017-09-28 18:23] spdomin commented on #888
@mhoemmen, as usual - thanks. As for the baseline between v1.1 (from last October) and master, this is a new finding in our FY17/Q4 effort that has yet to make its way to any issue/story. Hopefully, that will be picked up. Essentially, we are only asking for routine benchmarking of our complete application code run (at an affordable scale) to monitor performance behavior. We can pick this up on Ex

[2017-09-29 09:55] nschloe opened #1792 "provide xz release tarballs"
First of all congratulations on the 12.12.1 release!

When I spotted the tarballs this morning in [the release folder](http://trilinos.csbsju.edu/download/files/) I wondered if you could provide xz-compressed tarballs instead of bzip2-compressed ones. xz has a higher compression ration and unpacks faster; for Trilinos 12.12.1, the file size goes down from **80MB (bz2)** to **63 MB (xz)**. xz has i

[2017-09-29 12:24] bartlettroscoe commented on #1740
@jmgate,

That sounds great.  I think that someone would need to commit some standard scripts for this in the Trilinos git repo so that people could use them to automate the integration of branches into Trilinos.

[2017-09-29 12:40] bartlettroscoe commented on #1746
FYI:

Note that one major disadvantage of moving from the package-by-package configure, build, test, and submit approach currently being used compared to the all-at-once approach that we are going to move to is that a configure failure in a single package in the packages-by-package appraoch will not bring down all builds and tests.  For example, two days ago, a configure failure in the ShyLU packa

[2017-09-29 13:02] ibaned commented on #1792
@trilinos/framework

[2017-09-29 13:48] ibaned commented on #1390
It looks like the release branch for 12.12 and the 12.12.1 tag are both up.
I think that means:
 - We are now allowed to start making commits to `develop` which use C++11 features in any Trillions package, including Teuchos and Thyra
 - This issue, as well as #1465, can be closed.

[2017-09-29 14:02] bartlettroscoe commented on #1390
Is this really true?  @jwillenbring and @hkthorn, can you confirm this?

[2017-09-29 14:13] jmgate commented on #1740
Sounds good.  Should be easy enough to whip up.  Do we plan on discussing this at TUG, perhaps in a breakout session?

[2017-09-29 14:18] bartlettroscoe commented on #1740
I put in a suggested 30-60 minute session on this topic for developers day on Wednesday 10/25.  I think @jwillenbring has to organize the schedule.

[2017-09-29 16:00] searhein opened #1793 "Running checkin testing script without SANDIA SEMS modules"
Is there a way to run the testscript on my laptop, which does not have the SANDIA SEMS modules?

[2017-09-29 17:12] #790 closed

[2017-09-29 17:18] #1586 closed

[2017-09-29 17:20] srajama1 commented on #1416
I think we will use this immediately use it with a protected repo in internal gitlab. Calling it amesos2_large_data_sets is good. We could place it in packages/amesos2/test/.

[2017-09-29 17:21] srajama1 commented on #1255
Checking to see the status of this. There is another issue #1782 that is similar as well.

[2017-09-29 18:32] bartlettroscoe commented on #1416
@srajama1,

To manage protected git repos inside of SNL, we have three options, gitlab-ex.sandia.gov (SON Community Edition), gitlab.sandia.gov (SRN Community Edition) or cee-gitlab.sandia.gov (SRN Enterprise edition)?  The differences are described under the section:

* https://snl-wiki.sandia.gov/display/CoodinatedDevOpsATDM#CoordinatedDevOpsforATDMHome-C)PhysicalDevOpsResourcesAvailabletoATDMPr

[2017-09-29 19:37] srajama1 commented on #1416
Answers to your questions

1. Yes, the matrices are internal only matrices.
2. SON is ok.
3. I don't know. Let me check with the apps. If it is not hard a meta-group would be nice.

[2017-09-29 20:19] mhoemmen commented on #1793
@searhein Absolutely!  Trilinos/sampleScripts has some examples of CMake configurations.

[2017-09-29 21:42] bathmatt opened #1794 "Parser code cannot parse simple example"
@ibaned
it looks like there is some issues with the new parser stuff.

[code]

doesn't seem to parse.  I get this

[code]
I can work to get this resolved if you'd like.  What do you need from me?

[2017-09-29 22:00] ibaned commented on #1794
The key `Electrostatic` has an empty value. This makes it ambiguous what the type is supposed to be. Is it an empty string Parameter? An empty ParameterList?

It seems this is allowed by YAML, the spec says "both the implicit key and the value following it may be empty". So at least I should document it as a difference between the Teuchos Language and the spec.

I need to know what type you expect

[2017-09-29 22:47] jhux2 commented on #1676
Actually, I believe we will need to backport this to the non-Kokkos versin of MueLu.

[2017-09-30 16:39] yiyangzhang37 opened #1795 "Trilinos build error on VS2017"
Hello guys. Not sure if this is the right place to post such problems...

I am trying to build Trilinos on Windows 10 with VS2017. Things seem to be weird as I get a lot of errors like

[code]
[code]
[code]
[code]
[code]
What should I do?

[2017-09-30 16:51] mhoemmen commented on #1755
Apollo successfully configured with CUDA at least as of 29 Sep 2017:

https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-09-29&subproject=Tpetra

Thanks!!!

[2017-09-30 16:51] #1755 closed

[2017-09-30 21:30] mhoemmen commented on #1795
Kudos for attempting a Visual Studio build!  There are three issues here:

  1. I'm not sure if Visual Studio correctly implements enough of C++ to build Kokkos.
  2. I don't think Kokkos is tested with Visual Studio.
  3. Kokkos may include compiler-specific idioms and may lack Visual Studio specializations of those idioms.

Regarding (1), I have heard that VS 2015 R3 actually implements Substitu

[2017-09-30 21:52] bartlettroscoe commented on #1416
I don't think the GitLab Community Edition used for gitlab-ex.sandia.gov supports SNL meta-groups. So if you want this repo on the SON, you can't use meta-group controls.   Given that the @trilinos/framework teams owns the GitLab group https://gitlab-ex.sandia.gov/trilinos/, you will either need to ask them to create an amesos2_large_data_sets git repo or give me the permissions to create it (I ca

[2017-10-01 00:09] mhoemmen opened #1796 "Fix Dashboard builds that launch too many OpenMP threads, causing test time-outs"
@trilinos/framework

Some Dashboard builds have failing tests due to time-outs, because the tests spawn too many OpenMP threads.  See, for example, this test:

https://testing.sandia.gov/cdash/testDetails.php?test=41662515&build=3135886

which includes the following output:
[code]
`ascic141` appears to be the one machine on which this occurs:

https://testing.sandia.gov/cdash/index.php?project=Tri

[2017-10-01 03:35] mhoemmen commented on #1770
@tjfulle , @etphipp , and I had a meeting this past week to discuss this issue.  @etphipp suggested a temporary work-around to reduce test turn-around time:

  - Set `Stokhos_ENABLE_MueLu:BOOL=OFF` to disable MueLu instantiations in Stokhos, which take much of the build time
  - Disable the `MP::Vector` instantiations, which take a long time (because there are multiple Scalar types, one for each c

[2017-10-01 03:39] mhoemmen opened #1797 "Tpetra: In a CUDA build, check that "--expt-extended-lambda" is in CMAKE_CXX_FLAGS"
@trilinos/tpetra
@crtrott @ibaned
In a CUDA build, check that `--expt_extended-lambda` is in `CMAKE_CXX_FLAGS`, as Tpetra and downstream packages require.

[2017-10-01 03:43] mhoemmen commented on #1797
I'm running the remote check-in test script for this fix now.  I first tested it locally in the following ways:
  - CUDA build, correctly included the flag in `Trilinos_CXX11_FLAGS` (it ends up in `CMAKE_CXX_FLAGS` anyway, probably due to TriBITS logic)
  - CUDA build, verify that Tpetra reports an error if the flag is missing
  - Non-CUDA build (which does not check for the flag)

[2017-10-01 04:04] mhoemmen commented on #1797
I just pushed a fix to develop.

[2017-10-01 04:04] #1797 closed

[2017-10-01 04:08] mhoemmen commented on #1786
@aprokop I remember now!  It was #1574 .  I'm testing now on my workstation; I'll try again on ride pretty soon (will need to do so for other issues).

[2017-10-01 05:24] tjfulle commented on #1770
Thanks for the summary @mhoemmen!  Should we close this, or maybe change the status to backlog?

[2017-10-01 07:54] ibaned commented on #1797
@mhoemmen note that this flag also exists with only one leading dash: `-expt-extended-lambda`

[2017-10-01 18:25] ibaned commented on #1794
Via email @bathmatt explained that this translates to an empty parameterlist. Working to fix this in the code.

[2017-10-01 18:41] ibaned commented on #1794
PR #1799 should fix this

[2017-10-01 22:57] mhoemmen commented on #1797
@ibaned Ooo, good point; thanks!  I'll fix this.

[2017-10-01 23:00] mhoemmen commented on #1770
@tjfulle I changed its status to "Tpetra-backlog".  Let's leave it open for now.  (It's OK for some issues to stay open for a while.)  I wouldn't call this a SART issue necessarily, so I'm not sure if it belongs on the backlog there.  Thanks!

[2017-10-02 00:58] mhoemmen commented on #1797
Running check-in tests now!

[2017-10-02 01:02] mhoemmen opened #1800 "CMake warning : Unparsed arguments"
@trilinos/amesos2

I just started getting the following warning when configuring Amesos2.  It's a CUDA build, but that doesn't appear to matter here.
[code]

[2017-10-02 01:18] mhoemmen commented on #1797
@ibaned I just pushed the fix to develop.  The code now accepts that flag with either one or two initial hyphens.  Thanks!!! :-D

[2017-10-02 01:18] mhoemmen commented on #1720
I just pushed a fix to develop.

[2017-10-02 01:18] #1720 closed

[2017-10-02 01:51] mhoemmen commented on #1752
Hi @searhein !  I took a look at the implementation of `ExtendOverlapByOneLayer`, in the file you mentioned.  I noticed that line 271 appears to have a bug:

https://github.com/searhein/Trilinos/blob/25728b63a8e1ef8237ac6df37e19da45984f61a0/packages/shylu/shylu_dd/frosch/src/Tools/FROSch_Tools_def.hpp#L271

This line calls fillComplete with no arguments, on the overlapping matrix.  This is incorre

[2017-10-02 01:55] mhoemmen commented on #1752
@searhein I'll close this issue for now, but please could you reopen it if you fix the code and find that it still hangs?  Thanks!

[2017-10-02 02:03] mhoemmen commented on #1786
@aprokop It breaks, but because I have `GO=int` turned off; `muelu/test/unit_tests/MueLu_Test_ETI.hpp` expects the `double, int, int` instantiation (lines 114, 137, 139, and 141 should have `&&` instead of `||`).

[2017-10-02 02:05] mhoemmen commented on #1786
@aprokop Actually it's not so much about that, it's about `Xpetra::EpetraNode`.  The code appears to assume that Tpetra _always_ instantiates either for OpenMP or Serial.  I'll file a separate issue.

[2017-10-02 02:10] mhoemmen commented on #1786
@aprokop Again, never mind :-) .  I still get the link errors I see in #1574, no matter how I mess with `MueLu_Test_ETI.hpp`, even if I disable MueLu's tutorial.  I'll just give up and let y'all fix it if you want.

[2017-10-02 02:10] mhoemmen commented on #1574
This is still a thing.  See my #1786 comments.

[2017-10-02 03:18] aprokop commented on #1786
@mhoemmen Do you have a link to the failing dashboard, or a configure script that you use?

[2017-10-02 13:29] jwillenbring commented on #1795
@mhoemmen is correct. The only way I know of to build Kokkos on Windows is with the Intel compilers.

[2017-10-02 13:58] jtceleron commented on #1795
Thank you guys. I found a similar issue someone posted around 2013... After 4 years, it looks like things don't go better....

[2017-10-02 14:00] bartlettroscoe commented on #1154
Just curious, but is this an issue for Trilinos customers not having this automated updating from 'develop' to 'master' in place?  Does Albany use the 'mater' branch of Trilinos?  If so, is not having this automated creating a problem for Albany?

I added this to the SART board just so that it can be mentioned at a SART meeting.

[2017-10-02 14:22] csiefer2 commented on #1795
We currently nightly test the Epetra stack through MueLu with VS2015.  We do not test Kokkos at present for the reasons @mhoemmen cites above.

[2017-10-02 14:58] jmgate commented on #1583
Reopening this issue per @maherou's suggestion.  I'll whip up some example templates and we can iterate on the design.

[2017-10-02 15:05] jmgate commented on #1667
@bathmatt, is your `boost_as_system_lib` branch still needed?

[2017-10-02 15:24] srajama1 commented on #1416
@jwillenbring @bmpersc : Can you create this repository for @bartlettroscoe ?

[2017-10-02 17:29] lxmota commented on #1154
Yes, it is an issue for Albany users. Not so much for developers.

Albany developers for the most part use Trilinos develop, so there is no issue there.

Albany users for the most part use Trilinos master. The reason is that they are doing production runs, and pulling from Trilinos develop sometimes breaks the Albany build.

The problem is when the master branch lags behind the develop branch for

[2017-10-02 18:12] brian-kelley commented on #197
@srajama1 Yes, I've merged this with the checkin script, so I'm closing.

[2017-10-02 18:12] #197 closed

[2017-10-02 18:13] ibaned commented on #1154
Another scenario that has happened is that Trilinos master will not compile with some platform/compiler combination required by Albany, and if the merge frequency is low then the users @lxmota mentioned will be stuck unable to compile for weeks.

[2017-10-02 18:24] bathmatt opened #1801 "Teuchos parser not handling commas in strings without quotes"
@ibaned as promises, here is the next issue.

Items like
[code]
are not parsing
[code]

If I quote the expression it parses, I'm getting a new error and dogging that down now

@rppawlo This is the next stopping block,

[2017-10-02 18:42] searhein commented on #1752
@mhoemmen Thank you a lot for looking into that issue and for your suggestions on optimizing my code. I just took a look at `packages/ifpack2/src/Ifpack2_CreateOverlapGraph.hpp`, and I agree that it would be a good idea to use this approach instead of mine.

With respect to my function `BuildUniqueMap`, I would also like to implement your suggestion. Unfortunately, I could only find `createOneToOn

[2017-10-02 18:53] bathmatt commented on #1801
So, if one quotes all the examples of comma and underscore, it bails out with

[code]

[2017-10-02 19:12] mhoemmen commented on #1752
@searhein wrote:

In Epetra it's called `IsOneToOne`.  It's a method on `Epetra_BlockMap`, inherited by `Epetra_Map`.
[code]

Have you tried a debug build?  That may give you better diagnostics.  Set the following CMake options:
[code]
If you have pulled Trilinos very recently, you could also try setting the `TPETRA_VERBOSE` environment variable to "1" or "TRUE".

[2017-10-02 19:21] ibaned commented on #1801
@bathmatt the second one:
[code]
was definitely just a plain bug in the ParameterList-building backend. I have a fix for this up in the `yaml-fixes` branch.
Also, I think underscores are actually not a problem, I've just pushed a test to confirm this, so I'll change the title of this issue.

Commas are more problematic... they can't be allowed in all "scalars" because they do separate scalars in f

[2017-10-02 19:46] bartlettroscoe commented on #1154
Being that this would help Albany (and likely other users), would anyone shoot me if I implemented an automated 'develop' to 'master' update for now based on the standard post-push CI build:

* https://github.com/trilinos/Trilinos/wiki/Policies--%7C-Testing#post_push_ci_testing

?

I could likely get it done in a couple of hours or so.  Basically, the TriBITS ctest -S script that runs the CI build

[2017-10-02 20:21] jmgate opened #1802 "Panzer: buildDomainContainer() for Write_GED"
Panzer's `LinearObjFactory` has a `buildDomainContainer()` routine that returns a `ReadOnlyVector_GlobalEvaluationData` container.  We need an equivalent routine that returns a `Write_GlobalEvaluationData` instead.

Interested parties:  @trilinos/panzer, @eric-c-cyr, @ssmabuza

[2017-10-02 20:24] jmgate commented on #1802
Also be sure to remove the `initializeData()` line in the `ghostToGlobal()` routine in `EpetraVector_Write_GlobalEvaluationData`.

[2017-10-02 20:29] bathmatt commented on #1801
Dan,
just confirmed that your bug fix is a real fix 👍 and now I can run my quoted version, so the example above does the right thing.

What yaml-cpp did is things with a comma in them and not in a [] block would turn into a string.  That is what I used.

Do you want to get a merge request going for the " " thing?

[2017-10-02 20:43] searhein commented on #1752
@mhoemmen I compiled Trilinos with all the options you told me.
Unfortunately, when the code gets stuck within the Import, I don't get any output. What do you suggest to do?

[2017-10-02 21:16] mhoemmen commented on #1752
@searhein Run it in a debugger, or edit Tpetra to enable debugging output.

[2017-10-02 22:20] tjfulle commented on #835
@mhoemmen, in `computeLocalConstants`, have you thought about how best to incorporate information returned from `getRowInfo` and `getLocalView` in a thread parallel way (that will run on GPU)?

[2017-10-03 05:07] mhoemmen commented on #835
@tjfulle Sorry, I was at a workshop tonight and will be for the next couple days, so I might not respond so often.  By the time `computeLocalConstants` is called, the graph should be in fully packed, device-View storage.  Thus, you should just be able to use the Kokkos::StaticCrsGraph in a device kernel.

It's neither correct nor necessary to use `getRowInfo` and `getLocalView` on device.  Both of

[2017-10-03 10:59] ibaned commented on #1801
PR #1805 now has a fix for the commas as well

[2017-10-03 16:10] bathmatt opened #1807 "YAML: several places don't accept comments"
It looks like the # sign is no longer a comment

[code]

[2017-10-03 16:12] ibaned commented on #1807
This is a documented difference, comments need to be on their own line. If we really need to change that I'll need an entire file as a a test case not just one line

[2017-10-03 16:15] bathmatt commented on #1807
Question, is there a way to, in the short term, build with the old yaml-cpp?  It seems that this is the default now.

I'll email you file off gitlab as well.

[2017-10-03 16:16] ibaned commented on #1807
No compile option for that right now. One could be added but that is also work required.

[2017-10-03 16:19] bathmatt commented on #1807
Also, I tried
#Hi
as my first line,

*********** Caught Exception: Begin Error Report ***********
error: Parser failure at line 1 column 2 of Particle_interactions.yaml
# Hi

[2017-10-03 16:48] bathmatt commented on #1801
Dan,
Thanks!!  This have resolved this issue, just the comments now and we are ready to rock and or roll 🥇

[2017-10-03 16:48] #1801 closed

[2017-10-03 18:03] kddevin opened #1808 "Tpetra: compilation error? configuration change? -- CrsGraph getLocalViewRawConst, getGlobalViewRawConst"
I'm seeing the compilation errors below using a configuration command that has worked in the past.  Has there been a change in the cmake flags needed for builds?  If so, what is now needed?
[code]

Cmake command:
[code]
@trilinos/tpetra

[@jhux2 : edited for formatting]

[2017-10-03 18:13] searhein commented on #1800
I see this for Belos as well

[2017-10-03 18:35] searhein commented on #1788
I also experienced this error for Tacho when trying to build Amesos2 and BDDC:

[code]

[2017-10-03 18:36] rppawlo opened #1809 "Phalanx: reorder template arguments in FieldManagerAccessor"
On the PHX::FieldManager, there is a function called getFieldData(). We'd like to reorder the template arguments so that type deduction eliminates as many template parameters as possible from being specified by the user. For example, the call to:

[code]
would become:
[code]
ScalarT and the tag arguments will be automatically deduced from the passed in MDField.

This is a non-backwards compatible

[2017-10-03 18:51] srajama1 commented on #1788
@kyungjoo-kim : @searhein faced this error when explicitly enabling Tacho. @bartlettroscoe : Can you comment on how export lists are built ?

[2017-10-03 19:29] gpkc commented on #1040
@wfspotz This is happening with me with doxygen version 1.8.11:
[code]

I will try updating. However, this is the current doxygen version on my Fedora dist.

[2017-10-03 19:31] kddevin commented on #1808
This problem exists with gcc 4.7.2., but disappears with gcc 4.9.3.  I'm told the minimum gcc is 4.8.4 (despite the fact that trilinos.org says 4.7.2), so I'll close this issue.

[2017-10-03 19:31] #1808 closed

[2017-10-03 19:31] bathmatt commented on #1807
Also, there is an issue with blankish lines.  So, lines that have white space only in them.

Also @ibaned  did you get my emailed file?  It hasn't gone through R&A so I don't wanna put it up on github

[2017-10-03 20:05] wfspotz commented on #1040
@gpkc Can you post the output from running `cmake`?

[2017-10-03 20:55] jwillenbring commented on #1808
I found GCC 4.7.2 still referenced in 3 places. One I just updated, the other two I put a note that the minimum required version of Trilinos is now 4.8.4. I didn't change the other two because one was kind of an announcement that at the time was correct, and the other is probably more out of date and needs some attention in general, and simply updating the version in the text seemed to provide fal

[2017-10-03 21:12] gpkc commented on #1040
@wfspotz Hmm now that I have checked the output, it is giving these errors:
[code]

I'm trying to compile for Python3.

[2017-10-03 22:01] gpkc commented on #1040
@wfspotz It seems there are a few incompatibilities with Python3 from the PyTrilinos doxygen tools. I think I have fixed them, but I might have changed some functionality. Do you want to take a look, or you will fix them by yourself?

[2017-10-03 22:09] ibaned commented on #1807
@bathmatt I did get your emailed file.

@lxmota also asked about blank-ish lines in gahansen/Albany#186 .
I think to think hard about this one... leading whitespace is handled deep in the context-sensitive hack to the parser, not at the grammar level...

I think I'll fix the comments first.

[2017-10-03 22:16] bathmatt commented on #1807
Thanks...  I'll continue to test and merge and submit then.

[2017-10-03 22:22] wfspotz commented on #1040
I thought I had already fixed them myself. I am going to have to do some digging to figure out why these files are not updated. You are trying to build from the develop branch?

[2017-10-03 22:37] ibaned commented on #1807
@bathmatt fixes for comments are up in #1812

[2017-10-03 22:51] jmgate commented on #1754
Looks like the constructor that calls this deprecated routine isn't actually used anywhere, so I'm looking at ripping out all these deprecated routines.  Testing now.

[2017-10-03 23:00] jmgate commented on #1754
Tests pass.  I'll rebase on top of `develop` and push tomorrow.

[2017-10-03 23:16] kddevin commented on #1752
@mhoemmen @tjfulle
I built @searhein 's test and was able to reproduce the hang on my workstation.  The hang occurs in doTransferNew's call to doReversePostsAndWaits (line 1197).    Here's the output with the debug variable set to true; all processors report the same.

Proc 2: Reallocate (if needed) imports_ from 0 to 3936
Proc 2: Finished reallocating imports_

If I change useNewInterface() in Cr

[2017-10-03 23:29] kddevin commented on #1752
@searhein Can you describe your test problem?  It looks like an 8x8x8 Galeri mesh distributed over 2x2x2 processors.  What, then, does the FROSch call before the import do?
I'm wondering if we can construct maps by-hand so that we can have a test similar to this one in Tpetra, without adding a dependence on FROSch and Xpetra.  We'd want the maps to be the same as yours.  Thanks.

[2017-10-04 03:19] mhoemmen commented on #1752
@kddevin I was at a workshop all day; I just got back tonight.  I'll send you an e-mail.  Thanks for working on this!

[2017-10-04 04:31] nmhamster commented on #1605
@aprokop @jhux2 - still getting this at the moment but today was the first time I got the error also with GCC (not just Intel). Just to give you the background - I have even build a new Linux binutils package to make sure we get some of the more up to date archivers etc.

[code]

Here is a breakdown of space I am seeing from running: `for file in find ./ | grep '\.o'; do ls -al $file | awk ' { pri

[2017-10-04 04:34] nmhamster commented on #1605
@trilinos/muelu - BTW - this is for GCC 4.9.3 running on Haswell with debugging enabled and code generation set to produce AVX2 outputs. I'm not sure but one consistent problem is debugging + platform/ISA level specific code generation. The original issue was for code generated with Intel compilers, this always seems to be more likely because they do additional optimizations which I think causes m

[2017-10-04 13:26] jwillenbring commented on #1154
@bartlettroscoe This is not in alignment with Trilinos Framework plans. A great deal of time has been invested in this already, but we are resource constrained.

[2017-10-04 13:30] bartlettroscoe commented on #1154
We can turn off the updates that I implement when the Trilinos Framework team deploys its implementation.  That is the harm in that approach?

[2017-10-04 13:59] aprokop commented on #1605
@nmhamster Thanks for doing the legwork, this is very helpful..

@trilinos/muelu OK, so what are our options here if we want to do the split?
1. Split based on node types
  This would require splitting `.cpp` files based on node types. The problem was that last time we tried, the compilation time shot up (presumably because of Xpetra lacking ETI)
2. Split based on directories
  Not sure if this ev

[2017-10-04 14:00] nmhamster commented on #1605
@aprokop - I will also have some data without using debug flags later today. Stay tuned.

[2017-10-04 14:13] bathmatt commented on #1807
Testing..  will this cure the blank line issue?

[2017-10-04 14:14] lucbv opened #1813 "MueLu: UtilitiesBase::Distance2 signature"
@jhux2 the signature of UtilitiesBase::Distance2 changed from taking an input `Multivector` to an `input Array<ArrayRCP<Scalar> >`, this causes an error in the [KOKKOS_REFACTOR_OPENMP build](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3144095).
It would be easy enough to overload with the `Multivector` signature, we could also add one with a `Kokkos::View` if that helps for the kok

[2017-10-04 14:20] bathmatt commented on #1807
This looks like it resolves the comment issues.  Will open one for the blank lines

[2017-10-04 14:23] bathmatt opened #1815 "Teuchos parser yaml pukes on white space lines"
The line before particle dump has white spaces in it up to the eblock-... level.  This causes

[code]
Removing them allows the parser to continue.

[code]

[2017-10-04 14:26] bathmatt commented on #1807
Sorry, still have an issue with a comment, not sure what this is.  If one indents that line it runs.
[code]

[2017-10-04 14:50] nmhamster commented on #1605
@trilinos/muelu - here are object files without `-g` turned on. Without the debug enabled, the compile is successful. Note the differences are like 4-6X higher with debugging enabled.

[code]

[2017-10-04 15:25] tjfulle commented on #1752
@kddevin @mhoemmen

Can I help out with this?  I could work on replicating the problem this afternoon, but don't want to duplicate effort.

[2017-10-04 16:00] searhein commented on #1752
@kddevin Thank you for looking into this issue.

Actually, I only compute a map that overlaps in one layer and then I do an import from the unique to the overlapping map.
I can build a test which does not depend on FROSch and Xpetra. Do you need the test to fix this issue
or would it be enough to create the test sometime during the next days?

[2017-10-04 16:00] wfspotz commented on #1040
@gpkc When you configure, do you enable the Komplex package? My solution is working for all the other packages, but I get a weird failure when it is processing Komplex that I haven't been able to correct yet.

[2017-10-04 16:17] jhux2 commented on #1813
@lucbv I'll have a look.

[2017-10-04 16:28] bartlettroscoe commented on #1788
This is code in a subsystem of TriBITS that I did not write and don't really know that much about at this point. I think the primary maintainer of that code is @nschloe (I could check git logs).

[2017-10-04 16:37] bartlettroscoe commented on #1154
Since this is a core framework activity, we need to leave it to the framework team to address this.  Sorry to create traffic on this.

[2017-10-04 16:37] bartlettroscoe commented on #1416
Since this is a core framework activity, we need to leave it to the framework team to address this.  Sorry to create traffic on this.

[2017-10-04 16:47] bmpersc commented on #1517
The 12.12 release has been made and the tarballs have been made available on the website.

Testing is working largely but there are a few system issues that are causing some problems. They seem to be related to python not being able to import the re module. I have tried updating the python to SEMS' version 2.7.9. The version being used was 2.6.6 which is pretty old. We'll see if that fixes this is

[2017-10-04 17:13] mhoemmen commented on #1752
@tjfulle wrote:

I have a lot of urgent things to do this week not Trilinos-related, so please feel free; thanks! :-D

[2017-10-04 17:17] tjfulle commented on #1752
@mhoemmen, okay.  @searhein , I'll start digging in to this today.  A standalone test would be great to easily reproduce the error.

[2017-10-04 17:22] jhux2 commented on #1813
`Distance2` isn't used in MueLu's Kokkos-refactor code path, so I'm removing it from Utilities.  Checkin script is running.

[2017-10-04 17:31] aprokop commented on #1605
@nmhamster When you say debug build, are you talking about `Debug` or `RelWithDebInfo` CMake build type? Also, what is the purpose of such a build?

[2017-10-04 17:32] jhux2 commented on #1605
@nmhamster What's the priority on this?  As @aprokop notes, a real fix might take a lot of work, which we haven't budgeted for.

[2017-10-04 17:41] jhux2 commented on #1813
If the `KOKKOS_REFACTOR_OPENMP` build is clean tomorrow, this issue can be closed.

[2017-10-04 17:49] jhux2 commented on #1605
Question: why is MueLu_ShiftedLaplacian.cpp an order of magnitude larger?

[2017-10-04 17:52] aprokop commented on #1605
@jhux2 This seems to be a static build, and ShiftedLaplacian uses a lot more packages, including Belos.

[2017-10-04 17:59] gpkc commented on #1040
@wfspotz I was on the master branch. Regarding the Komplex package, it was disabled...
I tried running this on the develop branch but the same python errors happened.

[2017-10-04 18:09] wfspotz commented on #1040
@gpkc OK. I have been working through a fix. It includes handling the reasons that I did not catch that these docstring Python scripts were still Python 2, so I have to assume that my fixes are more extensive than yours. I was thinking that if your fixes were a little different from mine and they worked with Komplex, then I could leverage them. As soon as I get something working, I will push to de

[2017-10-04 18:43] gpkc commented on #1040
@wfspotz Hmm I was able to generate the Komplex docstrings here. However, again, my fixes are very simple and were made to just make the cmake process work. Your fixes are probably better.

[2017-10-04 18:54] wfspotz commented on #1040
@gpkc What did you do with the `my_str()` function in `doxy2swig.py`? I guess the other thing is, I'm trying to write code that works with both Python 2 and 3.

[2017-10-04 19:02] gpkc commented on #1040
@wfspotz I changed the except clause to:
[code]

It works with Python3 and Python2.6+

[2017-10-04 19:09] wfspotz commented on #1040
@gpkc Yeah, I did that as well (although there is no need to capture the exception in `e`). And when it gets called from `clean_pieces()`?

[2017-10-04 19:15] gpkc commented on #1040
@wfspotz Well I have removed the if that checks if str is unicode on `clean_pieces()` and was calling my_str everytime. I wasn't aware of the reason for that check, and it ended up working:
[code]

[2017-10-04 19:17] wfspotz commented on #1040
@gpkc OK, thanks. I may have been this particular issue more complicated than it needed to be.

[2017-10-04 19:30] kddevin commented on #1752
I'll try to write a quick Tpetra-only test.

[2017-10-04 19:31] tjfulle commented on #1752
@kddevin thanks!  I'm pretty swamped today, I have most of tomorrow to look at this

[2017-10-04 19:34] gpkc commented on #1040
@wfspotz If you'd like to try to keep the same logic for this function, I've found this on StackOverflow:
https://stackoverflow.com/questions/4987327/how-do-i-check-if-a-string-is-unicode-or-ascii
The answer by Dave Burton talks about compatibility between Python3 and Python2 on this matter. It seems quite ugly though.

[2017-10-04 19:41] nmhamster opened #1816 "ML_MLP_Restart_MPI_4 Test is Failing with Intel 17.4.196 and OpenMPI 2.1.1"
@trilinos/ml - am seeing this error on the latest Intel 17.4.196 build when using OpenMPI 2.1.1. It looks like the precision is set to be very aggressive (small error). Is this a concern for you guys?

[code]

[2017-10-04 19:54] bmpersc commented on #1255
@srajama1 The @trilinos/framework team just had a discussion about this and we decided that all of these TPLS are reasonable for us to provide. The question is will SEMS be willing to support some or all or will Trilinos need to do that. I will have a conversation with @dmvigi to see what SEMS is willing to do. After that we will have a much better idea of when these will be available.

[2017-10-04 19:56] bmpersc commented on #1780
@kyungjoo-kim Things have been working since your change so I would say this is fixed. There is still the issue of adding metis and mtmetis as tpls, but that is being tracked else where so I am going to close this.

[2017-10-04 19:56] #1780 closed

[2017-10-04 19:56] bmpersc commented on #1782
@srajama1, @kyungjoo-kim  The @trilinos/framework team just had a discussion about this and we decided that all of these TPLS are reasonable for us to provide. The question is will SEMS be willing to support some or all or will Trilinos need to do that. I will have a conversation with @dmvigi to see what SEMS is willing to do. After that we will have a much better idea of when these will be availa

[2017-10-04 19:57] jhux2 commented on #1816
@nmhamster From git, it's not clear what the purpose of this test is.  But after looking at the source, I would expect hard zeros for the result.

[2017-10-04 22:03] jeff788 opened #1817 "Trouble inspecting Teuchos::SerialDenseMatrix in gdb"
@trilinos/teuchos
@bartlettroscoe

Is there a good way to inspect a Teuchos::SerialDenseMatrix in gdb? I'm having an issue with an LU factorization with LAPACK on a 6x6 SerialDenseMatrix "A", and I'm trying to diagnose the problem by inspecting the input matrix. When I try to inspect any elements of the matrix this is what happens:

(gdb) p A
$30 = {<Teuchos::CompObject> = {
    _vptr.CompObject =

[2017-10-04 22:42] jmgate commented on #1789
@bathmatt, just curious, but are you replying to notification emails and those replies aren't making it back to GitHub issues?  Closing&hellip;

[2017-10-04 22:42] #1789 closed

[2017-10-04 22:43] jhux2 commented on #1605
5. Build a slimmed-down library where we only build capabilities that we know we'll need, and nothing else (e.g., PGSA, semicoarsen, emin, Amesos/Ifpack smoothers, blocked smoothers/transfers).  This is a lot like (3).

6. Reduce `include` files.
This is time consuming because one would have to go file-by-file.

[2017-10-04 22:48] hkthorn commented on #1757
@mhoemmen Thinking about this further, I don't need a comm, just a boolean to indicate that output should be sent to the provided output stream ...  So, the hidden traits could really be comm-free in the interface.  Of course, the implementation would use the communicators provided by Epetra/Tpetra or any other implementation.  Does that sound reasonable to you?

[2017-10-04 23:05] hkthorn commented on #1757
@mhoemmen **Thought 2:**  As Roger suggested there is always the FancyOStream class in Teuchos that combines print formatting, print rank, and the output stream.  Would it be better to migrate to using that instead of the just the ostream inside of Belos/Anasazi?  It could avoid adding more interface methods to the OperatorTraits ...

[2017-10-04 23:07] hkthorn commented on #1327
I think this problem is fixed now.  Closing it.

[2017-10-04 23:07] #1327 closed

[2017-10-04 23:49] bartlettroscoe commented on #1817
@jeff788,

My personal experience with GDB is that I have not been able to use 'print any_cxx_func()` for an C++ function for many years (perhaps ever).  All that I have been able to to do is print raw data.  So to get the size, you will need to print the difference of the two pointers into a Teuchos::RCP, for example.   Does you GDB allow you to print any C++ function?

My advice is to use a debu

[2017-10-05 00:04] DrBooom commented on #1817
Use DDT or if you like debuggers that crash, TotalView. Chasing pointers is much easier in TotalView, so the crash rate may be tolerable.

Chris Luchini
ORG 1443
Sandia National Laboratory
(505) 284 3484
(505) 690 5008 Cell (505) is required.
________________________________
From: Roscoe A. Bartlett <notifications@github.com>
Sent: Wednesday, October 4, 2017 17:49
To: trilinos/Trilinos
Cc: Subscri

[2017-10-05 00:19] jeff788 commented on #1817
I usually use gdb for pretty simple things for a long time, so I guess I didn't realize how far behind these other debuggers it is. I guess I'll get myself on the learning curve. Thanks for the quick responses!

[2017-10-05 04:55] kddevin commented on #1752
@searhein
Does your code work if you use an importer instead of an exporter in the import?
Your test does not hang when I do
    Teuchos::RCP<Xpetra::Import<LO,GO,NO> > imgather = Xpetra::ImportFactory<LO,GO,NO>::Build(uniqueMap, overlappingMap);
    TeuchosComm->barrier(); if (TeuchosComm->getRank()==0) std::cout << "BEFORE IMPORT WITH IMPORTER\n";
    K->doImport(*tmpMatrix,*imgather,Xpetra::ADD

[2017-10-05 10:11] nschloe opened #1818 "kokkos-kernels vs kokkoskernels"
There is a discrepancy in files names for the new Kokkos kernels:

  * The package directory is called `kokkos-kernels`.
  * The library file name is `kokkoskernels.so`.

This creates some problems on the Debian side. I'd be great if this could be made consistent one way or the other. For comparison, check `trilinoscouplings`.

[2017-10-05 10:33] aprokop commented on #1818
@trilinos/framework @trilinos/kokkos-kernels

[2017-10-05 10:40] nschloe commented on #1788
It's been several years since I contributed to TriBITS and it'll take me a while to delve back in again. I've never seen those errors before either. In any case, a minimal `do-configure` would be helpful.

[2017-10-05 13:18] lucbv commented on #1813
The build is clean, thanks for taking care of this!

[2017-10-05 13:18] #1813 closed

[2017-10-05 13:22] bartlettroscoe commented on #1817
@jeff788, okay to close this GitHub Issue?

[2017-10-05 15:59] tjfulle commented on #1752
Thanks @kddevin !  I'll start working on this.

[2017-10-05 16:02] mhoemmen commented on #1757
@hkthorn It's a good idea to use FancyOStream; I find it useful for tests.  However, this doesn't solve the problem.  Users still have to know which rank is Proc 0, and tell the FancyOStream about it.  This really feels like something that users shouldn't have to think about.

Here's my proposal.  First, here is an interface and default implementation:
[code]
Here is a sample Tpetra implementation

[2017-10-05 16:14] mhoemmen commented on #1752
@kddevin wrote:

This actually worries me a lot.  Reverse mode was never meant to be fully general.  I've seen really old FIXMEs in Tpetra that reflect copy-and-paste from Epetra, that talk about this.  @DrBooom knows what I'm talking about here (it's hard to explain in a comment).  What worries me is that Epetra might still be wrong here, but may not be hanging.

[2017-10-05 16:25] bartlettroscoe commented on #1757
All Thyra classes derive from Teuchos::VerboseObjectBase which allows clients (anyone) to set the FancyOStream objects on them (and a default global one for all objects and all classes of objects).  That solves the problem for Thyra objects.  And Thyra wrappers for Belos can just give the FancyOStream object they were given to the Belos objects.  The Belos interfaces just need to accept a FancyOSt

[2017-10-05 16:26] micahahoward commented on #1531
Can we revisit the status of this?

[2017-10-05 16:30] bartlettroscoe commented on #1531
I will try to get this this early next week.

[2017-10-05 16:51] #1817 closed

[2017-10-05 16:52] jeff788 commented on #1817
Yes, thanks for your time.

[2017-10-05 17:26] hkthorn commented on #1757
@mhoemmen @bartlettroscoe Thanks for the excellent ideas!

[2017-10-05 17:50] srajama1 commented on #1818
The package name is KokkosKernels (to match Trilinos style) in Trilinos, but kokkos-kernels in Kokkos organization (to match with kokkos-tools etc). This is a problem living in two places. The library name matches Trilinos package name. We didn't think the directory name need to match the package name. Is that an assumption you are making ?

[2017-10-05 21:04] wfspotz commented on #1749
I just pushed to the develop branch fixes for the PyTrilinos generation scripts, upgrading for Python 3. See if it helps.

[2017-10-05 21:08] wfspotz opened #1820 "Update 12.12 tarball"
I have pushed three commits cherry-picked from the `develop` branch to the `trilinos-release-12-12-branch`. These changes fix Python 2/3 compatibility issues with the PyTrilinos documentation string generation scripts. When convenient, these should be converted into a new tarball for the 12.12 release.

[2017-10-05 21:11] wfspotz commented on #1040
I suspect the problem I was seeing but you were not might be related to the fact that I was using Python 3.5 and you were using Python 3.6. There was a Unicode character in `Complex_LinearProblem.h` which I have changed to ASCII, and the new scripts work for me with both Python 2 and Python 3. I have pushed it to the `develop` branch.

[2017-10-05 21:12] aprokop commented on #1820
@trilinos/framework @bmpersc @jwillenbring

[2017-10-05 21:19] wfspotz commented on #880
What is your SWIG version?

[2017-10-05 22:25] michael-a-hansen commented on #1749
It didn't change anything on my 3.6 installation, but now I'm trying with anaconda python (still 3.6).

I've done lots of monkeying-around with this computer's python, so I get the feeling this is my own fault somehow. I'm setting PATH and PYTHONPATH as they should and I've gotten used to the normal issues when a build system tries to be smart about python, but I could be missing something. I can

[2017-10-05 22:26] gpkc commented on #1040
Oh, I see. Glad to hear it worked out.

[2017-10-05 22:43] #1040 closed

[2017-10-05 23:14] srajama1 commented on #1800
Fixed the Amesos2 one.

[2017-10-05 23:15] srajama1 commented on #1800
@trilinos/belos

[2017-10-05 23:15] kvmkrao opened #1821 "Pytrilinos installation error"
@wfspotz
I used gcc5.4, python3.6, swig3.0 and mpich 3.0 modules to build Pytrilinos.  The configuration options set
for the build are

There were no errors during the build. However the following error stops the installation of the Pytrilinos.

 Up-to-date: /home/vkotteda/Software/pytrilinos/install/include/AztecOO_ConditionNumber.h
-- Up-to-date: /home/vkotteda/Software/pytrilinos/install/includ

[2017-10-05 23:19] wfspotz commented on #1821
What is the full version number for SWIG?

[2017-10-05 23:31] michael-a-hansen commented on #1749
Same thing with anaconda. I'll let you know how the other computer goes (it will be a few days).

[2017-10-06 03:25] kvmkrao commented on #1821
It is 3.0.8.
Thank you.

[2017-10-06 13:24] nschloe commented on #1818
For the Debian package, we derive the package name from the directory name (`kokkos-kernels`), and the package name has to match the library name (`libtrilinos-kokkos-kernels.so`).

I see: The directory is called `kokkos-kernels` because in the Kokkos orga, you're using dashes, but the library is called `kokkoskernels` (without the dash) to match Trilinos conventions. Well, one could argue that it

[2017-10-06 13:39] srajama1 commented on #1788
The priority of this just went up as it is blocking application integration. @kyungjoo-kim.

[2017-10-06 14:28] bartlettroscoe commented on #1788
If someone runs 'cmake . &> configure.txt' in that build directory and then attaches 'configure.txt' to this GitHub Issue, that might allow me to reproduce this use case in my local build dire.  Otherwise, I will need to have the full instructions for env setup (i.e. on the CEE LAN loading modules X,Y, and Z), the full cmake configure script, etc.  But we might get lucky with just and be able to r

[2017-10-06 16:26] bartlettroscoe commented on #1400
@kruger,

Here is how you can develop on the Trilinos, TriBITS, and kokkos branches and test with Trilinos.

First, clone (or move) the TriBITS and kokkos GitHub repos under Trilinos:

[code]

(or create symlinks to repos already there).

Then checkout your branches:

[code]

Then just configure Trilinos as normal except add the cache vars:

[code]

[2017-10-06 16:42] jmgate commented on #1802
Removed the unintended `initializeData()` from the `ghostToGlobal()` routine, and all is well.

[2017-10-06 16:57] wfspotz commented on #1821
This looks like Issue #1749, which I have not been able to fix, because I have not been able to reproduce it. I would like to sit down with you and see if I/we can figure this out together. Let's plan to do it while you are here for TUG.

[2017-10-06 17:28] hkthorn commented on #1800
Not an issue in Belos, the issue is in @trilinos/ifpack2:

(TRIBITS_CHECK_FOR_UNPARSED_ARGUMENTS)
packages/ifpack2/test/belos/CMakeLists.txt:281 (TRIBITS_ADD_TEST)

[2017-10-06 18:09] kvmkrao commented on #1821
Thank you @wfspotz. Sure, I will show you the installation error.

The installation error was resulted with the following repo

The current git repo works well ( #1820) and does not throw the installation error when I build
pytrilinos with anaconda2/python 2.7.13 and SWIG 3.0.12. Therefore, the installation is successful.

However, the current repo results in the same installation error for anacon

[2017-10-06 18:43] jmgate opened #1823 "Fill out CONTRIBUTING.md"
A the moment, `CONTRIBUTING.md` just has some placeholder text in it.  We need to fill it out such that potential contributors understand what is expected when interacting with Trilinos.  I can take a crack at this, but I won't be able to start on it till late next week.

@jwillenbring, @bmpersc, any requests as to content?

@trilinos/framework

[2017-10-06 18:51] bartlettroscoe commented on #1788
Okay, I reproduced the failure:

[code]

I will dig a little to see if I can find something obvious.

[2017-10-06 19:22] bartlettroscoe commented on #1788
I created the SNL/Kitware contract issue:

* https://gitlab.kitware.com/snl/project-1/issues/40

to try to get some Kitware help on this (since I don't know this TriBITS subsystem very well).

(SNL staff can get access that site as described at https://snl-wiki.sandia.gov/display/TRIL.)

[2017-10-06 20:04] jmgate commented on #1802
Made requisite changes to Panzer&mdash;testing passes.  Next up:  corresponding changes to applications.

[2017-10-06 20:23] maherou commented on #1823
@jmgate: Please start a draft as you have time.  No need to wait.

[2017-10-06 20:46] jmgate commented on #1802
Straightforward updates made to Drekar&mdash;tests pass.  Looking into additional refactoring needed in Drekar.

[2017-10-06 20:53] srajama1 commented on #1788
We did some old fashioned debugging of cut and paste of different CMakeLists.txt options from other packages where it works to Tacho. It worked ! @kyungjoo-kim will push the fix after some testing.

[2017-10-06 21:06] bartlettroscoe commented on #1788
I will be curious to see what it was and see if it can be detected earlier with a better error message.

[2017-10-06 21:20] tjfulle commented on #1752
I've reproduced what @searhein reported using @kddevin's example.  I've narrowed down the problem to just a handful of potential sources.  I'll update when I have something a little more concrete

[2017-10-06 21:59] jmgate commented on #1802
Refactored Drekar's `simplex_lpfl` test to use the new way of doing things.  Looks like we're going to need a `BlockedVector_Write_GlobalEvaluationData` and all the associated accoutrements.  Huzzah!

[2017-10-06 22:06] kyungjoo-kim commented on #1788
In tacho cmakefile, I forgot to add "TRIBITS_SUBPACKAGE_POSTPROCESS()". It would be better if we have better error message than the message with export list.

[2017-10-06 22:25] tjfulle commented on #1752
The example that @kddevin wrote gets hung up at a call to `doReverseWaits()` around [line 2906 of Tpetra_Distributor.hpp](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_Distributor.hpp#L2906).  I haven't dug much further to determine what is going on from there down, or to determine what are the differences in the state of `Tpetra::CrsMatrix` between using the ne

[2017-10-06 22:29] bartlettroscoe commented on #1788
Okay, that is something we can catch.  In fact, we are working on those types of checks in TriBITSPub/TriBITS#200 (but have not added checks for this yet).

[2017-10-06 22:29] jhux2 commented on #1247
@bartlettroscoe There's been recent interest in getting automated dashboard builds that reflect the current configuration/builds of Trilinos done by the ATDM applications.  Is this the correct issue to ask about the status of such efforts?

[2017-10-06 22:57] bartlettroscoe commented on #1247
Yes and no.  Generic discussions about this can go here but more sensitive SNL-specific discussions need to go in:

* https://software-srn.sandia.gov/jira/browse/ATDV-63

The current status is that we are pushing to get a CMake/CTest/CDash upgrade (see https://gitlab.kitware.com/snl/project-1/issues/33) so that we can use the new all-at-once configure, build, and submit mode (see TriBITSPub/TriBIT

[2017-10-07 03:31] tjfulle commented on #1752
The code stalls on [line 625 of Tpetra_Distributor.cpp](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_Distributor.cpp#L625).  The underlying cause of the stall is likely in `doReversePosts` called on [line 2904 of Tpetra_Distributor.hpp](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_Distributor.hpp#L2904)

[2017-10-08 14:54] gpkc commented on #1749
@wfspotz The bytecode problem is also happening with me. I didn't report it earlier because I thought it was something with my configuration. However, when trying to do a clean build inside a docker container, it happened again.
@michael-a-hansen I don't know if you found a way You can solve this by compiling the python code by hand inside the build directory. You can use the `compileall` command

[2017-10-08 16:27] maherou opened #1824 "Modify SART Kanban boards to include "Blocked" column and due dates"
The SART discussions can be improved by adding a Blocked column to the Kanban board, so items that are not active are not distracting discussions.  We also want to include due dates as appropriate to issues.

[2017-10-08 17:07] gpkc commented on #1821
@kvmkrao I've written in #1749 how to workaround this problem, if you haven't figured out yet.

[2017-10-08 17:10] gpkc commented on #1749
@wfspotz @michael-a-hansen I believe I figured out the problem. As of PEP 3147 (https://www.python.org/dev/peps/pep-3147/) the cached bytecode files are being written in the `__pycache__` subdirectory.
Python3 `compileall` introduced the `-b` option:
[code]

So, all you have to do is navigate to the `build/packages/PyTrilinos/src/PyTrilinos` folder and run:
`python -m compileall -b -l -f .`

[2017-10-08 17:43] michael-a-hansen commented on #1749
@gpkc this works for me, thank you!

One thing: I got rid of the `-l` flag so that `compileall` is recursive. There's a couple of sub-directories like LOCA, NOX, and Isorropia that need to be compiled.

[2017-10-09 13:38] bartlettroscoe commented on #1746
Now that it seems that testing-vm.sandia.gov/cdash/ is accessible from outside SNL web and we can submit to it from inside the SRN without having to set http_proxy="" (see https://gitlab.kitware.com/snl/project-1/issues/39#note_327897), it occurred to me that we should set up Trilinos/CTestConfig.cmake to do a dual submit to testing.sandia.gov/cdash/ and testing-vm.sandia.gov/cdash/ with the exist

[2017-10-09 14:58] william76 opened #1826 "ShyLU_Node Configure Failures - Looking for TPL_METIS?"
@trilinos/shylu
@searhein

Nightly testing is broken starting with Saturday night tests... Looks like configure issues with ShyLU_Node trying to load METIS (?)
- https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3149030

### Relevant Commits
- https://github.com/trilinos/Trilinos/commit/f57ee58221643a7802da6e1e33b75a9b31fe35bb ShyLU: Fixing some variable names
- https://github.com/trilino

[2017-10-09 15:21] bathmatt opened #1827 "MueLu+MPI+Cuda memory fault"
I've got an issue I could use help resolving, when I run my code using MPI on cuda I get an error defined below.  It works in serial+cuda and MPI+OpenMP but just not MPI+Cuda.

I have CUDA_LAUNCH_BLOCKING on.  Any help would be great to track this down.

[code]

[2017-10-09 15:23] bathmatt commented on #1827
Oh, and in addition, there are four tests that fail in muelu on shiller under cuda.  Not sure this is related or not

[code]

[2017-10-09 15:25] kyungjoo-kim commented on #1826
I thought that metis is already installed in the trilinos test as discussed in #1782.

[2017-10-09 15:34] aprokop commented on #1827
Hmm, this seems like Amesos2 failure. @bathmatt Do you have stack traces with specific lines in files?

@trilinos/muelu @trilinos/amesos2

[2017-10-09 15:36] william76 commented on #1826
@bmpersc
This commit is where the METIS dependence is getting added in.
https://github.com/trilinos/Trilinos/commit/28de7d52196372af73df22361e5fe4fc161c2232

[2017-10-09 15:50] bathmatt commented on #1827
I don't really trust cuda-gdb sometimes but this is what I'm seeing

[code]

[2017-10-09 15:52] bathmatt commented on #1827
a bit more

[code]

[2017-10-09 15:57] lucbv commented on #1827
Regarding the unit-tests, they all fail on a cast from `Xpetra::CrsMatrix` to `Xpetra::EpetraCrsMatrix`.
Based on the configuration for that particular build, I would not be too surprised if this problem comes from the ETI for the unit-test.
@csiefer2 did we test the ETI with SERIAL, OPENMP and CUDA on and linAlgebra=Epetra?

[2017-10-09 15:59] csiefer2 commented on #1827
@lucbv No.

[2017-10-09 16:05] wfspotz commented on #1749
@michael-a-hansen, @gpkc:

Any idea WHY this is happening? Cmake is supposed to byte compile the generated python code. What is happening that this fails (quietly) and a manual workaround is necessary? If you do not know, perhaps you could attach your output for configuration and building, and maybe I could find a clue.

I would like to fix this for everyone, without the need for a manual workarou

[2017-10-09 16:07] bathmatt commented on #1827
This is tpetra btw, not epetra.  Although there are issues on the unit tests.

[2017-10-09 16:23] wfspotz commented on #1821
Closing in favor of #1749

[2017-10-09 16:23] #1821 closed

[2017-10-09 16:27] srajama1 commented on #1827
Amesos2 depends on Teuchos heavily. This appears Teuchos expecting "t" to be addressable but it is not. It all depends on what types the matrices were instantiated with before being passed into Amesos2.

@ndellingwood : Do our KLU2 and Basker tests are run on GPU platforms ?

[2017-10-09 16:27] wfspotz commented on #744
For now, if configuration fails during the creation of PyTrilinos docstrings, the workaround is to set

    -D PyTrilinos_DOCSTRINGS:BOOL=OFF

in your `cmake` invocation.

[2017-10-09 16:27] #744 closed

[2017-10-09 16:48] jjellio opened #1828 "MueLu timer labels are mangled"
On a new build of MueLu, I am seeing Teuchos Timer labels that appear mangled:

E.g.,
MueLu: N5MueLu10RAPFactoryIdixN6Kokkos6Compat23KokkosDeviceWrapperNodeINS1_6OpenMPENS1_9HostSpaceEEEEE: Computing Ac

Is this intended? It would appear the above is trying to show something like
MueLu: MueLu::RAPFactory<ExecutionSpace>: Computing Ac

Is this type of output intended? Is there a way to control it?

[2017-10-09 16:56] bathmatt commented on #1827
Where is the (cuda-gdb) p data_.numeric_ data allocated.  For some reason it isn't being allocated.

[2017-10-09 17:02] jhux2 commented on #1828
@jjellio Assume this is on Cori.  Anywhere else this can be reproduced?

[2017-10-09 17:06] jjellio commented on #1828
No, this is Onyx. I haven't pulled a new Trilinos on Cori since mid march.

csiefert is getting this on Onyx

[2017-10-09 17:07] jhux2 commented on #1828
The mangling isn't intended behavior btw.

[2017-10-09 17:08] srajama1 commented on #1827
It is just a struct in the stack. See packages/amesos2/src/Amesos2_KLU2_decl.hpp line 224.

[2017-10-09 17:10] jjellio commented on #1828
My guess, is that Teuchos::demangleName() is failing in some way.

Look at MueCentral/MueLu_Describable.cpp,

It wants to form a ShortClassName, it does this by demangling, then removing '::' and '<' '>'

The down side, is that since those are removed, you can't demangle the failed demangled name! E.g., c++filt is not able to parse the mangled name because pieces are removed. Which means, I can't

[2017-10-09 17:14] bathmatt commented on #1827
::KLU2::klu_numeric<slu_type, local_ordinal_type> *numeric_;
It's a pointer.  and it is pointing to null...

[2017-10-09 17:17] ndellingwood commented on #1827
On apollo there is a MPI+Cuda nightly that builds/tests with KLU2 enabled; lots of warnings but tests build/pass in that case. I'm configuring and building with MPI+Cuda8 now to reproduce

[2017-10-09 17:17] csiefer2 commented on #1828
This particular platform does *not* support shared libraries.  Dunno if that matters, but it is different.

[2017-10-09 17:18] jjellio commented on #1828
It should be nearly identical to Cori.

[2017-10-09 17:18] bathmatt commented on #1827
Another data point, If I run a bigger problem it runs, this problem is smallish

I can get you access to the code on hansen/shiller if you'd like as well

[2017-10-09 17:24] jhux2 commented on #1828
I just checked the dashboard, found no timer mangling anywhere.

[2017-10-09 17:24] jhux2 commented on #1828
But on Cori, this doesn't happen, right?

[2017-10-09 17:29] jjellio commented on #1828
It has never happened that I recall on Cori.

It is possible the configure on Onyx is wrong (I have emailed csiefert the Cmake voodoo I use). On these machines you do need to set some CMake variables directly, because the compiler cannot perform compileAndRun() tests (the target ARCH is not the same as the compiling architecture)

On Cori, I have to set:
-D HAVE_GCC_ABI_DEMANGLE:BOOL=TRUE

Need to

[2017-10-09 17:32] csiefer2 commented on #1828
Rebuilding with this option.

[2017-10-09 17:35] jjellio commented on #1828
The top of my Cray scripts has:

The CXX flags are not too important, because craype-haswell or craype-mic-knl will append them. But if you set them this way, you will get all kinds of warnings if you accidentally have the wrong modules loaded when you try to compile. E.g., the compiler line will see CC -xMIC-AVX512 -xAVX2, the latter added by craype. ICC will then have a fit that you are providin

[2017-10-09 17:37] mhoemmen commented on #1752
@tjfulle I'm not convinced that Epetra is actually correct for this case, since Epetra and Tpetra have a common origin here.  I've changed this code quite a bit in Tpetra over the years, so it's likely that Tpetra hangs where Epetra might just let stuff through.

Reverse-mode Import / Export wasn't written to be fully general.  One way to figure out whether this is the issue, would be to look at w

[2017-10-09 17:38] ndellingwood commented on #1827
My first build/test was with UVM enabled and tests passed in that case.
@bathmatt do you have UVM enabled or disabled? I have a build in progress without UVM to compare, if this does not reproduce the issue you're seeing I'll need to get access to the code you mentioned to look into it.

[2017-10-09 17:38] mhoemmen commented on #1752
Whether Distributor enters the "slow path" is a function of the source and target Maps in the Import or Export object.

[2017-10-09 17:40] ndellingwood commented on #1827
Oops, forgot that Tpetra requires UVM so my UVM-free script never made it past configuration.

[2017-10-09 17:40] jhux2 commented on #1828
There's also a Teuchos cmake option called "Teuchos_ENABLE_GCC_DEMANGLE".

[2017-10-09 17:41] csiefer2 commented on #1828
Yeah, and that gets set correctly without manual intervention.

[2017-10-09 17:47] bathmatt commented on #1827
I'm sending you an email off github on location and build setup.

[2017-10-09 17:49] srajama1 commented on #1827
I don't think I have access to either of the machines. @ndellingwood might have it.

[2017-10-09 17:51] csiefer2 opened #1829 "Framework: Windows Build Not Posting To Dashboard"
See title

[2017-10-09 18:13] bathmatt commented on #1827
I gave him access to the code and the build/run instructions.

Nightly I build an updated trilinos and install it on the different test beds.  Pointed him to that version.

Once it is figured out what the issue is I can point him to the configure scripts which is a royal pain

[2017-10-09 18:16] gpkc commented on #1749
@wfspotz I believe (I have to check but I'm almost sure) that for newer versions of python, instead of generating the bytecode in the same folder that the .py files are, it is generating them inside a __pycache__ folder, created inside the same folder that contains the .py files. So, the build system can't find them because it is looking for .pyc files with the same path as the .py files.

[2017-10-09 18:24] aprokop commented on #1828
I remember having this problem before: 34839a8019f6ef80f6ec5e3caa277426f458e1c3. Could this be a similar issue.?

[2017-10-09 18:25] jmgate commented on #1802
Created the `BlockedVector_Write_GlobalEvaluationData` and made the associated changes in the `BlockedEpetraLinearObjFactory`, but unfortunately the `simplex_lpfl` test is now failing.  Debugging&hellip;

[2017-10-09 18:51] srajama1 commented on #1827
Ok, we will take a look at this and come back.

[2017-10-09 19:28] bmpersc commented on #1826
@kyungjoo-kim, #1782 only said that we were going to look into setting it up either through SEMS or in a Trilinos area on the SEMS NFS. We have not actually gotten any of the TPLs built at this point. In fact I haven't even had a chance to do the due diligence necessary to bring the request to SEMS after vetting it for the concerns that they have for supporting any TPLs. The general request was ma

[2017-10-09 19:31] kyungjoo-kim commented on #1826
Okay. I will change metis as optional. Please let me know metis is available on the nightly test systems.

[2017-10-09 20:28] tawiesn commented on #1783
@csiefer2 You know that you can create a new BlockedDefaultFactoryManager class. You do this once and you're good for the rest of your life. However, it's not clear what the defaults should be if you have different kinds of problems...

[2017-10-09 21:13] kvmkrao commented on #1749
@gpkc @michael-a-hansen
python -m compileall -b -f . command does not solve my problem. Do you have any suggestion.
It could be because of errors of the listed in this comment.

@wfspotz
My configuration file is

$ python --version
Python 3.6.1 :: Anaconda 4.4.0 (64-bit)

$ swig -version
SWIG Version 3.0.12
Compiled with g++ [x86_64-pc-linux-gnu]
Configured options: +pcre

$cd gitclone/packages/Py

[2017-10-09 21:37] michael-a-hansen commented on #1749
@kvmkrao it looks like you may not be running `compileall` in the right directory. For example, the the `test` or `examples` subdirectories of nox are in the source but I don't see them in my build directory.

For clarity: I'm running `compileall` from  `/Users/mike/Trilinos/build/packages/PyTrilinos/src/PyTrilinos`, where `/Users/mike/Trilinos` is the git repo and `build` is my cmake build direct

[2017-10-09 21:53] bathmatt commented on #1827
Also, FWIW, I ran this on CPU through valgrind and saw only MPI issues with initialization and finalize that openmpi throws.

[2017-10-09 21:59] wfspotz commented on #1749
@kvmkrao Where are you getting Trilinos? Python 3 support is relatively new, and you have files that have not been updated to work with both Python 2 and 3.

[2017-10-09 21:59] kvmkrao commented on #1749
@michael-a-hansen
I ran the command in the build/packages directory and installation is successful. However, the following Teuchos tests are failed. I think, those are due to the errors in compiling some of the files.

Start  1: PyTrilinos_testTeuchos_MPI_4
 1/44 Test  #1: PyTrilinos_testTeuchos_MPI_4 .................***Failed  Error regular expression found in output. Regex=[The following Teucho

[2017-10-09 22:18] kvmkrao commented on #1749
@wfspotz
The Trilions version used for the build is
--------------------------------------------------------------------------------
*** Base Git Repo: Trilinos
d6eed5d [Thu Sep 28 13:47:58 2017 -0600] <bmpersc@sandia.gov>
Update release notes for 12.12.
 --------------------------------------------------------------------------------
I am able to install pytrilinos via the configuration options s

[2017-10-09 22:20] wfspotz commented on #1749
@michael-a-hansen run `ctest --output-on-failure` and send me the results

[2017-10-09 22:21] wfspotz commented on #1749
@kvmkrao You will need to pull a more recent commit from the Trilinos repository. There is an Oct 4 fix for packages/PyTrilinos/doc that enables use with Python 3.

[2017-10-09 23:00] tjfulle commented on #1752
@mhoemmen, I just wrote just about as simple an example I could come up with that demonstrates the problem.  (The identity matrix, 2 rows per process, one row shared with a neighboring process).  In the version of Tpetra that does not stall, Distributor in forward mode uses the "fast" path an reverse mode uses the "slow" path.  In the version of Tpetra where a hang occurs during the reverse mode i

[2017-10-09 23:08] bmpersc commented on #1818
@nschloe, there is no required convention that I'm aware of. We've normally let people decide what their directories will be called. On the plus side that is also true for their library names too, so the Kokkos Kernels team could decide to change their library name to address this issue.

Forgive me, but I'm largely ignorant of how you are doing these builds and distributions for debian. I'm curio

[2017-10-09 23:11] kvmkrao commented on #1749
@wfspotz

I pulled the  most recent git repo  and ran the same configuration file. And, got the same installation error

Git repo version

Installation error

Tests

Thank you.

[2017-10-09 23:11] bmpersc commented on #1829
@csiefer2 I have gotten the machine back up and running. The jenkins process had stopped running. I'm not sure why and I thought I'd put in some things to handle a lot of the ways it could stop so that it would be restarted automatically. However, it looks like those fail safes either don't handle this case or didn't work. I'll have to look into that further. But, for now the tests are currently r

[2017-10-09 23:11] #1829 closed

[2017-10-09 23:17] bmpersc opened #1830 "Investigate why windows tests stop submitting"
@trilinos/framework The windows testing has stopped submitting for no discernible reason. The root cause was that the jenkins process stopped, but there was no indication of why. The method I'd put in place to ensure that the process stays running didn't help here and now seems to no longer exist on the machine. We need to investigate why.

[2017-10-09 23:57] gpkc commented on #1749
@kvmkrao I believe he has not yet fixed the problem with the bytecode generation. Please do the compileall procedure and run the tests again.

[2017-10-10 01:19] tjfulle commented on #1752
@mhoemmen, the problem seems to be in the 4 argument, Kokkos version, of `Distributor::doPosts` if `Distributor::indicesTo_` is not empty.  If I bypass the problematic Kokkos version by doing the following at the beginning of the 4 argument, Kokkos version, of `Distributor::doPosts`:

[code]

my simple test passes.  @kddevin's more complicated test also passes.

Do you have any ideas why the Kokko

[2017-10-10 03:17] mhoemmen commented on #1752
@tjfulle Thanks for working on debugging this!

The case where `Distributor::indicesTo_` is nonempty on a process, is exactly the case when that process takes the "slow path" in `doPosts`.  See Doxygen documentation for `indicesTo_`:

The two implementations of 4-argument `doPosts` are almost exactly the same.  My guess is that there is something wrong with how Views got set up, but it's hard to i

[2017-10-10 03:29] tjfulle commented on #1752
Thanks @mhoemmen .  I've been running with `debug_` on, though using `Tpetra::Details::Behavior` would be preferable to hardcoding the flag.  The biggest pain, so far, is that there is no crash, the code just hangs. and it's still unclear where the hang is originating.  But, with the hack to workaround the hang, I am relatively confident I have the source narrowed down to a few tens of lines.

[2017-10-10 04:07] mhoemmen commented on #1752
@tjfulle wrote:

I have you to thank for implementing `Environment` :-) .  I started with that, then realized that I needed it to be more lightweight, as well as reëntrant (for use with task parallelism on host).

If you find it helpful for debugging, please feel free to change Distributor so that it uses `Behavior::verbose()` to set the default value of `debug_`.

[2017-10-10 11:10] nschloe commented on #1818
@bmpersc A Debian exception is added for each of the packages that don't conform to this rule (like, as you mentioned, packages with subpackages, and some other ones like pliris with `libdpliris` etc.). See [here](https://anonscm.debian.org/cgit/debian-science/packages/trilinos.git/tree/debian/lintian-override.in) if you're interested.

[2017-10-10 12:19] bartlettroscoe opened #1831 "Upgrade SEMS NetCDF modules for Standard CI Build"
**CC:** @trilinos/framework

**Description:**

The standard SEMS CI build currently uses the NetCDF SEMS module `sems-netcdf/4.3.2/parallel`.  But the SEMS team just announced that that module is going away an is replaced by `netcdf-4.4.1-exo_parallel` (see below email).

This story is to upgrade the scripts `Trilinos/cmake/load_[ci_]sems_dev_env.sh` to use `netcdf-4.4.1-exo_parallel` and to caref

[2017-10-10 12:26] bartlettroscoe commented on #1458
@ibaned,

Now that TeuchosParser is implementing YAML parsing for the Teuchos PL YAML parsing code, does the standard Trilinos CI build still need to be enabling the yaml-cpp TPL and SEMS module for this?  If not, then we should turn this off.

[2017-10-10 12:39] tjfulle commented on #1752
Found it!  [This loop](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_Distributor.hpp#L2825) prepares messages to be sent.  But, [numPacketsTo_p](https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_Distributor.hpp#L2824) is never incremented as it is in the [similar loop](https://github.com/trilinos/Trilinos/blob/develop/packages/tpe

[2017-10-10 12:45] ibaned commented on #1458
@bartlettroscoe  Effectively `yaml-cpp` is not needed by Trilinos anymore, so yes we can move forward with turning it off in CI builds.

[2017-10-10 13:05] bartlettroscoe commented on #1458
Okay, I will try to disable the yaml-cpp TPL and see if we get all of the same tests passing.

[2017-10-10 13:27] bartlettroscoe commented on #1458
Note that since the switch over to using TeuchosParser for YAML parsing, we are no longer seeing warnings from yaml-cpp headers we once saw.  You can see this, for example, in:

* https://testing.sandia.gov/cdash/viewBuildError.php?type=1&buildid=3156098

that no warnings are coming from yaml-cpp header files.

[2017-10-10 13:32] bartlettroscoe commented on #1458
Does TeuchosCore need even an optional dependency on yaml-cpp at this point?  Can we take "yaml-cpp" out of the file teuchos/cmake/Dependencies.cmake?

[2017-10-10 13:36] ibaned commented on #1458
Yes, I think we can.

[2017-10-10 14:06] jmgate commented on #1802
Turns out it was just a matter of vectors being used uninitialized.  `simplex_lpfl` is passing now.  Next up are a handful of other Drekar files that need to be refactored to the new way of doing things.

[2017-10-10 14:23] bathmatt commented on #1807
@ibaned any updates?

[2017-10-10 14:24] tjfulle commented on #1752
To add to my last comment, the "slow" path of the Kokkos version of 4 argument `doPosts` is definitely *not* tested by Tpetra  (with my current setup, Darwin and `OpenMP` node type).  Adding `TEUCHOS_TEST_FOR_EXCEPTION(true, ...)` unconditionally to that code path results in 100% of Tpetra tests passing.

[2017-10-10 15:34] jmgate commented on #1802
Looks like Panzer's `EpetraVector_Write_GlobalEvaluationData` was duplicated in Drekar as `EpetraVector_Write_GED`; similarly `WriteVector_GlobalEvaluationData` as `WriteVector_GED`.  These Drekar classes need to be ripped out, and the code that uses them needs to be refactored to use Panzer.

[2017-10-10 15:45] srajama1 commented on #1818
Let me bring it up with other developers and we will go with the consensus.

[2017-10-10 16:23] mhoemmen commented on #1752
@tjfulle : I just got out of some meetings.  Thanks for working on this!  Either (Teuchos or Kokkos) version of 4-argument doPosts would only be exercised by CrsGraph, CrsMatrix, BlockCrsMatrix, or CooMatrix.  We've tested the `Teuchos::Array*` version of 4-argument `doPosts` pretty thoroughly in practice, even the slow path (hence the tag stuff in there).

My eventual goal is to have a single ver

[2017-10-10 17:43] ibaned commented on #1807
The Kokkos event I'm at has my hands pretty well tied...

[2017-10-10 18:36] rppawlo opened #1832 "Phalanx: add Field ctors that take RCP<FieldTags> instead of PHX::Tags"

[2017-10-10 18:38] rppawlo opened #1833 "Phalanx: explore DAG evaluation performance from single parallel_for launch"

[2017-10-10 18:39] rppawlo commented on #1833
@trilinos/phalanx
@seamill
@eric-c-cyr

[2017-10-10 19:18] jmgate commented on #1802
@eric-c-cyr, can we just make it such that these `build.*DomainContainer()` routines initialize the owned vector to zero to begin with?

[2017-10-10 19:27] eric-c-cyr commented on #1802
To be clear, you are saying when a user calls setOwnedVector?

If so, then for the Write ones I think so... for the read ones no.  Caveat for the write ones, do you think a user would write a bunch of stuff to them first stuff it into a Write GED and then fill in the ghosted vector? Would they be upset if it didn't work that way?

[2017-10-10 19:38] jmgate commented on #1802
@eric-c-cyr, not sure.  It might be worthwhile to find a time for you, me, and @ssmabuza to sit down and work through the stuff he's put in Drekar using these `GlobalEvaluationData`s.  I'm having a hard time making heads or tails of it.  I'd say office hours next week, but it looks like that meeting was canceled&mdash;is that right?

[2017-10-10 19:42] #1793 closed

[2017-10-10 19:50] eric-c-cyr commented on #1802
The office hours are on, I just haven't set an email for this (I've reserved a room already)

[2017-10-10 19:51] jmgate commented on #1802
Gotcha.  I'll try to understand all of Sibu's changes between now and then, and hopefully have an idea of what needs to change.

[2017-10-10 19:52] searhein commented on #1752
@kddevin @tjfulle @mhoemmen
I was now able to fix my code introducing additional exporters and importers in some parts of the code, where the reverse mode hung; see #1834.
The code runs through now and gives me the correct result. However, in order to reduce communication cost, it would be nice if I could remove those additional exporters and importers as soon as the issue is fixed. Thanks!

[2017-10-10 19:54] tjfulle commented on #1752
@searhein, I am running the checkin script right now and should have a PR open very soon with a fix.

[2017-10-10 20:17] bartlettroscoe commented on #1746
Okay, given there has been no pushback from anyone, I will go ahead and set up Trilinos builds to do dual submits to testing.sandia.gov/cdash/ and testing-vm.sandia.gov/cdash/.

[2017-10-10 20:27] mhoemmen commented on #1752
@searhein I'm curious why you need reverse mode; would you mind explaining?

[2017-10-10 20:30] mhoemmen commented on #1752
@tjfulle I'm reviewing your PR right now.  Thanks!

[2017-10-10 20:31] searhein commented on #1752
@mhoemmen I need to communicate in both ways with the same maps. However, I would like to create the Import/Export object only once.

[2017-10-10 20:32] tjfulle commented on #1752
The only PR I have open is for a different issue.  It just adds a test for pack/unpack.  I'm still running the checkin script for this issue.  A PR is eminent.

[2017-10-10 20:34] mhoemmen commented on #1752
@tjfulle ah sorry, that was the PR coming from the check-in test script, in your fork :) .

[2017-10-10 20:34] mhoemmen commented on #1752
@searhein Thanks for the explanation!

[2017-10-10 20:37] tjfulle commented on #1752
@mhoemmen, I pushed to that branch as an intermediate, I am now running the full checkin script on my blade.  But, time spent looking at the commit is not lost, since I'll open a PR based on it soon.

There is only a 1 line code change, but I updated a lot of the debug statements to be more informative, so it appears there are more changes that there really are.

But, PR #1769 is still open :)

[2017-10-10 20:41] ssmabuza commented on #1802
@jmgate and @er The `drekar::WriteVector_GED` is a placeholder for the final Panzer implementation. We needed it to make sure all was well in the calculations with it is. I have more routines that use it. I use the  `panzer::BlockedEpetraLinearObjFactory` to create the owned vector which I zero out and stuff into the `drekar::WriteVector_GED` object. This could be eliminated by using the owned map

[2017-10-10 20:42] ssmabuza commented on #1802
@jmgate and @er The `drekar::WriteVector_GED` is a placeholder for the final Panzer implementation. We needed it to make sure all was well in the calculations done using it, which they are. I have more routines that use it. I use the  `panzer::BlockedEpetraLinearObjFactory` to create the owned vector which I zero out and stuff into the `drekar::WriteVector_GED` object. This could be eliminated by

[2017-10-10 20:42] mhoemmen opened #1835 "ShyLU: Build errors relating to use of Kokkos tasks"
@trilinos/shylu @trilinos/amesos2
[code]

[2017-10-10 20:49] jwillenbring commented on #1746
@bartlettroscoe I think it is a good idea to set up the dual submits.

[2017-10-10 21:40] mhoemmen commented on #1752
@tjfulle I'm working on #1769 now :) .

[2017-10-10 21:51] mhoemmen opened #1837 "Teuchos::Parser: Build warnings (Clang 3.9)"
@trilinos/teuchos
[code]

[2017-10-10 21:54] kyungjoo-kim commented on #1835
how do you get this error ? Can you put a configure script ?

[2017-10-10 22:08] kyungjoo-kim commented on #1835
Could you try this configure script ?
[code]

I was able to compile it successfully and pass ctests.
[code]

[2017-10-10 22:11] tjfulle commented on #1752
@mhoemmen, PR #1838 fixes the hang for the test case I added.  It also fixes the hang in @kddevin's test she posted here.

@searhein, could you check your code against PR #1838 to see if it fixes the hang you are experiencing.

[2017-10-10 22:15] mhoemmen commented on #1835
@kyungjoo-kim My build was a CUDA build, through the check-in test script, using the `--extra-builds` flag to enable all packages.  Could that be the issue?  I got around this by disabling the `ShyLU` and `ShyLU_Node` packages.

[2017-10-10 22:16] mhoemmen commented on #1835
@kyungjoo-kim Just curious: Do you actually need `Trilinos_ENABLE_ALL_OPTIONAL_PACKAGES:BOOL=OFF`?

[2017-10-10 22:21] mhoemmen commented on #1752
@tjfulle I hereby approve #1838.  Please feel free to push if it builds and passes tests for you.  Don't worry about the CUDA build for now; this should be independent of that.  Thanks! :-D

[2017-10-10 22:22] kyungjoo-kim commented on #1835
@mhoemmen

The solver does not supports CUDA (no graph partitioner, no blas library, etc). Even if the code is enalbed via UVM, the host execution space should be used. Maybe we need to disable the amesos2 wrapper for CUDA. Can this be a solution ?

@MicheldeMessieres

Do you have any idea of this ?

[2017-10-10 22:23] tjfulle commented on #1752
@searhein, this should now be fixed.  When you get a chance, if you could check your code and close this issue if it is fixed.

[2017-10-10 22:27] mhoemmen commented on #1835
@kyungjoo-kim That's fine, but it would be nice if it _built_ with CUDA :-) .  I'm OK if you just defer to the host execution space in that case.

[2017-10-10 22:46] bartlettroscoe commented on #1746
Okay, I just pushed the commit 0c7793cf10718d9fc379501613fbbc4c3ff0ffc4:

[code]

I tested this out locally on my machine first using:

[code]

That submitted to:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=1&showfilters=1&field1=buildstamp&compare1=61&value1=20171010-2224-Experimental

and

* https://testing-vm.sandia.gov/cdash/index.php?project=Tril

[2017-10-10 22:48] searhein commented on #1752
@tjfulle I can confirm that #1838 fixed this issue for my code.
@kddevin @mhoemmen @tjfulle Thank you a lot for fixing this :-)

[2017-10-10 22:48] #1752 closed

[2017-10-10 23:05] tjfulle commented on #1408
Test added in #1769

[2017-10-10 23:05] #1408 closed

[2017-10-11 12:22] bartlettroscoe commented on #1746
The builds are now being mirrored on testing-vm.sandia.gov as shown by:

* https://testing-vm.sandia.gov/CDash/index.php?project=Trilinos&date=2017-10-11

However, this resulted in a bunch of emails getting sent out for failed builds that looked like:

[code]

I turned off the emails in the project settings for the "Trilinos" project so we should not be getting emails on this (at least for now).

[2017-10-11 12:37] prwolfe commented on #1584
My current status as of yesterday.

Sierra continues to hunt for the umfpack symbols in a nonexistent UMFPACK namespace (declared in Amesos2_Umfpack_FunctionMap.hpp). To confirm I built Amesos2 in Trilinos with unpack enabled (4.1) and no modifications (the head of the develop branch). I got the exact same errors

../../src/libamesos2.so.12.13: undefined reference to `UMFPACK::umfpack_zi_numeric(i

[2017-10-11 13:53] jwillenbring commented on #1294
The definition of done for this was completed a while ago (100% passing clean builds), but the ticket was never closed. I will close the ticket since it was meant to get us set up with initially passing clean builds, not be open indefinitely in case a clean build fails at some point.

[2017-10-11 13:53] #1294 closed

[2017-10-11 14:01] jwillenbring commented on #1761
@trilinos/framework
@bartlettroscoe It seems there is a difference between issues such as using 3.10 for the new-stye submits, and the needing an upgraded version for refactoring TriBITS. For example, we could have a minimum version (informal) for submitting to CDash, while possibly having a lower minimum version for general Trilinos builds. If people want to use ninja, they will need a minimum ve

[2017-10-11 14:59] william76 opened #1841 "ShyLU_Node Build Errors in Nightly"
@trilinos/shylu
@kyungjoo-kim

There are compilation errors on the nightly clean build track:
- CDash: https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-10-11
- Example from Linux-gcc-4.9.3-SERIAL_Release_gcc_4.9.3__DEV:
    https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3156986

[code]

This looks like it might be the commit that added the error: https://github.co

[2017-10-11 15:17] william76 commented on #1841
I did a bit of checking... ordinal_type isn't defined in TachoExp_Util.cpp, but it is defined in TachoExp_Util.hpp

Should TachoExp_Util.hpp be included into TachoExp_Util.cpp?

[2017-10-11 15:18] kyungjoo-kim commented on #1841
Oh.... I thought that I already pushed about this.

[2017-10-11 15:27] kyungjoo-kim commented on #1841
this should fix the problem.

[2017-10-11 16:50] mhoemmen commented on #1584
It's not at all clear how the thing ever linked in the first place.  The header files get included inside of the `UMFPACK` namespace, but the UMFPACK implementation itself is C and does not use namespaces.  Could it be that y'all thought the UMFPACK TPL was enabled but it wasn't?  We know you tested but we're just mystified at how it could have worked.

[2017-10-11 17:42] ndellingwood commented on #1584
@mhoemmen
I'll paste my Trilinos configuration below (some settings may have accumulated that are irrelevant for this issue). I built/tested with gcc 5.4. No build errors, unit tests passed, I also built/tested with example driver code and tested with umfpack as the solver (--solver=umfpack). I'm looking more closely at the unit tests now but still having issues reproducing. I'm using UMFPACK 4.1

[2017-10-11 18:04] jjellio commented on #1828
You should make sure that Cmake picks up CC, cc, and ftn as the compilers, not icpc icc and ifort.

One thing that can happen on the Cray machines, is that you have different standard c++ libs... if that get's messed up, really weird things happen. You can get an idea of what Cray is doing, by, CC -craype-verbose (or it may be ---craype-verbose), it will dump the actual compiler line that is used.

[2017-10-11 18:57] MicheldeMessieres commented on #1584
I think the links to umfpack lib work due to the extern "C" in umfpack.h which removes the name spacing for the linkage. So possibly the link errors are due to the umfpack lib not being present or working since umfpack is not part of the standard Trilinos SuiteSparse (setting of UMFPACK_INCLUDE_DIRS and UMFPACK_LIBRARY_DIRS)? Maybe having this include inside a namespace is not a great idea but I'm

[2017-10-11 19:11] MicheldeMessieres commented on #1584
I tried a quick test and removed the namespace and all references to UMPACK:: in the file Amesos2_Umfpack_FunctionMap.hpp. It is not used elsewhere. If the namespace is causing an issue that might be a useful check. With or without the namespace is working for me.

[2017-10-11 19:32] mhoemmen commented on #1584
I don't mean to be rude, but are you sure that the UMFPACK TPL is actually enabled in your build?  I find it hard to believe that the code could possibly link if the header file is wrapped in a namespace.  Does your configure.out file show that the UMFPACK TPL is enabled?  Is `Amesos2_ENABLE_UMFPACK:BOOL=ON` in your CMakeLists.txt?

[2017-10-11 19:37] mhoemmen commented on #1584
I wonder also if there's something wrong with the CMake logic that makes `HAVE_AMESOS2_UMFPACK` not get defined.

[2017-10-11 19:43] michael-a-hansen commented on #1749
@wfspotz sorry for the slow reply - I get `no tests were found` when I run `ctest`. What haven't I done?

[2017-10-11 19:57] MicheldeMessieres commented on #1584
Seems Amesos2_ENABLE_UMFPACK is ON and the TPL is enabled. I can confirm my Cmake says it is finding the Umpack lib. I'm running the Amesos2 tests and seeing the Umfpack test running. Earlier I had tried running my clang debug and stepping to the Umpack call lines just to be sure I was really getting there. I am just testing clang at this moment though.

[2017-10-11 20:06] wfspotz commented on #1749
@michael-a-hansen what did you do 2 days ago when you reported the failing tests?

[2017-10-11 20:13] michael-a-hansen commented on #1749
That was @kvmkrao, I thought you wanted me to run the tests to compare with @kvmkrao's test failures.

[2017-10-11 20:17] mhoemmen commented on #1584
I'm on the phone with @ndellingwood right now trying to figure this out.  It seems like Trilinos was pointing to the wrong UMFPACK install.  @rrdrake is on his way to work with Nathan too.

[2017-10-11 20:20] wfspotz commented on #1749
@michael-a-hansen Ah, I see my mistake. If you want to help, I suspect you have

    -D Trilinos_ENABLE_TESTS:BOOL=OFF
    -D Trilinos_ENABLE_EXAMPLES:BOOL=OFF

in your `cmake` invocation. You could add

    -D PyTrilinos_ENABLE_TESTS:BOOL=ON
    -D PyTrilinos_ENABLE_EXAMPLES:BOOL=ON

and that would enable just the PyTrilinos tests.

@kvmkrao can you run `ctest --output-on-failure` and send me the

[2017-10-11 20:36] kvmkrao commented on #1749
@wfspotz
output of `ctest --output-on-failure ` is

[2017-10-11 20:37] michael-a-hansen commented on #1749
Here's the summary of failures from `ctest --output-on-failure` on my build:

[code]

All but Pliris fail like this, with `ImportError: attempted relative import with no known parent package`:
[code]

And Pliris' failure is unique, seems like the module is never built in the first place.
[code]

[2017-10-11 20:42] ndellingwood commented on #1584
When looking at configure output the INCLUDE_DIRS paths were all set properly, but once I double checked my CMakeCache.txt I saw my tests earlier were using a libs from a system install of a newer Umfpack and not the those from the Library paths I specified (arrgh!).

I rebuilt umfpack 4.1 (some directory restructured from config file above), did a clean start with configure using umfpack 4.1 this

[2017-10-11 21:17] srajama1 commented on #1584
Does your tests work with newer UMFPACK and fail with 4.1 ?

[2017-10-11 21:47] ndellingwood commented on #1584
@MicheldeMessieres thanks for testing with the namespace removed and confirming there are no issues; would you mind submitting a PR with the changes you made, as well as wrapping #include "umfpack.h" with extern "C" ? This should resolve the issue for the older version of Umfpack currently needed by @prwolfe and @rrdrake

[2017-10-11 21:51] ndellingwood commented on #1584
Issue #1255 includes discussions about adding TPLs (including UMFPACK) to nightly testing. Mentioning here for tracking purposes.

[2017-10-11 21:55] MicheldeMessieres commented on #1584
@srajama1 I never tested the old version of umfpack myself. I'll get setup for that using your link.

[2017-10-11 21:57] MicheldeMessieres commented on #1584
@ndellingwood I'll remove the namespace and add the extern wrapping. I'll test this on the old and new umfpack versions and submit a new PR.

[2017-10-11 22:01] ndellingwood commented on #1584
@MicheldeMessieres thanks! I just emailed a copy of umfpack 4.1, I was never able to find this version online.

[2017-10-11 22:02] MicheldeMessieres commented on #1584
@@ndellingwood  Thanks! Was just about to ask about 4.1 versus 4.3.

[2017-10-11 22:04] wfspotz commented on #1749
OK, I have pushed a fix to the `develop` branch that should address the byte-compiled files issue. With it, you should not need to do the manual workaround. It does not address the `import` problems under Python 3.6.

[2017-10-11 22:51] wfspotz commented on #1749
I have pushed another fix to the `develop` branch that addresses the `import` problem. All my tests pass on Mac OS X. I would like to see if this works for those of you on Linux.

[2017-10-11 22:55] ndellingwood commented on #1584
FYI the Amesos2 umfpack test that failed with Umfpack 4.1 passes with Umfpack 5.0.1 (from SuiteSparse 2.1.1)

[2017-10-11 23:12] ibaned commented on #1837
ack! it looks like I'm not part of @trilinos/teuchos (in fact, only @bartlettroscoe is...) so I didn't get notified about this. I'm on it now

[2017-10-11 23:16] gpkc commented on #1749
@wfspotz I will try it tomorrow.

[2017-10-12 00:02] jhux2 commented on #1605
@jwillenbring Is this something that Tech-X could help with?

[2017-10-12 02:31] jjellio commented on #1605
Does this problem persist if you use the gold linker rather than GNU? (Gold doesn't seem to work for me if I try to statically link MKL, but openblas Trilinos builds work). I can find the Intel lines for using gold, it is something like -B /path/to/folder/with/ld, and have ld point to gold. For GNU, -fuse-ld=gold.

[2017-10-12 04:11] mhoemmen commented on #1584
@prwolfe @rrdrake

[2017-10-12 12:50] MicheldeMessieres commented on #1584
In the newer versions of Umfpack there is support for passing the complex as a single array which is how it is currently used in the wrappers. So Ax is passed as the array (real and imaginary parts) and Az is set to NULL.

This is not supported in 4.1 or 4.3 which is why the complex tests currently fail (real is passing). An error is given that the parameter Az cannot be NULL. (Note I was testing

[2017-10-12 12:56] rrdrake commented on #1584
If it matters, the Sierra team would like to move to version 5.1 of UMFPACK in the near future.  We just need to schedule it in.  The current thrust was to update to a new Trilinos.

[2017-10-12 15:51] srajama1 commented on #1584
@rrdrake : Do you care for complex support in 4.1 until you move to 5.1 ? Considering this is a new feature in Amesos2 I am guessing the answer is no. We can then disallow complex usage with 4.1 through Amesos2.

[2017-10-12 16:44] bartlettroscoe commented on #1831
I pushed the commit e6127ac yesterday that switched to the new NetCDF 4.4.1 module.  You can see the updated TPL being used, for example, in the CI iteration that ran this morning at:

* https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3158483

and it showed:

[code]

Closing as complete.

[2017-10-12 16:44] #1831 closed

[2017-10-12 16:51] bartlettroscoe commented on #1458
I pushed the commits e0ac153 and 0b7dc2c which have completely removed the yaml-cpp from the standard SEMS env and standard CI build and from the dependencies of Teuchos subpackages.

You can see yaml-cpp **not** being enabled, for example, in the CI build this morning at:

* https://testing.sandia.gov/cdash/viewConfigure.php?buildid=3158455

which shows:

[code]

and no other mention of 'yaml-cpp

[2017-10-12 16:51] #1458 closed

[2017-10-12 18:46] jjellio commented on #1828
Manually setting HAVE_GCC_ABI_DEMANGLE=TRUE, fixed this (which was my experience on other Cray systems).

I don't know precisely why, but I assume it is due to cross compiling and the fact that CMake cannot perform runtime tests.

On the flip side, I was able to decode the odd mangling with regular expressions.

I suppose this can be closed, unless the MueLu team wants to work on graceful failure.

[2017-10-12 18:46] #1828 closed

[2017-10-12 19:38] jhux2 commented on #1828
@jjellio Thanks for confirming how to fix this.

[2017-10-12 20:04] #1050 closed

[2017-10-12 22:14] rrdrake commented on #1584
@srajama1 : As far as I know, we are not using the complex support in UMFPACK through Amesos2.

[2017-10-12 23:13] mhoemmen commented on #754
Here's a different approach:

  - Add a simple factory abstract base class, SolverFactoryBase.
  - Make SolverFactory take optional extra factories as SolverFactoryBase
  - Partially specialize SolverFactory for Tpetra, so that its constructor gets an extra factory with custom Tpetra-only solvers

[2017-10-13 00:05] jhux2 opened #1848 "MueLu: self-reported time does not always match time reported by application for Hierarchy setup"
@trilinos/muelu

In some cases, I've observed that MueLu's self-reported time for Hierarchy setup is significantly less than the time reported by the Nalu application.

Both use Teuchos timers.  Nalu puts a timer around the call to CreateTpetraPreconditioner,  MueLu starts/stops its timer at the beginning/end of Hierarchy::Setup.

Here's an example of the discrepancy:
[code]

[2017-10-13 01:05] aprokop commented on #1848
@jhux2 Well, one thing seems to be that
[code]
so you read the xml file from disc each time which may depend on the file system. I think it could be changed to actually store MueLu's parameters as a `ParameterList`.

[2017-10-13 14:54] bathmatt commented on #1827
This looks to be higher up...  Still getting info on it.  Thanks @ndellingwood @jhux2 for your help yesterday.  Opening new ticket once it is more tracked down

[2017-10-13 14:54] #1827 closed

[2017-10-13 15:10] srajama1 commented on #1584
We will disable it. If you need complex support we can look at supporting it for 4.1 or you can upgrade UMFPACK.

[2017-10-13 18:15] jhux2 commented on #1848
@aprokop Good point.  Also, the CreateTpetraPreconditioner interface itself is completely untimed.

[2017-10-13 18:38] bartlettroscoe commented on #1400
@kruger and I meet again today to work out details of how the section of source files would be handled with the TriBITS build system for Kokkos.  It turns out that, currently, the TriBITS and raw CMake build system for Kokkos just glob all of the *.hpp and *.cpp files and then ifdefs based on bool vars in the configured KokkosCore_config.h file determine if the file is empty or not.

One thing tha

[2017-10-13 20:16] ibaned commented on #1794
As far as I know this particular issue (parameter with empty value should be an empty ParameterList) should be fixed now.

[2017-10-13 20:16] #1794 closed

[2017-10-13 20:20] ibaned commented on #741
I think I'm de facto in charge of YAML now...

[2017-10-13 20:34] #1841 closed

[2017-10-13 21:24] mhoemmen commented on #754
I just pushed a fix to develop.

[2017-10-13 21:24] #754 closed

[2017-10-13 21:32] mhoemmen commented on #741
No complaints :-D

[2017-10-13 23:46] jmgate commented on #1802
I think I have all the necessary changes made to Drekar.  Building and testing now.

[2017-10-16 16:21] wfspotz commented on #1749
"does need"? It shout NOT need the manual workaround.

[2017-10-16 16:25] kvmkrao commented on #1749
sorry @wfspotz
does not need.

[2017-10-16 16:28] wfspotz commented on #1749
OK. Closing as fixed.

[2017-10-16 16:28] #1749 closed

[2017-10-16 17:21] csiefer2 opened #1852 "Windows Tests Not Posting to Cdash Again"
See also #1830

[2017-10-16 18:02] bathmatt opened #1853 "Clean up panzer indexer memory"
It looks like Panzer has two copies of the indexer data.  Is this the case?

Do they both exist at the same time?  Can we just use the kokkos one or use the std::vector for just a temp and clean it out if it is not done yet
[code]

@rppawlo @jmgate

[2017-10-16 18:40] jmgate commented on #1853
@trilinos/panzer

[2017-10-16 19:06] prwolfe opened #1854 "unsigned/signed comparison in CrsMatrixUtils_UnitTests.cpp"
This shows up when using warnings-as errors. (see https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3164856 ) Not sure if it would be better to use size_type from the template class or change the template to always return size_t.

[2017-10-16 19:08] prwolfe opened #1855 "Ifpack - no replacement for deprecated functions"
Ifpack::set_parameters is set as deprecated but used in a number of places.  I did not find a suitable replacement strategy. The commit that did this is several years old.  Anyone know what's going on?

[2017-10-16 19:28] rppawlo commented on #1853
this is a question for @eric-c-cyr .

[2017-10-16 19:37] eric-c-cyr commented on #1853
We should probably just use the Kokkos one. This is a legacy of transition. I'm not sure what effect it would have to stop using the localIDs_ and use only localIDs_k_. @jmgate could you comment out the localIDs_ and see what kind of problem this would be? (just build panzer for now)

[2017-10-16 19:53] mhoemmen commented on #1855
There's no replacement strategy as far as I know.  Perhaps other @trilinos/ifpack2 developers would like to comment.

[2017-10-16 19:54] mhoemmen commented on #1854
@trilinos/xpetra @trilinos/muelu

[2017-10-16 20:11] jmgate commented on #1853
Looks like we have 66 usages of the `std::vector` version of `getElementLIDs()` in panzer, with another 19 in Drekar.  These would all need to be switched over the the `Kokkos::View` version.  I'm not going to have time to make this switch any time soon.

[2017-10-16 21:06] jmgate commented on #1853
Panzer:
[code]

Drekar:
[code]

[2017-10-16 21:07] bathmatt commented on #1827
This looks to be inside tpetra, and not in the solver stack.  Mark is looking at that now. @mhoemmen

[2017-10-16 21:15] tawiesn commented on #1854
One can use, e.g.,
`for(decltype(CRS_rowptr.size()) row = 1; row < CRS_rowptr.size(); ++row)`
 to avoid the problem

[2017-10-16 21:15] tawiesn commented on #1854
@lucbv

[2017-10-16 21:23] jmgate commented on #1802
I'm afraid I'm running into segfaults in the midst of an Epetra `Export()` in `EpetraVector_Write_GlobalEvaluationData::ghostToGlobal()`.

[2017-10-16 21:50] bathmatt commented on #1853
How about we deprecate that function, and change the syntax to returning a copy and not a ref, and build it on the fly?   Then we fix up the other functions as needed if they are called often.  Lots of places it is called like this anyway.

      LIDs = globalIndexer_->getElementLIDs(cellLocalId);

of the 66, 35 return a ref,

[2017-10-16 21:50] bathmatt commented on #1853
Crap, clicked the wrong button

[2017-10-16 22:00] bathmatt commented on #1853
@jmgate I'll take care of trilinos if you can do drekar and charon?  does that work?

[2017-10-16 22:00] jmgate opened #1857 "Panzer: Remove EpetraLinearObjFactory"
The `EpetraLinearObjFactory` class is no longer used, having been replaced by the `BlockedEpetraLinearObjFactory` instead.  The files need to be removed, and all uses of the former replaced with the latter.

@trilinos/panzer

[2017-10-16 22:05] jmgate commented on #1853
I can volunteer to take care of Charon.  Anyone else want Drekar?

[2017-10-16 22:08] mhoemmen commented on #1827
@bathmatt You closed this issue 3 days ago; do you think this is a separate issue or related?

[2017-10-16 22:45] #1754 closed

[2017-10-16 22:45] #1702 closed

[2017-10-16 23:34] lucbv commented on #1854
Using `decltype()` is always an option but it does not look optimal since in that case we do not really know what type we end-up using and we could have to propagate this `decltype()` through large amount of code.
On the other hand I could do a `static_cast<size_t>()` on the return value of the ArrayView.

[2017-10-17 01:41] mhoemmen commented on #1854
Would use of `decltype` break Epetra-only and Windows builds?  Otherwise, I don't mind it.  Better yet, the local number of rows (plus 1) should always fix in LocalOrdinal, so you could just cast everything to LocalOrdinal.

[2017-10-17 06:08] eric-c-cyr commented on #1853
I'm not super happy about the change to getLocalIDs. I like the lazy evaluation syntax, if we want to clean up the memory we should build lazily from the internal Kokkos view.

[2017-10-17 06:18] eric-c-cyr commented on #1853
After some thought, lets go ahead and do Matt's proposed changes. I'm not in love with the performance hit a non Kokkos person would see, but it does seem sensible to control the memory required. I think in most cases we want to switch to the version in the Workset anyway: "cell_local_ids_k", all the evaluators should probably use that one instead.

@bathmatt Is there concrete data on this being a

[2017-10-17 06:31] eric-c-cyr commented on #1853
Looking at Drekar, changing to copy the vector has really little effect. For instance the "Vanka" one doesn't appear to be compiled. The ones in Driver are already slow (they copy anyway, unless some move constructor magic happens), the two in FieldCopy just need the reference removed, it will be a little slower then a proper change to the Kokkos version. I imagine Charon has little to nothing in

[2017-10-17 11:58] rppawlo commented on #1853
@eric-c-cyr - I know you are going to cringe at this suggestion, but if we are going to change to the kokkos version, it might make sense to template this object on the memory space. That way the dof manager could be used in any memory space, regardless of which space phalanx is configured for. I'm thinking about mixed OpenMP and CUDA kernels on the same node.

[2017-10-17 12:46] tawiesn commented on #1854
@mhoemmen That is a good point. If i remember correctly, we've decided to allow C++11 code in MueLu (and Xpetra) as long as it does not break the Epetra-only (Windows) build. I would expect, that the Microsoft compilers support decltype. I never checked the details but i thought the problem with the Epetra build for Windows is that Kokkos uses even more modern syntax that is not supported by the M

[2017-10-17 12:49] tawiesn commented on #1854
@lucbv I get the point. It would be good to know the exact type that we are using. But if you know it you should also use it. decltype might be more "flexible" than static_casts which i don't find very elegant...

[2017-10-17 14:14] bmpersc commented on #1852
It looks like the VM was restarted again and the agent needed to be restarted as well. I will look into finding a way to get that to automatically load since the existing system clearly isn't working.

[2017-10-17 14:14] #1852 closed

[2017-10-17 14:21] bmpersc commented on #1830
@csiefer2 reported that the windows testing stopped running again recently. I'm sure it has something to do with the VM being spun down and then back up which is something we can't control, but kills the jenkins agent process. I assumed that the OS would restart, but that doesn't seem to be the case so the task I setup to restart the jenkins agent doesn't seem to get a chance to run. I'll see if t

[2017-10-17 14:21] eric-c-cyr commented on #1853
Hey, everyone is doing it and cool-aid is delicious

[2017-10-17 14:23] bathmatt commented on #1853
@rppawlo do you see a time where tpetra will not require UVM?  Furthermore, do you see a time when panzer wouldn't require UVM?  I think that using the default memory space should be o.k. as long as we are using UVM.

[2017-10-17 14:26] eric-c-cyr commented on #1853
The DOFManager could do this separately, there is really no reason for it to behave the same as the rest of panzer.

[2017-10-17 14:39] lucbv commented on #1854
Visual studio is supporting `decltype` since their 2010 version so it should be safe to assume that the windows build will be fine.
I am not sure why it would break the Epetra only builds. Are there specific programming language restrictions for the Epetra stack?
I pushed 844920d to fix the issue on ascic141, I will monitor the Epetra only build on the muelu dashboard

[2017-10-17 14:41] #1854 closed

[2017-10-17 14:45] bathmatt commented on #1853
So, I removed the std::vector reference from this branch.

https://github.com/trilinos/Trilinos/tree/panzer-indexer-no-vector

Not sure how to link a branch :).. I fixed all the panzer sutff and only in one place did I need to do something other than replace something like

std::vector<int> LIDS & =

with

Kokkos::View<const int*> LIDS =

That was in scatter resid eptra impl.

I can fix drekar if

[2017-10-17 14:56] prwolfe commented on #1854
Thanks for the quick response!

[2017-10-17 14:57] jmgate commented on #1853
Created PR #1858 for the sake of code review.

[2017-10-17 15:20] mhoemmen commented on #1854
There are a few issues.  In terms of C++, Kokkos doesn't use anything newer than C++11.  However, Kokkos has some compiler-specific paths, and doesn't appear to have one for Windows.

[2017-10-17 15:31] ibaned commented on #1815
Pull request #1851 should have fixed this. Please reopen this issue if the same kind of symptom is still happening.

[2017-10-17 15:31] #1815 closed

[2017-10-17 15:32] ibaned commented on #1807
Pull request #1851 should have fixed the non-aligned comment problem. Please reopen this issue if that symptom is still happening.

[2017-10-17 15:32] #1807 closed

[2017-10-17 15:33] ibaned commented on #741
Pull request #1851 copied this document into Doxygen for the file `Teuchos_YamlParser_decl.hpp` in TeuchosParameterList.

[2017-10-17 15:33] #741 closed

[2017-10-17 15:48] lucbv commented on #1830
@bmpersc we can actually see some reporting on the CDash but the build deactivates Teuchos which means that no packages are enabled downstream and no code builds, see [here](https://testing.sandia.gov/cdash/buildSummary.php?buildid=3166596)

[2017-10-17 15:57] mhoemmen opened #1860 "Tpetra::DistObject CUDA MPI thing"
@trilinos/tpetra
See discussion here:
https://github.com/gahansen/Albany/issues/182

[2017-10-17 15:57] #1837 closed

[2017-10-17 16:09] rppawlo commented on #1853
I think Tpetra is working towards this in FY18. For Panzer, I don't see it happening for a few years. I would like to reserve the option to drop UVM if it doesn't get any faster in future cuda releases. I will ask Christian tomorrow about this. I'm currently starting an evaluation of the single parallel_for for all evaluators in the dag and, if we see promise in this, then I don't know how to avoi

[2017-10-17 17:06] kddevin commented on #1860
@mhoemmen
Is it correct that telling the code that we had CUDA-aware MPI resolved the problem?

The Tpetra team had discussed supporting only CUDA-aware MPI for GPUs going forward.  @crtrott said CUDA-aware MPI is provided on our platforms.

Does this requirement allow us to remove the less-tested code and use only the better execution path?  Are there any gotchas with this new requirement beyond

[2017-10-17 17:44] bmpersc commented on #1830
@lucbv The reason why teuchos was disabled was because there was a compile error when testing it which currently disables it for all downstream packages. You can see the error [here](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=3166528). Since that is behaving as expected with respect to this issue I don't think that we should reopen this. However, another issue filed against Teucho

[2017-10-17 18:20] mhoemmen commented on #1860
@kddevin wrote:

That resolved the issue for Albany.  However, the unit test I'm working on in Tpetra fails regardless of whether Tpetra is allowed to assume that MPI is CUDA aware.  I also discovered that the entire thread-parallel CrsMatrix pack and unpack code path was unexpectedly completely untested in Trilinos (all the way downstream).  This is also a critical code path for best performance

[2017-10-17 19:16] jmgate commented on #1667
Closing due to inactivity.  At least I got a few of the stale branches cleaned up.

[2017-10-17 19:16] #1667 closed

[2017-10-17 20:11] jmgate commented on #1853
Just curious, but who actually uses Panzer's Hessian support?  We have a tendency to forget about it when making sweeping changes.

Also interesting to note, when a merge commit is create via a pull request, the author of the commit is the person who created the pull request, not necessarily the person who did the work, or the person who clicked the "Merge" button.  Sorry @bathmatt&mdash;didn't me