[2017-06-06 15:55] wppowers commented on #1219
@srajama1. The primary bottlenecks I am seeing are listed below. I am also comparing them to what I see when doing a multi-process run.

MueLu::TopRAPFactory::Build() - This function appears to be executing in serial when using 4 threads, but is utilizing all 4 processes 90% of the time when using 4 processes.

MuLue::Hierarchy::iterate() - This function utilizes all 4 processes for about 80% of a

[2017-06-06 16:30] bartlettroscoe commented on #1341
I asked that the SEMS team apply this patch to OpenMPI 1.6.5 at:

* https://software-sandbox.sandia.gov/jira/servicedesk/customer/portal/4/SEMSHELPD-506

back on May 24, 2017 yet.  No response as of yet.

[2017-06-06 16:40] rppawlo commented on #1395
FYI: Panzer does not have a dependency on FEI. It was dropped as a required package a while ago.

[2017-06-06 16:40] hkthorn commented on #1393
I have seen this test failure for some time, but have never been able to reproduce it on any machines that I have access to.  Even when I run the testing multiple times, the failures don't appear.  The output indicates a catastrophic numerical issue that is hard to debug without being able to reproduce it.

[2017-06-06 17:09] bartlettroscoe commented on #1341
The other option is to create GitHub issues for the tests timing out with OpenMPI 1.8.7 and then ask someone to address them (or disable them in the standard CI build until they can be fixed).  Either this points to a problem with OpenMPI 1.8.7 or with these Trilinos packages.  But it would take a more in-depth study to figure out what the problem is.  Who can take this on?

[2017-06-06 18:38] bartlettroscoe commented on #1395
@mhoemmen:

Just configure Trilinos with:

[code]

and look at the STDOUT output.  It tells you exactly why.  See:

[code]

So FEI depends on ML depends on Isorropia depends on Tpetra and there you have it (sort of like everyone on Hollywood is related to Kevin Bacon in less than 6 steps).

This a a major problem with Trilinos.  Trilinos packages need to be better structured into subpakages and th

[2017-06-06 18:41] bartlettroscoe commented on #1395
Panzer depending on FEI would not enable the FEI tests, just the libs.  FEI needs to have an (indirect) upstream dependency on Tpetra to do that (which it has).

[2017-06-06 19:57] bartlettroscoe opened #1400 "Get CMake build system to take advantage of kokkos/Makefile.kokkos in setting compilers, compiler options etc."
**CC:** @kruger, @crtrott, @nmhamster, @dsunder, @ibaned

**Next Action Status:**

A new plan was discussed in detail on 8/1/2017.  Next:@kruger will write up the detailed plan in kokkos/kokkos#878 and then track work there ...

**Description:**

The native Kokkos Makefile system takes advantage of fairly sophisticated makefile logic to define compilers, compiler options, and libraries given the i

[2017-06-06 20:06] bartlettroscoe commented on #1400
@nmhamster, I think this is the feature that you have been requesting for some time (we talked about this at the ECP meeting this last winter).  Once @kruger has time available (after dealing with #1208 some more), then perhaps we can set up a short meeting between the four of us (you, @crtrott, @kruger, and myself) to discuss this?

[2017-06-06 20:09] mndevec opened #1401 "Experimental RBILUK"
This issue will track the development of new RBILUK.
Goals:
 1- Clear separation of the symbolic, numeric and solve phases.
 2- Replacing old blas calls such as GEMM, GETF2, with the register blocking little block implementations in KokkosKernels.

The issue will be developed in the fork:
https://github.com/mndevec/Trilinos/tree/develop

@trilinos/ifpack2

[2017-06-06 21:34] rppawlo opened #1402 "Phalanx: cleanup deprecated code"
1. remove Phalanx.hpp
2. remove Phalanx_KokkosUtilities.hpp
3. change testing to use a single build of the unit test main
4. support adapters in MDField and testing for intrepid2 functions (no longer a dependency)
5. remove original PHX::Field object. Has not been used in years.

[2017-06-07 00:46] rppawlo opened #1403 "Panzer: Simplify response support"
This issue is to simplify the requirements for adding new response functions to panzer.

1. Naming of objects
2. work to eliminate the builder and factory as separate classes
3. Build simplified derived classes from decision tree
4. Implement point values evaluator as an example

[2017-06-07 00:47] rppawlo commented on #1403
@eric-c-cyr @bathmatt

[2017-06-07 13:35] ibaned opened #1404 "Framework: reduce size of MPI_RELEASE_DEBUG_SHARED_PT build"
So, I tried to do a `checkin-test-sems` run for #1396 and ran out of space on CEE.

The build directory is 70 GB (at the point it ran out of memory), and my entire home directory quota is 100 GB.

Looking around, it seems like a lot of space could be saved by not building examples. Does this make sense and is there a way to do it?

@bartlettroscoe

[2017-06-07 13:58] ibaned commented on #1404
hmm something went wrong in my calculations... different tools are reporting different size of things. my question about examples stands, but may not be whats really consuming the most memory.

[2017-06-07 14:26] tjfulle commented on #1395
@trilinos/tpetra tests all pass on the clean builds this morning.

[2017-06-07 14:26] #1395 closed

[2017-06-07 14:53] ibaned commented on #1404
nevermind, it just took a while for the `df` command to realize files had been removed. I think the original top comment is accurate.

[2017-06-07 15:38] bartlettroscoe commented on #1404
@ibaned, don't build in your CEE LAN home directory.   That is a super slow NFS-mounted drive.  Instead, use local scratch space.  See:

* https://snl-wiki.sandia.gov/display/TRIL/Development+and+Testing+on+CEE+LAN+Machines

If you don't have access to a local /scratch drive, then follow the instructions at:

* https://snl-wiki.sandia.gov/display/TRIL/Development+and+Testing+on+CEE+LAN+Machines#De

[2017-06-07 15:39] srajama1 commented on #1219
Thanks ! This is useful information.  @jhux2 is the best person to answer the first two. The third one is a multithreaded kernel. The #threads that will be used here will be dependent on the size and the structure of the problem. MPI will utilize all 4 processes because we decomposed the problem. I am ssuming threads are getting 4 times larger problems here. This will allow potential use of 4 thre

[2017-06-07 15:49] wfspotz commented on #1381
I don't use valgrind much, and I am getting

    $ ./ML_preconditioner.exe
    ------------------------------------------------------------------------------
    Using `cg' for eigen-computations
    ***
    *** ML_Epetra::MultiLevelPreconditioner
    ***
    ...
    [Program runs]
    ...
    ||b-Ax||_2 = 3.07754e-10
    $ valgrind ./ML_preconditioner.exe
    bad executable (no stack)
    valgrin

[2017-06-07 16:17] wppowers commented on #1219
@srajama1 The iteration counts differ slightly between the two runs. The 4 process case takes 22 iterations and the 4 thread case takes 24 iterations.

[2017-06-07 16:24] srajama1 commented on #1219
I was thinking it will be the other way around, with threads taking fewer iterations as they have more information. This has to be investigates the multigrid level though.

[2017-06-07 16:28] wppowers commented on #1219
@srajama1 Actually, you are correct. I flipped the numbers. The 4 process case takes 24 iterations and the 4 thread case takes 22 iterations.

[2017-06-07 16:34] ibaned commented on #1404
This question was answered in full offline. Trying the new system now...

[2017-06-07 16:34] #1404 closed

[2017-06-07 16:48] srajama1 commented on #1219
That makes sense. I believe that improvement in the iteration count comes from using threads. In a tough to solve use case, I would have expected the improvement in the number of iterations to help offset the reduction in efficiency (4 vs 3 threads in 80% and 70% of the time).  Still, only 3 threads being utilized mostly is surprising.

[2017-06-07 19:08] kruger commented on #1208
I built clapack to see if we can use it with gcc to overcome some of the problems.  I am now getting a whole set of new tests that I did not have previously:

	 47 - TeuchosCore_TypeConversions_UnitTest (Failed)
	 65 - TeuchosParameterList_ObjectBuilder_UnitTests (OTHER_FAULT)
	 98 - TeuchosNumerics_BLAS_test (SEGFAULT)
	100 - TeuchosNumerics_BLAS_tmpl_comp_test (SEGFAULT)
	102 - TeuchosNumerics_D

[2017-06-07 19:47] mhoemmen commented on #1395
@bartlettroscoe wrote:

Thanks for clarifying :-) .  I didn't realize Isorropia depended on Tpetra.  I think that was just someone's abandoned research project.  If I do the following, would that decouple FEI from Tpetra?

  1. Separate Isorropia into two subpackages, IsorropiaMain and IsorropiaTpetra, with the latter having all Tpetra content
  2. Make ML depend only on IsorropiaMain?

If so, I'l

[2017-06-07 19:48] mhoemmen commented on #1401
@csiefer2 @brian-kelley @jhux2

[2017-06-07 20:09] ibaned commented on #1371
With the close of #1396, TeuchosParser is now a new EX subpackage in the develop branch, in the form of these three commits:
5078b1f
63fd67d
315dff7
It is documented and functional, though nothing in Trilinos depends on it yet. Integrations to follow as time allows.

Closing this issue as we are past the proposal phase.

[2017-06-07 20:09] #1371 closed

[2017-06-07 20:25] srajama1 commented on #1255
@jwillenbring : Pinging to see your thoughts on this.

[2017-06-07 20:38] kruger commented on #1208
Going through the first 3 errors

##  47 - TeuchosCore_TypeConversions_UnitTest (Failed)

Test that code {valF = asSafe<float> (os.str ());} throws std::range_error: passed

 Exception message for expected exception:

  /ascldap/users/sekruge/Trilinos-develop/packages/teuchos/core/src/Teuchos_as.hpp:558:

  Throw number = 1

  Throw test that evaluated to true: errno == ERANGE && (val != 0)

  Teu

[2017-06-07 20:46] jwillenbring commented on #1255
It appears that SuperLu is available on the SEMS NFS mount, and SuperLU_Dist and UMFPACK are not available. Is this consistent with your experience? Is SuperLU 4.3 an acceptable version?

[2017-06-07 21:22] srajama1 commented on #1255
We have added support for SuperLU 5, but any testing is better than no testing. We can start with SuperLU 4.3 first.

[2017-06-07 21:34] bartlettroscoe commented on #1255
SuperLU 4.3 is already part of the standard CI build of Amesos2 and has been for many months  You can see this, for example, this morning on CDash at:

* https://testing.sandia.gov/cdash/viewConfigure.php?buildid=2939094

which shows:

[code]

I set that up a long time ago as part of #482 and its supporting stories.

Therefore, Amesos2 with SuperLU 4.3 gets tested pre-push by everyone using the ch

[2017-06-07 21:46] srajama1 commented on #1255
Can you remind me how this works ? If it is part of CI build, is it also part of a nightly build where we have the commitment to maintain it clean ?

[2017-06-07 22:24] bartlettroscoe commented on #1255
How it works is described in detail in:

* https://github.com/trilinos/Trilinos/wiki/SEMS-Dev-Env

If the Trilinos Framework team were to take advantage of this system, then then this would be automated in all SEMS-based nightly builds.

[2017-06-07 22:32] bartlettroscoe commented on #1208
@kruger, the test `TeuchosParameterList_ObjectBuilder_UnitTests` is a known problematic test (see #831 and #449) soon to be fixed with the merge of the branch associated with #229.

As for the other BLAS and LAPACK-related tests, I might dig a little deeper.  If you link against a mock C version of srot, for example, are the arguments passed correctly or not?

[2017-06-07 22:36] kddevin commented on #1209
Thanks, @gmslota.
Unfortunately, I am still able to generate partitions with all vertices in one processor when I am using weights.
cd BUILD/packages/zoltan2/test/driver
mpirun -np 4 Zoltan2_test_driver.exe driverinputs/pulpVwgtTest.xml
This test bi-partitions a 5x5 graph with nonuniform weights.

[2017-06-07 22:37] srajama1 commented on #1255
Ok, this might be a stupid question after reading it. It appears we don't use the SEMS-Dev-Env for nightlies, so SuperLU is not tested. Is that correct ?

[2017-06-07 22:55] mhoemmen opened #1405 "TeuchosParser: Build error with Clang 3.9 (C++11 on)"
[code]

[2017-06-07 22:56] mhoemmen commented on #1405
@trilinos/teuchos No biggie.  Nothing in Trilinos uses this yet, so I just disabled the package and was able to continue my work.

[2017-06-07 23:03] ibaned commented on #1405
Thanks for the report! I'll get right on it.

[2017-06-07 23:17] ibaned commented on #1405
Replicated and fixed in 3479b42.

Also double-thanks for the report, because it helped me realize that I somehow goofed and didn't mark it as EX.

[2017-06-07 23:26] mhoemmen opened #1406 "Isorropia: Separate experimental Tpetra-dependent code into its own subpackage"
@trilinos/zoltan @kddevin @mmwolf

I would like to separate Isorropia's experimental Tpetra-dependent code, which is disabled by default anyway, into a different subpackage from the rest of Isorropia.  This will reduce the number of packages whose tests unnecessarily get enabled, when I change Tpetra and run the check-in test script.  See discussion starting here: https://github.com/trilinos/Trili

[2017-06-07 23:27] mhoemmen commented on #1405
@ibaned :-D I'm using `--extra-builds` with the check-in test script, and that normally enables all downstream packages regardless of EX status, so I wouldn't have noticed the goof.  Anyway, glad to help out! :-D

[2017-06-07 23:29] mhoemmen commented on #1406
This should be easy to do, because all the Tpetra-dependent code lives in `isorropia/src/tpetra` anyway.  Also, @mmwolf especially, would it be OK just to delete this code?  It's disabled by default anyway, and I suspect it hasn't been used or tested in years.

[2017-06-08 00:41] mmwolf commented on #1406
We can talk about this at tomorrow's Zoltan meeting.  I'm of the opinion that the code can be deleted, but I might be overruled.  I believe Zoltan2 is increasingly making Isorropia obsolete.  I believe at this point the only code unique to Isorropia is the coloring and matching.

[2017-06-08 00:52] aprokop commented on #1406
Adding @trilinos/muelu as we have an Isorropia interface that may be affected but this change. I don't think we (MueLu) really use it, though.

[2017-06-08 00:57] bartlettroscoe commented on #1395
Yup, that is the type of thing you have to do.  Note that Thyra has subpackages ThyraTpetra and ThyraEpetra and downstream packages depends on one or the other (sometimes both) as can be see by:

[code]

But what kills you are sloppy indirect dependencies that end up enabling a bunch of extra downstream dependencies anyway.

I am going to create a more general Issue for this to get this issue on t

[2017-06-08 01:36] bartlettroscoe commented on #1406
Once you make this its own subpackage, you can declar it `EX` which means it will not get enabled by default, ever (which is the right thing for experimental code that is not important to be tested).  @mhoemmen, this means you would not even need to test this when you run the checkin-test-sems.sh script.

[2017-06-08 02:03] bartlettroscoe opened #1407 "Trilinos CDash site testing.sandia.gov/cdash/ broken starting 6/7/2017?"
**CC:** @trilinos/framework

**Description:**

The Trilinos CDash site appears to be badly broken and not accepting any new data (and has other problems as well).  That is super bad.

----

From: trilinos-framework-bounces@software.sandia.gov [mailto:trilinos-framework-bounces@software.sandia.gov] On Behalf Of Bartlett, Roscoe A
Sent: Wednesday, June 07, 2017 9:47 PM
To: Trilinos Developers List <

[2017-06-08 11:57] pwxy commented on #1363
I am trying to get better performance from the drekar/trilinos clang 3.9 binary on sequoia.  This really the only viable alternative.  It is not practical to support gnu 4.7.2 the next 1.5 years.

[2017-06-08 12:55] pwxy commented on #1363
ops forgot to mention in the previous post that due to the negative impact on developers to maintain 4.7.2 compatibility, it is best to just move to 4.9.3.

[2017-06-08 13:18] nmhamster commented on #1363
@pwxy - I don't think we have final agreement from the IC teams yet to move do we?

[2017-06-08 13:22] pwxy commented on #1363
@nmhamster you are correct, I don't know about the other IC teams or xSDK. I'm just speaking for myself.  I'm no longer a holdout.

[2017-06-08 13:35] bartlettroscoe commented on #1363
@nmhamster:

Who do you do you mean by "IC"?  I know that Sierra is free of GCC 4.7.2 and now GCC 4.9.3 is the minimum required GCC version for C++11 support.  I will send out an email to the SART email list and ask if there is anyone else who needs C++11 for anything less than GCC 4.9.3.  If we don't get strong pushback in a couple of weeks or so, then it is time to upgrade and disable all the ty

[2017-06-08 13:43] maherou commented on #1374
Based on the first item in Mark's brief retrospective, and Item 2 in the [Triinos testing policy](https://github.com/trilinos/Trilinos/wiki/Trilinos-Testing-Policy), this missing test is a bug.

@tjfulle: If you haven't filed an issue related to this bug, please do so.

[2017-06-08 13:46] pwxy commented on #1363
Actually develop Trilinos won't build for gnu 4.7.2 anymore (builds fine for 4.9.3).  I do not plan to ask anyone to fix this so that it will build for 4.7.2.

[2017-06-08 14:57] ibaned commented on #1405
I think I can close this...

[2017-06-08 14:57] #1405 closed

[2017-06-08 15:01] ibaned commented on #1400
I would think the way to implement this is to copy some of that logic into the Kokkos TriBITS-based build system. Since that involves changes to the Kokkos directory, I've created kokkos/kokkos#878 to mirror this issue.

[2017-06-08 15:26] mhoemmen commented on #1395
Thanks @bartlettroscoe !  I think it will help us a lot to purge unnecessary dependencies.  A big problem is that people add experimental features that never get enabled in the nightlies, but force optional dependencies that _do_ get enabled.  More intelligent use of subpackages could help with that.  Also, we have branches and PRs now; we should those instead of polluting the repo with some rando

[2017-06-08 15:30] mhoemmen commented on #1406
@aprokop wrote:

It should only be affected if MueLu uses Isorropia's optional, experimental Tpetra code.  That doesn't even build by default.  I'll test MueLu with Tpetra disabled before trying this out :-)

[2017-06-08 15:59] kddevin commented on #1406
@egboman

[2017-06-08 16:26] tjfulle opened #1408 "Tpetra: Add additional tests for matrix pack/unpack"
Tests should exercise the case where the number of rows to pack is not the same as number of rows in matrix.

See #1374 for motivation and details.  Specifically, this [comment](https://github.com/trilinos/Trilinos/issues/1374#issuecomment-307107437) by @maherou

@trilinos/tpetra

[2017-06-08 17:28] jhux2 commented on #1381
@wfspotz No idea.  What architecture are you running on?  (I suspect Mac OS from the original stack.)

[2017-06-08 17:36] egboman commented on #1406
@mhoemmen Don' waste your time - just deprecate the experimental Tpetra code. I highly doubt anybody uses it as I'm not even sure it builds. Zoltan2 is the way forward.

[2017-06-08 17:41] gslota commented on #1209
@kddevin

Hmmm, I'm not able to reproduce it. I'm getting consistent imbalance of 1.022, even when oversubscribing threads.

Imbalance Metrics: (2 existing parts)
                            min        max        avg   imbalance
        object count         10         15       12.5         1.2
            weight 0         22         23       22.5       1.022

Success: imbalance (weight: 0) value:

[2017-06-08 17:44] gslota commented on #1209
[code]

[2017-06-08 18:01] mmwolf commented on #1406
Erik's comment was the consensus at the Zoltan meeting.

[2017-06-08 18:47] jhux2 commented on #1387
@mhoemmen wrote:

@tawiesn wrote:

My two cents.  Because the exception is thrown only in debug mode, there appears to be low risk that removing the exception will change results for an application.

Are there objections to simply removing the exception?  If we want to be extra careful, we can label this issue as "results impacting".

[2017-06-08 19:43] mhoemmen commented on #1387
@jhux2 wrote:

I have no objections.  We can also document the method, explaining that it fills in zeros for missing diagonal entries.

[2017-06-08 19:46] mhoemmen commented on #1406
@egboman wrote:

I can't actually deprecate it.  The issue is that the code introduces an optional Tpetra dependency.  TriBITS has no idea of a "dependency that depends on a CMake variable"; any experimental feature requires an optional dependency to be declared, and optional dependencies get enabled by default when testing.

Here are the two options:

  1. Remove or comment out the code in questi

[2017-06-08 19:49] bartlettroscoe commented on #1304
Someone made a changes to the apache configuration on testing.sandia.gov yesterday and broke **all** the submissions of test results to the CDash site.  Not clear who did this but our handy Kitware contractor fixed the issue (after I suggested it might be due to a change in http to https mapping that changed yesterday that broke links for the http:// address).

Therefore, I have restarted the CI s

[2017-06-08 19:49] mmwolf commented on #1406
In theory, we don't mind if you delete it.  Our only concern about doing this is that there might be a unknown user that might depend on this.  We think this is unlikely.

[2017-06-08 19:58] mhoemmen commented on #1406
@mmwolf wrote:

It looks like the capability _cannot_ be enabled.  See line 92 of `isorropia/src/CMakeLists.txt`.  None of that code gets enabled at all.  It's protected by the `HAVE_ISORROPIA_MACRO`, which is never defined.  That suggests we could just delete it.

I'll wait for instructions.  If you decide you want to keep the code, it likely won't take me more than a couple hours to make the sub

[2017-06-08 19:59] bartlettroscoe commented on #1406
Another thing we might be able to do is to set the default for the var `Isorropia_ENABLE_Tpetra` to `OFF`.  That should stop the forward propagation of the enable of Tpetra to also enable Isorropia.   That would also stop the backward enable of Tpetra if Another thing we might be able to do is to set the default for the var `Isorropia_ENABLE_Tpetra` to `OFF`.  That should stop the forward propagat

[2017-06-08 20:06] rppawlo commented on #1386
@jhux2 The culprit seems to be a single file in muelu. With ETI enabled muelu autogenerates many *.cpp files in the build directory. CMake is smart enough not to overwrite the files if nothing changes so that the new timestamp does not trigger a rebuild. But the configure process *always* rerwites one single file even if nothing has changed: MueLu_DemoFactory.cpp. I don't quite understand why this

[2017-06-08 20:10] bartlettroscoe commented on #1386
To avoid this, MueLu needs to use the built-in CMake function configure_file() command.  That will avoid touching the generated file unless it changes (therefore not triggering an unneeded rebuild).  Let me know if MueLu developers have questions about this.

[2017-06-08 20:13] mhoemmen commented on #1406
Thanks @bartlettroscoe !  I think the better approach in this case is for the Isorropia team to decide whether they want to get rid of this code completely, or stuff it in a subpackage.

[2017-06-08 20:19] mmwolf commented on #1406
Go ahead and delete it.

[2017-06-08 20:44] egboman commented on #1406
I agree. We don't want anybody to start using this code.

[2017-06-08 22:11] jhux2 commented on #1386
@rppawlo Thanks!  I will fix this.

[2017-06-08 22:15] jhux2 commented on #1386
Thanks @bartlettroscoe.  First, though, I need to determine why this file is treated differently than any of the others.

[2017-06-08 22:47] kvmkrao opened #1409 "Kokkos: build error on SDSC"
@kokkos @crtrott @wfspotz
I would like to install Trilinos with CUDA on one of the supercomputer (http://www.sdsc.edu/) and test the performance of linear solvers in Belos for multiphase flows.
Therefore, I loaded gcc/4.9.2,  MVAPICH2/2.1 and cuda/7.5 modules on sdsc and ran the do-config.sh script (please see the attachment). The build was successful (please see the attachment). However, there ar

[2017-06-08 22:55] bartlettroscoe commented on #1386
I can verify that the file:

* packages/muelu/src/Utils/ExplicitInstantiation/MueLu_DemoFactory.cpp

is getting its timestamp updated every time you configure but the contents don't change.

I did the following experiment to show that it is just this one file being the problem (at least for MueLu and upstream):

[code]

then you can sort the most recently modified files with:

[code]

See, the fil

[2017-06-08 23:24] mhoemmen commented on #1406
I'm running the check-in test script now.

[2017-06-08 23:25] ibaned commented on #1409
I don't think `OMPI_CXX` works with MVAPICH.

Better remove `OMPI_CXX` and do the following instead:
[code]
Also make sure you include:
[code]

PS: the `@` symbol in GitHub comments only works for people, teams, and organizations. `cuda` happens to be a user in Istanbul, so that mention probably wasn't your intent. The other three worked.

[2017-06-09 01:10] nmhamster commented on #1409
@ibaned @kvmkrao - for MPICH-based systems/MPI please use the `MPICH_CXX` environment variable instead of `OMPI_CXX`.

[2017-06-09 01:47] brian-kelley commented on #1268
Just pushed 86eb69ffd to fix a few things. The parallel test now uses stringstreams but the serial one still uses file I/O. When writing out YAML with a std::ostream, I check the format flags to make sure that doubles will be preserved (i.e. 5.0 will always be printed with a decimal point), then restore the flags after the writing. Also, it turns out Chris Luchini wrote a test for updateYamlParame

[2017-06-09 02:28] kvmkrao commented on #1409
Thanks @ibaned @nmhamster
I modified the do_config file based on your suggestions and ran the script.
Those corrections helped me to install Trilinos with CUDA on SDSC. Thanks.

However, I fixed the following minor errors during the build by coping the files in mpi/install/include/*  to packages/teuchos/core/src/

_/oasis/scratch/comet/vkotteda/Software/trilinos_3rd/tpl/trilinos/Trilinos12p8/packa

[2017-06-09 09:52] aprokop commented on #1406
Apparently, we do have a [branch in code](https://github.com/trilinos/Trilinos/blob/develop/packages/muelu/src/Rebalancing/MueLu_IsorropiaInterface_def.hpp) for Isorropia/Tpetra version. That has to be ripped too (just to clean things up, it will never get triggered otherwise).

[2017-06-09 09:53] aprokop commented on #1406
@tawiesn You added Isorropia interface in MueLu. Do Munich folks use it (specifically, Tpetra variant) for anything?

[2017-06-09 12:07] ibaned commented on #1409
This doesn't sound like the right thing to do. Somehow `mpicxx` was no longer involved in compiling Teuchos. If you post your new script we can figure out why.

[2017-06-09 14:55] kvmkrao commented on #1409
Ok. I attached the do-config file, which helps me successfully install Trilions, with this post. Kindly see it. Thanks

[do_config_mod.txt](https://github.com/trilinos/Trilinos/files/1064394/do_config_mod.txt)

[2017-06-09 16:30] mhoemmen commented on #1406
1 Teko and 1 Rythmos test failed; neither is related.  I'll exclude the two tests and run again.

[2017-06-09 16:38] egboman commented on #1406
Thank you, @mhoemmen You may delete the Isorropia-Tpetra git branch, too.

[2017-06-09 16:42] #1409 closed

[2017-06-09 16:58] mhoemmen commented on #1406
I just pushed these changes (removal of Tpetra code and dependency from Isorropia) to the develop branch.

@egboman I can't actually delete the Isorropia-Tpetra git branch, but folks on the @trilinos/framework team can.  I wouldn't worry about it unless we are running out of space.

[2017-06-09 17:02] mhoemmen opened #1410 "yaml-cpp SEMS module built using GCC 4.4.7 (could break C++11)"
@trilinos/framework

[2017-06-09 17:10] #1406 closed

[2017-06-09 17:26] bartlettroscoe commented on #1406
@mhoemmen:

You got these failures with the standard CI build with the checkin-test-sems.sh script?  Your push commit shown below does not indicate that.

And the CI build is clean on CDash as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&filtercount=3&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=Linux-GCC-4.9.3-MPI_RELEASE_DEBUG_SHARED_PT_CI&field

[2017-06-09 18:32] ibaned commented on #1410
@mhoemmen can you elaborate on what you mean by that?

[2017-06-09 19:12] jhux2 commented on #1386
@rppawlo I've pushed a change which fixes the issue locally for me.  Could you update and see if this addresses the rebuilds that you're seeing?

[2017-06-09 19:40] bartlettroscoe commented on #1341
Got a response.  The response is that this 4-char white-space change will need to go before the SEMS stewards and they will need to vote it up or down before it can be done.

If we want these warnings to go away sooner, we may need to go with another approach.

[2017-06-09 20:33] kvmkrao commented on #1409
**CC: @wfspotz @ibaned **
I set Trilonos path and compiled a simple code (https://github.com/trilinos/Trilinos_tutorial/wiki/KokkosExample01) with CMakeList.txt. The compilation was not successful because of the following errors:

_[ 50%] Building CXX object CMakeFiles/example.dir/kokkosexample01.cpp.o
In file included from /oasis/scratch/comet/vkotteda//Software/trilinos/install/include/Kokkos_Co

[2017-06-09 20:37] jmgate opened #1411 "Panzer broken by cafe86a"
As of commit cafe86a by @kyungjoo-kim, @trilinos/panzer has been broken, causing failures in tests for Panzer, Drekar, and Charon:

PanzerAdaptersSTK_tPointBasisValuesEvaluator_MPI_1
PanzerAdaptersSTK_tBasisTimesVector_MPI_1
PanzerAdaptersSTK_MixedPoissonExample
PanzerAdaptersSTK_CurlLaplacianExample-ConvTest-Order-1
PanzerAdaptersSTK_CurlLaplacianExample
Drekar_standing_wave
Drekar_source_inversi

[2017-06-09 20:43] mndevec commented on #1401
There are some fixes that improved the time. These changes improved run-times significantly on my desktop machine. Commit c93575c8bb11923d7fb6e399d1e02bfb8641a8bb has the below updates.

I have added a test "Ifpack2_PRBILUK.exe" associated with the source code "Ifpack2_UnitTestPerfRBILUK.cpp".
This test reads a hard-coded matrix "laplace.mtx" in matrix market file format. I generated this using mu

[2017-06-09 20:50] ibaned commented on #1341
I wish GitHub had a reaction for "I disapprove of the situation you describe, but I know its not your fault" :)

[2017-06-09 20:58] srajama1 commented on #1401
Thanks, Mehmet ! Let us integrate this once you get back and we can test it well.

[2017-06-09 21:06] kyungjoo-kim commented on #1411
What is your test environment ? In my workstation, I cannot reproduce the panzer failures.

[2017-06-09 21:11] jmgate commented on #1411
RHEL7, gcc-6.2.0, cmake-3.6.1, hdf5-1.10.0, netcdf-4.4.1, netcdf-cxx4-4.3.0, openmpi-2.0.0...  What else do you need?

[2017-06-09 21:15] jmgate commented on #1411
Also seeing these Charon failures on all of Charon's test beds:  RHEL6, Ubuntu16, Darwin.

[2017-06-09 21:18] kyungjoo-kim commented on #1411
I saw your configure script but I do not have the repo for charon and drekar. I first check if the checkin script can filter out this issue with sems modules.

[2017-06-09 21:19] jmgate commented on #1411
On the Charon machines, I'm seeing this configure warning:
[code]
Might that have something to do with this, or is that totally unrelated?

[2017-06-09 21:26] kyungjoo-kim commented on #1411
I do not recorgnize the flag. I was told that charon now uses Intrepid2. Is that related with the other version of Intrepid ?

[2017-06-09 22:02] jmgate commented on #1411
Looks like most of the failures I'm seeing relate to
[code]
All Panzer test output can be found here:
[myTestOutput.txt](https://github.com/trilinos/Trilinos/files/1065343/myTestOutput.txt)

[2017-06-09 22:05] kyungjoo-kim commented on #1411
Oh..... It looks like that your trilinos is not fully updated. That is temporary exception throw for debugging panzer and it is removed then pushed. I am not sure how the intermediate commit is alive in your pulling the repo.

[2017-06-09 22:11] kvmkrao opened #1412 "Question on how to build Kokkos with Tpetra"
**CC: @wfspotz**
I set Trilonos path and compiled a simple Kokkos with Tpetra code (https://github.com/trilinos/Trilinos_tutorial/wiki/KokkosExample01) with CMakeList.txt. The compilation was not successful because of the following errors:

_Scanning dependencies of target example
[ 50%] Building CXX object CMakeFiles/example.dir/kokkosexample01.cpp.o
/oasis/scratch/comet/vkotteda/Software/trilino

[2017-06-09 22:12] kyungjoo-kim commented on #1411
For testing, I add one dummy commit and ran the checkin test to push. When you pull the repo, you should see this log.
[code]

[2017-06-10 06:00] aprokop commented on #376
Duplicate of #860

[2017-06-10 06:00] #376 closed

[2017-06-10 08:46] tawiesn commented on #1406
@aprokop I'm using the Isorropia interface a lot. But only with Epetra.

[2017-06-10 08:51] tawiesn commented on #1387
Sounds good to me. I can do that after my return.

[2017-06-10 14:07] aprokop commented on #1406
@tawiesn OK, then we should get rid of the Tpetra one in MueLu.

[2017-06-10 14:17] rppawlo commented on #1386
@jhux2 That fixed it. Thanks!

[2017-06-10 14:48] #1386 closed

[2017-06-10 15:00] aprokop opened #1414 "MueLu: get rid of Isorropia Tpetra interface"
Continuation of #1406.

[2017-06-10 15:01] aprokop commented on #1414
@trilinos/muelu

[2017-06-12 14:23] bartlettroscoe commented on #1293
What is the status of this?  I thought thought that "Nightly" builds were not supposed to be sending out CDash emails, let least initially until the "Clean" track can be kept clean.  See below email I just got from the "Nightly" track.

----

[2017-06-12 15:17] jmgate commented on #1411
It's still alive because you didn't squash your commits before pushing.  If you leave commits in the history that break the code (intentionally or not) and push, `git bisect` will find the commit that breaks the code and deem it the first bad commit, even if the very next commit removes, in this case, the intentional exception throw.  Are you familiar with `git bisect` or with the process of squas

[2017-06-12 16:22] mhoemmen commented on #1410
The yaml-cpp module was built using GCC 4.4.7, likely with C++98.  The C++11 ABI differs from the C++98 ABI, even for C++98 language features.  This could cause build, link, or even possibly run-time errors, when attempting to use the yaml-cpp module with a C++11 compiler.

[2017-06-12 16:24] mhoemmen commented on #1406
@bartlettroscoe Could you please clarify priority of Rythmos work over e-mail?  I have a sense of priority for Teko, but not for Rythmos.  I don't mean to criticize the package, it's just that I don't know who is using it and how much time I should spend working on it vs. all the other things.

[2017-06-12 16:26] ibaned commented on #1410
Yep, you're right that can cause trouble. On the other hand, I just looked at the configure output of the CI build and saw this:
[code]
So it looks like the module being used by the CI build was built with GCC 4.9.3.

[2017-06-12 16:35] kvmkrao commented on #1412
I loaded gnu/4.9.2, mvapich2/2.2, CUDA/7.5 modules and used the following the script to build Kokkos

_home=$(pwd)
module load gnu/4.9.2
module load cuda/7.5
module load mvapich2_gdr/2.2

export CUDA_LAUNCH_BLOCKING=1
cd build
../src/generate_makefile.bash --prefix=$home/kokkos/install
make -j KOKKOS_DEVICES=Cuda
make install_

Then, I compiled some of the tutorials in src/example/tutorial/ direct

[2017-06-12 16:38] bartlettroscoe commented on #1406
@mhoemmen:

We can discuss over email (or better over phone) but the selection of PT packages was done by a rigorous process that was tracked in #410.  In short, Rythomos is being used by an important SNL Trilinos customer and even if it is not being actively developed, it is being actively used so we can't break it.

[2017-06-12 16:43] mhoemmen commented on #1412
@trilinos/framework

[2017-06-12 16:44] mhoemmen commented on #1389
I pushed a fix to develop 5 days ago.

[2017-06-12 16:44] #1389 closed

[2017-06-12 17:52] mhoemmen commented on #1406
@bartlettroscoe OK, good to know, thanks :-)  I will test Rythmos again with my local builds and see if those tests are still failing.  I was able to push with your (very useful! :-D ) remote check-in test script, so at least everything is OK with Rythmos there.

[2017-06-12 19:19] ibaned opened #1415 "Pamgen: CMake warnings about PARSE_ARGUMENTS"
The CI build shows 70 warnings like this coming from Pamgen:
[code]
Maybe `PAMGEN_ADD_TEST` needs to switch to `CMAKE_PARSE_ARGUMENTS`?

mentioning @trilinos/framework because there is no @trilinos/pamgen

[2017-06-12 20:10] bartlettroscoe commented on #1392
Still failing.  Can we just apply this patch directly to Trilinos GitHub 'develop' to fix the issue and then let the next snapshot of SEACAS from SIERRA write over this?  Otherwise we are never going to have clean "Clean" builds that involve SEACAS and STK with the current integration processes.

If there is no objection I will just do it and provide the commands that I used.  I should be able to

[2017-06-12 20:38] bartlettroscoe commented on #1415
Looks like I missed those warnings as part of #1378.  Not sure how I did not see these.  I will fix and push.

[2017-06-12 21:01] ibaned commented on #1415
Thanks @bartlettroscoe !

[2017-06-12 22:01] jmgate commented on #775
@rppawlo, @eric-c-cyr, can we close this out?

[2017-06-12 22:01] jmgate commented on #596
@rppawlo, @eric-c-cyr, can we close this out?

[2017-06-13 02:51] brian-kelley commented on #1085
Looks like @ibaned fixed this in c570303b (thanks!), so I'll close this.

[2017-06-13 02:51] #1085 closed

[2017-06-13 13:18] bartlettroscoe commented on #1415
I pushed the commit c00a514 last night that should resolve these warnings (I verified locally that I could reproduce them then observed that the warnings went away).  The build Linux-gcc-4.9.3-SERIAL_Release_gcc_4.9.3__DEV already ran today and showed these warnings disappear as shown at:

* https://testing.sandia.gov/cdash/buildSummary.php?buildid=2945232

See how the "Previous Build" configure w

[2017-06-13 13:18] #1415 closed

[2017-06-13 13:25] bartlettroscoe commented on #1160
@mplooster, did you resolve this?

[2017-06-13 14:53] hcedwar commented on #1232
Packages in the "Production Maintenance" state (using as a term of vocabulary as the life cycle model has not been officially adopted) typically do not have funded projects from which a "support tax" can be leveraged.  Support is problematic when applications rely on such unfunded "orphaned" packages.  What support policies can be defined for these?  Should the owning org commit to either supporti

[2017-06-13 15:12] mplooster commented on #1160
@bartlettroscoe  I went ahead with the blacklisting approach for now.

[2017-06-13 15:25] ndellingwood opened #1416 "Question: Nightly testing with large or internal Sandia data files"
What is the best way (if possible) to set up a nightly test that may use large data files or internal data files that cannot be stored within Trilinos?

In particular for Amesos2, we'd like to set up a nightly test for the following cases:
1. Using matrix market files provided by a customer that cannot be released in Trilinos for a unit test that would catch issues like those in #1289

2. Potentia

[2017-06-13 16:11] jmgate opened #1417 "Changes to Panzer broke Charon testing"
The following commits for high-order HGRAD, HDIV, and HCURL bases in @trilinos/intrepid2 and @trilinos/panzer have broken 30 tests in Charon:

- 36745f97b3f163853ed3e27f41f17f5885c24b30
- 8ac0c908552181662222ef321dbd5ae2bdc71445
- c66a81102131c7b19d793a9416889491dd0ad3d7
- 07368cc3661d7cbf0bb7c5646a058e17661fb010
- cafe86a17cc8bf1ebd4c1c81fd54a992a603953b
- 95d72c3748159be979f87a1609a83462465772fa

[2017-06-13 16:12] jmgate commented on #1411
This issue was due to a `git bisect` that found code that was intentionally broken.  Closing here, but the discussion continues in issue #1417.

[2017-06-13 16:12] #1411 closed

[2017-06-13 16:18] jmgate commented on #1417
The following is an email conversation between @kyungjoo-kim and myself.

[2017-06-13 16:22] maherou commented on #1208
@nmhamster, Please update this issue when you get news from the vendor.

[2017-06-13 16:24] jmgate commented on #1417
I'm afraid at this point, these changes have held up Charon for almost a week.  It doesn't look like we'll get any closer to figuring out what's wrong until @kyungjoo-kim, @eric-c-cyr, and @rppawlo are back in the office.  I have permission from Trilinos to revert these commits, such that they can be re-reverted next week when everyone's back in town and we can figure out what needs to be fixed.

[2017-06-13 16:40] bartlettroscoe opened #1418 "Clean up Trilinos dependencies using subpackages to reduce and better control dependencies"
Currently Trilinos has a very course-grained set of dependencies based on fat top-level packages that don't follow [Software Engineering Packaging Principles](https://tribits.org/doc/TribitsDevelopersGuide.html#software-engineering-packaging-principles).  This has several bad consequences:

* Changing an upstream packages triggers a lot of downstream package enables that really should not be (e.g.

[2017-06-13 17:02] kruger commented on #1208
Sorry for the delay.  Here is the output.

[2017-06-13 17:25] kruger commented on #1208
The srot is a C version.

The full build of the clapack can be seen here:
~sekruge/builds-develop/clapack_cmake-3.2.1

[2017-06-13 18:06] srajama1 commented on #88
PR #1069 fixed this. This is still not tested nightly though. See #1255 for details of nightly testing

[2017-06-13 18:06] #88 closed

[2017-06-13 19:20] bartlettroscoe commented on #1390
@hkthorn and @jwillenbring, this is the GitHub issue for considering dropping support for C++98.  As described at:

* https://developers.redhat.com/blog/2014/06/26/rhel-7-is-for-developers/

if you build binaries with GCC 4.8.x on RHEL 7 you can run on RHEL 6 systems.  I think that means we could build Trilinos with GCC 4.8.4 with C++11 enabled and link to an APP binary and then that team could de

[2017-06-13 19:40] jmgate commented on #1417
The revert is complete and has been pushed to develop.  Moving this issue to "In Review" so we can review it when everyone's back in town next week.

[2017-06-13 20:50] bartlettroscoe commented on #1208
@kruger,

Thanks for the unit test output.  By my count, what is failing are 17th and 18th checks in this unit test:

[code]

@mhoemmen, by my count, the failing checks in that unit test are coming from the unit test code starting on line 407:

[code]

So something about these `asSafe()` checks must be using LAPACK and the CLAPACK functions must not be returning the right values used in these chec

[2017-06-13 21:38] wfspotz commented on #1381
@jhux2 Yes, I'm on my MacBook Pro.

If I explicitly do a

    prec.DestroyPreconditioner()

rather than let the destructor handle it, I avoid the dangling reference error.

[2017-06-14 05:01] mhoemmen commented on #1208
@bartlettroscoe Are those the only checks that are failing?  My guess is that the compiler implements `long double` as a "double-double" (a.k.a. ddreal), not as a true 80-bit or 128-bit IEEE 754 floating-point value.  That could affect both the min and the max representable positive `long double` values.

I'm all for commenting out the test for now until we have time to research what the min and m

[2017-06-14 07:54] jwuttke opened #1419 "#include <Epetra_Version.h> causes error"
This piece of code (taken from Epetra tutorial #2)

[code]

causes the following error:

[code]

Versions (from Debian/stretch):
  * mpic++ from libopenmpi-dev 2.0.2-2
  * libtrilinos-epetra-dev 12.10.1-3

[2017-06-14 09:23] jwuttke opened #1420 "enum Epetra_DataAccess pollutes global namespace"
a library shouldn't define global constants like "Copy" or "View".

[2017-06-14 12:03] ibaned commented on #1419
mentioning @maherou @mhoemmen @csiefer2 since there is no @trilinos/epetra

[2017-06-14 12:03] ibaned commented on #1420
mentioning @maherou @mhoemmen @csiefer2 since there is no @trilinos/epetra

[2017-06-14 13:30] bartlettroscoe opened #1421 "Getting spammed by configure failures for Linux-GCC-4.7.2-RELEASE_DEV_MueLu_Matlab Nightly build"
**CC:**  @trilinos/framework, @trilinos/muelu, @maherou

**Description**

I am getting spammed by 4 CDash emails every day for configure failures for the "Nightly" build `Linux-GCC-4.7.2-RELEASE_DEV_MueLu_Matlab`.  The most recent is:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2946611

This fails with:

[code]

This thing is a "Matlab" build.  If that does not qualify

[2017-06-14 13:49] bartlettroscoe commented on #1208
I think these tests passed before with the same compiler.  So these new failures don't appear to be related to the compiler itself.

@kruger, can you comment on this since you are on that machine and ran these tests?

[2017-06-14 14:14] bartlettroscoe commented on #1335
No response for 12 days from customer so I am closing.  As I stated above, there was nothing wrong with the checkin-test.py or checkin-test-sems.sh scripts (other than a `csh` issue that is now documented at https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing#csh_shell_issues).

[2017-06-14 14:14] #1335 closed

[2017-06-14 14:17] bartlettroscoe commented on #1392
Since there was no objection so I applied the patch as:

[code]

I then ran the checkin-test-sems.sh script with the SERIAL_RELEASE_SHARED_PT build (which reproduced the problem) to test and push:

[code]

This pushed the commit 0a3ad89:

[code]

NOTE: The modified subpackages `SEACASAprepro_lib` does not have any tests in an MPI build so I had to explicitly enable all of SEACAS to get the standar

[2017-06-14 14:28] bartlettroscoe opened #1422 "Get all SERIAL tests in Trilinos to run as 1-process tests in MPI builds"
**CC:** @trilinos/framework

**Description:**

A big problem we have with SQA and test of Trilinos is that many Trilinos packages have significant numbers of tests that only run in a non-MPI serial build (e.g. Pamgan #1415 and SEACAS #1392).  That means that running the standard CI build MPI_RELEASE_DEBUG_SHARED_PT does not run any of these tests.

This story is to create a place-marker for packag

[2017-06-14 14:30] bartlettroscoe commented on #1397
Given that PT package Pamgen has zero tests in an MPI build (see #1415) and SEACAS has many tests that only run in a non-MPI SERIAL build (see #1392), I don't see that we have any way to avoid this without getting all of these tests to also run in an MPI build.  For that, I created the story #1422 to really solve this correctly.

Therefore, given the existance of #1422, I will retract this questio

[2017-06-14 14:30] #1397 closed

[2017-06-14 14:33] bartlettroscoe commented on #1390
I have change the scope of this to "Create plan" and moving "in progress" as suggested by @maherou at the SART meeting yesterday.

[2017-06-14 15:11] brian-kelley opened #1423 "KokkosKernels: Problems with Kokkos_Sparse_CrsMatrix"
I'm trying to use the Kokkos::CrsMatrix to write a local threaded matrix addition. I've run into a couple of issues with it (one I've figured out, and one I haven't - maybe I should make 2 issues?):

-The documentation says that the [raw host array constructor](https://trilinos.org/docs/dev/packages/kokkos/doc/html/classKokkos_1_1CrsMatrix.html#a0c2a800a9ffc10f658038bb64ac47972) expects coordinate

[2017-06-14 15:20] srajama1 commented on #1423
The documentation is wrong. We will fix it. As the name suggests this is CRS Matrix.

Can you send me your small example or attach it to this issue ? Also I assume you are using the KokkosKernels within Trilinos as the issue you filed is in Trilinos.

[2017-06-14 15:27] brian-kelley commented on #1423
Yes, I'm using it from Tpetra (develop branch).
[Snippet from my testing code](https://gist.github.com/brian-kelley/bdda802df5aa7534755361b47ca76b3a)
[The addition code](https://gist.github.com/brian-kelley/5227402149e6c776675b8fa431f8f860)

[2017-06-14 15:40] mhoemmen opened #1424 "I know how to get rid of CUDA_LAUNCH_BLOCKING=1 requirement"
@trilinos/tpetra @trilinos/ifpack2 @trilinos/muelu @trilinos/amesos2 @trilinos/zoltan2 @crtrott @nmhamster

The issue is that the mirror View of a CudaUVMSpace View is just the same View.  That's not unreasonable, since it _is_ accessible from host.  However, it means that if you write to the View from (host, device), then want to access it from (device, host), you'll need to fence (otherwise you'

[2017-06-14 15:51] mhoemmen commented on #1420
I'm not actually responsible for Epetra.  I could fix it, but that would break backwards compatibility.  I will leave that decision to @maherou .

[2017-06-14 16:42] kddevin commented on #1424
Thanks, @mhoemmen .  I know that we originally scheduled this work for FY18, but I've heard some chatter about it here, too.  Should we look for a way to reprioritize it to this summer?  Maybe look for someone to help you do it?  What do you think?

[2017-06-14 17:42] BarrySmith opened #1425 "Exodus building chaco without PIC flag"
It appears that Chaco is built as a static library without the PIC flag from within Exodus even if Trilinos is built with shared library support. This makes it impossible to build shared libraries that depend on all of the Trilinos libraries. @amklinv Could you please add the TAG or email for the Exodus developers so they see this issue, thanks.

https://github.com/LLNL/spack/issues/4502

     CLI

[2017-06-14 18:29] maherou commented on #1420
This is a known issue, but removing the names would result in backward incompatibility, which is prohibited until we change to the next major version (Trilinos 13).  I don't know a way to remove these symbols in a compliant way.

[2017-06-14 18:57] maherou commented on #1419
I am not sure what is wrong.  The example code works for me in my environment.  It has been stable for many years.  I am guessing there is some inconsistency in your build environment state, but there is not enough detail to offer suggestions.

[2017-06-14 19:04] mhoemmen commented on #1419
I wonder if there is some issue with Epetra having been built with C++98 and the rest having been built with C++11?

[2017-06-14 19:05] jwuttke commented on #1419
The case is simple enough to let the standard decide. Why should
[code]
work?

Why not put quotation marks around the version string?

[2017-06-14 19:39] srajama1 commented on #1416
@trilinos/framework

[2017-06-14 19:51] ibaned commented on #1419
This may not have anything to do with Epetra. The `Trilinos_version.h` file is generated from this TriBITS template (in the latest Trilinos version):

https://github.com/trilinos/Trilinos/blob/master/cmake/tribits/core/package_arch/Tribits_version.h.in#L85

And it clearly puts quotation marks around the inner string.
The other thing that is strange is that your compiler seems to think that `TRILIN

[2017-06-14 20:16] jwuttke commented on #1419
12S comes from `Epetra_Version.h`, not from `Trilinos_version.h`.

`Epetra_Version.h`:
[code]

`Trilinos_version.h`:
[code]

[2017-06-14 20:19] mhoemmen commented on #1424
@kddevin Thanks for responding! :-)  I've been experimenting with this in my current project.  I don't have a sense for priority, but it's frustrating to require `CUDA_LAUNCH_BLOCKING=1`.  I think we could fix a lot of this with some small changes to Kokkos, e.g., requiring `deep_copy` from or to a UVM View to fence, and making `host_mirror_space` of `CudaUVMSpace` be `HostSpace`.  Mainly, I would

[2017-06-14 20:22] ibaned commented on #1419
@nschloe can you shed some light on this? Does `Epetra_Version.h` get modified when packaging and if not do you have the Git hash that this package was made from?

(context: @nschloe is involved in making the Debian packages of Trilinos)

[2017-06-14 20:28] ibaned commented on #1424
More like Trilinos' use of Kokkos' UVM capability by default. A lot of what you're proposing sounds like the same work that is required to move to using `CudaSpace` proper instead of `CudaUVMSpace`. Still, its good that you figured this out.

[2017-06-14 20:42] dsunder opened #1426 "Finish moving Kokkos View implementation out of the experimental namespace"
The following classes and methods have moved out of the ```Kokkos::Experimental``` namespace.

[code]

[2017-06-14 20:43] gsjaardema commented on #1425
The original thinking for building chaco static only was that it was used only internally by nem_slice and not (originally) going to be used by any applications external to SEACAS.  I have since realized that there are applications using chaco externally.

I will remove the STATIC specification from chaco so it will respect the shared/static specification of the Trilinos build.

[2017-06-14 20:44] ibaned commented on #1426
@dsunder did you figure out what was wrong with our commit to Kokkos yesterday? are these really truly available outside of `Experimental`?

[2017-06-14 20:45] dsunder commented on #1426
They are.  The problem yesterday was I didn't catch the nested namespace implementations, just the calls.

[2017-06-14 20:47] ibaned commented on #1426
Okay... this will be part of the next Kokkos promotion then.

[2017-06-14 20:47] BarrySmith commented on #1425
Thanks. Even when we don't use chaco explicitly, on certain systems like the Mac when you build a shared library it sucks in all the .a libraries on the link line (and they need to be listed because everything must be resolved when building a shared library on Macs) so if anything in the .a libraries is not PIC it errors out in building the shared library (as you can see in Alicia's build).

   Th

[2017-06-14 20:49] dsunder commented on #1426
It can happen with the current Trilinos, since these things are defined in the Experimental namespace and are injected into the Kokkos namespace currently.  I'm preparing a Kokkos PR that flips the code so that they are defined in Kokkos and injected into experimental.

[2017-06-14 20:50] ibaned commented on #1426
Ah yep, I keep forgetting and you have to keep reminding me haha. I'll see if I can make a Trilinos PR in the near future.

[2017-06-14 21:39] srajama1 opened #1427 "-openmp option is deprecated in icpc"
When enabling OpenMP with intel 17 I get tons of these

icpc: command line remark #10411: option '-openmp' is deprecated and will be removed in a future release. Please use the replacement option '-qopenmp'

Can we change the configure logic to handle this ?

@trilinos/framework @bartlettroscoe

[2017-06-14 21:52] brian-kelley commented on #460
I think I solved this issue. In AdditiveSchwarz::apply(), with overlap, the OverlappingB and OverlappingY vectors are still distributed across all procs when localApply() is called (which in turn runs the inner solver). For some reason, Amesos2 expects those vectors to have _global_ length matching the nrows of the local matrix, which didn't match on parallel problems. I just copied the local entr

[2017-06-14 21:55] ibaned commented on #1427
Going further, `-fopenmp` should be accepted by all OpenMP-supporting compilers (at least the ones I've seen including Intel).

[2017-06-14 22:31] bartlettroscoe commented on #1427
Looks like this is a CMake issue, not a TriBITS issue.  Looks like these options come from `FIND_PACKAGE(OpenMP)` as shown at:

* https://github.com/trilinos/Trilinos/blob/47c09c72b28f09bb56301a50cea9d6ccaa134164/cmake/tribits/core/package_arch/TribitsGlobalMacros.cmake#L1893

Therefore, please refer to the documentation for the FindOpenMPI.cmake module for CMake 2.8.11:

* https://cmake.org/cmake

[2017-06-14 22:59] mhoemmen commented on #1421
@csiefer2

[2017-06-14 23:01] mhoemmen commented on #460
Awesome!  Thanks @brian-kelley !  I think you could even just have the non-distributed MVs view the data of the distributed MVs, without needing a copy.

[2017-06-15 13:58] bartlettroscoe commented on #1392
SEACAS is now passing in the "Clean" build `Linux-gcc-4.9.3-SERIAL_Release_gcc_4.9.3__DEV` today:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2948431

This should likely be kept open until SEACAS is snapshotted from Sierra.

Therefore, putting into review

[2017-06-15 14:03] ibaned commented on #1426
#1428 addresses all the ones I could find.

There are a few in STK, and the process for getting changes into STK is different. I'll work on that as well.

@dsunder please take a look at the branch for #1428 and let me know if I missed any.

[2017-06-15 14:10] jbcarleton opened #1429 "Create an IOSS adapter for Panzer"
Implement IOSSConnManager and IOSSWorksetFactory classes.

[2017-06-15 14:25] jbcarleton commented on #1429
Created a pull request.
@rppawlo @eric-c-cyr

[2017-06-15 15:05] nschloe commented on #1419
Definitely a Debian issue. I've pushed a fix (cf. https://anonscm.debian.org/cgit/debian-science/packages/trilinos.git/commit/?id=344260e5b34a74cab90430dc462e78ac723775ef), it'll be part of the next release (happening once Trilinos releases).

[2017-06-15 15:12] nschloe commented on #1419
For all I know, this can be closed.

[2017-06-15 15:21] nschloe opened #1431 "./doc/build_docs for Epetra"
The most common way for a Trilinos package to build its docs is to call `./doc/build_docs`. Unfortunately, Epetra doesn't have that, meaning that the Debian package, for example, doesn't contain Epetra docs. [We've recently had a user point that out](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=864779), so I thought I mention it here, hoping for someone to put a `./doc/build_docs` in Epetra.

[2017-06-15 15:23] mhoemmen commented on #1431
@trilinos/epetra

[2017-06-15 15:23] #1419 closed

[2017-06-15 20:10] ibaned commented on #1431
@trilinos/epetra isn't a team... @trilinos/framework someone needs to determine ownership of Epetra and create the @trilinos/epetra team...

[2017-06-15 20:18] jwillenbring commented on #1431
@nschloe what version are you looking at? I see such a file in the repo: https://github.com/trilinos/Trilinos/blob/master/packages/epetra/doc/build_docs

We rely on this for the official deoxygenated generation for the website.

[2017-06-15 20:34] nschloe commented on #1431
Thanks @jwillenbring for the reply.

I looked at the 12.10.1 release where you'll find
[code]
 – no `docs/`. They _are_ in master however. Those files don't get filtered out in the release process, do they?

[2017-06-15 21:34] kddevin commented on #1209
@gslota
You are correct.  I must have built the updated version incorrectly; I suspect I built but did not install.
I apologize for the noise.

Thank you for the fix!!

[2017-06-15 21:34] #1209 closed

[2017-06-15 21:58] bmpersc commented on #1431
@nschloe Epetra does have an exclusion for the doc directory for the tarball release. It should still be there on the 12.10 branch, but not in the tarball(s) made from that branch.

I'm not sure what the specific reason for that exclusion was/is, but it could have been that there were documents that hadn't gone through the appropriate review process. Given that we are now releasing it as part of o

[2017-06-15 22:55] jrood-nrel opened #1433 "STK fixtures"
Recently (today 6/15/2017) I have seen that Trilinos omits installing the `includes/stk_mesh/fixtures` directory during `make install`, and it appears they install to the base `includes` directory instead. Is this intentional?

[2017-06-16 08:33] nschloe commented on #1431
I guess there'll be others, but people don't really look at locally installed documentation anymore. Frankly I was surprised that the lack of Epetra (of all packages) got noticed at all. If that could be fixed for the next release, I could close the bug on the Debian side.

[2017-06-16 15:24] ibaned commented on #1433
@trilinos/stk

[2017-06-16 16:52] khpierson commented on #1433
The last change that I can find in the repository that probably affected where these header files would be installed was intentionally re-arranging code to improve dependencies. Sorry for the confusion, we will try not to perform these structural directory changes as much in the future.

-Kendall

commit e3962e6ee692e5f6c25d419d670e787081d7d6ab (master~1378)
Author: Todd S. Coffey <tscoffe@sandia.

[2017-06-16 16:58] jrood-nrel commented on #1433
Thanks for the clarification. Understandable. I was just curious if our project should adapt to the change or if it was unintentional. I will close this then.

[2017-06-16 16:59] VictorEijkhout opened #1434 "MueLu doesn't compile with gcc7"
[code]
Let me know what files I can send you.

Victor.

[2017-06-16 17:01] hkthorn commented on #1390
@bartlettroscoe @jwillenbring I have discussed the conditions with the Xyce team, under which we are amenable to Trilinos dropping C++98 support.  Here is the list that the team has crafted:

1)  Trilinos must provide one last release with C++98 support, Trilinos 12.12, before September 2017.
2)  Trilinos must continue to maintain solver and tools interfaces that Xyce is reliant upon in Teuchos, S

[2017-06-16 17:31] ibaned commented on #1434
@trilinos/muelu

[2017-06-16 17:45] jwillenbring commented on #1390
Also if we make 4.8 the minimum for now, then we only have to worry for the time being about RHEL 6 as a special case. @hkthorn how much RHEL 6 usage are you still seeing? Is there a plan to phase this out any time soon since RHEL 7 is avaialable?

[2017-06-16 17:53] hkthorn commented on #1390
@jwillenbring  We have not even released a RHEL7 binary, we will using RHEL7 as one of our testing platforms soon on Jenkins.  So, all of our RHEL users are RHEL6.  In general, our users are not computer scientists, they are circuit designers and they don't really concern themselves with keeping up with their RHEL versions.  Our users are distributed throughout the lab and we have no leverage for

[2017-06-16 18:45] aprokop commented on #1434
Oh, man, it's one of the dreaded `g++: internal compiler error:`. Not sure how to proceed.

[2017-06-16 19:59] ibaned commented on #1434
Regardless of whether the code can be modified to avoid this internal error, it is still a bug in GCC. I would do as the message says:
[code]
Lets see if we can collect sufficient information to submit a bug report.

Note that the Albany project as been successfully compiling Trilinos with GCC 7.1 for some time now.

@VictorEijkhout  could you send us the following items as requested by the GCC in

[2017-06-16 20:23] brian-kelley commented on #460
Alright, so I did fix the SparseDirectSolver test completely, but I wanted to get your input before checking it in. (See [my fork, branch SchwarzFix460](https://github.com/brian-kelley/Trilinos/commits/SchwarzFix460)).

There's definitely some weirdness with the way Amesos2 validates solver input. I had create new Tpetra::Maps that are "locally replicated" and have the same number of global rows a

[2017-06-16 20:32] srajama1 commented on #1423
@brian-kelley : Needless to say I am not able to reproduce what you are doing as the code is partial. Do you want me to sit with you to debug and see what is happening ?

[2017-06-16 20:34] srajama1 commented on #460
Can you @trilinos/amesos2 team a test case. I also don't quite get what you mean about the weirdness. If you want to stop by please feel free. I would like to understand this better.

[2017-06-16 20:44] jrood-nrel commented on #1433
@khpierson Actually I made the changes to my project to account for the relocated headers, but I'm not sure this has been fully accounted for in Trilinos as seen in the error below. Am I missing something?

[code]

[2017-06-16 20:55] MicheldeMessieres commented on #229
Attached is a report which compares RCP to std::shared_ptr. This data was generated after modifying the unit tests to use std::shared_ptr. I'll update the code soon to include those changes.
[RCPReport std shared_ptr_bartlettroscoe.pdf](https://github.com/trilinos/Trilinos/files/1081920/RCPReport.std.shared_ptr_bartlettroscoe.pdf)

[2017-06-16 21:21] bartlettroscoe commented on #1390
@hkthorn,

If the SEMS env is a viable solution for this then that is already covered with GCC 4.9.3.  As long as these are standard RHEL 6 and RHEL 7 COE machines on the SON or SRN, then they should be able to mount the SEMS NFS share and get at these compilers.  Does that solve the problem?

I am wondering if that is really necessarily?  I think it might work to build Xyce binaries on RHEL 6 or

[2017-06-16 21:23] khpierson commented on #1433
Where is CoordinateMapping.hpp found in your repository?

We do not work with an installed version of Trilinos when we develop stk. The file CoordinateMapping.hpp is located (for me) in stk/stk_unit_tests/stk_mesh_fixtures/CoordinateMapping.hpp

[2017-06-16 21:26] jrood-nrel commented on #1433
It is in the base `include/` directory after `make install` occurs.

[2017-06-16 21:37] mhoemmen commented on #1431
I made an Epetra team: @trilinos/epetra

[2017-06-16 21:40] khpierson commented on #1433
I will have to ask someone on the Trilinos side to better understand the rules with make install and why the files are moved. I think you could add a symbolic link to the header file where it is missing or modify the HexFixture file to point to the include directory.

[2017-06-16 22:01] brian-kelley commented on #1423
@srajama1 I just emailed you a full patch that will let you run that test.

[2017-06-17 16:27] bangerth commented on #866
Any news? The deal.II project gets about one mail per month from people complaining that they can't build, and the only thing we can do is tell them to edit their Trilinos installation by hand :-( This is compounded if they are using a Trilinos installation they can't edit (e.g., if it is provided as a module on a supercomputer).

[2017-06-17 16:38] ibaned commented on #866
@trilinos/framework there seems to be a lot of users checking up on this...

[2017-06-18 13:17] milyas7 opened #1437 "cmake while building trilinos 12.10.1"
On febora 25 virtual machine I am trying to build trilinios 12.10.1 with following script:

module load mpi/mpich-x86_64

make clean

rm -rf CMake*

cmake \
-D CMAKE_INSTALL_PREFIX:PATH=/home/peri/packages/trilinos-12.10.1-Source \
-D CMAKE_CXX_FLAGS:STRING="-O2 -ansi -pedantic -ftrapv -Wall -Wno-long-long" \
-D CMAKE_BUILD_TYPE:STRING=RELEASE \
-DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON
-D

[2017-06-18 20:14] mhoemmen commented on #1437
Did running CMake actually succeed?  Don't send the log; send the actual output of CMake.  CMake configuration may attempt to build temporary source code files, as a way to figure out whether the compiler or link implements certain features.  This may cause "build errors" to show up in the log.  Those are not necessarily actual errors in Trilinos.  They are just tests for Trilinos to figure out wh

[2017-06-18 20:15] mhoemmen commented on #1437
Could you also explain why you set the `-ftrapv` and `-Wno-long-long` flags?

[2017-06-18 22:35] nmhamster opened #1438 "STK Search will Not Compile when OpenMP is enabled with GCC 7.1.0"
@trilinos/stk - spent the weekend trying to compile Trilinos master with OpenMP enabled on one of our new testbeds. I have been using GCC 7.1.0. After a while I realized the error is that an OpenMP (`#pragma omp for`) is not used immediately prior to a loop and so this is causing some odd compiler warnings and errors to get generated. Code is on/or around line 116 of `packages/stk/stk_search/stk_s

[2017-06-18 22:39] nmhamster commented on #1434
@mhoemmen @ibaned @crtrott @trilinos/muelu - I can report that I successfully built MueLu and its tests (as I compiled and linked) using GCC 7.1.0 on one of new testbeds this weekend. This error could be a result of the flags or architecture specific optimization being used/not being used, but there is a proof point that the compiler can generate code for MueLu.

[2017-06-19 04:29] milyas7 commented on #1437
I am more of an end user, who got stuck into building. Therefore, absolutely no idea what -ftrapv and -Wno-long-long will do :)
I copy pasted the script from
http://iltabiai.github.io/peridynamics/fedora/tips/2016/04/20/Peridigm141-Fedora23.html
and did minor tweaks to adapt to my distro

[2017-06-19 09:48] VictorEijkhout commented on #1434
+ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/apps/gcc/7.1.0/libexec/gcc/x86_64-pc-linux-gnu/7.1.0/lto-wrapper
Target: x86_64-pc-linux-gnu
Configured with: /admin/build/rpms/BUILD/gcc-7.1.0/configure --enable-libssp --enable-gold=yes --enable-ld=default --enable-plugins --enable-lto --with-tune=generic --enable-languages=c,c++,fortran --disable-multilib --prefix=/opt/apps

[2017-06-19 09:49] VictorEijkhout commented on #1434
And on a further attempt I can not get it to crash any more.
I'll follow up if I have more information, but for now let's close this.

[2017-06-19 10:15] milyas7 commented on #1437
addition of -D Trilinos_ENABLE_EXPLICIT_INSTANTIATION=ON to the cmake command line solved it for me.

Is is possible to know what implications will failure of

HAVE_TEUCHOS_LAPACKLARND
HAVE_CXX_PRAGMA_WEAK

be on build of peridigm?

[2017-06-19 12:51] ibaned commented on #1434
Okay, thanks @VictorEijkhout . As you said, please reopen this if you can reproduce the crash again. It may have just run out of RAM due to other jobs at the time or something...

[2017-06-19 12:51] #1434 closed

[2017-06-19 13:46] brian-kelley commented on #460
I was wrong, there's nothing wrong with Amesos2. Ifpack2's Amesos2Wrapper just detected parallel problems incorrectly, by only checking whether A_'s row map's comm is > 1 process . If A is local only (as with AdditiveSchwarz), the wrapper thought the problem was serial and did not create local versions of X and Y. I just made it also check X's and Y's maps to see if they are distributed.

I made a

[2017-06-19 14:47] brian-kelley commented on #560
Sorry, my push just now was for #460, not this.

[2017-06-19 14:49] brian-kelley commented on #460
The change is checked in so this test is fixed.

[2017-06-19 15:00] mhoemmen commented on #1437
Please remove those two flags (`-ftrapv` and `-Wno-long-long`).  They are probably specific to Peridigm, and will not help Trilinos at all.

Trilinos isn't one library; it's a whole bunch of libraries, set up with a package system not much different from the package systems you might find in a Linux distribution.  It would help to know what you intend to do with Trilinos, in order to show you how

[2017-06-19 15:02] mhoemmen commented on #1437
Also, Trilinos has optional dependencies on a large set of third-party libraries (TPLs).  Some packages require some TPLs; other packages can still be enabled without their optional TPL dependencies, but will not implement certain features without those TPLs.

What I'm trying to say is that installing Trilinos is complicated :-) .

[2017-06-19 15:17] mhoemmen commented on #1438
I CC'd this as Ticket # 17195 in their system.

[2017-06-19 15:22] nmhamster commented on #1438
@mhoemmen - thank you!

[2017-06-19 16:17] MicheldeMessieres commented on #229
@bartlettroscoe I've updated the PR so the RCP performance tests use std::shared_ptr to match the prior report results.

[2017-06-19 16:40] dridzal commented on #460
Hi All, could this fix be related to my observation from several months ago that the subdomain solves with the direct solver were requiring too much memory?  Basically, I noticed that the total memory use for the factorizations, instead of going down with the increasing number of subdomains, went up significantly.

[2017-06-19 17:09] brian-kelley commented on #460
@dridzal That's a good idea, could you run your problem again (with this fix) and report back?

When I tried to profile MueLu + AdditiveSchwarz + KLU2 to diagnose your bad memory scaling, I didn't actually replicate the issue you saw. Once I got my [parameter list](https://gist.github.com/brian-kelley/042ea6855dd82743bf1f7dceab796582) right, the total memory usage stayed almost exactly constant wi

[2017-06-19 17:36] rppawlo commented on #596
yes

[2017-06-19 17:37] #596 closed

[2017-06-19 17:37] #775 closed

[2017-06-19 21:11] dridzal commented on #460
@brian-kelley  I was using a very similar parameter list, so I don't think that's the issue.  I have a question about your comment "memory usage stayed almost exactly constant".  Take the extreme case where the LU factorization always results in fully dense triangular factors (we have a case close to this).  Then, as you increase the number of subdomains, the memory use should go down.  In fact, f

[2017-06-19 21:23] brian-kelley commented on #460
Yes, I agree with everything you said - you should see total memory decrease with more subdomains. The test runs I used definitely didn't result in fully dense triangular factors - I was using a very simple and very sparse 500x500 2D Laplacian problem, which has 1,248,000 nonzeros. For reference, it takes 10 MB to store those double values directly. Here is how much memory the AdditiveSchwarz and

[2017-06-19 21:39] brian-kelley commented on #460
@dridzal I don't really know the mathematical differences between KLU2 and ILU, but in case this is useful I just tried running the exact same matrix through ILU(0) in matlab and L and U were each 9.988 MB (full CRS) - A was 15.98 MB by itself.

[2017-06-19 23:11] mplooster opened #1440 "Zoltan: Parallel test failures on Windows (MSVC)"
@trilinos/zoltan This issue was discovered while setting up the builds for #1160.

There are at least two issues with running the Zoltan parallel tests on Windows, both of which could be solved by modifying the [ctest_zoltan.pl](https://github.com/trilinos/Trilinos/blob/0ea2ae7c0da6e531126db2b3a5dd3bf51f1ce2ce/packages/zoltan/test/ctest_zoltan.pl) script.

1. There is an issue with spaces in the M

[2017-06-19 23:22] dridzal commented on #460
@brian-kelley I agree that your example is too simple.  It looks like your LU factor size is essentially linear in the number of variables, and not quadratic as we would expect for more realistic problems.  My guess is that the factors are essentially banded, possibly with only a few subdiagonals or superdiagonals.  In this case, I don't expect any memory savings.  Do you have a more challenging e

[2017-06-19 23:51] brian-kelley commented on #460
I could look around Galeri for a better example. Actually, the muelu scaling test driver might allow that already, I'll have a look tomorrow.

[2017-06-20 01:59] aprokop commented on #460
@dridzal Could you provide more description on your example where you get dense factors? Galeri examples provide only standard 2D/3D Laplacian and elasticity problems which would certainly not reproduce that.

[2017-06-20 05:26] milyas7 commented on #1437
By removing the flags (`-ftrapv` and `-Wno-long-long`), the update script is as follows:

[code]
and output is

`
Configuring Trilinos build directory

-- PROJECT_SOURCE_DIR='/home/peri/packages/trilinos-12.10.1-Source'
-- PROJECT_BINARY_DIR='/home/peri/packages/trilinos-12.10.1-Source/build'
-- Trilinos_TRIBITS_DIR='/home/peri/packages/trilinos-12.10.1-Source/cmake/tribits'
-- TriBITS_VERSION_STR

[2017-06-20 05:32] milyas7 commented on #1437
peridigm depends on trilinos and for my case it is not being built properly. therefore, I suspect that trilinos failed tests are fundamental and have to pass... before I can move forward

[2017-06-20 13:44] ibaned opened #1441 "TeuchosParser: allow nested parentheses in boolean context"
Just reminding myself to implement this

[2017-06-20 14:36] brian-kelley commented on #460
@aprokop Are there any existing MueLu tests that use a denser matrix?

[2017-06-20 14:39] khpierson commented on #1438
Si, Mark,
I spot checked the code in question in the master version of stk_search this morning and this issue has already been fixed. On the sierra side, we do not have modules completely set up to run gcc 7.1 yet, so thanks for pointing out how to fix the issue. I'm not sure how quickly the changes will propagate back to Trilinos but I'm sure you already have a work-around.
-Kendall

[2017-06-20 15:08] aprokop commented on #460
@brian-kelley Not that I know of. The densest ones are probably elasticity and possibly the high order stuff Chris is using.

[2017-06-20 15:34] mhoemmen commented on #1437
@milyas7 Could you clarify whether or not you were able to build and install Trilinos?  Thanks!

[2017-06-20 15:40] nmhamster commented on #1438
@khpierson - thanks for the update. There are some GCC 7.1 modules rolling on out on the testbeds at the moment although I realize that we need the SQE team to pick those up for you and they have a very busy queue. I'll keep an eye out for the changes and work around them for now. Will close this issue as you guys have a fix done. Thanks for your help.

[2017-06-20 15:40] #1438 closed

[2017-06-20 15:41] bartlettroscoe commented on #1421
Still getting spammed every day.  By now I suspect that most Trilinos developers have put in email filters to not see CDash emails.  I have put in an email filter just for this one build.  I just hope other Trilinos developers are as selective.

[2017-06-20 15:48] mhoemmen commented on #1438
I closed Ticket # 17195 in their system.  Thanks all!

[2017-06-20 15:51] ibaned commented on #1441
done in 8344fb6

[2017-06-20 15:51] #1441 closed

[2017-06-20 15:53] jwillenbring commented on #1363
Significant progress has been made by @pwxy to remove 4.7.2 needs. Questions still exist for 4.8 builds. One important one is that 4.8 is the default for RHEL 7, and default configurations on RHEL are currently important to Xyce. If SEMS deploys compilers more widely, this importance will decrease. Hope to discuss timeline for that later today.

[2017-06-20 15:59] brian-kelley commented on #560
Sorry @bmpersc I put the wrong issue number in my commit message - I actually fixed #460.

[2017-06-20 16:41] kruger commented on #1208
Attached are various log files.  test.sh.txt is the one that shows all of the tests failing.  There are a lot of them.  The compiler is gcc 5.4.0.  Is there a reason that it would do a long double on power architecture different than Intel?  Is there  a way of checking from a trilinos build?

[test.sh.txt](https://github.com/trilinos/Trilinos/files/1088932/test.sh.txt)
[TeuchosCore_TypeConversions

[2017-06-20 16:44] bmpersc commented on #1433
It looks like there was a change to one of the cmake files to change one of the directories where files are installed due to a change in internal paths. The change was to remove a no longer existing path, but the new path was not added back in. I am currently testing a fix for this and if it works I will add the patch here since this probably won't make it back into Trilinos before the end of the

[2017-06-20 17:21] kvmkrao commented on #1412
**CC:** @wfspotz
I modified the do-config file and reinstallled Trilnos with Kokkos(cuda)
The modifications are as follows:
module load gcc/4.9.2
module load openmpi
module load cuda/8.0
export NVCC_WRAPPER_DEFAULT_COMPILER=/opt/gnu/gcc/bin/g++
export OMPI_CXX=/oasis/scratch/comet/vkotteda/temp_project/Software/trilinos_3rd/openmpi/trilinos/src12p10/packages/kokkos/config/nvcc_wrapper
export CUDA_

[2017-06-20 17:29] dridzal commented on #460
@aprokop @brian-kelley   I need to solve a fully coupled thermal-fluids problem in 3D.  The @trilinos/rol team have a 2D implementation right now in the rol/examples/PDE-OPT/thermal-fluid directory.  We'll have the 3D implementation done in a few weeks.  However, aren't there Matrix Market examples that you could try?  Something like

http://math.nist.gov/MatrixMarket/data/SPARSKIT/fidap/fidapm37.

[2017-06-20 17:40] aprokop commented on #460
We have support in MueLu for reading in the MatrixMarket and running multigrid hierarchy with it. This way we could use a single level multigrid preconditioner with a describe Ifpack2 smoother for it. @brian-kelley What do you think?

[2017-06-20 17:43] mhoemmen commented on #1412
What version of Trilinos is this?  Try the master branch.

[2017-06-20 17:46] dridzal commented on #460
Another great test may be a matrix resulting from a frequency-domain edge-element discretization of Maxwell's equation.  The @trilinos/rol team will be able to provide a test matrix in the next month or so.  It is possible that @csiefer2 already has such an example.

[2017-06-20 18:08] mhoemmen commented on #1208
@kruger IBM historically implemented 128-bit (hex) floating-point arithmetic (System/370).  POWER9 will have hardware 128-bit floating-point support.  Thus, it's not surprising that the compiler does something different on POWER.

[2017-06-20 18:08] mhoemmen commented on #1208
so what's going on here?  do we just need to fix the `long double` tests or what?

[2017-06-20 18:15] brian-kelley commented on #460
@aprokop Yes, I could do that.

[2017-06-20 18:17] ndellingwood commented on #1108
@tgvoskuilen I tested PR #1436 (includes fix suggested by @hkthorn ) with the matrices provided. With my driver code and the provided matrices it passed on a system with 16-core Haswell nodes, specifically the case with 12 mpi processes. However, I was not able to replicate the issue with the Trilinos develop branch without the PR fix. The PR has been accepted and merged into the develop branch; t

[2017-06-20 18:20] ndellingwood commented on #1108
This issue should stay open until nightly tests with umfpack are added, issue #1255
@trilinos/framework @jwillenbring @srajama1

[2017-06-20 19:23] bmpersc commented on #1433
[0001-STK-Fix-Trilinos-build-install-issue.patch.txt](https://github.com/trilinos/Trilinos/files/1089415/0001-STK-Fix-Trilinos-build-install-issue.patch.txt)
Here is the patch that should fix this. I will work to get this applied to the places it needs to be. In the mean time if you apply this to your copy of Trilinos you should be able to do your regular configure/build/install process. Note that

[2017-06-20 19:49] kvmkrao commented on #1412
It is **12.10** (*** Base Git Repo: Trilinos 545269e [Mon Jun 19 16:49:55 2017 -0600] <kyukim@sandia.gov> Intrepid2 - check point inclusion )

I also used **12.08** version (*** Base Git Repo: Trilinos d2e490d [Mon Sep 26 18:05:28 2016 -0700] <amota@sandia.gov> Intrepid2: Fix dimension in return value for equality constraint.)  and got the same errors.
I am building now with master branch.
Thank y

[2017-06-20 20:09] brian-kelley commented on #460
I have a simple problem being set up with fidapm37.mtx from the link above. 9152 rows, 765944 nonzeros. Here are the mem stats from just the additive schwarz inner preconditioner compute(). This is with the same parameter list from above - overlap=1.

| Processes aka subdomains | Per process (MB) | Total (MB) |
|--------|--------|--------:|
| 1 | 9.36 | 9.36 |
| 2 | 4.16 | 8.32 |
| 4 | 1.89 | 7.56

[2017-06-20 20:09] #460 closed

[2017-06-20 20:15] bartlettroscoe commented on #1208
@mhoemmen ,

The full list of failing Teuchos and Belos tests that failed shown in the file ??? is:

[code]

Is it likely that `long double` has has anything to do with the failing Belos tests?

If not, then it is likely not worthwhile to track down the failing Teuchos tests at this point.

[2017-06-20 20:40] mhoemmen commented on #460
@brian-kelley Is there a way we could make this a test that runs nightly?  Not saying you _should_ necessarily, just wondering if it's possible.

[2017-06-20 20:41] mhoemmen commented on #1208
@bartlettroscoe wrote:

No.

[2017-06-20 20:43] dridzal commented on #460
Great, this is going in the right direction -- thanks for following up.  I think that for more complex problems, the savings would be even greater.  I hope to provide a few examples soon.  Two quick questions: 1) Are the subdomain solves and the serial solve all using the same permutation strategy for the factorization?  2) Do the numbers change significantly with overlap=0?
As a side note, when I

[2017-06-20 20:47] jrood-nrel commented on #1433
Thanks @bmpersc . I can probably wait until this makes its way into the develop branch.

[2017-06-20 20:47] brian-kelley commented on #460
@mhoemmen It would be tricky because that matrix file is 24 MB. That is the ascii matrix market format though, so there's definitely potential for storing it more efficiently in some binary format...

[2017-06-20 20:55] brian-kelley commented on #460
@dridzal
1: Yes, because I had reordering completely off. I'll see what happens if I turn it on - then it's always RCM reordering by default I think.
2: The way I had it configured, setting overlap=0 doesn't seem to have changed memory at all...
3: Yes, that was this issue and it's fixed now.

[2017-06-20 21:08] bartlettroscoe commented on #1208
Then that likely means that we still have a problem with calling LAPACK routines, even with CLAPACK being used.

I talked with @kruger about this last week.  Given this latter experiment with CLAPACK and the desire to keep using GCC on that platform, that has exhausted the options mentioned [above](https://github.com/trilinos/Trilinos/issues/1208#issuecomment-303277221) other than "Have someone di

[2017-06-20 21:45] bartlettroscoe commented on #866
@wfspotz, I will contact you offline to discuss the issue.

[2017-06-20 23:04] kvmkrao commented on #1412
I checkout the master branch and used that to build Trilinos. I got the same errors.

_/oasis/scratch/comet/vkotteda/temp_project/Software/trilinos_3rd/openmpi/trilinos/install/include/Cuda/Kokkos_CudaExec.hpp(287): error: The closure type for a lambda ("lambda ->void") cannot be used in the template argument type of a global function template instantiation, unless the lambda is defined within a d

[2017-06-20 23:06] bartlettroscoe commented on #866
@wfspotz and I talked about the problem and I think I know what can be done to address the issue.  I will create a TriBITS issue for this and then look into a solution in the next couple of days.

There is another project at ORNL called Denovo that uses TriBITS and creates Python modules but they have never had a problem like this.  Thinking about why they have never had a problem is that they alw

[2017-06-20 23:15] bmpersc commented on #1421
I have moved this build to the specialized track per the discussion during the leaders meeting.

[2017-06-21 00:01] mhoemmen commented on #1412
Use CUDA 8.0 or add the flag to your CUDA 7.5 build that enables lambdas.

[2017-06-21 04:03] milyas7 commented on #1437
@mhoemmen yes, I was able to build and install Trilinos

[2017-06-21 14:30] bartlettroscoe commented on #1390
As was mentioned at the SART and Trilinos Leaders meetings yesterday, it would be good to ensure that the SEMS env's GCC 4.8.4 modules use the native GCC 4.8.4 compiler on COE RHEL 7 systems.  And as I mentioned above, the site:

* https://developers.redhat.com/blog/2014/06/26/rhel-7-is-for-developers/

seems to suggest that binaries build with that native GCC 4.8.4 compiler on RHEL 7 will run on

[2017-06-21 14:35] nmhamster commented on #1390
@bartlettroscoe - I don't think you can go from RHEL6 to RHEL7 because of lower libc versions. We have had some issues with this in the past building binaries to run across multiple test beds.

[2017-06-21 14:36] nmhamster commented on #1390
@bartlettroscoe - are you sure the RHEL Developer Packs for 6.X series don't have a GCC 4.8 you can install there? This would provide "supported" RedHat compilers for RHEL6 and then we also have SEMS.

[2017-06-21 14:42] ibaned commented on #1363
According to [this page](https://gcc.gnu.org/projects/cxx-status.html) and [this page](http://en.cppreference.com/w/cpp/compiler_support), GCC 4.8.4 should have all the pure-language-level C++11 features. There is one thing I know it is missing relative to GCC 4.9.0, and that is a correct implementation of `<regex>` (see [here](https://stackoverflow.com/questions/12530406/is-gcc-4-8-or-earlier-bug

[2017-06-21 14:47] bartlettroscoe commented on #1390
Darn, I did not read:

* https://developers.redhat.com/blog/2014/06/26/rhel-7-is-for-developers/

carefully enough.  What it really says is:

"In addition, you can use Developer Toolset 2.1 (DTS) to use essentially the same gcc 4.8 to compile on RHEL 6, and deploy on either RHEL 6 or 7.  Since DTS is not on RHEL 7 yet, this gives you a head start on RHEL 6 so you can code for RHEL 7 even before yo

[2017-06-21 14:59] bartlettroscoe commented on #1421
I did not get spammed with emails from this build today.  Looking at CDash today:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&display=project&date=2017-06-21

you can see that the `Linux-GCC-4.7.2-RELEASE_DEV_MueLu_Matlab` build is now appearing in the "Specialized" dashboard.  The commit that would have been assumed to make this change was e40c04a:

[code]

(But it did not get

[2017-06-21 14:59] #1421 closed

[2017-06-21 15:03] bartlettroscoe commented on #866
FYI: This will be addressed in the coming days tracked in TriBITSPub/TriBITS#198.

[2017-06-21 15:21] jhux commented on #460
Please remove me from this email distribution list

From: brian-kelley [mailto:notifications@github.com]
Sent: Friday, June 16, 2017 3:24 PM
To: trilinos/Trilinos <Trilinos@noreply.github.com>
Cc: Hux, Joshua R <joshua.hux@cgi.com>; Mention <mention@noreply.github.com>
Subject: Re: [trilinos/Trilinos] problem with Ifpack2::AdditiveSchwarz and sparse direct subdomain solves (#460)

Alright, so I di

[2017-06-21 15:38] lucbv opened #1444 "MueLu: Wrong instantiation of demoFactory in ETI system"
@jhux2 @aprokop
This issue is relate to commit 8250ce5 where the demoFactory, the idea is to remove this factory class from the LO_GO_NO instantiation group to only have it in the SC_LO_GO_NO group. This should hopefully stop the rebuilding of that factory on every compilation of MueLu.

[2017-06-21 15:46] mhoemmen commented on #460
I just removed the @ - mention that mentioned your name.  You can unsubscribe from individual issues if you like.  If you don't know how to do this, we'll be happy to point you to resources.

[2017-06-21 15:47] mhoemmen commented on #460
@brian-kelley wrote:

Can @dridzal write us a test that generates the matrix on the fly?  He should have an interest in a performance regression test.

[2017-06-21 15:48] mhoemmen commented on #460
I've heard other folks complain about RCM not working....

[2017-06-21 15:52] mhoemmen commented on #1363
GCC 4.8.4 + CUDA 7.5 works fine for me with Tpetra.  I don't see any of the lambda capture bugs that I see in GCC 4.7.2 (that I can work around by explicitly listing all variables that I want to capture).

[2017-06-21 15:52] mhoemmen commented on #1437
@milyas7 Could you clarify the statement "trilinos failed tests are fundamental and have to pass... before I can move forward"?

[2017-06-21 16:16] jwillenbring opened #1445 "Re-enable GCC 4.8 testing on nightly track"
@trilinos/framework

At the framework standup today, Brent offered to re-enable the GCC 4.8 tests in anticipation of potentially increasing the minimum required Trilinos GCC version from 4.7.2 to GCC 4.8.4. If that decision is finalized, we will increase the continuous testing on SADL to support 4.8.4 instead also.

[2017-06-21 17:21] bmpersc commented on #1392
SEACAS was updated in Trilinos on June 15th and there have been no reports of this issue coming back since then so I am closing.

[2017-06-21 17:21] #1392 closed

[2017-06-21 17:57] lucbv commented on #1444
The following commit bd95c74 should have fixed the ETI, I have a new factory to push in MueLu so I'll wait until then to confirm that the fix work before closing the issue

[2017-06-21 18:07] aprokop commented on #1444
OK, so that issues was not about DemoFactory being problematic for ETI, but rather that it was erroneously put in a second, wrong ETI list?

[2017-06-21 19:23] kvmkrao commented on #1412
**CC** : @wfspotz @mhoemmen
I loaded cuda/8.0 module and set the cxx flags as per your suggestion to build Trilinos.
[](https://github.com/kokkos/kokkos/issues/343).

I installed it without an error and used the same cxx flags to compile the examples. There were no errors. Therefore, I submitted the job on the machine and hope that it will run without an error.
Thank you.

[2017-06-21 19:37] lucbv commented on #1444
Yes it was wrongly put in both ETI lists

[2017-06-21 19:37] mhoemmen commented on #1412
@kvmkrao Excellent.  Thank you for reporting this.

[2017-06-21 19:37] #1412 closed

[2017-06-21 19:44] mhoemmen opened #1446 "MueLu: GCC 7.1 warning"
@trilinos/muelu
Reported by @khpierson .

[code]

[2017-06-21 19:50] aprokop commented on #1446
Easy to fix, but do we assume that MueLu compiles with `-Werror`?

[2017-06-21 20:40] pwxy commented on #1367
@mhoemmen would you have a chance to explain which Add() or add() I should be using?  Thanks!

[2017-06-21 20:41] tawiesn commented on #1446
Things like that were usually catched by muir on the dashboard. Seems that this test machine is gone?

[2017-06-21 20:49] tawiesn commented on #1446
@mhoemmen @khpierson Which Trilinos version are you using? In the current develop branch all these warnings seem already be fixed.

[2017-06-21 21:50] dridzal commented on #460
I will provide a challenging test in the next week or so.  The test will generate the matrix on the fly, and it will be possible to vary its size by changing the input mesh.  I'll just need some help from you with accessing the performance statistics (memory use).  The test will be hosted in ROL, in a rol/example/PDE-OPT subdirectory.

[2017-06-22 03:52] milyas7 commented on #1437
These have to pass for me :)
[code]

[2017-06-22 13:00] bartlettroscoe opened #1449 "Teko build failure in CI build starting 6/22/2017"
**CC:** @trilinos/framework, @trilinos/teko

**Description:**

There is a new Teko build failure in the standard CI build `Linux-GCC-4.9.3-MPI_RELEASE_DEBUG_SHARED_PT_CI` that showed up this morning in the first CI build:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2961386

Looking at the build failure details at:

* https://testing.sandia.gov/cdash/viewBuildError.php?b

[2017-06-22 13:02] bartlettroscoe commented on #1449
This is a race condition that only occurs infrequently so it is doubtful that people running the checkin-test-sems.sh script will get caught by this.  However, this is trivial to fix so I will just fix it.  Since this only affects Teko tests, I only need to test Teko and not downstream packages.  But I will test building from scratch to ensure the files are getting copied correctly.

I will fix th

[2017-06-22 13:29] bartlettroscoe commented on #1449
I pushed the commit 0b1444555 that should fix this.  I will put into review and wait until the next CI iteration runs to confirm all is working then close.

[2017-06-22 13:36] bartlettroscoe commented on #1449
What is interesting about this is that this is a failure you would never see in a rebuild where these files have not changed.  You only see a failure like this when doing a build from a fresh from an empty build dir.

I suppose we could extend `TRIBITS_COPY_FILES_TO_BINARY_DIR()` to look for mistakes like this.  It would add complexity to the code and make it more expensive but the information nee

[2017-06-22 13:56] bartlettroscoe commented on #1304
FYI: There was a build CI failure in Teko this morning addressed in #1449.  This has already been resolved and should not block anyone's pushes using `checkin-test-sems.sh --do-all --push`.

NOTE: I set up my own CDash account on testing.sandia.gov/cdash/ and signed up to get all emails from all CDash builds.  I then created an Outlooks email filter to send all of those emails to a folder except f

[2017-06-22 14:09] brian-kelley commented on #460
@dridzal Measuring memory (linux/mac - I don't know about win32 or cygwin):
[code]
and then
[code]
to get the total currently allocated bytes. I measured this at the beginning and end of the sections and then took the difference.

[2017-06-22 14:34] mhoemmen opened #1450 "Tpetra: How to control memory allocation for Tpetra objects?"
@trilinos/tpetra

Here is the original message posted to `trilinos-users`:

Could you clarify "selected objects only"?  Could this be a compile-time decision (e.g., supplying a different template parameter for the Kokkos memory space), or must it be a run-time decision?

If the former, then one could do this by adding a new Kokkos memory space that allocates on the SSD.  Kokkos already has allocat

[2017-06-22 15:23] bmpersc commented on #1445
I have added a GCC 4.8.4 build that will go to the experimental track for now. Once we've shown that it is working we can move it to nightly, or which ever track is appropriate.

[2017-06-22 16:36] brian-kelley commented on #460
@dridzal I wanted to run one more test to get the full picture. Total memory for AdditiveSchwarz::compute() (MB):
| Processes/subdomains | RCM, overlap 0 | RCM, overlap 1 | no reorder, overlap 0 | no reorder, overlap 1 |
|--------|--------|--------|---------|---------:|
| 1 | 8.71 | 8.71 | 7.70 | 7.70 |
| 2 | 11.69 | 14.29 | 11.62 | 14.30 |
| 4 | 12.36 | 10.16 | 12.34 | 10.17 |
| 8 | 7.75 | 27.70

[2017-06-22 16:41] bartgol opened #1452 "Phalanx::MDField::dimensions to use fieldTag data layout rather than underlying view"
I was wondering if there is any reason for MDField to inspect the underlying Kokkos View rather than the stored data layout in order to properly fill the dimension vector, when the 'dimensions' method is called.

The reason (for me) to prefer using the data layout is that it is available at any time (unless one used the default constructor), and yields the expected result, while the current implem

[2017-06-22 17:42] srajama1 commented on #460
@brian-kelley : If memory is the important thing, RCM is not great ordering for direct solvers. Depending on which solver you use in Trilinos, you should let its native ordering take over.

[2017-06-22 18:16] rizwanashraf commented on #1450
It is supposed to be a compile-time decision. Thus, according to your suggestion, adding a new Kokkos memory space may be the way to go forward on this.

Thanks!

[2017-06-22 20:28] mhoemmen commented on #1450
@rizwanashraf wrote:

Yes.  The main challenge after that is interoperability of these special Tpetra objects with regular non-SSD Tpetra objects, and downstream solvers (that use Tpetra objects).  Tpetra objects already have methods like `clone` and `deep_copy` for conversion between different memory spaces.  You may have to do some work there.

The "right" approach might be to use `Kokkos::DualV

[2017-06-22 20:29] mhoemmen commented on #1450
In short, the amount of work depends on what solvers you would like to use, whether the SSD is coherent with main memory on your system, what performance you expect, and how much work you would like to do ;-) .

[2017-06-22 20:35] mhoemmen commented on #1437
@milyas7 Those are not failed tests.  CMake is just saying that the build environment does not implement that feature.  I find the word "Failed" excessively dramatic and misleading here, but that's what CMake says.

Thank you for reporting.  Please feel free to post new issues if you have trouble in the future.

[2017-06-22 20:35] #1437 closed

[2017-06-22 20:36] mhoemmen commented on #1446
@tawiesn wrote:

A super old version ;-) Thanks for letting us know!

[2017-06-22 20:40] mhoemmen commented on #1367
@pwxy Use `Add()` (capital A) for now.

[2017-06-22 22:59] bartlettroscoe commented on #1363
I ran the full standard CI build with the SEMS GCC 4.8.4 stack:

[code]
on RHEL 6 and it passed.  (Results below).

Given that it looks like there are still some platforms and customers that require GCC 4.8.4 and it is reported above that GCC 4.8.4 should have all of the C++11 language features, I think we should make GCC 4.8.4 the minimum required GCC version for Trilinos C++11 support and change

[2017-06-23 00:11] bartlettroscoe commented on #1363
The branch that makes this change is:

* https://github.com/bartlettroscoe/Trilinos/tree/switch-to-gcc-4.8.4-1363

We just need to merge (or rebase) that branch to 'develop' and push and update the GitHub wiki pages that mention GCC 4.9.3.

Should we pull the trigger?

[2017-06-23 00:48] bartlettroscoe commented on #1341
It seems another benefit to changing the minimum GCC version and the GCC version for the default CI build from GCC 4.9.3 to 4.8.4 (see https://github.com/trilinos/Trilinos/issues/1363#issuecomment-310525233) is that it also looks to eliminate all of these warnings!

I am even more eager to make the change from GCC 4.9.3 back to GCC 4.8.4 based on this finding.

[2017-06-23 12:56] bartlettroscoe commented on #1449
The Teko build and all of its tests passed from a fresh rebuild this morning as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2963408

That shows that the right test files are being copied over after my change in 0b14445.

Closing as complete.

[2017-06-23 12:56] #1449 closed

[2017-06-23 13:12] bartlettroscoe commented on #1407
This was fixed a few days after this was put up.  It was due to a change in the HTTP to HTTPS mapping.  Closing as complete.

[2017-06-23 13:12] #1407 closed

[2017-06-23 13:38] bartlettroscoe opened #1453 "Change standard pre-push and post-push CI build from GCC 4.9.3 to 4.8.4"
**Related Issues:** #1341, #1363, #1390, #482

**CC:** @trilinos/framework

**Description:**

This story is to downgrade the standard CI build of Trilinos from GCC 4.9.3 to GCC 4.8.4.  The reasons for doing this are numerous:

1)	There are still platforms where GCC 4.9.3 is not available but GCC 4.8.4 is present that need C++11 builds of Trilinos (see #1363). (Therefore, we need to protect the GCC

[2017-06-23 14:11] bartlettroscoe commented on #1453
I send out the following email announcing this.

----

From: Bartlett, Roscoe A
Sent: Friday, June 23, 2017 10:10 AM
To: Trilinos Developers List <trilinos-developers@trilinos.org>
Cc: trilinos-framework@software.sandia.gov
Subject: Switching standard pre-push and post-push CI build from GCC 4.9.3 to 4.8.4

Hello Trilinos Developers,

It looks like we will be switching the standard pre-push and po

[2017-06-23 15:29] ibaned commented on #1303
I was reminded by a Trilinos user yesterday how annoying these warnings are.

[2017-06-23 16:19] dalg24 opened #1454 "Tpetra: Compile error when trying to communicate data from Kokkos::View using Tpetra::Distributor"
[code]

[2017-06-23 16:23] aprokop commented on #1454
@trilinos/tpetra @trilinos/teuchos

A bit more description of the problem: one would expect that `doPostsAndRecevies()` work with Kokkos Views. However, that is not true, and they seem to work only with `Teuchos::ArrayView`. The problem seems to be that at some point, Teuchos tries to call `isend(const Teuchos::ArrayRCP<const type>& ...)`, but instead gets `Teuchos::ArrayRCP<type>&` which causes c

[2017-06-23 16:32] aprokop commented on #1454
One more comment: changing
[code]
does not solve the issue, as it breaks in a different way (I think after `isend`).

However, running with `Teuchos::ArrayView<const int> exports;` works. So there may be multiple things wrong here.

[2017-06-23 18:44] CamelliaDPG opened #1455 "Tpetra::MultiVector::Dot() slower than Epetra for short vectors, faster for long vectors"
The driver pasted below allows CLI arguments to control the length of two vectors that are dotted together, as well as the number of such dot products that should be done.  It does this with both `Tpetra::MultiVector` and `Epetra_Vector` objects, with a serial distribution, and reports the cumulative time for each of Epetra and Tpetra.  Here are the timing results from a run on a shared Intel Xeon

[2017-06-23 18:44] CamelliaDPG commented on #1455
@trilinos/tpetra

[2017-06-23 18:52] ibaned commented on #1427
For what its worth, I never specify `Trilinos_ENABLE_OpenMP`, instead I just add `-fopenmp` to the `CMAKE_C_FLAGS` and `CMAKE_CXX_FLAGS` explicitly. I guess thats also more reliable considering CMake's mistake.

[2017-06-23 19:27] mhoemmen commented on #1455
Could you try the Tpetra::Vector::dot function (that returns the value) and see if you get the same performance results? thanks!

[2017-06-23 19:47] mhoemmen commented on #1454
@dalg24 Could you clarify what it is you want to do?  That could help us find a work-around for you until we can fix this.  Thanks!

[2017-06-23 19:53] CamelliaDPG commented on #1455
Sure!  Here are the results with `Tpetra::Vector::dot`.

numDots | globalRowCount | Epetra | Tpetra | Slowdown
--------- | -----------------| -------| --------| --------
1000000 | 50 | 0.35 | 9.13 | 26x
100000 | 500 | 0.14 | 2.81 | 20x
10000 | 5000 | 0.05 | 2.25 | 45x
1000 | 50000 | 0.06 | 2.20 | 37x
100 | 500000 | 0.07 | 2.14 | 31x
10 | 5000000 | 0.14 | 2.22 | 16x
1 | 50000000 | 0.14 | 2.25 | 16x

[2017-06-23 20:10] dalg24 commented on #1454
I am trying to use `Tpetra::Distributor` to communicate the data from and to a `Kokkos::View` on the device.

My current workaround is to create mirror views on the host, copy the data, and build a `Teuchos::ArrayView`.
[code]

[2017-06-23 23:32] mhoemmen commented on #1454
@dalg24 wrote:

Why not just use a Tpetra::Vector or Tpetra::MultiVector, with Tpetra::Import or Tpetra::Export?  Why do you need to work with Distributor directly?

[2017-06-23 23:32] mhoemmen commented on #1455
@CamelliaDPG Could you post compiler and build options?

[2017-06-23 23:37] aprokop commented on #1454
@mhoemmen Because the data is a custom serialized data and Tpetra::MultiVector sounds like an overkill.

[2017-06-23 23:39] CamelliaDPG commented on #1455
@mhoemmen Here's my do-configure script.  It looks like the particular build I was using for the timings was from 5/16, probably the develop branch.

[code]

[2017-06-23 23:53] jjellio commented on #1455
@mhoemmen I can test this against the performance build I have on Cori.

[2017-06-24 03:09] srajama1 commented on #1427
@bartlettroscoe Does it have to be FIND_PACKAGE(OpenMP) ? Can we do -fopenmp for older CMake compilers. Of course I can module load cmake. However, we will have to repeat this explanation multiple times to users. If there is an easy fix in TriBITS, let us do it.

[2017-06-24 03:45] bartlettroscoe commented on #1427
@srajama1,

We get in trouble when we change the behavior of raw CMake features (if we choose to use them).  In fact, I have been criticized many times for cases where TriBITS deviates from raw CMake behavior.

Anyway, I did not write any of the CMake code that added OpenMP support (I don't think I was even consulted on it).  The history of who did is seen in the original Trilinos git repo  (i.e.

[2017-06-24 18:16] pwxy commented on #1363
As I mentioned in previous comments, if I am the final user that prevents switching the minimum gcc version from 4.7.2 to 4.9.3, then please make 4.9.3 the default.  No point having developers expend effort to maintain backward compatibilty with gnu 4.7.2.

bgclang++11 (clang 3.9) on sequoia compiles develop Trilinos without issue.  By forcing lots of inlining (and long compile times and a accepti

[2017-06-25 22:02] mhoemmen commented on #1455
@CamelliaDPG You've set `Trilinos_ENABLE_DEBUG:BOOL=ON`; this will do a ton of extra debug checks that will definitely slow down Tpetra.  For example, see lines 1732-1470 of Tpetra_MultiVector_def.hpp:
[code]
Please test a release build with `Trilinos_ENABLE_DEBUG:BOOL=OFF`.  I also recommend testing with Intel 17, since we know that this does a better job of inlining through Kokkos::View::operato

[2017-06-25 22:09] mhoemmen commented on #1363
@pwxy My experience is that GCC 4.7.2 is broken in ways that make using Kokkos harder, while GCC 4.8.4 doesn't have these issues.

[2017-06-25 22:16] mhoemmen commented on #1454
@aprokop wrote:

That's fair.  It looks like a harmless change to me.  On the other hand, we _do_ have an `Teuchos::isend` overloaded for `Kokkos::View`:

https://github.com/trilinos/Trilinos/blob/develop/packages/teuchos/kokkoscomm/src/Kokkos_TeuchosCommAdapters.hpp

though it looks like the current implementation has the same cv-qualifier issue as the code your patch fixes.  Perhaps we should fi

[2017-06-25 22:17] mhoemmen commented on #1454
Let's do test-driven development.  @dalg24 or @aprokop , could you please send me a stand-alone unit test?  Once I get that, I'll implement the above proposed fix.  Thanks! :-D

[2017-06-25 22:18] mhoemmen commented on #1454
Also, @dalg24 , it would help for planning purposes to know the customer / application.  If you would prefer to send that over e-mail, please feel free.  Thanks!

[2017-06-26 03:56] jjellio commented on #1455
Cori has been down off and on for a few days (dedicated runs, upgrades, etc..)

My build is KNL, with the default execution space set to OpenMP. Also, I linked against MKL v17 which is also threaded. The compiler here is Intel 17, used under Cray's environment (static linkage, etc...)

My Trilinos source was pulled around June 9th I believe, but that could be wrong.

Because of the above, I config

[2017-06-26 12:05] jwillenbring commented on #1445
The build @bmpersc added is clean:

[https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2967557](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2967557)

We should promote it to at least nightly, maybe clean since there is serious talk about having 4.8.4 as the minimum compiler version. We could always move it or remove the build later.

[2017-06-26 12:41] pwxy commented on #1363
I agree; unless others need 4.7.2, we should ditch it.

[2017-06-26 14:51] jwillenbring commented on #1390
I spoke with @dmvigi and we have a tentative plan that sounds workable on a reasonable timeline for the Xyce team. This still needs to be communicated to the Xyce team, but there is a decent chance this may work. It involves an initial prototype deployment c++ compliant compilers for RHEL 6, and leveraging the 4.8 compilers native to RHEL 7. We can report back after that meeting.

[2017-06-26 14:53] #1446 closed

[2017-06-26 14:55] jwillenbring commented on #1363
I spoke with @pwxy this morning. I need to clear with @maherou yet, but it appears we can move to 4.8.4 as the minimum supported compiler version. There are several reasons to stick with 4.8.4 for the time being.

1) It simplifies moving beyond the C++98 standard for Xyce support, as described in #1390.
2) Several important platforms have a max compiler of 4.8.4. This impacts customers both intern

[2017-06-26 15:03] bartlettroscoe commented on #1453
Okay, given the comments from @jwillenbring this morning in  https://github.com/trilinos/Trilinos/issues/1363#issuecomment-311083977 and https://github.com/trilinos/Trilinos/issues/1390#issuecomment-311082560 and since no one has expressed a concern about this, I will go ahead and pull the trigger on this.  I will use the checkin-test-sems.sh script to test and push with GCC 4.8.4 enabling all pac

[2017-06-26 15:46] bmpersc commented on #1445
Per the standup discussion I have updated the 4.8.4 build to report to the clean track. I will close this ticket once I have confirmed that it is submitting to the clean track properly.

[2017-06-26 16:40] jwillenbring opened #1457 "Set up new continuous builds"
@trilinos/framework

In alignment with the discussion at the Framework Standup this morning, we need to set up 2 new continuous builds on the newer build farm - one to support GCC 4.8.4, the other to support GCC 4.9.3.

[2017-06-26 16:51] bartlettroscoe commented on #1363
I am in the process of pushing a commit to change from GCC 4.9.3 to 4.8.4 for the standard CI build (see #1453).  Also, I am archiving Jim's email below.

----

From: Trilinos-developers [mailto:trilinos-developers-bounces@trilinos.org] On Behalf Of Willenbring, James M
Sent: Monday, June 26, 2017 12:38 PM
To: trilinos-users@trilinos.org; trilinos-announce@trilinos.org; Trilinos Developers List <t

[2017-06-26 17:00] jwillenbring commented on #1363
In support of upgrading the minimum compiler version, the @trilinos/framework is setting up 2 new continuous builds to cover the most important GCC compiler versions: 4.8.4 (minimum) and 4.9.3 (target for some customers). That activity will be tracked here: #1457.

In addition, we are adding a 4.8.4 clean build (see #1445).

I believe that as described, this ticket can now be closed. Other related

[2017-06-26 17:00] #1363 closed

[2017-06-26 17:08] CamelliaDPG commented on #1455
@mhoemmen Ah, sorry about that!  I must have changed to debug a while back—since I have this in a build directory called "release", it didn't occur to me that I might be running a debug build.  I am now rebuilding (with gcc-6 to start) and will redo the tests after that.  (FWIW, I started down this road due to some profiling results which used a non-debug build of Trilinos—on those runs, the vecto

[2017-06-26 17:09] CamelliaDPG commented on #1455
@mhoemmen @jjellio Thanks for looking at this!

[2017-06-26 17:16] jhux2 commented on #1455
@CamelliaDPG Fwiw, this has bitten me more times than I care to admit.  I finally put a check in my base configure script that all my other scripts call to help catch such cases.

[code]

[2017-06-26 17:21] jhux2 commented on #1444
@lucbv Thanks for catching this!

[2017-06-26 20:15] mhoemmen commented on #1455
Thanks @jjellio ! :-D

@jjellio wrote:

Yes; Tpetra uses `KokkosBlas::dot`.

This is likely OpenMP kernel launch overhead.  We could optimize by dispatching to the `Kokkos::Serial` specialization if the vectors are too short.

Epetra calls the BLAS for dot products, through the `Epetra_BLAS` interface.  `Teuchos::BLAS` was modeled after `Epetra_BLAS`.

If you look at the code in `Epetra_MultiVecto

[2017-06-26 20:16] mhoemmen commented on #1455
@jjellio wrote:

This would be a good way to exclude OpenMP kernel launch overhead.

[2017-06-26 20:33] jjellio commented on #1455
@mhoemmen Best thing to do is to change this to Serial, then run it under a profiler (maybe I can do that when I get out of report writing hell). The overhead of checking Kokkos view stuff could be relatively large at such small vector lengths.

[2017-06-26 21:02] bartlettroscoe commented on #1453
I pushed the commit making this change dea0bd1 :

[code]

We already see that the standard CI server has been updated at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2969172

What is cool is that the CI server automatically recovered on a rebuilt.  That must mean that ctest blows away the CMakeCache.txt and CMakeFiles/ directory when it runs.

Lately, I just need to upd

[2017-06-26 21:03] mhoemmen commented on #1455
@jjellio Maybe we need to get the Kokkos folks involved.  There could be a short loop count optimization that we could pass along to them.

[2017-06-26 21:39] nmhamster commented on #1455
@jjellio @mhoemmen  - have you thought about just calling a direct OpenMP implementation (like we do in SpMV) over a Kokkos implementation? Kokkos is optimized around larger parallel calls, the OpenMP can usually handle these better. Plus, I suspect this code is not vectorizing where direct OpenMP may well.

[2017-06-26 22:44] lucbv commented on #1444
This looks good on my latest pull/push cycle so I'll close this issue

[2017-06-26 22:44] #1444 closed

[2017-06-26 23:20] bartlettroscoe commented on #1453
I just pushed the commit:

[code]

to the Trilinos wiki repo.  I tested the links and they seem to work.

I am now putting this into review for a few days to see how it goes.

[2017-06-26 23:58] mhoemmen commented on #1455
@nmhamster This question may sound antagonistic: Are we supposed to assume that compilers can't vectorize through Kokkos::parallel_for? Also, how large is large here?  The crossover point was 50k rows; is that big by OpenMP standards?

[2017-06-27 04:42] dalg24 commented on #1454
[code]

This is for [DataTransferKit](https://github.com/ORNL-CEES/DataTransferKit).  I am implementing a distributed search tree.  I intended to use `Tetra::distributor` to forward queries to processes that own objects occupying some space or close to some point in space.

[2017-06-27 14:12] mhoemmen commented on #1454
@dalg24 Thanks!  If @aprokop feels like putting that in, he's welcome, otherwise I'll work on it (I may not get to it today).

[2017-06-27 14:43] bartlettroscoe commented on #1453
The CI build using GCC 4.8.4 started and is running smoothly this morning, as shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2970801&filtercount=3&showfilters=1&field1=groupname&compare1=61&value1=Continuous&field2=buildstarttime&compare2=84&value2=now&filtercombine=and

(and there were two incremental CI builds yesterday.)

The only reason to leave this in revie

[2017-06-27 14:50] bartlettroscoe commented on #1341
By switching from GCC 4.9.3 to GCC 4.8.4, we no longer see these warnings coming from the OpenMPI 1.6.5 headers.  You can see that the Teuchos build is clean of these OpenMPI warnings in the first CI build this morning using CC 4.8.4 at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2970801

(but still shows 3 warnings for yaml-cpp which we need to take care of next.)

Bu

[2017-06-27 14:50] #1341 closed

[2017-06-27 14:59] tawiesn commented on #1366
@csiefer2 I think most of the immanent performance problems are fixed (at least for the scalar case), right? Any new results?

[2017-06-27 15:00] bmpersc commented on #1393
I am seeing similar issues with a GCC 4.8.4 build. I am seeing the following tests failing intermittently: Anasazi_Epetra_ModalSolversTester_MPI_4
Anasazi_Epetra_OrthoManagerGenTester_0_MPI_4.

You can see the most recent Anasazi_Epetra_ModalSolversTester_MPI_4 test at:
https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2964014

You can see the most recent Anasazi_Epetra_OrthoManager

[2017-06-27 15:19] bartlettroscoe opened #1458 "Remove yaml-cpp warnings"
**CC:** @trilinos/framework, @trilinos/teuchos

**Description:**

The yaml-cpp headers generate some warnings when building with the standard CI build of Trilinos.  A current version of Trilinos (as of yesterday) with the SEMS GCC 4.8.4 shows 33 warnings total with 11 unique warnings as shown by:

[code]

These unique warnings are:

[code]

This story is to make these warnings go away.

[2017-06-27 15:21] bmpersc commented on #1445
The 4.8.4 build ran correctly on the clean build today. Unfortunately it was bit by an existing intermittent issue with Anasazi which had previously been reported in #1393. I added the failure information from 4.8.4 to that ticket as well. Since this is known intermittent I'm going to close this issue and we can address the Anasazi problem in another ticket.

[2017-06-27 15:22] #1445 closed

[2017-06-27 15:23] bmpersc commented on #1393
@hkthorn, would it make sense for us to disable these handful of tests for the clean builds while the real issue is investigated?

[2017-06-27 15:25] bartlettroscoe commented on #1458
Since we can't fix yaml-cpp, we need to just disable these warnings.  To achieve this, I will try adding `-DTrilinos_TPL_SYSTEM_INCLUDE_DIRS=TRUE` for the CI build of Trilinos as per:

* https://tribits.org/doc/TribitsBuildReference.html#disable-warnings-from-tpl-header-files

I am hesitant to make this the default for Trilinos because it breaks builds with other gfortran compilers with code that

[2017-06-27 15:26] bmpersc commented on #1433
There is currently a blocker getting this into Trilinos. I ran the integration and just as a sanity check tried to build Nalu against an install and it was unable to find some of the fixtures because it was directly using the old paths. I need to speak with the Nalu team about this before I just update.

[2017-06-27 15:30] brian-kelley commented on #1458
@bartlettroscoe Another solution (ugly, but with no side effects) could be:
[code]

[2017-06-27 15:42] csiefer2 commented on #1366
I didn't address the sort issue at all, but fixed other stuff in Phase-1 Uncoupled.

Perhaps a rerun of the scaling test would be in order...

[2017-06-27 15:43] nmhamster commented on #1433
@bmpersc - I hit this too but the NALU binary is actually built correctly, its the `unit_tests` build which fail. Can you check the binary is actually in the build directory (`naluX`)?

[2017-06-27 15:50] bmpersc commented on #1433
@nmhamster I do not have the Nalu executable in my build, but this was not the only issue I ran into. I also hit a linking issue due to a -Bstatic being in a bad place and causing the linker to want to link a Trilinos shared library as static, which it rightfully complained about. I didn't mention that before since it wasn't germane to this issue. In any event I don't really want to break one proj

[2017-06-27 15:50] bartlettroscoe commented on #1458
Every time I tried that with GCC it never works.

If it were not for the legacy gfortran issue, I would say that every TriBITS project should use `-D<Project>_TPL_SYSTEM_INCLUDE_DIRS=TRUE`

[2017-06-27 16:10] tawiesn commented on #1387
Fixed. See commit 1ccccecb22d3e1619da8a0513b3d0ed5f706a416

[2017-06-27 16:10] #1387 closed

[2017-06-27 16:13] jrood-nrel commented on #1433
@bmpersc At the moment with the current Trilinos develop branch, I have been seeing the Nalu binary build successfully, but the unit test binary is what fails to compile. We will have to change the STK header locations in the Nalu unit test files, but as long as the other Trilinos headers have accounted for the change in location of STK headers, that should be sufficient right? Is the patch file l

[2017-06-27 16:57] bartlettroscoe commented on #1390
From Mike G.:

My guess is that GCCC 4.8.2 that comes with DevTools 2.1 or GCC 4.9.2 that comes with DevTools 3.1 might be able to build Trilinos for the packagse needed by Xyce with C++11 enabled.

The idea would be that you would build binaries using a native GCC compiler installed from one of these RHEL 6 DevTools packs and then deploy the binaries to other RHEL 6 machines that don't have the D

[2017-06-27 19:16] jrood-nrel commented on #1433
@bmpersc Actually can you just get Nalu to use the shared libraries instead? I have a root-level CMakeLists.txt at https://github.com/jrood-nrel/Nalu/blob/cmake_reorg/CMakeLists.txt that should allow for this.

[2017-06-27 19:24] csiefer2 commented on #1399
Just fixed the PLI interface for A @ level 0 for @rstumin

[2017-06-27 19:55] jjellio commented on #1455
@mhoemmen This seems to be an issue with the layers between Tpetra::dot() and the actual dot kernel.  Serial or OpenMP is not important.  Vtune shows a substantial amount of time in the constructor for Tpetra::Vector().

The call tree looks like:
MV::dot() -> Tpetra::Vector (constructor) -> Tpetra::MV() (constructor) -> Tpetra::DistObject.  The bulk of the time is the in DistObject. DistObject the

[2017-06-27 20:03] mhoemmen commented on #1455
@jjellio That `Tpetra::Vector` constructor just makes a view of the first column.  It shouldn't be expensive.  If it is, that's bad, because it's just calling `Kokkos::subview` a couple times.

[2017-06-27 20:31] bmpersc commented on #1433
@jrood-nrel I am still having issues building Nalu with your CMakeLists.txt. And of course it is a different issue. I'm happy to work with you on getting the new shared build for Nalu working, but we should track that in a different ticket that this one. If you have a Nalu ticket for this please let me know which it is. I briefly looked at Nalu's issues and none of them jumped out at me.

[2017-06-27 20:40] jrood-nrel commented on #1433
@bmpersc I'm not worried about getting Nalu to build and use shared libraries as I have done it before. I was just trying to avoid having to patch and rebuild Trilinos and patch Nalu to test this. I will test the patch right now.

[2017-06-27 21:00] bartgol opened #1460 "[Tempus] IntegratorBasic::setInitialState to take RCP to const VectorBase"
I am  using Tempus as time integrator, and I have to go through a few loops to set the initial condition. In particular, since my initial condition is a const vector, I find myself choosing between making a copy of it (waste) or using a const_cast (which I try to avoid like the plague).

I was wondering if it was possible to have these method to take RCP's to const VectorBase vectores. After all,

[2017-06-27 21:04] bartgol commented on #1460
@ikalash I can't add labels cause I'm not part of the organization, so I'm tagging you (since I know you work on Tempus), and you can then add the proper labels so that this gets to the attention of the right people. Thanks!

[2017-06-27 21:08] mhoemmen commented on #1460
@bartgol I made a tempus team and added @ikalash to it.  I can't make @ikalash maintainer though; @trilinos/framework may have to do that.

[2017-06-27 21:11] mhoemmen commented on #1454
@dalg24 I've got a fix ready; just need to run the check-in tests.  btw, how many MPI processes does the test need?  I ran it with 4 processes, and the test passed (after I applied the fix).

[2017-06-27 22:01] jjellio commented on #1455
@mhoemmen The problem seems related to Tpetra::Map()'s copy constructor (or lack thereof). I could be missing something, but when getVector (or getVecNonConst) is called, this ends up with DistObject calling map_ (map).  Which I believe should be a map shallow copy, but map does not provide a copy constructor. Something isn't right with the default copy constructor for Map. This manifests as distO

[2017-06-27 22:16] mhoemmen commented on #1455
@jjellio wrote:

DistObject's `map_` field is an `RCP<const map_type>`.  The code `map_(map)` should just shallow-copy the RCP.

[2017-06-27 22:30] jrood-nrel commented on #1433
@bmpersc The patch works, and Nalu builds successfully when I update the header locations. I think the change should be merged in. Then I will update Nalu when that is done.

[2017-06-28 13:41] dalg24 commented on #1454
@aprokop @mhoemmen
Your patch did the trick.  Thank you!

[2017-06-28 14:27] #1454 closed

[2017-06-28 15:19] mhoemmen commented on #1454
@dalg24 Thanks for testing and for contributing the unit test!

[2017-06-28 15:19] mhoemmen commented on #1454
@aprokop Thanks for the proposed fix!

[2017-06-28 17:35] mperego opened #1462 "[Intrepid2] Add high-order L2 basis functions"
To complete the De Rham diagram for high order elements, we need to implement the basis functions for the L2 space (it's the range of the divergence operator, and possibly the curl operator in 2d) . Functions in L2 finite element space need not to be continuous. The degrees of freedom for the L2 bases are all internal and the bases generate complete polynomial spaces.
At the moment only the lowest

[2017-06-28 17:36] mperego commented on #1185
I think it makes sense. I'll look into that.

[2017-06-28 18:39] srajama1 opened #1463 "Tpetra and Kokkos default node types"
I am not able to find documentation on default node types. In particular, there is this question from an user for which I don't have a good answer to.

 Is there a reason why Tpetra doesn’t just use `Kokkos::DefaultExecutionSpace`?

@trilinos/tpetra

More info from the user..

Kokkos::Serial is available.
Kokkos::OpenMP is available. (Control num-threads via env-var OMP_NUM_THREADS)
Default execut

[2017-06-28 21:23] kruger commented on #1400
Could we have a call either tomorrow (Thursday, June 29) or Friday (June 30)?

[2017-06-28 21:45] bartlettroscoe commented on #1458
I pushed the commit f389f27 to github 'develop'.  I verified that none of these YAML warnings appeared in the checkin-test-sems.sh build of all of the PT packages in Trilinos:

[code]

However, the post-push CI build is still showing these warnings:

* https://testing.sandia.gov/cdash/viewBuildError.php?type=1&buildid=2972831

We even see the include dir for yaml-cpp being included with:

[code]

[2017-06-28 23:24] kvmkrao opened #1464 "Scaling problem with Tpetra: node of type Openmp"
**CC**: @wfspotz

I built Trilinos with MPI(intel openmpi) as well as Kokkos Openmp backend on stampede2. So, I got the Tpetra  node (#1463) is of type Openmp.

I wrote a small code to test the performance of Trilinos. In the code, I defined node_type  and passed that to make Tpetra Map, Tpetra sparse matrix, Tpetra multi vector,Tpetra operator and muelu::tpetra operator
`typedef KokkosClassic::De

[2017-06-28 23:57] aprokop commented on #1464
@trilinos/tpetra

First, your code has multiple identical chunks of code.
Second, the number of equations is not fixed according to this:
[code]

[2017-06-29 02:23] srajama1 commented on #1463
@kddevin @tjfulle

[2017-06-29 04:21] mhoemmen commented on #1463
Tpetra imitates Kokkos' default behavior for its defaults, but has its own settings.

Care to submit a pull request implementing the behavior that you would prefer?

[2017-06-29 04:22] mhoemmen commented on #1464
@kvmkrao wrote:

Just curious -- what is the value of `Tpetra::Map<>::device_type::execution_space`?

[2017-06-29 14:25] ibaned commented on #1458
Just FYI, I tried to actually fix this in `yaml-cpp` as jbeder/yaml-cpp#486 and jbeder/yaml-cpp#490. One was accepted and one was rejected because these warnings only show up with compilers that are old by the standards of most people outside Sandia.

I'm working on using TeuchosParser to replace `yaml-cpp`, which will also "fix" this.

[2017-06-29 14:53] kvmkrao commented on #1464
@aprokop
Thank you.

I fixed some of the identical/unnecessary statements in the code as per your suggestion. Please see the attachment.
I think, it is better compared to the last time. I compiled this code run some cases. The solver time with those cases for problem size (ndof) of 10M and 20M are as follows:

_export OMP_NUM_THREADS=$omp
mpirun -n $proc ./run.exe_

 case1: ndof=10M, np=4, omp=1

[2017-06-29 15:51] kvmkrao commented on #1464
@mhoemmen
Thank you

My do-config file contains
cmake .....
 -D Trilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON \
  -D Tpetra_INST_OPENMP:BOOL=ON \
 -D Trilinos_ENABLE_Kokkos:BOOL=ON \
 -D Kokkos_ENABLE_OpenMP:BOOL=ON \
     -D Tpetra_ENABLE_Experimental:BOOL=ON \
      -D MueLu_ENABLE_Experimental:BOOL=ON \
      -D Xpetra_ENABLE_Experimental:BOOL=ON \
      -D MueLu_ENABLE_Experimental:BOOL=ON \

[2017-06-29 17:08] mhoemmen commented on #1464
@kvmkrao wrote:

I'm curious -- where did you get this?  I grepped through all of Trilinos' source code for `EXECUTION_SPACE` and didn't find anything.

I think best practice is to set `Trilinos_ENABLE_OpenMP:BOOL=ON` and rely on the defaults.  OpenMP should be the default for everything downstream.

There is no `Tpetra_ENABLE_Experimental` option.  Did someone tell you to turn all those options o

[2017-06-29 17:11] mhoemmen commented on #1464
@kvmkrao Please execute this code and tell me what it prints:
[code]
You should see "OpenMP" somewhere in that string.  If you see something else, please let me know.  Thanks!

[2017-06-29 17:34] mhoemmen commented on #1455
@jjellio `map_ (map)` invokes the RCP copy constructor, not Map's copy constructor.  Map doesn't store a DualView.  If you see three or four DualViews getting created, then it's DistObject's constructor (that takes a Map).  We can fix this by avoiding the getVector() call.  I have a fix in progress (I'll open an issue to describe it).

[2017-06-29 21:06] kvmkrao commented on #1464
I'm curious -- where did you get this? I grepped through all of Trilinos' source code for _EXECUTION_SPACE_ and didn't find anything.

I found that in _packages/tpetra/kernels/CMakeLists.txt_. So, I kept those statements in do-config file. I might be interpreted wrongly.

I am sorry. I kept that statement in the config file. But, forgot to mention that in the issue. Sure, I will do that.  Thanks.

[2017-06-29 22:38] mhoemmen commented on #1464
Is this is a release of Trilinos?  tpetra/kernels got replaced with kokkos-kernels several months ago.

All you need to do is set `Trilinos_ENABLE_OpenMP:BOOL=ON`.  That's it.  Don't set anything else.  Then both Kokkos and Tpetra will use OpenMP by default.

Then don't enable them unless some developer tells you to enable them :-) .

Ah, that's good, thanks.

[2017-06-29 22:53] bmpersc commented on #1433
@jrood-nrel I just pushed an update to STK which will include this fix as well as the breakage to Nalu that was noted. If you notice any issues with this please let me know.

[2017-06-29 23:20] jjellio commented on #1464
You will see significant performance variability if you are not binding MPI processes to cores.
E.g., for openMPI
mpirun --map-by ppr:2:NUMA:pe=<num> -x OMP_NUM_THREADS=<num> -x OMP_PLACES=cores -x OMP_DISPLAY_ENV=verbose

You should also look at the output adding  --display-map or --report-bindings, OpenMP performance is absolutely awful if don't have proper binding.

Getting binding correct with

[2017-06-29 23:25] bartlettroscoe opened #1465 "Determine if Thyra is free of needing to keep C++98 support"
**CC:** @trilinos/thyra, @trilinos/framework

**Description:**

While working #1442 as part of #330, I realized that the only automated C++98 build for Trilinos is the build `Linux-GCC-4.4.7-MPI_OPT_DEV_XYCE` most recently shown at:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2937894

That build actually only enables a few packages set by:

[code]

In this build, they a

[2017-06-29 23:29] bartlettroscoe commented on #1465
I added this to the SART board to bring this up at the next SART meeting.  Note that if Thyra is free of C++98 support then so is Stratimikos and every piece of downstream code from Thyra.

If this is indeed true, then it makes dropping C++98 support from the rest of Trilinos (i.e. #1390) a little less urgent, at least from the ATDM perspective.

[2017-06-29 23:33] kvmkrao commented on #1464
@mhoemmen

It is 12.11 version. I think, this version includes the modified kernels.

Sure, I don't set/enable them unless I get a word from the developers(you).

Anyway, I am building Trilinos with the following options to get Tpetra:node type CUDA

I tried to set Trilinos_ENABLE_Cuda:BOOL=ON (like Trilinos_ENABLE_OpenMP:BOOL=ON). It did not work. Could you please let me know any option that I am

[2017-06-29 23:40] bartlettroscoe commented on #1390
As noted in the new issue #1465, it looks like Thyra is already free from needing to support C++98 (but need to ask to confirm that to be sure).

That means that the only packages needing to still support C++98 with CC 4.4.7 for Xyce are:

* NOX EpetraExt TrilinosCouplings Ifpack Isorropia AztecOO Belos Teuchos Amesos Sacado Zoltan Epetra Triutils

Of those, the ones being actively developed (e.g.

[2017-06-30 01:02] jhux2 commented on #1367
@brian-kelley has been working on a threaded kernel. Adding @csiefer2 to the discussion.

[2017-06-30 13:00] bartlettroscoe commented on #1458
Since I have not been able to make these warnings go away, I took this out of "in progress" and put this into the backlog again.

I guess the good news is that these warnings should be gone for developers when running raw `make` so that is better than nothing.

I need to get with Kitware to figure out why `-isystem` does not suppress warnings when using the "launchers" compile wrappers that are us

[2017-06-30 13:53] lucbv opened #1466 "[MueLu] Restrict communicator when a rank is empty and coarser levels are needed"
@trilinos/muelu
As discussed during the stand-up meeting, at the moment when a rank is empty it is considered to have reached its coarsest level and it hangs until the rest of the Hierarchy is being built. This means that any collective being called to build a coarser level will fail unless rebalancing is requested.
At the moment geometric coarsening is not able to use rebalancing as it could lead

[2017-06-30 15:44] lucbv opened #1467 "Inconsistent gcc version load by configure and load_sems_dev_env.sh"
@bartlettroscoe
I am having some issues this morning with the different compiler versions loaded by various trilinos script.
When I load the sems-environment with:
```source cmake/load_sems_dev_env.sh```
it sets the compiler to gcc-4.8.4
However after I run my configure script, in which I do not set the compiler since I rely on cmake to detect it, here is what my environment looks like:
[code]
Fin

[2017-06-30 16:01] tawiesn commented on #1466
@lucbv Just a note: yesterday i found a problem when calling `Epetra_Map::RemoveEmptyProcessors`. It seems that this routine calls `MPI_Comm_split` but the communicators are not freed properly. Could also be a problem in the Xpetra wrapper. Have not checked the Tpetra side.
You won't notice that immediately, but if communicators are not freed properly your program will crash after a while (if more

[2017-06-30 16:06] bartlettroscoe commented on #1467
@lucbv,

Can you try opening a fresh shell and trying again?  When you do `source Trilinos/cmake/load_sems_dev_env.sh`, it should blow away your current modules and load the new ones, which should be for GCC 4.8.4.

There is nothing that mentions loading a GCC 4.9.3 module left in the 'develop' branch for those scripts as shown by:

[code]

(But that is just a comment, not anything that would impa

[2017-06-30 16:12] bartlettroscoe commented on #330
The PR #1442 has been merged that implements this.  Putting this into review to see what happens with automated testing and see if any users have problems with this.

[2017-06-30 16:49] lucbv commented on #1467
Interestingly it is now back to normal and I don't get the annoying ```unable to find CXXABI_1.3.8``` while I run my tests. This happened for three build cycles on clean terminals...
If that happens again I'll let you know about it. In the meantime I think I could close this.

[2017-06-30 16:50] jhux2 commented on #1466
@tawiesn Good catch.  Do you have a fix available by any chance?

[2017-06-30 16:56] jhux2 opened #1468 "Improper python environment on test machine hansel"
@trilinos/framework There appears to be a problem with the python environment on the test machine ```hansel.sandia.gov```.   As a result, two ML tests are failing for the 12.10.1 release.  The symptom is

[code]

Errors can be found [here](https://testing.sandia.gov/cdash/testDetails.php?test=39699947&build=2975943) and [here](https://testing.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=297535

[2017-06-30 17:20] bartlettroscoe commented on #1467
@lucbv,

If that happens again I'll let you know about it. In the meantime I think I could close this.

If you have any other strange things like this happen, don't hesitate to let me know.

Closing as requested.

[2017-06-30 17:20] #1467 closed

[2017-06-30 17:44] aprokop commented on #1468
@trilinos/framework

[2017-06-30 19:52] mhoemmen commented on #1367
@jhux2 @brian-kelley Nice! :-D  btw is there a plan to consolidate the `add()` and `Add()` implementations?  It would be nicer if there were only one code to edit :)

[2017-06-30 19:54] jwillenbring commented on #1468
@william76 is this something you could look at?

[2017-06-30 19:55] brian-kelley commented on #1367
@mhoemmen Yes, @csiefer2 and I talked about doing that. I will probably write a single add() that covers all the use cases of the current functions, and then change the old ones to wrappers.

[2017-06-30 19:59] mhoemmen commented on #1367
@brian-kelley Thanks!

[2017-06-30 20:00] mhoemmen opened #1470 "Tpetra::MultiVector::dot: Reduce overhead for CUDA"
@trilinos/tpetra
@jjellio
See #1455 discussion.

[2017-06-30 20:03] mhoemmen commented on #1470
- Avoid `getVector()` and other calls that create a new DistObject instance.
  - Instead of `getVector()`, use the `DualView` and `whichVectors_` directly.
  - Think about how to optimize the case where the output array lives in host memory, but the input (multi)vectors do not.  This will be a common case for users who run Belos' iterative solvers.

[2017-06-30 22:13] bartlettroscoe commented on #330
After the push of the merged `nox-gpu` branch earlier today, it ran in the post-push CI build shown here:

* https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2976678

and it built with 0 warnings and the full CI build passed.

No we will see what happens in the other Nighty builds tonight and tomorrow.

[2017-06-30 22:17] kvmkrao commented on #1464
Thank you @jjellio

I tried to bind the MPI process to cores via the --map-by

The standard GMRES solver time for various nproc and threads are as follows:

I think, i am doing the binding properly for this case.

Thank you very much.

[2017-06-30 23:00] jhux2 opened #1471 "MueLu: output truncated after rebalancing and proc 0 drops out"
If MueLu is run in parallel with rebalancing enabled, and processor 0 is not in the MPI communicator after rebalancing, then no detailed setup output is printed.

This is reproducible on two processors with MueLu's scaling driver:

```mpirun -np 2 ./MueLu_Driver.exe  --matrixType=Laplace3D --xml=scaling.xml --nx=34 --ny=34 --nz=34 --rebuild=1 --solver=none --notimings```

where the rebalancing opt

[2017-06-30 23:41] bartlettroscoe opened #1472 "Document and add debug-mode runtime checks non-aliasing assumptions"
**CC:** @trilinos/thyra

**Description:**

During the refactoring work for Thyra in #330, it was discovered that Belos aliases some of the input and output arguments in calls the Thyra::linear_combination().  That complicated the refactoring done in #330.  The assumption in Thyra from the earliest days (when it was called TSFCore, see [TSFCoreSAND.pdf](https://github.com/trilinos/Trilinos/files/11

[2017-07-01 02:45] srajama1 commented on #1463
I am trying to understand the behavior for an user. If it will match Kokkos then let me request an example from the user. In his use case, he sees them different. I would rather leave the changing to Tpetra experts.

[2017-07-02 17:02] mhoemmen commented on #1463
I need information about the user and their needs in order to prioritize work.  The best option has always been to enable OpenMP, CUDA, etc. at the Trilinos level, and let the defaults propagate into Tpetra.  For example:

  - Enabling CUDA (by using NVCC and `nvcc_wrapper`) makes CUDA Tpetra's default execution space.
  - Enabling OpenMP (`Trilinos_ENABLE_OpenMP:BOOL=ON`), but not enabling CUDA,

[2017-07-02 17:09] mhoemmen commented on #1472
Belos is probably creating "generalized views" (i.e., deep copies that copy back on destruction) of Thyra objects all over the place.  This makes me concerned about performance of Belos solvers with Thyra objects.  Not saying it's Thyra's fault; rather, it's a mismatch of Belos' expectations and Thyra's expectations.

[2017-07-03 15:32] bartlettroscoe commented on #1472
In that case, detecting aliasing will be more difficult.  We would have to add an `isAliased()` member function to allow Thyra::MultiVectorBase objects to determine if they are aliases of each other (i.e. if they share the same underlying memory).

But note that if there is aliasing, then a copy is getting created in the underlying implementation as shown at:

* https://github.com/trilinos/Trilino

[2017-07-03 15:42] bartlettroscoe commented on #736
Ultimately, an implicitly zero linear operator can't implement the functionality of a multi-vector.  The only commonality that an implicitly zero linear operator and a multi-vector has is that both can be applied as a linear operator.  Therefore, they share the common interface Thyra::LinearOpBase.

Can we close this issue?  Otherwise, do you want to set up a time to talk about this?

[2017-07-03 15:49] bartlettroscoe opened #1473 "Collect items for major refactoring of Thyra to make simpler and more sustainable"
**CC:** @trilinos/thyra, @rppawlo, @atoth1

**Description:**

Thyra is a feature-full but complex set of software supporting the development of abstract numerical algorithms (ANAs).  Over the years since Thyra has been in use, many potential developers have been scared off or intimidated by the complexity of Thyra.

This story is to collect a set of ideas on how we can refactor Thyra to make it si

[2017-07-03 16:36] srajama1 commented on #1463
I understand CMake quite well. Thanks ! It is not realistic to assume all Trilinos developers  to look at Tpetra source code and CMake files. If that is the case for Tpetra support please add it to @maherou 's Trilinos support policy. All that is needed is to have this three bullets in the above comment in an accessible document and a pointer to that one. Any Trilinos developer is not going to do

[2017-07-03 17:11] brian-kelley commented on #1423
The problem was with my add kernel, and everything works now.

[2017-07-03 17:11] #1423 closed

[2017-07-03 17:15] mhoemmen commented on #1472
I think that's a good plan.  It would make sense for downstream stuff using Thyra to turn on a "detect aliasing" feature, as a way to reassure themselves that they aren't using too much memory or spending too much time copying.

I've been thinking mainly about the typical Belos use case, as would show up in GMRES:

  1. Create a MultiVector to store basis vectors
  2. Extract subviews of that Mult

[2017-07-03 19:22] kddevin commented on #1372
Thanks, @mhoemmen
Sorry for the late reply; Github isn't sending me all my memos.

[2017-07-03 19:41] srajama1 commented on #1423
Thanks, @brian-kelley.

[2017-07-03 19:44] bartlettroscoe commented on #1472
No, a Thyra::TpetraMultiVector object will not create deep copies of underlying data on contiguous or non-contiguous sub-views.  See the implementation of contiguous views (using raw Tpetra::MultiVector subview functions) at:

* https://trilinos.org/docs/dev/packages/thyra/doc/html/classThyra_1_1TpetraMultiVector.html#a6ce55accd81fe8ad28c8323f2b4cc558
* https://trilinos.org/docs/dev/packages/thyra

[2017-07-03 21:27] lucbv commented on #1471
This is something I should keep an eye on as this could also happen if rank 0 is dropped in the not-rebalanced case described in issue 1466

[2017-07-03 23:15] aprokop commented on #1471
In addition to a)-c) mentioned in the commit, another option would be to allow `FancyOStream` to work in parallel. If processor 0 is dropped, it needs to turn on the waiting mode to receive chunks of output from other processors to print.

[2017-07-04 19:34] mhoemmen commented on #1372
@kddevin no problem :D

[2017-07-04 19:41] mhoemmen commented on #1472
@bartlettroscoe wrote:

Thanks for clearing that up -- I was a bit worried about that.

The pseudoblock solvers do, when computing with multiple right-hand sides.  If some but not all right-hand sides converge, the solvers continue by creating a noncontiguous view of the remaining right-hand sides and iterating on those.  If anybody wanted to optimize this, they could change the pseudoblock solver

[2017-07-05 14:54] jmgate commented on #736
Yes, this could've been closed ages ago.  Sorry about that.

[2017-07-05 14:54] #736 closed

[2017-07-05 15:13] sayerhs opened #1474 "SEACAS compilation error with OS X/Clang compiler"
The latest `master` branch aborts with the following compilation error on `Ioss_PropertyManager.C`

[code]

Compiler details:

[code]

[2017-07-05 15:19] brian-kelley commented on #1367
@mhoemmen One of the Add() functions (TpetraExt_MatrixMatrix_decl.hpp:206) takes the output C as an RCP by value, so in the case that C is null on input, there is no way to create a new matrix and have it visible to the caller:
[code]
This is acknowledged in the documentation:
[code]
I was wondering if I could either change C to be a reference, or update the documentation to say that C must not be

[2017-07-05 15:20] william76 commented on #1393
From our framework meeting this morning, @bmpersc is going to add the how-to instructions for disabling a specific test to this issue so I can put that into the jenkins job and disable this test for the time being.

[2017-07-05 15:24] bmpersc commented on #1393
@william76 There is a way to disable individual tests in the cmake configure. The basic form is -D<test name>_DISABLE:BOOL=ON, so for this case to disable these two tests you would use:

-DAnasazi_Epetra_ModalSolversTester_MPI_4_DISABLE:BOOL=ON
-DAnasazi_Epetra_OrthoManagerGenTester_1_MPI_4_DISABLE:BOOL=ON

This will disable the tests only for the configure(s) that you add it to so other tests cou

[2017-07-05 15:25] brian-kelley commented on #1367
@mhoemmen As an update, I got the kernels and tests working (one for sorted graph, one for unsorted graph). These create new graphs. I will also create two more kernels for the graph reuse case (B's graph already matches sum's sparsity pattern, should be much faster). I'm wondering about that Add() interface because I am consolidating the add/Adds into one general function.

[2017-07-05 20:08] mhoemmen commented on #1367
@brian-kelley I would say, add a new "add" function (please use lower case for consistency with Tpetra) with the interface that you want.  We can worry about compatibility later.

The "add" function really has two use cases:

  1. C doesn't exist yet.  Create it and return it.
  2. C exists.  Overwrite it with the result.  Reuse any allocations or communication patterns already in C that make sens

[2017-07-05 20:10] mhoemmen commented on #1474
@trilinos/seacas

[2017-07-05 21:27] bartgol opened #1475 "[Tempus] StepperBackwardEuler::takeStep"
@trilinos/tempus
I am wondering whether the behaviour of this method is correct or not. In particular, I see that this class does not attempts to take the step (and returns) if the current stepperStatus is FAILED. Comparing this to the Newmark class (also implicit), I believe this is wrong. In the Newmark class, the stepperStatus is only set (to FAILED or PASSED) depending on whether the current s

[2017-07-06 15:57] jrood-nrel commented on #1433
We have merged the fix into Nalu and it builds again.

[2017-07-06 15:57] #1433 closed

[2017-07-06 19:06] pwxy commented on #1471
I believe this was the reason why there used to be the MueLu parameter "repartition: keep proc 0"?
I believe this parameter was removed because often not keeping proc 0 can reduce the amount of data movement for coarse level repartitioning.

[2017-07-06 19:15] aprokop commented on #1471
From what I recall, keeping proc 0 had a significantly worse performance than not keeping it.

[2017-07-06 20:16] jhux2 commented on #1471
I'd believe that.  The option "keep proc 0" was a hack for expediency's sake.

[2017-07-06 20:22] tjfulle commented on #1463
@srajama1, I've been working on a @trilinos/tpetra user's guide and have included guidance on choosing node types.  The guide needs to go through R&A and @mhoemmen and I are looking in to how to link the html version to Tpetra's existing online doxygen documentation.

[2017-07-07 18:44] mhoemmen commented on #1464
There is no need to set this.  It is ON by default.

Tpetra does not use or need Thrust.

If you enable Tpetra, that will enable Kokkos, KokkosCore, KokkosAlgorithms, and KokkosContainers.  You do not need to enable Kokkos* explicitly unless you plan on running their unit tests or examples.

[2017-07-07 18:50] mhoemmen commented on #1464
Here is how you do a CUDA build:

Trilinos currently tests CUDA builds only with the OpenMPI version of MPI.  We recommend OpenMPI 1.8.x at a minimum, preferably newer.

First, set the following environment variables, in which `TRILINOS_PATH` points to your Trilinos source directory:
[code]
Then set the following CMake variables, in addition to the CMake variables that you would normally set:
[cod

[2017-07-07 19:51] brian-kelley opened #1476 "Ifpack2: Adding interface for ShyLU's FastILU"
Ifpack2 needs an interface to the FastILU subpackage of ShyLU. FastILU will be supported as an inner preconditioner for AdditiveSchwarz, and as an alternative to the current Ifpack2::RILUK.

[2017-07-07 19:58] brian-kelley commented on #1476
@srajama1 I noticed that the FastILU preconditioners are templated on SC, LO, GO, NO but also on ExecSpace, unlike other Ifpack2 classes. I could get the execution space from the other four, as:
[code]
Is there a real-world use case where the user would want to specify a different execution space? If not, I will remove the 5th template parameter to simplify integrating the new classes into the ETI

[2017-07-07 20:05] brian-kelley commented on #1476
I'm closing this because it's a duplicate of #197.

[2017-07-07 20:05] #1476 closed

[2017-07-07 20:57] CamelliaDPG opened #1477 "Build Trilinos on white with CUDA BLAS"
I'd like to build Trilinos on Sandia's white machine with Tpetra, MueLu, and Belos, using CUDA BLAS.

@ibaned suggested I post an issue for this, pinging @nmhamster, @mhoemmen, and @crtrott.

So far, my configure script is as follows:
[code]

where `white-modules-cublas` is as follows:
[code]

With these options, the Trilinos build and install succeed.  The issue comes when I try to link my execut

[2017-07-07 21:38] mhoemmen commented on #1477
Hi @CamelliaDPG !  See e.g., #1208 (LAPACK through OpenBLAS on POWER) and #1216.  (cuBLAS does not provide LAPACK routines.)

[2017-07-07 21:45] jjellio commented on #1477
I seem to recall that BLAS/LAPACK TPLs need to be CPU/host compatible. cublas appears to be added silently to the TPL libraries when you build with CUDA enabled. You can see this by inspecting the Trilinos Cmake files, cublas.so should be among the TPL libraries. Tpetra will call cublas as well, for example:
https://github.com/trilinos/Trilinos/search?utf8=%E2%9C%93&q=cublas&type=

It is kinda wei

[2017-07-07 22:50] mhoemmen commented on #1477
@jjellio wrote:

Trilinos (actually TriBITS) lumps cuBLAS in with the CUDA "TPL", and adds the cuBLAS library to `TPL_CUDA_LIBRARIES`.  See Trilinos/cmake/tribits/core/std_tpls/FindTPLCUDA.cmake.

I think it's safe to assume that CUDA always ships with cuBLAS.  This has been the case for years.  If we wanted to distinguish between cuBLAS and CUDA, we could write CMake logic that tests for the exis

[2017-07-09 16:18] bangerth opened #1480 "Headers need to use <mpi.h> instead of "mpi.h""
We got a bug report for deal.II that in essence shows this error message:
[code]
Note how the conflicting declarations come from `/usr/local/include/mpi.h` and `/opt/intel/compilers_and_libraries/linux/mpi/include64/mpi.h`.

The reason is that the user is compiling with the Intel compiler which, via a `-I` flag, provides the `mpi.h` in `/opt/intel/compilers_and_libraries/linux/mpi/include64`. This

[2017-07-09 20:52] anates opened #1481 "Compilation with dealII fails in Teuchos_DefaultMpiComm.hpp"
When compiling, I get the error messages

                 from /usr/local/include/Teuchos_any.hpp:51,
                 from /usr/local/include/Teuchos_ParameterEntry.hpp:51,
                 from /usr/local/include/Teuchos_ParameterList.hpp:51,
                 from ~/Downloads/dealii/include/deal.II/lac/trilinos_precondition.h:39,
                 from ~/Downloads/dealii/source/lac/trilinos_prec

[2017-07-09 21:24] ibaned commented on #1480
@trilinos/epetra (there is no @trilinos/ml, so mentioning @trilinos/muelu instead)

[2017-07-09 21:26] ibaned commented on #1481
This seems similar to #1480. Have you coordinated with @bangerth ?

[2017-07-09 21:44] anates commented on #1481
He suggested the post, after I introduced the fixes suggested in his issue (and got the error messages posted above)

[2017-07-09 22:51] ibaned commented on #1481
Okay, so if I understand this correctly, even after #1480 is fixed the above errors persist?

[2017-07-10 02:27] kvmkrao commented on #1464
Thank you @mhoemmen

On Pittsburgh supercomputer, I loaded openmpi-1.10.2, cuda/8.0RC modules. The redundant options in the configuration file is removed as per your suggestions. I included "Tpetra_INST_CUDA:BOOL=ON" in my configuration as it was missing.

  export CUDA_LAUNCH_BLOCKING=1
  export CUDA_MANAGED_FORCE_DEVICE_ALLOC=1

The supercomputer gives us access to Tesla K80 and P100 GPUs. There

[2017-07-10 02:59] bangerth commented on #1481
Apparently the compiler thinks that `MPI_COMM_NULL` is not a pointer type (as `MPI_Comm` is). @anates -- can you try to find what type `MPI_COMM_NULL` has in the MPI installation you are using?

[2017-07-10 04:54] mhoemmen commented on #1481
@anates Could you please also enclose error messages in double backquotes, in order to avoid inadvertent formatting?
[code]
Thanks!

[2017-07-10 04:56] mhoemmen commented on #1464
How did you do that?

[2017-07-10 04:58] mhoemmen commented on #1464
Also, are you able to build Kokkos independently of Trilinos, using its Makefile-based build system?  Please try that first.  You can get Kokkos at github.com/kokkos/kokkos and build its tests and examples.  If you can get that to work, then we might have some chance of Trilinos working.

[2017-07-10 04:59] mhoemmen commented on #1480
Just checking -- can the user work around this issue by installing Trilinos in a different directory?

[2017-07-10 05:25] kvmkrao commented on #1464
I changed that in packages/kokkos/config/nvcc_wrapper

Also, are you able to build Kokkos independently of Trilinos, using its Makefile-based build system? Please try that first. You can get Kokkos at github.com/kokkos/kokkos and build its tests and examples. If you can get that to work, then we might have some chance of Trilinos working.

Thank you @mhoemmen
I cloned the kokkos repository from gi

[2017-07-10 11:09] anates commented on #1481
Reinstall to another location in a separate folder fixed the problem apparently, the compilation of deal.II works. I assume an include-file clash, due to having multiple libraries in `/usr/local/include`
 Still used fix proposed in https://github.com/trilinos/Trilinos/issues/1480, no errors yet. Should I thus assume the issue closed?

[2017-07-10 12:23] mplooster commented on #1440
@trilinos/zoltan @trilinos/framework
Any thoughts on this?

[2017-07-10 12:53] ibaned commented on #1481
Yes, this looks a lot like the same root cause as #1480, i.e. two MPI installs fighting. `int` is the type of `MPI_Comm` in MPICH-like variants, and in OpenMPI it is a pointer. Changing `"mpi.h"` to `<mpi.h>` seems fine to me, but if two MPI variants are installed *at the same location*, I'd say thats an unsupported use case.

[2017-07-10 12:56] nmhamster commented on #1481
Yeah @ibaned - these two cannot coexist in the same install location today. There are a few projects that allow something like this if anyone needs it.

[2017-07-10 13:29] bangerth commented on #1480
@mhoemmen : Yes, installing into a different directory works. It's more the fact that the typical user would not have been able to figure out what the problem is, and thus what the solution is.

There is, of course, also the issue that once you have your installation in `/usr/local`, it's hard to get rid of it again, and because `/usr/local/include` is often part of `$INCLUDE`, these files will pr

[2017-07-10 13:54] ibaned opened #1482 "SEACASAprepro_lib_aprepro_lib_unit_test Not Run"
Hello, I was running the `checkin_test_sems` script for a very trivial change and it failed because the test `SEACASAprepro_lib_aprepro_lib_unit_test` did not run. Any ideas why that might be? I made no CMake changes whatsoever, only MueLu source files changed (see #1479 )

[code]

@trilinos/framework @trilinos/seacas

[2017-07-10 14:27] william76 commented on #1393
@bmpersc I checked into this and it looks like this 4.9.3 build on Clean is being driven by the parameterized build... Do you know if it's possible to pass these disable flags in as command-line arguments to CTest or do they have to be in the CMake file itself?

We may need to think about adding an additional parameter in Jenkins. Maybe something like CTEST_EXTRA_ARGUMENTS or something like that.

[2017-07-10 14:43] bmpersc commented on #1393
@william76 the options I gave need to be in the cmake configure. If we were to pass them to ctest with -D we'd still have to do something in the cmake files to take those options and add them to the cmake configure. As for having another parameter for this purpose, that is something we can discuss in another venue.

[2017-07-10 14:50] bmpersc commented on #1457
Initial work on this was to figure out if jenkins could send the necessary sha1 that was determined by a single check of the repo to a job through the parameter system. This was actually pretty easy as jenkins provides a variable that has the git sha1 which can be used in a build step or passed as a parameter to jobs that are started. This solves the question of if we can  have a driver job to sta

[2017-07-10 14:58] bmpersc opened #1483 "Make the parameterized builds capable of changing the configure through a jenkins parameter"
@trilinos/framework a question about using a parameter to change the configuration of the parameterized builds was brought up in another issue. We should discuss the pros and cons of that here.

The initial concern was mentioned in #1393 and was brought up because to resolve that ticket for the clean build we are going to disable the offending tests. However, the easy way to do that for now is to

[2017-07-10 14:59] brian-kelley commented on #197
@srajama1 @jhux2 Are FastILU, FastIC and FastLDL all supposed to be options for Ifpack2::RILUK and AdditiveSchwarz, or just FastILU?

[2017-07-10 15:22] mhoemmen commented on #1464
Could you try reconfiguring and rebuilding Trilinos without changing anything in `nvcc_wrapper`?

[2017-07-10 15:25] bartlettroscoe commented on #1482
@ibaned, can you please attach the `checkin-test.out` log file?

[2017-07-10 15:29] mhoemmen commented on #197
@brian-kelley AdditiveSchwarz has a parameter which is a sublist, which it passes directly to the subdomain solver.  AdditiveSchwarz should not take any subdomain solver parameters directly; they should all go into the sublist.

[2017-07-10 15:43] mhoemmen commented on #1480
@bangerth wrote:

Totally understood :-)  Now that I am doing more application development, I totally empathize with most users' experience trying to install Trilinos.

Trilinos has resisted this mainly to serve our largest internal customer.  They have an ... interesting way of building Trilinos, that historically required storing Trilinos' headers in a flat directory.  I think we could change th

[2017-07-10 15:45] mhoemmen commented on #1481
So what's the action item here?  Do we need to change all the `"mpi.h"` to `<mpi.h>`?

[2017-07-10 15:49] ibaned commented on #1482
Here it is
[checkin-test.out.txt](https://github.com/trilinos/Trilinos/files/1136236/checkin-test.out.txt)

[2017-07-10 16:17] bartlettroscoe commented on #1482
Looks like the checkin-test.py script is working correctly as it is only enabling MueLu as shown by:

[code]

Can you please attach the file MPI_RELEASE_DEBUG_SHARED_PT/configure.out?

Hopefully that will show why this test is getting enabled.

[2017-07-10 16:22] bartlettroscoe commented on #1482
I think I know why this is happening.  The tests in:

[code]

are not being protected by `${PACKAGE_NAME}_ENABLE_TESTS` (or put into a test subdir which is protected).

I will take a look at how to fix this and suggest a patch to the native SEACAS repo (and then fix it natively in Trilinos).

[2017-07-10 16:29] bartlettroscoe commented on #1482
Actually, I will just update `TRIBITS_ADD_TEST()` and `TRIBITS_ADD_ADVANCED_TEST()` with an if statement for `${PACKAGE_NAME}_ENABLE_TESTS` internally if testing not enabled for that package.  That will fix cases like this once and for all.  I will try to get this pushed to TriBITS then Trilinos later today.

[2017-07-10 16:32] jjellio commented on #1464
@kvmkrao

`mpiexec.hydra --map-by ppr:64:numa:pe=threads -np nproc run.exe`

If mpiexec.hydra is OpenMPI, then the above line would be correct if you intend to have 64 MPI processes per NUMA domain, and each process will have 'pe' number of threads. I doubt this is what you want, perhaps use 'sockets' instead of NUMA. 'ppr' is the number of MPI processes that will be spawned inside the following r

[2017-07-10 16:46] srajama1 commented on #197
@brian-kelley : All three are useful preconditioner optiions. To your question on #1476 , please feel free to change the template parameters to to be consistent with other Ifpack2 preconditioners.

[2017-07-10 16:47] egboman commented on #197
@srajama1 Shouldn't FastLDL be renamed FastILDL for consistency?

[2017-07-10 16:47] bangerth commented on #1481
Yes, that's exactly what needs to happen.

[2017-07-10 16:48] mhoemmen commented on #1482
@trilinos/seacas

[2017-07-10 16:49] brian-kelley commented on #197
@egboman I can do that. The class is called LDL even though the shylu files are "shylu_fastildl", so I'll change the class name.

[2017-07-10 16:50] ibaned commented on #1482
I almost missed the request for `configure.out`, here is it
[configure.out.txt](https://github.com/trilinos/Trilinos/files/1136416/configure.out.txt)

[2017-07-10 16:51] egboman commented on #197
Thanks, @brian-kelley It is a small thing but a bit annoying.

[2017-07-10 16:52] brian-kelley commented on #197
@mhoemmen @srajama1 What is the idiomatic way to have a Scalar in a parameter list? All three preconditioners take "Scalar omega" and "Scalar shift". I was thinking of just printing to and parsing from a string, but I don't know if all scalars support operator<< and operator>> ...

[2017-07-10 16:55] jhux2 commented on #197
@brian-kelley Do the omega and shift need to be general?  In other solvers, I've found such generality often isn't required.  If this is the case here, then you can just hard code it to ```double```.

[2017-07-10 16:56] bartlettroscoe commented on #1482
@ibaned, it does not look like this configure.out file is from the same run.  That file shows that all package are being enabled:

[code]

Anyway, I will look into this and fix as described above.

[2017-07-10 16:57] brian-kelley commented on #197
@jhux2 Ah, I just saw that the existing fast * tests do read them from argv as double, so really the parameters shouldn't be Scalar at all.

[2017-07-10 17:00] ibaned commented on #1482
@bartlettroscoe I don't see that line in that file...

[2017-07-10 17:26] bangerth commented on #1480
Well, we had the same issues with backward compatibility. It comes down
whether you want to support a questionable design *forever*, or whether
you are willing to make changes as long as you provide a backward
compatible upgrade path.

In the current context, the upgrade path is this:
* Install the header files into subdirectories
* Install backward compatibility header files into the existing

[2017-07-10 17:45] mhoemmen commented on #197
@brian-kelley wrote:

It depends on whether they could ever be complex valued.  If so, then best practice would be to test first Scalar, then `Teuchos::ScalarTraits<Scalar>::magnitudeType`, then double.  Not sure if the syntax is exactly right below, so treat it as pseudocode:
[code]

[2017-07-10 17:45] srajama1 commented on #197
@brian-kelley : I need to think a little bit about this. You can hard code it to double for making progress, but note that we want to do Block version of FastILU soon, which might require block version (or we could use the same shift for an entire block). This needs some thinking.

BTW, I am not getting all updates from github. For example, I didn't get your update but got Jonathan's update.

[2017-07-10 17:49] mhoemmen commented on #1480
@bangerth See my e-mail reply about the definition of "you" in your phrase "whether you are willing to make changes...."

Thanks for the guidance.  I will propose this fix and hope to get some buy-in from other Trilinos developers.

[2017-07-10 17:50] mhoemmen commented on #1481
Thanks @bangerth ! :-)

I will close this issue and mark it as a duplicate of #1480.  All further discussion will take place there.

[2017-07-10 17:50] #1481 closed

[2017-07-10 17:51] mhoemmen commented on #1480
@trilinos/framework

[2017-07-10 17:51] egboman commented on #197
@srajama1 :  I think a global shift by shift*identity should be the default behavior, but doing some kind kind of block matrix shift might be useful, too.

[2017-07-10 18:39] william76 commented on #1393
Merged by PR #1484

Added the options to the ctest file for the parameterized build.
- "-DAnasazi_Epetra_ModalSolversTester_MPI_4_DISABLE:BOOL=ON"
- "-DAnasazi_Epetra_OrthoManagerGenTester_1_MPI_4_DISABLE:BOOL=ON"

[2017-07-10 18:56] brian-kelley commented on #197
@srajama1 If we need a shift vector instead of just a scalar, we could have another parameter of type "Array(double)" - that's a common pattern in param lists. Above I was concerned about was dealing with many different possible Scalar types, but for now I will just expect double.

[2017-07-10 19:00] srajama1 commented on #197
@brian-kelley : Let us go with shift as double. We don't have strong use case for variable shifting within blocks. I am not able to find anything in the literature about its usefulness too. Let us just keep it as double for now.

[2017-07-10 19:12] mplooster opened #1485 "MueLu, Teuchos build error on Windows (MSVC)"
Found while working on #1160. For [this build](https://testing.sandia.gov/cdash/index.php?project=Trilinos&parentid=2993301) using Visual Studio 2015, [this error](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=2993320) in MueLu was introduced recently:

I can trace it back to this commit a couple of weeks ago - 2c0690c45b14ba38392f49fca5dd268b914e57eb. If I comment out the line

`lev

[2017-07-10 19:23] ambrad commented on #1485
Just a guess: Array<T>::vec_ is a std::vector<T>. Hence Array<bool> behaves exactly as std::vector<bool>. &v[k] for v a std::vector<bool> isn't defined. See this, e.g.:

https://stackoverflow.com/questions/17794569/why-is-vectorbool-not-a-stl-container

[2017-07-10 19:33] ambrad commented on #1485
BTW, if `Array<T>` were to decide it wants to be a container even for `T=bool` (so it could support views, e.g., as in the issue above), I think it could metaprogram around the `std::vector<bool>` detail by declaring `vec_` to be `std::vector<typename ContainedType<T>::type>`, with `ContainedType<T>::type == T` by default and with specialization `ContainedType<bool>::type == char`.

[2017-07-10 19:43] mplooster commented on #1485
That would explain it. So why aren't other platforms like Linux and Mac complaining about this?

I imagine that would probably also require changing functions like `vec()` so that they return `std::vector<typename ContainedType<T>::type>` as well - or changing the view function to use `vec_` instead of `vec()`.

[2017-07-10 19:55] mplooster commented on #1485
Could it be because I am not building with Tpetra enabled, and CMake/TriBITS apparently turns off Explicit Template Instantiation for MueLu? From my CMake output:

-- Disabling MueLu explicit template instantation (ETI) because Tpetra is disabled.

[2017-07-10 20:06] bmpersc commented on #1485
@mplooster There is a good chance that this isn't showing up because of an issue with ETI. Almost all (maybe all, I haven't checked) of our nightly testing does enable ETI explicitly. You should be able to do a quick test by enabling ETI explicitly as well by adding:

-DTrilinos_ENABLE_EXPLICIT_INSTANTIATION:BOOL=ON

to your configure. I'm not really sure what will happen on windows with ETI on as

[2017-07-10 20:22] brian-kelley commented on #197
@srajama1 Does "nTriSol" mean "number of triangular solves"? I would like a more verbose name to use as the Ifpack2 parameter name. I used "sweeps" for "nFact", to be consistent with other Ifpack2 classes.

[2017-07-10 20:27] brian-kelley commented on #197
@jhux2 What would a sensible default shift parameter be? The proceedings paper example shows values in the range 0 to about 0.2, and says that a higher value can help convergence issues, but also somewhat increases the number of CG iterations. I was thinking of just using 0.2.

[2017-07-10 20:33] jhux2 commented on #197
@srajama1 @egboman Can either of you two advise @brian-kelley on the values for the defaults?

[2017-07-10 20:36] egboman commented on #197
Is the shift absolute or relative? In the latter case, it would automatically be scaled according to the diagonal entries but I guess both approaches are valid.

[2017-07-10 20:37] egboman commented on #197
The default should be zero. The user needs to turn this on explicitly.

[2017-07-10 20:46] mplooster commented on #1485
@bmpersc I have that option enabled, but unfortunately, MueLu has some CMake logic [here](https://github.com/trilinos/Trilinos/blob/c6be0a2b04589e40452fe0f875384f0bf324db30/packages/muelu/CMakeLists.txt#L47) that turns it back off if Tpetra happens to be disabled (which it is in my case). If I comment out those lines and build, the build still fails in the same place. I can tell from the CMake out

[2017-07-10 20:47] egboman commented on #197
I see the shift is relative in the source, so no need for vector valued shifts.

[2017-07-10 20:50] srajama1 commented on #197
@brian-kelley : The sweeps here are slightly different in their behavior than the traditional sense, but I am fine with calling it the sweeps. nTriSol is number of iteration in triangular solve.

[2017-07-10 21:42] srajama1 commented on #1463
@tjfulle : Thanks for the update. Please feel free to close the issue whenever appropriate.

[2017-07-10 21:45] mhoemmen commented on #1463
The tpetra/doc/FAQ.txt explains default choices of Node and `execution_space`, and how to change those.  @tjfulle please feel free to reference that and update documentation as necessary; thanks!

[2017-07-10 21:45] #1463 closed

[2017-07-10 22:00] mhoemmen opened #1487 "Tpetra_Details_shortSort.hpp needs to include <type_traits>"
@trilinos/tpetra

[2017-07-10 22:04] kvmkrao commented on #1464
Thank you @mhoemmen
I cloned the Trilinos git repository.  The repo infomation is as follows:
--------------------------------------------------------------------------------
*** Base Git Repo: Trilinos  | 4c8adc9 [Mon Jun 26 16:12:09 2017 -0600] <lberge@sandia.gov> | MueLu: adding stokhos files
 --------------------------------------------------------------------------------

I used the modified

[2017-07-10 22:07] mhoemmen commented on #1464
@kvmkrao It looks like you are using the PGI compiler.  Could you switch to GCC and try again?  Trilinos does not currently have any nightly tests for PGI + CUDA.

[2017-07-10 22:43] mperego commented on #1462
@rppawlo , I would like to rename the basis "Basis_Constant_FEM" into "Basis_L2_C0_FEM" for coherence with the high-order bases "Basis_L2_TRI_Cn_FEM",  "Basis_L2_QUAD_Cn_FEM" etc.
I can take care of changing all the occurrences of "Basis_Constant_FEM" in Trilinos. Do you know if Drekar or  Charon directly use this basis? Thanks.

[2017-07-10 22:57] jmgate opened #1488 "rol/CMakeLists.txt bug"
Just ran into a problem trying to configure Trilinos:  When you don't have `-D Trilinos_ENABLE_DEBUG:BOOL=ON` or `OFF` in your config script, @trilinos/rol's `CMakeLists.txt` file runs into a problem with

[code]

because `${Trilinos_ENABLE_DEBUG}` is empty, and `TRIBITS_ADD_OPTION_AND_DEFINE` therefore isn't getting the correct number of arguments.  The quick fix was to add `-D Trilinos_ENABLE_DE

[2017-07-10 23:20] CamelliaDPG commented on #1477
Thanks, all, for your comments and the references to other issues.  At the moment, I'm not interested in doing any of the linear algebra on the CPU, so the only reason I want a CPU BLAS and LAPACK is to allow me to link.  Because I want to avoid an OpenMP dependency and OpenBLAS on white is only available with such a dependency, I built my own OpenBLAS by doing the following:

[code]

I now have t

[2017-07-10 23:20] #1477 closed

[2017-07-10 23:26] mhoemmen commented on #1487
I pushed a fix to develop.

[2017-07-10 23:26] #1487 closed

[2017-07-10 23:27] bartlettroscoe commented on #1488
That is a defect in ROL.  I will file github issue and fix tomorrow.

-Ross
________________________________
From: Jason M. Gates <notifications@github.com>
Sent: Monday, July 10, 2017 6:57:28 PM
To: trilinos/Trilinos
Cc: Bartlett, Roscoe A; Team mention
Subject: [EXTERNAL] [trilinos/Trilinos] rol/CMakeLists.txt bug (#1488)

Just ran into a problem trying to configure Trilinos: When you don't have

[2017-07-10 23:55] kvmkrao commented on #1464
@mhoemmen
I am using pgi compiler. It was recommended on the supercomputer user guide <https://www.psc.edu/bridges/user-guide/gpu-use>
Thank you.

Anyway, I will use the configuration which is mentioned in the previous comment for rebuilding Trilinos with GCC + CUDA. The following modules will be used

module load cuda/8.0
module load cmake # cmake version 3.8.2
module load gnu  # gcc version 4.9.

[2017-07-11 00:00] mhoemmen commented on #1464
@kvmkrao Do you need to use the PGI compiler?  If so, we can file a separate issue for that.  Otherwise, I will close this issue.  Thanks!

[2017-07-11 03:03] bartlettroscoe commented on #1482
The fix is being pushed right now with checkin-test-sems.sh (pushing TriBITSPub/TriBITS#204).

NOTE: This did not break the post-push CI server because it specifically only tests the package being processed, and therefore ignores upstream packages.  But even if it did run all tests, those SEACAS tests would pass because the exectuables were built when SEACAS was processed in the first CI build.

A

[2017-07-11 04:34] mhoemmen commented on #1488
@jmgate Long answer is that Trilinos packages are supposed to use `TRIBITS_ADD_DEBUG_OPTION()` to add a debug option to their package, rather than making explicit use of `Trilinos_ENABLE_DEBUG`.

[2017-07-11 06:16] kvmkrao commented on #1464
Thank you @jjellio
I think, it is intel MPI library.

You comment made me to realize that I am oversubscribing the node.
The compute node on the cluster has 4 sockets (68 cores per socket) and 272 cores. The number of cores on the socket is constant. So, I consider appropriate number of MPI processors (ppr) and pe number of processors assigned to it. I will change the mapping from NUMA to socket a

[2017-07-11 12:06] bartlettroscoe commented on #1488
Should be fixed as of commit 00fc3fab5980672 pushed last night.

@jmgate, please let me know if this fixes the issue for you (without having to set `-D Trilinos_ENABLE_DEBUG=<something>` )

[2017-07-11 12:13] bartlettroscoe commented on #1482
Should be fixed as of commit 9a5a5e4f546ee pushed last night.   Now the CI build shows:

[code]

when SEACAS is libs are enabled but not test.

@ibaned, please let me know if fixes your usage of the checkin-test-sems.sh script.

Putting into review.

[2017-07-11 13:30] pwxy opened #1489 "MueLu: teuchos timers for coarser levels after rebalancing drop out (most likely due to proc 0 dropping out)"
The printing of MueLu teuchos timers for coarser levels after rebalancing drop out (most likely due to proc 0 dropping out).
However, the total times are probably still correct, but would need to double-check this.
This is likely due to the same reason as issue #1471

[2017-07-11 14:26] jmgate commented on #1488
Yup, looks like that does the trick for me.  Thanks for the quick turn-around.

[2017-07-11 14:26] #1488 closed

[2017-07-11 14:36] csiefer2 opened #1491 "Checkin test broken w/ SEMS modules on RHEL 6"
The checkin test script generates executables which cannot be run by hand due to path issues:

[csiefer@machine BlockedCrsMatrix]$ ./Xpetra_BlockedCrsMatrix_UnitTests.exe
./Xpetra_BlockedCrsMatrix_UnitTests.exe: error while loading shared libraries: libmpi_f90.so.1: cannot open shared object file: No such file or directory

So when ctest fails, there is no way to debug it...

[2017-07-11 15:06] jmgate commented on #1306
Sorry @gregvw, I didn't see this response way back when.  The behavior I would expect would be for `print()` to print both vectors to the same stream, but perhaps that's not the best idea.  At this point, however, I've completely forgotten why I asked this question, so apparently it didn't bother me for long.  Closing&hellip;

[2017-07-11 15:06] #1306 closed

[2017-07-11 15:15] nschloe commented on #1303
Let me remind you as well. :wink: I just need to dig through a ton of warnings to discover a compile error.

[2017-07-11 15:17] nschloe opened #1492 "MueLu: Maxwell3D.cpp: error: no matching function for call to insertGlobalValues(...)"
When compiling MueLu with tests, I'm getting
[code]

[2017-07-11 15:20] aprokop commented on #1492
@trilinos/muelu @trilinos/xpetra

[2017-07-11 15:27] jhux2 commented on #1492
@nschloe Could you provide your configure script and compile environment?  Thanks.

[2017-07-11 15:49] ibaned commented on #1485
I think we have a fundamental choice to make here. Either:

1. `Teuchos::Array` should *not* support `T=bool`. It does not currently, because of the special behavior of `std::vector<bool>` and the fact that the `ArrayView` system assumes that `std::vector<T>` is internally an array of type `T*`, which is not true for `std::vector<bool>`. If we choose to make this officially unsupported, then MueLu

[2017-07-11 15:51] ibaned commented on #1482
@bartlettroscoe Yes! The `checking-test-sems.sh` script just succeeded. This is resolved for me. Thank you!

[2017-07-11 16:07] nschloe commented on #1492
Configure script:
[code]
This is on Ubuntu 17.04, GCC 6.3.0. Let me know if I should specify anything else.

[2017-07-11 16:42] jmgate opened #1493 "Change many `Trilinos_` to `${PROJECT_NAME}_` references to proejct-level TriBITS vars so that meta builds with Trilinos work"
Ran into this issue in @trilinos/sacado's `CMakeLists.txt` file:

[code]

When configuring without passing `-D Trilinos_ENABLE_CXX11:BOOL=ON`, `Sacado_ENABLE_CXX11` apparently gets set to `OFF`.  I thought `Trilinos_ENABLE_CXX11` was supposed to be `ON` by default.  In `Trilinos/CMakeLists.txt`, I see

[code]

but it doesn't look like `Trilinos_ENABLE_CXX11_DEFAULT` is used anywhere else in the pr

[2017-07-11 16:49] crtrott commented on #1400
OK so the plan could be: split the kokkos.cmake files into three things:
* Compiler Detection
* Architecture Settings
* Kokkos Specific Things

The first two files could than be used directly in Trilinos. For example our integration process could take care of copying them from a kokkos subdirectory into a top level cmake directory inside of Trilinos. That way we would keep up with adding the right

[2017-07-11 16:54] crtrott commented on #1400
Opened issue kokkos/kokkos#947

[2017-07-11 16:59] bartlettroscoe commented on #1400
We should not need to copy any files.  We can just point the Trilinos CMake build files to pull in the files sitting in the packages/kokkos/ subdir.

That is the simplest thing to do and simplifies integration. The justification for having Trilinos directly point to CMake configure files in the kokkos/ directory is that Kokkos is serving as an abstraction for on-node parallelism, like MPI serves a

[2017-07-11 17:16] bartlettroscoe commented on #1493
This is another defect.  It should be `${PROJECT_NAME}_ENABLE_CXX`.  Looks like there are several places that should be fixed to replace `Trilinos_` with `${PROJECT_NAME}_`.  A quick look shows:

[code]

That looks pretty easy to fix.

Also note that code in Amesos2 and Ifpack2 like `IF (Trilinos_ENABLE_ML)` and `IF(NOT Trilinos_ENABLE_ShyLUBasker)` needs to be changed to `IF (${PACKAGE_NAME}_ENAB

[2017-07-11 17:31] william76 opened #1494 "SEACAS configure & build failures on nightlies: missing matio library"
@gsjaardema
@trilinos/framework

I'm seeing some issues on the nightly board that are SEACAS/Matio related and thought we might be able to push and get them fixed...

Last Night's Nightly board:
https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-07-11##Nightly

### Machines Affected
- artemis.srn.sandia.gov
  - Configure error (1)
  - https://testing.sandia.gov/cdash/viewConfigu

[2017-07-11 17:37] kruger commented on #1400
@bartlettroscoe,   I am following your train  of logic and will have start my review of current TriBITS design to ask intelligent questions.  My understanding of kokkos.cmake is sufficient to start breaking that up (I believe).

[2017-07-11 17:39] william76 opened #1495 "Amesos2 *petra unit tests failing in Nightly testing"
@trilinos/amesos2

As part of the effort to get the nightly testing boards for Trilinos green, I've been looking into the test failures.
 - Last night's cdash: https://testing.sandia.gov/cdash/index.php?project=Trilinos&date=2017-07-11##Nightly

The nightly testing shows 3 tests failing in the Amesos2 test suite running on enigma that have been failing for a long time (they haven't passed since we

[2017-07-11 18:06] jwillenbring commented on #1255
A request for these versions has been submitted as SEMS help desk ticket 558. If SEMS is unable to help, we will need to add them to a project space on the NFS mount.

[2017-07-11 19:00] lucbv commented on #1491
@bartlettroscoe this looks like it might be caused by different module version in the sems-checkin script version the sems-env that is loaded with ```load-sems-dev-env.sh```

[2017-07-11 19:11] jjellio commented on #1464
It sounds like you are running on a KNL node that uses subnuma clustering (SNC=4).  I normally run with OMP_PLACES=cores(num_cores), and OMP_PROC_BIND=spread. The map-by stuff with OpenMPI or any job launcher is more about making sure you do not oversubscribe the node. The environment variables OMP_PLACES and OMP_PROC_BIND then maps the OpenMP threads to the chunk of cores OpenMPI (or srun) alloca

[2017-07-11 20:34] tawiesn commented on #1492
@nschloe Thanks for reporting this.

Looking at the error message i assume that both Tpetra and Epetra are enabled with Tpetra GO=long int?.
Probably some guards missing.

[2017-07-11 20:42] nschloe commented on #1492
From the end of the config output:
[code]

[2017-07-11 21:01] tawiesn commented on #1492
Ok, so you have GO=int and GO=long long enabled in Tpetra. Why does the error message then say

instead of

[2017-07-11 21:13] DrBooom opened #1498 "Muelu build error: UnsmooshFactory"
I did a git pull late yesterda, and despite a full re-configure and build, am still getting all sorts
of errors in building UnsmooshFactory, VariableDofLaplacianFactory, etc.

Is there something I new need to add to my build script?

[2017-07-11 21:16] tawiesn commented on #1498
@DrBoom Thanks for reporting this issue.
Can you provide your configuration script?

[2017-07-11 21:17] jhux2 commented on #1492
Fyi, @csiefer2 is looking into a similar issue reported by an internal user.

[2017-07-11 21:18] DrBooom commented on #1498
See attached.

-c

Chris Luchini
ORG 1443
Sandia National Laboratory
(505) 284 3484
(505) 690 5008 Cell (505) is required.
________________________________
From: Tobias Wiesner <notifications@github.com>
Sent: Tuesday, July 11, 2017 15:16
To: trilinos/Trilinos
Cc: Luchini, Christopher Bernard; Author
Subject: [EXTERNAL] Re: [trilinos/Trilinos] Muelu build error: UnsmooshFactory (#1498)

@drboom<ht

[2017-07-11 21:30] ibaned commented on #1480
I went through and made PR #1499 that I think covers all the instances of this that end up in installed headers. Its a bit shocking how many Trilinos files directly include `mpi.h`. There was also a patch needed to STK which I've sent to the STK developers.

[2017-07-11 22:45] csiefer2 commented on #1492
Quick fix pushed.  Please close if it works now.

[2017-07-12 04:29] mhoemmen commented on #1464
btw I am closing this issue but please feel free to continue discussion.  Thanks!

[2017-07-12 04:29] #1464 closed

[2017-07-12 04:32] mhoemmen commented on #1494
SEACAS definitely wants Matio.

[2017-07-12 04:35] mhoemmen commented on #1480
@ibaned you're a beast!  awesome! :D

[2017-07-12 15:50] jwillenbring commented on #1255
@srajama1 As previously discussed, SEMS is also planning to take a broader look at TPL support after your recent mention of this topic.

A preliminary questions from SEMS and @bmpersc is if you plan to continue to support SuperLU 4.3 in addition to 5.

[2017-07-12 17:10] brian-kelley commented on #197
@srajama1 @jhux2 I have everything set up in Ifpack2 except I can't get cmake to give me a "HAVE_IFPACK2_FASTILU" define. I have "ShyLUFastILU" as an optional dependency in ifpack2/cmake/Dependencies, and I added this to ifpack2/CMakesLists.txt:
[code]
which I think should define "HAVE_IFPACK2_FASTILU" whenever I configure with FastILU enabled. There's no configure error, I just don't get the defi

[2017-07-12 17:34] srajama1 commented on #197
@brian-kelley : I sent you an e-mail. This is easier explained in person.

[2017-07-12 17:35] srajama1 commented on #1255
@jwillenbring : Thanks a lot !

[2017-07-12 19:20] jhux2 commented on #197
@brian-kelley Could it be as simple as ${PACKAGE_NAME} is "Ifpack2", and that ${PACKAGE_NAME_UC} is "IFPACK2"?

[2017-07-12 19:21] brian-kelley commented on #197
@jhux2 I just talked to @srajama1 in person, I was missing the cmakedefine line in Ifpack2_config.h.in but everything works now. Thanks.

[2017-07-12 19:48] tawiesn commented on #1471
#1466

[2017-07-12 19:48] tawiesn commented on #1489
This is connected to issue #1466 (possible negative consequences when dropping processors)

[2017-07-12 20:51] brian-kelley commented on #197
@jhux2 If the FastILU preconditioners are going to be used with AdditiveSchwarz, they need to take A as a Tpetra::RowMatrix instead of a Tpetra::CrsMatrix (the underlying matrix from AdditiveSchwarz could be a LocalFilter, an OverlappingRowMatrix, or something else).

If I changed Fic/Filu/Fildl to take RowMatrix, I would need to extract values/rowptrs/colinds one row at a time from the RowMatrix

[2017-07-12 21:20] kruger commented on #1400
I think I have a good handle on kokkos.cmake.

I am going through the TriBITS documentation carefully (see pull request on the TriBITS repo).

For the TriBITS mods, it seems that the main issue is going to be the order.  Looking at:
```**Full Processing of TriBITS Project Files:**```
in the ```TribitsDeveleopersGuide.rst```.  I'll be working in step 10, which comes after step 9 so that I have the

[2017-07-12 21:29] ibaned commented on #1400
The Kokkos team talked about this briefly today and we were under the impression that these files would remain in the Kokkos repository and would be included by Trilinos CMake files, but not TriBITS itself. We probably need to get on the same page about this design.

[2017-07-12 21:44] jhux2 commented on #197
@brian-kelley One option is to dynamic_cast to see if the actual matrix type is one that supports getting raw pointers.  But if it is a matrix that doesn't provides the pointers, I don't see another option other than using getrow().

[2017-07-12 21:50] mhoemmen commented on #197
@brian-kelley It could also be a LocalFilter of a CrsMatrix.  You may want to test if that could actually occur in practice.  If so, there's a faster way to get the entries out.

[2017-07-12 21:50] bartlettroscoe commented on #1400
impression that these files would remain in the Kokkos repository and
would be included by Trilinos CMake files, but not TriBITS itself. We
probably need to get on the same page about this design.

TriBITS would not have explicit knowledge of kokkos. Instead, inclusions of Kokkos files would be done in files that live in the Trilinos git repo that are processed by TriBITS.  It is just that TriBITS

[2017-07-12 21:51] mplooster commented on #1485
@tawiesn How necessary is it for you to support Array\<bool\>, which you added in this commit - 2c0690c45b14ba38392f49fca5dd268b914e57eb?

[2017-07-12 21:51] brian-kelley commented on #197
@mhoemmen Are you referring to LocalFilter::getUnderlyingMatrix()?

[2017-07-12 21:52] kruger commented on #1400
They are.  I should have something for the Kokkos team to review by the end of the week.  I'll be working on a TechX fork of Kokkos itself for that.

In my previous comment, I am jumping ahead a bit to Ross's other issues which has to do with having information from a package propagate up to a fairly high level (compiler specification) in the Trilinos build.   I'd like to understand the basics of

[2017-07-12 21:54] ibaned commented on #1400
I think I get it, there is a need for new interfaces in TriBITS for Trilinos to relay the results of the Kokkos detection code. That seems consistent.

[2017-07-12 21:55] nmhamster commented on #1400
@ibaned @kruger - Kokkos doesn't actually detect the ARCH or the backends, the user picks these. So we need a TriBITS option around which of these are being selected. Backends is kind of done, but ARCH is not and this implies compile and link flags.

[2017-07-12 21:56] tawiesn commented on #1485
@mplooster Well, so far it is only used in one place and we could circumvent the problem by using an Array<LO> with 1 for true and 0 for false. Not very elegant, but possible.

[2017-07-12 21:56] bartlettroscoe commented on #1400
@kruger,

Sounds great.  I will look over TriBITSPub/TriBITS#206 and then we can set up a time to talk about what is needed to get this working.

[2017-07-12 21:57] ibaned commented on #1485
Yea, this is unfortunately an edge case that `Array<bool>` inherits from `std::vector<bool>`. If you could handle this case via `Array<int>`, then we can add compile-time checks to ensure no one else tries to use `Array<bool>` until it is ready, if ever.

[2017-07-12 21:59] tawiesn commented on #1485
@ibaned Would `Array<char>` work as well? I don't really want to waste too much memory.

[2017-07-12 22:05] ibaned commented on #1485
I guess... that shouldn't be a weird case for `std::vector` at least...  I don't know if this involves `ParameterList`, but I know the YAML `ParameterList` system doesn't support any array types besides `int`, `double`, and `std::string`.

By the way, I think in GCC `sizeof(bool) == sizeof(int)`.

[2017-07-12 22:07] srajama1 commented on #197
@brian-kelley : There are some advantages in keeping the implementation as CrsMatrix specific ones. I would rather not modify FastILU to support row matrix. Instead let the Ifpack2 wrapper use get row when getting the pointers is not possible. Can we also add a timer for this portion, so we understand the overhead in not having CrsMatrices ? Also, this needs to be careful separated between initial

[2017-07-12 22:11] jhux2 commented on #197
@srajama1 So in other words, copy the matrix into a CRS format if necessary?

[2017-07-12 22:15] brian-kelley commented on #197
@jhux2 Yes, they will be copied to three (vals, rowptr, indices) locally owned, device space Kokkos Views which are passed directly to the ShyLU class that actually implements the solver. I'll do this in initialize() and it seems straightforward. Thanks!

[2017-07-12 22:28] jjellio opened #1500 "Trilinos: testing using floating point exceptions"
I've worked through an issue where Trilinos' test suite passed all tests, yet an app observed failures. The general method for handling a situation like this is to isolate the error, determine a fix, create a unit test that manifests the error, then push the fix and unit test. The more interesting point is how the app runs its unit tests.

A version of the app's nightly test suite runs certain (pe

[2017-07-12 22:46] srajama1 commented on #197
@jhux2: Yes, while taking into account symbolic and numeric steps.

@brian-kelley : The values array cannot be copied in initialize(). Users can call compute() if just the values change, but the structure remains change. We will copy values and call FastILU again then.

[2017-07-12 23:41] mhoemmen commented on #197
The matrix that Ifpack2::AdditiveSchwarz passes to the subdomain solver is _always_ an Ifpack2::LocalFilter of something.  You may want to consider writing either a fast "copy the local matrix out of LocalFilter" function, or changing the factorization so it can take 4-array CSR (which is more or less how LocalFilter works).

[2017-07-13 15:38] mplooster opened #1501 "Thyra: build failure on MSVC due to use of Scalar type"
Found while working on #1160.

Sometime in the last month a change in the Thyra code led to [these build failures](https://testing.sandia.gov/cdash/viewBuildError.php?buildid=2999060) on Windows Visual Studio 2015. Apparently, it has issues with the Scalar type.

Thyra isn't terribly critical right now for #1160 (it was only being built as an optional package), so I will just turn it off and conti

[2017-07-13 16:10] brian-kelley commented on #197
@mhoemmen I think the best way to do this is to write a function that deep copies the 3-array CRS out of a LocalFilter. What is the fast way to get data out of a LocalFilter that you were referring to? I would like to use getLocalRowView() (or something equivalent) inside a functor but it's not a KOKKOS_INLINE_FUNCTION.

[2017-07-13 16:51] bartlettroscoe commented on #485
As described in #1427, setup for OpenMP is controlled by FindOpenMP.cmake which is in the set of standard CMake modules.   The solution is to try upgrading CMake and otherwise report the problems to Kitware (and we can make suggested changes).

CC: @trilinos/framework

[2017-07-13 17:38] nschloe commented on #1492
Fix confirmed, thanks!

Out of curiosity: How does a compile error like this end up in master? I thought the process is that everything gets pushed into _devel_, and _devel_ is pushed to _master_ if it all builds and tests are passing. Not true?

[2017-07-13 17:38] #1492 closed

[2017-07-13 17:56] jhux2 commented on #1492
@nschloe If none of the dashboard tests catch the error, which I suspect was the case here.

[2017-07-13 18:58] mhoemmen commented on #1501
@trilinos/thyra

[2017-07-13 18:59] mhoemmen commented on #197
@brian-kelley Best thing would be to imitate LocalFilter's implementation.  It works more or less like 4-array CSR.  You could exploit the "row view" idea that `KokkosSparse::CrsMatrix` has.

[2017-07-13 19:58] mhoemmen commented on #802
Task breakdown, discussed today (13 Jul 2017) with @tjfulle , tagging @csiefer2 :

  1. Does MueLu only need #802 (transferAndFillComplete) for sparse matrix-matrix multiply? or will they also need ordinary Import / Export?
  2. Does MueLu need the target graph / matrix to be DynamicProfile, StaticProfile, or fixed structure?  That is, does the target graph / matrix need to be able to change its s

[2017-07-13 20:21] bartlettroscoe commented on #1491
Are you sourcing the env first as described at:

* https://github.com/trilinos/Trilinos/wiki/Policies-%7C-Safe-Checkin-Testing#reproducing-failures-manually

?

The `checkin-test-sems.sh` does not export the SEMS env into your current shell to avoid messing up your current shell.  (Note the Warning about blowing away your current modules in that section.)

[2017-07-13 20:52] csiefer2 commented on #802
1. TAFC only.
2. I presume you mean the target of the Import?  TAFC assumes that the output matrix will be generated from scratch and fillCompleted on output (aka fixed structure).
3. This task will collide w/ the reverse comm work by  @DrBooom  at some point.  Coordination will be needed.

Does that answer your questions?

[2017-07-13 21:22] mhoemmen commented on #802
Thanks @csiefer2 for the quick reply! :-D

Yes, the target graph / matrix of the Import / Export.

Thanks for reminding us of that distinction -- it means that the target Crs{Graph,Matrix} doesn't even need to exist until TAFC returns it, so there is no such thing as "DynamicProfile" or "StaticProfile" for it.  This implies that we can use whatever data structure we want for the target, since user